[2022-06-24 23:52] sid-hbm opened #14422 "failure to enable ingress"
### What Happened?

The command: **minikube addons enable ingress**
failed and the message is this:

Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8983377/logs.txt)

### Operating System

macOS (Default)

[2022-06-25 01:07] #12317 closed

[2022-06-25 02:19] Mdrehanalam2020 opened #14423 "getting error while starting minikube"
### What Happened?

* |---------|------------------|----------|------|---------|---------------------|----------|
| Command |       Args       | Profile  | User | Version |     Start Time      | End Time |
|---------|------------------|----------|------|---------|---------------------|----------|
| start   | --vm-driver=none | minikube | root | v1.26.0 | 25 Jun 22 02:06 UTC |          |
| start

[2022-06-25 04:16] 2Shaun commented on #11193
@leizhangcnnz

This comma separated list worked after rebuilding the `minikube` container, but not before. I see `Restarting existing docker container for "minikube" ...` in your log.

[2022-06-25 04:19] AkihiroSuda commented on #14400
Please try loading these kernel modules
https://github.com/rootless-containers/usernetes/blob/master/config/modules-load.d/usernetes.conf

[2022-06-25 05:21] bagariarakesh commented on #14397
I am getting below issue while trying to install cri-dockerd

root@ip-172-31-47-155:/home/ubuntu/cri-dockerd/bin# go install && go build -o bin/cri-dockerd
go: go.mod file not found in current directory or any parent directory; see 'go help modules'
root@ip-172-31-47-155:/home/ubuntu/cri-dockerd/bin#

[2022-06-25 10:33] kind03 commented on #13897
Your proxy is for circumventing the China Greate Firewall (GFW) correct? Then I know why it is not working. It is not releated to hyperkit or virutalbox at all.

I checked the [source code](https://github.com/kubernetes/minikube/blob/f567893cdbb8e98a0348c1d93455af71cf6ce12c/pkg/minikube/proxy/proxy.go) of minikube. "Local proxy ignored" actually means that your proxy url is set to localhost (127.0

[2022-06-25 10:49] yogananda-muthaiah commented on #8363
sometimes better to shoot this command. it apply client.crt

`minikube start`

[2022-06-25 13:34] criztovyl opened #14424 "podman start minikube returned with exit code 125"
### What Happened?

When podman fails to start minikubes container, minikube seems to ignore that error and runs into an exponential-backoff retring to ssh into the (failed to start) container.

From reading the source I think the bug is in `kic` `Driver.Start()`

https://github.com/kubernetes/minikube/blob/b496d669e79fc0d34fe1309d8c0dfde9c8271f6d/pkg/drivers/kic/kic.go#L399-L407

`StartContainer(

[2022-06-25 14:37] maxb opened #14425 "Please reopen #4546"
### What Happened?

Please reopen #4546. It is still a problem, and was erroneously closed as a duplicate of itself!

### Attach the log file

n/a

### Operating System

_No response_

### Driver

_No response_

[2022-06-25 15:46] ed3899 commented on #14342
Not sure if this is related but got a similar message when upgrading to v1.26
WSL2 on Windows16 via Docker

[code]

Also, I'd appreciate if somebody could point me to the issue (if there's one) related to pulling external images. I'm getting a lot of ErrImgPull and as a temporal workaround I'm pulling the images with Docker and adding them to the minikube cluster via `minikube image load MyImage`

[2022-06-25 16:09] ed3899 opened #14426 "Minikube is not able to pull external images"
### What Happened?

Installed minikube v1.26 on WSL2 on Windows 11
[code]
[code]
Regarding the proxy I have not idea what to input for the following values mentioned in your [docs](https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/)

[code]

I've been temporarily pulling the images from Docker and adding them to the minikube cluster via
[code]

[code]

But it ain't elegant.

I also know abo

[2022-06-25 18:40] spowelljr commented on #14397
Are you following the instructions in: https://github.com/Mirantis/cri-dockerd#build-and-install

I don't see `go install` listed anywhere in the instructions, if you have a problem installing cri-docker you should reach out to the cri-docker team

[2022-06-25 18:47] bjd2385 commented on #4564
Can this not be re-opened? Would be happy to work on this.

[2022-06-25 19:13] jtagcat opened #14427 "Docs / earlier checking for dependencies"
### What Happened?

Came from https://minikube.sigs.k8s.io/docs/start/ → https://minikube.sigs.k8s.io/docs/drivers/none/

systemd-nspawn; docker can run (setup: https://wiki.wut.ee/sysadmin/systemd-nspawn_containers)

debian bullseye / stable

What I did to get from 0 to start:
[code]

## Main points:
 - Check for sudo, crictl (and tell where to get it) before proceeding anywhere.
 - Is sudo even

[2022-06-25 19:32] NinadD26 opened #14428 "! StartHost failed, but will try again: error loading existing host"
! StartHost failed, but will try again: error loading existing host. Please try running [minikube delete], then run [minikube start] again: filestore "minikube": open C:\Users\HP\.minikube\machines\minikube\config.json: The system cannot find the file specified.
* Failed to start virtualbox VM. Running "minikube delete" may fix it: error loading existing host. Please try running [minikube delete],

[2022-06-25 19:34] NinadD26 opened #14429 "kubernetes / minikube"
### What Happened?

! StartHost failed, but will try again: error loading existing host. Please try running [minikube delete], then run [minikube start] again: filestore "minikube": open C:\Users\HP\.minikube\machines\minikube\config.json: The system cannot find the file specified.
* Failed to start virtualbox VM. Running "minikube delete" may fix it: error loading existing host. Please try runnin

[2022-06-25 21:20] bjd2385 commented on #4564
I've written a hacky work-around bash script that migrates the disk to your storage pool and updates the templates -

https://github.com/bjd2385/minikube/blob/06e0307a8364950458ed66d7caf68aa92c46586a/scripts/start-new.sh

Works for now, but it'd be so much better if this were implemented in minikube.

[2022-06-25 22:16] #13057 closed

[2022-06-25 22:21] sid-hbm opened #14430 "Unable to start Ingress on Minikube v1.26.0 with Kubernetes v1.23.8"
### What Happened?

Minikube started successfully with the following command:

minikube start --kubernetes-version=v1.23.8 --memory=12g --cpus=6 --disk-size=50g --driver=hyperkit --container-runtime=docker

By the way, if you use the last version of Kubernetes in that command, Minikube won't start at all.

The following command to enable Ingress is failing:

minikube addons enable ingress

### Att

[2022-06-26 01:06] medyagh commented on #14425
Oops thank you for reminding

[2022-06-26 01:07] medyagh commented on #4546
Anyone likes to contribute logs to this issue?

minikube logs

[2022-06-26 06:14] GianniM2045 opened #14432 "minikube will not work even after uninstalling and installing again"
### What Happened?

😿  Failed to start docker container. Running "minikube delete" may fix it: recreate: creating host: create: creating: setting up container node: preparing volume for minikube container: docker run --rm --name minikube-preload-sidecar --label created_by.minikube.sigs.k8s.io=true --label name.minikube.sigs.k8s.io=minikube --entrypoint /usr/bin/test -v minikube:/var gcr.io/k8s-min

[2022-06-26 06:15] GianniM2045 commented on #14432
- /tmp/minikube_logs_3b41e2c3f81031b603a4d10e2eacbdd16dff5e53_0.log

[2022-06-26 06:15] GianniM2045 commented on #14432
Please help as soon as possible Jetson Mate Cluster using Minikube is not easy

[2022-06-26 07:46] afbjorklund commented on #14427
When using the "none" driver, the user is reponsible for provisioning the container runtime (including any CRI adapter).

https://kubernetes.io/docs/setup/production-environment/container-runtimes/

Minikube uses "sudo" for the privilege escalation, running as root complicates things for the setup and is not recommended.

----

If you have special needs outside the regular use case, sometimes it i

[2022-06-26 07:50] afbjorklund commented on #14427
It would probably be a good idea to add checks for required tools, such as sudo

[2022-06-26 07:52] afbjorklund commented on #14402
Same issue as #14202

[2022-06-26 07:56] afbjorklund commented on #14403
Upstream documentation is here: https://kubernetes.io/docs/setup/production-environment/container-runtimes/

[2022-06-26 10:29] Yensan commented on #14428
+1 , It occurred in my case.
OS: openSUSE Leap 15.4, kernel 5.14.21-150400.22
I try many times. Both in virtualbox and kvm2. Enter the VM, docker images all done. No one containers at all.
[code]

[2022-06-26 10:32] Yensan commented on #14428
enter VM --> enter container, things go well. I can't fix it.

[code]

[2022-06-26 12:47] Jijingling opened #14433 "On ubuntu 22.04, Failed to execute minikube start to build the K8S cluster"
### What Happened?

Failed to execute minikube start to build the K8S cluster, on ubuntu 22.04
********************************************************************************************************************
:~$ minikube start --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers
* minikube v1.26.0 on Ubuntu 22.04
* Using the docker driver based on user configuration
* Using i

[2022-06-26 15:35] ZCJ commented on #13509
@spowelljr I am on 1.26.0 and recently started seeing this issue
![image](https://user-images.githubusercontent.com/1475845/175821860-19f67e6d-5029-44a2-979a-a7ffa68f8625.png)

[2022-06-27 02:33] Yensan commented on #14428
[code]

rollback to `v1.25.2`, every thing is OK.

[2022-06-27 02:35] mike-just commented on #9669
我解决了这个问题，原因应该是需要重新启动minikube，我用的mac,使用的docker虚拟机是hyperkit,网络用的代理
1. 关闭minikube的所有状态
<img width="182" alt="截屏2022-06-27 10 32 23" src="https://user-images.githubusercontent.com/58677740/175849122-4799011e-8cc1-4c85-9979-7197da9aea7b.png">

2. 重新下载 brew reinstall hyperkit
3. 启动minikube  minikube start --vm-driver=hyperkit
4. 查看minkube的状态
<img width="200" alt="截屏2022-06-27 10 34 39" src="https://user

[2022-06-27 03:15] Uday2cs opened #14435 "minikube installation failed 9130"
### What Happened?

C:\WINDOWS\system32>minikube start
* minikube v1.26.0 on Microsoft Windows 11 Home Single Language 10.0.22000 Build 22000
* Using the virtualbox driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Creating virtualbox VM (CPUs=2, Memory=3000MB, Disk=20000MB) ...
* Deleting "minikube" in virtualbox ...
! StartHost failed, but will try a

[2022-06-27 03:23] RA489 commented on #14429
/kind support

[2022-06-27 03:24] RA489 commented on #14433
/kind support

[2022-06-27 03:24] RA489 commented on #14430
/kind support

[2022-06-27 03:25] RA489 commented on #14424
/kind support

[2022-06-27 03:26] RA489 commented on #14423
/kind support

[2022-06-27 03:26] RA489 commented on #14412
/kind support

[2022-06-27 03:27] RA489 commented on #14398
/kind support

[2022-06-27 04:39] rhythmshandlya commented on #9798
![image](https://user-images.githubusercontent.com/72724768/175861035-e8fc5fe9-227e-4a91-bd73-a6f4d287d7d4.png)

Facing similar issue:
Docker : 20.10.17
minikube : 1.26.0
OS: Ubuntu 22.04 LTS

[2022-06-27 05:55] sudlo commented on #14410
thanks a lot let me try it again

[2022-06-27 06:23] Fattehali opened #14436 "I can't able to see the node / pods when I hit the command kubectl get node/pods"
### What Happened?

The connection to the server localhost:8080 was refused - did you specify the right host or port?

### Attach the log file

I0627 06:19:26.857144    8970 exec_runner.go:51] Run: sudo mkdir -p /etc/kubernetes/addons /etc/kubernetes/manifests /var/tmp/minikube /var/li>
I0627 06:19:26.880503    8970 main.go:134] libmachine: Couldn't set key VERSION_CODENAME, no corresponding struc

[2022-06-27 06:33] criztovyl commented on #14424
Isn't this a bug, not support?

[2022-06-27 07:37] satya8574 commented on #14396
*Thanks & Regard*

*SATYA PRAKASH*
*8574121213*

On Thu, Jun 23, 2022 at 11:16 PM Steven Powell ***@***.***>
wrote:

*
* ==> Audit <==
* |---------|------------------|----------|------|---------|---------------------|----------|
| Command |       Args       | Profile  | User | Version |     Start Time      | End Time |
|---------|------------------|----------|------|---------|---------------------

[2022-06-27 07:39] EHJ-52n commented on #14411
@spowelljr Your piece of advice was working as you can see in the following:

[code]

[2022-06-27 07:39] #14411 closed

[2022-06-27 08:20] Abhijitrb opened #14438 "minikube start --driver=none throwing error"
### What Happened?

Execution output error log::
Exiting due to RUNTIME_ENABLE: sudo systemctl enable cri-docker.socket: exit status 1
stdout:

stderr:
Failed to enable unit: Unit file cri-docker.socket does not exist.

Operating System- RHEL 9
Attached log

trying to set-up minikube on local Linux VM.
[logs.txt](https://github.com/kubernetes/minikube/files/8989945/logs.txt)

Note:: Error is comin

[2022-06-27 09:25] msh2050 opened #14440 "how to start minikube after restart my host pc"
### What Happened?

I install minikube with podman and cri-o, the issue I have the pc will be late if I restart, and minikube will not work after restart my pc. this is my status after restart
[code]
So how to handle my cluster before and after restart the pc

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/8990492/log.txt)

### Operating System

Ubuntu

### Driver

[2022-06-27 09:27] afbjorklund commented on #14438
For Kubernetes 1.24, you need to also install cri-dockerd

https://kubernetes.io/blog/2022/02/17/dockershim-faq/

[2022-06-27 09:34] afbjorklund commented on #14438
Duplicates:
* #14410

[2022-06-27 09:36] IP14Y3RI opened #14442 "apiserver healthz not retrieved due to context deadline exceeded: context deadline exceeded (Client.Timeout exceeded while awaiting headers)"
### What Happened?

- What I am doing: Running `minikube start --alsologtostderr --v=5 --docker-env http://myproxy:8080` on WSL2 Ubuntu 20.04 distro.

### What goes wrong:
Upon Configuring RBAC Rules, I get the following through the terminal.
`| W0627 11:18:36.345536    8237 kapi.go:226] failed getting deployment scale, will retry: Get "https://192.168.49.2:8443/apis/apps/v1/namespaces/kube-system

[2022-06-27 09:59] Abhijitrb commented on #14438
Thanks!!

Can you help me with organized steps/commands to be executed to resolve this issue

[2022-06-27 10:18] korvalds commented on #10929
After installing minikube for the first time I found this thread after getting the following error message:
[code]
[](https://stackoverflow.com/a/65423698) provided a solution that worked for me:
`docker system prune`
`minikube delete`
`minikube start --driver=docker`

[2022-06-27 10:23] afbjorklund commented on #14438
See https://kubernetes.io/docs/setup/production-environment/container-runtimes/

[2022-06-27 10:35] arixmkii opened #14444 "Add qemu-user-static to qemu specific iso images"
### What Happened?

Quick start example https://minikube.sigs.k8s.io/docs/start/ (starting from step 4 deploy applications) fails on MacOS on M1 macs, because echoserver is amd64 only.

May be it is worth to provide this option to allow to run foreign architecture images using this new driver.

### Attach the log file

Echoserver in constant crashloop because it can't start amd64 application on aa

[2022-06-27 10:39] arixmkii commented on #14444
Inspired by this https://edofic.com/posts/2021-09-12-podman-m1-amd64/

I'm not sure if default docker runtime is capable of doing the same. If not, then quick start documentation should be updated.

[2022-06-27 12:38] codegzy-rabbit opened #14445 "Start Kubernetes was something wrong"
### What Happened?

I only install docker, minikube, kubectl,but when I was run minikube start --driver=docker , there was something was wrong, it occur The kubelet is not running, I am run it in Windows environment, I am looking for solution for it

### Attach the log file

 Exiting due to K8S_KUBELET_NOT_RUNNING: wait: /bin/bash -c "sudo env PATH="/var/lib/minikube/binaries/v1.24.1:$PATH" kubead

[2022-06-27 14:23] jesperpedersen commented on #14400
I'm using podman (root-less) with cri-o 1.22. kind-014+ (including `main`) works with this setup.

I reverted to ad5c964e6bc8f1dc35b9d3cd84ebefbb6e2e5f8f which works.

[2022-06-27 15:11] afbjorklund commented on #14444
There are two issues here.

One is that echoserver uses an ancient nginx, and should be updated (including multi-arch support)

The other is to add the qemu-user binaries (for amd64 and arm64) to the iso build, for running other images cross-architecture

[2022-06-27 16:34] tamasbudai opened #14446 "API server cannot be started."
### What Happened?

Hi all,
after the execution of  "minikube start --driver docker" command the API server cannot be started.

Error Message:
W0627 18:27:28.748694   45422 out.go:239] ❌  Exiting due to GUEST_START: wait 6m0s for node: wait for healthy API server: apiserver healthz never reported healthy: timed out waiting for the condition
❌  Exiting due to GUEST_START: wait 6m0s for node: wait f

[2022-06-27 16:48] spowelljr commented on #14411
Glad that resolved your issue @EHJ-52n!

[2022-06-27 16:58] tamasbudai commented on #14446
I suspect that the problem should be connection with permissions.

[2022-06-27 17:23] spowelljr commented on #14445
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-06-27 18:04] SaheedLawanson commented on #7644
Hi @medyagh, this issue also appears on linux with the docker driver. I get a url after running "minikube service <service name>" , but it doesn't work, when i run the app directly with docker, it works perfectly with localhost:<port number>. I tried to use other drivers: kvm2 and virtualbox, its errors all the way when i run minikube start, please can i get an ubuntu binary like you created for w

[2022-06-27 18:10] medyagh commented on #10501
I think this is done and we could close after verification

[2022-06-27 18:11] medyagh commented on #12493
we took out the kubernetes dasbboard and metric scraper, so only one here is storage provisioner that we barely update !

so I would be okay with closing this issue

[2022-06-27 18:12] medyagh commented on #9989
while this is still a good idea, I dont see enough bandiwith to handle the infrastructure part of this task

[2022-06-27 20:39] #11397 closed

[2022-06-27 23:21] medyagh commented on #14432
@GianniM2045 in your ogs I see

[code]

do u have any idea why running Docker is looking for "nvidia-container-runtime"

can you ensure docker is installed healthy on your system?

can you paste output of these commands ?

[code]

[2022-06-28 00:42] #12918 closed

[2022-06-28 00:58] zenpeaky opened #14450 "How to connect minikube's volume to docker automatically after minikube restart ?"
### What Happened?

Hi community, I have a fiew container running on docker with command `--restart always -v /Users:/var/www/html` which /Users is volume that I create with `minikube start --mount-string="/Volumes/Zenpeaky/Code/Docker:/Users" --mount` but everytime I restart minikube, I have to manually restart the container to connect with the minikube's volume. Did I miss something or is there

[2022-06-28 03:53] RA489 commented on #12383
/remove-lifecycle stale

[2022-06-28 06:30] rhythmshandlya opened #14451 "Minikube freeses on "Booting up the control panel ...""
### What Happened?

Minikube does not start, the only workaround was reinstalling everything again. Worked for a session, tried starting it again this morning, and FAILED!

OS: Ubuntu LTS v22.4
Minikube version: v1.26.0
Docker version: v20.10.17
[minikube start --alsologtostderr](https://justpaste.it/2vtwq)

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/8998172/lo

[2022-06-28 06:54] Abhijitrb opened #14452 "Kubernetes get pod throwing ImagePullBackOff error"
### What Happened?

Kubernetes get pod throwing ImagePullBackOff error

During App build installation using "helm install command".

Have attached log with kubectl describe pods <Pod>

### Attach the log file

[ErrorLog.txt](https://github.com/kubernetes/minikube/files/8998389/ErrorLog.txt)

### Operating System

Redhat/Fedora

### Driver

Docker

[2022-06-28 10:48] amiyaranjansahoo commented on #14403
[logs.txt](https://github.com/kubernetes/minikube/files/9000204/logs.txt)

Hi @spowelljr , Thank you for the support. Sorry for my late reply .
 followed the steps to install cri-dockerd and executed   all the steps except
To build this code (in a POSIX environment):
And I believe this is not required for  Ubuntu 18.04

Also did not mention any argument for ARCH
specific architecture, add ARCH= as

[2022-06-28 11:59] ramvish52 opened #14453 "unable to start minikube on ubuntu 18.04 on aws instance"
### What Happened?

* minikube v1.26.0 on Ubuntu 18.04 (xen/amd64)
* Using the none driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing none bare metal machine for "minikube" ...
* OS release is Ubuntu 18.04.6 LTS

X Exiting due to RUNTIME_ENABLE: sudo systemctl enable cri-docker.socket: exit status 1
stdout:

stderr:
Failed to enable u

[2022-06-28 12:21] augustotavares86 opened #14454 "minikube start"
### What Happened?

Hey guys every time I try to start minikube gives me an error

### Attach the log file

Last login: Tue Jun 28 00:43:45 on ttys003
❯ minikube start
😄  minikube v1.26.0 on Darwin 12.4
    ▪ KUBECONFIG=/etc/kubernetes/admin.conf
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🏃  Updating th

[2022-06-28 12:45] asmimore opened #14455 "while installing minikube got error"
### What Happened?

after minikube start got error

### Attach the log file

stderr:
Failed to execute operation: No such file or directory

*
╭─────────────────────────────────────────────────────────────────────────────────────────────╮
│                                                                                             │
│    * If the above advice does not help, please let us know:

[2022-06-28 14:10] kashifest opened #14456 "Minikube start failure"
### What Happened?

minikube restart failing . We first create a minikube with --driver=kvm2. First start is successful. We then need to stop minikube and do some more configuration and later we restart the minikube again. The second start is failing. Attaching the first and the second minikube start here.

### Attach the log file

First
======
[code]

Second
======
[code]

### Operating System

_

[2022-06-28 14:11] kashifest commented on #14456
[code]

[2022-06-28 14:21] kashifest commented on #14456
Even if it is, shouldn't I have seen the error during the initial start ?

[2022-06-28 14:56] joshua143 opened #14457 "❌ Exiting due to RUNTIME_ENABLE: sudo systemctl enable cri-docker.socket: exit status 1 stdout: stderr: Failed to execute operation: No such file or directory"
### What Happened?

❌  Exiting due to RUNTIME_ENABLE: sudo systemctl enable cri-docker.socket: exit status 1
stdout:

stderr:
Failed to execute operation: No such file or directory

### Attach the log file

minikube logs --file=logs.txt

### Operating System

Other

### Driver

Docker

[2022-06-28 16:30] 523855865 opened #14458 "Exiting due to K8S_INSTALL_FAILED"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2022-06-28 16:45] spowelljr commented on #14456
Hi @kashifest, thanks for reporting your issue with minikube.

If you don't provide a `--container-runtime` flag it will default to using `cri-docker`, but because you're using the `kvm2` driver you shouldn't need to do anything to on your end to set it up.

If I have time today I'll try replicating this and see if I run into the same issue.

[2022-06-28 17:10] psschwei opened #14459 "Building ISO fails"
### What Happened?

Trying to build the Minikube ISO [as per the docs](https://github.com/kubernetes/minikube/blob/474b52c02fc9f6b3e44dfd1c34fec8f065ab2d44/site/content/en/docs/contrib/building/iso.md?plain=1#L40) yields an error:

[code]

Looks like the rule was updated in https://github.com/kubernetes/minikube/commit/d92f42a6e459313fe22ca935bc5869cee05146e9 , so seems like the docs just need to

[2022-06-28 17:34] medyagh commented on #13351
I am curious, if u disable and then enable the addon will it work ?

[2022-06-28 17:37] afbjorklund commented on #14403
In the best of worlds, upstream would mention this already on the installation page.

[2022-06-28 18:32] afbjorklund commented on #14453
Same as:
* #14410

[2022-06-28 18:39] afbjorklund commented on #14410
Some more details in #14403, the docker driver should check for both cri-dockerd and crictl.

Currently it just looks for the "docker" client (?), but not for dockerd and cri-dockerd

[2022-06-28 18:59] sgmv commented on #12632
The same problem. `--ssh-user` doesn't work correct :(

[2022-06-28 20:34] spowelljr commented on #14459
Hi @psschwei, thanks for reporting your issue with minikube.

Thanks for the heads up, that stemmed from us originally only having one ISO (amd64), but since we added arm64 support the target got updated to specify the arch.

I'm open to a PR from anyone that updates the documentation that indicates the two possible commands.

[2022-06-28 20:36] spowelljr commented on #14457
Hi @joshua143, thanks for reporting your issue with minikube.

Kubernetes v1.24 dropped support for Dockershim, so if you want to use the combination of the none driver, Kubernetes v1.24+, and the Docker container runtime you'll need to install cri-dockerd on your system, as listed in our [requirements page](https://minikube.sigs.k8s.io/docs/drivers/none/#requirements).

Other options include usin

[2022-06-28 20:39] spowelljr commented on #14457
Hi @joshua143, just double checking that you're using the Docker driver.

If that's the case you likely created your current minikube cluster with a previous version of minikube and then you updated the minikube binary to v1.26.0 which tries to start `cri-docker`, but because your cluster was created with a previous version `cri-docker` isn't installed.

This should be easily resolvable by running

[2022-06-28 20:40] spowelljr commented on #14455
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-06-28 20:54] spowelljr opened #14460 "Make `docker` cruntime also look for `dockerd` & `cri-dockerd`"
As suggested by @afbjorklund https://github.com/kubernetes/minikube/issues/14410#issuecomment-1169090487

We only check for `docker`, not `dockerd` & `cri-dockerd`, this will let the user know earlier on that they don't have all the requirements to run the `docker` container runtime.

[2022-06-28 20:55] spowelljr commented on #14410
That's a good point, I created an issue for this request https://github.com/kubernetes/minikube/issues/14460

[2022-06-28 20:58] psschwei commented on #14459
I'll fix it
/assign

[2022-06-28 21:00] klaases commented on #14348
Hi @otisscott, thank you for sharing your experience. Closing this out for now per your fix above.

[2022-06-28 21:00] #14348 closed

[2022-06-28 21:01] klaases commented on #14340
Thank you for sharing your experience! If you don't mind, could you provide minikube logs?

Please attach (drag) the`logs.txt` file to this issue  which can be generated by running this command:

[code]

This will help us isolate the problem further. Thank you!

/triage needs-information
/kind support

[2022-06-28 21:04] klaases commented on #14231
Hi @wankowatat, this seems to be an issue with virtualization being enabled on your computer. Could you retry starting minikube with virtualization enabled?

[2022-06-28 21:05] klaases commented on #14385
Hi @glinker, are you still experiencing this issue? Are there any other services that could be tying up the ip address?

[2022-06-28 21:09] klaases commented on #14214
Hi @aarzhanov, glad to hear about your temporary solution. As @afbjorklund mentioned, the code may eventually be split out into separate architectures, but this is a significant task. Thanks for your comment and am closing out for now to help clear the queue.

[2022-06-28 21:09] #14214 closed

[2022-06-28 21:11] klaases commented on #14211
Hi @davenarc, apologies but I have not encountered that error before. Is it something that you are still experiencing?

[2022-06-28 21:14] klaases commented on #14205
Hi @robsonazevdo  – it looks like this issue was created in error. If not, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed.

To create and attach the full output of minikube logs, run `minikube logs --file=logs.txt` to create a log file

Thank you for sharing your experience!

[2022-06-28 21:14] #14205 closed

[2022-06-28 21:15] klaases commented on #14203
Hi @tzuf-illumex – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line

[2022-06-28 21:15] #14203 closed

[2022-06-28 21:17] klaases commented on #14192
Hi @tsjk, thanks for filing this request. We are always open to accepting community contributions.

[2022-06-28 21:18] klaases commented on #14189
Hi @yoelgf, you for sharing your experience! If you don't mind, could you provide minikube logs?

Please attach (drag) the`logs.txt` file to this issue  which can be generated by running this command:

[code]

This will help us isolate the problem further. Thank you!

/triage needs-information
/kind support

[2022-06-28 21:19] klaases commented on #14185
Hi @redSlug, sure, we are always appreciative of community code contributions to improve messaging. Would you be interested in creating a PR for review?

[2022-06-28 21:22] klaases commented on #14159
Hi @krishnarayapudi25, please try running `minikube delete --all` to remove all profiles. Then run `minikube start` to run with your preferred driver. Does this help resolve the issue?

[2022-06-28 21:24] klaases commented on #14148
嗨@SXDDFMYFJ——这个问题还在发生吗？是否有其他详细信息？如果是这样，请随时通过使用 `/reopen` 评论重新打开问题。由于无法获得更多信息并且已经过了一段时间，此问题将被关闭。

可能有帮助的其他信息：

* 问题是否出现在最新的 minikube 版本中

* 使用的确切 minikube 启动命令行

* 附上minikube日志的完整输出，运行`minikube logs --file=logs.txt`创建日志文件

感谢您分享您的经验！
---
Hi @SXDDFMYFJ  – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This i

[2022-06-28 21:24] #14148 closed

[2022-06-28 21:26] klaases commented on #14142
Hi @[kschaab](https://github.com/kschaab), please update minikube to the latest version, [v1.26.0](https://github.com/kubernetes/minikube/releases/tag/v1.26.0).

Based on the fix provided in https://github.com/kubernetes/minikube/pull/14284, are you still experiencing this issue?

[2022-06-28 21:30] klaases commented on #14135
Hi @jleandrocr, is it possible that this could be a permissions issue?

I am not able to confirm this, and I could be wrong, but your username `jonathan.leandro` may be treated as a file with the extension `.leandro` rather than a path. If you have another user without a `.` would you be willing to give it a try?

[2022-06-28 21:33] klaases commented on #14132
Hi @asdf93074, to verify, are you able to check if you have a secret called `awsecr-cred` in the default namespace by running `kubectl get secrets`?

[2022-06-28 21:33] klaases commented on #14131
Hi @rifaterdemsahin – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command li

[2022-06-28 21:33] #14131 closed

[2022-06-28 21:36] klaases commented on #14112
Hi @galric, thanks for the detailed description of this issue. I expect that this information will helpful to others who encounter this issue.

[2022-06-28 21:37] #14099 closed

[2022-06-28 21:55] glinker commented on #14385
Yes I still have the issue.  I don’t know if any other services. This is a new install.  I installed a minimal Centos 8 system with GUI and then installed the minikube/kvm packages.

Gary Linker
IBM Security Expert Labs
***@***.***
512-413-8040
________________________________
From: klaases ***@***.***>
Sent: Tuesday, June 28, 2022 5:05:39 PM
To: kubernetes/minikube ***@***.***>
Cc: Gary Linker **

[2022-06-29 01:19] mechaHarry commented on #14340
[code]

[2022-06-29 02:43] klaases commented on #14097
Hi @anowak-ct, are you able to try the workaround that @BradKnowles suggested in his comment above?

[2022-06-29 02:44] klaases commented on #14089
Hi @msebi  – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2022-06-29 02:44] #14089 closed

[2022-06-29 02:45] klaases commented on #14081
Hi @sudhirwakchoure, thank you for sharing your experience! If you don't mind, could you provide minikube logs?

Please attach (drag) the`logs.txt` file to this issue  which can be generated by running this command:

[code]

This will help us isolate the problem further. Thank you!

/triage needs-information
/kind support

[2022-06-29 02:46] klaases commented on #14078
Hi @msebi, have you had a chance to review the above comment regarding docker driver inside of WSL?

[2022-06-29 02:47] klaases commented on #14077
Hi @fanspace – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2022-06-29 02:47] #14077 closed

[2022-06-29 02:51] klaases commented on #14041
Hi @jsattler thanks for the confirmation regarding #13806 and thanks @zhan9san for your support.

[2022-06-29 02:51] #14041 closed

[2022-06-29 02:52] klaases commented on #14040
Hi @dancaugherty, I have not yet encountered this situation, are you still experiencing this issue?

[2022-06-29 02:53] klaases commented on #14039
Hi @sinevitch, thanks for your confirmation, closing out for now.

[2022-06-29 02:53] #14039 closed

[2022-06-29 02:54] klaases commented on #14035
Hi @maxb, were you able to take a look at @afbjorklund's comment and did it help resolve the situation?

[2022-06-29 02:55] klaases commented on #14034
Hi @maxb, were you able to take a look at @afbjorklund's comment and did it help resolve the situation?

[2022-06-29 03:00] tzhao-cs commented on #14433
I also met the problem currently. Can anyone solve it?

[2022-06-29 03:17] Anandkumarh25 opened #14462 "unable to start minikube"
### What Happened?

i am trying to start the minikube but it always failed.

anhanuma@anhanuma-mac Downloads % minikube start
😄  minikube v1.26.0 on Darwin 11.6.4
✨  Automatically selected the docker driver
📌  Using Docker Desktop driver with root privileges
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🤦  StartHost failed, but will try again: boot lock: tim

[2022-06-29 03:35] Gimb0 commented on #14460
/assign

[2022-06-29 05:43] amiyaranjansahoo commented on #14403
Thank you @spowelljr and @afbjorklund, I will install crictl and update the progress.

[2022-06-29 06:14] afbjorklund commented on #14460
Note: the cri-dockerd server is only needed for k8s 1.24 and later, see the checks done when selecting CRI or not

[2022-06-29 07:10] huangchinlin commented on #14433
I have the same issue. (the logs.txt for my situation is attached)

[logs.txt](https://github.com/kubernetes/minikube/files/9007993/logs.txt)
.

[2022-06-29 07:35] seguins commented on #9952
I'm not sure to fully understand the target.
Is the target to :
- move / duplicate all drivers in the repo
- move / duplicate all drivers in the `machine-drivers` organization
- move / duplicate all drivers in a new repo or organization

Can you provide an update about this issue ?

[2022-06-29 08:26] liyuwei-cute opened #14464 "Minikube startup error"
**重现问题所需的命令**：minikube start --vm-driver=none

**失败的命令的完整输出**：<details>
* Ubuntu 20.04 上的 minikube v1.26.0
* 根据现有的配置文件使用 none 驱动程序
* Starting control plane node minikube in cluster minikube
* Restarting existing none bare metal machine for "minikube" ...
* OS release is Ubuntu 20.04.3 LTS

X Exiting due to RUNTIME_ENABLE: sudo systemctl enable cri-docker.socket: exit status 1
stdout:

stderr:
Fail

[2022-06-29 08:48] adam-olema opened #14465 "Version 1.26 no longer auto-mounts VirtualBox shared folders"
### What Happened?

After upgrading from 1.25.2 to 1.26.0, shared folders from the VirtualBox driver are no longer auto-mounted.  If this is expected behavior or requires new configs, I have not found any documentation to that effect.

Using:
- Mac OSX Monterey 12.4
- VirtualBox
- minikube upgraded by brew

In versions prior to 1.26, the "Shared Folders" setup in VirtualBox with "automount" set to

[2022-06-29 09:13] adam-olema commented on #14465
Downgrading back to 1.25.2 definitely fixes this problem.

[2022-06-29 10:24] pre opened #14466 "Changing MINIKUBE_HOME after VM creation does not work"
### What Happened?

Due to "enterprise reasons" we had to move `~/.minikube` to `~/something_else/.minikube`.

An ideal migration without cluster recreation would be:
* minikube stop
* `mv ~/.minikube ~/something_else/.minikube`
* export MINIKUBE_HOME="${HOME}/something_else/.minikube"
* minikube start

But what happens is changing `MINIKUBE_HOME="${HOME}/something_else/.minikube"` has no effect i

[2022-06-29 12:03] NayeemNishaat opened #14467 "Minikube start error on ubuntu 22.04"
### What Happened?

When I try to run "minikube start" the following errors are shown:
Jun 29 11:42:02 minikube kubelet[49972]: E0629 11:42:02.462279   49972 reflector.go:138] object-"kube-system"/"kube-root-ca.crt": Failed to watch *v1.ConfigMap: failed to list *v1.ConfigMap: configmaps "kube-root-ca.crt" is forbidden: User "system:node:minikube" cannot list resource "configmaps" in API group ""

[2022-06-29 13:02] #14454 closed

[2022-06-29 13:20] anowak-ct commented on #14097
Hi @klaases, yes as I mentioned in my update comment, port forwarding works, however, using a tunnel or `minikube service <svc>` does not.

On an unrelated note, I am switching to the minikube hyper-v driver on windows.  A colleague of mine face lots of issues with docker. hyper-v works better ...

[2022-06-29 13:20] #14097 closed

[2022-06-29 14:50] glinker commented on #14385
How can I tell which IP is being used? Can I change which IP is being used?

[2022-06-29 14:58] amiyaranjansahoo commented on #14403
Thanks @spowelljr and @afbjorklund, The issue is resolved.
I am able to start minikube with below option.

Just out of curiosity, how to install minikube with driver.  say docker ( I have already installed docker in the server)

[2022-06-29 15:05] tidbeck commented on #11219
Could this be fixed now when #9228 is resolved?

[2022-06-29 15:38] sketchysavage215 opened #14468 "Error when stopping Minikube on Docker"
### What Happened?

 % minikube stop
✋  Stopping node "minikube"  ...
✋  Stopping node "minikube"  ...
✋  Stopping node "minikube"  ...
✋  Stopping node "minikube"  ...
✋  Stopping node "minikube"  ...
✋  Stopping node "minikube"  ...

❌  Exiting due to GUEST_STOP_TIMEOUT: docker container inspect minikube --format=: exit status 1
stdout:

stderr:
Error: No such container: minikube

### Attach the

[2022-06-29 17:04] akhal3d96 opened #14469 "Deprecate `storage-provisioner-gluster` addon"
### What Happened?

This image doesn't exist

https://github.com/kubernetes/minikube/blob/319dd493820e517410fb2faa5255f549942de757/pkg/minikube/assets/addons.go#L191

[code]

[code]

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/9012617/log.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-06-29 17:21] spowelljr commented on #14403
`minikube start --driver docker` should be all you need to start minikube with the docker driver if you already have the Docker Engine installed.

[2022-06-29 17:46] klaases commented on #13495
Hi @manyfacegod – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line u

[2022-06-29 17:51] #14020 closed

[2022-06-29 17:52] klaases commented on #14005
Hi @wwillfred – have you tried reinstalling hyperkit? Is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The

[2022-06-29 17:52] #14005 closed

[2022-06-29 18:11] spowelljr commented on #14324
Hi @shashidharch, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-06-29 18:13] klaases commented on #14338
Hi @imran-sharief-kidsloop – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start com

[2022-06-29 18:14] klaases commented on #14116
Hi @manu2melvin – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line u

[2022-06-29 18:14] #14116 closed

[2022-06-29 18:16] klaases commented on #13969
Hi @meliwex, have you had a chance to review the latest release per the above comment, and if so, did this help resolve the issue?

[2022-06-29 18:18] spowelljr commented on #14117
Hi @Martua27, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-06-29 18:18] #14117 closed

[2022-06-29 18:19] klaases commented on #13753
Hi @byteshiva, are you able to use Docker in your environment for programs other than minikube?

[2022-06-29 18:24] spowelljr commented on #12431
Do you want to be unassigned from this issue @afbjorklund?

[2022-06-29 18:27] klaases commented on #14385
Hi @glinker, also, are you running minikube in the cloud or on a physical machine?

[2022-06-29 18:28] spowelljr commented on #13841
As of v1.26.0 we stopped outputting the image versions when disabling, but the version mismatch seems to have been resolved with v1.26.0 as v1.2.1 is the correct controller version.
[code]

[2022-06-29 18:32] medyagh commented on #14277
Hi this is an interesting issue @Poweranimal I am curious if you like to experiment building the ISO with a larger file limit
@afbjorklund might know the file limit size on the iso

[2022-06-29 18:35] medyagh commented on #14277
@Poweranimal I am curious have you tried the same thing with Docker Driver ? since that one is ubuntu I am curious what the difference is

[2022-06-29 18:35] klaases commented on #13132
Hi @Pictor13, have you had a chance to try adding extra disk to minikube as mentioned above by @medyagh?

[2022-06-29 18:38] medyagh commented on #14235
@attila123 are you using docker driver or a vm driver?

[2022-06-29 18:45] medyagh commented on #14235
@attila123 are you using docker driver or a vm driver?

on a VM driver the service ip:port always resolves to the service (even if you dont run the minikube service <svc> command

on docker driver on Mac and Windows it is a different story (since it needs a tunnel)

[2022-06-29 18:47] spowelljr commented on #14469
It looks like the image repo that had that image is gone now. We're going to have to deprecate the addon unless we can get one of the maintainers of the addon to resurrect the image repo as I wasn't able to find an official replacement.

[2022-06-29 18:48] klaases commented on #13642
Hi @panktrip – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2022-06-29 18:48] #13642 closed

[2022-06-29 18:49] medyagh commented on #13914
@eduardocalfaia I belive we have fixed this issue, please reopen if u still experience the issue

[2022-06-29 18:49] #13914 closed

[2022-06-29 18:51] spowelljr commented on #14468
Hi @sketchysavage215, thanks for reporting your issue with minikube.

Looking at your logs it looks like you're using a minikube v1.25.2 cluster with minikube v1.26.0 binary.

Could you try running `minikube delete --all` to clear out the existing clusters and then try starting minikube again and see if that resolves your issue, thanks

[2022-06-29 18:55] medyagh commented on #14340
@mechaHarry does this help ?

chmod 777 ~/.docker
chmod 66 ~/.docker/config.json

https://github.com/kubernetes/minikube/issues/8409#issuecomment-907269490

[2022-06-29 18:56] medyagh commented on #14340
if it is confirmed that this can be fixed by
[code]

we need to add solution message to minikube

[2022-06-29 18:56] spowelljr commented on #14365
Hi @Bhushan199, thanks for reporting your issue with minikube.

Could you try running the following:
[code]

https://github.com/kubernetes/minikube/issues/8409#issuecomment-907269490

[2022-06-29 18:59] spowelljr commented on #13992
Hi @soni-H, thanks for reporting your issue with minikube.

Could you try running the following:
[code]

https://github.com/kubernetes/minikube/issues/8409#issuecomment-907269490

[2022-06-29 19:01] JGDallas opened #14470 "minikube stop not working"
### What Happened?

joshuagarza@Joshuas-Mac-mini ~ % minikube stop
✋  Stopping node "minikube"  ...
❗  Executing "docker container inspect minikube --format={{.State.Status}}" took an unusually long time: 19.003236959s
💡  Restarting the docker service may improve performance.
✋  Stopping node "minikube"  ...
✋  Stopping node "minikube"  ...
✋  Stopping node "minikube"  ...
✋  Stopping node "miniku

[2022-06-29 19:24] medyagh commented on #13595
@HarikrishnanBalagopal here is an example repo of using it
what happens if u follow that example?
https://github.com/medyagh/test-minikube-example

https://github.com/medyagh/test-minikube-example/runs/7119004949?check_suite_focus=true

[2022-06-29 20:37] klaases commented on #14031
Hi @purvalraj, would you be able to try again with the latest version of minikube, v1.26.0?

Otherwise, it seems like there could have been a connectivity issue when downloading hyperkit.

[2022-06-29 21:05] spowelljr opened #14471 "Indicate `--network-plugin` flag is deprecated in flag description"
`--network-plugin` is deprecated, `--cni` should be used instead, but if you do `minikube start --help` there's no indication that the flag is deprecated:
[code]

The description should be updated to indicate that the flag is deprecated and `--cni` should be used instead.

[2022-06-29 21:09] spowelljr commented on #14470
Hi @JGDallas, thanks for reporting your issue with minikube.

It looks like you uploaded a different log file (Docker logs maybe?).

It looks like your minikube container might no longer exist, maybe deleted outside of minikube.

Could you try running `minikube delete --all` followed by `minikube start` and then see if stop works then

[2022-06-29 21:18] #14459 closed

[2022-06-29 21:33] JGDallas commented on #14470
Thanks Steven, I’ll try.
I also noticed anything docker is not working. I am digging into the issue
further.

On Wed, Jun 29, 2022 at 4:09 PM Steven Powell ***@***.***>
wrote:

--
"I saw an angel in the marble and carved until I set him free." -
Michelangelo

[2022-06-29 22:05] spowelljr commented on #14468
Glad that resolved your issue!

[2022-06-29 22:05] #14468 closed

[2022-06-29 22:42] alias-dev commented on #14400
Adding to this as I've run into the same issue today. I'm seeing the same error messages on `start`:
[code]

Running `minikube update-context` gives me a working kube context, but running `kubectl describe node/minikube` shows an issue with CNI:
[code]

Running the command shown in the error message via `podman exec`, the manifests are applied successfully:
[code]

And the node becomes ready:
[cod

[2022-06-29 22:47] spowelljr commented on #14456
So I tried this on my own machine and didn't experience what you are getting, mine restarted correctly as I would expect.

This is an odd error as it seems like `crictl` is no longer present in the VM.

Also, I see you're running `sudo su -l`, normally running minikube as root results in the following message:
`🛑  The "kvm2" driver should not be used with root privileges. If you wish to continue a

[2022-06-29 22:50] tedgoddard opened #14472 "Unable to start Minikube on M1 Mac"
### What Happened?

Ran `minikube start --alsologtostderr --v=8`
after `minikube delete --all --purge`

Indication of error seems to be `iptables-save v1.8.4 (legacy): Cannot initialize: iptables who? (do you need to insmod?)`. Is this a conflict with OpenVPN? The setup of this machine is the same as my intel Mac (and minikube works very smoothly there).

Log from docker container [gcr.io/k8s-mini

[2022-06-30 00:06] robrich commented on #14457
Just hit this as well.  I wish this issue was called out on the release's download page.

[2022-06-30 03:00] #12603 closed

[2022-06-30 03:00] minikube-bot opened #14474 "Frequent test failures of `TestNetworkPlugins/group/kubenet/HairPin`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_macOS&test=TestNetworkPlugins/group/kubenet/HairPin)|24.67|
|[Hyperkit_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Hyperkit_macOS&test=TestNetworkPlugins/group/kubenet

[2022-06-30 04:08] stx-imransayyed opened #14476 "Unable to start minikube: StartHost failed, Failed to start hyperkit VM"
### What Happened?

minikube start --kubernetes-version=v1.19.14 --driver=hyperkit --container-runtime=docker

### Attach the log file

  minikube v1.25.1 on Darwin 12.4
✨  Using the hyperkit driver based on user configuration
🎉  minikube 1.26.0 is available! Download it: https://github.com/kubernetes/minikube/releases/tag/v1.26.0
💡  To disable this notice, run: 'minikube config set WantUpdateNoti

[2022-06-30 04:51] peizhouyu commented on #14471
/assign

[2022-06-30 05:30] arpitmishra-eaton opened #14477 "Minikube didnt start"
### What Happened?

when hitting command "minikube start" on local machine, getting the below error. However, i tried minikube delete and start again but didnt resolve the issue.

Docker Desktop is installed.

Error: minikube start
* minikube v1.26.0 on Microsoft Windows 10 Enterprise 10.0.19042 Build 19042
* Using the docker driver based on existing profile
* Starting control plane node minikube

[2022-06-30 05:57] Madhu-1 commented on #14469
cc @nixpanic

[2022-06-30 06:03] afbjorklund commented on #14472
We have seen this error, when people try to run an amd64 container on their arm64 machine. By changing global docker settings

[2022-06-30 06:34] afbjorklund commented on #14471
The --network-plugin is still supported by Docker (only!), but it is recommended to switch to using a CNI plugin instead

[2022-06-30 06:36] nixpanic commented on #14469
The location for the image was not intentionally removed, but it also isn't the right location. It seems I forgot to update it once [the PR was merged](https://github.com/gluster/gluster-containers/pull/95) in the [gluster-containers](https://github.com/gluster/gluster-containers) project.

The image `docker.io/gluster/gluster-centos:latest` would be more appropriate, although it seems that the Gl

[2022-06-30 06:36] afbjorklund commented on #14457
It is theoretically possible to install cri-dockerd, when upgrading an old installation

[2022-06-30 06:58] khavali opened #14478 "unable to run minikube"
### What Happened?

Exiting due to RUNTIME_ENABLE: sudo systemctl enable cri-docker.socket: exit status 1
stdout:

stderr:
Failed to enable unit: Unit file cri-docker.socket does not exist.

*
╭─────────────────────────────────────────────────────────────────────────────────────────────╮
│                                                                                             │
│    * If the a

[2022-06-30 12:49] kashifest commented on #14456
@spowelljr thanks for testing it. I guess sudo is not the issue here. I noticed that its just taking more time to get the crictl starting than the initial 3 times try. I got a workaround by adding a loop like this:

[code]

I will give a small gist of the times it tried:

[code]

So basically instead of trying 3 times only it needed to try 9 times. I believe the  `Will wait 60s for crictl version`

[2022-06-30 14:41] gkwan-ibm commented on #14478
We encountered the same problem.

[2022-06-30 16:49] matiasalessandrini opened #14479 "minikube with kvm2 driver doesn't work on ubuntu"
### What Happened?

runnning "minikube start --driver=kvm2 I get this error:

minikube v1.26.0 on Ubuntu 20.04
✨  Using the kvm2 driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing kvm2 VM for "minikube" ...
🤦  StartHost failed, but will try again: driver start: ensuring active networks: recreating inoperable network mk-minikube: un-r

[2022-06-30 17:07] medyagh commented on #14479
@matiasalessandrini

it seems like all network subnets minikube wanted to try are taken
[code]

I am curious if you bump the network tries from 20 to something larger like 100, will it fix the problem for you?

here is the part of the code
https://github.com/medyagh/minikube/blob/9da4671df32c59cd99b11ad274ede2caae28153a/pkg/drivers/kic/oci/network_create.go#L92

[2022-06-30 17:08] medyagh commented on #14479
@matiasalessandrini I am also curious if deleting minikube helps ?

minikube delete --all

/triage needs-information
/kind support

[2022-06-30 17:17] spowelljr commented on #14469
Hi @nixpanic, thanks for the update, I'm happy to accept a PR that updates the location of the image.

[2022-06-30 18:39] ahamilton55 opened #14480 "Container runtime containerd with insecure registry breaks new pods"
### What Happened?

When creating an new minikube cluster locally with Docker and specifying the `--insecure-registry` option, pods created after the registry is added to the config fail to start. This breaks with the 1.26.0 minikube release but works with release versions 1.25.2 and older.

For example, the coredns pod has been stuck in the `ContainerCreating` stage but the other pods have starte

[2022-06-30 20:34] spowelljr commented on #14478
Hi @khavali, thanks for reporting your issue with minikube.

I'm going to assume you created your currently cluster with minikube v1.25.2 or previous and now you're trying to start the cluster with minikube v1.26.0 binary.

The problem is clusters previous to v1.26.0 used Dockershim, but now it uses cri-docker, and because the cluster was created previously is doesn't have cri-docker installed.

T

[2022-06-30 20:34] spowelljr commented on #14476
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-06-30 21:14] medyagh commented on #14479
that is not configurable (but I would accept a PR that make this configurable)

[2022-06-30 22:07] spowelljr commented on #14478
@khavali & @gkwan-ibm double checking, are both of you using the `docker` driver? Or are you perhaps using the `none` driver?

[2022-06-30 22:08] spowelljr commented on #14457
@joshua143 & @robrich are both of you using the docker driver? Or are you perhaps using the none driver?

[2022-06-30 22:09] gkwan-ibm commented on #14478
I used `none` and ran under github action

[2022-06-30 22:36] spowelljr commented on #14410
So there are two error cases:

## `none` driver
Users are unaware that minikube v1.26.0 requires a new dependency of `cri-docker`.

**Background:**

Implementing https://github.com/kubernetes/minikube/issues/14460 will detect that they're missing a system dependency. Will this prevent us from needing a solution message?

**Solution:**
Installing `cri-docker`, installation instructions: https://git

[2022-06-30 22:41] spowelljr commented on #14457
Going to close this issue to centralize these duplicated `cri-docker` issues in https://github.com/kubernetes/minikube/issues/14410. If you have any further questions or comments please leave them in https://github.com/kubernetes/minikube/issues/14410, thank you.

[2022-06-30 22:41] #14457 closed

[2022-06-30 22:42] spowelljr commented on #14453
Going to close this issue to centralize these duplicated `cri-docker` issues in https://github.com/kubernetes/minikube/issues/14410. If you have any further questions or comments please leave them in https://github.com/kubernetes/minikube/issues/14410, thank you.

[2022-06-30 22:42] #14453 closed

[2022-06-30 22:43] spowelljr commented on #14478
Ah, @gkwan-ibm, your problem is you need to install `cri-docker` on your machine if you want to use the combination of `none` driver, `docker` container runtime, and Kubernetes v1.24 and greater.

For more details see https://github.com/kubernetes/minikube/issues/14410#issuecomment-1171741503

Going to close this issue to centralize these duplicated `cri-docker` issues in https://github.com/kubern

[2022-06-30 22:43] #14478 closed

[2022-06-30 22:43] spowelljr commented on #14438
Going to close this issue to centralize these duplicated `cri-docker` issues in https://github.com/kubernetes/minikube/issues/14410. If you have any further questions or comments please leave them in https://github.com/kubernetes/minikube/issues/14410, thank you.

[2022-06-30 22:43] #14438 closed

[2022-06-30 22:44] spowelljr commented on #14403
Going to close this issue to centralize these duplicated `cri-docker` issues in https://github.com/kubernetes/minikube/issues/14410. If you have any further questions or comments please leave them in https://github.com/kubernetes/minikube/issues/14410, thank you.

[2022-06-30 22:44] #14403 closed

[2022-06-30 22:44] spowelljr commented on #14397
Going to close this issue to centralize these duplicated `cri-docker` issues in https://github.com/kubernetes/minikube/issues/14410. If you have any further questions or comments please leave them in https://github.com/kubernetes/minikube/issues/14410, thank you.

[2022-06-30 22:44] #14397 closed

[2022-06-30 22:44] spowelljr commented on #14396
Going to close this issue to centralize these duplicated `cri-docker` issues in https://github.com/kubernetes/minikube/issues/14410. If you have any further questions or comments please leave them in https://github.com/kubernetes/minikube/issues/14410, thank you.

[2022-06-30 22:44] #14396 closed

[2022-06-30 23:01] tedgoddard commented on #14472
@afbjorklund Thanks so much! For whatever reason my google search didn't find the other ticket. I'll repeat the answer here since it worked for me.

If Minikube does not start on an M1 Mac, check the logs for the docker container that exits. If they end with `iptables-save v1.8.4 (legacy): Cannot initialize: iptables who? (do you need to insmod?)`, try:

`unset DOCKER_DEFAULT_PLATFORM` and then `m

[2022-06-30 23:06] AkihiroSuda commented on #14400
As a workaround I updated https://minikube.sigs.k8s.io/docs/drivers/podman/ to recommend containerd for Rootless Podman.

[code]

This recommendation can be reverted later after getting the issue properly resolved.

[2022-07-01 00:02] wskb opened #14484 "minikube on podman fails to start"
### What Happened?

In summary v1.26.0 fails to start using this sequence:

    minikube delete --all --purge
    minikube config set driver podman
    # docker or cri-o produces same result
    minikube config set container-runtime docker
    minikube start

In detail, here's the `minikube start --alsologtostderr` [output](https://github.com/kubernetes/minikube/files/9024111/minikube.start.error.

[2022-07-01 03:18] #14260 closed

[2022-07-01 05:07] sesameguy commented on #7144
The problem exists again in `v1.26.0`
so i downgrade to `v1.25.2` for memory configuration

[2022-07-01 05:48] khavali commented on #14478
none driver

[2022-07-01 05:54] Abhijitrb opened #14486 "Minikube start throwing error Failed to enable unit: Unit file cri-docker.socket does not exist."
### What Happened?

loadtest@COMP-4928-1 ~]$ minikube start
\U0001f604  minikube v1.26.0 on Redhat 8.2
\u2728  Using the none driver based on existing profile
\U0001f44d  Starting control plane node minikube in cluster minikube
\U0001f504  Restarting existing none bare metal machine for "minikube" ...
\u2139\ufe0f  OS release is Red Hat Enterprise Linux 8.2 (Ootpa)

\u274c  Exiting due to RUNTIME_

[2022-07-01 08:31] satya8574 commented on #14396
Not Get Resolve still Same issue

*Thanks & Regard*

*SATYA PRAKASH*
*8574121213*

On Fri, Jul 1, 2022 at 4:14 AM Steven Powell ***@***.***>
wrote:

[2022-07-01 08:54] LenzGr opened #14487 "Improve Linux installation instructions"
The installation instructions for Linux on the [Get Started!](https://minikube.sigs.k8s.io/docs/start/) page could be slightly improved:
* For the RPM-based installation method, there is no need to download the RPM package via `curl` beforehand, one can simply do `rpm -Uhv https://storage.googleapis.com/minikube/releases/latest/minikube-latest.x86_64.rpm`.
* For DEB packages, the recommended tool

[2022-07-01 09:25] IP14Y3RI commented on #14067
@ilyazr
Same problem. Were you able to solve this issue?

[2022-07-01 12:21] Danubius1st opened #14489 "Windows 10 ingress install"
### What Happened?

From https://kubernetes.github.io/ingress-nginx/deploy/

1. Docker Desktop started

        Client Version: v1.24.1
        Kustomize Version: v4.5.4
        Server Version: v1.23.3
3. minikube started
4. kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.2.1/deploy/static/provider/cloud/deploy.yaml

### Attach the log file

[minikube_addo

[2022-07-01 16:08] spowelljr commented on #14396
Did you install `cri-docker`?

[2022-07-01 16:08] spowelljr commented on #14478
Then you'd also follow the comment above, you just need to install `cri-docker` onto your machine.

[2022-07-01 16:20] spowelljr commented on #14486
Hi @Abhijitrb, thanks for reporting your issue with minikube.

This is a duplicate of https://github.com/kubernetes/minikube/issues/14410

You can read this comment (https://github.com/kubernetes/minikube/issues/14410#issuecomment-1171741503) for more info. But the quick answer is:

So follow these install instructions and your issue will be resolved: https://github.com/Mirantis/cri-dockerd#build-

[2022-07-01 16:20] #14486 closed

[2022-07-01 16:40] satya8574 commented on #14396
Yes, I did.

*Thanks & Regard*

*SATYA PRAKASH*
*8574121213*

On Fri, Jul 1, 2022 at 9:38 PM Steven Powell ***@***.***>
wrote:

[2022-07-01 16:42] satya8574 commented on #14396
Dear steven ,
Can You please share me all the command to me on NotePad

*Thanks & Regard*

*SATYA PRAKASH*
*8574121213*

On Fri, Jul 1, 2022 at 10:08 PM Satya Sahani ***@***.***>
wrote:

[2022-07-01 16:53] alias-dev commented on #14484
This looks similar to https://github.com/kubernetes/minikube/issues/14400, does [this workaround](https://github.com/kubernetes/minikube/issues/14400#issuecomment-1171758619) work for you?

[2022-07-01 17:43] spowelljr opened #14490 "Add minimum ISO version check"
To prevent issues where an existing cluster has an ISO that's too old for the binary, we should have an ISO version check.

The ISO should have a file that contains its version, the binary should have a minimum required version, and if the ISO is older than the minimum required it should display a message to the user telling them to run `minikube delete` and to create the cluster fresh.

[2022-07-01 17:44] spowelljr opened #14491 "Add minimum kicbase version check"
To prevent issues where an existing cluster has a kicbase that's too old for the binary, we should have a kicbase version check.

The kicbase should have a file that contains its version, the binary should have a minimum required version, and if the kicbase is older than the minimum required it should display a message to the user telling them to run minikube delete and to create the cluster fresh

[2022-07-01 17:58] spowelljr commented on #14396
[code]

[2022-07-01 18:08] #13432 closed

[2022-07-01 19:24] spowelljr opened #14493 "Add GitHub maintainer field to addons & warn for all addons missing a maintainer"
We should add a GitHub maintainer field to the addons (below):
https://github.com/kubernetes/minikube/blob/044fe4c1fd2779b5ac3e4974556c3ff7b4d26792/pkg/minikube/assets/addons.go#L37-L47

An empty field should be added for each addon, and for each addon that has an empty field, when the user tries to enable the addon it should give a warning to the user that there's not a verified maintainer for th

[2022-07-01 19:46] robrich commented on #14457
I'm using the `hyperv` driver.

[2022-07-01 19:50] robrich commented on #14410
Please link to this as a known issue in the [1.26.0 release](https://github.com/kubernetes/minikube/releases/tag/v1.26.0) page. Something like this:

**Using a minikube cluster created before 1.26.0? After upgrading, you'll likely need to delete & recreate it.  See issue [14410](https://github.com/kubernetes/minikube/issues/14410)**

[2022-07-01 20:32] vrapolinario commented on #2015
Another update on this: not only the node is now joined to the cluster, but the flannel and kube-proxy are deployed:
[code]
Next I'll try to deploy a simple web workload to see if everything works. I started documenting the steps for all this to work and will share that as well soon.
Once again, thanks @jsturtevant for the help on this!

[2022-07-01 20:37] #13536 closed

[2022-07-01 21:10] mezoke opened #14494 "unable to start minikube"
### What Happened?

Enabling 'default-storageclass' returned an error: running callbacks: [Error making standard the default storage class: Error listing StorageClasses: Get "https://192.168.49.2:8443/apis/storage.k8s.io/v1/storageclasses": dial tcp 192.168.49.2:8443: i/o timeout]
Configuring RBAC rules ...\ E0701 22:54:53.076604   19636 start.go:264] Unable to scale down deployment "coredns" in n

[2022-07-02 01:42] sergeygalaxy commented on #5815
Any solution please?

[2022-07-02 05:10] smw1993 opened #14495 "log.txt"
### What Happened?

 https://minikube.sigs.k8s.io/docs/contrib/

### Attach the log file

https://minikube.sigs.k8s.io/docs/contrib/

### Operating System

_No response_

### Driver

_No response_

[2022-07-02 05:16] smw1993 opened #14496 "https://github.com/kubernetes/minikube/issues/new/choose"
### What Happened?

minikube logs --file=logs.txt

### Attach the log file

logs.txt

### Operating System

Ubuntu

### Driver

Docker

[2022-07-02 05:31] smw1993 opened #14497 "cri-docker.socket does not exist"
### What Happened?

`minikube logs --file=logs.txt`

### Attach the log file

log.txt

### Operating System

Ubuntu

### Driver

Docker

[2022-07-02 05:32] smw1993 commented on #14497
`minikube logs --file=logs.txt`

[2022-07-02 12:45] #14494 closed

[2022-07-02 16:01] satya8574 commented on #14396
Thanks, I'll check it out.
Not Resoloved

*Thanks & Regard*

*SATYA PRAKASH*
*8574121213*

On Fri, Jul 1, 2022 at 11:28 PM Steven Powell ***@***.***>
wrote:

*
* ==> Audit <==
* |---------|------------------|----------|------|---------|---------------------|----------|
| Command |       Args       | Profile  | User | Version |     Start Time      | End Time |
|---------|------------------|--------

[2022-07-02 19:44] #12924 closed

[2022-07-02 20:22] LTL-updating commented on #13823
the port forward also works for me on Windows, where minikube run with docker engine. However, I m not clear about why the NodePort service is not really connect to the local machine, i.e. out of the minikube cluster.  Port forward is just another function and step to complement this tho, not a basic Kubernetes component.

[2022-07-02 21:43] inifares23lab commented on #14493
Hi I plan on working on this issue

[2022-07-02 21:43] inifares23lab commented on #14493
/assign

[2022-07-03 06:39] siddubellanki commented on #8361
minikube v1.26.0 on Ubuntu 22.04 (xen/amd64)
* Using the docker driver based on user configuration
* The "docker" driver should not be used with root privileges. If you wish to continue as root, use --force.
* If you are running minikube within a VM, consider using --driver=none:
*   https://minikube.sigs.k8s.io/docs/reference/drivers/none/

[2022-07-03 06:40] siddubellanki commented on #8361
please anyone solve this

[2022-07-03 06:42] staticdev commented on #8361
@siddubellanki please open another issue, this one is already closed.

[2022-07-03 14:55] gilbahat opened #14500 "Building an ISO under linux/arm64 does not work"
### What Happened?

When trying to build the minikube ISO under linux/arm64 (either with or without docker), the build script will fail due to the lack of gcc-multilib. gcc-multilib is not available for arm64, see https://packages.ubuntu.com/bionic/gcc-multilib and https://packages.ubuntu.com/focal/gcc-multilib

### Attach the log file

log file not relevant ("package gcc-multilib has no installat

[2022-07-03 15:04] gilbahat commented on #11219
For comparison purposes - buildroot 2021 uses linux 5.10 while the default supported image that parallels will try to install is using linux 5.13. I strongly suspect that bumping buildroot version to 2022.05 or 2022.02 would resolve this, but I am unable to test due to https://github.com/kubernetes/minikube/issues/14500 and would appreciate help.

[2022-07-03 16:11] sirajqs opened #14501 "Unit file cri-docker.socket does not exist"
### What Happened?

Failed to enable unit: Unit file cri-docker.socket does not exist.

### Attach the log file

sudo systemctl enable cri-docker.socket: exit status 1

### Operating System

Ubuntu

### Driver

VMware

[2022-07-03 16:12] sirajqs commented on #14501
i m facing some problem while running the command
minikube start --vm-driver=none

[2022-07-03 18:04] afbjorklund commented on #11219
note that buildroot supports _multiple_ kernels

https://github.com/buildroot/buildroot/blob/2022.02.x/linux/linux.hash

for minikube we have tried to pick LTS kernels

And also to keep it similar to Ubuntu LTS versions...

[2022-07-03 18:07] afbjorklund commented on #14500
I don't think you need multilib, especially not for aarch64, can you try installing gcc instead ?

[2022-07-03 18:18] afbjorklund commented on #14497
same as:
* https://github.com/kubernetes/minikube/issues/14410

[2022-07-03 18:18] afbjorklund commented on #14501
same as:
* https://github.com/kubernetes/minikube/issues/14410

[2022-07-03 18:24] afbjorklund commented on #14487
I think we kept it as two steps, just to make the instructions similar between the two platforms. (deb/rpm)

Using apt and yum and is a long sad story, I don't think it will ever be properly supported with a repo etc...

[2022-07-03 18:33] afbjorklund commented on #14500
Actually it seems that vagrant and VM is still the default build environment:

https://github.com/buildroot/buildroot/blob/master/support/misc/Vagrantfile

Most likely it only supports VirtualBox (maybe VMware), so no ARM support ?

The package selection and setup should be the same, no matter the environment.

[2022-07-03 18:50] gilbahat commented on #14500
Seems like it's ignored at least for the first part:

root@fervent-archerfish:~/minikube# IN_DOCKER=1 make buildroot-image
docker build  -t gcr.io/k8s-minikube/buildroot-image -f deploy/iso/minikube-iso/Dockerfile deploy/iso/minikube-iso/
Sending build context to Docker daemon  602.6kB

(... snip ...)

The following additional packages will be installed:
  autoconf autotools-dev binutils binutils-

[2022-07-03 19:56] afbjorklund commented on #14500
Okay, that must have changed recently then...

[2022-07-03 19:58] afbjorklund commented on #14500
No, "Buildroot-image" is just for building the docker image

The real targets are something in "out" folder

[2022-07-04 04:27] zafar1926 opened #14502 "Access denied"
### What Happened?

tmp/juju-mk270d1b5db5965f2dc9e9e25770a63417031943: permission denied

### Attach the log file

tmp/juju-mk270d1b5db5965f2dc9e9e25770a63417031943: permission denied

### Operating System

Ubuntu

### Driver

Docker

[2022-07-04 08:03] IP14Y3RI opened #14504 "Minikube cannot start on WSL2"
### What Happened?

### What Happened?

- What I am doing: Running `minikube start --alsologtostderr --v=5 --docker-env http://myproxy:8080` on WSL2 Ubuntu 20.04 distro.

### What goes wrong:
Upon Configuring RBAC Rules, I get the following through the terminal.
`| W0627 11:18:36.345536    8237 kapi.go:226] failed getting deployment scale, will retry: Get "https://192.168.49.2:8443/apis/apps/v1/na

[2022-07-04 08:32] RA489 commented on #14504
/kind support

[2022-07-04 08:33] RA489 commented on #14502
@zafar1926 I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank

[2022-07-04 08:33] RA489 commented on #14502
/triage needs-information

[2022-07-04 08:34] RA489 commented on #14496
@smw1993 I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

The exact minikube start command line used

The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

The full output of minikube logs

The full output of kubectl get po -A

Thank you for sh

[2022-07-04 08:34] RA489 commented on #14496
/triage needs-information

[2022-07-04 08:35] RA489 commented on #14495
@smw1993 I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank yo

[2022-07-04 08:35] RA489 commented on #14495
/triage needs-information

[2022-07-04 08:37] RA489 commented on #14484
/kind support

[2022-07-04 08:37] RA489 commented on #14477
/kind support

[2022-07-04 08:38] RA489 commented on #14467
/kind support

[2022-07-04 08:45] Danubius1st commented on #14489
command
`kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.2.1/deploy/static/provider/cloud/deploy.yaml`
is working after system reboot

[2022-07-04 08:53] Jijingling opened #14505 "Minikube 1.26.0 may not works on ubuntu22-04 desktop/live server, ubuntu20-04 desktop/live server, centos7.9 and centos stream 8"
### What Happened?

when I minikube start it always failed, I have tried for different version Linux distribution, no one could succeeded.
I felt very confused then I change back minikube to previous version 1.25.2 on my ubuntu 20-02，well successful.

Any one meet same problem??? or it's new version minikube issue?

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/90

[2022-07-04 09:25] criztovyl commented on #14424
while trying to reproduce today my podman container started successfully (the podman bug i am sometimes running into did not occur), but I submitted a PR that should fix what I discovered.

I'll report back when I can verify it with a container that fails to start.

[2022-07-04 10:13] LenzGr commented on #14487
I personally prefer to minimize the effort and steps involved in getting something up and running, hence my suggestion. But if keeping these steps separate is preferred from a consistency point of view, feel free to reject the PR and this issue.

Well, making software available in the "native" packaging format is a great first step, especially for automated deployments.

[2022-07-04 10:56] gilbahat commented on #14500
okay, that explains it. Either way - I tried upgrading to 2022.05 and for reasons unclear to me, the config would always be overridden with some parameters that are legacy, breaking the build. I fear that this needs someone more familiar with this codebase to fix this.

[2022-07-04 13:59] justgotthis opened #14508 "Minikube cannot start with VirtualBox Backend"
I was trying multi node (just 2) and it is very unreliable as it fails either on the master or worker creation. I kept getting out of memory errors so I am trying to run with 8gb RAM for both. I also notice the setup process (mainly Docker and kubeadm) takes up a lot of CPU so I have been going with 6 cores to get to the end of the setup. These high values are weird because on the minikube site, i

[2022-07-04 14:06] justgotthis commented on #14508
Also, virtual box only works when i have virtual box open. If i have the application closed, it fails every time. Just another data point.

[2022-07-04 14:43] ikamensh opened #14509 "minikube start fails (maybe due to proxy settings)"
### What Happened?

I was unable to run `minikube start` while I had "Automatic Proxy Configuration" set in my network settings (macos). Error messages were not informative. Disabling it helped.

[code]

### Attach the log file

*
* ==> Audit <==
* |---------|-------------------|----------|---------|---------|----------------------|----------------------|
| Command |       Args        | Profile  |

[2022-07-04 14:56] wskb commented on #14484
I was able to work around this issue by recreating my podman machine.

[2022-07-04 15:53] mukeshmcitp opened #14510 "ec2-ubuntu driver issue for minikube"
### What Happened?

install minikube on ubuntu

### Attach the log file

Failed to enable unit: Unit file cri-docker.socket does not exist.

*
╭───────────────────────────────────────────────────────────────────────────────                                          ──────────────╮
│

[2022-07-04 18:52] zarak-shahjee opened #14513 "Exiting due to PROVIDER_VMWARE_NOT_FOUND"
user1@master-node:~$ minikube start --vm-driver=vmware
😄  minikube v1.25.2 on Ubuntu 18.04
✨  Using the vmware driver based on user configuration

🤷  Exiting due to PROVIDER_VMWARE_NOT_FOUND: The 'vmware' provider was not found: exec: "docker-machine-driver-vmware": executable file not found in $PATH
💡  Suggestion: Install docker-machine-driver-vmware
📘  Documentation: https://minikube.sigs.k8s.io

[2022-07-05 10:07] kitoko123 opened #14514 "demarage minikube"
**Étapes pour reproduire le problème:**

1. ouvrir powershell en tant qu'administrateur
2. saisir minikue start
3.

**Sortie complète de la commande `minikube logs`:**
<details>

[LOGs.txt](https://github.com/kubernetes/minikube/files/9045407/LOGs.txt)

</details>

[2022-07-05 13:35] Tony-Sol commented on #14477
Looks like have a same issue, but on macos

[2022-07-05 14:25] j2udevelopment commented on #13950
Thought I'd add a little extra evidence here.  We're noticing something strange when bind mounting our docker.sock file in different ways within our [vscode devcontainer](https://code.visualstudio.com/docs/remote/containers) (I don't believe the issue is one with vscode's devcontainer setup, just adding that the below is configuration from one of our [devcontainer.json](https://code.visualstudio.c

[2022-07-05 15:08] xenophonf commented on #13968
I am having the same problem with minikube 1.26.0.

[2022-07-05 15:42] xenophonf commented on #13968
I'm not sure this is a problem with CoreDNS.  Going through the k8s DNS troubleshooting guide, I've noted the following:
- CoreDNS can resolve the hostnames `k8s.gcr.io` and `dl-cdn.alpinelinux.org` correctly, while those same DNS queries fail when run from the minikube VM.
- The cluster IP and endpoint address used for DNS resolution are different than what the minikube VM uses (`10.96.0.10` and

[2022-07-05 16:42] j2udevelopment commented on #13950
For the use case of development containers, we try to avoid the docker-in-docker situation and instead just install the docker cli and bind mount the `docker.sock`. We also mount `~/.kube/config` and `~/.minikube` which allows us to communicate to the same minikube cluster from different dev containers.

Uses cases and specifics aside, minikube successfully starts when using `--volume` but not whe

[2022-07-05 17:10] #13968 closed

[2022-07-05 18:12] jaydeep123s opened #14515 "minikube"
### What Happened?

minikube start --vm-driver=none
this command is not run

### Attach the log file

my minikube not install on ubuntu18

### Operating System

Ubuntu

### Driver

_No response_

[2022-07-05 18:45] opannapo commented on #5660
Thanks dude

[2022-07-05 19:17] RA489 commented on #13755
/remove-lifecycle stale

[2022-07-05 19:58] nwbt commented on #14465
Same experience

OS: Mac OSX Monterey 12.3
VirtualBox: 6.1.34 r150636 (Qt5.6.3)

Downgrade to 1.25.2 worked as described (thanks)

[2022-07-05 20:34] afbjorklund commented on #14465
There were no changes done to libmachine or the virtualbox driver, but it could be something with the kernel perhaps.

[2022-07-06 01:00] kongyoubs opened #14516 "Exiting due to GUEST_PROVISION: Failed to start host: driver start: listen tcp4 127.0.0.1:2440: bind: An attempt was made to access a socket in a way forbidden by its access permissions."
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2022-07-06 01:00] kongyoubs commented on #14516
Exiting due to GUEST_PROVISION: Failed to start host: driver start: listen tcp4 127.0.0.1:2440: bind: An attempt was made to access a socket in a way forbidden by its access permissions.

[2022-07-06 01:33] vrapolinario commented on #2015
Another update on this and an ask for help:

- Windows node is up and status is `Ready `when running `kubectl get nodes`.
- Windows nodes can run Windows containers. `kubectl get pods `shows status of Windows containers are `Running`.

I have documented the steps to get this working here: https://github.com/vrapolinario/MinikubeWindowsContainers

I'm having an issue now when trying to access servi

[2022-07-06 03:18] pbxqdown commented on #13621
/remove-lifecycle stale

[2022-07-06 10:41] Abhijitrb commented on #14486
Thank you Steven for your comments!

I followed that solution link #14410. In that I tried to install cri-dockerd
After executing these commands
# Run these commands as root
###Install GO###
wget https://storage.googleapis.com/golang/getgo/installer_linux
chmod +x ./installer_linux
./installer_linux
source ~/.bash_profile

I don't see any directory created with name ****cri-dockerd****. Due to thi

[2022-07-06 11:13] LaxmiJ88 opened #14517 "error"
### What Happened?

[root@ip-172-31-16-66 ~]# minikube start --driver=none
* minikube v1.26.0 on Amazon 2 (xen/amd64)
* Using the none driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing none bare metal machine for "minikube" ...
* OS release is Amazon Linux 2

X Exiting due to RUNTIME_ENABLE: sudo systemctl enable cri-docker.socket: ex

[2022-07-06 16:39] Apocaly-pse commented on #14477
it helps me~ thx~~

[2022-07-06 16:42] Apocaly-pse commented on #12161
https://github.com/kubernetes/minikube/issues/14477#issuecomment-1176188284 this issue helped me.

[2022-07-06 16:48] Apocaly-pse commented on #8997
use `docker pull kicbase/stable:v0.0.32`, and `minikube start --vm-driver=docker --base-image="kicbase/stable:v0.0.32" --image-mirror-country='cn' --image-repository='registry.cn-hangzhou.aliyuncs.com/google_containers' --kubernetes-version=v1.23.8`, it fixed this question.

[2022-07-06 20:14] spowelljr commented on #13621
Hi @pbxqdown, could you try using minikube v1.26.0, this might be resolved by https://github.com/kubernetes/minikube/pull/13889

[2022-07-06 20:18] #14471 closed

[2022-07-06 20:25] spowelljr commented on #14410
Updated, thanks for the idea

[2022-07-06 20:28] spowelljr commented on #13621
Ah, it looks like your cert is expired completely, could you run `minikube delete --all --purge` (note this will delete all minikube clusters) and then try starting minikube again. The cert in the minikube home directory is expired, the `--purge` flag deletes the home directory completely, so next time you start minikube if should generate brand new certs. By default it should update the certs if

[2022-07-06 20:35] spowelljr commented on #14456
Thanks for figuring this out @kashifest!

I will say that 60 seconds seems like a long time for the container runtime to come up, but this is the first case of this I've seen reported yet, so maybe like you said it's isolated to certain environments.

[2022-07-06 21:49] spowelljr opened #14520 "Use fully qualified name in addon files"
The files [deploy/addons/aliyun_mirror.json](https://github.com/kubernetes/minikube/blob/master/deploy/addons/aliyun_mirror.json) and [pkg/minikube/assets/addons.go](https://github.com/kubernetes/minikube/blob/master/pkg/minikube/assets/addons.go) should be updated to use the fully qualified image names `docker.io/org/image` instead of just `org/image`.

This should be done after https://github.co

[2022-07-07 00:53] #14469 closed

[2022-07-07 01:32] SiddhantKhisty commented on #14520
I'd like to work on this issue 😄

[2022-07-07 03:11] spowelljr commented on #14520
Hi @SiddhantKhisty, comment `/assign` to assign the issue to yourself

[2022-07-07 03:20] SiddhantKhisty commented on #14520
/assign @SiddhantKhisty

[2022-07-07 05:41] Abhijitrb commented on #14486
Yes I am running these command as root. I tried with  "sudo systemctl enable cri-docker.service" still i can see same error
Failed to enable unit: Unit file cri-docker.service does not exist

Till  "systemctl daemon-reload" this point there were no issues

Not able to understand those services are present still why enable not works!

[2022-07-07 10:04] clarencesham commented on #14364
Hello zhan9san,

I have set up minikube with --listen-address='0.0.0.0' on a server, and a remote machine with kubectl installed.  What are the detail set up that I need to do in order to issue "kubectl get nodes -A" and get the information of minikube pods?

[2022-07-07 17:46] UmarAtiq opened #14523 "minikube start"
### What Happened?

minikube v1.26.0 on Ubuntu 22.04
✨  Using the docker driver based on user configuration
📌  Using Docker driver with root privileges
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🔥  Creating docker container (CPUs=2, Memory=2200MB) ...
❗  This container is having trouble accessing https://k8s.gcr.io
💡  To pull new external images, you may

[2022-07-07 20:40] pierrethibault-levio opened #14524 "Impossible de faire un simple minikube start sur Ubuntu 22.04"
Je suis sur Ubuntu 22.04 AMD64. Voici le résultat de ma commande `minikube start`:

[code]
[logs.txt](https://github.com/kubernetes/minikube/files/9067253/logs.txt)

Est-ce qu'une personne pourrait m'aider à corriger les erreurs que je rencontre ?

[2022-07-08 03:58] MrDesjardins opened #14525 "Cannot reach the external-ip using minikube tunnel"
### What Happened?

Hello,
I'm using a load-balancer service and trying to reach it from my Chrome browser. I am using a Windows 11 machine.

[code]
(Full yaml file in this [repository](https://github.com/MrDesjardins/realtimepixel/blob/kubernetes/kubernetes/production.yaml))

I am also running the tunnel: `minikube tunnel`

Performing the ` kubectl get service frontend-service`, I can see that an

[2022-07-08 04:10] clarencesham commented on #14364
I finally tested successfully.

When you do your first "minikube start", you have to specify the option of "--apiserver-ips", setting it to the IP address of the minikube host, and the option of "--listen-address=0.0.0.0".  Otherwise, you need to do "minikube delete" and re-create minikube docker image with the 2 options.

Next, you have to copy 4 files: ca.crt, client.crt, client.key and config o

[2022-07-08 06:13] amairyousuf opened #14526 "minnikube error"
### What Happened?

unable to run minikube start --vm-driver=none

### Attach the log file

* ==> Audit <==
* |---------|------------------|----------|------|---------|---------------------|----------|
| Command |       Args       | Profile  | User | Version |     Start Time      | End Time |
|---------|------------------|----------|------|---------|---------------------|----------|
| start   |

[2022-07-08 08:05] AndriyDmytrenko opened #14527 "Add multi-node support for QEMU"
### What Happened?

Tried to start the brand new minikube cluster
`$ minikube start -n 3 --driver qemu2`
...
stderr:
W0708 07:41:05.949053    1157 initconfiguration.go:120] Usage of CRI endpoints without URL scheme is deprecated and can cause kubelet errors in the future. Automatically prepending scheme "unix" to the "criSocket" with value "/var/run/cri-dockerd.sock". Please update your configurat

[2022-07-08 08:59] tushar453030 commented on #14131
* minikube v1.26.0 on Microsoft Windows 11 Home Single Language 10.0.22000 Build 22000
* Using the docker driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Pulling base image ...
* Updating the running docker "minikube" container ...

X Exiting due to RUNTIME_ENABLE: sudo service cri-docker.socket start: Process exited with status 5
stdout:

stderr:
Fail

[2022-07-08 09:02] tushar453030 opened #14528 "minicub start error"
### What Happened?

[code]

[2022-07-08 10:18] Abhijitrb commented on #14486
This issue got resolved now..After that when I re-executed  minikube start --driver=none a new issue has been encountered
 Exiting due to RUNTIME_ENABLE: Temporary Error: sudo crictl version: exit status 1
stdout:

stderr:
sudo: crictl: command not found

After this I again tried to install  crictl  package however not worked!

Same issue coming

[2022-07-08 10:30] jigyasumishra321 opened #14530 "minikube logs --file=log.txt"
### What Happened?

kube-proxy showing stop stat

### Attach the log file

minikube logs --file=log.txt

### Operating System

Ubuntu

### Driver

VirtualBox

[2022-07-08 11:09] Acture commented on #13897
having the same issue as @kind03 mentioned.

[2022-07-08 16:04] xenophonf opened #14531 "How do I set minikube/Docker environment variables in Emacs?"
### What Happened?

I must run `minikube -p PROFILE docker-env` and manually set the listed environment variables in Emacs if I want to be able to invoke Docker commands from Emacs.  Is there a way to do that automatically, instead?

### Attach the log file

This is not applicable.

### Operating System

Other

### Driver

N/A

[2022-07-08 16:08] xenophonf commented on #14531
I wrote the following Emacs Lisp function to wrap calls to `minikube docker-env` and set the listed variables in the parent Emacs process.  Copy this code into your `.emacs` file and run the `minikube-docker-env` interactive function.  With an argument, it will prompt you for the minikube profile to use, which defaults to `minikube`.  I hereby put this into the public domain.  Additionally, I waiv

[2022-07-08 16:15] bugalwena commented on #13897
Thank you for your response.

The VS Code editor an untapped reservoir of advanced potential; I'm barely
scratching the surface.

I must admit I didn't work much with Minikube software at the time, and VS
Code workspace has evolved since then.  It's not hard work.

I'm back at my office over the weekend. I will follow up on existing issues
with Minikube/Kubernetes

I will keep you posted.

Cheers

[2022-07-08 16:34] j2udevelopment commented on #13950
interestingly I didn't realize I had a trailing slash on my docker.sock --volume mount (definitely work)... when I removed that trailing slash it stopped working so this works:
[code]
but this does not:
[code]

[2022-07-08 18:10] #14418 closed

[2022-07-08 18:51] nissanist opened #14532 "Minikube failed to start with 2 error"
### What Happened?

Device: Lenevo E480 (Laptop)
OS: Ubuntu 20.04.4 LTS
use command for start : minikube start
gettring 2 error:
      error1: Exiting due to RUNTIME_ENABLE: sudo systemctl enable cri-docker.socket: exit status 1
      error2: Failed to enable unit: Unit file cri-docker.socket does not exist

Log file attached

### Attach the log file

[logs.txt](https://github.com/kubernetes/minik

[2022-07-08 19:02] spowelljr commented on #14486
What happens when you try to run `sudo crictl`?

[2022-07-08 20:06] oraclesamdrake commented on #4546
Still an issue on OSX in Minikube 1.26.0 with the virtualbox driver.

![image](https://user-images.githubusercontent.com/58493292/178062994-a55fe12c-c706-443f-8e5f-60cb01361d8b.png)

[2022-07-08 20:08] oraclesamdrake commented on #4546
[minikube.logs.txt](https://github.com/kubernetes/minikube/files/9074802/minikube.logs.txt)

[2022-07-08 22:37] patrickotoole commented on #14523
I recently encountered a similar issue on mac M1 after going through the process of

[code]

After investigation, I traced this back to an issue with the certificates the minikube container used to launch processes.

ssh-ing into the minikube container, removing the certificate directory and starting minikube once again force the minikube container to pull the new certificates and allowed minikube

[2022-07-09 02:25] kubefay opened #14536 "minikube --cni does not delete the origin cni config file"
### What Happened?

minikube start --driver kvm2 --registry-mirror=https://registry.docker-cn.com --image-mirror-country cn --extra-config=kubelet.cgroup-driver=systemd --kubernetes-version=v1.18.8 -n 1 --cni=kubefay.yaml --network-plugin='cni' -v 5

when use the above command to start cluster in specific CNI yaml file, the cluster **started with the default cni bridge**. The cni config at **/etc/

[2022-07-09 04:40] ganesshi opened #14537 "Exiting due to RUNTIME_ENABLE: sudo systemctl enable cri-docker.socket: exit status 1"
### What Happened?

[root@k8s-machine ~]# minikube start --vm-driver=none
😄  minikube v1.26.0 on Centos 7.9.2009
✨  Using the none driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing none bare metal machine for "minikube" ...
ℹ️  OS release is CentOS Linux 7 (Core)

❌  Exiting due to RUNTIME_ENABLE: sudo systemctl enable cri-docker.so

[2022-07-09 09:04] Acture opened #14538 "Error execution phase wait-control-plane: couldn't initialize a Kubernetes cluster"
### What Happened?

error execution phase wait-control-plane: couldn't initialize a Kubernetes cluster

Stucked here for several days. Tried methods from various resources and none of them work.

### Attach the log file

[Uploading log.txt…]()

### Operating System

Windows

### Driver

Docker

[2022-07-09 13:45] devNaresh commented on #13717
/reopen

[2022-07-09 13:45] devNaresh commented on #13717
yes, this issue still persist

[2022-07-09 16:04] fujiawei-dev commented on #13616
I have the same trouble.

[2022-07-09 18:48] #13589 closed

[2022-07-09 19:11] Manav32 opened #14539 "Minikube v1.2 is crashing"
### What Happened?

$ minikube start --vm-driver=docker
😄  minikube v1.2.0 on windows (amd64)
E0710 00:38:45.243343   15116 start.go:559] StartHost: Error loading existing host. Please try running [minikube delete], then run [minikube start] again.: filestore: open C:\Users\verma\.minikube\machines\minikube\config.json: The system cannot find the file specified.

💣  Unable to start VM: Error loadi

[2022-07-09 20:48] #12157 closed

[2022-07-10 06:39] fujiahui commented on #14477
解决了我的问题。

[2022-07-10 10:55] #12362 closed

[2022-07-11 02:01] t2y commented on #11705
@sharifelgamal I encountered that a custom label was removed after minikube restarted.

[code]

I operated like this. Is my operation wrong?

[code]

[2022-07-11 03:30] cp99says opened #14540 "minikube status says apiserver:stopped"
### What Happened?

[logs.txt](https://github.com/kubernetes/minikube/files/9080697/logs.txt)

Please look into the issue and help me sort this out, I am new into kubernetes.
OS:- Cinnamon, minikube started using docker driver

### Attach the log file

When I check the status using minikube status, it says
minikube
type: Control Plane
host: Running
kubelet: Running
apiserver: Stopped
kubeconfig: C

[2022-07-11 06:22] Abhijitrb commented on #14486
On running "sudo crictl" not getting any response
sudo: crictl: command not found

However I searched for crictl package and found link for crictl installation.
 https://github.com/kubernetes-sigs/cri-tools/blob/master/docs/crictl.md

I installed but no success so far. Not able to figure out why this error coming!

here is the complete error message::

**Exiting due to RUNTIME_ENABLE: Temporary Er

[2022-07-11 12:53] hmeerlo opened #14542 "Corrupted files in container when using hostPath"
### What Happened?

I searched a lot but cannot find a solution or workaround. What I do is start minikube and then mount a local directory in the minikube container (`minikube mount /Users/hermanmeerlo/Dev:/source`). When I look in the minikube container the directory is mounted fine, all files seem ok.
The I mount the volume in my deployment using these:
[code]
The volume is mounted fine, all *s

[2022-07-11 13:53] oprudkyi opened #14543 "Limit size of audit log"
### What Happened?

after updating to v1.26 spotted the slowness of 'minikube kubectl' command
investigation shows that audit.json was greater 5mb and that causes real slowness for every command

[code]

deletion of audit.json speedup things considerably
[code]

probably audit.json should have limit on max size and truncated when needed

### Operating System

Redhat/Fedora

### Driver

Docker

[2022-07-11 14:24] afbjorklund commented on #14543
It should only be slower the first time after a Kubernetes version upgrade, while the client binary (kubectl) is being downloaded... After that, it should be cached and the same as running it directly.

[2022-07-11 14:43] Piyushmoorjani opened #14544 "Minikube start error"
### What Happened?

HI,

I have tried different ways to start minikube using AWS cloud (aws linux and ubuntu). But getting attached error after starting it. Please check and suggest some solution.

### Attach the log file

![Screenshot 2022-07-11 201217](https://user-images.githubusercontent.com/88042113/178291024-c238c9c1-1366-4a4a-bd34-529b16e6214c.png)

### Operating System

Redhat/Fedora

###

[2022-07-11 18:10] medyagh commented on #12677
@ayshiff are you sitll working on this ?

[2022-07-11 18:11] medyagh commented on #12354
This issue is available to be picked up by anyone interested.

[2022-07-11 18:20] ayshiff commented on #12677
I am not working on this anymore. I think I was waiting for your answer on a comment last time but I don't think you saw it.
I'll be happy to finish it if you want to take a look at the PR. :)

[2022-07-11 20:40] ayshiff commented on #12677
No problem, I completely understand! Here is the comment: https://github.com/kubernetes/minikube/pull/13220#discussion_r774596992

[2022-07-11 23:14] klaases commented on #14460
Hi @afbjorklund, I was looking through the codebase when I found `.github/workflows/master.yml` which on line 509 states: `# cri-dockerd is required for Kubernetes 1.24 and higher for none driver`.

Per your comment above, does minikube already enforce k8s 1.24+ for `cri-dockerd`?

I am working on PR to address this issue: #14555,  and was curious whether I needed to manually check for k8s 1.24+.

[2022-07-11 23:32] jpmcb commented on #13939
/remove-lifecycle stale

Would be great to get a maintainers thoughts on this! Thanks much!

[2022-07-12 00:08] zarak-shahjee opened #14556 "Error: failed to start container "nginx-thrift": Error response from daemon: OCI runtime create failed:"
### What Happened?

I'm trying to deploy  https://github.com/delimitrou/DeathStarBench/tree/6970bda1235bcc74ee798d1e8fef97bab6c902a2/socialNetwork/k8s-yaml
on minikube
The service nginx-thrift and media-frontend give the error:

Warning  Failed     8m8s (x5 over 9m41s)   kubelet            Error: failed to start container "nginx-thrift": Error response from daemon: OCI runtime create failed: conta

[2022-07-12 00:20] mprimeaux commented on #14146
Thanks @afbjorklund. Just getting back from a "deep rabbit hole" of Kubernetes "fun". I will review the above links.

[2022-07-12 02:45] Karmavil commented on #12354
Before digging further. Why are you using https over http?
[Check the settings](https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/#macos-and-linux)
I guess you can use the same port .. but why would you send an encrypted communication as unencrypted? If that's what you need to do or if I am missing some technical concept here let me know to avoid asking details beyond the scope of this issu

[2022-07-12 04:32] spkane commented on #12354
It has been awhile, but this shouldn't be relevant to the ticket. The point was just that `CURL_CA_BUNDLE` is not properly passed through to the underlying `curl` commands, when it is defined and this breaks proxies that use SSL certs from internal CAs.

[2022-07-12 07:23] HikariXu commented on #14538
Fail with error text start with: "initialization failed, will try again: wait: /bin/bash -c "sudo env PATH=......" ?
If so, switching to minicube v1.25.2 should be ok. I encountered the same issue on windows 11 with docker wsl2 backended.

[2022-07-12 07:32] Sidhant-MT opened #14557 "❌ Exiting due to GUEST_START: Failed kubeconfig update: writing kubeconfig: Error creating directory: /etc/kubernetes: mkdir /etc/kubernetes: permission denied"
### What Happened?

[logs.txt](https://github.com/kubernetes/minikube/files/9090604/logs.txt)

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/9090607/logs.txt)

### Operating System

MAC OS

### Driver

_No response_

[2022-07-12 07:44] HikariXu commented on #14538
#14477
Comment https://github.com/kubernetes/minikube/issues/14477#issuecomment-1176188284 mentioned that it is  Kubernetes version 1.24 causes the issue.
@lakshayydua provides a solution `minikube start --kubernetes-version=v1.23.8`

[2022-07-12 08:40] keivanipchihagh commented on #9051
I did change the DNS servers, but am still getting the same error. Can you explain more about the process you went through to fix this?

[2022-07-12 09:19] Acture commented on #14538
I did not use wsl2-based docker-engine since k8s just kept loading and would not start under it. minikube start --kubernetes-version=v1.23.8 worked well. Thanks for your help

[2022-07-12 09:19] #14538 closed

[2022-07-12 09:24] urvashichoubey-dev opened #14558 "StartHost failed, but will try again: creating host: create host timed out in 360.000000 seconds"
### What Happened?

! StartHost failed, but will try again: creating host: create host timed out in 360.000000 seconds
E0712 14:39:46.341176   17280 main.go:130] libmachine: [stderr =====>] : Hyper-V\Get-VM : Hyper-V was unable to find a virtual machine with name "minikube".

### Attach the log file

[minikube_logs_897b957174bfa6fff433509624fd7b095f76f55a_0.log](https://github.com/kubernetes/minik

[2022-07-12 11:30] LovePelmeni opened #14559 "Fails to run `minikube addons enable ingress` on macOS Monterey. (Version: 12.2.1)"
### What Happened?

Well,I Decided to start an NGINX Ingress Controller,

At the First TIme  I've tried it out using command `kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.2.1/deploy/static/provider/cloud/deploy.yaml`,  it worked fine, but a bit later, I've faced the issue as described here `https://stackoverflow.com/questions/70497416/kubernetes-ingress

[2022-07-12 12:09] simondrake opened #14560 "host.minikube.internal is not added to /etc/hosts"
### What Happened?

`host.minikube.internal` it not added to `/etc/hosts` on M1/arm64 Macs.

I have access to an intel/x86 machine, and the same steps work on it.

[code]

### Attach the log file

[code]

### Operating System

macOS (Default)

### Driver

Podman

[2022-07-12 13:18] avimehenwal commented on #14525
I am facing similar kind of issue but on ubuntu 22.04 LTS desktop running on VM

[2022-07-12 13:45] simondrake commented on #14560
Downgraded minikube to `v1.25.2` (the version my intel box is running) and the same issue occurs, so it appears to be an issue with the arm64 architecture or the podman driver...

[code]

[2022-07-12 15:01] lordigon opened #14561 "Minikube 1.26.0 doesn't start on MacOS"
### What Happened?

Minikube doesn't start. The error happens during control plane boot up.
Already tried with `minikube delete --all --purge` command but the problem still persist.

Latest log messages

[code]

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/9094195/log.txt)

### Operating System

macOS (Default)

### Driver

HyperKit

[2022-07-12 16:26] afbjorklund commented on #14460
It starts the service and configures the socket, but it does not installing for you

[2022-07-12 18:57] oprudkyi commented on #14543
deletion of /home/user/.minikube/logs/* helped, autdit.json file was something like 5mb and probably updating of that file created such slow work

[2022-07-12 20:48] aliaksander-samuseu commented on #8756
It's still a problem, I'm facing this issue in Ubuntu 20. How can it not be fixed 2 years after it's reported?

[2022-07-12 20:59] medyagh commented on #14561
@lordigon do you mind sharing the following info ?

[code]

and also do u mind trying
[code]

[2022-07-12 21:52] #14539 closed

[2022-07-13 01:36] RA489 commented on #13564
/remove-lifecycle stale

[2022-07-13 02:01] AndyChiangSH commented on #14523
I have the same problem...
Does anyone have solution?
Any help/suggestion/comment would be appreciated.

[2022-07-13 03:39] lyyao09 commented on #13584
I have the same problem, how should I solve it?

[2022-07-13 05:21] minikube-bot opened #14568 "Frequent test failures of `TestDockerFlags`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestDockerFlags)|100.00|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestDockerFlags)|100.00|

[2022-07-13 05:21] minikube-bot opened #14569 "Frequent test failures of `TestDownloadOnly/v1.16.0/json-events`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestDownloadOnly/v1.16.0/json-events)|100.00|

[2022-07-13 05:21] minikube-bot opened #14570 "Frequent test failures of `TestDownloadOnly/v1.16.0/kubectl`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestDownloadOnly/v1.16.0/kubectl)|100.00|

[2022-07-13 05:21] minikube-bot opened #14571 "Frequent test failures of `TestFunctional/parallel/DockerEnv/bash`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestFunctional/parallel/DockerEnv/bash)|20.00|

[2022-07-13 05:21] minikube-bot opened #14572 "Frequent test failures of `TestHyperkitDriverSkipUpgrade/upgrade-v1.11.0-to-current`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestHyperkitDriverSkipUpgrade/upgrade-v1.11.0-to-current)|100.00|

[2022-07-13 05:21] minikube-bot opened #14573 "Frequent test failures of `TestHyperkitDriverSkipUpgrade/upgrade-v1.2.0-to-current`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestHyperkitDriverSkipUpgrade/upgrade-v1.2.0-to-current)|100.00|

[2022-07-13 05:21] minikube-bot opened #14574 "Frequent test failures of `TestMinikubeProfile`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestMinikubeProfile)|37.10|

[2022-07-13 05:21] minikube-bot opened #14575 "Frequent test failures of `TestNetworkPlugins/group/custom-flannel/Start`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestNetworkPlugins/group/custom-flannel/Start)|100.00|

[2022-07-13 05:21] minikube-bot opened #14576 "Frequent test failures of `TestStoppedBinaryUpgrade/Setup`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStoppedBinaryUpgrade/Setup)|100.00|

[2022-07-13 06:17] lordigon commented on #14561
Hi @medyagh,
here is the info you required

[code]

[code]

[code]

With

[code]

it worked. Can you please explain me why? Couple of weeks ago `minkube start` worked without the need of this new parameter.

[2022-07-13 07:16] riteshprasad1 commented on #14438
Follow following steps
for linux ubuntu 20 version:

VERSION="v1.24.1"
wget https://github.com/kubernetes-sigs/cri-tools/releases/download/$VERSION/crictl-$VERSION-linux-amd64.tar.gz
sudo tar zxvf crictl-$VERSION-linux-amd64.tar.gz -C /usr/local/bin
rm -f crictl-$VERSION-linux-amd64.tar.gz

# version and wget to be executed together
Check
cat /etc/crictl.yaml
runtime-endpoint: unix:///var/run/dock

[2022-07-13 07:44] vehbirestelica commented on #14544
You need to install and start Docker first, in order to start minikube.

[2022-07-13 08:46] vipulsharma27 opened #14577 "getting error "unable to retrieve container logs for docker://" after minikube or machine restarts"
### What Happened?

I have created a cronjob which runs every 5 mins and keep 7 successful pods.
Till machine is up, logs are visible fine.
But when machine restarts, getting below error for older pods which were created when last time machine was up:
**unable to retrieve container logs for docker://6e0a0d4f20ec63ec1ced235905e4f17a1a49435745155c6916457ae4c5dd3dfa**

This does not come up for pods

[2022-07-13 09:00] #14559 closed

[2022-07-13 09:13] zhengerkui opened #14578 "minikube start error"
**minikube start --driver=docker**：

**  minikube v1.18.1 on Darwin 11.3.1
✨  Using the docker driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🔥  Creating docker container (CPUs=2, Memory=4000MB) ...
🐳  Preparing Kubernetes v1.20.2 on Docker 20.10.3 ...

❌  Exiting due to K8S_INSTALL_FAILED: updating control plane: downloadin

[2022-07-13 10:26] afbjorklund commented on #14536
This is a known issue, the podman files conflict with the kubernetes files. They are supposed to not be used, by setting a different cni configuration. But it would be better to change the podman configuration, to use another directory for the podman cni.

* https://github.com/kubernetes/minikube/issues/11194

Especially with 1.24, when cni config works "differently"

[2022-07-13 12:23] maskfox commented on #14544
same error as above

[2022-07-13 15:35] takumade commented on #10664
That didnt work it displayed this instead:

😄  minikube v1.25.2 on Ubuntu 20.04
✨  Using the virtualbox driver based on existing profile

❌  Exiting due to GUEST_PROVISION: Failed to generate config: cni: stat: stat images/multus-daemonset.yml: no such file or directory

╭───────────────────────────────────────────────────────────────────────────────────────────╮
│

[2022-07-13 16:07] yongqiangG commented on #14486
I have the same problem.

X Exiting due to RUNTIME_ENABLE: Temporary Error: sudo crictl version: exit status 1
stdout:

stderr:
sudo: crictl: command not found

[2022-07-13 18:04] #14189 closed

[2022-07-13 18:04] klaases commented on #14081
Hi @sudhirwakchoure – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command li

[2022-07-13 18:04] #14081 closed

[2022-07-13 18:05] klaases commented on #13969
Hi @meliwex – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2022-07-13 18:05] #13969 closed

[2022-07-13 18:05] klaases commented on #13841
Hi @anikmoz – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2022-07-13 18:07] klaases commented on #14231
Hi @wankowatat – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line us

[2022-07-13 18:07] #14231 closed

[2022-07-13 18:08] #14142 closed

[2022-07-13 18:08] klaases commented on #14135
Hi @jleandrocr – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line us

[2022-07-13 18:08] #14135 closed

[2022-07-13 18:08] klaases commented on #14132
Hi @[asdf93074](https://github.com/asdf93074) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact

[2022-07-13 18:08] #14132 closed

[2022-07-13 18:09] #14078 closed

[2022-07-13 18:10] klaases commented on #14035
Hi @maxb – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

*

[2022-07-13 18:10] klaases commented on #14034
Hi @maxb – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

*

[2022-07-13 18:10] klaases commented on #13937
Hi @jackray2009 – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line u

[2022-07-13 18:10] #13937 closed

[2022-07-13 18:11] #13498 closed

[2022-07-13 18:11] #13495 closed

[2022-07-13 18:11] klaases commented on #13492
Hi @dnguyenzd – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line use

[2022-07-13 18:12] klaases commented on #13019
Hi @prathapdasari – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line

[2022-07-13 18:12] #13019 closed

[2022-07-13 18:13] klaases commented on #14385
Hi @glinker – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2022-07-13 18:13] #14385 closed

[2022-07-13 18:15] klaases commented on #14040
Hi @[dancaugherty](https://github.com/dancaugherty) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The

[2022-07-13 18:15] #14040 closed

[2022-07-13 18:15] klaases commented on #14031
Hi @purvalraj – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line use

[2022-07-13 18:15] #14031 closed

[2022-07-13 18:19] klaases commented on #14109
Hi @Naveen-manokaran – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command l

[2022-07-13 18:19] #14109 closed

[2022-07-13 18:20] klaases commented on #13132
Hi @Pictor13 – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2022-07-13 18:20] #13132 closed

[2022-07-13 18:21] spowelljr commented on #14501
I'm going to close this issue as it's a duplicate of https://github.com/kubernetes/minikube/issues/14410, please follow along there for solutions, thanks!

[2022-07-13 18:21] #14501 closed

[2022-07-13 18:23] klaases commented on #13505
Hi @[JustinT01](https://github.com/JustinT01) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact

[2022-07-13 18:23] #13505 closed

[2022-07-13 18:26] spowelljr commented on #14509
Hi @ikamensh, we have a page in our documentation related to using minikube with proxies, does any of the info there help?

https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/

[2022-07-13 18:27] klaases commented on #14470
Hi @JGDallas, were you able to get Docker to work as intended? Also, did you have a chance to obtain the minikube logs?

[2022-07-13 18:27] klaases commented on #14455
Hi @[asmimore](https://github.com/asmimore) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact m

[2022-07-13 18:27] #14455 closed

[2022-07-13 18:28] klaases commented on #14445
Hi @codegzy-rabbit – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command lin

[2022-07-13 18:28] #14445 closed

[2022-07-13 18:29] #14401 closed

[2022-07-13 18:29] klaases commented on #14395
Hi @Darshants16081995 – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command

[2022-07-13 18:29] #14395 closed

[2022-07-13 18:30] spowelljr commented on #14510
Hi @mukeshmcitp, thanks for reporting your issue with minikube. This is a duplicate of https://github.com/kubernetes/minikube/issues/14410. I have a detailed comment (https://github.com/kubernetes/minikube/issues/14410#issuecomment-1171741503) that outlines what steps you should take depending on what driver you're using.

As a quick overview, if you're using the `docker` driver simply delete the

[2022-07-13 18:30] #14510 closed

[2022-07-13 18:30] klaases commented on #14376
Hi @IT-sukesh – did you have a chance to address the above comment with regards to the available ports?

Also, is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether

[2022-07-13 18:31] klaases commented on #14365
Hi @Bhushan199 – did you have a chance to try and run the above commands?

Also, is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the lat

[2022-07-13 18:31] #14365 closed

[2022-07-13 18:33] klaases commented on #14357
Hi @Kashyap-Rathore – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command li

[2022-07-13 18:33] #14322 closed

[2022-07-13 18:36] #14325 closed

[2022-07-13 18:37] klaases commented on #14313
Hi @Mohammad-Ali-Rauf – did you have a chance to run the Docker post-installation steps?

Also, is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occu

[2022-07-13 18:37] #14313 closed

[2022-07-13 18:38] spowelljr commented on #14514
Hi @kitoko123, thanks for reporting your issue with minikube.

It looks like you're trying to start an existing instance of minikube. If you do `minikube delete` and then try starting minikube again do you get a different error?

-----

Salut @kitoko123, merci d'avoir signalé votre problème avec minikube.

Il semble que vous essayez de démarrer une instance existante de minikube. Si vous faites "m

[2022-07-13 18:38] klaases commented on #14299
Hi @charboubmustapha – were you able to try running `minikube start` and then try enabling addons again as suggested above?

Also, is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be

[2022-07-13 18:38] #14299 closed

[2022-07-13 18:39] spowelljr commented on #14515
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-07-13 18:40] klaases commented on #14287
Hi @DomineCore  – were you able to try the fix suggested above?

With the fix, is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the lates

[2022-07-13 18:40] #14287 closed

[2022-07-13 18:41] spowelljr commented on #14516
Same as https://github.com/kubernetes/minikube/issues/14514

[2022-07-13 18:42] klaases commented on #14268
Hi @nguyendviet  – did @zhan9san's comment help resolve this issue?

Also, is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest mi

[2022-07-13 18:42] #14268 closed

[2022-07-13 18:42] spowelljr commented on #14517
Hi @LaxmiJ88, thanks for reporting your issue with minikube. This is a duplicate of https://github.com/kubernetes/minikube/issues/14410. I have a detailed comment (https://github.com/kubernetes/minikube/issues/14410#issuecomment-1171741503) that outlines what steps you should take depending on what driver you're using.

As a quick overview, if you're using the `docker` driver simply delete the min

[2022-07-13 18:42] #14517 closed

[2022-07-13 18:44] klaases commented on #14256
Hi @Aadarsh-Verma – were you able to try using the `--extra-config` flags as suggested above?

Also, is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue

[2022-07-13 18:44] #14256 closed

[2022-07-13 18:45] #14243 closed

[2022-07-13 18:46] klaases commented on #14105
Hi @mmahant17 – have you had a chance to delete all minikube profiles and start again fresh?

Also, is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue

[2022-07-13 18:46] #14105 closed

[2022-07-13 18:47] klaases commented on #13922
Hi @proBaxia – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2022-07-13 18:47] #13922 closed

[2022-07-13 18:47] spowelljr commented on #14523
Same as https://github.com/kubernetes/minikube/issues/14505

[2022-07-13 18:48] spowelljr commented on #14526
Hi @amairyousuf, thanks for reporting your issue with minikube.

Have you tried running `sudo sysctl fs.protected_regular=0`?

[2022-07-13 18:50] klaases commented on #13427
Hi @paurana – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2022-07-13 18:50] #13427 closed

[2022-07-13 18:53] #13635 closed

[2022-07-13 18:54] spowelljr commented on #14527
That's actually just a warning, the true error is:
`error execution phase preflight: couldn't validate the identity of the API Server: Get "https://control-plane.minikube.internal:8443/api/v1/namespaces/kube-public/configmaps/cluster-info?timeout=10s": dial tcp 10.0.2.15:8443: connect: connection refused`

The QEMU driver is quite new and has many currently unsupported features, and it seems based

[2022-07-13 18:56] klaases commented on #13593
Hi @acohenOT – were you able to resolve this by purging minikube using the above command `minikube delete --all --purge`?

Also, is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be h

[2022-07-13 18:59] spowelljr commented on #14528
Hi @tushar453030, thanks for reporting your issue with minikube.

This is a duplicate of https://github.com/kubernetes/minikube/issues/14410, I left a detailed comment solution for anyone experiencing problems https://github.com/kubernetes/minikube/issues/14410#issuecomment-1171741503.

Since you're using the Docker driver, running `minikube delete` and starting minikube again should resolve your

[2022-07-13 18:59] #14528 closed

[2022-07-13 19:59] afbjorklund commented on #14527
It needs a different network, such as vde or tap

The "user" network only supports a single host, and very limited at that (no public ip address, needs tunneling)

[2022-07-13 20:45] AndriyDmytrenko commented on #14527
I believe it's more than the qemu2 driver only issue, I tried hyperkit with the very similar result.
see the log from the command attached. The cgroup driver option has been added by suggestion of previously failed start command, but without any luck - just to note here.
`minikube start --driver hyperkit -n 3 --extra-config=kubelet.cgroup-driver=systemd`

[logs.txt](https://github.com/kubernetes/m

[2022-07-13 22:22] JGDallas commented on #14470
Hi, thanks for following up  this issue is now resolved. I simply deleted
all docker related files and directories, then reinstalled Docker. I am now
able to run Docker again. Thanks

On Wed, Jul 13, 2022 at 1:27 PM klaases ***@***.***> wrote:

--
"I saw an angel in the marble and carved until I set him free." -
Michelangelo

[2022-07-13 22:32] klaases commented on #14470
Hi @JGDallas, thanks for your report, and glad to hear that reinstalling Docker helped solve the issue.

[2022-07-13 22:32] #14470 closed

[2022-07-13 23:38] medyagh opened #14580 "Add "service" command for qemu driver on M1"
### What Happened?

the service command on Qemu driver on MacBook is not implemented

Per @afbjorklund  this could be done similar to Docker Driver port forwarding

https://github.com/medyagh/minikube/blob/5b91e27da6f81d89829ae50d2381a76f650db806/cmd/minikube/cmd/service.go#L149

### Attach the log file

none

### Operating System

_No response_

### Driver

_No response_

[2022-07-14 03:03] Bhushan199 commented on #14365
Hi Kubernetes/Minikube,

Thank you for your reply , now it's working for me.

Regards,
Bhushan.

On Thu, Jul 14, 2022, 00:01 klaases ***@***.***> wrote:

[2022-07-14 04:36] asmimore commented on #14455
hi klaases , thanks for your concern.It resolved

[2022-07-14 07:09] klaases commented on #14460
Hi @afbjorklund, thanks for your response, I've added a check for k8s >= 1.24 in #14555 which should resolve this.

[2022-07-14 08:15] RA489 commented on #14577
/kind support

[2022-07-14 08:16] RA489 commented on #14558
/kind support

[2022-07-14 11:36] Nieto2018 commented on #10517
Hi @seanrmurphy,

Thanks, this solution works temporarily for me, but If I reboot my computer, or the services NetWorkManage/systemd-resolved or change my wifi connection to a different network, the file **/run/systemd/resolve/resolv.conf** is overwritten and It doesn't work. I tried different solutions others don't work or work temporarily.

Finally, I found a definitive solution that works with

[2022-07-14 11:37] Nieto2018 commented on #13740
Hi guys,

I posted my solution at the following link: https://github.com/kubernetes/minikube/issues/10517#issuecomment-1184340154.

Hope that helps!

[2022-07-14 12:46] miroslav-chandler commented on #13717
Have the same issue

[2022-07-14 13:10] techpenit opened #14584 "minikube start"
### What Happened?

😄  minikube v1.26.0 on Ubuntu 20.04
✨  Using the docker driver based on existing profile
💨  For improved Docker performance, enable the overlay Linux kernel module using 'modprobe overlay'
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...

E0714 15:48:08.100871   79090 cache.go:203] Error downloading kic artifacts:  failed to download kic bas

[2022-07-14 14:06] subbutony123 opened #14585 "minikube"
### What Happened?

 Failed to start none bare metal machine. Running "minikube delete" may fix it: creating host: create: precreate: exec: "
docker": executable file not found in $PATH

X Exiting due to GUEST_PROVISION: Failed to start host: creating host: create: precreate: exec: "docker": executable file
not found in $PATH
*
╭─────────────────────────────────────────────────────────────────────

[2022-07-14 14:47] favadi commented on #11645
I'll give this issue a try, downloading Windows 11 Russian ISO file.

[2022-07-14 17:08] klaases commented on #14455
Hi @asmimore, thanks for your confirmation, and glad to hear it was resolved.

[2022-07-14 17:26] medyagh opened #14587 "K8S_DOWNGRADE_UNSUPPORTED should not suggest create different profile for none driver"
### What Happened?

in none driver we do not have different profile

### Attach the log file

[code]

### Operating System

_No response_

### Driver

_No response_

[2022-07-14 17:36] ekersale opened #14588 "CoreDNS fail to start on k8s v1.21.2 with minikube 1.26.0"
### What Happened?

After upgrading from minikube 1.25.2 to 1.26.0 the k8s cluster does not initialize properly.

The pod coredns fail to start with the following error:

`Failed to create pod sandbox: rpc error: code = Unknown desc = failed to setup network for sandbox "fe730ceb2c951612ac1abcb13154f504640fada10852ccf03a570c4f75d38924": plugin type="bridge" name="crio" failed (add): failed to set

[2022-07-14 19:07] conradwt opened #14591 "Exiting due to RUNTIME_ENABLE error"
### What Happened?

➜ minikube start --kubernetes-version=v1.24.1 --alsologtostderr
I0714 11:58:34.071448   36650 out.go:296] Setting OutFile to fd 1 ...
I0714 11:58:34.071549   36650 out.go:348] isatty.IsTerminal(1) = true
I0714 11:58:34.071553   36650 out.go:309] Setting ErrFile to fd 2...
I0714 11:58:34.071556   36650 out.go:348] isatty.IsTerminal(2) = true
I0714 11:58:34.071800   36650 root.go

[2022-07-14 20:54] crfrolik commented on #8426
Why is this issue closed?

This line of code still exists: https://github.com/kubernetes/minikube/blob/master/pkg/minikube/node/cache.go#L158

It prints when using podman:

[2022-07-14 23:02] medyagh opened #14592 "Minikube service command should not try to open a URL for a failing pod"
### What Happened?

I noticed on our examples on website does not have Arm64 support yet
and when you try to curl the Service URL or open it in the browser it fails.

the real problem was the pod was crashing but minikube still gave me a URL
[code]

### Attach the log file
[code]

here is the log for the curl
[code]

### Operating System

MacOs

### Driver

Docker Driver

[2022-07-14 23:08] spowelljr commented on #14543
Can confirm it takes a while with a large audit file, I'm going to find exactly what part is a long time and see if I can optimize any, will likely cap the log count as well

[2022-07-14 23:20] #14424 closed

[2022-07-14 23:39] Manouchehri commented on #2773
I'm still running into the same issue. Can you reopen this @paultiplady?

[2022-07-15 01:38] OscarWortley10 commented on #13951
Would love to see a solution for this. Running Minikube tunnel when running on Mac is a bit cumbersome. Is this expected to be "fixed" at any point?

[2022-07-15 02:00] jeeinn commented on #14477
my logs.
[minikubelogs.log](https://github.com/kubernetes/minikube/files/9117052/minikubelogs.log)

[2022-07-15 03:30] FelixSuXP commented on #13717
Have the same issue

[2022-07-15 06:31] krishnarayapudi25 commented on #14159
worked

[2022-07-15 06:31] #14159 closed

[2022-07-15 06:33] klaases commented on #14580
Yes, I am following instructions on [minikube Start documentation](https://minikube.sigs.k8s.io/docs/start/) to create a service. This would be a good first step towards create a new service for QEMU.

**Blocked** - however these instructions are for INTEL CPU, and NOT M1/ARM64.

After doing some research, I located a similar issue ([link](https://github.com/kubernetes/minikube/issues/11107)).

1.

[2022-07-15 06:35] klaases commented on #14159
Hi @krishnarayapudi25, glad to hear and thanks for working with minikube!

[2022-07-15 11:06] Rahul295-tech commented on #6391
Failed to start none bare metal machine. Running "minikube delete" may fix it: boot lock: unable to open /tmp/juju-mkc8ab01ad3ea83211c
505c81a7ee49a8e3ecb89: permission denied

[2022-07-15 11:08] ro0NL commented on #9798
[code]

BUT

[code]

:shrug:

[2022-07-15 13:02] vipulsharma27 commented on #14577
Hi Team,

Any update??

[2022-07-15 17:37] Kishinskiy opened #14593 "Не устанавливается Addon Ingress  при использовании драйвера Parallels"
### Что произошло?

Пытаюсь установить аддон ingress но в итоге установка завершается ошибкой

❯ minikube addons enable ingress
    ▪ Используется образ k8s.gcr.io/ingress-nginx/controller:v1.2.1
    ▪ Используется образ k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.1.1
    ▪ Используется образ k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.1.1
🔎  Verifying ingress addon...

❌  Exiting due to

[2022-07-15 18:57] #13617 closed

[2022-07-15 18:57] vivek625 opened #14594 "minikube"
### What Happened?

minikube logs --file=log.txt

### Attach the log file

minikube logs --file=log.txt

### Operating System

_No response_

### Driver

_No response_

[2022-07-15 20:04] vivek625 opened #14595 "error"
### What Happened?

 Please run `minikube logs --file=logs.txt` and attach logs.txt to the GitHub issue

### Attach the log file

 Please run `minikube logs --file=logs.txt` and attach logs.txt to the GitHub issue

### Operating System

Ubuntu

### Driver

_No response_

[2022-07-15 21:06] spowelljr commented on #14595
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-07-15 21:06] spowelljr commented on #14594
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-07-15 21:08] spowelljr commented on #14591
Hi @conradwt, Kubernetes v1.24 introduced the requirement for `cri-dockerd` and since you previously created your cluster with a previous version of minikube it doesn't have `cri-dockerd` installed.

You can easily resolve this by running `minikube delete` and then starting your cluster again.

[2022-07-15 21:11] spowelljr commented on #14585
Hi @subbutony11, do you Docker Engine installed on your machine?

https://docs.docker.com/engine/install/

[2022-07-15 21:18] spowelljr commented on #14544
Hi, this is a duplicate of https://github.com/kubernetes/minikube/issues/14410, for a detailed explanation see https://github.com/kubernetes/minikube/issues/14410#issuecomment-1171741503.

Basically you need to install cri-dockerd, see the install instructions here: https://github.com/Mirantis/cri-dockerd#build-and-install

[2022-07-15 21:30] miladr0 commented on #8756
I ran to this issue on minikube version `v1.26.0` too.
steps that I've done to solve it:

- type `kubectl get pods -n ingress-nginx` and you should see something like the following:
[code]
- and then if you do `kubectl describe pod -n ingress-nginx <pod-name>` you should be able to see all of the logs within the pod.
I checked the logs of `ingress-nginx-controller-755dfbfc65-xtrs5` and saw its can

[2022-07-15 22:16] klaases commented on #14580
Thanks @medyagh for helping me to build an image for Mac M1/ARM64!

What is a service in Kubernetes?
- Port that points to a pod in Kubernetes, a pod that is running a server.
- hello-minikube is a simple server to say _hello-world_.

Create a new file `nginx.yaml`:

[code]

Apply an Kubernetes pod & service configuration:
`kubectl apply -f nginx.yaml`

Login to pod:
`kubectl exec --stdin --tty ng

[2022-07-15 22:41] klaases commented on #11107
If anyone is interested in creating their own pod and service to use with the tutorial on Mac M1/ARM64, this [comment](https://github.com/kubernetes/minikube/issues/14580#issuecomment-1185990358) might be helpful. Let me know if any questions.

[2022-07-16 04:50] vivek625 commented on #14594
same problem

[2022-07-16 07:55] pratiiik opened #14601 "Failed to enable unit: Unit file cri-docker.socket does not exist."
### What Happened?

Trying to start minikube using --vm-driver=None.

logs are below:

*
* ==> Audit <==
* |---------|------------------|----------|------|---------|---------------------|----------|
| Command |       Args       | Profile  | User | Version |     Start Time      | End Time |
|---------|------------------|----------|------|---------|---------------------|----------|
| start   | --vm-

[2022-07-16 08:01] afbjorklund commented on #14601
Same as:
* https://github.com/kubernetes/minikube/issues/14410

[2022-07-16 12:51] repeating commented on #13788
Type the following and you'll get a url
`minikube service <service-name> --url`
For example:

<img width="678" alt="image" src="https://user-images.githubusercontent.com/37001921/179355625-4135a4d0-39a8-437f-9a6e-d1755cbb7f14.png">

You can access your service through that url

[2022-07-16 17:49] opg7371 commented on #14592
Please allow me work on this issue.
/assign opg7371

[2022-07-16 18:35] Aryan-Deshpande commented on #7970
my minikube cluster started working after this change.
-> minikube delete
-> minikube start
. Thanks alot !

[2022-07-16 21:09] #13602 closed

[2022-07-17 00:09] #13486 closed

[2022-07-17 00:09] #13572 closed

[2022-07-17 04:45] zarak-shahjee commented on #13344
@DylanSijanivandi Can you please explain how did you made it work in detail?

[2022-07-17 08:19] maxb commented on #14035
/reopen

Sorry for going quiet on this one - initially I wasn't sure how to usefully and effectively challenge "The none driver is not recommended for laptops", so I took some time to think about it ... and then life got in the way and I never got back to this issue.

I can see the point that the `none` driver isn't the right starting point for everyone on a laptop - especially now you need to set

[2022-07-17 09:13] maxb commented on #14034
/reopen

Sorry for going quiet here, as with #14035, I put this to one side to think about how to effectively challenge "You are supposed to mount a persistent directory, at that temporary mountpoint", and then life got in the way.

It's certainly fair to send me to the documentation, and it does say that I should bind mount or symlink these directories to another location.

However, there are a f

[2022-07-17 09:24] NayeemNishaat commented on #14467
I think the issue was with my storage. After cleaning up my storage and reinstalling minikube fixed the issue!

[2022-07-17 09:25] #14467 closed

[2022-07-17 10:00] afbjorklund commented on #14034
Patches accepted:

* https://github.com/kubernetes/minikube/issues/3318

The current workaround is to document the status quo, how it is being used from the ISO and from KIC, so that user can duplicate the setup in their own machine. It _would_ be better, if this was in config instead.

[2022-07-17 11:45] sanchit0592 opened #14602 "Exiting due to DRV_CREATE_TIMEOUT: Failed to start host: creating host: create host timed out in 360.000000 seconds"
### What Happened?

 I need help on this issue. I am trying to start the minikube and facing this error.
master@master-VirtualBox:~$ minikube start --driver=virtualbox
:smile:  minikube v1.26.0 on Ubuntu 22.04
:sparkles:  Using the virtualbox driver based on user configuration
:+1:  Starting control plane node minikube in cluster minikube
:fire:  Creating virtualbox VM (CPUs=2, Memory=2200MB, Disk

[2022-07-17 12:19] mwilc0x commented on #12899
Hi, this is confusing me too as seeing multiple different output when starting and then using the tunnel for a while. The experience I am having is thinking broke something with minimal feedback.

It would be great if could be fixed, or if we could document why this happens and offer and other solutions/alternatives and what those are for people who use Docker.

[2022-07-17 12:21] mwilc0x opened #14603 "A11y: emoji use in log output"
### What Happened?

Hi,

This is not an code specific issue but feedback from a blind developer friend using the software:

"The use of emojis in the output logs makes using this software more challenging for me."

Thanks

### Attach the log file

N/A

### Operating System

_No response_

### Driver

_No response_

[2022-07-17 18:50] preetsohivirk opened #14604 "minikube"
### What Happened?

X Exiting due to RUNTIME_ENABLE: Temporary Error: sudo crictl version: exit status 1
stdout:

### Attach the log file

stderr:
sudo: crictl: command not found

### Operating System

Windows

### Driver

Docker

[2022-07-17 19:41] afbjorklund commented on #14603
Sorry to hear that, it is possible to disable the emoji output using `$MINIKUBE_IN_STYLE`:

https://minikube.sigs.k8s.io/docs/faq/#can-i-get-rid-of-the-emoji-in-minikubes-output

[2022-07-17 19:43] afbjorklund commented on #14603
If someone else is wondering about "ally", it is about accessibility: https://www.a11yproject.com/

[2022-07-18 04:03] samarjit opened #14605 "Minikube virtualbox vm has docker.service masked"
### What Happened?

When I logged into vm and check systemctl status docker and it says docker is masked, and I was not able to unmask it.
I was finally be able to run minikube using containerd  `minikube start --no-vtx-check  --container-runtime=containerd`. But I am still wondering why docker did not work in my system.

    $ minikube start --no-vtx-check
    * minikube v1.26.0 on Microsoft Wind

[2022-07-18 07:31] rahil-p commented on #7332
@michelesr Thanks for sharing - that tool is incredibly useful.  It's the only way I've been able to get ingress-dns to work on a Mac with an ARM64 chip.

[2022-07-18 10:16] little-hang commented on #14578
I install mac-minikube by homebrew method: brew install minikube
and the problem has been solved

[2022-07-18 10:23] RA489 commented on #14604
@preetsohivirk I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Th

[2022-07-18 10:24] RA489 commented on #14604
/triage needs-information

[2022-07-18 10:24] RA489 commented on #14602
/kind support

[2022-07-18 10:25] RA489 commented on #14588
/kind support

[2022-07-18 10:25] RA489 commented on #14584
/kind support

[2022-07-18 18:45] klaases commented on #14561
Hi @lordigon, here is some additional information for `--force-systemd`:

https://minikube.sigs.k8s.io/docs/faq/#docker-driver-how-can-i-set-minikubes-cgroup-manager

Thanks for your question, closing out for now.

[2022-07-18 18:45] #14561 closed

[2022-07-18 19:21] gilbahat opened #14607 "Wrong CPU emulation on minikube qemu driver"
### What Happened?

For some reason unclear to me, qemu will default to emulated CPU when running under minikube:

➜  ~ minikube ssh
(snipped)
$ cat /proc/cpuinfo |grep -i model
model		: 107
model name	: QEMU Virtual CPU version 2.5+
model		: 107
model name	: QEMU Virtual CPU version 2.5+

this is the command line that generated this machine:

➜  ~ ps aux | grep -i qemu
gilbahat         12640  83.

[2022-07-18 19:46] joaosramos commented on #1381
Confirmed in Mac M1.

[2022-07-18 20:14] afbjorklund commented on #14607
Sounds reasonable, the only issue seen so far was that it is not available on all OS.

[2022-07-18 21:14] NaoyukiTai commented on #4206
This is biting me as well. I followed up most of suggestions including the /etc/pf.anchors. I cannot turn off the firewall as my company Mac is under control of Falcon.

Mac is Intel, Monterey 12.4.  As of 2022-07-18, as far as I can tell,
minikube - 1.26.0
hyperkit  - 0.20200908
docker-machine-driver-hyperkit - 1.0.0

[minikube_logs_1b004fc441daa6a7016058454b974cf8421ba12a_0.log](https://github.c

[2022-07-18 21:21] minikube-bot opened #14608 "Frequent test failures of `TestNetworkPlugins/group/calico/NetCatPod`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestNetworkPlugins/group/calico/NetCatPod)|25.00|

[2022-07-19 10:11] afbjorklund commented on #14607
Sure, but no need to list all the exotic OS... Just enable it for "linux" and "darwin" when the arch matches ?

[2022-07-19 10:26] gilbahat commented on #14607
I agree - if we don't have all the details as it's preferable to totally breaking support for an OS, however exotic.
Then again, I'd like to consider 'host' the real default and avoid using it only when there's a reason not to because it has downsides.

[2022-07-19 11:09] afbjorklund commented on #14607
It is only semi-supported on macOS and Darwin, making qemu work on Windows is a work-in-progress still...
NetBSD works (but nobody uses it), and FreeBSD is currently lacking acceleration (ever since kqemu died)

[2022-07-19 16:57] preetsohivirk commented on #14604
actually I am new to this. I am gonna attach the screenshot of issue been struggling to fix it
![Screenshot (1)](https://user-images.githubusercontent.com/91236048/179807204-772619a9-8858-4c41-8c56-2bf2de77626b.png)
.

[2022-07-19 18:17] klaases commented on #14112
Closing out for now - thanks for the detailed information.

[2022-07-19 18:17] #14112 closed

[2022-07-19 18:55] vivek625 commented on #14604
same problem
how to solve this problem .......................????????????

[2022-07-20 00:03] drobit commented on #14593
hey @Kishinskiy
can you check it with:
`export NO_PROXY=localhost,127.0.0.1,10.96.0.0/12,192.168.59.0/24,192.168.49.0/24,192.168.39.0/24`

[2022-07-20 07:24] Tofayel407 opened #14610 "Problem to Install Kubectl & Minikub in Kubernetes"
### What Happened?

using command below:
sudo apt update && apt -y install docker.io

install Kubectl::

curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl && chmod +x ./kubectl && sudo mv ./kubectl /usr/local/bin/kubectl

install Minikube::

curl -Lo minikube https://storage.goo

[2022-07-20 07:42] afbjorklund commented on #14607
[code]

[2022-07-20 07:57] RA489 commented on #14610
/kind support

[2022-07-20 13:22] baibhavas opened #14611 "X Exiting due to RUNTIME_ENABLE: sudo systemctl enable cri-docker.socket: exit status 1 stdout: stderr: Failed to enable unit: Unit file cri-docker.socket does not exist."
### What Happened?

X Exiting due to RUNTIME_ENABLE: sudo systemctl enable cri-docker.socket: exit status 1
stdout:

stderr:
Failed to enable unit: Unit file cri-docker.socket does not exist.

### Attach the log file

X Exiting due to RUNTIME_ENABLE: sudo systemctl enable cri-docker.socket: exit status 1
stdout:

stderr:
Failed to enable unit: Unit file cri-docker.socket does not exist.

### Opera

[2022-07-20 16:04] frkngthb opened #14612 "minikube doesnt start"
I installed kubectl and minicube on my computer (windows 10 home )
kubectl worked but minicube didnt.
it says on powershell as;

PS C:\WINDOWS\system32> minikube start
* minikube v1.26.0 on Microsoft Windows 10 Home Single Language 10.0.19043 Build 19043
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster minikube
* virtualbox "minikube" VM is

[2022-07-20 18:13] klaases commented on #11628
Hi @andriyDev,  I see that https://github.com/kubernetes/minikube/pull/11629 has been merged.

I have not yet encountered this - are you still experiencing this issue?

[2022-07-20 18:17] klaases commented on #14612
Hi @frkngthb, have you tried running `minikube delete` to see if this helps?

If you don't mind, could you provide minikube logs?

Please attach (drag) the`logs.txt` file to this issue  which can be generated by running this command:

[code]

This will help us isolate the problem further. Thank you!

/triage needs-information
/kind support

[2022-07-20 18:18] klaases commented on #14611
Hi @baibhavas, yes, I am working on. PR (#14555) to help improve this error message.

But to solve this situation, please install cri-dockerd:
https://github.com/Mirantis/cri-dockerd#build-and-install

[2022-07-20 18:25] klaases commented on #14520
Hi @siddhant-khisty, how are things going, have you been able to work on the issue?

[2022-07-20 18:34] siddhant-khisty commented on #14520
hey @klaases , I am working on this issue. Looks like the PR didn't get attached to the issue for some reason.

[2022-07-20 18:45] klaases commented on #14544
Hi @Piyushmoorjani, were you able to review the comments above?

If needed, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

* Attach

[2022-07-20 18:47] klaases commented on #14537
Hi @ganesshi, have you tried installing `cri-dockerd` as shown below:

`❌ Exiting due to RUNTIME_ENABLE: sudo systemctl enable cri-docker.socket: exit status 1`

[2022-07-20 20:25] klaases commented on #14509
Hi @ikamensh – did you have a chance to review the documentation?

Please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

* Attach the full

[2022-07-20 20:25] #14509 closed

[2022-07-20 20:34] asdf93074 commented on #14132
I had this a few months ago so I don't remember all the details now but yes we had the awsecr-cred secret in our default namespace. Lets just keep this closed though till I get time to repro this issue with the latest minikube release. If the guide works for others then I think its all good.

[2022-07-20 20:35] klaases commented on #14464
Hi, have you tried installing `cri-dockerd`? This may be the source of the error.

---

嗨，你试过安装 cri-dockerd 吗？这可能是错误的根源。

[2022-07-20 20:37] klaases commented on #14462
In this case please try `minikube delete --all` to start fresh.

[2022-07-20 20:39] klaases commented on #14458
Thank you for sharing your experience! If you don't mind, could you provide minikube logs?

Please attach (drag) the`logs.txt` file to this issue  which can be generated by running this command:

[code]

This will help us isolate the problem further. Thank you!

/triage needs-information
/kind support

---

感谢您分享您的经验！如果你不介意，你能提供 minikube 日志吗？

请将“logs.txt”文件附加（拖动）到此问题，该文件可以通过运行以下命令生成：

[code]

这将有

[2022-07-20 20:41] klaases commented on #14451
Hi @rhythmshandlya, have you tried debugging this issue?

Can you provide a little bit more information about what is failing?

Also, is this issue still occurring?

[2022-07-20 21:21] nwhln-sgrid opened #14613 "Minikube Ingress Container Pull Error"
### What Happened?

I cannot pull the ingress container. My current minikube version:
[code]

Prior to attempting firing up minikube:
[code]

Attempting to start minikube with ingress:
[code]

### Attach the log file

[minikube.log](https://github.com/kubernetes/minikube/files/9154585/minikube.log)

### Operating System

Ubuntu

### Driver

Docker

[2022-07-20 22:26] klaases commented on #14580
Minikube service documentation reference:
https://minikube.sigs.k8s.io/docs/commands/service/

[2022-07-21 00:18] conradwt commented on #14591
@spowelljr This resolved my issue and thanks for the information.  Thus, I'm closing this issue.

[2022-07-21 00:18] #14591 closed

[2022-07-21 06:21] ShaikSaleem123 opened #14616 "Failed to enable unit: Unit file cri-docker.socket does not exist"
### What Happened?

unable to run minikube .
it is throwing this issue

### Attach the log file

*
* ==> Audit <==
* |---------|------------------|----------|------|---------|---------------------|----------|
| Command |       Args       | Profile  | User | Version |     Start Time      | End Time |
|---------|------------------|----------|------|---------|---------------------|----------|
| start

[2022-07-21 07:39] zeynepkoyun commented on #3582
Hi @hellovietduc
I'm having the same problem, did you solve it?

[2022-07-21 08:03] rob2universe opened #14617 "Minikube Exiting due to PROVIDER_DOCKER_NOT_RUNNING: "docker system info" accepts no arguments."
### What Happened?

Minikube does not start because ""docker system info" accepts no arguments.

I0721 15:48:06.938659   20401 start.go:816] status for docker: {Installed:true Healthy:false Running:false NeedsImprovement:false Error:docker system info --format "{{json .}}": exit status 1
stdout:

stderr:
"docker system info" accepts no arguments.

**However Docker on my Ubuntu 18 WSL is working fi

[2022-07-21 08:09] afbjorklund commented on #14616
Same as:
* https://github.com/kubernetes/minikube/issues/14410

[2022-07-21 08:11] hmeerlo commented on #14542
Anybody have a clue, or a workaround, or any hint at all? This severely disrupts any developer setup I would say. It is extremely annoying to have to create a new Docker image for every development iteration you do.

[2022-07-21 08:34] hmeerlo commented on #14542
Yes excellent, that worked! Thanks a lot.

[2022-07-21 08:34] #14542 closed

[2022-07-21 08:59] Pablompg opened #14618 "apiserver healthz never reported healthy: timed out waiting for the condition"
### What Happened?

After installing minikube and running `minikube start --alsologtostderr` on ubuntu 22 the error attached is shown with this summary:

[code]

minikube was installed via stable release on x86-64 Linux using binary download.

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/9157846/logs.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-07-21 09:06] Pablompg commented on #14584
Same error as me [here](https://github.com/kubernetes/minikube/issues/14618). What OS are you running? What command did you use to run minikube? Are you using docker as a driver or something else? Has docker worked fine for you before?

[2022-07-21 10:04] ashok-arora opened #14619 "Incorrectly formatted error message"
### What Happened?

I ran `minikube service hello-node` and received the following message:
[code]
Instead this should have been just
[code]

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/9158353/log.txt)

### Operating System

Windows

### Driver

Hyper-V

[2022-07-21 10:05] ashok-arora commented on #14619
I would love to send a patch to fix this but I am not sure how to do that.

[2022-07-21 10:24] ashok-arora commented on #14613
Is it related to https://github.com/kubernetes/minikube/issues/8756?

[2022-07-21 11:25] vivek625 opened #14620 "Hi @preetsohivirk, I am working on PR (#14555) and encountered this issue too, I solved it via the following:"
Hi @preetsohivirk, I am working on PR (#14555) and encountered this issue too, I solved it via the following:

---

(Copied from: #14555):

Note: if you encounter the error crictl not found:

[code]

By default, `crictl` will work from `/usr/local/bin/`, however minikube requires crictl to be in `/usr/bin/` (https://github.com/kubernetes/minikube/issues/5547#issuecomment-556984525).

Manually fix

[2022-07-21 11:26] vivek625 commented on #14620
cp: cannot stat '/usr/local/bin/crictl': No such file or directory
this problem create sir
please another method provide

[2022-07-21 13:55] tarunkishore2303 commented on #13951
I guess the service is not exposed on `minikube ip` but rather exposed in some other port on my `localhost` .

I tried running this command and gave the localhost url with some other port that was different from the port mentioned in my config file.

`minikube service cluster-node-port --url`

P.S : I tried this on windows and works in command prompt and doesn't work on powershell though.

[2022-07-21 19:21] nwhln-sgrid commented on #14613
When I check the kubectl deployment via
`kubectl -n ingress-nginx edit deployment ingress-nginx-controller`
The pod image URL is listed as:
`k8s.gcr.io/ingress-nginx/controller:v1.2.1@sha256:5516d103a9c2ecc4f026efbd4b40662ce22dc1f824fb129ed121460aaa5c47f8`
Which returns a 404.

[2022-07-21 19:23] nwhln-sgrid commented on #14613
When I attempt to pull via docker:
[code]

[2022-07-21 19:58] nwhln-sgrid commented on #14613
For some reason, after installing `virtualbox` & `virtualbox-dkms` the ingress add-on works. I stopped minikube afterwards, deleted the cluster, rebooted the server & re-ran the minikube command successfully:
[code]

[2022-07-21 20:40] nwhln-sgrid commented on #14613
Some more background on the issue, it appears to be due to a missing secret:
`kubectl describe pod ingress-nginx-controller-755dfbfc65-52zqr -n ingress-nginx`
[code]
`kubectl get secret -n ingress-nginx`
`No resources found in ingress-nginx namespace.`

[2022-07-22 03:22] RA489 commented on #14618
/kind support

[2022-07-22 03:22] RA489 commented on #14617
/kind support

[2022-07-22 03:34] RA489 commented on #14619
/triage needs-information

[2022-07-22 04:26] adarshhp14 opened #14621 "not able to start minikube in ubuntu instance"
### What Happened?

root@ip-172-31-34-0:/home/ubuntu# minikube start --vm-driver=none
* minikube v1.26.0 on Ubuntu 22.04 (xen/amd64)
* Using the none driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Running on localhost (CPUs=2, Memory=3922MB, Disk=7764MB) ...
* OS release is Ubuntu 22.04 LTS

X Exiting due to RUNTIME_ENABLE: sudo systemctl enable cri

[2022-07-22 06:47] ashok-arora commented on #14619
The error message is confusing and cryptic at first, with the mention of line numbers of the  source code file and stuff. We should print just the error message for the end user.

[2022-07-22 07:02] #13647 closed

[2022-07-22 11:49] frkngthb commented on #14612
after running minikube logs --file=logs.txt command this link come

C:\Users\furkan\AppData\Local\Temp\minikube_logs_4f7b835412f729c87ab31d74cf0f740d7cd1ec87_0.log
and said system couldn't find the file

[2022-07-22 11:51] maslke commented on #14433
see issue #14477 . It fixed my problem.

[2022-07-22 12:18] maslke commented on #14477
minikube version: v1.26.0 On Ubuntu 20.04.4 LTS，same issue.
This saved me.

[2022-07-22 12:47] vbezhenar opened #14622 "qemu from macports is not recognized"
### What Happened?

I installed minikube and qemu from macports. It does not work. It exits with the following error: "Exiting due to PROVIDER_QEMU2_NOT_FOUND: The 'qemu2' provider was not found: lookup qemu: open /opt/homebrew/Cellar/qemu: no such file or directory". Is it possible to configure it to work with macports qemu?

[code]

### Attach the log file

[log.txt](https://github.com/kubernete

[2022-07-22 13:20] afbjorklund commented on #14622
Try the `--qemu-firmware-path` option, and point it to the location where MacPorts installs the firmware files

[2022-07-22 13:25] afbjorklund commented on #14622
Ideally it should look in **both** places, first try with homebrew and then try with macports if it is missing

[2022-07-22 13:33] afbjorklund commented on #14617
Is your client the same version as the server (20.10.17) ? Can you post the output of `docker version` ?

The help is _supposed_ to look like:

[code]

Normally they are the same version.

[2022-07-22 13:34] afbjorklund commented on #14621
Same as:
* https://github.com/kubernetes/minikube/issues/14410

[2022-07-22 14:04] afbjorklund commented on #14622
Ah, right. The code has some weird parts were it looked through _all_ versions of qemu installed (?). Thanks for correcting.

[2022-07-22 16:31] nwhln-sgrid commented on #14613
Anyone have any ideas?

[2022-07-22 20:29] MRafaydev commented on #14621
This Same issue happened to me,
Steps to Reproduce:
1) Reinstall the ubuntu.
2) Download the minikube from its original documentation according to your os.
3) After the installation simply uses **minikube start** it will automatically detect the driver.

<img width="956" alt="image" src="https://user-images.githubusercontent.com/66843891/180551627-97f0b86a-0124-4658-b591-1212a01e905d.png">

[2022-07-23 05:55] RA489 commented on #14613
/kind support

[2022-07-23 08:01] cityiron commented on #14477
good job.

[2022-07-23 14:42] speedfinger opened #14623 "Failed to run Minikube"
### What Happened?

Failed to run Minikube on wsl2 unbuntu(Release : 20.04)
and i'm using docker desktop

I have already  identified the following issues.
https://github.com/kubernetes/minikube/issues/12274

1. Make sure you're using the arm64 binary of minikube
  -> checked
2. Run minikube delete --all --purge
  -> checked
Try starting minikube again
 -> still failed.

### Attach the log file

I0

[2022-07-23 14:44] speedfinger commented on #14623
[logs220723.txt](https://github.com/kubernetes/minikube/files/9173984/logs220723.txt)

full logs

[2022-07-23 17:31] germanflighel commented on #13510
Dropping by to let you know what worked for us:
- enabling the Ingress addon for minikube `minikube addons enable ingress`
- `minikube tunnel` was needed. Do this in another terminal since it needs to be up. You should see logs indicating that the tunnel is working for your exposed service
- Though it only worked with `LoadBalancer` services. Using either `NodePort` or the default service type, wo

[2022-07-23 17:39] andriyDev commented on #11628
I no longer use minikube, and no one else has reported this so I'll just close the issue.

[2022-07-23 17:39] #11628 closed

[2022-07-23 20:21] #11973 closed

[2022-07-23 20:21] #12776 closed

[2022-07-24 03:17] qiuyuhang opened #14624 "minikube start failed even with --image-mirror-country=cn in china"
### What Happened?

## Reason：
Still access k8s.gcr.io/pause:3.6.

## How to work around：
[code]
## How to fix:
need to use registry.aliyuncs.com/google_containers/pause:3.6 in minikube.

### Attach the log file

Noop

### Operating System

Redhat/Fedora

### Driver

Docker

[2022-07-24 06:17] Linzi-demo opened #14625 "minikube start failed"
### What Happened?

I made some errors when using minicube. Kubelet did not start normally. Here is my log

[minikube_start_log.txt](https://github.com/kubernetes/minikube/files/9175229/minikube_start_log.txt)

my docker version
![image](https://user-images.githubusercontent.com/20336742/180634912-5d3d6619-fed6-4fa7-b824-edd4154deefa.png)

### Attach the log file

run command error

[code]

E0724

[2022-07-24 08:14] vinay2204 opened #14626 "not working"
### What Happened?

i have ubuntu and wants to start minikube but facing issues

### Attach the log file

If the above advice does not help, please let us know:                             │
│    👉  https://github.com/kubernetes/minikube/issues/new/choose                           │
│                                                                                           │
│    Please run `minik

[2022-07-24 08:41] drobit commented on #14626
Hey, @vinay2204 could you provide minikube logs?
`minikube logs --file=logs.txt`

[2022-07-24 09:14] RA489 commented on #14626
@vinay2204 I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank

[2022-07-24 09:14] RA489 commented on #14626
/triage needs-information

[2022-07-24 09:14] RA489 commented on #14625
/kind support

[2022-07-24 09:15] RA489 commented on #14624
/kind support

[2022-07-24 09:15] RA489 commented on #14623
/kind support

[2022-07-24 12:39] qiuyuhang commented on #14624
Forgot the version. It's the latest version.
[code]

[2022-07-24 13:56] shubham-cmyk commented on #14410
You need to install the cri-dockerd,
We will build the cri-dockerd from scratch.

Clone the repo: `git clone https://github.com/Mirantis/cri-dockerd.git`

Install Golang Skip If present :

1. wget https://storage.googleapis.com/golang/getgo/installer_linux
2. chmod +x ./installer_linux
3. ./installer_linux
4. source ~/.bash_profile

Build the cri-dockerd :

1. cd cri-dockerd
2. mkdir bin
3. go get

[2022-07-24 18:31] #10128 closed

[2022-07-24 18:31] #13358 closed

[2022-07-25 00:22] rob2universe commented on #14617
Thanks for your reply. Both 20.10.17:

Client: Docker Engine - Community
 Version:           20.10.17
 API version:       1.41
 Go version:        go1.17.11
 Git commit:        100c701
 Built:             Mon Jun  6 23:02:56 2022
 OS/Arch:           linux/amd64
 Context:           default
 Experimental:      true

Server: Docker Engine - Community
 Engine:
  Version:          20.10.17
  API versio

[2022-07-25 00:23] rob2universe commented on #14617
docker system info without --format \"{{json .}}\" parameter:

Client:
 Context:    default
 Debug Mode: false
 Plugins:
  app: Docker App (Docker Inc., v0.9.1-beta3)
  buildx: Docker Buildx (Docker Inc., v0.8.2-docker)
  compose: Docker Compose (Docker Inc., v2.3.3)
WARNING: Plugin "/usr/local/lib/docker/cli-plugins/docker-scan" is not valid: failed to fetch metadata: fork/exec /usr/local/lib/doc

[2022-07-25 00:32] hidetarou2013 opened #14627 "minikube start できませんでした。"
**問題を再現するための手順:**

1.
2.
3.

**`minikube logs --file=logs.txt` を実行して、このissueにログファイルをドラッグ&ドロップしてください**

**`minikube start` ではない場合は、失敗したコマンドの全出力:**
<details>

</details>
[logs.txt](https://github.com/kubernetes/minikube/files/9177067/logs.txt)

[2022-07-25 00:39] hidetarou2013 commented on #14627
[ls-minikube.txt](https://github.com/kubernetes/minikube/files/9177087/ls-minikube.txt)

以下のファイルは確かに私の環境には存在していませんでした。
/home/vagrant/.minikube/config/config.json

[2022-07-25 08:42] tamaw commented on #14625
Can you try:
`minikube delete`
`minikube start --kubernetes-version=1.23.9`

and see if it works please?
Could be related to https://github.com/kubernetes/kubernetes/pull/107413 but unconfirmed.

[2022-07-25 09:24] urvashichoubey-dev commented on #14588
Can you please provide solution the following.

[2022-07-25 09:29] afbjorklund commented on #14617
Hmm, still no clues as to where it is picking up the old docker client from.

[2022-07-25 09:39] afbjorklund commented on #14621
You don't need to reinstall your OS, just to install cri-dockerd in the VM.

[2022-07-25 14:33] PalmaPedro commented on #14540
Hello

same issue with me. I even allowed extra memory upon start by 'minikube start --memory=4g' but still the 'apiserver' is stopped. Have you fixed it?

[2022-07-25 15:39] cp99says commented on #14540
@PalmaPedro no, I was not able to solve the issue, I am still facing problems to start the cluster. I was fed up and started it in windows, there it ran in a single run. Hoping for some help from the Kube community :)

[2022-07-25 16:40] Sneaksolid opened #14631 "Pods cannot access host.minikube.internal"
### What Happened?

When creating a new cluster the pods cannot connect to the host via "host.minikube.internal".

The creation itself works, but after some looking into it i saw the following rule when executing `iptables -t nat -L`

[code]

which seems like the problem. as the --dport is missing and all traffic gets rerouted instead of only the dns requests.

Thanks in advance for helping.

Dock

[2022-07-25 17:15] edgarboris opened #14632 "Minikube unable to pick a default driver"
### What Happened?

After installing KUBECTL successfully i wanted to install minikube.
but it sends me the error details as pasted below.

I am using a WSL2(Ubuntu)
i have also installed a docker desktop

### Attach the log file

Here is what was considered, in preference order:
    ▪ docker: Not healthy: "docker version --format {{.Server.Os}}-{{.Server.Version}}" exit status 1: Got permission d

[2022-07-25 17:28] spowelljr commented on #14601
Hi @pratiiik, as @afbjorklund pointed out, this is a duplicate of https://github.com/kubernetes/minikube/issues/14410, to see how to resolve this issue please see https://github.com/kubernetes/minikube/issues/14410#issuecomment-1171741503. I'm going to close this issue.

[2022-07-25 17:28] #14601 closed

[2022-07-25 17:29] spowelljr commented on #14616
Hi @ShaikSaleem123, as @afbjorklund pointed out, this is a duplicate of https://github.com/kubernetes/minikube/issues/14410, to see how to resolve this issue please see https://github.com/kubernetes/minikube/issues/14410#issuecomment-1171741503. I'm going to close this issue.

[2022-07-25 17:29] #14616 closed

[2022-07-25 17:42] spowelljr commented on #14595
When you run `minikube logs --file=logs.txt` a log file called `logs.txt` in the directory that you ran the command in should generate a file and you need to upload that file to here.

[2022-07-25 17:47] spowelljr commented on #14594
Duplicate of https://github.com/kubernetes/minikube/issues/14595, closing

[2022-07-25 17:47] #14594 closed

[2022-07-25 17:48] edgarboris commented on #14632
-
<img width="539" alt="image" src="https://user-images.githubusercontent.com/32974755/180841452-f2dac583-bc83-441e-912f-9e96939c194d.png">

I have found a solution it worked for me
anyway i just share it it could help someone else

[2022-07-25 20:47] spowelljr commented on #14632
Glad you resolved your issue, it looks like you just needed to run the Docker Engine post-install steps

https://docs.docker.com/engine/install/linux-postinstall/

[2022-07-25 20:47] #14632 closed

[2022-07-25 22:12] fdfytr commented on #14400
That did not help in my case - Archlinux with minikube from community rep
got similar error by trying to run rootless with podman driver on containerd

I had noticed `Your kernel does not support swap limit capabilities or the cgroup is not mounted.
Your kernel does not support CPU cfs period/quota or the cgroup is not mounted.` gets everywhere.

Can that be a culprit for the problem?

[2022-07-26 00:00] #14493 closed

[2022-07-26 03:43] armittal89 commented on #14296
Command used was : minikube start --driver=kvm2 --alsologtostderr -v=99

I0725 20:38:37.768996    5203 out.go:298] Setting OutFile to fd 1 ...
I0725 20:38:37.769098    5203 out.go:350] isatty.IsTerminal(1) = true
I0725 20:38:37.769110    5203 out.go:311] Setting ErrFile to fd 2...
I0725 20:38:37.769123    5203 out.go:350] isatty.IsTerminal(2) = true
I0725 20:38:37.769248    5203 root.go:313] Updat

[2022-07-26 06:08] Mxiaoyu commented on #14477
mac 系统，遇到同样问题，解决！

[2022-07-26 07:17] RA489 commented on #14631
/kind support

[2022-07-26 07:25] fdfytr commented on #14400
Looks like I am talking with myself :) but I followed [this solution from podman](https://github.com/containers/podman/blob/main/troubleshooting.md#26-running-containers-with-cpu-limits-fails-with-a-permissions-error) and was able to run minikube with podman by containerd

it is not an issue with minikube, it is rootless podman

[2022-07-26 09:36] PalmaPedro commented on #14540
I'm also on Linux Mint, I'll report back if i find a solution

[2022-07-26 12:45] xunfeng1980 opened #14638 "start fail on ubuntu 22.04 with driver=none and runtime=containerd"
### What Happened?

I0726 20:44:17.787751  261426 out.go:296] Setting OutFile to fd 1 ...
I0726 20:44:17.787874  261426 out.go:348] isatty.IsTerminal(1) = true
I0726 20:44:17.787883  261426 out.go:309] Setting ErrFile to fd 2...
I0726 20:44:17.787889  261426 out.go:348] isatty.IsTerminal(2) = true
I0726 20:44:17.788090  261426 root.go:329] Updating PATH: /root/.minikube/bin
I0726 20:44:17.788315

[2022-07-26 13:42] armittal89 commented on #14296
/reopen

[2022-07-26 14:00] spurin opened #14639 "Node add networking errors with default Mac OS X (arm) / Docker 4.10.1 (82475) installation"
### What Happened?

If I create a 3 node cluster using the defaults on a standard Mac OS X Monterey arm build -

[code]

And then I add another node -

[code]

And then attempt to run a daemonset -

[code]

It fails to provision the pod to the 4th node, with the following error -

[code]

If I repeat the process with a different CNI, i.e. calico, it works as expected -

[code]

### Attach the log

[2022-07-26 14:18] jean-christophe-manciot opened #14640 "minikube start --driver=docker fails with multiple issues"
### What Happened?
[code]
With a fresh docker installation (no prior docker container exists), everything seems to work fine up to:
- ```Unable to extract preloaded tarball to volume``` then
- ```docker: Error response from daemon: Address already in use```
- ```libmachine: Error dialing TCP: ssh: handshake failed```
[code]

Also:
[code]

### Attach the log file

❌  Exiting due to DRV_CP_ENDPOINT:

[2022-07-26 14:59] jean-christophe-manciot commented on #14640
After:
- removing ~/.minikube
- purging docker-ce
- installing docker-ce

Same exact issues when not mounting anything:
- ```docker: Error response from daemon: Address already in use```
- ```libmachine: Error dialing TCP: ssh: handshake failed```
[code]

[2022-07-26 15:38] whg517 opened #14641 "start failure in qemu, need k8s.gcr.io/pause:3.6 not 3.7"
### What Happened?

It's too long.

Log file:

[minikube-start.log](https://github.com/kubernetes/minikube/files/9191193/minikube-start.log)

### Attach the log file

Oh~~~, i can not log detail...

[code]

So, i export some log about kubelet service with `journalctl -u kubelet > logs.txt`, file is here:
[log.txt](https://github.com/kubernetes/minikube/files/9191042/logs.txt)

Key of the problem i

[2022-07-26 15:56] afbjorklund commented on #14641
Currently there is no way to specify the sandbox image in cri-dockerd, so it will need to have both.

Before 1.24, it was possible to select which version to use using `--pod-infra-container-image`

[2022-07-26 16:11] afbjorklund commented on #14638
This is a duplicate of ancient bug with the minikube driver registry, you will have to install a random binary called "docker". Sorry.

* https://github.com/kubernetes/minikube/issues/10908

[2022-07-26 16:20] afbjorklund commented on #14638
Note that these flags don't actually **do** anything, when running kubernetes on the localhost (it will use all of it):

`--memory=32g --cpus=8`

[2022-07-26 20:09] tAnboyy commented on #9798
Restarting docker did the trick for me. Thanks!

[2022-07-26 20:29] tAnboyy commented on #5008
Faced the same error.
Fixed it by changing id_rsa file settings. Properties -> Security -> Advanced -> Enable inheritance.

[2022-07-26 20:56] ekersale commented on #14588
The only solution that we have for now is to rollback to minikube 1.25.2.

[2022-07-26 21:57] LovePelmeni opened #14643 "Unable to recreate Minikube Cluster after running "docker system prune""
### What Happened?

My Docker Daemon was running out of memory and I decided to run `docker system prune`, so the minikube container has been deleted during that operation.  Then decided to recreate it using `minikube start`, so during the first minute everything was okay, but soon after it responded with an exception...

So how can I recover My Minikube Cluster?

I've also tried to run `minikube

[2022-07-26 22:45] Arun297 opened #14644 "minikube issue"
### What Happened?

*
* ==> Audit <==
* |---------|------------------|----------|------|---------|---------------------|---------------------|
| Command |       Args       | Profile  | User | Version |     Start Time      |      End Time       |
|---------|------------------|----------|------|---------|---------------------|---------------------|
| start   | --driver=none    | minikube | root | v1

[2022-07-27 05:36] Amartya300787 opened #14645 "Unable to start cluster using Minikube on macOS"
### What Happened?

Device Details:

- macOS Catalina
- Version 10.15.7
- Macbook Pro (13-inch , Mid 2012)
- VirtualBox Installed Version: VirtualBox-6.1.36-152435-OSX.dmg

Note: I did tried with reboot and reinstallation of VirtualBox but of no fortune.

[code]

[code]

### Attach the log file

[code]

### Operating System

macOS (Default)

### Driver

VirtualBox

[2022-07-27 06:14] Omprakashsurwase opened #14646 "Unable to start Minikube by using ec2 ubuntu machine"
### What Happened?

root@ip-172-31-5-109:~# minikube start --vm-driver=none
* minikube v1.26.0 on Ubuntu 22.04 (xen/amd64)
* Using the none driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing none bare metal machine for "minikube" ...
* OS release is Ubuntu 22.04 LTS

X Exiting due to RUNTIME_ENABLE: sudo systemctl enable cri-docker.soc

[2022-07-27 06:23] Rajat0002 opened #14647 "minikube dashboard command not working"
### What Happened?

When I want to generate dashboard using 'minikube dashboard' command URL is not generated.

PS C:\Users\Rajat> minikube dashboard
🤔  Verifying dashboard health ...
🚀  Launching proxy ...
🤔  Verifying proxy health ...

❌  Exiting due to SVC_URL_TIMEOUT: http://127.0.0.1:57644/api/v1/namespaces/kubernetes-dashboard/services/http:kubernetes-dashboard:/proxy/ is not accessible: Tem

[2022-07-27 07:04] sachinparihar commented on #14592
Hi @opg7371, Are you still working on this issue?

[2022-07-27 07:19] IvanZavaruev opened #14648 "Minikube can't configure API server"
### What Happened?

I try start minikube  (PC Windows 10, proc intel core i5 10210)i tried)
i tried everything: > minikube delete

C:\Users\IZavaruev>minikube start --vm-driver=vmware
* minikube v1.26.0 на Microsoft Windows 10 Enterprise 10.0.19042 Build 19042
  - KUBECONFIG=C:\Users\IZavaruev\.kube\config
* Используется драйвер vmware на основе конфига пользователя
* Downloading VM boot image ...

[2022-07-27 07:28] enn-dee opened #14649 "Minikube isn't starting."
### What Happened?

I have kubectl already installed/enabled when I run minikube start cmd it's showing me error. Can anyone help me to resolve this problem ?.

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/9196020/logs.txt)

### Operating System

Windows

### Driver

Docker

[2022-07-27 07:51] PalmaPedro opened #14650 "Enabling 'default-storageclass' returned an error"
### What Happened?

I'm on Linux Mint 20.03. When running 'minikube start', I get this error.

![image](https://user-images.githubusercontent.com/47104435/181192351-ebb82110-eefe-4690-af06-67506a5954f6.png)

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/9196191/logs.txt)

### Operating System

Other

### Driver

Docker

[2022-07-27 08:43] xunfeng1980 commented on #14638
yeh
[code]

[2022-07-27 08:43] #14638 closed

[2022-07-27 08:51] BlackImpl opened #14651 "Start Minikube failed"
### What Happened?

😄  minikube v1.26.0 on Darwin 11.6.5
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
❗  The image 'k8s.gcr.io/kube-scheduler:v1.24.1' was not found; unable to add it to cache.
❗  The image 'k8s.gcr.io/kube-apiserver:v1.24.1' was not found; unable to add it to cache.
❗  The image 'k8s.gcr.

[2022-07-27 09:06] Rajat0002 commented on #14649
Check if your docker desktop is running in background if yes, try by using minikube delete cmd and then use minikube start

[2022-07-27 10:22] LovePelmeni opened #14652 "Cannot get ssh-port for driver: (Docker) in Minikube after Running "docker system prune""
### What Happened?

So my Docker Daemon was running out of memory and I decided to run "Docker system prune" and also removed minikube container itself, so after recreation it responds with error....

[code]

### Attach the log file

[code]

### Operating System

macOS (Default)

### Driver

Docker

[2022-07-27 11:07] enn-dee commented on #14649
I already tried this thing nothing happened still showing me same error.

[2022-07-27 11:53] #14643 closed

[2022-07-27 11:55] #14652 closed

[2022-07-27 12:05] veelash27 opened #14653 "Installation failure of minikube"
Still i  am facing the same error
$ minikube start
* minikube 1.26.0 is available! Download it: https://github.com/kubernetes/minikube/releases/tag/v1.26.0
* To disable this notice, run: 'minikube config set WantUpdateNotification false'

! minikube v1.6.1 on Microsoft Windows 10 Pro 10.0.22000 Build 22000
* Automatically selected the 'virtualbox' driver (alternates: [])
* Downloading VM boot imag

[2022-07-27 14:51] KSurenderreddy opened #14654 "Minikube"
### What Happened?

minikube logs --file=logs.txt

### Attach the log file

minikube logs --file=logs.txt

### Operating System

_No response_

### Driver

_No response_

[2022-07-27 15:47] Linzi-demo commented on #14625
Thanks, it has been solved

[2022-07-27 15:47] #14625 closed

[2022-07-27 18:05] spowelljr commented on #14515
Hi @jaydeep123s, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-07-27 18:05] #14515 closed

[2022-07-27 18:06] spowelljr commented on #14495
Hi @smw1993, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-07-27 18:06] #14495 closed

[2022-07-27 18:07] spowelljr commented on #14363
Hi @lucas-sw, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-07-27 18:07] spowelljr commented on #14235
Hi @attila123, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-07-27 18:07] #14235 closed

[2022-07-27 18:07] spowelljr commented on #13595
Hi @HarikrishnanBalagopal, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-07-27 18:07] #13595 closed

[2022-07-27 18:07] klaases commented on #14502
Hi @zafar1926 – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line use

[2022-07-27 18:08] klaases commented on #14496
Hi @smw1993 – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2022-07-27 18:08] #14496 closed

[2022-07-27 18:08] klaases commented on #14476
Hi @stx-imransayyed – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command li

[2022-07-27 18:08] #14476 closed

[2022-07-27 18:23] klaases commented on #14278
Hi @mudit000, are you still working on this issue? After a quick search I found an article that talks about setting up the bridge between two computers.

https://dpb587.me/post/2020/04/11/minikube-and-bridged-networking/

Specifically, rather than using `minikube tunnel`, which only works on the local machine which is running kubernetes, you may instead want to use `route` to open up a range of IP

[2022-07-27 18:25] klaases commented on #14272
Hi @aschulth, thanks for the update and glad that you found a resolution for Debian 11 on Chrome OS. We will keep this issue available so that others may find it helpful as well.

Closing out for now to help clear up the queue.

[2022-07-27 18:25] #14272 closed

[2022-07-27 18:31] klaases commented on #14270
Hi @robshelly, minikube v1.26.0 is now the latest version of minikube and has support for rootless podman.

Please update to the latest version and thank you for sharing your experience.

[2022-07-27 18:31] #14270 closed

[2022-07-27 18:34] klaases commented on #14264
Hi @Zuruuh, are you able to try the above suggestion and indicate whether this helps?

[2022-07-27 18:49] spowelljr commented on #14285
I just tried this myself and it successfully started. Looking at your logs, I see there are a lot of network adaptors:
[code]

You stated that you reinstalled VirtualBox, so I'm assuming most if not all of the network adaptors are orphaned. I see from the logs it's using `vboxnet3`, but I'm wondering is that network adaptor is orphaned and is possibly causing the errors.

I found a Stack Overflow

[2022-07-27 18:52] spowelljr commented on #14429
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-07-27 18:53] spowelljr commented on #14429
Hi @NinadD26, have you already tried running `minikube delete` and `minikube start` again like the error states?

[2022-07-27 18:57] spowelljr commented on #14423
Duplicate of https://github.com/kubernetes/minikube/issues/14410

Fix is to install cri-docker on your machine

Installation instructions: https://github.com/Mirantis/cri-dockerd#build-and-install

[2022-07-27 18:57] #14423 closed

[2022-07-27 18:58] spowelljr commented on #14367
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-07-27 18:59] spowelljr commented on #14355
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-07-27 19:00] Zuruuh commented on #14264
Hello! Yes indeed uninstalling docker desktop fixed the issue

[2022-07-27 19:00] spowelljr commented on #14351
Hi @rm3l, thank you for your issue, I'm happy to accept a PR that enables the configuration option.

[2022-07-27 19:02] #9989 closed

[2022-07-27 19:05] klaases commented on #14578
Hi @zhengerkui, were you able to try `brew` to help provide a solution?

[2022-07-27 19:06] klaases commented on #14520
Hi @siddhant-khisty, I see that the issue has been added to your PR, thanks.

[2022-07-27 19:09] klaases commented on #14446
Hi @tamasbudai, did you happen to use `sudo` when installing minikube?

[2022-07-27 19:11] klaases commented on #14428
Hi @NinadD26, were you able to try `minikube delete` as suggested above? Does the issue persist?

[2022-07-27 19:14] klaases commented on #14364
Hi @Jijingling, did you have a chance to review the comments from @clarencesham, and if so, were they helpful in resolving the issue?

[2022-07-27 19:17] klaases commented on #12954
Hi @rafariossaa, would you be able to try running this with the latest version of minikube? We have updated the latest release to v1.26.0.

[2022-07-27 19:23] klaases commented on #14484
Hi @wskb, thanks for following up and acknowledging the solution to the issue, thanks.

[2022-07-27 19:23] #14484 closed

[2022-07-27 19:25] klaases commented on #14430
Hi @sid-hbm, I appreciate your update to the issue and detailed solution, thanks.

[2022-07-27 19:25] #14430 closed

[2022-07-27 19:32] torenware commented on #14285
It was easy enough to remove the lot of them:

[code]

minikube hasn't broken for me yet, but the day is young :-)

[2022-07-27 19:38] klaases commented on #14264
Hi @Zuruuh, I appreciate your confirmation of the resolution to this issue, thanks.

[2022-07-27 19:38] #14264 closed

[2022-07-27 20:28] f0xMccloud opened #14655 "minikube start --driver=docker failed on raspberry pi 4"
### What Happened?

minikube start --driver=docker failed with multiple errors:

`command error:
command : sudo hostname minikube && echo "minikube" | sudo tee /etc/hostname
err     : Process exited with status 1
output  : sudo: effective uid is not 0, is /usr/bin/sudo on a file system with the 'nosuid' option set or an NFS file system without root privileges?`

docker version:
` Client: Docker En

[2022-07-27 21:19] rm3l commented on #14351
Thanks for your feedback, @spowelljr ! I'll look into this when I get some time.

[2022-07-28 02:49] a2026211583 commented on #14620
Many thanks，"sudo cp /usr/local/bin/crictl /usr/bin/crictl "This method successfully solved my problem
But I reported the following error
`
unable to determine runtime API version: rpc error: code = DeadlineExceeded desc = context deadline exceeded
`

[2022-07-28 03:22] RA489 commented on #14655
/kind support

[2022-07-28 03:22] RA489 commented on #14654
@KSurenderreddy I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

T