[2020-01-30 16:00] inuyasha82 commented on #2481
I'm having the same problem using Rhel linux + minikube version 1.6.2

tried to mount

`
docker run -it -e --rm -v /home/myuser/Documents:/src alpine /bin/sh
`
then when inside the containter tried to list src folder content, but it is empty.

SELinux is disabled on the machine, my user is in the docker, libvirt, kvm, wheel groups

But the interesting thing is that if i try to mount /var/log (as a

[2020-01-30 19:08] medyagh opened #6432 "Allow specific version of container run time in minikube"
it would be nice that we allow minikube users create a cluster with exact specific version of container run time they desire.

such as Docker version 18 ...19  or container run time.
this would be a good opportunity to decouple installation logic of container run time tools from minikube. and maybe use a light config management system !

this would mean minikube would be shipped with a default tes

[2020-01-30 19:09] medyagh opened #6433 "add docker runtime for kic driver"
currently we auto set containerd

[2020-01-30 19:40] afbjorklund commented on #6432
With the current minikube distribution and iso, there is not a good way of accomplishing this...
The buildroot packaging system is based on Makefiles, so there is no way of installing packages like there was on the Boot2Docker ISO. For docker-machine the goal was accomplished by using different images (one for each version), but that is not really feasible unless we start to make one iso for each

[2020-01-30 19:48] tstromberg opened #6434 "ln: failed to create symbolic link '/etc/ssl/certs/b5213941.0': File exists"
This can happen in head with multiple repeated starts:

[code]

[2020-01-30 19:55] afbjorklund commented on #6432
Related to [roadmap](https://minikube.sigs.k8s.io/docs/contributing/roadmap/) items:
- _Generic (SSH) driver support_
- _Prototype post-libmachine implementation of minikube_

It would be good to get some statistics on which container runtimes and versions that are being used (or requested), previous reports say at least 80% of kubernetes users are running with the default `docker`.

* https://sys

[2020-01-30 19:56] medyagh commented on #6305
we need to purge containers by label (instead of just container name)

[2020-01-30 20:46] medyagh opened #6437 "kic docker avoid running against wrong docker."
with minikube docker driver, if user use minikube docker-env and export that,
minikube might be confused and for example minikube delete might try to delete minikube form the docker "Inside" minikube

therfore we should pas the Real Host docker ENVs to the Kic Commands. so it never by mistake runs a  command against the docker inside minikbue .

update : example

I had done eval $(minikube docker-

[2020-01-30 22:05] #6434 closed

[2020-01-30 22:07] #5885 closed

[2020-01-30 22:12] priyawadhwa commented on #6354
@dkorittki I'm glad this is working for you now! Since pulling from private registries is a pretty important and common use case, I think an article  in [Core Tasks](https://minikube.sigs.k8s.io/docs/tasks/) titled "Pulling Images from Private Registries" would be great.  Thank you for your help!

[2020-01-30 22:30] #6433 closed

[2020-01-30 23:30] tstromberg opened #6439 "Extraneous space in "Automatically selected" line"
Notice the space before 'kvm2'. I suspect this has to do with the experimental text change.

[code]

[2020-01-30 23:37] tstromberg commented on #6426
Can you check that your user is allowed to write to '/home/ashwani/.minikube/ca.crt'? Please share the output of:

* `id`
* `touch /home/ashwani/.minikube/ca.crt`
* `ls -lad /home/ashwani/.minikube/ca.crt`
* `ls -lad /home/ashwani/.minikube`

Thanks!

[2020-01-31 00:01] regulskimichal commented on #5791
I don't understand why Hyper-V Administrator group is not enough. Please remove checking if Hyper-V is installed because this command can't be executed without elevated permission.

[2020-01-31 02:19] medyagh opened #6443 "kic: restart broken"
[code]
it is becasue the restart is using the internal ip

[2020-01-31 02:29] medyagh commented on #6303
this was done

[2020-01-31 02:29] #6303 closed

[2020-01-31 04:23] medyagh opened #6445 "kic test failure: verify_cache_inside_node : different output of crictil and docker images"
thanks to this integration test I found out the cache add command doesnt work as expected on "docker driver" with docker run time.

[code]

I did manual checking:
[code]
in the integration tests we check the output of crictl images inside minikube and expect busybox to be there.

[code]

the intertesting is the output of  "docker images " has what we need !
[code]

interesting is the same test wor

[2020-01-31 05:17] medyagh opened #6446 "kic: add podman driver for minikube"
a couple month ago we did an early prototype with podman there was a few issues.
@josedonizetti once docker driver is stable, we should add podman

[2020-01-31 05:21] medyagh opened #6447 "consitstant commit status for github actions and jenkins"
We need to make github actions to spit out number of failures into the commit status and the duration.

plus currently it always sets the commit status to success. it should also show fail if test has failure.
the jenkins ones look like this :

[code]

but the github actions dont have same format.
here is the file on jenkins that creates that format :
https://github.com/kubernetes/minikube/blob/ma

[2020-01-31 08:53] KaenDagger commented on #6447
/assign

[2020-01-31 09:50] amanmirza99 opened #6448 "the connection to the server localhost:8443 was refused"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-01-31 10:42] ziaagikian commented on #4498
Appeared again in v1.5.x

[code]

[2020-01-31 14:48] hisergiorojas commented on #6070
When I run `curl https://k8s.gcr.io/`

the output:
<HTML><HEAD><meta http-equiv="content-type" content="text/html;charset=utf-8">
<TITLE>302 Moved</TITLE></HEAD><BODY>
<H1>302 Moved</H1>
The document has moved
<A HREF="https://cloud.google.com/container-registry/">here</A>.
</BODY></HTML>

[2020-01-31 16:47] hisergiorojas commented on #3036
Currently facing the same issue on linux with dnsmasq

[2020-01-31 17:15] cotyhamilton commented on #2414
... disconnected from corporate VPN (cisco) and was able to start minikube. Thanks!

[2020-01-31 18:08] imaskm commented on #6426
`ashwani@plumber:~$ id
uid=1000(ashwani) gid=1000(ashwani) groups=1000(ashwani),4(adm),24(cdrom),27(sudo),30(dip),46(plugdev),116(lpadmin),126(sambashare),128(docker),134(libvirt)

-rw-r--r-- 1 ashwani ashwani 1066 Jan 30 12:38 /home/ashwani/.minikube/ca.crt

drwxr-xr-x 10 ashwani ashwani 4096 Jan 30 19:41 /home/ashwani/.minikube`

[2020-01-31 20:39] #6383 closed

[2020-01-31 20:39] #6396 closed

[2020-01-31 20:39] #6410 closed

[2020-01-31 20:39] #6443 closed

[2020-01-31 22:36] #6439 closed

[2020-01-31 22:38] #6408 closed

[2020-01-31 22:59] tstromberg opened #6451 "none: TestStartStop/group/old-docker: apiserver status = ""; want = "Paused""
https://storage.googleapis.com/minikube-builds/logs/6440/none_Linux.html

[code]

I suspect that stopping a none cluster makes it go away, in the eyes of minikube.

[2020-01-31 23:00] tstromberg commented on #6451
% sudo ./out/minikube pause
% sudo ./out/minikube status
host: Stopped
kubelet:
apiserver:
kubeconfig:

[2020-02-01 00:25] #6363 closed

[2020-02-01 04:09] tstromberg opened #6456 "stop+start breaks addons: /etc/kubernetes/addons not recreated"
If you attempt to start a started cluster, we output a warning:

[code]

The root cause is unknown.

[2020-02-01 07:07] priyawadhwa opened #6457 "Bug in release script, v1.7.0-beta.2 release failed"
The jenkins release job for v1.7.0-beta.2 failed with the following error:

[code]

Logs can be found [here](https://a646c87040050000000000000000001.proxy.googleprod.com/job/Release/153/console)

It seems the [Makefile rule](https://github.com/kubernetes/minikube/blob/master/Makefile#L544
) doesn't match the [release script](https://github.com/kubernetes/minikube/blob/master/hack/jenkins/release_b

[2020-02-01 08:48] charanreddymarthala opened #6458 "cherry"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-02-01 12:43] rajydv opened #6459 "minikube"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-02-01 18:51] qasim683 opened #6461 "Error starting cluster: apiserver healthz: apiserver healthz never reported healthy"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-02-02 03:49] baurine commented on #6147
Thank you @Veitor , this works for me as well on macOS 10.15.1 with minikube 1.6.2

[code]

[2020-02-02 05:30] balopat opened #6462 "docker driver on macOS: hangs after wake from hibernation"
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>

kubectl works fine
[code]

which shows that the apiserver is running!

but `minikube status` is very slow (probably because we are pointing to a bad apiserver endpoint?)

[code]
this takes 1.3minutes on my Mac.

[code]
did not help with the speed, but at least kubectl is well configured

[2020-02-02 05:37] balopat opened #6463 "kic with docker-env: endpoint read: connection reset by peer"
**The exact command to reproduce the issue**:

[code]
Now, if I eval...

[code]

**The operating system version**:
MacOSX Mojave

[2020-02-02 05:46] balopat opened #6464 "kic: stop fails after running "eval $(minikube docker-env)""
This is not high priority - but probably with the docker driver we should hold on to the original docker daemon settings instead of taking them from the env vars on the terminal.

**The exact command to reproduce the issue**:

[code]

[2020-02-02 05:55] medyagh commented on #6447
@KaenDagger it's yours. This will be an exciting thing to fix

[2020-02-02 07:53] shivakumarsy opened #6465 "RHEL 8.1 none: apiserver healthz never reported healthy"
** [root@localhost ~]# minikube start
😄  minikube v1.6.2 on Redhat 8.1
✨  Selecting 'none' driver from existing profile (alternates: [kvm2])
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🔄  Starting existing none VM for "minikube" ...
⌛  Waiting for the host to be provisioned ...
🐳  Preparing Kubernetes v1.17.0 on Docker '19.03.5' ...

[2020-02-02 12:11] afbjorklund commented on #6465
This might be another one of those issues were SELinux is enabled on the host (not supported by kubeadm). This should be covered in the documentation and guarded by the solution detector.

[2020-02-02 12:12] afbjorklund commented on #6463
I think the container runtime option (for docker driver) is quite new, it originally used `containerd`.

[2020-02-02 12:14] afbjorklund commented on #6457
@priyawadhwa : sorry, I missed the release script when I added the arch suffix to the packages.

[2020-02-02 19:10] bizlevel opened #6467 "Kubectl fails if i try using Multi Cluster Access Using kubeconfig Files - error converting *[]NamedAuthInfo into *map[string]*api.AuthInfo: duplicate name "minikube""
I have 2 identical worked cluster, where login is identical - `minikube`
I trying make whole config file to use both of cluster, use with keys.
I got like this `config`:
[code]

And with this config `kubectl` can't work:
[code]
But if i change one login to any, like this:
[code]
 I see that all work with config and first cluster:
[code]
But when i switch to the second cluster of course - it can't

[2020-02-02 19:11] bizlevel commented on #6467
When I use KUBECONFIG environment method for 2+ clusters - I no got the error, but needed users block of config is disappear/missed/rewritten.
Lets see it:
[code]
In this way we have in both config same name - `minikube`, but with different keys and path to them.

Checking it:
[code]
And it is will be work because for 1 cluster all fine in config:
[code]
But if we switch to  second:
[code]
All fin

[2020-02-02 19:12] bizlevel commented on #6467
https://github.com/kubernetes/kubectl/issues/795#issuecomment-577295703

[2020-02-02 19:24] amanmirza99 opened #6468 "kvm2: 'Failed to connect socket to '/var/run/libvirt/libvirt-sock': Permission denied"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-02-02 20:30] BoGnY commented on #4672
Starting from Virtualbox 6.x HyperV is supported, but is default disabled as is it an experimental feature.

This is the solution to [enable that feature](https://superuser.com/a/1489744).

If you have existing machine, after "global" command you have to start even specific command for all machine already existing 👍

[2020-02-03 06:45] cmdedj commented on #6195
minikube ssh "sudo grep cert /etc/kubernetes/manifests/etcd.yaml"
    - --cert-file=/var/lib/minikube/certs/etcd/server.crt
    - --client-cert-auth=true
    - --key-file=/var/lib/minikube/certs/etcd/server.key
    - --peer-cert-file=/var/lib/minikube/certs/etcd/peer.crt
    - --peer-client-cert-auth=true
    - --peer-key-file=/var/lib/minikube/certs/etcd/peer.key
    - --peer-trusted-ca-file=/var

[2020-02-03 09:34] zoyoletfame opened #6469 "minikube"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-02-03 09:34] zoyoletfame commented on #6469
f

[2020-02-03 10:27] ok7827125 opened #6470 "cannot start minikube start command"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-02-03 16:14] tstromberg commented on #6456
This only happens if you run `minikube stop` in between. It seems that the new code to call mkdir only once is not executed if the host is recreated.

[2020-02-03 18:30] afbjorklund commented on #6457
For a future release, we might want to enable KVM also for the ARM architecture...

https://blog.cloudkernels.net/posts/rpi4-64bit-virt/

https://developer.arm.com/ip-products/system-ip/system-controllers/interrupt-controllers

[2020-02-03 18:51] PenelopeFudd commented on #3776
I had this problem today; the cause was that I had installed the snap version of minikube, and it couldn't find VBoxManage in the snap's path.  Fixed by removing the snap (snap remove minikube) and downloading the minikube binary instead.

[2020-02-03 18:54] priyawadhwa commented on #6457
Nice! So it looks like there's still a bug in the release script, I'll open a PR to fix this:

[code]

[2020-02-03 19:10] afbjorklund commented on #6457
OK, must have missed a spot! Will double-check, apparently it confuses arch and version

[2020-02-03 20:04] afbjorklund commented on #6457
Yep, reproduces here. I could swear that it Worked On My Machine before I pushed it, but...

[2020-02-03 20:32] tstromberg commented on #6470
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2020-02-03 20:32] #6469 closed

[2020-02-03 20:33] tstromberg commented on #6468
Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=1` for extra logging.

Thank you for sharing your experience!

[2020-02-03 20:34] #6458 closed

[2020-02-03 20:34] #6459 closed

[2020-02-03 20:34] tstromberg commented on #6448
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2020-02-03 20:37] tstromberg commented on #6461
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2020-02-03 20:42] tstromberg commented on #6462
I wasn't able to duplicate this on Linux, but suspect that balint is correct here, in that we are either using the wrong IP or wrong port for apiserver healthz on Docker.

It's unrelated, but the debugging in #6452 may help with this, but any sort of logging will.

[2020-02-03 20:43] tstromberg commented on #6464
Agreed. This is related to something we were discussing last week.

[2020-02-03 20:47] tstromberg commented on #6463
I was able to replicate this on Linux.

[2020-02-03 21:42] medyagh commented on #6464
thats totally a bug! thank you for creating this issue.

[2020-02-03 21:53] afbjorklund commented on #4733
/remove-lifecycle stale

[2020-02-03 21:58] medyagh opened #6475 "improve network check (nslookup) on kic"
we had a PR that removed the nslookup query-type because some of the iso's busyboxes didnt have the query type.
so now we again see in kic.
[code]

[2020-02-03 22:01] balopat commented on #6463
The point would be to reuse the same daemon the containers are loaded from in the cluster. e.g. skaffold relies on this to avoid pushing.

[2020-02-03 22:05] medyagh opened #6476 "kic: disable containerd service by default"
the containerd service should not be enabled if the run time is docker (default)

[2020-02-03 22:08] medyagh opened #6477 "kic: clean up an exited container created by minikube"
faced this issue after trying to rim the kic base image,
noticed if container Exits and dies. minikube re-start fails to clean it up.

I cant reproduce it, but it happened when my base image didnt have entrypoint folders.

[code]

[code]

more info

[code]

[2020-02-03 22:11] afbjorklund commented on #6402
Even though this might help _avoid_ support issues, it is not really a support issue itself.

[2020-02-03 22:26] #6457 closed

[2020-02-03 22:45] tstromberg opened #6479 "TestFunctional/parallel/FileSync failing: /etc/sync.test: No such file or directory"
Seen multiple times, most recently https://storage.googleapis.com/minikube-builds/logs/6471/VirtualBox_Linux.html

[code]

[2020-02-03 22:49] medyagh opened #6480 "kic: experiment if not using --entry-point running CMDs will save time."
kic reuses kind's base image, which has an entrypoint with tricks to run systemd work inside container. which includes changing the stop signal.

running commands with entrypoint might not be needed for most of the commands.
we could make kic cmmand runner to override entrypoint to save time.

[2020-02-03 22:50] tstromberg commented on #6479
This appears to have become prevalent starting around Jan 31st @ 14:51 PST

[2020-02-03 22:53] tstromberg commented on #6479
I'm betting it's a regression caused by #6440

[2020-02-03 22:56] medyagh commented on #6462
@balopat  do you remember if this was the Beta or HEAD ? on the head I have fixed something that status uses external IP intead of internal IP. and I hope the head doesnt have that issue but if it does it is a bug and will be fixed !

[2020-02-03 23:31] #6476 closed

[2020-02-03 23:35] medyagh opened #6482 "unit-tests messes up auto-selects virtualbox"
update:
it is apparantly because of unittests

---
on mac: after I created a kic cluster I tried to start a new one with hyperkit (hoped it be auto-selected)
[code]
[code]

[2020-02-04 00:16] #6451 closed

[2020-02-04 00:53] medyagh opened #6485 "make buildroot provision package re-usable for kic"
while debugging kic driver that why crictl can not list images in docker I found out the /etc/crictl.yaml is not pointing to the docker.sock and docker sytemd config looks different !
on VM it is
[code]

but it in container its naked and not configured.

the provision package configures our dockerd
https://github.com/kubernetes/minikube/blob/master/pkg/provision/buildroot.go

has useful functions

[2020-02-04 01:31] medyagh commented on #6464
AHA ! I found out the root cause, in the VM we have certs for docker and in container not yet !

export DOCKER_TLS_VERIFY="1"
export DOCKER_HOST="tcp://127.0.0.1:32858"
export DOCKER_CERT_PATH="/Users/medya/.minikube/certs"

[2020-02-04 01:46] medyagh commented on #6463
@balopat I can re-produce this and I have a fix for it. the problem is dockerd is not lsitening on 0.0.0.0 insice the conrtianer

[2020-02-04 01:47] medyagh commented on #6463
more details https://github.com/kubernetes/minikube/issues/6485

[2020-02-04 01:51] medyagh commented on #6464
I also found out the root cause of this!

the root cause is when running docker-env for the second time, the second time it uses the docker daemon inisde minikube !

that could be fixed too

[2020-02-04 05:38] kishore-05 opened #6486 "Get minikube-v.x.x.iso.sha256: remote error: tls: access denied"
I ran the below command in cmd and the following output popped up. Can someone please help me out,thanks in advance!

COMMAND: minikube start

OUTPUT ERROR:
! minikube v1.6.2 on Microsoft Windows 10 Enterprise 10.0.16299 Build 16299
* Automatically selected the 'virtualbox' driver (alternates: [])
* Downloading VM boot image ...
*
X Failed to cache ISO: https://storage.googleapis.com/minikube/iso/

[2020-02-04 06:41] medyagh commented on #6152
this issue was closed by the PR https://github.com/kubernetes/minikube/pull/6478

[2020-02-04 06:41] #6152 closed

[2020-02-04 08:18] jasperf commented on #6070
I have the same 302 when I check as @hisergiorojas

[2020-02-04 08:47] jasperf commented on #6070
In the end for me it was dnsmasq messing with my connection. Turning it off solved the issue.

[2020-02-04 12:59] dingdayu opened #6488 "minikube start panic"
**重现问题所需的命令**：

[code]

**失败的命令的完整输出**：<details>
  Darwin 10.15.2 上的 minikube v1.6.2
✨  Selecting 'virtualbox' driver from user configuration (alternates: [hyperkit])
💿  正在下载 VM boot image...

🔥  正在创建 virtualbox 虚拟机（CPUs=2，Memory=2000MB, Disk=20000MB）...
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x28 pc=0x4ecd18f]

[2020-02-04 13:01] dingdayu commented on #6488
Command retry:

[code]

[2020-02-04 13:45] jturi commented on #1234
In my case **use-context** was not set:

Use this if you have kubernetes running with Docker for Desktop:

[code]

Use this if you have kubernetes running with minikube:

[code]

If you run into problems with Minikube, the best is to remove and start it over again:

[code]

[2020-02-04 14:56] TobEnd commented on #6036
Had the same Issue. Upgrading from 6.0 to 6.1 solved it for me.

[2020-02-04 14:57] #6445 closed

[2020-02-04 14:57] #6463 closed

[2020-02-04 14:57] #6485 closed

[2020-02-04 14:58] #6456 closed

[2020-02-04 14:59] #6475 closed

[2020-02-04 15:26] bmoe24x commented on #2739
I am having the same issue when trying to run

`minikube start --vm-driver=none`

When I run

`echo | openssl s_client -connect storage.googleapis.com:443 \
  | egrep "^subject=|^issuer="`

I get almost the same output as you mentioned besides CN is now GTS CA 101

[code]

Been having a lot of trouble trying to get Minikube up and running... tried just about everything I could think of. Any advice

[2020-02-04 17:48] medyagh commented on #6477
I cant replicate this issue. anymore

[2020-02-04 17:52] medyagh opened #6489 "make it obvious in terminal for user if using docker-env"
I was thinking as part of the eval $(minikube docker-env) we could pass something that changes the terminal Prompt so it is obvious for the user they are usinf minikube's docker not their own docker.

maybe:
something like:
[code]
that will try turn into
[code]

the minikube word would be profile name, this will also make it clear which profile's docker-env we are using.

helps with https://github

[2020-02-04 18:12] medyagh commented on #6462
I was able to replicate this after my laptop hibernated over the night
[code]

it is clear that docker is hang and a docker restart is needed.
but not clear how we would detect it because docker gives me right status but in reality it is stuck

medya@~/workspace/minikube (obvious_denv) $ docker inspect -f "{{.State.Status}}" k2
running

both docker rm k2
and docker start k2
hang too

I feel this i

[2020-02-04 18:24] medyagh commented on #6462
it worth noting that, after I restart docker desktop on mac, evertything is back to normal
and minikube status works (with caveat that it will be stopped and need to be started again)

[code]

[code]

[2020-02-04 18:54] acardenas78 opened #6490 "no external"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-02-04 18:59] medyagh commented on #6447
@KaenDagger  are you still working on this ? any updates?

[2020-02-04 19:00] KaenDagger commented on #6447
Yes I am working on this. Got little busy actually

[2020-02-04 20:07] twodayslate commented on #2707
If you are using [microk8s](https://ubuntu.com/kubernetes/install) you may just need to run
[code]

[2020-02-04 20:31] avoidik commented on #6344
try to change RBAC mode

[code]

[2020-02-04 23:14] tstromberg commented on #6489
Environment variable sounds good.

I wouldn't be opposed to prompt manipulation if it was an extra flag to docker-env. Like `minikube docker-env --prompt`. I would prefer it be explicit, as not everyone is going to like us manipulating their prompt.

Keep in mind that many folks build prompts with dynamic functions, particularly in the zsh and fish community.

[2020-02-04 23:27] #6482 closed

[2020-02-05 01:15] jralmaraz commented on #3036
Currently facing the same issue in macOs 18.7.0 Darwin Kernel Version 18.7.0: Sun Dec  1 18:59:03 PST 2019; root:xnu-4903.278.19~1/RELEASE_X86_64 x86_64

[2020-02-05 02:54] tstromberg opened #6495 "kic: unable to recover from attempt when Docker not running"
If you  close Docker for Desktop, and create a cluster, it will fail with a scary error message:

`💣  Unable to start VM. Please investigate and run 'minikube delete' if possible: create: creating: create kic node: create a kic node: args: [run --cpus=2 --memory=2000mb -d -t --privileged --security-opt seccomp=unconfined --tmpfs /tmp --tmpfs /run --volume /var -v /lib/modules:/lib/modules:ro --hos

[2020-02-05 04:49] #6204 closed

[2020-02-05 05:23] tstromberg opened #6496 "TestFunctional/parallel/PersistentVolumeClaim: PV Creation failed with error: testpvc phase = "Pending", want "Bound""
Seen on KVM, but appears to be a flake for many providers based on Jenkins records

[code]

I feel like I've been seeing it more consistently lately, which makes me worried that  we broke something relating to PVC.

[2020-02-05 05:24] tstromberg commented on #6496
It's worth noting that the issue does not appear to magically fix itself after several minutes.

[2020-02-05 05:26] tstromberg commented on #6496
The storage-provisioner is complaining:

[code]

[2020-02-05 09:13] jecihjoy commented on #6358
@medyagh Thanks for your  response.
However I got past this error by reinstalling docker again and running
 **minikube start --vm-driver=virtualbox** after that.

[2020-02-05 09:14] #6358 closed

[2020-02-05 10:16] Gkiokan commented on #3036
Hey folks, you need to check the IP Adresses and the DNS resolution. This issue is mostly based on wrong proxy or dns settings. Just make sure, that the routing and dns is correct and everything will be fine.

If you have dnsmasq, you need to extend your configuration like [here](https://github.com/kubernetes/minikube/issues/3036#issuecomment-567880245)

Any other issue should be traced back.

[2020-02-05 14:43] theAkito commented on #3869
Can this issue be re-opened or is there a need for a new issue?

[2020-02-05 17:36] liorms opened #6498 "crash while trying to start minikube on ubuntu18.04 on proxmox"
liorms@k8su1804:~$ minikube start
o   minikube v1.0.1 on linux (amd64)
$   Downloading Kubernetes v1.14.1 images in the background ...

!   Unable to start VM
X   Error:         [VBOX_VTX_DISABLED] create: precreate: This computer doesn't have VT-X/AMD-v enabled. Enabling it in the BIOS is mandatory
i   Advice:        In some environments, this message is incorrect. Try 'minikube start --no-vtx-ch

[2020-02-05 18:14] tstromberg opened #6500 "release: push-gvisor-addon-image -> mkdir /go/pkg: permission denied"
Release failure, probably related to some kind of environment variable setting, like GOROOT:

[code]

[2020-02-05 18:20] #6500 closed

[2020-02-05 19:03] #6479 closed

[2020-02-05 19:07] priyawadhwa opened #6504 "kic: Preload docker images into node"
This should reduce start latency for the docker runtime by ~17 seconds.

[2020-02-05 19:12] tstromberg commented on #6393
Closing because I believe this is solved and/or a red herring. Let's reopen if we see something more specific.

[2020-02-05 19:12] #6393 closed

[2020-02-05 19:12] sharifelgamal opened #6505 "Add JoinCluster function to bootstrapper"
This is the actual `kubeadm join` portion of the multinode plan. This is will be hooking up all the nodes together.

Remember to change minikube status.

ref #94

[2020-02-05 19:13] #6308 closed

[2020-02-05 19:14] #6271 closed

[2020-02-05 19:15] tstromberg commented on #5930
Do you mind checking to see if this is still the case in minikube v1.7.0?

[2020-02-05 19:22] sharifelgamal opened #6506 "docker env in multinode"
We should support this properly

[2020-02-05 19:34] #6106 closed

[2020-02-05 19:43] priyawadhwa commented on #6490
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl get po -A`

[2020-02-05 19:43] tstromberg commented on #6147
Note: this is fixed in minikube 1.7.0!

[2020-02-05 19:44] sharifelgamal commented on #6488
此问题应在minikube 1.7中修复，您可以升级并重试吗？

Closing as a duplicate of #6147

[2020-02-05 19:44] #6488 closed

[2020-02-05 19:44] tstromberg commented on #6498
minikube v1.0 is very very old: do you mind retrying with v1.7.0?

Also, it's quite possible that proxmox does not support VirtualBox. I'm not sure what virtualization it supports, but I would suggest trying kvm2.

[2020-02-05 19:45] priyawadhwa commented on #6109
Hey @NikhilSarda any updates here?

[2020-02-05 19:46] tstromberg commented on #6486
It sounds like you may need to configure a proxy for your corporate environment. Please see:

https://minikube.sigs.k8s.io/docs/reference/networking/proxy/

Let me know if this helps!

[2020-02-05 19:46] sharifelgamal commented on #6319
This should be fixed with minikube 1.7, can you upgrade and retry?

Closing as a duplicate of #6147

[2020-02-05 19:46] #6319 closed

[2020-02-05 19:46] #6477 closed

[2020-02-05 19:47] sharifelgamal commented on #6428
This should be fixed with minikube 1.7, can you upgrade and retry?

Closing as a duplicate of #6147

[2020-02-05 19:47] #6428 closed

[2020-02-05 19:48] tstromberg commented on #6465
Do you mind trying again with minikube v1.7.0 and sharing the output of `minikube logs`?

Thanks!

[2020-02-05 19:49] tstromberg commented on #6402
I feel like this is out of scope for documentation, as docker isn't required for use with minikube. Thoughts?

[2020-02-05 19:50] tstromberg commented on #5808
Is this repeatable with minikube v1.7.0?

[2020-02-05 19:52] tstromberg commented on #5072
Related: #6264

[2020-02-05 19:54] sharifelgamal commented on #6344
@mahendrabagul is this still and issue if you upgrade to minikube 1.7?

[2020-02-05 21:54] tstromberg opened #6510 "none at head: The ClusterRoleBinding "storage-provisioner" is invalid: cannot change roleRef"
It seems that with #6156 - cluster upgrades now emit a warning (but still work):

[code]

We should fix this so the YAML so that it upgrades existing clusters cleanly.

[2020-02-05 22:35] medyagh commented on #6504
title could be
Preload  images into the node.
as it could be any type of image for any container type

[2020-02-05 22:38] medyagh commented on #6464
I believe this is solved by the PR https://github.com/kubernetes/minikube/commit/8eb91989a9b2db01e5c6710699c839a5bc57f988

[2020-02-05 22:38] #6464 closed

[2020-02-05 22:41] medyagh commented on #6437
I believe this was fixed by https://github.com/kubernetes/minikube/commit/8eb91989a9b2db01e5c6710699c839a5bc57f988

https://github.com/kubernetes/minikube/pull/6492

[2020-02-05 22:41] #6437 closed

[2020-02-05 22:45] danstiner commented on #6496
This is reproducing consistently for us on minikube `v1.5.2` (and breaking all CI builds). I'm looking at workarounds and potentially upgrading to v1.7.0 where is looks like the role configuration has changed for the storage-provisioner pod

[2020-02-05 22:46] #5727 closed

[2020-02-05 23:37] #6510 closed

[2020-02-06 00:01] liorms commented on #6498
hi,
it turned up to be proxmox configuration issue.
proxmox does support vbox.
when configured ok - it even starts with older kube* versions:
liorms@k8su1804:~$ minikube start
o   minikube v1.0.1 on linux (amd64)
$   Downloading Kubernetes v1.14.1 images in the background ...
i   Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
:   Restarting ex

[2020-02-06 00:20] #6498 closed

[2020-02-06 01:34] acardenas78 commented on #6490
I don't know how this got created. Closing.

[2020-02-06 01:34] #6490 closed

[2020-02-06 02:26] jim-barber-he opened #6516 "Minikube 1.7.0 will not start with TaintNodesByCondition=false feature gate"
We have a script that stands up local development environments that sets the `TaintNodesByCondition=false` feature gate.
For all previous versions of Minikube up to and including version 1.6.2 has worked fine.
For Minikube 1.7.0 for some reason a taint is being applied to the Minikube node, and critical pods in the kube-system area such as coredns will not start due to it.

The reason we are setti

[2020-02-06 04:22] tstromberg commented on #6516
Thank you for the excellent bug report. I tried this with HEAD, as well as minikube v1.7.0-beta.1 and Kubernetes v1.7.0, and  ran into this error, shown by the kubelet logs:

[code]

If I specify `--kubernetes-version=v1.16.3`, minikube v1.7.0 works just fine on my mac. I haven't tried with the none driver.

I noticed from your logs, that at least some of your components are v1.15.6, which should

[2020-02-06 04:34] medyagh opened #6518 "improve downoading binaries..."
on at least two occasions I saw minikube taking a LOOONG time to download kubectl (more than 20 seconds)
both cases I was on a good wifi network. we should either consider finding a better / alternative source for downloading these binaries or ship them with minikube

[code]

Least we could do is show a progressbar for download waiting ...

[2020-02-06 04:43] tstromberg commented on #6496
This is happening repeatedly for v1.7.0, but not 100% of the time either. It's unclear to me what changed to make it happen so much more often.

[2020-02-06 04:44] tstromberg commented on #6518
I don't think we'll find a faster source, but we'll definitely want to bundle these into the images alongside the rest of the Kubernetes components.

[2020-02-06 05:03] danstiner commented on #6496
It started failing consistently for us started this morning when the v1.8.1 label was updated in gcr.io/k8s-minikube/storage-provisioner to point to image `cf7fb0cfd9d1`. I see it just got bumped again to `341d2667af45`, hopefully that fixes the issue.

In the meantime I am having success disabling the `storage-provisioner` addon and manually doing a `kubectl apply` to launch the older and more re

[2020-02-06 05:26] jim-barber-he commented on #6516
Oh. Sorry.
I usually run Kubernetes `v1.15.6` since that matches what we have on our production clusters.
I missed the parameter to keep it at that version.

Here's the run again, this time though I've done the following:

- Used minikube version `1.7.1` since that was released since I raised the bug report.

- Removed my `~/.minikube` directory to make sure I'm starting from a clean slate

- Adde

[2020-02-06 05:57] tstromberg commented on #6425
I experimented with explicitly killing old containers in https://github.com/kubernetes/minikube/pull/6519 - but was solving it in the wrong place.

[2020-02-06 07:04] afbjorklund commented on #6402
We could hide it somewhere related to `docker-env` perhaps ? While not a strict technical dependency (linked library or so), the output of that command is of limited usability without a client.

It would have been better to link to proper upstream docker/podman documentation, but currently that strategy is letting us down. It is too complicated and drags in too much “stuff”

[2020-02-06 07:05] afbjorklund commented on #6402
Will just write the PR(s), and we can take it from there...

[2020-02-06 08:27] JingLMalan commented on #6147
this works to me

[2020-02-06 09:54] mahendrabagul commented on #6344
Hi @avoidik, @sharifelgamal

It worked with suggestions from both of you. The full log is like below.

[2020-02-06 10:02] mahendrabagul commented on #6344
Hi @avoidik, @sharifelgamal

It worked with suggestions from both of you. I can now use the minikube cluster. Thanks a lot. Issue can be closed now.

[2020-02-06 10:04] #6344 closed

[2020-02-06 10:37] gricn commented on #5860
Thanks for your reply, but it doesn't seem work to me. Here is the result when I tap `minikube start --image-mirror-country=cn`

[code]

[2020-02-06 10:48] gricn commented on #5860
@medyagh Thanks for your reply, but it doesn't work for me.
& `minikube start --vm-driver=virtualbox --registry-mirror=https://registry.docker-cn.com --image-mirror-country=cn --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers` doesn't work either. They all ran error and had a same result.

Here is the result from my zsh (Ubuntu 18.04 LTS, x86_64) :
[code]

I would appreciate i

[2020-02-06 10:48] tolusha opened #6523 "latest storage-provisioner: cannot get resource "endpoints" in API group "" in the namespace "kube-system""
Not sure, but it seems related to https://github.com/kubernetes/minikube/pull/6511/files

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>
storage provisioner logs:
[code]

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[code]

[code]

`pvc.yaml`:
[code]

[2020-02-06 11:06] dimara commented on #6523
We, Arrikto, also bumped into this with MiniKF, which uses Minikube v1.2.0.

It seems that the storage-provisioner image was **retagged** yesterday. Specifically:
**OLD**:
[code]

**NEW**:
[code]
This is very likely to cause problems and break existing software/deployments, as it has now. Pushing **different** images with the **same** tags should be avoided, right?

[2020-02-06 11:34] dimara commented on #6523
I see that PR #6156 changes the storage-provisioner code. @tstromberg @nanikjava shouldn't the ``STORAGE_PROVISIONER_TAG`` variable be changed after this?

[2020-02-06 11:46] suecideTech opened #6524 "docker-env command does not work in powershell (v1.7)"
**Environment**
- minikube v1.7.1 on Microsoft Windows 10 Pro 10.0.18362 Build 18362

**Commnd Execute result**
[code]

*Remarks*
Line break position is different between v1.7.2 and v1.6.2.
There is a line break after $Env.
<details>
  <summary>v1.6.2</summary>

[code]
</details>

<details>
  <summary>v1.7.2</summary>

[code]
</details>

[2020-02-06 13:52] edmondsw commented on #6280
Travis CI now supports multiple architectures, including not only arm64 but also ppc64le and s390x: https://blog.travis-ci.com/2019-11-12-multi-cpu-architecture-ibm-power-ibm-z

[2020-02-06 14:20] marlowl commented on #6523
Same issue!

[2020-02-06 14:30] edmondsw opened #6525 "Request: Support ppc64le"
I want to run minikube on ppc64le, but I found that there are no minikube-linux-ppc64le artifacts built today. I'd specifically like to see v1.2.0 and newer work with a command like this:

`curl -Lo /usr/local/bin/minikube https://storage.googleapis.com/minikube/releases/v1.2.0/minikube-linux-ppc64le`

Having minikube for ppc64le can be very useful for multi-arch CI testing of a number of projects

[2020-02-06 14:31] tstromberg commented on #6523
Likely related to #6496

Since the bug is affecting older versions, it sounds like we rolled out a buggy provisioner image. I'll see if I can back it out. In the future we need to make sure to not repush to specific revisions.

[2020-02-06 14:31] ps-aux commented on #4481
Deleting the cache dirs in `~/.kube` might help.

[2020-02-06 14:33] tstromberg commented on #6523
@dimara thanks for the hashes!

I ran:

[code]

Please let me know if this has helped in your environment.

[2020-02-06 14:44] tstromberg commented on #6496
Moving discussion to #6496

[2020-02-06 14:44] #6496 closed

[2020-02-06 14:48] VlasLive commented on #6523
Helped in our env.

[2020-02-06 14:57] tolusha commented on #6523
It works on my side.

[2020-02-06 15:28] prashant-shahi commented on #4060
Reinstalling Virtualbox worked out for me.

[2020-02-06 15:37] dimara commented on #6523
@tstromberg It works now. Thanks!

[2020-02-06 16:15] tstromberg commented on #6523
Thanks!

[2020-02-06 16:17] tstromberg commented on #6523
This should no longer affect users, but I'm leaving this open until we address the root cause.

Process fix: https://github.com/kubernetes/minikube/pull/6526
Root cause fix TBD

[2020-02-06 16:32] akoranne opened #6528 "Minikube 1.7.1 image fails to download for invalid checksum"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
○ → minikube start
🙄  minikube v1.7.1 on Darwin 10.15.1
✨  Automatically selected the hyperkit driver
💿  Downloading VM boot image ...

💣  Failed to cache ISO: https://storage.googleapis.com/minikube/iso/minikube-v1.7.0.iso: invalid checksum: Error downloading checksum file: Get h

[2020-02-06 16:49] akoranne commented on #6528
Tried using curl and wget to download the iso image. Get following errors...

○ → curl -Lo minikube https://storage.googleapis.com/minikube/releases/latest/minikube-darwin-amd64 \

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:

[2020-02-06 16:51] afbjorklund commented on #6280
Travis only tests the basics (unit tests and such) for us, we need a Jenkins slave to do the full integration testing...

[2020-02-06 16:53] afbjorklund commented on #6525
Cross-compiling for all Kubernetes architectures can probably be done.

We also need to update the Docker builds to build for all architectures

[2020-02-06 17:33] afbjorklund commented on #6525
Platforms:
amd64
arm (32-bit)
arm64
ppc64le
s390x

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/multi-platform.md

[2020-02-06 17:38] afbjorklund commented on #6525
We have KVM support for `amd64` and `arm64`*. Not sure which hypervisors are supported on the other architectures, so probably only native (none) support.

\* No ISO for ARM, though.

[2020-02-06 17:42] afbjorklund commented on #6525
@edmondsw : can you describe the use case a little ? Like how Kubernetes would be used on the PPC etc. Think we already have S/390, but no official binaries... (but also interested in uses on _that_ mainframe)

[2020-02-06 17:49] edmondsw commented on #6525
ppc64le supports both KVM and PowerVM hypervisors. There are several hypervisors supported on s390x as well, one of which is KVM.

The use case I'm currently looking at would be to use in https://github.com/bsycorp/kind so you could check that out to see how it's using it.

[2020-02-06 18:05] afbjorklund commented on #6525
Not sure what is actually needed here, beyond extending the cross arch list from 2 to 5 architectures ? But if we add multi-arch for v1.8.0, we might as well add all k8s arch... (for minikube binary, and provisioner)

[2020-02-06 19:17] medyagh opened #6530 "annonate machine name with home name"
while I was trying to add minikube integration tests for skaffold (http://skaffold.dev/)

I gave a MINIKUBE_HOME env on my machine, then I realized if the profile name is "minikube"
there would be another "minikube" vm or container with same name.

it would be nice when we create VMs or containers, we add a prefix of MINIKUBE_HOME variables so they dont collide and using minikube as a testing tool

[2020-02-06 19:52] wpdildine commented on #4589
I'm running into same issue on MacOS mojave.  Damn near about to drop kick my laptop.

[2020-02-06 20:10] CrossBound commented on #4242
I'm confused... the link you keep sending people to only has instructions for: "Method 1: Without minikube registry addon".

How does this help me with the registry addon?
I'm in the same boat trying to figure out how to make the minikube registry addon work.

[2020-02-06 20:11] CrossBound commented on #4242
Oh, and the instructions are apparently only for linux/mac users... I'm on Windows.

[2020-02-06 21:31] tstromberg opened #6532 "version_upgrade_test: Add upgraded second-start test"
version_upgrade_test only tests stop/start upgrades, not double-start upgrades.

[2020-02-06 21:41] massenz commented on #4589
@wpdildine - see #6296

TL;DR: `minikube start --vm-driver=virtualbox`
you'll need to download / install Virtualbox on your Mac

[2020-02-07 00:48] medyagh opened #6533 "friendlier delete --all message when there is nothing to delete"
I dont think it is needed to show this scary message when there is nothing to delete...
at same time, we want to show scary message if there is something wrong !

so in case of 100% sure there is nothing to delete. we could have a nice message that "There is nothing to delete"

[code]

[2020-02-07 00:57] medyagh opened #6534 "kic status: warn user if docker is too slow !"
while debugging minikube with docker driver on a slow windows machine I noticed we Error to user that docker is not ready .

but the real issue was, the user had a lot of other docker containers running and their docker was super slow !

we could probably warn user that their docker is slow with a link to website how to make it faster !

[2020-02-07 01:07] medyagh opened #6535 "feature: minikube status- indicate if using "docker-env""
one of the common things I do after eval $(minikube docker-env) is checking if I am using my own docker or minikube's docker

it would be nice if "minikube status" command would tell me

[code]
and if we are not using docker-env no need to add that line and keep it hidden.
but we could includ that in the json output.

[2020-02-07 02:12] danstiner commented on #6496
Thanks Thomas. I think you maybe meant issue https://github.com/kubernetes/minikube/issues/6523 :)

[2020-02-07 04:40] arunmummidi opened #6537 "hyperkit: could not find an IP address for f6:f9:61:fb:7e:d2"
**The exact command to reproduce the issue**:

`minikube start --kubernetes-version v1.15.0 --cpus=4 --memory=5000`

**The full output of the command that failed**:

[code]

**The operating system version**:
18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14 PDT 2019; root:xnu-4903.271.2~2/RELEASE_X86_64 x86_64

[2020-02-07 05:24] jidar commented on #5831
I'm also seeing this exact error, running latest docker-machine and kvm2 driver on manjaro.

[2020-02-07 06:13] anencore94 opened #6538 "Need to delete minikube-cluster,user,context config from kubeconfig file."
**The exact command to reproduce the issue**:
1) `cat $HOME/.kube/config` and check the stdout.
(Maybe the path will be different, it depends on your KUBECONFIG enviroment variable. I guess you already know.)

2) `minikube start` (with or without -p option to specify profile)

3) `cat $HOME/.kube/config` and recheck the stdout again. And compare with output of 1).
    - you can check the informati

[2020-02-07 06:30] medyagh opened #6539 "possible inverted logic ?"
https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/start.go#L825

[2020-02-07 08:28] MkumaranLakshmi opened #6542 "none: Failed to setup certs: open /usr/share/ca-certificates/minikubeCA.pem: no such file or directory"
**The exact command to reproduce the issue**:

[root@terraform ~]# minikube start --vm-driver=none

**The full output of the command that failed**:<details>

[root@terraform ~]# minikube version
minikube version: v1.7.1
commit: 7de0325eedac0fbe3aabacfcc43a63eb5d029fda
[root@terraform ~]# minikube start --vm-driver=none
* minikube v1.7.1 on Centos 7.5.1804
* Using the none driver based on user conf

[2020-02-07 08:41] cvila84 opened #6543 "Cannot pass extra config parameters to kube-apiserver"
Using --extra-config does not work anymore for kube-apiserver

**Minikube version**: 1.7.1
**Kubernetes version**: 1.17.2
**The operating system version**: Win7

**The exact command to reproduce the issue**:
minikube start --extra-config=apiserver.runtime-config=apps/v1beta1=true,apps/v1beta2=true,extensions/v1beta1/daemonsets=true,extensions/v1beta1/deployments=true,extensions/v1beta1/replicasets

[2020-02-07 09:29] KaenDagger commented on #6447
@medyagh may be we can also use the jenkins shell script too in github actions

[2020-02-07 09:47] kishore-05 commented on #6486
Thank you let me try it out and get back to you.

Regards,
Kishore

On Thu, Feb 6, 2020 at 1:16 AM Thomas Strömberg <notifications@github.com>
wrote:

[2020-02-07 10:38] mbarzilovich commented on #6543
extra-config for apiserver works if you set kubernetes-version=v1.13.10
I.e
`minikube start --kubernetes-version=v1.13.10 --extra-config=apiserver.service-node-port-range=1-65535`
kubernetes v1.14 and higher dont respect extra-config

[2020-02-07 10:54] cvila84 commented on #6543
It makes sense as starting from 1.14.0, the kubeadm v1beta1 template is used, containing a default setting for apiServer
[code]
which is not merged with the ones coming from extra-config

Before 1.14.0, the template has a different key
[code]
which is this time not conflicting with extra-config values generated under the apiServer key

[2020-02-07 11:35] AlexKulizhnikov commented on #3963
/reopen
Hello! I am facing the cimilar issue. Endless loop of IP gathering as dschafhauser said. Diabled IPV6 in iso image seems like not enogth solution for this

[2020-02-07 12:45] KaenDagger commented on #6447
@medyagh
![image](https://user-images.githubusercontent.com/24780524/74030713-b9114580-49d5-11ea-8bfe-227e5b4b7e0b.png)

this was test, just see no. failures, is this here the output expected ?
If yes, I can move forward

[2020-02-07 15:03] tstromberg commented on #6542
Thanks for the bug report!

 I wonder if broke usage of the none driver on nodes where it had been used previously. Do you mind including the output of:

`minikube start --vm-driver=none --alsologtostderr`

Thanks!

[2020-02-07 15:05] tstromberg commented on #6543
Good catch! Thank you for the detailed bug report. It seems there is definitely missing coverage in our integration tests (and unit tests!) for this feature.

[2020-02-07 15:09] tstromberg commented on #6537
Thanks for the bug report! It  should work in this configuration. Do you mind sharing the output of:

`hyperkit version`

and:

`minikube start --kubernetes-version v1.15.0 --cpus=4 --memory=5000 --alsologtostderr`

[2020-02-07 15:12] tstromberg commented on #6537
Also, does this  system have Docker for Desktop installed by any chance? If it does -- please make sure it has been updated. It installs it's own hyperkit binary.

[2020-02-07 15:51] tstromberg commented on #6542
Any chance that `/usr/share/ca-certificates` does not exist on your system?

I ask because we appear to make that assumption in v1.7:

[code]

It seems easy enough to fix if so.

[2020-02-07 16:08] arjantop commented on #6542
The of none driver is broken even if starting from scratch.
We use Amazon Linux, there is no `/usr/share/ca-certificates`.

[2020-02-07 16:35] girishell commented on #5801
You need to run libvirt as ur user..Then this error will go away.
sudo getent group | grep libvirt
sudo getent group | grep libvirtd
If it doesn’t exist, add it as system group.
sudo groupadd --system libvirt
sudo usermod -a -G libvirt $(whoami)  << admin
newgrp libvirt
Open the file /etc/libvirt/libvirtd.conf for editing.
unix_sock_group = "libvirt"
unix_sock_rw_perms = "0770"
sudo systemctl rest

[2020-02-07 16:47] zigarn commented on #6542
Same on CentOS 7 AMI: `/usr/share/ca-certificates` does not exists.
Creating it by hand solve this problem.

[2020-02-07 16:58] zigarn opened #6544 "Kubelet: misconfiguration: kubelet cgroup driver: "'systemd'" is different from docker cgroup driver: "systemd""
**The exact command to reproduce the issue**:

[code]

**The full output of the command that failed**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>

[code]

</details>

Main problem:

[code]

[code]

There are simple quotes around the `cgroup-driver` option.

**The operating system version**:

CentOS Linux release 7.6.1810 (Core)

[2020-02-07 17:44] tstromberg commented on #6543
This looks like an easy fix thanks to the detailed feedback. I'll try to send a PR out for it today.

[2020-02-07 17:46] afbjorklund commented on #6544
I think this is a generic bug with the docker info, where I copied the code from.

[code]

[code]

We don't need extra quotes, when we are running `exec.Command`

[code]

[code]

Unfortunately we don't have any centos test machines yet (#3552)

[2020-02-07 18:40] medyagh opened #6546 "add integration test for docker-env"
we need an integration test for this case:

when using the docker driver:

the user has already done docker-env:

eval $(minikube docker-env)

and then they do it again

eval $(minikube docker-env)

this should still spit out the right environment variables.

this could be a useful test, because docker driver uses docker itself and minikube needs to talk to a DIFFERENT docker than the one inside o

[2020-02-07 18:45] akoranne commented on #6528
Seems to work now. Closing the issue.

[2020-02-07 18:45] #6528 closed

[2020-02-07 19:11] tstromberg commented on #6543
Does someone mind testing whether or not #6547 fixes their use case? Here are pre-built binaries:

https://storage.googleapis.com/minikube-builds/6547/minikube-darwin-amd64
https://storage.googleapis.com/minikube-builds/6547/minikube-linux-amd64
https://storage.googleapis.com/minikube-builds/6547/minikube-windows-amd64.exe

[2020-02-07 19:11] CrossBound commented on #4242
It looks like the correct link is [this one](https://minikube.sigs.k8s.io/docs/tasks/registry/insecure/).

Also, for windows there is some minor modifications that are required. You can see the details [here](https://github.com/kubernetes/minikube/pull/6548)

[2020-02-07 20:13] khassel commented on #6544
see https://github.com/kubernetes/kubernetes/issues/87918

[2020-02-07 21:21] afbjorklund commented on #6544
Unfortunately the unit test was doctored to match the expect output, not reality.

Slightly odd that nobody has complained about the extra quotes in the version...

[2020-02-07 21:22] CrossBound commented on #4242
FYI, the instructions [here] (https://minikube.sigs.k8s.io/docs/tasks/registry/insecure/) have been updated with instructions for Windows.

[2020-02-07 21:51] afbjorklund commented on #6544
Note that Kubernetes (`kubeadm`, really) totally ignores all driver values we pass in for Docker...

[code]

And then fails to detect the default driver for any other container runtime, even though doc says so.

[code]

_Since v1.14.0, kubeadm will try to automatically detect the container runtime on Linux nodes by scanning through a list of well known domain sockets._

----

So even when we pass

[2020-02-07 22:22] priyawadhwa opened #6550 "Copy in vmpath.GuestPersistentDir/minikube/binaries into preloaded images"
This should save a couple seconds on `minikube start`,

ref https://github.com/kubernetes/minikube/pull/6531#discussion_r376167386

[2020-02-07 22:23] priyawadhwa opened #6551 "Skip loading images if using preloaded image with kic"
This should also save time on `minikube start`.

Note: only do this for the docker container runtime

[2020-02-07 22:37] avif commented on #6403
Can't answer your question, but I can offer a workaround:
Disable ingress addon
`minikube addons disable ingress`

If you are using Helm 3, add stable repo
`helm repo add stable https://kubernetes-charts.storage.googleapis.com/`

Install nginx ingress controller with "ssl-passthrough" enabled
[code]

You could do this without Helm too, but you get the point.

Ref:
[](https://esgf.github.io/esgf-do

[2020-02-07 22:37] #6543 closed

[2020-02-07 22:37] ggreer commented on #6543
The linux binary works for me. Running `minikube start --extra-config=apiserver.service-node-port-range=80-30000` now sets the right port range.

If I apply a manifest that adds cassandra nodeport service, it succeeds with the binary from build 6547. If I do the same thing with minikube v1.7.1, it always fails with `The Service "cassandra" is invalid: spec.ports[0].nodePort: Invalid value: 9042: p

[2020-02-07 22:37] #6542 closed

[2020-02-07 23:00] avif commented on #6403
I also get the feeling like you are trying to run Strimzi kafka on minikube with ingress external like I did, so here's a working example just in case:
Install ingress controller like previously described.

Install strimzi operator.

Apply a kafka cluster configuration with ingress external, TLS and some user:
[code]

Extract ca-cert & my-user cert:
[code]

Create truststore & keystore (use any or

[2020-02-07 23:15] #6544 closed

[2020-02-07 23:19] tstromberg commented on #6543
@ggreer - Thank you for the confirmation. We'll ship v1.7.2 in the next hour or so with this PR.

[2020-02-08 00:15] #6538 closed

[2020-02-08 00:34] tstromberg commented on #5779
Failed due to:
[code]

[2020-02-08 07:27] medyagh opened #6558 "install CRIO- Per kube version"
CRI-O and Kubernetes follow the same release cycle and deprecation policy.

[code]

We have a Provisioner that has a method called Package() which is unimplented

[2020-02-08 07:53] afbjorklund commented on #6558
There is a problem with this release cycle, in that CRI-O is currently released about a month later...

So this means that you need to run with an older Kubernetes version or with an older CRI-O version.

**Days between releases:** (k8s and crio)
![release-times](https://user-images.githubusercontent.com/10364051/74081470-b6533680-4a4f-11ea-84d8-da547e2397a8.png)

There is also a lack of deb/rpm p

[2020-02-08 07:59] afbjorklund commented on #6558
For now we are hoping that the compability is "good enough", and run `v1.16.1` with all k8s versions.

This is the same strategy that we have for all container runtimes (docker/containerd/podman/crio)

We could change to installing `crio` the same way we install `kubeadm`, if it is deemed necessary ?

But for now it has worked, and the plan is to use `v1.17.0` with the introduction of Kubernetes 1

[2020-02-08 08:06] afbjorklund commented on #6539
Logic looked OK to be, `driver.BareMetal(drvName)` should be the same as `local` - no ?

[2020-02-08 08:22] afbjorklund commented on #6544
@zigarn : Thanks for reporting, hopefully fixed in `v1.7.2` ?

[2020-02-08 08:53] medyagh commented on #6539
the line code changed: I mean this one :
why do we do validateCPUCount for none ?

validateCPUCount(driver.BareMetal(drvName))

[2020-02-08 08:54] medyagh commented on #6539
ah never mind that code is correct.

[2020-02-08 08:54] #6539 closed

[2020-02-08 09:08] afbjorklund commented on #6525
Seems like there are two kinds of kind ? Not the same as https://github.com/kubernetes-sigs/kind

From the description linked, this particular KIND looks somewhat similar to what KIC is doing:

* https://github.com/bsycorp/kind#why

* https://github.com/bsycorp/kind#how-does-kind-work

Building minikube for the `ppc64le` GOARCH is straight-forward enough, but it seems unlikely that this particular

[2020-02-08 09:24] medyagh commented on #6558
you are right I have been trying to install crio in kicbase image
the instructions on the site doesnt work https://github.com/cri-o/cri-o/issues/3232

but also I found some instructions in old forks that work manually but in a Dockerfile errors out
```E: Sub-process /usr/bin/dpkg returned an error code (1)```

[code]

over all it is had to install any version of it, let alone different versions of

[2020-02-08 12:17] ImShakthi opened #6559 "addon enable fails after update: kubectl: cannot execute binary file"
**The exact command to reproduce the issue**: minikube addons enable ingress

**The full output of the command that failed**:
💣  enable failed: running callbacks: [addon apply: sudo KUBECONFIG=/var/lib/minikube/kubeconfig /var/lib/minikube/binaries/v1.17.0/kubectl apply -f /etc/kubernetes/addons/ingress-configmap.yaml -f /etc/kubernetes/addons/ingress-rbac.yaml -f /etc/kubernetes/addons/ingress-dp

[2020-02-08 12:46] afbjorklund commented on #6558
I think this was a problem relating to `/etc/crictl.yaml` ?

Both containerd and cri-o tried to install this very same file...

Looks like a packaging error, as it _can't_ be included in the deb.

https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable

[2020-02-08 19:31] tstromberg commented on #6559
Hey @ImShakthi

Thank you for opening this bug. I have a theory that this bug is upgrade related, but am still a bit perplexed. Do you mind collecting some information for me first. I would like the output of:

* `minikube version`
* `minikube ssh "ls -laR /var/lib/minikube/binaries"`
* `minikube ssh "uname -a"`

I'm pretty sure the bug here is that we rewrote the way addons are enabled in minikub

[2020-02-08 19:48] tstromberg commented on #6559
If someone wants to fix this issue for other future upgraders, one easy solution would be to add something here that checks if kubectl is installed in the cluster:

https://github.com/kubernetes/minikube/blob/239be7ed941c73a9b5b0b4d1833f23c19b29c0e2/pkg/addons/addons.go#L211

A simple file existence check like `test -x /path/to/kubectl` should do.

If the binary is not executable, you can call thi

[2020-02-08 22:01] spaem66 opened #6561 "none on Ubuntu 18.04: apiserver process never appeared"
**sudo minikube start --vm-driver=none**:

**The full output of the command that failed**:<details>

docker@ubuntu:/usr/bin$ sudo minikube start
😄  minikube v1.7.2 on Ubuntu 18.04
✨  Using the none driver based on existing profile
⌛  Reconfiguring existing host ...
🏃  Using the running none "minikube" VM ...
ℹ️   OS release is Ubuntu 18.04.4 LTS
🐳  Preparing Kubernetes v1.17.2 on Docker 18.09.9 ..

[2020-02-09 00:16] tstromberg commented on #6561
Do you mind sharing the output of `sudo minikube logs`?

[2020-02-09 00:17] tstromberg commented on #6561
Also, does `sudo minikube delete` help at all?

[2020-02-09 01:06] #6524 closed

[2020-02-09 01:06] tstromberg commented on #6524
Fixed in v1.7.2. Thank you for your patience!

[2020-02-09 06:05] ImShakthi commented on #6559
@tstromberg Thank you for responding.

I'm able to enable addons after `minikube delete` and `minikube start`.

Here the output for the command you request for,
`minikube version`
[code]

`minikube ssh "ls -laR /var/lib/minikube/binaries"`
[code]

`minikube ssh "uname -a"`
[code]

[2020-02-09 07:43] spaem66 commented on #6561
Hello Thomas, thanks a lot for your reply.

In order to install minikube I followed the instruction here https://kubernetes.io/docs/tasks/tools/install-minikube/ and then here http://www.ethernetresearch.com/kubernetes/kubernetes-how-to-install-minikube-in-a-vm/

I’m working on a VM based on VMWare workstation15.5.1 build-15018445 and all the prerequisites are satisfied (e.g.: Intel V-T enabled an

[2020-02-09 08:16] spaem66 commented on #6561
Hello, I configured the daemon.json with the overlay driver and now it works:

{
  "storage-driver": "overlay2"
}

Indeed, this driver is deprecated, later I will try to modify almost in overlay2.

[2020-02-09 08:48] spaem66 commented on #6561
A quick question. In order to start minikube using the vmware driver (minikube start --vm-driver=vmware) where should I copy this driver? I tried /usr/bin, /bin but it seems that it is unable to find the driver in the PATH, while actually it is in the PATH

[2020-02-09 08:57] zigarn commented on #6542
I confirm that the problem is solved in `v1.7.2`

[2020-02-09 09:00] zigarn commented on #6544
I confirm that the problem is solved in `v1.7.2`.

Thanks everyone for the great reactivity and quick fixing release!

[2020-02-09 09:55] afbjorklund commented on #6559
Usually "cannot execute binary file" means there is something wrong with the program, like os or arch.

In this case, the host `kubectl` binary is for darwin - where as the minikube binaries are for linux.

Are you able to confirm, by checking the file contents of the /var/lib/minikube/binaries/v1.17.2/kubectl

It might be a regression, if we are trying to store **both** kubectl binaries in the sa

[2020-02-09 10:57] ImShakthi commented on #6559
@afbjorklund I did `ssh` into my `minikube` and was able to see `var/lib/minikube/binaries/v1.17.2/kubectl` file. I'm not pretty sure about the reason for the issue, yet curious to know the root cause and fix it.

[2020-02-09 13:35] afbjorklund commented on #6559
@ImShakthi : I was wonder if it is a darwin binary or a linux binary, not if it exists (it did)

Can you run something like `file` on it ? Should be "ELF 64-bit LSB executable, x86-64"

[2020-02-09 13:43] afbjorklund commented on #6559
Get a slightly different error when I try to reproduce it, though.

[code]

So there could be another reason for the error you are seeing.

[2020-02-09 14:01] afbjorklund commented on #6559
My bad, "Exec format error" is the error code (ENOEXEC) - not the error message.

It is that problem, was able to duplicate by copying the Mac binary into the cache...

[code]

I think Windows users got lucky, since there it is called `kubectl.exe` instead.

@priyawadhwa : why are we copying and running kubectl in the cluster ?

[2020-02-09 14:04] afbjorklund commented on #6518
Why are we downloading the kubernetes-client (kubectl), when setting up the server ?

[2020-02-09 14:12] afbjorklund commented on #6518
One old suggestion was to use the _compressed_ versions rather than the raw binaries...
But I'm not sure if it is a win for the server binaries, since it includes a lot of other "stuff":

69M	kubectl
13M	kubernetes-client-linux-amd64.tar.gz

107M	kubelet
38M	kubeadm
343M	kubernetes-server-linux-amd64.tar.gz

i.e. it duplicates a lot of content that we are pulling in the container images as well
As

[2020-02-09 14:16] afbjorklund commented on #6359
@medyagh : did you ever find the root cause for this ? it looks the same as #6559 to me

[2020-02-09 15:28] sraillard opened #6565 "File copy to VM isn't working anymore on Windows"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
No error reported when minikube is starting.
I didn't manage to display verbose/debug logs when adding --v=7.
</details>

**The output of the `minikube logs` command**:<details>

* ==> Docker <==
* -- Logs begin at Sun 2020-02-09 15:22:03 UTC, end at Sun 2020-02-09 16:22:02 UTC. -

[2020-02-09 22:53] avoidik commented on #4634
wasn't if fixed already in https://github.com/kubernetes/minikube/issues/2256?

[2020-02-10 02:53] timkeating1970 opened #6569 "unable to start minikube"
Windows 10 pro notebook running VMware workstation pro 15 / 15.5.1 build-15018445
guest VM is Fedora workstation fc31.x86_64

Getting this error:
Unable to start VM. Please investigate and run 'minikube delete' if possible: create: precreate: exec: "docker": executable file not found in $PATH

minikube start --vm-driver=none
yields the following:
😄  minikube v1.7.2 on Fedora 31
✨  Using the none d

[2020-02-10 04:53] spyd3rw3b commented on #6329
I got the same error, Powershell returned as online, from the cmdline, I deleted the .minikube, but Hyper-V had a lock on the virtual drives and would not release. I had to delete the minikube VM under Hyper-V Manager. Close my current cmdline session and it started successfully.

[2020-02-10 07:44] Doqnach commented on #5779
Just now was able to upgrade minikube to 1.7.2 using `brew upgrade minikube`

[2020-02-10 08:02] hanilkong opened #6570 "xdg-open"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-02-10 08:03] #6570 closed

[2020-02-10 10:00] #5904 closed

[2020-02-10 10:40] tdevilleduc commented on #6569
Is it working if you specify another vm-driver ?
For example,
`minikube start --vm-driver=hyper-v
`

[2020-02-10 15:46] govargo opened #6574 "VersionUp: helm-tiller addon v2.14.3 → v2.16.1"
Minikube v1.7.2 has helm-tiller addon v2.14.3.
This is not latest version(latest is v2.16.1).
v2.16.1 is final helm v2 version.

I'll send PR to upgrade to this version.

[2020-02-10 15:46] govargo commented on #6574
/kind cleanup

[2020-02-10 15:47] govargo commented on #6574
/assign

[2020-02-10 16:00] jfmercer commented on #6569
I got this to work with `minikube start --vm-driver=virtualbox`.

[2020-02-10 17:34] zirpu opened #6576 "kvm2: dashboard fails to start due to proxy "temporary error 503""
**The exact command to reproduce the issue**:
# config: kvm2, 4g mem, 2 cpu, 2g disk

minikube start
minikube dashboard

**The full output of the command that failed**:<details>
+ minikube start
* minikube v1.7.2 on Ubuntu 19.10
  - MINIKUBE_ACTIVE_DOCKERD=minikube
* Using the kvm2 driver based on user configuration
* Creating kvm2 VM (CPUs=2, Memory=4096MB, Disk=2000MB) ...
* Preparing Kubernetes

[2020-02-10 17:51] CrossBound opened #6577 "Importing Corporate Root CA is not working as advertised"
According to merge [https://github.com/kubernetes/minikube/pull/5015](https://github.com/kubernetes/minikube/pull/5015) and [https://minikube.sigs.k8s.io/docs/tutorials/untrusted_root_certificate/](https://minikube.sigs.k8s.io/docs/tutorials/untrusted_root_certificate/) I should be able to drop my corporate root certificate into my $home\\.minikube\certs directory and it would get copied to the mi

[2020-02-10 17:52] timkeating1970 commented on #6569
This is from a VM workstation environment? I didn't think to manually input the driver to virtualbox.

[2020-02-10 18:37] #5509 closed

[2020-02-10 18:40] #6574 closed

[2020-02-10 18:55] PabloCamino commented on #5729
Should this issue be labeled as an enhancement request instead of bug so it doesn't go closed without a fix?

[2020-02-10 18:59] timkeating1970 commented on #6569
using minikube start --vm-driver=virtualbox seemed counterintuitive because I'm using VMware workstation but thank you, jfmercer, it worked!

[2020-02-10 18:59] #6569 closed

[2020-02-10 19:24] olof-nord commented on #3771
This issue unfortunately still exists.

minikube version: v1.6.2
commit: 54f28ac5d3a815d1196cd5d57d707439ee4bb392

minikube start
😄  minikube v1.6.2 on Arch rolling
✨  Automatically selected the 'kvm2' driver (alternates: [virtualbox none])
🔥  Creating kvm2 VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...

💣  Unable to start VM. Please investigate and run 'minikube delete' if possible: create: Error c

[2020-02-10 19:38] Efer27 opened #6578 "minikube is exiting due to an error. If the above message is not useful, open an issu"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-02-10 19:57] medyagh commented on #6196
@MyLanPangzi are you still working on this?

[2020-02-10 20:00] medyagh commented on #4770
@afbjorklund could I assign it to you ?

[2020-02-10 20:49] medyagh commented on #6402
I am okay with documenting this with the condition that at the very beginning that minikube does not need docker !
and you can install docker if you want to use the following features:

- docker driver instead of vm
- build images directly against docker daemon inside minikube if you use docker runtime (instead of containerd)

and same for podman installation

[2020-02-10 21:47] tstromberg commented on #3771
@olof-nord - Your issue appears to be an unrelated system configuration issue. Please check:

- https://computingforgeeks.com/solve-libvirt-failed-to-initialize-a-valid-firewall-backend-on-arch-linux/
- https://superuser.com/questions/1063240/libvirt-failed-to-initialize-a-valid-firewall-backend

If those don't help, please open a new issue.

[2020-02-10 23:35] medyagh commented on #6447
that is the part that generates the HTML test report based on gopogh https://github.com/medyagh/gopogh

but we want the failure from previous step
(make integeration)

[2020-02-11 00:40] ajjensen13 opened #6579 "Increase vm-driver detection timeout from 2s to 4s for hyperV"
**The exact command to reproduce the issue**: minikube start --vm-driver=hyperv

**The full output of the command that failed**:<details>
* minikube v1.7.2 on Microsoft Windows 10 Pro 10.0.17763 Build 17763
* Using the hyperv driver based on user configuration

! 'hyperv' driver reported an issue: C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe Get-WindowsOptionalFeature -FeatureName Mic

[2020-02-11 00:55] ajjensen13 commented on #6579
Note: I have tried rebooting

[2020-02-11 04:00] malinichev opened #6581 "VBoxManage: error: Details: code NS_ERROR_FAILURE (0x80004005), component MachineWrap, interface IMachine"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-02-11 04:00] #6581 closed

[2020-02-11 08:14] zarenner commented on #4206
We're hitting this on the [Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops) macOS images, either 10.14 or 10.15.

One curiosity is that multiple times I've tested this, the first couple runs work fine, but then this error reproduces 100% of the time after that. That seems like it sort of meshes with @tstromberg's theory that a lease limit is

[2020-02-11 08:26] yaminari commented on #6579
@ajjensen13 If you really has hyperv configured correctly, you might have the same problem as I had

For me the problem was the hyperv driver timed out during state check (`Get-WindowsOptionalFeature -FeatureName Microsoft-Hyper-V-All -Online`).
It has a fix 2sec timeout (see #6422) and for me it need 3-4sec to return.

To confirm this please run this command in powershell and copy the output here

[2020-02-11 09:46] bartoszj opened #6583 "minikube kubect: permission denied"
After upgrading to minikube v.1.7.2 I'm not longer able to use `minikube kubectl`.

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>
[code]

</details>

**Contents of the `~/.minikube/cache/v1.17.2/kubectl`**:<details>
[code]

[code]

</details>

**The operating system version**: macOS Catalina 10.15.3 (19D76)

It looks like minikube do

[2020-02-11 10:48] afbjorklund commented on #6583
Same as #6559 - but in reverse

[2020-02-11 12:26] lmurali89 commented on #6335
Even I am facing an issue. What needs to be done here?

[2020-02-11 12:33] irizzant opened #6584 "Nginx ingress controller addon not working"
Hello
as far as I can see after enabling the Nginx ingress controller addon there is no service created for nginx deployment in `kube-system` namespace nor there is anything listening on ports 80/443 in minikube VM, resulting in unaccessible workloads from outside the cluster.

**The exact command to reproduce the issue**:
Start minikube:
`minikube start \
--memory 12000 \
--cpus 8 \
--bootstrappe

[2020-02-11 13:19] lmurali89 commented on #5884
@medyagh : It didn't work for me.. please help

Upon running this command:
minikube start --vm-driver hyperv --hyperv-virtual-switch "Minikube Switch" --disk-size 10g --memory 4096 --v 9999 --alsologtostderr
W0211 18:45:28.990951   10992 root.go:244] Error reading config file at C:\Users\3Li\.minikube\config\config.json: open C:\Users\3Li\.minikube\config\config.json: The system cannot find the pa

[2020-02-11 14:27] KarthikReddy12345 commented on #5884
Hi murali,
Have you enabled the virtualization in your machine.
Enable Hyper-V on windows features then try to start minikube.
Thanks.

[2020-02-11 16:18] mhintzke opened #6585 "powershell core: Get-WindowsOptionalFeature -FeatureName Microsoft-Hyper-V-All -Online fails"
**The exact command to reproduce the issue**:
`minikube start --vm-driver=hyperv`

**The full output of the command that failed**:<details>
[code]
</details>

**The operating system version**:
Microsoft Windows 10 Pro 10.0.18362 Build 18362

I tried this on 2 seperate machines that I use PowerShell Core primarily from and both failed with the same error.  If I run the suspected "failed" command:

[2020-02-11 16:36] edmondsw commented on #6525
Thanks for pointing out that https://github.com/kubernetes-sigs/kind is a thing. Looking into whether we can use that instead, since it already supports ppc64le.

[2020-02-11 17:03] tstromberg commented on #6559
Yeah, the bug here is that we write the macOS binary of kubectl and the Linux version to the same path. Let's make sure to get this fixed ASAP. Help wanted!

FYI - This only affects macOS users who have run `minikube kubectl`

[2020-02-11 17:55] afbjorklund commented on #6559
Suggestion is to move the host binaries into a ”client” subdirectory

[2020-02-11 18:10] dpiessens commented on #6579
I'm running into the same issue, and my results for the Powershell command are as stated. I did measure the timing and mine is running at 2 sec and 9 ms so technically over by just a hair. PR #6422 looks like it was a recent add, can we extend the timeout to 3 or 4 sec?

[2020-02-11 18:40] ajjensen13 commented on #6579
I'm away from my computer so I can't verify, but I strongly suspect that is
the same issue for me. I successfully installed minikube on Hyper-V on the
same machine about 2 weeks ago (and had to remove it temporarily). Now it
is failing to start.

On Tue, Feb 11, 2020, 12:10 PM Dan Piessens <notifications@github.com>
wrote:

[2020-02-11 18:42] priyawadhwa commented on #6559
@afbjorklund we have kubectl in the cluster to enable and disable addons since the addon manager was removed.

I can take a look at this one!

[2020-02-11 19:12] epicavic commented on #4350
if you have firewalld enabled you can add docker0 bridge interface to trusted zone which should allow docker containers to host communication

$ sudo minikube start --vm-driver=none
$ sudo firewall-cmd --permanent --zone=trusted --add-interface=docker0
$ sudo firewall-cmd --reload
$ sudo firewall-cmd --get-active-zones
$ sudo firewall-cmd --list-all --zone=trusted

![image](https://user-images.git

[2020-02-11 20:51] medyagh opened #6587 "kic: create container should verify it is running"
after we create a container we need to verify the status is "running" as opposed to "starting"
before we proceed to next commands.

this happens rarely but on podman I saw this:
[code]
which means we tried too early to run commands inside the container.

[2020-02-11 21:28] tstromberg commented on #6565
@sraillard - `minikube start --alsologtostderr -v=1` output would be very helpful. As a regression, I'd like to see this bug get fixed ASAP.

I suspect I broke this feature, but I'm surprised that the integration tests did not find this.

[2020-02-11 22:05] sraillard commented on #6565
Here are the logs when starting minikube 1.7.2 and also when starting minikube 1.6.2.

The differences I can see are that these lines in the 1.6.2 logs are not in the 1.7.2 logs:
[code]

It's looking like the copy of the files isn't done.

[log-start-1.6.2.txt](https://github.com/kubernetes/minikube/files/4188682/log-start-1.6.2.txt)
[log-start-1.7.2.txt](https://github.com/kubernetes/minikube/fil

[2020-02-11 22:35] tstromberg commented on #6565
Looks like a filepath bug:

[code]

[2020-02-11 22:38] sraillard commented on #6565
Ah yes, I didn't see it! Some mismatch between Linux/Windows path separator...

[2020-02-12 01:50] djmarcin commented on #6523
I was broken by this for a while before I figured out that in order to fix I have to completely purge my ~/.minikube directory so that it will fetch the corrected v1.8.1. Would it be good to publish a v1.8.2 so that anyone who already has the broken v1.8.1 image gets the update?

[2020-02-12 02:12] codysnider commented on #6585
I've got it running in PSCore on Linux Mint using the `--vm-driver=none` option and it's working great. Have you tried that?

[2020-02-12 02:23] GavinOsborn opened #6590 "host reboot with hyperkit: Error dialing tcp via ssh client: dial tcp <ip>:22: connect: host is down"
Can be reproduced every time across three different devices running MacOS.
Tested consistently on minikube 1.7.2, we believe 1.7.1 also but I cannot have same level of confidence.

**Full repro steps**:
 - `minikube delete` - to clear any pre-existing vm
 - run `minikube start` to create a new vm
 - Reboot host machine
 - run `minikube start` to resume your vm <-- this will fail

A subsequent `min

[2020-02-12 04:53] mhintzke commented on #6585
I have not, but I am not using Linux.  This issue seems to be specifically related to minikube's ability to detect Hyper-V enablement which would only be applicable on a Windows OS.  If anyone can confirm either a reproduction of the issue or a succesful running of minikube installing under these parameters that would help.

[2020-02-12 05:45] KarthikReddy12345 commented on #5884
Hi @lmurali89
Please check virtualisation / Hyper-V is enabled or not.
If not then please open windows features and enable Hyper-v and reboot your machine.
Then open the powershell or CMD prompt as admin and try to execute the same above command. It will work.

Thanks

[2020-02-12 06:23] #6559 closed

[2020-02-12 07:14] yaminari commented on #6579
@dpiessens I agree timeout may be extended by few sec.
But the main problem is **when timeout happens, there is no meaningful error message about it**, so the user has no clue about what happened.
Also the timeout should be enabled to set by user.

As a summary I promote these changes:

* default driver state timeout is 5sec
* able to change default timeout with `--vm-driver-timeout` flag (duratio

[2020-02-12 08:16] ianmiell opened #6592 "numeric profile name kubeadm init failure: v1beta2.NodeRegistrationOptions.Name: ReadString: expects " or n, but found 2,"
**Command**:<details>

[code]

</details>

**Output**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>

[code]

</details>

**The operating system version**:<details>

[code]

</details>

[2020-02-12 09:14] medyagh opened #6593 "Upload test logs per commit"
I noticed my html log was not being updated even in another browser .

But when I changed https to http it finally showed me the real latest logs.

I believe there is some sort of cdn happening for static files
We better upload the file to a 6 digit comit number. So we see the real latest logs and also be able to see what was integration tests results for a specific commit

http://storage.googleap

[2020-02-12 10:09] SMillerDev commented on #5824
You can't have a cask and a formula of the same thing installed since they will install the same files. If you uninstall the cask it will automatically link again. (and you only need one install anyway)

[2020-02-12 10:16] akram commented on #4206
I faced the issue also, and solved it by:
- disabling internet sharing in OSX (I don't know if it helped solving)
- editing the /var/db/dhcpd_leases and changed the entry named "minishift" by setting the fields `hw_address=1,32:76:8c:29:47:3f` and identifier=1,32:76:8c:29:47:3f to the mac address specified in the error message

[2020-02-12 14:17] bmantoni commented on #6070
Having the issue too.
minikube v1.7.2 on Darwin 10.14.6
hyperkit

I've tried deleting and recreating the kube, and on different networks. I get the 302 when curling the URL.

[2020-02-12 14:46] grigorei opened #6594 "failed to download minikube iso"
I'm trying to learn kubernetes in order to understand the concepts of native clouding - I'm a completely beginner to that. So I'm using the instructions from internet to activate the hyper-v on Windows- 10 (I got a Windows 10 VM as playground and for Internet access I'm going via an http proxy), install kubernetctl and minikube. Trying to start minikube returns an error - below
**The exact command

[2020-02-12 14:53] NoelJames commented on #6585
same

[code]

windows version
[code]

Followed the advice of last failure to enable online feature

[code]

Rebooted windows 10, then try minikube install

[code]

the output of WindowsOptionalFeature

[code]

[2020-02-12 15:29] NoelJames commented on #6585
Using --force as suggested in this issue get me started  and the vm started up #6579

[2020-02-12 15:32] agusti-t opened #6595 "eval (minikube -p minikube docker-env) doesn't work in fish-shell"
The command doesn't do what it's expected in fish-shell, may be related to: https://github.com/kubernetes/minikube/pull/6540

[code]

**The exact command to reproduce the issue**: `eval (minikube -p minikube docker-env)`

**The full output of the command that failed**:
[code]

Quick workaround is to just copy and paste the set commands and run them manually:
[code]

Something like:
[code]

**The o

[2020-02-12 15:47] codysnider commented on #6585
Just looked into the [source where this checks for hyperv availability](https://github.com/kubernetes/minikube/blob/239be7ed941c73a9b5b0b4d1833f23c19b29c0e2/pkg/minikube/registry/drvs/hyperv/hyperv.go#L92) and I think the underlying issue is something that can't really be scripted away: You'll need to run the Powershell session with elevated permissions (as administrator).

[2020-02-12 15:51] afbjorklund commented on #6595
Looks like both code and test was changed (semicolon removed), so looked intentional... @tstromberg ?

[2020-02-12 16:07] NoelJames commented on #6585
Was running as admin - sorry should have mentioned that. The related issue i posted in my last comment fixed the issue for me.

[2020-02-12 16:33] rafal0502 opened #6596 "none: certificate apiserver-kubelet-client not signed by CA certificate ca: crypto/rsa: verification error"
**The exact command to reproduce the issue**:
sudo minikube start --vm-driver=none

**The full output of the command that failed**:<details>
Error starting cluster: running cmd: /bin/bash -c "sudo env PATH=/var/lib/minikube/binaries/v1.17.2:$PATH kubeadm init phase certs all --config /var/tmp/minikube/kubeadm.yaml": /bin/bash -c "sudo env PATH=/var/lib/minikube/binaries/v1.17.2:$PATH kubeadm init

[2020-02-12 17:05] medyagh opened #6597 "kic: better clean up "docker volumes" that fills up the disk"
we should create the volumes with a label that we can clean up

if user deletes the containers manually or force kills them and not kill them without -v option

[code]

then there will be a leftover volume an eventually will fill up the disk.

[2020-02-12 17:12] medyagh commented on #4633
this doesn't seem to be needed anymore.

[2020-02-12 17:12] #4633 closed

[2020-02-12 17:20] aldib opened #6598 "HTTP_PROXY variable not passed to pods"
Hi,

I'm testing `minikube` with the following configuration:

* Windows 10 (Host OS)
* CENT OS 8.1 (Running as Linux Guest with VMWare workstation under Windows 10)
* Minikube 1.7.2 + kvm2 driver (Running as Linux Guest with KVM under CENT OS)

I start `minkube` with the following command:

[code]

If I run a docker container directly:
[code]
I can see that the HTTPS_PROXY, HTTPS_PROXY and NO_PRO

[2020-02-12 17:30] medyagh commented on #4392
@anorek are you still working this ?

[2020-02-12 17:34] medyagh commented on #4390
This is ready and will be merged soon

[2020-02-12 17:38] medyagh commented on #6598
@aldib
Hi Alex thanks for asking this question,
I am not sure if minikube is supposed to inject envs into pods, but should inject  the env to the docker-daemon that kubernetes is using.

and the host itself.

is there any reason that you would think minikube should do that ? is there a scenario that fails and you need that to happen ?

[2020-02-12 17:52] aldib commented on #6598
I agree that minikube is not supposed to inject envs into pods directly, but why is there a difference in behaviour when running a container with the docker client vs kubectl? Are they not both using the same docker daemon inside the minkube VM?

Maybe I'm missing something; what is the expected behaviour of passing `--docker-env HTTP_PROXY=${HTTP_PROXY}` with the start command?

[2020-02-12 19:29] medyagh opened #6600 "docker-env broken on cert path"
pointing to wrong cert path:

[code]

it should be ~/.minikube/certs

[2020-02-12 19:35] afbjorklund commented on #6600
Looks like a KIC thing ?

[code]

[2020-02-12 19:43] priyawadhwa commented on #6229
@billcrook ping!

[2020-02-12 19:43] priyawadhwa commented on #6211
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-02-12 19:43] #6211 closed

[2020-02-12 19:44] priyawadhwa commented on #6201
希望我能关闭此按钮就可以了-信息不足以使其无法执行，并且已经过去了一段时间。如果您能够提供其他详细信息，则可以随时在注释中添加/ reopen来重新打开它。

感谢您分享经验！

[2020-02-12 19:44] #6201 closed

[2020-02-12 19:44] priyawadhwa commented on #6197
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-02-12 19:44] #6197 closed

[2020-02-12 19:44] priyawadhwa commented on #6171
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-02-12 19:44] #6171 closed

[2020-02-12 19:47] afbjorklund commented on #5831
Most likely you want to use the regular libvirt driver (not kvm2) when using docker-machine

https://github.com/dhiltgen/docker-machine-kvm

[2020-02-12 19:47] priyawadhwa commented on #6157
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-02-12 19:47] #6157 closed

[2020-02-12 19:50] priyawadhwa commented on #6085
Hey @russoz it seems this issue is resolved so I'm going to go ahead and close it. If you run into any more issues please reopen at any time by including `/reopen` in your comment!

[2020-02-12 19:50] #6085 closed

[2020-02-12 19:51] priyawadhwa commented on #5825
Hey @asynclox @AldiT I recently fixed a bug with dashboard. Could you update to the latest release of minikube and let us know if that fixes it for you?

https://minikube.sigs.k8s.io/docs/start/

[2020-02-12 20:08] AldiT commented on #5825
Hi @priyawadhwa ,
I fixed it on my machine, I completely forgot about my comment here!
If it helps anyone else, my problem was: two different versions ambiguity (installed minikube from two different sources), and firewall network related problems, which are irrelevant for this thread. So as far as I am concerned, you may close this thread!
Thanks!

[2020-02-12 20:27] aamirsaleemkudcs opened #6601 "Failed to start the virtual machine 'minikube' because one of the Hyper-V components is not running."
* minikube v1.7.2 on Microsoft Windows 10 Pro 10.0.17763 Build 17763
* Using the hyperv driver based on user configuration
* Creating hyperv VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
E0212 20:25:19.520105    8980 main.go:106] libmachine: [stderr =====>] : Hyper-V\Start-VM : 'minikube' failed to start.
Failed to start the virtual machine 'minikube' because one of the Hyper-V components is not ru

[2020-02-12 20:27] aamirsaleemkudcs commented on #6601
minikube version: v1.7.2
commit: 50d543b5fcb0e1c0d7c27b1398a9a9790df09dfb

[2020-02-12 20:43] billcrook commented on #6229
Sorry - my brand new motherboard decided not to come back to life after a reboot a couple weeks ago. I won't be able to provide the resolve.conf.

[2020-02-12 21:27] medyagh commented on #6592
I confirm this on mac hyperkit on minikube HEAD
[code]

[2020-02-12 22:58] ylathouris commented on #5811
I am having this issue as well:

- **docker-19.03.5**
- **hyperkit-0.20190802**
- **minikube-1.7.2**

[2020-02-12 23:31] tstromberg commented on #6592
It's possible that the Kubeadm v1beta2 parser is stricter than previous versions: it expects a string, but gets a number.

The template fix is trivial.

[2020-02-13 00:40] medyagh opened #6608 "Fail Fast-er if can't Waiting for SSH to be available."
while debuging with @priyawadhwa we saw that minikube tests were waiting a long time to lib machine ssh

[2020-02-13 02:11] #4390 closed

[2020-02-13 02:11] #6446 closed

[2020-02-13 02:15] #6592 closed

[2020-02-13 04:19] medyagh commented on #6608
more info
[code]

[2020-02-13 04:57] ramakrishna1225 commented on #3925
I have done minikube delete and minikube start.

But i got **umount: /mount-awv: no mount point specified.** ERROR

[2020-02-13 05:11] ajjensen13 commented on #6579
My machine clocks in at about 3.7 seconds. @dpiessens `--force` suggestion also works for me.
[code]

[2020-02-13 06:13] #6447 closed

[2020-02-13 09:17] #6546 closed

[2020-02-13 09:17] #6600 closed

[2020-02-13 09:20] #6045 closed

[2020-02-13 09:25] lmurali89 commented on #5884
Hi @KarthikReddy12345

Thanks for replying.

I did do those stuffs but nothing helped me. I am unable to figure out where the issue is.

I wonder if there is any hardware issue.

{"hostname":"Spartan","uptime":6714,"bootTime":1581420225,"procs":149,"os":"windows","platform":"Microsoft Windows 10 Pro N","platformFamily":"Standalone Workstation","platformVersion":"10.0.18362 Build 18362","kernelVers

[2020-02-13 09:37] KarthikReddy12345 commented on #5884
Hi @Imurali89
Please follow the below process,
1. minikube start --vm-driver=hyperv     (Start with this command)
2. Open Virtualization and create the Minikube Switch and in the memory option you could add based on the RAM. If your using 8GB RAM then use 2GB RAM particulary to minikube.

Try the above process and see.
Thanks

[2020-02-13 11:24] naveeniitbhu opened #6611 "minikube does not start in ubuntu"
Hello,
I am trying to setup minikube and facing some problem in the process. I have already installed virtualbox and minikube.
When i execute the below command:
sudo minikube start --vm-driver=virtualbox

I get the below output:
😄  minikube v1.7.2 on Ubuntu 18.04
✨  Using the virtualbox driver based on user configuration
🛑  The "virtualbox" driver should not be used with root privileges.
💡  If you

[2020-02-13 11:29] altanai opened #6612 "none: [kubelet-check] Initial timeout of 40s passed."
**The exact command to reproduce the issue**:
minikube start --vm-driver=none

**The full output of the command that failed**:<details>

💣  Error starting cluster: init failed. cmd: "/bin/bash -c \"sudo env PATH=/var/lib/minikube/binaries/v1.16.2:$PATH kubeadm init --config /var/tmp/minikube/kubeadm.yaml  --ignore-preflight-errors=DirAvailable--etc-kubernetes-manifests,DirAvailable--var-lib-miniku

[2020-02-13 11:35] juniomik14 opened #6613 "Error entering my cluster after shutting down the PC"
OS: Windows 10
VM Driver: hyperv
ISO version: minikube-v1.7.2

Hi, I have created an infrastructure with jmeter-grafana-influxdb in a laptop with docker and every time I turn off the laptop when accessing my cluster I get this error:
Unable to connect to the server: dial tcp 172.17.131.210:8443: connectex: A connection attempt failed because the connected party did not properly respond after a per

[2020-02-13 13:09] muhammadwali350 opened #6614 "https://github.com/kubernetes/minikube/issues/new/choose"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-02-13 13:10] #6614 closed

[2020-02-13 13:39] naveeniitbhu commented on #5643
@stanleynguyen How did you resolve this issue? I am facing the issue with minikube 1.7.0.

[2020-02-13 15:57] stanleynguyen commented on #5643
@naveeniitbhu u can follow the above comment to work around

[2020-02-13 16:19] afbjorklund commented on #5643
Did you open a bug report upstream yet ? Looks like a library issue...

[2020-02-13 16:22] afbjorklund commented on #6611
If you remove the “sudo”, does it work ? Next question would be why you added it, is there some documentation somewhere that needs updating (it’s not needed)

[2020-02-13 16:24] naveeniitbhu commented on #6611
First I ran it without sudo, it shows the permission denied error for .netrc file. So, I thought to try it with sudo.

[2020-02-13 16:27] afbjorklund commented on #6611
Okay, so it is #5643

[2020-02-13 16:29] naveeniitbhu commented on #6611
Yes, closing it here. Will continue in that thread.

[2020-02-13 16:29] #6611 closed

[2020-02-13 16:40] aldib commented on #6598
I figured it out. The HTTPS_PROXY, HTTPS_PROXY and NO_PROXY variables are passed to the containers by the docker client if defined in the environment. kubectl does not behave in the same way, but it is possible to achieve a similar result using a PodPreset

[2020-02-13 16:40] #6598 closed

[2020-02-13 16:46] afbjorklund commented on #6611
If your regular file has the wrong permissions (not readable), you can use $NETRC to point to another one (possibly non-existent)

[2020-02-13 16:58] priyawadhwa opened #6615 "docker driver: restart docker command fails during `minikube start` at HEAD on mac"
On my MacBook Pro, `minikube start --vm-driver docker --alsologtostderr` gives the following logs:

[code]

Full logs output:

<details>

[code]

</details>

and the output of `docker ps`:

[code]

cc @medyagh

[2020-02-13 17:24] medyagh commented on #6615
[code]

[2020-02-13 17:24] medyagh commented on #6615
root@minikube:/# touch /var/run/docker/libnetwork/medya.txt
touch: cannot touch '/var/run/docker/libnetwork/medya.txt': Permission denied

[2020-02-13 17:57] #6615 closed

[2020-02-13 18:27] #6593 closed

[2020-02-13 18:30] dpiessens commented on #6335
Looks like this is related to #6579 You can use --force to get past this but the timeout for this needs to be increased.

[2020-02-13 19:59] tstromberg opened #6619 "Add conntrack to ISO - required for Kubernetes v1.18.x"
We should aim to update the LatestVersion constant to a v1.18 alpha in the v1.8.0 release so that there is time for us to battle-test Kubernetes v1.18 in minikube before the big release date.

Assuming #6603 is merged, minikube fails here with v1.18.0-alpha5.

[code]

[2020-02-13 20:00] tstromberg opened #6620 "Rename --vm-driver to --driver"
This makes kic less confusing.

We'll still need a compatibility flag.

[2020-02-13 20:01] tstromberg commented on #6619
It's worth noting that Kubernetes v1.18 works just fine with the Docker driver.

[2020-02-13 20:01] afbjorklund commented on #6619
We have `conntrack-tools` 1.4.5 available as a package, so that should be doable...

[2020-02-13 20:40] ninja-tester commented on #6518
Hi! I got [this issue](https://stackoverflow.com/questions/60177588/minikube-start-taking-long-time-to-downloading-kubectl-v1-17-2) too.
And really, why minkube downloading kubectl if it was already installed (added to PATH)?

[2020-02-13 21:19] pre commented on #5568
Came here to document that my issue in Catalina was that hyperkit requires Docker for Mac. Withtout it, minikube either hangs (using `minikube start -p profile`) or crashes (`minikube start`).
My installation didn't even get to the "minikube was blocked" security message.

My problem was solved by launching Docker for Mac which then asked security privileges for itself. After that, minikube was ab

[2020-02-13 22:06] afbjorklund commented on #6619
Apparently the dependency was added for _both_ deb and rpm packages. How nice...

It would be great if minikube could get more official kubernetes packaging status. :neutral_face:

[2020-02-13 22:44] medyagh opened #6627 "use docker apt-repo for installing docker base image"
comment from @afbjorklund
[code]

[2020-02-13 23:17] medyagh opened #6628 "enable minikube mount for kic drivers (docker, podman)"

[2020-02-13 23:18] medyagh commented on #6628
on linux this works

docker@p2:~$ /sbin/ip route|awk '/default/ { print $3 }'

also

docker inspect --format {{.IPAM.Config[0].GateWay}} $(docker network ls --filter name=bridge --format {{.ID}})

[2020-02-14 00:11] #6300 closed

[2020-02-14 01:27] stanleynguyen commented on #5643
@afbjorklund https://github.com/hashicorp/go-getter/issues/221 was opened for this

[2020-02-14 01:58] RA489 commented on #6620
/assign

[2020-02-14 02:06] RA489 commented on #6533
/assign

[2020-02-14 02:08] RA489 commented on #6534
/assign

[2020-02-14 03:08] medyagh commented on #6628
dig +short host.docker.internal

[2020-02-14 03:09] adarsh-m opened #6631 "virtualbox: Unable to start VM. creating: Maximum number of retries (5) exceeded"
I am trying to spin up VM using minikube but facing issue.

**The exact command to reproduce the issue**
minikube start --vm-driver=virtualbox

**The full output of the command that failed**:
minikube v1.7.2 on Microsoft Windows 10 Pro 10.0.17763 Build 17763
* Using the virtualbox driver based on user configuration
* Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
*
X Unable to st

[2020-02-14 03:11] adarsh-m commented on #5470
Hey, Can you please let me know how this issue is resolved. I am facing similar issue. Thank you.

[2020-02-14 07:09] #6608 closed

[2020-02-14 14:27] kameshsampath commented on #6312
@medyagh  -  none of the addons are enabled but still same issue

[2020-02-14 15:53] DSpade-r commented on #6579
`PS C:\Users\stalk>  measure-command {Get-WindowsOptionalFeature -FeatureName Microsoft-Hyper-V-All -Online | out-host}

FeatureName      : Microsoft-Hyper-V-All
DisplayName      : Hyper-V
Description      : Предоставляет службы и средства управления для создания и запуска виртуальных машин и их ресурсов.
RestartRequired  : Possible
State            : Enabled
CustomProperties :

Days

[2020-02-14 16:19] afbjorklund commented on #6627
We use docker binaries from the same place (docker.com), for the regular minikube ISO install.

i.e. https://download.docker.com/linux/static/stable/x86_64/

[2020-02-14 16:23] afbjorklund commented on #6627
The reason for switching from distro to vendor, was just to get a slightly newer minor version...

https://packages.ubuntu.com/eoan/docker.io (19.03.2)

[2020-02-14 16:48] zirpu commented on #6576
closing. works on ubuntu 19.10.  something wrong with system76's pop_os 19.10 that i'm not going to bother wasting more time on.

[2020-02-14 17:19] afbjorklund commented on #5643
I added an implementation (even wrote a test case).

Most likely it would be better to keep the secret file somewhere else and use $NETRC for accessing it, but then again we can just ignore the contents instead of throwing a "permission denied" error...

Upstream looks comatose, but maybe we can cherry-pick.

[2020-02-14 17:46] johnsje opened #6639 "Symlink create failure"
**The exact command to reproduce the issue**:

minikube start

**The full output of the command that failed**:<details>

🔄  Relaunching Kubernetes using kubeadm ...
E0214 12:40:25.030601   58601 kubeadm.go:455] failed to create compat symlinks: create symlink failed: sudo ln -s /data/minikube /var/lib/minikube/etcd: Process exited with status 1

💣  Error restarting cluster: waiting for apiserver:

[2020-02-14 18:51] afbjorklund commented on #6350
Seems to be working, running podman version 1.6.5

[2020-02-14 18:51] #6350 closed

[2020-02-14 19:02] afbjorklund commented on #6619
Looks like we also need a kernel module loaded, for this to work properly.

[code]

[2020-02-14 19:05] afbjorklund commented on #6619
And another crio binary as well, which I knew about - but forgot.

`runtime config: pinns validation: exec: \"pinns\": executable file not found in $PATH`

Remembered to remove "pause", but not to add the new "pinns"....

[2020-02-14 19:17] dlopatin-ms opened #6640 "hyperv: powershell Get-WindowsOptionalFeature -FeatureName Microsoft-Hyper-V-All -Online failed"
![image](https://user-images.githubusercontent.com/44682905/74560313-5bea3680-4f77-11ea-84ce-fd1b40e8aceb.png)
HiperV installed, works fine with Docker desktop, also installed GCloud with kubectl (works fine too).

I tried to start with virual-switch :
minikube start --vm-driver hyperv --hyperv-virtual-switch "minikube"
with flag --force
Result the same.
Can someone explain what I do wrong?

[2020-02-14 19:32] detroyejr commented on #6640
Launch your shell as an admin. Then try again.

[2020-02-14 19:36] dlopatin-ms commented on #6640
I did, I always use shell from admin.

[2020-02-14 19:41] detroyejr commented on #6640
Got it. Can you provide more info? What's the output of `minikube start --alsologtostderr -v=7`?

[2020-02-14 19:44] dlopatin-ms commented on #6640
@detroyejr sure, thanks for helping.
![image](https://user-images.githubusercontent.com/44682905/74562290-8c33d400-4f7b-11ea-9838-1954e382b7a4.png)

[2020-02-14 19:46] samgranieri commented on #3036
I can confirm that @zarenner's solution works with adding a line for listen-address for 192.168.64.1

[2020-02-14 19:52] detroyejr commented on #6640
Wouldn't know offhand why it can't find hyperv unless it's really just not installed. Can you double check that you have everything Enabled? What's the output of `Get-WindowsOptionalFeature -Online | Where-Object {$_.State -eq "Enabled"} | Format-Table`? Is it showing everything HyperV related enabled?

[2020-02-14 19:57] dlopatin-ms commented on #6640
@detroyejr I did everything from the official tutorial.
![image](https://user-images.githubusercontent.com/44682905/74563214-57c11780-4f7d-11ea-8f95-7f5b7e790926.png)

[2020-02-14 20:14] detroyejr commented on #6640
Yeah, really not sure how to help assuming you're running as admin and HyperV is setup the normal way.

Just as a sanity check, make sure you're really running admin.
[code]

You could also try deleting the `.minikube` folder in your user directory and seeing if that helps.

[2020-02-14 20:26] dlopatin-ms commented on #6640
![image](https://user-images.githubusercontent.com/44682905/74564947-32cea380-4f81-11ea-966d-b8795f936a28.png)
I deleted .minikube folder with all subfolders - result the same :(

[2020-02-14 21:00] afbjorklund commented on #6619
It was the missing binary that was blocking crio.service, and thus our modprobe

[2020-02-14 21:00] #6619 closed

[2020-02-14 21:22] detroyejr commented on #6640
What version of minikube are you using? Latest version?

[2020-02-14 22:48] balopat opened #6642 "add APIServer endpoint to `minikube profile list`"
For Skaffold (https://github.com/GoogleContainerTools/skaffold/issues/3668) we know the current context. That context has an API server endpoint:
[code]

**I want to be able to join my API Server endpoint to a minikube profile.**

Currently this is not possible for the Docker driver, as the Node spec contains the node IP not the API Server endpoint:

[code]

Can we add a cluster-wide property, `AP

[2020-02-15 00:38] bhundven commented on #5716
Still an issue on Debian 10.3 using kvm2 driver with minikube 1.7.2.

[2020-02-15 00:49] #5185 closed

[2020-02-15 02:19] medyagh opened #6643 "docker-env cant detect shell in github actions ubuntu VM"
on integration tests in github actions minikube docker-env can not detect the shell
link to full logs https://github.com/kubernetes/minikube/suites/459846392/artifacts/1883061

[code]

The workflow Yaml file section:

[code]

[2020-02-15 03:03] medyagh opened #6644 "driver auto-select fails to auto select in github action ubuntu VM"
[code]

<details>
=== RUN   TestDownloadOnly/group/v1.11.10
--- FAIL: TestDownloadOnly/group/v1.11.10 (0.70s)
aaa_download_only_test.go:62: (dbg) Run:  ./minikube-linux-amd64 start --download-only -p download-20200215T021651.228986155-2676 --force --alsologtostderr --kubernetes-version=v1.11.10
aaa_download_only_test.go:62: (dbg) Non-zero exit: ./minikube-linux-amd64 start --download-only -p downl

[2020-02-15 03:17] medyagh opened #6646 "minikube delete all should not fail if there is nothing to delete"
I saw this in the integraiotn tests in github actions

[code]

I also tested locally

[code]

[2020-02-15 03:54] KhangLe96 commented on #6640
I have the same problem with the latest version 1.7.2

[2020-02-15 05:35] medyagh opened #6647 "Prevent minikube profile command to create profile"
one un-intentional side effect of minikube profile command is creating a new profile.

minikube profiles should only be created by minikube start.

so if you by mistake do

[code]

(instead of list)

it will create an abandoned profile called list.
I would like to disable the creation of profile by minikube profile command.

however, 'minikube profile pname'
should still change the profile to 'pna

[2020-02-15 06:58] medyagh commented on #6628
update:

it keeps telling me
"special device 192.168.65.2 does not exist."

to debug and confirm the problem is not connectivity I started a UFS server manually with this code
[code]

then inside container I tried the command that minikube is running which is
[code]
(I get the IP using 'dig +short host.docker.internal')
I ran the same command and I change the port to the one I have :

and exact sa

[2020-02-15 07:28] medyagh commented on #6642
@balopat that is a good idea ! we could add a field,
"ApiserverEndpoint"
in VM world they used to be the same, but in docker/podman driver it is a different story.

We could do that.

[2020-02-15 07:39] medyagh commented on #6628
one difference I could think of with VM is,
the mount version is different by one patch
version on the container:
[code]

[2020-02-15 07:40] dlopatin-ms commented on #6640
Yes, I used the latest version. I will try to reinstal prev version to check

[2020-02-15 08:23] rafiq-ahmed commented on #6579
The "**--force**" worked for me.
For me, the HyperV response is taking more than 5 Sec.
the command "_minikube start --vm-driver=hyperv --force_" resolve it.

[2020-02-15 08:29] KhangLe96 commented on #6640
Adding --force to the command has solved the problem for me

[2020-02-15 09:18] afbjorklund commented on #6628
Seem to be missing a colon `:` after the IP, in the mount command ?

[2020-02-15 10:25] vikkyomkar commented on #6647
@medyagh I will take-up this issue and create a PR

[2020-02-15 10:25] vikkyomkar commented on #6646
@medyagh I will take-up this issue and create a PR

[2020-02-15 10:25] tym0114 opened #6648 "getting kubeadm bootstrapper: dial tcp 127.0.0.1:22: connectex: No connection could be made because the target machine actively refused it."
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2020-02-15 10:54] sarthak8081 opened #6649 "none: [ERROR Port-2380]: Port 2380 is in use"
master01@OSDCCLDKUBMST03:~$ sudo minikube start --vm-driver=none
😄  minikube v1.7.2 on Ubuntu 19.10
✨  Using the none driver based on user configuration
⌛  Reconfiguring existing host ...
🏃  Using the running none "minikube" VM ...
ℹ️   OS release is Ubuntu 19.10
🐳  Preparing Kubernetes v1.17.2 on Docker 19.03.2 ...
    ▪ kubelet.resolv-conf=/run/systemd/resolve/resolv.conf
🚀  Launching Kubernetes

[2020-02-15 11:07] tym0114 opened #6650 "minikube start 失败"
**重现问题所需的命令**：minikube start --vm-driver virtualbox

**失败的命令的完整输出**：<details>

* Microsoft Windows 10 Home China 10.0.18362 Build 18362 上的 minikube v1.6.2
* Selecting 'virtualbox' driver from user configuration (alternates: [])
*
X Unable to start VM. Please investigate and run 'minikube delete' if possible: Error loading existing host. Please try running [minikube delete], then run [minikube star

[2020-02-15 11:27] afbjorklund commented on #4770
_For Docker:_
The other drivers are already the default (overlay2 and json-file)

[code]
The default `max-size` is unlimited, guess we can cap it to `100m`.
https://docs.docker.com/config/containers/logging/json-file/

It's not really related to cgroup, but recommended by kubeadm...

[2020-02-15 12:21] afbjorklund commented on #6643
@medyagh : we are using libmachine for this, and it just looks at `$SHELL`

https://github.com/docker/machine/blob/master/libmachine/shell/shell.go

So you probably want to set `SHELL=/bin/bash` in the environment ?

Since you have already selected bash, as the runner `shell: bash`

[2020-02-15 16:40] afbjorklund commented on #6504
Apparently this is not about preloading images onto the VM

[2020-02-15 22:13] snow6oy commented on #6579
Earlier in the day minikube was starting and stopping and deleting fine. And then
[code]
Running the recommended Powershell did nothing. I felt the --force and then it started.

[2020-02-16 06:50] vinaychaudharyofficial opened #6653 "failed to connect to the hypervisor while minikube starting"
Below is the KVM permission.

~$ sudo ls -la /var/run/libvirt/libvirt-sock
srwxrwx--- 1 root libvirtd 0 Feb 16 11:24 /var/run/libvirt/libvirt-sock
~$ ls -l /dev/kvm
crw-rw----+ 1 root libvirtd 10, 232 Feb 16 11:24 /dev/kvm

**The exact command to reproduce the issue**: minikube start --vm-driver=kvm2

**The full output of the command that failed**:<details>
 'kvm2' driver reported an issue: /usr/b

[2020-02-16 07:35] jessehu commented on #5706
Do we consider suspending a VM when executing `minikube stop`? 'Suspend' stores the state of VM on disk. When a suspended VM is started, the original state is restored, then the k8s cluster and the resouces installed in the k8s cluster are still there.
KVM and VMware Workstation & Fusion support 'Suspend a VM'. See https://wiki.openstack.org/wiki/Kvm-Pause-Suspend.

[2020-02-16 09:53] sayboras commented on #6532
/assign

[2020-02-16 10:29] sayboras commented on #6532
hi, just want to clarify a little bit on this issue.

Currently, the test is performing below actions:

- start cluster with OldestKubernetesVersion --> should pass
- start cluster with NewestKubernetesVersion --> should pass
- start cluster with OldestKubernetesVersion --> should fail due to downgrade.

Please let me know if you want to add `start cluster with NewestKubernetesVersion` step.

[2020-02-16 10:37] afbjorklund opened #6655 "systemd networkd configuration broken"
The `eth0` and `eth1` don't come up correctly in `networkctl`, at least not in VirtualBox.

[code]

[code]

This is a problem when you have another systemd unit that waits for `network-online`

It will wait for 2 minutes (120 seconds), and then fail with a timeout - the "dead" above.

For this reason, CRI-O is slow to start.

See https://github.com/cri-o/cri-o/commit/ebf507d10c11da7d85917b00f03e99

[2020-02-16 10:56] afbjorklund commented on #6655
[code]

[2020-02-16 11:02] afbjorklund commented on #6655
Something is buggy with the current configuration, since it works OK without it...

[code]

https://github.com/kubernetes/minikube/tree/master/deploy/iso/minikube-iso/board/coreos/minikube/rootfs-overlay/etc/systemd/network

[2020-02-16 11:16] afbjorklund commented on #6655
[code]

This is probably not the configuration, but more like bugs in systemd.

[2020-02-16 11:45] afbjorklund commented on #6655
Needs to have fixes backported, won't get an updated systemd until next OS upgrade.

[2020-02-16 11:55] afbjorklund commented on #5822
@priyawadhwa : the advantage is that we _know_ what goes into them, and are OK if upstream stops building them

[2020-02-16 12:19] afbjorklund commented on #5105
We can consider doing this for Buildroot 2020.02 LTS, it's not a big **code** change - just a decision

[2020-02-16 13:32] afbjorklund commented on #6655
Well, it is a _little_ happier at least:

[code]

But it still times out and fails. :-(

[2020-02-16 13:58] kameshsampath commented on #4604
@medyagh  - I have the initial draft for the addon, lets discuss this addon in new issue for clarity

[2020-02-16 14:01] kameshsampath opened #6656 "Addon to configure internal registry aliases"
Based on the discussion on #4604 , we need an addon that can configure the registry aliases.

The addon will do the following:

- Deploy a ConfigMap that can define the aliases
- Deploy a Daemonset that can update the minikube node /etc/hosts
- Deploy a Job that can patch the coreDNS for aliases rewrite rules
- SA and ClusterRoleBinding to run the  Job

[2020-02-16 14:03] kameshsampath commented on #6656
@medyagh the first draft of this addon,  PR https://github.com/kubernetes/minikube/pull/6657

[2020-02-16 14:35] afbjorklund commented on #6655
Another important fix:

https://github.com/systemd/systemd/commit/661113a2a2ff67973a08a27f95a8ca40f3251309

[2020-02-16 15:17] gmariotti commented on #6155
Hi, I'm currently having the same problem with macOS 10.15.3. The list of commands I'm running with their respective output is the following

[code]

I'm using fish as a shell, and the same behavior occurs if I use `--vm-driver=virtualbox`

[2020-02-16 16:28] juant72 commented on #2181
Remember use  "minikube delete"  for clean configurations.
This works for me.
thankyou

[2020-02-16 16:47] NarasimhaAthreya commented on #4696
Do you have any soultions for this ?
Should I need to go with any VMs instead ? It is waste of system resource if I run VM though I have linux machine to run.

[2020-02-16 16:50] NarasimhaAthreya commented on #4696
There is an offical documentation which says minikube installed through snap will not work. It requries deb package to run.

"If you’re using the none driver in Debian or a derivative, use the .deb packages for Docker rather than the snap package, which does not work with Minikube. You can download .deb packages from Docker."

But I have docker installed through .deb still it is not working.

[2020-02-16 17:02] dbecher-ito opened #6658 "How to create cross-cluster DNS between multiple minikube instances"
My question is more of a general sort, namely:

When running minikube, e.g., on macOS, is there some way to achieve cross-cluster dns resolution? E.g., I want to be able to spin-up two minikube cluster, one accessible via `cluster1.example.org`, one at `cluster2.example.org` and I also want to be able to run

[code]

on either of them. Do I have to spin-up a DNS Server, where I put these records a

[2020-02-16 19:00] afbjorklund commented on #4696
@NarasimhaAthreya : do you see the same output, do you have any more verbose logs ?

[2020-02-16 19:23] afbjorklund commented on #6655
Probably same as https://github.com/systemd/systemd/issues/8686

[2020-02-16 19:42] afbjorklund commented on #6655
As per workarounds, this made it start:

[code]

[code]

Apparently it defaults to `ipv6` 😵

[2020-02-16 19:51] medyagh commented on #6628
@afbjorklund

the command is same command is used in VM. this PR only changed what IP would return.... where would the : be ?

[2020-02-16 19:59] medyagh opened #6660 "github actions: add summary of all reports in one block"
currently each job has it's own "The End Result" which tells you in brief how may tests failed and what they are

<img width="835" alt="Screen Shot 2020-02-16 at 11 57 17 AM" src="https://user-images.githubusercontent.com/4564227/74611768-f059b380-50b3-11ea-9985-4b079a2a287f.png">

Example Github actions report:
https://github.com/kubernetes/minikube/pull/6630/checks?check_run_id=447573159

we hav

[2020-02-17 00:36] #5127 closed

[2020-02-17 00:36] #5145 closed

[2020-02-17 02:19] GavinOsborn commented on #6590
Another couple of errors using `minikube start`
#1) Attempting to resume a VM
**Full output from the command**
<details>
minikube start
😄  minikube v1.7.2 on Darwin 10.15.3
✨  Using the hyperkit driver based on user configuration
👍  Kubernetes 1.17.2 is now available. If you would like to upgrade, specify: --kubernetes-version=1.17.2
⌛  Reconfiguring existing host ...
🔄  Starting existing hyperkit

[2020-02-17 03:08] zirpu commented on #6576
Weirdly, I installed ubuntu19.10 (xubuntu) and it worked, twice.  Now I'm getting the same
error.

One thing I notice is that coredns is always in state Pending, as are storage-provisioner, dashboard-metrics-scraper and kubernetes-dashboard.

This minikube 1.7.2

[2020-02-17 03:17] GavinOsborn commented on #6590
Can reproduce on minkube version 1.7.1 and 1.7.2.
Everything works fine on 1.6.2.

[2020-02-17 03:50] medyagh commented on #6647
@vikkyomkar  it is yours ! please let me know what time you think you could make this. to see if we should include it in this milestone.

[2020-02-17 03:57] medyagh commented on #6646
@vikkyomkar I think you alrady signed up for another good first issue, once that once is done I am open to assign this one as well.

[2020-02-17 04:03] medyagh opened #6662 "delete left over docker driver volumes created by minikube"
if a container is stuck and user kills the container manually (not using minikube) there would be left over anonymous volumes that will eventually fill up the docker machine disk.

[2020-02-17 04:06] medyagh commented on #6662
/co/kic

[2020-02-17 06:42] #4259 closed

[2020-02-17 07:22] anorek commented on #4392
@medyagh  been busy for a while but I have most of the code ready. Will draft pr within 2 weeks

[2020-02-17 09:20] DevOpsFu commented on #6579
I have exactly the same issue, however my command returns in 0.35 seconds, so well within the 2s barrier. This worked fine before I upgraded minikube just this morning.

[2020-02-17 10:45] #6643 closed

[2020-02-17 11:51] lily524 commented on #6070
I met the same problem when using hyperkit as driver. Delete minikube and use another driver(e.g. virtualbox) is a quick solution.

[2020-02-17 12:04] vinaychaudharyofficial opened #6663 "minikube service kuberappdemo not working .. POD status ImagePullBackOff"
Running below command (kuberappdemo is the image file created in docker manually)

kubectl create deployment kuberappdemo --image=kuberappdemo
kubectl expose deployment kuberappdemo --type=LoadBalancer --port=8080

After the below command mentioned error coming and kuberappdemo has not been exposed and even not in browser.

Below command was also run to know the status.
$kubectl get all
NAME

[2020-02-17 17:20] aallbrig commented on #6646
@medyagh I can take this on! (cc @vikkyomkar)

[2020-02-17 17:29] Sher-Chowdhury commented on #3955
I have just retested with:

[code]

And I can confirm that this issue is still happening.

[2020-02-17 18:40] afbjorklund commented on #5822
Just to prove a point, podman now requires CNI spec 0.4.0 and CNI 0.7.0 does not have binaries...

[2020-02-17 19:24] afbjorklund opened #6664 "Upgrade CNI to support version 0.4.0"
`ERRO[0000] Error adding network: incompatible CNI versions; config is "0.4.0", plugin supports ["0.1.0" "0.2.0" "0.3.0" "0.3.1"] `

We are running 0.6.0 (Aug 2017), should upgrade to 0.7.0 (Apr 2019) - or 0.7.1

And we probably have to build it from source, in order to do so (no more binaries)

Required for `podman run`

[2020-02-17 19:24] afbjorklund commented on #6664
Related to #5822

[2020-02-17 19:41] shaulbehr opened #6666 "Newbie question - setting up demo on Windows system"
Hi,
Minikube n00b here. I'm following the installation instructions [here](https://kubernetes.io/docs/tasks/tools/install-minikube/) for installing Minikube using VirtualBox on Windows 10.
I installed Minikube using Chocolatey without any trouble.
Ran `minikube start --vm-driver=virtualbox`. This yielded the following output:
[code]
I figured this was because it created a new host-only network ada

[2020-02-17 20:35] aallbrig commented on #6646
Huzzah!

[2020-02-17 22:10] smitna commented on #6429
After a few more experiments and log reviews, I suspected that the underlying issue was linked to network i/o.  Indeed, the problem seems to have been Broadcom WiFi (either hardware or kernel module).  On either a wired link or Atheros WiFi, I was able to start a cluster successfully 10 times in a row (i.e. 20 total).

[2020-02-17 22:10] #6429 closed

[2020-02-17 22:23] ndiforfusi opened #6670 "- https://github.com/kubernetes/minikube/issues/new/choose"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-02-17 22:58] #5099 closed

[2020-02-17 23:22] aallbrig commented on #6647
@medyagh I see there is no PR open for this issue. I'm going to try my hand at a solution.

[2020-02-18 00:07] aallbrig commented on #6647
@medyagh I think I have a solution but I am having problems confirming behavior you reported as being expected. **I don't think `minikube profile pname` changes `profile` to `pname`**.

I'm going to open a PR soon but I wanted to know more about this behavior you had described.

<img width="717" alt="Screenshot 2020-02-17 18 53 24" src="https://user-images.githubusercontent.com/3106250/74693191-a1

[2020-02-18 01:00] #4070 closed

[2020-02-18 01:00] #5417 closed

[2020-02-18 01:00] #4201 closed

[2020-02-18 01:00] #4266 closed

[2020-02-18 01:00] #4325 closed

[2020-02-18 02:01] #3481 closed

[2020-02-18 03:01] #6646 closed

[2020-02-18 03:01] #6662 closed

[2020-02-18 10:50] DevOpsFu opened #6673 ""Kernel's RPF check is set to 'loose'" prevents Calico from working"
**The exact command to reproduce the issue**:

Provision Minikube with CNI enabled:

[code]

Install Calico:

[code]

At this point, the `calico-node` pod will be failing the readiness check.

**The full output of the command that failed**:<details>

[code]

This issue can be worked around by using the following environment variable tweak:

[code]

</details>

**The output of the `minikube logs` c

[2020-02-18 16:38] tstromberg commented on #6565
@sraillard - Do you mind checking if the PR I wrote does in fact fix the issue for you? Here is an updated Windows executable containing the fix:

https://storage.googleapis.com/minikube-builds/6605/minikube-windows-amd64.exe

If not, please share the `--alsologtostderr` output it provides.

[2020-02-18 16:50] alexbrand opened #6674 "Minikube does not update the memory allocation for a stopped VirtualBox instance"
**The exact command to reproduce the issue**:
1. `minikube start --vm-driver virtualbox`
2. `minikube stop`
3. `minikube start --vm-driver=virtualbox --memory=4g`

To improve the UX, we could 1) update the VM configuration if it's different than what already exists, or 2) Print a warning or error out if the configuration does not match the user's request.

[2020-02-18 16:53] sraillard commented on #6565
I have tested and now the file copy is working as expected, thank you!

[2020-02-18 18:15] rocketspacer commented on #3493
@sunilkumarvytla Install it with `clusterAdminRole: true` once. Then turn it off

[2020-02-18 19:38] edge0701 commented on #6673
My experience with installing Calico on Minikube was different, although I was using the latest Calico manifest, which points to v3.12.0 instead of v3.9.5.

In my case, I did not get the option to ignore RPF filter/have a loose check. I get the error:
```2020-02-18 19:24:56.443 [WARNING][2424] table.go 1159: Failed to execute ip(6)tables-restore command error=exit status 2 errorOutput="iptables-re

[2020-02-18 21:29] DevOpsFu commented on #6673
@edge0701 I get the same behaviour as you if I use the latest manifest :-(

[2020-02-19 01:48] charlielj88 opened #6676 "--exra-config=apiserver does not appear to take effect"
**The exact command to reproduce the issue**:
minikube start \
  --extra-config=apiserver.oidc-issuer-url=https://accounts.google.com  \
  --extra-config=apiserver.oidc-client-id="xxxx.apps.googleusercontent.com"

**The full output of the command that failed**:<details>

The k8s cluster can be started successful, but the 2 OIDC flags are not set on "pod/kube-apiserver-minikube" config yaml file

<

[2020-02-19 07:12] nkleroux opened #6677 "File from the .minikube/files folders are not being copied into the cluster anymore"
In version 1.6.2 we were able to copy files into folder .minikube/files, and they would automatically be copied over when minikube is started. This is how we copied our certificates to the cluster.

This doesn't seem to do the trick on 1.7.2 anymore.

Apologies for the lack of decorum, bit of a github noob and open to constructive criticism.

[2020-02-19 07:12] thehappycoder opened #6678 "Corrupted kubectl binary after upgrading minikube to 1.7.2"
**The exact command to reproduce the issue**:<details>
1. Upgrade minikube from 1.6.x to 1.7.2
2. Change memory to 6096 in $HOME/.minikube/machines/minikube/config.json
3. Run:
minikube start \
  --kubernetes-version v1.13.12 \
  --disk-size 100g \
  --cpus=2 \
  --memory=4096 \
  --extra-config=apiserver.service-node-port-range=80-32767 \
  --mount-string="$(dirname `pwd`):/projects" \
  --mount

[2020-02-19 08:23] ensonic opened #6679 ""minikube dashboard" crashes"
**The exact command to reproduce the issue**:

[code]

[code]

**Minikube version**:
[code]

**The operating system version**:
[code]

[2020-02-19 09:41] revmischa opened #6680 "minikube kubectl: kubectl: permission denied"
It's a challenging quickstart experience, at least with vmware.

**The exact command to reproduce the issue**:
Me, trying to install minicube with vmware on macOS catalina:
<details>
[code]
</details>

**The output of the `minikube logs` command**:<details>
[code]

</details>

**The operating system version**:

[2020-02-19 10:33] #4053 closed

[2020-02-19 11:04] mmrath commented on #6579
I had the exact same issue and --force worked, command takes around 8 seconds. Looking at others reported times, 2 seconds may be too short. And the error message is misleading.

[2020-02-19 12:50] muvaf opened #6682 "kic: cannot point shell to docker daemon in minikube"
**The exact command to reproduce the issue**:
[code]
**The full output of the command that failed**:<details>
[code]

</details>

**The output of the `minikube logs` command**:<details>

`minikube logs` fails, too, due to same error:
[code]

</details>

**The operating system version**: Apple macOS Catalina 10.15.2

[2020-02-19 13:25] ZephSibley commented on #4481
Getting the same issue with v1.7.2. Deleting cache dirs didn't help.

Issue appeared after coming back up from pm-suspend.

[2020-02-19 13:46] Jay1305 opened #6683 "Minikube not starting with Hyperv"
I had 1.5.2 and today only I uninstalled and then downloaded and installed 1.7.2. I have hyper-v installed and enabled on my machine. I executed same command that I was running on 1.5.2 but it is complaining that I don't have Hyper-V installed. I am able to run vagrant and it is able to create virtual machines in HyperV. Please let me know if you need any other information.

H:\Minikube>minikube.e

[2020-02-19 14:05] ashwinchandran13 commented on #4353
Same Issue. Any solutions yet?

[2020-02-19 15:50] torsten-liermann opened #6684 "none: Too many retries waiting for SSH to be available"
Hi,

I am desperate. I have to work on a restricted, reduced Windows 10 and need a simple Kubernetes cluster for local development.

Why does minikube start wait for ssh by vm-driver none?

And a small question by the way: How can I teach minikubeto use the SSL connection for downloading kubectl etc. to insecure? "My" http proxy is hacking SSL connections. :-(

Many Thanks for support.

**The exac

[2020-02-19 17:10] tstromberg commented on #6677
Are you on Windows?

If so, this is likely a dupe of #6565

You can tell by running `minikube start --alsologtostderr` and looking for the lines that say `filesync` or `ssh_runner`

[2020-02-19 17:14] tstromberg commented on #6673
@edge0701 - If you send in a PR for `linux_defconfig`, we can get it merged in time for the minikube v1.8.0 release.

[2020-02-19 17:16] #6670 closed

[2020-02-19 17:33] medyagh opened #6685 "docker driver: "client not signed by CA certificate ""
minikube 1.7.2 docker driver
[code]

on debugging I noticed the user had a lot of docker volumes

[2020-02-19 17:59] #6532 closed

[2020-02-19 18:57] tstromberg commented on #5779
Updating title to reflect current state.

The script assumes that the GitHub token is exported by Jenkins into the environment as  'access_token'. It does not currently appear to happen that way, however.

[2020-02-19 19:00] Birdrock opened #6686 "Minikube exits due to an error with PodSecurityPolicy admissions controller enabled"
When following the instructions [here](https://minikube.sigs.k8s.io/docs/tutorials/using_psp/) to enable PodSecurityPolicies with minikube, minikube exits due to an error.

A brief conversation in [slack](https://kubernetes.slack.com/archives/C1F5CT6Q1/p1582065772326700) suggested this might be the result of a recent addons refactor.

**The exact command to reproduce the issue**:

➜ minikube start

[2020-02-19 19:07] #6597 closed

[2020-02-19 19:08] #6565 closed

[2020-02-19 19:08] medyagh commented on #6565
done by PR

[2020-02-19 19:11] ashwinchandran13 commented on #4481
updated to v1.7.2 but still the same issue

[2020-02-19 19:12] medyagh opened #6687 "minikube service for docker"

[2020-02-19 19:12] medyagh opened #6688 "make docker vm driver not experimental"

[2020-02-19 19:14] ashwinchandran13 commented on #4839
@tstromberg The issue still exits even on v1.7.2. Any update on any solution?

[2020-02-19 19:15] medyagh commented on #6682
@muvaf  thank you for creating this issue, that was a typo bug , we fixedx it and it will be included in this release.

[2020-02-19 19:16] ulm0 opened #6689 "--extra-config not available for kube-proxy"
I’m trying to pass some extra-config to kubeproxy with `--extra-config` but i get the following error:

**The exact command to reproduce the issue**:
[code]
**The full output of the command that failed**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>
[code]

</details>

**The operating system version**:

macOS v10.14.6

[2020-02-19 19:16] medyagh commented on #6682
@muvaf meanwhile to fix it manually u can pass the correct path to the cert
which is
export DOCKER_CERT_PATH="${HOME}/.minikube/certs"

[2020-02-19 19:17] medyagh commented on #6682
this is fixed on the head and we added integeaton tests so that it never happens again. so I will close this issue, please re-open if happens agian.

[2020-02-19 19:17] tstromberg commented on #3084
Rather than introducing a per-hypervisor flag, I believe the best solution here is for users to set the `MINIKUBE_HOME` environment variable:

https://minikube.sigs.k8s.io/docs/reference/environment_variables/

[2020-02-19 19:17] #3084 closed

[2020-02-19 19:18] priyawadhwa commented on #6579
I think we could definitely increase the timeout to 4s if people are seeing this issue. Passing in the flag `--vm-driver=hyperv` should solve this issue, since auto-detection won't happen. Has anyone tried adding this flag and still seen issues?

Also, if anyone would be interested in opening a PR to increase the timeout, I'd be happy to review it.

[2020-02-19 19:18] medyagh commented on #6678
thank you @thehappycoder that was a bug and fixed it on the master, it will be included in 1.7.3 release. I will close please reopen if it still happens in 1.7.3

[2020-02-19 19:18] #6678 closed

[2020-02-19 19:19] priyawadhwa commented on #6347
@SirBlues are you still seeing this issue?

[2020-02-19 19:19] sharifelgamal commented on #6345
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

[2020-02-19 19:19] #6345 closed

[2020-02-19 19:20] medyagh commented on #6674
That is an interesting obeservation, we need to make the config and re-config of minikube more smooth.

[2020-02-19 19:20] priyawadhwa commented on #6343
Hey @Vikkanav, hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube star

[2020-02-19 19:20] #6343 closed

[2020-02-19 19:20] priyawadhwa commented on #6263
Hey @sabirpiludiya, hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube

[2020-02-19 19:20] #6263 closed

[2020-02-19 19:20] priyawadhwa commented on #6247
Hey @gangganghong are you still seeing this issue?

[2020-02-19 19:21] medyagh commented on #6666
hi @shaulbehr
I am curious do you happen to be running on a network with vpn ?
or anything different with your virtualbox setup ?

[2020-02-19 19:21] sharifelgamal commented on #6249
希望如果我关闭此按钮就可以了-信息不足以使其无法执行，并且已经过去了一段时间。如果您能够提供其他详细信息，则可以随时在注释中添加/ reopen来重新打开它。

---

Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

[2020-02-19 19:21] #6249 closed

[2020-02-19 19:22] medyagh commented on #6658
@dbecher-ito that is an interesting question, do you mind sharing what is a use case for this ?

the answer would different based on the driver and the os you are using.
for example on hyperkit on mac would be different with kvm on linux

[2020-02-19 19:23] medyagh commented on #6650
Thank you for sharing your experience! If you don't mind, could you please provide:

do you mind trying

minikube delete --all
and then
minikube start --alsologtostderr -v=8

[2020-02-19 19:23] tstromberg commented on #4604
@kameshsampath - PR looks good, but could use a quick README file so that users understand what it is actually doing.

[2020-02-19 19:25] medyagh commented on #6594
@grigorei do you happen to be in a VPN or a network that doesn't have access to download from gcs ?
does it let you to download this file manually ?
https://storage.googleapis.com/minikube/iso/minikube-v1.7.0.iso

[2020-02-19 19:27] tstromberg commented on #5728
My best guess is that the user deleted the `.minikube` folder without first deleting the minikube VM, otherwise the VM state is left in an incomplete state. You should never need to delete the `.minikube` folder.

That said, `minikube delete` should recover from this state in newer versions.

[2020-02-19 19:27] #5728 closed

[2020-02-19 19:29] medyagh commented on #6590
thank you @GavinOsborn for sharing your experience.
do you mind sharing the more verbose logs with

minikube start --alsologtostderr -v=8

[2020-02-19 19:29] priyawadhwa commented on #6203
Hey @jiangyongbing24, I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubec

[2020-02-19 19:32] medyagh commented on #6578
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2020-02-19 19:33] ZephSibley commented on #4481
Using the kvm2 driver does fix it, but it's not ideal.

[2020-02-19 19:34] tstromberg commented on #6024
2 minutes sounds terrible for an already running cluster. We should fix that.

[2020-02-19 19:34] #6682 closed

[2020-02-19 19:35] medyagh commented on #6686
@Birdrock I am curious is this something that broke in 1.7.2 ? had u been using this feature before with minikube?

[2020-02-19 19:35] sharifelgamal commented on #6161
@steadysupply did any of the above links help?

[2020-02-19 19:46] medyagh commented on #6486
@kishore-05  do you still have this issue?

[2020-02-19 19:47] tstromberg commented on #6684
This appears to be a dupe of #4132 - for which the root cause is unknown. `minikube delete` may fix this once, but it may reintroduce itself later.

I would personally recommend just running minikube on Windows if possible, which will allow it to manage it's own Hyper-V VM instead. Alternatively, you may also try the experimental `--vm-driver=docker` either within the VM, or directly on Windows.

[2020-02-19 19:47] tstromberg commented on #6684
This issue appears to be a duplicate of #4132, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-02-19 19:47] #6684 closed

[2020-02-19 19:49] medyagh commented on #6222
@colindnz why did you have to run docker-machine ?

have you had chance to try with latest version of minikube ?
do you mind sharing

'minikube version' ?

[2020-02-19 19:52] tstromberg commented on #6680
Thanks for the bug report. Do you mind sharing the output of:

* `ls -la $HOME/.minikube/cache/v1.17.2/kubectl`
* `file $HOME/.minikube/cache/v1.17.2/kubectl`

This may be related to #6559 - due to be fixed in the v1.7.3 release today.

[2020-02-19 19:53] medyagh commented on #5642
seems like this issue was fixed. please re open if still have this issue.

[2020-02-19 19:53] #5642 closed

[2020-02-19 19:55] tstromberg commented on #6648
您介意添加一些其他详细信息吗？ 以下是其他有用的信息：

*使用的确切`minikube start`命令行
* minikube start命令的完整输出，最好使用--alsologtostderr来进行额外的日志记录。

感谢您分享经验！

[2020-02-19 19:56] medyagh commented on #6254
@gastongutierrez do you still have this issue ?
did minkube delete --all help with the clean up ?

[2020-02-19 19:58] medyagh commented on #6254
this is a bug, and we should not fail if minikube domain already exists !

@josedonizetti

[2020-02-19 19:58] tstromberg commented on #6644
This will be automatically fixed by #6688

[2020-02-19 20:01] medyagh commented on #6426
@imaskm do you still have the issue with latest version of minikube?

[2020-02-19 20:01] tstromberg commented on #6640
Do you mind sharing the output from powershell of the following command:

`Get-WindowsOptionalFeature -FeatureName Microsoft-Hyper-V-All -Online`

Thanks!

[2020-02-19 20:11] tstromberg commented on #6628
@medyagh - To me, the error message indicates a parse error. Does docker exist in /etc/group?

If not, the script will fail as is.

[2020-02-19 20:13] tstromberg commented on #6628
My suggestion would be to use $SUDO_UID and $SUDO_GID instead of those shell lookups.

[2020-02-19 20:34] tstromberg commented on #6628
Looks like a red herring. Those subcommands work just fine, but for whatever reason, the mount command is still failing. Is it a privilege thing, or a quirk of the Docker VM? I don't know.

That said, I can confirm that the Docker container can exchange packets to the 9p filesystem just fine:

[code]

The error message seems to be unrelated to connectivity. straces shows:

[code]

It's still uncle

[2020-02-19 20:43] torsten-liermann opened #6692 "Please support insecure download"
Hi,

minikube start should support insecure download of kubectl & co because of an  horrible corporate LAN infrastructure. Is this possible?

Thanks!

[2020-02-19 20:52] tstromberg commented on #6628
Seen in dmesg:

`[  631.443997] 9pnet_virtio: no channels available for device 192.168.65.2`

Woops, `mount -9p` on the Docker VM defaults to VirtIO instead of TCP for it's transmission method. Easy fix.

[2020-02-19 20:55] uc-msft commented on #6683
I have same issue on Windows Server 2019. I had several minikubes running fine with1.6.2. The issue in my case is that there is no optional feature "Microsoft-Hyper-V-All". It seems the check should just be for "Microsoft-Hyper-V" feature.

I have attached output of "Get-WindowsOptionalFeature -Online -FeatureName *Hyper-V*".
[hyperv.txt](https://github.com/kubernetes/minikube/files/4227376/hyperv

[2020-02-19 21:26] revmischa commented on #6680
[code]

[2020-02-19 21:49] Birdrock commented on #6686
@medyagh We have not tried pod security policies on any other version of minikube, so I do not know whether it is a regression. There was a suggestion in the slack conversation that it may be related to a recent refactor of addons, but I cannot offer any certainty whether it worked previously.

[2020-02-19 22:20] GavinOsborn commented on #6590
Sure thing @medyagh, here you go.
<details>
gav@Gavs-MacBook-Pro ~ % minikube start --alsologtostderr -v=8
I0220 09:16:33.306390     461 notify.go:125] Checking for updates...
I0220 09:16:33.885843     461 start.go:259] hostinfo: {"hostname":"Gavs-MacBook-Pro.local","uptime":35,"bootTime":1582150558,"procs":245,"os":"darwin","platform":"darwin","platformFamily":"","platformVersion":"10.15.3","kern

[2020-02-19 23:14] medyagh opened #6697 "try save docker volumes in minikube home"
even though we create volumes with label and we clean up by label, it would still be nice to explicity spcify the file system and also the path on the host machine to save the volume.
for next release we could try to make docker volumes be saved in minikube home folder

maybe using

[code]

[2020-02-19 23:27] tstromberg commented on #6612
That is a very very old version of minikube. Do you mind trying with v1.7.x?

If it still fails, please share the output of `minikube start --alsologtostderr --vm-driver=none`

[2020-02-19 23:38] #6673 closed

[2020-02-20 01:26] thehappycoder commented on #6678
@medyagh What would you recommend me to do? I am not sure I'll be able to downgrade without creating a minikube VM? Not sure homebrew would let me install 1.7.1 or 1.6.x either.

[2020-02-20 01:56] thehappycoder commented on #6678
I compiled master branch. Will see if it works for me.

[2020-02-20 02:09] nkleroux commented on #6677
Fantastic! Will follow it there.

[2020-02-20 02:09] #6677 closed

[2020-02-20 02:12] kameshsampath commented on #4604
@tstromberg  - thinking where is the right place to add that, just in the addons folder ?

I also got another question on whats the best practice to do the following while disabling the addon:

1.  I patch the coreDNS CM,  wondering if there is way I could do a merge like kubectl does so that if we disable addon the update is reversed ?

2. The /etc/hosts files get updated for entries, just thinki

[2020-02-20 05:20] #6647 closed

[2020-02-20 08:14] ashwinchandran13 commented on #4481
![image](https://user-images.githubusercontent.com/28646365/74913617-07b3dc00-53e7-11ea-8fdc-3ff440d2dc51.png)
the error
![image](https://user-images.githubusercontent.com/28646365/74913643-15696180-53e7-11ea-8a6e-314cf4d54841.png)
my os
![Uploading image.png…]()

[2020-02-20 08:29] sshukun commented on #6579
@priyawadhwa  I have opened a PR for this, could you please take a look? Thanks

[2020-02-20 09:20] qasim683 opened #6704 "none: error execution phase wait-control-plane: couldn't initialize a Kubernetes cluster"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>sudo minikube start --vm-driver=none

😄  minikube v1.6.2 on Ubuntu 18.04
✨  Selecting 'none' driver from user configuration (alternates: [virtualbox])
🤹  Running on localhost (CPUs=4, Memory=3935MB, Disk=80120MB) ...
ℹ️   OS release is Ubuntu 18.04.4 LTS
🐳  Preparing Kubernetes v1.17.0 on Docker

[2020-02-20 09:23] viveksinghggits commented on #4353
/reopen

[2020-02-20 09:24] viveksinghggits commented on #4353
Hey, sorry for the delay, I have opened the issue.

[2020-02-20 10:12] dider7 commented on #1967
I've faced the same issue last night and I'll just leave here what fixed my issue in case it helps someone. I've tried everything mentioned here on this page, but nothing worked. All I had to do is uninstall Hyper-V and reinstall, reboot PC.

[2020-02-20 11:06] xtxt opened #6705 "minikube启动失败"
**重现问题所需的命令**：
 minikube start --image-mirror-country=cn   --iso-url=https://kubernetes.oss-cn-hangzhou.aliyuncs.com/minikube/iso/minikube-v1.7.0.iso  --registry-mirror=https://y05ka14a.mirror.aliyuncs.com  --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers --vm-driver=virtualbox
**失败的命令的完整输出**：<details>
设置 kubeconfig 失败: writing kubeconfig: Error writing file /etc/kubernetes/a

[2020-02-20 11:07] xtxt commented on #6705
详细信息：
kevin-xutao:kubernetes xutao$ minikube start --image-mirror-country=cn   --iso-url=https://kubernetes.oss-cn-hangzhou.aliyuncs.com/minikube/iso/minikube-v1.7.0.iso  --registry-mirror=https://y05ka14a.mirror.aliyuncs.com  --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers --vm-driver=virtualbox
😄  Darwin 10.14.4 上的 minikube v1.7.2
    ▪ KUBECONFIG=/etc/kubernetes/admin.con

[2020-02-20 11:11] gbraad commented on #1967
the VM artifacts and the executable need to end up on the same drive. This can be `C:` or something else, but they can not be different. If minikube.exe is started from somewhere on the C drive, like the downloads folder, you have to make sure the `.minikube` folder is on the C drive. this is mostly the case for a standard setup, as it ends up in `C:\users\...\` but when yu are in a corporate envi

[2020-02-20 12:05] govargo opened #6706 "VersionUp: registry addon v2.16.1 → v2.17.1"
Minikube v1.7.3 has registry addon v2.16.1.
This is not latest version(latest is v2.17.1).

I'll send PR to upgrade to this version.

[2020-02-20 12:12] olivierlemasle opened #6708 "Cannot access podman service"
With minikube 1.7.3 and `minikube podman-env`, I cannot use podman service.

See below the exact commands and output:

[code]

**The output of the `minikube logs` command**:<details>

[code]

</details>

**The operating system version**: Fedora 31

cc @afbjorklund

[2020-02-20 12:23] muvaf commented on #6682
@medyagh thank you!

which is
export DOCKER_CERT_PATH="${HOME}/.minikube/certs"

that's super helpful, thank you!

[2020-02-20 12:53] jwuman opened #6709 "Enabling addons: default-storageclass, storage-provisioner"
**The exact command to reproduce the issue**:
minikube start --cpus=2 --memory=4096 --vm-driver=kvm2

**The full output of the command that failed**:<details>

😄  minikube v1.7.3 on Arch 19.0.0
✨  Automatically selected the kvm2 driver. Other choices: virtualbox, none, docker (experimental), podman (experimental)
🔥  Creating kvm2 VM (CPUs=2, Memory=4096MB, Disk=20000MB) ...
🐳  Preparing Kubernetes

[2020-02-20 14:07] kameshsampath commented on #4604
@tstromberg  - updates done on the PR.  thanks

[2020-02-20 14:35] basiszwo commented on #2554
@manodupont  @ChenYang-ChenYang I also have cisco anyconnect. Even shutting it down didn't work for me. I am trying to use vbox as well.

[2020-02-20 15:11] steadysupply commented on #6161
Nope. As per @tstromberg, I think this issue is probably against the wrong repo ...

[2020-02-20 15:11] #6161 closed

[2020-02-20 15:12] steadysupply commented on #6161
Thanks though!

[2020-02-20 17:30] medyagh opened #6711 "TestGetOK unit test failure"
this unit test test fails on travis but not on my linux

[code]

[2020-02-20 17:43] medyagh commented on #6299
Update I tested on GBUS, with no wifi.

it works offline and however the kindnet image is not cached which wont affect the functionality of kubernetes itself

<deatils>
<pre>
medya@~ $
medya@~ $
medya@~ $ kc get pods -A
Unable to connect to the server: EOF
medya@~ $ kc get pods -A
medya@~ $ minikube start -p p3 --vm-driver=docker --alsologtostderr -v=8
I0220 09:36:19.602774   50451 notify.go:125]

[2020-02-20 17:48] tstromberg opened #6713 "docker: Conflict. The container name "/minikube" is already in use by container"
I tried to delete a cluster, which complained:

[code]

when starting in up, it didn't work again either:

[code]

`docker ps -a` shows:

[code]

[2020-02-20 17:49] medyagh opened #6714 ""lint" (`golangci-lint`) sometimes misses !"
our lint has some issues, it acts differently on different computers and sometimes misses things like this :
https://github.com/kubernetes/minikube/pull/6712

[2020-02-20 17:49] tstromberg commented on #6713
subsequent start attempts get further, but fail as well:

[code]

[2020-02-20 18:41] balopat opened #6715 "Ability to see that the node is a minikube node"
It would be great if minikube could add a standard annotation to the node, e.g. `k8s.minikube.io/version=1.7.3` so that tools like skaffold can rely on that.

[2020-02-20 18:44] medyagh commented on #6715
we could and should do that !

[2020-02-20 19:25] zenbones opened #6716 "create host timed out in 120 seconds: crng init blocks sshd"
Because I've been reading through some of these issues, and you want the logs, I'll just go ahead...

$ minikube start --vm-driver kvm2 --alsologtostderr -v=8
W0220 19:05:59.836315    3289 root.go:242] Error reading config file at /home/dberkman/.minikube/config/config.json: open /home/dberkman/.minikube/config/config.json: no such file or directory
I0220 19:05:59.846641    3289 notify.go:125] Che

[2020-02-20 20:16] sharifelgamal commented on #6181
@lokesh9898 This should be fixed with minikube 1.7.3, if it isn't let us know by reopening this issue. The workaround would be to create a virtual switch as explained [here](https://docs.microsoft.com/en-us/windows-server/virtualization/hyper-v/get-started/create-a-virtual-switch-for-hyper-v-virtual-machines).

[2020-02-20 20:16] #6181 closed

[2020-02-20 21:04] rmattier opened #6718 "Unable to use minikube with vmware fusion"
**The exact command to reproduce the issue**:
minikube start --v=7 --vm-driver=vmwarefusion

**The full output of the command that failed**:<details>
minikube v1.6.2 on Darwin 10.15.2
✨  Selecting 'vmwarefusion' driver from user configuration (alternates: [hyperkit vmware virtualbox])
🔥  Creating vmwarefusion VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...

💣  Unable to start VM. Please investigate a

[2020-02-20 21:15] ledgrejr commented on #6579
--force resolved the issue for me

[2020-02-20 22:11] #6628 closed

[2020-02-20 22:53] ashwinchandran13 commented on #4481
@ZephSibley I can't thank you enough.The only method to solve this problem for me was by installing kvm2 driver. Minikube worked perfectly and error was not seen no more.

I refered this link to setup KVM and replacing virtualbox as VM
[https://computingforgeeks.com/how-to-run-minikube-on-kvm/](url)

[2020-02-20 22:55] ashwinchandran13 commented on #4353
I solved this problem by changing the VM from virtualbox to KVM2

[2020-02-20 23:22] jyee opened #6721 "sch_htb kernel module missing for network traffic shaping"
The `net_htb` module is missing. Aside from general network traffic shaping, `net_htb` is used by Chaos Engineering tools such as [Gremlin](http://gremlin.com) to simulate poor network conditions, latency, etc. This is a similar use case to #6033 and #6738.

**The full output of the command that failed**:<details>
[code]
</details>

**The operating system version**:
minikube version: v1.7.2
commit

[2020-02-21 01:33] JoshuaCWebDeveloper commented on #3084
The `MINIKUBE_HOME` variable would allow a user to move *all* their minikube clusters to an external drive (or other custom location). However, what this issue seems to ask for is the ability to just move a *single* minikube cluster. Indeed, whether I am working with HyperV, VirtualBox, Vagrant, or in this case Minikube, I will often prefer to have machines in multiple locations based on my requir

[2020-02-21 03:44] jim-barber-he commented on #6516
This seems to be resolved as of Minikube version 1.7.2
Because this issue wasn't updated, I figured it was still broken, but on a whim I gave 1.7.3 a try and it worked, so I went back to 1.7.2 and it also worked.

[2020-02-21 03:44] #6516 closed

[2020-02-21 04:16] #6706 closed

[2020-02-21 04:47] Jay1305 commented on #6683
Thought to put more information I observed. I tried 1.7.3, 1.7.2, 1.7.0 and all are broken. They are not working with Hyper-V on Windows 10. Moreover whenever I downloaded release (minikube-windows-amd64.exe), Chrome and Edge complained that this file is dangerous and chrome has blocked it. Not sure if that is related with any signature issue.
I downloaded version 1.6.2 just now and it is working

[2020-02-21 07:50] koktean opened #6727 "Error when try to run using podman"
Error: invalid option type "exec" ; exit status 125
when try to run minikube (v1.7.3) using podman (instead of docker) with below commands,
suspect caused by the option type
--volume /root/.minikube/machines/minikube/var:/var:exec

**The exact command to reproduce the issue**:
minikube start --memory 8192 --vm-driver=podman

**The full output of the command that failed**:<details>
X Unable to star

[2020-02-21 08:19] vishalgarg85 opened #6728 "nable to remove machine directory:"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-02-21 09:05] sayboras commented on #6711
@medyagh sorry, I didn't see your PR before, I fixed this in https://github.com/kubernetes/minikube/pull/6726/files

[2020-02-21 09:21] hanjunchao1234 opened #6729 "Error starting cluster: apiserver healthz: apiserver healthz never reported healthy"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

Error starting cluster: apiserver healthz: apiserver healthz never reported healthy
</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2020-02-21 12:39] ukreddy-erwin opened #6732 "minikube service: Get-VM : You do not have the required permission to complete this task"
minikube service list
E0221 18:06:44.781428   12584 main.go:106] libmachine: [stderr =====>] : Hyper-V\Get-VM : You do not have the required permission to complete this task. Contact the administrator of the
authorization policy for the computer 'DESKTOP-1CILTF5'.
At line:1 char:3
+ ( Hyper-V\Get-VM minikube ).state
+   ~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Get-V

[2020-02-21 13:44] afbjorklund commented on #6727
What version of podman do you have ? Maybe exec was added later

@medyagh

[2020-02-21 14:46] govargo opened #6733 "[404]Using the Docker registry Link Error"
There is a link to [Using the Docker registry](https://minikube.sigs.k8s.io/docs/tasks/docker_registry/) in [Using the Docker daemon](https://minikube.sigs.k8s.io/docs/tasks/docker_daemon/) page bottom.

I commited to fix 404 error of [Using the Docker registry](https://minikube.sigs.k8s.io/docs/tasks/docker_registry/) at [f5d4e9e2](https://github.com/kubernetes/minikube/commit/f5d4e9e2adebaf8443f

[2020-02-21 15:01] koktean commented on #6727
# podman version
Version:            1.4.2-stable2
RemoteAPI Version:  1
Go Version:         go1.12.8
OS/Arch:            linux/amd64

This is the latest supported version for centos 8 - yum install.
Do I need to install the latest podman ?

[2020-02-21 15:10] koktean commented on #6727
Issue resolve with the update of podman version
https://podman.io/getting-started/installation
$ sudo yum -y install podman

The version upgraded to 1.6.4, and it looks much better now.
I am still in progress to install / setup the minikube.
I will either update here or create another issue if encounter further problem.

Thanks a lot.

[2020-02-21 15:10] #6727 closed

[2020-02-21 15:45] Vfialkin commented on #6683
Confirm, 1.7.x doesn't work
`"choco install minikube --version 1.6.2 --allow-downgrade"` saved the day

[2020-02-21 16:10] afbjorklund commented on #6727
Eventually we might be able to adapt the code to work with older/newer versions, but for now the 1.6.x looks like a good compromise (between 1.4/old and 1.8/new), glad that it worked out!

[2020-02-21 18:08] philippeboyd commented on #2365
How has this not been addressed? What's the point of having a Registry if data is not persisted throughout Minikube restarts?

[2020-02-21 19:17] Ehud-Banunu opened #6735 "fix windows packing installer alert: unknown publisher"
**The exact command to reproduce the issue**:
From the listing at https://github.com/kubernetes/minikube/releases ,
on Windows10 Home, attempt to install v1.7.3 or v1.7.2 -
either minikube-windows-amd64.exe or minikube-installer.exe

**The full output of the command that failed**:<details>
<img width="397" alt="Smartscreen_blocks_minikube" src="https://user-images.githubusercontent.com/26869684/75

[2020-02-21 19:34] #6733 closed

[2020-02-21 20:37] michaeljohn32 commented on #6577
I am also experiencing this issue with the same workaround (copied cert to both .minikube/files/etc/ssl/certs/myCA.pem and .minikube/certs/myCA.pem)

minikube v1.7.3, Virtualbox Driver on MacOSX 10.14.6

[2020-02-21 20:43] priyawadhwa opened #6736 "Distinguish preloaded tarballs by container runtime"
So that we can have preloaded tars for crio/containerd/docker

[2020-02-21 21:10] #6711 closed

[2020-02-21 21:24] jyee opened #6738 "act_gact kernel module missing for network packet control"
The `act_gact` module is missing. Aside from general networking, `act_gact` is used by Chaos Engineering tools such as [Gremlin](http://gremlin.com) to simulate network packet loss.. This is a similar use case to #6033 and #6271.

**The full output of the command that failed**:<details>
[code]
</details>

**The operating system version**:
minikube version: v1.7.2
commit: 50d543b5fcb0e1c0d7c27b1398

[2020-02-22 00:34] medyagh opened #6742 "fix TestDownloadOnly on github actions"
only on github actions the following tests fail

"
  "TestDownloadOnly/group/v1.11.10",
  "TestDownloadOnly/group/v1.17.3",
  "TestDownloadOnly/group/v1.17.3#01"
"

as seen here
https://github.com/kubernetes/minikube/pull/6741/checks?check_run_id=461427007

the logs for them can be found here:

[2020-02-22 00:54] medyagh opened #6743 "discuss: should profile list return non-zero if cluster status is not running ?"
when I was looking at this intergeration test that failed because profile list says one of the clusters is not running yet...

https://storage.googleapis.com/minikube-builds/logs/6717/e653589/Docker_Linux.html#fail_TestFunctional%2fparallel%2fProfileCmd%2fprofile_list

and also one of the users who was using minikube in a test script,... made me think.

When are the resonable times to exit none-ze

[2020-02-22 01:29] medyagh commented on #6715
closed by https://github.com/kubernetes/minikube/pull/6717

[2020-02-22 01:29] #6715 closed

[2020-02-22 04:53] chase-moskal opened #6746 "Fresh install on debian fails"
**The exact command to reproduce the issue**:

[code]

note: my system doesn't support nested virtualization.. do have to buy a new computer now for this?

i don't understand what the error is trying to indicate, let me know if somebody more familiar knows what this could be related to

i think i really need to get this working, so i might whip up a brand new fresh debian machine tomorrow to try a

[2020-02-22 05:50] chase-moskal commented on #6746
hello

i just now installed a brand-spanking new debian machine.. and now... it works!!

i'm not sure what was up with my previous dev machine, but i suppose i'll have to get cozy with the new one

cheers

[2020-02-22 05:50] #6746 closed

[2020-02-22 08:34] afbjorklund commented on #6595
Still broken, with `v1.7.3`

[code]

Apparently it doesn't set SHELL, so that is why the detection fails.

But if you try, then it actually gets _worse_ (and definitely fails...)

[code]

Was this what you were seeing too, @kppullin ?

[2020-02-22 08:43] afbjorklund commented on #6714
I also have the problem with `code` (\<sigh\>, an editor that doesn't save...) but also with `make lint`.

My workaround is to use different targets, like `make gofmt` and `make golint`. And then Travis.

It would be nice if there was a reliable way to run the tests locally, though.

Maybe we can set up a custom image with the pre-requisites and run it ?

[2020-02-22 08:47] afbjorklund commented on #6714
Maybe

`docker run --rm -v $(pwd):/app -w /app golangci/golangci-lint:v1.23.6 golangci-lint run --timeout 7m --build-tags "integration container_image_ostree_stub containers_image_openpgp go_getter_nos3 go_getter_nogcs" --enable goimports,gocritic,golint,gocyclo,misspell,nakedret,stylecheck,unconvert,unparam,dogsled --exclude 'variable on range scope.*in function literal|ifElseChain' --skip-files

[2020-02-22 09:03] afbjorklund commented on #6714
Fails because of missing libvirt, probably have to make our own downstream image:

`level=warning msg="[runner] Can't run linter unused: buildssa: analysis skipped: errors in package: [/app/pkg/drivers/kvm/domain.go:28:10: could not import github.com/libvirt/libvirt-go (/go/pkg/mod/github.com/libvirt/libvirt-go@v3.4.0+incompatible/callbacks.go:63:8: could not import C (cgo preprocessing failed))]"

[2020-02-22 09:35] afbjorklund commented on #6708
I think those are limitations, with the interaction between podman/cri-o and podman-remote...

The first (ps -a/pod ls) is because podman cannot see cri-o _containers_  - only cri-o _images_.

The second is because podman-remote does not implement the images/image ls command.

[code]

The main commands that are working remotely now are "build" - and "version", I suppose.

Currently "run" is broken

[2020-02-22 09:48] anshprat opened #6748 "External DNS failure"
**The exact command to reproduce the issue**:
Creating a deployment leads to failure in pulling image owing to DNS resolution failure of the image repository.

 Failed to pull image "nginx:alpine": rpc error: code = Unknown desc = Error response from daemon: Get https://registry-1.docker.io/v2/: dial tcp: lookup registry-1.docker.io on 192.168.64.1:53: read udp 192.168.64.6:60012->192.168.64.1:53:

[2020-02-22 09:59] olivierlemasle commented on #6708
Thank you @afbjorklund for your answer.

If all `podman-remote` commands are not supported, perhaps it should be documented in https://minikube.sigs.k8s.io/docs/tasks/podman_service/ (I can do it if you want).

However, I tested `podman-remote build` (that's why I was planning to do) and it's also building the image on the _host_, not on Minikube.

Is there a particular version requirement for `po

[2020-02-22 10:20] blueelvis commented on #6735
Hi!

Thanks for reporting this issue. Could you please click on `More Info`? Once you do, you should see an option to `Run Anyway` like below -
![image](https://user-images.githubusercontent.com/6985763/75090643-decc4c00-558a-11ea-8898-1a2c886f93cd.png)

Kindly click on it and the installation should start. This would work for the installer.

If you just want to use the `minikube-windows-amd64.exe

[2020-02-22 10:25] blueelvis opened #6749 "Disabling an already disabled addon causes error"
**The exact command to reproduce the issue**: minikube addons disable metrics-server

**The full output of the command that failed**:<details>
[code]

</details>

**The operating system version**: Windows 10 Pro

I think that if the addon is already disabled, the command should just say that it is already disabled instead of throwing an error?

[2020-02-22 10:29] afbjorklund commented on #6708
All commands should be supported, just that `podman-remote` (varlink) itself does not support all the commands that `podman` (local) does. And since it is currently being rewritten, it's unlikely.

That is definitely a bug. But if you do `podman-remote version` (or `podman-remote info`), then it properly shows that it is running on Minikube right ? Or did the variables get lost somewhere

Currentl

[2020-02-22 10:38] afbjorklund commented on #6708
I'm not sure how to get more debugging info, seems like `--log-level=debug` doesn't work in remote.

The workaround for missing podman commands is to use `kubectl` and `crictl` from kubernetes:

[code]

There are _multiple_ differences between docker and podman, was hoping on upstream to document...

[2020-02-22 10:53] afbjorklund commented on #6708
Hmm, apparently using the default podman "localhost" was a bad example - since it fails in cri-o

[code]

And dropping it is not a success either, since then it will go off to docker.io (or quay.io) and fail:

[code]

So this could definitely need some more "getting started" docs...

[2020-02-22 11:02] afbjorklund commented on #6735
This seems to be just as annoying as the Mac Gatekeeper "feature".

So now also the Win binaries needs to be signed (somehow), I guess ?

[2020-02-22 11:39] afbjorklund opened #6751 "Running unit tests downloads kubernetes binaries"
It would be nice if `TestCacheBinariesForBootstrapper` could mock the actual downloads...

 Downloading the `v1.16.0` can take a long time, and wastes space in the minikube cache.

`--- PASS: TestCacheBinariesForBootstrapper (183.97s)`

`418M	/home/anders/.minikube/cache/v1.16.0/`

[2020-02-22 11:42] sayboras commented on #6742
/assign

[2020-02-22 12:03] afbjorklund commented on #6679
Duplicate of #6324, please try again with a newer version of minikube (v1.5.2 is old)

[2020-02-22 12:03] #6679 closed

[2020-02-22 12:33] afbjorklund commented on #6708
@olivierlemasle : it seems like `podman-remote` is totally broken on Fedora 31.

It is showing the help text of the regular command, so most likely it is the **same** ?
(it is not linking to libvarlink.so either, which is also a sign that something is wrong)

From the build log you can see that the hacked build process (avoding make) has failed:

https://kojipkgs.fedoraproject.org//packages/podman

[2020-02-22 13:00] olivierlemasle commented on #6708
Oh, I was actually also investigating the issue and found the same results as you ;-)

I've opened a bug report on Fedora bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1806147
And a PR to fix the package: https://src.fedoraproject.org/rpms/podman/pull-request/24

In the meantime, I also built a RPM package with the fix, and tested it: it works well with minikube and `podman-env build`...

[2020-02-22 14:10] afbjorklund commented on #6708
Lots of problems with podman and crio in fedora, don't think anyone is actually using it ?

Most likely we will need to provide our own binaries of `podman-remote`, for all platforms.

[2020-02-22 14:37] afbjorklund commented on #6708
Until the libpod project CI builds are working again, there's some binaries available here:

https://github.com/boot2podman/libpod/releases/tag/v1.6.5

[2020-02-22 15:08] olivierlemasle commented on #6708
Thank you @afbjorklund
This Fedora-related issue aside, the rest of the issue is documentation.

I've opened PR #6752 to improve documentation, inspired by your example. Feel free to amend/review.

[2020-02-22 15:28] Ehud-Banunu commented on #6735
Thanks for the quick response.
@blueelvis I'm familiar with the run-anyway option, but am not at liberty to use it.
Same goes for unblocking the manual-installation.
I'm spinning up Kubernetes manually, as I assume other users facing this issue would.

[2020-02-22 16:07] #6708 closed

[2020-02-22 16:19] afbjorklund commented on #6708
I would still like to see some nicer docs on how to install docker client (#6402) and how to install podman remote, since upstream seems to be doing a poor job on how to accomplish that...
Mostly because they want to sell you a bigger product (docker daemon or podman service), but anyway. As long as we use `docker` and `podman-remote` with minikube, we should document.

But I'm not really sure suc

[2020-02-22 16:31] afbjorklund commented on #6664
* https://github.com/containernetworking/cni/releases/tag/v0.7.1

* https://github.com/containernetworking/plugins/releases/tag/v0.8.5

[2020-02-22 16:32] medyagh commented on #6751
Wow.

[2020-02-22 19:52] medyagh opened #6755 "investigate: do we need systemd-networkd and systemctl without sudo ?"
# Question 1 : do we need  "systemd-networkd" service running in kic drivers?

[code]

# Question 2: Do we need systemctl available without sudo in kic drivers?
https://github.com/kubernetes/minikube/pull/6754

[code]

[2020-02-22 20:27] #6655 closed

[2020-02-22 21:36] kppullin commented on #6595
@afbjorklund my output is similar, but without the `�` chars and instead plain space characters (more like @agusti-t's output).

My login shell is set to fish, in which case the `SHELL` var is properly initialized to `/usr/bin/fish` and the detection works in that case.  If I change the login shell to bash then I see the same behavior as your initial sample.

[2020-02-22 22:19] #6386 closed

[2020-02-22 22:48] medyagh commented on #6533
this was done

[2020-02-22 22:48] #6533 closed

[2020-02-22 22:49] #6685 closed

[2020-02-22 22:50] medyagh opened #6757 "Add crio run time for kic drivers"
currently kic only has docker and containerd.

[2020-02-22 23:54] medyagh opened #6758 "delete --all doesn't work if you change profile"
if you change profile with minikube profile p1

it will not let you delete all
(you will have to be on default profile name)

[code]

side effect of this code
[code]

this scenario doesn't happen that often thats why we didn't see this

[2020-02-23 00:21] medyagh opened #6759 "failing test kic: TestAddons/parallel/MetricsServer"
as seen here

https://storage.googleapis.com/minikube-builds/logs/6756/5f8740a/Docker_Linux.html#fail_TestAddons%2fparallel%2fMetricsServer

[code]

[2020-02-23 00:45] medyagh commented on #6759
running locally here are the logs

[code]

[2020-02-23 02:42] #6155 closed

[2020-02-23 03:32] #6759 closed

[2020-02-23 03:33] #6757 closed

[2020-02-23 03:39] medyagh commented on #6692
I would be happy to review a pr that will solve this problem with --force

[2020-02-23 03:42] medyagh commented on #6577
I wonder if the filesync is working on mac... We had a bug about file sync but I believe we fixed it

[2020-02-23 05:00] blueelvis commented on #6735
@afbjorklund - Yep, this would require the executables to be signed. I have also resorted to using Chocolatey for the installation as it takes care of this.

@Ehud-Banunu - You could try to install minikube using Chocolatey like this - https://minikube.sigs.k8s.io/docs/start/windows/

[2020-02-23 05:05] blueelvis opened #6763 "Improve search engine ranking for minikube.sigs.k8s.io"
I was searching for the documentation which is hosted as part of this repo at this link - https://minikube.sigs.k8s.io/ & surprisingly, I couldn't find it in any of the following search engines on the 1st page when just searching for `minikube` -
1. Google
2. DuckDuckGo
3. Bing

I think that the docs website should come up. What do you guys think?

[2020-02-23 05:36] medyagh commented on #6577
Could you please do minikube ssh
And verify the certs have not been copied ?

[2020-02-23 05:54] #6742 closed

[2020-02-23 05:54] medyagh commented on #6763
Any seo experts?

[2020-02-23 05:56] medyagh commented on #6763
@blueelvis sorry irrelevant but any interest to help have windows tests for docker driver on GitHub actions? This PR is stuck we need some windows expert help https://github.com/kubernetes/minikube/pull/6580

[2020-02-23 06:01] blueelvis commented on #6763
@medyagh - Yes sir. I have been out travelling quite a lot so just getting back in :( . Just joined as a reviewer on that PR.

Not an SEO expert over here. @tstromberg - Any chance you know someone?

[2020-02-23 06:13] blueelvis commented on #6579
This is really strange. On my machine, it takes roughly 0.3 seconds to return the result.

![image](https://user-images.githubusercontent.com/6985763/75104639-a0d63300-5631-11ea-8689-2ebbb381f3a3.png)

Just for the sake of it, could you please try updating your cache by following this [link](https://superuser.com/a/777658/305867)?

[2020-02-23 06:21] blueelvis commented on #6763
I just ran a Chrome Lighthouse audit and found the following -

![image](https://user-images.githubusercontent.com/6985763/75104755-c6177100-5632-11ea-8f4e-841da3f0b5f8.png)

[2020-02-23 11:34] afbjorklund commented on #6692
Wouldn't it be better for the user to set up a local https proxy or something ?

`x509: certificate signed by unknown authority`

This usually means that the corporate firewall is inspecting all https traffic and resigning it.
So in order to restore internet access, you will need to install a suitable root certificate...

[2020-02-23 12:19] torsten-liermann commented on #6692
@afbjorklund
You describe the firewall function correctly. I do not know how to install the self signed certifacte of the proxy on the restricted Windows 10 desktop so that the minikube downloads work.
It is not possible to install third-party TCP / IP-based services on this system. An unreasonable situation for a developer, but that's another topic.

[2020-02-23 12:45] afbjorklund commented on #6692
Seems mean to provide (half) a laptop, only to give it crippled internet access...

Anyway, I don't know if there is a non-https mirror of the kubernetes files or not.
For now we only have a mirror in China, which has similar issues like you have.

We are also working with "batteries-included" distributions, that could be used ?

[2020-02-23 13:49] torsten-liermann commented on #6692
This is how organizations think that have not yet understood the importance of software development, even though they want to deliver good software. I am only a guest there.

I pulled the minikube software, the kubernetes software, from the Internet via `curl --insecure` and copied to where this minikube expected. In my experiment, the docker daemon works exclusively with insecure registries. I ev

[2020-02-23 13:57] afbjorklund commented on #6692
Basically you would do one big download, where everything needed would be included.

The term itself is from python (or toys): https://en.wikipedia.org/wiki/Batteries_Included

[2020-02-23 14:06] afbjorklund commented on #6692
Probably `--insecure` (like curl) is more descriptive, since it is more about ignoring certificates than overwriting or replacing or whatever the other commands that have force flags are doing.

However, I think we need to add such an option to the download library that we are using. Even if it is using go classes to do the download, it doesn't seem like skipping certs is a provided option.

https

[2020-02-23 14:25] torsten-liermann commented on #6692
This will probably not be permitted under labor law, but I am only a guest and do not use this system for private matters.

At the moment I would limit the insecure to development and testing.

A clean solution must be found for the build and operation of the productive system. It will be a long time before that and leading people will see more clearly.

[2020-02-23 14:52] afbjorklund commented on #6692
We would need to add this to the DefaultTransport of the DefaultClient.

https://github.com/hashicorp/go-getter

https://github.com/hashicorp/go-cleanhttp

Currently there are no options to set this, only the `Netrc` is being used:

[code]

[code]

It is the `Transport` that has the `TLSClientConfig` mentioned above.

https://golang.org/pkg/net/http/#Transport

https://golang.org/pkg/crypto/tls/#C

[2020-02-23 15:39] torsten-liermann commented on #6692
Many thanks for your help!

I have been doing software development for over 35 years and have many ideas for solutions. But with this customer I am in a situation where I have to spin gold out of straw, but there is no straw and the spinning wheel does not turn. I am glad that I was able to activate Hyper-V.

[2020-02-23 15:48] limbuu commented on #6456
i am facing same issue. How to solve this??
![image](https://user-images.githubusercontent.com/22807324/75115146-2256b100-5684-11ea-9d0d-0eedbeb9e266.png)

[2020-02-23 15:49] limbuu commented on #6510
i am facing same issue.
![image](https://user-images.githubusercontent.com/22807324/75115179-4f0ac880-5684-11ea-96c9-885edcd99032.png)

[2020-02-23 16:21] limbuu commented on #6456
@tstromberg  doing sudo minikube start --vm-driver=none solve this issue. But i want to run minikube using Virtual Box as VM.

[2020-02-23 17:37] limbuu commented on #2380
Starting minikubeas :
sudo minikube start --vm-driver=none dont expose dashoard and give 503 issue.
But, running minikube with VM as:
minikube start --vm-driver=virtual box expose dashboard without issue.

How to expose dashboard in no driver condition???

[2020-02-23 19:23] afbjorklund commented on #2380
@limbuu : please open a new issue, thanks. Too many changes to dashboard since this one.

[2020-02-23 19:38] afbjorklund commented on #6763
There's still some duplication, between the Kubernetes docs and the Minikube SIG docs:

https://kubernetes.io/docs/setup/learning-environment/minikube/

* https://kubernetes.io/docs/tasks/tools/install-minikube/

* https://kubernetes.io/docs/tutorials/hello-minikube/

[2020-02-23 19:41] afbjorklund commented on #6763
I think this part could need some improvement: https://minikube.sigs.k8s.io/blog/

[2020-02-23 19:46] #4770 closed

[2020-02-23 20:27] srntqn commented on #6430
The same errors when I try to start minikube with `--extra-config=apiserver.authorization-mode=RBAC` option.

[code]
<details><summary>Logs</summary>
<p>

[code]

</p>
</details>

[2020-02-23 20:48] sayboras opened #6765 "Github integration test failure"
As mentioned in https://github.com/kubernetes/minikube/pull/6762#issuecomment-590030374, there are a few integration test cases failed in github action.

[code]

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-02-23 20:49] sayboras commented on #6765
/assign

[2020-02-23 20:50] medyagh commented on #6765
"TestFunctional/parallel/DockerEnv" fails because minikube fails to detect it is running in Shell
and it wont generate a hint !
we need to improve that so minikube can detect if it is shell (currently it is using libmachine to detect it)

[2020-02-23 20:51] sayboras commented on #6765
Thanks for your pointer 👍

[2020-02-23 21:14] afbjorklund commented on #6765
Weird that GitHub actions doesn't set a proper SHELL variable...

But anyway, it was _supposed_ to generate bash instructions.

`The default lines below are for a sh/bash shell, you can specify the shell you're using, with the --shell flag.`

Not sure where that got lost along the way. `ErrUnknownShell` ?

[2020-02-23 21:17] afbjorklund opened #6766 "Default to bash shell when $SHELL is missing"
The current message is somewhat confused:

[code]

[2020-02-23 21:18] afbjorklund commented on #6765
@medyagh : added #6766 for the confused `minikube docker-env`

[2020-02-23 21:21] afbjorklund commented on #6766
It's equally confused upstream, always something.

[code]

I guess people normally **don't** unset their SHELL ?

[2020-02-23 21:32] afbjorklund commented on #6766
First seen in #6643

[2020-02-23 21:35] afbjorklund commented on #6766
Probably worth filing a bug in the https://github.com/actions/runner repository ?

Looks like it is written in .NET, and I'm not really sure where the VM / images are.

[2020-02-23 22:01] afbjorklund commented on #5734
@medyagh : can we close this ?

[code]

[2020-02-23 22:11] afbjorklund commented on #6664
If you want to run `podman-remote run` _before_ this upgrade has landed, you can use `--network=none` or `--network=host` to avoid failing on the missing CNI default network (i.e.`/etc/cni/net.d/87-podman-bridge.conflist`, the one that was failing with the error above)
Normally we only use `podman-remote build` and `podman load`, but it should be available...

[2020-02-23 22:15] afbjorklund commented on #6766
Similar failure with `minikube podman-env` (not surprising, same code)

[2020-02-23 22:16] medyagh commented on #6765
yeah I had added en ENV for github actions to specify the shell explicity
https://github.com/kubernetes/minikube/blob/master/.github/workflows/main.yml#L74

but maybe the "Step" integration does not get that environment variable.

@sayboras it worth trying to pass that "SHELL" env to the actual step to see if that will fix the problem https://github.com/kubernetes/minikube/blob/master/.github/work

[2020-02-23 22:30] afbjorklund commented on #3110
No updates since Dec 12, 2019 - so I guess we now have signing issues on **all four** OS platforms...

* Linux apt (#3110)
* Linux yum (#4716)
* macOS (#5568)
* Windows (#6735)

Maybe we should just try to get minikube added to Ubuntu/Debian and CentOS/Fedora instead ?

[2020-02-23 22:35] sdaitzman commented on #5734
🔥

[2020-02-23 22:43] medyagh commented on #6766
I would be happy to review a PR that defaults to BASH if nothing else is found. (better not not giving anything)

[2020-02-23 22:45] medyagh commented on #6766
we could produce something like this for default

[code]

[2020-02-23 22:46] medyagh commented on #6765
@sayboras please check out this comment as well https://github.com/kubernetes/minikube/issues/6766#issuecomment-590125545

[2020-02-23 22:46] medyagh opened #6767 "minikube should not change the profile to a not existing profile"
### Try to change profile to something that doens't exist
[code]

### try doing normal minikube things
(it is trying to apply the command on the profile that didn't exist)

[code]

[2020-02-23 23:24] sayboras commented on #6766
Cool let me give it a try, thanks @afbjorklund  @medyagh

[2020-02-24 00:45] michaeljohn32 commented on #6577
If I use a `minikube ssh` with just the pem file copied to ~/.minikube/certs/MyCA.pem, I see that the pem file is _not_ copied.  The symbolic link with the hash _is_ there, but that is all.  If I copy the pem to ~/.minikube/files/etc/ssl/certs/MyCA.pem, the cert _is_ copied/synced.

[2020-02-24 01:53] medyagh commented on #6577
@michaeljohn32 as far I know you are supposed to copy to the files folder. As you noted lastly.

Anything you put in that folder will be synced to the VM.

So if that is the case that putting it in files folder fixes the corp ! Then the documentation should say that too.

Do you mind sharing the link to the wrong documentation?

[2020-02-24 03:35] #5734 closed

[2020-02-24 07:33] kobiecrowder opened #6769 "minikube is exiting due to error - can't start in docker"
**The exact command to reproduce the issue**:
.\minikube.exe start --kubernetes-version="v1.7.3" --vm-driver="docker"

**The full output of the command that failed**:<details>
stderr:
Error: unknown flag: --ignore-preflight-errors
Usage:
  kubeadm init [flags]

Flags:
      --apiserver-advertise-address string      The IP address the API Server will advertise it's listening on. 0.0.0.0 means the d

[2020-02-24 07:53] irizzant commented on #6430
I think the error is due to the flag `--extra-config=apiserver.authorization-mode=RBAC`, changing the flag to `--extra-config=apiserver.authorization-mode=Node,RBAC` makes minikube start without problems.
@srntqn please confirm that the above is working

[2020-02-24 08:07] serhatcetinkaya commented on #6354
Hello, do you think [this](https://minikube.sigs.k8s.io/docs/tasks/registry/private/) is enough or more details needed about how to use `imagePullSecrets` ? If so I would be happy to help :)

[2020-02-24 08:31] RubenAtPA commented on #6024
That is indeed true. However the need to always go through the restart process would be mitigated if such an option would exist. However, as a small change to the feature request we did start using the command `minikube update-context` more often and it would even make more sense if this would also update the certificates instead of just the kube config files. Is that a possibility?

[2020-02-24 09:09] vikkyomkar commented on #6767
/assign

[2020-02-24 10:08] arruzk commented on #6748
@anshprat Does it look like a duplicate https://github.com/kubernetes/minikube/issues/3036 ? As I understand the only 100% solution - use VirtualBox instead of Hyperkit.

[2020-02-24 10:22] alewis001 opened #6770 "Enabled Addons are reset after minkube stop / start"
* Minikube: `minikube v1.7.3 on Darwin 10.15.3`
* Hyperkit
* Kubernetes v1.17.3 on Docker 19.03.6

**The exact command to reproduce the issue**:

1. `minikube -p myprofile start`
   * The start output shows: `Enabling addons: default-storageclass, storage-provisioner`
2. `kubectl -n kube-system get pods`
   * metrics-server is not running, as expected.
3. `minikube -p myprofile addons enable metri

[2020-02-24 10:39] alewis001 opened #6771 "memory size reset if --memory command-line arg is not always supplied to start"
**The exact command to reproduce the issue**:
1. `minikube start -p bug --memory 5000`
2. Check contents of $HOME/.minikube/profiles/bug/config.json: memory is set to 5000.
3. `minikube start -p bug stop`
4. Check contents of $HOME/.minikube/profiles/bug/config.json: memory is still set to 5000.
5. `minikube start -p bug`
   * Error message (see below)
6. `minikube start -p bug`
   * Cluster start

[2020-02-24 11:23] RA489 commented on #6767
/assign

[2020-02-24 11:28] RA489 commented on #6767
@vikkyomkar I have PR ready for it. You can file a PR if you have done already.

[2020-02-24 12:21] ensonic commented on #6679
Sorry typo, it was 1.6.2.

[2020-02-24 12:22] shaulbehr commented on #6666
@medyagh No VPN set up on my Windows machine. The VM network has two adapters: one for NAT, and one for Host-only adapter.

[2020-02-24 12:30] vikkyomkar commented on #6767
@RA489 I have submitted my PR for this issue

[2020-02-24 12:46] vikkyomkar commented on #6758
/assign

[2020-02-24 13:33] ensonic commented on #6324
I just tested with 1.7.3 and it still crashes:
[code]
[code]

[2020-02-24 14:05] ensonic commented on #6324
False alarm, we need to pass the same envvars that we gave to `minikube star`t to `minikube dashboard` too (eg. `MINIKUBE_HOME=$HOME CHANGE_MINIKUBE_NONE_USER=true KUBECONFIG=$HOME/.kube/config`).

[2020-02-24 15:26] CrossBound commented on #6577
@medyagh No offense, but did you even read my issue? Everything you have asked was covered in my initial post.
Feb 23, 2020, 19:53 by notifications@github.com:

[2020-02-24 16:09] uday1kiran opened #6775 "virtualbox: minikube freezing with bridged network on windows"
With hyper-v, minikube vm can be set to external adapter (bridged) and can access the vm like anyother machine in the network.

But with virtual box, when I change the default NAT to bridged, the minikube is just freezing.

Port forwarding is not a solution as we need to create port forward for everyservice even with random ports.

[2020-02-24 16:36] anshprat commented on #6748
@arruzk - indeed! Also, https://github.com/kubernetes/minikube/issues/3036#issuecomment-423150899 helped me to resolve the issue as well!

[2020-02-24 17:12] arvtiwar commented on #6296
With minikube on virtualbox, all good till the deployment. My Problem is, pods running NodeJS service can't connect to the external services (e.g. MongoDB Atlas). Note: I have deployed on DigitalOcen, the same docker build work perfectly fine.

2020-02-24 17:05:02 [ info ] : server started on port 3333 (local)
Error: Error: querySrv ENOTFOUND _mongodb._tcp.twrdev-hokqm.mongodb.net
    at NativeCon

[2020-02-24 17:21] srntqn commented on #6430
@irizzant yep, it works. Thank you.

If I get [it](https://kubernetes.io/docs/reference/access-authn-authz/node/#overview) right, when we use `apiserver.authorization-mode=RBAC` we disable Node authorizer and  kubelet can't start because of  lack of authorization to api server. If so, I guess, everything is okay and there is no unexpected behaviour.

[2020-02-24 17:35] blueelvis opened #6776 "Starting immediately after stopping minikube on Hyper-V causes error"
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:
[code]
From what I saw immediately happening in the Hyper-V console is that once the VM is shut down, it goes ahead and merges the current disk state to a checkpoint. This automatic checkpoint is something which is set up while creating the VM from Docker Machine (I believe).

We should -
1. Eithe

[2020-02-24 17:57] DevOpsFu commented on #6673
v1.7.3 doesn't seem to have completely fixed this for me. With the latest version of Calico, I no longer get any issues with the pods failing their readiness checks, but any pods I create cannot connect out to pull any images.

[2020-02-24 19:03] medyagh opened #6778 "implement service command for docker on mac os"
I think we could use the same SSH connection that was added by @josedonizetti for making tunnel work for service, with one difference that this could be multiple service at random ports and not needed to make the ports map to same port.

[2020-02-24 20:50] sharifelgamal opened #6780 "Add number of nodes for cluster in `minikube profile list`"
Currently if you have two clusters running and one of them has two nodes, `minikube profile list` looks like:

[code]

We'd like it to look like:
[code]

So, we want to not have the spurious error at the end of the table, and to add the Nodes column with the number of nodes the cluster has.

[2020-02-24 21:19] sayboras opened #6782 "Enable required check in github (e.g. build, lint, unit test targets)"
There were a few occurrence that the PR got merged with some minor linting error. To avoid such issue, we can consider to enable required check in github for few things:

- build
- lint
- unit test (this one might be flanky)
- travis (this check includes build + lint + unit test together, so might be flanky as well)

[2020-02-24 21:32] afbjorklund commented on #6782
Do you have a breakdown on what is being run in github actions VM and what is being run in travis ci VM, there seems to be a lack of documentation on these things - and it seems to be always "red" ?

[2020-02-24 21:37] sayboras commented on #6782
Recently, I have a chance to work on this a little bit. Here is the list

Github actions:
- build
- lint
- unit test
- integration test (once build is passed)
    - docker_ubuntu16_04
    - docker_ubuntu18_04
    - none_ubuntu16_04
    - none_ubuntu18_04
    - podman_ubuntu_18_04

Travis only run build, lint, unit test
Jenkins only integration test

[2020-02-24 21:39] medyagh opened #6783 "kic: minikube tunnel on mac should ask to enter "yes""
the tunnel on mac works except when you run you have enter yes for ssh verification

[code]

cc: @josedonizetti

[2020-02-24 21:53] afbjorklund commented on #6664
Not worth holding the release for, unless something else (than podman) requires newer CRI ?

[2020-02-24 22:05] edge0701 commented on #6673
It's working as expected on my end.
The only arguments I add to minikube start are:
[code]
And then replace the CIDR in the Calico manifest (I'm setting a different IP range but you should be okay using `192.168.0.0/16` and without modifying the manifest).

Calico is annotating Pods correctly and all seems well. It's definitely pulling images from external repos okay. I haven't yet had time to che

[2020-02-24 22:30] suissitakwa opened #6785 "apiserver: Stopped"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-02-24 23:15] CrossBound commented on #6577
Interestingly, putting the root certificate in the $home\.minikube\files\etc\ssl\certs\ folder on my workstation still doesn't copy the file to the minikube vm for me.

Here is my output after using `minikube ssh`
[code]

[2020-02-24 23:18] medyagh commented on #6577
@CrossBound admitably I didnt read fully read it ! sorry about that.

I am curious would you mind trying minkube stop , start
(or at least minikube start again)
as far I know the file sync gets triggered on each start

[2020-02-24 23:20] medyagh commented on #6577
@CrossBound also I just noticed you are using v.1.7.1 we had a file sync bug in 1.7.1
would u mind trying with 1.7.3 ?

[2020-02-24 23:29] starbassma opened #6788 "dangerous default behaviour (mounting home directory inside minikube VM)"
Hello,
When starting a minikube instance
`minikube start`
 by default, the `--mount-string=` is set to home directory   `~` of the host machine, this argument is passed to the minikube mount command on start, the home directory is mounted under `/minikube-host` (mode -493 =>).
executing `rm -rf /` inside the minikube VM (or with ssh) would have a catastrophic effect (~ directory of the host machin

[2020-02-24 23:46] CrossBound commented on #6577
After updating to v1.7.3 it fixes the issue where files in my .minikube\files directory are not copied, however, it still requires me to put the root certificate in .minikube\files\etc\ssl\certs for it to work.

Based on the documentation listed in my first comment it sounds like all you should have to do is put the file in the .minikube\certs folder for it to work. If that is not the case maybe t