[2021-05-09 06:47] afbjorklund commented on #11312
We know that linters are stupid, that's why they are non-blocking. As supposed to other tools, which are enforced.

That is not a major problem per se, sometimes we have to flag/workaround a false positive but that's OK.

[2021-05-09 06:56] dinever commented on #11268
Hi,

From my end, it seems like Docker removes the official registry prefix `docker.io/library/` when I try to tag an image:

For example:

[code]

So the functional test couldn't load the image `docker.io/library/busybox:load-functional-20210509050948-6775` because it doesn't exist.

BTW I'm using Docker 20.10.6

[2021-05-09 07:01] daehyeok commented on #11312
I didn't report yet, because i couldn't narrow down which component fire the this warning. after little more investigation with my problematic env, i will make issue for it.

P.S thank for the comment and appreciate for the emacs go-mode 👍

[2021-05-09 07:59] afbjorklund commented on #10353
@dinever : I like it! And I think that nested tabs are horrible.

Ultimately the computer should be able to find this out for itself, but until we are there I think this "mini-quiz" will work ?

It also has plenty of room for scalability, if we want to add the other three platforms in a more "dimmed out" manner...

minikube-1.20.0-0.aarch64.rpm
minikube-1.20.0-0.armv7hl.rpm
minikube-1.20.0-0.ppc64

[2021-05-09 08:37] Srikrishnabh commented on #11290
yes to get the older release versions.

[2021-05-09 11:01] afbjorklund commented on #11323
Most likely a duplicate of https://github.com/kubernetes/minikube/issues/10165, docker does this panic when daemon is not running

[2021-05-09 11:27] afbjorklund commented on #11290
I think the reason was that we wanted to know the versions _before_ we downloaded kubeadm...

And that not all platforms were able to execute `kubeadm`, without wrapping it in docker or similar ?

One solution would be to make some kind of mapping table. That is, in markup instead of in code ?

[code]

[2021-05-09 11:35] afbjorklund commented on #11268
Yes, it's a problem. We tried to remove it, when looking for the actual image and only match the partial string (short name).

But apparently some places were missed. However, this particular issue is about containerd which does list them (I think).

[2021-05-09 11:50] afbjorklund commented on #11268
Even for docker (which this issue is **not** about), you will find that it does exist. It just lies in the list.

[code]

[2021-05-09 11:56] afbjorklund commented on #11331
The test framework is supposed to start buildkitd. No idea why it didn't do that here ?

[code]

The linked logs seems to be from some other run ?

        --- PASS: TestFunctional/parallel/BuildImage (2.77s)

[2021-05-09 13:08] jeevanm87 opened #11352 "ssh: handshake failed: ssh: unable to authenticate,"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-05-09 13:17] krisgradz opened #11353 "Exiting due to RUNTIME_ENABLE: sudo systemctl start docker: Process exited with status 1"
**Steps to reproduce the issue:**

I cannot start minikube even though in has been installed and reinstalled. cannot figure out what to do

1. minikube start
2.
3.

**Full output of `minikube logs` [command:**](/Users/krzysztofgradzik/.minikube/logs/lastStart.txt )
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-05-09 15:26] afbjorklund commented on #9720
I think you need to build a new version of the `docker-machine-driver-vmware` binary

[2021-05-09 15:35] afbjorklund commented on #11219
blocked on #9228 for the minikube.iso

[2021-05-09 16:58] #11353 closed

[2021-05-09 16:58] krisgradz commented on #11353
solved

[2021-05-09 21:29] vigothehacker commented on #11290
/unassign

[2021-05-09 21:31] vigothehacker commented on #11352
Needs more detail

[2021-05-10 03:04] dinever opened #11359 "`daemonBinary` seems to be always empty when getting image from Daemon?"
Hi,

It looks like the variable `daemonBinary` was never set before getting the image from the daemon:

https://github.com/kubernetes/minikube/blob/807440a8a9f5a51e80c6a5c50cee1fdc3392b3e3/pkg/minikube/image/image.go#L53

https://github.com/kubernetes/minikube/blob/807440a8a9f5a51e80c6a5c50cee1fdc3392b3e3/pkg/minikube/image/image.go#L384

Therefore, images will always be pulled from the registry i

[2021-05-10 04:56] afbjorklund commented on #11359
Yes, this was related to the issues with the LoadImage test failing. We will revert that PR for now.

[2021-05-10 05:01] afbjorklund commented on #11359
The code was trying use docker for the docker driver and podman for the podman driver. (which failed)

Ultimately it might even need something like daemon:// och podman:// like some other tools are doing.

https://github.com/GoogleContainerTools/container-diff#image-sources

And probably have to use qualified names, for images that use docker.io

[2021-05-10 05:30] afbjorklund commented on #11322
You said that it disturbed you that your build cache stored in the cluster got deleted with the cluster.
So that means that the cache will have to be saved somewhere, between the "delete" and the "start".

It doesn't mean that all images will need to be built outside the cluster, even if that is _one_ solution.
Currently we are using /var/lib/minikube/build and /var/lib/buildkit (and friends), for

[2021-05-10 05:39] Srikrishnabh commented on #11290
/assign

[2021-05-10 06:08] #11359 closed

[2021-05-10 12:29] vaibhavmagon commented on #10085
Same here. Two problems:
1. The minikube tunnel assigns some different IP and not 127.0.0.1
<img width="1324" alt="Screenshot 2021-05-10 at 5 57 56 PM" src="https://user-images.githubusercontent.com/5276190/117659320-6ff00880-b1b9-11eb-868f-2035d07cd692.png">

2. Not able to access even though individual services are working fine.
<img width="685" alt="Screenshot 2021-05-10 at 5 57 39 PM" src="htt

[2021-05-10 17:19] ilya-zuyev commented on #11352
@jeevanm87 Please provide full log output of failed operation (run minikube with `-v=6 --alsologtostderr`) and details about your os/system. Thanks!

[2021-05-10 17:23] ilya-zuyev commented on #11345
@Abheestanistala Thanks for the issue. `VERR_SVM_DISABLED` usually means the hardware virtualization is disabled, could you check your BIOS settings and enable it?

[2021-05-10 17:54] jeevanm87 commented on #11352
@ilya-zuyev
Thanks for your response. I am very much new to Kubernetes.
I am trying to setup and RUN KUBERNETES LOCALLY VIA MINIKUBE on my VM with all the resource recommendation.

Below is what I am getting when I run "$  minikube start --driver=ssh --ssh-ip-address=10.201.206.16 --ssh-key='~/.ssh/id_rsa' --ssh-user=msicka  --alsologtostderr -v=4"

I0510 12:49:07.480742  228492 main.go:128] libma

[2021-05-10 19:10] ilya-zuyev commented on #11352
@jeevanm87 Cool, thanks for the logs! You are using the ssh driver, and it cannot establish the connection with the target host (`10.201.206.16`).  Please check that `10.201.206.16` machine has ssh server running, and `msicka` can authenticate.

Also please note, usually the ssh driver is recommended for advanced scenarios, if you just need a local minikube instance, `docker` or `virtualbox` drive

[2021-05-10 22:15] andriyDev opened #11365 "release_notes.sh prints wrong order for comment numbers"
Linux:
[code]
Mac:
[code]

This seems to be an issue with using awk. We should force using gawk (since Mac can install it using `brew install gawk`.

[2021-05-10 22:15] andriyDev commented on #11365
/assign andriyDev

[2021-05-11 08:04] Abheestanistala commented on #11345
@ilya-zuyev , Thanks for getting back to me on this; This did strick to me after posting the issue.

I have tried enabling Virtualation Technology from BIOS and here is the error I am getting now.

[code]

[2021-05-11 08:14] Bit-Chaos opened #11367 "minikube doesn't support multiple users"
Not sure if this is a bug or a feature-request. I have the following situation:
- Linux CentOS 8.2 host
- multiple users on host
- minikube v1.20.0

Now if the first user (user A) starts a minikube cluster, e.g. using "minikube start -p user1" then it works without problems.
A second user (B) starting another instance receives the following message:

[kubeconfig] Using kubeconfig folder "/etc/kube

[2021-05-11 10:23] bajosiaa commented on #10245
Im facing same issue too. To be able to access ingress i had to use `minikube ssh`

[2021-05-11 16:38] bandwiches opened #11372 "Host access documentation uses tools that are not installed in docker"
Validating Connectivity

Ping is the recommended test, however ping is not included in the image.

[code]

[2021-05-11 16:42] medyagh opened #11373 "Investigate CNCF processes to collect minikube usage metrics"
To evaluate what features of minikube to invest we would like to collect anonymous usage metrics to find out which Driver/Platform or Container Runtime or Addon gets used most. we would need to find the processes in CNCF for this case.

[2021-05-11 17:39] afbjorklund commented on #11372
We can install `iputils-ping`. I don't think we need telnet, there is `netcat`. Maybe update the docs ?

[2021-05-11 17:46] afbjorklund opened #11375 "Install an editor"
It would be nice if the Docker image had `vi` installed.

`sudo apt-get install vim-tiny`

[code]

[2021-05-11 17:58] medyagh commented on #11116
@ilya-zuyev plz add link to moby issue

[2021-05-11 17:59] afbjorklund commented on #11373
Like #8175

[2021-05-11 18:05] joshuamataaraya commented on #11121
@medyagh This didn't work for me
minikube config set vm-driver hyperkit
minikube delete
minikube start
minikube addons enable ingress
❗  These changes will take effect upon a minikube delete and then a minikube start
🙄  "minikube" profile does not exist, trying anyways.
💀  Removed all traces of the "minikube" cluster.
😄  minikube v1.19.0 on Darwin 11.3.1
✨  Using the hyperkit driver based on user

[2021-05-11 18:43] andriyDev commented on #11365
Turns out gawk is not the solution! Still broken regardless. Perhaps sort can fix this though.

[2021-05-11 18:49] medyagh opened #11376 "TestKubernetesUpgrade"
[code]
https://storage.googleapis.com/minikube-builds/logs/11364/acadaa6/Docker_Linux.html#fail_TestKubernetesUpgrade

[2021-05-11 20:21] andriyDev opened #11379 "hack/release_notes.sh prints many info and warning logs to stderr"
Many info/warning logs are printed due to pullsheet.

Example:
[code]

[2021-05-11 20:46] afbjorklund commented on #11372
It was in the VM image, but then missed for the KIC image.

[2021-05-11 20:53] afbjorklund commented on #11372
Eventually we might consider keeping just **one** operating system. We just have to decide on which one to keep, first...

#11058 #11018

[2021-05-11 21:01] robrich commented on #11121
@joshuamataaraya Hit up https://github.com/kubernetes/minikube/releases and grab the 1.20 release. See the notes in 1.20 alpha about the Ingress Addon fix.

[2021-05-11 21:33] ram2031 opened #11380 "Issues starting the dashboard on windows"
**Steps to reproduce the issue:**

1.Running docker desktop
2.downloaded minicube and kubectl exe files and able to start minicube
3.minucube dashboard give an error HOST_KUBECTL_PROXY: readByteWithTimeout: EOF

**Full output of `minikube logs` command:**
<details>
log file attached

</details>

**Full output of failed command:**
<details>

[minikube_dashboard_ebbf03cfed1349d6547905ae88a08ec70af8c

[2021-05-11 22:19] ilya-zuyev commented on #11116
https://github.com/moby/moby/issues/42336

[2021-05-11 22:47] spowelljr opened #11382 "Putting flag as first argument causes unintended log file names"
Current:
[code]

Expected:
[code]

[2021-05-11 23:05] ilya-zuyev commented on #11116
Related discussion on containerd https://github.com/containerd/containerd/issues/2267

[2021-05-11 23:28] Oliver-Sellwood opened #11383 "Run minikube as root"
Hi I am looking for a way to run minikube as root with the Docker driver. In my workflow I am using sysbox system containers to help separate different projects I'm working on. Going great so far but trying to run `minikube` within one of these containers I get the error that it cannot be run as root.

Since I'm already inside a container when running minikube I don't really care if it has root an

[2021-05-12 01:36] vigothehacker commented on #11382
Running `minikube --alsologtostderr status` generates `minikube_--alsologtostderr_<hash>_0.log`

Can I have a look at this? Would like to triage this issue as a beginner

/assign

[2021-05-12 02:29] hoibuikms opened #11385 "Can not start minikube with "minikube start""
**Steps to reproduce the issue:**

1. Open cmd
2.  Run: >minikube start

**Full output of `minikube logs` command:**
<details>
! Executing "docker ps -a --format {{.Names}}" took an unusually long time: 15.4228278s
* Restarting the docker service may improve performance.
! StartHost failed, but will try again: recreate: creating host: create host timed out in 360.000000 seconds
* docker "minikube"

[2021-05-12 03:01] kiennguyen94 commented on #11022
@bamason14 Hi, could you elaborate on rebuilding host? What did you do specifically with the host?

[2021-05-12 03:53] vigothehacker commented on #11385
Please provide full log output of failed operation (run minikube start with -v=6 --alsologtostderr) and details about your os/system. Thanks!

[2021-05-12 04:08] iravivarma commented on #3776
Thank you this works

[2021-05-12 05:20] afbjorklund commented on #11383
Same as #8257

[2021-05-12 05:25] Oliver-Sellwood commented on #11383
oh yup, my bad. the force flag does the job.

Thanks

[2021-05-12 05:25] #11383 closed

[2021-05-12 05:25] afbjorklund commented on #11383
Our main issues came from people running `sudo minikube`, which creates a mixture of files and directories owned by different users (both user and root). Running the entire process as root from start to finish "works", it's just considered as bad practice.

But when you have a dedicated virtual machine or a dedicated system containers, it's a little different from running as root on your laptop. S

[2021-05-12 05:30] afbjorklund commented on #11383
@Oliver-Sellwood : note that you are effectively running docker-in-docker-in-docker here

[2021-05-12 11:46] bajosiaa commented on #7332
using hyperv instead of docker in windows solved the issue.
`Enable-WindowsOptionalFeature -Online -FeatureName Microsoft-Hyper-V -All`
`minikube start --driver=hyperv `

[2021-05-12 12:35] Bit-Chaos commented on #11367
Not sure what the reason was... but after I restarted the whole machine (I'm feeling like a silly windows user now) ... things started working as they should.
Closing the report for now and thanks for your attention

[2021-05-12 12:35] #11367 closed

[2021-05-12 13:05] afbjorklund commented on #11367
Docker is notoriously poor at co-existing with multiple users (since everyone is root), but it should at least work

[2021-05-12 15:05] chanced commented on #7332
[code]

[2021-05-12 15:20] jordicea commented on #7332
@bajosiaa It should be helpful for a Windows topic but this is a MacOS one...

[2021-05-12 18:16] medyagh commented on #11327
Two things, we could either install containerd with binary on a the current kic base and measure the performance and the test failures and see how it performs

and if it performs better, we maybe could do a prototype of including the containerd Binary in the Preload Tar

[2021-05-12 18:19] spowelljr commented on #11162
Hi @mben19, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-05-12 18:19] #11162 closed

[2021-05-12 18:20] ilya-zuyev commented on #11216
@patreka any update?

[2021-05-12 18:20] medyagh commented on #10971
@somnath-kadavergu  do u mind trying with latest version of minikube v1.20.0 and drag this file in the github issues so we can debug ?

[code]

[2021-05-12 18:21] sharifelgamal commented on #10869
I'm going to go ahead and close this issue, try increasing the resource allocation on your docker installation and please reopen if that doesn't work.

[2021-05-12 18:21] #10869 closed

[2021-05-12 18:22] sharifelgamal commented on #9589
I believe this is still an issue. Help wanted!

[2021-05-12 18:24] sharifelgamal commented on #10437
This is done.

[2021-05-12 18:24] #10437 closed

[2021-05-12 18:24] sharifelgamal commented on #9465
I'm working on a repro case for this so we can fix this once and for all.

[2021-05-12 18:25] medyagh commented on #10055
@gunterze I noticed your minikube version is old and output of minikube logs in that version does not include what we need.

have you tried with v1.20.0 ?

if your app works on virtualbox but not on docker driver it could be related to CNI issues,

do u mind trying with v1.20.0 and cni ?
[code]

[2021-05-12 18:28] medyagh commented on #9643
@naileshjadhav is it happening for latest verison of minikbue too ?

so on every Docker Desktop Restart would a `minikube start` fix the problem without deleting it ?

[2021-05-12 18:29] ilya-zuyev commented on #10692
@medyagh Could you add more details to this issue please?

[2021-05-12 18:29] medyagh commented on #7063
@Aut0R3V are you still working on this ?

[2021-05-12 18:32] ilya-zuyev commented on #11064
Going to close the issue. @grantholly feel free to reopen it if the problem still exists

[2021-05-12 18:32] #11064 closed

[2021-05-12 18:33] folkersj commented on #11153
I have the same issue.
During or after the start of the cluster the config.json is rewritten and the minikube-m02 is gone and instead there is a second m03 section.

[code]

Manually changing on instance of m03 to m02 including the ip-address makes everything work again, until the next time Minikube Is started.

❯ minikube version
minikube version: v1.20.0
commit: c61663e942ec43b20e8e70839dcca52e4

[2021-05-12 18:34] ilya-zuyev commented on #11004
[code]
Seems like fixed

[2021-05-12 18:34] #11004 closed

[2021-05-12 18:36] medyagh commented on #10939
@bolinlee if your host system can not accept docker virtualization you will face issues inside virtual-box,

so I do NOT recommend running virtualization in virtualization, since it would Docker in Docker in Virtualbox,

I ether recommend u run minikube with Docker driver on Windows
or with Virtualbox on Windows
or with None Driver inside your Virtualbox VM

[2021-05-12 18:45] medyagh commented on #8439
This issue is widely been asked by the community and I would like us to either add a workaround to our documentation or fix it

how about we add an test for this and find the root cause ?

[2021-05-12 18:48] michaelurban commented on #8439
Yes. +1,000,000

On Wed, May 12, 2021 at 2:45 PM Medya Ghazizadeh ***@***.***>
wrote:

[2021-05-12 18:54] medyagh commented on #7879
@cheslijones
thank you for sharing your interesting story of using minikube, I am glad you got it working in WSL2,

[code]
 I agree it is kind of not ideal to have another terminal to use the loadbalancer feature, to avoid that you could use the minikube server command

if you have a nodeport or hostport service you could list them with `minikube service list`
and access then using minikube servic

[2021-05-12 18:56] ilya-zuyev commented on #9812
Looks like the issue is resolved now, going to close it.

[2021-05-12 18:56] #9812 closed

[2021-05-12 18:57] medyagh commented on #11171
@bisakhmondal  seems like you found a bug ! would u like to make a PR to fix it ?

[2021-05-12 20:00] #11365 closed

[2021-05-12 20:18] medyagh opened #11388 "Automate `make generate-doc`"
currently we updated make lint to geneate docs, the problem is, if a couple PRs touch integration tests or translations,
it will cause in delay with contribuotrs to ask them to update the docs and rebase

1- we should have an automation to rebase a user's PR and generate Docs for them and push it to their PR
with a command word like
[code]

2- or  alternatively we can make a github action to creat

[2021-05-12 20:18] shankar-forgerock commented on #7879
Hi Medya,

Thank you for the pointer.

https://minikube.sigs.k8s.io/docs/drivers/docker/  looks very promising.

For WSL2 environments, it will be worth clarifying if Docker should be
installed on WSL2 guest or in Windows host.

Regards

Shankar

On 5/12/21 11:55 AM, Medya Ghazizadeh wrote:

--

ForgeRock <https://www.forgerock.com/> 	*Shankar Raman*
Senior Technical Writer  |  ForgeRock
***@***.*

[2021-05-12 20:20] ilya-zuyev opened #11389 "Fix TestCheckDockerVersion on macos"
The unit test `TestCheckDockerVersion` is broken when running on with "Docker for Desktop" docker instance, on MacOS for example.

Expected test output is `official release of Docker` but IRL we get `release of Docker Desktop `

[code]

[2021-05-12 20:23] igortas commented on #7879
@shankar-forgerock Install and configure everything inside WSL2. U don't need docker-desktop.

@medyagh Looks like a good idea. Where we can continue to chat on this topic?

[2021-05-12 21:04] ilya-zuyev commented on #11388
may be add `make submit` and ask everyone to use it instead of `git submit`? Inside that rule we could run all generators, linters and unit tests and commit only if everything is ok

[2021-05-12 21:17] code-merc opened #11391 "Cilium CNI with multiple nodes fails"
**Steps to reproduce the issue:**

1. Run
[code]
Then run this command so I can connect to the registry on my local machine
[code]
Sometimes I can push to the registry, sometimes I get errors in the alpine container like
[code]
When I'm able to push to the registry I have not been able to get an image to successfully pull, I'll get connection refused errors and an `ErrImagePull` for the pod. I don

[2021-05-12 21:29] UnknownGnome commented on #11121
Same problem on 1.20
[code]

[2021-05-12 21:32] dinever commented on #11389
I can reproduce this. Will open a PR. Thanks!

/assign

[2021-05-12 21:46] Bit-Chaos commented on #11367
Thanks Anders for your comment ... can you recommend another solution (kvm?)?
Mange takk

[2021-05-12 21:50] medyagh opened #11393 "compare minikube start on containerd in past 6 months"
6 months ago
https://github.com/kubernetes/minikube/releases/tag/v1.6.2

Goal is 10% faster

[2021-05-12 22:25] #10007 closed

[2021-05-12 23:28] spowelljr commented on #11330
Steps to reproduce:
[code]
It seems if you have two images loaded with the same image ID, containerd removes all images matching the image ID.

[2021-05-12 23:30] spowelljr commented on #11330
The reason this is flaky is it depends on the timing between the `LoadImage` and `RemoveImage` tests.

[2021-05-13 01:04] Dream2Land opened #11395 "error: error parsing /etc/kubernetes/addons/storage-provisioner.yaml"
**Steps to reproduce the issue:**

1.start windows minikube then show below log

**Full output of `minikube logs` command:**
error: error parsing /etc/kubernetes/addons/storage-provisioner.yaml: error converting YAML to JSON: yaml: line 14: did not find expected alphabetic or numeric character

</details>

**Full output of failed command:**
<details>

</details>

[2021-05-13 01:33] dinever commented on #11376
Hi,

After investigation, this issue seems to be 50637dd1498504c1f15aa911319cd148c963633e accidentally removed these lines:

[code]

https://github.com/kubernetes/minikube/commit/50637dd1498504c1f15aa911319cd148c963633e#diff-0e864ab4025634664724909a47c34fbcae246ad52307eaaaa58153f0b256a8b4L636-L638

Will open a PR to fix this.

/assign

[2021-05-13 03:17] Marco-Zheng opened #11397 "Failed to start host: creating host: create: Error creating machine: Error in driver during machine creation: getting MAC address from UUID: vmnet: error from vmnet.framework: -1"
**Steps to reproduce the issue:**

1. minikube start --driver=hyperkit
![image](https://user-images.githubusercontent.com/52538259/118072521-8de98300-b3dc-11eb-8e93-b258b42b613e.png)

2. then i try to run `minikube delete` and start minikube again, bu result is the same

macOs: BigSur 11.2.3
minikube version:minikube version: v1.18.1
hyperkit version: v0.20210107-2-g2f061e
docker verison:20.10.6

[2021-05-13 07:29] seksham commented on #10897
Same issue. Even I require "none" driver. Any solutions @MoeHamdan

[2021-05-13 09:03] vagdevik commented on #10127
I had the same issue.

The error disappeared when I have run the same command

[code]
again after a minute.
Then, the ingress was set-up after some time. So, the issue might be due to some network delays, I guess.

[2021-05-13 09:04] vagdevik commented on #8756
I had the same issue.

The error disappeared when I have run the same command

[code]
again after a minute.
Then, the ingress was set-up after some time. So, the issue might be due to some network delays, I guess.

[2021-05-13 09:04] AlbertMarashi commented on #10085
![image](https://user-images.githubusercontent.com/17972275/118104075-cfe4ea00-b419-11eb-8fa3-1ce38d863231.png)

Mines also not working

[2021-05-13 09:13] AlbertMarashi commented on #10085
How did you fix it?

[2021-05-13 09:21] AlbertMarashi commented on #10085
Related issues:

https://github.com/kubernetes/minikube/issues/10762
https://github.com/kubernetes/minikube/issues/10152
https://github.com/kubernetes/minikube/issues/10265

[2021-05-13 12:08] yganchev commented on #5293
@tstromberg Thanks a for providing this hint here. It helped me a lot!

[2021-05-13 12:20] vigothehacker commented on #7063
Hi, I was trying to replicate this issue. The value of fmt.Println(viper.GetString("host-only-cidr"))  that I am getting does not have the single quotes on my output hen running the command `./out/minikube start --driver=virtualbox -p virt --host-only-cidr='192.168.99.1/24'` and the minikube clusters starts as expected

[2021-05-13 15:00] UnknownGnome opened #11400 "Enable Ingress fails on Amazon Linux 2"
Enable Ingress fails when on Amazon Linux 2 EC2 Instance. minikube 1.20.

**Steps to reproduce the issue:**

1. `minikube start`
2. `minikube addons enable ingress`
3.

**Full output of `minikube logs` command:**
<details>

[code]

</details>

**Full output of failed command:**

<details>

[code]

</details>

[2021-05-13 16:05] Hongbo-Miao commented on #8756
Just add another update. In later installation, this bug is still there, however, it seems not affecting anything. Even I have a new fresh installation from ground. What I did is just

[code]

and let minikube retry at the background, eventually it will succeed. The longest time takes like 3 hours after over 10 times retry I think.

[2021-05-13 17:14] UnknownGnome commented on #11400
[minikube_addons_d328752a550f7c502a9ec8ae42a39b47bbbb1adb_0.log](https://github.com/kubernetes/minikube/files/6474010/minikube_addons_d328752a550f7c502a9ec8ae42a39b47bbbb1adb_0.log)

[2021-05-13 17:24] scottkurz opened #11403 "KVM:`Requested operation is not valid: domain is already running`"
**Steps to reproduce the issue:**

1.  On a Centos 8.3 VM (provisioned via private cloud) .... setup kvm/libvirt as described here: https://phoenixnap.com/kb/install-minikube-on-centos (in section 2.)
2.  Install **minikube version: v1.20.0** and configure: `minikube config set driver kvm2`  # plus set cpus, memory
3. minikube start

**Full output of `minikube logs` command:**

Attached here as: [

[2021-05-13 17:53] UnknownGnome commented on #11400
Setting primary DNS nameserver to 8.8.8.8 fixed it.

[2021-05-13 17:53] #11400 closed

[2021-05-13 18:37] #11376 closed

[2021-05-13 18:44] andriyDev commented on #10877
Simplified reproduction steps:
[code]

[2021-05-13 18:44] #11389 closed

[2021-05-13 18:45] #11285 closed

[2021-05-13 18:48] #11379 closed

[2021-05-13 20:47] medyagh commented on #11403
seems like we are not handling the casae that `Requested operation is not valid: domain is already running'

@prezha is our KVM expert, he recently improved the KVM handling the networks, any suggestions @prezha ?

[2021-05-13 20:49] LucasOliveiraS commented on #567
In the current version: **minikube version: v1.20.0**. I can't get the RAM down to 2GB. I tried to modify the total RAM directly by the virtualbox cli, but the minikube breaks and does not start the cluster again.

[2021-05-13 20:58] scottkurz commented on #11403
Thx @medyagh, no,  that didn't help.   I might not have made this clear but this happens on a brand new VM on a fresh installation of minikube...nothing cached in user dir or anywhere.

TBH,  I don't really know what's going on but I think the "..domain is already running" is a secondary symptom.  (I thought it might help others search/match this issue.)

The way I interpret the error message...1)

[2021-05-13 21:02] medyagh commented on #11403
is this a VM in the cloud ? does your cloud allow nested virtualization ?
https://cloud.google.com/compute/docs/instances/enable-nested-virtualization-vm-instances

if not, have u tried the Docker driver on the VM ?

[2021-05-13 21:03] medyagh commented on #11403
would u also please share the output of
[code]

[2021-05-13 21:07] medyagh commented on #11397
@Marco-Zheng  have you tried upgrading the Hyperkit ?

[code]

?

[2021-05-13 21:10] spowelljr commented on #11331
Test had zero failures until the 7-9 of May at around 15% failure rate. It then recovered and hasn't failed since, possibly fixed by another PR or a PR was reverted. Was not able to reproduce and seems to have recovered, closing for now, we re-open if test starts failing again.

[2021-05-13 21:10] #11331 closed

[2021-05-13 21:14] #11372 closed

[2021-05-13 21:20] spowelljr commented on #11269
@ilya-zuyev Created issues for all the failing containerd tests, closing this since that was the purpose of this issue.

[2021-05-13 21:20] #11269 closed

[2021-05-13 21:26] prezha commented on #11403
@medyagh thanks for such kind words :) i'll have a look

@scottkurz thank you for opening this issue and providing details so far!

the confusing part in the "lastStart.txt" is: `Skipping create...Using existing machine configuration` and `Restarting existing kvm2 VM for "minikube"` - if that was the result of running `minikube start` in a "clean-ed" environment (ie, no minikube clusters at all),

[2021-05-13 21:53] ilya-zuyev opened #11406 "Use containerd runtime by default"
It looks like in the next years Kubernetes development will be based on containerd as CRI implementation. Let's follow it and switch default container runtime from docker to containerd.

[2021-05-13 23:15] AlbertMarashi commented on #10085
This is coming up as the 4th result on google for "minikube tunnel not working" and 3rd for "minikube tunnel not starting"

@medyagh @sharifelgamal how can we escalate this? Seems like a quite impactful bug with `tunnel`. Tried a fresh install on my MacOS and it doesn't work on that either.

[2021-05-13 23:18] scottkurz commented on #11403
Hmm... now I'm 90% sure the issue is my VM doesn't support nested virtualization.

I did:

and got what looks like a CPU dump, and see a similar dump in:   **/var/log/libvirt/qemu/minikube.log**  .   And I also tried a couple `virt-install` commands to create VMs, stuck in paused state with log messages that seemed consistent with nested virt. not supported.

So my apologies.... I would have assum

[2021-05-13 23:18] #11403 closed

[2021-05-13 23:43] AlbertMarashi commented on #10085
I found a solution

I had to expose a "LoadBalancer" in order for me to reach the app. This was mentioned nowhere on the docs.

Here's what I had to do.

`my-ingress.yml`
[code]
`my-service.yml`
[code]

`my-deployment.yml`
[code]

Apply the configs with `kubectl apply -f filename.yml

Then I had to run the following:
`kubectl expose deployment my-deployment --type=LoadBalancer --port=80`
after tha

[2021-05-14 00:03] ilya-zuyev commented on #11395
HI @Dream2Land! Thanks for reporting this. Could you attach the full output of `minikube logs` please?

[2021-05-14 00:23] daehyeok commented on #11336
/assign

[2021-05-14 01:46] #11268 closed

[2021-05-14 01:46] #11330 closed

[2021-05-14 01:54] #11166 closed

[2021-05-14 04:18] #11276 closed

[2021-05-14 05:27] Marco-Zheng commented on #11397
@medyagh I just followed your operation, but still failed, hyperkit upgrade to 0.20200908 now.
![image](https://user-images.githubusercontent.com/52538259/118225621-0b35f600-b4b8-11eb-8b22-af8701e3de84.png)

[2021-05-14 07:06] LHoBiz opened #11408 "minikube service hello-minikube opens a browser but isn't connecting"
**Steps to reproduce the issue:**

1. On windows 10, install Docker
2. Follow https://minikube.sigs.k8s.io/docs/start/ - get up to "minikube service hello-minikube"

Any idea what i'm doing wrong?

in CMD as Administrator, call `powershell`, then `minikube service hello-minikube`.

Below is my shell after running the command.

[code]

Here is the contents of the .log file after hitting `ctrl C`

[

[2021-05-14 08:29] afbjorklund commented on #11406
This is duplicating the "MEP" process: #9639

The problem is not so much changing the default container runtime, the main issue are the implications like `docker-env` disappearing and BuildKit installation still having some usability issues.

Also it seems like kind and kubeadm have very different strategies on _which_ containerd to choose. Where kind uses latest/greatest from upstream, but kubead

[2021-05-14 10:13] afbjorklund commented on #8439
@medyagh : as far as I know, this is on purpose. Kubernetes only uses the hosts file when using the host network.

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L329

[2021-05-14 10:30] afbjorklund commented on #8577
/reopen

the PR was reverted

[2021-05-14 10:51] BenTheElder commented on #11327
KIND (origin of kic base) is installing these from binary because of how incredibly old the packaged versions are. There are extremely useful improvements in more recent versions.

Yes.

There's a systemd unit in the containerd repo. https://github.com/containerd/containerd/blob/master/containerd.service

You can see also https://github.com/kubernetes-sigs/kind/tree/main/images/base which is still

[2021-05-14 10:54] afbjorklund commented on #11327
@medyagh : we would have to add our own configuration and our own systemd units. See "kind" for example

images/base/files/etc/
├── containerd
│   └── config.toml
├── crictl.yaml
└── systemd
    └── system
        ├── containerd.service

https://github.com/kubernetes-sigs/kind/tree/main/images/base/files/etc

Same thing for buildkitd

[2021-05-14 11:09] afbjorklund commented on #11327
This also needs to be synched with the installation in the VM, which currently has a mix of binary and source

https://github.com/kubernetes/minikube/tree/master/deploy/iso/minikube-iso/package/containerd-bin

https://github.com/kubernetes/minikube/tree/master/deploy/iso/minikube-iso/package/buildkit-bin

[2021-05-14 13:04] afbjorklund opened #11409 "Provide links back to "Production environment", when finished with "Learning environment""
Currently the Kubernetes documentation is divided into:

https://kubernetes.io/docs/setup/

* **Learning environment** <https://kubernetes.io/docs/setup/learning-environment/>
  * kubectl
  * kind
  * minikube + [Hello Minikube](https://kubernetes.io/docs/tutorials/hello-minikube/) (Katacoda)
  * kubeadm
* **Production environment** <https://kubernetes.io/docs/setup/production-environment/>
  * ku

[2021-05-14 15:14] afbjorklund commented on #8577
These are the new names:

[code]

They will need `Podman` versions:

`sudo podman image exists`
`sudo podman image load`
`sudo podman image pull`

[2021-05-14 16:40] afbjorklund opened #11411 "Simplify kicbase cache handling by removing digest"
Currently we load the kicbase image using **both** tag and digest:

`gcr.io/k8s-minikube/kicbase:v0.0.22@sha256:7cc3a3cb6e51c628d8ede157ad9e1f797e8d22a1b3cedc12d3f1999cb52f962e`

However, we can only load the tag from the cache and not the digest:

`gcr.io/k8s-minikube/kicbase:v0.0.22`

This makes the code **not** find the image next time, since it has no digest.

[code]

The current workaround is

[2021-05-14 16:41] afbjorklund commented on #11411
ping @medyagh

Do we gain anything by saving the digest in the cache and in the daemon, after we have verified the initial pull ?

[2021-05-14 17:06] r4j4h commented on #10595
FWIW there is also `configure` inside of `minikube addons` but for configuring at time of enabling I think you are right and a new flag would be needed like `--images`. --images is used like `minikube addons enable <x> --images=image:a,image:b,image:c`

I don't know if this would belong as an argument to minikube start though, as the add-on isn't installed by default AFAIK

[2021-05-14 17:37] afbjorklund commented on #11411
Images with _only_ digests could be handled too. The problem is when trying to have both RepoTags and RepoDigest.

[code]
[code]

However, such an image will be listed as `<none>`, so it can be only be referenced using the image ID (that we don't save)

[code]

Which makes it rather useless for the kicbase, at least with the current cache implementation.

[2021-05-14 17:43] dinever commented on #11411
Hi @afbjorklund, this sounds like an issue I can work on. Can I take it? Thanks!

[2021-05-14 18:07] afbjorklund commented on #11411
@dinever : it's part of an ongoing effort to fix the kicbase and podman, see ~~PR #11063~~ and PR #11346

We currently have a working solution, with a patched go-containerregistry, so this is mostly simplication...

[2021-05-14 18:14] r4j4h opened #11414 "auto-pause on VM Drivers: kubectl can't access cluster to unpause it"
When trying to use the auto-pause add-on I run into difficulties trying to use the cluster. Apologies in advance for the very verbose logs, I hope they are helpful.

Note: I truncated the early portions of `minikube log` as it was too long to submit.

**Steps to reproduce the issue:**

1. Start minikube and auto-pause add-on

[code]

2. Try to use kubectl from host
[code]
3. `minikube ssh` and che

[2021-05-14 18:26] afbjorklund commented on #11411
Having "daemon" in the API is not great either, but that was inherited from go-containerregistry

[2021-05-14 19:25] #10695 closed

[2021-05-14 20:40] martinknechtel commented on #10085
@AlbertMarashi The only pitfall I had on starting up minikube is broken DNS connection, but thats another problem ;-) Observation:
[code]

Solution:
[code]

[2021-05-14 22:02] medyagh commented on #11414
@r4j4h thank you very much for providing such good verbose logs, they are actually very helpful,

and thank you for trying auto-pause which is a new alpha feature. with goal of reducing the [CPU usage](https://minikube.sigs.k8s.io/docs/benchmarks/cpuusage/macos/) when kubernetes is not in use.

I think you found a bug and I could also reproduce this on hyperkit driver.

[code]

[2021-05-14 22:03] medyagh commented on #11414
CC: @azhao155 any idea what is going on here?

[2021-05-14 22:09] medyagh commented on #11414
@r4j4h I tried to reproduce this problem for Docker driver and it work on docker driver,( we added VM driver support for auto-pause recently and our integraiton tests is not ready for it yet)

I am curious is there a specific reason you chose virtualbox vs docker on MacOS ?

[2021-05-14 22:21] medyagh commented on #11411
@afbjorklund how about this, we first try to get the image by digest and if we fail, we try to get it without digest ... ? would that be any better ?

are you saying in the current path we are not using the Digest SHA at all and giving the use no feeling of confidence of integrity at all ?

I kind of do want to provide the SHA anywhere that we could, it would be nice for local developement too, if

[2021-05-14 22:40] medyagh commented on #11411
if removing the digest from kicsha makes it easier for everyone, I will not object but I would love to see a proposal that at least we tried to verify the integrity and reduce the surface attack for our users

[2021-05-14 22:59] #11146 closed

[2021-05-14 23:48] medyagh commented on #11408
Curious are you using a proxy ? Can you try to curl the url in the Powershell ?

[2021-05-15 00:04] #11293 closed

[2021-05-15 00:43] nickgryg opened #11417 "minikube start (v1.20.0) doesn't work on BigSur 11.3.1"
~ (:|✔) minikube version
minikube version: v1.20.0
commit: c61663e942ec43b20e8e70839dcca52e44cd85ae

**Steps to reproduce the issue:**

1. minikube config set driver virtualbox
2. minikube start

**Full output of `minikube logs` command:**
<details>

[minikube logs](https://github.com/kubernetes/minikube/files/6481648/full.log)

[lastStart.txt](https://github.com/kubernetes/minikube/files/6481651/

[2021-05-15 01:53] medyagh commented on #11417
@nickgryg thanks for providing the full logs. I am curious why you chose virtual box over hyperkit or docker driver on MacOS?

And do you use it in a corp network?

[2021-05-15 02:10] nickgryg commented on #11417
Actually, I got the same error both on hyperkit and virtualbox. I just have more experience with virtualbox. That's why I prefer to use it.
No, it's my personal laptop and just a home internet connection without any firewalls, proxies etc.

[2021-05-15 18:33] prezha opened #11418 "kube-proxy: CrashLoopBackOff with kernel >=5.12.2"
after updating kernel to v5.12.2+, kube-proxy will fail with CrashLoopBackOff error - as seen in logs:
[code]
/assign

[2021-05-16 08:03] afbjorklund commented on #11411
That's not really how it works, first we pull the image by digest and use our patched library to save it.

After loading it from the cache, we ignore the digest and pull the tag again and hope that they match.
Sometimes this fails horribly, like when we pulled the `amd64` image by mistake on `arm64` (#11208)

There is also no error reporting in the library, so the fetch and the load can fail silen

[2021-05-16 10:41] afbjorklund commented on #11411
To clarify, we would keep the old patch that saves the tag of the manifest also as the tag of the image.

`tarball.Write`
https://github.com/google/go-containerregistry/commit/019cdfc6adf96a4905a1b93a7aeaea1e50c0b6cf

But we would drop the patch that pulls the tag from the registry after loading the image from the tarball.

`daemon.Write`
https://github.com/google/go-containerregistry/commit/08e94

[2021-05-16 13:39] jerryTJ commented on #8220
my Mac M1 start Minikube error
VitualBox version 6.1.20
minikube start --vm-driver=virtualbox  --image-mirror-controy=cn
**error info**
😄  minikube v1.19.0 on Darwin 11.2.3 (arm64)
✨  Using the virtualbox driver based on user configuration

❌  Exiting due to DRV_UNSUPPORTED_OS: The driver 'virtualbox' is not supported on darwin/arm64

[2021-05-16 13:57] afbjorklund commented on #8220
@jerryTJ please open a new issue.

[2021-05-16 14:04] Srikrishnabh commented on #11290
@afbjorklund I'm able to collect the image versions thanks for the inputs.

where do we want to stores this image to k8s version map, did you mean this will be some yaml and we use in code to load?

[2021-05-16 15:51] afbjorklund commented on #11290
I'm not sure if the best is to embed some kind of resource, or convert the lookup back into code again.

The original input is like:

[code]

I converted it to some yaml markup like:
[code]

It would also be possible to use go code:
[code]

Maybe @medyagh has some more thoughts, on what would be the best way to store these constants ?

[2021-05-16 16:31] afbjorklund opened #11422 "Latest version of kicbase on Github packages is 0.0.17"
![Screenshot from 2021-05-16 19-21-08](https://user-images.githubusercontent.com/10364051/118406339-f6a25b00-b67b-11eb-9ee3-e3a10d8a631e.png)

Even though v0.0.22 is released on gcr.io (and docker.io)

https://github.com/orgs/kubernetes/packages

Are these still in use ? Should they be removed or updated ?

https://hub.docker.com/r/kicbase/stable/tags

https://hub.docker.com/r/kicbase/build/tags

[2021-05-16 19:25] afbjorklund opened #11424 "Repository and tag for CoreDNS changed in 1.8.0 (Kubernetes 1.21)"
`Error response from daemon: manifest for k8s.gcr.io/coredns:1.8.0 not found: manifest unknown: Failed to fetch "1.8.0" from request "/v2/coredns/manifests/1.8.0".`

https://github.com/kubernetes/kubernetes/commit/40862c3b6045ba198562a0f238dc2bb20758a361

[code]

So this change needs to be reflected in the minikube code as well.

[code]

[2021-05-16 19:28] afbjorklund commented on #11424
Possibly related to #11290 which changes how the bootstrapper images for kubeadm work.

[2021-05-16 19:33] afbjorklund opened #11425 "Pause version changed in Kubernetes 1.21"
It was bumped from "3.2" (on Unix) to "3.4.1"

https://github.com/kubernetes/kubernetes/commit/8946f2676983266a819de1292444a538acf5c2fe

[code]

So this change needs to be reflected in the minikube code as well.

[code]

----

Note: this function is public, because it is copied to the configuration for the CRI.

Currently it is still hardcoded in dims [cri-dockerd](https://github.com/dims/cri-dock

[2021-05-16 19:33] afbjorklund commented on #11425
Possibly related to #11290 which changes how the bootstrapper images for kubeadm work.

[2021-05-16 20:01] vishjain commented on #11253
/assign

[2021-05-16 21:16] afbjorklund commented on #11290
I made a PR to update the values for 1.21, while you think of the best solution for 1.22 and beyond...

[2021-05-16 22:37] BENSARI-Fathi commented on #5714
the solution is :
Run: 'sudo chown $USER $HOME/.kube && chmod 700 $HOME/.kube'
Run: 'sudo chown $USER $HOME/.kube/config && chmod 600 $HOME/.kube/config'

[2021-05-16 22:39] AlbertMarashi commented on #10085
I don't know why this wasn't mentioned in the docs anywhere, but you need to run the following before your ingress works
`kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.41.2/deploy/static/provider/cloud/deploy.yaml`

After I ran this command, my endpoints were available on 127.0.0.1

If you are using hosts, don't forget to put them in your `/etc/hosts`

[2021-05-17 05:54] afbjorklund opened #11427 "Counting integration tests in documentation breaks unit test"
Currently `master` is broken.

2a2ffeb3808605e35231a9645746116f0fefcf05

https://github.com/kubernetes/minikube/actions/runs/843655703
![master-2a2ffeb38](https://user-images.githubusercontent.com/10364051/118440532-1b341c80-b6e8-11eb-99e8-9d8158a5bea6.png)

[code]

This is because two different features were merged, each of them adding a functional test.

7c2e9633929d04ec209c280ce80dd98c9d5f4770

[2021-05-17 06:04] afbjorklund commented on #11427
Suggestion here is to:
1) don't run documentation checks in unit tests, but run them as a separate test instead (easier to find, less breakage)
2) don't count the number of tests in text at all, it's not apparent what this "TEST COUNT" value is used for anyway ?

Made a PR to fix master
#11428

[2021-05-17 15:14] EmadMokhtar commented on #10357
I was facing an issue that looks the same. I was setting the environment variable `DOCKER_HOST` to `tcp://localhost:2375` and it is fixed after I set it to `tcp://127.0.0.1:2375`

[2021-05-17 15:17] code-merc commented on #11391
To remove any possible issues with EBPF and my host machine I used the `kvm2` driver by running:

[code]

Applying the cilium test with
[code]
Some tests are failing, and when I forward to the registry with `kubectl port-forward --namespace kube-system registry-8hcnb 5000:5000` I can push successfully, but pods will fail with `ImagePullBackoff` and `Failed to pull image "localhost:5000/example-htm

[2021-05-17 17:35] #11375 closed

[2021-05-17 17:36] #11326 closed

[2021-05-17 18:13] medyagh commented on #7923
this is task is available for anyone who likes to pick it up

[2021-05-17 18:18] medyagh commented on #11332
how about we stop the containers before we delete minikube so it doesnt hang

[2021-05-17 18:31] medyagh commented on #11207
this task is available to pick up

[2021-05-17 19:30] medyagh commented on #8439
@afbjorklund do u mean we should change networking inside minikube to make this work ?

[2021-05-17 19:32] medyagh commented on #8439
@michaelurban
do u mind checking if the binary in this PR fixes the issue ?

http://storage.googleapis.com/minikube-builds/11404/minikube-linux-amd64
http://storage.googleapis.com/minikube-builds/11404/minikube-darwin-amd64
http://storage.googleapis.com/minikube-builds/11404/minikube-windows-amd64.exe

[2021-05-17 19:41] michaelurban commented on #8439
Of course. I should have time later tonight or tomorrow.

[2021-05-17 19:42] #11418 closed

[2021-05-17 19:46] #11333 closed

[2021-05-17 20:06] spowelljr commented on #11380
Same issue as #9473 #9759 #11045

@ram2031 What version of minikube are you using?

[2021-05-17 20:08] spowelljr commented on #11045
Going to close this issue in favor of #11380. Please follow along there for updates, thanks!

-----

Va a cerrar este tema a favor del #11380. Siga allí para recibir actualizaciones, ¡gracias!

[2021-05-17 20:08] #11045 closed

[2021-05-17 20:08] medyagh opened #11434 "Generate public fail rate of a test"
for all the downstream jobs of "minikube" in jenkins
[code]

there will be an json summary for example:

https://storage.googleapis.com/minikube-builds/logs/11258/e7907e3/KVM_Linux_summary.json

[code]

should be simmilar to our internal flake chart but with Commits Dots clickable to see full html Report

<img width="1631" alt="Screen Shot 2021-05-17 at 1 43 04 PM" src="https://user-images.githubu

[2021-05-17 20:14] medyagh commented on #11434
gsutil ls -l gs://minikube-builds/logs/master | sort -k 2

[2021-05-17 20:17] spowelljr commented on #11103
Hi @dogbertai, I believe this PR fixed your issue (#11419), it will be out in the v1.21.0 release. I'm going to close this issue, if that PR did not fix your issue, feel free to reopen this.

[2021-05-17 20:17] #11103 closed

[2021-05-17 20:23] medyagh commented on #11434
https://github.com/medyagh/minikube/blob/1be59b8f23c66d9a6be174dcd579b17302857f5f/hack/jenkins/common.sh

[2021-05-17 20:29] medyagh commented on #11434
we could use plotter lib and put it in hack folder hack/test-flake-chart https://github.com/medyagh/minikube/blob/1be59b8f23c66d9a6be174dcd579b17302857f5f/hack/benchmark/cpu_usage/idle_only/chart.go#L30

[2021-05-17 20:36] andriyDev commented on #11434
/assign andriyDev

[2021-05-17 21:07] medyagh opened #11435 "Auto generate Base Image Tools versions"
in our kic base automation https://github.com/medyagh/minikube/blob/1be59b8f23c66d9a6be174dcd579b17302857f5f/hack/jenkins/kicbase_auto_build.sh#L31

we could generate the base image version of things each time we build a new Kic Base or ISO

for example

docker version
crictl verison
or things that users care about, so when we install latest version of everything on each build we communicate to th

[2021-05-17 21:10] medyagh opened #11436 "use cloud build to move minikube release infrastructure configuration to github"
currently only googlers who have access the network-restricted jenkins can trigger the release job
I would like any outside maintainer do it without moving "gcloud" credentials outside,

a good solution would be using google cloud build's integration with github, that way we can re-use the credentials in minikube project

[2021-05-17 21:28] spowelljr opened #11437 "Add time-to-k8s benchmark generation to minikube"
The idea is to add a script to minikube what will run the [time-to-k8s](https://github.com/tstromberg/time-to-k8s) benchmarks against it and then generate a graph and commit the graph to the site.

This should also be automated to run on release so no one has to manually run the job.

[2021-05-17 21:42] ilya-zuyev commented on #11435
Should we just maintain a file to keep installed tools versions per kicbase version?

[2021-05-17 22:14] medyagh commented on #11320
@gtolarc that is the external IP of the api server, the right way to verify the IP is

[code]

but it does seem like it is a bug and we are not setting the api-sever IP

[2021-05-17 23:03] medyagh commented on #11320
@gtolarc do u mind sharing why do u need to share the api-server ip inside minikube ? why would that be important ?

if this is really needed  I would accept a PR that allows users setting their own api-server ip

[2021-05-17 23:21] vishjain commented on #10079
/assign

[2021-05-17 23:25] vishjain commented on #10079
/unassign

[2021-05-17 23:45] spowelljr commented on #10628
Is currently failing with
[code]
The `! The image you are trying to add minikube-local-cache-test:functional-20210508195914-12760 doesn't exist!` marks the test as failed. Seems to be retrying though, maybe it shouldn't be failing the test?

[2021-05-17 23:54] spowelljr commented on #10628
Message was added here https://github.com/kubernetes/minikube/pull/10811/files#diff-91f8116f33c0fff4abf6ea87f9e2edf47cfb0fed24ef9227bdbf55884a3c2639R76

[2021-05-17 23:59] medyagh commented on #11414
ok I found the root cause in VM drivers our api-server IP is diffrent that containers

[code]

while on docker driver it is

[code]

[2021-05-18 00:25] michaelurban commented on #8439
@medyagh No, sorry. I'm not getting anything interesting in my hosts file.

[2021-05-18 01:46] #8439 closed

[2021-05-18 03:26] medyagh commented on #11414
@r4j4h I just made a PR https://github.com/kubernetes/minikube/pull/11438 that I believe fixes this issue,

here is the link to the binary from the PR, do you mind trying it out ?

http://storage.googleapis.com/minikube-builds/1438/minikube-linux-amd64
http://storage.googleapis.com/minikube-builds/1438/minikube-darwin-amd64
http://storage.googleapis.com/minikube-builds/1438/minikube-windows-amd64.

[2021-05-18 03:28] medyagh opened #11439 "unit test should not fail when there is no generated preload version"
[code]

[2021-05-18 03:31] #10009 closed

[2021-05-18 05:50] LHoBiz commented on #11408
Hey sorry the pc I was working on was a work pc and it broke so is being decommed now :-/. I'll have to pick this up again once I get a replacement.

[2021-05-18 09:41] gtolarc commented on #11320
In my case, because istio cannot be installed on m1 silicon macbook. I want to access kubernete installed on another intel computer on the same local network. @medyagh

[2021-05-18 12:51] Gilwe opened #11440 "Docs: Host access"
From the docs:

[code]

Is it possible to add on "how does one achieve that"?

Thank you

[2021-05-18 14:41] alvinsw opened #11441 "Multiple system and addons pods fail to start"
I run minikube v1.19.0 on Archlinux host with podman driver and cri-o runtime. Kubernetes version is 1.20.2.

    $ minikube config view
    - container-runtime: cri-o
    - driver: podman
    - kubernetes-version: 1.20.2

After running minikube start, coredns, storage-provisioner, nginx ingress pods fail to start and work properly

**Steps to reproduce the issue:**

1. `minikube start --force-sys

[2021-05-18 16:18] #11414 closed

[2021-05-18 16:40] chao1301 commented on #9600
The same situation

[2021-05-18 18:42] medyagh opened #11442 "Test Flake: "TestFunctional/parallel/LogsCmd""
as seen here

https://github.com/kubernetes/minikube/pull/11431/checks?check_run_id=2606299017

[2021-05-18 18:48] #10353 closed

[2021-05-18 19:23] #11424 closed

[2021-05-18 19:23] #11425 closed

[2021-05-18 21:57] medyagh opened #11444 "add maintainer column to addons list"

[2021-05-18 21:57] andriyDev commented on #11444
/assign andriyDev

[2021-05-18 21:59] medyagh opened #11445 "pullsheet leaderborad page in contributors website section"

[2021-05-18 22:00] andriyDev commented on #11445
/assign andriyDev

[2021-05-18 22:01] medyagh commented on #11445
backfil with past 5 releases (skip beta releases)

[2021-05-18 23:04] andriyDev opened #11446 "Fix download_test.go relying on downloading checksums"
Currently, checksums are downloaded during testing. This should be mockable to avoid depending on external stuff.

[2021-05-18 23:04] andriyDev commented on #11446
/assign andriyDev

[2021-05-18 23:30] vishjain commented on #10079
/assign

[2021-05-19 00:18] techstacksavvy opened #11449 "minikube start issues"
minikube start
**Steps to reproduce the issue:**

1. minikube start command
2.
3.

**Full output of `minikube logs` command:**
<* minikube v1.20.0 on Microsoft Windows 10 Home 10.0.19041 Build 19041
* Using the docker driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Pulling base image ...
* Updating the running docker "minikube" container ...

X Exiting

[2021-05-19 01:06] Tharunrm opened #11450 "hyperv: error starting host: provision: IP not found"
[lastStart.txt](https://github.com/kubernetes/minikube/files/6505190/lastStart.txt)

[2021-05-19 01:58] ilya-zuyev commented on #11450
[code]

[2021-05-19 02:22] AskAlice commented on #8398
/remove-lifecycle rotten

@ToonvanStrijp how does #9404 help this situation?

[2021-05-19 02:40] esron commented on #10343
I'm having the same Issue.

My workaround is running `minikube` naively on windows via `Powershel` using the `.exe` installer.

But is way slower.

[2021-05-19 03:06] ToonvanStrijp commented on #8398
@AskAlice re-reading this issue I’m not definitely sure my PR fixes this.

my PR let’s you enable extra ports to be exposed when using the docker driver.

So if you’re using the docker driver and add the apiserverport to the ports arg when creating the cluster it should be exposed and ready to use for you.

or am I missing something here?

[2021-05-19 04:33] dinever commented on #11439
/assign

[2021-05-19 04:39] Ashwin-Raj18 opened #11452 "docker: failed to register layer: ApplyLayer exit status 1 stdout: stderr: unlinkat /usr/share/doc/adduser/examples/adduser.local.conf.examples: directory not empty."
**Steps to reproduce the issue:**

1.On linux CentOs 7
2.cmd : minikube start

**Full output of `minikube logs` command:**
<details>
$ minikube start
* minikube v1.20.0 on Centos 7.2.1511
* Using the docker driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Pulling base image ...

* docker "minikube" container is missing, will recreate.
* Creating docker

[2021-05-19 06:17] dinever commented on #11442
Haven't managed to reproduce this issue but the error seems to be `crictl logs` failing to get logs for `kube-proxy` and `kube-scheduler`

[code]

[2021-05-19 08:17] prajaktapatil07 commented on #9130
C:\Users\Shivaji Patil>minikube start --driver=docker
* minikube v1.20.0 on Microsoft Windows 10 Home Single Language 10.0.19042 Build 19042
* Using the docker driver based on user configuration

X Exiting due to PROVIDER_DOCKER_NOT_RUNNING: deadline exceeded running "docker version --format -": exit status 1
* Suggestion: Restart the Docker service
* Documentation: https://minikube.sigs.k8s.io/do

[2021-05-19 09:56] itendtolosealot opened #11456 "Unable to start Minikube cluster"
**Steps to reproduce the issue:**

1. OS: Ubuntu 20.04 (lsb_release -a)
Distributor ID: Ubuntu
Description:    Ubuntu 20.04.2 LTS
Release:        20.04
Codename:       focal
2. Environment  bare-metal. Running on the server natively
3. private base_image: using kicbase:v0.0.20
4. When we execute:  minikube start --base-image="armdocker.rnd.ericsson.se/gcr-ericsson-remote/k8s-minikube/kicbase:v0.0.

[2021-05-19 11:45] amal-mejri opened #11457 "😿 Failed to start ssh bare metal machine. Running "minikube delete" may fix it: provision: fast detect: OS type not recognized ❌ Exiting due to GUEST_PROVISION: Failed to start host: provision: fast detect: OS type not recognized"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-05-19 13:11] afbjorklund commented on #11457
Can you post the contents of `/etc/os-release` on your VM (the one you are trying to SSH into)

We have seen this error before, but not been able to pinpoint it. It's when not finding a provisioner.

[2021-05-19 14:39] furkatgofurov7 opened #11459 "Minikube start failure in CentOS"
Hi, we are running CentOS jobs with Minikube in our CI, and builds flake out when minikube starts 20-30% of the time. Below are the **steps to reproduce the issue:**
1. Centos 8.3 VM running in the Cloud

[code]
2. Installed minikube version: v1.20.0 configured with
`minikube config set vm-driver kvm2`
`minikube config set memory 4096`
3. Below script is run to reproduce the issue.

[code]

**Full

[2021-05-19 14:41] furkatgofurov7 commented on #11459
Thanks for response beforehand! I can fetch more logs from the environment where we are encountering the problem if needed.

[2021-05-19 16:11] mark-hyde opened #11460 "https://minikube.sigs.k8s.io/docs/start linux x86_64 rpm download link fails"
Download  link for 'Linux x86-64 rpm in https://minikube.sigs.k8s.io/docs/start/ is given as:
curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-latest.x86-64.rpm

But this doesn't work.

Real link appears to be at curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-latest.x86_64.rpm
(underscore instead of hyphen)

[2021-05-19 17:03] spowelljr commented on #11460
@mark-hyde Thanks for bringing this to attention, will update the documentation.

[2021-05-19 17:38] utkarsh-pro commented on #11171
@medyagh can I work on this issue? // @spowelljr

[2021-05-19 17:44] #11460 closed

[2021-05-19 17:45] spowelljr commented on #11171
@utkarsh-pro For sure! Just comment `/assign` and the issue will be assigned to you.

[2021-05-19 17:50] utkarsh-pro commented on #11171
Thanks @spowelljr!

/assign

[2021-05-19 18:23] sharifelgamal commented on #11034
Closing this as a dupe of #10243

[2021-05-19 18:23] #11034 closed

[2021-05-19 18:24] medyagh commented on #8332
@JulienBreux
@bradwood
@minh-thai

I noticed you are using an old version of minikube we fixed an ingress bug in v1.20.0 do u mind trying again and see if this still happens?

[2021-05-19 18:25] sharifelgamal commented on #1370
I'm going to go ahead and freeze this issue so it doesn't keep getting closed. That said, this is an issue with 9p itself and can't really be worked around unless we end up replacing it.

[2021-05-19 18:26] spowelljr commented on #11123
Hi @xsonghppy, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

-----

嗨@xsonghppy，我们还没有收到您的回音，您还有这个问题吗？
此问题中没有足够的信息以使其无法操作，并

[2021-05-19 18:26] #11123 closed

[2021-05-19 18:26] medyagh commented on #10544
@newtoniumx3 do u mind trying with latest version of minikube again, we fixed an inagress bug in v1.20.0 that could help with this ?

[2021-05-19 18:28] medyagh commented on #10948
that is interesting I wonder if you had some old certs in the old minikube home, was that minikube home arround for more than a year ? could it be we generate certs that expired ?

[2021-05-19 18:31] spowelljr commented on #10267
This seems to be a `btrfs` issue, there's a centralized issue for `btrfs` #7923, I'm going to close this issue in favor of that one. Feel free to track and respond to that issue for updates. I'm going to close this issue, if you feel these issues aren't related feel free to reopen this issue.

[2021-05-19 18:31] #10267 closed

[2021-05-19 18:33] medyagh commented on #10593
@mconner I suspect deleting minikube and updating to latest version shoudl fix this issue, the problem seems to be the IP of minikube changed

[2021-05-19 18:36] medyagh commented on #10593
I would love to add a way to reproduce this problem manually by creating a vm minikube and changing the IP

[2021-05-19 18:37] ilya-zuyev commented on #10981
Going to close this issue. If the problem still exists please feel free to reopen it

[2021-05-19 18:37] #10981 closed

[2021-05-19 18:43] ilya-zuyev commented on #11037
@Abheestanistala
` VBoxManage.exe: error: AMD-V is disabled in the BIOS (or by the host OS) (VERR_SVM_DISABLED) `

It looks like you have virtualization disabled on your machine. Please check BIOS and may be enable this option

[2021-05-19 18:45] medyagh commented on #8772
anyone like to add this as a work arround to either minikube Solution messages or our website I would accept a PR
btw @slinkydeveloper seems like our website for RPM URL was missing -

could u try with https://storage.googleapis.com/minikube/releases/latest/minikube-latest.x86_64.rpm

[2021-05-19 18:48] medyagh commented on #9376
should we add that there?

I know that @tstromberg had removed kubelet automatically coming up by default because of many problems we had with it ...

[2021-05-19 18:50] sharifelgamal commented on #11098
Based on the output that you provided, it's not totally clear what's failing. What is minikube outputting?

[2021-05-19 18:50] medyagh commented on #9520
we kind of added this feature by grouping the file logs per "top" command  like miniube_stop mnikube_delete...I wonder if it would still be helpful to add more lines to that file to specify the exact command as well

[2021-05-19 18:50] medyagh commented on #9568
haven't seen this in a while

[2021-05-19 18:50] #9568 closed

[2021-05-19 18:59] medyagh commented on #9684
@coder2213  is issue for minikube 1.14.0 do u mind trying with minikube 1.20.0 and see if you still have the same issue (preferably by deleting the old one)
minikube delete
minikube start

and is there a reason u choose virtualbox driver ? I recommend using our docker driver

[2021-05-19 18:59] #9684 closed

[2021-05-19 18:59] #9688 closed

[2021-05-19 19:00] #9800 closed

[2021-05-19 21:49] #11446 closed

[2021-05-19 22:21] JakeAtTurner commented on #10859
I have a Mac OS system
I had the same problem above
[code]

to fix the issue use the following
[code]

You may have to delete kubectl if it is > v17
[code]

[2021-05-20 00:44] theperm commented on #11098
Not sure i follow. That output is from minikube. Or what do you mean by output?

[2021-05-20 01:30] #10877 closed

[2021-05-20 02:57] timekarma opened #11468 "minikube failed to start on macos"
**Steps to reproduce the issue:**

1.curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-darwin-amd64
2. sudo install minikube-darwin-amd64 /usr/local/bin/minikube
3.minikube start

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>
[lastStart.txt](https://github.com/kubernetes/minikube/files/6512550/las

[2021-05-20 10:26] pythonwood commented on #9305
still a problem in minikube version: v1.19.0

`minikube start -n 3`

running. https://kubernetes.io/zh/docs/tasks/run-application/run-single-instance-stateful-application/

`Warning  Failed     10s (x3 over 12s)  kubelet            Error: stat /tmp/hostpath-provisioner/default/data-mysql-0: no such file or directory`

[2021-05-20 12:20] DimitrijeManic commented on #11171
@utkarsh-pro Do you plan on making it possible to set addons in the config or just ENV variables?

[2021-05-20 16:47] utkarsh-pro commented on #11171
@DimitrijeManic, PR https://github.com/kubernetes/minikube/pull/11469 only adds support for setting `addons` using environmental variables (in addition to `--addons` flag). I am not sure if increasing the scope of the issue would be appropriate.

However, I'd be more than happy to add support for config too if it's a requirement and is accepted by the admins :smile:

[2021-05-20 17:18] BeDigital commented on #7332
when will ingress addon be functional with M1 apple Macintosh

[2021-05-20 17:37] #11385 closed

[2021-05-20 19:32] fredcsfaria opened #11470 "Minikube - Enable colors error message"
**Steps to reproduce the issue:**

1. Run "minikube status"

The message "Enable colors error"   shoud not be displayed in output.  This issue occurs in releases 1.20  and 1.19.

![image](https://user-images.githubusercontent.com/52935549/119034997-76366f80-b985-11eb-8deb-c0c726aa2cbc.png)

![image](https://user-images.githubusercontent.com/52935549/119037637-9e739d80-b988-11eb-8d9a-e08bcba60aba.p

[2021-05-20 20:45] andriyDev commented on #10766
Good idea here #9590.

[2021-05-20 20:53] x3a commented on #10544
@medyagh I gave v1.20.0 a try, but unfortunately, the error still occurs for me.

[code]
[code]

[2021-05-20 21:42] BlaineEXE commented on #3883
I plan to start some work to try to add functionality into minikube to allow creating extra disks. I anticipate that I will only have the ability to do so for some backends, notably with hyperkit and vbox as I am on Mac. Using the docker machine backend likely won't be able to support this option at all. Is this okay? Are there examples of features that aren't supported by all backends I might use

[2021-05-20 22:51] #11382 closed

[2021-05-20 23:20] #11335 closed

[2021-05-21 06:06] tharun208 commented on #7063
yes with the latest minikube I am also able to get the cluster started as expected

[2021-05-21 06:36] tharun208 commented on #11165
Can we pick this once https://github.com/kubernetes/minikube/issues/11406 is done?

[2021-05-21 10:21] yogendradabi3 commented on #10859
`brew upgrade kubernetes-cli` worked for me

[2021-05-21 12:17] AlexandrePieroux opened #11475 "Minkube mount: can't assign requested address"
**Steps to reproduce the issue:**

1. install minikube on macOS Big Sur 11.2.3 (minikube: stable 1.20.0 (bottled), HEAD) using: brew install minikube
2. create a new cluster using this command: minikube start --cpus 6 --memory 12288 --disk-size=50GB --vm=true
3. try to mount a folder using: minikube mount --uid 1000 --gid 1000 ./:/efs --v=10

**Full output of `minikube logs` command:**
[code]

I'm

[2021-05-21 14:03] afbjorklund commented on #11165
You don't have to wait for the default to change.

[2021-05-21 14:06] afbjorklund commented on #11165
For this story one adds something to the ListImagesOptions, and the implements for all the different CRI in their ListImages.

[code]

[code]

[2021-05-21 14:13] JiangJungle opened #11476 "无法从registry.cn-hangzhou.aliyuncs.com/google_containers下载镜像"
你好：我是中国大陆用户，我无法从registry.cn-hangzhou.aliyuncs.com/google_containers下载相关镜像

**重现问题所需的命令**：minikube start --image-mirror-country=cn  和  minikube dashboard

**失败的命令的完整输出**：<details>

kube-system                    storage-provisioner                                             0/1     ImagePullBackOff   0          5m3s
kubernetes-dashboard   dashboard-metrics-scraper-8554f74445-9x4qb   0/1     ImageP

[2021-05-21 16:18] #10181 closed

[2021-05-21 17:47] tharun208 commented on #11165
@afbjorklund I like to work on this

[2021-05-21 17:48] tharun208 commented on #11165
/assign

[2021-05-21 17:49] craustin commented on #11022
I can repro this issue in RHEL8. Let me know if anyone has any debugging commands to try.

[2021-05-21 17:53] tharun208 commented on #11165
But, in docker, there is no option to show output as `yaml` or `json`. what to do in that case?

[2021-05-21 18:25] #11445 closed

[2021-05-21 18:33] #10766 closed

[2021-05-21 18:50] medyagh opened #11477 "break down GUEST_PROVISION when Docker container Exited"
example this test
https://storage.googleapis.com/minikube-builds/logs/11448/40fd08e/Docker_Linux.html#fail_TestStartStop%2fgroup%2fold-k8s-version%2fserial%2fSecondStart

[code]

[2021-05-21 19:16] mnordie opened #11479 "Minikube (podman) tunnel breaks external connections"
**Steps to reproduce the issue:**

1. minikube start (selects podman as I have docker running rootless)
2. apply my cluster which has an ambassador loadbalancer
3. run minikube tunnel, which lets me access my cluster external-ip but takes down external internet

Running minikube tunnel --alsologtostderr gives me
[code]
Before adding the route to the bridge cni-podman1 it warns about overlapping CI

[2021-05-21 19:43] maspen opened #11480 "Exiting due to K8S_INSTALL_FAILED: updating control plane: generating kubeadm cfg: getting cgroup driver: docker info --format : Process exited with status 125"
**Steps to reproduce the issue:**

1. curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-darwin-amd64
2. sudo install minikube-darwin-amd64 /usr/local/bin/minikube
3.minikube start

**Full output of `minikube logs` command:**
<details>
*
* ==> Audit <==
* |---------|------|---------|------|---------|------------|----------|
| Command | Args | Profile | User | Version | Start

[2021-05-21 20:31] #11310 closed

[2021-05-21 21:46] medyagh commented on #10144
We still wanna unskip them
@ilya-zuyev

[2021-05-21 23:32] andriyDev opened #11485 "Add link to leaderboard page in release notes."

[2021-05-21 23:32] andriyDev commented on #11485
/assign andriyDev

[2021-05-22 05:11] Hibari233 opened #11487 "Cannot delete minikube cluster"
PS C:\Users\Administrator> minikube delete
* 正在使用 kubeadm 卸载 Kubernetes v1.20.2…
E0522 13:09:02.777367    9176 delete.go:391] unpause failed: list paused: docker: NewSession: new client: new client: Error creating new native config from ssh using: root, &{[] [C:\Users\Administrator\.ssh\id_rsa]}: open C:\Users\Administrator\.ssh\id_rsa: The system cannot find the file specified.
X error deleting p

[2021-05-22 05:11] Hibari233 commented on #11487
Running on Microsoft Windows Server 2019 Datacenter 10.0.17763 Build 17763.
minikube v1.20.0

[2021-05-22 05:31] dinever commented on #11480
Hi @maspen, thanks for reporting the issue!

[code]

It appears that you are using Docker 1.11.1, while `docker info --format` was introduced in [1.13.0](https://github.com/moby/moby/pull/23808)

Please consider upgrading your docker engine to version 18.09 or later: https://minikube.sigs.k8s.io/docs/drivers/docker/

Thanks!

[2021-05-22 05:37] dinever commented on #11476
Hi,

Thanks for reporting the issue! There seems to be some issue with the aliyun hosted images.

I saw this issue reported by other users as well: https://github.com/AliyunContainerService/minikube/issues/51

[2021-05-22 05:46] dinever commented on #11468
Hi @timekarma,

Thanks for reporting the issue!

[code]

It appears that your hyperkit VM doesn't have network access as the above `curl` timed out.

Do you have any VPN (e.g. Cisco Anyconnect) running or any special Docker desktop configuration enabled?

Thanks!

[2021-05-22 06:50] Hibari233 commented on #11487
Solved by delete ~/.minikube folder

[2021-05-22 06:50] #11487 closed

[2021-05-22 08:50] mnordie commented on #11479
At home I have
[code]
[code]
And everything works again.
So my guess is I created the cluster at home got a minikube ip of 192.168.49.2 which podman used setting up stuff.
In the office I got a new ip for my machine but the cni-podman1 bridge was already created with my home network ip and gateway.

Should I create a static ip and try to convince minikube to use that instead of the dhcp ones curre

[2021-05-22 10:43] gthri2k opened #11488 "minikube start not working"
Hi,
I'm having trouble installing minikube.
I have a windows 10 machine. Have installed ubuntu in Oracle VM Virtual box manager
When I give minikube start , it throws me this error

 minikube v1.20.0 on Ubuntu 20.04
✨  Automatically selected the virtualbox driver

🧯  The requested memory allocation of 1939MiB does not leave room for system overhead (total system memory: 1939MiB). You may face stab

[2021-05-22 11:25] Dentrax commented on #10948
@btalbot

Same here, removing `~/.minikube` directory fixed the problem. I did not have the time to figure it out why this problem occurred, sorry about that. :(

[2021-05-22 19:45] calohmn commented on #10060
@dbingham I guess it's coming from the `~/.minikube/cache/images/` directory then. I had the same issue getting a SNAPSHOT image, built in the host docker daemon, to be updated in minikube (doing `minikube image rm` and minikube docker env `docker rmi` before). I had to manually delete the corresponding image file in the `~/.minikube/cache/images/` directory before doing `minikube image load`.

I

[2021-05-23 01:58] Sardalbek opened #11489 "minikube type: Control Plane host: Running kubelet: Running apiserver: Stopped kubeconfig: Configured"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-05-23 07:16] afbjorklund commented on #10060
Probably ill-defined, at least. Actually I don't know why the image commands are using the cache directory at all.

But now that they do, it should probably have matching semantics like you say - remove it, if it adds it.

[2021-05-23 07:20] afbjorklund commented on #10060
@dbingham

This was for the cluster internal registry, as from the add-on. I don't think we support a host registry yet, but it would be a nice feature to have. It would be a better option, than connecting to an external host daemon or podman. Sorry for the late reply.

[2021-05-23 07:24] afbjorklund commented on #11488
Please disregard the errors from "ssh" at the end, they have been fixed: #11371

! Startup with virtualbox driver failed, trying with alternate driver ssh: Failed to start host: creating host: create host timed out in 360.000000 seconds

x Exiting due to MK_USAGE: No IP address provided. Try specifying --ssh-ip-address, or see https://minikube.sigs.k8s.io/docs/drivers/ssh/

The real error is the t

[2021-05-23 07:35] afbjorklund commented on #11165
It is a bit hidden: `docker images --format '{{json .}}'`

You should probably pick **one** format internally (json), and then _maybe_ add yaml to the output.

There is no need to use different output for the internal implementation, so just stick with JSON.

The idea was to have one json document per string (line).

----

Currently ListImages outputs the image id.

`k8s.gcr.io/pause:3.2`

Instead

[2021-05-23 09:35] gthri2k commented on #11488
Oh yes! This works from windows! Thanks!

[2021-05-23 09:35] #11488 closed

[2021-05-23 21:13] ImranAbdalla12 opened #11490 "Can't enable ingress"
**Steps to reproduce the issue:**

1. minikube addons enable ingress

**Full output of `minikube logs` command:**
<details>
 ▪ Using image k8s.gcr.io/ingress-nginx/controller:v0.44.0
    ▪ Using image docker.io/jettech/kube-webhook-certgen:v1.5.1
    ▪ Using image docker.io/jettech/kube-webhook-certgen:v1.5.1
🔎  Verifying ingress addon...

❌  Exiting due to MK_ENABLE: run callbacks: running callba

[2021-05-24 04:24] dinever commented on #11442
Was able to accidentally reproduce this issue in my local env today, after repeating the functional tests many times.

The issue seems to be some containers exits before they start (this seems to be random, not sure why), so `containerd` has to recreate the containers, leaving the old containers in the `CREATED` state. Since the old containers were not even started, there are no logs.

![Group 1](

[2021-05-24 04:49] dinever commented on #11490
Hi @ImranAbdalla12, thanks for reporting this issue!

From the logs I'm seeing:

[code]

This means you probably already have ingress manually created in your cluster, and now minikube is trying to patch them with its manifest. Since the selectors fields are immutable after being created (see https://github.com/kubernetes/kubernetes/issues/50808), the patching failed.

To resolve this issue and en

[2021-05-24 05:31] RA489 commented on #11490
/kind support

[2021-05-24 05:33] RA489 commented on #11489
@Sardalbek Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank you for sharing your experience!

[2021-05-24 05:33] RA489 commented on #11489
/triage needs-information

[2021-05-24 05:34] RA489 commented on #11480
/kind support

[2021-05-24 05:34] RA489 commented on #11479
/kind support

[2021-05-24 05:35] RA489 commented on #11475
/kind support

[2021-05-24 11:32] ImranAbdalla12 commented on #11490
Thanks @dinever This solved my problem.
Delete minikube cluster and restart your system, then start the cluster again and try enabling the ingress-controller.

[2021-05-24 11:32] #11490 closed

[2021-05-24 17:47] ilya-zuyev commented on #10231
fixed in https://github.com/kubernetes/minikube/pull/11295

[2021-05-24 17:47] #10231 closed

[2021-05-24 18:26] jmazzitelli opened #11499 "kvm2 driver unable to set up network connecting two minikube instances"
I want two minikube instances (using `kvm2` driver) each running on the same host be able to talk to each other. However, it doesn't work.

**Steps to reproduce the issue:**

1. I have a simple/default kvm installation from rpm on RHEL 8.3 - I did no customizations.

2. Installed two minikube instances (east and west):
[code]

3. Both have valid IPs
[code]

4. My laptop host can see west k8s maste

[2021-05-24 18:54] medyagh commented on #11406
we should decide based on users needs, minikube's main users are local developers. current bechmarks for image build https://minikube.sigs.k8s.io/docs/benchmarks/imagebuild/ shows docker runtime has better image build

[2021-05-24 18:56] #11406 closed

[2021-05-24 18:57] rohitraja commented on #7332
We still have this issue. When it is expected to be fixed.

minikube start --vm=true
😄  minikube v1.20.0 on Darwin 10.15.7
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🏃  Updating the running docker "minikube" container ...
🐳  Preparing Kubernetes v1.20.2 on Docker 20.10.6 ...
🔎  Verifying Kubernetes comp

[2021-05-24 19:52] jmazzitelli commented on #11499
And to show you how I expect it to work - I just installed virtualbox, and then installed 2 minikube instances (again called "east" and "west") but this time I used `virtualbox` for the `--driver` option. This is now what I see (notice I can see west's k8s master API from within east minikube):

[code]

From the host:

[code]

From east minikube:
[code]

[2021-05-24 21:39] jmazzitelli commented on #11499
For the record, I did try to start both minikube instances with the same `--network` value, but I couldn't even start one of them up:

[code]

So for some reason `--network` isn't helpful here.

[2021-05-24 22:05] lingsamuel commented on #10436
/remove-lifecycle stale
/assign
Sorry for the late response, I am a little busy in the past few months.

[2021-05-24 22:25] #9910 closed

[2021-05-24 22:39] #11485 closed

[2021-05-24 23:26] andriyDev opened #11503 "containerd LogsCmd/LogsCmdFile flakes"
https://github.com/kubernetes/minikube/runs/2658189416?check_suite_focus=true

[2021-05-24 23:27] andriyDev commented on #11503
Possible related to #11442.

[2021-05-24 23:27] andriyDev commented on #11503
/assign andriyDev

[2021-05-24 23:29] jmazzitelli commented on #11499
I was on v1.19.0 of minikube -- just tried the latest v1.20.0 and still didn't work. I'm attaching the logs here.
[minikube_--driver_97150c08fdbaf81b51845722203d6cf71ab29d74_0.log](https://github.com/kubernetes/minikube/files/6535512/minikube_--driver_97150c08fdbaf81b51845722203d6cf71ab29d74_0.log)

[2021-05-24 23:57] medyagh commented on #11442
@dinever would you like to pick this task up ?

[2021-05-25 01:39] dinever commented on #11442
I'm happy to work on it, but saw @andriyDev assigned himself to #11503 so I think he's working on this now.

[2021-05-25 01:41] andriyDev commented on #11442
I literally haven't started haha, I'm happy for you to take this one!

[2021-05-25 01:42] andriyDev commented on #11442
/assign dinever

[2021-05-25 01:43] andriyDev commented on #11503
/assign dinever

[2021-05-25 01:43] dinever commented on #11442
Great. Thanks!

[2021-05-25 01:44] dinever commented on #11503
/assign

[2021-05-25 05:03] calebstewart commented on #9906
For clarity/historical sake, the mounts only persist as long as `minikube mount` is running. Stopping that process will remove the mount. There's no need to remove it through any API. I solved my problem by simply running a subprocess for the mount, and kill it when I was done. No mess; no fuss. Admittedly, I haven't checked to see if this was added explicitly to documentation anywhere, but it's r

[2021-05-25 05:03] #9906 closed

[2021-05-25 13:23] rahulii commented on #7731
/assign

[2021-05-25 13:31] rahulii commented on #7731
@medyagh , do we need to add this url to the table `https://minikube.sigs.k8s.io/docs/commands/{addon_name}/`
e.g https://minikube.sigs.k8s.io/docs/commands/dashboard/

[2021-05-25 17:27] code-merc opened #11505 "Registry addon incompatible with multiple nodes, image pulls fail on second node"
When starting a minikube cluster with multiple nodes, image pulls fail on the second node.

**Steps to reproduce the issue:**

1. `minikube start --driver=docker --nodes=2 --cni=auto --addons=default-storageclass,registry,storage-provisioner --container-runtime=containerd`
2. Image pulls on the second `minikube-m02` node will fail with
[code]

**Full output of `minikube logs` command:**
<details>

[2021-05-25 18:19] spowelljr opened #11506 "KVM Containerd integration tests timeout"
This may he a suspect PR: https://github.com/kubernetes/minikube/pull/11325

[2021-05-25 19:25] medyagh commented on #11506
we should check if this is a Debian 9 problem or is it happening on debian 10 too
on my mac hyperkit it the basic start works
[code]
get pods
[code]

[2021-05-25 19:26] medyagh commented on #11503
dupe of https://github.com/kubernetes/minikube/issues/11442

[2021-05-25 19:26] #11503 closed

[2021-05-25 21:51] DinuwanSJP opened #11507 "minikube"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-05-25 23:46] defurn commented on #11022
I guess having an nfs share for home dir could cause this.. can't acquire locks...?

[2021-05-26 01:24] craustin commented on #11022
Yes, I think my NFS homedir caused this in my case. Setting MINIKUBE_HOME outside my homedir fixed it. (https://minikube.sigs.k8s.io/docs/handbook/config/#environment-variables)

[2021-05-26 02:33] medyagh commented on #11022
@craustin @defurn is there a way that miniukube could detect NFS home dir so at least we could relax the Lock for NFS ? Or suggest the user to change homedir ?

[2021-05-26 03:06] iamnoah opened #11510 "minikube host IP incorrect if not 192.168.64.1 - minikube mount fails"
**Steps to reproduce the issue:**

0. Have something ??? about the host machine that hyperkit will assign bridge100 to something other than 192.168.64.1
1. `minikube start --vm=true`
2. Noticed that the bridge100 adapter has address `192.168.168.1` in this case.
3. Try `minikube mount --alsologtostderr /tmp:/tmp` (mount times out, logs below)

**Full output of failed command:**

<details>

[code]

[2021-05-26 09:47] xamino commented on #11103
Hi, so I'm encountering this issue too which would be fixed with the next release. Since it doesn't seem like the fix will be out soon (milestone says ~40% currently) and being able to set the parameter would be the workaround, any help in getting this to work? I did try it but can't find the config under `/var/tmp/minikube/kubeadm.yaml` to check (I assume it is not on my root system).

[2021-05-26 11:15] mojimich2015 commented on #10544
Same issue happened for me , any suggestion to fix it ?

[2021-05-26 14:25] jonathanharr92 opened #11511 "❌ Exiting due to MK_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]"
Just started learning about Kubernetes, and I'm having some trouble enabling the addon ingress.
It worked yesterday, or atleast I think it did. I could enable it however, which is the main problem I can't get passed today.

**Steps to reproduce the issue:**

1. minikube start
2. minikube addon enable ingress

Basically all I'm trying to do is enable ingress, it takes 6 minutes. It keeps posting th

[2021-05-26 16:36] medyagh opened #11512 "new containerd config causes KVM Containerd test to time out and Docker Containerd test addons to fail"
After New Containerd Config in this PR https://github.com/kubernetes/minikube/pull/11325/files

 the KVM test times out like this in 90 minutes (used to be Green in 63 minutes)

here is full KVM logs that timed out

[kvm_log.txt](https://github.com/kubernetes/minikube/files/6548314/kvm_log.txt)

Also the Docker Driver Test Addons Fail

https://storage.googleapis.com/minikube-builds/logs/11504/4567

[2021-05-26 16:57] AkihiroSuda commented on #11512
If the CI env has DOCKER_RAMDISK, it might not work as expected, though I assume it is no longer set

[2021-05-26 16:58] AkihiroSuda commented on #11512
Removing NoPivotRoot = true may work?

[2021-05-26 17:05] medyagh commented on #11512
do u mean for every case or only kernel 4 (debian 9)?

[2021-05-26 17:08] medyagh commented on #11512
doesn't seem like we have that ENV set
[code]

[2021-05-26 17:10] carlskii opened #11513 "storage-provisioner failing with errors."
Hi, I've installed Minikube on Ubuntu 21.04, however the storage-provisioner, keeps failing. The root of the problem seems to be related to a connectivity issue, but I can't work out why its failing. e.g.

`kubectl logs -f storage-provisioner -n kube-system`
[code]

**Steps to reproduce the issue:**

1. minikube start
2. kubectl get po -A
3. kubectl logs -f storage-provisioner -n kube-system

**Fu

[2021-05-26 17:12] AkihiroSuda commented on #11512
Basically, NoPivotRoot is insecure and should never be used on any version of kernel, unless it is really needed (for some initrd stuff).

I added NoPivotRoot in the v2 config PR just because v1 config had equivalent of that.

I'm not sure this is really related to the CI failure, but I think it is worth trying.

[2021-05-26 17:14] medyagh commented on #10644
@devZer0 @robd003 have you had a chance to try minikube latest binary for the Auto-pause addon on VM Drivers?

[code]

[2021-05-26 17:15] AkihiroSuda commented on #11512
Could you check the env of the dockerd process, not the env of the bash? (/proc/PID/env)

[2021-05-26 17:18] #11439 closed

[2021-05-26 17:19] #11171 closed

[2021-05-26 17:30] medyagh commented on #11512
sure @AkihiroSuda

[code]

[2021-05-26 17:38] medyagh commented on #11512
lets try that

[2021-05-26 17:45] ilya-zuyev commented on #11512
``` May 26 15:19:28 addons-20210526150513-7945 containerd[457]: time="2021-05-26T15:19:28.889667461Z" level=error msg="RunPodSandbox for &PodSandboxMetadata{Name:busybox,Uid:68a93b4a-33aa-4530-bb9a-fd2b06e110d0,Namespace:default,Attempt:0,} failed, error" error="failed to create containerd task: OCI runtime create failed: container_linux.go:367: starting container process caused: process_linux.go:

[2021-05-26 17:51] medyagh commented on #11512
this seems similar to this error https://github.com/containerd/containerd/issues/5510

[2021-05-26 17:53] #11507 closed

[2021-05-26 18:07] spowelljr commented on #11323
Hi @Laxminarayan1502, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-05-26 18:07] #11323 closed

[2021-05-26 18:10] spowelljr commented on #11163
Based on the conversation this seems to have been resolved. I'm going to close this issue, but if your issue is not resolved feel free to reopen the issue, thanks!

[2021-05-26 18:10] #11163 closed

[2021-05-26 18:11] andriyDev commented on #10971
This issue is quite old with no new updates, so I will close this.

If the issue persists, feel free to reopen this!

[2021-05-26 18:11] #10971 closed

[2021-05-26 18:12] spowelljr commented on #9968
Hi @matanshukry, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-05-26 18:12] #9968 closed

[2021-05-26 18:12] andriyDev commented on #10191
/lifecycle frozen

[2021-05-26 18:14] andriyDev commented on #9086
Still need to investigate on Windows.

/lifecycle frozen

[2021-05-26 18:24] ilya-zuyev commented on #11084
@jmholla Docker driver does not support changing mount options. Removing underlying container using `docker rm` doesn't help here.

[2021-05-26 18:26] #9739 closed

[2021-05-26 18:35] medyagh opened #11515 "docker service is still running for contianed"
[code]

[2021-05-26 18:39] medyagh commented on #11515
I thnk the source of the problem is this line, if I comment it out it disables
[code]

[2021-05-26 21:23] rastafarien commented on #9776
HI. Got similar issue
stuck at this step :
Creating kvm2 VM (CPUs=2, Memory=3000MB, Disk=20000MB) ...
🤦  StartHost failed, but will try again: creating host: create: Error creating machine: Error in driver during machine creation: creating network: un-retryable: no free private network subnets found with given parameters (start: "192.168.59.0", step: 11, tries: 20)

docker network ls didn't show a

[2021-05-26 21:43] andriyDev commented on #11434
Here's the current plan:
- Convert gopogh summary data into entries in a CSV file, and generate this for all runs.
- Keep the CSV up to date by appending rows to the CSV after gopogh
  - Possibly use SQLite
  - Possibly just append rows directly on the shell
- In an HTML+JS, load the CSV data
  - Create a chart for the flake rate of tests, duration of tests, and number of tests run (sanity check).

[2021-05-26 23:22] AlbertMarashi commented on #7604
bump

[2021-05-27 01:25] #9098 closed

[2021-05-27 01:30] #11437 closed

[2021-05-27 01:38] robd003 commented on #10644
@medyagh Yes I've tried the latest build; however, the problem isn't pausing kubernetes, but rather the high CPU usage when it's running. There's got to be a way to de-tune it and have polling happen once every 500ms - 1000ms instead of constantly pegging the CPU when running on a developer laptop.

I have no problem shutting down kubernetes when I don't need it. The issue that persists is kuberne

[2021-05-27 06:22] JasonkayZK commented on #8257
This works fine with me. 😄
minikube version: v1.20.0 btw.

[2021-05-27 07:54] zbeedatm commented on #10544
same for me!!

~$ minikube version
minikube version: v1.20.0
commit: c61663e942ec43b20e8e70839dcca52e44cd85ae

[2021-05-27 08:18] devZer0 commented on #10644
i see it the same way as @robd003

the problem for me is not shutting it down , pausing or suspending. i could also pause/suspend the virtual machine.

minikube should not burn cpu when mostly idle.

if there is polling at a high rate it should be explained why it is absolutely necessary and if reducing polling rate could be a reasonable approach to lower cpu usage, then it should be made a tunabl

[2021-05-27 12:24] kevin85421 commented on #10859
@JakeAtTurner Thank you! This works for me.

[2021-05-27 16:39] medyagh commented on #11512
After reverting the @AkihiroSuda https://github.com/kubernetes/minikube/pull/11509 the Containerd Performance on Cloud shell is back to "Worse" than docker again. interestingly it also affects the CRIO to be worse too
<img width="923" alt="Screen Shot 2021-05-27 at 9 35 09 AM" src="https://user-images.githubusercontent.com/4564227/119863825-d5890800-bece-11eb-8ebd-661f478e9de0.png">

but it make t

[2021-05-27 17:03] vishjain commented on #11296
/assign

[2021-05-27 17:03] vishjain commented on #11296
@daehyeok Are you working on this?

[2021-05-27 17:16] spowelljr commented on #9909
In-progress

[2021-05-27 17:19] timscottbell commented on #9798
I just started experiencing this problem this morning on Ubuntu 20.04 using `vm-driver=docker`. What is the workaround?

[2021-05-27 17:20] daehyeok commented on #11296
@vishjain yes. i will make PR after little clean up code

[2021-05-27 17:20] medyagh commented on #11506
dupe of https://github.com/kubernetes/minikube/issues/11512

[2021-05-27 17:20] #11506 closed

[2021-05-27 17:53] medyagh commented on #11270
@ilya-zuyev please update how the fix happened and how we fixed and then close

[2021-05-27 18:00] JoseCabreraPalou2000 opened #11523 "/home/ansible/.minikube/logs/lastStart.txt"
**Los comandos necesarios para reproducir la incidencia**:

**El resultado completo del comando que ha fallado**: <details>

</details>

**El resultado del comando `minikube logs`**: <details>

</details>

**La versión del sistema operativo que utilizaste**:

[2021-05-27 18:00] JoseCabreraPalou2000 opened #11524 "reflect: indirection through nil pointer to embedded struct [recovered]"
**Los comandos necesarios para reproducir la incidencia**:

**El resultado completo del comando que ha fallado**: <details>

</details>

**El resultado del comando `minikube logs`**: <details>

</details>

**La versión del sistema operativo que utilizaste**:

[2021-05-27 18:04] medyagh commented on #11116
@ilya-zuyev plz share current prototype result and add to backlog

[2021-05-27 18:05] medyagh commented on #9946
lets make a WIP before stable release

[2021-05-27 18:09] sharifelgamal commented on #11272
All of our windows datacenter machines now have a virtual switch, but there's some network configuration missing that's causing VMs not not be able to reach out to GCR or dockerhub. This is close to working.

[2021-05-27 18:10] sharifelgamal commented on #11267
I have mitmproxy working locally, just need to write the test and run it.

[2021-05-27 18:12] medyagh commented on #10625
we could check what is the cgroup on Windows's Docker Desktop

[2021-05-27 18:36] ilya-zuyev commented on #11523
Going to close this issue. Please feel free to create a new one describing your problem with details and providing logs and system info.

[2021-05-27 18:36] #11523 closed

[2021-05-27 18:36] ilya-zuyev commented on #11524
Going to close this issue too. Please feel free to create a new one describing your problem with details and providing logs and system info.

[2021-05-27 18:36] #11524 closed

[2021-05-27 20:07] #11321 closed

[2021-05-27 20:07] #11515 closed

[2021-05-27 20:25] andriyDev opened #11526 "TestDownloadOnly failing"

[2021-05-27 21:32] spowelljr commented on #10508
@azhao155 Are you still working on this?

[2021-05-27 22:05] #9465 closed

[2021-05-27 22:38] andriyDev commented on #11434
In addition to this, we'd like a bot to send messages to PRs with failed tests to inform them of flake rates of those tests (with links to the charts for those tests). It would be even more useful for the bot to highlight tests with very stable near-0 flake rates. This way if a PR breaks a stable test, they can clearly see which tests are most definitely their fault.

[2021-05-27 22:54] #9909 closed

[2021-05-28 02:06] lingsamuel commented on #10136
/remove-lifecycle rotten

[2021-05-28 03:28] Funsho-Agboola opened #11530 "Exiting due to GUEST_STATUS: state: unknown state "minikube": docker container inspect minikube --format=: exit status 1 stdout: stderr: Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Get http://%2Fvar%2Frun%2Fdocker.sock/v1.24/containers/minikube/json: dial unix /var/run/docker.sock: connect: permission denied"
**Steps to reproduce the issue:**

1. minikube service mongo-express-service
2.
3.

**Full output of `minikube logs` command:**
<details>

==> Audit <==
|---------|-----------------|----------|------|---------|-------------------------------|-------------------------------|
| Command |      Args       | Profile  | User | Version |          Start Time           |           End Time            |
|--

[2021-05-28 03:30] Funsho-Agboola commented on #11530
Good day, I currently am encountering this issue and I would appreciate if one could be of help, thanks.

[2021-05-28 03:50] Funsho-Agboola commented on #11530
I have been able to get the message here

https://www.codegrepper.com/search.php?q=Got%20permission%20denied%20while%20trying%20to%20connect%20to%20the%20Docker%20daemon%20socket%20at%20unix:///var/run/docker.sock:%20Get%20http:///var/run/docker.sock/v1.24/containers/minikube/json:%20dial%20unix%20/var/run/docker.sock:%20connect:%20permission%20denied

I just had to run these:

sudo chmod 666 /var

[2021-05-28 09:33] lromor opened #11531 "minikube --mount-string"
**Steps to reproduce the issue:**
Maybe I don't understand how the `--mount-string` is supposed to work, but I can't customize the host mount point.

1. `mkdir -p /mnt/_data`
2. `minikube start  --mount-string='/mnt/_data:/data' --driver=docker`
3. `docker volume inspect minikube`

[code]

Minikube refuses to mount a different folder on the host side even when specifying the --mount-string.

**Ful

[2021-05-28 10:20] lromor commented on #11531
I noticed two things:
1. The docker command I used is wrong since minikube is using a bind mount command and it's not creating a volume. I was also missing an additional flag `--mount` to make use of `--mount-string`.
2. By inspecting the container `docker inspect minikube` I noticed that bind mount it is indeed correctly listed. Changing the destination folder from `/data` (which was already exis

[2021-05-28 11:54] lromor commented on #11531
I think the problem could be in the order at which the bind commands are executed. Is there a way to specify the host path of the default volume (instead of saving things in `/var/lib/docker/volumes`) in minikube? I can't find this info in the docs.

[2021-05-28 12:35] viplavkatiyar commented on #9063
Making the GRPC server listen to 0.0.0.0 instead of localhost fixed the 'Connection Refused' error in my case. This issue happened only when I created the server inside a kubernetes pod.

'localhost' works fine when running the server directly on the host machine.

[2021-05-28 15:49] atlonj opened #11532 "Minikube addons enable ingress - timed out"
**Steps to reproduce the issue:**

1.Hi,
I'm trying to enable ingress addons on minikube, but failed on timed out. I'd minikube version minikube version: v1.19.0 installed in my VM. With Operating System: Ubuntu 16.04.5 LTS and Kernel: Linux 4.4.0-135-generic.

I also found some suggestions on Internet that I need to edit the  failurePolicy: Fail  to True in ValidatingWebhookConfiguration/ingress-

[2021-05-28 15:55] Edwarb59142 opened #11533 "C:\Users\edmun\.minikube\logs\lastStart.txt"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-05-28 15:56] #11533 closed

[2021-05-28 17:17] jest opened #11534 "Minikube fails to create 192.168.x.0/24 network even if there is possibility, when there exists some colliding 192.168.y.0/20"
**Steps to reproduce the issue:**

1. `ip a | grep 192.168.48`
[code]
2. `minikube start`

**Full output of `minikube logs` command:**
<details>
😄  minikube v1.20.0 on Linuxmint 18.3
✨  Automatically selected the docker driver. Other choices: virtualbox, ssh
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🔥  Creating docker container (CPUs=2, Memory=3900MB) ..

[2021-05-28 17:56] azhao155 commented on #10508
yes, pinged in the slack thread, and will finalize the solution.

[2021-05-29 06:20] dinever opened #11536 "Thoughts on mocking interfaces with `gomock` or `mockery`?"
Currently, there is no mock for some of our interfaces, e.g. `cruntime.Manager`:

https://github.com/kubernetes/minikube/blob/0de45800895549cb49b1e4c5722430e8990bc89e/pkg/minikube/cruntime/cruntime.go#L73

Without a mock, it's impossible to cover some of the logic within the unit test.  However, manually writing a mock for an interface with this many methods could end up with messy results.

I won

[2021-05-29 06:22] dinever commented on #11207
Working on this next. Will share a proposal once I have it. Thanks!

/assign

[2021-05-29 09:51] afbjorklund commented on #8003
@cdbattags : what did you use for the port forwarding, from the macOS host to the virtualbox VM ?

Currently using the minikube VM "directly" is the better option still, if not running Docker Desktop.

But eventually it should be possible to have minikube talk to a remote daemon or podman.
Then you could supply your own VM to run remotely against, both for Docker and for Podman.

If this VM keeps

[2021-05-29 13:58] dhanujsirohi opened #11538 "Minikube not starting"
**Steps to reproduce the issue:**

1.sudo minikube start --driver=none
2.
3.

**Full output of `minikube logs` command:**
<details>

root@ubuntu:~# sudo minikube start --driver=none
* minikube v1.20.0 on Ubuntu 14.04
* Using the none driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing none bare metal machine for "minikube" ...
* OS rele

[2021-05-29 16:39] jmazzitelli opened #11539 "OLM addon fails to start"
**Steps to reproduce the issue:**

1. Start minikube (I tried with `--memory=16g --cpus=4 --disk-size=40g` which should be enough I would hope). The startup output is:
[code]
2. Enable the olm addon: `minikube addons enable olm --images "UpstreamCommunityOperators=operator-framework/upstream-community-operators:latest` or without that `--images` (I tried with both, note that the default image is o

[2021-05-29 17:49] srelf-ukcloud commented on #11345
If you have WSL enabled (Virtual machine platform) for some reason this disables ALL other virt technologies from working. I found this recently.

[2021-05-30 04:05] IndrajeetTech2020 opened #11540 "Error while enabling ingress in minikube"
indrajeet@indrajeet-X540LA:~/Development$ minikube addons enable ingress
    ▪ Using image k8s.gcr.io/ingress-nginx/controller:v0.44.0
    ▪ Using image docker.io/jettech/kube-webhook-certgen:v1.5.1
    ▪ Using image docker.io/jettech/kube-webhook-certgen:v1.5.1
🔎  Verifying ingress addon...

❌  Exiting due to MK_ENABLE: run callbacks: running callbacks: [sudo KUBECONFIG=/var/lib/minikube/kubeconf

[2021-05-30 09:36] rahulii commented on #10460
/assign
I would like to give it a shot. Just wanted to know where should i begin searching the code!
/cc @medyagh

[2021-05-30 11:32] idealism-xxm commented on #7332
[code]

Running `minikube delete` before `minikube start --vm=true` works for me.

I think minikube won't pull VM boot image with option `--vm=false` if there is a docker driver in local cache.

**`minikube delete` might be replaced with `minikube cache delete`, but I don't tried.**

[2021-05-30 11:35] freiit commented on #9295
/remove-lifecycle stale

[2021-05-30 12:59] souzaroberto commented on #7300
I had the same issue, and in Hyper-V Manager I deleted the minikube instance running.
I tried the command again:

and it works!

![image](https://user-images.githubusercontent.com/43425763/120104975-62c99800-c12d-11eb-91cd-8f79529d3234.png)

[2021-05-30 14:08] dinever commented on #11538
Hi @dhanujsirohi, thanks for reporting the issue!

`docker info --format` was introduced in [1.13.0](https://github.com/moby/moby/pull/23808), it appears that you are using an older version of Docker,

Could you upgrade your docker engine to version 18.09 or later and try minikube again? https://minikube.sigs.k8s.io/docs/drivers/docker/

Thanks!

[2021-05-31 01:37] oushihou opened #11541 "minikube start problem"
**重现问题所需的命令**：minikube start --vm-driver=none

**失败的命令的完整输出**：<details>
* minikube v1.20.0 on Centos 7.9.2009
* Using the none driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing none bare metal machine for "minikube" ...
* OS release is CentOS Linux 7 (Core)
* Preparing Kubernetes v1.20.2 on Docker  ...

X Exiting due to K8S_INSTALL_FA

[2021-05-31 03:31] paulopatto opened #11542 "Error on start minikube after upgrade to Fedora 34"
**Steps to reproduce the issue:**

1. `minikube start`

**Full output of `minikube logs` command:**
<details>
*
* ==> Audit <==
* |---------|------|---------|------|---------|------------|----------|
| Command | Args | Profile | User | Version | Start Time | End Time |
|---------|------|---------|------|---------|------------|----------|
|---------|------|---------|------|---------|------------|--

[2021-05-31 03:52] dinever opened #11543 "Exit with error when Docker version is too old"
#10369 dropped the error in the Docker version validation to support old Docker versions.

With this change, the users get a confusing `docker info --format : exit status 2` error when they're using ancient Docker versions (<1.13.0) that don't even support `docker info --version`, see
#11480
#11538

Should we exit with an error and tell users to upgrade their Docker version when it's way too old?

[2021-05-31 04:11] dinever commented on #11543
Related to #9077

`docker info --format` and `docker system` were both added in [v1.13.0](https://github.com/moby/moby/releases?after=v1.13.0)

`docker cp -a` was added in v18.06.0: https://github.com/docker/cli/commit/7a767a1a7e5413f37fdfbb2a1fed87e4718a79b5

[2021-05-31 04:11] dinever commented on #11543
Another option is to remind the user to upgrade Docker when commands like `docker info --format` and `docker system` failed.

[2021-05-31 04:22] vishjain commented on #10451
No activity here so I'll take it over.
/assign

[2021-05-31 04:25] BLasan commented on #10451
/unassign

[2021-05-31 04:44] dinever commented on #11541
Hi @oushihou, thanks for reporting the issue!

This seems to be related to #8798 and #10589

Could you try the following command and see what happens?

[code]

If it crashes, could you provide the result of `docker info`? Thanks!

[2021-05-31 04:46] Abheestanistala commented on #11345
I cannot say the same because Docker engine is picking up the Virtualization. and the WSL is also installed

[2021-05-31 04:57] dinever commented on #11540
Hi @IndrajeetTech2020, thanks for reporting the issue!

[code]

It looks like you are running Kubernetes v1.14.0. However, `igress-nginx>=0.40.0` requires Kubernetes **v1.16** or newer: https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v0.40.0

If possible, could you try upgrade the k8s cluster to a newer version and enable the addon again?

[code]

[2021-05-31 06:57] furkatgofurov7 commented on #11459
hi! Can someone please take a look and if possible give some pointers regarding this issue, it seems to be not flaky but every other build is failing with same error in our CI. Thank you.

/cc @tstromberg @medyagh @afbjorklund

[2021-05-31 08:38] halfzebra opened #11548 "minikube driver flag is renamed to vm-driver?"
While looking at the documentation https://minikube.sigs.k8s.io/docs/drivers/docker/, I've noticed that it suggests that the parameter for specifying a driver is called `driver`, while it's actually `vm-driver` in the latest version.

Is this something that needs fixing or am I missing something?

[2021-05-31 19:16] Itaachime commented on #9589
/assign

[2021-05-31 21:14] simao commented on #11513
It seems to be related to this: https://github.com/kubernetes-sigs/kind/issues/2240

Workaround for now is to run `sudo sysctl net/netfilter/nf_conntrack_max=524288` before kube-proxy tries to do it.

[2021-06-01 02:38] ZMing316 opened #11550 "Minikube start failed on fedora34"
**重现问题所需的命令**：
minikube start
**失败的命令的完整输出**：<details>
😄  Fedora 34 上的 minikube v1.20.0
✨  根据现有的配置文件使用 docker 驱动程序
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🤷  docker "minikube" container is missing, will recreate.
🔥  Creating docker container (CPUs=2, Memory=2200MB) ...
🤦  StartHost failed, but will try again: recreate: creating host: create: creating:

[2021-06-01 06:55] #11550 closed

[2021-06-01 06:56] ZMing316 commented on #11550
set selinux=enabled

[2021-06-01 10:05] sseide commented on #8765
same problem for me running minikube v1.20.0 auf Debian 10.9 with virtualbox
`minikube delete` or `minikube delete --all` did not work, i had to do a full

 `minikube delete --all --purge`

for cluster start

[2021-06-01 11:53] kuangyu0801 opened #11551 "Minikube fail to start with KVM2 on Ubuntu on mainfream s390x due to "PR_KVM_USER_PERMISSION: libvirt group membership check failed""
**Steps to reproduce the issue:**

1.  minikube start --driver=kvm2
2.
3.

I executed as root and already have set group to both "kvm" and "libvirt" according to tutorial: https://help.ubuntu.com/community/KVM/Installation
This issue should have been fixed with https://github.com/kubernetes/minikube/pull/10712
Please help checking. Thanks!

**Full output of `minikube logs` command:**
<details>
😄

[2021-06-01 12:00] ishanjain28 commented on #11532
Duplicate #11511

[2021-06-01 12:12] ishanjain28 commented on #11532
Is there a fix for this yet? This is broken on Linux(and from other issues, Mac).

[2021-06-01 12:21] ishanjain28 commented on #11532
<details>
<summary>kubectl describe pod/<ingress-pod> --namespace ingress-nginx output</summary>

[code]
</details>

[2021-06-01 12:43] aurelien-m opened #11552 "Volume mount files get corrupted and become unaccessible"
[logs_alsologtostderr.txt](https://github.com/kubernetes/minikube/files/6576314/logs_alsologtostderr.txt)

**Steps to reproduce the issue:**

1. minikube start
2. minikube mount my/local/folder:/data
3. kubectl apply -k cd/my_deployment
4. minikube ssh
5. ls /data
`ls: cannot access '/data': Input/output error`

**Full output of `minikube logs` command:**
<details>

==> Audit <==
|---------|------

[2021-06-01 16:34] dinever commented on #11548
Hi @halfzebra, thanks for reporting this issue! Could you share your output of `minikube version`?

`vm-driver` has been deprecated and renamed to `driver` in [v1.8.0](https://github.com/kubernetes/minikube/releases/tag/v1.8.0): e2ce45c6f0ca9fe51bd37b2fd478ec4ec69dd181

From the latest version of minikube(v1.20.0) I'm seeing:

[code]

[2021-06-01 18:32] sharifelgamal opened #11555 "Add explanations for all minikube error codes"
We now populate documentation for all error/exit codes at https://minikube.sigs.k8s.io/docs/contrib/errorcodes/, but most of them don't have a comment explaining what they are. We should add those.

[2021-06-01 19:38] halfzebra commented on #11548
Hi @dinever!

Thanks for your reply, I've actually been using an outdated version, which relied on a deprecated format.

Thanks for clarifying this!

[2021-06-01 19:38] #11548 closed

[2021-06-01 20:14] #11332 closed

[2021-06-01 20:45] andriyDev commented on #11434
Comment from the CLI!

[2021-06-01 22:24] medyagh opened #11560 "minikube should let user know if Global Config wont be persistant"
we should have a list of configs that we can set globally and add it to the documentation and we should make the memory global config-able
[code]

[2021-06-02 01:48] felixlin47 opened #11562 "missing required cgroups: pids"
when i execute the command:
 $ kubeadm init --apiserver-advertise-address=192.168.1.187 \
 --ignore-preflight-errors=Swap

the error msg:
[preflight] The system verification failed. Printing the output from the verification:
KERNEL_VERSION: 3.10.0-327.el7.x86_64
CONFIG_NAMESPACES: enabled
CONFIG_NET_NS: enabled
CONFIG_PID_NS: enabled
CONFIG_IPC_NS: enabled
CONFIG_UTS_NS: enabled
CONFIG_CGROUPS: en

[2021-06-02 02:15] robrich commented on #9183
Unstale please.

[2021-06-02 04:23] daehyeok commented on #11560
/assign

[2021-06-02 16:05] matthewmichihara opened #11563 "Gcp-auth addon seems to be overriding manually specified `GOOGLE_APPLICATION_CREDENTIALS` env var"
Context: https://github.com/GoogleCloudPlatform/cloud-code-intellij/issues/2940

minikube 1.20.0
gcloud 343.0.0
Skaffold 1.25.0
macOS 11.4

**Steps to reproduce the issue:**

1. Set up a basic hello world Cloud Run project that accesses a Secret Manager secret as described in https://github.com/GoogleCloudPlatform/cloud-code-intellij/issues/2940. Instead of using Cloud Code, you can just clone htt

[2021-06-02 18:06] andriyDev commented on #11380
This issue is getting quite old, closing. If the issue persists, please feel free to reopen!

[2021-06-02 18:06] #11380 closed

[2021-06-02 18:09] spowelljr commented on #11110
Hi @nvanhon, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-06-02 18:09] #11110 closed

[2021-06-02 18:10] sharifelgamal commented on #11216
Hey @patreka  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikube star

[2021-06-02 18:10] #11216 closed

[2021-06-02 18:11] sharifelgamal commented on #11255
Hey @sharonngetich  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikub

[2021-06-02 18:11] #11255 closed

[2021-06-02 18:18] sharifelgamal commented on #11222
I'm going to turn this issue into a documentation issue for CLI-only environments.

[2021-06-02 18:20] andriyDev commented on #11187
This issue is getting quite old, so I will close it. If the issue persists, please feel free to reopen!

[2021-06-02 18:20] #11187 closed

[2021-06-02 18:23] sharifelgamal commented on #11109
The only way I can see this happening is if the addon itself can't find the GCP Project at runtime. It will fail silently and those env vars won't get set.

If you are sure the project is set (either via env var or via `gcloud config set project`) then try running `minikube addons enable gcp-auth --refresh`, which will be available in minikube 1.20. That was teardown and create your pods with the

[2021-06-02 18:23] #11109 closed

[2021-06-02 18:25] sharifelgamal commented on #9650
ISO builds now happen on Debian 10. This is fixed.

[2021-06-02 18:25] #9650 closed

[2021-06-02 18:26] andriyDev commented on #10188
/lifecycle frozen

[2021-06-02 18:27] spowelljr commented on #11275
@awreece I was able to reproduce this issue, this is indeed not fixed.

[2021-06-02 18:29] andriyDev commented on #9009
Closing as this has been decided not to be supported (and as @afbjorklund said, this can be managed).

[2021-06-02 18:29] #9009 closed

[2021-06-02 18:30] spowelljr commented on #11098
@theperm What @sharifelgamal is saying is that the output you provided only seems to be part of the full output. There doesn't seem to be any error in the provided logs, could you try running it again and provide the full output, thanks!

[2021-06-02 18:31] sharifelgamal commented on #10343
Yeah properly supporting WSL with the docker and none drivers is in our roadmap for this year.

[2021-06-02 18:31] andriyDev commented on #10164
@vishjain Are you still working on this?

[2021-06-02 18:35] andriyDev commented on #9798
@timscottbell From other comments, this seems to be caused by a VPN extension. Do you have any VPN installed?

[2021-06-02 18:43] sharifelgamal commented on #11510
This strikes me as a legitimate bug in our mounting code.

[2021-06-02 18:45] spowelljr commented on #11044
@samwho Sorry, should have clarified my question. The retries are expected when running the dashboard, do the retries continue on for minutes?

[2021-06-02 18:46] andriyDev commented on #11505
This is a known defect problem. Help wanted!

[2021-06-02 18:54] vishjain commented on #10164
Yes, I'm working on this one.

[2021-06-02 18:54] andriyDev commented on #10164
Awesome!

[2021-06-02 19:59] #11526 closed

[2021-06-02 20:24] pnatraj opened #11565 "Unable to start gcp-auth addon"
**Steps to reproduce the issue:**

 minikube addons enable gcp-auth

1. I do have exported the GOOGLE_APPLICATION_CREDENTIALS environment variable
2.  I try to enable gcp-auth addon on ubuntu and i get the error
3.

**Full output of `minikube logs` command:**
<details>
I0603 01:44:26.145526  126171 main.go:128] libmachine: STDOUT:
{
name="minikube"
groups="/"
ostype="Linux 2.6 / 3.x / 4.x (64-bit)

[2021-06-02 22:52] iamnoah commented on #11510
@sharifelgamal thanks for taking a look. Note that whatever is populating /etc/hosts also gets the IP wrong.

[2021-06-02 23:55] medyagh commented on #9228
we are still doing htis

[2021-06-02 23:59] medyagh commented on #11565
@pnatraj it seems like minikbue was not able to connect to the cluster to deploy the addon, are u on a VPN or have network restrictions?
[code]

[2021-06-03 00:00] sharifelgamal commented on #11565
Also, what does `kubectl get pods -A` return? I'm curious if the pods are crashing and if so why.

[2021-06-03 00:13] medyagh opened #11568 "Failing test "TestStartStop/group/newest-cni/serial/EnableAddonWhileActive""
[code]

[2021-06-03 01:20] medyagh opened #11571 "add detailed info about what each integration test is doing to the site"
currently our `make generate-docs` creates this page

https://minikube.sigs.k8s.io/docs/contrib/tests/

which generates the site based on the Comments on the Test and validate the func,

I would like these descriptions to exaclty say what it is doing instead of a [general text ](https://minikube.sigs.k8s.io/docs/contrib/tests/#validatebuildimage)

[code]

it should say
[code]

[2021-06-03 01:23] dinever commented on #11571
/assign

[2021-06-03 03:02] JacekDuszenko commented on #7438
I'll be able to make this quick change in docs /assign

[2021-06-03 03:02] JacekDuszenko commented on #7438
/assign

[2021-06-03 03:07] JacekDuszenko commented on #7438
Moved the docs to site in #11572. Please feel free to review. Thanks!

[2021-06-03 06:49] henshalb commented on #11511
I got the same issue. But resolved using
[code]

[2021-06-03 07:04] pnatraj commented on #11565
This was because i had enabled some of addons using minikube addons enabled <addonname> specifically i noticed this issue when i was enabling the istio addon and then i started noticing this issue below are the list of addons that  have enabled on the machine now.

 ==> Audit <==
* |---------|----------------------------|----------|---------|---------|-------------------------------|--------------

[2021-06-03 07:12] pnatraj commented on #11565
minikube version: v1.20.0
commit: c61663e942ec43b20e8e70839dcca52e44cd85ae

I do have attached the detailed log for minikube

[minicubelog.txt](https://github.com/kubernetes/minikube/files/6589668/minicubelog.txt)

kubectl get pods -A
NAMESPACE              NAME                                        READY   STATUS              RESTARTS   AGE
default                balanced-5744b548b4-mlh99

[2021-06-03 07:14] pnatraj commented on #11565
No there are not VPN restrictions for this environment

minikube version: v1.20.0

No i have not tried this but i shall and update

[2021-06-03 07:54] pnatraj commented on #11565
minikube addons enable gcp-auth
    ▪ Using image jettech/kube-webhook-certgen:v1.3.0
    ▪ Using image gcr.io/k8s-minikube/gcp-auth-webhook:v0.0.5
🔎  Verifying gcp-auth addon...

❌  Exiting due to MK_ENABLE: run callbacks: running callbacks: [waiting for kubernetes.io/minikube-addons=gcp-auth pods: timed out waiting for the condition]

╭────────────────────────────────────────────────────────
│

[2021-06-03 09:46] aurelien-m commented on #11552
Update: this seems to come from the `minikube mount` command and from the shared folders, if I copy the files directly into minikube, I do not get this error of corrupted files.

[2021-06-03 10:13] AlexandrePieroux commented on #11475
I managed to make it work by specifying the ip manually. I don't know why Minikube was failing to determine the ip range in my case. The range my cluster was operating in was 192.168.65.0/8  but the mount operation was trying to bind to 192.168.64.0/8 (as it can be seen in the logs I posted).

By specifying '--ip 192.168.65.1' at the end of the command, it successfully bind and mount the volume.

[2021-06-03 10:13] #11475 closed

[2021-06-03 14:34] lromor commented on #11531
Solved it by mounting on `/var/data` instead of `/data` .

[2021-06-03 14:34] #11531 closed

[2021-06-03 15:51] manas9853 opened #11573 "I am unable to install minikube in my windows server datacenter 2019"
Manas Upadhyay  4 minutes ago
PS C:\Users\Administrator> minikube start
* minikube v1.20.0 on Microsoft Windows Server 2019 Datacenter 10.0.17763 Build 17763
* Using the hyperv driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Creating hyperv VM (CPUs=2, Memory=4000MB, Disk=20000MB) ...| E0603 16:52:55.025357    1612 main.go:124] libmachine: [stderr ==

[2021-06-03 15:52] manas9853 commented on #11573
* minikube v1.20.0 on Microsoft Windows Server 2019 Datacenter 10.0.17763 Build 17763
! Deleting existing cluster minikube with different driver hyperv due to --delete-on-failure flag set by the user.

minikube start --driver=virtualbox

! Exiting due to GUEST_DRIVER_MISMATCH: The existing "minikube" cluster was created using the "hyperv" driver, which is incompatible with requested "virtualbox" d

[2021-06-03 16:37] Spenhouet opened #11574 "Running on WSL2 via ssh driver and docker runtime"
**Steps to reproduce the issue:**

I want to use minikube ob my laptop and run everything on another Windows system's WSL2.

[code]

I did set up ssh access to that other Windows system following these two guides:

- https://www.hanselman.com/blog/how-to-ssh-into-a-windows-10-machine-from-linux-or-windows-or-anywhere
- https://www.concurrency.com/blog/may-2019/key-based-authentication-for-openssh-

[2021-06-03 17:24] manas9853 commented on #11573
PS C:\Users\Administrator\Downloads\kube> minikube start --alsologtostderr -v=7
I0603 17:11:15.998953    8048 out.go:291] Setting OutFile to fd 88 ...
I0603 17:11:16.042953    8048 out.go:338] TERM=,COLORTERM=, which probably does not support color
I0603 17:11:16.043954    8048 out.go:304] Setting ErrFile to fd 92...
I0603 17:11:16.044955    8048 out.go:338] TERM=,COLORTERM=, which probably does n

[2021-06-03 18:45] mathieuruellan commented on #11456
Hello, i've you find a solution? I'm stuck with the same situation with a debian testing.

[2021-06-03 19:02] theperm commented on #11098
Here you go

<details>
minikube start --cpus=4 --memory=4096 --extra-config=apiserver.authorization-mode=RBAC --force-systemd=true
😄  minikube v1.20.0 on Microsoft Windows 10 Enterprise 10.0.18363 Build 18363
✨  Using the docker driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🔥  Creating docker container (CPUs=4, Memory=4096M

[2021-06-03 21:28] medyagh commented on #11573
@manas9853

I see two versions of minikube
[code]

and

[code]

I wonder if u have two versions of minikube installed in the path ? the 1.12.3 is very old

also do u mind attaching the log.txt file to github so we can see the full log ?

minikube logs -f logs.txt

[2021-06-03 21:55] andriyDev commented on #11434
Here is the data path.
0) Manual: Run collect_data.sh to collect all existing log files and process them into a neat CSV file that is then uploaded to the GCS bucket.
1) Jenkins runs tests
2) Each Jenkins integration test job creates gopogh output. After being uploaded (as normal), the output is processed and appended to data present in GCS bucket.
3) Separate Jenkins cron job runs regularly to us

[2021-06-03 22:20] spowelljr commented on #9661
Fixed in #10094

[2021-06-03 22:20] #9661 closed

[2021-06-03 22:20] JacekDuszenko commented on #11253
/assign

[2021-06-03 22:47] ilya-zuyev commented on #11562
@felixlin47 It doesn't look like a minikube issue. Probably, you need https://github.com/kubernetes/kubeadm

[2021-06-03 22:47] #11562 closed

[2021-06-03 23:30] JacekDuszenko commented on #11253
Turns out we do have a global `embed-certs` config field, but the deserialization bug was causing field to be ignored while determining final config during cluster `minikube start`. I fixed it in #11576 and posted more information under the PR. @medyagh feel free to review. Thanks!

[2021-06-03 23:47] JacekDuszenko commented on #6489
I'd happily add the tutorial.
@medyagh  which place in the docs would be the best to put it in? Could you post a link? Thanks

[2021-06-04 01:23] marlon-sousa commented on #11193
Hello,

For me, what worked was this solution by zhan9san:

minikube start --driver=docker --extra-config=apiserver.service-node-port-range=32760-32767 --ports=127.0.0.1:32760-32767:32760-32767

This brings the services to 127.0.0.1 on Mac OS. Although not ideal, it is the closest we can get, using then the 127.0.0.1 host ip instead of the minikube ip.

Can I close the issue?

I think someone else

[2021-06-04 01:28] marlon-sousa opened #11577 "Failing to access services using NodePort on Linux"
Hello,

I recently made a new Arch Linux installation and now can no longer access services exposed via nodeports.

The old machine still accepts requests as usual, but not this one.

The same services are accessible on the new setup via kubectl port-forward on localhost, so I know that they are working.

Trying to access any service on `minikub ip` (192.168.49.2) returns connection refused.

Enab

[2021-06-04 03:24] zhan9san commented on #11193
I'm glad it works for you. Feel free to close it.

[2021-06-04 04:20] itendtolosealot commented on #11456
No. The error messages are not helpful. Also not clear which shell script is failing for us to debug it better.

[2021-06-04 05:09] yaleman commented on #9762
/remove-lifecycle stale

[2021-06-04 05:10] yaleman commented on #9762
I'd love to see some better support for this - installer packages are available for minikube but the docker images for starting it up on armv7 aren't available, while the arm64 install works, but the tutorials don't. :(

[2021-06-04 05:52] masontien opened #11578 "Is there any configuration file that can change my remote vm’s IP address(using ssh driver)"
❓ I want to delete my cluster (--driver=ssh), but my remote vm IP address has changed.  Is there any configuration file that can change my remote vm’s IP address?

[2021-06-04 06:22] #11578 closed

[2021-06-04 06:23] masontien commented on #11578
I found in `~/.minikube/profiles/minikube/config.json` 😊

[2021-06-04 06:39] afbjorklund commented on #9762
I think the docker images for `arm` (v7) are still missing, but all the pieces (like Ubuntu) should be there for building them. Something to add to minikube next perhaps, after getting the ISO image up on `arm64`

Back when I wrote this it was easier to build the image yourself, so that should still be possible. It mostly installs packages and scripts on top of `ubuntu:20.04` so should not be very

[2021-06-04 07:25] afbjorklund commented on #11578
That is the workaround for now, suggest /etc/hosts (or DNS)

[2021-06-04 10:19] JacekDuszenko commented on #11568
I'll take a stab at this

[2021-06-04 10:19] JacekDuszenko commented on #11568
/assign

[2021-06-04 10:29] dmpe opened #11579 "minikube start --image-repository=xxx does not work with ports in URL"
Hi there,
I have identified an issue whereby I consider this to be a regression, because it was certainly working in some of the past minikube releases (a number of releases back, cannot find this now easily).

With https://github.com/kubernetes/minikube/blob/v1.19.0/cmd/minikube/cmd/start_test.go minikube 1.19 there is now a `TestValidateImageRepository`. This checks for different formatting of t

[2021-06-04 10:31] samwho commented on #11044
They continued on for as long as I had the cluster up, which would have been 15-20 minutes or so I believe.

[2021-06-04 12:34] reuben-tonna-ixaris opened #11580 "minikube tunnel is asking for a password but not sure what password this is?"
I am experimenting with minikube and following https://minikube.sigs.k8s.io/docs/start/ steps to get a sample cluster up and running.

I would like to try out the load balanced deployments, however when in a command prompt started as 'administrator' (or not) I type in minikube tunnel I get the following:

C:\Windows\system32>minikube tunnel
* Starting tunnel for service balanced.
docker@127.0.0.1'

[2021-06-04 13:04] marlon-sousa commented on #11193
Hello,

Can you check #11577 please? It is kind of the same thing but now itt's happening on Linux, after some updates. I will close this one.

[2021-06-04 13:04] #11193 closed

[2021-06-04 14:05] briandealwis opened #11581 "Odd pulsing progress bar"
**Steps to reproduce the issue:**

This is purely cosmetic.

1. minikube start --driver docker --container-runtime containerd
2. watch minikube download kicbase and preloaded-images compete

![minikube-pulsing-progress](https://user-images.githubusercontent.com/202851/120813844-4c03b680-c51c-11eb-975a-553f29c337c8.gif)

[2021-06-04 15:12] marlon-sousa commented on #11577
Interestingly I have found that pods also can not access services (dns does not resolve) in this configuration. It really seems to be some docker issue but I have no idea what it could be.

[2021-06-04 15:22] pushan9 opened #11582 "addon ingress not installing"
**Steps to reproduce the issue:**

1. minikube addons enable ingress
2. not working getting error
3. witing for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-06-04 22:21] andriyDev commented on #11434
Change: PR bot cannot be the one to comment about flake rate. This is because we can't guarantee the order of Jenkins builds and we need to ensure some test data is present.

[2021-06-04 23:48] spowelljr commented on #10628
The above issue will be fixed with #11583

[2021-06-05 06:05] weshouman commented on #11534
Following is a workaround until the issue is fixed

## Manual Network Creation
- Create a `br10.xml` network file as following
[code]
- `sudo virsh net-list`: to check no previous network with the name *br10* existed
- `sudo virsh net-create br10.xml`: to create the network
- `sudo virsh net-list`: to check the *br10* network is created
- `sudo virsh net-start br10`: to start the newly created net

[2021-06-05 10:32] afbjorklund commented on #11581
This is supposed to use two lines, one for the kicbase image and one for the preloaded images.

[2021-06-05 10:36] #11457 closed

[2021-06-05 16:14] mygitmind commented on #10726
@medyagh Experienced same issue. It got resolved with
minikube delete --all --purge
minikube start .

[2021-06-05 18:06] vishjain commented on #11253
/unassign

[2021-06-05 18:51] dmpe commented on #11579
/assign

[2021-06-05 23:23] JacekDuszenko opened #11586 "Add embedding gcflags from environment variable in Makefile"
While hacking around the codebase I noticed there's no way to embed gcflags into binary build command in Makefile: https://github.com/kubernetes/minikube/blob/master/Makefile#L198

I wanted to debug the code via GoLand (https://blog.jetbrains.com/go/2019/02/06/debugging-with-goland-getting-started/) which requires the user to set certain gcflags and I had to hardcode the flags into Makefile and th

[2021-06-06 00:38] notklaatu commented on #10357
Running CentOS on a Pi.

[code]

Got around the `❌  Exiting due to DRV_CP_ENDPOINT: failed to get API Server URL: failed to parse ip for ""` error.

I haven't tested beyond `kubectl get nodes`, to be fair, but specifiying `DOCKER_HOST` at least gets it started.

[2021-06-06 13:03] JacekDuszenko commented on #10451
Hey @vishjain, have you started working on that? If not, I could take a stab

[2021-06-06 13:04] chris-ryu commented on #8997
❯ minikube start
😄  minikube v1.20.0 on Darwin 11.4
    ▪ KUBECONFIG=/Users/chrisryu/.kube/config
🆕  Kubernetes 1.20.2 is now available. If you would like to upgrade, specify: --kubernetes-version=v1.20.2
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...

❗  minikube was unable to download gcr.io/k8s-minikube/

[2021-06-06 15:06] vishjain commented on #10451
@JacekDuszenko I'm working on this. You can find issues that don't have anyone assigned.

[2021-06-07 02:41] dinever commented on #11582
Hi @pushan9, thanks for reporting the issue. Could you share the output of `minikube logs` command?

[2021-06-07 05:12] zhan9san commented on #11577
Hi @marlon-sousa
I am glad to help you figure it out.

In a nutshell, it's a known issue, #11418

## How to fix it temporarily

[code]

Generally, this kind of access issue is related to `kube-proxy`.

Here is my issue finding prodcedure.

## 1. Create a pure environment.

[code]

Create an Arch Linux VM

[code]

## 2. Install and start Minikube and Docker

Login to Arch Linux VM
[code]

[code]

#

[2021-06-07 05:17] zhan9san commented on #11193
It's a known issue, #11418, and it's different from #11193.

I have added comment and workaround in #11577. Please enjoy it.

[2021-06-07 06:40] arjunsreepad opened #11591 "Minikube hangs at "minikube addons enable ingress" steps"
When I run

system hangs and no response

[2021-06-07 08:08] aaryadewa commented on #11550
@ZMing316 Thanks. I've same problem and is solved by running `sudo setenforce 0`.

[2021-06-07 08:21] DrazicTW commented on #3900
I am using minikube on a newly launched EC2 - Ubuntu 18.04, I met the same errors, here's what I did to fix:

0. `sudo minikube start --no-vtx-check` and got original errors.

1. `sudo minikube start --vm-driver=none` and got new errors:

    😄  minikube v1.20.0 on Ubuntu 18.04
    ✨  Using the none driver based on user configuration

    ❌  Exiting due to GUEST_MISSING_CONNTRACK: Sorry, Kubernete

[2021-06-07 10:54] RA489 commented on #11591
/kind support

[2021-06-07 10:55] RA489 commented on #11586
/kind support

[2021-06-07 10:55] RA489 commented on #11582
/kind support

[2021-06-07 10:56] RA489 commented on #11580
/kind support

[2021-06-07 10:56] RA489 commented on #11579
/kind support

[2021-06-07 10:58] RA489 commented on #11552
/kind support

[2021-06-07 10:58] RA489 commented on #11551
/kind support

[2021-06-07 10:59] RA489 commented on #11543
/kind support

[2021-06-07 10:59] RA489 commented on #11542
/kind support

[2021-06-07 11:00] RA489 commented on #11542
@paulopatto could you please provide what error you got?

[2021-06-07 11:00] RA489 commented on #11541
/kind support

[2021-06-07 11:00] RA489 commented on #11540
/kind support

[2021-06-07 11:01] RA489 commented on #11539
/kind support

[2021-06-07 11:01] RA489 commented on #11538
/kind support

[2021-06-07 11:02] RA489 commented on #11534
/kind support

[2021-06-07 13:18] soluchok commented on #11591
I have the same problem, seems like it is related to the latest OS kernel.
 `Linux desktop 5.10.36-2-MANJARO`  - does not work.

[2021-06-07 13:41] JBr0dy commented on #4587
RUN > CMD > bcdedit /set hypervisorlaunchtype off  ,
then reboot the host.

This worked for me as well.

[2021-06-07 17:06] Abdul-Gaffoor commented on #8494
@iamtheindian how did u resolved?

[2021-06-07 17:59] nmarier-coveo opened #11597 "Minikube image load does not seem to load the latest image version"
**Steps to reproduce the issue:**

1. `minikube start`
2. Build the following dockerfile with `docker build -t some-image .` :
[code]
3. Push the image to minikube `minikube image load some-image` (since the image was never pushed, everything is fine up to this point).
4. In a new shell session, use the minikube docker env with `minikube -p minikube docker-env | source`.
5. Look at available image

[2021-06-07 18:48] spowelljr commented on #11597
Hi @nmarier-coveo, thanks for reporting this issue! I believe I fixed this issue in the following PR #11366. This PR is going to be included in the minikube release. This PR is currently included in the beta release if you're interested in testing it out: https://github.com/kubernetes/minikube/releases/tag/v1.21.0-beta.0

If the beta fixes your issue feel free to close the issue, the next GA relea

[2021-06-07 19:03] afbjorklund commented on #11597
I think eventually minikube will work with ID instead, which should make the image experience smoother

[2021-06-07 19:13] nmarier-coveo commented on #11597
Thanks for the quick responses! I tried 1.21.0 and the issue is indeed fixed. Somehow I didn't see #11276 when I looked for my issue, so apologies for the duplicate :smile:

And yeah I think IDs sound promising as well :rocket:

[2021-06-07 19:13] #11597 closed

[2021-06-07 19:32] mauilion commented on #11194
This is also breaking expected functionality like "minikube start --cni=false"

In this configuration I would expect that no cni is configured. What happens instead is that the podman cni is used.

[2021-06-07 19:54] daehyeok commented on #11560
We have list on `config.go`.  but could't find any `minikube config`'s subcommand for print those list.

https://github.com/kubernetes/minikube/blob/3ca20f158c2b0502dafe8fba604380f67234a440/cmd/minikube/cmd/config/config.go#L44-L48

Should we  add `minikube config list` sub-command and add description and docs?
https://minikube.sigs.k8s.io/docs/commands/config/

[2021-06-07 20:01] sparekh-bbg opened #11599 "minikube multi-node cluster: node lost during restart"
Using a multi-node cluster with the Docker driver, when restarting the cluster, `minikube` seems confused about which nodes are in the cluster, as per output of `minikube node list`. Specifically:
- one of the nodes is lost
- one of the remaining nodes appears twice
- `kubectl get nodes` shows the correct nodes

**Steps to reproduce the issue:**

Environment:
MacOS Catalina 10.15.7
Docker Desktop

[2021-06-07 20:01] #11568 closed

[2021-06-07 20:10] sparekh-bbg commented on #11599
An observation that may be relevant: I was running `kubectl get nodes` repeatedly during the long (re)start, and I noticed that when the `minikube start` said it was starting the `bug-m02` node, in the kubectl output it showed up as `bug-m03` for a little while before becoming `bug-m02`. i.e., for some time there were only 2 nodes in the output: `bug` and `bug-m03`. And after a while this became t

[2021-06-07 20:39] spowelljr commented on #11536
As discussed in office hours, @dinever is going to create an example in minikube to show what it would look like.

[2021-06-07 20:40] andriyDev commented on #11434
These are the flake rates of all failed tests on Docker_Linux_crio.
|Failed Tests|Flake Rate|
|---|---|
|TestAddons/parallel/Ingress|100.00 ([chart](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crioTestAddons/parallel/Ingress,100.00test=TestAddons/parallel/Ingress))|
|TestPreload|100.00 ([chart](https://storage.googleapis.com/minikube-flake-rate/flake_chart.

[2021-06-07 20:43] andriyDev commented on #11434
These are the flake rates of all failed tests on Docker_Linux_crio.
|Failed Tests|Flake Rate|
|---|---|
|TestAddons/parallel/Ingress|100.00 ([chart](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio&test=TestAddons/parallel/Ingress))|
|TestPreload|100.00 ([chart](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio&test=T

[2021-06-07 20:53] andriyDev commented on #11434
These are the flake rates of all failed tests on Docker_Linux_crio.
|Failed Tests|Flake Rate (%)|
|---|---|
|TestAddons/parallel/Ingress|100.00 ([chart](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio&test=TestAddons/parallel/Ingress))|
|TestPreload|100.00 ([chart](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio&te

[2021-06-08 03:47] aymg01 opened #11605 "vmware: No arranco"
Hola,

SO: Win 10-20H2
VMware® Workstation 16 Pro: 16.1.2 build-17966106

Utilicé Chocolatey "choco install minikube" para instalar, luego de no arrojar errores, intentó iniciar pero sacaba el error que no se encontraba vmrun. Agregue el path de Windows toda la carpeta de los ejecutables de vmware: "C:\Program Files (x86)\VMware\VMware Workstation" con lo que el error no salió, pero nunca pudo arr

[2021-06-08 05:00] ImDevinC opened #11606 "CoreDNS Failing on new cluster"
**Steps to reproduce the issue:**

1. `minikube start`
2.
[code]
3. `kubectl exec -it dnsutils -- nslookup google.com`

**OS Info**
[code]

[code]
[code]

**Full output of `minikube logs` command:**
<details>

[code]

</details>

**Full output of failed command:**
<details>

[code]

</details>

[2021-06-08 08:07] andrewleung01 opened #11607 "Error occurred when running minikube start on RHEL 7 VM"
minikube start
😄  minikube v1.20.0 on Redhat 7.9
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...

❗  minikube was unable to download gcr.io/k8s-minikube/kicbase:v0.0.22, but successfully downloaded kicbase/stable:v0.0.22 as a fallback image
E0608 07:49:42.612312    7880 cache.go:189] Error downloading kic ar

[2021-06-08 12:54] mansurali901 commented on #2266
i already have hyperkit in my system so i just execute below command to create symlink
`brew link --overwrite hyperkit`

[2021-06-08 14:48] cwilkers opened #11608 "Minikube start brings coredns pod online before CNI initializes, breaking DNS for 2+ nodes"
**Steps to reproduce the issue:**

1. minikube start --cni=flannel --nodes=2
2. kubectl get po -A -o wide
3. Observe IP of coredns-x-y pod
4. Bring up pod on node minikube-m02 and attempt to query any DNS address.

In my case, I am trying to install the kubevirt addon, which creates a pod kubevirt-install-manager in the kube-system namespace, which usually schedules on the second node. This pod at

[2021-06-08 16:28] afbjorklund opened #11609 "The check for memory limits is currently broken for cgroups v1"
Currently it checks "" (empty string), if cgroup2 is false:

[code]

Since 7b0bf57f4c9b87a7b0c9362bdfbb5c0add2094d7

Most likely the code is also wrong for cgroups v2 as well ?

The end result is no memory limits, for the docker driver.

Seems to be the same issue as in #10935

[2021-06-08 16:51] sharmarajdaksh commented on #11555
Hey @sharifelgamal, I can work on this if you could let me know some way to understand the meaning of the error codes. TIA!

[2021-06-08 17:16] dgoldssfo commented on #7879
Any news yet on whether this might be fixed with Windows 11?

[2021-06-08 18:15] jmazzitelli commented on #11539
Upgraded to RHEL 8.4, minikube 1.20 (which pulls in olm 0.17) and I do not see this anymore. Looks like a problem with minikube 1.19 and olm 0.14:

[code]

[2021-06-08 18:15] #11539 closed

[2021-06-08 20:40] spowelljr commented on #10624
Potentially fixed by #11583; waiting for more runs to be sure.

[2021-06-09 00:12] sharifelgamal commented on #11609
Yeah this seems like a simple fix, let's do it ASAP.

[2021-06-09 08:21] r10r commented on #10545
@sharifelgamal  Nope the issue is still present in v1.21.1 and v1.20.7.

Does anyone know which release will contain the fix ?

[2021-06-09 09:57] marcusthelin commented on #6296
I'm on mac and have to use the hyperkit driver for Ingress to work. I solved this VPN issue by adding the `--hyperkit-vpnkit-sock=auto` flag to `minikube start`. This way is uses the VPNKit that ships with Docker for Mac. I found it here: https://minikube.sigs.k8s.io/docs/drivers/hyperkit/#special-features

[2021-06-09 10:51] charleech opened #11612 "Create the custom hosts file, there is no minikube with IP added."
* minikube v1.20.0 on Centos 7.7.1908
  - MINIKUBE_HOME=/opt/minikube.home
* Using the docker driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Pulling base image ...
* Creating docker container (CPUs=16, Memory=8000MB) ...
* Preparing Kubernetes v1.20.2 on Docker 20.10.6 ...
  - opt bip=172.18.0.1/16
  - Generating certificates and keys ...
  - Bootin

[2021-06-09 16:19] andriyDev commented on #11205
Fixed in #11294.

[2021-06-09 16:19] #11205 closed

[2021-06-09 16:20] andriyDev commented on #11242
Fixed in #11294.

[2021-06-09 16:20] #11242 closed

[2021-06-09 16:38] sharifelgamal commented on #10545
The minikube 1.21 beta upgrades its default kubernetes version to 1.20.7 and has no performance issues. The GA 1.21 release should be out soon.

[2021-06-09 16:39] andriyDev commented on #10564
As far as I can tell this is no longer an issue. Thank you @tharun208!

[2021-06-09 16:39] #10564 closed

[2021-06-09 17:02] ishanjain28 commented on #11591
Hey @arjunsreepad Does the system hang or is it the minikube process that appears to be stuck?

[2021-06-09 17:23] #10628 closed

[2021-06-09 18:12] #11308 closed

[2021-06-09 18:24] andriyDev commented on #11530
@Funsho-Agboola I may have misunderstood, it sounds like you found the solution (users do need to be in the docker group to have any permissions). I'm gonna close this issue - if you still have a problem with this though, feel free to reopen!

/kind support

[2021-06-09 18:24] #11530 closed

[2021-06-09 18:25] sharifelgamal commented on #11489
@Sardalbek Can you give us more details on the failure? Thanks!

[2021-06-09 18:27] sharifelgamal commented on #9279
@akhilkumar438 did the above suggestion help?

[2021-06-09 18:31] ilya-zuyev commented on #11352
hey @jeevanm87! any update on this issue?

[2021-06-09 18:34] spowelljr commented on #11441
Hi @alvinsw, thanks for reporting your issue!

This is a duplicate of #10544, in order to keep all discussion of this issue centralized I'm going to close this issue.

Please follow along with #10544 and contribute any findings there, thanks for your understanding!

[2021-06-09 18:39] #11147 closed

[2021-06-09 18:40] spowelljr commented on #11511
Hi @jonathanharr92, thanks for reporting your issue!

This is a duplicate of #10544, in order to keep all discussion of this issue centralized I'm going to close this issue.

Please follow along with #10544 and contribute any findings there, thanks for your understanding!

[2021-06-09 18:40] #11511 closed

[2021-06-09 18:40] spowelljr commented on #11582
Hi @pushan9, thanks for reporting your issue!

This is a duplicate of #10544, in order to keep all discussion of this issue centralized I'm going to close this issue.

Please follow along with #10544 and contribute any findings there, thanks for your understanding!

[2021-06-09 18:40] #11582 closed

[2021-06-09 18:43] spowelljr commented on #11532
Hi @atlonj, thanks for reporting your issue!

This is a duplicate of #10544, in order to keep all discussion of this issue centralized I'm going to close this issue.

Please follow along with #10544 and contribute any findings there, thanks for your understanding!

[2021-06-09 18:43] #11532 closed

[2021-06-09 18:44] sharifelgamal commented on #10349
There are multiple reasons why an entire test suite doesn't run. Timeouts is one of them, but it could be that an entire set of tests is skipped for a particular architecture causing 10 subtests to never get run. Same with a parent tests that fails and never spawns subtests (although we probably want to detect this as well).

[2021-06-09 18:44] sharifelgamal commented on #9259
the gcp-auth addon supports artifact registry now.

[2021-06-09 18:44] #9259 closed

[2021-06-09 18:46] spowelljr commented on #10152
Hi @AndreyIvshin, thanks for reporting your issue!

This is a duplicate of #10544, in order to keep all discussion of this issue centralized I'm going to close this issue.

Please follow along with #10544 and contribute any findings there, thanks for your understanding!

[2021-06-09 18:46] #10152 closed

[2021-06-09 18:54] ilya-zuyev opened #11614 "[flake test] TestStartStop/group/old-k8s-version/serial/Pause - Executing: /lib/systemd/systemd-sysv-install disable kubelet""
[code]

For the full log please see https://storage.googleapis.com/minikube-builds/logs/11610/64a4182/Docker_Linux.html#fail_TestStartStop%2fgroup%2fold-k8s-version%2fserial%2fPause

[2021-06-09 18:55] ilya-zuyev opened #11615 "[flake test] TestStartStop/group/old-k8s-version/serial/Pause - "sudo systemctl disable kubelet" failed"
There is at least one test flaking with error like below. It looks like it's related to `minikube stop` operation and kubelet service status.

[code]

For the full log please see https://storage.googleapis.com/minikube-builds/logs/11610/64a4182/Docker_Linux.html#fail_TestStartStop%2fgroup%2fold-k8s-version%2fserial%2fPause

[2021-06-09 20:00] spowelljr commented on #11591
Hi @arjunsreepad, thanks for reporting your issue!

This is a duplicate of #10544, in order to keep all discussion of this issue centralized I'm going to close this issue.

Please follow along with #10544 and contribute any findings there, thanks for your understanding!

[2021-06-09 20:00] #11591 closed

[2021-06-09 20:02] adamf commented on #10544
+1, i'm also seeing this issue. Will do more debugging.

[2021-06-09 20:30] Funsho-Agboola commented on #11530
I really appreciate you

On Wed, 9 Jun 2021 at 19:24, andriyDev ***@***.***> wrote:

[2021-06-09 20:46] adamf commented on #10544
Output of `-v=5`:

[code]

[2021-06-09 21:23] andriyDev commented on #10544
@adamf Can you do a fresh setup and send the logs?
[code]
I'm having trouble recreating the issue.  Also add any driver settings and make sure to paste them here.

[2021-06-09 21:48] sharifelgamal commented on #11615
`update-rc.d: error: kubelet Default-Start contains no runlevels, aborting.` makes it seems like the kubelet systemd service somehow got into a very bad state

[2021-06-09 21:59] andriyDev commented on #10544
Ok after playing with this some more it seems the error occurs after upgrading from one minikube version to the next. We should probably find a way to resolve this in general, but as a simple workaround, the solution is to just delete the cluster and recreate it with minikube delete. Not ideal, but it'll at least get minikube working again.

[2021-06-09 23:29] bhundven commented on #8997
I get the same thing with podman+minikube:

[minikube-podman-error.txt](https://github.com/kubernetes/minikube/files/6627405/minikube-podman-error.txt)

[2021-06-09 23:32] adamf commented on #10544
yep, `minikube delete` fixed this problem, and I did indeed just upgrade from an older minikube. Thanks!

[2021-06-10 07:45] r10r commented on #10545
Hmm, I'm not using minikube but a use a custom setup - then i'll double check it.

[2021-06-10 14:47] smtrock opened #11620 "Network \ Startup issues on new installation"
**Steps to reproduce the issue:**

1. Run the following commands
[code]

Here is the helloworld.yaml file for reference
[code]

2.  Page fails to load, so I check network configuration and modify the Hyper-v connection from internal to external
3.  Restart minikube vm

**Full output of `minikube logs` command:**
<details>

==> Audit <==
|---------|----------------------------------|----------|----

[2021-06-10 16:03] commarmi76 opened #11621 "CRIO runtime & registry addon"
minikube version: v1.20.0

**Steps to reproduce the issue:**

1. Start minikube using crio as a container runtime and registry addon

 minikube start --driver=kvm2 --cpus=8 --memory=8192m --container-runtime=crio --insecure-registry "192.168.39.0/24" --addons registry

2. Push image using minikube ip:

podman push --tls-verify=false $(minikube ip):5000/test-img

3. Access the shell via minikube ss

[2021-06-10 17:39] ilya-zuyev opened #11622 "Fix "Failed to stop docker.service: Unit docker.service not loaded" log error on start with kvm2 driver and containerd/crio runtimes"
when minikube is starting we try to disable non-active runtimes , but for kvm2/containerd combination it leads to a log error
`E0610 10:36:19.140582   12060 docker.go:159] "Failed to stop" err="sudo systemctl stop -f docker.service: Process exited with status 5\nstdout:\n\nstderr:\nFailed to stop docker.service: Unit docker.service not loaded.\n" service="docker.service"
`
[code]

[2021-06-10 18:06] spowelljr commented on #10624
Cause is:
[code]

[2021-06-10 19:32] #7438 closed

[2021-06-10 20:54] medyagh opened #11627 "improve exit message when trying to pull Non-Existing Kubernetes Version"
I made a mistake and put in the wrong k8s version, we should have a more beautiful looking error, and ideally do not even try to create container when a non-existing k8s version is specified
[code]

[2021-06-10 21:25] andriyDev opened #11628 "Pausing apiserver and then running minikube status reports stopped apiserver"
**Steps to reproduce the issue:**

1. minikube start
2. minikube pause
3. minikube status

MInikube then hangs.

[2021-06-10 21:35] JacekDuszenko commented on #11627
I'd like to try and implement this /assign @JacekDuszenko

[2021-06-10 21:36] JacekDuszenko commented on #11627
/assign

[2021-06-10 22:49] eshkinkot opened #11630 "Minikube fail to start with KVM2 on Slackware with "PR_KVM_USER_PERMISSION: libvirt group membership check failed""
**Steps to reproduce the issue:**

1. minikube start --driver=kvm2
2.
3.

By default libvirt build with `users` group in Slackware (see https://slackbuilds.org/repository/14.2/libraries/libvirt/), also see #10712

**Full output of `minikube logs` command:**
<details>
*
* ==> Audit <==
* |---------|--------|----------|--------|---------|-------------------------------|------------------------------

[2021-06-10 23:10] eshkinkot commented on #11630
Possible workaround:
* create dummy group with prefix "libvirt"
* add self to it
* relogin

Something like that:
[code]

[2021-06-11 00:57] JacekDuszenko commented on #11627
Hey @medyagh, I've just raised a PR with a fix #11631. Please, take a look.

[2021-06-11 01:00] JacekDuszenko commented on #11627
/assign @medyagh

[2021-06-11 07:20] ChinaStan opened #11633 "无法启动"
minikube version
minikube version: v1.15.1
commit: 23f40a012abb52eff365ff99a709501a61ac5876
 Stan  ~/home/k8s  minikube start
😄  minikube v1.15.1 on Darwin 11.2.3
✨  Using the vmwarefusion driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🎉  minikube 1.20.0 is available! Download it: https://github.com/kubernetes/minikube/releases/tag/v1.20.0
💡  To disa

[2021-06-11 08:26] Patrick0308 opened #11634 "Can it deploy multi clusters in local"
We want to deploy multi clusters in some case, such as multi-cluster istio.
Can we do it by minikube now?

[2021-06-11 08:58] tomekit commented on #5301
Still on roadmap?

[2021-06-11 09:02] afbjorklund commented on #11630
There is no support in minikube for making _all_ users root-equivalent like that, it is expected that "libvirt" or "docker" is used.

But most likely there should be a "force" flag for this check, since some systems have other solutions (e.g. PolKit) than groups.

[2021-06-11 09:13] Patrick0308 commented on #11634
Using `minikube start -p "cluster-name"` support deploying multi cluster.

[2021-06-11 09:13] #11634 closed

[2021-06-11 14:34] brucelightyear commented on #5301
I give up on this the bot close it...

[2021-06-11 14:56] adamjablonowski opened #11635 "Pod does not see files in persistent volume claim, when following official Kubernetes tutorial."
**Steps to reproduce the issue:**

1. Install minikube on linux desktop
2. Copy all comands from https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/ in terminal
3. kubectl exec -it task-pv-pod -- /bin/bash
4. ls /usr/share/nginx/html
5. See the folder is empty

I have installed minikube in linux system. I can not setup a persistent volume claim, so a pod u

[2021-06-11 16:16] rvarner commented on #11320
I am also seeing this behavior. Setting --apiserver-ip and --apiserver-port does not get reflected in my kubeconfig, nor is the control plane accessible from outside localhost. My use-case is to have a CI/CD (jenkins) pipeline dynamically launch agents in the cluster. Jenkins is deployed externally to minikube.

[2021-06-11 16:50] owenthereal commented on #9991
Hello, I'm curious that while we are waiting for this feature to be ready, is there anything you could share we do in the meantime, e.g. commands to run to take a snapshot of the running cluster, export it, and run the snapshot at another place.

[2021-06-12 12:25] mathieuruellan commented on #11456
Here is  #my log, hope it can help to figure out what's going wrong

[minikube_logs_f1b3b67a9c7d37e42dc4dad238e1c3ded160efda_0.log](https://github.com/kubernetes/minikube/files/6642157/minikube_logs_f1b3b67a9c7d37e42dc4dad238e1c3ded160efda_0.log)

[2021-06-12 12:28] mathieuruellan commented on #11456
Here are the log. Hope it can help to figure out what's going wrong!

[minikube_logs_f1b3b67a9c7d37e42dc4dad238e1c3ded160efda_0.log](https://github.com/kubernetes/minikube/files/6642166/minikube_logs_f1b3b67a9c7d37e42dc4dad238e1c3ded160efda_0.log)

[2021-06-12 17:58] mubarak-bunza commented on #11397
@medyagh I followed same instructions but still fails.

[2021-06-12 23:47] bzvestey opened #11644 "Minikube uses internal network domain name DNS information for setting name server IP."
When the computer is on a network that has its internal domain name set to a domain that will resolve to an external IP, then minikube will try to use that external IP address for DNS resolution.  Note that the network this was tested on does not have any special rules to make that domain name resolve differently internally.  The busybox image running in minikubes kubernetes seems fine, and runnin

[2021-06-13 16:27] afbjorklund commented on #11635
Sorry, cannot reproduce this. Did you forget to use `minikube ssh` ?

[code]

(do the rest of the commands, not shown here)

[code]

[2021-06-13 16:33] afbjorklund commented on #11622
Docker was normally _always_ started, due to using Docker Machine.

[2021-06-13 16:35] afbjorklund commented on #11621
I think the images were usually accessed through the localhost:5000 proxy (hack), to avoid having to configure runtime

[2021-06-13 16:36] afbjorklund commented on #11612
Same bug as #11220

[2021-06-13 18:43] afbjorklund commented on #11627
I think I just added some assertions to the backend, to avoid trying to run with strange numbers. So it needs to start with 1.
Whenever Kubernetes 2.0 comes out, this would have to be revisited. But it should allow a couple of future releases yet ?

[code]

[2021-06-13 18:44] commarmi76 commented on #11621
I'm not able to make this solution (registry proxy) to work, maybe you could write some instructions to help me.

[2021-06-13 18:49] afbjorklund commented on #11621
Like this: `kubectl run test1 --image=localhost:5000/test-img`

I think most of the documentation was removed when it was deprecated, but maybe the registry has some docs somewhere...

https://minikube.sigs.k8s.io/docs/handbook/addons/

https://minikube.sigs.k8s.io/docs/handbook/registry/

[2021-06-13 18:59] commarmi76 commented on #11621
It's not working for me, I've got : _"ErrImagePull: "rpc error: code = Unknown desc = error pinging docker registry localhost:5000: Get http://localhost:5000/v2/: dial tcp 127.0.0.1:5000: i/o timeout"_

PD: I forgot to mention I'm using podman

[2021-06-13 19:26] afbjorklund commented on #11621
This looks OK: `podman push --tls-verify=false $(minikube ip):5000/test-img`

[2021-06-13 19:40] afbjorklund commented on #11627
The error message for old releases is slightly more friendly:

[code]

The situation is not so good when trying a far future release:

[code]

[2021-06-13 19:48] afbjorklund commented on #11627
Might have to add a **new** constant for this, the newest version that is supported with some similar version skew ?

        DefaultKubernetesVersion = "v1.20.7"
        NewestKubernetesVersion = "v1.22.0-alpha.2"
        OldestKubernetesVersion = "v1.14.0"

If assuming the same 6 versions (v1.20.x -> v1.14.0), then it would be a warning with anything above v1.26.0 ?

But I just hardcoded >= v2.0

[2021-06-13 20:04] afbjorklund commented on #11456
It seems that for some reason, it is trying to execute the systemd unit rather than writing it...

[code]

There is a bogus extra line in the output, and it is messing up the quoting for the `printf`:

[code]

[2021-06-13 20:06] sm4sh1k opened #11645 "Minikube tunnel is not working on Windows (endessly trying to add a route)"
Minikube tunnel is not working on Windows because of minikube can not recognize the correct answer (or status code) of the **route** command.

**Steps to reproduce the issue:**

1. minikube start --driver vmware
2. minikube tunnel --cleanup --alsologtostderr

**Full output of failed command:**
[code]

The first time the route is successfully created, command **route ADD 10.96.0.0 MASK 255.240.0.0

[2021-06-13 20:08] afbjorklund commented on #11456
So updateUnit in provision could use some more escaping, but there is also a bug in the content from the ubuntu provisioner.

[2021-06-13 20:20] JacekDuszenko commented on #11627
Thank you for your input @afbjorklund . As I've already implemented what @medyagh suggested (fetching and parsing available versions), let's see what he thinks and we'll go from there. Also, feel free to look at my updated PR if you want. Thanks!

[2021-06-13 20:25] afbjorklund commented on #11456
Setting the proxy environment variables to bogus values will reproduce this:

[code]

That is, if there is an extra quote in the variable it will destroy the setup later on.

So there needs to be some validation of input, and also escaping of the content...

[2021-06-13 20:32] afbjorklund commented on #11607
Looks like some kind of proxy/network issue, since Docker is not able to download the images.

[2021-06-13 20:36] afbjorklund commented on #11543
We should bump the required version for the Docker driver to 19.03, and leave the old versions _only_ for the container runtime...

We don't want to spend all resources "supporting" old deprecated versions of Docker and Podman, when even upstream doesn't.

[2021-06-13 20:45] afbjorklund commented on #11543
@dinever : we already have `var minDockerVersion = []int{18, 9, 0}` since 4500be129ffe7a4e75761c58d09815c5fae368e9

It should exit with an error, at least require some kind of force flag to run. Recommend 20.10.

[2021-06-13 23:16] garyburgmann commented on #9982
for anyone else that lands here, I resolved this for myself on Fedora 34 this morning. using kvm2 driver was key as I believe there are btrfs support issues:

[code]

I tested this with both the binary and rpm installation methods

[2021-06-14 06:04] ImDevinC commented on #11606
Is there any other information I can provide here, unfortunately still stuck in this situation

[2021-06-14 06:14] afbjorklund commented on #11627
Hardcoding future versions was not great idea anyway. In theory, minikube should continue to work also with those ?

[2021-06-14 06:27] afbjorklund commented on #11627
PR improves the failure scenario:
❌  Exiting due to K8S_VERSION_NOT_FOUND: Specified Kubernetes version 1.25.0 was not found in Kubernetes releases

Just need to make it possible to run offline too, where needed.
❌  Exiting due to K8S_RELEASE_FETCH_FAILED: Failed fetching available Kubernetes releases from GitHub repository. Check your internet connection

[2021-06-14 09:52] javsalgar commented on #4206
Same issue in Big Sur. I tried disconnecting from VPNs, tried the steps from @hughpearse but no luck

[2021-06-14 11:49] adamjablonowski commented on #11635
Thanks. Previously I have created /mnt/data on the host. I can move my files to persistent volume claim using `kubectl cp <PATH> task-pv-pod:/usr/share/nginx/html`.

[2021-06-14 11:50] jeffmaury commented on #6024
There'a a workaround for those who want to keep the cluster data.
Once the minikube vm refuse to start, ssh into it and go to /var/lib/minikube/certs. I deleted the certificates that were reported as expired (don't have the list as I processed them incrementally, maybe deleting the certs folder may work) as they will be re created

[2021-06-14 11:51] jeffmaury commented on #10122
There'a a workaround for those who want to keep the cluster data.
Once the minikube vm refuse to start, ssh into it and go to /var/lib/minikube/certs. I deleted the certificates that were reported as expired (don't have the list as I processed them incrementally, maybe deleting the certs folder may work) as they will be re created

[2021-06-14 12:31] zbalogh commented on #9322
Hi,

It seems it is working with the minikube v1.21.0

* minikube v1.21.0 on Centos 8.2.2004
* Using the none driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Running on localhost (CPUs=2, Memory=3778MB, Disk=51175MB) ...
* OS release is CentOS Linux 8 (Core)
* Preparing Kubernetes v1.20.7 on Docker 19.03.14 ...
  - kubelet.resolv-conf=/run/systemd/re

[2021-06-14 13:10] srinathLN7 commented on #10544
@andriyDev Thank you. `minikube delete` and restart along with the `addons` flag worked for me.

[2021-06-14 16:03] afbjorklund commented on #11635
So that sounds like you put the files on your laptop (where you run kubectl) instead of on the minikube node (where kubelet runs).

The use of the term "host" can be misleading, since it is relative (similar to localhost). But I thought the documentation was OK:

[2021-06-14 16:05] #11427 closed

[2021-06-14 16:25] Nasrin-Shiraly opened #11649 "change registery_mirror to registery-mirror"
in this line:

 `registryMirror = viper.GetStringSlice("registry_mirror")`

the flag string should be `registry-mirror`

https://github.com/kubernetes/minikube/blob/d76259e86f4845bd01fe3e81e65214b9e231ecdb/cmd/minikube/cmd/start.go#L165

It is initially defined as
`startCmd.Flags().StringSliceVar(&registryMirror, "registry-mirror", nil, "Registry mirrors to pass to the Docker daemon")`

https://gi

[2021-06-14 16:29] afbjorklund commented on #11194
Kubernetes doesn't have any feature to choose CNI, installing the Podman (or the cri-o or the containerd) package will break it...

This "alphabetical" configuration means that **no** other system components are able to use CNI, without changing config directory.

[2021-06-14 16:32] Nasrin-Shiraly commented on #11649
If approved, I can do it.
/assign

[2021-06-14 17:11] sharifelgamal commented on #8348
@govargo would you be interested in looking at this?

[2021-06-14 17:13] #10334 closed

[2021-06-14 17:16] sharifelgamal commented on #9989
@azhao155 are you interested in looking at this?

[2021-06-14 17:21] sharifelgamal commented on #10243
We now display a user-friendly error message if they run an amd64 binary on arm64, we're working on supporting running it.

[2021-06-14 17:27] sharifelgamal commented on #11207
@dinever still working on this?

[2021-06-14 17:31] sharifelgamal opened #11650 "timeToK8s: Give minikube the same amount of memory as kind and k3d"
By default, kind and k3d do not have a set limit on the amount of memory they use. minikube by default decides how much memory to allocate, this difference in available memory puts minikube at a disadvantage. Give minikube unlimited or a large amount of memory during the time-to-k8s benchmark to make the results more comparable.

[2021-06-14 17:32] sharifelgamal commented on #11609
@daehyeok could you look at this?

[2021-06-14 17:34] sharifelgamal commented on #9946
@afbjorklund would you have time to work on this?

[2021-06-14 17:36] sharifelgamal commented on #10330
This is done on minikube's side, just waiting on skaffold to implement.

[2021-06-14 17:36] #10330 closed

[2021-06-14 17:36] sharifelgamal commented on #10573
This is done!

[2021-06-14 17:36] #10573 closed

[2021-06-14 17:38] sharifelgamal commented on #10595
@daehyeok are you still interested in this? I would be in favor of adding a new parameter to minikube start, perhaps as illustrated by @r4j4h

[2021-06-14 17:42] sharifelgamal commented on #11270
This is fixed.

[2021-06-14 17:42] #11270 closed

[2021-06-14 17:46] sharifelgamal commented on #11563
Yeah, we should absolutely fix this. It will need a fix in https://github.com/googlecontainertools/gcp-auth-webhook

[2021-06-14 17:47] sharifelgamal commented on #11560
@daehyeok Sure, makes sense.

[2021-06-14 17:49] ilya-zuyev commented on #11116
The idea was share ` /var/lib/docker/image` between host and kicbase docker daemons, and avoid copying of images between daemons. It didn't work. We could build an image on host and it was visible for kicbase daemon, but it would require a restart of kicbase docker daemon. It looks like docker uses memory caches intensively and there is no way to sync caches with disk

[2021-06-14 17:49] #11116 closed

[2021-06-14 17:57] ilya-zuyev commented on #11116
From equinix support:
[code]

[2021-06-14 17:58] ilya-zuyev commented on #11270
From equinix support:
[code]

[2021-06-14 18:00] sharifelgamal commented on #11347
related: #11322

[2021-06-14 18:00] afbjorklund commented on #9946
I will make an effort. The idea is to write a script, that will remove "unnecessary" blobs and snapshots, from containerd.

Then the preload generation can run this script, to minimize the size of the storage before compressing it to a tarball.

[2021-06-14 18:03] sharifelgamal commented on #11249
@andriyDev any interest in working on this?

[2021-06-14 18:08] sharifelgamal commented on #11220
This should be as simple as skipping setting the hostname for the none or ssh drivers. Help wanted!

[2021-06-14 18:09] medyagh commented on #11644
@bzvestey do u have this problem only on arch linux ?

[2021-06-14 18:19] sharifelgamal commented on #11192
Ideally, we could add a `--all` flag for when we want to build an image on all nodes instead of just the control plane

[2021-06-14 18:32] sharifelgamal commented on #6296
We should add an integration test that tests minikube behind a VPN.

[2021-06-14 18:40] spowelljr opened #11651 "time-to-k8s: Automate running benchmark and creating PR on release"
Create a GitHub Action workflow that will run the time-to-k8s benchmark after a release and create a PR that will add the benchmark results to the site.

[2021-06-14 18:41] spowelljr commented on #11651
In-progress

[2021-06-14 18:44] sharifelgamal commented on #11422
github packages are abandoned and hidden

[2021-06-14 18:44] #11422 closed

[2021-06-14 18:47] sharifelgamal commented on #11411
We added a feature to failover to trying to pull without the sha, which solves some of these issues.

[2021-06-14 18:47] #11411 closed

[2021-06-14 18:59] sharifelgamal commented on #11069
We could look into downgrading to v1 to see what happens.

[2021-06-14 18:59] sharifelgamal commented on #11069
cc @alonyb

[2021-06-14 19:03] sharifelgamal commented on #11032
this should be as simple as changing the appropriate yaml files

[2021-06-14 19:05] sharifelgamal commented on #10908
@tharun208 are you still interested in working on this? if so, reassign yourself.

Help wanted!

[2021-06-14 19:42] afbjorklund opened #11652 "Upgrade software versions on the minikube ISO"
Tracker for some separate issues, regarding ISO:

- [x] Upgrade Buildroot, from 2020.02 to 2021.02
    - ~2020.02.12~ (EOL)
    - 2021.02.4 (LTS)
- [ ] Upgrade Docker and other container runtimes
    - runc v1.0.1 ✓
    - containerd v1.4.9 ✓
    - docker 20.10.8 ✓
    - buildkit 0.9.0 ✓
    - ~~(crun 0.20.1) _(alternative to runc)_~~
    - ~~cri-o 1.20.3~~
    - ~~podman 3.1.2~~
    - ~~(buildah 1

[2021-06-14 19:44] afbjorklund commented on #11056
Added the userspace upgrade as part of #11652, we don't expect it to break much

[2021-06-14 19:46] afbjorklund commented on #11652
We still don't fully now what the long term plan will be: #9992

[2021-06-14 20:21] afbjorklund commented on #9946
Adding `file` command (and `magic.mgc`) should make it simple to know which is which, of the blobs:

[code]

[2021-06-14 20:32] #11635 closed

[2021-06-14 20:34] afbjorklund commented on #11056
Supposedly next LTS will be something like 5.16, and end up in Ubuntu 22.04 LTS etc.

[2021-06-14 22:31] bzvestey commented on #11644
For the information above I was specifically using Manjaro (downstream of Arch), in case that helps.  I have tested three other configurations today and this is the results:

* Windows 10/WLS 2 (Kali Linux): Unable to reproduce
* MacOS Big Sur: Unable to reproduce
* Ubuntu 18.04 headless server: Reproduce issue, logs and command output below for this box below.

Minikube logs
<details>
*
* ==> Aud

[2021-06-15 05:15] ImDevinC commented on #11606
I was able to resolve this. I had to fully uninstall Minikube and re-install it, then everything started working.

[2021-06-15 05:15] #11606 closed

[2021-06-15 06:22] rajdevworks commented on #9362
@medyagh Would adding a section "External package management" under docs/contrib with instructions on how to install chocolatey package be sufficient for this issue? If so, I would like to work on it.

[2021-06-15 07:09] rajdevworks opened #11655 "Go command not found while running "make site" on Ubuntu 20.10"
**Steps to reproduce the issue:**

While following a test procedure under this [minikube documentation link](https://minikube.sigs.k8s.io/docs/contrib/documentation/), running "make site" fails.

1. git clone https://github.com/kubernetes/minikube.git
2. cd minikube
3. make site

Error message seen on the shell

[code]

Go is installed and at version 1.16.4
[code]

**Full output of failed command:

[2021-06-15 07:11] afbjorklund commented on #11655
Possibly that `go1.16` can be removed now, when it is required.

But make uses /bin/sh, maybe you only added it to bash PATH ?

[2021-06-15 09:09] annopohjala commented on #9130
/reopen

[2021-06-15 09:20] annopohjala commented on #11573
I am experiencing the same issue.

C:\Users\Administrator>minikube start
* minikube v1.21.0 on Microsoft Windows Server 2019 Standard 10.0.17763 Build 17763
* Automatically selected the hyperv driver. Other choices: virtualbox, ssh
* Starting control plane node minikube in cluster minikube
* Creating hyperv VM (CPUs=2, Memory=3900MB, Disk=20000MB) .../ E0615 11:53:46.396030    8472 main.go:124] li

[2021-06-15 12:19] dinever commented on #11207
Hi @sharifelgamal, yes I'm still working on it. Had some proof of concept working at local, will open an initial PR for review this week. Thanks!

[2021-06-15 13:50] psedwards99 opened #11657 "vmware driver install instructions for Mac"
These instructions for installation on a Mac are wrong.

r=https://api.github.com/repos/machine-drivers/docker-machine-driver-vmware
curl -LO $(curl -s $r/releases/latest | grep -o 'http.*darwin_amd64' | head -n1) \
 && install docker-machine-driver-vmware_darwin_amd64 \
  /usr/local/bin/docker-machine-driver-vmware

You need an uppercase 'D' (for darwin) in 'http.*darwin_amd64' and also 'docker-m

[2021-06-15 14:03] vmorris commented on #10794
Hello - on Fedora 33 s390x, and I'm getting a similar failure trying to start.. any help?

[code]

Grasping around, I've tried adding my user `fedora` to the `libvirt` `kvm` and `qemu` groups to no avail...

[2021-06-15 14:10] vmorris commented on #11551
Same problem here on Fedora 33:

[code]

[2021-06-15 14:37] rajdevworks commented on #11655
It fails without sudo too.
[code]

[2021-06-15 14:48] vmorris opened #11658 "minikube start fails with podman or kvm2 drivers on s390x"
minikube claims to run on s390x, but I have not had success yet. I am on Fedora 33 here, so perhaps another disto would would better, but I've seen Ubuntu fail similarly using the kvm2 driver.

**Steps to reproduce the issue:**

1. minikube config set driver podman && minikube delete
2. minikube start

*or*

1. minikube config set driver kvm2 && minikube delete
2. minikube start

**Full output of

[2021-06-15 15:18] afbjorklund commented on #11658
Only the "none" driver, as for now. I suppose the remote "ssh" driver could work as well.

Currently we are adding support for arm64 as the second architecture (beyond amd64).
The docker driver should support both, and next up is making the iso available for both.

But there is no ETA on other kubernetes architectures, whether arm(32) or s390x/ppc64le.

[2021-06-15 15:23] afbjorklund commented on #11658
I think I might have messed up the warnings, when I refactored SupportedDrivers

[2021-06-15 15:49] afbjorklund commented on #11655
I think the `go1.16` wrapper ends up in ~/go/bin, so make sure that GOBIN is in PATH too.

[2021-06-15 15:52] vmorris commented on #11658
I may be able to help with this..

[2021-06-15 15:59] afbjorklund commented on #11658
KIC (container)
You could start with `sudo podman run -it ubuntu:focal-20210401`, the basis for the kicbase image...
Apparently the instructions on how to build it (from the Dockerfile) are all broken at the moment, though.

ISO (hypervisor)
It seems "unlikely" that we will do a Buildroot distribution for IBM, but maybe with an Ubuntu ISO (#9992) ?
If you get a VM running (Ubuntu 20.04), then usin

[2021-06-15 16:12] andriyDev commented on #11249
I will get around to this.

/assign andriyDev

[2021-06-15 16:21] andriyDev commented on #11628
This seems to be due to my Linux not putting cgroup freezer files in the expected directory. While #11629 will fix the hang itself, it doesn't fix the underlying trouble of not checking the correct place for freezer files. I'll need to look into this more to see where my freezer files go. The main issue this produces at the moment is that `minikube status` reports the API server is `Stopped` when

[2021-06-15 16:36] govargo commented on #8348
It may take some times because I'm not good at this point.
But I'll try to look this from tomorrow.

[2021-06-15 16:51] #11434 closed

[2021-06-15 19:07] afbjorklund opened #11661 "Failing to disable docker service, when running containerd on ISO"
The systemd unit docker.service is created by minikube, but not when running containerd as the runtime.

So ironically we fail to stop docker.service, and therefore also fail to disable docker.socket (since bec9f23e29680caec7a79892a05e5406e6088ec9)

We should probably continue with the disable and the mask, even if the force-stop failed (for some reason) ?

`"Failed to stop" err="sudo systemctl st

[2021-06-15 19:10] afbjorklund commented on #11661
This is only some ugly output, the docker.socket is still stopped - even if not disabled, for next time.

[code]

But it **cannot** start accidentally, since the docker.service unit has been removed.

[code]

[2021-06-15 19:14] afbjorklund commented on #11661
The unit has been gone for a _long_ time: 56e250e9796bb1600ae867a47eb60bdcc44e32ad

It was re-introduced in KIC, using standard Docker.

[2021-06-15 20:03] ilya-zuyev commented on #11615
https://github.com/systemd/systemd/blob/8156422c8f0d94d3444043282f01551084271b22/src/systemctl/systemctl-sysv-compat.c#L183

somehow systemd thinks kubelet has a sysV part and tries to use it to stop the unit. Setting `SYSTEMCTL_SKIP_SYSV` env for `systemctl stop` should help

[2021-06-15 20:24] sharifelgamal commented on #11555
@sharmarajdaksh, my plan was to go through the code and for each error string and figure out where in the code it was called, then describe to type of error.

So for example, MK_INTERRUPTED is only used with `reason.Interrupted` (as seen in https://github.com/kubernetes/minikube/blob/master/pkg/minikube/reason/reason.go#L67), which is only used in https://github.com/kubernetes/minikube/blob/master

[2021-06-15 20:37] spowelljr commented on #10692
In-progress

[2021-06-15 20:39] TimothyLoyer commented on #8756
Does anyone know _why_ the URL is wrong or causing issues, and when it will be fixed? Having the ingress-controller break every time I (or someone on my team) restarts Minikube is becoming quite a problem.

[2021-06-15 21:23] andriyDev opened #11664 "Use goembed instead of go-bindata for embedding addon files."
goembed is being used now in gopogh due to https://github.com/medyagh/gopogh/pull/30. There it was replacing rice, but goembed would likely also improve our current setup, since assets.go is kind of a mess.

[2021-06-15 21:34] spowelljr commented on #11661
@afbjorklund I believe this is a duplicate of #11622

[2021-06-15 21:42] spowelljr commented on #11620
Hi @smtrock, thanks for reporting your issue!

As initial debugging steps, have you tried the advice of the output?
[code]

Based on the logs, you're restarting an existing minikube instance (`Using the hyperv driver based on existing profile`). Starting with a fresh cluster may resolve your issue, if not, let us know and we can debug further, thanks!

[2021-06-15 21:51] spowelljr commented on #11581
Closing this issue in favor of #11069 due to good discussion of the problem on the other one.

Please follow along there @briandealwis, thanks!

[2021-06-15 21:51] #11581 closed

[2021-06-15 22:31] andriyDev commented on #11664
/assign andriyDev

[2021-06-15 23:08] #10670 closed

[2021-06-15 23:23] spowelljr commented on #11657
I have verified that the instructions on the website do not work, thanks for reporting the issue!

[2021-06-15 23:27] spowelljr commented on #11633
Hi @ChinaStan, thank you for reporting your issue with minikube!

As a first recommendation, please update minikube to v1.21.0 to get all our latest fixes and features.

After updating minikube, run `minikube delete --all` to clear out existing instances, then try `minikube start` again.

Try those steps and let me know if you issue it resolved, thanks!

-----

嗨 @ChinaStan，感谢您报告关于 minikube 的问题！

[2021-06-15 23:29] spowelljr commented on #11649
@Nasrin-Shiraly You can definitely work on this issue, thank you for contributing to minikube!

[2021-06-15 23:46] sharifelgamal commented on #11664
I am very in favor of this

[2021-06-16 02:02] azhao155 commented on #9989
/assign @azhao155

[2021-06-16 04:36] alexio777 commented on #11644
I have the same issue:

Ubuntu 20.04.2 LTS
Fresh install of minikube version: v1.21.0
commit: 76d74191d82c47883dc7e1319ef7cebd3e00ee11

kubectl run busybox --image=busybox --rm -ti --restart=Never --command -- ping -c 3 google.com

<details><summary>Details</summary>
<p>
64 bytes from 142.250.181.46: seq=1 ttl=113 time=5.371 ms
64 bytes from 142.250.181.46: seq=2 ttl=113 time=5.089 ms

--- google.

[2021-06-16 06:05] afbjorklund commented on #11661
Right, we can continue there instead. Found why, at least.

[2021-06-16 06:05] #11661 closed

[2021-06-16 07:17] charleech opened #11669 "Follow the Using Multi-Node Clusters is not able to access the worker node."
* `minikube version `
[code]

* `minikube start --nodes 2 --docker-opt bip=172.18.0.1/16`
[code]

I follow the example from https://minikube.sigs.k8s.io/docs/tutorials/multi_node/ by creating the `hello-svc.yaml` and `hello-deployment.yaml` as the following: -

[code]

[code]

**Steps to reproduce the issue:**

1. `minikube delete --all --purge`
2.  `minikube start --nodes 2 --docker-opt bip=172.1

[2021-06-16 07:21] charleech commented on #11669
**Full output of `minikube logs` command:**
<details>

*
* ==> Audit <==

|---------|--------------------------------|----------|-------|---------|-------------------------------|-------------------------------|
| Command |              Args              | Profile  | User  | Version |          Start Time           |           End Time            |
|---------|--------------------------------|------

[2021-06-16 07:30] charleech commented on #11669
`docker network inspect minikube`

[code]

*  `ping 192.168.49.2`
[code]

* `ping 192.168.49.3`
[code]

[2021-06-16 07:48] chinaLinLei opened #11670 "waiting for app.kubernetes.io/name=ingress-nginx pods: timed out"
when i use command : minikube addons enable ingress

the error below:
  ▪ Using image docker.io/jettech/kube-webhook-certgen:v1.5.1
    ▪ Using image docker.io/jettech/kube-webhook-certgen:v1.5.1
    ▪ Using image k8s.gcr.io/ingress-nginx/controller:v0.44.0
🔎  Verifying ingress addon...

❌  Exiting due to MK_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-ngin

[2021-06-16 08:00] #11670 closed

[2021-06-16 08:10] emcrisostomo commented on #10357
I can reproduce this on macOS big sur. Docker is running on a virtual machine (VMWare Fusion), and the solution is the same, as mentioned by @EmadMokhtar: if I specify the IP address instead of the host name in the `DOCKER_HOST` variable, then it works.

[2021-06-16 08:28] itendtolosealot commented on #11456
Hi,
Are there some work-arounds that I can use to get around?
In my environment, I am not modifying any ENV variables. It is the act of using a different repo for minikube images (not the Internet) that is causing the issue. If I deploy it with the Internet images, then everything works as expected.

The images are the same in both the Internet and local repo. I checked even the hashes and they ma

[2021-06-16 08:56] afbjorklund commented on #11456
Can you share your proxy configuration ?

Specifically the NO_PROXY, but also http_proxy/https_proxy. (escape details like internal server names, if necessary)

[2021-06-16 09:01] mathieuruellan commented on #11456
Hello @afbjorklund.

In my case i havn't proxy configuration.
`export|grep -iF "proxy"` or `envgrep -iF "proxy"` return nothing

[2021-06-16 09:05] afbjorklund commented on #11456
Need the logs from the first (initial) start, otherwise it just says "trying to start running container" or somesuch.

[2021-06-16 09:14] mathieuruellan commented on #11456
here is the log after a start form scratch (I have removed .minikube and .kube directories)

[lastStart.txt](https://github.com/kubernetes/minikube/files/6661774/lastStart.txt)

Feel free to ask more details

[2021-06-16 09:18] afbjorklund commented on #11456
Seems like this start was successful, and there are no environment variables at all it seems ?

[code]

Hopefully minikube will soon stop this nonsense of _replacing_ the docker systemd config.

It's much better when just adding the few settings that are actually modified (like with cri-o)

[2021-06-16 09:27] afbjorklund commented on #11456
Other places (containerd) do base64 encoding of the content, which is probably a better way to go.

[code]

[code]

[2021-06-16 09:29] mathieuruellan commented on #11456
I wouldn't say that the start is sucessful
[minikube.log](https://github.com/kubernetes/minikube/files/6661857/minikube.log)

(I'm just a user, I can't do more that doing my best to provide my context or traces).

[2021-06-16 09:31] afbjorklund commented on #11456
Maybe I should have said "printf successful" :-)

[2021-06-16 09:43] cjheppell commented on #10501
/remove-lifecycle stale

[2021-06-16 17:51] TimothyLoyer commented on #8756
I did some searching and found this- looks like the registry used for the IngressController does not support using a tag and image digest in the same URL the way that docker.io does. https://github.com/google/go-containerregistry/issues/351

[2021-06-16 20:04] #11651 closed

[2021-06-16 20:04] spowelljr commented on #11650
In-progress

[2021-06-16 23:22] mustafabaydar opened #11676 "addons"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-06-16 23:22] #11676 closed

[2021-06-17 06:32] shuish0071 commented on #1229
Thanks, it was proxy problem!
I try an hour to solve it.

[2021-06-17 15:38] rajdevworks commented on #11655
I did a clean install on Ubuntu 20.04 which made `make site` work. It was a go config issue on my end.
[code]

[2021-06-17 15:38] #11655 closed

[2021-06-17 15:40] sharmarajdaksh commented on #11555
I see. It might take a bit for me to get a general idea of the codebase, but I think I can slowly make way through these exit codes.

[2021-06-17 16:25] andriyDev opened #11681 "Make flake charts use blue for duration and red for flakes"

[2021-06-17 16:25] andriyDev commented on #11681
/assign andriyDev

[2021-06-17 16:26] andriyDev opened #11682 "Test runs with no failures still comment on PRs for flake rates"
/assign

[2021-06-17 17:00] #11681 closed

[2021-06-17 17:02] #9795 closed

[2021-06-17 17:23] rejohnst commented on #8966
I retested this on Minikube 1.21.0 (Linuxm kvm2 driver) and the issue seems to be fixed.  I created a 4 node cluster and all nodes had network access.

[2021-06-17 17:31] spowelljr opened #11685 "Multi-node label lost on minikube restart"
Received feedback that this is an issue. Need to verify this is indeed an issue and then fix it.

[2021-06-17 17:41] andriyDev opened #11686 "Use goembed for translation files"
/assign

[2021-06-17 19:38] luispresuelgit opened #11687 "Minikube loses track of nodes after second restart"
When I create multi-node cluster using Minikube, on a second restart Minikube will lose track of the middle nodes e.g. I create 4 nodes: m1, m2, m3, m4; by some reason Minikube loses track of m2 and m3.

Taking this [post](https://stackoverflow.com/questions/68011208/minikube-loses-track-of-nodes) example, creating a profile named `vault-cluster`

[code]
Stopping them for first time:
[code]

Resta

[2021-06-17 20:24] afbjorklund commented on #9228
@ilya-zuyev : I updated Buildroot from 2020.02.x to 2021.02.x in PR #11688

After upgrading the rest of the software, need to come up with a arch solution.

[2021-06-17 21:14] #11664 closed

[2021-06-17 21:15] markmandel commented on #11348
Running into the same/similar issue here:

[code]

Trying to tab complete gives me the following:

[code]

[2021-06-17 21:58] #11682 closed

[2021-06-17 22:03] andriyDev opened #11689 "Daemon cached image ignored if missing file cached image"
Currently, if the kicbase image is present in the daemon, but not stored in the cache, the image is redownloaded rather than using the existing kicbase image.

[2021-06-17 22:04] andriyDev commented on #11689
/assign

[2021-06-18 01:18] wajeehulhassanvii commented on #10897
@MoeHamdan @ilya-zuyev I am also having a similar issue. Should I change the driver to Docker?

[2021-06-18 04:10] zettaRepo opened #11695 "/tmp/minikube_stop_c0edbb93fcf65d589e1033c924a9706717a28738_0.log"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-06-18 15:30] #11686 closed

[2021-06-18 16:16] andriyDev opened #11697 "Translations not working"
Using LC_ALL the translations are not properly utilized and English is used as a fallback.

[2021-06-18 16:59] Iquis opened #11699 "Minikube service on windows"
I want to run a nginx image with minikube on windows 10

Here is my deployment & service configuration :

apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx-container
        image:

[2021-06-18 17:24] Oliver-Mitchell-CIC-UK opened #11700 "Using minikube remote on aws: kubectl remotely fails due to certificates"
I've seen a few guides that claim to get this working but each time I try, I get issues with the CA certs file generated by minikube.

**Steps to reproduce the issue:**

1. Start minikube on  an AWS EC2 (cluster instance):

[code]

1. Copy certificates and keys to another AWS EC2 (control instance):
   `/home/minikube/.minikube/ca.crt` copied to `~/.kube/profiles/ca.crt`
   `/home/minikube/.miniku

[2021-06-18 17:26] secmobi commented on #11348
Same here.

My environment:
[code]
After `source <(minikube completion zsh)`, error when using zsh's auto-complete for `minikube`:

[code]

I believe this is the same with Helm [issue #5046](https://github.com/helm/helm/issues/5046) that has been fixed in two years ago.

In Helm, the issue was fixed by the commit [de232c](https://github.com/Sarke/helm/commit/de232c4bb4a1a93b464bb00ab2557401e297130

[2021-06-18 21:30] #11388 closed

[2021-06-18 22:36] cscotti commented on #8283
same approach as r4j4h but with minikube ip range with no additionnal network route setting.
in my case it permit to access to the dashboard with an local ip and not toward a proxy.

`minikube start

# Get Minikube IP Prefix
METALLB_IP_PREFIX_RANGE=$(minikube ip | sed -r 's/(.*)./\1/')

# change Minikube profile config
cat ~/.minikube/profiles/minikube/config.json  \
    | jq '.KubernetesConfig.Lo

[2021-06-19 02:47] vishjain commented on #10595
/assign

[2021-06-19 07:13] vishjain commented on #10752
/assign

[2021-06-19 07:16] vishjain commented on #9972
/assign

[2021-06-19 07:40] afbjorklund commented on #11697
Regression after replacing go-bindata with goembed, or what happened here ?

[2021-06-19 07:42] afbjorklund commented on #11689
How did the image end up in the daemon, without passing the cache ? User pulled it manually ?

[2021-06-19 07:57] afbjorklund commented on #11652
This issue is currently blocking the Linux 5 version and the ARM 64 version.

Those would be add-ons/alternative versions building, from this updated ISO.

[2021-06-19 07:57] andriyDev commented on #11689
The user could pull it manually, or in my case, I ran `minikube delete --purge --all`, which still keeps the daemon image around.

[2021-06-19 07:59] andriyDev commented on #11697
Regression due to #11691 (very similar PR). #11698 adds a functional test to protect us from this in the future.

[2021-06-19 09:11] pythonwood opened #11705 "multi-nodes-minikube loss node label after restart"
**Steps to reproduce the issue:**

1. minikube start -n 2
2. kubectl label node minikube-m02 nsid_public=open --overwrite
3. minikube stop
4. minikube start
5. kubectl get node -A -o wide --show-labels

[code]

[2021-06-19 11:35] afbjorklund opened #11706 "Stop using podman2 for loading and building images for cri-o"
We need to upgrade from **podman2** (2.0/2.1/2.2) to one of the **podman3** (3.0/3.1/3.2)

Currently using 2.2.1, and upgrading to 3.1.2. The minor versions are not compatible.

Eventually it should be possible to upgrade to 3.2.1, but it is still in "testing" (not "stable")

* https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman

* https://build.opensuse.org/package/sho

[2021-06-19 11:50] #10937 closed

[2021-06-19 15:53] rajdevworks commented on #9362
/assign

[2021-06-19 21:32] halfninja opened #11707 "Not starting with podman on Oracle Linux 8"
**Steps to reproduce the issue:**

1. Start an Oracle Cloud Instance with Oracle Linux 8 Developer
2. podman should already be installed (although it isn't a particularly new version)
3. Get minikube
4. sudo minikube start

**Full output of `minikube logs` command:**
<details>
==> Audit <==
[code]

==> Last Start <==
Log file created at: 2021/06/19 21:25:36
Running on machine: potato
Binary: Built

[2021-06-19 22:40] bzvestey commented on #11644
I have done some testing of this issue on my side today, and think I have another important part of this. The internal domain name also needs to be in the `search` line of the resolv.conf file on the host machine.

So from my understanding so far, these two things are important to my issue:
1. Networks internal domain name needs to have a dns record, like `bzvestey.com`
2. The same domain needs to