[2022-10-15 12:57] JenyaFTW opened #15139 "Minikube not starting with QEMU2 driver with socket_vmnet networking"
### What Happened?

Trying to start minikube with the following command:
`minikube start --driver qemu --network socket_vmnet --alsologtostderr -v=4`

### Attach the log file

I1015 15:54:38.468192   52082 main.go:134] libmachine: Searching for a2:cc:a0:b0:4f:5 in /var/db/dhcpd_leases ...
| I1015 15:54:40.469385   52082 main.go:134] libmachine: Attempt 1
I1015 15:54:40.469448   52082 main.go:134]

[2022-10-15 15:41] santoshchilkunda opened #15140 "Unable to run "minikube start""
### What Happened?

W1015 15:32:50.114356    2194 certs.go:489] WARNING: could not validate bounds for certificate apiserver: the certificate has expired: NotBefore: 2021-09-12 13:21:49 +0000 UTC, NotAfter: 2022-09-13 13:21:49 +0000 UTC
error execution phase certs/apiserver: [certs] certificate apiserver not signed by CA certificate ca: x509: certificate has expired or is not yet valid: current ti

[2022-10-15 16:39] akray50 opened #15141 "kubernetes deployment cannot be created"
### What Happened?

I'm running a minikube cluster on Hyper-V using windows 11 Pro.
I'm trying to create a deployment using a docker image (named k8s-web-hello), that is on Docker Hub using the following command :

kubectl create deployment k8s-web-hello --image=username/k8s-web-hello

but the I'm getting the following error :

### Attach the log file

error: failed to create deployment: Post "htt

[2022-10-15 18:07] Sajiyah-Salat opened #15142 "RSRC_INSUFFICIENT_CONTAINER_MEMORY"
### What Happened?

I have started using docker but to use k8s I need to install minikube. I am just a beginner in this field. when I run “minikube start” in the ubuntu terminal I get the following error.

Exiting due to RSRC_INSUFFICIENT_CONTAINER_MEMORY: docker only has 979MiB available, less than the required 1800MiB for Kubernetes
I have researched how to increase container memory. I didn’t ge

[2022-10-16 03:28] jonesy212 commented on #15109
@Unaon ... I see you closed this, did you figure out how to fix it for MacOS??

[2022-10-16 08:19] afbjorklund commented on #15142
When you choose to run Docker in a virtual machine, you need to increase the memory of this VM to (at least) 2 GiB

https://docs.docker.com/desktop/settings/linux/

If you use the regular Docker Engine instead of Docker Desktop, it can use all the CPU and all the RAM of the machine.

https://docs.docker.com/engine/install/ubuntu/

[2022-10-16 14:12] RA489 commented on #12714
/remove-lifecycle rotten

[2022-10-16 16:48] Yerolkar123 opened #15143 "Exiting due to HOST_JUJU_LOCK_PERMISSION: Failed to start host: boot lock: unable to open /tmp/juju-mke11f63b5835bf422927bf558fccac7a21a838f: permission denied"
### What Happened?

While running sudo minikube start --vm-driver=none getting error installing minikube on ubuntu 20.04.
* minikube v1.27.1 on Ubuntu 20.04 (xen/amd64)
* Using the none driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Deleting "minikube" in none ...
! StartHost failed, but will try again: boot lock: unable to open /tmp/juju-mkc8ab01ad3e

[2022-10-17 01:03] correialabbate commented on #13029
hey guys, can I work on this issue?

[2022-10-17 01:47] coy18 commented on #15024
what you can do tho is to manually start a cluster by
: minikube start

then add node to the cluster
: minkube node add

check
: minikube kubectl -- get no

[2022-10-17 01:59] royzhao7 commented on #9027
I faced same issue in windows

[2022-10-17 03:24] moeshinyo commented on #14973
you may pull the lastest (10/17/2022, v0.0.35) container manually, and execute `minikube start` again.

[code]

from <https://gcr.io/k8s-minikube/kicbase> -> <https://console.cloud.google.com/gcr/images/k8s-minikube/GLOBAL/kicbase> -> ![image](https://user-images.githubusercontent.com/89891762/196082313-17b97c51-4858-4015-b9ae-0241c4bfed35.png)

[2022-10-17 05:43] mahesharimalla opened #15144 "Minikube-Installation-Prlm"
### What Happened?

Unable to start the minikube don't know what happened. It was working fine yesterday but now it's not working. I don't understand please help me.

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/9797209/logs.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-10-17 06:37] ComradeProgrammer commented on #12436
Is there anybody working on this? If not, can I have a try on this?
/assign

[2022-10-17 08:26] hokimr commented on #4222
minikube start --driver=docker
solved it with

[2022-10-17 08:27] Gresdy commented on #4222
您好, 您的邮件永宏已经收到！

[2022-10-17 11:56] greschd commented on #12361
Here's the version info:

[code]

[2022-10-17 15:25] guettli commented on #14773
@Aryan-Deshpande you said you want to work on the issue. I think it would be great if you could extend a docs a bit, so that the difference is easier to understand.

[2022-10-17 16:10] Akritesom commented on #14202
The kubernetes needs to be enabled in Docker Desktop
![Capture1](https://user-images.githubusercontent.com/116019417/196228229-e763e198-fdfb-4a7f-9056-c33f41155f53.JPG)

[2022-10-17 17:57] spowelljr commented on #14202
@prakharporwal @loyaltytrooper @mesketh @dishkakrauch @jodusan @zidanomar @Arun-N @gio-shara-code

Here's a binary that has a fix I implemented (https://github.com/kubernetes/minikube/pull/15126) that should make minikube work with Docker Desktop Linux. Could some of you test it and confirm it works on your end, thanks.

[code]

[2022-10-17 21:48] klaases commented on #14999
This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

* Attach the full output of minikube logs, run `minikube logs --file=logs.txt` to create a log file

Thank you for sharing your experience!

[2022-10-17 21:48] #14999 closed

[2022-10-17 21:52] klaases commented on #14054
This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

* Attach the full output of minikube logs, run `minikube logs --file=logs.txt` to create a log file

Thank you for sharing your experience!

[2022-10-17 21:52] #14054 closed

[2022-10-17 22:22] atsalolikhin-spokeo commented on #15124
I ran into the same error trying to start minikube version: v1.27.1

[2022-10-18 01:24] cecilphillip commented on #14276
@spowelljr I sorted it out. There was a script setting `export DOCKER_DEFAULT_PLATFORM=linux/amd64`.
I got it running now.

[2022-10-18 07:38] mahesharimalla opened #15161 "problm while installing minikube"
### What Happened?

minikube logs --file=logs.txt`

### Attach the log file

[logs (1).txt](https://github.com/kubernetes/minikube/files/9807658/logs.1.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-10-18 07:38] #15161 closed

[2022-10-18 08:19] khaledrazouk opened #15162 "minikube problem"
### What Happened?

minikube is not running

### Attach the log file

😄  minikube v1.7.2 on Linuxmint 20.2
✨  Using the virtualbox driver based on existing profile
⌛  Reconfiguring existing host ...
🔄  Starting existing virtualbox VM for "minikube" ...

💣  Unable to start VM. Please investigate and run 'minikube delete' if possible: driver start: Error setting up host only network on machine start

[2022-10-18 15:13] alzinfo opened #15165 "/tmp/minikube_image_01e888f8ecf5c7a5bcdff92cb20c02d7018add9f_0.log"
**Étapes pour reproduire le problème:**

1.
2.
3.

**Sortie complète de la commande `minikube logs`:**
<details>

</details>

**Sortie complète de la commande échouée:**
<details>

</details>

[2022-10-18 16:10] kmcowan opened #15166 "Minikube Fails..."
### What Happened?

😄  minikube v1.27.1 on Darwin 12.5.1
✨  Using the hyperkit driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing hyperkit VM for "minikube" ...
🤦  StartHost failed, but will try again: driver start: IP address never found in dhcp leases file Temporary error: could not find an IP address for be:18:3b:17:4f:bf
🏃  Updat

[2022-10-18 18:23] dpx2016 opened #15167 "unable to start minikube"
### What Happened?

i have an error message when i try minikube start on ubuntu

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/9814019/logs.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-10-18 18:41] gitarbaz opened #15168 "--files=log.txt cammand is not working"
### What Happened?

 --file=logs.txt`

--file=logs.txt: command not found
--file=logs.txt: command not found

### Attach the log file

--file=logs.txt`

--file=logs.txt: command not found

### Operating System

Ubuntu

### Driver

Docker

[2022-10-18 20:17] ccdaniele commented on #14806
Thanks, this solved my issue

[2022-10-18 21:41] minikube-bot opened #15171 "Frequent test failures of `TestNetworkPlugins/group/false/NetCatPod`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestNetworkPlugins/group/false/NetCatPod)|100.00|

[2022-10-19 10:48] vholer opened #15173 "calico-node failing with Kubernetes 1.25.2"
### What Happened?

Since Kubernetes 1.25, using Calico CNI on KVM fails to run the `calico-node` pods successfully. The pods are started, but they don't pass the readiness checks and are complaining about not being able to list the K8s EndpointSlice resources. The whole networking with Calico CNI is broken.

If one switches back to using Kubernetes 1.24 (on the same minikube 1.27.1), it works wit

[2022-10-19 15:34] fosmjo commented on #3417
@willzhang If you are using NFS CSI driver v4.1.0 or v4.0.0, try change  the `dnsPolicy` of `csi-nfs-controller` and `csi-nfs-node` to `ClusterFirstWithHostNet`, it works for me.

[2022-10-19 18:33] #15010 closed

[2022-10-19 18:33] spowelljr commented on #15005
Hi @Parthiba-Hazra, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-10-19 18:33] #15005 closed

[2022-10-19 18:34] spowelljr commented on #14969
Hi @arnoldngounfo, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-10-19 18:34] #14969 closed

[2022-10-19 18:34] spowelljr commented on #14957
Hi @Rkshobhit, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-10-19 18:35] spowelljr commented on #14921
Hi @Sachin290287, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-10-19 18:35] #14921 closed

[2022-10-19 18:37] spowelljr commented on #14833
Hi @elamribadrayour, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-10-19 18:37] #14833 closed

[2022-10-19 18:37] spowelljr commented on #14822
Hi @haykeminyan, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-10-19 18:37] #14822 closed

[2022-10-19 18:38] spowelljr commented on #14816
Hi @Luchik51, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-10-19 18:38] #14816 closed

[2022-10-19 18:39] spowelljr commented on #14683
Have you had time to check this out @grishy?

[2022-10-19 23:29] Olical22 opened #15176 "rror during connect: This error may indicate that the docker daemon is not running."
### What Happened?

rror during connect: This error may indicate that the docker daemon is not running.

### Attach the log file

error during connect: This error may indicate that the docker daemon is not running.: Get "http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.24/containers/minikube/json": open //./pipe/docker_engine: The system cannot find the file specified.

### Operating System

Windows

###

[2022-10-20 01:41] #13065 closed

[2022-10-20 04:00] priytam1993 commented on #13841
This work well. First we need to enable **ingress-dns**  addon , then enable ingress

[2022-10-20 04:01] Bhavana-211 opened #15178 "unable to restart docker"
### What Happened?

minikube service mongo-express-service
! Executing "docker container inspect minikube --format={{.State.Status}}" took an unusually long time: 2.9946491s
* Restarting the docker service may improve performance.
* This control plane is not running! (state=Stopped)
! This is unusual - you may want to investigate using "minikube logs"
  To start a cluster, run: "minikube start"

#

[2022-10-20 07:22] jhaabhishek115 opened #15180 "Exiting due to MK_ADDON_ENABLE"
### What Happened?

minikube addons enable ingress throwing error.
Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]

### Attach the log file

[minikube_addons_a2eb37b71e48557d642ed71639e1b93b4c2b5601_0.log](https://github.com/kubernetes/minikube/files/9827279/minikube_addons_a2eb37b71e4855

[2022-10-20 08:16] grishy commented on #14683
Everything works fine 👍
Checked on v1.27.1

[2022-10-20 08:16] #14683 closed

[2022-10-20 08:57] DV126 opened #15181 "Al iniciar minikube start sale con errores"
**Los comandos necesarios para reproducir la incidencia**:

          minikube start --driver=docker

**El resultado completo del comando que ha fallado**:
<details>

X Saliendo por un error HOST_CONFIG_LOAD: unmarshal: unexpected end of JSON input
</details>

**El resultado del comando `minikube logs`**: <details>
ubuntu@ubuntu:~$ minikube logs
*
* ==> Audit <==
* |---------|-----------------|---

[2022-10-20 11:18] mooky31 opened #15182 "Can't install minikube behind proxy"
### What Happened?

Hello,

I'm trying to install minikube 1.27.1 behind a proxy on Rocky Linux 9 and it fails:
[code]

It doesn't proxyfies some requests to gcr.io :
[code]

### Attach the log file

[code]

### Operating System

Redhat/Fedora

### Driver

Podman

[2022-10-20 15:34] zioproto commented on #14973
I had the same issue not being able to: `minikube start` on Mac with Docker Desktop.
The `gcr.io/k8s-minikube/kicbase` was stuck in download forever:

[code]

Downloading the specific version as suggested fixed the problem:
[code]

[2022-10-20 15:56] carlospalmaroldan opened #15184 "Using minikube as Docker Desktop Replacement"
MacOs Big Sur
MacBook Pro (16-inch, 2019)
Processor 2,6 Ghz 6-Core Intel Core i7
Memory 16 GB 2667 MHz DDR4

Attempting to execute the following command:

minikube start --container-runtime=docker --vm=true

yields the following result:

bcp@river lib % minikube start --container-runtime=docker --vm=true
😄  minikube v1.26.1 on Darwin 11.6.3
✨  Using the docker driver based on existing profile

💣

[2022-10-20 16:36] georgemayrin opened #15185 "Exiting due to GUEST_PROVISION_CONTAINER_EXITED: Docker container exited prematurely after it was created, consider investigating Docker's performance/health."
### What Happened?
minikube delete
🔥  Deleting "minikube" in docker ...
🔥  Deleting container "minikube" ...
🔥  Removing /Users/mvarkey/.minikube/machines/minikube ...
💀  Removed all traces of the "minikube" cluster.
mvarkey@mvarkey-mac mayrin_apd % minikube start
😄  minikube v1.27.1 on Darwin 12.2.1 (arm64)
✨  Automatically selected the docker driver
📌  Using Docker Desktop driver with root privi

[2022-10-20 17:00] tikarammardi commented on #14202
@spowelljr I have tested with the above binary. minikube is working with Docker Desktop Linux
![image](https://user-images.githubusercontent.com/19359591/197010529-1fd326e8-e8b6-4512-97f5-a30342edef11.png)
![image](https://user-images.githubusercontent.com/19359591/197012323-bdfc0e63-e664-4a27-a490-5cf3a919f71a.png)

[2022-10-20 18:38] kevin-dimichel commented on #14960
I just experienced this issue with minikube version v1.27.1

[code]

[2022-10-21 13:20] yangzhiwei256 opened #15189 "minikube start error : libmachine: Error dialing TCP: ssh: handshake failed and GUEST_PROVISION_CONTAINER_EXITED"
### What Happened?

I cann't start minikube cluster, What I  should do ?

start command: `minikube start --driver=docker --image-mirror-country=cn --container-runtime=containerd`

minikube error log:  detail  log please see log file content
[code]

`docker logs minikube` command log
[code]

Linux OS Version:  Chinese UOS System (Base on Debian Buster Version)
[code]

minikube version
[code]

`dock

[2022-10-21 15:22] jsirianni commented on #13320
I think I am seeing this as well. When I perform a `minikube delete`, future clusters will have state from my previous cluster when I deploy the same application manifest.

[code]

[2022-10-21 18:04] spowelljr commented on #15184
Hi @carlospalmaroldan, what driver are you attempting to use? I see you have `--vm=true` but you previously starting minikube with the Docker driver so it's doing to try to it with Docker again. Try running `minikube delete` and then try starting minikube again and then it will try to use a VM driver.

[2022-10-21 18:06] spowelljr commented on #15176
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-10-21 18:07] spowelljr commented on #15168
Hi @gitarbaz, you make to include `minikube logs` such as `minikube logs --file=logs.txt`.

[2022-10-21 18:10] spowelljr commented on #15166
Hi @kmcowan, it looks like you're trying to restart an existing HyperKit instance but it the old instance may no longer exist. Could you try running `minikube delete` and then try starting minikube again and see if that resolves your issue.

[2022-10-21 18:11] spowelljr commented on #15140
Hi @santoshchilkunda, could you try running `minikube delete --all --purge` and then try starting minikube again and see if that resolves your issue.

[2022-10-21 18:22] carlospalmaroldan commented on #15184
Works like a charm. Thank you spowelljr!

[2022-10-21 18:32] carlospalmaroldan commented on #15184
It works

[2022-10-21 18:32] #15184 closed

[2022-10-21 18:34] carlospalmaroldan opened #15190 "Using minikube as Docker Desktop Replacement"
eval $(minikube -p <profile> docker-env)

after running this I get

 eval $(minikube -p <profile> docker-env)
zsh: no such file or directory: profile

The shell for minikube recommends this:

# To point your shell to minikube's docker-daemon, run:
# eval $(minikube -p minikube docker-env)

In my case this doesn't work either, since after running it I get  command not found docker

[2022-10-21 22:18] spowelljr commented on #14897
Hi @henryrior, could you run the command with the `--alsologtostderr` flag and upload the output so we can see what is occurring, thanks.

[2022-10-22 14:46] criztovyl opened #15191 "minikube wants to use containerd-fuse-overlayfs"
### What Happened?

After updating from 1.27.0 to 1.27.1 minikube in podman rootless mode w/ containerd runtime does not start anymore.

It seems there is a change in 1.27.1 that changes how the "snapshotter" is chosen (#15066) which then will lead to attempting to start the mentioned systemd unit.

https://github.com/kubernetes/minikube/compare/v1.27.0...v1.27.1#diff-b28c71458ad82bb519d87959ba5f6

[2022-10-22 15:10] Ameer-clk commented on #13502
I have the same issue also.When i first start minikube  using minikube start --force --driver=docker it worked.After i stopped it and the again tos start it it showing this same error

[2022-10-23 04:53] appleearth008 opened #15192 "<minikube start> not working on MacOS 12.6 with docker driver"
### What Happened?

I ran this command : ```minikube start --driver=docker```, to stat minikube, but it doesn't work.

=======================================
**version info:**
(1) minikube
[code]
(2) docker
[code]
(3) OS
[code]

=======================================
**error msg**
[code]

=======================================
**note**
(1) I also use virtual box driver at first, but it also doe

[2022-10-23 09:32] #15139 closed

[2022-10-23 09:41] minikube-bot opened #15193 "Frequent test failures of `TestNetworkPlugins/group/false/HairPin`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=QEMU_macOS&test=TestNetworkPlugins/group/false/HairPin)|100.00|

[2022-10-23 10:45] thelonelyDreamer opened #15194 "Need help"
[code]

[2022-10-23 10:58] oscarchan76 opened #15195 "Invalid CPU configuration of command when “minikube start”"
### What Happened?

environment:
(1) minikube version: v1.27.1
commit: fe869b5d4da11ba318eb84a3ac00f336411de7ba

(2) docker version:
Client: Docker Engine - Community
 Version:           20.10.20
 API version:       1.41
 Go version:        go1.18.7
 Git commit:        9fdeb9c
 Built:             Tue Oct 18 18:22:47 2022
 OS/Arch:           linux/amd64
 Context:           default
 Experimental:

[2022-10-23 14:30] mirajraju opened #15196 "Minikube is not start in ubuntu"
### What Happened?

root@devops:~# minikube start --driver=none --force
* minikube v1.27.1 on Ubuntu 20.04
! minikube skips various validations when --force is supplied; this may lead to                                                                              unexpected behavior
* Using the none driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Run

[2022-10-23 14:42] afbjorklund commented on #15195
Currently the container driver does not set up the resource of the node correctly, it always shows the entire node.

It needs to make those resources "reserved", and not shown as included in the fake node created for kubernetes.

[2022-10-23 14:46] afbjorklund commented on #15195
Note that the limits on the container should still have correct values, this is about the resources on the node.

https://docs.docker.com/config/containers/resource_constraints/

[2022-10-23 14:48] afbjorklund commented on #15194
You need to install cri-dockerd, from https://github.com/Mirantis/cri-dockerd

[2022-10-23 15:18] amnamek opened #15197 "/tmp/minikube_addons_5e63cb8ceb2e7e06e33b8dd7a9dcbebc0ad5ec5a_0.log"
**الأوامر المطلوبة لإعادة إظهار المشكلة**:

**النتيجة الكاملة للأمر الذي تعذّر تنفيذه**:<details>

</details>

**نتيجة الأمر `minikube logs`**: <details>

</details>

**إصدار نظام التشغيل المُستخدَم**:

[2022-10-23 15:19] amnamek opened #15198 "/tmp/minikube_addons_5e63cb8ceb2e7e06e33b8dd7a9dcbebc0ad5ec5a_0.log"
**Étapes pour reproduire le problème:**

1.
2.
3.

**Sortie complète de la commande `minikube logs`:**
<details>

</details>

**Sortie complète de la commande échouée:**
<details>

</details>

[2022-10-23 15:21] amnamek opened #15199 "X Exiting due to HOST_JUJU_LOCK_PERMISSION: Failed to save config: failed to acquire lock for /root/.minikube/profiles/minikube/config.json: {Name:mk270d1b5db5965f2dc9e9e25770a63417031943 Clock:{} Delay:500ms Timeout:1m0s Cancel:<nil>}: unable to open /tmp/juju-mk270d1b5db5965f2dc9e9e25770a63417031943: permission denied"
**Étapes pour reproduire le problème:**

1.
2.
3.

**Sortie complète de la commande `minikube logs`:**
<details>

</details>

**Sortie complète de la commande échouée:**
<details>

</details>

[2022-10-23 19:41] #13020 closed

[2022-10-24 02:35] oscarchan76 commented on #15195
Thanks.

Actually, i found that resource of the node set up with args _--cpus='4' --memory='6144m'_ are valid by checking the container info.

1. Firstly, i check the resource limit of fake node (container) after building a fake master node using "_minikube start_".
![image](https://user-images.githubusercontent.com/52748287/197436295-4c8479cf-5221-4574-a1f4-88831991bd85.png)
![image](https://user

[2022-10-24 05:34] afbjorklund commented on #15195
It does, but then again scheduling with a single node is not a puzzle...

In order to show the correct values, the "remaining" host resources need to be flagged as systemd reserved in the kubelet.

So if your host has 40 CPU but your node has 4 CPU, then kubelet needs a flag `--system-reserved=cpu=36` added.

The same also goes for memory (Ki) and ephemeralstorage (Ki)

[2022-10-24 05:50] oscarchan76 commented on #15195
Can i set the resource of every node of a fake cluster（built by minikube）in a local physical host ？

As you show, Flag "--system-reserve" is just suitable for setting the resource limit of a physical host/node in a real cluster,  but not  suitable for other worker nodes(except for master).

[2022-10-24 05:54] afbjorklund commented on #15195
It is suitable for every node, but it needs to be added to the code - or it will be overwritten when the node is restarted...

The actual limits will be enforced by the cgroups, the kubernetes values is just for how many resources can be "booked"

But currently there is no way to set the disk quota for the ephemeral storage, unless running a separate Root dir for each.

If you want better isolatio

[2022-10-24 06:13] oscarchan76 commented on #15195
Thanks.

So, if i build a  cluster consists of a master  node and 8 worker nodes using minikube,  i need to enter each node using "minikube ssh", and then use the "kubelet --system-reserve" to set the resource reserved.

If not, how to use flag " kubelet --system-reserved" to set resource reserved for one of nodes? And there is no kubelet service in a minikube node.

[2022-10-24 10:25] afbjorklund commented on #15195
It's a bug / feature, waiting to be addressed (in minikube).

The code is here: [pkg/minikube/bootstrapper/bsutil](https://github.com/kubernetes/minikube/blob/master/pkg/minikube/bootstrapper/bsutil/kubelet.go)

It runs the regular kubelet.service, as set up by "start" ?

[2022-10-24 11:53] feliperyan commented on #12954
Still happening. I'm now unable to `minikube delete` and `minikube start` . It seems using `cilium install` has broken my minikube install.
[code]

[2022-10-24 14:14] josepdcs commented on #13267
I'm experimenting the same error right now by running:

`minikube -p minikube-crio --container-runtime=cri-o --driver=docker start`

![imagen](https://user-images.githubusercontent.com/84714501/197546776-62916483-d458-47c8-bd51-d723fa7ddb10.png)

The pod/kube-proxy-vxrrm still with status CreateContainerError

`kubectl describe pod/kube-proxy-vxrrm --namespace kube-syste`

![imagen](https://user-i

[2022-10-24 14:14] josepdcs commented on #12928
I'm experimenting the same error right now by running:

`minikube -p minikube-crio --container-runtime=cri-o --driver=docker start`

![imagen](https://user-images.githubusercontent.com/84714501/197546776-62916483-d458-47c8-bd51-d723fa7ddb10.png)

The pod/kube-proxy-vxrrm still with status CreateContainerError

`kubectl describe pod/kube-proxy-vxrrm --namespace kube-syste`

![imagen](https://user-i

[2022-10-24 19:33] zifter opened #15213 "golang application compiled with build flag GOAMD64=v3 can't be launched in k8s"
### What Happened?

I launched minikube with k8s version 1.24.4 and using virtualbox:

I have deployed pod with application which is written in golang and built with flag GOAMD64=v3.
When pod is started I see the following error:

It means that complied golang application can't be run on the node.

Is it possible to deliver virtualbox image with supporting of amd64 v3 architecture level?

### Atta

[2022-10-24 20:40] spowelljr commented on #12928
Sorry for the delay, thanks for the deep dive on the issue, it makes complete sense why it's not working. We should warn users about this when they try to start minikube with docker and cri-o and link them to this issue. Unfortunately it doesn't seem like there's anything else we can do from our side. Once Docker makes the version with the fix GA we can update the message to suggest users to updat

[2022-10-24 21:32] afbjorklund commented on #15213
As far as I know, "[x86_64](https://en.wikipedia.org/wiki/X86-64) v3" is about AVX-2, so probably it is related to VirtualBox disabling this passthough

https://www.virtualbox.org/ticket/14262

It might be possible to re-enable it again, using some command-line flag to `VBoxManage`.

[2022-10-24 21:48] afbjorklund commented on #15213
Hmm, maybe it _wasn't_ AVX2 but some other CPU feature that is missing in the emulator.

[code]

Need to step through the code, to see which one.

[2022-10-24 22:11] afbjorklund commented on #15213
Here is the `cpuid` from minikube VirtualBox: [cpuid.txt](https://github.com/kubernetes/minikube/files/9855687/cpuid.txt)

[2022-10-24 22:16] afbjorklund commented on #15213
https://developers.redhat.com/blog/2021/01/05/building-red-hat-enterprise-linux-9-for-the-x86-64-v2-microarchitecture-level#architectural_considerations_for_rhel_9

[2022-10-24 22:18] spowelljr commented on #14202
@tikarammardi I'm not sure why your apiserver is stopped, it's running when I test it on my machine.

[2022-10-25 02:32] oscarchan76 commented on #15195
Thanks.

[2022-10-25 03:41] minikube-bot opened #15214 "Frequent test failures of `TestFunctional/parallel/License`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/parallel/License)|23.53|

[2022-10-25 04:01] Vickydev95 opened #15215 "unable to start minikube"
### What Happened?

Exiting due to GUEST_START: wait 6m0s for node: wait for healthy API server: apiserver healthz never reported healthy: timed out waiting for the condition

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/9857025/log.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-10-25 05:58] afbjorklund commented on #15215
* https://github.com/kubernetes/minikube/issues/14202

[2022-10-25 07:35] Arun-N commented on #14202
@spowelljr Tested. Everything looks fine but I haven't tried running any pods on it yet.

They are using `minikube status` and not `./minikube-linux-amd64 status`

[code]

[code]

[code]

[code]

[code]

[code]

[2022-10-25 07:37] Vickydev95 commented on #14202
this worked for me thanks

[2022-10-25 08:35] zifter commented on #15213
Yes, it's like a one of the solution - to build with flag GOAMD64=v2 or without it all.

It's working in other drivers, but sometimes virtualbox it's preferred choice. If is no changes to change VirtualBox image - ok.

[2022-10-25 09:15] rajjaiswalsaumya commented on #11885
Can we please document this to the quickstart for mac ?

[2022-10-25 09:26] yomi40 opened #15217 "minikube addons enable ingress"
### What Happened?

 Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]
 - /var/folders/r8/y0tdls9j6r965nxrxl7qxxbw0000gn/T/minikube_addons_0d0beeaa5c69dc10c8e06caf203d9780561f1745_0.log

### Attach the log file

 minikube logs --file=log.txt

❌  Exiting due to GUEST_STATUS: state: unknown s

[2022-10-25 10:55] afbjorklund commented on #15213
It is not in the image, it is a runtime setting (or two) for the VirtualBox hypervisor...

Apparently it is masking some of the host CPU flags. It (v3) works OK in QEMU/KVM

The v4 (AVX512) did not work on my host either

[2022-10-25 11:04] Rahulsapna opened #15218 "`minikube logs --file=logs.txt` and attach logs.txt"
### What Happened?

`minikube logs --file=logs.txt` and attach logs.txt

### Attach the log file

`minikube logs --file=logs.txt` and attach logs.txt

### Operating System

_No response_

### Driver

_No response_

[2022-10-25 18:04] #14202 closed

[2022-10-25 18:04] spowelljr commented on #14202
Change is merged and will be included in the next release

[2022-10-25 18:22] roy-work commented on #3036
Can someone on this thread that doesn't have "Cisco Umbrella sauce" (sadly, that includes me) do a `sudo lsof -i :53`, and post the output?

In particular, I'm wondering if minikube's DNS server, whatever that is, is trying to bind to all interfaces, instead of just the bridge. If I'm looking at this right, I'm wondering why there should be a conflict here: Umbrella only binds to `localhost`, so a

[2022-10-26 01:41] #13477 closed

[2022-10-26 01:41] #12637 closed

[2022-10-26 01:41] #13694 closed

[2022-10-26 01:41] #13590 closed

[2022-10-26 01:41] #13478 closed

[2022-10-26 01:41] #13479 closed

[2022-10-26 01:41] #13480 closed

[2022-10-26 01:41] #13481 closed

[2022-10-26 01:54] RA489 commented on #15218
@Rahulsapna I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank

[2022-10-26 01:54] RA489 commented on #15218
/triage needs-information

[2022-10-26 01:56] RA489 commented on #15217
/kind support

[2022-10-26 01:57] RA489 commented on #15196
/kind support

[2022-10-26 01:58] RA489 commented on #15189
/kind support

[2022-10-26 01:59] RA489 commented on #15185
/kind support

[2022-10-26 01:59] RA489 commented on #15180
/kind support

[2022-10-26 02:00] RA489 commented on #15178
/kind support

[2022-10-26 02:00] RA489 commented on #15173
/kind support

[2022-10-26 03:49] imflash217 commented on #14202
Hi,
I am having the same issue with Docker Desktop on MacOS 13.0
I tried all above approaches but none is working either with `--driver=docker` or `--driver=virtualbox`
Stack:
1. MacOS 13.0
2. Docker Desktop
3. Virtualbox 7.0
4. `❯ minikube version`
   `minikube version: v1.27.1`
   `commit: fe869b5d4da11ba318eb84a3ac00f336411de7ba`
5. Logs:
[code]
Any help on this!
Thanks

[2022-10-26 03:53] imflash217 commented on #15192
I am also facing the same issue.

[2022-10-26 05:17] godfatherdemon opened #15221 "Exiting due to MK_ADDON_ENABLE: loading profile: cluster "minikube" does not exist"
### What Happened?

Log file created at: 2022/10/26 12:15:47
Running on machine: god-HP-Pavilion-Laptop-14-ec0013AU
Binary: Built with gc go1.19.1 for linux/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I1026 12:15:47.184767   83332 out.go:296] Setting OutFile to fd 1 ...
I1026 12:15:47.185036   83332 out.go:348] isatty.IsTerminal(1) = true
I1026 12:15:47.185043   83332

[2022-10-26 08:57] allanbarklie opened #15222 "Minikube delete can quietly leave most data on the host on linux when the driver is docker"
### What Happened?

Observations
=========

Without carefully matched file permissions minikube delete quietly leaves most data on the host on linux when the driver is docker.

When running as a non root user on linux with the driver set to docker minikube start is successful and most data is stored under the folder
/var/lib/docker/volumes/<minikube profile>

When minikube delete is called however

[2022-10-26 14:47] LakhB opened #15223 "Issue Starting Minikube with podman : Failed to start host"
### What Happened?

Issue starting Minikube Podman on Ubuntu WSL installation.

### Attach the log file

==> Audit <==
|---------|--------------------------------|----------|------|---------|---------------------|---------------------|
| Command |              Args              | Profile  | User | Version |     Start Time      |      End Time       |
|---------|--------------------------------|---

[2022-10-26 15:36] medyagh commented on #14580
this was done by @spowelljr

[2022-10-26 15:36] #14580 closed

[2022-10-26 18:13] rraval commented on #14631
I have just encountered this problem and have assembled a one line workaround for now:

[code]

This needs to be done every time the minikube host restarts (i.e. after every `minikube start`).

Before:

[code]

After:

[code]

Versions:
- minikube: v1.27.0
- docker: Docker version 20.10.18, build v20.10.18
- OS: NixOS on [31d567846255e122846548255101980162bbf641](https://github.com/NixOS/nixpkgs/t

[2022-10-26 19:23] spowelljr commented on #14202
Hi @imflash217, this issue is specifically for Docker Desktop Linux. Since you're using Docker Desktop macOS I'd recommend opening a new issue.

[2022-10-26 23:33] spowelljr commented on #15222
Hi @allanbarklie, thanks for bringing this to our attention! We'll look into this once we have some time do so.

[2022-10-26 23:38] spowelljr commented on #15190
Hi @carlospalmaroldan, the problem is you're not passing the profile into the command and it's passing the command `docker-env` as the profile flag.

ex.
[code]

[2022-10-26 23:40] spowelljr commented on #15221
Hi @godfatherdemon, you don't have a running minikube instance. Try starting minikube with `minikube start` and then try enabling the ingress addon.

[2022-10-26 23:41] spowelljr commented on #15217
Hi @yomi40, it looks like your Docker instance is not running, could you ensure Docker is running and then start minikube again `minikube start` and then try enabling your addon.

[2022-10-26 23:43] spowelljr commented on #15198
Closing due to https://github.com/kubernetes/minikube/issues/15199

[2022-10-26 23:43] #15198 closed

[2022-10-26 23:43] spowelljr commented on #15197
Closing due to https://github.com/kubernetes/minikube/issues/15199

[2022-10-26 23:43] #15197 closed

[2022-10-26 23:45] spowelljr commented on #15196
Hi @mirajraju, `socat` is required to be installed to run minikube with the none driver. Could you install it and then try starting minikube again.

[2022-10-26 23:49] spowelljr commented on #15191
Hi @criztovyl, thanks for bringing this to our attention. I think we can revert that if statement and revisit it later.

[2022-10-27 00:35] colossatr0n opened #15224 "IP address for host.minikube.internal is <nil>"
### What Happened?

My pods are not using host entries in the host OS's host file. I have a host entry in my host file for an external service named `ext-service`. The attempts to connect to it can be seen on line 1041 in the attached log file.

While trying to figure out why this is happening, I noticed that the IP address for host.minikube.internal is <nil>.

The output from `minikube ssh; cat/

[2022-10-27 08:32] xueyin220807 opened #15226 "minikube部署应用hello-minikube处于pending状态？"
在vmware打开centos7：
minikube以minikube start --driver=none
参照：https://minikube.sigs.k8s.io/docs/start/
部署了应用。
通过minikube kubectl -- get po -A
查看到hello-minikube-65dc654df9-57k6w处于pending状态（一直这个状态）
转发端口也因pending无法成功：
[root@control-plane ~]# kubectl port-forward service/hello-minikube 7080:80
error: unable to forward port because pod is not running. Current status=Pending

[2022-10-27 09:08] mirajraju commented on #15196
HI @spowelljr thanks for your reply. Yes it's working fine after the install socat

[2022-10-27 10:49] shtlamrut opened #15227 "Report an issue"
### What Happened?

stderr:
Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Get "http://%2Fvar%2Frun%2Fdocker.sock/v1.24/containers/minikube/json": dial unix /var/run/docker.sock: connect: permission denied

### Attach the log file

- /tmp/minikube_logs_4bc0d8589f1126f97fe10ac6ed84228b09be5273_0.log

### Operating System

Ubuntu

### Driver

[2022-10-27 13:16] FrancoR3 opened #15228 "Minikube start"
 
**Os comandos necessários para reproduzir o problema**:
 
**A saída completa do comando que apresentou falha**: <details>

</details>

**A saída do comando `minikube logs`**:<details>

</details>

**A versão do sistema operacional usado**:

https://github.com/kubernetes/minikube/issues/15228#tasklist-block-b89d355e-12fa-4e9b-be4d-724d8680bfa9

[2022-10-27 13:18] FrancoR3 commented on #15228
Failed to start virtualbox VM. Running "minikube delete" may fix it: creating host: create: creating: Error setting up host only network on machine start: /usr/bin/VBoxManage hostonlyif ipconfig vboxnet5 --ip 192.168.99.1 --netmask 255.255.255.0 failed:
VBoxManage: error: Code E_ACCESSDENIED (0x80070005) - Access denied (extended info not available)
VBoxManage: error: Context: "EnableStaticIPConfi

[2022-10-27 16:51] spowelljr commented on #15196
Glad that resolved your issue!

[2022-10-27 16:51] #15196 closed

[2022-10-27 18:22] spowelljr commented on #15227
Hi @shtlamrut, it seems your user can't use docker without sudo, follow the Docker Engine post-installation steps for Linux and that should solve your issue

https://docs.docker.com/engine/install/linux-postinstall/

[2022-10-27 18:26] spowelljr commented on #15173
Hi @vholer, thanks for bringing this to our attention. We'll take a look into this when we get the chance.

[2022-10-27 18:28] spowelljr commented on #15167
Hi @dpx2016, could you try running `minikube delete --all --purge` to clear out your existing certificates and then try starting minikube again.

[2022-10-27 21:10] spowelljr commented on #13992
Hi @soni-H, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-10-27 21:10] #13992 closed

[2022-10-28 01:01] ghost opened #15231 "unable to start minikube"
### What Happened?

root@ubuntu-s-2vcpu-4gb-ams3-01:~/cri-dockerd# sudo minikube start --vm-driver=none
* minikube v1.27.1 on Ubuntu 22.10 (kvm/amd64)
* Using the none driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing none bare metal machine for "minikube" ...
* OS release is Ubuntu 22.10

X Exiting due to RUNTIME_ENABLE: Temporary Er

[2022-10-28 04:03] ThomWilhelm commented on #15231
Following as I just ran into the same issue, almost identical setup except I'm on Ubuntu 22.04.1.

However for some reason running **minikube stop** then **minikube start** it worked again.

[2022-10-28 06:22] muraliprasadece commented on #15231
Hi Thom,

i have done minikube stop and start, but still same error
***@***.***:~# minikube stop
* Stopping node "minikube"  ...
* 1 node stopped.
***@***.***:~# minikube start
* minikube v1.27.1 on Ubuntu 22.10 (kvm/amd64)
* Using the none driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing none bare metal machine for "minikube" ...
*

[2022-10-28 08:07] RA489 commented on #15224
/kind support

[2022-10-28 08:07] RA489 commented on #15223
/kind support

[2022-10-28 08:08] RA489 commented on #15182
/kind support

[2022-10-28 08:08] RA489 commented on #15162
/kind support

[2022-10-28 08:08] RA489 commented on #15144
/kind support

[2022-10-28 08:09] RA489 commented on #15141
/kind support

[2022-10-28 08:09] RA489 commented on #15136
/kind support

[2022-10-28 08:09] RA489 commented on #15123
/kind support

[2022-10-28 08:10] RA489 commented on #15114
/kind support

[2022-10-28 08:11] RA489 commented on #15101
/kind support

[2022-10-28 08:40] zzj0402 commented on #14326
Same issue; app keeps sending resets.

[2022-10-28 09:06] henning commented on #13985
/remove-lifecycle rotten

[2022-10-28 09:12] RA489 commented on #14998
/kind support

[2022-10-28 09:14] RA489 commented on #14959
/kind support

[2022-10-28 09:15] RA489 commented on #14910
/kind support

[2022-10-28 09:15] RA489 commented on #14901
/kind support

[2022-10-28 09:16] RA489 commented on #14888
/kind support

[2022-10-28 09:16] RA489 commented on #14860
/kind support

[2022-10-28 09:17] RA489 commented on #14855
/kind support

[2022-10-28 09:17] RA489 commented on #14849
/kind support

[2022-10-28 09:17] RA489 commented on #14826
/kind support

[2022-10-28 09:18] RA489 commented on #14821
/kind support

[2022-10-28 09:18] RA489 commented on #14815
/kind support

[2022-10-28 09:20] RA489 commented on #14356
@goldytech Please ask questions on #minikube slack.

[2022-10-28 09:21] RA489 commented on #13627
/kind support

[2022-10-28 09:22] RA489 commented on #13435
/remove-lifecycle stale

[2022-10-28 09:26] RA489 commented on #14679
/remove-lifecycle stale

[2022-10-28 09:26] RA489 commented on #14627
/remove-lifecycle stale

[2022-10-28 09:26] RA489 commented on #14560
/remove-lifecycle stale

[2022-10-28 09:27] RA489 commented on #14556
/remove-lifecycle stale

[2022-10-28 09:27] RA489 commented on #14536
/remove-lifecycle stale

[2022-10-28 09:28] RA489 commented on #14491
/remove-lifecycle stale

[2022-10-28 09:29] RA489 commented on #14067
/remove-lifecycle stale

[2022-10-28 09:29] RA489 commented on #13939
/remove-lifecycle stale

[2022-10-28 09:30] RA489 commented on #12456
/remove-lifecycle stale

[2022-10-28 13:50] bastosrafael opened #15233 "- /tmp/minikube_logs_ebe9aace0e5288a4491f46755c7e4561b9f8bec9_0.log"
 
**Os comandos necessários para reproduzir o problema**:
 
**A saída completa do comando que apresentou falha**: <details>

 - /tmp/minikube_logs_ebe9aace0e5288a4491f46755c7e4561b9f8bec9_0.log

</details>

**A saída do comando `minikube logs`**:<details>

</details>

**A versão do sistema operacional usado**:

[2022-10-28 19:32] ingeb0rga opened #15234 "libmachine: Error dialing TCP: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain"
### What Happened?

Can't start minikube cluster with docker driver.

### Attach the log file

* ==> Last Start <==
* Log file created at: 2022/10/28 22:27:48
Running on machine: fedora
Binary: Built with gc go1.19.1 for linux/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I1028 22:27:48.400897   98700 out.go:296] Setting OutFile to fd 1 ...
I1028 22:27:48.401305   98700

[2022-10-28 21:25] FrancoR3 opened #15236 "MINIKUBE START"
Creating virtualbox VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...
😿  Failed to start virtualbox VM. Running "minikube delete" may fix it: creating host: create: creating: Error setting up host only network on machine start: /usr/bin/VBoxManage hostonlyif ipconfig vboxnet3 --ip 192.168.99.1 --netmask 255.255.255.0 failed:
VBoxManage: error: Code E_ACCESSDENIED (0x80070005) - Access denied (extended

[2022-10-28 21:54] spowelljr opened #15237 "Unable to load cached images"
Occasionally when starting minikube I see the error:
`❌  Unable to load cached images: loading cached images: stat /Users/powellsteven/.minikube/cache/images/arm64/registry.k8s.io/kube-controller-manager_v1.25.3: no such file or directory`

I have two ideas of what's happening
1. `docker images` fails as docker may not have finished restarting
2. The preload untar/download is failing

I've unfortu

[2022-10-28 22:09] spowelljr commented on #15237
It seems the download is failing
[code]

[2022-10-28 22:18] spowelljr commented on #14960
The issue @conradwt is experiencing should be fixed with v1.27.0 with https://github.com/kubernetes/minikube/pull/14768.

The issue you're experiencing @kevin-dimichel is something else and I've seen it from time to time. I made an issue to track it https://github.com/kubernetes/minikube/issues/15237 so please follow along there, I'm going to close this issue.

[2022-10-28 22:18] #14960 closed

[2022-10-28 22:22] #12729 closed

[2022-10-28 22:27] spowelljr opened #15239 "Make ISO/Kicbase commit pushing more robust"
We had an issue where user created a PR and `ok-to-build-iso` was ran in it (https://github.com/kubernetes/minikube/pull/15232#issuecomment-1295528339). The bot commented that the commit was pushed, but there was no commit. Under further investigation the user made the PR from a fork under the org, but the script seems to assume that the user is using a fork under their own user and the branch cre

[2022-10-28 22:51] spowelljr commented on #15237
[code]
It wasn't downloaded on this start, and the previous start was fine, so between the previous start and delete the contents of the preload was wiped. I may have ctrl+C the previous run, can't remember, but might be part of the puzzle.

[2022-10-28 23:23] colossatr0n commented on #15224
I think I've figured out what was causing the DNS issues.

I tried switching over to k3d to see if I could isolate the problem and still ran into DNS issues. I'm using Docker Desktop and my Docker Engine config contained a `dns` entry. I removed that `dns` entry and no longer have any DNS issues.

[2022-10-28 23:23] #15224 closed

[2022-10-29 01:13] mehtamanan commented on #13872
I have the same issue. It only fails with `--driver=none` but works otherwise.

[2022-10-30 01:53] wshallum opened #15246 "minikube podman-env complains about cri-o runtime spelling"
### What Happened?

1. Start a cluster with `--container-runtime cri-o`
2. Run `minikube podman-env`
3. See an error message: `X Exiting due to MK_USAGE: The podman-env command is only compatible with the "crio" runtime, but this cluster was configured to use the "cri-o" runtime.`

It seems the code disagrees on how to spell CRI-O:

https://github.com/kubernetes/minikube/blob/074e681975c6c82deeebd

[2022-10-30 01:57] gobraves commented on #14477
fix my problem and it works.

[2022-10-30 18:09] jsamr commented on #14631
I could exactly reproduce this issue on a fresh EndeavourOS (Arch derivative) install, and I also reproduced on my Manjaro setup. It's working fine on Ubuntu 22.04. In the three cases, tested with version 1.27.1. @klaases [I can see you do functional tests on Ubuntu](https://github.com/kubernetes/minikube/actions/runs/3355491000), could you add an Arch-based workflow?

[2022-10-30 19:21] Ganesh-Ponipireddy opened #15247 "Unable to enable Ingress"
### What Happened?

<img width="904" alt="image" src="https://user-images.githubusercontent.com/48117290/198897414-611d2e51-4e0b-46c9-ab6e-482d851e4dfa.png">

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/9896656/logs.txt)
[logs2.txt](https://github.com/kubernetes/minikube/files/9896665/logs2.txt)

### Operating System

macOS (Default)

### Driver

_No response_

[2022-10-30 21:02] #15234 closed

[2022-10-30 22:32] mattduguid commented on #12876
I'm having similar issues after followed the same instructions from https://minikube.sigs.k8s.io/docs/handbook/addons/ingress-dns/ but im on an mac m1 chipset so installing hyperkit is not currently supported "hyperkit: The x86_64 architecture is required for this software."

i can see queries making it to the pod for ingress-dns but they always return empty results, any pointers appreciated

[cod

[2022-10-31 15:18] Technicalnikhi commented on #14410
minikube
type: Control Plane
host: Stopped
kubelet: Stopped
apiserver: Stopped
kubeconfig: Stopped
 getting error while checking status of minikube

[2022-10-31 16:11] spowelljr commented on #14410
Hi @Technicalnikhi, could you open a new issue and follow the template in the issue to upload all required logs, thanks

[2022-10-31 16:58] Bahador-Feizbakhsh opened #15250 "Unable to start minikube v1.27.1 using kubectl v1.25.3 on ubuntu 22.04"
### What Happened?

I am trying to start minikube on my ubuntu 22.04 and I keep getting errors. I tried both docker and virtualbox drivers and could not start minikube. The problem seems to be something with kubelet not being able to start. I have also had problem with getting logs using `minikube logs --file=logs.txt` so I added `--alsologtostderr` to `minikube start --driver=virtualbox` and atta

[2022-10-31 19:34] Ganesh-Ponipireddy commented on #13841
No, this didnot work for me.
<img width="739" alt="image" src="https://user-images.githubusercontent.com/48117290/199094141-a3d4c27f-4bbb-4261-b28b-7f02932fccd0.png">

[2022-10-31 19:50] shrutiebony commented on #13498
@alidurgun thanks. I was facing the same issue and your solution worked for me. But now it is using docker as the base container and not Hyperv, as I wanted it to use. Any idea how to use Hyperv as the base container without facing the same problem again.

[2022-11-01 00:08] mslearner opened #15257 "Unable to start minikube when supplying keys for token signing (OIDC)"
### What Happened?

When the following params are used, minkube fails to start

Trying to launch the local minikube after configuring federated identity
Steps To Reproduce
Here is the command -

'minikube start --extra-config="apiserver.service-account-issuer=https://oidcissuerc77f32fb.blob.core.windows.net/oidc-test/"
--extra-config="apiserver.service-account-signing-key-file=./sa.key"
--extra-co

[2022-11-01 03:41] minikube-bot opened #15258 "Frequent test failures of `TestAddons/parallel/CloudSpanner`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestAddons/parallel/CloudSpanner)|21.43|

[2022-11-01 03:49] pipixi opened #15259 "minikube start failed using hyper-v"
### What Happened?

**minikube version: v1.27.1**

**start command:**
[code]
**error:**
[code]

### Attach the log file

minikube vm log:
[journal.log](https://github.com/kubernetes/minikube/files/9906572/1.log)

### Operating System

Windows

### Driver

Hyper-V

[2022-11-01 04:01] pipixi commented on #15259
there are my docker images
[code]
i pulled k8s.gcr.io/pause:3.6 inside minikube vm,
[code]
then rerun  minikube start successfully

[code]
list containers after successfull:
[code]
but why minikube or kubernetes need two difference pause version? which one is right?

[2022-11-01 15:02] JayDew opened #15260 "dial tcp 127.0.0.1:41115 issue Minikube inside Docker"
### What Happened?

I am trying to run Minikube inside Docker. According to this post, it should be possible to do so:

https://stackoverflow.com/questions/53759814/docker-image-with-minikube-inside

(I use the exact same Dockerfile and commands)

When running
`minikube start --driver=docker --force --alsologtostderr
`

I get

`I1101 14:53:05.954178      20 main.go:134] libmachine: Error dialing T

[2022-11-01 16:23] medyagh commented on #15233
[bastosrafael](https://github.com/bastosrafael) the log file has not been attached, please drag and drop that file into this page

[2022-11-01 19:12] rahil-p opened #15263 "Improve formatting for documentation sidebar"
## Problem

The sidebar in the Minikube documentation is not formatted appropriately.  There are a couple of issues that stand out:
- The bullet/markers on parent pages disrupt the alignment of the content.
- The hierarchy is difficult to see because there is not enough left padding on child items.
- The Lora font is imported from Google Fonts with only the default font weight; the Docsy theme use

[2022-11-01 20:34] lucastheisen commented on #10908
Might be worth mentioning [the workaround](https://github.com/kubernetes/minikube/issues/10908#issuecomment-927095837)

[code]

Doesn't resolve the failure during `minikube delete`

[code]

[2022-11-01 21:36] lucastheisen opened #15265 "cri-dockerd system unit override assumes `/usr/bin/cri-dockerd` but install instructions from mirantis point to `/usr/local/bin/cri-dockerd`"
### What Happened?

The [template for cri-dockerd systemd override](https://github.com/kubernetes/minikube/blob/master/pkg/minikube/cruntime/docker.go#L700) uses a hard coded path:

[code]

Which differs from the install location suggested by the [cri-dockerd installation instructions](https://github.com/Mirantis/cri-dockerd#to-use-with-kubernetes), specifically, this part:

[code]

### Attach the

[2022-11-01 23:07] lucastheisen commented on #15265
You may be able to work around this by seeing what the `10-cni.service` that gets generated looks like then copying it to `11-cni.service` and changing the `/usr/bin/cri-dockerd` to `/usr/local/bin/cri-dockerd`.  This will work as long as the other templated values dont change...

[2022-11-02 03:25] pipixi commented on #15259
Related issue https://github.com/kubernetes/kubernetes/issues/110594

[2022-11-02 04:13] DatTrannn opened #15268 "Error running minikube on Ubuntu"
### What Happened?

Execution timeout

### Attach the log file

[Uploading logs.txt…]()

### Operating System

Ubuntu

### Driver

Docker

[2022-11-02 07:18] afbjorklund commented on #15265
Normally you would want to use the packages (like rpm), but as long as cri-dockerd requires horrible workarounds like hacking the `ExecStart` it should be able to cope with both...

It needs to read the value from any existing systemd unit, ideally it should not overwrite but replace as little as possible

[2022-11-02 07:21] afbjorklund commented on #15265
This will improve when there is a config file:

* https://github.com/Mirantis/cri-dockerd/issues/102

[2022-11-02 09:17] Technicalnikhi opened #15269 "minikube not starting showing below error"
### What Happened?

* minikube v1.27.1 on Ubuntu 18.04
* Using the none driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing none bare metal machine for "minikube" ...
* OS release is Ubuntu 18.04.6 LTS

X Exiting due to RUNTIME_ENABLE: Temporary Error: sudo crictl version: exit status 1
stdout:

stderr:
sudo: crictl: command not found

[2022-11-02 11:24] Whitroom opened #15270 "`minikube start --image-mirror-country=cn` failed"
Hi!

我刚刚入门Kubernetes，尝试使用minikube搭建简单的实验环境，在进行初始化的时候出现了这些问题，一开始查看日志的时候发现有些镜像在阿里云找不到，譬如：

I just got started with Kubernetes, tried to use `minikube` to build a simple experimental environment, and these problems occurred during initialization, and when I first checked the logs, I found that some images could not be found in Aliyun, for example:

`daemon lookup for registry.cn-hangzhou.aliyuncs.com

[2022-11-02 11:27] Whitroom commented on #15270
**`minikube logs --file=''`输出的文件内容/File content**:
<details>

==> Audit <==
|---------|---------------------------|----------|----------------|---------|---------------------|----------|
| Command |           Args            | Profile  |      User      | Version |     Start Time      | End Time |
|---------|---------------------------|----------|----------------|---------|---------------------|---

[2022-11-02 13:06] tomsucho opened #15271 "Fails to start, most likely related to Ubuntu updates"
### What Happened?

I recently updated my Ubuntu VM to **22.04.1 LTS** in which I use minikube and then it fails to start due to either of:
[code]
or
[code]
not sure how to fix those two without dropping the whole thing (had installed quite a few things on it and would like to keep it around)

### Attach the log file

[code]

### Operating System

Ubuntu

### Driver

Docker

[2022-11-02 14:36] #15263 closed

[2022-11-02 15:04] spowelljr commented on #15191
The root of the problem is that we don't have `containerd-fuse-overlayfs` installed. I'll make two PRs, one will comment out the lines setting snapshotter to `containerd-fuse-overlayfs` as a short-term fix. The second PR will install `containerd-fuse-overlayfs`.

[2022-11-02 15:50] ruby-white-ai opened #15273 "Fail to start minikube on apple m1 arm64"
### What Happened?

~ % minikube start --image-mirror-country='cn' --image-repository='registry.cn-hangzhou.aliyuncs.com/google_containers'
😄  Darwin 12.3 (arm64) 上的 minikube v1.27.1
✨  自动选择 docker 驱动
✅  正在使用镜像存储库 registry.cn-hangzhou.aliyuncs.com/google_containers
📌  Using Docker Desktop driver with root privileges
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image

[2022-11-02 17:19] mensis-labs commented on #15045
sry for my delay.
Yes @medyagh I'm referring to gcp-auth addon.
Yes @klaases that's the doc I've read

The steps I made were like that (for the parte were I couldn't make it work):

- access a gcp project where my built images were
- create a service account
- give it artifact registry reader permission
- get it's json key
- test it on other external gcp project to see if it can access my images
-

[2022-11-02 17:49] andriymahats opened #15274 "virtualbox: unable to start minikube on macOS Ventura"
### What Happened?

After upgrading macOS to Ventura from Monterey the minikube start started to fail with the response:

[code]

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/9922957/log.txt)

### Operating System

macOS (Default)

### Driver

VirtualBox

[2022-11-02 18:16] eric-saintetienne commented on #14647
Using minikube v1.27.1 on Linux (Fedora 36 with SELinux disabled), I've ran the following commands:
[code]
minikube is stuck on `Verifying proxy health`. Please find the logs attached: [logs.txt](https://github.com/kubernetes/minikube/files/9923089/logs.txt)

[2022-11-02 19:09] criztovyl commented on #15191
Note that for my setup that would not be required, my kernel is recent enough to not require containerd-fuse-overlayfs :) I think the second PR should thus "simply" take the `overlayfs_prefarable` check into account for `fuseblk`.

[2022-11-02 20:19] infiniteregrets commented on #4353
Facing same issue, just followed the exact steps as mentioned in this blog https://medium.com/@HoussemDellai/rbac-with-kubernetes-in-minikube-4deed658ea7b and came across this error when trying to list the namespaces

[2022-11-02 22:33] mgabeler-lee-6rs commented on #14724
/remove-lifecycle stale

The PRs are still going, this is still an issue

[2022-11-03 07:10] ganeshsnp987 opened #15275 "Minikube issue"
### What Happened?

[logs.txt](https://github.com/kubernetes/minikube/files/9926191/logs.txt)
Please check. Minikube unable to start

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/9926196/logs.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-11-03 07:47] longwuyuan commented on #8331
/close

[2022-11-03 07:47] #8331 closed

[2022-11-03 08:33] kertzi commented on #8997
Hello,
I'm hitting this kind of issue also.
I'm not in China but in Europe. I have latest 1.27.1 minikube.

I have tried `minikube delete --all --purge`
and then `minikube start --driver=podman --container-runtime=containerd`

My OS is Linux, Manjaro

It looks like some of layers failed to download
`Failed, retrying in 1s ... (1/3). Error: copying system image from manifest list: reading blob sha2

[2022-11-03 10:32] ykk0612 opened #15276 "start fail with macos13.0"
**重现问题所需的命令**：minikube start --driver=hyperkit --network-plugin=cni --cni='calico' --extra-config=kubelet.cgroup-driver=systemd --image-mirror-country='cn' --registry-mirror=https://registry.docker-cn.com --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers --insecure-registry=harbor.k8s.local,registry.k8s.local --cpus='max' --container-runtime='containerd' --disk-size='50gb' --m

[2022-11-03 20:55] spowelljr opened #15277 "Addon specific messages not output with `--addons` flag"
We have custom messaging to inform the user when enabling specific addons using `minikube addons enable <addon>`

For example:
[code]

But when passing the addon on start with the `--addons` flag, the message is not output.

For example:
[code]

[2022-11-03 23:01] crengifo commented on #15274
same issue, i've tried minikube delete and start and update virtualbox and nothing...

[2022-11-03 23:11] spowelljr opened #15280 "`efk` addon image contains Log4j CVEs"
The `efk` addon contains the image `k8s.gcr.io/elasticsearch:v5.6.2@sha256:7e95b32a7a2aad0c0db5c881e4a1ce8b7e53236144ae9d9cfb5fbe5608af4ab2`

This image contains Log4j CVEs
[code]

- [ ] Prevent users from enabling the addon
- [ ] Look into updating the images

[2022-11-04 00:20] neilspage2 opened #15282 "Solved"
-solved-

[2022-11-04 04:54] sahaparamjit opened #15283 "Error when running minikube addons enable ingress"
### What Happened?

[minikube_addons_662024654e2182d871f968ab4fd759958265aefe_1.log](https://github.com/kubernetes/minikube/files/9935110/minikube_addons_662024654e2182d871f968ab4fd759958265aefe_1.log)

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/9935115/logs.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-11-04 16:39] #15237 closed

[2022-11-04 16:40] hakjoonglee commented on #15274
Same issue. I also tried minikube delete and start and updated VirtualBox version 7.0.2

[2022-11-04 17:56] srasahu opened #15287 "Unable to start Minikube"
### What Happened?

Unable to start Minikube.. Getting error.'

### Attach the log file

my-ubuntu-HELM-v3-minikube:~$ minikube start --v=5
* minikube v1.13.0 on Ubuntu 18.04 (vbox/amd64)
* Using the docker driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Updating the running docker "minikube" container ...
* Preparing Kubernetes v1.19.0 on Docker 19.03

[2022-11-04 19:43] TestRep1 commented on #15274
i have exactly the same issue.. Has anyone found a solution to this problem?

[2022-11-04 20:26] MRIservice commented on #13435
I did not have this issue until I started building docker images and pushing them to docker hub.
It appears that docker takes out VirtualBox.

reboot
minikube delete
minikube start

After losing docker everything all works

[2022-11-04 20:44] MRIservice commented on #13435
I did not have this issue until I started building docker images and pushing them to docker hub.
It appears that docker takes out VirtualBox.

reboot
minikube delete
minikube start

After losing docker everything works

[2022-11-04 23:41] minikube-bot opened #15294 "Frequent test failures of `TestStartStop/group/default-k8s-diff-port/serial/AddonExistsAfterStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/default-k8s-diff-port/serial/AddonExistsAfterStop)|100.00|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestStartStop/group/default-k8s-diff-port/serial

[2022-11-04 23:41] minikube-bot opened #15295 "Frequent test failures of `TestStartStop/group/default-k8s-diff-port/serial/EnableAddonWhileActive`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/default-k8s-diff-port/serial/EnableAddonWhileActive)|100.00|

[2022-11-04 23:41] minikube-bot opened #15296 "Frequent test failures of `TestStartStop/group/default-k8s-diff-port/serial/Pause`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/default-k8s-diff-port/serial/Pause)|100.00|

[2022-11-04 23:41] minikube-bot opened #15297 "Frequent test failures of `TestStartStop/group/default-k8s-diff-port/serial/VerifyKubernetesImages`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/default-k8s-diff-port/serial/VerifyKubernetesImages)|100.00|

[2022-11-05 00:39] #13292 closed

[2022-11-05 08:34] AhmedMohamedEid opened #15298 "Unable to scale down deployment "coredns" in namespace "kube-system" to 1 replica: timed out waiting for the condition"
### What Happened?

After install Kubernetes and when get run this to start minikube

`minikube start`
# Output
[code]

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/9943380/log.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-11-05 09:58] mudassirsyed39 commented on #14676
Thanks a lot, that solved the problem.

[2022-11-05 16:05] hanseltime commented on #11107
Thank you for pushing an image that works for the architecture.  Would love to see this repo added to the k8s docks/registry

[2022-11-05 17:09] csantanapr opened #15300 "qemu with socket_vmnet not working on macos m1"
### What Happened?

Trying the new feature to avoid having `minikube tunnel`

Using macbook m1

Followed the instructions https://minikube.sigs.k8s.io/docs/drivers/qemu/
Install vmnet
[code]
Had problems dhcp_leases file not found then try workaround
[code]
reboot
[code]

Then try again
[code]

Made sure no weird DNS in host `/etc/resolv.conf`

### Attach the log file

Error
[code]
[log.txt](https

[2022-11-05 22:24] mprimeaux commented on #15300
@csantanapr Thanks for opening the issue.

I've been using Minikube 1.28.0 today on my Mac Studio (M1 Ultra) with the `--network socket_vmnet` option and it has been working without any noticeable issue.

I am curious as to your local network configuration in that the logs appear to indicate there are no more DHCP leases available. Would you mind reviewing [this](https://minikube.sigs.k8s.io/docs/

[2022-11-05 23:13] gbenga2686 opened #15301 "Exiting due to RUNTIME_ENABLE: Temporary Error: sudo crictl version: exit status 1"
### What Happened?

Exiting due to RUNTIME_ENABLE: Temporary Error: sudo crictl version: exit status 1

### Attach the log file

Exiting due to RUNTIME_ENABLE: Temporary Error: sudo crictl version: exit status 1

stderr:
sudo: crictl: command not found

### Operating System

Ubuntu

### Driver

None (Baremetal)

[2022-11-05 23:39] imjoseangel opened #15302 "Qemu doc typo `Reinsitall` and better formatting"
### What Happened?

Typo on documentation. Review titles formatting

### Attach the log file

minikube/site/content/en/docs/drivers/qemu.md

### Operating System

_No response_

### Driver

_No response_

[2022-11-06 02:11] r-matsuzaka opened #15304 "When using --kvm-gpu: ❌ Exiting due to GUEST_KVM2_NO_DOMAIN"
### What Happened?

I could start minikube without `--kvm-gpu` but if I add it then I got the errors as `Exiting due to GUEST_KVM2_NO_DOMAIN`.

I already read https://minikube.sigs.k8s.io/docs/tutorials/nvidia_gpu/

I also ran
[code]
But I got the same error.  Is it correct to run in the terminal?

### Attach the log file

I cannot create and attach log file due to the issue.

### Operating System

[2022-11-06 05:48] Kart121 opened #15305 "Exiting due to GUEST_PROVISION"
### What Happened?

I was trying to rub minikube using kv2 but while installing i am getting this error
![image](https://user-images.githubusercontent.com/72903849/200156289-a6541ebc-d2d4-4576-a907-12eb22254ce0.png)

i dont know what to do ?

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/9945220/logs.txt)

### Operating System

Other

### Driver

KVM2

[2022-11-06 09:37] Kart121 commented on #15305
this was solved after giving permission at /var/kvm
`sudo chmod +666 /dev/kvm'

and  /var/run/libvirt/
using `sudo chmod -R +777 libvirt`

[2022-11-06 09:37] #15305 closed

[2022-11-06 17:16] fritz-net commented on #12677
I have the same issue on windows with hyper-V:

[code]

```CurrentVersion: v1.28.0```

[2022-11-06 18:19] yngfoxx commented on #8330
I had issue with PVC so I ran `kubectl describe pvc` and discovered it was a problem with the storageClassName I used
so I updated the storageClassName in my statefulset yaml to use the default available in minikube. To see the default run
[code]
![image](https://user-images.githubusercontent.com/47150226/200187968-120bcaf7-c287-4b71-bcba-0d15349743f1.png)

Then I replaced accordingly
![image](htt

[2022-11-06 23:03] neilspage2 commented on #15282
Solved - it wasn't to do with minikube, rather the host itself.

I tried it on another host it worked, probably due to host dns.

[2022-11-07 00:41] #15193 closed

[2022-11-07 00:55] crengifo commented on #15274
Update 7.12 virtual box, solved the problem for me

[2022-11-07 01:14] Whitroom commented on #15270
通过自己一段时间的Debug，这个问题已经解决了，将`kubernetes`的版本设置为`1.23.0`即可。启动命令如下：
[code]

[2022-11-07 01:14] #15270 closed

[2022-11-07 01:14] Whitroom commented on #15270
阿里云提供的kubernetes镜像只能支持1.23.0

[2022-11-07 08:25] stepaniukm opened #15307 "Errors while docker daemon isn't running."
### What Happened?

I'm working normally on Kubernetes with `minikube`, but when I'm finished and I run `minikube stop` I expect it to to be stopped and doesn't bother me with some nonsense errors. I mean after I'm done I'm closing all docker services (in my case it's docker desktop) and after this whenever I create a new session in my terminal I get the following error. Like it's for me unexpecte

[2022-11-07 09:22] hyorimitsu commented on #10245
I am facing the same issue in the following environments.

[code]

and

[code]

[2022-11-07 11:03] stepaniukm commented on #15307
Nevermind I forgot `aliases` in zsh are not lazy and I created alias for creating local minikube docker registry, after changing it to the `function` obviously works.

[2022-11-07 11:03] #15307 closed

[2022-11-07 13:34] spowelljr commented on #15282
Glad you got it working!

[2022-11-07 13:34] #15282 closed

[2022-11-07 13:36] spowelljr commented on #15276
@ykk0612 Did you run the following command?

@ykk0612 您是否运行了以下命令?
[code]

[2022-11-07 13:37] spowelljr commented on #15287
Hi @srasahu, minikube v1.13.0 is very old, please update to [minikube v1.28.0 ](https://github.com/kubernetes/minikube/releases/tag/v1.28.0) then run `minikube delete` and then try starting again.

[2022-11-07 13:39] spowelljr commented on #15301
Hi @gbenga2686, `crictl` is a requirement listed in our documentation for the none driver, please install it and then try starting minikube again.

https://minikube.sigs.k8s.io/docs/drivers/none/#requirements

[2022-11-07 13:43] spowelljr commented on #15298
Hi @AhmedMohamedEid, minikube just added support for Docker Desktop Linux with v1.28.0, could you update, run `minikube delete` and then try starting again.

[2022-11-07 14:04] spowelljr commented on #15274
@crengifo So it's working for you now on macOS Ventura with VirtualBox 7.02?

[2022-11-07 14:32] dawnliliming commented on #4172
It's working for me, many thanks!!!

[2022-11-07 15:17] andriymahats commented on #15274
hmm, tried to reinstall latest virtual box (7.0.2 r154219). Issue remains for me

[2022-11-07 16:16] crengifo commented on #15274
Yes, reinstalling obviously.

[2022-11-07 17:07] jqueuniet commented on #15173
Same issue here, I guess this is related to the removal of `EndpointSlice` from `discovery.k8s.io/v1beta1` following the move to GA?

[2022-11-07 18:46] Aut0R3V commented on #13487
Hey, anyone working on this?

[2022-11-07 18:46] medyagh opened #15316 "make sure minikube auto-selects Qemu Driver when Docker is not running and qemu is installed"
### What Happened?

on MacOs M1 right now if I close docker minikube will not Choose Qemu as a
driver ( most probably because we have marked it as experimental)

[code]

### Attach the log file

n/a

### Operating System

_No response_

### Driver

_No response_

[2022-11-07 18:49] afbjorklund commented on #15275
`sudo: crictl: command not found`

Please install crictl, https://minikube.sigs.k8s.io/docs/drivers/none/

[2022-11-07 18:51] afbjorklund commented on #15265
Easiest workaround meanwhile is just to remove the absolute path, and call the command

[2022-11-07 18:52] csantanapr commented on #15300
@mprimeaux @spowelljr

I tried all workarounds, including all the ones mentioned in the doc like uninstalling and rebooting still doesn't work for me 😢

[2022-11-07 18:59] mprimeaux commented on #15300
@csantanapr Well, that's certainly less than ideal 😞

Would you mind posting the output of `minikube config view` and also trying the following?

From the `socket_vmnet` repo root:

[code]

I'm curious if bridged mode changes anything. Note, you might need to change the value `en0` if you're only on WiFi or have multiple ethernet adapters.

[2022-11-07 20:46] csantanapr commented on #15300
Hi @mprimeaux I'm using both wifi and ethernet, your saying to configure it with ethernet interface?

[2022-11-07 21:28] medyagh opened #15318 "qemu driver: could not find an IP address for 32:d1:26:dd:2a:8a"
### What Happened?

qemu m1
here is content of my /var/db/dhcpd_leases
[code]

### Attach the log file

[code]

### Operating System

_No response_

### Driver

_No response_

[2022-11-08 01:15] csantanapr commented on #15300
Tried again uninstall and install with BRIDGED=en0
[code]

The `minikube config view` is empty

[2022-11-08 02:27] mprimeaux commented on #15300
Hi @csantanapr. Thanks for trying that option. I suspected you'd end up with the same failure. I'll debug a bit on my end.

[2022-11-08 02:55] senthilkumaravelu opened #15319 "Getting Minikube error while starting it"
### What Happened?

When i am trying to start minikube using below command

sudo minikube start --vm-driver=none

i am getting error and the log file is attached here

### Attach the log file

[](url)
[logs.txt.txt](https://github.com/kubernetes/minikube/files/9957231/logs.txt.txt)

### Operating System

Ubuntu

### Driver

_No response_

[2022-11-08 04:07] ianw opened #15320 "Can not set --cni-bin-dir for packaged containernetworking-plugins on Ubuntu Focal when using cri-dockerd"
I am trying to update our CI jobs to use Ubuntu Focal and hitting issues with networking not starting.  After some fiddling, I believe the problem is coming down to ```cri-dockerd``` starting with the wrong CNI arguments.

On Ubuntu Focal, ```containernetworking-plugins``` is a system package and puts the binaries in ```/usr/lib/cni``` -- see https://packages.ubuntu.com/focal/amd64/containernetwor

[2022-11-08 07:53] mstruser commented on #13626
Hi @spowelljr

I and few of my team members having the similar issue:

Preparing Kubernetes v1.25.3 on Docker 20.10.20 ...
    ▪ Generating certificates and keys ...
    ▪ Booting up control plane ...
💢  initialization failed, will try again: wait: /bin/bash -c "sudo env PATH="/var/lib/minikube/binaries/v1.25.3:$PATH" kubeadm init --config /var/tmp/minikube/kubeadm.yaml  --ignore-preflight-errors=

[2022-11-08 09:40] tomsucho commented on #15271
so it would look like the main culprit here was the expired certs, and nothing to do with Ubuntu upgrade - it looks like the certs are only valid 1y and then minikube fails to renew them automatically. I did it manually with openssl and then it come up fine finally but it come up pretty much empty i.e. only the default stuff was on it and none of the things I installed in it over the last year.. C

[2022-11-08 10:15] Aut0R3V commented on #15277
Hey @spowelljr if you could tell me how to achieve this, I'm ready to work on this.

[2022-11-08 15:11] tfrenz010900 opened #15321 "KVM Child process has unexpectedly exited"
### What Happened?

This week we rolled out some upgrades...and all systems worked but two.  Both had this on our Ubuntu monitor and the monitor can not be used.  A reboot give me the same spot.

Can you help a newbee?  How do I get tell what is causing this?  How do I stop or start the child process?
My only fix now is to reimage the Intel nuc, but that seems pretty clunky.

Any help would be gre

[2022-11-08 16:20] #12946 closed

[2022-11-08 16:50] afbjorklund commented on #15320
If we upgrade cri-dockerd, then we don't have to set the default values anymore...

https://github.com/Mirantis/cri-dockerd/commit/e2666520e25cb302b9b1d231a63699c2338b8567

But it is **all** handled by flags at the moment, there is no configuration file for it (yet)

* https://github.com/Mirantis/cri-dockerd/issues/102

[2022-11-08 17:01] afbjorklund commented on #15320
I think we talked about this earlier, it depends on if you use a binary package or if you do a manual installation.

* https://github.com/kubernetes/minikube/issues/15265

[2022-11-08 17:20] afbjorklund commented on #15320
This might work, perhaps ? /etc/systemd/system/cri-docker.service.d/11-local.conf

I think systemd resolves them in alphabetical order, and that you can override twice ?

[2022-11-08 17:23] kloseliebej commented on #15316
Qemu is not being picked because its priority is labeled as "experimental" and is lower than the pick priority https://github.com/kubernetes/minikube/blob/8bd593b4338f473e2138c68668847b21e7e283b7/pkg/minikube/driver/driver.go#L308

Two options here to improve user experience:
1. Add experimental drivers to the logs as well, like the unhealthy and uninstalled drivers here https://github.com/kuberne

[2022-11-08 19:19] medyagh commented on #15316
I think we can move the Qemu out of experimental but the priority still should be less than docker, so it should be picked only if Docker Driver is not available or healthy

[2022-11-08 19:53] kash7 opened #15322 "Getting an Error while starting minikube"
### What Happened?

==> Docker <==
-- Logs begin at Tue 2022-11-08 19:40:59 UTC, end at Tue 2022-11-08 19:44:49 UTC. --
Nov 08 19:41:00 minikube dockerd[215]: time="2022-11-08T19:41:00.355489935Z" level=info msg="Loading containers: done."
Nov 08 19:41:00 minikube dockerd[215]: time="2022-11-08T19:41:00.405528855Z" level=info msg="Docker daemon" commit=75249d8 graphdriver(s)=overlay2 version=20.10

[2022-11-08 22:01] christianh814 commented on #6403
I've done it using `json` type patching that's a little easier

[code]

[2022-11-09 02:45] medyagh opened #15323 "Qemu driver with socket_vmnet not access to internet"
### What Happened?

I got minikube start error that saying it can not connect to GCR
[code]

### Attach the log file

[lastStart.txt](https://github.com/kubernetes/minikube/files/9966849/lastStart.txt)

### Operating System

_No response_

### Driver

_No response_

[2022-11-09 03:30] c1ay commented on #14624
works for me
[code]

[2022-11-09 04:31] ghost opened #15324 "Ingress DNS"

[2022-11-09 06:38] afbjorklund commented on #15320
There has been some talk in kubernetes (upstream), if it should use standard location and not mandate weird `/opt` locations.

But since neither CRI nor CNI is part of the project anymore, but relying on third parties and committee, progress is slow...

We still have the problem that you can't install both podman3 and kubernetes at the same time, since the config conflicts.

Other runtimes have "s

[2022-11-09 06:43] afbjorklund commented on #15320
Like so: (`--pod-infra-container-image=registry.k8s.io/pause:3.8`)

* https://github.com/kubernetes/minikube/pull/14703

[2022-11-09 07:19] techxplrorer commented on #13872
![image](https://user-images.githubusercontent.com/110323999/200764180-16b216a7-59d0-4055-b1f4-fd6689da344c.png)

idris@xplorer:~$ kubectl describe pods ingress-nginx-controller-755dfbfc65-s68pr -n ingress-nginx
Name:             ingress-nginx-controller-755dfbfc65-s68pr
Namespace:        ingress-nginx
Priority:         0
Service Account:  ingress-nginx
Node:             minikube/192.168.58.2
Star

[2022-11-09 07:28] dduyngo opened #15325 "minikube addons enable ingress Error: /var/lib/minikube/binaries/v0.0.0/kubectl: command not found"
### What Happened?

Hello, I ran into an issue trying to enable ingress on my local Minikube.
Below is my full output:

💡  ingress is an addon maintained by Kubernetes. For any concerns contact minikube on GitHub.
You can view the list of minikube maintainers at: https://github.com/kubernetes/minikube/blob/master/OWNERS
    ▪ Using image ingress-nginx/controller:v0.49.3
    ▪ Using image docker.io

[2022-11-09 07:57] qwe125397 opened #15326 "minikube tunnel shut down unexpectly，and cannot restart the tunnel(another tunnel is already running, shut it down first)"
**重现问题所需的命令**：minikube tunnel

**失败的命令的完整输出**：<details>
Exiting due to SVC_TUNNEL_START: error creating tunnel: another tunnel is already running, shut it down first: ID { Route: 10.96.0.0/12 -> 192.168.49.2, machineName: minikube, Pid: 139401 }

╭───────────────────────────────────────────────────────────────────────────────────────────╮
│

[2022-11-09 09:26] TimekillerTK commented on #5594
This fixed it for me.

I had the same issue `getting MAC address from UUID: vmnet: error from vmnet.framework: -1` after updating a bunch of packages on my system.

[2022-11-09 14:42] ckannon opened #15327 "Update check_install_gh.sh to actually check the gh version and update as required."
### What Happened?

Currently check_install_gh doesn't actually check, it just reinstalls gh every time.. this means it can't be included in multiple scripts without reinstalling gh over and over. Also, it installed a pinned version instead of auto-updating to latest. Both of these artifacts should be fixed.

### Attach the log file

N/A

### Operating System

macOS (Default)

### Driver

Docker

[2022-11-09 14:44] spowelljr commented on #13872
`rpc error: code = Unknown desc = context deadline exceeded` this is a sign that the operation is taking longer than 2 minutes. The image `k8s.gcr.io/ingress-nginx/controller:v1.2.1@sha256:5516d103a9c2ecc4f026efbd4b40662ce22dc1f824fb129ed121460aaa5c47f81` is not huge, but on a machine which slow internet it's possible it's taking longer than 2 minutes to download it.

Could you try running `time d

[2022-11-09 14:51] spowelljr commented on #15318
Did you do a delete before this? Because if it was an existing instance and your socket_vmnet was broken the first time it would keep trying to use the same MAC address, but it wouldn't exist.

[2022-11-09 16:42] senthilkumaravelu opened #15330 "minikube start error"
### What Happened?

I am not using HyperKit driver. As indicated earlier i starting minikube using below command

sudo minikube start --vm-driver=none

I am doing this in AWS , EC2 environment.

### Attach the log file

I am using AWS , EC2 to run minikube and i am getting attached log error
[logs.txt.txt](https://github.com/kubernetes/minikube/files/9973199/logs.txt.txt)

### Operating System

Ub

[2022-11-09 17:16] hercial61 opened #15333 "[waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]"
### What Happened?

 C:\Users\herci\AppData\Local\Temp\minikube_addons_99e082e35f9566e67c4d6134d1c5baf900f461cc_0.log

### Attach the log file

 C:\Users\herci\AppData\Local\Temp\minikube_addons_99e082e35f9566e67c4d6134d1c5baf900f461cc_0.log

### Operating System

Windows

### Driver

Docker

[2022-11-09 17:33] afbjorklund commented on #15316
It should probably also stay below libvirt/hyper-v/hyperkit (for now), so changing from "experimental" to "default" is enough

[2022-11-09 18:19] Phelan164 commented on #14789
@afbjorklund I used Minikube version on Mac M1
[code]
Start with `minikube start  --cni=bridge`
But I still got a timeout error with the below docker image (~12GB)
<img width="1075" alt="image" src="https://user-images.githubusercontent.com/2509508/200909569-43318eac-b48a-4c92-8718-4f08096f09a8.png">
Do you have any suggestions for that?

[2022-11-09 19:02] medyagh commented on #15323
very interestingly (today) after a laptop sleep/unsleep I see minikube start without any issues. and I did not change anything on my end

[2022-11-09 19:33] afbjorklund commented on #14789
It is waiting on this PR:

* https://github.com/kubernetes/minikube/pull/14827

[2022-11-09 20:36] nrudnyk commented on #15274
didn't helped. Still facing same problem as described in the OP

[2022-11-09 23:12] medyagh opened #15335 "cloud spanner addon doesnt work on arm64"
### What Happened?

it seems like the image is not built multi arch

### Attach the log file

[code]

### Operating System

_No response_

### Driver

_No response_

[2022-11-09 23:23] medyagh commented on #15335
seem like we need to use this image
https://github.com/GoogleCloudPlatform/cloud-spanner-emulator/issues/84#issuecomment-1261890968

[2022-11-09 23:35] #14314 closed

[2022-11-09 23:35] #14288 closed

[2022-11-09 23:35] #14309 closed

[2022-11-09 23:36] #14193 closed

[2022-11-09 23:36] #14222 closed

[2022-11-09 23:36] #14106 closed

[2022-11-10 00:08] medyagh opened #15338 ""minikube cp" dosnt work if you dont give full file name in destination"
### What Happened?

if you do
[code]
it wont work

but if you do
[code]
it works

we should either support it or let the user they need to specify the full destination file name

more logs

[code]

[2022-11-10 02:24] leqii-com commented on #1990
其他都正常，pod启动不了，有知道解决办法的吗？pod报错如下：
/opt/bitnami/scripts/librediscluster.sh: line 202:
/bitnami/redis/data/nodes.sh: Permission denied

[2022-11-10 07:01] rprodan commented on #14222
@klaases I switched to **hyperv** driver after several unsuccessfull atempts to stabilize fast Minikube startup with **virtual box** driver.

[2022-11-10 13:28] pavanjava commented on #651
C:\Users\~\kubernetes-configs>minikube dashboard
* Verifying dashboard health ...

C:\Users\~\kubernetes-configs>minikube dashboard --url
* Verifying dashboard health ...

C:\Users\~\kubernetes-configs>

For me nothing happens the prompts are as above any one solved this error ? i am on windows 10 with minikube version: v1.28.0

[2022-11-10 13:46] ayush14rastogi commented on #15338
can you please assign this issue to me.

[2022-11-10 17:12] techxplrorer commented on #13872
@spowelljr Hey! Thanks for your quick response and I followed your steps as below yet it fails to pull the image.

Time taken to pull image
![image](https://user-images.githubusercontent.com/110323999/201160924-010e26df-ba3e-4435-abbd-e0414519633d.png)

Deleted minikube cluster and increases timeout to 5 mins & 10 mins
![image](https://user-images.githubusercontent.com/110323999/201161266-a6f47e0c

[2022-11-11 11:51] NimishKashyap commented on #15338
I can work on this issue.

[2022-11-11 16:39] Tony-Sol opened #15346 "Minikube's kubectl version mismatched with installed one"
### What Happened?

<img width="940" alt="Screenshot 2022-11-11 at 19 09 40" src="https://user-images.githubusercontent.com/33671815/201387075-4301bb37-dafc-4fd5-ad69-5134438eef24.png">

Looks like minikube cannot start because of fails versions check

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/9991687/log.txt)

### Operating System

macOS (Default)

### Driver

[2022-11-11 20:58] #14257 closed

[2022-11-11 21:22] medyagh commented on #15346
@Tony-Sol Kubectl mismatch means u are having a different kubectl on ur laptop and minikube downlaoded a newer version
that shouldn't be a problem

I see in the logs:
[code]

mind sharing why you use stargz storage driver?

[2022-11-11 21:52] pyangzen commented on #13717
I believe this is related to the issue: https://github.com/kubernetes/minikube/issues/11510

[2022-11-12 06:45] jonathanjsmith commented on #15338
/assign

[2022-11-12 07:05] Surjendu78 opened #15348 "virtualbox"

[2022-11-12 07:06] Surjendu78 commented on #15348
virtual box not found

[2022-11-12 07:07] sahaparamjit commented on #15283
/assign

[2022-11-12 12:30] xueh007 commented on #14477
On macos, same issue. And it fix my problem. Further more, I try with kubernetes verison of 1.25.x and 1.24.x, no one works. Only version 1.23.x works.

[2022-11-12 19:08] #14074 closed

[2022-11-13 07:47] MahmoodKamali opened #15350 "minikube not able to download gcr images in Iran"
### What Happened?

This is a big shame on Google due to blocking Minikube to Iranians for ridiculous reasons while this tool is free payment. I, as an Iranian, ask only one question. Why this tool is blocked?

SHAME ON YOU GOOGLE

### Attach the log file

no log

### Operating System

_No response_

### Driver

_No response_

[2022-11-13 11:18] #14308 closed

[2022-11-13 11:21] HongyanShen opened #15351 "Minikube starts failed"
### What Happened?

![image](https://user-images.githubusercontent.com/8794555/201518917-0145bbdc-a0c7-4710-a1d1-da18c42e50be.png)

OS: Ubuntu 20.04 LTS(WSL2)

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/9997046/logs.txt)
[minikube_dashboard_b80784a499f6c9d0298d52006010f3f2963d4d6c_0.log](https://github.com/kubernetes/minikube/files/9997047/minikube_dashboard_b

[2022-11-13 17:31] damianobarbati commented on #12876
@bound2 the snippet you provided is not working, at least not on MacOS Ventura: the ping  / curl command hang.
[code]

Both ping and curl hang, do you have any suggestion? 😔

I can see the resolve listed:
[code]

[2022-11-13 17:33] sftim opened #15352 "Image fetched from GCR container image registry"
### What Happened?

All (?) container images should come from `registry.k8s.io` per #14769

However, Minikube is using GCR for its own images such as `gcr.io/k8s-minikube/storage-provisioner` and `gcr.io/k8s-minikube/kicbase`.

/kind bug
I think (not sure)

### Attach the log file

[`log.txt`](https://github.com/kubernetes/minikube/files/9997866/log.txt)

### Operating System

Ubuntu

### Driver

[2022-11-13 18:11] pmacn commented on #8512
Network adapter was my issue too. Had forgotten I had changed my motherboard so that the old adapted was no longer valid.

[2022-11-14 02:20] jimlindeman commented on #13370
FYI, with minikube against virtualbox backend, we've also seen that we've had to have 2 replicas of a pod in order for the code in the pod to access its own service-url.  This seemed to be a iptables-based implementation of services limitation where a given pod couldn't redirect to itself.

[2022-11-14 06:55] vadasambar opened #15354 "Can't access internet from inside pods in `docker` and `virtualbox` driver (coredns prints `[ERROR] plugin/errors: 2 ... HINFO: read udp 172.17.0.2:40058->192.168.58.1:53: i/o timeout`)"
### What Happened?

When I start a minikube cluster with `docker` or `virtualbox` driver, minikube is able to pull images from the internet but the pods are not able to access the internet.
I ran `dnsutils` pod [from K8s docs](https://k8s.io/examples/admin/dns/dnsutils.yaml)
When I try `apt install curl` in dnsutils pod I get the following error in the pod
![image](https://user-images.githubuserco

[2022-11-14 06:58] vadasambar commented on #15354
If the information is not sufficient, please let me know :pray: I will add more info. This started happening recently (past couple of weeks). It might be because there is some problem with my local setup (I tried re-installing minikube to no avail) but I am not sure what.

[2022-11-14 09:34] rreddy78 commented on #15047
I got the same problem running on Ubuntu 20.04.

  This container is having trouble accessing https://registry.k8s.io
💡  To pull new external images, you may need to configure a proxy: https://minikube.sigs.k8s.io/docs/reference/networking/proxy/

[2022-11-14 09:49] damianobarbati commented on #13260
@getkub and how are you managing your local kube cluster? can you give some indication?

I'm having hard times trying to host based routing working both on my imac (intel) and macbook (silicon), what a mess.

[2022-11-14 11:04] Vibano007 opened #15355 "Could not start minikube"
### What Happened?

Could not start minikube despite proper installation

### Attach the log file

* ==> Last Start <==
* Log file created at: 2022/11/14 10:59:49
Running on machine: ip-172-31-17-178
Binary: Built with gc go1.19.2 for linux/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I1114 10:59:49.425502   14446 out.go:296] Setting OutFile to fd 1 ...
I1114 10:59:49.

[2022-11-14 13:15] Tony-Sol commented on #15346
Disabling this experimental feature helps to start minikube
<img width="952" alt="Снимок экрана 2022-11-14 в 16 13 20" src="https://user-images.githubusercontent.com/33671815/201669165-6909ee0f-02b1-4afb-aa9a-4493f5b725ef.png">

But still there is a problem of versions mismatch - why does minikube download another kubectl if it is already exist?

[2022-11-14 16:19] afbjorklund commented on #15352
Note that most of the minikube installations will pull the images from GCS and **not** from GCR, as part of the "preload" :

https://storage.googleapis.com/minikube-preloaded-volume-tarballs/v18/v1.25.3/preloaded-images-k8s-v18-v1.25.3-docker-overlay2-amd64.tar.lz4

[code]

The duplicate "pause" is a bug, to be fixed with cri-dockerd config.

386M	.minikube/cache/preloaded-tarball/preloaded-images

[2022-11-14 17:54] #14728 closed

[2022-11-14 17:54] #15050 closed

[2022-11-14 17:54] #15099 closed

[2022-11-14 19:13] W07FP4X commented on #15274
Same.  Host only adapters are no longer support on mac.  I'm running podman until we get a VB driver update.
`brew install podman`
`podman machine init --cpus 2 --memory 2048 --rootful`
`podman machine start`
`minikube config set driver podman`
 `minikube start`
 `minikube status`

[2022-11-15 12:16] intrepidsilence commented on #11219
Did you ever find time to test this out?

[2022-11-15 13:20] mprimeaux commented on #11219
@intrepidsilence Sorry for not replying. Completely forgot. Yes, I am able to install Parallels 18 on my Intel-based Mac Mini and it works as expected with Minikube (v1.28.0).

[2022-11-15 13:43] intrepidsilence commented on #11219
@mprimeaux Thanks! I think we should close this issue.

[2022-11-15 14:56] sftim commented on #15352
We may be able reduce our spend on GCP by fetching the "preload" from elsewhere. I even wonder if something like a BitTorrent fetch could be an option. The trouble is: that's a lot of new code to consider.

[2022-11-15 15:15] afbjorklund commented on #15352
Currently the download is optimized for speed and not for size, so it is much bigger than what it could have been (with xz).

[2022-11-15 19:48] niallminer opened #15362 "Using Multi-Node Clusters Referenced Files Incorrect Formatting"
The YAML files used as references in this tutorial are incorrectly formatted, thus making the tutorial hard/confusing to follow. It seems they are being parsed/loaded incorrectly and do not retain their proper indentation or comments, it looks like it was translated to Markdown or something similar.

Current File in Tutorial:
![image](https://user-images.githubusercontent.com/114624749/202011448-7

[2022-11-15 21:20] sklepcode opened #15365 "minikube addons enable ingress fails"
### What Happened?

When I use this command: minikube addons enable ingress I get an error

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/10016288/logs.txt)

### Operating System

_No response_

### Driver

_No response_

[2022-11-16 05:28] dangolk commented on #13772
Thank you @guresonur .. saved me a lot of googling!

[2022-11-16 05:55] devopslearn21 commented on #14924
0/1 nodes are available: 1 node(s) had untolerated taint {node.kubernetes.io/disk-pressure: }. preemption: 0/1 nodes are available: 1 Preemption is not helpful for scheduling.

this error occurred with microk8s. any suggestiosn who to solve it

[2022-11-16 09:14] A-Zhai123 commented on #15301
Hi @spowelljr I installed crictl,and can execute 'sudo crictl version'

But when start the minikube, it still promt that :

"X Exiting due to RUNTIME_ENABLE: Temporary Error: sudo crictl version: exit status 1
stdout:

stderr:
sudo: crictl：command not found "

![image](https://user-images.githubusercontent.com/73648688/202138747-6ddcb274-bea2-4c1f-b1df-0ba0d9f81f9b.png)

[2022-11-16 10:02] rolarblaze opened #15367 "Minikube not working on Ubuntu WSL2"
### What Happened?

I am trying to use start minikube to work on my ubuntu using WSL2 but it is spiting out error

### Attach the log file

minikube logs --file=log.txt
E1116 10:56:21.771208   12503 logs.go:192] command /bin/bash -c "sudo /var/lib/minikube/binaries/v1.25.3/kubectl describe nodes --kubeconfig=/var/lib/minikube/kubeconfig" failed with error: /bin/bash -c "sudo /var/lib/minikube/bina

[2022-11-16 10:22] vasilev-alex opened #15368 "Error enabling the Ingress addon"
### What Happened?

Please see the attached files

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/10020641/logs.txt)
[minikube_addons_482319fc5e72dbd8a7b5f6575aa36e2a6a0b9706_1.log](https://github.com/kubernetes/minikube/files/10020645/minikube_addons_482319fc5e72dbd8a7b5f6575aa36e2a6a0b9706_1.log)

### Operating System

macOS (Default)

### Driver

Docker

[2022-11-16 11:02] nirs commented on #9991
I can see something like this:

Creating cluster:

   minikube start ...
   play with cluster ...
   minikube stop

   minikube snapshot snap1

Using cluster form last persisted state:

   minikube start
   Play ...
   minikube stop

Reverting to snapshot, dropping all changes since the snapshot:

   minikube revert snap1

Taking a snapshot is easy with vm based drivers (e.g. kvm2). Not sure about

[2022-11-16 12:28] prakashiit opened #15369 "Configuring RBAC rules ...\ E0601 21:58:12.899674 15367 start.go:264] Unable to scale down deployment "coredns""
### What Happened?

Unable to create minikube cluster.
Command used: `minikube start --driver=none --kubernetes-version=v1.23.3`

Minikube version: `v1.25.2`

System Configuration:
[code]
Minikube startup logs:

[code]

### Attach the log file

minikube logs output: https://pastebin.com/xJj08Rwc (Too long to directly paste here)

### Operating System

Amazon Linux 2

### Driver

None

[2022-11-16 13:14] NimishKashyap commented on #15338
/assign

[2022-11-16 14:21] brillience commented on #15270
你们有没有遇到过这样的问题？
`❌  Exiting due to INET_DOWNLOAD_TIMEOUT: updating control plane: downloading binaries: downloading kubeadm: download failed: https://storage.googleapis.com/kubernetes-release/release/v1.18.1/bin/linux/arm64/kubeadm?checksum=file:https://storage.googleapis.com/kubernetes-release/release/v1.18.1/bin/linux/arm64/kubeadm.sha256: getter: &{Ctx:context.Background Src:https://storage.goog

[2022-11-16 14:37] timstoop commented on #8055
Just ran into this issue as well, solved by the kubectl patch from the original post.
[code]

[2022-11-16 14:40] novahow commented on #15105
same issue here

[2022-11-16 14:51] dzyanis commented on #15234
I've got the same with Amazon Linux 2. We are trying to run minikube on AWS Workspaces. @ingeb0rga how did  you fix the issue?

[2022-11-16 14:56] ingeb0rga commented on #15234
Didn't fix this issue yet. Just switched to local kind cluster or minikube with virtualbox/qemu2 driver.

[2022-11-16 15:16] remram44 commented on #15033
I am also getting that error but minikube starts successfully:

This stopped happening when I got off my company's VPN. It routes a lot of networks through, which tends to interfere with Docker operation, for example `docker-compose up` fails with:

So this might be related.

[2022-11-16 17:11] Pablitox26 opened #15371 "worker node failed to join cluster, will retry: kubeadm joi"
### What Happened?

Exiting due to GUEST_START: adding node: joining cp: error joining worker node to cluster: kubeadm join: /bin/bash -c "sudo env PATH="/var/lib/minikube/binaries/v1.25.3:$PATH" kubeadm join control-plane.minikube.internal:8443 --token 185m32.uc51oqm3kc1357fn --discovery-token-ca-cert-hash sha256:162713d99e3b0e46b21b2225814d9d4ec8ca7ac7899c474f3ac54c0004db2974 --ignore-preflight-

[2022-11-16 17:25] afbjorklund commented on #15105
This needs the kubelet logs, from `journalctl -xeu kubelet`. Could be related to the "pause" image.

[2022-11-16 18:00] platoputhur commented on #11219
Wait, so does it work now? I mean when I tried it today I still got the same error: `Exiting due to DRV_UNSUPPORTED_OS: The driver 'parallels' is not supported on darwin/arm64`

[2022-11-16 18:06] mprimeaux commented on #11219
@platoputhur In a nutshell, Minikube is able use Parallels as a driver on macOS Intel but not on macOS Apple Silicon at the moment. Currently, Minikube running on ARM64 explicitly does not allow the Parallels driver to be used. This is not to say it does not work.

If you'd like, I can comment out the check to allow Parallels as a driver on ARM64 to see if it does work. If it does then I can file

[2022-11-16 18:50] platoputhur commented on #11219
@mprimeaux thanks for replying. Yeah please do and let me know.

[2022-11-16 19:33] spowelljr commented on #15218
Hi @Rahulsapna, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-11-16 19:33] #15218 closed

[2022-11-16 19:33] #15176 closed

[2022-11-16 19:34] spowelljr commented on #15168
Hi @gitarbaz, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-11-16 19:34] #15168 closed

[2022-11-16 19:34] spowelljr commented on #15166
Hi @kmcowan, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-11-16 19:34] #15166 closed

[2022-11-16 19:34] spowelljr commented on #15140
Hi @santoshchilkunda, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-11-16 19:34] #15140 closed

[2022-11-16 19:35] spowelljr commented on #15134
Hi @pratheek2shiva, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-11-16 19:35] #15134 closed

[2022-11-16 19:37] spowelljr commented on #15082
Hi @kkghattamaneni, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-11-16 19:37] #15082 closed

[2022-11-16 19:37] #15067 closed

[2022-11-16 19:38] spowelljr commented on #15013
Hi @joaquinsaji, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

-----

Hola @joaquinsaji, no hemos tenido noticias tuyas, ¿

[2022-11-16 19:38] #15013 closed

[2022-11-16 20:03] spowelljr commented on #14958
Hi @danilo-lopes, I believe this matches https://github.com/google/gvisor/issues/7877

[2022-11-16 20:15] spowelljr commented on #14917
Hi @srpeddolla, what terminal are you using? Are you able to type `cmd` into the terminal yourself?

[2022-11-17 14:53] weihubeats opened #15372 "NodePort access NodePort fail"
### What Happened?

I refer to https://minikube.sigs.k8s.io/docs/handbook/accessing/ where I run a service but it is not accessible locally
<img width="757" alt="image" src="https://user-images.githubusercontent.com/42484192/202478076-3c0c94b0-d91e-45b7-afed-69001f750279.png">
<img width="1032" alt="image" src="https://user-images.githubusercontent.com/42484192/202478875-5eab5ada-9cd4-46d9-b745-f5

[2022-11-17 14:59] sdicke opened #15373 "Failed to enable ingress addon"
### What Happened?

The command  `minikube addons enable ingress` failed with the following output: „_Terminiere aufgrund von MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]_“

Distribution: openSUSE Tumbleweed

### Attach the log file

[minikube_addons_de34a38a67b9bbc28b3b77cfae49428ef7535477_0.log](ht

[2022-11-17 16:16] AdamhDiaz opened #15374 "K8S_INSTALL_FAILED: updating control plane: downloading binaries: downloading kubeadm: download failed"
### What Happened?

Using Mac M1 Monterry 12.6 minikube failed to start due to error location kubeadm, kubectl and kubelet under  .minikube/cache/linux/arm64/v1.25.3/

I downloaded the three files manually and minikube started normally. Looks like there are some download failures to grab these packages.

Initiating transfer...
I1117 11:06:54.263029   74039 ssh_runner.go:195] Run: sudo mkdir -p /va

[2022-11-17 16:30] niting-dremio opened #15375 "Unable to start minikube"
### What Happened?

Unable to start minikube and it is failing with below error:

`Exiting due to GUEST_START: wait: /bin/bash -c "sudo env PATH="/var/lib/minikube/binaries/v1.22.1:$PATH" kubeadm init --config /var/tmp/minikube/kubeadm.yaml  --ignore-preflight-errors=DirAvailable--etc-kubernetes-manifests,DirAvailable--var-lib-minikube,DirAvailable--var-lib-minikube-etcd,FileAvailable--etc-kuberne

[2022-11-17 16:55] ekersale commented on #14588
Hello, it seems to have fix the issue.

[2022-11-18 04:44] senthilanantha commented on #15142
The error "docker only has ***MiB" memory indicates that the minikube is trying to start from qemu driver. If you notice further in same error output, it suggests alternate drivers. You may choose to start it with kvm if you have enough memory space.

In my case
![20221118_101157](https://user-images.githubusercontent.com/118501844/202618533-be0f7a81-33b8-4f51-8ce7-50d7809c5c27.jpg)

Ex: (in my ca

[2022-11-18 06:49] DmitriyStoyanov commented on #15274
<img width="239" alt="image" src="https://user-images.githubusercontent.com/1244213/202638832-a4dcce1e-d01d-42bd-ab90-b4e3f9a36301.png">
Possibly we face with such issue because of in VirtualBox Host-only Adapter is DEPRECATED

[2022-11-18 07:10] mihir-koyaltech commented on #10249
/remove-lifecycle stale

[2022-11-18 07:43] Mohammad-Ali-Rauf commented on #13929
/reopen

[2022-11-18 08:13] martininnotec commented on #15274
@DmitriyStoyanov yep this is definitely the reason - as @W07FP4X  said it's because Host-only adapters are no longer supported on Mac OS, we need to use a Host-only network instead.

I've configured my virtual machine manually to use this network setup and can connect to Minikube on the running VM.

![Screenshot 2022-11-18 at 08 07 29](https://user-images.githubusercontent.com/60384664/202653259-9

[2022-11-18 09:35] #15372 closed

[2022-11-18 11:25] Abhi149209 commented on #15338
@NimishKashyap do you need any help .

[2022-11-18 11:59] NimishKashyap commented on #15338
@Abhi149209 Yes please. I'm not sure about adding the test files for it. I've tried adding those but it is showing file not found error while testing.

[2022-11-18 12:13] marcoferri72 commented on #13872
As workaround I resolved pre-dowloading problematic image direcly on minikube machine via docker.
First connect to minuke container:
`docker exec -it minikube /bin/bash`
now download docker image:
`docker pull k8s.gcr.io/ingress-nginx/controller:v1.2.1@sha256:5516d103a9c2ecc4f026efbd4b40662ce22dc1f824fb129ed121460aaa5c47f8`
and then retry to enable ingress addons
`minikube addons enable ingress`

[2022-11-18 12:21] iapicca commented on #14664
@afbjorklund
I tried your workaround but seems that minikube is looking for the file locally

[code]

[2022-11-18 16:06] spowelljr commented on #15274
Thanks for discovering the root cause of the issue, I believe the change will need to be in the upstream project https://github.com/machine-drivers/machine, but I could be wrong.

[2022-11-18 16:54] spowelljr commented on #15348
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-11-18 16:55] spowelljr commented on #15373
Hi @sdicke, what version of minikube are you using?

[2022-11-18 17:00] spowelljr commented on #15327
For compatibility reasons I think we should install pinned version, but we should setup a GitHub Action like we have for a lot of other things that will create PRs to update the GH in the code for us. This will prevent us from auto updating to breaking changes without breaking our CI.

[2022-11-18 17:05] spowelljr commented on #15323
Is the first nameserver in the `/etc/resolv.conf ` on your host an abnormal a non-traditional DNS?

[2022-11-18 17:41] walterj028 commented on #14744
Hi @spowelljr, I'm having the same issue. My computer has installed RAM 8.00 GB (7.82 GB usable).

PS C:\Users\17328\.kube> minikube start
* minikube v1.28.0 on Microsoft Windows 10 Home 10.0.19044 Build 19044
* Automatically selected the hyperv driver
* Starting control plane node minikube in cluster minikube
* Creating hyperv VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...\ E1118 12:21:48.812495

[2022-11-18 17:52] JaguarsCodehub commented on #15375
#### I think the problem here is with your swap turning on every time your system boots, you can disable it using the following command to shut that down:

- Disable swap first
```sudo swapoff -a```

This issue did exists in some previous versions of **kubernetes 1.11**

If the issue still doesn't resolves and if you are running a ``Ubuntu based system`` you can try adding the fail-swap-on flag to

[2022-11-18 22:12] pchambre opened #15377 "Host-only adapter no-longer supported in VirtualBox, but causes IF_VBOX_NOT_VISIBLE exit."
### What Happened?

Running minikube start, I get:

👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing virtualbox VM for "minikube" ...
🤦  StartHost failed, but will try again: driver start: Error setting up host only network on machine start: The host-only adapter we just created is not visible. This is a well known VirtualBox bug. You might want to uninstall it an

[2022-11-19 00:28] medyagh commented on #15350
[MahmoodKamali](https://github.com/MahmoodKamali) there is absolutely no block against anyone regardless of location or identity, do you mind sharing logs or the output message you get?

[2022-11-19 00:41] #12829 closed

[2022-11-19 02:01] ajmal-yazdani opened #15378 "Minikube v1.28.0 not starting on Microsoft Windows 10 Pro 10.0.19044 Build 19044 (Azure Virtual machine)"
### What Happened?

Minikube v1.28.0 on Microsoft Windows 10 Pro 10.0.19044 Build 19044

It's trying to start virtual machine, but error and removed. Logs below.

### Attach the log file

PS C:\Users\hola> minikube start --vm-driver=hyperv --hyperv-virtual-switch=Minikube
* minikube v1.28.0 on Microsoft Windows 10 Pro 10.0.19044 Build 19044
* Using the hyperv driver based on user configuration
* S

[2022-11-19 05:01] #13026 closed

[2022-11-19 06:15] kiterd2592 commented on #11193
how to do it with multinode cluster

[2022-11-19 07:19] praneshvr00 commented on #7012
yes @medyagh , I thought it was stuck and I just gonna ctrl+c, should upgrade this pulling feature.

[2022-11-19 07:25] gatspy opened #15379 "unable to started on macos 12.6 use hyperkit driver!"
### What Happened?

i uninstall `docker desktop for mac`,  then install `hyperkit` and `minikube` with `homebrew`.
`minikube start` can't started.

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/10046394/logs.txt)

### Operating System

macOS (Default)

### Driver

HyperKit

[2022-11-19 12:31] R-Yanchik opened #15380 "not start 1"
### What Happened?

Exiting due to GUEST_PROVISION: Failed to start host: driver start: Machine didn't return an IP after 120 seconds, aborting

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/10046981/logs.txt)

### Operating System

Windows

### Driver

VMware

[2022-11-19 13:14] #15380 closed

[2022-11-19 13:14] Bhargav-InfraCloud commented on #15338
@medyagh Is the issue specific to any arch? I tried the following on `Ubuntu` and I don't see any failures.
[code]

The versions I tried on
[code]

[2022-11-19 13:41] niting-dremio commented on #15375
@JaguarsCodehub - I am using Mac.

[2022-11-19 19:23] #9762 closed

[2022-11-19 19:25] SebDanielsson commented on #9762
/reopen

[2022-11-19 20:40] gbajson commented on #8283
I have a similar issue, but with a different add-on:

[code]

[2022-11-20 01:07] knlyknly commented on #13626
Same problem here:

😄  Darwin 13.0.1 上的 minikube v1.28.0
✨  根据用户配置使用 docker 驱动程序
📌  Using Docker Desktop driver with root privileges
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
❗  minikube was unable to download gcr.io/k8s-minikube/kicbase:v0.0.36, but successfully downloaded docker.io/kicbase/stable:v0.0.36 as a fallback image
🔥  Creating docker container

[2022-11-20 07:40] Whitroom commented on #15270
`storage.googleapis.com`是谷歌的源，国内的网是访问不了的

[2022-11-20 08:18] paolopiccinini opened #15381 "minikube v1.28.0 unable to ping host.minikube.internal windows 10"
### What Happened?

I have started minikube with minikube start --driver=hyperv on windows 10, this is the second laptop i try with, the other laptop has window 11 by the way, but I am always not able to ping host.minikube.internal checked also [here](https://minikube.sigs.k8s.io/docs/handbook/host-access/)
[code]
I have to deploy a cron job on kubernetes that calls an API on my localhost. Someone

[2022-11-20 10:24] #9452 closed

[2022-11-20 12:57] MahmoodKamali commented on #15350
Yes, there is. I cannot run the "minikube start" command without using a VPN connection as never starts. Interestingly, I have to run a VM in the German timezone or another country where I forward all internet traffic to avoid being caught by google servers to pull the required images. Moreover, by doing this, I was able to pull only kicbase/stable:v0.0.36 image, and when it comes to pulling the g

[2022-11-20 13:23] gitgithan commented on #11372
How do i install nc to use `nc -vz host.minikube.internal 8000` stated at https://minikube.sigs.k8s.io/docs/handbook/host-access/?
apt or apt-get are also not found inside `minikube ssh`

[2022-11-20 13:28] MahmoodKamali commented on #15350
Yes, there is and I explain it in detail on the Medium website. You can read it. Many thanks for your concern.

https://medium.com/@mahmoood/step-1-40e374b6f995

[2022-11-20 13:36] afbjorklund commented on #11372
You can use `toolbox`

[2022-11-21 08:22] martininnotec commented on #15274
Yes, this code needs to be updated to use the Host-only network instead of the adapter for the new macOS.

https://github.com/machine-drivers/machine/blob/master/drivers/virtualbox/network.go

Has someone raised this with the upstream project?

[2022-11-21 09:05] luyuhuang opened #15382 "Hyper-V\Get-VM : Hyper-V was unable to find a virtual machine with name "minikube"."
### What Happened?

Can't run `minikube start` on Windows with Hyper-V

[code]

The Hyper-V virtual machine is running though, and type `( Hyper-V\Get-VM minikube ).state` to get:

[code]

I also tried to login the virtual machine to see docker's status, it seems that the docker is not running

[code]

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/10054964/log.txt

[2022-11-21 09:21] A-Zhai123 commented on #15301
I re-installed minikube,the issue disappeared.

[2022-11-21 11:23] paolopiccinini commented on #15381
The problem is the windows firewall, you have to deactivate the public network settings
<img width="960" alt="Untitled" src="https://user-images.githubusercontent.com/9334978/203038367-37e4730d-6824-472e-91f2-88d62f27e332.png">

[2022-11-21 11:23] #15381 closed

[2022-11-21 11:47] sdicke commented on #15373
I'm using die version 1.27.1-1.1.

[2022-11-21 12:14] AhmadNaser-me commented on #877
@arviCV
Please mention the steps in detail, because I am trying to put the command, but it asks me for a password, I do not know what it is

[2022-11-21 16:48] spowelljr commented on #14744
Hi @walterj028, if you open task manager how much memory do you have unused?

[2022-11-21 17:13] spowelljr commented on #15301
Glad your issue was resolved @A-Zhai123

[2022-11-21 17:13] #15301 closed

[2022-11-21 18:40] spowelljr commented on #15373
Hi @sdicke, Kubernetes previously removed the image `k8s.gcr.io/ingress-nginx/controller:v1.2.1` from their registry, but it seems to be back now. Could you run `minikube addons disable ingress` and then `minikube addons enable ingress` and if it's still failing could you include the output of `kubectl get pods -A`.

[2022-11-21 19:02] walterj028 commented on #14744
Hi Steve, It shows just under a 1Gb.

From: Steven Powell ***@***.***>
Sent: Monday, November 21, 2022 11:49 AM
To: kubernetes/minikube ***@***.***>
Cc: walterj028 ***@***.***>; Mention ***@***.***>
Subject: Re: [kubernetes/minikube] not strarted (Issue #14744)

Hi @walterj028 <https://github.com/walterj028> , if you open task manager how much memory do you have unused?

—
Reply to this email dire

[2022-11-21 19:04] spowelljr commented on #14744
If you have less than 1GB of memory available then VirtualBox is unable to start the as it's requesting 2GB.

[2022-11-21 19:14] medyagh opened #15389 "Create a prototype of direct image build on containerd and cri-o"
### What Happened?

we need to create a similar feature to docker-env that is only for docker-runtime.

[2022-11-21 19:16] medyagh commented on #15389
@afbjorklund knows a POC in his mind that could work, please share so someone could pick it up

[2022-11-21 19:36] ComradeProgrammer commented on #15389
/assign

[2022-11-21 19:38] #11435 closed

[2022-11-21 19:38] #12115 closed

[2022-11-21 19:41] afbjorklund commented on #15389
For accessing the `podman.sock` (for cri-o) and `nerdctl.sock` (for containerd), we _need_ to use SSH.

So the first step, would be to make sure that using SSH for `docker.sock` works OK and is documented:

`minikube ssh-host --append-known`

`minikube docker-env --ssh-host --ssh-add`

[2022-11-21 19:53] medyagh commented on #15350
Thank you for providing more context on this issue,
minikbue is an open source project, and we do not have any restriction on anywhere, and our images are stored in GCR similar to other Kubernetes projects images.

minikube team does not put any restriction on any one, in-fact we have added special feature to help users in countries with a national firewall to bypass the restriciton. (for example

[2022-11-21 20:36] afbjorklund commented on #15389
Typical output of `docker-env` (tcp, 3 variables):

[code]

Typical output of `docker-env` (ssh, 1 variable):

[code]

[2022-11-22 04:20] Satyambhatt1991 opened #15391 "Minikube not start"
### What Happened?

![image](https://user-images.githubusercontent.com/117271993/203219570-9f5eb88b-af87-4b7e-9ea8-1e81787e3f8b.png)

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/10063476/log.txt)

### Operating System

Windows

### Driver

_No response_

[2022-11-22 05:22] hn-tma commented on #13841
This doesn't work for me.  I am using Ubuntu 20.04 inside a VM.  Minikube version is 1.28.

[2022-11-22 05:28] Satyambhatt1991 commented on #15391
problem solved using minikube delete

[2022-11-22 05:28] #15391 closed

[2022-11-22 05:37] xuhaitao opened #15392 "Ip"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2022-11-22 05:37] #15392 closed

[2022-11-22 08:43] MahmoodKamali commented on #15350
Million thanks for your replying, patience, and concerns, however, there was no change and it was as expected. I have updated the article to see what happened after your help. Regardless of your sympathy, I have to say, this is a really BIG BIG BIG shame on gcr.io to block Iranians' access to pulling an open-source docker image. It shows how the US government has real systematic discrimination aga

[2022-11-22 14:35] MahmoodKamali commented on #15350
I am wondering why you don't put the "gcr.io/k8s-minikube/kicbase:v0.0.36" image on Dockerhub while Google insists to block Iran's IP due to a ridiculous excuse.

[2022-11-22 17:54] afbjorklund commented on #15389
The `nerdctl.sock` is available from here: https://github.com/afbjorklund/nerdctld

Note that the unit CONTAINERD_NAMESPACE need to be changed to use "k8s.io"

[2022-11-22 20:06] walterj028 commented on #14744
That did the trick… I had all but given up. I was running virtualbox as an alternative VM but it has it’s own limitations with simulating a kubernetes cluster. Once I freed up 2Gb of memory Hyper-V start right up. Thanks for the help!

Kind Regards,

Walter

From: Steven Powell ***@***.***>
Sent: Monday, November 21, 2022 2:05 PM
To: kubernetes/minikube ***@***.***>
Cc: walterj028 ***@***.***>; Me

[2022-11-22 20:20] geotransformer commented on #15173
Have the same issue

`2022-11-22 20:19:52.769 [INFO][80] felix/watchercache.go 188: Failed to perform list of current data during resync ListRoot="/calico/resources/v3/projectcalico.org/kubernetesendpointslices" error=resource does not exist: KubernetesEndpointSlice with error: the server could not find the requested resource
2022-11-22 20:19:53.253 [WARNING][80] felix/health.go 188: Reporter is n

[2022-11-22 20:34] Tony-Sol commented on #15346
Also, it looks like minikube downloads older version of kubectl

[2022-11-22 22:08] josephcsible commented on #15105
[kubelet.log](https://github.com/kubernetes/minikube/files/10071404/kubelet.log)

There are indeed errors referencing the "pause" image in it:
[code]

[2022-11-23 00:25] spowelljr commented on #14744
Glad to hear that solved your issue @walterj028

[2022-11-23 05:05] hn-tma commented on #13872
I come here from the similar issue [13841](https://github.com/kubernetes/minikube/issues/13841).  The aforementioned fix does not work for me.  I am using minikube 1.28.0 and kubectl version v1.25.4/v1.25.3 (client/server).

[2022-11-23 07:34] MahmoodKamali commented on #15350
For your information, AWS has totally blocked all its services to Iranians due to sanctions. We have no access to AWS, Azure, GCP, Cloudflare, and other cloud computing services. They are paid services and due to no international banking service access, it might be justified, however, I am confused why the Minikube is like them.
I solved the problem by asking a friend of mine who lives in Canada t

[2022-11-23 08:22] MahmoodKamali commented on #15350
First of all thank @medyagh for following up on the issue which shows how he is dedicated and thank you for replying and making clear the situation. As you said exactly, our problem is the same but with a different perspective. When a service or a website is blocked by Iran's government is it easy to bypass, but when it is banned by the source, bypassing it, is a little bit challenging as many of

[2022-11-23 14:14] Sameer166 commented on #14523
@UmarAtiq Hi how are you. Please reply soon ive encountered the same problem as yours did you find any solution. I cant understand the error

[2022-11-23 14:20] Ilium77 commented on #13627
Hello,
try with this command :
`minikube start --docker-env HTTP_PROXY=http://172.17.0.1:3128 --docker-env HTTPS_PROXY=http://172.17.0.1:3128 --docker-env NO_PROXY=localhost,127.0.0.1,10.96.0.0/12,192.168.59.0/24,192.168.49.0/24,192.168.39.0/24`

[2022-11-23 18:29] medyagh commented on #12212
it seems like this test started to fail after Dec 31, 2021

https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux&test=TestNetworkPlugins/group/calico/Start

the first failure is
https://storage.googleapis.com/minikube-builds/logs/master/22370/Docker_Linux.html#fail_TestNetworkPlugins/group/calico/Start

and last failure is
https://storage.googleapis.com/minikube-bui

[2022-11-23 18:43] ckannon commented on #12212
/assign

[2022-11-23 18:47] medyagh commented on #12212
@ckannon here is the file that has Calico templates
https://github.com/medyagh/minikube/blob/f922ae914efdf35b68ecc2da4772f7c93220972c/pkg/minikube/cni/calico.yaml#L2

we generally copy that from upstream project and then templatize it  (for alternative image repositories)
( hopefully one day we can have an automation that whenver upstream calico changes we auto-update it) similar to https://github

[2022-11-23 18:53] medyagh opened #15396 "Add support for ipv6"
### What Happened?

minikube currently only supports IPV4, we would like to add support for IPV6

[2022-11-23 19:40] spowelljr commented on #11107
I found an image `docker.io/jmalloc/echo-server:0.3.3` that works on both amd64 & arm64, will make a PR shortly to update the documentation.

Also scanned the image for vulnerabilities and scan can back clean.

[code]

[2022-11-24 03:42] zhenglinhui commented on #4618
try with it !
`minikube start --image-mirror-country='cn' --driver docker`

[2022-11-24 06:37] nlakshmipathy opened #15398 "not able to enable ingress addon in minikube."
### What Happened?

<img width="945" alt="image" src="https://user-images.githubusercontent.com/116630583/203711033-a13a9840-bffb-46fd-9fb9-c746b1035f5d.png">

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/10081352/logs.txt)

### Operating System

Ubuntu

### Driver

_No response_

[2022-11-24 06:39] imeshm98 opened #15399 "Minikube ingress addon installation"
### What Happened?

When I Try to enable Ingress addon it will occur this error

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/10081381/log.txt)

### Operating System

Windows

### Driver

Docker

[2022-11-24 06:39] nlakshmipathy commented on #15398
[minikube_addons_5e63cb8ceb2e7e06e33b8dd7a9dcbebc0ad5ec5a_0.log](https://github.com/kubernetes/minikube/files/10081390/minikube_addons_5e63cb8ceb2e7e06e33b8dd7a9dcbebc0ad5ec5a_0.log)

[2022-11-24 07:04] afbjorklund commented on #15389
The default option in minikube should be to use the `minikube image` command instead of the legacy `docker` client...

https://minikube.sigs.k8s.io/docs/commands/image/

The "docker-env" command is mostly for backwards compatibility, and the "podman-env" should be fully deprecated.

It is also possible to do everything yourself with the `minikube ssh` command and `minikube mount`, but less usable.

[2022-11-24 09:44] nickdine commented on #10589
Not work for me . Got "❌  Exiting due to DRV_AS_ROOT: The "docker" driver should not be used with root privileges.
"

[2022-11-24 11:12] #14442 closed

[2022-11-24 14:12] #14413 closed

[2022-11-24 18:39] m-ocean-it commented on #530
If you're running your proxy on the host, then make sure to use `host.minikube.internal` as your proxy instead of `localhost`, because `localhost` would be resolved to the VM itself.

And, also, I had to change the IP in my proxy config from `127.0.0.1` to `0.0.0.0`, otherwise it denied connections from within the VM.

[2022-11-25 00:45] christiancostap opened #15402 "Erro ao executar start - Fedora 36"
 
Olá todos. Estou há alguns dias testando solucoes encontradas na internet para esse problema, porém ainda não consegui solucionar.

**Os comandos necessários para reproduzir o problema**:
 $ minikube start --driver=docker --extra-config=kubelet.cgroup-driver=systemd

**A saída completa do comando que apresentou falha**: <details>

😄  minikube v1.28.0 on Fedora 36
✨  Using the docker driver based

[2022-11-25 05:58] harshraj22 commented on #12899
+1 Please provide some other solution/ alternatives for people who use docker.

[2022-11-25 07:02] correialabbate commented on #13029
/assign correialabbate

[2022-11-25 07:03] correialabbate commented on #13029
Created a PR for it: https://github.com/kubernetes/minikube/pull/15405

[2022-11-25 07:43] ravin-gloify opened #15406 "KUBECONFIG=../kube.conf minikube -p airy-core start --driver=docker --cpus=3 --memory=7168 --container-runtime=containerd --ports=80:80 --extra-config=apiserver.service-node-port-range=1-65535 Issue"
### What Happened?

KUBECONFIG=../kube.conf minikube -p airy-core start --driver=docker --cpus=3 --memory=7168 --container-runtime=containerd --ports=80:80 --extra-config=apiserver.service-node-port-range=1-65535

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/10089589/logs.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-11-25 08:19] vpuliyal opened #15407 "Not able to start the minikube even after installing cri-dockerd"
### What Happened?

# sudo -E /usr/local/bin/minikube start --driver=none
* minikube v1.28.0 on Redhat 8.6 (ppc64le)
! Both driver=none and vm-driver=none have been set.

    Since vm-driver is deprecated, minikube will default to driver=none.

    If vm-driver is set in the global config, please run "minikube config unset vm-driver" to resolve this warning.

* Using the none driver based on user

[2022-11-25 08:25] afbjorklund commented on #15407
This is a bug in RHEL7 and RHEL8 (I _think_ it was fixed in RHEL9 ?), you have to install as /usr/bin/cri-dockerd

So, `sudo which cri-dockerd` fails. The test needs to consider this, just as it is doing for `crictl` at the moment...

[2022-11-25 08:32] vpuliyal commented on #15407
]# sudo -E /usr/local/bin/minikube start --driver=none --container-runtime=''
* minikube v1.28.0 on Redhat 8.6 (ppc64le)
! Both driver=none and vm-driver=none have been set.

    Since vm-driver is deprecated, minikube will default to driver=none.

    If vm-driver is set in the global config, please run "minikube config unset vm-driver" to resolve this warning.

* Using the none driver based on u

[2022-11-25 08:48] afbjorklund commented on #15407
You might get more details from `sudo systemctl status cri-docker`

[2022-11-25 08:55] vpuliyal commented on #15407
# sudo crictl version
FATA[0000] unable to determine runtime API version: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial unix /var/run/cri-dockerd.sock: connect: connection refused"
# sudo systemctl status cri-docker
● cri-docker.service - CRI Interface for Docker Application Container Engine
   Loaded: loaded (/etc/systemd/system/cri-docker.serv

[2022-11-25 09:01] afbjorklund commented on #15407
Maybe need to look at "crictl.socket" unit, or attempt a manual "sudo systemctl start cri-docker.service" to see the error.

[2022-11-25 09:06] afbjorklund commented on #15407
Seems happy enough, except that you will also need to configure CNI networks (minikube can do this)

[2022-11-25 09:09] vpuliyal commented on #15407
@afbjorklund thanks. It's working now

# sudo -E /usr/local/bin/minikube start --driver=none --container-runtime=''
* minikube v1.28.0 on Redhat 8.6 (ppc64le)
* Using the none driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing none bare metal machine for "minikube" ...
* OS release is Red Hat Enterprise Linux 8.6 (Ootpa)

  - Generatin

[2022-11-25 09:11] afbjorklund commented on #15407
Ignore all the output about drivers and users and configuration, it is also broken.

[2022-11-25 09:14] afbjorklund commented on #15407
All of this is _supposed_ to work out-of-the-box, but it is not being tested (and especially not on IBM/PPC)

Unfortunately, it is bound to break even worse soon since Kubernetes 1.26 does not support Docker - yet.

[2022-11-25 22:22] #14185 closed

[2022-11-26 00:02] #15402 closed

[2022-11-26 19:31] #13067 closed

[2022-11-26 21:03] jsd2150 commented on #8997
Just ran into this same issue,   I'm i Hawaii for the winter and was connected via a Spectrum v6 address.

Switched to my mobile hotspot,   an ATT v6 address and everything just worked.

I have had some other sites seem to think I am connected from outside the US when using this spectrum connection here in Hawaii so perhaps there is some bad data trying to map the v6 address to a location?

[2022-11-27 02:48] victordavidalarcon commented on #14676
Ya no sirve al ejecutar --2022-11-26 21:47:57--  https://github.com/kubernetes-sigs/cri-tools/releases/download//crictl--linux-amd64.tar.gz
Resolviendo github.com (github.com)... 140.82.113.4
Conectando con github.com (github.com)[140.82.113.4]:443... conectado.
Petición HTTP enviada, esperando respuesta... 404 Not Found
2022-11-26 21:47:57 ERROR 404: Not Found.

parece que la solucion ya no funci

[2022-11-27 02:48] victordavidalarcon commented on #14676
Not found
Oops! This page doesn't exist. Try going back to the [home page](https://minikube.sigs.k8s.io/).

[2022-11-27 03:54] MrZLeo commented on #13742
It happened to me when I use minikube in fedora34:
## OS version
[code]
## minikube version
[code]
## Reproduce
first delete all pods:
[code]
then try to start
[code]
But when I check pods, it failed:
[code]
information about pod:

[code]

log is attached.
[logs.txt](https://github.com/kubernetes/minikube/files/10097484/logs.txt)

[2022-11-27 03:54] MrZLeo commented on #13742
/ reopen

[2022-11-27 03:57] MrZLeo commented on #13742
/reopen

[2022-11-27 12:07] Javi3y opened #15408 "ingress timeout"
### What Happened?

➜ minikube addons enable ingress
💡  ingress is an addon maintained by Kubernetes. For any concerns contact minikube on GitHub.
You can view the list of minikube maintainers at: https://github.com/kubernetes/minikube/blob/master/OWNERS
    ▪ Using image k8s.gcr.io/ingress-nginx/controller:v1.2.1
    ▪ Using image k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.1.1
    ▪ Using i

[2022-11-27 13:58] yitistica commented on #14523
I have experienced perhaps the same issue on my Ubuntu 22.04 on Proxmox. Then I downgraded Kubernetes to v1.23.9 and started successfully in case anyone would like to try it:

`
minikube delete --all --purge
minikube start --driver=docker --kubernetes-version=v1.23.9
`

[2022-11-27 15:57] jyothiradityak opened #15409 "unable to set docker driver in minikube in Windows OS"
### What Happened?

When trying to start docker driver, getting error and log is attached.
`minikube start --driver=docker`

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/10098654/logs.txt)

### Operating System

Windows

### Driver

Docker

[2022-11-27 17:27] amard33p commented on #13626
Same issue
[code]

[2022-11-27 21:24] afbjorklund commented on #14830
Needs to be bumped:
- cri-tools 1.25.0
- cni-plugins 1.1.1

[2022-11-27 21:24] afbjorklund commented on #14830
/remove-lifecycle stale

[2022-11-27 22:06] RebecaValadez opened #15410 "minikube addons enable ingress"
**Los comandos necesarios para reproducir la incidencia**:
minikube addons enable ingress

**El resultado completo del comando que ha fallado**:
ingress is an addon maintained by Kubernetes. For any concerns contact minikube on GitHub.
You can view the list of minikube maintainers at: https://github.com/kubernetes/minikube/blob/master/OWNERS
    ▪ Using image k8s.gcr.io/ingress-nginx/kube-webhook-

[2022-11-28 00:05] jevy-wangfei commented on #15274
down grade virtualbox to 6.* would be able to resolve this Host-ony Adapter deprecated issue.

[2022-11-28 07:02] ADNANFAKHAR4504 commented on #14806
Set your environment variable and encode in the right manner .dokcerconfigjson and encode into base64 and copy the text that is encoded and place in yaml and then apply Hopefully it will resolve the issue

[2022-11-28 09:46] snigdha920 commented on #8439
I have the exact same issue as @dima-matsola.

My configuration:
- Mac OS Monterey v12.5.1, chip: M1 Pro
- minikube version: 1.28.0, commit 986b1ebd987211ed16f8cc10aed7d2c42fc8392f
- docker version: 20.10.21

1. My minikube start command:

[code]

2. ping `host.minikube.internal`:

[code]

3. ping port NextJS app on port 3002:

[code]

Weird thing is I have a NestJS application running on port 555

[2022-11-28 11:27] cedricroijakkers commented on #14806
With `cri-dockerd` version `0.2.6` (https://github.com/Mirantis/cri-dockerd/releases/tag/v0.2.6) this issue is now resolved for me.

[2022-11-28 13:55] kikkobcn opened #15412 "error minikube start"
**Los comandos necesarios para reproducir la incidencia**:    C:\Windows\System32>minikube start

**El resultado completo del comando que ha fallado**: <details>
* minikube v1.28.0 en Microsoft Windows 11 Pro 10.0.22621 Build 22621
* Using the docker driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Pulling base image ...
* docker "minikube" container is

[2022-11-28 14:23] FollieHiyuki commented on #14843
/remove-lifecycle stale

[2022-11-28 15:46] hualongfeng opened #15413 "sudo service cri-docker.socket start: Process exited with status 5"
### What Happened?

[code]

I install `cri-dockerd` in target machine(target machine is real machine). And
[code]
But
[code]

### Attach the log file

I1128 23:37:33.971076 3909210 preload.go:132] Checking if preload exists for k8s version v1.25.3 and runtime docker
I1128 23:37:33.971098 3909210 ssh_runner.go:195] Run: curl -x http://child-prc.intel.com:913 -sS -m 2 https://registry.k8s.io/
I1128

[2022-11-28 15:53] afbjorklund commented on #15413
Did you install `cri-dockerd` ?

[2022-11-28 16:02] hualongfeng commented on #15413
yes, I success in ` service cri-docker status`. But error on `service cri-docker.socket start`.

[2022-11-28 16:16] hualongfeng commented on #15413
And the command output is successful.
[code]

[2022-11-28 16:22] afbjorklund commented on #15413
The "service" command doesn't know about systemd units, so it tries to append .service

[2022-11-28 16:24] hualongfeng commented on #15413
[code]

[2022-11-28 16:26] afbjorklund commented on #15413
For some reason the systemd is not found, so it is trying to use the OpenRC code. It should be `systemctl`.

[2022-11-28 16:31] hualongfeng commented on #15413
Is there any method to solve the issue?

[2022-11-28 16:32] afbjorklund commented on #15413
It needs the log file, to troubleshoot.

[2022-11-28 16:36] hualongfeng commented on #15413
[logs.txt](https://github.com/kubernetes/minikube/files/10105679/logs.txt)

[2022-11-28 16:38] afbjorklund commented on #15413
Yeah, that looks like a bug.

[code]

Probably sysinit is called "too early", before the driver knows the IP

[2022-11-28 18:36] spowelljr commented on #14490
Completed in https://github.com/kubernetes/minikube/pull/15235

[2022-11-28 18:36] #14490 closed

[2022-11-28 18:38] spowelljr commented on #10605
Completed in https://github.com/kubernetes/minikube/pull/15235

[2022-11-28 18:38] #10605 closed

[2022-11-28 19:15] iastewar commented on #13351
/assign

[2022-11-28 23:11] marcelo-medeiros opened #15419 "Erro no minikube"
minikube start --cpus=4 --memory=6g --addons=ingress
😄  minikube v1.28.0 on Ubuntu 22.04
✨  Using the none driver based on existing profile
❗  The 'none' driver does not respect the --cpus flag
❗  The 'none' driver does not respect the --memory flag
❗  The 'none' driver does not respect the --cpus flag
❗  The 'none' driver does not respect the --memory flag
👍  Starting control plane node minikube

[2022-11-29 00:17] spowelljr opened #15420 "Update GCP-Auth documentation before release"
https://github.com/kubernetes/minikube/pull/15403 will resolve the namespace issue that we have documented on our [website](https://minikube.sigs.k8s.io/docs/handbook/addons/gcp-auth/#adding-new-namespaces).

Shortly before the release we should include something like: `As of minikube v1.XX this has been fixed and the pull secret is automatically added to new namespaces.`

[2022-11-29 00:43] sharifelgamal commented on #15396
This issue definitely already exists: https://github.com/kubernetes/minikube/issues/8535

[2022-11-29 00:48] medyagh commented on #15396
thanks for pointing it out, closing this in favor of https://github.com/kubernetes/minikube/issues/8535

[2022-11-29 00:48] #15396 closed

[2022-11-29 02:19] LizhenQiangCOOL commented on #14851
遇到同样问题，环境：macos + docker desktop + minikube (v1.28.0)，启动命令：minikube start --image-mirror-country='cn'  --kubernetes-version=v1.24.1 --container-runtime=docker --driver=docker

[2022-11-29 02:40] LizhenQiangCOOL commented on #14477
fix my problem and it works

[2022-11-29 10:35] schneiderlin opened #15423 "minikube fail to start"
### What Happened?

I have tried `minikube delete --all --purge`

[code]

### Attach the log file

E1129 18:32:13.523293    5486 logs.go:192] command /bin/bash -c "sudo /var/lib/minikube/binaries/v1.25.3/kubectl describe nodes --kubeconfig=/var/lib/minikube/kubeconfig" failed with error: /bin/bash -c "sudo /var/lib/minikube/binaries/v1.25.3/kubectl describe nodes --kubeconfig=/var/lib/minikube/kub

[2022-11-29 11:07] amng opened #15424 "Dashboard won't start when using Podman Rootless in offline mode"
### What Happened?

Steps to reproduce the issue:
Run
[code]

This works fine.
Now add dashboard images to cache (Added all combinations to see if any would work, seems like the ones with version only are the only ones that actually get loaded after restart of minikube):
[code]
Then turn off internet and run:
[code]

At this point the minikube dashboard hangs.
After some further investigation it s

[2022-11-29 17:47] spowelljr opened #15425 "License Scan Report"
https://lfscanning.org/reports/cncf/kubernetes-2022-10-13-19a6e7e7-4f53-4c58-9dcb-6ab28ebf194d.html

Minikube has 7 licenses that came up in the report

**This code is under the GPL license and could contaminate the entire codebase, it must be removed from the repo.**
[code]

**This file lists the license as "Apache", but doesn't specify which version. Could this be updated to "Apache-2.0" in orde

[2022-11-29 17:59] spowelljr commented on #15425
The latter four are our own files, so updating to `Apache-2.0` isn't an issue

[2022-11-29 21:42] yelvert commented on #4672
Getting this same issue. Tried the things mentioned here https://www.wintips.org/fix-virtualbox-error-call-to-whvsetuppartition-failed-error-success/, no dice

[2022-11-29 22:02] #13823 closed

[2022-11-29 22:03] spowelljr opened #15428 "`minikube addons disable` not removing failing pods"
**How to reproduce:**
[code]

**Expected:**
All gcp-auth pods are removed after disabling the addon

**Actual:**
The failing pod still exists

[2022-11-29 22:19] iastewar commented on #15428
/assign

[2022-11-29 22:31] spowelljr opened #15429 "Disabling already disabled gcp-auth addon errors"
**How to reproduce:**
[code]

**Expected:**
[code]

[2022-11-29 22:38] spowelljr opened #15430 "Disabling already disabled storage-provisioner-gluster addon errors"
**How to reproduce:**
[code]

**Expected:**
[code]

[2022-11-29 22:40] spowelljr opened #15431 "Disabling already disabled default-storageclass addon errors"
**How to reproduce:**
[code]

**Expected:**
[code]

[2022-11-29 22:44] spowelljr opened #15432 "Disabling already disabled gvisor addon errors with non-containerd runtime"
Related https://github.com/kubernetes/minikube/issues/15433

**How to reproduce:**
[code]

**Expected:**
[code]

[2022-11-29 22:50] spowelljr opened #15433 "Enabling gvisor addon on non-containerd runtime outputs GitHub advice"
Related https://github.com/kubernetes/minikube/issues/15432

**How to reproduce:**
[code]

**Expected:**
[code]

[2022-11-30 00:14] gitdanyo commented on #15377
My specific versions are Minikube 1.28, OS Monterey 12.6, and VirtualBox 7.0.4

Attempted multiple uninstall and clean install of 7.0.4. I noticed the install process never prompted to "allow" in the System Preferences > Security & Privacy. Uninstalled and installed VirtualBox 6.1 where it prompted me to "allow".

`minikube start --driver=virtualbox` works successfully.

[2022-11-30 00:40] #13029 closed

[2022-11-30 01:55] hualongfeng commented on #15413
https://github.com/Mirantis/cri-dockerd/issues/133#issuecomment-1329607004
I asked cri-docker for the command `service cri-docker.socket status`
`service cri-docker.socket start` is meaningless as the service command is hardcoded to use a .service unit suffix.

So why minikube use the command `service cri-docker.socket status` not `systemctl status cri-docker.socket` or `service cri-docker status`

[2022-11-30 08:10] Md-Sadaf opened #15435 "MInikube issue"
### What Happened?

❌  Exiting due to RUNTIME_ENABLE: Temporary Error: sudo crictl version: exit status 1
stdout:

stderr:
sudo: crictl: command not found

### Attach the log file

After command :- minikube status it showing

minikube
type: Control Plane
host: Stopped
kubelet: Stopped
apiserver: Stopped
kubeconfig: Stopped

### Operating System

Ubuntu

### Driver

VirtualBox

[2022-11-30 08:37] martininnotec commented on #15274
I tried the downgrade to Virtualbox 6.1 and the issue still persists when starting minikube.

[2022-11-30 08:40] ogerardin commented on #11235
Hi, I'm confused, I have the exact same problem but the advice message says instead:
[code]
I don't see a workaround here, unless that's switching to overlay2 which is not an option for me...
Am I missing something?

[2022-11-30 11:34] boyadzhievb opened #15436 "site: Multi-node page has malformed YAML"
Bad YAML!

[2022-11-30 13:13] atherfawaz commented on #6820
I too ran into this issue. Resetting the kubernetes clusters or restarting the system did not work for me. But `docker system prune` worked out.  Most probably this issue caused by some _dangling_ resources, which prune obviously removes.

[2022-11-30 14:01] gmarano opened #15437 "Error during mount folder"
### What Happened?

Hi,

after upgrade of my os when i launch command:
`minikube mount /home/minikube/src/ /home/minikube/src/`

I'm getting the following error:

This is my environment info:

`minikube version`

`docker version
`

`uname -r -s
`

`cat /proc/version`

`cat /etc/os-release`

Any suggestions?

Thank's a lot

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/f

[2022-11-30 15:50] iastewar commented on #15429
/assign

[2022-11-30 16:32] janheindejong commented on #13035
This worked for me. Note that it requires a restart.

[2022-11-30 19:38] spowelljr commented on #15298
Hi @AhmedMohamedEid, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-11-30 19:38] #15298 closed

[2022-11-30 19:39] spowelljr commented on #15287
Hi @srasahu, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-11-30 19:39] #15287 closed

[2022-11-30 21:21] novski commented on #11219
My Homebrew installation of minikube 1.28.0 showed this error.
I had to set the driver manualy described here: https://minikube.sigs.k8s.io/docs/drivers/docker/
`minikube start --driver=docker`
or permanent:
`minikube config set driver docker`
this solved it...

[2022-11-30 22:54] En-Haya commented on #14280
Hello
I faced the same issue and tried the `docker pull k8s.gcr.io/kube-apiserver:v1.21.2` command but nothing fixed.
Pls ur kind support.
![supp1](https://user-images.githubusercontent.com/116724726/204925275-b2e78443-326e-41ea-a152-7b5e62469401.PNG)

![supp2e](https://user-images.githubusercontent.com/116724726/204925323-b331cde9-af21-4ea6-ab4b-1b50b28bb59f.PNG)

![suppor3](https://user-images.g

[2022-11-30 23:07] spowelljr commented on #14280
Hi @En-Haya, do you happen to live in China or Iran?

[2022-11-30 23:31] En-Haya commented on #14280
hi @spowelljr no, I don't