[2020-09-09 18:24] medyagh commented on #8370
@koji117
@Okhwan  your error doesn't seem to be related to proxy settings but it is talking about "configs" kernel module not being there.

do you mind pasting the output of this command

[code]

to see if that kernel module is in your system?

[2020-09-09 18:25] matthewmichihara opened #9208 "gcp-auth: Enabling storage-provisioner: failed calling webhook "gcp-auth-mutate.k8s.io""
**Steps to reproduce the issue:**

Run `"/Users/michihara/Library/Application Support/google-cloud-tools-java/managed-cloud-sdk/LATEST/google-cloud-sdk/bin/minikube" start --profile cloud-run-dev-internal --keep-context true --wait false --vm-driver docker --interactive false --delete-on-failure --addons gcp-auth`

This results in a failure. I started seeing this when I added the `--addons gcp-aut

[2020-09-09 18:26] sharifelgamal commented on #8743
I'm going to go ahead and close this for now, feel free to reopen this if it remains an issue.

[2020-09-09 18:26] #8743 closed

[2020-09-09 18:26] medyagh commented on #9006
@Internauta1972  did that answer your question ? , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more informa

[2020-09-09 18:26] #9006 closed

[2020-09-09 18:26] priyawadhwa commented on #9116
Hey @surensinghkhatana I'm not familiar with vagrant but it looks like you have this in your config:

[code]

You could try  using `minikube tunnel` to forward your service to a local port in the ubuntu VM, and replace "guest: 80" with the port that provides. Then, the application should be forwarded to port 8080 on your Windows host.

Let me know if that would helps. More info on tunnel [here](ht

[2020-09-09 18:29] medyagh commented on #8386
Hi @dsebastien , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-09-09 18:29] #8386 closed

[2020-09-09 18:34] medyagh commented on #8394
Hi @jetxu, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-09-09 18:34] #8394 closed

[2020-09-09 18:36] priyawadhwa opened #9209 "Make sure we fall back to cache and load if preload fails"
If preload fails for any reason, make sure we fall back to caching and loading images as usual.

[2020-09-09 18:38] medyagh commented on #9027
@lthistle I haven't heard from you this seems to be dupe of https://github.com/kubernetes/minikube/issues/8370

[2020-09-09 18:38] #9027 closed

[2020-09-09 18:39] medyagh commented on #8370
could you please share the output of
[code]

[2020-09-09 18:39] medyagh commented on #8622
Hi @Phelan164 , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-09-09 18:39] #8622 closed

[2020-09-09 18:45] medyagh commented on #8834
thanks for waiting on this, we have integration tests that verfies we copy the cert inside minikube. so I would be surprised if it doesn't do that for you.

I still think your company has a diffrent registory mirror (simmilar to china) that blocked access to gcr.io

I believe you can fix this problem by getting the approved mirror your company/corp/network uses
and pass it to

[code]

[2020-09-09 18:45] #7626 closed

[2020-09-09 18:46] priyawadhwa commented on #9201
/triage support

[2020-09-09 18:48] medyagh commented on #8898
Meanwhile have you tried out newest driver Docker Driver with latest version of minikube?
you could try
minikube delete
minikube start --driver=docker

for more information on the docker driver checkout:
https://minikube.sigs.k8s.io/docs/drivers/docker/

[2020-09-09 18:48] #8898 closed

[2020-09-09 18:53] priyawadhwa commented on #8962
It should work with either docker or VM, so you can try with whichever is better for you. I used the default k8s version minikube is using (I believe it's 1.19)

[2020-09-09 18:56] priyawadhwa commented on #8940
Hey @chainhead looks like this issue is a dupe of https://github.com/kubernetes/minikube/issues/4206 -- I'm going to close this issue so that we can centralize the conversation there.

I'd suggest commenting on that issue and also reading through it, there are a few different fixes suggested by other users.

If you think this issue is different, feel free to reopen at any time by commenting /reope

[2020-09-09 18:57] priyawadhwa commented on #8834
Hey @bs444 are  you still seeing this issue?

[2020-09-09 18:58] priyawadhwa commented on #9208
cc @sharifelgamal

[2020-09-09 19:08] MRamos62786 commented on #9110
I've updated to v1.13 and this appears to have been resolved for me.

[2020-09-09 19:08] #9110 closed

[2020-09-09 19:19] medyagh commented on #8330
great to hear that ! thank you for confirming

[2020-09-09 19:19] #8330 closed

[2020-09-09 19:59] bs444 commented on #8834
@medyagh

[code]
and
[code]

@priyawadhwa

Yes, I am:

[code]

## Update:
I verified that the certificates were indeed added to the minikube container at /etc/ssl/certs/

[code]

However, I do not believe just copying them to /etc/ssl/certs is sufficient to allow the container to fully trust the cert.

[code]

The following worked:

[code]

Therefore, I believe the process (in ssh_runner.go?) for

[2020-09-09 20:00] #8301 closed

[2020-09-09 20:02] ovidiuf commented on #9173
Thanks.

[2020-09-09 20:06] mallow111 commented on #8962
great, thanks, you can close this ticket now.

[2020-09-09 20:06] #8962 closed

[2020-09-09 21:51] MarkAJanney opened #9210 "minikube start fails to recognize VirtualBox 6.1"
**Steps to reproduce the issue:**

1. Install Oracle VirtualBox 6.1
2. Install minikube 1.13.0
3. Execute: minikube start

To judge from the output  (below) minikube is not recognizing the installed VirtualBox.

**Full output of failed command:**
See below

**Full output of `minikube start` command used, if not already included:**
tinkerboy@rafiki56-desktop:~$ minikube start
😄  minikube v1.13.0 on

[2020-09-09 23:21] medyagh opened #9212 "add make targets with gopogh"
we should have a make target that runs integration tests and then converst the test restult to gopogh and puts it in /out/testout.html
and the raw test output should be in ./out/testout.txt

simmilar to how we do it in jenkins
https://github.com/medyagh/minikube/blob/0d33242daef60bd07e5b39fd6491e52d04eac207/hack/jenkins/common.sh#L352-L353

that way users can run integraiton tests and then have th

[2020-09-10 02:24] neargle commented on #8949
@priyawadhwa Thx for reply.

$ cat /etc/resolv.conf

[code]

$ ping google.com -c 4
[code]

This is the output of `kubectl describe deploy/coredns -n kube-system`:

[code]

I add `log` in coredns configmap:

[code]

And all log since yesterday below:
[code]

[2020-09-10 04:40] conradwt commented on #9169
@prasadkatti The issue is happening on macOS 10.15.6.  Next, I'm unable to run `minikube logs` because  I'm getting the following message:

[code]

[2020-09-10 06:14] afbjorklund commented on #9210
VirtualBox 6.1 is supported, but your installation looks weird - that was supposed to be `VBoxManage --version` output

It works fine with the standard Ubuntu `virtualbox` installation, so maybe something change in the Oracle installation ?

[2020-09-10 06:23] afbjorklund commented on #9210
Nope it looks fine too.

[code]

Wonder where this extra "USER: tinkerboy VBOX_USER_HOME:\n" output is coming from ?

[2020-09-10 06:53] neel8989 commented on #9192
@tstromberg issue has been resolved now.
Previously Am using virtualbox-6.1.14,then uninstall latest version and installed virtualbox-5.2.44 now it is working.

[2020-09-10 08:18] #9192 closed

[2020-09-10 11:26] utdevops opened #9213 "Unable to start minikube in windows 10 pro"
**Steps to reproduce the issue:**

1. minikube start
2. getting:  Unable to connect to the server: x509: certificate is valid for 192.168.99.101, 10.96.0.1, 127.0.0.1, 10.0.0.1, not 192.168.99.100
3.i am using windows 10 pro .. it was fine 12 hours ago but now its giving this error
4. tried multiple times and restarted laptop as well

**Full output of failed command:**

**Full output of `minikube

[2020-09-10 15:26] surensinghkhatana commented on #9116
Hi @priyawadhwa ,
Thanks for your comment.
I have removed vagrant from the picture now. Minikube is running inside a docker container in a Ubuntu VM running on virtual box.

Some configuration info from my env :
![image](https://user-images.githubusercontent.com/37261910/92753299-6dbb7d00-f392-11ea-9da3-0cf91835388a.png)

![image](https://user-images.githubusercontent.com/37261910/92753571-af4c280

[2020-09-10 16:11] MarkAJanney commented on #9210
This is the standard Ubuntu installation of VirtualBox performed using
the Synaptic GUI

When I run the VirtualBox shell script it emits a line on stdout that
look similar:
	USER: tinkerboy VBOX_USER_HOME:

-----Original Message-----
From: Anders Björklund <notifications@github.com>
Reply-To: kubernetes/minikube <
reply@reply.github.com>
To: kubernetes/minikube <minikube@noreply.github.com>
Cc: Ma

[2020-09-10 16:45] strakh-alex opened #9214 "VBoxManage: error: Invalid NIC type 'virtio' specified for NIC 1"
**Steps to reproduce the issue:**

1. Fedora 32 VirtualBox
2. minikube start

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**
 minikube start
😄  minikube v1.13.0 on Fedora 32
✨  Using the virtualbox driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🔥  Creating virtualbox VM (CPUs=2, Memory=4

[2020-09-10 17:27] j-windsor commented on #9208
If you're looking for another output (looks to be slightly different), I was able repro too.
[code]

[2020-09-10 17:32] afbjorklund commented on #9214
Normally it is included... Here is what you get on Ubuntu:

[code]

So maybe the virtualbox package for Fedora is broken ?

Which version was it ?

[2020-09-10 17:34] matthewmichihara opened #9215 "Trying to add `gcp-auth` addon fails despite having run `gcloud auth login`"
Trying to add the `gcp-auth` addon fails despite having run `gcloud auth login`. This is confusing because the CLI error message `💣  Could not find any GCP credentials. Either run 'gcloud auth login' or set the GOOGLE_APPLICATION_CREDENTIALS environment variable to the path of your credentials file.` and the docs at https://minikube.sigs.k8s.io/docs/handbook/addons/gcp-auth/ make it sound like run

[2020-09-10 17:36] YuriyKrasilnikov opened #9216 "Bug "minikube start --mount" at windows 10"
**Steps to reproduce the issue:**

At Windows 10:
1. minikube start --mount
or
2. minikube start --driver=docker --mount-string="/Users/yuryk:/minikubehost" --mount

**Full output of failed command:**
I0910 20:32:19.177194   24440 out.go:191] Setting JSON to false
I0910 20:32:19.190189   24440 start.go:102] hostinfo: {"hostname":"LAPTOP-FELNAPVO","uptime":4666,"bootTime":1599754473,"procs":347,"os

[2020-09-10 17:59] afbjorklund commented on #9210
Sorry, cannot reproduce. The default system version is 5.2, while you seem to have vendor version 6.1.14r140239 (from Oracle) ?

`5.2.42_Ubuntur137960`

`6.1.14r140239`

Neither has that extra output.

[2020-09-10 18:30] sharifelgamal commented on #9215
This is a documentation issue, you need to run `gcloud auth application-default login`

[2020-09-10 18:31] medyagh opened #9217 ""cache add" command: improve error message for not existing image."
[code]

[2020-09-10 18:45] strakh-alex commented on #9214
The VB version is:  6.1.14_RPMFusion r140239
The latest from their repository.
minikube version: v1.13.0

[2020-09-10 18:54] afbjorklund commented on #9214
You can file a bug report with RPMFusion, if you want them to build with "virtio" support.

To get `minikube start` working, you can use one of the emulated drivers instead:

[code]

[2020-09-10 18:55] afbjorklund commented on #9214
Seems to be a small copy/paste typo in the help text there. Oh well.

https://www.virtualbox.org/manual/ch06.html#nichardware

[2020-09-10 20:43] sivaswami opened #9219 "Minikube Installation with Homebrew fails with Checksum."
• • • brew install minikube
==> Auto-updated Homebrew!
Updated 1 tap (homebrew/cask).
...
Error: v1.13.0 tag should be eeb05350f8ba6ff3a12791fcce350c131cb2ff44
but is actually 0c5e9de4ca6f9c55147ae7f90af97eff5befef5f

[2020-09-10 20:53] tempacct4q commented on #9013
Hey @priyawadhwa lemme test that and I'll you know

[2020-09-10 21:18] #7404 closed

[2020-09-10 23:22] Muratbucak opened #9221 "New"

[2020-09-11 07:18] chainhead commented on #8940
/reopen

Doesn't work.

That other post basically says to switch off VPN and use `docker-machine-driver-hyperkit` from Docker Desktop from Mac.

[2020-09-11 09:51] afbjorklund commented on #9219
Same as #9196

[2020-09-11 12:06] rubenpurple commented on #8512
I have been able to fix it by changing the network card of the virtual commuter:

![image](https://user-images.githubusercontent.com/60217290/92923559-ef191b00-f437-11ea-860b-a0ba26c95c8e.png)

[2020-09-11 14:15] derklauer-ocean commented on #9130
I had this same error with `--vm-driver=hyperv`.  Resolved it by running `minikube delete` then reinstalling minkube as administrator.  Also depending on your windows license if you go the HyperV route you can only run one VM at a time.

[2020-09-11 17:53] afbjorklund commented on #9219
Probably `brew edit` until the new release is trusted

[2020-09-11 20:02] #9212 closed

[2020-09-11 21:00] medyagh opened #9224 "minikube on Apple Silicon / M1 CPU (darwin-arm64)"
Place holder to document all the issues

-  minikube binary for Darwin (amd64) works but no driver I installed.
[code]
## Docker can not be installed

[code]

## hyper kit can not be installed

<details>
<pre>
med@meds-mac g1 % brew install hyperkit
Error: dlopen(/System/Library/Frameworks/Ruby.framework/Versions/2.6/usr/lib/ruby/2.6.0/universal-darwin20/fiddle.bundle, 0x0009): symbol '_ffi_prep_c

[2020-09-11 22:07] medyagh commented on #9208
I think the problem might be happening because the gcp-auth being enabled before storage-provisioner and the other default addon
maybe we should make sure all addons other than the default addons are enabled and started once these two are enabled

[2020-09-11 22:58] EslamElHusseiny commented on #4589
Didn't work for me on Mac 😞

[2020-09-11 23:50] medyagh commented on #9221
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[code]

This wi

[2020-09-11 23:51] medyagh commented on #9213
@utdevops does deleting and starting minikube help ?

/triage needs-information
/triage support

[2020-09-12 02:25] sivaswami commented on #9219
Thanks. it works fine now

[2020-09-12 08:21] afbjorklund commented on #9224
It seems like VirtualBox is unlikely to be available: https://forums.virtualbox.org/viewtopic.php?f=8&t=98742

[2020-09-12 08:26] afbjorklund commented on #9224
Parallells Desktop ($80) has a prototype available: https://www.parallels.com/blogs/apple-silicon-wwdc/

[2020-09-12 08:28] #9219 closed

[2020-09-12 08:31] afbjorklund commented on #9224
For the linux-arm64 platform (like Raspberry Pi 4), the available minikube options are libvirt (kvm2) and native (none).

We still have to add proper `arm64` support to CI, though... Currently only `amd64` is being tested. #9205 #6280

[2020-09-12 10:15] afbjorklund commented on #9224
Eventually we should also build a KIC base docker image for arm64. KIND is also working on this: https://github.com/kubernetes-sigs/kind/issues/166

https://www.docker.com/blog/getting-started-with-docker-for-arm-on-linux/

https://hub.docker.com/r/arm64v8/ubuntu/

Thanks to QEMU, you can do this on your regular Linux laptop already:

[code]

That way, once Docker Desktop is done with their VM (Li

[2020-09-12 11:36] #9204 closed

[2020-09-12 11:38] afbjorklund commented on #6954
If you think it is important to support distributions without systemd and without openrc, then please reopen...

The current supported distribution for OpenRC is Google CloudShell (#7539), so it _might_ not work on others.
The canonical distribution is Gentoo, but there are some others as well: https://en.wikipedia.org/wiki/OpenRC

However, we don't have any good regression tests for this (non-sys

[2020-09-12 11:59] afbjorklund opened #9226 "Mention brew on the linux install page too"
From PR #9066:

Currently we only mention Homebrew (https://brew.sh) for Mac, while it also supports Linux (as "linuxbrew")

`brew install minikube`

[2020-09-12 12:06] afbjorklund commented on #8894
Maybe it was the "support" label that got confusing, looked more like "documentation"

[2020-09-12 13:54] afbjorklund commented on #9138
* The "minikube version" says the code was dirty when it was built
* Now "minikube start" for v0.0.13 uses kicbase:v0.0.12-snapshot3

[2020-09-12 13:59] afbjorklund opened #9227 "Build KIC base image for ARM"
Once we have cleaned up the kicbase image and started to use regular packages, we can build for other architectures too.

So we can have both `amd64` and `arm64` variants.

Currently it is quite the mess to do it, since the docker daemon doesn't support architectures (only buildx and registry does)

But it is doable, Ubuntu 20.04 LTS supports both arch.

[2020-09-12 14:02] afbjorklund commented on #9227
This is needed for docker driver support on raspberry pi 4 and on apple silicone macs, as well as being good for portability.

[2020-09-12 15:20] afbjorklund opened #9228 "Build ISO minikube image for ARM (aarch64)"
If we want to run _any_ hypervisor driver on arm64, we need a new "minikube.iso" that works on the architecture.

Currently the image is full of amd64 binaries that we download from other places, so it does **not** build from source.

Buildroot does support the ARM architectures (armv7, arm64).

For instance the Raspberry Pi OS still uses 32-bit by default...

[2020-09-12 15:21] afbjorklund commented on #9228
Needed for #6159 and #9224

[2020-09-12 15:24] afbjorklund commented on #9226
https://docs.brew.sh/Homebrew-on-Linux

[2020-09-12 15:29] afbjorklund commented on #9226
Currently blocked by #9196

[code]

[2020-09-12 19:06] goku321 commented on #7731
Hi @medyagh do we need to add this url: `https://minikube.sigs.k8s.io/docs/drivers/{DRIVER_NAME}` to the addon list table?

[2020-09-12 20:03] #7405 closed

[2020-09-12 20:07] aps831 commented on #9115
Working on minikube 1.13.  Fixed by #9033

[2020-09-12 20:07] #9115 closed

[2020-09-13 02:09] #6850 closed

[2020-09-13 04:22] xiejiangzhao commented on #9226
Same meet this error

[2020-09-13 07:14] #7706 closed

[2020-09-13 08:23] afbjorklund commented on #9196
@SMillerDev : hopefully that explanation was good enough ? https://github.com/kubernetes/minikube/releases/tag/v1.13.0

[2020-09-13 08:26] SMillerDev commented on #9196
Yeah, just wanted to make sure it wasn't malicious.

[2020-09-13 08:27] afbjorklund commented on #9196
Revision was fixed in https://github.com/Homebrew/homebrew-core/commit/d6268ceecdc42392a10339f3c62e019a9de94168

[2020-09-13 08:34] afbjorklund commented on #9226
Fix is available in mac brew now, so should appear in linux brew too soon...

You can either change it yourself, or cherry-pick the commit (d6268ceecd)

[2020-09-13 10:12] afbjorklund opened #9229 "Deprecate the old tcp port for docker-env"
Currently we are using a standalone `tcp://` docker daemon, listening on port 2376.

[code]

We can use `ssh://` and connect directly to the unix socket instead, simplifying things.

This could use _either_ the current ssh shell tunnel, or we could use the regular address...

[code]

But we wouldn't have to manage all the extra ssl certificates for https, when using ssh.

[code]

And this allows f

[2020-09-13 10:20] afbjorklund opened #9230 "Deprecate the old varlink for podman-env"
Podman v2 doesn't support the varlink protocol any longer, so have to move to using the unix socket over ssh:

[code]

This also means that we need to set up the `podman.socket` unit, in order to start the `podman.service` unit.

As well as making the `/run/podman/podman.sock` available to the connecting user, in this case called "docker".

See https://github.com/containers/podman/issues/6809 for

[2020-09-13 14:21] #7617 closed

[2020-09-13 14:31] afbjorklund opened #9231 "Create standalone deployment of containerd"
Currently containerd is still running as docker-containerd in the minikube deployment:

* containerd --config /var/run/docker/containerd/containerd.toml

* `/usr/bin/dockerd -H tcp://0.0.0.0:2376 -H unix:///var/run/docker.sock`

* /var/run/docker/containerd/containerd.sock

We should move to a stand-alone deployment instead, like in the regular packaging:

* containerd # /etc/containerd/config.tom

[2020-09-13 14:55] afbjorklund opened #9232 "Use systemd socket activation for the docker service"
Currently we are always starting the docker daemon, partly because we are using docker-machine to create the VM.

Then we shut down the docker daemon again, when selecting another runtime like containerd or perhaps even cri-o.

Instead we should **not** start up automatically on boot, but only when someone uses the `/var/run/docker.sock`...

In the case of podman/cri-o, this could very well be "ne

[2020-09-13 14:59] afbjorklund commented on #8673
This sounds like a duplicate of #3760 ?

Using `sudo kubectl` is correct (for now)

[2020-09-13 15:02] afbjorklund commented on #8673
This sounds like a duplicate of #3760

Using `sudo kubectl` is correct (for now)

[2020-09-13 18:02] DanSotirakisUol opened #9235 "IPs output should only be one line, got 2 lines"
**Os comandos necessários para reproduzir o problema**:
**minikube start**
**A saída do comando minikube start`**:
<details>
😄  minikube v1.13.0 on Ubuntu 18.04
✨  Automatically selected the docker driver
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
💾  Downloading Kubernetes v1.19.0 preload ...

🔥  Creating docker container (CPUs=2, Memory=3900MB) ...
✋  St

[2020-09-13 18:03] #9235 closed

[2020-09-13 18:04] dansotirakis opened #9236 "docker: error getting ip during provisioning: IPs output should only be one line, got 2 lines"
**Os comandos necessários para reproduzir o problema**:
**minikube start**
**A saída do comando minikube start`**:
<details>
😄  minikube v1.13.0 on Ubuntu 18.04
✨  Automatically selected the docker driver
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
💾  Downloading Kubernetes v1.19.0 preload ...

🔥  Creating docker container (CPUs=2, Memory=3900MB) ...
✋  St

[2020-09-13 18:25] #4353 closed

[2020-09-13 19:43] afbjorklund commented on #9120
Was logging the wrong error, due to the auto-restart feature hiding stuff. :angry:

Root cause is that the NetworkSettings.Ports changed from array to map:

[code]
https://github.com/containers/podman/commit/639b809c80dc2fce76c4d24459d06c469777868f

This was to make it more compatible with Docker, while also breaking Podman v1.

So we need to use the docker code for 2.0.1+, but the old podman code

[2020-09-13 20:50] afbjorklund opened #9238 "Using the Podman driver shows Docker Desktop warnings"
Since https://github.com/kubernetes/minikube/issues/9024

[code]

There is a `sudo podman system prune` (1), but there is no Podman Desktop (2).

The suggestion to clean up the internal docker (3) could still be valid, though.

[2020-09-13 20:52] afbjorklund commented on #9238
Probably just clone RsrcInsufficientDockerStorage as RsrcInsufficientPodmanStorage

And change the wording a bit, as per the comment above. And then look for which KIC

[2020-09-13 21:08] afbjorklund commented on #9120
Seems to be mostly working now, but it still fails to remove the volume sometimes...

The workaround is to remove it manually, if so: `sudo podman volume rm minikube`

[2020-09-13 21:20] afbjorklund commented on #9120
From what I can see, CentOS 8.2.2004 still featured Podman 1.6.3

And the RHEL 8.3 Beta still has Podman 2.0.0 (might end up 2.0.5 ?)

[2020-09-13 22:55] medyagh opened #9240 "windows: minikube ssh taking extremely long"
minikube ssh pwd  takes 17 seconds on windows in Azure

this is HyperV driver
[code]

and for docker driver 4 seconds

[code]

This bug also makes minikube cache tests to fail too.

[2020-09-13 23:04] medyagh commented on #9240
I suspect this be side effect of https://github.com/kubernetes/minikube/pull/8907

CC: @sharifelgamal

[2020-09-13 23:30] #7638 closed

[2020-09-14 04:06] tstromberg commented on #9236
Can you please share the output of `minikube start --alsologtostderr -v=1`?

[2020-09-14 12:31] Humza277 opened #9241 "Provision IP not found"
**Steps to reproduce the issue:**

1. minikube start --vm-driver="hyperv" --hyperv-virtual-switch="minikube" -v=5 --alsologtostderr
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**
minikube start --vm-driver="hyperv" --hyperv-virtual-switch="minikube" -v=5 --alsologtostderr
I0914 13:29:11.791797    6464 out.go:191] Setting JSON t

[2020-09-14 13:04] smuve1 opened #9242 "hyperv: StartVM failed"
**Steps to reproduce the issue:**

1. Run powershell as admin
2. minikube start --vm-driver hyperv --hyperv-virtual-switch "Default Switch" --cpus 6 --memory 4096
3. minikube delete
4. same result after re-running start command

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**
* minikube v1.13.0 on Microsoft Windows 10 Enterprise 10.0.1

[2020-09-14 13:21] #9241 closed

[2020-09-14 15:11] javierfar opened #9243 "hyperv: Unable to create "fixed.vhd": AccessDenied,Microsoft.Vhd.PowerShell.Cmdlets.NewVhd"
Hi,

I am unable to start minikube on a Windows 10 PRO system.

I always get the  General access denied error (0x80070005) when trying to start minikube.
Already reviewed all folder permissions, used Administrator privileges and etc.

After fiddling around, I concluded I cannot create 'vhd' type disks altough I can create 'vhdx'!

So, is there a way to make minikube use 'vhdx' type disks?

My sugg

[2020-09-14 16:08] mariorojas commented on #8512
Thanks @rubenpurple , it works for me!

[2020-09-14 16:55] sharifelgamal commented on #9242
Hey @smuve1, sorry for the bad experience here. Could you rerun your `minikube start` command and add `-v=5 --alsologtostderr` to the end of it? That'll help us narrow down the issue you're having.

It's clear that HyperV is failing to start up a VM, but it's not clear why yet.

[2020-09-14 17:36] javierfar commented on #9243
New information:

I cannot create any file with the extension '.vhd'.

Using as example the simple 'mkdir a.vhd' on an Administrator prompt I get 'Access is denied.'
C:\@@>mkdir a.vhd
Access is denied.

[2020-09-14 17:39] javierfar commented on #9243
I think I nailed it.

On the Event Viewer I have what seems to be a system-wide McAfee block for ramsomware that uses the '.vhd' extension.

But I can work freely with '.vhdx', so the question on how to change the file type creation remains.

[2020-09-14 18:35] medyagh opened #9244 "Dedicated network for Docker driver"
dedicate network might solve a lot of CNI issues

[2020-09-14 18:41] princekumar294 opened #9245 "minicube start: Exiting due to GUEST_START"
**Steps to reproduce the issue:**

1.Unable to restart cluster, will reset it: getting k8s client: client config: client config: error loading config file "/etc/rancher/k3s/k3s.yaml": open /etc/rancher/k3s/k3s.yaml: permission denied
2. Exiting due to GUEST_START: Failed kubeconfig update: Error reading file "/etc/rancher/k3s/k3s.yaml": open /etc/rancher/k3s/k3s.yaml: permission denied
3.

**Full

[2020-09-14 18:56] sharifelgamal commented on #9216
This is a silly mounting bug we have for the docker driver on windows. We split on `:` to parse out the mount string, but unfortuantely, Windows paths start with a drive letter, usually `C:`, which just breaks absolutely everything. The host path becomes `C`, the container path becomes the rest of the host path and the permission string becomes the container path, which is of course invalid.

We j

[2020-09-14 19:06] afbjorklund commented on #9227
Once the custom packages are out of the way and the images are streamlined, this won't be **too** hard to do (except buildx)

There is one image for "arm32v7", like the Raspberry Pi OS (32-bit) a.k.a. `arm`

And one image for "arm64v8", like the Raspberry Pi 4 hardware (64-bit) `arm64`

[2020-09-14 19:48] medyagh opened #9246 "minikube update-context should also make the context Active"
Look bellow example

I had to manually do  "kubectl config use-context" to make it active

[code]

[2020-09-14 19:51] medyagh opened #9247 "improve message, when there is profile name other than "minikube""
I only have one cluster, called ```functional-20200910153511-83042```

[code]

when I run minikube ssh I get this error:
[code]

it would be better that we tell them,
[code]

[2020-09-14 20:05] sharifelgamal commented on #9240
MacOS:
Before
[code]

After
[code]

[2020-09-14 20:13] afbjorklund opened #9248 "Setting --cpus in docker driver requires CONFIG_CFS_BANDWIDTH in kernel"
If you are running on a kernel without all the Completely Fair Scheduler (CFS) config enabled, using `--cpus` will fail:

`NanoCPUs can not be set, as your kernel does not support CPU cfs period/quota or the cgroup is not mounted`

We should look if this feature is supported, and just run minikube without the cpu throttling (without `--cpus`) if it is not.

[code]
----
Similar to what we do for --

[2020-09-14 20:21] sharifelgamal commented on #9240
Windows:
Before
[code]

After
[code]

[2020-09-14 20:36] medyagh opened #9249 "cache add: doesnt work with new Google Artifact Registry"
https://cloud.google.com/artifact-registry/docs/docker/quickstart#create

I tried to cache this image in google AR us-docker.pkg.dev/jonjohnson-test/public/ubuntu
but minikube looses the image name

[code]

[code]

minikube saved it as
[code]

[2020-09-14 20:39] medyagh commented on #9249
cc: @jonjohnsonjr

[2020-09-14 20:50] sharifelgamal commented on #9240
Linux:
NOTE: Linux doesn't respect the native-ssh flag at all, with or without the new code
Before (hardcoded to native)
[code]

After (hardcoded to external)
[code]

[2020-09-14 21:37] medyagh commented on #9240
with native-ssh false and true on windows hypever-7 machine azure.

[code]

[2020-09-14 22:45] medyagh commented on #9232
I agree and this would be a great performance boost for non-docker runtimes

[2020-09-15 01:57] wangcrazy1 opened #9251 "Unable to get host IP: HostIP not yet implemented for "vmwarefusion" driver"
**重现问题所需的命令**： minikube start --driver=vmwarefusion

**失败的命令的完整输出**：<details>
😄  minikube v1.13.0 on Darwin 10.14.5
✨  Using the vmwarefusion driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🏃  Updating the running vmwarefusion "minikube" VM ...
🌐  Found network options:
    ▪ NO_PROXY=localhost,127.0.0.1,10.96.0.0/12,192.168.99.0/24,192.168.39.0/24
🐳  P

[2020-09-15 06:17] afbjorklund opened #9252 "Minikube memory assets have a strange modification date"
The MemoryAsset in minikube doesn't have a date set (uses `time.Time{}`).

This causes errors on certain platforms, for instance on the Raspberry Pi:

[code]

It "works" on the regular platform, but still looks a bit odd and is probably wrong.

[2020-09-15 06:19] afbjorklund commented on #9252
The suggestion is to just skip the "touch" part, when the mtime is not set.

[code]

[2020-09-15 06:24] afbjorklund commented on #9227
I was able to get it starting on the Raspberry Pi, which is ARM hardware. Found some other weird bugs in the process...

https://github.com/afbjorklund/minikube/tree/kicbase-armv7

https://github.com/afbjorklund/minikube/tree/kicbase-arm64

[code]

First have to "allow" running on non-amd64, and then work around issues #9248 and #9252

[code]

[2020-09-15 06:40] afbjorklund commented on #9227
Also the emoji are missing from the default terminal (LXTerminal). Installing "fonts-noto-color-emoji" didn't fix it.

The emoji do work in e.g. a text editor, but I think the terminal emulator from the [LXDE](https://en.wikipedia.org/wiki/LXDE) desktop doesn't provide.

![minikube-raspberry](https://user-images.githubusercontent.com/10364051/93174899-1c631300-f72f-11ea-8887-a5c4363ee416.png)

[2020-09-15 06:43] afbjorklund commented on #9232
The main missing feature (from dockerd) seems to be an idle timeout ?

When running podman for instance, it shuts down again after 5 seconds.

[2020-09-15 07:20] paneq commented on #3207
@mitchej123 I tested docker-for-mac, minikube, microk8s, k3d and they all have the same issue. Some of them run as root and you need to use `sudo [h]top` instead of `[h]top` to see the effect, but they all suffer from the same problem.

[2020-09-15 07:23] RainingNight commented on #645
I run into the same problem. Do you have any solutions?

[2020-09-15 07:29] vivekraj59 commented on #1967
Do not forget to select wireless option if you are on Wifi

![image](https://user-images.githubusercontent.com/36675113/93179297-197a1980-f753-11ea-8fdd-9ce2974e6ee8.png)
Create a "minikube" external Hyper-V virtual switch.
Put minikube.exe into a folder on a disk (e.g. k:\minikube).
Add the folder to PATH. (Restart the computer)
Create a folder on the same logical disk as the minikube.exe's folde

[2020-09-15 08:25] mrbenosborne commented on #8966
Hi @priyawadhwa .

I updated minikube but I am still hitting the same issue:

![image](https://user-images.githubusercontent.com/7268075/93185481-5df6bc80-f735-11ea-8d8b-f643f46a591d.png)

[2020-09-15 09:42] prajaktachaudhari opened #9253 "Failed to pull image "gcr.io/k8s-minikube/storage-provisioner-s390x:v3""
**Steps to reproduce the issue:**
1. sudo -E minikube start --vm-driver=none

**Full output of `minikube start` command used, if not already included:**
[code]
**Pod status :**
[code]
**Additional logs for  storage-provisioner**
[code]
Additional findings:
`v3` tag is missing for `storage-provisioner` image. https://console.cloud.google.com/gcr/images/k8s-minikube/GLOBAL/storage-provisioner-s390x?

[2020-09-15 10:04] #7737 closed

[2020-09-15 11:46] woodcockjosh opened #9254 "passing --memory=8g --driver virtualbox does not change memory for vm"
**Steps to reproduce the issue:**

1. `minikube start -p my-cluster --memory 8g --driver virtualbox`

**Full output of failed command:**

<pre>
🔥  Creating virtualbox VM (CPUs=2, Memory=6000MB, Disk=20000MB) ..
</pre>

**Full output of `minikube start` command used, if not already included:**

<pre>
Spacees-MacBook-Pro:k8s josh$ minikube start -p my-cluster --memory=16gb
😄  [my-cluster] minikube v

[2020-09-15 13:08] rufreakde commented on #1640
As I did not want to merge my kubeconfigs and still switch with my zsh directly and fast with a command.
I just set a different $KUBECONFIG path everytime I use minikube.
I created the following alias for my minikube:

[code]

Start is changing to a default minikube configuration file on my system starting minikube and then exposing the images that minikube is using
Stop is changing back to the pr

[2020-09-15 13:25] woodcockjosh commented on #9254
I have ran the command again and it appears to be working now. I'm not sure if this is intermittent or if this was an issue with a previous version.

[2020-09-15 15:05] joshiste commented on #9213
Having the same issue on macOS.
Deleting and starting again didn't help.

deleting `~/.minikube` did help

[2020-09-15 15:21] utdevops commented on #9213
Yes
Deleting and starting the cluster helped me

Regards
K.Anutnam

On Tue, Sep 15, 2020 at 8:36 PM Johannes Edmeier <notifications@github.com>
wrote:

[2020-09-15 15:25] utdevops commented on #9213
Yes i follwed bekow steps and its resolved my issue

Well i updated my windows and acivated hyper-v (its jusy an FYI) however delete and start will solve the issue

[2020-09-15 15:25] #9213 closed

[2020-09-15 16:08] tstromberg commented on #9245
It sounds like you have a KUBECONFIG environment variable setup, but minikube is unable to update it. Could you include the full output of `minikube start`?

[2020-09-15 16:10] tstromberg commented on #9254
I noticed your output mentions v1.12.3: I believe this bug was fixed in v1.13: https://github.com/kubernetes/minikube/pull/9033

Have you seen this with the latest release?

[2020-09-15 18:36] Kristof-Mattei opened #9257 "Idle network connection killed after 5 minutes."
**Steps to reproduce the issue:**

We have an application that sends data to an external system for processing.

`(app) POD -> External System`

When the application has sent the last bit, there can be a significant delay until the External System replies back.

This is causing issues, as somewhere around the 5 minute mark our application receives a `TCP FIN ACK` from the External System.

Monitor

[2020-09-15 19:44] j-windsor opened #9258 "Include JSON Output as a standard option."
the `--output` flag does not seem to be offered with most of the commands. `start` has it, but `pause`, `unpause`, and `stop` do not.

Is it possible to make this flag available to all commands as an inherited option? or at least more commands?

[2020-09-15 19:44] poornachandratejasvi commented on #9214
even im facing the same error. Can i know how can i fix the issue

[2020-09-15 19:49] woodcockjosh commented on #9254
yeah I think when I upgraded it got fixed

[2020-09-15 19:49] #9254 closed

[2020-09-15 21:38] #9252 closed

[2020-09-15 21:51] #9120 closed

[2020-09-15 22:28] jonjohnsonjr opened #9259 "registry-creds: Add support for Google Artifact Registry"
I'd love to have [Artifact Registry](https://cloud.google.com/artifact-registry) included in the [registry-creds](https://minikube.sigs.k8s.io/docs/handbook/registry/#using-a-private-registry) addon.

Authentication generally works the same way as GCR: https://cloud.google.com/artifact-registry/docs/docker/quickstart#auth

I'm not sure how registry-creds works or how one might go about adding this

[2020-09-15 22:31] medyagh commented on #9259
@jonjohnsonjr would be a great feature, I would happy accept a PR that would implements this

[2020-09-15 23:07] #9248 closed

[2020-09-15 23:10] #9206 closed

[2020-09-15 23:31] sharifelgamal commented on #9251
不建议使用vmwarefusion驱动程序，请改用vmware驱动程序。我们应该有比这更好的错误消息。
---
The vmwarefusion driver is deprecated, try the vmware driver instead. We should have a better error message than this though.

[2020-09-15 23:34] sharifelgamal commented on #9253
Yeah it looks like v3 of storage-provisioner (and v2 for that matter) was only released for amd architecture. That's a bug we need to fix in our release process.

[2020-09-15 23:42] sharifelgamal commented on #9258
Yeah, I imagine this is the end goal for json output, but it's still a work in progress.

cc @priyawadhwa

[2020-09-16 00:25] pradeepnnv commented on #9246
I would like to work on this issue.

[2020-09-16 01:21] priyawadhwa commented on #9258
Hey @j-windsor I think this would definitely be useful to include for the `stop` command. Both `pause` and `unpause` take <1 second to execute, and we initially added JSON output so that users could see progress during long-running commands. Do you think it would still make sense to add it in for `pause` and `unpause` as well?

[2020-09-16 02:19] tstromberg opened #9261 "Add PR bot performance report for Windows"
To help prevent windows regressions.

[2020-09-16 08:46] afbjorklund commented on #9214
`--host-only-nic-type=Am79C973 --nat-nic-type=Am79C973`

But please report this rpm bug to the packager (RPMFusion)

[2020-09-16 15:29] japita-se commented on #5996
Try this:
[code]

[2020-09-16 16:18] afbjorklund commented on #9253
It is the same as #9060 (for another architecture). As a workaround, you can build it yourself: `make storage-provisioner-image`

[2020-09-16 16:20] afbjorklund commented on #9060
We should make it multi-arch: #9061

[2020-09-16 16:20] afbjorklund commented on #9253
We should make it multi-arch: #9061

[2020-09-16 16:25] afbjorklund commented on #5996
The issue is being tracked in #8526

[2020-09-16 16:40] afbjorklund commented on #9120
Verified that is still works with the new podman 2.1(only RC so far)

[2020-09-16 17:34] #7368 closed

[2020-09-16 18:10] medyagh commented on #8824
this probably have to move to important long term.

[2020-09-16 18:17] medyagh commented on #7904
we still like to do this, we love to see this land in v1.14.0

[2020-09-16 18:17] medyagh commented on #8388
we could do this after buildroot upgrade

[2020-09-16 18:18] priyawadhwa commented on #7630
I think it's safe to assume that users are using all of the images that are in the docker daemon _within_ minikube -- I can't think of a situation where users would want us to prune that daemon for them.

[2020-09-16 18:19] medyagh commented on #9040
@khsabhishek are you sure your windows supports virtualization ?

[2020-09-16 18:21] sharifelgamal commented on #9093
I'm going to go ahead and close this for now. If you still have this issue, please reopen this and add the details @medyagh asked for above.

[2020-09-16 18:21] #9093 closed

[2020-09-16 18:22] medyagh commented on #8944
Hi @igorpalant , I haven't heard back from you, I wonder if you still have this issue?

and do you mind providing those port forwarding commands ? and why did you have to use the port forwarding command ?

why you didnt use just the `minikube service name_of_svc`  command ?

Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so t

[2020-09-16 18:22] #8944 closed

[2020-09-16 18:23] sharifelgamal commented on #8837
I'm going to go ahead and close this for now. If you still have this issue, please reopen this and add in the details asked for above.

[2020-09-16 18:23] #8837 closed

[2020-09-16 18:25] medyagh commented on #8936
the PR fixing this bug is still under works.

[2020-09-16 18:25] medyagh commented on #8924
I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-09-16 18:25] #8924 closed

[2020-09-16 18:26] medyagh commented on #8900
Hi @, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-09-16 18:26] #8900 closed

[2020-09-16 18:27] sharifelgamal commented on #8805
Hey @vibhat89  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikube sta

[2020-09-16 18:27] #8805 closed

[2020-09-16 18:28] RA489 commented on #9257
/triage support

[2020-09-16 18:28] sharifelgamal commented on #8553
Hey @venkatesh551  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

[2020-09-16 18:28] #8553 closed

[2020-09-16 18:28] medyagh commented on #8772
@slinkydeveloper do you still have this issue ?

[2020-09-16 18:31] priyawadhwa commented on #8762
Hey @agentreno were you able to resolve this issue? I'd suggest using a version of kubernetes that supports this flag, which you can specify via:

[code]

[2020-09-16 18:32] medyagh commented on #8848
@saibanna have you tried the suggestions by sharif ?
btw in mac os I recommend using our Docker driver. and has less issues with VPN

[2020-09-16 18:33] szarnyasg commented on #8772
Just an observer here -- I've subscribed to this issue because I had following error on Fedora 32 due to a clash between `moby` and `libvirt`:

[code]

Since subscribing to this issue, I've resolved it as suggested on the [Red Hat Bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1829090) and, i.e. by removing the incorrect `/etc/firewalld/zones/trusted.xml` file:

[code]

[2020-09-16 18:35] medyagh commented on #8209
@grahamsutton do you still have this issue with the latest version of minikube and docker driver?

[2020-09-16 18:35] #6834 closed

[2020-09-16 18:35] sharifelgamal commented on #7677
You can also run `newgrp libvirt` to accomplish the same as above without rebooting.

Either way, I'm going to go ahead and close this issue, it seems to have been resolved. Feel free to reopen if there continues to be an issue.

[2020-09-16 18:35] #7677 closed

[2020-09-16 18:35] medyagh commented on #8812
Hi @@PzaZZ-8899 have you tried the suggstion by sharif ?

I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more

[2020-09-16 18:35] #8812 closed

[2020-09-16 18:36] sharifelgamal commented on #8517
Hey @irtaza909  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikube st

[2020-09-16 18:36] #8517 closed

[2020-09-16 18:37] medyagh commented on #8728
Hi @redoz94, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-09-16 18:37] #8728 closed

[2020-09-16 18:40] medyagh commented on #8720
@SMDMANSOOR
@eagleboatblue

do you mind trying

[code]
then
[code]

and see if that fixes the problem?

/triage needs-information
/triage support

[2020-09-16 18:43] #6585 closed

[2020-09-16 18:43] medyagh commented on #8584
@zenbones
@fabiokung
I see this
`Prohibited TLS 1.2 Cipher Suite: c014`

I wonder if the java client for kubernetes is using the different Cert format.

[2020-09-16 18:45] sharifelgamal commented on #8009
This is done.

[2020-09-16 18:45] #8009 closed

[2020-09-16 18:46] medyagh commented on #8584
I recommend following this thread for better support https://github.com/kubernetes/minikube/issues/8584

[2020-09-16 18:46] #8584 closed

[2020-09-16 18:48] medyagh commented on #8356
@tamalsaha I recommend using minikube github action runner, setup-minikube https://github.com/marketplace/actions/setup-minikube

have your tried [setup-minikube](https://github.com/marketplace/actions/setup-minikube) ?

[2020-09-16 18:50] medyagh commented on #3752
I would be voting for this solution, what should be in the documentation ?

[2020-09-16 18:50] grahamsutton commented on #8209
@medyagh Minikube is working great now. Upgrading to v1.12.3 fixed the issue for me. Thank you for the support and for following-up with me.

[2020-09-16 18:51] medyagh commented on #8724
@Pavs1605 do you still have this issue, have you tried the docker driver?

[2020-09-16 18:51] arunsp1007 opened #9262 "VBoxManage.exe: error: VT-x is disabled in the BIOS for all CPU modes"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-09-16 18:53] medyagh commented on #6280
now we have AWS account ( I mailed the creds to all minikube maintainers), please feel free to add setup a arm64 machine and I will hook it up to github actions or jenkins

[2020-09-16 18:53] arunsp1007 commented on #9262
minikube delete
* Removing C:\Users\arunkumar.p\.minikube\machines\minikube ...
* Removed all traces of the "minikube" cluster.
PS C:\WINDOWS\system32> minikube start
* minikube v1.13.0 on Microsoft Windows 10 Pro 10.0.18362 Build 18362
* Automatically selected the virtualbox driver
* Starting control plane node minikube in cluster minikube
* Creating virtualbox VM (CPUs=2, Memory=4000MB, Disk=200

[2020-09-16 18:57] #8343 closed

[2020-09-16 18:57] #8815 closed

[2020-09-16 19:01] medyagh commented on #7944
we already done this

[2020-09-16 19:01] #7944 closed

[2020-09-16 19:01] #7980 closed

[2020-09-16 19:02] medyagh commented on #8012
this still would be a good idea to implement, to give a numeric score for each driver base on their health.

[2020-09-16 19:04] priyawadhwa commented on #7804
This would improve performance, but before we do `CacheAndLoadImages` we check if the image already exists in the daemon in the `needsTransfer` function --

https://github.com/kubernetes/minikube/blob/070cbb99eeb579b72e141707ca810cbbc8130b5d/pkg/minikube/machine/cache_images.go#L139

My guess is we're looking at ~.5s improvement, but it should be easy enough to do, especially if we compare preload

[2020-09-16 19:53] renich commented on #8388
Can we just jump directly to cri-o v1.19.0?

[2020-09-16 20:30] sharifelgamal commented on #9262
`VBoxManage.exe: error: VT-x is disabled in the BIOS for all CPU modes (VERR_VMX_MSR_ALL_VMX_DISABLED)` means that you don't have virtualization enabled. You need to enable VT-x in your BIOS.

[2020-09-16 20:39] afbjorklund commented on #8388
Theoretically, but they bumped to go 1.15

[2020-09-16 21:53] #9238 closed

[2020-09-16 22:51] medyagh opened #9264 "update go version to be 1.15 in go mod"
to match
https://github.com/kubernetes/kubernetes/blob/09b3f6dbb3224f32d28c81f330f303ac16ee2eae/go.mod#L9

[2020-09-17 00:02] rajurh commented on #9040
@medyagh Yes it supports and was working before not sure all of a sudden its broken. I have provided my screenshots above.

[2020-09-17 06:16] afbjorklund commented on #9264
The master image is `k8s.gcr.io/build-image/kube-cross:v1.15.2-1`

https://github.com/kubernetes/kubernetes/commit/a4a98f440cea4fea7751f7eee377350a72669426

So that is the minor version that we should be using (but 1.15 for go.mod)

[code]

----

Don't forget to update .travis.yml and .github/workflows/*.yml !

The new ISO has go 1.13, which is a problem for podman/cri-o.

[2020-09-17 06:22] afbjorklund commented on #3752
There was some code in the gist, but someone needs to verify it (on a mac): https://github.com/kubernetes/minikube/issues/3752#issuecomment-478220260

The alternative is building the whole thing in a Linux VM, but that's like giving up (on Darwin)

[2020-09-17 06:23] afbjorklund commented on #3752
I prefer that it would be scripted (CLI), but otherwise you can do the same thing from the GUI

https://support.apple.com/guide/disk-utility/create-a-disk-image-dskutl11888/mac

[2020-09-17 06:31] Kristof-Mattei commented on #9257
@RA489 This is Docker on WSL, not Linux.

Also, I can  reproduce this inside of Docker, without Minikube, without WSL. I think I need to move my issue to the Docker repo.

[2020-09-17 11:18] gvtaras commented on #8202
Same issue:
os: macOS 10.15.6
docker: 19.03.12
docker desktop: 2.3.0.5

[2020-09-17 15:05] ravindrabhargava commented on #9264
I would like to understand it more and also like to work on it Thanks

[2020-09-17 15:19] croman-skyhook opened #9266 "Host Access via host.minikube.internal doesn't work as advertised"
**Minikube Version**
minikube version: v1.13.0
commit: 0c5e9de4ca6f9c55147ae7f90af97eff5befef5f

**Steps to reproduce the issue:**

1. minikube start
2. minikube ssh
3. ping host.minikube.internal

**Full output of failed command:**

ping: bad address 'host.minikube.internal'

**Full output of `minikube start` command used, if not already included:**

😄  minikube v1.13.0 on Darwin 10.15.6
🆕  Kuber

[2020-09-17 15:23] croman-skyhook commented on #9266
This just started working. Same minikube version, not sure what I did. Closing

[2020-09-17 15:23] #9266 closed

[2020-09-17 17:39] rawkode opened #9268 "feature: make it easier to enable JSON format for structured logging"
Kubernetes 1.19 seen a big push for ensuring the Kubernetes components produce structured logs. Each components can be passed the `--logging-format` flag to tweak the output format of these structured logs. Available formats at the time of this issue are `text` and `json`, with the former being the default.

I'd like to see `minkube` support a single flag for enabling the format to be switched to

[2020-09-17 18:31] matthewmichihara commented on #9208
Do you think this is something we can prioritize? The IDEs are looking to leverage this functionality for upcoming features.

[2020-09-17 21:51] priyawadhwa opened #9271 "Enable scheduled stop"
Top level issue tracking the following:

- [x] Implement schedule stop for unix https://github.com/kubernetes/minikube/pull/9503
- [x] implement scheduled stop on windows (https://github.com/kubernetes/minikube/pull/9689)
- [x] Add --cancel-scheduled-stop flag to cancel all existing scheduled stops https://github.com/kubernetes/minikube/issues/9730
- [x] `minikube status` should show existing sche

[2020-09-18 09:16] A-Hilaly commented on #9247
/assign

[2020-09-18 09:52] prajaktachaudhari commented on #9253
Thanks @sharifelgamal and @afbjorklund for prompt replies.

[2020-09-18 14:03] Evalle commented on #9217
I can try to help with that
/assign

[2020-09-18 14:28] agentreno commented on #8762
hi @priyawadhwa :) I'm using version 1.18.3, I struggled to find a better reference but I think [this file on this branch](https://github.com/kubernetes/apiserver/blob/release-1.18/pkg/authentication/token/tokenfile/tokenfile.go) means it's supported by apiserver in that release?

Tested again and still seeing the same issue and same log output with apiserver usage info printed. Did you manage to

[2020-09-18 16:48] baejinsoo opened #9272 "failed to minikube start"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

Exiting due to K8S_INSTALL_FAILED: updating control plane: downloading binaries: downloading kubeadm: download failed: https://storage.googleapis.com/kubernetes-release/release/v1.19.0/bin/linux/amd64/kubeadm?checksum=file:https://storage.googleapis.com/kubernetes-release/release/v1.19.0/bin/linux/amd64/kubeadm.sha256

[2020-09-18 18:32] afbjorklund commented on #9231
For details see https://github.com/kubernetes/minikube/issues/7798#issuecomment-624466503

[2020-09-18 18:37] tejal29 opened #9273 "Improve suggestions when minikube create runs into error"
hey folks, i was trying `gcloud alpha dev code` on one for the cloud code sample.

[code]

I ran into exit status 70 error.  This did not give me enough information on how to recover.
I decided to run the command myself to see the exact error after getting rid of all the "`"

I ran into this error
[code]

I tried the solutions mentioned in the suggestions.
1.
[code]
This did not help.

2. Restarti

[2020-09-18 19:57] medyagh commented on #9273
This seems to be a bug that delete on failure should had worked "--delete-on-failure"

[2020-09-18 20:07] sharifelgamal opened #9274 "Docker on virtualbox macOS github actions machines not running"
This is causing our add_local cache functional test to fail on macOS.

[code]

[2020-09-18 21:23] medyagh commented on #8891
@ilya-zuyev

[2020-09-18 22:51] #9216 closed

[2020-09-18 23:48] tejal29 commented on #9273
Could be possible. There could be chance that freeing up docker was the right solution.
However, when going through the start code i saw,
If minikube start fails, minikube deletes the profile and atempts to try again.
[code]

If freeing up docker memory was right solution, then second time running "minikube start" should have worked.
Another possibility is `deleteMinilubeProfile` has some bug.

[2020-09-19 07:23] rojarasigan opened #9277 "minikube start --driver=virtualbox failing in Mac Catalina with error "minikube is unable to connect to the VM: dial tcp 192.168.99.107:22""
**Steps to reproduce the issue:**

1. Installed Virtual box and minikube in Mac - Catalina
2.Ran command minikube start --driver=virtualbox
3. Failing with error minikube is unable to connect to the VM: dial tcp 192.168.99.107:22: i/o timeout

**Full output of failed command:**

😄  minikube v1.13.0 on Darwin 10.15.6
✨  Using the virtualbox driver based on existing profile
👍  Starting control plane

[2020-09-19 08:19] rojarasigan commented on #9277
A complete uninstall of Minikube followed by complete uninstall of virtual box and then reinstalling virtual box and minikube , did the trick. Minikube uninstall steps for mac is not yet complete.
Had to do both brew uninstall minikube and
minikube stop; minikube delete &&
docker stop $(docker ps -aq) &&
rm -rf ~/.kube ~/.minikube &&
sudo rm -rf /usr/local/bin/localkube /usr/local/bin/minikube &&

[2020-09-19 08:19] #9277 closed

[2020-09-19 12:37] PSANGAN opened #9278 "KUBECONFIG set on Windows: The filename, directory name, or volume label syntax is incorrect."
**Steps to reproduce the issue:**

1. WIN 10 HOME  and Virtual box installed
2. Installed MINIKUBE via the installer
3.  minikube start - give error

**Full output of failed command:**

C:\WINDOWS\system32>minikube start
* minikube v1.12.3 on Microsoft Windows 10 Home 10.0.19041 Build 19041
  - KUBECONFIG=‪C:\Users\ganes\.kube\config
* Using the virtualbox driver based on existing profile
* Starti

[2020-09-19 16:35] zioalex commented on #2991
I had the same problem and I solved simply restarting libvirtd service.

[2020-09-19 18:09] noelleleigh commented on #9196
So, can this issue be closed now?

[2020-09-19 18:28] arunsp1007 commented on #9262
PS C:\WINDOWS\system32> minikube start --driver=virtualbox
* minikube v1.13.0 on Microsoft Windows 10 Pro 10.0.18362 Build 18362
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster minikube
* virtualbox "minikube" VM is missing, will recreate.
* Creating virtualbox VM (CPUs=2, Memory=4000MB, Disk=20000MB) ...
! StartHost failed, but will try ag

[2020-09-19 18:29] arunsp1007 commented on #9262
after enablin vt/d in bios got a new issue

[2020-09-19 20:04] SMillerDev commented on #9196
From my perspective, yes.

[2020-09-19 20:47] #7254 closed

[2020-09-19 20:47] #4914 closed

[2020-09-19 20:47] #4990 closed

[2020-09-19 20:47] #4690 closed

[2020-09-19 20:47] bmangesh commented on #8846
facing the same issue with glusterFS on minikube

[2020-09-19 23:28] xuchengli commented on #8846
@tbox1911 I meet the same issue, but how to edit the heketi deployment in minikube? Thanks.

[2020-09-20 03:38] akhilkumar438 opened #9279 "Unable to start minikube:The Virtual Machine Management Service failed to start the virtual machine 'minikube' because one of the Hyper-V components is not running"
* Using the hyperv driver based on existing profile
*** Starting control plane node minikube in cluster minikube
**! StartHost failed, but will try again: Error loading existing host. Please try running [minikube delete], then run [minikube start] again.: filestore "minikube": open C:\Users\someuser\.minikube\machines\minikube\config.json: The system cannot find the file specified.****
* Failed to

[2020-09-20 13:29] prezha commented on #9264
/assign

[2020-09-20 14:21] ashwinpagarkhed commented on #3106
`ashwin@ashwin-Aspire-E5-573G:~/Desktop$` kubectl get all
NAME                                      READY   STATUS    RESTARTS   AGE
pod/api-gateway-85944f447b-dvx5k          1/1     Running   0          32m
pod/position-simulator-54c465565f-pkx47   1/1     Running   0          32m
pod/position-tracker-7964b5474f-7rtzj     1/1     Running   0          4m32s
pod/queue-68799ffccd-68spd

[2020-09-20 19:52] zioalex commented on #4350
Just adding my experience. I had the same problem. In my case it has been enough to add the Masquerading option in the default host outbound interface and then the communication started to work.

[2020-09-20 23:08] prezha commented on #9246
/assign

[2020-09-21 00:58] 839928622 commented on #8756
did u get it fix later on ?

[2020-09-21 01:22] Downchuck commented on #4206
On Catalina (10.15.6) I'm not seeing a `dhcpd_leases` file written, and so the loop never completes -- I can of course write that file, to bump the loop forward, though it'll never get to a reachable, routed IP address. Firewall tested on and off, internet sharing tested on and off.

Docker hyperkit did need a bump, homebrew didn't seem to have the right version:
[code]

Definitely needed to bump

[2020-09-21 01:25] Azim-Palmer opened #9282 "Cannot successfully use hostPath on Windows"
**Steps to reproduce the issue:**

1. Start minikube with ```minikube start --mount --mount-string="C:\Users\{yourusernamehere}"```
2. kubectl apply the following:
[code]
2. The pod will fail to start with
[code]

I have tried :

[code]

which changes nothing.

Please help this is driving me insane.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already

[2020-09-21 02:40] rodrigc commented on #4206
@Downchuck the other alternative is to completely uninstall Homebrew packages of Docker and Hyperkit and instead install Docker Desktop for Mac:

https://github.com/kubernetes/minikube/issues/4206#issuecomment-605590333

[2020-09-21 03:00] ELTEGANI commented on #8756
Yeb fixed it

[2020-09-21 04:02] Downchuck commented on #4206
@rodrigc there are many alternatives, such as using virtualbox, parallels or installing Docker for Mac. Using an alternative does not address the long standing issues, unless it is demonstrating a fix. If there is a fix in the Docker for Mac implementation it would be very helpful to understand it so as to address the breakdown here.

[2020-09-21 06:48] nao-ri opened #9283 "ingress"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-09-21 06:49] nao-ri opened #9284 "Verifying ingress addon"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-09-21 06:50] #9284 closed

[2020-09-21 06:54] #9283 closed

[2020-09-21 11:45] abhya944 opened #9285 "Enabling 'default-storageclass' returned an error: running callbacks:"
**Steps to reproduce the issue:**
abhya@abhyas-MacBook-Pro hybrid_task6 % minikube start
😄  minikube v1.11.0 on Darwin 10.15.6
✨  Using the virtualbox driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing virtualbox VM for "minikube" ...
🐳  Preparing Kubernetes v1.18.3 on Docker 19.03.8 ...
^Z
zsh: suspended  minikube start

1.Unable to

[2020-09-21 12:12] ibmhack2020 opened #9286 "hyperv: FullyQualifiedErrorId : AccessDenied,Microsoft.HyperV.PowerShell.Commands.StartVM"
1. Installed Hyper-V in windows system successfully
2. Downloaded minikube.exe(v1.13.0) and kubectl.exe(Client version 1.19.0 and server version v1.18.3+b0068a8) and moved to C:\kube path
3. Ran  minikube start --alsologtostderr in powershell.
4. Got minikube failed to start error

**Full output of failed command:**

W0921 17:35:38.805238    5964 root.go:252] Error reading config file at C:\Users\

[2020-09-21 12:53] tbox1911 commented on #8846
hi,

kubectl -n storage-gluster scale deployment heketi --replicas=0
kubectl -n storage-gluster edit deployment heketi

(...)
    spec:
      containers:
      - args:
        - --config=/etc/heketi/heketi.json
        - --disable-auth
        command:
        - /usr/bin/heketi
        env:
        - name: HEKETI_EXECUTOR
          value: kubernetes
        - name: HEKETI_FSTAB
(...)

kubectl -n s

[2020-09-21 13:53] Evalle commented on #9217
Hey @medyagh  what about something like this:
[code]

[2020-09-21 15:35] tstromberg commented on #9156
I'm bumping up the priority on this, as apparently caused some issues with users that use 3rd party software that calls `minikube status` in a loop.

I looked into this some, and it seems that this behavior can't be changed with the current logging library in use: https://godoc.org/github.com/golang/glog

I attempted to migrate minikube to klog last year, but didn't seal the deal: https://github.c

[2020-09-21 16:37] lrascao commented on #2265
Adding a note here for the future generations. If you're seeing ridiculous `rebar3` compile times when building Erlang docker images with `buildkit` then this is the fix you'll need. BuildKit will try and set a gigantic value for the ulimit, `erl_child_setup` will then use this as argument for initialization and take up 5m of your time for every `rebar3` command.

[2020-09-21 17:56] medyagh opened #9289 "investigate why functional test takes 8 minutes on windows"
on linux functional part of the integration test takes 2 minutes but on windows it takes 8 minutes (both nested azure vms and physical windows)

we need to investigate what part of the test is slower and why

[code]

[2020-09-21 17:56] blueelvis commented on #9289
/assign

[2020-09-21 19:38] MOZGIII commented on #8799
As of `minikube` `1.13.0` this is fixed.

[2020-09-21 19:38] #8799 closed

[2020-09-21 20:26] priyawadhwa opened #9290 "Improve handling of DRV_CP_ENDPOINT error"
This error was seen on Cloud Shell:

![image](https://user-images.githubusercontent.com/10676490/93817330-cdcde100-fc26-11ea-9784-58d46a5e77f5.png)

There are no additional logs. Two observations made by the reporter (@russellwolf):

1. They didn't realize there had been an error at all, because the red X emoji blended in with the rest of the emojis
1. They were still able to deploy to the cluster

[2020-09-21 21:21] j-windsor commented on #9258
I think it would help. In Cloud Code VSCode we are trying to report the ErrorID in metrics and we are currently parsing the ID out of the "Exiting due to..." string.

[2020-09-21 22:35] #9246 closed

[2020-09-21 23:05] sharifelgamal commented on #9074
It's `go.mod`:

[code]

[2020-09-21 23:24] prezha commented on #4392
@tstromberg, @medyagh, @sharifelgamal: i'd like to give it a try, if you don't mind :)

just three things to clarify/confirm:
a) re: `NewestKubernetesVersion` - should be the most recent possible release: beta or RC" - ie, _**not** alpha_ as well?
b) `testData` should use `DefaultKubernetesVersion`, `NewestKubernetesVersion`, or both (warning: in case it's 'both' - i'll have more questions)?
https

[2020-09-21 23:34] medyagh opened #9292 "use docker's "--restart" feature"
when creating kic containers, we can apply this to auto-restart the container on failure upto once

[code]

[2020-09-21 23:49] tstromberg commented on #4392
@prezha - Thanks for the questions!

a) I suggest ignoring alphas for NewestKubernetesVersion initially. We can always add them back in once we are confident in the workflow.
b) I don't think our testData should rely on either exact version at this point: but if so, let's stick with DefaultKubernetesVersion for now?
c) I think this part is mostly obsolete. We do need to still add testdata for majo

[2020-09-22 00:09] ilya-zuyev opened #9293 "Invalid suggestion on 'minikube del'"
# Minikube duplicates suggestion for `delete` command

## Have:
[code]
## Expected:
[code]

---
[code]

[2020-09-22 00:37] #7036 closed

[2020-09-22 00:42] prezha commented on #4392
thank you @tstromberg for your responses!

in summary:
a) ok, we'll use only the `-rc` or `-beta` for `NewestKubernetesVersion`, for now,
b) ok, let's stick with `DefaultKubernetesVersion` in `testData`, for now,
c) ok, we can cover the latest set of major.minor versions later (currently in `pkg/minikube/bootstrapper/bsutil/testdata` there are subfolders named `v1.11`..`1.19`)

conclusion: we'll f

[2020-09-22 00:42] prezha commented on #4392
/assign

[2020-09-22 00:42] harryttd opened #9295 "minikube node add --- E0921 19:36:38.987203 11003 register.go:123] unexpected first step: """
**Steps to reproduce the issue:**

1. `minikube start`
2. `minikube node add`

**Full output of ~failed~ command:**

[code]
**Full output of `minikube start` command used, if not already included:**
[code]

[2020-09-22 00:59] #9290 closed

[2020-09-22 01:10] tstromberg commented on #9273
I think this was fixed in v1.13?

[2020-09-22 01:11] tstromberg commented on #9285
can you test this on minikube v1.13? I think we've fixed this in more recent releases. I believe it's caused by a cancelled startup.

[2020-09-22 01:21] tstromberg opened #9297 "root-owned config exits with ExHostConfig istead of ExHostPermissions"
To reproduce:

`minikube stop`
`sudo chown -R root $HOME/.minikube`
`minikube start`

[code]

[2020-09-22 03:15] prezha commented on #4392
@tstromberg i've just created a pr for this first iteration - please have a look and let me know your thoughts; thanks!

[2020-09-22 07:37] ibmhack2020 commented on #9286
Hi anybody can please help on this issue am newbie to kubernetes and minikube?

[2020-09-22 08:19] dominikbraun commented on #9297
/assign

[2020-09-22 08:41] zzguang520 opened #9301 "Error: X Exiting due to MK_USAGE: Due to networking limitations of driver none, ingress addon is not supported. Try using a different driver."
**Steps to reproduce the issue:**

1.minikube start --vm=true --driver=none --kubernetes-version=v1.19.2
[code]
2.  minikube status
[code]
3.minikube version
[code]
4.minikube addons enable ingress
[code]

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>
[code]

</details>

[2020-09-22 12:37] davidedmonds opened #9303 "Enabling 'default-storageclass' returned an error: running callbacks (WSL2/Docker)"
**Steps to reproduce the issue:**

1. Using Docker Desktop and WSL2 on Windows 10, following the steps in https://kubernetes.io/blog/2020/05/21/wsl-docker-kubernetes-on-the-windows-desktop/ but swapping `--driver=none` for `--driver=docker` (as `none` driver expects to be able to start docker with systemd).
2. In WSL2 Bash ```
dave@DESKTOP-RO4RC0J:~$ minikube start --driver=docker --kubernetes-ver

[2020-09-22 13:40] mr-bjerre commented on #3574
What to do when running out of space?

[code]

I know I can run `minikube delete` of course but that is really time consuming to rebuild everything.

[2020-09-22 13:44] Evalle commented on #9217
Hey @medyagh what about something like that:

**Before:**
[code]

**After:**
[code]

[2020-09-22 13:47] fredgate commented on #4546
Yes still have this probem.
There is no duplicated issue : #4546 is this issue itself.
@medyagh I think that you can reopen this issue

[2020-09-22 15:06] tstromberg commented on #9297
Let me know if you need any help. There is a mechanism to override error codes with a more specific one if it matches a regexp. Here's an example:

https://github.com/kubernetes/minikube/blob/3f9c6d10d9cd4a56abe436f6963d5edb5a00c67e/pkg/minikube/reason/known_issues.go#L205

Note that the error cited here (`HOST_HOME_PERMISSION`) incorrectly uses `ExGuestPermission` instead of `ExHostPermission`.

[2020-09-22 15:18] tstromberg commented on #9297
I didn't realize it at the time, but @dominikbraun has a PR open to resolve this: https://github.com/kubernetes/minikube/pull/9302

[2020-09-22 15:23] MOZGIII opened #9304 "v1.13 w/ CRIO on GitHub actions: failed to initialize top level QOS containers: root container [kubepods] doesn't exist"
We're having odd issues at our CI at https://github.com/timberio/vector/pull/4055 with minikube 1.13.1 and CRI-O.

After we switched from `minikube` `1.11.0` to `1.13.1` we had failures at CRI-O setup at all K8s versions we test against. But only with CRI-O, the rest work.

Locally everything works as expected.

I'd be happy to test run new version at our CI if needed.

**Steps to reproduce the is

[2020-09-22 15:41] tstromberg commented on #9304
I see kubeadm exited with:

[code]

CRIO basically has no logs that are useful:

[code]

kubelet (v1.18.3) mentions this fatal issue:

[code]

I have a suspicion that this may be related to recent work in the entrypoint, but only comes up in unique Docker on Linux configurations, such as running minikube within a kubelet or Docker container.

* https://github.com/kubernetes/minikube/pull/9092
* ht

[2020-09-22 15:43] MOZGIII commented on #9304
What would be the right time to invoke that command? Right after `minikube start` fails?

[2020-09-22 15:45] tstromberg commented on #9304
@MOZGIII - yes, after the failed start.

/cc @priyawadhwa who has investigated similar issues in the past.

[2020-09-22 15:50] MOZGIII commented on #9304
I prepared this PR for experiments: https://github.com/timberio/vector/pull/4064
Added what you requested in that branch: https://github.com/timberio/vector/pull/4064/commits/a7ee0cd2a4b0e35d7cf454ff5fea0f5fb88e5407.

[2020-09-22 17:28] harryttd opened #9305 "Multi-Node is not producing exact replica nodes (getting file write permission errors on extra node)"
**Steps to reproduce the issue:**

1. `minikube start --nodes 2`
2. `kubectl apply -f /path/to/yaml` (yaml pasted below)
3. Confirm pods are on separate nodes: `k get pods -n myapp -o jsonpath='{.items[*].spec.nodeName}'`
4. Check logs of pod on node `minkube`. Should say `Created dir /var/foo/bar`.
5. Check logs of pod on node `minikube-m02`. Should say `mkdir: can't create directory '/var/foo/ba

[2020-09-22 17:41] blueelvis opened #9306 "Create a Make target which outputs HTML Test reports on Windows"
We need to have a make target which converts the test reports to HTML and works on Windows.

/cc: @medyagh

[2020-09-22 17:51] medyagh opened #9307 "windows: falesly saying we have not enough memory"
GH actio machines have 32 or 64 GB memory
[code]

as seen https://github.com/kubernetes/minikube/pull/9302/checks?check_run_id=1148443022#step:8:208

[2020-09-22 19:17] sharifelgamal commented on #9307
This is a test that's explicitly asking for too little memory. Working as expected.

[2020-09-22 19:17] #9307 closed

[2020-09-22 19:17] medyagh commented on #9307
I just realized the test is doing the right thing

[2020-09-22 20:17] #9196 closed

[2020-09-22 20:19] medyagh commented on #7983
this was done

[2020-09-22 20:19] #7983 closed

[2020-09-22 20:20] sharifelgamal commented on #9142
This is fixed in Kubernetes v1.19.2, which is part of minikube v1.13.1. Closing this.

[2020-09-22 20:20] #9142 closed

[2020-09-22 20:31] sharifelgamal commented on #9056
this is fixed.

[2020-09-22 20:31] #9056 closed

[2020-09-23 05:58] afbjorklund commented on #9074
I see a "conflict" between 14a5b0b26418e5fea2505c42d24991840968d832 and 85bf8a5522f6a02c2f91fdce270a0fcd92ad0226

Basically it has been going on and off ever since it was first added by the bot in a13fb6d390b07fee9c08548f195460ccdcf462e7

[code]

It seems to be coming from cloud.google.com/go/storage, which is _only_ used in download/preload and perf/binary

[code]

(after doing `go mod vendor` to

[2020-09-23 07:16] thekey78 opened #9310 "GUEST_PROVISION"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-09-23 07:20] #9310 closed

[2020-09-23 13:56] sandrogiacom opened #9311 "Error adding istio addon"
**Steps to reproduce the issue:**

1-
λ minikube start --cpus 8 --memory=8372;
😄  minikube v1.13.1 on Linuxmint 20
✨  Automatically selected the docker driver
👍  Starting control plane node minikube in cluster minikube
🔥  Creating docker container (CPUs=8, Memory=8372MB) ...

🧯  Docker is nearly out of disk space, which may cause deployments to fail! (92% of capacity)
💡  Suggestion:

    Try at le

[2020-09-23 14:35] michal-kaliszewski-sollers-eu opened #9312 "Can't log in to the pod after IP address change: Error from server: no preferred addresses found; known addresses: []"
I'm trying to bind localhost to Minikube by using kubelet.node-ip, kubelet.address, apiserver-name and apiserver-ips:

[code]

With this configuration, when I try to do something on the pod, I get this error:
[code]

[2020-09-23 16:06] tstromberg commented on #9208
@medyagh - agreed. This seems to be a short race condition where a webhook is defined, but not yet running. Ideally, we should remove the race condition altogether, but it would be less terrible if we enabled it last or waited for this addon to finish deploying before enabling others.

@matthewmichihara - It's on the roadmap.

[2020-09-23 18:09] tstromberg commented on #8947
The TL;DR is that we don't update images for older releases of minikube: to address security issues, you'll need to upgrade to the latest minikube.

[2020-09-23 18:09] #8947 closed

[2020-09-23 18:11] tstromberg commented on #9198
Discussed with team, it seems like we would be willing to accept a PR that introduces this functionality.

[2020-09-23 18:12] medyagh commented on #8802
we did this

[2020-09-23 18:12] #8802 closed

[2020-09-23 18:14] priyawadhwa commented on #9169
Hey @conradwt thanks for opening this issue. Could you please try:

1. Upgrading to our latest versio of minikube (1.13.1)
1. Running:

[code]

and see if the latest version still fails on your machine?

[2020-09-23 18:14] medyagh commented on #8647
@mahmoudshirivaramini I wonder if that suggestion helped , did you dig any further into this ?

[2020-09-23 18:15] priyawadhwa commented on #9119
Hey @gudipudipradeep  -- hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

Thank you for sh

[2020-09-23 18:15] #9119 closed

[2020-09-23 18:15] sharifelgamal commented on #8156
Excellent, closing this.

[2020-09-23 18:15] #8156 closed

[2020-09-23 18:16] medyagh commented on #8797
Hi @Lavie526 , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-09-23 18:16] #8797 closed

[2020-09-23 18:18] medyagh commented on #8947
also we do not support providing update to the already released minikubes, we just suggest upgrading to the newest minikube verison

[2020-09-23 18:18] medyagh commented on #8942
Hi @azeemzaidi , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-09-23 18:18] #8942 closed

[2020-09-23 18:19] priyawadhwa commented on #8949
Hey @neargle looks like there's an issue with the `/etc/hosts` file -- we write to that file during `minikube start` and after a successful start my file looks like this:

[code]

could you try upgrading to minikube 1.13.1 and see if that resolves the issue? I know we've done some work around /etc/hosts in the past couple months

[2020-09-23 18:19] tstromberg commented on #8445
The TL;DR here is that if you specify `--network-plugin=cni`, you need to provide a CNI for CoreDNS to come up successfully.

Please note that this flag is deprecated. The new equivalent is `--cni=/path/to/cni.yaml`, or one of the other options:

`--cni='': CNI plug-in to use. Valid options: auto, bridge, calico, cilium, flannel, kindnet, or path to a CNI manifest (default: auto)`

[2020-09-23 18:21] medyagh commented on #8902
@douglascamata do you happen to use a VPN ? if you are using a VPN or a corp network, I suggest using our docker driver.

you could try
minikube delete
minikube start --driver=docker

for more information on the docker driver checkout:
https://minikube.sigs.k8s.io/docs/drivers/docker/

[2020-09-23 18:22] Eduard-Voiculescu commented on #8947
Thank you all for taking time to respond to this issue. The --base-image is perfect for my use case. Take care!

[2020-09-23 18:27] priyawadhwa commented on #8874
Hey @lucasponce are you still seeing this issue?

If docker is installed, you could also try running minikube with the docker driver via:

[code]

[2020-09-23 18:28] priyawadhwa commented on #8414
Hey @ctron in the past few months we've upgraded the storage provisioner and fixed some bugs. Could you try:

1. Upgrading to the latest version of minikube, 1.13.1
1. Let us know if you still see this issue with the latest version?

Thanks.

[2020-09-23 18:29] medyagh commented on #7802
I would accept a PR that makes docker driver act like our VM drivers ! this seems to be done by mimicking our machine driver for virtualbox https://github.com/machine-drivers/machine

[2020-09-23 18:30] sharifelgamal commented on #9201
Hey @chyj607 – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikube start

[2020-09-23 18:30] #9201 closed

[2020-09-23 18:30] priyawadhwa commented on #8409
Looks like we could add a solution message for this; if we see this error:

[code]

suggest to the user that they fix their `.docker/config` and restart minikube.

If anyone would be interested in fixing this, feel free to take this issue by commenting /assign!

[2020-09-23 18:32] tstromberg commented on #8765
All of the reports so far are for minikube v1.12.x, so it's unclear if we accidentally fixed this.

The cause of this seems to be that the data is $HOME/.kube/config is stale, but I've got no idea as to why this might be.

Can someone report back if minikube v1.13 runs into this issue?

[2020-09-23 18:33] sharifelgamal commented on #9116
I think what you're looking for is [ssh port forwarding](https://www.ssh.com/ssh/tunneling/example)

[2020-09-23 18:34] medyagh commented on #7992
Podman is experimental driver, I suggest using our docker driver

[2020-09-23 18:34] #7942 closed

[2020-09-23 18:35] medyagh commented on #7422
we still like to do this

[2020-09-23 18:36] priyawadhwa commented on #8939
Hey @fzyzcjy it could be related to this comment -- https://github.com/docker/roadmap/issues/12#issuecomment-666279931 -- you could try their edge build to see if that improves the CPU usage on your machine?

[2020-09-23 18:37] sharifelgamal commented on #8906
@lowang-bh is this still an issue?

[2020-09-23 18:38] priyawadhwa commented on #8359
Hey @joshmue if you would be interested in opening a PR that would be great!

[2020-09-23 18:38] tstromberg commented on #8370
Also, I would like to see the output from your system of:

* `ls /lib/modules/5.3.0-53-generic`
* `minikube ssh "ls /lib/modules/5.3.0-53-generic"`
* `uname -a`

This sounds to me like one of two types of problems:

* The live kernel version no longer matches the contents of `/lib/modules`
* `/lib/modules` isn't being mapped into Docker

It'd be nice to sort out which one it is.

[2020-09-23 18:39] medyagh commented on #2117
I would accept a PR that adds a flag for minikube start or minikube update-context to specify namesapce

[2020-09-23 18:39] priyawadhwa commented on #4634
Is anyone still seeing this bug with minikube version 1.13.1?

[2020-09-23 18:40] medyagh commented on #5617
@bushraKhan23 still intereted?

[2020-09-23 18:40] sharifelgamal commented on #8481
Hey @9kranti – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

[2020-09-23 18:40] #8481 closed

[2020-09-23 18:41] tstromberg commented on #7995
Closing as we haven't heard back from the original reporter in 3 months.

If you run into a similar issue, please include the output of `minikube start --alsologtostderr -v=1`. Thank you!

[2020-09-23 18:41] #7995 closed

[2020-09-23 18:42] medyagh commented on #6402
currently we have a link in our website to docker's docs to install docker

https://minikube.sigs.k8s.io/docs/drivers/docker/

[2020-09-23 18:42] #6402 closed

[2020-09-23 18:42] tstromberg commented on #8905
This sounds like a corrupt VirtualBox disk. Please run `minikube delete`. You may have less occurrences of this with the docker or hyperkit drivers.

[2020-09-23 18:42] #8905 closed

[2020-09-23 18:42] priyawadhwa commented on #8234
Hey @afbjorklund is this still something we want to do?

[2020-09-23 18:42] sharifelgamal commented on #4621
I suspect this is still and issue, I'm going to freeze this so it doesn't get closed.

[2020-09-23 18:43] medyagh commented on #6937
was done except for windows that will be done by https://github.com/kubernetes/minikube/issues/9306

[2020-09-23 18:43] #6937 closed

[2020-09-23 18:44] tstromberg commented on #8965
Can you provide the output of `minikube start --alsologtostderr -v=1`?

Anyways, it seems like the 4 minute timeout may be too short.

[2020-09-23 18:44] #8241 closed

[2020-09-23 18:44] priyawadhwa commented on #5579
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

Thank you for sharing your experience!

[2020-09-23 18:44] #5579 closed

[2020-09-23 18:46] priyawadhwa commented on #4029
We looked into adding this feature and static IP on hyperv doesn't seem feasible right now -- I'm going to go ahead and close this issue, but if anyone has strong feelings about this feel free to reopen.

[2020-09-23 18:46] #4029 closed

[2020-09-23 18:49] tstromberg commented on #8970
@medyagh - is there still work to be done?

[2020-09-23 18:51] tstromberg commented on #8235
I believe this has been addressed. If someone sees this again, please re-open with an example.

[2020-09-23 18:51] #8235 closed

[2020-09-23 18:51] medyagh commented on #2117
@viteksafronov  I would be happy to review the PR for this feature and thanks for letting us know about this problem

[2020-09-23 18:52] tstromberg commented on #8170
@medyagh - is this still a valid issue?

[2020-09-23 18:55] medyagh commented on #7727
@anencore94 PRs are welcome

[2020-09-23 18:55] #7727 closed

[2020-09-23 18:55] tstromberg commented on #9002
@sharifelgamal - any news?

[2020-09-23 19:10] #8891 closed

[2020-09-23 19:20] #9297 closed

[2020-09-23 19:21] #4392 closed

[2020-09-23 20:08] douglascamata commented on #8902
I do use a corporate VPN. The docker driver works, but eats a lot of cpu on
idle. I end up using virtualbox.

On Wed, Sep 23, 2020, 20:22 Medya Ghazizadeh <notifications@github.com>
wrote:

[2020-09-23 20:48] medyagh opened #9313 "minikube preload extract: avoid hundreds page of error when disk is full"
This error was too long to even be copy pasted as I see hundreds of pages of same message

to replicate:
Create 4 minikubes on a Vm with small disk ( I tried on ec2 ubuntu)
[code]

[code]

minikube should detect this and exit gracefully with soluttion message that there is no space left on your computer.

[code]
(this goes on for hundreds of pages that github doesnt allow that big of a issue to pa

[2020-09-23 21:03] prezha commented on #4392
thank you @medyagh for the review and approval/merge

shall i continue working on this according to the original scope - ie, automatically propose a pr for any release newer than current *KubernetesVersions values (ideally one/unique pr per each detected versions mismatch)?

if so: if the script would also run periodically and independently of (isolated from) the rest of the code - what would be t

[2020-09-23 21:09] medyagh commented on #7422
@ilya-zuyev this is yours.

[2020-09-23 22:00] #9074 closed

[2020-09-23 23:21] medyagh commented on #7422
/assign lya-zuyev

[2020-09-24 00:42] fzyzcjy commented on #8939
@priyawadhwa Thanks!

[2020-09-24 06:59] dominikbraun commented on #8925
/assign

[2020-09-24 07:05] dominikbraun commented on #8040
/assign

[2020-09-24 08:35] RA489 commented on #9312
/triage support

[2020-09-24 08:36] RA489 commented on #9311
/triage support

[2020-09-24 08:38] RA489 commented on #9303
/triage support

[2020-09-24 08:40] RA489 commented on #9301
/triage support

[2020-09-24 08:40] RA489 commented on #9295
/traige support

[2020-09-24 08:41] RA489 commented on #9295
/triage support

[2020-09-24 08:59] RA489 commented on #9282
/triage support

[2020-09-24 09:00] RA489 commented on #9279
/triage support

[2020-09-24 09:01] RA489 commented on #9278
/triage support

[2020-09-24 09:01] RA489 commented on #9272
/traige support

[2020-09-24 09:02] RA489 commented on #9272
/triage support

[2020-09-24 09:23] lucasponce commented on #8874
@priyawadhwa I moved to other environment, the only workaround I had was to disable firwalld to make it work.
I couldn't workaround it in other way.

[2020-09-24 12:58] viveksahu26 opened #9315 "virtualbox: HOST_VIRT_UNAVAILABLE: This computer doesn't have VT-x/AMD-v enabled"
**Steps to reproduce the issue:**

1. Whosoever using windows ( in which Hyper-V non-supported) , should install Docker for Desktop .  And  After installing Minikube
write " minikube start --driver=docker"  in your command prompt.
2) When i added virtualbox as a driver in place of docker driver, it  get stuck on virtual machine  and nothing was happeninf further.

![Screenshot (560)](https://user-

[2020-09-24 13:20] mjkowalski commented on #8846
@priyawadhwa proposed workaround allows to bound PVC successfully. However, I'd say it does not **solve** the issue.

IMO, the main question is: is that expected behavior? If so, [Minikube Gluster addon README](https://github.com/kubernetes/minikube/blob/master/deploy/addons/storage-provisioner-gluster/README.md#creating-pvcs) has to be updated accordingly (I think I could even create a PR for tha

[2020-09-24 16:57] kevin-lindsay-1 commented on #9311
@sandrogiacom had the same issue. installed `istio-provisioner` as well as `istio`, and it worked.

[2020-09-24 18:34] medyagh opened #9317 ""unable to download gcr.io" but downloads gcr.io"
* Starting control plane node minikube in cluster minikube
* Pulling base image ...
! minikube was unable to download gcr.io/k8s-minikube/kicbase:v0.0.12-snapshot3, but successfully downloaded gcr.io/k8s-minikube/kicbase:v0.0.12-snapshot3 as a fallback image
* Creating docker container (CPUs=2, Memory=4000MB)

[2020-09-24 19:15] tstromberg opened #9319 "start: Comma-delimited --addons silently ignored"
Oddly, our `--addons` flag does not allow comma-delimited addons. Worse, it completely ignores your choice rather than returning an error:

[code]

[2020-09-24 21:52] old-code-monkey opened #9320 "hyperv: Unable to get host IP due to case mismatch in virtual switch"
_minikube start --vm-driver=hyperv --hyperv-virtual-switch=Minikube_

Running the above command fails with "**Unable to get host IP: ip for interface (Minikube): Could not find interface vEthernet (Minikube)**"

Investigating my virtual network adapter using the following PowerShell command shows that I had a case mismatch (large K in Kube) compared to the output message

	Get-NetAdapter | select

[2020-09-25 00:07] JohnCarmichael3000 commented on #9156
Not sure if this is directly related but in case it helps somebody:

Speaking of 3rd party software that calls minikube, I was finding around 30 new "minikube" log files per minute in my temp folder:

filename example:
minikube.exe.myDeskTopName.myDeskTopName_myUserName.log.WARNING.20200924-153603

file content example:
Log file created at: 2020/09/24 15:36:03
Running on machine: myDeskTopName
Bin

[2020-09-25 04:13] loftkun commented on #9293
There are two commands that contain the word `delete`.

- `minikube delete`
- `minikube cache delete`

The reason `delete` appears twice is because [spf13/cobra](https://github.com/spf13/cobra) ( the CLI library used by minikube ) extracts the word from all the subcommands and displays it.

[2020-09-25 04:55] afbjorklund commented on #9317
Think it is just the output that is not showing the `cc.KubernetesConfig.ImageRepository` replacement ?

It should have been "baseImg".

[2020-09-25 05:00] loftkun commented on #9293
I'm sorry, my view seems to be wrong.
I will look into it in more detail and comment on it.

[2020-09-25 06:02] loftkun commented on #9293
`RootCmd` is initialized in the `cmd/root.go#init` process.
However, the following commands are added for the second time to `RootCmd`.

- `deleteCmd`
  - at `cmd/delete.go#init`
- `stopCmd`
  - at `cmd/stop.go#init`

This is why the Suggestions for misspellings are displayed twice.

[code]

I will create a PR to remove the second addition.

[2020-09-25 06:07] loftkun commented on #9293
/assign

[2020-09-25 10:05] joshmue commented on #8359
Alright, I will take a look into it!

[2020-09-25 10:50] amansarpal commented on #8274
simple solution to problem is.
1. docker leave swarm
2. docker network prune

[2020-09-25 13:06] ibmhack2020 commented on #9315
Unfortunately windows 10 Home doesn't support Hyper-V only professional and enterprise version supports Hyper-V. Better you can use VMware Player or VirtualBox since Hyper-V cannot be used on Home Edition.

[2020-09-25 13:53] storozhilov opened #9322 "Ingress addon stopped to work with 'none' VM driver starting from v1.12.x"
Hi to all,
unfortunately ingress addon stopped to work with `none` VM driver starting from **v1.12.x**. **v1.11.0** works fine. Help please.
Thanks in advance!
Ilya

P.S. Great product by the way :+1: Thanks!

**Steps to reproduce the issue:**

1. Spin up an EC2 instance with Linux, install minikube v1.12.* or later
2. `sudo minikube start --vm-driver=none`
2. `sudo chown -Rv $USER $HOME/.kube $HO

[2020-09-25 13:54] ctron commented on #8414
Will do.

[2020-09-25 14:00] ibmhack2020 commented on #6918
Am also facing same issue please assist me on this

Thanks
Arul

[2020-09-25 14:03] viveksahu26 commented on #9315
@ibmhack2020 . But iwhile using VirtualBox it gets stuck at one position and donot proceed further..

[2020-09-25 14:04] ibmhack2020 commented on #9286
@tstromberg  Could you please help me on this

Thanks
Arul

[2020-09-25 14:46] mtalalkhan commented on #459
StartHost failed, but will try again: creating host: create: precreate: We support Virtualbox starting with version 5. Your VirtualBox install is "WARNING: The vboxdrv kernel module is not loaded. Either there is no module\n         available for the current kernel (5.4.0-48-generic) or it failed to\n         load. Please recompile the kernel module and install it by\n\n           sudo /sbin/vboxc

[2020-09-25 16:34] tstromberg opened #9323 "Migrate logging implementation from google/glog to kubernetes/klog"
This is required for #9156

Switching from https://github.com/kubernetes/klog to https://github.com/google/glog should be easy, as klog is a newer fork of glog. klog supports the ability to specify log destinations, which is why it is important for #9156

This should be achievable mostly a search & replace of `glog` to `klog`, but initialization is slightly different. See this PR I proposed & aban

[2020-09-25 17:28] tstromberg commented on #9273
Closing as obsolete, since this was for an older version of minikube (4 releases ago), and we've addressed these issues since.

[2020-09-25 17:31] #9273 closed

[2020-09-25 17:33] tstromberg commented on #9268
Seems reasonable. I wonder if it's better to special-case this for logging format, or if there are other flags that we should make it easier to apply across all components? That would point us into the direction of what kind of flag behavior we should define.

[2020-09-25 18:20] tstromberg commented on #9286
It appears that this user, or at least this window process does not have access to start VM's:

`+ FullyQualifiedErrorId : AccessDenied,Microsoft.HyperV.PowerShell.Commands.StartVM**`

Can you start Powershell as an administrator to see if it fixes your problem? https://www.top-password.com/blog/5-ways-to-run-powershell-as-administrator-in-windows-10/

[2020-09-25 18:22] tstromberg commented on #9286
Please let me know if this helps and we'll make sure that minikube suggests the right course of action if this AccessDenied message is seen.

[2020-09-25 19:36] tstromberg commented on #9243
My personal suggestion would be to use the `docker` driver in this case. minikube actually has little awareness of what the destination filename would be. We use a library that hardcodes the path `fixed.vhd`:

https://github.com/machine-drivers/machine/blob/6ab5418ab40c9f81ba5020f436b155ee5671fc55/drivers/hyperv/hyperv.go#L444

You could fix it there, but it would be much easier to just use the `d

[2020-09-25 21:03] #9293 closed

[2020-09-25 21:44] PriyaModali commented on #9323
/assign

[2020-09-25 21:45] PriyaModali commented on #9156
/assign

[2020-09-25 22:34] #8209 closed

[2020-09-25 23:24] PriyaModali opened #9325 "RSRC_DOCKER_CORES when Docker Desktop isn't running"
**Steps to reproduce the issue:**

1. Install Docker Desktop v19.03.12
2. Stop Docker
3. Run minikube start --driver=docker

**Full output of failed command:**

[code]

[2020-09-26 00:16] tstromberg commented on #9078
Yeah, I'd say we really screwed this up for Windows users when we added this forwarding feature. "sudo" isn't necessary there for binding to ports <1024.

[2020-09-26 00:19] tstromberg commented on #9078
I suspected https://github.com/kubernetes/minikube/pull/6833 at first - but that was merged already back in February.

[2020-09-26 00:28] estets2 opened #9326 "In my case on minikube status output is"
And the reason was **VPN interference**,  on stopping vpn and starting again (minikube start) it worked perfectly.

_Originally posted by @AchalGupta277 in https://github.com/kubernetes/minikube/issues/2554#issuecomment-653866338_

For me problem was WireGuard. 192.168.99.1 is the same IP at WireGuard adapter. Please check it if minicube do not start.

[2020-09-26 01:57] sudochop commented on #4589
Same issue here under hyperkit

[2020-09-26 02:02] #9236 closed

[2020-09-26 02:04] dansotirakis commented on #9236
The solution of the problem was used a different version of the minikube, this was the cause of the problem

[2020-09-26 02:24] ibmhack2020 commented on #9286
Hi Thomas thanks for your response, I tried already using powershell as
administrator still am getting the same issue. One thing I noticed is I
also have installed docker in my machine and while start up docker try to
create or strat DockerDesktopVM but it got failed at Start-VM. Am using
hyperv and am a azure authenticated AD user of my machine. Hence I tried
manually create a dummy VM via hyperv

[2020-09-26 10:11] ArnabMukherjee1991 commented on #9285
I am trying the same on latest Minikube on WSL2. Getting the same issue.
ubuntu@LAPTOP-U2BFMGHB:~$ minikube start
**😄  minikube v1.13.1 on Ubuntu 20.04**
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🤷  docker "minikube" container is missing, will recreate.
🔥  Creating docker container (CPUs=2, Memory=6300

[2020-09-26 10:37] ASLavanya commented on #7846
/reopen I still face this issue!

[2020-09-26 14:06] #9245 closed

[2020-09-27 00:08] prgaly opened #9328 "pause/suspend/resume/unpause: dial tcp 192.168.39.x:22: connect: no route to host"
**Steps to reproduce the issue:**

1. minikube pause
2. suspend host
3. resume host
4. minikube unpause

⏸️  Unpausing node minikube ...

❌  Exiting due to GUEST_UNPAUSE: list paused: docker: NewSession: new client: new client: dial tcp 192.168.39.155:22: connect: no route to host

😿  If the above advice does not help, please let us know:
👉  https://github.com/kubernetes/minikube/issues/new/choose

[2020-09-27 07:42] afbjorklund commented on #9322
This was intentional, #8841 (b27440d4aeabe0657f77a02f80acd8a300d4ac4d). It doesn't really say why, though.

[2020-09-27 07:52] afbjorklund commented on #9264
This comment was regrading the go compiler version in Buildroot

[2020-09-27 13:33] afbjorklund commented on #8388
Most likely we will end up using CRI-O 1.19 with Kubernetes 1.20 or something, that is how it usually works out...

[2020-09-27 13:43] afbjorklund commented on #8952
@priyawadhwa : thanks for taking this on, never got around to setting debian up

[2020-09-27 15:12] Grompot77 commented on #8568
I have been following the same [blog ](https://kubernetes.io/blog/2020/05/21/wsl-docker-kubernetes-on-the-windows-desktop/) post, even did a brand new ubuntu instance with wsl2, not the store one, same problem.  Even tried to use minikube v1.10.1 which is around the same period when the blog post was done.  Then tried to run it with root, still no luck.  Hopefully Nuno can come to us on how he got

[2020-09-27 15:51] afbjorklund commented on #9107
I think we will end up going with `github.com/go-bindata/go-bindata` since that is what kubernetes is doing:

https://github.com/kubernetes/kubernetes/commit/df3f9f1047ec4a3fcb53b241b63489df72308d0c

[code]

[code]

[2020-09-27 16:44] kppullin commented on #7923
Using the hints from @marcominetti above, I observed that the device `/dev/mapper/cryptroot` did not exist inside the minikube container.

Comparing with my host, `/dev/mapper/cryptroot` is symlink'd to `/dev/dm-0` and `dm-0` _does_ exist inside the container.  After creating this symlink inside the minikube container I was able to start successfully.

[2020-09-27 18:01] afbjorklund commented on #9091
Possibly there is some `kubeadm init` output, that we could convert into progress updates ?

[init] Using Kubernetes version: v1.19.2
**[preflight] Running pre-flight checks**
[preflight] Pulling images required for setting up a Kubernetes cluster
[preflight] This might take a minute or two, depending on the speed of your internet connection
[preflight] You can also perform this action in beforeha

[2020-09-27 18:31] cpaika opened #9335 "Feature Request: Ability to use a custom TLS certificate with the Ingress addon"
Environment:
Minikube on Mac OS X

What happened:

I am trying to load NGINX-Ingress with a custom tls certificate, in this case a trusted TLS certificate I generated on my machine. I start minikube, then enable the ingress-nginx addon which deploys nginx to the kube-system namespace successfully. I create my certificate in the kube-system namespace with the title `mkcert`.

I then modified the ng

[2020-09-28 01:59] hobbytp opened #9336 "minikube start with none driver and cri-o failed"
I want to install minikube in my Ubuntu OS (which is existed VM provided by cloud), so I always use --driver=none and it always works correctly. And now I want to use cri-o instead of using docker and containerd, so I remove docker & containerd by using command "sudo apt-get remove docker docker-engine docker.io containerd" and then install cri-o in my Ubuntu 20.04 to install new minikube but fail

[2020-09-28 04:58] afbjorklund commented on #9336
Unfortunately there is a bug in the driver registry, that _always_ looks for a `docker` binary...

However, you can install any old program - it doesn't have to be an actual docker client.

`sudo cp /bin/true /usr/local/bin/docker`

See https://github.com/kubernetes/minikube/issues/5549

[2020-09-28 05:02] afbjorklund commented on #9336
Also, the suggestion is silly and should be fixed too. It should only suggest that for the Docker container runtime.

Seems that it got worse in 6276c1cb1da7529b1f8fad712f6f9b7be56a7a72 and

[2020-09-28 08:43] ibmhack2020 commented on #9286
@tstromberg

[2020-09-28 11:11] jpdoria opened #9339 "Unable to use --extra-config=apiserver.encryption-provider-config"
**Objective:**

My objective is to enable the secret encryption in our dev cluster but first I need to test it on my local. I am following the steps from the official documentation [here](https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/).

**Steps to reproduce the issue:**

I made sure to delete everything before running the commands mentioned below.

[code]

**minikube version**

[2020-09-28 13:29] tillhoff opened #9341 "minikube_latest_amd64.deb accidentally included in Github release assets"
When checking through the release assets of the last release (https://github.com/kubernetes/minikube/releases/tag/v1.13.1), I found that there are two .deb files for the same thing:
- minikube_latest_amd64.deb
- minikube_1.13.1-0_amd64.deb

IMO the `latest` one shouldn't be there, since the path to it is still versioned as `https://github.com/kubernetes/minikube/releases/download/v1.13.1/minikube_

[2020-09-28 16:04] afbjorklund commented on #9341
It’s just to make the URL in the documentation ”static” (latest)
It’s the exact same content as in the “normal” packages (which in turn is identical to the uncompressed binary)

[2020-09-28 16:09] afbjorklund commented on #9341
See https://github.com/kubernetes/minikube/pull/7971

[2020-09-28 16:13] tstromberg commented on #3574
@mr-bjerre - if you are on Windows/macOS, try giving Docker more space:

https://docs.docker.com/docker-for-mac/space/

[2020-09-28 16:16] tstromberg commented on #8846
I'm afraid the minikube maintainer team doesn't have anyone knowledgeable in gluster at the moment. Is anyone willing to help us to improve the gluster add-on so that this is no longer an issue?

I don't think there is much to it other than the YAML that's provisioned at the moment: https://github.com/kubernetes/minikube/tree/master/deploy/addons/storage-provisioner-gluster

Help wanted!

[2020-09-28 16:21] #9262 closed

[2020-09-28 16:28] mr-bjerre commented on #3574
Skaffold more space, right?

What I usually do is

    minikube ssh - docker system prune

[2020-09-28 16:28] tstromberg commented on #9315
@viveksahu26 - What kind of computer do you have? Have you checked your BIOS to see if virtualization is enabled?

[2020-09-28 16:32] tstromberg commented on #9315
I can tell that we need to improve the error message here - but it's tricky.

* First, you mention Docker. If Docker is installed, was there a problem using --driver=docker?
* What version of VirtualBox are you using? Older versions may conflict with Docker/Hyper-V.

* Do you mind running `systeminfo` and pasting the output of the `Hyper-V Requirements` section? I understand that Hyper-V doesn't r

[2020-09-28 16:40] viveksahu26 commented on #9315
@tstromberg yes, virtualisation is enable d in my computer.. Before using docker driver I checked with virtual box but it get stuck at one position. After that I use docker driver and now it is running smoothly in docker driver..

[2020-09-28 16:43] tstromberg commented on #9341
This is a bug. The *latest* artifact is indeed intended for static URL's, but it shouldn't be part of the GitHub release. These unversioned files should get filtered out from here:

https://github.com/kubernetes/minikube/blob/11cad2b3e6b2dfc34ed5943ea58083df147ba69c/hack/jenkins/release_github_page.sh#L84

[2020-09-28 16:46] tstromberg commented on #9320
Hey old-code-monkey! Thank you for the detailed bug report. I don't have a hyper-v machine, but would you be willing to help test a patch if I propose one? This one seems pretty simple based on how you describe it.

[2020-09-28 16:59] tstromberg commented on #9322
@sharifelgamal - any more context on this? It seems like surprisingly this once worked.

As an unrelated bug, this check should respect --force but does not appear to yet.

[2020-09-28 17:02] tstromberg commented on #9325
This seems to be caused by `docker version` now returning an exit code 0 when it isn't running.

[2020-09-28 17:07] sharifelgamal commented on #9322
Interesting, that would be my fault then. I always assumed it never worked so I added that error message, I'll look into fixing it. If anyone wants to take a crack at it in the interim, take the assignment from me.

[2020-09-28 17:16] afbjorklund commented on #9341
Right, the docs* says to get it from google and not github...

\* https://minikube.sigs.k8s.io/docs/start/

[2020-09-28 17:57] #9285 closed

[2020-09-28 17:57] tstromberg commented on #9285
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it by replying `/reopen`

If someone sees a similar issue to this one, please re-open it as replies to closed issues are unlikely to be noticed.

Thank you for opening the issue!

[2020-09-28 18:00] tstromberg commented on #9286
I have to admit, I'm no Hyper-V expert, but maybe this would help:

https://www.ibm.com/support/knowledgecenter/en/SSMKFH/com.ibm.apmaas.doc/install/hyperv_config_add_nonadmin_user_hyperv_usergroup.html

[2020-09-28 18:02] shayanjalil commented on #8568
Has anyone found a solution to this so far? I'm still stuck 😞

[2020-09-28 18:04] #9326 closed

[2020-09-28 18:05] tstromberg commented on #9305
Very strange - I wonder if this maybe due to both nodes sharing a common volume? It doesn't seem like we should be treating the partition any differently.

[2020-09-28 18:07] tstromberg commented on #9328
What driver is this with?

It seems like suspend/resume of the host caused the VM environment to break in some way. I suspect you would have a similar experience with `suspend host/resume host/minikube status`.

[2020-09-28 18:09] tstromberg commented on #9328
One possibility is that suspend/resume may have changed the IP of your VM environment. We'll be able to investigate more once we know what driver we are dealing with.

[2020-09-28 18:11] prgaly commented on #9328
This is on Linux with libvirt/kvm2 driver - I will check if the IP is changing but if that's the case I guess there's nothing much that can be done?

No idea yet, will test. Thanks.

[2020-09-28 18:20] tstromberg commented on #9319
It seems like we can partially fix this by switching this line in `cmd/minikube/cmd/start_flags.go` to use a Slice instead of an Array:

`startCmd.Flags().StringArrayVar(&config.AddonList, "addons", nil, "Enable addons. see `minikube addons list` for a list of valid addon names.")`

Someone will also need to make sure that the existing usage is preserved though (multiple --addon flags), and that i

[2020-09-28 18:30] tstromberg commented on #9328
Let's start by seeing if this works:

[code]

If it fails, share the output of

[code]

[2020-09-28 18:33] tstromberg commented on #9320
@old-code-monkey could you confirm if https://storage.googleapis.com/minikube-builds/9342/minikube-windows-amd64.exe fixes this problem? It's built from #9342

[2020-09-28 18:38] blueelvis opened #9344 "Hyper-V Tests failing on local machine"
I am running the tests locally on my Windows machine but the following tests are failing consistently -
[code]

These tests are not failing in the CI builds though. Attached is the log file. (Rename it to `.html` from `.txt`)
[testout_59f2c65 (2).txt](https://github.com/kubernetes/minikube/files/5294339/testout_59f2c65.2.txt)

[2020-09-28 18:49] blueelvis commented on #4841
/remove-lifecycle stale

[2020-09-28 18:55] old-code-monkey commented on #9320
Hi Thomas,

Thanks for picking up this one and making the changes.  I'll have a go at testing it this evening and get back to you with the result.

[2020-09-28 18:58] tillhoff commented on #9341
I would love to work on this. Will start tomorrow.

[2020-09-28 19:10] #9107 closed

[2020-09-28 19:12] #7481 closed

[2020-09-28 19:13] afbjorklund commented on #9317
It could also be that the cast to Tag is hiding any digest that could have been in the original Ref ?

[code]

Would be interesting to see some logs, to see what is going on.

[2020-09-28 20:22] dave-meier opened #9347 "install-calico-windows.ps1 fails getting secret value"
**Steps to reproduce the issue:**

1. Following instructions on [installing calico on Windows EKS node](https://docs.projectcalico.org/getting-started/windows-calico/quickstart)
2. Running install-calico-windows.ps1
3. I added a statement to write out the KubeConfigPath and SecretName.

**Full output of failed command:**
[code]

Running the command directly:
[code]
What do I need to do to make thi

[2020-09-28 21:02] mengzhen94 opened #9349 "Minikube start failed to download checksum file"
I upgraded kubernetes and minikube. Minikube starts "minikube start --kubernetes-version '1.19.2' --vm-driver=none" failed with the error below.

[code]

I tried deleting minikube, restarting it and with `--alsologtostderr`. Here is the output

[code]

Also I can't init kubeadm after upgrade. I have no idea if it's related but here is my issue https://github.com/kubernetes/kubeadm/issues/2309.

[2020-09-28 22:09] prgaly commented on #9328
Unable to reproduce - will keep trying - it may need a longer sleep time - enough to let the DHCP lease expire on minikube-net.

[2020-09-28 22:33] old-code-monkey commented on #9320
Thomas, as can be seen by the attached files the fix for the case-mismatch is a success.
[minikube_v1.13.0.txt](https://github.com/kubernetes/minikube/files/5295240/minikube_v1.13.0.txt)
[minikube_v1.13.1.txt](https://github.com/kubernetes/minikube/files/5295243/minikube_v1.13.1.txt)

During testing, I did see a strange error when performing a minikube stop after the start had thrown an error.
The

[2020-09-28 23:59] kppullin commented on #8370
FWIW, the `module configs not found` message may be misleading.  I came across this issue when minikube failed to start on Ubuntu 20.04 by way of the `FATAL: Module configs not found...` message, but eventually found _my_ root cause (https://github.com/kubernetes/minikube/issues/7923#issuecomment-699658469).

Ubuntu seems to lack the `configs` module and places the `config` content elsewhere.  Thi

[2020-09-29 08:03] tbox1911 commented on #8846
Hi,
I'll be glad to help.
I have been working with Gfs and minikube for a while
I think I can fix this issue with this addon
see you :)

[2020-09-29 08:38] tillhoff commented on #9341
Short note: `minikube-latest.x86_64.rpm` is also excluded now.

[2020-09-29 08:43] tillhoff commented on #9341
@tstromberg Thank you for pointing there, that saved me a lot of time :1st_place_medal:

[2020-09-29 12:38] ualter commented on #8997
Hi, same problem:

``
I0929 14:27:58.941785    6495 start.go:112] virtualization: vbox host
I0929 14:27:58.953340    6495 out.go:109] 😄  minikube v1.13.1 on Ubuntu 20.04
😄  minikube v1.13.1 on Ubuntu 20.04
I0929 14:27:58.955436    6495 notify.go:126] Checking for updates...
I0929 14:27:58.961040    6495 driver.go:287] Setting default libvirt URI to qemu:///system
I0929 14:27:59.129774    6495 dock

[2020-09-29 13:03] prgaly commented on #9328
After overnight suspend resume I was able to reproduce the issue - it looks like the minikube VM has no IP after resume - not sure if that's an libvirt issue or minikube - I will check if my other VMs retain the IP.

➜  ~ sudo virsh list
sudo virsh domifaddr minikube
sudo virsh domiflist minikube
[sudo] password for root:
 Id   Name       State
--------------------------
 1    minikube   running

[2020-09-29 13:22] cpaika commented on #9335
@tstromberg I could actually take this on if you think it's a good first issue.  I'm new to the codebase and am still learning Go, any tips on how I can get started here?

I know I need to conditionally add an entry here to point to a TLS certificate: https://github.com/kubernetes/minikube/blob/master/deploy/addons/ingress/ingress-dp.yaml.tmpl#L59

I'm a little unsure of the best approach - since

[2020-09-29 15:02] mengzhen94 commented on #9349
For anyone that seeing the issue, please use default supported kubernetes version. If you have installed another k8s version, please manually install the default one. Otherwise, it won't be compatible. Closing the issue.

[2020-09-29 15:02] #9349 closed

[2020-09-29 15:16] dave-meier commented on #9347
Apologies, mistakenly submitted this issue here instead of to the Calico Github.

[2020-09-29 15:16] #9347 closed

[2020-09-29 16:14] #9317 closed

[2020-09-29 18:50] marcosinger commented on #9319
@tstromberg I'm a newcomer here and I'd like to help with this one. I have some comments/questions before start:

Accordingly to the [docs](https://github.com/spf13/pflag/blob/master/string_slice.go#L97-L103), `StringSliceVar` might fix this issue without any drawbacks.

As far as I can see, both [addon.Set](https://github.com/kubernetes/minikube/blob/8190e184c084a73311cd4d2fc4cf845fda2e1ff6/pkg/a

[2020-09-29 19:25] tstromberg commented on #9319
@marcosinger - good find. I think you are on the right track. We aim to follow the principle of least surprise, so keeping the same behavior sounds correct. I agree that removing that filter would help.

One concern is that we should probably detect that the addons are invalid as soon as possible - certainly before starting the cluster, otherwise we may be wasting the users time.

[2020-09-29 19:47] #9341 closed

[2020-09-29 19:48] #7788 closed

[2020-09-29 20:00] j-windsor opened #9352 "Minikube status shows paused cluster as running"
**Steps to reproduce the issue:**

1. Pause the cluster.
2. run the following commands in the following versions.
[code]

As you can see, the most recent version does not correctly output the status as paused.

[2020-09-29 20:14] j-windsor commented on #9352
Might be related to this commit: https://github.com/kubernetes/minikube/commit/1783cc2939ec058c2742293693a39c45d4f626a4

@priyawadhwa any ideas?

[2020-09-29 20:24] #9325 closed

[2020-09-29 20:26] #9320 closed

[2020-09-29 20:29] #9208 closed

[2020-09-29 20:29] #9215 closed

[2020-09-29 21:52] harryttd opened #9354 "Ingress nginx for TCP and UDP services --- Step "Patch the ingress-nginx-controller" bug"
[code]
https://minikube.sigs.k8s.io/docs/tutorials/nginx_tcp_udp_ingress/#patch-the-ingress-nginx-controller

Running the directed command: `kubectl patch deployment ingress-nginx-controller --patch "$(cat ingress-nginx-controller-patch.yaml)" -n kube-system` results in an error `The Deployment "ingress-nginx-controller" is invalid: spec.template.spec.containers[0].image: Required value`.

EDIT:
I

[2020-09-29 22:26] Gauravjaitly commented on #1234
In my case, my minikube wasnt active. had to start it by "minikube start"

[2020-09-29 23:38] sebanazarian commented on #9078
hi, any solution for this error?

**ssh_tunnel.go:113] error starting ssh tunnel: exec: "sudo": executable file not found in %PATH%**

[2020-09-30 03:34] renich commented on #8756
In my case, I live in México and I have a 100 Mbps connection. Everything installed correctly but not the nginx ingress:

[code]

[2020-09-30 03:42] renich commented on #8756
It seems that the URL being used isn't correct. If you go here: https://console.cloud.google.com/gcr/images/k8s-artifacts-prod/US/ingress-nginx/controller@sha256:0e072dddd1f7f8fc8909a2ca6f65e76c5f0d2fcfb8be47935ae3457e8bbceb20 it works, but the URL logged is: us.gcr.io/k8s-artifacts-prod/ingress-nginx/controller:v0.34.1@sha256:0e072dddd1f7f8fc8909a2ca6f65e76c5f0d2fcfb8be47935ae3457e8bbceb20

If yo

[2020-09-30 03:45] renich commented on #8756
So, for me, edititng the deployment with the correct image URL seems to have worked.

![image](https://user-images.githubusercontent.com/225115/94640852-53940100-02a5-11eb-9e06-ea82be777a50.png)

To do this, just: `kubectl -n kube-system edit deployment ingress-nginx-controller` and look for "image:" and change it to:

[code]

![image](https://user-images.githubusercontent.com/225115/94640901-758d

[2020-09-30 04:45] CtrlZvi commented on #6982
/remove-lifecycle rotten
To the best of my knowledge, this is still a valid issue.

[2020-09-30 07:01] educatux opened #9357 "parallels: Your Mac host is not connected to Shared network."
Hi,
With MacOS 11.0 beta (20A5374i) and parallels 16.0.1 (48919)
problem to Create Minikube because : Shared Network.

My Command : minikube start --vm-driver=parallels --alsologtostderr -v=7

--------- Log Details
I0930 08:59:09.770672    6797 out.go:191] Setting JSON to false
I0930 08:59:09.822388    6797 start.go:102] hostinfo: {"hostname":"MacBook-Pro.educatux.org","uptime":7008,"bootTime":160

[2020-09-30 07:17] RA489 commented on #9357
/triage support

[2020-09-30 10:03] ObidiIsaac opened #9358 "minikube start --driver=docker"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-09-30 10:35] jrstrengen opened #9359 "@(Get-Wmiobject Win32_ComputerSystem).HypervisorPresent failed (but works with minikube v1.6.2)"
Unable to start Minikube 1.3.1 on windows 10 with hyper-v role installed.
I have gotten earlier versions to run succesfully
1.6.2
1.9.2 (with --force)
1.11.0 (with --force)

**Steps to reproduce the issue:**

1. Starting powershell as administrator (5.1.18362)
2. minikube start --vm-driver="hyperv" --hyperv-virtual-switch="minikube"  --alsologtostderr -v=1
3. Checking that  @(Get-Wmiobject Win32_C

[2020-09-30 12:56] bobuntu commented on #94
@sharifelgamal how does `minikube dashboard` work in a multi-nodes environment?

Here's an overview of the cluster I'm dealing with:
[code]
The following command gets stuck indefinetly:
[code]

[2020-09-30 16:01] mFarghaly opened #9360 "failed to create gluster volume: Invalid JWT token: signature is invalid (client and server secrets may not match)"
**Steps to reproduce the issue:**

1. minikube start
2. minikube addons enable storage-provisioner-gluster
3. following tutorial here https://github.com/kubernetes/minikube/tree/master/deploy/addons/storage-provisioner-gluster

Checking the `kubectl describe pvc` I get the following events

<details>
Events:
  Type     Reason                Age              From

[2020-09-30 16:21] tstromberg commented on #9358
Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=1` for extra logging.

Thank you for sharing your experience!

[2020-09-30 16:35] tstromberg commented on #9357
Were you able to follow the solution it suggested?

`Please, enable this option: 'Parallels Desktop' -> 'Preferences' -> 'Network' -> 'Shared' -> 'Connect Mac to this network'`

[2020-09-30 16:40] rca-sgautier commented on #9357
This option already  actived.
Bug of Mac OS BigSur ?

Envoyé de mon iPhone

Le 30 sept. 2020 à 18:35, Thomas Strömberg <notifications@github.com> a écrit :

﻿

Were you able to follow the solution that minikube suggested?

Please, enable this option: 'Parallels Desktop' -> 'Preferences' -> 'Network' -> 'Shared' -> 'Connect Mac to this network'

—
You are receiving this because you are subscribed t

[2020-09-30 17:04] tstromberg commented on #9359
@jrstrengen - It looks like we're not outputting enough detail to figure this out. Do you mind re-running the command using this binary built from #9361 ?

https://storage.googleapis.com/minikube-builds/9361/minikube-windows-amd64.exe

It should do a better job of surfacing the underlying error message. In the mean-time, could you also share the output of:

C:\Windows\System32\WindowsPowerShell\v1

[2020-09-30 17:05] #7977 closed

[2020-09-30 17:58] RA489 commented on #9360
/triage support

[2020-09-30 18:00] RA489 commented on #9339
/triage support

[2020-09-30 18:15] medyagh commented on #8720
Hi @SMDMANSOOR , I haven't heard back from you, I wonder if you still have this issue?

[2020-09-30 18:20] priyawadhwa commented on #8939
Hey @fzyzcjy did that fix things for you?

[2020-09-30 18:23] priyawadhwa commented on #1234
Hey @editaxz  did restarting the cluster via

[code]
fix it for you?  I'd suggest upgrading to the latest version of minikube, v1.13.1, as well.

[2020-09-30 18:24] priyawadhwa commented on #459
Hey @mtalalkhan would you mind opening a new issue with this information?

[2020-09-30 18:26] sharifelgamal commented on #6912
The none driver workaround is just that, a workaround. I suspect this should also work with the docker and kvm2 drivers.

[2020-09-30 18:27] medyagh commented on #9040
@rajurh do you mind trying to crate a VM manuallly using hyper-v manager to see if it allows you ?

yet I would like minikube to provide a better error.
do you mind also sharing the output of the commands that enable HyperV ?

https://minikube.sigs.k8s.io/docs/drivers/hyperv/

also if you install docker, you can user our newest driver, docker driver.

minikube delete --all
minikube start --driver=

[2020-09-30 18:27] sharifelgamal commented on #8232
This is fixed.

[2020-09-30 18:27] #8232 closed

[2020-09-30 18:32] medyagh commented on #6735
how about we add alternative way of installing using something like curl.

[2020-09-30 18:38] ilya-zuyev commented on #7422
/assign

[2020-09-30 18:39] medyagh commented on #9030
@AmitVishwash

[code]
the 172 ip is internal to docker and not accessible from outside.
but you should have access to http://127.0.0.1:50367

can you try in browser with CURL and also make sure your browser is not changing http to https ?

and also there might be proxy or VPN that is preventing you from accessing, are you using a corp network or a proxy?

[2020-09-30 18:39] sharifelgamal commented on #5687
This is going to become more of a focus again.

/assign

[2020-09-30 18:42] sharifelgamal commented on #2117
This a good idea. Help wanted!

[2020-09-30 18:42] medyagh commented on #8170
I have not seen this issue anymore, I am gonna close it till we are convinced

[2020-09-30 18:42] #8170 closed

[2020-09-30 18:44] RA489 commented on #8866
@darkdatter Any luck with above suggestions?

[2020-09-30 18:48] medyagh commented on #7695
I heard that in china they are using alibaba for the preloaded images but I dont know how they are doing that, since we have have hard coded.

I would like to get alibaba accounts for minikube so we can publish the artifats directly to alibaba ourseleves.

[2020-09-30 18:48] sharifelgamal commented on #4587
`bcdedit /set hypervisorlaunchtype off` seems to be the workaround to fix this issue. I'm going to leave this issue open for visibility.

[2020-09-30 18:50] medyagh commented on #6535
we still wanna do this, but not urgnet or too important

[2020-09-30 18:52] medyagh commented on #6185
I dont see much request for this but would be okay to have this in a doc

[2020-09-30 18:53] medyagh opened #9362 "figure out choco install proccess"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-09-30 18:57] medyagh commented on #6205
I would be happy to accept a PR that will add a setting to gluster addon to set the Interal Disk Size for Gluster.

would you be interested in contributing that ? @renich

[2020-09-30 18:58] renich commented on #6205
@medyagh I can try. I have no idea of where to start, though, but it'll be fun.

[2020-09-30 19:01] medyagh commented on #8480
@joshmue thank you for updating the issue, did that answer solve the issue ? or do you think we could still do anything on minikube side to make the experience better on this issue ?

[2020-09-30 19:01] sharifelgamal commented on #9257
Yeah this strikes me as a docker issue rather than a minikube issue. I'm going to close this for now, but feel free to reopen if it ends up being related to minikube.

[2020-09-30 19:01] #9257 closed

[2020-09-30 19:02] medyagh commented on #8760
@dschulten Docker driver is better experience for VPN and proxies, do you mind trying with Docker driver and see if that is a better experience ?

[2020-09-30 19:20] medyagh opened #9363 "add support for setting driver's network cidr for KVM and Docker driver."
currently user can set the network CIDR for only virtualbox driver,
for KVM we have hard coded this, we should be able to allow user to configure this for all drivers
[code]

[2020-09-30 19:42] jrstrengen commented on #9359
PS G:\kube\> C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe @(Get-Wmiobject Win32_ComputerSystem).HypervisorPresent                                                                                                                                        True : The term 'True' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the na

[2020-09-30 19:46] jrstrengen commented on #9359
With binary from #9361

PS G:\> minikube start --vm-driver="hyperv" --hyperv-virtual-switch="minikube" --alsologtostderr -v=1
I0930 21:45:00.211060    5316 out.go:191] Setting JSON to false
I0930 21:45:00.221061    5316 start.go:103] hostinfo: {"hostname":"DESKTOP","uptime":126283,"bootTime":1601368817,"procs":321,"os":"windows","platform":"Microsoft Windows 10 Pro","platformFamily":"Standalone Wo

[2020-09-30 19:50] jrstrengen commented on #9359
Just to confirm, I'm running as administrator. I also tested to see how it runs in cmd, powershell and powershell core. This makes no difference.

[2020-09-30 20:45] mativillagra opened #9364 "Docker Driver Using Multi-Node Clusters & NodePort"
I follow this documentation I execute the following command's

https://minikube.sigs.k8s.io/docs/tutorials/multi_node/

[code]
This bring the multi-node cluster up on my local host successfully,

**_Advice that the driver selected is docker._**

[code]
I apply the two *.yaml files on the cluster, as in here with no changes.

https://minikube.sigs.k8s.io/docs/tutorials/multi_node/

[code]
My questi

[2020-09-30 21:43] sandrogiacom commented on #9311
I enable addons when minikube stoped and worked now.

minikube  addons enable istio-provisioner
minikube addons enable istio --alsologtostderr
minikube start

[2020-09-30 22:32] medyagh opened #9366 "do not allow one letter profile names"
docker does not allow volume names shorter than 2 letters.
which will cause minikube to crash on docker driver

[code]

we should not allow single letter profile names

[2020-09-30 23:46] medyagh commented on #4587
we could add this or our Regex Problem Matching to give a solution message to user with link to this issue

[2020-09-30 23:48] medyagh commented on #9156
thank you @JohnCarmichael3000 for the details, we will be moving to klog that will have a better experience with logs files

[2020-09-30 23:51] medyagh commented on #9328
@prgaly I am working on a PR to implement static IP for docker driver
I wonder if the binary in this PR works for your scenario with docker driver?

[code]
do you mind tryiung the same thing with docker driver in that PR ? (https://github.com/kubernetes/minikube/pull/9294)

[2020-09-30 23:52] medyagh commented on #9315
glad to see you  have a better time with docker, I recommend using docker driver as it is our preferred driver

[2020-09-30 23:54] medyagh commented on #9023
@AmitVishwash I think this is duplicate of this https://github.com/kubernetes/minikube/issues/9030

lets track the response in one place

[2020-09-30 23:54] #9023 closed

[2020-09-30 23:57] medyagh commented on #8762
@agentreno do you mind trying with v1.19.2 and see if that helps?

[2020-09-30 23:59] medyagh commented on #8823
@dhaneesht I am sorry to hear your problem with HyperV driver, I wonder if you have had any luck with docker driver ?

[2020-10-01 00:03] medyagh commented on #9359
@jrstrengen does the binary in this PR help ?
https://github.com/kubernetes/minikube/pull/9361
http://storage.googleapis.com/minikube-builds/9361/minikube-windows-amd64.exe

[2020-10-01 00:04] medyagh commented on #8966
we will need to investigate this. CC: @sharifelgamal

[2020-10-01 01:04] fzyzcjy commented on #8939
@priyawadhwa Sorry my environment cannot be easily updated to the edge build. So I have not tried it yet :/ But if it is stable release I may be able to do so. Thanks for your reply!

[2020-10-01 03:44] RA489 commented on #9364
/triage support

[2020-10-01 03:46] RA489 commented on #9364
/kind support

[2020-10-01 04:25] AmitVishwash commented on #9030
@medyagh  I tried this also but didn't able to access it.  I tried the url after running
.\minikube-windows-amd64.exe service selenium-srv

Starting tunnel for service selenium-srv.
|-----------|--------------|-------------|------------------------|
| NAMESPACE | NAME | TARGET PORT | URL |
|-----------|--------------|-------------|------------------------|
| default | selenium-srv | | http://127.0

[2020-10-01 06:38] marcominetti commented on #7923
Thanks @kppullin... The following command worked for me
[code]

I execute it immediately after the logged task "Creating docker container (CPUs=4, Memory=16384MB) ..." is finished

[code]

[2020-10-01 07:37] jrstrengen commented on #9359
@medyagh I think that binary is the same as @tstromberg linked, but I downloaded again and ran. Still same error

PS G:\kube> minikube version
minikube version: v1.13.1
commit: 5f73743072b9632ff62fdf25da0951881cbb96bb
PS G:\kube> minikube start --vm-driver="hyperv" --hyperv-virtual-switch="minikube" --alsologtostderr -v=1
I1001 09:33:45.091159   24916 out.go:191] Setting JSON to false
I1001 09:33:

[2020-10-01 07:45] jrstrengen commented on #9359
@tstromberg When i ran the command yesterday i ran it in powershell and that returned the previous output.
I now ran it cmd, to see if it differs. (and it does). However running minikube in ps or cmd does not give different results.

Cmd.exe:
G:\kube>C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe @(Get-Wmiobject Win32_ComputerSystem).HypervisorPresent

True

[2020-10-01 08:58] rajurh commented on #9040
@medyagh  No luck, with docker driver we have limitations like ingress controller addons, etc.

[2020-10-01 11:14] ysingla0580 opened #9369 "minikube not installed properly on RHEL7"
I am getting permission denied issue while starting the minikube -

[root@TEST004-K8S ~]# minikube start  --driver=none
* minikube v1.13.1 on Redhat 7.6
* Using the none driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Running on localhost (CPUs=2, Memory=3931MB, Disk=11967MB) ...
* OS release is Red Hat Enterprise Linux Server 7.6 (Maipo)
* Preparing

[2020-10-01 11:39] indykish commented on #4589
I did a restart after doing the following

[code]

upon restart

[code]

[2020-10-01 12:46] mbrijun commented on #8512
Same problem here. It seems that the only way around is to create an external virtual switch in Hyper-V.

[2020-10-01 14:32] adr-arroyo opened #9370 "Horizontal pod autoscaler not able to get metrics in minikube deployment"
**Steps to reproduce the issue:**

1. `$ minikube start — extra-config=controller-manager.horizontal-pod-autoscaler-upscale-delay=1m — extra-config=controller-manager.horizontal-pod-autoscaler-downscale-delay=1m — extra-config=controller-manager.horizontal-pod-autoscaler-sync-period=10s — extra-config=controller-manager.horizontal-pod-autoscaler-downscale-stabilization=1m`
2.  `$ minikube add-ons

[2020-10-01 14:52] prgaly commented on #9328
Hello Medya. Thanks - I will try it out and report.

[2020-10-01 15:42] priyawadhwa commented on #8939
@fzyzcjy no worries :)

[2020-10-01 16:25] matthewmichihara commented on #9208
Thanks for the fix, when should I expect this to show up in gcloud?

[2020-10-01 17:17] afbjorklund commented on #9369
Most likely `/var/lib/minikube/binaries/v1.19.2/kubeadm` is protected somehow, like /var being mounted noexec or something ?

[2020-10-01 19:09] #8920 closed

[2020-10-01 19:11] #8936 closed

[2020-10-01 19:11] #9069 closed

[2020-10-01 19:11] #9087 closed

[2020-10-01 19:17] tstromberg commented on #9359
Thanks - you are in fact running the new binary, as it does provide extra information, such as an exit code and unfortunate lack of command output. I was hoping to see something more useful.

It's a long shot, but I am curious: does minikube work properly if you run from the C:\ drive?

[2020-10-01 19:42] rca-sgautier commented on #9357
It's not a problem connecting to the Mac's network. I checked before I opened this issue. For me it's a problem maybe with Bigsur Mac OS.

[2020-10-01 21:08] matthewmichihara opened #9371 "Minikube start hangs for roughly 30s before printing `storage-provisioner` errors."
[code]

After the following line is printed, minikube hangs for roughly 30s:
`📌  If you don't want your credentials mounted into a specific pod, add a label with the `gcp-auth-skip-secret` key to your pod configuration.`

**Optional: Full output of `minikube logs` command:**
<details>

[code]
</details>

[2020-10-01 21:39] matthewmichihara commented on #9371
I'm also seeing this on the latest `HEAD` version of minikube, obtained from https://storage.googleapis.com/minikube-builds/master/minikube-darwin-amd64:

[code]

[2020-10-01 22:03] vincentjocodes opened #9372 "Delete on failure not working"
**Steps to reproduce the issue:**

1. Turn off Docker
2. Run `minikube start --delete-on-failure`
3. See errors but does not delete on failure

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

[code]

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-10-01 22:25] davidchieregato opened #9373 "RSRC_INSUFFICIENT_CORES on WSL2 Windows"
minikube start --driver=docker
😄  minikube v1.13.1 on Ubuntu 20.04
✨  Using the docker driver based on user configuration

⛔  Exiting due to RSRC_INSUFFICIENT_CORES: Docker has less than 2 CPUs available, but Kubernetes requires at least 2 to be available

The issues related to this error are talking about using minikube with a mono core machine, but in my case the error doesn't make sense at all

[2020-10-01 22:40] medyagh opened #9374 "do not pollute the json output for status with with Error"
while a minikube is "Starting" the json output has some errors that shows the container is Not UP yet...
this error line should be converted to warnning or info when it is trying to parse ""
[code]

[2020-10-01 23:05] sharifelgamal commented on #9371
For some reason, the gcp-auth addon is trying to inject credentials into the storage-provisioner pod on cluster restart even though I've explicitly excluded the entirely kube-system namespace. I'll look into why that's happening.

[2020-10-01 23:17] medyagh opened #9376 "minikube docker driver stays stopped after Docker Desktop Stop and Start"
I just found an interesting behaviour in minikube, after we start a cluster with docekr driver, when we Quit Docker Desktop
and then start Docker Desktop Again...
minikube docker container stays stopped...
that can be fixed by adding  --restart=on-failure:1
however that makes the Container Running but our Kubelet and apiservver stays Stopped...
we might need to enable Kublet or apiserver to run on

[2020-10-01 23:27] medyagh commented on #9376
I confirm if we start Kubelet service it will not let the apiserver to be dying..

in our code base we have this line

[code]
https://github.com/medyagh/minikube/blob/cef5f180817acb4142a0ff13553e19db0a81b210/pkg/minikube/sysinit/systemd.go#L58-L59

we need to find a solution that after docker container exits (because of docker desktop quiting)
then container comes back, we need to be able to start

[2020-10-01 23:35] medyagh commented on #9376
one possible solution would be, each time user runs minikube status, if we find out kubelet is not running we try to start it... (not an elegant solution)

[2020-10-02 03:35] netkiller opened #9378 "minikube addons enable registry 出错"
neo@MacBook-Pro-Neo ~ % minikube addons enable registry
🔎  Verifying registry addon...

❌  Exiting due to MK_ENABLE: run callbacks: running callbacks: [verifying registry addon pods : timed out waiting for the condition: timed out waiting for the condition]

😿  If the above advice does not help, please let us know:
👉  https://github.com/kubernetes/minikube/issues/new/choose

[2020-10-02 09:10] jrstrengen commented on #9359
Unfortunatly it does not run any better from c:\ drive.
same error message.

[2020-10-02 09:20] Git-Jiro commented on #3760
Hi!
I want to start tackling this issue and got stuck pretty soon:
If you run "minikube" as a regular user, how do you "sudo" when trying to 'copy' a file out of 'pkg/minikube/assets/assets.go' ?

I am stuck at 'pkg/minikube/bootstrapper/bsutil/files.go' line 56

The only idea i have at the moment would be to do it like this:
"Copy" the file into a temporary directory and then "sudo cp" from there

[2020-10-02 13:25] afbjorklund commented on #9376
This is the same behaviour as with the VM. If you stop and start your VM, kubernetes will be "dead" until you run `minikube start`. So as missing feature ?

[2020-10-02 14:04] dominikbraun commented on #8925
Unfortunately, this isn't sufficient for documenting the way to work around Docker's TLS requirements, see the code review comments from #9314. I'll have to un-assign me for this because I'm not experienced enough in this topic.

[2020-10-02 14:25] tstromberg commented on #3760
@Git-Jiro - That's the best idea I have as well, unfortunately. I would start with that approach.

[2020-10-02 14:27] tstromberg commented on #8445
Fixing the title because I was a bit in err here: the deprecated flag is actually --enable-default-cni, which should show a warning. --network-plugin isn't deprecated. That said, this could be unexpected behavior, so we should show a warning.

[2020-10-02 14:46] huornlmj opened #9380 "AnyConnect VPN: vbox host-only: "minikube is unable to connect to the VM: dial tcp x:22: i/o timeout""
X minikube appears to try to connect to the newly created Virtualbox VM on 192.168.99.101:22.  However the VM itself is not reachable from the host when created as it is created on a host-only network.  The VM is also automatically configured for port forwarding, forwarding the VM's port 22 to port 4096 on the host's loopback interface.

If this were to work then the line below (X minikube is unab

[2020-10-02 15:10] tstromberg commented on #4392
@prezha - Sounds good. Here's how I see this working, please let me know if you have any alternative suggestions:

* We setup a cronjob that checks out the minikube source repository and runs this script.
* This script is run, checking against the values in the local source tree
* If there is a new Kubernetes version, it updates the local source tree, and if there are no open PR's which have the n

[2020-10-02 15:41] pythonebasta commented on #3869
changing from ReadWriteOnce to ReadWriteMany fixed the problem for me.

[2020-10-02 16:29] afbjorklund commented on #9376
[code]

So it has "always" been this way, like a shortcoming in the minikube design ?

We **don't** install the needed files for the kubelet, to start automatically after boot.

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/kubelet-integration/#the-kubelet-drop-in-file-for-systemd

[2020-10-02 17:48] Git-Jiro commented on #3760
@tstromberg related question, since some automated tests are failing:
How should I detect when to use "sudo" and when to keep using the native golang functions so I do not break the non Linux use cases?

[2020-10-02 19:04] obaidomer opened #9381 "Exiting due to GUEST_PROVISION: Failed to start host: creating host: create: creating: Machine didn't return an IP after 120 seconds"
**Steps to reproduce the issue:**

1. installation of minikube on MacOS
2. run minikube start
3. below output is thrown back.

MacOS has both VMware Fusion and VirtualBox - both give similar exception.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

minikube start
😄  minikube v1.13.1 on Darwin 11.0
✨  Automatically selected the vmwar

[2020-10-02 20:31] tstromberg commented on #9352
Still repeatable at HEAD.

[2020-10-02 22:33] #9371 closed

[2020-10-03 00:47] prezha commented on #4392
@tstromberg - sounds great and in line with my thoughts: follows the details, and i've created a [pr #9384](https://github.com/kubernetes/minikube/pull/9384) with changes in the script:

### notes:

- `UPDATE_TARGET` env var controlles what will be updated - options:
  = unset/absent, `fs`, or `all`: local filesystem repo will be updated - similarly to the old behaviour
  = `gh` or `all`: a pr aga

[2020-10-03 08:02] #7798 closed

[2020-10-03 15:52] prgaly commented on #9328
Tested couple times and found no issues after suspend/resume - pause before suspend and unpause after resume worked fine with the new build. Thanks Thomas and Medya.

[2020-10-03 21:47] abhimjoshi commented on #7344
No luck even using it with with `--vm-driver=hyperkit` (on Mac)

It displays like this after I run the command (`minikube service invoiceapi-service`)

[code]
But, I am not able to connect my service in browser. The URL/ page is not reachable.

Any help?

[2020-10-04 09:02] harlesbayu commented on #7344
1. install virtualbox
2. start minikube => `minikube start --driver=virtualbox`
3. check ip minikube: `minikube ip`

If you just install minikube on your mac and start minikube you will get IP 127.0.0.1.

[2020-10-04 09:07] harlesbayu commented on #7344
Could u share your services yaml?

[2020-10-04 09:59] rca-sgautier commented on #9357
![Uploading Capture d’écran 2020-10-04 à 11.56.45.png…]()

[2020-10-04 10:01] rca-sgautier commented on #9357
<img width="1564" alt="Capture d’écran 2020-10-04 à 11 56 45" src="https://user-images.githubusercontent.com/72125601/95012497-54c48580-0639-11eb-995d-45058e9220ec.png">

[2020-10-04 13:25] abhimjoshi commented on #7344
@harlesbayu Thanks for the reply. I have tried with both `--driver=docker` (which is default) and `--driver=hyperkit`, but I never used `--driver=virtualbox` because I do not want to install `virtualbox` on Mac as I want to get it up and running either with `docker or hyperkit`.

You are right. I am getting minikube IP 127.0.0.1

Please see below my service yaml:

[code]

Thanks again.

[2020-10-04 14:21] harlesbayu commented on #7344
@abhimjoshi It's same if you using --driver=hyperkit.
have you tried `minikube service invoiceapi-service --url` ?

[2020-10-04 14:37] harlesbayu commented on #7344
@abhimjoshi , It's same if use -`-driver=hyperkit`
have you tried `minikube service invoiceapi-service--url` ?
Can you share your Pod yaml ?

[2020-10-04 15:51] abhimjoshi commented on #7344
@harlesbayu Yes, I tried that too, and it is the same issue. The URL/ page is not reachable. See the output below:

[code]

The link `http://127.0.0.1:51058` is not reachable.

[2020-10-04 16:08] abhimjoshi commented on #7344
@harlesbayu Yes, I tried that too with using both `docker` and `hyperkit` driver. See output below of both:

**--driver=hyperkit**

`minikube service invoiceapi-service --url`

Result:
`http://192.168.64.3:30200`

The link above is not reachable as before. Same issue.

---

**--driver=docker (default)**

`minikube service invoiceapi-service --url`

[code]

Result:
The link http://127.0.0.1:51798 i

[2020-10-04 18:24] harlesbayu commented on #7344
@abhimjoshi Did you used Pod yaml?

[2020-10-04 19:37] abhimjoshi commented on #7344
@harlesbayu Yes, see it below:

[code]

[2020-10-04 23:11] prezha commented on #9374
/assign

[2020-10-05 03:21] srinathganesh1 commented on #7344
Try this in a new terminal and dont close the terminal
[code]

[2020-10-05 04:49] mnasruul opened #9391 "verifying ingress addon pods : timed out waiting for the condition: timed out waiting for the condition"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-10-05 07:18] slinkydeveloper commented on #8772
Thanks @szarnyasg, it's the same issue as described here https://github.com/code-ready/crc/issues/1444

[2020-10-05 07:49] abhimjoshi commented on #7344
@srinathganesh1 It starting the tunnel, but then nothing happens. See output below:

[code]

I have also tried to access the service after tunnel was started with both the ports (9005 and 30200), but the URL/ page  was not reachable

[2020-10-05 08:15] joshmue commented on #8480
Hi @medyagh! While the steps written down in my initial comment are now kind of outdated, it would be beneficial to have the `--cni=cilium/...` flag working without any manual intervention in cases where CRI-O is used. That would improve the experience a lot.

If you want me the update this issue's title or test something, please say so.

[2020-10-05 14:23] priyawadhwa commented on #9391
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl get po -A`

Thank y

[2020-10-05 14:26] priyawadhwa commented on #9378
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl get po -A`

Thank y

[2020-10-05 14:29] priyawadhwa commented on #9373
Hey @davidchieregato could you try increasing the number of cores available to Docker and see if that resolves the issue?

[2020-10-05 16:59] matthewmichihara opened #9392 "Minikube gcp-auth addon causes 'storage-provisioner' errors"
I'm running a build with the fix for https://github.com/kubernetes/minikube/issues/9371, but still encountering this error:

[code]

**Optional: Full output of `minikube logs` command:**
<details>

[code]

</details>

[2020-10-05 16:59] matthewmichihara commented on #9392
@sharifelgamal were you able to reproduce the original issue?

[2020-10-05 17:11] sharifelgamal commented on #9392
Yeah the original issue was reliably reproducible. The newest version of the webhook image should never apply anything to any pod in the kube-system namespace, so I'm wondering if you're getting that image or not.

Could you make sure you have the newest gcp-auth-webhook image deployed?

`kubectl get pods -n gcp-auth` should give you three pods, could you run `kubectl describe pod <pod-name> -n gc

[2020-10-05 17:26] matthewmichihara commented on #9392
yes, here's that output:

[code]

[2020-10-05 18:41] dalehamel commented on #8637
Howdy, I've filed https://github.com/kubernetes/minikube/pull/9393 which should resolve this issue.

[2020-10-05 19:06] matthewmichihara commented on #9392
I tried again and .. it worked?

[code]

// restarted docker desktop here

[code]

[2020-10-05 19:08] matthewmichihara commented on #9392
Did additional `stop / start` and things look like they are working. Not sure what was causing the original issue - perhaps the restart of Docker Desktop changed something?

[code]

[2020-10-05 22:28] tstromberg opened #9396 "Do not auto-select Hyper-V driver if session has no privilege"
We need to copy the logic from this check into the hyper-v driver health check, so that Hyper-V isn't accidentally selected when the user does not actually have the privilege to use it:

[code]

I suggest an error message like: "Hyper-V requires elevated privileges:  Right-click the PowerShell icon and select Run as Administrator to use minikube with the Hyper-V driver`

[2020-10-05 22:29] tstromberg commented on #9396
/cc @medyagh @sharifelgamal

[2020-10-05 22:31] tstromberg opened #9397 "Add --delete-on-failure integration test if existing config references unusable driver"
We need an integration test to assert that --delete-on-failure properly handles the following scenario:

* Existing config references a driver that's been uninstalled or is otherwise unavailable
* minikube should delete the cluster and pick a new default driver

[2020-10-05 22:37] tstromberg opened #9398 "Fatal errors should include the path to the post-mortem INFO log"
Currently, we provide this information, which no one sees: https://minikube.sigs.k8s.io/docs/handbook/troubleshooting/#post-mortem-minikube-debug-logs

I was thinking that when we have a fatal exit, we should be able to say something like:

[code]

Related: #9323

[2020-10-05 23:03] j-windsor opened #9399 "--delete-on-failure does not delete on GUEST_DRIVER_MISMATCH"
**Steps to reproduce the issue:**

1. `minikube start --driver=docker`
2. `minikube start --driver=hyperkit --delete-on-failure`
3. See message on GUEST_DRIVER_MISMATCH
4. `minikube profile list` to see that the profile is not deleted.

![Screen Shot 2020-10-05 at 3 48 09 PM](https://user-images.githubusercontent.com/554839/95140509-f0322500-0723-11eb-9999-683e8da9a835.png)

This is something that

[2020-10-05 23:14] #9366 closed

[2020-10-06 02:23] tstromberg commented on #8801
Related: #9156

[2020-10-06 04:41] vinu2003 commented on #9399
Hey @j-windsor can i work on this issue if you aren't keen to do this ? then i can fix #9397

[2020-10-06 04:48] vinu2003 commented on #9397
/assign @vinu2003

[2020-10-06 07:28] zioalex commented on #3566
JFYI I was able to workaround this just restarting libvirtd service.
[code]
Without changing anything else minukube started perfectly.

[2020-10-06 07:38] joearul09 opened #9402 "Failed to start docker container. Running "minikube delete" may fix it: boot lock: timeout acquiring mutex"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-10-06 07:39] joearul09 opened #9403 "Exiting due to GUEST_PROVISION: Failed to start host: boot lock: timeout acquiring mutex"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-10-06 13:43] pimenvibritania commented on #8756
WOOWWW Thank You!! its work!

[2020-10-06 14:53] tstromberg commented on #9399
@vinu2003 - go for it!

[2020-10-06 14:53] tstromberg commented on #9399
/assign @vinu2003

[2020-10-06 15:22] #9352 closed

[2020-10-06 18:13] matthewmichihara commented on #9392
Downloaded a fresh minikube build from `master`, and gave it another try:

[code]

I then stopped minikube, did some cleaning, and tried again:
[code]

Minikube seemed to get stuck again and error at:
[code]

Some kubectl output:
[code]

`./minikube logs` output:

<details>

[code]

</details>

[2020-10-06 18:25] matthewmichihara commented on #9392
[code]

[2020-10-06 18:45] davidchieregato commented on #9373
Solved with
`minikube config set cpus 16`

[2020-10-06 18:45] #9373 closed

[2020-10-06 18:55] sharifelgamal commented on #9392
I'm hoping #9406 will fix this issue.

[2020-10-06 19:31] matthewmichihara commented on #9392
@sharifelgamal Ran a bunch of different combinations of stopping/starting minikube with `gcp-auth` and haven't seen the issues anyone. I think it fixes it for me!

[2020-10-06 19:40] #9392 closed

[2020-10-06 20:12] GarretSidzaka commented on #5815
/remove-lifecycle stale

[2020-10-06 20:21] blueelvis commented on #9306
This was fixed by #9340 . Closing.

[2020-10-06 20:21] #9306 closed

[2020-10-06 20:25] blueelvis commented on #9362
I have sent out a message using Chocolatey's `Contact Maintainers` page. Waiting for reply.

[2020-10-06 20:30] blueelvis commented on #9396
Picking this up.

/assign

[2020-10-06 23:26] medyagh opened #9409 "docker: Exiting due to DRV_CP_ENDPOINT: failed to parse ip for """
in this embeded use case, minikube detected that DiskSpace is full but when it exited, it gave the exit code RV_CP_ENDPOINT which is not correct, we should improve the exit code to reflect the real reason

[code]

[2020-10-07 00:10] #9313 closed

[2020-10-07 02:03] ZaMaZaN4iK commented on #3327
Any updates?

[2020-10-07 02:32] #9076 closed

[2020-10-07 02:32] tstromberg commented on #9251
Duplicate of #8374

[2020-10-07 02:32] #9251 closed

[2020-10-07 02:36] tstromberg commented on #9409
I don't think this is correct. 90% of capacity should not cause a failure, or exit prematurely. Could you help me to see  connection between the warning and the inability to determine what IP to use?

That said, there is room for an additional check if the total available disk space is under say, 500MB, but I don't think that is likely what happened here.

[2020-10-07 02:39] tstromberg opened #9410 "FR/crazy idea: delete context when minikube is stopped"
The context isn't useful if minikube is stopped, and can mislead folks into talking to a stopped cluster. What if, instead of unselecting it as a default, we just deleted it.

[2020-10-07 02:40] tstromberg commented on #1234
Closing as this is due to speaking to a stopped cluster, but opened #9410 to make this less confusing for users.

[2020-10-07 02:40] #1234 closed

[2020-10-07 02:48] RA489 commented on #7695
We don't have any credits with Alibaba as of now, because nobody has requested them yet. But we can make it work by filing a formal request, estimate our expenses here : https://github.com/kubernetes/funding

[2020-10-07 07:20] fabiand commented on #8765
Yes, I'm still seeing this with v1.13.1:

[code]

[2020-10-07 08:18] vinu2003 commented on #9399
My understanding here: the --delete-on-failure when set, should delete the default minikube profile(in this case docker) if it doesn't match with the one provided in start command (in this case"hyperkit") - then it should delete the existing docker cluster and create default one with hyper kit as driver.

[2020-10-07 14:23] tomp61 commented on #8844
I ran into this issue, too, trying to start minikube after not having used it for more than a year, and @sharifelgamal's suggestion fixed things for me.  Thank you!

[2020-10-07 14:52] diazan791 commented on #9311
I fixed it by adding a certificate with these commands:

openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout tls-key.key -out tls-cert.crt

kubectl create secret tls tls-certificate --key tls-key.key --cert tls-cert.crt

[2020-10-07 14:54] diazan791 commented on #8837
I fixed it by adding a certificate with these commands:

openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout tls-key.key -out tls-cert.crt

kubectl create secret tls tls-certificate --key tls-key.key --cert tls-cert.crt

[2020-10-07 17:32] RA489 commented on #9403
/triage support

[2020-10-07 17:33] RA489 commented on #9402
/triage support

[2020-10-07 17:33] RA489 commented on #9403
/kind support

[2020-10-07 17:33] RA489 commented on #9402
/kind support

[2020-10-07 18:12] medyagh commented on #6831
@sharifelgamal lets re-run the tests with Docker Driver, since v1.14-beta0 we have dedicated network for docker, that I am curious to see if any less failure in conformance tetst

[2020-10-07 18:22] priyawadhwa commented on #9354
Hey @harryttd thanks for pointing this out! If you, or anyone else, would be interested in fixing this in the documentation, it would be much appreciated :)

[2020-10-07 18:25] medyagh commented on #8943
This is defiantely a bug ! and we need to fix this !
it appears that the kubeadm certificates are expired, I would accept any PR that fixes this problem

@RA489 mentioned that we could do kubeadm renew cert phase.

[2020-10-07 18:28] priyawadhwa commented on #9409
Yah @medyagh I think the disk space is just a warning at 90%. I think we can close this issue?

[2020-10-07 18:30] RA489 commented on #8943
`kubeadm alpha certs check-expiration [flags] `Checks expiration for the certificates in the local PKI managed by kubeadm and we can include it in `minikube status` then we can run `kubeadm alpha certs renew [flags]` automatically for user.

[2020-10-07 18:30] medyagh commented on #9183
@afbjorklund do we have a plan to pull that code ?

[2020-10-07 18:36] medyagh commented on #9031
@anencore94 do you still have this issue ?

do you mind sharing the logs for the crash that you see ?

[2020-10-07 18:39] medyagh commented on #9187
@maelfosso for security reasons we do not support remote access by default, however you can setup SSH port forwarding on your own !

does that answer your question ?

[2020-10-07 18:39] #9187 closed

[2020-10-07 18:40] medyagh commented on #9155
Thank you for sharing your experience! If you don't mind, could you please provide:

- The driver you are using. (docker, virtualbox, hyperv....)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[code]

This will help us isolate the problem further. Thank you!

/triage needs-information
/triage support

[2020-10-07 18:42] medyagh commented on #8371
Hi @TeAmP0is0N , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-10-07 18:42] #8371 closed

[2020-10-07 18:43] #9061 closed

[2020-10-07 18:49] medyagh commented on #6535
we still want to do this.

[2020-10-07 18:53] medyagh commented on #7731
@goku321 driver docs is not needed, only link to the addon docs

[2020-10-07 18:56] medyagh commented on #7879
@ashishsecdev
@JohnShahawy
@eox-dev
@aaomidi
@winhtaikaung

the WSL2 should work now with Docker driver, do you mind trying latest minikube version and docker driver?

ensure docker is running and
[code]

[2020-10-07 18:58] medyagh commented on #8359
we should add integration test so we never break this again !

[2020-10-07 20:46] prezha commented on #9410
not so crazy ;) `.kube/config` gets filled back in with the cluster data on subsequent minikube start - when it can actually be used again

[2020-10-07 20:46] prezha commented on #9410
/assign

[2020-10-07 21:03] tstromberg commented on #9410
Thank you @prezha !

[2020-10-07 21:05] medyagh commented on #9410
@tstromberg this could break the IDE users.  per this request, https://github.com/kubernetes/minikube/issues/9001

@prezha please make sure, this does NOT delete the context if the user has specified
"--keep-context-active=false"

[2020-10-07 21:08] prezha commented on #9410
@medyagh yes, the same logic still applies: if `keep-context-active` is set to true, it will not touch the context

[2020-10-07 22:25] hershkoy opened #9415 "Errors trying to run minikube with WSL2"
**Steps to reproduce the issue:**

Trying to minikube with WSL2, following this post:
https://kubernetes.io/blog/2020/05/21/wsl-docker-kubernetes-on-the-windows-desktop/#kind-counting-1-2-3

**What I also tried:**
1) sudo minikube start --driver=none
2) sudo minikube start --driver=docker

each of them got me a different error.

**Full output of failed command:**
<details>
ubuntu@DESKTOP-HED9HVG:~

[2020-10-07 22:27] medyagh commented on #9415
@hershkoy do you mind sharing these info

[code]

also
[code]

[2020-10-07 22:55] hershkoy opened #9416 "Minikube not working, and causing kubectl to hang"
I am new to kubernetes. I am trying to run it locally on my windows 10 using WSL2 (following [this tutorial][1] )

Everything was fine until I got to the section about minikube. After installing systemd, kubernetes seems to not working properly. Even `kubectl version` which worked previously stopped working, and same with KinD dashboard that is also not working.

currently this is my issue:

    u

[2020-10-07 23:06] hershkoy commented on #9415
Here you are:

<details>

ubuntu@DESKTOP-HED9HVG:~$ echo $DOCKER_HOST

ubuntu@DESKTOP-HED9HVG:~$ minikube delete
🔥  Deleting "minikube" in docker ...
🔥  Deleting container "minikube" ...
🔥  Removing /home/ubuntu/.minikube/machines/minikube ...
💀  Removed all traces of the "minikube" cluster.
ubuntu@DESKTOP-HED9HVG:~$ minikube start --alsologtostderr
I1008 01:57:25.730006   10858 out.go:191] Settin

[2020-10-08 03:37] tstromberg commented on #9335
@cpaika - I don't know enough about ingress & custom TLS certs to say, but I think you are on the right path. That's the file you'll need to edit to alter ingress behavior, anyways.

For an example of an addon that has advanced configuration options, see `cmd/minikube/cmd/config/configure.go`, for example, the support for the `metallb` addon. Spoiler alert, it isn't pretty, but it is straight-forw

[2020-10-08 05:40] RA489 commented on #9416
/kind support

[2020-10-08 07:40] joshmue commented on #8359
#9417 should fix the underlying bug. It does not contain an integration test, though.

[2020-10-08 08:10] ecourtial commented on #3974
To solve the issue I had to mix the solutions presenteed above:
- Install VB6.1
- Disable SecureBoot.

[2020-10-08 08:47] ecourtial commented on #4107
For me the issue was coming from a bad update of VirtualBox on Ubuntu. The driver was too old despite the VB update.
I had to remove virtual box and virtualbox-dkms and reinstall virtual box.

[2020-10-08 08:47] anencore94 commented on #9031
@medyagh Sry.. I just changed my os to Ubuntu 20.04 now.
When I have some chance to work on Ubuntu 16.04, I'll test again and share log here.
Thanks.

[2020-10-08 11:36] slaskawi commented on #3129
This issue still happens on Minikube `v1.12.3`. Perhaps we could this ticket?

[2020-10-08 13:46] sgermanserrano opened #9418 "add support for kvm on arm64"
Hi, I'm trying to run minikube v 1.13.1 on arm64 hardware and getting the following errors:

**Steps to reproduce the issue:**

1. minikube start
[code]
It looks like it is failing to download `k8s.gcr.io/etcd-arm64:3.4.13-0` and `gcr.io/k8s-minikube/storage-provisioner-arm64:v3` images.

It looks like this is the same problem as #9060

I'm also getting the following in the error log:
[code]
Is th

[2020-10-08 13:58] cpaika commented on #9335
@tstromberg Awesome, thanks for the pointers!  I'll get started on this.  If I have any future questions, what's the best place to ask in this thread or in slack?

[2020-10-08 15:59] vincentjocodes commented on #9372
@priyawadhwa Oh I see, so it's all to do with clusters? We expected to delete the profile since if the profile has a cluster it will delete the profile as well, is that correct?

[2020-10-08 16:32] priyawadhwa commented on #9372
So my understanding is that `--delete-on-failure` will delete the cluster if `minikube start` fails, but only if the cluster is brand new. @sharifelgamal can you confirm?

[2020-10-08 16:33] priyawadhwa commented on #9372
@vincentjocodes if you just want to delete the profile, then `minikube delete -p <profile name>` should work even if docker isn't running.

[2020-10-08 16:44] eox-dev commented on #7879
Well, I gave it a shot on Windows instances. One a fresh Boot Camp partition and the other a fresh VMware Fusion Windows 10 VM. In both cases, I get the same kind of error, which is probably not related to `minikube`, but 'skaffold' or 'docker`. I haven't received it before.

This is with using `skaffold` to spin up the cluster:
[code]
I did noticed that `minikube ip` still comes up with `127.0.01

[2020-10-08 17:29] tstromberg commented on #9409
As seen on Cloud Run:

[code]

[2020-10-08 17:55] medyagh commented on #9409
there is a possibility that the disk space which is at warnning level, becomes 100% full and take down docker.

[2020-10-08 18:43] tstromberg commented on #9409
@medyagh - perhaps, but the relationship between disk space and networking isn't obvious to me. The log I just posted had no disk space warnings (it'd be nice if we logged the amount if it was under 90%) .

[2020-10-08 19:17] priyawadhwa commented on #9409
@tstromberg I know that we output a warning if it's >80%, so we can assume that it was at least <80%

[2020-10-08 20:08] medyagh commented on #9409
just for logsI just tried creating 20 clusters on a vm with 20 GB disk, interestingly all minikube commands fail to respond (inlucding delete --all) when the disk is 100% full

[code]

I agree this bug does NOT seem to be related to disk space.

[2020-10-08 20:12] #9410 closed

[2020-10-08 20:24] #9354 closed

[2020-10-08 20:33] medyagh opened #9420 "automate pushing kicbase image from snapshot to stable after release"
before release each time we build the kic base image we add the snashotX to it
for example
https://github.com/medyagh/minikube/blob/32922f4184c31fb405fb8dab7a1d7a8ef120b47a/pkg/drivers/kic/types.go#L27
	Version = "v0.0.13-snapshot1"

this is good for when multiple people make corrections before a release, and once it is finalized, before the release we do this
[code]

and change the types.go in ki

[2020-10-08 21:13] medyagh opened #9422 "add_local test failing in virtualbox macos on github action"
[code]

[2020-10-08 21:39] medyagh opened #9424 "github actions: get rid of depricating set-env commands"
https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands

[2020-10-08 22:39] medyagh opened #9427 "combine TestPause into one to avoid timeout on Gh Action"
on github actions "pause_preload_dockerflags_docker_ubuntu"
I see only 2 passes and the rest times out as seen here https://github.com/kubernetes/minikube/pull/9425/checks?check_run_id=1228465306

[code]

we added a new test TestPauseStatus that spins up a new cluster, and that times out the github action test more than 15 minutes.

https://github.com/medyagh/minikube/blob/4216496bec8ab890577ba3ff

[2020-10-09 04:36] pak11273 commented on #1310
setting `MINIKUBE_HOME to D:/`  didn't work for me

[2020-10-09 05:01] mailbagrahul opened #9428 "minikube cluster not firing up. Please advice."
It was working fine before updating docker desktop & minikube. I tried with new virtual machines but still I'm not able for fire up. Then I tried with hyperv and error log is pasted above. Is this because of version compatibility? I tried all the possible recommendations. I'm waiting for some changes to be moved as soon as possible. Please advice.

λ  minikube start --driver=docker
* minikube v1.1

[2020-10-09 07:13] parekhha opened #9429 "Kube-controller in crashloopbackoff when minikube ran with none driver"
**Steps to reproduce the issue:**
sudo -E minikube start --vm-driver=none --kubernetes-version=v1.17.3

**Full output of failed command:**
Logs for kube-controller
W1009 07:09:37.225907       1 controllermanager.go:612] fetch api resource lists failed, use legacy client builder: Get https://control-plane.minikube.internal:8443/api/v1?timeout=32s: Forbidden
F1009 07:09:47.233764       1 controllerm

[2020-10-09 08:19] hershkoy commented on #9415
I fixed my issue using this:
https://github.com/kubernetes/kubernetes/issues/29794

[2020-10-09 08:19] #9415 closed

[2020-10-09 08:19] hershkoy commented on #9416
I fixed my issue using this:
https://github.com/kubernetes/kubernetes/issues/29794

[2020-10-09 08:19] #9416 closed

[2020-10-09 10:11] peterfication commented on #8530
I think I had a similar issue. I came across https://github.com/kubernetes/minikube/issues/9227 and saw that the base image was with a different repository tag there. So I tagged my locally present kicbase image in different ways and adjusted the `minikube start` command with `local` and it finally worked.

[code]

Maybe it helps.

[2020-10-09 12:32] pordaniel01 commented on #7300
Stopping the service in hyper-v manager solved the problem for me.

[2020-10-09 13:08] salrashid123 opened #9430 "Minikube unable to find apiserver.authentication-token-webhook-config-file"
Minikube api server doesn't find a mounted config file for external authentication and authorization server.

I'm trying to update a [sample](https://github.com/salrashid123/k8s_webhook_helloworld) about external webhook au/az but even if i mount files into the minikube, the api server canfind those files.

I can update the files but to repro,  use [authn.yaml](https://gist.github.com/salrashid123

[2020-10-09 15:25] gtirloni commented on #7923
Experiencing a similar issue with Fedora 33 Beta (btrfs root), Docker 19.3.13, and minikube 1.13.1 / 1.14.0-beta.0.

The error:

[code]

My outer Docker daemon is using overlay2:

[code]

Inside the `minikube` container I see:

[code]

And outside:

[code]

[2020-10-09 15:27] prezha commented on #9420
/assign

[2020-10-09 17:00] tstromberg opened #9431 "Docker deployment failures should be retriable"
minikube is supposed to retry container/VM deployments, like #9409 - but apparently it does not do so.

[2020-10-09 19:33] tstromberg commented on #9409
The root cause is unknown, but this error is brought on because the following line emitted no output, though still an exit code of 0:

`docker network inspect --format "{{(index .IPAM.Config 0).Gateway}}" 7096f62f7bf8`

[2020-10-09 22:39] jnm commented on #9022
Hello, I've been struggling a bit getting ingress-dns running on Ubuntu 20.04 and was happy to find this issue. I will note, however, that
[code]
does not work properly, because systemd-resolve sends EDNS to ingress-dns' node-dns server, which [returns an invalid response](https://github.com/song940/node-dns/issues/8#issuecomment-599493293).

Good news: there is an [open merge request on ingress-d

[2020-10-10 10:20] afbjorklund commented on #9418
We don't have a kvm2 driver for arm64 yet, mostly because we don't have an ISO for arm64...

Initially the only driver was "none", around the corner is "docker" and _eventually_ maybe "kvm2"

* #5667
* #9227
* #9228

I think the "-arm64" in etcd is a bug (?) and the storage-provisioner should be fixed by #9334

[code]
(no "etc-armd64", just manifest)

[2020-10-10 10:59] afbjorklund commented on #9418
[code]

So I guess that they just stopped providing the "compatibility" image tags ?

Now the individual architectures are _only_ known by their digests in the manifest:

[code]

So we should **stop** adding the architecture, at least for later Kubernetes versions:
[code]

Unfortunately it is hardcoding "amd64"
[code]

[2020-10-10 11:01] afbjorklund commented on #9418
This is related to not running _any_ tests on other architetures, like `arm64`: #9205

[2020-10-10 11:49] afbjorklund commented on #9060
Fixed in PR #9334

[2020-10-10 11:49] #9060 closed

[2020-10-10 12:35] harskum opened #9434 "vmware: StartHost fails : Machine didn't return an IP after 120 seconds, aborting"
This is my first time using minikube, so forgive me if this issue is trivial. I tried searching for a solution, but couldn't find anything helpful. I tried doing `minikube delete` before running `minikube start`, but I am hitting the same issue. I have given all permissions to VMWare Fusion in system preferences, and also, VMWare Fusion is running when I am trying to run `minikube start`. I tried

[2020-10-10 13:16] afbjorklund commented on #9253
Fixed in PR #9334

[2020-10-10 13:16] #9253 closed

[2020-10-10 14:53] afbjorklund commented on #8767
Included in PR #9330

[2020-10-10 14:53] #8767 closed

[2020-10-10 17:31] thanhvoquang commented on #7332
Thank you, I've already fixed this issue by your instruction

[2020-10-10 18:34] wangzhentaodehao opened #9436 "conntrack not found in system path"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2020-10-10 20:08] plantusd commented on #2918
I don't even have minikube installed on my system, but it indeed creates hundreds files per minute, anyone has come across this issue?

[2020-10-11 03:43] darkn3rd commented on #9022
@priyawadhwa I wish I could document this, but documentation around **`systemd-resolved`**, **`resolvconf`**, and whatever sets up **`dnsmasq`** (libvirt?) outside of systemd is not well documented.  I wouldn't even know where to begin to find out further information.  And if there is reference oriented material, this isoften difficult to parse or discern for most people.

[2020-10-11 03:54] mythreyi1905 commented on #8131
This works !!! I had docker swarm initialized and even when I disabled it followed by deleting of .docker/config.json file, I kept encountering the same error. Upgrading minikube works. Thanks @RoSk0

[2020-10-11 03:56] darkn3rd commented on #9022
@woodcockjosh  @jnm For the GitLab MR:
* there seems to be more documentation in the MR comment than what will be merged.
* this was tested with virtualbox.  The issue I discovered was using kvm (libvirt was installed).

[2020-10-11 03:57] mythreyi1905 commented on #8603
This step solved the problem of 2 IPs, but I ended up facing another issue #8131 . Thankfully upgrading the version of my minikube helped.

[2020-10-11 04:00] tanmayi2010 opened #9437 "While downloading installing minikube getting below error"
❌  Exiting due to HOST_VTX_UNAVAILABLE: Failed to start host: creating host: create: creating: Unable to start the VM: /usr/bin/VBoxManage startvm minikube --type headless failed:
VBoxManage: error: VT-x is not available (VERR_VMX_NO_VMX)
VBoxManage: error: Details: code NS_ERROR_FAILURE (0x80004005), component ConsoleWrap, interface IConsole

Details: 00:00:00.258579 Power up failed (vrc=VERR_VMX

[2020-10-11 04:19] woodcockjosh commented on #9022
I don't really run linux so I wouldn't be able to document very well either.

[2020-10-11 07:36] afbjorklund commented on #9183
I didn't see any PR, but it should be straightforward to fix ? Apparently there is another place, in "hyperv.go":

[code]

[2020-10-11 08:06] afbjorklund commented on #8370
Kubeadm has a hardcoded list of paths to search for the kernel configuration file:
https://github.com/kubernetes/system-validators/blob/master/validators/kernel_validator.go#L180

There are two possible locations where it _could_ have found it, but neither is mapped into KIC:

`linux-modules-5.4.0-48-generic: /boot/config-5.4.0-48-generic`

`linux-headers-5.4.0-48-generic: /usr/src/linux-headers-5

[2020-10-11 09:35] scq355 opened #9438 "mknikube start failed"
StartHost: Error getting state for host: exit status 126
Unable to start VM: Error getting state for host: exit status 126
Sorry that minikube crashed.

[2020-10-11 21:15] dominikbraun commented on #8040
So there's a ToDo saying that `deletePossibleKicLeftOver` (and probably the functions below it) should be moved into a `delete` package:

https://github.com/kubernetes/minikube/blob/567d2f2f651368a2594af1f12dea1448872b0178/cmd/minikube/cmd/delete.go#L226-L227

* Which particular functions should be moved? `deletePossibleKicLeftOver` and everything below?
* Should the new package be something like

[2020-10-11 23:21] prezha commented on #9420
@medyagh i've created pr (#9439) to automate pushing kicbase image, please have a look

a few notes (details are in code comments):
- there are some env vars required for passing credentials
- "GitHub Packages Docker registry will be superseded by GitHub Container Registry." ([ref](https://docs.github.com/en/free-pro-team@latest/packages/using-github-packages-with-your-projects-ecosystem/configuri

[2020-10-12 06:41] alban commented on #8556
/remove-lifecycle stale

[2020-10-12 09:24] jyozq opened #9440 "minikube启动ingress失败"
`minikube start --image-mirror-country=cn --vm-driver=docker --base-image=kicbase/stable:v0.0.12-snapshot3 --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers --registry-mirror=https://ytsch4ca.mirror.aliyuncs.com --insecure-registry=192.168.43.128:1180`
使用以上命令启动minikube之后，无法启动ingress

**重现问题所需的命令**：minikube addons enable ingress

**失败的命令的完整输出**：<details>
I1012 16:10:40.904427

[2020-10-12 12:08] Ganesh0509 opened #9441 "x509: certificate is valid for 192.168.99.100, 10.96.0.1, 127.0.0.1, 10.0.0.1, not 192.168.99.101"
**Steps to reproduce the issue:**

1.Install latest version of minikube for windows using windows installer  from https://minikube.sigs.k8s.io/docs/start/
2. minikube start
3.After few minutes below exception will come

**Full output of failed command:**

C:\Users\Ganesh>minikube start
* minikube v1.13.1 on Microsoft Windows 10 Home Single Language 10.0.19041 Build 19041
* Kubernetes 1.19.2 is now

[2020-10-12 13:31] abdelhajji opened #9442 "minikube start"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-10-12 14:29] govargo opened #9443 "Bump helm-tiller addon v2.16.12"
/area addons

Minikube v1.14.0-beta.0 has helm-tiller:v2.16.8 addon.
There is a latest new version of helm2, 2.16.12.

New version has security improvement and fixed issues.
Detail: https://github.com/helm/helm/releases/tag/v2.16.12

I'll send PR to upgrade to this version.

[2020-10-12 14:30] govargo commented on #9443
/assign

[2020-10-12 18:13] medyagh opened #9447 "push new buildroot ISO"
After mergin the buildro2020 , we push it head.

[2020-10-12 18:15] medyagh opened #9448 "implements kernel config improvements from PR 9394"
redo this PR but for the new buildroot2020
https://github.com/kubernetes/minikube/pull/9394/files

[2020-10-12 18:26] medyagh commented on #8348
we need to figure out the mac os user's best default by finding out Docker's implemenation of their VM.
if their VM is using cgroup or systemd.

and for github actions minikube should autodetect it is using github actions ( there is an environment varialble)

[2020-10-12 18:27] medyagh commented on #8348
@afbjorklund susggests enabling kuberentes on docker on dekstop and see what why are using.

[2020-10-12 18:33] medyagh commented on #9091
I like that idea ! I would accept the PR that does this.
we would need to read the exec.Command's stream.

[2020-10-12 18:34] medyagh commented on #9240
we fixed it

[2020-10-12 18:34] #9240 closed

[2020-10-12 18:37] medyagh commented on #8961
I haven't seen it recently maybe it is gone magicly

[2020-10-12 18:37] medyagh commented on #9244
we did it !!!

[2020-10-12 18:37] #9244 closed

[2020-10-12 18:40] medyagh commented on #8339
we need to rename the current image to -amd64 and then cross-compile.

[2020-10-12 18:42] medyagh opened #9449 "build and push the new storage provisioner image with cross compiling"
we merged the storage provsioner for v1.14.0

[2020-10-12 18:46] medyagh commented on #9274
we skiped this

[2020-10-12 18:46] #9274 closed

[2020-10-12 18:52] #8933 closed

[2020-10-12 18:52] #8801 closed

[2020-10-12 18:54] medyagh opened #9450 "automate kicbase image push"

[2020-10-12 18:55] medyagh commented on #9450
https://github.com/kubernetes/minikube/issues/9450

[2020-10-12 18:55] #9450 closed

[2020-10-12 19:21] sharifelgamal commented on #6831
[multinode_conformance.txt](https://github.com/kubernetes/minikube/files/5367101/multinode_conformance.txt)

[2020-10-12 19:23] medyagh commented on #6831
I am curious what happens if we enable a cni and then run the test. on linux

[2020-10-12 19:23] sharifelgamal commented on #6831
CNI is automatically enabled.

[2020-10-12 20:32] medyagh commented on #9442
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[code]

This wi

[2020-10-12 20:33] medyagh commented on #9436
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[code]

This wi

[2020-10-12 20:33] #7904 closed

[2020-10-12 20:52] sharifelgamal commented on #9381
Yeah the vmwarefusion driver is no longer supported at all, I'd suggest trying the vmware driver instead.

[2020-10-12 21:23] sharifelgamal commented on #9438
Hey @scq355, I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Than

[2020-10-12 21:34] sharifelgamal commented on #9437
Hey @tanmayi2010, I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The OS you're running minikube on

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

Thank you for sharing your experience!

[2020-10-12 21:42] medyagh opened #9451 "Release: Jenkins does not update the release notes on github"
for past two releases
https://github.com/kubernetes/minikube/releases/tag/v1.14.0
and
https://github.com/kubernetes/minikube/releases/tag/v1.14.0-beta.0

we have been updating the release notes manually.

I ran the command in the script manually and it seems that it is not matching
[hack/jenkins/release_github_page.sh](https://github.com/medyagh/minikube/blob/b09ee50ec047410326a85435f4d99026f9c4f5

[2020-10-12 21:44] darkn3rd opened #9452 "minikube + kvm2 vs apparmor"
When I start up a cluster, it exits with error code, and numerous there are `apparmor="DENIED"` in `dmesg`.

**Steps to reproduce the issue:**

1. Install Ubuntu 20.04.1
2. Install requirements with Libvirt
3. Install MiniKube
4. Create 3 node k8s cluster using kvm2

**Full output of failed command:**

[code]

**Full output of `minikube start` command used, if not already included:**

[code]

**Op

[2020-10-12 23:02] kadern0 commented on #3129
I'm having some issues with storage-provisioner on:
[code]

[2020-10-12 23:30] darkn3rd opened #9453 "kvm2 driver vs. docker-machine"
The machine driver `kvm2` with the default options to `docker-machine` no longer work.  There's no documentation around how minikube interacts with docker-machine to get the correction options.  Currently, there is no working driver at this moment that will support KVM with docker-machine, so I hope there can be consideration to support this, as there is no solution path.

**Steps to reproduce the

[2020-10-12 23:34] darkn3rd commented on #5831
Consider supporting this as there are not other solutions in the community.  The repository, https://github.com/dhiltgen/docker-machine-kvm is no longer releasing versions and no longer works.

/remove-lifecycle rotten
/reopen

[2020-10-12 23:41] loopingz commented on #2918
I have similar issue and I think it is related to vscode cloud-code extension `.cache/cloud-code/installer/google-cloud-sdk/bin/minikube`

[2020-10-13 00:15] darkn3rd opened #9455 "error message kubectl info: exec: exit status 1"
**Steps to reproduce the issue:**

1. On Ubuntu 20.04.1, stop AppArmor
    `sudo systemctl stop apparmor && sudo systemctl disable apparmor`
1. minikube start
    `E1012 17:04:57.003973  100058 start.go:240] kubectl info: exec: exit status 1`
1. kubectl get pods
    `F1012 17:05:28.971138  100368 get.go:158] Get http://localhost:8080/api/v1beta1/pods?namespace=default: dial tcp 127.0.0.1:8080: con

[2020-10-13 00:42] medyagh commented on #9455
@darkn3rd

depsite the error message, your cluster seems to be healthy

[code]
that is an odd error message, do you mind checking if you have installed "kubectl"

and you mind sharing "minikube status" output ?

and also the output of this command ?

[code]

/triage needs-information
/kind support

[2020-10-13 00:43] medyagh commented on #9455
also not sure if you implied, do you NOT get an error without the appromor disalble?
[code]

[2020-10-13 00:46] medyagh commented on #9453
thank you for creaitng an issue @darkn3rd I am not clear what you are trying to do,
are you trying to install KVM2 ? or are you trying to install docker using KVM2 as a backend?

if you are trying to install kvm2 so you can use minikube's kvm2 driver here, does the installation docs here help ? https://minikube.sigs.k8s.io/docs/drivers/kvm2/#installing-prerequisites

you dont need to do docker-mac

[2020-10-13 00:46] medyagh commented on #9453
/triage needs-information
/kind support

[2020-10-13 00:47] medyagh commented on #9452
is this same issue as https://github.com/kubernetes/minikube/issues/9455 ? if you dont mind lets try to concentrate on one issue for better debugging experience

[2020-10-13 00:49] medyagh commented on #9441
@Ganesh0509 starting  v1.14.0 we introduced Static IP with docker driver do you mind trying latest version of minikube and docker driver to see if that fixes that issue ?
(delete previous clsuter and start with new driver)

[2020-10-13 00:49] medyagh commented on #9441
/triage needs-information
/kind support

[2020-10-13 00:58] obaidomer commented on #9381
Please share the link/steps to do so on Mac.

[2020-10-13 01:17] medyagh opened #9456 "FailedTest: TestMultiNode/serial/RestartMultiNode kubelet not running after restart"
as seen on virtualbox on macos  GH action https://github.com/kubernetes/minikube/pull/9454/checks?check_run_id=1245044220

also as seen in KVM https://storage.googleapis.com/minikube-builds/logs/9432/315169e/KVM_Linux.html

[code]

full logs
<details>
<pre>

=== RUN   TestMultiNode/serial/RestartMultiNode
multinode_test.go:226: (dbg) Run:  ./minikube-darwin-amd64 start -p multinode-20201013004012-

[2020-10-13 01:28] medyagh commented on #9456
I verifed manually that right after a starting a stopped multinode, the kublet is stopped

[code]

on docker driver on mac os

[2020-10-13 01:49] medyagh commented on #9456
here is journalctl logs for kubelet
[code]

[2020-10-13 02:32] medyagh opened #9457 "stauts: avoid logging error "kubeconfig endpoint" when cluster is "starting" ..."
while my cluster was Starting... I go this error
minikube should not error while it is in starting tage
[code]

[2020-10-13 02:49] medyagh commented on #9457
quite interestingly
I tried staut 20 times and ewach rtime I get a diff

[code]

[2020-10-13 03:01] medyagh opened #9458 "force-systemd flag does not configure kublet for correct cgroup manager"
while trying to debug this issue, I tried to pass --force-systemd to see if that would fix the kublet being flaky.

https://github.com/kubernetes/minikube/issues/9457#issuecomment-707450929
then I realized kublet was talking about being evitcted
[code]

interestingly I saw that kubelet does have a flag for cgroups which is not in the systemd file
[code]

here is the help text for kubelet.
[code]

[2020-10-13 03:01] medyagh commented on #9458
cc:
@priyawadhwa

[2020-10-13 04:43] Ganesh0509 commented on #9441
@medyagh  , I am using minikube version: v1.13.1
Yesterday I fallowed the below steps and it works

**minikube delete
rm -rf ~/.minikube/**

I am using above version from past few months am not sure why all of sudden minikube start started failing with above version Yesterday

[2020-10-13 04:43] #9441 closed

[2020-10-13 07:45] darkn3rd commented on #9453
I just wanted to use docker essentially, but not on the host, in a virtual machine.

* would like to run docker-compose to automate docker that doesn't use host's docker daemon.
* run tests, docs, tutorials for those using docker-compose across win/lin/mac w/ consistent version of docker-compose used across all platforms.
* would like to use docker-compose on system that has libvirt/kvm for faster

[2020-10-13 07:57] darkn3rd commented on #9455
@medyagh When I run dmesg -w and run minikube start, I see apparmor deny messages for libvirt components.  For this reason, I disabled it and restarted to rule out any issues with apparmor as a precaution.

Also for the requested command:
[code]

[2020-10-13 08:02] darkn3rd commented on #9455
I had some weird bizarre version of `kubectl`, and have no idea how I got this one:

[code]

So I replaced it:

[code]

[code]

And now it seems I am no longer getting this error.  I guess we can close this issue.

[2020-10-13 08:02] #9455 closed

[2020-10-13 08:09] darkn3rd commented on #9452
Minikube seems to work fine (fixed the other issue with kubectl bad version).  But DENIED messages with virt-aa-helper are of a concern.  What does this mean exactly, will it block any functionality of minikube?  How could I find the input given to libvirt from kvm2 to get that message?

[code]

I found these online that might be related:
* https://bugs.launchpad.net/ubuntu/+source/libvirt/+bug/15

[2020-10-13 09:30] afbjorklund commented on #9453
We had some of this discussion of this in https://github.com/dhiltgen/docker-machine-kvm/issues/77 already, but I will take it here too.

Basically minikube has forked the "kvm" driver, so the kvm2 is now **only** used for minikube and doesn't work with docker-machine.
The libmachine library is also forked, but part of is still using the same code - i.e. the changes to the project code are smaller

[2020-10-13 09:33] storozhilov commented on #9322
Hi to all,
thank you so much for your participation!

We were facing the same behavior as it's mentioned in #8841. This was due to some ingress-related images pulling sometimes takes too much time. Ingress addon would start in the end but `minikube addons enable ingress` command is to fail after 3 min timeout.

Perhaps it makes sense to revert b27440d and to re-open #8841 where a sort of a timeout

[2020-10-13 09:47] afbjorklund commented on #9453
`minikube docker-env`

[2020-10-13 15:57] fsladkey opened #9460 "disable gcp-auth: unable to create new content in namespace gcp-auth because it is being terminated"
**Steps to reproduce the issue:**

I'm not sure which of these steps are required to reproduce the issue, it doesn't always happen, but generally what I'm doing is

1. Start Minikube
2. Enable gcp-auth addon
3. Deploy to Minikube using Skaffold
4. Pause Minikube
5. Log out of gcloud / revoke ADC
6. Unpause Minikube
7. Attemp to disable gcp-auth addon (fails on this step)

**Full output of failed c

[2020-10-13 16:58] #9447 closed

[2020-10-13 17:00] medyagh commented on #9460
@fsladkey thank you very much for taking the time to file this bug, that does seem to be a bug !
i am curious is this with minikube v1.14.0 ? or v.1.13.2 ?

[2020-10-13 17:06] sharifelgamal commented on #9460
So the first log looks like a race condition, where you're trying to enable the addon while also simultaneously disabling it:

`Error from server (Forbidden): error when creating "/etc/kubernetes/addons/gcp-auth-service.yaml": services "gcp-auth" is forbidden: unable to create new content in namespace gcp-auth because it is being terminated`

And the second set of logs looks like you're trying to

[2020-10-13 17:14] fsladkey commented on #9460
@medyagh No problem! Sorry forgot to mention the version, it's `v1.14.0`.

@sharifelgamal thanks that's helpful! I believe I'm always waiting for the previous command to finish before running the next but I will double check.

[2020-10-13 18:00] medyagh commented on #9456
there is no kubelet config on the worker node !
[code]

[2020-10-13 19:07] medyagh commented on #9458
aaah the problem seems to be the multi node does not generate the kubeconfig for the Worker nodes...

[2020-10-13 19:17] medyagh opened #9461 "investigate kubelet system log errors on single node"
on a healthy docker driver on mac I get this:

[code]

here is the same logs for when using --force-systemd

[code]

[2020-10-13 19:19] medyagh commented on #9458
created a different issue to track the kubelet errors https://github.com/kubernetes/minikube/issues/9461

[2020-10-13 19:54] #9323 closed

[2020-10-13 21:26] sharifelgamal opened #9463 "Allow minikube to run in a non-default docker host"
[code]

This is will create a docker host inside of vbox VM, which currently causes minikube to fail, if there is no docker daemon running directly on a user's machine.

[2020-10-13 21:58] iambumblehead commented on #8997
I'm also having this issue (in Southern California) using minikube v1.13.1 and v.14.0. I could share the longer version `--alsologtostderr` as well, if that's useful
[code]

[2020-10-13 23:30] medyagh commented on #9463
in the design there should be mindful of minikube docker-env

[code]

- if MINIKUBE_ACTIVE_DOCKERD is set, it indicates that use is in a shell with active docker-env
- we should add new ENVs that captures the existing user's own DOCKER_HOST related vars if not default.
it should be recoreded in given to docker-env command

something like this
[code]

[2020-10-14 00:59] prezha commented on #4392
@tstromberg now that pr #9384 (related to this issue) is approved, i would propose to reuse the same approach also for issues eg, #9264 [`update go version to be 1.15 in go mod`], #9420 [`automate pushing kicbase image from snapshot to stable after release`] (and potentially others) that have similar requirements (ie, fully/semi-automated patching of specific files + additional actions)

the idea