[2021-12-22 19:47] spowelljr commented on #12912
That's odd that you have to re-run that command every time you reconnect to your AWS instance. Are you always logging in as the same user?

This doesn't seem to be a minikube error itself, this is the result of your user not being in the `docker` group and therefore not being able to run `docker` commands without `sudo`.

[2021-12-22 19:48] sharifelgamal commented on #10136
I believe @afbjorklund has write access to machine-drivers/machine, hopefully he can merge your PR there and we can update the reference in our code here.

[2021-12-22 19:50] sharifelgamal commented on #12284
Our pause tests are by far our flakiest ones, we should make it a priority to fix them soon.

[2021-12-22 19:54] spowelljr commented on #12882
Hi @SatishChandraPalakoti, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-12-22 19:54] #12882 closed

[2021-12-22 19:54] klaases commented on #12004
Note: we may need to double check how we are getting the correct version of `gotestsum` for AMD on ARM64.

[2021-12-22 19:55] sharifelgamal commented on #12776
This feels possible but I haven't looked into it in enough detail to know for sure and don't really have the bandwidth currently to explore this more. I'd happily review a PR or help with questions.

[2021-12-22 19:56] spowelljr commented on #12879
This issue has been open for a while without any further questions so I'm going to close this issue. Feel free to reopen and ask further questions if needed, thanks!

[2021-12-22 19:56] #12879 closed

[2021-12-22 19:57] sharifelgamal commented on #12899
`minikube tunnel` is supposed to hang like that in your terminal. As long as the tunnel process is active, that terminal will look like it's hanging. You can use that access in another terminal.

[2021-12-22 19:57] klaases commented on #12121
/remove-lifecycle stale

[2021-12-22 19:59] mattjs commented on #12899
According to the documentation it should say something like this

[code]

[2021-12-22 20:00] klaases commented on #11440
/remove-lifecycle rotten

[2021-12-22 20:03] klaases commented on #11440
Hi @Gilwe, are you still experiencing this issue?

[2021-12-22 20:04] klaases commented on #11275
Hi @awreece, were you able to try @jroes's workaround?

[2021-12-22 20:05] klaases commented on #10618
/remove-lifecycle rotten

[2021-12-22 20:09] klaases commented on #10618
Hi @rgordill, were you able to apply the suggestion provided by @afbjorklund?

[2021-12-22 20:14] klaases commented on #9799
Hi @FabriceSalvaire – were you able to apply @medyagh's suggestion and review a more recent version of minikube?

Will close this issue for now, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest mini

[2021-12-22 20:15] #9799 closed

[2021-12-22 20:16] spowelljr commented on #12876
Hi @exocode, thanks for creating your issue with minikube!

Is it the `nslookup` and `ping` commands that aren't working for you?

I see you're using the Docker driver and I know with networking Docker differs in many ways. Have you tried using the `hyperkit` driver? I've been able to get `nslookup` and `ping` using it.

[2021-12-22 20:17] klaases commented on #8512
Hi @PWaksman, glad to hear that this was able to run!

Closing out for now, please feel free to re-open the issue by commenting with `/reopen` if needed.

Thank you for sharing your experience with the minikube community!

[2021-12-22 20:20] kgibm commented on #12658
@klaases

Yes. Is this a bug? Should the `publish` variable be evaluated differently based on the host operating system?

Also, I see the same error, "Unable to get host IP: RoutableHostIPFromInside is currently only implemented for linux" although it doesn't seem to be fatal.

Steps:

[code]

[2021-12-22 20:25] kgibm commented on #12658
Also, stopping resulted in errors:

[code]

[2021-12-22 20:25] sharifelgamal commented on #12899
Aha! This is an issue specifically with the docker driver, and it's only an output issue. If you use a VM driver (like hyperkit for macOS), you'll get the expected output in the documentation.

This stems from the fact that we need to do two discrete things to tunnel for a container runtime (since it needs to route to 127.0.0.1) and for a VM driver.

We can potentially look into fixing this so tha

[2021-12-22 20:57] awreece commented on #11275
I'm not working in the environment that that requires these two addons anymore, unfortunately.

[2021-12-22 21:05] Gilwe commented on #11440
yes, the docs are still not up-to-date

[2021-12-22 21:12] skol101 commented on #6912
/reopen

[2021-12-22 21:13] afbjorklund commented on #12103
Gave up on binaries (tarballs and packages), building from source.

* #13191
* #13227

Currently identifies itself as "0.2.0-dev" (https://github.com/Mirantis/cri-dockerd/commit/542e27dee12db61d6e96d2a83a20359474a5efa2)

[2021-12-22 21:18] skol101 opened #13228 "Support for Nvidia RTX 30X0: nvidia-driver-installer addon fails to start (driver fails to install in the container)"
### What Happened?

minikube start --driver kvm2 --kvm-gpu
minikube addons enable nvidia-gpu-device-plugin
minikube addons enable nvidia-driver-installer

When looking inside nvidia-driver-installer pod I can observe that it tries to install NVIDIA GPU driver 390.67 , which obviously doesn't support RTX 3090 (or any 30X0 Nvidia GPU).

Please, provide instructions on how to update existing addon or

[2021-12-22 21:22] sharifelgamal commented on #6912
We don't currently have the bandwidth to properly maintain the nvidia addon, but would be happy to accept PRs to fix it.

Reopening for visibility.

[2021-12-22 21:24] #8512 closed

[2021-12-22 21:47] skol101 commented on #6912
How can I submit a PR if the source Docker is located in a different repo?

https://github.com/GoogleCloudPlatform/container-engine-accelerators/tree/master/nvidia-driver-installer/minikube

[2021-12-22 21:59] medyagh commented on #11327
I would like to see more feature parity between our ISO and KIC image so I would +1 for installing containerd using binary as opposed to deb package

[2021-12-23 00:45] #13122 closed

[2021-12-23 02:24] medyagh opened #13233 "Progress bar in Github Action polutes the output"
### What Happened?

when running minikube in github action I noticed in Ubuntu it polutes the output which is not pretty
but in github action on macOS it is doing the right thing

example can be found here

https://github.com/medyagh/test-minikube-example/runs/4613732249?check_suite_focus=true

### Attach the log file

on linux

[code]

but on macos it is pretty

[code]

### Operating System

_No

[2021-12-23 02:24] medyagh commented on #13233
this could be a good first issue, I belive we already have check in the pb (progress bar) library to not do porgress bar UI when it is not a standout terminal

[2021-12-23 05:40] skol101 commented on #13228
This fix is to set NVIDIA_DRIVER_VERSION in the env variables for the container as suggested here https://github.com/GoogleCloudPlatform/container-engine-accelerators/issues/204, but how do I do that if minikube comes precompiled ?

[2021-12-23 09:13] skol101 commented on #6912
I got it, the issue is that RTX30X0 aren't supported in vGPU mode https://docs.nvidia.com/grid/latest/grid-vgpu-release-notes-generic-linux-kvm/index.html#updates-release-update-1

Bloody nvidia.

[2021-12-23 09:17] exocode commented on #12876
@spowelljr you are right with Hyperkit I got it working. 🤔

[2021-12-23 11:16] skol101 commented on #13228
KVM2 doesn't support RTX 30X0/20X0 drivers because nvidia. Had to usedriver none and nvidia k8s plugin to make it work.

[2021-12-23 11:16] #13228 closed

[2021-12-23 13:49] d3vpasha commented on #2735
You documentation isn't available anymore ?

[2021-12-23 20:31] #11165 closed

[2021-12-24 02:17] minikube-bot opened #13237 "Frequent test failures of `TestFunctional/parallel/ImageCommands/ImageListJson`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/parallel/ImageCommands/ImageListJson)|100.00|

[2021-12-24 02:17] minikube-bot opened #13238 "Frequent test failures of `TestFunctional/parallel/ImageCommands/ImageListShort`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/parallel/ImageCommands/ImageListShort)|100.00|

[2021-12-24 02:17] minikube-bot opened #13239 "Frequent test failures of `TestFunctional/parallel/ImageCommands/ImageListTable`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/parallel/ImageCommands/ImageListTable)|100.00|

[2021-12-24 02:17] minikube-bot opened #13240 "Frequent test failures of `TestFunctional/parallel/ImageCommands/ImageListYaml`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/parallel/ImageCommands/ImageListYaml)|100.00|

[2021-12-24 05:15] ravimalvia commented on #13028
![IMG_20211224_104501.jpg](https://user-images.githubusercontent.com/53039826/147319351-13c78684-2d37-4d34-8848-db9d09fb261d.jpg)

It looks virtualbox is healthy

[2021-12-24 05:16] ravimalvia commented on #13028
Have you find any solution

[2021-12-24 10:51] ayshiff commented on #13233
We can probably use `p.Set(pb.CleanOnFinish, true)` to hide the progress bar when finished.

[2021-12-24 14:29] blue928 commented on #11193
@zhan9san Thank you so much! Turning on the Ingress Controller and adding an Ingress Resource have been the missing elements.

Once I started playing with this in the wild I had one more gotcha that may help others referencing this.

`kubectl create deployment web` creates a deployment with `Labels: app=web` automatically added to its definition. (`kubectl describe deployment web` to see it). `kub

[2021-12-24 22:23] gkarthiks commented on #12881
Hi @a-kataev  I am facing the same issue. But unfortunately, I couldn't find the version you commented on as the working workaround. I tried with the next patch version: 6.1.30 still facing the same issue. Can you please file share the one you are using?

[2021-12-25 10:49] kimyongyeon opened #13242 "localhost:8443 was refused ?"
### What Happened?

    ▪ You are trying to run amd64 binary on M1 system. Please consider running darwin/arm64 binary instead (Download at https://github.com/kubernetes/minikube/releases/download/v1.24.0/minikube-darwin-arm64.)
E1225 19:48:42.706902   49141 logs.go:190] command /bin/bash -c "sudo /var/lib/minikube/binaries/v1.22.3/kubectl describe nodes --kubeconfig=/var/lib/minikube/kubeconfig"

[2021-12-25 18:22] NikhilSharmaWe commented on #13233
@medyagh and @ayshiff Could you please provide some code points (files and folders) where the changes in the code is needed. I would like to work on it.

[2021-12-25 18:22] NikhilSharmaWe commented on #13233
/assign

[2021-12-25 18:40] NikhilSharmaWe commented on #13158
@medyagh I would like to work on it. Could you please elaborate, I have some confusion in understanding the issue here.

[2021-12-25 22:54] jorgeolive opened #13243 "Can't start Minikube since Win 11 upgrade"
### What Happened?

I am unable to start my minikube cluster after upgrading to windows 11.  I've tried to re-install docker desktop, Minikube, WSL 2 stuff with no luck at all. Seems that there's some internal connectivity issue due to control pane not starting but quite lost here.

[code]

[code]

Thanks,
Jorge.

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/777

[2021-12-26 00:50] spowelljr commented on #12881
I believe they were referencing this link: https://www.virtualbox.org/download/testcase/VirtualBox-6.1.29r148140.dmg

[2021-12-26 06:30] diumonds opened #13244 "problem"
**minikube start**:

**stderr:
Unable to find image 'gcr.io/k8s-minikube/kicbase:v0.0.27@sha256:89b4738ee74ba28684676e176752277f0db46f57d27f0e08c3feec89311e22de' locally
docker: Error response from daemon: error parsing HTTP 403 response body: invalid character '<' looking for beginning of value: "<!DOCTYPE html>\n<html lang=en>\n  <meta charset=utf-8>\n  <meta name=viewport content=\"initial-scal

[2021-12-26 06:45] NikhilSharmaWe commented on #13158
@medyagh I would like to work on it. Could you please elaborate, I have some confusion in understanding the issue here.

[2021-12-26 06:47] NikhilSharmaWe commented on #13158
@medyagh I would like to work on it. Could you please elaborate, I have some confusion in understanding the issue here. What do you mean by
[code]

[2021-12-26 08:34] #13244 closed

[2021-12-26 09:08] nuzurie commented on #5815
Ping

[2021-12-26 10:10] khaninejad commented on #9473
For Windows users change the visualization. for me this worked:
`minikube start --vm-driver=docker`

[2021-12-27 04:47] #12429 closed

[2021-12-27 05:57] SanjayDatta commented on #9798
Yes. delete minikube container --> remove minikube image --> minikube start made the problem go away. So if there is an existing image, update may be a problem. Hence the error message.

[2021-12-27 07:32] NikhilSharmaWe commented on #13158
@medyagh the code will be the same as in `make update-golint-version` or not. If it is the same, why do we need it again with another target name. And if not, what should be the correct code in `make bump-preload`, to bump version by 1.

Could you please explain.

I am making a PR with target name `bump-preload` and running `update_golint_version.go` in it. We can discuss correct way to bump the v

[2021-12-27 10:27] Foge9627 opened #13246 "> تم إنشاء هذا PR تلقائيا باستخدام [التحديث-kubeadm-constants.yml](https://github.com/kubernetes/minikube/tree/master/.github/workflows) سير عمل CI. الرجاء الدمج فقط إذا تم اجتياز كافة الاختبارات.`make update-kubeadm-constants`"
_Originally posted by @Foge9627 in https://github.com/kubernetes/minikube/issues/13199#issuecomment-1001495877_

[2021-12-27 10:27] #13246 closed

[2021-12-27 17:12] nallagondu opened #13248 "minikube start --driver=docker"
### What Happened?

PS C:\Users\g> minikube start --driver=docker
* minikube v1.24.0 on Microsoft Windows 10 Enterprise 10.0.18363 Build 18363
* Using the docker driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Pulling base image ...
* Creating docker container (CPUs=2, Memory=4000MB) ...
! Executing "docker container inspect minikube --format={{.Stat

[2021-12-27 18:21] jszwedko commented on #12928
We ran into this today when upgrading `minikube` for https://github.com/vectordotdev/vector . We tried disabling IPv6 from the bridge as mentioned in https://github.com/kubernetes/minikube/issues/12928#issuecomment-966508095 . That did get rid of the `iptables` error shown in the logs in the linked issue, but we still see the same error for `kube-proxy`:

[code]

Some more version information:

[c

[2021-12-27 22:03] tspearconquest commented on #12950
I started seeing this recently on my Mac (not an M1) but I am using the flag `--kubernetes-version=v1.18.19` and it works fine if I use the flag `--kubernetes-version=v1.19.13`

It was working fine, I took a week off for Christmas, come back and it's not working now. I did some googling and found that kubernetes v1.19 was the first to support cgroups v2, but from your logs it looks like you're usi

[2021-12-27 22:54] fastlorenzo commented on #12842
Same here with Ubuntu 20.04

[code]

Docker is supporting memory limit. I did a quick test:

[code]

It looks like the check in Minikube to validate if memory cgroup is enabled is not reliable (https://github.com/kubernetes/minikube/blob/25d17c2dde4920c00b4fe6f42aece999ce92cd5c/pkg/drivers/kic/oci/oci.go#L111-L124).

[code]

Some additional info if it helps:

[code]

If we take the nginx container

[2021-12-27 23:01] fastlorenzo commented on #12842
@miroslav-beranic I did some tests based on your comment, it's, I believe, related to the usage of the `--memory` parameter.

I can have multiple nodes, but then it limits the total amount of memory to 16G, spread across all nodes.

[2021-12-28 05:05] shadowshot-x commented on #13186
Hi @spowelljr. Seems like an interesting issue. I would like to work on this.

[2021-12-28 10:45] jorgeolive commented on #13243
I found out the problem. The MINIKUBE_HOME environment variable had no value; For some reason clean reinstalls didn't map it to my local .minikube folder.

[2021-12-28 11:07] matrixersp opened #13249 "Error enabling ingress addon"
### What Happened?

I get the following error when I run `minikube addons enable ingress`:
[code]

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/7784323/logs.txt)

### Operating System

Redhat/Fedora

### Driver

Docker

[2021-12-28 12:02] tomsucho commented on #13202
Hi @spowelljr
thanks a milion for your feedback! I think I hit this issue:
https://github.com/lxc/lxd/issues/9725
I guess I'll track the other ticket then and wait for fixes, or is there a workaround possible to still be able to use minikube with this /proc/stat issues?

[2021-12-28 12:26] afbjorklund opened #13250 "Make default container runtime dynamic"
Since Kubernetes 1.24, there is no longer a "default" container runtime (since the removal of dockershim).

* https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/

* https://kubernetes.io/blog/2021/11/12/are-you-ready-for-dockershim-removal/

Instead, the user will **have** to supply a container runtime. But the only _tested_ container runtime is containerd.

----

The current c

[2021-12-28 12:28] afbjorklund commented on #13250
[code]

Then there needs to be code handling this, currently there's a truckload of `viper.GetString(containerRuntime)`

In the future, the value will needs to be converted into an actual runtime and the default computed by k8s version.

[2021-12-28 14:29] afbjorklund commented on #13250
Note that you can still use docker or crio, they are just not getting tested upstream (but with Mirantis or with OpenShift)

Contrary to popular belief, the removal of dockershim is **not** the same as the removal of docker. Just enforcing an API...

[2021-12-28 14:49] afbjorklund opened #13252 "Add nerdctl command for users outside kubernetes"
The default `ctr` and `buildctl` are a bit rough around the edges (i.e. user-hostile)

There is another program called `nerdctl`, which looks more like `docker` and `podman`.

It doesn't have a remote protocol, so users will have to use `minikube ssh` to use it...

(i.e. there is no equivalent to `docker-env` and `podman-env`, except for ssh tunneling)

<https://github.com/containerd/nerdctl#comma

[2021-12-28 14:52] afbjorklund commented on #13252
For regular use, there is `kubectl` and `crictl` as always. Or the "minikube image" wrapper.

[2021-12-28 15:04] #12087 closed

[2021-12-28 15:04] #12088 closed

[2021-12-28 15:06] #12167 closed

[2021-12-28 15:14] afbjorklund commented on #13252
Pre-built binaries: https://github.com/containerd/nerdctl/releases/tag/v0.15.0

[code]

[2021-12-28 15:19] afbjorklund commented on #13158
It is not the same.

[2021-12-28 15:23] NikhilSharmaWe commented on #13158
@afbjorklund Could you provide some guidance how should this functionality be added of bumping the preload version by 1 in `make bump-preload`.

[2021-12-28 15:56] afbjorklund commented on #13158
I think @klaases is working on it, but maybe @medyagh can explain the feature. I think it's about the preload version. (e.g. 13)

preloaded-images-k8s-**v13**-v1.22.3-containerd-overlay2-amd64.tar.lz4.download

[2021-12-28 17:17] skol101 commented on #13038
The issue as I understand is pretty simple -- when linux is restarted, it removes 'hostpath-provisioner' directory, and users loose all data without warning.

[2021-12-28 17:30] spowelljr commented on #13186
Hi @shadowshot-x, comment `/assign` to assign the issue to yourself.

[2021-12-28 17:45] spowelljr commented on #13202
Since you're using the Docker driver that package isn't really used, so if you could simply overcome the init() failure you should be fine. Not sure if it would work but I'd suggest appending extra lines to `cpu` line in `/proc/stat` similar to what is listed in the issue you linked.

Right now you have something like
`cpu  2568500776029407000000`
Append the required number of fields so it's somet

[2021-12-28 18:03] shadowshot-x commented on #13186
/assign

[2021-12-28 18:07] medyagh commented on #13158
closed by https://github.com/kubernetes/minikube/pull/13217

[2021-12-28 18:07] #13158 closed

[2021-12-28 18:33] afbjorklund commented on #13252
Rootless nerdctl/containerd is not supported, and will give an error message:

[code]

This is "normal", and not supported with the other container runtimes either.

[code]

[2021-12-28 19:29] afbjorklund opened #13255 "Change default container runtime from docker to containerd"
This is a part of #13250, which makes the runtime dynamic

Since Kubernetes is only tested using the "containerd" runtime, it makes sense for minikube to default to using this runtime.

It is also possible to use the "docker" runtime or the "crio" runtimes, but these are not tested by Kubernetes before release.

So the suggestion is to change the new default, for k8s 1.24

-----

This is a more sp

[2021-12-28 19:33] afbjorklund commented on #13255
This change is being pushed by upstream, while blaming dockershim:

* https://github.com/kubernetes/kubernetes/issues/106917

We have already seen some breakage, due to Docker not being tested:

* #13077

[2021-12-28 19:34] afbjorklund commented on #13255
Note that versions before Kubernetes 1.24 will still default to dockershim.

[2021-12-28 19:43] afbjorklund commented on #13255
Maybe obvious, but moving to containerd breaks any "Docker Desktop" dreams.

* #12845

[2021-12-28 20:02] spowelljr commented on #13242
Hi @kimyongyeon, thanks for reporting your issue with minikube!

The first thing you posted is: `You are trying to run amd64 binary on M1 system. Please consider running darwin/arm64 binary instead (Download at https://github.com/kubernetes/minikube/releases/download/v1.24.0/minikube-darwin-arm64.)`

This is likely your issue, please download the arm64 binary of minikube and try using that instead

[2021-12-28 20:07] spowelljr commented on #13243
If `MINIKUBE_HOME` is not set it defaults to `C:\Users\<user>\.minikube` which I can see in your provided logs that it was doing so. After setting `MINIKUBE_HOME` is starting working for you?

[2021-12-28 20:13] spowelljr commented on #13248
Hi @nallagondu, thanks for reporting your issue with minikube!

So you're running the command from `C:\Users\g` but it looks like it's trying to access the kube config in `C:\Users\nallag`. Do you have multiple users accounts on your machine?

Try `$env:KUBECONFIG = "C:\Users\g\.kube\config"`

[2021-12-28 20:18] spowelljr commented on #13249
Looks like a container is not being created.
<details>
*
* ==> kubelet <==
* -- Logs begin at Mon 2021-12-27 14:11:51 UTC, end at Tue 2021-12-28 11:04:19 UTC. --
Dec 27 14:31:24 minikube kubelet[2177]: I1227 14:31:24.185788    2177 pod_container_deletor.go:79] "Container not found in pod's containers" containerID="7021a68087b177e5a3dcd133770193249e8929c31309553056e05eb1ef8068c5"
Dec 27 14:31:24 mi

[2021-12-28 20:24] afbjorklund commented on #13038
As long as the data is being stored in a persistent location, there should be no data loss with the regular drivers ?

It could have been fixed sooner for the docker driver, and it could have been documented better for the none driver.

[2021-12-28 23:17] jorgeolive commented on #13243
Yes, it works. For some reason, fresh Minikube installations were not able to create and set up this environment variable, which got deleted when upgrading from Windows 10 to Windows 11.

[2021-12-29 08:20] matrixersp commented on #13249
[minikube-log.txt](https://github.com/kubernetes/minikube/files/7787890/minikube-log.txt)

[2021-12-29 08:39] tomsucho commented on #13202
Thanks for the hint but it doesn't let me edit the file as root, maybe it's due to the fact it's a pseudo-filesystem file representing some kernel read-only data, and not allowing any modification from user space. I'll close this ticket and wait for the fixes in Lxd/Ubuntu. Thanks for all the help!

[2021-12-29 08:39] #13202 closed

[2021-12-29 09:33] skol101 commented on #13038
I'm using driver=none because of Nvidia GPU. Also using Bitnami/Mariadb which installs 'persistent volume' on /tmp/hostpath-provisioner, which then gets delete on machine reboot. Is there a way to start minikube cluster with a different hostpath-provisioner location?

[2021-12-29 09:42] afbjorklund commented on #13038
There _should_ have been, but for now you will have to set up the symlinks or bind mounts.

* https://github.com/kubernetes/minikube/issues/3318

For the minikube OS, we do this with a service that is started at launch. (the automount)

[2021-12-29 10:26] skol101 commented on #13038
I symlinked /tmp/hostpath-provider to /data/hostpath-provider , where data is a non temporary dir.

When I try 'helm install mdb bitnami/mariadb I observe this in minikube logs
[code]

[2021-12-29 10:48] getkub opened #13260 "Ingress DNS: Confirm that domain names are resolving on the host OS NOT working as per document"
Regarding documentation: https://minikube.sigs.k8s.io/docs/handbook/addons/ingress-dns/
Did exactly as per steps
But the step:
[code]
is NOT working. Any extra steps needed or is the documenation incorrect?

[2021-12-29 13:32] ajinkya359 commented on #13233
/assign

[2021-12-29 14:14] skol101 commented on #13038
Anyway, I switched to microk8s, and it seems to be working as needed.

[2021-12-29 14:24] tbrodbeck opened #13261 "Minikube with Podman on Mac: "no such container "minikube""
### What Happened?

I cannot start minikube sucessfully with Podman:
[code]

### Attach the log file

[code]
[minikube_logs_b5071b5f0b4713dd674799360d6dd0b30509408b_0.log](https://github.com/kubernetes/minikube/files/7789350/minikube_logs_b5071b5f0b4713dd674799360d6dd0b30509408b_0.log)

### Operating System

macOS (Default)

### Driver

Podman

[2021-12-29 15:17] Andre-Atkinson opened #13262 "Unable to add csi-hostpath-driver"
### What Happened?

Unable to add csi-hostpath-driver on fresh windows 10 install.

### Attach the log file

[minikube_addons_bb552cd8bd3a16486299c8daee8d89623ed5314f_0.log](https://github.com/kubernetes/minikube/files/7789567/minikube_addons_bb552cd8bd3a16486299c8daee8d89623ed5314f_0.log)
[logs.txt](https://github.com/kubernetes/minikube/files/7789568/logs.txt)

### Operating System

Windows

###

[2021-12-29 15:56] afbjorklund commented on #13038
I think the regular automount scripts are using bind mounts, but glad you find a way to run Kubernetes.

[2021-12-29 16:14] afbjorklund commented on #13261
The error reporting of that command is truly awful...

[code]

But it looks like the underlying issue is cgroup-related ?

`Error: the requested cgroup controller `cpu` is not available: OCI runtime error`

[2021-12-29 16:35] afbjorklund commented on #13261
Unfortunately it is not possible to troubleshoot on the developer machines at the moment, hard-coded on the GOOS.

We might want to enable running podman-remote also on Linux, to troubleshoot these issues with Podman Machine ?

[2021-12-29 16:38] antoinetielbeke commented on #13130
I am using `v1.22.3` and using `minikube addons enable ingress` also throws the same error. I installed minikube using homebrew. I also used to have an older version of minikube but I used `minikube delete --all --purge` and the problem persist.

[2021-12-29 18:19] spowelljr commented on #13145
Hi @Vijay-git-kub, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-12-29 18:19] #13145 closed

[2021-12-29 18:30] spowelljr commented on #13131
Hi @daihanhle, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-12-29 18:30] #13131 closed

[2021-12-29 18:30] spowelljr commented on #12944
Hi @Mandeepsheoran, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-12-29 18:30] #12944 closed

[2021-12-29 18:36] Mandeepsheoran commented on #12944
I did some workaround to fix that problem at that time. But I will try to replicate that same case once I will get some bandwidth and will let you know.

[2021-12-29 18:40] spowelljr commented on #12115
Hi @rfk,

Yes you should be getting something like:
[code]

Based on the discussion on this issue I created a PR (https://github.com/kubernetes/minikube/pull/12976) that will be included with the next release of minikube.

Before (tunnel without service):
[code]
After:
[code]

It's possible, it will require further investigation to confirm.

[2021-12-29 18:49] spowelljr commented on #13034
Hi @raghanag, thanks for reporting your issue with minikube. Were you using an older version of minikube before updating to v1.24.0?

Also, `minikube delete --all --purge` is a better way of completely clearing everything out because `rm -rf ~/.minikube` don't remove the Docker containers and such. Could try running `minikube delete --all --purge` and then trying to start again and see if that sol

[2021-12-29 18:57] afbjorklund commented on #13261
Same error on Linux:

`❌  Exiting due to GUEST_PROVISION: Failed to start host: podman inspect ip minikube: podman-remote container inspect -f  minikube: exit status 125`

[2021-12-29 19:07] spowelljr commented on #13031
Hi @vikramsh2002, thanks for reporting your issue with minikube!

It seems your kubeconfig somehow get corrupted. Delete the file `C:\Users\HP\.kube\config` and then try starting minikube again and see if that resolves your issue.

[2021-12-29 19:10] afbjorklund commented on #13261
There are other things left to fix, before Podman Machine (i.e. running `podman` without Linux) will work.

* https://github.com/kubernetes/minikube/issues/8003

[2021-12-29 19:10] spowelljr commented on #13029
Thanks for creating this issue @xenophonf. So just to double check I understand, we're installing minikube globally but we're only adding the shortcut for the current user and we should be adding the shortcut globally as well?

[2021-12-29 20:01] spowelljr commented on #13021
Hi @beterhans, thanks for reporting your issue with minikube!

To use `minikube docker-env` you need to have Docker Desktop installed, which is why you're getting `The term 'docker' is not recognized`.

However, minikube has commands built-in to replicate Docker without needing it to be installed.

[code]

To have even more options you can `minikube ssh` to be inside the minikube cluster and there

[2021-12-29 20:03] xenophonf commented on #13029
@spowelljr You're understanding this correctly.  If a program is installed for all users on Windows, its shortcut should be created in the All Users start menu.

[2021-12-29 20:09] spowelljr commented on #12786
This has been resolved for now so closing

[2021-12-29 20:09] #12786 closed

[2021-12-29 20:15] spowelljr commented on #12569
Kubernetes 1.23 will support `btrfs`

https://github.com/kubernetes/system-validators/pull/26

[2021-12-29 21:41] spowelljr commented on #13032
That's correct @backtrackshubham

[2021-12-29 22:05] spowelljr commented on #13233
@ajinkya359, @NikhilSharmaWe already assigned the issue to himself.

[2021-12-29 22:10] spowelljr commented on #13233
Hi @NikhilSharmaWe, we have a func `GithubActionRunner` that exists in the testing folder that detects if we're in GitHub Action runner or not: https://github.com/kubernetes/minikube/blob/master/test/integration/main_test.go#L169

This should be moved to the detect package so we can use it outside of tests: https://github.com/kubernetes/minikube/blob/master/pkg/minikube/detect/detect.go

And then

[2021-12-29 23:16] Andre-Atkinson commented on #13262
Tested again with version v1.23.2 and its working. seems to be an issue in the latest release.

[2021-12-30 05:36] maszczyn commented on #13098
I think this is related to the way hostPath provisioner works, see [this comment](https://github.com/kubernetes/minikube/issues/1990#issuecomment-353515905). As far as I understand - there's nothing you can do about it, at least not without modifying provisioner's source code.

I am looking for a solution to similar issue as you: to have data persisted outside the minikube's VM _and_ have use of s

[2021-12-30 05:57] flanger001 commented on #2689
This helped me https://github.com/kubernetes/kubernetes/issues/44665

[2021-12-30 09:33] aacecandev commented on #13130
I've having this same issue and find this helpful

https://github.com/kubernetes/ingress-nginx/issues/5401

[2021-12-30 12:35] koushikmgithub opened #13265 "Minikube installation failed in new MacOS Chip M1 - OS Big Sur"
### What Happened?

I am trying to install minikube on my mac os with M1 chip and following below guideline.

https://minikube.sigs.k8s.io/docs/start/

I am running docker desktop 20.10.8 on my mac and getting the following error when I start minikube. Do I need to do anything for this to work on the new macos chip M1?

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/file

[2021-12-30 14:07] mhallin2 opened #13266 "unable to run minicube with kubernetics"
### What Happened?

on a windows 2019 server with latest docker
getting error when running
minikube start --addons=ingress  --cni=flannel --install-addons=true --kubernetes-version=stable

C:\temp>minikube start --addons=ingress  --cni=flannel --install-addons=true --kubernetes-version=stable
* minikube v1.24.0 on Microsoft Windows Server 2019 Standard Evaluation 10.0.17763 Build 17763
* Using the

[2021-12-30 14:33] mhallin2 commented on #13266
issue can be closed,
moved the home location to a new folder that is not in my user profile
environment variable MINIKUBE_HOME=C:\minikube\kube

[2021-12-30 14:33] #13266 closed

[2021-12-30 16:49] Sergiodcm00 commented on #13038
You can't make links. Because hostpath try to make mkdir /tmp/hostpath-provider (if dir not exist) and if a link exist fails. Link is not a dir.
You must use binds,  but for me no works too.
Hostpath-provisioner insert de data behind the bind ( I donn't understand how) so pod can't see it. I'm looking for solutions.

[2021-12-30 16:53] afbjorklund commented on #13038
The shell command `mkdir -p`  works fine, it is the Go implementation that throws an error.

Actually it is both.

[2021-12-30 17:49] spowelljr commented on #13233
Sorry, I skimmed over the issue and initially thought it was the spinner we were talking about, but now I see it's the progress bar on download.

So keep the change for `GithubActionRunner` but remove the changes for `out.go`.

Instead here is where we check what kind of progress bar we're going to use: https://github.com/kubernetes/minikube/blob/master/pkg/minikube/download/download.go#L63

If th

[2021-12-30 18:31] jbdamiano opened #13267 "[--driver=docker --container-runtime=cri-o] kube-proxy fails with apply caps: operation not permitted"
### What Happened?

I'm running minikube on windows 11 with WSL2 Ubuntu 20.04
The kube-proxy pod cannot start, due to an error " kubelet            Error: container create failed: time="2021-12-30T17:58:21Z" level=error msg="container_linux.go:380: starting container process caused: apply caps: operation not permitted"

This error was already reported in #12705. But I have always the same issue. I

[2021-12-30 20:21] spowelljr commented on #12048
Hi @HemanthAditi, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-12-30 20:21] #12048 closed

[2021-12-30 20:48] greenchapter commented on #13006
Thank you very much that looks really good and I don't had Rancher Desktop in mind.

The thing is I actually want to prevent a desktop application like Docker, I want to use a CLI tooling like minikube.
regarding the notes it looks like that the verion 0.7.0 currently isn't running completely on aarch64.

<img width="946" alt="Screenshot 2021-12-30 at 21 43 08" src="https://user-images.githubuserc

[2021-12-30 20:55] rfay commented on #13006
[colima](https://github.com/abiosoft/colima) (HEAD) with lima/docker works perfectly on arm64. Haven't tried it with kube. I also have mostly good experiences with Rancher Desktop but the bind-mounting doesn't really work.

[2021-12-30 21:19] greenchapter commented on #13006
Oh @rfay that looks really good 🤩

I did a short `brew install colima` and afterwards a started a kubernetes cluster with `colima start --with-kubernetes`. In my first testing it runs a k3s cluster on top of qemu, which looks on the first sight very good actually an my M1 machine.

[2021-12-30 21:27] spowelljr commented on #12063
Hi @ashutosh5786, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-12-30 21:27] #12063 closed

[2021-12-30 21:28] spowelljr commented on #11808
@mahalrs are you still working on this?

[2021-12-30 21:36] spowelljr commented on #13267
Hi @jbdamiano, I see you're building the kicbase yourself locally. That's only needed if you're manually changing the kicbase file? Have you made any changes to it that could be causing the error you're seeing?

[2021-12-30 21:59] JavierPalaciosNexplore commented on #13249
This is also happening to me on a github workflow. Is a rarely used one, and last execution on Nov 3 worked (hope minikube version can be traced by virtual-environments history. In any case, I attach the initial part of the workflow below to make easier to reproduce.

[code]

The `rm` and kube-system wait are new additions, naive (and failed) attempts to workaround this issue.

[2021-12-30 22:04] JavierPalaciosNexplore commented on #13249
It seems that #13088, #13127 and #13130 are duplicated of this one (I joined the newer one instead of running down the list)

[2021-12-30 23:43] spowelljr commented on #12428
HI @Fcscanf, sorry for the delayed response, I took a look at this again and narrowed this error down to the `registry.cn-hangzhou.aliyuncs.com/google_containers` image repository.

It's failing to pull the `dashboard` & `metrics-scraper` images.

[code]

Looks like the resources require authentication, I'm not too sure why that is, the core minikube maintainers team doesn't actually manage the `r

[2021-12-31 00:00] spowelljr commented on #12428
The version of minikube you were using is v1.20.0, but this seems to be resolved by using v1.24.0, try updating and let me know if your issue is resolved, thanks!

[2021-12-31 00:31] spowelljr commented on #8733
Hi @powerman, thanks for following up on the issue, I tried this using the newest version of minikube (v1.24.0) and it still seems to be working fine. If you're still experiencing this please create a new issue and we can take a look at it, thanks!

[2021-12-31 00:35] spowelljr commented on #12413
Hi @yunnysunny, I'm not sure when this was implemented, but on the newest version of minikube (v1.24.0) it outputs:
`✅  Using image repository registry.cn-hangzhou.aliyuncs.com/google_containers`

Try updating to the newest version and try running the command again and see if that fixes your issue, thanks!

[2021-12-31 01:04] QGB commented on #877
VBoxManage controlvm "Ubuntu_1604s" --natpf1 "u8848,tcp,,18848,,8848"
But i got error same as modifyvm

error: Context: "LockMachine(a->session, LockType_Shared)" at line 388 of file VBoxManageControlVM.cpp

are there any solutions?

[2021-12-31 01:10] dadan2019 commented on #11107
This does not work for me on m1. Yes. the pod seems healthy on the dashboard. However, I got the below error when running 'k logs hello-minikube-bc84b9485-x6p5h'

2021/12/31 00:49:26 [alert] 10#10: detected a LuaJIT version which is not OpenResty's; many optimizations will be disabled and performance will be compromised (see https://github.com/openresty/luajit2 for OpenResty's LuaJIT or, even bett

[2021-12-31 01:24] dadan2019 commented on #11107
This works as of today. Thanks ollydixon.

[2021-12-31 01:25] Fcscanf commented on #12428
@spowelljr  Thank you for your review and reply, I will let you know if the problem is solved after trying the new version, thank you!

[2021-12-31 01:53] Fcscanf commented on #12428
@spowelljr The mirror has been successfully pulled, thank you very much for your help!
![image](https://user-images.githubusercontent.com/27654200/147798325-3aee2557-bc9e-447f-87d7-65a6c5c76b6d.png)

[2021-12-31 01:53] #12428 closed

[2021-12-31 06:14] koushikmgithub commented on #7613
Hello... I am facing the same issue. I am trying to install minikube on my mac os with M1 chip and following below guideline.

https://minikube.sigs.k8s.io/docs/start/
I am running docker desktop 20.10.8 on my mac and getting the same error when I start minikube. Do I need to do anything for this to work on the new macos chip M1? Already opened an issue : https://github.com/kubernetes/minikube/iss

[2021-12-31 06:37] koushikmgithub commented on #8207
hello @medyagh  - I am facing the same issue and logged an issue . https://github.com/kubernetes/minikube/issues/13265. can you please help me out.

[2021-12-31 06:54] naveen-marthala commented on #4517
how to enable AMD-V in a machine I ssh-ed into. this is an aws ec2 machine.

[2021-12-31 07:00] jbdamiano commented on #13267
Ho @spowelljr I have made any change. I used the compiled kicbase to change the version and to use a 9th November commit. I tried different commit without success. It's the third time that a similar issue it's opened and marked as resolved but I tried the given solution or workaround without success.

[2021-12-31 09:47] Sergiodcm00 commented on #13038
I'm speaking about provisioner, not about shell.

**With minikube driver=none the vols are stored under /tmp (the mount point and its data)**. It is not possible to create links to move its content to another path and it seems that neither binds (or at least in my case, with surprising behavior).
Using /tmp is not a good idea neither for mount point nor for data. As has been commented in this or i

[2021-12-31 11:15] iwanczuk opened #13268 "Unable to start minikube with ports below 1024"
### What Happened?

I tried to start minikube v1.24 and expose ports 80 and 443 for ingress to have easy access to it but in latest version I get permission error even if I run minikube as root:

`Exiting due to MK_USAGE: Sorry, you cannot use privileged ports on the host (below 1024) [80:80 443:443]`

Previous versions worked perfectly fine. Is it intended behavior? If so, how I can work around t

[2021-12-31 12:52] tstromberg commented on #4517
For AWS2 EC2 or other virtual instances, please use `--driver=docker`.

On Fri, Dec 31, 2021 at 1:55 AM Naveen Reddy Marthala <
***@***.***> wrote:

[2022-01-01 00:17] minikube-bot opened #13271 "Frequent test failures of `TestStartStop/group/embed-certs/serial/DeployApp`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/embed-certs/serial/DeployApp)|100.00|

[2022-01-01 04:17] minikube-bot opened #13272 "Frequent test failures of `TestFunctional/serial/AuditLog`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=KVM_Linux_crio&test=TestFunctional/serial/AuditLog)|94.81|

[2022-01-01 04:17] minikube-bot opened #13273 "Frequent test failures of `TestJSONOutput/pause/Audit`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=KVM_Linux_crio&test=TestJSONOutput/pause/Audit)|94.81|

[2022-01-01 04:17] minikube-bot opened #13274 "Frequent test failures of `TestJSONOutput/start/parallel/DistinctCurrentSteps`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestJSONOutput/start/parallel/DistinctCurrentSteps)|92.86|

[2022-01-01 04:17] minikube-bot opened #13275 "Frequent test failures of `TestJSONOutput/start/parallel/IncreasingCurrentSteps`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestJSONOutput/start/parallel/IncreasingCurrentSteps)|92.86|

[2022-01-01 04:17] minikube-bot opened #13276 "Frequent test failures of `TestJSONOutput/unpause/Audit`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=KVM_Linux_crio&test=TestJSONOutput/unpause/Audit)|94.81|

[2022-01-01 04:17] minikube-bot opened #13277 "Frequent test failures of `TestJSONOutput/unpause/Command`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestJSONOutput/unpause/Command)|100.00|

[2022-01-01 04:17] minikube-bot opened #13278 "Frequent test failures of `TestMultiNode/serial/DeleteNode`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestMultiNode/serial/DeleteNode)|100.00|

[2022-01-01 04:17] minikube-bot opened #13279 "Frequent test failures of `TestMultiNode/serial/RestartMultiNode`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestMultiNode/serial/RestartMultiNode)|100.00|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestMultiNode/serial/RestartMultiNode)|28.77|

[2022-01-01 04:17] minikube-bot opened #13280 "Frequent test failures of `TestMultiNode/serial/StopMultiNode`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestMultiNode/serial/StopMultiNode)|100.00|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestMultiNode/serial/StopMultiNode)|41.25|

[2022-01-01 04:17] minikube-bot opened #13281 "Frequent test failures of `TestMultiNode/serial/ValidateNameConflict`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestMultiNode/serial/ValidateNameConflict)|100.00|

[2022-01-01 04:17] minikube-bot opened #13282 "Frequent test failures of `TestOffline`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestOffline)|100.00|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestOffline)|100.00|

[2022-01-01 15:48] diegoep commented on #12832
It was solved by updating to `Virtualbox 6.1.30`! Running fine on MacOs Monterrey now. Thanks!

[2022-01-01 22:19] ediazm opened #13284 "Exiting due to GUEST_START: wait: /bin/bash -c "sudo env PATH="/var/lib/minikube/binaries/v1.18.0"
### What Happened?

When I try to run minikube start I get the same problem as was reported on the issue:
https://github.com/kubernetes/minikube/issues/9860

### Attach the log file

I tried to run the command: minikube logs --file=log.txt
and I got the following error
E0101 14:18:44.945582   75049 logs.go:190] command /bin/bash -c "sudo /var/lib/minikube/binaries/v1.18.0/kubectl describe nodes --

[2022-01-02 04:29] shankar524 opened #13285 "Error on volume mounting"
### What Happened?

So I tried mapping volumes by running ` minikube mount $PWD:/config` --port 54296 and I got this following issue
[code]

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/7798561/log.txt)

### Operating System

macOS (Default)

### Driver

HyperKit

[2022-01-02 06:38] NikhilSharmaWe commented on #13186
@shadowshot-x Could you please inform that, are you still working on this issue ?

[2022-01-02 06:47] shadowshot-x commented on #13186
Go ahead @NikhilSharmaWe. Was a bit out due to New Year.

[2022-01-02 06:48] NikhilSharmaWe commented on #13186
/assign

[2022-01-02 07:15] NikhilSharmaWe commented on #13186
@spowelljr I am able to understand

[2022-01-02 07:19] NikhilSharmaWe commented on #13186
@spowelljr I have understood the issue here

But not able to understand the solution you have suggested to remedy this. Could you please elaborate about the solution and also guide on how to proceed in this purpose.

[2022-01-02 07:32] shadowshot-x commented on #13186
Maybe, I can help a bit with that. In `root.go`, we are using `defer` statement. The whole statement(Eg:- "minikube start -p p1 started at 1:00 ended at 1:03") is added after the command has ended which is the main issue as sometimes this defer is skipped. What he means is to get rid of `defer`. First, add "minikube start -p p1 started at 1:00" when the command is run immediately. Then, when the c

[2022-01-02 07:44] NikhilSharmaWe commented on #13186
@shadowshot-x Do we need to remove defer in func [`Execute()`](https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/root.go#L80) .Because func `Execute()` is not executed only for `start` command, if we will remove the `defer` then all commands logs will be effected.

[2022-01-02 07:53] shadowshot-x commented on #13186
Right, `Execute` is run for all the commands. So, all command logs will be affected. However, the end result will be the same (We want the audit log to be consistent). It might be possible where `defer` is skipped for some other command other than start.

[2022-01-02 08:05] NikhilSharmaWe commented on #13186
@shadowshot-x So do we need to add `audit.Log(time.Now())` at the start and at the end of the `Execute()` function without `defer`.
If correct, I have two question -
- How `audit.Log(time.Now())` will log the data like `minikube start -p p1 started at 1:00` because it will only IMO will log the time. And when we are able to log the preferred statement how we will connect the start and end times in

[2022-01-02 08:19] shadowshot-x commented on #13186
No issues @NikhilSharmaWe. These are the 2 cents that I discovered while understanding the issue. Of course, @spowelljr might guide better to a solution.

1. The `minikube start -p p1 started at 1:00` is a representational example I think. The logs are stored in JSON file I think( not exactly sure, but[ you can read about it](https://minikube.sigs.k8s.io/docs/tutorials/audit-policy/).) You have to

[2022-01-02 09:14] NikhilSharmaWe commented on #13186
@spowelljr and @shadowshot-x  I am thinking that we can add two parameter `start` and `end` of type `time.Time` to func [`Log()`](https://github.com/kubernetes/minikube/blob/1b25cac7f5735be22f88a159b35b1996abba3c73/pkg/minikube/audit/audit.go#L54) instead of only `startTime` and replace `time.Now()` with `end` in [here](https://github.com/kubernetes/minikube/blob/1b25cac7f5735be22f88a159b35b1996ab

[2022-01-02 10:18] edward-pis-1670 opened #13286 "Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [sudo KUBECONFIG=/var/lib/minikube/kubeconfig /var/lib/minikube/binaries/v1.19.15/kubectl apply -f /etc/kubernetes/addons/ingress-deploy.yaml: Process exited with status 1"
### What Happened?

Cannot enable addons ingress from minikube

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/7798887/log.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-01-02 12:49] rameshkumar5155 opened #13287 "X Exiting due to GUEST_START: Failed to check container runtime version: docker version --format : exit status 1 stdout:"
### What Happened?

X Exiting due to GUEST_START: Failed to check container runtime version: docker version --format : exit status 1
stdout:

### Attach the log file

X Exiting due to GUEST_START: Failed to check container runtime version: docker version --format : exit status 1
stdout:

### Operating System

_No response_

### Driver

_No response_

[2022-01-02 14:35] vij-code commented on #13030
minikube start

[2022-01-03 00:39] vimalkansal commented on #12274
I am also having the same issue. My host system is :

Model Name:	MacBook Pro
Chip:	Apple M1 Max

[2022-01-03 02:36] vimalkansal opened #13288 "Unable to start minikube on Apple M1"
### What Happened?

Please see the output of the  minikubs start command 👍
minikube start --driver=docker --force-systemd=true
😄  minikube v1.24.0 on Darwin 12.0.1 (arm64)
✨  Using the docker driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🔥  Creating docker container (CPUs=2, Memory=1988MB) ...
🐳  Preparing Kubernetes v1.22.

[2022-01-03 07:59] NikhilSharmaWe commented on #13186
@shadowshot-x Could you please give your thoughts on the above [comment](https://github.com/kubernetes/minikube/issues/13186#issuecomment-1003685760).

[2022-01-03 08:44] shadowshot-x commented on #13186
I think you are going in the right direction @NikhilSharmaWe. I am just a bit curious about the implementation you have proposed.

- The first point is absolutely valid. `Log()` is not used anyplace else. So, you do something like this.
- As per the second point, from what I understand, you will call `audit.Log(start, end)` at the end of the `Execute` function. However, this does not solve the iss

[2022-01-03 08:46] vrubiolo commented on #12632
I am still interested in a fix for this but a workaround exists (enable the machine `root` account to allow provisioning).

As per the instructions, I am refreshing this.

/remove-lifecycle stale

[2022-01-03 09:20] vrubiolo commented on #12632
/remove-lifecycle stale

[2022-01-03 09:58] NikhilSharmaWe commented on #13186
@shadowshot-x First of all thanks for thoughts. Yes, I also thought about that. So, I think according to @spowelljr solution
[code]
He says `We should run audit.Log(time.Now()) in the beginning of the Execution function and if the commands completes we can add the endTime to the audit entry.` How we can get to know that - when the command completes ? because at that moment we will add `time.Now()`

[2022-01-03 11:30] jakoberpf commented on #12950
@tspearconquest Interesting that you saw the same issue and where able to fix it with and older kubernetes version. I tried the same, but am still seeing the same error.

[2022-01-03 12:41] cdivita opened #13289 "Cannot remove Docker images through minikube image rm"
### What Happened?

Since `minikube cache` is going to be deprecated, I'm using `minikube image` for managing images.

Adding images works fine, but I'm not able to remove them. For example, I've added the [hello-world](https://hub.docker.com/_/hello-world) image using the following command:

`minikube image load hello-world`

Then, when I try to delete it through the command:

`minikube image unl

[2022-01-04 00:35] patcon commented on #5815
Nearly ditto what @jpshackelford said in ...

If I run `eval $(minikube docker-env)` in the new terminal window, it will also hang at `Verifying proxy health ...`, but seems to success otherwise.

I installed  v1.24.0 on Darwin 11.6 via homebrew on Docker 20.10.8, then
[code]

[2022-01-04 02:27] lord22shark commented on #12115
I got the same issue when running `minikube tunnel --alsologtostderr`.
Environment:

- macOS Catalina 10.15.7
- Docker 20.10.11:
- Minikube v1.24.0

When tunnels invoke `cli_runner.go:115] Run: docker container inspect -f "'{{(index (index .NetworkSettings.Ports "22/tcp") 0).HostPort}}'" minikube` the process stuck at this step. I tried the same command without double quotes (`docker container ins

[2022-01-04 03:51] cuiko commented on #8997
In my case, I set the `HTTPS_PROXY` on the shell, it doesn't work.
but when I turn on `set as system proxy` option in the `clash`, it works for me. :(

[2022-01-04 09:39] shadowshot-x commented on #13186
Earlier we knew when the command ended by using `defer` statement. Audit.Log was called when the Execute function reached the end. The concept remains the same. When all the subcommands of `Execute` have been executed, you can call Audit.Log.  This can be at the end of the function(I think).

As for the tracking of the index in the entry, I did propose a solution above in Point 2. Feel free to dis

[2022-01-04 10:34] maulikusdad opened #13290 "Unable to load cached images"
### What Happened?

Unable to load cached images

### Attach the log file

i am not able to install the minikube

### Operating System

Windows

### Driver

VirtualBox

[2022-01-04 13:05] effyyvv opened #13291 "minikube service flask-service opens a browser but isn't connecting"
### What Happened?

Hello,
by using minikube service flask-service,
I get the following
![Screenshot 2022-01-04 150254](https://user-images.githubusercontent.com/97101152/148063205-0885ff52-67d9-43db-b951-1624c1f6a19d.png)

while the url opens in my browser, it won't connect.
Can you help me?

### Attach the log file

-

### Operating System

Windows

### Driver

Docker

[2022-01-04 16:37] schwichtgit opened #13292 "using minikube tunnel with VMware Fusion on MacOS with MacOS firewall"
### What Happened?

ENV:

macOS  Monterey Version 12.1 (21C52) (x86_64)
minikube version: v1.24.0 (commit: 76b94fb3c4e8ac5062daf70d60cf03ddcc0a741b) (with fuse and tcpdump)
VMware Fusion Professional Version 12.2.1 (18811640)

MacOS application firewall enabled.
====
$ minikube tunnel
Status:
	machine: minikube
	pid: 17093
	route: 10.64.0.0/16 -> 192.168.144.214
	minikube: Running
	services: [anzo

[2022-01-04 17:37] spowelljr commented on #12832
Glad that worked @diegoep, I'm going to close this issue, but feel free to reopen if you have more questions, thanks!

[2022-01-04 17:37] #12832 closed

[2022-01-04 17:57] spowelljr commented on #12115
Hi @lord22shark, can you please download this development version of minikube and let me know what the output of the tunnel command is, thanks!

https://storage.googleapis.com/minikube-builds/master/minikube-darwin-amd64

[2022-01-04 20:54] spowelljr commented on #13186
Thanks for responding @shadowshot-x while I was gone!

I'll provide some clarifications and my proposal for the solution.

https://minikube.sigs.k8s.io/docs/tutorials/audit-policy/ is different than the auditing we're talking about, that link is related to Kubernetes auditing while we're talking about minikube command auditing. The audit we're talking about is very simple, it's just a json file co

[2022-01-04 21:21] spowelljr opened #13293 "Improve `Getting Started` documentation for WSL2 & Docker"
We should include all the steps for the user on how to get minikube working with WSL2 and the Docker driver.

Some of the things we need to include are how to change the Linux distro from WSL(1) to WSL2, and enabling the WSL2 backend in Docker Desktop. This should improve the success rate of new Windows users using minikube.

[2022-01-04 22:14] spowelljr commented on #12274
@DPS0340, were you also using the Docker driver?

[2022-01-04 22:15] rsong0606 commented on #12274
I have the same issue for M1 Max Chip. Exactly as @vimalkansal.
Here's my output.
(base) runtiansong@runtians-MBP istio-1.12.1 % minikube start
😄  minikube v1.24.0 on Darwin 12.0.1 (arm64)
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🔄  Restarting existing docker container for "minikube" ...
🐳  Preparing

[2022-01-04 23:03] spowelljr commented on #12274
Thanks to @rsong0606 we found that we're downloading an amd64 version of kubelet, we should instead be looking for `/lib/ld-linux-aarch64.so.1`

![image](https://user-images.githubusercontent.com/44844360/148135388-76d1b89a-7203-4427-829b-35f2851f884a.png)

[2022-01-04 23:06] dsosale opened #13296 "Tunneling not working: Windows 11; Docker on Windows; kubernetes / minikube"
Tunneling not working for the following configuration.
Please advise if there is a fix:

Windows:  Windows 11 Pro
Windows for docker: Docker Desktop 4.3.2 (72729)
Kubernetes:  v1.23.0
Minikube: minikube version: v1.24.0

Command sequence:

minikube start --driver=docker

minikube mount C:/kubepgms/pods/resource/test/:/data/configs

minikube ssh
ls -la /data/configs/
(shows test1.yaml)

docker pull

[2022-01-05 02:12] lord22shark commented on #12115
Hey @spowelljr
You built worked successfully :-D. Follow the output:
[code]

[2022-01-05 02:31] inductor opened #13298 "minikube starts failing with Virtualbox driver on Windows having AMD-v enabled"
**問題を再現するための手順:**

[code]

I tested my Virtualbox and confirmed that it works just fine which implies the CPU virtualization is on.

<img width="939" alt="image" src="https://user-images.githubusercontent.com/20236173/148151277-0138c2f1-5a24-4586-a2e7-9454bad80b15.png">

Any advices?

[2022-01-05 06:55] snickell commented on #10158
@spowelljr I think this issue is different, that issue involved a blank IP docker host, the issue at hand here (and I think the issue could be retitled: "minikube trying to parse valid hostnames, listed as a DOCKER_HOST, as if they were numeric IP addresses, which they don't have to be"

[2022-01-05 07:45] snickell commented on #10158
I think this issue should be re-opened and titled something like: "minikube incorrectly tries to parse the DOCKER_HOST as a numeric IP address"

To give a more concrete example, I went to the trouble of publishing the IPs of one my docker hosts to a public DNS A entry as `deletemenow3.ceresimaging.net` (so no "VM and host don't share name resolution" issues can occur), and the same issue occurs:
[

[2022-01-05 08:09] RevRebel opened #13299 "New install, causes error"

[2022-01-05 08:15] #13299 closed

[2022-01-05 10:46] NikhilSharmaWe commented on #13186
@spowelljr and @shadowshot-x
- In `LogCommandStart()` we will only give value to `startTime` in `newRow()` function. We are not going to add `endTime` in this function but since `newRow()` function need argument for `endTime` it will show an error. How can we deal with that ?

- After that we will generate a random string and write it in place of one of the arguments in the `newRow()` function {no

[2022-01-05 12:07] TekTimmy commented on #12315
as it happens the IPs are conflicting with the IPs from our company network we really would need to make this configurable

[2022-01-05 15:19] afbjorklund commented on #12274
Same as https://github.com/kubernetes/minikube/issues/13190

[2022-01-05 15:27] afbjorklund commented on #12274
@sharifelgamal : the best fix would be to add the arch after the os in the cache.

* https://github.com/kubernetes/minikube/issues/9593

Same way that we fixed `kubectl`, when it was using the Linux binary on a Mac...

* https://github.com/kubernetes/minikube/issues/6559

[2022-01-05 18:26] spowelljr commented on #13186
1. Only `Log` calls `newRow` so feel free to modify `newRow` as much as you'd like. You can simply remove the func param for `endTime` from `newRow`.
2. So first update the `row` struct to add an `ID` field, then in `newRow` create the unique ID. You can use the `"github.com/google/uuid"` package and do `uuid.New().String()` and assign the ID to the row. That row struct then gets returned and we n

[2022-01-05 19:07] spowelljr commented on #10158
Thanks for outlining the issue @snickell, I created a PR that should resolve this issue.

[2022-01-05 19:14] spowelljr commented on #13192
Hi @drdkadtr, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-01-05 19:18] sharifelgamal commented on #13181
Interesting, if the cert is expired, minikube should automatically generate a new one. Have you tried @medyagh's advice above?

[2022-01-05 19:27] klaases commented on #13260
Hi @getkub, if you don't mind, could you please provide minikube logs?

Please attach (drag) the`logs.txt` file to this issue  which can be generated by running this command:

[code]

This will help us isolate the problem further. Thank you!

/triage needs-information
/kind support

[2022-01-05 19:31] spowelljr commented on #13198
Hi @5u9, from looking at your logs it looks like you went from using minikube v1.20.0 to v1.24.0 using the same cluster. Try running `minikube delete` and try starting minikube again.

-----

Hai @5u9, dari melihat log Anda, sepertinya Anda beralih dari minikube v1.20.0 ke v1.24.0 menggunakan cluster yang sama. Coba jalankan `minikube delete` dan coba mulai minikube lagi.

[2022-01-05 19:33] sharifelgamal commented on #12962
A lot of things about ingress has changes over the last two version of minikube, mostly due to changes on Kubernetes' side, I'm willing to bet that's the reason.

cc @prezha who is our ingress guru.

[2022-01-05 19:38] klaases commented on #13068
Hi @bocian67 – is this issue still occurring? Were you able to apply @Pictor13's suggestion above?

This issue will be closed as some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

* Attach the full output of minikube logs, run `minikube logs --file=logs.txt` to create a log f

[2022-01-05 19:40] sharifelgamal commented on #12965
The logs you posted don't seem to be the complete logs, since it just stops partway through the creation of the Hyper-V VM. It is pretty clear that the VM hasn't been created successfully based on the `minikube status` output (whatever IP address is listed in the minikube config clearly isn't actually there), but without more detailed logs it'll be hard to debug.

Could you run `minikube logs --fi

[2022-01-05 19:41] klaases commented on #13008
Hi @nicksieger – thanks for your comments, were you able to apply @medyagh's suggestion above?

This issue will be closed as some time has passed. If needed, please feel free to re-open the issue by commenting with `/reopen`.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

* Attach the full out

[2022-01-05 19:45] sharifelgamal commented on #12971
Yeah, make sure to use our arm64 binary if you are running on an Apple M1, we even display an error message our the top of our output:
[code]

We should make our error message more clear.

[2022-01-05 19:45] #12971 closed

[2022-01-05 19:46] nicksieger commented on #13008
I think we can close. I haven't had time to see if other cluster providers will also adopt the metadata approach. Let me know if there's any further effort to standardize it.

[2022-01-05 19:46] #13008 closed

[2022-01-05 19:47] sharifelgamal commented on #13025
We should update our istio addon yaml to be compatible with newer versions of Kubernetes. Thanks for pointing that out. Help wanted!

[2022-01-05 19:49] sharifelgamal commented on #11141
This is still something we'd be happy to accept PRs for.

[2022-01-05 20:55] #13068 closed

[2022-01-05 21:22] spowelljr commented on #13288
Hi @vimalkansal, thanks for reporting your issue with minikube!

This is a duplicate of https://github.com/kubernetes/minikube/issues/12274, the fix should be to run `minikube delete --all --purge` and then try starting minikube again.

The cause of the issue is you likely tried starting minikube using an amd64 binary previously and minikube dowloaded an amd64 version of kubectl, and it's trying t

[2022-01-05 21:22] #13288 closed

[2022-01-05 22:07] klaases commented on #12858
Hi @hendrikhalkow, were you able to review @afbjorklund's comment? Perhaps filing an issue with https://github.com/machine-drivers/docker-machine-driver-vmware would help in this case.

If needed, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as some time has passed.

Thank you for sharing your experience!

[2022-01-05 22:12] klaases commented on #12894
Hi @webger3, please check whether there are other services using that IP address, and try starting minikube again.

_Google translate English to Spanish:_

Hola @ webger3, comprueba si hay otros servicios que utilizan esa dirección IP e intenta iniciar minikube de nuevo.

[2022-01-05 23:16] spowelljr commented on #13289
Hi @cdivita, thanks for reporting your issue with minikube!

What version of minikube are you using? I tried your two commands on v1.24.0 and it was successful for me.

[2022-01-05 23:20] spowelljr commented on #13290
Hi @maulikusdad, thanks for reporting your issue with minikube!

Can you please describe in more detail what's going wrong, please include reproduction steps and logs.

[2022-01-05 23:26] spowelljr commented on #13291
Hi @effyyvv, thanks for reporting your issue with minikube!

Could you run the command again and include the `--alsologtostdderr` flag and then upload the output.

Also, what version of minikube are you using?

[2022-01-05 23:27] #10158 closed

[2022-01-05 23:49] vimalkansal commented on #13288
Thanks a lot @spowelljr taht worked !

[2022-01-06 00:17] #13216 closed

[2022-01-06 01:05] spowelljr commented on #12274
To anyone coming across this problem:

1. Make sure you're using the arm64 binary of minikube
2. Run `minikube delete --all --purge`
3. Try starting minikube again

[2022-01-06 01:43] rsong0606 commented on #12274
It is working now. Thanks @spowelljr
(base) runtiansong@runtians-MBP istio-1.12.1 % minikube delete --all --purge
🔥  Deleting "minikube" in docker ...
🔥  Removing /Users/runtiansong/.minikube/machines/minikube ...
💀  Removed all traces of the "minikube" cluster.
🔥  Successfully deleted all profiles
💀  Successfully purged minikube directory located at - [/Users/runtiansong/.minikube]
(base) runtian

[2022-01-06 02:41] snickell commented on #10158
@spowelljr WOW! that is so awesome thank you for your work on this 🙏

[2022-01-06 02:56] snickell opened #13303 "Minikube assumes remote docker host is same arch as local machine"
### What Happened?

I'm using a MacOS ARM64 ("apple silicon") laptop as my dev machine, but I do builds on a remote Docker Linux AMD64 host using `DOCKER_HOST="tcp://192.168.1.44"`. If I create the minikube-in-docker while sshed into the Linux machine, minikube installs an AMD64 docker build. However, if I try to `minikube start` from my Mac initially, it incorrectly pulls and selects an ARM64 doc

[2022-01-06 03:06] snickell commented on #13303
Notably, if I `minikube start` from the Mac while running in Rosetta 2 (i.e. emulating x86_64), it DOES pull compatible AMD64 images on the remote `DOCKER_HOST`, in case anyone needs a quick workaround: `arch -amd64 minikube start` should work when using an M1 mac with a remote x64_64 `DOCKER_HOST`

[2022-01-06 04:17] NikhilSharmaWe commented on #13186
I have one question, that where are these logs. We have to put these logs as an argument in `LogCommandEnd()` function. Do this `~/.minikube/logs/audit.json` have to be added as logs.

[2022-01-06 08:54] afbjorklund commented on #13303
Right, this is a "bug":

* #9593

[2022-01-06 09:09] #13198 closed

[2022-01-06 10:27] ikaven1024 commented on #13261
[code]
it does not work for me.

➜  ~ podman version
Client:
Version:      3.4.4
API Version:  3.4.4
Go Version:   go1.17.3
Built:        Thu Dec  9 02:41:11 2021
OS/Arch:      darwin/arm64

Server:
Version:      3.4.4
API Version:  3.4.4
Go Version:   go1.16.8
Built:        Thu Dec  9 05:48:10 2021
OS/Arch:      linux/arm64

➜  ~ minikube version
minikube version: v1.24.0
commit: 76b94fb3c4e8ac50

[2022-01-06 10:55] getkub commented on #13260
Unfortunately I've uninstalled minikube as it was really hard to resolve DNS. (and went with k3sup due to urgency)

[2022-01-06 10:55] #13260 closed

[2022-01-06 11:56] egzonzeneli commented on #12658
Yeap i can confirm that, with that change i`ve been able to run minikube on Arm based Mac

[2022-01-06 12:41] drdkadtr commented on #13192
@spowelljr Sorry for late reply, but in meantime I went further with `manusa/actions-setup-minikube@v2.4.2`: https://github.com/drdkadtr/gh-action-minikube-app/blob/main/.github/workflows/ci.yaml

[2022-01-06 14:16] Divine1 opened #13305 "Exiting due to GUEST_PROVISION: Failed to start host: creating host: create: provisioning: Temporary Error: error getting ip during provisioning"
### What Happened?

after running below command receiving the attached error
`minikube start --driver=docker`

`
Exiting due to GUEST_PROVISION: Failed to start host: creating host: create: provisioning: Temporary Error: error getting ip during provisioning
`

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/7822349/logs.txt)

### Operating System

Ubuntu

### Drive

[2022-01-06 15:11] ravimalvia commented on #13028
The problem with minikube happened because of update of windows 10, i have find the solution that uninstall  some updates then check if minikube is working

[2022-01-06 15:17] sathiralamal commented on #11645
Same here with Docker

[2022-01-06 17:04] #11505 closed

[2022-01-06 17:48] spowelljr commented on #13186
In [logFile.go](https://github.com/kubernetes/minikube/blob/master/pkg/minikube/audit/logFile.go) we have a variable `currentLogFile` that's either `nil` or points to the `audit.json` file. If it's `nil` just run `setLogFile()` like we do here [report.go](https://github.com/kubernetes/minikube/blob/master/pkg/minikube/audit/report.go#L35).

[2022-01-06 18:12] #13233 closed

[2022-01-06 20:01] sharifelgamal commented on #9593
Ok, this has become more of an issue recently, since if someone accidentally runs an amd64 minikube binary on an arm machine, it corrupts their cache. Let's fix this one and for all.

[2022-01-06 21:24] schwichtgit commented on #12426
PR #13000 should address this issue.

$ ls -al  /mnt/hgfs
total 5
dr-xr-xr-x 1 root root 4192 Jan  6 21:24 .
drwxr-xr-x 4 root root   80 Jan  6 19:18 ..
drwxr-xr-x 1 root   80  160 Dec  7 23:39 Users

[2022-01-06 22:38] spowelljr commented on #11552
Hi @aurelien-m, this should have been fixed with https://github.com/kubernetes/minikube/pull/13013, try using the newest version of minikube (v1.24.0) and let me know if it's resolved, thanks!

[2022-01-06 22:40] spowelljr commented on #11552
Hi @guiliguili, I see you're using the newest version of minikube and still seem to be getting this error. What driver do you use with minikube? And have you tried deleting the cluster (`minikube delete --all`) and creating a new one since updating to minikube v1.24.0?

[2022-01-06 22:41] spowelljr commented on #11614
Duplicate of https://github.com/kubernetes/minikube/issues/11615

[2022-01-06 22:41] #11614 closed

[2022-01-06 22:45] spowelljr commented on #13012
Same error as https://github.com/kubernetes/minikube/issues/11615

[2022-01-06 23:31] rkazak opened #13312 "minikube start"
The example
[code]

produced the following output, and did not work as expected. I am using minikube on an M1 mac, but I don't think that is an issue as my previous test with a plain 'minikube start' worked.

[code]

Also when I try to save the log files via
[code]

I get the following

[code]

[2022-01-06 23:35] rkazak commented on #13312
Maybe the 'aged' example is too old?

[2022-01-06 23:54] spowelljr commented on #12001
Hi @Abdulrhman-max, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-01-06 23:54] #12001 closed

[2022-01-07 00:17] #12190 closed

[2022-01-07 00:17] #12525 closed

[2022-01-07 04:32] victor-sudakov commented on #12360
@albert-salman ping!

[2022-01-07 16:20] #13255 closed

[2022-01-07 16:23] afbjorklund commented on #13255
Missing this usage information:
* #8175
* #11373

Upstream usage information:
* https://www.datadoghq.com/container-report/#8

[2022-01-07 16:45] 4fd81048-Brian opened #13314 "minikube start"
The alias for kubectl for windows should be:
doskey kubectl="C:\Program Files\Kubernetes\Minikube\minikube.exe" kubectl -- $*

[2022-01-07 16:58] afbjorklund commented on #13314
Is the information on https://minikube.sigs.k8s.io/docs/handbook/kubectl/ wrong ?

[code]

Care to make a PR, to explain when to use which ?

[2022-01-07 19:07] 4fd81048-Brian commented on #13314
Thank-you.  I was on https://minikube.sigs.k8s.io/docs/start/ where it says

You can also make your life easier by adding the following to your shell config:

alias kubectl="minikube kubectl --"

Thank-you for pointing me to the correct documentation!

[2022-01-07 21:03] spowelljr commented on #13312
Hi @rkazak, thanks for reporting your issue with minikube!

That output is expected, it's because you don't have a running instance, but the logs file should still have been generated.

As to why it's not starting, I'm thinking it's probably an issue with the Kubernetes version if it worked for you on a plain start.

[2022-01-07 21:38] spowelljr commented on #13284
@ediazm Try running `minikube delete --all` and then run `minikube logs --file=log.txt` again.

[2022-01-08 00:43] djangolo opened #13315 "docker "Failed to enable" when not using systemd"
### What Happened?

when trying to execute the:
minikube start --driver=none

minikube does not start properly

### Attach the log file

*
* ==> Audit <==
* |---------|------|---------|------|---------|------------|----------|
| Command | Args | Profile | User | Version | Start Time | End Time |
|---------|------|---------|------|---------|------------|----------|
|---------|------|---------|-----

[2022-01-08 01:14] #11825 closed

[2022-01-08 08:53] afbjorklund commented on #13315
Currently there are still a few places left that has systemd hardcoded, it is supposed to use the "sysinit" wrapper.

* #12276

Upstream support for not using systemd is getting less and less tested, since all major distros have changed now.

[2022-01-08 08:58] afbjorklund commented on #13315
I think the main issue here is running under WSL2, and that is covered in other issues.

[code]

[2022-01-08 09:01] afbjorklund commented on #13314
I think it assumed a regular shell, not a DOS prompt.

[2022-01-08 09:26] afbjorklund commented on #13293
that is not really the "Linux distro", that is the whole OS platform ?

i.e. switching from running containers to running virtual machines

https://docs.microsoft.com/en-us/windows/wsl/compare-versions

But _then_ we need to talk about distributions, especially with the known failures when using a system distro...

`System has not been booted with systemd as init system (PID 1). Can't operate.`

B

[2022-01-08 09:32] afbjorklund commented on #11574
Seems to be more related to the other SSH issues, try with --native-ssh=false if still relevant

[2022-01-08 12:32] vaibsharma opened #13317 "The connection to the server localhost:8443 was refused - did you specify the right host or port?"
### What Happened?

[log.txt](https://github.com/kubernetes/minikube/files/7833202/log.txt)

Unable top install minikube on MacOS Big Sur M1.

Attached the log file. Please have a look.

### Attach the log file

0108 17:56:34.111454   41158 logs.go:190] command /bin/bash -c "sudo /var/lib/minikube/binaries/v1.22.3/kubectl describe nodes --kubeconfig=/var/lib/minikube/kubeconfig" failed with error:

[2022-01-08 20:28] #11952 closed

[2022-01-09 02:48] DaemonWalker opened #13318 "Cannot start minikube with --driver=none"
### What Happened?

Hi, I met troubles with starting minikube with --driver=none

After I run ```sudo -E minikube start --driver=none```
It just stays at over 5 minutes
[code]
How can I solve it :(

Because I install minikube on my ubuntu server and I want to use another PC to visit the deployment on minikube,  so except --driver=none is there any other solution?

After I add --alsologtostderr fla

[2022-01-09 08:39] afbjorklund commented on #13318
You could use `kubeadm` directly, perhaps ?

[2022-01-09 10:12] cdivita commented on #13289
I'm using minikube 1.24.0 also.

[2022-01-09 13:26] DaemonWalker commented on #13318
Got ssh handshake error when using --driver=ssh
``` ssh: unable to authenticate, attempted methods [none], no supported methods remain```

But I made it by using kubeadm directly, thank a lot!

[2022-01-09 13:26] #13318 closed

[2022-01-09 20:11] subodhkumar95340 commented on #8257
Follow this command
It will resolve your issue
# sudo -E minikube start --driver=none
# sudo minikube config set driver none
# minikube start

[2022-01-09 20:12] subodhkumar95340 commented on #7903
Follow this command
It will resolve your issue
# sudo -E minikube start --driver=none
# sudo minikube config set driver none
# minikube start

[2022-01-09 20:32] afbjorklund commented on #8257
You don't need to run minikube with sudo.

[2022-01-09 20:32] afbjorklund commented on #7903
You don't need to run minikube with sudo.

[2022-01-09 20:32] #11022 closed

[2022-01-09 21:42] allanchau commented on #9720
/close

[2022-01-09 21:42] #9720 closed

[2022-01-09 22:04] ediazm commented on #13284
I was able to create the logfile attaching it. Thank you
[log.txt](https://github.com/kubernetes/minikube/files/7836064/log.txt)

[2022-01-09 23:08] JohnGossett opened #13319 "Exiting due to GUEST_START: Failed kubeconfig update: writing kubeconfig: Error writing file C:\Users\John\.kube\config: open C:\Users\John\.kube\config: Access is denied."
### What Happened?

While trying to set up a minikube cluster following [this tutorial](https://minikube.sigs.k8s.io/docs/start/) I received the titular error (Exiting due to GUEST_START: Failed kubeconfig update: writing kubeconfig: Error writing file C:\Users\John\.kube\config: open C:\Users\John\.kube\config: Access is denied.). There was no proposed solution above so I tried setting my environ

[2022-01-10 08:24] RA489 commented on #12698
/remove-lifecycle stale

[2022-01-10 08:42] victor-sudakov opened #13320 "Deleting persistent volume claims and persistend volumes on a multi-node minikube cluster does not delete files from disk"
### What Happened?

When deleting PVCs and PVs on a multi-node minikube cluster, these resources are reported as non-existent by `kubectl get pvc` and `kubectl get pv` but the actual files remain on disk under `/var/lib/docker/volumes/minikube-m02/_data/hostpath-provisioner/...` Thus the old data can be unexpectedly resurrected when you redeploy a StatefulSet, for example.

**How to reproduce**

1

[2022-01-10 10:09] rgordill commented on #10618
Sorry, I used another alternative for my tests, as I am not using vagrant.

[2022-01-10 12:53] edrandall commented on #4206
Running MacOS Big Sur 11.6.2 in a corporate environment which has the `pf` firewall configured, have been experiencing this issue.

I created a new pf rules file `/etc/pf.anchors/io.k8s.signs.minikube` and whittled it down to the following rule:
[code]

Reference the rules file in /etc/pf.conf:
[code]

To reload pf using the updated rules:
[code]

[2022-01-10 18:04] spowelljr commented on #13289
I also used macOS and the Docker driver. Could you try deleting the cluster `minikube delete --all` and then try starting and running the image commands again and see if that helps.

[2022-01-10 18:07] spowelljr commented on #13284
`error execution phase certs/apiserver-kubelet-client: failed to write or validate certificate "apiserver-kubelet-client": failure loading apiserver-kubelet-client certificate: failed to load certificate: the certificate has expired`

Looks like you're getting some sort of certificate error, can you try running `minikube delete --all --purge` to clear out your existing minikube certs and then try

[2022-01-10 19:12] medyagh opened #13322 "add tabbbe faq for docker replacement per shell environment"
### What Happened?

https://minikube.sigs.k8s.io/docs/faq/

### Attach the log file

no log

### Operating System

_No response_

### Driver

_No response_

[2022-01-10 19:17] openrory commented on #9792
Just ran into the same message. What worked for me was to:

1. install [Podman](https://podman.io/getting-started/installation)
2. create a VM with 2 CPUs: `podman machine init --cpus=2`
3. start the VM `podman machine start`
4. start Minikube with Podman as driver `minikube start --driver=podman`

[2022-01-10 19:19] afbjorklund commented on #13320
So volume for the first node is removed, but the volume for the second node is not ? Sounds like a bug, if so.

[2022-01-10 19:31] cdivita commented on #13289
I can try, however I'm using the Hyperkit driver since I'm using minikube as Docker Desktop replacement

[2022-01-10 19:46] spowelljr commented on #13289
Ah, you indicated that you're using the Docker driver in the initial issue creation, let me try using HyperKit.

[2022-01-10 19:55] cdivita commented on #13289
My fault, sorry. I updated the issue

[2022-01-10 20:20] eberlou commented on #6296
What are you setting your HTTP_PROXY to?
The Proxyman "listening on" address and port?

[2022-01-10 20:30] Hugo54 opened #13324 "--image-repository + coredns pulling issue due to namespace removed"
### What Happened?

Hi,

When I set the image-repostitory, after pulling a bunch of image, the process crash on the coredns image. After activate the logging it seems a bug during string append or something like that.

The correct repository image name is grc.io/coredns/coredns:v1.8.4 but when you set your repostory it become x.x.x.x/coredns:v1.8.4. Then the image is not found.

[code]

### Attach

[2022-01-10 20:53] afbjorklund commented on #13324
The coredns upgrade was a disaster.

[2022-01-10 22:06] spowelljr opened #13325 "Add an `--disable-optimizations` flag"
minikube does specific optimizations such as setting CoreDNS replication from 2 to 1 and more recently increasing the kubelet housekeeping intervals (https://github.com/kubernetes/minikube/pull/13189).

Adding this flag will let users revert all these optimizations incase it's causing issues with their use cases.

[2022-01-10 22:29] spowelljr commented on #13166
Some of the reports of slowness are coming specifically from Mac with HyperKit, so need to run time-to-k8s benchmarks against that combo.

[2022-01-10 23:43] spowelljr commented on #13289
It was successful for me with HyperKit as well, can you try `minikube delete --all` and then starting minikube again and running the image commands and see if that resolves your issue, thanks!

[2022-01-11 00:42] semistone commented on #6296
After turning on VPN, I can't pull image because can't connect to the internet
so I just run by

export HTTPS_PROXY=192.168.64.1:9090
export HTTP_PROXY=192.168.64.1:9090
export NO_PROXY=localhost,127.0.0.1,10.96.0.0/12,192.168.59.0/24,192.168.39.0/24,192.168.64.0/24
minikube start

and the postman will start a proxy and listen on port 9090

Reference to https://minikube.sigs.k8s.io/docs/reference/

[2022-01-11 04:07] victor-sudakov commented on #13320
Exactly.

How to reproduce:

Install the attached manifest. It will create two pods with PVs. Visit each pod and touch a file in its persistent volume, then find the files on the host machine:

[code]
Remove the manifest and the PVCs. The file on one of the nodes will remain, which I think is **incorrect and inconsistent behaviour**:

[code]
[reproduce.yaml.txt](https://github.com/kubernetes/minik

[2022-01-11 07:45] Hugo54 commented on #13324
Thanks for you reply.

After looking at all the log. Because the option of insecure registry was proposed, I supposed that I can use an http repository. However I find a lot of errors because related to https. I tried to configure a self signed certificate but it seems to be KO. Can we really use a private registry without a certificate ?

Maybe this issue trigger the fallback on docker.io ? with

[2022-01-11 07:50] georhiireva commented on #4206
Hello, colleagues.
MacOs BigSur.
I had the same issue with minishift and used recommendations from this topic to fix. I tried all options and this works for me (just use minikube instead of minishift):
1. minishift stop
2. minishit delete --clear-cahce
3. rm -fr ~/.minishift
4. brew reinstall hyperkit
5. brew reinstall docker-machine-driver-hyperkit
6. sudo chown root:wheel /usr/local/bin/docker-m

[2022-01-11 08:12] rafariossaa commented on #12954
Hi,
  Any comment on this issue ?

[2022-01-11 09:02] Hugo54 commented on #13324
Forget my last message, httpS doesn't seems a blocker. Just to let you know, I made a dirty hack as workaround with a reverse proxy and url rewriting and it works. So the main issue/bug is definitely this repository url for coredns.

Thanks,

[2022-01-11 09:30] afbjorklund commented on #13324
Eventually might have to provide a place to put custom SSL certs, including corporate SSL proxies that steams all your mail.

`SSL_CERT_FILE`
`SSL_CERT_DIR`

[2022-01-11 10:12] twz123 commented on #12389
@spowelljr Thnaks for fixing. Unfortunately, as a consequence of recreating the cluster, it's empty afterwards and all of its contents have to be recreated. This means that restarting such a cluster is not possible at all. Any chance to make restarts work again?

[2022-01-11 11:01] prashant-shahi commented on #12274
@spowelljr It works! Thanks 🙏

[2022-01-11 11:14] Hugo54 commented on #13324
The purpose of this POC is to find a way to provide Kubernetes for test/poc to users with the constraints of my compagny (spatial & military & gouverment is not a good mixed). Which means a lot of constraints ...
- I can't get a signed certificat by our CA each time a minikube is used
- I can't use our technical proxy since they decided to block the docker image in order to enforce the usage our p

[2022-01-11 11:14] #13324 closed

[2022-01-11 14:39] eberlou commented on #6296
Thanks!
It worked. Not the solution I hoped for, but it enables me to remove docker desktop for now.

[2022-01-11 14:52] cdkgoog commented on #13075
@spowelljr I'd be happy to take this one. From a design perspective, any ideas on how we want this to work? kubefwd supports quite a few flags. Maybe MVP for this feature would be just supporting forwarding all services in a namespace (-n) and all services in a namespace with label selectors (-l labelname=foo,labelname=bar)?

[2022-01-11 15:00] ckannon commented on #13075
/assign

[2022-01-11 17:32] Divine1 commented on #13305
this issue arised as i missed to execute some steps during installation. this issue is resolved now

[2022-01-11 17:32] #13305 closed

[2022-01-11 19:55] lironmo commented on #4816
PS C:\WINDOWS\system32> minikube start
* minikube v1.24.0 on Microsoft Windows 10 Home 10.0.19043 Build 19043
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Creating virtualbox VM (CPUs=2, Memory=5000MB, Disk=20000MB) ...
! StartHost failed, but will try again: creating host: create: precreate: This computer doesn't have VT-X/AM

[2022-01-11 20:14] markmandel commented on #12362
/remove-lifecycle stale

[2022-01-11 22:03] #12099 closed

[2022-01-12 03:50] alfinyusriansyah opened #13329 "permasalahan pada aktivasi ingress"
**Perintah yang diperlukan untuk merekonstruksi masalah**:

**Output penuh dari perintah yang gagal**:<details>

</Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]>
</details>

** Exited              patch                     1                   48d023ba3df86
c7acca8bf5fd5       6e38f40d62

[2022-01-12 07:14] afbjorklund commented on #9552
New errors:

[code]

[2022-01-12 07:18] afbjorklund commented on #11706
https://github.com/containers/podman/releases/tag/v4.0.0-rc1

[2022-01-12 08:02] RA489 commented on #11958
/remove-lifecycle stale

[2022-01-12 08:02] RA489 commented on #12317
/remove-lifecycle stale

[2022-01-12 08:03] RA489 commented on #12305
/remove-lifecycle stale

[2022-01-12 08:03] RA489 commented on #12423
/remove-lifecycle stale

[2022-01-12 08:03] RA489 commented on #12327
/remove-lifecycle stale

[2022-01-12 08:04] RA489 commented on #12406
/remove-lifecycle stale

[2022-01-12 08:34] addy3494 opened #13330 "Exiting due to GUEST_STATUS: state: unknown state "minikube": docker container inspect minikube --format=: exit status 1"
### What Happened?

Unable to start, Anything i'm missing. Was working fine few days back
[logs.txt](https://github.com/kubernetes/minikube/files/7852911/logs.txt)
.

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/7852912/logs.txt)

### Operating System

macOS (Default)

### Driver

Docker

[2022-01-12 09:04] #12504 closed

[2022-01-12 11:27] denniseffing commented on #8980
I will try to come up with a solution. I'm working on a PR for an external dns addon, not sure if I want to use CoreDNS though. Maybe bind in combination with RFC2136 is a better, more basic alternative that doesn't rely on another etcd.

@medyagh Would you mind reopening this issue?

/reopen

[2022-01-12 11:28] denniseffing commented on #8980
/assign

[2022-01-12 11:34] segevfiner commented on #8980
The CoreDNS via etcd is just what was/is currently available in the official external-dns for such a setup. Yeah, it's a bit clumsy. My PR, besides various documentation and fixes that I listed, and it likely becoming stale by now, is mostly complete except that I couldn't figure out how to get the host IP since for DNS I have to explicitly bind to the external interface due to having dnsmasq boun

[2022-01-12 11:34] segevfiner commented on #8980
/repoen

[2022-01-12 11:34] segevfiner commented on #8980
/reopen

[2022-01-12 12:20] denniseffing commented on #8980
externaldns has support for RFC2136 as well and a quick proof of concept on my machine worked flawlessly using `hostNetwork: true`. Seems promising!

[2022-01-12 12:31] anoopcs9 commented on #11459
While trying to create a cluster using `minikube` on CentOS we are also encountering the exact same issue:
[code]
Platform and binary details:
[code]
minikube options used are `--driver=kvm2`, `--nodes=3`, `--memory=4096`, `--cpus=2`, `--extra-disks=2`, `--disk-size=20g`

In fact minikube VM itself is running and IP is assigned to it.
[code]

What are we missing here?

[2022-01-12 14:06] rmetzger opened #13332 "Minikube is not running arm64 images even though they are available when running on Docker for Mac (Apple Silicon)"
### What Happened?

I’m running minikube with the docker driver on Docker for Mac on Apple Silicon.
I have a docker image that is available for both x86 and aarch64. When I run the image using “docker run” it runs as an aarch64, however when I launch a pod on K8s with exactly the same image, it’ll run the x86 variant.

[code]
It seems that the node is marked correctly as arm64.

Manually specifyin

[2022-01-12 14:17] afbjorklund commented on #13332
If you describe the node, what does it say for Architecture under System Info ?

[2022-01-12 15:13] rmetzger commented on #13332
[code]

and
[code]

I'm working on pulling an image from the node. For some reason the auth is failing against AWS ECR 🙈

[2022-01-12 15:17] afbjorklund commented on #13332
Seems you posted the wrong docker info (but it looks reasonable), there is also `minikube ssh docker info`.

[2022-01-12 15:23] rmetzger commented on #13332
Here's the right docker info (I hope):
[code]

[2022-01-12 15:27] afbjorklund commented on #13332
Also looks good, no idea why it would pull the wrong arch. Some manifests are plain wrong, but if it worked elsewhere... ?

You can dump the actual manifest with `docker manifest inspect`, maybe it can give some more clues as to why it gets lost

[2022-01-12 15:37] rmetzger commented on #13332
I can't find any `platform` related information from the manifest:

[code]

[2022-01-12 15:38] rmetzger commented on #13332
I can't find any `platform` related information when inspecting the manifest:
[code]

[2022-01-12 15:38] afbjorklund commented on #13332
That looks like a manifest, not like a manifest list (a.k.a. "fat manifest")

[2022-01-12 15:49] rmetzger commented on #13332
Allright, thanks a lot. So it's a classical layer 8 problem (aka I didn't fully understand how to build multi-arch docker images), and I need to get the manifest in the registry right (so that it knows about the different architectures) .. then minikube / kubernetes will pull the image for the right architecture.
Thanks a lot for your patience and for your help! I learned a lot through this!

[2022-01-12 15:50] rmetzger commented on #13332
I will close this ticket and only reopen it in the very unlikely case that something is wrong with minikube ;)

[2022-01-12 15:50] #13332 closed

[2022-01-12 16:13] afbjorklund commented on #13332
The workaround is the old-school prefix or suffix for the sub-images, like you described (digest or names/tags)

But that is annoying to use, multi-arch is much better. https://kubernetes.io/docs/concepts/containers/images/

[2022-01-12 18:24] leogovan opened #13334 "Unable to run minikube start"
### What Happened?

I am running an M1 Macbook Pro with MacOS 11.6.1.

I am trying to run `minikube start driver=docker` command and I am running into the error output attached to this issue. I am quite new to this so not really sure what to do here. I've attempted to run `swapoff -a` and `systemctl enable kubelet.service` but neither command is recognised.

I've tried running `minikube logs --fil

[2022-01-12 19:01] afbjorklund commented on #13334
If you previously ran the amd64 version of minikube, you might need to clear your cache before running arm64 version

[2022-01-12 19:02] rohitkesarvani55 opened #13335 "Minikube start command does not response on time"
### What Happened?

I am trying to bring the minikube up to run my one node kubernetes cluster but it is not responding

Below are the logs attached.

### Attach the log file

minikube start
* minikube v1.23.2 on Microsoft Windows 10 Home Single Language 10.0.19042 Build 19042
* Using the docker driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Pulling b

[2022-01-12 19:13] klaases commented on #13017
Hi @shubb30, have you tried `minikube delete --all`?

Are you still experiencing this issue? Maybe try updating Minikube and giving the above command a try.

[2022-01-12 19:14] sharifelgamal commented on #13242
I'm going to go ahead and close this issue for now. If you try the arm64 binary as recommended above (after a `minikube delete --all --purge`) and still have issues, please reopen this with more details.

[2022-01-12 19:14] #13242 closed

[2022-01-12 19:18] klaases commented on #8409
This issue will be closed as some time has passed, and comments above address the issue. Furthermore, the OP is no longer active on Github at this time.

If needed, please feel free to re-open the issue by commenting with `/reopen`.

Thank you for sharing your experience!

[2022-01-12 19:18] medyagh commented on #13248
Hi @@nallagondu, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2022-01-12 19:18] #13248 closed

[2022-01-12 19:19] #8409 closed

[2022-01-12 19:21] klaases commented on #10629
Hi @psaini79, per your comment above, glad that this issue was able to be resolved.

Will go ahead and close the issue. If needed, please feel free to re-open the issue by commenting with `/reopen`.

Thank you for sharing your experience!

[2022-01-12 19:21] #10629 closed

[2022-01-12 19:22] medyagh commented on #12924
@rahulanand16nov I wonder do u have a Crop Cert ? (are u using a corp laptop)

have u tried copying your corp root cert into minikube?

here are instructions
https://minikube.sigs.k8s.io/docs/handbook/untrusted_certs/

[2022-01-12 19:25] klaases commented on #11973
Hi @djplt, @medyagh left a comment on your PR, once we merge the PR we can close this issue. Thanks!

[2022-01-12 19:29] spowelljr commented on #13243
The `MINIKUBE_HOME` environmental variable is not required, it's only if you want to set a specific folder to use. If `MINIKUBE_HOME` isn't set it will default to `C:\Users\<user>\.minikube` on Windows.

I can see the default was working correctly from the logs:
[code]

A minikube installation does not set an environmental variable for `MINIKUBE_HOME`, that's completely up to the user to set if de

[2022-01-12 19:29] #13091 closed

[2022-01-12 19:31] medyagh commented on #13132
@Pictor13
have u tried adding a extra disk to minikube ? (currently only supported by hyperkit and kvm2)
[code]

[2022-01-12 19:32] medyagh commented on #12436
we should still do this

[2022-01-12 19:38] #11987 closed

[2022-01-12 19:39] medyagh commented on #13075
I am not sure how the implementation would work, but I would be okay with a design that could make it work as long as the user doesnt have to install anything extra

maybe something like "minikube service --all" could be a good idea to forward all services instead of just one

@ckannon please feel free to take a stab at it

[2022-01-12 19:40] spowelljr commented on #11839
Duplicate of https://github.com/kubernetes/minikube/issues/12218, closing

[2022-01-12 19:40] #11839 closed

[2022-01-12 19:42] sharifelgamal commented on #12690
This is almost certainly a docker issue and not a minikube issue, so I'm going to close this for the time being. If you have any updates, feel free reopen with more details.

[2022-01-12 19:42] #12690 closed

[2022-01-12 19:42] spowelljr commented on #11459
Hi @anoopcs9, could you run `minikube logs --file=logs.txt` and upload the generated log file, thanks!

[2022-01-12 19:42] medyagh commented on #11144
@psaini79 not sure about this issue, are u applying the same yaml file ? https://k8s.io/examples/admin/dns/dnsutils.yaml ?
do u need to change the namespace in the yaml file before applying too ?

[2022-01-12 19:42] medyagh commented on #11144
/triage needs-information
/kind support

[2022-01-12 20:02] ckannon commented on #13075
Awesome, that's what I was thinking as well.. I don't want to include the
library, more so, some of the functionality.

On Wed, Jan 12, 2022 at 2:39 PM Medya Ghazizadeh ***@***.***>
wrote:

[2022-01-12 20:08] sharifelgamal commented on #12953
This is a very interesting issue, we should take a closer look at this and root cause it.

[2022-01-12 20:11] medyagh opened #13337 "add kubeadm v1beta3 template for newer k8s version"
kubeadm v1beta3 is out  https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta3/

for kubernetes 1.23.0 and above we could use it

we should add a file to
https://github.com/medyagh/minikube/blob/25d17c2dde4920c00b4fe6f42aece999ce92cd5c/pkg/minikube/bootstrapper/bsutil/ktmpl/v1beta2.go#L21

and then make kubeadm init to use that template instead for k8s versions 1.23.0+

[2022-01-12 20:19] spowelljr commented on #12729
Hi @fernandrone, the reason the mount on start didn't output any errors is because errors are suppressed for mount on start unless `-v=1` is passed. I tried using minikube v1.24.0-beta.0 on my machine and the mount worked fine. Are you using a firewall perhaps, or something that would block the port?

[2022-01-12 20:22] medyagh opened #13338 "improve "make update-kubeadm-constants" to go over "Patch" versions of kuberentes"
we have an automation for bumping the kubeadm constants,
[code]

thats runs as a cron job in github action
https://github.com/kubernetes/minikube/blob/master/.github/workflows/update-kubadm-constants.yml

that creates a PR like this
https://github.com/kubernetes/minikube/pull/13336

the code for the script is in
https://github.com/kubernetes/minikube/blob/master/hack/update/kubeadm_constants/updat

[2022-01-12 20:26] leogovan commented on #13334
Thanks @afbjorklund, that was exactly it. Your reference led me to this https://github.com/kubernetes/minikube/issues/12274#issuecomment-1006201978 which completely solved it!

[2022-01-12 20:26] #13334 closed

[2022-01-12 20:31] afbjorklund commented on #13338
You can probably remove all the kubernetes components from the version list, since they _always_ match ?

~~k8s.gcr.io/kube-apiserver:v1.24.0~~
~~k8s.gcr.io/kube-controller-manager:v1.24.0~~
~~k8s.gcr.io/kube-scheduler:v1.24.0~~
~~k8s.gcr.io/kube-proxy:v1.24.0~~
k8s.gcr.io/pause:3.6
k8s.gcr.io/etcd:3.5.1-0
k8s.gcr.io/coredns/coredns:v1.8.6

Maybe double-check the names or something. If there is a

[2022-01-12 20:46] afbjorklund commented on #13330
This is not supposed to fail, it is just a sanity check that the volume contents was copied correctly from the kicbase image:

`docker run --rm --name minikube-preload-sidecar --label created_by.minikube.sigs.k8s.io=true --label name.minikube.sigs.k8s.io=minikube --entrypoint /usr/bin/test -v minikube:/var gcr.io/k8s-minikube/kicbase:v0.0.28@sha256:4780f1897569d2bf77aafb3d133a08d42b4fe61127f06fcfc

[2022-01-12 21:26] medyagh commented on #13338
thats intersting,

look at this experiment, seems like kubeadm just dumbly prints whatever we pass to it
[code]

[2022-01-12 21:34] #11935 closed

[2022-01-12 22:06] spowelljr commented on #13335
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-01-12 23:58] #13322 closed

[2022-01-13 00:23] medyagh commented on #13337
[code]

[2022-01-13 00:24] medyagh commented on #13337
[code]

[2022-01-13 00:26] medyagh commented on #13337
this needs to be added here

https://github.com/kubernetes/minikube/blob/3f205a0e14f334e34225ee996277ff69006c3097/pkg/minikube/bootstrapper/bsutil/kubeadm.go#L151

[2022-01-13 03:05] micahlmartin opened #13342 "Istio addon failed"
### What Happened?

Try to enabled the istio addon but it. failed.

### Attach the log file

https://gist.github.com/micahlmartin/911f4038c53f60eeecc93a794605ef6f

### Operating System

macOS (Default)

### Driver

Docker

[2022-01-13 06:42] anoopcs9 commented on #11459
[logs.txt](https://github.com/kubernetes/minikube/files/7860492/logs.txt)

[2022-01-13 10:28] rahulanand16nov commented on #12924
@medyagh Yup, found `2015-RH-IT-Root-CA.pem` in `/etc/ssl/certs`.

Copied
[code]
deleted and started with `minikube start --embed-certs`

Same issue :(

[2022-01-13 13:04] NikhilSharmaWe commented on #13337
@medyagh Could you please elaborate what are we trying to achieve here -
- What file should be added to https://github.com/medyagh/minikube/blob/25d17c2dde4920c00b4fe6f42aece999ce92cd5c/pkg/minikube/bootstrapper/bsutil/ktmpl/v1beta2.go#L21.
- What you are trying to say by these two configs mentioned in the comments ?

Looking forward to collaborate.

[2022-01-13 15:09] DylanSijanivandi opened #13344 "Connection refused when connecting to node port service via domain or ip"
minikube start --driver=docker --container-runtime=containerd
minikube image load mywebapp:1.0-SNAPSHOT
kubectl create deployment my-deployment --image=mywebapp:1.0-SNAPSHOT
kubectl expose deployment my-deployment --type=NodePort --port=443 --target-port=8443
kubectl port-forward my-deployment-57f4d6c9fb-hcqjl 443:8443

curl https://localhost/utilities/json-test
works.
curl https://[domain name or

[2022-01-13 15:54] pointearth commented on #9914
Thank you @tstromberg, I tried your solution and the issue was fixed.
Let's think about it. it should be caused by DNS issue in minikube in VM, isn't it? so, if i use minikube with "docker driver", I don't have to delete the minikube, but debug the issue in my docker, right? so can i consider, it is a better way to use minikube with "docker driver"?

[2022-01-13 19:19] mikwieczorek opened #13346 "Using local docker registry inside minikube cluster with 'none' driver"
Hi,

I am learning kubernetess using minikube and I encountered a problem with using local docker registry inside minikube.
I have a docker registry running on my laptop with 5000:5000 port-forwarding.
Minikube is run with `none` driver and with `--insecure-registry` flag.

However, when I enter into a pod and run:
`curl localhost:5000/v2/_catalog` <- does not work
`curl 127.0.0.1:5000/v2/_catalog

[2022-01-13 20:23] afbjorklund commented on #13346
If you want to use your external registry inside the cluster (without using the real IP), you need to modify the proxy from the "registry" add-on. By default it will proxy to registry.kube-system.svc.cluster.local but you want it to use the host registry.

We don't recommend running the "none" driver on your laptop, since there is no isolation between "your files" and the cluster. For instance if

[2022-01-13 20:26] afbjorklund commented on #13346
It's actually something that could be a nice feature, and would deserve some better documentation.

* https://github.com/kubernetes/minikube/issues/12087

[2022-01-13 20:28] afbjorklund commented on #13346
Alternatively one could set up a _real_ registry inside the cluster, and avoid the localhost hack.

This would involve creating and distributing the ssl certs for the ClusterIP, to the other pods.

[2022-01-13 20:29] ghauser330 opened #13348 "The connection to the server localhost:8443 was refused"
### What Happened?

Attempting to troubleshoot why minikube will not start.  Really sorry but this log file acquired is quite **verbose**.  Do see the log at **END** keeps repeating an issue but not sure if this is why minikube will not run.  Can some one assist with my understanding of this issue?

### Attach the log file

PS C:\> minikube start
* minikube v1.24.0 on Microsoft Windows 10 Enterpri

[2022-01-13 20:35] noelwelsh commented on #10342
/close

[2022-01-13 20:35] #10342 closed

[2022-01-14 01:45] pythonwood commented on #11705
@medyagh  @sharifelgamal

No yet, I just try in v1.24.0 a min ago. just as @theoamonteiro say.

[2022-01-14 01:49] pythonwood commented on #11705
[code]

start with same long command, then it happen

[2022-01-14 07:54] rico-qian opened #13350 "minikube start arm64架构报告无法下载kubelet、kubeadm等"
**重现问题所需的命令**：
minikube start --image-mirror-country='cn' --force

**失败的命令的完整输出**：<details>
😄  minikube v1.24.0 on Centos 7.9.2009 (arm64)
❗  minikube skips various validations when --force is supplied; this may lead to unexpected behavior
✨  Automatically selected the docker driver. Other choices: none, ssh
🛑  The "docker" driver should not be used with root privileges.
💡  If you are running mini

[2022-01-14 09:47] dpalmeira commented on #8564
Hi all, any news about this issue?
I'm using latest minikube, kubernetes, mac, docker, and I have the same issue, it seems to be related with the postgres user and the local mounted folder:

Postgres Container Log:
chmod: /var/lib/postgresql/data: Operation not permitted
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.
The da

[2022-01-14 09:59] afbjorklund commented on #8564
The files stored under `/data` on the minikube node are supposed to be persisted, even if not shared with the host filesystem.

[2022-01-14 10:36] katsew opened #13351 "gcp-auth addon does not create image pull secret for new namespace"
### What Happened?

I enabled gcp-auth addon, and I realized that this addon does not detect namespace creation.
I usually use skaffold with helm, and it automatically creates a namespace for me.
However, with this addon, I have to run  `minikube addons enable gcp-auth --refresh` every time helm create new namespace, and It is not good workaround for my situation.

Here is the step to reproduce.

[2022-01-14 10:52] taeuuoo commented on #12950
I'm using M1 Pro too, and also have seen the same message.
And it had been succesfully done when I made docker network manually before `minikube start`.
(I used `docker network create --subnet 192.168.9.0/24 --driver bridge minikube`)

[2022-01-14 10:56] taeuuoo commented on #12950
If you just wanna run anyway, make docker network manually(I used subnet 192.168.9.0/24).
Then `minikube start` might work.

[2022-01-14 11:30] dpalmeira commented on #8564
ohhh yes!, you are right, thanks to your comment I finally did it!
Thank you!!

My notes to help others:
1) Mount a local folder in your Mac host is NOT necessary (minikube mount xx:xx)
2) If you go to minikube ssh, and look at /data you will see your data there and it survives to minikube stop/start and event MacBook reboots.
3) My concrete example for Postgis/Postgresql official image.

--------

[2022-01-14 11:54] RaminHeidari opened #13352 "X Exiting due to DRV_CP_ENDPOINT: failed to get API Server URL: failed to parse ip for "localhost" W0114 12:47:40.287779 19104 out.go:241]"
### What Happened?

I tried to start minikube on windows 10 but i tried serveral times to delete minikube and start it again. It did not work and recieve this error:
PS C:\WINDOWS\system32> minikube start --alsologtostderr
I0114 12:46:37.733801   19104 out.go:297] Setting OutFile to fd 88 ...
I0114 12:46:37.761177   19104 out.go:344] TERM=,COLORTERM=, which probably does not support color
I0114 12

[2022-01-14 12:20] RaminHeidari commented on #13352
it is fixed by changing DOCKER_HOST=tcp://localhost:2375 to DOCKER_HOST=tcp://127.0.0.1:2375

[2022-01-14 17:18] mikwieczorek commented on #13346
@afbjorklund thank you for your prompt and detailed reply. I really appreciate your help.

I took you advice and deployed minikube with docker driver this time.

As for the `localhost` and docker registry I tried to create the proxy to expose `localhost:5000` inside pods and to point to my host-machine IP and docker registry. Unfortunately, I could not successfully use the `localhost:5000` inside

[2022-01-14 17:19] afbjorklund commented on #13346
I thought you already had a registry, and just wanted to run the "proxy" (nginx) part of the hack

[2022-01-14 17:59] mikwieczorek commented on #13346
I have a registry, but on the host machine, outside the k8s. The only thing I would like to have to resolve `localhost:5000` inside the cluster to my host-machine docker registry.
So just the proxy should be enough in this case?

[2022-01-14 18:07] afbjorklund commented on #13346
Here was the direct link: [cluster/addons/registry/README.md#expose-the-registry-on-each-node](https://github.com/kubernetes/kubernetes/blob/6f48d86f0fde19ac71c234fcbb4917b6a1318014/cluster/addons/registry/README.md#expose-the-registry-on-each-node)

And here is the proxy: [cluster/addons/registry/images/Dockerfile](https://github.com/kubernetes/kubernetes/blob/6f48d86f0fde19ac71c234fcbb4917b6a131

[2022-01-15 16:55] Alan-Jino opened #13355 "inatallization error"
### What Happened?

 Exiting due to HOST_CONFIG_LOAD: unmarshal: unexpected end of JSON input

### Attach the log file

 - /tmp/minikube_logs_ea560e7c39f4d4d2c62e74a8ec967c82d0891d24_0.log

### Operating System

Ubuntu

### Driver

_No response_

[2022-01-15 16:57] Alan-Jino commented on #13355
please help

[2022-01-15 18:24] AdamKazimierak commented on #13084
Try running `minikube service first-app` using git bash for on windows

[2022-01-15 21:37] HerHde commented on #12569
@slabko Just to mention, your command lacks a `"` at the end, but thanks, it helped me, too ;-)

[2022-01-16 00:30] cornfeedhobo opened #13356 "Please embed docker cli"
### What Happened?

When starting a cluster with a non-docker driver, docker is running inside the created virtual machine. It would be nice if a docker cli was downloaded to match the version, similar to what is currently done with `kubectl`.

### Attach the log file

n/a

### Operating System

Ubuntu

### Driver

KVM2

[2022-01-16 00:57] cornfeedhobo commented on #13356
maybe nerdctl could be embedded instead if this is a licensing issue?

[2022-01-16 06:17] shuklagauravjn opened #13357 "unable to start minikube"
### What Happened?

 Exiting due to GUEST_START: Failed kubeconfig update: writing kubeconfig: Error creating directory: /mnt/c/dev/kubernetes: mkdir /mnt: read-only file system

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/7876490/logs.txt)

### Operating System

macOS (Default)

### Driver

Docker

[2022-01-16 07:14] nishipy commented on #11627
I created a PR (#13354)  to add simple solution for this issue. Please take a look. Thank you!
/assign

[2022-01-16 08:56] afbjorklund commented on #13356
We talked about it before, but it was decided that the user "knows" how to install the Docker client:

* #6402

Instead the parts of a docker CLI that minikube is using (image) was embeeded into `minikube image`.

Support for `nerdctl` is being added to a future release, currently there is only `ctr` and `buildctl`.

----

Since Kubernetes is moving towards towards the CRI standard, there is no us

[2022-01-16 09:02] afbjorklund commented on #13356
It would be great if you could detail the requirements that are **not** being covered by `kubectl` and `image` ?

Running with `--no-kubernetes` comes to mind, but that is not the primary use case of minikube I suppose...

Or if there is some better documentation available upstream, that could be added to the runtime documentation ?

https://kubernetes.io/docs/setup/production-environment/containe

[2022-01-16 09:11] afbjorklund commented on #13356
Note that you can use ssh:

`minikube ssh -- docker`

`minikube ssh -- sudo podman`

`minikube ssh -- sudo ctr`
`minikube ssh -- sudo buildctl`
`minikube ssh -- sudo nerdctl` (soon: #13252)

And for all of them, there is CRI:

`minikube ssh -- sudo crictl`

[2022-01-16 09:20] afbjorklund commented on #13356
All clusters will have a container runtime, which might not be docker. For none/ssh, it runs directly on host.

The container runtime used for the driver doesn't interact with the container runtime used for the host(s).
It is somewhat confusing, especially when running docker-in-docker. (as in: "which docker is which ?")

Tried to expand upon the topic in the Kubecon EU 2021 talk: https://sched.co

[2022-01-16 15:24] afbjorklund commented on #12953
The `/` file system is supposed to be mounted with overlayfs, but without "nosuid". So seems like a weird file system ?

So something is odd in this installation, a privileged container is supposed to be able to run both `sudo` and `hostname`.

[2022-01-16 18:04] cornfeedhobo commented on #13356
This might be a viable solution

The use case is the host does not have docker installed at all wants to use minikube's docker directly.

[2022-01-16 18:07] cornfeedhobo commented on #13356
@afbjorklund I'm going to close this since #9524 documents this topic will, and you've given some great comments here too. I'll also explore `minikube build`

[2022-01-16 18:07] #13356 closed

[2022-01-16 18:08] afbjorklund commented on #13356
Was just trying to get some input into why it (docker) should be kept, since upstream is desperately trying to get rid of it.

[2022-01-16 18:11] cornfeedhobo commented on #13356
Oh. It's because it's staying power will be here for a while longer. A lot of development workflows assume it. I'm sure this will finally flip in a few years but I'm working with the expectations I see right now.

[2022-01-16 18:25] afbjorklund commented on #13356
This was for Kubernetes 1.24, which is just a few months away...

Thanks for confirming my suspicions that it might be a bit premature

[2022-01-16 19:09] afbjorklund commented on #13357
I think minikube gets a bit confused, when the standard location is removed from KUBECONFIG.

[code]

So the first one should be writable, so that minikube can update the cluster-context in there.

[2022-01-16 19:49] afbjorklund commented on #13252
There is a nerdctl 0.16.0 out now.

[2022-01-16 21:11] afbjorklund opened #13358 "Document container runtimes available in minikube"
We should add some more detailed documentation, about the available container runtimes.

In alphabetical order:

* "containerd"

  * server: `containerd` + `buildkitd`
  * client: `nerdctl` (+ `ctr` + `buildctl`)

* "cri-o"

  * server: `crio` + `podman`
  * client: `podman`

* "docker"

  * server: `dockerd`
  * client: `docker`

We need some more information about tools and envionment, than what

[2022-01-16 21:40] afbjorklund commented on #13358
For containerd, see:
* #13252

[2022-01-17 03:18] RA489 commented on #10249
/remove-lifecycle rotten

[2022-01-17 05:06] anoopcs9 commented on #11459
Hi @spowelljr, let me know if more logs are required.

[2022-01-17 10:05] Rkabako opened #13360 "Minikube"
https://github.com/A/.dotfiles/commit/228af4e993ab551ad4d40bd77354c7813749e20d

[2022-01-17 14:25] mavjs opened #13361 "[Linux][Fedora35] Starting `minikube dashboard` fails with `Exiting due to HOST_KUBECTL_PROXY: readByteWithTimeout: EOF`"
### What Happened?

Launching `minikube dashboard` or `minikube dashboard --url` fails in launching the proxy with error: `Exiting due to HOST_KUBECTL_PROXY: readByteWithTimeout: EOF`

### Attach the log file

Here is the [log.txt](https://github.com/kubernetes/minikube/files/7882425/log.txt) obtained from running `minikube logs --file=log.txt`

### Operating System

Redhat/Fedora

### Driver

KVM

[2022-01-17 14:26] mavjs commented on #13361
## Tried a few things
I dug into the code in `minikube/cmd/kubectl.go` and tried running the code snippet to see if there was any problems. Turns out, it ran fine.

So I dug further and found that this error, for my use case at least, happens due to the use of `kubectl` via symlinking `minikube` binary as suggested alternative method in the doc: https://minikube.sigs.k8s.io/docs/handbook/kubectl/,

[2022-01-17 17:04] belfo commented on #1568
@medyagh @azhao155
I'm trying using driver=none but that don't work.
Could you help?

[2022-01-17 17:06] afbjorklund commented on #1568
@belfo : please open a new issue.

[2022-01-17 19:51] EduMorenoJ commented on #12953
I can run the last commands that you posted but I still got the same error as @nirandaperera running minikube start

[2022-01-17 20:24] cr-tech-repo commented on #4206
@georhiireva - There is typo in your second command with the work minishift

[2022-01-17 22:02] aurelien-m commented on #11552
Thank you for coming back, I cannot test it as I have moved away from using Kubernetes and minikube at the moment, and I don't have access to my older work on it!

[2022-01-18 01:20] chungjin commented on #13337
/assign

[2022-01-18 01:53] rsurendraidexcel opened #13369 "Not able start minikube"
### What Happened?

Hi any when i start
minikube start   i am not able start the service  i got error issue  bellow log file i attached. any body have idia about this issue
better one command
minikube doctor -> have option  all dependency software are checked if it is not available auto install, to make soure minikube ready to start.   some kind of commandline interface provides . it would be bett

[2022-01-18 03:04] RA489 commented on #11552
@aurelien-m should we close this issue if no further queries?

[2022-01-18 07:47] belfo opened #13370 "Pod unable to reach itself through a service using driver none"
### What Happened?

If a pod has a service which points to the pod, the pod cannot reach itself through the service IP. Other pods can reach the service and the pod itself can reach other services.
Refer to #1568

But im' using driver none, and the different proposal in the issue hasn't help.

Just a simple service :
apiVersion: v1
kind: Pod
metadata:
  name: replyer
  namespace: sample-domain1-ns

[2022-01-18 08:23] anubhav13103738 commented on #11452
I am facing the same issue:
ApplyLayer exit status 1 stdout:  stderr: unlinkat /etc/cron.daily: directory not empty

df -h:
Filesystem                      Size  Used Avail Use% Mounted on
/dev/sda2                       155G   14G  141G   9% /
devtmpfs                         16G     0   16G   0% /dev
tmpfs                            16G     0   16G   0% /dev/shm
tmpfs

[2022-01-18 08:26] jakoberpf commented on #12950
@tspearconquest I am on 12.0.1 and my network configuration is quite basic, as just DHCP on private WIFI. I can access the cluster ressources via portforwarding, but not via ingresses

@taeuuoo Your previous commen actually did the trick. Running `docker network create --subnet 192.168.9.0/24 --driver bridge minikube` before `minikube start` work fixed my error.

Is this in general a problem of mi

[2022-01-18 09:27] Allan-xd opened #13371 "minikube unable to start"
### What Happened?

Error restarting cluster: running cmd: sudo kubeadm init phase certs all --config /var/lib/kubeadm.yaml: running command: sudo kubeadm init phase certs all --config /var/lib/kubeadm.yaml: exit status 1

😿  Sorry that minikube crashed. If this was unexpected

### Attach the log file

Error restarting cluster: running cmd: sudo kubeadm init phase certs all --config /var/lib/kubea

[2022-01-18 09:34] aurelien-m commented on #11552
I'm fine with closing it, I don't have any further queries

[2022-01-18 10:08] chiterdidine opened #13372 "minikube : Requested cpu count 2"
**Étapes pour reproduire le problème:**
user@ubuntu:~$ sudo minikube start --driver docker --nodes 3

*Sortie complète de la commande `minikube logs`:**
<details>
😄  minikube v1.24.0 on Ubuntu 20.04
✨  Using the docker driver based on user configuration

⛔  Exiting due to RSRC_INSUFFICIENT_CORES: Requested cpu count 2 is greater than the available cpus of 1

</details>

**Sortie complète de la com

[2022-01-18 10:21] RA489 commented on #11552
/close

[2022-01-18 10:22] #11552 closed

[2022-01-18 10:56] afbjorklund commented on #13370
I don't think it is possible to run it without a CNI (?), so something like `--cni=bridge` should work around...

KubeNet is getting deprecated, so probably shouldn't recommend that. Not sure if kindnet works on node ?

[2022-01-18 11:32] belfo commented on #13370
My start command is:
sudo minikube start  --extra-config=apiserver.service-node-port-range=80-40000  --cni=bridge

[2022-01-18 11:58] afbjorklund commented on #13370
The default setup is supposed to work out-of-the-box, also when running directly on localhost.

[code]

Currently it just disables CNI, which is probably not the best choice. So should pick something else.

[code]

[2022-01-18 13:06] belfo commented on #13370
Not sure to understand.
Auto is currently disabling cni?
So starting with cni=bridge should be ok? I also tested cni=calico but still the same effect.

[2022-01-18 14:54] belfo commented on #13370
To start from a clean cluster i deleted the minikube and restarted with the above command:
sudo minikube start --extra-config=apiserver.service-node-port-range=80-40000 --cni=bridge --driver=none

Some pod don't start:
kube-system            pod/coredns-78fcd69978-25rc4                     0/1     ContainerCreating   0                13m

Works with default cni (auto) or calico
But in both case i

[2022-01-18 15:10] afbjorklund commented on #13370
That looks like the CNI plugins are missing, you are supposed to provide both CRI and CNI when running "none"

[2022-01-18 15:41] kwiechmann opened #13374 "minikube will not start -- hangs after "About to run SSH command""
### What Happened?

hyperkit: v0.20210107-14-g09fe92
Homepage: https://github.com/docker/hyperkit
License: BSD

minikube version: v1.24.0
commit: 76b94fb3c4e8ac5062daf70d60cf03ddcc0a741b

- MacOS Big Sur 11.6.2
- Cisco AnyConnect Version 4.10.01075

When debugging levels are more verbose, the last step seen is **About to run SSH command** before flip-flopping between. The IPs are not pingable, sha

[2022-01-18 17:49] ahmedas1980 opened #13375 "minikube emojis not showing up"
### What Happened?

![image](https://user-images.githubusercontent.com/96700665/149990378-814af9b3-74df-40d5-a290-68ae69b4023f.png)

### Attach the log file

q

### Operating System

_No response_

### Driver

_No response_

[2022-01-18 18:29] 589290 commented on #4302
Still have the same issue today with minikube 1.24 and Cisco VPN -- clearly not resolved -- even with allow LAN traffic in Cisco's options.

[2022-01-18 18:38] medyagh commented on #13075
thank you @ckannon if u dont mind adding it as a PR on minikube repo so I could review that way

[2022-01-18 18:40] ckannon commented on #13075
Already done, PR is here:
https://github.com/kubernetes/minikube/pull/13367/commits/3629b508d3912fdb593208f7a316ec76ba0dbc66

On Tue, Jan 18, 2022 at 1:38 PM Medya Ghazizadeh ***@***.***>
wrote:

[2022-01-18 19:35] kwiechmann commented on #13374
Will add the "minikube start ..." is behaving the same when running Docker Desktop for Macintosh 3.6.0 is used. Both would be using HyperKit under the covers.

[2022-01-18 21:46] Rkabako opened #13389 "Minicu"
https://github.com/nodejs/nodejs.org-archive/blob/master/doc/rss.xml#L١-L٤٥

[2022-01-19 02:09] DylanSijanivandi commented on #13344
Making a nat rule to forward https request to the external ip of a load balancer service worked, so I'll close the thread.

[2022-01-19 02:09] #13344 closed

[2022-01-19 03:29] backtrackshubham commented on #13032
Hi Team one quick question, so I am trying to install nfs server in minikube so that I could install nfs storage class and use it, but the pods for nfs server are failing so can I actually do it ?

[2022-01-19 04:05] gAmUssA opened #13394 "[apple silicon] minikube services list doesn't return IPs of services"
### What Happened?

with minikube on mac (x86) I used `minikube services list` to get URLs of the services.
For some reasons, it doesn't seem to work with Apple M1 macs.

Kindly advise

[code]

[2022-01-19 04:15] dropthemasquerade opened #13395 "Exiting due to DRV_MISSING_ADDRESS: Failed to start host: new host: dial tcp: missing address"
### What Happened?

## my libvirtd is running

[code]

## my docker is running

[code]

## my minikube version

[code]

## os information

[code]

### Attach the log file

[developer@VM-226-174-centos ~]$ minikube start
😄  minikube v1.24.0 on Centos 7.2 (amd64)
✨  Using the kvm2 driver based on existing profile
💾  Downloading driver docker-machine-driver-kvm2:

👍  Starting control plane node minik

[2022-01-19 04:24] RA489 commented on #13389
@Rkabako I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank yo

[2022-01-19 04:24] RA489 commented on #13389
/triage needs-information

[2022-01-19 04:25] RA489 commented on #13372
/kind support

[2022-01-19 04:26] RA489 commented on #13360
@Rkabako I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank yo

[2022-01-19 04:27] RA489 commented on #13360
/triage needs-information

[2022-01-19 04:27] RA489 commented on #13395
/kind support

[2022-01-19 04:28] RA489 commented on #13394
/kind support

[2022-01-19 04:28] RA489 commented on #13374
/kind support

[2022-01-19 04:29] RA489 commented on #13371
/kind support

[2022-01-19 04:29] RA489 commented on #13355
/kind support

[2022-01-19 04:39] gAmUssA commented on #13394
FWIW `minikube tunnel` does work

[2022-01-19 06:47] RA489 commented on #13351
/co docker-driver

[2022-01-19 06:49] RA489 commented on #13351
/kind support

[2022-01-19 06:49] RA489 commented on #13350
/kind support

[2022-01-19 06:51] RA489 commented on #13342
/kind support

[2022-01-19 07:55] belfo commented on #13370
Thx @afbjorklund .
 So i installled the plugins, and recreated the minikube, with bridge.
[t.txt](https://github.com/kubernetes/minikube/files/7895089/t.txt)
Still i can't call the pod through his service.
 curl -v replyer-ext:8080
* Rebuilt URL to: replyer-ext:8080/
*   Trying 10.109.12.235...
* TCP_NODELAY set
* connect to 10.109.12.235 port 8080 failed: Connection refused
* Failed to connect to

[2022-01-19 08:00] belfo commented on #13370
Also i have this logs in the journal:
Jan 18 17:32:09 ubuntu-18-lts kubelet[29135]: I0118 17:32:09.312567   29135 docker_service.go:566] "Hairpin mode is set but kubenet is not enabled, falling back to HairpinVeth" hairpinMode=promiscuous-bridge
Jan 18 17:32:09 ubuntu-18-lts kubelet[29135]: I0118 17:32:09.312636   29135 docker_service.go:242] "Hairpin mode is set" hairpinMode=hairpin-veth

[2022-01-19 08:55] belfo commented on #13370
I checked https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/#pods-are-not-accessible-via-their-service-ip
Hairpin is enabled  (https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/#a-pod-fails-to-reach-itself-via-the-service-ip) :

[code]

[code]
and
[code]

and hostname -i return an ip
[code]
(I'm using vagrant)

Still the call don't

[2022-01-19 09:09] tharun208 commented on #10701
/assign

[2022-01-19 10:03] pchanas opened #13396 "Impossible de démarrer MiniKube (macOS)"
**Étapes pour reproduire le problème:**

1. minikube start --kubernetes-version=v1.19.14 --driver=hyperkit --container-runtime=docker
2. MacOS Montery 12.1
3. Etapes suivies pour l'installation, etc : https://itnext.io/goodbye-docker-desktop-hello-minikube-3649f2a1c469

**Sortie complète de la commande `minikube logs`:**
<details>

W0119 10:40:33.016650   49592 out.go:241] ❌  Fermeture en raison d

[2022-01-19 15:26] NikhilSharmaWe commented on #13314
@afbjorklund Do we still need addition in the documentation, could you please inform. I will be happy to help.

[2022-01-19 15:30] metaswirl opened #13397 "Cannot mount with minikube start command"
### What Happened?

I am trying to start a minikube cluster with a mounted directory. When I ssh into minikube the directory is empty

[code]

In contrast, when I mount the dir in a running minikube instance it works.

[code]

Background information:
- System: MacOSX with Apple M1 chip
- Driver: Docker Desktop 4.4.2 (73305)
- minikube version: v1.24.0 (commit: 76b94fb3c4e8ac5062daf70d60cf03ddcc0a7

[2022-01-19 17:15] Tchokomeni opened #13398 "My Minikube dashboard doesn't work"
### What Happened?

Fermeture en raison de HOST_KUBECTL_PROXY : proxy start: fork/exec /usr/local/bin/kubectl: exec format error

### Attach the log file

Log file created at: 2022/01/19 16:55:38
Running on machine: MacBook-Pro-de-TCHOKOMENI
Binary: Built with gc go1.17.2 for darwin/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I0119 16:55:38.019783   17155 out.go:297]

[2022-01-19 17:59] spowelljr commented on #13352
Hi @RaminHeidari, thanks for reporting your issue with minikube!

As you discovered changing `localhost` to a numeric IP resolves this issue.

This has actually been fixed with https://github.com/kubernetes/minikube/pull/13300 and will be included in the v1.25.0 release of minikube coming out today.

I'm going to close this issue, thanks for using minikube!

[2022-01-19 17:59] #13352 closed

[2022-01-19 18:02] spowelljr commented on #13348
Hi @ghauser330, thanks for reporting your issue with minikube!

From looking at your logs I see it's using Kubernetes v1.22.4-rc.0 which is a non-GA version. Could you try running `minikube delete --all` and then try starting minikube again and see if that resolves your issue, thanks!

[2022-01-19 18:13] spowelljr commented on #13330
Hi @addy3494, it seems like the minikube container got deleted from Docker somehow. I'm assuming `minikube delete --all` and then starting minikube would resolve this issue.

[2022-01-19 18:43] addy3494 commented on #13330
Yeah I did it and it's fine now.

[2022-01-19 18:47] afbjorklund commented on #13314
Don't know, don't use DOS myself.

[2022-01-19 19:21] spowelljr commented on #13290
Hi @maulikusdad, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-01-19 19:21] #13290 closed

[2022-01-19 19:26] klaases commented on #13315
Hi @djangolo, did you have a chance to review @afbjorklund's comments above?

[2022-01-19 19:28] sharifelgamal commented on #13181
I'm going to go ahead and close this issue for now, if you try out our advice above and still see issues, please reopen this with more details. Thanks!

[2022-01-19 19:28] #13181 closed

[2022-01-19 19:29] sharifelgamal commented on #12908
I'm going to go ahead and close this issue. If you would like to elaborate on this issue, feel free to reopen.

[2022-01-19 19:29] #12908 closed

[2022-01-19 19:29] klaases commented on #13303
Hi @snickell, were you able to review @afbjorklund comments above, and did you have any additional comments?

It looks like this issue might have been identified per #9593.

[2022-01-19 19:34] klaases commented on #13285
Hi @shankar524, would you be able to try running this without the `port` flag?

In terms of debugging, it might be that the port is not set correctly.

[2022-01-19 19:35] sharifelgamal commented on #13088
This might be a bug in our ingress addon for multinode clusters. I would like to take a closer look at this, or have someone who's ingress-savvy take a look at it.

cc @prezha

[2022-01-19 19:37] klaases commented on #13261
Hi @tbrodbeck, did you have a chance to review the above comments by @afbjorklund?

[2022-01-19 19:37] spowelljr commented on #13397
Hi @metaswirl, we've had a few mount improvements since our last release. We have a new release coming out later today and will include the changes, but in the meantime feel free to try out the latest binary and let me know if that resolves your issue, thanks!

https://storage.googleapis.com/minikube-builds/master/minikube-darwin-arm64

[2022-01-19 19:42] tbrodbeck commented on #13261
Sorry, I stopped using podman and switched back to Docker. Therefore, I cannot reproduce it anymore.

[2022-01-19 19:44] klaases commented on #13219
Hi @robtayl0r, from what I can tell, the [doc](https://minikube.sigs.k8s.io/docs/handbook/registry/#docker-on-macos) says to ignore the other port that is recommended by Minikube and just use the port 5000.

Can you try instead using port `5000` in your command:

[code]

[2022-01-19 19:50] klaases commented on #13111
嗨@jinq0123，这个问题还在发生吗？ 这是 #13137 的副本吗

From Google Translate:
Hi @jinq0123, is this problem still occurring? Is this a duplicate of #13137

[2022-01-19 19:51] klaases commented on #13084
Hi @YoussefHmidiSesame, were you able to apply @AdamKazimierak's suggestion?

[2022-01-19 19:53] klaases commented on #13012
Hi @medyagh, do we want to mark this as a duplicate of #11615?

[2022-01-19 20:00] klaases commented on #12928
Hi @johnmuth81, were you able to disable `ipv6` and did @jszwedko's comment help resolve this at least temporarily?

A new release is on its way, which may help to further resolve this issue.

[2022-01-19 20:01] sharifelgamal commented on #11219
We're currently working on an arm64 minikube ISO, it should be available for testing in the next few weeks.

[2022-01-19 20:13] ghauser330 commented on #13348
Yes Thanks it now seems fine.  Due have another question as am trying many
cmds on minikube but with can not seem to use the linux cmd "| grep image"
for example.  Is there a workaround for this?

On Wed, Jan 19, 2022 at 11:02 AM Steven Powell ***@***.***>
wrote:

--
Greg Hauser
623.332.2584

[2022-01-19 20:18] spowelljr commented on #12459
Hi @sayantanu-dey, I tried the same and got the same result.

Since we haven't got a response from @noxora I'm going to close this issue since it was unreproducible by two of us.

If you're able to provide more details @noxora feel free to respond and reopen the issue, thanks!

[2022-01-19 20:18] #12459 closed

[2022-01-19 20:21] spowelljr commented on #13203
Hi @rsotogar, this a duplicate of https://github.com/kubernetes/minikube/issues/12274 so I'm going to close this issue.

The steps to resolve this issue are as follows:
1. Make sure you're using the arm64 binary of minikube
2. Run minikube delete --all --purge
3. Try starting minikube again

[2022-01-19 20:21] #13203 closed

[2022-01-19 20:22] klaases commented on #12898
Will update the documentation, replacing Linux with macOS and marking as unsupported without `(see NFS mounts)`, per #13399.

FWIW, as far as `NFS mounts` documentation goes, this would be unique to each Linux distro, as each kernel will have its own documentation, like `man mount`.

[2022-01-19 20:22] klaases commented on #12898
FWIW, as far as `NFS mounts` documentation goes, this would be unique to each Linux distro, as each kernel will have its own documentation, like `man mount`.

[2022-01-19 20:23] klaases commented on #12898
/assign

[2022-01-19 20:25] spowelljr commented on #12549
Hi @debimishra89, this works for me using minikube v1.24.0 on Linux using the kvm2 driver. Could you try upgrading to the latest version of minikube and see if you issue is resolved? If not I'm going to assume this is an error specific to the none driver.

[2022-01-19 20:28] klaases commented on #12823
Hi @albertux – is this issue still occurring? Are additional details available?

[2022-01-19 20:28] klaases commented on #12673
Hi @amitsalunkhe21 – is this issue still occurring? Are additional details available?

[2022-01-19 21:19] snickell commented on #13303
Hi @klaases I don't know enough of the system internals to comment on @afbjorklund 's comment, but it seems very plausible to me? Fixing #9593 might not be enough to fix this, but it seems like a critical step at a min

[2022-01-19 21:50] spowelljr commented on #13348
If I understand your question correctly that you're trying to run `<cmd> | grep image` on Windows, then you have a few options.

1. Use the Windows equivalents: https://www.shellhacks.com/windows-grep-equivalent-cmd-powershell/
2. Install Git BASH which will allow you to run Linux command in the terminal: https://gitforwindows.org/
3. Install WSL via `wsl --install` and run Linux within Windows

[2022-01-19 21:52] spowelljr commented on #13012
This is for `TestStartStop/group/old-k8s-version/serial/Pause` while this one if for `TestStartStop/group/no-preload/serial/Pause` `no-preload` vs `group`. But I'm assuming that fixing one will likely fix the other.

[2022-01-19 21:58] spowelljr commented on #13330
Glad it works, I'm going to close this issue, thanks for using minikube!

[2022-01-19 21:58] #13330 closed

[2022-01-19 22:07] medyagh commented on #13372
@chiterdidine
[code]

u need 2 CPUs on your machine, but your machine has only 1 CPU

[2022-01-19 22:07] #13372 closed

[2022-01-19 22:43] klaases commented on #13261
Hi @tbrodbeck – thanks for your response, will close out this issue for now. Please feel free to re-open the issue by commenting with `/reopen`.

Thank you for sharing your experience!

[2022-01-20 02:04] jinq0123 commented on #13111
没再发生了。应该是不同的错误。

[2022-01-20 03:01] vivientouvier opened #13404 "Can't start minikube (unable to execute icacls to set permissions)"
### What Happened?

* minikube v1.25.0 sur Microsoft Windows 10 Pro 10.0.19044 Build 19044
* Choix automatique du pilote docker
* Démarrage du noeud de plan de contrôle minikube dans le cluster minikube
* Extraction de l'image de base...
* Création de docker container (CPUs=2, Memory=4000Mo) ...
* Nœud d'arrêt "minikube" ...
* Mise hors tension du profil "minikube" via SSH…
* Suppression de "minik

[2022-01-20 05:50] RA489 commented on #13398
/kind support

[2022-01-20 05:51] RA489 commented on #13404
/kind support

[2022-01-20 05:51] RA489 commented on #13396
/kind support

[2022-01-20 05:52] RA489 commented on #13369
/kind support

[2022-01-20 08:34] omersalaj opened #13405 "X Exiting due to HOST_KUBECTL_PROXY: readByteWithTimeout: EOF"
### What Happened?

Throws an error when try to start minikube dashboard (using vmware driver)

I0120 09:31:35.591697   14708 out.go:297] Setting OutFile to fd 92 ...
I0120 09:31:35.592631   14708 out.go:344] TERM=,COLORTERM=, which probably does not support color
I0120 09:31:35.592631   14708 out.go:310] Setting ErrFile to fd 96...
I0120 09:31:35.592631   14708 out.go:344] TERM=,COLORTERM=, which

[2022-01-20 09:03] omersalaj commented on #13398
Same here

[2022-01-20 10:45] a-nldisr commented on #13261
There are multiple users reporting this issue, why close it?

[2022-01-20 12:53] backtrackshubham opened #13406 "minikube storage provisioner"
### What Happened?

Please go through this issue https://github.com/kubernetes-sigs/kind/issues/2597

### Attach the log file

Na

### Operating System

macOS (Default)

### Driver

HyperKit

[2022-01-20 12:55] afbjorklund commented on #13406
This was about the nfs provisioner, right ? Not the default hostpath one

[2022-01-20 13:21] unixlab opened #13407 "Create new `releases.json` schema to support SHAs for all archs"
### What Happened?

Hi!

I noticed that the current [releases.json](https://github.com/kubernetes/minikube/blob/master/deploy/minikube/releases.json) does not comply with the [schema](https://github.com/kubernetes/minikube/blob/master/deploy/minikube/schema.json).

I noticed because `minikube update-check` is broken since the new `releases.json` was pushed out.
(see `Attach the log file` section)

[2022-01-20 14:08] backtrackshubham commented on #13406
@afbjorklund to me it seems both as I tried with kind and minikubes inbuilt k8s and in both the cases I found similar kind of behaviour

[2022-01-20 14:29] metaswirl commented on #13397
Hi @spowelljr,

thank you for your quick response. Unfortunately, the new binaries don't work on my system. I've deleted my existing minikube setup, killed all minikube processes and created different folders to avoid collision. The output is as follows:

[code]

Creating a minikube setup without mount point works.
[code]

I've pasted the logs here: https://pastebin.com/60gpiki6

[2022-01-20 14:39] metaswirl commented on #13397
Just saw that the new release 1.25 is already out. I have installed it via brew, but encountered the same problem as described in the my previous comment.

Mounting with `minikube mount` still works.

[2022-01-20 17:06] metaswirl commented on #12508
I've tried to follow the instructions above, but for me it cannot create the control plane:

- Macbook with M1 chip
- minikube v1.25
- lima 0.81

[code]

[2022-01-20 17:10] afbjorklund commented on #12508
Maybe it needs some special configuration, to run with rootless docker ? I haven't tried that myself.

[2022-01-20 17:53] cdivita commented on #13289
It works, thanks

[2022-01-20 17:53] #13289 closed

[2022-01-20 18:26] rotty3000 commented on #13407
I observed exact issue just now.

Here is the log as error message requests.

[minikube_update-check_ae3ada15876f093074b98305c9e67f32241694da_0.log](https://github.com/kubernetes/minikube/files/7907648/minikube_update-check_ae3ada15876f093074b98305c9e67f32241694da_0.log)

[2022-01-20 18:33] paurana commented on #13407
This is occurring because the first element of the json array is
[code]

The above json does not follow  this format
[code]

I did find a temporary fix, but it'll only work as long as the new versions follow the same format

[2022-01-20 18:36] albertux commented on #12823
hi @klaases I just tested this morning again and still failing
[logs.txt](https://github.com/kubernetes/minikube/files/7907693/logs.txt)

[2022-01-20 18:59] albertux commented on #12823
hi @klaases this time worked after I restart my desktop

`$ kubectl get po -A

NAMESPACE     NAME                               READY   STATUS    RESTARTS   AGE
kube-system   coredns-64897985d-mxx6h            1/1     Running   0          6m2s
kube-system   etcd-minikube                      1/1     Running   0          6m14s
kube-system   kube-apiserver-minikube            1/1     Running   0

[2022-01-20 19:09] akgowda opened #13411 "Unable to start minikube with VirtualBox"
### What Happened?
host only interface not created within range of cidr

[code]

### Attach the log file

unable to get logs

### Operating System

macOS (Default)

### Driver

VirtualBox

[2022-01-20 19:11] akgowda commented on #13411
I've tried reinstall of virtualbox and minikube. Both are not working.

[2022-01-20 19:32] klaases opened #13413 "v1.25.0 Hyperkit missing `/grub/grub.cfg`"
### What Happened?

When running v1.25.0 on Mac using Hyperkit, the following file is missing `/grub/grub.cfg` from the Buildroot configuration.

### Attach the log file

[code]

### Operating System

macOS (Default)

### Driver

HyperKit

[2022-01-20 19:34] klaases commented on #13413
/assign

[2022-01-20 19:34] th3fallen commented on #13413
same here

[2022-01-20 20:23] vrajannagari commented on #10859
Following worked for me for a similar issue.

rm '/usr/local/bin/kubectl'
brew install kubernetes-cli
brew link kubernetes-cli

[2022-01-20 20:30] spowelljr commented on #11452
Hi @anubhav13103738, are you running Rootless Docker perhaps?

[2022-01-20 22:04] afbjorklund commented on #13413
The file looks unused, both isolinux.cfg (and grub.cfg)

[2022-01-20 22:14] afbjorklund commented on #13411
Looks like https://www.virtualbox.org/ticket/20626

[2022-01-20 22:20] afbjorklund commented on #13411
Duplicate of:

* #12765

[2022-01-20 23:59] spowelljr commented on #13397
Ah, sorry, I should have looked harder at your initial logs. So the difference between the `minikube start --mount` vs `minikube mount` is because you're using the Docker driver. So if you `minikube start` with the Docker driver and pass the `--mount` the mounting is handled by Docker, but when you run `minikube mount` it uses `9P` to mount, which is a completely different mounting process.

So th

[2022-01-21 00:18] spowelljr commented on #13397
I looked at the log file you put in pastebin, I'm not sure if that was a `--mount` run or not, but you seemed to get an error trying to just untar the preload which is odd.
[code]

[2022-01-21 00:48] spowelljr commented on #13371
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-01-21 00:50] spowelljr commented on #13398
Hi @Tchokomeni, are you using an M1 Mac?

[2022-01-21 00:55] spowelljr commented on #13407
Thanks for pointing this out @unixlab, I updated the file to include SHAs for all out binaries but was unaware we had a schema file. I can take this over.

[2022-01-21 01:00] #12823 closed

[2022-01-21 01:16] spowelljr commented on #13407
For `1.25.0` & `1.25.1` we're going to revert to the old style of the schema and than for `1.26.0` we're going to have the new schema at a different endpoint that the newer versions of minikube can hit and not break the older versions.

[2022-01-21 01:55] spowelljr commented on #13407
Reverted the `releases.json` file, `minikube update-check` should be working again now, sorry for the inconvenience.

[2022-01-21 05:52] codelhh opened #13424 "【Mac M1】Exiting due to GUEST_START"
Exiting due to GUEST_START: Failed kubeconfig update: writing kubeconfig: Error creating directory: /etc/kubernetes: mkdir /etc/kubernetes: permission denied

[2022-01-21 07:46] afbjorklund commented on #13375
Probably missing a font ?

[2022-01-21 08:16] anubhav13103738 commented on #11452
No, I am using Root Docker.

[2022-01-21 11:34] iam-veeramalla commented on #13088
I will be happy to contribute to this. Please let me know if you can assign this issue to me.
@medyagh

[2022-01-21 17:11] pamuravi opened #13425 "local error: tls: bad record MAC"
### What Happened?

 local error: tls: bad record MAC

### Attach the log file

 https://kubernetes.oss-cn-hangzhou.aliyuncs.com/minikube/iso/minikube-v1.25.0.iso: getter: &{Ctx:context.Background Src:https://kubernetes.oss-cn-hangzhou.aliyuncs.com/minikube/iso/minikube-v1.25.0.iso?checksum=file:https://kubernetes.oss-cn-hangzhou.aliyuncs.com/minikube/iso/minikube-v1.25.0.iso.sha256 Dst:C:\Users\U

[2022-01-21 18:43] medyagh commented on #13407
@unixlab mind verifing if it is fixed now?

[2022-01-21 18:55] ahmedas1980 commented on #13375
thanks

[2022-01-21 20:37] paurana opened #13427 "minikube addons enable ingress fails"
### What Happened?

[code]

### Attach the log file

[logs.txt](https://drive.google.com/file/d/1UboZS7s61Z8Cg7lmXLfiV8XS95MMZMeg/view?usp=sharing)

### Operating System

Windows

### Driver

Hyper-V

[2022-01-21 21:42] spowelljr commented on #13424
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-01-21 22:25] spowelljr commented on #13369
Hi @rsurendraidexcel, thanks for reporting your issue with minikube!

You seem to be getting some cert issues:
[code]

Try running `minikube delete --all --purge` and then try starting minikube again and see if that resolves your issue.

[2022-01-22 02:56] rsurendraidexcel commented on #13369
Hi @spowelljr  thank you so much . quick support help  you are greate.

$ minikube delete --all --purge

this command  is realy work ,  awsome  ,Now  my  system  is up and runing kuernete s. thank you  for help and supports

[2022-01-22 09:38] bekamdo opened #13430 "minikube wont start"
### What Happened?

E0122 12:38:08.927239   15084 logs.go:190] command /bin/bash -c "sudo /var/lib/minikube/binaries/v1.22.3/kubectl describe nodes --kubeconfig=/var/lib/minikube/kubeconfig" failed with error: /bin/bash -c "sudo /var/lib/minikube/binaries/v1.22.3/kubectl describe nodes --kubeconfig=/var/lib/minikube/kubeconfig": Process exited with status 1
stdout:

stderr:
The connection to the s

[2022-01-22 11:08] abhidesh128 opened #13431 "Error while configuring RBAC rules"
I just started to learn about kubernetes and was successful to set it up on my MX Linux 21 (Debian 11) Machine.

I started the cluster using `minikube start` command and after my tutorial, I halted it with `minikube stop`. Now, when I try to start it again, it starts correctly, but throws these errors :
[code]
I am using minikube 1.25.1.

[2022-01-22 11:39] afbjorklund opened #13432 "Show the container runtime when running without kubernetes"
Currently we hide the container runtime output.

But there should be plenty of room to show it ?

No Kubernetes

[code]

With Kubernetes

[code]

----

This sentence is somewhat weird: "Starting minikube without Kubernetes minikube"

~Probably better off as "Starting virtual machine minikube" (or "container", for KIC) ?~

EDIT: It did say "VM" on the line below, so maybe something else rhyming wit

[2022-01-22 11:44] afbjorklund commented on #13432
Eventually this should tie into provisioning, and output the result of it:

* #10883

[2022-01-22 11:56] afbjorklund opened #13433 "Running with containerd starts crio"
This looks broken:

`minikube start --no-kubernetes --vm --container-runtime=containerd`

🏄  Done! minikube is ready without Kubernetes!

[code]

----

It was supposed to run containerd, not crio ?

[code]

When running with docker, it would start **both**.

(This is because CRI-O is started on boot of VM)

[2022-01-22 12:07] afbjorklund opened #13434 "Running minikube on minikube"
Some users want to use minikube as their container environment, instead of Docker Desktop.

Then they want to use this VM, to run Kubernetes inside a container - with the KIC driver.

Maybe this "double install" could be made simpler, than the current three step process:

[code]

Basically using [Docker Toolbox](https://github.com/docker/toolbox) (`docker-machine`), instead of Docker Desktop. And

[2022-01-22 12:28] aonoa commented on #8997
(base) minikube start --driver=podman
😄  minikube v1.25.1 on Ubuntu 20.04
✨  Using the podman driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
💾  Downloading Kubernetes v1.23.1 preload ...

E0122 11:53:53.241564 1042335 cache.go:203] Error downloading kic artifacts:  not yet implemented, see issue #8426
🔥  Creating podman cont

[2022-01-22 12:31] unixlab commented on #13407
@spowelljr @medyagh I can confirm that the fix is working of the following minikube versions:
- 1.23.3
- 1.24.0
- 1.25.0
- 1.25.1

I expect that it also works for all other minikube versions, I just haven't checked thoses.

[2022-01-22 17:57] noracenofun opened #13435 "Error: error inspecting object: no such container "minikube" / minikube with podman and cri-o on MacBook Pro with Apple Silicon M1 Pro"
### What happened?

### How can I fix this issue?

I can't successfully start minikube with podman:

[code]

minikube with podman and cri-o on MacBook Pro with Apple Silicon M1 Pro

[code]

[code]

[code]

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/7918960/logs.txt)
[minikube_logs_c4108912796292a7d53f0ef436f4d4f3d9325070_0.log](https://github.com/kubernetes/mi

[2022-01-22 18:06] MdSahil-oss commented on #13433
/assign

[2022-01-22 18:48] #11450 closed

[2022-01-22 21:10] cedricjacobs commented on #11885
Any clue when it is planned to be released?

[2022-01-22 22:35] eminaktas commented on #12508
This issue happens with the latest minikube, but with 1.24.0, it works fine. However, I tried @afbjorklund's suggestion for the newest minikube didn't work; I might be missing something.

Docker socket is not usable from the host machine, but inside VM, it is usable for both lima user and root.

[code]

minikube v1.24.0 installation for MacOS:

[code]

[2022-01-23 02:21] lmeyerov commented on #13370
Good spot on `--cni=bridge`, that improved things for us for driver=none (GPUs)

[2022-01-23 09:22] afbjorklund commented on #12508
I think you want to open an issue on https://github.com/lima-vm/lima for that, the ssh tunneling of the unix socket "should" work

[2022-01-23 11:06] afbjorklund commented on #13434
There was an article from Matt Rickard on Docker Desktop alternatives:

https://matt-rickard.com/docker-desktop-alternatives/

Unfortunately it didn't mention the _preferred_ minikube driver: "docker".

Or that the "hyperkit" driver uses the old Docker code (based on xhyve).

[2022-01-23 11:27] afbjorklund commented on #12508
Theoretically, one could write a howto on how to deploy rootful docker on Lima and then use that to run kubernetes-in-docker.
i.e. use lima instead of docker-machine, and then use the kind/kic install on top of / inside that VM similar to Docker Desktop.

But for the casual user, I think it would be much more straight-forward to just start a virtual machine with Kubernetes on it.
Currently minikub

[2022-01-23 11:39] eminaktas commented on #12508
Giving access to all users fixes the problem with `sudo chmod 666 /var/run/docker.sock` but I think this is not the expected behavior. Giving lima VM user permission to `docker.sock` should be enough. But somehow `sudo usermod -aG docker $USER` doesn't have any effect. It is like you have to start a new session like `su - myUser`

<details>

<summary>root-docker.yaml</summary>

[code]
</details>

[2022-01-23 11:47] afbjorklund commented on #13433
It is missing a call to `configureRuntimes`, before the `configureMounts` (and return):

[code]

[2022-01-23 11:58] afbjorklund commented on #13432
This also looks a bit useless:

[code]

Can skip the preload, for v0.0.0

[2022-01-23 12:01] afbjorklund commented on #12508
You need a new login session, or to use `newgrp docker` (which starts a new shell)

[2022-01-23 13:24] azahi commented on #12738
Run to this same issue today.

[code]

The fix was to just create the `/lib/modules` directory manually because NixOS doesn't follow FHS. Although, it would be really nice if minikube didn't assume that there must be this directory on the host system. Is there any reason on why this volume is being mounted?

[2022-01-23 14:43] afbjorklund commented on #12738
I think it is mounted for `modprobe` purposes (looking for kernel modules).

They usually fail because of a lack of "config", but that's another story...

[2022-01-23 14:50] afbjorklund commented on #12738
Couldn't NixOS add a symlink, to make it self compatible ?

[2022-01-23 14:54] afbjorklund commented on #13434
I should mention here that Docker Toolbox is **not** supported anymore.
And that it doesn't work out of the box (no tunneling) with `kind`, either.

Those projects were just used as reference, since they share some code.
They refer to using Docker Desktop, as the replacement for the others.

[2022-01-23 16:58] presztak commented on #12594
I've started working on this issue.
/assign

[2022-01-23 17:23] metaswirl commented on #12508
Went back to minikube 1.24 and indeed the issue disappeared. Great thanks!

Is mounting from lima supported atm? I can mount my home directory into lima vm (`limactl shell docker ls ~` shows the content from the host). However, when I ssh into minikube the dir is not mounted. When I run minikube mount I receive an error.

[code]

The path `/Users/theuser/Documents/code/minikube` exists on the host

[2022-01-23 18:00] afbjorklund commented on #12508
You can add volume mounts from the host (VM) to the minikube node (container)

Forgot the syntax right now, but should be on docker driver page

[2022-01-23 20:02] ShahNewazKhan commented on #10830
Ran into this issue and pinning my docker build to Apline v 3.12 worked as per [this.](https://github.com/gliderlabs/docker-alpine/issues/386#issuecomment-1000644809)

[2022-01-23 20:53] metaswirl commented on #12508
If it works with `minikube start --mount --mount-string=...`, shouldn't it also work with `minikube mount`? I had some [problems](https://github.com/kubernetes/minikube/issues/13397) with the former and docker.

[2022-01-23 21:00] metaswirl commented on #12508
Just tried it

[code]

The folder is generated, but empty:

[code]

I have plenty files under this folder on my host and the path is the same under lima vm.

[2022-01-23 21:04] metaswirl commented on #13397
Thanks @spowelljr, it is good to know that these are different thanks. I will use the 9P mount for now, as this works for me.

[2022-01-23 21:06] afbjorklund commented on #12508
Note that `/data` is pre-defined by minikube, so it might be over-mounted from the minikube volume.

[2022-01-23 21:28] afbjorklund commented on #13397
Hiding the docker volumes under "mount" was probably a bad idea, it is very confusing to use the same word for both.

[2022-01-23 23:06] metaswirl commented on #12508
Awesome! Changing the dir to /mydata works. Everything works. 👍

Also, for anyone else using an ARM architecture, keep in mind that the default docker configuration doesn't support cross compiling. So, you may not get amd64 images to work. I finally found a hint on how to deal with this here: https://github.com/lima-vm/lima/issues/42#issuecomment-916561621

[2022-01-24 02:47] LQss11 commented on #3781
In case you couldn't manage to fix the issue you can follow the [minikube docs for HyperV driver][1].

You can verify that it says:
[code]
So if you already have a Default external switch, there is no need to create a new one you will only need to run `as adminstrator`:
[code]

In case you had some issue you can try to delete with purge flag the minikube VM then restart it:
[code]

else you could

[2022-01-24 03:42] codelhh commented on #13424
xxx@macintoshdeMacBook-Pro ~ % minikube start --driver=docker --image-mirror-country='cn' --image-repository='registry.cn-hangzhou.aliyuncs.com/google_containers'

😄  minikube v1.24.0 on Darwin 11.2 (arm64)
    ▪ KUBECONFIG=/etc/kubernetes/admin.conf
✨  Using the docker driver based on user configuration
✅  Using image repository registry.cn-hangzhou.aliyuncs.com/google_containers
👍  Starting cont

[2022-01-24 03:43] codelhh commented on #13424
log file is empty

[2022-01-24 06:41] codelhh commented on #13424
==> container status <==
CONTAINER ID   IMAGE     COMMAND   CREATED   STATUS    PORTS     NAMES
time="2022-01-24T06:39:16Z" level=warning msg="runtime connect using default endpoints: [unix:///var/run/dockershim.sock unix:///run/containerd/containerd.sock unix:///run/crio/crio.sock]. As the default settings are now deprecated, you should set the endpoint instead."
time="2022-01-24T06:39:18Z" level

[2022-01-24 06:44] codelhh commented on #13424
I tried minicube delete -- all -- purge and restart minicube, but now I still report this error

[2022-01-24 07:11] danieldonoghue commented on #8997
im not in china and I get the same issue...
[code]

running Mac OS 12.1 on apple (M1) silicon

[2022-01-24 07:31] codelhh commented on #13424
After looking at other issues, it has been solved ，thanks

[2022-01-24 07:31] #13424 closed

[2022-01-24 10:45] VtG242 commented on #13431
I had the same issue ... removing whole ./minicube dir and minikube start solved the problem for me.

[2022-01-24 11:06] abhidesh128 commented on #13431
@VtG242 Thanks for your reply. Did you tried running `minikube stop` once and then again `minikube start` ?

When I first time ran `minikube start`, this issue was not there. It originated after halting the cluster, and then starting back again.

[2022-01-24 11:23] VtG242 commented on #13431
You're right, stop and start and the message is back :-(

[2022-01-24 13:13] #13030 closed

[2022-01-24 14:29] slasse commented on #1229
i had the same issue,
it is documented here: https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/
if you add the correct ip range to the no_proxy  variable you can keep your proxy configuration for the rest of your system

[2022-01-24 15:02] sftim commented on #13358
I'm not quite clear on what's meant by the “client” part of the issue description.

Let's say I run Minikube with qemu + kvm VM driver. I don't need to know about `docker`, `nerdctl` or `podman` to do that.

I recommend mentioning some additional context for this issue so it's clear what kind of pages this is relevant to and under what circumstances the user's choice of client becomes relevant.

[2022-01-24 15:08] afbjorklund commented on #13358
The "client" refers to the program that runs on host, such as `kubectl`.

[2022-01-24 15:11] afbjorklund commented on #13358
Also, there is even a new feature where people use minikube without Kubernetes.

Previously they could use "Docker Machine", but that project has been deprecated.

[2022-01-24 15:30] afbjorklund commented on #13358
The **preferred** driver for minikube even runs the cluster in a container inside a virtual machine:

* #13434

It is possible that the host no longer runs Docker Desktop, and the cluster no longer runs Docker Engine.

The subscription changes and interface changes are only _distantly_ related to this, but accelerates usage.

* https://www.docker.com/blog/updating-product-subscriptions/

* https:/

[2022-01-24 16:40] afbjorklund commented on #13358
You can run `minikube start`, and then `minikube kubectl` and `minikube dashboard` without learning the "internals".

This was more advanced documentation, for users that want to talk directly to the container runtime (outside of the CRI)

Either because there are things missing in the specification, or because they are doing something outside of Kubernetes ?

But there should not be any _need_ to

[2022-01-24 16:48] MdSahil-oss commented on #13432
@afbjorklund Do you think this is good first issue to contribute, if so, can you suggest me the path of changing files as I'm beginner and want to contribute too.

[2022-01-24 17:06] afbjorklund opened #13448 "Avoid downloading preload, when not using kubernetes"
Currently it is looking for `v0.0.0` on the preload server first

[2022-01-24 17:56] spowelljr commented on #13369
Glad it worked!

[2022-01-24 17:56] #13369 closed

[2022-01-24 18:45] spowelljr commented on #11459
Hi @anoopcs9, sorry for the delayed response.

I'm not very familiar with this part of minikube but I'll do my best to help.

Assuming you're asking how long it waits, it retries for one minutes with an exponential backoff.

I don't know the answer to that, but we could create a PR and run tests against it and see if it past tests.

[2022-01-24 18:53] spowelljr opened #13452 "kicbase image not being cached when using `--download-only`"
Reproduction:

1. `minikube start --driver=docker`
2. `minikube delete --all --purge // and don't remove kic image from Docker`
3. `minikube start --driver=docker --download-only`
4. `ls ~/.minikube/cache`
5. `kic` directory will be missing

`--download-only` is used for offline usage, but if you already have the kicbase image in Docker then it skips adding it to cache.

[2022-01-24 20:03] ahmedas1980 opened #13453 "deployment error --kubernetes"
### What Happened?

kubectl apply -f mongo-deployment.yaml
error: error validating "mongo-deployment.yaml": error validating data: [ValidationError(Deployment.spec.template.spec): unknown field "limits" in io.k8s.api.core.v1.PodSpec, ValidationError(Deployment.spec.template.spec): unknown field "requests" in io.k8s.api.core.v1.PodSpec]; if you choose to ignore these errors, turn validation off wit

[2022-01-24 21:13] medyagh commented on #5792
@prezha is there anything new on this?

[2022-01-24 23:11] LQss11 commented on #8898
I have had the same issue and have been trying to solve that for the last 2 days I have tried to install ingress addon:
[code]
and also tried to run :
[code]
looked for a way to allow the host machine to access the container IP address but apparently couldn't find a way to do that.

If you run minikube on docker:
[code]
you won't be able to access the **minikube IP** from your **host machine** sin

[2022-01-24 23:42] #13338 closed

[2022-01-24 23:56] #12594 closed

[2022-01-25 00:10] #9642 closed

[2022-01-25 00:22] #13433 closed

[2022-01-25 00:52] medyagh opened #13459 "Bump go.opentelemetry.io/otel/trace from 1.0.0-RC1 to 1.3.0 in go mod"
This automation Bot failed because it needs some API changes

https://github.com/kubernetes/minikube/pull/13382#issue-1107377417

[2022-01-25 02:33] cheese commented on #11187
Still an issue as reported at https://github.com/kubernetes/kubernetes/issues/93513

[2022-01-25 03:41] eyskim commented on #13459
Hi @medyagh, I've created a PR with changes identical to that of #13382. Could you please advise if more changes are required? Thanks!

/assign

[2022-01-25 04:19] charego opened #13461 "Cannot enable registry-creds addon when running without Kubernetes"
On a fresh minikube _with Kubernetes_, enabling the `registry-creds` addon works fine:

[code]

On a fresh minikube _without Kubernetes_, enabling the addon fails because it depends on `kubectl`:

[code]

Shouldn't it be possible to enable this plugin without Kubernetes?

[2022-01-25 06:18] minikube-bot opened #13462 "Frequent test failures of `TestAddons/parallel/MetricsServer`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestAddons/parallel/MetricsServer)|100.00|
|[Docker_Linux_crio_arm64](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Linux_crio_arm64&test=TestAddons/parallel/MetricsServer)|100.00|
|[Docker_Linux_

[2022-01-25 06:18] minikube-bot opened #13463 "Frequent test failures of `TestKubernetesUpgrade`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestKubernetesUpgrade)|100.00|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestKubernetesUpgrade)|100.00|

[2022-01-25 06:18] minikube-bot opened #13464 "Frequent test failures of `TestPause/serial/Pause`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Hyper-V_Windows&test=TestPause/serial/Pause)|20.00|

[2022-01-25 06:18] minikube-bot opened #13465 "Frequent test failures of `TestStartStop/group/cloud-shell/serial/AddonExistsAfterStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Cloud_Shell](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Cloud_Shell&test=TestStartStop/group/cloud-shell/serial/AddonExistsAfterStop)|20.00|

[2022-01-25 06:18] minikube-bot opened #13466 "Frequent test failures of `TestStartStop/group/cloud-shell/serial/EnableAddonAfterStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Cloud_Shell](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Cloud_Shell&test=TestStartStop/group/cloud-shell/serial/EnableAddonAfterStop)|20.00|

[2022-01-25 06:18] minikube-bot opened #13467 "Frequent test failures of `TestStartStop/group/cloud-shell/serial/SecondStart`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Cloud_Shell](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Cloud_Shell&test=TestStartStop/group/cloud-shell/serial/SecondStart)|20.00|

[2022-01-25 06:18] minikube-bot opened #13468 "Frequent test failures of `TestStartStop/group/cloud-shell/serial/Stop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Cloud_Shell](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Cloud_Shell&test=TestStartStop/group/cloud-shell/serial/Stop)|20.00|

[2022-01-25 06:18] minikube-bot opened #13469 "Frequent test failures of `TestStartStop/group/cloud-shell/serial/UserAppExistsAfterStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Cloud_Shell](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Cloud_Shell&test=TestStartStop/group/cloud-shell/serial/UserAppExistsAfterStop)|20.00|

[2022-01-25 06:18] minikube-bot opened #13470 "Frequent test failures of `TestStartStop/group/embed-certs/serial/FirstStart`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/embed-certs/serial/FirstStart)|100.00|

[2022-01-25 06:18] minikube-bot opened #13471 "Frequent test failures of `TestStartStop/group/newest-cni/serial/Pause`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/newest-cni/serial/Pause)|100.00|

[2022-01-25 06:18] minikube-bot opened #13472 "Frequent test failures of `TestStartStop/group/old-k8s-version/serial/EnableAddonWhileActive`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestStartStop/group/old-k8s-version/serial/EnableAddonWhileActive)|100.00|

[2022-01-25 08:17] minikube-bot opened #13473 "Frequent test failures of `TestFunctional/parallel/MySQL`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/parallel/MySQL)|50.00|

[2022-01-25 08:17] minikube-bot opened #13474 "Frequent test failures of `TestIngressAddonLegacy/serial`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestIngressAddonLegacy/serial)|100.00|

[2022-01-25 08:17] minikube-bot opened #13475 "Frequent test failures of `TestNetworkPlugins/group/calico/DNS`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_containerd_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_containerd_arm64&test=TestNetworkPlugins/group/calico/DNS)|20.00|

[2022-01-25 08:17] minikube-bot opened #13476 "Frequent test failures of `TestNetworkPlugins/group/false/DNS`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux&test=TestNetworkPlugins/group/false/DNS)|21.57|

[2022-01-25 08:17] minikube-bot opened #13477 "Frequent test failures of `TestStartStop/group/default-k8s-different-port/serial/AddonExistsAfterStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=QEMU_macOS&test=TestStartStop/group/default-k8s-different-port/serial/AddonExistsAfterStop)|100.00|
|[Docker_Windows](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Windows&test=T

[2022-01-25 08:17] minikube-bot opened #13478 "Frequent test failures of `TestStartStop/group/default-k8s-different-port/serial/Pause`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=QEMU_macOS&test=TestStartStop/group/default-k8s-different-port/serial/Pause)|100.00|
|[Docker_Windows](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Windows&test=TestStartStop/gr

[2022-01-25 08:17] minikube-bot opened #13479 "Frequent test failures of `TestStartStop/group/default-k8s-different-port/serial/SecondStart`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=QEMU_macOS&test=TestStartStop/group/default-k8s-different-port/serial/SecondStart)|100.00|
|[Docker_Windows](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Windows&test=TestStartS

[2022-01-25 08:17] minikube-bot opened #13480 "Frequent test failures of `TestStartStop/group/default-k8s-different-port/serial/UserAppExistsAfterStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=QEMU_macOS&test=TestStartStop/group/default-k8s-different-port/serial/UserAppExistsAfterStop)|100.00|
|[Docker_Windows](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Windows&test

[2022-01-25 08:17] minikube-bot opened #13481 "Frequent test failures of `TestStartStop/group/default-k8s-different-port/serial/VerifyKubernetesImages`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=QEMU_macOS&test=TestStartStop/group/default-k8s-different-port/serial/VerifyKubernetesImages)|100.00|
|[Docker_Windows](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Windows&test

[2022-01-25 09:18] belfo commented on #13370
After some trial, it worked after adding the following rule
sudo iptables -P FORWARD ACCEPT.

[2022-01-25 09:48] MdSahil-oss commented on #13432
/assign

[2022-01-25 11:11] MdSahil-oss commented on #13432
@afbjorklund, if we rename  "Starting minikube without Kubernetes minikube" to "Starting node minikube in cluster minikube" , it's good but if we change 🏄 emoji with something else like that 🐳, it will change the minikube status meaning that is already specified by minikube (you can check emojis meaning https://github.com/kubernetes/minikube/blob/master/pkg/minikube/style/style.go).

[2022-01-25 11:16] MdSahil-oss commented on #13432
and don't you think ?, Showing container runtime output will be a little bit confusing for beginners.

[2022-01-25 12:24] hebbarr opened #13483 "Issue Setting up Nginx Ingress Controller"
### What Happened?

Getting the below error while enabling ingress.

minikube addons enable ingress
    ▪ Using image k8s.gcr.io/ingress-nginx/controller:v1.1.0
    ▪ Using image k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.1.1
    ▪ Using image k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.1.1
🔎  Verifying ingress addon...

❌  Exiting due to MK_ADDON_ENABLE: run callbacks: running callback

[2022-01-25 13:34] ShivrajRameshPatil opened #13484 "Minikube not working"
### What Happened?

not getting

### Attach the log file

 minikube logs --file=logs.txt
E0125 18:59:24.241544    2901 logs.go:192] command /bin/bash -c "sudo /var/lib/minikube/binaries/v1.23.1/kubectl describe nodes --kubeconfig=/var/lib/minikube/kubeconfig" failed with error: /bin/bash -c "sudo /var/lib/minikube/binaries/v1.23.1/kubectl describe nodes --kubeconfig=/var/lib/minikube/kubeconfig":

[2022-01-25 14:17] #13464 closed

[2022-01-25 14:30] georhiireva commented on #4206
@cr-tech-repo , thanks, fix it

[2022-01-25 16:04] afbjorklund commented on #13432
It was supposed to look something like this:

[code]

Should hopefully be less confusing, not more ?

[2022-01-25 18:14] MdSahil-oss commented on #13432
What about this ?

[2022-01-25 18:19] danielorf commented on #9877
@g-luo > The fix was changing Docker's IP tables
What was the change to Docker's IP tables?

[2022-01-25 18:54] medyagh commented on #12809
@yosshy the source of confusion is that was a description not meant for listing sub commands, I would accept a PR that would fix that to be more simple and not confusing :)

[2022-01-25 19:03] spowelljr commented on #13329
Hi @alfinyusriansyah, thanks for reporting your issue with minikube!

Can you please run `minikube logs --file=logs.txt` and upload the `logs.txt` file to this issue.

Also, can you try running `minikube delete --all --purge` to start with a clean slate and try starting minikube again and see if that resolves your issue, thanks!

------

Hai @alfinyusriansyah, terima kasih telah melaporkan masalah

[2022-01-25 19:19] spowelljr commented on #13319
Hi @JohnGossett, thanks for reporting your issue with minikube!

Just curious if you're able to open that file yourself in Notepad or another app? It's possible that file has a weird permission on it. Let me know the result, thanks!

[2022-01-25 19:25] spowelljr commented on #13411
Hi @akgowda, as noted in the PR @afbjorklund lined, `192.168.56.1/24` is no longer in the range allowed since VirtualBox 6.1.28.

You can try a different allowed range such as `minikube start --driver=virtualbox --host-only-cidr='192.168.59.1/24'`.

I'm going to close this issue, but you have more questions feel free to respond and reopen the issue, thanks!

[2022-01-25 19:25] #13411 closed

[2022-01-25 19:26] spowelljr commented on #13315
Hi @djangolo, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-01-25 19:26] #13315 closed

[2022-01-25 19:29] spowelljr commented on #13317
Hi @vaibsharma, thanks for reporting your issue with minikube!

This is a duplicate of https://github.com/kubernetes/minikube/issues/12274.

The fix for now is outlined here: https://github.com/kubernetes/minikube/issues/12274#issuecomment-1006201978

I'm going to close this issue, is you have further questions please ask them in https://github.com/kubernetes/minikube/issues/12274 to centralize in

[2022-01-25 19:29] #13317 closed

[2022-01-25 19:33] spowelljr commented on #13298
Hi @inductor, thanks for reporting your issue with minikube!

Could you run `systeminfo` and report back the output, thanks!

[2022-01-25 19:39] spowelljr commented on #13265
Hi @koushikmgithub, thanks for reporting your issue with minikube!

First, make sure you're running the terminal you're using as administrator.

Then try `minikube delete --all` and then try starting minikube again, thanks!

[2022-01-25 19:41] spowelljr commented on #12548
Hi @markgarrigan, thanks for reporting your issue with minikube!

I know you ran `minikube logs --file=logs.txt` and it output `🤷 The control plane node must be running for this command`, but it actually still creates a log file. Could you run that again and attach it to this issue, thanks!

[2022-01-25 19:56] Alesseon commented on #11574
@afbjorklund Yes, it is definitelly relevant to the other issues. But the quick fix is:
Delete `%user%\.minikube\` folder (not sure which part is causing it)
Run using `minikube start --driver=ssh --native-ssh=false --ssh-user=<youruser> --ssh-ip-address=<ip of machine>`
And make sure you have systemd enabled [Systemd](https://gist.github.com/djfdyuruiry/6720faa3f9fc59bfdf6284ee1f41f950)

[2022-01-25 19:57] g-luo commented on #9877
I wasn't the one to personally fix it, but I believe it was adjusting the firewall settings for Docker, similar to https://serverfault.com/questions/704643/steps-for-limiting-outside-connections-to-docker-container-with-iptables -- this was an issue specific to my machine

[2022-01-25 21:03] dkdndes commented on #8997
On Mac OS X 12.1., with an Intel CPU, it is the same. I got from the script the hint to delete the minikube image after it tried a different IP. I tried, and the output was the following:

[code]

[code]

I switched off all firewall functionality before I tried podman vs. docker vs. footloose etc.

I had issues with Footloose related to systemd-v2 in docker-desktop 4.3; not sure if that relates in

[2022-01-25 21:27] medyagh opened #13486 "Append Changelog to KIC Base Image build and ISO Image build process"
each time we comment ok-to-build-iso or ok-to-build-image our Bots creates an Docker image and ISO image
we should add a changelog.txt to file both ISO and KIC image with PR number and Commit number

so we see and audit of all merged things in that ISO / Kic Image

This task can be done by two PRs one for KIC and one for ISO

Example Pr that pushes new image by ok-to-build-image

https://github.co

[2022-01-25 21:30] klaases commented on #13413
Hi @afbjorklund, yes, this line was removed. However, we will still need the grub.cfg file to exist somewhere in the ISO in order to boot into UEFI.

Closing this out as the issue was resolved in release v1.25.1.

[2022-01-25 21:30] #13413 closed

[2022-01-25 21:40] spowelljr commented on #13484
Hi @ShivrajRameshPatil, thanks for reporting your issue with minikube!

Are you using an M1 Mac?

Did the `minikube logs --file=logs.txt` command fail with what you posted below it? Or did you copy and paste that from the logs?

[2022-01-25 21:44] #13337 closed

[2022-01-25 21:47] spowelljr opened #13487 "Output message if user tries to enable addons with `--no-kubernetes`"
It's not possible to enable addons with `--no-kubernetes` passed because the addons in their current state are deployed to Kubernetes. So if a user tries to enable an addon with `--no-kubernetes` output a message notifying them that it's not possible without Kubernetes and exit execution.

Related https://github.com/kubernetes/minikube/issues/13461

[2022-01-25 21:57] spowelljr commented on #13461
Hi @charego, thanks for reporting your issue about minikube!

The addons are deployed to Kubernetes so this is not possible without Kubernetes.

Someone would have to rewrite/create a secondary option for this addon to support not running in Kubernetes.

[2022-01-25 23:31] charego commented on #13461
Ahh. Given that, https://github.com/kubernetes/minikube/issues/13487 is reasonable. Closing, thanks.

[2022-01-25 23:31] #13461 closed

[2022-01-26 00:19] brainthinks commented on #1340
For anyone still having this issue, here is what I was able to determine.

This only happens (for me) when using `alpine` docker images.  Through some investigation, it seems that because alpine uses `musl` rather than `glibc` (which is a source of some other headaches, such as AWS CLI not working), something about the DNS resolution is different, and this makes resolving "normal" DNS names, such

[2022-01-26 01:57] AkihiroSuda opened #13491 "/docs/drivers/docker: Markdown rendering is broken"
https://raw.githubusercontent.com/kubernetes/minikube/cf95dd3498152ede302195cda698b7a5e0078177/site/content/en/docs/drivers/docker.md

https://minikube.sigs.k8s.io/docs/drivers/docker/

![image](https://user-images.githubusercontent.com/9248427/151090726-a00b26c1-16eb-453a-8f96-545ff0df90a1.png)

- `minikube start –driver=docker –container-runtime=containerd` is rendered in an unexpected font
- Do

[2022-01-26 02:24] dnguyenzd opened #13492 "Unable to use hyperkit driver due to PROVIDER_HYPERKIT_NOT_RUNNING"
### What Happened?

- Start a new cluster using hyperkit driver with following command:
[code]
- It fails with error:
[code]
- No problem running `/usr/local/bin/hyperkit -v`:
[code]

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/7938536/log.txt)

### Operating System

macOS (Default)

### Driver

Hyper-V

[2022-01-26 04:17] minikube-bot opened #13493 "Frequent test failures of `TestNetworkPlugins/group/auto/DNS`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_containerd_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_containerd_arm64&test=TestNetworkPlugins/group/auto/DNS)|76.92|
|[Docker_Linux_docker_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_d

[2022-01-26 04:51] purplegrapeZz commented on #13431
looks like an issue in minikue1.25. Downgrade to minikube1.24 works.

[2022-01-26 05:34] acelot commented on #13435
I'm experiencing same problem

[2022-01-26 06:23] mondayEast opened #13494 "minikube start 失败"
**重现问题所需的命令**：
minikube start --vm-driver=none --registry-mirror=https://registry.docker-cn.com

**失败的命令的完整输出**：<details>
* minikube 1.24.0 is available! Download it: https://github.com/kubernetes/minikube/releases/tag/v1.24.0
* To disable this notice, run: 'minikube config set WantUpdateNotification false'

! minikube v1.4.0 on Centos 8.1.1911
* Using image repository registry.cn-hangzhou.aliyunc

[2022-01-26 07:38] victor-sudakov commented on #11947
/remove-lifecycle stale

[2022-01-26 08:02] manyfacegod opened #13495 "Got this error after execute command 'minikube delete' and run again 'minikube start --driver=docker'"
*
* ==> Audit <==
* |---------|------|----------|---------|---------|-------------------------------|-------------------------------|
| Command | Args | Profile  |  User   | Version |          Start Time           |           End Time            |
|---------|------|----------|---------|---------|-------------------------------|-------------------------------|
| delete  |      | minikube | user | v

[2022-01-26 08:11] belfo commented on #13370
So after searching i found the reason.
https://docs.docker.com/network/iptables/#docker-on-a-router

To make it work i added :
sudo iptables -I DOCKER-USER -i docker0 -o docker0 -j ACCEPT
sudo iptables -I DOCKER-USER -i bridge -o bridge -j ACCEPT

By adding it to the docker-user it's not cleared when docker daemon restart (done by the start of minikube)

Maybe minikube should add that rule after s

[2022-01-26 10:56] abhidesh128 commented on #13431
Indeed. Downgrading to 1.24 works correctly. This is an issue in 1.25 for sure.

[2022-01-26 13:59] socza commented on #7511
For drive=none I added the file **/etc/tmpfiles.d/**tmp.conf**** and filled it as folow:
-D /tmp 1777 root root -
+d /tmp 1777 root root 1s
+x /tmp/hostpath-provisioner/*

now the folder /tmp/hostpath-provisioner is persistent ;)

[2022-01-26 14:06] ShivrajRameshPatil commented on #13484
Yes, I am using an M1 Mac.
I copied that from the terminal.

[2022-01-26 16:45] alexec opened #13497 "MacOS + hyperkit + Cisco AnyConnect (or maybe mDNSRespo) = 192.168.64.1:53: read: connection refused"
### What Happened?

[code]

### Attach the log file

REMOVED

### Operating System

macOS (Default)

### Driver

HyperKit

[2022-01-26 16:50] alexec commented on #13497
[code]

[2022-01-26 17:15] alexec commented on #13497
I think this will fix it by bypassing the DNS server:

[code]

[2022-01-26 17:56] chrisc1122 opened #13498 "Unable to start Minkube. Exiting due to GUEST_NOT_FOUND"
### What Happened?

* minikube v1.25.1 on Microsoft Windows 10 Enterprise LTSC 2019 10.0.17763 Build 17763
* Using the virtualbox driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Creating virtualbox VM (CPUs=2, Memory=6000MB, Disk=20000MB) ...
* Deleting "minikube" in virtualbox ...
! StartHost failed, but will try again: creating host: create: creati

[2022-01-26 18:17] #13465 closed

[2022-01-26 18:25] spowelljr commented on #13484
Can you try running `minikube logs --file=logs.txt` again, and even if it outputs an error to the terminal the log file should still be generated that you can upload to this issue, thanks!

[2022-01-26 19:08] spowelljr commented on #13291
Hi @effyyvv, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-01-26 19:08] #13291 closed

[2022-01-26 19:11] klaases commented on #11144
Hi @psaini79 – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2022-01-26 19:11] #11144 closed

[2022-01-26 19:13] spowelljr commented on #13267
Hi @jbdamiano, I did a bit of looking and this seems to be an LXC specific error, which correlates with you using WSL 2.

I found this post that seems to describe the issue you're experiencing.

https://serverfault.com/a/947025

[2022-01-26 19:14] klaases commented on #12899
Hi @mattjs – please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed based on @sharifelgamal's comments above and given some time has passed.

Thank you for sharing your experience!

[2022-01-26 19:14] #12899 closed

[2022-01-26 19:17] klaases commented on #12842
Hi @cmanzur, did you find this issue to be related to the `--memory` parameter as  @fastlorenzo mentioned above?

[2022-01-26 19:18] klaases commented on #10595
Hi @vishjain, is this still something that you're working on?

[2022-01-26 19:21] sharifelgamal commented on #13284
hey @ediazm, did the advice above help?

[2022-01-26 19:24] klaases commented on #12548
Hi @markgarrigan, did you have a chance to respond to @spowelljr's suggestion? Are you still experiencing this issue?

[2022-01-26 19:26] klaases commented on #12479
Hi @dilyanpalauzov, did you want to create a PR per @afbjorklund's comment?

[2022-01-26 19:28] dilyanpalauzov commented on #12479
No, I do not use minikube anymore.

[2022-01-26 19:29] spowelljr commented on #13249
Thanks for the updates!

So the main issues seems to be:
[code]
It seems we're trying to recreate/update an existing job, which the job needs to be deleted first.

We have a couple people actively working on improving the ingress addon:
https://github.com/kubernetes/minikube/pull/13439
https://github.com/kubernetes/minikube/pull/12904

I reached out to them about this issue and will update you whe

[2022-01-26 19:30] klaases commented on #12074
Hi @fengshenyun – is this issue still occurring? Are additional details available?

If possible, please see if the issue occurs with the latest minikube release.

[2022-01-26 19:30] spowelljr commented on #13243
I haven't heard back so I'm going to close this issue, but you experience more problems feel free to reopen this issue, thanks!

[2022-01-26 19:30] #13243 closed

[2022-01-26 19:31] spowelljr commented on #12760
Hi @Mohaloou, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.