[2021-11-05 17:16] salavessa opened #12871 "--no-kubernetes fails if "kubernetes-version" defined in config"
Running `minikube start --no-kubernetes` fails if "kubernetes-version" is defined in config (or passed vi command argument).

[code]

**Steps to reproduce the issue:**

1. define kubernetes version in `~/.minikube/config/config.json`, e.g.
[code]
2. run `minikube start --no-kubernetes`
[code]

More: it also fails as above if the version is defined in the command line (independently of config file

[2021-11-05 20:57] medyagh commented on #12871
Thanks for creating this issue. This new feature was only tested on a new cluster. This is a bug and will include a fix for it in the next release

[2021-11-05 22:09] spowelljr commented on #12301
On my machine that's having the error, it's using fid 1 which is the same fid used for opening, hence it's passing the `fid.opened`.
[code]

But on my working machine it's using fid 0
[code]

I tried directly assigning fid to 0 if it's a Twalk command and it succeeded and pods were able to access the mounted directory.

Still not sure of the root cause of the issues, it's grabbing the fid by unpac

[2021-11-06 06:36] pywangwwei opened #12874 "不支持Mac M1笔记本"
▪ You are trying to run amd64 binary on M1 system. Please consider running darwin/arm64 binary instead (Download at https://github.com/kubernetes/minikube/releases/download/v1.23.1/minikube-darwin-arm64.)
😄  Darwin 11.2.1 上的 minikube v1.23.1
✨  自动选择 parallels 驱动。其他选项：virtualbox, ssh
💿  正在下载 VM boot image...

🎉  minikube 1.23.2 is available! Download it: https://github.com/kubernetes/minikube/relea

[2021-11-06 09:54] matihost commented on #12762
Per Cilium k8s 1.21.x is only supported

The default docker driver works:
[code]
so it seems it is related to none minikube driver and upgraded ubuntu

[2021-11-06 13:33] sbasu123 opened #12875 "minikube is not getting started"
**Steps to reproduce the issue:**
C:\Users\sbasu>minikube start
* minikube v1.22.0 on Microsoft Windows 10 Home Single Language 10.0.19042 Build 19042
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing virtualbox VM for "minikube" ...
! StartHost failed, but will try again: driver start: Too many retries waiting

[2021-11-06 17:53] exocode commented on #12424
Hi @sharifelgamal I tried the initial steps to reproduce that issue.

I also upgraded Minikube to version

[code]

I also tried to run `minikube tunnel` in a seperate window.

I also tried also another Kubernetes version (which I normally use and need):
`minikube start --memory=4096 --driver=docker --kubernetes-version=v1.21.6 --cpus=4`

And that's the content of my /private/etc/resolver/minikube

[2021-11-06 22:57] exocode opened #12876 "Outdated tutorial: ingress-dns not working on Big Sur (MacOS)"
Hi there

I try to follow this totorial for `ingress-dns` addon: https://minikube.sigs.k8s.io/docs/handbook/addons/ingress-dns/

**But I can't get it working.**
If you need further informations please let me know.

I am on MacOS 11.6 (20G165)

**Steps to reproduce the issue:**

This is my `minikube-minikube-test` in `/etc/resolver` (which is an alias for `/private/etc/resolver`):

[code]

1. `brew

[2021-11-07 09:34] leeadh opened #12878 "Cannot create minikube with hyperkit"
**Steps to reproduce the issue:**

Cannot create minikube with hyperkit.

[logs.txt](https://github.com/kubernetes/minikube/files/7492021/logs.txt)

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-11-07 10:17] tamis-laan opened #12879 "Using minikube for hosting a staging server?"
Is it possible to run minikube on a server as a staging testing area?

I would like to use gitlab CI/CD to build and deploy to minikube running on the same machine.

If this is possible, is there some guide available?

[2021-11-07 10:56] afbjorklund commented on #12879
There are some examples here: https://minikube.sigs.k8s.io/docs/tutorials/continuous_integration/

[2021-11-07 13:34] yosshy commented on #12809
/assign @tstromberg
any comment?

[2021-11-07 15:50] sbollap1 commented on #9798
I am facing the same issue

[2021-11-07 19:18] R-omk commented on #12165
/remove-lifecycle stale

[2021-11-07 19:23] mprimeaux commented on #11219
Is there any testing that I can assist with for this issue?

[2021-11-07 21:43] ozanyldzgithuboffical commented on #10859
Deleting config and delete/start minikube by re-installing cluster is not working.

The solution is that you need to install compatible version of kubectl.exe to your installed kubernetes version.on your mini-kube. I have v1.24.0 kubernetes and I use v1.22.0 kubectl.exe . Now it is working successfully.

[2021-11-08 00:17] #12746 closed

[2021-11-08 02:10] nthsky opened #12881 "Minikube start failed using virtualbox driver on MacOS Monterey"
I read the suggest and found no block in Security & Privacy -> General. And I try to reinstall the virtualbox and minikube,still not working. Is there anyone having the same issue?

Versions:
minikube v1.24.0
virtualbox v6.1.26 r145957

logs:
[code]

[2021-11-08 02:38] SatishChandraPalakoti opened #12882 "GUEST_PROVISION: Failed to start host"
**Steps to reproduce the issue:**

1. Minikube start or minikube start --driver=docker
2. Docker version is 20.10.10
3. It's a simple minikube setup I am trying on my machines.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>
*
* ==> Audit <==
* |---------|-------------------|----------|---

[2021-11-08 02:58] SatishChandraPalakoti commented on #12882
Tried multiple solutions but none worked.
Eg: https://github.com/kubernetes/minikube/issues/11530
The closest issue to the one experienced.
My CPU information on the machine is :

[code]

[2021-11-08 06:09] SatishChandraPalakoti commented on #12875
@sbasu123 did you resolve it ?

[2021-11-08 07:31] AkihiroSuda commented on #12796
Yes, but the IP is network-namespaced and you can't reach that IP from the host.

[2021-11-08 07:59] tamis-laan commented on #12879
This is not really what I was looking for, here Gitlab Ci/CD pipeline starts downloads minikube:
[https://github.com/minikube-ci/examples/blob/master/.gitlab-ci.yml](https://github.com/minikube-ci/examples/blob/master/.gitlab-ci.yml)

I'm looking to automatically build my code with gitlab CI/CD and deploy it to a kubernetes cluster (setup with minikube).

[2021-11-08 10:26] sbasu123 commented on #12875
I run minikube delete and then reinstall minikube higher version , that resolve the issue

  On Mon, 8 Nov 2021 at 11:39, Satish Chandra ***@***.***> wrote:

@sbasu123 did you resolve it ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-11-08 11:20] anshuld27 commented on #1793
This is working for me.

[2021-11-08 11:36] mroumpa opened #12886 "❌ Exiting due to GUEST_PROVISION: Failed to start host: recreate: creating host: create: creating: setting up container node: preparing volume for minikube container: docker run --rm --name minikube-preload-sidecar --label created_by.minikube.sigs.k8s.io=true --label name.minikube.sigs.k8s.io=minikube --entrypoint /usr/bin/test -v minikube:/var gcr.io/k8s-minikube/kicbase:v0.0.27@sha256:89b4738ee74ba28684676e176752277f0db46f57d27f0e08c3feec89311e22de -d /var/lib: exit status 125 stdout: stderr: docker: Error response from daemon: OCI runtime create failed: systemd cgroup flag passed, but systemd support for managing cgroups is not available: unknown."
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full outpu
[minikube
[minikube_logs_512a839e2af233964237aeecf5819563bdf7a755_0.log](https://github.com/kubernetes/minikube/files/7496594/minikube_logs_512a839e2af233964237aeecf5819563bdf7a755_0.log)
_logs_512a839e2af233964237aeecf5819563bdf7a755_0.log](https://gith

[2021-11-08 11:38] #12886 closed

[2021-11-08 11:45] linfengOu commented on #12881
Same issue here. Montery 12.0.1.
Tried with `brew reinstall virtualbox` and allowed extension in system setting. Tried to delete `~/.minikube` as well.

[code]

[2021-11-08 13:26] spowelljr opened #12887 "`update-leaderboard` GitHub Action failing"
Logs: https://github.com/kubernetes/minikube/actions/runs/1426448148/attempts/1

Error:
` ! [rejected]            v1.24.0        -> v1.24.0  (would clobber existing tag)`

Caused by line:
https://github.com/kubernetes/minikube/blob/9abb3b5bac3f0c95ba2a1ad3ebe9a96093c5451f/hack/update_contributions.sh#L54

I thought I fixed it with https://github.com/kubernetes/minikube/pull/12563 but still continu

[2021-11-08 14:28] luisrojas17 commented on #3910
Nothing that you recommend works. I do not have any antivirus and I still have the same problem.

* Failed to start virtualbox VM. Running "minikube delete" may fix it: creating
host: create: creating: Unable to start the VM: C:\Program Files\Oracle\VirtualB
ox\VBoxManage.exe startvm minikube --type headless failed:
VBoxManage.exe: error: The virtual machine 'minikube' has terminated unexpectedl
y

[2021-11-08 14:38] luisrojas17 commented on #3859
Nothing that you recommend works. I do not have any antivirus and I still have the same problem.

    Failed to start virtualbox VM. Running "minikube delete" may fix it: creating
    host: create: creating: Unable to start the VM: C:\Program Files\Oracle\VirtualB
    ox\VBoxManage.exe startvm minikube --type headless failed:
    VBoxManage.exe: error: The virtual machine 'minikube' has terminated

[2021-11-08 14:48] luisrojas17 opened #12889 "Windows 8: VBoxManage.exe: error: Details: code E_FAIL (0x80004005), component MachineWrap, interface IMachine"
I reviewed the issues:

- VBoxManage.exe: error: Details: code E_FAIL (0x80004005), component MachineWrap, interface IMachine #3910

- VBoxManage.exe: error: Details: code E_FAIL (0x80004005), component MachineWrap, interface IMachine #3859

I would like highlight that I do not have installed any antitivus. I tried to run minikube in Windows 8.1 and VirtualBox 6.1.28. But I still have the problem:

[2021-11-08 15:11] nickolaev opened #12890 "Missing SCTP support in the minikube VM image"
The SCTP protocol is GA since Kubernetes 1.20, https://kubernetes.io/docs/concepts/services-networking/service/#sctp.

**Steps to reproduce the issue:**

1. `minikube start --vm=true`
2.
[code]

When SCTP is enabled the `dmesg` should have a line saying something like ` sctp: Hash tables configured (bind 4096/4096)`

<details>

</details>

[2021-11-08 16:56] webger3 opened #12894 "Exiting due to GUEST_PROVISION: Failed to start host: can't create with that IP, address already in use"
**Los comandos necesarios para reproducir la incidencia**:

**El resultado completo del comando que ha fallado**: <details>
minikube start
😄  minikube v1.24.0 en Linuxmint 20.1 (vbox/amd64)
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🤷  docker "minikube" container is missing, will recreate.
🔥  Creando do

[2021-11-08 17:02] afbjorklund commented on #12879
You don't need minikube for that, just the kubeconfig to your existing cluster

[2021-11-08 17:36] e-tienne commented on #10460
/assign
grabbing it since it's now unassigned

[2021-11-08 17:58] leeadh opened #12895 "version 1.19 not supported?"
minikube start --cpus 8 --memory 8000 --disk-size=128g --kubernetes-version v1.19
😄  minikube v1.24.0 on Darwin 11.6

❌  Exiting due to MK_USAGE: Unable to parse "v1.19": No Major.Minor.Patch elements found

Why?

[2021-11-08 19:04] LanDinh opened #12896 "minikube can't re-configure ingress to use a different ssl certificate"
**Steps to reproduce the issue:**

Tutorial that was followed: https://minikube.sigs.k8s.io/docs/tutorials/custom_cert_ingress/

1. start minikube locally `minikube start`
2. enable ingress `minikube addons enable ingress`
3. add the auto-generated certificate in .pem:
  4. `kubectl -n kube-system create secret tls mkcert --key ~/.minikube/key.pem --cert ~/.minikube/cert.pem`
  5. `minikube addons

[2021-11-08 19:43] medyagh commented on #12896
cc: @sharifelgamal

[2021-11-08 19:48] sharifelgamal commented on #12895
The kubernetes version you request needs to be a proper semver object (thus the `No Major.Minor.Patch elements found` error) so it needs to be v1.19.0, not just v1.19

[2021-11-08 19:49] spowelljr commented on #12843
This is so the user can access their mySQL for example on their laptop through the container inside the pod inside minikube, for both VM driver and Docker.

[2021-11-08 19:50] spowelljr commented on #12728
We merged this already

[2021-11-08 19:50] #12728 closed

[2021-11-08 19:52] spowelljr commented on #12552
See how soon crio is going to revert this and then decide from there

[2021-11-08 19:56] spowelljr commented on #12399
According to discussion, if we can't make crio with with PowerPC, just not include if for that arch and let the user know

[2021-11-08 20:04] spowelljr commented on #12355
This should be fixed with https://github.com/kubernetes/minikube/pull/12740

[2021-11-08 21:23] medyagh commented on #12857
[code]

- if the container runtime is docker (default) the current text is okay
- if container runtime is "containerd" then the second line should be deleted (about docker-env)
- if container runtime is CRIO then second like should be chaned to
[code]

[2021-11-09 00:17] #12202 closed

[2021-11-09 00:31] sharifelgamal commented on #12896
yeah, I can reproduce this pretty easily, it seems like it's by design:

https://github.com/kubernetes/minikube/blob/2ec8875aedf248c98a4647ad19db0321014b0b67/cmd/minikube/cmd/config/configure.go#L223-L225

I agree that calling `minikube addons configure ingress` should allow for overriding existing config, so I'll add it our short term work to fix.

[2021-11-09 03:36] mcgitty opened #12898 "Missing documentation for NFS mounts"
In this documentation topic: "[Driver mounts](https://minikube.sigs.k8s.io/docs/handbook/mount/#driver-mounts)", the last entry in the table is:

`HyperKit | Linux | Unsupported (see NFS mounts)`

The issues are:
1. There is no documentation on "NFS mounts" to "see".
2. HyperKit (without Docker) is supported in MacOS, and you can make "NFS mounts" work in MacOS. Therefore, either this last entry c

[2021-11-09 03:59] RA489 commented on #12898
/kind documentation

[2021-11-09 03:59] RA489 commented on #12889
/kind support

[2021-11-09 03:59] RA489 commented on #12882
/kind support

[2021-11-09 04:00] RA489 commented on #12875
/kind support

[2021-11-09 04:01] RA489 commented on #12876
/kind support

[2021-11-09 04:01] RA489 commented on #12859
/kind support

[2021-11-09 04:48] mattjs opened #12899 "Minikube tunnel hangs on Mac"
[code]

After entering my password, there is no further output from the command.

Output of `minikube logs`
[logs.txt](https://github.com/kubernetes/minikube/files/7502035/logs.txt)

[code]

The ingress file I'm using
[code]

[2021-11-09 05:08] RA489 commented on #12899
/kind support

[2021-11-09 05:43] AkihiroSuda commented on #12705
Seems solved in the master

[2021-11-09 05:43] #12705 closed

[2021-11-09 06:28] yayaha commented on #12846
I guess we can always check the existence of /var/run/docker.sock before running each docker command. But I'm not sure if this is sufficient since it's specific to docker.

OTOH, there is already functionality to warn the user of a slow command: https://github.com/kubernetes/minikube/blob/master/pkg/drivers/kic/oci/cli_runner.go#L148-L152. I can just enable it by default. The caveat is that enabli

[2021-11-09 07:40] TekTimmy commented on #12796
Thank you for the explanation. For me its a bit confusing that minikube changes its behavior when using a different container runtime or operating system.. probably a necessary evil

[2021-11-09 07:42] TekTimmy commented on #12796
So for those who (for whatever reason) read this ticket in the future: `minikube tunnel` is the way to go, `minikube service` only provides accessible URLs when the OS is linux and the container runtime is `docker`.

[2021-11-09 07:42] #12796 closed

[2021-11-09 08:30] AkihiroSuda commented on #8719
PR: https://github.com/kubernetes/minikube/pull/12901

[2021-11-09 08:30] AkihiroSuda commented on #12460
PR: https://github.com/kubernetes/minikube/pull/12901

[2021-11-09 10:25] shreyasshivakumara commented on #10517
Hello,
I am facing the same issue as @reinvantveer while starting the ingress DNS. Is there anything wrong with the Minikube version or am I doing wrong?
[code]

[2021-11-09 13:42] reinvantveer commented on #10517
Yeah I discussed this with a few colleagues the other day and we agreed that messing with /etc/resolv.conf is _not_ the way forward here. There has to be a better way. So I would advise against using resolv.conf as a method.

[2021-11-09 13:44] reinvantveer commented on #10517
If you like, you can reopen the issue. I feel there should be something available that does not require root rights to and meddling with /etc/resolv.conf to make this work...

[2021-11-09 14:15] alexbaeza opened #12903 "Ingres-Controller rolling updates stuck on Pending state when a patch is added"
It seems like minikube v1.24 broke the rolling updates for the ingress controller

**Steps to reproduce the issue:**

1. Start a new cluster with ingress addon enabled
example:
[code]

2. Apply ingress patches:
`./ingress/ingress-patch.yaml`
[code]

[code]

3.  When listing the pods you should see the two ingress controller pods with the latest stuck on `Pending` due to:

[code]

[code]

[2021-11-09 14:18] alexbaeza commented on #12903
I could fix this by adding the strategy on the deployment patch and re-applying
` ./ingress/ingress-patch.yaml`
[code]

[code]

I have raised a propsed PR to fix this:
https://github.com/kubernetes/minikube/pull/12904

[2021-11-09 14:28] spowelljr commented on #9086
Some background on how you get this message, you have to have Docker Desktop set to use the Hyper-V backend instead of the WSL 2 backend. If you do a non-mount start (`--mount` omitted) the file sharing message will come up, but there doesn't seem to be an issues with not sharing the files.

However, if you do a mount start (`--mount` included) the file sharing message will show up, and if you don

[2021-11-09 15:03] jeffreyyjp opened #12905 "minikube addons enable ingress failed"
**Steps to reproduce the issue:**

1. minikube start --kubernetes-version=v1.14.0
2. minikube addons enable ingress
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**
[logs.txt](https://github.com/kubernetes/minikube/files/7505701/logs.txt)
[minikube_addons_7bb50cac4589b58cb5fb23c1a5ccc476de0a04af_0.log](https://github.com/kubernetes/minikube/files/7505742/m

[2021-11-09 15:48] bzub commented on #12882
The most relevant error I see is:
[code]

You may want to do an update or upgrade of CentOS if it's `7.2.1511`. In any case, I would recommend installing Docker via these instructions: https://docs.docker.com/engine/install/centos/

There's a number of results on Google for `docker /etc/resolv.conf "refusing to operate on"` but I'm not sure how helpful they will be. What I've seen is problems with

[2021-11-09 16:00] s0mb3x commented on #12301
same issue here on minikube's most recent version `1.24.0`, with `ubuntu 20.04` on `amd64`

[2021-11-09 17:21] Erfan-Motallebi opened #12908 "minikube enable addons: ingress-controller"
**Steps to reproduce the issue:**

1. minikube start
2. minikube addons enable ingress

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>
Log file created at: 2021/11/09 20:25:35
Running on machine: c0d3rz
Binary: Built with gc go1.17.2 for linux/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuu

[2021-11-09 17:26] Erfan-Motallebi commented on #11511
I got the same issue when running `minikube addons enable ingress`

- minikube version: v1.24.0
- Kubernetes version : It's been said in the detail mode.
<details>
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.3", GitCommit:"c92036820499fedefec0f847e2054d824aea6cd1", GitTreeState:"clean", BuildDate:"2021-10-27T18:41:28Z", GoVersion:"go1.16.9", Compiler:"gc", Platform:"linux

[2021-11-09 17:28] Erfan-Motallebi commented on #10544
I got the same issue when running `minikube addons enable ingress`

- minikube version: v1.24.0
- Kubernetes version : It's been said in the detail mode.
<details>
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.3", GitCommit:"c92036820499fedefec0f847e2054d824aea6cd1", GitTreeState:"clean", BuildDate:"2021-10-27T18:41:28Z", GoVersion:"go1.16.9", Compiler:"gc", Platform:"linux

[2021-11-09 19:16] medyagh commented on #12896
@LanDinh

There is a PR that might fix this issue,  here is the link to the binary from a PR that I think might fix this issue, do you mind trying it out ?

http://storage.googleapis.com/minikube-builds/12897/minikube-linux-amd64
http://storage.googleapis.com/minikube-builds/12897/minikube-darwin-amd64
http://storage.googleapis.com/minikube-builds/12897/minikube-windows-amd64.exe

[2021-11-09 19:26] medyagh commented on #12903
@alexbaeza I am curious is this something because of new kubernetes version ?

does that happen with newest minikube with and old kubernetes version? you can specify with "--kuberentes-version" flag to "start" command.

and do u mind pasting a "working" output of a previous version too?

[2021-11-09 19:30] #9946 closed

[2021-11-09 19:30] #12355 closed

[2021-11-09 20:14] #9086 closed

[2021-11-09 20:42] #12860 closed

[2021-11-09 21:51] abdelrazekrizk opened #12912 "Got permission denied while trying to connect to the Docker when run minikube ssh"
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

ubuntu@ip-172-31-90-31:~$ minikube ssh

❌  Exiting due to GUEST_STATUS: state: unknown state "minikube": docker container inspect minikube --format=: exit status 1
stdout:

stderr:
Got permission denied while trying to connect to the Docker daemon socket at unix:///v

[2021-11-09 21:54] abdelrazekrizk commented on #12912
ubuntu@ip-172-31-90-31:~$ minikube start
😄  minikube v1.24.0 on Ubuntu 20.04
✨  Using the docker driver based on existing profile

💣  Exiting due to PROVIDER_DOCKER_NEWGRP: "docker version --format -" exit status 1: Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Get "http://%2Fvar%2Frun%2Fdocker.sock/v1.24/version": dial unix /var/run/dock

[2021-11-10 01:09] denverdino commented on #12535
Supported with #12578 and merged in minikube v1.24.0 !

[2021-11-10 01:09] #12535 closed

[2021-11-10 02:37] arunnair555 opened #12915 "Exiting due to GUEST_PROVISION:"
**Steps to reproduce the issue:**

😿  Failed to start docker container. Running "minikube delete" may fix it: creating host: create: provisioning: Temporary Error: error getting ip during provisioning: IPs output should only be one line, got 2 lines

❌  Exiting due to GUEST_PROVISION: Failed to start host: creating host: create: provisioning: Temporary Error: error getting ip during provisioning:

[2021-11-10 04:06] RA489 commented on #12915
/kind support

[2021-11-10 04:06] RA489 commented on #12912
/kind support

[2021-11-10 04:06] RA489 commented on #12908
/kind support

[2021-11-10 04:06] RA489 commented on #12905
/kind support

[2021-11-10 04:17] minikube-bot opened #12917 "Frequent test failures of `TestDownloadOnly/v1.14.0/cached-images`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_macOS&test=TestDownloadOnly/v1.14.0/cached-images)|27.27|

[2021-11-10 09:34] salvoravida commented on #12721
sorry i do not use minikube anymore

[2021-11-10 09:44] serhiinikitenko opened #12918 "Cache addon images does not work for minikube offline usage"
**Steps to reproduce the issue:**
minikube v1.24.0 on Centos 7.9.2009

I am trying to create an RPM package with minikube, docker, and my application inside to distribute it to a small group of private users for offline installation.

Target hosts do not have access to the internet, so I need to prepare everything and put it into the RPM package.
I am having trouble caching minikube addons images.

[2021-11-10 14:03] LanDinh commented on #12896
I confirm that this is working - I especially like the warning about overwriting an existing certificate :) thanks!

[2021-11-10 14:07] 0l1v3r5 commented on #4587
I tried everything that was said on most platforms but none of it worked. So the only solution that worked was to reinstall the VirtualBox-6.1.26-145957-Win version of VirtualBox (I just downgrade it. The installed version was VirtualBox-6.1.28-145957-Win)

[2021-11-10 14:09] mans0954 opened #12919 "Port validation breaks options that used to work on Linux"
Prior to minikube 1.24.0, it used to be possible to create the minikube container so that ports were exposed on `127.0.0.1:443` and `127.0.0.1:80` e.g.

[code]

This behaviour seems to have been lost in minikube 1.24.0:

[code]

It seems to me that there are two problems here:
* `validatePorts` fails to recognise `IP:Port:Port` as valid
* `validatePorts` rejects the use of privileged ports on Ubun

[2021-11-10 14:10] mans0954 commented on #12919
This problem appears to have been introduced by #12233 in response to #10495.

[2021-11-10 14:18] pabloelisseo opened #12920 "Certificate issue"
**Steps to reproduce the issue:**

1. minikube start
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

[logs.txt](https://github.com/kubernetes/minikube/files/7513345/logs.txt)

</details>

[2021-11-10 15:25] k-rus commented on #12832
I run into the same issue on MacOS Monterey, Minikube v1.24.0, virtualbox 6.1.28,147628

[2021-11-10 17:31] mbateman-vz commented on #6296
Using `--hyperkit-vpnkit-sock=auto` tries to use the VPNKit included with Docker Desktop. But the whole reason to go to minikube/hyperkit was to be able to get away from Docker Desktop licensing. Is there any way to use VPNKit without Desktop?

[2021-11-10 17:33] #12896 closed

[2021-11-10 17:43] rahulanand16nov opened #12924 "Curl inside a pod: curl: (60) SSL certificate problem: unable to get local issuer certificate"
Hello maintainers,

I was trying to learn Kubernetes and got stuck on an issue for hours that prevents making an HTTPS request from any container to outside.

Things I did:
Create minkube/kind cluster:
[code]

Installed Istio components

[code]

Tried to execute curl request from istiod component and I get:
[code]
I can curl fine from the outside.

[2021-11-10 19:50] medyagh commented on #12924
@rahulanand16nov

[code]

1- does not seem like u are inside minikube, are u using `minikube ssh` to get inside?
2- are you using a VPN ?

3- can you please attach this file

[code]

[2021-11-10 23:10] afbjorklund opened #12926 "Running minikube under lima"
As an alternative to #12508, I looked into running minikube under [lima](https://github.com/lima-vm/lima).

It _mostly_ works, but there are some issues when using CRI and CNI...
The default is containerd rather than docker, so lima runs into these:

* A "docker" binary is required on the VM, even when using containerd

* The "none" driver chooses to run without any CNI, so the node fails.

These

[2021-11-10 23:36] afbjorklund commented on #12926
@medyagh fyi

Running containerd right on the VM has a smaller footprint than running docker-in-docker on the VM...

But that could also be done, if cluster startup time (**excluding** virtual machine boot time) is important.

See [docker.yaml](https://github.com/lima-vm/lima/blob/master/examples/docker.yaml)

[2021-11-11 05:36] rahulanand16nov commented on #12924
@medyagh 1. I can curl fine when using `minikube ssh` but not when inside any container.

I applied the follow resource:
[code]
used bash: `kubectl exec deployment/toystore -it -- /bin/bash` to make curl cmd as above and fails due to cert issue.

The fact that I can do the curl inside a similar container on another machine makes it look like a kubernetes/minikube problem.

2. No, I am not using VP

[2021-11-11 08:15] telukir opened #12927 "Failing to start minikube v1.23.2 with Kubernetes v1.23.0"
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>
Was trying to have multiple profiles of minikube and it is failing
[logs.txt](https://github.com/kubernetes/minikube/files/7518820/logs.txt)

</details>

[2021-11-11 08:34] jgoeres commented on #12301
I am also observing this issue with the hyper-v driver.
My use case is to have a folder of the user's profile folder mounted into the minikube VM and using the folder inside the minikube VM as a hostPath volume in my containers to allow devs to conveniently access the files in this volume from the regular Windows desktop.
This worked just fine when we were still using VirtualBox - probably because

[2021-11-11 08:55] johnmuth81 opened #12928 "'minikube start --container-runtime=cri-o --wait=all' fails: time out waiting for condition - v1.24.0"
Minikube Version: v1.24.0
System: Linux. Ubuntu 20.04, Fedora 33

[code]

Running `kubectl get pod -A` from another terminal:
[code]

Output from `minikube logs`:

[code]

[2021-11-11 08:57] mnahinkhan commented on #7332
What helped me:

[code]

(Since `hyperkit` has issues accessing the internet for me)

[2021-11-11 08:58] mnahinkhan commented on #8756
What worked for me:

[code]

[2021-11-11 08:58] rahulanand16nov commented on #12924
I deleted the whole cluster and added it again... To my surprise, output is different this time:
[code]
After searching, I stumbled upon `kubeadm certs renew all`
[code]

This is consistent across kind clusters as well so might be kubernetes config issue. Can anyone point me in the right direction?

[2021-11-11 12:59] calltosantosh opened #12929 "Minikube getting Crashed with timed out waiting to elevate kube-system RBAC privileges"
`
****Steps to reproduce the issue:****

$minikube start --memory 16384 --disk-size "100g" --cpus 4 --alsologtostderr --v=2 2>&1 | tee iptables1.4minikube.txt_

**Environment for my System:-
-------------------------------------**
[code]

Need Minikube lower version as my code is dependent upon this version.. I tried with both Minikube 1.3 and Minikube 1.4.Kubectl 1.22 and 1.12 version also I trie

[2021-11-11 14:56] Samba73 commented on #9488
I had similar issue and tried this and it started to work

[2021-11-11 18:00] johnmuth81 commented on #12928
I found an issue on the cri-o github from Aug 2020 that looks amazingly similar: https://github.com/cri-o/cri-o/issues/3555. They closed it with a "disable ipv6" workaround.

[2021-11-11 18:12] spowelljr opened #12931 "Fix Windows tests failing with `The notification platform is unavailable`"
The `TestMountStart` tests are failing on Docker Windows with `The notification platform is unavailable` because we're SSHing into the machine and the notification platform doesn't seem to be available when doing that.

Full error:
[code]

[2021-11-11 18:24] presztak commented on #11165
I started working on this.
/assign

[2021-11-11 23:58] medyagh commented on #12871
@klaases

[2021-11-12 00:00] medyagh commented on #12871
/assign @klaases

[2021-11-12 00:01] medyagh commented on #12871
/assign klaases

[2021-11-12 00:01] klaases commented on #12871
/assign

[2021-11-12 00:01] sharifelgamal opened #12934 "do not let users run `--no-kubernetes` on the none driver"
The none driver is just running kubeadm directly on the user's machine, so no kubernetes makes no sense. We should just tell the user and error out.

[2021-11-12 05:00] calltosantosh commented on #12929
Sample Example: $ minikube start --memory 16384 --disk-size "100g" --cpus 4 --vm-driver=virtualbox
🎉  minikube 1.24.0 is available! Download it: https://github.com/kubernetes/minikube/releases/tag/v1.24.0
💡  To disable this notice, run: 'minikube config set WantUpdateNotification false'

🙄  minikube v1.4.0 on Redhat 8.4
💿  Downloading VM boot image ...

🔥  Creating virtualbox VM (CPUs=4, Memory=16

[2021-11-12 05:37] Imtiazwaraich opened #12936 "minikube start --driver=docker"
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-11-12 06:10] calltosantosh commented on #12929
Hello All,
I solved the issue today after 2 days of struggle by downgrading vbox driver version from 6.1 to 6.0..I am sharing with all of you so that you won't face the same issue again and can easily able to debug the issue.

The Configuration worked for me as follows:

`* Done! kubectl is now configured to use "minikube"
santosh:Downloads$ minikube status
host: Running
kubelet: Running
apiserver

[2021-11-12 06:10] #12929 closed

[2021-11-12 06:14] calltosantosh commented on #12929
santosh:Downloads$ kubectl get all -A
NAMESPACE     NAME                                   READY   STATUS    RESTARTS   AGE
kube-system   pod/coredns-5644d7b6d9-hmfsz           1/1     Running   0          41m
kube-system   pod/coredns-5644d7b6d9-j5wql           1/1     Running   0          41m
kube-system   pod/etcd-minikube                      1/1     Running   0          40m
kube-system   pod/

[2021-11-12 08:41] kennyblaze67 opened #12937 "HOST_CONFIG_LOAD"
- /var/folders/rs/rdyh1vfs7d92x750lhvys12w0000gp/T/minikube_logs_06e9b46abdddf33eb23fea2518473f15081f2cdd_0.log

**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-11-12 14:20] vcc-huf opened #12938 "Tab completion breaks if using recommended alias kubectl='minikube kubectl --'"
1. install minkube
2. add alias kubectl='minikube kubectl --' to .bashrc
3. add source <(kubectl completion bash) to .bashrc

result:
only the commands get tab-completed, nothing after that.

the underlying issue is this:
[code]

this works however:
[code]

related to this: https://github.com/kubernetes/kubectl/issues/884

[2021-11-12 14:33] afbjorklund commented on #12938
You could try making "kubectl" a symlink to "minikube", rather than a bash alias.

[2021-11-12 14:35] vcc-huf commented on #12938
found this workaround. put it in bashrc:

[code]

[2021-11-12 14:36] vcc-huf commented on #12938
nah, same problem, minikube starts kubectl with --cluster minikube before the completion stuff, and kubectl cant handle that (see the bug i linked).

[2021-11-12 19:22] spowelljr commented on #9282
Hi @Azim-Palmer, sorry for the overdue response, I just took a look at this and believe I found the cause of your issue. You're trying to create a folder in `/var/lib/` which is owned by root and it's trying to be created with a non-root user.

You were close with the `securityContext`, you just need to add:
[code]
So it looks like:
[code]
That will run the command as root and can create the folde

[2021-11-12 19:22] #9282 closed

[2021-11-12 19:30] poiskail23 opened #12939 "ssh: handshake failed: ssh: unable to authenticate"
Hello, looks like version 1.23.2 causes below issue when running "minikube start":
**provision: Temporary Error: NewSession: new client: new client: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain**

I downgraded to version 1.23.0 and it works fine.

**Information**
Docker version: Docker Desktop 4.1.1 (69879)
Operating system: Wi

[2021-11-12 19:31] poiskail23 commented on #12939
#3930 reported the same kind of issue:
https://github.com/kubernetes/minikube/issues/3930

[2021-11-12 19:42] spowelljr commented on #11098
@theperm I'd recommend you try the newest version of minikube (v1.24.0) and see if it's simply fixed by updating. Make sure to run `minikube delete --all` to clear out old instances before trying to starting using the new version.

[2021-11-12 20:21] #12857 closed

[2021-11-13 09:12] ipv1337 commented on #6296
I've yet to find an answer to this as well. Why do people like macs again? =) I hope one day our company opens up other options other than forcing macs, but for now I still have my trusty linux desktop that just works.

[2021-11-13 10:02] sathishsoundharajan opened #12943 "minikube start with virtual box not working after upgrading Mac OS Monterey"
**Steps to reproduce the issue:**

minikube start --driver=virtualbox

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**
Attached the logs.txt

Steps i have taken until now

1. Uninstalled Virtualbox and reinstalled it
2. Enabled system security to allow oracle apps
3. Restart the system and tried once again

Virtual Box Information:

[VirtualBox Graphical User

[2021-11-13 10:03] sathishsoundharajan commented on #12943
Logs File attached URL: https://github.com/kubernetes/minikube/files/7531789/logs.txt

[2021-11-13 14:17] shivanshu1333 commented on #9798
Same issue for me as well on macos

[2021-11-13 16:54] pbabbott commented on #6296
For those of us who have to use a Mac and Cisco AnyConnect- are there any options to resolve this? Perhaps installing vpn kit from source somehow?

[2021-11-13 17:58] DPS0340 commented on #12274
Hi! I'm struggling with the same errors on macOS m1.
minikube works by ignoring this error message, but custom start options like ```--extra-config=apiserver.service-node-port-range=``` won't work.

I think that kubelet couldn't be installed on macos. is it related?

* Command to reproduce
[code]

* Main error messages
[code]

[2021-11-13 18:17] DPS0340 commented on #12274
I was wrong. minikube doesn't start. I was confused with docker desktop k8s.

[2021-11-13 18:35] ILyaCyclone commented on #9798
minikube delete
minikube start

solved it for me. Apparently, this solution is not very suitable.

[2021-11-14 06:16] Mandeepsheoran opened #12944 "Error response from daemon: Get "https://registry-1.docker.io/v2/": x509: certificate signed by unknown authority."
Hi,
I recently started working on minikube and created the cluster, once I started pulling docker images inside VM, its throwing following error:

 Failed to pull image "selenium/hub": rpc error: code = Unknown desc = Error response from daemon: Get "https://registry-1.docker.io/v2/": x509: certificate signed by unknown authority

I checked with Docker team and they are saying this is minikube/kub

[2021-11-14 07:46] felixfarquharson opened #12945 "minikube start"
just a passing comment, but why would i forward the port if i just started it on 8080 what is the purpose and how will this work if i use a cloud provider?

kubectl port-forward service/hello-minikube 7080:8080

[2021-11-14 11:14] a-kataev commented on #12881
I used virtualbox [test version](https://www.virtualbox.org/download/testcase/VirtualBox-6.1.29r148140.dmg) (from [link](https://www.virtualbox.org/ticket/20636#comment:23)) with edit cask `brew edit virtualbox`. Minikube started without error

[2021-11-14 12:49] afbjorklund opened #12946 "Running minikube under multipass"
Our friends at Canonical have made a "workflow" for running minikube with [multipass](https://multipass.run/)...

It will create an Ubuntu VM for you, install Docker Engine and then run `minikube` on it:

[code]

See https://github.com/canonical/multipass-workflows/blob/main/v1/minikube.yaml

(it is using the deb installation from https://docs.docker.com/engine/install/ubuntu/)

[code]

[2021-11-14 12:54] afbjorklund commented on #12946
This script would probably have been easier to do, if minikube hadn't been removed from the Ubuntu app store:

* Issue https://github.com/kubernetes/minikube/issues/7977

Before:
[code]

After:
[code]

[2021-11-14 13:02] afbjorklund commented on #12945
The cloud provider will usually offer a real LoadBalancer, for exposing your application:

https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/

You can use `minikube tunnel` cmd, to test it locally.

https://minikube.sigs.k8s.io/docs/handbook/accessing/

[2021-11-14 13:27] afbjorklund commented on #12946
Currently multipass uses the docker-in-docker cluster, but it would also be possible to use docker directly.

`minikube start --driver=docker`

`minikube start --driver=none`

It also installs `kubectl` from snap on the VM, instead of using the client binary from `minikube kubectl`.

[2021-11-14 23:34] clintonyeb commented on #11973
@medyagh I would like to pick this up as a good first issue. Could you please give me some pointers? I am looking at `driver/driver.go` which seems to be responsible for selecting the best driver to run with.

[2021-11-15 04:17] minikube-bot opened #12947 "Frequent test failures of `TestNetworkPlugins/group/enable-default-cni/Start`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestNetworkPlugins/group/enable-default-cni/Start)|100.00|

[2021-11-15 09:07] Sprakhar97 opened #12949 "Minikube unable to connect to the VM: dial tcp 192.168.99.107:22: i/o timeout"
Problem statement and error:
I'm unable to start minikube on virtualBox
**Steps to reproduce the issue:**

1. installed virtualBox
2. Run minikube start --vm=true --driver=virtualbox
3. Minikube version: 1.16.0
4. darwin 11.6

**LOG FILE**

[logs.txt](https://github.com/kubernetes/minikube/files/7537314/logs.txt)

**Full output of failed command if not `minikube start`:**

<details>
😄  minikube v1

[2021-11-15 10:37] alexbaeza commented on #12903
Hi thanks for your comments, Unfortunately, I am entirely sure if it is because of the new Kubernetes version I will need to dig further to investigate but I can confirm it was working > 1.23.
Been mostly using 1.18 which I can confirm as well worked as expected.

Indeed that'll work as well or a recreate strategy will work too as suggested here:
https://github.com/kubernetes/minikube/pull/12904#i

[2021-11-15 11:45] jakoberpf opened #12950 "docker: no free private network subnets found with given parameters (start: "192.168.9.0")"
**Steps to reproduce the issue:**
On M1 Pro Macbook Pro 2021 and docker installed, run `minikube start `.

I did some googling but came up empty for this issue.

**Full output of failed command if not `minikube start`:**
[code]

<details>
*
* ==> Audit <==
* |----------------|--------------------------------|----------|-----------|---------|-------------------------------|-------------------------

[2021-11-15 13:05] fritz-net commented on #12754
If I remember correctly I fixed it by creating the dir - no reboot needed

[2021-11-15 13:08] sathishsoundharajan commented on #12943
Anyone faced same issue with Mac OS Update ? I have tried all the stackoverflow blog posts and virtualbox forum answers.. Not getting anywhere.

[2021-11-15 14:01] spowelljr commented on #12920
Hi @pabloelisseo, thanks for reporting your issue with minikube!

There's an old issue that has a list of steps on how to resolve this, but the instructions are for Linux: https://github.com/kubernetes/minikube/issues/4835#issuecomment-532483752

If you try `minikube delete --all --purge` and `Remove-Item -Recurse -Force $HOMEPATH\.kube` and then try starting minikube again does that resolve your

[2021-11-15 14:45] spowelljr opened #12951 "Output suggested memory flag instead of existing memory flag"
Example:
[code]

The suggested command of `minikube start --memory=16385mb` is obviously going to fail, we should output the suggested limit.

Note: If you pass a flag that includes units (`16385mb` vs `16385`), the message will output the suggested limit as expected
[code]

This is due to it not returning an int value here:
https://github.com/kubernetes/minikube/blob/b124bf588589fa5e2835a6aeb1f86

[2021-11-15 15:27] spowelljr commented on #12927
Hi @telukir, thank you for reporting your issue with minikube!

minikube doesn't yet support Kubernetes v1.23.0, we don't start supporting a Kubernetes version until it's in beta, but it's still currently in alpha (`v1.23.0-alpha.4`). You can check the latest supported version by running `minikube start --help` and then checking the `--kubernetes-version` flag.

`--kubernetes-version='': The Kuber

[2021-11-15 15:27] #12927 closed

[2021-11-15 15:39] spowelljr commented on #12881
Hi @btalbot & @a-kataev, thank you for finding the issue and work around!

[2021-11-15 15:41] spowelljr commented on #12943
Hi @sathishsoundharajan, thanks for reporting your issue with minikube!

While your exact issue is unrelated, we included a fix in the v1.24.0 release of minikube (https://github.com/kubernetes/minikube/pull/12811) that adds a fix for using with VirtualBox versions 6.1.28 and above. You're currently using v1.22.0 so I'd strongly recommend updating minikube to v1.24.0.

But now to your issue, there

[2021-11-15 15:41] #12943 closed

[2021-11-15 15:50] spowelljr commented on #12889
Hi @luisrojas17, thanks for reporting your issue with minikube!

What version of minikube are you using? We included a fix (https://github.com/kubernetes/minikube/pull/12811) in minikube v1.24.0 what fixes an unrelated issue when using VirtualBox 6.1.28 and newer, so if you're using an older version please update.

We have minikube users getting the exact same issue as you on Mac (https://github.c

[2021-11-15 15:53] spowelljr commented on #12912
Hi @abdelrazekrizk, thanks for reporting your issue with minikube!

Have you run the following?
[code]

[2021-11-15 16:03] spowelljr commented on #12915
Hi @arunnair555, thanks for reporting your issue with minikube!

This is a duplicate of https://github.com/kubernetes/minikube/issues/8409. There are suggestions in the issue such as https://github.com/kubernetes/minikube/issues/8409#issuecomment-907269490 and https://github.com/kubernetes/minikube/issues/8409#issuecomment-650565683. Try those out and see if that fixes your issue. I'm going to clo

[2021-11-15 16:03] #12915 closed

[2021-11-15 16:16] spowelljr commented on #12949
Hi @Sprakhar97, thanks for reporting your issue with minikube!

minikube v1.16.0 is an old version of minikube, as a first step I'd strongly recommend you update to the latest version (1.24.0).

Also, what version of VirtualBox are you using?

[2021-11-15 16:20] spowelljr commented on #12944
Hi @Mandeepsheoran, thanks for reporting your issue with minikube!

Could you run `minikube logs --file=logs.txt` and upload the the file to this issue, this will help debug the issue, thanks!

[2021-11-15 16:22] spowelljr commented on #12939
Hi @poiskail23, thanks for reporting your issue with minikube!

Could you please run `minikube logs --file=logs.txt` and upload the file to this issue, this will help with debugging, thanks!

[2021-11-15 16:25] spowelljr commented on #12937
Hi @kennyblaze67, thanks for reporting your issue with minikube!

Unfortunately you haven't uploaded any information or log file for me to go off of, could you please run `minikube logs --file=logs.txt` and add the `logs.txt` file to this issue, thanks!

[2021-11-15 16:26] spowelljr commented on #12936
Hi @Imtiazwaraich, thanks for reporting your issue with minikube!

Unfortunately you haven't uploaded any information or log file for me to go off of, could you please run `minikube logs --file=logs.txt` and add the `logs.txt` file to this issue, thanks!

[2021-11-15 16:30] spowelljr commented on #12840
A solution message was added with https://github.com/kubernetes/minikube/pull/12863, closing issue

[2021-11-15 16:30] #12840 closed

[2021-11-15 17:16] sathishsoundharajan commented on #12943
@spowelljr  Thanks for the detailed info.. Sorry mentioned issue didn't come up in the google search.  Updating the virtualbox to the test build solves the above issue.

But even then i end up with this error now :)

[code]

[2021-11-15 17:22] sathishsoundharajan commented on #12943
@spowelljr Actually even the above issue solved by running this command
[code]

and then started minikube

[code]

Worked :)

Posting this here, so it helps anyone in future.

[2021-11-15 17:24] spowelljr commented on #12943
Hi @sathishsoundharajan, glad that everything worked out, thanks for using minikube!

[2021-11-15 17:26] spowelljr commented on #12949
Hi @Sprakhar97, we had another user run into this issue this morning and they were able to solve this by running (https://github.com/kubernetes/minikube/issues/12943):
[code]
Then try starting minikube again, let me know if that works.

[2021-11-15 17:51] nirandaperera opened #12953 "Unable to start minikube in ubuntu 20.04"
**Steps to reproduce the issue:**

1. simply installed minikube and was running `minikube start`. I get the following error
[code]

minkube version
[code]

docker info
[code]

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

[logs.txt](https://github.com/kubernetes/minikube/files/7540620/logs.txt)

**Full output of failed command if not `minikube start`:**

[

[2021-11-15 18:01] rafariossaa opened #12954 "When using cilium with minikube 1.24 I got 'cni0' network errors"
**Steps to reproduce the issue:**

1. Start minikube with: `minikube start --cni=cilium`
2. Create any pod, I used a chart: `helm install mytl bitnami/testlink`
3. The pod stay in `ContainerCreating` and when describing the pod I got:
[code]
With minikube 1.21, or if I use minikube 1.24 but with other driver (`--driver=virtualbox`), it works.

The host operating system is Ubuntu 21.10, default ker

[2021-11-15 18:42] kgibm commented on #12658
@ifplusor

Where do you change this?

[2021-11-15 18:57] pabloelisseo commented on #12920
Yes! Thank you @spowelljr
I tried uninstalling minikube and manually deleting the directories `.kube` and `.minikube `but I suppose that these `--all --purge` flags do something else.

I will close the thread as It solved my problem.

[2021-11-15 18:57] #12920 closed

[2021-11-15 19:32] riklopfer commented on #12696
Was caused by SSL inspection -- outside scope of minikube

[2021-11-15 19:32] #12696 closed

[2021-11-15 19:38] lubumbax commented on #2481
More than three years since this issue was opened...
 it is still reproducible under Minikube v1.24.0 and Hyperkit 0.20200908

[2021-11-15 20:13] spowelljr opened #12956 "Update cri-o to v1.22.1"
Update ISO and KIC to use cri-o v1.22.1

[2021-11-15 20:18] spowelljr commented on #12920
Glad that solved your issue, thanks for using minikube!

[2021-11-15 20:24] #12934 closed

[2021-11-15 20:59] klaases commented on #12951
/assign

[2021-11-15 21:00] klaases commented on #12956
/assign

[2021-11-15 21:22] prezha commented on #12905
v1.14 is beyond the "last 6 minor versions" support policy we are trying to maintain

nonetheless, i gave a quick look at if it could be achieved and, based on https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#experimenting-with-admission-webhooks, for k8s versions before 1.16, `admissionregistration.k8s.io/v1beta1` api should be used instead of `admissionre

[2021-11-15 21:44] thimasan opened #12957 "minikube start"

[2021-11-15 22:23] abdelrazekrizk commented on #12912
yes
but I also run another one you can see it in
https://github.com/abdelrazekrizk/Project-4-ml-microservice-kubernetes#install-docker-engine-on-ubuntu
but when I close my instance in AWS
and open it after that I need to run the same command again
but if you ask if that work yes it is that command start docker and can start Kubectl after that
I hope my answer covers your request

[2021-11-16 00:19] nirandaperera commented on #9586
Hi all, any update on this? I am having a similar error. But none of the suggestions seems to be working for me :-( I opened a new issue with the details. #12953

[2021-11-16 00:23] nirandaperera commented on #8707
Hi all, any update on this? I am having a similar error. But none of the suggestions seems to be working for me :-( I opened a new issue with the details. #12953

[2021-11-16 03:37] iamnoah opened #12962 "ingress DNS slow to recognize new subdomain"
Not sure how to categorize or describe this.  Basically we create new Ingress objects under a wildcard domain. e.g., `*.foo.minikube` we have the resolver configured:

[code]

In 1.22, a new Ingress hostname (e.g., `123.foo.minikube`) was pretty much instantly resolved, routed to ingress-nginx, and to the backend service.  Now with 1.24, DNS queries for `123.foo.minikube` don't resolve for quite s

[2021-11-16 10:15] ifplusor commented on #12658
@toanju See this line https://github.com/kubernetes/minikube/blob/323225483ed87e20a0d2c32b4e02f49afc5a39a3/pkg/drivers/kic/oci/oci.go#L509

I change it to

[code]

[2021-11-16 14:22] alexsimon1 opened #12965 "Unable to start on Azure VM with Windows Server 2019"
Hello,

im trying to start minikube but but i get errors later on in minikube status.

PS C:\kubernetes> minikube status
E1116 14:49:53.665506    4884 status.go:350] failed to get driver ip: getting IP: IP not found
E1116 14:49:53.665683    4884 status.go:258] status error: getting IP: IP not found
minikube
type: Control Plane
host: Error
kubelet: Nonexistent
apiserver: Nonexistent
kubeconfig: Non

[2021-11-16 14:44] cptnnm commented on #12899
I am experiencing the same issue: there is no further output shown whereas the [documentation](https://minikube.sigs.k8s.io/docs/handbook/accessing/#run-tunnel-in-a-separate-terminal) states that there should be some output. The tunnel functionality itself is working, i.e. the external IP is exposed to the host system.

[2021-11-16 15:45] spowelljr commented on #12957
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2021-11-16 17:13] spowelljr opened #12967 "Implement a `minikube disk-usage` command so users can see how much space minikube is using"
There have been some comments by users that they find minikube uses a lot of disk space and there's no easy way to see how much it's using.

We should implement a command so users can easily view the disk space usage. This will include things like preloads and image caching and output the usage categorically.

[2021-11-16 17:28] spowelljr opened #12968 "Go through all documentation and ensure commands/tutorials exist for both Unix & Windows"
Our documentation is generally written for Unix, this can be annoying if users have to find the Windows versions of the commands online themselves. To help out our Windows users we should ensure all documentations contains both Unix & Windows commands, this will greatly help out new Windows users who are trying to get started with Windows.

[2021-11-16 20:29] LIVelasco commented on #12301
Same issue here on Ubuntu 20.04, and using the docker driver didn't fix my problem

[2021-11-17 00:17] #12745 closed

[2021-11-17 00:17] #12223 closed

[2021-11-17 00:39] netwrk197 commented on #12301
The issue is docker driver. Of course it will cause problem not fixing. You
can use virtualbox driver as work around solution.

On Wed, 17 Nov 2021, 04:29 LIVelasco, ***@***.***> wrote:

[2021-11-17 02:37] JohnnyLufa commented on #12832
Not recommended, but you can try this:
If you are in a rush to get it working, you can download the test build here with the patch that fixes this issue: https://www.virtualbox.org/download/testcase/VirtualBox-6.1.29r148140.dmg

(as mentioned in the ticket: https://www.virtualbox.org/ticket/20636)

[2021-11-17 04:25] arunix opened #12970 "kubeadm cannot validate component configs for API groups"
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-11-17 05:23] neeleshtiwari opened #12971 "Unable to install minikube"
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

You are trying to run amd64 binary on M1 system. Please consider running darwin/arm64 binary instead (Download at https://github.com/kubernetes/minikube/releases/download/v1.24.0/minikube-darwin-ar

[2021-11-17 07:16] legal90 commented on #12616
Hi @RajAdittan , @arcuaki ,
I am the maintainer of https://github.com/Parallels/docker-machine-parallels, which is used for `parallels` integration here

Could you please try to reproduce this issue again on the lates Parallels Desktop 17.1.0?
If it is still there, please run this command and then try again:
[code]
That command is the CLI analogue of the GUI action`'Parallels Desktop' -> 'Preferen

[2021-11-17 07:25] MayukhSobo commented on #5336
This did not help me....I am moving to `virtualbox` driver.

[2021-11-17 07:28] jgoeres commented on #12301
As I mentioned, I am observing the same problem with hyper-v driver.

[2021-11-17 08:06] blackrose28 commented on #12953
Any update on this? I encounter this problem as well

[2021-11-17 14:57] carloscutover commented on #12971
I am having the same issue.

[2021-11-17 18:25] luisrojas17 commented on #12889
Hi @spowelljr, thanks for your answer.

The version that I have installed is:
   minikube version: v1.24.0
   commit: 76b94fb3c4e8ac5062daf70d60cf03ddcc0a741b

Regards.

[2021-11-17 18:54] spowelljr commented on #12971
`You are trying to run amd64 binary on M1 system. Please consider running darwin/arm64 binary instead (Download at https://github.com/kubernetes/minikube/releases/download/v1.24.0/minikube-darwin-arm64.)`

Have you tried downloading and installed the arm64 binary yet? It's possible that doing that will solve your issue.

[2021-11-17 18:54] spowelljr commented on #12970
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2021-11-17 19:10] spowelljr commented on #12775
Hi @besmirzanaj, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-11-17 19:10] #12775 closed

[2021-11-17 19:11] spowelljr commented on #12766
Hi @mhoja, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-11-17 19:11] #12766 closed

[2021-11-17 19:11] spowelljr commented on #12277
Hi @laxmikantbpandhare, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-11-17 19:11] #12277 closed

[2021-11-17 19:12] spowelljr commented on #11044
Hi @samwho, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-11-17 19:12] #11044 closed

[2021-11-17 19:13] spowelljr commented on #10612
Sounds good, I'll close this issue for now, but if you or someone else experiences this issue feel free to re-open the issue, thanks!

[2021-11-17 19:13] #10612 closed

[2021-11-17 19:16] spowelljr commented on #12688
Hi @snag9032, thanks for reporting your issue with minikube!

What version of VirtualBox are you using?

[2021-11-17 19:16] spowelljr commented on #12622
Hi @bcui2020, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-11-17 19:16] #12622 closed

[2021-11-17 19:17] medyagh commented on #12926
@afbjorklund how about adding this as a tutorial in minikube site ?

do we already have an issue for fixing containerd in none driver?

[2021-11-17 19:17] spowelljr commented on #12583
Hi @darman96, we haven't heard back from you in a while, so I'm going to close this issue. But if you have more questions feel free to re-open the issue, thanks!

[2021-11-17 19:17] #12583 closed

[2021-11-17 19:18] sharifelgamal commented on #12444
Hey @mattf9  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikube start

[2021-11-17 19:18] #12444 closed

[2021-11-17 19:18] spowelljr commented on #12343
Hi @kamalkech, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-11-17 19:18] #12343 closed

[2021-11-17 19:18] spowelljr commented on #12307
Hi @syedkhalandar80, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-11-17 19:18] #12307 closed

[2021-11-17 19:22] medyagh commented on #5792
@prezha I wonder if u would like to take on this issue to start the conversation and add signing for minikube binaries?

[2021-11-17 19:23] #10596 closed

[2021-11-17 19:24] spowelljr commented on #11710
I believe this might be a duplicate of https://github.com/kubernetes/minikube/issues/4841

[2021-11-17 19:26] medyagh commented on #12938
hm.. that seems like a feature it can't do, I would accept a purposal or a PR that would fix or find a work around for this?

we would need to add the --cluster because the user might have multiple clusters and that had caused our tests to fail

[2021-11-17 19:26] sharifelgamal commented on #12501
Hey @ChenLin12138, I would try minikube v1.24.0, we fixed some more ingress issues here as well. If the issues continue, please paste the output of `minikube addons enable ingress --alsologtostderr` in a new issue.

@sattsb, please feel free to reopen this issue if your issues persist as well.

[2021-11-17 19:26] #12501 closed

[2021-11-17 19:27] sharifelgamal commented on #12723
Hey @al-hujaylan – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikube s

[2021-11-17 19:27] #12723 closed

[2021-11-17 19:27] spowelljr commented on #11710
I'm going to close this issue in favor of #4841, please follow along with the issue there, thanks!

[2021-11-17 19:27] #11710 closed

[2021-11-17 19:29] #12732 closed

[2021-11-17 19:32] sharifelgamal commented on #12780
Please update your minikube version to v1.24.0 and please try again. Feel free to reopen this issue if you continue to see problems.

---

请将您的 minikube 版本更新到 v1.24.0，然后再试一次。如果您继续看到问题，请随时重新打开此问题。

[2021-11-17 19:32] #12780 closed

[2021-11-17 19:33] sharifelgamal commented on #12783
Hey @Sivasedhu  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikube st

[2021-11-17 19:33] #12783 closed

[2021-11-17 19:34] sharifelgamal commented on #12810
Hey @devops775 – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

Whether the issue occurs with the latest minikube release

The exact minikube start c

[2021-11-17 19:34] #12810 closed

[2021-11-17 19:36] sharifelgamal commented on #12714
hmmm, I wonder if this is an issue or limitation with `minikube tunnel` or not. I would love for someone to take a closer look. Help wanted!

[2021-11-17 19:37] spowelljr commented on #9295
I tried this on Darwin 12.0.1 with minikube 1.24.0 with both the Docker and HyperKit drivers and wasn't able to replicate this. Could I get some information on setups? @owenthereal

[2021-11-17 19:38] sharifelgamal commented on #12690
@fabiolnm, can you try upgrading to minikube v1.24.0 and trying again? If the issue persists can you run `minikube logs --file=logs.txt` and attach the logfile to this issue?

[2021-11-17 19:42] sharifelgamal commented on #12687
Hey @srfrnk, this seems to be an issue with your browser, rather than with `minikube dashboard`. Are you able to successfully `curl` that endpoint in a terminal, or manually paste the URL into a browser?

[2021-11-17 19:44] spowelljr commented on #12115
Thanks for finding the cause @pfeigl, I'll take a look at implementing your change and seeing if it's backwards with older of versions of Docker as you mentioned.

[2021-11-17 19:46] sharifelgamal commented on #12669
Hey @vanimarcos, can you please try upgrading to minikube v1.24.0, deleting your existing cluster and trying again? If you continue to have issues, feel free to reopen this issue.

[2021-11-17 19:46] #12669 closed

[2021-11-17 19:49] spowelljr commented on #11644
Hi @bzvestey, if you're modifying the `entrypoint` file you'd be building the kicbase image, to test the change locally you can run `make local-kicbase` then `make` after to recompile the minikube binary. Then just start the recompiled minikube binary and can test it from there.

[2021-11-17 19:50] sharifelgamal commented on #12471
Your ability to access resources outside of minikube, on your local machine, depends on what OS and minikube driver you're using. We don't currently have any documentation on how that works, but we're working on adding it.

[2021-11-17 19:51] spowelljr commented on #12833
Closing this issue due to duplication.

[2021-11-17 19:51] #12833 closed

[2021-11-17 19:52] medyagh opened #12974 "Add functional test to curl an "outside service" from inside minikube"
many users want to access their Database or Server that lives outside minikube (on their laptop)
we should add an integraiton test
- Add a Sub test for functional test called "Access External Service" https://github.com/kubernetes/minikube/blob/master/test/integration/functional_test.go#L72
- that spins up a Dummy Http Server (maybe ngnix) outside minikube
- Curls that dummy server inside minikube

[2021-11-17 19:54] #11607 closed

[2021-11-17 19:55] medyagh commented on #12725
there are no rules u could put them either in files that are Numbered so the lower number will go first and then other numbers
like
0-fileA.yaml
1-fileB.yaml

[2021-11-17 19:58] spowelljr commented on #11107
Thanks for finding that image @zhyyu! This issue is open to anyone that wants to take it.

[2021-11-17 20:01] sharifelgamal commented on #4206
@gilbahat we are working on a qemu driver in the near future, specifically for arm64 support but just for more general support as well.

WRT to connectivity issues with hyperkit, it's something we're actively working on fixing in the short term: https://github.com/kubernetes/minikube/issues/3036

[2021-11-17 20:02] klaases commented on #9228
/assign

[2021-11-17 20:02] spowelljr commented on #12874
Hi @pywangwwei, in our logs you see the following `You are trying to run amd64 binary on M1 system. Please consider running darwin/arm64 binary instead (Download at https://github.com/kubernetes/minikube/releases/download/v1.23.1/minikube-darwin-arm64.)`
Please try downloading the arm64 binary and using it and see if that resolves your issue, thanks!

-----

嗨@pywangwwei，在我们的日志中，您会看到以下内容`您正在尝试在 M1

[2021-11-17 21:47] Aharic commented on #8371
Seeing same thing after upgrading to Monterey here...

[2021-11-17 22:09] veperales commented on #8371
@RohitRathore1 , @EricoCartmanez , @Aharic
fyi: @medyagh

So I finally made minikube to start and work properly after dont know how many workarounds....

What I did.

1.- Delete all minikube profiles.
            #minikube delete profile
2.- Uninstall minikube using brew
            #brew uninstall minikube
3.- Uninstall virtualbox by using the uninstall option inside the installer .dmg file
4.- R

[2021-11-17 22:49] mpuckett159 commented on #12968
Hey I was going through the docs and taking a stab at this and noticed that there's some inconsistency on the kind of formatting used to provide tabbed views of commands for Windows/Linux/macOS, wanted to get takes on which would be preferred formatting:

Example 1:
https://minikube.sigs.k8s.io/docs/handbook/addons/ingress-dns/
The above page uses quiz card styling like so
[code]

Example 2:
https

[2021-11-17 22:50] spowelljr commented on #12115
So I was looking into this a bit, the `minikube tunnel` command documentation is possibly lacking.

`minikube tunnel` is meant to be open in a separate terminal and left running, the command won't "complete" it's meant to be ctrl+c when you're done using the tunnel.

If you do the following:
[code]

That's what I got on Ubuntu 20.04 WSL.

If you don't have a service running and run `minikube tunne

[2021-11-17 23:32] spowelljr commented on #12968
Hi @mpuckett159, the reason the first one uses a different style is because there are many different options other than OS, so we went with a style to keep all the buttons consistent (shown below).
![Screen Shot 2021-11-17 at 3 30 05 PM](https://user-images.githubusercontent.com/44844360/142299013-aa058423-2f54-410a-abaa-dc618bf3523d.png)

Where as the second option is perfectly fine for everythin

[2021-11-17 23:37] #12951 closed

[2021-11-17 23:53] mpuckett159 commented on #12968
Sorry I was referring to this one on the `handbook>addons>ingress-dns.md` page. Either way, I'll use the second option.
<img width="930" alt="Screen Shot 2021-11-17 at 3 51 06 PM" src="https://user-images.githubusercontent.com/13648427/142300643-896268a1-f8cf-4a72-992d-14705daac891.png">

[2021-11-18 00:31] spowelljr commented on #12968
Ah, that looks a little weird to me, feel free to change that one the second option when you make your changes.

[2021-11-18 01:05] prezha commented on #5792
@medyagh an interesting one - i accept the challenge!
i'd propose to start with signing the binaries for macos, then see for other platforms as well ({rpm, deb}, {exe}) as they all seem to need different handling

[2021-11-18 03:30] richkuz commented on #8398
Not sure if this is exactly what you're asking, but if you only need to forward some exposed container ports out of Minikube so they are accessible on your host machine, you can run an SSH tunnel. This is useful if you are using Minikube as a Docker Desktop replacement and aren't running K8s services.

For example, forward traffic on exposed container port 8000 to the host machine on port 8000:
[c

[2021-11-18 04:50] neeleshtiwari commented on #12971
Hello @spowelljr I have downloaded the arm64 binary and it is 70 mb document but how would I use it .. I am using MAC M1 so can you help me out how should I do this ?

[2021-11-18 07:06] vcc-huf commented on #12938
well, until they fix kubectl, you can maybe provide an official and supported way to directly call the kubectl installed by minikube?
the one i discovered is rather a hack.

[2021-11-18 07:22] afbjorklund commented on #5792
I think we have already given up on the deb and rpm, the current apt and yum repositories are deprecated and the new ones are not taking new projects (SIGs)

So signing for Windows Store has higher priority

Arguably re-adding the snap to Ubuntu after that...

[2021-11-18 07:30] afbjorklund commented on #12926
Not as far as I know, since docker is still the default container runtime for minikube

[2021-11-18 07:39] srfrnk commented on #12687
Thanks @sharifelgamal - after you comment I googled the error with chrome and ubuntu and indeed it's a known issue with chrome on ubuntu. (https://simpleit.rocks/linux/ubuntu/fixing-common-google-chrome-gpu-process-error-message-in-linux/)
I'm gonna close this. Thanks for the help!

[2021-11-18 07:39] #12687 closed

[2021-11-18 07:55] vcc-huf commented on #12938
just realized that my hack doesnt work if the minikube node is down... because of reasons.

this does work however:
[code]

it's even worse though.

[2021-11-18 12:22] RajAdittan commented on #12616
I have tried setting command line option. Now the error is;

minikube start --driver=parallels --alsologtostderr -v=7

I1118 20:06:44.755557   32493 main.go:130] libmachine: Getting to WaitForSSH function...
I1118 20:06:44.755597   32493 main.go:130] libmachine: executing: /usr/local/bin/prlctl list minikube --output status --no-header
I1118 20:06:44.908432   32493 main.go:130] libmachine: executi

[2021-11-18 12:33] RajAdittan commented on #12616
I think it is working, now go preferences -> network "Enable ipv4 dhcp", i.e it works. thank you.

[2021-11-18 13:47] dobrevavictoria commented on #5293
@tstromberg Thank you so much for the workaround! I had the same problem (with installed virtualbox and kvm drivers) and the commands you shared resolved it!
[code]

[2021-11-18 17:35] pvanderlinden opened #12983 "Unable to start a cluster"
**Steps to reproduce the issue:**

1. install minikube, tried two versions: `1.24.0` and `1.23.2`
2. `minikube start`, also tried `--kubernetes-version=v1.21.1`

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>
😄  minikube v1.24.0 on Arch
✨  Automatically selected the docker driver. Other ch

[2021-11-18 17:42] pvanderlinden commented on #12983
After reading through the above myself:
- first minikube mentions it wants me to use a different docker driver for performance
- then it seems to complain about btrfs: does this mean that btrfs on the host system is not suppored?

[2021-11-18 17:45] pvanderlinden commented on #12983
I Also noticed this when running: `journalctl -xeu kubelet`

[code]

This looks like it's not actually failing on btrfs, but it is failing on the root device (full disk encryption). Not sure about that, because on my previous install I was running minikube succesfully on arch linux with an encrypted root and ext4 fs.

[2021-11-18 18:00] spowelljr commented on #12971
You can view install instructions on our `Getting Started` page (https://minikube.sigs.k8s.io/docs/start/).

[code]

[2021-11-18 18:15] #10451 closed

[2021-11-18 20:58] spowelljr commented on #12983
Hi @pvanderlinden, thanks for reporting your issue with minikube!

You are correct that minikube doesn't yet support btrfs (https://github.com/kubernetes/minikube/issues/7923).

However, there's a user on another similar issue that stated adding the `--feature-gates="LocalStorageCapacityIsolation=false` flag to their start command solved their problem (https://github.com/kubernetes/minikube/issues

[2021-11-18 20:58] carloscutover commented on #12971
Hi Steven,

Thank you for the response. I have followed all these steps and was able to not get an error when running minikube start, however, when try to check the version of minikube --version, I get Error: unknown flag: --version
See 'minikube --help' for usage.

is this normal?

TIA!

[2021-11-18 21:18] spowelljr commented on #12971
Hi @carloscutover, I'm glad that solved your issue!

minikube doesn't support `minikube --version` it uses `minikube version` instead.

[2021-11-18 21:54] 0xStarcat commented on #9849
Updating to minikube `1.24.0` fixed it for me https://github.com/kubernetes/minikube/issues/12825

[2021-11-18 22:06] abubakarm94 commented on #9305
This is still an issue on minikube `v1.23.2`

[2021-11-19 02:57] zhang14725804 commented on #12795
thank you

[2021-11-19 06:06] vishjain commented on #12974
/assign

[2021-11-19 11:55] worldwideward opened #12987 "DNS configuration"
Hi

My minikube installation doesn't work because for some reason minikube provisions the "hosts" with illogical DNS settings.

[code]
This is illogical because the host runs in a docker network with cidr `192.168.42.0/24`

I can pull images and the , but inter-pod networking is broken (no ping, no resolution, no nothing).

Anyway, the actual question is **where can I find documentation about how

[2021-11-19 13:43] pvanderlinden commented on #12983
Thanks for the help @spowelljr That solves the issue. I probably should have searched for btrfs in the issues once I realized it was because of btrfs. It was hard to spot the actual cause though as there were several errors (cryptroot, btrfs and a few others). Closing now

[2021-11-19 13:43] #12983 closed

[2021-11-19 17:20] lubumbax commented on #4621
Somebody in this thread https://github.com/kubernetes/minikube/issues/4621#issuecomment-631657843 mentions having reproduced it with drivers `kvm2` and `virtualbox`.
If that's so, that suggests that the issue is not only related to 9P in Hyperkit.

[2021-11-19 17:38] spowelljr commented on #12795
I'm going to close this issue as I believe this solved your issue, but if not feel free to re-open it, thanks for using minikube!

[2021-11-19 17:38] #12795 closed

[2021-11-19 17:46] spowelljr opened #12988 "Update containerd to 1.5.8 to mitigate CVEs"
We're currently using containerd `v1.5.2` in minikube, which is vulnerable to [CVE-2021-41190](https://github.com/opencontainers/distribution-spec/security/advisories/GHSA-mc8v-mgrf-8f4m) & [CVE-2021-41103](https://github.com/advisories/GHSA-c2h3-6mxw-7mvq), updating to `v1.5.8` will mitigate those.

[2021-11-19 18:40] afbjorklund commented on #12988
Should be a matching 1.4.x as well

[2021-11-19 20:01] klaases opened #12989 "Stop kubernetes when start --no-kubernetes is called, if it is already running."
Currently, minikube will continue running kubernetes. When start --no-kubernetes is called, we should stop kubernetes.

**Steps to reproduce the issue:**

1. minikube start
2. minikube start --no kubernetes

[code]

[code]

[2021-11-19 20:02] klaases commented on #12989
/assign

[2021-11-19 20:29] spowelljr commented on #7923
Kubernetes 1.23 will support `btrfs`

https://github.com/kubernetes/system-validators/pull/26

[2021-11-19 22:23] klaases commented on #12988
/assign

[2021-11-20 09:53] afbjorklund commented on #12967
Related to:
* #3574

[2021-11-20 11:52] afbjorklund commented on #12967
This is also relative.

Minikube does consume a **lot** of disk space, compared to previous solutions like docker-machine and localkube.

But it should consume a _comparable_ amount, when compared to something like vagrant and plain kubeadm ?

A couple of GiB is "expected".

[2021-11-20 12:53] afbjorklund commented on #12508
The default docker installation in lima is rootless:

`brew install lima`

[code]

`brew install minikube`

[code]

`Exiting due to MK_USAGE: Container runtime must be set to "containerd" for rootless`

[code]

`Done! kubectl is now configured to use "docker" cluster and "default" namespace by default`

----

So minikube works in lima, when using the "docker" (or "podman") driver.

It is also poss

[2021-11-21 01:24] OkabeRitarou commented on #4043
Thanks @pythonInRelay

[2021-11-21 13:23] sayantanu-dey commented on #12459
/assign

[2021-11-22 02:42] mattjs commented on #12899
Anyone know what might be going on here?

[2021-11-22 03:21] mattjs commented on #12899
I also ran the command with the `--alsologtostderr` flag

[code]

Still hangs after entering my password

[2021-11-22 09:46] nishantpatel11 opened #12999 "❌ Exiting due to GUEST_START: Failed to check container runtime version: docker version --format : exit status 1"
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-11-22 11:48] rafariossaa commented on #12954
Hi,
  Any hint on this ?

[2021-11-22 13:01] sayantanu-dey commented on #12459
Hi @noxora , I was trying to reproduce this issue on my linux machine, but failed to reproduce the error,
what I did was -
1. started minikube (`minikube start`)
2. created a deployment with loadbalancer
3. ran `minikube tunnel`
4. deleted minikube (`minikube delete`)
5. The tunnel stopped automatically after spitting connection refused errors.
6. Then I repeated the above steps
Am I missing somet

[2021-11-22 13:11] pranv-sonawane commented on #4587
The boot configuration data store could not be opened.
Access is denied.
![kube](https://user-images.githubusercontent.com/55915944/142867535-dd69b632-abf2-402c-8da9-7547f52a8af0.jpg)

[2021-11-22 14:51] Luttik commented on #9762
/remove-lifecycle stale

[2021-11-22 17:07] spowelljr commented on #12999
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2021-11-22 18:01] #12871 closed

[2021-11-22 18:35] spowelljr opened #13003 "Supporting file mounting with`--no-kubernetes` flag"
Currently, if the `--no-kubernetes` flag is passed, mounting is skipped, but users still want to be able to mount files with `--no-kubernetes` so we should not skip it.

[2021-11-22 18:39] joe-legg opened #13004 "Can't enable ingress addon - Kubernetes Version 1.19.15"
**Steps to reproduce the issue:**

1. `minikube start --kubernetes-version=v1.19.15 --vm-driver=docker`
2. `minikube addons enable ingress`

**Full output of `minikube addons enable ingress`:**
<details>

[code]
</details>

**Output of `minikube logs --file=logs.txt`**
[logs.txt](https://github.com/kubernetes/minikube/files/7583550/logs.txt)

`/tmp/minikube_addons_2c0e0cafd16ea0f95ac51773aeef036b3

[2021-11-22 18:45] spowelljr commented on #13003
Change is done, waiting for https://github.com/kubernetes/minikube/pull/12930 to be merged first since it changes mount func signature.

[2021-11-22 19:34] sharifelgamal commented on #9295
This was fixed in minikube v1.24.0.

[2021-11-22 19:34] #9295 closed

[2021-11-22 19:41] sharifelgamal opened #13005 "Add UEFI bootloader for x86 ISO"
https://en.wikipedia.org/wiki/Unified_Extensible_Firmware_Interface

[2021-11-22 19:42] zeshan321 commented on #12953
Same experiencing the same issue

[2021-11-22 19:50] greenchapter opened #13006 "Problems with minikube on Apple Silicon M1 with podman/hyperkit"
Actually I want to run minikube on my Apple Silicon M1 MacBook Pro without using Docker (the Docker integration actually works) actually I focusing on **podman** and **hyperkit** but currently nothing of this two drivers will work.

For me it looks like that **podman** is currently running and I can build images with podman but I got no working hypervisor for minikube.
**hyperkit** looks like is c

[2021-11-22 20:10] medyagh opened #13007 "handle HTTP_PROXY and HTTPS_PROXY in our code"
Looking through the release notes for docker lib https://github.com/kubernetes/minikube/pull/13002#issue-1060472536

[code]

I believe this. means  if user populates only the HTTP_PROXY we need to pass it to HTTPS_PROXY as well

more context https://github.com/golang/go/issues/40909

[2021-11-22 20:43] nicksieger opened #13008 "Minikube start with profile name should create cluster with a "minikube-" prefix"
In order for development tools to distinguish between local/development clusters from production clusters, K8s distributions that create local clusters have been using a `{distro}-` prefix as part of the cluster context name (e.g.,  `kind-`). It would be great if Minikube could adopt this convention as well!

**Steps to reproduce the issue:**

1. `minikube start -p mykube`
2. `kubectl config view

[2021-11-22 21:09] nirandaperera commented on #12953
I switched to virtual box as the driver and that seem to be working as expected.

[2021-11-22 21:30] medyagh commented on #13008
Hi @nicksieger we have added metadata to kubeconfig
That labels who created a cluster. We would love to make that a standard for all local kubernetes development.

[2021-11-22 21:42] #11296 closed

[2021-11-22 21:42] #11336 closed

[2021-11-23 00:07] medyagh opened #13012 "Flake TestStartStop/group/no-preload/serial/Pause"
Example
https://storage.googleapis.com/minikube-builds/logs/13002/21462/Docker_Linux.html#fail_TestStartStop%2fgroup%2fno-preload%2fserial%2fPause

The logs include:

[code]

the important part is

[code]

[2021-11-23 01:05] nicksieger commented on #13008
We could look at the metadata too, I think that would solve the problem. I also like the metadata approach, what can we do to shop that around to Kind, K3d and others? Start with related issues there?

[2021-11-23 05:22] RA489 commented on #13006
/kind support

[2021-11-23 05:23] RA489 commented on #13004
/kind support

[2021-11-23 05:23] RA489 commented on #12987
/kind support

[2021-11-23 05:23] RA489 commented on #12962
/kind support

[2021-11-23 05:24] RA489 commented on #12950
/kind support

[2021-11-23 05:25] RA489 commented on #12965
/kind support

[2021-11-23 07:35] RA489 commented on #11897
/remove-lifecycle stale

[2021-11-23 07:37] RA489 commented on #11580
/remove-lifecycle stale

[2021-11-23 14:45] danilsmirnov commented on #12825
thx❤️

[2021-11-23 15:10] guiliguili commented on #11552
I have the same issue as @aurelien-m :
* minikube
  * version: v1.24.0
  * commit: 76b94fb3c4e8ac5062daf70d60cf03ddcc0a741b
* macOS 12.0.1

[2021-11-23 16:52] joe-legg commented on #13004
It works when I downgrade to minikube v1.23.2.

[2021-11-23 16:52] #13004 closed

[2021-11-23 18:33] #12301 closed

[2021-11-23 18:58] medyagh opened #13014 "Improve "👎 Unable to pick a default driver" to be more relevant"
on a Mac M1 laptop with Docker not running I get following message:
talking about drivers that are not available on this platoform (such as Virtualbox and hyperkit)
messsage should only show relevent drivers to platofrm
[code]

alternatively for the Not-Installed ones we could improve the message to show them in a separate list for example
[code]

[code]

[2021-11-23 19:03] medyagh commented on #13008
I think metadata is best way to verify, since a minikube cluster can be called easily anything by the user.
[code]

here is how kubeconfig shows for minikube and docker desktop
[code]

for minikube there is an extension metadata shows what version of minikube created the context

[code]

I suggest we add this as a standard for all local kubernetes tools. it would worth a industry-wide collaboratio

[2021-11-23 19:20] codingluke commented on #3647
👍 for this feature!

[2021-11-23 19:28] spowelljr commented on #12301
This should be fixed with the above PR, feel free to try it out with the following binaries:
https://storage.googleapis.com/minikube-builds/13013/minikube-linux-amd64
https://storage.googleapis.com/minikube-builds/13013/minikube-darwin-amd64
https://storage.googleapis.com/minikube-builds/13013/minikube-windows-amd64.exe

[2021-11-23 20:19] daehyeok opened #13016 "Improve `minikube cp` command(include directory copy)"
`minikube cp` command only support regular file through `scp`. Maybe it will be more useful if it can copy directory too or handle symlink.

 Docker(Moby) project well structured test cases for copy files from/to  container.
 It will be good reference to handling directory and symbolic link.
[docker_cli_cp_from_container_test.go](https://github.com/moby/moby/blob/master/integration-cli/docker_cli_

[2021-11-23 20:19] daehyeok commented on #13016
/assign

[2021-11-23 20:49] martingaleh commented on #3036
I imagine a lot of people will have this type of problem now that the docker desktop issue is forcing our hands.  Here's my error to add to the list; hope its helpful.  It seems like its' saying the same thing everyone else is saying.
minikube start --driver=hyperkit --container-runtime=docker
😄  minikube v1.24.0 on Darwin 11.4
✨  Using the hyperkit driver based on existing profile
👍  Starting con

[2021-11-23 20:52] medyagh commented on #13016
sounds like a good idea !

[2021-11-23 23:12] shubb30 opened #13017 "Minikube cannot start because machine does not exist"
I am using Minikube installed via homebrew on Catalina 10.15.7.  I have Parallels 17.0.1 for Mac.

[code]
[minikube.log](https://github.com/kubernetes/minikube/files/7591498/minikube.log)

[2021-11-24 00:17] #12917 closed

[2021-11-24 00:18] sfc-gh-adlee commented on #13004
same here. Im running 1.19.2 and doesnt work

[2021-11-24 04:17] RA489 commented on #9834
/remove-lifecycle stale

[2021-11-24 04:18] RA489 commented on #9452
/remove-lifecycle stale

[2021-11-24 04:19] RA489 commented on #11954
/remove-lifecycle stale

[2021-11-24 04:19] RA489 commented on #11903
/remove-lifecycle stale

[2021-11-24 04:20] RA489 commented on #12038
/remove-lifecycle stale

[2021-11-24 05:32] prathapdasari opened #13019 "virtualbox: Unable to start the minikube"
Hi Team,

I am unable to start the minikube in virtual box on mac laptop due to the following error.
Please find the attached logs.txt file here

k8@k8-VirtualBox:~$ minikube start --driver=virtualbox
😄  minikube v1.24.0 on Ubuntu 20.04
✨  Using the virtualbox driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🏃  Updating the running virtualbox "minikube"

[2021-11-24 05:34] prathapdasari commented on #13019
[logs.txt](https://github.com/kubernetes/minikube/files/7592981/logs.txt)

[2021-11-24 14:09] chetak123 commented on #13014
hey @medyagh I am new to kubernetes ecosystem and would like to explore and contribute to minikube codebase through this issue
/assign @chetak123

[2021-11-24 15:41] carl-reverb commented on #13006
Attempted exactly this procedure on M1 Mac: `MacBook Pro (16-inch, 2021)`, with slight modification:
1. `podman machine init --cpus 2 --memory 2048 --disk-size 20 --image-path next`
2. `podman machine start`
3. `podman system connection default podman-machine-default-root`
4. `minikube start --driver=podman --container-runtime=cri-o`

Proximal output (for searchers)
[code]

[logs.txt](https://gith

[2021-11-24 23:23] zeshan321 commented on #12953
That worked for me as well. Strange that docker doesn't work

[2021-11-25 02:17] minikube-bot opened #13020 "Frequent test failures of `TestDownloadOnly/v1.16.0/preload-exists`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_macOS&test=TestDownloadOnly/v1.16.0/preload-exists)|20.00|

[2021-11-25 03:43] RA489 commented on #11534
/remove-lifecycle stale

[2021-11-25 03:45] #12919 closed

[2021-11-25 03:54] medyagh commented on #13019
hi @prathapdasari I am curious have u tried a newer version of Vbox or a different driver?

[2021-11-25 04:45] RA489 commented on #13017
/kind support

[2021-11-25 07:37] lmx1989219 commented on #9473
yes.i need the same. thanks!

[2021-11-25 08:20] prathapdasari commented on #13019
Hi @medyagh  I have uploaded screenshot of my VirtualBox
<img width="1675" alt="Screenshot 2021-11-25 at 09 18 59" src="https://user-images.githubusercontent.com/67961663/143404771-ce0c9d7a-d4aa-4098-882a-baf89692714c.png">

<img width="669" alt="Screenshot 2021-11-25 at 09 20 11" src="https://user-images.githubusercontent.com/67961663/143404928-313ef546-4a3a-40b7-916d-8ce85da2d0cf.png">

[2021-11-25 08:44] beterhans opened #13021 "windows 10 Unable to use docker command but minikube is running"
WIndows 10 power shell
Hyper-V disabled, windows docker uninstalled
Virtualbox can run

I'm using direct internet NOT behind a firewall or proxy
but it always give me this This VM is having trouble accessing https://k8s.gcr.io
in the end it can run but I'm unable to access to docker command.

I'm not sure I need to install docker or not
I tried to install it but it can't run, and also destroy my v

[2021-11-25 11:48] tmcalves opened #13022 "minikube start --image-repository with port does not work without scheme"
Related to PR https://github.com/kubernetes/minikube/pull/11585/files which was release on v1.23.0

**Steps to reproduce the issue:**
1. Run command `minikube start--image-repository <repository>:<port>` for example: `minkube start --image-repository repository:8080`
2. Observe the output `The --image-repository flag your provided contains Scheme: repository, which will be removed automatically` a

[2021-11-25 13:55] amarandon commented on #12301
For the record, I was trying to mount a directory into minikube and then use that directory as a `hostPath` volume from which I was trying to mount a `subPath` in a pod. The error I was getting was this:
[code]
Using the above binary fixes the issue.

[2021-11-26 00:23] rfk commented on #12115
I find myself in a similar situation to this issue, Pengwin 21.10.1 on WSL2.

When I try your steps above for `hello-minikube1` I get the same result, including `minikube tunnel` reporting that it is `Starting tunnel for service hello-minikube1` (I was a little surprised that  does not prompt me for a password or generate any of the output suggested in [this example](https://minikube.sigs.k8s.io/d

[2021-11-26 00:44] rfk commented on #12115
Comparing the setup that led me to this bug to the apparently-working `hello-minikube` example, I see that `kubectl` is reporting my services as type `ClusterIP` rather than type `LoadBalancer`. I don't know enough about all these tools yet to know how to debug that, but it seems like a useful clue so I figured I'd share it in case it helps anyone else.

[2021-11-26 01:04] wallrick opened #13025 "Update istio addon YAML for newer Kubernetes versions"
minikube start -p minikube -n 1 --apiserver-names="minikube.local" --memory 15360 --cpus 6
Also tried a simple
minikube start

**Steps to reproduce the issue:**

1. minikube start
2. minikube addons enable istio-provisioner
3. minikube addons enable istio

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`

[2021-11-26 01:12] rfk commented on #12115
I can confirm that if I use `kubectl edit svc` to change the type of my service to `LoadBalancer`, then the `minikube tunnel` running in another terminal will detect that change and successfully open a tunnel to the service. So I think at least for me, the tunnel was working correctly and it was my service setup that was incorrect. Running `minikube tunnel` didn't generate any output because there

[2021-11-26 06:10] lmx1989219 opened #13026 "cannot be accessed nginx port with "connect refused""
**Steps to reproduce the issue:**

1.curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
2. sudo install minikube-linux-amd64 /usr/local/bin/minikube
3.minikube start

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>
[root@apm opt]# kubectl create deployment

[2021-11-26 06:12] lmx1989219 commented on #13026
follow is minikube running detail
[code]

[2021-11-26 07:44] RA489 commented on #13026
/kind support

[2021-11-26 07:45] RA489 commented on #13025
/kind support

[2021-11-26 07:45] RA489 commented on #13021
/kind support

[2021-11-26 08:05] prathapdasari commented on #13019
May i know any update on this ?

[2021-11-26 09:41] ravimalvia opened #13028 "minikube no t starting, saying "X Exiting due to PROVIDER_VIRTUALBOX_NOT_RUNNING: exit status 1""
*
* ==> Audit <==
* |---------|-----------------------|----------|----------------------|---------|-------------------------------|-------------------------------|
| Command |         Args          | Profile  |         User         | Version |          Start Time           |           End Time            |
|---------|-----------------------|----------|----------------------|---------|-------------

[2021-11-26 14:47] xenophonf opened #13029 "MSI installer puts shortcuts on the per-user Start Menu, not the system-wide Start Menu"
**Steps to reproduce the issue:**

1. Run the minikube installer on Windows.
2. Continue through the UAC elevation prompt.
3. Take all of the defaults to complete the installation.

![minikube-installer-wrong-start-menu](https://user-images.githubusercontent.com/7139195/143595243-3e87f8b6-eb7e-4186-b110-4003ff070623.png)

Note that the installation path is `C:\Program Files\Kubernetes\Minikube` (i

[2021-11-26 17:24] mj3c commented on #1990
Also having this issue. Started a minikube cluster (with `--driver=kvm2 --nodes=2`), tried to deploy [Prometheus with Helm](https://github.com/prometheus-community/helm-charts), but `prometheus-server` fails to start because it can't write any data in the mounted volume.

Funnily enough, I found that if the pod gets schedule don the control plane node (`minikube`), it starts successfully, but if i

[2021-11-26 18:39] ribasnath opened #13030 "Minikube doesn't start"
**I've installed Minikube to use along with Docker on Windows Server 2019. However, when I try to start with `minikube start`, it shows the follow errors:**

* minikube v1.24.0 on Microsoft Windows Server 2019 Datacenter 10.0.17763 Build 17763
* Using the hyperv driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Creating hyperv VM (CPUs=2, Memory=2200MB

[2021-11-26 22:27] #11213 closed

[2021-11-27 01:49] wallrick commented on #13025
Problem looks to be a compatibility mismatch between the kubernetes version and the istio version that is being used for the addon.

[2021-11-27 02:10] wallrick commented on #13025
Installing istio by hand using the instructions here works. So the issue isn't the kubernetes cluster that minikube deploys but the addon version/configuration of istio.

https://istio.io/latest/docs/setup/getting-started

[2021-11-27 03:27] ar2pi commented on #6296
I can confirm running minikube alongside vpnkit works, with a couple of gotchas.

Building vpnkit from source fails on original's repo ([moby/vpnkit](https://github.com/moby/vpnkit)) and latest binaries are not available anywhere. In short, the Makefile for Mac build needs a bit of tweaking for opam dependencies. So I forked the original repo to build from source:
[code]
Then hyperkit Homebrew's a

[2021-11-27 03:53] vikramsh2002 opened #13031 "Error in starting a cluster Failed kubeconfig update: could not read config: Error decoding config from data"
**Steps to reproduce the issue:**

1. minikube start
2. minikube logs --file=logs.txt
[logs.txt](https://github.com/kubernetes/minikube/files/7611153/logs.txt)

3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
[logs.txt](https://github.com/kubernetes/minikube/files/7611150/logs.txt)
[logs.txt](htt

[2021-11-27 07:08] avtion commented on #12953
i use podman as the driver, doesn't work either.

[2021-11-27 08:38] backtrackshubham opened #13032 "Docker | Change Data Directory"
**Steps to reproduce the issue:**

1. Create a minikube cluster using `minikube start`
2. Mount a directory using `mount <local-dir>:<path in minikube vm>`
3. Try to change/add the `data-root` in `deamon.json` with `path in minikube vm` so that pull images on minikube can be persisted and used later by simply mounting the volume back then updating the `daemon.json` followed by restarting the `dock

[2021-11-27 11:08] afbjorklund commented on #13032
You can't really use a network filesystem as the container storage, so probably look into minikube cache instead.

[2021-11-27 11:19] backtrackshubham commented on #13032
So does that mean that if we mount an external volume probably from host to minikube it gets mounted as a nfs, ohh I wonder that's why mount command always showed some ip and and port information

[2021-11-27 20:37] issamahmoud355 commented on #13026
Hi

[2021-11-28 04:55] raghanag opened #13034 "minikube start is failing in macOS bigsur"
**Steps to reproduce the issue:**

1. minikube stop
2. rm -rf  ~/.minikube
3. minikube start

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>
😄  minikube v1.24.0 on Darwin 11.6.1
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube

[2021-11-28 04:56] raghanag commented on #13034
[logs.txt](https://github.com/kubernetes/minikube/files/7612826/logs.txt)

[2021-11-28 06:51] mythsman commented on #8997
No no no , it still works for me right now , 2021.11.28.

Docker repository url "registry.cn-hangzhou.aliyuncs.com/google_containers" cannot respond to http request , but still works when pull it with "docker pull" .

[2021-11-28 08:50] miroslav-beranic commented on #12842
Hi all,

just landed on this issue, as I was looking to resolve my issue on Fedora 35.
[code]

Current Fedora with latest updates, Minikube built from github master ( 1 day ago ). In all messages it is written, this is related to Ubuntu's limitations, but I have Fedora 35 only system setup. I did not notice it in my first run. When doing different setup:

[code]

It seems ( for me ) only reported,

[2021-11-28 09:53] coolamiy commented on #12025
/close

[2021-11-28 09:53] #12025 closed

[2021-11-28 15:13] djplt commented on #11973
@clintonyeb just wanted to check if you were still working on this issue or if I'm okay to pick this up?

[2021-11-28 15:51] djplt commented on #11107
/assign

[2021-11-28 16:42] chris-lsn commented on #12274
I have this issue on m1 mac.

[2021-11-28 17:55] sukumarp2020 commented on #9380
+1

[2021-11-28 19:56] baseely opened #13035 "Investigate only requiring admin privileges once on Windows"
**Steps to reproduce the issue:**

1.Start a Windows command prompt (Do not "Run as Administrator").
2. Type `minikube start --vm-driver=hyperv`

**Output of the command:**
`Exiting due to PROVIDER_HYPERV_NOT_RUNNING: Hyper-V requires Administrator privileges`

**Question:**
Why should a Minikube cluster be started with an Administrator privileges ? Is it possible to run the above command using a

[2021-11-29 03:48] robinhood018 commented on #828
A reboot did the job for me after running `sudo virsh net-autostart default`

[2021-11-29 07:06] RA489 commented on #13035
/kind support

[2021-11-29 07:06] RA489 commented on #13034
/kind support

[2021-11-29 07:06] RA489 commented on #13031
/kind support

[2021-11-29 07:06] RA489 commented on #13030
/kind support

[2021-11-29 07:07] RA489 commented on #13029
/kind support
/area windows

[2021-11-29 07:24] RA489 commented on #13022
/assign @tmcalves

[2021-11-29 09:41] miaucl opened #13038 "Persistent Volumes Clarification"
_I am using minikube to run my cluster and ran across a problem. I am not sure wheter it belongs to the docs or source code._

The documentation gives an example for `PVs` and how to define that [here](https://minikube.sigs.k8s.io/docs/handbook/persistent_volumes/#a-note-on-mounts-persistence-and-minikube-hosts). Using the persistant volume claims, you do not have to specify the `host path` and a

[2021-11-29 12:00] afbjorklund commented on #13038
There is a persistent directory mounted on that `/tmp` path, by the auto mounted.

The files are not (supposed to be) stored in the temporary directory.

[2021-11-29 12:09] miaucl commented on #13038
The default settings of minikube with driver `none` mount the persistant files in the `/tmp` folder on the host machine. Whatever this folder on the host machine is. Everything _inside_ minikube is fine, but WHY are you using the `/tmp` folder on the host machine instead of something else?

[2021-11-29 13:53] afbjorklund commented on #13038
It was hardcoded in the original driver (the mount point). If you do you your own VM, you can use bind mounts.

This was supposed to be documented and eventually changed.

[2021-11-29 13:57] miaucl commented on #13038
So the only **real** solution to have something **persistent** is to create my own PVs and PCVs and use those claims?

[2021-11-29 15:40] cpinochet commented on #12538
Hi Guys, sorry for my late answer. I don-tg cvisit github many often. I don-t have this issue anymore. I remember I moved to a GKE cluster to do my tests. Anyway thankd for yor reply and concern. Be safe. Peace.

[2021-11-29 16:08] afbjorklund commented on #13038
Minikube uses `/data` as the top directory for custom host path volumes, but both that and the local path provisioner are supposed to be mounted from another (persistent) device.

If you only use one device, you can use symlinks or bindmounts...

[2021-11-29 16:35] miaucl commented on #13038
I do not get this. When I install minikube with no driver, the dynamic volume provisioner stores the data of my volume claims requested by the k8s resources in the `/tmp` of my host machine, not the `/data` folder.

I am not sure what my problem of understanding is here.

Do I correctly understand that the volume claims for a pod triggers the provisioner to provide a volume `my-volume` which then

[2021-11-29 16:52] ollydixon commented on #11107
@zhyyu when I use that image, I get the following

[code]

Any ideas?

[2021-11-29 16:54] afbjorklund commented on #13038
On your VM/host, you need to mount some persistent storage on the mount points. They were not supposed to be used as-is.

[2021-11-29 17:50] afbjorklund commented on #12167
The main use case is to emulate cloud provider storage or cloud native storage, a "magic path" that is available everywhere.

It is an _alternative_ to creating kubernetes volumes. Another alternative would be running an NFS server on the host itself ?

[2021-11-29 19:22] cfloressuazo opened #13046 "Unable to start minikube on mac after installing with homebrew"
I have installed minikube on mac m1 (monterey version 12.0.1) with docker installed through `brew install minikube` and I'm unable to start due to an error in the step "🐳  Preparing Kubernetes v1.22.3 on Docker 20.10.8 ..."

**Steps to reproduce the issue:**
1. `minikube start`

<details>

$ minikube start --alsologtostderr
[code]
</details>

[2021-11-29 21:14] #13038 closed

[2021-11-29 21:54] medyagh commented on #13035
@baseely hyperV does require an admin power user to create VMs, however if there is a way to create hyperV Vms by adding normal user to power-user group that would be a great addition to our doucmentation

[2021-11-29 21:55] medyagh commented on #13035
cc: @spowelljr

[2021-11-29 22:13] baseely commented on #13035
@medyagh Maybe I’m not familiar enough with the mechanics of how `minikube start` works behind the scenes, but as far as I can understand it should create the hyperV VM once (using a power windows user) and never ask again for an administrator privileges for the consequent starts.

[2021-11-30 01:45] medyagh commented on #13046
@cfloressuazo do u mind attaching this file ?

minikube logs --file=logs.txt

and have u already tried `minikbue delete --all` and then start ?

[2021-11-30 02:12] JuanJTorres11 commented on #9339
/remove-lifecycle stale

[2021-11-30 02:16] JuanJTorres11 commented on #9339
This problem seems to persist in v1.23.2

[2021-11-30 09:09] greenchapter commented on #13006
Is there someone who has a running minikube installtion on Apple Silicon M1 without the Docker Environment?

[2021-11-30 12:56] TekTimmy commented on #13032
Sorry for the offtopic question but i don't understand the usecase of docker cache because of the very low performance. We have some pretty large docker images and everytime only a single layer was changed the whole image has to be transferred into the cache which takes a very long time.

[2021-11-30 14:01] cfloressuazo commented on #13046
Hi @medyagh , I tried running minikube logs --file=logs.txt but I got an error message. I ended up solving this issue by deleting the current `.minikube` folder in the users home directory and then running `minikube stop` `minikube delete` `minikube start`. Although I am not very sure what the issue was, my guess is due to configurations of other kubernetes clusters.

[2021-11-30 14:01] #13046 closed

[2021-11-30 16:36] afbjorklund commented on #13032
If you have large images, that often have single layer changes, then it is better to use a registry.

[2021-11-30 20:53] medyagh commented on #13035
I believe windows requires admin powers for any operation on VMs (stopping and starting it again) unless you configure your user to do so I am not fimmiliar with windows but have u tried if this instructions work ? https://docs.microsoft.com/en-gb/archive/blogs/virtual_pc_guy/allowing-non-administrators-to-control-hyper-v

[2021-12-01 00:13] medyagh commented on #13030
@ribasnath do u mind sharing the log file?

[code]

[2021-12-01 00:21] medyagh opened #13057 "increase in component health test failure since bumping k8s version"
Flake Starts at Nov 22
https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux&test=TestFunctional/serial/ComponentHealth

<img width="1188" alt="Screen Shot 2021-11-30 at 4 20 26 PM" src="https://user-images.githubusercontent.com/4564227/144149048-e94c1881-a7ba-4488-8dc0-9dd4d11c55af.png">

possible root cause: https://github.com/kubernetes/minikube/pull/12997

Exampl

[2021-12-01 06:28] lee-count-from-zero commented on #3614
I got it work by:
System Preferences -> Security & Privacy -> Allow -> Then allow the software corporation (in this case Oracle)

[2021-12-01 06:46] swathi-1227 opened #13058 "error in kubernets when starting vlabs"
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-12-01 08:09] ikandars commented on #1340
This is works for me. All you have to do is restart the coredns:

[code]

[2021-12-01 11:55] baseely commented on #13035
@medyagh It appears that the `InitialStore.xml` is missing on Windows 10. I tried to add my current Windows user account and a couple of other accounts (`DefaultAccount`, `defaultuser100001`) but I get the same error message.
`X Exiting due to PROVIDER_HYPERV_NOT_RUNNING: Hyper-V requires Administrator privileges`
`* Suggestion: Right-click the PowerShell icon and select Run as Administrator to op

[2021-12-01 14:07] EduMorenoJ commented on #12953
Any update on this using the docker driver? I have the same issue

[2021-12-01 17:54] medyagh commented on #13058
@swathi-1227 there is no information in this issue that we could help,

Please run minikube logs --file=logs.txt and drag and drop the log file into this issue
[code]

[2021-12-01 17:56] swathi-1227 commented on #13058
Ok thank you..

On Wed, Dec 1, 2021, 11:24 PM Medya Ghazizadeh ***@***.***>
wrote:

[2021-12-01 19:10] medyagh commented on #12967
I agree with the fucntionatliy be useful,  how about adding a generic command called
that could later add more stuff in addition to disk usage.

"minikube info"

[2021-12-01 19:11] medyagh commented on #12967
this item is available and I would accept a Pr

[2021-12-01 19:15] medyagh commented on #12970
Hi @arunix , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-12-01 19:15] #12970 closed

[2021-12-01 19:17] medyagh commented on #12949
Meanwhile have you tried out newest driver Docker Driver with latest version of minikube?
you could try
minikube delete
minikube start --driver=docker

for more information on the docker driver checkout:
https://minikube.sigs.k8s.io/docs/drivers/docker/

[2021-12-01 19:17] #12949 closed

[2021-12-01 19:17] spowelljr commented on #11391
Hi @code-merc, we haven't heard back from you, if you have a chance please try this again with the latest version of minikube. For now I'm going to assume this is fixed by #12587, if it's not feel free to reopen this issue again, thanks!

[2021-12-01 19:17] #11391 closed

[2021-12-01 19:17] medyagh commented on #12937
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

The exact minikube start command line used: preferably with --alsologtostderr -v=8 added.
The full output of the command
The full output of "minikube logs"
Please feel free to do

[2021-12-01 19:17] #12937 closed

[2021-12-01 19:19] spowelljr commented on #9921
Hi @LY1806620741, we haven't heard back from you, if you have a chance please try this again with the latest version of minikube. Feel free to reopen this issue again if it's not fixed, thanks!

[2021-12-01 19:19] #9921 closed

[2021-12-01 19:20] spowelljr commented on #12957
Hi @thimasan, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-12-01 19:20] #12957 closed

[2021-12-01 19:20] spowelljr commented on #12939
Hi @poiskail23, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-12-01 19:20] #12939 closed

[2021-12-01 19:20] spowelljr commented on #12936
Hi @Imtiazwaraich, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-12-01 19:20] #12936 closed

[2021-12-01 19:22] medyagh commented on #12688
Hi @snag9032  , I haven't heard back from you, I wonder if you still have this issue?

we had an issue with older virtualbox I recommend trying newest vbox with newest minikube (newer than 1.24.0)

Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now b

[2021-12-01 19:22] #12688 closed

[2021-12-01 19:23] medyagh opened #13060 "log the virtualbox version in our minikube start logs"
this info can come handy

and we can also warn ppl with very old vbox to update them

[2021-12-01 19:25] spowelljr commented on #12747
Hi @ramuyesupogu, thanks for reporting your issue with minikube!

What version of VirtualBox are you using?

Also, please update to the latest version of minikube (v1.24.0) and see if this is resolved, thanks!

[2021-12-01 19:28] medyagh commented on #12874
I recommend downloading the right binary for M1 to avoid that warning

curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-darwin-arm64
sudo install minikube-darwin-arm64 /usr/local/bin/minikube

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-12-01 19:28] #12874 closed

[2021-12-01 19:28] medyagh commented on #12874
我建议为 M1 下载正确的二进制文件以避免该警告

curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-darwin-arm64
须藤安装 minikube-darwin-arm64 /usr/local/bin/minikube

我将暂时关闭此问题，但请随时在您准备好提供更多信息时重新打开。
Wǒ jiànyì wèi M1 xiàzài zhèngquè de èrjìnzhì wénjiàn yǐ bìmiǎn gāi jǐnggào

[2021-12-01 19:37] spowelljr commented on #12699
Also confirmed this bug, this is likely caused by https://github.com/kubernetes/minikube/pull/12230.

[2021-12-01 19:39] spowelljr commented on #12576
Hi @Srilahari9, thanks for reporting your issue with minikube!

It seems you're using an extremely old version of minikube (v1.2.0), please update to the latest version of minikube and try again, thanks!

[2021-12-01 19:39] spowelljr commented on #12567
Hi @dmlond, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-12-01 19:39] #12567 closed

[2021-12-01 19:41] sharifelgamal commented on #12614
`/var/db/dhcpd_leases` is definitely the correct location for the file, it should get created when hyperkit gets installed:

[code]

The canonical issue for these hyperkit connectivity issues is https://github.com/kubernetes/minikube/issues/4206. It's almost certainly a program that's preventing minikube from reading/writing to the file. Try creating the file yourself and see if that helps.

[2021-12-01 19:46] sharifelgamal commented on #12722
Hey @al-hujaylan – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikube s

[2021-12-01 19:46] #12722 closed

[2021-12-01 19:47] sharifelgamal commented on #12731
Hey @monikapatil77  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The full output o

[2021-12-01 19:47] #12731 closed

[2021-12-01 19:47] medyagh commented on #11932
@rafacouto I am curious does adding this option fix the issue ?

[code]

[2021-12-01 19:55] sharifelgamal commented on #12767
`minikube kubectl` is just a `kubectl` binary that's distributed along with minikube, there's nothing special about it. If you refer to the [official kubectl docs](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#get), you'll see that `-A` is just a shorthand for `--all-namespaces` .

[2021-12-01 19:55] #12767 closed

[2021-12-01 20:01] KShivendu commented on #11571
Hi @spowelljr, thanks for reaching out. I might not be able to finish this task anytime soon because of some other commitments. Please assign it to yourself if you're interested  :)

[2021-12-01 20:04] sharifelgamal commented on #12158
Hey @SaurabhGh-learn, I haven't heard from you in awhile. If you try my suggestion above and still have issues, feel free to reopen this issue with more details.

[2021-12-01 20:04] #12158 closed

[2021-12-01 20:43] djplt commented on #11973
/assign

[2021-12-01 21:26] mattjs commented on #12899
Hi any ideas here?

[2021-12-01 21:30] spowelljr commented on #11571
No worries, thanks for unassigning yourself!

[2021-12-01 23:37] prezha commented on #5792
re: releases - package managers & signing (https://github.com/kubernetes/minikube/issues/5792, https://github.com/kubernetes/minikube/issues/3110, https://github.com/kubernetes/minikube/issues/4716, https://github.com/kubernetes/release/issues/839, etc.) - a brief update on this:

- apple: contacted, responded positive - willing to support, promised a senior manager will contact me back, didn't ha

[2021-12-02 00:17] #12828 closed

[2021-12-02 00:17] #12743 closed

[2021-12-02 00:17] #12831 closed

[2021-12-02 00:17] minikube-bot opened #13062 "Frequent test failures of `TestFunctional/parallel/TunnelCmd/serial/WaitService/IngressIP`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Cloud_Shell](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Cloud_Shell&test=TestFunctional/parallel/TunnelCmd/serial/WaitService/IngressIP)|21.53|

[2021-12-02 00:17] minikube-bot opened #13063 "Frequent test failures of `TestInsufficientStorage`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_macOS&test=TestInsufficientStorage)|20.00|

[2021-12-02 00:17] minikube-bot opened #13064 "Frequent test failures of `TestMultiNode/serial/CopyFile`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestMultiNode/serial/CopyFile)|100.00|

[2021-12-02 00:17] minikube-bot opened #13065 "Frequent test failures of `TestPause/serial/VerifyStatus`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_macOS&test=TestPause/serial/VerifyStatus)|21.26|

[2021-12-02 02:48] xiewendan opened #13066 "windows10 hyperv 隔一天，访问不了"
**重现问题所需的命令**：
{"specversion":"1.0","id":"ef839012-9d5c-4fba-8e27-668e1fc169db","source":"https://minikube.sigs.k8s.io/","type":"io.k8s.sigs.minikube.audit","datacontenttype":"application/json","data":{"args":"","command":"delete","endTime":"Tue, 30 Nov 2021 17:16:54 CST","profile":"minikube","startTime":"Tue, 30 Nov 2021 17:12:56 CST","user":"GIH-D-27180\\g87","version":"v1.24.0"}}
{"specversion"

[2021-12-02 03:46] ethnhll opened #13067 "ingress-dns test fails on nslookup (MacOs)"
Following https://minikube.sigs.k8s.io/docs/start/#what-youll-need

and

https://minikube.sigs.k8s.io/docs/handbook/addons/ingress-dns/

I am not able to ping or reach the example applications for testing ingress-dns addon. Perhaps I am missing something, but the documentation doesn't seem to be clear on what else I should have done.

[code]

[code]

[code]

[logs.txt](https://github.com/kubernete

[2021-12-02 03:47] ethnhll commented on #13067
[code]

[2021-12-02 03:52] kennyblaze67 commented on #12937
I can’t remember I made my complaints a couple of week ago I just deleted minikube and downloaded a new one 
Regards 

Sent from Yahoo Mail for iPhone

On Wednesday, December 1, 2021, 2:17 PM, Medya Ghazizadeh ***@***.***> wrote:

Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. I

[2021-12-02 05:11] ethnhll commented on #13067
I should clarify that I am using the docker driver. Changing the driver to hyperkit seems to resolve the issue, but the documentation makes no mention of this caveat that MacOS + docker driver is not supported for the addons (in fact the documentation often encourages docker).

[2021-12-02 08:15] tamboliasir1 commented on #13060
Hi @medyagh can you give me bit insight for this?  I think I'm able to work on this.

[2021-12-02 09:30] bocian67 opened #13068 "Minikube 1.24.0 update unable to get ingress address"
Had a setup to create some services inside minikube cluster, retrieve the address of the ingress and assign a local hostname to that ip (for example minikube.local on 192.168.64.10). Since updating from minikube 1.23.x to 1.24.0 this is not working anymore, since address is always localhost, not an IP anymore.

Using kubernetes version 1.22.2

**Steps to reproduce the issue:**

1. minikube start -

[2021-12-02 11:34] rafacouto commented on #11932
@medyagh  Yes! it does :+1:

[code]

[2021-12-02 15:48] mans0954 commented on #12919
With a build of latest master branch, this looks like it's now doing what I'd expect. Thanks very much!
[code]

[2021-12-02 16:54] poiskail23 commented on #12939
Hello, sorry for late reply, it appears that issue was not related to minikube version, but likely coming from a missing/wrong settings on my workstation. I wish I did a proper follow-up with more info to share.

[2021-12-02 17:36] spowelljr commented on #12939
@poiskail23 No worries, if you have an issue again in the future let us know, thanks for using minikube!

[2021-12-02 19:17] spowelljr commented on #11932
Hi @rafacouto, could you trying using this binary from the PR @medyagh mentioned above and try doing `minikube start` without the `--feature-gates="LocalStorageCapacityIsolation=false"`, it should auto apply the feature gate, thanks!

https://storage.googleapis.com/minikube-builds/12990/minikube-linux-amd64

[2021-12-02 21:25] 3ch01c commented on #12949
I get this error if I try to use the Virtualbox driver on a VPN, and [it looks like a lot of other people have similar problems](https://github.com/kubernetes/minikube/issues?q=is%3Aopen+is%3Aissue+virtualbox+vpn). The easiest solution seems to be to use a different driver. The VMware driver works out of the box for me, and the HyperKit driver works if I update Minikube's DNS to use my host's DNS:

[2021-12-02 21:33] 3ch01c commented on #12686
I think it depends if your proxy supports SSLi. In your case, it sounds like it doesn't. I don't think the documentation should be changed in this case.

[2021-12-02 21:46] 3ch01c commented on #12760
It sounds like you are creating a Virtualbox VM inside a Virtualbox VM, which seems unnecessarily complicated. You might have better luck installing Minikube directly from the host using a package manager. On Windows, I prefer to [install Minikube via Chocolatey](https://v1-18.docs.kubernetes.io/docs/tasks/tools/install-minikube/#tab-with-md-2). On Linux & Mac, I prefer to [install Minikube with H

[2021-12-02 22:06] R-omk commented on #11765
/remove-lifecycle stale

[2021-12-02 22:14] #12956 closed

[2021-12-02 22:27] spowelljr opened #13070 "`--mode` flag on `minikube mount` not working on macOS"
We have code in minikube mount that chmod's the mounted folder
[code]

This command fails on macOS and breaks the mounted folder completely:
[code]

Trying the `minikube mount` command results in
[code]

For now we're skipping the `--mode` flag on macOS.

[2021-12-03 04:08] trust-freedom commented on #13004
me too.
At first I used minikube v1.24.0,  The same problem occurred.
downgrade to minikube v1.23.2, it works

[2021-12-03 06:42] zhengxianlin opened #13074 "X Exiting due to GUEST_PROVISION: Failed to start host: can't create with that IP, address already in use"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>
minikube start --mount --mount-string="/opt/rainbond:/opt/rainbond" --driver=docker --apiserver-port=7443 主要想是更改以下api监听端口，报错被使用，换过好几次，是命令格式 不对吗  ，希望大佬给予帮助，感谢

</details>

**`minikube logs`命令的输出**： <details>
minikube start --mount --mount-string="/opt/rainbond:/opt/rainbond" --driver=docker --apiserver-port=7443
* minikube v1.24.0 on Centos 7.5.1804 (amd64)

[2021-12-03 07:37] darkedges opened #13075 "Enhance service command to support multiple services"
It would be great to see
https://github.com/txn2/kubefwd incorporated so that you can forward all services in a namespace in a single request.

This would help those running within docker where metallb does not work due to the host not being able to NAT requests into the kubernetes container. Other examples are when you have multiple services and need to implement multiple shells and commands to h

[2021-12-03 08:05] fkn-iteratec commented on #12686
@3ch01c : So perhaps a hint in the documentation for SSLi would be great. For users like me, who do know nothing about SSLi &#x1F609;

[2021-12-03 10:53] rafacouto commented on #11932
@spowelljr It fails when `Preparing Kubernetes v1.22.3 on Docker 20.10.8` [see console output](https://pastebin.com/0XGxR1Bh).

The `--feature-gates` flag indicated by @medyagh really helps.

[2021-12-03 17:46] spowelljr commented on #11932
@rafacouto Just double checking, you used this binary https://storage.googleapis.com/minikube-builds/12990/minikube-linux-amd64 and not your existing minikube binary?

[2021-12-03 17:57] rafacouto commented on #11932
@spowelljr  You are right: double checked and that release works. Good job!

![image](https://user-images.githubusercontent.com/969061/144650162-4616e4fc-b004-4a5b-9c20-ec50434900ce.png)

[2021-12-03 18:02] spowelljr commented on #11932
@rafacouto Perfect, thanks for testing!

[2021-12-03 18:55] medyagh opened #13076 "minikube start --kubernetes-version should also take "newest""
currently we support
[code]
but newest doesnt work
[code]

[2021-12-03 19:28] medyagh opened #13077 "Kubernetes versin `v1.23.0-rc.0` breaks `crictl images list`"
As seen in this PR https://github.com/kubernetes/minikube/pull/13073
and I verified manually on Docker driver on Mac with Docker runtime that it works for one patch before rc-0

it works for kubernetes `1.23.0-beta.0`
but it fails for kubernetes `v1.23.0-rc.0 `

[code]

but only one Patch above Breaks

[code]

ssh: Process exited with status 1
11:19:38 medya/workspace/minikube

[code]

[2021-12-03 19:37] medyagh commented on #13077
it works for K8s 1.23.0-beta.0 but it fails forK8s  v1.23.0-rc.0
Here is the changelog that talks about api change:
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md#api-change

[2021-12-03 19:41] medyagh commented on #13077
This failure happens on KVM too but only for "no-preload" test and not the newst kubernetes version
https://storage.googleapis.com/minikube-builds/logs/13073/21601/KVM_Linux.html#fail_TestStartStop%2fgroup%2fno-preload%2fserial%2fVerifyKubernetesImages

[2021-12-03 19:49] medyagh commented on #13077
I bumped crictl from 1.21.0 to 1.22.0 and didnt fix
[code]

[2021-12-03 20:14] sgmac commented on #13076
:wave: @medyagh is the idea to support both? I could work on this.

[2021-12-03 20:52] sgmac commented on #13076
/assign

[2021-12-03 21:51] medyagh commented on #13077
@afbjorklund could this be solved if we used cri for docker ?

[2021-12-03 23:03] klaases commented on #13076
/assign

[2021-12-04 00:06] #11932 closed

[2021-12-04 01:31] YoussefHmidiSesame opened #13084 "service_tunnel.go:63] error starting ssh tunnel: exec: "ssh": executable file not found in %PATH%"
**Steps to reproduce the issue:**

1.create a deployement
2. when i try to get the service running : minikube service first-app

service_tunnel.go:63] error starting ssh tunnel: exec: "ssh": executable file not found in %PATH%

<details>

Log file created at: 2021/12/03 20:59:55
Running on machine: YoussefHmidi
Binary: Built with gc go1.17.2 for windows/amd64
Log line format: [IWEF]mmdd hh:mm:ss.u

[2021-12-04 02:22] medyagh opened #13085 "123"
### What Happened?

123 happene
[logs.txt](https://github.com/kubernetes/minikube/files/7653152/logs.txt)
d

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/7653153/logs.txt)

### Operating System

macOS (Default)

[2021-12-04 02:22] #13085 closed

[2021-12-04 02:27] medyagh commented on #13077
update: upstream kubernetes is rolling a revert

https://github.com/kubernetes/kubernetes/pull/106803

[2021-12-04 09:16] afbjorklund commented on #13077
I don't think they have backported the `v1` support there either ?

https://github.com/Mirantis/cri-dockerd/blob/master/dockershim/docker_streaming.go

So you will have the same bugs in cri-dockerd as there was in dockershim.

But since it is now handled and tested externally instead of internally, fixes will be _slower_.

Unless you are willing to pay for the commercially supported versions of it

[2021-12-04 09:22] villevaltonen commented on #4634
Facing the same issue.

**Details:**
- minikube: 1.24.0
- Debian 11 (bullseye): Linux debian 5.10.0-9-amd64

**Error:**
`CreateContainerConfigError: Error: stat /tmp/hostpath-provisioner/kafka/zk-pvc-zk-0: no such file or directory`

Directories are created though:
[code]

[2021-12-04 13:02] victor-sudakov opened #13088 "The ingress addon is not listening on `minikube ip`:80"
On minikube version: v1.24.0, commit: 76b94fb3c4e8ac5062daf70d60cf03ddcc0a741b-dirty, Manjaro Linux:

when I enable the ingress addon, it's not listening on ports 80 or 443:

[code]
`kubectl get pods -A` shows that the ingress-nginx-controller-* pod is running. Should not it start listening immediately?

My minikube start command was:
[code]
I'm attaching the ingress-controller pod log
[ingress-co

[2021-12-04 18:44] victor-sudakov commented on #13088
I had to do some guesswork. This should be documented somehow in https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/:

[code]
That''s where my ingress is listening: on the second node.

[2021-12-04 20:53] mremreozan opened #13091 "none: Exiting due to RUNTIME_ENABLE: sudo systemctl daemon-reload:"
**Steps to reproduce the issue:**

- sudo minikube start --driver=none

Exiting due to RUNTIME_ENABLE: sudo systemctl daemon-reload: exit status 1
stderr:
System has not been booted with systemd as init system (PID 1). Can't operate.

[2021-12-04 22:19] #5594 closed

[2021-12-05 07:21] victor-sudakov commented on #12360
I think my problem is related. On a 2-node cluster, the spec.template.spec.securityContext.fsGroup=65534 setting is not respected and volume membership is not changed. It remains `755 root:root` instead of `2775 root:nobody`.

**How to reproduce**

1. Apply the following manifest

[code]
2. Shell into the ubuntu-0 Pod and check the permissions on the /d01 mountpoint. They will not belong to root:n

[2021-12-05 07:27] victor-sudakov commented on #12360
@albert-salman Do you see the problem if you use the fsGroup security context instead of initContainers? I do.

BTW I think using initContainers just for setting permissions is a bit of overkill.

[2021-12-05 13:52] Cluas commented on #13006
I finally chose [rancher-desktop](https://github.com/rancher-sandbox/rancher-desktop).

[2021-12-05 18:17] kuraleb commented on #10884
I was able to reproduce this problem.
Solution from @tstromberg didn't work for me as I get:

`$ sudo minikube delete
🔄  Uninstalling Kubernetes v1.22.3 using kubeadm ...
E1205 20:44:13.851355     494 delete.go:448] unpause failed: list paused: docker: docker ps --filter status=paused --filter=name=k8s_ --format={{.ID}}: exit status 1
stdout:

stderr:
Cannot connect to the Docker daemon at unix://

[2021-12-05 22:09] tstromberg commented on #10884
That sounds like a different bug - I encourage you to open an issue with
the title of: "minikube delete on Docker: kubeadm exit status 127"

On Sun, Dec 5, 2021 at 1:17 PM Amir Gayfullin ***@***.***>
wrote:

[2021-12-06 02:27] victor-sudakov commented on #12360
On a single-node minikube cluster, the setting of spec.template.spec.securityContext.fsGroup=65534 results in volume permissions `777 root:root` which is not correct either. fsGroup should not work this way IMHO.

[2021-12-06 03:06] frankli-dev commented on #13004
How can I downgrade minikube?

[2021-12-06 04:12] trust-freedom commented on #13004
I think you can try.

[2021-12-06 06:19] zhengxianlin opened #13095 "I want to map ports 80 and 443 of the minikube container to ports 80 and 433 of the host. What should be the correct command? Thanks"
The command I executed
：minikube start --mount --mount-string="/opt/rainbond:/opt/rainbond" --driver=docker  --ports=443 --ports=80 --apiserver-port=6443

Error：X Exiting due to MK_USAGE: Sorry, you cannot use privileged ports on the host (below 1024) [443 80]

Hope you send the correct order, thank you very much

[2021-12-06 08:49] jakoberpf commented on #12950
Does anyone have an idea what could be the issue?

[2021-12-06 10:55] frankli-dev commented on #13004
Could you give me the command to downgrade minikube on MacOS? I installed minikube using brew.

[2021-12-06 11:38] trust-freedom commented on #13004
I think you can download minikube from https://github.com/kubernetes/minikube/releases ， and Reinstall according to official documentation https://minikube.sigs.k8s.io/docs/start/

[2021-12-06 12:03] minejzy opened #13097 "failed to pull image registry.cn-hangzhou.aliyuncs.com/google_containe"
**Steps to reproduce the issue:**
[logs.txt](https://github.com/kubernetes/minikube/files/7660467/logs.txt)
**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>
i have running th command to start k8s cluster, the minikube command as shown below:
minikube start --vm-driver=none --image-mirror-cou

[2021-12-06 12:17] alexellis opened #13098 "Permission denied with Postgresql and CSI hostpath add-on"
### What Happened?

I created a cluster as per:

[code]

Then installed Postgresql using the Bitnami chart and the container was unable to start:

[code]

The PV/PVC looked as expected:

[code]

OS details:

[code]

I am trying to run Kasten's operator for backing up volumes and couldn't complete the tutorial due to this error. The operator was going to create snapshots of the Postgresql database.

[2021-12-06 13:47] Acidic9 commented on #3416
[code]
Didn't work for me. It causes `kubectl get node -o=yaml` to not contain the addresses section anymore.

I need the minikube ip to be listed under `status.addresses` as `ExternalIP` for support with RedPanda. Is there any way to add this section to the status? I tried `kubectl edit node` but it doesn't seem to stay after editing.

[2021-12-06 14:55] kakkoyun commented on #10501
It would be amazing to have support for 5.2+ to use BTF with eBPF based programs https://github.com/kubernetes/minikube/issues/8556#issuecomment-761160569

[2021-12-06 16:44] spowelljr commented on #13075
Hi @darkedges, thanks for the suggestion! We're open to any PR's that implement this!

[2021-12-06 18:45] balalnx16 commented on #13060
/assign

[2021-12-06 20:09] klaases opened #13102 "Update Kicbase BUILDKIT_VERSION to 0.9.3"
Update and build the kicbase image with latest BUILD KIT version 0.9.3.

Upgrading from BUILD KIT version is 0.9.0.

https://github.com/moby/buildkit/releases

[2021-12-06 20:09] klaases commented on #13102
/assign

[2021-12-06 20:49] #12989 closed

[2021-12-06 20:59] #13076 closed

[2021-12-06 21:03] afbjorklund commented on #13102
Too bad upstream doesn't support package upgrades... (with deb and apt)

[2021-12-06 21:16] kscherer commented on #12842
I am running Ubuntu 21.10 and I also see this message when running `minikube start --cpus max --memory 8g` even though /proc/cmdline shows the relevant options are enabled. I read through the source and minikube is looking for "/sys/fs/cgroup/memory/memory.swap.max" which doesn't exist on my system. My system is using cgroup v2 and the memory controller is enabled.
[code]
Hopefully someone more fa

[2021-12-06 23:07] #12854 closed

[2021-12-07 00:17] minikube-bot opened #13106 "Frequent test failures of `TestNoKubernetes/serial/StartWithK8s`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestNoKubernetes/serial/StartWithK8s)|100.00|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestNoKubernetes/serial/StartWithK8s)|100.00|

[2021-12-07 00:17] minikube-bot opened #13107 "Frequent test failures of `TestNoKubernetes/serial/StartWithStopK8s`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestNoKubernetes/serial/StartWithStopK8s)|100.00|

[2021-12-07 00:57] spowelljr commented on #13028
Hi @ravimalvia, thanks for reporting your issue with minikube!

It looks like your VirtualBox is not healthy (`Healthy:false`), have you try restarting VirtualBox?

[2021-12-07 01:25] ravimalvia commented on #13028
@spowelljr yes i tried starting it again , reinstalling virtualbox'  , even deleting complete package of minikube and again installing

[2021-12-07 06:21] jinq0123 opened #13111 "网络不通，minikube stop 错报"
**重现问题所需的命令**：minikube stop

**失败的命令的完整输出**：<details>

E:\gitlab2\deploy\k8s_deploy>minikube stop
E1207 14:02:15.942791   16712 main.go:126] libmachine: [stderr =====>] : Hyper-V\Get-VM : ��û�����ɴ�����������Ȩ�ޡ�������������HIH-D-28135����Ȩ���ԵĹ���Ա��ϵ��
����λ�� ��:1 �ַ�: 3
+ ( Hyper-V\Get-VM minikube ).state
+   ~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Get-VM], Vir

[2021-12-07 06:22] jinq0123 commented on #13111
[minikube_stop_caa81313904a5fb269d3ee5704bc229d7c76b09b_0.log](https://github.com/kubernetes/minikube/files/7665933/minikube_stop_caa81313904a5fb269d3ee5704bc229d7c76b09b_0.log)
[logs.txt](https://github.com/kubernetes/minikube/files/7665934/logs.txt)

[2021-12-07 06:31] jinq0123 commented on #13111
可能是网络原因。stop 之前从dashboard进入pod执行 `apt update` 会因为网络不通而失败。应该是 dns 问题，IP写入/etc/hosts，`apt update` 就会成功。 重启 coredns 无效，重启 minikube 也无效, 但重启机器和minikube后，网络会正常。

[2021-12-07 18:33] klaases opened #13115 "Bump preload version to v15"
PreloadVersion is the current version of the preloaded tarball.
NOTE: You may need to bump this version up when upgrading auxiliary docker images

[2021-12-07 18:34] klaases commented on #13115
/assign

[2021-12-07 18:38] spowelljr commented on #12645
Hi @SurajNarayan94, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-12-07 18:38] #12645 closed

[2021-12-07 18:51] #13115 closed

[2021-12-07 19:02] #13102 closed

[2021-12-07 19:15] medyagh commented on #13091
@mremreozan I dont think none drive is supported on your system since it doesnt have systemd

[2021-12-07 19:32] spowelljr commented on #12389
So the main issue is we do a different path on restart, and in that path is:
[code]
So we're hard coding installing all addons

[2021-12-07 19:37] mremreozan commented on #13091
Yes, you are right. I realized that and I installed systemd from [this documentation](https://kubernetes.io/blog/2020/05/21/wsl-docker-kubernetes-on-the-windows-desktop/
[Kubernetes)]

[2021-12-07 20:00] #13077 closed

[2021-12-07 20:31] klaases opened #13118 "Increase recentK8sVersions()'s pageSize to 100 and omit "alpha" releases"
Currently recentK8sVersions() only returns up to 30 releases and includes "alpha" releases, which we intend to omit.

[2021-12-07 20:31] klaases commented on #13118
/assign

[2021-12-07 21:05] #13118 closed

[2021-12-07 21:29] #12988 closed

[2021-12-07 23:33] #9818 closed

[2021-12-07 23:55] klaases opened #13122 "Update ISO bootloader to use EFI on x86 64"
This is a prerequisite for building the ARM64 ISO.

[2021-12-07 23:55] klaases commented on #13122
/assign

[2021-12-08 00:55] #12194 closed

[2021-12-08 05:55] AmiteshDTU commented on #12454
I am getting this same error. How you have solved this error ?

[2021-12-08 05:57] AmiteshDTU commented on #13028
I am getting this same error. Has anyone solved this problem ?

[2021-12-08 15:02] Pictor13 commented on #3870
After removing the vboxnet interfaces I get now:

[code]

Any suggestion for fixing?

[2021-12-08 16:10] Pictor13 commented on #9479
Is there any update about this issue and merge of the fix?

Can't use minikube with virtualbox at all.
If the hyperkit driver is the only one really supported, then virtualbox driver should be clearly deprecated, so users don't struggle trying to make it work.

[2021-12-08 16:39] CodeByEddy commented on #6411
Even if this isn't a priority, is it still on the roadmap?

[2021-12-08 18:14] Lyudmila-Maltsev-8451 opened #13127 "minikube addons enable ingress"
### What Happened?

error: Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]

### Attach the log file

*
* ==> Audit <==
* |---------|-----------------------|----------|---------|---------|-------------------------------|-------------------------------|
| Command |         Args          | P

[2021-12-08 23:06] zosocanuck commented on #5594
Ran into the same problem and turning off Internet Sharing on macOS Monterrey resolved the issue.

[2021-12-08 23:48] spowelljr commented on #13095
Hi @zhengxianlin, thanks for reporting your issue with minikube!

The error message you're seeing was only meant to be when using WSL, but it was accidentally added to everything instead. We have since fixed it and will be included in the next release (v1.25.0).

If you let me know what OS you use I can provide you a link to our latest build and you can see if that resolves your issue, thanks!

[2021-12-09 01:00] medyagh commented on #13088
I believe implentation of ingress assumes u recieve traffic only on control plane
do u mind sharing what driver or OS you are using ?

[2021-12-09 02:37] victor-sudakov commented on #13088
Manjaro Linux, docker driver
Linux vrs11 5.14.18-1-MANJARO #1 SMP PREEMPT Fri Nov 12 20:24:59 UTC 2021 x86_64 GNU/Linux

[2021-12-09 02:46] theoamonteiro commented on #11705
I can confirm it is still happening

[code]
[code]

[2021-12-09 04:47] theoamonteiro commented on #8564
I guess I am facing this same issue with virtualbox as driver. The image I am trying to deploy [sonatype:nxus3](https://hub.docker.com/r/sonatype/nexus3#persistent-data) operates with uid and gid 200.

0. `mkdir -p /tmp/storage/nexus/blobs && ls -n --time-style=+"" /tmp/ | grep storage` (my user on Ubuntu 20.04 LTS has uid and gid equals to 1000)
[code]
1. `minikube --profile test-mount start --dr

[2021-12-09 08:43] iamjoseph331 opened #13129 "Minikube Start - Wrong image for MacOS arm architecture users"
In 4. Deploy applications

The commands
[code]
will result in CrashLoopBackOff. Please replace the image refer with k8s.gcr.io/echoserver-arm:1.8.

Reference: https://stackoverflow.com/questions/61775778/kubernetes-throws-crashloopbackoff-for-echo-server/61776435

[2021-12-09 10:13] iamkarlson commented on #5301
@priyawadhwa could you please reopen this issue as it's still very awaited?

[2021-12-09 10:13] iamkarlson commented on #5301
or @tstromberg

[2021-12-09 14:31] bullwrinkle opened #13130 "minikube addons enable ingress exits with error"
### What Happened?

Running minikube 1.24.0

$ minikube addons enable  ingress
    ▪ Using image k8s.gcr.io/ingress-nginx/controller:v1.0.4
    ▪ Using image k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.1.1
    ▪ Using image k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.1.1

Verifying ingress addon...

❌  Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [sudo KUBECONFIG=/va

[2021-12-09 16:18] daihanhle opened #13131 "VirtualBox is configured with multiple host-only adapters with the same name "HostInterfaceNetworking-VirtualBox Host-Only Ethernet Adapter". Please remove one"
### What Happened?

PS C:\minikube> .\minikube start --vm-driver="virtualbox"
* minikube v1.24.0 on Microsoft Windows 10 Home 10.0.19042 Build 19042
* Using the virtualbox driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Creating virtualbox VM (CPUs=2, Memory=4000MB, Disk=20000MB) ...
! StartHost failed, but will try again: creating host: create: prec

[2021-12-09 17:26] Pictor13 opened #13132 ""minikube image save" is extremely slow"
### What Happened?

I'm trying to backup (over local host) some docker images that take hours to build (not images of mine; I have no way to reduce that).
This because I want to **`minikube delete` and then restore everything, removing the re-build time**.

Running
[code]
works......
...but **takes so long to complete**. \
Is the command supposed to be _that_ slow?\
Should I expect the same slowne

[2021-12-09 17:42] spowelljr commented on #13129
Hi @iamjoseph331, thanks for reporting your issue with minikube!

We have an existing issue for this (https://github.com/kubernetes/minikube/issues/11107), so I'm going to close to issue to reduce duplication, please follow along there, thanks!

[2021-12-09 17:42] #13129 closed

[2021-12-09 18:04] DARKBOW923 opened #13133 "Can't start minikube,"
### What Happened?

When i try to start minikube with ``sudo minikube --start driver=none´` it says the following error:

``Exiting due to HOST_JUJU_LOCK_PERMISSION: Failed to start host: boot lock: unable to open /tmp/juju-mkc8ab01ad3ea83211c505c81a7ee49a8e3ecb89: permission denied´`

I need some help, thanks.

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/768744

[2021-12-09 18:12] spowelljr commented on #13131
Hi @daihanhle, thanks for reporting your issue with minikube!

I found a StackOverflow post that looks related to your issue, can you take a look at let me know if that solves your problem, thanks!

https://stackoverflow.com/a/55573427

[2021-12-09 18:13] spowelljr commented on #13133
Hi @DARKBOW923, thanks for reporting your issue with minikube!

Are you able to `sudo rm /tmp/juju-mkc8ab01ad3ea83211c505c81a7ee49a8e3ecb89` and then try starting minikube again?

[2021-12-09 18:15] spowelljr commented on #13132
Hi @Pictor13, thanks for reporting your issue with minikube!

Curious, how big is the image you're trying to save?

[2021-12-09 18:19] Pictor13 commented on #12954
I am also getting this, even though I'm using the Virtualbox driver (on minikube 1.24).

[2021-12-09 18:21] Pictor13 commented on #13133
To me, running a `rm -fr ~/.minikube` solved a couple of weird issues. You might give it a try before starting the machine.

[2021-12-09 18:22] Pictor13 commented on #13132
The image size is ~3.77GB 🙁

[2021-12-09 18:26] Pictor13 commented on #13130
I got weird & inconsistent issues with ingresses, that got solved doing a `rm -fr ~/.minikube`.
It was probably messed up installing different versions of Minikube at different times (to solve other bugs), without cleaning completely.
Also a `minikube delete --all --purge` might help, give it a try.

[2021-12-09 18:29] DARKBOW923 commented on #13133
I tried, and it doesn't work

[2021-12-09 18:32] Pictor13 commented on #13127
Ensure to be disconnected from VPNs, in case you use one.
And try to `rm -fr ~/.minikube` and/or `minikube delete --all --purge`, before starting a new VM.

[2021-12-09 18:33] Pictor13 commented on #13068
I got weird & inconsistent issues with ingresses, that got solved doing a `rm -fr ~/.minikube`.
It was probably messed up installing different versions of Minikube at different times (to solve other bugs), without cleaning completely.
Also a `minikube delete --all --purge` might help, give it a try.

[2021-12-09 18:35] DARKBOW923 commented on #13133
Ok so i don know how to close an issue here,

The solution was copying the .minikube and .kube folders from /root/ to /home/$USER.

Then i deleted the folders located in /root/ and i edited the .config file inside .kube and i changed the /root/ to /home/$USER.

Hope this helps to someone with the same problem.

[2021-12-09 18:35] #13133 closed

[2021-12-09 19:49] spowelljr commented on #13132
I just tried myself but on a different setup, I did it on Linux using the Docker driver
[code]

How long was yours taking to complete?

[2021-12-09 21:07] sharifelgamal commented on #12456
Update here, I ran our integration test suites on Ubuntu 21.10 with cgroupsv2 enabled, and we found a lot of general flakiness and instability.

With regards to Fedora, we have the ability to spin up Fedora machines on GCP, but they do not support nested virtualization, which makes them of limited use to us.

[2021-12-09 21:44] tstromberg opened #13134 "k8s v1.24.0-alpha.1: failed to run Kubelet: using dockershim is not supported"
### What Happened?

minikube at HEAD (90300a4c5263a47a5457e9868bdb732f0a7f07d2) defaults to using `dockershim`, which no longer ships with Kubernetes v1.24.x. One can work around this by overriding the default container runtime, for instance, by passing in `--container-runtime=containerd`.

However, this isn't an ideal user experience.

More specifically, `minikube start --kubernetes-version=v1.24

[2021-12-09 23:29] tstromberg opened #13136 "k8s v1.24.0-alpha.1: The image 'k8s.gcr.io/coredns/coredns:1.8.4' was not found; unable to add it to cache."
### What Happened?

Using minikube from HEAD: 90300a4c5263a47a5457e9868bdb732f0a7f07d2

`./out/minikube start --kubernetes-version=v1.24.0-alpha.1`:

[code]

It does successfully progress

### Attach the log file

Filtered for coredns:

[code]

### Operating System

macOS (Default)

### Driver

HyperKit

[2021-12-09 23:41] vallamost commented on #9877
What about for Mac OSX?

[code]

[2021-12-10 01:12] jroes commented on #12690
Can't repro on 1.24, m1:

[code]

[2021-12-10 01:17] tstromberg commented on #12690
@fabiolnm - I deeply suspect that your Docker environment is broken. Can you try to run `docker run hello-world` on your machine, and share the output?

There certainly is a problem here in that minikube isn't logging the underlying error, however.

[2021-12-10 02:34] jinq0123 opened #13137 "DNS fails after SRV query"
### What Happened?

My program is using K8s DNS SRV query to discovery service,
and when it's deployed on minikube, I find DNS failure.

I can use nslookup to reproduce the failure.

Querying a FQDN is OK. But after querying a non-existing SRV short name, the ping fails.
[code]

The ping will recover to normal after about 1 minute.

If I query a existing internal service name, and nslookup returns

[2021-12-10 02:39] jinq0123 commented on #13111
网络错误已另外列出：DNS fails after SRV query #13137

[2021-12-10 07:02] afbjorklund commented on #13134
See https://github.com/Mirantis/cri-dockerd:

* https://github.com/kubernetes/minikube/pull/12102

[2021-12-10 07:03] afbjorklund commented on #13134
This is duplicate of:
* https://github.com/kubernetes/minikube/issues/12099

[2021-12-10 07:40] afbjorklund commented on #13136
Should have been bumped to `k8s.gcr.io/coredns/coredns:v1.8.6` (with a silent `v`)

[2021-12-10 08:12] afbjorklund commented on #13134
It also breaks `minikube docker-env` support.

[2021-12-10 08:15] afbjorklund commented on #12099
Still present in `v1.24.0-alpha.0`, but finally removed in `v1.24.0-alpha.1`.

[2021-12-10 08:32] afbjorklund commented on #13132
Yes. It will save a local copy on the VM, before copying.

[2021-12-10 08:34] afbjorklund commented on #13132
Just retag the image after loading or pulling it. You could also set your registry up as a pull-through cache.

[2021-12-10 12:16] jon-grey commented on #3036
In my case I had unused bind9 aside dnsmasq coming with NetworkManager

To solve it, did:

[code]

[2021-12-10 13:18] #10994 closed

[2021-12-10 14:54] bb-Ricardo commented on #13098
Same here, can't really find a reason

[2021-12-10 17:50] #12581 closed

[2021-12-10 18:05] #5105 closed

[2021-12-10 18:06] #8175 closed

[2021-12-10 18:09] afbjorklund commented on #10068
This is to be expected (long-term), there are no upstream packages for containerd either.

[2021-12-10 18:09] #10068 closed

[2021-12-10 18:10] #12186 closed

[2021-12-10 18:25] #11059 closed

[2021-12-10 20:10] spowelljr opened #13142 "Add flag validation to mount flags"
### What Happened?

We don'y have any validation for the mount flags.

### Attach the log file

|

### Operating System

_No response_

### Driver

_No response_

[2021-12-10 20:12] tstromberg commented on #13134
Closing as dupe of #12099

[2021-12-10 20:12] #13134 closed

[2021-12-10 20:53] #9992 closed

[2021-12-10 21:15] #9639 closed

[2021-12-10 23:17] #12802 closed

[2021-12-11 05:14] brucelightyear commented on #5301
Up !

[2021-12-11 08:10] Vijay-git-kub opened #13145 "minikube service failed to start"
### What Happened?

I am trying to install minikube on my Linux machine  in proxy enabled environment .  i succeed to download minikube rpm but while starting the minikube failing with below error

*
X Failed to update cluster: updating node: downloading binaries: downloading kubectl: download failed: https://storage.googleapis.com/kubernetes-release/release/v1.20.2/bin/linux/amd64/kubectl?checksu

[2021-12-11 11:35] Ashwin901 commented on #13014
Hi @medyagh I am new to kubernetes and this looks like a good issue to get started so I would like to work on this issue

/assign

[2021-12-11 19:34] #10184 closed

[2021-12-11 19:34] #11573 closed

[2021-12-11 19:34] #11621 closed

[2021-12-11 23:14] Awot83 opened #13146 "minikube addons open efk - connection failed"
**Étapes pour reproduire le problème:**

1.minikube start --memory 4096
2.  minikube addons enable efk
3. minikube addons open efk   > open the browser on a connexion failed

I have already stopped, delete, and restarted minikube
 also for information the dashboard is well accessible in the browser with :  minikube dashboard

minikube is installed in virutalbox on windows 10
I don't understand why

[2021-12-12 14:17] pslq commented on #12569
Thank you

[2021-12-12 15:02] Awot83 commented on #13146
i have read that it s take almost 1 hour to set up so i wait and here are the logs : after 15 min : error: http2: client connection lost :

minikube kubectl -- logs -f kibana-logging-42h5m -n kube-system
{"type":"log","@timestamp":"2021-12-12T13:49:09Z","tags":["info","optimize"],"pid":1,"message":"Optimizing and caching bundles for graph, ml, kibana, stateSessionStorageRedirect, timelion and stat

[2021-12-12 16:00] Pictor13 commented on #13132
@afbjorklund could the pull-through cache spare me from re-tagging the images?

I used to run a local registry on Minikube, as cache (ideal for travelling & no connection); but I couldn't make it "transparent":
proxying the remote registry (_myprivate.registry.net_) via the local registry (_registry2.local_, set as pull-through cache), required additional operations on my side (re-tagging; or upda

[2021-12-12 16:03] Pictor13 commented on #13132
I don't have an exact benchmark, but the saving was taking some 10-20 minutes. And the loading 5-10 minutes.

Thanks for the benchmark @spowelljr, tho. I'm not sure if the different engine & OS could cause such difference.

[2021-12-12 16:54] afbjorklund commented on #13132
The registry might be hard-coded to only proxy the "default" (docker.io)

https://docs.docker.com/registry/recipes/mirror/

If you run with a higher log-level, you can see the actual commands...
It will go faster, if you skip the temporary file and pipe directly to output.

e.g. `docker image save myimage:mytag > myimage_mytag.tar`

We couldn't do this in the general API, because every CRI is "spe

[2021-12-12 16:57] afbjorklund commented on #13132
A separate data disk would have helped with extreme (GB) cases like this one...

* #12166

[2021-12-12 17:03] doortts commented on #11107
@ollydixon Thanks! It works for me!
@zhyyu Sorry, it doesn't work for me, m1/Monterey system.

[2021-12-12 18:50] preslavmihaylov commented on #11107
The image @zhyyu didn't work for me unfortunately (I'm on Apple M1).

I used this one instead which served the same purpose for me - [nginxdemos/hello](https://hub.docker.com/r/nginxdemos/hello)

[2021-12-13 01:09] riaz7se commented on #12826
Any reference or links to follow for installing minikube on M1 using Apple Virtualization framework?
pls suggest

[2021-12-13 02:17] jackychow commented on #3036
[code]

looks like in my case it's `mDNSResponder` that's using port 53?

[2021-12-13 06:47] medyagh commented on #13145
@Vijay-git-kub it seems like your network does NOT have access to download kubectl ?

are u using a vpn that restricts ur access to googleapis.com ?

can u check if u can download the file manually ?

https://storage.googleapis.com/kubernetes-release/release/v1.20.2/bin/linux/amd64/kubectl.sha256

[2021-12-13 06:47] medyagh commented on #13145
/triage needs-information
/kind support

[2021-12-13 13:17] deepakmega commented on #9268
/assign

[2021-12-13 16:14] DARKBOW923 opened #13153 "Can't start minikube (i tried everything...)"
### What Happened?

Hello guys.

I'm very angry, i wasted like one week trying to start minikube, and it doesn't work.

I just can't start minikube with `--driver=none`, it says this:

[code]
I'm really desperate, i need HELP, i readed the docs, and nothing helps, i made the suggestions, and they didn't help, i tried to uninstall minikube and it didn't help, i also try to see the logs, but they ev

[2021-12-13 16:19] afbjorklund commented on #13153
If you are using the "none" driver, you might want to also consider using `kubeadm` directly instead of `minikube`.

[2021-12-13 16:31] #13153 closed

[2021-12-13 19:44] medyagh commented on #9989
I think we might not to do this, as it would add a lot of CI complexiites in building and pushing

[2021-12-13 19:47] medyagh commented on #12399
Lets skip crio on powerpc and arm32

[2021-12-13 19:49] medyagh commented on #12358
@AkihiroSuda I would be happy to see a fix for this issue, PRs are welcome

[2021-12-13 19:51] medyagh commented on #10501
https://github.com/kubernetes/minikube/pull/12707

[2021-12-13 19:57] medyagh commented on #13005
/assign klaases

[2021-12-13 19:57] klaases commented on #13005
/assign

[2021-12-13 21:57] yllekz commented on #13006
Also curious on the answer to this. I wanted to use this as part of the "drop-in replacement for Docker Desktop" as [this guide suggests](https://dhwaneetbhatt.com/blog/run-docker-without-docker-desktop-on-macos) but it seems this isn't compatible with the M1 at all in its current state?

[2021-12-13 22:00] medyagh opened #13158 "Add make target to bump preload version"
### What Happened?

simmilar to when we run
`update-golint-version`

https://github.com/medyagh/minikube/blob/dafc6aa0b07040a21dca7a1755c1dcdaeee686f9/hack/update/golint_version/update_golint_version.go#L27

we should have a make target
`make bump-preload`

that bumps the preload version by 1

### Attach the log file

no

### Operating System

_No response_

### Driver

_No response_

[2021-12-13 22:01] klaases commented on #13158
/assign

[2021-12-13 23:16] spowelljr commented on #13070
Removing `--mode` flag from mount

[2021-12-13 23:16] #13070 closed

[2021-12-14 08:00] Naughty-Monkey commented on #5815
I met the same problem.
[code]
Then it is stuck. Even if I stop it and execute it from another terminal. It didn't work

[2021-12-14 08:15] Naughty-Monkey opened #13164 "minikube dashboard cannot be executed, verifying dashboard health is stuck"
### What Happened?

minikube dashboard --alsologtostderr -v=1
[code]

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/7709790/log.txt)

### Operating System

macOS (Default)

### Driver

Docker

[2021-12-14 10:11] Naughty-Monkey commented on #13164
After I change the drive from docker to VMware, it works.

[2021-12-14 10:12] #13164 closed

[2021-12-14 12:59] kamilgregorczyk commented on #9224
Is there a way of using minikube without the docker for mac app  on M1? it's license became kind of repelling, hyperkit doesn't seem to work on M1.

[2021-12-14 19:44] sharifelgamal commented on #12118
Netlify has been far more stable lately. I'm going to go ahead and close this.

[2021-12-14 19:44] #12118 closed

[2021-12-14 19:52] medyagh commented on #13136
the automation doesnt take care of getting kubeadm images for alpha releases

[2021-12-14 20:28] medyagh commented on #13136
@afbjorklund currently we have kubeadm images per k8s Minor version, do u think we would need to make a map per Patch version too ?

https://github.com/kubernetes/minikube/blob/master/pkg/minikube/constants/constants_kubeadm_images.go

[code]

[2021-12-14 21:11] spowelljr opened #13166 "Investigate if increasing cAdvisor intervals improves CPU usage"
### What Happened?

cAdvisor seems to be a possible point of CPU usage in minikube that we can possibly reduce.

kubelet contains two flags to increase the interval between housekeeping
[code]

We should try updating the intervals to something like an hour and run a benchmark to compare the CPU usage between high intervals vs default settings.

Other discussion about the topic: https://github.com/

[2021-12-14 21:52] #13014 closed

[2021-12-14 23:07] prezha opened #13172 "ingress: unknown field "ipFamilies" in io.k8s.api.core.v1.ServiceSpec with k8s v1.19"
### What Happened?

as reported by Yevhenii Dytyniuk in slack thread: https://kubernetes.slack.com/archives/C1F5CT6Q1/p1639259539285100?thread_ts=1639259222.284200&cid=C1F5CT6Q1, and acknowledged upstream: https://github.com/kubernetes/ingress-nginx/issues/7810

### Attach the log file

[code]

### Operating System

_No response_

### Driver

_No response_

[2021-12-15 00:34] #12890 closed

[2021-12-15 01:11] spowelljr commented on #13166
Running benchmarks

[2021-12-15 07:22] afbjorklund commented on #13136
Previously there were two (or more) separate maps, i.e. one for coredns, one for etcd, one for pause

The version for the main kubernetes components was just copied I think, there was no mapping needed ?

[2021-12-15 10:39] rafariossaa commented on #12954
It works for me with that version.
I am using  miminikube 1.24 and virtualbox 6.1.26 on Ubuntu 21.10

[2021-12-15 10:56] ashok-arora opened #13176 "Error occurs during port forwarding, refuses connection to pod"
### What Happened?

I received the following error:
[code]

Googling pieces of it led me to this issue,
**Unable to do port forwarding: socat not found #68**

The solution was to install socat but I already have it installed on the host machine,
[code]

How do I resolve this and what should I try next?

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/7718672/log.txt

[2021-12-15 18:08] spowelljr commented on #12931
This was fixed by switching Docker Desktop from using Hyper-V backened to WSL2 on test infra.

[2021-12-15 18:08] #12931 closed

[2021-12-15 18:12] nyurik commented on #10663
I just hit this issue with a production cluster and would have never guessed it was the minikube installation that caused it if it wasn't for my coworker pointing out this issue. Any updates on this?  I am currently forced to rename the `~/.kube/config` into something else in order to use kubectl in production.

[2021-12-15 18:21] spowelljr commented on #13166
So I ran the benchmarks using https://github.com/tstromberg/time-to-k8s, I slightly modified the project to sit idle for 10 minutes after the rest of the steps were complete so we could see what the idle CPU usage is.

The differences were default minikube settings, setting `global-housekeeping-interval` (global) to one hour, setting `housekeeping-interval` (container) to one hour, and setting the

[2021-12-15 19:02] medyagh commented on #13166
how many runs were on each?

[2021-12-15 19:03] spowelljr commented on #13166
`five runs for each ran`

[2021-12-15 19:26] spowelljr commented on #12999
Hi @nishantpatel11, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-12-15 19:26] #12999 closed

[2021-12-15 19:26] spowelljr commented on #12747
Hi @ramuyesupogu, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-12-15 19:26] #12747 closed

[2021-12-15 19:29] spowelljr commented on #12576
Hi @Srilahari9, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-12-15 19:29] #12576 closed

[2021-12-15 19:31] spowelljr commented on #12945
Hi @felixfarquharson, you haven't responded so I'm going to assume that satisfied your question. I'm going to close this issue, but if you have further questions feel free to reopen the issue, thanks!

[2021-12-15 19:31] #12945 closed

[2021-12-15 19:42] sharifelgamal commented on #12944
We have this exact scenario in our [proxy and VPN documentation](https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/#x509-certificate-signed-by-unknown-authority). Try following those steps and seeing if that helps/

[2021-12-15 19:49] spowelljr commented on #12924
Hi @rahulanand16nov, when you start a fresh minikube cluster (non-existing) `kubeadm init` is run https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/

There you can see the following certs commands are run:
[code]

So this should be handled on a fresh start, previously if you had a long running that was never deleted, the cert would never be renewed, but as of minikube v1.24.0 c

[2021-12-15 19:49] klaases commented on #12889
Hi @author – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2021-12-15 19:50] #12889 closed

[2021-12-15 19:55] sharifelgamal commented on #12254
Hi @silaing  – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with /reopen. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2021-12-15 19:55] #12254 closed

[2021-12-15 19:56] klaases commented on #12721
Hi @salvoravida, thanks for taking the time to work with minikube. Will close out this issue for now. All the best.

[2021-12-15 19:57] #12721 closed

[2021-12-15 20:00] klaases commented on #12895
Hi @leeadh – were you able to follow sharif's suggestion above?

Closing out for now, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

[2021-12-15 20:02] #12895 closed

[2021-12-15 20:04] klaases commented on #12859
Hi **@shahin-2020**, are you still experiencing this issue?

Based on the error output, have you tried running `minikube delete`.

Can you create a virtual box machine independent of minikube? It looks like there might be a permissions issue:

`VBoxManage: error: Code E_ACCESSDENIED (0x80070005) - Access denied (extended info not available)`

[2021-12-15 20:05] sharifelgamal commented on #12677
This is definitely a bug in `minikube node delete`, we should be able to delete a node config even if the node doesn't exist.

[2021-12-15 20:11] klaases commented on #12850
Hi **@veperales**, is this issue still occurring?

From what I can tell, kubectl is pointing to a k8s cluster config that is not running.

Maybe try starting k8s and then re-starting minikube.

Also the command `minikube update context` may help point to the running k8s cluster.

[2021-12-15 20:13] klaases commented on #12805
Hi @rajath26, were you able to update to the latest version of minikube?

Closing out this issue for now, please feel free to re-open the issue by commenting with `/reopen` if needed.

[2021-12-15 20:14] sharifelgamal commented on #12701
Ah, our apologies, the documentation for offline usage there is woefully out of date. You should be able to copy the cache directory as before with all the new sub-directories and have it continue to work.

We would love to have someone update our docs there to make it more up to date.

[2021-12-15 20:21] sharifelgamal commented on #12785
Hey @babaksit, I'm going to go ahead and close this issue since there hasn't been a response in quite some time. If you try my advice above and still have issues, feel free to reopen this with more details.

[2021-12-15 20:21] #12785 closed

[2021-12-15 20:24] klaases commented on #12763
Hi @chrisbirster, are you still experiencing this issue? It looks like there may be a version mismatch.

Make sure your version of kubectl (command line for viewing k8s resources) is at least 1.22, or try and use kubernetes 1.23 which is in beta. EphemeralContainers are disabled by default in 1.22

The following additional information may be helpful:
https://kubernetes.io/blog/2021/08/04/kubernete

[2021-12-15 20:24] sharifelgamal commented on #12875
Looks like this was resolved, I'll go ahead and close this.

[2021-12-15 20:24] #12875 closed

[2021-12-15 20:25] sharifelgamal commented on #12878
Hey @leeadh, I'm going to go ahead and close this issue. If you try the advice above and still have an issue, feel free to reopen this with more details.

[2021-12-15 20:25] #12878 closed

[2021-12-15 20:26] sharifelgamal commented on #12881
Since this is a virtualbox issue rather than a minikube issue, I'm going to go ahead and close this now.

[2021-12-15 20:26] #12881 closed

[2021-12-15 20:27] klaases commented on #12754
Hi @fritz-net, thanks for following on the resolution to the issue, we appreciate the comment.

Closing out this issue for now, please feel free to re-open the issue by commenting with `/reopen` if needed.

[2021-12-15 20:27] #12754 closed

[2021-12-15 20:32] sharifelgamal commented on #12905
Yeah, we try to support the current k8s version and the previous 6, so trying to support k8s 1.14 is out of scope. Feel free to try what @prezha has outlined above, but otherwise try using a newer version of k8s.

[2021-12-15 20:32] #12905 closed

[2021-12-15 20:34] sharifelgamal commented on #12908
Hey @Erfan-Motallebi, it's not clear to me what the issue is here. It looks like the ingress controller has started up successfully, since the pod is running.

[2021-12-15 20:35] sharifelgamal commented on #10019
Freezing this as this is definitely a feature we would accept a PR for.

[2021-12-15 20:36] sharifelgamal commented on #10259
This is fixed.

[2021-12-15 20:36] #10259 closed

[2021-12-15 20:37] sharifelgamal commented on #11018
@medyagh do we still care about this?

[2021-12-15 20:46] klaases commented on #12655
Hi @ReggieCarey, are you still encountering this issue? Please try updating to the latest version of minikube, and take a moment to review Medya's comments above (Oct 18).

Also, are you using minikube for development or production environment?

If the issue is still occurring, please attach the latest `minikube logs --file=logs.txt` file for further troubleshooting.

[2021-12-15 20:49] klaases commented on #10897
Hi @MoeHamdan, @seksham, @wajeehulhassanvii were you able to try minikube with the docker driver?

[2021-12-15 21:13] #12805 closed

[2021-12-15 21:20] sharifelgamal commented on #11699
I believe the solution here is `minikube tunnel`, let me know if running that in another terminal then trying again helps.

[2021-12-15 21:35] sharifelgamal commented on #11885
We're going to work on implementing a qemu driver for a vm driver on arm64 darwin.

[2021-12-15 21:55] bidossessi commented on #13067
@ethnhll I think the docs do mention it, in the [known issues](https://minikube.sigs.k8s.io/docs/drivers/docker/) section.

[2021-12-15 22:08] #12399 closed

[2021-12-16 05:29] semistone commented on #6296
I just workaround by installing proxyman in my local laptop
and add HTTP_PROXY settings when launching minikube

[2021-12-16 08:18] amirsalaar commented on #4206
for my case, I had my corporation VPN on (particularly McAfee), which was blocking the creation of `dhcpd_leases`.  After turning that off and shutting the firewall temporarily , it got fixed.

[2021-12-16 08:42] MoeHamdan commented on #10897
Hello

Well guys recently, I cannot remember since which version though, I am not having the issue anymore. I have around 80+ pods and all good.

[2021-12-16 08:42] #10897 closed

[2021-12-16 11:12] arnabchow opened #13179 "error: Failed to open/create the internal network 'HostInterfaceNetworking-VirtualBox Host-Only Ethernet Adapter' (VERR_INTNET_FLT_IF_NOT_FOUND)."
### What Happened?

D:\Program Files\Kubernetes\Minikube>minikube.exe start
* minikube v1.24.0 on Microsoft Windows 11 Home Single Language 10.0.22000 Build 22000
* Automatically selected the virtualbox driver
* Starting control plane node minikube in cluster minikube
* Creating virtualbox VM (CPUs=2, Memory=3500MB, Disk=20000MB) ...
* Deleting "minikube" in virtualbox ...
! StartHost failed, but

[2021-12-16 14:09] sbasu123 commented on #12875
Hi ,It is resolved.
Regards
Siddhartha Basu

  On Thu, 16 Dec 2021 at 1:54, Sharif ***@***.***> wrote:

Looks like this was resolved, I'll go ahead and close this.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-12-16 15:27] hbhadvankar opened #13181 "start with kubernetes v1.18.0 : "the certificate has expired""
### What Happened?

I am trying to start minikube on Mac Big Sur

i am not able to start  minikube getting below error.

Error starting cluster: wait: /bin/bash -c "sudo env PATH="/var/lib/minikube/binaries/v1.18.0:$PATH" kubeadm init --config /var/tmp/minikube/kubeadm.yaml  --ignore-preflight-errors=DirAvailable--etc-kubernetes-manifests,DirAvailable--var-lib-minikube,DirAvailable--var-lib-miniku

[2021-12-16 17:44] jufabeck2202 commented on #5301
Would love this feature for local dev.

[2021-12-16 19:56] veperales commented on #12850
@klaases ,

I did a workaround to solve my issue.
that consisted in uninstalling and reinstall everything using brew.
then recreate the cluster and now everything was working as it should.

I posted my findings and procedure in another thread.

I think we can close this one.

[2021-12-16 19:56] #12850 closed

[2021-12-16 23:30] medyagh commented on #13181
hmm...
[code]

[2021-12-16 23:32] medyagh commented on #13181
@hbhadvankar I am curious can u try minikube delete --all and try again ?

and I see you are using kuberentes v1.18.0 and does this only happen for kuberentes v1.18.0 ?

[2021-12-16 23:32] sharifelgamal opened #13184 "Rename default branch to `main`"
This will require auditing all our CI in github actions and jenkins to see what currently relies on the current `master` name.

[2021-12-16 23:33] medyagh commented on #13184
good idea, lets dedicate one day after 1.25.0 release to do this all over our automations

[2021-12-17 00:07] spowelljr opened #13186 "Audit log defer not always being called"
When any minikube command is run we have a [defer statement](https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/root.go#L81) that logs the command to the audit log. However, on `minikube start` sometimes we terminate the execution in a way that the defer is not run and then the start command is not added to the audit log.

I have a proposed way to remedy this, the only reason we d

[2021-12-17 03:21] duttonw commented on #13006
Yep, also looking at drop in replacements as 'Docker Desktop' is now a no go for adhoc pdev for docker-compose helper scripts for ui dev's. The guide https://dhwaneetbhatt.com/blog/run-docker-without-docker-desktop-on-macos is great for intel cpu's but fall on its face for m1 arm64.

There seems to be nothing truely available to run containers on M1 easily for the non-techy users..

[2021-12-17 03:29] Cluas commented on #13006
Have a look at rancher-desktop now supports m1, https://github.com/rancher-sandbox/rancher-desktop/issues/956, which is my current alternative

[2021-12-17 04:20] KatekovAnton commented on #9757
hi. this is still an issue. I am trying to compile a simple c++ app in docker, but build is failing. Log:

[code]

Is there any workaround? Thank you.

[2021-12-17 07:27] rahulanand16nov commented on #12924
Hi @spowelljr , Thanks for the reply! I am already using v1.24.0 of minikube:
[code]

Even after deleting everything (did a complete reinstall of the OS as well), I have the following output:
[code]

[2021-12-17 07:49] KatekovAnton commented on #4621
Hi. I am trying to compile a simple c++ app in docker, but build is failing due to this issue. Log:
[code]

Is there any workaround? Thank you.

[2021-12-17 08:23] ayshiff commented on #12677
/assign

[2021-12-17 18:48] adq opened #13190 "kubelet depending on missing /lib64/ld-linux-x86-64.so.2 on v0.0.28 m1 mac kicbase image"
### What Happened?

I installed the latest Docker Desktop (v20.10.11) on an M1 Mac.

I then downloaded the MacOs-ARM64-stable-binary file from here: https://minikube.sigs.k8s.io/docs/start/

I run `minikube start` - it setup a container but fails during kubeadm  init
The image for the container does appear to be aarch64. But the kubenetes binaries in /var/lib/minikube/binaries/v1.22.3 are amd64 -

[2021-12-17 20:14] afbjorklund commented on #13190
Sounds like a bug...

[2021-12-17 20:32] afbjorklund commented on #13190
This looks OK:
I1217 18:33:12.074968 10105 binary.go:67] Not caching binary, using https://storage.googleapis.com/kubernetes-release/release/v1.22.3/bin/linux/arm64/kubelet?checksum=file:https://storage.googleapis.com/kubernetes-release/release/v1.22.3/bin/linux/arm64/kubelet.sha256

This might not:
I1217 18:33:12.089505 10105 ssh_runner.go:319] scp /Users/adq/.minikube/cache/linux/v1.22.3/kubelet

[2021-12-17 20:35] afbjorklund commented on #13190
Probably due to being statically linked ?

[code]

[2021-12-17 20:41] afbjorklund commented on #4621
Use a directory on the VM, that is not mounted from remote (host). For instance, by copying the directory to a different location.

[2021-12-17 20:42] adq commented on #13190
Correct, `file` reports they're statically linked.

[2021-12-17 20:50] adq commented on #13190
Oh, interesting! I didn't realise it scped them from in there, I'd assumed they'd be part of the image.

OK, I've zapped that folder and now its all working!

I think I must have previously tried running a brew installed amd64 minikube, which didn't work right. It did say to  try using the arm64 binary instead which is what I did, but it obviously left the old cache files lying around.

[2021-12-18 03:03] drdkadtr opened #13192 "Setup minikube as CI step in github actions"
I have tried GH action by using example flow but it fails: https://github.com/drdkadtr/gh-action-minikube-app/runs/4567460563?check_suite_focus=true

Any help troubleshooting would be greatly appreciated!

[2021-12-18 09:01] afbjorklund opened #13193 "containerd package has the same tarball checksum problems as others"
Building the ISO fails, since the upstream git archive randomly changes checksum.

This is due to including `vendor/k8s.io/client-go/pkg/version/.gitattributes`

[code]

The substitution will corrupt the git archive, by filling the git info with wrong information.

[code]

It was intended to record the kubernetes version, but here has a random short rev of containerd.

Problems started with contai

[2021-12-18 09:02] afbjorklund commented on #13193
Broke the ISO build in #13089

[2021-12-18 09:05] afbjorklund commented on #13193
Reported as https://github.com/containerd/containerd/issues/6387

[2021-12-18 12:01] #12508 closed

[2021-12-18 12:05] afbjorklund commented on #9989
The complexity is already there, since upstreams have issues providing consistent packaging

Installing Docker is easy, but adding cri-o or cri-dockerd or containerd is a pain to maintain...

[2021-12-18 19:17] mprimeaux commented on #13192
FWIW, we use a [different Github action](https://github.com/manusa/actions-setup-minikube) for Minikube in our CI pipeline than what you're using and it works well. Here is a snippet:

[code]

Our strategy matrix is:

[code]

[2021-12-18 19:46] #11599 closed

[2021-12-19 18:41] LeoniePhiline commented on #7923
It appears that Kubernetes 1.23 is released: https://www.kubernetes.dev/resources/release/

As I run minikube v1.24.0, it seems that kubernetes 1.22 is used. Is there a way to use kubernetes 1.23 to I can use docker with btrfs? Or should I wait for minikube 1.25 to run with kubernetes 1.23?

[2021-12-19 18:49] braderhart commented on #7923
minikube start --kubernetes-version=v1.23.0

[2021-12-19 18:50] braderhart commented on #7923
`minikube start --kubernetes-version=v1.23.0`

[2021-12-19 18:54] LeoniePhiline commented on #7923
I can confirm this works! (openSUSE tumbleweed, full disk encryption with cryptsetup / dm-crypt, btrfs)

[code]

❤️

[2021-12-19 21:29] 5u9 opened #13198 "upgrade minikube API server stopped"
**Perintah yang diperlukan untuk merekonstruksi masalah**:

minikube start

**Output penuh dari perintah yang gagal**:<details>

https://pastebin.com/nSwzW8Ya

</details>

**Output dari perintah `minikube logs`**: <details>

[logs.txt](https://github.com/kubernetes/minikube/files/7741624/logs.txt)

</details>

**Versi sistem operasi yang digunakan**:

Ubuntu 20.04 Desktop

❯ minikube version
minik

[2021-12-19 23:06] blue928 commented on #11193
Are the solutions in this post still valid? I've tried every single one of them and as of this writing, I get only errors.  Would the fact that I'm using an Apple M1 chip be a factor? In any case, here is what I'm trying with errors:

There is no build of virtualbox for M1 chips, so using that driver is not an option. The hyperkit driver shows all the same errors as the docker driver.

To this day

[2021-12-20 09:56] tomsucho opened #13202 "minikube start results in 'panic: runtime error: index out of range [2] with length 2'"
### What Happened?

I was using minikube inside of a LXC Debian10 container and it suddenly stopped working i.e. panic when trying to startup. I launched a brand new LXC container with Ubuntu:18.04 and enabled priviliged & nesting mode, and when I try to start minikube fails the same way.

lxc launch images:ubuntu/18.04 ubuntu-container
lxc config set ubuntu-container security.privileged true
lxc

[2021-12-20 11:19] rsotogar opened #13203 "Unable to initialise minikube"
### What Happened?

I am new to minikube and after installing minikube using brew, then running`minikube start`, apparently kubelet is not found:

[WARNING Swap]: running with swap on is not supported. Please disable swap
[WARNING Service-Kubelet]: kubelet service is not enabled, please run 'systemctl enable kubelet.service'

error execution phase preflight: [preflight] Some fatal errors occurred:

[2021-12-20 11:22] Chirag-786 commented on #8288
I am also facing the same issue ..

[2021-12-20 17:54] spowelljr commented on #7923
Glad to hear @LeoniePhiline, thanks for testing!

[2021-12-20 20:39] davclark commented on #12654
I'm likewise trying to figure this one out. The docs for the minikube drivers say that the target of `host.minikube.internal` varies by driver, but doesn't provide details.

The below is from the perspective of Minikube run from WSL2 w/ docker driver on Docker Desktop.

From inside the minikube host container (i.e., the one you access via `minikube ssh`, 192.168.49.2 for me), both host.minikube.in

[2021-12-20 20:40] spowelljr commented on #13202
Hi @tomsucho, thanks for reporting your issue with minikube!

So your issue seems to be with the https://github.com/shirou/gopsutil package itself.
We use the package to get the number of CPUs, but the package is failing on init.

The exact thing that's happening is it's trying to read a file and there doesn't seem to be the same amount of contents it's expecting.

If `HOST_PROC` env is set it tri

[2021-12-20 20:43] abhishekbhutra commented on #12675
Failing on macos caalina too

[2021-12-20 21:05] spowelljr commented on #13192
It looks like something is wrong with our setup actions, it's using a very old version of minikube
`minikube v1.10.0-beta.1`
I'll look into it

[2021-12-20 21:59] medyagh opened #13206 "Add kuberentes "version" to the PR title for the Automation that creates PR"
we have an automation in github action that bumps the default and newest Kubernetes versions in our constant files whenever there is a new k8s version upstream

Example PR created by minikube-bot:
https://github.com/kubernetes/minikube/pull/12997

however it would be better if the automation creates the PR with a better title
instead of "bump default/newest kubernetes versions" it should say
"bump

[2021-12-20 21:59] blue928 opened #13207 "Help request: Please provide step by step instructions on using minikube tunnel for MacOS M1 Chips?"
I am well aware of challenges of trying to view web apps with Minikube on MacOs using the docker driver.  Like many I'm suffering from the same pains expressed in post #11193 . I have painstakingly gone through every single suggestion, but no matter what I do or what tutorial I read, nothing works.

Starting with the docs located at https://minikube.sigs.k8s.io/docs/start/, I select the configurat

[2021-12-20 22:17] #13172 closed

[2021-12-20 23:49] spowelljr commented on #13192
@drdkadtr We updated the GitHub Action, it will now use the latest version of minikube by default, give it a try again and see if it works, thanks!

[2021-12-21 00:17] minikube-bot opened #13209 "Frequent test failures of `TestNoKubernetes/serial/Start`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestNoKubernetes/serial/Start)|100.00|

[2021-12-21 00:17] minikube-bot opened #13210 "Frequent test failures of `TestNoKubernetes/serial/Stop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestNoKubernetes/serial/Stop)|100.00|

[2021-12-21 01:33] klaases opened #13211 "Bump Preload via Script"
For further development automation, create a script that will bump the preload version of minikube on demand. This script should be able to be called directly, or called as a part of a larger MakefIle workflow.

[2021-12-21 01:33] klaases commented on #13211
/assign

[2021-12-21 02:17] minikube-bot opened #13216 "Frequent test failures of `TestDownloadOnly/v1.23.2-rc.0/cached-images`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_docker_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_docker_arm64&test=TestDownloadOnly/v1.23.2-rc.0/cached-images)|25.00|

[2021-12-21 03:41] zhan9san commented on #11193
Hi @blue928

Does the `127.0.0.1: address` mean `http://127.0.0.1:52410`?

ClusterIP: Exposes the Service on a cluster-internal IP. Choosing this value makes the Service only reachable from within the cluster. This is the default ServiceType.
You access it outside the cluster. It is expected to be unreachable.

What are the `both ports`?

`192.168.49.2` is the IP of  Kubernetes Master Node which i

[2021-12-21 04:46] blue928 commented on #11193
@zhan9san Thank you for your detailed answer. However this does not work for me.

Let me ask in a different way. Take this example:

If I want to deploy Wordpress in my Minikube cluster, how do I see it in the web browser?

1) minikube start

2) minikube tunnel

3) (in another terminal) helm install wordpress bitnami/wordpress

Here is the output of `kubectl get svc`
[code]

4) What address and po

[2021-12-21 05:11] zhan9san commented on #11193
❯ sudo minikube tunnel
❗  The service/ingress wordpress requires privileged ports to be exposed: [80 443]
🔑  sudo permission will be asked for it.
🏃  Starting tunnel for service wordpress.

Once the tunnel is set up, it's `http://127.0.0.1` like below

❯ curl -IL http://127.0.0.1
HTTP/1.1 200 OK
Date: Tue, 21 Dec 2021 05:09:28 GMT
Server: Apache/2.4.49 (Unix) OpenSSL/1.1.1d PHP/7.4.23
X-Powered-By

[2021-12-21 05:47] blue928 commented on #11193
Here are all of the steps.

**Terminal 1:**
minikube start --extra-config=apiserver.service-node-port-range=51000-65535

😄  minikube v1.24.0 on Darwin 11.6 (arm64)
✨  Automatically selected the docker driver
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🔥  Creating docker container (CPUs=2, Memory=1988MB) ...
🐳  Preparing Kubernetes v1.22.3 on Docker 20.10.8

[2021-12-21 06:17] robtayl0r opened #13219 "Registry addon with docker driver uses port 62214 please use that instead of default port 5000"
### What Happened?

What does this mean? The documentation only mentions port 5000.

[code]

If I'm following [the documentation](https://minikube.sigs.k8s.io/docs/handbook/registry/#docker-on-macos), does this negate the all the mentions of port 5000, replaced with 62214? I've tried both.

[code]

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/7749999/log.txt)

##

[2021-12-21 06:34] zhan9san commented on #11193
In order to get a minimum reproducible scenario, would you mind running some basic test and sending me the result?

Terminal 1

Note: `minikube delete` will delete current cluster

[code]

Terminal 2

Add the following line to the bottom of the /etc/hosts file.
[code]

[code]

[2021-12-21 07:24] Sn-Kinos commented on #11320
I had spend almost 2 days for it... thank you so much 😭

[2021-12-21 09:04] andruwik777 commented on #9499
Also have same problem with accessing pod using curl after exposing port via service.
Tunneling with minikube service works fine but it would be great to have ability to access pod just after "kubectl expose" because it is work on Linux exactly this way (without any additional tunnels). This confuses Windows users during practical task execution in kubernetes tutorials (i.e. I faced this while pla

[2021-12-21 12:37] blue928 commented on #11193
Terminal 1:

[code]

[code]

[code]

[code]

Terminal 2:
[code]
[code]

[code]

Terminal 1:
[code]

Terminal 2:
[code]

A curl response!! Yes! Why does this work? I also notice the `127.0.0.1 kubernetes.docker.internal` in the /etc/hosts file. Could that be causing any issues?

[2021-12-21 14:07] zhan9san commented on #11193
You can find detailed info from [Support Ingress on MacOS, driver docker](https://github.com/kubernetes/minikube/pull/12089) and the comments in this issue.

No, it couldn't.

The above sample means both `kubernetes cluster/kubernetes service` and `minikube ingress` add-on work.

As you mentioned `helm install wordpress bitnami/wordpress` doesn't work as expected, it may be wordpress helm chart is

[2021-12-21 21:29] #13211 closed

[2021-12-21 22:07] klaases commented on #13206
/assign

[2021-12-21 23:54] #13206 closed

[2021-12-22 05:38] #13003 closed

[2021-12-22 15:37] rosscado commented on #13130
I have the same error.
`minikube addons enable ingress` fails on minikube v1.24.0 clusters with k8s v1.14.0, but succeeds on clusters with k8s v1.22.3.

The suggested workarounds (purging clusters and other caches) do not work.

[2021-12-22 17:52] skol101 commented on #6912
Hello,
I've got similar issue: looks like addon uses very old NVIDIA GPU driver 390.67 which doesn't support RTX 3090/3080.
How can I install the addon with the new NVIDIA driver?

[2021-12-22 19:23] spowelljr commented on #13058
Hi @swathi-1227, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-12-22 19:23] #13058 closed

[2021-12-22 19:24] spowelljr commented on #13095
This has been resolved and will be included in the next release.

[2021-12-22 19:24] #13095 closed

[2021-12-22 19:25] spowelljr commented on #12614
Hi @optimizasean, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-12-22 19:25] #12614 closed

[2021-12-22 19:42] klaases commented on #12832
Hi @diegoep, where you able to try @JohnnyLufa's suggestion?

Please try updating to `VirtualBox 6.1.30`, which is now available.
https://www.virtualbox.org/wiki/Downloads

Does that help solve the issue?

[2021-12-22 19:43] sharifelgamal commented on #13028
The specific issue OP is having is that `C:\Program Files\Oracle\VirtualBox\VBoxManage.exe list hostinfo` is timing out. A good way to see if your installation of vbox is healthy is to try running that yourself in powershell and seeing what happens.

[2021-12-22 19:45] klaases commented on #12658
Hi @kgibm, was the comment by @ifplusor able to solve the issue?

[2021-12-22 19:47] klaases commented on #12616
Glad to hear that this is working now, will go ahead and close this issue for now.

If needed, please feel free to re-open the issue by commenting with `/reopen`.

Thank you for sharing your experience with the minikube community!