[2019-10-30 12:30] nanikjava commented on #5704
Can we close this issue as the OP indicate that upgrading minikube to v1.4.0 fixes the problem.

[2019-10-30 12:33] Matt-Gleich commented on #5714
Output of `cat /Users/matthewgleich/.kube/config`:
[code]

Output of `ls -lah /Users/matthewgleich/.kube/config`:
[code]

[2019-10-30 12:36] quany opened #5788 "fail"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2019-10-30 16:48] retracile opened #5789 "minikube service opens in browser when it should not"
**The exact command to reproduce the issue**:

minikube service --namespace mynamespace --url mynodeportservice

**The full output of the command that failed**:<details>

In versions of minikube through 1.3.1, this output the service URL to stdout, and _did not_ open the URL in the default browser.  In 1.5.1, it outputs the URL and the "🎉  Opening kubernetes service ..." message to stdout, and it

[2019-10-30 16:54] tstromberg commented on #5789
This sounds like a regression, possibly caused by #5718. Perhaps the urlMode logic got inverted?

/cc @nanikjava

[2019-10-30 17:12] retracile commented on #5789
Looks like the logic moved from pkg/minikube/servcice/service.go to cmd/minikube/cmd/service.go between 1.3.1 and 1.5.1.
The logic in the command code is only looking at the length of urlString list to determine if it should open the browser, and is not considering the value of serviceURLMode.

[2019-10-30 17:18] #5764 closed

[2019-10-30 17:21] tstromberg commented on #5789
@retracile - Thanks, I'm working on a PR now with an integration test to avoid future similar breakage.

This definitely revealed a short-coming in our testing.

[2019-10-30 17:24] retracile commented on #5789
A quick local test shows that change fixes it for me, and `--url --format "{{.IP}}"` also works. :)

[2019-10-30 17:59] tstromberg commented on #5125
Is this still necessary?

[2019-10-30 18:00] #4668 closed

[2019-10-30 18:00] tstromberg commented on #4668
This shipped as part of v1.5.0.

[2019-10-30 18:14] priyawadhwa commented on #5701
Hey @nikhilgithub, do you still see this error when you increases the memory/cpu with `--memory=8192 --cpus=6` on `minikube start`?

[2019-10-30 18:16] medyagh commented on #5674
@link78 are you still having this issue ? do you mind sharing the information requested so we could help you better?

[2019-10-30 18:18] medyagh commented on #5618
if you don't mind I will close this issue, and track it as part of https://github.com/kubernetes/minikube/issues/3760 which elminate the need for "sudo minikube" everywhere

[2019-10-30 18:18] #5618 closed

[2019-10-30 18:20] medyagh commented on #3760
@vaibhavk we haven't heard any updates. I unassigned this issue.

this issue is free for anyone to take ! I would be happy to review the PR for it.

[2019-10-30 18:21] priyawadhwa commented on #5673
Hey @ghd258 could you try again with the latest version of MInikube? [v1.5.1](https://github.com/kubernetes/minikube/releases/tag/v1.5.1) was just released and may have some fixes for some of the networking issues you faced.

If it doesn't work, could you please provide the output of `minikube start --logtostderr`. Thanks!

[2019-10-30 18:21] tstromberg commented on #5660
I don’t yet have a clear way to replicate this issue. Do you mind adding re-running this and including t he output of `minikube logs`?

Thank you for sharing your experience!

[2019-10-30 18:23] sharifelgamal commented on #5587
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-10-30 18:25] sharifelgamal commented on #5515
@clombardo1 Could you retry this running the newest version of minikube and with the `--alsologtostderr` parameter? We added some debugging that could be helpful.

[2019-10-30 18:27] priyawadhwa commented on #5637
Now that v1.5 has been released, docker-init should be available. I'm going to go ahead and close this issue.

[2019-10-30 18:27] #5637 closed

[2019-10-30 18:27] tstromberg commented on #5604
Do you mind trying with minikube v1.5.x with the following arguments?

`minikube start --alsologtostderr -v=3`

We added some debugging that will help. My guess is that you may not have elevated permissions to be able to manage Hyper-V.

[2019-10-30 18:28] medyagh commented on #5594
I think this is related to https://github.com/kubernetes/minikube/issues/5610
and there is a upstream PR in hyperkit that seems to be addressing hyperkit issue on catalina https://github.com/moby/hyperkit/pull/263

[2019-10-30 18:29] raul1991 commented on #5636
I think that would help. I can try adding a route and would reopen the issue if that doesn't work.

[2019-10-30 18:30] tstromberg opened #5791 "hyperv: Check if user has access to start Hyper-V VM's"
The user needs elevated privileges, and needs to be either in the admin group or the hyperv  admin group.

[2019-10-30 18:32] tstromberg commented on #5580
@jeff2u - Do you mind upgrading to minikube v1.5.x and including the output of:

`minikube start  --alsologtostderr -v=1`

We added some debugging information  which will help.

[2019-10-30 18:33] medyagh commented on #5546
per @tstromberg suggestion, we will need to add a fix to detect if there is kubedns running from old version of kubersnetes  that conflicts with newer kubeadm.

[2019-10-30 18:34] medyagh commented on #5538
@sestayocaamanof I haven't heard any update, are you still having this issue ?  I will close this issue, please feel free to re-open if still having this issue.

[2019-10-30 18:34] sharifelgamal commented on #5359
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

[2019-10-30 18:34] #5359 closed

[2019-10-30 18:34] medyagh commented on #5490
@rzou99 do you still have this issue ? do you mind trying with the latest version of minikube?

[2019-10-30 18:35] tstromberg opened #5792 "Sign minikube binaries for macOS"
This would make it play better with Catalina.

There are some issues here in that the sig-release folks keep a tight reign on the Kubernetes certificate.

[2019-10-30 18:35] tstromberg commented on #5568
Related: #5792

[2019-10-30 18:37] #5195 closed

[2019-10-30 18:38] priyawadhwa commented on #5669
Hey @kubesure, if you run `minikube start --download-only` it should download the necessary images. Afterwards, when you run `minikube start` it hopefully won't take forever.

Please let us know if this works, or if you still see some issues!

[2019-10-30 18:40] sharifelgamal commented on #5147
Hopefully it's ok if I close this, it's been some time since we were last updated. If you upgrade to minikube 1.5.1 and still see the problem feel free to reopen this bug with `/reopen` and give us the details from the new minikube run.

[2019-10-30 18:40] #5147 closed

[2019-10-30 18:42] tstromberg commented on #5532
Marking this as a bug because the user experience here is so bad.

- We should output a clear error message if Docker is not installed
- We should output a clear error message if `none` is used with a non-Docker runtime

Help wanted!

[2019-10-30 18:42] tstromberg commented on #5516
Fixed in v1.5.

[2019-10-30 18:42] #5516 closed

[2019-10-30 18:45] medyagh commented on #5594
@ashkan-leo
I myself get this error, I suspect this is related to the latest verison of Docker
[code]

do you mind sharing the version of docker"

[2019-10-30 18:46] medyagh commented on #5366
@WilsonGadekar  are you still having this issue ?

[2019-10-30 18:47] retracile commented on #5789
There's no newline in the `--url` output, but there was in v1.5.0

Tangent: Under some situations I'm also seeing a `* ` prefix on the output... this is very close to when the service is created, and I've seen that in older versions as well.  I have not found a way to consistently reproduce that, so hadn't reported it.

[2019-10-30 18:49] gclawes opened #5793 "Minikube attempts to connect to internet when using http_proxy/https_proxy"
Minikube attempts to connect to the internet by running `nslookup k8s.io` against `8.8.8.8` and `1.1.1.1`, and pinging `8.8.8.8` if those fail.  In a corporate/closed network behind a proxy these DNS endpoints are not available.  Minikube should use the local DNS resolvers, and possibly have a different behavior in the presence of `http_proxy`/`HTTP_PROXY`

**The exact command to reproduce the iss

[2019-10-30 18:49] xanderflood commented on #1043
FWIW, I didn't find the `docker stop $(...)` bit to be necessary - `minikube stop` already killed all the k8s containers

[2019-10-30 18:49] medyagh commented on #5190
@RA489 I dont see any PR for it. you could have it !

[2019-10-30 18:50] medyagh commented on #5126
@RA489 any updates?

[2019-10-30 18:50] tstromberg commented on #5236
I tested the service command with this tutorial today, and got it to work on Linux at least. I suspect you may be running into a firewall or proxy issue.

Do you mind sharing the output of:

`minikube service list`

`minikube service <your service name>`

[2019-10-30 18:51] tstromberg commented on #5108
This is still an issue in v1.5 as far as I know.

Once #4324 is resolved we will  likely drop  the `--nfs-share` feature if it's still not working.

[2019-10-30 18:52] #4231 closed

[2019-10-30 18:53] priyawadhwa commented on #5706
Hey @jgoeres you can find the reference for `minikube config` [here](https://minikube.sigs.k8s.io/docs/reference/commands/config/).

Looks like you can't set insecure-registry, but I think memory is expected to be set in MB, so `minikube config set memory 12,288` should work.

[2019-10-30 18:53] medyagh commented on #4730
@afbjorklund
I am curious is this issue addressed in the new minikube website ?

[2019-10-30 18:54] tstromberg commented on #5036
Still exists in v1.5. Help wanted!

[2019-10-30 18:57] tstromberg commented on #5036
@sharifelgamal may have some context here.

Also affects other commands, such as `minikube  service --help`

[2019-10-30 18:58] tstromberg commented on #5020
@dylmye - anything you can do to help document this would be much appreciated.

[2019-10-30 18:59] medyagh commented on #4546
I believe this is Dupe of https://github.com/kubernetes/minikube/issues/4546

if you don't mind I will close this issue in favor ohttps://github.com/kubernetes/minikube/issues/4546 to cenetralize the work on the issue.

[2019-10-30 19:00] medyagh commented on #4470
@alisondy  are you still interested to do this ?

[2019-10-30 19:03] tstromberg commented on #3848
Closing due to lack of updates. I'm not yet convinced of the necessity here, so I don't think we are likely to solve it.

If someone provides a PR - I'd be OK with merging it.

[2019-10-30 19:03] #3848 closed

[2019-10-30 19:04] dylmye commented on #5020
Tomorrow is the last day of Hacktoberfest so I'll try to open a PR soon :)

[2019-10-30 19:05] tstromberg commented on #5789
The newline seemed incorrect to me, so I removed it out. I could preserve if it it's useful.

What command are you you seeing the * prefix?

[2019-10-30 19:13] retracile commented on #5789
*NIX commands generally include the newline at the end; otherwise you wind up with your shell prompt tacked on the end of the output (when using it interactively).  When using it within a script, it works either way.

[2019-10-30 19:16] tstromberg commented on #5789
Good point. Will add newline back.

On Wed, Oct 30, 2019, 12:13 PM retracile <notifications@github.com> wrote:

[2019-10-30 19:16] retracile commented on #5789
For the `* ` prefix, that's a separate issue, and dates way back.  I see it when running the same command discussed here, but it appears to only happen for a brief period after the service is created... brief enough that I don't think I've ever managed to reproduce it outside of automated scripting.  Maybe it happens in the time between the service being created and it being ready?  Or something?

[2019-10-30 19:19] asloan7 commented on #5691
I have tried, might be corporate lock down of being able to do hyper-v stuff

[2019-10-30 20:27] Aankhen commented on #5437
I had the same issue. The failing invocation:
[code]

Note the path (`/Users/A/.minikube/cache/iso/minikube-v1.5.1.iso`). It ought to start with `C:/`, i.e. the drive my profile folder is on. The same invocation works if I first switch:

[code]

[2019-10-30 20:37] medyagh commented on #5793
That is a bug ! you found ! you are right we need to mind the people in corp network !

I would be happy to review any PR that would address this.

[2019-10-30 20:44] medyagh commented on #4122
@alunduil  I would love to see removing the depdendecy on bash, however some commands we have in bootstrapper, does use bash functions,

as part of this PR https://github.com/kubernetes/minikube/pull/5530
a lot of the commands were converted to exec.Cmd format in this PR but others need more work to do so.

I would review any PR that carefully converts the commands to exec.Cmd format ( with args a

[2019-10-30 20:50] medyagh commented on #5788
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-10-30 21:04] tstromberg commented on #5789
@retracile - Regardless, it sounds wrong. If you know of a way to reproduce it, let me know.

The asterisk is likely caused by a call to `out.T()` rather than the raw equivalent `out.String()`. I removed the calls I saw, but there may be others.

[2019-10-30 21:05] medyagh commented on #5793
@gclawes on your corp setup, if we wanted to auto-detect the nameserver for look up how would we do it ? could you kindly provide us more info, how we could auto-detect this and use the crop provided ns?

[2019-10-30 21:12] gclawes commented on #5793
What's the purpose of this check?  To verify that DNS resolution is working?

I think the most platform independent should be able to do it in go with `net.LookupHost`:
https://golang.org/pkg/net/?m=all#hdr-Name_Resolution

[2019-10-30 21:26] tstromberg commented on #5793
The purpose is to warn users if the VM is unable to directly connect to the internet. An app that they run in the VM won't be able to directly contact an external IP.

I'd be open to improving the appearance of the check, removing it, and/or adding a flag to prevent this connection check.

[2019-10-30 21:29] retracile commented on #5789
`out.T()` vs `out.String()` is a useful clue; maybe I can track it down at some point.  Thanks.

[2019-10-30 21:42] gclawes commented on #5793
It looks like minikube is getting it's `/etc/resolv.conf` set to the gateway for the hypervisor's (in this case hyperkit) network.  I think making the check to resolve `k8s.io` is fine, but it shouldn't be necessary to hard-code the DNS resolvers.  `nslookup k8s.io` or `dig k8s.io` should be sufficient.

[code]
[code]

[2019-10-30 21:45] tstromberg opened #5795 "none: "start" may declare success prematurely immediately after "stop""
With the none driver, if you run:

"minikube start"
"minikube stop"
"minikube start"

You may run into a situation where the apiserver health check passes, but found the old apiserver process instead, that is subsequently restarted, so a call to the apiserver fails. This mostly manifests with unreliable integration testing.

[2019-10-30 21:45] tstromberg commented on #5795
One could argue that "stop" should also block until the apiserver pod is down, but to be fully robust, "start" needs to also learn to deal with it.

[2019-10-30 22:07] tstromberg commented on #4768
Current result:

[code]

[2019-10-30 22:13] tstromberg commented on #4768
Likely related: #4346

[2019-10-30 22:28] tstromberg commented on #5789
Reopening until we release v1.5.2 containing this fix (tomorrow).

[2019-10-30 23:40] woodcockjosh commented on #5618
Sounds good

[2019-10-31 01:52] GarretSidzaka commented on #4352
when i run it sometimes hangs forever and sometimes throws 503

ubuntu vm 1804
vm-driver=none

garretsidzaka@cloudstack:~$ sudo minikube dashboard
* Verifying dashboard health ...
* Launching proxy ...
* Verifying proxy health ...

^C
garretsidzaka@cloudstack:~$

[2019-10-31 02:49] asynclox opened #5797 "proxyconnect tcp: tls: first record does not look like a TLS handshake"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-10-31 02:49] nanikjava commented on #2570
**Initial investigation**

* Without using the --kubernetes-version flag the code will automatically install/upgrade the current VM to use the specific version declared in the code

	`minikube start`

* Using --kubernetes-version flag will install the specific version
* On existing VM running just 'minikube start' will automatically update kubernetes to the latest version (as specified in the code

[2019-10-31 03:37] RA489 commented on #5190
@medyagh sure i will file a PR for it then.

[2019-10-31 03:42] RA489 commented on #5126
@medyagh Thanks for your feedback i will file a PR  keeping new page under tutorials asap.

[2019-10-31 04:59] egernst commented on #4347
@grahamwhaley - any interest in picking this up?

[2019-10-31 05:20] alunduil commented on #4122
Remember, that I'm fine with bash as long as the path is not assumed since different systems may place it elsewhere.  Using `/usr/bin/env` seems to be the canonical way to invoke it without worrying about where it might live, but I'm sure this has problems on some systems as well (I don't know of any but didn't want to assume it was perfect).

[2019-10-31 05:37] gattytto commented on #946
@CarltonSemple

[2019-10-31 05:38] gattytto commented on #946
@luisfaceira @dlorenc

[2019-10-31 07:03] sprabhakaran opened #5801 "The "kvm2" driver should not be used with root privileges."
Hi, I am trying to start the minikube with kvm2 driver. I getting the below while starting the minikube.

[code]
[code]

I have used the below wiki for setting up the minikube.

https://kubernetes.io/blog/2019/03/28/running-kubernetes-locally-on-linux-with-minikube-now-with-kubernetes-1.14-support/

Any help would be appreciated.

[2019-10-31 08:10] nanikjava commented on #5801
Try `sudo minikube start --vm-driver=kvm2`

[2019-10-31 08:14] govargo commented on #5478
I will work on this.

/assign

[2019-10-31 08:14] rainfd commented on #3735
I have the same experience with [efengx](https://github.com/kubernetes/minikube/issues/3735#issuecomment-479443305) and [UkiahSmith](https://github.com/kubernetes/minikube/issues/3735#issuecomment-517931831).
Just delete the file hyperkit.pid

My environment:
macOS: Catalina 10.15
minikube: v1.2.0
hyperkit: v0.20190201-11-gc0dd46

[2019-10-31 09:10] grahamwhaley commented on #4347
well, yes, it interests me to fix, but I'm not sure it will ever reach the top of my todo pile :-(

[2019-10-31 09:34] ebokov commented on #5780
Have same exception. I'm working with Virtual VM  - not with hyperkit. Ading --vm-driver=virtualbox solved the issue for me.

[2019-10-31 09:55] sprabhakaran commented on #5801
Got the same error.

[2019-10-31 10:12] #1701 closed

[2019-10-31 11:37] govargo commented on #5478
It seems that minikube outputs Suggestion message `brew install hyperkit` in v1.5.1.
But the `minikube start` & `minikube delete` errors keep happening.
I'll fix this.

And...I'm wondering.
Why minikube downloads docker-machine-driver-hyperkit, when `hyperkit` binary does not exist.
In my option, we can only install hyperkit by `brew` or `make` from source.

[code]

[2019-10-31 13:15] adarshaJha commented on #4060
still gettting the same error :

[code]
has anyone really solved it ?

[2019-10-31 13:16] tstromberg commented on #2570
@nanikjava - Your approach sounds great.

I'd like to personally be able to set `minikube config set upgrade-kubernetes true` for automatic-updates (preserve old behavior), but I acknowledge that most people want predictability.

[2019-10-31 13:24] tstromberg commented on #5793
@gclawes - I encourage you to take a look if #5802 seems like more appropriate behavior for you.

[2019-10-31 13:33] tstromberg commented on #4540
NOTE: minikube v1.5 detects this issue, and provides an early  exit if a network interface misconfiguration is detected:

[code]

[2019-10-31 14:27] mmonbr commented on #5753
@peteryhwong did you manage to fix this? I'm getting the same error

[2019-10-31 15:53] medyagh commented on #5478
@govargo we have our own docker-machine-driver-hyperkit that wraps arround the hyperkit driver.

I agree it's useless to download our driver for hyperkit if the hyperkit itself is not installed. We need to fail fast and provide them instruction to install or it even better if they have brew we could do it for them

[2019-10-31 15:55] medyagh commented on #5478
@govargo it's yours ! Will be happy to review the PR

[2019-10-31 16:05] medyagh commented on #5801
Thank you for creating this issue. I am curious are you running kvm inside a VM or a cloud VM?

If yes for that you would need to have a VM that supports nested virtualization.

[2019-10-31 16:53] tstromberg commented on #4060
@adarshaJha - Yes. I suggest you try running `sudo modprobe vboxdrv`, and if that fails, `sudo /sbin/vboxconfig` and try `sudo modprobe vboxdrv` again.

Worst case, I would try reinstalling VirtualBox and rebooting.

[2019-10-31 16:57] scalaster commented on #5780
Had the same exception. Here are the things I had to do to fix it.

1. I had installed hyperkit using the instructions on their github repo. I uninstalled hyperkit and reinstalled it using homebrew. I guess the instructions on github didn't install a compatible version whereas homebrew did it.
2. I deleted ~/.minikube and ran `minikube start` again.

I had other unrelated errors coz I was behind t

[2019-10-31 17:18] govargo commented on #5478
@medyagh

Thank you for your comment!
I understand this!

[2019-10-31 17:24] vvuibert commented on #5780
@scalaster your solution also worked for me. thanks!

[2019-10-31 19:03] #5793 closed

[2019-10-31 20:53] nanikjava commented on #2570
Logic sounds good. Will implement it.

[2019-10-31 20:56] nanikjava commented on #2570
It's a good idea to have auto upgrade however I think most minikube user would like to have some sort of control over things that are deployed inside the VM.

[2019-10-31 21:33] medyagh commented on #5594
@ashkan-leo @natebrunette
do you mind sharing also your hyperkit version ?

[code]

one thing I noticed brew upgrade did NOT upgrade my hyperkit version ! which made debugging this issue more complicated.

[2019-10-31 21:47] natebrunette commented on #5594
@medyagh I forgot to mention, I built hyperkit from master and all of my issues are resolved (re: #5610)

[2019-10-31 21:51] medyagh commented on #5594
Excellent @natebrunette thank you so much for getting back to me !

I also confirm that upgrading both my docker and hyperkit driver fixed my issue too.
here are the versions on my mac machine:

[code]
$ docker version
[code]

it worth noting that brew upgrade failed to upgrade my hyperkit. so I had to manually delete it.
anyone else has the issue here are the commands :

[code]

also make sure yo

[2019-10-31 21:58] medyagh commented on #5610
anyone reading this issue : this is solved by upgrading hyperkit to latest versoin

[2019-10-31 22:01] khassel commented on #5716
This Problem exists in v1.5.0 and v1.5.1 too.

For reproducing this error with v1.4.0:

Save the following lines to a `Dockerfile`
[code]

Build the image with `docker build -t centos_minikube:latest .`
Start the image with `docker run -it -v /var/run/docker.sock:/var/run/docker.sock centos_minikube:latest bash`

Run `minikube start --vm-driver=none --embed-certs`

Result:
[code]

[2019-10-31 22:10] medyagh commented on #5478
@govargo one request,

we just had an issue that having an older hyperkit driver, caused this issue https://github.com/kubernetes/minikube/issues/5594

it would be great that as part of this PR, we check for the hyperkit version, and if there is an update available or if it is older than a specific verison, warn user about it .

[2019-10-31 22:19] natebrunette commented on #5594
so the new release is already tagged?

[2019-10-31 22:26] tstromberg commented on #5801
The answer is to not run minikube as the root user. If you note, https://kubernetes.io/blog/2019/03/28/running-kubernetes-locally-on-linux-with-minikube-now-with-kubernetes-1.14-support/ does not do so.

[2019-10-31 22:26] #5801 closed

[2019-10-31 22:28] tstromberg commented on #5797
Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command

Thank you for sharing your experience!

[2019-10-31 22:31] #5789 closed

[2019-10-31 22:31] tstromberg commented on #5789
Fixed in v1.5.2. Thank you for reporting this issue!

[2019-10-31 22:31] tstromberg commented on #5793
Fixed in v1.5.2. Thank you for reporting this issue!

[2019-10-31 22:37] jeger opened #5807 "sudo dashboard crash: Error getting machine status: state: machine does not exist"
Trying to run
sudo minikube dashboard

ends up with output:
💣  Error getting machine status: state: machine does not exist

😿  Sorry that minikube crashed. If this was unexpected, we would love to hear from you:

but it works alright with just minikube dashboard

[2019-10-31 22:56] tstromberg commented on #5807
This is because minikube clusters are per-user: when you run "sudo", you are running minikube as a different user (root -- not recommended), which does not know about the cluster.

Anyways, minikube should not "crash", but simply mention that it can't see the cluster. Leaving open as a bug because of that.

[2019-10-31 23:27] khassel commented on #5716
`ls -la /root/.minikube` after `minikube start --vm-driver=none --download-only` command:
[code]

`ls -la /root/.minikube` after `minikube start --vm-driver=none` command:
[code]

So e.g. the `ca.crt` seems to be excpected by `minikube start --vm-driver=none --embed-certs` but is not created at this time.

[2019-11-01 00:09] gattytto opened #5808 "FR: detect imposed systemd-resolve resolve.conf"
coredns crashes if /etc/resolv.conf is a symlink to systemd-resolve daemon and has "127.0.0.53" inside it.

it's already in the docs on the "loop plugin" troubleshooting section, if you get a loop check there's no symlink. So it'd be time saving to avoid having to use the -extra-config=kubelet.resolv-conf=/run/systemd/resolve/resolv.conf flag in this situation and have minikube prompt or just pass

[2019-11-01 02:07] govargo commented on #5478
@medyagh

OK,I see.
I'll add a presence check of hyperkit and version check of it.

[2019-11-01 03:20] ashconnell commented on #3207
Minikube: 1.5.0
No resources, just after a fresh install and i let it sit for half an hour: 50% CPU / process core

![image](https://user-images.githubusercontent.com/760516/68000022-865b0100-fcb2-11e9-9c4c-1b0d5668131f.png)

[2019-11-01 04:39] ahlimon commented on #4587
it solved my windows 10 problem

[2019-11-01 06:11] adarshaJha commented on #4711
when i run `sudo minikube start --vm-driver=none` it gives me this error ( ubuntu 16.0.4)
[code]

[2019-11-01 06:28] nanikjava opened #5809 "Behaviour upgrading cluster using --kubernetes-version with version that cannot be found"
While working fixing #2570 noticed a very strange behaviour. Here is how to reproduce (this is using master branch - no changes for 2570 has been applied)

1) fresh VM with kubernetes version that is not valid

it will throw error which is the right behaviour

[code]

run again the command with the correct version

will throw an error

[code]

which means the user will not be able to use the curre

[2019-11-01 06:29] nanikjava commented on #5809
/assign @nanikjava

[2019-11-01 06:30] nanikjava commented on #5809
cc: @tstromberg

[2019-11-01 07:59] adarshaJha commented on #3760
same error, and i can't see any resolution of the problem yet. I would request community to please update on this.

[2019-11-01 09:57] MilanMasek commented on #3207
Similar here.

I might be wrong, but high load seems to be caused by running quite often kubectl process similar to this one.
`$ ps -ef | grep kubectl
root     12611  9179 23 10:37 ?        00:00:00 /usr/local/bin/kubectl apply -f /etc/kubernetes/addons -l kubernetes.io/cluster-service!=true,addonmanager.kubernetes.io/mode=Reconcile --prune=true --prune-whitelist core/v1/ConfigMap --prune-whitelis

[2019-11-01 11:12] jroper commented on #3207
I see similar to @MilanMasek, it's as if minikube is in an infinite loop, invoking commands like this:

[code]

over and over and over and over again, and this is enough to keep it at constant 30% cpu usage. That said, that seems too high, the above may be what's generating the load, but I don't think the load its generating should be that high. Maybe kvm is slow on my machine or something.

[2019-11-01 12:07] pan3793 opened #5810 "`docker ps` can't see minikube containers on macOS"
I'm using minikube v1.5.2 (installed via `brew install minikube`) on Darwin 10.14.6, with docker 19.03.4 (installed via `brew cask install docker`).

After I run `minikube start`, everything seems good, the log shows 'hyperkit' driver was selected, and `minikube dashboard` works fun.

But, when I use `docker ps`, I can't see the container created by minikube, and my docker version  is 19.03.4, but

[2019-11-01 12:54] AndrewGumenyuk commented on #5481
As I assume, you can close it. It's expected behavior for "xhyve" driver

[2019-11-01 14:02] subratasen opened #5811 "hyperkit: machine creation: hyperkit crashed!"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

💿  Downloading VM boot image ...

🔥  Creating hyperkit VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🔄  Retriable failure: create: Error creating machine: Error in driver during machine creation: hyperkit crashed! command line:
  hyperkit loglevel=3 console=ttyS0 console=tty0 noembed nomodeset n

[2019-11-01 14:22] govargo commented on #5810
@pan3793

Yes. minikube start virtual machine(such like virtualbox, hyperkit, etc...).
And minikube build kubernetes container on its virtual machine.

If you want to confirm docker, you can do by following step.

1. ssh virtual machine by `minikube ssh`.
2. you can exec docker command in that virtual machine.

[2019-11-01 14:25] govargo commented on #5810
And you can choice your customized environment.

See, none driver link.
https://minikube.sigs.k8s.io/docs/reference/drivers/none/

But there are issue about none driver.

[2019-11-01 14:54] pan3793 commented on #5810
@govargo Thanks for your clear explanation, it seems that I misunderstood the document before.

[2019-11-01 14:54] #5810 closed

[2019-11-01 16:04] BobOntario opened #5812 "External Ip"
I tried to use minikube to deploy an IOT application in local to test edge devices.  My laptop is windows 10 which use VMWare workstation or Virtual box to host an Ubuntu 18.04. minikube was installed in Ubuntu and start as a bare-Metal. I checked services as below outcomes.

All external IPs are none or pending. How can I enable external IP of some services and my devices can connect to this serv

[2019-11-01 16:25] paul-theorem commented on #5753
Same issue, which is a hard blocker.  This is what I see:

Do you want to enable Docker Registry? [y/n]: n
❌  ERROR creating `registry-creds-ecr` secret: Temporary Error: secrets "registry-creds-ecr" not found
❌  ERROR creating `registry-creds-gcr` secret: Temporary Error: secrets "registry-creds-gcr" not found
⚠️  ERROR creating `registry-creds-dpr` secret
✅  registry-creds was successfully confi

[2019-11-01 16:27] andrewjcouzens commented on #4132
This is happening for me running Ubuntu 19.10 VM (virtualbox 6.0.8 r130520) with minikube 1.5.2 built from git repo.

[code]

[2019-11-01 16:40] wstrange commented on #3207
The add on manager does seem like low hanging fruit to reduce CPU consumption. The reconcile loop is constant. Maybe stick a `sleep 15`  in there somewhere ;-)

[2019-11-01 16:40] paul-theorem commented on #5753
Actually - i was able to fix the issue by creating the secrets by hand, and then re-running configure. It appears to be a small defect in that configure expects to overwrite rather than create.

Create empty secrets, then re-configure:

$ kubectl -n kube-system create secret generic registry-creds-ecr
secret/registry-creds-ecr created
$ kubectl -n kube-system create secret generic registry-creds-g

[2019-11-01 17:18] BZM708 commented on #5236
Here is the output for minikube service list:

|-----------------|-----------------------|-----------------------------|
|NAMESPACE       NAME          |        URL             |
|-----------------|-----------------------|-----------------------------|
| default                 | hello-node            | http://192.168.99.108:32744 |
| default                 | helo-svc              | http://192.16

[2019-11-01 17:21] #5190 closed

[2019-11-01 17:49] kubesure commented on #5669
@priyawadhwa executed ```minikube start --vm-driver=kvm2 --alsologtostderr -v=8``` without executing ```minikube start --download-only```  the long wait issue did not occur, this is maybe because I has created a minikube cluster with a none driver and images would have got downloaded.

Also, the CoreDNS issue https://coredns.io/plugins/loop/#troubleshooting did not occur with KVM driver cluster wh

[2019-11-01 17:49] #5669 closed

[2019-11-01 18:04] vamossagar12 commented on #5795
@tstromberg This issue is open and has some work to be done? I would like to take a shot at it.

[2019-11-01 18:37] e-dard commented on #5598
I have confirmed that this still happens on `minikube 1.5.2` and `docker-machine-driver-kvm2 1.4`.

[2019-11-01 19:47] raul1991 commented on #5636
@tstromberg I ran the following command to set the default route but I get an error saying the "network in unreachable"
`sudo route add default gw <router-ip> <interface>`
Also, I ran the minikube with --vm-driver=virtualbox but that also fails to connect to the internet

[2019-11-01 19:49] raul1991 commented on #5636
One more thing, can't I run minikube locally without the internet by using a private docker registry ?

[2019-11-01 21:16] jkenne000 opened #5814 "none on Ubuntu 18.04: [kubelet-check] Initial timeout of 40s passed."
**The exact command to reproduce the issue**:
I'm just getting started on the hello world tutorial. All I did was Start Terminal.

**The full output of the command that failed**:<details>

start.sh
$
$ start.sh
Starting Kubernetes...minikube version: v1.3.0
commit: 43969594266d77b555a207b0f3e9b3fa1dc92b1f
* minikube v1.3.0 on Ubuntu 18.04
* Running on localhost (CPUs=2, Memory=2461MB, Disk=47990MB

[2019-11-01 22:22] tstromberg commented on #5636
@raul1991 - Correct. minikube does not require internet access. That said, Kubernetes requires a default route to determine which IP to advertise. If you use a VM like VirtualBox or KVM2, this is automatically handled for you, as the default router points to the hypervisor.

[2019-11-02 01:05] GarretSidzaka opened #5815 "sudo minikube dashboard: hangs at "Verifying proxy health...""
when i run it always hangs forever and sometimes throws 503

garretsidzaka@$$$$$:~$ sudo minikube dashboard

    Verifying dashboard health ...
    Launching proxy ...
    Verifying proxy health ...

^C
garretsidzaka@$$$$$:~$

garretsidzaka@$$$$$$:/usr/bin$ minikube version
minikube version: v1.4.0
commit: 7969c25
ubuntu vm 1804
vm-driver=none

[2019-11-02 11:10] #5481 closed

[2019-11-02 11:12] afbjorklund commented on #5734
Think most of these were designed by @tstromberg

[2019-11-02 11:19] afbjorklund commented on #4122
A quick `LookPath` should fix this.

[2019-11-02 12:04] Linzhs opened #5817 "Minikube fails to detect VPN on virtualbox "host-only adapter we just created is not visible""
Mac OS 10.14.4 (18E226)

VirtualBox 6.0.14 r133895

start minikube

~  minikube start
⚠️  minikube 1.5.2 is available! Download it: https://github.com/kubernetes/minikube/releases/tag/v/1.5.2
💡  To disable this notice, run: 'minikube config set WantUpdateNotification false'
😄  minikube v1.3.1 on Darwin 10.14.4
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to

[2019-11-02 15:25] ubozov commented on #5811
@subratasen  please try to update your `docker`

I had the same problem that was solved after the `docker` upgrade.

`docker version` after upgrade
[code]

[2019-11-02 15:32] ubozov commented on #5780
I had the same errors that was solved after the `docker` upgrade.

[2019-11-02 20:23] mettaramesh commented on #3562
@tstromberg  i'm running minikube on virtualbox. I'm facing exact scenario as above and logs also are same. seems this issue still persists.  i did full cleanup and did a fresh cluster. after some 50 seconds are soo, i'm getting this error:

OS Name:                   Microsoft Windows 10 Pro
OS Version:                10.0.18362 N/A Build 18362
minikube  version :  v1.4.0
virtual box : 6.0
* Prep

[2019-11-02 21:08] seanzxx opened #5819 "Not able to start minikube on macOS Catalina"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
😄  minikube v1.5.2 on Darwin 10.15.1
✨  Automatically selected the 'hyperkit' driver
💾  Downloading driver docker-machine-driver-hyperkit:

🔑  The 'hyperkit' driver requires elevated permissions. The following commands will be executed:

    $ sudo chown root:wheel /Users/seanzxx/

[2019-11-02 21:15] frank-dspeed opened #5820 "how to supply custom config map"
how can i supply a custom config map for the coreos dns service?

[2019-11-02 21:18] seanzxx commented on #5819
$ minikube start --alsologtostderr -v=4
W1102 14:14:31.282935   23026 root.go:241] Error reading config file at /Users/seanzxx/.minikube/config/config.json: open /Users/seanzxx/.minikube/config/config.json: no such file or directory
I1102 14:14:31.283690   23026 notify.go:125] Checking for updates...
I1102 14:14:31.630679   23026 start.go:251] hostinfo: {"hostname":"Seans-MBP.lan","uptime":99340,"

[2019-11-03 10:06] gaoljhy commented on #5635
My Logs following this:

[code]

[2019-11-03 11:23] heyritesh017 commented on #2861
minikube start --vm-driver=none solves the issue
please ensure that you have placed the minikube in the right path so that it can locate when you run with root user
sudo cp /usr/local/bin/minikube /usr/bin

[2019-11-03 12:33] afbjorklund commented on #4733
Trying to come up with a matching script for CRI-O (and CRI) is proving to be troublesome.
The current packages all have known issues, so you are usually left building from source...

* https://github.com/kubernetes-sigs/cri-o

* https://github.com/kubernetes-sigs/cri-tools

Most likely there should also be an option to use the generic static binaries from the tarball.
This is how we are currently

[2019-11-03 13:22] Kriss007 commented on #5553
Yes.

On Thu, 31 Oct 2019, 12:03 a.m. priyawadhwa, <notifications@github.com>
wrote:

[2019-11-03 13:38] govargo commented on #5811
Maybe related to #5610

If so, this issue is resolved by installing latest hyperkit.
hyperkit is installed with docker for mac together.
So, if you upgrade docker for mac to latest version, this issue may be resolved.

I'm going to add version check of hyperkit to prevent this.

[2019-11-03 13:50] govargo opened #5821 "FailFast if virtualbox is not installed."
This is related to #5478

**The exact command to reproduce the issue**:

If we start minikube while selecting virtualbox without installing virtualbox, of course the minikube start fail.

[code]

The error message says the virtualbox install suggestion.
But minikube keeps starting virtualbox(Of course this is failing.)

We need to detect after the virtualbox is not installed and minikube should ex

[2019-11-03 13:51] govargo commented on #5821
/kind bug
/assign
/co virtualbox

[2019-11-03 16:02] tstromberg commented on #5553
@Kriss007 - Do you mind upgrading to the latest minikube and sharing the output of:

`minikube delete`
`minikube start --alsologtostderr`

Thanks!

My suspicion here is that  the VirtualBox network interface is not functioning properly,  which is something that minikube v1.5.x does a much better job of noticing. Also, check if you have a VPN or unusual firewall configuration.

[2019-11-03 16:08] tstromberg commented on #3562
@mettaramesh - Thanks for the update . Do you mind upgrading to a more recent release of minikube and including the output of `minikube start` and `minikube logs`?

[2019-11-03 16:17] afbjorklund commented on #5811
You shouldn't need to install docker, just to run minikube.

[2019-11-03 16:27] afbjorklund commented on #5814
Version `v1.3.0` is rather old, you might want to try again with a newer version.

[2019-11-03 16:31] afbjorklund opened #5822 "Build CRI and CNI from source ?"
Currently we are downloading binaries for crictl and for cni and cni-plugins:

https://github.com/kubernetes-sigs/cri-tools/releases/

https://github.com/containernetworking/cni/releases/
https://github.com/containernetworking/plugins/releases/

Should we build these packages locally, from the source code, instead ?

[2019-11-03 16:53] afbjorklund opened #5823 "Consistent naming of packages"
There aren't so many rules for naming buildroot packages, but some common ones are:

- Package names that end in `-bin` don't really build from source code, but download a binary

- Package names that end in `-master` don't build a released version, but from master branch.

The current minikube packages (for buildroot) are a historic mix of these, and should be aligned.

---

automount
cni-bin
cni

[2019-11-03 20:12] butuzov opened #5824 "improve documentation on brew install link"
minikube not found after `brew isntall`

**The exact command to reproduce the issue**:

[code]

### OS
[code]

### $PATH
[code]

### `brew --version`
[code]

[2019-11-03 20:19] afbjorklund commented on #5824
Shouldn't there be a symlink created in `/usr/local/bin/minikube` ?

[2019-11-03 20:32] afbjorklund commented on #5824
Seems to work OK here, but can't really test it on darwin.

[code]

[code]

[2019-11-03 20:38] butuzov commented on #5824
I wish it creates symlink... but no. Need to create a path workaround.

[code]

I will check on Mojave tomorrow.

[2019-11-03 20:45] afbjorklund commented on #5824
Hmm, that seems to be... less usable. Maybe try `brew doctor`
Or get some Homebrew support, doesn't seem like minikube ?

Installing a "formula" is supposed to create a symlink as well:
`$HOMEBREW_PREFIX/bin/minikube -> ../Cellar/minikube/1.5.2/bin/minikube`

[2019-11-03 20:55] stimpy77 commented on #4587
There are a ton of people saying regarding disabling Hyper-V #MeToo "that worked" "fixed it" "this is the solution" etc. This is a lot of unnecessary spam.

But the incompatibility of Hyper-V is an ongoing issue. The fact that VirtualBox recently began supporting creating and running VMs while Hyper-V is enabled should clue all of you in that this is a fixable problem, and they haven't gotten this

[2019-11-04 04:33] stanleynguyen commented on #5643
Yea I'm thinking of using https://github.com/cavaliercoder/grab as fallback

[2019-11-04 10:50] asynclox opened #5825 "dashboard service is not running: Temporary Error: Error getting service kubernetes-dashboard: services "kubernetes-dashboard" not found"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-11-04 11:28] mwaz commented on #3733
minikube start --docker-env HTTP_PROXY=http://10.0.2.2:1087 --docker-env HTTPS_PROXY=http://10.0.2.2:1087

fixed it for me

[2019-11-04 12:05] MKruger777 opened #5826 "UI confusion: minikube iso version is different that minikube version"
It seems like the minikube iso versions echoed during "minikube start" are not matching the binary version downloaded (in this case v1.5.2).

After getting minikube with curl:
curl -Lo minikube https://storage.googleapis.com/minikube/releases/v1.5.2/minikube-linux-amd64 \
  && chmod +x minikube

I ran "minikube start" which in turn then returned the following output:

😄  minikube v1.5.2 on Ubuntu

[2019-11-04 12:41] butuzov commented on #5824
Movaje

## uninstall
[code]

## fresh install
[code]

## second install
[code]

There is no issue on Mojave.

P/S/
I am 100% I was watching full make process on HighSierraThrougth. Not just binary download... It pulled git, pulled submodules, made `make "minikube"` etc...

P/P/S/
At this point - I guess better to wait for another report from Mac 10.13.6, or close issue after some time if no such e

[2019-11-04 12:43] butuzov commented on #5826
Checkout releases https://github.com/kubernetes/minikube/releases

No iso found for 1.5.2 at all.

[2019-11-04 13:58] GarretSidzaka commented on #5815
ping?

[2019-11-04 14:58] ananta93 opened #5827 "hyperkit crashed! command line"
I am using mac osx. I have installed minikube. But, while starting the minikube, I'm getting the error that minikube got crashed. Can somebody please help me?

**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
😄  minikube v1.5.2 on Darwin 10.13.6
🔥  Creating hyperkit VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🔄  Retriable failu

[2019-11-04 16:21] guymguym commented on #2481
Still happens on MacOS Catalina (10.15.1 (19B88)) with minikube:
[code]

But at least the workaround by @mkempster works! (`minikube mount /Users:/Users`)

[2019-11-04 16:35] afbjorklund commented on #5826
The ISO is not always updated

[2019-11-04 17:24] a1exus opened #5828 "Retriable failure: create: precreate: exec: "docker": executable file not found in $PATH"
Hello World!

I'm trying to follow [Linux | minikube](https://minikube.sigs.k8s.io/docs/start/linux/), yet running into following issue:

I went w/ "None (bare-metal)" for "Hypervisor Setup":

_start_:
[code]

_logs_:
[code]

_OS_:
[code]

Is `docker` and/or `docker-machine` is prerequisites? if it is, it's not clear (or maybe I just missed it?) Also is it possible to add CentOS for KVM (Hyperviso

[2019-11-04 17:29] afbjorklund commented on #5828
If you use the `none` driver, then `docker` (or other container runtime) is required to be installed.

You don't need to install `docker-machine`, that is just a side-effect from using the same library.

[2019-11-04 17:29] a1exus commented on #5828
[code]

[2019-11-04 17:30] afbjorklund commented on #5828
Installing `docker-podman` is not going to help, since it uses the docker daemon.

If you want to use the same backend as podman, better to go for `cri-o` instead.

[2019-11-04 17:31] afbjorklund commented on #5828
Unfortunately there are still lots of issues when trying to run on CentOS localhost.

So it would probably be easier to use the `kvm2` driver and the normal ISO instead

[2019-11-04 17:35] a1exus commented on #5828
@afbjorklund CentOS isn't listed in https://minikube.sigs.k8s.io/docs/start/linux/#hypervisor-setup

[2019-11-04 17:38] afbjorklund commented on #5828
Are you trying to run this in a virtualized environment ? Or do you need to enable it in the BIOS ?

[2019-11-04 17:40] a1exus commented on #5828
@afbjorklund I'm using bare-metal system w/ CentOS8.

[code]

[2019-11-04 17:45] a1exus commented on #5828
[code]

[2019-11-04 18:20] medyagh commented on #5181
my undrestanding of this issue, it should not start any Vm or machine, but does all the checks!  I would be happy to review the PR for it.

[2019-11-04 18:23] medyagh commented on #5717
@blueelvis any idea on this ?

[2019-11-04 18:30] medyagh commented on #5752
@lubocheng any chance that it is because you need to pass the name space for the container ?

```kubectl logs my-pod  -n my-namespce```

?

[2019-11-04 18:34] medyagh commented on #5763
@ruoru it appears to me there is a file permission problem !
when you tried to remove the folder
[code]

it seems like it didnt have permission to delete it, maybe you could try the delete with sudo ?

[2019-11-04 18:36] #5762 closed

[2019-11-04 18:39] medyagh commented on #5215
@staticdev sorry being no help here, but I am curious  do you still have this issue even with the newest version ?

[2019-11-04 18:44] medyagh commented on #5236
are you on a corp network ?
mostly probably your browser is using a proxy that tries to redirect the local traffic to your proxy.

here are three things you could try:

1-  try in terminal
`curl IP:PORT`
replace ip:port with your service

2- try a different browser with no proxy settings.

3- se the NO_PROXY env variable to the IP of the service.

[2019-11-04 18:45] medyagh commented on #5571
@vorpleblade  do you mind sharing your hyperkit version ?
[code]

@vorpleblade I wonder if upgrading hypkerkit would help you as it did in this issue ?
https://github.com/kubernetes/minikube/issues/5594

[2019-11-04 18:47] medyagh commented on #5691
@asloan7 are you still having this issue ?

[2019-11-04 18:54] medyagh opened #5829 "integration test: indent cmd output logs."
we could indent the logs, specially when printing output of stderr,stdout, of command for better human readability.

[2019-11-04 19:13] medyagh commented on #5723
@afbjorklund it seems to be a recuring one for ciro test

here is another one on current Master:
https://storage.googleapis.com/minikube-builds/logs/5813/KVM_Linux.txt

[2019-11-04 19:40] medyagh opened #5830 "create documentation for vmware driver on Windows"
our site currently only has vmware docs for mac os: https://minikube.sigs.k8s.io/docs/start/macos/

we need to add documents to the site for vmware on windows.
https://minikube.sigs.k8s.io/docs/start/windows/

[2019-11-04 19:48] blueelvis commented on #5717
Yes indeed. This is the default behavior. All the config and the machine (Minikube VM) related files (including snapshots and VHDs) are stored at that location. It doesn't matter what is set in Hyper-V as that is never taken into consideration.

Just curious, do you have less space on the C: drive and hence you have changed it to D: drive?

[2019-11-04 20:34] MKruger777 commented on #5826
Thanks, guys! Well, I guess then there is no need to panic.

[2019-11-04 20:50] butuzov commented on #5826
should this issue be closed then?

[2019-11-04 21:13] link78 commented on #5674
The problem went away after I deleted the cluster and recreate a new one.

On Wed, Oct 30, 2019, 13:17 Medya Ghazizadeh <notifications@github.com>
wrote:

[2019-11-04 22:05] medyagh commented on #5674
@link78 Thanks for letting us know, I am gonna close this issue. please feel free to re-open.

[2019-11-04 22:05] #5674 closed

[2019-11-04 22:07] medyagh commented on #5666
@zd-dalibor glad to see you found the root cause, I will rename this issue to to the newest comment.

it would be nice to have minikbue ssh have history

[2019-11-04 22:09] medyagh commented on #5714
@Matt-Gleich thanks for getting back to me ! I am curious do you still have this issue with the latest version ?

[2019-11-04 22:11] medyagh commented on #5715
@kalyanvajrapu8  I haven't heard from you, are you still having this issue ?

[2019-11-04 22:13] medyagh commented on #5716
@khassel thank you so much for providing more information ! this does seem to be a bug ! and I apperciate you taking the time to report it instead of ignoring it !

@khassel have you checked if this issue exists for other drivers as well ?

[2019-11-04 22:17] medyagh commented on #5716
update: for me it the embed cert works on hypert kit.

so it seems to be a none issue !

[2019-11-04 22:18] khassel commented on #5716
no, only for `--vm-driver=none`. But checked it for other os, same problem in fedora30.

[2019-11-04 22:24] medyagh commented on #5717
@Flyingmana it appears this is a duplicate of this issue https://github.com/kubernetes/minikube/issues/4802

currently on windows minikube has to be in C:\ Drive

if you don't mind to keep things in one place I will close this one, please subscribe to that other issue to get update when it is fixed

https://github.com/kubernetes/minikube/issues/4802

[2019-11-04 22:24] #5717 closed

[2019-11-04 22:25] medyagh commented on #5719
closing this issue.
I believe this issue has be resolved by the PR. please feel free to reopen

[2019-11-04 22:25] #5719 closed

[2019-11-04 22:27] medyagh commented on #5727
@jgoeres  thanks for creating this issue ! this does seem to be a bug. I would love minikube to be able to create service in CIDR ranges that works well for everyone including corp networks !

I would be happy to review any PR to fix this issue !

[2019-11-04 22:33] medyagh commented on #5728
@blueelvis  any idea?

[2019-11-04 22:35] medyagh commented on #5729
You pointed out a shortcoming of minikube ! and I agree we need to fix it !

we could either make sure any start args automaticly get saved to config or we update the config items that should be listed.

either way I would be happy to review a PR that fixes this.

[2019-11-04 22:36] medyagh commented on #5744
@jxhsjxhs do you still need help on this issue ?

[2019-11-04 22:40] medyagh commented on #5753
@paul-theorem
Thank you so much for telling us about this work arround !

this could be added to our website under the tutorials ! I would be happy to review any PR that adds this to our website.

and @peteryhwong thank you for creating this issue I bet a lots of other people have the same question and you helped in making their lives easier !

[2019-11-04 22:41] medyagh commented on #5754
@DaneeLee are you still having this issue ?

[2019-11-04 22:43] medyagh commented on #5765
@afbjorklund any idea about this one ?

[2019-11-04 22:46] medyagh commented on #5769
@jeremyje the containers that wanna talk to each other local host need to be in same pod, in your yaml file I don't see a pod !

in your repo the Kind for the containers are "Job"  and I believe you meant to use "Pod"

here is an example of Pod, I wonder if that helps ?
https://github.com/kubernetes/examples/blob/master/staging/podsecuritypolicy/rbac/pod.yaml

[2019-11-04 22:46] medyagh commented on #5774
@selvakumar1975 are you still having the issue ?

[2019-11-04 22:47] #5781 closed

[2019-11-04 22:47] medyagh commented on #5781
close this till I have an answer for those questions

[2019-11-04 22:47] medyagh commented on #5788
@quany are you still having this issue ?

[2019-11-04 22:48] medyagh commented on #5807
as tstromberg  mentioned, we should not crash on this ! we could replace the crash with a solution message that user doesn't need sudo for it !

[2019-11-04 22:49] medyagh commented on #5808
@gattytto is there any way you could provide me commands to repeat and replicate it for myself?

[2019-11-04 22:51] medyagh commented on #5809
@nanikjava I noticed your two commands have one differnce
one of them is
`v1.15.20` and the other one is `v1.15.2`

I wonder if that could be source of the problem ? since 20 doesn't exist and 2 exists?

[2019-11-04 22:53] medyagh commented on #5811
@subratasen could you please check if upgrading your Hyperv would fix this ?
https://github.com/kubernetes/minikube/issues/5594#issuecomment-548583815

[2019-11-04 22:53] selvakumar1975 commented on #5774
Hi&nbsp;Thanks for asking. My system corrupted. I could not able to check it again. I am waiting for new system to install again.Regards,Selvakumar RFrom: Medya Ghazizadeh &lt;notifications@github.com&gt;Sent: Tue, 05 Nov 2019 04:17:08To: kubernetes/minikube &lt;minikube@noreply.github.com&gt;Cc: selvakumar1975 &lt;selva_rang@rediffmail.com&gt;, Mention &lt;mention@noreply.github.com&gt;Subject: R

[2019-11-04 22:55] medyagh commented on #5812
I wonder if you have already seen minikube tunnel ?

@BobOntario do you need to access the ip outside the machine that minikube runs on it ?

if that is the case you would need to use some sort of port forawrding or ssh forawrding !

[2019-11-04 22:56] medyagh commented on #5815
@GarretSidzaka
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

and additionally, I wonder

do you us

[2019-11-04 22:57] jeremyje commented on #5769
The two processes that are talking to each other live in the same docker container. The go app opens a TCP port and then shells out to ffmpeg to talk to that port.
https://github.com/jeremyje/ffmpeg-k8s-dns-repro/blob/master/main.go#L71

[2019-11-04 22:58] dacruz21 opened #5831 "docker-machine-driver-kvm2 : internal error: CPU IDs in <numa> exceed the <vcpu> count"
Hello. I am having an issue with the kvm2 docker-machine driver. It *appears* that the XML libvirt domain being generated does not have the correct core count set, notice in the XML below that \<vcpu\> is set to 0. For this reason I am getting an error that the vcpu count is below the IDs in \<numa\> (what that's referencing I am not sure).

I have ebtables 2.0.10, qemu 4.1.0, and libvirt 5.8.0 in

[2019-11-04 22:58] medyagh commented on #5817
@Linzhs I wonder if you are using a vpn or corp network ?

Additionally, it seems like our Advice is out dated and we need a better solution message.

and my other question is, could you please try with hyperkit driver and check if you stlil have the same problem if you use hyperkit instead of virtualbox ?
here are steps to install hyperkit
https://minikube.sigs.k8s.io/docs/start/macos/

[2019-11-04 23:00] medyagh commented on #5819
@seanzxx I bet this issue is related to Hyperkit which had a bug, and I believe it is fixed,

could you please check if this wrok arround fixes your issue ?

https://github.com/kubernetes/minikube/issues/5594#issuecomment-548583815

[2019-11-04 23:00] medyagh commented on #5820
@frank-dspeed do you mean in your own app or do you mean as you want to customize minikube's dns ?

[2019-11-04 23:01] medyagh commented on #5825
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-11-04 23:02] medyagh commented on #5826
I believe we could close this issue, however I acknowldge, for an end user it might be a bit weird to see a different version. however it doesn't seem to affect anything !

[2019-11-04 23:03] medyagh commented on #5826
I would be down to any PR that would make the UI experience a bit better without loosing debugging information

[2019-11-04 23:04] medyagh commented on #5827
@ananta93 I bet this issue is related to the hyperkit's bug, that there is a work arorund for it (upgrading hyperkit) https://github.com/kubernetes/minikube/issues/5594#issuecomment-548583815

do you mind giving that a try to see if that fixes your problem ?

[2019-11-04 23:07] medyagh commented on #5795
@vamossagar12 yes it is open, it is yours, please feel free to ask questions

[2019-11-04 23:09] medyagh commented on #5831
@josedonizetti any idea?

[2019-11-04 23:12] nanikjava commented on #5809
Yes, it is done intentionally to test the behaviour. What I thought should happened was when v1.15.2 specified since it is not available and cannot be installed it should not stop the user from using the correct version, in this case v1.15.20

What is happening is that minikube detect that the previous version used is v1.15.2 but it did not detect that the installation has been successful. Think m

[2019-11-04 23:15] medyagh commented on #5809
Ah sorry I didnt missed that part you wrote @nanikjava

because of some issues, we have had, we can not Downgrade a minikube to a lower version,
but in this case, the Higher version was not a real version and was a typo mistake !

and you are right, if the kubenetes version they entered is invalid, we should not store it as something that is on the VM !

thank you! you found a bug !

[2019-11-04 23:17] medyagh commented on #5774
@selvakumar1975 no worries, please feel free to update this issue anytime you have more information.

[2019-11-04 23:20] medyagh commented on #4151
@jonenst  do you use a crop network or a VPN ?

[2019-11-04 23:21] medyagh commented on #4604
@kameshsampath  that is a good idea ! please feel free to make a PR for it !

[2019-11-04 23:24] medyagh commented on #5780
@stherrien  @ebokov @scalaster @vvuibert

this is a duplicate issue of https://github.com/kubernetes/minikube/issues/5594#issuecomment-548583815

the problem is the hyperkit bug, and hyperkit needs to be upgraded see https://github.com/kubernetes/minikube/issues/5594#issuecomment-548583815

closing this.

[2019-11-04 23:32] GarretSidzaka commented on #5815
**Bullet one:**
sudo minikube start
sudo minikube dashboard

**Bullet two:**
garretsidzaka@$$$$$:~$ sudo minikube dashboard

Verifying dashboard health ...
Launching proxy ...
Verifying proxy health ...

^C
garretsidzaka@$$$$$:~$

**Bullet three:**
garretsidzaka@cloudstack:/$ sudo minikube logs
*
X Error getting config: stat /home/garretsidzaka/.minikube/profiles/minikube/config.json: no such file

[2019-11-04 23:39] nguyen190887 commented on #5437
I got the same issue. I did change `MINIKUBE_HOME` to `D:\Minikube` and when I ran `minikube start` command, I got the `The system cannot find the path specified.` error for `iso` file.

[code]

Then I tried to switch to `D:\` (the drive containing `iso` file) in my PowerShell, ran the command again and it worked 🚀
[code]

Hope this helps 😃

[2019-11-04 23:41] Flyingmana commented on #5717
I use the D: drive for this kind of stuff, as this is my NVMe disk, also I try to keep IO heavy stuff of my system disk.

The other Issue seems like it would solve mine indirectly.
Still I think its not good to overwrite system defaults

[2019-11-05 00:07] BobOntario commented on #5812
Tried minikube tunnel, it doesn't resolve my issue.  Yes, I need access to IP outside the machine that minikube running on it. One use case is that the other computers or devices can access to the services that provides by minikube .

[2019-11-05 00:15] nanikjava commented on #5809
Yes...I found a bug  :+1:

Will assign this to me

[2019-11-05 00:15] nanikjava commented on #5809
/assign @nanikjava

[2019-11-05 00:45] Matt-Gleich commented on #5714
@medyagh
I don't have another issue but when I reinstalled it I started to get this error:
[code]

I asked in the #minikube channel in the Kubernetes Slack Channel and got told to run the following command:

`sudo chown -R $USER ~/.kube`

**This ended up fixing it although it runs in hyperkit instead of virtualbox**

[2019-11-05 00:46] Matt-Gleich commented on #5714
Could this error message have a message telling the user to run this command?

[2019-11-05 01:06] gattytto commented on #5808
@medyagh create a vm or lxc container (with config to run Minikube) with Debian 10 or ubuntu,make sure systemd-resolve is present on the system and /etc/resolv.conf is a symlink to systemd resolve file and it contains a single loop entry (something like nameserver 127.0.1.53) then start Minikube, at the end coredns will crash with a dns loop

[2019-11-05 01:16] Ewocker commented on #1043
this also nuke all your kubeconfig setup... pretty dangerous...

[2019-11-05 02:55] seanzxx commented on #5819
@medyagh thanks a lot for your reply.

I'm sorry to say the work around doesn't work for me.
My hyperkit should be latest release version.

`$ hyperkit -v
hyperkit: 0.20190802

Homepage: https://github.com/docker/hyperkit
License: BSD`

  I got the same error after I uninstalled the hyperkit and installed it again.

[2019-11-05 04:50] Shubham-koli commented on #1568
@dgoldssfo Yup facing this issue in the Minikube 1.4.0.

[2019-11-05 06:23] afbjorklund commented on #5826
We use to only do ISO updates for the major versions (1.0, 1.1, 1.2) and only do program updates for minor versions. But with 1.5.0 we had issues with systemd, so had to release a 1.5.1 ISO to fix them...

[2019-11-05 06:38] nanikjava opened #5832 "Feature: new release link on front page of website"
Website is the first place that normally user goes to find something. What if we update the front page of the website when new releases happen ?. Maybe some sort of a link to the latest version.

Screenshot shows the idea.

Comment and suggestions welcome !.

![ReleaseNotification](https://user-images.githubusercontent.com/883406/68184416-1078d180-fff3-11e9-92bd-a64c237ed7a6.png)

[2019-11-05 06:38] nanikjava commented on #5832
/assign @nanikjava

[2019-11-05 06:39] nanikjava commented on #5832
Happy to take on the job of updating the website everytime there is a new release :+1:

[2019-11-05 06:39] frank-dspeed commented on #5820
@medyagh first of all when i would ask that for my own app then i would open a issue in my own app's repo :) i don't found the configMap used for coredns in this files i have no idea where it takes its settings from.

[2019-11-05 06:45] frank-dspeed commented on #5820
A little bit more background why its needed to modify it. There are Routers for example the in Germany often used fritz.box which blocks dns resolution of internal network ips via the internet. As a result nip.io don't dies what it should do as it simply gets no dns response :)

Then there is systemd i don't want to deepdive into the world of dns today but overall the most easy setup and fix for s

[2019-11-05 07:00] ananta93 commented on #5827
@medyagh : To fix the above error I used this:

	minikube start --vm-driver=virtualbox

Output:

[code]

[2019-11-05 07:00] lubocheng commented on #5752
1. if you use minikube without namespace then default namespace is set, so this is not the cause
2. by the way, the last few days i didn't find this error any more, and no idea why 😱

[2019-11-05 07:13] Zerve0 commented on #5451
Also having this same problem here, on a chromebook. Main issue is it looks like it's having trouble getting the kube-apiserver up and running.

Getting this repeating tons of times:
[code]

[2019-11-05 07:48] nanikjava commented on #5451
Seems like it there is a permission issue with docker

[code]

Not sure what to do as never tried with none driver before.

[2019-11-05 10:47] nanikjava commented on #5820
@frank-dspeed will this steps help https://minikube.sigs.k8s.io/docs/tasks/sync/ ?

[2019-11-05 11:49] frank-dspeed commented on #5820
@nanikjava nope that will not help but i think its time to replace minikube with my own software stack so i am able to deploy kubernetes with more confidence local.

i am using vm-driver=none so sync is not my problem but i understand that my problem is out of scope for this software maybe.

[2019-11-05 11:49] #5820 closed

[2019-11-05 12:05] govargo commented on #5819
Umm...

What if delete ~ / .minikube directory(this has config file and iso files, etc...) and then `minikube start` again?

[2019-11-05 12:46] govargo commented on #2447
I found that `minikube logs -f` works again.

My env:
 OS: macOS 10.14.5
 minikube: v1.5.2
 driver: hyperkit(v0.20190201-11-gc0dd46) and virtualbox(6.0.8r130520)

Did someone fix this?

[2019-11-05 13:22] blueelvis commented on #5728
@reators - Could you please try the following command from PowerShell after starting Docker?

If there are any other machines which are already existing with the name `minikube` in Hyper-V, kindly stop them.
[code]

[2019-11-05 13:25] dianaabv commented on #4217
rm -rf ~/snap/docker

[2019-11-05 13:53] fredsted commented on #5594
Neither HyperKit version `0.20190201` nor `0.20190802` works on my machine.

Using minikube 1.5.2, hyperkit 0.20190802 and macOS 10.15.0

[2019-11-05 15:09] asloan7 commented on #5691
PS C:\Windows\system32> New-VMSwitch -name ExternalSwitch -NetAdapterName Ethernet -AllowManagementOS $true
New-VMSwitch : Hyper-V encountered an error trying to access an object on computer 'PATAPL-28WMZF2' because the object
was not found. The object might have been deleted. Verify that the Virtual Machine Management service on the computer
is running.
At line:1 char:1
+ New-VMSwitch -name Exter

[2019-11-05 15:11] asloan7 commented on #5691
PS C:\Windows\system32> choco upgrade minikube
...
You have minikube v1.4.0 installed. Version 1.5.2 is available based on your source(s).
Progress: Downloading Minikube 1.5.2... 100%
Minikube v1.5.2 [Approved]
minikube package files upgrade completed. Performing other installation steps.
ShimGen has successfully created a shim for minikube.exe
The upgrade of minikube was successful.
Software inst

[2019-11-05 15:28] vorpleblade commented on #5571
@medyagh Still failing.  I uninstalled minikube and deleted the ~/.minikube directory then reinstalled minikube

minikube version
[code]
hyperkit version
[code]

docker version
[code]

output from `minikube start --alsologtostderr -v=8 >> output.log 2>&1`
[output.log](https://github.com/kubernetes/minikube/files/3809731/output.log)

[2019-11-05 15:33] KaenDagger commented on #5830
I would like to take this. Please assign this to me

[2019-11-05 15:54] dannyharding10 commented on #2735
@tstromberg in the linked documentation, it says

Is this the default setup, and if not how do we "bind the service to all IPs and interfaces"?

[2019-11-05 15:59] Bowman74 commented on #3963
Whenever I encounter this I remove the shared virtual switch from the main network adapter and re-add it. I then disable and re-enable the main network adapter and everything starts working when I attempt to do a kubectl start again.

Not ideal but it gets me back up and running every time.

[2019-11-05 17:19] cvila84 opened #5834 "Add retry logic to minikub SSH connectivity check"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
* minikube v1.5.2 on Microsoft Windows 7 Enterprise Service Pack 1 6.1.7601 Build 7601
  - MINIKUBE_VERSION=v1.5.2
* Automatically selected the 'virtualbox' driver
* Downloading VM boot image ...

* Creating virtualbox VM (CPUs=4, Memory=4096MB, Disk=20000MB) ...
* Found network o

[2019-11-05 17:35] seanzxx commented on #5819
@govargo  I tried to delete ~/.minikube and then "minikube start".  still...same error.

[2019-11-05 20:54] nanikjava opened #5835 "File sync (scp) not working properly"
Tried the instruction to sync file from local machine to vm

**Test scenario**

Add new entry into resolv.conf inside `$HOME/.minikube/files/etc/resolv.conf `

[code]
After running `minikube start` the file /etc/resolv.conf inside the VM is not updated. Tested using kvm2 VM

Also tried adding a new file `$HOME/.minikube/files/etc/` but cannot see it being copied over.

[2019-11-05 20:54] nanikjava commented on #5835
/assign @nanikjava

[2019-11-05 20:56] nanikjava commented on #5835
From investigation scp is using `-t` flag where it should  be using `-r `

[2019-11-05 21:16] tstromberg commented on #2447
Yes, apparently @medyagh unintentionally fixed this bug in a code refactor that landed in v1.5.1: #5530

[2019-11-05 21:16] #2447 closed

[2019-11-05 21:22] bjkowalski opened #5836 "feature: minikube should not crash if service or namespace doesn't exist."
I am running minikube version v1.5.2.

I discovered that if I specify an undefined "namespace" with the namespace option on the service command an error is reported but there is also a message that says "mini9kube crashed".

**The exact command to reproduce the issue**:
`minikube service newservice -n unknown --url`

**The full output of the command that failed**:<details>
$ minikube service newse

[2019-11-05 21:31] dmitrytokarev commented on #5817
Turning off VPN and reboot fixed this issue for me.
[code]

[2019-11-05 21:45] patflynn opened #5838 "Failed to start Minikube after following Windows getting started docs"
I was following instructions [here](https://kubernetes.io/docs/tasks/tools/install-minikube/) to install Minikube on Windows.
used choco to install.

...
Hyper-V Requirements:      A hypervisor has been detected. Features required for Hyper-V will not be displayed.
...
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>
Microsoft Windows [Version

[2019-11-05 22:05] tstromberg commented on #5838
Thanks for opening an issue!

I believe the root cause is: When a previous configuration file exists, minikube uses the hypervisor listed there rather than auto-detecting, since the image that may have been previously created is not portable across hypervisors.

Just for curiosity, do you mind running:

`dir /T:C C:\Users\patrick.minikube\profiles\minikube\config.json`

I can't tell which version

[2019-11-05 22:15] patflynn commented on #5838
bingo:
[code]

[code]

(apologies for not running `dir /T:C C:\Users\patrick.minikube\profiles\minikube\)` I forgot about that request by the time I got to the `minikube delete` suggestion. :(

[2019-11-05 23:56] medyagh commented on #5795
@vamossagar12 thats correct and it only work on linux and currently needs sudo.

[2019-11-05 23:57] medyagh commented on #5832
I would like an easy access to download on first page, however at the same time the minikube first page is getting a bit crowded.
I would like to see a more simple minikube website front page.

@tstromberg

[2019-11-06 00:00] medyagh commented on #5834
@cvila84  thanks for creating the issue,
couple querstions

1- do you use a VPN as the minikube is suggesting ?

2- do you mind clarifying what do you mean the trySSH is aggressive when testing connectivity to VM ? do you mean if trySSH waits longer it would work ?

[2019-11-06 00:03] medyagh commented on #5835
thank for you digging in to this feature,

how about we write an integration test for this ? basicly create a file "helloworld.txt" and put in the minkube home files and expect it to be there?

[2019-11-06 00:08] medyagh commented on #5835
@nanikjava  do you mind sharing on which platofrm/driver and version you tried it ?

I tried it on mac os with hyperkit driver and it seems to be working

here is what I see:
[code]

checking with minikube ssh
[code]

[2019-11-06 00:12] medyagh commented on #5836
ah ! thanks for reporting it !

I see that we have a nicely worded error message however it is not acceptable that we Crash !
you are right !

we should exit without crashing with a nice message that the service doesnt exist.

this should be an easy fix, I would be happy to review any PR that fixes this !

[2019-11-06 00:18] medyagh commented on #5714
@Matt-Gleich that is an excellent suggestion !
we could and we should easily add a solution message for this error !

this should be an easy fix ! I would be happy to review any PR that add that solution message to the error.

anyone picking up this issue, mind that this should be only for Linux and Mac platofrms and not windows.

[2019-11-06 00:21] medyagh commented on #5752
@lubocheng if you dont mind I will close this issue, please feel free to re-open if you can re-produce the error again .

[2019-11-06 00:21] #5752 closed

[2019-11-06 00:23] medyagh commented on #5808
@josedonizetti any idea on this ?

[2019-11-06 00:24] medyagh commented on #5812
I bet you can make that work, that would be something you would need to do on your host machine to port-forwart to outside world.

if you actually make it work, this would be a great tutorial for other users to be put on minikube website.

[2019-11-06 00:26] medyagh commented on #5815
@GarretSidzaka  would you please share the full output of
```sudo minikube start --alsologtostderr -v=8 ```

[2019-11-06 00:28] medyagh commented on #5815
@GarretSidzaka I am curious when you said it hangs forever, did you mean in terminal it is stuck at this ?
[code]

if that is the case, then that is the expected behaviour, minikube will hang there and run a webserver, so you can access the dashboard in your browser

[2019-11-06 00:28] nanikjava commented on #5835
@medyagh Used kvm2 for testing and when the the VM was running when doing the minikube start again.

Tested without the -r  option it did not copied the files and when the option is put in it copied the file perfectly.

[2019-11-06 00:30] brainfull commented on #5072
I spent the last few days on installing minikube on Windows 10 Pro with Hyper-V and went through a lot of problems. So here are the problems I faced and how I solved. I hope it will be useful.

1. External VM Switch : While it is easy to setup an external VM switch, it goes through your network DHCP server to get an address and you cannot put your laptop to sleep and open it under another Wi-Fi ne

[2019-11-06 00:31] medyagh commented on #5817
@dmitrytokarev thanks for updating the issue, there are some work arrounds for making minikube work for VPN, it is per corp network. if you find a way for your specific corp , please feel free to share with us.

we have a logic to detect the Corp network and VPNs to warn the user before they start the VM, I wonder why we missed this one ? could u share with us what kind of vpn or settings you are

[2019-11-06 00:35] medyagh commented on #5819
@seanzxx how about upgrading your docker version?

[2019-11-06 00:37] GarretSidzaka commented on #5815
Welcome to Ubuntu 18.04.3 LTS (GNU/Linux 4.15.0-66-generic x86_64)

 * Documentation:  https://help.ubuntu.com
 * Management:     https://landscape.canonical.com
 * Support:        https://ubuntu.com/advantage

  System information as of Wed Nov  6 00:33:39 UTC 2019

  System load:  0.0                Processes:              207
  Usage of /:   15.0% of 72.83GB   Users logged in:        0
  Memory

[2019-11-06 00:41] GarretSidzaka commented on #5815
i cannot load a local browser on a production headless VM, there is no X-server
hello the terminal is only getting this far now.

* Done! kubectl is now configured to use "minikube"
garretsidzaka@cloudstack:~$ ^C
garretsidzaka@cloudstack:~$ sudo minikube dashboard
* Verifying dashboard health ...
* Launching proxy ...
* Verifying proxy health ...
X http://127.0.0.1:35901/api/v1/namespaces/kubernet

[2019-11-06 00:44] tstromberg commented on #5817
This error is raised before the network checks, as the network checks are  run against the VM, and in this case, StartHost failed because it had no network interface to attach to.

Would updating the suggestion to include disabling the VPN be sufficient in this case?

[2019-11-06 00:45] medyagh commented on #5817
Yes I

Yes I think we could update the solution message. that would be sufficient.

[2019-11-06 00:47] medyagh commented on #5827
glad that other driver works for you.

however if you still wanted to give hyperkit a try, I would suggest upgrading your hyperkit. as exaplained here https://github.com/kubernetes/minikube/issues/5594#issuecomment-548583815

I close this issue for now, please feel free to re-open if needed

[2019-11-06 00:47] #5827 closed

[2019-11-06 00:57] medyagh commented on #5835
thanks for updating, I would be happy to review a PR if there be an integration test so we can verify this on all platforms

I suggest adding a new test to the functional test, called file_sync
here https://github.com/kubernetes/minikube/blob/master/test/integration/functional_test.go

the test should compare the files in the hosts's minikube home files folder and inside minikube VM

[2019-11-06 01:11] nanikjava commented on #5835
Cool will do. Will work on the integration test.

[2019-11-06 04:31] vamossagar12 commented on #5795
thanks @medyagh . i am currently running kubernetes using docker for mac on my mac os. I would need linux to be able to test/work upon this?

[2019-11-06 04:41] mljli commented on #4132
Delete /root/.minikube/machines and try again.

[2019-11-06 05:56] rajula96reddy commented on #5836
/assign @rajula96reddy

[2019-11-06 06:23] KaenDagger commented on #5830
I could do update for linux as well

[2019-11-06 06:28] afbjorklund commented on #4730
@medyagh : I don't think there is any major difference, between the old and the new (well, colors)

But it gets confusing already from the start (page 1). Like, which OS do you choose ?
Do you choose the OS of your client (Windows, say) or the OS of your VM (Linux) ?

How do you "verify your system has virtualization support" ? Nested virtualization ?
Pretty much the same situation as described ab

[2019-11-06 06:28] KaenDagger commented on #5830
/assign

[2019-11-06 06:33] afbjorklund commented on #5828
Going multiple paths here... I suppose we could give better links / information to both of them.

1) Using the `none` driver to run natively on RHEL/CentOS
  This needs better documentation, like how to disable SELinux and how to install dockerd/cri-o

2) How to verify that the libvirt/KVM installation is working
  Minikube has a `kvm2` driver for this virtualization (or `virtualbox`), but it need

[2019-11-06 09:12] cvila84 commented on #5834
Hello,

1. I have no VPN, nor firewall active on host-only network interface.
2. Yes, this is my point. It seems we need some time between VM creation and SSH availability. trySSH is made too soon, because as explained in the issue, if I run minikube ssh 10 seconds after minikube start is failing, it works

[2019-11-06 10:19] kgersen opened #5843 "Filesystem mounts when --vm-driver=none"
The `Driver mounts` section of the `Filesystem mounts` documentation (
https://minikube.sigs.k8s.io/docs/tasks/mount/#driver-mounts ) doesn't specify any information for the 'none' driver (aka when using the host Docker).

Are 9P mounts the only option or can we use native Docker host mounts ? if so the documentation needs to be updated. If not may be add an issue for to add native Docker host mou

[2019-11-06 10:51] tshak commented on #5819
FWIW: I had what appears to be the same symptoms with the same Catalina and Minikube versions. I upgraded hyperkit and that did not fix the problem. I was already  on the latest version of Docker for Mac as well. However,  after reinstalling Docker for Mac I was able to create hyperkit VMs again.

[2019-11-06 15:40] thomas-riccardi commented on #5719
@medyagh it's not really resolved, it was deemed acceptable for now, with guidance to clean this later (here: https://github.com/kubernetes/minikube/pull/5697#issuecomment-547186812).

I think this issue here could be used to track the mentioned cleanup.

[2019-11-06 16:05] brainfull commented on #5812
Here is what I did on my side. I understand your setup is different and my solution may not fit your needs. I hope it gives you some food for thought.

1. Use internal VM Switch. You can set it up easily with the following powershell. It will take care of creating the VM switch if it doesn't exist and establish ICS between your internet connection and the internal VM Switch.
[Set-ICS.ps1.txt](http

[2019-11-06 16:09] brainfull commented on #5072
#5812

[2019-11-06 16:30] brainfull commented on #5691
Did you try to reboot. The default VM switch gets re-created at each reboot.

Also look at this post, it seems there is a solution. [Potential Fix](https://social.technet.microsoft.com/Forums/en-US/0a29c671-b640-4c2d-954f-622b25f65ad9/hyperv-encountered-an-error-trying-to-access-an-object-on-computer-object-was-not-found?forum=win10itprovirt)

I was having the same error message just trying to con

[2019-11-06 16:35] brainfull commented on #5627
I totally agree that minikube needs to fail gracefully. According to me the following file needs a fix urgently https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/start.go .

The code below will delete your minikube VM because of any reason. That means that if for some reason you didn't have enough memory to start minikube VM, IT WILL GET DELETED 5 TIMES. Not only you wait 5 usele

[2019-11-06 16:39] brainfull commented on #5580
On my side, everytime I call 'minikube delete' I also delete automatically %userprofile%/.minikube. It resolves a lot of weird behavior and doesn't create unwanted side effect, at least for me.

[2019-11-06 16:40] brainfull commented on #5604
On my side, everytime I call 'minikube delete' I also delete automatically %userprofile%/.minikube. It resolves a lot of weird behavior and doesn't create unwanted side effect, at least for me.

[2019-11-06 16:41] brainfull commented on #5529
On my side, everytime I call 'minikube delete' I also delete automatically %userprofile%/.minikube. It resolves a lot of weird behavior and doesn't create unwanted side effect, at least for me.

[2019-11-06 16:43] brainfull commented on #5437
On my side, everytime I call 'minikube delete' I also delete automatically %userprofile%/.minikube. It resolves a lot of weird behavior and doesn't create unwanted side effect, at least for me.

[2019-11-06 16:50] kfox1111 commented on #5072
Defaulting to internal switch like the other platforms would be very good. Some sites, like my org's capture unknown mac address dhcp requests and assign them temporary ip's and isolate traffic until they agree to some terms of service / register some additional information. Making it unsuitable for minikube. Internal switch with nat works fine though as the host is already registered.

[2019-11-06 16:52] brainfull commented on #4029
I also got a lot of problems getting a working solution and tried to get a static address setup in minikube or even a DHCP server to assign a static address. Here is what I did on my side. I understand your setup is different and my solution may not fit your needs. My setup is Hyper-V on Windows 10 Pro. I hope it gives you some food for thought as a minimum.

1. Use internal VM Switch. You can set

[2019-11-06 16:59] brainfull commented on #3963
I was getting that exact error when I was rebooting my Window 10 Pro laptop. On my side I use ICS with internal VM Switch. Even if ICS seems configured correctly after reboot, starting minikube would give me that exact same error. That is why I need to reset the ICS setting after each reboot. Actually I ended up automating a call to Set-ICS.ps1 before each 'minikube start' to ensure I don't get th

[2019-11-06 17:02] brainfull commented on #2938
I also got a lot of problems getting a working solution and tried to get a static address setup in minikube or even a DHCP server to assign a static address. Here is what I did on my side. I understand your setup is different and my solution may not fit your needs. My setup is Hyper-V on Windows 10 Pro. I hope it gives you some food for thought as a minimum.

1. Use internal VM Switch. You can set

[2019-11-06 17:05] brainfull commented on #38
Here is how I do it. My setup is Hyper-V on Windows 10 Pro. I hope it gives you some food for thought as a minimum.

1. Use internal VM Switch. You can set it up easily with the following powershell. It will take care of creating the VM switch if it doesn't exist and establish ICS between your internet connection and the internal VM Switch.
[Set-ICS.ps1.txt](https://github.com/kubernetes/minikube/

[2019-11-06 17:13] brainfull commented on #5072
FYI If you would need to set a pre-defined mac address on the minikube VM this is the script to do it. It could be nice to have a feature in minikube to set that mac address automatically on 'minikube start ... --mac-address ....'.

The following in Powershell works fine but is cumbersome because you need to start and stop and start again. And you need to redo it everytime the VM is deleted.
`
min

[2019-11-06 17:21] kfox1111 commented on #5072
yes, but you still need a mechanism to get that mac address either preregistered with the network, or get a web browser in the vm long enough to do the registration, before minikube starts trying to fetch artefacts. Either way, not a great user experience. Defaulting to internal and making nat work out of the box like the other platforms would be seamless/much preferred.

[2019-11-06 17:48] medyagh commented on #5843
none driver doesn't have mount, and I believe you don't need to mount it to the host, since minikube is already running on the host.

[2019-11-06 17:50] medyagh commented on #5795
@vamossagar12 mac and linux should be acting the same in this case. plus we have integration tests in linux, so you will the results once make the PR. you dont need to get a linux box :)

[2019-11-06 17:58] medyagh commented on #5795
for running the integration tests locally you would need a linux box,

you could alternatively also run none driver inside a linux vm on your mac !

[2019-11-06 18:01] medyagh commented on #5831
@dacruz21 are you running docker-machine-driver-kvm2 by itself or through minikube?

[2019-11-06 18:09] dacruz21 commented on #5831
Just by itself, with `docker-machine create -d kvm2 default`

[2019-11-06 18:11] medyagh commented on #5834
thank you @cvila84 for updating !

I agree with you, we could add a retry loigc to

[code]
and retry up to 10 seconds

https://github.com/kubernetes/minikube/blob/134182fab5aa9551f76559136a35b0e59143948c/cmd/minikube/cmd/start.go#L1033

this will improve rare cases that minikbue prematurely perevents to continue

[2019-11-06 18:24] medyagh commented on #5834
I will be happy to review a pr that fixes, basicly we need a retry.X on dial

[2019-11-06 18:28] medyagh commented on #5819
interesting, so only re-installing docker fixed it ? I wonder real thing that fixed the problem was restart ?

[2019-11-06 18:28] medyagh commented on #5819
@seanzxx do you mind trying re-installing docker and restarting your laptop ?

[2019-11-06 18:33] medyagh commented on #5815
the point of the dashboard is actually a UI experience for kubernetes, if you dont have a browser, you might not actually need dashboard.

do you mind sharing the output of curl for the dashboard url in a separate terminal ?

btw do you happen to use vpn or proxies ?

[2019-11-06 19:17] sharifelgamal commented on #5824
I'll leave this open for a little while longer in case someone else comes across this issue.

[2019-11-06 19:17] medyagh opened #5846 "fix minikube service retry logic (takes 35s)"
`minikube service list` takes 0.138s  (less than a 1 second)
see :
[code]

but if you try to access a Not-existing service

[code]

it takes 35 seconds !

that is a flaw ! we could easily search for the list in list of services first and then if it exists go through the Retry logic.

I also noticed the `service` package needs a lot of clean up and refactor !

[2019-11-06 19:17] tstromberg commented on #5763
@ruoru - I can't quite tell how minikube got into this state, but please let us know if `sudo rm -Rf ~/.minikube/machines` solves your issue.

[2019-11-06 19:26] medyagh commented on #5765
@schwichtgit I would have happy to review a PR that enables this, we have some documentation on how to add kernel modules (not sure if this needs a kernel module)

https://minikube.sigs.k8s.io/docs/contributing/iso/#adding-kernel-modules

[2019-11-06 19:30] hypnoglow commented on #5834
/assign

[2019-11-06 19:32] tstromberg commented on #5831
It is quite probable that docker-machine-driver-kvm2 does not work well outside of minikube, as it is effectively untested in that configuration. PR's to address this are welcome though!

[2019-11-06 19:32] medyagh commented on #5449
@evanfietz  I wonder if you have the same problem in the latest version ?

btw, since you are using ubuntu, I would recommend using kvm driver. which preferred way for linux.

https://minikube.sigs.k8s.io/docs/start/linux/#hypervisor-setup

[2019-11-06 19:33] tstromberg commented on #5819
This issue appears to be a duplicate of #5780, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-11-06 19:33] #5819 closed

[2019-11-06 19:34] medyagh commented on #5769
Ah, any chance that you may need to expose the ports ?
 https://github.com/jeremyje/ffmpeg-k8s-dns-repro/blob/master/Dockerfile

[2019-11-06 19:35] tstromberg commented on #5780
This is related to #5594 - but has a different signature.

[2019-11-06 19:35] #5017 closed

[2019-11-06 19:37] tstromberg commented on #5815
The output of this command would be helpful for us to help with debugging:

`sudo minikube dashboard --alsologtostderr -v=1`

It's worth noting that with sudo, the dashboard command will only output a URL rather than attempting to open a browser.

[2019-11-06 19:51] medyagh commented on #3577
@tstromberg did you mean that enabling addon should actually does the enabling ? (currently it does on the next minikube start)
[code]

[2019-11-06 19:58] tstromberg commented on #5571
Do you mind running the following to check what may be going on with the driver on this host?

`(env MACHINE_PLUGIN_TOKEN=42 ~/.minikube/bin/docker-machine-driver-hyperkit; echo $? >2) &`

It will quickly output an 127.0.0.1:<random port> before shutting down 10 seconds later. Do you mind showing the output of the above command, and the output of this command:

`curl --http2 http://127.0.0.1:<rand

[2019-11-06 20:06] medyagh commented on #5774
@selvakumar1975 if you don't mind I will close this issue. please reopen once you have more info

[2019-11-06 20:06] #5774 closed

[2019-11-06 20:07] medyagh commented on #5022
cc: @priyawadhwa

[2019-11-06 20:08] tstromberg commented on #5774
FYI - this sounds like #3963

[2019-11-06 20:08] medyagh commented on #5691
@asloan7 do you mind trying to see if @brainfull will comment helps ?

[2019-11-06 20:13] tstromberg commented on #5643
I'd rather not import two different HTTP libraries.

I believe the workaround is to either rename your `.netrc` or use the following invocation to tell it to ignore your netrc file:

`env NETRC=/nonexistent minikube start`

I would also argue that storing plain-text passwords in a local file is bad news, and that `.netrc` is an outdated idea not suited for a world where private/public key cryptogr

[2019-11-06 20:16] tstromberg commented on #5643
If you would like to see this get fixed, please open an issue with upstream:

https://github.com/hashicorp/go-getter/issues/new

Once fixed there, we can upgrade which go-getter version we point to.

[2019-11-06 20:21] evanfietz commented on #5449
Hello,

I’m not sure as I gave up on Minicube and just built a three node K8 cluster.

Thanks for checking in!

Regards,

Evan

Evan Fietz
Solutions Engineer

NetApp
403.862.9461 Mobile Phone
fietz@netapp.com<mailto:name@netapp.com>

[signature_56566682]<https://www.netapp.com/us/campaigns/gmq-primary-storage-report/index.aspx?ref_source=esignature&cid=33105>

From: Medya Ghazizadeh <notifications

[2019-11-06 20:33] tstromberg commented on #5615
This may be related to #5423

Do you mind upgrading to minikube v1.5.2 and sharing the output of `minikube start`?

[2019-11-06 21:25] nanikjava commented on #5846
will take this one @medyagh

[2019-11-06 21:25] nanikjava commented on #5846
/assign @nanikjava

[2019-11-06 21:46] medyagh commented on #5631
@nkemakolam  do you still have this issue ?

[2019-11-06 21:54] nanikjava commented on #5846
/unassign @nanikjava

[2019-11-06 22:07] medyagh opened #5850 "fix cobra wrong help "use optoins for list of ....""
[code]

the last line is wrong:

Use "minikube profile options" for a list of global command-line options (applies to all commands)

[2019-11-06 22:07] medyagh commented on #5850
@sharifelgamal said he might know what is causing this.

[2019-11-06 22:20] a1exus commented on #5828
yes, please!

[code]

*sigh*

Thank you so much for all your help!

[2019-11-06 22:30] medyagh commented on #5598
@e-dard I am trying to replicate this issue for myself, how did you exec into the init container while its already dead (exited) ?

[code]

[2019-11-06 22:33] butuzov commented on #5824
@sharifelgamal no need for that. I have checked it on my wife's laptop (also HighSierra) - everything has gone smooth. So the issue, somehow, replicates only on my machine.

Feel free to open it it again in case if you also got in the same problem as me.

[2019-11-06 23:20] asloan7 commented on #5691
Looks like that is under Windows Defender, but my laptop is using Symantec Endpoint Protection instead. So I don't have access to those setting, maybe there is a Symantec equivalent. Or in Registry?

[2019-11-06 23:25] #5449 closed

[2019-11-06 23:26] BobOntario commented on #5812
@brainfull your solution looks good. Will try later. You run minikube directly on Windows. My case is that I run minikube on Ubuntu within a VM which is under VMWare Workstation or Virtual box. I start minikube with -- vm-driver=none. This is because my apps can't be deployed in Windows, but Linux only.

[2019-11-07 00:17] brainfull commented on #5812
You're right, I use Hyper-V in Windows 10. I use chocolatey to install minikube, kubernetes-cli and docker-cli. All my docker images are based on Ubuntu. In my case I deploy multiple containers with Python, Mono, MongoDB, Redis... I tried to leverage the Minkube VM for some linux shell automation but was very disappointed by the linux version within Minikibe VM, it is very limited.

[2019-11-07 00:49] vorpleblade commented on #5571
@tstromberg I was hoping that it did not return the expected value. :(

[code]

[code]

[2019-11-07 01:46] GarretSidzaka commented on #5815
no unusual network.  this is a front end bridged VM, production style.  this network port has a static IP that is IANA, not NAT.  there is no proxy or VPN.  and yes its very nice to have this kind of research VM

[2019-11-07 01:57] rajula96reddy commented on #5846
/assign @rajula96reddy

[2019-11-07 02:21] GarretSidzaka commented on #5815
yes and when i click such a link after obviously replacing 127 with the actual IP address, it gives 503.

attached is the log you requested
[teraterm.log](https://github.com/kubernetes/minikube/files/3817589/teraterm.log)

[2019-11-07 06:56] Linzhs commented on #5817
@medyagh Hi, Thanks!

 I haven’t noticed that the VPN prompt was shown in the running error message. The error message I mentioned above was triggering when running  minikube start in the network environment (the company - Hong Kong route and personal VPN).

Now I try to use the Hyperkit carried by Docker Desktop installing under Mac as the vm driver (the following command) , and the minikube gets

[2019-11-07 09:02] jkpeai opened #5856 "minikube ip * X Error getting IP: Host is not running"
**The exact command to reproduce the issue**:
C:\Users\Samba>
minikube update-context
*
X Error host driver ip status: getting IP: Host is not running
C:\Users\Samba>minikube ip
*
X Error getting IP: Host is not running
*
* Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
  - https://github.com/kubernetes/minikube/issues/new/choose

C:\Users\Samba>

C:\Users\Sam

[2019-11-07 09:02] chandu14017 opened #5857 "windows: timeout acquiring mutex (minikube v1.6)"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-11-07 09:58] FancyBanana commented on #3636
/reopen

[code]

[2019-11-07 09:58] BYTZJB opened #5858 "RBAC: minikube start error"
**The exact command to reproduce the issue**:
minikube start --extra-config=apiserver.Authorization.Mode=RBAC

**The full output of the command that failed**:<details>
😄  minikube v1.5.2 on Darwin 10.15.1
🔥  Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🌐  Found network options:
    ▪ HTTP_PROXY=http://yangweideMacBook-Pro.local:1087
    ▪ HTTPS_PROXY=http://yangweideMacBook-Pro

[2019-11-07 10:46] micdah opened #5859 "metrics-server doesn't seem to work in 1.5.x"
**The exact command to reproduce the issue**:
[code]

After upgrading from 1.4.0 to 1.5.x it seems metrics is no longer working. I have tried with all 1.5.x versions (_1.5.0, 1.5.1 and 1.5.2_), and it consistently fails with the below error message showing in the pod logs.

It auto-detects to use the `hyperkit` VM driver.

**The full output of the command that failed**:<details>
[code]

</details>

[2019-11-07 13:44] damangueyu opened #5860 "! VM is unable to access k8s.gcr.io, you may need to configure a proxy or set --image-repository"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2019-11-07 13:46] andylibrian commented on #5036
This bug is introduced in 165c1afd331765aaa94d8db684b0045fb0713cc9

https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/root.go#L223

Since that commit, rootCmd reuses kubectl templates, which expects there is an options cmd.

https://github.com/kubernetes/kubectl/blob/master/pkg/util/templates/templater.go#L197-L209

@medyagh

I created a sample option cmd, and the last line says

[2019-11-07 13:48] andylibrian commented on #5850
There is already an issue about this: https://github.com/kubernetes/minikube/issues/5036

[2019-11-07 15:11] Ja-k commented on #3781
I have done all the above, for short period of time everything goes well but suddenly minikube crushes in the middle of pods creation phase and when I check "**minikube status**" or "**kubectl version**" in server part says "**Unable to connect to server**!!!!!"

[2019-11-07 15:23] tstromberg commented on #5571
If curl can access the endpoint, but minikube cannot, perhaps minikube is being denied by an application firewall? Do you have Little Snitch, Radio Silence, or some other network monitor/blocking program installed?

Another possibility is that the driver is quietly crashing in a way that curl doesn't trigger.

Do you mind opening `/Applications/Utilities/Console` and see if any interesting message

[2019-11-07 15:38] madhuresh04 opened #5861 "minikube not working!"
**The exact command to reproduce the issue**: minikube start

**The full output of the command that failed**:<details>
😄  minikube v1.3.1 on Darwin 10.14.6
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🏃  Using the running virtualbox "minikube" VM ...
⌛  Waiting for the host to be provisioned ...

🐳  Preparing Kubernetes v1.15.2 on Docker

[2019-11-07 15:47] #5861 closed

[2019-11-07 16:22] chris-free commented on #4016
I am getting the same ```does not match Docker-Content-Digest``` error as above in minikube 1.4.0 and 1.5.2

[2019-11-07 17:10] tstromberg commented on #4016
I assume this is an issue with the go-containerregistry library we use. Has
anyone tried updating to the latest version in the go.mod file?

On Thu, Nov 7, 2019, 8:22 AM Chris Freeman <notifications@github.com> wrote:

[2019-11-07 18:32] medyagh commented on #5860
@damangueyu it seems like you dont have access to k8s.gcr.io.

do you mind to try to start minikube with this option ?

```minikube start --image-mirror-country=cn```

[2019-11-07 18:34] medyagh commented on #5858
@BYTZJB do you mind retrying it with this log option so I see more logs ?

```minikube start --alsologtostderr -v=8 --extra-config=apiserver.Authorization.Mode=RBAC```

[2019-11-07 18:39] medyagh commented on #5859
@micdah do you mind sharing

"minikube ip"

and also first enable the addon and then share output of `minikube start --alsologtostderr -v=8`  ?

[2019-11-07 18:40] medyagh commented on #5857
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-11-07 18:40] pollend commented on #4240
I'm still having this problem and I'm running v1.5.1.

[2019-11-07 18:41] medyagh commented on #5856
@jkpeai is your minikube running ?can you share the output of minikube status ?

and also I noticed your minikube is outdated, do you mind giving it a try with the latest version ?

[2019-11-07 18:54] medyagh opened #5863 "Add search to site: generate hugo site search index"
good first issue for someone with js, hugo skills.

currently we are using a web based search google search, https://minikube.sigs.k8s.io/
code here https://github.com/kubernetes/minikube/tree/master/site

 ideally would be great if we use a static search index. so as the user types in the search it shows the right page.
like if they search "China" should bring up all the md files with word china

[2019-11-07 19:38] medyagh commented on #5832
@nanikjava currently we have Two links to github on the front page, I recommend removing one of them and replacing them with the Link to the Latest release download page.

[2019-11-07 19:51] reators commented on #5728
@blueelvis - There are no other machines defined in Hyper-V except "DesktopDockerVM".

<details>
<summary>Output of the commands you asked for</summary>

[code]
</details>

[2019-11-07 20:23] nanikjava commented on #5832
![Screenshot from 2019-11-08 07-08-56](https://user-images.githubusercontent.com/883406/68424541-581c7a80-01f8-11ea-9a84-6ff35d5d74b8.png)

@medyagh is the diagram correctly highlight the part that need to be changed to point to download the latest release ?

[2019-11-07 20:40] nanikjava commented on #5835
PR for review https://github.com/kubernetes/minikube/pull/5865

[2019-11-07 21:07] nanikjava commented on #5617
/assign @nanikjava

[2019-11-07 21:11] #5603 closed

[2019-11-07 21:12] nanikjava commented on #5329
@tstromberg can we close this issue ?. Thanks

[2019-11-07 21:14] nanikjava commented on #5181
Happy to take this on.

/assign @nanikjava

[2019-11-07 21:29] nanikjava commented on #4913
@josedonizetti @medyagh Is this something that need to be fixed ? What kind of check would be appropriate for this scenario ?

[2019-11-07 21:37] tstromberg commented on #5329
/close

On Thu, Nov 7, 2019, 1:12 PM Nanik <notifications@github.com> wrote:

[2019-11-07 21:37] #5329 closed

[2019-11-07 22:17] belimawr commented on #2918
I'm having a similar issue with the difference that I'm not running minikube (or at least I thought I wasn't), I only have it installed.

After reading all comments here something crossed my mind: I'm running `zsh` and `oh-my-zsh` with the minikube plugin. What happens is that every time I open a new terminal the plugin runs `minikube completion zsh` and new log files are created. As I use a tilli

[2019-11-07 22:29] tstromberg commented on #2918
/reopen

On Thu, Nov 7, 2019, 2:17 PM Tiago Queiroz <notifications@github.com> wrote:

[2019-11-07 22:40] medyagh opened #5867 "driver's PreCreateCheck() is not used"
I added debugging statements, at appears no where in the code we are using them !

for hyperkit driver
[code]

for none driver
[code]

[2019-11-07 23:05] staticdev commented on #5215
@medyagh my tests today:

Please note I still used the old version 1.3.1 in the same machine, with same PODs. Also note the link for new version is broken: https://github.com/kubernetes/minikube/releases/tag/v**/**1.5.2 there is a spare '/'.

Then `minikube stop` and installed newest version on my Ubuntu with:
[code]

Finally another try:

The error seems to vanish, I will make more tests. Another

[2019-11-08 01:51] vorpleblade commented on #5571
@tstromberg Thank you for your help and troubleshooting ideas.  I'm thinking this is some type of timeout issue.  I have not seen any output from `find ~/Library/Logs/ -mmin -1`

However, after several attempts to collect any debug info I finally got this output.
[code]

[code]

Trying to execute the hello-minikube pod has the status of **ImagePullBackOff**.
[code]
Getting pod details ...
[code]

[2019-11-08 02:09] Matt-Gleich commented on #5714
@medyagh
Super sorry for asking but I am trying to fix this and I can't seem to find where minikube is doing its error handling. Could you point me to where it is pleases?

[2019-11-08 03:23] nanikjava commented on #4764
FYI : @tstromberg ran kube-bench on 'master' branch and here is the output https://gist.github.com/nanikjava/71ef16e6558253a082f466803fd5b9d9

[2019-11-08 07:34] kgiroux opened #5869 "minikube start: Error in driver during machine creation: getting MAC address from UUID: vmnet: error from vmnet.framework"
**The exact command to reproduce the issue**:

Minikube was installed with the following tutorial :

https://kubernetes.io/fr/docs/tasks/tools/install-minikube/

minikube start --vm-driver=hyperkit

**The full output of the command that failed**:<details>

Retriable failure: create: Error creating machine: Error in driver during machine creation: getting MAC address from UUID: vmnet: error from vm

[2019-11-08 08:19] CVirus commented on #4481
Issue still reproducible here with minikube version: v1.5.2

[2019-11-08 08:55] Goend commented on #5860
i did it
 minikube start --image-mirror-country=cn
but it happened  again

[2019-11-08 10:41] micdah commented on #5859
@medyagh of course! These commands have been executed with a clean slate (_entirely deleted `~/.minikube` folder before running commands).

Commands issued:
[code]

Output: [pastebin.com/mcuXbw85](https://pastebin.com/mcuXbw85) (_too much to put in comment_)

Output of `minikube ip`:
[code]

Output of `kubectl logs -n kube-system metrics-server-587f876775-fpf59`:<details>
[code]
</details>

[2019-11-08 11:14] ruoru commented on #5763
@medyagh

thanks for helping me,  i am alreay delete `.minikube` folder, but the error is same as before

[code]

[2019-11-08 11:25] ruoru commented on #5763
it not solved delete folder  `~/.minikube/machines`

[2019-11-08 11:39] galderz opened #5870 "Odd pod restarts"
Minikube 1.3.1. Logs and other info [here](https://gist.github.com/galderz/61a7da3b4708c32a462d8b8c9cc96145).

I'm seeing an odd issue where with stateful set of 2 pods, one a pod is running and the second one is started, suddenly the first one is stopped and then started again:

[code]

I don't see any CPU or memory issues in the `kubectl events` (I couldn't get `kubectl top` to work yet, see [he

[2019-11-08 12:03] Chitrank-Dixit commented on #4060
When I am trying to start minikube

`$ minikube start`

I get the below error

[code]

when I try to fix this by trying the command

`$ sudo /sbin/vboxconfig`

I get this error

[code]

I have already reinstalled virtualbox, but I think that is not helping.

[2019-11-08 16:17] ourboy opened #5871 "Minikube starting issues on macos 10.15.1"
Im seeing issues when start minikube on macos 10.15.1
[code]

minikube seems to be failing in getting IP's

I have tried to deleting and recreating the VM's and im still seeing this issue.

[code]
[VBox.log](https://github.com/kubernetes/minikube/files/3825611/VBox.log)

[2019-11-08 16:54] vijaycrvi opened #5872 "https://github.com/kubernetes/minikube/issues/new/choose"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-11-08 19:25] tstromberg commented on #3451
Since #3453 was merged - what is remaining here?

[2019-11-08 22:03] sharifelgamal commented on #5850
Closing as a dupe of #5036.

[2019-11-08 22:03] #5850 closed

[2019-11-08 23:41] medyagh commented on #5846
@priyawadhwa could we have a step in minikube perf bot to measure service ?

[2019-11-09 07:30] misal8410 opened #5875 "minikube is crashed"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-11-09 07:30] misal8410 opened #5876 "minikube is crashed"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-11-09 10:19] phirmware commented on #5635
I had the same issue
`💣  Error restarting cluster: waiting for apiserver: apiserver process never appeared`
When i ran _`minikube start`_

I solved this by running
`minikube delete`
And running `minkube start `again . And it worked.

[2019-11-09 10:41] andylibrian commented on #5867
Is it a good first issue? I am interested to contribute.

[2019-11-09 16:16] afbjorklund commented on #4087
Seems like we forgot all about this one... Should still modify the docker-centric variables.

But maybe we can just make `--enable-metrics` the default for crio, by hacking the service ?

i.e. install this, and uncomment the line:

[code]

Currently we overwrite this with a custom version:

[code]

[2019-11-09 16:22] afbjorklund commented on #5677
There is also other things missing, from the systemd crio.service: #4087

So the crio.conf, /etc/sysconfig/crio* and crio*.service all need overhaul

[2019-11-09 20:21] oculushut opened #5878 "Starting minikube directly on host"
**The exact command to reproduce the issue**:
sudo minikube start --vm-driver=none

**The full output of the command that failed**:
* minikube v1.4.0 on Centos 7.7.1908
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Using the running none "minikube" VM ...
* Waiting for the host to be provisioned ...
* Preparing Kubernetes v1.16.0 on Docke

[2019-11-10 02:52] tstromberg commented on #5875
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2019-11-10 02:54] tstromberg commented on #5863
What is the issue you are trying to solve?

[2019-11-10 02:57] tstromberg commented on #5871
This issue appears to be a duplicate of #4540, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

As a temporary workaround, I believe you likely  have the dependencies requ

[2019-11-10 04:53] BZM708 commented on #5236
I am not on a corp network.

1 - that didn't work

2 - the result was the same in firefox

3 - how do you set no proxy to the IP of the service?

[2019-11-10 07:58] nanikjava commented on #5832
PR submitted https://github.com/kubernetes/minikube/pull/5879

[2019-11-10 08:11] afbjorklund commented on #5878
Can you add some more log information ? Usually errors on CentOS are related to forgetting to turn off SELinux or having too strict firewalld settings, or something similar that is preventing it from starting...

[2019-11-10 08:21] afbjorklund commented on #5832
I think the idea was that the "Getting Started" would have a link to the download...

Especially since there are **so** many steps involved, to choosing-the-right-binary.

1)
 Linux
 macOS
 Windows

2)
 Direct
 Debian/Ubuntu (deb)
 Fedora/Red Hat (rpm)

3)
 KVM
 VirtualBox
 None (bare-metal)

etc) etc) etc)

These are not very easy to figure out, given just a list of names of cryptic binaries ?

N

[2019-11-10 16:01] derailed commented on #5859
+1 Same issue here on OSX ;) Any updates?

[2019-11-10 18:35] #4802 closed

[2019-11-10 19:08] #5871 closed

[2019-11-10 19:09] tstromberg commented on #5876
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2019-11-10 19:32] oculushut commented on #5878
I disabled selinux, switched on logging for firewall DENY events, but no luck.

Here's some of the output from:

`sudo journalctl -u kubelet > kubelet_journal.txt`

-- Logs begin at Sun 2019-11-10 18:17:54 UTC, end at Sun 2019-11-10 18:48:42 UTC. --
Nov 10 18:23:32 localhost.localdomain systemd[1]: Started kubelet: The Kubernetes Node Agent.
Nov 10 18:23:32 localhost.localdomain kubelet[1389]: Fla

[2019-11-11 04:09] nanikjava commented on #5729
/assign @nanikjava

[2019-11-11 04:57] sbuvaneshkumar commented on #2814
Same here.

[code]

[2019-11-11 05:00] Jaanesh commented on #4509
C:\Software\Kubernetes>minikube.exe start
* minikube v1.1.1 on windows (amd64)
* Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E1111 10:27:26.426231   36008 start.go:529] StartHost: create: creating: Unable to start the VM: C:\Program Files\Oracle\VirtualBox\VBoxManage.exe startvm minikube --type headless failed:
VBoxManage.exe: error: Failed to open/create the internal network

[2019-11-11 05:01] sbuvaneshkumar opened #5881 "minikube none driver doesn't work with helm"
This issue is duplicate of #2814
Since the original issue was closed with no resolution/workaround, I am creating a new issue.
This issue is still reproducible in latest version of minikube.

[code]
Minikube & helm version:
[code]

[2019-11-11 05:01] Jaanesh commented on #4509
I was able to start minikube previously... but I am getting the above error suddenly now a days..
not sure what is going wrong..
Could anyone help to resolve it pleas?

[2019-11-11 06:49] saiMWEB opened #5882 "minikube crashed"
**The exact command to reproduce the issue**:
minikube start --wait=false
**The full output of the command that failed**:<details>

 Problems detected in kube-addon-manager:
  - error: unable to recognize "STDIN": Get https://localhost:8443/api?timeout=32s: dial tcp [::1]:8443: connect: connection refused
  - error: unable to recognize "STDIN": Get https://localhost:8443/api?timeout=32s: dial tcp

[2019-11-11 06:57] deepzymr opened #5883 "minikube service: Error opening service: Service hello-world was not found"
**The exact command to reproduce the issue**:
minikube service hello-world --url

**The full output of the command that failed**:<details>

💣  Error opening service: Service hello-world was not found in "default" namespace. You may select another namespace by using 'minikube service hello-world -n <namespace>: Temporary Error: Error getting service hello-world: services "hello-world" not found

</

[2019-11-11 08:14] alok555 commented on #4509
I disabled windows containers and then it started working again fine:

![image](https://user-images.githubusercontent.com/8073013/68571597-9e294680-0463-11ea-8533-2d456d08fb90.png)

[2019-11-11 09:51] KarthikReddy12345 opened #5884 "Windows: open C:\...\minikube\config.json: The system cannot find the file specified."
Hi Trying to start Minikube but i'm getting the below error.
I'm using windows 10 pro.

[code]

[2019-11-11 11:08] MasseGuillaume commented on #321
From: https://minikube.sigs.k8s.io/docs/tasks/registry/private/

[code]

[code]

[code]

[code]

[2019-11-11 12:28] aranmohyeddin commented on #3636
/reopen

[2019-11-11 12:36] govargo commented on #5859
I reproduce this(but I don't understand this root cause yet).

[2019-11-11 15:44] govargo commented on #5859
I digged this issue.
The root cause is not getting stats summary via kubelet(port 10255).

[code]

kubelet has an option `--read-only-port`(this is DEPRECATED).
`--read-only-port` opens the port(default: 10255).

But now minikube v1.5.2(kubernetes v1.16.2), the kubelet port(10255) is not opened.
So, metrics-server cannot get from kubelet stats summary api.

If metrics-server gets stat summary from

[2019-11-11 15:44] govargo commented on #5859
I will send PR to fix this.

/assign

[2019-11-11 15:45] govargo commented on #5642
Now metrics-server is not working in minikube v1.5.x.
See #5859.

[2019-11-11 15:48] detlef-brendle opened #5885 "registry-creds addon: Temporary Error: secrets "registry-creds-ecr" not found"
starting with a fresh cluster on Ubuntu 19.10 using VirtualBox

**minikube start**
(all is starting fine)

😄  minikube v1.5.2 on Ubuntu 19.10
✨  Automatically selected the 'virtualbox' driver (alternates: [none])
💿  Downloading VM boot image ...

🔥  Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🐳  Preparing Kubernetes v1.16.2 on Docker '18.09.9' ...
💾  Downloading kubeadm v1.16.

[2019-11-11 16:41] tstromberg commented on #5881
Do you mind upgrading to minikube v1.5.2 and sharing:

* Your `minikube start` arguments
* Your `minikube start` output
* The output of `minikube ip` and `minikube status`

Thanks!

[2019-11-11 16:41] tstromberg commented on #5882
Do you mind upgrading to minikube v1.5.2 and sharing the complete output of `minikube start --wait=false`?

Thanks!

[2019-11-11 17:24] priyawadhwa commented on #5885
Hey @detlef-brendle thanks for opening this issue.

Based on this [comment](https://github.com/kubernetes/minikube/issues/2805#issuecomment-388407262) it looks like you need to run the following to configure ecr credentials:

`minikube addons configure registry-creds` creates the initial secret
`minikube addons enable registry-creds` runs the registry creds addon

However, if the secret isn't bein

[2019-11-11 17:31] priyawadhwa commented on #5884
Hey @KarthikReddy12345 thanks for opening this issue. It looks like minikube was unable to find the `config.json` file. Could you try running:

- `minikube delete`
- `minikube start`

Please comment here whether this solves your issue, or if you still see errors. Thanks!

[2019-11-11 17:32] priyawadhwa commented on #5883
Hey @deepzymr thanks for opening this bug. Could you confirm that the service is running by providing the output of:

- `kubectl get svc --all-namespaces`

[2019-11-11 17:35] priyawadhwa commented on #5872
Hey @vijaycrvi are you seeing an error with minikube? If so, could you please provide:

- The exact `minikube start` command you ran
- Any command you ran that did not work as intended

Thanks.

[2019-11-11 17:39] priyawadhwa commented on #5869
Hey @kgiroux thanks for opening this issue. This issue appears to be a duplicate of #5594, do you mind if we move the conversation there?

This way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-11-11 17:39] #5869 closed

[2019-11-11 17:40] claudioabudio commented on #5635
Thank you all !, I had the same issue on a Mac OS with VirtualBox and running "minikube delete" and after that , minikube start --vm-driver=virtualbox also fixed the issue as mentioned by phfirmware !

[2019-11-11 17:53] dizzastuh commented on #4509
Having the same issue, except there does not appear to be hyper-v or containers options for me (running windows 10 home edition)

![image](https://user-images.githubusercontent.com/52610852/68608987-d6d41a80-0479-11ea-88ac-49b78049096f.png)

[2019-11-11 18:19] BrianChristie commented on #5451
I'm also experiencing the repeating prep error. This is on Mac OS 10.15 with HyperKit.

I'm not clear, is there additional troubleshooting information that would be helpful here? I haven't been about to figure out anything so far.

[code]

[2019-11-11 18:21] sbuvaneshkumar commented on #5881
Sure @tstromberg
I have updated my minikube to latest version: v1.5.2 and it is working now :).

[code]
Helm
[code]

[2019-11-11 18:21] #5881 closed

[2019-11-11 18:49] priyawadhwa commented on #5215
Hey @staticdev thanks for testing with the new version. The ISO for minikube v.1.5.2 is actually meant to be v1.5.1 since it hasn't been updated since v1.5.1 (totally agree that that's confusing!)

Please let us know if the update has resolved your issue.

[2019-11-11 18:54] priyawadhwa commented on #5236
Hey @BZM708 -- docs for setting NO_PROXY can be found [here](https://minikube.sigs.k8s.io/docs/reference/networking/proxy/).

[2019-11-11 19:56] priyawadhwa commented on #5714
Hey @Matt-Gleich looks like the `writing kubeconfig` error handling occurs in [pkg/minikube/kubecontext/context.go](https://github.com/kubernetes/minikube/blob/master/pkg/minikube/kubeconfig/context.go). However, it happens in three functions:

1. [UnsetCurrentContext](https://github.com/kubernetes/minikube/blob/master/pkg/minikube/kubeconfig/context.go#L40)
1. [SetCurrentContext](https://github.c

[2019-11-12 08:38] detlef-brendle commented on #5885
Hi @priyawadhwa.
I tried it again ang it fails with the same error than before.

❌  ERROR creating `registry-creds-ecr` secret: Temporary Error: secrets "registry-creds-ecr" not found
❌  ERROR creating `registry-creds-gcr` secret: Temporary Error: secrets "registry-creds-gcr" not found
⚠️  ERROR creating `registry-creds-dpr` secret
✅  registry-creds was successfully configured

[2019-11-12 09:03] riverhxz opened #5891 "VM may be unable to resolve external DNS records"
**start an minikube cluster on mac**:

minikube  start
[code]

kubectl get pods  --all-namespaces
[code]

**The full output of the command that failed**:<details>
In the vm. network is ok, but vm may be unable to resolve external DNS records.
[code]

```$ nslookup www.baidu.com```
```nslookup: read: Connection ```

```$ nslookup www.google.com```
```nslookup: read: Connection refused```

also cann

[2019-11-12 09:12] riverhxz commented on #5891
use  virtualbox solve the problem.

[2019-11-12 09:12] #5891 closed

[2019-11-12 09:14] jyothirmayi-cloud opened #5892 "minikube is crashed"

[2019-11-12 10:22] galderz commented on #5870
Was a bug in our codebase, thanks.

[2019-11-12 10:22] #5870 closed

[2019-11-12 10:56] BhaiBurhanuddin opened #5893 "minikube start: apiserver process never appeared and minikube crashed."
When i typed "minikube start" the apiserver process never appeared and the minikube crashed.

**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:
ubuntu 18.04.

[2019-11-12 12:55] GarretSidzaka commented on #5815
Ping :3

[2019-11-12 14:02] lekhacman commented on #3566
@tstromberg
Please help me. I have spent 2 days and don't know how to fix this issue.
**virt-host-validate**
`
➜  ~ virt-host-validate
  QEMU: Checking for hardware virtualization                                 : PASS
  QEMU: Checking if device /dev/kvm exists                                   : PASS
  QEMU: Checking if device /dev/kvm is accessible                            : PASS
  QEMU: Check

[2019-11-12 14:30] oivindoh commented on #5610
@medyagh sorry for the noise, but latest version == a self-built version that includes moby/hyperkit#263 ? Those guys don't appear to release often.

[2019-11-12 15:19] tstromberg commented on #5010
FYI, if anyone is running into this, you can bypass the CPU checks by using:

`minikube start --extra-config=kubeadm.ignore-preflight-errors=NumCPU --force --cpus 1`

I can confirm that it functions correctly, though you may of course have trouble scheduling a job that requests more than 1 CPU.

[code]

[2019-11-12 15:57] QwertyJack commented on #3129
/remove-lifecycle rotten

[2019-11-12 15:57] QwertyJack commented on #3129
Same here, macOS & VirtualBox.

[2019-11-12 16:03] MalgAmoe commented on #5885
I had the exact same problem, I downgraded to the 1.4.0 as a coworker had that version, and that fixed the problem for me.

[2019-11-12 19:37] nanikjava commented on #5832
To make things simpler for user the link on the front page will point to the /release page. This way the user will choose the correct binary for their needs

[2019-11-12 21:13] nanikjava commented on #5809
On further testing the issue can be resolved by stopping minikube from going forward with the process if there is an error in the download process

[code]

[2019-11-12 21:29] nanikjava commented on #5809
To make things works faster inside minikube the process of downloading images is running in a separate goroutine, as it will allow the other process of initializing the VM to continue.

There is a checkpoint of checking the state of success/failure of the images inside waitCacheImages(..) at the moment failure are reported as a debug log. This could potential be used to stop minikube and inform us

[2019-11-12 22:27] nanikjava commented on #5809
[code]

Doing the above create issue as the abrupt termination of the VM as it is running on
the main thread .

[code]
Exiting the app during waitCacheImages(..) will only report the last recorded error
inside the CacheImages(..) goroutine

Solution
--------
To make it useful to the user the error should print out all the different
cache images that failed to download.

Something like this:

[code

[2019-11-13 00:22] priyawadhwa commented on #5885
Thanks for the tip @MalgAmoe. @detlef-brendle, does v1.4.0 work for you?

[2019-11-13 00:23] priyawadhwa commented on #5893
Hey @BhaiBurhanuddin -- I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kub

[2019-11-13 00:25] priyawadhwa commented on #5892
Hey @jyothirmayi-cloud -- I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `k

[2019-11-13 00:28] priyawadhwa commented on #5878
Hey @oculushut -- could you also please provide the output of:

- minikube start --vm-driver=none --alsologtostderr

[2019-11-13 00:34] gkwan commented on #5615
@tstromberg  I upgraded to minikube v1.5.2 and we also replace the router/switch box.  It's working now. Thanks very much for your help!

[2019-11-13 00:36] priyawadhwa commented on #5815
Hey @GarretSidzaka -- looks like there are a couple of related issues (#4352 and #4749).

I see you already commented on #4352, and I'm guessing none of those solutions fixed your issue?

#4749 suggests increasing memory/cpu allocation to minikube. Perhaps you could give that a try? Please let us know the results of any of these experiments!

[2019-11-13 00:46] priyawadhwa commented on #5763
Hey @ruoru -- I noticed this line in your logs:

[code]

I'm wondering if you may need to manually delete the minikube VM in hyperkit. You could try running

`ps -Af | grep minikube`

to see if any unexpected processes are running.

[2019-11-13 01:56] monkeyWie commented on #5860
try this option `--image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers`

[2019-11-13 02:05] priyawadhwa commented on #5615
@gkwan that's great! Is everything working as expected now? If so, can this issue be closed?

[2019-11-13 03:09] leuction opened #5895 "machine didn't return an IP after 120 seconds"
**The exact command to reproduce the issue**:
minikube start --vm-driver=kvm2 --alsologtostderr -v=7

**The full output of the command that failed**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>

[code]

</details>

**The operating system version**:

Linux Mint 19.2

I also have upgrade the kvm2 machine driver

Here are my env:

[code]

[code]

[2019-11-13 06:39] Hussain-Badshah opened #5896 "virtualbox on VMware: Unable to start VM: create: creating: Maximum number of retries (5) exceeded"
I have windows 10 installed on my system, in it I installed VMWare workstation player, and in it I installed centos7 by importing an image. Now I installed docker and it is running successfully, now when I installed minikube and oracle virtual box(in centos7 only) and trying to get minikube started using command

minikube start --vm-driver=virtualbox
it is throwing up this error:

😄  [samsung] min

[2019-11-13 07:22] detlef-brendle commented on #5885
Yes, 1.4.0 works fine.
So it seems there is an error in the latest version.

Can you put that on your roadmap ?
Thanks,
detlef

[2019-11-13 08:32] Vizionz commented on #4587
The solution of executing in CMD (Admin) `bcdedit /set hypervisorlaunchtype off` did not help me.

But after reading @tag's response, I decided to do the following steps that got me running VB VMs
1. CMD (Admin) > `bcdedit /deletevalue hypervisorlaunchtype`
2. Uninstall Docker
3. Windows Feature > Disable 'Containers'
4. Windows Feature > Disable 'Hyper-V'
5. Restart
6. Attempt to start VB VMs.

[2019-11-13 09:12] roxax19 opened #5897 "Error restarting cluster: kubeadm init phase certs: Process exited with status 1"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:

😄  minikube v1.5.2 on Ubuntu 18.04
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🏃  Using the running kvm2 "minikube" VM ...
⌛  Waiting for the host to be provisioned ...
🐳  Preparing Kubernetes v1.16.2 on Docker '18.09.9' ...
🔄

[2019-11-13 09:28] cheeseandcereal opened #5898 "Inconsistent behavior listing profiles in json when none exist"
Using minikube version 1.5.2 tested on Linux and Windows 10 with the same behavior:

The command `minikube profile list -o json` provides inconsistent behavior whether or not the `$MINIKUBE_HOME/profiles` folder exists or not.

When `$MINIKUBE_HOME/profiles` does not exist, the command outputs: `{"error":{"Op":"open","Path":"/root/.minikube/profiles","Err":2}}` and minikube exits with status 1

Wh

[2019-11-13 09:35] gkwan commented on #5615
@priyawadhwa Yes, it looks to be working as expected. Please close this issue.

[2019-11-13 10:41] roxax19 opened #5899 "none: certificate apiserver not signed by CA certificate ca: crypto/rsa: verification error"
**The exact command to reproduce the issue**:
sudo minikube start --vm-driver=none
**The full output of the command that failed**:<details>

😄  minikube v1.5.2 on Ubuntu 18.04
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🏃  Using the running none "minikube" VM ...
⌛  Waiting for the host to be provisioned ...
🐳  Preparing Kubernetes v1.16

[2019-11-13 12:01] battlesnake opened #5900 "none: Failing to load a module due to module being built-in (br_netfilter)"
[

It looks like minikube is attempting to load a module that's built-in (in my case), and is then failing when the module isn't found.

**The exact command to reproduce the issue**:

[code]

**The full output of the command that failed**:<details>

[code]

[code]

</details>

**The output of the `minikube logs` command**:<details>

[code]

</details>

**The operating system version**:

Arch Linux

[2019-11-13 14:40] iDhruv22 commented on #4024
me too

[2019-11-13 15:17] wxanywhere opened #5902 "System has not been booted with systemd as init system"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2019-11-13 15:18] #5902 closed

[2019-11-13 15:22] hilner opened #5903 "vbox: (unknown start error)"
 
**Os comandos necessários para reproduzir o problema**:
 
**A saída completa do comando que apresentou falha**: <details>

</details>

**A saída do comando `minikube logs`**:<details>

</details>

**A versão do sistema operacional usado**:

SATA-ImageUUID-0-0"="5c284f9f-887d-4a92-8cea-4090107eded3"
"SATA-tempeject"="off"
"SATA-IsEjected"="off"
"SATA-1-0"="/home/suporte/.minikube/machines/minikub

[2019-11-13 15:24] hilner opened #5904 "vbox: erro start: libmachine: Error dialing TCP: dial tcp: connect: connection refused"
 
**Os comandos necessários para reproduzir o problema**:
 
**A saída completa do comando que apresentou falha**: <details>

</details>

**A saída do comando `minikube logs`**:<details>

</details>

**A versão do sistema operacional usado**:

minikube start --logtostderr
I1113 10:50:18.549874   28328 notify.go:125] Checking for updates...
I1113 10:50:19.260758   28328 start.go:251] hostinfo: {"hos

[2019-11-13 15:38] zzzhy opened #5905 "minikube wont ready with command 'minikube start'"
**The exact command to reproduce the issue**:
minikube start --cache-images --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers --cpus 4 --memory 12680

**The full output of the command that failed**:<details>
💣  Error restarting cluster: waiting for apiserver: apiserver process never appeared
Problems detected in kube-addon-manager ["792bb2ae3606"]:
    error: error pruning nam

[2019-11-13 16:57] zzzhy commented on #5905
when recreate minikube vm, it turns out working fine !

[2019-11-13 18:18] sebinsua commented on #5815
@tstromberg

[code]

And if I hit the URL which is giving 503, I get:

[code]

[2019-11-13 18:48] tstromberg commented on #5815
Thanks for the update @sebinsua

Based on what you've shared, I now suspect that part of the issue may be that we are attempting to check the URL before checking if the pod is actually running.  Why the dashboard service isn't healthy though, we still need to investigate. Do you mind helping us root cause this?

Once you see the dashboard hanging at "Verifying proxy health ...", can you get the ou

[2019-11-13 21:40] nakulvr commented on #4587
As per the Virtualbox changelog (VirtualBox 6.0.0 onwards): **Added support for using Hyper-V as the fallback execution core on Windows host, to avoid inability to run VMs at the price of reduced performance**
[https://www.virtualbox.org/wiki/Changelog-6.0](url)

And looking at the official documentation: **Oracle VM VirtualBox can be used on a Windows host where Hyper-V is running. This is an exp

[2019-11-13 23:22] #5615 closed

[2019-11-13 23:33] priyawadhwa commented on #5905
hey @zzzhy, thanks for opening this! looks like the apiserver didn't come up. I'll go ahead and close this issue since it seems restart solved your issue.

[2019-11-13 23:33] #5905 closed

[2019-11-13 23:44] priyawadhwa commented on #5896
Hey @Hussain-Badshah thanks for opening this issue. Could you please providing the following information so we can try to identify the issue here:

- The output of `minikube start --alsologtostderr`

Thanks!

[2019-11-14 00:37] duffytilleman commented on #567
If you're on a mac using the hyperkit driver, here's a workaround to change memory or cpu without deleting your vm:

`minikube stop`
edit `$HOME/.minikube/machines/minikube/config.json`, change `"Driver.CPU"` and/or `"Driver.Memory"`
`minikube start`

[2019-11-14 02:19] GarretSidzaka commented on #5815
[output.txt](https://github.com/kubernetes/minikube/files/3844296/output.txt)

[2019-11-14 03:10] tstromberg commented on #5815
Interesting. Do you mind adding the output of  'kubectl describe node' as
well? Thanks!

On Wed, Nov 13, 2019, 6:19 PM GarretSidzaka <notifications@github.com>
wrote:

[2019-11-14 03:37] GarretSidzaka commented on #5815
sudo kubectl describe node
[sudo] password for garretsidzaka:
Name:               minikube
Roles:              master
Labels:             beta.kubernetes.io/arch=amd64
                    beta.kubernetes.io/os=linux
                    kubernetes.io/arch=amd64
                    kubernetes.io/hostname=minikube
                    kubernetes.io/os=linux
                    node-role.kubernetes.io/

[2019-11-14 04:42] ramesh-anbuthambi opened #5907 "Failed to setup kubeconfig: yaml: control characters are not allowed"
In Windows 10 Enterprise edition with Hyper V enabled, I tried to start minikube start and it is failing with following error message

Error Message: X Failed to setup kubeconfig: could not read config: Error decoding config from data:                                   : yaml: control characters are not allowed

I issued following command opening powershell in Administrator mode
 minikube start --

[2019-11-14 10:49] abaranchuk commented on #5451
The same on Win10

[2019-11-14 11:52] Hussain-Badshah commented on #5896
The output of minikube start --alsologtostderr :+1:

minikube start --alsologtostderr
I1114 17:19:55.515624   13929 notify.go:125] Checking for updates...
W1114 17:19:55.518291   13929 notify.go:56] Error getting json from minikube version url: error with http GET for endpoint https://storage.googleapis.com/minikube/releases.json: Get https://storage.googleapis.com/minikube/releases.json: dial tcp

[2019-11-14 13:29] vamossagar12 commented on #4835
@tstromberg I encountered this issue on the latest minikube release- 1.5.2
Answers to the bits you had requested for:

1) Yes.
2) minikube start --vm-driver=none --apiserver-ips 127.0.0.1 --apiserver-name localhost --alsologtostderr -v=3
3) Full output of the above command:

`
W1114 13:24:20.488293   14024 root.go:241] Error reading config file at /root/.minikube/config/config.json: open /root/.mi

[2019-11-14 13:31] vamossagar12 commented on #5795
Hi @tstromberg , @medyagh I wanted to do a few test runs on 1 of the ubuntu vms that I have(18.04.3) but I bumped into the issue mentioned here:

https://github.com/kubernetes/minikube/issues/4835

I have added the things requested for, in case somebody notices this issue again in that issue. Please let me know in case of any other details needed.

[2019-11-14 14:03] vamossagar12 commented on #5795
Also, @tstromberg while going through the code, I noticed that there have been changes made yesterday on the waitForPods method. You have split the process finding and api server finding into 2 methods and added a new method called waitForCluster to block until the api-server isn't healthy:

https://github.com/kubernetes/minikube/blob/master/pkg/minikube/bootstrapper/kubeadm/kubeadm.go#L442

I was

[2019-11-14 17:16] sshambar commented on #4206
I encountered this error, but after some digging I discovered in my case the cause was bootpd being disabled (I had installed the ISC dhcpd at some point).  Running the following resolved the issue:

[2019-11-14 17:25] tstromberg opened #5911 "Lock files should be per-user!"
I was running into this issue while trying to let users create their own test clusters at a shared box.

Is there a similar issue for the following files, which need to be separated as well?
[code]

In addition, is it safe using a shared user for now (e.g. via `sudo -u <user> minikube ...`) to manage different "profiles"?
As far as I understood from the code (from `juju/mutex_flock`), these files

[2019-11-14 19:42] priyawadhwa commented on #5896
Hey @Hussain-Badshah are you trying to use virtualbox as your vm driver? If so, then that needs to be specified in `minikube start`, otherwise minikube will try to use kvm.

If you could first run
[code]
 and then run

[code]
we would need the logs for the second command. sorry for not clarifying that earlier!

[2019-11-14 20:01] harsimranmaan opened #5913 "minikube requires docker upgrade to v19.03+ to address issues with chown on COPY"
**The exact command to reproduce the issue**:
Have a docker file with
COPY --chown=${USER}:${GROUP} FILENAME .

docker build fails within minikube context.
**The full output of the command that failed**:
unable to convert uid/gid chown string to host mapping: can't find uid for user ${USER}: no such user: ${USER}

**The output of the `minikube logs` command**:
docker info | grep "Server Version"

[2019-11-14 22:08] #5834 closed

[2019-11-14 22:48] nanikjava opened #5915 "Integration testing are consistently failing"
Been running integration testing on many occasion and noticed that there are tests that are consistently failing and need to be investigated. Will post in comments tests that are failing.

[2019-11-14 22:48] nanikjava commented on #5915
/assign @nanikjava

[2019-11-15 02:21] tstromberg commented on #5896
I'm willing to bet that this is a nested VM issue. My advice is to run VirtualBox on Windows directly, instead of within VMware, or to use the `none` driver.

[2019-11-15 02:27] tstromberg commented on #5451
@BrianChristie @abaranchuk - The repeated pgrep is expected behavior, and will be improved in the next release. Is there a particular error you are trying to fix? I recommend a new issue, since this one is specific to the none driver.

[2019-11-15 02:31] tstromberg commented on #5726
@pnisbettmtc - minikube  should coexist peacefully with Docker. I'm not actually sure what went wrong here.

[2019-11-15 02:33] govargo commented on #5821
Fixed by #5840

[2019-11-15 02:33] #5821 closed

[2019-11-15 02:35] tstromberg commented on #5897
Do you mind sharing the output of `minikube start --alsologtostderr -v=1` as well as:

`minikube ssh 'sudo env PATH=/var/lib/minikube/binaries/v1.16.2:$PATH kubeadm init phase certs all --config /var/tmp/minikube/kubeadm.yaml'`

Thanks!

My guess is that `minikube delete` will probably get passed this issue, but I am curious about the root cause.

[2019-11-15 02:37] tstromberg commented on #5907
You can get more output using `minikube start --alsologtostderr -v=1`. My guess is that your $KUBECONFIG has an invalid character in it. You might be able to get more diagnostics by running:

`kubectl config get-clusters`
`kubectl config view`

[2019-11-15 02:42] tstromberg commented on #5895
I've got no idea off-hand. Perhaps a firewall may be getting in the way of the VM getting a DHCP  lease?

[2019-11-15 02:43] tstromberg commented on #5905
Possibly related PR: #5916

[2019-11-15 02:45] ruoru commented on #5763
@priyawadhwa i am run the shell and i do not know what the process is

[code]

[2019-11-15 02:49] tstromberg commented on #5904
I didn't actually see the final error message with startup? Is it just continued "connection refused" messages,  or does it output something different eventually?

I noticed your machine can run the `kvm2` driver. You may have better luck with it:
https://minikube.sigs.k8s.io/docs/reference/drivers/kvm2/

[2019-11-15 03:01] tstromberg commented on #5900
We haven't  done much testing with the none driver and containerd. If you want to try, I think I have a possible solution. Try editing this line here:

https://github.com/kubernetes/minikube/blob/1c46502f358e791c7a7a1ce708c7ff63480f3697/pkg/minikube/cruntime/cruntime.go#L134

And add a check like this:

[code]

Please let me know if it works.

Related issue: https://github.com/docker/libnetwork/is

[2019-11-15 03:14] #5215 closed

[2019-11-15 03:14] tstromberg commented on #5215
Please re-open if you see this issue again.

[2019-11-15 03:19] tstromberg commented on #5763
@ruora - I noticed the version of hyperkit you have is quite old. Do you mind upgrading it, as well as minikube to the latest version? I suspect that doing so will allow things to work again.

You may need to re-run `rm -Rf ~/.minikube` though first.

[2019-11-15 03:19] tstromberg commented on #5763
Related: https://github.com/kubernetes/minikube/pull/5833

[2019-11-15 03:29] Hussain-Badshah commented on #5896
The output of minikube start --vm-driver=virtualbox --alsologtostderr

minikube start --vm-driver=virtualbox --alsologtostderr
I1115 08:49:21.990279    3542 notify.go:125] Checking for updates...
W1115 08:49:22.000765    3542 notify.go:56] Error getting json from minikube version url: error with http GET for endpoint https://storage.googleapis.com/minikube/releases.json: Get https://storage.google

[2019-11-15 03:32] Hussain-Badshah commented on #5896
Yes you are absolutely right, I'm trying to achieve virtualization over virtualization here..and if I run virtualbox on windows, then I won't be able to run minikube on centos7. Because minikube needs some virtualization software to run, which kind of work as a switch

[2019-11-15 03:40] #5872 closed

[2019-11-15 03:44] tstromberg commented on #5899
I suspect that `sudo minikube delete` may fix it. I'm not exactly sure what happened here, but based on the logs, I think https://github.com/kubernetes/minikube/pull/5916 may fix it.

[2019-11-15 03:48] leuction commented on #5895
I have reinstall with the new Ubuntu 18.04 LTS from scratch for my computer, but I get the same error. I tried to flush all the iptables rules. But it still doesn't work. Is there any other firewall installed in the Ubuntu will block the minikube?

Could it be related to the Hardware problem?

I found out that if I intercept the deploying process, I can see the minikube-net for this time.
[code]

[2019-11-15 03:48] tstromberg commented on #5858
I think we broke including stdout/stderr output when commands fail :(

`Error: unknown flag: --Authorization.Mode`

The root cause is the specified flag is no longer valid for Kubernetes. Where did you find it mentioned?

[2019-11-15 03:49] tstromberg commented on #5858
This issue appears to be a duplicate of #2798, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-11-15 03:49] #5858 closed

[2019-11-15 05:39] vaibhavsingh719 opened #5920 "After updating windows latest version virtualbox give error"
I am trying to install kali and fedora os but Virtualbox throw error
error is

Result Code: | E_FAIL (0x80004005)
-- | --
Component: | ConsoleWrap
Interface: | IConsole {872da645-4a9b-1727-bee2-5585105b9eed}

Call to WHvSetupPartition failed: ERROR_SUCCESS (Last=0xc000000d/87) (VERR_NEM_VM_CREATE_FAILED).

Result Code: | E_FAIL (0x80004005)
-- | --
Component: | ConsoleWrap
Interface: | IConsole {8

[2019-11-15 05:45] #5920 closed

[2019-11-15 05:45] tstromberg commented on #5920
This appears to be unrelated to minikube.

[2019-11-15 06:57] afbjorklund commented on #5913
Probably want to use uid/gid meanwhile, or add the user to the container image proper

[2019-11-15 08:55] telefoontoestel opened #5921 "hyperv: fails to connect to host after changing network connection/location"
**The exact command to reproduce the issue**:
minikube ip

**The full output of the command that failed**:
<details>
No output. Command fails and freezes
</details>

**The output of the `minikube logs` command**:
<details>
No entries in the log during until restart
</details>

**The operating system version**:
Windows 10 Pro (fully updated) with Hyper-V

**Steps to reproduce**
Setup a minikube wit

[2019-11-15 08:57] roxax19 commented on #5899
I did `sudo minikube delete` and then `sudo minikube start --vm-driver=none` again, and it gives me another error:

**The full output of the command:**
<details>

 sudo minikube start --vm-driver=none
😄  minikube v1.5.2 on Ubuntu 18.04
🤹  Running on localhost (CPUs=8, Memory=11920MB, Disk=46678MB) ...
ℹ️   OS release is Ubuntu 18.04.3 LTS
🐳  Preparing Kubernetes v1.16.2 on Docker '18.06.1-ce' ...

[2019-11-15 09:09] ramesh-anbuthambi commented on #5907
After trying different steps, I have installed Docker Desktop in my machine and started Kubernetes in it and it worked as expected.

Thank You Thomas for helping me out. I will make note of these commands.

Will Minkube and Docker for Desktop works parallel in the same machine?

With Regards,
Ramesh Anbuthambi

[2019-11-15 12:57] govargo opened #5922 "Unit Test(make test) FAIL: TestValidateProfile"
**The exact command to reproduce the issue**:

When the following command exec, and we will get test fail.

[code]

In ` cmd/minikube/cmd/config/util_test.go`,
Unit Test Case2 of `TestValidateProfile` fails due to assertion fail.

[code]

I'll fix this test to be sucessfull and I'll send PR soon.

**The full output of the command that failed**:<details>

Error Section

[code]

make test full outou

[2019-11-15 12:57] govargo commented on #5922
/assign

[2019-11-15 12:57] govargo commented on #5922
/kind failing-test

[2019-11-15 13:06] rusenask commented on #5451
Got the same issue (yesterday Minikube just stopped working), apparently it was docker snap installing itself and then filling the disk with logs (https://www.reddit.com/r/Ubuntu/comments/dwoizd/docker_snap_just_installed_all_by_itself/)

[2019-11-15 13:06] nanw1103 commented on #5451
Same error here. docker 18.09.9, VMware Photon OS 3, minikube 1.5.2.

[2019-11-15 14:41] govargo commented on #5922
Maybe effect by c03aee83227c2433061232cfa335db04a2265209

[code]

testCase `82374328742_2974224498` returns "profile "82374328742_2974224498" not found"(expected).

testCase `minikube` returns "minikube" is an invalid profile(unexpected).

Because testCase `82374328742_2974224498` goes through this.
https://github.com/kubernetes/minikube/blob/6faa8fc72598925e5fc6ed30d138db855b9a5abb/cmd/minikube/c

[2019-11-15 16:41] harsimranmaan commented on #5913
The user is already part of the container image.

[2019-11-15 16:46] afbjorklund commented on #5913
Think that I misunderstood, the problem is not uid vs name - the problem is using environment variables in a (mostly static) Dockerfile. The output above is the _actual_ error message and not something censored...

[2019-11-15 16:49] afbjorklund commented on #5913
Anyway, as I wrote in the PR we can upgrade Docker daemon but I want do it with the new k8s 1.17 and we should upgrade runc/containerd at the same time (as bundled with it)

[2019-11-15 16:52] harsimranmaan commented on #5913
Let me know if you'd like me to update the PR with new components. I think the tests might be a bit brittle as they have been failing for same reasons on different PRs. Is this something I should worry about?

[2019-11-15 17:22] davidthewatson opened #5924 "kubectl reports kube-addon-manager-minikube ImagePullBackOff after minikube start"
I'm trying to start minikube with hyperkit on macos mojave behind corporate proxy. I've done this before on this machine on this network. However, I've had to reinstall from brew and I'm afraid the new version can't get out through the proxy despite what are obviously correct proxy settings from the debug output. It's weird because I can get out from ```minikube ssh``` with curl or wget.

    mini

[2019-11-15 19:09] pnisbettmtc commented on #5726
Thanks for looking at it.

Further experience with Minikube has convinced me it is pretty flakey technology. It crashes regularly with a message that I have to delete the VM (currently running in virtual box on a different windows10 computer that has a lot more memory). Obviously,every time I delete the Minikube VM ,I have to re install everything again on that Minikube machine/pod again.

It is a

[2019-11-15 19:51] tstromberg opened #5926 "TestAddons/parallel/Registry failing on none: wget: bad address 'registry.kube-system.svc.cluster.local'"
The registry addon hasn't changed in months, but start timings have:

[code]

Based on this output:

[code]

and this output:

[code]

My theroy is that maybe the registry came in from a previous test, and was being restarted? Are we not deleting kubernetes pods when we shut down the none driver?

[2019-11-15 19:54] tstromberg commented on #5895
I don't yet have a root cause, but this issue appears to be a duplicate of #3566, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-11-15 19:54] #5895 closed

[2019-11-15 20:00] tstromberg opened #5927 "KVM integration tests failing with "machine didn't return an IP after 120 seconds""
Example: https://storage.googleapis.com/minikube-builds/logs/5916/KVM_Linux.txt

[code]

Digging around `jenkins:/var/lib/jenkins/jobs`:

Of the 375 KVM tests we've run in the last 30 days, 86 have failed with this message (22%). This failure occurs on many machines:

     82 "kvm-integration-slave"
     25 "kvm-integration-slave2"
     23 "kvm-integration-slave3"
      8 "kvm-integration-slave4"

[2019-11-15 20:01] tstromberg commented on #5927
Related: #3566

[2019-11-15 20:42] tstromberg commented on #5927
Occurrences per date:

[code]

I imagine this has to be related to parallel runs. Curious we didn't see errors for the second half of September though.

[2019-11-15 22:15] tstromberg commented on #5907
Yes, they are designed to coexist peacefully. Let me know if you run into anything else.

I wonder if there is the possibility of a Windows only bug. If you ever get the time, please add the output of `minikube start --alsologtostderr -v=1`, as well as attaching your `.kube/config` file (found under your user directory?) so that we may replicate and root cause the issue.

Thanks!

[2019-11-16 00:33] umathivagit opened #5930 "Unable to stop VM: open config.json: The system cannot find the file specified."
minikube stop

X Unable to stop VM: open C:\Users\Uday\.minikube\machines\minikube\config.json: The system cannot find the
file specified.
*
* Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
  - https://github.com/kubernetes/minikube/issues/new/choose

Windows 10

[2019-11-16 03:07] Matt-Gleich commented on #5714
For anyone with this issue, this fixed it for me:

`chmod ugo+rwx ~/.kube/config`

The command that I stated before didn't work for me when this broke again.

[2019-11-16 07:44] ZCJ opened #5931 "Retriable failure: create: precreate Error // The character device /dev/vboxdrv does not exist"
I have been using minikube for a long time and never had issues - I have recently upgraded to ubuntu 19.10 and since then I am unable to start minikube.
virtualbox-dkms is installed (as recommended in the message below) and security boot is disabled as per #3974

**The exact command to reproduce the issue**: minikube start

**The full output of the command that failed**:<details>

minikube v1.5.2

[2019-11-16 16:21] govargo commented on #5922
This seems not to occur in latest master branch

[2019-11-16 16:21] #5922 closed

[2019-11-16 17:31] fsadykov commented on #4167
Hello @rodjjo,

I see your code is works for coredns. I have same problem with kube-dns. Should I just replace coredns -> kube-dns and use your script?

[2019-11-16 19:20] asampal commented on #3470
/close

[2019-11-16 19:20] #3470 closed

[2019-11-16 20:03] BZM708 commented on #5236
I typed in the following commands in ubuntu terminal:
<
set NO_PROXY=localhost,127.0.0.1,10.96.0.0/12,192.168.99.0/24,192.168.39.0/24

minikube start \--docker-env NO_PROXY=$NO_PROXY

And the result is:
<
This site can’t be reached192.168.99.108 refused to connect.
Search Google for 192 168 108 30178
ERR_CONNECTION_REFUSED

[2019-11-16 21:44] BZM708 commented on #5236
I typed in the following commands in ubuntu terminal:

export HTTP_PROXY=http://192.168.99.108:30178
export HTTPS_PROXY=http://192.168.99.108:30178
export NO_PROXY=localhost,127.0.0.1,10.96.0.0/12,192.168.99.0/24,192.168.39.0/24

minikube start \
  --docker-env=HTTP_PROXY=$HTTP_PROXY \
  --docker-env HTTPS_PROXY=$HTTPS_PROXY \
  --docker-env NO_PROXY=$NO_PROXY

I then typed:

minikube service tesb

[2019-11-16 21:45] pnisbettmtc opened #5933 "OOM + kubectl - Unable to connect to the server: net/http: TLS handshake timeout"
I get "Unable to connect to the server: net/http: TLS handshake timeout" after using minikube for a while . It works for a while then stops working with with above message.

This happens on windows 10 using both hyper-v and virtualbox as the vm host.
After working with this technology for a few weeks, I have come to the conclusion it's flaky as hell . In terms of using kubernetes  ,my experience w

[2019-11-16 22:34] chris-free commented on #4016
Commit https://github.com/google/go-containerregistry/commit/e3df2a4fd30e0756e8fc2031f5a02c5c0b25f10d removes the docker digest check.

Using this version Minikube `make` then gives:
`/home/chris/go/pkg/mod/github.com/google/go-containerregistry@v0.0.0-20180823182406-e3df2a4fd30e/pkg/v1/daemon/image.go:80:5: cli.NegotiateAPIVersion undefined (type *client.Client has no field or method NegotiateAPI

[2019-11-17 03:13] tstromberg commented on #4016
@chris-free - Thanks for looking into this. We don't directly depend on docker, so it shouldn't be a problem to update our dependency on `docker/docker` with whatever version `go-containerregistry` looks for.

Hopefully there isn't a `libmachine` conflict, anyways =)

[2019-11-17 03:28] tstromberg commented on #5933
Do you mind sharing the output of `minikube logs` and `kubectl describe node` when this happens?

That should help us figure out he root cause. Thanks!

[2019-11-17 03:48] nanikjava commented on #5617
The main code resides inside `pkg/minikube/registry/devs/kvm2/kvm2.go `

All drivers init() function initialize the driver using the `registry.Registry(..) `which accept `registry.DriverDef(..) `struct. The `DriverDef(..) `struct only have specific function for initialize the driver (Loader)  and status checker (StatusChecker) nothing in between.

The 'cleanest' way is to add something like a 'pre

[2019-11-17 04:58] tstromberg commented on #5617
@nanikjava - I suspect the current call to `virsh domcapabilities` will fail if the user is not in the correct group, but quite likely with a terribly confusing message.

One trick here is how to reliably discover what group the user should be in to launch a VM.  You will probably have more luck finding a command that reliably fails if the user is not in the correct group.

Every distro I know of

[2019-11-17 05:41] BZM708 commented on #5236
I typed the following commands in ubuntu terminal:

export HTTP_PROXY=http://192.168.99.108:30178
export HTTPS_PROXY=https://192.168.99.108:30178
export NO_PROXY=localhost,172.17.0.21/84,192.168.99.108/84,10.99.98.201/84

[ 172.17.0.21 <- pod ip ]
[ 10.99.98.201 <- service ip ]
[ 84 <- port ]

minikube start \
  --docker-env=HTTP_PROXY=$HTTP_PROXY \
  --docker-env HTTPS_PROXY=$HTTPS_PROXY \
  --do

[2019-11-17 05:46] BZM708 commented on #5236
I typed the following commands in ubuntu terminal:

export HTTP_PROXY=http://192.168.99.108:30178
export HTTPS_PROXY=https://192.168.99.108:30178
export NO_PROXY=localhost,172.17.0.21/84,192.168.99.108/84,10.99.98.201/84

[ pod ip: 172.17.0.21 ]
[ service ip: 10.99.98.201 ]
[ port: 84 ]
[ service: 192.168.99.108:30178 ]

minikube start \
  --docker-env=HTTP_PROXY=$HTTP_PROXY \
  --docker-env HTTPS

[2019-11-17 06:18] pnisbettmtc commented on #5933
OK. Thanks.

 I've tried it on a windows 10 desktop in a company network and a windows 10 laptop that is outside the company network. Neither is behind a VPN.

kubectl describe node - currently shows the TLS Timout message from above .

Here is the log output:

C:\Users\pnisbett\_cloudnative_book\cloudnative-abundantsunshine\cloudnative-statelessness>kubectl describe node
Unable to connect to the

[2019-11-17 09:37] nanikjava commented on #5617
Testing was done  by removing local account from libvirt group. This is the full error after running

[code]

The current behaviour is not good as it keeps on going even after the permission denied error shows up.

[code]

Personally would like for minikube to directly terminate after it shows up with the error.

This tie in to my previous comment as the code does not treat fatal error such as thi

[2019-11-17 12:31] nanikjava commented on #5617
Idea of how the checking and failing will work https://github.com/nanikjava/minikube-1/commit/ac7a0d1c3987e60b6726d20c0478e222aa3c6634

[2019-11-17 19:13] munayamjine commented on #5812
Bangladesh

[2019-11-17 19:15] pnisbettmtc commented on #5933
Update - I actually tried to deploy the same set of apps on a mac computer and the same thing happens without actually doing anything. It is just crashing on it's own after a short indeterminate amount of time.

I start up minikube.
I run kubectl get all
I see 3 pods 1 is mysql and 2 are very small java apps that try to connect to MySql .
All are running
Under services - there are 4 services - 3 n

[2019-11-17 23:11] kirksw commented on #5451
Same error here also. Docker 19.03.2, Ubuntu 19.10 (POP OS), Minikube 1.5.2

[2019-11-18 07:35] tanjunchen opened #5936 "invalid urls"
The following urls of tables are invalid.They will return 404 when looking for them.
So We need to fix them according to the context of content

|file_path|url|
|--|--|
|minikube/site/README.md |https://gohugo.io/themes/installing-and-using-themes/|
|minikube/site/README.md |https://goldydocs.netlify.com/https://goldydocs.netlify.com/|
|minikube/site/content/en/docs/Contributing/releasing.en.md |h

[2019-11-18 09:02] xvrzhao commented on #5860
I encountered the same problem, have you solved it?

[2019-11-18 09:11] 377123 opened #5938 "Unable to determine a default driver to use. Try specifying --vm-driver, or see"
😄  minikube v1.5.2 on Centos 7.2.1511
✨  Automatically selected the '' driver
💣  Unable to determine a default driver to use. Try specifying --vm-driver, or see https://minikube.sigs.k8s.io/docs/start/

[2019-11-18 09:45] smallwenzi opened #5939 "mount: Error finding IPV4 address for VirtualBox Host-Only Ethernet Adapter"
minikube.exe mount E:/docker/testk8s:/testk8s
X Error getting the host IP address to use from within the VM: Error getting VM/
Host IP address: Error finding IPV4 address for VirtualBox Host-Only Ethernet Ad
apter #2

[2019-11-18 09:46] xvrzhao commented on #5860
I have solved that with the following command:

[code]

[2019-11-18 09:56] gbraad commented on #5860
A common China issue. The docker registry is intermittently reachable. A
registry-mirror is suggested to be used (as also done)

On Mon, Nov 18, 2019 at 5:46 PM Xavier Zhao <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2019-11-18 10:25] meandmymind commented on #3760
@medyagh @adarshaJha @tstromberg
As was pointed out by @containscafeine, if you just move `.kube` and `.minikube` folders to your user home and change permissions, it does not change `.kube/config`, that has following lines:
[code]
So changing `/root` part to `/home/$(USER)` fixes issues. I guess we can do it automatically but I don't know minikube codebase. At least we can put this in doc on site

[2019-11-18 10:54] elgcdju commented on #3760
You cannot start minikube with `--vm-driver=none` as a non-root user. Thus you cannot move `.kube` and `.minikube` directories out of root homedir.

[2019-11-18 11:55] j-zimnowoda commented on #2342
Same here: minikube version: v1.4.0

[2019-11-18 12:23] BobbyZBC opened #5940 "apiserver process never appeared"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-11-18 12:24] #5940 closed

[2019-11-18 13:08] cvila84 commented on #4016
Hello, i also tried @chris-free approach with same results.

If I put the latest version of go-containerregistry AND remove the indirect dependency on docker/docker 1.13.1 in go.mod, a "go mod tidy" command will restore the dependency to 1.13.1...

I tried "go mod graph" to understand which other component may require this version 1.13.1 but did not find anything, so I'm a bit lost here.

BTW, why

[2019-11-18 14:30] lucanaldini commented on #5497
Tried with version 1.5.2 and the command crashes in the same way for me:

[code]

[2019-11-18 15:09] brainfull opened #5941 "hyperv: bad retry behavior: config.json: The system cannot find the file specified"
**The exact command to reproduce the issue**:

- create a new VM (assuming you have 8GB memory available, else decrease --memory)
`minikube start --vm-driver hyperv --memory 8192`
- stop the VM, don't delete it
`minikube stop`
- open many consuming applications, like many tabs of Youtube in Chrome, so you don't have enough memory anymore
- restart the same VM
`minikube start --vm-driver hyperv --m

[2019-11-18 17:30] govargo commented on #5497
@lucanaldini
Sorry for this.
I think it is different issue from this.
Please create new issue.
And I hope you provide more information(like output of minikube logs) in it.
Thank you.

[2019-11-18 18:34] bodom0015 commented on #3129
### Steps to Reproduce
Here is the simplest reproduction of this bug.

Step 1: `minikube start` and verify cluster has started up
[code]

Step 2: create any PVC - note that it does successfully provision and bind to a PV
[code]

Step 3: Check the provisioner logs to see the error message
[code]

### The Problem
This error, while innocuous, indicates that the built-in ServiceAccount named `system:p

[2019-11-19 01:14] LLOUIS03 opened #5943 "minikube failed to start -> Waiting for apiserver process"
My environment:

OS: Ubuntu 18.04.3 LTS

I run command:

minikube start --vm-driver=none --alsologtostderr -v=8

Outputs:
minikube version: v1.5.2, Ubuntu 18.04.3 LTS

The output is:
I1118 20:54:34.726370   14383 kubeadm.go:665] kubelet v1.16.2 config:
[Unit]
Wants=docker.socket

[Service]
ExecStart=
ExecStart=/var/lib/minikube/binaries/v1.16.2/kubelet --authorization-mode=Webhook --bootstrap-kube

[2019-11-19 01:16] priyawadhwa commented on #5682
Running `pidstat 1`, I noticed that every 5 seconds the following command results in a high uptick in CPU usage (around 80%, from ~20%, for one core) on my linux machine:

[code]

the addon manager currently polls every [5 seconds](https://github.com/kubernetes/minikube/blob/master/deploy/addons/addon-manager.yaml.tmpl#L32-L33).

@tstromberg, WDYT of increasing polling time to 20 or 30 seconds? I

[2019-11-19 01:28] cdfairchild commented on #5451
Same error here also.

* minikube v1.5.2 on Microsoft Windows 10 Pro 10.0.18362 Build 18362
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Using the running hyperv "minikube" VM ...
* Waiting for the host to be provisioned ...
* Preparing Kubernetes v1.16.2 on Docker '18.09.9' ...
* Relaunching Kubernetes using kubeadm ...
*
X Error restar

[2019-11-19 01:32] cdfairchild commented on #5451
I ran `minikube delete` and then `minikube start --vm-driver hyperv --hyperv-virtual-switch "minikube v switch"` and things started just fine.

[2019-11-19 05:00] RA489 commented on #5807
/assign

[2019-11-19 05:14] anorek commented on #4392
@tstromberg regarding the filter of release version, is it enough to filter out pre-releases?

[2019-11-19 05:35] gbraad commented on #4392
@sjortiz any feedback on progress would be appreciated, else I would
suggest to drop the assignment and allow others to work on this.

[2019-11-19 06:14] containscafeine commented on #3760
@meandmymind instead of changing paths, you can also run `kubectl config view --flatten` and save the result.

[2019-11-19 08:02] lucanaldini opened #5944 "update-context not working when using KUBECONFIG"
**The exact command to reproduce the issue**:
➜ sudo -i env CHANGE_MINIKUBE_NONE_USER=true MINIKUBE_HOME=/home/somewhere KUBECONFIG=/tmp/.somewhereelse/config minikube start --vm-driver=none
...
➜ KUBECONFIG=/tmp/.somewhereelse/config minikube start
...
➜ KUBECONFIG=/tmp/.somewhereelse/config minikube status
host: Running
kubelet: Running
apiserver: Running
kubeconfig: Configured
➜ KUBECONFIG=/tmp

[2019-11-19 08:03] lucanaldini commented on #5497
#5944

[2019-11-19 11:48] RA489 commented on #5930
@umathivagit can you please copy paste exact command and environments you are using?

[2019-11-19 12:30] ShangCunShanFu opened #5947 "Error starting cluster: kubelet config: error: open /var/lib/kubelet/config.yaml: no such file or directory"
**重现问题所需的命令**：
minikube start --vm-driver=virtualbox

**失败的命令的完整输出**：<details>
* Microsoft Windows 10 Enterprise LTSC 2019 10.0.17763 Build 17763 上的 minikube v1.5.2
* 正在下载 VM boot image...

* 正在创建 virtualbox 虚拟机（CPUs=2，Memory=2000MB, Disk=20000MB）...
E1119 19:41:47.505983   30868 cache_images.go:80] CacheImage gcr.io/k8s-minikube/storage-provisioner:v1.8.1 -> C:\Users\wangkaige\.minikube\cache\ima

[2019-11-19 12:38] #3155 closed

[2019-11-19 13:26] Comonut opened #5948 "Update dashboard to v2.0.0-beta6"
Minikube is currently using dashboard release v2.0.0-beta4 which is quite buggy (for example I faced this one https://github.com/kubernetes/dashboard/issues/4399 )

Given that Minikube is using a beta release - wouldn't it be useful to always use the newest beta dashboard release until there is a stable one?

[2019-11-19 13:31] Comonut commented on #5948
Found https://github.com/kubernetes/minikube/pull/5934 , so I take that this is in progress and closing the issue

[2019-11-19 15:43] adrianovieira opened #5949 "ERROR creating `registry-creds-dpr` secret"
We do have a _`registry.local`_ working as a private docker registry where we've been pushing/pulling docker images.

So, we are trying to have minikube working with that registry, too. But, it always fails at the stage of setting up registry-creds addon.

**The exact command to reproduce the issue**:
1. start a fresh cluster

    `minikube start --insecure-registry=registry.local`

1. `minikube a

[2019-11-19 16:52] lounicotra opened #5950 "kvm2: Cannot open boot2docker.iso: permission denied"
I have also tested this with a couple of previous releases, same results and also your latest beta. I own the .minikube dir under my home directory, so there should not be any permission issues downloading and placing files in the right dirs.

Seems that the boot2docker ISO never gets downloaded or placed in the correct place. Here's a listing of the dir structure after executing "minikube start":

[2019-11-19 16:57] gbraad commented on #5691
Windows Enterprise does not offer the Default Switch and HyperV support needs to be installed as a Server Role.

[2019-11-19 16:59] gbraad commented on #5691
[code]

Install the server role and make sure the services is started properly.

[2019-11-19 17:28] gbraad commented on #5392
WSL2 and it's network limitations are causing issues for us (CRC/Minishift) to consider using this. There is a dedicated switch used, that is only usable for WSL2 and created on the fly (WSL), which does not allow you to easily communicate with others on the same host but other segments. This is unlike WSL1.

We are still experimenting, but so far it has not been an improvement over the approach t

[2019-11-19 17:51] gbraad commented on #3963
Can you try:

[code]

[2019-11-19 17:57] gbraad commented on #5791
You are free to use the following: https://github.com/code-ready/crc/tree/master/pkg/crc/preflight We added a set of Preflight checks (and possible fixes) to check if the host can run the hypervisor and start a VM, before any control is handed to libmachine. The tests are far from perfect, but for 98% of the people this works... forthe other 2%, we allow these tests to be skipped or set to warn (t

[2019-11-19 18:08] douglascamata opened #5951 "hyperkit: no internet connectivity, can't pull kube-addon-manager"
**The exact command to reproduce the issue**:

`minikube start`

**The full output of the command that failed**: <details>
[code]
</details>

**The output of the `minikube logs` command**:

<details>
Huge spam of this:

[code]
</details>

**The operating system version**: macOS 10.14.3

[2019-11-19 18:16] douglascamata commented on #5951
Quick note: changing the driver from `hyperkit` to `virtualox` makes it work.

[2019-11-19 18:28] douglascamata commented on #5951
I tried SSHing into the machine and effectively it cannot even `ping google.com`.

[2019-11-19 18:49] DAAC commented on #5797
when I running this command minikube start --cpus 2 --memory 4096,
 I am getting this issue:
! minikube v1.5.2 on Microsoft Windows 10 Enterprise 10.0.15063 Build 15063
E1119 12:39:07.353979   70432 driver_windows.go:74] Can't find VirtualBox registry entries, is VirtualBox really installed properly? The system cannot find the file specified.
* Automatically selected the 'hyperv' driver
* Download

[2019-11-19 20:24] brainfull commented on #5930
unfortunately it happens too often, the only reliable fix I found for now is to always delete the whole %userprofile%/.minikube directory

[2019-11-19 21:53] Spajderix commented on #4132
Confirmed on Ubuntu 19.10 VM, minikube version 1.5.2

[2019-11-19 23:49] #4063 closed

[2019-11-20 08:24] zhaowenyuan opened #5952 "The "virtualbox" driver should not be used with root privileges."
**重现问题所需的命令**：
minikube start --image-mirror-country cn     --iso-url=https://kubernetes.oss-cn-hangzhou.aliyuncs.com/minikube/iso/minikube-v1.5.0.iso     --registry-mirror=https://xxxxxx.mirror.aliyuncs.com --vm-driver=virtualbox  --cpus=18 --memory=49152

**失败的命令的完整输出**：<details>
* minikube v1.4.0 on Centos 7.6.1810
* The "virtualbox" driver should not be used with root privileges.
* If you are

[2019-11-20 11:40] burdiyan commented on #38
Slack just open sourced their global overlay network solution https://slack.engineering/introducing-nebula-the-open-source-global-overlay-network-from-slack-884110a5579

It’s a mix of IPSec and TincVPN, but simpler, faster and written in Go. This maybe useful for creating an overlay network between the host and Minikube pods.

[2019-11-20 12:51] olivierlemasle opened #5953 "Cannot disable default storage class"
**Steps to reproduce**:
1. Start minikube (from scratch)
2. Disable addon :
[code]
3. List storage classes:
[code]

**Bug**: `standard` storage class is still marked as _default_.

Actually, the storage class is then annotated with both `storageclass.kubernetes.io/is-default-class: "true"` (from the addon) and `storageclass.beta.kubernetes.io/is-default-class: "false"` (added with `minikube addons

[2019-11-20 12:54] meandmymind commented on #3760
@elgcdju If I get you right, you say that we can't do it programmaticaly if `minikube start` is called from non-root user?

As a workaround, we can leave `sudo minikube start ...` part, but internally move `.kube` and `.minikube` to a user folder. So after launching cluster with `sudo` we don't need to use it like that.

[2019-11-20 14:52] tstromberg commented on #5948
Thanks for bringing this to our attention. I'm going to leave this one open until the PR gets merged.

[2019-11-20 14:54] tstromberg commented on #5938
Is this unexpected? What driver did you install?

[2019-11-20 14:57] tstromberg commented on #5952
我没有看到此问题：VirtualBox并非设计为由root用户运行。 尝试为要运行的minikube创建用户。 通过将`--force'传递给minikube可能会覆盖此检查，但是VirtualBox可能会引起问题。 请让我知道这可不可以帮你。
---
I am not seeing the issue: VirtualBox was not designed to be run by the root user. Try creating a user for minikube to run on. It may be possible to override this check by passing `--force` to minikube, but VirtualBox may raise issues with it. Please let me know if this he

[2019-11-20 15:01] tstromberg commented on #5951
https://github.com/kubernetes/minikube/pull/5935 will  fix the addon-manager, but as you mentioned, the root cause is that your hyperkit installation apparently does not have any network connectivity. It is very interesting that switching to virtualbox makes it work however.

Do you have any special VPN or Docker for Desktop configuration on this host by any chance?

Thanks!

[2019-11-20 15:03] tstromberg commented on #5953
Nice catch! Thank you for sending us a PR to address this.

[2019-11-20 15:10] tanjunchen commented on #5936
/close

[2019-11-20 15:10] #5936 closed

[2019-11-20 15:26] douglascamata commented on #5951
Hi @tstromberg!

I have a standard Docker for Mac installation, nothing special. Sometimes I use corporate VPNs (even a VPN over another VPN).

I always disconnect all the VPNs when using minikube, as I know they don't place nice together.

If there are any command you would like me to run to give you more information I'm happy to help.

[2019-11-20 15:36] tstromberg commented on #5950
I suspect this may be an issue with how libvirt is configured on this machine: I suspect that it may be running qemu as another user that does not have access to your ISO.

Do you mind sharing the output of the following command:

- `id`
- `id libvirt-qemu`
- `file /home/lnicotra/.minikube/machines/minikube/boot2docker.iso`
- `ls -lad /home/lnicotra/`
- `ls -lad /home/lnicotra/.minikube`
- `cat /e

[2019-11-20 16:04] tstromberg commented on #5949
This issue appears to be a duplicate of #5885, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-11-20 16:04] #5949 closed

[2019-11-20 16:07] tstromberg commented on #5885
I havent' looked into this, but I'm betting this is related to:

https://github.com/kubernetes/minikube/commit/c9c4a8fbb93fe3ee8bb00ecd6bffc055b52c297e#diff-b9bd799b523100f1bc7d8b18c23df5e3

Any thoughts @reegnz?

[2019-11-20 17:56] tstromberg commented on #5943
Do you mind sharing the output of `minikube logs`? I suspect the kubelet configuration provided is incompatible with your host configuration.

[2019-11-20 17:59] tstromberg commented on #5941
Agreed that deletion should only happen if we've just created the VM -  in that case,  it actually does help sometimes. I'll open a new issue about that.

[2019-11-20 18:09] tstromberg commented on #5939
I've seen this happen once myself about 9 months ago, but wasn't able to replicate it. Do you mind running:

`minikube ssh "ifconfig -a"`

Thanks!

[2019-11-20 18:14] tstromberg commented on #5933
Thanks! It appears that your VM keeps running out of memory:

[code]

The default VM is only 2GB, which this pod is likely pushing:

[code]

You will need a bigger VM to use minikube with this application. Try removing your old VM using `minikube delete`, and then either persistently tell minikube to use more memory using:

`minikube config set memory 8192`

Or pass `--memory 8192` to `minikube st

[2019-11-20 18:17] tstromberg commented on #5931
If VirtualBox is failing, there is not much we can do to make it work. Can you confirm that VirtualBox works for starting another VM?

If so, minikube should function properly.

[2019-11-20 18:23] tstromberg commented on #5930
If `config.json` is missing, we should be erroring in such a way that says something like:

`exit.WithCode(exit.Conflict, "Unable to stop cluster, as it does not exist")`

I'm a little confused, because `StopHost` used to be able to catch this error appropriately.

[2019-11-20 18:25] tstromberg commented on #5915
I'd

[2019-11-20 18:25] #5915 closed

[2019-11-20 18:27] brainfull commented on #5941
Yeah, get it. Error 32788 is related to any HyperV changed state that requires the user to do something with his computer in order to fix the problem that prevents the HyperV VM to start. It is not a Retriable Failure since it explicitly require the user to do something.

Possible solutions are:
1. Classify error 32788 as Non-Retriable Failure. So it doesn't end up deleting the VM and retry 5 time

[2019-11-20 18:28] tstromberg commented on #5903
The actual error message was cut-off by the retry. Do you mind attaching the brief output of:

`minikube start`

Thanks!

[2019-11-20 18:43] lounicotra commented on #5950
Thanks for your reply... Here's what I found...

It seems that the permission error is due to our home dirs being auto-mounted from a central server via nfs. Looks like it does not like to write across NFS mounts even though that is the current config for all our processing (DNN training)

Once I defined MINIKUBE_HOME to a local file system, everything started to work correctly

So, the issue is c

[2019-11-20 18:44] #5950 closed

[2019-11-20 18:56] pnisbettmtc commented on #5933
OK. Thanks for looking at it. Two of the machines are laptops and  only have 8GB of memory . Even increasing the VM to 4GB on those machines is a push . One of the pods is a MySQL server and a small amount of data  on it. The other two are really small Java apps that pull a handful of rows form that DB. This seems like a pretty light workload.

Do you know what the memory footprint is for an empty

[2019-11-20 19:24] priyawadhwa commented on #5947
感谢您打开此问题。似乎与 #5897 有关。

您可以运行：

`minikube delete`

然后提供以下内容的输出：

`minikube start --vm-driver=virtualbox --alsologtostderr -v = 1`

谢谢！

[2019-11-20 19:38] priyawadhwa commented on #5924
Hey @davidthewatson thanks for opening this issue. This is the same bug as #5891, & it seems that issue was closed because the issuer switched from hyperkit to virtualbox.

What is the output of:

minikube ssh 'sudo env PATH=/var/lib/minikube/binaries/v1.16.2:$PATH kubeadm config images pull --config /var/tmp/minikube/kubeadm.yaml'

?

[2019-11-20 19:46] priyawadhwa commented on #5898
Hey @cheeseandcereal thanks for opening this issue. Definitely agree the behavior is a bit confusing and could be improved.

WDYT of outputting:

`* No minikube profile was found. You can create one using 'minikube start'.` to STDOUT
`{"invalid":[],"valid":[]}` for `-o json`
and exit code 0

for both cases (when `$MINIKUBE_HOME/profiles` exists and when it doesn't`)?

If you, or anyone else would

[2019-11-20 19:56] mkdewangan commented on #2977
I had the same problem. I created internal switch as per -  https://niftysoft.github.io/devlog/2018/06/30/hyperv-and-minikube-windows-10-without-external.html
My internal switch name -- minikube internal v switch
Internal Switch got appeared here in Control Panel\Network and Internet\Network Connections. In my computer there is "Network Bridge" icon is also here. which is showing connected. I thin

[2019-11-20 19:57] priyawadhwa commented on #5772
Hey @navi62 I'm going to close this issue due to inactivity -- hopefully you are no longer seeing this error. Please reopen if you continue to have issues with minikube! You may reopen at any time by commenting `/reopen` on the issue.

[2019-11-20 19:57] #5772 closed

[2019-11-20 20:10] priyawadhwa commented on #5699
Hey @jroper I just tried running

[code]

and got the expected output
[code]

from Minikube build @ HEAD.

I'm going to close this issue as it seems the `--format` flag is working as expected. The main issue is that it doesn't appear in help text, but I think that should be covered by #5117. If you think this has been closed in error, please reopen at any time!

[2019-11-20 20:10] #5699 closed

[2019-11-20 20:11] priyawadhwa commented on #5689
Hey @njuptlzf I'm going to close this issue due to inactivity. If you continue to see this error, please reopen at any time by commenting `/reopen` on the issue!

[2019-11-20 20:11] #5689 closed

[2019-11-20 20:12] priyawadhwa commented on #5644
Hey @Zerxoi friendly ping -- are you still seeing this issue?

[2019-11-20 20:14] priyawadhwa commented on #5539
Hey @Atvo, are you still seeing this issue?

[2019-11-20 20:15] priyawadhwa commented on #5524
Hey @kemarsh, did updating fix this issue for you?

[2019-11-20 21:47] pnisbettmtc commented on #5933
Hi.
I tried it on a computer with 32 GB and am getting the same error(s) .
Did minikube delete.
Ran minikube start --vm-driver "virtualbox" --memory 8192
One of the services cookbook-deployment-posts worked initiall then after a restart would not start.
Another service - cookbook-deployment-connections - timed out after a 15 minutes

This is the output from kubectl describe node. I'll paste the ou

[2019-11-20 21:48] cheeseandcereal commented on #5898
/assign

[2019-11-21 02:32] GarretSidzaka commented on #5815
hi  :heart_eyes:

[2019-11-21 03:55] etuttle commented on #5947
I've seen this twice now since upgrading to v1.5.2 (OSX, hyperkit driver).  /var/lib/kubelet is empty!  I fixed it the first time by deleting the profile and starting a new VM, which is a bummer.

By the time it happens, I haven't been able to find any clues in the `start --alsologtostderr -v=8` debug output.

[2019-11-21 04:01] lsy234009 commented on #2598
minikube version: v1.2.0  exists the same bug!!!

[2019-11-21 05:25] DevenSuji commented on #459
I'm getting NSIS Error when using minikube start on PowerShell Version 5.1.14393.2879.
![NSIS](https://user-images.githubusercontent.com/37825466/69306419-608ba100-0c4d-11ea-883a-6221d529a73f.JPG)
How do I fix this issue?

[2019-11-21 08:57] RA489 commented on #5547
@afbjorklund I tried replicating this on CentOS and following two approaches works for me.

1. Changing the secure_path to /usr/local/bin
[code]
2. copying to `usr/bin` solves this issue.

Let me know which approach can be good for this issue.

[2019-11-21 09:06] kemarsh commented on #5524
@priyawadhwa I tried in the last couple of days with v1.5.2 and that seems to be working for me.  Happy if you wish to close this now.

[2019-11-21 09:29] RA489 commented on #5547
IIUC The `secure_path `value, if set, will be used as PATH environment variable for the commands you run using sudo

[2019-11-21 13:00] JPMoresmau opened #5956 "none: stop and then start times out waiting for apiserver"
Minikube was running fine. I wanted to change some stuff, so I stopped it, deleted it, and tried to restart. It doesn't want to restart...

**The exact command to reproduce the issue**:
minikube start --vm-driver=none  -v=8 --memory='4g'

**The full output of the command that failed**:<details>
[code]

</details>

**The output of the `minikube logs` command**:<details>
[code]

</details>

**The op

[2019-11-21 13:25] JPMoresmau commented on #5956
I changed the docker cgroup driver to be systemd (https://kubernetes.io/docs/setup/production-environment/container-runtimes/) and launched:
[code]
And it started! But then it refused to restart again!
If I run
[code]
As I read somewhere in my quest, it seems to start again... Is that normal?

[2019-11-21 17:13] pandey4u commented on #5924
Omwindows 10 desktop using Hyper-V

Hello PriyaWadhwa, similar issue on the HyperV windows 10 desktop behind proxy.

C:\WINDOWS\system32>kubectl get pods --namespace kube-system
NAME                               READY   STATUS         RESTARTS   AGE
coredns-5644d7b6d9-5w74z           1/1     Running        2          56m
coredns-5644d7b6d9-mnmxm           1/1     Running        2          56m
etc

[2019-11-21 17:30] pandey4u commented on #5924
I RAN this command on the minikubew container

sudo env PATH=/var/lib/minikube/binaries/v1.16.2:$PATH kubeadm config images pull --config /var/tmp/minikube/kubeadm.yaml

failed to pull image "k8s.gcr.io/kube-apiserver:v1.16.2": output: Error response from daemon: Get https://k8s.gcr.io/v2/: remote error: tls: handshake failure
, error: exit status 1
To see the stack trace of this error execute wit

[2019-11-21 17:31] pandey4u commented on #5924
I1121 17:31:19.304749    6247 initconfiguration.go:190] loading configuration from "/var/tmp/minikube/kubeadm.yaml"
I1121 17:31:19.308855    6247 feature_gate.go:216] feature gates: &{map[]}
exit status 1
output: Error response from daemon: Get https://k8s.gcr.io/v2/: remote error: tls: handshake failure
, error
k8s.io/kubernetes/cmd/kubeadm/app/util/runtime.(*DockerRuntime).PullImage
        /wor

[2019-11-21 18:27] priyawadhwa commented on #5524
@kemarsh awesome glad it's working for you, thanks!

[2019-11-21 18:27] #5524 closed

[2019-11-21 19:40] asloan7 commented on #5691
@gbraad if you can provide a few Get-WindowsFeature, Install-WindowsFeature shell commands I can try that would be great

[2019-11-21 20:52] afbjorklund commented on #5547
I think the plan was to change the sudo invocation in minikube, rather than have the user change...

i.e. either do `sudo -E crictl` or perhaps `sudo /usr/local/bin/crictl` (using exec.LookPath)

[2019-11-21 21:10] etuttle commented on #5947
It looks to me like the culprit is pull/5697 which I picked up when I upgraded from 1.5.0 to 1.5.2.

When minikube boots, it calls kubeadm which renders out `/etc/kubernetes/kubelet.config` among other things.  It does not render out `/var/lib/kubelet/config.yaml`.  I am unclear how that file is getting created it for minikube users that have it (see discussion in issues/5329).

I tried adding `--

[2019-11-21 22:49] priyawadhwa commented on #5540
Hey @anthonma, are you still seeing this issue?

[2019-11-22 00:00] olivierlemasle commented on #4151
Same issue with Minikube 1.5.2 and vm-driver `virtualbox`.

The issue occurs if the external IP address is accessed on any port except the "right" port (8080 with the instructions above).

/remove-lifecycle rotten

[2019-11-22 00:03] olivierlemasle commented on #4240
Could be linked to #4151 ?

[2019-11-22 06:18] anthonma commented on #5540
The problem is that the VM has not enough disk space. But since I probably will use another VM, I will close this issue.

[2019-11-22 06:18] #5540 closed

[2019-11-22 07:53] zhangxpp commented on #5943
same error on CentOS Linux release 7.7.1908 (Core), kernel 5.3.9-1.el7.elrepo.x86_64
docker 18.09.3

I1122 15:42:31.226015    4142 kubeadm.go:229] /data/minikube skipping compat symlinks: command failed: sudo test -d /data/minikube
stdout:
stderr: : exit status 1
I1122 15:42:31.226043    4142 exec_runner.go:42] (ExecRunner) Run:  /bin/bash -c "sudo env PATH=/var/lib/minikube/binaries/v1.16.2:$PATH

[2019-11-22 08:13] zhangxpp commented on #5943
this prolem is fixed via modifying host configuration.

echo "1" >/proc/sys/net/bridge/bridge-nf-call-iptables

[2019-11-22 08:13] zhangxpp commented on #5943
this prolem is fixed via modifying host configuration.

echo "1" >/proc/sys/net/bridge/bridge-nf-call-iptables

[2019-11-22 08:26] yrjyrj123 commented on #5924
I have the same problem with VMware.

[2019-11-22 08:53] #5948 closed

[2019-11-22 11:41] RA489 commented on #5938
@377123 You may not have installed any driver. If you don't want to install any driver you can use
`--vm-driver=none` option.

[2019-11-22 14:04] bygui86 commented on #4488
Sorry @tstromberg :( too busy to write down the documentation...
Many thanks to @JanAhrens to have made it!

[2019-11-22 14:06] bygui86 commented on #4488
The documentation of @JanAhrens is really good! Precise, concise and clear.
Great!

[2019-11-22 16:14] JanAhrens commented on #4488
Thanks @bygui86 and everyone who contributed. I found the steps in this issue very helpful.

[2019-11-22 17:55] irshad-amp opened #5958 "minikube crashed"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-11-22 18:00] ankitloud commented on #5938
perfect workaround is working for me.
1. sudo su
2. root@abcd:/home/user# minikube start --vm-driver=none

😄  minikube v1.5.2 on Ubuntu 16.04
🤹  Running on localhost (CPUs=4, Memory=1970MB, Disk=21083MB) ...
ℹ️   OS release is Ubuntu 16.04.6 LTS
🐳  Preparing Kubernetes v1.16.2 on Docker '18.09.8' ...
💾  Downloading kubeadm v1.16.2
💾  Downloading kubelet v1.16.2

[2019-11-22 18:47] davidnewman opened #5959 "Allow user to control NIC type when using virtualbox vm-driver"
I have noticed that with recent versions of minikube and virtualbox the network download and upload speeds when using the `virtio` NIC type are drastically worse than the native workstation speeds.

You can stop the minikube VM and change the NIC type of the NAT and see that the performance becomes almost the same as the workstation.

This is most likely an issue with virtualbox and not with minik

[2019-11-22 18:48] davidnewman commented on #5959
/assign

[2019-11-22 22:23] technomage commented on #4509
dizzastuh, I am not sure home has virtualization, which is required for minikube.

[2019-11-22 22:25] danmack opened #5961 "minikube config emits no such file config.json when setting container-runtime"
**The exact command to reproduce the issue**:

Below, setting configuration options for my minikube environment.  Minikube is not running when performing these commands.

(tensor) ~  > minikube config set cpus 6
⚠️  These changes will take effect upon a minikube delete and then a minikube start
(tensor) ~  > minikube config set memory 8192
⚠️  These changes will take effect upon a minikube delete

[2019-11-23 00:09] jenildoshi commented on #1926
I read all the above comments. Tried below steps,

`ls -la $(which docker-machine-driver-hyperkit)
-rwsr-xr-x  1 root  wheel  11314532 Nov 21 10:41 /usr/local/bin/docker-machine-driver-hyperkit`

Also ran,
`minikube delete && minikube start --vm-driver=hyperkit`
`minikube start --disk-size 35g --memory 8192 --vm-driver hyperkit`

I still get the same error and I am not connected to VPN too.
`🔄  Re

[2019-11-23 06:09] cxl123156 commented on #5815
have this issue  solved？i got the same problem.

[2019-11-23 06:47] dizzastuh commented on #4509
Ah, actually minikube does with with home. Issue resolved itself after a hard system reboot or two.

[2019-11-23 07:24] pravanjan commented on #5531
I had a similar issue on my Mac this worked for me.
 I use "minikube delete", then
 minikube start  --alsologtostderr -v=8

[2019-11-23 09:10] afbjorklund commented on #5961
This is a bug in the `IsContainerdRuntime` function, which tries to do `config.Load`

Which seems to be invalid, as that function is only supposed to be used with gvisor.

Introduced in 043c45ddf489e736ffaad434138a33b19b1aa8a4

@RA489 ?

[2019-11-23 09:25] mituso89 opened #5963 "I can't run k8s in WSL2"
![image](https://user-images.githubusercontent.com/29556841/69476515-6cbe5c80-0e0d-11ea-8c74-7eca71e0c671.png)

Pls help me. k8s in my windows is available. However i can't run k8s in wsl2
![image](https://user-images.githubusercontent.com/29556841/69476549-d0488a00-0e0d-11ea-986b-a8756045ef4e.png)

[2019-11-23 09:40] afbjorklund commented on #5961
Have no idea why this "crashes" on (allegedly) invalid configuration.

It would be enough with the "💣  Set failed:", once validation is correct.

[2019-11-23 10:27] afbjorklund opened #5965 "Upgrade podman and cri-o"
Currently we are running:

- Podman 1.4 (`v1.4.4`)
- CRI-O 1.15 (`v1.15.2`)

Should try to upgrade to:

- Podman 1.6 (`v1.6.3`) - https://github.com/containers/libpod/releases
- CRI-O 1.16 (`v1.16.0`) - https://github.com/cri-o/cri-o/releases

[2019-11-23 10:33] afbjorklund commented on #5965
Would also be nice to see if we can include buildah (#4166)

The above podman version `v1.6.3-0-g9d087f6` is vendoring buildah `v1.11.4-20-g20e92ff`

Having _both_ means user can choose between `podman build` and `buildah bud` (and friends)

For similar reasons as having support for `docker buildx`, I suppose.

[2019-11-23 14:22] danmack commented on #5961
Wow thanks for quick turnaround - one question - does the fix deal with the fact that apparently you can pass in both "crio" and "cri-o" as values for the runtime ?