[2021-03-10 20:01] ilya-zuyev commented on #6280
aws linux-arm64 runner added to mk Jenkins CI

[2021-03-10 20:15] medyagh commented on #10773
that is a good point, one way to fix this is to suggest our users to pass a filter to the docker system prune so it does not delete minikube stopped resources.
[code]

[2021-03-10 20:20] medyagh commented on #10148
@sobankhan12

Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

The exact minikube start command line used: preferably with --alsologtostderr -v=8 added.
The full output of the command
The full output of "minikube logs"
Please fe

[2021-03-10 20:21] medyagh commented on #10163
/triage needs-information
/kind support

[2021-03-10 20:22] medyagh commented on #10248
@mikala3 what error do u get ? have tried allocating more memory ? istio needs a lot of memory

[2021-03-10 20:23] medyagh commented on #10333
@AlexDag in latest version of minikube we added support for Ancient versions of docker
I still recommend u upgrade the docker version but if u have to use an ancient docker verison the latest minikube version (1.18.1) works with super old docker versions too

[2021-03-10 20:23] #10333 closed

[2021-03-10 20:27] #10776 closed

[2021-03-10 21:14] medyagh opened #10778 "fix registry addon for containerd runtime."
Our Registry addon is not working on Containerd

https://storage.googleapis.com/minikube-builds/logs/10758/9ba6c7c/Docker_Linux_containerd.html#fail_TestAddons%2fparallel%2fRegistry

[code]

[2021-03-10 21:26] #10761 closed

[2021-03-10 21:32] #10640 closed

[2021-03-10 21:57] medyagh opened #10780 "Investigate if minikube registry addon supports multiarch"

[2021-03-10 21:58] ilya-zuyev commented on #10780
/assign

[2021-03-10 21:59] medyagh opened #10781 "UI: make it hard to miss Important notices"
I noticed many ppl miss the notice to use different Port for Mac Os for registry addon

[code]

maybe we can have a new style that creates a Index Pointer Emoji in a Box with one line empty above and bellow so it is hard to miss

[code]

[2021-03-10 23:26] #9651 closed

[2021-03-10 23:26] #10669 closed

[2021-03-10 23:43] sharifelgamal commented on #10781
I support making important notes more obvious, but just as an aside, the sentence "Registry addon on with docker uses 55012 please use that instead of default 5000." is wildly unclear. 5000 of what?

[2021-03-11 01:48] minicloudsky commented on #10163
yes，i am interested in k8s and i had tried rancher,kuboard,kubesphere~ any suggestions will be appreciated

[2021-03-11 03:59] prezha commented on #10724
@wandellamaia obrigado pela sua resposta!

/close

[2021-03-11 03:59] #10724 closed

[2021-03-11 06:27] afbjorklund commented on #10780
Hi @ilya-zuyev

You will find that the registry itself is multi-arch (well, amd64/arm/arm64) but that the registry-proxy needs updating...
It probably did that anyway, but I don't think it will be a _major_ problem since nginx is multi-arch (being debian-based)

https://hub.docker.com/_/registry?tab=tags
https://hub.docker.com/_/nginx?tab=tags

It hasn't seen any updates since it was abandoned (in

[2021-03-11 06:31] afbjorklund commented on #10778
It was also broken for CRI-O, and had been broken for Docker too - if it had used CRI.

[2021-03-11 07:07] daehyeok commented on #10759
Actually, it should be updated always.

https://github.com/kubernetes/minikube/blob/d2cb052fca726f023c8c57b0377bc716061973cc/cmd/minikube/cmd/start_flags.go#L247-L252

but `updateExistingConfigFromFlags` func have multiple missing flags and check routine. Let's see we can fix&refactoring it.

[2021-03-11 07:55] Windrow commented on #10686
I'm a new minikube user, and I just encountered the same issue.

"Linux k8s-node 5.3.0-62-generic #56~18.04.1-Ubuntu SMP Wed Jun 24 16:17:03 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux"
"minikube is already the newest version (1.16.0)."

The trick is, if I'm using the command with root privileges:
"sudo minikube start
😄  minikube v1.16.0 on Ubuntu 18.04
✨  Automatically selected the docker driver. Oth

[2021-03-11 07:59] Windrow commented on #10686
minikube start --alsologtostderr -v=8
I0311 15:53:18.226174   20657 out.go:221] Setting OutFile to fd 1 ...
I0311 15:53:18.226973   20657 out.go:273] isatty.IsTerminal(1) = true
I0311 15:53:18.226992   20657 out.go:234] Setting ErrFile to fd 2...
I0311 15:53:18.227006   20657 out.go:273] isatty.IsTerminal(2) = true
I0311 15:53:18.227176   20657 root.go:280] Updating PATH: /root/.minikube/bin
W0311

[2021-03-11 09:07] chazzrobbz opened #10783 "Exiting due to MK_ENABLE: loading profile: cluster "minikube" does not exist"
**Steps to reproduce the issue:**

1.minikube-linux-amd64 addons enable ingress.
2.

❌  Exiting due to MK_ENABLE: loading profile: cluster "minikube" does not exist

😿  If the above advice does not help, please let us know:
👉  https://github.com/kubernetes/minikube/issues/new/choose

**Full output of `minikube start` command used, if not already included:**

😄  [devnation] minikube v1.18.1 on Cent

[2021-03-11 09:15] chazzrobbz commented on #10783
Found the solution. Silly mistake failed to include the -p flag in my minikube addons enable ingress command

minikube-linux-amd64 addons enable ingress -p devnation

[2021-03-11 09:32] barisdemir49 opened #10784 "test"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-03-11 09:32] chazzrobbz commented on #10783
▪ Using image us.gcr.io/k8s-artifacts-prod/ingress-nginx/controller:v0.40.2
    ▪ Using image jettech/kube-webhook-certgen:v1.2.2
    ▪ Using image jettech/kube-webhook-certgen:v1.3.0
🔎  Verifying ingress addon...

❌  Exiting due to MK_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]

😿  If the above advice does

[2021-03-11 09:36] chazzrobbz commented on #10783
▪ Using image us.gcr.io/k8s-artifacts-prod/ingress-nginx/controller:v0.40.2
    ▪ Using image jettech/kube-webhook-certgen:v1.2.2
    ▪ Using image jettech/kube-webhook-certgen:v1.3.0
🔎  Verifying ingress addon...
🌟  The 'ingress' addon is enabled

Re ran the initial command again. You have to be patient enough. 1 min or more. :)

[2021-03-11 12:43] SillyCode opened #10785 "Using Bridge to K8s to debug minikube on VMWare"
Hi all,

I have a `Win10` host system on which I'm running a `VMware Workstation` `Debian` VM.
This VM has `Docker` and `Minikube` (started with driver=none) running and all works quite well.

My question is. Is it possible to debug an application running on the `Minikube` cluster (on the VM)
from the `Visual Studio` on `win10` using the "Bridge to Kubernetes"?

Thank you

[2021-03-11 15:23] timhughes commented on #10248
Tried again on latest minikube
minikube version: v1.18.1
commit: 09ee84d530de4a92f00f1c5dbc34cead092b95bc

`kubectl logs -n istio-system pod/prometheus-7767dfd55-9wg5k -c istio-proxy`

Still getting the same errors

[code]

[2021-03-11 15:48] sunilbrian opened #10786 "error on 'minikube start' Failed kubeconfig update: could not read config"
$ minikube start
😄  minikube v1.18.1 on Oracle 7.9 (vbox/amd64)
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing docker container for "minikube" ...
🐳  Preparing Kubernetes v1.20.2 on Docker 20.10.3 ...
🤦  Unable to restart cluster, will reset it: getting k8s client: client config: client config: context "miniku

[2021-03-11 18:25] #10693 closed

[2021-03-11 19:01] #10786 closed

[2021-03-11 19:01] sunilbrian commented on #10786
.

[2021-03-11 19:02] sunilbrian commented on #10786
Had an issue with my config file, its resolved now

[2021-03-11 19:06] afbjorklund commented on #10438
As you probably know, this is what kind is doing (with the "node" image, that is layered on top of the "base" image)

[2021-03-11 19:28] afbjorklund commented on #10330
With the latest changes added to "minikube build", this can now be done with:

`minikube image build --tag=$IMAGE --push=$PUSH_IMAGE $BUILD_CONTEXT`

[2021-03-11 20:06] #10778 closed

[2021-03-11 20:09] medyagh opened #10788 "fix registry addon on Docker Driver with Containerd Runtime"
a follow up to this PR
https://github.com/kubernetes/minikube/pull/10782
 and this issue https://github.com/kubernetes/minikube/issues/10778

the PR https://github.com/kubernetes/minikube/pull/10782 fixed VM by enabling portmap the Bridge.
but KIC still has problem because sometimes Kindnet does not get picked up (do to the naming)
[code]

[2021-03-11 20:16] #10757 closed

[2021-03-11 22:49] spowelljr opened #10789 "Remove "use PORT instead of 5000" message when disabling registry addon"
Steps to reproduce:
1. `minikube start --driver=docker`
2. `minikube addons enable registry`
3. `minikube addons disable registry`

Output may include (not always) the following message:
`💡  Registry addon on with docker uses 56124 please use that instead of default 5000`

This should only be shown on enable, not disable.

[2021-03-11 22:53] spowelljr opened #10790 "Add real addon registry integration test"
Currently, the addon registry integration test tests against the Kubernetes client.
https://github.com/kubernetes/minikube/blob/master/test/integration/addons_test.go#L140

We should add a new test where we actually build and push the image to the registry.

[2021-03-12 00:53] bkeelan opened #10791 "minikube kubectl appends --cluster flag breaking exec commands"
Looks like [ #10535](https://github.com/kubernetes/minikube/pull/10535) may have introduced a bug
[code]

This causes issues when trying to run exec commands because the `--cluster` flag is always appended to the end leading to issues such as

[code]
[code]

[2021-03-12 00:54] #10539 closed

[2021-03-12 04:53] yogyogi commented on #10152
minikube start
`* minikube v1.17.1 on Microsoft Windows 10 Home Single Language 10.0.18363 Build 18363
* Using the docker driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Updating the running docker "minikube" container ...
* Preparing Kubernetes v1.20.2 on Docker 20.10.2 ...
* Verifying Kubernetes components...
* Enabled addons: storage-provisioner, de

[2021-03-12 06:59] afbjorklund commented on #10791
I have noticed this as well, ever since the introduction of that extra `--` in exec.

`kubectl exec [POD] [COMMAND] is DEPRECATED and will be removed in a future version. Use kubectl exec [POD] -- [COMMAND] instead.`

[2021-03-12 07:18] afbjorklund commented on #10788
I don't get bridge for KIC when running with CNI, it _tries_ to use kindnet...
But kubernetes gets started before, so there is a chicken-and-egg issue.

[2021-03-12 08:51] kmajcher-rh opened #10794 "Minikube fails on KVM2 on fresh minikube installation on Fedora 33 (with solution)"
**Steps to reproduce the issue:**

1. Follow instructions from https://github.com/kubevirt/demo
2. Install minikube instructions from https://github.com/kubernetes/minikube/ to install minikube
3. Run minikube with:
$ minikube config set vm-driver kvm2
$ minikube start --memory 4096

**Full output of failed command:**
Exiting due to PROVIDER_KVM2_ERROR: /usr/bin/virsh domcapabilities --virttype kv

[2021-03-12 09:42] tripolkaandrey commented on #10789
/assign @tripolkaandrey

[2021-03-12 11:48] afbjorklund commented on #10794
Hmm, wonder why you need to change cgroups v1 when running the "libvirt" driver ? (or at all, for that matter)

Adding your user to the libvirt group should be detailed in the Fedora documentation, but also mentioned here:

https://minikube.sigs.k8s.io/docs/drivers/kvm2/

It was supposed to be fixed here: #5617

[2021-03-12 11:50] afbjorklund commented on #10794
Since the libvirt daemon will be doing the qemu-kvm calls, I'm not sure _your_ user needs to be in the "kvm" group ?

[2021-03-12 13:09] kmajcher-rh commented on #10794
Regarding virt-host-validate - i had several errors there before i added "systemd.unified_cgroup_hierarchy=0".

But only after I've added my users to kvm and libvirt groups minikube started working for me. I added it to both groups, so I'm not sure if it would be enough to just add to libvirt group.

I opened this ticket to save couple hours of time i lost, trying to set up something that I was to

[2021-03-12 13:15] afbjorklund commented on #10794
As far as I know, it _should_ be enough with the "libvirt" group - but it would be great to get a confirmation.

The cgroups v1 used to be needed in order to run Docker and Kubernetes locally on the host (not in a VM),
but the latest versions should work also with cgroups v2 - even if there are lots of issues on Fedora still...

Thanks for opening the ticket, it is supposed to work out-of-the-box

[2021-03-12 13:27] afbjorklund commented on #10794
The main problem with **KubeVirt** is otherwise the nested virtualization...

Since it will use Kubernetes to start new VMs (!) rather than Pods,
running Kubernetes itself in a VM (like libvirt) complicates things.

https://kubevirt.io/user-guide/operations/installation/

But otherwise you would have to use a separate (physical) computer,
and run the cluster remotely on it. So it `might` be worth

[2021-03-12 13:57] kmajcher-rh commented on #10794
I can confirm that when I removed user from the kvm group, minikube works.
So adding user to libvirt group did the trick for me.

What would you recommend to do to address this issue and help people with similar problem?

[2021-03-12 14:04] rifat-0 opened #10796 "https://github.com/kubernetes/minikube/issues/9130"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-03-12 14:21] afbjorklund commented on #10794
We need to make it easier for people to verify that the underlying solution is sound,
whether it is VirtualBox or libvirt or Docker. It needs to be working OK first, I think ?

[2021-03-12 14:47] lukepolo commented on #10690
Going to mark it up to lens

[2021-03-12 14:47] #10690 closed

[2021-03-12 15:43] govargo opened #10797 "Upgrade csi-hostpath-driver addon to v1.6.0"
VolumeSnapshot is upgraded to GA by https://github.com/kubernetes/minikube/pull/10654.
But current csi-hostpath-driver addon is not latest version(It's using rc image version).

I'll send PR to upgrade csi-hostpath-driver addon to v1.6.0(latest).

/area addons

[2021-03-12 15:43] govargo commented on #10797
/assign

[2021-03-12 17:18] bhoopeshkumaar commented on #4010
Worked after minikube delete and start. Thanks.

[2021-03-12 17:29] vineetbhardwaj80 commented on #10751
Thanks, I could not find docker.service file used to configure docker daemon in Minkube. Could you kindly suggest.

[2021-03-12 19:14] teng1 commented on #10629
I have this same exact issue v1.18.0 It worked fine for one day, it stopped working since.

[2021-03-12 19:22] ilya-zuyev commented on #10780
Hi @afbjorklund! Thanks for info. We also want to test in this issue how our registry addon handles multi-arch images, including if it's possible to use it with `docker buildx --push ...`  and `docker manifest push`

[2021-03-12 22:04] spowelljr commented on #10789
Fix is merged with #10795, GitHub marked the PR as closed even though the changes are in-fact merged. GitHub was experiencing degraded performance during the time the PR was merged and marked the PR as Closed instead of Merged.

[2021-03-12 22:04] #10789 closed

[2021-03-12 22:17] medyagh opened #10802 "test errror spam: unexpected stderr: " > docker-machine-driver-kvm2."
error_spam_test.go:79: unexpected stderr: "    > docker-machine-driver-kvm2....: 65 B / 65 B [----------] 100.00% ? p/s 0s    > docker-machine-driver-kvm2: 11.39 MiB / 11.39 MiB [----] 100.00% ? p/s 0s"

I think the lib might be poluting the stderr for no reason, as seen in this test

https://storage.googleapis.com/minikube-builds/logs/10793/e8a35de/KVM_Linux.html#fail_TestErrorSpam

[2021-03-12 22:18] #10791 closed

[2021-03-12 23:31] ilya-zuyev opened #10803 "Add Jenkins job to upload preloads for arm64"
We have an ARM node now and can automate arm64 preloads upload

[2021-03-12 23:31] ilya-zuyev commented on #10803
/assign

[2021-03-13 05:01] FilBot3 commented on #10737
I'd be willing to help test, just need to know what would need to be done to test and what we're looking for. Since I haven't had a plain Kubernetes install yet work on Fedora with CRI-O, or much luck getting all of that to work except k3s using containerd-shims.

[2021-03-13 05:41] tripolkaandrey commented on #9217
@medyagh do you mind if assigned myself and tried it?

[2021-03-13 05:59] tstromberg commented on #10773
I don't understand this issue. Docker prune should absolutely prune stopped containers.

Pause does not stop containers.

[2021-03-13 08:10] afbjorklund commented on #4868
The final version ended up _slightly_ more complicated:

[code]

After adding support also for tag/push and env/opt.

[2021-03-13 08:19] afbjorklund commented on #8526
There was already supports for cgroups v2 in podman and in crun.

https://fedoraproject.org/wiki/Changes/CGroupsV2

The important thing was that Kubernetes would work with it, as well.

We have _other_ Fedora issues now, like cri-o or btrfs.

----

Still need the warning though, when running with older versions...

But there should now be a check available: `IsCgroup2UnifiedMode`

[2021-03-13 08:58] afbjorklund commented on #10744
I think go-containerregistry only supports Docker, it's a limitation in the API...

But it probably shouldn't say "docker image", but instead "container image".

So that it works with any container runtime, both on host and in the cluster.

All of them will support network images and archive images, though.

Examples:

`docker.io/library/busybox:latest`

`./busybox_latest.tar`

Some other tools pr

[2021-03-13 13:23] prezha opened #10804 "TestLogFile/SetLogFile fails: open ~/.minikube/logs/audit.json: no such file or directory"
if `~/.minikube` folder structure does not exist (incl. after `minikube delete --all --purge`), the test will fail:

[code]

[2021-03-13 13:23] prezha commented on #10804
/assign

[2021-03-13 13:30] Myssiry opened #10805 "Trouble setting up minikube in Alpine Linux"
Can you please help me with installing minikube on Alpine Linux?
I am following instruction from https://minikube.sigs.k8s.io/docs/start/

**Steps to reproduce the issue:**

1. Have docker installed(https://wiki.alpinelinux.org/wiki/Docker)
2. Install curl `sudo apk add curl`
3. Download minikube `curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64`
4. Add minikub

[2021-03-13 13:38] afbjorklund commented on #10744
Implemented **both** commands, in `minikube image load`.

If the argument exists as a file, it is assumed to be a tarball.

[2021-03-13 14:16] afbjorklund commented on #10805
Try downloading again, looks like your file got corrupted ?

Ultimately you would want to compare the checksum as well:

[code]

Before you install it. Unfortunately, there are no signatures yet.

[2021-03-13 14:38] Myssiry commented on #10805
Checksum is fine.
I have also tried downloading it fresh a few times.
This is not the problem sadly.
[code]

[2021-03-13 14:41] Evalle commented on #9217
@tripolkaandrey feel free to work on it!
/assign @tripolkaandrey

[2021-03-13 16:21] afbjorklund commented on #10805
And you are on same architecture, etc ?

[code]

[2021-03-13 16:42] afbjorklund commented on #10805
That does indeed seem to be the case.

Tried running with `alpine:latest`:

[code]

So the regular binary **doesn't** work.

Only the static, that I had built myself.

[2021-03-13 16:45] afbjorklund commented on #10805
Unfortunately the Alpine package is quite out-of-date: (0.35.0, 2019)

https://pkgs.alpinelinux.org/package/edge/testing/x86_64/minikube

[2021-03-13 17:00] Myssiry commented on #10805
Actually I am on `i686`. That might be a problem too.

[2021-03-13 17:07] tripolkaandrey commented on #9217
@Evalle okay. Thank you for assigning me

[2021-03-13 17:08] afbjorklund commented on #10805
Yeah, that has not be tried afaik. There are no images and no binaries, for that 32-bit platform...

Kubernetes supports 32-bit, but only partially and only on ARM (mostly because of Raspberry Pi)

`ALL_ARCH = amd64 arm arm64 ppc64le s390x`

I am afraid you will have to upgrade.

[2021-03-13 17:15] Myssiry commented on #10805
Ok, thanks for you help.

[2021-03-13 17:19] afbjorklund commented on #10805
Both i686 and armv6 are basically in the same situation, they are too old and too small for regular Kubernetes.

You will be able to run some Docker containers, but you would be better off with e.g. Nomad for orchestration.

[2021-03-13 17:21] Myssiry commented on #10805
I was able to get rancher to work on it before. Althought it was running Ubuntu before. So I will probably just go back to it.
I assume I can close this issue now?

[2021-03-13 17:21] afbjorklund commented on #10805
Due to the 2 GB memory requirement, we will probably only target Raspberry Pi 4 for minikube anyway.

So as soon as Raspberry Pi OS goes 64-bit by default, there will be no more 32-bit platforms around.

[2021-03-13 17:23] afbjorklund commented on #10805
Yes, there are no kubernetes images and no minikube images around for this platform (`x86`, 32-bit)

So you would have to compile everything yourself, and I don't think it would be worth the trouble ?

[2021-03-13 17:23] #10805 closed

[2021-03-13 17:25] afbjorklund commented on #10805
We should probably have GNU C Library and 64-bit architecture listed as requirements in the "fine print"

And if someone is using Alpine Linux on x86_64, it would probably be a good idea to update that old apk...

[2021-03-13 17:30] afbjorklund opened #10808 "Add some more "fine print" to the installation requirements"
Somebody recently tried to install minikube on 32-bit Alpine Linux:

~~#10805~~

This failed, for two different reasons:

- the regular minikube binary requires GNU C Library
- we don't have any 32-bit binaries for x86 available

[2021-03-13 18:24] sheikhimtiaz opened #10809 "Slow system docker: "GUEST_STOP_TIMEOUT: context deadline exceeded""
**Steps to reproduce the issue:**

1.  Start the minikube start
2.  See the dash board with : minikube dashboard
3. Then finally: minikube stop (This is where command fails with following output)

I0314 00:18:46.930471    9555 out.go:239] Setting OutFile to fd 1 ...
I0314 00:18:46.931253    9555 out.go:291] isatty.IsTerminal(1) = true
I0314 00:18:46.931266    9555 out.go:252] Setting ErrFile to fd

[2021-03-13 19:28] RvKmR-WaGh commented on #3649
I faced same issue. I just restarted minikube. and issue solved.

[2021-03-13 19:33] afbjorklund commented on #10785
I think the none driver still binds to all interfaces, rather than localhost, so you can (ab)use that...
Instead of the regular 127.0.0.1, you use the VM IP. Eventually that **bug** will be fixed though: #4313

https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/

Otherwise when accessing a kubernetes cluster on a remote host, one normally uses SSH tunnels.
So you tunnel to

[2021-03-13 20:50] cheslijones opened #10812 "Reaching running application in minikube at 'localhost' on Linux"
I use `--driver=docker` and `minikube tunnel` in Windows (WSL2 and native) and macOS (Intel and M1) which makes the app running in the minikube cluster accessible in browser at `localhost` after applying `ingress-nginx`.

To make things consistent across Linux, macOS and Windows for a list of reasons that really aren't relevant to the question, I'd like to do the same in Linux (Ubuntu/Pop!_OS in p

[2021-03-14 00:27] prezha opened #10813 "potential nil pointer dereference error"
in cmd.validateDriver(), there could be a nil pointer dereference error:

https://github.com/kubernetes/minikube/blob/ff0e25ada888cf1bd7b262857ce96531c1231e69/cmd/minikube/cmd/start.go#L749-L750

/assign

[2021-03-14 00:41] prezha commented on #10784
test passed! :)

/close

[2021-03-14 00:41] #10784 closed

[2021-03-14 02:23] Myssiry commented on #10805
Hello, just wanted to tell you that I found a solution to my problem.
I was accidentally using the wrong version of Alpine Linux.(Which was build for different architecture.)
I reinstalled my OS with the `x86_64 ` version of Alpine Linux.
Minikube works perfectly now.
Thank you for your help. I would not have realized this without you.

[2021-03-14 05:56] pribalaji58 opened #10815 "whilw start minikube on windows 10 i am getting below error could you please help me for a solution"
C:\tools>minikube start
* minikube v1.3.1 on Microsoft Windows 10 Home Single Language 10.0.18363 Build 18363
! Kubernetes downgrade is not supported, will continue to use v1.19.4
* Downloading VM boot image ...
minikube-v1.3.0.iso.sha256: 65 B / 65 B [--------------------] 100.00% ? p/s 0s
minikube-v1.3.0.iso: 131.07 MiB / 131.07 MiB [-------] 100.00% 2.66 MiB p/s 50s
* Tip: Use 'minikube start -

[2021-03-14 05:57] pribalaji58 commented on #10815
C:\tools>minikube start
* minikube v1.3.1 on Microsoft Windows 10 Home Single Language 10.0.18363 Build 18363
! Kubernetes downgrade is not supported, will continue to use v1.19.4
* Downloading VM boot image ...
minikube-v1.3.0.iso.sha256: 65 B / 65 B [--------------------] 100.00% ? p/s 0s
minikube-v1.3.0.iso: 131.07 MiB / 131.07 MiB [-------] 100.00% 2.66 MiB p/s 50s
* Tip: Use 'minikube start -

[2021-03-14 07:23] #9469 closed

[2021-03-14 08:41] afbjorklund commented on #10812
So the difference between those two deployments are if it uses a LoadBalancer or a NodePort

[code]

So if I understood your question, you want "minikube tunnel" to work with Docker Engine

I think this is currently governed by "NeedsPortForward":

[code]

Whereas Linux actually provides network access (`docker0`)

The logic above says that VMs and Docker Engine have IPs,
but that Remote Docker an

[2021-03-14 09:08] afbjorklund commented on #10805
Glad to know it worked out!

Unfortunately our current method of installation requires the user to know their Operating System and their Architecture...

Most users don't reallly care, they just want to install something that works on their machine - or get a warning if it does not.

But we'll continue to document.

![caution-5096068_960_720](https://user-images.githubusercontent.com/10364051/1110

[2021-03-14 11:54] afbjorklund commented on #10812
Now that docker driver creates private networks, it is normally 192.168.0.0 being used.

[code]

But there is no _need_ for a localhost proxy, since the network is reachable directly...

[code]
[code]

But we _could_ make it "opt-in", also on Linux, and it would use the same `ssh` there:

❗  The service ingress-nginx-controller requires privileged ports to be exposed: [80 443]
🔑  sudo permission w

[2021-03-14 13:10] afbjorklund commented on #10808
Similarly, we should document that `armv7` is needed for ARM.
(there are no binaries available anymore, for armv6 and older)

And probably also _recommend_ running `arm64`, if at all possible ?
https://www.raspberrypi.org/blog/latest-raspberry-pi-os-update-may-2020/

https://www.raspberrypi.org/forums/viewtopic.php?f=117&t=275370

See https://www.raspberrypi.org/software/operating-systems/

The re

[2021-03-14 13:24] runlevel5 opened #10816 "[request] RPM package for linux-ppc64le"
Hi team

Is there any chance if we could build RPM package for linux-ppc64le too?

I am happy to contribute code changes if it helps

Many thanks

[2021-03-14 13:26] afbjorklund commented on #10808
Even the most innocent statements are still ambiguous:

https://minikube.sigs.k8s.io/docs/start/

Would that be "cores", or "vCPU" (threads) ? And is it "mebibytes" and "gibibytes" ?

The traditional interpretation has used 2 vCPU, 2048 MiB mem and 20,000 MiB disk.

That normally works out to around 600 MiB memory and 15,000 MiB disk available.

[code]

Most people would like to double these, to 4

[2021-03-14 14:06] afbjorklund commented on #10816
Are you able to check if the current build rules work OK ?

`make out/minikube-$(make rpm_version).ppc64le.rpm`

Sometimes they argue a bit, about what the arch is called...

That's why we have these copy targets, for amd64 and arm64

[2021-03-14 14:20] afbjorklund commented on #10781
It should probably at least say "**port** 5000", maybe even given an example.

https://docs.docker.com/registry/deploying/

[2021-03-14 14:24] afbjorklund commented on #10781
Or you could go to town and use: https://github.com/Delta456/box-cli-maker

[2021-03-14 14:27] afbjorklund commented on #10781
Even more aside, this "insecure registry" hack with localhost:5000 is getting old...

One of these days, we would have to deploy a _real_ registry with _real_ storage ?

https://github.com/kubernetes/minikube/issues/10780#issuecomment-796494711

Until then, there is `minikube image` for all your container runtime image needs.

[2021-03-14 14:31] SillyCode commented on #10785
As far as I understand VS unable to access the VM even if I copy the K8S config file over the host.
And using the VM IP address, still does not seem to get me to where I want to be. See image below:
![image](https://user-images.githubusercontent.com/5475378/111072026-7d528480-84e1-11eb-9dfc-9f75f151c879.png)

Also, not sure how do I make use of `kubectl proxy` for my benefit.

Resorted to using th

[2021-03-14 14:33] runlevel5 commented on #10816
FYI

[code]

and the build runs without any error:

[code]

[2021-03-14 16:06] afbjorklund commented on #10816
I meant as the official name for the architecture packages.

I looked here: https://alt.fedoraproject.org/alt/

We can probably add both .ppc64le.rpm and .s390x.rpm ?

Should be one-liners in the release scripts.

[2021-03-14 16:17] afbjorklund commented on #10816
In some kind of obscure joke, Debian uses "ppc64el" instead of "ppc64le" as the arch

Given the nature of big endian vs. little endian meaninglessness, it seems appropriate...

[2021-03-14 16:50] afbjorklund commented on #10785
I think this could be a good topic for a tutorial, how to connect to a remote computer running minikube...

[2021-03-14 17:06] #10785 closed

[2021-03-14 18:35] prezha opened #10820 "Flake Tests: fix driver.IndexFromMachineName()"
driver.IndexFromMachineName() could return unexpected results for randomly-generated node names in tests

### example
https://storage.googleapis.com/minikube-builds/logs/10683/927d8b9/Docker_Linux.html#fail_TestOffline

[code]
and the tests would then fail with the node's ip address of 192.168.79.0...

explanation - currently, IndexFromMachineName https://github.com/kubernetes/minikube/blob/ff0e25

[2021-03-14 22:03] runlevel5 commented on #10816
Actually there are more people using Debian and Ubuntu on PPC64LE than Fedora AFAIK.

The workaround to get it build seems trivial. If you need anything from me, please let me know

[2021-03-14 23:39] allanchau commented on #9720
/remove-lifecycle stale

[2021-03-15 00:44] prezha opened #10822 "Flake KVM_Linux_crio multinode tests?"
example: https://storage.googleapis.com/minikube-builds/logs/10683/41f77af/KVM_Linux_crio.html

all TestMultiNode tests on KVM_Linux_crio (jenkins) fail with the error:
[code]
and that's because https://github.com/kubernetes/minikube/blob/ff0e25ada888cf1bd7b262857ce96531c1231e69/pkg/minikube/cni/cni.go#L112-L126
will recommend bridge:
[code]
but bc of https://github.com/kubernetes/minikube/blob/ff

[2021-03-15 01:30] hetong07 commented on #10624
Found this info. Is it related?
[code]

[2021-03-15 01:32] hetong07 commented on #10625
It also has following error info, does it mean we have to increase docker memory limit?
[code]

[2021-03-15 06:24] afbjorklund commented on #10816
Good to know. It should be straight-forward to offer the binaries also in .rpm and .deb formats

Too bad that the hosting of yum and apt indexes didn't work out, but maybe in the future...

[2021-03-15 07:42] SillyCode commented on #10785
Actually, connecting to the VM is not a problem. It has NAT and bridged net cards defined.
So we do have explicit and direct access to it over SSH and over port 80/443.
So you are able to access K8S services on your web browser without any tunneling.
But having the VS IDE connecting to the VM cluster is a different issue.

[2021-03-15 08:06] afbjorklund commented on #10785
minikube is only supposed to be available to the local learning environment, i.e. localhost

[2021-03-15 10:30] wapiflapi opened #10830 "DNS not working when building Dockerfiles FROM alpine:3.13 only in minikube"
I was investigating broken docker builds because of DNS issues and narrowed it down to building `FROM alpine:3.13` specifically on minikube inside virtualbox. So I don't know if this is the right place for this bug report.

Starting with a fresh minikube / virtualbox install:

[code]

[code]

Testing with `debian` also doesn't show DNS issues.

What makes me think this might be a minikube issue is

[2021-03-15 10:33] wapiflapi commented on #10830
OKay, minutes after posting this I found:
  - https://github.com/alpinelinux/docker-alpine/issues/149

Which is probably related.

[2021-03-15 11:01] cglacet commented on #9858
@robinpercy  disabling / enabling worked for me too.

[2021-03-15 11:37] anencore94 commented on #10790
Hi @spowelljr !, If  you don't mind, would I take this issue ?

And I guess you mean the Line #L224 not #L140, right?

https://github.com/kubernetes/minikube/blob/ff0e25ada888cf1bd7b262857ce96531c1231e69/test/integration/addons_test.go#L224

Also, I think testing `docker push` and `docker pull` the image to the registry is fine, building the new image on test time is not what we want to test actua

[2021-03-15 12:55] prezha opened #10831 "Flake KVM_Linux_crio/Docker_Linux_crio: TestAddons/parallel/Ingress - extensions/v1beta1 Ingress is deprecated in v1.14+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress"
examples:
- https://storage.googleapis.com/minikube-builds/logs/10683/41f77af/KVM_Linux_crio.html#fail_TestAddons%2fparallel%2fIngress
- https://storage.googleapis.com/minikube-builds/logs/10683/a578121/Docker_Linux_crio.html#fail_TestAddons%2fparallel%2fIngress

[code]
/assign

[2021-03-15 14:40] prezha opened #10833 "race condition while trying to create network: subnet is taken"
a race condition can happen between detecting the free network subnet and trying to use it to create a network

to demonstrate it through an example, i've added a retry mechanism with some additional dbg output:
// example log: https://storage.googleapis.com/minikube-builds/logs/10683/fdd355d/Docker_Linux.html

- **container x**
[code]
in parallel, another **container y** raced for the same 192.16

[2021-03-15 16:38] medyagh commented on #8234
haven't seen this happen  either. will close, plz reopen if needed

[2021-03-15 16:38] #8234 closed

[2021-03-15 16:39] medyagh commented on #10740
@abdelmonem17 do u mind sharing the full Steps and full logs ? and what error do u get ?

[2021-03-15 16:44] medyagh commented on #10756
@abdelmonem17 I believe that should work in all namespaces here are the notes from the Docs

[code]

https://github.com/upmc-enterprises/registry-creds#registry-credentials

does that answer your question ?

[2021-03-15 16:44] medyagh commented on #10756
/triage needs-information
/kind support

[2021-03-15 16:44] medyagh commented on #10740
here is the docs from the addon maintainer if it helps https://github.com/upmc-enterprises/registry-creds#registry-credentials

[2021-03-15 16:45] medyagh commented on #10740
/triage needs-information
/kind support

[2021-03-15 16:49] medyagh commented on #10764
@joneshf-cn  seems like you found the root cause, two things on your system trying to use 5000 port, I am curious why you use None driver ?

is there a chance you could use Docker Driver or the KVM driver so you could access the registry addon on the `$(minikube ip):5000` ?

[2021-03-15 16:49] medyagh commented on #10764
/triage needs-information
/kind support

[2021-03-15 16:52] medyagh commented on #10768
@kadel thanks for this issue, I would be happy to accept a PR that updates the version to latest version,

by the way minikube addon has an option to provide your own image to the addon
$ minikube addons enable --help
[code]

[2021-03-15 16:54] medyagh commented on #10762
@ale8k on macos the tunnel I believe uses localhost (due to the docker network limiations)
if you would like a full IP support, have u tried the hyperkit driver ? that has more network freedom.

[2021-03-15 16:54] medyagh commented on #10762
/triage needs-information
/kind support

[2021-03-15 16:54] medyagh commented on #10771
@ilya-zuyev

[2021-03-15 16:55] medyagh commented on #10771
@thetruechar  I suspect you might wanna download a newer version of the preview docker, do u mind sharing the exact docker version ?
would u plz share the output of

"docker version"
and
"docker info"
and
"docker system info"

[2021-03-15 16:55] medyagh commented on #10771
/triage needs-information
/kind support

[2021-03-15 16:59] medyagh commented on #10772
@OrpheonZeroh que es un error interesante, ¿te importa compartir, sospecho que el sistema operativo elemnatry no tiene un "/ tmp" escribible
¿Te importa compartir la salida de
''
ls -lah / tmp /
''

-----
@OrpheonZeroh that is an interestnig error, do u mind sharing, I suspect the elemnatry OS does not have a writeable "/tmp"

do u mind sharing the output of

``
ls -lah /tmp/
[code]

[2021-03-15 16:59] medyagh commented on #10772
/triage needs-information
/kind support

[2021-03-15 17:00] medyagh commented on #10772
@spowelljr this issue feels  similar to the Snap not being able to write to /tmp  (for elementary OS linux)
https://github.com/kubernetes/minikube/issues/10772

maybe we could generalize the logic for SNAP if we can't write to /tmp/ then just write to home folder ?

[2021-03-15 17:03] medyagh commented on #10783
@chazzrobbz glad u found the correct usage :) I will close this issue. please feel free to reopen if needed

[2021-03-15 17:03] #10783 closed

[2021-03-15 17:04] medyagh commented on #10790
@anencore94 go for it !

[2021-03-15 17:05] medyagh commented on #10796
Thank you @rifat-0  for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[code

[2021-03-15 17:07] afbjorklund commented on #10830
What does `/etc/resolv.conf` look like ? Docker is supposed to handle it, for the containers.

A normal virtualbox setup has an internal `eth0` net, that runs a DNS server on `10.0.2.3`

[code]

[code]

[2021-03-15 17:11] afbjorklund commented on #10830
I should also mention that systemd _hates_ the virtualbox servers (both DHCP and DNS)

[2021-03-15 17:24] wapiflapi commented on #10830
I checked that and should have put it in the issue: The `/etc/resolv.conf` file looked the same on the vm (checking from ssh) and in the container. And it is the same as what you mentioned,  `10.0.2.3`.

So it looks like the virtualbox set-up is as expected, and the `resolv.conf` in the container is as expected as well. So I suspect this is a bug with alpine's recent release and not with minikube,

[2021-03-15 17:33] afbjorklund commented on #10830
If I call correctly, there were also some quirks when it came to musl and resolving

Alpine uses a different C library, and sometimes it behaves differently

[2021-03-15 17:45] afbjorklund commented on #10830
The ticket references these:

https://gitlab.alpinelinux.org/alpine/aports/-/issues/6221

https://www.virtualbox.org/ticket/18171

So it looks like yet another unhappy DNS customer

[2021-03-15 18:21] forresthopkinsa commented on #1203
I had a different error: after my Macbook went to sleep and woke back up, I couldn't start the dashboard or access the Minikube network. Stopping and starting minikube would interrupt a long-running operation, so I instead did `minikube pause -A && minikube unpause -A` and it fixed the problem.

[2021-03-15 19:16] joneshf-cn commented on #10764
Sorry, my original comment might have been unclear. There was not a conflict with `docker` or some other thing outside of `minikube` using port 5000. It was a problem with whatever was making the `registry` image within `minikube` using port 5000 while `registry-proxy` also wanted port 5000. I.e. the title change doesn't really reflect the issue.

I don't know what was causing the `registry` image

[2021-03-15 19:16] #10764 closed

[2021-03-15 20:06] #10816 closed

[2021-03-15 20:13] medyagh commented on #10781
@afbjorklund I like the box idea, we could add it for the Exit with Advcice too

for example in this UI, it is easy to miss the "Suggestion" without a box
[code]

[2021-03-15 20:32] medyagh commented on #10163
for terminal Brwoser of k8s I suggest using k9s https://github.com/derailed/k9s
I close this issue for now as it is not related to minikube

[2021-03-15 20:32] #10163 closed

[2021-03-15 20:45] medyagh opened #10836 "add support for rootless Docker"
continuation of https://github.com/kubernetes/minikube/issues/9495

[2021-03-15 21:23] azhao155 commented on #10836
/assign @azhao155

[2021-03-15 21:24] medyagh commented on #10652
we should add a solution message if Docker is Rootless that the support will come in the future and track this issue
https://github.com/kubernetes/minikube/issues/10836

[2021-03-15 21:31] medyagh commented on #10547
closing same as the other one

[2021-03-15 21:31] #10547 closed

[2021-03-15 21:32] medyagh commented on #10497
same as https://github.com/kubernetes/minikube/issues/10772

[2021-03-15 21:32] #10497 closed

[2021-03-15 21:33] medyagh commented on #10498
we fixed this on master to not auto select ssh driver

[2021-03-15 21:33] #10498 closed

[2021-03-15 21:43] daehyeok commented on #10652
/assign

[2021-03-15 22:38] iamnoah commented on #8439
The [workaround](https://github.com/coredns/coredns/issues/2164#issuecomment-427970152) I am using to only have the IP hardcoded in one place is to create a headless service and an endpoint that is the minikube ip:

[code]

This will update the IP in one go:

[code]

You can then resolve `minikube-host` (or minikube-host.$namespace.svc.cluster.local).

[2021-03-15 23:03] medyagh opened #10840 "migrate all Jenkins GCP vms from N1 to E2"

[2021-03-15 23:16] #10482 closed

[2021-03-15 23:25] sharifelgamal commented on #10840
[code]

[2021-03-16 00:08] spowelljr commented on #10790
@anencore94 Yes, I did mean line 224 and not 140, that was my mistake.

[2021-03-16 00:33] medyagh commented on #10833
@prezha nice catch ! @prezha how about we add a Lock before the generating Subnet ?

[2021-03-16 01:31] medyagh commented on #10815
@pribalaji58 the minikube u are using is more than 1 year old (very very old)
do u mind updating the minikbue to latest version ? and see if u have same problem ?

and then paste the output of
[code]
/triage needs-information
/kind support

[2021-03-16 01:33] medyagh commented on #10809
@sheikhimtiaz minikube indicates that the Docker is very very slow on your machine, it took 19 Seconds to do "docker inspect"

do u mind trying this and see if it helps ?
[code]

[2021-03-16 01:33] medyagh commented on #10809
/triage needs-information
/kind support

[2021-03-16 01:36] medyagh commented on #10248
@timhughes hw much memory did you allocate to your Docker Desktop and minikube ?

I nticed u are using multi node --nodes=4 --cpus=4

is there a reason you are using 4 nodes ?

it is unlikely that you need multi node on local cluster,  how much memory your system has ?

[2021-03-16 01:36] medyagh commented on #10248
/triage needs-information
/kind support

[2021-03-16 01:36] anencore94 commented on #10790
/assign

[2021-03-16 01:37] medyagh commented on #10680
@clamprecht01 is there a reason you are providing your own --base-image ?

[2021-03-16 01:37] medyagh commented on #10680
/triage needs-information
/kind support

[2021-03-16 01:37] #9161 closed

[2021-03-16 02:12] aschleck commented on #10160
I just hit this on Debian and sort-of of understand why it's happening.

In the original bug report GitHub stripped a crucial `<nil>` because the error was not in backticks.

[code]

Tracing through where that nil comes from, it appears that https://github.com/kubernetes/minikube/blob/1562092a9e3b77746785603068a0088837e118a4/cmd/minikube/cmd/mount.go#L113 somehow ends up in the situation where ip

[2021-03-16 03:51] medyagh commented on #10812
@cheslijones does that answer your question ?

[2021-03-16 03:51] medyagh commented on #10812
/triage needs-information
/kind support

[2021-03-16 03:56] medyagh commented on #10797
sounds good !

[2021-03-16 03:57] medyagh commented on #10593
@mconner  do u have this issue with latest version of minikube ? 1.18.1 ?

[2021-03-16 06:39] afbjorklund commented on #10836
Related to #9495 and #8719 (for podman)

[2021-03-16 06:44] afbjorklund opened #10843 "Add support for running kubectl remotely as an alternative"
Some clients don't have the possibility to run the kubernetes client locally, due to binaries not being available...

But we already install `kubectl` on the control plane in the cluster, so we can run that using the `ssh` connection.

[code]
[code]

This makes minikube accessible on more platforms.

Especially when using the `ssh` driver for the cluster.

[2021-03-16 06:58] afbjorklund opened #10845 "Running minikube on outdated and unsupported platforms"
Running minikube requires `amd64` for x86, and at least an `armv7` (but preferrably `arm64`) for ARM...

It also requires 2 GB of RAM and 20 GB of hard disk, which might not be available on the local machine.

But we could _still offer_ `minikube start` and the kubernetes experience on these machines, for learning ?

Assuming that there is _another_ computer available to run the actual cluster (bu

[2021-03-16 07:35] orrymr opened #10846 "Minikube failing to start. ARM64 (M1 MacBook Pro), using Rosetta."
**Steps to reproduce the issue:**

1. curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-darwin-arm64
2. sudo install minikube-darwin-arm64 /usr/local/bin/minikube
3. minikube start --alsologtostderr

**Full output of failed command:**

[code]

[2021-03-16 07:35] afbjorklund commented on #10812
I think we need the option, at least for the `ssh` driver. There are no guarantees the other ports are opened...

[2021-03-16 08:37] dabcoder commented on #10122
@medyagh I've not noticed any date/time issues on my machine, very unlikely to be the case there.

That would be good yes.

[2021-03-16 10:27] jordicea opened #10847 "Ingress addon not working on Apple m1 (using docker driver)"
**Steps to reproduce the issue:**

1. `minikube start --vm-driver=docker --memory 4096 --kubernetes-version "v1.20.0" --disk-size "70g" --cpus 3 --wait=false`
2. `minikube addons enable ingress`

**Full output of failed command:**
[code]

[2021-03-16 13:56] sudhakarreddyambati commented on #4350
how to fix permanently without disabling firewalld or any workaround?

[2021-03-16 14:43] TheEvisu opened #10848 ":("
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-03-16 15:31] clamprecht01 commented on #10680
I found that the core issue was actually related to the kube-proxy pod was using the kube-scheduler image.

Bad kube proxy output (offline):

kubectl describe pod kube-proxy-zxv2w -n kube-system | select-string "Image"

    Image:        <internal_IP>:5000/kube-proxy:v1.20.0
    Image ID:      docker-pullable://k8s.gcr.io/kube-scheduler@sha256:beaa710325047fa9c867eff4ab9af38d9c2acec05ac5b416c708c3

[2021-03-16 15:37] clamprecht01 commented on #10680
@medyagh

I have to use the --base-image flag or else the creation step fails.  Even though this step isn't detailed documentation, I found another ticket that informed me of this flag

"
PS C:\Docker_images\Wolfpack_TM\Integ> minikube start --vm-driver=docker --insecure-registry="<internal IP>:5000" --embed-certs
* minikube v1.18.1 on Microsoft Windows 10 Enterprise 10.0.19042 Build 19042
* Using

[2021-03-16 16:02] clamprecht01 commented on #10680
Found that issue was either with:
 - Minikube Version 16 (no longer issue when upgraded to version 18.1)
 - Testing environment had bad images (possibly when transferring to offline system, I named/tagged images incorrectly)

Closing issue.

[2021-03-16 16:02] #10680 closed

[2021-03-16 16:31] shafeer786 opened #10849 "Kubernetes"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-03-16 16:35] #9925 closed

[2021-03-16 16:36] medyagh commented on #10846
@orrymr have u tried without rosseta ?

[2021-03-16 16:38] medyagh commented on #10848
@TheEvisu  Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[cod

[2021-03-16 16:39] medyagh commented on #10843
sounds like a good idea !

[2021-03-16 16:39] medyagh commented on #10849
@shafeer786
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[co

[2021-03-16 16:40] medyagh commented on #10845
I dont see why not !

[2021-03-16 16:40] medyagh commented on #10243
@lukepolo do u happeng to be using it with rosetta ?

[2021-03-16 16:41] medyagh commented on #10771
@thetruechar  do u happen to be using it with rosetta ? have you tried it without it ?

[2021-03-16 16:41] medyagh commented on #10846
seems to be same as https://github.com/kubernetes/minikube/issues/10771 https://github.com/kubernetes/minikube/issues/10243

[2021-03-16 16:53] medyagh commented on #10847
@jordicea  that is right we currently haven't added full support to ingress on Mac due to the network limiations of docker on Mac,
(that wont give u an accessible IP to the docker container) there are other way you co do such as using `minikube tunnel`

as minikube suggested To track the update on this work in progress feature please check:
https://github.com/kubernetes/minikube/issues/7332

[2021-03-16 16:53] medyagh commented on #10847
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[code]

This wi

[2021-03-16 17:07] medyagh commented on #10039
we fixed it by not allowing it

[2021-03-16 17:07] #10039 closed

[2021-03-16 17:08] medyagh commented on #9652
have't tseen this in a while

[2021-03-16 17:08] #9652 closed

[2021-03-16 18:02] riklopfer commented on #2481
This is still a problem despite the issue being closed. Is there a work-around? Should this issue be repoened or a new one created?

[code]

[code]

[2021-03-16 18:21] #9198 closed

[2021-03-16 18:45] timhughes commented on #10248
My Local machine has 24 cores and 64GB ram and the disks are nvme rated at 3500MB/s so I am not worried about resources

I am attempting to run rook-ceph which requires 3 worker nodes

[2021-03-16 19:13] medyagh commented on #10846
@orrymr do u mind checking how u have installed docker ? is the latest Preview version for Docker M1 ?

[2021-03-16 21:32] mikala3 commented on #10248
[code]

minikube start --profile=${CTX_CLUSTER1} --cpus=6 --memory=20g --driver=kvm2 --nodes=2 --addons storage-provisioner,default-storageclass,metallb

[2021-03-16 21:49] #10729 closed

[2021-03-16 22:46] riklopfer opened #10851 "macOS mount: mounted directory is empty"
This is pretty much a re-reporting of the closed issue #2481

**Steps to reproduce the issue:**

[code]

[code]

[2021-03-17 00:07] jordicea commented on #10847
- minikube version: v1.18.1
- driver: docker

Output for the command `minikube start --vm-driver=docker --memory 4096 --kubernetes-version "v1.20.0" --disk-size "70g" --cpus 3 --wait=false --alsologtostderr -v=8`:

<details>
<pre>
I0317 00:53:06.159633   61979 out.go:239] Setting OutFile to fd 1 ...
I0317 00:53:06.159764   61979 out.go:267] MINIKUBE_IN_STYLE="0"
I0317 00:53:06.159768   61979 out.g

[2021-03-17 00:09] jordicea commented on #10847
[Minikube logs](https://gist.github.com/jordicea/292d308b082dbbbbb965dffcb677c4c4)

[2021-03-17 00:37] OrpheonZeroh commented on #10772
hi ls -lah /tmp/ output @medyagh
total 68K
drwxrwxrwt 16 root    root    4.0K mar 16 19:34 .
drwxr-xr-x 24 root    root    4.0K mar  9 12:39 ..
-rw-------  1 alberts alberts    0 mar 16 19:24 config-err-o5cX0i
drwxrwxrwt  2 root    root    4.0K mar 16 19:09 .font-unix
drwxrwxrwt  2 root    root    4.0K mar 16 19:25 .ICE-unix
-rw-------  1 alberts alberts    0 mar 16 19:32 juju-mke07d338ee843c08295

[2021-03-17 01:35] AKovtunov commented on #3378
[code]
[code]

Any help?

[2021-03-17 01:35] tstromberg opened #10852 "--containerd-runtime=containerd: ctr: content digest sha256:x: not found (reproducible)"
On macOS (arm64), running `minikube start --driver=docker --container-runtime=containerd` with v1.18.1 results in load issues across multiple runs. In this latest run, it is with the storage-provisioner, in the other it was with coredns.

Altogether, it feels like a race condition of some sort.

[code]

[containerd-1-startlog.txt](https://github.com/kubernetes/minikube/files/6153110/containerd-1-s

[2021-03-17 02:18] tstromberg commented on #10852
Second log:

[containerd-2-startlog.txt](https://github.com/kubernetes/minikube/files/6153283/containerd-2-startlog.txt)

[2021-03-17 02:24] tstromberg opened #10854 "logs command outputs lines slowly, takes >45 seconds to run"
I realized that on macOS, with minikube v1.18.1, the logs command runs so slowly that I can literally see the lines drawn individually. A ran it with the `time` command, and it can take over a minute to run. Here is output from my last, slightly faster run:

[code]

It feels like the buffer is flushed between each line, but I don't see the CPU load to indicate that is in fact the case. We should t

[2021-03-17 03:11] tstromberg commented on #10852
At first I thought this might be a race condition relating to preload & running purge before-hand, but I'm also seeing similar issues simply running `minikube start --driver=docker --container-runtime=containerd                                                                                                                                                                                `:

[code]

(

[2021-03-17 03:27] tstromberg commented on #10852
FWIW, this is with the latest Docker M1 Preview: `3.1.0 (60984)`

[2021-03-17 03:44] tstromberg commented on #10846
The `qemu` message says to me 3 things:

* The user is probably using the `amd64` download of minikube on `arm64` (so it's running in rosetta)

* minikube isn't aware of the concept of the running architecture being different than the compiled architecture, so it's maybe requesting the amd64 Docker images for kicbase? It shouldn't have a different architecture name, so that would be weird.

* Dock

[2021-03-17 04:52] sgirem463 commented on #10437
/assign @sgirem463

[2021-03-17 05:49] Brainstack-andry opened #10855 "Enabling 'ingress' returned an error: running callbacks: ...."
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

eadmins-MacBook-Pro-5:brands andrey.zi$ make fixVpn && make init
.scripts/fix-vpn.sh
Password:
No ALTQ support in kernel
ALTQ related functions disabled
nat cleared
pfctl: Use of -f option, could result in flushing of rules
present in the main

[2021-03-17 06:01] Karmavil commented on #10852
Do you neet this parameter `--container-runtime=containerd`?

[2021-03-17 07:00] afbjorklund commented on #10852
I think the workaround will have to be running in a VM, until Docker is out of Preview...

Since we don't have any ISO yet, that would have to use a user-provided virtual machine.

[2021-03-17 07:44] sgirem463 commented on #10437
@priyawadhwa
I have just started to contribute to kubernetes, it's my first issue. I read code and document in
https://github.com/kubernetes/minikube/blob/master/cmd/performance/mkcmp/cmd/mkcmp.go
https://minikube.sigs.k8s.io/docs/handbook/config/

Am I right that I basically need to repeat this command:

    startCmd := exec.CommandContext(ctx, binary.path, "start", fmt.Sprintf("--driver=%s", dri

[2021-03-17 07:49] Karmavil commented on #10852
What if you pass the containerd socket? --container-runtime-endpoint:///var/run/dockershim.sock

[2021-03-17 09:50] govargo commented on #10852
I tested same command macOS(Big Sur, 11.2.2), not reproduced.

[code]

I agree this issue depends on M1 docker.
https://kubernetes.slack.com/archives/C1F5CT6Q1/p1615963898008500?thread_ts=1615951102.003000&cid=C1F5CT6Q1

[2021-03-17 10:14] orrymr commented on #10846
Unfortunately, I can't do that at the moment as I'm relying on this machine's Docker+Rosetta installation too much.

[2021-03-17 10:15] orrymr commented on #10846
![image](https://user-images.githubusercontent.com/2097481/111451725-677bd400-871a-11eb-8ed3-49f3141fedd2.png)

[2021-03-17 10:18] orrymr commented on #10846
I am attempting to use the `arm64` version. I did so by installing thusly:
[code]
(I did try the `amd64` version earlier, as well, but no luck there either).

Please let me know if there is anything else my side you'd like me to provide. I'm happy to help where I can.

[2021-03-17 12:07] afbjorklund commented on #10854
Results on Ubuntu:

[code]

[2021-03-17 12:39] husseinferas opened #10857 "minikube addons enable logviewer"
❌  Exiting due to MK_ENABLE: run callbacks: running callbacks: [sudo KUBECONFIG=/var/lib/minikube/kubeconfig /var/lib/minikube/binaries/v1.19.4/kubectl apply -f /etc/kubernetes/addons/logviewer-dp-and-svc.yaml -f /etc/kubernetes/addons/logviewer-rbac.yaml: Process exited with status 1
stdout:
service/logviewer unchanged
serviceaccount/sa-logviewer unchanged
clusterrole.rbac.authorization.k8s.io/cr

[2021-03-17 15:21] Type1J commented on #1340
If anybody gets here because networking isn't working for a container started outside of Kubernetes 2 things:

* AWS Removed the bridge network interface unless you add an option to `bootstrap.sh`. See: https://github.com/awslabs/amazon-eks-ami/issues/183
* If you want a quick fix (that may or may not be a good solution), you can use `--network=host` when you invoke `docker run ...` or `docker bui

[2021-03-17 15:37] govargo commented on #10855
/kind bug
/area addons

Thank you for opening this issue.
Ingress addons looks like containing old apiVersion of RoleBinging.

/assign

[2021-03-17 17:09] spowelljr commented on #10855
Hi @Brainstack-andry, thanks for reporting your issue! Could you re-run `minikube start` with the `--alsologtostderr` flag to provide more in-depth logs to help with debugging, thanks!

[2021-03-17 17:16] spowelljr commented on #10847
Hi @jordicea, since this issue seems to be the same as #7332 and that issue already has a lot of discussion, would it be ok if I close this issue and you can track #7332 for developments?

[2021-03-17 17:29] spowelljr commented on #9217
Thanks for taking the issue @tripolkaandrey!

[2021-03-17 17:37] spowelljr commented on #8925
The title of this issue is to simply add Linux to the header, but there is different information required between Mac and Linux so just updating the header is not sufficient. For that reason I'm going to close this issue, but feel free to reopen.

[2021-03-17 17:37] #8925 closed

[2021-03-17 17:38] tripolkaandrey commented on #9217
@spowelljr I am glad to help

[2021-03-17 17:42] spowelljr commented on #10851
@riklopfer I can re-open the closed issue you're referencing if you'd rather keep the discussion there.

[2021-03-17 17:59] rajendar38 opened #10859 "error: converting to : type names don't match (Unknown, RawExtension), and no conversion 'func (runtime.Unknown, runtime.RawExtension) error' registered. from config"
**Steps to reproduce the issue:**

1.install latest version of minikube
I Installed  into  Ubuntu 18.04.3 LTS
amd64 / x86_64
Binary download
 curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
 sudo install minikube-linux-amd64 /usr/local/bin/minikube

2. run kubectl config view
get error :
kubectl config view
error: converting  to : type names don't match (Unkno

[2021-03-17 18:09] OrpheonZeroh commented on #10772
that's right

On Wed, Mar 17, 2021, 12:26 Steven Powell ***@***.***> wrote:

[2021-03-17 18:12] sharifelgamal commented on #10474
Hey @liakaz, did the above suggestion help at all?

[2021-03-17 18:13] sharifelgamal commented on #9430
I'm going to go ahead and close this issue. Feel free to reopen if you have further issues or questions.

[2021-03-17 18:13] #9430 closed

[2021-03-17 18:15] spowelljr commented on #10499
Hi @waldiirawan, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-17 18:15] #10499 closed

[2021-03-17 18:16] spowelljr commented on #10127
Hi @ConradKrinock, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-17 18:16] #10127 closed

[2021-03-17 18:16] prezha commented on #10708
@sharifelgamal agreed with @ilya-zuyev's 2nd option and also with what @medyagh proposed - ie, warn the user and provide a cleanup command to use if they wish so

[2021-03-17 18:17] spowelljr commented on #9971
Hi @mashanivas, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-17 18:17] #9971 closed

[2021-03-17 18:18] spowelljr commented on #10447
Hi @daddykeba, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-17 18:18] #10447 closed

[2021-03-17 18:19] spowelljr commented on #10299
Hi @Yinten, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-17 18:19] #10299 closed

[2021-03-17 18:21] tejal29 commented on #10859
I am see this error too.
[code]

I couldn't find the `minikube logs` since i deleted the cluster
[code]

[2021-03-17 18:21] tstromberg commented on #10859
My gut instinct says this is because of the new annotations minikube adds to the KUBECONFIG file -- but your kubectl (v1.16.0) is too old to understand them.

[2021-03-17 18:22] ilya-zuyev commented on #10589
Duplicate https://github.com/kubernetes/minikube/issues/9744

[2021-03-17 18:22] #10589 closed

[2021-03-17 18:22] prezha commented on #10688
@hlulaniM  `HTTP_PROXY` is an environment variable, and the value you've got is really strange (eg, having a local path instead of a network address); can you please check and also provide additional information (https://github.com/kubernetes/minikube/issues/10688#issuecomment-789066684)

thanks!

[2021-03-17 18:22] sharifelgamal commented on #10006
yeah `exec format error` usually happens when you install a binary for the wrong platform, like installing a darwin binary on linux for example. as @afbjorklund mentioned, minikube always provides its own kubectl internally for ease of use.

[2021-03-17 18:23] #10469 closed

[2021-03-17 18:24] sheikhimtiaz commented on #10809
Thanks @medyagh for your kind response.
I have tried the above commands and it seems somewhat stable now. works fine. I will let you know if the problem reappears again.

[2021-03-17 18:25] tejal29 commented on #10859
My kubectl version is
[code]

[2021-03-17 18:26] prezha commented on #10620
@gfengster thank you for using minikube and reporting the problem.

we did not hear from you recently, so i'll close this issue and kindly ask you to open another one if you still face issues, providing additional information as proposed [above](https://github.com/kubernetes/minikube/issues/10620#issuecomment-786256420), so that we can track down the problem.

thank you

/close

[2021-03-17 18:26] #10620 closed

[2021-03-17 18:27] spowelljr commented on #10059
@springcomefromprogrammingtheworld Is your issue solved now? Or are you still having the issue?

-----

@springcomefromprogrammingtheworld 您的问题现在解决了吗？还是您还有问题？

[2021-03-17 18:30] sharifelgamal commented on #10382
We do not currently support multiple control planes in minikube, it's a feature that's currently under development, see #7461.

[2021-03-17 18:30] #10382 closed

[2021-03-17 18:31] spowelljr commented on #10011
@mudasar187 Did updating to the newest version of minikube fix the issue?

[2021-03-17 18:31] spowelljr commented on #10011
Hi @mudasar187, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-17 18:31] #10011 closed

[2021-03-17 18:32] prezha commented on #10296
hey @adithyak21 – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:
    * Whether the issue occurs with the latest minikube release
    * The full output

[2021-03-17 18:32] #10296 closed

[2021-03-17 18:35] sharifelgamal commented on #9030
We definitely need someone to take a deeper look at the service command on windows. Help wanted!

[2021-03-17 18:35] tejal29 commented on #10859
After updating `kubectl` to version v1.17+. i was able to switch context after creating a minikube cluster.

[code]

[2021-03-17 18:37] prezha commented on #10440
@dxviidmg  we don’t yet have a clear way to replicate this issue. Do you mind adding some additional details?

Here is additional information that would be helpful:

    * The exact minikube start command line used
    * The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.
    * The full output of minikube logs
    * The full output of kubectl ge

[2021-03-17 18:37] salrashid123 commented on #9430
thanks for the input (sorry, i didn't get a chance to understand and then try it out).  If i figure out how to do this, i'll update the repo i cited here
* https://github.com/salrashid123/k8s_webhook_helloworld  << that used to work and i'm trying to make it work w/ the current config.

i'll update this when i get it going,

thx.

[2021-03-17 18:38] ilya-zuyev commented on #9601
Hey @hoantv! Thanks for reporting this issue. Do you mind trying minikube version 1.18.1 and start it with `-v=5` argument to get more logs? Thanks!

[2021-03-17 18:41] spowelljr commented on #9403
Hi @joearul09, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-17 18:41] #9403 closed

[2021-03-17 18:41] prezha commented on #10392
hey @xuchuan-666, thank you for opening the issue.

just to clarify, are you using minikube (eg, with 'none' driver), or just kubeadm?

thanks!

[2021-03-17 18:44] prezha commented on #10360
hey @shreesh2106  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:
* The exact minikube start command line used
* Whether the issue occurs with the la

[2021-03-17 18:44] #10360 closed

[2021-03-17 18:46] lingsamuel commented on #10059
He said

means solved.

[2021-03-17 18:49] spowelljr commented on #10772
@OrpheonZeroh Gotcha, the issue is that packages installed via Snap can only see their own files in `/tmp`. So the problem is that mininkube is copying a file to `/tmp` for Docker to copy, but because Docker is managed by Snap, it prevents it from seeing that file, resulting in `no such file or directory`. We'll have to something to detect if Docker is installed via Snap and write to the users hom

[2021-03-17 18:56] sharifelgamal commented on #9914
Yeah minikube historically has a lot of problems when it comes to VPNs, specifically for the reason you mentioned. We have some suggestions in our docs about it ([here](https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/#possible-workarounds)), but we should definitely be better about VPN detection.

[2021-03-17 19:04] riklopfer commented on #10851
@spowelljr that makes sense to me. i prefer the "important-soon" tag on this one though. 😼

[2021-03-17 19:04] spowelljr commented on #10059
@lingsamuel Thanks

Since this is solved I'm going to close the issue.

Feel free to reopen the issue if needed.

[2021-03-17 19:04] #10059 closed

[2021-03-17 21:56] mdenend opened #10861 "registry-creds may not be working with gcr"
Hi there,

I am currently using minikube v1.18.1, commit 09ee84d530de4a92f00f1c5dbc34cead092b95bc, running minikube as a Docker image on macOS 10.15.

I followed the directions given here to try and connect to gcr here from within minikube: https://minikube.sigs.k8s.io/docs/handbook/registry/

I am still not able to connect to my gcr (getting `ImagePullError` for my pod) after running `minikube ad

[2021-03-17 22:41] spowelljr commented on #10851
Reopened the issue and attached the `important-soon` tag. I'll close this issue now.

[2021-03-17 22:41] #10851 closed

[2021-03-18 01:47] orlygh opened #10862 ""minikube start" or "minikube start -- vm-driver=virtualbox""
**Steps to reproduce the issue:**

1. minikube start
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-03-18 01:52] orlygh opened #10863 ""minikube start" or "minikube start -- vm-driver=virtualbox""
**Steps to reproduce the issue:**

1.on a amd_64 w10 pro powershell CLI, I run the "minikube start" or "minikube start -- vm-driver=virtualbox"  and I get the same output
* minikube v1.18.1 on Microsoft Windows 10 Pro 10.0.19042 Build 19042
* Using the ssh driver based on existing profile

X Exiting due to MK_USAGE: No IP address provided. Try specifying --ssh-ip-address, or see https://minikube.s

[2021-03-18 04:26] tstromberg commented on #10852
I was able to unintentionally replicate this on arm64 Linux today as well:

[code]

[2021-03-18 05:12] sanjarora opened #10864 "Error creating Virtualbox with minikube"
Team , getting below error as I install minikube on my local setup @ macos

Exiting due to RUNTIME_ENABLE: Run: "/bin/bash -c \"sudo mkdir -p /etc && printf %s \"runtime-endpoint: unix:///var/run/dockershim.sock\nimage-endpoint: unix:///var/run/dockershim.sock\n\" | sudo tee /etc/crictl.yaml\"": NewSession: new client: new client: dial tcp 127.0.0.1:49881: connect: connection refused

please find

[2021-03-18 05:45] husseinferas commented on #10857
Thank you for reply @spowelljr

- The version of minikube.  _**v1.15.1**_
- The driver you are using. (docker, virtualbox, hyperv....)    _**docker**_
- The Operation system you are using (windows, mac or linux and version of it)    _**linux ubunut 20 desktop**_
- The full output of the command you are using by adding --alsologtostderr, for example:

` I0318 08:45:10.371538   23734 out.go:185] Set

[2021-03-18 06:00] afbjorklund commented on #10852
Can you try it also without the preload ? I will try to duplicate with the latest, on `arm64`

I know that etcd upstream had some "issues" regarding their architecture tagging...

[2021-03-18 06:33] afbjorklund commented on #10859
This is why we include "minikube kubectl", to get a version that matches the cluster.

[2021-03-18 06:35] afbjorklund commented on #10863
Please try re-installing Virtualbox, and then do "minikube delete" before trying again with "minikube start"

A future version of minikube will _avoid_ selecting the "ssh" driver by default, unlesss requested by the user

[2021-03-18 06:36] afbjorklund commented on #10862
See #10863

[2021-03-18 06:36] #10862 closed

[2021-03-18 08:15] sgirem463 commented on #10437
@priyawadhwa
The current idea is to have:

// CompareMinikubeStart compares the time to run `minikube start` between two minikube binaries
func CompareMinikubeStart(ctx context.Context, out io.Writer, binaries []*Binary) error {
        runtimes := []string{"docker", "containerd"}
	drivers := []string{"kvm2", "docker"}
        for _, r := range runtimes {
	       for _, d := range drivers {

and p

[2021-03-18 11:09] abdelmonem17 commented on #10740
I use docker as driver instead of none for minikube and I managed to use addons

[2021-03-18 11:09] #10740 closed

[2021-03-18 11:28] afbjorklund commented on #10852
Yeah, I can confirm the crash. Avoid the preload didn't help either.

[code]

That memory warning is probably quite useless, 1700M or 1800M or 1900M

[2021-03-18 11:37] afbjorklund commented on #10852
The none driver works better, but ran into a little "sudo" issue:

[code]

[2021-03-18 11:37] oddczv1 opened #10866 "Exiting due to RUNTIME_ENABLE"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-03-18 11:38] #10866 closed

[2021-03-18 13:07] orlygh commented on #10863
re-installing Virtualbox, and then do "minikube delete" before trying again with "minikube start"

minikube delete failed  see below

PS C:\Users\Orly> minikube delete
* Uninstalling Kubernetes v1.20.2 using kubeadm ...
E0318 08:57:47.638230   16004 delete.go:391] unpause failed: list paused: docker: NewSession: new client: new client: dial tcp 192.168.56.1:22: connectex: A connection attempt fail

[2021-03-18 14:13] tstromberg commented on #10863
Try running `minikube delete` - it seems like you might have an existing profile that used the ssh feature.

[2021-03-18 17:02] ilya-zuyev commented on #10852
Looks like https://github.com/kubernetes/minikube/issues/10402

[2021-03-18 17:10] spowelljr commented on #10857
Hi @husseinferas, thanks you very much for your response.

I did some digging for your issue, based on the logs you provided me it seems the issue is `apply failed, will retry` followed by `error converting YAML to JSON: yaml: line 25: did not find expected key`.

Here's a past issue that seems to have the same problem you're experiencing #9722.

Based on that issue this seems to be an issue speci

[2021-03-18 17:29] spowelljr commented on #10809
@sheikhimtiaz I'm glad this solved your issue, I'm going to close this ticket, feel free to reopen if needed.

[2021-03-18 17:29] #10809 closed

[2021-03-18 17:58] spowelljr commented on #10864
Thank you @sanjarora for sharing your experience! If you don't mind, could you please provide:

- The full output of the command you are using by adding --alsologtostderr, for example:
[code]

This will help us isolate the problem further. Thank you!

/triage needs-information
/kind support

[2021-03-18 19:01] samuelarogbonlo opened #10869 "Docker is nearly out of disk space, which may cause deployments to fail! (98% of capacity)"
**Steps to reproduce the issue:**

1. ```minikube start --disk-size=20g -p minikube --kubernetes-version=v1.20.2```
**Full output of failed command:**
[code]

Also, I performed ```df -h``` and the following showed up to show the /var logs. I'd like to possibly increase the availability on /var or better still move the docker and ```minkube``` operations to my /dev/sda1 FS (if it is possible)

[cod

[2021-03-18 22:58] prezha opened #10870 "kvm: add "Troubleshooting KVM networks" section with commands to docs"
page: https://minikube.sigs.k8s.io/docs/drivers/kvm2/
ref: https://github.com/kubernetes/minikube/issues/9878#issuecomment-791536076

/assign

[2021-03-18 23:30] Pictor13 commented on #4621
Any progress or idea on how to fix this issue?

I've been damned by this problem for the last year and half.
It creates issues that require lot of investment in debugging, to then figure out that it's a Minikube issue. And there is not a clear solution; that makes it even more daunting :(

Shouldn't it be at least mentioned somewhere in Minikube documentation?

[2021-03-19 00:40] rejohnst commented on #8966
FWIW, I still see this issue on Minikube 1.16.0 (Linux, kvm2 driver).  Please let me know if there's any information I can provide to help debug this.

[2021-03-19 02:35] ica10888 commented on #7903
I just run command  ` sudo usermod -aG docker $USER && newgrp docker`  on Ubuntu , and it worked.
Could see more details in this document [manage-docker-as-a-non-root-user](https://docs.docker.com/engine/install/linux-postinstall/#manage-docker-as-a-non-root-user)

[2021-03-19 04:53] Pictor13 commented on #9757
Hi @spowelljr , hi @priyawadhwa ,\
sorry I've missed the Github notifications.

Yes, I've looked at the linked issue. The workaround solved the resolution of symlinks.\
So at least I can run the `minikube mount` command from any directory on my host machine.

-----
However, as mentioned above, this is not a viable long-term solution since it requires the user to **always remember to manually mount

[2021-03-19 05:09] Pictor13 commented on #9757
/reopen

[2021-03-19 05:39] g-smaller opened #10871 "Mac Pro M1 minikube start 失败"
**重现问题所需的命令**：
minikube start --image-mirror-country=cn --iso-url=https://kubernetes.oss-cn-hangzhou.aliyuncs.com/minikube/iso/minikube-v1.18.1.iso --registry-mirror=https://8kpthpel.mirror.aliyuncs.com --driver=docker --v=5
**失败的命令的完整输出**：<details>
😄  Darwin 11.2.3 上的 minikube v1.18.1
✨  根据现有的配置文件使用 docker 驱动程序
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...

[2021-03-19 06:33] dminGod commented on #5660
I was getting the /tmp/juju-xxxx permission denied error
I removed the offending files : `rm /tmp/juju-*` and it worked fine after that.

[2021-03-19 07:17] afbjorklund commented on #10852
Confirm that using **both** `--preload=false` and `--cache-images` fixes it (on `arm64`).

Didn't think it would be broken on the server side, especially after dropping arch tags...

[2021-03-19 08:04] TomDinunzioMH commented on #9745
We came across this issue. In our case both the people running into the issue had $DOCKER_HOST set to an URL locally on their hosts.
I beleive it was broken by 996b05bfc10dcd98515c7fd45363383821a79ff6.
If the $DOCKER_HOST env is not an IP, net.ParseIP() returns nil, which gets added to /var/lib/minikube/certs/apiserver.crt as Subject Alternative Name.

ie.
[code]
As a workaround unsetting $DOCKER_

[2021-03-19 10:13] atrbgithub commented on #3417
@BrianHuf thanks for sharing your solution. Using minikube this works for us.

Unfortunately without this method we just get the error as per the issue title.

[2021-03-19 11:47] dkadetov opened #10874 "Using a proxy with containerd runtime"
Now I use the default container runtime (`docker`) in minikube. And at the start, I specify the option to use a proxy:
[code]
But what about using `containerd`? How can I specify the environment setting in this case?
[code]
In production we are already using a containerd. Therefore, I need to use it in minikube too.
I only found [solution](https://github.com/containerd/cri/issues/834#issuecomment-

[2021-03-19 12:12] afbjorklund commented on #10874
We need to make the docker-env more generic, and use something like --runtime-env and --runtime-opt

For now, you will have to edit the configuration using `minikube ssh` (or from the bootup script perhaps)

[2021-03-19 12:15] afbjorklund commented on #10863
If you want to delete _everything_ and start over (with virtualbox), there is a "minikube delete --purge"

[2021-03-19 15:05] omkar120 opened #10876 "Exiting due to HOST_BROWSER: failed to open browser: exec: "cmd": executable file not found in %PATH%"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-03-19 16:43] clamprecht01 opened #10877 "custom addon images get ignored on minikube restart"
**Note this environment is entirely air-gapped.
minikube start --driver=docker --base-image="<local_IP>:5000/gcr.io/k8s-minikube/kicbase:v0.0.18" --insecure-registry="<local_IP>:5000" --image-repository="<local_IP>:5000" --alsologtostderr  2>&1 >> [minikube_clean_startup_logs.log](https://github.com/kubernetes/minikube/files/6172761/minikube_clean_startup_logs.log)

Note this capability added with

[2021-03-19 17:32] spowelljr commented on #10876
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr, for example:
[code]

This will help us isolate the problem further. Than

[2021-03-19 18:29] spowelljr commented on #10846
@orrymr There are multiple issues all describing the same problem, to centralize the information I'm going to close this issue. Please follow #10243 for updates about this issue and feel free to contribute. If you don't feel that issue accurately describes the same issue as this feel free to reopen.

[2021-03-19 18:29] #10846 closed

[2021-03-19 18:30] spowelljr commented on #10771
@thetruechar There are multiple issues all describing the same problem, to centralize the information I'm going to close this issue. Please follow #10243 for updates about this issue and feel free to contribute. If you don't feel that issue accurately describes the same issue as this feel free to reopen.

[2021-03-19 18:30] #10771 closed

[2021-03-19 18:31] spowelljr commented on #10871
@g-smaller There are multiple issues all describing the same problem, to centralize the information I'm going to close this issue. Please follow #10243 for updates about this issue and feel free to contribute. If you don't feel that issue accurately describes the same issue as this feel free to reopen.

-----

@g-smaller 有多个问题都描述了同一问题，以集中信息，我将解决此问题。请关注＃10243，以获取有关此问题的更新，并随时为我们做出贡献。如果您不觉得该问题准确地描述了相

[2021-03-19 18:31] #10871 closed

[2021-03-19 18:36] spowelljr commented on #10243
Copying @tstromberg's comment from a duplicate issue to centralize information. https://github.com/kubernetes/minikube/issues/10846#issuecomment-800771368

[2021-03-19 18:42] lukepolo commented on #10243
I was able to get it working with the new docker. Closing.

[2021-03-19 18:58] spowelljr commented on #10869
Hi @samuelarogbonlo, thanks for reporting your issue.

First, you're setting the disk size on an existing cluster, as per the message in your log:
`❗  You cannot change the Disk size for an exiting minikube cluster. Please first delete the cluster.`

To change the disk size run, first delete the cluster:
`minikube delete -p minikube`
And then try starting the cluster again.

Secondly, did any of t

[2021-03-19 19:09] spowelljr commented on #10243
@gchicoye @orrymr @thetruechar @g-smaller

@lukepolo said he was able to get it working with the new version of Docker, could you try updating Docker to the latest version and see if it's fixed for you as well?

[2021-03-19 19:09] MadhavJivrajani commented on #9457
/assign

Hey, I'd like to take this up if that's okay, here's what I was thinking of changing here: https://github.com/kubernetes/minikube/blob/a4d35d56d58659db187f8f9a238e2c22677c7d6d/cmd/minikube/cmd/status.go#L395-L399

[code]

Does that sound okay?

[2021-03-19 19:18] samuelarogbonlo commented on #10869
I have done all that but issue persists

[2021-03-19 21:49] afbjorklund opened #10883 "Make the provisioner interface support more container runtimes"
Currently the libmachine interface is _quite_ targetted towards Docker:

[code]

It needs to at least know _which_ runtime to install, during provisioning ?

And the swarmOptions and engineOptions need a generic replacement...

---

Currently the provisioner in minikube is broken, in that it doesn't provision.

It just assumes that all container runtimes are always present on the node.

The origin

[2021-03-19 21:55] serain commented on #3208
@bhishekarora you would target developers using minikube, and from there pwn the things the developers have access to.

1. phish employees who you know are likely to be using minikube locally. just get them to click a link.
2. run a waterhole on a website you control (i.e. "Getting started with Kubernetes using Minikube" or "Explore the latest Kubernetes features with Minikube")

one thing to note

[2021-03-19 21:58] afbjorklund commented on #10883
It should be possible to start with a pretty "blank" machine.

And the Provisioner install the container runtime.
Then the Bootstrapper installs kubernetes on that.

Currently there are some "grayzones" like CRI and CNI.

[2021-03-19 22:00] afbjorklund commented on #10883
This is a prerequisite for removing the runtimes: #9989

[2021-03-19 23:22] somard commented on #3461
due to changes or new requirements from git, please run the following commands:
git -C /usr/local/Homebrew/Library/Taps/homebrew/homebrew-core fetch --unshallow

[2021-03-19 23:33] rodolfo-seedcx commented on #2302
I'm still seeing the same problem with:
Mac OS: Darwin 10.15.7
Minikube: v1.18.1
Kubernetes: v1.20.2
Docker 20.10.3
VirtualBox: 6.1.18 r142142

[2021-03-19 23:34] rodoufu commented on #2302
I'm still seeing the same problem with:
Mac OS: Darwin 10.15.7
Minikube: v1.18.1
Kubernetes: v1.20.2
Docker 20.10.3
VirtualBox: 6.1.18 r142142

[2021-03-20 05:53] sovbangit opened #10884 "wsl2: System has not been booted with systemd as init system (PID 1). Can't operate."
**Steps to reproduce the issue:**

1. Install minikube in WSL 2
2. Install virtual box
3. Start minikube

**Full output of failed command:**

minikube start

**Error**

**System has not been booted with systemd as init system (PID 1). Can't operate.**

**Optional: Full output of `minikube logs` command:**
<details>

sovban@DESKTOP-CE0M4V1:/c/WINDOWS/system32$ minikube start
😄  minikube v1.18.1 on

[2021-03-20 23:31] aucampia opened #10885 "minikube start fails on fedora 33 if firewalld has nftables as FirewallBackend"
**Steps to reproduce the issue:**

1. Install minikube on fedora 33
2. run minikube start

**Full output of failed command:**

[code]

Switching firewalld to `FirewallBackend=iptables` fixes the problem.

[2021-03-21 05:41] vifar commented on #8439
@iamnoah's solution worked for me. I am able to get successful requests.

[2021-03-21 06:59] vishjain commented on #10164
/assign

[2021-03-21 07:05] vishjain commented on #9795
@tstromberg I'm still hitting this issue. Not fixed yet right?

[2021-03-21 07:08] vishjain commented on #9795
/assign

[2021-03-21 08:09] afbjorklund commented on #7012
Unfortunately progress is only implemented for `tarball`, but not for `daemon`.

But that API only supports running Docker anyway, so it is obsolete-by-design.

[code]

[2021-03-21 13:28] orrymr commented on #10243
@spowelljr
No, I updated to Docker Desktop RC1. I get this error:

[code]

I should note, that in my[ original issue](https://github.com/kubernetes/minikube/issues/10846), I'd installed the arm64 version of Minikube. I have subsequently uninstalled that. The error above I got after installing Minikube amd64:

[code]

What is strange to me, is that the error above references Docker 20.10.3. However

[2021-03-21 17:42] #7012 closed

[2021-03-21 19:06] afbjorklund commented on #7012
Turns out that go-containerregistry doesn't do pull, but uses load from archive internally...

[2021-03-21 20:15] medyagh commented on #10883
thanks for noting this @afbjorklund I think this is important, since we making containerd as Default as possible. I

[2021-03-21 20:19] afbjorklund commented on #10885
Probably worth mentioning, on the driver page.

Soon going to need a whole page for Fedora, as well

[2021-03-21 20:20] afbjorklund commented on #10883
The main downside of this at the moment, is that you have to install and configure your own container runtime.

[2021-03-22 05:42] Chuyukang commented on #10646
新版minikube的dashboard，storage-provisioner，metrics-scraper镜像好像阿里云没有代理，能麻烦告知一下你们用的那个版本的minikube/kubernetes吗？

[2021-03-22 06:22] Chuyukang opened #10889 "Minikube dashboard and storage-provisioner image pull failed in China"
**Steps to reproduce the issue:**

1. minikube start --image-mirror-country=cn
2. minikube dashboard

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

😄  Arch  上的 minikube v1.18.1
✨  根据现有的配置文件使用 docker 驱动程序
👍  Starting control plane node minikube in cluster minikube
🏃  Updating the running docker "minikube" container ...
🐳  正在 Docker 2

[2021-03-22 06:26] Chuyukang commented on #10889
The image urls for storage-provisioner, dashboard, metrics-scraper are wrong.

Dashboard and metrics-scraper image is available on docker hub. But minikube dashboard will use the wrong url, even if change the image manually.

Storage-provisioner image does not seem to be available on docker hub.

[2021-03-22 07:08] jiefenghe commented on #9397
How do I make the driver "uninstalled or unavailable" in the test?

1. for docker, I'm planning to run `docker system prune -a` and then cut the internet by pointing http proxy to a random address. Will this make the docker unavailable?
2. Do I need to add cases for other drivers? How to make them "uninstalled or unavailable"?

[2021-03-22 08:32] NatureLingRan opened #10896 "初始化失败"
**重现问题所需的命令**：
minikube start --driver=docker
**失败的命令的完整输出**：<details>
😄  Darwin 11.2.3 上的 minikube v1.18.1
✨  根据用户配置使用 docker 驱动程序
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
💾  Downloading Kubernetes v1.20.2 preload ...

🔥  Creating docker container (CPUs=2, Memory=1981MB) ...
🐳  正在 Docker 20.10.3 中准备 Kubernetes v1.20.2…
💢  initialization failed, will tr

[2021-03-22 08:55] MoeHamdan opened #10897 "failed to create a sandbox for pod: context deadline exceeded (etcdserver: read-only range request deadline exceeded)"
Hello

I have minikube installed on Ubuntu 20.04 VM. Lately I started having issues with the pods, when I deploy a new pod or delete a pod it gets stuck at creating container and the terminated one gets stuck at terminating container.
This is the error that I get:

Failed create pod sandbox: rpc error: code = Unknown desc = failed to create a sandbox for pod "*******": operation timeout: context d

[2021-03-22 09:30] LY1806620741 commented on #9921
ls pods:
[code]
get error log：
[code]

ls svc:
[code]

into m02:
[code]

[2021-03-22 09:47] LY1806620741 commented on #9921
bright network is not set alias

[2021-03-22 10:52] KetraKrato opened #10898 "Exiting due to MK_ENABLE: loading profile: cluster "minikube" does not exist"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-03-22 10:52] #10898 closed

[2021-03-22 17:29] hoantv commented on #9601
I will try tomorrow :)!

[2021-03-22 17:38] spowelljr commented on #10243
@orrymr Is it possible you have two versions of minikube installed?

[2021-03-22 18:42] daehyeok commented on #10578
/assign

[2021-03-22 22:27] medyagh commented on #10861
@mdenend  that addon is not maitained by minikube team itself, but a 3rd party addon,
we are working on adding the functionality to gcp-auth addon which will be better support

here is the issue to track the progress on that

https://github.com/kubernetes/minikube/issues/9002

[2021-03-22 22:44] #10402 closed

[2021-03-22 22:46] medyagh commented on #10403
time out seems to be too low, lets increase timeout

[2021-03-22 22:48] medyagh commented on #10780
@ilya-zuyev lets update the findings, with logs and current blockers

[2021-03-22 23:16] #10870 closed

[2021-03-23 01:42] #10855 closed

[2021-03-23 01:45] #10843 closed

[2021-03-23 01:48] #10781 closed

[2021-03-23 01:56] #10804 closed

[2021-03-23 01:56] altwohill opened #10900 "Arguments in PowerShell require quotes to not error"
1. (Hyper-V was already installed previously)
2. Configure new switch for minikube called "Kubernetes Virtual Switch"
3. run the following in Administrative powershell window:

[code]
Running the command to check if Hypervisor is Present gives this:
[code]

If I roll back to 1.6.2 as per #6683 I am able to start successfully.

[2021-03-23 01:57] #10652 closed

[2021-03-23 04:24] #10820 closed

[2021-03-23 05:12] medyagh commented on #10900
@altwohill sorry to hear about this... curious, are u running windows in the cloud ? or a physical machine?
if yes what cloud ?

minikube is errorig
[code]

have u already tried running the powershell with administrator powers?

[2021-03-23 05:12] medyagh commented on #10900
/triage needs-information
/kind support

[2021-03-23 06:41] altwohill commented on #10900
This is on a physical machine

Yes, this output occurs when running powershell as administrator.

[2021-03-23 07:01] #10797 closed

[2021-03-23 07:42] medyagh opened #10903 "CI: Docker Windows Test can’t clean up workspace"
As seen in https://storage.googleapis.com/minikube-builds/logs/10722/cc7973a/Docker_Windows.txt
[code]

[2021-03-23 07:44] wswind commented on #10646
实在不行，可以通过阿里云的镜像服务自己配置一个

[2021-03-23 07:54] #9156 closed

[2021-03-23 08:00] medyagh commented on #10900
I am curious what does command returns if u run it manually ? (The one minikube runs to check if hyperkit is there)
[code]
Or maybe
[code]

I am curious why is command fails for u and not on our intergration tests... do u have like windows Data center hyperv ?
Is it a single user hyper setup ? What is different with your windows and than our integration test ?

[2021-03-23 08:05] altwohill commented on #10900
I did mention this in the initial note:

Running the command to check if Hypervisor is Present gives this:
[code]

As far as I know this is just a standard windows 10 box with normal hyper-v on it. I can't speak for your integration test sorry; the only other thing to point out is it works absolutely fine when downgrading to 1.6.2, but it fails on any later version.

[2021-03-23 08:07] #10626 closed

[2021-03-23 08:28] medyagh commented on #10900
Thank you, for providing more informations, I wonder if windows is giving Wrong exit code, in integration test use windows 10 professional edition.

Does the error happen consistently (if u run it 5 times in a row?  I say this because I noticed in integration tests our dry-run tests exits with a non-zero code even though if it is successful .... I wonder if this is what is happenining here....

Re

[2021-03-23 08:30] medyagh commented on #10900
And  one last question, does this help ?

https://stackoverflow.com/questions/60447586/hyperv-does-not-appear-to-be-installed

[2021-03-23 12:36] orrymr commented on #10243
@spowelljr I've installed and uninstalled Minikube a bunch of times (both using brew and by curl'ing it) so it's definitely possible.
I thought I'd diligently cleaned up after myself, but possibly not. How would I tell if there are multiple versions installed?
`$ which minikube` points to `/usr/local/bin/minikube` - if that helps?

[2021-03-23 13:21] tharun208 commented on #6642
@medyagh , I like to work on this

[2021-03-23 14:06] briandealwis commented on #6642
An alternative is to add the profile name to the context and cluster extensions as Minikube is now doing with `cluster_info`:
[code]

Then the minikube instance could remain blissfully ignorant of how its endpoints are exposed to the host environment.

[2021-03-23 14:37] #10889 closed

[2021-03-23 15:02] talj-us-ibm-com commented on #3207
Was the issue actually resolved?  Reports from various github sections including Docker for Mac and kubernetes itself is pointing to behavior of high polling into etcd as a root cause.  The adjustments mentioned by priyawadhwa when closing the issue seem to be addressing what could be done in minikube.  But core k8s issues seem to remain and are seen in various configurations/deployments.

https:/

[2021-03-23 15:19] mc0 commented on #3207
@talj-us-ibm-com At this point, I think the work referenced by @priyawadhwa does address _most_ of the overhead that minikube can control (other adjustments that I brought up could cause things to be inconsistent longer). I had mentioned previously that a big portion of the overhead is https://github.com/kubernetes/kubernetes/issues/75565. (I had opened https://github.com/kubernetes/kubernetes/iss

[2021-03-23 15:22] slonka commented on #10085
Any updates on this?

[2021-03-23 16:18] lorenzleutgeb commented on #8980
I came here after setting up `ingress-dns`, and wanting to change the domain (from `*.test.` to `*.mycorp.example.com`). I realized that [minikube-ingress-dns](https://gitlab.com/cryptexlabs/public/development/minikube-ingress-dns), which is used by the `ingress-dns` extension, is a very small and rather inactive Node.js project. CoreDNS appears to be a much more stable, and better backed up candi

[2021-03-23 18:08] sharifelgamal commented on #10903
This issue seems to be specific to one of the windows CI machines, it has been taken down and tests are now running properly. I'll fix that machine up and bring it back.

[2021-03-23 18:08] #10903 closed

[2021-03-23 18:18] #10165 closed

[2021-03-23 18:21] spowelljr commented on #10243
@orrymr Sorry, I meant to say Docker, accidentally typed minikube, my mistake. Because if minikube is detecting a diff Docker version seem like it might be pointing to another instance that might be existing.

[2021-03-23 19:32] riklopfer commented on #2481
I do not have the same problem when running with the `virtualbox` driver. Maybe virtual box should be flagged as the preferred driver instead of Docker: https://minikube.sigs.k8s.io/docs/drivers/

[code]

[2021-03-23 19:43] #9930 closed

[2021-03-23 19:51] bl-ue commented on #9930
🎊 🎉 🚀

[2021-03-23 19:59] altwohill commented on #10900
The problem happens consistently, and I tried the SO answer before posting here :)
I cherry-picked a bunch of versions between 1.6.2 and 18, none of them worked.

I think perhaps the way the command is being run is causing the issue.

https://github.com/kubernetes/minikube/blob/57d33de86adc8d5e40aa1d40658882355df3b4aa/pkg/minikube/registry/drvs/hyperv/hyperv.go#L93

If I run `@(Get-Wmiobject Win32

[2021-03-23 20:07] sharifelgamal commented on #9927
This is done.

[2021-03-23 20:07] #9927 closed

[2021-03-23 22:02] ilya-zuyev commented on #10780
It looks like we have work to do here:

tested on Ubuntu 20.10 x86_64
[code]

[code]

Then:
[code]
ok, registry is started and serves API on local port 5000

Let's build some images:
[code]
Single arch works.
But:

[code]
`docker manifest create` doesn't :(

Let's try buildx:
[code]
although:
[code]

[2021-03-23 22:06] ilya-zuyev commented on #10780
Probably, we need to serve HTTPS registry endpoint to make buildx happy. Currently, addon supports only HTTP

[2021-03-23 23:12] devZer0 commented on #10644
https://github.com/ubuntu/microk8s/issues/1567

[2021-03-23 23:20] #10682 closed

[2021-03-24 03:44] #6535 closed

[2021-03-24 05:06] medyagh opened #10905 "minikube status: show timeToStop only if it exists"
$ minikube status
minikube
type: Control Plane
host: Running
kubelet: Running
apiserver: Running
kubeconfig: Configured
timeToStop: Nonexistent

[2021-03-24 05:12] medyagh commented on #10905
so the idea is, if minikube is NOT scheduled to stop, it shouldn't bother to mention it in the status

instead of saying timeToStop: Nonexistent

[2021-03-24 06:30] tharun208 opened #10907 "cancelling scheduled stop not getting reflected in minikube status"
So, I configured a `scheduled-stop` and checked the status of minikube. It shows `TimeToStop` as x time remaining.

When I canceled the `scheduled-stop` using `--cancel-scheduled`, it still shows `TimeToStop`  with the remaining time and not as `NonExistent` or not to mention ( when this pr #10906 get's merged)

minikube version: locally built from master
<img width="499" alt="Screen Shot 2021-03-

[2021-03-24 07:21] inductor opened #10908 "None driver should take care of --container-runtime parameter"
**Steps to reproduce the issue:**

This is the current behavior regarding initizliation with none driver with containerd runtime.

[code]

Since Docker is no longer *default* runtime, I think even none driver should consider the runtime option if specified.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `m

[2021-03-24 09:15] afbjorklund commented on #10908
It's a bug, unfortunately: #5549

It should not look for "docker", when wanting to run with containerd.

Docker is still the default runtime, though.

[2021-03-24 09:23] tharun208 commented on #10908
@afbjorklund I like to work on this

[2021-03-24 10:48] afbjorklund commented on #10908
Please do, note that it is **not** the warning and the early exit that is the real issue here.

[code]

So just comment that out while debugging.

We also have some callouts to the Docker daemon, but those should just fail (for now)
So leave those as well, the main issue here is the requirement on the "docker" CLI client.

(the other is #8577)

[2021-03-24 10:56] afbjorklund commented on #8577
/reopen
/remove-lifecycle rotten

[2021-03-24 11:17] tharun208 commented on #10905
/assign

[2021-03-24 14:38] orrymr commented on #10243
@spowelljr
No worries :)

`$ minikube docker-env `
reveals the following:
[code]

Which makes me think that my shell is running a different version of docker-daemon to minikube. I don't know how to verify this, though.

Not really sure what else to do, but the problem persists.

[2021-03-24 14:44] orrymr commented on #10243
If this helps, [here](https://gist.github.com/orrymr/1158bd18361b3e1998736a8d221dc5ad) is the output of

`$ minikube start --alsologtostderr`

[2021-03-24 15:25] tstromberg commented on #10884
For some reason, minikube was configured to start with the `none` driver -- which doesn't appear to work with WSL2 out of the box. Here's my suggestion:

* Run `minikube delete`
* Install `docker` (if it isn't installed already)
* Run `minikube start` (it will default to docker)

Please let me know if this helps.

[2021-03-24 15:32] tstromberg commented on #10896
Hello NatureLingRan!

您似乎在新的M1 Mac（arm64）上。 我看到两种可能的解决方案：

*升级到适用于M1的最新Docker桌面（RC1，2020-03-18）。 它修复了您的版本中出现的许多崩溃问题（2020-03-02）
*您可能正在为minikube运行amd64二进制文件，请确保您使用的是arm64二进制文件。 如果您在`minikube binary`上运行`file`命令，如果您具有正确的版本，它将显示`arm64`：

[code]
/usr/local/bin/minikube: Mach-O 64-bit executable arm64
[code]
$ file /usr/local/bin/minikube

[2021-03-24 15:38] tstromberg commented on #10897
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used (I'm curious about your Kubernetes version, for example)
*  The full output of the `minikube start` command
 * The full output of `minikube logs` (I am curious what it reports about load averages, fo

[2021-03-24 15:45] tstromberg commented on #10907
Thanks for finding this issue! The current behavior is wrong, and I would be happy to review a PR that fixes this behavior.

[2021-03-24 15:58] tharun208 commented on #10907
/assign

[2021-03-24 15:58] tstromberg commented on #10908
/assign tharun208

[2021-03-24 16:02] tstromberg commented on #10908
I haven't looked at the none driver recently, but if it isn't possible to simply remove the `docker` checks for the `none` driver when used by `containerd`, https://github.com/containerd/nerdctl may be a helpful alternative.

[2021-03-24 16:13] tstromberg commented on #9795
Yes: If you have created a minikube cluster and run these tests, it is still an issue I believe.

The bad workaround is to run `minikube delete --all`, the good fix is to update this test to not use `$HOME/.minikube`. Other tests create a temporary directory and set the environment up to use this temporary directory:

https://github.com/kubernetes/minikube/blob/d97418828d90a424d6fc1f2e205e706d5b69

[2021-03-24 16:44] inductor commented on #10908
@tstromberg I'm aware of nerdctl(my friend made it), but I just wanted to setup kubernetes with local runtime without using kubeadm easily. So using nerdctl is not really an option for my use-case

[2021-03-24 17:21] afbjorklund commented on #10908
As far as I know, the "docker" issues are because the minikube driver registry is broken

[2021-03-24 18:13] tstromberg commented on #10845
What changes are you suggesting to minikube exactly?

[2021-03-24 18:15] tstromberg commented on #10708
I agree, `--purge` should remove all local state.

[2021-03-24 18:20] tstromberg commented on #10459
Closing as dupe of #10371

[2021-03-24 18:20] #10459 closed

[2021-03-24 18:28] tstromberg commented on #10149
I agreed that offline usage should in fact work -- we even have an integration test for it.

Offline support was introduced before the Docker driver was implemented, and we haven't yet updated the documentation to reflect one major quirk about the Docker driver: it does not pull the image from the local filesystem, but instead pulls it from the local Docker daemon.

[2021-03-24 18:31] tstromberg opened #10912 "--download-only should store/load kicbase on local filesystem"
To ensure minikube can startup in an air-gapped environment.

Related issue: #10149

[2021-03-24 18:39] MoeHamdan commented on #10897
Hello @tstromberg
Thanks for you reply. Here are the details requested:

sudo minikube start --embed-certs --driver=none
![image](https://user-images.githubusercontent.com/12870330/112365501-66314500-8ce0-11eb-8403-429d7ea7270c.png)

[minikubeLog.txt](https://github.com/kubernetes/minikube/files/6199710/minikubeLog.txt)

[2021-03-24 18:40] tstromberg opened #10913 "docker: Confirm `minikube start` provides actionable feedback if `docker system prune` is run"
Test:

1. minikube stop
2. docker system prune
3. minikube start
4. minikube start --delete-on-failure

#3 and #4 should probably succeed without the user having to perform additional steps. It may be acceptable in #3 if we just provided advice.

[2021-03-24 18:43] tstromberg commented on #10431
This issue appears to be a duplicate of #6411, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2021-03-24 18:43] #10431 closed

[2021-03-24 18:47] medyagh commented on #10580
@abhimjoshi @Carlosgpg1 the direct IP of docker containers on windows is not available, and minikube has to use a tunnel over 127.0.0.1

for external IP address you could use `minikube tunnel`
that would require keeping the tunnel open in another window

[2021-03-24 18:47] #10580 closed

[2021-03-24 18:47] spowelljr commented on #9760
Hi @fans3210, this doesn't seem like an issue with minikube, and more like a DockerHub specific error. I'm going to close this issue, but feel free to reopen if you see fit, thanks!

[2021-03-24 18:47] #9760 closed

[2021-03-24 18:47] tstromberg commented on #8997
I'm closing this issue as this issue should be fixed in recent releases of minikube ( v1.17+). If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it by replying `/reopen`

If someone sees a similar issue to this one, please re-open it as replies to closed issues are unlikely to be noticed.

Thank you for opening the issue!

[2021-03-24 18:48] medyagh commented on #9944
Hi @lintingyong , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-03-24 18:48] #9944 closed

[2021-03-24 18:50] medyagh commented on #9584
this does sound like dupe of this https://github.com/kubernetes/minikube/issues/8943

@dzilbermanvmw I am curious does your machine have a misconfigured time ?
I am certain this would be fixed by minikube delete --all --purge
but we still need to find a fix for this so minikube auto-refreshes the certs if they are expired https://github.com/kubernetes/minikube/issues/8943

[2021-03-24 18:50] #9584 closed

[2021-03-24 18:51] spowelljr commented on #9982
Hi @zevinar, we haven't heard back from you, do you still have this issue?

There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-24 18:51] #9982 closed

[2021-03-24 18:51] medyagh commented on #7772
we are still working on this, there is a WIP PR https://github.com/kubernetes/minikube/pull/10579 by @sadlil

[2021-03-24 18:54] medyagh commented on #9602
@LargeOrange do still have this issue ? have you tried with latest version of minikube ?

[2021-03-24 18:55] ilya-zuyev commented on #10292
setup issue with gh actions runner machine. fixed.

[2021-03-24 18:55] #10292 closed

[2021-03-24 18:55] tstromberg commented on #8535
Downgrading to backlog since no one has touched this -- but I do feel strongly about us supporting this use case.

[2021-03-24 18:56] medyagh commented on #7802
I would still accept a PR that would implement this feature

[2021-03-24 18:57] afbjorklund commented on #10912
Currently it is only implemented for daemon, there is nothing in the cache - or for the other engines, such as podman

The logic today is quite weird, if we **fail** saving the image to the daemon - then we try saving it to the cache ?!?

[2021-03-24 18:59] spowelljr commented on #10204
@bradurani You seem to have solved this issue with your PR #10262 so I'm going to close this issue, thanks for your contribution!

[2021-03-24 18:59] #10204 closed

[2021-03-24 18:59] afbjorklund commented on #10912
Another ironic thing is that in order to save it to the docker daemon, go-registry first downloads a copy to a tempfile...

[2021-03-24 19:00] spowelljr commented on #9460
Hi @fsladkey, thanks for following up! I'll close this issue, but if you experience the issue again feel free to reopen, thanks.

[2021-03-24 19:00] #9460 closed

[2021-03-24 19:01] medyagh commented on #9440
Hi @jyozq , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-03-24 19:01] #9440 closed

[2021-03-24 19:01] afbjorklund commented on #10912
I think we discussed this feature in issue #7766, but settled for the daemon-only (docker-only) solution.

I suppose that technically `/var/lib/docker` is a local filesystem ? But I assume this issue means cache.

[2021-03-24 19:04] medyagh commented on #10592
@vcashadoop without Gui you could use a cli tool like https://github.com/derailed/k9s
or just good old Curl (that would be harder to read)

does that answer your question ? if not plz reopen this

[2021-03-24 19:04] #10592 closed

[2021-03-24 19:06] #8367 closed

[2021-03-24 19:08] sharifelgamal commented on #2481
@riklopfer This issue is about using the `minikube mount` command to mount files from your local filesystem into the minikube VM or container. What you are doing is not the same thing. I believe `minikube mount` now works for macOS on all drivers.

[2021-03-24 19:09] tstromberg commented on #10179
/cc @ilya-zuyev @sharifelgamal  - any chance this was done already?

[2021-03-24 19:09] tstromberg commented on #10113
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it by replying `/reopen`

If someone sees a similar issue to this one, please re-open it as replies to closed issues are unlikely to be noticed.

Thank you for opening the issue!

[2021-03-24 19:09] #10113 closed

[2021-03-24 19:09] sharifelgamal commented on #9516
This is at worst a harmless, if ugly error. We should find the source of the issue but it doesn't affect `minikube stop` functionality.

[2021-03-24 19:13] sharifelgamal commented on #10481
I'll go ahead and close this for now, feel free to reopen if you still experience issues with the advice above.

[2021-03-24 19:13] #10481 closed

[2021-03-24 19:15] tstromberg commented on #9663
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it by replying `/reopen`

If someone sees a similar issue to this one, please re-open it as replies to closed issues are unlikely to be noticed.

Thank you for opening the issue!

[2021-03-24 19:15] #9663 closed

[2021-03-24 19:17] tstromberg commented on #10515
Can you share the output of `docker version` and `docker info`?

[2021-03-24 19:17] riklopfer commented on #2481
@sharifelgamal I am running the commands which were originally reported to reproduce this issue (see https://github.com/kubernetes/minikube/issues/2481#issue-292541163) . Perhaps this issue changed subject at some point. If this should be tracked elsewhere, #10851 can be reopened.

[2021-03-24 19:17] sharifelgamal commented on #10686
@Windrow The fact that we're looking at `/root/.minikube` as your minikube config directory makes me suspicious. Can you run `minikube delete --purge` then try running just `minikube start` again?

[2021-03-24 19:28] tstromberg commented on #8733
I believe this has likely been addressed in recent releases of minikube (v1.18.x), where multi-node is no longer an experimental feature.

[2021-03-24 19:30] medyagh opened #10914 "TestFunctional/parallel/CpCmd failing on Windows: cat: /home/docker/hello_cp.txt: No such file or directory"
I failed to check the windows tests on this PR
https://github.com/kubernetes/minikube/pull/10198

  "TestFunctional/parallel/CpCmd"

[code]

CC: @anencore94

[2021-03-24 19:41] trevor15 opened #10915 "Minikube start not working"
tfoya@Trevors-MacBook-Pro ~ % minikube start
😄  minikube v1.18.0 on Darwin 11.2.2
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🏃  Updating the running docker "minikube" container ...
🐳  Preparing Kubernetes v1.20.2 on Docker 20.10.3 ...
💢  initialization failed, will try again: wait: /bin/bash -c "sudo env PATH=/var/lib/minikube/b

[2021-03-24 19:44] afbjorklund commented on #10149
There was a bit of a twist in this story, it was not only "offline" (on the _same_ host) but also on a different host...

But it is mentioned in the documentation:

Which sortof implies that everything is cached there.

[2021-03-24 19:46] afbjorklund commented on #10912
@tstromberg : should this be stored under "images", along with kubernetes and addons

or should it be stored in a top-level directory, similar to "iso" (maybe something like "kic")

[2021-03-24 20:01] #10915 closed

[2021-03-24 20:07] medyagh opened #10916 "implement minikube image rm `IMG_NAME`"
we need to add a feature for users to easily delete an image from minikube

maybe
[code]

[2021-03-24 20:57] vishjain commented on #8535
@tstromberg Was planning on starting this, if it's ok with you? Thanks

[2021-03-24 22:21] afbjorklund commented on #10916
Or you could just use: `crictl rmi`

[2021-03-24 22:24] afbjorklund commented on #10916
We only need "minikube image" for the holes in the Container Runtime Interface.

Such as loading images (from tarball), or building images (from Dockerfile context)

[2021-03-24 22:45] ilya-zuyev commented on #10896
dupe of https://github.com/kubernetes/minikube/issues/10243

[2021-03-24 22:49] afbjorklund commented on #10060
@seperman : I'm actually not sure why @priyawadhwa wrote that "cache" would be deprecated e8945f293448b3a4c84875ee12e4c81b314c2daa

They don't do exactly the same thing, even if they do share some code. The "cache" command has a memory

[2021-03-24 23:07] afbjorklund commented on #10915
Duplicate #10243

[2021-03-24 23:24] medyagh commented on #10916
@afbjorklund this is a request from Skaffold, since they build tons of images on iterations on the code, they wanna be able to remove and clean up after themslves, and they dont wanna worry about what command to use Internally to minikube (docker or crictl)

[2021-03-24 23:36] maxuellstalin commented on #10050
Sorry I'm using the translator.

The same error happened to me, I simply deleted the minikube from my VM, which in this case is the HYPER-V, and then ran the minikube delete --all

[2021-03-25 00:28] xhebox commented on #8733
I don't what the original error is, but for my problem, it may still exist. Check this [comment](https://github.com/kubernetes/minikube/issues/10156#issuecomment-789597743) and this [comment](https://github.com/kubernetes/minikube/issues/10156#issuecomment-785653872).

We need to cache and respect registry for initContainers, too. Or I would need to wait for a long time pulling CNI images. If you

[2021-03-25 00:45] #10905 closed

[2021-03-25 00:47] #10833 closed

[2021-03-25 00:50] #10744 closed

[2021-03-25 01:11] anencore94 commented on #10914
/assign

[2021-03-25 01:30] tharun208 commented on #10916
@medyagh , I like to work on this

[2021-03-25 02:14] daehyeok commented on #10595
we need to add extra flag into `start` command  because, we don't have any flag not exists for addon's option. so  is it right?
How about use `--addon-config` with `{addon_name}.{key}={value}`
e.g.)
```minikube start ..... --addon-config=auto-pause.time=10s```

[2021-03-25 02:15] daehyeok commented on #10595
/assign

[2021-03-25 02:53] Windrow commented on #10686
root@k8s-node:~# minikube delete --purge
🙄  "minikube" profile does not exist, trying anyways.
💀  Removed all traces of the "minikube" cluster.
🔥  Deleting container "minikube" ...
💀  Successfully purged minikube directory located at - [/root/.minikube]
root@k8s-node:~#
root@k8s-node:~# minikube start
😄  minikube v1.16.0 on Ubuntu 18.04
✨  Automatically selected the docker driver. Other choices: v

[2021-03-25 02:55] Nothing4You commented on #9720
there's also a bug report in the machine driver at https://github.com/machine-drivers/docker-machine-driver-vmware/issues/30 and a possible fix in https://github.com/machine-drivers/docker-machine-driver-vmware/pull/31

[2021-03-25 07:02] afbjorklund commented on #10916
`crictl` isn't something internal to minikube, it's a generic kubernetes CRI command...

But sure, we can add it to the "cruntime" abstraction:

[code]

And implement both for Docker, and for generic CRI.

[2021-03-25 07:05] afbjorklund commented on #10916
@tharun208 : please make a PR for review

[2021-03-25 07:06] tharun208 commented on #10916
/assign

[2021-03-25 07:41] NatureLingRan commented on #10896
Change to arm64 and docker is the latest version but the problem remains

file /usr/local/bin/minikube
/usr/local/bin/minikube: Mach-O 64-bit executable arm64

[2021-03-25 12:44] SanthoshConatix commented on #9798
having the same when tried to run with Gvisor runtime via minikube

[code]

[2021-03-25 13:45] prezha opened #10925 "Flake TestMultiNode/serial/RestartMultiNode test times out due to drain node process got stuck"
in TestMultiNode/serial/RestartMultiNode test, sometimes the node drain process gets stuck and the test then times out, as seen here:

https://storage.googleapis.com/minikube-builds/logs/10792/5bac07a/KVM_Linux.html#fail_TestMultiNode%2fserial%2fRestartMultiNode

[code]

/assign

[2021-03-25 18:47] #10907 closed

[2021-03-25 19:04] medyagh commented on #10813
fixed

[2021-03-25 19:04] #10813 closed

[2021-03-25 19:31] #9217 closed

[2021-03-25 19:49] #9002 closed

[2021-03-25 20:14] sharifelgamal commented on #10861
I have tried the registry-creds addon and it does work with GCR, I've had success using it but first enabling it then configuring it.

[2021-03-25 20:33] orlygh commented on #10862
Anders,

Many thanks, it worked.

BR

On Thu, Mar 18, 2021 at 2:37 AM Anders Björklund ***@***.***>
wrote:

--
*Orly O. Pacheco*
*North Plainfield NJ*

[2021-03-25 23:01] ilya-zuyev opened #10928 "Do not allow running darwin/amd64 minikube on darwin/arm64 macs"
M1 macs allow to run amd64 in rosetta mode. We need to prohibit this, as it leads to downloading amd64 preloads, running amd64 kubeadm and SEGFAULT in the end.

runtime.GOARCH is 'amd64' in this case, so we need an extra step to detect what we're running im emulation mode, like using`gopsutil` library, or running an external binary like `arch` or `uname`

[2021-03-25 23:44] sharifelgamal commented on #10840
This migration is done.

[2021-03-25 23:44] #10840 closed

[2021-03-26 03:57] anilchandana opened #10929 "X Exiting due to RUNTIME_ENABLE: sudo systemctl restart docker: exit status 1 stdout: stderr: Failed to restart docker.service: Unit docker.service is masked"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-03-26 06:21] afbjorklund commented on #10928
This can also be addressed by making it more explicit what architecture to use for the actual cluster, as suggested in #9593

[2021-03-26 06:22] afbjorklund commented on #10928
Theoretically it should be _possible_ to run an amd64 VM on an arm64 host, even thought it would be slower (emulating the CPU)

[2021-03-26 08:06] #10925 closed

[2021-03-26 17:09] afbjorklund opened #10933 "Implement minikube image ls"
Another simple wrapper, this time for `crictl images`.

Could be useful when using `load` and `rm`, perhaps ?

[2021-03-26 17:10] afbjorklund commented on #10933
Sample output:

[code]

[2021-03-26 17:10] afbjorklund commented on #10933
WDYT, @medyagh

[2021-03-26 17:11] afbjorklund commented on #10916
User suggested adding "unload" as an alias (rhymes with "load")

[2021-03-26 17:17] tharun208 commented on #10916
@afbjorklund sure will update the PR

[2021-03-26 17:19] afbjorklund commented on #10933
Notice the total lack of standards, when it comes to naming images and reporting sizes.

[2021-03-26 17:37] tharun208 commented on #10916
@afbjorklund also I am thinking to return an error to the end-user when trying to remove an image that is not present ( same behaviour for `load` command also, which not returning an error to the end-user). There is a workaround we can use `--alsologtostderr` to see what actually happened. But, need your suggestions on this.

[2021-03-26 17:56] tharun208 commented on #10916
Used cobra's `cmd.Aliases` for this

[2021-03-26 18:17] mprimeaux commented on #10060
@priyawadhwa Would you please explain why you committed the warning that 'cache add' would be deprecated as per the [above](https://github.com/kubernetes/minikube/issues/10060#issuecomment-806234045)?

Your help is appreciated.

[2021-03-26 19:06] seperman commented on #10060
Also if you could briefly explain the difference of `minikube image load` vs. `minikube cache add`, that would be great. It looks like the cache command, caches the image in `~/.minikube` in addition to having it in the minikube's docker daemon. While the `minikube image load` only adds the image to the minikube's docker daemon. I'm curious what is a use case where you want to use `minikube cache`

[2021-03-27 02:35] Karmavil commented on #10852
This is a very interesting lecture: [Initializing your control-plane node](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#initializing-your-control-plane-node)

It is for me at least.
I cannot tell what would be the difference between `--container-runtime` and `--cri-socket` I mean I didn't try but apparently both flags are available for `minikube sta

[2021-03-27 06:34] Yakir6 opened #10934 "X Exiting due to GUEST_PROVISION: Failed to start host: creating host: create: creating: create kic node: container name "minikube""
\* minikube v1.18.1 on Centos 8.2.2004
\* Using the docker driver based on user configuration
! docker is currently using the fuse-overlayfs storage driver, consider switching to overlay2 for better performance
\* Starting control plane node minikube in cluster minikube
\* Creating docker container (CPUs=2, Memory=2200MB) ...
\* Stopping node "minikube"  ...
\* Deleting "minikube" in docker ...
!

[2021-03-27 08:02] afbjorklund commented on #10060
@mprimeaux @seperman

I think Priya has handed over the feature to other members of the team, so I'm not sure if she's able to answer (but please do if you can). Both commands are using the ~/.minikube cache folder for caching images that they pull from the daemon or from remote.

But they come from different backgrounds:

`minikube cache` ties into the possibility of minikube to add more images t

[2021-03-27 08:08] afbjorklund commented on #10060
The main problem in _this_ issue, is that the current code only checks the name and the tag to see if it "already exists".

There is no equivalent to the "pull policy" of Kubernetes, where you can choose to replace the already existing images:

And the current handling of the short names and the id/digest is also rather confusing and could be improved upon.

[2021-03-27 08:21] afbjorklund commented on #10933
One feature that was suggested, was to be able to filter which images were added by `kubeadm`:

[code]

As opposed to which were added by minikube by default, and which were added by the user:

[code]

[2021-03-27 08:24] afbjorklund commented on #10933
We also need to fix the short names, so that they show proper images (with the registry):

docker.io/library/alpine:latest
docker.io/library/busybox:latest
docker.io/kubernetesui/dashboard:v2.1.0
docker.io/kubernetesui/metrics-scraper:v1.0.4

So that we can get away from hardcoding docker.io, see [container image short names](https://www.redhat.com/sysadmin/container-image-short-names)

[2021-03-27 08:44] afbjorklund commented on #10852
It used to be very fiddly and verbose, you had to give every little configuration yourself:

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-runtime

~~--container-runtime=cri-o --extra-config=kubelet.container-runtime=remote --extra-config=kubelet.container-runtime-endpoint=/var/run/crio/crio.sock --extra-config=kubelet.image-service-endpoint=/var

[2021-03-27 08:48] afbjorklund commented on #10852
No they are not, unless they have a dedicated machine...

But there was no real point in using a disk cache, when running minikube directly on the control plane.
Since then you would have one cache in ~/.minikube/cache and one in /var/lib/docker - on the same host ?

[2021-03-27 13:41] ojab opened #10935 "`docker` says `You should always set the Memory limit when using Memoryswap limit, see usage.`"
**Steps to reproduce the issue:**

1. `minikube start --driver=docker`

**Full output of failed command:**
(without `--alsologtostderr` because it's 76KB of likely useless data)
[code]
[docker docs](https://docs.docker.com/config/containers/resource_constraints/#--memory-swap-details) says that `--memory` also should be passed if we pass `--memory-swap`.
[code]

[2021-03-27 14:02] afbjorklund commented on #10935
I think we can get in this state, when it says we have support for memory-swap but **not** for memory

[code]

It's a weird state, so we should look for it. And avoid using swap if so, but it's probably a cgroups v2 issue.

`WARNING: Support for cgroup v2 is experimental`

[2021-03-27 14:07] ojab commented on #10935
yeah, there is `W0327 13:37:34.424561   35031 oci.go:119] Your kernel does not support memory limit capabilities or the cgroup is not mounted.` in the full log. and I don't see `/sys/fs/cgroup/memory/memsw.limit_in_bytes` on my system.

[2021-03-27 14:10] afbjorklund commented on #10935
What cgroupfs mounts do you have, currently ? `mount | grep cgroup` or something

[2021-03-27 14:14] ojab commented on #10935
`cgroup on /sys/fs/cgroup type cgroup2 (rw,nosuid,nodev,noexec,relatime)` on my desktop system
`cgroup2 on /sys/fs/cgroup type cgroup2 (rw,nosuid,nodev,noexec,relatime,seclabel,nsdelegate,memory_recursiveprot)` on my laptop fedora-34 system.

Looks like `memory.limit_in_bytes` is cgroup-v1 remnant and we should use [`memory.high`](https://www.kernel.org/doc/html/latest/admin-guide/cgroup-v2.html#m

[2021-03-27 14:17] afbjorklund commented on #10935
Yeah, it looks like the cgroups checks are broken. And memcgSwap should depend on memcg, like Docker says.

[2021-03-27 14:31] afbjorklund commented on #10935
### v1

[code]

### v2

[code]

[2021-03-27 14:32] ojab commented on #10935
So something like https://github.com/kubernetes/minikube/pull/10936 should be enough or more ththoughtful rework is needed?

[2021-03-27 14:33] afbjorklund commented on #10935
Probably needs the same for docker (not only podman), and not sure we need to check any files at all for v2 ?

[2021-03-27 14:39] ojab commented on #10935
memcg could be compiled out in kernel and cgroupv2 will be emounted without memorycg then.

Unfortunately I don't have time right now to do a proper PR with tests and stuff, so either I can satisfy bots to get it into mergeable state as is (possibly with minor changes based on review comments) or I can drop it and wait for the proper fix, please advise what should be done here.

[2021-03-27 14:50] mprimeaux commented on #10060
@afbjorklund Thanks much for this detail; very helpful. The 'memory' attributes are the primary attraction of `cache add` as this allows for full offline usage even after `minikube delete` is executed.

I agree that evolving `minikube image load` with an `imagePullPolicy` equivalent represents a material improvement. In addition to offline support, saving the images represents a huge 'boost' in ve

[2021-03-27 15:12] afbjorklund commented on #10935
There is no rush, this only affects v2. We can do a proper fix, and see what went wrong in #10371

[2021-03-27 15:27] afbjorklund commented on #10060
We are currently discussing how to be best handle the Id and Digest discrepancies, between different methods and runtimes.
Something like "replace always" (or never) is simple enough, but eventually we want to "compare" two different images.

This is the `needsTransfer` function, that tries to determine if the local image is different from the one present in the cluster...
Some of the current meth

[2021-03-27 15:30] afbjorklund commented on #10060
For `minikube image load`, using the image cache just happens to be the current implementation...

Theoretically it could stream the images to the cluster right from the local daemon or the remote registry.

[2021-03-27 16:37] Karmavil commented on #10852
LOL I'm sorry I didn't see one of your replies above (9 days ago) and pull request.. Jesus you're weeks ahead. Thanks for the help, assistance and guidance Anders as usual. We're lucky to have you

[2021-03-27 16:54] afbjorklund commented on #10852
Welcome to the community, but please try to keep your responses related to the actual issue and not too off-topic

[2021-03-27 17:04] afbjorklund opened #10937 "Heads up: podman support on older distributions"
https://podman.io/blogs/2021/03/02/podman-support-for-older-distros.html

There is not going to be any more podman for distributions such as CentOS 7 and Ubuntu 18.04 :

This probably doesn't mean anything for the cri-o support*, but could prevent running containers etc...

\* basically it only uses `podman load` and `podman build`, and not any advanced Podman features

----

For Debian 11 and Ubu

[2021-03-27 21:08] amjad-Alhusseini commented on #10244
Hello
When i run
`minikube start --driver=ssh --ssh-ip-address=vm.example.com`
i get
Exiting due to MK_USAGE: lookup vm.example.com: no such host

What am i doing wrong here? sorry i am a beginner trying to learn K8s

[2021-03-27 22:36] prezha commented on #10831
changes covered in previously merged pr #10879

/close

[2021-03-27 22:36] #10831 closed

[2021-03-28 13:22] bolinlee opened #10939 "fail to start minikube"
**Steps to reproduce the issue:**

1. minikube config set driver docker
2. minikube start --alsologtostderr

**Full output of failed command:**
I0328 09:13:45.872811   15095 out.go:239] Setting OutFile to fd 1 ...
I0328 09:13:45.872995   15095 out.go:286] TERM=xterm,COLORTERM=, which probably does not support color
I0328 09:13:45.873032   15095 out.go:252] Setting ErrFile to fd 2...
I0328 09:13:45

[2021-03-28 13:28] bolinlee commented on #10939
hi,
   the detailed error show the docker image "gcr.io/k8s-minikube/kicbase" can't be download,but in face,this image had downloaded already,below are all the docker image on my vm:
[minikube@centos7base ~]$ docker image ls
REPOSITORY                    TAG                 IMAGE ID            CREATED             SIZE
gcr.io/k8s-minikube/kicbase   v0.0.18             a776c544501a        4 weeks ag

[2021-03-28 16:18] vonbrand commented on #8997
/reopen
Same on Fedora 33, x86_64, minikube-1.18.1

[2021-03-28 16:47] SantosVictorero opened #10940 "Minikube's Hyper-V Driver ignores Hyper-V Settings"
I was looking at: https://github.com/kubernetes/minikube/issues/5717 and I wonder why this hasn't been fixed.

What is the point of using Hyper-V if Minikube it isn't using those resources?

I have several testing profiles and they each take 5G+ in the C: drive.

I have set Hyper-V to use other drives but Minikube ignores those settings. Why?

[2021-03-28 20:07] YonathanGuez commented on #3900
Hey , I had a same issue , i try something it s work for me :
i specified where i need to install minikube on windows 10 (in my virtualbox)
1) First i did the purge of old version of minikube :
 minikube delete --all --purge
2) i installed minikube without vtx :
minikube start --driver=virtualbox --no-vtx-check
3) i checked my status:
minikube status
------------------
minikube
type: Control Plane

[2021-03-28 20:38] Hongbo-Miao commented on #5020
Add another comment, I recently start to use `minikube` again.
One thing I found before I was using `hyperkit` driver, and I have so many issues when I trying to start my `minikube` even I have done all work above. I also have issues even I am using VPN.
So now simply use `docker` driver, everything is very smooth.

[2021-03-28 20:45] afbjorklund commented on #10244
Just run `minikube start`, and it will select a suitable driver for you.

[2021-03-29 04:27] zky001 commented on #5883
I meet same error in another way

[2021-03-29 07:03] azhao155 commented on #10836
Try out dockerless for minikube, docker driver doesn't work due to some connection issue. will investigate, but kvm driver works.
[code]

[2021-03-29 08:53] LargeOrange commented on #9602
I wil try this weekend

[2021-03-29 11:10] LargeOrange commented on #9602
I use version v1.18.1, this issue has fixed. Thx

[2021-03-29 13:08] Dentrax opened #10948 "removing minikube home fixed "the server has asked for the client to provide credentials""
**Steps to reproduce the issue:**

1. `$ minikube start`
2. see the error

**Full output of failed command:**
<details>

🔎  Verifying Kubernetes components...
I0329 15:04:25.076582   37495 addons.go:58] Setting storage-provisioner=true in profile "minikube"
I0329 15:04:25.076678   37495 addons.go:58] Setting default-storageclass=true in profile "minikube"
I0329 15:04:25.076778   37495 addons.go:28

[2021-03-29 14:58] govargo opened #10949 "Bump metrics-server to v0.4.2"
Minikube has [metrics-server](https://github.com/kubernetes-sigs/metrics-server) addons.
Its addon has v0.2.1 image tag. It's very old, because it was published by 2017.

I'll send PR to bump metrics-server addon to v0.4.2(latest).
https://github.com/kubernetes-sigs/metrics-server/releases/tag/v0.4.2

/area addons
/kind process

[2021-03-29 16:21] #10916 closed

[2021-03-29 16:23] #10949 closed

[2021-03-29 16:33] #10914 closed

[2021-03-29 18:20] #10403 closed

[2021-03-29 18:22] medyagh commented on #6280
done

[2021-03-29 18:22] #6280 closed

[2021-03-29 18:22] medyagh commented on #10403
already done

[2021-03-29 18:30] medyagh commented on #10643
run test addons on it too

[2021-03-29 18:56] medyagh commented on #10836
speaking to @afbjorklund he suggested using a newer kernel

[2021-03-29 19:06] medyagh commented on #10598
closed by https://github.com/kubernetes/minikube/pull/10823

[2021-03-29 19:06] #10598 closed

[2021-03-29 21:02] #10736 closed

[2021-03-29 21:03] #10140 closed

[2021-03-29 21:04] medyagh commented on #10934
@Yakir6 did you already try the minikube's suggestion ?
[code]

[2021-03-29 21:04] medyagh commented on #10934
/triage needs-information
/kind support

[2021-03-29 21:06] medyagh commented on #10644
@robd003 @devZer0 have you tried our Auto-Pause addon (currently only available on Docker Driver)

minikube addons enable auto-pause

[2021-03-29 21:18] medyagh commented on #10940
that seems like a bug

I would be happy to accept a PR that either fixes it or adds a new feature to accept alternative disk location by a flag
--hyperv-disk-location ...

@SantosVictorero would u be interested to contribute this feature ?

[2021-03-29 21:40] medyagh commented on #10602
@BLasan I haven't heard from you, unfortnatelyl I have to un-assign this issue, so others could pick it up

[2021-03-29 21:42] azhao155 commented on #10602
/assign @azhao155

[2021-03-29 21:54] medyagh commented on #10602
/assign @azhao155

[2021-03-29 23:17] jonassteinberg1 commented on #10085
update on this?

[2021-03-29 23:51] sharifelgamal commented on #10877
I can verify this is broken at HEAD. We should fix this ASAP. Help wanted!

[2021-03-30 00:17] #9809 closed

[2021-03-30 00:22] medyagh commented on #10330
in progress

[2021-03-30 00:27] SantosVictorero commented on #10940
@medyagh,

Thanks for the offer to contribute towards this project. Unfortunately, we are working on a special project, which is talking up much of the time. Should our project finish sooner, I will keep this offer in mind.

Best

[2021-03-30 01:39] medyagh commented on #9292
full investigation
adding --restart=on-failure:1 will help to restar tthe container on the reboot but the Network Ports wont be Inspect-able after restart, unless u do docker restart container_name
https://github.com/docker/for-mac/issues/5521

[2021-03-30 01:42] hetong07 commented on #10627
/close

[2021-03-30 01:45] medyagh commented on #10627
this is solved

[2021-03-30 01:45] #10627 closed

[2021-03-30 01:52] medyagh commented on #10622
seems like our kubectl is very old, we should install new kubectl on windows through scripts https://github.com/medyagh/minikube/blob/0de446dc9ef1914ead7fac081c6ad7af83c167c5/hack/jenkins/windows_integration_test_docker.ps1#L17

[2021-03-30 01:56] medyagh commented on #10695
example PR that needs to be done by the automation https://github.com/kubernetes/minikube/pull/10951

[2021-03-30 06:55] hetong07 opened #10956 "Accidentally updated the docker version on Jenkins"
When I am trying to update the kubectl version on jenkins to resolve related windows test failure issue, I accidentally update the docker version to the latest one. Have a short discuss with afbjorklund, and it seems k8s still does not support docker 20.10, so 19.03 maybe a safe version to downgrade to. So according to the [docker release history](https://docs.docker.com/docker-for-windows/release

[2021-03-30 09:46] MoeHamdan commented on #10897
anybody there ?

[2021-03-30 11:13] tharun208 commented on #8163
@medyagh this issue is not causing `scheduled-stop` windows test to fail ci link - https://github.com/kubernetes/minikube/runs/2223462792

[2021-03-30 11:46] sivareddyforu commented on #2478
this issue still present even on v1.18 minikube
eahy-m-57000481:docker user$ minikube cache add my-project --v=5 --alsologtostderr
I0330 16:41:38.305721   27364 cache_images.go:279] Attempting to cache image: my-project at /Users/user/.minikube/cache/images/my-project
I0330 16:41:38.308179   27364 cache_images.go:82] Successfully cached all images.
I0330 16:41:39.677253   27364 cache_images.go:197

[2021-03-30 12:17] donngchao commented on #1224
After I set up my /etc/hosts file correctly， I finally solved this problem in my scenario.

[2021-03-30 16:04] medyagh commented on #10956
no it is okay, latest docker is fine on jenkins we already have a script that installs latest docker automatically so it will always be latest
https://github.com/kubernetes/minikube/blob/master/hack/jenkins/installers/check_install_docker.sh

[2021-03-30 16:08] hetong07 commented on #10956
thanks for clarification.

[2021-03-30 16:08] #10956 closed

[2021-03-30 17:56] afbjorklund commented on #10956
The version support was when using Docker as a container runtime, not as a Minikube driver. Sorry for the confusion.

https://kubernetes.io/docs/setup/production-environment/container-runtimes/#docker

Also my information was outdated, Kubernetes now also supports Docker 20.10 (in the 1.21 release, that is)

https://github.com/kubernetes/system-validators/commit/13e0dde25fef584ab6cce6efabf725ff693

[2021-03-30 20:06] sharifelgamal commented on #10929
Hi there @anilchandana, could you provide more details, such which OS, and version of minikube you're using, as well as the logs `minikube start  -v=5 --alsologtostderr` outputs?

Based on the error message in the issue title, it seems to be an issue with your docker installation. Could you try

[code]

and see if that helps?

[2021-03-30 20:14] sharifelgamal commented on #10948
Hmmm, the fact that `minikube config view` shows a hyperkit driver and `minikube start` has a virtualbox driver is suspicious to me. Did you have an existing minikube cluster laying around? Try deleting and restarting the cluster and see what happens.

[2021-03-30 20:50] sharifelgamal commented on #9757
A lot of the issues we've experienced with auto-mounting comes down to issues with 9p, which we can't really do much about. We've explored other options for mounting, but haven't had the capacity to implement something new. We'd be happy to review a PR that does this though.

[2021-03-30 20:53] Dentrax commented on #10948
@sharifelgamal It shows a different driver because I copied it on the wrong terminal history. You can ignore it. :) I tried both (VM + Hyperkit) drivers actually. Deleting and restarting did not solve. 🤷‍♂️

[2021-03-30 21:28] mdenend commented on #10861
@medyagh @sharifelgamal Thanks for getting back to me. When will the `gcp-auth` plugin have the changes that look like they were recently merged? A comment on #9002 suggests sometime in April? Would be awesome if it were ready that quickly.

I tried as @sharifelgamal suggested, and still wasn't having luck pulling the image using that order, even after wiping minikube. Also still noticing that gcr

[2021-03-30 21:51] #10622 closed

[2021-03-30 21:57] #10643 closed

[2021-03-30 22:42] robd003 commented on #10644
@medyagh The problem is that it's burning a ton of CPU while doing effectively nothing which wastes battery power on a laptop. It'd be great if we could tune kubernetes for microk8s so that it would poll once a second rather than every 5ms.

[2021-03-30 22:50] sharifelgamal commented on #10861
Yeah, the 1.19 minikube release will have the new functionality, which should be out this week.

[2021-03-31 00:08] awan1 commented on #10371
I'm running into this issue again after my system OS updated, but I'm not sure what exactly was updated.

`/etc/os-release` says
[code]

System Settings says
[code]

Attempted: `minikube delete` followed by `minikube start`

Output:
[code]

Followed the post-install steps, which solved this problem for me before: https://docs.docker.com/engine/install/linux-postinstall/#your-kernel-does-not-suppor

[2021-03-31 03:58] RA489 commented on #10939
/kind support

[2021-03-31 04:44] rajesh444aws commented on #10589
Hi @zeshahid Zeeshan Shahid, how you resolve this issue

[2021-03-31 06:30] afbjorklund commented on #10371
I think the latest Google Linux updates to cgroups v2, and there was a regression in how minikube handles that.

[2021-03-31 06:36] #9602 closed

[2021-03-31 07:06] longwuyuan opened #10965 "Cluster Reset automatically after suspend/resume"
**Steps to reproduce the issue:**
Ubuntu focal LTS amd64 on Thinkpad with VirtualBox Driver auto chosen

1. minikube start --container-runtime=containerd --memory 7000m --disk-size 40g --extra-config=kubelet.authentication-token-webhook=true --extra-config=kubelet.authorization-mode=Webhook --extra-config=scheduler.address=0.0.0.0 --extra-config=controller-manager.address=0.0.0.0

2. Install metal

[2021-03-31 07:25] devZer0 commented on #10644
no, i don't think this is an option.

i agree to @robd003 , i think it needs to be clarified if it's a bug or a feature, that minikube burns significant amount of cpu when idle/doing nothing - and if there can't be done something about it.

i know that there exists software which needs to use polling or similar for performance reason , but i really wonder if this is necessary for a container orche

[2021-03-31 07:55] tharun208 commented on #10564
@medyagh with the latest master, I am able to see addons are getting saved in config ( both default and those enabled at run-time)

<img width="644" alt="Screen Shot 2021-03-31 at 1 24 59 PM" src="https://user-images.githubusercontent.com/14926492/113110292-8a32e000-9224-11eb-8f23-a2405b70610d.png">

[2021-03-31 09:41] vagdevik opened #10966 "Ingress on docker driver - minikube v1.18.1 - ERR_CONNECTION_REFUSED - Could not resolve host:"
I am using Minikube(v1.18.1) with Docker-Driver(docker engine 20.10.5) on my Windows 10 Home.

**Steps to reproduce the issue:**

1. minikube start
2. minikube addons enable ingress
3. kubectl apply -f namespace.yaml
4. kubectl apply -f deploy.yaml -n minikube-example

The namespace.yaml looks like this:
[code]

The deploy.yaml looks like this:
[code]

Then,
[code]
gives the following:
[code]

I h

[2021-03-31 09:52] RainingNight commented on #10889
@Chuyukang 怎么解决的，我也遇到同样的问题了。

[2021-03-31 10:54] jhadjar commented on #10127
Related:

- Issue: https://github.com/kubernetes/minikube/issues/9514
- Pull request [merged]: https://github.com/kubernetes/minikube/pull/9515

Side note: A better behavior would be to be able to pass timeout duration as a parameter instead of 3 minutes or 6 minutes for slow connections or starts. Leave it to the user.

[2021-03-31 12:37] Chuyukang commented on #10889
国内没找到好用的gcr.io镜像，只能走代理。我目前是在用digital ocean上的集群。应该本地走代理下镜像也行。

[2021-03-31 13:08] jonenst commented on #4151
still broken with driver virtualbox on latest minikube with or without "--container-runtime=containerd":

without "--container-runtime=containerd":
[code]

same thing with --container-runtime=containerd:
[code]

[2021-03-31 18:18] spowelljr commented on #10588
@Dhairya-Dudhatra You're getting the error `running the 'none' driver as a regular user requires sudo permissions`.

If you look at the documentation for using the none driver https://minikube.sigs.k8s.io/docs/drivers/none/#usage you will see the way to start minikkube is `sudo -E minikube start --driver=none`

[2021-03-31 18:22] sharifelgamal commented on #10371
@awan1 I noticed you're using minikube 1.17.1, which is a full version old now. Can you try upgrading to v1.18.1 and see if that helps? It's working on my rodete machine.

[2021-03-31 18:29] spowelljr commented on #10896
@NatureLingRan Lets move the discussion to #10243, I'll close this issue and reopen that one.

[2021-03-31 18:29] spowelljr commented on #10243
Re-opening due to others not being able to get it to work.

[2021-03-31 18:32] sharifelgamal commented on #10847
So yeah unfortunately we do not currently support the ingress addon for the docker driver on darwin, regardless of architecture. Your best bet is going to be using a vm based driver or tunneling as @medyagh mentioned.

Closing as a dupe of #7332.

[2021-03-31 18:32] #10847 closed

[2021-03-31 18:39] sharifelgamal commented on #10849
Hey @shafeer786  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikube s

[2021-03-31 18:39] #10849 closed

[2021-03-31 18:40] spowelljr commented on #9380
Hi @huornlmj, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-31 18:40] #9380 closed

[2021-03-31 18:41] sharifelgamal commented on #10727
Hey @SUK1, I'm going to go ahead and close this issue for now, if you upgrade to 1.18.1 and still experience issues please reopen this issue and give us some extra details, such as,

The full output of the minikube start command, preferably with --alsologtostderr -v=3 for extra logging.

The full output of minikube logs

[2021-03-31 18:41] #10727 closed

[2021-03-31 18:45] spowelljr commented on #10544
@newtoniumx3 I'm going to close this issue, but if you end up being able to reproduce the issue feel free to reopen.

[2021-03-31 18:46] sharifelgamal commented on #10593
@mconner Apologies, it seems our documentation for ingress is somewhat out of date. Ingress should work fine for the docker driver on Windows now, if it doesn't that's an issue we need to look at.

[2021-03-31 18:47] spowelljr commented on #10534
Hi @phper-xiao, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

-----

嗨@phper-xiao，我们还没有收到您的回音，您还有这个问题吗？
此问题中没有足够的信息以使其无法操作

[2021-03-31 18:47] #10534 closed

[2021-03-31 18:54] spowelljr commented on #10322
@hayorov In your issue you're restarting an existing, I'm curious if you delete and re-start again if the issue is solved.

There could also possibly be a fix in v1.18.1 if you could download the latest version, thanks.

[2021-03-31 18:55] sharifelgamal commented on #9595
Any luck @mnshrr?

[2021-03-31 18:58] spowelljr commented on #10848
Hi @TheEvisu, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-31 18:59] spowelljr commented on #10796
Hi @rifat-0, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-31 18:59] #10796 closed

[2021-03-31 18:59] #10762 closed, assigned to nobody

[2021-03-31 19:00] #10756 closed

[2021-03-31 19:01] spowelljr commented on #10688
Hi @hlulaniM, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-31 19:01] #10688 closed

[2021-03-31 19:01] spowelljr commented on #10574
Hi @nikhil-1995, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-31 19:01] #10574 closed

[2021-03-31 19:01] spowelljr commented on #10474
Hi @liakaz, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-31 19:01] #10474 closed

[2021-03-31 19:02] #10440 closed

[2021-03-31 19:02] spowelljr commented on #10392
Hi @xuchuan-666, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-31 19:02] #10392 closed

[2021-03-31 19:03] spowelljr commented on #10278
Hi @thirdpartyusage, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-31 19:03] #10278 closed

[2021-03-31 19:09] spowelljr commented on #9684
@coder2213 Could you update to the newest version of minikube (v1.18.1) and see if the same problem still persists.

[2021-03-31 19:10] sharifelgamal commented on #10245
Sorry for the bad experience here. Have you tried upgrading to the latest minikube and trying again? If it's still an issue, we will definitely take a closer look at the ingress addon on windows.

[2021-03-31 19:20] sharifelgamal commented on #10445
Hey @author – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Thank you for sharing your experience!

[2021-03-31 19:20] #10445 closed

[2021-03-31 19:38] costiser commented on #10371
Have you tried the fix indicated above?
https://docs.docker.com/engine/install/linux-postinstall/#your-kernel-does-not-support-cgroup-swap-limit-capabilities

[2021-03-31 22:16] awan1 commented on #10371
@sharifelgamal great catch - updating to minikube v1.18.1 made `minikube start` work without doing anything else. Thank you! I'll add running `minikube update-check` to my debugging process.

[2021-04-01 03:47] RainingNight commented on #10889
这个好多坑，用了`--image-mirror-country=cn`，Ingress的镜像也变成了` registry.cn-hangzhou.aliyuncs.com/google_containers/k8s-artifacts-prod/ingress-nginx/controller`了，问题是阿里云镜像上根部没有这些镜像。

[2021-04-01 05:17] allanchau commented on #9720
@afbjorklund Looks like the possible fix was approved a while ago. Any ideas how we can get that pushed through?
https://github.com/machine-drivers/docker-machine-driver-vmware/pull/31

[2021-04-01 05:38] RA489 commented on #10966
/kind support

[2021-04-01 05:39] RA489 commented on #10965
/kind support

[2021-04-01 07:24] azhao155 commented on #10836
@afbjorklund  my kernel version is Debian 5.7.17-1rodete5 what version do you suggest to upgrade to?

[2021-04-01 08:45] TaoPanfeng opened #10969 "Using Multi-Node Clusters"
# why I no display **hello**  URL ： `http://xxx:31000`

<https://minikube.sigs.k8s.io/docs/tutorials/multi_node/>

[code]

[2021-04-01 09:15] RA489 commented on #10969
/kind support

[2021-04-01 10:37] loic-rgt opened #10970 "Reinstall minikube after an improper uninstallation (residual files)"
Hi, I am using minikube v1.18.1 on Hyper-V (Microsoft Windows 10 Enterprise)
I recently tried to uninstall minikube and reinstall it.

**Steps to reproduce the issue:**

1. I remove the .minikube directory manually (I know I shouldn’t have), only one file remain : a snapshot file .vmcx, probably the configuration file of my previous VM.
2. I added a new Hyper-V switch under the  "virtual switch ma

[2021-04-01 11:30] somnath-kadavergu opened #10971 "unable to start minikube with kubernetes"
minikube start --kubernetes-version v1.17.3
Starting local Kubernetes v1.17.3 cluster...
Starting VM...
E0401 16:58:09.553070   31575 start.go:174] Error starting host: Error loading existing host. Please try running [minikube delete], then run [minikube start] again.: Error loading host from store: open /home/somnath/.minikube/machines/minikube/config.json: permission denied.

 Retrying.
E0401 16

[2021-04-01 12:14] govargo opened #10972 "[Unit Test] Fail at boilerplate & TestGenerateDocs"
**The exact command to reproduce the issue**:

Unit test `boilerplate` &  `TestGenerateDocs` fails with following output.

[code]

**The operating system version**:

OS: macOS Big Sur 11.2.2
Go: go version go1.15.3 darwin/amd64
Minikube: master(commit: 7253f46a5b566b93fb6fe95144e314e9b9368017)

/kind failing-test
/area testing

I'll send a PR to fix this issue.

[2021-04-01 12:15] govargo commented on #10972
/assign

[2021-04-01 16:38] #10972 closed

[2021-04-01 16:47] #8694 closed

[2021-04-01 16:57] #9457 closed

[2021-04-01 17:22] bs444 commented on #8834
/remove-lifecycle rotten

[2021-04-01 19:52] sharifelgamal commented on #10971
Hey @somnath-kadavergu, could you give us some extra details, such as
* The version of minikube used and OS used.

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

Given the error `/home/somnath/.minikube/machines/minikube/config.json: permission denied.`, it would seem that there's an issue wi

[2021-04-01 19:54] sharifelgamal commented on #10970
Windows will occasionally have issues where zombie processes will keep a hold on machine files like this, I've always fixed it by rebooting my computer. After the reboot, running `minikube delete --all --purge` will get rid of all those extra config files.

Let me know if that helps.

[2021-04-01 19:56] sharifelgamal commented on #10969
Could I get more details about what you tried?

* The version of minikube and OS you're using

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

[2021-04-02 07:59] sgirem463 commented on #10437
@priyawadhwa

I have made changes and started testing with:

    make test WHAT=./pkg/minikube/perf  GOFLAGS=-v

It seems to run through tests without issues. My question:
where I can find logs for the tests related to the "mkcmp" command I am making changes to?

Below is the diffs:

ALLANs-MBP:minikube alue$
ALLANs-MBP:minikube alue$ git diff
diff --git a/pkg/minikube/perf/result_manager.go b/pkg

[2021-04-02 10:37] cmaster11 commented on #10809
Just encountered the same issue, `minikube stop` would hang and then throw the timeout. Just leaving this here for future reference.

Without having to run `minikube delete`, I managed to solve by:

1. `service docker stop`
2. Get the PID of the running minikube process `ps -ef | grep minikube` and kill it `kill -9 PID`
3. `minikube start`

[2021-04-02 14:55] rckgomz commented on #6411
any news on this?

[2021-04-02 16:31] MostafaNegim commented on #8163
In my case, removing minikube and `minikube start` solved the problem.

[2021-04-02 16:38] nikoladsp opened #10978 "Ingress nginx for TCP and UDP services"
Is **ingress-nginx** the right namespace? I used **kube-system** in order to work.

[2021-04-02 17:39] loic-rgt commented on #10970
I tried running the command but it failed.
I finally found a solution, in fact 2 solutions :
- Running windows in safe mode and delete the whole directory but in my case that wasn’t possible
- Install the Handle Windows tool, identify the process which handle the .vmcx file and kill it
The second solution worked fine for me, thanks for your help I hope this post may be useful if someone encounter

[2021-04-02 20:02] rmon-vfer commented on #10083
I am having this exact same issue running `minikube start --driver=none` on Ubuntu 10.4 inside Virtual Box 6.1. Here is the error trace:
[code]

[2021-04-03 02:21] claywd-x opened #10980 "podman support on macos in Minikube"
I don't know or immediately recognize the impediments to using podman as the container engine on MacOs so I was curious if it's already on the roadmap somewhere or if there is already an effort to support it.

Note*
Current documentation does explain linux is required and the driver is experimental but I don't know if the predefined flow is to bring features to linux first and MacOs/Windows later

[2021-04-03 02:27] claywd-x commented on #10980
ah, podman doesn't technically interface with runc on MacOs. They use a VM. Got it.

[2021-04-03 02:27] #10980 closed

[2021-04-03 06:34] afbjorklund commented on #10980
@claywd-x : it is in the backlog, but it's not really a priority at the moment: #8003

The previous podman-machine has been deprecated (and doesn't support podman2),
and the new podman machine has not yet been released - maybe for podman4 or so ?

Like you say, both Docker and Podman do require a VM when running on Mac or Win.

The main difference is whether you as a user see this VM - or if it is

[2021-04-03 06:36] afbjorklund commented on #10980
Also, the container runtime (for k8s) is called "cri-o" but the engine is called "podman".

[2021-04-03 11:21] maksym1hladkykh opened #10981 "X Exiting due to GUEST_START: Failed to setup kubeconfig: Error getting VM/Host IP address: connection is shut down"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-04-04 02:02] prezha commented on #9605
@medyagh i think we can close this issue now - ie, the error:

should have been resolved by #10439 and #10858 ?

[2021-04-05 00:39] prezha opened #10984 "multinode: dns not working for pods on nodes where CoreDNS is not present"
example:

failing "TestMultiNode/serial/DeployApp2Nodes" test log extract (from https://storage.googleapis.com/minikube-builds/logs/10792/4e34b35/KVM_Linux.html#fail_TestMultiNode%2fserial%2fDeployApp2Nodes):
[code]

/assign

[2021-04-05 02:14] prezha commented on #9825
i think this issue could be resolved by #10985 with kindnet cni

[2021-04-05 06:37] nigurr opened #10986 "Add integration test for cgroups v2"
**Steps to reproduce the issue:**

1. Start minikube
[code]
2. Execute
[code]

**Full output of failed command:**
[code]

**Optional: Full output of `minikube logs` command:**
<details>
❌  Exiting due to GUEST_STATUS: state: unknown state "actions-dev": docker container inspect actions-dev --format=: exit status 1
stdout:

stderr:
Error: No such container: actions-dev
</details>

Additional docker

[2021-04-05 10:14] #10588 closed

[2021-04-05 10:40] govargo commented on #10978
/kind support
/area addons

Thank you for opening this.

I guess that you mentioned about [Ingress nginx for TCP and UDP services](https://minikube.sigs.k8s.io/docs/tutorials/nginx_tcp_udp_ingress/).

Until minikube v1.8.1(current latest), `kube-system` is namespace for ingress addon as you mentioned.
This will change at next release(maybe v1.9.0-beta and v1.9.0).
The PR is https://github.com/kube

[2021-04-05 12:57] kreempuff commented on #4912
Was docs ever added for this? I found myself looking for this the other day

[2021-04-05 15:01] nbon12 commented on #4029
it would be very nice to have a stable IP for windows when using minikube.

[2021-04-05 15:11] nbon12 commented on #4029
is this still unfeasible?

[2021-04-05 19:46] matthewmichihara commented on #9465
I saw this pop up again with minikube 1.18.1 via Cloud Code. Re-opening to track --

[code]

[2021-04-05 20:13] #9825 closed

[2021-04-05 20:13] #10969 closed

[2021-04-05 20:13] #10984 closed

[2021-04-05 20:22] lukasmrtvy opened #10994 "Feature request: multiplatform hosts manager as minikube addon"
Would be nice to implement support for something like https://github.com/guumaster/hostctl as minikube addon ( https://github.com/guumaster/hostctl/pull/66 ). It has few bugs and seems to be unmaintained, but there is Linux, Windows, MacOS  support and it might eventually work.

Another related tools that I found:
https://github.com/cbednarski/hostess
https://gitlab.com/dbohdan/hosts

These things

[2021-04-05 22:30] medyagh commented on #9259
@jonjohnsonjr  we added GCR support for GCP-Auth addon recently, (on HEAD) https://github.com/kubernetes/minikube/pull/10853

[2021-04-05 23:40] seperman commented on #10060
Thanks for the clarification.

[2021-04-06 08:28] jlegido commented on #10499
Just in case somebody arrives here, worth checking if app armor is enabled or not:

`sudo aa-status`

I'm still troubleshooting the issue, but the only host running docker showing similar error message has app armor disabled.

[2021-04-06 11:39] prezha opened #11002 "upgrade spinner library fork: fix spin.Stop() output"
as seen in the logs:

[code]
there's a newline missing at the end of the `🔥  Creating kvm2 VM (CPUs=2, Memory=6000MB, Disk=20000MB)`

@alonyb i guess `fmt.Print("\n")` should be changed to `fmt.Printf("\n")` in your `github.com/alonyb/spinner@v1.12.7` fork of `github.com/briandowns/spinner`:

https://github.com/alonyb/spinner/blob/7607d83ff2c82094402aa67046905d4c765869ad/spinner.go#L342

minikube

[2021-04-06 12:28] lyind commented on #8535
For me, a mere user, IPv6 support is much more important than for example multi-node or other more advanced K8s features.

I use minikube on Linux to quickly spin up fresh clusters for integration testing.

Some of the tested applications are intended and configured for IPv6-only clusters. Being forced to fall back to IPv4 in the test setup would thus reduce coverage or risk introducing errors whe

[2021-04-06 12:49] prezha commented on #11002
just thinking out loud: actually, this might not fix the issue of the appended log line -
since the operation of creating a vm takes some time, another process (with libmachine in this case) could echo the output to the same std out line before creation is completed...

please just check if you would still want to change fmt.Print to fmt.Printf, if that was the intention

[2021-04-06 13:06] alonyb commented on #11002
hey @prezha thanks for the observation, I will check it :)

[2021-04-06 18:28] gsquared94 opened #11004 "`minikube image rm` help text is incorrect"
**Steps to reproduce the issue:**
[code]

[2021-04-06 18:57] afbjorklund commented on #11004
Copy/paste, most likely

[2021-04-06 19:01] afbjorklund commented on #11004
It was trying to say that the command did not exist (yet):

[code]

[2021-04-06 19:25] prezha opened #11005 "TestErrorSpam: flake"
as seen in logs, TestErrorSpam flake usually comes from:

- not enough log entries generated to cross the 1mb boundary of creating the next log file, eg:
(ref: https://storage.googleapis.com/minikube-builds/logs/10985/d69e24d/KVM_Linux.html#fail_TestErrorSpam%2fstart)
[code]

- race condition - cleanup failures due to permission denied errors (eg, locked log files - in use by other tests running i

[2021-04-06 20:35] tstromberg commented on #8535
@vishjain - please do!

As someone looking at deployed an IPv6 only cluster, I would really love to see support within minikube for it.

[2021-04-06 21:50] jameswilsongrant opened #11008 "minikube start hangs when docker has user namespaces enabled"
**Steps to reproduce the issue:**

1. Enable user namespaces in daemon.json
2. Restart docker
3. run minikube start --logtostderr

Tested under 1.18.1 and 1.19.0-beta.0 on docker-ce under ubuntu 20.04. It hangs here forever.

[code]

<details>
Most likely the issue is with these calls:

[code]

[code]
[code]
None of these will work in userspace mode as it disables privileged mode.

You end up loop

[2021-04-06 22:04] jameswilsongrant opened #11009 "minikube kubectl has broken option parsing"
**Steps to reproduce the issue:**

1. fresh minikube installation on 1.18.1 or 1.19.0-beta0 using docker-ce and ubuntu 20.04
2. minikube kubectl create deployment nginx --image=nginx
Error: unknown flag: --image
See 'minikube kubectl --help' for usage.

3. Try the same command with two dashes after kubectl
minikube kubectl -- create deployment nginx --image=nginx
deployment.apps/nginx created

<de

[2021-04-06 23:19] prezha commented on #10628
@sharifelgamal i _think_ this issue of:
[code]
should have been resolved by #10858, specifically with:
[code]

[2021-04-06 23:28] prezha commented on #10802
@medyagh actually, i think this doesn't come from `TestErrorSpam` but from another completely different concurrently-run test - as seen in the log:
[code]
end of 2nd line: `--- PASS: TestKVMDriverInstallOrUpdate (2.35s)`

[2021-04-07 06:15] afbjorklund commented on #11008
Hmm, there is _supposed_ to be a check for userns-remap - adding the `--userns=host` parameter.

`docker info --format '{{json .SecurityOptions}}'`

https://docs.docker.com/engine/security/userns-remap/

Running with rootless docker is not supported yet.

Currently minikube requires privileges on the host, for all drivers (except for the remote `ssh` driver)

[2021-04-07 06:17] afbjorklund commented on #11009
What is the issue ? Minikube requires that extra --, both for "minikube ssh --" and "minikube kubectl --".

There were some bugs when it came to symlinking kubectl to minikube, but those should be fixed now.

[2021-04-07 06:23] afbjorklund commented on #10933
This exposes a shortcoming with the current image load, when running with cri-o:

### docker
k8s.gcr.io/pause:3.2
k8s.gcr.io/kube-scheduler:v1.20.2
k8s.gcr.io/kube-proxy:v1.20.2
k8s.gcr.io/kube-controller-manager:v1.20.2
k8s.gcr.io/kube-apiserver:v1.20.2
k8s.gcr.io/etcd:3.4.13-0
k8s.gcr.io/coredns:1.7.0
gcr.io/k8s-minikube/storage-provisioner:v5
**docker.io/library/busybox:latest**
**docker.io/lib

[2021-04-07 06:26] saruman9 opened #11012 "`memory` field of the config file is broken"
**Steps to reproduce the issue:**

1. Set the memory field in the config file.
`$HOME/.minikube/config/config.json`:
[code]

2. `minikube start`

**Full output of `minikube start` command used, if not already included:**
[code]

Similar issues: #9017, #9057.

[2021-04-07 06:33] afbjorklund commented on #10933
You can compare this output, with the regular `crictl images` from above.

Main differences:
* repository/tag only
* sorting (reverse)
* **qualified names**

The other output formats (like JSON) could be added, with some effort.

Also the output for containerd needs fixing, to show _unpacked_ sizes.

[2021-04-07 06:37] jameswilsongrant commented on #11008
Understood. I was setting user mode in daemon.json, not the command line.
Not sure if that’s affecting the check.

On Wed, Apr 7, 2021 at 2:16 AM Anders Björklund ***@***.***>
wrote:

[2021-04-07 06:39] jameswilsongrant commented on #11009
This is my mistake. I must have mixed up my kubectl docs.

What you’re describing is clearly shown in the getting started
documentation. This is closable.

On Wed, Apr 7, 2021 at 2:17 AM Anders Björklund ***@***.***>
wrote:

[2021-04-07 06:41] #11008 closed

[2021-04-07 06:41] #11009 closed

[2021-04-07 07:18] arunlouie commented on #9586
Any update on this? I am also facing the same error which was once working.

Tried with driver = none I am able to start. But not for docker driver. Any help please.

[2021-04-07 11:01] afbjorklund commented on #11008
The "info" command is supposed to report the current configuration, either way ?

[code]

[2021-04-07 17:15] afbjorklund commented on #11012
Confirm that only using the flags is working:

### defaults

    "Memory": 6000,
    "CPUs": 2,
    "DiskSize": 20000,

### flags

`--cpus 4 --memory 2g --disk-size 32g`

    "Memory": 2048,
    "CPUs": 4,
    "DiskSize": 32768,

### config

[code]

    "Memory": 6000,
    "CPUs": 4,
    "DiskSize": 32768,

So, something with "no existing cluster config was found, will generate one from the flags"

[2021-04-07 17:41] afbjorklund commented on #11012
The difference is in the "Flags().Changed":

[code]

[code]

Apparently it does not respect the config.

[2021-04-07 18:08] sharifelgamal commented on #10876
Hey @omkar120  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikube sta

[2021-04-07 18:08] #10876 closed

[2021-04-07 18:10] sharifelgamal commented on #10686
@Windrow the error message is pretty clear there, you shouldn't run the docker driver as root. if you need to run as root, you can try using the none (or native) driver.

[2021-04-07 18:14] spowelljr commented on #10725
@krishsaha2020 This is a different error than the original issue, please make a new issue specifically for your issue.

It seems @AnannyaShanmugam23 was solved by @afbjorklund's suggestion, so I'm going to close this issue.

Feel free to re-open if you have more questions.

[2021-04-07 18:14] #10725 closed

[2021-04-07 18:32] medyagh commented on #10883
this would allow us to install specific version of container-runtime, is there a reason you prioritize this as soon ? how about backlog ?

[2021-04-07 18:35] medyagh commented on #10883
one challenge would be how we learn to install Containerd or Docker or Crio on different OS (for example in case of SSH driver)
but in KIC and ISO it would be easy

[2021-04-07 18:48] medyagh commented on #10869
@samuelarogbonlo do u mind running `docker system df` ?
I suspect your Docker Desktop Disk is small and you have many data stored in it, you could either try to remove un-wanted volumes/images or you could also resize the Disk Image ?

Have you tried  "Docker icon > Preferences > Resources > Disk Image Size" and increase it by 5 GB ?

[2021-04-07 18:48] medyagh commented on #10869
/triage needs-information
/kind support

[2021-04-07 18:49] ilya-zuyev commented on #9968
@matanshukry hmm, works for me. do you mind trying to reproduce the issue with the v1.18.1 version of minikube? And if it's still an issue, please provide some details about your os and logs of `minikube start -v=5 --alsologtostderr`. Thanks!

[2021-04-07 18:53] medyagh commented on #10644
@devZer0 @robd003 I agree with you, it is a shame how much energy we waste and contributing to the global warming,
during past year we tried in minikube and reduce the CPU by more than 50%
Priya Wadwha has a great talk about how we did that https://www.youtube.com/watch?v=tvreJem3xIw

but that is still not enough thats why we started a new feature on auto-pause (currently only on docker/podman dri

[2021-04-07 18:54] prezha commented on #10662
hi @rishabds hopefully it’s ok if i close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it or create a new issue.

Here is additional information that may be helpful to us:
- Whether the issue occurs with the latest minikube release
- The exact minikube commands used
- The full output of

[2021-04-07 18:54] #10662 closed

[2021-04-07 20:11] afbjorklund commented on #10883
Currently Kubernetes defaults to using Docker to install containerd (?), rather than using the CNCF project https://containerd.io/

https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd

I started on making an install script for CRI-O, but I'm not sure if it is available from the home page yet ? https://cri-o.io/

https://kubernetes.io/docs/setup/production-environ

[2021-04-07 20:13] afbjorklund commented on #10883
We would also need some way to install CRI for Docker.

https://github.com/Mirantis/cri-dockerd

And to install `crictl`, since it is not provided by `kubeadm`

https://github.com/kubernetes-sigs/cri-tools

[2021-04-07 22:26] #10933 closed

[2021-04-07 22:27] #11012 closed

[2021-04-08 00:34] #11005 closed

[2021-04-08 01:08] medyagh opened #11018 "Prototype buildroot in kicbase"
the current pain point is maintaing two operating systems
one for VM
and one for Kicbase
kic base here https://github.com/kubernetes/minikube/tree/master/deploy/kicbase
and iso here https://github.com/kubernetes/minikube/tree/master/deploy/iso
one idea would be moving ISO to ubuntu
but that would make ISO much bigger
or we could change docker to be buildroot

[2021-04-08 01:10] medyagh commented on #11018
@afbjorklund had a working PR that we didnt continue long time ago, it woudl be nice to re-do it and see the metrics

[2021-04-08 05:34] imoisharma opened #11020 "do I need to Downgrade Minikube version for old kuberentes versions ?"
Hi there,

I am running my application for Minikube version 1.18.1, but now I want to downgrade the minikube v 1.15.1 to make it compatible with other services. Could you provide me a way to downgrade the minikube.

I can't see it in the documentation.

I am using Ubuntu 20.04 LTS | 32GB | x86_64 Arch

[2021-04-08 06:20] afbjorklund commented on #11018
The prototype was done here: #6942

[2021-04-08 06:29] imoisharma commented on #11020
Till far what I figure out, I've to run minikube delete and purge all the files and download and install again minikube v 1.5.1.

Can't we do it via CLI directly rather than performing all the steps?

[2021-04-08 10:05] afbjorklund commented on #11020
You should be able to start clusters with older kubernetes versions, without having to downgrade minikube itself.

See `--kubernetes-version`

[2021-04-08 10:07] imoisharma commented on #11020
How would you provide more details on this?

[2021-04-08 10:10] afbjorklund commented on #9992
@rgordill : The coreos installation is supposed to be ephemeral/immutable, instead it uses toolbox for debugging purposes

https://github.com/coreos/toolbox

For the prototype we are using the "cloud" images (as available through vagrant), rather than kickstart and netboot and such.

[2021-04-08 10:13] afbjorklund commented on #11020
It's a parameter to the "minikube start" command, I think `kubeadm` supports minor upgrades:

https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

So you could not go directly from 1.20 down to 1.15, and downgrading is less supported as well.

But the usual approach minikube is to delete the cluster and start a new (or second) one...

You can use two different profiles for

[2021-04-08 10:16] imoisharma commented on #11020
I'll look into it and come back but the kubeadm link is only upgrade not for degrade.

[2021-04-08 11:08] bamason14 opened #11022 "Failed to start minikube - failed to acquire bootstrap client lock: bad file descriptor"
**Steps to reproduce the issue:**

1. minikube start --driver=docker --cpus=2 --memory=8g --addons=ingress
2.
3.
$ minikube start --driver=docker --cpus=2 --memory=8g --addons=ingress --alsologtostderr
I0408 07:05:54.554411    4173 out.go:239] Setting OutFile to fd 1 ...
I0408 07:05:54.554717    4173 out.go:286] TERM=vt100,COLORTERM=, which probably does not support color
I0408 07:05:54.554732

[2021-04-08 11:31] rgordill commented on #9992
Usually "cloud" images are built with those alternatives. Anyway, the fact is that some low level workloads requires some OOB capabilities on the OS to be able to be deployed, like for example nmstate (https://nmstate.io/kubernetes-nmstate/user-guide/102-configuration), or they need a particular kernel version in the host.

I know this is not the general use case, but if a simple way of building t

[2021-04-08 14:04] EraYaN commented on #3110
@afbjorklund Since it seems the actual packaging in the main k8s repos is never going to happen, self hosting is the way to go.

[2021-04-08 15:30] afbjorklund commented on #3110
We are more likely to stay at the first option and stick with GCS, at least until the installation gets more complicated...

Eventually we will need to host and cache package dependencies, especially for volatile upstreams like OBS: #9552
But for minikube itself (and dependencies like crictl), I think we are stuck with manually downloading binaries for now.

[2021-04-08 15:54] sadlil commented on #10327
Unassigned myself as I am not able to manage some time to work on it.

[2021-04-08 16:00] afbjorklund commented on #9992
I'm not sure updating or building the ISO was _complex_, it was more like "maybe it shouldn't be handled by minikube project"

[2021-04-08 16:03] afbjorklund commented on #9992
But we said that we would do one more iteration of the ISO, based on Buildroot 2021.02 (which Linux kernel version is still unclear)

We will cover up the lack of a package manager by using tarballs, will only be used for the container runtime and for kubernetes...

[2021-04-08 16:38] afbjorklund commented on #9992
Possibly this could be used https://github.com/tianon/boot2docker-debian

[2021-04-08 17:59] ilya-zuyev commented on #11022
Hi @bamason14! Thanks for reporting this. Does minikube start without ingress add-on enabled? Could you collect more logs, using `-v=5 --alsologtostderr` options?

[2021-04-08 18:07] medyagh opened #11025 "`set -x -o pipefail` will cause Kic Build Job to fail"
we added `o pipefail`  in this PR https://github.com/kubernetes/minikube/pull/10999 in order the Kic Image failures be returned
but that caused our Prompt to make all builds fail

this line in Makefile
[code]

causes the failure as seen here https://github.com/kubernetes/minikube/pull/11019#issuecomment-816015818
[code]

[2021-04-08 18:12] ilya-zuyev commented on #10928
Yes. This should probably be fixed in Docker release version, but right now we have a lot of segfault reports from users who running amd64 binaries in emulation mode. Seems like the easiest workaround for now is to ask them to use native binary and exit.

[2021-04-08 22:29] #10928 closed

[2021-04-08 22:32] prezha opened #11029 "Tests Flake due to insufficient memory"
with insufficient memory, all different weird kind of issues happen, seen several tests frequently failing b/c of that, and containerd timeouts are one of them

example:
https://storage.googleapis.com/minikube-builds/logs/11006/74537ca/KVM_Linux_containerd.html#fail_TestForceSystemdFlag
https://storage.googleapis.com/minikube-builds/logs/11006/74537ca/KVM_Linux_containerd.html#fail_TestForceSystem

[2021-04-09 00:11] prezha opened #11032 "calico: apiextensions.k8s.io/v1beta1 is deprecated in v1.16+, unavailable in v1.22+"
as seen in logs - example:
https://storage.googleapis.com/minikube-builds/logs/11006/74537ca/Docker_Linux_containerd.html#fail_TestAddons
[code]

[2021-04-09 04:49] ncksp opened #11033 "Process exited with status 139 from signal SEGV"
**Perintah yang diperlukan untuk merekonstruksi masalah**: ./minikube-darwin-amd64 start

**Output penuh dari perintah yang gagal**:<details>
😄  minikube v1.18.1 on Darwin 11.2.3
✨  Using the docker driver based on an existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...

And after pulling, minikube creates a container on docker.
</details>

**Outpu

[2021-04-09 04:51] #11033 closed

[2021-04-09 04:53] ncksp opened #11034 "Process exited with status 139 from signal SEGV"
**Steps to reproduce the issue:**

1. ./minikube-darwin-amd64 start

**Full output of failed command:** ./minikube-darwin-amd64 start

**Optional: Full output of `minikube logs` command:**
<details>
❌  Exiting due to GUEST_START: wait: /bin/bash -c "sudo env PATH=/var/lib/minikube/binaries/v1.20.2:$PATH kubeadm init --config /var/tmp/minikube/kubeadm.yaml  --ignore-preflight-errors=DirAvailable--e

[2021-04-09 08:51] mwiora opened #11035 "minikube kubectl proxy - address flag unkown"
[code]
I was trying to run the minikube dashboard by executing:
[code]
and to change the listener IP to 0.0.0.0
[code]

unfortunately the kubectl proxy command is failing with:
[code]
while the documentation says:
[code]
so the option should be available...
did I miss somthing?

[2021-04-09 10:04] afbjorklund commented on #11035
You need to use the same `minikube kubectl -- proxy` when running the command, as with the help.

Otherwise the options will be for `minikube kubectl`, which doesn't have to so many:

[code]

[2021-04-09 10:05] afbjorklund commented on #11035
You probably want to set up a shell alias or a symlink, alternatively install `kubectl` with your package manager:

https://minikube.sigs.k8s.io/docs/handbook/kubectl/

https://kubernetes.io/docs/tasks/tools/#kubectl

[2021-04-09 10:07] afbjorklund commented on #11034
Most likely this is a known issue with Docker Preview on Apple M1

#10243

[2021-04-09 10:24] EraYaN commented on #3110
Manually downloading binaries is so... Windows like. It's a real shame, and 0install is not really an option in company settings, while getting apt repo's approved is much easier, especially offical ones.

[2021-04-09 10:31] mwiora commented on #11035
oh - nice - thanks to both of you!
Maybe it would be an idea to show up a hint regarding this double dash speciality with minikube kubectl commands - meanwhile I will close this issue :)

[2021-04-09 10:31] #11035 closed

[2021-04-09 10:36] afbjorklund commented on #11029
The buildroot installation is quite bloated by now, so it only leaves like 500M available when running on a 2048M machine

[2021-04-09 10:58] afbjorklund commented on #3110
I left the "apt" and "yum" targets in the Makefile in case someone else wants to pick it up, but it's not a technical issue any more...

[2021-04-09 11:28] bluelurker commented on #2367
That's interesting. But is this

That's clever!

[2021-04-09 11:28] bluelurker commented on #2367
That's clever!

[2021-04-09 12:00] MadhavJivrajani commented on #10495
Hi! I'd like to work on this if possible 😄
/assign

[2021-04-09 12:18] unfor19 opened #11036 "Docker local private registry in minikube using the docker driver"
## My Setup

Minikube on Windows WSL2 using [minikube's docker driver](https://minikube.sigs.k8s.io/docs/drivers/docker/).

I've deployed [nginx-ingress-controller](https://kubernetes.github.io/ingress-nginx/deploy/) which listens on ports 80 and 443. The application is available via both HTTP and HTTPS (using [cert-manager](https://cert-manager.io/docs/installation/kubernetes/) for TLS certificat

[2021-04-09 12:28] pribalaji58 opened #11037 "Failed to start host: driver start: Unable to start the VM: C:\Program Files\Oracle\VirtualBox\VBoxManage.exe startvm minikube --type headless failed:"
**Steps to reproduce the issue:**

1.I am getting below error while starting the minikube.  Please let us know how to resolve this

C:\tools\kuber>minikube start
* minikube v1.18.1 on Microsoft Windows 10 Home Single Language 10.0.19042 Build 19042
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing virtualbox VM

[2021-04-09 15:16] mariiaGnutova opened #11038 "minikube start failed. apiServer.certSANs: Invalid value: """
**Steps to reproduce the issue:**

1. minikube start
2. minikube delete all - doesn't helped
3. "Use the WSL 2 based engine" is activated on Docker.

**Full output of failed command:**

C:\WINDOWS\system32>minikube start
* minikube v1.18.1 auf Microsoft Windows 10 Pro 10.0.18363 Build 18363
* Using the docker driver based on existing profile
* Starting control plane node minikube in cluster miniku

[2021-04-09 17:54] ncksp commented on #11034
I was start the minikube using command:
./minikube-darwin-amd64 start

And I also not running minikube using docker preview. Fyi, minikube with docker on M1 is running well

[2021-04-09 18:06] rassidm commented on #10245
Hi,

I'm experiencing the same behavior on the latest GA version of minikube (Version 1.18.1) (Docker and WSL2)

minikube version: v1.18.1 still affected

[2021-04-09 18:08] ilya-zuyev commented on #11034
@ncksp anyway, native (`minikube-darwin-arm64`) version is a bit faster and way more stable on M1. Please use it.

[2021-04-09 18:11] ilya-zuyev commented on #10981
@maksym1hladkykh thanks for reporting! please provide some details about your system, and output of `minikube start --v=5 --alsologtostderr'

[2021-04-09 18:21] medyagh opened #11040 "bump default and newest k8s version to 1.21 causes 1 minute slow down"

[2021-04-09 18:33] zhan9san opened #11041 "apiserver port is exposed to a random port"
Hi,
Currently, the exposed port will be changed once minikube is restarted.

If apiserver is exposed on a fixed port, it would be convenient to access this cluster remotely, that's to say, there is no need to modify the cluster information in kubeconfig file once minikube is restarted.

**Steps to reproduce the issue:**

1. $ minikube start --driver=docker --listen-address='0.0.0.0' --apiserver-ip

[2021-04-09 19:43] samwho opened #11044 "Dashboard in state CrashLoopBackoff, i/o timeout"
**Steps to reproduce the issue:**

1. minikube start
2. minikube dashboard --alsologtostderr -v=1

`minikube logs` output below:

<details>

[code]

**Full output of `minikube start` command used, if not already included:**

[code]

**Optional: Full output of `minikube logs` command:**
[code]

</details>

[2021-04-09 21:12] luisvelalopez opened #11045 "Exiting due to HOST_KUBECTL_PROXY: readByteWithTimeout: EOF"
**Los comandos necesarios para reproducir la incidencia**:
`minikube dashboards`

**El resultado completo del comando que ha fallado**: <details>
🔌  Enabling dashboard ...
    ▪ Using image kubernetesui/dashboard:v2.1.0
    ▪ Using image kubernetesui/metrics-scraper:v1.0.4
🤔  Verifying dashboard health ...
🚀  Launching proxy ...

❌  Exiting due to HOST_KUBECTL_PROXY: readByteWithTimeout: EOF

😿  I

[2021-04-10 01:04] EdVinyard opened #11052 "multiple /etc/hosts entries created for control-plane.minikube.internal"
**Steps to reproduce the issue:**

I've tried this on both Mac OS using the hyperkit driver and Ubuntu 18.04 using the "none" driver.

1. start Minikube
2. switch to a different network
3. start Minikube

Multiple `/etc/hosts` files entries are created for _control-plane.minikube.internal_.  After using the "none" driver for some time, `/etc/hosts` has accumulated quite a few entries for me.

**Fu

[2021-04-10 02:20] ncksp commented on #11034
@ilya-zuyev I already use it, and when I start the minikube using command "./minikube-darwin-amd64 start" the error will showing like above

[2021-04-10 05:39] sgirem463 commented on #10437
@sharifelgamal
Can you please provide inputs?

[2021-04-10 07:18] zhan9san commented on #11041
Here is a real scenario.
[](url)
Inspired by this [PR10653](https://github.com/kubernetes/minikube/pull/10653), I create a kubernetes cluster on a remote development server. A context is set on my local laptop, referring to [configure-access-multiple-clusters](https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/).

If the minikube is restarted, I have to

[2021-04-10 07:59] afbjorklund opened #11056 "Alternative Buildroot 2021.02 image, using Linux version 5"
The current 2020.02 LTS series are now end of life, we should upgrade to 2021.02 LTS if we want to keep it.

While doing so, we should make yet another attempt at upgrading from Linux version 4 to Linux version 5...

[code]

This relates to #9992 and #10501

[2021-04-10 08:02] afbjorklund commented on #5105
I don't think we will do this, but could consider it for #11056

[2021-04-10 08:08] afbjorklund opened #11058 "Prototype ubuntu for boot2docker"
Make an ISO based on the same ubuntu as KIC, following the boot2docker.iso requirements

* user docker
* automount service

This is the opposite of #11018, which builds a KIC image based on the same buildroot as ISO

It's related to #9992

Possibly some inspiration can be found here: https://github.com/tianon/boot2docker-debian

[2021-04-10 08:10] afbjorklund commented on #11018
The kicbase image is based on kind, while the buildroot image is based on coreos

[2021-04-10 08:28] afbjorklund opened #11059 "Remove docker assumptions from minikube installation"
Now that Docker is deprecated in Kubernetes (after 1.20), it should be the same in minikube.

Unfortunately this issue is not addressed upstream, and makes misleading statements:

https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/

In minikube, these so called "two environments" are one and the same.

We should aim for using CRI for the runtime operations, and to use CNI for t

[2021-04-10 08:31] afbjorklund commented on #11059
The dockershim will be removed in Kubernetes 1.22: https://kubernetes.io/blog/2020/12/02/dockershim-faq/

This means that for the newer versions, we need to install and start `cri-dockerd` to provide the CRI socket.

[2021-04-10 08:38] unfor19 commented on #11036
Dropped this idea, instead, I'm using minikube's Docker daemon by executing

[code]

[2021-04-10 08:38] #11036 closed

[2021-04-10 08:41] afbjorklund commented on #10845
My initial idea was to build a static minikube binary for these, but that also assumes it has access to another machine for the cluster.

So it might need some improvements to the ssh driver, and it would also need splitting of architecture between host and machine.

Basically I want to stretch the definition of "local Kubernetes", without changing the main target or introduce any security concern

[2021-04-10 11:05] afbjorklund commented on #11052
Sounds like a simple fix, the script is hardcoded to use `/bin/bash` anyway so no need to worry about portability.

Can you do a PR ?

[2021-04-10 14:29] Pictor13 opened #11061 "VM starts but the download of `preloaded-images-k8s` was not completed"
*(This is not a regular issue, but a support request)*

**Steps to reproduce the issue:**
[code]

### Questions:

* Does Minikube has any way to *avoid re-downloading the `preloaded-images-k8s`, every time* that a VM is created?
* Where does Minikube stores the `preloaded-images-k8s`?\
So I can manually *copy it* before `delete` and *restore it* before `start`.

I am having connectivity problems a

[2021-04-10 15:11] afbjorklund commented on #11061
The preloaded images are _supposed_ to be downloaded once, and kept in the cache (between delete and start)

[2021-04-10 15:12] afbjorklund commented on #11061
It would have to be copied to the VM, and unpacked again, but the actual download (.tar.lz4) should be saved.

[2021-04-10 16:07] Pictor13 commented on #11061
Great infos, thank you.

----
 I tried to `minikube delete` plus  `rm -fr ~/.minikube/cache/preloaded-tarball` and `minikube start` again, to have a clear example to reproduce the issue; but **now it reloads** correctly.

I guess *macOS* went to sleep mode while downloading, and that confused Minikube.
See the output in my first post:\
VM creation started after downloading **only 62% of the tarbal

[2021-04-10 17:33] mrhallak opened #11062 "Secret being cached on Windows"
**Steps to reproduce the issue:**

1. Install Minikube for Windows
2. Run `minikube start`
3. Apply the below yaml file using `kubectl apply -f postgres.yaml`
4. Delete everything using `kubectl delete -f postgres.yaml`
5. Change the user secret to something else in base64 (it is currently set to website_user in base64)
6. Repeat step 3
7. Exec into the pod
8. Run `psql -h $(hostname -i) -U websit

[2021-04-10 17:55] govargo commented on #10978
v1.19.0 was released and I think this issue can be closed.

https://github.com/kubernetes/minikube/releases/tag/v1.19.0