[2019-05-30 17:55] #4233 closed

[2019-05-30 17:55] tstromberg commented on #4206
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

- The exact command line used
- The full output of the command
- The full output of "minikube logs"

Please feel free to do so at any point. Thank you for sharing your experience!

[2019-05-30 17:58] tstromberg commented on #4098
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

- The exact command line used
- The full output of the command
- The full output of "minikube logs"

Please feel free to do so at any point. Thank you for sharing your experience!

[2019-05-30 17:58] #4098 closed

[2019-05-30 18:15] blueelvis commented on #3084
From what I saw in the code, it seems that if a value is passed instead of `constants.GetMiniPath()`, it should pick it up. But, let me try it as well.

[2019-05-30 18:16] tstromberg commented on #4378
Could you share the output of:

`grep vmx /proc/cpuinfo`

I suspect that it may be necessary for you to enable virtualization in your BIOS. There are however some other possibilities: https://stackoverflow.com/questions/33304393/vt-x-is-disabled-in-the-bios-for-both-all-cpu-modes-verr-vmx-msr-all-vmx-disabl

[2019-05-30 18:19] jbialy commented on #4167
Same result for me, I first noticed that deployments were unable to pull images. I sshed into the minikube VM and checked `/etc/resolv.conf`:

[code]

Adding:

[code]
to `/etc/systemd/resolved.conf` and restarting `systemd-resolved` helped.

[2019-05-30 18:23] tstromberg commented on #4377
I'm pretty sure this error occurs because VirtualBox has a VM running, but minikube does not know about it because all state was removed due to the removal of ~/.minikube.

The workaround I recommend is to use the VirtualBox UI to delete the VM, and then issue "minikube start" again.

As I mentioned before, I do not recommend ever deleting ~/.minikube, as it can leave dangling VM state.

[2019-05-30 18:31] medyagh commented on #4351
I wonder if you would have the same problem if you run it with kyperkit instead of virtualbox ?

could you try the same with
`minikube start --vm-driver hyperkit`

[2019-05-30 18:35] tstromberg commented on #4348
Thanks for the additional data. I still don't have an explanation for it, but do you mind sharing the output of:

`/usr/libexec/qemu-kvm --version`

In the mean time, you may have better luck with the virtualbox driver. Thanks!

[2019-05-30 18:35] blueelvis commented on #4371
Am I correct in understanding that I would have to remove the above line 245 which you have mentioned and add code similar to this https://github.com/kubernetes/minikube/blob/16af8b403c3c97af6f018cc4a24b125b53693af8/pkg/minikube/bootstrapper/kubeadm/versions.go#L257  so that this is set only for versions which support it? (Basically setting the `LessThanOrEqual`

[2019-05-30 19:47] tsraza commented on #4005
Same thing happening in v1.1.0 (virtualbox 6).  DNS works until istio is installed.

[2019-05-30 19:59] medyagh commented on #4339
@tstromberg I can't replicate this on my linux box, do we have any recent PR with this failure ?

[2019-05-30 20:04] sanemoginr commented on #3843
Hi , running minikube v1.1.0 and ran again into the problem:

 Found network options:
  - NO_PROXY=192.168.99.100
* Configuring environment for Kubernetes v1.14.2 on Docker 18.09.6
  - env NO_PROXY=192.168.99.100
* Downloading kubeadm v1.14.2
* Downloading kubelet v1.14.2
* Relaunching Kubernetes v1.14.2 using kubeadm ...

X Error restarting cluster: waiting for apiserver: timed out waiting for th

[2019-05-30 20:04] medyagh commented on #4339
as far as the test logic, it is looking for a warning message to the user that they are using a proxy. but it minikube start doesn't get there, because it is stuck "Waiting for SSH to be available". and then it times out ... I could maybe try to increase the test time out

[2019-05-30 20:18] moduspwnens opened #4384 "Addon manager presumes port 8443 -- fails when used with different --apiserver-port"
If minikube is started with the --apiserver-port directive set to a non-default value, the addon-manager pod fails to connect to the apiserver.

The culprit seems to be a hardcoding of port 8443 here:
https://github.com/kubernetes/minikube/blob/8ba53c6b0b6487e212a86a07f58a6b43ee8cf6e5/pkg/minikube/bootstrapper/certs.go#L69

The fix is a one-liner--I'll submit a pull request.

[2019-05-30 20:36] tstromberg commented on #4384
Oof. Good find! I'm looking forward to the PR for this.

[2019-05-30 20:37] tstromberg commented on #4369
FYI - This issue is now known as CVE-2019-11245

[2019-05-30 20:48] tstromberg commented on #3843
@sanemoginr That appears to be something else different. Please open a new issue, and be sure to include the output of `minikube logs`. Thanks!

[2019-05-30 21:56] trbryant2 commented on #4351
@medyagh Your suggestion worked for me.  I had to first install the driver using the following command:

brew install docker-machine-driver-hyperkit

I was then able to use the command that you suggested.  My minikube environment is up, and I didn't need to shutdown my VPN.

Thank you for your assistance.

[2019-05-30 21:56] #4351 closed

[2019-05-30 21:59] josedonizetti opened #4387 "Add `--version` to kvm2 driver"
Lots of the issues related to kvm2 driver are due to old versions of the driver. When a user installs minikube for the first time, the driver is installed by hand, and as the time passes the user only remembers to upgrade minikube, but not the driver itself.

By having a `--version` on the driver it would simplify the communication on reported issues because we would be able to know exactly what v

[2019-05-30 22:12] tstromberg commented on #4347
@priyawadhwa is on holiday this week, but will be back next week sometime.

Also, we plan to release minikube v1.1.1 once Kubernetes v1.14.3 is available in roughly a week. This  should include #4340 which will make life easier. We're open to any and all suggestions on how to make minikube easier for Kata to work with.

[2019-05-30 22:24] tstromberg opened #4388 "Migrate user docs to Hugo-based site"
The minikube docs directory has been good enough up until now, but it lacks structure and isn't localizable.

See request for sub-project website here: https://github.com/kubernetes/org/issues/855

[2019-05-30 22:27] tstromberg opened #4389 "Add support for VM-free deployments using Docker"
This will give a much better user experience for folks in nested VM's than the "none" driver currently provides.

If possible, this should be done in collaboration with the fine folks at https://github.com/kubernetes-sigs/kind

[2019-05-30 22:29] tstromberg opened #4390 "Add support for VM-free deployments using Podman"
See #4389

Podman is not yet as popular as Docker, but it's important to keep our options open and our code base abstractions clean. This may turn out to be a popular option for CentOS/RedHat VM's.

[2019-05-30 22:35] tstromberg opened #4391 "Download our own kvm2 driver if installed version is missing or out of date"
Related: #3975 #4387

Also, mentioned in our roadmap: https://github.com/kubernetes/minikube/blob/master/docs/contributors/roadmap.md

[2019-05-30 22:37] tstromberg commented on #4387
Yes, this would be great.

Would it be too much trouble to add it for hyperkit as well? It suffers from the same problem.

[2019-05-30 22:42] tstromberg commented on #94
FYI - this feature is part of the minikube 2019 roadmap: https://github.com/kubernetes/minikube/blob/master/docs/contributors/roadmap.md

We really want to do this. It's going to be a substantial bit of work to sort out, but If anyone wants to start, I would be very happy to help lead them in the right direction. Help wanted!

[2019-05-30 23:01] tstromberg opened #4392 "Write a script to automatically propose PR's due to a new Kubernetes release"
I would love a script that we can run from a cronjob or Jenkins that monitors https://github.com/kubernetes/kubernetes/releases for new releases.

The script should propose a PR for any release newer than NewestKubernetesVersion:
 https://github.com/kubernetes/minikube/blob/f8fa0748c5a474bc2a62816ce318a6740fc00fea/pkg/minikube/constants/constants.go#L168

If the release is a non-beta release, it s

[2019-05-30 23:04] josedonizetti commented on #4387
@tstromberg No trouble at all. I’ll add it to both. Are we using specific version for it? Like 0.0.1? Or basing then o minikube version?

[2019-05-30 23:37] medyagh commented on #4359
thanks for catching it ! I was able to reproduce this bug.

[2019-05-31 00:43] medyagh commented on #4392
@tstromberg do we want the latest stable release ? or the latest tag of any kind (release, pre-release...) ?

[2019-05-31 00:47] tstromberg commented on #4387
I recommend starting by basing the version on what minikube is at.

Eventually we will push the hyperkit driver back upstream in #3939 - but upstream is currently at v1.0.0 and we shouldn't have a problem preserving the version number when we eventually make that happen.

[2019-05-31 00:50] tstromberg commented on #4392
`NewestKubernetesVersion` should be the most recent possible release: beta or RC is fine.

`DefaultKubernetesVersion` should be the most recent official stable release.

[2019-05-31 01:57] medyagh commented on #4392
/assign to me

[2019-05-31 02:25] jfmatth commented on #4189
I followed the instructions from above by adding myself to the Hyper-V administrators, logged out and then it worked.

[2019-05-31 08:00] fenglixa commented on #4273
@tstromberg I was able to duplicate this issue. But I am sorry, could you please clarify more about what behavior is expected for this ticket? Thanks very much!

BR
-Francis

[2019-05-31 09:09] fenglixa commented on #4359
@tstromberg @medyagh Could I take this issue? Thanks

[2019-05-31 10:06] sudhanshurr opened #4394 "Problems detected in "kube-addon-manager": error: unable to recognize "STDIN": Get https://localhost:8443/api?timeout=32s: dial tcp 127.0.0.1:8443: connect: connection refused"
**The exact command-lines used, so that we may replicate the issue** -> minikube start

**The full output of the command that failed** -> minikube v1.1.0 on linux (amd64)
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🔄  Restarting existing virtualbox VM for "minikube" ...
⌛  Waiting for SSH access ...
🐳  Configuring environment for Kuberne

[2019-05-31 10:13] tstromberg commented on #4239
Sounds good. I'd be happy to review any PR that makes the failure reason
more obvious. It may be possible that we can't make umount -f work, but we
can at least do a better job of telling the user why the mount failed.

On Wed, May 29, 2019, 11:33 PM Francis <notifications@github.com> wrote:

[2019-05-31 10:45] MasterPlus74 opened #4395 "Sorry that minikube crashed."
**The exact command to reproduce the issue**:

**The full output of the command that failed**:

**The output of the `minikube logs` command**:

**The operating system version**:

[2019-05-31 14:00] sblcook commented on #927
This is still happening to me on minikube v1.1.0. Opening another terminal doesn't seem to help, but I am included in the ```libvirtd``` group.

**OS**: Ubuntu 16.04
**VM Driver**: kvm
**Docker version**: 18.06.0-ce,

[2019-05-31 14:42] sanemoginr opened #4397 "Question: How can I get the IP address of a container using kubectl ?"
Hello,

I am running minikube v1.1.0 and have a deployment of 4 applications (containers) in 1 pod
How can I get the IP address of each container ?

with the command :
_kubectl get pods -o wide_

I am getting the internal IP address of the pod but not of the containers inside:
NAME                 READY    STATUS    RESTARTS   AGE         IP           NODE       NOMINATED    NODE
my-deployment   4

[2019-05-31 15:05] josedonizetti commented on #4391
@tstromberg can I work on this? It shouldn't be hard after we have https://github.com/kubernetes/minikube/issues/4387

[2019-05-31 16:34] afbjorklund commented on #4389
Do we really have to write multiple implementations, or can we use something like CRI from the start ?

Like https://kind.sigs.k8s.io/docs/design/principles#target-cri-functionality (and to avoid that extra work)

[2019-05-31 16:51] afbjorklund commented on #4389
See this kind Dockerfile for some of the crazy stuff needed, when running systemd in a container:
https://github.com/kubernetes-sigs/kind/blob/master/images/base/Dockerfile (based on Ubuntu)

* https://kind.sigs.k8s.io/docs/design/base-image
* https://kind.sigs.k8s.io/docs/design/node-image

This issue (VM-free deployments) is likely to have to work with changes to libmachine and buildroot...
As i

[2019-05-31 17:01] zosocanuck commented on #4352
Also having the same issue on CentOS 7.6:

minikube start --vm-driver=none --extra-config=apiserver.authorization-mode=RBAC

minikube dashboard
🔌  Enabling dashboard ...
🤔  Verifying dashboard health ...
🚀  Launching proxy ...
🤔  Verifying proxy health ...
💣  http://127.0.0.1:36410/api/v1/namespaces/kube-system/services/http:kubernetes-dashboard:/proxy/ is not responding properly: Temporary Error:

[2019-05-31 17:06] josedonizetti commented on #3771
Note for others having the same problem above. minikube (kvm2 driver) doesn't work with transient networks, only persistent networks. From libvirt documentation: ` transient network, once created (using net-create) lasts until destroyed or the libvirt daemon restarts.` To create a persistent network, you can use the same XML used for the transient network but instead of `net-create` use `net-defin

[2019-05-31 17:22] josedonizetti commented on #3169
Is this something we still want to do? If so, I can definitely start looking into it. Checking what are the differences, and work on migrating it to machine-drivers/docker-machine-driver-libvirt

[2019-05-31 17:38] josedonizetti opened #4400 "Does kvm2 need two networks?"
The kvm2 driver now uses two networks by default. The default network that comes with the libvirt installation, and also creates a private one `minikube-net`. The flag `--kvm-network` supports passing a custom network that is used instead of the default one that comes with libvirt.

This puzzles me. Does minikube actually need two networks? Why does it only support a custom one for the default opt

[2019-05-31 18:37] afbjorklund commented on #3169
The "machine-drivers/docker-machine-driver-libvirt" development never went anywhere, so you can (for the discussion above) just consider it a fork of "dhiltgen/docker-machine-kvm" (which hosts the binaries):

https://github.com/dhiltgen/docker-machine-kvm _Latest commit f328c4b  on 17 Apr 2017_
https://github.com/machine-drivers/docker-machine-driver-libvirt _Latest commit f328c4b  on 17 Apr 2017_

[2019-05-31 18:47] afbjorklund commented on #4288
Yeah, the above reasons was why I did the qemu-kvm driver. But nowadays everyone is fine with running everything with admin privileges (think docker group), so I guess we'll just go with `libvirtd` and `sudo`...

https://wiki.libvirt.org/page/FAQ#What_is_the_difference_between_qemu:.2F.2F.2Fsystem_and_qemu:.2F.2F.2Fsession.3F_Which_one_should_I_use.3F

[2019-05-31 19:19] josedonizetti commented on #4069
@afbjorklund I'm working on this issue here. Basically allowing the user to pass a flag `--kvm-qemu-uri`. This allows one to pass the URI for a remote qemu. But this also allows one to pass URI for `qemu:///session`, which I saw is a problem you commented on https://github.com/kubernetes/minikube/issues/4288.

Do we still want to support remote QEMUS? Or based on the problems you described, we wan

[2019-05-31 20:07] afbjorklund commented on #4069
As long as the default still works, I have no problem with allowing advanced users to override with e.g. `MINIKUBE_LIBVIRT_DEFAULT_URI`. But the result won't be "supported" as such, especially if it is just some root-equivalent hack similar to docker.sock.

I also don't want to support remote KVM, there are a _lot_ of other options if you want to run Kubernetes in a cloud ? We just need something

[2019-06-01 00:07] tsraza commented on #4005
@tstromberg Should i open a new issue or can this one be reopened?

[2019-06-01 00:12] tstromberg commented on #4005
@tsraza Thanks for the update! Chances are, you may need to specify a larger `--memory` value.  Do you mind sharing output of ` kubectl get pods --all-namespaces`

[2019-06-01 02:00] balopat commented on #2061
I just ran into this as well - this can cause issues with docker builds against minikube's docker daemon, e.g. from skaffold:
`"E: Release file for http://archive.ubuntu.com/ubuntu/dists/bionic-updates/InRelease is not valid yet (invalid for another 1h 54min 32s). Updates for this repository will not be applied."`

[2019-06-01 02:05] staticdev commented on #2735
I found another way of accessing the service from the VM. Inside /etc/resolv.conf of the VM there is this nameserver line with the host ip. If you add this to /etc/hosts it can resolve the name:

[code]

Now you can curl a service with: curl minikube.host:9200

I also enabled GatewayPorts on /etc/ssh/sshd_config, reloaded sshd, added the ExternalName Service and my PODs still can't curl minikube-h

[2019-06-01 02:40] tstromberg commented on #2061
@balopat I believe your issue is actually #4264 - not timezone related, but system clock related.

[2019-06-01 07:04] tsraza commented on #4005
Increasing memory didn't cut it.  But many permuations later I zeroed in on the issue:

If `istio-ingressgateway` is deployed without `istio-tracing` then everything gets `10.0.2.3:53: i/o timeout`. The ingressgateway entrypoint command contains an argument of the tracing endpoint but it starts and becomes ready regardless.

I'm not sure what can be done about it as far as minikube is concerned.

[2019-06-01 07:24] ravishgithub opened #4402 "Minikube Crashed"
**The exact command to reproduce the issue**: sudo minikube start --memory=5120 --cpus=4 --kubernetes-version=v1.14.

**The full output of the command that failed**:
sudo minikube start --memory=5120 --cpus=4 --kubernetes-version=v1.14.1
[sudo] password for ravish:
😄  minikube v1.1.0 on linux (amd64)
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete thi

[2019-06-01 10:17] radian7 commented on #4150
Hello

I have the same errors on fedora 29.

OUTPUT :
[root@localhost certs]# sudo stat /var/lib/minikube/kubeconfig
  File: /var/lib/minikube/kubeconfig
  Size: 428             Blocks: 8          IO Block: 4096   regular file
Device: 802h/2050d      Inode: 9306438     Links: 1
Access: (0644/-rw-r--r--)  Uid: (    0/    root)   Gid: (    0/    root)
Context: unconfined_u:object_r:var_lib_t:s0
Acce

[2019-06-01 13:24] tstromberg commented on #4394
Thank you for sharing your experience! If you don't mind, could you please provide:

*  The exact command-lines used, so that we may replicate the issue
*  The full output of the command that failed
*  The full output of the "minikube logs" command
*  Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-06-01 19:08] nvijayap opened #4403 "spark jobs hang: could not find the request resource: get services heapster"
I am on Mac ...

[code]

I am using this current/latest version of minikube ...

[code]

I have setup spark on minikube.

I have then submitted a spark job to minikube.

The job hung.

minikube logs reveal this ...

[code]

[2019-06-02 02:01] medyagh commented on #4132
I confirm this issue:
for the record, I tried with both setting proxy and no proxy, and same behaviour.

**to reproduce:**

- start minikube with none driver ( successful)

- run the start command again  ( SSH err)

# minikube output
[code]

**minikube logs**

[code]

[2019-06-02 05:29] AvinashTiwari opened #4404 "hyperv: Error restarting cluster: waiting for apiserver: timed out waiting for the condition"
**Error Message**
[code]

**The exact command to reproduce the issue**:
`minikube start --vm-driver=hyperv --hyperv-virtual-switch "NonDockerSwitch" --memory=4096 --v=7 --alsologtostderr`

**The full output of the command that failed**:

C:\Windows\system32>minikube start --vm-driver=hyperv --hyperv-virtual-switch "NonDockerSwitch" --memory=4096 --v=7 --alsologtostderr
W0601 23:21:28.831235   1360

[2019-06-02 14:02] fenglixa commented on #4367
I would like to verify it and provide PR for this ticket. Thanks

[2019-06-02 16:59] afbjorklund opened #4406 "Running containers with podman doesn't work"
We install the `podman` tool into the VM, to do things such as loading or building OCI images.

But currently there are some issues with the CNI configuration, if you try to use it for _running_:

[code]

Even though it is not the **primary** use-case (normally use crictl/crio), this should work...

Maybe we can get the standard minikube CNI configuration compatible with Podman ?

[2019-06-02 17:04] afbjorklund commented on #4406
Similar to https://github.com/cri-o/cri-o/pull/1423

[2019-06-02 18:52] afbjorklund commented on #4406
Our current CNI configuration lives at:
https://github.com/kubernetes/minikube/blob/master/pkg/minikube/bootstrapper/kubeadm/default_cni.go

/etc/cni/net.d/k8s.conf
[code]

[2019-06-02 19:04] afbjorklund commented on #4406
Here is the example configuration, from podman v1.3.1:

[code]

So it seems we should upgrade ours to cniVersion 0.3.0

[2019-06-02 19:32] medyagh opened #4409 "Move proxy exclude ip logic to cluster start"
Currently the proxy excluding happens in cmd start, but it is better to move it to func StartHost in cluster package.

[code]

[2019-06-02 20:08] afbjorklund commented on #4406
There are some other changes needed as well:

1) We need to upgrade `conmon`, i.e. provide /usr/libexec/podman/conmon
https://github.com/containers/libpod/issues/3161

[code]
2) Something is weird with the cgroup manager, thought we had systemd ?

[code]

3) We need to provide `/etc/containers/libpod.conf`, with our rootfs setting
`no_pivot_root = true`

[code]

But after those four fixes, it work

[2019-06-02 20:18] medyagh commented on #4395
Thank you @MasterPlus74  for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-06-03 02:25] ESSch opened #4411 "Don't work sudo minikube dashboard"
**The exact command to reproduce the issue**:
$ sudo minikube dashboard

**The full output of the command that failed**:
[sudo] password for essh:
E0603 05:10:49.639623   18907 dashboard.go:64] Error excluding IP from proxy: IP  is blank.

💣  Error getting machine status: state: getting connection: looking up domain: virError(Code=42, Domain=10, Message='Domain not found: no domain with matching n

[2019-06-03 02:57] fenglixa commented on #4371
I would like to provide PR for this ticket. Thanks @blueelvis @tstromberg

[2019-06-03 07:14] fenglixa commented on #4273
Current behavior of starting docker is ahead of configuring, which mean this issue was already addressed?
As following:
[code]

[2019-06-03 08:29] fenglixa commented on #4239
Thanks @tstromberg PR #4393 wish you could help review, any comments are welcome.

[2019-06-03 08:48] mariocoloma commented on #4010
I was getting an error to do with the apiserver when I ran 'minikube start'

Error msg: 'Error restarting cluster: waiting for apiserver: timed out waiting for the condition'

After restarting my system and trying again the error was persistent and minikube kept crashing.

The solution was to delete the cluster and start a new one.

minikube delete
minikube start

[2019-06-03 09:22] xucaiyong opened #4413 "ImagePull"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:

**The output of the `minikube logs` command**:

**The operating system version**:

[2019-06-03 09:22] xucaiyong opened #4414 "ImagePull"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:

**The output of the `minikube logs` command**:

**The operating system version**:

[2019-06-03 09:23] xucaiyong opened #4415 "ImagePull"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:

**The output of the `minikube logs` command**:

**The operating system version**:

[2019-06-03 09:50] idrobinson commented on #3866
This may be silly, but don't the errors above miss out a '\' between the user foldere and the initial .minicube folder? e.g. shouldn't C:\Users\ianro.minikube\... be C:\Users\ianro\.minikube\ ?
If so, is the join at fault or the params into the join at fault? Is the issue this simple?

[2019-06-03 10:26] ngmariusz opened #4416 "kvm2: Unable to start VM: new host: dial tcp: missing address"
 minikube start --vm-driver kvm2
😄  minikube v1.1.0 on linux (amd64)
🔥  Creating kvm2 VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0603 12:25:26.294796   22993 start.go:529] StartHost: new host: dial tcp: missing address

💣  Unable to start VM: new host: dial tcp: missing address

😿  Sorry that minikube crashed. If this was unexpected, we would love to hear from you:

**CONTEX**
Ubuntu 16.04

Do

[2019-06-03 13:42] fenglixa opened #4417 "Usability: check addon status before disable."
Usability issue. While disable an addon, should message to user the addon is not enabled, but not a disabled failed crash message as below:

**The exact command to reproduce the issue**:
minikube addons disable heapster

**The full output of the command that failed**:
 ✘ > ~/Documents/GitHub/minikube_fengli > > master > minikube addons disable heapster
✅  heapster was successfully disabled
 ~/Docu

[2019-06-03 14:37] ngmariusz commented on #4416
--alsologtostderr -v=8                     ⏎
W0603 16:37:17.418572   19860 root.go:151] Error reading config file at /home/md/.minikube/config/config.json: open /home/md/.minikube/config/config.json: no such file or directory
I0603 16:37:17.418996   19860 notify.go:128] Checking for updates...
😄  minikube v1.1.0 on linux (amd64)
I0603 16:37:17.654722   19860 downloader.go:60] Not caching ISO, usin

[2019-06-03 15:10] blueelvis commented on #4271
@tstromberg - I will start my work on this and submit a PR shortly. I think a separate document would be best. That way, once there is a website for Minikube Documentation, it will be easy to segregate.

[2019-06-03 15:15] ngmariusz commented on #927
same here ( https://github.com/kubernetes/minikube/issues/4416 )

[2019-06-03 16:36] afbjorklund commented on #4273
I think the idea is to give a more helpful error message, when you use --registry-mirror without a scheme.

      --image-repository string           Alternative image repository to pull docker images from.

      --registry-mirror strings           Registry mirrors to pass to the Docker daemon
       --registry-mirror=<scheme>://<host>

Maybe even suggest "did you mean --image-repository", if it

[2019-06-03 16:56] medyagh opened #4418 "TestVersionUpgrade on none: error: failed to create listener... bind: address already in use"
the TestVersionUpgrade randomly fails sometimes in the integration tests.
with error

[code]

[code]

[2019-06-03 17:43] medyagh commented on #4415
This issue appears to be a duplicate of #4413 , so I will close this one so that we may centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please feel free to re-open it.

Thank you for reporting this!

[2019-06-03 17:43] #4415 closed

[2019-06-03 17:43] medyagh commented on #4414
This issue appears to be a duplicate of #4413 , so I will close this one so that we may centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please feel free to re-open it.

Thank you for reporting this!

[2019-06-03 17:43] #4414 closed

[2019-06-03 17:44] medyagh commented on #4413
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-06-03 20:47] lxghtless commented on #4302
I'm experiencing this issue verbatim, except I don't have to re-add `sudo route add 192.168.99.0/24 -iface vboxnet0` when I shut down VPN nor do I have to toggle my WiFi on and off. I also tried `VBoxManage modifyvm minikube --natdnshostresolver1 on` as suggested by @tstromberg , but that didn't result in different behavior.

[2019-06-03 22:28] medyagh commented on #4418
and this is the random fail I got for OS X Virtualbox integration test:
http://mkproxy.cbf.corp.google.com/job/OSX_Integration_Tests_VirtualBox/5556/consoleFull

[code]

[2019-06-04 02:35] medyagh commented on #4132
@cduke-nokia good finding ! you are right we are skipping the none driver test in `TestStartStop`

[2019-06-04 04:08] medyagh commented on #4411
Thank you for sharing your experience! If you don't mind, could you please provide the `vm-driver` you are using ? (KVM or virtualbox or none)

and also is there a reason you are running it as sudo ?

[2019-06-04 04:14] medyagh commented on #4402
Thank you for sharing your experience! If you don't mind, could you please try it without sudo ?

[2019-06-04 04:22] medyagh opened #4420 "Provide solution message for unnecessary sudo"
Running minikube with "sudo" privileges is not necessary in some cases causes issues. (such as host env vars)

We need to provide a solution message (warning) not to run minikube in sudo:

"Please don't run minikube as root or with "sudo" privileges. It isn't necessary."

[2019-06-04 07:24] palnabarun commented on #4122
@tstromberg I would like to work on the transition to using `exec.LookPath`. I am a new contributor to kubernetes community.

From the above conversation, I can infer that I have to find the full path of the command using `exec.LookPath` and then execute the command using the very same workflow.

[2019-06-04 07:32] JinsYin opened #4422 "X Failed to enable container runtime: running command: sudo systemctl start docker: exit status 6"
[code]

**Environment**:
* Ubuntu 14.04 (init system: upstart)
* minikube v1.1.0

[2019-06-04 08:26] djmgit commented on #4420
@medyagh I would like to work on this.
I am new to kube contribution, any hints and pointers will be of great help :)

[2019-06-04 09:50] creckord commented on #2442
I'm running into this  as well, using minikube 1.0.1 and VirtualBox 6.0.6 on Windows 10.

Here's the information requested in #4098 before it was closed:

`minikube mount --alsologtostderr -v=8 .:/kubebox`:
[code]

`VBoxManage showvminfo minikube --machinereadable`:
[code]

`minikube ssh ip addr`:
[code]

`ipconfig /all`:
[code]

[2019-06-04 10:29] steakunderscore commented on #3818
I noticed I mistake in @brichins workaround. The location for `psp.yaml` should be `~/.minikube/files/etc/kubernetes/addons/psp.yaml`. This is also what was said in the slack conversation.

[2019-06-04 11:52] amruthar commented on #4319
Hi, Can someone please comment if there is a workaround for this temporarily?

[2019-06-04 11:56] carroarmato0 commented on #4319
If you are ok with starting from scratch with a fresh new cluster instead of upgrading, you can use the commands @josedonizetti listed.

[2019-06-04 12:23] Leon-Africa commented on #3781
**Solution:**

Go to "Hyper-V Manager" in Windows. (Search from TaskBar)
Once in Hyper-V Manager go to "Virtual Switch Manager" on right panel
Select "New Virtual Network switch"
Select "External" for Network Type
Select Create Virtual Switch (name the switch "Primary Virtual Switch")
Click Apply the OK

After that open Powershell as admin (I got error with cmd) and run command:

**minikube start

[2019-06-04 12:56] gouravbansal11 opened #4423 "OCI runtime create failed: container_linux.go:345: starting container process caused"
** kubectl apply -f pod-fe-conf.yaml**:

**[root@gouravba02lx docker_frontend_app]# kubectl apply -f pod-fe-conf.yaml
pod/pod-fe-t1 created
[root@gouravba02lx docker_frontend_app]# kubectl get pod
NAME        READY   STATUS              RESTARTS   AGE
pod-fe-t1   0/1     RunContainerError   0          5s
[root@gouravba02lx docker_frontend_app]# kubectl get pod
NAME        READY   STATUS

[2019-06-04 12:58] gouravbansal11 commented on #4423
-------------------
pod-fe-conf.yaml
-------------------
kind: Pod
apiVersion: v1
metadata:
  name: pod-fe-t1
  labels:
     app: fe
spec:
  containers:
    - name: env-cont-fe
      image: gouravbansal11/k8s_docker_poc:frontend_v1
      envFrom:
        - configMapRef:
            name: example-configmap

[2019-06-04 13:00] gouravbansal11 commented on #4423
Tried this Docker file also
FROM java:8
VOLUME /tmp
ENV JAVA_HOME /usr/local/jdk1.8
ENTRYPOINT ["${JAVA_HOME}/bin/java", "-jar", "target/${JAR_FILE}"]

[2019-06-04 13:04] josedonizetti commented on #4319
@amruthar I'm not sure lastest kvm driver has my changes, but if you can build it from source, this problem is fixed.

[2019-06-04 15:03] alunduil commented on #4122
@palnabarun that's my understanding as well.  You can do a quick test that this is working by creating a chroot or other isolated environment and ensure that bash can be found by looking the in the PATH when stored in a non-standard location.

Alternatively, if you want to setup a NixOS VM, testing should be direct in that environment since there isn't any /bin/bash.

[2019-06-04 15:03] jeffliu27 commented on #3851
@tstromberg I would like to work on this! Would also appreciate any help, as a first time contributor

[2019-06-04 16:00] palnabarun commented on #4122
Thanks @alunduil for the insights. :) I will test it out inside a NixOS VM.

[2019-06-04 16:05] palnabarun commented on #4423
Hi @gouravbansal11

Does a container created using the same docker image work fine? It seems from the error message that the binary `java` is not present inside the image.

[2019-06-04 16:51] medyagh commented on #4420
Awesome @djmgit  ! Thank you for offering to help,  yes please.

I look forward to review your PR :)

[2019-06-04 16:53] medyagh commented on #4420
/assign @djmgit

[2019-06-04 16:59] medyagh commented on #4359
Issue resolved by https://github.com/kubernetes/minikube/pull/4396 thanks to @fenglixa

[2019-06-04 16:59] #4359 closed

[2019-06-04 18:21] dpandhi-git commented on #4417
would like to work on it

[2019-06-04 19:52] jwardle commented on #3963
Also seeing the same issue, same Wwin v1809 version. Has anyone been able to resolve it?

[2019-06-04 19:55] josedonizetti commented on #4416
@ngmariusz can you check your installed virsh version: `virsh --version`?

[2019-06-04 21:40] josedonizetti commented on #3851
@tstromberg The hyperkit driver already sends a SIGTERM to the process. (https://github.com/kubernetes/minikube/blob/master/pkg/drivers/hyperkit/driver.go#L345)

@jeffliu27 Maybe you want to wait for a second, if the SIGTERM wasn't respected, send a SIGKILL? @tstromberg wdyt?

[2019-06-05 00:20] yuxh commented on #3732
similar problem on start and delete using win  10 and minikube 1.1, here is my log :
λ  minikube delete --alsologtostderr -v=8
W0605 08:14:50.107762   10988 root.go:151] Error reading config file at C:\Users\luke0\.minikube\config\config.json: open C:\Users\luke0\.minikube\config\config.json: The system cannot find the file specified.
I0605 08:14:50.113762   10988 notify.go:128] Checking for updat

[2019-06-05 02:50] medyagh commented on #4420
@dragon3 I suggest using golang "os/user" std lib package:
here are things u can do :

[code]

[2019-06-05 08:08] sgiovinetti commented on #4374
Please reopen the bug is still present.
Here below the log. It seems that minikube skip to create the VM even if it should be. (No minikube VM is present in Hv since it was delete before using minikube delete).

minikube start --vm-driver hyperv --hyperv-virtual-switch "MiniKube" --alsologtostderr -v=8
I0605 10:05:31.048076   20616 notify.go:128] Checking for updates...
* minikube v1.1.0 on window

[2019-06-05 09:30] developersPHP commented on #2726
mark

[2019-06-05 10:59] shwetanshu21 opened #4425 "hyperv: Failed to start docker.service: Unit docker.service is masked"
I ran the following command as administrator on Powershell in C:\k8s where kubectl and minikube are placed . I am getting error "Unit docker.service is masked." The memory is unset from dynamic and is fixed at 2048 MB. I tired connecting to VM minikube and unmasking the service but it did not work.

**Command that failed**
PS C:\k8s> minikube start --kubernetes-version="v1.14.0" --vm-driver="hyper

[2019-06-05 11:20] gouravbansal11 commented on #4423
I tried this. Didn't get why it is saying file is corrupted. when i run the springboot application directly using executable jar, it runs successfully.

[root@gouravba02lx docker_frontend_app]#  docker build -t frontend_v1 .
Sending build context to Docker daemon  17.01MB
Step 1/5 : FROM java:8
 ---> d23bdf5b1b1b
Step 2/5 : MAINTAINER Gourav Bansal <gouravbansal11@gmail.com>
 ---> Using cache
 ---

[2019-06-05 11:28] palnabarun commented on #4423
I believe that is something to do with your application code. You can test if your `Dockerfile` is correct by writing a Hello World program.

[2019-06-05 11:38] urs4uall opened #4426 "Process exited with status 137 from signal KILL / io.Copy failed: EOF"
Creating hyperv VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
* Configuring environment for Kubernetes v1.14.2 on Docker 18.09.6
* Unable to load cached images: loading cached images: loading image C:\Users\admin\.minikube\cache\images\k8s.gcr.io\k8s-dns-sidecar-amd64_1.14.13: Docker load /tmp/k8s-dns-sidecar-amd64_1.14.13: command failed: docker load -i /tmp/k8s-dns-sidecar-amd64_1.14.13
stdout:
s

[2019-06-05 11:54] gouravbansal11 commented on #4423
application runs fine. when i run the my app using direct java command and passing jar file. it is working. problem occurs when i used docker or minikube

[2019-06-05 12:42] jbaruteu opened #4427 "Run minikube with portable VirtualBox"
**The exact command to reproduce the issue**:
- Run portable VirtualBox v6.0.8.
- Set environnement variable VBOX_INSTALL_PATH to point you portable VitualBox directory (containing VBoxManage).
- Run minikube start

**The full output of the command that failed**:
[code]
**The output of the `minikube logs` command**:
[code]

**The operating system version**:
Windows 10

[2019-06-05 13:16] ngmariusz commented on #4416
sure @josedonizetti !
 virsh --version
1.3.1
hope that helps anyhow

[2019-06-05 13:23] felipefb opened #4428 "hyperv: Minikube crashed on restart"
**The exact command to reproduce the issue**:
minikube start --vm-driver hyperv --hyperv-virtual-switch "Novo Comutador Virtual"
**The full output of the command that failed**:
* minikube v1.1.0 on windows (amd64)
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Restarting existing hyperv VM for "minikube" ...
E0605 10:17:59.103239    9096 s

[2019-06-05 14:12] sneevand opened #4429 "Anyone have document on how to install Kubernetes on Windows server 2012 R2 Hypervisor"
Hi Guys,

We do have Windows server 2012 R2 and existing VM, they use Hyper Visor, Now i want to use HyperV on it an install Ubuntu in order to install kebernetes.

How can i achieve it?

Regards,

Navin

[2019-06-05 15:54] mati865 commented on #2735
FYI `kvm2` driver seems to use `192.168.122.1` by default, you can check it via `virt-manager`.

[2019-06-05 16:34] shwetanshu21 commented on #4428
Can you run the minkube start command with "--v=10 --logtostderr" added so that it can provide better logs?

Like this :  minikube start --kubernetes-version="v1.14.0" --vm-driver="hyperv" --hyperv-virtual-switch="OSwitch" --v=10 --logtostderr

Also the output of `minikube logs`

[2019-06-05 17:00] dhiwakarK commented on #3963
Seems to be same for me - I'm trying to spin off Minikube in Azure Windows Server 2019; and am using similar command as above mentioned for spinning off the minikube using HyperV

**_minikube start --vm-driver hyperv --hyperv-virtual-switch "NATSwitch" --alsologtostderr --logtostderr_**

_I0605 16:53:33.682694    5220 utils.go:240] > [Jun 5 16:53] systemd-fstab-generator[4344]: Ignoring "noauto" f

[2019-06-05 17:07] medyagh commented on #4418
here is one failure on linux kvm seems like might need retry logic for downloading binaries
[code]

[2019-06-05 17:09] medyagh commented on #4429
better support for hyperV is on our roadmap, I am actually working on setting up our integration tests for windows hyperv.

link to current doc.
https://github.com/kubernetes/minikube/blob/master/docs/drivers.md#hyperv-driver

so while we have some documentation, for sure we can use all the help out there for make it better.
please do share your experience by making issue

[2019-06-05 18:45] medyagh commented on #4339
fixed by https://github.com/kubernetes/minikube/pull/4383

[2019-06-05 18:45] #4339 closed

[2019-06-05 18:45] 3ZA commented on #4416
@ngmariusz try thishttps://github.com/kubernetes/minikube/issues/3437#issuecomment-449408316

[2019-06-05 20:13] staticdev commented on #2735
@mati865 I tried that.. from minikube ssh I can access the host, but not from the PODs.

[2019-06-05 20:22] irrgit commented on #4352
Here are the logs for the pod of the dashboard failing. I guess after trying to enable it too many times, it has entered a failed state now.
[code]

[2019-06-05 20:35] medyagh commented on #4426
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-06-05 20:52] pritidesai commented on #1340
yup, I am using minikube and running into the similar issue:

[code]

[2019-06-05 21:37] ObviousDWest commented on #2295
This is screwing me up as well. Data from an envFrom configMap shows up in the container as a local environment variable, not an *exported* environment variable. Those values, then, cannot be used in child processes. What is the reasoning for this? Is there a flag, or option to make envFrom create exported variables instead?

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"14", Gi

[2019-06-05 21:38] medyagh commented on #4428
just a guess could you try the switch name with
` --hyperv-virtual-switch="Novo Comutador Virtual"`

[2019-06-05 21:47] medyagh opened #4430 "hyperv: minikube delete issue"
**The exact command to reproduce the issue**:
`minikube delete`

and

`minikube start --vm-driver hyperv --hyperv-virtual-switch=primary-virtual-swtich`

**The full output of the command that failed (start output)**:
[code]

**The full output of the command that failed (delete output)**:

[code]

**The output of the `minikube logs` command**:
[code]

**The operating system version**:
windows 10 pr

[2019-06-05 21:49] medyagh commented on #4374
I faced this issue in hyper on windows 10:

it seems to be minikube delete not working correctly,
 minikube thinks there is a minikube vm on hyperv but there isnt any !

The exact command to reproduce the issue:
minikube delete

and

minikube start --vm-driver hyperv --hyperv-virtual-switch=primary-virtual-swtich

The full output of the command that failed (start output):

minikube start --vm-driv

[2019-06-05 21:50] medyagh commented on #4430
closing this issue in favor of https://github.com/kubernetes/minikube/issues/4374 which seems to be same issue

[2019-06-05 21:50] #4430 closed

[2019-06-05 21:53] medyagh commented on #4374
@sgiovinetti @sneevand  I was able to bypass the issue by deleting the .minikube folder

could you please try to delete the folder under `C:\Users\medya\.minikube` and do `minikube delete` and `minikube start` ?

[2019-06-05 21:54] Pradip-Khakurel commented on #4161
Hey, I tried to solve this tell me if it is ok : ). Many thanks.

[2019-06-05 22:07] mati865 commented on #2735
@staticdev it works for me, what driver are you using?

[2019-06-05 22:09] ObviousDWest commented on #2295
Ok. This probably needs more explanation. Environment variables are supposed to be exported and thus inherited by child processes. Local shell variables that have not been exported are *not* environment variables. So what am I seeing that make me claim configMap is not "exporting"?

In a deployment which uses envFrom, I can do one or the other these commands:
1)          command: [ "sh", "-c", "pr

[2019-06-05 23:05] ESSch commented on #4411
Hello. Thank you for conversation.

I fix:
1. set 8.8.8.8
2. replace 20G (default) to 5G of disk
3(!). minikube delete
4. miinikube start
5. The minikube is working.

Also, I have a problem: ImagePullBackOff
1. I run: docker login
2. I add version to image
3. docker pull nginx:1.15
4(!). minikube delete
5. minikube start

[2019-06-05 23:05] #4411 closed

[2019-06-05 23:16] medyagh commented on #4429
@sneevand so you don't have to install ubuntu on windows to install minikube.
for hyperv you need to do the follow:
- enable hyperv (most windows machine come with hyperv enabled)
- install minikube
- create a virtual switch as explained https://docs.docker.com/machine/drivers/hyper-v/
(scroll down to example with screenshots)
- start minikube by
"minikube start --vm-driver hyperv --hyperv-virtual

[2019-06-05 23:33] medyagh opened #4433 "Failing Test Windows: File Path"
The current integration tests on windows fail, because of the file path that is using the unix way.

for example:

[code]

https://github.com/kubernetes/minikube/blob/master/test/integration/tunnel_test.go#L65

throws the error :
[code]

[2019-06-06 01:31] staticdev commented on #2735
@mati865 I am using kvm2.. sorry actually it works calling the IP directly. But I don't know why it doesn't work using name (/etc/hosts or ExternalName Service).

[2019-06-06 01:52] medyagh commented on #4423
@gouravbansal11 from your docker file it appears that you don't add the file to your dockerfile (using ADD command) I suspect this is a docker image build issue. but if you think it is a minikube issue please provide the output of

`minikube logs`

[2019-06-06 01:54] medyagh commented on #4420
@djmgit one more detail is, the sudo is required for --vm-driver hyperv so the message should not warn users who are using hyperv

[2019-06-06 01:58] medyagh commented on #4079
That should be do-able, Microsoft has instructions to create virtual switch in command line
https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/quick-start/connect-to-network

the only tricky part I see is, deciding which adaptor to connect the switch to ( WIFI, Ethernet, other virtual interfaces)

[2019-06-06 05:03] sjortiz commented on #4392
Hey, I would like to work on this!

[2019-06-06 05:30] corvus-ch opened #4435 "Missing file /var/db/dhcpd_leases prevents creation of new Minikube cluster on OS X"
**The exact command to reproduce the issue**:

minikube start --disk-size 35g --memory 8 --vm-driver hyperkit

**The full output of the command that failed**:

😄  minikube v1.1.0 on darwin (amd64)
👍  minikube will upgrade the local cluster from Kubernetes 1.14.1 to 1.14.2
💿  Downloading Minikube ISO ...
 131.28 MB / 131.28 MB [============================================] 100.00% 0s
🔥  Creating hy

[2019-06-06 05:35] corvus-ch opened #4436 "Virtualbox 6 prevents usage of Minikube with xhyve"
**The exact command to reproduce the issue**:

minikube start --disk-size 35g --memory 8192 --vm-driver xhyve

**The full output of the command that failed**:

😄  minikube v1.1.0 on darwin (amd64)
⚠️  The xhyve driver is deprecated and support for it will be removed in a future release.
Please consider switching to the hyperkit driver, which is intended to replace the xhyve driver.
See https://git

[2019-06-06 06:12] corvus-ch opened #4437 "Add memory size sanity checking"
**The exact command to reproduce the issue**:

minikube start --disk-size 35g --memory 8 --vm-driver virtualbox

**The full output of the command that failed**:

😄  minikube v1.1.0 on darwin (amd64)
🔥  Creating virtualbox VM (CPUs=2, Memory=8MB, Disk=35000MB) ...
^C

I exited the command after around 10 minutes.

**The output of the `minikube logs` command**:

💣  command runner: getting ssh client

[2019-06-06 06:14] corvus-ch commented on #4437
I checked the VMs console with the Vritualbox UI.  <img width="378" alt="Screenshot 2019-06-06 at 08 08 09" src="https://user-images.githubusercontent.com/794584/59010867-16476c80-8833-11e9-9e6d-0ef5a4962ef4.png">

[2019-06-06 06:31] fenglixa opened #4438 "Ubuntu: error for minikube cache add images"
**The exact command to reproduce the issue**:
$ minikube cache add ubuntu:16.04

**The full output of the command that failed**:
$ minikube cache add ubuntu:16.04

💣  Failed to cache and load images: Error creating new ssh host from driver: Error getting ssh host name for driver: driver does not support ssh commands

😿  Sorry that minikube crashed. If this was unexpected, we would love to hear fro

[2019-06-06 06:56] sgiovinetti commented on #4374
@medyagh . Yes deleting the folder solved the issue.

[2019-06-06 06:58] fenglixa commented on #4438
Checked the code. Why the logic of return error directly if the driver is none?

- none.go:
[code]

[2019-06-06 07:34] fenglixa commented on #4438
Modified minikube code locally and setup password-less to localhost. I workarounded this issue:
[code]

[2019-06-06 09:32] jhoval commented on #3493
Experiencing the same in `minikube version: v1.1.0`

[2019-06-06 10:18] afbjorklund commented on #4438
This can be fixed by switching runner for the none driver, run the load command locally instead of over ssh. It can also skip the copy step.

[2019-06-06 10:32] afbjorklund commented on #4438
Also note that caching is now disabled by default for the `none` driver, since the container runtime storage is persistent anyway.

[2019-06-06 10:41] afbjorklund commented on #4422
What is the output of `sudo systemctl start docker`, if you run it separately ?

[2019-06-06 11:10] Bender250 commented on #4047
Thanks a lot! I have not experienced the issue since the update :).

[2019-06-06 13:19] gouravbansal11 commented on #4423
Able to resolve this issue. Use the below Docker file

FROM openjdk:8-jdk-alpine
VOLUME /tmp
ARG DEPENDENCY=target/dependency
COPY ${DEPENDENCY}/BOOT-INF/lib /app/lib
COPY ${DEPENDENCY}/META-INF /app/META-INF
COPY ${DEPENDENCY}/BOOT-INF/classes /app
ENTRYPOINT ["java","-cp","app:app/lib/*","poc.k8s_docker.frontend.FrontEndApplication"]

Docker container is working fine and pod is also created.

[2019-06-06 13:19] #4423 closed

[2019-06-06 13:50] marcadella opened #4440 "minikube start --mount creates empty directory"
**The exact command to reproduce the issue**:
`minikube start --mount-string /my/packages:/data/packages --mount`

**The full output of the command that failed**:
Minikube starts and it prints `Creating mount /my/packages:/data/packages`,
but when ssh'ing minikube (via `minikube ssh`) then `ls` into `/data/packages`, I can see that the directory is empty (of course `/my/packages` is not empty).

*

[2019-06-06 15:46] cloudmustafa commented on #2866
Any resolution of this? I keep getting **Error dialing TCP: dial tcp 192.168.34.60:22: connectex: No connection could be made because the target machine actively refused it.** I am starting the Minikube with the Hyper-v virtual switch on Windows 10

[2019-06-06 15:49] JayceCao opened #4441 "minikube does not work correctly on Gentoo"
**The exact command to reproduce the issue**:
[code]
**The full output of the command that failed**:
[code]
**The output of the `minikube logs` command**:
[code]
**The operating system version**:
[code]
**The output of the `virt-host-validate` command**:
[code]

[2019-06-06 16:21] medyagh commented on #4436
@corvus-ch Thanks for filling this bug, have you confirmed the source of the problem is having virtualbox 6 ? would downgrading virtualbox to 5 solve the problem?

[2019-06-06 16:28] medyagh commented on #4437
Thank you so much for reporting this, would you mind running the start command with this option and share the output ?

minikube start --alsologtostderr -v=8

[2019-06-06 16:29] medyagh commented on #4437
I just noticed you are creating the VM with  `Memory=8MB` I think that is why it wont boot did you mean 8G ?

[2019-06-06 16:33] medyagh commented on #4437
We need a better solution message, to warn the user when the RAM is too low.
I noticed our command line option doesn't take --memory 8g  as a valid option and it expects you enter in MB.

I would be happy to review any PR that helps to give a better solution message and user experience for the user.

[2019-06-06 17:01] ahopkins commented on #4353
I have a VERY similar issue, except I have never run `minikube` as any user but my own. I just cleared out `~/.minikube`, the `minikube` context, and made sure the VM was removed. Fingers crossed I stop getting this.

[2019-06-06 17:19] #4433 closed

[2019-06-06 17:30] ObviousDWest commented on #2295
Ok. I worked out *my* issue. Turns out that "sh" strips out envVars that contain dots (used for spring boot's application.properties). I switched to "bash", and things are working as expected; variables are passed on to the child processes.

[2019-06-06 19:00] toabctl opened #4442 "Add libvirt driver installation docs for openSUSE/SLES"
Under https://github.com/kubernetes/minikube/blob/master/docs/drivers.md#kvm2-driver , instructions are missing how to install libvirt/qemu-kvm under openSUSE/SLES

[2019-06-06 20:07] #4442 closed

[2019-06-06 20:13] #4438 closed

[2019-06-06 20:28] corvus-ch commented on #4437
Thanks for looking into this. Indeed, I intended to create the VM with 8GB and I can confirm that the following command yielded the expected result:

[code]

My suggestion would be to print out a warning if the memory low or even exit early if it is ridiculously low as it was inn my case.

[2019-06-06 20:35] corvus-ch commented on #4435
This is another variant of the same issue as in #4437. The VM got created with 8MB of memory instead of 8192MB (8GB). The following command worked:

[code]

[2019-06-06 20:37] medyagh commented on #4441
I wonder if you need to build libvirt from source we have some documentation
https://github.com/kubernetes/minikube/blob/master/docs/drivers.md#kvm2-driver
would you mind trying to build the virsh from srouce and see if that works ?
[code]

[2019-06-06 20:43] sharifelgamal commented on #4435
@corvus-ch Does the solution posited in #4437 help with this error as well?

[2019-06-06 20:51] corvus-ch commented on #4436
Yes, downgrading to VirtualBox 5.2.30 worked.

So the actual issue is that the implementation and the wording of the output do not match. While the output suggests, that Virtualbox and newer are fine, the implementation seems to require the Virtualbox version to be equal to 5 (not having VirtualBox installed is also fine).

Is there evidence that the xhyve driver not only has issues with Virtualbo

[2019-06-06 20:54] corvus-ch commented on #4435
@sharifelgamal I would not call that a solution but correct usage. But yes, having some sanity check for the memory will also help to prevent this issue.

[2019-06-06 20:55] sharifelgamal commented on #4427
@jbaruteu Can you try moving your VirtualBox installation to C:? Also, can you run `minikube start --alsologtostderr -v=8` and paste the output here?

[2019-06-06 21:04] sharifelgamal commented on #4435
ok, I'll roll this issue into the other one under a more general memory sanity check heading.

[2019-06-06 21:04] #4435 closed

[2019-06-07 01:09] bdschaap commented on #3963
I'm experiencing the same issue running an Azure VM with Windows Server 2019.

[2019-06-07 01:58] aa7955 commented on #4056
I have the same issue with 1.1.

[2019-06-07 04:15] palnabarun commented on #4423
Awesome! :100:

[2019-06-07 07:01] Doqnach commented on #4440
In my case, nothing is created at all. Does work using the `minikube mount` command though.

MacOS, hyperkit, minikube v1.1.0

[2019-06-07 07:03] jbaruteu commented on #4427
Hello sharifelgamal,

Thank you for your reply.
I made the test, mooving portable virtualbox directory to "c:". Herre is output of minikube start :
[code]

The problem comes from network driver which normaly creates network adapter.
Thank to this verbose output (code E_FAIL (0x80004005)), I found portable virtualbox does not work on W10 (https://github.com/vboxme/Portable-VirtualBox/issues/71). It

[2019-06-07 07:06] marcadella commented on #4440
For my part, I get the same issue using `minikube mount` (empty directory).

[2019-06-07 07:12] Doqnach commented on #4440
When work starts on this, my feature request would be that mounts would become something you can manage (`minikube mount list`, `minikube unmount` or `minikube mount remove`) and it not requiring the session to stay open. Also being able to configure a profile to mount certain paths on `minikube start` would be lovely.

[2019-06-07 10:34] blueelvis commented on #4437
@medyagh - I will pick this up. Do we know what the recommended memory size is? Or what is the lowest range of memory with which minikube can run?

[2019-06-07 14:22] JayceCao commented on #4441
Of course I built libvirt from source. The output of `virsh --version`:
[code]
The `USE` flags of libvirt: `audit caps dbus libssh libvirtd lvm macvtap nls pcap policykit qemu sasl udev vepa virt-network`

[2019-06-07 16:17] dmonson opened #4445 "Path errors on Windows setup"
C:\>minikube start --vm-driver hyperv --hyperv-virtual-switch minikube --v 9999
There is a newer version of minikube available (v1.1.0).  Download it here:
https://github.com/kubernetes/minikube/releases/tag/v1.1.0

To disable this notification, run the following:
minikube config set WantUpdateNotification false
o   minikube v1.0.1 on windows (amd64)
@   Downloading Minikube ISO ...
 142.88 MB / 1

[2019-06-07 17:37] shashivj commented on #3728
Did a new install of minikube on Mac, when trying to start, it crashed, here are the steps,
f018982d6238:~ jeripots$ minikube start
😄  minikube v1.0.0 on darwin (amd64)
🤹  Downloading Kubernetes v1.14.0 images in the background ...
🔥  Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
📶  "minikube" IP address is 192.168.99.100
🐳  Configuring Docker as the container runtime ...
🐳  Ver

[2019-06-07 18:30] #4161 closed

[2019-06-07 20:10] dmonson commented on #4445
Well, it appears that the relative path "/minikube_home" works from the command line, as long as the command is invoked from the drive where the path exists.  This means that running "minikube start ..." from D:\\> will have different behavior than from C:\\>, even if the ENV VAR contains MINIKUBE_HOME=C:\minikube_home.  Blame this one on the monkey sitting at my keyboard.

[2019-06-07 20:10] #4445 closed

[2019-06-07 20:30] codeforester opened #4447 "Prefix informational messages with the current timestamp"
It is great if minikube puts a timestamp in its informational messages by default.

**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:
😄  minikube v1.1.0 on darwin (amd64)
💿  Downloading Minikube ISO ...
 131.28 MB / 131.28 MB [============================================] 100.00% 0s
🔥  Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=2

[2019-06-07 22:08] codeforester opened #4450 "virtualbox: Error starting cluster: timed out waiting to elevate kube-system RBAC privileges"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:
<details>
😄  minikube v1.1.0 on darwin (amd64)
💿  Downloading Minikube ISO ...
 131.28 MB / 131.28 MB [============================================] 100.00% 0s
🔥  Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...

🐳  Configuring environment for Kubernetes v1.14.2 on Docker 1

[2019-06-07 23:53] 189174944 opened #4451 "Virtualbox Unable to start VM: create: precreate: exit status 126 😿"
Unable to start VM: create: precreate: exit status 126

😿  Sorry that minikube crashed. If this was unexpected, we would love to hear from you:

[2019-06-08 09:44] matti opened #4452 "regenerate kubeconfig"
after `rm ~/.kube/config` how to regenerate the file without recreating the minikube machine?

[2019-06-08 12:35] henioStraszny commented on #459
I've had a problem with deleting and starting new minikubes on Windows 10.

The problems was not existing on **cmd**, but only in **powershell**.

Now I use only cmd to administrate minikube.

[2019-06-08 16:01] schollii commented on #3511
Note that minikube will allow you to do a "soft" restart ie without a stop, but this did not solve the problem for me. Reason is that a soft restart does not actually restart the minikube kubelet when vm-driver=none.

Problem was fixed after I did `minikube stop` then `minikube start` (with the extra-config arg described in another reply). Interestingly, none of the kube-system namespace pods get

[2019-06-08 16:27] ravishgithub commented on #4402
Without sudo it never works rather stop too early complaining on some permission. Anyway this issue was due to multiple vm drivers kvm, no driver (use docker) and virtual box. I expected the switch to work but i had to finally clean up all. Now just kvm2 and it starts. You can close this issue. I was disappointed though

[2019-06-08 16:40] #4402 closed

[2019-06-08 18:36] medyagh commented on #4402
@ravishgithub is your issue resolved? Please feel free to reopen this issue if you still have the problem.

[2019-06-08 18:38] medyagh commented on #4452
I am not sure if there is a way, does minikube stop and start help ? I am curious could you share why you had to delete your config file ? Is there something we could imrpoved so you don't have to delete your config file ?

[2019-06-08 21:38] medyagh commented on #4436
Unfortunately we have deprecated xhyve driver and we don't have integration tests for it, if I could replicate the issue on my own machine I could investigate more, is there any reason you could not use other drivers such as hyperkit or virtualbox?

[2019-06-09 07:18] djmgit commented on #4420
@medyagh thanks a lot for the pointers, I will send a PR ASAP

[2019-06-09 07:23] corvus-ch commented on #4436
No, nothing is preventing me from using Hyperkit or Virtualbox. I can live with the fact that xhyve can used alongside Virtualbox if it is version 5. If it is left like this, I suggest to at least change the wording in the output?

[2019-06-09 09:00] stephen-newman opened #4453 "Power up failed (vrc=VINF_SUCCESS, rc=NS_ERROR_FAILURE (0X80004005))"
**The exact command to reproduce the issue**:
minikube start
**The full output of the command that failed**:
😄  minikube v1.1.0 on darwin (amd64)
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.

🔄  Restarting existing virtualbox VM for "minikube" ...
E0609 20:58:02.440386    2132 start.go:529] StartHost: start: Unable to start the VM: exit s

[2019-06-09 09:33] matti commented on #4452
okay, `minikube start` does regenerate the file - I had just set `KUBECONFIG` wrong.

[code]

[2019-06-09 09:33] #4452 closed

[2019-06-09 09:55] matti opened #4454 "obsolete hyperkit driver: Error in driver during machine creation: vmnet: error from vmnet.framework: -1"
This issue is ~duplicate, but since those other issues are closed, I'm opening a new one that has consistent repro instructions.

minikube version: v1.1.1
hyperkit: v0.20180403-17-g3e954c
osx high sierra

[code]

[code]

then after 10s running again it starts, but won't start (hangs):
[code]

and now `ps grep aux | grep makkara-1` does not show `hyperkit` running.

However, upgrading `docker-machi

[2019-06-09 10:02] matti commented on #951
hyperkit has uuid which is used in MAC address generation, when you start the machine with UUID like

[code]

the MAC address stays the same even if you delete the machine - the IP addresses can be changed in `/var/db/dhcpd_leases`

[2019-06-09 11:21] afbjorklund commented on #4441
Is `qemu-kvm` working OK as well ?

[2019-06-09 11:31] JayceCao commented on #4441
Gentoo has no `qemu-kvm` command I think

On Sun, Jun 9, 2019, 19:22 Anders Björklund <notifications@github.com>
wrote:

[2019-06-09 11:33] afbjorklund commented on #4441
Normally `qemu-system-x86_64 -enable-kvm`

[2019-06-09 12:08] AyushiHarkawat commented on #3866
Hi, I was also facing the same issue and was not able to delete the .minikube folder manually as well.
On deleting .minikube folder It deleted all the files but was not able to delete the **machine**  folder under **.minikube**.

So I found a workaround of this issue:
1. First I did shut down the Virtual machine that I created in the Hyper-V Manager and then delete that machine so it deleted all t

[2019-06-09 18:39] legatusAlex commented on #1945
Hung on:
`[executing ==>] : C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe -NoProfile -NonInteractive (( Get-VM minikube ).networkadapters[0]).ipaddresses[0]`
`[stdout =====>] :`
`[stderr =====>] :`

Works for me when changed:
`minikube start --vm-driver hyperv --hyperv-virtual-switch "Primary Virtual Switch"`
to:
`minikube start --vm-driver hyperv --hyperv-virtual-switch "Default Switc

[2019-06-09 23:21] joan38 commented on #3844
Same issue with 1.1.1

[2019-06-10 02:50] JayceCao commented on #4441
There's no `qemu-kvm` package, just `qemu`.
When running `qemu-system-x86_64 -enable-kvm`, it told me:
[code]
But I'm running my CentOS 7 vm successfully:
[code]

[2019-06-10 08:12] djmgit commented on #4420
@medyagh I have submitted a PR for this. Let me know what changes need to be made.

[2019-06-10 08:15] djmgit commented on #4447
@tstromberg @medyagh I would love to take this up.

[2019-06-10 08:21] devarajchidambaram opened #4456 "HPA not working, unknown target CPU"
Im trying to auto scale the kuber pods but   not able to get the hpa cpu metrics . so its failing to auto scale.

deployment.yaml

[code]
Ingress.yaml

[code]

Services.yaml

[code]

CMD output

[code]

Here horizontalpodautoscaler.autoscaling/kubernetes-tutorial-deployment showing  target is UNKNOWN.

This is the error I got

[code]

Im new to the kubernetes . so I don't know , how to proceed fur

[2019-06-10 08:37] blueelvis commented on #4445
@dmonson - This is indeed a bug and is related to #1574 .

[2019-06-10 09:22] dodalovic opened #4457 "VBOX_HOST_ADAPTER: The host-only adapter we just created is not visible."
![image](https://user-images.githubusercontent.com/6358061/59185906-e9b48d00-8b71-11e9-97d2-56569d79978a.png)

![image](https://user-images.githubusercontent.com/6358061/59185936-fdf88a00-8b71-11e9-8fb9-8ecd29cc0411.png)

---

minikube start
😄  minikube v1.1.1 on darwin (amd64)
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🔄  Restarting ex

[2019-06-10 10:00] blueelvis opened #4458 "Add ability in Make to build specific platforms"
**The exact command to reproduce the issue**:
`make cross`

**The operating system version**:
`Windows 10 Enterprise`

I am doing development on Windows in addition to `Bash for Windows`. As of now, running `make cross` compiles the binaries for every platform i.e. `Linux`, `Mac` & `Windows`. We need to have the ability to build for a targeted platform. For example for me, it doesn't make sense to

[2019-06-10 10:11] blueelvis opened #4459 "hyperv: If there is no VM , minikube delete should be able to proceed"
`minikube delete` should be able to delete the `.minikube` folder even if the Hyper-V VM does not exist. For some reason if the Hyper V VM Creation fails, the directory is created but then the `minikube delete` starts failing. Now, deleting the `.minikube` directory is the only option as `minikube start` will also not run.

Maybe add a `-force` flag to the delete command?

**The exact command to r

[2019-06-10 10:44] gouravbansal11 opened #4460 "Not able to acccess the service inside cluster."
I have 2 small java application. One is frontend and another is backend. These two application deployed in 2 different pods. frontend application is exposed by NodeType service so I am able to access this application from my browser. I have a single button to call the service in this frontend application. Now when I clicked the button I have written the code to call the backend application in anot

[2019-06-10 13:30] jeffliu27 commented on #3851
@tstromberg Sorry I realized I wasn't able to test my code because I don't have a Darwin OS to test hyperkit

[2019-06-10 13:34] gouravbansal11 commented on #4460
**Here is the command which I used for frontend.**
[root@gouravba02lx docker_frontend_app]# kubectl run frontend --image=gouravbansal11/k8s_docker_poc:frontend_v2 --port=8080
kubectl run --generator=deployment/apps.v1 is DEPRECATED and will be removed in a future version. Use kubectl run --generator=run-pod/v1 or kubectl create instead.
deployment.apps/frontend created

[root@gouravba02lx docker_f

[2019-06-10 14:34] Chen-YiLin opened #4461 "Error restarting cluster: r"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:

**The output of the `minikube logs` command**:

**The operating system version**:
* minikube v1.1.1 on linux (amd64)
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Re-using the currently running none VM for "minikube" ...
* Waiting for SSH acces

[2019-06-10 15:14] nicks opened #4462 "minikube --vm-driver=none crashes cryptically with permission denied"
Thanks for your work on minikube!

Tried to start with --vm-driver=none and it failed

Is this expected to work? If not, it would be nice if it failed up-front with a clearer error message, rather than getting halfway through the process and dying cryptically. Would you be open to a PR to improve the error messaging?

Full details below

**The exact command to reproduce the issue**:

[code]
**The

[2019-06-10 15:43] afbjorklund commented on #4462
This seems related to #3718 `remove /usr/bin/kubeadm: permission denied`

For now you need to run the none-driver using sudo, on your dedicated VM.
https://github.com/kubernetes/minikube/blob/master/docs/vmdriver-none.md

[2019-06-10 15:45] afbjorklund commented on #4458
Did you try `make out/minikube-windows-amd64.exe` ?

The "cross" target is just a phony target building all of them.

[code]

[2019-06-10 15:59] afbjorklund commented on #4447
I think this needs to be optional, but we _could_ write timestamps into a log file...
Alternatively we could revisit timeouts, and print some informational messages ?

[2019-06-10 16:03] afbjorklund commented on #4462
Also same as #3760

[2019-06-10 16:15] afbjorklund commented on #4437
Currently at least 512M is required to boot, we set 2048M for a master node.
Possibly could get away with 1024M for multinode, but not many apps then.

[2019-06-10 16:25] djmgit commented on #4447
@afbjorklund One use case for this feature might be detecting steps which are taking abnormally large amount of time. Timestamps would help us identify which step is taking the longest time.
Also I agree that it can be present as a optional flag (like verbosity or something like that).
Printing to log is also a nice idea, but would not be printing to terminal be more explicit?

[2019-06-10 17:15] afbjorklund commented on #4437
The default ISO doesn't even boot with 512M, so it would need switching if so.
And 1024M is not enough to start Kubernetes successfully, so 2048M is default.

The question is more if we are trying to catch a typo, or trying to prevent things ?
In the usage example above, we were just trying to prevent accidentally using 8M.

[2019-06-10 17:24] afbjorklund commented on #4456
Did you deploy metrics-server ?

[2019-06-10 18:03] afbjorklund commented on #4389
See also https://github.com/kubernetes/community/blob/master/contributors/design-proposals/cluster-lifecycle/local-cluster-ux.md for the original minikube proposal and some of the reasoning behind it...

[2019-06-10 18:12] palnabarun commented on #4460
Hi @gouravbansal11

How are you passing in the `BACKEND_PORT` environment variable to the frontend?

[2019-06-10 18:17] gouravbansal11 commented on #4460
Simply deploy the backend docker image and expose service with clusterip. Later on when I deployed front-end and expose it pick the backend service also.

[2019-06-10 22:40] medyagh commented on #4436
I agree, we could definitely provide a better message than this. I will add this to our backlog. thank you so much for taking the time to provide details on this issue. :)

[2019-06-11 00:52] sharifelgamal commented on #4441
We don't currently support Gentoo.

[2019-06-11 00:53] sharifelgamal commented on #4462
Generally, the none driver needs to be run as root. This is behavior we eventually want to change, but for now a `sudo` is usually required. We have #4420 around proper error messaging around sudo, this seems to be related enough to tie in.

[2019-06-11 05:29] palnabarun commented on #4460
There are a few problems with the approach. The `BACKEND_PORT` environment variable is set by kubernetes and that may change during your application's lifecycle. It is a better idea to use the service fully qualified domain name to access your backend service. You can read more about this [here](https://kubernetes.io/docs/concepts/services-networking/service/#discovering-services)

[2019-06-11 08:19] devarajchidambaram commented on #4456
Yes @afbjorklund  ...

[2019-06-11 08:20] devarajchidambaram commented on #4456
Finally I did like this ...now its working

[https://stackoverflow.com/questions/54106725/docker-kubernetes-mac-autoscaler-unable-to-find-metrics](https://stackoverflow.com/questions/54106725/docker-kubernetes-mac-autoscaler-unable-to-find-metrics)

[2019-06-11 08:22] devarajchidambaram opened #4466 "hyperv: restarting cluster: waiting for apiserver: timed out waiting for the condition"
In windows 10 environment  minikube is not starting with existing vm.

Throwing errors.

[code]

[2019-06-11 08:53] Doqnach commented on #4367
This has been released with v1.1.1, so can be closed as fixed.

[2019-06-11 12:12] RafaelIoT commented on #2554
'minikube start' solved it for me

[2019-06-11 15:26] JayceCao commented on #4441
I'm very sorry... I found the problem. It's my mistake. I compiled another version of qemu and installed at `/usr/local/bin`. `/usr/local/bin` is ahead of `/usr/bin` in `PATH` environment variable. So libvirt uses my compiled qemu. But it has some unknown issues.

[2019-06-11 15:26] #4441 closed

[2019-06-11 15:32] sjug opened #4467 "kvm2: unable to set user and group to '65534:992' on <iso>: Success"
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:
[code]

**The output of the `minikube logs` command**:
[code]

**The operating system version**:
`Linux ryzen 5.1.7-arch1-1-custom #1 SMP PREEMPT Thu Jun 6 07:40:25 EDT 2019 x86_64 GNU/Linux`

[2019-06-11 15:41] sjug commented on #4467
Also annoyingly after it fails to create it is unable to delete...

[code]

[2019-06-11 16:07] afbjorklund commented on #4441
It probably works OK (as long as you spell the packages correctly), but I'm not sure if it is worth adding...

https://github.com/kubernetes/minikube/blob/master/docs/drivers.md#kvm2-driver

[code]

Users using Gentoo can normally figure out the package names.

[2019-06-11 16:08] afbjorklund commented on #4467
Why sudo ?

[2019-06-11 16:11] afbjorklund commented on #4462
Some people don't like the concept of the none-driver silently calling sudo behind the scenes, so there are some things left to discuss. But it definitely could fail with a more obvious message, as per the other issue.

[2019-06-11 17:16] utdrmac opened #4468 "waiting for apiserver: timed out waiting for the condition / pods evicted"
**The exact command to reproduce the issue**:
The initial, brand new setup, commands are as follows:
[code]

minkube worked fine for my work yesterday. When I came back to my laptop this morning, none of the kubectl commands would work, giving this error:
[code]

I then ran `minikube stop` and then `minikube start` and this start failed.

**The full output of the command that failed**:
See 'start-

[2019-06-11 18:06] sjug commented on #4467
Same error occurs without `sudo`, no difference except the path.

[2019-06-11 19:24] medyagh commented on #3870
@gitpop I am curious, are you running this on a cloud VM ? like compute engine ?

[2019-06-11 19:36] afbjorklund commented on #4467
UID 65534 is `nobody`, so there is something wrong with the libvirt configuration.

Check /etc/libvirt/qemu.conf

[code]

Similar to https://bugs.archlinux.org/task/58894

[2019-06-11 19:42] afbjorklund commented on #4462
It was supposed to crash sooner or later, if it hadn't been the `/usr/bin/kubeadm` it would have been:

[code]

[2019-06-11 19:49] sharifelgamal commented on #4462
That's a much better error message in my opinion, we should put that up front.

[2019-06-11 19:55] medyagh commented on #3870
for anyone who might search for this issue, I was able to fix it this way:

I was able to get rid of them this way
first get list of adaptors with the ip :

[code]
and remove each returned vboxnet
```vboxmanage hostonlyif remove INSERTNAME```

I confirm this issue exists, on the virtualbox test box we have more than 21 left over adapters

[code]

[2019-06-11 19:59] afbjorklund commented on #4259
It should be enabled by default: https://git.centos.org/rpms/sudo/blob/c7/f/SOURCES/sudoers

[code]

So it looks like a local configuration.

[2019-06-11 20:01] medyagh commented on #3870
@gitpop  would this help ?
[code]
and remove each returned vboxnet
```vboxmanage hostonlyif remove INSERTNAME```

I confirm this issue exists, on the virtualbox test box we have more than 21 left over adapters

[code]

[2019-06-11 20:04] afbjorklund commented on #4462
We do run it with `sudo kubeadm`, so there is still some things left to sort out ("who calls sudo ?").

i.e. someone needs to do it, normally we are running as user on the host and sudo root on the VM
But `none` is a special case, since it runs **both** aspects on the same machine (i.e. the localhost)

If the user is _not_ root, then that normally means that sudo will throw up a password prompt la

[2019-06-11 20:08] medyagh commented on #3870
or if you want it in one command

"vboxmanage list -l hostonlyifs | grep 192.168.99.1 -5 | grep -w "Name:" |  awk '{$1=""; print $0}'  | xargs -l vboxmanage hostonlyif remove"

[2019-06-11 20:16] afbjorklund commented on #3512
Found some things in the journal, once it actually booted:

[code]

Guess my syntax was wrong. Figures.

[2019-06-11 20:57] tomerleib commented on #4353
@tstromberg
I also face a similar issue with the same error message: `error: You must be logged in to the server (Unauthorized)`
Running `minikube` and `kubectl` as user, but still get the same errors.

- I have deleted the cluster using `minikube delete`.
- Cleared everything from the config:
[code]

- Created a new cluster using `minikube start`
Yet - still get the same error.

Checking the conf

[2019-06-11 21:32] afbjorklund commented on #3512
The new mount unit works fine when I start it myself, but fails to load when booting for some reason...

[code]

Same story with the service unit, that is supposed to copy everything over from `/` to `/sysroot`

[2019-06-11 22:16] medyagh commented on #4132
update: I can not replicate this issue, even on 1.0.0
I tried with root user and also with sudo on debian 9.9

I also tried on the `Ubuntu 16.04 LTS` which this issue was filed under, and it works there too...

I have no idea how to reproduce this error anymore, even though I myself had this issue.

@cduke-nokia  do you still have this issue ?

[2019-06-11 22:51] ahopkins commented on #4353
@tomerleib That is exactly what I get :-(

[2019-06-12 05:43] alisondy opened #4470 "Doc: Add documentation for security whitelist for VMWare Fusion 11 on mac"
On a fresh install of Vmware Fusion 11 Minikube, and Docker-machine vms will fail to start.
This is due to mac blocking starts
**The exact command to reproduce the issue**:
minikube start -p aaa --vm-driver=vmware -v 10
**The full output of the command that failed**:
<img width="964" alt="Screen Shot 2019-06-12 at 5 37 11 PM" src="https://user-images.githubusercontent.com/19580905/59325869-bc660b8

[2019-06-12 06:08] tomerleib commented on #4353
/reopen

[2019-06-12 06:09] tomerleib commented on #4353
@viveksinghggits do you mind re-opening this, please?

[2019-06-12 12:30] fider opened #4471 "creating clusterrolebinding: connectex: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond."
**The exact command to reproduce the issue**:

**The full output of the command that failed**:
[code]

**The operating system version**:
[code]

[2019-06-12 13:24] saichandreddy6666 opened #4472 "minikube crashed"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:

**The output of the `minikube logs` command**:

**The operating system version**:

[2019-06-12 14:24] blueelvis commented on #4466
Hi!

Could you please run `minikube logs` and paste the output here? Could you please tell the amount of RAM allocated to the `minikube` Virtual Machine in Hyper-V?

[2019-06-12 15:28] kwojcicki commented on #2342
Hey @carlosmkb how do you apply your workaround? Do you start up your cluster ```minikube start...``` apply your workaround and then restart all pods?

[2019-06-12 15:32] birbird opened #4473 "None: Error Port 8443 is in use (conflict with sshd on CentOS)"
[code]

Before this I have already minikube delete and kill the process on 8443
[code]

I ran this on a virtualbox virtual machine, the guest OS is CentOS
[code]

Any help will be highly appreciated!

[2019-06-12 16:24] mutuadavid93 commented on #2376
Finally Solved it.

![image](https://user-images.githubusercontent.com/17821487/59368811-4e711280-8d3f-11e9-9615-81b0277144e2.png)

[2019-06-12 18:21] medyagh opened #4475 "DNS Test Fail: nslookup kubernetes.default: NXDOMAIN"
Place holder to collect evidence for for Failing test for DNS
The error message is :
[code]

### to replicate:
- start minikube build from head
- spin up busybox in default namespace
``` kubectl apply -f https://k8s.io/examples/admin/dns/busybox.yaml```

- this will fail :  `kubectl exec -ti busybox -- nslookup kubernetes.default`

tried on both `osx` and `linux`, both `kvm` and `virtualbox`

note

[2019-06-12 18:28] medyagh commented on #4475
same error
### Linux KVM

[code]

[2019-06-12 18:31] medyagh commented on #4475
It also fails with same error on OSX Virtualbox

[code]

[2019-06-12 20:30] medyagh commented on #4475
I was able to replicate this error on my own linux kvm box on master:

here the logs for coredns and other pods:

### logs for coredns 1

$ kc logs -f coredns-fb8b8dccf-w9crm -n kube-system
[code]
### logs for coredns second container

$ kc logs -f coredns-fb8b8dccf-2mjz5 -n kube-system
[code]

### logs from kube-api-server-minikube

[code]

[2019-06-12 20:32] jdanlewis opened #4476 "Feature Request - unset current-context after minikube stop -- only if minikube is current context"
#4154 added unsetting the current context upon `minikube stop`. This is handy, but unexpected if current context is not minikube. Perhaps unsetting the context should only occur if the current context is still minikube?

[2019-06-12 20:40] medyagh commented on #4476
Thats a good idea ! I agree, I would be happy to review any PR that implements this feature.

[2019-06-12 20:52] jwausle opened #4477 "Unable to start minikube with --extra-config 'apiserver.cors-allowed-origins=["http://*"]' on mac"
**Complete cmd+output**:

[code]

**Output minikube logs**:

[minikube-logs.txt](https://github.com/kubernetes/minikube/files/3283106/minikube-logs.txt)

**The operating system version**:

[2019-06-12 21:09] medyagh opened #4478 "Improve integration: Add container name to busybox"
Currently the integration test busybox container doesn't have a name,

https://github.com/kubernetes/minikube/blob/eb96756744a309bd303672f15ee992bd1ae93741/test/integration/testdata/busybox.yaml#L4

we could add a contant name to it, like this one: https://k8s.io/examples/admin/dns/busybox.yaml

[code]

so we don't have to have a function to look up busy box containers like this:

https://github.c

[2019-06-12 22:51] medyagh opened #4479 "Build: add -dev suffix for minikube version on master build"
Feature request:

currently when we build minikube, the binary `out/minikube version`  would return the latest version
[code]
it would be nice if it lets you know this is a built of master HEAD, maybe have a suffix 1.1.1-snapshot

[2019-06-13 02:44] djmgit commented on #4479
@medyagh I would like to take this up.
So what needs to done here is that the final binary that is produced via **make** should have a suffix like
**version-snapshot** right?

[2019-06-13 03:39] djmgit commented on #4476
@medyagh I would love to work on this.
So existing current context in kube config file (the path set in KUBECONFIG variable) needs to e checked and unset only if the existing value is minikube on firing the stop command right?

[2019-06-13 05:54] afbjorklund commented on #4479
It is normally called "dev" in these contexts, not snapshot.

Probably a good feature would be to add the git commit ?

Compare:

[code]

[2019-06-13 10:48] blueelvis commented on #4458
I have not tried out that but what I did is that on my local, I just edited out the required executables in `cross` and then did compilation.

I was thinking if we could add 2 more targets in addition to cross to build specific platforms only? One for Windows and another one for Mac?

[2019-06-13 11:19] tomerleib opened #4481 "error: You must be logged in to the server (Unauthorized)"
**The exact command to reproduce the issue**:
`minikube start`
`kubectl get nodes`
**The full output of the command that failed**:
`error: You must be logged in to the server (Unauthorized)`
**The operating system version**:
Ubuntu 18.04

I have deleted the cluster using minikube delete.
Cleared everything from the config:
`kubectl config delete-context minikube`
`kubectl config delete-cluster min

[2019-06-13 11:50] AdamDadvar commented on #2751
/reopen
/remove-lifecycle rotten

+1 - Exact same error with me

[2019-06-13 12:14] charlescasemiro commented on #2991
[root@kube ~]# minikube version
minikube version: v1.1.1
[root@kube ~]# virt-host-validate
  QEMU: Checking for hardware virtualization                                 : FAIL (Only emulated CPUs are available, performance will be significantly limited)
  QEMU: Checking if device /dev/vhost-net exists                             : PASS
  QEMU: Checking if device /dev/net/tun exists

[2019-06-13 13:58] reegnz commented on #1378
I am still experiencing this issue even though I upgraded to minikube 1.1.1.
I also pulled the latest docker-machine-driver-hyperkit, purged my old cluster (deleted ~/.minikube and all that as well).

Could somebody check if the clock sync feature actually works?

Reproduce: Just launch minikube on MacOS with hyperkit and have it run for half a day or so (or send the machine to sleep).

I still re

[2019-06-13 13:59] reegnz commented on #4264
Still experiencing the issue with minikube 1.1.1. See my comment in #1378

[2019-06-13 14:08] ianlewis commented on #3512
This also seems to be blocking upgrading the version of runsc used by the gVisor add-on since we use pivot_root now.

[2019-06-13 14:13] ianlewis opened #4482 "Update runsc version used by gVisor addon"
Now that minikube can use containerd 1.2+ we should update containerd to use shimv2 and update the runsc version used.

[2019-06-13 14:16] ianlewis commented on #4482
Currently blocked by #3512 since runsc uses pivot_root.

[2019-06-13 14:42] stafot commented on #2735
Having a similar problem with virtualbox driver. It looks like resolving is not working as expected. My service that exposes host inside cluster is the following.
[code]
Getting the following error:
[code]
If I added it manually on pod's `/etc/hosts`  works as expected.
[code]
[code]
So I wonder what am I missing here.
Also cusrls work from minikube to host and from pod to host when I am using `19

[2019-06-13 16:46] Timoses commented on #3522
Same here running minikube on Manjaro with kvm2 driver.

Only running Istio on the cluster.

[2019-06-13 16:49] mayankpundir27 commented on #3649
![Screenshot from 2019-06-13 22-12-32](https://user-images.githubusercontent.com/47808826/59451522-442b4300-8e29-11e9-8a70-ae3e99fe8562.png)

[2019-06-13 16:49] mayankpundir27 commented on #3649
minikube is constanty crashing. Please give some solutions.

[2019-06-13 17:02] Timoses commented on #3522
Think I fixed this one by applying more memory to the minikube vm as documented here: https://istio.io/docs/setup/kubernetes/prepare/platform-setup/minikube/

[2019-06-13 17:43] teejae commented on #2735
The problem is that you shouldn't be using `ExternalName`, as that does a lookup in DNS. The solution is to use this:

[code]

[2019-06-13 18:17] afbjorklund commented on #4345
Apparently this happens because we are trying to run the build jobs in parallel...
There is some kind of bug in `go build -i`, that makes this fail for the dependencies.

The default will be to run the crio-bin package build with `make -j 1` instead.
That will avoid the parallellism (the default is 2 * CPU), and make the build stable.

[2019-06-13 18:31] rodjjo commented on #4167
I created this script that is a workaround for minikube

[code]

[2019-06-13 18:32] afbjorklund commented on #3752
We should probably just document this workaround (use a case-sensitive disk image) and move on.

[2019-06-13 19:18] gustavomassa opened #4484 "hostNetwork & ClusterFirstWithHostNet issue when using --vm-driver=none"
SO: Linux Mint 19.1 Cinnamon
Linux Kernel: 5.0.5-050005-generic
Minikube version: 1.1.0
![image](https://user-images.githubusercontent.com/16235598/59461051-de25c800-8df6-11e9-8282-845b57dfea7a.png)

minikube start --vm-driver=none

When using minikube with none driver, setting hostNetwork and ClusterFirstWithHostNet result on dns lookup error. Removing the dns policy and setting just the hostNetw

[2019-06-13 22:14] medyagh commented on #3511
closing this , as this issue should have been solved by this PR. https://github.com/kubernetes/minikube/pull/4465

 please reopen if the issue is still there.

[2019-06-13 22:14] #3511 closed

[2019-06-14 00:28] tstromberg commented on #1378
@reegnz - Do you mind attaching the logs of `minikube start --alsologtostderr -v=1`? It should show the

[2019-06-14 01:34] yzhong52 commented on #2735
@teejae what's the `${MINIKUBE_IP}` and `<port>` above? Is that the IP for the VM? And how about port?

[2019-06-14 03:10] fenglixa commented on #4440
Strange, Cannot reproduce this issue with same steps as logged, everything works as expected (refer to below picture)
![image](https://user-images.githubusercontent.com/12505594/59480922-f9471500-8e94-11e9-93cf-49b9da146691.png)

[2019-06-14 05:30] #4475 closed

[2019-06-14 06:28] stafot commented on #2735
@teejae Thanks, initially I tried this but I declared on service also `targetPort` and was not working. Thanks again for the clarification.
@yzhong52 on minikube ip i believe it will work either with `192.168.99.1` or `10.0.2.2` if you are using virtualbox driver. And on the port use the port on host that your service runs. In my example above `6005`

[2019-06-14 07:11] Doqnach commented on #4440
I can't tell what vm-driver the OP is using, but in my case the problem is with hyperkit.

[2019-06-14 08:06] reegnz commented on #1378
This morning I checked again:
[code]
So quite a date skew.

I checked the code yesterday and had a hunch that this sync feature is only on-demand when you execute minikube start, so I ran that:

[code]

Now reading your response it is clear that this sync is only done on-demand by running `minikube start`, but the docs are not clear at all about this, neither is the issue resolution.

So I'd defin

[2019-06-14 08:19] carlosmkb commented on #2342
yes @kwojcicki that's what I did

[2019-06-14 09:11] reegnz commented on #1378
Okay, turns out docker-for-mac code isn't opensource. :) But anyway, I will have a look at the buildkit thingy that is used to set up the ISO.

[2019-06-14 09:25] archlevel opened #4486 "mini"
Error starting cluster: cmd failed: sudo /usr/bin/kubeadm init --config /var/lib/kubeadm.yaml  --ignore-preflight-errors=DirAvailable--etc-kubernetes-manifests,DirAvailable--data-minikube,FileAvailable--etc-kubernetes-manifests-kube-scheduler.yaml,FileAvailable--etc-kubernetes-manifests-kube-apiserver.yaml,FileAvailable--etc-kubernetes-manifests-kube-controller-manager.yaml,FileAvailable--etc-kube

[2019-06-14 10:16] algakzru opened #4487 "hung at "Waiting for IP..." with Astrill VPN installed"
Minikube hung after `Waiting for an IP...` on Windows with [Astrill ](https://www.astrill.com/downloads/astrill-setup-win.exe) installed.
I tried with HyperV and with VirtualBox, both have the same result.
I also tried on co-worker's computer, which is Windows 7, the same result.
If I uninstall Astrill Minikube starts without any problem on both Windows 10 and Windows 7.

**The operating system ve

[2019-06-14 12:54] kwojcicki commented on #2342
Thanks @carlosmkb :smile:

[2019-06-14 13:33] imbatman4 commented on #4088
@tstromberg Thanks! this worked for me too!

[2019-06-14 13:46] yinzara commented on #3735
Requiring a minikube delete everytime there is a minikube stop is not a valid solution.  What's causing this?

[2019-06-14 14:40] bygui86 opened #4488 "How to enable auditing?"
**The exact command to reproduce the issue**:
[code]
I tried several extra-config variants:
- apiserver.Audit.LogOptions.Path, apiserver.Audit.PolicyFile
- apiserver.audit-logoptions-path, apiserver.audit-policyfile
- apiserver.audit-log-options-path, apiserver.audit-policy-file
- apiserver.audit-policy-path, apiserver.audit-log-dir, apiserver.audit-log-max-age

together with different values:
- l

[2019-06-14 16:37] medyagh opened #4489 "Flaky Test: waiting for gvisor controller to be deleted:"
This is a a place holder to collect evidence for this flaky test

Log on Linux Virtualbox as seen [here](https://storage.googleapis.com/minikube-builds/logs/4410/Linux-VirtualBox.txt)

[code]

[2019-06-14 17:12] jmcclell commented on #2805
Ran into this today. Some more info for anyone who may feel like tackling this (I might give it a go if I can find some time):

If you look at the generated replication controller manifest for the registry-cred addon, it's clear that the goal is to be able to eschew the registry-cred args all-together and override them via env vars, a la:

[code]
Luckily, registry-creds allows for this!

https://g

[2019-06-14 17:47] #4417 closed

[2019-06-14 17:53] medyagh opened #4490 "Add profile to integration test minikubes for parallel runs"
currently in integration tests, we start minikube with default profile, that prevents us from doing parallel testing on minikube ( waiting for the minikube start and deleted )

we need to add -p to any meaningful separate set of integration tests.

[2019-06-14 20:12] kevinpauli commented on #2739
Well, it's not totally outside our control.  I have the corporate CAs, I just need to know which truststore to append them to.

[2019-06-14 21:32] medyagh commented on #4468
@utdrmac  I am curious do you use a vpn ?

[2019-06-14 23:59] medyagh commented on #4418
another error  on linux KVM
[code]

[2019-06-15 01:05] utdrmac commented on #4468
No VPN

[2019-06-15 01:08] #4489 closed

[2019-06-15 01:41] medyagh opened #4493 "minikube profile list"
currently there is no way to see list of all created minikube profiles... it would be nice to have command for it.

currently
`minikube profile list`

configs minikube to set the profile name as "list" which could be confusing.

we could change the current command to

```minikube profile set p1```
and  another command
```minikube profile list```

[2019-06-15 02:07] medyagh commented on #4486
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-06-15 02:09] medyagh commented on #4482
Thanks for creating this issue, if you don't mind could you provide more context on the reason for this request? I would be happy to review any PR that would improve the gvsior addon

[2019-06-15 02:13] medyagh commented on #4479
I like that format you pasted ! yes that would be great.
we want to make sure also it doesn't break anything including download iso ... (not sure if it would act weird if filename has + in it when downloading from GCS on different platforms including windows)

[2019-06-15 02:25] cmaliwal commented on #4222
@tstromberg , It's not fixed on 1.1.1.
I am getting the same issue:

[code]

[2019-06-15 03:13] ianlewis commented on #4482
There isn't a specific reason besides that the version currently used is 6mo+ old and containerd isn't set up to use RuntimeClass and shim v2. It's been on my back burner for a while, just haven't gotten around to it. Added an issue to track. You can assign me me if inclined.

[2019-06-15 04:09] medyagh commented on #4470
Great finding!  Thank you for taking the time to create this issue. we will definitely update our documentation.

[2019-06-15 04:11] medyagh commented on #4472
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-06-15 04:15] medyagh commented on #4473
Thank for sharing your experience, I am not sure if we have tested none driver with centos,
our docs says
"The none driver supports releases of Debian, Ubuntu, and Fedora"
 https://github.com/kubernetes/minikube/blob/master/docs/vmdriver-none.md

do you mind trying it on a recent version of debian or ubuntu or fedora to see if you still have that issue ?

[2019-06-15 04:28] medyagh commented on #4457
Thank you for sharing your experience! I am curious have you followed the advice in the link ?

 https://stackoverflow.com/questions/52277019/how-to-fix-vm-issue-with-minikube-start

[2019-06-15 04:31] medyagh commented on #4459
That sounds reasonable ! if not deleting the folder properly on windows would block. but I would like to know what other think on this. I am not sure

[2019-06-15 04:39] medyagh commented on #4461
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-06-15 05:29] medyagh opened #4495 "kvm: flaky integration test- got state: "Stopped", expected """
placeholder to collect evidence for flake test:

###  linux kvm:
[code]

[2019-06-15 07:16] jogeswar18 opened #4496 "Same issue iam getting"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:

**The output of the `minikube logs` command**:

**The operating system version**:

[2019-06-15 07:16] jogeswar18 commented on #4496
Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0615 07:15:00.026376    8527 start.go:529] StartHost: create: precreate: VBoxManage not found. Make sure VirtualBox is installed and VBoxManage is in the path

X Unable to start VM
* Error:         [VBOX_NOT_FOUND] create: precreate: VBoxManage not found. Make sure VirtualBox is installed and VBoxManage is in the path
* Advice:

[2019-06-15 07:56] algakzru commented on #4487
I thought may be something wrong with aliyun images, so I run the same command on my mac :

[code]

Output :

[code]

Still not able to start minikube, but at least on mac it doesn't stuck after `Successfully cached all images`.

[2019-06-15 08:07] afbjorklund commented on #4479
Yeah, I would probably use `-` rather than `+`, but that's another story. In that project they use a version file to set the name, so they can use whatever they want. Also note that we have a lot of subprojects that "assume" they are building from their own git, and thus either fail to record a version or use buildroot's.

So this innocent feature has some implications on the release process...

T

[2019-06-15 08:11] afbjorklund commented on #4482
Theoretically one could make that other program respect the legacy/vulnerable setting of `--no-pivot`.

[2019-06-15 08:15] medyagh commented on #4496
Could you please make sure if virtualbox is installed on your computer??

[2019-06-15 08:29] djmgit commented on #4479
@afbjorklund cool, I will create a PR accordingly to display version in the format you mentioned above to get started with.

[2019-06-15 09:34] ajit555db commented on #3974
I disabled the "secured boot" option on my host machine.

https://askubuntu.com/questions/900118/vboxdrv-sh-failed-modprobe-vboxdrv-failed-please-use-dmesg-to-find-out-why

[2019-06-15 09:54] algakzru commented on #4487
Finally managed to start minikube on mac, it was trying to download `kubeadm` and `kubelet` from google, but since google is not accessible from China minikube failed to download them, I had to manually download and put them into the `/Users/Apple/.minikube/cache/v1.14.3` folder, after that minikube finally started:

[code]

So from this experience we can see that adding `--image-repository=regist

[2019-06-15 11:09] afbjorklund commented on #4458
We have three make targets today:
- out/minikube-linux-amd64
- out/minikube-darwin-amd64
- out/minikube-windows-amd64.exe

Do you need shorter aliases (phony targets, like "cross"), or what is the suggestion made here ?

[2019-06-15 12:11] algakzru commented on #2456
I have exactly the same issue on Windows 10 Professional, how did you guys debug or troubleshoot minikube when it hung after "Successfully cached all images" ?
I have no logs, no errors, no idea what causes this problem.

[2019-06-15 13:35] afbjorklund commented on #94
This feature (multi-node), is going to have two _different_ implementations. One is the straight-forward approach of just starting more than one virtual machine, and running the bootstrapper on each one.
The other approach, which is described in #4389, is where we don't start _any_ virtual machine but just run all the pods and containers locally. The containers are separated by labels or similar,

[2019-06-15 13:37] algakzru commented on #4487
I also tried to set up proxy and download images directly from google, instead of aliyun:

[code]

Still stuck after `Successfully cached all images`

[2019-06-15 15:43] newsoulbr opened #4498 "Block the none driver from being used on non-Linux platforms"
**The exact command to reproduce the issue**:
minikube start --vm-driver=none

**The full output of the command that failed**:
minikube v1.1.1 on darwin (amd64)
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🔄  Restarting existing none VM for "minikube" ...
⌛  Waiting for SSH access ...

💣  Failed to enable container runtime: running comman

[2019-06-15 16:03] afbjorklund commented on #4498
Using the `none` driver means that the programs are running on the localhost.
It is not possible to run the `kubelet` and others natively on a mac, so it won't work.

What are you looking for is another minikube feature called "VM-less", see #4389
Note that it will _still_ run within a VM, except that it will be in Docker's VM instead.

[2019-06-15 16:05] afbjorklund commented on #4498
We should probably try to give a better error message for this scenario.

[2019-06-15 16:31] just-another-dude opened #4500 "none: waiting for apiserver: timed out waiting for the condition (kubelet port conflict)"
**The exact command to reproduce the issue**:
minikube --vm-driver=none start

**The full output of the command that failed**:
* minikube v1.1.1 on linux (amd64)
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Restarting existing none VM for "minikube" ...
* Waiting for SSH access ...
* Configuring environment for Kubernetes v1.14.3 on Dock

[2019-06-15 20:51] medyagh opened #4501 "Flaky test: hyperkit osx restart (TestStartStop)"
As seen in osx hyperkit integration test :  https://storage.googleapis.com/minikube-builds/logs/4380/OSX-Hyperkit.txt
[code]

More logs from that build:

[code]

[2019-06-15 22:13] medyagh opened #4502 "e2e test should summerize how long each test took"
It would be nice to have a summarize of how long each test took at the end of each e2e test. for the following use cases:

-  to collect over time how long it takes to start -stop-restart minikube on different drivers. to see the impact of refactor, new features on minikube start speed
- to diagnose the integration tests that take too long, to figure out which tests took longest, without eyeballin

[2019-06-15 23:11] medyagh opened #4503 "Feature: setting minikube profile should set k8s current context ."
### minikube version:
`minikube version: v1.1.1`

### problem:
when changing profile, it doesn't change the k8s context.

### reproduce:
- Create two profiles p1,p2
[code]
- set the profile to p1: `minikube profile p1`

[code]
the kubectl context:

[code]

- expect the context to be p1 but it is still p2. (it only gets set by start cmd)

### os : mac os high sierra 10.13.6

[2019-06-16 01:30] algakzru commented on #4487
Today I gave it another try with `.minikube\cache\images` folder containing all the necessary images, so that minikube doesn't have to download images :

[code]

Now it stuck after `Waiting for an IP...`, I tried the same on another Windows 7 computer, the same result.

[2019-06-16 04:37] algakzru commented on #4073
@liadlev Have you found a workaround ? I have similar issue here #4487.

[2019-06-16 16:30] djmgit commented on #4493
@medyagh I would like to work on this.
I was thinking that can we create a command like ```minikube list-profiles``` or simply ```minikube profiles```. This way we will not require to change the existing ```profile``` command.

[2019-06-16 21:01] guhanselvaraj commented on #4222
I got struck with the same issue for more than 2 days. Looking for some help.
M-C02WN0UHHV2Q:scripts d95x$ minikube start
😄  minikube v1.1.1 on darwin (amd64)
🔥  Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0616 13:51:40.748866    2681 start.go:529] StartHost: create: creating: Error setting up host only network on machine start: The host-only adapter we just created is not vi

[2019-06-16 22:30] chazzrobbz opened #4505 "kvm: 'Unable to create bridge virbr1: Package not installed'"
**The exact command to reproduce the issue**: minikube start --vm-driver kvm2

**The full output of the command that failed**: Unable to start VM: create: Error creating machine: Error in driver during machine creation: creating network: creating network minikube-net: virError(Code=38, Domain=0, Message='Unable to create bridge virbr1: Package not installed'

**The output of the `minikube logs` co

[2019-06-16 22:31] eduardo4jesus opened #4506 "Unable to download kubeadm: write udp host->srv:53: write: host is down"
I installed `kubectl` and `minikube` and using `brew install` and `brew cask install`, respectively. Just opened VirtualBox, and the minikube VM shows as running.

**The exact command to reproduce the issue**:
`minikube start`

**The full output of the command that failed**:

[code]

**The output of the `minikube logs` command**:

[code]

**The operating system version**:
`MacOS Mojave Version 10.

[2019-06-17 01:06] ianlewis commented on #4482
@afbjorklund Yeah, Though since gVisor is a sandbox runtime I'd like to avoid adding adding less secure options if possible.

[2019-06-17 05:04] pinkisarkar opened #4507 ": No connection could be made because the target machine actively refused it."
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:

**The output of the `minikube logs` command**:

**The operating system version**:

[2019-06-17 05:05] pinkisarkar commented on #4507
"Unable to connect to the server: dial tcp [::1]:8080: connectex: No connection could be made because the target machine actively refused it."
Getting the above error while trying see kebuctl version in command prompt after installing minikube

[2019-06-17 08:53] rishabhvipul007 opened #4508 "Virt-host-validate failed while running in Minikube."
Virt-host-validate failed while running in Minikube.

Error:-

 view test.txt
  QEMU: Checking for hardware virtualization                                 : FAIL (Only emulated CPUs are available, performance will be significantly limited)
  QEMU: Checking if device /dev/vhost-net exists                             : PASS
  QEMU: Checking if device /dev/net/tun exists

[2019-06-17 11:00] idrobinson commented on #3866
Well, things have improved. I used the steps above (1-3 AyushiHarkawat), added step 2.5 Turn Hyper-V back on again (Docker Desktop won't run without it).
It is true that after manually deleting the .minikube folder minikube and the VM did attempt to be installed and created. But the start failed. The initial default RAM was 2048. I increased this to 6144 but still it would not start - not enough m

[2019-06-17 11:34] idrobinson commented on #3866
PS C:\WINDOWS\system32> minikube start --vm-driver hyperv --hyperv-virtual-switch "Primary Virtual Switch" --memory=4096 --alsologtostderr -v=8

W0617 13:14:52.171285   22292 root.go:151] Error reading config file at C:\Users\ianro\.minikube\config\config.json: open C:\Users\ianro\.minikube\config\config.json: The system cannot find the file specified.
I0617 13:14:52.175382   22292 notify.go:128]

[2019-06-17 11:56] idrobinson commented on #3866
By the way, it is the GitHub markdown that is taking out the folder slash in something like:
 C:\Users\ianro\.minikube\config\config.json
It didn't happen here, but it does in what I posted above. The line here was taken from that block, near the top. You can see that the \ is missing there but present here. So don't consider that this is where the error is, it is a red herring. :-)

[2019-06-17 14:48] MaciejLisCK commented on #343
I had the same problem.
After adding to my application response header "Connection: close", the traffic indeed go to different pods but it does not looks like round robin. Same pods sometimes are used few times in the row.

[2019-06-17 15:11] yinzara commented on #4454
Unfortunately upgrading to the most recent driver also does not solve this issue.  I have discovered this issue is somehow linked to having a USB networking adapter attached to the PC. If I disconnect my USB network adapter, delete it from System Settings, then start Minikube, the above changes to the following:

[code]

[2019-06-17 15:41] technomage opened #4509 "Vbox: Unable to start minikube in windows 10 1903 with virtual box"
**The exact command to reproduce the issue**:
minikube start --cpus=6 --memory-20000 --no-vtx-check
**The full output of the command that failed**:
C:\Users\mlatt\cog>minikube start --cpus=6 --memory=20000 --no-vtx-check
* minikube v1.1.1 on windows (amd64)
* Downloading Minikube ISO ...
 131.29 MB / 131.29 MB [============================================] 100.00% 0s
* Creating virtualbox VM (CPUs

[2019-06-17 17:22] sharifelgamal commented on #4369
This was fixed with Kubernetes 1.14.3, which we upgraded to in #4444

[2019-06-17 17:22] #4369 closed

[2019-06-17 17:39] afbjorklund commented on #4369
Should be included in `v1.1.1`, but the milestone seems missing

[2019-06-17 17:44] Raj27Borra opened #4511 "hyperv : Hyper-v commands have to be run as an Administrator"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:

[code]
**The output of the `minikube logs` command**:

**The operating system version**:

[2019-06-17 17:59] Sheshagiri commented on #4201
Came here with the same question but for kubelet.
[code]
when I started my minikube with `minikube start --extra-config=kubelet.v=10` I see a ton of logs from kubelet in minikube logs.

[2019-06-17 18:01] sharifelgamal commented on #4369
Ah yeah, we didn't have a milestone for 1.1.1 because it was an ad-hoc point release.

[2019-06-17 18:50] soohyeon13 opened #4513 "start"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:

**The output of the `minikube logs` command**:

**The operating system version**:

[2019-06-17 22:36] LennyCastaneda opened #4515 "hyperv: StartHost: start exit status 1 (unknown reason)"
Why is this not working?

The versions being used are:

kubectl version 1.14.3
minikube version v1.1.1
docker version 18.09.6

![Screen Shot 2019-06-17 at 3 34 15 PM](https://user-images.githubusercontent.com/9893446/59641236-af209680-9115-11e9-97eb-23c0617cfacd.png)

[2019-06-17 23:09] LennyCastaneda commented on #2954
This is not working for me either....after running: minikube start --vm-driver "hyperv" --hyperv-virtual-switch "Minikube"

it says "Minikube" not found.

Sorry that minikube crashed."

[2019-06-18 01:20] LennyCastaneda commented on #3781
That Medium article was good but still Minikube is still failing in my Windows 10 machine

![Screen Shot 2019-06-17 at 6 19 42 PM](https://user-images.githubusercontent.com/9893446/59646601-835cdb00-912c-11e9-92c0-5eec8593fafd.png)

[2019-06-18 01:21] LennyCastaneda commented on #3781
![Screen Shot 2019-06-17 at 6 21 32 PM](https://user-images.githubusercontent.com/9893446/59646673-c323c280-912c-11e9-8c2d-35f09ca46b94.png)

[2019-06-18 01:47] LennyCastaneda commented on #4515
Below you'll see I created a Primary Virtual Switch per the instructions on this Medium article: https://medium.com/@JockDaRock/minikube-on-windows-10-with-hyper-v-6ef0f4dc158c ....however I still get errors and Minikube crashes.

Please advise.

![Screen Shot 2019-06-17 at 6 19 42 PM](https://user-images.githubusercontent.com/9893446/59647483-30852280-9130-11e9-98b8-37d41e658224.png)
![Screen Sho

[2019-06-18 01:49] LennyCastaneda commented on #4515
The versions bing used are:

kubectl version 1.14.3
minikube version v1.1.1
docker version 18.09.6

[2019-06-18 10:42] rajashekarkristappa opened #4517 "Not able to start minikube on linux"
This is the error i'm getting while running minikube start

* minikube v1.1.1 on linux (amd64)
* Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0618 16:08:02.790131   13019 start.go:529] StartHost: create: precreate: This computer doesn't have VT-X/AMD-v enabled. Enabling it in the BIOS is mandatory

X Unable to start VM
* Error:         [VBOX_VTX_DISABLED] create: precreate: Th

[2019-06-18 11:19] anubhav25gupta opened #4518 "Vbox: VBOX_KERNEL_MODULE_NOT_LOADED"
**The exact command to reproduce the issue**: minikube start

**The full output of the command that failed**: *
[code]
**The operating system version**: cent os 7

[2019-06-18 11:24] arjun225 opened #4519 "waiting for apiserver: timed out: fixable by adding clusterrolebinding?"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:

**The output of the `minikube logs` command**:

**The operating system version**:

[2019-06-18 11:25] arjun225 opened #4520 "💣 Error getting machine status: state: machine does not exist"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:

**The output of the `minikube logs` command**:

**The operating system version**:

[2019-06-18 15:30] birbird commented on #4473
On an ubuntu
[code]

[2019-06-18 16:57] afbjorklund commented on #4473
This issue is something separate:

`Unable to load cached images: loading cached images: loading image /root/.minikube/cache/images/gcr.io/k8s-minikube/storage-provisioner_v1.8.1: stat /root/.minikube/cache/images/gcr.io/k8s-minikube/storage-provisioner_v1.8.1: no such file or directory`

`Unable to load cached images: loading cached images: loading image /home/ubuntu/.minikube/cache/images/gcr.io

[2019-06-18 17:53] rodjjo commented on #2762
did you mean *--extra-config* not --extra-conf ?

[2019-06-18 18:47] afbjorklund commented on #4473
@medyagh : seems like a lot of users have issues when running directly on CentOS.

Most common causes seem to be SELinux (it needs to be disabled) and systemd.
Failing to update packages (`yum update`) is common, but normally not as fatal.

Currently we require this extra flag: --extra-config=kubelet.cgroup-driver=systemd

#2192 #2381

----

But it installs OK on CentOS, once one does the preparat

[2019-06-18 18:49] afbjorklund commented on #4473
@birbird : the actual port 8443 issue seems to be an unclean shutdown of previous `start`

You could try `kubeadm reset`, or something drastic like rebooting (or peeking at `netstat')

[2019-06-18 19:01] elioengcomp commented on #2762
I think so. Just fixed it.

[2019-06-18 19:09] medyagh commented on #4495
Turns out this a mistake in the integration test, the real error should be

The Real error should be ("current-context is expected not to be minikube")

https://github.com/kubernetes/minikube/blob/79240b04aa6b78a017c1090b06a598edb4a33c8f/test/integration/start_stop_delete_test.go#L104-L106

[2019-06-18 19:29] rodjjo commented on #2762
@elioengcomp

Mabye you can reuse minikube after ip changes by running:

[code]
^ that does not solve the problem but at least you can still using minikube.

[2019-06-18 19:49] #4503 closed

[2019-06-18 20:07] kamilgregorczyk commented on #3522
I applied 20gbs..

[2019-06-18 20:33] afbjorklund opened #4523 "Show information about the linux distribution running"
When provisioning a host with libmachine, or running locally with the none driver,
it can be useful to show information about which linux distribution is running.

There is a file in `systemd`, that contains this information: `/etc/os-release`.
And libmachine already has functions to parse this and to retrieve it from host.

https://www.freedesktop.org/software/systemd/man/os-release.html

We are

[2019-06-18 20:35] elioengcomp commented on #2762
Thanks for the tip @rodjjo. It has been a while since I was working on this. I will give it a try when I have the chance.

[2019-06-18 20:41] afbjorklund opened #4524 "The none driver is showing imaginary numbers for the VM"
`* Creating none VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...`

These are just from the config of the VM that we did **not** create.

It has nothing to do with the VM that we are actually running on ?

We should either remove this information, or show the live data.

Related implementation: #3574

`github.com/shirou/gopsutil`

[2019-06-18 23:14] LennyCastaneda commented on #3726
I'm getting a similar error when running: minikube start --vm-driver=hyperkit

failed to pull image "k8s.gcr.io/kube-apiserver:v1.14.3": output: Error response from daemon: Get https://k8s.gcr.io/v2/: dial tcp: lookup k8s.gcr.io on 192.168.64.1:53: read udp 192.168.64.6:46095->192.168.64.1:53: read: connection refused

[2019-06-18 23:34] medyagh commented on #4513
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-06-19 01:05] medyagh commented on #3726
@LennyCastaneda are you also using a vpn ?

[2019-06-19 01:30] anibalardid commented on #1682
I fixed issue deleting .kube and .minikube directories from my home , maybe previous testing using virtualbox let some problems there.

try it ;)

[2019-06-19 01:33] anibalardid commented on #4352
I fixed issue deleting .kube and .minikube directories from my home , maybe it happens because I  previously testing using virtualbox let some problems there.

try it ;)

[2019-06-19 03:48] yhlben commented on #3763
I have reproduced this problem, it may be a network cause. Sometimes it works, sometimes not.

[2019-06-19 05:25] Stephanies56-bullshitlistof568923 commented on #4523
Hello please help me figure things out

[2019-06-19 06:55] swasharm opened #4527 "Hyperv: This computer is running Hyper-V. VirtualBox won't boot"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:
[code]
**The output of the `minikube logs` command**:

**The operating system version**:

[2019-06-19 07:59] tstromberg commented on #4388
https://minikube.sigs.k8s.io/ is now live. The first thing to get ported will be the contrib docs, but I'm running into some issues with defining the menus properly.

[2019-06-19 09:48] philentso commented on #4357
Thanks for everyone , now is ok...

[2019-06-19 11:42] stafot commented on #951
Based on comments https://github.com/kubernetes/minikube/issues/951#issuecomment-467044217 , https://github.com/kubernetes/minikube/issues/951#issuecomment-458238635 I created a multi OS support variant of the "workaround" script because I needed to support both MacOS and Linux systems.
Is [here](https://gist.github.com/stafot/3aafd5abffd8547bd16db1e3fa0593ea) for anyone might find it useful.

[2019-06-19 12:15] varkalaramalingam opened #4530 "VBOX_VERR_VMX_NO_VMX: Point users to better documentation"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:

**The output of the `minikube logs` command**:

**The operating system version**:

[2019-06-19 12:15] varkalaramalingam commented on #4530
ram@minikube:~/Downloads$ minikube start
😄  minikube v1.1.1 on linux (amd64)
💿  Downloading Minikube ISO ...
 131.29 MB / 131.29 MB [============================================] 100.00% 0s
🔥  Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0619 17:42:20.633776    9103 start.go:529] StartHost: create: precreate: This computer doesn't have VT-X/AMD-v enabled. Enabling it in the BI

[2019-06-19 12:15] varkalaramalingam commented on #4530
minikube starting error

[2019-06-19 13:46] tomtom94 commented on #4466
`minikube start --memory=10000 --cpus=4`

`❌  Problems detected in "kube-addon-manager":
    error: unable to recognize "STDIN": Get https://localhost:8443/api?timeout=32s: dial tcp 127.0.0.1:8443: connect: connection refused
    error: unable to recognize "STDIN": Get https://localhost:8443/api?timeout=32s: dial tcp 127.0.0.1:8443: connect: connection refused
    error: unable to recognize "STDIN

[2019-06-19 14:28] lucas-paes-movile commented on #4457
Getting same exact issue on Ubuntu 18.04 LTS.
Using VirtualBox 6.0.8 r130520 (Qt 5.9.5). The UEFI Secure Boot is enabled but the kernel is signed.
Using Minikube v1.1.1

I have already tried doing ```minikube delete && rm -rf .minikube``` and then rebooting to start fresh.

[2019-06-19 15:43] birbird commented on #4473
@afbjorklund Thanks a lot for your help.
`kubeadm reset` does not work for me. I tried reboot the virtual machine, does not work either.
[code]

[2019-06-19 16:03] medyagh commented on #4473
yeah the minikube stop is not really stopping reliablly I have been seeing it this flaky test, and I am been trying to improve it... https://github.com/kubernetes/minikube/issues/4495

I am working on fixing the flaky stop. I might end up using our fork of libmachine. since we eventually call lib to stop the vm.  (

[2019-06-19 16:30] medyagh opened #4531 "Add Documentation for registry addon"
Related PRs:

https://github.com/kubernetes/minikube/pull/4341
https://github.com/kubernetes/minikube/pull/4529

Maybe could be added under this
https://github.com/kubernetes/minikube/blob/master/docs/reusing_the_docker_daemon.md

[2019-06-19 17:20] medyagh commented on #4515
have you by chance deleted the virtual switch and re-created it?

This seems to be a widespread issue on hyper-v for windows 10.
the solution is to completley kill the hyper vm and delete the virtual switch

`$ProcessID = (Get-WmiObject -Namespace root\virtualization\v2 -Class Msvm_ComputerSystem -Filter "Name = '$($vm.Id.Guid)'").ProcessID`

To remove the switch properly, we first get its net ada

[2019-06-19 17:29] LennyCastaneda commented on #3726
I'm not using a VPN, just using my work's Internet connection and even
tried from my phone's hotspot and still same connection refused errors.

On Tue, Jun 18, 2019 at 6:05 PM Medya Ghazizadeh <notifications@github.com>
wrote:

--

Take care,

Lenny Castaneda
C: 714-800-3449
O: 619-800-3449

[2019-06-19 17:34] lucasrz commented on #3844
Same issue here with 1.1.1 on macOS Mojave 10.14.4

[2019-06-19 17:34] LennyCastaneda commented on #4515
I have not tried deleting the virtual switch and re-create it. It didn't
exist at first then I created a new virtual switch...Are you referring to
the deleting the default virtual switch that already exists on a Windows 10
machine?

Just need some clarification. Thanks for your help.

On Wed, Jun 19, 2019 at 10:20 AM Medya Ghazizadeh <notifications@github.com>
wrote:

--

Take care,

Lenny Castane

[2019-06-19 17:36] medyagh commented on #4515
just looking at your screenshot I realized in your --hyperv-virtual-switch you are passing Minikube
I think you meant "Primary Virtual Switch"  ( btw for windows I recommend choosing a name without space) but that would still work with ""

[2019-06-19 17:47] medyagh commented on #4530
I am curious does the solution in this issue help you ?
[code]
https://github.com/kubernetes/minikube/issues/3900

[2019-06-19 18:02] medyagh commented on #4527
Thank you for sharing your experience!

Are you trying to start minikube on a machine with hyper-v enabled?

in that case you need to either disable hyperv on your computer or use the hyperv driver.
https://github.com/kubernetes/minikube/blob/master/docs/drivers.md

[2019-06-19 18:06] medyagh commented on #4511
Thanks for taking the time to create this issue, to me it sounds like you need to run your powershel as adminstrator, could you please run your powershell as admin ?

[2019-06-19 18:08] medyagh commented on #4511
I think issues like this could be handled with a better formatted error message and skip crashing with a good solution message. I would be happy to review a PR

[2019-06-19 18:10] medyagh commented on #4519
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-06-19 18:11] afbjorklund commented on #4473
I wonder if I mentioned the stopping of the firewalld ? If not, I will do now. Stop firewalld :-)

Another trick is reading the `kubeadm` call from the verbose output and call it again directly.

But in your case, "something" is listening on port 8443 - but it doesn't like to speak HTTPS

Maybe: `netstat -lnp | grep 8443` would tell ?

[2019-06-19 18:11] medyagh commented on #4520
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-06-19 18:15] medyagh commented on #4518
Thank you for taking the time to create this issue, I am curious have you tried the advise that minikube output given you ?

[code]

[2019-06-19 18:17] medyagh commented on #4517
Thank you for taking the time to create this issue, I am curious have you tried the advise in the minikube output ?

[code]

[2019-06-19 18:19] LennyCastaneda commented on #4515
Correct I used parentheses for “Primary Virtual Switch”...do you have minikibe running on your Windows 10 machine?

Wish I had all the correct steps and workaround all in one place. Didnt expect to run into any issues.

At first I tried to run in an AWS Workspace running Windows 10 desktop but because it uses on D drive minikube would not install since it needs access to C drive. So I used my VMwa

[2019-06-19 18:45] medyagh commented on #4505
do you mind sharing the output of ? `libvirtd --version`

if libvirt is not installed, does installing it according to this docs help ?
https://github.com/kubernetes/minikube/blob/master/docs/drivers.md#kvm2-driver

[2019-06-19 18:45] afbjorklund commented on #4518
Sometimes this is cause by not rebooting after installing VirtualBox

[2019-06-19 18:46] medyagh commented on #4505
if this issue is solved by installing libvirt we could probably do a better job in giving solution message.

I would be happy to review any PR that adds a nice solution message for this error

[2019-06-19 18:51] medyagh commented on #4509
Thank you for taking the time to create this issue, I suspect this be a virtualbox network adapter issue,
do you mind pasting the output of

```vboxmanage list -l hostonlyifs ```

[2019-06-19 18:53] medyagh commented on #4507
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-06-19 18:57] medyagh commented on #4506
Thank you for taking the time to create this issue, I am curious if you are behind a proxy or vpn ?

[2019-06-19 19:19] medyagh commented on #3726
@LennyCastaneda
I suspect the proxy is not allowing access to https://k8s.gcr.io/
Do you mind pasting the the output of
```curl -vvv  https://k8s.gcr.io/v2/```

[2019-06-19 20:08] jgillscsco opened #4532 "vpn: Error restarting cluster: waiting for apiserver: timed out waiting for the condition"
configuring environment for Kubernetes v1.14.3 on Docker 18.09.6

Relaunching Kubernetes v1.14.3 using kubeadm ...

 Error restarting cluster: waiting for apiserver: timed out waiting for the condition

 Sorry that minikube crashed.

[2019-06-19 22:38] medyagh commented on #4418
A diff error  on
Linux-None

[code]

[2019-06-19 22:50] medyagh commented on #4319
this issue happens as on the integration tests : https://github.com/kubernetes/minikube/issues/4418

[2019-06-19 22:53] medyagh commented on #4418
[code]

[2019-06-19 23:07] medyagh commented on #4532
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-06-19 23:40] jgillscsco commented on #4532
Hi,
I started re-installing minikube.  But at very initial stage I get connection refused when I run kubectl version as below....

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:40:16Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"darwin/amd64"}
**The

[2019-06-19 23:41] #4387 closed

[2019-06-19 23:53] jgillscsco commented on #4532
Here are minikube logs
--------------------------------------------

[  +5.000364] hpet1: lost 318 rtc interrupts
[  +5.001820] hpet1: lost 318 rtc interrupts
[  +5.001317] hpet1: lost 318 rtc interrupts
[Jun19 23:50] hpet1: lost 318 rtc interrupts
[  +5.000617] hpet1: lost 318 rtc interrupts
[  +5.002050] hpet1: lost 318 rtc interrupts
[  +5.001780] hpet1: lost 319 rtc interrupts
[  +5.000871] hp

[2019-06-20 00:12] tstromberg commented on #4418
I feel like this has increased frequency recently, perhaps related to v1.15.0?

[2019-06-20 00:14] medyagh commented on #4532
I am curious are you using a vpn ?

[2019-06-20 00:15] jgillscsco commented on #4532
Yes, I'm using VPN

[2019-06-20 00:32] jgillscsco commented on #4532
After I execute this command -
$ **minikube status**
host: Running
kubelet: Running
**apiserver: Stopped**
kubectl: Correctly Configured: pointing to minikube-vm at 192.168.99.101

[2019-06-20 00:45] medyagh commented on #4418
I don't know about 1.15.0 yet, but it has been feeling for the following reasons mainly:

- Minikube not stopping for real and and fail to bind port
- Minikube stop not setting the "" current context after stopping
- the Kvm2 domain error when deleting ( I wonder if I need to upgrade the kvm2 driver on the integraiton machines )

[2019-06-20 02:26] medyagh commented on #4501
closing this in favor of https://github.com/kubernetes/minikube/issues/4501, it seems to be the same source of problem.

[2019-06-20 02:26] #4501 closed

[2019-06-20 04:57] subodhsohoni commented on #3963
I am also getting the same error / issue while running the command on Azure VM Windows Server 2016 Datacenter build 1607.

[2019-06-20 05:13] christseng89 opened #4536 "apiserver.Authorization.Mode=RBAC causes apiserver timeout"
minikube v1.1.0 on windows (amd64)
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Restarting existing virtualbox VM for "minikube" ...
* Waiting for SSH access ...
* Found network options:
  - NO_PROXY=192.168.99.100,192.168.99.101
* Configuring environment for Kubernetes v1.14.2 on Docker 18.09.6
  - env NO_PROXY=192.168.99.100,192.168.99

[2019-06-20 05:33] medyagh commented on #4536
Thank you for taking the time to create this issue, I am curious are behind a VPN ?

[2019-06-20 05:50] christseng89 commented on #4536
Thanks, Medya,

The issue was resolved by using the following command line.

*minikube start --extra-config=apiserver.authorization-mode=RBAC*

It is recommended to revise the Minikube (version: v1.1.0) manual to avoid
the confusion.

Best regards,

On Thu, Jun 20, 2019 at 1:33 PM Medya Ghazizadeh <notifications@github.com>
wrote:

[2019-06-20 06:12] afbjorklund commented on #4406
Needs #4421

[2019-06-20 06:15] #4422 closed

[2019-06-20 08:05] fenglixa commented on #3597
@himani93 are you still working on this?  I would like to provide PR for this ticket. Thanks
BR
-Francis

[2019-06-20 13:22] kmayura1 opened #4540 "VirtualBox macOS: minikube is unable to connect to the VM"
I restarted my macOS Majove,
Had reinstalled docker after couple of minikube start hangings,
followed few steps everytime starting minikube but still issue, tried with other versions too.
rm -rf ~/.minikube
 rm -rf ~/.kube
brew cask reinstall virtualbox
brew reinstall kubernetes-cli
curl -Lo minikube https://storage.googleapis.com/minikube/releases/v1.1.1/minikube-darwin-amd64 && chmod +x minikube

[2019-06-20 14:03] marcosdiez opened #4541 "NoneDriver: Minikube start restarts containerd, hence it kills all my non k8s containers"
I am using version minikube 1.1.1

Whenever I do a

`sudo -E minikube start --vm-driver=none --extra-config kubeadm.ignore-preflight-errors=SystemVerification ${EXTRA_DNS_PARAMETER}  --logtostderr`

I see this:

[code]

which I traced to

https://github.com/kubernetes/minikube/blob/master/pkg/minikube/cruntime/docker.go#L78

[code]

`disableOthers` is here by the way: https://github.com/kubernetes

[2019-06-20 14:09] muthunkl opened #4542 "hyperv: precreate: Powershell was not found in the path"
when i execute (minikube start --vm-driver=hyperv) system shows system shows
minikube v1.1.1 on windows (amd64)
* Creating hyperv VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0620 19:37:56.372171   16728 start.go:529] StartHost: create: precreate: Powershell was not found in the path

X Unable to start VM: create: precreate: Powershell was not found in the path

* Sorry that minikube crashed. If

[2019-06-20 14:10] muthunkl commented on #4542
could you please help me to resolve this

[2019-06-20 14:46] pickul01 opened #4543 "df -h"

[2019-06-20 14:46] #4543 closed

[2019-06-20 15:51] afbjorklund commented on #4541
The Minikube ISO starts all three container runtimes (especially Docker, which is mandatory) at boot
So therefore the start script will stop the others again, in order to not use as many resources.

When you give Minikube your other dedicated VM, it doesn't expect there to _be_ any other daemons. But we could avoid "disableOthers" for the `none` driver - similar to how we e.g. avoid the caching ?

[2019-06-20 15:55] marcosdiez commented on #4541
Now it makes sense. So I'll just send a PR that will not run `disableOthers` when the driver is `none`.
Thank you @afbjorklund !

[2019-06-20 16:04] afbjorklund commented on #4541
Also, we only recently started running `containerd` - before that it was `docker-containerd`

Right now the code still expects each container runtime to be separate (docker/rkt/containerd/crio/etc)
Since that is not really true anymore (and probably wasn't for docker 18.06 either), it needs to improve

https://docs.docker.com/engine/release-notes/#18090

[2019-06-20 16:14] kfox1111 commented on #4072
I'm seeing something similar maybe. I fired up minikube 1.1.1 and tried to load in a csi driver of my own and odd things start happening immediately after the driver registers.  containers fail to start complaining /etc/resolv.conf doesn't exist anymore. logging onto the host, and catting it, says it doesn't exist either. very strange. I confirmed it doesn't do this outside of minikube. Should I f

[2019-06-20 16:56] afbjorklund commented on #4543
Same as #4462

[2019-06-20 17:29] debugmiller opened #4546 "Deleted hostpath PVs stuck in released state after minikube restart"
Dynamically provisioned PVs are stuck in the released state if minikube is restarted before deleting the pvc. It seems that the Provisioner Identity changes on reboot which causes the hostpath provisioner to ignore the PV.

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:
[code]

**The output of the `minikube logs` command**:
N/A

**The operatin

[2019-06-20 17:31] medyagh commented on #4319
here is logs from integration test for KVM:

[code]

[2019-06-20 19:56] MKruger777 commented on #4481
Think I have the same issue.
Ubuntu 18.04

kubectl version:
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"clean", BuildDate:"2019-06-06T01:44:30Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.2", GitCommit:"66049e3b21

[2019-06-20 21:47] sharifelgamal commented on #4542
Could you provide the full output of `minikube logs`? It would give us more information to debug the issue. Also, make sure powershell is in your path.

[2019-06-20 21:59] sharifelgamal commented on #4540
Hi there, could you try the start command, but with `minikube start -v 8 --alsologtostderr`? Those logs will be a lot more granular and hopefully more helpful for figuring out what's happening.

[2019-06-21 02:01] win5do opened #4547 "--insecure-registry does not work on an existing VM"
minikube version: v1.1.1
operating system version: macOS 10.14

[code]

add the option `--insecure-registry="192.168.99.1:5000"` is newly added. And do minikue stop & start，but the option insecure-registry does not appear in `docker info`. It will not take effect until do `minikube delete` and recreate.

I try `minikube ssh` and use root user edit `/etc/docker/daemon.json`, then `systemctl restart

[2019-06-21 02:57] fenglixa commented on #4546
Yes, I reproduced this issue. Thanks for you logged the issue. I will provide PR for fixing it.

BR
-Francis

[2019-06-21 03:15] fenglixa commented on #4546
Reason of this issue: After minikube restart, the pv name was changed, that's why report deletion failed.

[2019-06-21 05:32] kmayura1 commented on #4540
Hi Thank you fot the reply, i got these logs from above command:

[code]

[2019-06-21 05:49] timothydlister commented on #2954
I might be a little late or this may be unrelated, but I had the same output and after deleting the folder .minikube from my home directory and reran minikube start, this resolved my issues with hyperv.

[2019-06-21 07:35] djmgit opened #4549 "Trandalation file load error"
**The exact command to reproduce the issue**:

Any minikube command

for example:
``` minikube profile```

All minikube commands are throwing the error :
```E0621 12:57:44.947127    1086 translate.go:80] Failed to load transalation file for [locale]: open pkg/minikube/translate/translations/[respective_locale_file].json: no such file or directory.``` before proceeding further.

Is there not a bett

[2019-06-21 07:35] djmgit commented on #4549
@medyagh @afbjorklund views?

[2019-06-21 07:52] afbjorklund commented on #4549
It's actually worse than just spewing error messages, it is also failing to compile the translations into the `minikube` binary (the only thing that we are actually installing) and then looking for a random runtime file:
`Failed to load transalation file for sv-SE: open pkg/minikube/translate/translations/sv-SE.json: no such file or directory`

Oh, and the error message has a typo.

[2019-06-21 08:10] entruv commented on #4506
I have exactly the same issue. Waiting for updates !

[2019-06-21 12:33] tstromberg commented on #4367
/close

[2019-06-21 12:33] #4367 closed

[2019-06-21 14:37] snoopdouglas commented on #4206
This might be a naive assumption, but on Mojave there is no `/var/db/dhcp_leases`. There is, however, `/var/db/dhcpclient/leases`.

[2019-06-21 15:03] sarathchandrabhaskara opened #4551 "minikube error"
PS C:\Users\dell>  minikube start --vm-driver="hyperv" --hyperv-virtual-switch="Default Switch"
* minikube v1.1.1 on windows (amd64)
* Downloading Minikube ISO ...
 131.29 MB / 131.29 MB [============================================] 100.00% 0s
* Creating hyperv VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0621 20:30:19.469462    3280 start.go:529] StartHost: create: precreate: Hyper-v commands h

[2019-06-21 15:15] eduardo4jesus commented on #4506
@medyagh , I am not sure if there is a proxy on my network. I am under an university's network. I could download these files and manually put in a cache folder inside  .minibuke. But that didn't work to.

[2019-06-21 16:56] sharifelgamal commented on #4549
I'll suppress the error, since we can't be expected to have every translation file for every locale yet. I'll add the translation files into the binary early next week.

[2019-06-21 17:24] medyagh commented on #4495
one of the root causes in KVM driver is, when machine is stopped
`util.go:248: got state: "Stopped", expected ""`
in this test:

r.CheckStatusNoFail(state.Stopped.String())

the stopped minikube kvm returns status of "" instead of none.

[2019-06-21 17:30] kameshsampath opened #4553 "Unable to pull image from registry"
I have enabled the registry via `minikube addons enable registry`, I did build and push to `registry.kube-system.svc.cluster.local/example/demo` and when run the commmand `kubectl run demo --image=registry.kube-system.svc.cluster.local/example/demo` it fails with the error

```1s          Warning   Failed                  pod/demo2-5c6b7dd5b5-r9dt6            Failed to pull image "registry.kube-sy

[2019-06-21 18:02] kmayura1 commented on #4540
Hi, any update please?

[2019-06-21 19:41] hkousha commented on #3844
same with 1.1.1 macOS Mojave 10.14.5 virtualbox: 5.2.30r130521

[2019-06-21 19:57] caleb-delta opened #4554 "Windows 7 Error restarting cluster for RBAC and kubeadm"
Hi all, I am trying to start minikube on a Windows 7 machine in RBAC mode as I am working through a tutorial.

In the tutorial they pass this command
``
minikube start --extra-config=controller-manager.ClusterSigningCertFile="/var/lib/localkube/certs/ca.crt" --extra-config=controller-manager.ClusterSigningKeyFile="/var/lib/localkube/certs/ca.kwy" --extra-config=apiserver.Authorization.Mode=RBAC
``

[2019-06-21 21:49] mgabeler-lee-6rs commented on #2982
/remove-lifecycle rotten

This is still very desirable for Debian-based systems.

[2019-06-21 22:30] tigerpeng2001 commented on #4540
I ran into similar issue today. Checked the log, it looked like some issues with the VirtualBox. So I tried uninstall/installed it, now I can start the Minikube.
The VirtualBox is installed with dmg file.

[2019-06-22 07:52] afbjorklund commented on #4549
@sharifelgamal : Thanks, the error is gone

[2019-06-22 08:09] afbjorklund commented on #4479
One additional feature compared to what is described above was the addition of `-dirty`.

This means that there are local changes to the tracked files, compared to the git commit.

Compare git-describe:

[code]

Similar to `-dev` for the **release**, this means that there are changes since the **commit**.

But unlike a patch file or something that describes _which_ files, it just records it being

[2019-06-22 10:28] afbjorklund opened #4555 "Latest release kvm2 driver still linking to newer libvirt"
Seems that the driver was **not** built using the Docker image:

[code]

It is supposed to still be using libvirt 1.3.1, for compatibility.

`FROM gcr.io/gcp-runtimes/ubuntu_16_0_4`

[2019-06-22 10:35] afbjorklund commented on #4555
Related to ~~#3689~~ (regression)

[2019-06-22 10:53] afbjorklund commented on #3155
After the removal of the swap partition, the bloat is smaller but it is still there:

[code]

/remove-lifecycle rotten

[2019-06-22 11:27] afbjorklund commented on #2982
@mgabeler-lee-6rs : note that virtualbox is still the default driver

Added some .deb packaging now, but it is not a hard dependency

[2019-06-22 11:29] afbjorklund commented on #4555
Possibly a race condition, between the `make -j16` and the hacky ways of `kvm_in_docker`

[2019-06-22 11:43] kmayura1 commented on #4540
sadly, these are the logs even after reinstalling virtualbox from scratch ,
🚀  Launching Kubernetes ...

💣  Error starting cluster: timed out waiting to elevate kube-system RBAC privileges: Temporary Error: creating clusterrolebinding: Post https://192.168.99.165:8443/apis/rbac.authorization.k8s.io/v1beta1/clusterrolebindings?timeout=1m0s: dial tcp 192.168.99.165:8443: i/o timeout
Temporary Error:

[2019-06-22 13:36] DavidChenLiang commented on #3844
Same with 1.1.1 macOS Mojave 10.14.5 VirtualBox:Version 6.0.8 r130520 (Qt5.6.3)

kubectl delete
kubectl start
solve the problem while keeping my VPN off.

[2019-06-22 18:42] michalgarcarz commented on #2968
Hello Team,
The issue still there with qemu 2.11.1, minikube 1.1.1.
I can not enable vmware cpu counters because using cluster with EVC on Vmware (counters with EVC not supported in Vcenter 6.5).
Also upgrade to qemu3.x is very (a way too) risky.

Mentioned workaround does not work, i have tried to modify /etc/libvirt/qemu/minikube.xml as presented, then VM starts (virsh shows as running) but seem

[2019-06-22 20:22] rakeshnambiar commented on #3900
I am facing the same issue on AWS Ubuntu 18.

[code]

So should I choose the EC2 instance which supports this?

[2019-06-23 02:11] birbird commented on #4473
@afbjorklund Thanks.
My firewalld is not runnig. A ssdh is on 8443
[code]

[2019-06-23 02:11] s709t commented on #3562
yes, it exists, and is happening to me

[2019-06-23 05:07] the-redback commented on #4371
Kubernetes-1.15.0 unable to run on minikube 1.1.1 as this error still exists on last release.
Is there any early plan of release? @tstromberg

[2019-06-23 07:02] afbjorklund commented on #4473
Okay, there is your problem. You can't have both the kubernetes apiserver and a sshd on the same port.

[2019-06-23 07:09] #4549 closed

[2019-06-23 07:16] afbjorklund commented on #4508
Did you enable hardware virtualization in the BIOS settings ? Which driver were you going to use, kvm2 ?

[2019-06-23 07:20] afbjorklund commented on #4500
Some of this was described in https://github.com/kubernetes/minikube/issues/4473#issuecomment-503263765

There are some extra steps needed on CentOS, which is not (yet) a supported platform.

[2019-06-23 08:05] birbird commented on #4473
Hi, I did nothing to port 8443, I have no idea of the sshd process.
What I can tell is even kill the 8443 process, minikube does not work either, as in the previous comments.
The whole kill and restart logs are
[code]

[2019-06-23 11:38] afbjorklund commented on #4473
It is not something that comes default with CentOS, so must have been added down the road.

Minikube traditionally runs on port 8443, even though Kubernetes normally runs on port 6443

And sshd is port 22 by default.

Yet another `none` driver issue...

[2019-06-23 12:09] yoursmanish opened #4561 "Failed to generate config: unknown runtime type: "rkt""
C:\users\nuser>minikube start --network-plugin=cni --enable-default-cni --container-runtime=rkt
* minikube v1.1.1 on windows (amd64)

X Failed to generate config: unknown runtime type: "rkt"

* Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
  - https://github.com/kubernetes/minikube/issues/new

[2019-06-23 12:13] afbjorklund commented on #4561
Support for rkt has been removed, both from kubernetes and from minikube.

[2019-06-23 14:07] himani93 commented on #3597
@fenglixa Sure, please go ahead.

[2019-06-23 15:14] tddorgtfo commented on #4437
The default is 2048MB:
https://github.com/kubernetes/minikube/blob/247efdea15eba7e478da1fdaed0ac402d262fcab/pkg/minikube/constants/constants.go#L124-L125

Although a minimum disk size is maintained (2000MB), these doesn't appears to be a minimum memory size.  Perhaps the validation can be less than 3 digits, assuming 1-99MB would always be a typo.

It also would be good for it to take --memory Xg

[2019-06-23 15:49] afbjorklund commented on #4437
That is what is being proposed in #4463, but there seems to be some issues with the implementation.

[2019-06-23 17:51] ivucica opened #4564 "kvm2 driver: Allow use of storage pools (to allow storing disks on ZFS)"
[Currently](https://github.com/kubernetes/minikube/blob/2d85a7ffbcd0545e2777a802894fcc924d197c3c/pkg/minikube/drivers/kvm2/driver.go) the kvm2 driver uses an unconfigurable file path inside the `MINIKUBE_HOME` as the persistent storage.

Please consider allowing the use of libvirt storage pools. This would allow use of ZFS zvol block devices as the storage backend for Minikube. [Example of setting

[2019-06-24 01:13] tstromberg opened #4565 "Test"
 
**重现问题所需的命令**：
 
**失败的命令的完整输出**：
 
**`minikube logs`命令的输出**：
 
**使用的操作系统版本**：

[2019-06-24 01:13] #4565 closed

[2019-06-24 01:16] #4561 closed

[2019-06-24 01:20] tstromberg commented on #4561
As @afbjorklund mentioned, rkt support was deprecated in Kubernetes v1.10.0, and thus support was removed in minikube v1.0.0. You can still download v0.35.0 if you need to simulate a legacy rkt cluster.

[2019-06-24 01:49] #4406 closed

[2019-06-24 01:53] fenglixa commented on #4371
@the-redback Let me check.

[2019-06-24 02:14] fenglixa commented on #4371
With leatest code, minikube could start kubenetes-1.15.0 successfully, as below my test result:
![image](https://user-images.githubusercontent.com/12505594/59986235-72e6bc00-9668-11e9-8916-4b5b349c0a63.png)

@the-redback  I am worried the fixes was not in the build you are using, wish you could help double check. Thanks.

[2019-06-24 02:39] #4185 closed

[2019-06-24 03:43] tstromberg commented on #4371
@the-redback - minikube v1.2.0 with v1.15.0 support will be published this week.

[2019-06-24 03:44] the-redback commented on #4371
Thanks @tstromberg .

[2019-06-24 03:44] the-redback commented on #4371
@fenglixa , It's strange see the log I am getting below:

[code]

[2019-06-24 03:55] Coderhypo commented on #4553
Hello, I suspect that there is a problem with dns，I am not sure if docker pull can use service name（I will check it later），

But you can use localhost as registry host，see：https://github.com/kubernetes/minikube/issues/4260

[2019-06-24 04:07] the-redback commented on #4371
@fenglixa, I see. you are using custom build instead of last stable release, right? That's what I was reporting in the first place. Then I got confused seeing your log. :)

anyway, end of misunderstanding. I am okay to wait one more week for next release. :D

[2019-06-24 04:58] #4420 closed

[2019-06-24 05:05] perrywang opened #4570 "delete operation should delete profiles/<profile> folder rather than only delete config.json file"
**Problem**
delete operation should delete whole folder profiles/\<profile\>
**The exact command to reproduce the issue**:
execute minikube delete, only profiles/\<profile\>/config.json get deleted and an empty folder profiles/\<profile\> left.

[2019-06-24 05:08] perrywang commented on #4135
closing it for my mistake.  I am using sudo to execute but lost -E option to reserve environment variables

[2019-06-24 05:08] #4135 closed

[2019-06-24 05:13] tstromberg commented on #4570
That sounds fully reasonable. I'd be happy to review any PR that makes it happen.

`cmd/minikube/cmd/delete.go` is the file that requires an update. After it deletes the profile, it should calculate the directory and attempt to remove it.

[2019-06-24 05:23] fenglixa commented on #4371
Yes, I am using source code build, so from @tstromberg, this fix will be included in v1.2.0.

[2019-06-24 05:26] tstromberg commented on #4551
Dupe of #4511

[2019-06-24 05:26] #4551 closed

[2019-06-24 05:53] fenglixa commented on #4570
I would like to provide PR for this issue. Thanks @tstromberg @perrywang

[2019-06-24 06:11] tahsin352 commented on #2479
I encountered the same issue on macOS high Sierra - 10.13.6

Working solution for me was:
-> minikube stop
-> minikube start

[2019-06-24 06:21] tahsin352 commented on #2479
@thomascraig  solved [my](https://garazlab.com) problem.

[2019-06-24 08:42] tstromberg opened #4575 "release broken: sed: can't read minikube.rb.tmpl: No such file or directory"
See release build 114.

[code]

I suspect this may have broke due to go modules, but am not sure.

[2019-06-24 08:58] anubhav25gupta commented on #4518
The system I am using is from cloud itself.. so may be it is already running on a virtual environment thats why we can't avail the functionalities of VirtualBox.

[2019-06-24 09:15] kameshsampath commented on #4553
@Coderhypo - got a solution for it https://github.com/kameshsampath/minikube-helpers/tree/master/registry, its working. I am adding example for testing.

Thoughts?

[2019-06-24 09:36] den-is opened #4577 "current-context "" PS1 N/A:N/A after minikube stop"
**The exact command to reproduce the issue**:
`minikube stop`

**The operating system version**:
linux/macos

Stopping minikube resets `.kube/config` `current-context: ""`

This is how it looks when you use [kube-ps1](https://github.com/jonmosco/kube-ps1) terminal addon:
[code]

Maybe it is possible to make `minikube` remember previous context in his `~/.minikube/xxx` and switch back to it automat

[2019-06-24 12:02] Enoch-Ye commented on #2914
Same problem here

Windows 10 Enterprise 1803
Docker version 18.09.2
Kubectl v1.10.11
Minikube v1.0.0

[2019-06-24 12:54] LuChenjing commented on #4570
As complementary,
For minikube vm driver "none" in Linux, the whole folder profiles/<profile> will be deleted after executing "minikube delete",
but for minikube vm driver "virtualbox" in Windows, it won't be deleted, and also the config.json file inside. Only the "disk.vmdk" and <profile> folder in machines/profile/ will be removed.

[2019-06-24 13:40] cvila84 commented on #3606
Hello, I confirm the issue even with minikube v1.1.1

From my understanding, it comes from Virtualbox NAT DNS proxy, which sometimes silently crashes, resulting in i/o timeout on kube-dns (at it refers to NAT DNS proxy to resolve addresses external to K8S cluster)

I tested with latest 5.2.30 and 6.0.8 VB but gets same error after several minutes/hours.

I'm tried to replace NAT by NAT network on

[2019-06-24 13:41] Coderhypo commented on #4553
It seems that the solution is to bypass the dns by edit the hosts file.😀

[2019-06-24 13:42] mgabeler-lee-6rs commented on #2982
Given vbox as the default driver, `Suggests` seems like the right relation, yes.

Thanks for this!

[2019-06-24 13:43] blueelvis commented on #4459
@medyagh - We should not delete the Hyper-V *switch*. But yea, if the details given in the profile do not exist, the process should continue. What do you think? Where can I start looking into this?

[2019-06-24 13:44] kameshsampath commented on #4553
yes, since its minikube and single vm its quite easy. But I hope this can work for multi nodes as etc host update is done via daemonset. But was thinking if its a good/viable solution how about adding it to minikube command or some thing like that

[2019-06-24 13:45] blueelvis commented on #4458
@afbjorklund - You got me. I would like to see target specific aliases (phony targets) as well like `make windows`, `make darwin`, `make linux`, `make all` etc. What do you think? I think it would be much easier while developing on 1 platform.

[2019-06-24 13:59] dimara opened #4578 "Update ingress-nginx to latest release"
Minikube currently uses [ingress-nginx 0.23.0](https://github.com/kubernetes/minikube/blob/master/deploy/addons/ingress/ingress-dp.yaml.tmpl#L90). In this release the `x-forwarded-prefix`  annotation is broken (see https://github.com/kubernetes/ingress-nginx/issues/3733). This should be fixed with `0.24.0` (see https://github.com/kubernetes/ingress-nginx/pull/3786).

The above fix is not backwards

[2019-06-24 14:27] Coderhypo commented on #4553
I got your point, but I think minikube is not a good choose for multi nodes cluster, kubeadm is better.

I think it‘s better to use host/vm ip as registry host for minikube，because we can push image outside the cluster. like this PR: https://github.com/kubernetes/minikube/pull/4539

[2019-06-24 14:30] kameshsampath commented on #4553
how about adding some stuff from this approach to the PR ? Not sure how good it will be but just an idea.

[2019-06-24 15:39] afbjorklund commented on #4458
The `all` target already exists (also builds the drivers), and I suppose we could add aliases.

[code]

[2019-06-24 16:34] afbjorklund commented on #4518
Yeah, probably the cloud environment does not support running VirtualBox

[2019-06-24 16:48] #4570 closed

[2019-06-24 18:12] knumchoke commented on #3866
In my case.
I am running minikube in windows using Hyper-V. I also stuck at this error and cannot create new cluster with same name as deleted (but minikube start <cluster_name> work because the <cluster_name> folder inside 'C:\Users\username\.minikube' were not existed.)

And when I tried to remove the 'C:\Users\username\.minikube' folder and its sub, the windows pop-up told me that Hyper-V is us

[2019-06-24 18:22] medyagh commented on #4555
I wonder if this is the root cause of all the "minikube stop" failing in KVM integration tests? https://github.com/kubernetes/minikube/issues/4495

I think it is important, I would be happy to review the PR fixing this

[2019-06-24 18:53] medyagh commented on #4578
I don't see any reason not to upgrade. I would be happy to review any PR that fixes this.

[2019-06-24 18:57] #4531 closed

[2019-06-24 19:29] medyagh commented on #4577
Thank you for creating this issue, we have an open PR that will address this issue. https://github.com/kubernetes/minikube/pull/4485

[2019-06-24 19:42] #4577 closed

[2019-06-24 23:01] #4371 closed

[2019-06-24 23:02] tstromberg commented on #4371
minikube v1.2.0 is released, and defaults to Kubernetes v1.1.15. Thank you for your patience!

[2019-06-25 02:26] j14s commented on #4167
While this does fix things, if you do a minikube stop and start, the /etc/systemd/resolved.com gets reset to default and everything is broken again. Rinse/Repeat.

[2019-06-25 02:59] MarkBennett commented on #3048
Support this 100% @tstromberg. As a Rails/node contractor I'm always polluting my boxes with tonnes of different node/ruby/python versions plus project deps. Would be great to be able to use a combo of skaffold and minikube (along with new VS Code Remote support) to get a dev environment I can run without installing any deps other than minikube and skaffold.

[2019-06-25 03:36] medyagh commented on #4578
@minikube-bot OK to test

[2019-06-25 03:55] kumarom commented on #4242
@robertdumitrescu Does [this](https://github.com/kubernetes/minikube/blob/master/docs/reusing_the_docker_daemon.md) help you ? If yes, can this issue be closed now..

[2019-06-25 05:17] pawanyoda commented on #4519
Hi,
I have also same issue
minikube start
😄  minikube v1.2.0 on darwin (amd64)
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🏃  Re-using the currently running virtualbox VM for "minikube" ...
⌛  Waiting for SSH access ...
🐳  Configuring environment for Kubernetes v1.15.0 on Docker 18.09.6
🔄  Relaunching Kubernetes v1.15.0 using kubeadm ...

[2019-06-25 07:02] fenglixa opened #4585 "'minikube service <service name>' hangs there more than 6 miniutes, if service is not exist"
**重现问题所需的命令**：
minikube service web2 --url
**失败的命令的完整输出**：
time minikube service web2 --url
                   _=================>>>>> hangs here more than 6 miniutes_
💣  Error opening service: Could not find finalized endpoint being pointed to by web2: Temporary Error: Error getting service web2: services "web2" not found
Temporary Error: Error getting service web2: services "web2" not found
Temp

[2019-06-25 07:25] fenglixa commented on #4585
Code error as below picture. DefaultInterval -> DefaultWait caused this issue, lead to 20*20= 400 s for each 'minikube service' call. I would like to provide PR for correcting it.

![image](https://user-images.githubusercontent.com/12505594/60077680-1addb180-975d-11e9-99de-c3e33514793b.png)

[2019-06-25 08:07] sbley commented on #1153
/remove-lifecycle rotten

[2019-06-25 10:48] Booooooger opened #4587 "vbox: Call to WHvSetupPartition failed: ERROR_SUCCESS (VERR_NEM_VM_CREATE_FAILED)"
- 执行命令
**minikube start --memory 1024 --cpus 1 --disk-size 40GB --vm-driver virtualbox --bootstrapper=kubeadm**：

- 控制台输出

E0625 18:36:59.036469    1740 start.go:559] StartHost: create: creating: Unable to start the VM: C:\Program Files\Oracle\VirtualBox\VBoxManage.exe startvm minikube --type headless failed:                                                                                     VBoxM

[2019-06-25 12:38] robymontyz commented on #3735
I had the same issue with hyperkit. I resolved the problem today upgrading to the latest version of minikube (1.2.0) and installing the corresponding version of hyperkit driver from [here](https://github.com/kubernetes/minikube/releases/tag/v1.2.0).

* To install minikube:

[code]

* To install hyperkit driver:

[code]

[2019-06-25 12:41] BenHall opened #4588 "Start performance of 1.2.0 using vm-driver=none?"
Hello,

Is there any way to identify potentially bottlenecks with 1.2.0. We're seeing significantly longer start times (2m30s) than with 1.0 and previously. We set the log-level to 9 but nothing is jumping out. All the images and assets (kubeadm binary etc) have been pre-cached.

A couple of items we have spotted:

1) What we see is a long pause (60seconds) between the CNI starting and API and etc

[2019-06-25 13:19] cvila84 commented on #3720
Agree, as activating the DNS proxy (through HostDNSResolver=true or DNSProxy=true) on NAT sometimes lead to silent crashes which prevents any DNS requests to be done (https://github.com/kubernetes/minikube/issues/3606#issuecomment-505014348)

[2019-06-25 14:16] tstromberg commented on #4588
To narrow it down, do you mind checking if performance characteristics are the same across minikube versions for the same release of Kubernetes? You can pass `--kubernetes-version=v1.14.3` to both v1.0 and v1.2.0 for instance.

Normally I would also add checking for consitency with the same --iso-url, but the none driver doesn't use it.

Otherwise, I looked through the changelog for anything relat

[2019-06-25 14:20] BenHall commented on #4588
@tstromberg Thanks! As I'm not missing something obvious I'll do some investigations between the different versions and report what I find

[2019-06-25 14:21] tstromberg commented on #4587
This appears to be due to VirtualBox attempting to use HyperV as a backend, but failing for some reason: https://forums.virtualbox.org/viewtopic.php?f=6&t=92260

I had no idea that this was even possible with HyperV. I wonder if anyone else has gotten this configuration to work?

[2019-06-25 14:21] tstromberg commented on #4587
你使用的是什么版本的virtualbox？

[2019-06-25 14:53] robertdumitrescu commented on #4242
Yes, it can be closed. Thank you for all your support guys!

[2019-06-25 14:53] #4242 closed

[2019-06-25 16:17] dfang opened #4589 "hyperkit + docker proxy: Get https://registry-1.docker.io/v2/: net/http: request canceled while waiting for connection"
Switched to docker for mac long ago, since minikube new version support load balancer, i tried it today.

but i can't pull any images.

**The exact command to reproduce the issue**:

[code]

**The full output of the command that failed**:
after startup, change to minikube context

[code]

`minikube addons list | grep dns` shows nothings ? is that the problem, why kube-dns, coredns removed ?

`dock

[2019-06-25 16:19] vini-almeida opened #4590 "minikube keeps crashing many times during the day"
Many times a day `minikube status` returns:
[code]
minikube logs:
[code]

OS version: ubuntu 16.04

minikube version: v1.2.0

[2019-06-25 17:14] medyagh commented on #4479
Closed by https://github.com/kubernetes/minikube/pull/4548

please reopen if needed.

[2019-06-25 17:14] #4479 closed

[2019-06-25 17:25] medyagh opened #4592 "Run as many integration tests as possible in parallel using profile"
now that we have improved minikube profile, (with https://github.com/kubernetes/minikube/pull/4504 and https://github.com/kubernetes/minikube/pull/4572) we could use as many integration tests as meaningful in parallel using profile to speed up the integration tests.

[2019-06-25 18:02] #4458 closed

[2019-06-25 18:20] chaimleib opened #4594 "hyperkit: tcp: lookup k8s.gcr.io read: connection refused"
I'm having trouble fetching docker images using hyperkit. This affects the initial minikube start command logged below, where it says "Unable to pull images..."

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:
[code]

**The output of the `minikube logs` command**:
[code]

**The operating system version**:
macOS 10.14.5

[2019-06-25 18:22] chaimleib commented on #4594
Possibly related: images also could not be fetched when I tried using `minikube dashboard` to create a new app using `nginx:alpine`, `nginx`, `docker.io/library/nginx:alpine`, or `k8s.gcr.io/nginx:alpine`.

[code]

All the failure messages from the `minikube dashboard` GUI were the same, just with different image names.

[2019-06-25 18:24] chaimleib commented on #4594
[code]

[2019-06-25 19:37] medyagh commented on #4319
@josedonizetti I confirm this issue is still happening with kvm2 driver and latest

### What happens :
when trying to delete a stopped minikube a with kvm2 driver it fails with this error:
[code]
## versions:
$ docker-machine-driver-kvm2 --version
v1.2.0

$ minikube version
minikube version: v1.2.0

## OS :
Debian rodete

[2019-06-25 20:11] medyagh commented on #4590
do you mind sharing how much ram you have and what driver and options did you use to start minikube?

[2019-06-25 20:13] medyagh commented on #4589
does this issue happen on re-starting miniukube or on first start ?

[2019-06-25 20:14] medyagh commented on #4589
have you verified that you can access docker hub through proxy ?

[2019-06-25 20:21] #4578 closed

[2019-06-25 20:26] medyagh commented on #4553
I wonder if this is related to this https://github.com/kubernetes/minikube/issues/4547

[2019-06-25 20:28] medyagh commented on #4594
I wonder if this is related to this https://github.com/kubernetes/minikube/issues/4547

[2019-06-25 20:29] medyagh commented on #4547
I am curious, which driver are you using ? hyperkit or virtualbox?

[2019-06-25 20:29] medyagh commented on #4547
do you mind sharing the `minikube logs`

[2019-06-25 20:33] medyagh commented on #4536
Thank you, we could provide a better solution message for this,
I would be happy to review any PR

the PR should give a better solution message for "unknown flag" error .

we could try validate the extra config before we are starting the vm ...

[2019-06-25 21:03] chaimleib commented on #4594
I was able to get things working using `--vm-driver parallels`, so the proxy seems to allow connections to the registry.

[2019-06-26 00:03] dfang commented on #4589
@medyagh

1.  tried restart, even minikube stop && minikube delete && minikube start
2. tried docker pull in minikube ssh, pull failed,  and
tried curl -I baidu.com or google.com , can't find any host

[2019-06-26 00:28] dfang commented on #4589
@medyagh
unset any HTTP_PROXY, HTTPS_PROXY,   then  run `minikube start`without any proxy settings.

in minikube ssh,

[code]

[2019-06-26 01:10] medyagh opened #4598 "minikube status should show status for all profiles"
minikube status shows "Stopped" when starting a minikube in a different profile.

[code]

To recreate  :
- Start minikube default profile  `minikube start`
- Stop minikube `minikube stop`
- Start minikube in a different profile `minikube start -p p1`
- Get miniube status `minikube status`

Expected :

I would like minikube status, show status of all profiles, if I don't provide a profile name.

[2019-06-26 01:25] Booooooger commented on #4587
6.0.8

[2019-06-26 01:25] medyagh opened #4599 "Better solution message when service doesn't exists"
Currently if user tries to get a service that doesn't exist we crash and ask users to create an issue for this  crash, it is better to advise them to make sure the service they are requesting been deployed.

[code]

I recommend using our `problem` package. https://github.com/kubernetes/minikube/blob/master/pkg/minikube/problem/err_map.go

[2019-06-26 01:47] tstromberg commented on #4347
@grahamwhaley @amshinde @egernst - Is there anything we can be doing from the minikube side to make it easier to support Kata? I'm really eager to see Kata get built-in and would be happy to help get the ball rolling any way that I can.

Also, if someone would like this issue to be assigned to them, just say the word.

I'm at KubeCon Shanghai today in case any Kata folks would like to speak furthe

[2019-06-26 01:58] dfang opened #4600 "[Feature Request] Minikube should read lowercase http_proxy too"
**The exact command to reproduce the issue**:
`minikube start`

**The full output of the command that failed**:

not failed, this is for better usability,  for many reasons, users in china must use proxy to pull image from gcr.io ....

currently most applications(curl, wget, git etc) read lowercase http_proxy env, or read both lowercase and uppercase, maybe minikube should support read lowercase h

[2019-06-26 02:09] dfang commented on #4594
@medyagh for me,  I start minikube without --insecure-registry,  with or without HTTP_PROXY, HTTPS_PROXY,

docker pull in minikube ssh

[code]

can't pull alpine images on docker hub, needless to say images on gcr.io.

how dns work in minikube ? can't find any documentation.

by the way.  on macOS version 10.14.5, minikube version 1.2.0, hyperkit driver

didn't try other driver yet ....

[2019-06-26 02:09] egernst commented on #4347
/cc @wangxu @bergwolf - they are at KubeCon as well.

[2019-06-26 02:21] medyagh commented on #2453
@flmmartins  thank you for reporting this, I will watch this issue in https://github.com/kubernetes/minikube/issues/4600 please follow that issue and I hope we will resolve this issue soon.

[2019-06-26 02:21] #2453 closed

[2019-06-26 02:22] medyagh commented on #4600
Thank you for reporting this issue, I will make sure this is resolved.

[2019-06-26 02:33] dfang commented on #4167
tried to change DNS to 223.5.5.5 （aliyun dns), and restarted `systemd-resolved`
but still failed to nslookup

[code]

[2019-06-26 02:49] dfang commented on #4600
@medyagh Thanks for your quick response,

i think these issues (https://github.com/kubernetes/minikube/issues/4167, https://github.com/kubernetes/minikube/issues/4594) is related to usability too,

because proxy, dns, registry mirrors have impact on pulling images, that is usability,  i really heard many people complains that. There are so many issues about pulling images failed, hyperkit: tcp: lo

[2019-06-26 03:00] medyagh commented on #4418
Issue still there for restarting on none:

[code]

[2019-06-26 03:21] aidagha commented on #4599
I am interested in taking this issue. This is gonna be my first issue if you guide me.

[2019-06-26 03:40] mycryptonite commented on #4056
Same issue with 1.2 as well. Using Virtualbox 6.0.4.

[2019-06-26 03:41] mycryptonite commented on #4056
Same issue with 1.2 as well. Using Virtualbox 6.0.4.

[2019-06-26 04:04] kumarom commented on #4570
@medyagh shouldn't we also cleanup stale context/user/cluster from `~/.kube/config` ? Or is it already taken care of..

[2019-06-26 04:26] kameshsampath commented on #4553
@medyagh - how about us combining these issues and make a unified approach.  I was trying this in minikube v1.2.0 i see I get connection refused error to registry with both hyperkit and virtualbox. Wondering what could be issue.

[2019-06-26 04:38] kameshsampath opened #4604 "Minikube connection to internal registry is refused"
When I try to push images to internal registry from container (build via Tekton piplines) I get a connection refused error. This is working well with minikube v1.1.1.

**The exact command to reproduce the issue**:
Following https://github.com/kameshsampath/minikube-helpers/tree/master/registry/README.adoc.

**The full output of the command that failed**:
```[build-greeter-jvm : buildah-build-push]

[2019-06-26 04:45] aidagha commented on #4451
I had the same issue. I fixed it by installing Virtualbox 5.2 (https://www.virtualbox.org/wiki/Download_Old_Builds_5_2).

It seems like others also faced this issue ( for example here https://github.com/kubernetes/minikube/issues/4088)

It would be nice to have a solution message to advise the users to install the VM driver. I would be happy to make a PR for this if you agree, @medyagh @tstromberg

[2019-06-26 07:00] vini-almeida commented on #4590
Laptop has 16GB of RAM.

I start minikube with `minikube start --vm-driver virtualbox --cpus 8`

[2019-06-26 07:33] vini-almeida commented on #4590
I also get this:
[code]

[2019-06-26 10:09] muthunkl commented on #4542
Thanks Sharifelgamal,

now its working fine.

i did the below changes
i updated  Powershell path in the environment variable.

[2019-06-26 11:06] bergwolf commented on #4347
@tstromberg @egernst  Sorry just saw this and Kubecon Shanghai has ended several hours ago. IIRC we need some addition to minikube's kernel config to support kata containers. @grahamwhaley has done some work enabling minikube+kata before. Could you share your steps/changes?

[2019-06-26 11:29] purushothamb11 opened #4606 "wip: hyperv: Powershell was not found in the path"
I am installing kubernetes in windows 10 with HyperV as VM-Drive, but when running minikube start it shows error unable to start vm, can any one help me in running minikube.

![kubeerror](https://user-images.githubusercontent.com/26902669/60176280-82fec700-9833-11e9-9e32-97e166f6561e.JPG)

[2019-06-26 12:45] grahamwhaley commented on #4347
@bergwolf - kernel config was done over on #4340 - kata-deploy and kata work with minikube today - but, you have to install them yourselves. On this ticket we are discussing adding kata as a first class citizen to minikube, so it can be installed with the minikube installer, like gvisor can with minikube today.

afaiu, what we need to do is assess how near kata-deploy is to the method used for gvi

[2019-06-26 14:08] tstromberg commented on #4271
@blueelvis - any progress on this?

I ask because I will begin moving docs to https://minikube.sigs.k8s.io next week. Thankfully, the markdown files should not change!

[2019-06-26 14:11] blueelvis commented on #4271
@tstromberg - Yea, I should be able to submit a PR before this weekend.

Clicking on that Docs link is giving 404. It's not fully integrated?

[2019-06-26 14:11] tstromberg commented on #4347
@gramahwhaley - Thanks for the update! Please feel free to chase me down if you have any questions.

[2019-06-26 14:24] mmazur commented on #3129
Still present…

[2019-06-26 15:00] odytrice commented on #3963
Had the same problem, was able to work around it using the "Default Switch" instead. Hope someone finds this useful

[2019-06-26 15:06] technomage commented on #4509
Hyper-V was disabled, but with 1903 it enabled Windows Containers which appears to also interfere with VirtualBox.  When I disabled that as well then the VM started normally.

[2019-06-26 15:06] #4509 closed

[2019-06-26 15:17] byumov commented on #4540
Same for me.
Hang on start:
[code]

MacOS:
[code]

VirtualBox:
[code]

minikube:
[code]

Log, with hang:
[code]

[2019-06-26 15:27] csrrmrvll commented on #2281
Minikube version: v1.2.0

OS: Windows 10 Pro Version 10.0.17134 build 17134
VM Driver: virtualbox
Install tools:
Chocolatey
Others:
What happened:
When trying to disable default-storageclass addon using the command:

minikube addons disable default-storageclass

I encountered an unexpected error:

C:\Users\cromero\k8s-workshop>minikube addons disable default-storageclass

X disable failed: [disabl

[2019-06-26 17:33] #4600 closed

[2019-06-26 17:34] tigerpeng2001 opened #4609 "vbox: minikube hang on Launching Mac"
macOS Mojave version 10.14.5
Processor 2.9 GH Intel Core i9
$ sysctl hw.physicalcpu hw.logicalcpu
hw.physicalcpu: 6
hw.logicalcpu: 12
Memory: 32GB

After initial install minikube. It hung on Launching. After checking the log, it looked like some issue with VirtualBox. It worked for a few days after trying uninstall/install Virtrubox (through dmg file)

Yesterday, I tried to get a clean environment

[2019-06-26 17:55] medyagh commented on #4271
lets make sure there is a link from old to new location, since in our Problem Advice code we URL to our docs

[2019-06-26 19:00] chaimleib commented on #4594
I don't have `HTTP_PROXY` or `http_proxy` set in my env vars.

[2019-06-26 21:18] josedonizetti commented on #4555
I'll take a look at this.

[2019-06-26 21:31] josedonizetti commented on #4598
I'm working on this.

[2019-06-26 22:04] tigerpeng2001 commented on #4609
uninstall/install VirtualBox, no a fix.
reboot MacBook, minikube is able to start.

[2019-06-26 23:20] vraj4 opened #4613 "certificate apiserver-kubelet-client not signed by CA certificate ca: crypto/rsa: verification error"
Error starting cluster: cmd failed: sudo /usr/bin/kubeadm init --config /var/lib/kubeadm.yaml  --ignore-preflight-errors=DirAvailable--etc-kubernetes-manifests,DirAvailable--data-minikube,FileAvailable--etc-kubernetes-manifests-kube-scheduler.yaml,FileAvailable--etc-kubernetes-manifests-kube-apiserver.yaml,FileAvailable--etc-kubernetes-manifests-kube-controller-manager.yaml,FileAvailable--etc-kube

[2019-06-26 23:47] staticdev opened #4614 "Update hypervisor default from "virtualbox" to best-available"
**The exact command to reproduce the issue**: minikube start

**The full output of the command that failed**:

😄  minikube v1.2.0 on linux (amd64)
💿  Downloading Minikube ISO ...
 129.33 MB / 129.33 MB [============================================] 100.00% 0s
🔥  Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0626 20:40:20.432969   26803 start.go:559] StartHost: create: precreate

[2019-06-27 00:05] staticdev opened #4615 "Minikube 1.2.0 driver=none output not user-friendly"
**The exact command to reproduce the issue**: minikube start --vm-driver=none

**The full output of the command that failed**: 😄  minikube v1.2.0 on linux (amd64)
🔥  Creating none VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
🐳  Configuring environment for Kubernetes v1.15.0 on Docker
    ▪ kubelet.resolv-conf=/run/systemd/resolve/resolv.conf
💾  Downloading kubeadm v1.15.0
💾  Downloading kubelet v1

[2019-06-27 00:09] staticdev opened #4616 "kubeadm reset: sudo kubeadm reset --force"
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:

🔄  Uninstalling Kubernetes v1.15.0 using kubeadm ...
Failed to delete cluster: kubeadm reset: sudo kubeadm reset --force

: running command: sudo kubeadm reset --force
 output: sudo: kubeadm: command not found
: running command: sudo kubeadm reset --force
.: exit status 1
🔥  Deleting "minikube" f

[2019-06-27 01:36] #4319 closed

[2019-06-27 02:28] fenglixa commented on #4585
fixed by #4586

[2019-06-27 02:28] #4585 closed

[2019-06-27 05:32] zy0016 opened #4617 "hyperv: Error configuring auth on host: Too many retries waiting for SSH to be available"
C:\Users\Administrator>minikube start
* minikube v1.2.0 on windows (amd64)
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Re-using the currently running hyperv VM for "minikube" ...
* Waiting for SSH access ...
E0627 10:26:38.891693    3332 start.go:559] StartHost: Temporary Error: Error configuring auth on host: Too many retries waiting f

[2019-06-27 06:18] Booooooger commented on #4587
我已经放弃Virtualbox，替换到Hyper-V 。

[2019-06-27 06:39] #4599 closed

[2019-06-27 06:42] akaQin opened #4618 "Unable to load cached images: loading cached images"
[code]

[2019-06-27 07:27] medyagh commented on #4616
I think I have seen this error in the integration tests too !

[2019-06-27 07:29] medyagh commented on #4616
I think the least would could do is at least add solution message to the error map and have a link to this issue till we fix it
https://github.com/kubernetes/minikube/blob/master/pkg/minikube/problem/err_map.go

[2019-06-27 07:30] medyagh commented on #4615
Thank you for creating this issue, I believe we recently merged a PR that sugests user to run it with sudo. I think it will be in the next release.

[2019-06-27 11:47] staticdev commented on #4616
@medyagh I think an even better approach is not trying to create a cluster when user tries `minikube start --vm-driver=none` without sudo. You said on #4615 that there was a recent merged commit for this case.

[2019-06-27 12:13] xijiz commented on #4618
兄弟，你解决了吗

[2019-06-27 12:13] xijiz commented on #4618
兄弟，你解决了吗

[2019-06-27 12:24] castlemilk commented on #4604
I've found the issue gets resolved if you remove the `registry-proxy`. when you enable the registry addon, it creates a `Service` which is loadbalancing across both the `registry-proxy` and the `registry`. Configuration is here: https://github.com/kubernetes/minikube/blob/master/deploy/addons/registry/

[2019-06-27 12:32] kameshsampath commented on #4604
thanks @castlemilk - I suspected the same let me try deleting the daemonset

[2019-06-27 14:40] win5do commented on #4547
@medyagh

I use virtualbox.

logs:
[code]

[2019-06-27 14:50] vini-almeida commented on #4590
I have deleted my minikube image and started with `minikube start --vm-driver --memory 4096` and it seemed to solve the issue. I would recommend making debugging this a bit easier.

Also, after starting minikube with a given memory value, if later one tries to set a parameter via the command line, minikube it spits out a message saying that it won't be able to change the memory parameter, which is

[2019-06-27 14:50] #4590 closed

[2019-06-27 15:59] roberthbailey commented on #3416
@tstromberg - what's the likelihood of this getting addressed soon-ish? My plan is to just update the agones docs with a workaround if this isn't fixed before we get to our 1.0 milestone.

[2019-06-27 17:45] muwednesday commented on #4618
兄弟，国内怎么安装啊

[2019-06-27 17:55] sharifelgamal commented on #4616
Yeah, we now error out if you try creating a cluster with none driver without sudo. It'll be included in the next release.

[2019-06-27 17:56] sharifelgamal commented on #4614
Are you sure virtualbox is installed on your machine? What happens if you just try to call VBoxManage?

[2019-06-27 17:56] yinzara opened #4621 "Symbolic links don't work in Mounted Host Folders"
This reopens issue #890

This is happening with the Hyperkit driver but I suspect may happen with other drivers as well.

The reproduction steps are extremely simple.

[code]

[2019-06-27 17:58] sharifelgamal commented on #4606
Make sure Powershell is in your PATH. It's required to start minikube with HyperV.

[2019-06-27 18:18] staticdev commented on #4614
@sharifelgamal virtualbox is NOT installed, but kvm2 is. My point is.. If the documentation recommends kvm2 for Linux, minikube start should have default virtualbox!

[2019-06-27 18:27] sharifelgamal commented on #4614
That's totally my bad for missing the comment at the bottom. VirtualBox has always been the default driver since it's totally cross-platform and is mentioned as the default in the same documentation where we also recommend kvm2 for linux. You can also set kvm2 to be your default driver in the config as documented [here](https://github.com/kubernetes/minikube/blob/master/docs/drivers.md#kvm2-driver

[2019-06-27 18:31] sharifelgamal commented on #4613
Thank you for sharing your experience! If you don't mind, could you please provide:

The exact command-lines used, so that we may replicate the issue
The full output of the command that failed
The full output of the "minikube logs" command
Which operating system version was used
This will help us isolate the problem further. Thank you!

[2019-06-27 18:36] sharifelgamal commented on #4542
I'm glad it's working! I'll close out this issue.

[2019-06-27 18:36] #4542 closed

[2019-06-27 18:38] yinzara commented on #4621
Very interesting find seems to relate to:
https://github.com/kubernetes/minikube/pull/3796

The following works:
[code]

This means that there was some defect introduced with the switch to version L that prevents symbolic links from functioning.

[2019-06-27 18:55] staticdev commented on #4614
@sharifelgamal that is totally ok. This issue could be an enhancement proposal for a smoother experience with minikube start. It tries the default, if it is not found, instead of error it tried kvm2, if not found it tries none (example on Linux but could use same logic for other OS).

Sidenote: The none try should check if it is sudo. If not gives the suggestion of running sudo or installing a VM

[2019-06-27 18:59] sharifelgamal commented on #4614
We have added the error message when a user doesn't use sudo for the none driver, it will be included in the next release.

As far as auto-picking VM drivers, I think adding that complexity to the code doesn't really add much, the user is generally aware of which VM they want to use ahead of time.

What do you think @tstromberg?

[2019-06-27 19:08] vraj4 commented on #4613
I was using Ubuntu 18.04 virtual machine using Virtual box. The minikube cluster was working fine unless I had an issue with kubectl. Started throwing an error everytime when I try to run kubectl, I see this error:
root@vikhna:~# kubectl get pod
The connection to the server 10.0.2.15:8443 was refused - did you specify the right host or port?
Wiped off the VM and did a clean install of Ubuntu 18.04

[2019-06-27 19:31] medyagh opened #4622 "Generate minikube start/stop/delete speed on different drivers"
it would be a great thing to have a script to run on each release, that does the following:

- measure how long minikube start, start again ,stop , delete takes on each different drivers such as, virtualbox, hyperkit, hyperv and none.

the script should generate the a dirver_performance.md  file in the /docs automatically on each release and purpose a PR.

[2019-06-27 19:56] staticdev commented on #4614
I think this is a very strong statement: "User is generally aware of which VM they want to use ahead of time". Many people (including me) start learning k8s by downloading minikube. I have co-workers which are developers that uses minikube to see how an application behaves in a cluster, and they have virtually no knowledge about VMs and underlying infrastructure.

[2019-06-27 21:08] karolinepauls commented on #1783
[code]

VM: none

[code]

[2019-06-27 21:11] karolinepauls commented on #1783
Chowning ~/.docker/config.json helped.

[2019-06-27 23:55] xijiz commented on #4618
我加了代理，然后一顿操作，莫名其妙就安装好了

[2019-06-27 23:56] xijiz commented on #4618
好像要先minikube delete，然后加sudo minikube  start

[2019-06-28 01:47] medyagh opened #4623 "update contributing guide docs"
the adding a dependency part is not relevant anymore
https://github.com/kubernetes/minikube/blob/master/docs/contributors/adding_a_dependency.md

[2019-06-28 02:03] Gustavobelfort commented on #4623
Should we just remove it or leave it with a deprecated warning ?

[2019-06-28 05:16] frankmeten commented on #4043
CentOS 7 can reference the following link

https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Kernel_Administration_Guide/sect-signing-kernel-modules-for-secure-boot.html

[2019-06-28 05:49] counterliu666 opened #4626 "minikube error"
X Error restarting cluster: running cmd: sudo kubeadm init phase kubeconfig all --config /var/lib/kubeadm.yaml: running command: sudo kubeadm init phase kubeconfig all --config /var/lib/kubeadm.yaml: exit status 1

[2019-06-28 08:30] castlemilk opened #4627 "registry addon broken for consumption within cluster"
Due to the change enabling the docker registry addon to be consumed externally via the PRs #4341 and #4529, it will result on the registry `Service` to load balance across both the `registry-proxy` `DaemonSet` and the `registry` `ReplicaController`, consequently resulting in 50% of requests failing when originating within this cluster.

This gives rise to the issue described in #4604. A common pat

[2019-06-28 10:03] blueelvis commented on #2914
@tstromberg I have also seen this where the machine in Hyper-V refuses to Power off even from the manager. I tried both `Reset` and `ACPI Shutdown` and it still didn't work. Strangely this has happened only with minikube for me till now. I would like to take a stab at this once I push the documentation of all the available arguments.

[2019-06-28 15:32] dcecile opened #4629 "[FEATURE] insecure-registry via minikube config set ..."
I would love to be able to set defaults for --insecure-registry just like for --vm-driver etc.

[code]

(Similar to #3805, hopefully same simple & easy fix as #3861?)

[2019-06-28 16:43] reegnz commented on #4016
I am also getting the issue on minikube 1.2.0:
[code]

[2019-06-28 17:47] sharifelgamal commented on #4626
Thank you for sharing your experience! If you don't mind, could you please provide:

The exact command-lines used, so that we may replicate the issue
The full output of the command that failed
The full output of the "minikube logs" command
Which operating system version was used
This will help us isolate the problem further. Thank you!

[2019-06-28 18:01] afbjorklund commented on #4615
First issue is #4462

[2019-06-28 18:05] afbjorklund commented on #4614
Unfortunately I think it is the documentation that is wrong, VirtualBox is still the default driver and we haven’t found a good way to bundle kvm2 yet (it is on the roadmap)

[2019-06-28 18:13] sharifelgamal commented on #4614
VirtualBox is still documented as the default driver, kvm2 is just the recommended one.

[2019-06-28 18:30] staticdev commented on #4614
I feel that there is some degree of disagreement coming from the personal taste of minikube developers, which is totally understandable. However, this type of misalignment causes confusion and misinformation to end users. It's up for the team to came to an agreement and choose the best strategy to communicate that though the error messages, CLI command help and documentation.

[2019-06-28 20:55] medyagh opened #4633 "Add integration tests for all vm drivers"
It would be nice to have integration tests that only tests the functionality of VM drivers. in different scenarios.

( just an empty VM without installing kubelet or anyhting ) to test following
 - start, stop, delete
- start, start, delete
- start, delete, start
- ...

We could make integration tests for VM drivers to be triggered only if the driver package been changed.

[2019-06-28 20:59] josedonizetti commented on #4633
I was considering adding tests to the kvm driver using the test driver.
[code]

This would be pretty simple once we merge: https://github.com/kubernetes/minikube/pull/4401

[2019-06-28 21:04] docktermj opened #4634 "Using containers[i].volumeMounts[j].subPath produces "no such file or directory" error"
**Description**

Using `containers[i].volumeMounts[j].subPath` produces `no such file or directory` errors.

[code]

**Steps to reproduce the issue:**

1. Start MiniKube

[code]

2. Create `my-namespace.yaml` file:

[code]

3. Create namespace:

[code]

4. Create `my-persistent-volume.yaml` file:

[code]

5. Create persistent volume:

[code]

6. Create `my-persistent-volume-claim.yaml` file:

[cod

[2019-06-28 21:12] #4069 closed

[2019-06-28 21:14] medyagh opened #4635 "Add documentation for qemu uri on kvm2 driver"
it would be nice to have a doc, showing minikube running with qemu uri.

would be even better to have an example showing it working on the cloud.
Related: https://github.com/kubernetes/minikube/commit/9dfe660c64ed9ac5d76650868bde29272211c582

[2019-06-28 21:16] josedonizetti commented on #4635
You can assign it to me. I'll create a simple tutorial running minikube on GCE with the remote qemu uri.

[2019-06-28 21:16] medyagh commented on #4635
Wonderful, thank you so much !

[2019-06-28 23:36] #3851 closed

[2019-06-28 23:38] #3720 closed

[2019-06-28 23:40] medyagh opened #4636 "Add documentation for virtualbox DNS settings"
We need to document the options added by PR https://github.com/kubernetes/minikube/pull/4619 by @cvila84 for virtualbox DNS settings in the docs
 --dns-proxy and
 --host-dns-resolve

[2019-06-28 23:45] Alsharah07 commented on #4532
$ docker version
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:40:16Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}
The connection to the server localhost:8080 was refused - did you specify the right host or port?

I'm getting this error, please help me

[2019-06-28 23:57] castlemilk opened #4637 "Add integration tests for registry addon"
In order to improve the reliability and robustness of the registry addon. It would be beneficial to have integration tests which validate the functionality of the registry in the following cases:

- consuming registry internal to the cluster (port 80)
- consuming registry external to the cluster (port 5000)

[2019-06-28 23:58] castlemilk commented on #4637
@medyagh

[2019-06-29 02:33] #4627 closed

[2019-06-29 03:12] #4623 closed

[2019-06-29 06:59] afbjorklund commented on #4635
Cloud ? I don't think we support running in the cloud, it was more for weird local setups...

[2019-06-29 07:12] afbjorklund commented on #4614
More a question of whether the documentation should reflect where we want to go or where we are ?
Things like #4391 and #4555 need to be fixed, if kvm2 (libvirt) is supposed to work out-of-the-box...

The _ultimate_ goal is to have minikube use the (so called) "native" virtualization, for each platform.
This is further complicated by the use of docker machine, which is still a third-party - even i

[2019-06-29 09:43] cvila84 commented on #4636
I can help. I took a look to https://github.com/kubernetes/minikube/tree/master/docs but it is not very clear to me what we can document here regarding start options

[2019-06-29 13:34] josedonizetti commented on #4505
@medyagh I don't think libivirt installation is the reason here. If libvirt wasn't installed it would have failed before, when getting the connection: https://github.com/kubernetes/minikube/blob/master/pkg/drivers/kvm/network.go#L115, instead it is failing after getting a connection, when creating the `minikube-net` network: https://github.com/kubernetes/minikube/blob/master/pkg/drivers/kvm/networ

[2019-06-29 13:50] josedonizetti opened #4640 "kvm2: improve error message when libvirt connection fail"
Current error message for when kvm2 can't connect to libvirt is too verbose.

[code]

[2019-06-29 15:21] flstaats opened #4643 "E0629 Error caching images for kubeadm fetching remote image UNAUTHORIZED Not Authorized."
Getting error message on `minikube start` that caching images for kubeadm is failing.  Not clear from the logs or documentation on how to resolve.  On an open internet connection in the United States.  Fresh install of minikube and the started k8s cluster seems to run correctly even with the caching issue.  Using -v 7 log level did not appear to provide additional information regarding the caching

[2019-06-30 02:37] JoseFdri commented on #4509
@technomage  how did you disable windows containers ?

[2019-06-30 10:31] giovanism commented on #4072
@Madhu-1 Have you enabled the mount propagation? https://github.com/kubernetes-csi/docs/blob/735f1ef4adfcb157afce47c64d750b71012c8151/book/src/Setup.md#enabling-mount-propagation

@tstromberg , Is there any way to pass `MountFlags=shared` to systemd unit inside minikube?

[2019-06-30 11:29] Faisal37150 opened #4646 "service url permission denied"
minikube services start url
But permission denied

[2019-06-30 12:07] muwednesday commented on #4618
我按不上，没办法只能用阿里云的了。https://yq.aliyun.com/articles/221687
不过貌似能翻墙的话，直接用GKE安装集群好一些，免费使用一年~

[2019-06-30 19:08] #4640 closed

[2019-06-30 22:17] #4437 closed

[2019-06-30 22:21] medyagh opened #4648 "Group minikube help commands like kubectl"
current minikube help:
[code]

which is hard to see the basic commands if you only need to know how to start, stop,...

it would be nice to have it grouped into groups like kubectl

[code]

[2019-07-01 06:40] medyagh opened #4651 "Testing the new Issue template"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:
<details><pre>

$ minikube start
😄  minikube v1.2.0 on linux (amd64)
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🔄  Restarting existing kvm2 VM for "minikube" ...
⌛  Waiting for SSH access ...
🐳  Configuring environment for Kuber