[2022-05-04 18:27] #13738 closed

[2022-05-04 18:31] klaases commented on #13533
Hi @[gabrifolli](https://github.com/gabrifolli) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exa

[2022-05-04 18:31] #13533 closed

[2022-05-04 18:32] klaases commented on #13717
Hi @devNaresh  – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line us

[2022-05-04 18:32] klaases commented on #13483
Hi @hebbarr  – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2022-05-04 18:42] spowelljr commented on #12569
Based on @HerHde's comment, this seems to be resolved, so I'm going to close this issue.

[2022-05-04 18:42] #12569 closed

[2022-05-04 19:47] #14093 closed

[2022-05-04 21:54] FelixJacobsen opened #14099 "Cant run minikube on !popOS"
### What Happened?

Can't start minikube. I have tried purge everything relating to minikube without any results. Currently running on !popOS.

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8627433/logs.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-05-04 22:16] msebi commented on #14078
Is kubernetes dead? :))

[2022-05-04 22:40] zhan9san commented on #14097
hi @anowak-ct

Could you help verify whether #13806 address this issue？

[2022-05-04 23:09] spowelljr opened #14101 "GUI: Add progress bar for start"
There should be a progress bar when a user starts a cluster. It should show the progress towards completing and also what the current step is.

[2022-05-04 23:11] spowelljr opened #14102 "GUI: Make calls to minikube async"
Calls to minikube are currently sync calls, and while the GUI is waiting for the command to complete the GUI is unresponsive. These calls should be made async so the GUI still responds.

[2022-05-05 05:12] afbjorklund commented on #13929
Seems the root cause of this issue, is trying to run an amd64 system container on a arm64 system.

Possibly due to setting some global DOCKER_DEFAULT_PLATFORM, instead of using the default.

[2022-05-05 08:17] hoppla20 commented on #12842
Hey, I just wanted to add, that @kadern0's fix works for me. I'm using PopOS 22.04:

`uname -a`:
[code]

`minikube version`:
[code]

`ls -l /sys/fs/cgroup`:
[code]

`cat /sys/fs/cgroup/cgroup.subtree_control `:
[code]

with following kernel parameters (using systemd-boot):
[code]

`minikube start --cpus 6 --memory 24g --kubernetes-version=v1.20.11`:
[code]

[2022-05-05 09:37] kadern0 commented on #12842
Happy it is working for you, @hoppla20. @vuldin, I've tested it in Ubuntu and it worked for me, did you run `git checkout issue-12842` before running the make command?

[2022-05-05 11:29] vinal26 opened #14104 "installing minikube"
### What Happened?

 minikube v1.25.2 on Microsoft Windows 10 Pro 10.0.19044 Build 19044
* Using the hyperv driver based on existing profile
* Starting control plane node minikube in cluster minikube
! StartHost failed, but will try again: error loading existing host. Please try running [minikube delete], then run [minikube start] again: filestore "minikube": open C:\Users\Admin\.minikube\machines

[2022-05-05 14:54] RoFz commented on #10266
I was also getting:

_/Applications/VMware\ Fusion.app/Contents/Public/vmrun start /Users/rofz/.minikube/machines/minikube/minikube.vmx nogui_ was saying only this:

But when executed without the _nogui_ parameter (opening the minikube.vmx from the GUI also works), I've got this:

`Memory size 5433 MB is not a multiple of 4 MB.`
`Module 'MainMemEarly' power on failed. Failed to start the virtual m

[2022-05-05 15:06] mmahant17 opened #14105 "while starting minikube these issue occured"
$ minikube start --driver=virtualbox
* minikube v1.23.2 on Microsoft Windows 10 Home Single Language 10.0.22000 Build 22000
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing virtualbox VM for "minikube" ...
! StartHost failed, but will try again: driver start: Unable to start the VM: C:\Program Files\Oracle\Virt

[2022-05-05 15:10] elitwilson commented on #13929
Wow. This was it for me. I had set DOCKER_DEFAULT_PLATFORM=linux/amd64. Deleted that variable and Minikube starts up now.

Thanks so much Anders.

[2022-05-05 15:14] mmahant17 commented on #13935
$ minikube start
* minikube v1.23.2 on Microsoft Windows 10 Home Single Language 10.0.22000 Build 22000
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster minikube
* virtualbox "minikube" VM is missing, will recreate.
* Creating virtualbox VM (CPUs=2, Memory=4000MB, Disk=20000MB) ...
! StartHost failed, but will try again: recreate: creating h

[2022-05-05 15:46] temikelani commented on #9224
use docker - install docker desktop for Mac M1 and run

`minikube start --driver=docker --alsologtostderr`

[2022-05-05 16:02] jesusalvb commented on #9315
Here is the solution: https://stackoverflow.com/a/72130224/17604887

[2022-05-05 16:16] monicaaraneda opened #14106 "minikube is unable to connect to the VM: i/o timeout"
### What Happened?

Hello,

I need your help.  That issue happens when I run-->  minikube start --driver=virtualbox

virtualbox "minikube" VM is missing, will recreate.
❌  minikube is unable to connect to the VM: dial tcp 192.168.99.104:22: i/o timeout

❌  Exiting due to GUEST_PROVISION: Failed to validate network: dial tcp 192.x.x.x:22: i/o timeout

- Disable your local VPN or firewall software

[2022-05-05 19:43] mayank3srivastava commented on #9016
Try https://github.com/kubernetes/minikube/issues/13788#issuecomment-1068640594
Worked for me as well

[2022-05-05 19:45] #14091 closed

[2022-05-05 19:56] spowelljr opened #14107 "GUI: Provide time based update checks"
Currently the GUI only checks for an update when initially starting the GUI. However, it's likely the GUI can be running for extended periods of time (days) with and the user won't be notified if there's a new version.

One idea to solve this is we can store in a file that last time we did an update check and check again after 12 hours.

[2022-05-05 20:58] msebi commented on #9130
Issue similar to @Axel15007256 :

[code]

[code]

[code]

Please **don't** close obviously unsolved issues.

[2022-05-05 21:43] baseely commented on #13035
For other platforms, Linux for instance, all you have to do is to modify the user account that will run the binary and add it to the secondary group that control the minikube.

[2022-05-05 23:01] #14101 closed

[2022-05-05 23:46] #13262 closed

[2022-05-05 23:51] martomor commented on #13566
This laso worked for me `minikube delete --all --purge` thanks!

[2022-05-06 03:42] Naveen-manokaran opened #14109 "unable to install minikube"
### What Happened?

i am unable to install minikube in my system

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8637382/logs.txt)

### Operating System

_No response_

### Driver

_No response_

[2022-05-06 08:36] Deepanshu26 opened #14110 "Minikube"
### What Happened?

StartHost failed, but will try again: provision: IP not found

### Attach the log file

* Starting control plane node minikube in cluster minikube
* Updating the running hyperv "minikube" VM ...
! StartHost failed, but will try again: provision: IP not found
* Updating the running hyperv "minikube" VM ...
* Failed to start hyperv VM. Running "minikube delete" may fix it: provis

[2022-05-06 09:47] galric opened #14112 "minikube start hang"
### What Happened?

latest minikube start hang,

process of pid=1 in the container can not start, hang on 'chown root:root /usr/bin/mount'

container:

[code]

processes in container:

[code]

stack of the hang process
[code]

### Attach the log file

[code]

### Operating System

_No response_

### Driver

_No response_

[2022-05-06 09:48] galric commented on #14112
caused by the kernel module gsch, uninstall it to workaround
[code]

[2022-05-06 22:43] medyagh commented on #9228
@josedonizetti suggested using tcp dump to see what if coredns is going through apiserver
here are the tcp dumps any experts that like to analsyze it?

I tired this
[code]

here are the ips I  get from the  -o wide
[code]
I did tcpdump on the coredns container and I get this "weird" incorrecrt things I see
[code]

[2022-05-06 22:53] prezha commented on #9228
tl;dr: i think that the problem is not with coredns, rather, the problem is with the iptables, that is - the complete lack of k8s-related rules thereof

details:

i've modified coredns deployment to use latest image, so that it's a bit more specific about the error (should remember to revert changes back to what it was):
[code]
[code]
[code]
[code]
[code]
ok, let's see what's going from the inside

[2022-05-07 00:43] sharifelgamal commented on #9228
An update here, the arm64 ISO linux kernel config was missing a whole BOATLOAD of networking modules. I have no explanations for why this happens. We're currently testing out a fix.

[2022-05-07 05:29] RA489 commented on #12426
/remove-lifecycle rotten

[2022-05-07 22:18] rodneywells01 commented on #12036
Chiming in, `--image=k8s.gcr.io/echoserver-arm:1.8` also does not work for me. Also M1 Pro. Logs are the following: `2022/05/07 22:16:07 [emerg] 11#11: io_setup() failed (38: Function not implemented)`

Possibly nginx related?

[2022-05-08 07:57] meliwex commented on #13969
@karinagrullon
I guess it is related to `minikube`, because I don't have such a problem with [kind](https://kind.sigs.k8s.io/)

[2022-05-08 16:20] #13497 closed

[2022-05-09 03:37] #13137 closed

[2022-05-09 07:10] manu2melvin opened #14116 "minikube install"
### What Happened?

C:\Users\hp>minikube start
* minikube v1.22.0 on Microsoft Windows 10 Pro 10.0.19044 Build 19044
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster minikube
! StartHost failed, but will try again: Error loading existing host. Please try running [minikube delete], then run [minikube start] again.: filestore "minikube": open

[2022-05-09 07:27] Martua27 opened #14117 "minikube status"
### What Happened?

minikube
type: Control Plane
host: Running
kubelet: Running
apiserver: Stopped
kubeconfig: Configured

Why the apiserver stopped???

### Attach the log file

minikube
type: Control Plane
host: Running
kubelet: Running
apiserver: Stopped
kubeconfig: Configured

### Operating System

_No response_

### Driver

_No response_

[2022-05-09 09:43] 16871560 commented on #13872
@Orygeunik  do you solve this problem , I got the same issue. oops....

[2022-05-09 09:44] 16871560 commented on #13872
<img width="1105" alt="image" src="https://user-images.githubusercontent.com/16367729/167384503-3b776938-c433-402e-82bf-ba1cfe080121.png">

[2022-05-09 10:29] RA489 commented on #13542
/remove-lifecycle stale

[2022-05-09 10:29] RA489 commented on #13561
/remove-lifecycle stale

[2022-05-09 10:31] rifaterdemsahin commented on #13726
<img width="504" alt="image" src="https://user-images.githubusercontent.com/5270036/167392619-1b62f999-58f2-4a13-b319-7fdc660c6873.png">

similar issues

[2022-05-09 11:57] Orygeunik commented on #13872
@16871560 no, the problem still persisted

[2022-05-09 17:24] karinagrullon commented on #13969
@meliwex
That makes a lot of sense, considering [spowelljr](https://github.com/spowelljr) suggested fix.
It is nice you've found something that works for you!

[2022-05-09 17:26] 3ster commented on #13035
Note that you'll have to re-create your cluster if you've previously created it with admin permissions.

[2022-05-09 18:18] Rabattkarte commented on #7731
/assign

[2022-05-09 19:13] thepaulmacca commented on #13035
That works fine until I run `minikube service hello-minikube` for example. I get this:

[code]
I don't get an error when I run it in admin mode though

When I run `minikube service hello-minikube` it doesn't even open in the browser for me, so seems quite a few issues with it on Windows at the moment

[2022-05-09 19:47] medyagh opened #14125 "K8s 1.24.0 Crashes in TestStartStop"
### What Happened?

in the auto PR that bumps the k8s version we see the cluster crashes after start
https://github.com/kubernetes/minikube/pull/14070
https://storage.googleapis.com/minikube-builds/logs/14070/23841/Docker_Linux.html#failsection

Conversation from Slack
https://kubernetes.slack.com/archives/C1F5CT6Q1/p1652122372719059
[code]

### Attach the log file

n/a

### Operating System

_No

[2022-05-09 20:05] medyagh opened #14127 "k8s 1.24 using none driver needs installing cri-dockerd"
### What Happened?

[code]

as seen in the test logs, we need to communicate to the user that they need to install cri-dockerd if they want to use none-driver 
in our Dockerfile we install this.
[code]

alternatively we can tell the user they should use 1.23 with none driver and Docker Runtime

### Attach the log file

n.a

### Operating System

_No response_

### Driver

_No response_

[2022-05-09 21:10] afbjorklund commented on #14127
When using the "none" driver, it is up to the user to install the required container runtime (and any CRI adapter)

Ideally it should be done with the minikube provisioner, but it is currently broken (it doesn't install anything at all)

[2022-05-09 21:31] spencer-nicol commented on #13788
I'm running minikube v1.25.2 with Docker v4.8.1 and the ingress addon is not accessible. I see this and other issues related to it have been raised for about 2 years. Is there any movement on this for the docker driver?

[2022-05-09 22:58] #9228 closed

[2022-05-09 23:49] medyagh opened #14128 "k8s 1.24 stat: cannot stat '/var/run/cri-dockerd.sock': No such file or directory when running on cloud shell without systemd"
### What Happened?
as doing this PR https://github.com/kubernetes/minikube/pull/14126
I see K8 1.24 breaks minikube on cloud shell

[code]

I SSHed manually to the docker driver
[code]

### Attach the log file

https://storage.googleapis.com/minikube-builds/logs/14126/23853/Docker_Cloud_Shell.html#fail_TestFunctional%2fserial%2fStartWithProxy

### Operating System

_No response_

### Driver

_No r

[2022-05-10 02:57] zhan9san commented on #13788
Hi @spencer-nicol

Could you please verify whether #13806 address this issue?

[2022-05-10 03:25] 16871560 commented on #13872
@Orygeunik I  reinstall 1.23.2. it seems work well.
<img width="623" alt="image" src="https://user-images.githubusercontent.com/16367729/167536550-dca90584-04a2-4fd3-a499-307cbbb15938.png">

<img width="969" alt="image" src="https://user-images.githubusercontent.com/16367729/167536427-6517a6c0-56c0-4e59-88b4-0f8d0a1ff63f.png">

[2022-05-10 05:15] afbjorklund commented on #14128
You will need to check the output of `cri-docker.service`, to see why it didn't start up properly.

[2022-05-10 08:59] rifaterdemsahin opened #14131 "Error minikube windows 11"
### What Happened?

PS C:\project\mskubernetessandbox\mindaro\samples\todo-app> minikube service --all
* This control plane is not running! (state=Stopped)
! This is unusual - you may want to investigate using "minikube logs"
  To start a cluster, run: "minikube start"
PS C:\project\mskubernetessandbox\mindaro\samples\todo-app> minikube start
* minikube v1.25.2 on Microsoft Windows 11 Enterprise E

[2022-05-10 09:18] asdf93074 opened #14132 "Configure credentials for AWS Elastic Container Registry using registry-creds addon"
Shouldn't the yaml file here also be using the secret created by the addon i.e. awsecr-cred?

EDIT: Sorry if it's not clear but I created this issue from the website and I assumed it would automatically add some link/reference here. [This ](https://minikube.sigs.k8s.io/docs/tutorials/configuring_creds_for_aws_ecr/)is the page I'm referring to.

[2022-05-10 10:53] backnotprop commented on #1441
Im using **hyperkit**. For me the issue was found when running `minikube start --alsologtostderr`

[code]

Entering my mac's user password did not work... could be a corporate-issued mac controls thing I don't have time to look into.

I **resolved the issue** by manually running the `chown` and `chmod` commands.

[2022-05-10 12:10] Al4DIN commented on #13969
I had the same issue but It was solved with `--extra-config=kubelet.housekeeping-interval=10s` , but I just want to understand the utility and the definition of this argument.

[2022-05-10 16:11] spencer-nicol commented on #13788
Using the tunnel does allow me to connect to the services, alternatively HyperKit also allows me to do this without tunneling. Is this fundamentally a Docker, MacOS, or virtualization issue? I'm curious if there will eventually be native support?

[2022-05-10 16:42] afbjorklund commented on #14128
You can view the log with `journalctl` or `systemctl status -l`

[2022-05-10 17:11] Orygeunik commented on #13872
@16871560
So, is in my case it no results

[code]

[code]

i think so problem around driver, i used "none" and it's a source of problems :(

[2022-05-10 18:14] Orygeunik commented on #13872
And so, for tests i was changed driver to "docker" and minikube versio to "v1.23.2" and... it's work
[code]
[code]

culprit is driver - Q.E.D.  (and idk why)

[2022-05-10 19:12] jleandrocr opened #14135 "Minikube starts fine, but can´t read minikube certificate on Windows."
### What Happened?

Minikube starts fine, but can´t read minikube certificate on Windows.

Please help, I´ve tried many things and can´t fix it.
How do I change or provide new permissions or how do I solve it?

### Attach the log file

![minikube certs error](https://user-images.githubusercontent.com/93690195/167704484-2b23b7b4-3e59-4ec3-aba6-68a0f94d5321.PNG)

### Operating System

Windows

### D

[2022-05-10 19:24] Merteg commented on #3647
/assign

[2022-05-10 23:32] kschaab opened #14142 "minikube status --layout cluster --output json crashes"
### What Happened?

`minikube status --layout cluster --output json` is returning exit code 7 and crashing by parsing a string into integer:

[code]

### Attach the log file

Log file is too large for issue:  https://gist.github.com/kschaab/f9d94c527ad5bbd5e84be948d009ff08

### Operating System

macOS (Default)

### Driver

HyperKit

[2022-05-10 23:52] ChaseMor opened #14143 "minikube start took ~15 minutes"
### What Happened?

Started minikube through Cloud Code VS Code.

I think the profile was corrupted or something because it tried to start and then had to reset it.

### Attach the log file

https://gist.github.com/ChaseMor/a6fd8c2a06e8caa2c0af05c4b4697f48

### Operating System

macOS (Default)

### Driver

Docker

[2022-05-11 02:14] zhan9san commented on #13788
It's Docker and MacOS issue. https://github.com/kubernetes/minikube/issues/7332#issuecomment-608133325 and [per-container-ip-addressing-is-not-possible](https://docs.docker.com/desktop/mac/networking/#per-container-ip-addressing-is-not-possible)

I don't know, but probably won't.

[2022-05-11 04:32] linhnvhicts commented on #13969
for my case i don't need to delete the minikube, just doing `stop minikube` and then start with `minikube start --extra-config=kubelet.housekeeping-interval=10s` work normal for me, after a while i can see both from the command line and the dashboard

[2022-05-11 08:43] zhan9san commented on #13938
Hi @dcoliversun

我在最新版本的minikube复现不了这个问题，你可以用新版本试试吗？

[code]

[2022-05-11 08:50] denisok commented on #12360
So my theory om whats happens: provisioner runs only on master node and responds correctly with pvc to the k8s. It creates PVC only locally on master node.

When scheduler schedules pod on some node kubelet checks for PVC, it finds it attaches to the container that runs under the docker with the path from that PVC that was created only on master node.
Docker takes that path, it doesn't exists and

[2022-05-11 09:08] denisok commented on #12360
that theory confirmed by couple of facts:
- directories for all pods that scheduled on different nodes do exists on master node, even those pods weren't run on master
- nothing runs on the nodes to actually create those directories
- the only thing in the logs for one of the node:
[code]
when starting pod that would fail with access.

So I think that current host-pathprovisioner doesn't account no

[2022-05-11 09:14] dcoliversun commented on #13938
@zhan9san 多谢。升级版本后问题已解决。
minikube version: v1.25.2
commit: 362d5fdc0a3dbee389b3d3f1034e8023e72bd3a7

[2022-05-11 09:14] #13938 closed

[2022-05-11 09:27] denisok commented on #12360
/remove-lifecycle stale

[2022-05-11 09:37] denisok commented on #12360
@afbjorklund @spowelljr could you please add to triage, looks like real bug with root cause .

[2022-05-11 09:42] denisok commented on #12360
/triage discuss

[2022-05-11 10:01] meliwex commented on #13969
For `nginx` image after executing `minikube start --extra-config=kubelet.housekeeping-interval=10s` the metrics are displayed but a very short period, then it gives the following error:

`error: Metrics not available for pod default/nginx`

Does anyone have a solution?

[2022-05-11 18:18] medyagh commented on #13985
I think when you click on it manually it will use your OS opening generic links

[2022-05-11 18:40] spowelljr commented on #13838
Hi @kschaab, the logs you provided are for `minikube profile list -o json`, but we can look into this

[2022-05-11 18:42] spowelljr commented on #13287
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-05-11 18:46] klaases commented on #14109
Hi @Naveen-manokaran, from the logs, it looks like minikube has started:

`I0506 09:03:36.315671   11775 out.go:176] 😄  minikube v1.25.2 on Ubuntu 21.10`

Are you still experiencing this issue?

[2022-05-11 18:46] spowelljr commented on #12912
Hi @abdelrazekrizk, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-05-11 18:46] #12912 closed

[2022-05-11 18:51] klaases commented on #14104
Hi @vinal26, would you be able to try running `minikube delete --all`?

Then, start minikube again. Please let us know if this error is still occuring.

[2022-05-11 18:55] klaases commented on #14099
Hi @FelixJacobsen, could you be more specific in the actual error that is occurring?

Are you referring to: `Error: No such network: minikube`?

[2022-05-11 18:56] klaases commented on #14097
Hi @anowak-ct, did you have a chance to see if https://github.com/kubernetes/minikube/pull/13806 helps resolve this issue?

[2022-05-11 19:00] klaases commented on #14095
Hi @Ram7378, from the error `Failed to start hyperv VM. "minikube start" may fix`.

Thank you for sharing your experience! If you don't mind, could you provide minikube logs?

Please attach (drag) the`logs.txt` file to this issue  which can be generated by running this command:

[code]

This will help us isolate the problem further. Thank you!

/triage needs-information
/kind support

[2022-05-11 19:02] klaases commented on #14090
Thank you for sharing your experience! If you don't mind, could you provide minikube logs?

Please attach (drag) the`logs.txt` file to this issue  which can be generated by running this command:

[code]

This will help us isolate the problem further. Thank you!

/triage needs-information
/kind support

---

¡Gracias por compartir su experiencia! Si no le importa, ¿podría proporcionar registros de

[2022-05-11 21:04] victor-sudakov commented on #12360
@denisok Thanks for the links to the alternative hostpath provisioners.

[2022-05-11 21:34] mattbator commented on #11193
Is it no longer possible to expose a range of ports using the --ports flag? (CC: @toonvanstrijp)

Using the example provided by @marlon-sousa above:

`minikube start --driver=docker --extra-config=apiserver.service-node-port-range=32760-32767 --ports=127.0.0.1:32760-32767:32760-32767`

on minikube v1.25.2, yields the following error:

`😄  minikube v1.25.2 on Darwin 12.3.1 (arm64)
✨  Using the dock

[2022-05-11 22:29] kubealex commented on #12762
same here and also on non-minikube setup on 1.23 and 1.24. Ubuntu 21.10.

[2022-05-11 23:23] sharifelgamal commented on #14143
This is a known issue of the GCP auth addon, where it sometimes hangs for 7+ minutes in verification. We're trying to nail down a good reproduction environment so we can fully investigate what's happening there.

cc @klaases

[2022-05-11 23:26] sharifelgamal opened #14146 "Known QEMU2 Driver Issues"
Now that #13639 is (soon to be) merged, we need a place to aggregate all the known issues so we can eventually graduate it from experimental to recommended driver.

[ ] containerd runtime is broken (permissions on the socket file)
[ ] crio runtime is broken (conmon installation in the arm64 ISO is busted)
[ ] `minikube service` (unimplemented)
[ ] `minikube tunnel` (unimplemented)
[ ] Full test su

[2022-05-12 01:03] SXDDFMYFJ opened #14148 "Error starting cluster: apiserver healthz: apiserver process never appeared"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2022-05-12 03:41] #13934 closed

[2022-05-12 04:53] meliwex commented on #13969
After some investigation, I solved this, but the solution is not perfect. I started using `none` driver to start a cluster and that solved the problem of the metrics for `nginx` image:

I truncated little bit the output for simplicity:
[code]

Notes:
`--extra-config=kubelet.housekeeping-interval=10s` option is required for this to work
This solution works with `metrics-server` add-on and with an o

[2022-05-12 07:46] zhan9san commented on #14148
@SXDDFMYFJ

方便提供下模版里的信息吗？
比如启动命令，日志，以及如何复现这个问题，还有版本信息

[2022-05-12 08:42] Al4DIN commented on #13969
@meliwex can you show your pod logs or just do `kubectl describe pods/nginx-7c658794b9-6sn99`

[2022-05-12 09:02] meliwex commented on #13969
@Al4DIN
This is the output of `kubectl describe pods/nginx-7c658794b9-rz2dv`, but note that I already deleted the old cluster and created a new one with the same configurations, that's why the pod's name is different:

[code]

[2022-05-12 09:57] nour-karoui commented on #11193
@mattbator minikube considers 127.0.0.1:32760-32767:32760-32767 as one port mapping as you can see from the error message it displayed an array with one element, a workaround I did was separate them by a comma. However, I don't know what to do with bulk ports

[2022-05-12 12:42] ondrej-ivanko commented on #13930
Hi @afbjorklund,

I tried this and it works OK. It might be that newest minikube cli does not call xdg-open properly now.

When trying: `xdg-open $(minikube service --https=true -n es-desktop-dev es-desktop-dev-kb-http --url=true)` it opens up the browser like in previous minikube versions.

[2022-05-12 13:06] ondrej-ivanko opened #14149 "Update runc version in minikube to 1.1"
### What Happened?

Hi,

I run into issue that specific elastic-search CRDs are unable to run, because Minikube is internally using runc v 1.0.2.

Linux kernel 4.11 introduced RDMA cgroup controller, but support for that controller is available since runc v 1.1.x

More on my system setup, problem explanation and workaround that I use is [here](https://github.com/elastic/cloud-on-k8s/issues/5325)

[2022-05-12 15:36] afbjorklund commented on #14146
Networking currently for "user" (slirp) only. Proper networking on Mac is possible, by using the VDE and Socket drivers from Lima. But not implemented in driver yet - should be easy to do, though

[2022-05-12 16:39] #12842 closed

[2022-05-12 16:43] #13136 closed

[2022-05-12 17:55] afbjorklund commented on #14149
Docker 20.10.15 updated to runc 1.1.1 (and containerd to 1.6.4)

https://docs.docker.com/engine/release-notes/#201015

[2022-05-12 19:48] afbjorklund commented on #14146
The current tunneling of the docker port is kinda gross, but it was blocked on upstream not allowing any changes...

* https://github.com/docker/machine/issues/3361

i.e. the docker port was hardcoded to 2376, so currently it does some kind of bait-and-switch on the URL instead

Now when the driver is forked, should remove that workaround - and add the tunneling of the minikube 8443 port.

[2022-05-13 08:07] quydox commented on #13788
Thanks, it works for me. I don't know why :D

[2022-05-13 08:29] krishnarayapudi25 opened #14159 "minikube installing problem"
### What Happened?

i have already disabled hyper-v but stll showing enabled in your device

### Attach the log file

C:\Users\rayap>minikube start --driver=virtualbox
* minikube v1.25.2 on Microsoft Windows 11 Home 10.0.22000 Build 22000
* Using the virtualbox driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Creating virtualbox VM (CPUs=2, Memory=220

[2022-05-13 10:48] Giildo opened #14160 "addon storage-provisioner-gluster StorageClass not in beta lib version"
minikube version : v1.25.2
commit : 362d5fdc0a3dbee389b3d3f1034e8023e72bd3a7

kubernetes versions :
client : 1.24.0
client commit : 4ce5a8954017644c5420bae81d72b09b735c21f0
server : 1.23.3
server commit : 816c97ab8cff8a1c72eccca1026f7820e93e0d25

This exact command to reproduce this issue :
[code]

Error in the terminal :
<details>
❌  Fermeture en raison de MK_ADDON_ENABLE : run callbacks: running

[2022-05-13 10:52] Giildo commented on #14160
Suggested fix: when I run the command `minikube addons enable storage-provisioner-gluster`, if I change the file `/etc/kubernetes/addons/storage-provisioner-glusterfile.yaml` and I use the version `apiVersion: storage.k8s.io/v1` the addon is enabled.

[2022-05-13 11:39] amitk-vmware commented on #9016
What does it mean by: `the terminal needs to be open to run it.` ?

[2022-05-13 11:44] Al4DIN commented on #13969
@meliwex It looks like everything is working, do you have the same issue with other pods (like you can just create another ones with other images) ?

[2022-05-13 14:14] meliwex commented on #13969
@Al4DIN
With other Pods(with other images) I don't have such a problem
I already said about that before here - https://github.com/kubernetes/minikube/issues/13969#issuecomment-1116969547

[2022-05-13 14:37] oumh opened #14162 "Probleme demarrage minikube ( v1.25.2 ) sous windows 10 avec Docker Desktop 4.8.1"
**Étapes pour reproduire le problème:**

1.minikube start --vm-driver=docker

**Sortie complète de la commande `minikube logs`:**
<details>

P:\>minikube start --vm-driver=docker
* minikube v1.25.2 sur Microsoft Windows 10 Enterprise 10.0.18363 Build 18363
* Utilisation du pilote docker basé sur le profil existant
* Démarrage du noeud de plan de contrôle minikube dans le cluster minikube
* Extract

[2022-05-13 19:14] #12974 closed

[2022-05-13 22:31] spowelljr commented on #11885
We just released minikube v1.26.0-beta.0 that supports the QEMU driver `--driver=qemu2`.

https://github.com/kubernetes/minikube/releases/tag/v1.26.0-beta.0

[2022-05-13 22:34] spowelljr commented on #12826
We just released minikube v1.26.0-beta.0 that supports the QEMU driver `--driver=qemu2`.

https://github.com/kubernetes/minikube/releases/tag/v1.26.0-beta.0

[2022-05-13 22:38] spowelljr commented on #12305
Hi @Seann-Moser, if you're still experiencing this issue I'd recommend updating to a newer version of minikube, we've included many arm64 improvements since v1.22.0. We just released v1.26.0-beta.0 that supports running minikube without Docker Desktop as well.

https://github.com/kubernetes/minikube/releases/tag/v1.26.0-beta.0

[2022-05-13 22:53] greenchapter commented on #11885
Looks on the first sight very good 👏

[2022-05-14 04:17] hiroaki2020 opened #14170 "[Question] Why does minikube cluster work properly even though node's cpu usage exceeds my pc capacity?"
### What Happened?

My PC is macbook air which has 2 cpu cores (= 4 logical cpu cores).
I heard I need to allocate at least 2 cpu cores (I assume this is logical ones) to each node in minikube.
With docker driver, I spin up 2 minikube node containers which need 4 cpu cores while using other apps such as chrome and terminal.
Total cpu usage exceeds my pc capacity but minikube still works properly.

[2022-05-14 07:17] afbjorklund commented on #14170
It is over-allocated, twice (or more).

The first time is when you start the Docker VM, then it uses a number of vCPU. Say that you start it with 4, then on your host you have 2 physical cores that are multi-threading into 4 execution threads. Normally one says that this will give a 130% increase at best (possibly up to 150%), not 200% that you could expect - like when adding more physical resourc

[2022-05-14 07:21] afbjorklund commented on #14170
Last KubeCon EU we held a presentation about it: (this year, it will be more about ARM and GUI)

https://kccnceu2021.sched.com/event/iE7w/minikube-and-three-different-local-kubernetes-learning-environments-anders-bjorklund-predrag-rogic

![minikube-environments](https://user-images.githubusercontent.com/10364051/168415404-ce1522ae-9321-4424-90b2-25d571c21177.png)

We normally pretend that "docker"

[2022-05-14 07:50] afbjorklund commented on #12826
It would still be interesting to see a dedicated Mac driver using virtualization.framework (like the old HyperKit driver)

But the QEMU driver is _also_ getting some real networking support, using the vmnet.framework (courtesy of lima).

[2022-05-14 07:53] afbjorklund commented on #14146
Naming: once the dust settles, the "qemu2" driver should be aliased as the "qemu" driver - similar to how the "kvm2" driver eventually overtook the original "kvm" driver. The forks are more an historical fact, and machine upstream is now dead.

[2022-05-14 08:02] afbjorklund commented on #14146
The QEMU2 driver is supposed to work on all three platforms, with hardware acceleration, but it needs more testing.
On Linux it uses KVM, on macOS it uses HVF and on Windows it uses WHPX. The qemu parameter is `-accel`.

[code]

[2022-05-14 11:25] hiroaki2020 commented on #14170
@afbjorklund Thank you for explaining in detail. This helps me a lot.

[2022-05-14 11:25] #14170 closed

[2022-05-14 11:26] afbjorklund commented on #14170
It probably should be described in the (advanced section of) documentation.

[2022-05-14 11:41] hiroaki2020 commented on #14170
That would be great.

Thank you for sharing additional info.

[2022-05-14 16:46] gonzojive commented on #1990
Please reopen.

[2022-05-15 02:29] medyagh opened #14171 "Qemu2 driver, Can not Start after a stop"
### What Happened?

I just tried Minikube Qemu driver on  M1, and it starts nicely, but when I stop and start it again it wont start again

[code]

@afbjorklund I suspect this is because the Random Port, here is the log of minikube start (after a stop)

### Attach the log file

14 19:26:26.976485  22066 api_server.go:256] stopped: https://localhost:64024/healthz: Get "https://localhost:64024/healt

[2022-05-15 08:00] afbjorklund commented on #14171
Yeah, there is some duplicated check here that doesn't start the ssh tunneling of the 8443 port properly.

This will get better when it is moved to the same place as the 22 port, so that it gets started with the vm.

[2022-05-15 12:23] #13179 closed

[2022-05-15 12:33] milinches commented on #12454
A

[2022-05-15 12:34] milinches commented on #12454
Any solution to this issue? Because, I'm facing the same issue here. 🥲

[2022-05-16 05:55] afbjorklund commented on #14171
But it did start ok (second time) on Linux, eventually

[2022-05-16 09:31] Sigty commented on #7903
sudo usermod -aG docker $USER && newgrp docker - easy way to add permissions for our user.

[2022-05-16 13:47] Neandril commented on #13375
Hi.
I have the same issue after installing noto color emoji.
Any advice ?

[2022-05-16 14:06] mgabeler-lee-6rs commented on #13726
I finally tracked this down to an error in my machine provisioning script that was racing with minikube to update `/etc/hosts` and always winning (and thus undoing minikube's edits).

[2022-05-16 14:06] #13726 closed

[2022-05-16 14:56] dineshsnkumar opened #14176 "Mac M1 , Qemu2 Driver Not found"
### What Happened?

I ran minikube using qemu2 driver but I am getting a PROVIDER_QEMU2_NOT_FOUND error

[code]
So I installed qemu using homebrew and now I am getting the following error

[code]

### Attach the log file

[code]

### Operating System

macOS (Default)

### Driver

N/A

[2022-05-16 15:22] afbjorklund commented on #14176
Please use text for the logs

Looks like an old qemu version was hardcoded, that will need to use the current version (7.0 ?)

[2022-05-16 17:06] travisn commented on #13945
When will this fix be released? It doesn't seem to be included in v1.26.0-beta.0. This is blocking our CI from running K8s 1.24. Thanks!

[2022-05-16 18:01] spowelljr commented on #13969
Just as a heads up, we released [1.26.0-beta.0](https://github.com/kubernetes/minikube/releases/tag/v1.26.0-beta.0) on Friday and that will return minikube to running `--extra-config=kubelet.housekeeping-interval=10s` by default on start so you don't have to manually do it.

In the case you do want to disable the metrics for improved CPU usage you can pass the `--disable-metrics` command on start.

[2022-05-16 18:47] dineshsnkumar commented on #14176
Sorry about using the image. I updated the post.

In homebrew the latest version of qemu is 6.2.0  so I tried to build the current version 7.0.0 from source code but I am having issues

[code]

[2022-05-16 19:47] sharifelgamal commented on #14176
6.2.0 is the correct version of qemu to install, it could be that the installation went to an unexpected location. I'm working on making firmware locations a bit more flexible.

[2022-05-16 19:48] sharifelgamal commented on #14171
Yeah, it takes a bit longer, but it does eventually start up. I tested on M1 as well.

[2022-05-16 20:47] sharifelgamal commented on #14176
What does `ls /opt/homebrew/Cellar/qemu` return for you?

[2022-05-16 20:58] dineshsnkumar commented on #14176
It lists the version of qemu

[code]

[2022-05-16 21:03] sharifelgamal commented on #14176
ok, so the source of the issue is in fact the hardcoded path, i'll get that fixed asap and it'll be in the next beta.

[2022-05-17 01:07] sharifelgamal commented on #14171
Yeah, so the source of the problem is that when there's an existing cluster we're restarting, we check of the api server is healthy or not. Since the config has the updated api server port, but hasn't done the tunneling yet (since that normally happens after everything in the cluster is up on first start), the check just times out over and over and fails. It's not a hard failure, since that causes

[2022-05-17 02:51] scubbo commented on #11107
+1 to the request for a note in the docs that this image might not work for everyone. I only happened to recognize the error log of `exec user process caused: exec format error` as being related to architecture issues from previous experience, we shouldn't assume newbies would be able to infer that.

(FWIW, I found that [`echoserver-arm:1.8`](https://console.cloud.google.com/gcr/images/google-cont

[2022-05-17 03:11] sharifelgamal commented on #14176
Try https://storage.googleapis.com/minikube-builds/14182/minikube-darwin-arm64 and see if that helps.

[2022-05-17 03:12] Oriho opened #14184 "Unable to connect to minikube"
### What Happened?

Please run `minikube logs --file=logs.txt` and attach logs.txt to the GitHub issue.

### Attach the log file

Please run `minikube logs --file=logs.txt` and attach logs.txt to the GitHub issue.

### Operating System

macbook

### Driver

_No response_

[2022-05-17 05:40] afbjorklund commented on #14171
Ah, so it was the self-destruct I was seeing

[2022-05-17 05:42] afbjorklund commented on #14176
Actually the 7.0 was not released yet, the problem here was that brew was outdated (missing some patches, in `6.2.0_1`)

The new more flexible location should be able to cope with both or all three, so that is a good fix to have either way.

[2022-05-17 06:18] afbjorklund commented on #13945
Seems like PR #13600 got stuck in review, will try to untangle

[2022-05-17 06:19] afbjorklund commented on #13375
Try uninstalling and installing the font, to make sure the cache is updated

[2022-05-17 06:23] soleimaniamir commented on #12454
@AmiteshDTU , @milinches
Add "C:\Windows\System32\WindowsPowerShell\v1.0" to user Environment Variable and check again.

[2022-05-17 11:42] Gimb0 commented on #13432
/assign

[2022-05-17 13:06] babreu-ncsa commented on #11193
None of the fixes here worked for me :/

[2022-05-17 13:10] redSlug opened #14185 "certificate apiserver-kubelet-client not signed by CA certificate"
### What Happened?

ran `minikube start` and encountered the certificate error

[code]

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8708507/logs.txt)

### Operating System

macOS (Default)

### Driver

N/A

[2022-05-17 13:15] nour-karoui commented on #11193
@babreu-ncsa can you share with us some screenshots or the error messages?

[2022-05-17 17:54] sharifelgamal commented on #14176
This looks to be several different issues, `docker-env` and `ingress` both work on my machine, so it might have something to do with the insecure registry parameters. This driver is still experimental so we don't expect everything to work right away. The registry addon just doesn't work on arm64 at all right now, due to the underlying image used not being multiarch.

The initial issue posted here

[2022-05-17 18:20] #14176 closed

[2022-05-17 19:07] #13788 closed

[2022-05-17 19:48] NikhilSharmaWe commented on #13487
/remove-lifecycle stale

[2022-05-17 20:21] #14171 closed

[2022-05-17 23:08] klaases commented on #14143
Hi @ChaseMor, would you be able to provide some additional detail? Based on the logs provided, we see the following error message (copied below).

In this case would you be able to help confirm whether a control plane component may have crashed?

- List all Kubernetes containers running in docker:
     - 'docker ps -a | grep kube | grep -v pause'
- If a container has failed, please post its logs w

[2022-05-17 23:58] ChaseMor commented on #14143
Some additional logs
https://gist.github.com/ChaseMor/9e5cfd3572cb0063b8c948afc05bf0eb

[2022-05-18 03:21] RA489 commented on #12677
/remove-lifecycle stale

[2022-05-18 03:22] RA489 commented on #10249
/remove-lifecycle rotten

[2022-05-18 03:23] RA489 commented on #11958
/remove-lifecycle rotten

[2022-05-18 03:23] RA489 commented on #12423
/remove-lifecycle rotten

[2022-05-18 03:23] RA489 commented on #12327
/remove-lifecycle rotten

[2022-05-18 03:32] NikhilSharmaWe commented on #13562
/remove-lifecycle stale

[2022-05-18 03:33] NikhilSharmaWe commented on #13562
@afbjorklund Could you please take a look at https://github.com/kubernetes/minikube/issues/13562#issuecomment-1032807885 and the PR made for this issue.

[2022-05-18 06:50] DiegoNovati commented on #9016
Apple M1 Pro here with the same error message:
❗ Because you are using a Docker driver on darwin, the terminal needs to be open to run it.

It seems that M1 cannot be used

[2022-05-18 10:34] leizhangcnnz commented on #11193
@nour-karoui
I tried with:

[code]

[2022-05-18 10:41] yoelgf opened #14189 "(CentOS Linux release 7.9) Minikube addons enable ingress ERROR"
minikube addons enable ingress

❌  Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]

</details>

**El resultado del comando `minikube logs`**: <details>

![Screenshot 2022-05-18 at 12 29 43](https://user-images.githubusercontent.com/9391553/169019592-a08f9c9f-1c1a-4786-afe7-c177064731bb.pn

[2022-05-18 10:47] babreu-ncsa commented on #11193
@nour-karoui thanks for asking! I felt like I should provide details, but since the issue is closed and there are so many examples, I just wanted to bring it back to life somehow. But yes, makes sense to post the details!
Start minikube:

[code]

Now here's my `helloworld` deployment:
[code]

Create it
[code]

verify pods
[code]

Now expose the deployment:
[code]

check

[code]

then hit it:

[cod

[2022-05-18 11:03] vedantmgoyal2009 opened #14190 "Publish releases to Windows Package Manager (WinGet)"
### What Happened?

With every new release of Minikube, use a GitHub workflow to update manifests at https://github.com/microsoft/winget-pkgs repository.

I can create a pull request if maintainers would like.

### Attach the log file

N/A

### Operating System

Windows

### Driver

N/A

[2022-05-18 11:36] nour-karoui commented on #11193
@leizhangcnnz  can you try --ports=31923:31923 (remove the 127.0.0.1)

[2022-05-18 13:04] redSlug commented on #14185
This error likely appeared because Docker Desktop had been disabled. I upgraded Docker Desktop and enabled it and now minikube is working.

I now understand a container or VM manager is required, https://minikube.sigs.k8s.io/docs/start/

[2022-05-18 13:14] Schoko19961 commented on #13717
I'm facing exactly the same issue as @devNaresh.
I followed this tutorial until the docker-compose part: https://itnext.io/goodbye-docker-desktop-hello-minikube-3649f2a1c469

No other configurations were made.
The command to start minikube is: `minikube start --driver=hyperkit --container-runtime=docker`
[code]

I want to connect the nodes to the cntlm running on the host machine as a next step, b

[2022-05-18 13:15] Schoko19961 commented on #13717
/reopen

[2022-05-18 13:53] BradKnowles commented on #14097
I tested the new documentation, but it did not seem to resolve the issue for me.

`minikube start --embed-certs`

[code]
[code]

I ran `minikube dashboard` to verify everything was green.

`kubectl get svc`

[code]

`minikube service hello-minikube --url`

[code]

I'm running in PowerShell 7.2.4 and this command failed since `Get-Process` doesn't have an `-ef` equivalent
`ps -ef | grep docker@127.

[2022-05-18 14:21] tsjk commented on #11510
minikube mount has the --ip parameter for this, no?
So, you could do
```minikube mount --ip ggrep -oP '(?<=\sinet\s)[0-9\.]+(?=\/)' < <(ip address show bridge100 2> /dev/null) ...```
where ip is from iproute2 and ggrep is GNU grep.

[2022-05-18 14:32] Madhan911 opened #14191 "❌ Exiting due to RUNTIME_ENABLE: sudo systemctl daemon-reload: exit status 1 stdout: stderr: System has not been booted with systemd as init system (PID 1). Can't operate."
### What Happened?

❌  Exiting due to RUNTIME_ENABLE: sudo systemctl daemon-reload: exit status 1
stdout:

stderr:
System has not been booted with systemd as init system (PID 1). Can't operate.

above error i am getting in linux , not able to resolve it

### Attach the log file

![image](https://user-images.githubusercontent.com/84218555/169066868-2dc1de74-dce9-4282-ad2e-89b5bebd2796.png)

### Ope

[2022-05-18 14:37] tsjk opened #14192 "IP of gateway should be dynamically detected"
### What Happened?

I recently migrated to minikube from a custom-built docker-machine setup (with a now ancient userland) on my macOS v10.15.7 (19H1824) system.
It all works well, with 9P, NFS and CIFS mounts all operating (I use all of them as different mounts work with different apps depending on the file locking required).
One of the immediate issues I had to solve however was to fix the /etc/

[2022-05-18 14:53] Schoko19961 opened #14193 "Ping to host.minikube.internal not working on Mac OS on Hyperkit"
### What Happened?

I followed this tutorial until the docker-compose part: https://itnext.io/goodbye-docker-desktop-hello-minikube-3649f2a1c469.
I'm working behind a proxy and for docker-compose I am trying to connect to a cntlm running on my host machine.  I try to connect via `host.minikube.internal` but can't reach it. Even when I remove all proxy configurations, I don't get a response from `h

[2022-05-18 14:55] Schoko19961 commented on #14193
/kind support

[2022-05-18 15:17] kosta1221 commented on #13510
Hi, I can confirm that running `minikube tunnel` works for me on m1 with the docker driver. Keep in mind that your `etc/hosts` file needs to map to 127.0.0.1, instead of the output of `minikube ip` or `kubectl get ingress` - this is an important gotcha.

[2022-05-18 17:12] tensorAI commented on #13550
I have a similar issue.

`
😄  minikube v1.25.2 on Ubuntu 20.04
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🏃  Updating the running docker "minikube" container ...
📦  Preparing Kubernetes v1.23.3 on containerd 1.4.12 ...
    ▪ kubelet.housekeeping-interval=5m
    ▪ kubelet.cni-conf-dir=/etc/cni/net.mk

[2022-05-18 17:20] denisok commented on #12360
https://github.com/kubernetes-csi/csi-driver-host-path could be a good solution option as it is already available in Addons.

But it also has the bug with permissions. I tried to:
- disable `storage-provisioner` addon
- install https://github.com/kubernetes-csi/csi-driver-host-path/tree/master/deploy/kubernetes-distributed with `deploy.sh`
- it indeed installs provisioner on all nodes
- `kubectl p

[2022-05-18 18:13] #7923 closed

[2022-05-18 18:15] spowelljr commented on #13956
Hi @capacitacionfv, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-05-18 18:15] #13956 closed

[2022-05-18 18:27] klaases commented on #13892
Hi @zhan9san, we currently allow for arguments and the configuration files. However, if we modify an `--extra-args` parameter, this might conceal some combination of arguments.

While this may add some convenience, we also find that it may add complexity.

1. Have you tried the config mechanism that was previously mentioned? This would be helpful in the sense that it allows for the arguments to be

[2022-05-18 18:35] spowelljr commented on #13893
Hi @alfhad, this is currently not a supported case, ideally in the future we would support this if we have the resources to implement it.

Here's a Slack thread about this question incase it provides some insight for you:
https://kubernetes.slack.com/archives/C1F5CT6Q1/p1618153463048100

[2022-05-18 18:35] klaases commented on #13841
Hi @anikmoz, did you have a chance to review the VPN documentation that was shared [above](https://github.com/kubernetes/minikube/issues/13841#issuecomment-1083477628)?

If so, did this help resolve the networking issue?

@viteksafronov, are you behind a firewall or VPN? If so, the may be able to be resolved by reviewing the VPN settings. If not, it might make more sense to file this as a separate

[2022-05-18 18:37] sharifelgamal commented on #13267
I can definitely reproduce this on macOS with the docker driver and crio runtime. Looking at https://github.com/kubernetes-sigs/kind/issues/2058, it looks like a runc version problem more than anything.

[2022-05-18 18:37] spowelljr commented on #13767
Hi @fsantoyo01, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-05-18 18:37] #13767 closed

[2022-05-18 18:39] spowelljr commented on #13509
@nagnampalli @siikanen @floka94 Can any of you confirm if updating to minikube v1.25.0 resolves this issue?

[2022-05-18 18:42] spowelljr commented on #13350
The core minikube team doesn't support the Alibaba mirror, we're hoping to have control over it in the future, but as for now it's maintained at a best effort basis by external contributors.

[2022-05-18 18:43] spowelljr commented on #13146
Hi @Awot83, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-05-18 18:43] #13146 closed

[2022-05-18 18:43] klaases commented on #13823
Hi @hnviradiya, for clarification, the `minikube tunnel` command will need to be run in a separate terminal window than the one you are working in.

Similar to SSH tunneling, the tunnel itself is a process that continues to run during the duration of the connection. If this process is stopped to run another command, then the tunnel will no longer be working.

Does this help get things working?

[2022-05-18 18:44] sharifelgamal commented on #13729
Having a static IP on by default is useful so minikube can survive things like the user's laptop going to sleep and the like. It seems like the issue is less about minikube assigning a static IP and how the static IP is determined. Getting rid of the feature isn't the answer, but fixing it is definitely a good option.

[2022-05-18 18:44] klaases commented on #13769
Hi @[amiros2018](https://github.com/amiros2018) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exa

[2022-05-18 18:44] #13769 closed

[2022-05-18 18:45] klaases commented on #13745
Hi @[SATVIk-7](https://github.com/SATVIk-7) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact m

[2022-05-18 18:45] #13745 closed

[2022-05-18 18:45] klaases commented on #13742
Hi @[zjgemi](https://github.com/zjgemi) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minik

[2022-05-18 18:47] klaases commented on #13733
Hi @[yuandongx](https://github.com/yuandongx) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact

[2022-05-18 18:47] #13733 closed

[2022-05-18 18:47] sharifelgamal commented on #13753
It seems like the environment you're working in just doesn't support use of the docker driver currently? Would using a VM driver be possible here?

[2022-05-18 18:51] sharifelgamal commented on #13897
@lazydream could you provide the detailed minikube logs with `minikube logs --file=logs.txt`. It'll help us figure out why hyperkit is hanging.

[2022-05-18 18:52] klaases commented on #13505
Hi @[JustinT01](https://github.com/JustinT01), could you help us understand your use case for Keptn in a little more detail?

I checked the following [support documentation from Keptn](https://keptn.sh/docs/0.9.x/operate/k8s_support/), but not see a specific limitation for minikube version.

Additionally (if possible) would you mind updating to a more recent version of minikube? Our resources are

[2022-05-18 18:54] spowelljr commented on #14082
Hi @KanikaBishnoi, thanks for reporting your issue with minikube!

You're using minikube v1.15.1 which is very old, please update to minikube v1.25.2, run `minikube delete --all --purge` and then try starting minikube again and see if that resolves your issue, thanks!

[2022-05-18 18:57] sharifelgamal commented on #9991
The minikube maintainers don't currently have the bandwidth to work on this feature, but it's still a cool idea! I'll add the help wanted label and would be happy to look at a PR.

[2022-05-18 19:03] klaases commented on #12635
Hi @tidunguyen, would you be able to give @rajdas98's PR https://github.com/kubernetes/minikube/pull/12644 a try?

It would be helpful to see if this helps resolve the issue.

[2022-05-18 20:38] victor-sudakov commented on #11947
/remove-lifecycle stale

[2022-05-18 20:54] sharifelgamal commented on #13492
Interesting, have you tried running `minikube delete` and `minikube start` again? It seems strange that minikube can't find hyperkit.

[2022-05-18 22:49] leizhangcnnz commented on #11193
@nour-karoui still failing.
[code]

[2022-05-18 22:49] spowelljr commented on #14184
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-05-19 03:24] zhan9san commented on #11193
@babreu-ncsa

It is expected. I don't think the `external IP` can be generated if the service type is `NodePort`

Instead, if the service type is `LoadBalancer`, `ingress` add-on is enabled and tunnel is created, the `external IP` would be generated.

The #13806 is merged recently.

* NodePort: [nodeport-access](https://minikube.sigs.k8s.io/docs/handbook/accessing/#nodeport-access)
* LoadBalancer:

[2022-05-19 03:39] zhan9san commented on #13892
@klaases

Thanks for your update. Please allow me to recap the issue.

I know the `config mechanism`, but it's a different scenario.

The key point is for how to implement new features in Minikube.

Assume features list in the first column is not supported in Minikube.

Let us compare how Minikube implement them with `--extra-args` and without `--extra-args`.

As we can see, if `--extra-args` is s

[2022-05-19 04:56] blacksd commented on #11510
@tsjk that would probably do it, but I don't think it's something we can require from a user (installing GNU grep, detecting the actual bridge device...)

[2022-05-19 06:41] tsjk commented on #11510
@blacksd Ok. I do exactly this, however. I agree that it's not something I'd expect from the average user, but then again - would the average user have an altered dhcpd scope? Sometimes it's easier to educate the user than giving confusing advice. E.g. "Disable your VPN", which the more knowledgeable user needs spend time on decoding to "If you have something routable on the same network address a

[2022-05-19 09:01] blacksd commented on #11510
@tsjk totally agree on the advanced detection performed by `minikube mount` - that would make the "issue" effectively transparent. I'd be happy to contribute to this.
Also, as I pointed out a few times in the previous comments, I see this case getting more and more recurring as developers are shifting from Docker Desktop to different Hyperkit-based solutions (evaluating different solutions will ge

[2022-05-19 09:25] byteshiva commented on #13753
It works fine with VirtualBox as  VM driver but fails to work with rocker containers

[2022-05-19 10:10] Ka0o0 commented on #13627
/remove-lifecycle stale

[2022-05-19 12:29] babreu-ncsa commented on #11193
@zhan9san thanks for your comment! Unfortunately, none of these is working for me. Here are the details.

## NodePort

[code]

[code]

[code]

[code]

[code]

[code]

**Different terminal**

[code]

http://127.0.0.1:8080/61983 (and 8080) give "connection reset".

[code]

http://127.0.0.1:8080/30818 also gives connection reset.

## LoadBalancer
[code]

[code]

**Terminal 2**
[code]

**Terminal 1**

[2022-05-19 14:21] zhan9san commented on #11193
@babreu-ncsa

The image in doc, `k8s.gcr.io/echoserver:1.4` exposed port is `8080`, so we expose `8080`.

But for your own image, the service exposed port is `80`, and you expose 8080.

[code]

### For NodePort

`kubectl expose deployment helloworld --type=NodePort --port=80`

### For LoadBalancer

`kubectl expose deployment helloworld --type= LoadBalancer --port=80`

[2022-05-19 14:29] babreu-ncsa commented on #11193
Thanks again, @zhan9san ! I didn't notice that and it's probably due to my lack of Kubernetes knowledge. Which is the reason why I'm doing helloworld...
It looks like it sort of worked, but now I get a security connection failed message

![image](https://user-images.githubusercontent.com/84105092/169319700-4d40a25c-4502-483d-a6c9-208a43721e16.png)

Do you have any insights? I appreciate your time!

[2022-05-19 14:41] zhan9san commented on #11193
I am not sure you have to use `https`.

Could you tried `http` like doc says.

[2022-05-19 14:48] babreu-ncsa commented on #11193
@zhan9san fantastic!! It worked!! Thank you very much!!

[2022-05-19 19:32] spowelljr commented on #14128
This has to do with the `--force-systemd` flag, which is enabled by default on Cloud Shell.

Starting v1.24 without the flag works fine on my Mac, but when I pass the flag in I get:
[code]

@medyagh, I think you tested this without the `--force-systemd` flag because when I run `systemctl status cri-docker` I get:
[code]
And `ls`ing returns that the socket doesn't exist

[2022-05-19 19:46] spowelljr commented on #14128
As a follow up, the only difference with `--force-systemd` is the following:
[code]
I tried commenting out `r.forceSystemd()` and it still failed, so then I commented out `r.Init.Restart("docker")` and then it worked, so it's something to do with restarting Docker.

[2022-05-19 22:00] #12654 closed

[2022-05-19 22:28] kadern0 commented on #14189
Hola @yoelgf, para poder entender cuál es la causa del problema es necesario que adjuntes los dos ficheros que se especifican en ese error: `logs.txt` y `/tmp/minikube_addons_cb9f....*.log`.

[2022-05-19 23:27] spowelljr commented on #12276
[code]
So... Do we enable it?

[2022-05-19 23:33] tetianakravchenko commented on #13267
@sharifelgamal did you fix the issue on MacOS somehow?

[2022-05-20 05:23] afbjorklund commented on #14128
There is a `cri-docker.socket`, that is supposed to create the file - and hand it over to `cri-docker.service` when requested.

However, that _only_ works with systemd - so if you have a weird system like cloud-shell (without it), then it would fail.

It is related to how we handle "docker.socket", there needs to be a fallback to work with other init systems #12276

If they _don't_ support socket

[2022-05-20 05:26] afbjorklund commented on #14191
This is related to #12276, it needs to stop calling `systemctl` on systems that are not running systemd - such as this WSL

[2022-05-20 05:28] afbjorklund commented on #14149
Fixed:
* #14152

[2022-05-20 05:28] #14149 closed

[2022-05-20 05:34] afbjorklund opened #14198 "[kicbase] Proposal: install podman from binary tgz, not from deb"
The packages we are using for podman are not supported anymore, upstream.

The latest release is 3.4.2, while source releases exist for 3.4.3 through 3.4.7

https://github.com/containers/podman/releases

So need to stop using "Kubic", and instead build and install from a binary tarball.

----

Unfortunately this also involves a _bunch_ of other support packages:

[code]

[code]

* #11327

[2022-05-20 05:38] afbjorklund commented on #13892
This is both a pro and a con, less "typing" of arguments also means more chance of breakage by not checking them.

It is similar to a programming language, where you have named parameters ("args") and pass in dictionaries ("kwargs")

[2022-05-20 05:41] afbjorklund commented on #14198
We can leave the cri-o packages (for now), even if they do have their share of problems:

* #14140

[2022-05-20 05:42] afbjorklund commented on #14198
Preferrably this installation should be made separate from the image, and just "cached":

* #9989

[2022-05-20 05:48] afbjorklund commented on #14080
Closing as duplicate, just update the hash if it happens to you (again)

[2022-05-20 05:48] #14080 closed

[2022-05-20 10:29] willzhang commented on #3417
same when use csi-driver-nfs

https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/deploy/example/nfs-provisioner/README.md
[code]

[2022-05-20 15:48] spowelljr commented on #14128
I found the error, if `--force-systemd` was passed we were returning before enabling and starting the CRI service.

[2022-05-20 16:23] nrb commented on #11510
I agree that minikube should detect this, but a work around I've found for discovering the host IP without messing with the Hyperkit bridges is:

[code]

Using `nslookup` to get the IP within the minikube VM fails because there's not a valid search server. It'll get you the IP, but also return an error code of 1. Reading `resolv.conf` within the minikube VM seems to be the most consistent method I

[2022-05-20 16:58] tidunguyen commented on #12635
Hi @rajdas98 and @klaases, I tried the PR and seems like the problem still persist.
<details>
  <summary>Here are some logs:</summary>

❯ ./out/minikube start -p profile-a
😄  [profile-a] minikube v1.25.1 on Ubuntu 21.10 (amd64)
✨  Automatically selected the docker driver. Other choices: none, ssh
👍  Starting control plane node profile-a in cluster profile-a
🚜  Pulling base image ...
🔥  Creating do

[2022-05-20 19:19] tsjk commented on #11510
That's nice. But you might as well ask systemd for the gateway if you want to do it from within the VM. Like
[code]
That has the upside of assuming nothing about the host environment except being able to run an sh statement.

[2022-05-20 22:55] pr1malc0de commented on #6296
I dont have a VPN (no vpn installed ever). I get This VM is having trouble accessing https://k8s.gcr.io using hyper kit driver, any hope this can be resolved or is hyperkit driver no longer supported?

[2022-05-21 02:45] jessesaga opened #14201 "podman-remote fails on Fedora 36"
### What Happened?

On Fedora 36 with podman 4.1.0 podman-remote fails with the following error

Error: unable to connect to Podman socket: server API version is too old. Client "4.0.0" server "3.4.2"

### Attach the log file

*
* ==> Audit <==
* |------------|--------------------------------|----------|----------|----------------|-------------------------------|-------------------------------|
|

[2022-05-21 06:57] afbjorklund commented on #14201
If you want to use `minikube podman-env`, you need to use a client matching the server...

Alternatively you can run without client/server, using `minikube ssh sudo podman` instead.

[2022-05-21 09:32] prakharporwal opened #14202 "minikube on driver docker not running using docker desktop vm"
### What Happened?

- I run `minikube start`
I get above logs.

![image](https://user-images.githubusercontent.com/49529937/169645450-a18d8edd-ce2d-4f16-a060-77df5372bedd.png)

I have tried multiple times
I tried with driver virtualbox but failes because virtual box and docker desktop cannot run together ( because 2 VM cannot run together on Ubuntu)

`minikube status` gives this

![image](https://

[2022-05-21 10:35] afbjorklund commented on #14202
I don't think Docker Desktop (VM) has bern tested on Ubuntu, only Docker Engine...

[2022-05-21 12:22] prakharporwal commented on #14202
Is it possible to give some fix for now from minikube end ?

[2022-05-21 13:25] jessesaga commented on #14201
Right. I just figured it was worth noting that the version of podman that ships with Fedora 36 exhibits this issue with the current versions of minikube including v1.26.0-beta.1. I've already worked around the issue but I was surprised when I upgraded from Fedora 35 and things started failing.

[2022-05-21 21:18] #12104 closed

[2022-05-22 05:44] tzuf-illumex opened #14203 "More than one tunnel is running"
### What Happened?

While trying to connect minikube it showed the error : "another tunnel is already running, shut it down first..."
ministop & restart did not seem to work.

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8748842/logs.txt)

### Operating System

Other

### Driver

_No response_

[2022-05-22 07:07] SebDanielsson commented on #9762
/remove

[2022-05-22 08:02] KAKALZF commented on #14189
I also met the same quetion

[2022-05-22 08:54] SebDanielsson commented on #12926
/remove

[2022-05-22 09:28] tsjk commented on #9516
This is still reproducible, and might scare new users. I have in my helper script for my colleagues piped ```minikube stop``` to ```NUL``` and then inserted an explicit check of whether the VM is gone.

[2022-05-22 09:41] afbjorklund commented on #14201
Unlike Docker, the Podman client is not backwards compatible. So the versions needs to match.

[2022-05-22 12:44] fdfytr opened #14204 "Cannot open dashboard"
### What Happened?

I'm using minikube on Debian 11 server and do not see dashboard
minikubes creates proxy and link but webpage is empty
Tried different browsers

there is a bridge network assigned and it looks like podman created a separate one
Not sure if that may be the reason

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/8749420/log.txt)

### Operating Syste

[2022-05-22 13:40] afbjorklund commented on #14204
Minikube creates a private bridge for the cluster, and it should be reachable from the kubectl proxy.

`minikube kubectl cluster-info`

[2022-05-22 14:01] jessesaga commented on #14201
Understood. I'll close this ticket since it's more of a podman issue and minikube can't really be expected so support all incompatible podman versions.

It might be worth adding some language to the documentation around minikube and podman to mention the podman version sensitivity. https://minikube.sigs.k8s.io/docs/drivers/podman/

[2022-05-22 14:01] #14201 closed

[2022-05-22 15:19] afbjorklund commented on #14201
You can also use `minikube image`, which is compatible with all runtimes and all versions.

Eventually the legacy "docker-env" and "Podman-env" will not be needed anymore...

[2022-05-22 15:21] afbjorklund commented on #14201
Note that it is not related to the driver, but to the runtime...

The host runtime can be newer, than the cluster runtime

[2022-05-22 16:25] fdfytr commented on #14204
Verifying dashboard health ...
🚀  Launching proxy ...
🤔  Verifying proxy health ...
🎉  Opening http://127.0.0.1:42963/api/v1/namespaces/kubernetes-dashboard/services/http:kubernetes-dashboard:/proxy/ in your default browser...
👉  http://127.0.0.1:42963/api/v1/namespaces/kubernetes-dashboard/services/http:kubernetes-dashboard:/proxy/

controlpanel https://192.168.49.2:8443 is not accessible

is fir

[2022-05-22 17:03] afbjorklund commented on #14204
The exact network can vary, but it should output yours (you can also check `podman network inspect`)

[2022-05-22 17:21] robsonazevdo opened #14205 "Please run `minikube logs --file=logs.txt` and attach logs.txt to the GitHub issue."
 
**Os comandos necessários para reproduzir o problema**:
 
**A saída completa do comando que apresentou falha**: <details>

</details>

**A saída do comando `minikube logs`**:<details>

</details>

**A versão do sistema operacional usado**:

[2022-05-22 18:57] pre opened #14206 "Minikube image load on MacOS will cache an arm64 image even though minikube vm runs with qemu as amd64"
### What Happened?

Minikube VM runs on `amd64` cpu architecture with qemu and container images should also be of that cpu arch.

With MacOS M1 `arm64`, when preloading images to cache with `minikube image load`, the cached image will be of `arm64`. As a result, the preloaded cached image cannot be used by the container which requires platform `amd64`.

Steps to reproduce:

[code]

### Attach the

[2022-05-22 19:17] afbjorklund commented on #14206
Minikube is supposed to use the native architecture for the VM, and therefore also by default for the container images.

It _should_ be possible to run images from other platforms with qemu-user, but not sure if binfmt_misc is always set up ?

[2022-05-22 19:32] afbjorklund commented on #14206
Need to make "defaultPlatform" into a overridable parameter.

[code]

[2022-05-22 19:45] KakoozaJerry opened #14207 "Exiting due to GUEST_START: error on running minikube start"
### What Happened?

On running minikube start on my macbook m1 2020, I get the error below

### Attach the log file

 minikube v1.25.2 on Darwin 12.3.1 (arm64)
    ▪ KUBECONFIG=/etc/kubernetes/admin.conf
✨  Automatically selected the docker driver
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🔥  Creating docker container (CPUs=2, Memory=1988MB) ...
🐳  Prepar

[2022-05-22 20:06] afbjorklund commented on #14207
Normally the KUBECONFIG is in your home directory, less permission errors that way.

[2022-05-22 20:47] pre commented on #14206
in my use case I have Docker Desktop with —driver=docker. Docker runs with qemu and is slow, of course, but the images are amd64. In this use case many components we need are not compatible with arm64.

Being able to provide `—platform` to `minikube image load` would help in this case.

[2022-05-22 21:06] KakoozaJerry commented on #14207
I enabled Kubernetes on my docker and also ran this command below in `~/.kube/config`

[code]

Seemed to have solved my error

[2022-05-22 21:06] #14207 closed

[2022-05-23 02:18] thayashi88 opened #14208 "failed on "minikube start""
### What Happened?

1. docker is running  on my Windows10(See attached logs.txt for the detail)
2. minikube was installed with minikube-installer.exe.
3. failed on "minikube start"(See attached logs.txt for the detail)
   ** stderr **
   The connection to the server localhost:8443 was refused - did you specify the right host or port?
   finished with cause of X GUEST_START:

[versions]
docker:
PS

[2022-05-23 05:39] afbjorklund commented on #14206
Running with qemu-user when absolutely required is still faster than running everything (including kernel) with qemu-system.

So it should be supported, and the cache now has arch subdirectories so storage should not be an issue. Just the --platform.

[2022-05-23 07:48] thayashi88 commented on #14208
Kubernetes deprecated docker driver on and after version1.20. So I succeeded to start minikube like the next command.
minikube start --driver=hyperv

[2022-05-23 07:48] #14208 closed

[2022-05-23 13:07] davenarc opened #14211 "Mounting local directory to minikube post error : Process exited with status 32"
### What Happened?

[stderr-logs.txt](https://github.com/kubernetes/minikube/files/8754685/stderr-logs.txt)

When mounting the local directory to minikube via "minikube mount /test:/test" the following error pops up

Exiting due to GUEST_MOUNT: mount with cmd /bin/bash -c "sudo mount -t 9p -o dfltgid=$(grep ^docker: /etc/group | cut -d: -f3),dfltuid=$(id -u docker),msize=262144,port=36963,trans=tc

[2022-05-23 14:00] JakhongirAlimov opened #14212 "i have this kind of issue but i did everything by instructions on websyte"
Starting control plane node minikube in cluster minikube
* Creating virtualbox VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...
! StartHost failed, but will try again: creating host: create: precreate: This computer doesn't have VT-X/AMD-v enabled. Enabling it in the BIOS is mandatory
* Creating virtualbox VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...
* Failed to start virtualbox VM. Running "minikube

[2022-05-23 14:01] JakhongirAlimov opened #14213 "i have this kind of issue but i did everything by instructions on websyte"
StartHost failed, but will try again: creating host: create: precreate: This computer doesn't have VT-X/AMD-v enabled. Enabling it in the BIOS is mandatory
* Creating virtualbox VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...

[2022-05-23 14:25] aarzhanov opened #14214 "minikube SSH driver + Apple M1 not working. The minikube does not check the OS of the target VM."
### What Happened?

I am trying to start minikube on Apple M1 with x86_64 Ubuntu 20.04 target VM (SSH driver).

The process ends with an error:
`error: /var/lib/minikube/binaries/v1.19.12/kubeadm: 1: Syntax error: “)” unexpected`

I found the reason for the error.
The minikube is copied to the **remote x86_64 machine** in directory "/var/lib/minikube/binaries/v*/" and in directory "/var/lib/miniku

[2022-05-23 16:56] spowelljr commented on #13566
Hi @jayzhan211, if you're having trouble with the `stop` and `delete` commands please open a new issue detailing the issue/error, thanks!

[2022-05-23 22:15] haykeminyan opened #14220 "Error while launching minikube"
### What Happened?

After executing command "minikube start" I got such message:

Failed to start docker container. Running "minikube delete" may fix it: provision: Temporary Error: error getting ip during provisioning: IPs output should only be one line, got 2 lines

OS: Arch Linux

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8758336/logs.txt)

### Operating S

[2022-05-23 22:31] kadern0 commented on #14189
@KAKALZF, if you are facing the same problem, could you please attach the logs to this issue?

[2022-05-24 01:00] loyaltytrooper commented on #14202
Yes I am also getting the same error

![image](https://user-images.githubusercontent.com/89660252/169927608-64b43dd0-36bc-4af9-83e9-3ebeb5398abf.png)

[2022-05-24 05:17] afbjorklund commented on #14202
Please use text instead of images.

[2022-05-24 10:23] hdava commented on #14067
I'm facing the same issue.

I've tried doing `minikube delete --all --purge` multiple times, but it didn't solve the problem.

[2022-05-24 13:53] guresonur commented on #14220
@haykeminyan,
just wondering how your docker config.json file looks like , can you share your ~/.docker/config.json file?

also can you share output of following comand, might worth to check how minikube container looks like? ;
`docker inspect $(docker ps -a | grep minikube | awk '{print $1}')`

to restore your issue, did you try to ;
1. delete your minikube cluster
2. remove all minikube containe

[2022-05-24 14:09] #13897 closed

[2022-05-24 15:37] rprodan opened #14222 "Very slow startup and shutdown of Minikube VM instance"
### What Happened?

I am observing tremendously slow startup and shutdown phase of Minikube instance. I installed fresh **Minikube v1.25.2** on **Microsoft Windows 10** Enterprise LTSC 2019 10.0.17763 Build 17763 and **VirtualBox** 6.1.34. I am using **virtualbox** driver.

Startup command

`minikube start --no-vtx-check --alsologtostderr --v=1`

The above command takes up approx. 7 minutes and mo

[2022-05-24 19:44] spowelljr opened #14224 "automate gotestsum version update"

[2022-05-24 20:06] awoimbee commented on #2162
Would an implementation that only works with systemd-resolved be accepted ? It would make everything way simpler to support only one backend.
Then I wonder what's best (easiest, most secure) between [using the dbus interface](https://github.com/jonathanio/update-systemd-resolved) or just editing a file like `/etc/systemd/resolved.conf.d/kube-dns.conf`.
To me it seems like the best place to put all

[2022-05-24 20:17] aarzhanov commented on #14214
I found a temporary solution.
I run the minikube x86_64 through Rosetta 2.
In this case, the necessary x86_64 files will be copied to the target ssh vm.

[2022-05-24 20:54] #14224 closed

[2022-05-25 01:55] AkihiroSuda commented on #11327
We have containerd 1.6 dpkgs now, so no need to use tgz atm

[2022-05-25 01:55] #11327 closed

[2022-05-25 02:19] peteliu66 commented on #13996
可以在启动minikube的时候通过参数，修改镜像仓库：
`$minikube start --cache-image=true --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers`

[2022-05-25 05:59] afbjorklund commented on #14198
Don't _really_ want to build tarballs, so the first step would be to try to rebuild and host the podman packages.

[2022-05-25 09:21] ilyazr commented on #14067
Same problem.
@silentknight2001 @hdava were you able to solve this issue?

[2022-05-25 18:19] spowelljr commented on #13287
Hi @rameshkumar5155, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-05-25 18:19] #13287 closed

[2022-05-25 18:20] klaases commented on #14095
Hi @Ram7378 – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2022-05-25 18:20] #14095 closed

[2022-05-25 18:20] spowelljr commented on #14004
Hi @brahama, I believe this resolved your issue so I'm going to close this issue, but if you have further questions feel free o respond and reopen this issue, thanks!

[2022-05-25 18:20] #14004 closed

[2022-05-25 18:20] klaases commented on #13786
Hi @[rajeshkodali](https://github.com/rajeshkodali) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The

[2022-05-25 18:20] #13786 closed

[2022-05-25 18:23] klaases commented on #13774
Hi @[kkume1](https://github.com/kkume1) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minik

[2022-05-25 18:39] klaases commented on #11440
Hi @[Gilwe](https://github.com/Gilwe) – the following article "[How to Access Host Resources in Minikube Pods?](https://hugomartins.io/essays/2019/12/access-host-resources-minikube/)" may offer some guidance, in specific, this command may help:

`$ minikube ssh "route -n | grep ^0.0.0.0 | awk '{ print \$2 }'"`

Please let us know if this help resolve the issue.

[2022-05-25 18:54] sharifelgamal commented on #12755
I would love help with documentation PRs like this. I'd be willing to review a PR that fixes this.

[2022-05-25 18:56] sharifelgamal commented on #13019
This error just means you do not have VBoxManage in your PATH, which means it was not installed correctly.

[2022-05-25 18:57] spowelljr commented on #13296
Hi @dsosale, thanks for reporting your issue with minikube. I tried to replicate what you were experience and I believe it's related to the image you're using itself. Could you try using the commands below and let me know if that works for you.
[code]

That works for me, but when I try using the image `nginx:mainline-alpine` instead of `k8s.gcr.io/echoserver:1.4` it doesn't work for me, so I think

[2022-05-25 18:58] sharifelgamal commented on #13067
I wonder if `minikube tunnel` would help with the ingress-dns addon for the docker driver, it certainly helps with the ingress addon.

[2022-05-25 18:59] klaases commented on #13432
Hi @[afbjorklund](https://github.com/afbjorklund), would you mind taking a look at [Gimb0](https://github.com/Gimb0)'s [PR](https://github.com/kubernetes/minikube/pull/14200) to see if this helps display the container runtime data that you were looking for?

[2022-05-25 19:08] klaases commented on #14041
Hi @Ruitjes, the change that @zhan9san proposed has now been merged into the minikube codebase. While they code may not yet be a part the latest minikube release, you can still pull the latest minikube code to test out new features.

Would you be able to test out whether @zhan9san's PR helped resolve the issue?

[2022-05-25 19:10] klaases commented on #13642
Hi @panktrip, have you tried running `minikube delete --all` to see if this helps?

Also, would you be able to respond to @shubham-cmyk inquiry regarding virtualization?

[2022-05-25 19:28] afbjorklund opened #14228 "Katacoda platform hosting "hello minikube" could use open alternatives"
The docs are running a "none" driver installation:

https://kubernetes.io/docs/tutorials/hello-minikube/

It is closing: https://www.oreilly.com/online-learning/leveraging-katacoda-technology.html

It would be nice if people could still run a minikube-based solution, for learning kubernetes ?

----

Document how to use minikube, in such an environment:

* https://github.com/kubernetes/website/issu

[2022-05-25 19:34] afbjorklund commented on #14228
[code]

[2022-05-25 19:42] afbjorklund commented on #14228
Here are some hacks, using vagrant: (it could be changed, to use the "none" driver instead of the "ssh" driver)

* ~~ https://github.com/kubernetes/minikube/pull/12185~~

Eventually the efforts to run kubernetes with containerd and with ubuntu were moved to "lima" project instead:

https://github.com/lima-vm/lima/blob/master/examples/k8s.yaml

* ~~https://github.com/kubernetes/minikube/issues/9639

[2022-05-25 21:05] petiepooo commented on #12946
I think there may be a simpler solution.  Multipass (v1.9.0) includes hyperkit under /Library/Application Support/com.canonical.multipass/bin.  I tried creating a symlink for it in /usr/local/bin, and starting minikube, but it exits with the following failure:

parse date: parsing time "40cbd5" as "20060102": cannot parse "d5" as "2006"

Looking at https://github.com/moby/hyperkit/tags shows that

[2022-05-25 21:47] petiepooo commented on #12946
it has been a couple of years since a version of hyperkit that doesn't work has been released, and it looks like they have since changed the way they print version information.  Would it make sense to simply revert fcbf4d1b4daac627cc3a7964c69e326c1a78fb52 ?

[2022-05-26 16:09] zhan9san commented on #14041
Could you plz provide a minimal reproducible example?

[2022-05-26 16:27] wankowatat opened #14231 "X Exiting due to HOST_VIRT_UNAVAILABLE: Failed to start host: creating host: create: precreate: This computer doesn't have VT-X/AMD-v enabled. Enabling it in the BIOS is mandatory"

[2022-05-26 22:36] jsattler commented on #14041
I'm basically following the steps provided at https://minikube.sigs.k8s.io/docs/handbook/accessing/ with the following setup:

[code]

OS version
[code]
Docker installed via homebrew

[code]

Starting `minikube` with the following output:

[code]

Then I follow the steps provided here https://minikube.sigs.k8s.io/docs/handbook/accessing/#example-of-nodeport with the following output (only differen

[2022-05-26 23:03] spowelljr opened #14232 "Skipping `TestSkaffold` on Hyper-V"
`TestSkaffold` on Hyper-V is failing with the following error:
[code]

This is a known issue (https://github.com/docker/cli/issues/2682) outside of our control.
tl;dr: `You cannot Docker login via an elevated shell depending on your environment as it appears the credentials don't get passed through`

And with our CI flow we SSH into the Windows machine which starts us in elevated permission and tr

[2022-05-26 23:51] pelcasandra commented on #13717
Same problem is also happening to me.

[2022-05-27 02:10] zhan9san commented on #14041
I have doubts about your steps.

The next step of `Run service tunnel`(`minikube service hello-minikube --url` is `Check ssh tunnel in another terminal` to get `TUNNEL_PORT `.

It is different from what you did. We can access it via `TUNNEL_PORT` instead of `nodePort` you tried.

Could you try it https://minikube.sigs.k8s.io/docs/handbook/accessing/?

[2022-05-27 06:15] te-simonren opened #14234 "Add bind address with `minikube tunnel` command"
The `minikube tunnel` command should have an option for `bind-address'.

`minikube tunnel` bind service and ingress with same port on localhost interface, in develop envrionment, such port sometimes has been bond by other program, especially for `80:http` and `443:https`.
I used to make interface alias so that I can seperate network for different work, for example:
[code]
I use `10.0.0.101` interf

[2022-05-27 06:38] jsattler commented on #14041
Sorry for that, I mixed up tunnel and node port. After replacing the node port with the tunnel port it worked as you've documented. Thanks for your help and sorry for the confusion.

[2022-05-27 10:41] attila123 opened #14235 "minikube service <svc> documentation outdated, no way to undo its effect?"
### What Happened?

As per https://minikube.sigs.k8s.io/docs/handbook/accessing/ I wanted to make a NodePort service accessible, e.g. `minikube service <svc> --url`

I get it working (on Linux host), `minikube service list` shows it, but now how can I undo this?

The documentation does not provide any hint how to make the service inaccessible again, so how to undo the effect of `minikube service <

[2022-05-27 11:57] Rabattkarte commented on #14228
One alternative is killercoda.com

[2022-05-27 12:34] juneciel510 opened #14236 "error when running "minikube start --driver=docker""
### What Happened?

stderr:
        [WARNING FileContent--proc-sys-net-bridge-bridge-nf-call-iptables]: /proc/sys/net/bridge/bridge-nf-call-iptables does not exist
        [WARNING Swap]: swap is enabled; production deployments should disable swap unless testing the NodeSwap feature gate of the kubelet
        [WARNING Service-Kubelet]: kubelet service is not enabled, please run 'systemctl enable

[2022-05-27 13:15] afbjorklund commented on #14228
I _think_ this is the scenario, the image source code and the licensing is unclear.

https://github.com/katacoda-scenarios/kubernetes-bootcamp-scenarios

[2022-05-27 13:46] cornfeedhobo commented on #13356
For anyone following this, I decided to move to Rancher Desktop. That team seems more focused on end-user experience and development lifecycle. Thanks everyone.

[2022-05-27 14:02] afbjorklund commented on #14228
Here is vagrant file that handles most things, except for the storage provisioner (automount):

[code]

After doing `vagrant up`, one can do `vagrant ssh` and see the scary output from the default:

[code]

Missing:

* storage provisioner automount script
* kubernetes dashboard and metrics-server

[2022-05-27 14:16] afbjorklund commented on #14228
Note that the above will break with v1.24.0, since it doesn't install `crictl` and `cri-dockerd`.

It also doesn't install a CNI configuration, so it doesn't work with any other container runtimes.

[2022-05-27 15:32] afbjorklund commented on #14228
This extra information in the output is not particularly helpful:

🤹  Configuring local host environment ...
❗  The 'none' driver is designed for experts who need to integrate with an existing VM
💡  Most users should use the newer 'docker' driver instead, which does not require root!
📘  For more information, see: https://minikube.sigs.k8s.io/docs/reference/drivers/none/

❗  kubectl and minikube co

[2022-05-27 18:03] Monte-Christo commented on #11147
Had the same issue on Win 10 Enterprise. When I switched from Admin PowerShell to Admin Cmd Shell, the command completed without any fuss. Go figure.

[2022-05-27 18:53] #12725 closed

[2022-05-27 19:45] warent commented on #3647
FYI for anyone wondering I found a way to accomplish something similar and more permanently using loadbalancers.

First, you want to get the IP address to the cluster using `minikube profile list`, and then plug that into your k8s service using the `externalIPs` property, like so:

[code]

[2022-05-27 20:27] #13773 closed

[2022-05-27 21:35] dwelch2344 commented on #12658
Just coming up to speed on this thread. @spowelljr does the tag you added mean we're SOL if in this boat?

[2022-05-27 22:20] spowelljr commented on #12658
Hi @dwelch2344, it was just added because it's a support issue that's been up for more than 6 months.

I can easily change the line @kgibm suggested, I would only do it for macOS specifically as I don't want to change the behavior on Linux unless we can be sure that it works on Linux as well.

Anyone else is free to make the PR themselves if that interested them, but making this change in general

[2022-05-27 22:24] itsrohitsinghrana opened #14240 "minicube not start"
### What Happened?

❌  Exiting due to GUEST_PROVISION: Failed to start host: can't create with that IP, address already in use

### Attach the log file

❌  Exiting due to GUEST_PROVISION: Failed to start host: can't create with that IP, address already in use

### Operating System

Ubuntu

### Driver

Docker

[2022-05-28 00:59] nburlett commented on #12701
I'm also unable to use minikube on my air-gapped machine. I copied the entire `~/.minikube/cache` from my internet-connected "external" machine to my air-gapped machine via usb. Here's what happens:

On internet-connected machine:
[code]

On air-gapped machine
[code]

[2022-05-28 07:50] hakobhn opened #14241 "Issue with starting minikube on LinuxMint 20.3"
### What Happened?

Unable to start minikube cluster on LinuxMint 20.3 with docker driver. I have tried with VirtualBox driver as well, but other issue arises during process.

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8790729/logs.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-05-28 07:55] afbjorklund commented on #14228
It is not _entirely_ obvious, where the source code for these images (either katacoda or killercoda) are being hosted ?

https://github.com/killercoda/scenario-examples

https://github.com/katacoda-scenarios/kubernetes-scenarios

[2022-05-28 10:36] afbjorklund commented on #14228
It is also possible to use the same vagrant setup, and over-allocate two system containers on the same VM.

`minikube start --driver=docker --nodes=2`

[code]

This way it will have both CRI and CNI, installed on the nodes.

[code]

[2022-05-28 10:55] yuzhaopeng commented on #14212
you should enable option 'VT-X/AMD-v ' in the BIOS, or use `minikube start --driver=docker `

[2022-05-28 11:11] yuzhaopeng commented on #14236
Just like description in the log ，you should enable `bridge-nf-call-iptables `  and disable swap .
 before doing so,delete the old cache

1.  Delete old cache
    `minikube delete`

2.  Temporarily enable `bridge-nf-call-iptables`
 `sysctl -w net.bridge.bridge-nf-call-iptables=1`

3. Temporarily  disable swap
 ` swapoff -a`

4. start minikube
 `minikube start --driver=docker`

[2022-05-28 11:23] yuzhaopeng commented on #14235
maybe try to restart minikube

[2022-05-28 16:31] karishma6401 commented on #7644
Hey, Getting this issue while doing minikube service spring-boot-docker-k8s --url and the url is not accessible. I am using minikube version: v1.25.2
Output of minikube service spring-boot-docker-k8s --url :
http://192.168.49.2:30047
* Starting tunnel for service spring-boot-docker-k8s.
! Because you are using a Docker driver on windows, the terminal needs to be open to run it.

[2022-05-28 22:00] #12798 closed

[2022-05-29 07:04] #13098 closed

[2022-05-30 04:48] #13584 closed

[2022-05-30 05:18] DeepInsideWorld opened #14243 "docker: open /var/lib/docker/tmp/GetImageBlob2246773910: no such file or directory."
### What Happened?

[log.txt](https://github.com/kubernetes/minikube/files/8795627/log.txt)

### Attach the log file

file:///home/ngohoanglong/Downloads/log.txt

### Operating System

Ubuntu

### Driver

Docker

[2022-05-30 07:02] deivyd321 commented on #14097
@BradKnowles thank you, it worked 🎉

[2022-05-30 17:09] balajinsr opened #14246 "minikube"
C:\work\kube>minikube start --no-vtx-check
o   minikube v1.0.1 on windows (amd64)
$   Downloading Kubernetes v1.14.1 images in the background ...
i   Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
:   Re-using the currently running virtualbox VM for "minikube" ...
:   Waiting for SSH access ...
-   "minikube" IP address is 192.168.99.101
-   C

[2022-05-30 19:15] septst commented on #9016
My-MacBook-Pro ~ % minikube start --driver=hyperkit
😄  minikube v1.25.2 on Darwin 12.4 (arm64)
✨  Using the hyperkit driver based on user configuration

❌  Exiting due to DRV_UNSUPPORTED_OS: The driver 'hyperkit' is not supported on darwin/arm64

Deleting MiniKube and running this didn't help me. Any alternatives?

[2022-05-30 22:04] luis-giraldo opened #14248 "minikube can not start"
### What Happened?

minikube can not start

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8800817/logs.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-05-31 03:35] vharsh commented on #14232
/close

[2022-05-31 06:12] afbjorklund commented on #14248
Duplicate, #14202

[2022-05-31 06:16] afbjorklund commented on #14241
Duplicate, #14202

[2022-05-31 17:03] spowelljr commented on #14246
Hi @balajinsr, thanks for reporting your issue with minikube!

You seem to be using minikube `v1.0.1` which is extremely old, could you please update to a current version of minikube (`v1.25.2`) and then run `minikube delete --all --purge` and then try starting minikube again, thanks!

`v1.25.2` downloads: https://github.com/kubernetes/minikube/releases/tag/v1.25.2

[2022-05-31 19:07] #13500 closed

[2022-05-31 20:36] logopk commented on #12729
/remove-lifecycle stale

[2022-05-31 20:46] #12755 closed

[2022-06-01 09:34] yangliuyu commented on #9603
alias kubectl='minikube kubectl --' works with completion, but other alias not.
For example, `alias k=kubectl` and `alias kl='kubectl logs'` defined in `~/.oh-my-zsh/plugins/kubectl/kubectl.plugin.zsh`
When I type `k get space tab` then
(base) ➜  ~ k get
Applications/  Desktop/       Documents/     Downloads/     Library/       Movies/        Music/         Pictures/      Public/        dev/

[2022-06-01 11:22] #13286 closed

[2022-06-01 12:36] rakavai commented on #11571
/assign

[2022-06-01 14:22] Aadarsh-Verma opened #14256 "Enable IPVS proxy-mode in minikube"
### What Happened?

Cannot find documentation to enable ipvs proxy mode in minikube with  ipvs-scheduler as "rr"

### Attach the log file

NA

### Operating System

_No response_

### Driver

_No response_

[2022-06-01 14:46] andreykeen opened #14257 "Add `control-plane` support for `minikube node add`"
### What Happened?

minikube version:
[code]

Installed like this:
[code]

What I did:
[code]
After that I had K8s single node cluster:
[code]

Then I tried to add a control plane node:
[code]

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8815214/logs.txt)
[minikube_node_80f0e0432b1df77b0734d3032274dbba38cbbe8a_0.log](https://github.com/kubernetes/minikube/files

[2022-06-01 17:18] #13875 closed

[2022-06-01 17:18] minikube-bot opened #14260 "Frequent test failures of `TestDownloadOnly/v1.23.6/cached-images`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_crio_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio_arm64&test=TestDownloadOnly/v1.23.6/cached-images)|100.00|

[2022-06-01 17:18] minikube-bot opened #14261 "Frequent test failures of `TestIngressAddonLegacy/serial/ValidateIngressDNSAddonActivation`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestIngressAddonLegacy/serial/ValidateIngressDNSAddonActivation)|100.00|
|[KVM_Linux_containerd](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_containerd&test=TestIngressAddonLegacy/serial/Vali

[2022-06-01 18:06] spowelljr commented on #14184
Hi @Oriho, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-06-01 18:06] #14184 closed

[2022-06-01 18:06] #14082 closed

[2022-06-01 18:07] spowelljr commented on #14076
Hi @Randyshu2018, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-06-01 18:07] #14076 closed

[2022-06-01 18:10] sharifelgamal commented on #13823
Yeah, only the docker driver on macOS and Windows need `minikube tunnel` for ingress to work properly. I'd be happy to review a documentation PR that adds that.

[2022-06-01 18:11] #13296 closed

[2022-06-01 18:15] sharifelgamal commented on #14090
It looks like an existing cluster was already running. Have you tried deleting it and starting a new one?

[code]

[2022-06-01 18:20] sharifelgamal commented on #12635
This is still something we'd like help fixing.

[2022-06-01 18:21] sharifelgamal commented on #13193
Yeah, we've seen this happen on occasion for containerd and crio, not a whole lot we can do about it except fix the hash for the time being.

[2022-06-01 18:27] sharifelgamal commented on #13361
Interesting! I wonder what's different about minikube's kubectl implementation that would cause this error. We'd love some help taking a loot at it.

[2022-06-01 18:47] klaases commented on #14131
Hi @rifaterdemsahin, is it possible that another application or service is using the port described in the error `listen tcp4 :30053: bind: address already in use`?

If so, please consider disabling other services.

[2022-06-01 18:48] sharifelgamal commented on #14078
It looks like both those issues are timeouts of different descriptions. To be clear, you're trying the docker driver inside WSL?

[2022-06-01 18:51] klaases commented on #14110
Have you tried running `minikube delete` or `minikube delete --all` as suggested by the error?

Also, if you don't mind, could you provide minikube logs?

Please attach (drag) the`logs.txt` file to this issue  which can be generated by running this command:

[code]

This will help us isolate the problem further. Thank you!

/triage needs-information
/kind support

[2022-06-01 18:51] #14104 closed

[2022-06-01 18:53] klaases commented on #14089
Hi @msebi, as @vuldin suggested, you may also run `minikube delete --all` to delete all of the profiles, regardless of name.

Please let us know if you are still experiencing this issue.

[2022-06-01 19:00] sharifelgamal commented on #13616
We have integration tests on several different platform/driver combinations that do exactly this and pass, so I'm not sure where your issue stems from exactly, I imagine it has something to do with your specific minikube setup. I'd try updating the version of minikube and kubernetes and see if that helps anything.

[2022-06-01 19:01] sharifelgamal commented on #13919
Using the docker driver instead of hyper-v on machines that don't support it is the best solution here.

[2022-06-01 19:01] #13919 closed

[2022-06-01 19:14] sharifelgamal commented on #13928
This is a documentation issue, ingress on the docker driver on macOS requires `minikube tunnel` to be run in order to work.

[2022-06-01 19:44] andreykeen commented on #14257
I did some test.

Initialization:
[code]

After that, I can get the list of nodes inside the container:
[code]

Backup kubeconfig and crt/key:
[code]

Then I added the worker node:
[code]

And checked that kubeconfig and crt/key do not change:
[code]

Then I tried add a new control node (an error occurs):
[code]

And after that I got diff for all saved files. For example:
[code]

And finally, if I

[2022-06-01 20:32] Zuruuh opened #14264 "Cannot start minikube"
### What Happened?

I run the command ``minikube start`` and the starting process keeps running for about a minute during the RBAC configuration, then fails.
I tried uninstalling & reinstalling both minikube and kubectl but still couldn't get it to work 😕
[code]

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8818555/logs.txt)

### Operating System

Ubuntu

### Dr

[2022-06-01 20:33] sharifelgamal commented on #11885
Not yet, this is something we're going to fix before the GA v1.26 release. Right now, we only look for a qemu installation from brew.

https://github.com/kubernetes/minikube/issues/14146 has more details about what's missing in the qemu driver.

[2022-06-01 22:29] #14073 closed

[2022-06-02 01:43] abe25masahito commented on #14074
[logs.txt](https://github.com/kubernetes/minikube/files/8819861/logs.txt)

[2022-06-02 02:04] nguyendviet opened #14268 "Operation timed out when connect to NodePort type deployment locally"
### What Happened?

I start `minikube` with:
[code]

I have a simple Node.js app:
[code]

I create a deployment with `NodePort` type:
[code]

If I use `minikube ssh`, I can `curl 192.168.49.2:30734` or `curl 10.96.41.105:3000` and get the expected output.

However, if I use:
[code]
It opens a new tab on my web browser (Chrome) but it cannot load: `http://192.168.49.2:30734/`.

I have tried suggest

[2022-06-02 06:11] ccamacho commented on #14198
@afbjorklund do you think is possible to build a podman 4.x .deb/.rpm using fpm?

[2022-06-02 06:42] RA489 commented on #10245
/remove-lifecycle rotten

[2022-06-02 06:43] RA489 commented on #9339
/remove-lifecycle stale

[2022-06-02 06:44] RA489 commented on #12876
/remove-lifecycle rotten

[2022-06-02 06:45] RA489 commented on #11580
/remove-lifecycle stale

[2022-06-02 06:45] RA489 commented on #12471
/remove-lifecycle rotten

[2022-06-02 07:05] sfxworks commented on #13945
For anyone stuck here via kubeadm, there's a flag in `nano /etc/kubernetes/kubelet.env` that has this set. Removing this allows everything to complete.

[2022-06-02 07:51] dsaydon90 commented on #10245
@sharifelgamal, Docker desktop by default is enabling access to the ingress resources.
Any chance that the `minikube tunnel` can be enabled by default and run in the background?

[2022-06-02 08:47] yuzhaopeng commented on #14268
at the macOS ,docker's network has isolate , so you can't  access minikube's  IP  directly.

VPN can solve this problem !

reference here  https://github.com/yuzhaopeng/minikube-mac-network

[2022-06-02 11:16] jonathansds commented on #9016
I am also having the same issue on my Macbook Pro M1 chip and [this comment](https://github.com/kubernetes/minikube/issues/13788#issuecomment-1068640594) didn't work for me. Any workaround?

[2022-06-02 14:01] robshelly opened #14270 "Rootless config property not found"
### What Happened?

Can't set config to run podman as rootless as instructed by the following docs:
https://minikube.sigs.k8s.io/docs/drivers/podman/

Using minikube v1.25.2 on Fedora 34

[code]

[code]

### Attach the log file

==> Last Start <==
Log file created at: 2022/06/02 15:00:20
Running on machine: localhost
Binary: Built with gc go1.17.7 for linux/amd64
Log line format: [IWEF]mmdd hh:mm:

[2022-06-03 01:14] ecormaksin commented on #13298
I run into the same problem.

I think that when we start minikube with virtualbox driver, virtualizaion of `minikube` virtual machine (vm) on VirtualBox is needed to be enabled.

That is because, when we create a vm on VirtualBox,
virtualization of the vm is disabled by default.

To enable virtualization of the vm, we need to execute `VBoxManage modifyvm <vm name> --nested-hw-virt on`.

However, w

[2022-06-03 02:55] RA489 commented on #13026
/remove-lifecycle rotten

[2022-06-03 02:55] RA489 commented on #12987
/remove-lifecycle rotten

[2022-06-03 05:58] afbjorklund commented on #14270
Fedora 34 is old, please update Podman version.

[2022-06-03 08:31] peterzandbergen opened #14271 "Error creating new cluster on podman on wsl2 Ubuntu 22.04"
### What Happened?

This behavior started after upgrading Ubuntu to from 21.04 to 22.04

I am running Windows 10 with WSL2 with Ubuntu 22.04

Symptoms:
minikube start fails with an error
😿  Failed to start podman container.

I tried minikube delete without result

logfile attached.

[code]

[code]

Operating System
- OS Name	Microsoft Windows 10 Enterprise
- Version	10.0.19044 Build 19044
- WSL2
-

[2022-06-03 15:11] aschulth opened #14272 "Failed to start kvm2 VM :: Unable to set XATTR - Operation not permitted"
### What Happened?

Starting minikube on Debian 11 (on ChromeOS) throws the following error:
[code]
Points of interest:
* Fresh Linux environment (Debian GNU/Linux 11)
* Google Chrome Version 102.0.5005.75 (Official Build) (64-bit)
* It worked before but did stop working on new ChromeOS version.

### Attach the log file

[code]
### Operating System

Debian Bullseye (on ChromeOS)

### Driver

kvm2

[2022-06-03 15:13] zhan9san commented on #14268
You can get detailed information from this doc.

https://minikube.sigs.k8s.io/docs/handbook/accessing/

You are using the wrong host and port.

After you created the tunnel, you can access your app locally via 127.0.0.1:TUNNEL_PORT instead of minikibe_ip:node_port

[2022-06-03 16:12] Typraeurion commented on #1201
I’m having this same issue.  [constants.go](https://github.com/kubernetes/minikube/blob/master/pkg/minikube/constants/constants.go) doesn’t help because that only shows the oldest and newest supported versions.  [Version Skew Policy](https://kubernetes.io/releases/version-skew-policy/) doesn’t help because that only lists minor versions, not patch versions.  In my case I need to run the latest pat

[2022-06-03 17:00] #14234 closed

[2022-06-03 17:03] nguyendviet commented on #14268
Hi @zhan9san , I'm not sure what you meant but even if I used the wrong port, this command should work:
[code]
but it doesn't.

Also, this command should print out the correct URL but it doesn't (as described above):
[code]

[2022-06-03 17:12] spowelljr commented on #12658
For something small like this, `if runtime.GOOS == "darwin"` is appropriate.

https://github.com/kubernetes/minikube/blob/5fb961c517f45cf2f1f19e51f44dc9495d319b76/cmd/minikube/cmd/start.go#L1043

[2022-06-03 17:51] afbjorklund commented on #14228
Apparently "hello minikube" is **not** shutting down

[2022-06-03 19:49] mprimeaux opened #14273 "ERROR: qemu-system-aarch64: Addressing limited to 32 bits"
### What Happened?

When starting minikube [v1.26.0-beta.1](https://github.com/kubernetes/minikube/releases/tag/v1.26.0-beta.1) with the following configuration, it fails to start.

[code]

Log file is attached though the error indicates a 32-bit memory address limitation.  My host configuration is...
* OS: macOS Monterey (12.4)
* CPU: Apple M1 Ultra
* Memory: 128 GB

**NOTE:** I wasn't able to se

[2022-06-04 07:49] afbjorklund commented on #14273
Currently it is disabled in the driver (`highmem=off`) due to some bugs, which might be fixed in macOS 12.4

https://patchwork.kernel.org/project/qemu-devel/patch/20201126215017.41156-9-agraf@csgraf.de/#23800615

https://gitlab.com/qemu-project/qemu/-/issues/903#note_911000975 says that it should have been fixed in beta

But no idea about M1 Ultra and 32 GiB, the issues were for Pro/Max and 8 GiB.

[2022-06-04 07:56] afbjorklund commented on #14273
It should check the macOS version, and only apply the workaround if < 12.4

[code]

Also the `virt` basic machine, should be separated out from the other options.

LIke so: `qemuMachine += ",highmem=off"`

[2022-06-04 08:00] afbjorklund commented on #14146
@sharifelgamal : issue with workaround for lots of memory: #14273

Should be possible to remove the workaround, on recent macOS

[2022-06-04 08:04] afbjorklund commented on #14272
Does it work with other VMs ? Maybe an issue for ChromeOS ?

[2022-06-04 09:57] StefanLobbenmeier commented on #9603
@yangliuyu Can you double check that you executed `setopt complete_aliases`?

i have the suspicion that you did not execute that, and that you have kubectl completion installed separately and that’s why it is working with that specific alias.

I am not sure how to debug this any further than that though.

[2022-06-04 10:11] afbjorklund commented on #14198
Not so interested in podman4, and not sure if fpm would help building the debs

[2022-06-04 10:12] afbjorklund commented on #11327
Couldn't find any deb from containerd.io, only the docker ones ?

[2022-06-04 10:12] afbjorklund commented on #14198
I think the kubic podman will do for now, even if upgrading to 3.4.7 would be good

[2022-06-04 10:13] #14198 closed

[2022-06-04 12:41] mprimeaux commented on #14273
@afbjorklund As always, thanks for your guidance here and the above links. I'll review #14146 to see where I can help.

[2022-06-04 14:24] fdfytr commented on #14204
`Creating podman container (CPUs=2, Memory=2200MB) ...\ E0604 12:43:45.986302     349 network_create.go:95] error while trying to create podman network minikube 192.168.49.0/24: create podman network minikube 192.168.49.0/24 with gateway 192.168.49.1 and MTU of 0: sudo -n podman network create --driver=bridge --subnet=192.168.49.0/24 --gateway=192.168.49.1 --label=created_by.minikube.sigs.k8s.io=t

[2022-06-04 14:29] afbjorklund commented on #14204
I think that would be: podman network inspect minikube

[2022-06-04 14:37] AkihiroSuda commented on #11327
Docker, Inc. provides RPM/DPKG packages named `containerd.io`, but the containerd project (https://containerd.io) does not provide such packages (mostly because of lack of APT/DNF repo infra)

[2022-06-04 14:38] fdfytr commented on #14204
Error: inspecting object: network minikube: unable to find network with name or ID minikube: network not found

[2022-06-04 16:09] fdfytr commented on #14204
[The UI can only be accessed from the machine where the command is executed.](https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/)

Does it mean that dashboard wont be accessible at another machine at local network?
I thought it is a good alternative for portainer...

[2022-06-04 18:21] afanwang opened #14276 "Can't start minikube on Mac M1 silicon"
### What Happened?

 minikube start --driver=docker

😄  minikube v1.25.2 on Darwin 12.3.1 (arm64)
    ▪ KUBECONFIG=/Users/fan/.kube/azurek8s-dev
✨  Using the docker driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
💾  Downloading Kubernetes v1.23.3 preload ...

🔥  Creating docker container (CPUs=2, Memory=4000MB) ...
✋  Stoppin

[2022-06-04 18:36] Poweranimal opened #14277 "kvm2: container can't acquire file descriptors"
My containers (specifically `envoy`) can't acquire any file descriptors after reaching a threshold of containers on my node, because the file descriptors seem to be exhausted.

The containers in question are `envoy` containers that all share the same uid `5995`.
After launching the 15th `envoy` container, all further `envoy` containers crash, because of a lack of file descriptors.

Incrementing th

[2022-06-04 23:27] matthewpull commented on #14264
Exact same problem for me - I'm running trying to run the latest minikube on Ubuntu 22.04 (just like @Zuruuh) and I get verbatim the same error message.

I've tried `minikube delete --all --purge` but that doesn't fix it.

[2022-06-04 23:48] #12858 closed

[2022-06-04 23:48] #12894 closed

[2022-06-05 09:51] afbjorklund commented on #14204
It uses kubectl proxy, which is only available to localhost

Otherwise you need a deployment cluster, with login etc

[2022-06-05 19:26] mudit000 opened #14278 "Establishing Connectivity between two locally created minikube clusters on two laptops"
### What Happened?

1)I have two laptops L1 & L2
2)I am creating minikube cluster on each laptop. ML1 & ML2
3)Both laptop can ping each other. L1 <---->L2
4)From one laptop i cann't ping the minikube VM ip on other laptop

L1 --X--> ML2
L2 --X--> ML1

I need to setup connectivity between ML1 and ML2

I am using virtualbox driver on mac.

### Attach the log file

dd
[log.txt](https://github.com/kub

[2022-06-05 20:48] fdfytr commented on #14204
Thank you, that is actually explains the issue.

[2022-06-05 20:48] #14204 closed

[2022-06-06 06:55] rafariossaa commented on #12954
/remove-lifecycle rotten

[2022-06-06 06:55] rafariossaa commented on #12954
Hi,
Any comments on this issue ?

[2022-06-06 09:03] kadern0 commented on #10093
@sharifelgamal, it seems Ambassador has been renamed to "emissary-ingress" https://www.cncf.io/blog/2021/04/13/emissary-ingress-formerly-ambassador-is-now-a-cncf-incubating-project/ so maybe this issue needs to be redefined.

[2022-06-06 09:07] Harikantipudi commented on #13549
@kumaranraj2895

Can you please elaborate on the resolution. It will help, since i am struggling with the issue and stuck since last 2 days (Weekend went for a Toss)

I am on K8's 1.21 and 1.22

Client Version: version.Info{Major:"1", Minor:"21+", GitVersion:"v1.21.2-13+d2965f0db10712", GitCommit:"d2965f0db1071203c6f5bc662c2827c71fc8b20d", GitTreeState:"clean", BuildDate:"2021-06-26T01:02:11Z", Go

[2022-06-06 09:37] kumaranraj2895 commented on #13549
@Harikantipudi

I had actually connected to a VPN, hence I was getting certificate issues, since the connection was not trusted. So I disconnected my VPN and re-installed minikube again

[2022-06-06 11:44] Harikantipudi commented on #13549
@kumaranraj2895

I diconnected VPN and did try manually pulling earlier but in vain

Pulling from kube-controller-manager
5dea5ec2316d: Already exists
5ff0cfb5f412: Retrying in 1 second
523992968418: Retrying in 1 second
error pulling image configuration: download failed after attempts=6: EOF

It says image already exists bcos this image is part of Kubernetes coming from Docker

I did reinstall mi

[2022-06-06 11:50] kumaranraj2895 commented on #13549
@Harikantipudi
Open a new issue, let's see if someone can give a solution.
Meanwhile try installing an older version of minikube.

[2022-06-06 14:56] Harikantipudi opened #14280 "Exiting due to K8S_INSTALL_FAILED:"
Issue Details

Configurations

1) Minikube - 1.22
2) Kubectl - Client Version: version.Info{Major:"1", Minor:"21+", GitVersion:"v1.21.2-13+d2965f0db10712", GitCommit:"d2965f0db1071203c6f5bc662c2827c71fc8b20d", GitTreeState:"clean", BuildDate:"2021-06-26T01:02:11Z", GoVersion:"go1.16.5", Compiler:"gc", Platform:"darwin/amd64"}
3) Docker Desktop 4.9.0 (80466)

A) I tried downgrading/upgrading  Minik

[2022-06-06 15:58] NikhilSharmaWe commented on #13314
https://github.com/kubernetes/minikube/pull/13913 solved the issue
/close

[2022-06-06 18:42] beakerandjake commented on #14264
Getting the same error and output on Ubuntu 22.04 as well.  also tried the ```minikube delete --all --purge``` command. I am using docker desktop version 4.9.0.

[2022-06-06 21:53] #7731 closed

[2022-06-06 22:34] sharifelgamal commented on #14273
So I don't think it has anything to do with the version of macOS, we have an M1 machine with Monterey and 16 GB of RAM and it still fails. I don't really have a good way to test with machines with more RAM than that.

[2022-06-06 22:35] torenware opened #14285 "Minikube v1.25.2 fails to start on MacOS 11.6.5 (Big Sur)"
### What Happened?

Steps:

* I've installed minikube using Home Brew on an Intel MacPro (late 2015).  I'm using VirtualBox 6.1, which is freshly installed.
* Deleted ~/.minikube
* Ran `minikube start` w/o any additional parameters.
* Start up *fails* in "Creating virtualbox VM (CPUs=2, Memory=4000MB, Disk=20000MB)"

Output looks like this:

$ minikube start
😄  minikube v1.25.2 on Darwin 11.6.5
✨

[2022-06-06 22:36] mprimeaux commented on #14273
@sharifelgamal I have several M1 machines with greater than 16 GB of RAM and am happy to help if you point me in the right direction with respect to branch to pull down, etc.

[2022-06-06 22:46] sharifelgamal commented on #14273
if you're comfortable building your own minikube binary, then all you need to do is comment out https://github.com/kubernetes/minikube/blob/master/pkg/minikube/registry/drvs/qemu2/qemu2.go#L125 and building minikube. Otherwise, I can supply an arm64 minikube binary for you to test with.

[2022-06-07 01:22] mprimeaux commented on #14273
I’m very comfortable building my own minukube binary. Let me give it a go tomorrow first thing. Appreciate the link.

[2022-06-07 02:57] #12635 closed

[2022-06-07 05:28] afbjorklund commented on #14278
While you can* change the virtualbox driver to use another network solution, this sounds more like cluster-to-cluster networking ?

\* https://www.virtualbox.org/manual/ch06.html

Using ssh tunnels would be the simplest workaround.

[2022-06-07 07:22] RA489 commented on #12686
/remove-lifecycle stale

[2022-06-07 11:33] yuzhaopeng commented on #14268
`minikube service --url`    it  does not work on  macOS

[2022-06-07 11:44] DomineCore opened #14287 "当我运行minikube service <service_name>时，发生了一个panic"
**重现问题所需的命令**：
`minikube service <service_name>
`
**失败的命令的完整输出**：<details>
`C:\Users\Administrator>minikube service ks-console
panic: runtime error: index out of range [0] with length 0

goroutine 1 [running]:
k8s.io/minikube/cmd/minikube/cmd.startKicServiceTunnel({0xc000f1f5a0, 0x1, 0x25680ca}, {0x0, 0x0, 0x256b28d}, {0x256a64c, 0x8}, {0xc000bc7886, 0x6})
        /app/cmd/minikube/cmd/service.go:

[2022-06-07 12:37] Leem0sh opened #14288 "Unable to access deployment after running minikube service <service_name> ?"
### What Happened?

Having trouble with accessing a pod.  Using Windows 10 with docker.

Made a minimal example with only Deployment, Service & Namespace here: https://github.com/Leem0sh/k8s_simple_api

Prereqs:
1. `git clone https://github.com/Leem0sh/k8s_simple_api`
2. `cd k8s_simple_api`

Running:

0. `minikube start`
1. `minikube -p minikube docker-env --shell powershell | Invoke-Expression` #

[2022-06-07 13:13] winstonztong commented on #14268
I was following [this blog](https://blog.marcnuri.com/prometheus-grafana-setup-minikube) for testing prometheus locally and `minikube service prometheus-server-np` worked in minikube v1.24.0 on Darwin 12.4 (tested yesterday), but it doesn't after upgrading minikube to v1.25.2.

[2022-06-07 14:25] kgibm commented on #12658
Created PR https://github.com/kubernetes/minikube/pull/14290

[2022-06-07 14:35] aschulth commented on #14272
@afbjorklund sorry for the late reply. After some googling it seems to me that since the upgrade to Debian 11 on ChromeOS `minikube` doesn't start correctly. Here is some more context:

* I removed the Linux development environment from my Chromebook.
* After removing it I turned it on again so I am looking at a fresh Linux environment.
* I upgraded the Linux environment (`sudo apt update && sudo

[2022-06-07 15:30] mprimeaux commented on #14273
Setting `himem=off` **and** `qemuCPU = "host"` from `cortex-a72` did allow minikube to start.

[code]

However, it seems setting `CPUType: "host"` [is not advisable](https://qemu.readthedocs.io/en/latest/system/qemu-cpu-models.html#two-ways-to-configure-cpu-models-with-qemu-kvm).

[2022-06-07 18:45] mprimeaux commented on #14273
Is there a reason that for `runtime.GOOS == "darwin"` we couldn't use "host" for the CPU?

[2022-06-07 18:57] sharifelgamal commented on #14273
Looks like `host` is a reasonable choice for CPU for darwin. I think we can change that from cortex-a72 and only set `highmem=off` when available RAM is under 32 GB.

[2022-06-07 20:06] mprimeaux commented on #14273
@sharifelgamal Wouldn't we need `highmem=off` when available RAM is under 4 GB?  Here's an excerpt from the [QEMU docs]:

[2022-06-07 20:08] henning commented on #13985
I have the same issue, also on Ubuntu 22.04 but with the docker driver.

What do I expect?

I expect "minikube service SERVICENAME" to open a webbrowser, as it is documented here: https://minikube.sigs.k8s.io/docs/start/
I am really exactly trying to do what is described there in 4) - running and accessing the hello-minikube echo server.

What happens instead?
nothing at all. Neither does a browse

[2022-06-07 20:24] sharifelgamal commented on #14273
@mprimeaux Ideally yes, but I just tried it with 8 GB of memory and it was still failing. If you want to try with 16GB of RAM and see if that works I'd be happy to lower the threshold.

[2022-06-07 20:25] mprimeaux commented on #14273
Yes, likewise, those values failed for me. I'm trying 4 GB now.

[2022-06-07 20:29] mprimeaux commented on #14273
Setting `highmem=off` failed for me at 3.5 GiB and 4 GiB but passed for me at 3GiB. So it seems that 3 GiB is the limit, at least on macOS.

[2022-06-07 21:11] mprimeaux commented on #14273
I was able to go up to **63** GiB of memory with minikube using the `qemu2` driver but not 64 GiB.

[code]

So, it seems there's a lower memory threshold of `3072` MB for `highmem=on` and a maximum memory limit of `64,512` MB for QEMU.

[2022-06-07 21:21] ohiliazov commented on #13405
I have the same issue with docker driver.

[2022-06-07 22:15] sharifelgamal commented on #14273
ok, this is a version of qemu problem actually. qemu 6.2.0 (which is currently the default qemu version in brew) requires highmem=off no matter what. qemu 7.0.0 only needs it for the threshold you found. I can amend my PR (#14291) to make that work.

[2022-06-07 22:30] #13776 closed

[2022-06-07 22:46] #13768 closed

[2022-06-07 22:54] mesutbunaldi opened #14293 "The connection to the server localhost:8080 was refused - did you specify the right host or port?"
### What Happened?

When i start minikube , i used default name space of minikube , then i changed my KUBECONFIG and i used my another remote cluster. I did not need minikube anymore and i deleted the minikube. But with minikube delete command is  deleted my available KUBECONFIG and i could not access my remote cluster with kubectl. whereas i need delete only minikube config. How can i solve this

[2022-06-07 23:06] spowelljr commented on #14268
Hi @winstonztong, if you want to install `v1.24.0` you can download your binary from our GitHub releases and then follow the install instructions on our getting started page.

https://github.com/kubernetes/minikube/releases/tag/v1.24.0

https://minikube.sigs.k8s.io/docs/start/

[2022-06-07 23:13] mprimeaux commented on #14273
Sounds good. I am using emu 7.0.0.

[code]

FWIW, my playing around today resulted in [these](https://github.com/mprimeaux/minikube/blob/671cd9f9f930e3207a8db393073d468b73388dd6/pkg/minikube/registry/drvs/qemu2/qemu2.go#L124) changes (rows 124 through 127).

[2022-06-07 23:29] #12738 closed

[2022-06-07 23:55] spowelljr commented on #14264
Hi @Zuruuh, thanks for reporting your issue with minikube.

I just took a look at your logs and the command failing is:
[code]

I also see prior to that there's an existing network:
[code]

Just to ensure we're in a clean slate, could you run `minikube delete --all` and then `docker system prune -a --volume -f` and then try starting minikube again. And if it's still failing upload the new log file

[2022-06-08 00:51] AkihiroSuda commented on #14270
Rootless Podman needs minikube 1.26 (https://github.com/kubernetes/minikube/pull/13829)

[2022-06-08 02:46] zhan9san commented on #14268
@nguyendviet

Could you please try the step [in this doc, using-minikube-service-with-tunnel](https://minikube.sigs.k8s.io/docs/handbook/accessing/#using-minikube-service-with-tunnel)?

And it's better to provide the commands you run and logs.

If the sample in that doc works, could you apply its strategy to your application?

[2022-06-08 04:30] RA489 commented on #12968
/remove-lifecycle stale

[2022-06-08 05:11] mul14 commented on #13549
I also deal with same issue

[code]

Just delete the `~/.minikube` directory to solve that issue

[code]

[2022-06-08 09:02] BohoCode commented on #12842
What version was this fixed in?

[2022-06-08 09:40] hassankamboh opened #14296 "minikube not getting started due to failuer in getting IP"
### What Happened?

minikube not getting started due to failuer in getting IP

### Attach the log file

StartHost failed, but will try again: creating host: create: Error creating machine: Error in driver during machine creation: IP not available after waiting: machine minikube didn't return IP after 1 minute

### Operating System

Redhat/Fedora

### Driver

KVM2

[2022-06-08 14:01] hoppla20 commented on #12842
[v1.26.0-beta.0](https://github.com/kubernetes/minikube/releases/tag/v1.26.0-beta.0)
You can see it in the release notes.

[2022-06-08 14:23] nahomdebretsion opened #14297 "minikube"
### What Happened?

X Exiting due to K8S_INSTALL_FAILED: updating control plane: copy: copy: sudo test -d /var/tmp/minikube && sudo scp -t /var/tmp/minikube: Process exited with status 1
output: �☺scp: /var/tmp/minikube/kubeadm.yaml.new: Read-only file system
☺scp: protocol error: expected control record

### Attach the log file

minikube logs --file=logs.txt

### Operating System

Windows

### Dr

[2022-06-08 14:26] nahomdebretsion opened #14298 "hayper-v problems"
### What Happened?

X Exiting due to K8S_INSTALL_FAILED: updating control plane: copy: copy: sudo test -d /var/tmp/minikube && sudo scp -t /var/tmp/minikube: Process exited with status 1
output: �☺scp: /var/tmp/minikube/kubeadm.yaml.new: Read-only file system
☺scp: protocol error: expected control record

### Attach the log file

minikube logs --file=logs.txt

### Operating System

Windows

### Dr

[2022-06-08 15:37] charboubmustapha opened #14299 "Error running minikube in mac m1"
### What Happened?

❌  Exiting due to MK_ADDON_ENABLE: loading profile: cluster "minikube" does not exist

### Attach the log file

Binary: Built with gc go1.17.6 for darwin/arm64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I0607 18:00:04.476924   57003 out.go:297] Setting OutFile to fd 1 ...
I0607 18:00:04.477147   57003 out.go:349] isatty.IsTerminal(1) = true
I0607 18:00:

[2022-06-08 16:33] zhan9san commented on #14278
It's bridge network.
So the question becomes how to make minikube runn in a VM with bridge network.

[2022-06-08 18:09] #12658 closed

[2022-06-08 18:33] spowelljr commented on #14257
Hi @andreykeen, thanks for reporting your issue with minikube.

minikube currently doesn't support adding control-plane nodes, this is something we hope to support in the future if we have the resources to implement it.

I'm curious, if you do a `node add` without `--control-plane=true` does it succeed?

We should be outputting a message to the user that this is not supported when they try to use

[2022-06-08 18:37] #14273 closed

[2022-06-08 18:37] spowelljr opened #14300 "Don't allow `--control-plane=true` for `node add`"
This isn't currently supported, the flag was put in for future proofing to make it easier if we do implement it.

If the user tries to use the flag we should output a message to the user saying the flag is not yet supported and the flag value should be ignored.

[2022-06-08 18:50] spowelljr commented on #14256
Hi @Aadarsh-Verma, thanks for reporting your issue with minikube.

If you want to use any Kubernetes flags you can use the `--extra-config` flag, it follows the format `--extra-config=<component>.<key>=<value>`. So in your case you'll add the following flag to your start command to use `ipvs`:
`--extra-config=kube-proxy.proxy-mode=ipvs`

You can find more information about this command by running

[2022-06-08 18:52] spowelljr commented on #14248
Hi @luis-giraldo, since this is a duplicate I'm going to close this issue. Please follow along with https://github.com/kubernetes/minikube/issues/14202, thanks!

[2022-06-08 18:52] #14248 closed

[2022-06-08 23:47] lakshkeswani commented on #14300
@spowelljr I am willing to contribute to resolving this issue can you help that from where should I start?

[2022-06-08 23:52] spowelljr commented on #14300
Hi @lakshkeswani, if you want to work on this issue comment `/assign` to assign the issue to yourself.

https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/node_add.go

Towards the bottom of the file you can see the flags defined, and the `control-plane` flag is set in the `cp` variable.

We want to check the value and alert the user before the value gets passed into `config.Node`.

[2022-06-08 23:59] lakshkeswani commented on #14300
/assign

[2022-06-08 23:59] lakshkeswani commented on #14300
@spowelljr Thanks

[2022-06-09 00:01] maknop commented on #10460
/assign

[2022-06-09 04:21] kadern0 commented on #13361
Can't reproduce it on Ubuntu 22.04

[2022-06-09 04:25] maknop commented on #10460
Looks like this occurs when the driver is set to `ssh`. I'm going to give this issue a try. 😄

[2022-06-09 06:29] rainjacy commented on #7644
I got the same issue with me, I am using Minikube version v1.25.2.

[2022-06-09 08:26] Only-a-User opened #14307 "minikube service <service-name> --url panics"
### What Happened?

When trying to get the url of a ClusterIP service with

`minikube service <service-name> --url`

I get the following output:

 panic: runtime error: index out of range [3] with length 3

 k8s.io/minikube/cmd/minikube/cmd.glob..func35(0x1073a1800, {0x140000a7400, 0x1, 0x2})
	/private/tmp/minikube-20220224-22619-1l4wp0k/cmd/minikube/cmd/service.go:138 +0x6a8
github.com/spf13/cobr

[2022-06-09 09:27] aronkertesz76 opened #14308 "Starting Minikube without internet connection"
### What Happened?

Hi,

I need to deploy a Minikube on a machine with no internet connection. I took the cache folder from a running system, but still the Minikube is not starting. I realized, that the cache folder did not have any images subfolder, so in the running system I added:
minikube cache add k8s.gcr.io/pause:3.2
minikube cache add k8s.gcr.io/metrics-server/metrics-server:v0.6.1
minikube

[2022-06-09 09:41] jurca commented on #13740
The documented Ingress DNS setup does not seem to work well with systems using systemd-resolve with Network Manager, unfortunately.

You can get it working *teporarily* by configuring the Minikube's bridge network device using `nmcli` (this does not require `sudo` unlike using `systemd-resolve --interface $BRIDGE_INTERFACE --set-dns $(minikube ip) --set-domain test`):

[code]

(If you do not know

[2022-06-09 12:50] hoppla20 opened #14309 "ingress-dns addon returning 0 results and NOERROR"
### What Happened?

Shouldn't the normal behavior of a DNS server to return the status NXDOMAIN if the domain could not be resolved? My current problem is, that I have a DNS entry `static.local.example.com` on Cloudflare, which points to a remote server, but when I use ingress-dns with the domain `local.example.com`, the ingress-dns server returns 0 results with the status NOERROR. The NOERROR sta

[2022-06-09 14:37] RA489 commented on #11534
/remove-lifecycle stale

[2022-06-09 18:30] spowelljr commented on #14243
Hi @DeepInsideWorld, thanks for reporting your issue with minikube.

Your logs indicate the error is:
`docker: open /var/lib/docker/tmp/GetImageBlob2246773910: no such file or directory.`

Based on my research this seems to be a problem with your Docker (https://github.com/moby/moby/issues/22074).

Could your try some of the commands in that issue to restart Docker and then do a `minikube delete -

[2022-06-09 18:38] spowelljr commented on #13374
Hi @kwiechmann, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-06-09 18:38] #13374 closed

[2022-06-09 18:41] spowelljr commented on #14241
Hi @hakobhn, since this is a duplicate I'm going to close this issue. Please follow along with https://github.com/kubernetes/minikube/issues/14202, thanks!

[2022-06-09 18:46] spowelljr commented on #14240
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-06-09 18:46] spowelljr commented on #14236
Hi @juneciel510, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-06-09 18:46] #14236 closed

[2022-06-09 18:47] spowelljr commented on #14220
Hi @haykeminyan, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-06-09 18:47] #14220 closed

[2022-06-09 18:47] spowelljr commented on #14213
Duplicate of https://github.com/kubernetes/minikube/issues/14212

[2022-06-09 18:47] #14213 closed

[2022-06-09 18:48] spowelljr commented on #14212
Hi @JakhongirAlimov, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-06-09 18:48] #14212 closed

[2022-06-09 18:58] spowelljr commented on #14308
Hi @aronkertesz76, thanks for reporting your issue with minikube.

You're trying to start minikube with k8s v1.23.3 (`Preparing Kubernetes v1.23.3 on Docker 20.10.9`), but you're using k8s v1.20.2 images:
[code]

You're either have tell minikube to use k8s v1.20.2 via the start flag `--kubernetes-version=1.20.2` or update the images you're using to be v1.23.3.

[2022-06-09 18:59] spowelljr commented on #14307
Hi @Only-a-User, thanks for reporting your issue with minikube.

I also noticed this recently, I'm going to look into this.

[2022-06-09 19:07] Zuruuh commented on #14264
Output:
[code]

Logs:  [logs.txt](https://github.com/kubernetes/minikube/files/8873195/logs.txt)

[2022-06-09 20:18] spowelljr commented on #14297
Duplicate of https://github.com/kubernetes/minikube/issues/14298

[2022-06-09 20:18] #14297 closed

[2022-06-09 21:02] dan-m8t opened #14311 "Cannot set "rootless" option for podman driver"
Hi there,

the documentation states to set
 `minikube config set rootless true`
for running minikube with podman in rootless mode.

I get this error when I try to set the setting:

`Exiting due to MK_CONFIG_SET: find settings for "rootless" value of "true": property name "rootless" not found`

Versions running:
`minikube version
minikube version: v1.25.2
commit: 362d5fdc0a3dbee389b3d3f1034e8023e72

[2022-06-10 00:20] PI-Victor commented on #5301
/reopen
/remove-lifecycle rotten

still relevant

[2022-06-10 03:14] RA489 commented on #11586
/remove-lifecycle rotten

[2022-06-10 03:56] sweet-aus commented on #9040
minikube start
minikube is local Kubernetes, focusing on making it easy to learn and develop for Kubernetes.

All you need is Docker (or similarly compatible) container or a Virtual Machine environment, and Kubernetes is a single command away: minikube start

Installing...

😄  minikube v1.25.2 on Microsoft Windows 10 Enterprise 10.0.19042 Build 19042
✨  Automatically selected the hyperv driver
💿

[2022-06-10 04:18] Mohammad-Ali-Rauf opened #14313 "Got permission denied while trying to connect to the Docker daemon socket"
### What Happened?

Exiting due to PROVIDER_DOCKER_NEWGRP: "docker version --format -" exit status 1: Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Get "http://%2Fvar%2Frun%2Fdocker.sock/v1.24/version": dial unix /var/run/docker.sock: connect: permission denied
💡  Suggestion: Add your user to the 'docker' group: 'sudo usermod -aG docker $

[2022-06-10 07:19] aronkertesz76 commented on #14308
Oh, thanks a lot Steven. You are right. My Minikube system is an older one (the one running) and I did not match the release. Thanks a lot, I will try to update that.

[2022-06-10 07:30] andreykeen commented on #14257
@spowelljr, thanks for your answer.

Yes, it work well:
[code]

[code]

[code]

[2022-06-10 08:07] Only-a-User commented on #14307
The result is:

[code]

[2022-06-10 10:18] dhs-rec opened #14314 "Please add `zfsutils-linux` to the gcr.io/k8s-minikube/kicbase container image"
### What Happened?

Since my playground system is running purely on ZFS, I wanted to setup a ZFS storage provider after starting a minikube cluster, but didn't get it to work. I finally found out that the storage provider needs the "zfs" commands on the host (which in this case is the minikube container).

However, it started working as soon as I installed the `zfsutils-linux` package into the run

[2022-06-10 14:31] nguyendviet commented on #14268
Thank you @zhan9san , let me try that.

The log was included in the description above. Please let me know if that's not enough.

[2022-06-10 14:32] qingwusunny commented on #3772
When use serviceReference to registry webhook，how kube-apiserver curl service in that case kube-apiserver can't resolve service dns?

[2022-06-10 16:20] AkihiroSuda commented on #14311
You need minikube 1.26

[2022-06-10 19:21] thaisroch commented on #13145
minikube stop
minikube delete
minikube start

[2022-06-10 20:57] spowelljr commented on #14313
Hi @Mohammad-Ali-Rauf, thanks for reporting your issue with minikube.

It seems you just need to run the Docker post-installation steps the error message indicates.

https://docs.docker.com/engine/install/linux-postinstall/

[2022-06-10 21:02] spowelljr commented on #14307
`362d5fdc0a3dbee389b3d3f1034e8023e72bd3a7` doesn't have https://github.com/kubernetes/minikube/pull/13756 in it.

Make sure you're using https://storage.googleapis.com/minikube-builds/13756/minikube-linux-arm64

[2022-06-10 21:04] spowelljr commented on #14299
Hi @charboubmustapha, thanks for reporting your issue with minikube.

It looks like you cluster got deleted, try running `minikube start` and then try enabling the addons again.

[2022-06-10 21:05] spowelljr commented on #14296
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-06-10 21:07] spowelljr commented on #14293
Hi @mesutbunaldi, thanks for reporting your issue with minikube.

Could you provide a before and after example of your kubeconfig to help me understand exactly what's getting deleted, thanks!

[2022-06-10 21:11] spowelljr commented on #14287
Duplicate https://github.com/kubernetes/minikube/issues/13736

Hi @DomineCore, thanks for reporting your issue with minikube.

This is a know issue that has been fixed, but we haven't released since the change was merged. Use the following binary which includes the fix until our next release, thanks!

https://storage.googleapis.com/minikube-builds/13756/minikube-windows-amd64.exe

-----

嗨 @Domine

[2022-06-10 21:22] spowelljr commented on #14280
Hi @Harikantipudi, thanks for reporting your issue with minikube.

It seems you're having issues connecting to `k8s.gcr.io`, what happens if you run `docker pull k8s.gcr.io/kube-apiserver:v1.21.2`?

[2022-06-10 21:36] spowelljr commented on #14190
Hi @vedantmgoyal2009, you're free to implement this if you'd like. This will be completely automated once implemented, correct?

[2022-06-10 21:37] spowelljr commented on #14117
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-06-10 21:39] spowelljr commented on #14116
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-06-10 21:52] spowelljr commented on #14109
Hi @Naveen-manokaran, you're getting an odd error `/tmp/h.884: Permission denied`, some how getting permission denied on file in tmp inside your minikube instance. I see you're using an existing cluster, could you try deleting the instance (`minikube delete --all`) and then try starting your instance again and see if that resolves your issue, thanks!

[2022-06-10 22:28] mesutbunaldi commented on #14293
Hi @spowelljr , thanks for interest.

First of all, i am sorry for my expression : `with minikube delete command is deleted my available KUBECONFIG ` . Instead of the expression before i said, i can say that ; `minikube delete command makes inaccessible my other clusters`

Actually , i am using kubeconfig file more than one and i am picking one with export KUBECONFIG=~/.kube/myconfig . And i am wo

[2022-06-10 23:41] spowelljr commented on #14293
Thanks for the clarification @mesutbunaldi!

What I think is happening is that `kubectl` is still pointing to `minikube`, hence the error you're seeing.

If you look at your first run of `kubectlx` you can see that `kubernetes-admin@clustetr.local` is yellow, indicating it's active.

Then if you look at the second run you see that `minikube` is yellow.

But on the final run see how `kubernetes-adm

[2022-06-11 09:00] vipinfidy opened #14322 "minikube issue"
### What Happened?

error execution phase certs/apiserver: failed to write or validate certificate "apiserver": failure loading apiserver certificate: couldn't load the certificate file /var/lib/minikube/certs/apiserver.crt: error reading /var/lib/minikube/certs/apiserver.crt: x509: cannot parse IP address of length 0
To see the stack trace of this error execute with --v=5 or higher

### Attach th

[2022-06-11 10:18] mesutbunaldi commented on #14293
Hi again @spowelljr ,

`kubectl config set-context kubernetes-admin@cluster.local` or `kubectx kubernetes-admin@clustetr.local` is resolved my problem. But why i need to do this? Already i am using `export KUBECONFIG=~/.kube/myconfig` command and i changed my KUBECONFIG. if `minikube` deleted `kubectl` must not point to `minikube` . Am i wrong ?

Also my last initial kubeconfig  before minikube is

[2022-06-11 12:14] dan-m8t commented on #14311
Thanks, 1.26 is beta but I will try it out.
This should be clarified in the documentation, there's no hint about the supported version for rootless podman.

[2022-06-11 12:14] #14311 closed

[2022-06-11 13:18] shashidharch opened #14324 "unable to install minikube on centOS 8"
😄  minikube v1.25.2 on Centos 8
👎  Unable to pick a default driver. Here is what was considered, in preference order:
    ▪ kvm2: Not healthy: libvirt group membership check failed:
user is not a member of the appropriate libvirt group
    ▪ kvm2: Suggestion: Check that libvirtd is properly installed and that you are a member of the appropriate libvirt group (remember to relogin for group changes

[2022-06-11 19:37] santiagortiiz commented on #7644
Same error following minikibe [tutorial ](https://minikube.sigs.k8s.io/docs/start/) on windows...

[2022-06-12 03:52] AkihiroSuda commented on #12456
/remove-lifecycle stale

[2022-06-12 22:57] #12305 closed

[2022-06-12 23:32] AdamJSoftware opened #14325 "Can't create mount on arch with docker driver"
### What Happened?

When trying to mount my home directory (or any directory to minikube) I get the following error

[code]

I am using arch linux for this. I have previously installed the regular kubernetes on my system. Is that causing a conflict potentially?

Also, I am actually able to create a mount, however only when the minikube cluster starts.

[code]

### Attach the log file

I would love

[2022-06-13 01:30] hiroaki2020 opened #14326 "[Question]My app works properly on docker compose but not on minikube"
### What Happened?

My laravel app does not work properly on minikube while it does on docker compose.
**My question** is **"does this happen because of poor resource allocation or this could be caused by something else?"**

**Symptom**
There are 2 types of errors and I get either of them every time I refresh.
The errors are the following.
1. The web page is not shown and browser says 500 server e

[2022-06-13 04:54] hiroaki2020 commented on #14326
I reduced the number of nodes and replica pods and allocated more resource to each pod but still have the same problem.
I use laravel with inertia.js for my app container which is not good match for microservice or k8s so this might be relevant.

[2022-06-13 19:25] RichardLee0211 commented on #9798
I am having the same issue with Ubuntu, couldn't pass get start page and pull any image due to this network issue.

 $ minikube start
😄  minikube v1.25.2 on Ubuntu 22.04
✨  Automatically selected the docker driver
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🔥  Creating docker container (CPUs=2, Memory=3900MB) ...
❗  This container is having trouble accessi

[2022-06-13 19:33] spowelljr commented on #14324
Hi @shashidharch, thanks for reporting your issue with minikube.

What driver are you trying to use?

[2022-06-13 19:35] spowelljr commented on #14326
Hi @hiroaki2020, thanks for reporting your issue with minikube.

Do the pods spin up correctly? ie. are they passing healthy and ready checks? Are they constantly restarting?

[2022-06-13 19:50] vrapolinario commented on #2015
Getting late to this party, but I think there's definitely interest from the Windows community to see Minikube support Windows nodes. As far as I know Windows nodes require the following on K8s:
- A CNI (could be Flannel) - That's supported on Minikube
- A Windows node - multi-node is supported on Minikube

I'm not a dev, so won't even say I can pick this up, but I'll definitely try to add a separ

[2022-06-13 23:02] cpereira-aurora commented on #13618
I'm still running into this. Is this going to be addressed at some point? Does anyone still need it? Did new ways to work around this were found?

[2022-06-14 00:05] spowelljr commented on #14325
Hi @AdamJSoftware, thanks for reporting your issue with minikube..

The reason the mount works when passed into the start is because it uses a different mounting method.

If you include mount args on start and you're using the Docker driver it used Docker to do the mounting.

For all other cases, including `minikube mount` it uses 9P for the mounting, hence whey there is a discrepancy between the

[2022-06-14 01:23] hiroaki2020 commented on #14326
@spowelljr

Yes.

I did further research and found out the way to access my app is maybe not appropriate.
I use `kubectl proxy --port=8080` to access service resource for my web server pod in cluster [(source)](https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/#using-kubectl-proxy) and access http://localhost:8080/api/v1/namespaces/my-namespace/services/my-service/proxy/ f

[2022-06-14 02:43] hiroaki2020 commented on #14326
[This(sentence at the bottom of the page)](https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster-services/) might be relevant.

[2022-06-14 03:36] teja463 commented on #9798
I used docker driver and it worked fine.

[2022-06-14 04:18] imran-sharief-kidsloop opened #14338 "minikube start issue"
### What Happened?

X Exiting due to K8S_INSTALL_FAILED: updating control plane: copy: copy: sudo test -d /var/tmp/minikube && sudo scp -t /var/tmp/minikube: Process exited with status 1
output: �☺scp: /var/tmp/minikube/kubeadm.yaml.new: Read-only file system
☺scp: protocol error: expected control record

### Attach the log file

X Exiting due to K8S_INSTALL_FAILED: updating control plane: copy: c

[2022-06-14 05:19] #12225 closed

[2022-06-14 05:19] #12235 closed

[2022-06-14 07:38] Only-a-User commented on #14307
As I am on mac the linux binary doesn't work, so i tried with the darwin one (https://storage.googleapis.com/minikube-builds/13756/minikube-darwin-arm64). Problem is it doesn't do anything. The commit doesn't change and the result is still the same.

[2022-06-14 07:51] aschulth commented on #14272
I solved the installation issue. The solution is a variation of what is recommended elsewhere. For future reference, here is what I did:
1. Install `minikube` and `kvm` as per installation instructions.
2. Change `qemu.conf` to include the following lines:
[code]
3. Restart the chromebook

[2022-06-14 12:16] dabasank opened #14339 "Issue in starting Kubernetes Cluster using Minikube"
### What Happened?

Issue in starting Kubernetes Cluster using Minikube, giving certificates error and also when trying to start kubelet, it is giving error.

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8899608/logs.txt)

### Operating System

macOS (Default)

### Driver

HyperKit

[2022-06-14 17:20] vrapolinario commented on #2015
Alright, so as expected I hit a wall here.

I have a multi-node MiniKube deployment with flannel with all the pre-requisites for Windows in place. However, the documentation for adding Windows nodes on Kubernetes relies on kubeadm, which is not available on MiniKube: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/

I tried `minikube ssh` to install kubeadm but I'm

[2022-06-14 17:56] spowelljr commented on #14307
I just tried downloading that binary and I'm getting `9d8634cd018dc9ed32c83f86917b202e5450409b` when I do a version check. It sounds like you're still using the existing binary, did you install the binary to `/usr/local/bin/minikube`?

[2022-06-14 18:14] spowelljr commented on #14338
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-06-14 18:20] spowelljr commented on #14339
Hi @dabasank, thanks for reporting your issue with minikube.

It looks like pods from the existing minikube instance are not running.

To get back into a clean slate run `minikube delete --all` then try starting minikube and let me know what the outcome is, thanks

[2022-06-14 18:56] dabasank commented on #14339
Thanks @spowelljr  - it worked.

[2022-06-14 18:56] #14339 closed

[2022-06-14 19:07] spowelljr commented on #14326
Ah, that sounds very relevant to what you're doing, that's probably what's causing your issue.

[2022-06-14 19:16] spowelljr commented on #14285
Hi @torenware, thanks for reporting your issue with minikube.

Deleting `~/.minikube` removes all of minikube's configuration, but the existing VMs are still going to exist.

In your case you can see VirtualBox still has the existing minikube VM and it's causing an error.

I'm not exactly sure if `minikube delete --all` will clean up dangling minikube VM instances like it does for Docker, but try

[2022-06-14 19:27] vrapolinario commented on #2015
And just as I wrote this, I found the anwer:

[code]

Will continue the tests here.

[2022-06-14 20:54] #12358 closed

[2022-06-15 04:06] mechaHarry opened #14340 "Docker Driver Start: "Error getting ip during provisioning: IPs output should only be one line, got 2 lines""
### What Happened?

Found minikube in an error state after noticing cronjobs were not running.
Ran minikube start to restart the cluster, and encountered the following log output.

### Attach the log file

~$ minikube start --driver=docker --kubernetes-version=v1.23.3
😄  minikube v1.25.2 on Ubuntu 18.04 (amd64)
✨  Using the docker driver based on existing profile
👍  Starting control plane node min

[2022-06-15 06:01] vsonkusare1020 opened #14341 "Issue in starting minikube"
### What Happened?

minikube logs --file=logs.txt`

- [ ]

- [ ]

- [ ]

- [ ]

- [ ]

### Attach the log file

- [ ]

- [ ]

### Operating System

Windows

### Driver

VirtualBox

[2022-06-15 06:32] akshat-khare commented on #13823
This is still not working. I don't know how do we debug something which is basically a hello-world to the whole application!

[2022-06-15 07:09] aronkertesz76 commented on #14308
@spowelljr No I didn't. Let me run the full cycle once more :)

[centos@minikube-2 ~]$ minikube start --driver=none
😄  minikube v1.25.2 on Centos 7.6.1810 (amd64)
✨  Using the none driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing none bare metal machine for "minikube" ...
ℹ️  OS release is CentOS Linux 7 (Core)
❗  This bare metal m

[2022-06-15 09:35] Only-a-User commented on #14307
that dir doesn't exist, because i installed with brew.

[2022-06-15 13:34] IP14Y3RI opened #14342 "On starting minikube, I am notified of the container having trouble accessing https://k8s.gcr.io, and the nodes not being ready."
### What Happened?

When I run the command `minikube start --nodes=2` I get the following output in the terminal:

[code]
As a result, when I run `kubectl get nodes`, I get that the nodes I have just created have status NotReady.

Upon running `kubectl describe nodes`, I get:

[code]

As far as I can tell, the clue we need is in the output of the output above: for both nodes it says that `Containe

[2022-06-15 14:04] torenware commented on #14285
Spoke too soon.  I:

* Ran `minikube delete --all --purge`
* Reinstalled VirtualBox 6.3 and deleted all VMs listed using the UI.
* Ran `minikube start --driver virtualbox`, which craps out. Frustrating as all hell.

I'm going to post the files, but really, WTF is up with minikube? This app needs to go back to formula.

[logs.txt](https://github.com/kubernetes/minikube/files/8910002/logs.txt)

[min

[2022-06-15 16:42] bputersznit commented on #8717
MUCH OBLIGED - Delete then Restart - well DUH!! - I have much to learn about Kubernetes

[2022-06-15 17:23] spowelljr commented on #14307
If you want to use `brew` you'll have to wait for the next release, otherwise you'll have to uninstall the brew version and manually install the version linked.

[2022-06-15 17:37] spowelljr commented on #14308
Looking at the kubelet logs, the error is `unable to setup user: chown /dev/stdout: permission denied`

Are you running this as the root user? As per our documentation (https://minikube.sigs.k8s.io/docs/drivers/none/) the none driver has to be run as root, could you try running:
`sudo -E minikube start --driver=none`

[2022-06-15 17:41] spowelljr commented on #14308
Based on another issue I saw `sudo chmod o+w /dev/stdout` might also solve the solution, but try the above first.

[2022-06-15 18:05] spowelljr commented on #14246
Hi @balajinsr, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-06-15 18:05] #14246 closed

[2022-06-15 18:06] #14090 closed

[2022-06-15 18:41] spowelljr commented on #14341
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-06-15 18:44] spowelljr commented on #14342
Hi @Wnzebkhan, thanks for reporting your issue with minikube.

We have a section on our website of how to use minikube with a VPN, could you take a look at that and see if the steps resolve your issue

https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/#vpn

[2022-06-15 19:08] torenware commented on #14285
Best leave it open. I'm already in a broken state.  See the next comment :-(

[2022-06-15 21:02] JoshTheDeveloperr commented on #9798
I'm on the docker driver and I'm getting this exact issue right now.

[2022-06-16 01:20] a1ex-var1amov commented on #11885
Hi everyone,
Has anybody else faced this with qemu2?

[code]

[2022-06-16 01:22] sharifelgamal commented on #11885
yeah, this is a known issue (seen in https://github.com/kubernetes/minikube/issues/14273) that should be fixed at HEAD, and will be fixed when the GA v1.26.0 minikube release is out.

[2022-06-16 01:30] a1ex-var1amov commented on #11885
@sharifelgamal thank you so much!

[2022-06-16 03:11] RA489 commented on #12706
/remove-lifecycle stale

[2022-06-16 03:11] RA489 commented on #12691
/remove-lifecycle stale

[2022-06-16 03:11] RA489 commented on #12714
/remove-lifecycle stale

[2022-06-16 08:48] Wnzebkhan commented on #14342
Update:
So I just found [this page](https://minikube.sigs.k8s.io/docs/handbook/network_policy/#enabling-calico-on-a-minikube-cluster) in which says

Furthermore:

Hence, I have first run the following command to 'install Calico': `curl https://docs.projectcalico.org/manifests/calico-typha.yaml -o calico.yaml` after which I deleted my old cluster with `minikube delete` and then ran `minikube start

[2022-06-16 09:12] ProbStub commented on #7332
This is (at time of posting) still the only way to make it work on Mac Silicon (M1, 2020) using:
- Darwin 21.3.0 (MacOS 12.2.1)
- minikube 1.25.2
- docker 20.10.16

Is there a specific reason the workaround cannot be incorporated into the master?

Got Apple Silicon the virtualization drivers are still limited.

[2022-06-16 09:58] aronkertesz76 commented on #14308
Thanks for your hint @spowelljr
Unfortunately the sudo did not solve the issue:

[root@minikube-2 ~]# sudo -E /usr/local/bin/minikube start --driver=none
😄  minikube v1.25.2 on Centos 7.6.1810 (amd64)
✨  Using the none driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🤹  Running on localhost (CPUs=8, Memory=32011MB, Disk=65524MB) ...
ℹ️  OS release is C

[2022-06-16 11:12] TamarNR opened #14346 "Access a service from a remote browser"
### What Happened?

I am trying to figure out how to access services from a remote browser - but with no success.
Both Linux (minikube) and laptop (browser) are connected to the same internal (company) network.

I tried to use instructions as described here:
https://kubernetes.io/docs/tutorials/hello-minikube/#create-your-node-js-application
and then here:
https://minikube.sigs.k8s.io/docs/handboo

[2022-06-16 21:13] sharifelgamal commented on #13351
So the challenge here is that the webhook itself is very narrow in scope. It intentionally doesn't have a lot of state about the cluster itself, it really only knows about the objects sent to it via the request. That makes trying to either (a) retrieve the secret from the cluster or (b) recreating the secret for the new namespace quite difficult.

[2022-06-16 22:28] vrapolinario commented on #2015
Just wanted to report the progress so far:
[code]
Windows node added successfully, thanks to the help of @jsturtevant and @marosset. I'll now try to configure flannel and kube-proxy, but these are Windows specific tasks. I'll document the whole process once I'm done and publish here.

[2022-06-16 22:41] sharifelgamal commented on #13184
This is still something we want to do.

[2022-06-17 06:10] otisscott opened #14348 "minikube fails on Windows 11 and PopOS! dualboot"
My team is currently trying to move from a single Django Rest Framework monolith to a hybrid monolith and micro service approach, but I cannot even get a local instance to spin up even without our jank source code. I am attaching my logs.txt to this issue as a prayer that someone can help. Thank you so much and thank goodness for amazing open source resources.
[logs.txt](https://github.com/kuberne

[2022-06-17 06:50] Ed87 commented on #13736
hi @medyagh @all How do I use the exe . I have same issue on Windows 11 minikube install. I have downloaded but it seems its not a click to run type of file. Suggestion is to _replace the existing file_ but I cannot find a similar file in the minikube install path.

Install Path : C:\Users\etshuma_acc\.minikube  (Installed as admin user)

The only reference I got that is similar to the file is :

[2022-06-17 06:51] Ed87 commented on #13736
@dhelfgen If you can assist at which path did you replace

[2022-06-17 07:12] Ed87 commented on #13823
@hnviradiya How did you install the binary on Windows. I cannot seem to see the existing file which has to be replaced:

<img width="626" alt="image" src="https://user-images.githubusercontent.com/23119187/174245502-7cfcbd24-bcd5-4d23-9a4e-0241d1a9180f.png">

[2022-06-17 10:21] amohsenter09-github commented on #9016
any updates on this issue or workaround, I am witnessing the same issue on M1 chip.

[2022-06-17 16:57] #13186 closed

[2022-06-17 18:36] nikunjg commented on #7332
what is the workaround for using ingress for minikube on docker driver on m1 chip macOS

[2022-06-17 20:03] ProbStub commented on #7332
The one described by @zhan9san above

[2022-06-18 02:47] sitesh-sumo commented on #13823
I was facing the above issue and port-forwarding resolved the issue.
If you are still following the above issue where your page doesn't open up in your browser client follow the steps.

`kubectl get service`
<img width="831" alt="image" src="https://user-images.githubusercontent.com/107444832/174419604-5491622e-3662-4330-885f-c1b74cb69c6f.png">

Suppose I want my webapp-service to work for now

`k

[2022-06-18 03:15] hnviradiya commented on #13823
I hadn't installed it. I was executing this exe through cmd and passed parameters in cmd.

[2022-06-18 03:20] sitesh-sumo commented on #13823
@hnviradiya sorry I am on a mac.

[2022-06-18 03:25] hnviradiya commented on #13823
Seems Mac binary isn't provided there (nor have I used Mac ever). May be @spowelljr can help you on that.

[2022-06-18 05:49] #13032 closed

[2022-06-18 07:02] Rishit-dagli commented on #11645
I'd love to take this up but had a hard time figuring out the part introducing the reliance on English text, could you help a bit on this front @medyagh ?

[2022-06-18 07:34] deepto98 commented on #13487
Can I pick this up, if its still open?

[2022-06-18 07:50] Ed87 commented on #13823
@hnviradiya  That's the part I'm missing I guess.  What parameters did you pass ? If you can assist with the exact command you ran in command line

[2022-06-18 08:25] hnviradiya commented on #13823
Basically executed all commands from below links.

https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/

But instead of "minikube" you will have to go to that exe path and execute there with "minikube-windows-amd64.exe"

[2022-06-18 08:59] hiroaki2020 commented on #14326
I assume this is the cause and give up using `kubectl proxy` and decide to use `minikube service my-service --url` following [this](https://github.com/kubernetes/minikube/issues/13788#issuecomment-1068640594).
The cmd above outputs
[code]
and cannot see the output like [this](https://github.com/kubernetes/minikube/issues/13788#issuecomment-1069347319).
I ran `kubectl -n kube-system rollout restart

[2022-06-18 10:10] govargo commented on #12714
Is this issue resolved?

I tested with the following manifests, this isssue doesn't reproduce.

[code]

[code]

[code]

[2022-06-18 17:49] Yensan commented on #14346
😭 I am a newbie just like you. K8S is painful to learn...
you, and your cluster is OK. But, K8S is a complex project, it's network very different from our home&school&company in usual.
Do you know OpenStack ? They are about the same in complex in network....
If you can use `kubectl` to interact with you cluster, `kubectl port-forward services/hello-minikube 8080:8080 -n default`, then, you can ope

[2022-06-18 20:28] mprimeaux commented on #14146
Where can I find the `kube-registry-proxy` image that backs the registry add-on?

[2022-06-18 20:40] mprimeaux commented on #14146
I'm just familiarizing myself with the Minikube code base and would like to focus on one of the items in this issue (ARM supported registry).

Apologies up front if this has been answered but are there any reasons why we can't use [this](https://hub.docker.com/_/registry/?tab=tags) registry given the support for various CPU architectures?

[2022-06-18 21:27] Yensan opened #14350 "Question: How to connect docker inside?"
### What Happened?

minikube is an learn/debug/test tool for K8S.
I use a Mac Air as a dev computer, ip `192.168.0.5`.
use a old PC as a openSUSE Linux server, ip `192.168.0.9`,
in linux run `minikube start --driver=kvm2`, generated a VM `192.168.39.155`
Mac not in the VM subnet, it is imposable to access the VM. So, I create a nginx proxy for it.
But, when I use docker-cli in mac to connect it, i

[2022-06-18 23:55] #13012 closed

[2022-06-19 01:59] knrt10 commented on #14350
I you couls ssh into the vm using `minikube ssh` commans

[2022-06-19 15:18] yuri-potatoq commented on #14346
@Yensan thank your so much, a had the same issue and the forward did solve it.
But my service has a NodePort type. And i cant understand why i cant do that like described at [doc](https://minikube.sigs.k8s.io/docs/handbook/accessing/#example-of-nodeport).

[2022-06-19 15:55] pawelslowik commented on #7644
Same issue on my Windows, port-forward suggsted by @santiagortiiz helped.

[2022-06-19 20:45] MatanYemini commented on #13566
Try - minikube delete && minikube start

[2022-06-19 22:38] rm3l opened #14351 "Feature Request: enable `CONFIG_PROC_CHILDREN` kernel configuration option for the VirtualBox VM"
### What Happened?

Hi there!

We have an existing tool that runs in containers and relies on the `/proc` pseudo-filesystem to retrieve children processes of any given parent process. It leverages the `/proc/[pid]/task/[tid]/children` file, the presence of which is governed by a `CONFIG_PROC_CHILDREN` kernel config option on the host running those containers [1]

While this works great on most env

[2022-06-20 01:15] Yesyoor commented on #7332
Oh I have been trying to export my nodeport of a service to my host machine running the minikube (macOS) and now I see this open issue. Well is there a workaround? I mean it really is the most basic thing to try to reach the minikube wirh a client outside of the minikube, isn't it? I really wonder how this can be, but maybe I am missing the point why someone would set up a cluster without having a

[2022-06-20 08:16] TamarNR commented on #14346
Hi @Yensan,

Thank you for the reply - but still don't get it..

So I used this from the begining:
[code]
What should I use in my browser? - as all of the below do not work:

http://192.168.49.2:30875
http://192.168.49.2:8080/
http://localhost:8080/
http://127.0.0.1:8080
http://10.103.19.196:8080  #My server external ip

Thanks,
Tamar

[2022-06-20 08:52] Yensan commented on #14346
if `kubectl port-forward services/hello-node 8080:8080 -n default` have not echoed ERROR,
the url will be as it said,  http://127.0.0.1:8080

[2022-06-20 08:54] Yensan commented on #14346
believe me, use GUI save yourself, command line is not for big project. Does shell script make you happier ? 🤣

[2022-06-20 09:07] TamarNR commented on #14346
Hi @Yensan,

So the web page shows me this:

![image](https://user-images.githubusercontent.com/67385218/174566170-2eeaabbb-ab61-423b-941e-a420ad4542db.png)

But I really fail to understand why is this so complicated...
We are using docker containers to deploy our application for some time (we have a container for the forntend, and a container for the backend), and mapping an external port to the

[2022-06-20 11:35] EnesErten opened #14355 "Kubernetes addons enable error"
### What Happened?

"$minikube addons enable ingress " I am trying to run previous command. However, I am taken following error. I cannot find any solution.

  - Using image k8s.gcr.io/ingress-nginx/controller:v1.1.1
  - Using image k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.1.1
  - Using image k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.1.1
* Verifying ingress addon...

X Exiting due t

[2022-06-20 12:09] goldytech opened #14356 "Question : Retaining the data in PVC with dynamic storage provisioning"
### What Happened?

Hi
I'm using the dynamic storage provisioning (HostPath) using the default `standard` storage class. I lose the data when my minikube cluster gets started after being stopped. Is there any way to make the data getting persist over the restarts? I was unable to change the 'reclaimPolicy` value of the default 'standard` storage class.

### Attach the log file

None

### Operating

[2022-06-20 16:25] Kashyap-Rathore opened #14357 "Rancher Desktop: Minikube start error"
### What Happened?

Unable to find image 'gcr.io/k8s-minikube/kicbase:v0.0.30@sha256:02c921df998f95e849058af14de7045efc3954d90320967418a0d1f182bbc0b2' locally
docker: error during connect: Post "http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.41/images/create?fromImage=gcr.io%2Fk8s-minikube%2Fkicbase&tag=sha256%3A02c921df998f95e849058af14de7045efc3954d90320967418a0d1f182bbc0b2": EOF

### Attach the log f

[2022-06-20 23:37] lucas-sw opened #14363 "The connection to the server localhost:8080 was refused - did you specify the right host or port?"
### What Happened?

I am begginner to minikube, I'm learning to the chapter named getStart in minikube documen.
when I choose macOs, ARM64, Stable, Binary Download . And Installed succeeded.
however, i meet the problem as following.
<img width="564" alt="image" src="https://user-images.githubusercontent.com/65225672/174688706-6dc15634-b1bb-4eac-b1a6-8c101be491b3.png">

it seems like the minikube f

[2022-06-21 01:22] Jijingling opened #14364 "Remote access minikube service problem when I minikube start --listen-address='0.0.0.0', it not works, no any local address listening"
### What Happened?

I want to access some minikube service from remote internet sites, according to the minikube guides, the parameter --listen-address='0.0.0.0' should be added. When I follow it but seems no any effect, pls see below output, thanks for someone to help!

**Start MiniKube**
~$ minikube start --listen-address='0.0.0.0'
* minikube v1.25.2 on Ubuntu 20.04
* Using the docker driver bas

[2022-06-21 05:46] Bhushan199 opened #14365 "minikube not installed"
### What Happened?

when am installing minikube in ubuntu server not installed .

Exiting due to GUEST_PROVISION: Failed to start host: provision: Temporary Error: error getting ip during provisioning: IPs output should only be one line, got 2 lines

### Attach the log file

[minikube_logs_c1f401d1170bb53a8f6da5b02e8de4d4f5f00562_0.log](https://github.com/kubernetes/minikube/files/8946117/minikube

[2022-06-21 07:08] zhan9san commented on #14346
Hi,

Sorry to make you confused.

Almost all the docs are mainly for local use, including the [hello-minikube](https://kubernetes.io/docs/tutorials/hello-minikube/) and [accessing apps doc](https://minikube.sigs.k8s.io/docs/handbook/accessing/)

If you just want to access the application, do the following commands address your issue?

1. Create a deployment

[code]

2. Forward one or more local po

[2022-06-21 07:41] #14346 closed

[2022-06-21 07:42] TamarNR commented on #14346
Thank you @zhan9san !!

I have been struggling with this for some time, and could not find any documentation for it.

I also used it for my frontend deployment and it works.

[2022-06-21 08:43] Yensan commented on #14346
@zhan9san
K8S & minikube document... it is not friendly for human... 🤣
OR, manage a cluster never an easy thing, k8s just only bring the difficulty to everyone.  When I use k8s, I finally realise it is very different from home-net and business-server-net, and my two poor pc is different from a big cluster.
To achieve the net-config as I said above, I search over the world, and learn everything.  E

[2022-06-21 08:57] Only-a-User commented on #14307
ok thanks for your help

[2022-06-21 08:57] #14307 closed

[2022-06-21 10:14] hjy93 commented on #13758
I have tried again later at v1.25.2, use `minikube image load -p` and it worked as expected. maybe I missed `-p` option last time.

[2022-06-21 10:14] #13758 closed

[2022-06-21 11:54] peterzandbergen commented on #14271
Hi, @spowelljr , first thanks for hour reply.

Following your advice I performed the following actions:

[code]

This did not solve the issue. Minikube ended with the same error message.

This is the logfile after performing the following actions:
[code]
[logs.txt](https://github.com/kubernetes/minikube/files/8948600/logs.txt)

[2022-06-21 12:19] mahuyaacharya opened #14367 "Unable to connect to the server: dial tcp <ip>"
### What Happened?

Unable to connect to the server: dial tcp 192.168.59.100:8443: connectex: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond.

### Attach the log file

![image](https://user-images.githubusercontent.com/92091348/174797306-463d6f68-81dc-4836-bea4-dc

[2022-06-21 15:52] sharifelgamal commented on #14146
So we do use the mutliarch registry dockerhub image for the registry addon. This issue is the OTHER image we use for the addon, namely `gcr.io/google_containers/kube-registry-proxy`, seen [here](https://github.com/kubernetes/minikube/blob/8dac72ba40069439941603ccae56d4181edcde19/pkg/minikube/assets/addons.go#L350). I'm not totally sure what it does, what I do know is that it hasn't been updated or

[2022-06-21 15:54] mprimeaux commented on #14146
Thanks, @sharifelgamal. Let me dig into it and report back with a way forward.

[2022-06-21 16:15] jk1mtn commented on #14363
Hi, some says below will resolve the problem:

[code]

Ref: [https://github.com/kubernetes/kubernetes/issues/50295](https://github.com/kubernetes/kubernetes/issues/50295)

[2022-06-22 03:15] zhan9san commented on #14346
Thanks for sharing your experience. Minikube help us set up a local Kubernetes cluster quickly.

We have to add another Docs to make it easy to use. I'll try it later.

Related to #14364

[2022-06-22 03:31] zhan9san commented on #14363
Hi @lucas-sw

I am glad to help you.

Could you plz provide more detailed information? e.g. the full console output of `minikube start` command.

And if you never add config in `~/.kube` folder, you can try to remote this folder. and try the following command.

[code]

[2022-06-22 05:05] RA489 commented on #14367
/kind support

[2022-06-22 05:06] RA489 commented on #14365
/kind support

[2022-06-22 05:06] RA489 commented on #14364
/kind support

[2022-06-22 05:07] RA489 commented on #14355
/kind support

[2022-06-22 05:07] RA489 commented on #14351
/kind support

[2022-06-22 05:08] RA489 commented on #14350
@Yensan doesn't minikube ssh worked for you?

[2022-06-22 05:09] RA489 commented on #14348
@otisscott I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank

[2022-06-22 05:10] RA489 commented on #14348
/triage needs-information

[2022-06-22 05:11] RA489 commented on #14363
@lucas-sw could you please check if api server is actually running and hasn’t crashed?

[2022-06-22 05:11] RA489 commented on #14363
/kind support
/triage needs-information

[2022-06-22 05:17] RA489 commented on #14350
/kind support

[2022-06-22 05:25] otisscott commented on #14348
I fixed it, rhe documentation with docket desktop and Kube sucks. But to fix this Uninstaller docket desktop

[2022-06-22 05:33] EnesErten commented on #14355
Also I tried different ways and I shared on stackoverflow. You can acces the issue by the following link. https://stackoverflow.com/questions/72697256/kubernetes-dashboard-open-remote-acces-issue

[2022-06-22 05:59] Jijingling commented on #14364
I know how to use port-forward or kubectl proxy to remote access minikube service, but my question is how to use switch --listen-address='0.0.0.0' to automatically expose the minikube service(https://minikube.sigs.k8s.io/docs/faq/#how-can-i-access-a-minikube-cluster-from-a-remote-network); anyone can help?

[2022-06-22 06:14] afbjorklund commented on #14350
`minikube docker-env`

[2022-06-22 06:20] afbjorklund commented on #14146
Actually it hasn't been updated in 5 years.

[2022-06-22 06:30] zhan9san commented on #14364
Hi,

I am glad to help you.

Please allow me to clarify something to help you understand.

1. The `Minikube service` is different from Kubernetes service.
2. `--listen-address='0.0.0.0'` is mainly to make users can access Kubernetes cluster from another server.

Please let me know what is your real scenario.

If you choose `docker` or `podman` driver, Kubernetes cluster will run inside a container

[2022-06-22 06:56] IT-sukesh opened #14376 "minikube start --vm-driver=none command install faild"
### What Happened?

 initialization failed, will try again: wait: /bin/bash -c "sudo env PATH="/var/lib/minikube/binaries/v1.23.3:$PATH" kubeadm init --config /var/tmp/minikube/kubeadm.yaml  --ignore-preflight-errors=DirAvailable--etc-kubernetes-manifests,DirAvailable--var-lib-minikube,DirAvailable--var-lib-minikube-etcd,FileAvailable--etc-kubernetes-manifests-kube-scheduler.yaml,FileAvailable--et

[2022-06-22 07:08] IT-sukesh commented on #3900
! StartHost failed, but will try again: creating host: create: precreate: This computer doesn't have VT-X/AMD-v enabled. Enabling it in the BIOS is mandatory
* Creating virtualbox VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...
* Failed to start virtualbox VM. Running "minikube delete" may fix it: creating host: create: precreate: This computer doesn't have VT-X/AMD-v enabled. Enabling it in the BIOS

[2022-06-22 08:18] Jijingling commented on #14364
Hello zhan9san,

Appreciated for your kindly explain, it means this flag is designed for expose minikube management function not for inside user deployed applications, am I right?
Very helpful, your answer indeed, thanks buddy.

[2022-06-22 16:16] sharifelgamal commented on #14350
`minikube docker-env` will give you the commands to run to connect your local docker client to the docker inside minikube.

[2022-06-22 17:24] #14127 closed

[2022-06-22 17:24] #14128 closed

[2022-06-22 17:52] Luttik commented on #9762
/remove-lifecycle rotten

[2022-06-22 18:53] glinker opened #14385 "Minikube start fails - IP not available after waiting; machine minikube didn't return IP after 1 minute"
### What Happened?

Starting minikube for first time. Fails with the error message that the ip address not available. I've checked and my virtual machine has virtualization enabled. I'm on Centos 8.

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8960585/logs.txt)

### Operating System

Other

### Driver

KVM2

[2022-06-22 19:57] spowelljr commented on #14376
Hi @IT-sukesh, thanks for reporting your issue with minikube.

Based on the logs:
[code]

Could you figure out what's running on those ports, free them, then try starting minikube and see if that resolves your issue.

[2022-06-23 00:18] Yensan commented on #14350
I knew, `minikube ssh`, `eval $(minikube -p minikube docker-env) ` , but I want to know what is the k8s. So, I want to interact with the container from remote and directly, without any wrapper.

Finally, I made it with complex settings. https://github.com/kubernetes/minikube/issues/14346#issuecomment-1160738744
Now, I use vscode's docker plugin, GUI, docker containers is in my eyes, exposed everyt

[2022-06-23 00:26] Yensan commented on #14350
[code]

In Linux server, I open a nginx tcp proxy to inject data into virtual machine. Maybe it is silly, I am not familiar with KVM-QEMU-virsh toolchain. Most people use parallels, VMWare and virtualbox. While, in deployment env, most case is hyper-v, kvm, openstack... This is the reason I use kvm.

[2022-06-23 06:44] Darshants16081995 opened #14395 "failed to start"
### What Happened?

Failed to enable unit: Unit file cri-docker.socket does not exist.

### Attach the log file

fffffff

### Operating System

_No response_

### Driver

_No response_

[2022-06-23 06:51] satya8574 opened #14396 "miniqube stooped"
### What Happened?

root@ip-172-31-8-53:/home/ubuntu# minikube status
minikube
type: Control Plane
host: Stopped
kubelet: Stopped
apiserver: Stopped
kubeconfig: Stopped

### Attach the log file

root@ip-172-31-8-53:/home/ubuntu# minikube status
minikube
type: Control Plane
host: Stopped
kubelet: Stopped
apiserver: Stopped
kubeconfig: Stopped

### Operating System

_No response_

### Driver

_No re

[2022-06-23 06:53] shashi8280 opened #14397 "Minikube start error"
### What Happened?

Unable to start Minikube

### Attach the log file

root@ip-172-31-25-89:~# minikube start --vm-driver=none
* minikube v1.26.0 on Ubuntu 18.04 (xen/amd64)
* Using the none driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing none bare metal machine for "minikube" ...
* OS release is Ubuntu 18.04.6 LTS

X Exiting due to

[2022-06-23 08:55] RA489 commented on #11897
/remove-lifecycle rotten

[2022-06-23 08:56] RA489 commented on #9452
/remove-lifecycle rotten

[2022-06-23 08:56] RA489 commented on #9834
/remove-lifecycle rotten

[2022-06-23 08:57] RA489 commented on #11954
/remove-lifecycle rotten

[2022-06-23 08:57] RA489 commented on #11903
/remove-lifecycle rotten

[2022-06-23 08:58] RA489 commented on #12038
/remove-lifecycle rotten

[2022-06-23 09:51] heyvoon opened #14398 "WSL2 + Minikube + Lens (Unable to connect to K8 cluster in WSL2)"
### What Happened?

Hello Everyone,

My setup:
 - Windows 10 WSL2
 - Docker, kubectl, minikube

I am trying to get Lens 5 to connect to the minikube cluster inside WSL2 but it won't work. I get the following error when pointing Lens to "\\wsl$\Ubuntu\home\MYUSER\.kube\config".

Has anyone been able to successfully connect Lens 5 to a K8s cluster inside a WSL2 (w/ Ubuntu 20.04) ?

### Attach the lo

[2022-06-23 12:38] Wnzebkhan opened #14399 "[Redacted]"
[Redacted]

[2022-06-23 13:07] jesperpedersen opened #14400 "[minikube 1.26.x/1.27.x/1.28.x] Fails upon startup with podman using rootless"
### What Happened?

Using

[code]

😄  minikube v1.26.0 on Fedora 36
    ▪ MINIKUBE_ROOTLESS=true
✨  Using the podman driver based on user configuration
📌  Using rootless Podman driver
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
💾  Downloading Kubernetes v1.24.1 preload ...

E0623 09:01:31.296248 2614845 cache.go:203] Error downloading kic artifacts:  not y

[2022-06-23 14:58] vadgis opened #14401 "testo"
**Étapes pour reproduire le problème:**

1.
2.
3.

**Sortie complète de la commande `minikube logs`:**
<details>

</details>

**Sortie complète de la commande échouée:**
<details>

</details>

[2022-06-23 16:28] AmanSarraf opened #14402 "Cannot start Minikube on Ubuntu using docker desktop vm"
### What Happened?

When I do minikube start
[code]
Although the Kicbase image is running fine
[code]

### Attach the log file

The corresponding log file:
[logs.txt](https://github.com/kubernetes/minikube/files/8969059/logs.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-06-23 16:30] inderjeetsinghaws opened #14403 "Error while running- minikube start --vm-driver=none"
### What Happened?

sudo minikube start --vm-driver=none
* minikube v1.26.0 on Ubuntu 22.04 (xen/amd64)
* Using the none driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Running on localhost (CPUs=2, Memory=7948MB, Disk=7764MB) ...
* OS release is Ubuntu 22.04 LTS

X Exiting due to RUNTIME_ENABLE: sudo systemctl enable cri-docker.socket: exit status 1

[2022-06-23 17:42] spowelljr commented on #14395
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-06-23 17:46] spowelljr commented on #14396
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-06-23 17:52] spowelljr commented on #14397
Hi @shashi8280, thanks for reporting your issue with minikube.

Kubernetes v1.24 dropped support for Dockershim, so if you want to use the combination of the none driver, Kubernetes v1.24+, and the Docker container runtime you'll need to install cri-dockerd on your system, as listed in our [requirements page](https://minikube.sigs.k8s.io/docs/drivers/none/#requirements).

Other options include usi

[2022-06-23 17:54] spowelljr commented on #14400
Hi @jesperpedersen, thanks for reporting your issue with minikube.

It looks like an existing volume might be causing this issue.

Could you try running `minikube delete --all` to remove the existing volume and then try starting minikube again and see if that resolves your issue, thanks

[2022-06-23 17:56] spowelljr commented on #14403
Hi @inderjeetsinghaws, thanks for reporting your issue with minikube.

Kubernetes v1.24 dropped support for Dockershim, so if you want to use the combination of the none driver, Kubernetes v1.24+, and the Docker container runtime you'll need to install cri-dockerd on your system, as listed in our [requirements page](https://minikube.sigs.k8s.io/docs/drivers/none/#requirements).

Other options incl

[2022-06-23 17:57] spowelljr commented on #14401
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

-----

Merci de partager votre expérience!

Pourriez-vous s'il vous plaît exécuter `minikube logs --file=logs.txt` et faire glisser et déposer le fichier dans ce problème.

Cela nous aidera à mieux isole

[2022-06-23 20:00] michelesr commented on #7332
That would work with the tool I linked. It basically allow you to reach docker containers using their IP address, just like you would on a Linux machine, and so makes the minikube ip reachable from the host and your node ports accessible

[2022-06-23 22:01] spowelljr commented on #14402
Hi @AmanSarraf, thanks for reporting your issue with minikube.

I see that you're restarting an existing instance, if you clean out the existing instance (`minikube delete --all`) and then try starting minikube again fresh do you get a different error?

[2022-06-24 02:16] AmanSarraf commented on #14402
I tried ```minikube logs --file=logs.txt``` but didn't helped
LOG file :
[logs.txt](https://github.com/kubernetes/minikube/files/8972686/logs.txt)

[2022-06-24 02:31] AmanSarraf commented on #14402
when I try running the docker kicbase image
[code]

[2022-06-24 04:05] sudlo opened #14410 "unable to start minikube with docker without cri-dockerd"
### What Happened?

I have installed minikube on aws ec2 instance followed all the steps.
Please find the logs attached for your reference

### Attach the log file

root@ip-172-31-47-92:~# cat logs.txt
*
* ==> Audit <==
* |---------|-------------------------|----------|------|---------|---------------------|---------------------|
| Command |          Args           | Profile  | User | Version |

[2022-06-24 07:57] #14399 closed

[2022-06-24 07:57] Wnzebkhan commented on #14399
[Redacted]

[2022-06-24 08:41] EHJ-52n opened #14411 "Cannot start minikube: "cannot stat '/var/run/cri-dockerd.sock'""
### What Happened?

[code]

### Attach the log file

[code]

### Operating System

Ubuntu

### Driver

Docker

[2022-06-24 08:49] IP14Y3RI opened #14412 "Unable to start Minikube on Windows using Docker or Hyper-V as drivers; Problem is extended to my Ubuntu 20.04 installations on WSL2."
### What Happened?

On Windows 10:
- I uninstalled minikube through the uninstaller located in C:\Program Files\Kubernetes\minikube. I also deleted the .minikube directory located at C:\Users\me
- I reinstalled minikube through Powershell as is described here: https://minikube.sigs.k8s.io/docs/start/
- I added minikube.exe to my PATH-variable
- I ran minikube start using Docker as driver,
minikube

[2022-06-24 09:54] Only-a-User opened #14413 "minikube connection reset when trying to open service url"
### What Happened?

I have a minikube service cluster, but when I try

[code]

I get a connection reset.

---

[code]

returns

[code]

and

[code]

returns

[code]

and then I get connection resets for all services except kubernetes, which tells me:

**Client sent an HTTP request to an HTTPS server.**

---

[code]

returns

[code]

### Attach the log file

-

### Operating System

macOS (Default)

[2022-06-24 10:02] amiyaranjansahoo commented on #14403
HI @[spowelljr](https://github.com/spowelljr),
thank you for the advise. I am also facing the same issue.
I did not find the link for: how to manually install cri-dockerd .

Thanks

[2022-06-24 10:52] bagariarakesh commented on #14397
I am using below commands and it was working fine day before yesterday , i do not have any Clue what is wrong now.
Now install docker

sudo apt update && apt -y install docker.io
install Kubectl

curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl && chmod +x ./kubectl && sudo mv

[2022-06-24 11:07] nipunarora222 opened #14414 "Issue in X Exiting due to MK_ADDON_ENABLE"
### What Happened?

Please provide us the solution.

### Attach the log file

[minikube_addons_684d5494eb12cc8d43eafdba2efd60841d94e340_0.log](https://github.com/kubernetes/minikube/files/8975671/minikube_addons_684d5494eb12cc8d43eafdba2efd60841d94e340_0.log)

### Operating System

Windows

### Driver

Docker

[2022-06-24 11:13] Yesyoor commented on #7332
@michelesr  I tried it out already and unfortunately I didn't work with it either. Still thank you very much for trying to help.

[2022-06-24 14:01] #12699 closed

[2022-06-24 14:08] medyagh commented on #14411
I suspect you had an existing Minikube cluster, using old image that didnt have cri dockerd

does deleting minikube and starting a new one fix the problem?

[2022-06-24 14:46] akashpawara19 opened #14416 "unable to start minikube"
### What Happened?

minikube installation failed

### Attach the log file

`minikube logs --file=logs.txt`

### Operating System

_No response_

### Driver

_No response_

[2022-06-24 16:34] psschwei opened #14417 "Bump CRI-O version to 1.24.1"
Minikube v1.26 is using CRI-O v1.22.3, which is a bit outdated. It would be nice to bump CRI-O to v1.24.1, which is the most recent release.

Assuming the process used in https://github.com/kubernetes/minikube/pull/13059 is still valid, I can take a stab at opening a PR for this.

[2022-06-24 17:00] getangar commented on #14397
I have the same problem on Windows 11 Enterprise 10.0.22000 Build 22000

[2022-06-24 17:11] spowelljr commented on #14397
@bagariarakesh

minikube v1.26.0 came out two days ago, and based on your logs you updated to it which is what is causing a difference. v1.26.0 now defaults the Kubernetes version to the current Kubernetes version which is v1.24.1. You were likely on minikube v1.25.2 before which the default Kubernetes version was v1.23.X. Kubernetes dropped Dockershim support with Kubernetes v1.24, which now make

[2022-06-24 17:13] spowelljr commented on #14397
@getangar

Are you using the `none` driver on Windows? WSL? If you're not using the `none` driver something very different is happening and you should open your own issue. But if you're using the `none` driver the advice above should resolve your issue.

[2022-06-24 17:20] minikube-bot opened #14418 "Frequent test failures of `TestDownloadOnly/v1.24.1/cached-images`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_crio_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio_arm64&test=TestDownloadOnly/v1.24.1/cached-images)|100.00|

[2022-06-24 17:20] minikube-bot opened #14419 "Frequent test failures of `TestDownloadOnly/v1.24.2/cached-images`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_crio_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio_arm64&test=TestDownloadOnly/v1.24.2/cached-images)|100.00|

[2022-06-24 17:26] spowelljr commented on #14403
Hi @amiyaranjansahoo, it should be listed on our `none` driver page under the requirements sections:
https://minikube.sigs.k8s.io/docs/drivers/none/#requirements

But here's a direct link to the cri-dockerd install instructions:
https://github.com/Mirantis/cri-dockerd#build-and-install

[2022-06-24 17:41] psschwei commented on #14417
/assign

[2022-06-24 18:06] spowelljr commented on #14411
Hi @EHJ-52n, following up with what @medyagh said. minikube v1.26.0 introduced `cri-dockerd` however, since you're using the updated binary with a cluster created with a previous version it's trying to start `cri-dockerd` but your cluster doesn't actually have that service installed.

Try running `minikube delete --all` and then try starting minikube again and your issue should be resolved, thanks

[2022-06-24 18:14] spowelljr commented on #14410
Hi @sudlo, thanks for reporting your issue with minikube.

Kubernetes v1.24 dropped support for Dockershim, so if you want to use the combination of the none driver, Kubernetes v1.24+, and the Docker container runtime you'll need to install cri-dockerd on your system, as listed in our [requirements page](https://minikube.sigs.k8s.io/docs/drivers/none/#requirements).

Other options include using a

[2022-06-24 19:04] augustotavares86 opened #14421 "minikube start --vm-driver=hyperkit"
### What Happened?

Hey guys I'm having a problem running minikube start --vm-driver=hyperkit  is anyone has a problem before with  hyperkit.

### Attach the log file

Last login: Thu Jun 23 21:40:55 on ttys000
❯ minikube start --vm-driver=hyperkit
😄  minikube v1.25.2 on Darwin 12.4
    ▪ KUBECONFIG=/etc/kubernetes/admin.conf
✨  Using the hyperkit driver based on existing profile
👍  Starting contr

[2022-06-24 22:27] mprimeaux commented on #14421
@augustotavares86 Thanks for opening this issue.

Would you mind posting the logs as per the above? `minikube logs --file=logs.txt`.  Also, would you mind posting the output of `minikube config view`?

[2022-06-24 22:35] mprimeaux commented on #14421
Also, I found [issue #7888](https://github.com/kubernetes/minikube/issues/7888) in case this is related.