[2020-12-18 14:44] Jaxing opened #10003 "Minikube start --driver=docker fails"
**Steps to reproduce the issue:**

I'm trying to start minikube on ubuntu 20.04.

Steps to install minikube:
1. curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
2. sudo install minikube-linux-amd64 /usr/local/bin/minikube

Comman to start minikube
1. minikube start --driver=docker

Docker version:
[code]

**Full output of failed command:**

<details>

I1218 15:

[2020-12-18 15:31] #10001 closed

[2020-12-18 15:31] tstromberg commented on #9995
The root cause remains unfixed -- but I will push up a new .deb file this morning for this release.

[2020-12-18 15:44] Jaxing commented on #10003
I missed [9868](https://github.com/kubernetes/minikube/issues/9869) before, this is a duplication.

[2020-12-18 15:44] #10003 closed

[2020-12-18 15:45] tstromberg commented on #10002
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2020-12-18 15:47] Jaxing commented on #9869
@tstromberg I have the same issue, when I run `minikube start --alsologtostderr -v=1` I get this:
[code]

[2020-12-18 16:08] tstromberg commented on #9995
Build:

[code]

Propagate:

[code]

Then uploaded manually to GitHub releases:

[code]

[2020-12-18 16:16] tstromberg commented on #9995
The broken `minikube_1.16.0-0_amd64.deb` package from GitHub and GCS to avoid confusion.

The updated one has a new revision and filename of `minikube_1.16.0-1_amd64.deb`

My apologies for the inconvenience. We'll leave this issue open until the Makefile can be updated so that this build corruption issue cannot occur again.

[2020-12-18 16:49] dineshreddychittamuri commented on #8512
in order to eliminate the above error in windows go to users/profile/.minikube and delete it.

context:-profile= username

Re-run the command

[2020-12-18 16:50] afbjorklund commented on #9995
It looks like the actual binaries were all correct, so the issue was with the packaging

[2020-12-18 16:52] tstromberg commented on #9228
I'd love to try this on my Raspberry Pi. What all is it going to take, as far as we know today?

Here's my naive assumption:

* Update Makefiles to allow a difference between architecture outputs
* Plumb target arch from Makefile to buildroot scripts
* Figure out the boot story
* Change some of our packages that download binaries into not running at all, or grabbing the correct architecture

@blue

[2020-12-18 17:09] mgabeler-lee-6rs commented on #9995
Was able to download & install the fixed release and restart my local minikube environment with the new version. Thanks! :+1:

[2020-12-18 17:12] bl-ue commented on #9995
@mgabeler-lee-6rs You should re-open this:

quoting @tstromberg https://github.com/kubernetes/minikube/issues/9995#issuecomment-748182803:

[2020-12-18 17:12] mgabeler-lee-6rs commented on #9995
Oops, missed that, sorry!

[2020-12-18 17:31] bl-ue commented on #9995
This already has two PRs #9998 and #10004 linked
/remove-good-first-issue

[2020-12-18 17:33] bl-ue commented on #9995
/remove-help-wanted

[2020-12-18 18:30] Bjohnson131 commented on #9188
This was a user error. I used CTRL - Z to 'terminate' previous tunnels, keeping the port bound.

[2020-12-18 18:30] #9188 closed

[2020-12-19 04:34] niuxiongwen opened #10005 "Check KVM existing networks so that docker custom network doesn't overlap"
😄  Ubuntu 18.04 上的 minikube v1.16.0
✨  根据现有的配置文件使用 docker 驱动程序
💨  For improved Docker performance, enable the overlay Linux kernel module using 'modprobe overlay'
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...

❗  minikube was unable to download gcr.io/k8s-minikube/kicbase:v0.0.15-snapshot4, but successfully downloaded kicbase/stable:v0.0.15-snapshot4 as a fa

[2020-12-19 06:21] Akshay123455667 opened #10006 "Unable to start Minikube on Debian 10.7 using GCP VM"
**Steps to reproduce the issue:**
I installed Minikube on GCP Debian VM using  below command

curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube_latest_amd64.deb
sudo dpkg -i minikube_latest_amd64.deb

and installed Kubectl and Docker too , but when starting the minikube getting below error

$ minikube start
😄  minikube v1.16.0 on Debian 10.7
👎  Unable to pick a default driv

[2020-12-19 08:49] baiwfg2 commented on #9811
I met with same error:

[code]

[2020-12-19 09:05] afbjorklund commented on #9811
Which docker version was this ?

[2020-12-19 09:21] afbjorklund commented on #9811
And it would still be nice to print out the Docker version...

Now we have to guess, based on the OS. Not very nice.

See #7952

[2020-12-19 09:29] afbjorklund commented on #10006
Please look at https://docs.docker.com/engine/install/debian/
and https://docs.docker.com/engine/install/linux-postinstall/

Need to make sure that `docker version` works properly...
This is something of a fallout from missing docs: #7963

[2020-12-19 09:36] baiwfg2 commented on #9811
Sorry for that.
`docker network inspect minikube`
[code]

docker version :
[code]

[2020-12-19 11:48] afbjorklund commented on #9811
Hmm, wondering if it has something to do with the outdated versions (CentOS 7.2, Docker 19.03.1)

[2020-12-19 12:01] afbjorklund commented on #9811
Seems like that there was a bug in that particular version (18.09.7), but not in 18.09.9

[code]
[code]

Please upgrade.

[2020-12-19 12:05] afbjorklund commented on #9077
We need to check against outdated minor Docker versions, at least.

It should be OK with 18.09 and 19.03 - as long as they are updated...

[2020-12-19 12:07] afbjorklund commented on #9077
/remove-lifecycle stale

[2020-12-19 12:18] afbjorklund commented on #10006
There is some kind of censorship going on here, with the error messages...

The first log entry is:

`global.go:110] docker priority: 8, state: {Installed:true Healthy:false Running:true NeedsImprovement:false Error:"docker version --format {{.Server.Os}}-{{.Server.Version}}" exit status 1: Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Ge

[2020-12-19 12:34] afbjorklund opened #10007 "Show the Fix/Doc and just not the Error, for installed but unhealthy drivers"
As seen in https://github.com/kubernetes/minikube/issues/10006#issuecomment-748466981

current output: (only error)
[code]

improved output: (with fix)
[code]

[2020-12-19 12:37] afbjorklund opened #10008 "Add possibility to choose drivers without vms as well"
Currently --vm is a boolean, but there is no difference between --vm=false and no parameter at all.

It should be possible to reject all the hypervisor drivers, and only look at the container drivers...

This is similar to the GetEnv vs. LookupEnv functions.

https://golang.org/pkg/os/#Getenv

https://golang.org/pkg/os/#LookupEnv

i.e. we need another boolean: "user cares about vm"

[2020-12-19 16:15] baiwfg2 commented on #9811
Wow, that's brilliant. I upgraded docker-ce-cli to 19.03.1, encountered another parsing issue:
[code]

[2020-12-19 20:18] #6795 closed

[2020-12-19 21:09] Akshay123455667 commented on #10006
by following post install steps it worked , but now when I start minikube
getting below output

minikube start
😄  minikube v1.16.0 on Debian 10.7
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🏃  Updating the running docker "minikube" container ...
🐳  Preparing Kubernetes v1.20.0 on Docker 20.10.0 ...
🔎  Verifying Kubernetes compone

[2020-12-19 22:16] rnantes commented on #8564
@medyagh I'm running into the same issue on Minikube v1.16.0. Mounting the folder in a separate directory using minikube mount. I'm using a local persistant volume as described in the kubernetes [docs](https://kubernetes.io/docs/concepts/storage/volumes/#local). Any further recommendations?

[2020-12-20 02:56] kmohanram commented on #4488
It appears that the audit parameters can be set on a fresh install (verified via `minikube ssh` and a check of the apiserver manifest file), but `minikube start` hangs as seen below (`minikube ssh` functions through another window fwiw). Would be extremely useful if auditing can be supported out of the box in the minikube environment. A vanilla `minikube start` without audit works well, so the bre

[2020-12-20 07:52] zevinar commented on #9982
I believe both v1 & v2 are enabled.
"grep cgroup /proc/filesystems" output is:
nodev	cgroup
nodev	cgroup2
Also docker hello-world seems to be working fine

[2020-12-20 08:08] MansM commented on #8331
Never noticed your reply,
Except for a simple ps -ef|grep -i mcafee and filepaths

There is also an xml file that contains the firewall rules. I am not allowed to fully share that file unfortunately

[2020-12-20 08:46] afbjorklund commented on #10007
Also related to: #7963 where we need to document the requirement to set up the access in the first place

[2020-12-20 08:53] afbjorklund commented on #10006
Seems like you installed `kubectl` for the wrong platform or something ? You can use `minikube kubectl --` instead

[2020-12-20 08:59] afbjorklund opened #10009 "Rejected drivers not shown in priority order"
`Unable to pick a default driver. Here is what was considered, in preference order:`

Unfortunately that is a lie, only the Available drivers are sorted - not the rejects...

[2020-12-20 09:06] afbjorklund commented on #9991
You did not mention what platform and driver this was for. I'm not sure the "pause" feature will survive such a "burn"...
In theory the VirtualBox driver should support it, but I have only done it locally - and there is no minikube support for it

There might be other "kubernetes backup" software, to take snapshots of running clusters. Maybe they can be integrated.
We talked about adding the suspe

[2020-12-20 10:41] zevinar commented on #9982
[Update]
I've upgraded to minikube 1.16.0  (with docker 20.10.0).
I try to start minikube: **minikube start**

Looks like I'm having issues with the apiSever - I see connection refused messages in the console as well as Stopped status.
here is an output of **minikube status**
type: Control Plane
host: Running
kubelet: Running
apiserver: Stopped
kubeconfig: Configured
timeToStop: Nonexistent

Attac

[2020-12-20 13:15] afbjorklund commented on #9989
For containerd, it will probably use the binaries from the github releases:

https://github.com/containerd/containerd/releases/download/v1.4.3/containerd-1.4.3-linux-amd64.tar.gz

https://github.com/moby/buildkit/releases/download/v0.8.1/buildkit-v0.8.1.linux-amd64.tar.gz

But only for `amd64`.

[2020-12-20 13:40] scpxin opened #10010 "* Failed to start hyperv VM. Running "minikube delete" may fix it: creating host: create: precreate: no External vswitch nor Default Switch found. A valid vswitch must be available for this command to run. Check https://docs.docker.com/machine/drivers/hyper-v/"
** minikube start --driver=hyperv**：

*** Microsoft Windows 10 Pro 10.0.19042 Build 19042 上的 minikube v1.15.1
* 根据用户配置使用 hyperv 驱动程序
* Starting control plane node minikube in cluster minikube
* Creating hyperv VM (CPUs=2, Memory=4000MB, Disk=20000MB) ...
! StartHost failed, but will try again: creating host: create: precreate: no External vswitch nor Default Switch found. A valid vswitch must be a

[2020-12-20 17:24] mudasar187 opened #10011 "Minikube start virtualbox hang on MacOS Big Sur"
I am trying to start minikube on MacOS.

I have installed all needed software via homebrew.

When I type `minikube start` I get following error:

[code]

I have tried to reinstall virtualbox and also tried the command `minikube delete`. Also tried to delete the `.minikube` folder also. No luck :(
Anyone have the same issue? How can I make it run with virtualbox?

Thank you for help!

[2020-12-20 17:37] SureshPaspula commented on #4303
This Command helped me to solve the issue
minikube start --vm-driver hyperv --hyperv-virtual-switch "Default Switch" --alsologtostderr -v=8

[2020-12-20 17:50] afbjorklund commented on #10011
Do other VMs run OK ?

[2020-12-20 18:10] mudasar187 commented on #10011
If i dont select any driver it uses docker, but I want to use VirtualBox. With Docker it works. I am using MacOS Big Sur :)

[2020-12-20 18:18] afbjorklund commented on #10011
Do you have any logs from minikube ?

[2020-12-20 18:19] mudasar187 commented on #10011
I am new on using `minikube`. How can I get the logs?

[2020-12-20 18:21] afbjorklund commented on #10011
https://minikube.sigs.k8s.io/docs/handbook/troubleshooting/

[2020-12-20 18:26] mudasar187 commented on #10011
[code]

[2020-12-20 18:29] owenthereal commented on #9991
I'm looking for this feature for Linux with the Docker driver mainly. A quick google shows that it is possible and easy to do: https://stackoverflow.com/questions/26331651/how-can-i-backup-a-docker-container-with-its-data-volumes.

Regarding other drivers, most of them have the snapshotting or suspending/resuming as you mentioned.

I would love to see if there is any such software. Any pointers?

[2020-12-20 19:11] afbjorklund commented on #9991
Something like https://github.com/vmware-tanzu/velero perhaps ?

[2020-12-20 19:17] afbjorklund commented on #10011
Nothing out of the ordinary, seems to just be "not running". If you run any other ISO (in the GUI), does it start OK ?

Not sure about the current status of VirtualBox on Mac OS 11, so just wondering if the hypervisor works properly

[2020-12-20 19:27] afbjorklund commented on #10011
There should also be a "VBox.log" under ~/.minikube/machines/minikube/minikube/Logs/

It should have some more details, why the VM startup was aborted (after only 4 seconds)

[2020-12-21 01:03] denverdino opened #10012 "Include registry mirror if specified in addon template yamls"
**Steps to reproduce the issue:**

1. Create minikube with
$ minikube start --vm=true --image-mirror-country=cn --registry-mirror=https://6udu7vtl.mirror.aliyuncs.com

2. $ minikube addons enable ingress
🔎  Verifying ingress addon...

❌  Exiting due to MK_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]

😿  If th

[2020-12-21 02:50] kmohanram opened #10013 "Audit not working"
**Steps to reproduce the issue:**

1. On a fresh install: `minikube start --extra-config=apiserver.audit-policy-file=/etc/kubernetes/addons/audit-policy.yaml --extra-config=apiserver.audit-log-path=/var/log/audit.log --driver parallels --extra-config=apiserver.authorization-mode=Node,RBAC`
2. Install hangs and finally terminates. I can ssh into minikube, and it appears that the apiserver never tak

[2020-12-21 05:44] vindhyachalboss opened #10014 "none: exit early with actionable error if there is less RAM than required"
minikube start --driver=none
* minikube v1.16.0 on Ubuntu 20.04
* Using the none driver based on user configuration

X Requested memory allocation (953MB) is less than the recommended minimum 1907M                                                                             B. Deployments may fail.

X The requested memory allocation of 953MiB does not leave room for system overh

[2020-12-21 07:48] afbjorklund commented on #10014
Like it says in the messages, you need "t3.small" or larger.

https://minikube.sigs.k8s.io/docs/start/

https://aws.amazon.com/ec2/instance-types/t3/

[2020-12-21 07:49] thilko commented on #9811
Same issue encountered here.

[code]

[2020-12-21 08:24] azhao155 opened #10015 "Run conformance test for k8s 1.20"
We have already run conformance test for V1.19, Need to run the same tests for multi nodes for v1.20

[2020-12-21 08:24] azhao155 commented on #10015
/assign @azhao155

[2020-12-21 08:24] azhao155 commented on #10015
@medyagh

[2020-12-21 09:39] afbjorklund opened #10016 "Memory requirements do not match kubeadm any longer (since 1.20)"
Minikube still has:

[code]

Kubeadm now has:

[code]

Since https://github.com/kubernetes/kubernetes/commit/e5bb66f89909861fc96717b0e9ca55197ec224b8
(and https://github.com/kubernetes/kubernetes/commit/c6975a77508fef3b03dcaf9f46e5118941a86724, from 2048M to 1700M)

`v1.20.0-alpha.0-252-ge5bb66f8990`
`v1.20.0-alpha.0-253-gc6975a77508`

----

Problem seen in #10014
[code]

So we now need to require

[2020-12-21 09:47] afbjorklund commented on #10014
The 953M was for the previous k8s versions

[2020-12-21 11:32] afbjorklund commented on #9811
That parse error is different, it's about the missing value for MTU

[2020-12-21 12:01] matanshukry opened #10017 "[UX~] Change default context and/or namespace"
1. `minikube start`
2. `cat ~/.kube/config`

**Problem:**
I'm restarting my computer frequently at which times I need to start minikube again.
Every time I start minikube, it "refreshed" the default namespace, by doing 2 things:

1. It sets the current kubectl context to be minikube
2. It sets the minikube namespace to default

I am fine with having minikube by default, but I need a different name

[2020-12-21 13:41] mudasar187 commented on #10011
[code]

[2020-12-21 15:04] afbjorklund commented on #10016
Already using 6000M as the default memory, if it is available on the host

[2020-12-21 15:35] mudasar187 commented on #10011
[code]

[2020-12-21 15:39] afbjorklund commented on #10011
This log doesn't show anything from the "aborted" state above

[2020-12-21 16:14] jgoeres opened #10019 "How to provide an image pull secret when using "--image-repository" with an internal registry that does not allow anonymous pull requests?"
After a bit of a hiatus, I have been revisiting the whole topic of running minikube from purely local sources (i.e., any images should come from our own private registry). I revisted the issue https://github.com/kubernetes/minikube/issues/8298 that I created in June. The first problem I am running into is that our internal registry does not support anonymous pull access.
In the above mentioned iss

[2020-12-21 17:19] mudasar187 commented on #10011
Thats the only log i have from `"VBox.log" under ~/.minikube/machines/minikube/minikube/Logs/`

[2020-12-21 18:59] #9956 closed

[2020-12-21 19:30] medyagh opened #10020 "fix minikube installation using gcloud snap"
https://cloud.google.com/sdk/docs/downloads-snap

gcloud components install minikube

[2020-12-21 20:59] #9835 closed

[2020-12-21 21:59] medyagh commented on #9992
@afbjorklund I wonder how larger our ISO becomes if we move off buildroot ?

[2020-12-21 22:45] mudasar187 commented on #10011
`libmachine: Error dialing TCP: ssh: handshake failed: read tcp 127.0.0.1:52570->127.0.0.1:52569: read: connection reset by peer` what can cause this issue?

[2020-12-21 22:50] medyagh commented on #9449
done this

[2020-12-21 22:50] #9449 closed

[2020-12-21 22:53] medyagh commented on #9156
@limberger do u mind checking the latest version of minikube ? we fixed the -log_dir flag, that would help with fixing this issue

[2020-12-21 23:10] spowelljr commented on #10020
/assign

[2020-12-22 00:18] #9938 closed

[2020-12-22 00:18] #9451 closed

[2020-12-22 06:09] steephengeorge opened #10022 "minikube addons enable registry-creds Failed"
I am trying to set up Minikube in my local Windows machine against AWS ECR by following the instructions from [here](https://minikube.sigs.k8s.io/docs/tutorials/configuring_creds_for_aws_ecr/).

I successfully ran

minikube addons configure registry-creds

But it failed in following step

 minikube addons enable registry-creds

minikube version: v1.15.1 with VirtualBox
commit: 23f40a012abb52eff365

[2020-12-22 09:03] afbjorklund commented on #9992
The guess is "double" (< 500M), but then again nobody actually cares...

The software that we add _on top_ of the base OS is so much bigger than the underlying image, so that it almost "disappears".

* You can see that the ubuntu:focal image is < 100M, but the kicbase image is almost a gigabyte (941M)

* Changing from the cache to the preload, adds another +176M. Or even yet another +412M with con

[2020-12-22 09:12] afbjorklund commented on #9992
I thought this presentation was interesting: https://landley.net/aboriginal/presentation.html

Or in other words, "OS development is hard, let's go bowling". See also https://distrowatch.com/

[2020-12-22 09:18] afbjorklund commented on #10020
I thought we deleted the minikube snap ?

[2020-12-22 09:29] afbjorklund commented on #10016
The general documentation says "2 GB or more of RAM" and "2 CPUs or more"

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#before-you-begin

It doesn't say how much needs to be available to kubernetes, code says 83% total.

If you start a generic cloud image of a suggested operating system, you get 1992M:

[code]

It is still below the amount **available**, b

[2020-12-22 11:42] connectsachit opened #10023 "Failed to connect to s-driver-svc.default.svc:"
I am running minikube on docker.

Doing sparksubmit on cluster mode and getting following error;
Exception in thread "main" java.lang.reflect.UndeclaredThrowableException
        at org.apache.hadoop.security.UserGroupInformation.doAs(UserGroupInformation.java:1713)
        at org.apache.spark.deploy.SparkHadoopUtil.runAsSparkUser(SparkHadoopUtil.scala:64)
        at org.apache.spark.executor.Coar

[2020-12-22 11:48] afbjorklund commented on #10016
Note that **all** values above are in "MiB" (mebibytes), if you want to be politically correct.

[code]

The same goes for "GiB", basically only hard drive manifacturers use thousands/millions.

So the kubeadm requirement is for 2097152 (`2 << 20`) bytes of total system memory...

[2020-12-22 12:14] afbjorklund commented on #10016
@tstromberg : this commit doesn't actually make too much sense: 54443bd3379c16c5b0244b3ab3135314fb4b57a3

It was always 1 "GiB" for docker-machine, and then it got bumped to 2 "GiB"

03cca006ee3a484a3a60d353b232e688e526d3c0 : `--memory 1024`

bc5fd9b560936eff19ba41355af8ecc37aa58315 : `--memory 2048`

It was only after that it got "lost in translation", to 936 and 2000 respectively.

And now those

[2020-12-22 17:38] jondkelley commented on #2661
Agreed, this issue is still an apparent bug to me and seems like the maintainers just silently closed this one without remarks...

[2020-12-22 18:15] #9879 closed

[2020-12-22 18:42] newtoniumx3 commented on #8728
Thanks very much I'll try

[2020-12-22 19:10] medyagh commented on #9812
info, seems like restating docker have fixed, but this issue still happens I am gonna re-open till we get to the botoom.

[2020-12-22 19:30] mconner commented on #8728
OK, I guess "ususally" is the operative word.  Today, tried that, and while it then started, it also reports that there are no pods, and helm reports there is no release (I am using helm to deploy opendistro elastic for learning/development purposes).  So it has blown away my helm release.  This includes the persistent volumes used by stateful sets. So I lost my data.   Is there any kind of fix fo

[2020-12-22 22:53] medyagh opened #10025 "reload does not work for "docker" inisde minikube"
tested in docker driver:
[code]

journalctl
[code]

status after:
[code]

[2020-12-22 22:59] medyagh commented on #10025
the source of problem seem to be this line

https://github.com/medyagh/minikube/blob/75cd17801287339a00efe44fbd451b4dbfadef86/pkg/provision/ubuntu.go#L112

[2020-12-22 23:04] azhao155 commented on #10025
/assign azhao155

[2020-12-22 23:47] medyagh opened #10026 "docker-env do not exit if can't restart docker"
this line should be changed to klog.Warnning
https://github.com/medyagh/minikube/blob/75cd17801287339a00efe44fbd451b4dbfadef86/cmd/minikube/cmd/docker-env.go#L191

this would be helpful for the workflows that run in a loop, and would hit the burst liimit of 5 times per miniute

[2020-12-23 01:04] azhao155 commented on #10025
https://github.com/kubernetes/minikube/pull/10027

[2020-12-23 01:19] azhao155 commented on #10026
/assign @azhao155

[2020-12-23 01:50] azhao155 commented on #10026
https://github.com/kubernetes/minikube/pull/10028

[2020-12-23 02:13] baiwfg2 commented on #9811
Yeah, I noticed that. Why is MTU empty ?

Here's my network interface.

![image](https://user-images.githubusercontent.com/5157680/102951278-65351f80-4507-11eb-8002-328826a2e212.png)

[2020-12-23 02:19] shastrula opened #10029 "Issue installing istio on minikube"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

minikube addons enable istio

❌  Exiting due to MK_ENABLE: run callbacks: running callbacks: [sudo KUBECONFIG=/var/lib/minikube/kubeconfig /var/lib/minikube/binaries/v1.19.4/kubectl apply -f /etc/kubernetes/addons/istio-default-profile.yaml: P

[2020-12-23 02:28] baiwfg2 commented on #9811
I noticed there're the following network, only bridge has MTU set when inspected

[code]

[code]

My docker version is still old ?

[2020-12-23 02:40] steephengeorge opened #10030 "addons"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-12-23 04:05] Ray-Eldath commented on #9811
I just found my `minikube start` errored with the same error, and I put them in a [GitHub Gist file](https://gist.github.com/Ray-Eldath/a2ce2bd495b2f307b1e872a49e4f577f).

seems it automatically download a Docker 20.10.0 for minikube, while my installed docker is Docker CE 17.12.1 since it's the latest version I can get for CentOS 7.3

any help will be great. many thx!

[2020-12-23 05:09] jasperf opened #10031 "Ingress Nginx SSH access"
**Steps to reproduce the issue:**

1. try ssh laradock@192.168.64.21 // based on minikube ip
2. get asked for password
3. enter it
4. fail access

[code]

Seems Ingress Nginx does work with port 80 and also that port 22 is open, but access fails and or port forwarding to pod with workspace container fails See question at https://discuss.kubernetes.io/t/ingress-nginx-ssh-access-and-forwarding-to-wo

[2020-12-23 06:11] medyagh commented on #10020
this one is for minikube that is is installed by gcloud
a glcoud that is installed by snap

we found the root cause of this issue, minikube creates certs in /tmp and then we wanna do "docker cp" the certs
but "Docker" in snap does NOT have acess to same /tmp as mnikube so it can not "docker cp" the cert file...

so for snap we might need to create our temp files in minikhbe home folder

[2020-12-23 06:17] medyagh commented on #9811
@fsladkey I think you are on to something that we missed.

we used not set the MTU for minikube but later versions we started setting the MTU for the custom networks.

is it possible that your minikube docker network was created by an older minikube ? and now the newer minikube is not liking that it can not get the MTU ?

does deleting minikube and re-creating it with latest version fix this probl

[2020-12-23 06:22] medyagh commented on #9811
@baiwfg2 do u mind sharing

[code]

[2020-12-23 06:27] medyagh commented on #9811
should we warn the user if their docke is older than 18.09.8 or warn them specifically for this version ?

[2020-12-23 06:30] medyagh opened #10033 "fix docker network inspect to handle networks without MTU"
while this is rate but it might happen (if user uses a bad docker verison once and then later upgrade docker but still have a stuck old minikube network)

to replicate, create a network without mtu

[code]

## Currrent behaviour "
using this code
https://github.com/medyagh/minikube/blob/9e5beb4e37298d296694cd7339740e336c62a653/pkg/drivers/kic/oci/network_create.go#L175-L176
it will run this:
[code

[2020-12-23 07:12] azhao155 commented on #10033
/assign azhao155

[2020-12-23 19:17] priyawadhwa commented on #10002
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-12-23 19:17] #10002 closed

[2020-12-23 19:20] priyawadhwa commented on #9981
Hey @xhardha thanks for opening this issue. I have a few questions that will help us debug this issue. Could you please provide:

* The operating system and driver you are using
* The output of `minikube addons enable ingress --alsologtostderr`
* The output of `kubectl get po -A` and `kubectl describe` on the ingress pod

Thank you!

[2020-12-23 19:26] priyawadhwa commented on #9972
Hey @dsharp-pivotal thanks for opening this issue. Just to clarify, it seems like your expected outcome depends on changing the functionality of `kubectl patch service`, is that what you intended?

I'm not very familiar with `minikube tunnel` but I wonder if there's something we could do there to stop tunneling if a service type is changed from `LoadBalancer` to something else. That could be enoug

[2020-12-23 19:27] spowelljr commented on #9991
/kind support

[2020-12-23 19:27] priyawadhwa commented on #9954
@daehyeok thank you for catching this and opening a PR to fix it!

[2020-12-23 19:29] medyagh commented on #9944
我注意到您的minikube版本太旧了，我不知道您是否对最新版本和Docker驱动程序有同样的疑问？

如果您安装docker您可以尝试

minikube delete
minikube start --driver docker

[2020-12-23 19:40] priyawadhwa commented on #10029
Hey @shastrula -- this issue appears to be a duplicate of https://github.com/kubernetes/minikube/issues/9311. I'm going to close this issue so we can centralize the discussion in one place. Could you please comment on that issue with the errors you're seeing?

It seems like users in that thread successfully ran:

[code]

could you please give that a try? Thank you!

[2020-12-23 19:40] #10029 closed

[2020-12-23 19:42] medyagh opened #10035 "create better error code for Network Create"
[code]

_Originally posted by @baiwfg2 in https://github.com/kubernetes/minikube/issues/9811#issuecomment-748493691_

[2020-12-23 19:42] priyawadhwa commented on #10026
Hey @azhao155 thank you for taking this issue on!

[2020-12-23 19:43] fsladkey commented on #9811
Hmm, in my case, it's running on CI so the environment should be "fresh" every time. I was able to get around the error by upgrading docker client version before running minikube as suggested by other helpful people in the thread.

[2020-12-23 19:45] spowelljr commented on #9910
Good request!

/priority important-soon

[2020-12-23 19:48] spowelljr commented on #9970
/priority important-soon

[2020-12-23 19:50] medyagh commented on #10005
Thank you for taking the time to create this issue,
I am curious if you have KVM installed or Podman ?
 one thing I can suspect is that minikube is overlapping with a network that is in KVM or podman

 do you mind providing the output of the following commands ?
[code]
and also
```virsh -c qemu:///system list --all```
and aslo

```virsh net-list```

and also
[code]

[2020-12-23 19:50] priyawadhwa commented on #10023
Hey @connectsachit thank you for opening this issue.

This seems like a bug in a Java app, rather than a minikube specific issue. Is there something about minikube that isn't working as you would expect?

[2020-12-23 19:55] medyagh commented on #9962
thanks for creating this issue @zmykevin . do u mind sharing

"docker info"

and also minikube delete -
then try the a differen cgroup ?

minikube start --force-systemd

[2020-12-23 19:58] spowelljr commented on #9910
/help wanted

[2020-12-23 19:59] spowelljr commented on #9910
/"help wanted"

[2020-12-23 20:00] priyawadhwa commented on #9921
Hey @LY1806620741 thank you for opening this issue. I believe it may have been fixed by https://github.com/kubernetes/minikube/pull/9875. Could you please try upgrading to our latest release of minikube, v1.16.0, to see if that resolves this issue?

Latest release: https://github.com/kubernetes/minikube/releases/tag/v1.16.0

嘿 @LY1806620741 感谢您打开此问题。我相信它可能已经通过 https://github.com/kubernetes/minikub

[2020-12-23 20:03] medyagh commented on #9971
@mashanivas that is the same password as your windows admin password,
unfortunately the tunnell on windows needs administration

you can also do is, open your powershell in adminstrative mode

[2020-12-23 20:04] spowelljr commented on #6280
/assign @ilya-zuyev

[2020-12-23 20:12] medyagh commented on #9992
it would be cool if we could have kuberentes org adopt our Buildroot OS and invest it as community , and minikube could be one of the users of it ? could we start that conversation ?

It has been good work put into it for years and it has been battletested in many environments for years, wdyt?

[2020-12-23 20:44] afbjorklund commented on #10016
A machine with a memory allocation of 1024 doesn't seem to even **boot** anymore.

[code]

Most likely the default (90% total) ramdisk now uses too much memory, for 1024.

[code]

[2020-12-23 20:56] #8374 closed

[2020-12-23 20:58] afbjorklund commented on #10016
My bad, a VM with 1700M "hardware" will still warn - due to having 1642M total...
It is misleading, due to comparing hardware sizes (VM) with software sizes (free).

And I still don't where this 2200M came from, or if 2048M is still supposed to work.
Could go with 2000M if we want to have "odd" hardware sizes, same difference ?

---

Currently  we "recommend" 2.25 GiB (2304) for the Docker Desktop

[2020-12-23 20:59] AbhishekPrathi opened #10036 "minikube start --driver=docker | Template parsing error: template: :1: unexpected "=" in operand"
1.minikube start --driver=docker

**Full output of `minikube start` command used, if not already included:**
minikube v1.16.0 on Centos 7.9.2009 (xen/amd64)
* Using the docker driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Pulling base image ...
* Downloading Kubernetes v1.20.0 preload ...

* Creating docker container (CPUs=2, Memory=2200MB) ...
* P

[2020-12-23 21:38] afbjorklund commented on #9992
I see there is more interest in the vanilla images, or in some proprietary LinuxKit image like with Docker Desktop.

But the discussion should definitely be had, that was (more or less) why I opened this issue in the first place...

I _like_ the Tiny Core Linux (for docker-machine) or Buildroot (for minikube) images, mostly on technical merits.

But if has been hard to sell that, since people (and

[2020-12-23 21:50] medyagh opened #10038 "add minikube tests to prow"
https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md#how-to-configure-new-jobs

[2020-12-23 21:51] medyagh commented on #10025
fixed by https://github.com/kubernetes/minikube/pull/10027

[2020-12-23 21:51] #10025 closed

[2020-12-23 21:53] #10016 closed

[2020-12-23 22:38] AbhishekPrathi commented on #10036
The issue got resolved with a simple command
docker network rm [NETWORK] and then minikube start --driver=docker

[2020-12-23 22:39] AbhishekPrathi commented on #10036
The issue got resolved with a simple command
**docker network rm [NETWORK]** and then **minikube start --driver=docker**

[2020-12-23 22:39] #10036 closed

[2020-12-23 23:10] medyagh opened #10039 "minikube.exe in WSL2 is using windows home"
as seen in internal issue

cloud code was failing because it could not run `minikube docker-env` command but it turns out
running minikube.exe docker-env doesnt work but without .exe works

because the .exe looks for a different minikubehome

[code]

this causes confusiion for users. we need to fix this.
we shoudl either make the .windows binary .exe to work in WSL2 or we should warn the user abou

[2020-12-23 23:38] un-fuf-a-doo opened #10040 "KVM `Hook script execution failed: internal error: Child process`"
1.  First, I probably messed up by trying to install Kubernetes the long way, then deleting/removing/resetting it.
2. Command: minikube start --driver=kvm2

**Full output of failed command:**
[code]
<details>
As stated in number 1 above, I tried to install Kubernetes the long way instead of keeping it simple by using minikube. Now I think I broke it and need some help getting it to start. My serve

[2020-12-24 00:04] medyagh opened #10041 "implement operation auditing for minkube (--user) flag"
there should be a way to know what user did what operition on a minikube cluster

(to be used by multiple tools that use minikube at the same time
skaffold, cloud code, cloud run, cloud shel ....)

[code]

if no user was provided, it should default to the OS user name

[2020-12-24 00:04] spowelljr commented on #10041
/assign

[2020-12-24 00:52] medyagh commented on #10040
Thank you for taking the time to create this issue, do you mind providing the output of the following commands ?  I suspsect your KVM installation is not healthy

[code]
and also
```virsh -c qemu:///system list --all```
and aslo

```virsh net-list```

I am curious have u installed minikube or kvm by snap ? I see some snap path in ur file paths.

btw I wonder  do u have docker installed ? have u tr

[2020-12-24 01:53] medyagh commented on #9224
I installed the Preview Docker for M1 and it doesnt work for me https://github.com/docker/for-mac/issues/5185

[2020-12-24 02:59] baiwfg2 commented on #9811
@medyagh Here's my operation:
[code]

Thanksfully after I deleted the minikube network, it seemed to be OK ? But why was minikube network not created ?

[2020-12-24 03:00] lingsamuel opened #10043 "Spinner mess up minikube-pr-bot report"
https://github.com/kubernetes/minikube/pull/9920#issuecomment-747538974

![image](https://user-images.githubusercontent.com/14567045/103056184-35ede380-45d7-11eb-90fb-62b9bdeb5eda.png)

[2020-12-24 03:15] baiwfg2 commented on #9811
I did the above on another host that had installed docker 19.03. Here's output of `minikube start`:
[code]

And this time minikube network was created. Anyway deleting the previous network minikube created by older version is correct @medyagh

[2020-12-24 03:42] studyzhanglei commented on #8722
Thank you, it works on my machine

[2020-12-24 03:59] lingsamuel opened #10044 "Multi node network problem with driver kvm2"
Start minikube:

[code]

Test yaml comes from #9838

[code]

Then test inside pod:

[code]

[code]

Test in host machine:

[code]

[code]

[2020-12-24 04:29] lingsamuel opened #10045 "sometimes K8s still try to pull cached images"
When I am verifying #10044, I found sometimes k8s still try to pull cached images.

![image](https://user-images.githubusercontent.com/14567045/103060568-84a17a80-45e3-11eb-8a6f-e30e56d0fedc.png)

[2020-12-24 04:34] lingsamuel commented on #10044
/kind bug
Cluster with calico CNI works well. (`minikube-v1.16.0 start -n 2 --cni='calico'`).

[2020-12-24 04:54] lingsamuel commented on #10045
I am sure these images are loaded into the host machine (checked by `docker images`). Not sure why it happens. I guess maybe the pod is started before the images are loaded? If remove the pod, the newly created pod recognizes existed images correctly.

[2020-12-24 04:55] lingsamuel commented on #10045
/kind bug

[2020-12-24 05:05] lingsamuel commented on #10044
:joy: because #10045 the CNI plugin not running
/close

[2020-12-24 05:05] #10044 closed

[2020-12-24 06:52] un-fuf-a-doo commented on #10040
Absolutely.  Glad to help out where I can.

**$ virt-host-validate**
[code]
**$ virsh -c qemu:///system list --all**
[code]
**$ virsh net-list**
[code]

I installed minikube using the debian installer.  I may have used snap to initially install and use microk8s. Which is how I ended up here. Regarding using the docker driver.  I have not yet tried the docker driver, but will definitely give it a t

[2020-12-24 08:08] http403 commented on #9339
I got the same problem but in Docker. I tried the second method noted by OP which seems work but actually doesn't. The api server not long after applying the command.

Partial log from `minikube logs`

[code]
I believe the problem is that the inner docker/container runtime isn't able to mount the the file to the corresponding container thus causing the crash.

[2020-12-24 09:02] lingsamuel opened #10047 "`cache add` should use "latest" automatically"
**Steps to reproduce the issue:**

1. `docker pull nginx && minikube cache add nginx`
2. start a cluster: `minikube start -v=5 --alsologtostderr`. The log contains:
[code]
3. inside container/vm, the image has no tag

![image](https://user-images.githubusercontent.com/14567045/103076513-dad4e480-4608-11eb-8793-3d234830ebf2.png)

The image is `nginx:latest`:
![image](https://user-images.githubuserc

[2020-12-24 09:06] afbjorklund commented on #9868
We don't _call_ the CRI functions yet (like populateCRIConfig), so we don't get a crictl.yaml for instance:

`image connect using default endpoints: [unix:///var/run/dockershim.sock unix:///run/containerd/containerd.sock unix:///run/crio/crio.sock]. As the default settings are now deprecated, you should set the endpoint instead. `

[2020-12-24 09:19] lingsamuel commented on #10045
potential reason https://github.com/kubernetes/minikube/blob/3dac483db9c5511056865c448be3121f97a6a796/pkg/minikube/machine/cache_images.go#L97-L106

[2020-12-24 09:29] #9981 closed

[2020-12-24 10:35] lingsamuel commented on #10047
Reason: library go-containerregistry writes tag without `latest`:

[code]

[code]

[2020-12-24 19:58] cr1st1p commented on #7923
if using btrfs, what I would try *first thing* is to see if you're not using a 'tree' style layout instead of a flat one.
run something like "btrfs subvolume list /" and if you have  a dedicated entry for var/lib/kubelet for example, then it is a tree style It looks like this is still is a problem in various parts of code related to kubernetes.
I just bumped into a similar problem with kubelet not

[2020-12-24 22:49] shastrula commented on #10029
It worked! Thank you!

[2020-12-25 04:38] rnantes commented on #4621
Im getting the same issue with minikube v1.16.0 on Darwin(macOS) 11.1 using the hyperkit driver

[2020-12-25 06:48] Lettino commented on #10029
Thanks!!!! It worked

[2020-12-25 10:27] LY1806620741 commented on #9921
Hey @priyawadhwa , minikube 1.16.0 still has this problem.
now,I have one master name "minikube" and "m2"、 "m3" node,
hue runing on m2,postgres on m3
now,hue throw:
[code]
others info:
[code]
**`minikube logs`命令的输出**： <details>
[code]
</details>

[2020-12-25 11:34] vrybas commented on #9116
@medyagh having this flag would be nice. Is there a temporary solution to make minikube running with docker driver inside Virtualbox VM listen for all requests?

[2020-12-25 17:37] #8284 closed

[2020-12-26 09:15] sonichappy commented on #9981
i'm facing the same problem, and below is the pod state.

kube-system            ingress-nginx-admission-create-2c9d2        0/1     Completed           0          62m
kube-system            ingress-nginx-admission-patch-c7nrt         0/1     ErrImagePull        0          62m
kube-system            ingress-nginx-controller-558664778f-ljwjd   0/1     ContainerCreating   0          62m

[2020-12-26 11:14] blueelvis commented on #9362
@medyagh - Can this be closed now?

[2020-12-26 15:18] sadlil commented on #9881
Found out its not an issue with calico or other CNIs, its being caused by a Kubelet misconfiguration. https://github.com/kubernetes/minikube/pull/10049 Please try out the solution from there and let me know if this resolves your issue.

[2020-12-26 19:02] #7070 closed

[2020-12-27 07:03] Allah-The-Dev opened #10050 "minikube delete giving error : X Exiting due to GUEST_PROFILE_DELETION: CreateFile C:\Users\username\.minikube\machines\minikube\boot2docker.iso: Access is denied., even though I'm running this command in administrator shell"
**Steps to reproduce the issue:**

1. minikube start --cpus=4 --memory=8000M --driver=hyperv
2. minikube delete

**Full output of failed command:**
* Removing C:\Users\username\.minikube\machines\minikube ...

X Exiting due to GUEST_PROFILE_DELETION: CreateFile C:\Users\username\.minikube\machines\minikube\boot2docker.iso: Access is denied.
*
* If the above advice does not help, please let us know

[2020-12-27 07:43] maguno opened #10051 "Minikube does not start, believes docker is not working"
Minikube does not start after uppgrading(apt upgrade) system and rebooting. Minikube output indicates it believes docker is not running but running docker images using docker works fine from command prompt. Initially started on minikube 1.11 but upgrading to minikube latest did not resolve the issue.

**Steps to reproduce the issue:**

1. magnus@debian:~$ minikube start
😄  minikube v1.16.0 on Debi

[2020-12-27 08:29] bkaran08 opened #10052 "Error while connecting minikube VM with Local Host | need help to set IP address in minikube VM"
C:\Windows\system32> minikube start
* minikube v1.15.1 on Microsoft Windows 10 Enterprise 10.0.18363 Build 18363
* Using the hyperv driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Updating the running hyperv "minikube" VM ...
! StartHost failed, but will try again: provision: IP not found
* Updating the running hyperv "minikube" VM ...
* Failed to star

[2020-12-27 08:36] afbjorklund commented on #10051
Minikube does not cgroups v2 yet.
`Dec 27 07:31:39 minikube dockerd[931]: failed to start daemon: Devices cgroup isn't mounted`

Please use a VM driver, or change the host back to cgroups v1

[2020-12-27 08:47] azhao155 commented on #10033
Has pr: https://github.com/kubernetes/minikube/pull/10053

[2020-12-27 18:16] gunterze opened #10055 "my deployed app errors: slapadd: could not add entry dn="cn=config""
**Steps to reproduce the issue:**
1. `$ minikube start --driver=docker`
[code]
2. `$ kubectl create deployment ldap --image=dcm4che/slapd-dcm4chee:2.4.50-23.0`
[code]
3. `$ kubectl get pod`
[code]
4. `$ kubectl logs ldap-7ddbb699cc-gppvp`
[code]

**Details:**
Failure occurs on [invoke of](https://github.com/dcm4che-dockerfiles/slapd/blob/master/slapadd.sh#L3)
[code]
of Alpine Linux Package [openld

[2020-12-27 18:25] cxsu commented on #7300
My solution

[code]

In my case, I installed minikube by Chocolatey. But it worked as below.
Even though I ran commands on PowerShell, Chocolatey shell was executed!

![image](https://user-images.githubusercontent.com/61637119/103177029-d420c880-48b9-11eb-9a3c-979b20882ae4.png)

So I found a process that uses the minikube directory,

![image](https://user-images.githubusercontent.com/61637119/1031

[2020-12-27 18:43] afbjorklund commented on #10051
Also, it seems that your kicbase image is quite old (2020-04-27): `gcr.io/k8s-minikube/kicbase:v0.0.10`

[2020-12-27 19:00] afbjorklund commented on #9989
This includes switching from github.com/docker/machine/libmachine/provision to k8s.io/minikube/pkg/provision

This always installs docker, by calling the configured get.docker.com script version (InstallURL):

https://github.com/docker/machine/blob/7d42fed1b770/libmachine/provision/ubuntu_systemd.go#L99

This currently doesn't provision anything, but assume that everything is in the "base" image:

[2020-12-27 19:13] afbjorklund commented on #9989
Note that Buildroot doesn't have any package manager (like dpkg), _by design_:
https://buildroot.org/downloads/manual/manual.html#faq-no-binary-packages

The easiest workaround is probably doing something like the preloaded images.
That is, make a _separate_ buildroot build - that creates binary archives (tarballs) ?

[code]

[code]

Then these tarballs need to be hosted somewhere, again like the

[2020-12-27 19:48] afbjorklund commented on #9989
Here are the matching sections, that would be removed from the kicbase:

    clean-install docker-ce docker-ce-cli containerd.io
    echo "Installing buildkit ...

    clean-install libglib2.0-0
    clean-install containers-common catatonit conmon containernetworking-plugins cri-tools podman-plugins
    clean-install cri-o cri-o-runc
    clean-install podman

Note that docker and containerd are _s

[2020-12-28 05:29] Nellyoj opened #10056 ".kube directory: permission denied"
Exiting due to GUEST_START: Failed kubeconfig update: writing kubeconfig: Error creating directory: /Users/nelsonojong/.kube: mkdir /Users/nelsonojong/.kube: permission denied

😿  If the above advice does not help, please let us know:
👉  https://github.com/kubernetes/minikube/issues/new/choose

[2020-12-28 10:38] vrybas commented on #9116
@surensinghkhatana were you able to make minikube to listen to external requests?

[2020-12-28 13:12] surensinghkhatana commented on #9116
@vrybas I decided to on with microk8s ..

[2020-12-28 17:59] agentreno commented on #8762
@jordeu nice fix, I've tested and it works for me also :+1:

[2020-12-28 18:59] priyawadhwa commented on #10030
Hey @steephengeorge  -- I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kub

[2020-12-28 19:01] priyawadhwa commented on #10022
Hey @steephengeorge looks like this is a known issue with minikube version 1.15.x

https://github.com/kubernetes/minikube/issues/9893

This should have been fixed by https://github.com/kubernetes/minikube/pull/9733

Could you try upgrading to our latest release, [v1.16.0](https://github.com/kubernetes/minikube/releases/tag/v1.16.0), to see if that resolves the issue? Thank you!

[2020-12-28 19:05] priyawadhwa commented on #10013
Hey @kmohanram thanks for opening this issue. I have a couple questions:

1. Does a fresh`minikube start` successfully run, without any additional apiserver configuration? If it does, that will help us narrow this down to the audit not working
2. If `minikube start` alone fails, does `minikube start --force-systemd` pass?

[2020-12-28 19:15] priyawadhwa commented on #10012
Hey @denverdino thank you for opening this issue, it looks like a bug. We should be handling registry mirror if specified in the addon yamls.

We would do this by adding `RegistryMirror` to our options for generating the template here:

https://github.com/kubernetes/minikube/blob/92511decd0ece326701c385f1c642d11af092d16/pkg/minikube/assets/addons.go#L486

And then adding `{{.RegistryMirror}}` in t

[2020-12-28 19:17] priyawadhwa commented on #10010
Hey @scpxin thank you for opening this issue. Based on the error, it looks like this is failing because no External vswitch or
Default Switch was found. Were you able to consult https://docs.docker.com/machine/drivers/hyper-v/ to try and set one up?

嘿 @scpxin 感谢您打开此问题。根据错误，这似乎是失败的，因为没有外部vswitch或
找到默认开关。您是否可以查阅 https://docs.docker.com/machine/drivers/hyper-v/ 尝试进行设置？

[2020-12-28 19:25] priyawadhwa commented on #10056
Hey @Nellyoj

This is probably failing because the `Users/nelsonojong/.kube` directory is owned by another user or was created by sudo.

Could you try:

[code]
If that doesn't fix it, do you mind sharing the output of:

[code]

Thank you!

[2020-12-28 19:25] priyawadhwa commented on #10056
Ref: https://github.com/kubernetes/minikube/issues/5417#issuecomment-533580130

[2020-12-28 19:27] priyawadhwa commented on #10052
Hey @bkaran08 does this also happen on a freshly created cluster?

Could you try the following:

[code]

to see if that fixes it?

If you have docker installed, I'd also recommend switching to the docker driver because that is our recommended driver. You can do it by running `minikube start --driver docker`.

Let me know what results you get. Thank you!

[2020-12-28 19:29] priyawadhwa commented on #10047
Hey @lingsamuel thanks for opening this issue. I suppose we could automatically append `:latest` onto an image if a tag isn't provided. If anyone is interested in taking this issue on, feel free to comment /assign.

[2020-12-28 19:30] priyawadhwa commented on #10043
Hey @lingsamuel thank you for opening this issue. I'm going to close it as a duplicate of #9939 , which is our solution for improving the output here.

[2020-12-28 19:30] #10043 closed

[2020-12-28 19:32] priyawadhwa commented on #10040
Hey @un-fuf-a-doo thanks for your response! Glad the docker driver is working out.

I'm not sure why kvm2 isn't, since the output you provided seems correct. Does a delete and start fix it?

[code]

[2020-12-28 19:51] medyagh opened #10057 "Run functional test and measure on windows GCP"

[2020-12-28 20:24] Nellyoj commented on #10056
nelsonojong@Nelsons-MacBook-Pro ~ % minikube start --vm-driver=hyperkit
😄  minikube v1.16.0 on Darwin 11.1
✨  Using the hyperkit driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🏃  Updating the running hyperkit "minikube" VM ...
🐳  Preparing Kubernetes v1.20.0 on Docker 20.10.0 ...\ 🤦  Unable to restart cluster, will reset it: getting k8s client: client

[2020-12-28 20:25] Nellyoj commented on #10056
i was trying to install vm driver=hyperkit for the first time on my machine. Here is the error message

[2020-12-28 20:28] kmohanram commented on #10013
Yes, a fresh `minikube start` works perfectly with no issues that I have encountered so far. It fails on a fresh start when run with the additional apiserver configuration (as seen in the command line invocation when I filed the issue). I did ssh into minikube to grab the kube-apiserver.yaml file and here the result of a diff between the default and audit configs:

[code]
An additional thought: I

[2020-12-28 22:30] un-fuf-a-doo commented on #10040
Hey.  No it still fails, the full output with verbosity enabled is below.  I do already have a VM running under KVM, nothing special, just a debian 10 OS running Graylog for log collection. Could libvirt be interfering? Or might this be as simple as a permissions issue?

[code]

[2020-12-29 08:15] kullwindergit commented on #3974
Facing same issue even after disabling 'secure boot' on below environment
Ubuntu 18.04.5 (as windows subsystem for linux)
minikube version: 1.16.0
virtualbox 5.2.42

[2020-12-29 08:22] kullwindergit commented on #3974
followed: https://tecadmin.net/install-virtualbox-on-ubuntu-18-04/ to attempt installation of virtualbox 6.1 but at the end of install process throws error:

This system is currently not set up to build kernel modules.
Please install the Linux kernel "header" files matching the current kernel
for adding new hardware support to the system.
This system is currently not set up to build kernel modules

[2020-12-29 09:21] springcomefromprogrammingtheworld opened #10059 "minikube addons enable ingress fails"
**重现问题所需的命令**：minikube addons enable ingress

**失败的命令的完整输出**：<details>
🔎  Verifying ingress addon...

❌  Exiting due to MK_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]

😿  If the above advice does not help, please let us know:
👉  https://github.com/kubernetes/minikube/issues/new/choose

</details>

**`minikub

[2020-12-29 09:40] lingsamuel commented on #10059
run `kubectl get pod -n kube-system` and make sure there is no error (e.g. ErrImagePull).

Use `minikube cache add image:tag` to add a local image to minikube if required images pull error.

[2020-12-29 09:51] lingsamuel commented on #10059
Or you can start cluster by adding `--image-mirror-country cn` to use aliyun mirror.

[2020-12-29 15:37] hourglasshoro opened #10060 "`cache reload` does not appear to be working properly"
**Steps to reproduce the issue:**

1. Pull the alpine:3.11 and alpine:3.12 image and tag alpine:3.11 as test
<img width="724" alt="スクリーンショット 2020-12-30 0 23 01" src="https://user-images.githubusercontent.com/46660741/103294511-584b8b00-4a35-11eb-937a-f11f2f279cf9.png">

2. Add a cache with the following command
```minikube cache add alpine:test```

3. Enter the minikube container and check if the

[2020-12-29 17:38] mogren commented on #8668
I can add that the file is not empty, it is just missing a newline. Adding a newline to '/etc/debian_version' fixed the issue for me.

[2020-12-29 17:49] afbjorklund commented on #10060
It only looks at the repo:tag, so it will only see that "alpine:test" is already there.

There is no matching "alwaysPullLatest" option (yet?), it assumes unique tags

[2020-12-29 18:09] daehyeok opened #10061 "Potential profile naming conflict with multi-node cluster."
Minikube doesn't have a restriction on profile name. It have a potential conflict with multi-node cluster.
E.g) create test-profile with multiple node will fail if test-profile-m02 profile already exists.

Naming rule for profile or check routine should be added before create new profile(node).

[code]

[2020-12-29 19:51] Dentrax opened #10062 "Getting "Failed to compile BPF text" on "Running eBPF Tools in Minikube" demo"
**Steps to reproduce the issue:**

0. Follow the [Running eBPF Tools in Minikube](https://minikube.sigs.k8s.io/docs/tutorials/ebpf_tools_in_minikube/) demo step by step
1.
[code]

2. Download and extract necessary kernel headers
[code]
3. Run BCC tools as a Docker container
[code]

**Full output of failed command:**
[code]

[2020-12-29 21:24] priyawadhwa commented on #10045
Hey @lingsamuel -- I'm wondering if maybe those images are in the cache from a previous iteration of minikube. What is the ouptut of:

[code]

[2020-12-29 21:28] priyawadhwa commented on #10062
Hey @Dentrax thank you for opening this issue. I just tried the tutorial on mac OS with the hyperkit driver, with minikube v1.16.0-beta.0, and it seems to be working as expected.

What operating system and driver did you run on?

[2020-12-29 22:07] medyagh commented on #10061
@daehyeok that is definatly a problem, and I think we should not allow that, how aboutt adding a check in our validate profile name that we already do, to ensure this doesnt happen ?

[2020-12-29 22:10] #9881 closed

[2020-12-30 00:35] sharifelgamal commented on #10057
[code]

[2020-12-30 00:51] hourglasshoro commented on #10060
I see, so even if the Image ID changes, if the repo:tag is the same, reloading won't help, and if you want to use a different image, you have to add a unique tag?

So when is reload used?

[2020-12-30 02:27] lingsamuel opened #10063 "Make addon yaml templates image name configurable"
Some registry may have different image name rule, for example:
aliyun ingress image name: `registry.cn-hangzhou.aliyuncs.com/google_containers/nginx-ingress-controller:v0.40.2`, but in the template:

https://github.com/kubernetes/minikube/blob/92511decd0ece326701c385f1c642d11af092d16/deploy/addons/ingress/ingress-dp.yaml.tmpl#L52

Notice the image name `ingress-nginx/controller` and `nginx-ingress

[2020-12-30 02:27] lingsamuel commented on #10059
xref #10063

[2020-12-30 02:31] lingsamuel commented on #10045
@priyawadhwa In the upper right corner of the picture

[2020-12-30 02:54] springcomefromprogrammingtheworld commented on #10063
I used the command: minicube cache add registry.cn - hangzhou.aliyuncs.com/google_ containers/nginx-ingress-c ontroller:v0.40.2

Then run the command: minicube cache list
result: [spring@bogon .minikube]$ minikube cache list
registry.cn-hangzhou.aliyuncs.com/google_containers/nginx-ingress-controller:v0.40.2

Try the command again: minicube addresses enable address

result:[spring@bogon .minikube]

[2020-12-30 02:56] lingsamuel commented on #10063
@springcomefromprogrammingtheworld It's a bug currently I think... you may need to tag the image as `us.gcr.io/k8s-artifacts-prod/ingress-nginx/controller:v0.40.2` or `registry.cn-hangzhou.aliyuncs.com/google_containers/controller:v0.40.2` if you are using aliyun as image repository.
Then run `minikube cache add us.gcr.io/k8s-artifacts-prod/ingress-nginx/controller:v0.40.2`.

[2020-12-30 03:04] springcomefromprogrammingtheworld commented on #10063
[spring@bogon .minikube]$ kubectl -n kube-system describe deploy ingress-nginx-controller | grep Image
    Image:       registry.cn-hangzhou.aliyuncs.com/google_containers/controller:v0.40.2
.......I feel like I've missed some steps

[2020-12-30 03:07] lingsamuel commented on #10063
@springcomefromprogrammingtheworld Currently the template is wrong, it renders `registry.cn-hangzhou.aliyuncs.com/google_containers/controller:v0.40.2`, notice the last part `controller:v0.40.2`, the image pulled from aliyun is `nginx-ingress-controller:v0.40.2`

[2020-12-30 03:20] springcomefromprogrammingtheworld commented on #10063
[spring@bogon .minikube]$ minikube cache list
.
registry.cn-hangzhou.aliyuncs.com/google_containers/nginx-ingress-controller:v0.40.2

Is that right? A little confused. Are you Chinese?

[2020-12-30 03:21] springcomefromprogrammingtheworld commented on #10063
@lingsamuel

[2020-12-30 03:42] lingsamuel commented on #10063
run:
[code]

[2020-12-30 06:35] Dentrax commented on #10062
I forgot to add some version information. 🙈 _(Maybe we should add a part of this in the issue template?)_

[code]

[2020-12-30 08:34] afbjorklund commented on #10060
There might be a bug (change of behaviour) in the "cache" command, after adding the preload...

It would also add any missing images, or any that was added after the cluster was initially created

[2020-12-30 09:16] afbjorklund commented on #10060
Problem here is that an image on disk doesn't _have_ any Id or Digest, that is added by the daemon/registry.

So you need to either load it locally (eew) or talk to the registry (eeew), whichever is worst (we do both of them).

There is also some compatibility issues with `crane` and the library behind it: https://github.com/google/go-containerregistry/issues/890

At the moment, we can't even agre

[2020-12-30 09:17] ganchandrasekaran opened #10064 "minikube offline deployment metric-server addon imagePullPolicy is set to Always"
**Steps to reproduce the issue:**

1.Minikube deployment in offline environment. Where the VM has no access to internet.
2. Trying to make metric-server Addon work.
3. Add cache manually for metric-server image.
`minikube cache add k8s.gcr.io/metrics-server-amd64:v0.2.1`
4. Still metric-server pod is crashing
`kube-system   metrics-server-77fddcc57b-4rvsx    0/1     ImagePullBackOff   0          3

[2020-12-30 09:17] srilumpa opened #10065 "Docker minikube network not automatically removed at minikube stop or start"
Hi,

I upgraded this morning my minikube cluster from version 1.14.0 to 1.16.0 and it seems the docker network usage is not fully handled. I was unable to restart my minikube cluster without manually deleting the docker network created by minikube.

**Steps to reproduce the issue:**

0. *Having a running minikube clusterwith minikube in version 1.14.0*
1. `minikube stop && minikube start`

**Full

[2020-12-30 09:21] afbjorklund commented on #10065
This is a side-effect of #10033, it is trying to inspect the old network - and then fails to parse the results.

[2020-12-30 09:52] springcomefromprogrammingtheworld commented on #10063
@lingsamuel

oh my god

[2020-12-30 09:53] springcomefromprogrammingtheworld commented on #10063
[spring@bogon google_containers]$ docker tag registry.cn-hangzhou.aliyuncs.com/google_containers/nginx-ingress-controller:v0.40.2 registry.cn-hangzhou.aliyuncs.com/google_containers/controller:v0.40.2
[spring@bogon google_containers]$ docker images
REPOSITORY                                                                     TAG                 IMAGE ID            CREATED             SIZE
registr

[2020-12-30 11:50] mativillagra commented on #9364
@sadlil Thanks I will try it out respond back, sorry for the late notice on your comment.

[2020-12-30 14:08] afbjorklund commented on #9992
I fail to see how this is a support question.

[2020-12-30 14:22] afbjorklund commented on #9992
I like this idea, and I think that we could start such a project. But it is still rather different from the rest of Minikube.

In my own experiments I also wanted to include _everything_ needed for `kubeadm`, which conflicts somewhat with:

1) Being able to choose container runtime
2) Being able to choose kubernetes version

Since Buildroot doesn't have a package manager, it would mean there would

[2020-12-30 17:34] afbjorklund opened #10068 "No vendor packages available for buildkit installation"
Unfortunately there are no packages available for "buildkit" yet, only for containerd.

This makes a lot more cumbersome to install and maintain it, using only the tarballs.

Compare:

[code]

With:

[code]

See https://github.com/moby/buildkit/issues/1794

----

It would be even better if upstream provided _individual_ deb packages, but beggars can't be choosers...

docker-ce
* /usr/bin/dockerd

[2020-12-30 19:38] daehyeok commented on #10061
Sure. Give me some time :)

[2020-12-30 20:22] lboening commented on #10052
[code]

I had identical problem. I will use docker driver.

[2020-12-30 21:55] #10020 closed

[2020-12-30 23:28] daehyeok opened #10069 "`node list` command not print all nodes."
`minikube node list` command only print nodes in default profile. It should print all nodes regardless of their profile.
Also, Implement additional argument to filter nodes by profile name will be good.

[code]

[2020-12-30 23:33] #10047 closed

[2020-12-31 00:02] azhao155 commented on #9399
/assign @azhao155

[2020-12-31 00:14] medyagh opened #10070 "kvm add solution message for when user needs to reload the terminal to get libvirt permissions"
when user adds their user to the libvir group, they still need to reload the terminal,

[code]

minikube should instead of that error, give users Advice that Might help if we get that specific error

https://github.com/medyagh/minikube/blob/199ea3425b8343e533d8d1982ad750a8dab7d59e/pkg/minikube/reason/known_issues.go#L1003

additional information @spowelljr

[code]

[2020-12-31 04:07] 123raji opened #10071 "Trying to install minikube in a Virtual machine in the cloud, and my Laptop but the process was unsucessful."
**Steps to reproduce the issue:**

minikube start --driver=none

1.
2.
3.

**Full output of failed command:**
* minikube v1.16.0 on Ubuntu 18.04
* Using the none driver based on user configuration

X Requested memory allocation (953MB) is less than the recommended minimum 1907MB. Deployments may fail.

X The requested memory allocation of 953MiB does not leave room for system overhead (total syste

[2020-12-31 06:15] hourglasshoro commented on #10060
@afbjorklund
Thank you for your kindness.
I see that you have to add Id or Digest  to the image list, not just repo:tags.

As you said, it's short term, but I'm going to try to implement it this way, but I've never contributed to minikube, so I don't know the difficulty level.
Would it be better to wait quietly for the Id or Digest  to be added?

[2020-12-31 06:22] #6721 closed

[2020-12-31 06:23] #9954 closed

[2020-12-31 16:59] jjbapt21 opened #10073 "Error restarting cluster: waiting for apiserver: apiserver process never appeared"
**Steps to reproduce the issue:**

1.# minikube start --vm-driver=none
* minikube v1.5.2 on Centos 7.9.2009 (xen/amd64)
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Using the running none "minikube" VM ...
* Waiting for the host to be provisioned ...
* Preparing Kubernetes v1.16.2 on Docker '20.10.1' ...
* Relaunching Kubernetes using ku

[2020-12-31 20:14] gunterze commented on #8055
Unfortunately the issue is still there:
[code]
[code]
[code]

[2021-01-01 07:00] MoSattler commented on #9982
same problem here. Weirdly enough, it worked on the first run, but noy anymore ever since.

[2021-01-01 12:32] afbjorklund commented on #10071
You need 2 GB of memory

Duplicate, #10014

[2021-01-01 12:40] #9226 closed

[2021-01-01 13:43] afbjorklund opened #10075 "Fix handling of image digests in the minikube cache"
Currently we carry a patch to save the image digest in the tarball, but it's not working out so good.

The code still checks the name only (since the preload), and the docker code seems to be broken.

We don't really want it anyway, when trying to get away from docker default and towards using CRI.

So it would be good to work with go-containerregistry upstream, and try to drop the current patch..

[2021-01-01 13:54] afbjorklund commented on #10075
Problems seen in #10060

[2021-01-01 13:56] afbjorklund commented on #10060
Sad thing is that _neither_ Id nor Digest will work with all container runtimes and also offline (without a registry)...

I added a new feature to clean up the patched library, we can use this particular issue to go past the name only ?

[2021-01-01 13:59] afbjorklund commented on #10075
"Id" is not available in all container runtimes, and might not even be static across a single runtime.

"Digest" is only available in the online registries, and not preserved when saving and loading etc.

So we might need to revisit the cache code, and add some more metadata (besides just the tarball)

The end goal is to be able to support things like ":latest", to compare two images with same rep

[2021-01-01 14:04] afbjorklund commented on #10075
The new version also has support for progress bars, so maybe we can finally fix #7012

It is super-annoying now, we don't even show the name but only show that tractor emoji.

[2021-01-01 17:15] chirangaalwis commented on #9295
Experiencing the same issue with

[code]

[2021-01-01 18:29] owenthereal commented on #9991
I checked https://github.com/vmware-tanzu/velero and it's cloud provider specific. I'm unclear how that would apply for minikube.

[2021-01-01 20:32] ggjulio opened #10079 "StartHost failed : container addresses should have 2 values, got 3 values"
I use a second network to give a range of ips to Metallb.
Everyting work fine except at restart. Minikube complain about having two networks.
I have to disconnect the second network before each restart. And then reconnect.

I find nothing helpful in the doc / github Issues.

**Steps to reproduce the issue:**

1. minukube start --vm-driver=docker
2. docker network create my-net
3. docker network co

[2021-01-01 21:22] afbjorklund commented on #10079
Minikube needs to handle multiple networks, and filter out the created network only.

It actually got 4 values, but output format fails to add a delimiter between networks..

[2021-01-01 21:56] thangavel-projects commented on #9858
It's strange, i got resolved after disable and enable. Thanks @robrich

[2021-01-01 22:14] afbjorklund commented on #10075
So when we pull an image, we get two things: the Id and the Digest.

Both are normally sha256 digests, but of two of different things.

The Id file is stored in the actual tarball, under Config.
It might or might not be stored in the container engine.

Engine |  |
--- | ---  |
Docker | stored: "Id" |
Podman | stored: "Id" |
Containerd | not stored, separately |

But the Digest is related to the UR

[2021-01-01 22:38] afbjorklund commented on #10075
Note that it also need to "resolve" short names into the long names.

busybox -> **busybox:latest** -> docker.io/busybox:latest -> **docker.io/library/busybox:latest**

Some engines use alias lookups, and some _only_ use the long names.

See https://www.redhat.com/sysadmin/container-image-short-names

[2021-01-01 23:28] afbjorklund opened #10080 "Drop the build tags and patches for go-getter"
Previously, we were a bit worried about the size for minikube v1.5.0.
So we removed the S3 and GCS dependencies, for minikube v1.6.0.

See ~~#5013~~

But it seems that now with the newer versions, the difference is less.
Using the default library would only add +5 MB, to minikube v1.16.0...

`61M	out/minikube`

![minikube-linux-amd64-size](https://user-images.githubusercontent.com/10364051/1034478

[2021-01-02 00:44] LANCECN opened #10081 "Unable to get host IP: network inspect: docker network inspect minikube, exit status 64"
**Steps to reproduce the issue:**

1.-- /stdout --
E0102 08:31:45.759884 1450618 start.go:99] Unable to get host IP: network inspect: docker network inspect minikube --format $
{"Name": "{{.Name}}","Driver": "{{.Driver}}","Subnet": "{{range .IPAM.Config}}{{.Subnet}}{{end}}","Gateway": "{{range .IPAM.$
onfig}}{{.Gateway}}{{end}}","MTU": {{(index .Options "com.docker.network.driver.mtu")}},{{$first

[2021-01-02 01:45] cshashankk commented on #9188
I had run into this problem (on Mac) after I had enabled 'ingress' addon. I disabled it. Deleted minikube and restarted minikube without the --vm=true. It's working now.

[2021-01-02 03:12] suhank opened #10082 "X Exiting due to GUEST_START: Failed to setup kubeconfig: network inspect: docker network inspect minikube --format"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2021-01-02 03:14] #10082 closed

[2021-01-02 08:03] wallwind opened #10083 "minikube start error"
**Steps to reproduce the issue:**

 minikube start --driver=none
😄  minikube v1.16.0 on Centos 7.2
✨  Using the none driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing none bare metal machine for "minikube" ...
ℹ️  OS release is Tencent tlinux 2.2 (Final)
🐳  Preparing Kubernetes v1.20.0 on Docker  ...

❌  Exiting due to K8S_INSTALL_F

[2021-01-02 08:39] azhao155 commented on #9399
I think the issue got fixed.

I repro the issue with same cmd and see following:

[code]

[2021-01-02 08:40] azhao155 commented on #9399
If we really want to delete the existing cluster, I also have the pr: https://github.com/kubernetes/minikube/pull/10084

[2021-01-02 09:16] afbjorklund commented on #10083
What is your Docker version ?

[2021-01-02 14:34] afbjorklund commented on #10081
Please include complete logs and system information.

Most likely similar to the issues in #9811 (64=template)

[2021-01-02 21:07] alexstaroselsky opened #10085 "tunnel doesn't start"
While minikube seems to be starting and running effectively with `minikube start`, I am unable to successfully execute the command `minikube tunnel`. After entering the password and waiting a significant amount of time, no output similar to what is show on [Accessing apps](https://minikube.sigs.k8s.io/docs/handbook/accessing/) displays nor does the minikube ip seem to be responsive. The last messa

[2021-01-03 07:04] KimSeongHo-cloud opened #10086 "GUEST_PROFILE_DELETION: CreateFile C:\boot2docker.iso: Access is denied."
**Steps to reproduce the issue:**

1.λ minikube delete
🔥  Removing C:\Users\user\.minikube\machines\minikube ...

❌  Exiting due to GUEST_PROFILE_DELETION: CreateFile C:\Users\user\.minikube\machines\minikube\boot2docker.iso: Access is denied.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube

[2021-01-03 07:42] AshutoshTiwari1208 commented on #8722
_Just in case for someone it still doesn't work_

[code]

_Now wait for sometime ! It will install :)_

[2021-01-03 10:16] LANCECN commented on #10081
docker version
Client:
 Version:           18.09.0
 API version:       1.39
 Go version:        go1.10.4
 Git commit:        4d60db4
 Built:             Wed Nov  7 00:49:01 2018
 OS/Arch:           linux/amd64
 Experimental:      false

Server: Docker Engine - Community
 Engine:
  Version:          18.09.0
  API version:      1.39 (minimum version 1.12)
  Go version:       go1.10.4
  Git commit:

[2021-01-03 10:21] Raiyan444 commented on #9744
Added current user to docker group fixed the issue.

[2021-01-03 11:08] LANCECN commented on #10081
**Updated docker version from 18.09.0 to 20.10.1, problem solved.  Thanks!**

docker version
Client: Docker Engine - Community
 Version:           20.10.1
 API version:       1.41
 Go version:        go1.13.15
 Git commit:        831ebea
 Built:             Tue Dec 15 04:34:59 2020
 OS/Arch:           linux/amd64
 Context:           default
 Experimental:      true

Server: Docker Engine - Communi

[2021-01-03 11:08] #10081 closed

[2021-01-03 23:29] medyagh commented on #10086
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
``` minikube version ```

- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]

[2021-01-03 23:39] steephengeorge commented on #10022
Thank you for the info. Windows choco didn't yet support V1.16.0. I will hack it and let you know

[2021-01-03 23:46] msedzins commented on #9013
Hi, @tempacct4q

If I understand correctly:
A hostPath volume mounts a file or directory from the host node's filesystem into your Pod. In case of a minikube, the "host node" is actually a docker container.

So looks like you try to mount the directory from your local machine (/mnt/data/asset-tracker-mysql-volume0) which is not available to minikube docker container that runs on top.

You should b

[2021-01-04 07:30] springcomefromprogrammingtheworld opened #10087 "minikube addons enable ingress"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>
🔎  Verifying ingress addon...

❌  Exiting due to MK_ENABLE: run callbacks: running callbacks: [sudo KUBECONFIG=/var/lib/minikube/kubeconfig /var/lib/minikube/binaries/v1.20.0/kubectl apply -f /etc/kubernetes/addons/ingress-configmap.yaml -f /etc/kubernetes/addons/ingress-rbac.yaml -f /etc/kubernetes/addons/ingress-dp.yaml: Process exited with status 1
stdou

[2021-01-04 09:45] maguno commented on #10051
excellent, this was it

[2021-01-04 09:45] #10051 closed

[2021-01-04 14:36] limberger commented on #9156
I stoped to use minikube in the environment where this issue was ocurring. I can't check if is fixed! In my minikube on my fisical machine this issue never happened!

[2021-01-04 16:25] bschatz opened #10088 "minikube v1.16 with podman driver fails to start ( index out of range [1] with length 1)"
**Steps to reproduce the issue:**

Vagrantfile:

[code]

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

[code]

Podman version:
[code]

In general podman works fine:
[code]

**Optional: Full output of `minikube logs` command:**

[code]

[2021-01-04 16:27] bschatz commented on #10088
The ,,index out of range'' comes from the code that detects the network,
therefore --->

[code]

[2021-01-04 16:31] afbjorklund commented on #10088
Can you post the output of `podman network ls` and `podman network inspect minikube`

There seems to be something wrong with the custom container network created.

[2021-01-04 16:47] bschatz commented on #10088
[code]

I took the podman that will come with the next debian version (bullseye),
I tought, it could be a relative new version ;)

[2021-01-04 17:23] afbjorklund commented on #10088
Hmm, seems to be missing ?

We might end supporting 2.1 as well, due to the various 2.2 bugs

[2021-01-04 17:56] afbjorklund commented on #10088
Anyway, we should add some validation to that podman parsing.

[code]

It doesn't expect the result to have 1 or more than 2 components...

[2021-01-04 18:11] afbjorklund commented on #10088
It looks for an existing previous network, doesn't find anyone - and then goes right on with crashing...

[code]

[2021-01-04 18:27] dsharp-pivotal commented on #9972
`kubectl patch` is just one way to change the contents of the Service.spec. You could achieve the same results with `kubectl edit` or `kubectl apply`. The important bit is `changing spec.type` from `LoadBalancer` to `ClusterIP`. That should result in an observable change in the Service.status.loadBalancer.ingress[].

I don't care terribly much about whether or not the tunnel still works (although

[2021-01-04 18:39] afbjorklund commented on #10088
This means that if the "bridge" plugin is missing, the inspect will just return the empty string (and crash the parser).

[2021-01-04 18:50] afbjorklund commented on #10088
We haven't tested with the debian/system version. Please use the kubic/vendor version, for now.

https://build.opensuse.org/package/binaries/devel:kubic:libcontainers:stable/podman/Debian_10

Could try to make it work with "ptp", but no guarantees what other surprises have been added...

[2021-01-04 19:03] bl-ue commented on #7063
/remove-lifecycle frozen

[2021-01-04 19:04] #9885 closed

[2021-01-04 19:05] bl-ue commented on #9976
/remove-kind support
/kind bug

[2021-01-04 19:11] afbjorklund opened #10089 "Add functional test for system versions of container engines"
_(This is issue is about KIC on Linux)_

Currently we are testing with the **vendor** versions of the container engines:

- docker.com
  - https://docs.docker.com/engine/install/
- podman.io
   - https://podman.io/getting-started/installation

But maybe we also need to test with the **system** versions, in the distributions:

- debian
  - https://packages.debian.org/docker.io
  - https://packages.

[2021-01-04 19:18] afbjorklund commented on #10089
Otherwise we risk seeing distribution-specific issues like #10088

Could also be a good idea to document supported versions: #9077

[2021-01-04 19:29] ggjulio commented on #10079
Also, after connecting another network.

`minikube status` show the same error.
Minikube fail to retrieve his network.

[code]
Commands like `minikube node` don't work with a second network connected.
[code]

[2021-01-04 20:36] Aut0R3V commented on #2015
@tstromberg I'd like to work on this one. Can you please explain the progress here?

[2021-01-04 21:22] tstromberg commented on #2015
As far as I know, no one has attempted to even design such a beast. You'd be the first!

If you do decide to embark on this ambitious effort, I suggest doing some prototyping and report on your results on this issue. Once there is a clear path forward, I'd suggest sending out a MEP: https://github.com/kubernetes/minikube/tree/master/enhancements

I'd be very excited to see this happen. /cc @blueel

[2021-01-05 04:22] mecampbellsoup commented on #2767
Hi guys - @tstromberg @vinceho @oz123 can you please elaborate on how this could be used with minikube? Is it possible to pass it as an additional option to `minikube start` e.g.?

[2021-01-05 04:54] mecampbellsoup commented on #9430
The reason is because the kube-apiserver runs as a static pod in its own container, separate from the host. So your file is likely _not_ mounted into the container you need it to be mounted in.

See: https://github.com/kubernetes/minikube/issues/2767#issuecomment-437299401

[2021-01-05 06:45] bitcoffeeiux commented on #9580
I have encountered the same problem. Is there any solution?

[2021-01-05 07:13] afbjorklund commented on #10089
Using vagrant for regression/release testing is a great idea.

Unfortunately it only works for real servers, not nested VMs.

[2021-01-05 14:04] rama-jpmc opened #10090 "Minikube failed to start"
1. minikube start --driver=hyperv

**Full output of failed command:**
Failed to start hyperv VM. Running "minikube delete" may fix it: creating host: create: precreate: no External vswitch nor Default Switch found. A valid vswitch must be available for this command to run. Check https://docs.docker.com/machine/drivers/hyper-v/

X Exiting due to GUEST_PROVISION: Failed to start host: creating host:

[2021-01-05 15:08] venkatesh153 opened #10091 "minikube issue"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-01-05 16:56] tbcashy opened #10093 "Ambassador Addon fails to start"
**Steps to reproduce the issue:**

1. (minikube delete)
2. minikube start
3. minikube addons enable ambassador
5. Wait :P
4. minikube kubectl -- get pods --namespace ambassador
5. (minikube kubectl -- logs ambassador-7484d7d786-f2rf5 --namespace ambassador)

Enabling the Ambassador-Addon does work, however the 3 Pods (not the ambassador-operator) won´t start properly. Instead they log the followin

[2021-01-05 17:51] tstromberg commented on #6411
I've just switched my work machine to a Pixelbook Go, so I felt I should update this issue with the latest output:

[code]

[2021-01-05 17:58] lingsamuel commented on #10063
/kind feature

[2021-01-05 20:06] jonjohnsonjr commented on #10075
This isn't based on the URL. The reason they have different digests is that (presumably) you have run `docker pull && docker push` to populate that image in `localhost:5000`, but docker only pulls the platform-specific image, so you pulled a manifest list and pushed an individual manifest:

[code]

Note that the top-level manifest list for `ubuntu:20.04` here is the `sha256:c95a8e48bf88e9849f3e0f7

[2021-01-05 20:26] afbjorklund commented on #10075
That is true.

[2021-01-05 20:41] nothinux commented on #8765
this is worked for me

[code]

[2021-01-05 20:41] afbjorklund commented on #10075
But I'm still not sure I see the benefit of using digest, especially if limited to the old docker tools that mangle it ?

i.e.
[code]

If it would have been content-based like git (or camlistore), then there would for sure be a lot of value added...

[2021-01-05 20:52] afbjorklund commented on #10075
Seems like this checksum is a fight that needs to be fought every couple of years or so...

There was a struggle when it came to validating software downloads, with Zero Install.
(it validates the content _before_ compression, instead of the compressed archives _after_)
We had the same thing in rpm versus yum, but as usual the good guys lost that one too.
I suppose it's nice to be able to validate

[2021-01-05 20:59] afbjorklund commented on #10075
But I dunno. I was ready to go back to ~FTP~, err, I mean HTTP because of all the little issues.
Like the missing progress bar*, or the clumsy display of the checksum, or whatever it was ?
(now lately there was the pull limits of docker.io, but I guess it doesn't apply go gcr.io -yet)
Rumor has it that go-containerregistry also does progress now, so maybe we can still fix it...

\* See #7012

[2021-01-05 21:35] jonjohnsonjr commented on #10075
It _is_ content based, just biased towards the content you deal with during distribution instead of at runtime.

Right, we do have both available to us. The non-compressed bits have content-addressable identifiers that are referenced by the image manifest, so in theory you can get everything you need, it's just a little more cumbersome than a flat key space.

I'm not entirely sure how the minikube

[2021-01-05 23:00] #10088 closed

[2021-01-06 08:56] afbjorklund commented on #10089
Partly related to #3552, for adding support for fedora/centos.

Also need some good way to aggregate/present the results ?

[2021-01-06 09:07] afbjorklund commented on #10075
It was regarding the docker push versus crane push conversation.

Seems that the digests can be made to work, just stop using docker ?

It was just a rant of crawling back into the cave: FTP the tarball only, and load it locally instead ?

Partly triggered by the corporate firewall blocking the access to the corporate registry, that day.

It was regarding the docker push versus crane push conversa

[2021-01-06 09:10] afbjorklund commented on #10075
Something really really weird is going on, with github comments. Should move "discussions" elsewhere.

Tried to restore the mangled content, sorry about fatfingering the reply button

[2021-01-06 09:20] afbjorklund commented on #10089
I started on some test infrastructure, for generic: #4733

Should clean it up and make it general... https://github.com/kubernetes/minikube/pull/9545#issuecomment-718855132

[2021-01-06 11:18] frankgerhardt opened #10097 "Running minikube in production is [not] stupid?"
We have a small application to run in production and have to decide between OKD OpenShift and Minikube. From local development we really like minikube but we know it is not recommended for production.

We like especially the simplicity of minikube and we think we can understand, handle and master it.

We would use single-master and mutliple workers.

But if we would be so "crazy" to use minikub fo

[2021-01-06 11:58] afbjorklund commented on #10097
This is something that needs better documentation...

It is supposed to be easy to "transition" from the initial experience with minikube, over to the container drivers and onto `kubeadm`. So that you can apply all the Kubernetes things that you picked up when **learning**, when later moving into **production** ?

* https://kubernetes.io/docs/setup/learning-environment/

* https://kubernetes.io/do

[2021-01-06 12:38] afbjorklund commented on #10097
I was comparing these two documents:

* OpenShift (OKD)
  <https://docs.okd.io/latest/installing/installing_bare_metal/installing-bare-metal.html>

* Kubernetes (kubeadm)
  <https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/>

These environments are for development:

* OpenShift (CRC)
  <https://code-ready.github.io/crc/>

* Kubernetes (minikube)
  <https

[2021-01-06 12:42] lingsamuel opened #10098 "`docker-env` should ignore invalid docker proxy env vars"
**Steps to reproduce the issue:**

1. minikube start --driver=kvm2
1. minikube docker-env

I found sometimes `docker-env` finished almost instantly, sometimes it takes about 10s+.

[2021-01-06 13:00] frankgerhardt commented on #10097
Thanks for your response. We would handle the servers ourselves, either dedicated or cloud servers. I don't want to look into OKD too much if a simple setup can be done with minikube. I'm mostly interested in issued I could encounter with minikube.

It it clear that with one master there can not be 0 downtime HA but that's ok. We'd put up a maintenance page hopefully just for a a short time and re

[2021-01-06 14:04] afbjorklund commented on #10097
Well, the default minikube would deploy a kubernetes cluster on localhost. That is probably of limited value to you.

So you want "something" that can be deployed remotely, usually by adding packages and configuration over ssh...

[2021-01-06 14:14] afbjorklund commented on #10098
You can try troubleshooting with `--alsologtostderr`, to see where it is spending the time ?

There were a lot of health checks added, both to the cluster and to the docker runtime itself.

[2021-01-06 14:25] afbjorklund commented on #10097
Seems like the resource requirements are a bit different as well.

OpenShift

Kubernetes

_In minikube we currently allocate 20GB storage by default, and use around 2GB of it_

[code]

[2021-01-06 17:35] jonjohnsonjr commented on #10075
Roughly, but of course that's easier said than done :)

🤦

Another workaround would be to [supply a custom transport](https://godoc.org/github.com/google/go-containerregistry/pkg/v1/remote#WithTransport) to go-containerregistry that can tee updates back to something else to display progress while the layer gets downloaded.

This is reasonable.

I'll point you towards some work that @deitch did rec

[2021-01-06 18:12] #8614 closed

[2021-01-06 18:17] #5830 closed

[2021-01-06 18:32] #9697 closed

[2021-01-06 18:35] tstromberg commented on #10073
minikube v1.5.2 is very old. Please upgrade to the latest version.

If you run into problems there, please include the `minikube logs` output in your issue report. Thank you!

[2021-01-06 18:35] #10073 closed

[2021-01-06 18:37] tstromberg commented on #10069
I personally don't agree with this. Most commands are specific to a profile, by design. Will bring this up for discussion at the triage meeting today.

[2021-01-06 18:39] #10064 closed

[2021-01-06 18:41] tstromberg commented on #10063
Can we find a better title for this issue? It's not clear to me what isn't configurable. It's a Go template that can apply nearly any logic you can think of.

PR's welcome to adjust the name of the image appropriately.

[2021-01-06 18:45] #3760 closed

[2021-01-06 18:47] tstromberg commented on #10059
@springcomefromprogrammingtheworld - did @lingsamuel 's advice help?

[2021-01-06 18:57] tstromberg commented on #10097
Production usage of minikube is explicitly mentioned as a non-goal for minikube: https://minikube.sigs.k8s.io/docs/contrib/principles/#non-goals

While nothing will explicitly break if you attempt to use minikube in production, minikube does not attempt to support the full suite of security mechanisms and networking configurations you may wish to use in production. YMMV.

IMHO, since minikube is j

[2021-01-06 18:58] tstromberg commented on #9520
I fully agree with this.

/cc @spowelljr

[2021-01-06 18:59] tstromberg commented on #9910
This will need to be autogenerated, or point to the code, as otherwise it will become stale technical debt very quickly.

[2021-01-06 19:00] tstromberg commented on #10015
Any volunteers for taking this on and uploading the results?

[2021-01-06 19:02] tstromberg commented on #10017
You are in luck: someone recently added a `--namespace` flag to `minikube start`.

You may also be interested in `--keep-context`

[2021-01-06 19:02] #10017 closed

[2021-01-06 19:08] medyagh commented on #10097
I agree with @tstromberg I strongly refuse to support the idea we are made for production howeever we dont intentionally make things not production. we have some saftey measurements (such as generating certs per cluster and ips) but thats not what we test minikube for.

security wise we dont have the bandwith to support ta secure environment for production.

[2021-01-06 19:12] #10097 closed

[2021-01-06 19:13] afbjorklund commented on #10097
This is why I labeled it as "documentation", we should redirect users there when looking to "move on"

[2021-01-06 19:15] medyagh commented on #10089
do u mind adding more clarificaiton, I am a bit confused, if you are talking about the inside minikube podman engine?

[2021-01-06 19:17] medyagh commented on #10069
I think minikube is doing the right thing here, since -p is an implicit flag that is being passed,
what you are seeing is, the list for

[code]

I dont think we should list nodes outside your cluster.

[2021-01-06 19:19] medyagh commented on #10069
btw in the first part of the issue there is a bug that there is a WIP for that https://github.com/kubernetes/minikube/pull/9996

I am going to close this issue, please feel free to re-open if you have more quesitons.

[2021-01-06 19:19] #10069 closed

[2021-01-06 19:20] medyagh commented on #10065
I belive this was fixed by this PR https://github.com/kubernetes/minikube/pull/10053
yet deleting minikube and starting it agian with old version should still work.

please feel free to open if u have more questions

[2021-01-06 19:20] #10065 closed

[2021-01-06 19:21] medyagh commented on #9946
good find, we will need to fix this this Q1

[2021-01-06 19:26] medyagh commented on #9991
this is a good idea ! we have plans to explore the idea of freezing a cluster to potentially start minikube faster with a frozen cluster.

this is on our roadmap to explore.
both
@ilya-zuyev @priyawadhwa are looking into this.

[2021-01-06 19:32] sharifelgamal commented on #9872
@sravano9 I'm going to go ahead and close this issue for now, please re-open it if you try the suggestions above (and upgrade to minikube 1.16) and it still doesn't work.

[2021-01-06 19:32] #9872 closed

[2021-01-06 19:34] priyawadhwa commented on #9243
Hey @javierfar this issue has been silent for a weeks now, so hopefully it's ok if I close it. If you are still seeing this problem feel free to reopen at any time by commenting /reopen!

[2021-01-06 19:34] #9243 closed

[2021-01-06 19:34] medyagh commented on #9914
@raul1991 I am not sure why the SSH connection is not working, could it be something about updating the SSH on the ubuntu ?
and also I wonder if deleting minikube and startnig a new one woudl fix it ( maybe try with our latest version) ?

[code]

[2021-01-06 19:35] priyawadhwa commented on #9278
Hey @ervjbb if you unset KUBECONFIG, minikube should set all necessary variables correctly for you.

Could you try:
1. Running `minikube delete` to clear the cluster
2. Unsetting the variable
2. Running `minikube start`

[2021-01-06 19:35] azhao155 commented on #10015
yeah, will send out pr soon

[2021-01-06 19:38] priyawadhwa commented on #9878
Hey @reach4bawer is the output of

[code]

any different? I googled the error and found some related KVM issues: https://forums.whonix.org/t/kvm-configuring/3490/3

Looks like one of the maintainers has recommended updating the libvirt package, you could try that?

[2021-01-06 19:40] medyagh commented on #9874
@ucohen I am curious if you have already tried to sign the minikube cert with your corp cert ?

- https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/#x509-certificate-signed-by-unknown-authority
- https://minikube.sigs.k8s.io/docs/handbook/untrusted_certs/

[2021-01-06 19:43] spowelljr commented on #9556
@shankar-forgerock Any update?

[2021-01-06 19:44] medyagh commented on #9869
@esentai8 I wonder if you have installed minikube using snap ?
we were aware of an issue of minikube with snap not having access to /tmp @spowelljr PR fixed it,
do u mind trying this URL to see if this fixes ? https://storage.googleapis.com/minikube/latest/minikube-linux-amd64

[2021-01-06 19:45] tstromberg commented on #9845
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it by replying `/reopen`

If someone sees a similar issue to this one, please re-open it as replies to closed issues are unlikely to be noticed.

Thank you for opening the issue!

[2021-01-06 19:45] #9845 closed

[2021-01-06 19:46] sharifelgamal commented on #9582
I'm going to go ahead and close this issue since we haven't had an update for awhile. If you try a minikube delete/start or try a different driver and have an update, please reopen this issue.

[2021-01-06 19:46] #9582 closed

[2021-01-06 19:49] medyagh commented on #9759
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[code]

This wi

[2021-01-06 19:51] priyawadhwa commented on #9763
Hey @aravindsaravanan thanks for opening this issue and sorry for the delayed response.

It looks like `kubeadm init` failed with a SEGV:

Could you try deleting your cluster and restarting?
[code]
If this fails, I would recommend trying:
1. starting with more memory `minikube start --memory <at least 2GB, but try with more if you can>
2. If you have docker installed, trying the docker driver inst

[2021-01-06 19:52] priyawadhwa commented on #9763
related issue https://github.com/kubernetes/minikube/issues/8773

[2021-01-06 19:52] medyagh commented on #9724
@joearul09 the logs indicate that your docker is very slow and is responding slowly, this could mean you might need to prune your docker to make it faster again,.

"docker system prune --all"

@joearul09 I am curious if you have done the advice given by minikube?

[code]

[2021-01-06 19:53] shankar-forgerock commented on #9556
Hi,

Unfortunately not a complete update yet.

Was able to get past the storage class issue.

Now stuck at IP address allocation and access to the pods / nginx load
balancer, and then the new year "coma" happened ;)

Will be trying this out this month.

Sorry about that.

BTW: Is there any update on Minikube dev / doc for implementation with WSL?

Thanks

Shankar

On 1/6/21 11:44 AM, Steven Powell

[2021-01-06 19:53] medyagh commented on #9724
/triage needs-information
/kind support

[2021-01-06 19:55] spowelljr commented on #9816
请运行以下命令并更新日志。

`minikube start --v=8 --alsologtostderr`

[2021-01-06 19:56] spowelljr commented on #9816
/triage needs-information

[2021-01-06 19:57] medyagh commented on #9799
@FabriceSalvaire
I admit we need to do a lot better job, in detecting the cgroup version and advice the user of the right action. I understand the frustration , I am curious have u found a good workarround that works now for your situation that we could use to advice others?

[2021-01-06 20:00] spowelljr commented on #9806
Please re-run with `minikube start --v=8 --alsologtostderr` and update the logs.
Please also run `minikube logs` and include those as well.

[2021-01-06 20:00] spowelljr commented on #9806
/triage needs-information

[2021-01-06 20:00] medyagh commented on #9799
I am also curious, if you have the same problem with a different runtime like crio ?

do u mind trying this ? (with latest version 1.16.0)
[code]

[2021-01-06 20:01] medyagh commented on #8526
I agree and we should do this ! anyone wants to pick this up ?

[2021-01-06 20:04] Aut0R3V commented on #2015
I went through the stuff here - #676. I feel like I have some idea on the progress that has been attained until now. Can we form up like a group on slack or something about this? It might be a little hard to pitch in detailed conversations here

[2021-01-06 20:09] spowelljr commented on #9556
@shankar-forgerock I don't believe there has been any update to the docs regarding WSL2, however, there is an issue for that exact request that is being actively discussed: https://github.com/kubernetes/minikube/issues/7879

[2021-01-06 20:18] shankar-forgerock commented on #9556
Thank you very much for the pointer to the discussion. It will be great if
the issue is resolved. Will keep an eye on the discussion.

Thanks again.

On Wed, Jan 6, 2021, 12:09 PM Steven Powell <notifications@github.com>
wrote:

--
ForgeRock values your Privacy <https://www.forgerock.com/your-privacy>

[2021-01-06 20:27] afbjorklund commented on #10089
I tried to clarify:

When using docker-in-docker, it can easilly get confusing which is "docker" and which is "docker". 🙂

We control the inside, and there we _only_ run the vendor variant. Not whatever is in the distribution.
This is the same as kubernetes upstream* (kubeadm), except we don't have the same version lock.

\* https://kubernetes.io/docs/setup/production-environment/container-runtime

[2021-01-06 20:31] afbjorklund commented on #10089
Main reason to support the standard versions, would be to make it simpler for the user.

`sudo apt install docker.io`

vs
[code]

It also makes it easier to access the source code, and integrate with other packages.

That is important to some people, especially Debian users. They don't want the binaries.

[2021-01-06 20:37] #9995 closed

[2021-01-06 22:28] kadern0 commented on #8790
@tstromberg, this one is fixed by #9977

[2021-01-06 22:47] javierfar commented on #9243
Hi, no thanks, I gave up. I won't try it again.

Thanks

Em qua, 6 de jan de 2021 16:34, priyawadhwa <notifications@github.com>
escreveu:

[2021-01-07 03:35] secullod commented on #7296
I am having the same issue on both macos and ubuntu 20.04 LTS

[2021-01-07 04:47] raul1991 commented on #9914
Deleting it didn't fix it. Actually, this issue only occurs when I am behind my vpn.

Is there a way around this ?

[2021-01-07 05:13] ganchandrasekaran commented on #10064
Just a note, for existing version of minikube I do following to fix this issue..

1, SSH into specific minikube
`$ minikube ssh -p testa`

2, Edit the addon yaml file in the following location and change policy to IfNotPresent
[code]

3, Also now Edit deployment and change imagePullPolicy to IfNotPresent.
`kubectl edit deployments -n kube-system metrics-server`

This should fix the issue..

[2021-01-07 05:58] ilya-zuyev opened #10101 "Binary Build failed on Apple M1"
It looks like darwin/arm64 is not supported yet by github.com/shirou/gopsutil
[code]

[code]

[code]

[code]

[2021-01-07 06:01] azhao155 commented on #10015
Sent the pr: https://github.com/cncf/k8s-conformance/pull/1277. Waiting for review and merge

[2021-01-07 06:01] azhao155 commented on #10015
@medyagh @tstromberg

[2021-01-07 06:02] ilya-zuyev commented on #10101
https://github.com/shirou/gopsutil/issues/1000 may be related

[2021-01-07 06:26] afbjorklund commented on #10101
Seems that it has been fixed now

[2021-01-07 06:30] afbjorklund commented on #8526
It's getting a bit late in the game, now cgroups v2 _should_ be working - when using Docker 20.10 and Kubernetes 1.20

We still need the warnings for the earlier versions, though. But it is not "mandatory" in the same way that it used to be.

[2021-01-07 06:36] afbjorklund commented on #9799
Fedora 32 and 33 still have Docker 19.03, so you need to install the new version from docker.com instead:

https://src.fedoraproject.org/rpms/moby-engine

https://docs.docker.com/engine/install/fedora/

Compare #10089

Or use Podman instead, as suggested.

[2021-01-07 07:57] dongyu commented on #9580
update DNS

[2021-01-07 08:37] somnathpawar commented on #5885
This works, thanks!

[2021-01-07 09:53] koyuch commented on #6254
I have similar/same issue here with kvm on Manjaro - I've started minikube succesfully first time with kvm2, but when I tried to delete it and run again it always throws errors (even after `rm -rf ~/.minikube`)
[code]

[2021-01-07 10:06] koyuch opened #10102 "kvm2 driver: operation failed: domain 'minikube' already exists with uuid"
I have similar/same issue here with kvm on Manjaro as here: https://github.com/kubernetes/minikube/issues/6254 - I've started minikube succesfully first time with kvm2, but when I tried to delete it and run again it always throws errors (even after `rm -rf ~/.minikube`)

**Steps to reproduce the issue:**
1. start minikube with kvm on linux (manjaro in my case): minikube start
2. added some pods in

[2021-01-07 10:36] koyuch commented on #10102
ok, I think I might have "solved" this, but I had to involve virsh commands (it was in paused state there..), so I had to shutdown & delete it manually: https://www.cyberciti.biz/faq/howto-linux-delete-a-running-vm-guest-on-kvm/
Weird that this isn't done when calling minikube delete (I probably didn't call minikube stop before, but I just get stuck in this paused state..)

[2021-01-07 10:40] Aut0R3V commented on #7438
Hey anything that can be done here?

[2021-01-07 11:03] Aut0R3V commented on #9939
Darn I almost forgot about this, PR coming in soon!

[2021-01-07 14:07] ervjbb commented on #9278
Worked like a charm....thanks!

[2021-01-07 15:54] parasit commented on #10035
Same here, i try couple versions of docker (from 18.03 to 20.10) every time different version of "error parsing template"

CentOS Linux release 7.4.1708 (Core)
docker-ce-20.10.2-3.el7.x86_64
minikube version: v1.16.0
commit: 9f1e482427589ff8451c4723b6ba53bb9742fbb1

Problem probably is in:
[code]

Full log:
[code]

[2021-01-07 15:56] mikebski opened #10103 "minikube kubectl -- --help throws Error unknown command "kubectl" for "minikube""
**Steps to reproduce the issue:**

$ minikube version
minikube version: v0.23.0

1.  minikube start
2. minikube kubectl -- --help # <- Error

$ minikube kubectl -- --help
Error: unknown command "kubectl" for "minikube"
Run 'minikube --help' for usage.

**Full output of `minikube start` command used, if not already included:**

Starting local Kubernetes v1.8.0 cluster...
Starting VM...
Getting VM I

[2021-01-07 15:59] mikebski commented on #10103
Minikube installed improperly. It's working after re-install (without brew)

[2021-01-07 15:59] #10103 closed

[2021-01-07 17:43] secullod opened #10104 "docker macOS and Ubuntu: This control plane is not running! (state=Stopped)"
I have tried with both macos big sur and Ubuntu 20.04.

I am unable to launch the minikube dashboard running metallb with several docker containers. On Ubuntu using docker as driver I am getting the below errors. I have tried using hyperkit, virtualbox and am either getting the below issues or timeout errors when I attempt to open the ip addresses in the browser.

The exact command to reproduce th

[2021-01-07 18:36] priyawadhwa commented on #9278
Great to hear! I'll close this issue as it's been resolved.

[2021-01-07 18:36] #9278 closed

[2021-01-07 18:37] priyawadhwa commented on #9278
Great to hear! I'll close this issue as it's been resolved.

[2021-01-07 20:18] homeoftheunits commented on #10061
Hey guys,

same problem here, is there an solution? Downgrade docker for example?

Cheers Ralf

[2021-01-07 23:08] medyagh opened #10107 "DockerEnv Test:"
https://storage.googleapis.com/minikube-builds/logs/10100/0b52244/Docker_Linux.html#fail_TestFunctional%2fparallel%2fDockerEnv

[code]

I suspect this could be because the other parallel clusters are putting a lock on the Cert and it is not useable by the user. snice it hasppanes mostly in integration test and not in Github action where we run less parallel.

one solution could be generating Certs

[2021-01-07 23:23] medyagh commented on #10107
@azhao155

[2021-01-07 23:25] medyagh commented on #10107
one thing to check is if our Lock is getting activated each time we try to look at the cert

https://github.com/medyagh/minikube/blob/dce38fb331b6172c0c618ad486ac1b60661af687/pkg/util/crypto.go#L158

currentlty we do NOT regerenreate the cert if it exists.  I wonder if we activate the Lock while checking if the cert exists.

[2021-01-07 23:27] medyagh commented on #10107
we should add debgging to the DockerEnv test if it fails, to give us the timestamp for the certs in home folder and the last time they were changed.

[2021-01-07 23:30] medyagh commented on #10107
/assign azhao155

[2021-01-07 23:47] azhao155 commented on #10107
/assign @azhao155

[2021-01-08 00:33] daehyeok commented on #10061
@homeoftheunits
Hi, Ralf. sorry but I think it's not same issues.

[2021-01-08 00:56] Cyberkabil10 opened #10108 "Exiting due to GUEST_START: Failed kubeconfig update: writing kubeconfig: Error writing file /etc/kubernetes/admin.conf: open /etc/kubernetes/admin.conf: permission denied"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-01-08 01:37] springcomefromprogrammingtheworld commented on #10063
The problem has been solved。。。

1.docker pull registry.cn-hangzhou.aliyuncs.com/google_containers/nginx-ingress-controller:v0.40.2

2.docker tag registry.cn-hangzhou.aliyuncs.com/google_containers/nginx-ingress-controller:v0.40.2  us.gcr.io/k8s-artifacts-prod/ingress-nginx/controller:v0.40.2

3.minikube cache add us.gcr.io/k8s-artifacts-prod/ingress-nginx/controller:v0.40.2

4.minikube addons enab

[2021-01-08 03:10] lingsamuel commented on #10098
Okay I found the reason...
[code]
I have proxy set to `socks://127.0.0.1:1080/`

[2021-01-08 03:23] lingsamuel commented on #10098
So that's the reason why my pods always restart :joy: I was thought that's because of my lack of memory

[2021-01-08 04:43] wrtate opened #10110 "Index out of range in podmanNetworkInspect using Podman 2.2.0 on Debian"
On a fresh install of Debian testing, using podman 2.2.0, "minikube start --driver=podman" crashes with a "panic: runtime error: index out of range [1] with length 1".

It seems that pkg/drivers/kic/oci/network_create.go in podmanNetworkInspect, the output from a "podman network inspect" command is being parsed and compared to an empty string to determine if the network exists.  However, when I ad

[2021-01-08 04:45] wrtate commented on #10110
This was observed using your deb download:
     minikube version: v1.16.0
     commit: 9f1e482427589ff8451c4723b6ba53bb9742fbb1-dirty

As well as when building this repo from source at 76687550867b66ed9a595d62f9f43101d6c11d65.

[2021-01-08 05:03] lingsamuel commented on #10063
Can't find a simple command line way to config addons image names cuz some addons contains many images...
To make all image names configurable, we may need some configs at cluster config/somewhere else.

e.g.
[code]

This should be stored system-wide instead of profile and should be related to which image repository being used.
[code]

[2021-01-08 05:07] lingsamuel commented on #10063
/cc @tstromberg

[2021-01-08 05:08] Aut0R3V commented on #9939
@priyawadhwa is there any specific file where the logs would be coming to?

[2021-01-08 06:28] afbjorklund commented on #10110
Duplicate, #10088

It's a bug, #9705

We don't have any testing for the debian version of podman (see #10089)
So that line where the `podman` CNI is missing that not be tested before.

The problem with the dirty git should be fixed in the "real" releases (1.17).
But reappeared in 1.16.0-1 fix for ~~#9995~~. Locally, it's probably `go.mod` ?

[2021-01-08 06:31] afbjorklund commented on #10098
There should be some output, when minikube is doing "extra" stuff (instead of printing docker-env)

[2021-01-08 06:37] afbjorklund commented on #10104
This is not normal, start/dashboard shouldn't build anything ?

[2021-01-08 06:40] afbjorklund commented on #10104
You can get the boot console with: `docker logs minikube`

You can see the ssh logs with: `docker exec minikube systemctl status sshd`

[2021-01-08 06:41] lingsamuel commented on #10098
Couldn't agree more! Sometimes I have to add `--alsologtostderr` to see why minikube hangs there.

[2021-01-08 06:44] LY1806620741 commented on #9816
这个问题过去了太久，重现精力消耗大，下次遇到再打开吧
This problem has been going on for a long time. It takes a lot of energy to reappear. Open it next time If it still exist .

[2021-01-08 06:44] #9816 closed

[2021-01-08 09:45] lingsamuel commented on #10045
I encountered this problem again and delete pod can't fix. Seems like kubelet didn't check local images?

[code]

[code]

Some logs may help.

[2021-01-08 13:53] wrtate commented on #10110
Guess I was a bit too slow in getting this written up and should have checked for existing issues again.

Thank you!

[2021-01-08 13:53] #10110 closed

[2021-01-08 17:24] secullod commented on #10104
Here is what I am trying to accomplish in total. I am manually building all containers with dockerfiles and then applying the yaml files for each. It is an academic exercise.

#!/bin/sh

# START MINIKUBE
minikube start --driver=docker --cpus 2 --memory 4g --addons metallb --addons metrics-server --addons dashboard

# # Use the docker daemon from minikube.
eval $(minikube docker-env)

docker build

[2021-01-08 17:35] afbjorklund commented on #10104
OK, the extra commands explain the extra output :-)

[2021-01-08 17:45] secullod commented on #10104
🤷  This control plane is not running! (state=Stopped)
❗  This is unusual - you may want to investigate using "minikube logs"
👉  To start a cluster, run: "minikube start"
sean@sean-VirtualBox:~/Desktop/paris$ docker exec -it minikube systemctl status sshd
● ssh.service - OpenBSD Secure Shell server
     Loaded: loaded (/lib/systemd/system/ssh.service; enabled; vendor preset: en
abled)
     Active:

[2021-01-08 17:50] afbjorklund commented on #10104
That seems happy enough ("accepted publickey" should mean the same as "able to authenticate")

[2021-01-08 17:51] secullod commented on #10104
Below is the output from docker logs minikube

sean@sean-VirtualBox:~/Desktop/paris$ docker logs minikube
+ configure_proxy
+ mkdir -p /etc/systemd/system.conf.d/
+ cat
+ fix_kmsg
+ [[ ! -e /dev/kmsg ]]
+ fix_mount
+ echo 'INFO: ensuring we can execute mount/umount even with userns-remap'
INFO: ensuring we can execute mount/umount even with userns-remap
++ which mount
++ which umount
+ chown root:

[2021-01-08 17:53] afbjorklund commented on #10104
The "scheduled stop" failure is normal (for now), and can be disregarded

[2021-01-08 19:10] priyawadhwa commented on #9939
Hey @Aut0R3V we get the logs by reading STDOUT from this command as it is running:

https://github.com/kubernetes/minikube/blob/fdab252f4f1d3aaeea028f90a2153cb1da8e54cb/pkg/minikube/perf/logs.go#L45

[2021-01-08 19:14] medyagh opened #10113 "Flake TestFunctional/parallel/ComponentHealth" bind: address already in use"
as seen here https://storage.googleapis.com/minikube-builds/logs/10112/b856a47/none_Linux.html
[code]

[2021-01-08 19:47] priyawadhwa commented on #10041
Commands we will track: start, stop, pause, unpause, delete
Command we won't track because they may clutter the log: status, version

Options for deleting the audit file:
1. consistently append to a single file and assume that it will be deleted whenever a user runs `--purge`
2. put a TTL on the audit file (if it hasn't been modified in a week, delete it and start a new one)

Whenever we append to

[2021-01-08 21:23] afbjorklund commented on #9952
We probably need a separate github organization for this, just for minikube ?

Could also be used to gather some of the personal repositories currently used.

[2021-01-08 21:52] medyagh commented on #9952
I am okay with moving it to minikube, it would be less complicated release and code review

[2021-01-08 21:59] tstromberg commented on #6411
I did some playing around, and found that disabling the apparently unnecessary remount gets minikube a bit farther: at least into kubeadm, and starting the kubelet. Unfortunately, it fails eventually, for a reason which I have not been able to root cause yet:

`Jan 08 21:55:17 minikube kubelet[1813]: E0108 21:55:17.967566    1813 kubelet.go:1823] skipping pod synchronization - [container runtime s

[2021-01-08 23:48] moshezvi commented on #7332
For what it's worth:
I just upgraded to minikube v1.16.0 on Windows 10 and it worked. Thank you so much, @medyagh!

[2021-01-09 00:14] tstromberg opened #10116 "Add apple M1 to build scripts & release process"
Hopefully simply setting `GOARCH=arm64` is enough, but this needs testing.

[2021-01-09 00:18] tstromberg commented on #9224
With #10115 - the Docker driver will at least work on macOS/arm64 - it will also pave the way for other hypervisors to work, though we'll also need to port the ISO to arm64 (#9228).

We'll also need to add this arch to our release scripts: https://github.com/kubernetes/minikube/issues/10116

[2021-01-09 08:04] padmeshgit opened #10117 "Minikube start is failing"
Getting below error while starting minikube, please help me out.

C:\WINDOWS\system32>minikube start --driver=virtualbox --kubernetes-version v1.20.0 --alsologtostderr
W0109 13:32:12.956108    9388 root.go:252] Error reading config file at C:\Users\Padmesh\.minikube\config\config.json: open C:\Users\Padmesh\.minikube\config\config.json: The system cannot find the file specified.
I0109 13:32:12.960

[2021-01-09 15:30] msedzins commented on #10031
Hi @jasperf,

Looks like you have found the [solution](https://discuss.kubernetes.io/t/ingress-nginx-ssh-access-and-forwarding-to-workspace-container-pod/14219) and  this issue can be closed?

[2021-01-09 17:28] khergner commented on #7344
You can use Hyperv for windows 10,
1. Enable Hyperv via Powershell --> "Enable-WindowsOptionalFeature -Online -FeatureName Microsoft-Hyper-V -All"
2. Start --> minikube start --driver=hyperv
3. Set --> minikube config set driver hyperv

[2021-01-09 17:55] azhao155 commented on #10015
It' merged. please close this one @medyagh

[2021-01-09 19:25] medyagh commented on #10015
thanks @azhao155

[2021-01-09 19:25] #10015 closed

[2021-01-09 20:32] #5029 closed

[2021-01-09 20:32] #8559 closed

[2021-01-09 23:21] xiazemin opened #10120 "mac M1 minikube start failed - hyperkit"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

 Creating hyperkit VM (CPUs=2, Memory=4000MB, Disk=20000MB) ...
🔥  正在删除 hyperkit 中的“minikube”…
🤦  StartHost failed, but will try again: creating host: create: Error creating machine: Error in driver during machine creation: hyperkit crashed! command line:
  hyperkit loglevel=3 con

[2021-01-10 00:32] jasperf commented on #10031
@msedzins yes I have. Does work using the added Minikube RSA key and with it other scripts can be run too. Will close this issue now.

[2021-01-10 00:32] #10031 closed

[2021-01-10 06:19] codyowl opened #10121 "Can't enable kube-dns addon in minikube"
I keep on getting this error while am trying to enable kube-dns addon for minikube.

1.minikube start
2.minikube addons enable kube-dns

Error I got :

❌  Exiting due to MK_ENABLE: run callbacks: kubedns is not a valid addon

😿  If the above advice does not help, please let us know:
👉  https://github.com/kubernetes/minikube/issues/new/choose

Note : I've been using minikube with docker driver.

[2021-01-10 17:01] anravi opened #10122 "Renew cert on start if current cert has has expired"
**Steps to reproduce the issue:**

1. Oracle vm virtualbox version 6.1

2. kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.1", GitCommit:"c4d752765b3bbac2237bf87cf0b1c2e307844666", GitTreeState:"clean", BuildDate:"2020-12-19T07:38:38Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"darwin/amd64"}

3.
minikube version
minikube version: v1.16.0
commit: 9f1e4824

[2021-01-10 20:56] #8134 closed

[2021-01-10 20:59] pires commented on #4452
[code]

[2021-01-11 00:11] rconrardy commented on #9030
@AmitVishwash I am facing the same issue, has there been any progress on a solution?

[2021-01-11 10:24] dabcoder commented on #10122
Also ran into this issue earlier today. However, it persists with the same error even if I downgrade `minikube` with this version for instance:

`minikube v1.14.2 on Darwin 10.15.7`

Same `stdout` and `stderr` output referencing to a certificate issue.

[2021-01-11 14:02] nicobbg opened #10124 "enable admission controller for PSP does not enable the admission controller"
**Steps to reproduce the issue:**

1. minikube start --extra-config=apiserver.enable-admission-plugins=PodSecurityPolicy --addons=pod-security-policy

Full output of the minikube start command (sorry, there are some French output):
[code]

2. k -n kube-system describe po kube-apiserver-minikube
[code]
Although the minikube start command output does confirm the addon pod-security-policy is enabled

[2021-01-11 14:05] mauriciovasquezbernal commented on #8556
/remove-lifecycle stale

[2021-01-11 16:56] juinquok commented on #8439
+1 can confirm this is a bug. I am able to curl the MySQL endpoint running on localhost from my minikube ssh but the containers are not able to access it. Have verified this using the testing containers. thanks!

[2021-01-11 17:38] maximus1108 commented on #7332
Appears this has now been fixed on Windows in #9761. Is the issues also being looked into for MacOS?

[2021-01-11 19:15] medyagh commented on #9399
closed by https://github.com/kubernetes/minikube/pull/10084

[2021-01-11 19:15] #9399 closed

[2021-01-11 19:18] medyagh commented on #9156
we fixed --log_dir flag, so if u specify an empty log dir it will not create temp files, however u are right by default minikube should not create multiple temp files... this shoiuld be fixed

[2021-01-11 19:18] medyagh commented on #9156
cc @spowelljr

[2021-01-11 19:21] medyagh commented on #9970
@briandealwis the reason seems to be high CPU usage
profile list checks for the status of the container or VM so this could take time if CPU usage is high or docker is not pruned.
as on option, we could provide a shorter profile list without "Status" sometihng like
"minikube profile list --short"

would that be a good solution or you would need the status ?

[2021-01-11 19:53] medyagh opened #10125 "new line for error after spinner"
i intentionally renamed the kube-context to experiment an error but the error is missing new line

[code]

[2021-01-11 21:12] anravi commented on #10122
@dabcoder - Thanks`minikube delete` fixed my issue as well but don't know root cause of the issue.

[2021-01-11 21:27] medyagh commented on #9970
per conversation with @briandealwis on slack we came up this solution to add informations in "extension" block of the kubeconfig to make minikube clusters identifiable by kubeconfig

[2021-01-11 22:34] ConradKrinock opened #10127 "minikube addons enable ingress error: X Exiting due to MK_ENABLE -- waiting for app.k ubernetes.io/name=ingress-nginx pods: timed out"
### (This works successfully on our ubuntu server but not on our Window2019server)

**Steps to reproduce the issue:**

`minikube addons enable ingress --alsologtostderr`

* Verifying ingress addon...

X Exiting due to MK_ENABLE: run callbacks: running callbacks: [waiting for app.k
ubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]
*
* If the above advice does not help, plea

[2021-01-12 02:20] alonyb commented on #10125
/assign

[2021-01-12 07:11] lingsamuel opened #10128 "Flaky TestFunctional/parallel: NodeLabels, ComponentHealth: connection refused"
ComponentHealth:

[code]

[code]

/kind failing-test
/kind flake

Full logs
<details>

[code]

</details>

NodeLabels:

[code]

[2021-01-12 08:31] lingsamuel commented on #10128
suspect: #10098

[2021-01-12 09:00] lingsamuel opened #10130 "Flaky TestFunctional/parallel/ComponentHealth: pending"
/kind failing-test
/kind flake

[code]

[code]

[2021-01-12 09:24] mabdelfattah commented on #9847
@harryttd I have the same problem, did you able to fix it?

[2021-01-12 10:41] tahsinozden commented on #3077
I had a similar problem. I have a private repo on docker and wanted to use it inside a POD.
Firstly, I added my secret to the Kubernetes and tried to apply the POD.
https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#registry-secret-existing-credentials

But I got the error described in the issue. The thing I forgot was to update my POD yaml file with the followin

[2021-01-12 12:02] bkaran08 commented on #10052
Thank you for the helpful reply,
I tried and I reinstalled according to your suggestion and it work.

[2021-01-12 12:02] #10052 closed

[2021-01-12 18:06] manoj10kumar commented on #8163
getting error
😄  minikube v1.16.0 on Ubuntu 20.04 (xen/amd64)
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing docker container for "minikube" ...
🤦  StartHost failed, but will try again: provision: get ssh host-port: get port 22 for "minikube": docker container inspect -f "'{{(index (index .NetworkSettings.Port

[2021-01-12 18:47] azhao155 commented on #10107
very possible related to this issue: https://github.com/docker/machine/issues/3634

[2021-01-12 18:51] medyagh commented on #10107
good find that could pretty much be the reason

[2021-01-12 20:05] medyagh opened #10133 "Flake TestPause/serial/Pause: kubelet Default-Start contains no runlevels, aborting"
https://storage.googleapis.com/minikube-builds/logs/10131/a08f6e9/Docker_Linux.html#fail_TestPause%2fserial%2fPause
[code]
full log

[code]

[2021-01-12 21:50] #10098 closed

[2021-01-12 21:51] #10125 closed

[2021-01-13 04:31] lingsamuel opened #10135 "Windows TestFunctional/parallel/DockerEnv takes too long causes timeout error"
[full.log](https://github.com/kubernetes/minikube/suites/1818569080/artifacts/35011671)

Sometimes DockerEnv test failed (`powershell.exe -NoProfile -NonInteractive "./minikube-windows-amd64.exe -p functional-20210113052654-3348 docker-env | Invoke-Expression ;./minikube-windows-amd64.exe status -p functional-20210113052654-3348`):
[code]

So in this debug pr I added one more step to view how long

[2021-01-13 04:47] lingsamuel commented on #9785
found in #10118  [full.log](https://github.com/kubernetes/minikube/suites/1798913200/artifacts/34487766)

[code]

How can this happened...

[2021-01-13 05:11] lingsamuel commented on #9785
Some progress:

[code]

https://github.com/kubernetes/minikube/blob/447b58cb24622809c136d8acb7d0bc807dcd312f/cmd/minikube/cmd/start.go#L919-L939

[2021-01-13 08:47] lingsamuel opened #10136 "Improve Hyper-V performance by reduce duplicate calls"
See #10135

`docker-env` and `status` need 10s in average.

/kind feature

[2021-01-13 08:59] lingsamuel commented on #10136
/label os/windows

[2021-01-13 09:27] Zarca commented on #9600
The same situation

[2021-01-13 17:15] FatmaG commented on #10007
Suggestion: Add your user to the 'docker' group: 'sudo usermod -aG docker $USER && newgrp docker' that solves it!

[2021-01-13 18:44] medyagh opened #10138 "add arm64 binaries to gcloud"
gcloud on arm64 does not have minikube as a installable component, we need to share the arm64 binaries with gcloud

[2021-01-13 19:15] mcred opened #10139 "PVCs restored from VolumeSnapshots always stay in Pending state"
In a deployed k8s cluster, the workflow of creating a PVC, creating a snapshot, restoring that snapshot into a new PVC using the csi-hostpath-driver works, but when the same files and workflows are executed locally with minikube, they fail. The basic steps are below and after step 5, the PVC always remains in the Pending state.

[code]

**Steps to reproduce the issue:**

1. `minikube start`
2.  en

[2021-01-13 19:55] medyagh commented on #10130
example TestFunctional/parallel/ComponentHealth

https://storage.googleapis.com/minikube-builds/logs/10126/53c73e5/none_Linux.html#fail_TestFunctional%2fparallel%2fComponentHealth

[2021-01-13 19:56] medyagh commented on #10130
so when we say "minikube start --wait=all" minikube should wait for everyhing to be up
I have noticed when we do a "Second Start" on minikube, it might NOT respect the --wait flag
maybe that is the cause

we need to figure out why the api server is going Pending after it is started.

[2021-01-13 21:27] prasadkatti commented on #10121
possible dup of https://github.com/kubernetes/minikube/issues/8949

@codyowl - Check out this comment on the other issue - https://github.com/kubernetes/minikube/issues/8949#issuecomment-689734209

[2021-01-13 22:39] prasadkatti commented on #10121
The addon was removed here - https://github.com/kubernetes/minikube/pull/3556 almost 2 years back

[2021-01-14 00:27] priyawadhwa opened #10140 "Add gopogh to scheduled stop windows github actions test"
Currently gopogh doesn't work with these tests because of https://github.com/golang/go/issues/43683

Once that is resolved, add gopogh back to those tests. Reference #10132

[2021-01-14 01:10] medyagh commented on #10136
thats a good idea @lingsamuel if indeed we doing those operations multiple times. could we verify how many times we actually call those funcs ? maybe adding some debug.Printstack() and them and see how many times we call it and reduce those calls

[2021-01-14 02:01] Dhua-v opened #10142 "Tools like helm and k9s are not able to access minikube cluster, but other clusters work fine. Also kubectl works fine with minikube."
$ minikube version
minikube version: v1.16.0
commit: 9f1e482427589ff8451c4723b6ba53bb9742fbb1-dirty

$ helm version
version.BuildInfo{Version:"v3.5.0", GitCommit:"32c22239423b3b4ba6706d450bd044baffdcf9e6", GitTreeState:"clean", GoVersion:"go1.15.6"}

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.6", GitCommit:"fbf646b339dc52336b55d8ec85c181981b86331a", Git

[2021-01-14 05:52] 3wolf commented on #9078
It was v1.16.0... But this problem is still not be solved. 💢

[2021-01-14 06:08] MarkDickinson commented on #7231
Same issue, also f33 but using kvm rather than docker. And with more recent versions than above
[mark@vmhost3 bin]$ minikube start
😄  minikube v1.16.0 on Fedora 33
✨  Automatically selected the kvm2 driver
👍  Starting control plane node minikube in cluster minikube
🔥  Creating kvm2 VM (CPUs=2, Memory=4096MB, Disk=20000MB) ...
❗  This VM is having trouble accessing https://k8s.gcr.io
💡  To pull new

[2021-01-14 06:30] lingsamuel commented on #10136
From the log I pasted #10135 we can say it repeat `.state` at least 3 times and get ip address twice

[2021-01-14 06:56] lingsamuel commented on #9785
Notice the output. The success output has one more empty line:

[code]

[2021-01-14 07:00] lingsamuel commented on #9785
I highly suspect `klog.Flush()`.

[2021-01-14 07:59] MarkDickinson commented on #7231
Same issue, also f33 but using kvm rather than docker. And with more recent versions than above
[mark@vmhost3 bin]$ minikube start
😄  minikube v1.16.0 on Fedora 33
✨  Automatically selected the kvm2 driver
👍  Starting control plane node minikube in cluster minikube
🔥  Creating kvm2 VM (CPUs=2, Memory=4096MB, Disk=20000MB) ...
❗  This VM is having trouble accessing https://k8s.gcr.io
💡  To pull new

[2021-01-14 08:00] lingsamuel commented on #10136
The latency only happens when we are accessing host.Driver.XXX. I suspect the reason is powershell starts slowly.
[code]
Slow operation is `Driver.GetState()`.

In `status` command:
[code]
- `machine.Status`, has 1 `.GetState()`
- `cluster.DriverIP()` has 1 `.GetIP()` (from log I found before IP access, there is a `State` access, I suspect it happened inside `GetIP()`)
- New a `CommandRunner` (SSH

[2021-01-14 09:48] fulongli commented on #8044
minikube start --iso-url=https://kubernetes.oss-cn-hangzhou.aliyuncs.com/minikube/iso/minikube-v1.9.2.iso  --image-repository=registry.aliyuncs.com/google_containers

[2021-01-14 10:38] lingsamuel commented on #10136
Some libmachine codes: [GetIP](https://github.com/machine-drivers/machine/blob/4f91040061541cf5c23489009e1c6d946cc21d42/drivers/hyperv/hyperv.go#L433-L434), [GetState](https://github.com/machine-drivers/machine/blob/4f91040061541cf5c23489009e1c6d946cc21d42/drivers/hyperv/hyperv.go#L142-L143)

By cache `LoadHost`, the elapsed time reduced from 2s to 1s. But the repeated calls still exist.
From the

[2021-01-14 13:04] lingsamuel commented on #10136
The strange thing is the lib [already set IP](https://github.com/machine-drivers/machine/blob/4f91040061541cf5c23489009e1c6d946cc21d42/drivers/hyperv/hyperv.go#L372) inside `Start()`.
Is there any reason?

[2021-01-14 13:20] lingsamuel commented on #10136
By this [simple patch](https://github.com/lingsamuel/machine/blob/master/drivers/hyperv/hyperv.go#L434-L437), `docker-env` and `status` only need 2s currently (1 `State` call).

[2021-01-14 14:07] kmohanram commented on #10013
hello, would it be possible to look into this and prioritize as appropriate? i see multiple attempts and workarounds listed/documented here and elsewhere to enable auditing, but unless i am mistaken, auditing does not function correctly as of the latest release. thank you.

[2021-01-14 14:56] nicobbg commented on #10124
found several ticket already mentionning this bug. It is not solved yet however there is a fix (delete the minikube profile and recreate a new one.)
https://github.com/kubernetes/minikube/issues/8242

[2021-01-14 14:56] #10124 closed

[2021-01-14 17:51] owenthereal opened #10143 "`minikube kubectl --profile` does not switch context"
**Steps to reproduce the issue:**

1. Provision multiple minikube clusters, e.g. cluster-a & cluster-b
2. Change context to cluster-a with `kubectl config use-context cluster-a`
3. Get namespaces in cluster-b with `minikube kubectl --profile cluster-b -- get ns`, context isn't switched from cluster-a to cluster-b and cluster-a namespaces are shown.

The reason is that https://github.com/kubernetes

[2021-01-14 18:34] ilya-zuyev opened #10144 "Some integration tests are disabled on linux/arm64"
Currently some integration tests are skipped when running on arm64.

This issue is to track those and enable it back when blocking issues with dependencies are resolved.

TestDownloadOnlyKic - preloads are not supported for arm64 yet
TestPreload - preloads are not supported for arm64 yet

TestOffline - crio and containerd are not fully supported on arm64
TestAddons - helm addon is not supported ye

[2021-01-14 18:46] davidmnoriega commented on #9799
I can confirm that `minikube start --driver=podman --container-runtime=crio` works

[code]

[2021-01-14 18:52] #10135 closed

[2021-01-14 21:16] medyagh commented on #10107
fixed by https://github.com/kubernetes/minikube/pull/10118

[2021-01-14 21:16] #10107 closed

[2021-01-14 22:36] tstromberg commented on #10142
Is it possible you are installing k9s or helm via snap? If so, they are sandboxed and unable to access files that were not created by them.

You may be able to workaround this using `minikube start --embed-certs`

[2021-01-14 22:37] #10101 closed

[2021-01-15 00:11] medyagh opened #10147 "add --light option to invoke `profile list` without checking status (for cheaper and faster)"
[code]

to this
[code]

[2021-01-15 00:11] medyagh commented on #10147
we could potentially also instead of not showing the status, we could show "skipped"

[code]

[2021-01-15 00:13] medyagh commented on #10147
for @daehyeok

[2021-01-15 00:14] daehyeok commented on #10147
I will reuse my implementation after #10119 is merged.

[2021-01-15 01:23] #9970 closed

[2021-01-15 04:52] Dhua-v commented on #10142
Hy yes, I always use snap, so is there any flag for snap to provide to disable sandboxing?
Closing the issue as reason is there.

[2021-01-15 04:52] #10142 closed

[2021-01-15 06:08] sobankhan12 opened #10148 "minikube start error"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-01-15 06:09] sobankhan12 commented on #10148
plz solve my problem

[2021-01-15 09:52] ricosega opened #10149 "Offline docs do not work for the Docker driver"
Hi there,

Needed to set up minikube in an "air gapped/offline" environment and we were not able to to do it following the [instructions](https://minikube.sigs.k8s.io/docs/handbook/offline/). We tried using many flags at start point like, ```--cache-images=true```, or ```--download-only```, and many combinations, but when we moved the .minikube folder to the offline computers, it wasn't able to st

[2021-01-15 11:25] Mehrab-uddin opened #10150 "🤦 StartHost failed, but will try again: creating host: create host timed out in 360.000000 seconds"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-01-15 15:45] AndreyIvshin opened #10151 "Docker driver minikube cannot be created after enabling ingress addon"
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
1. I used minikube with Docker driver.
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>

$ minikube addons enable ingress
* After the addon is enabled, please run "minikube tunnel" and your ingress resources would be available at "127.0.0.1"
* Verifying ingress addon...
* The 'ingress' addo

[2021-01-15 16:00] AndreyIvshin opened #10152 "Ingress addon problem"
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
1. Starting minikube == 4 step of https://github.com/kubernetes/minikube/issues/10151 Docker driver minikube cannot be created after enabling ingress addon #10151
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>

$ minikube start
* minikube v1.16.0 on Microsoft Windows 10 Home Single La

[2021-01-15 16:55] AndreyIvshin opened #10153 "Ingress addon problem again"
After Docker driver minikube cannot be created after enabling ingress addon #10151 https://github.com/kubernetes/minikube/issues/10151 and Ingress addon problem #10152 https://github.com/kubernetes/minikube/issues/10152

<><><>><><><><><>><><><><><>><><><><><>><><><><><>><><><><><>><><><><><>><><>
1. Deleted .minikube and .kube and start minikube
<><><>><><><><><>><><><><><>><><><><><>><><><><><>>

[2021-01-15 18:21] afbjorklund commented on #9228
We played with this during Kubecon, and there was no problems as long as you shifted over to GRUB (from isolinux)

It was possible to use that ([efi](https://en.wikipedia.org/wiki/Unified_Extensible_Firmware_Interface)) for amd64 as well, if we wanted to have the same bootloader for both architectures...

I put both the images and the scripts here, if you want to try it out: https://github.com/afb

[2021-01-15 19:43] alban commented on #8556
Additionally, I would like to have CONFIG_DEBUG_INFO_BTF (available from Linux 5.2) to benefit from BPF programs compiled with [CO-RE](https://facebookmicrosites.github.io/bpf/blog/2020/02/19/bpf-portability-and-co-re.html).

[2021-01-16 03:38] codyowl commented on #10121
Thanks for the comments @prasadkatti .I figured it out, the version I'm using does have "coredns" as its default one.Thanks a lot by the way !

[2021-01-16 05:39] lolbuddy opened #10155 "minikube start --driver=none"
**Steps to reproduce the issue:**

1. minikube start --driver=none
2.
2.
3.

**Full output of failed command:**

 minikube v1.16.0 on Ubuntu 20.04 (xen/amd64)
* Using the none driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing none bare metal machine for "minikube" ...
* OS release is Ubuntu 20.04.1 LTS
* Preparing Kubernetes v1.20.0 o

[2021-01-16 13:20] krezovic opened #10156 "image-repository not respected for cni=calico"
**Steps to reproduce the issue:**

1. minikube start --driver=docker --image-repository=private-registry.net/infrastructure --cni=calico

All manifests, including addons, include the specified registry, except calico deployment and daemonset. They still point to their default images (from docker.io)

[2021-01-16 14:33] rameez523 opened #10157 "minikube start failed"
**Steps to reproduce the issue:**

![image](https://user-images.githubusercontent.com/61797840/104814597-a59b6b00-5831-11eb-8b4b-e017ee5586e8.png)

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-01-16 15:02] rameez523 commented on #10157
it got resolved by disabling swap

swapoff -a

[2021-01-16 18:35] alanblairverint opened #10158 "minikube incorrectly assumes the DOCKER_HOST is always a numeric IP address"
I am unable to get minikube to start on Windows 10 using the following versions:

**Minikube**
minikube version: v1.16.0
commit: 9f1e482427589ff8451c4723b6ba53bb9742fbb1

**Kubectl:**
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.0", GitCommit:"af46c47ce925f4c4ad5cc8d1fca46c7b77d13b38", GitTreeState:"clean", BuildDate:"2020-12-08T17:59:43Z", GoVersion:"go1.15.5", Compiler:"

[2021-01-16 21:31] ioef commented on #9762
ubuntu@ubuntu:~$ minikube start
😄  minikube v1.16.0 on Ubuntu 20.04 (arm64)
✨  Using the docker driver based on user configuration

🤷  Exiting due to PROVIDER_DOCKER_NOT_FOUND: The 'docker' provider was not found: docker driver is not supported on "arm64" systems yet
💡  Suggestion: Try other drivers
📘  Documentation: https://minikube.sigs.k8s.io/docs/drivers/docker/

Any suggestion for the way for

[2021-01-17 06:35] zamkhan29 commented on #9130
$ minikube start --driver=virtualbox
* minikube v1.16.0 on Microsoft Windows 10 Home Single Language 10.0.19042 Build 19042
* Using the virtualbox driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Creating virtualbox VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...
* Deleting "minikube" in virtualbox ...
! StartHost failed, but will try again: creating hos

[2021-01-17 11:19] afbjorklund commented on #9762
Docker driver was still not allowed/"supported" in v1.16.0

It needs 66a671fc863030116b947363a2b233c8542b2971 (to remove previous 24971a5ff5661805fb464c143ba9347efc46e9e3)
Above, I was using the patches from the other issue...

https://github.com/kubernetes/minikube/issues/9227#issuecomment-692494213

[2021-01-17 11:38] sgc109 commented on #6160
@STRRL I was having exactly the same problem with you(with Kubernetes in action example)
Thank you!!!

[2021-01-17 12:17] leozilla commented on #8055
I also still see problems with multi node clusters and kvm2. This happens on first creation of the cluster but also on restarting of the cluster. Here u see the logs when I restart a 3 node cluster.
[code]
CoreDNS pod is running but the problem seems that its started too early.
Logs of CoreDNS pod.
[code]
After restarting the CoreDNS pod, there are no more erros visible in the logs and DNS starts

[2021-01-17 20:52] ioef commented on #9762
Thank you this is completely understood.

I wonder if there is a possibility to go with the **kvm** **driver**. I would definitely like to stick with minikube on raspberry pi 4 and avoid other solutions.

[2021-01-17 23:42] #9035 closed

[2021-01-18 01:09] rh-dluong opened #10160 "arch linux: Minikube mount fails with /bin/bash: nil: No such file or directory"
**Steps to reproduce the issue:**

1. minikube start --driver=podman --container-runtime=cri-o
2. minikube mount "/etc/home-assistant/:/etc/home-assistant/"
3.

**Full output of failed command:**
📁  Mounting host path /etc/home-assistant/ into VM as /etc/home-assistant/ ...
    ▪ Mount type:
    ▪ User ID:      docker
    ▪ Group ID:     docker
    ▪ Version:      9p2000.L
    ▪ Message Size: 2621

[2021-01-18 01:46] rh-dluong commented on #10160
It's on Arch Linux, from past issues, I tried to see if it was a networking issue, I turned off iptables, but it would never actually get anywhere, after 5 min I gave up on it:
[code]

I would try to CtrlC escape it and it never actually does, I actually have to close out the window because it's just stuck there:
[code]

I'm assuming this is the network that it's trying to use:
[code]

I tried usi

[2021-01-18 06:35] afbjorklund commented on #9762
It's outlined at the start there, the main missing piece is the ISO (for arm64) and some minor details like a KVM driver (for arm64)

[2021-01-18 08:03] minicloudsky opened #10163 "minikube dashboard can't open browser due to xdg-open command not found."
**Steps to reproduce the issue:**
OS version  CentOS 8.3.2011
1. install minikube v1.16.0
2. install docker version 20.10.2, build 2291f61
3. run minikube start --driver=docker
4. run minikube dashboard

**Full output of failed command:**

[mini@tencentcloud ~]$ minikube dashboard
* Verifying dashboard health ...
* Launching proxy ...
* Verifying proxy health ...
* Opening http://127.0.0.1:38731/a

[2021-01-18 10:10] afbjorklund commented on #10163
You also need to set your preferred web browser, before `xdg-open` will work correctly.

[code]

Normally this is done with your desktop environment, but you can also set $BROWSER...

I thought that `firefox` would be included in the default list (when having a display), though ?

[2021-01-18 10:14] afbjorklund commented on #10163
It seems that the likely issue is that you are running this from a text terminal, not X11.
I don't think the kubernetes dashboard works very well, in such a CLI environment...

[2021-01-18 10:55] du86796922 commented on #1370
This is still an issue.

/remove-lifecycle rotten

[2021-01-18 10:56] du86796922 commented on #1370
/reopen

[2021-01-18 11:39] minkukjo commented on #7332
@camba1
It works for me on my mac.
Thank you a lot!

[2021-01-18 12:23] lxzhang000 opened #10164 "`minikube start` doesn't stop after download failure due to network issues"
I'm testing the minikube network connection issues in China and happened to find there is a potential bug:

After all image fallback addresses failed, minikube didn't stop to the process as expected, and failed later due to lack of valid images.

**Steps to reproduce the issue:**
os version: macOs catalina 10.15.7
minikube version: v1.16.0 commit: 9f1e482427589ff8451c4723b6ba53bb9742fbb1

minikube

[2021-01-18 12:31] minicloudsky commented on #10163
thanks,I will try k9s or rancher to instead

[2021-01-18 13:42] pothibo commented on #1370
/reopen

[2021-01-18 14:24] Gopikrishna73 opened #10165 "none driver: provide solution message when docker not running"
**Steps to reproduce the issue:**

1.ubuntu@ip-172-31-45-236:~$ minikube dashboard
* The control plane node must be running for this command
  - To start a cluster, run: "minikube start"
ubuntu@ip-172-31-45-236:~$ minikube config set driver docker
! These changes will take effect upon a minikube delete and then a minikube start
ubuntu@ip-172-31-45-236:~$ minikube start
* minikube v1.16.0 on Ubuntu

[2021-01-18 14:51] afbjorklund commented on #10165
Looks similar to: #10083 and #10155

For some reason, these trivial Docker commands are failing:

`docker version --format {{.Server.Version}}`

`docker info --format {{.CgroupDriver}}`

[2021-01-18 14:58] afbjorklund commented on #10165
That was easy enough to reproduce. Just stop the docker daemon.

[code]

[2021-01-19 00:44] cristian04 commented on #9798
I had the same issue on Windows using hyper-v. The connection between minikube and the hyper-v eth interface was blocked by a firewall. To fix the issue, disable the firewall and test running a webserver on the windows host and try connecting to it using the hyper-v ip address (it should be same as the nameserver on /etc/resolv.conf)

Workaround: Uninstall hyper-v and use virtualbox.

[2021-01-19 00:45] cristian04 commented on #9798
/kind hyper-v

[2021-01-19 02:52] amigowifi1 opened #10166 "ES-issue"
**Los comandos necesarios para reproducir la incidencia**:

**El resultado completo del comando que ha fallado**: <details>

</details>

**El resultado del comando `minikube logs`**: <details>

</details>

**La versión del sistema operativo que utilizaste**:

[2021-01-19 02:54] lizheray commented on #7903
if you use Linux Desktop OS with docker and minikube already installed, just run

`sudo usermod -aG docker $USER`

and restart your computer.
It worked for me.

[2021-01-19 03:41] jverce commented on #8163
/reopen

I'm hitting this error whenever I restart my computer with Minikube running.
After it restarts, `minikube start` fails with this error: https://gist.github.com/jverce/f7243519d2515d1b1490ca5ef573335f

Some additional context:
* Docker inspect: https://gist.github.com/jverce/22c4bc495b0c1d94b3e5e280179baf49
* Minikube start command: `minikube start --insecure-registry=registry:5000 -n 3 --

[2021-01-19 04:29] Yash0182 opened #10170 "Unable to download images in mac using minikube on hyperkit"
While downloading docker image, using minikube on hyperkit, getting below error:
Failed to pull image "nginx": rpc error: code = Unknown desc = Error response from daemon: Get https://registry-1.docker.io/v2/: dial tcp: lookup registry-1.docker.io on 192.168.64.1:53: read udp 192.168.64.2:41674->192.168.64.1:53: read: connection refused

I checked the other link:
https://github.com/kubernetes/mini

[2021-01-19 04:41] jverce commented on #8163
I was able to start the cluster without tearing it down.

These are the steps that I followed:
1. Re-create the Minikube network that the existing Minikube cluster is using (note: you might need to disconnect whichever containers are currently connected to that network)
[code]
2. Connect your existing Minikube containers to the new network (you might want to automate this if you have many nodes in

[2021-01-19 05:33] Gopikrishna73 commented on #10165
Hi Kubernetes/Minikube,

Thank you for your reply and the issue got resolved and it is working now.

Once again thank you for your support.

Regards,
Gopikrishna

On Mon, Jan 18, 2021, 8:28 PM Anders Björklund <notifications@github.com>
wrote:

[2021-01-19 07:22] kameshsampath opened #10171 "crio: Unable to pull images form internal registry"
[code]

**Steps to reproduce the issue:**

1. Start Minikube as
[code]
2.  Apply the registry and registry-aliases add-on
3. Build and push an image to the Minikube registry as `example.com/demo/greeter`
4.  Deploy a pod using the command
[code]

The kubectl get events shows the crashed pod with the following logs:

**Full output of failed command:**
[code]

With `--insecure-registry` specified, t

[2021-01-19 07:25] kameshsampath commented on #10171
some more contextual info

`minikube ssh -- cat /etc/hosts`

[code]

`kubectl get svc -n kube-system`

[code]

`kubectl get cm coredns -n kube-system -o yaml | yq eval '.data' - `

[code]

[2021-01-19 12:31] rubans opened #10172 "Trying to enable Ingress addon manually - having issues"
**Steps to reproduce the issue:**

Trying to install the ingress addon for Minikube v1.12.2 (as v1.16 throws errors when trying enable on driver=none):
1. Using : minikube addons enable ingress
Throws errors related to timeouts which on closer look at the logs are due to the fact my VM is behind a corporate proxy and can't grab images from some of the public registries. So I need another way to se

[2021-01-19 15:56] clamprecht01 commented on #10149
@ricosega Thank you for opening this.

Following for updates.

[2021-01-19 17:17] prasadkatti commented on #10121
You are welcome! Feel free to close the issue since you figured it out.

[2021-01-19 17:39] rubans commented on #10172
Resolved this issue by updating each of the pod and deployment images to the local docker registry ones.
Ingress was successfully installed without any issues.

[2021-01-19 17:45] #10172 closed

[2021-01-19 18:39] lucashimizu commented on #10085
Exact same problem, trying to open traffic through an Istio Ingress Gateway.

[2021-01-19 18:52] medyagh opened #10173 "site: add calendar invite link to Triage Meeting"
on our site, there should be a link to add a calendar invite for triage meeting, or we could direct the users to join a the google group so they receive the invitation on their calendar automatically
https://minikube.sigs.k8s.io/docs/contrib/triage/

[2021-01-19 18:53] afbjorklund commented on #10171
Worked here.

[code]

You might want to double-check `minikube ssh docker info`:

[code]

[2021-01-19 21:38] medyagh commented on #10130
in the logs we see
[code]

that could be pointing to a memory issue.

[2021-01-19 21:38] medyagh commented on #10130
how about try to replicate this using a low memory minikube and test only funciotnal against that

[2021-01-19 22:02] medyagh opened #10174 "add average memory/cpu usage to minikube status"

[2021-01-19 22:19] medyagh opened #10175 "why crictl warns on Kic and not on VM "As the default settings are now deprecated, you should set the endpoint instead.""
[code]

[2021-01-19 22:32] jiefenghe commented on #10175
/assign

[2021-01-19 22:34] #4733 closed

[2021-01-20 00:49] medyagh opened #10179 "install clean up cron job for ARM64 aws CI machines"
simmilar to https://github.com/medyagh/minikube/blob/89a8cdc794098f9ba0550fbb5eeb19bc3dd8774d/hack/jenkins/cron/cleanup_and_reboot_Linux.sh
we need to check if there is no job running, if not then prune docker and kill stuck process and reboot

[2021-01-20 00:57] ilya-zuyev opened #10180 "Use yaml template for GitHub Action workflows"
Currently we have .github/workflows/master.yaml and .github/workflows/pr.yaml to describe the workflows for commits to master and for new PRs. These files are pretty much the same and we need to duplicate all the changes we make.
It would be better to have a template, and generate both master.yaml and pr.yaml based on it.

Nice to have: steps related to generating reports are the same inside one w

[2021-01-20 00:59] ilya-zuyev opened #10181 "Add cronjob clean up job for GitHub Action runner hosts (arm machines)"
For self-hosted Actions runner machines, add a clean up cron task to delete integrations test remains, similar to https://github.com/medyagh/minikube/blob/89a8cdc794098f9ba0550fbb5eeb19bc3dd8774d/hack/jenkins/cron/cleanup_and_reboot_Linux.sh

[2021-01-20 04:02] anencore94 commented on #9930
Is there any progress on this issue? @arjunagl
If you are unavailable to take this issue because of other schedule, I would love to take this!

[2021-01-20 04:07] arjunagl commented on #9930
@anencore94 please go ahead.  I got a bit stuck with some other stuff.

[2021-01-20 04:08] arjunagl commented on #9930
/unassign

[2021-01-20 04:52] anencore94 commented on #9930
Thanks for your answer @arjunagl :)
/assign

[2021-01-20 06:49] afbjorklund commented on #10175
Maybe you were using something other than docker, for the profile under the docker driver ?

I get the same warning in KIC, which is a duplicate of the already known deprecation: #9868

[code]

[2021-01-20 06:50] afbjorklund commented on #10174
Seems like a duplicate: #3574

[2021-01-20 08:53] kameshsampath commented on #10171
that sound weird ! was it on macOS ?

Let me try again on a fresh instance, do you see any issue with minikube start command ??

[2021-01-20 09:19] mrizzi opened #10182 "Minikube 1.16.0 Fedora 33 (podman + cri-o) doesn't start"
**Steps to reproduce the issue:**

1. `$ minikube start --driver=podman --container-runtime=cri-o --alsologtostderr`

**Full output of failed command:**
<details>

[code]

</details>

**Full output of `minikube logs` command:**
<details>

[code]

</details>

**Tools versions**

[code]

**Notes**
The test has been done with cgroups v2.
I've tested anyway also v1 but it doesn't work anyway.

Thanks

[2021-01-20 11:27] afbjorklund commented on #10182
Looks like some kind of CRI-O issue. Not sure if upgrading from 1.19 to 1.20 would help

[2021-01-20 11:39] afbjorklund commented on #10182
We don't test minikube on Fedora, so need community help with that: #3552

Have you disabled selinux ?

[2021-01-20 11:53] erickalmeidaptc commented on #1107
I still having this issue.

minikube v1.16.0 on Ubuntu 20.10
✨  Using the kvm2 driver based on user configuration

cat /etc/os*
NAME="Ubuntu"
VERSION="20.10 (Groovy Gorilla)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.10"
VERSION_ID="20.10"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://

[2021-01-20 12:28] mrizzi commented on #10182
Sure about helping with https://github.com/kubernetes/minikube/issues/3552: do you think that if we find a running conf for F33 w/ podman+cri-o it could become the testing CI env for covering Minikube on Fedora?

Sorry, about `Not sure if upgrading from 1.19 to 1.20 would help`, do you want me to try? Or is this something you already tried?

Checked:
[code]

Then tried with both SELinux `permissiv

[2021-01-20 12:53] kmohd7121 opened #10183 "minikube"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-01-20 12:56] afbjorklund commented on #10182
Thanks for testing. You can upgrade if you want (just to see if it helps), but it was working with 1.19 here.

[2021-01-20 12:57] erickalmeidaptc commented on #1674
/reopen

[2021-01-20 13:24] mrizzi commented on #10182
Well, good it works with a F33 VM.
I've installed the laptop some days ago so it's quite standard as the VM was I believe.
Just checked and I'm using the same podman package:
[code]

[2021-01-20 13:36] skyhisi commented on #9305
I think I'm seeing the same issue, it looks like on the master node, the directories created in `/tmp/hostpath-provisioner/default` have the permissions 777 (`rwxrwxrwx`), whereas on the secondary node, the permissions are 755 (`rwxr-xr-x`).

[2021-01-20 17:20] #10121 closed

[2021-01-20 17:43] mrizzi commented on #10182
Thanks for the Vagrant conf: I was missing `conntrack-tools` so I've added them but it didn't solve the issue for me.

[code]
but the output looks the same to me:

<details>

[code]
</details>
and the `minikube logs` output:
<details>

[code]
</details>

TBH I'm not so sure what else I could try other than the brute force approach comparing your VM with my host.

[2021-01-20 17:50] tejal29 opened #10184 "[Friction Log] Translate error message into actionable error."
Hey team,

I am working with @chairy on CC outout mocking and this the raw error we are tackling.

[code]

Suggested Translation:

[code]

* The new error message indicates, docker is out of memory resource.
(resources may include memory and CPU)
*  We will show them link to restart docker with more memory.
Note: The link will different for different OS i.e windows and mac.

The only change here i

[2021-01-20 18:00] afbjorklund commented on #10182
It just to avoid a warning from kubeadm:

[code]

[2021-01-20 18:18] tstromberg commented on #10184
This is a non-fatal error message that minikube should recover from, unless it's on an offline device.

There are many many reasons why Docker might return exit code 1 for this command. Can you please include the full output of `minikube start`? I wonder if part of the error message is on the next line, or if we are failing to include the error text from Docker.

[2021-01-20 18:58] medyagh opened #10185 "Add Cpu/memory limits on minikube resources"
for example on mysql test we can specify max cpu and memory to not allow mysql to over eat the resources
https://github.com/medyagh/minikube/blob/89a8cdc794098f9ba0550fbb5eeb19bc3dd8774d/test/integration/testdata/mysql.yaml#L29

we could possibly add limiations to api sever or other things (etcd) in the next iteration

example https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/me

[2021-01-20 19:07] keppusamyibm opened #10186 "missing required cgroups: pids"
OS: Linux
CGROUPS_CPU: enabled
CGROUPS_CPUACCT: enabled
CGROUPS_CPUSET: enabled
CGROUPS_DEVICES: enabled
CGROUPS_FREEZER: enabled
CGROUPS_MEMORY: enabled
CGROUPS_PIDS: missing
CGROUPS_HUGETLB: enabled

stderr:
error execution phase preflight: [preflight] Some fatal errors occurred:
        [ERROR SystemVerification]: missing required cgroups: pids
[preflight] If you know what you are doing, you ca

[2021-01-20 19:09] medyagh commented on #10089
this is a good idea ! for the starting point we should at least add ubuntu test to our matrix.

[2021-01-20 19:16] medyagh commented on #10019
good idea, I would like to fully support this and possibly add integraiton test for it, there is a WIP PR for making addons possible with custom image.

https://github.com/kubernetes/minikube/pull/10111

[2021-01-20 19:21] medyagh commented on #10019
that is a good point, do u know if other simmilar tools using a specific tool that minikube could take advantage of ?
in the past I have seen people deploy a kubertnes secret to their Pod, that will let the pod be able to pull from a specific registery, have u already that ?

[2021-01-20 19:21] priyawadhwa commented on #9991
Yup, we are aiming to have a design for this this quarter. I will update this issue as we know more!

[2021-01-20 19:23] afbjorklund commented on #10089
Maybe weigh the test matrix, against what minikube users are actually using ?

[2021-01-20 19:27] medyagh commented on #9914
@raul1991 so this error doen't happen without VPN ?  do u mind sharing your VPN tool ? is there a way minikube can detect the VPN and at least provide a better message to the user about their VPN ?

[2021-01-20 19:32] priyawadhwa commented on #10062
It looks like the kernel headers version isn't correct, seems like BPF is looking for `4.19.114` while the kernel headers we extract are `4.19.94`

What driver are you using? On macOS, this will only currently work with the `hyperkit` driver, which you can specify by running `minikube start --driver hyperkit`

[2021-01-20 19:33] priyawadhwa commented on #10022
@steephengeorge sounds good, please let us know if the newest version works for you!

[2021-01-20 19:34] priyawadhwa commented on #9962
Hey @zmykevin friendly ping, are you still seeing this issue, and were you able to give the suggestions above a try?

[2021-01-20 19:35] priyawadhwa commented on #9452
Hey @darkn3rd friendly ping, are you still seeing this issue?

[2021-01-20 19:36] raul1991 commented on #9914
My VPN is PulseSecure but I am not sure if that is available openly on the web.
What I think is the problem that this VPN's ip address pool conflicts with the minikube.

That could be my best guess.

As for the logs, Ill post them in a few hours.

[2021-01-20 19:36] medyagh commented on #9874
@ucohen I haven't heard from you, do you still have this issue ?

[2021-01-20 19:37] medyagh commented on #9869
@esentai8 I belive we have fixed this on the HEAd and it will be included on minikube 1.17.0

[2021-01-20 19:37] medyagh commented on #9759
Hi @kdraper69 , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-01-20 19:37] priyawadhwa commented on #9757
Hey @Pictor13 sorry for the delay in responding to your issue. I'm not very familiar with `minikube mount`, but I did find this issue which seems like it could be related: #4621

Looks like some users found a workaround, I wonder if this would work for you as well? https://github.com/kubernetes/minikube/issues/4621#issuecomment-506463147

[2021-01-20 19:38] priyawadhwa commented on #9437
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2021-01-20 19:38] #9437 closed

[2021-01-20 19:39] priyawadhwa commented on #9402
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2021-01-20 19:39] #9402 closed

[2021-01-20 19:41] medyagh commented on #9724
Hi @joearul09, I haven't heard back from you, I wonder if you still have this issue? or if the suggestion helped you ?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more informati

[2021-01-20 19:41] #9724 closed

[2021-01-20 19:44] priyawadhwa commented on #9312
Hey @michal-kaliszewski-sollers-eu I did a quick search and found this article, although I haven't tried it out myself: https://nieldw.medium.com/running-minikube-with-vm-driver-none-47de91eab84c

Perhaps running
[code]
as suggested would work? Looks like the value of `--apiserver-name` is the main difference.

[2021-01-20 19:46] medyagh commented on #9834
@lingsamuel  you are right and I would accept a PR that fixes this issue.

[2021-01-20 19:48] medyagh commented on #8409
@vyom-soft I am curious if stil have this issue with latest version of minikube ? I believe we added a few checks arround old docker versions

[2021-01-20 19:50] priyawadhwa commented on #10157
Hey @rameez523 glad to hear you were able to resolve this issue. I'm going to go ahead and close it, but feel free to open if you run into more issues or have any questions.

[2021-01-20 19:50] #10157 closed

[2021-01-20 19:51] medyagh commented on #9189
@cowwoc @Meg4Bit  I am curious if u have tried with powershell run with administrative privilege ?

I wonder if you have open SSH installed ? or if installing openSSH on windows would fix this ?

[2021-01-20 19:52] #9409 closed

[2021-01-20 19:53] sharifelgamal commented on #10056
The user you're running minikube does not have access to the `.kube` folder. If you're running minikube as `nelsonojong` then the permissions for `/Users/nelsonojong/.kube` are totally messed up (maybe you tried starting it with sudo first?). I would just try deleting that directory (along with the `.minikube` directory) and trying again.

[2021-01-20 19:56] sharifelgamal commented on #8356
Hey @tamalsaha – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

[2021-01-20 19:56] #8356 closed

[2021-01-20 20:25] medyagh commented on #10186
@keppusamyibm  do u mind sharing full logs ? minikube start --alsologtostderr ?

and also what version of minikube and what platform ?

[2021-01-20 20:25] medyagh commented on #10186
This will help us isolate the problem further. Thank you!

/triage needs-information
/kind support

[2021-01-20 20:25] medyagh commented on #10183
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[code]

This wi

[2021-01-20 20:28] medyagh opened #10188 "move jenkins configurations to code"
https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/docs/migrate.md

[2021-01-20 20:31] Meg4Bit commented on #9189
I've tried running powershell as administrator. Open SSH was installed.

[2021-01-20 21:38] keppusamyibm commented on #10186
[root@minikube boot]# minikube start --alsologtostderr
I0120 16:35:29.107108    4970 out.go:221] Setting OutFile to fd 1 ...
I0120 16:35:29.107427    4970 out.go:268] TERM=xterm,COLORTERM=, which
probably does not support color
I0120 16:35:29.107442    4970 out.go:234] Setting ErrFile to fd 2...
I0120 16:35:29.107456    4970 out.go:268] TERM=xterm,COLORTERM=, which
probably does not support color

[2021-01-20 23:51] medyagh opened #10189 "fix warning in push kic base buildx"
[code]

also remove the old make targets

[2021-01-20 23:51] medyagh commented on #10189
cc: @ilya-zuyev

[2021-01-20 23:55] macdaddyaz opened #10190 "Can no longer launch minikube: "Exiting due to GUEST_UNSIGNED_CERT""
Minikube had been working fine up until yesterday. The breakage seemed to happen not long after I upgraded Docker Desktop, but not immediately afterwards. Environment:

- macOS Big Sur 11.1
- minikube 1.16.0
- Docker Desktop 3.1.0
- Docker Engine 20.10.2
- Default driver and container runtime

[code]

Full output is below. Things I've tried to correct the issue include:

- `minikube delete`
- `min

[2021-01-21 00:02] medyagh opened #10191 "add cronjob to jenkins to update kubernets verison PR"
https://github.com/medyagh/minikube/blob/91a7436617f5ed96bef450c91cc7c376dc9286d2/Makefile#L839

[2021-01-21 04:31] esentai8 commented on #9869
Cool, thank you! I will try one more time today using 1.17 and will write my feedback here

[2021-01-21 04:35] Kapildev0458 commented on #9130
To solve #9130 issue simply update your VM

[2021-01-21 04:51] yogyad commented on #9130
Hi team,

Issue resolved.

Close this ticket.

On Thu 21 Jan, 2021, 10:05 AM Kapildev0458, <notifications@github.com>
wrote:

[2021-01-21 05:52] BLasan commented on #10185
/assign

[2021-01-21 05:55] jgoeres commented on #10019
Forour own product deployment (in an already running cluster) we simply provide allow to provide the registry creds, which go into a secret passed to all pods as an image pull secret. But from my understanding, since we are in the process of bootstrapping the cluster, this probably has to be an "out of band" mechanism.

[2021-01-21 06:30] kameshsampath commented on #10171
after a bit of debug @afbjorklund , this happens only with `container-runtime=cri-o`, if I use `container-runtime=docker` then all works well. Wondering something to do with internal work on `cri-o`?

[2021-01-21 06:47] BLasan commented on #10185
@medyagh Basically what you want is to add resource limits for the deployments under test/integrations right?

[2021-01-21 08:37] mrizzi commented on #10182
So, I did some further investigations on what makes my host different and I've figured out that from F33 the default file system is `btrfs` (ref. [BtrfsByDefault](https://fedoraproject.org/wiki/Changes/BtrfsByDefault)).
This took me to https://github.com/kubernetes/minikube/issues/7923#issuecomment-737058797 so I've added `--feature-gates="LocalStorageCapacityIsolation=false"` and then it started.

[2021-01-21 09:01] mrizzi commented on #10182
Beside this, I moved forward in trying to push images following [Pushing directly to in-cluster CRI-O. (podman-env)](https://minikube.sigs.k8s.io/docs/handbook/pushing/#3-pushing-directly-to-in-cluster-crio-podman-env).
It doesn't work:
[code]
But if try to use `ssh` from terminal it works:
[code]

[2021-01-21 09:28] lingsamuel commented on #10136
xref machine-drivers/machine#31

[2021-01-21 09:42] afbjorklund commented on #10182
That would be the reason then, see #7975

[2021-01-21 09:47] afbjorklund commented on #10182
Maybe it got broken again. Try `podman --remote --url "$CONTAINER_HOST"` perhaps, see if that works better ?

Works here (Ubuntu 20.04):
[code]

[2021-01-21 10:04] mrizzi commented on #10182
I've just tried but no luck (also with `--identity "$CONTAINER_SSHKEY"` for the sake of testing):
[code]

[2021-01-21 10:39] afbjorklund commented on #10182
Yup, confirmed. podman-remote-2:2.2.1-1.fc33.x86_64 is completely broken.

[2021-01-21 10:55] afbjorklund commented on #10182
Looks like the ubuntu podman package is broken:

[code]

It "forgot" to install `crun`, and only installed `runc`.

Apparently different defaults, for different cgroups ?

[2021-01-21 11:17] afbjorklund commented on #10182
So basically: nobody has tested using Fedora 33.
For Fedora 32, I tested with cgroups v1 (and ext4).

[code]

[code]

[2021-01-21 12:02] LordBertson commented on #9869
Had the same log output; the issue was caused by Docker for me. Purging and reinstalling docker through `apt` following the install steps in [official docker docs](https://docs.docker.com/engine/install/ubuntu/) helped.

[2021-01-21 13:20] cabaumgartner commented on #4967
I still see this problem with minikube v1.16.0 on Windows 10 with Hyper V. Every time I stop and restart minikube, it has a different IP address. Based on the error message, I would expect to see it every time, but that doesn't happen. Some times minikube restarts and some times it doesn't. Is there any way to work around this?

[2021-01-21 13:22] meghashree0396 opened #10199 "Exiting due to GUEST_START: Failed kubeconfig update: could not read config: Error decoding config from data"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-01-21 14:03] mrizzi commented on #10182
thanks once more @afbjorklund: installing `crun` made it working :+1:

[code]

To summarize for running Minikube 1.16.0 on Fedora 33 with podman and cri-o (with cgroups v2 and SELinux enforcing) it took
- starting with command:
[code]
- when started, executing **only once** commands:
[code]

[2021-01-21 14:29] rnddude commented on #8439
I'm experiencing the same issue. The setup is the following:

[code]
[code]
Kubernetes 1.18.6 due to limitations on other Kubernetes environments.

As a workaround I've been using hostAliases, but I would really appreciate a solution to this issue. @tstromberg Is there any fix in sight?

[2021-01-21 14:40] jdart commented on #8439
Would you mind sharing how your hostAlias works?

[2021-01-21 15:05] rnddude commented on #8439
I'm setting hostAliases on my deployments, e.g.
[code]

The IP is the result of running
`minikube ssh cat /etc/hosts | grep host.minikube.internal`, which fetches the corresponding entry from the hosts file of the minikube machine.

But you have to set the hostAliases on each and every deployment or whatever you need it on and you'll have to maintain the IP.

[2021-01-21 16:08] afbjorklund commented on #10182
I think we will add "crun" _explicitly_, to the list of packages to install in the kicbase.

`clean-install containers-common catatonit conmon containernetworking-plugins cri-tools podman-plugins`

As for btrfs support, might as well use that other ticket for that (which flag to use).

https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#local-ephemeral-storage

[2021-01-21 18:28] priyawadhwa opened #10200 "Run TestNetworkPlugins and TestPause on containerd jenkins test"
Currently these tests are being skipped, as of https://github.com/kubernetes/minikube/pull/10178, because the Jenkins test was timing out after 70 minutes and we didn't have enough time to run them

After the existing containerd tests that are failing are fixed, and we split up tests by container runtime, I'm hoping we can remove the skip for TestNetworkPlugins and TestPause and there will be enou

[2021-01-21 18:33] ilya-zuyev opened #10201 "Support kicbase image build on Apple M1"
We started to use `docker buildx` to build multi-arch kicbase images
It's not working on M1 with current preview version of docker:

[code]

[code]

[2021-01-21 18:37] ilya-zuyev commented on #10201
[code]
We use `multiarch/qemu-user-static` buildx image, which is not multi-arch itself

[2021-01-21 20:06] azhao155 commented on #10130
/assign @azhao155

[2021-01-21 20:16] sharifelgamal commented on #10144
We should only skip the helm addon for Addons test, as opposed to skipping everything.

[2021-01-21 20:38] korpx-z commented on #8765
this worked perfect for me thank you Abe!

[code]

[2021-01-21 21:16] bradurani opened #10204 "Host access Documentation Problem"
Hi, the procedure outlined for connecting to the host in the documentation at: https://minikube.sigs.k8s.io/docs/handbook/host-access/
does not work because neither `ping` nor `telnet` are installed on the minikube docker image
[code]

[2021-01-21 21:50] priyawadhwa opened #10205 "Set endpoint on crictl in minikube"
Running `minikube ssh -- sudo crictl images` results in this warning:

[code]

We should set the endpoint so that we don't see this warning anymore.

Relevant issues:

https://github.com/kubernetes-sigs/cri-tools/issues/703

[2021-01-21 21:50] priyawadhwa commented on #10205
Closing in favor of https://github.com/kubernetes/minikube/issues/10175

[2021-01-21 21:50] #10205 closed

[2021-01-22 00:22] berndbausch commented on #4997
I am getting VBOX_VTX_DISABLED as well. Cygwin on Windows 10 on an oldish core i3 laptop. Virtualization support is in fact enabled in the BIOS, and the VirtualBox GUI has no problems creating 64-bit VMs.

However, one recent configuration change may be relevant. I configured Windows 10 to allow running both WSL2 and VirtualBox instances. minikube used to work before that change.

Output of `minik

[2021-01-22 00:49] medyagh opened #10210 "old minkube versions can NOT read New minikube kubeconfig"
as seen in this failing test: https://storage.googleapis.com/minikube-builds/logs/10194/37b1532/KVM_Linux.html#fail_TestStoppedBinaryUpgrade

since minikube 1.16.0 we added a feature to add Extenion information to the kubeconfig
[code]
here is the error with minikube 1.6 (not 1.16)
[code]

[2021-01-22 03:06] #10210 closed

[2021-01-22 03:40] shikhar4128 commented on #8442
hey @medyagh I am having this issue when trying to start minikube on virtualbox
minikube start --driver=virtualbox

getting below error:
this computer doesn't have vt-x/amd-v enabled. enabling it in the bios is mandatory

[2021-01-22 05:01] michaelhenkel opened #10213 "containerd ignores --insecure-registry"
**Steps to reproduce the issue:**

1. minikube start --insecure-registry 192.168.1.31:5000 --container-runtime containerd
2. minikube ssh
3. critctl pull 192.168.1.31:5000/<containerimage>

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
[code]
<details>

</details>

Problem can be

[2021-01-22 08:25] mrizzi commented on #10182
Thanks a lot once more @afbjorklund for your helpful support :+1:

[2021-01-22 08:33] WilliamsCSDN opened #10216 "0/1 nodes are available: 1 node(s) had taints that the pod didn't tolerate."
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2021-01-22 08:37] yuguorui commented on #10190
try `sudo rm -rf /var/lib/minikube` ?

[2021-01-22 11:27] #9075 closed

[2021-01-22 18:11] #9908 closed

[2021-01-22 18:14] DavePool commented on #7677
I was having the same problem because the user running the command to start minicube does not have permissions to use the virtualization libraries, just add libvirt as a supplemental group to my local user.
Then check: getent group libvirt

I use Ferora 33 with Quemu / KVM

[2021-01-22 18:39] tstromberg commented on #10216
我还没有明确的方法来复制此问题。 您介意添加一些其他详细信息吗？ 以下是其他有用的信息：

* 使用的确切`minikube start`命令行
* `minikube start`命令的完整输出，最好是使用`--alsologtostderr`来进行额外的日志记录。
* ` minikube -logs`的完整输出

我的猜测是您的minikube节点可能已用完内存或磁盘空间。

感谢您分享经验！

[2021-01-22 18:54] tstromberg commented on #10199
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=1` for extra logging.
*  If possible, can you also include a copy of your $HOME/.kube/config file? (you can j

[2021-01-22 18:57] uhari03 commented on #10173
/assign

[2021-01-22 19:07] uhari03 commented on #10173
@medyagh Do you have the google group link that you would like to add to the triage page?

[2021-01-22 19:27] tstromberg commented on #9907
I noticed at least one bug here in #10151 - it should have raised PR_DOCKER_NO_SSH instead of GUEST_PROVISION. This makes me wonder if there is a bug that is causing known_issues to not be parsed.

[2021-01-22 21:49] yuriaps commented on #9497
This worked for me

https://stackoverflow.com/questions/37955942/vagrant-up-vboxmanage-exe-error-vt-x-is-not-available-verr-vmx-no-vmx-code#_=_

minikube start --driver=virtualbox --disk-size=40000mb --no-vtx-check

[2021-01-22 22:00] mgabeler-lee-6rs opened #10224 "minikube_1.17.0-0_amd64.deb: package architecture (arm64) does not match system (amd64)"
**Steps to reproduce the issue:**

This is #9995 again, because no fix was merged for it

#10004 was closed without any changes being merged it looks like, and #9998 is approved but not merged.

The broken binary from #9995 got addressed by @tstromberg doing [some manual build & upload operations](https://github.com/kubernetes/minikube/issues/9995#issuecomment-748178094), seems 1.17.0 needs this a

[2021-01-22 22:19] medyagh commented on #10224
@mgabeler-lee-6rs thank you very much for the quick issue you opened ! we totally screwed u ! and missed to merge the PRs
I will make a patch for this early next week ! thank you for the reporting this

[2021-01-22 22:24] mgabeler-lee-6rs commented on #10224
Thanks for the quick followup :)

No need to feel too bad, I just noticed this because I have some scripts to pull new minikube releases into my workflow when I get the new release announcement from GH, and they tripped on this. My actual workflow continues happily using the prior release :)

[2021-01-22 22:48] medyagh commented on #10173
yes this group https://groups.google.com/forum/#!forum/minikube-dev

[2021-01-22 23:20] #10175 closed

[2021-01-22 23:52] chrisroat opened #10229 "NVIDIA support with docker driver"
The [doc page on using NVIDIA GPUs](https://minikube.sigs.k8s.io/docs/tutorials/nvidia_gpu/) covers the none and kvm2 drivers.  The none driver is [considered advanced](https://minikube.sigs.k8s.io/docs/drivers/none/#overview), while the kvm2 [requires a spare GPU](https://minikube.sigs.k8s.io/docs/tutorials/nvidia_gpu/#using-the-kvm2-driver).

Is support for the docker driver feasible/planned?

[2021-01-22 23:56] priyawadhwa opened #10231 "Add validatePodmanEnv subtest for crio runtime to TestFunctional"
This goes hand in hand with validateDockerEnv which currently runs for the docker runtime

[2021-01-23 01:02] tstromberg commented on #10224
Any updates?

Assigning to @medyagh as he's on duty this week, though I understand @ilya-zuyev was also looking into this.

[2021-01-23 01:09] tstromberg commented on #10224
@ilya-zuyev has removed the errant files from the release and will be posting new ones.

[2021-01-23 01:38] ilya-zuyev commented on #10224
Uploaded correct versions

[code]

[2021-01-23 01:41] ilya-zuyev commented on #10224
for ARM Ubuntu:

[code]

[2021-01-23 01:46] ilya-zuyev commented on #10224
our Makefile creates deb files using template `minikube_${VERSION}-${IDX}_${ARCH}.deb`
Not sure, what's the use of ${IDX}. I created two versions of each deb file, just to avoid confusion:
[code]

[2021-01-23 06:02] sayboras commented on #9224
Thanks all for your awesome work, I just try to run minikube in apple silicon, it's working great with docker driver 💯

<details>

[code]

</details>

[2021-01-23 07:49] #9583 closed

[2021-01-23 08:37] afbjorklund commented on #10224
Normally, this field is increased each time that you update the package (for the **same** upstream software version):

https://www.debian.org/doc/debian-policy/ch-controlfields.html#version

Since we don't have any "real" system packages, but just a vendor package, we always kept this revision as `0`

Then when we had to issue a rebuild, for the same version, we bumped it to `1`. But it _should_ g

[2021-01-23 08:43] afbjorklund commented on #10229
It should be _possible_, as long as the outer privileged container is launched with nvidia-docker: https://github.com/NVIDIA/nvidia-docker/issues/375

But it is not something that would work out-of-the-box. If it was a simple option (like `--runtime`), it could be considered.

Running on Linux, that is.

Not for the Docker VM...

[2021-01-23 09:05] peterzandbergen opened #10236 "minikube start"
Hi,
the amd64 deb file seems to be the ARM version:

[code]

[2021-01-23 09:07] afbjorklund opened #10237 "Try to make the podman driver less "experimental", for podman version 3.0"
There is a new version of podman being prepared: `v3.0.0`

* https://github.com/containers/podman/tree/v3.0

* https://github.com/containers/podman/releases/tag/v3.0.0-rc1

This is the release track that will go into next RHEL (previously based on first 1.6.4 and then 2.0.5)

* https://github.com/containers/podman/tree/v1.6.4-rhel

* https://github.com/containers/podman/tree/v2.0.5-rhel

Hopefully

[2021-01-23 09:08] afbjorklund commented on #10237
Preferrably this should be tested on Fedora, and using the container runtime CRI-O.

[2021-01-23 12:35] s56207824inc opened #10238 "K8S_INSTALL_FAILED: updating control plane"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-01-23 12:49] afbjorklund commented on #10224
@ilya-zuyev : unfortunately, it doesn't seem to work:

`minikube: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.32' not found (required by minikube)`

It was supposed to be built on an older platform (16.04)

[2021-01-23 12:51] #9084 closed

[2021-01-23 12:58] afbjorklund commented on #10236
Duplicate, #10224

Please try the binary, until the .deb has been updated

[code]

It is the same binary, either way. Or well, supposed to be...

[2021-01-23 15:29] ParasolGao commented on #1021
But I can't delete .minikube.The system tells me I have no privilege to delete it. :(

[2021-01-23 15:38] smithaitufe commented on #9224
How did you achieve it? Mind documenting here the process you followed?

I have the Apple MacBook Pro 13".

[2021-01-23 16:59] yasharne opened #10239 "failed to run minikube after installing minikube_1.17.0-1_amd64.deb"
**Steps to reproduce the issue:**

1. install minikube_1.17.0-1_amd64.deb

**Full output of failed command:**
[code]

**Optional: Full output of `minikube logs` command:**
<details>
minikube: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.32' not found (required by minikube)

</details>
I'm using ubuntu 18.04

[2021-01-23 17:47] medyagh commented on #10239
Thank you @yasharne for reporting this, this is a known issue we are working on a patch for this, for tracking the updates on this please see https://github.com/kubernetes/minikube/issues/10239 I will close this one to keep the information in one place

[2021-01-23 17:47] #10239 closed

[2021-01-23 17:51] yasharne commented on #10239
Thanks @medyagh you have mentioned this issue instead of the main issue

[2021-01-23 17:53] galishmann commented on #9224
[code]

[2021-01-23 18:08] medyagh commented on #10185
yes I would like to see absolute limits for all the examples that we deploy in tests (could try by setting very low limits and increase little by little till it passes

[2021-01-23 18:12] KhaledAouina opened #10241 "minikube"
**Steps to reproduce the issue:**

1.minikube start
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-01-23 18:42] BLasan commented on #10185
will check it sir

[2021-01-23 20:59] #7419 closed

[2021-01-23 22:14] h4n0sh1 opened #10242 "Custom CRIO RuntimeClass (runsc) - How to load it properly ?"
Hi,

I have a working minikube cluster inside my debian VMware (kali rolling 2020, debian 10 - buster), using virtualbox as a driver (nested virtualisation).

I'm trying to run a pod with a custom crio compatible runtime compiled from source: it's an old version of runsc pulled from the 01 August 2018 of [gvisor's repo](https://github.com/google/gvisor).

There was a similar attempt that actually

[2021-01-23 22:58] lukepolo opened #10243 "Add ability to run amd64 binary on M1"
**Steps to reproduce the issue:**
1. Install docker for m1
`https://docs.docker.com/docker-for-mac/apple-m1/`
2. Install Minikube
[code]
3. run minikube start

minikube start log
https://gist.github.com/lukepolo/af6c8402995002471d38d1833616ce6e

minikube logs
https://gist.github.com/lukepolo/525e7092b69bfe75263dbb018b297eb2

[2021-01-24 00:21] sayboras commented on #9224
Oh sorry, I forgot to mention the below points in my system:
- Build minikube from source with go1.16beta version
- Install docker mac preview for apple silicon, and make sure it's working. You might be running some issues here and there, docker slack channel might have some useful info to tackle them.

<details>

[code]

 </details>

[2021-01-24 06:47] Alenjojo opened #10244 "How to add IP address for minikube"
When i tart minikube i am facing the error saying that failed to start ssh bare metal machine and how to provide an IP into it.
All the software are upto date

`~$ minikube start --driver=ssh
😄  minikube v1.17.0 on Debian kali-rolling (vbox/amd64)
✨  Using the ssh driver based on existing profile

🧯  The requested memory allocation of 2200MiB does not leave room for system overhead (total system m

[2021-01-24 07:30] kientran commented on #9224
Side note for those wanting to try this.  The M1 build Go-lang formula is available in the M1 Homebrew preview with `brew install go`.  While brew installs `1.15.7`, it's [actually `1.16beta1`](https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/go.rb#L8) so you don't need to clone and build it separately.

[2021-01-24 08:32] afbjorklund commented on #10244
See https://minikube.sigs.k8s.io/docs/drivers/ssh/ on how to input the IP address to your _existing_ virtual machine.

If you don't already have one, you are better off using one of the other drivers and let minikube create it for you...

[2021-01-24 08:37] afbjorklund commented on #10243
Looks like a `kubeadm` (or docker) bug, on this shiny new platform:

[code]

[2021-01-24 08:40] afbjorklund commented on #10239
It was supposed to be #10224 but you can use the binaries meanwhile.

[code]

[2021-01-24 08:45] #10236 closed

[2021-01-24 08:49] afbjorklund commented on #9224
Trying to find the upstream (moby) issue for the qemu segfault, since it seems to be a known issue with this Docker preview...

[2021-01-24 10:18] peterzandbergen commented on #10236
Hi Anders,

Thanks for your reply. I will give it a try.

On Sat, 23 Jan 2021, 13:59 Anders Björklund, <notifications@github.com>
wrote:

[2021-01-24 11:35] FrankAnthony11 opened #10245 "Ingress on docker driver - minikube 1.16 - ERR_CONNECTION_REFUSED"
I'm trying to setup ingress on docker driver for minikube 1.16 on windows 10 home (build 19042). Ingress on docker driver wasn't supported before but it is now on minikube 1.16: [https://github.com/kubernetes/minikube/pull/9761](https://github.com/kubernetes/minikube/pull/9761)

I've been trying something by myself but i got ERR_CONNECTION_REFUSED when connecting to the ingress at 127.0.0.1 OR kub

[2021-01-24 12:22] afbjorklund commented on #10237
Note: You _can_ also run Fedora with cgroups v1, ext4 and "moby-engine" (19.03).

_"But where is the fun in that"_

[2021-01-24 12:34] afbjorklund commented on #6432
https://sysdig.com/blog/sysdig-2021-container-security-usage-report/
91% Kubernetes, 50% Docker

[2021-01-24 12:41] afbjorklund commented on #10236
Should be fixed again in 1.17.1

[2021-01-24 17:59] timhughes opened #10248 "Istio addon not working on multinode"
When trying to run istio on a multi node minikube the `istio-proxy` containers do not start.

**Steps to reproduce the issue:**

1.  minikube start --nodes=4 --cpus=4 --memory=8G
2.  minikube addons enable istio-provisioner
3.  minikube addons enable istio

**Full output of `minikube start` command used, if not already included:**
[minikube-start-nodes4-cpus4-memory8g.log](https://github.com/kuber

[2021-01-24 19:14] h4n0sh1 opened #10249 "Docker driver causes "ssh: handshake failed" - debian 10"
Greetings,

Following the previous [issue](https://github.com/kubernetes/minikube/issues/10242), i am now trying to run minikube cluster with docker driver (instead of virtualbox) and crio runtime.

It's a fresh docker install (c.f `docker info` in details) running inside a debian vm (kali rolling 2020), **no** rootless mode, all parameters are default.

**Steps to reproduce the issue:**

1.` mini

[2021-01-24 21:35] martinKindall commented on #754
This command worked for me in an admin power shell, windows 10 build 18363.1316

[2021-01-25 03:36] qiaocci commented on #8997
same issue

[2021-01-25 03:53] RA489 commented on #10249
/kind support

[2021-01-25 03:55] RA489 commented on #10248
/kind support

[2021-01-25 03:55] RA489 commented on #10245
/kind support

[2021-01-25 03:56] qiaocci commented on #8997
If you are in China , you can
use `minikube start --image-mirror-country='cn' --image-repository='registry.cn-hangzhou.aliyuncs.com/google_containers'`

[2021-01-25 03:58] RA489 commented on #10241
@KhaledAouina I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Tha

[2021-01-25 03:58] RA489 commented on #10241
/triage needs-information

[2021-01-25 03:59] RA489 commented on #10238
@s56207824inc I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Tha

[2021-01-25 03:59] RA489 commented on #10238
/triage needs-information

[2021-01-25 04:07] BLasan commented on #9906
@calebstewart This would help you.
[PV](https://minikube.sigs.k8s.io/docs/handbook/persistent_volumes/#:~:text=minikube%20is%20configured%20to%20persist,from%20other%20directories%20on%20reboots.&text=You%20can%20also%20achieve%20persistence,in%20a%20mounted%20host%20folder) in minikube
Also I think you can do `minikube ssh` and run `sudo rm -rf <volume_dir>` to remove it manually

[2021-01-25 04:31] BLasan commented on #8040
/assign

[2021-01-25 06:19] azhao155 commented on #10130
This is the memory

[code]

[2021-01-25 08:00] dabcoder commented on #10122
Still unsure what caused this issue:

[code]

Looks certificate related, in any case I'd suggest renaming this issue to mention the error(s) from the `stderr` output in the title.

[2021-01-25 08:06] lingsamuel commented on #10130
`468.4MiB / 102.2GiB` doesn't seem to be very large? will ~0.5GB memory usage cause OOM?

[2021-01-25 09:27] apupier commented on #10224
the "latest" from https://storage.googleapis.com/minikube/releases/latest/minikube_latest_amd64.deb is still the arm one

[2021-01-25 13:44] huanvliu commented on #10244
I have the same error. Have you solved it？

[2021-01-25 14:00] lingsamuel opened #10253 "Test image registry connectivity should also ignore scheme prefixed proxy"
https://github.com/kubernetes/minikube/blob/b1ccf54f8327aa0dc5421f92f49af057e8e9ebee/pkg/minikube/node/start.go#L498-L501

![image](https://user-images.githubusercontent.com/14567045/105714869-db3e0380-5f57-11eb-9c59-ba729b70841c.png)

Could extract a util function from #8885

By the way, I am wondering if we can convert localhost to host machine IP? Or add a flag to replace localhost?

something

[2021-01-25 14:01] lingsamuel commented on #10253
/kind feature

[2021-01-25 16:03] afbjorklund opened #10254 "Don't upload multiple copies of the same file to release"
Someone was confused about having **both** `minikube-linux-amd64` and `minikube-linux-x86_64` files ?

Turns out it has been duplicated since v1.10.0, after merging 056af16aabdfc35f895566cb5870433e98506627 which started uploaded _everything_

* https://github.com/kubernetes/minikube/releases/tag/v1.9.0
* https://github.com/kubernetes/minikube/releases/tag/v1.10.0

Duplicates: (without `.sha256` ch

[2021-01-25 16:05] afbjorklund commented on #10254
It was noticed during PR #10252 (which is otherwise wrong)

[2021-01-25 16:41] afbjorklund commented on #10254
The "latest" packages serve a special purpose (not having to update documentation), so are not affected by this issue.

[2021-01-25 16:54] Alenjojo commented on #10244
No. i couldn't find a solution for it till now!
@afbjorklund - Can you look into this

[2021-01-25 17:09] tstromberg commented on #10224
Removed the bad .deb files from GCS that I was aware of.

[code]

[2021-01-25 17:23] #10185 closed

[2021-01-25 17:38] tstromberg commented on #10224
@priyawadhwa is working on publishitg updated -2 release packages, containing the correct minikube amd64 binary.

[2021-01-25 17:42] priyawadhwa commented on #10224
Following https://github.com/kubernetes/minikube/issues/9995#issuecomment-748178094, I ran the following the manually upload correct binaries:

Build:

[code]

Propagate:

[code]

Then uploaded manually to GitHub releases:

[code]

[2021-01-25 17:44] priyawadhwa commented on #10224
I've also removed minikube_1.17.0-0_amd64.deb and minikube_1.17.0-1_amd64.deb from the github release. The first was republished with changed checksums (against Debian policy), the second can't be installed on older distro's due to being linked against too new of a glibc