[2020-03-16 07:08] jgoeres commented on #7031
Sorry, should have left this open, I think you might want to change the default NIC type in code?

[2020-03-16 07:12] priyasubramanitvr opened #7060 "kubectl apply: error validating data: kind not set"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>
kubectl apply -f client-node-port.yaml
error: error validating "client-node-port.yaml": error validating data: kind not set; if you choose to ignore these errors, turn validation off with --validate=false

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The ope

[2020-03-16 08:27] applike-ss commented on #6856
i am used to the view of intelliJ ide's, they show both commit and update date. Will have a look when i can.

[2020-03-16 11:24] anil7411 opened #7061 "X open url failed: http://172.31.75.159:32000: exec: "xdg-open": executable file not found in $PATH"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-16 12:55] afbjorklund commented on #7031
Yes, please open separate issue about CIDR

[2020-03-16 13:16] eashi opened #7062 "Support backward compatibility for old profiles"
I have installed the latest minikube version v1.8.1 (I can't remember the previous version), but then all my clusters wouldn't work because their profiles became invalid.

I checked the code that reads the configuration from the profile and obviously the structure of the profile has changed.

I suggest to keep the profiles backward compatible as far back as possible, and display warnings about att

[2020-03-16 14:00] jgoeres opened #7063 "minikube start option "--host-only-cidr" no longer works"
With my ancient minikube version (1.4.0), I had been using the option

    --host-only-cidr='192.168.99.1/24'

which now gives me

    X Unable to start VM. Please investigate and run 'minikube delete' if possible: driver start: Error
    setting up host only network on machine start: invalid CIDR address: '192.168.99.1/24'

with both 1.8.1 and 1.8.2.
I used the option to make sure that the miniku

[2020-03-16 14:00] jgoeres commented on #7031
https://github.com/kubernetes/minikube/issues/7063

[2020-03-16 14:15] nengbowan commented on #6909
it works  ,thanks

[2020-03-16 14:16] #6909 closed

[2020-03-16 15:52] deathgaze opened #7064 "parallels documentation"
The documentation mentions to set parallels as the default driver using the following command:

[code]

This command gives the error:

[code]

I had expected that this would work as described, but it doesn't appear to be a settable property anymore. Is there a workaround for this or did it move somewhere else...?

[2020-03-16 15:54] #7064 closed

[2020-03-16 15:55] deathgaze commented on #7064
I found the option has been moved to `vm-driver` instead of `driver`

[2020-03-16 16:01] Vitaliyusf opened #7065 "Kubeconfig does not have a record of the machine cluster"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-16 16:04] tstromberg commented on #7063
Can you please share the entire `minikube start` output and command-line flags used?

The example `--host-only-cidr` command works for me on v1.8.3 using hyperkit and virtualbox drivers on macOS.

[2020-03-16 17:04] afbjorklund commented on #6912
Can you attach the nvidia-installer.log ?

[code]

[2020-03-16 17:07] boskiv commented on #4690
It was needed to automation tools that expose to client external IP to connect.

For example, we have a service inside Kubernetes that should register another service with an external address. Like a service discovery. It should come to "consul" and register with own external address. So the client can find it after.
In this case, the service should able to make a request to the Kubernetes API and

[2020-03-16 17:22] afbjorklund commented on #7063
It seems like the quotes ended up _inside_ the actual configuration, somehow.

[code]

panic: invalid CIDR address: '192.168.99.1/24'

With just the regular quotes (i.e. not the embedded single quotes), it is fine.

ip: 192.168.99.1, network: 192.168.99.0/24

[2020-03-16 17:26] afbjorklund commented on #7063
Unless I am missing something, that is the default option anyway ?

`      --host-only-cidr='192.168.99.1/24': The CIDR to be used for the minikube VM (virtualbox driver only)`

[2020-03-16 17:36] afbjorklund commented on #7062
Possibly related to #6969 (not sure if it is enough)

[2020-03-16 18:21] triplewy commented on #6820
When using vm-driver=none, I get the same error. <code>docker system prune</code> only removes taint for a minute. Then pods start getting evicted again

[2020-03-16 18:44] sharifelgamal commented on #6683
Excellent, I'm going to go ahead and close this bug. If anyone has another issue with hyper-v, feel free to open a new bug.

[2020-03-16 18:44] #6683 closed

[2020-03-16 18:53] mw-poly opened #7066 "none start: cluster "minikube" does not exist"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-16 19:07] afbjorklund commented on #6942
I would like to postpone this for the minikube 2.0 release, to become a target for Buildroot 2020.02

[2020-03-16 19:10] tstromberg opened #7067 "Add --vm flag for users who want to autoselect only VM's"
Some users may need to use kernel modules.

[2020-03-16 20:39] #7028 closed

[2020-03-16 21:35] BoKleynen commented on #5594
I seem to also get this problem on the latest version of hyperkit when my mac's internet sharing is turned on

[2020-03-16 21:55] mglidden commented on #5594
Hmm... I also had internet sharing turned on and got this issue. I wonder if that's the root cause of the issue? None of my co-workers were running into it.

[2020-03-16 22:08] tstromberg commented on #7067
Just in case someone else has time to address this, here is where I would start:

* Add "vm" boolean flag here: https://github.com/kubernetes/minikube/blob/82900a7811e479755e03ae020ebb44152dfd93d8/cmd/minikube/cmd/start.go#L196

* Add option to `driver.Choices` function to filter for drivers which `IsVM()` is true:  https://github.com/kubernetes/minikube/blob/82900a7811e479755e03ae020ebb44152dfd93

[2020-03-17 01:35] gattytto commented on #5808
everything works as expected now

![image](https://user-images.githubusercontent.com/407397/76813324-5716dd80-67d6-11ea-854b-c262e2d3b872.png)

[2020-03-17 05:20] eashi commented on #7062
Thanks a lot @afbjorklund for the prompt reply.

I think the PR you mentioned took it to a good position, but I still get invalid profile due to the attribute "Driver" instead for "VMDriver". This is where it fails:

https://github.com/kubernetes/minikube/blob/82900a7811e479755e03ae020ebb44152dfd93d8/pkg/minikube/config/profile.go#L43

[2020-03-17 06:31] prasadkatti commented on #7067
Hi. I would like to work on this issue.

[2020-03-17 06:31] prasadkatti commented on #7067
/assign

[2020-03-17 08:01] sharuk123 opened #7069 "Minikube Error: [VBOX_VERR_VMX_NO_VMX] driver start: Unable to start the VM: /usr/bin/VBoxManage startvm minikube --type headless failed:"
I installed oracle virtual Box and using oracle linux environment and trying to set up the environment for new oracle BRM 12 CNE.

while starting minikube i am facing below problem , please guide me to complete this .

[ocbrmcne@localhost ~]$ minikube start --driver=none
😄  minikube v1.8.2 on Oracle 8.0
✨  Using the virtualbox driver based on existing profile
⌛  Reconfiguring existing host ...
🔄

[2020-03-17 09:01] sharuk123 commented on #7069
if i use with --driver=none below is the issue

[ocbrmcne@localhost ~]$ minikube start --driver=none
😄  minikube v1.8.2 on Oracle 8.0
✨  Using the virtualbox driver based on existing profile
⌛  Reconfiguring existing host ...
🔄  Starting existing virtualbox VM for "minikube" ...

💣  Unable to start VM. Please investigate and run 'minikube delete' if possible
❌  Error: [VBOX_VERR_VMX_NO_VMX] driver

[2020-03-17 09:18] fredsted opened #7070 "docker fails if --docker-opt storage-driver=overlay2 is set"
Started having this problem after upgrading to 1.8.2.

 It disappeared after downgrading to back to 1.7.x. Could not find anything recent regarding this anywhere else.

I've tried deleting the `~/.minikube` folder and reinstalling minikube via homebrew. Didn't help.

Example of output (see link to full logs below)
[code]

**The exact command to reproduce the issue**:

[code]

**The full output of

[2020-03-17 10:09] olivierlemasle commented on #4151
@jonenst I tested again with Minikube 1.8.2 (and Virtualbox driver); this time, I could not reproduce the issue. Could you please test as well?

/remove-lifecycle stale

[2020-03-17 11:51] runlevel5 opened #7071 "podman on ppc64le: Error: incompatible image architecture "amd64" on "ppc64le" host"
[code]

It's seems to me the `gcr.io/k8s-minikube/kicbase:v0.0.7` image does not come in ppc64le variant.

[2020-03-17 11:59] JuergenSimon commented on #7016
Facing same issue. Hyperkit driver unusable. High Sierra here.

[2020-03-17 12:17] JuergenSimon opened #7072 "hyperkit high sierra + VPN: create host timed out in 120.000000 seconds"
**The exact command to reproduce the issue**:
minikube delete --all && minikube --driver=hyperkit

**The full output of the command that failed**:<details>
🔥  Deleting "minikube" in hyperkit ...
💀  Removed all traces of the "minikube" cluster.
🔥  Successfully deleted all profiles
watazumi:~ simon$ minikube start --vm-driver=hyperkit
😄  minikube v1.8.2 on Darwin 10.13.6
✨  Using the hyperkit driver

[2020-03-17 12:46] FrostBytesf commented on #6794
duplicate of #6716

[2020-03-17 12:49] JuergenSimon opened #7073 "docker: Pod evictions! Failed to admit pod <name>: node has conditions: [DiskPressure]"
**The exact command to reproduce the issue**:
No command. Running a minikube and deploying a small deployment consisting of:
* A postgres instance
* A redis instance
* One application with two containers and one post-deploy hook

**The full output of the command that failed**:<details>
The application does not deploy. The pods keep getting evicted. I started the minikube with the following command

[2020-03-17 13:19] choksifenil90 commented on #4587
that worked for me 👍 👍 👍 👍 👍 👍 👍 👍 👍

[2020-03-17 16:05] afbjorklund commented on #7071
KIC only supports amd64 for now, same as the minikube ISO

[2020-03-17 16:15] afbjorklund commented on #7062
So related to #6620 - @sharifelgamal  ?

[2020-03-17 16:25] mvgijssel commented on #6018
Sorry for the late reply!

Updated the Dockerfile

[code]

### With docker buildkit

Run the build

[code]

**Output**:<details>
[+] Building 272.7s (4/6)
 => [internal] load .dockerignore                                                                                                                                                                                                      0.0s
 => => tr

[2020-03-17 16:29] sharifelgamal commented on #7062
Yep, that accidentally broke the profiles list command. It's fixable.

[2020-03-17 16:32] mvgijssel commented on #6018
Tried another approach to get strace working in `docker build` with buildkit enabled. First created the `Dockerfile.base_test` file:

[code]

And build that image without buildkit

[code]

Next create another dockerfile `Dockerfile.test`

[code]

and building that with buildkit enabled:

[code]

which hangs at the same `apt-config shell APT_DIR Dir` as the initial issue

[code]

[2020-03-17 16:57] prasadkatti commented on #7067
Looks like there is a PR out already. I will unassign myself.

[2020-03-17 17:35] SamarGooda opened #7074 "virtualbox: AMD-V is disabled in the BIOS (or by the host OS)"
**The exact command to reproduce the issue**:
minikube start --driver=virtualbox

**The full output of the command that failed**:<details>
😄  minikube v1.8.2 on Fedora 31
✨  Using the virtualbox driver based on user configuration
🔥  Creating virtualbox VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...

💣  Unable to start VM. Please investigate and run 'minikube delete' if possible: creating host: creat

[2020-03-17 17:37] zach-source commented on #3799
I ran into this problem too, but it turns out that my /etc/hosts file ownership was changed to root and my user no longer had access.
[code]

fixed it for me.

[2020-03-17 17:45] jonenst commented on #4151
I tested again and the problem still shows:

[code]

[2020-03-17 17:51] afbjorklund commented on #7069
If you want to use the "none" driver, you need to delete the machine with the "virtualbox" driver.

[2020-03-17 18:47] NanheKumar commented on #5824
I have solved this issue

brew unlink minikube && brew link minikube

Close your terminal and again open terminal

[2020-03-17 20:38] olivierlemasle commented on #4151
@jonenst If I'm not wrong, this is a normal behaviour (on the contrary, previous versions of Minikube had an issue you reported above).

In my tests (changing the IP addresses and ports to match yours):
- `curl http://192.168.99.103:32000` works (which is normal)
- `curl http://10.108.145.239:8080` works (which is normal with `minikube tunnel`)
- `curl http://10.108.145.239:32000` freezes and then

[2020-03-17 21:45] tstromberg opened #7078 "minikube ignores --driver"
[code]

[2020-03-17 21:47] tstromberg opened #7079 "memory config ignored"
From gattytto on Slack:

[code]

Then:

[code]

[2020-03-17 21:49] tstromberg commented on #6934
Is this really a priority for next tuesday? CRIO doesn't get much users.

[2020-03-18 00:56] runlevel5 commented on #7071
@afbjorklund please do not hesitate to let me know if I could be any help

[2020-03-18 00:58] runlevel5 commented on #7078
I can confirm. My workaround for now is to delete the existing cluster and config before starting a new cluster with different driver.

[2020-03-18 01:01] runlevel5 commented on #7074
@SamarGooda would you run into the same error after AMD-V is enabled in the BIOS?

[2020-03-18 04:35] RA489 commented on #7060
@priyasubramanitvr could you please provide
The exact command-lines used, so that we may replicate the issue
The full output of the command that failed
The full output of the "minikube logs" command
Which operating system version was used

[2020-03-18 05:29] zhsh16 opened #7083 "The "virtualbox" driver should not be used with root privileges"
`minikube start --driver=virtualbox` while I start the minikube on centos7 it throws the info,I know maybe the priveleges on stating virtualbox ,but I don't know how to change the virtualbox priveleges.pls help ,thanks

[2020-03-18 06:13] afbjorklund commented on #6954
Being implemented in #7081

[2020-03-18 06:15] sharuk123 commented on #7069
Please check as per my installation step i need to start minikube with as given memory .
want to know why this error am getting and how to go ahead with this . request to support

[ocbrmcne@localhost ~]$ minikube start –disk-size=’800g’ –memory=’8192m’
😄  minikube v1.8.2 on Oracle 8.0
✨  Using the virtualbox driver based on existing profile
⌛  Reconfiguring existing host ...
🔄  Starting existing v

[2020-03-18 06:16] sharuk123 commented on #7069
Please check as per my installation step i need to start minikube with as
given memory .
want to know why this error am getting and how to go ahead with this .
request to support

[ocbrmcne@localhost ~]$ minikube start –disk-size=’800g’ –memory=’8192m’
😄 minikube v1.8.2 on Oracle 8.0
✨ Using the virtualbox driver based on existing profile
⌛ Reconfiguring existing host ...
🔄 Starting existing virtu

[2020-03-18 06:23] afbjorklund commented on #7069
If you want to run a VM in a VM, you need to make sure your system supports nested virtualization.

In order to change resource allocation (disk and memory size), you need to first delete the old one.

Related to #4730, better docs needed

This is not a standard minikube platform

[2020-03-18 06:24] afbjorklund commented on #4730
Users are still having problems with this

/remove-lifecycle rotten

[2020-03-18 06:31] afbjorklund commented on #7071
What I mean is that **our** images only support `amd64` architecture, and not `s390x`/`ppc64le`

It could be added as a future feature, but we are lacking test equipment (as noted elsewhere)
It's nice that Travis offers limited LXD support for unit tests, but not enough for regression testing.

Feel free to add some background to #6798 as to what this would be used for (and where)

[2020-03-18 06:34] afbjorklund commented on #6525
Discussion moved to #6798

[2020-03-18 06:37] sharuk123 commented on #7069
how to ensure my system supports nested Virtualization .

i could see enable nested VT-x/AMD-V is checked in my desktop VM and even inside my linux box VM , please suggest .

please suggest ,what is the best way to install minikube platform?

[2020-03-18 07:52] sharuk123 commented on #7069
i installed minikube in my windows and successfully logged in .
when i start minikube dashboard i am facing following error.
 Unable to enable dashboard: running callbacks: [sudo test -d /etc/kubernetes/addons && sudo scp -t /etc/kubernetes/addons && sudo touch -d "0001-01-01 00:00:00 +0000" /etc/kubernetes/addons/dashboard-ns.yaml: Process exited with status 1

Please guide

[2020-03-18 07:52] sharuk123 commented on #7069
i installed minikube in my windows and successfully logged in .

when i start minikube dashboard i am facing following error.

 Unable to enable dashboard: running callbacks: [sudo test -d
/etc/kubernetes/addons && sudo scp -t /etc/kubernetes/addons && sudo touch
-d "0001-01-01 00:00:00 +0000" /etc/kubernetes/addons/dashboard-ns.yaml:
Process exited with status 1

Please guide

On Wed, Mar 18, 202

[2020-03-18 07:57] runlevel5 commented on #6798
I am running a RaptorCS Blackbird workstation (which runs Linux ppc64le) mainly for web app development. I would love to be able to get minikube running on this platform so I could experiment with k8s locally.

I am not aware of any usecase of using minikube on mainframe (`s390x`) at this stage.

[2020-03-18 09:03] jonenst commented on #4151
When I tested yesterday, it did crash the minikube vm. minikube status didn't work anymore. a terminal with ssh minikube running 'top' froze. VBoxHeadless was running 100% cpu on the host. I didn't wait for the initial curl to timeout though. Sorry for not mentioning this in my first reply.

[2020-03-18 09:41] jonenst commented on #4151
I just tested again, it crashed. Waiting for the bad curl to timeout didn't fixed the problem. Interrupting ```minikube tunnel``` didn't fix the problem. I had to ```minikube delete``` the vm.
[code]

[2020-03-18 09:57] demonkoryu commented on #1370
/remove-lifecycle stale

[2020-03-18 13:24] RealDekkia commented on #6946
Hello,
I have the exact same problem on minikube 1.8.2.

I even tried to see what happens when I delete /etc/kubernetes/admin.conf but the file gets created when running the command again.

[2020-03-18 14:44] tstromberg commented on #7083
Login to the Linux machine as a non-root user and minikube should work. If it does not, please share the error message.

In the unlikely case that it is not possible to login as a non-root user, you may be able to bypass this check by adding the `--force` flag.

[2020-03-18 14:46] tstromberg commented on #7072
Do you mind sharing the output of `minikube start --driver=hyperkit --alsologtostderr -v=5`?

[2020-03-18 14:51] tstromberg commented on #7073
It looks like the Docker environment is out of disk space:

[code]

I'm not yet familiar with the Docker driver, but maybe @medyagh @josedonizetti  @priyawadhwa have advice here. Naivelly, I might try selecting a larger `--disk` size or trying to prune Docker images on your macOS host:

https://docs.docker.com/engine/reference/commandline/image_prune/

[2020-03-18 14:55] #7079 closed

[2020-03-18 14:56] #7078 closed

[2020-03-18 15:00] tstromberg opened #7084 "GetModTime: panic: runtime error: invalid memory address or nil pointer dereference"
Seen here: https://storage.googleapis.com/minikube-builds/logs/7075/ce5bf6c/KVM_Linux.html#fail_TestStartStop%2fgroup%2fnewest-cni

[code]

[2020-03-18 15:03] tstromberg opened #7085 "TestDownloadOnly/group/v1.17.3 failing: expected image file exist at..."
I think this is related to preload. Do you mind taking a look, @priyawadhwa ?

This test may be need to be updated to check for preloadable versions differently than others.

[2020-03-18 15:05] tstromberg opened #7086 "TestStartStop/group/crio: images mismatch"
[code]

[2020-03-18 15:08] tstromberg opened #7087 "TestDownloadOnly/group/ExpectedDefaultDriver: got driver "none", expected "kvm2""
As seen at https://storage.googleapis.com/minikube-builds/logs/7075/ce5bf6c/none_Linux.html#fail_TestDownloadOnly%2fgroup%2fExpectedDefaultDriver

[code]

Assuming the machine the test ran on does not support kvm2, perhaps we should just delete this test.

[2020-03-18 15:10] #7052 closed

[2020-03-18 15:14] JuergenSimon commented on #7072
watazumi:Desktop simon$ minikube start --driver=hyperkit --alsologtostderr -v=5
W0318 15:10:29.304965   50723 root.go:248] Error reading config file at /Users/simon/.minikube/config/config.json: open /Users/simon/.minikube/config/config.json: no such file or directory
I0318 15:10:29.306341   50723 notify.go:125] Checking for updates...
I0318 15:10:29.810412   50723 start.go:252] hostinfo: {"hostna

[2020-03-18 16:22] tstromberg opened #7088 "none: oracle-db deployment causes: etcdserver: request timed out"
From Arlan on #minikube Slack:

[code]

After about 20-30 seconds of oracle-db deployment.

[code]

kube-controller-manager will fail then kube-scheduler will fail. (edited)

[2020-03-18 16:28] tstromberg commented on #7071
There is no technical reason why this shouldn't work, but it will need someone willing to provide elbow grease in order to get the Docker images into the right shape.

Help wanted!

[2020-03-18 16:50] afbjorklund commented on #6798
OK, thanks! That sounds somewhat similar to the `arm64` and the Raspberry Pi 4 scenarios.
Wasn't aware that people were still running PowerPC for their desktop, after the Mac stopped.

[2020-03-18 16:51] afbjorklund commented on #7071
I was just thinking that it should give an error, if you try to run anything but `none` on non-amd64 ?

[2020-03-18 16:53] afbjorklund commented on #7086
Hmm, possible problem while loading - or maybe it is `crictl` acting up again.
(similar to where it is showing all the interim images, for images built locally)

[2020-03-18 16:56] afbjorklund commented on #6018
So the problem is only when using BuildKit (buildx), not with the default `docker build` ?

[2020-03-18 16:57] polaroi8d commented on #4222
Same issue in 6.1

[2020-03-18 17:13] #6822 closed

[2020-03-18 17:14] tstromberg commented on #6822
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

 * The full output of `minikube logs`

Thank you for sharing your experience!

[2020-03-18 17:15] tstromberg commented on #6825
Narrowing the scope down to something more tangible.

[2020-03-18 17:17] tstromberg commented on #6301
Image builds for kic should work exactly like other platforms.

Closing, since this doesn't seem to be going anywhere.

[2020-03-18 17:17] #6301 closed

[2020-03-18 17:17] tstromberg commented on #7073
I'm pretty surre this is a dupe of #6820

Can you run `docker system prune` to see if it helps?

[2020-03-18 17:19] tstromberg commented on #7088
Curiously, I was not able to reproduce this on hyperkit:

[code]

Oracle has been running for 17 minutes without issues:

[code]

[2020-03-18 17:21] Farouk19 commented on #3781
I had the same issue, just running Powershell as administrator and it worked.

[2020-03-18 17:23] tstromberg opened #7091 "minikube config set vm-driver ignored"
Related to #7078 #7079

[2020-03-18 17:23] tstromberg commented on #7091
NOTE: This is likely due to us renaming vm-driver to driver.

[2020-03-18 17:24] tstromberg commented on #7091
[code]

[2020-03-18 17:25] jorgemoralespou commented on #4547
/remove-lifecycle stale

[2020-03-18 17:31] tstromberg commented on #7067
/assign vikkyomkar

[2020-03-18 17:33] #6935 closed

[2020-03-18 17:33] tstromberg opened #7092 "Add `kubectl desc node -A` to `minikube logs` command"
It should probably be at the top, as it's increasingly important to solve resource limitations.

[2020-03-18 17:36] afbjorklund commented on #6018
The `wget` seems fine, but `apt-key` is doing something strange when running in the container.

For some reason it is trying to close every file description under the sun, way over the usual...

[code]

https://packages.debian.org/jessie/apt

https://salsa.debian.org/apt-team/apt/-/blob/debian/jessie/apt-pkg/contrib/fileutl.cc

[code]

Unfortunately, it never checks the return value of sysconf. Li

[2020-03-18 17:38] afbjorklund commented on #6018
Takes 30 seconds on mine, as compared with 1 second if I add a `ulimit -n 1024; ` before it.

[2020-03-18 17:39] tstromberg commented on #7092
Doing this will require adding something around here:

https://github.com/kubernetes/minikube/blob/1c9e63312c98ce66a9949dcdb54f3f7fd3ecc4d3/pkg/minikube/logs/logs.go#L187

It's probably safe to use the kubectl version installed within the VM, we just have to calculate the path to it appropriately. Here's how kubeadm generaties the right path:

 https://github.com/kubernetes/minikube/blob/1c9e63312

[2020-03-18 17:45] tstromberg commented on #6895
@vivekaglawe - Where is the "The full output of the command that failed"? I can't tell what version of minikube or what hypervisor you are using :(

[2020-03-18 17:48] tstromberg commented on #6918
Was this from a command or powershell Window running as an administrator?

Also, can you paste the full output of:

`minikube start --alsologtostderr -v=2`

Thank you.

[2020-03-18 17:51] tstromberg commented on #6951
I see a lot of error messages, but I don't yet understand the impact. In a healthy startup, there are often a lot of confusing error messages in Kubernetes.

Was there a particular command that failed? If so, I would love to see:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The fu

[2020-03-18 17:54] tstromberg commented on #6952
Before this I've not seen a case where `VBOX_VTX_DISABLED` was reported on a machine where VirtualBox VM's work properly. That is interesting.

Do you mind sharing the output of:

`minikube start --alsologtostderr -v=8`

Maybe a VirtualBox expert can step in and suggest how to debug the VM startup here?

[2020-03-18 17:56] tstromberg commented on #6819
Does `minikube delete` help at all?

[2020-03-18 17:57] tstromberg commented on #6965
I believe this was fixed in v1.8.2. Do you mind confirming?

[2020-03-18 17:58] tstromberg commented on #6965
Confirmed that we now skip preload for non-VM machines:
https://github.com/kubernetes/minikube/pull/7015

[2020-03-18 17:58] #6965 closed

[2020-03-18 17:59] tstromberg commented on #6971
I don't think the hang here is due to the missing file - it's merely reflecting that minikube no longer has internal state for this VM.

The hang appears to be related to Docker. Restarting Docker would probably fix this, but we clearly need a timeout and better error message for this.

[2020-03-18 18:01] priyawadhwa commented on #7085
Yah, I think this is failing because we use preload for VMs as well now, so we don't download the images for v1.17.3 anymore

I'll change it to an unsupported version

[2020-03-18 18:04] tstromberg commented on #7061
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.

As far as I can tell, it's trying to open a web browser, but failing to because it cannot find one.

[2020-03-18 18:08] #6974 closed

[2020-03-18 18:15] tstromberg commented on #6070
Closing. I believe this was due to running in China, where ` --image-mirror-country=cn` is required.

[2020-03-18 18:15] #6070 closed

[2020-03-18 18:15] priyawadhwa commented on #6612
Hey @altanai are you still seeing this issue?

[2020-03-18 18:17] tstromberg commented on #6902
This seems to work well on macOS, FWIW.

[2020-03-18 18:17] priyawadhwa commented on #6486
Hey @kishore-05 -- hopefully it's OK if I close this, as some time has passed. If you're still seeing this issue once you've configured the network proxy, please reopen this issue by including /reopen in your comment.

Thank you!

[2020-03-18 18:17] #6486 closed

[2020-03-18 18:18] sharifelgamal commented on #6203
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-03-18 18:18] #6203 closed

[2020-03-18 18:21] sharifelgamal commented on #6347
@SirBlues I'm going to go ahead and close this issue for now, but if you still need help, feel free to reopen it. I would try what @medyagh was suggesting above and freeing up ports that minikube needs.

[2020-03-18 18:21] #6347 closed

[2020-03-18 18:21] tstromberg commented on #7065
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

 * The command you saw the error with
*  The exact `minikube start` command line used
*  The full output of the `minikube start` command

Thank you for sharing your experience!

[2020-03-18 18:21] sharifelgamal commented on #6578
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-03-18 18:21] #6578 closed

[2020-03-18 18:22] tstromberg commented on #7066
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

* The exact command which showed this error message
*  The exact `minikube start` command line used
* The full output of both commands

Thank you for sharing your experience!

[2020-03-18 18:22] priyawadhwa commented on #6537
Hey @arunmummidi  are you still seeing this issue?

[2020-03-18 18:24] #6227 closed

[2020-03-18 18:25] sharifelgamal commented on #6461
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-03-18 18:25] #6461 closed

[2020-03-18 18:25] tstromberg commented on #7070
Interesting! Can you share the output of:

* `minikube logs`
* `minikube ssh "systemctl status docker.service"`

Thanks!

Also, can you check if removing this flag fixes your issue:

*  `--docker-opt storage-driver=overlay2`

[2020-03-18 18:28] tstromberg commented on #5236
We haven't gotten anywhere, so I think for this use case you may be best off with using kubectl:

https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/

Please let me know if it helps.

[2020-03-18 18:28] #5236 closed

[2020-03-18 18:32] priyawadhwa commented on #6399
Hey @a1exus thank you for submitting this issue. Could you please upgrade to the latest version of minikube, and try running:

[code]

This issue seems to be a dupe of #6061, and using that `minikube start` command with k8s version v1.17.0 seems to have resolved it.

[2020-03-18 18:32] tstromberg commented on #5691
@asloan7 - do you mind checking with the answer given here: https://superuser.com/questions/1026651/how-to-find-out-whether-hyper-v-is-currently-enabled-running

You can check the system log to see if any activity has occurred guide here:

*    Open Event Viewer. Click Start, click Administrative Tools, and then click Event Viewer.

*   Open the Hyper-V-Hypervisor event log. In the navigation pane

[2020-03-18 18:33] priyawadhwa commented on #6381
Hey @pnkj007 I'm going to go ahead and close this issue as some time has passed. If you continue to see this error, please include /reopen in your comment and this issue will be automatically reopened.

Thank you for sharing your experience!

[2020-03-18 18:33] #6381 closed

[2020-03-18 18:33] sharifelgamal commented on #7004
Could you supply the following details to help us debug your issue:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=3` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2020-03-18 18:34] sharifelgamal commented on #7010
@priyasubramanitvr I believe this issue is fixed with minikube 1.8.2, could you try it and report back?

[2020-03-18 18:34] tstromberg commented on #6403
If there are any ingress experts in the house, it'd be wonderful to see a tutorial written up for this similar to:

https://minikube.sigs.k8s.io/docs/tutorials/nginx_tcp_udp_ingress/

[2020-03-18 18:35] tstromberg commented on #6379
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-03-18 18:35] #6379 closed

[2020-03-18 18:37] priyawadhwa commented on #6270
@ventolino since this issue has been resolved I'm going to go ahead and close it. If you see any more issues, feel free to reopen this one by including /reopen in your comment or create a new issue anytime!

[2020-03-18 18:37] #6270 closed

[2020-03-18 18:40] tstromberg commented on #6976
I believe we fixed at least part of this problem in v1.8.2. Do you mind upgrading and running `minikube delete` and `minikube start` to confirm?

[2020-03-18 18:44] tstromberg commented on #7009
I wasn't able to replicate this, in part because https://k8s.io/examples/application/nginx-app.yaml  upgraded to nginx:1.14.2, which doesn't seem to have the issue.

I'm going to close this one for now unless someone else bumps into it.

[2020-03-18 18:44] #7009 closed

[2020-03-18 18:46] tstromberg commented on #7024
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.

Thank you for sharing your experience!

[2020-03-18 18:47] tstromberg commented on #7024
Also, the output of `Get-VMSwitch` would be helpful here.

[2020-03-18 18:51] olivierlemasle commented on #4151
Strange. As noted [above](#issuecomment-557326655), when I tested last November with Minikube 1.5.2, I had the exact same problem as you, reproduced multiple times.

I tested yesterday (Minikube 1.8.2, Fedora 31, Virtualbox 6.1.4) and it worked. Now I test again (same configuration) and the issue persists again :face_with_head_bandage:

[2020-03-18 18:51] tstromberg commented on #7027
I'm not quite sure what to do with this one.Do you mind checking with the latest release of VirtualBox?

Since the sharedfolder can be disabled, I'm not sure there is much we can do on the minikube side.

Just curious - is there a reason for you to prefer virtualbox over the hyperkit driver?

[2020-03-18 18:53] tstromberg commented on #7060
This appears to be a bug with an invalid YAML input.file.

Feel free to post the file here, but I think you'll find that there is a missing `kind:` section in it.

[2020-03-18 18:58] tstromberg commented on #6844
@VirannaGadgoli - Have you tried following the advice given by the command?

`Suggestion: Start PowerShell as Administrator, and run: 'Enable-WindowsOptionalFeature -Online -FeatureName Microsoft-Hyper-V -All'`

[2020-03-18 19:00] sharifelgamal commented on #7058
Could you provide:
*  The full output of the `minikube start` command with `--alsologtostderr -v=3` for extra logging.
 * The full output of `minikube logs`

That'll give us extra information to help debug your issue.
Thank you for sharing your experience!

[2020-03-18 19:05] tstromberg opened #7095 "minikube start: The existing "minikube" VM was created using the "docker" driver, and is incompatible with the "" driver."
[code]

Perhaps related to #7080 ?

[2020-03-18 19:09] tstromberg commented on #7095
FWIW, I have no `config.json`, hence no strange overrides.

[2020-03-18 19:09] priyawadhwa commented on #7095
Cool, taking a look now

[2020-03-18 19:13] afbjorklund commented on #6018
This bug is also fixed, if you upgrade from Debain oldoldstable (jessie) to stable (buster).

Then it uses `/proc/self/fd` in apt, rather than looping over every possible file descriptor...

[2020-03-18 19:22] afbjorklund commented on #6018
The root cause is a difference in ulimit, between build and buildkit:

[code]

[code]

So it is looping over 1024x more files, than the regular `docker build`.

[2020-03-18 19:29] #3577 closed

[2020-03-18 19:32] tstromberg opened #7097 "delete: docker inspect -f {{.State.Status}} minikube: Error: No such object: minikube: exit status 1"
If you start a Docker VM:

[code]

Deletion shows a scary error message:

[code]

[2020-03-18 19:39] prasadkatti commented on #7092
/assign

[2020-03-18 19:46] tstromberg commented on #7097
The weird part is that there is an image with this name, and it is deleted.

[code]

[code]

[2020-03-18 19:48] #7095 closed

[2020-03-18 20:35] tstromberg commented on #6971
If you see this again, do you mind sharing the output of:

* `docker ps`
* `docker inspect minikube`

Thanks!

[2020-03-18 20:35] tstromberg commented on #7005
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.

Thank you for sharing your experience!

[2020-03-18 20:37] tstromberg commented on #7016
Here's the most interesting message from the logs:

`Error dialing TCP: dial tcp 192.168.64.16:22: connect: operation timed out`

Any chance there is a VPN running?

[2020-03-18 20:39] afbjorklund commented on #7097
I got the usual timeouts here, but no error.

[code]

[2020-03-18 20:39] tstromberg commented on #7025
Instead of setting `--docker-env`, you'll need to set the HTTP_PROXY and HTTPS_PROXY environment variables: https://minikube.sigs.k8s.io/docs/reference/networking/proxy/

Please let me know if this helps.

[2020-03-18 20:48] tstromberg opened #7102 "docker: reusing running container -> bind: address already in use"
startup looks OK, though it did take 2.4 minutes:

[code]

Then I looked at the pods:

[code]

[code]

[2020-03-18 20:49] tstromberg commented on #7102
same with the scheduler:

[code]

[2020-03-18 20:50] tstromberg commented on #7102
It's worth noting that there was a flag change:

` ./out/minikube start --extra-config=apiserver.authorization-mode=AlwaysAllow`

[2020-03-18 20:52] tstromberg opened #7103 "docker: excessive systemctl reload/restarts"
I noticed this while running `minikube start` on a running instance:

[code]

This should be sufficient, though possibly not needed either:

`sudo systemctl -f daemon-reload && sudo systemctl -f restart docker`

[2020-03-18 20:53] ceeaspb commented on #7027
Thanks, fair question, Virtualbox is more familiar to people and may already be installed therefore less friction.
hyperkit has become unresponsive at least a couple of times, and there are reports of "docker" high cpu unresponsive with hyperkit. So it is not without its own problems/risks.

I don't understand your comment on sharedfolder can be disabled - can you explain a little?

Given this app

[2020-03-18 20:59] tstromberg commented on #2342
I can't say exactly when this was fixed, but it no longer appears with at least the v1.9.0-beta.1:

[code]

My apologies for it taking so long to get this resolved.

[2020-03-18 20:59] #2342 closed

[2020-03-18 21:02] afbjorklund commented on #7103
This is normal virtualbox driver behaviour. It does a `daemon-reload` before all start/restart operations.

[code]

[2020-03-18 21:09] afbjorklund commented on #7027
We had other users report success with changing NIC type from "virtio" to "82540EM"

[2020-03-18 21:10] afbjorklund commented on #7027
Normally you would use the `toolbox`, in order to run things (in a container) on the VM.

[2020-03-18 21:12] swpoulin commented on #7016
Ah - thank you!
That was it.
I stopped the VPN,  and minikube hyperkit started with no problem.

Interesting is now with VPN turned on or not, I can stop, delete, start with no problem
minikube delete
minikube start --vm-driver=hyperkit

It must have cached it somewhere.

I'll remember to stop VPN if it happens again.

hyperkit is fascinating.

Thanks again!

[2020-03-18 21:12] #7016 closed

[2020-03-18 21:29] ceeaspb commented on #7027
Thanks, `toolbox` looked promising but didn't work for me (possibly not using it right) as it's not running the same kernel as the VM-host - couldn't find the headers for linux 5.x(3?) - I don't have the exact logs to hand as I rebooted since.

I tested these nic types, with no improvement. Just to check are they the correct parameters to set?
[code]

I looked at / tried nat nic tcp windows size,

[2020-03-18 22:29] tstromberg commented on #7016
Thank you for the feedback! I'll make sure that this generates a better error message to point future users to look at the VPN.

Depending on the VPN, you may a better experience with `--driver=docker`.

[2020-03-18 23:16] tstromberg commented on #7072
Any chance there is a VPN running on this system?

[2020-03-19 00:25] JuergenSimon commented on #7072
No, there is no VPN running.

[2020-03-19 00:32] gillespiejim78 commented on #6952
@tstromberg thanks for following up. Here's the output you requested:

[2020-03-19 00:47] JuergenSimon commented on #7072
I double-checked and found a few VPN configurations, however I am pretty certain no VPN was actually running. However: after deleting those, minikube started fine.

[2020-03-19 00:53] #7085 closed

[2020-03-19 02:34] runlevel5 commented on #6798
@afbjorklund IBM has been pushing the OpenPOWER platform and I could see a small community of mainly engineers are embracing it. Companies like Raptor CS have offered affordable OpenPOWER-based products that help bridge the adoption gap. And I hope with the level of software support, the gap would be shortened further.

[2020-03-19 02:37] runlevel5 commented on #7071
@tstromberg @afbjorklund Love to help if you two could give me guidance on where to start.

[2020-03-19 04:25] rofangaci commented on #5392
Have the same issue as above.  Still can't use minikube on WSL on win10.

[2020-03-19 06:23] jgoeres commented on #7063
I usually used to run

    minikube start --disk-size 30G --cpus 6 --insecure-registry <ourInternalRegistry> --memory 12g --host-only-cidr='192.168.99.1/24'

I don't remember the details why I actually started using the host-only-cidr switch - IIRC back when I started using minikube (around v1.4.0) the minikube VM sometimes ended up using the wrong host-only-network.
In the current version I am fi

[2020-03-19 07:24] iamamjad commented on #2598
minikube version: v1.8.1 exists the same error on ubuntu 18 Digital Ocean :-(

[2020-03-19 07:53] fredsted commented on #7070
Thanks for the quick response.

Removing the `--docker-opt storage-driver=overlay2` flag solved the issue!

Here's the `minikube logs` output: https://sf.gl/files/minikube-logs-output.txt – unfortunately couldn't get more since the VM isn't starting.

Looks like since the storage driver configuration property is duplicated, it errors out?

[2020-03-19 09:04] krajapraveen commented on #7018
@afbjorklund : I have used Kubernetes (Kubectl) version 1.17.3 and it worked.

Thank You..

[2020-03-19 09:17] govargo commented on #5503
@tstromberg @medyagh

minikube's always enable default addons `default-storageclass` & `storage-provisioner`.
Is this essential requirement for minikube?

[2020-03-19 09:44] mvgijssel commented on #6018
Wow, thanks for the detailed answer! Very helpful ❤️. This gives me something to work with whenever I encounter this behaviour, so closing this.

[2020-03-19 09:44] #6018 closed

[2020-03-19 10:43] ramesh-kumarjha opened #7106 "Service nginx-service was not found in "default""
service.yaml
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: my-nam
spec:
  selector:
    app: nginx
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 31567

getting thhis error    Error opening service: Service nginx-service was not found in "default" namespace. You may select another namespace by using 'minikube service

[2020-03-19 10:44] ramesh-kumarjha commented on #7106
error

[2020-03-19 10:47] hussnainjav3d opened #7107 "none as non-root: Unable to load config: stat: stat config.json: permission denied"
**The exact command to reproduce the issue**:
minikube start --vm-driver=virtualbox

**The full output of the command that failed**:<details>

E0319 15:43:50.410596   17940 notify.go:66] write time failed: Error writing current update time to file: : writefile failed for /home/hussnain/.minikube/last_update_check: open /home/hussnain/.minikube/last_update_check: permission denied
🎉  minikube 1.8.2

[2020-03-19 16:22] asatrur commented on #6585
I tried this with the v1.8.0 of minikube on W10 and an admin powershell instance.

[2020-03-19 17:38] govargo commented on #7056
This issue can be reproduced (minikube v1.8.2).

【Additional Information】(Sorry, I cannot still resolve this)

When `mongo.deployment.yml` is deployed, I check `storage-provisioner`'s log.
Then `storage-provisioner` outputs following log.

[code]

It seems storage-provisoner's controller cannot get StorageClass API Resource.

Latest minikube uses [sig-storage-lib-external-provisioner](https://gith

[2020-03-19 18:27] #6035 closed

[2020-03-19 18:29] #4806 closed

[2020-03-19 18:31] #6656 closed

[2020-03-19 18:38] tstromberg commented on #5498
Closing as this proposal appears to be on hold.

[2020-03-19 18:38] #5498 closed

[2020-03-19 18:39] tstromberg commented on #5573
I still don't have a clear sense on how to reproduce this.

My gut instinct says this may be due to the kernel not applying seccomp. Do you mind testing if minikube v1.9.0-beta.1 is affected, and if so, share the output of `minikube start`?

[2020-03-19 18:41] tstromberg commented on #5666
The up arrow appears to work for me on macOS, both with `--native-ssh=false` and `--native--sh=true`.

[2020-03-19 18:43] tstromberg commented on #5999
Thank you for the update!

[2020-03-19 18:43] #5999 closed

[2020-03-19 18:44] tstromberg commented on #6099
NOTE: We reverted this behavior in v1.7.

[2020-03-19 18:44] #6099 closed

[2020-03-19 18:45] tstromberg commented on #6143
If anyone is running into this issue, please update this issue.

Also, it would be worth hearing if `--driver=docker` works instead.

[2020-03-19 18:46] tstromberg commented on #6149
If you are still running into this, it would be useful to hear if `--driver=docker` helps to unblock you.

[2020-03-19 18:49] afbjorklund commented on #7071
I think @medyagh is our resident expert on all things KIC, and the docker image used for it

https://github.com/kubernetes/minikube/blob/master/hack/images/kicbase.Dockerfile

[2020-03-19 18:50] tstromberg commented on #6335
I found a reference to your Hyper-V error here:

https://github.com/Microsoft/WSL/issues/3413

The two workarounds appear to be:

* Run Powershell as Administrator if you are not already
* Use the UI to enable Hyper-V: `Start >> Windows Features >> Turn Windows Features on or off `

Please let me know if this helps.

[2020-03-19 18:51] #6366 closed

[2020-03-19 18:53] priyawadhwa commented on #7091
I was able to repro this and had this in my config.json:

[code]

we check if `driver` is set first so I was getting hyperkit. If both are set, we should probably output a warning to the user.

[2020-03-19 19:04] tstromberg commented on #6419
I'm generally against adding more default addons due to the additional overhead in terms of memory and startup latency.

I would be happy to see it provided as an addon though, which users can then trivially enable (`minikube start --addons olm`).

[2020-03-19 19:09] tstromberg commented on #6631
@adarsh-m - are you still running into this?

It would be helpful to get this information:

`minikube start --alsologtostderr -v=3`

That should reveal the source of the failure. I'm betting there is a VirtualBox misconfiguration or corruption of some sort.

[2020-03-19 19:10] tstromberg commented on #6631
@derektumulak - Sorry to hear that. Please open another issue for non-virtualbox issues, with the output of `minikube start --alsologtostderr -v=3`.

It would also be helpful to know if `minikube start --driver=docker` works.

[2020-03-19 19:21] asloan7 commented on #5691
I am guessing it is a permissions issue, not authorized to connect to server. I don't see any errors in Event Logs but Virtual Machine Management Service doesn't show up in Services, can it be installed? How did I get this far without it?

[2020-03-19 19:57] priyawadhwa commented on #7097
I was able to repro this, I think it's happening because we call

https://github.com/kubernetes/minikube/blob/8d1f4552c05877c5781ed9628aa0f54e8ec21ebe/cmd/minikube/cmd/delete.go#L211

and then we call

https://github.com/kubernetes/minikube/blob/8d1f4552c05877c5781ed9628aa0f54e8ec21ebe/cmd/minikube/cmd/delete.go#L242

so by the time we get to `deleteHosts` the container has already been deleted. I

[2020-03-19 19:58] tstromberg commented on #4690
I looked into this a little bit, and the best I could find was this mention on https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/well_known_annotations.go

[code]

In our case, there is no external cloud provider, so there is no IP added there automatically. That said, I would be open to a PR adding this annotation to minikube.

My gut instinct says this would go in `pkg/miniku

[2020-03-19 19:59] tstromberg commented on #6663
Can you include the output of `kubectl describe pods -l app=kuberappdemo`?

My guess is that Docker within minikube does not know how to access your image.

[2020-03-19 20:03] tstromberg commented on #6692
We recently added multiple fallback URL's to `download.ISO()` in `pkg/minikube/download/iso.go`

If someone wants to implement this, I recommend adding a similar for loop between a URLs with https:// and http://. You'll want to do it across these functions:

* `download.ISO()`
* `download.Driver()`
* `download.Binary()`
* `download.Preload()`

[2020-03-19 20:06] tstromberg commented on #6812
Please try `minikube start --driver=docker`

[2020-03-19 20:08] tstromberg commented on #6826
I don't believe this is presently possible in Kubernetes. There are no guarantee for pod IP's.

Perhaps nextcloud.host should not be a container IP?

[2020-03-19 20:11] tstromberg commented on #6770
This appears to have been fixed during v1.8 at some time, I can't mimic it at v1.9.0-beta.1. Do you mind checking if it works for you now?

[code]

[2020-03-19 20:13] tstromberg commented on #7059
Did you install the vmware driver?

https://minikube.sigs.k8s.io/docs/start/macos/

If so, please report the output of `docker-machine-driver-vmware version`. Thank you!

[2020-03-19 20:19] tstromberg commented on #6945
It's unclear why, but it appears that KVM VM's may not be coming up with an IP address on your machine. Do other VM's work other than minikube?

You may be able to get further using `--driver=docker`

[2020-03-19 20:23] tstromberg commented on #7070
@fredsted - Indeed, it seems this is the case:

[code]

I believe that this happened in v1.8.x because minikube now needs overlay2 for the image preload optimizations.

It looks like we could do something smarter about this.

[2020-03-19 20:24] tstromberg commented on #7072
Interesting. I'll make sure to add a note to check for VPN's when the error is raised. Thank you!

If you need a more VPN-proof option, you can try `--driver=docker`.

[2020-03-19 20:28] tstromberg commented on #6857
My guess is that the docker configuration was mangled somehow.

FWIW, you should not need to pass the `--docker-env` values in for the proxy. minikube should do that automatically for you if they appear in the environment.

[2020-03-19 20:30] #6857 closed

[2020-03-19 20:32] tstromberg commented on #7002
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2020-03-19 20:34] #7053 closed

[2020-03-19 20:35] tstromberg commented on #7106
Can you share the command-line you used?

This should be`minikube service nginx-service -n my-nam`.

[2020-03-19 20:37] tstromberg commented on #7107
Can you share the output of:

* `id`
* `stat  /home/hussnain/.minikube/profiles/minikube/config.json`
* `touch  /home/hussnain/.minikube/profiles/minikube/config.json`

Thank you!

[2020-03-19 20:38] tstromberg commented on #7107
My guess is that the files are not owned by the user you are running minikube as.

[2020-03-19 20:38] edmondsw commented on #6798
ppc64le has actually never been used in a mainframe. It's primarily used on-prem in enterprise customer datacenters, but it is making its way into laptops and things via OpenPOWER as @runlevel5 mentioned. You can also now get ppc64le virtual machines in the IBM Cloud: https://cloud.ibm.com/docs/vpc?topic=vpc-about-advanced-virtual-servers#about-power-vsi

[2020-03-19 20:44] tstromberg commented on #6590
Do you mind checking if minikube v1.9.0-beta.1 has this issue? I wasn't able to replicate it locally using your commands.

If so, I would love the output of minikube start with `--alsologtostderr -v=1`, as well as the output of this both before and after the second start:

` grep '"IP"' ~/.minikube/profiles/myprofile/config.json`

Thanks!

[2020-03-19 20:45] cwansart opened #7111 "docker-env with crio: Error getting service status: Process exited with status 3"
**The exact command to reproduce the issue**:

Make sure you're running Docker on Mac and run in a terminal:

[code]

I guess it is due to the use of VirtualBox? With hyperkit _docker-env_ works, but hyperkit has some issues with the network.

**The full output of the command that failed**:<details>

[code]
</details>

**The output of the `minikube logs` command**:

There is none regarding this is

[2020-03-19 20:47] ramesh-kumarjha commented on #7106
I am using the same command

[2020-03-19 20:48] ramesh-kumarjha commented on #7106
I am using the same command which you have mentioned

[2020-03-19 20:50] tstromberg commented on #7111
This should definitely work. Let me try to reproduce it locally.

[2020-03-19 20:50] tstromberg commented on #7111
Oh, I know why it doesn't work: `--docker-env` only works with `--container-runtime=docker` (the default). Let me see what I can do about improving the error message.

[2020-03-19 20:59] cwansart commented on #7111
That makes sense. Guess I missed that. Thank you

[2020-03-19 21:00] tstromberg commented on #7111
If it helps, there is also `minikube podman-env`, which may work better for the CRIO case.

[2020-03-19 21:02] cwansart commented on #7111
Oh, good to know. But so far podman didn't work that great on macOS. I'll check it out. :)

[2020-03-19 21:06] afbjorklund commented on #6798
My bad, when I ran PowerPC it was called G3/G4/G5 :-) It was on the Mac. Maybe we should decouple `ppc64le` from `s390x` then.

[2020-03-19 21:10] afbjorklund commented on #7111
Sounds like a regression then, it used to give a nice and friendly error message... See ~#3698~

Running `podman-remote` from the Mac is supposed to work fine, let us know if it doesn't ?

[2020-03-19 21:11] #7091 closed

[2020-03-19 21:29] afbjorklund commented on #7027
I guess the toolbox was mostly for running userspace tools, not so much for the kernel.
It's a bit weird that you are getting the host 5.x kernel in the virtualbox guest, though.

As long as the VM is re-created (as to actually pick up those changes), that should be it...
You can verify if it has taken effect with showvminfo, but I guess that it didn't help you then.

[2020-03-19 21:49] tstromberg commented on #7102
It's not always reproducible, but this seems to hit the condition often enough:

` ./out/minikube delete; ./out/minikube start --driver=docker; sleep 60; ./out/minikube start --driver=docker --alsologtostderr  -v=1`

There are two issues here: it takes longer to launch, and we dump a lot of extra error output ot the console.

[code]

[2020-03-20 02:50] zhsh16 commented on #7083
Thank you for your help. I was in a hurry the day before yesterday, so I changed the implementation method and used docker for desktop to implement kubenetes. I will try your solution when I have time.Thanks again !

[2020-03-20 03:24] #7111 closed

[2020-03-20 03:37] gkwan commented on #6945
Yes .. the other VM's work other than minikube.  And thank you I did further along with using --driver=docker

[2020-03-20 03:37] #6945 closed

[2020-03-20 06:25] cwansart commented on #7111
Thank you. I'll do.

[2020-03-20 07:29] BourgeoisBear commented on #4348
I had this problem because my user didn't have `kvm` set as one of its supplemental groups:

[code]

[2020-03-20 09:34] taciomcosta commented on #4392
Hi!
I'd like to send a PR to update the testdata file path mentioned by @tstromberg . May I link to this same issue?

[2020-03-20 10:13] govargo commented on #7056
Finally, I understood why the PV & PVC are not bound.

Now minikube is going add multi nodes feature.
So, the nodeName of minikube became "m01".

[code]

This is why the PV & PVC are not bound.
The PV `mongo-pv` has node-affinity to nodeName `minikube`.
So if you change nodeName to `m01`, you can use running mongo-db. @alex-gab

[code]

[2020-03-20 10:14] govargo commented on #7056
related issue

https://github.com/kubernetes/kubernetes/issues/88229

[2020-03-20 10:21] govargo commented on #6387
Rootless docker may be helpful in future.

https://github.com/moby/buildkit/releases/tag/v0.7.0-rc1

[2020-03-20 15:26] govargo opened #7118 "[BumpUp]: istio addon v1.4.0 → v1.5.0"
/kind cleanup

Minikube v1.9.0-beta.1 has istio-provisioner & istio addon v1.4.0.
This is not latest version(latest is v1.5.0).
Istio v1.5.0 has big change from micro-service architecture to monolithic architecture.
detail is here: https://istio.io/news/releases/1.5.x/announcing-1.5/

I'll send PR to upgrade to this version.

[2020-03-20 15:27] govargo commented on #7118
/assign

[2020-03-20 15:44] derektumulak commented on #6631
Hi Thomas, thank you for the reply but unfortunately I don't have this
environment up and running any longer.

Best,
-Derek

On Thu, Mar 19, 2020 at 12:11 PM Thomas Strömberg <notifications@github.com>
wrote:

[2020-03-20 15:46] hendisantika commented on #5824
@Rub21 thanks, after brew link minikube everything works. but I don't really understand why a cask of a program is not automatically linked, as I don't have minikube elsewhere installed.

Same like @NanheKumar did.

my issue is resolved. thanks for the support!

[2020-03-20 16:21] warriorjiang opened #7121 "minikube startup failures on Windows 10 / Hyper V"
**The exact command to reproduce the issue**:
minikube start --alsologtostderr -v=8

**The full output of the command that failed**:<details>

PS C:\Windows\system32> minikube start --alsologtostderr -v=8
I0320 10:19:07.404039   17184 notify.go:125] Checking for updates...
I0320 10:19:07.619275   17184 start.go:252] hostinfo: {"hostname":"***","uptime":412063,"bootTime":1584301884,"procs":260,"os"

[2020-03-20 16:55] SMillerDev commented on #5824
Casks don't have links, formulae do. If it worked after `brew link` you have the formula installed.

[2020-03-20 17:42] eslam-cs opened #7122 "minikube hangs once it start"
**The exact command to reproduce the issue**:
minikube start --extra-config=apiserver.service-node-port-range=1000-33000 --memory=4192 --vm-driver=virtualbox --no-vtx-check --alsologtostderr -v=3 --bootstrapper=localkube

**The full output of the command that failed**:<details>
INITIALIZING MINICUBE CLUSTER
I0320 19:34:57.799234    9960 notify.go:125] Checking for updates...
I0320 19:34:59.933182

[2020-03-20 18:07] alewis001 commented on #6770
Ok, thanks @tstromberg. I still see the same issue in 1.8.2 so I'll try updating to 1.9.0-beta-1 and report back.

[2020-03-20 18:28] alewis001 commented on #6770
Great news! I can confirm that 1.9.0-beta.1 resolves both the issue in listing addons and the "start" failure (as mentioned in the details section of this issue).

Apart from using a new cluster, I also tried using a pre-existing one. Initially the addons list was wrong but I assume that's to be expected as minikube has lost track of what's enabled. I went through and re-enabled the addons. I assu

[2020-03-20 18:31] tstromberg commented on #7122
Hi There! Let's see if we can narrow this down a bit.

* What is the output when you run: "minikube start"

I'm concerned because typically `--no-vtx-check` is unnnecessary if VirtualBox is functioning properly.

[2020-03-20 19:23] kameshsampath commented on #6419
I see your point!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Thomas Strömberg <notifications@github.com>
Sent: Friday, March 20, 2020 12:34:21 AM
To: kubernetes/minikube <minikube@noreply.github.com>
Cc: Kamesh Sampath <kamesh.sampath@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [kubernetes/minikube] Add Operators OLM addon (#6419)

I'm gene

[2020-03-20 20:19] joseph-ravenwolfe commented on #5763
As a note, I also received this error, and it was due to a `~/.netrc` file created a few years ago by Heroku Toolbelt. Removing the `~/.netrc` file resolved the issue.

[2020-03-20 20:21] joseph-ravenwolfe commented on #6085
Manually downloading and moving the `.iso` resolved one of the issues. But I also encountered this when trying to download the hyperkit driver. Removing an old `~/.netrc` file generated resolved the issue for me.

[2020-03-20 20:39] eslam-cs commented on #7122
hi @tstromberg
thanks for replay
without --no-vtx-check i will run to a problem because minikube will think the vtx is not enable but it is actually enable as u can see in the img in attachment

![vir](https://user-images.githubusercontent.com/26674700/77204579-b12be180-6afb-11ea-9477-2592f87debe6.jpg)

[2020-03-20 21:49] #7103 closed

[2020-03-20 21:52] #7118 closed

[2020-03-20 22:36] peterlin741 opened #7126 "EOF accessing docker-env endpoint"
If I attempt to run an application (cloud run) that starts a gcloud managed version of minkube (`v1.7.3`), while a local version of minikube (`v1.8.2`) is running and set as the current context, the sample fails and corrupts the state of docker. (other scenarios may fail as well)

Afterwards, if I switch to a different context (a gke cluster for example) and/or if I do a `minikube delete` and remo

[2020-03-21 02:26] #6505 closed

[2020-03-21 03:40] tstromberg commented on #7126
As best as I can tell, minikube and Kubernetes are running just fine, though the docker errors are interesting. I'm having a difficult time following along on how to replicate the error though.

[code]

Are you seeing something else other than docker errors?

My best guess as to what may be happening is that something may be caching the Docker IP and port returned by minikube, but some external en

[2020-03-21 04:48] zhangfeifeifei opened #7127 "Error getting cluster config: cluster "minikube" does not exist"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2020-03-21 04:49] zhangfeifeifei opened #7128 "Update commands to detect non-existent configuration"
**minikube stop**：

***
X Error getting cluster config: cluster "minikube" does not exist
*
* minikube is exiting due to an error. If the above message is not useful, open an issue:
  - https://github.com/kubernetes/minikube/issues/new/choose**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2020-03-21 09:23] govargo opened #7129 "[BumpUp]: helm-tiller patch update v2.16.1 → v2.16.3"
/kind cleanup
/area addons

Minikube v1.9.0-beta.1 has helm-tiller addon v2.16.1.
This version has vulnerability [CVE-2019-1551](https://nvd.nist.gov/vuln/detail/CVE-2019-1551).

There is a security patch helm version. It is v2.16.3
Detail: https://github.com/helm/helm/releases/tag/v2.16.3

I'll send PR to upgrade to this version.

[2020-03-21 09:24] govargo commented on #7129
/assign

[2020-03-21 09:33] alex-gab commented on #7056
Thank you @govargo, I confirm that after upgrating to the latest stble minikube release (v1.8.2) and performing the changes you suggested, everything works fine!

Just a little mention, I do not know if it is an issue or not: while the node name has changed to "m01" when issuing the command:
[code]
the hostname of the node still remains "minikube":
[code]

[2020-03-21 11:36] govargo commented on #7056
I was relieved that mongo-db works.

I think this is not issue. The hostname `minikube` is
Multi node experimental PR is merged to master branch(not released yet).
[https://github.com/kubernetes/minikube/pull/6787](https://github.com/kubernetes/minikube/pull/6787)

Multi nodes is likely the following output.
[code]

I think the host name was minikube for a long time, but it will change in the futu

[2020-03-21 12:07] #7056 closed

[2020-03-21 13:10] Nick-Harvey commented on #6912
Unfortunately, I can't find a way to get the `/var/log/nvidia-installer.log` file I've tried:

[code]

long-shot
[code]

Any idea how to get access to the nvidia-installer.log ? I would love to know myself what Nvidia is saying. I have a sneaking suspicion that it has to do with where the nvidia drivers are installed to on the host, but that's just a guess.

[2020-03-21 13:22] habib-ali commented on #7107
I am facing the same issue. I used minikube installation guide to install minikube on my ubuntu 18.04.
I have installed docker on my system and used "none" as a vm-driver to start minikube.
Output of
`minikube start --vm-driver=none`
 is this
😄  minikube v1.8.2 on Ubuntu 18.04
💣  Unable to load config: stat: stat /home/healyhwire/.minikube/profiles/minikube/config.json: permission denied

upon doi

[2020-03-21 14:28] tstromberg opened #7133 "TestOffline/group/(crio|containerd): Offline tests for non-Docker runtimes broken"
TestOffline/group/crio is broken because it's trying to pull images from the internet.

Perhaps due to an unexpected interaction with TestDownloadOnly?

https://storage.googleapis.com/minikube-builds/logs/7124/474b69c/VirtualBox_Linux.html

[code]

[2020-03-21 14:28] #7097 closed

[2020-03-21 14:32] tstromberg commented on #7133
This appears to have been broken due to preload: aaa_download_only_test assumes that if we preload one version on one runtime, that it works for all. That used to be true, before preload.

[2020-03-21 16:37] mancini0 commented on #7107
I'm hitting the same issue on 18.04 following this guide https://www.howtoforge.com/how-to-install-kubernetes-with-minikube-on-ubuntu-1804-lts/

[2020-03-21 16:42] realrogerrt opened #7135 "Automated"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-21 17:36] #7129 closed

[2020-03-21 17:38] #7102 closed

[2020-03-21 18:47] #5423 closed

[2020-03-21 21:41] #7086 closed

[2020-03-21 21:48] #7133 closed

[2020-03-21 21:56] #7135 closed

[2020-03-21 21:56] tstromberg commented on #7135
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-03-21 21:58] tstromberg commented on #7107
@habib-ali - Thank you! We can improve that error message. You'll need to use `sudo` for the `none` driver until #3760 is fixed.

[2020-03-21 22:06] tstromberg commented on #3760
This is still on our radar.

I encourage that users of `--driver=none` consider using the newer `--driver=docker`, which does not require root access.

That said, we still plan to support `--driver=none` for users with use cases that are incompatible with `--driver=docker`, though it's unclear what those use cases are.

[2020-03-21 22:13] #7092 closed

[2020-03-21 22:14] tstromberg opened #7138 "master: upgrade from v1.8.2: "kubelet.conf" exists already but has got the wrong API Server URL"
Ran into this when doing a local upgrade test on a running cluster:

[code]

[code]

[2020-03-21 22:46] tstromberg commented on #7128
Thank you for the bug report! The issue is because there is no cluster to be found. I'll use this issue to track updating our commands to give better output.

[2020-03-21 22:57] rlanting commented on #6716
@afbjorklund @tstromberg

Some more debugging results for you:

- The kernel commandline has `hw_rng_model=virtio` which is set in `deploy/iso/minikube-iso/board/coreos/minikube/isolinux.cfg`
- The output of `$ cat /sys/devices/virtual/misc/hw_random/rng_current` is `none`
- There is no `virtio-rng` driver in the output of `$ find / -name "*virtio*"`
- There is no `HW_RANDOM_VIRTIO` in `deploy/iso

[2020-03-22 00:35] sharifelgamal commented on #94
Experimental multi-node support will be available in the upcoming 1.9 release and will be available in the next 1.9 beta as well.

[2020-03-22 01:41] #7138 closed

[2020-03-22 02:33] medyagh opened #7140 "Unable to update hyperkit driver: Error downloading checksum file: bad response code: 404"
on the head on mac os:
first purge
[code]
then
[code]

error :
[code]

[2020-03-22 02:34] medyagh commented on #7140
CC: @tstromberg is that related to Download refactor ?

[2020-03-22 02:36] medyagh commented on #7140
Ah, nevermind, I believe this is because v1.9.0-beta.2 has not been released yet.
(we could still fix this logic, that if that latest doesnt exist, it should try to download latest possible driver)

[2020-03-22 04:11] tstromberg commented on #7140
Correct, this is because we were mid-release. We could certainly improve the experience, especially if the user already has a perfectly fine driver laying around.

[2020-03-22 05:05] habib-ali commented on #7107
@tstromberg I tried to use `sudo` to start minikube cluster but I think it is causing issues in next processes. e.g I am exposing a service using kubectl to be used by minikube  using the following sample commands
`kubectl create deployment hello-minikube --image=k8s.gcr.io/echoserver:1.4
kubectl expose deployment hello-minikube --type=NodePort --port=8080`
and then I do
`sudo minikube service hel

[2020-03-22 05:25] medyagh commented on #7140
Exactly . We rarely update the hyperkit driver, we could potentially put the latest driver Sha and check for the locally available Sha and see if we need to download

[2020-03-22 05:28] medyagh opened #7142 "None driver tests on GitHub actions: connect: connection refused"
None driver used to have only one failure (test.download only)
Now we have Lots of failures of none driver tests on head in GitHub actions.
I believe last time I saw them was on multi node pr

'''
 The End Result - None on Ubuntu 18:040s
*** 21 Failed ***
Run echo ${GOPOGH_RESULT}
None_Ubuntu_18_04 : completed with 21 / 59 failures in 43 min 22 seconds
----------------21 Failures------------------

[2020-03-22 12:25] sravan199 opened #7143 "Unable to start VM. Please investigate and run 'minikube delete' if possible: creating host: create host timed out in 120.000000 seconds"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-22 13:12] rajeshkudaka commented on #4132
I was facing the same issue in v1.3.1. I did a bit of code walkthrough in v.13.1 and found that it was having issue at "[configureHost](https://github.com/kubernetes/minikube/blob/v1.3.1/pkg/minikube/cluster/cluster.go#L154)" which as per my understanding is only required when the setup is done in a vm and I did not observe any configurations specific to 'none' driver . I have tried a couple of sc

[2020-03-22 15:09] DotNet-Ninja opened #7144 "Minikube on Windows 10 using Hyper-V not respecting memory allocation set in profile."
I've been running a set of PowerShell scripts (in various forms) to install and configure Minikube since mid November (starting with ~v1.5.1 if I remember correctly).  The gist of the current scripts is there is one to install Minikube using the Chocolatey package and one to configure Minikube and start it up.  Last night I began an exercise to clean up the scripts and retest them at which time I

[2020-03-22 15:10] djrollins opened #7145 "kvm2: [kubelet-check] Initial timeout of 40s passed: write unix /var/run/docker.sock->@: write: broken pipe"
When using the kvm2 driver, the "Launching Kubernetes" task is painfully slow and often fails with an error due to some connection timeout. The resulting error from minikube is different everytime so I have just presented the latest below.

In the case where `minikube up` does succeed, I regularly get 503 errors when running `kubectl get componentstatuses` and commands like `minikube dashboard` of

[2020-03-22 15:53] stevenbill opened #7146 "kube-proxy: Post https://localhost:8443/api/v1/namespaces/kube-system/configmaps?timeout=10s: context deadline exceeded"
Error starting cluster: addon phase cmd:"/bin/bash -c \"sudo env PATH=/var/lib/minikube/binaries/v1.17.0:$PATH kubeadm init phase addon all --config /var/tmp/minikube/kubeadm.yaml\"": /bin/bash -c "sudo env PATH=/var/lib/minikube/binaries/v1.17.0:$PATH kubeadm init phase addon all --config /var/tmp/minikube/kubeadm.yaml": Process exited with status 1
stdout:
[addons]: Migrating CoreDNS Corefile
[a

[2020-03-22 15:57] stevenbill opened #7147 "Unable to connect to the server: unexpected EOF"
suddenly my minikube show this error and stopped to start

[2020-03-22 16:02] stevenbill opened #7148 "Unable to connect to the server: net/http: TLS handshake timeout"
suddenly my kubectl  show this error and stopped to start

[2020-03-22 16:46] altanai commented on #6612
It works now . @tstromberg  @priyawadhwa

[2020-03-22 16:46] #6612 closed

[2020-03-22 17:12] Ialuma opened #7150 "minikube service hello-minikube"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-22 17:14] Ialuma commented on #7150
minikube service hello-minikube

💣  Error getting config: cluster "minikube" does not exist
- minikube is exiting due to an error. If the above message is not useful, open an issue:
👉  https://github.com/kubernetes/minikube/issues/new/choose

[2020-03-22 18:02] stevenbill opened #7151 "grafana cant read prometheus"
![Screenshot from 2020-03-22 19-59-41](https://user-images.githubusercontent.com/29622827/77256616-0c82de80-6c78-11ea-887c-a6b8c675e14a.png)

[2020-03-22 20:45] medyagh commented on #7142
CC: @sharifelgamal  could this be related to multi node PR?

[2020-03-22 21:02] sharifelgamal commented on #7142
I don't think so but I'll double check

[2020-03-22 21:05] prasadkatti commented on #7087
Shouldn't this issue get closed with the above PR being merged? The PR says "fixes #7087".

[2020-03-23 04:21] dileepdevops opened #7154 "Unable to start VM. Please investigate and run 'minikube delete' if possible: creating host: create host timed out in 120.000000 seconds"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-23 06:17] prasadkatti commented on #3574
@tstromberg - `kubectl desc node -A` is now part of `minikube logs`, merged in #7105

[2020-03-23 07:21] prasadkatti commented on #4749
Is this also perhaps related to #7105 ?

[2020-03-23 07:37] krajapraveen opened #7155 "Opening service default/holding-details in default browser. Access is denied.X open url failed: http://192.168.99.101:31555: exit status 1"
Hi

When I have provided the following command:
C:\>kubectl get services

NAME                  TYPE            CLUSTER-IP    EXTERNAL-IP    PORT(S)                   AGE
holding-details    NodePort     10.96.38.81    <none>            8080:31555/TCP      25s
kubernetes          ClusterIP       10.96.0.1        <none>           443/TCP                   2d22h
[code]
From the above, the system is s

[2020-03-23 09:04] boonen commented on #6584
@irizzant This command solved the issue for me:

    kubectl expose deployment nginx-ingress-controller --target-port=80 --type=NodePort -n kube-system

[2020-03-23 09:33] paulstelian97 commented on #4587
My system is **weird** -- while the setting sticks in the BCD the boot manager ignores it somehow and Hyper-V is still started. I have tried all the online solutions, now my next move would be to call Microsoft Support.

[2020-03-23 10:57] Nit2879 opened #7156 "none: [ERROR Port-2380]: Port 2380 is in use"
**The exact command to reproduce the issue**:
minikube start --vm-driver=none
**The full output of the command that failed**:<details>
stderr:
W0323 06:56:07.655585   10307 validation.go:28] Cannot validate kube-proxy config - no validator is available
W0323 06:56:07.655707   10307 validation.go:28] Cannot validate kubelet config - no validator is available
	[WARNING IsDockerSystemdCheck]: detecte

[2020-03-23 14:36] tstromberg commented on #7156
What is listening on port 2380? The output of `lsof -i :2380` would help.

It sounds like Kubernetes may already be running on this machine, but minikube is unaware of it's existence. Also, what version of minikube is this?

[2020-03-23 14:39] tstromberg opened #7157 "The existing "minikube" VM was created using the "hyperv" driver, and is incompatible with the "hyperv" driver."
Talk about a confusing error message!

[code]

[2020-03-23 14:49] tstromberg commented on #7157
Looking at the code, this seems related to loading old VM's.

[2020-03-23 15:13] tstromberg commented on #7087
@prasadkatti - Yes. Thank you for noticing!

[2020-03-23 15:13] #7087 closed

[2020-03-23 15:23] gokulsood opened #7159 "vbox: create host timed out in 120.000000 seconds"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>
Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

PS C:\WINDOWS\system32> minikube start --vm-driver=virtualbox
* minikube v1.8.2 on Microsoft Windows 10 Enterprise 10.0.17763 Build 17763
* Using the virtualbox driver based on existing profile

! 'virtualbox' driver r

[2020-03-23 16:50] peterlin741 commented on #7126
Will retest when the new version of gcloud is released (pointing at the latest minikube)

[2020-03-23 17:03] ialidzhikov opened #7161 "Unable to override node-name: lookup minikube on x:53: no such host"
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>
[code]

</details>

**The operating system version**:
[code]

[2020-03-23 17:05] ialidzhikov commented on #7161
/kind bug

[2020-03-23 17:19] vpnachev commented on #7161
I believe this is related to #6200

[2020-03-23 17:22] ialidzhikov commented on #7161
I think the breaking change https://github.com/kubernetes/minikube/pull/6556 (`cmd/minikube/cmd/node_add.go`) (k/mininikube@v1.8.0).

[2020-03-23 18:19] ialidzhikov opened #7162 "minikube Node NotReady after upgrade: node "m01" not found"
**The exact command to reproduce the issue**:
1. I upgraded my minikube to v1.8.2

2. I started my existing minikube cluster with:
[code]

3. Then I got my node `NotReady`

[code]

[code]

Kubelet logs

[code]

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

[code]

</details>

**The operating system version**:

[2020-03-23 18:20] ialidzhikov commented on #7162
/kind bug

[2020-03-23 18:45] etanshaul opened #7163 ""Error configuring auth on host" on Windows with Docker driver"
Minikube 1.7.3. Still untested on latest version.

Command:
[code]

Error:
[code]

Full output:
[code]

[2020-03-23 18:45] etanshaul commented on #7163
deleting the cluster and trying again got past this issue.

[2020-03-23 19:02] medyagh commented on #7142
from None test logs
[code]

[2020-03-23 19:05] tstromberg commented on #7143
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
* Are you running any VPN software on this machine?

Thank you for sharing your experie

[2020-03-23 19:20] medyagh opened #7166 "improve message when docker is not installed for none"
when docker is not installed for none, instead of crashing, we could tell user nicely, please install docker
[code]

[2020-03-23 19:23] medyagh opened #7167 "extra space in OS release"
remove extra space in none OS release
[code]

[2020-03-23 19:28] medyagh opened #7168 "none driver: service fail exec: "xdg-open": executable file not found in $PATH"
on a brand new ubuntu 18.04
[code]

[2020-03-23 19:42] medyagh opened #7169 "none Driver: hostname "minikube" could not be reached"
on ubuntu 18.04
I confirmed our latest release works but HEAD is
[code]

[2020-03-23 19:45] medyagh commented on #7142
this seems to be related to https://github.com/kubernetes/minikube/issues/7169

[2020-03-23 19:50] afbjorklund commented on #7168
Supposed to be provided by `xdg-utils`, in any normal desktop environment...

https://github.com/pkg/browser/blob/master/browser_linux.go#L6

[2020-03-23 19:51] afbjorklund commented on #7168
I suppose you _could_ detect a broken desktop, and default to printing the URL ?

https://www.freedesktop.org/wiki/Software/xdg-utils/

[2020-03-23 19:52] afbjorklund commented on #7167
Where was the extra space ?

[2020-03-23 19:55] afbjorklund commented on #7167
You mean the one after the icon ? I thought it was added on purpose, in 1f48364487cc95f6921df555cdfba59a3ffcebd5

[2020-03-23 19:57] medyagh opened #7170 "TestFunctional/parallel/SSHCmd: "hello\n", want = "hello\r\n""
as seen in
https://storage.googleapis.com/minikube-builds/logs/7165/ba4e134/Docker_Linux.html#fail_TestFunctional%2fparallel%2fSSHCmd

also in https://storage.googleapis.com/minikube-builds/logs/7165/ba4e134/KVM_Linux.html#fail_TestFunctional%2fparallel%2fSSHCmd
[code]

[2020-03-23 19:59] medyagh opened #7171 "TestVersionUpgrade: bind: address already in use"
as seen in
https://storage.googleapis.com/minikube-builds/logs/7165/ba4e134/Docker_Linux.html#fail_TestVersionUpgrade

[code]

[2020-03-23 19:59] afbjorklund commented on #7166
I still think that this one is worse: https://github.com/kubernetes/minikube/issues/5549

[2020-03-23 20:05] medyagh opened #7172 "TestOffline/group/crio: "crio load image: sudo podman load -i /var/lib/minikube/images/storage-provisioner_v1.8.1: exit status 125""
As seen in https://storage.googleapis.com/minikube-builds/logs/7165/ba4e134/Docker_Linux.html#fail_TestOffline%2fgroup%2fcrio

[code]

[2020-03-23 21:00] afbjorklund commented on #7166
Possibly related to #6402

[2020-03-23 21:13] wfhartford opened #7175 "Request: Add startup status when transferring cached images"
I've recently started making use of the minikube image cache. When starting minikube, the startup stalls for a very long time at the following:

[code]
The first few times I encountered this, I though something had broken. It would be helpful to indicate to the user that progress is being made.

[2020-03-23 22:00] alimeerutech commented on #6143
@tstromberg I had the same issue and the docker driver worked for me
[code]

[2020-03-23 22:10] sharifelgamal opened #7179 "none driver integration tests: k8s 1.18 needs conntrack installed"
[code]

This only happens with Kubernetes 1.18.0-rc.1 currently. I suspect it'll be the same for all versions going forward.

`sudo apt install conntrack` will successfully install conntrack on our integration test machines.

`[ERROR FileExisting-conntrack]: conntrack not found in system path` is the error to regex on for a nice solution message

[2020-03-23 22:48] #6804 closed

[2020-03-23 23:00] #7157 closed

[2020-03-23 23:05] etanshaul opened #7181 "Feature request: add a flag to disable Minikube's update messaging"
Something like `minikube start --wantUpdateNotification=false`

Example:

[code]

For use-cases of driving Minikube from other tools - where the Minikube dependency is managed - it would be incredibly helpful to be able to pass in a flag to minikube to disable this update message, instead of setting a global config.

[2020-03-23 23:15] etanshaul commented on #7181
@tstromberg brought the `MINIKUBE_WANTUPDATENOTIFICATION` flag to my attention which would satisfy our use-case: https://minikube.sigs.k8s.io/docs/reference/environment_variables/

Will leave open for the team to decide if a this would be useful, still, as a flag.

[2020-03-23 23:28] cmxela commented on #6912
I'm having exactly the same problem with Fedora 31, in my case I have

Host: Fedora 31
Kernel: 5.5.7-200.fc31.x86_64
Cuda Drivers Host: 10.2
Nvidia Driver Host: Driver Version: 440.64

GPUs:

GeForce GT 710 (host GPU nvidia driver)
2 Geforce 1080TI (vfio-pci driver assigned)

[2020-03-23 23:30] tstromberg commented on #5594
I ran into this today, and strangely enough, re-running minikube got past the issue. This was with `hyperkit: v0.20190802-4-g97f091`.

[2020-03-23 23:52] #7170 closed

[2020-03-24 00:50] #7179 closed

[2020-03-24 01:01] medyagh opened #7184 "KVM: TestStartStopWithPreload"
as seen here:

https://storage.googleapis.com/minikube-builds/logs/7165/ba4e134/KVM_Linux.html#fail_TestStartStopWithPreload

[2020-03-24 01:01] medyagh commented on #7184
CC: @priyawadhwa

[2020-03-24 01:29] medyagh opened #7185 "install conntrack on integration machines"
needed for none driver

closes https://github.com/kubernetes/minikube/issues/7185

[2020-03-24 02:19] medyagh opened #7187 "KicRunner is broken"
while doing this PR https://github.com/kubernetes/minikube/pull/7173
I added some logging and turns out docker ListContainers always exists with no containrs.

func (r *Docker) ListContainers(

[code]

# Update:
the issue is bigger than list containers
I added the following code on the HEAD:
[code]

the output is :
[code]

[2020-03-24 03:38] tstromberg commented on #7187
Is it possible there is machine-name / container-name confusion from multi-node?

[2020-03-24 03:39] medyagh commented on #7187
found the root cause

[2020-03-24 03:41] medyagh commented on #7187
it was that init was setting kic runner to be Nil

[2020-03-24 03:43] medyagh opened #7188 "Run StopContainers in parallel"
[code]

[2020-03-24 03:46] tstromberg commented on #7188
do you mind commenting as to why this should be important-soon?

It personally seems unlikely to me to benefit much in the way of user-visible impact.

[2020-03-24 03:54] #7150 closed

[2020-03-24 04:26] sharifelgamal commented on #7169
This is fixed with #7141

[2020-03-24 04:26] #7169 closed

[2020-03-24 04:28] sharifelgamal commented on #7142
none tests are not in good shape thanks to #7141 and #7180

[2020-03-24 04:28] #7142 closed

[2020-03-24 05:54] tstromberg commented on #5392
Huzzah - WSL2 support works at head, with some caveats!

I did some experimentation today with minikube on WSL2 (Ubuntu), specifically with `--driver=docker`. It gets very close. Once I got docker working, minikube gave this error, mentioned on this thread:

`cgroups: cannot find cgroup mount destination: unknown.`

I found a solution for this issue at https://github.com/microsoft/WSL/issues/4189#

[2020-03-24 05:58] tstromberg commented on #5392
![Annotation 2020-03-23 225806](https://user-images.githubusercontent.com/101424/77393245-dd449e00-6d59-11ea-9bba-7158f65dfdc7.png)

[2020-03-24 06:00] medyagh opened #7190 "none: TestVersionUpgrade 'exit 0' : driver does not support ssh command"
as seen in Two PRs:

https://storage.googleapis.com/minikube-builds/logs/7182/3c37556/none_Linux.html#fail_TestVersionUpgrade

and

https://storage.googleapis.com/minikube-builds/logs/7173/aec6fdc/none_Linux.html#fail_TestVersionUpgrade

[2020-03-24 06:01] #7172 closed

[2020-03-24 06:56] medyagh opened #7191 "TestAddons/parallel/Registry consistent docker failure: GET http://127.0.0.1:5000 giving up after 5 attempts"
as seen here
https://storage.googleapis.com/minikube-builds/logs/7173/67bd258/Docker_Linux.html#fail_TestAddons%2fparallel%2fRegistry

[code]

[2020-03-24 06:57] medyagh opened #7192 "TestFunctional/serial/MinikubeKubectlCmd: There is no local cluster named "minikube""
as seen here  for docker driver
https://storage.googleapis.com/minikube-builds/logs/7173/67bd258/Docker_Linux.html#fail_TestFunctional%2fserial%2fMinikubeKubectlCmd

and here for virtualbox
https://storage.googleapis.com/minikube-builds/logs/7202/0478f2d/VirtualBox_Linux.html#fail_TestFunctional%2fserial%2fMinikubeKubectlCmd

[2020-03-24 06:59] medyagh opened #7193 "Docker flake: Unable to get machine status: state: inspect <profile> timeout"
as seen here https://storage.googleapis.com/minikube-builds/logs/7173/67bd258/Docker_Linux.html#fail_TestFunctional%2fparallel%2fUpdateContextCmd

[2020-03-24 07:21] medyagh opened #7194 "TestStartStop/group/old-docker: calculate hash for cacert: Expecting: TRUSTED CERTIFICATE"
this one fails consistantly

also https://storage.googleapis.com/minikube-builds/logs/7196/653fac4/Docker_Linux.html#fail_TestStartStop%2fgroup%2fold-docker

[code]

The error message seems to be same as the other one
https://github.com/kubernetes/minikube/issues/7190

but it is _not_ same as the other Flake old-docker which is about CA Cert  https://github.com/kubernetes/minikube/issues/7200

[2020-03-24 07:35] sashiakula commented on #6895
minikube start --driver=hyperv
* minikube v1.8.2 on Microsoft Windows 10 Enterprise 10.0.18363 Build 18363
* Using the hyperv driver based on existing profile
* Creating hyperv VM (CPUs=2, Memory=4000MB, Disk=20000MB) ...
*
X Unable to start VM. Please investigate and run 'minikube delete' if possible: creating host: create host timed out in 120.000000 seconds
*
* minikube is exiting due to an err

[2020-03-24 07:40] medyagh commented on #7190
similar to errors in https://github.com/kubernetes/minikube/issues/7194

[2020-03-24 07:46] medyagh opened #7195 "none failing test : TestDownloadOnly/docker/v1.18.0-rc.1 -"
as seen in https://storage.googleapis.com/minikube-builds/logs/7173/67bd258/none_Linux.html#fail_TestDownloadOnly%2fdocker%2fv1.18.0-rc.1

[2020-03-24 07:51] medyagh opened #7197 "TestAddons/parallel/HelmTiller: unable to do port forwarding: socat not found"
as seen in https://storage.googleapis.com/minikube-builds/logs/7173/67bd258/none_Linux.html#fail_TestAddons%2fparallel%2fHelmTiller
or here
https://storage.googleapis.com/minikube-builds/logs/7202/0478f2d/none_Linux.html#fail_TestAddons%2fparallel%2fHelmTiller

[code]

[2020-03-24 10:21] xiangwangcheng commented on #5860
`$ minikube start --vm-driver=virtualbox --registry-mirror=https://registry.docker-cn.com --image-mirror-country=cn --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers
`
occured error
![image](https://user-images.githubusercontent.com/8049014/77414549-306f2d00-6dfc-11ea-9639-18c3eb844e4f.png)

[2020-03-24 10:33] xiangwangcheng commented on #5860
It worked when i deleted `--image-mirror-country=cn`

[2020-03-24 11:40] akshayyverma opened #7199 "hyperv: The requested operation requires elevation."
I ran following command on cmd-
minikube start --vm-driver=hyperv --force

GETTING FOLLOWING ERRORS.

! 'hyperv' driver reported an issue: C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe Get-WindowsOptionalFeature -FeatureName Microsoft-Hyper-V-All -Online failed:
Get-WindowsOptionalFeature : The requested operation requires elevation.
At line:1 char:1
+ Get-WindowsOptionalFeature -Featu

[2020-03-24 12:22] dylmye commented on #5020
@davidbonachera would you be able to help with this? I've got no free time for the foreseeable future unfortunately.

/remove-lifecycle stale as @medyagh has described this as [important](https://github.com/kubernetes/minikube/issues/5020#issuecomment-566270221).

[2020-03-24 12:29] medyagh opened #7200 "Flake: Failed to setup certs: certificate symlinks: calculate hash for cacert"
TestStartStop/group/old-docker  :

[code]

as seen in
https://storage.googleapis.com/minikube-builds/logs/7173/67bd258/Docker_Linux.html#fail_TestStartStop%2fgroup%2fold-docker

[2020-03-24 12:42] #7195 closed

[2020-03-24 12:42] #7187 closed

[2020-03-24 12:44] garimagupta779 opened #7201 "X Unable to start VM. Please investigate and run 'minikube delete' if possible: creating host: create host timed out in 120.000000 seconds"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-24 12:47] JuergenSimon commented on #7072
To shed more light on this (perhaps for the next person who runs into this): I had at some point some VPN called 'Windscribe' installed. As it turned out it installed startup items  in /Library, not in the user's ~/Library or in it's own application wrapper. When i scoured the process list, I discovered that it was still starting some kind of daemon! After erasing every last trace of this insidiou

[2020-03-24 13:22] irizzant commented on #6584
@boonen thank you for your answer. I know that manually creating the Service fixes the problem.
I think that the Service should be automatically created when ingress controller extension is enabled though

[2020-03-24 14:21] medyagh commented on #7184
as seen here too https://storage.googleapis.com/minikube-builds/logs/7202/0478f2d/KVM_Linux.html#fail_TestStartStopWithPreload

[2020-03-24 14:39] garimagupta779 opened #7204 "X Unable to start VM: host remove: Failed to find the VM status"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-24 15:30] tstromberg commented on #6716
If someone runs into this, could they confirm whether this workaround works for them:

`minikube start --iso-url=https://storage.googleapis.com/minikube/iso/minikube-v1.7.0.iso`

This would help us isolate which component is failing. This is sounding eerily similar to a bug we fixed in 2019 by adding `random.trust_cpu=on hw_rng_model=virtio` to the boot options: https://github.com/kubernetes/minik

[2020-03-24 15:38] jk2K commented on #5860
it's a bug, see https://github.com/kubernetes/minikube/issues/7052

[2020-03-24 15:46] tstromberg commented on #6716
There will be an ISO with `HW_RANDOM_VIRTIO=y` available later today for testing.

[2020-03-24 16:18] afbjorklund commented on #6716
You should be able to check, in `/proc/sys/kernel/random/entropy_avail`

[2020-03-24 16:30] garimagupta779 opened #7207 "3849"

[2020-03-24 17:07] garimagupta779 commented on #3849
Not working

[2020-03-24 17:39] priyawadhwa commented on #7184
This seems to be the preload error:

[code]

so something is broken on restart

and minikube actually fails because of a coredns error:

[code]

[2020-03-24 17:41] tstromberg commented on #5072
I think we should be able to close this once v1.9 is released, given the improvements to hyper-v deletion. The rest of the major issues seem sorted out.

That is not to say that Windows support is completely bug-free or as well tested as other platforms, but that we should track those issues with a finer granularity.

[2020-03-24 17:57] tstromberg commented on #6716
If anyone has time, I would love end-user feedback on if the new ISO addresses the issue for you, particularly if you are a kvm2 or hyperkit user. To try it:

`minikube start --driver=kvm2 --iso-url=http://storage.googleapis.com/minikube-builds/iso/HW_RANDOM_VIRTIO_7208.iso`

[2020-03-24 18:41] rlanting commented on #6716
`[    2.849350] random: crng init done`

There is literally no downtime anymore between "creating kvm2 VM" and "Preparing Kubernetes" anymore. `$ cat /sys/devices/virtual/misc/hw_random` also says it's using virtio.

Awesome work, ship it!

[2020-03-24 18:48] linkvt commented on #6126
Seems that the user deleted his account, the PR had also no activity despite it seems to be fixed. /assign

[2020-03-24 19:00] linkvt commented on #6126
/remove-lifecycle stale

[2020-03-24 19:01] linkvt commented on #6126
/assign

[2020-03-24 19:14] tstromberg commented on #7201
Do you mind checking if this command-line from #6716 fixes it for you?

`minikube start --iso-url=http://storage.googleapis.com/minikube-builds/iso/HW_RANDOM_VIRTIO_7208.iso`

[2020-03-24 19:23] afbjorklund commented on #7167
Can someone with a Mac verify this ? i.e. if the text above looks OK, when viewed in terminal

These are the emoji with an extra space after them:
[code]

We might need to have some platform-specific flag, whether to add extra space or not ?

[2020-03-24 19:53] sharifelgamal commented on #7167
dry-run looks correct on mac:
<img width="452" alt="Screen Shot 2020-03-24 at 12 45 22 PM" src="https://user-images.githubusercontent.com/20781941/77470326-ba53d180-6dcd-11ea-9765-319340da2c3d.png">

I'm thinking DryRun and Issues are going to need platform specific entries.

Provisioner is only used with the none-driver, so what it looks like on mac isn't relevant, which means this PR is correct.

[2020-03-24 21:09] tstromberg opened #7215 "Factor in --interactive flag value in driver autodetection"
Some drivers may require an interactive installation. The driver detection should take this into account.

[2020-03-24 21:11] tstromberg opened #7216 "Fall-through to next driver if host creation fails"
On some systems, the preferable driver may be broken in a way that we are unable to detect until host creation.

If cluster creation fails, due to permissions issues for instance, we should delete the cluster and fall through to the next driver.

[2020-03-24 21:21] richterdavid opened #7217 "docker driver page missing usage instructions"
https://minikube.sigs.k8s.io/docs/reference/drivers/docker/ lacks a number of sections found in, e.g., https://minikube.sigs.k8s.io/docs/reference/drivers/kvm2/, particularly the Usage section.

[2020-03-24 21:47] gattytto opened #7218 "storage provisioner in v1.9.0-beta.2: Object: readObjectFieldAsBytes: expect : after object field,"
basically same setup as always, running inside LXC container with following command:
[code]

when starting the usual chectl server:start, the che-operator deploys and starts applying some pods yamls to the cluster, first one of them is postgres sql database which requires persistentVolume in tmp/hostpath-... for userdata/ folder.
kubectl get events -Aw:
[code]

version (head):
minikube version: v1

[2020-03-24 22:06] tstromberg commented on #7218
This error message in particular is troubling:

`* E0324 21:24:57.751780       1 reflector.go:205] k8s.io/minikube/vendor/github.com/r2d4/external-storage/lib/controller/controller.go:411: Failed to list *v1.PersistentVolumeClaim: v1.PersistentVolumeClaimList: Items: []v1.PersistentVolumeClaim: v1.PersistentVolumeClaim: ObjectMeta: v1.ObjectMeta: readObjectFieldAsBytes: expect : after object field

[2020-03-24 23:24] #7084 closed

[2020-03-24 23:28] medyagh commented on #7185
This was done.

[2020-03-24 23:28] #7185 closed

[2020-03-24 23:28] #7171 closed

[2020-03-24 23:29] medyagh commented on #7171
I merged the PR for this but I believe we will still have this error till next release. Because latest stable release has bad stop code that was fixed in head

[2020-03-24 23:45] gattytto commented on #7218
[code]

[2020-03-24 23:47] gattytto commented on #7218
and the one before that is:
[code]

[2020-03-25 00:05] medyagh commented on #7216
I like this idea !

[2020-03-25 01:22] ChuckLinQ opened #7222 "Unable to connect to the server: dial tcp: lookup kubernetes.docker.internal: no such host"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2020-03-25 03:18] sashiakula opened #7223 "Failed to pull image "k8s.gcr.io/echoserver:1.10""
I have installed minikube in my Windows 10 and started it

**C:\Program Files\Kubernetes\Minikube>minikube start --vm-driver hyperv --hyperv-virtual-switch "My Virtual Switch"**

The above command gives the below output and my cluster started successfully. But there are 2 warnings as bold below:

   minikube v1.8.2 on Microsoft Windows 10 Enterprise 10.0.18363 Build 18363
Using the hyperv driver b

[2020-03-25 03:26] medyagh opened #7224 "minikube not respecting vm-driver flag if existing profile"
this is on 1.8.2 I am not sure if this has been fixed on HEAD but I create a bug so I dont forget about it
[code]

[2020-03-25 03:45] kameshsampath commented on #4604
@tstromberg  - I think this issue has popped up again with 1.8.2,  after applying the `registry-aliases` addon or https://github.com/kubernetes/minikube/tree/master/deploy/addons/registry-aliases, then tying to push image from within a pod fails with 404 :(. Any thoughts ?

[2020-03-25 03:50] jk2K commented on #5815
[code]

if you got below error
[code]

problem reason maybe related to https://github.com/kubernetes/minikube/issues/3036

you can check if the machine has the software that listens port 53

if yes, please stop the software, then restart minikube cluster

[2020-03-25 05:37] #6126 closed

[2020-03-25 06:41] afbjorklund commented on #7224
Think this is the same as #7091 (and fixed)

[2020-03-25 07:00] afbjorklund commented on #7218
Looks like it has parsing issues with complex objects

[2020-03-25 07:12] gattytto commented on #7218
Yes previous stable minikube version worked just fine @afbjorklund

[2020-03-25 07:14] medyagh commented on #7217
Thanks for creating this issue. it is time for adding proper docs for docker driver

[2020-03-25 07:21] #6958 closed

[2020-03-25 07:42] medyagh opened #7226 "download only waits 18 seconds even if everything downloaded"
to reproduce.

[code]

(now it it should have nothing to download anymore lets run it again)

[code]

[code]

[2020-03-25 07:57] medyagh opened #7227 "💣 Failed to update cluster: preloading: not yet implemented for containerd"
my bad I approved and merged this PR without looking at the containerd Test
this seems to be the line:

https://github.com/kubernetes/minikube/pull/7210/files#diff-fb1a98aa9faed8065953a5fbb1a92e8fR533

this should be an easy fix.

[code]

[2020-03-25 11:50] eoinreilly93 opened #7229 "Warning: VM is unable to access k8s.gcr.io"
I am trying to install the latest version of minikube (1.8.2) locally on my Windows 10 machine, so that I bring across the cache folder to my corporate network that has no access to the internet, so we can install it there. It appears to have installed correctly but I see the warning message

 I have seen a few other open issues regarding this, but they seem to be issues with users running in Chin

[2020-03-25 12:24] #7227 closed

[2020-03-25 12:28] tstromberg commented on #7229
The good news is that it's just a warning that something unusual is going on which may prevent you from pulling a new image in the future. minikube should have all that it needs to function offline.

It is a bit curious though that you were able to use `curl`: was that from within the minikube VM, or on your host?

This comes up often enough that I nominate it as needing a FAQ entry.

[2020-03-25 12:31] tstromberg commented on #7223
Your VM does not appear to have access to the internet. Any idea why that may be?

Is your machine running in a corporate environment where a proxy may need to be configured? https://minikube.sigs.k8s.io/docs/reference/networking/proxy/

[2020-03-25 12:34] eoinreilly93 commented on #7229
That's great, thanks for the quick response!

I ran that curl command from my host machine.

Would it be possible to update the information located here: https://minikube.sigs.k8s.io/docs/reference/disk_cache/ ?

The reason I was unsure if all the images had downloaded correctly was that my `cache` directory structure looks slightly different to this, so I wasn't sure if it had downloaded everythi

[2020-03-25 13:04] JuliusTZM commented on #6716
The solution from  tstromberg seems to be working! Thanks man!

[2020-03-25 13:12] tstromberg commented on #6716
This will be fixed by the v1.9.0 release going out later today.

[2020-03-25 13:21] tstromberg commented on #7222
minikube does not provide a `kubernetes.docker.internal` hostname. I believe you may be using this instead:

https://www.docker.com/products/docker-desktop

[2020-03-25 13:21] #7222 closed

[2020-03-25 13:24] tstromberg commented on #7218
My theory is this may be related to an API change in Kubernetes v1.18 and the storage-provisioner using an older API version.

gattytto@ - do you mind checking if this works with minikube v1.9.0-beta.2 and Kubernetes v1.17.3? I don't have a way to replicate your deployment.

[2020-03-25 13:25] tstromberg commented on #7207
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-03-25 13:25] tstromberg commented on #7204
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.

Thank you for sharing your experience!

[2020-03-25 13:50] #6631 closed

[2020-03-25 13:51] tstromberg commented on #6631
Closed, as this creation behavior no longer occurs in minikube v1.7.

[2020-03-25 14:42] YarekTyshchenko commented on #6211
[code]

[2020-03-25 15:13] tstromberg commented on #7199
Did you try to start `Start PowerShell as Administrator`?

[2020-03-25 15:31] akshayyverma commented on #7199
Yes, I start Start PowerShell as Administrator.

[2020-03-25 17:00] rohit94j opened #7231 "! VM is unable to access k8s.gcr.io, you may need to configure a proxy or set --image-repository"
Hi there,

i am getting below error while executing minikube.exe start . Below is the complete output.

C:\Kubernetes>minikube.exe start
* minikube v1.8.2 on Microsoft Windows 10 Home Single Language 10.0.18362 Build 18362
* Automatically selected the virtualbox driver
* Creating virtualbox VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...
! VM is unable to access k8s.gcr.io, you may need to configure

[2020-03-25 17:15] #7207 closed

[2020-03-25 17:17] priyawadhwa commented on #7184
Can be closed by #7210

[2020-03-25 17:17] #7184 closed

[2020-03-25 17:19] priyawadhwa commented on #7175
Hey @wfhartford -- thanks for opening this issue. Could you provide the output of:

[code]

so that we can see exactly where minikube is stalling? Thanks!

[2020-03-25 17:19] priyawadhwa commented on #7163
Hey @etanshaul did deleting and trying again resolve the issue?

[2020-03-25 17:21] tstromberg commented on #7197
Seen here as well: https://storage.googleapis.com/minikube-builds/logs/7219/06dca45/none_Linux.html#fail_TestAddons%2fparallel%2fHelmTiller

E0324 23:22:32.829332       1 portforward.go:400] an error occurred forwarding 34297 -> 44134: error forwarding port 44134 to pod a6a840c5d481209d7cb332b732b966c0ec21c02ee12d1fd0909c4df4223cc708, uid : unable to do port forwarding: socat not found

It looks l

[2020-03-25 17:23] etanshaul commented on #7163
hi @priyawadhwa yes. I believe delete solved it. Figured I'd report it still to see if anything jumps out at you that may be done to prevent it outright.

For our use-case where Minikube will be driven by the IDE, it makes for a bit of a rough experience if the user has to delete the cluster to get around issues (and the fact that the IDE uses a custom profile makes it even more difficult).

[2020-03-25 17:24] priyawadhwa commented on #7159
Hey @gokulsood, what version of VirtualBox are you running?

If possible, could you try upgrading to the latest version of VirtualBox, and see if that resolves the issue?

[2020-03-25 17:29] etanshaul commented on #7163
wdyt about having a mode where Minikube will automatically try to delete the cluster (plus whatever else might be relevant) and try again when certain types of errors occur? This of course would be off by default and enabled via a flag.

[2020-03-25 17:35] tstromberg commented on #7161
I  assumed this was fixed at  head, but there does seem to be some other issue:

[code]

[2020-03-25 17:37] priyawadhwa commented on #7154
Hey @dileepdevops -- I believe this issue is a duplicate of #7201, so I'm going to close this issue and consolidate there.

Could you also check  if this command-line from #6716 fixes it for you?

`minikube start --iso-url=http://storage.googleapis.com/minikube-builds/iso/HW_RANDOM_VIRTIO_7208.iso`

If not, please comment in #7201. Thank you!

[2020-03-25 17:37] #7154 closed

[2020-03-25 17:40] priyawadhwa commented on #7148
Hey @stevenbill --

could you provide the output of:

[code]

And, if you run:

[code]

does that resolve the issue?

[2020-03-25 17:40] priyawadhwa commented on #7147
Hey @stevenbill I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

 * The full output of `minikube logs`
* The full output of `kubectl get po -A`

Thank you for sharing your experience!

[2020-03-25 17:41] tstromberg commented on #7162
Do you mind checking if the latest v1.9  beta fixes the issue?

I believe in v1.8.2 we renamed the node name,  but failed to take into account older configurations.

[2020-03-25 17:44] priyawadhwa commented on #7144
Hey @DotNet-Ninja @Larswa -- I merged #7082 which should fix this bug. It was released in [v1.9.0-beta.1](https://github.com/kubernetes/minikube/releases/tag/v1.9.0-beta.1)

Would you mind upgrading to any version of minikube >= v1.9.0-beta.1 and seeing if that resolves this issue?

[2020-03-25 17:45] tstromberg commented on #7151
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details?

[2020-03-25 17:46] #7127 closed

[2020-03-25 17:46] tstromberg commented on #7127
Fixed at head, will be part  of v1.9 release.

[2020-03-25 17:50] priyawadhwa commented on #7167
Closing, as this seems to have been resolved by #7214

[2020-03-25 17:51] tstromberg commented on #5930
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-03-25 17:51] #5930 closed

[2020-03-25 17:58] tstromberg opened #7233 "start: Add flag to signify that it's OK to delete broken clusters"
Exact flag name TBD, but for embedded use cases, it isn't as important to preserve user data as it is to guarantee that a cluster is created somehow.

We tried this as a default in v1.5, but users did not like the behavior.

[2020-03-25 17:59] tstromberg commented on #7163
@etanshaul - I've been thinking the same. I've added https://github.com/kubernetes/minikube/issues/7233

[2020-03-25 18:00] #7163 closed

[2020-03-25 18:12] sharifelgamal commented on #6104
@kmcdon03 could you provide the output of

`minikube start --vm-driver hyperv --alsologtostderr -v=1`

that will give us more logs to go on.

[2020-03-25 18:12] priyawadhwa commented on #6650
Hello. I'm going to close this as some time has passed.

If you try running:

[code]

and it doesn't work, please reopen at any time by including /reopen in your comment.

你好。随着时间的流逝，我将关闭此功能。

如果尝试运行：

[code]

而且它不起作用，请随时在评论中加入/ reopen来重新打开。

[2020-03-25 18:12] #6650 closed

[2020-03-25 18:13] sharifelgamal commented on #6288
@engaugusto have you tried using a newer version of minikube? we believe this should be fixed now.

[2020-03-25 18:13] priyawadhwa commented on #6838
Hey @ajaykatke2005 ,

Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `miniku

[2020-03-25 18:13] #6838 closed

[2020-03-25 18:13] sharifelgamal commented on #6384
@kube-user2010 do you still need help here?

[2020-03-25 18:13] tstromberg commented on #6649
This one is a bit troublesome because of the `Reconfiguring existing host ...` issue that shows that we know Kubernetes is running already. I'll see if I can improve this.

[2020-03-25 18:15] tstromberg commented on #6649
This issue appears to be a duplicate of #6245, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-03-25 18:15] #6649 closed

[2020-03-25 18:16] tstromberg commented on #6709
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-03-25 18:16] #6709 closed

[2020-03-25 18:16] priyawadhwa commented on #7167
Whoops, reopening as #7214 wasn't merged

[2020-03-25 18:17] sharifelgamal commented on #6468
There seems to be a solution here, so I'm going to go ahead and close this issue for now. Feel free to reopen if you need any more assistance.

[2020-03-25 18:17] #6468 closed

[2020-03-25 18:17] tstromberg commented on #6729
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-03-25 18:17] #6729 closed

[2020-03-25 18:17] priyawadhwa commented on #6658
Hey @dbecher-ito, just a friendly ping in case you're still trying to accomplish this.

[2020-03-25 18:18] priyawadhwa commented on #6426
Hey @imaskm are you still seeing this issue?

[2020-03-25 18:20] etanshaul commented on #7233
do you think it would make sense to also retry the command once (e.g `minikube start -p []`) after deleting the cluster?

[2020-03-25 18:20] sharifelgamal commented on #6576
@zirpu do you still need help here?

[2020-03-25 18:20] priyawadhwa commented on #6254
Hey @gastongutierrez  -- could you try:

1. Upgrading to the latest version of minikube
1. Running `minikube delete --all`
1. Running `minikube start --alsologtostderr`

and see if that resolves the issue? Thank you!

[2020-03-25 18:21] sharifelgamal commented on #6596
@rafal0502 do you still need help here?

[2020-03-25 18:23] sharifelgamal commented on #6640
This should be fixed in the latest version of minikube, starting with 1.8. I'll go ahead and close this, feel free to reopen if it continues to be a problem.

[2020-03-25 18:23] #6640 closed

[2020-03-25 18:25] sharifelgamal commented on #6704
@qasim683 do you still need help here? have you tried with a newer minikube version?

[2020-03-25 18:26] zirpu commented on #6576
@sharifelgamal No.  I'll close this.  1.8.2 starts the dashboard now.  thanks.

[2020-03-25 18:26] #6576 closed

[2020-03-25 18:26] sharifelgamal commented on #6728
Hey @vishalgarg85  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikube

[2020-03-25 18:26] #6728 closed

[2020-03-25 18:26] sharifelgamal commented on #6732
@ukreddy-erwin do you still need help here?

[2020-03-25 18:29] gattytto commented on #7218
@tstromberg this is a copy I make from the cached files for reinstalling, last version it worked on and the current (beta) I’m testing ![image](https://user-images.githubusercontent.com/407397/77572167-4688f600-6ead-11ea-8e2b-6712783e01a1.png)

[2020-03-25 18:31] sharifelgamal commented on #6676
@charlielj88 do you still need help here?

[2020-03-25 18:33] priyawadhwa commented on #7106
Hey @ramesh-kumarjha I tried to reproduce the error at HEAD by running:

[code]

where service.yaml is:

[code]

and then running:

[code]

which worked as expected with the hyperkit driver on mac OS.

Could you try upgrading to the latest version of minikube and provide:

* What operating system you're running on
* What driver you're using with minikube
* The output of `kubectl get svc -A`

[2020-03-25 18:34] tstromberg commented on #7156
This issue appears to be a duplicate of #6425, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-03-25 18:34] #7156 closed

[2020-03-25 18:35] tstromberg commented on #6976
This issue appears to be a duplicate of #6425 - do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-03-25 18:35] #6976 closed

[2020-03-25 18:35] priyawadhwa commented on #6770
@alewis001 thanks for your response! I'm going to go ahead and close this issue as it seems to have been resolved in v1.9.0

[2020-03-25 18:35] #6770 closed

[2020-03-25 18:44] priyawadhwa commented on #7146
Hey @stevenbill, I see this log:

[code]

we removed the addon manager a few releases ago. What version of minikube are you running? If it's lower than 1.9, could you try upgrading and see if that resolves this issue?

[2020-03-25 18:49] priyawadhwa commented on #7074
Hey @SamarGooda -- any update here?

[2020-03-25 18:51] priyawadhwa commented on #6982
Hey @tliron awesome. We should update the documentation to include that workaround when trying to use the registry addon with cri-o.

[2020-03-25 19:09] tstromberg commented on #6312
I'm working on a fix for this, which resets clusters that are in a bad state.

[2020-03-25 19:23] afbjorklund commented on #7226
There is not so much happening in the code, so maybe it waiting for the daemon to respond ?

[code]

The "save images" is not supposed to do much, unless the user has added extra images...

[2020-03-25 19:29] gattytto commented on #7218
Adding —Kubernetes-version v1.17.3 using minikube beta2 gives the same error around the storage “pod has unbound immediate...”

[2020-03-25 19:35] #7197 closed

[2020-03-25 19:54] #7128 closed

[2020-03-25 20:01] afbjorklund commented on #7226
@medyagh : I'm getting a `gcr.io/k8s-minikube/kicbase:v0.0.8@<none>` response.

So it decides to pull the image again, and particularly write it to disk all over again...

[2020-03-25 20:06] engaugusto commented on #6288
Thanks a lot , i just installed the last version and it work like a charm !!
Thanks @tstromberg  and @sharifelgamal

[2020-03-25 20:06] #6288 closed

[2020-03-25 20:16] afbjorklund commented on #7226
It's only set after downloading from a repo:

[code]

It's a known issue with Docker. (here 19.03.8)

[2020-03-25 20:18] wfhartford commented on #7175
Attaching the requested output:
[minikube-start-logs.txt](https://github.com/kubernetes/minikube/files/4383292/minikube-start-logs.txt)

In this log you can see that the time between these two lines is about 5 minutes.
[code]
Without the stderr logs, there is no clear indication as to what is taking so long. Once we realise that this delay is required to pre-load the docker image cache, the durati

[2020-03-25 21:38] Larswa commented on #7144
Hi @priyawadhwa   I can confirm that works. Thanks!

[2020-03-25 21:41] priyawadhwa commented on #7144
Great, I'll go ahead and close this issue then.

[2020-03-25 21:41] #7144 closed

[2020-03-25 21:51] prasadkatti commented on #5753
/assign

[2020-03-25 22:18] #7167 closed

[2020-03-25 22:24] #7161 closed

[2020-03-25 22:24] afbjorklund commented on #7226
Added a `docker pull` as a workaround, before we can write it with Ref instead of Tag...

Once that has been added to the go-containerregistry API, the workaround can be removed.

Also added some verbose logging, so you can see what happens:

[code]

Now reloads in < 1 second, instead of 2 min 15 seconds like before.

[2020-03-25 22:59] #7192 closed

[2020-03-25 23:33] tstromberg commented on #7190
Root issue: #4132

[2020-03-26 00:48] ukreddy-erwin commented on #6732
Minikube... Is not working for latest version of virtualbox windows

Thanks and Regards,
Uday Kiran Reddy
Senior Build and Release Engineer
+91-9581226333
Email: ukreddy@erwin.com

________________________________
From: Sharif Elgamal <notifications@github.com>
Sent: Wednesday, March 25, 2020 11:57:08 PM
To: kubernetes/minikube <minikube@noreply.github.com>
Cc: Uday Kiran Reddy <ukreddy@erwin.com>

[2020-03-26 00:50] sharifelgamal commented on #6732
This issue was a problem with hyper-v. What issues are you experiencing with virtualbox?

[2020-03-26 01:16] CharlieReitzel commented on #1523
I uninstalled minikube, which ran without complaint (Windows 10, uninstaller).  But it left behind the virtual disk, which was consuming 20GB of disk space.   So I manually deleted the minikube VM (`Remove-VM minikube`) and got the disk space back.  So that's good.  But, now, when I try to delete C:\Users\%USERNAME%\.minikube directory, there is still an orphan snapshot left behind:

{code}
C:\Use

[2020-03-26 01:26] tliron commented on #6982
@priyawadhwa Thanks, but it's an awkward solution. The problem is that users would have to update all their specs to use this varying IP address. I hope we can find a way to enable `localhost:5000` for CRI-O (which, we hope, will become minikube's default runtime).

[2020-03-26 01:57] #6425 closed

[2020-03-26 04:16] DotNet-Ninja commented on #7144
I can also confirm that does seem to fix the issue. Thanks!

[code]

[code]

[2020-03-26 04:26] tstromberg opened #7246 "ControlPlane IP changes make cluster restarts less reliable"
While doing testing of Kubernetes upgrades since v1.18, I noticed that:

* Clusters no longer come up naturally if the VM IP changes
* Upgrades no longer operate as smoothly if the VM IP changes

Eventually the cluster does come up, but only once all of the control plane services go into a crash loop.

[2020-03-26 04:57] tstromberg commented on #6367
Recent refactors make this trivial to add:

https://github.com/kubernetes/minikube/blob/095ccbe562d78fe8aa2fcd9239e2d0ab3b9c8cff/pkg/minikube/bootstrapper/certs.go#L192

[2020-03-26 05:00] tstromberg commented on #6800
I'm going to close this until I see strong rationale as to why this approach is more secure and usable than a VPN or SSH tunnel.

[2020-03-26 05:00] #6800 closed

[2020-03-26 05:13] ukreddy-erwin commented on #6732
I am having issue with Hyper-v, so uninstalled Hype-v and installe virtualbox latest version.
It is not starting the minikube cluster, simply getting hung up.

So, uninstalled and installed an older version of virtulabox, there it is working

From: Sharif Elgamal <notifications@github.com>
Sent: Thursday, March 26, 2020 6:21 AM
To: kubernetes/minikube <minikube@noreply.github.com>
Cc: Uday Kiran R

[2020-03-26 05:13] ukreddy-erwin commented on #6732
with hyper-v still same issue even with run as admin

[2020-03-26 06:15] eReGeBe commented on #6537
It's still an issue for me. Here's the output that @tstromberg asked for:

[code]

[2020-03-26 06:21] medyagh opened #7251 "Mac OS CI machines cant talk to gcloud"
as seen in jenkins

[code]

[2020-03-26 08:15] anubhabMajumdar commented on #6751
/assign

[2020-03-26 09:29] quickbooks2018 commented on #3077
Hi there, I provided the solution in mentioned below, kindly have a look. thanks

https://www.youtube.com/watch?v=MNM1GZpuUPw&feature=youtu.be

[2020-03-26 09:38] eoinreilly93 opened #7254 "none: cache images to local daemon if running instead of as tarballs on machine"
I am trying to install Minikube 1.8.2 on a work machine that has has no access to the internet. To do this, I installed minikube locally on my Windows 10 laptop which worked fine except for this warning message I received about not being able to access 'k8s.gcr.io', but I was told in [this ticket](https://github.com/kubernetes/minikube/issues/7229) I raised that that is should not cause any issues

[2020-03-26 13:16] TroubleConsultant opened #7256 "dashboard: The ClusterRoleBinding "kubernetes-dashboard" is invalid: cannot change roleRef"
**The exact command to reproduce the issue**:
minikube dashboard

**The full output of the command that failed**:

[code]

**The output of the `minikube logs` command**:<details>
==> Docker <==
-- Logs begin at Tue 2020-03-24 21:08:21 UTC, end at Thu 2020-03-26 13:08:12 UTC. --
Mar 25 17:17:28 minikube dockerd[2122]: time="2020-03-25T17:17:28.656372059Z" level=info msg="shim reaped" id=b607449315c

[2020-03-26 13:19] TroubleConsultant commented on #7256
Note: paths in the sudo command don't appear to be correct. There is no "/var/lib/minikube" so no kubectl can be on that path. Minikube is installed at /usr/local/bin. I tried to track down where the paths were configured for the callback, but failed.

[2020-03-26 13:21] sashiakula commented on #7223
Now I could successfully installed minikube on my windows 10 machine.
Steps that I followed:
1. I have stopped and deleted the existing minikube
2. Downloaded "https://github.com/kubernetes/minikube/releases/download/v1.8.2/minikube-windows-amd64.exe" and renamed it to minikube.exe
3. Placed the above exe in the same folder in which my kubectl.exe is existing. (C:\kube\). This path is added to the

[2020-03-26 13:24] sashiakula commented on #7223
My Laptop is connected to the internet. And I am not in corporate network and disconnected VPN. The problem that I faced is I think with the windows installer that was used to install minikube.

[2020-03-26 13:24] #7223 closed

[2020-03-26 15:32] tstromberg opened #7259 "hot upgrade restart unreliable: usually results in noisy cluster reset"
Hot upgrades are not waiting for the upgrade to complete before proceeding.

Example upgrade from v1.12 to v1.13:

[code]

Example upgrade from v1.13 to v1.14:

[code]

[2020-03-26 15:34] tstromberg commented on #7256
The paths are within the VM or container, so they should be OK.

What `minikube start` options did you use?

[2020-03-26 15:36] tstromberg commented on #7259
Here's a test script:

`for i in $(seq 11 18); do ./out/minikube start --kubernetes-version=v1.${i}.0; done`

If it works, the user should see no strange erorrs.

[2020-03-26 16:26] linkvt commented on #6367
@tstromberg I looked into this and it seems that the line you mentioned in `certs.go` is quite far away from the docker certificage logic in
https://github.com/kubernetes/minikube/blob/master/pkg/provision/provision.go#L105
The auth options where you could define the SANs are also not close to the k8s bootstrap logic https://github.com/kubernetes/minikube/blob/master/pkg/minikube/machine/client.go

[2020-03-26 16:30] afbjorklund commented on #7254
@eoinreilly93 : the cache is disabled for the "none" driver, automatically

      --cache-images=true: If true, cache docker images for the current bootstrapper and load them into the machine. **Always false with --driver=none.**
      --download-only=false: If true, only download and cache files for later use - don't install or start anything.

The (dubious) theory is that you will cache them in

[2020-03-26 16:31] afbjorklund commented on #7254
As a workaround, you can load them yourself from the cache (using `docker load -i` on each)

[2020-03-26 16:35] afbjorklund commented on #7218
Maybe it is time to update the storage-provisioner ? The current one is two years old now...

[code]

It was a while since we removed the `github.com/r2d4/external-storage` (3ec9b1ed2a1104d029c0cc51185f45c5ecc94ee1)

[2020-03-26 16:45] afbjorklund commented on #7254
Interesting that `dmesg` fail, it might need some legacy fallback for older operating systems...

[2020-03-26 16:47] eReGeBe commented on #6537
This is what worked for me: I went to my OS X Firewall settings and **disabled** "Block all incoming connections". Hope this works for others!

![image](https://user-images.githubusercontent.com/2125699/77672867-2c601e00-6f68-11ea-953c-3919fcb32e24.png)

[2020-03-26 16:50] TroubleConsultant commented on #7256
just "minikube start" with no particular options. Everything else seems to work, I've been able to apply deployments and access them. Just the desktop seems off.

I re-ran start, and the output is:
😄  minikube v1.8.2 on Darwin 10.15.4
    ▪ MINIKUBE_ACTIVE_DOCKERD=minikube
✨  Using the hyperkit driver based on existing profile
⌛  Reconfiguring existing host ...
🏃  Using the running hyperkit "minik

[2020-03-26 17:17] #7259 closed

[2020-03-26 17:18] #4132 closed

[2020-03-26 17:38] #7067 closed

[2020-03-26 17:45] tstromberg commented on #7191
I can confirm that this fails for me locally on macOS:

[code]

[2020-03-26 17:46] #5926 closed

[2020-03-26 17:46] tstromberg commented on #5926
Closing as this hasn't been confirmed in some time.

[2020-03-26 17:49] tstromberg commented on #7190
Fixed by #7244

[2020-03-26 17:49] #7190 closed

[2020-03-26 17:49] tstromberg commented on #6962
Fixed at head

[2020-03-26 17:49] #6962 closed

[2020-03-26 17:57] tstromberg commented on #7204
Fixed at head.

[2020-03-26 17:57] #7204 closed

[2020-03-26 17:57] tstromberg commented on #6716
Fixed at head.

If you continue to see a similar error message, please open a new issue.

[2020-03-26 17:57] #6716 closed

[2020-03-26 18:02] tstromberg commented on #7194
First appearance: Mar  4 15:38
Last appearance: Mar 25 23:22

[2020-03-26 18:04] tstromberg commented on #7194
Looks predominantly Docker related, but there are two KVM occurrences:

-rw-r--r-- 1 jenkins jenkins 185526 Mar 25 17:22 /var/lib/jenkins/jobs/KVM_Linux_integration/builds/8990/KVM_Linux.txt
-rw-r--r-- 1 jenkins jenkins 139438 Mar 25 23:31 /var/lib/jenkins/jobs/KVM_Linux_integration/builds/8998/KVM_Linux.txt

[2020-03-26 18:07] tstromberg commented on #7191
This only affects podman and Docker, but appears very consistent:

* First Seen: Mar 23 15:11
* Last Seen: Mar 26 10:57

[2020-03-26 18:13] tstromberg commented on #7193
First seen: Mar 23 15:11
Last seen: Mar 25 23:44

Affects these tests:

[code]

[2020-03-26 18:15] tstromberg commented on #7193
Appears to be due to https://github.com/kubernetes/minikube/pull/6807

[2020-03-26 18:36] tstromberg commented on #7194
Dupe of #6956

[2020-03-26 18:36] #7194 closed

[2020-03-26 18:36] tstromberg commented on #7200
Dupe of #6956

[2020-03-26 18:36] #7200 closed

[2020-03-26 18:37] #7224 closed

[2020-03-26 19:10] medyagh opened #7266 "pin minikube version in hack/preload"
the hack/preload script uses the minikube code from HEAD to start a KicDriver and do preloading.
it is quite possible that we refactor the KicDriver node config, and that would break the hack preload script.

to avoid that, we could pin the script to use a specific minikube version as a lib.

[2020-03-26 19:20] #7039 closed

[2020-03-26 21:32] tstromberg commented on #6956
apparently introduced by #6889 - March 4th

[2020-03-26 21:39] tstromberg commented on #6956
commands that fail:

[code]

[2020-03-26 22:31] tstromberg commented on #6799
I'm going to open more specific issues for GitHub-specific failures (that are not minikube's  fault), and then feel these tests should be disabled until those issues a resolved.

[2020-03-26 22:41] tstromberg opened #7271 "CI / none_ubuntu(16|18)_04 broken: crictl not found in system path"
Seen att: https://pipelines.actions.githubusercontent.com/ZGpgH9zUuTeRfFbWuBd3XFWGXuWbsKLh0sZK7k8Ux0yprYkJ4U/_apis/pipelines/1/runs/1256/signedlogcontent/31?urlExpires=2020-03-26T22%3A40%3A11.6985455Z&urlSigningMethod=HMACV1&urlSignature=seWqpr5KzSeF4WVAn950lNBRq3XclREhUZN46NjnjzE%3D

[code]
[code]

Related: #6799

[2020-03-26 23:04] YannikSc commented on #7066
Having the same issue. The `minikube logs` command just outputs more or less the same error message.
- Running on Archlinux
- Installed minikube via pacman, version 1.8.2-1
- Run `sudo minikube --driver=none start`

<details>
<summary>Issuing `minikube status` outputs</summary>

    💣  getting config: cluster "minikube" does not exist

    😿  minikube is exiting due to an error. If the above messa

[2020-03-26 23:36] #7271 closed

[2020-03-26 23:43] tstromberg opened #7276 "style.go:173] unable to parse "X Unable to start VM after repeated tries."
Small templating bug I found while testing minikube on FreeBSD.

[2020-03-26 23:57] #7193 closed

[2020-03-27 00:32] #7276 closed

[2020-03-27 03:40] tstromberg commented on #7159
I think this may have been fixed in minikube v1.9, but you'll need to run `minikube delete` first.

Any chance you have a VPN running?

[2020-03-27 03:53] tstromberg commented on #4481
Is anyone able to repeat this with minikube v1.9?

We recently moved the location of certificates, so I'm curious if it affected the caching at all.

[2020-03-27 05:39] ramesh-kumarjha commented on #7106
hyperkit: v0.20190802-4-g97f091

Homepage: https://github.com/docker/hyperkit
License: BSD
os - macOS
driver hyperkit
kubectl output..
default                kubernetes                  ClusterIP   .....      <none>        443/TCP                  7d20h
kube-system            kube-dns                    ClusterIP   ......     <none>        53/UDP,53/TCP,9153/TCP   57d
kubernetes-dashboard   dashbo

[2020-03-27 05:51] GavinOsborn commented on #6590
@tstromberg apologies for the delay, the world is a different place from when I first lodged this bug!

First up, I did some testing with the latest homebrew formula (1.8.2) and could reproduce the exact same error.

The good news is that I've tried the 1.9.0 version (direct install) and it works well on my machine 🎉.
I've scheduled some time on Monday with the other folks for whom it was failing

[2020-03-27 07:17] #7168 closed

[2020-03-27 08:43] afbjorklund opened #7284 "TestNewSSHClient: remote command exited without exit status or exit signal"
https://github.com/kubernetes/minikube/pull/7282/checks?check_run_id=538693321

[code]

Travis:
`ok  	k8s.io/minikube/pkg/minikube/sshutil	0.525s	coverage: 100.0% of statements`

[2020-03-27 09:10] afbjorklund commented on #4829
/remove-lifecycle rotten

More and more of libmachine is getting rewritten now, but still useful to have it documented...

[2020-03-27 09:15] afbjorklund commented on #4938
/remove-lifecycle rotten

[2020-03-27 11:32] linkvt commented on #5117
/assign

[2020-03-27 12:36] afbjorklund opened #7285 "Translations are not working, confusing locale and language"
I added some Swedish translations, but they are **not** picked up by minikube.

It seems to be confusing the locale (language *and* territory) with language ?

[code]
So it sets the language to `sv_SE`, which misses the `sv.json` translations

[code]

----

Changing the code to use `jibber_jabber.DetectLanguage()` makes it work.

https://github.com/cloudfoundry-attic/jibber_jabber

Seems like it o

[2020-03-27 12:42] afbjorklund commented on #7285
Some examples here would be en_GB vs en_US, or sv_SE vs sv_FI.

https://en.wikipedia.org/wiki/Locale_(computer_software)

[2020-03-27 13:06] eoinreilly93 commented on #7254
Thanks for the response. I have tried what you suggested and loaded in the docker images and re-ran the minikube start command, but now I am getting a different error relating to kubelet I believe. I ran `systemctl status kubelet` which shows that the service is active, so I don't know what the problem is here. Can you advise?

**The exact command to reproduce the issue**:
minikube start --kuberne

[2020-03-27 13:20] afbjorklund commented on #7254
Seems like a timeout. If you haven't yet disabled SELinux, you need to do that.

[2020-03-27 13:34] bobasl opened #7286 "downloading kubeadm: tls: first record does not look like a TLS handshake"
**The exact command to reproduce the issue**: minikube  start --driver=none

**The full output of the command that failed**: X Failed to update cluster: updating node: downloading binaries: downloading kubeadm: download failed: https://storage.googleapis.com/kubernetes-release/release/v1.18.0/bin/linux/amd64/kubeadm?checksum=file:https://storage.googleapis.com/kubernetes-release/release/v1.18.0/bi

[2020-03-27 14:14] eoinreilly93 commented on #7254
Thanks! That seems to have solved that problem. When I run `minikube status` it says everything is up and running, however when I run `minikube dashboard` I get an error saying "kubectl not found in the PATH, but is required for the dashboard."

Do you know why this might be? I installed minikube as root using `install minikube /usr/local/bin`

[2020-03-27 15:05] max-nderitu commented on #5010
If none of the solutions worked you can use this command:
`sudo minikube start --driver=podman  --extra-config=kubeadm.ignore-preflight-errors=NumCPU`

[2020-03-27 15:41] tstromberg commented on #7286
Your host does not have a working internet connection, or at least an internet connection that allows access to Google. Perhaps you  need to configure a proxy?

https://minikube.sigs.k8s.io/docs/reference/networking/proxy/

Please let me know if  this helps.

[2020-03-27 15:44] tstromberg commented on #7285
That was the intent, and at least what once worked properly for cases such as 'zh_CN' and 'fr'.

[2020-03-27 15:45] tstromberg commented on #7285
Do you mind sharing a Swedish translation PR for testing?

/cc @sharifelgamal

[2020-03-27 15:46] tstromberg commented on #7285
@afbjorklund - I just merged #7280 which may have fixed this.

[2020-03-27 16:07] sharifelgamal commented on #7285
yeah that will fix it, it supports both full locale and language now

[2020-03-27 17:48] tstromberg opened #7288 "--wait=true exits prematurely, breaks conformance test script"
NOTE: This is not a discussion about defaults, this is about the behavior when explicitly setting `--wait=true`.

The `./hack/conformance_tests.sh` script is broken because Kubernetes is not actually up yet:

[code]

[2020-03-27 17:49] tstromberg commented on #7288
Related to #7209

[2020-03-27 17:54] priyawadhwa commented on #6092
Can be closed with #7108

[2020-03-27 17:54] #6092 closed

[2020-03-27 18:06] priyawadhwa commented on #6313
Hey @pedz, I'm going to close this issue as a dupe of #6402. We'll be looking into improving documentation in the coming weeks, so you can check for updates on this there. If you'd be interested in contributing this documentation, please let me know! Thank you.

[2020-03-27 18:06] #6313 closed

[2020-03-27 18:14] tstromberg commented on #6320
Fixed in v1.9. Message now says:

[code]

[2020-03-27 18:14] priyawadhwa commented on #7254
Hey @eoinreilly93, what is the output of `which kubectl`?

[2020-03-27 18:14] #6320 closed

[2020-03-27 18:15] tstromberg opened #7289 "kubectl: remove -- leading flag requirement"
It's not fun from a usability point of view.

NOTE: This may be challenging, and require intercepting "kubectl" as a subcommand before Cobra gets it's hands on it.

[2020-03-27 18:17] priyawadhwa commented on #6424
Hey @sandyleo26, are you currently working on this?

[2020-03-27 18:20] tstromberg opened #7290 "dashboard: fetch and run the built-in kubectl version"
This would improves our getting started experience.

[2020-03-27 18:23] priyawadhwa commented on #6167
For this issue, I think the updates to the documentation we need are:

- For the none driver, supported docker configurations can be found [here](https://github.com/kubernetes/system-validators/blob/v1.0.4/validators/types_unix.go#L63).
- The btrfs driver is not officially supported, but if you want to use the btrfs driver anyway, you can pass in the following flag so that kubeadm ignores prefligh

[2020-03-27 18:35] afbjorklund commented on #7285
I just translated a dozen strings, there's like 600 or so left...

[code]

But I can do a PR.

[2020-03-27 18:42] afbjorklund commented on #7254
You need to install `kubectl` externally for the dashboard to work, it needs it to be in the PATH.
https://kubernetes.io/docs/tasks/tools/install-kubectl/

This might change in a future release, to use the built-in `minikube kubectl` instead.

[2020-03-27 18:43] afbjorklund commented on #7254
Once we start testing (#3552) and documenting (#6166) running on CentOS, this might get easier.

[2020-03-27 18:51] symc-gail commented on #5729
/remove-lifecycle rotten

[2020-03-27 18:51] tstromberg opened #7291 "Add validation to: minikube config set memory"
Figured this out while writing documentation:

- Don't allow the user to specify more memory than is available
- Don't allow the user to specify less memory than is possible
- If the user is using Docker, and their maximum exceeds Docker's limit, point them to the appropriate Docker documentation to increase it

[2020-03-27 19:08] etanshaul commented on #7233
also to note: it would be nice if this also applied to the `status` command to help with cases like this:
https://www.google.com/url?sa=j&url=https%3A%2F%2Fgithub.com%2FGoogleCloudPlatform%2Fcloud-code-intellij-internal%2Fissues%2F1565%23issuecomment-602939781&uct=1584625964&usg=KjLbJYOLFH84XPvBYs52dEPhAyg.&source=chat

[2020-03-27 23:36] Larswa opened #7293 "--embed-certs=true in v1.9.0: client.crt: The system cannot find the file specified."
This is a new bug in 1.9.0.  Earlier versions did not exhibit this behavior.
I get this failure when producing a new minikube instance with the --embed-certs=true param/value.

If I run this command to get the full cert in the kubeconfig on an **existing** minikube instance it works just fine, and I get the cert written into my kube config file.
I suspect this could be related to #7125 ?

**The ex

[2020-03-28 05:12] #6860 closed

[2020-03-28 05:13] #5117 closed

[2020-03-28 05:16] #5753 closed

[2020-03-28 08:11] sandyleo26 commented on #6424
i'm not working on this anymore as my priorities changed. feel free to grab it if you want. thanks.

[2020-03-28 09:44] cwansart opened #7296 "docker macOS: This control plane is not running! (state=Stopped)"
I have tried to open a tunnel to use the `LoadBalancer` as described in the documentation. (https://minikube.sigs.k8s.io/docs/tasks/loadbalancer/) Currently it fails on my MacBook.

**The exact command to reproduce the issue**:

[code]

**The full output of the command that failed**:<details>

$ minikube start --container-runtime=docker --driver=docker
😄  minikube v1.9.0 on Darwin 10.14.6
✨  Using

[2020-03-28 09:52] cwansart commented on #7296
I just tested it on a Fedora 31 Linux machine and it works there without any issues.

[2020-03-28 11:31] afbjorklund commented on #7285
Yes, now it works (with both). Thanks!

[2020-03-28 11:31] #7285 closed

[2020-03-28 11:47] afbjorklund commented on #7289
One suggested variant was adding a command to install it, but we didn't want to do that (~#4697~).

Another approach would be add a shell alias, but that has different syntax on different shells...

[code]

Maybe it could be a feature of the `shell` module ? Still has to be called with e.g. `eval` though

Also need to decide on a name, like `minikube.kubectl` - since `k` or `mk` might conflict wit

[2020-03-28 11:55] afbjorklund commented on #5010
@max-nderitu:
The requirements are from `kubeadm`, not something that minikube sets.
A 1 CPU and 1 GB _will_ have issues when running and _will_ start swapping...

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

There are other installations of Kubernetes, that work better in a constrained environment.

[2020-03-28 12:01] stefanomerlano opened #7298 "vbox: creating host: create host timed out, recovery has: write |1: The pipe has been ended."
**The exact command to reproduce the issue**:
minikube start --driver=virtualbox --insecure-registry "10.0.0.0/24" --insecure-registry "192.168.99.0/24" --cpus=6 --memory=7168m --disk-size=150g --alsologtostderr -v=8

**The full output of the command that failed**:<details>
W0328 12:35:26.288638   13136 root.go:248] Error reading config file at C:\Users\yhdbe\.minikube\config\config.json: open C:\

[2020-03-28 12:18] afbjorklund commented on #7290
The current "experience" is:

[code]

As noted elsewhere (~#3645~), the guide is complicated.
https://kubernetes.io/docs/tasks/tools/install-kubectl/

Almost as much information as installing minikube itself.
We should be able to replace it with `minikube kubectl`:

[code]

Except in go code.

[2020-03-28 12:28] cwansart commented on #7296
It seem to happen with `minikube service` commands as well.

[2020-03-28 13:19] kclinden commented on #94
First attempt at running 3 nodes on 1.9 gave me the following error.
`kclinden@Kaseys-MacBook-Pro ~ % minikube start -n 3
😄  minikube v1.9.0 on Darwin 10.15.4
✨  Using the vmware driver based on existing profile
👍  Kubernetes 1.18.0 is now available. If you would like to upgrade, specify: --kubernetes-version=1.18.0
🔄  Retarting existing vmware VM for "minikube" ...
🐳  Preparing Kubernetes v1.17.3

[2020-03-28 13:59] bobasl commented on #7286
Hello,

My server, (VM Vmware) has access to internet behind a proxy

export https_proxy=https://<account:pwd>@<IP_proxy>:3128
export http_proxy=http://<account:pwd>@<IP_proxy>:3128
export no_proxy=$no_proxy,localhost,<@IP minikube>

I have this domains opened behind proxy:

storage.googleapis.com
k8s.gcr.io
gcr.io
*.akamaitechnologies.com
*.redhat.com
*.akamaiedge.net
*.redhat.io
dl.fedoraproject

[2020-03-28 15:04] afbjorklund commented on #7286
Your settings look wrong, the proxy cannot speak both http and https on the same port.

Most likely, it should be: `export https_proxy=http://<account:pwd>@<IP_proxy>:3128`

[2020-03-28 15:14] afbjorklund commented on #7290
New experience:

[code]

Takes a while to download (42M), but at least it is automatic.

[https://github.com/kubernetes/dashboard/blob/master/docs/user/accessing-dashboard/](https://github.com/kubernetes/dashboard/blob/master/docs/user/accessing-dashboard/1.7.x-and-above.md#kubectl-proxy)

[2020-03-28 17:01] halmai commented on #4286
I have the same problem and tried this:

[code]
and then
[code]
This seems to be show-stopper for me. :(

[2020-03-28 17:49] tstromberg opened #7300 "hyperv: Unable to remove machine directory: ....vmcx: The process cannot access the file because it is being used by another process."
I have the same problem and tried this:

[code]
and then
[code]
This seems to be show-stopper for me. :(
[code]

_Originally posted by @halmai in https://github.com/kubernetes/minikube/issues/4286#issuecomment-605488971_

[2020-03-28 17:49] tstromberg commented on #4286
@halmai - I've moved your issue to #7300 - as it affects a different hypervisor

[2020-03-28 17:56] tstromberg commented on #7300
Hey @halmai  -

I'm very curious about what happened here, because it's not supposed to be possible, but clearly it is:

[code]

minikube was asked to stop a cluster that does not have any local state associated to it, so it failed. Is it possible that you accidentally deleted or moved `C:\Users\Csongor Halmai\.minikube\machines`, or do we have a bug somewhere?

Alternatively, is it possible that

[2020-03-28 18:06] vlganev opened #7301 "none: "The none driver requires conntrack to be installed" - but it's installed!"
Hello,
I get an error `The none driver requires conntrack to be installed for kubernetes version`
I the same time I have:
[code]
I guess the issue is here
[code]
After commenting the code above it seems fine.

[2020-03-28 18:15] ZeeshanRaza25 opened #7302 "none: certificate apiserver not signed by CA certificate ca: crypto/rsa: verification error"
**The exact command to reproduce the issue**:
sudo minikube start --vm-driver=none

**The full output of the command that failed**:<details>
$ sudo minikube start --vm-driver=none
😄  minikube v1.7.2 on Ubuntu 18.04
✨  Using the none driver based on user configuration
⌛  Reconfiguring existing host ...
🔄  Starting existing none VM for "minikube" ...
ℹ️   OS release is Ubuntu 18.04.4 LTS
🐳  Preparin

[2020-03-28 18:30] tstromberg commented on #7302
Do you mind checking if this happens with  the latest version of minikube (v1.9.0)?

If possible, please add `--alsologtostderr` so that we get additional logs.

[2020-03-28 18:33] tstromberg commented on #7301
It may be in your path as `vg`, but I suspect it is not in roots path. Can you confirm:

[code]

[2020-03-28 18:35] tstromberg commented on #7301
If nothing else, this error message is misleading and unhelpful.

If you don't mind, can you also share the output of:

`whereis conntrack`

and:

[code]

I think a better error message here would be:

`conntrack not found in root users $PATH`

[2020-03-28 18:36] tstromberg commented on #7301
Also, this should be calling `exec.LookPath` instead of running conntrack.

[2020-03-28 18:38] amitmaurya001 commented on #7140
Faced same issue..any update?

 minikube-v1.9.0.iso.sha256: 65 B / 65 B [--------------] 100.00% ? p/s 0s

💾  Downloading Kubernetes v1.18.0 preload ...

🔥  Creating hyperkit VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...
🤦  StartHost failed, but will try again: creating host: create: Error creating machine: Error in driver during machine creation: hyperkit crashed! command line:
  hyperkit loglevel

[2020-03-28 18:38] #7140 closed

[2020-03-28 18:39] tstromberg commented on #7140
This was fixed with the v1.9.0 release.

@amitmaurya001 - I'll move your issue into a separate bug.

[2020-03-28 18:39] tstromberg opened #7303 "hyperkit: Error in driver during machine creation: hyperkit crashed!"
Faced same issue..any update?

 minikube-v1.9.0.iso.sha256: 65 B / 65 B [--------------] 100.00% ? p/s 0s

💾  Downloading Kubernetes v1.18.0 preload ...

🔥  Creating hyperkit VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...
🤦  StartHost failed, but will try again: creating host: create: Error creating machine: Error in driver during machine creation: hyperkit crashed! command line:
  hyperkit loglevel

[2020-03-28 18:40] amitmaurya001 commented on #7140
how can i update to the latest version..coz i used latest version i guess..

[2020-03-28 18:42] tstromberg commented on #7303
Hey @amitmaurya001 - do you mind sharing the output  of:

`ls -lad $(which hyperkit) && hyperkit -v`

Mine for instance reports:

[code]

In general, hyperkit crashes are nearly always sorted out by upgrading hyperkit.

[2020-03-28 18:44] amitmaurya001 commented on #7303
here it is..
Amits-MacBook-Air:~ Amit$ ls -lad $(which hyperkit) && hyperkit -v
lrwxr-xr-x  1 Amit  staff  67 Jul 23  2019 /usr/local/bin/hyperkit -> /Applications/Docker.app/Contents/Resources/bin/com.docker.hyperkit
hyperkit: v0.20180403-17-g3e954c

Homepage: https://github.com/docker/hyperkit
License: BSD

[2020-03-28 18:44] tstromberg commented on #7303
Also helpful  for me  would be the output of:

`uname -a && docker version --format '{{.Client.Version}}'`

If Docker is installed, you may be able to get unblocked by using `minikube start --driver=docker`

[2020-03-28 18:46] amitmaurya001 commented on #7303
Amits-MacBook-Air:~ Amit$ uname -a && docker version --format '{{.Client.Version}}'
Darwin Amits-MacBook-Air.local 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64 x86_64
18.09.2
Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?

[2020-03-28 18:47] amitmaurya001 commented on #7303
Amits-MacBook-Air:~ Amit$ minikube start --driver=docker
😄  minikube v1.9.0 on Darwin 10.13.6
💥  The existing "minikube" VM was created using the "hyperkit" driver, and is incompatible with the "docker" driver.
👉  To proceed, either:

1) Delete the existing "minikube" cluster using: 'minikube delete'

* or *

2) Start the existing "minikube" cluster using: 'minikube start --driver=hyperkit'

💣  Ex

[2020-03-28 18:51] tstromberg commented on #7303
The version of hyperkit on your machine is older than our minimum supported version: `0.20190201`. minikube was supposed to error out based on this fact with a message like:

`the installed hyperkit version (0.%s) is older than the minimum recommended version (%s)`

If you did not see  a warning, it means that our version check is not working.

The workaround is to install the latest  hyperkit, ei

[2020-03-28 18:52] tstromberg commented on #7303
Please let me know if this helps you get through.

[2020-03-28 18:58] vlganev commented on #7301
Hi, this is the output
[code]

[code]
[code]

Thank you for the quick response!

[2020-03-28 19:31] halmai commented on #7300
@tstromberg thanks for the quick response.

It is possible that the files it was unable to delete were coming from an earlier version of minikube. However, even after stopping Hyper-V Host Compute Service from the Task Manager, I was unable to delete the files, which is strange. Both `minikube delete` and manual delete via Explorer failed.
The solution I chose was to reboot win10 in safe mode and

[2020-03-28 19:36] tstromberg commented on #7300
Thanks for the info. I wonder if deleting the VM from Hyper-V would have yielded a different outcome.

Can you confirm that `minikube stop` and `minikube delete` now work properly on your system?

[2020-03-28 19:38] tstromberg commented on #7301
OK. I think this check is bad, but can you confirm one last thing for me? I'd like to see the output of:

`sudo conntrack; echo $?`

Thank you for your speedy replies. =)

[2020-03-28 19:40] acutebubblin opened #7304 "Error starting cluster: exit status 1"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-28 19:42] vlganev commented on #7301
The output is interesting:
[code]

[2020-03-28 20:32] #5463 closed

[2020-03-28 20:32] #5672 closed

[2020-03-28 20:32] #5673 closed

[2020-03-28 20:32] #5701 closed

[2020-03-28 20:32] #5418 closed

[2020-03-28 20:33] tstromberg commented on #7301
@vlganev - any chance you could confirm that the binary produced by #7305 fixes your issue?

https://storage.googleapis.com/minikube-builds/7305/minikube-linux-amd64

Thank you!

[2020-03-28 20:34] tstromberg commented on #7304
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=1` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2020-03-28 20:56] bobasl commented on #7286
You are right,, thanks.

Now I have another problem !

Is it possible to install minikube on VM linux Redhat 7.6  with command # minikube start --driver=none ?

[init] Using Kubernetes version: v1.17.3
[preflight] Running pre-flight checks
[preflight] Pulling images required for setting up a Kubernetes cluster
[preflight] This might take a minute or two, depending on the speed of your internet con

[2020-03-28 22:17] bobasl commented on #7286
Did you know all web sites we need to open behind proxy in order to install minikube without problem ? Thanks

----- Mail original -----
De: oulboubl@free.fr
À: "kubernetes/minikube" <reply@reply.github.com>
Cc: "Author" <author@noreply.github.com>, "kubernetes/minikube" <minikube@noreply.github.com>
Envoyé: Samedi 28 Mars 2020 21:56:49
Objet: Re: [kubernetes/minikube] downloading kubeadm: tls: fi

[2020-03-28 23:43] tstromberg commented on #7293
I believe this is an unintended consequence of a PR I submitted:

https://github.com/kubernetes/minikube/pull/7125

It seems like there are no integration tests for `--embed-certs=true`.

[2020-03-28 23:51] tstromberg commented on #7296
Thank you for the detailed report. Can you include the output of:

`minikube service --alsologtostderr -v=3`

I choose service because it logs a lot less than tunnel. My suspicion is that Docker may not be responding fast enough, so minikube assumes it's offline.  If so, restarting Docker may help, but the logs should confirm it - #7268 will improve this issue.

 `--driver=hyperkit` will workaroun

[2020-03-28 23:53] tstromberg commented on #7296
Your logs show that the control-plane is definitely running, hence why I assume a race condition or timeout of some sort:

[code]

[2020-03-28 23:57] tstromberg commented on #7298
Do you mind sharing the output of:

`C:\Program Files\Oracle\VirtualBox\VBoxManage.exe convertfromraw stdin C:\Users\yhdbe.minikube\machines\minikube\disk.vmdk 161061273600 --format VMDK`

[2020-03-29 00:02] tstromberg commented on #7286
@babsi - We should document this:

- https://storage.googleapis.com/
- https://github.com/

I'm not sure why the cluster isn't starting yet - but the output of `minikube logs` may help.

[2020-03-29 00:26] fffffreedom commented on #6848
@tstromberg @starbassma starbassma is right, "minikube start" doesn't update the registry-mirror of an existing vm. hoping this will work later, thks

[2020-03-29 00:26] fffffreedom commented on #6848
@tstromberg @starbassma starbassma is right, "minikube start" doesn't update the registry-mirror of an existing vm. hoping this will work later, thks

[2020-03-29 01:22] Larswa commented on #7293
Hi @tstromberg yeah, I took a look at #7125 but I can't find my way around Go well enough to track it down.
If it is of any help to you, embed-certs works fine, if I run it after the cluster has been spun up without that flag. It only failed if included in the initial `minkube start`

Also ... thats an easy workaround untill this is tracked down and fixed.

[2020-03-29 02:49] #7301 closed

[2020-03-29 03:40] eashi commented on #7062
I have been thinking about this, I think we can solve this elegantly by creating a mapping between a released version (in which the config format is changed) and a corresponding function to load the profile and translate it to the latest version.

Once the user wants to load a profile, the loader would try each mapping starting from the latest version until the earliest version we want to support,

[2020-03-29 04:14] tstromberg commented on #7293
@Larswa - to be honest, I wrote the PR, and I still don't understand how the --embed-certs feature ever worked. The two packages seem to have a very loose coupling with one another, so I assume it just worked via implicit assumptions. Your hint is *very* useful though, as it leads me to believe that the assumption may have been in the order-of-operations.

Tracking the issue down will take a bit o

[2020-03-29 05:41] #5126 closed

[2020-03-29 06:33] rodrigc commented on #4206
@tstromberg I encountered the same problem on macOS Catalina 10.15.4 :

[code]

On my machine, I had installed the following from homebrew:

* `brew install docker`
* `brew install docker-machine`
* `brew install docker-machine-driver-hyperkit`
* `brew install hyperkit`

to work around the problem, I uninstalled everything:

* `brew uninstall docker`
* `brew uninstall docker-machine`
* `brew unins

[2020-03-29 07:36] vlganev commented on #7301
@tstromberg I've just tested it and it's working.
Thank you!

[2020-03-29 07:43] linkvt commented on #7293
I guess this problem exists already since a bit longer but only shows now, see e.g. with a fresh v1.4.0:
[code]

I guess it worked for you back then because there were some certificate inside of `~/.minikube` from a start without `--embed-certs`, but since they are being picked up now from the new profiles directory there aren't any causing it to fail always.
I will take a look at it but don't wan

[2020-03-29 08:43] afbjorklund commented on #6751
Not sure about either of the PR, leaking go-getter abstraction and exposing it as a param is not very nice and I don't particularly like the new module names with the "interface" (or even if) in them. Sorry.

@tstromberg : Do you have any style guides here, on how best to mock the `download` module ?

[2020-03-29 08:52] afbjorklund commented on #7286
RHEL and CentOS are under-tested and under-documented, see all other issues about them.

Most urgently, we need a better solution message when SELinux and Firewalld are enabled...

[2020-03-29 08:53] cwansart commented on #7296
Here is the output of your recommended command:

[code]

I cannot use the hyperkit driver, the network does not work. I have not yet investigated the issue so far.

[2020-03-29 10:41] bobasl commented on #7286
Hi,

====================================================================
We open this sites behind a proxy:

storage.googleapis.com
k8s.gcr.io
gcr.io
*.akamaitechnologies.com
*.redhat.com
*.akamaiedge.net
*.redhat.io
dl.fedoraproject.org
docker.io
cloudfront.net
github.com
raw.githubusercontent.com
maven.repository.redhat.com
repository.jboss.org
repo1.maven.org
quay.io

=========================

[2020-03-29 10:45] bobasl commented on #7286
Hi,

====================================================================
We open this sites behind a proxy:

storage.googleapis.com
k8s.gcr.io
gcr.io
*.akamaitechnologies.com
*.redhat.com
*.akamaiedge.net
*.redhat.io
dl.fedoraproject.org
docker.io
cloudfront.net
github.com
raw.githubusercontent.com
maven.repository.redhat.com
repository.jboss.org
repo1.maven.org
quay.io

=========================

[2020-03-29 11:53] bobasl commented on #7286
# kubeadm config images list
W0329 13:51:33.791803   17051 version.go:101] could not fetch a Kubernetes version from the internet: unable to get URL "https://dl.k8s.io/release/stable-1.txt": Get https://dl.k8s.io/release/stable-1.txt: Forbidden
W0329 13:51:33.791855   17051 version.go:102] falling back to the local client version: v1.17.3
W0329 13:51:33.791987   17051 validation.go:28] Cannot vali

[2020-03-29 13:03] Larswa commented on #7293
@tstromberg  Thanks for making me feel a litle less stupid.  😂

@linkvt  I think has been working in earlier version as I have had a script for a couple of months, running a `minkube delete` and a `minikube start --embed-certs=true ` with the
At least for the 1.8.x versions I didnt have this issue. I think.

[2020-03-29 13:33] linkvt commented on #7293
@Larswa just try it with deleting the `~/.minikube` directory first as I did, `minikube delete` doesn't remove the certificates inside of `~/.minikube`.
I just opened a PR, you could try it out.

/assign linkvt

[2020-03-29 13:48] Larswa commented on #7293
Hey @linkvt   Thanks.  The easiest workaround I found was to run `minikube start` with other options, and then once that was complete, run `minikube start --embed-certs=true` on the running instance. That works fine.

[2020-03-29 14:54] stefanomerlano commented on #7298
After the command execute is waiting for stdin input.

**The command**:
VBoxManage.exe convertfromraw stdin C:\Users\yhdbe\.minikube\machines\minikube\disk.vmdk 161061273600 --format VMDK

**The full output**:<details>
Converting from raw image file="stdin" to file="C:\Users\yhdbe\.minikube\machines\minikube\disk.vmdk"...
Creating dynamic image with size 161061273600 bytes (153600MB)...

[2020-03-29 16:06] soumilshah1995 commented on #3802
i got it working following
Connected to LAN
Went to Network and Internet/View Network status and Task/ Check the Internet Access
Go to advance > Share > Enable the following

Allow other Network users to connect through this computer internet connection

run the power shell as admin
minikube start --kubernetes-version="v1.18.0" --vm-driver="hyperv" --hyperv-virtual-switch="Minikube"

[2020-03-29 18:09] tstromberg commented on #7296
I think you may have found a serious regression in the Docker driver that is almost certainly my doing. I can confirm it on my end.

It appears that for Docker on Mac, the control plane verification is using the incorrect endpoint.

[2020-03-29 18:17] cwansart commented on #7296
Can I do something to support to fix this issue?

[2020-03-29 19:01] tstromberg commented on #7296
@cwansart - Sorry, I started working on a PR before I saw your reply. You could really help me by confirming whether this binary fixes your issue:

http://storage.googleapis.com/minikube-builds/7310/minikube-darwin-amd64

My apologies for the bug. I wrote the PR without considering it's implications on Docker for macOS -- and our macOS CI is down at the moment due to CoViD19 :(

[2020-03-29 19:31] cwansart commented on #7296
@tstromberg Your patch works. `minikube service` and `minikube tunnel` both work fine now.
Thanks for the quick fix.

[2020-03-29 20:05] judimator opened #7311 "The ClusterRoleBinding "kubernetes-dashboard" is invalid: roleRef: Invalid value: rbac.RoleRef{APIGroup:"rbac.authorization.k8s.io", Kind:"ClusterRole", Name:"cluster-admin"}: cannot change roleRef"
Hi folks!
I saw the related issue https://github.com/kubernetes/minikube/issues/7256 but I found nothing special there what could help me.

**Steps to reproduce the issue:**

1. Run minikube start --vm-driver=virtualbox
2. Run minikube dashboard

**Full output of failed command:**

 Unable to enable dashboard: running callbacks: [sudo KUBECONFIG=/var/lib/minikube/kubeconfig /var/lib/minikube/binar

[2020-03-29 21:01] bobasl commented on #7286
I resolve my problem ! Thanks

The rootcause is my file /etc/docker/daemon.json  parameter "userns-remap"

# cat /etc/docker/daemon.json
{
    "experimental": true,
    "icc": false,
    "log-driver": "json-file",
    "log-opts": {
        "max-file": "3",
        "max-size": "10m"
    },
    "max-concurrent-downloads": 30,
    "max-concurrent-uploads": 30,
    "storage-driver": "overlay2",
    "u

[2020-03-29 21:35] tstromberg commented on #7293
@Larswa - if you want to try linkvt's PR:

https://storage.googleapis.com/minikube-builds/7309/minikube-windows-amd64.exe

[2020-03-29 21:51] Larswa commented on #7293
@tstromberg @linkvt   I can confirm that it worked!  Very cool!

I removed existing minkube instance, removed the .minikube folder in my user profile and did a `minikube start --embed-certs=true` and got a new minikube instance with no cert errors.

[2020-03-29 21:52] Larswa commented on #7293
Whoops .. dunno if this should have been closed already without linking it to the pr.

[2020-03-29 22:38] tstromberg commented on #7293
Thank you @Larswa for the confirmation! This issue will auto-merge once the PR is merged.

[2020-03-29 23:00] nnt1054 opened #7312 "need help deleting the ".minikube" directory and resetting environment after running "route -f""
I had a conflicting route when running "minikube tunnel", so I accidentally ran "route -f" instead of only removing the individual route.  I no longer can access the previously running minikube instances using minikube or kubectl and can't manually delete the ".minikube" directory due to a "files being used by another process." error.

While attempting to debug the issue, "minikube start" also gav

[2020-03-29 23:29] nnt1054 commented on #7312
Update: I used the Powershell Stop-VM command to stop the corresponding VM's and reduced my memory usage by 8GB, but attempting to delete the ".minikube" directory or running "minikube delete" still outputs the error:

[2020-03-29 23:58] nnt1054 commented on #7312
Solution: I deleted the VM's using the Hyper-V Manager, and then used the Powershell "Get-Service" and "Stop-Service" commands to stop all the running hyperv services.  Afterwards I was able to delete the ".minikube" directory and now everything seems to be operating normally.

[2020-03-29 23:58] #7312 closed

[2020-03-30 00:20] tstromberg commented on #7312
OK. Just for clarification - what version of minikube was this with?

Versions before v1.9.0 had an especially difficult time deleting Hyper-V VM's.

[2020-03-30 00:21] tstromberg commented on #7312
Also, it should never be necessary to manually delete the `.minikube` folder. You can get the same result more safely with `minikube delete --purge --all`: that attempt to ensure that the VM's are shut down.

[2020-03-30 00:22] tstromberg commented on #7311
This issue appears to be a duplicate of #7256, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-03-30 00:22] #7311 closed

[2020-03-30 00:30] tstromberg commented on #7256
Here's a theory: the cluster has a role binding configured from a previous Kubernetes or dashboard release. I base this on: https://stackoverflow.com/questions/59020654/the-clusterrolebinding-kubernetes-dashboard-is-invalid-roleref-invalid-valu

Can someone who is running into this problem do an experiment for me, and share the output of the following commands? I'm confident one of them will fix t

[2020-03-30 00:32] tstromberg commented on #7256
@judimator - please let me know if you are able to perform the experiment steps above.

Worst case, this problem can be overcome by `minikube delete`, but I'd like to know which one works so that we can prevent the problem from occurring in the code base.

[2020-03-30 00:50] georgedelacruz213 opened #7313 "downloads fail with local error: tls: bad record MAC"
**Steps to reproduce the issue:**

1. minikube start --vm-driver hyperv --hyperv-virtual-switch "Primary Virtual Switch"

**Full output of failed command:**

[code]

[2020-03-30 01:06] GavinOsborn commented on #6590
@tstromberg have tested 1.9 on several of the previously failing machines (now with homebrew) and all is good. I don't know what you did, but good job :)

[2020-03-30 01:25] tstromberg commented on #6590
@GavinOsborn - Thank you for the heads up!

A lot changed with the v1.9 release, so it's difficult for me to nail down what behavioral change made the difference here. My theory is that the IP changed between reboots, and for some reason we were trying to SSH to a cached IP from the previous run (it gets stored in the config file) rather than the current IP.

Please feel free to /reopen this bug i

[2020-03-30 01:25] #6590 closed

[2020-03-30 01:36] tstromberg commented on #7313
I'm stumped by this one for two reasons:

* TLS works, because minikube is able to download the ISO and the overlay
* Why are we saving images to files when the overlay is in use? That seems like a bug.

Do you mind sharing the output of your minikube start command + `--alsologtostderr -v=1`? It should shed some light on the later issue.

Looking for the same TLS error, I didn't find much, other t

[2020-03-30 02:19] georgedelacruz213 commented on #7313
I had minikube running after a few attempts.

Please check out this [link](https://pastebin.com/cYUyKGst) for the output of _minikube start --alsologtostderr -v=1_

[2020-03-30 03:54] tstromberg commented on #7313
That's great to hear. Once the artifacts have been downloaded, everything should go smoothly.

Seeing the logs helped everything make sense. Particularly:

`10:11:30.812293   16232 cache.go:52] Error downloading preloaded artifacts will continue without preload: download failed: https://storage.googleapis.com/minikube-preloaded-volume-tarballs/preloaded-images-k8s-v2-v1.18.0-docker-overlay2-amd64.

[2020-03-30 04:18] Madhu-1 opened #7314 "PodSecurityPolicy: no providers available to validate pod request"
**Steps to reproduce the issue:**

1.download minikube 1.9.0
2. start minikube with `minikube start -alsologtostderr --v=1 -b kubeadm --kubernetes-version="v1.18.0" --vm-driver="kvm2" --feature-gates="BlockVolume=true,CSIBlockVolume=true,VolumeSnapshotDataSource=true,ExpandCSIVolumes=true" --extra-config=apiserver.enable-admission-plugins=PodSecurityPolicy

**Full output of failed command:** >

**

[2020-03-30 04:36] Madhu-1 commented on #7314
am seeing this issue when i enable `--extra-config=apiserver.enable-admission-plugins=PodSecurityPolicy` when starting minkube

[2020-03-30 04:54] zerefwayne commented on #7166
@priyawadhwa @afbjorklund I think I can work on this one.

[2020-03-30 05:13] medyagh opened #7315 "Define imaginary user character for minikube website"
How about we define a few characters with names that who are the ppl the we create minikube for ?

So when we redesign our document website we find a real user from that audience to try the website and tell us their frictions.

Here is a quick example.

User A
Wants to try kubernetes for first time and wants to install minikube

User B
A software developer who wants to use minikube for local devel

[2020-03-30 05:38] afbjorklund commented on #7315
Sounds like a good idea. I'm no expert, but I think you normally find "real" users with "real" names ?

https://en.wikipedia.org/wiki/Persona_(user_experience)

Personally I think we lack some technical documentation, so I will try to do that instead of the website.

It would also be nice to collaborate more with [kubernetes.io](https://kubernetes.io/docs/tutorials/)

[2020-03-30 06:08] nnt1054 commented on #7312
I'm using v.1.8.2

Thanks for the tip, I'll keep that in mind next time.  It seemed like minikube wasn't finding the profiles for the other VM's so I maybe panicked and opted to delete the '.minikube' folder.  I also don't particularly know too much about routing tables and how minikube interacts with them.

[2020-03-30 06:20] medyagh opened #7316 "Publish kic base image in docker hub and GitHub"
Currently we only push to gcr,
We should push to both hub.docker.com and GitHub's docker image repository. So in case gcr is not available in a region or corporation they can download from alternative

[2020-03-30 07:15] judimator commented on #7256
Hi @tstromberg. I will do the experiment but a little bit later(in a 7-8 hours).
Many thanks!

[2020-03-30 10:09] eoinreilly93 opened #7318 "dashboard: unexpected response code: 503 -> couldn't find network status: invalid network status for"
I am trying to install minikube on a CentOS 7 VM that has no access to the internet. I downloaded and installed it on a windows machine with access to the internet and used the cache directory to install offline on the VM. I have raised a few other issues during this process but have finally gotten minikube to install without issue. However when I try to start the kubernetes dashboard with the `mi

[2020-03-30 10:48] eoinreilly93 commented on #7254
@afbjorklund Thanks! I've installed it separately which looks to have solved the issue. I have other problems starting the dashboard, but I've raised them under a new ticket now.

[2020-03-30 10:49] eoinreilly93 commented on #7254
@priyawadhwa `/usr/bin/kubectl`

[2020-03-30 11:09] #7199 closed

[2020-03-30 12:38] #7083 closed

[2020-03-30 15:05] rizwan-star opened #7319 "initialization failed, will try again: run: /bin/bash -c "sudo"
**Steps to reproduce the issue:**

1.initialization failed, will try again: run: /bin/bash -c "sudo
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-03-30 15:06] rizwan-star commented on #7319
host: Nonexistent
kubelet: Nonexistent
apiserver: Nonexistent
kubeconfig: Nonexistent

[2020-03-30 15:58] tstromberg commented on #7319
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2020-03-30 16:07] peterlin741 opened #7322 "Shorten minikube version output"
The output of `minikube version` is currently:
[code]

Whereas I expected only the version number: `v1.9.0`

Supporting JSON output would also work, if you need to keep the commit information, since that would also allow me to parse the version directly

[2020-03-30 16:12] tstromberg commented on #7314
Your root cause is here:

[code]

I believe you will need to provide additional configuration to use PSP, otherwise the apiserver won't be allowed to start-up. Do you mind checking if the guidance at https://minikube.sigs.k8s.io/docs/tutorials/using_psp/ is helpful?

[2020-03-30 16:12] tstromberg commented on #7318
The kubelet looks to be in bad shape:

[code]

This error is interesting, but may not be important:

[code]

https://github.com/minishift/minishift/issues/2433 seems to indicate that error message occurs if machine's IP has changed IP since the kubelet started. If so, running `minikube start` may fix the issue. If not in minikube v1.8.2, at least in v1.9.0.

Related: #7009

[2020-03-30 16:22] eoinreilly93 commented on #7318
Do you mean running `minikube start` after I see this error message? Or as an alternative to `minikube start --driver=none --kubernetes-version=1.16.3`?

[2020-03-30 16:39] tstromberg commented on #7318
@eoinreilly93 - I mean re-run `minikube start --driver=none --kubernetes-version=1.16.3` to see if it makes the problem go away by plumbing the correct IP into place.

If it doesn't, see if you can get `sudo modprobe ip_vs_wrr` to work.

[2020-03-30 16:41] tstromberg commented on #7322
I'm curious where your expectation comes from. Even `kubectl version --short` doesn't just respond with a version number:

[code]

I don't mind if someone adds a `--short` flag to minikube to get what you are looking for, but I don't feel it's necessary to update the default case.

[2020-03-30 16:44] afbjorklund commented on #7322
We could also add a `--format` option similar to Docker ? Or perhaps a --short like Kubernetes client.

It also have a `--output` option, to choose between yaml and json if you don't need a full go template.

[2020-03-30 16:56] eoinreilly93 commented on #7318
Tried re-running the start command but it didn't fix it unfortunately. Running `sudo modprobe ip_vs_wrr` also returns nothing.

Does it have anything to do with the fact I'm running on VM host, and it can't find a browser to launch the dashboard on or anything like that, because the VM has no GUI? Are there any extra configuration steps I should have done?

[2020-03-30 17:14] TroubleConsultant commented on #7256
@tstromberg I executed the provided steps in order, and after the delete of the cluster role binding and disable of the dashboard, I was able to access the dashboard. Attached is the output as requested:

At this point, the dashboard was accessible

[2020-03-30 17:21] peterlin741 commented on #7322
I saw that `skaffold version` returns `v1.6.0`. I wasn't entirely sure what the differences were between that and `kubectl` but I see now that `kubectl version --short` returns both a service and client version.

Any of the above suggested solutions work. Thanks for looking into this!

[2020-03-30 17:28] matjung opened #7323 ".kube directory is created outside of MINIKUBE_HOME"
**Steps to reproduce the issue:**

1. set MINIKUBE_HOME=G:\Internet\MyKube
2. minikube start

Well despite telling minikube to work with folder MyKube in the G drive
it still creates file **config** in folder **.kube** in folder %USERPROFILE%

I think this is not a critical bug, but it is one.

I expected to get this folder structure
[code]

[code]

[2020-03-30 17:29] sharifelgamal commented on #7322
I think having a non-default `--short` option is totally fine, also `version` doesn't currently support `--output` but it wouldn't be hard to do.

[2020-03-30 17:49] priyawadhwa commented on #7166
@zacharysarah great, I'll assign you to the issue. Let me know if you have any questions.

[2020-03-30 18:28] judimator commented on #7256
Much appreciated. It really helped! Thanks!

[2020-03-30 19:18] AFMiziara commented on #3036
I did that and also had to restart `dnsmasq` to make it work:
[code]

[2020-03-30 19:34] afbjorklund commented on #7322
It's like total anarchy in the cloud native world, not only about the "silent" `v` in the versions...

[code]
[code]

[2020-03-30 19:51] tstromberg commented on #7323
The `.kube` folder is not controlled by MINIKUBE_HOME, because it needs to be found by Kubernetes tools like `kubectl` which know nothing about minikube.

If you want to set the location of `.kube\config`, use the `KUBECONFIG` variable documented here:
 https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/

Please let me know if this helps. If nothing else, it sound

[2020-03-30 20:24] afbjorklund commented on #7322
Like so:
[code]

Same as `kubectl version` options.

[2020-03-30 20:24] tstromberg commented on #7256
Thank you for the confirmation. To fix this properly, we'll need to fix the dashboard deployment to either reconcile or delete the existing clusterrolebinding.

Help wanted!

[2020-03-30 20:28] tstromberg commented on #7256
If someone is interested in chasing this down. I'd first see if there is anything that can be done  to reliably reconcile a role binding here:

https://github.com/kubernetes/minikube/blob/master/deploy/addons/dashboard/dashboard-clusterrolebinding.yaml

If not, here's an example place where one could introduce a specific hack to query the apiserver for a role binding and delete it before enablemen

[2020-03-30 20:37] eashi commented on #7062
I can take the first stab implementing this if you folks like the idea.

[2020-03-30 20:41] tstromberg commented on #7318
As best as I can tell, the 503 is a docker or kubelet configuration issue.

It seems unlikely, but is it possible to check if minikube v1.9.0 fixes it?

[2020-03-30 20:52] tstromberg commented on #7318
It looks like the fatal error was staring right at me

[code]

The dashboard can't access the apiserver at it's pod IP. Any idea why this might be? Aggressive firewall perhaps?

FWIW, you may get where you are trying to go faster with the `docker` driver rather than the `none` driver, which can be rather more complicated.

[2020-03-30 21:04] sharifelgamal commented on #7062
I like the idea of automatically translating from the old profile format to the new one, I would hope that we wouldn't change the format so often that need to formally version each release, but I would be happy to review a PR to fix this.

[2020-03-30 21:09] peterlin741 commented on #7322
Looks great! we'll mainly be using the `./out/minikube version -o json` flags, but good to know the other options are also available

[2020-03-30 21:10] peterlin741 commented on #7322
Looks great! we'll mainly be using the `./out/minikube version -o json` flags, but good to know that the other options are available

[2020-03-30 21:18] priyawadhwa commented on #6196
Looks like this has been resolved, I'll go ahead and close this issue.

[2020-03-30 21:18] #6196 closed

[2020-03-30 21:22] priyawadhwa commented on #6354
Hey @serhatcetinkaya thanks for pointing me to the docs! They actually look pretty comprehensive to me, so I'll go ahead and close this issue.

However, we're working on fixing up our documentation this week. If you'd be interested in helping out, here's a list of issues we need help with that you can take a look at:

https://github.com/kubernetes/minikube/issues?q=is%3Aopen+is%3Aissue+label%3A%22

[2020-03-30 21:22] #6354 closed

[2020-03-30 21:27] priyawadhwa commented on #7323
For documentation, we could clarify that MINIKUBE_HOME:

- is used only by minikube
- doesn't include anything related to Kubernetes tools (`kubectl`)

in our documentation around environment variables:

https://minikube.sigs.k8s.io/docs/reference/environment_variables/

If anybody would be interested in updating the documentation, I'd be happy to review any PRs.

[2020-03-30 21:33] priyawadhwa commented on #6165
Hey @sesky4 you can use the `minikube pause` and `minikube unpause` commands to pause kubernetes in minikube. Your application will continue to run, but kubernetes will be paused until you unpause it. This should reduce your overhead by a good amount.

[2020-03-30 21:40] priyawadhwa commented on #5824
If anybody would be interested in taking on this issue and fixing our docs, we just need to include that if installing with brew, you may need to run `brew link minikube` for installation to complete successfully.

We can add that in our docs here: https://github.com/kubernetes/minikube/blob/master/site/content/en/docs/Start/macos.md

If anyone is interested in taking on this issue, I'd be happy t

[2020-03-30 23:16] hendisantika commented on #5824
OK. Let me try @priyawadhwa.

[2020-03-31 00:39] priyawadhwa commented on #5824
@hendisantika great! I'll assign you to the issue

[2020-03-31 01:38] georgedelacruz213 commented on #7313
Thanks @tstromberg

This might be a hardware issue and not in minikube. Closing this ticket.

[2020-03-31 01:38] #7313 closed

[2020-03-31 02:07] schwichtgit commented on #5765
hello ...

I just tested to commit
{code}
git diff  deploy/iso/minikube-iso/board/coreos/minikube/linux_defconfig
diff --git a/deploy/iso/minikube-iso/board/coreos/minikube/linux_defconfig b/deploy/iso/minikube-iso/board/coreos/minikube/linux_defconfig
index 93ddba23b..9611b6a9a 100644
--- a/deploy/iso/minikube-iso/board/coreos/minikube/linux_defconfig
+++ b/deploy/iso/minikube-iso/board/coreos/mi

[2020-03-31 02:54] Toady00 commented on #3869
I have previously run the elasticsearch operator quickstart on minikube without issue. I upgraded minikube and deleted my old hyperkit based minikube server. Running through ES quickstart gave me this exact same error. I've since changed the version of kubernetes in minikube via `minikube config set kubernetes-version 1.16.0` and created a new server. Quickstart works fine with that version of kub

[2020-03-31 04:34] yusufharip commented on #94
Hey @sharifelgamal i'm running minikube v1.9.0 on MacOS Catalina and get this error <br>

$ minikube node add
🤷  This control plane is not running! (state=Stopped)
❗  This is unusual - you may want to investigate using "minikube logs"
👉  To fix this, run: minikube start

first install minikube with this command
$ minikube start --driver=docker

[2020-03-31 05:13] tstromberg commented on #5765
@schwichtgit - please do!

[2020-03-31 05:35] SMillerDev commented on #5824
The real solution is to uninstall the cask `brew cask uninstall minikube` before you install the formula `brew install minikube`

[2020-03-31 07:06] Brenk7 commented on #7162
I'm experiencing the same issue with v1.9

[code]

[code]
[code]
[code]

[2020-03-31 08:08] dexhunter commented on #5392
@tstromberg Hi, thanks for the report, just wonder which version of minikube should I download to get it working?

[2020-03-31 08:20] jkornata commented on #7296
I can confirm that this binary fixes service listing issue.

[2020-03-31 09:05] eoinreilly93 commented on #7318
I'm not sure why that might be. I'll have to enquire about it and get back to you.

I tried using the docker driver but I am getting timeout exceptions as it is trying to access the internet to download more docker images. If I want to install using the docker driver, do I need to install it locally first using the `--driver=docker` as opposed to the `--driver=virtualbox` to get all the correct ca

[2020-03-31 09:10] jkornata opened #7332 "docker: Ingress not exposed on MacOS"
**Steps to reproduce the issue:**
I can't access ingress on the fresh installation. It's on MacOS, with docker for mac and kubernetes _disabled_ in docker for mac.

1. `minikube start --vm-driver=docker --kubernetes-version v1.14.0`
2. `minikube addons enable ingress`

Issue is not affected by the kubernetes version. It also happens on the newest. I've tried following [this](https://kubernetes.io/

[2020-03-31 09:24] njduck opened #7333 "Failed: minikube start --driver=docker"
minikube start --driver=docker
Downloading...then nothing

![2020-03-31 17-18-59 的屏幕截图](https://user-images.githubusercontent.com/9101673/78009949-5bb1c900-7374-11ea-8108-7c9a1a725da6.png)

[2020-03-31 09:44] cvila84 opened #7334 "30 second timeout in k8s.gcr.io check"
**Steps to reproduce the issue:**

1. Create a new VM with minikube then stop it
2. Disconnect from the internet
3. Start again the VM

VM starts but there is a big 30s timeout in the middle of the process

[code]

**What was expected?**

I believed we don't need internet to restart an already created VM. For a given version of kubernetes (so provided we don't want to upgrade K8S upon minikube VM

[2020-03-31 09:56] afbjorklund commented on #7333
Possibly related to downloading the preload file from Google servers

[2020-03-31 10:26] SaralSaxena opened #7335 "Windows: runtime: panic before malloc heap initialized"
Issuing this command on PowerShell on windows
C:\Kubernates> minikube.exe start

getting the stack trace as below please advise how to overcome from this

Although after this I can see that in virtual box minikube is running  and on minikube status command I can get this output
[code]

[code]

[2020-03-31 11:08] eoinreilly93 commented on #7318
@tstromberg Judging from that error message, it's trying to access `https://10.96.0.1:443`, is that IP address supposed to be my host machines IP? Because it's not. I'm not sure where it gets the value from.

[2020-03-31 12:18] Edwin-Luijten commented on #7296
I'm experiencing the same on windows:

`
minikube --alsologtostderr -v=3 service **redacted**-account-web
I0331 14:15:10.391902   22188 mustload.go:51] Loading cluster: minikube
I0331 14:15:10.504903   22188 host.go:65] Checking if "minikube" exists ...
I0331 14:15:10.610903   22188 kverify.go:257] Checking apiserver status ...
I0331 14:15:10.644903   22188 kic_runner.go:91] Run: sudo pgrep -xnf k

[2020-03-31 13:27] matjung commented on #7323
I made a few tests:
minikube is able to respect parameter KUBECONFIG
KUBECONFIG must point to a filename - it fails with a path

I appreciate if the environment_variables documentation gets an update.

G:\Internet\KubeMine>minikube start
* minikube v1.9.0 on Microsoft Windows 10 Home 10.0.18362 Build 18362
  - KUBECONFIG=G:\Internet\KubeMine\kubeConfig
  - MINIKUBE_HOME=G:\Internet\KubeMine
* Auto

[2020-03-31 13:38] matjung commented on #7323
I've drafted an update of the environment variables documentation, submitted a pull request and closed the ticket.

[2020-03-31 13:52] #7333 closed

[2020-03-31 14:05] matjung opened #7337 "vbox on Windows: ssh exit status 255: WARNING: UNPROTECTED PRIVATE KEY FILE!"
**Steps to reproduce the issue:**

1. minikube start
2. minikube ssh
3.

**Full output of failed command:**
GuestAdditionsVersion="5.2.32 r132056"
GuestAdditionsFacility_VirtualBox Base Driver=50,1585660609196

I0331 15:44:42.658895    3920 main.go:110] libmachine: Using SSH client type: external
I0331 15:44:42.658895    3920 main.go:110] libmachine: &{[-F /dev/null -o ConnectionAttempts=3 -o Conn

[2020-03-31 14:10] matjung commented on #7337
Is it possible to tell minikube which SSH client with what parameters to use?

[2020-03-31 14:12] matjung commented on #7337
I am wondering if the issue could be related with the Virtual Box Guest Additions Version.

[2020-03-31 14:29] eox-dev commented on #5392
I'm curious what others' experience using Docker, kubectl, and minikube in WSL2 is. I personally had to throw in the towel after a few weeks and go back to my Ubuntu partition for a couple reasons:

1. Would get this error every single day I turned my machine on and occasionally throughout the day:

    `docker: Error response from daemon: cgroups: cannot find cgroup mount destination: unknown.`

[2020-03-31 16:05] eoinreilly93 commented on #7318
Also, to add additional information to this, when bring the dashboard up on windows using virtualbox, it is brought up with http, not https. Why on CentOS does it seem to use https as opposed to http?

[2020-03-31 16:14] mitloshuk commented on #6070
@tstromberg i have same problem

- **OS**: MacOS Mojave 10.14.6
- **Minikube version**: v1.9.0
- **ISO**: minikube-v1.9.0.iso
- **VM Driver**: hyperkit
- **Install tool**: brew
- **dnsmasq**: not installed

Pinging of any domain OR host `ping 192.168.99.1 -c 180` **gives me**
<details>
$ ping google.com -c 180
PING google.com (172.217.19.238): 56 data bytes

--- google.com ping statistics ---
180

[2020-03-31 16:26] SaralSaxena commented on #7335
below logs typing minikube logs

[code]

[2020-03-31 16:30] sharifelgamal commented on #94
@yusufharip can you open up a new issue and give us a little more detail so we can debug better?

`minikube start --driver=docker -v=3 --alsologtostderr` and `minikube logs` would be helpful.

[2020-03-31 16:44] TroubleConsultant commented on #7256
Hi @tstromberg , I'm finishing up with a client today, and rolling off. I will try to take a look in a couple of days, if nobody else has gotten to it first.
thanks again for your help fixing this!

[2020-03-31 16:55] priyawadhwa commented on #7323
Hey @matjung thanks for submitting #7336

We typically keep issues open until PRs are merged, so I'm going to reopen this.

[2020-03-31 17:03] tstromberg commented on #7332
I suspect something may be missing to forward the port with the docker driver. I don't know if this is a documentation issue or an implementation issue. @medyagh - can you comment?

Do you mind trying to see if it works properly with `--driver=hyperkit`?

[2020-03-31 17:13] tstromberg commented on #7335
The error messages indicate that you may be running low on memory in the VM, but not enough to OOM a process, which is curious:

https://stackoverflow.com/questions/18549324/golang-panic-before-malloc-heap-initialized

Do you mind trying `minikube delete`, and then share the output of:

`minikube start --alsologtostderr`

Thank you.

[2020-03-31 17:14] priyawadhwa commented on #5824
@SMillerDev thanks for clarifying! cc @hendisantika let's include in the documentation:

[code]

[2020-03-31 17:17] tstromberg commented on #7334
Correct, you don't need internet: it's merely a warning to let you know that you may not be able to pull images. I'm curious about the 30 second delay though. That is certainly unintentional and not the behavior on other operating systems:

[code]

We can fix this. Thank you for raising it as an issue!

[2020-03-31 17:32] jlaswell commented on #7323
I'll pick up the `MINIKUBE_HOME` notes part of the documentation if that's alright. https://github.com/kubernetes/minikube/issues/7323#issuecomment-606261180

@priyawadhwa

[2020-03-31 17:38] priyawadhwa commented on #7323
@jlaswell sounds good, thank you!

[2020-03-31 17:41] tstromberg commented on #7334
I'm working on a PR to make this check non-blocking, as well as setting a time-limit around it.

[2020-03-31 18:08] jlaswell commented on #6818
Just started a fresh cluster w/  and confirmed RBAC is enabled by default.

[code]

I'll submit the PR upstream to [kubernetes/website](https://github.com/kubernetes/website), @priyawadhwa.

[2020-03-31 18:35] prasadkatti commented on #5424
https://github.com/kubernetes/minikube/issues/6921 is a dup of this one.

[2020-03-31 19:41] zhuzhenfirst opened #7343 "image-repository in China: unsupported MediaType: "application/vnd.docker.distribution.manifest.v1+prettyjws""
minikube start --image-mirror-country=cn --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers
* minikube v1.9.0 on Microsoft Windows 10 Enterprise 10.0.18362 Build 18362
* Using the hyperv driver based on existing profile
* Using image repository registry.cn-hangzhou.aliyuncs.com/google_containers
* Downloading Kubernetes v1.18.0 preload ...
* Updating the running hyperv "minikub

[2020-03-31 19:55] #7293 closed

[2020-03-31 20:28] tstromberg commented on #7233
@etanshaul - At least In v1.9, we retry cluster creation so long as the cluster was created by this session. We should ensure that this behavior is preserved with this new flag.

[2020-03-31 20:29] tstromberg commented on #7233
To clarify: the intended behavior here is: If startup fails and flag is set:

- Delete the cluster
- Start it again