[2020-08-12 16:36] tstromberg commented on #8981
Do you mind including the output of `minikube logs`, as well as the output of:

* `minikube delete`
* `minikube start --alsologtostderr -v=2`

Thank you!

[2020-08-12 16:37] tstromberg commented on #8981
(At a minimum, we should fix this misleading/confusing error message)

[2020-08-12 17:27] relaxgo commented on #7420
I transfer data from unix socket to tcp port,  it works for me.

` sudo socat UNIX-LISTEN:/var/run/docker.sock,user=<your_user_name>,fork TCP:127.0.0.1:2375`

[2020-08-12 18:07] priyawadhwa commented on #8883
Hey @lingsamuel so it seems like the default value for `config.DockerEnv` is `nil`:

https://github.com/kubernetes/minikube/blob/63bfa7a444693903e87b63d7ee2a3dc739ee2dde/cmd/minikube/cmd/start_flags.go#L207

which seems correct to me for a brand new cluster. Do you still think there's a bug?

[2020-08-12 18:09] medyagh commented on #8936
@srilumpa thank you for reporting this, does this happen consistantly or is it a flake?

I believe this is because the docker container IP was changed
[code]

I believe once we have a static IP for docker containers this error should not happen.
do you mind verifying this happens only as a flake and minikube delete would fix it?

[2020-08-12 18:09] priyawadhwa commented on #8862
@petebirk glad your issue is fixed! I'll go ahead and close this issue.

[2020-08-12 18:09] #8862 closed

[2020-08-12 18:11] medyagh commented on #8936
this PR might fix this issue https://github.com/kubernetes/minikube/pull/8764

but I am still puzzled why we had not seen this issue more often if that is an IP change problem.

[2020-08-12 18:11] medyagh commented on #8936
/triage needs-information
/triage support

[2020-08-12 18:14] priyawadhwa commented on #8823
Hey @dhaneesht thanks for opening this issue.

There are some more details around running with hyperv [here](https://minikube.sigs.k8s.io/docs/drivers/hyperv/), and this issue seems to be a dupe of

https://github.com/kubernetes/minikube/issues/5691

As suggested in https://github.com/kubernetes/minikube/issues/5691#issuecomment-545128647, could you try creating an external switch and see if minik

[2020-08-12 18:14] medyagh commented on #8924
@ale8k I believe the logs is not fully pasted, do you mind sharingt he full logs ?

also do you mind sharing how much memory/cpus your Docker Desktop has ?
Docker Desktop > Settings > Resources ...

and have you tried
[code]

to see if that helps you?

[2020-08-12 18:15] priyawadhwa commented on #8805
Hey @vibhat89 thanks for opening this issue. Could you please provide:

1. The exact `minikube start` command you are running
1. What OS and driver you are using

and, if this works:

[code]

[2020-08-12 18:15] medyagh commented on #8924
/triage needs-information
/triage support

[2020-08-12 18:16] sharifelgamal commented on #8840
So I was able to reproduce this fairly easily on MacOS with the docker driver and docker container runtime with minikube 1.12.2, so this is pretty clearly an issue with the version of kubernetes. Inspecting the crashing pods gives:

[code]

I have no idea why the pods would fail a health check, but it's worth investigating if other k8s versions have this issue or not.

[2020-08-12 18:16] afbjorklund commented on #8982
There is a 1.18.3-3 now

[2020-08-12 18:17] priyawadhwa commented on #8925
If anyone is interested in taking on this documentation PR, please comment here!

[2020-08-12 18:19] priyawadhwa commented on #8898
Could you try upgrading to the latest minikube release and running:

[code]

Additionally, the docker driver is the recommended driver on windows. If you'd be interested in giving that a try, you can run:

[code]
assuming you have docker installed.

[2020-08-12 18:19] medyagh commented on #8900
@bfznj I noticed your minikube version is an ancient version, I am quite amazed that version still works!  :)
I believe your question is more related to kuberentes itself and I assume the version of kuberntes you are using must be very old, is there a reason you don't use an latest minikube version ?
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version

[2020-08-12 18:20] medyagh commented on #8888
@rubenhak @shakerman we fixed a "container exited unexpectedly" bug in minkube v1.12.2 have you tried with latest version and see if the problem still happen ?

[2020-08-12 18:20] priyawadhwa commented on #8847
Hey @ca6a this looks like a dupe of https://github.com/kubernetes/minikube/issues/8152 which was fixed by https://github.com/kubernetes/minikube/pull/8778

Could you try upgrading to v1.12.2 which should incorporate this change and see if that resolves your issue?

[2020-08-12 18:21] medyagh commented on #8882
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[code]

This wi

[2020-08-12 18:22] priyawadhwa commented on #8844
Hey @ScottFred glad this works for you now! I'm going to go ahead and close this issue as it seems upgrading  and purging the home directory fixed it.

[2020-08-12 18:22] #8844 closed

[2020-08-12 18:23] priyawadhwa commented on #8811
Hey @DaudMurtazaRind -- Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `mini

[2020-08-12 18:23] #8811 closed

[2020-08-12 18:23] priyawadhwa commented on #8808
Hey @vkazandzic92  -- Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `miniku

[2020-08-12 18:23] #8808 closed

[2020-08-12 18:25] medyagh commented on #8873
@JParkinson1991 @bendavis78

thats a good catch ! I gotta be honest I am surprised that this undocumentted internal feature of minikube was used by tutorials and user's apps !

[2020-08-12 18:27] priyawadhwa commented on #8799
Hey @MOZGIII looks like minikube isn't finding the image in the local daemon, which is odd because we check for it first here:

https://github.com/kubernetes/minikube/blob/63bfa7a444693903e87b63d7ee2a3dc739ee2dde/pkg/minikube/image/image.go#L169

could you provide the output of `minikube cache add <image> --alsologtostderr`?

[2020-08-12 18:28] medyagh commented on #8840
this seems to be a kuberentes issue and I recommend people to use v1.16.12 instead

[2020-08-12 18:28] #8840 closed

[2020-08-12 18:29] priyawadhwa commented on #8757
If anyone is interested in contributing to documentation, feel free to comment on this issue

[2020-08-12 18:29] sharifelgamal commented on #8848
This dhcp leases issue has long haunted the hyperkit driver, there are any number of reasons that this could happen, ranging from VPN to firewall to antivirus software. Take a look at the options offered in https://github.com/kubernetes/minikube/issues/4206 for more details on how to debug.

The tl;dr is
- Try disabling "Internet Sharing" in your Network Preferences
- If there is a VPN running, tr

[2020-08-12 18:30] medyagh commented on #8834
@bs444 I am curious do you have docker swarm enabled ?
it seems that minikube can not get the network ip
do you mind trying to disable docker swarm and try again?

/triage needs-information
/triage support

[2020-08-12 18:30] sharifelgamal commented on #8866
We changed how some of our CNI handling works in minikube 1.12, you can now just specify `--cni=cilium` in your `minikube start` command. I'd be curious to see if that helps anything.

[2020-08-12 18:32] priyawadhwa commented on #8733
Hey @fzyzcjy sorry for the delayed response -- I'm not sure what to do next either as I'm unfamiliar with multinode and with the dashboard.

I'd suggest asking on the minikube [slack channel](https://kubernetes.slack.com/?redir=%2Fmessages%2Fminikube), where there may be someone who can help?

[2020-08-12 18:32] priyawadhwa commented on #8706
Hey @malocar7 I'm going to go ahead and close this issue as it isn't related to minikube.

[2020-08-12 18:32] #8706 closed

[2020-08-12 18:33] priyawadhwa commented on #8703
Hey @PaoloneM as you are no longer seeing this issue, and I think CNI has recently been fixed, I'm going to go ahead and close this issue. Feel free to reopen at any time if you continue to have problems.

[2020-08-12 18:33] #8703 closed

[2020-08-12 18:34] bs444 commented on #8834
[code]

[2020-08-12 18:35] sharifelgamal commented on #6523
This should be fixed with the newest version of storage-provisioner. I'm going to close this issue for now but if someone continues to see issues, open a new bug or comment here.

[2020-08-12 18:35] #6523 closed

[2020-08-12 18:36] priyawadhwa commented on #8673
Hey @Lavie526 -- could you please upgrade to minikube v1.12.2 and then run the following:

[code]

if that fails, please provide the output of:
- kubectl get po -A
- docker network ls
- docker ps -a

[2020-08-12 18:36] medyagh commented on #8834
can you also please share

"docker images | grep kic"

[2020-08-12 18:37] priyawadhwa commented on #8667
Hey @tangent-devop did you get a chance to try the suggestions in the PR?

[2020-08-12 18:37] bs444 commented on #8834
[code]

[2020-08-12 18:37] medyagh commented on #8834
also I see
[code]
do you live in China or country with restricted access to gcr.io ? you might need to provide your company's image repository that has a mirror version of gcr.io

for example
[code]

[2020-08-12 18:41] medyagh commented on #8834
@bs444 I suspect you dont' have acess to gcr.io
can you try this manually

[code]

[2020-08-12 18:42] sharifelgamal commented on #8905
The line `mkdir: cannot create directory '/var/lib/minikube/binaries': Input/output error` is very suspicious. This isn't a permission error (that usually says `access is denied`), it seems like that part of your file system is corrupt in some way.

[2020-08-12 18:44] priyawadhwa commented on #8661
Hey @jot-hub I tried with:
- minikube v1.12.2 + k8s version 1.18.3 (Default in minikube)
- minikube v1.12.2 + k8s version 1.16.3

and it worked as expected.

Could you try upgrading your minikube version?

[2020-08-12 18:44] bs444 commented on #8834
No I am not in China. The trouble is that https is proxied with a custom CA certificate. I am trying to let minikube to trust this certificate authority, (https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/)

Even if I change minikube to point to Artifactory

I do not agree with your recent title change of this ticket. Should still be:

"Minikube fails to copy PEM root CA certificate to /etc

[2020-08-12 18:45] priyawadhwa commented on #8637
If anyone is interested in contributing a PR, please comment here.

[2020-08-12 18:45] priyawadhwa commented on #8634
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  Whether restarting docker resolves the

[2020-08-12 18:45] #8634 closed

[2020-08-12 18:45] #8625 closed

[2020-08-12 18:46] priyawadhwa commented on #8622
Hey @Phelan164 could you please provide the output of:

- kubectl describe po minio-5f4dc8cf46-k4v6r
- kubectl logs minio-5f4dc8cf46-k4v6r

[2020-08-12 18:46] #8604 closed

[2020-08-12 18:47] sharifelgamal commented on #5029
This is still an outstanding issue affecting all Windows users.

[2020-08-12 18:47] medyagh commented on #8708
@saikatHi6 if u upate to latest version minikube will advice you,
unfortuantely thats limitation of VMs you if you need more resource you neeed bigger ram, if you use 80% of your ram it will not be a good experience.

also Virtualbox is not best driver, I recommend using docker driver which would allow you use ram dynamically

[2020-08-12 18:47] #8708 closed

[2020-08-12 18:48] bs444 commented on #8834
If you have instructions on how to create a remote gcr.io repository inside of Artifactory, point me to it. I cannot find such instructions on how to create an image mirror for gcr.io, especially without login.

[2020-08-12 18:48] priyawadhwa commented on #8595
Hey @kapil-saratkar sorry for the delayed response. Did any of the suggestions in the error message work for you?

Alternatively, the docker driver is our recommended driver on Windows. If you have docker installed, could you upgrade to the latest version of minikube (v1.12.2) and try:

[code]

and see if that fixes your issue?

[2020-08-12 18:48] medyagh commented on #8699
podman 2 is not supported by minikube due to a lot of podman 2 issues

[2020-08-12 18:48] #8699 closed

[2020-08-12 18:48] medyagh commented on #8639
Hi @REHMAN-AFZAL , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-08-12 18:48] #8639 closed

[2020-08-12 18:49] medyagh commented on #8627
Hi @wasiqanwar , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

Meanwhile have you tried ou

[2020-08-12 18:49] #8627 closed

[2020-08-12 18:49] priyawadhwa commented on #8568
Hey @shayanjalil the  `none` driver is only compatible with Linux. I'd suggest running Windows with the docker drivre via:

[code]
if you have docker installed.

[2020-08-12 18:50] medyagh commented on #8606
Hi @, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-08-12 18:50] #8606 closed

[2020-08-12 18:50] priyawadhwa commented on #8568
@Umar-Basharat103 similarly, I'd recommend using docker on ubuntu as well as it's more reliable. Do you have docker installed?

[2020-08-12 18:50] bs444 commented on #8834
Specifically, I'm trying this:

https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/#x509-certificate-signed-by-unknown-authority

[2020-08-12 18:51] medyagh commented on #8594
@usernameisnull --log_dir is not a supported minikube flag, but I would accept a PR that would add this functioanlity

[2020-08-12 18:51] #8594 closed

[2020-08-12 18:51] sharifelgamal commented on #8902
Could you post the output of `minikube start -v 5 --alsologtostderr`? That should give us more information to work with to help.

[2020-08-12 18:51] priyawadhwa commented on #8559
Help wanted!

[2020-08-12 18:52] medyagh commented on #8579
Hi @, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-08-12 18:52] #8579 closed

[2020-08-12 18:52] medyagh commented on #8567
Hi @, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

Meanwhile have you tried out newest dr

[2020-08-12 18:52] #8567 closed

[2020-08-12 18:53] #8550 closed

[2020-08-12 18:53] bfznj commented on #8900
*   minikube version: v1.12.2
  *   kubectl version v1.18.6
  *   docker Version: 19.03.12

But I also realized after the upgrade, the hosthome folder is no longer there in the minikube VM, so I can't map a host volume any more to the VM and then to Pods.

Someone pointed to local persistent volume. But it seems to work only for base node, not VM based node. would you mind share a trick?

thanks m

[2020-08-12 18:53] priyawadhwa commented on #8517
Hey @irtaza909 are you still seeing this issue?

[2020-08-12 18:53] medyagh commented on #8564
@bahtou have you tried recently we had an update on storage provisioner ? do you mind sharing with us if you gave up on minikube or found a solution ?

[2020-08-12 18:53] shayanjalil commented on #8568
@priyawadhwa in my comment I mentioned that I'm following [this](https://kubernetes.io/blog/2020/05/21/wsl-docker-kubernetes-on-the-windows-desktop/#minikube-updating-the-host) blog to get minikube up and running inside a Linux environment using WSL on Windows. This blog doesn't ask to install docker in Linux. It says that WSL will use the Windows installation for docker.

[2020-08-12 18:54] medyagh commented on #8510
Hi @, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-08-12 18:54] #8510 closed

[2020-08-12 18:54] priyawadhwa commented on #8508
Hey @mazzystr are you still seeing this issue?

[2020-08-12 18:54] medyagh commented on #8507
@doublefx do you have this issue with docker driver and laters verison of minikube on windows?

[2020-08-12 18:55] priyawadhwa commented on #8481
Hey @9kranti were you able to try upgrading?

[2020-08-12 18:55] medyagh commented on #8504
glad to see it was solved

[2020-08-12 18:55] #8504 closed

[2020-08-12 18:55] medyagh commented on #8498
Hi @, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-08-12 18:55] #8498 closed

[2020-08-12 18:56] bahtou commented on #8564
@medyagh I'll take a look tonight.

[2020-08-12 18:56] sharifelgamal commented on #8812
Are you sure you're creating a deployment when you're running `kubectl run` there? What does `kubectl get deployment -A` return?

For `kubectl delete` you always need to specify the resource type (`kubectl delete pod hello-minikube` in this case) or the fully qualified name (`pod/hello-minikube`)

[2020-08-12 18:57] priyawadhwa commented on #8394
Hey @jetxu this looks like a dupe of https://github.com/kubernetes/minikube/issues/8163 which was recently fixed. Could you trying with minikube v1.12.2 and see if that fixes your issue?

[2020-08-12 18:57] tstromberg commented on #8873
@medyagh - it's not so undocumented any more! https://minikube.sigs.k8s.io/docs/handbook/host-access/

@priyawadhwa has more context - but my understanding was that kubelet populates the host /etc/hosts into each pod at creation time. I can confirm that this does not appear to be happening, however:

[code]

Here is the output:

[code]

I expected to see `host.minikube.internal` listed, but it is

[2020-08-12 18:57] medyagh commented on #8402
@shehryarhashmi71 @irtaza909 my guess is you are using a VPN, I suggest using the docker driver,

have you tried out newest driver Docker Driver with latest version of minikube?
you could try
minikube delete
minikube start --driver=docker

for more information on the docker driver checkout:
https://minikube.sigs.k8s.io/docs/drivers/docker/

[2020-08-12 18:57] #8402 closed

[2020-08-12 18:57] #8791 closed

[2020-08-12 18:57] #8396 closed

[2020-08-12 18:59] medyagh commented on #8384
we dont support podman 2

[2020-08-12 18:59] #8384 closed

[2020-08-12 19:00] medyagh commented on #8927
closing this in favor of Duplicate of #8333

[2020-08-12 19:00] #8927 closed

[2020-08-12 19:00] priyawadhwa commented on #8190
Are you still seeing this issue?

[2020-08-12 19:01] medyagh commented on #8330
@wcjohnson we updated storage provsioner in minikube v1.12.2 do you mind trying with that see if it was fixed?

if not I would be happy to accept a PR that fixes this

[2020-08-12 19:01] priyawadhwa commented on #8121
Great! I'll close this issue.

[2020-08-12 19:01] #8121 closed

[2020-08-12 19:01] priyawadhwa commented on #8043
Looks like https://github.com/kubernetes/minikube/pull/7959 has been merged, are you still seeing this issue?

[2020-08-12 19:02] medyagh commented on #8273
I don't think we have ever tested minikube run in Docker in Docker using Docker Driver. thats 3 Layers of docker in docker

[2020-08-12 19:03] priyawadhwa commented on #7995
@TheAli711 @korivikeerthi could you try upgrading to minikube v1.12.2 and running:

[code]

and let us know if that works?

[2020-08-12 19:04] medyagh commented on #8207
Hi @nishit93-hub , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.
Meanwhile have you tried o

[2020-08-12 19:04] #8207 closed

[2020-08-12 19:05] priyawadhwa commented on #8979
Hey @AquoDev thanks for opening this issue and for being so thorough. This is a dupe of #8242; would you mind if we moved the conversation there so everything is available in once place?

If you could comment on that issue that would be really helpful, and I'll go ahead and close this issue. Thank you!

[2020-08-12 19:05] #8979 closed

[2020-08-12 19:06] medyagh commented on #8156
I believe this was fixed ? @robrich @xAt0mZ  do you mind verifying if this issue was solved by latest verison of minikube?

[2020-08-12 19:07] #8042 closed

[2020-08-12 19:08] priyawadhwa commented on #8964
Hey @oyb001 thanks for opening this issue. I was unable to reproduce this issue building at commit 50a8c9824a7610c954043e041ddb6c078d9d756d

My go version is:
[code]

We recently merged a PR that requires go version 1.14, so I'd recommend:
1. Updating your master branch to HEAD via `git pull origin master`
1. Updating your go version to 1.14

[2020-08-12 19:14] #8033 closed

[2020-08-12 19:14] priyawadhwa commented on #8980
Hey @segevfiner by default minikube has coredns running:

[code]

is this what you're looking for?

[2020-08-12 19:15] medyagh commented on #7952
I dont think we want to do this anymore

[2020-08-12 19:15] #7952 closed

[2020-08-12 19:16] #7931 closed

[2020-08-12 19:17] medyagh commented on #7499
this is more a kubernetes question, if u dont specify that kuberntets will pull the image from public

[2020-08-12 19:17] #7499 closed

[2020-08-12 19:18] medyagh commented on #7298
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

The exact minikube start command line used: preferably with --alsologtostderr -v=8 added.
The full output of the command
The full output of "minikube logs"
Please feel free to do

[2020-08-12 19:18] #7298 closed

[2020-08-12 19:18] segevfiner commented on #8980
That one is for the cluster internal DNS. Handling DNS foe services and pods inside the cluster.

The external DNS setup referenced is for setting another CoreDNS server for out of cluster DNS emulating what you get with Kubernetes external DNS for real Kubernetes deployments where it configures DNS providers like AWS Route53. Similar to what the ingress-dns addon achieves but with the benefits me

[2020-08-12 19:19] medyagh commented on #7145
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

The exact minikube start command line used: preferably with --alsologtostderr -v=8 added.
The full output of the command
The full output of "minikube logs"
Please feel free to do

[2020-08-12 19:19] #7145 closed

[2020-08-12 19:20] #6812 closed

[2020-08-12 19:21] medyagh commented on #6674
changing memory is not possible

[2020-08-12 19:21] #6674 closed

[2020-08-12 19:22] #5729 closed

[2020-08-12 19:23] medyagh commented on #5594
@cglacet do you mind sharing output with latest verison of minikube?

[2020-08-12 19:23] priyawadhwa commented on #8938
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl get po -A`

Thank y

[2020-08-12 19:23] medyagh commented on #4481
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

The exact minikube start command line used: preferably with --alsologtostderr -v=8 added.
The full output of the command
The full output of "minikube logs"
Please feel free to do

[2020-08-12 19:23] #4481 closed

[2020-08-12 19:24] medyagh commented on #3794
closing this in favor of https://github.com/kubernetes/minikube/issues/4324

[2020-08-12 19:24] #3794 closed

[2020-08-12 19:25] andk commented on #8043
Looks good. make test has no problem in my environment. Thanks!

[2020-08-12 19:26] medyagh commented on #3248
@cryptable  have you tried with latest version of minikube I believe it must have been fixed by the PR that added WSL support

https://github.com/kubernetes/minikube/issues/5392

[2020-08-12 19:29] medyagh commented on #8982
it might worth removing cri-o from supported and tested runtimes from minikube, since we don't have bandwith to troubleshoot cri-o packaing problems anymore. I created issues on cri-o package, I think once cri-o can provide stable packaging we can added it back to supported runtimes.

https://github.com/cri-o/cri-o/issues/4074
https://github.com/cri-o/cri-o/issues/4027
https://github.com/cri-o/cri

[2020-08-12 19:46] xAt0mZ commented on #8156
@medyagh I confirm this issue is solved on kubernetes 1.12.2
[code]

[2020-08-12 19:54] #6818 closed

[2020-08-12 19:55] tstromberg commented on #2704
We fixed this by adding support for OpenRC.

[2020-08-12 19:55] #2704 closed

[2020-08-12 20:04] seetaramrao commented on #8981
Hi,
i executed above commands
Microsoft Windows [Version 10.0.18362.959]
(c) 2019 Microsoft Corporation. All rights reserved.

C:\Users\seeta>minikube delete
* Deleting "minikube" in virtualbox ...
* Removed all traces of the "minikube" cluster.

C:\Users\seeta>minikube start --alsologtostderr -v=2
I0812 15:58:08.323672   22156 out.go:191] Setting JSON to false
I0812 15:58:08.327576   22156 start.

[2020-08-12 20:04] seetaramrao commented on #8981
C:\Users\seeta>kubectl get nodes
error: You must be logged in to the server (Unauthorized)

[2020-08-12 20:12] marinetteman2 commented on #4816
Still occurring in 1.2.2 minikube

[2020-08-12 20:58] jot-hub commented on #8661
Thanks @priyawadhwa for checking!
with the latest versions (1.12.2 and k8s 1.18.3)
`minikube start --extra-config=apiserver.v=1` works
`minikube start --extra-config=apiserver.oidc-issuer-url="https://joncarl.auth0.com/"` does not work - i.e. `ps aux |grep oidc` returns no results in `minikube ssh`.

not sure how the parameter makes a difference here

[2020-08-12 21:15] priyawadhwa commented on #8873
@tstromberg so it does seem like the kubelet should be injecting /etc/hosts based on documentation [here](https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/)

But from this PR it seems like there are cases when that doens't happen [here](https://github.com/kubernetes/kubernetes/pull/16052/files#diff-bf28da68f62a8df6e99e447c4351122dR962-R965)

[c

[2020-08-12 21:40] MOZGIII commented on #8799
Sure, here you go:

[code]

[2020-08-12 21:41] MOZGIII commented on #8840
The relevant issue at k8s: https://github.com/kubernetes/kubernetes/issues/93194

[2020-08-12 23:29] #8982 closed

[2020-08-13 00:09] GrahamDumpleton opened #8987 "provisioner: Data corruption if PVC Name is used across namespaces"
As raised in comment:

* https://github.com/kubernetes/minikube/pull/6156#issuecomment-672855468

in PR:

* https://github.com/kubernetes/minikube/pull/6156

a change was made to how directories on disk were named when created by the storage provisioner:

* https://github.com/kubernetes/minikube/pull/6156/files#diff-38e084fc1a153f78c9ebec0cc8eaaff4L60

That is, the change at line 60 from:

[code]

[2020-08-13 00:25] kadern0 commented on #8131
Hi @afbjorklund, @medyagh I've run into this issue again. I thought it was already solved by  #8034  but it was closed. So just to be sure, is nobody working on fixing this issue? If not, I can give it a go.

[2020-08-13 00:31] tstromberg commented on #8987
Oof. That's not a good behavior for the provisioner. Do you mind opening up a PR so that this behaves in a way consistent with your expectations?

[2020-08-13 00:36] GrahamDumpleton commented on #8987
If I were to create a PR, all I would do is give an untested change which set it back to use PVName. I don't know the code base to work out how to retrieve the namespace to change it to incorporate that. Putting it back to PVName though will likely upset people who wanted a more predictable directory path though.

[2020-08-13 00:37] tstromberg commented on #8981
I haven't been able to reproduce it, but the root cause appears to be this error: `api server version match failed: server version: the server has asked for the client to provide credentials`

[2020-08-13 00:37] tstromberg commented on #8981
Could you share the output of `minikube logs`? Thank you.

[2020-08-13 01:11] oyb001 commented on #8964
@priyawadhwa ,I have update minikube and go version, still have that issue
[code]
What happened: make failed with the following **error**
[code]
About go version, the project go.mod show go version is go 1.13
[code]

[2020-08-13 01:52] TheAli711 commented on #7995
@priyawadhwa actyally i was using minikube within an Ubuntu 18.04 VM and now i am using minikube on Windows 10 and Ubuntu 18.04(both are host machines). It's working like a charm.

[2020-08-13 03:33] superbrothers opened #8988 "minikube update-context: invalid memory address or nil pointer dereference"
`minikube update-context` command occurs the following error:
[code]

**Steps to reproduce the issue:**

[code]

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-08-13 04:19] Sticksword commented on #7332
I still am running into this error on Mac despite running `minikube start --vm=true` - any ideas?
I made a stackoverflow question about it https://stackoverflow.com/questions/63388065/minikube-kubernetes-wont-allow-ingress-on-mac-despite-running-as-a-vm

[2020-08-13 05:29] jemygraw commented on #8658
This problem really exists for the following version:
[code]

[2020-08-13 05:30] AquoDev commented on #8979
Yeah sure. that's fine!

[2020-08-13 05:38] AquoDev commented on #8242
_If there's missing data, please let me know and I'll update the issue._

As requested by @priyawadhwa in https://github.com/kubernetes/minikube/issues/8979, I'm showing here everything I could gather from my situation related to this problem. I always seem to hit this problem even after a clean install of this environment.

**Environment:**
Debian 10.5, installed via netinst ISO inside a VirtualB

[2020-08-13 06:08] afbjorklund commented on #8987
Reverting to the previous code seems like the correct thing to do here, I am not sure that "predictable names" was a good feature anyway (for something that automatic allocates storage for you).

It would also be nice with some regression tests for the storage provisioner, so we can avoid things like storing PV on tmpfs or bugs with multiple namespaces (or multiple hosts) - like this one.

[2020-08-13 06:15] afbjorklund commented on #8964
Hmm, that doesn't _look_ like the output from `make` - has this extra \#gosetup stuff ?

It is supposed to look more like:
go build  -tags "..." -ldflags="..." -o out/minikube k8s.io/minikube/cmd/minikube

Are running GNU make, or some other ? (What is the output of `make --version`)

[2020-08-13 06:24] afbjorklund commented on #8982
The problem was that you tried to pin the package version (something that **doesn't work** - without a custom package repository)

`apt-get install -y --no-install-recommends cri-o=1.18.3~2`

Problem is "=1.18.3~2", it is the same issue as in ~#8766~

Upstream only said to pin the package repository, to the wanted subproject - they created one for each branch and major release:

`http://download.o

[2020-08-13 06:29] jemygraw commented on #8658
@BlackCrowned it is right when you first run the `minikube start` command, and when you re-run the `minikube start`, it is wrong. So if you just run a new minikube, you will not reproduce it.

[2020-08-13 06:47] jemygraw commented on #8658
@BlackCrowned I found the code which cause this error:

https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/start_flags.go#L539

`viper.GetStringSlice` does not return the expected slice.

[2020-08-13 06:50] jemygraw commented on #8658
It is a bug caused by package `viper`

[code]

[2020-08-13 06:58] jemygraw commented on #8658
@BlackCrowned I write a simple program to express what happens.

[code]

Output:

[code]

[2020-08-13 07:09] oyb001 commented on #8964
Make Version
[code]

[2020-08-13 07:21] jemygraw opened #8990 "--apiserver-names does not work as expected when you run minikube start a second time"
Related issue: https://github.com/kubernetes/minikube/issues/8658

**Steps to reproduce the issue:**

1. minikube start --apiserver-names=k8s-beta.example.com --apiserver-names=k8s-prod-replica.example.com

Version:

[code]

Details:  it is right when you first run the minikube start command, and when you re-run the minikube start with the same flags, it is wrong. So if you just run a new minikube

[2020-08-13 07:22] oyb001 commented on #8964
@afbjorklund
the first build issue
[code]
So I create a asset.go file, run the follow command

1.install go-bindata soft
2.On project root directory(Ie:/Users/ouyangbin/Downloads/source_code/minikube-master),run the fellow command

go-bindata -nomemcopy -o pkg/minikube/assets/assets.go -pkg assets deploy/addons/...
3.Import Asset packet, change code on translate.go
[code]

[2020-08-13 07:25] srilumpa commented on #8936
@medyagh, thank you for your time on this.

Yes, running `minikube delete` "fixes" it and I am able to start a new minikube cluster properly again

[2020-08-13 07:40] afbjorklund commented on #8964
Both the assets and the translations are supposed to be created for you, so something else is wrong here...

[code]
[code]

You don't have to do those installations (go-bindata) or run those commands manually. Make will do it.

[2020-08-13 07:42] afbjorklund commented on #8964
Something is setting up this extra "Documents/001_work/01_git" stuff for you, that breaks things.

[2020-08-13 08:32] seetaramrao commented on #8981
[
[minikube.log](https://github.com/kubernetes/minikube/files/5067967/minikube.log)
](url)

thank you for your quick response

[2020-08-13 08:54] anencore94 commented on #8614
I found it was caused by the test case in `pkg/minikube/config/profile_test.go` (https://github.com/kubernetes/minikube/blob/master/pkg/minikube/config/profile_test.go#L280)

exactly the `PrimaryControlPlane(cc)` function in "old style case", 79th line in `pkg/minikube/config/proflie.go` make the converted profile and save it in `~/.minikube/profiles/config.json`, since `viper.GetString(ProfileNam

[2020-08-13 08:58] afbjorklund commented on #8637
I don't know if this has performance implications (i.e. when not used), but otherwise go ahead and add it to the config...

[2020-08-13 09:17] oyb001 commented on #8964
@afbjorklund
I use terminal run build, but report undefined: Asset
[code]
Go Env Info

[code]

[2020-08-13 09:39] anencore94 commented on #8614
Temporarily, I decided to create temp profile directory for storing new style format config.json and delete it before test finished in pr #8991

[2020-08-13 09:54] oyb001 commented on #8964
@afbjorklund, I have read Makefile command, add some build paramenter, Build Successful.
Thank you very much, I have close that issue.
[code]

[2020-08-13 09:54] #8964 closed

[2020-08-13 10:05] anencore94 opened #8992 "Is there any prerequisite for executing 'make test' ?"
**Steps to reproduce the issue:**

1. Trying to contribute
2. execute 'make test' in Makefile target
3. error occured in 'make lint' and 'make test'

**Full output of failed command:**
[code]

* my env info
  * ubuntu 18.04
  * go 1.14.4

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-08-13 10:26] afbjorklund commented on #8992
You need to install `libvirt-dev`, in order to build the libvirt ("kvm2") driver - which is unfortunately included in the main repository

#7794

[2020-08-13 10:37] anencore94 commented on #8992
Thanks :) It would be nice contributing docs have such prerequisites section written as #7794 !

[2020-08-13 11:00] Asarew commented on #7604
/remove-lifecycle stale

[2020-08-13 12:14] Evalle commented on #8925
I can take care of it
/assign

[2020-08-13 12:30] fans3210 commented on #8564
Have this issue too when running something like:
`minikube start --driver=hyperkit --mount-string=/Users/medya/t1/pgdata:/data`
However, checked some other issues, when people are using --mount-string they always come with another --mount flag like:
`minikube start --driver=hyperkit --mount-string=/Users/medya/t1/pgdata:/data`

And it solved my issue, I can see my file changes in both minikube vm

[2020-08-13 12:44] ehlesp commented on #8512
I'm having a similar issue like this one, but I think I've noticed something else so I'd like to share my experience here. First, the technical details:

Platform:

- Windows 10 Home (with spanish localization), version 2004, OS Version 19041.388.
- Minikube v1.12.3
- **Hyper-V** enabled by using a hack [explained here](https://www.itechtics.com/enable-hyper-v-windows-10-home/).
- SSD storage.

I'

[2020-08-13 12:59] cwegener commented on #8512
Have you tried using the brand new --wait-timeout flag in 1.12.3?

On Thu, 13 Aug 2020 at 22:44, Eduardo Higueras Ledesma wrote:

[2020-08-13 14:08] jot-hub commented on #8661
update: following sequence of commands worked:
1. `minikube delete`
2. `minikube start --extra-config=apiserver.authorization-mode=RBAC \
--extra-config=apiserver.oidc-issuer-url="https://joncarl.auth0.com/" \
--extra-config=apiserver.oidc-client-id=minikube \
--extra-config=apiserver.oidc-username-claim=http://minikube/email \
--extra-config=apiserver.oidc-groups-claim=http://minikube/groups \
--

[2020-08-13 14:42] Jimmyjim123 opened #8994 "How to attach new disk to Minikube in Virtualbox?"
**Steps to reproduce the issue:**

*Note im using Virtualbox

1.  minikube start --driver=virtualbox --cpus=4 --memory=6g --disk-size='30g' --network-plugin=cni --enable-default-cni --container-runtime=cri-o --addons=default-storageclass ingress

2.  Power off Minikube

3. Go to settings > storage and add harddrive.

4. Run the start command from step again.

How do i mount this new hard disk to m

[2020-08-13 17:28] priyawadhwa commented on #3207
Hey everyone! We've made some overhead improvements in the past few months:

1. Removed the addon manager and rewrote it (https://github.com/kubernetes/minikube/pull/6046)
1. Set leader-elect=false by default (https://github.com/kubernetes/minikube/pull/8431)
1. Scaled down coredns to 1 pod (https://github.com/kubernetes/minikube/pull/8552)

On my machine, with the hyperkit driver, resting CPU of

[2020-08-13 17:28] #3207 closed

[2020-08-13 17:57] ehlesp commented on #8512
I wasn't aware of that option, but I've made a test with it. I've started minikube with a 10 minutes wait timeout:

[code]

And exactly for ten minutes the machine has been running on the Hyper-V. Right after those ten minutes it deleted and recreated itself again (also returning the timeout error). Before those 10 minutes ended I checked the minikube node status:

[code]

My Hyper-V configuration

[2020-08-13 18:13] priyawadhwa commented on #8980
@segevfiner thanks for clarifying! Would you be interested in contributing this addon?

If so, documentation can be found here: https://minikube.sigs.k8s.io/docs/contrib/addons/

[2020-08-13 18:15] sharifelgamal commented on #8906
I suspect we upgraded the version of the preload tarballs, does this happen on subsequent starts?

[2020-08-13 18:16] priyawadhwa commented on #8962
Hey @mallow111 so the --extra-config flag passes in additional flags to whatever resource you specify (in this case, apiserver)

The formatting should look like this:

[code]
since the flag is called `--oidc-issuer-url ` -- [documentation here](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/)

Does that work?

[2020-08-13 18:18] priyawadhwa commented on #8992
@anencore94 I totally agree that documentation around this would be great. I'm going to close this issue as a dupe of #7794 -- if you'd be interested in taking it on please let me know!

[2020-08-13 18:18] #8992 closed

[2020-08-13 18:18] sharifelgamal commented on #8768
I'm going to go ahead and close this issue. Please reopen it if the issue persists.

[2020-08-13 18:18] #8768 closed

[2020-08-13 18:19] priyawadhwa commented on #7794
/remove-lifecycle stale

This should be mentioned as a prereq for running `make test` as mentioned in #8992

[2020-08-13 18:21] priyawadhwa commented on #8977
Hey @aromalsbabu looks like minikube can't find the config for some reason:

[code]

it's a bit odd that even after deleting ~/.minikube this was still broken.

I'm not sure if this will work, since manually deleting ~/.minikube didn't , but could you try:

[code]

and let me know if that fixes your issue?

[2020-08-13 18:24] sharifelgamal commented on #8762
Yeah, it would seem that whatever version of kube-apiserver in use doesn't accept the `--token-auth-file` despite it definitely being there in documentation. That's not the only missing command line parameter in that usage text too.

[2020-08-13 18:24] priyawadhwa commented on #8947
Hey @Eduard-Voiculescu so we typically include both tag and digest so that in case the tag is reassigned incorrectly to a new image, users won't be downloading something we didn't intend them to download.

In this case, minikube would indeed stop working without the `--base-image` flag passed in...it's kind of a tradeoff between that and users downloading a potentially corrupted image.

[2020-08-13 18:32] priyawadhwa commented on #8944
Hey @igorpalant do you have multiple clusters running when you try to forward the non default cluster?

You can find out via

[code]

[2020-08-13 18:32] sharifelgamal commented on #8732
You can use driver mounts as an alternative to 9p mounting, although that isn't supported in kvm2. It would require use of another driver (virtualbox perhaps?).

[2020-08-13 18:34] sharifelgamal commented on #8728
Did either of the above suggestions works @redoz94?

[2020-08-13 18:37] priyawadhwa commented on #8770
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether this fixes the issue:

[code]

Thank you for sharing your experience!

[2020-08-13 18:37] #8770 closed

[2020-08-13 18:38] sharifelgamal commented on #8680
Hey @kumarnitesh2000, do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank you for sharing your experience!

[2020-08-13 18:38] priyawadhwa commented on #8773
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether running `minikube delete && minikube start --driver=virtualbox -v=3 ` resolves the issue
* W

[2020-08-13 18:38] #8773 closed

[2020-08-13 18:38] priyawadhwa commented on #8788
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  If `minikube delete && minikube start`

[2020-08-13 18:38] #8788 closed

[2020-08-13 18:39] priyawadhwa commented on #8797
Hey @Lavie526 are you still seeing this issue?

[2020-08-13 18:40] priyawadhwa commented on #8815
This feature is currently in progress, thanks @11janci !

[2020-08-13 18:41] priyawadhwa commented on #3628
I'm going to close this issue, as it seems that this has been done and the storage provisioner image has been upgraded since.

If anyone thinks this issue should remain open , please reopen this issue by including /reopen in your comment.

[2020-08-13 18:41] #3628 closed

[2020-08-13 18:42] priyawadhwa commented on #7447
It looks like this is working with registry mirrors as well! I'm going to go ahead and close this issue; but if anyone is still seeing errors please reopen by including /reopen in your comment.

[2020-08-13 18:43] priyawadhwa commented on #8494
Hey @iamtheindian, are you still seeing this issue?

[2020-08-13 18:47] priyawadhwa commented on #8554
@afbjorklund on `cache add`, if using crio runtime, after loading the image could we just run through all of the images and retag the ones prepended with `localhost/`?

From what I understand, it's nontrivial to get the name of the image that's been loaded in from a tarball, and this could be a workaround.

[2020-08-13 18:51] mallow111 commented on #8962
@priyawadhwa  hi, thanks for the response, no, it did not work, can you guys try the latest version and pass some of the oidc flags since i see other post mentioning that oidc flag with the latest version has issue too. I tested in minikube version 1.7,  it will take the flag and work.

[2020-08-13 18:52] sharifelgamal commented on #8044
This should be fixed in minikube 1.12. Please reopen if not.

[2020-08-13 18:52] #8044 closed

[2020-08-13 18:54] priyawadhwa commented on #8647
Hey @mahmoudshirivaramini did using the apiserver certs resolve your issue?

[2020-08-13 18:54] priyawadhwa commented on #8659
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-08-13 18:54] #8659 closed

[2020-08-13 18:54] sharifelgamal commented on #8254
Hey @Minshu123  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Thank you for sharing your experience!

[2020-08-13 18:54] #8254 closed

[2020-08-13 18:55] priyawadhwa commented on #8674
Hey @avsej as we explicitly don't support podman 2, I'm going to close this issue. Please open another if you have any more questions!

[2020-08-13 18:55] #8674 closed

[2020-08-13 18:55] priyawadhwa commented on #8680
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-08-13 18:55] #8680 closed

[2020-08-13 18:57] priyawadhwa commented on #8701
Hey @olivierots you can run minikube from a VM, it just may require some additional work.

On a Linux VM, if you have docker installed you may be able to run `minikube start --driver docker`. If nested virtualization is enabled, you may be able to run with `--driver=kvm2`. And, if neither of those is available, you may be able to use the none driver, which requires root permissions and runs direct

[2020-08-13 18:58] priyawadhwa commented on #8722
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
* The output of the suggestions in my prev

[2020-08-13 18:58] #8722 closed

[2020-08-13 20:43] vincentjocodes commented on #8668
@afbjorklund I see, thanks for taking a look. I think we can close this for now. We have a few members with Ubuntu boxes that can test linux and we will go that route.

[2020-08-13 21:02] segevfiner commented on #8980
Looking into this further, there are some things to iron out first:

First, the setup in the tutorial there is not the cleanest, I tried to make a simpler one here using just helm to get started:
[code]

<details><summary><code>coredns-values.yaml</code></summary>

[code]

</summary>
(Yes, had to copy that entire large block from the `values.yaml` cause it's an array 🤷‍♂️ )

And after it is all up

[2020-08-13 21:12] BlackCrowned commented on #8658
@jemygraw Thank you for looking into this and creating a new issue!

[2020-08-13 21:19] jaganrajagopalme commented on #8773
Hi Team

Do you have set up for guide installation on window 10 and hyper v machine

REGARDS
JAGAN

On Fri, 14 Aug 2020, 00:08 priyawadhwa, <notifications@github.com> wrote:

[2020-08-13 22:03] coreyperkins opened #8995 "Error in configuration: unable to read client-cert ...client.crt for minikube due to open client.crt: no such file or directory"
Error in configuration:
* unable to read client-cert /Users/me/.minikube/profiles/minikube/client.crt for minikube due to open /Users/me/.minikube/profiles/minikube/client.crt: no such file or directory
* unable to read client-key /Users/me/.minikube/profiles/minikube/client.key for minikube due to open /Users/me/.minikube/profiles/minikube/client.key: no such file or directory
* unable to read ce

[2020-08-13 23:04] #8995 closed

[2020-08-13 23:04] coreyperkins commented on #8995
The certs needed to be embedded for MiniKube.

[2020-08-14 01:23] lingsamuel commented on #8883
My fault, I forget to close this. The problem I encountered is a bug in the test, which I already fixed it in #8885

[2020-08-14 01:23] #8883 closed

[2020-08-14 02:10] anencore94 commented on #7794
If no one is taking on this issue now, I would love to add that section on contributing docs @priyawadhwa

[2020-08-14 04:30] anencore94 commented on #7794
/assign @anencore94

[2020-08-14 05:41] chukmunnlee commented on #8756
I manage to get enable the ingress add on by enabling cni and install Cilium. Have not tried with other providers

[2020-08-14 07:19] gupf0719 opened #8997 "failed to download kic base image or any fallback image (unable to access gcr.io)"
~ minikube start

Pulling base image ...
E0814 15:09:05.833724    5268 cache.go:175] Error downloading kic artifacts:  failed to download kic base image or any fallback image
🔥  Creating docker container (CPUs=2, Memory=6144MB) ...
🤦  StartHost failed, but will try again: creating host: create: creating: setting up container node: preparing volume for minikube container: docker run --rm --entrypoi

[2020-08-14 08:39] stiller-leser commented on #8273
I understand that this is a strange concept and not something that seem to make any sense in the first place. However, it is extremly usefull during the development of an operator. It allows for fast and easy local testing. Same for CI use cases. I agree that nobody should do something like this in production, though ;)

[2020-08-14 09:35] a-dyakov-mercuryo opened #8998 "failed to start node: controlPlane never updated to v1.18.0 (x509: certificate mismatch)"
**Steps to reproduce the issue:**

1. minikube start
2. kubectl get pods
`Unable to connect to the server: x509: certificate is valid for 192.168.0.241, 10.96.0.1, 127.0.0.1, 10.0.0.1, not 192.168.0.206`

**Full output of failed command:**

😄  minikube v1.12.1 on Microsoft Windows 10 Enterprise 10.0.19041 Build 19041
🆕  Kubernetes 1.18.3 is now available. If you would like to upgrade, specify: --k

[2020-08-14 10:31] n0npax commented on #8802
/assign n0npax

As
[code]

I believe it may be closed

[2020-08-14 12:37] danmutblix commented on #7538
An absolutely feat! ❤

[2020-08-14 18:05] zak905 commented on #4353
works for me after:
[code]
minikube v1.12.1
kubectl v1.18.3

[2020-08-14 18:15] kschaab opened #9001 "Support --keep-context parameter on minikube stop"
Please add the `--keep-context` parameter to `minikube stop` so that we can indicate to minikube to not switch contexts on stop.

[2020-08-14 18:29] tstromberg opened #9002 "gcp-auth plugin should support image pulls from gcr.io"
As reported in #Slack and seen within two friction logs.

[2020-08-14 18:30] tstromberg commented on #9002
/cc @sharifelgamal

[2020-08-14 18:47] iamtheindian commented on #8494
No, I am done with that, but in a diff way.
Thank you.

[2020-08-14 18:47] #8494 closed

[2020-08-14 19:20] priyawadhwa commented on #8942
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl get po -A`

Thank y

[2020-08-14 19:49] tstromberg opened #9003 "v1.2.2: docker StartHost failures re-use the failed container"
[code]

INFO log attached

[x.log](https://github.com/kubernetes/minikube/files/5076882/x.log)

[2020-08-14 21:52] medyagh commented on #9001
current behaviour:
[code]

in kubectl config get-contexts

but it does NOT have a * on it

because it is not Active

so you want us to Active the context, even though there is no cluster ?

I suspect that would add all sort of weird issues, such as you would get Api Errors, when you do, kubectl get pods

why would you want a Not Actibe cluster to be shown active?

if you want list of all context (

[2020-08-14 23:51] yingfengxiaowangzi opened #9005 "nil image for registry.cn-hangzhou.aliyuncs.com/google_containers/storage-provisioner:v2"
**重现问题所需的命令**：
minikube start --vm-driver=virtualbox --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers
**失败的命令的完整输出**：<details>
😄  minikube v1.12.3 on Darwin 10.15.5
✨  Using the virtualbox driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🏃  Updating the running virtualbox "minikube" VM ...
E0815 07:42:42.159096   23661 cache.go:63]

[2020-08-15 00:32] jeffwalsh commented on #7828
also experiencing this with any  helm chart that requires a PV (redis-ha, rabbitmq-ha, prometheus, grafana).

[2020-08-15 01:28] by-maxx commented on #4587
Bcedit command not found what do I do now

[2020-08-15 01:28] by-maxx commented on #4587
Bcedit command not found what do I do now

[2020-08-15 03:04] jickor commented on #4587
hello by-maxx
Could you please give me a screenshot?

[2020-08-15 03:06] jickor commented on #4587
correct command is : **bcdedit**

[2020-08-15 10:22] east4ming commented on #9005
遇到同样的问题, 是不是阿里的镜像库还没同步这个镜像? storage-provisioner:v2 请问 有临时解决办法么?

[2020-08-15 11:24] PA-Devol commented on #7332
minikube delete -> minikube start --vm=true

fixed my issue

[2020-08-15 13:44] Internauta1972 opened #9006 "wsl2: Error creating profile directory: mkdir $HOME/.minikube: permission denied"
I'm trying to start minikube under virtualbox on Ubuntu 18.04 and I always get the same error:

`manuel1972@Dell:~$ minikube start --driver virtualbox
E0815 15:40:05.278085    6733 cloud_events.go:50] Error creating profile directory: mkdir /home/manuel1972/.minikube/profiles/minikube: permission denied
😄  minikube v1.12.3 on Ubuntu 18.04
❗  Both driver=virtualbox and vm-driver=kvm2 have been set.

[2020-08-15 15:23] msaavedra91 commented on #8943
I had the same problem and it was solved by doing a `minikube delete` and then `minikube start`

[2020-08-15 18:13] kschaab commented on #9001
I agree, I'm not sure how useful this is.

[2020-08-16 08:35] afbjorklund commented on #8994
There is no built-in minikube feature to add extra disks (unfortunately).

But you can do it manually, using the `mount` command.
(you would also need to create a mountpoint and format it)

To mount it on boot, you can use `/var/lib/boot2docker/bootlocal.sh`

[2020-08-16 17:38] kingkazzy28 opened #9008 "OutOfMemory,Microsoft.HyperV.PowerShell.Commands.StartVM"
PS C:\WINDOWS\system32> minikube start --vm-driver="hyperv" --hyper-virtual-switch="minikube"                                                                                                   Error: unknown flag: --hyper-virtual-switch
See 'minikube start --help' for usage.

[2020-08-16 18:32] eli-halych commented on #7613
**I had this issue and resolved it in a simple way.**

1. I noticed the keyword forbidden in the error logs and as a rule of thumb ran the Git Bash terminal as an administrator.

2. Removed the minikube cluster by simply running `minikube delete`

3. Then started it again in the terminal as an administrator.

This resolved the issue.

**Some system details:**
Microsoft Windows 10 Home 10.0.18363 B

[2020-08-16 21:02] BobyMCbobs opened #9009 "Add support for qemu:///session (currrent error: no network with matching name 'default')"
# Goal
Support QEMU/KVM User Session as a backend, to enable a rootless Minikube.

QEMU/KVM is already supported, but User Session isn't.
Since QEMU/KVM User Session doesn't require root, this would be the simplest solution for a local rootless cluster.

[2020-08-17 04:05] aromalsbabu commented on #8977
Thanks a lot, @priyawadhwa. Your comments did indeed help me figure out the problem. I cleaned up the minikube folder, started minikube again to see if config.json is getting generated. I noticed that it was getting generated and was getting deleted automatically (while minikube startup was failing). I took a copy of the config.json before it got deleted. From the  config.json, I got to know that

[2020-08-17 06:33] rajurh opened #9010 "error provisioning host: Hyper-V PowerShell Module is not available"
I have been using Minikube from a long time but recently I had enabled wsl2 as well. All looks good.

I am trying to start minikube by deleting all -` minikube delete --all --purge`

![image](https://user-images.githubusercontent.com/15551296/90364014-c65f6900-e0b7-11ea-98a1-3749a726fb34.png)

I have been consistently getting above error, I am not able to understand what's wrong when it was workin

[2020-08-17 06:46] AlekSi commented on #3760
@medyagh May you ask @fejta-bot to keep this issue open?

[2020-08-17 06:46] AlekSi commented on #3760
/remove-lifecycle rotten

[2020-08-17 10:55] Evalle commented on #8757
/assign

[2020-08-17 15:19] priyawadhwa commented on #8977
@aromalsbabu glad this is working now! I'll go ahead and close this issue.

[2020-08-17 15:19] #8977 closed

[2020-08-17 19:21] tempacct4q opened #9013 "hostpath volume not mounting, data kept in /var/lib/docker/overlay2/"
Hey been trying each available examples online to get a hostpath persistent volume to mount into pod, but each one ends up creating a volume in /var/lib/docker/overlay2.  I've attempted on multiple workstations, one using ubuntu, one using centos, one using redhat. all same results.  Also tried changing /rewriting for pod, and statefulset.

so, lets just work this one version:

minikube version: v

[2020-08-17 20:53] briandealwis commented on #8892
It would also be good to use the appropriate mappings per platform.  On macOS it should be

    Docker > Preferences > Resources > Memory

[2020-08-17 20:56] sehz commented on #8867
Bitten by same bug

[2020-08-17 20:57] briandealwis commented on #8892
Two other things I noticed:

- A similar strings has two spaces between _Docker Desktop_ and _Settings_:
https://github.com/kubernetes/minikube/blob/e6d094009aeda27c7047b2ffa6e2ca43e5ef1018/translations/strings.txt#L632
- A similar string uses _Docker icon_:
https://github.com/kubernetes/minikube/blob/e6d094009aeda27c7047b2ffa6e2ca43e5ef1018/translations/strings.txt#L624

[2020-08-17 20:59] #7756 closed

[2020-08-17 21:00] briandealwis commented on #8892
A futher note: my memory settings were 2GB, resulting in the following warning:
[code]

These warnings use two different recommended values, and I dutifully used the first value (2.5GB).

[2020-08-17 21:02] #8971 closed

[2020-08-18 00:52] #8757 closed

[2020-08-18 01:05] simon-swanson-leapyear opened #9016 "add clear documentation that service command on MacOs/Windows needs active terminal seassion"
This works on a colleague's computer, it works in our CI system, and even used to work on my machine. But something happened in the last month or so and now I can't get a service url programmatically. I have no idea where to start debugging, but would be willing to believe this is the result of something I did.

## System ##

minikube and docker were both installed with Homebrew. Running Mac OS 10

[2020-08-18 01:28] eagleboatblue commented on #8720
@priyawadhwa I have same issue like @SMDMANSOOR.  It tried it based on your text. The issue is still there.
minikube delete --all --purge # This should delete your ~/.minikube directory
minikube start

[2020-08-18 01:39] mangoleaf opened #9017 "minikube start --memory flag is broken in v1.12.3"
**Steps to reproduce the issue:**

Run a command which sets a custom memory amount for the cluster with minikube start

minikube start --driver=virtualbox --cpus=6 --memory=15g --disk-size=50g

**Full output of failed command:**

😄  minikube v1.12.3 on Fedora 32
✨  Using the virtualbox driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🔥  Creating virtua

[2020-08-18 03:36] yingfengxiaowangzi commented on #9005
还没解决，没时间搞了；周末再看一下

[2020-08-18 07:30] riteshgurung opened #9018 "Typo error in suggestion"
**Steps to reproduce the issue:**

1. minikube start

**Full output of failed command:**
miniube start --memory=8192mb

Typo error here **miniube** instead of **minikube**

**Full output of `minikube start` command used, if not already included:**

😄  minikube v1.12.3 on Darwin 10.14.6
✨  Using the docker driver based on existing profile
❗  Your system has 16384MB memory but Docker has only 1991MB

[2020-08-18 13:54] fortek-123 opened #9021 "minikube issue"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-08-18 15:16] justinsb commented on #8668
I think this is already fixed upstream in https://github.com/shirou/gopsutil/commit/c69ef749eb2a6bcc6fea1025a7e652bc259b8e2e

[2020-08-18 16:20] darkn3rd commented on #8980
I am using minikube w/ kvm.  I noticed that dnsmasq was setup for minikube, but saw no entries.  It would be nice to have external-dns use dnsmasq.

[2020-08-18 16:29] segevfiner commented on #8980
That dnsmasq is likely listening on a localhost address and is a caching forwarding resolver for the VM itself, rather than a DNS server intended to be queried externally. (Serves the same purpose as systemd-resolved on newer distros). On most distros that use dnsmasq like so, installing dnsmasq directly would often install a second copy that is listening on the interfaces directly and is meant to

[2020-08-18 16:40] darkn3rd opened #9022 "ingress-dns addon docs/setup"
The documentation for ingress-dns is confusing.
It looks like it is instructing users to use resolvconf to configure the new DNS server and then disable resolvconf.
It would be nice to either (or both) explain what is being done for each of these steps and why, as well as have some systemd only instructions, like:

[code]

I also noticed that dnsmasq was running in the background, and that there a

[2020-08-18 18:41] AmitVishwash opened #9023 "docker: service command emits inaccessible URL with WSL2 backend (Windows Home)"
1. I  have  one seleniumgrid.yaml and one service.yaml for exposing the service. I am able to create the pods and service but  I am not able to see the requested resource when i hit the url with the port no.

PS C:\Users\amitv\Downloads\Documents\seleniumgriddemo> kubectl create -f seleniumgrid.yaml
pod/selenium-grid-pod created
PS C:\Users\amitv\Downloads\Documents\seleniumgriddemo> kubectl get p

[2020-08-18 19:31] tstromberg opened #9024 "Warn when /var disk space is limited"
To replicate:

1. Set Docker to 8GB
2. Gather minikube dependencies: `minikube start --download-only`
3. Fill the Docker image cache  up until `docker system df` is full. If you need help doing so, I found this works:

[code]

You'll probably see at this point errors, such as `no space left on device` -- that's a good thing!

4. Run `minikube start`

## Here's what I see

Notice that there is no w

[2020-08-18 19:35] tstromberg commented on #9024
After starting minikube, `docker system df` shows:

[code]

Note that it doesn't say 100% - that's because minikube is running. Once you stop minikube it will say 100%:

[code]

[2020-08-18 19:38] tstromberg commented on #9024
FWIW, I've helped 3 different people this last week with this issue .. hence the priority of `soon`.

[2020-08-18 19:41] tstromberg commented on #9024
Also, this is unlikely to be specific to Docker or KIC, but it's almost certainly exacerbated by the fact that `/var` shares disk space with other images.

[2020-08-18 19:47] tstromberg opened #9025 "Running out of disk should set cluster status to 507 (Insufficient Storage)"
Related to #9024

If `/var` is full, it should be addressed in `minikube status --layout=cluster -o json`.

[code]

Everything looks OK, but it isn't:

[code]

Ideally, I would like to see both the node and cluster state populated with something like this when completely full:

[code]

or if it's nearly out of space:

[code]

Doing so via kubelet DiskPressure check would be ideal, but if need be,

[2020-08-18 20:16] AmitVishwash commented on #9023
@Medya Ghazizadeh

[2020-08-18 20:16] AmitVishwash commented on #9023
@medyagh please have a look

[2020-08-18 20:25] tstromberg commented on #9023
@AmitVishwash - if you open http://127.0.0.1:62274  in your web browser while this is output, what happens?

I suspect that we need to do some trickery with WSL2 port forwards, which seem to be required by home edition?

[2020-08-18 20:28] AmitVishwash commented on #9023
@tstromberg  when i used this command .\minikube-windows-amd64.exe service selenium-srv.. I got this

Starting tunnel for service selenium-srv.
|-----------|--------------|-------------|------------------------|
| NAMESPACE | NAME | TARGET PORT | URL |
|-----------|--------------|-------------|------------------------|
| default | selenium-srv | | http://127.0.0.1:62274 |

After this the tab got o

[2020-08-18 20:33] AmitVishwash commented on #9023
I have the minikube version
minikube version: v1.12.3
and  I have docker desktop for windows and the engine version is   19.03.12...Is this related to some version issue @tstromberg @medyagh

[2020-08-18 20:52] tstromberg commented on #9023
I'm guessing that `minikube service` is not yet compatible with the `Docker` and `Windows Home`.

As an alternative I suggest using `kubectl port-forward` instead. For instance `kubectl port-forward service/hello-minikube 7080:8080`. Please let me know if that works any better.

[2020-08-18 21:02] priyawadhwa commented on #9024
`minikube start` fails for me when /var is filled:

[code]

It would be nice if we could give the user a nicer error message when the "No space left on device" error comes up.

I think we should also warn them ASAP, which would be as soon as the container is created. This means we'll have to go for the "minikube ssh" approach since k8s won't be up yet.

[2020-08-18 21:16] lthistle opened #9027 "Kubelet fails to start - "is not running" or "unhealthy""
**Steps to reproduce the issue:**

1. Install `kubectl` on Ubuntu 18.04 with `apt-get` according to [instructions here](https://kubernetes.io/docs/tasks/tools/install-kubectl/).
2. Install `minikube` according to [instructions here](https://kubernetes.io/docs/tasks/tools/install-minikube/) (using KVM).
3. Run `minikube start --driver=docker`
4. Command hangs for several minutes then fails.

**Full

[2020-08-18 21:28] lthistle commented on #9027
Also, here's the output of `minikube logs`:
<details>

[code]
</details>

[2020-08-18 21:41] lthistle commented on #9027
If you look in the `--alsologtostderr` output, it appears my `/etc/kubernetes` folder is missing the files `admin.conf`, `kubelet.conf`, `controller-manager.conf`, and `scheduler.conf`. Is there a way to generate these files?

[2020-08-18 21:57] medyagh commented on #9024
thats a good idea, I agree

[2020-08-18 22:24] AmitVishwash commented on #9023
@tstromberg ,  the minikube has an internal ip address of
Addresses:
  InternalIP:  172.17.0.3
  Hostname:    minikube

and i have a service with nodePort 30001.

So you want me to run   kubectl port-forward service/selenium-srv 30001:8080  ?. I have tried this but it gives me error: timed out waiting for the condition.

by doing this ->   minikube service selenium-srv --url
* Starting tunnel for

[2020-08-19 01:27] AmitVishwash opened #9030 "minikube service` not working with Docker driver on Windows 10 Pro 10.0.19041 -Build 19041"
I started minikube service on windows 10 pro build 19041.

Please find the attached screenshots
![image](https://user-images.githubusercontent.com/41424238/90581325-94015900-e1e8-11ea-8b8d-3bac9621e769.png)

![image](https://user-images.githubusercontent.com/41424238/90581430-d460d700-e1e8-11ea-9dfa-a12ca4461c36.png)

1. The resource are not accessible at 172.17.0.3:30001. i;e NodeAddress:Nodeport

[2020-08-19 01:29] AmitVishwash commented on #9030
@medyagh please have a look on this. FYI @tstromberg

[2020-08-19 04:21] anencore94 opened #9031 "driver=none sets --extra-config=kubelet.resolv-conf for incorrect path in Ubuntu 16.04"
**Steps to reproduce the issue:**

1. `minikube --vm-driver=none start`  on Ubuntu 16.04
2. then coredns pod's status become CrashLoopBackOff as in #3511

**Full output of failed command:**

Since there isn't any file `/run/systemd/resolve/resolv.conf` in Ubuntu 16.04, The auto-setting `--extra-config=kubelet.resolv-conf=/run/systemd/resolve/resolv.conf` doesn't work.
- https://github.com/kubernet

[2020-08-19 06:40] lukasmrtvy commented on #7332
Why is not possible to expose nodePorts just like kind does it ?

https://kind.sigs.k8s.io/docs/user/ingress/#create-cluster

[2020-08-19 07:34] a-dyakov-mercuryo commented on #8568
Im trying start minikube by this article  [WSL+Docker: Kubernetes on the Windows Desktop](https://kubernetes.io/blog/2020/05/21/wsl-docker-kubernetes-on-the-windows-desktop/#minikube-kubernetes-from-everywhere) and get same error

[2020-08-19 10:44] allir commented on #6709
Thanks @ashmckenzie @ozbillwang

I had the same issue on macOS 1.15.6 and miniukbe v1.12.3. Deleting the `~/.minikube` folder solved it for me as well!

Not sure if it's related but I hadn't used minikube in a long while so I also ran into other issues first where `brew install minikube` wouldn't link the binary, I still had an older "cask" version of minikube installed which I had to `brew cask r

[2020-08-19 11:10] vixus0 commented on #9017
Experiencing the same issue. For me, it defaults to 3900MB.

[2020-08-19 14:07] srinathganesh1 commented on #7344
macOS: minikube is still giving me external ip as `127.0.0.1` (when using minikube tunnel)
- LoadBalancer
- Nginx-Ingress
- minikube ip

is any to fix it? I did read all the comments here

works fine on ubuntu

[2020-08-19 15:05] eox-dev commented on #7344
@srinathganesh1 Nope, no solution at this point. The proposed work around is `kubectl port-forward` or `skaffold --port-forward` if you are using that, but it really isn't a good workaround in development as it will bypass routing issues that will come up in staging and production. At this point, WSL2+kubectl+minikube+docker-driver+nginx-ingress is a no go for local dev is a no go, so I'm still on

[2020-08-19 15:44] scholtalbers commented on #3799
Encountered this error presumably after updating Docker Desktop which added an entry to `/etc/hosts` and changed the permissions of it? Similar to @zach-source `chmod g+w /etc/hosts && minikube stop && minikube start` fixed this for me.

[2020-08-19 15:49] lsamayoa commented on #6468
Had the same issue on 20.04, log out/log in did not worked had to reboot my vm.

[2020-08-19 16:52] douglascamata commented on #8902
This has been a problem for since the very first version of minikube with hyperkit: it never got internet connectivity.

[code]

[2020-08-19 16:54] douglascamata commented on #8902
I can ping IP addresses from inside the VM but DNS resolution doesn't work at all. Any `nslookup` will fail.

[2020-08-19 16:57] douglascamata commented on #8902
I reported the same exact problem, which wasn't solved yet in #5951.

[2020-08-19 17:06] #8988 closed

[2020-08-19 20:30] priyawadhwa opened #9035 "Warn when /var is almost at memory capacity for VM drivers"
Related to https://github.com/kubernetes/minikube/issues/9024

[2020-08-19 21:37] bahtou commented on #8564
[code]

[code]
works in the VM.
Nothing on the outside(host)
`ls /Users/medya/minikube/pgdata`

[2020-08-19 21:44] #9024 closed

[2020-08-19 21:58] medyagh commented on #8131
@srehanpk  on latest minikube I tried enabling swarm on mac and I have no issues, do we still have this issue ?

[2020-08-19 22:23] kadern0 commented on #8131
With latest code, if you try this, it will fail:
[code]

[code]
[code]

I don't think many users will run into this, but the way minikube is filtering the networks is prone to failure, it will pick all networks containing "bridge" and  mix them in a string with new line characters and then it will fail.

[2020-08-19 22:28] medyagh commented on #8131
here I tried on ubuntu as well
[code]

[2020-08-19 22:39] kadern0 commented on #8131
I was looking into this from this issue's perspective #8274 (that I closed in favor of this one because the underlying cause is the same).

[2020-08-19 22:42] medyagh commented on #8274
@markymo5115 I wonder if you have still this issue with latest version ?

[2020-08-19 22:43] medyagh commented on #8131
can you replicate this issue ? @kadern0

[2020-08-19 22:56] kadern0 commented on #8131
Yes, just put you the steps to replicate the issue two comments above using the latest code. (Just create a docker network containing "bridge" before starting minikube)

[2020-08-20 03:36] vigneshsolution opened #9038 "Version compatible issue in kubeflow-kale"
Hi ,

I'm new to kubeflow so looking for support to deploy KALE in kubeflow.
I'm referring this link "https://github.com/kubeflow-kale/kale/blob/master/docker/jupyterlab/Dockerfile.rok" to deploy kubeflow+kale environment but facing below issues.

I'm creating an image in docker.

Attached the screenshot below.

@StefanoFioravanzo Can you guide me to fix this issue.
[kale error.docx](https://githu

[2020-08-20 04:46] prasadkatti commented on #8568
You are using the `none` driver. Do you have docker installed?

[2020-08-20 10:45] khsabhishek opened #9040 "error provisioning host: Hyper-V PowerShell Module is not available"
C:\Users\khsab>minikube start --driver=hyperv
* minikube v1.12.3 on Microsoft Windows 10 Pro 10.0.18363 Build 18363
* Using the hyperv driver based on user configuration
* Downloading VM boot image ...

* Starting control plane node minikube in cluster minikube
* Downloading Kubernetes v1.18.3 preload ...

* Creating hyperv VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...
! StartHost failed, but will

[2020-08-20 10:58] a-dyakov-mercuryo commented on #8568
@prasadkatti docker installed only on host machine. On WSL2 machine, for example `docker <command>` works fine, but there is no docker service

[2020-08-20 11:16] sh-vasily commented on #7995
@sharifelgamal Hello. I has same problem on windows 10, but before starting minikube, i disable vpn on my machine, so i dont know how fix that problem. P.S.: before todays problem, minikube works correctly

[2020-08-20 14:10] chainhead commented on #8940
Any update, work-around on this one, please ?

[2020-08-20 15:06] rcdmoreno opened #9041 "Failed to setup kubeconfig: inspect IP bridge network: No such network: xxx"
 
**Os comandos necessários para reproduzir o problema**: minikube start
 
**A saída completa do comando que apresentou falha**:
E0820 12:01:34.175077   25620 start.go:97] Unable to get host IP: inspect IP bridge network "82af4ec5a3e9\n5da7c2441967".: docker network inspect --format "{{(index .IPAM.Config 0).Gateway}}" 82af4ec5a3e9
5da7c2441967: exit status 1
stdout:

stderr:
Error: No such networ

[2020-08-20 16:23] #9018 closed

[2020-08-20 18:11] medyagh commented on #8131
@kadern0 do you mind sharing me steps ? here I did and I couldn't reproduce

[code]

[2020-08-20 18:15] medyagh commented on #8131
[code]

[2020-08-20 18:30] medyagh opened #9042 "investigate Lock in minikube"
multiple time it was notcied minikube was locked after a failure and next minikube start was waiting on lock

[2020-08-20 21:05] #5682 closed

[2020-08-20 21:05] #9017 closed

[2020-08-20 21:07] colangelo commented on #4206
Looks like for me it's solved.
Running on macOS 10.15.6 (19G2021) and minikube v1.12.3 and I'm not experiencing the problem anymore, while before on my machines it was failing almost 100% of the times.

[2020-08-20 21:12] #7878 closed

[2020-08-20 21:12] #7922 closed

[2020-08-20 21:12] #8319 closed

[2020-08-20 21:15] tstromberg commented on #9042
By design, this can only happen if there are two minikube processes running.

There are two obvious improvements we could make, however:

- If the lock is older than X, kill the minikube process that owns it.
- The lock is currently very course. This is necessary for some drivers, but for KIC, we only need a per-container name lock.

[2020-08-20 21:18] tstromberg commented on #9041
Obrigado pelo relatório. Você poderia compartilhar a saída de:

* `minikube start -v = 1`
* `docker network ls`

Além disso, confirme se a versão mais recente do minikube (v1.12.3) está sendo usada.

[2020-08-20 21:22] tstromberg commented on #9040
Could you please test to see if this command fixes your problem:

`Enable-WindowsOptionalFeature -Online -FeatureName Microsoft-Hyper-V-All`

Then run:

`minikube start --driver=hyperv -v=1 --alsologtostderr`

The additional logging here will help us to see what the underlying command line is that docker-machine is attempting to execute. I found some related issues here:

* https://www.altaro.com/

[2020-08-20 21:24] tstromberg commented on #9038
For kubeflow support, please see: https://github.com/kubeflow/kubeflow - thanks!

[2020-08-20 21:24] #9038 closed

[2020-08-20 21:52] #9021 closed

[2020-08-20 21:54] tstromberg commented on #9016
I think this is related to the `docker` driver, which needs an active terminal session. We switched macOS to use this driver by default a few releases ago, if no local configuration is found. I believe you can get your original behavior by using the hyperkit driver on macOS:

`minikube start --driver=hyperkit`

You can also set it to the default using:

`minikube config set driver hyperkit`

Does

[2020-08-20 21:55] tstromberg commented on #9016
Alternatively, you can also use `kubectl port-forward` to get a port.

[2020-08-20 21:56] tstromberg commented on #9010
This issue appears to be a duplicate of #9040, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-08-20 21:56] #9010 closed

[2020-08-20 21:58] tstromberg commented on #9009
I haven't tested it, but what happens today when you pass `--kvm-qemu-uri=qemu:///session` to `minikube start`?

[2020-08-20 21:59] tstromberg commented on #9008
Your host does not have enough memory to create another Virtual Machine.

If you have Docker installed, I suggest using `minikube start --driver=docker`, so that it may share memory with Docker.

[2020-08-20 21:59] #9008 closed

[2020-08-20 22:02] tstromberg commented on #9006
Try: `sudo chown -R manuel1972 /home/manuel1972/.minikube/`

This should allow you to get passed this permissions issue. Please let me know if it does not.

That said, I do not know if `kvm2` or `virtualbox` are supported in WSL2. You may have better luck using `minikube start --driver=docker`.

[2020-08-20 22:06] tstromberg commented on #8998
This issue appears to be a duplicate of #8981, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-08-20 22:06] #8998 closed

[2020-08-20 22:07] tstromberg commented on #8998
If it helps, I think `minikube delete` may fix your error.

[2020-08-20 22:08] tstromberg commented on #8997
Are you in China by any chance? If so, can you provide the output of `minikube start --alsologtostderr`? I believe we are supposed to fall-back to fetching this image from GitHub.

@medyagh - is that description of the fallback behavior accurate?

[2020-08-20 22:09] tstromberg commented on #8994
There is no command to add or remove storage to minikube, nor is it something we should probably support.

[2020-08-20 22:09] #8994 closed

[2020-08-20 22:11] tstromberg commented on #9031
I didn't think this flag was required for Ubuntu 16.04. What happens if you run `--extra-config=kubelet.resolv-conf=/etc/resolv.conf`?

[2020-08-20 22:21] tstromberg commented on #8765
For most people, `minikube delete` will workaround this issue. If it does not, please provide the output of `minikube start --alsologtostderr -v=1` and `minikube logs`, as there is clearly an authentication issue that needs to get worked out.

Related: #8981

[2020-08-20 23:21] kadern0 commented on #8131
[code]
Cleaning up and fresh start
[code]
All good, now let's break it
[code]
[code]
[code]
List docker networks
[code]
Delete testing network and start minikube
[code]
It works fine again. Do you have a linux box available for testing?

[2020-08-21 00:32] rcdmoreno commented on #9041
saida minikube -v 1
E0820 21:29:52.049607    4506 start.go:97] Unable to get host IP: inspect IP bridge network "a7e9779d92e9\n5da7c2441967".: docker network inspect --format "{{(index .IPAM.Config 0).Gateway}}" a7e9779d92e9
5da7c2441967: exit status 1
stdout:

stderr:
Error: No such network: a7e9779d92e9
5da7c2441967

💣  failed to start node: startup failed: Failed to setup kubeconfig: inspect IP

[2020-08-21 00:35] rcdmoreno commented on #9041
acabei de executar o seguinte comando para apagar seguintes networks:
docker network rm docker_gwbridge kind

E agora funcionou corretamente.

[2020-08-21 00:35] rcdmoreno commented on #9041
minikube status
minikube
type: Control Plane
host: Running
kubelet: Running
apiserver: Running
kubeconfig: Configured

valeu Thomas

[2020-08-21 04:10] anencore94 commented on #9031
@tstromberg The same issue happen with `--extra-config=kubelet.resolv-conf=/etc/resolv.conf`.

coredns pod became crashloopbackoff by loop plugin

[2020-08-21 04:52] a-dyakov-mercuryo commented on #8998
I tried before, didn't help

[2020-08-21 05:00] a-dyakov-mercuryo commented on #8998
Maybe the reason ip is dynamically changing? With virtual switch as External network IP depends on extrnal DHCP (router, gateway)

[2020-08-21 05:01] a-dyakov-mercuryo commented on #8998
Maybe the reason is IP dynamically changing? With virtual switch as External network IP depends on extrnal DHCP (router, gateway)

[2020-08-21 05:42] afbjorklund commented on #9025
Related to #3574

[2020-08-21 05:58] afbjorklund commented on #9009
We decided **not** to support this, because of the issues with creating the networking as user: ~#4288~

Rootless support will be a separate epic feature in minikube, for now it _requires_ root / admin privileges.

[2020-08-21 07:32] vyom-soft commented on #8409
Same here. I am also see this error
$ minikube start --driver=docker
😄  minikube v1.12.2 on Ubuntu 20.04
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing docker container for &quot;minikube&quot; ...
🤦  StartHost failed, but will try again: IPs output should only be one line, got 2 lines
🏃  Updating the running

[2020-08-21 07:37] apagac2 commented on #9041
Also hitting this.

**minikube start command:**  minikube start --driver=docker

**Steps to reproduce the issue:**

1. Have docker installed
2. Run "minikube start --driver=docker"

**Full output of failed command:**

😄  minikube v1.12.3 on Centos 7.8.2003
✨  Using the docker driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
💾

[2020-08-21 08:21] vyom-soft commented on #8409
Yes that worked.

[2020-08-21 08:23] vyom-soft commented on #8603
delete the ./docker/config.json and minikube delete.
this helped me to overcome the issue-

[2020-08-21 08:31] du86796922 commented on #1370
This is still an issue.

/remove-lifecycle rotten

[2020-08-21 08:53] m287867 commented on #4303
Hi
I'am still facing almost the same error when starting minikube !
i tried
and got the following Output :
minikube start --vm-driver=hyperv --alsologtostderr -v=8

PS C:\Users\M287867> minikube start --vm-driver=hyperv --alsologtostderr -v=8
W0821 10:51:42.377252   14668 root.go:241] Error reading config file at C:\Users\SADM-M287867\.minikube\config\config.json: open C:\Users\SADM-M287867\.minik

[2020-08-21 12:41] neetra opened #9047 "ambassador is not a valid addon"
**Steps to reproduce the issue:**
minikube start --driver=hyperv
minikube addons enable ambassador

**Full output of failed command:**

C:\WINDOWS\system32> minikube start --driver=hyperv
* minikube v1.9.2 on Microsoft Windows 10 Enterprise 10.0.17763 Build 17763
* Using the hyperv driver based on existing profile
* Starting control plane node m01 in cluster minikube
* Updating the running hyperv

[2020-08-21 19:41] medyagh opened #9049 "KVM: starting network minikube-net: Network is already in use by interface"
[code]

a seen in integration flakes
https://storage.googleapis.com/minikube-builds/logs/9045/007ad31/KVM_Linux.html#fail_TestFunctional%2fserial%2fStartWithProxy

[2020-08-21 20:47] moonlight16 opened #9051 "initial timeout of 40s passed: 'minikube' resolves to: 92.242.140.2 (unallocated.barefruit.co.uk)"
This feels like a fairly fundamental issue.  I'm unable to start a minikube cluster from my Macbook using the default Docker driver.  I'd rather use Docker, as opposed to VMs.  Docker is setup to use 4 CPUs and 8GB of RAM.

[code]

[code]

I reran with --logstostderr and its a huge output.  I'm hoping this is the relevant info here.  The new line spaces are where it hung out for a long time.

[cod

[2020-08-21 21:14] #9047 closed, assigned to nobody

[2020-08-21 21:19] medyagh opened #9053 "postStartValidations: panic: runtime error: slice bounds out of range"
as seen in github actions kic base build test
[code]

[2020-08-21 21:48] tstromberg opened #9055 "gcp-auth plugin: propagate GOOGLE_CLOUD_PROJECT env"
Something @viglesiasce noticed.

/cc @sharifelgamal

[2020-08-21 21:57] medyagh opened #9056 "multinode docker tests fail in github actions"
recently been failing consistantly
[code]

[2020-08-21 22:02] rkialashaki opened #9057 "minikube 1.12.3 fails to interpret memory unit correctly"
**Steps to reproduce the issue:**

1.  Mac OSX Catalina 10.15.5
2. Docker Desktop for Mac 2.3.0.4
3. brew install minikube
4. From minikube help:
[code]
5. minikube start --cpus 6 --memory 16g

Notice I specify the memory allocation for the minikube container should be 16GB, however, in the output below, you will see minikube creates a docker container of memory 8100MB instead.

**Full output of f

[2020-08-22 00:02] 4v4l0s opened #9059 "X error provisioning host: Failed to start host: creating host: create: precreate: Hyper-V PowerShell Module is not available"
**Steps to reproduce the issue:**

1.! StartHost failed, but will try again: creating host: create: precreate: Hyper-V PowerShell Module is not available
* Creating hyperv VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...
* Failed to start hyperv VM. "minikube start" may fix it: creating host: create: precreate: Hyper-V PowerShell Module is not available

<>----

[2020-08-22 01:38] #9053 closed, assigned to nobody

[2020-08-22 03:26] moritalous opened #9060 "Failed to pull image "gcr.io/k8s-minikube/storage-provisioner-arm64:v2""
**Steps to reproduce the issue:**

I use Raspberry Pi OS 64bit(ARM64) on Raspberry Pi 4.
From version 1.12.2, the `minikube create` command pulls tag v2 of storage-provisioner-arm64, but it doesn't exist in gcr.io. (Only v1.8.1 exists)
Therefore, the storage-provisioner pod will not start.

minikube v1.12.1 work fine
minikube v1.12.2 not work
minikube v1.12.3 not work

**Full output of failed comm

[2020-08-22 06:10] afbjorklund opened #9061 "Build multi-arch manifest for the storage-provisioner-image"
We should move to using a multi-arch, just like kubernetes does...

Same arch images as before, but rename the "top" one to -amd64

And then use `docker manifest` to stitch all the architectures together.

See https://github.com/kubernetes/minikube/issues/6007#issuecomment-574817643

There is some code in kubernetes to do this, that we could borrow:

[code]

[2020-08-22 13:02] Himanshuxone opened #9063 "Connection to server failed: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp <minikube ip>:9090: connect: connection refused""
**Steps to reproduce the issue:**

1. create a grpc server running using grpc port flag / environment variables
2. connect mysql local database using service without selector.
3. create a client in local to connect to running grpc server on minikube service.

**Full output of failed command:**

=> grpc server is running on pods and created a database connection.

**Error**

`Connection to server f

[2020-08-24 00:20] WilliamDenniss commented on #7312
I had this error.

My case: Windows 10. I upgraded to WSL 2.0, and I also upgraded minikube (through Chocolatey). Along the way, something was misconfigured. I had many errors with `minikube start`, and `minikube delete --purge --all` gave this "file in use" error. Uninstalling minikube/reinstalling didn't help either.

I resolved it by restarting in safe mode, and manually deleting the folder `.m

[2020-08-24 01:35] wcjohnson commented on #8330
@medyagh I can confirm the new storage provisioner resolves this problem.

[2020-08-24 07:16] AmanMishra1321 opened #9067 "Unable to pick a default driver. and driver=none is not working in windows 10 home edition"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-08-24 11:30] #4829 closed

[2020-08-24 13:34] #9025 closed

[2020-08-24 15:21] josedonizetti commented on #9049
@medyagh @tstromberg The kvm driver does share the same network for all vms. To change it we need some kind of IPAM, because right now the subnet used on the network is fixed: https://github.com/kubernetes/minikube/blob/master/pkg/drivers/kvm/network.go#L41

We need a different subnet per VM.

[2020-08-24 17:11] medyagh opened #9069 "docker network create : Pool overlaps with other one on this address space"
as seen here https://storage.googleapis.com/minikube-builds/logs/9065/8bc8325/Docker_Linux.html#fail_TestOffline%2fgroup%2fcontainerd

[code]

[2020-08-24 17:31] medyagh commented on #9069
cc: @josedonizetti

[2020-08-24 18:00] WillWcchan opened #9070 "failed to start node: startup failed: wait 6m0s for node: wait for healthy API server: controlPlane never updated to v1.18.3"
**Steps to reproduce the issue:**

1. Running MAC OS Catalina Version 10.15.16
2. Never got kubernetes running before, thus followed the installation guide
3. Have read other issues similar to mine like using minikube delete or even restarting from fresh and it hasn't helped.
4. In the end, executed minikube start

**Full output of failed command:**
<details>

Will@Wills-MacBook-Pro ~ % minikube s

[2020-08-24 18:01] medyagh commented on #8712
done

[2020-08-24 18:01] #8712 closed

[2020-08-24 18:03] #8656 closed

[2020-08-24 19:14] WillWcchan commented on #9070
Somehow fixed it:

[code]

1.  If you're using docker. Log into docker through the command line terminal (docker login -u username)
2.  Execute: **minikube delete --all --purge**
3.  If you've used brew to install minikube, use brew to uninstall minikube
4.  Execute:  **minikube delete --all --purge**   (yes again)
5.  Download minikube directly (using Mac OS):
6.  **curl -LO https://storage.googl

[2020-08-24 19:34] afbjorklund commented on #8712
There seems to be rather long queue times in the actions, before the build even starts ?

https://github.com/kubernetes/minikube/actions/runs/222208951 "Queued 4 hours ago"

[2020-08-24 21:48] #9051 closed

[2020-08-24 22:13] medyagh opened #9072 "Automatically create a PR to update kic-base when Dockerfile changes are merged"
Automate PRs like this https://github.com/kubernetes/minikube/pull/9071

read @afbjorklund comment https://github.com/kubernetes/minikube/pull/9071#discussion_r476205846

[2020-08-25 00:46] medyagh opened #9073 "TestFunctional/parallel/DockerEnv: failed to do status after eval-ing docker-env. error: exit status 2 (apiserver Stopped)"
[code]

as seen here

https://storage.googleapis.com/minikube-builds/logs/9034/a767b64/Docker_Linux.html
https://storage.googleapis.com/minikube-builds/logs/9071/5dc6c83/Docker_Linux.html
https://storage.googleapis.com/minikube-builds/logs/9050/2605872/Docker_Linux.html

it appears to be first time seen here ( past few PRs I checked manually)
https://github.com/kubernetes/minikube//pull/9034

[2020-08-25 06:11] afbjorklund opened #9074 "The release build is reported as modified ("dirty")"
There was some kind of regression to the release process in 1.12.1:

[code]

The only _visible_ change in "hack" is the go version upgrade in 39a4268317e17dd3ed07a4484be7c652fa2dea2c

[code]

So something else is changing the source code during building, changing status:

`Makefile:COMMIT ?= $(if $(shell git status --porcelain --untracked-files=no),"${COMMIT_NO}-dirty","${COMMIT_NO}")`

[2020-08-25 06:17] #8766 closed

[2020-08-25 07:00] lordk911 opened #9075 "minikube v1.12.3 faild to start on Centos 7.4.1708"
$ docker -v
Docker version 17.03.2-ce, build f5ec1e2

$ minikube start --cpus=4 --memory=4096mb --driver=docker
* minikube v1.12.3 on Centos 7.4.1708
* Using the docker driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Pulling base image ...
* Creating docker container (CPUs=4, Memory=7900MB) ...
* Stopping node "minikube"  ...
* Powering off "minikube

[2020-08-25 07:49] vijesh12 commented on #8209
hello guys, I have been facing a similar error
command: minikube start --driver=docker
`😄  minikube v1.12.3 on Debian buster/sid
✨  Using the docker driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
💾  Downloading Kubernetes v1.18.3 preload ...

🔥  Creating docker container (CPUs=2, Memory=2200MB) ...
✋  Stopping node "minikube

[2020-08-25 07:51] vijesh12 commented on #8209
Been facing similar issue
`😄  minikube v1.12.3 on Debian buster/sid
✨  Using the docker driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
💾  Downloading Kubernetes v1.18.3 preload ...

🔥  Creating docker container (CPUs=2, Memory=2200MB) ...
✋  Stopping node "minikube"  ...
🛑  Powering off "minikube" via SSH ...
🔥  Deleting "mi

[2020-08-25 07:52] blankhang opened #9076 "centos7 minikube start error"
**Steps to reproduce the issue:**

i have docker version 19.03.08 ON centos7.8.2003 and minikube v1.12.3
when i trying to start minikube with
[code]
then i got the errors

**Full output of failed command:**
[code]

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-08-25 08:54] r3econ commented on #3207
Is upgrading to minikube version v1.12.3 enough to fix this?
I upgraded, restarted, and performance-wise I see no difference whatsoever.

[2020-08-25 09:39] afbjorklund commented on #9076
Same issue as #8131

[2020-08-25 09:41] lordk911 commented on #9075
ok thanks

[2020-08-25 09:44] afbjorklund commented on #9075
Upgrading docker might help https://docs.docker.com/engine/install/centos/

[2020-08-25 09:46] sanarena commented on #3207
Same here. How to make use of this fix?

[2020-08-25 09:59] afbjorklund opened #9077 "Document minikube docker driver version requirements"
Kubernetes itself supports ancient versions, but KIC doesn't really...

`kubeadm` says:

Should verify the Docker version, like we do with the Podman version ?

And have a similar recommendation for minikube, on the driver page.

----

EDIT: I **don't** think we want to keep supporting 17.03 - 18.09 - or even earlier.

So the easiest would be to require Docker Engine 19.03+ or Docker Desktop 2.1+

[2020-08-25 12:08] unixlab commented on #9057
I think this is a duplicate of #9017 and already fixed in PR #9033

So I would assume that we just need to wait until the fix get released in a 1.12.4 bug fix release or wait for 1.13.0

[2020-08-25 12:11] unixlab commented on #9057
I think this is a duplicate of #9017 and already fixed in PR #9033.

So I would assume that we just need to wait until the fix get released in a 1.12.4 bug fix release or wait for 1.13.0

[2020-08-25 14:56] priyawadhwa commented on #3207
@r3econ @sanarena yah, upgrading should be enough.

If you're still seeing high performance, could you open a new issue for it? We can track it there.

[2020-08-25 15:09] humantargetjoe commented on #8202
/remove-lifecycle stale

Also experiencing with Minikube running on CentOS 7.

[2020-08-25 15:31] smacdav opened #9078 "tunnel on windows: "sudo": executable file not found in %PATH%"
**Steps to reproduce the issue:**

1. Start minikube: `minikube start --driver=docker`
2. Enable contour: `kubectl apply -f https://projectcontour.io/quickstart/contour.yaml`
3. In another cmd prompt: `minikube tunnel`
Get the following output:
[code]

**Full output of failed command:**
[code]

**Full output of `minikube start` command used, if not already included:**
[code]

**Optional: Full outp

[2020-08-25 18:23] priyawadhwa opened #9079 "docker driver failing on glinux due to static IP bug"
minikube is failing on the docker driver due to a static IP bug, which I haven't isolated yet. But, if I remove the static IP code, minikube works again, so I know it is related.

It fails with these logs:

[code]

**To reproduce:**
On gLinux, run:

[code]

The logs look like this:

<details>

[code]
</details>

We could potentially revert static IP until we know what the fix for this is. We defin

[2020-08-25 18:29] medyagh commented on #9074
ah

[2020-08-25 18:36] jtzwu opened #9080 "Add problem ID and exit code for "Ensure your system has enough CPUs. The minimum allowed is 2 CPUs""
**Steps to reproduce the issue:**

1. Run `minikube start` on a default Google Cloud Compute VM with 1 cpu with `--output=json`
2. Get the error `
{"data":{"exitcode":"64","message":"Ensure your  system has enough CPUs. The minimum allowed is 2 CPUs.\n"},"datacontenttype":"application/json","id":"507528d8-0e85-47bb-a2d1-08b41d868683","source":"https://minikube.sigs.k8s.io/","specversion":"1.0","ty

[2020-08-25 18:40] priyawadhwa opened #9082 "minikube @ HEAD stalling on kubeadm init in Cloud Shell"
Typically, minikube starts in Cloud Shell in around 60 seconds. This is currently the case with the preinstalled version of minikube in Cloud Shell (v1.12.3):

[code]

However, **minikube @ HEAD is stalling on kubeadm init**.

**To reproduce**
1. Open up a Boosted Cloud Shell instance

In Cloud Shell, run:

[code]

and it will stall at:

[code]

This bug must have been merged since the last releas

[2020-08-25 18:48] medyagh opened #9083 "Performance bot machine: break with go mod change"
when trying to upgrade go mod to v1.15.0
I saw this
[code]
https://github.com/kubernetes/minikube/pull/9081#issuecomment-680204059

[2020-08-25 19:10] priyawadhwa commented on #9083
This probably happened because Jenkins failed so the PR bot was unable to download the minikube binary for the PR.

The error message here could be improved.

[2020-08-25 19:38] drewpca opened #9084 "save cache files under ~/.cache/minikube"
minikube writes a lot to `~/.minikube/cache`, but other programs have agreed to use `~/.cache/<program>` instead. Consider switching to `$XDG_CACHE_HOME` (default `~/.cache`) for files that I can freely delete if I want to trade free disk for some repeated downloads or computation.

Perhaps the rest of `~/.minikube` should go under `$XDG_CONFIG_HOME` (default `~/.config/minikube`) to help curb the

[2020-08-25 20:04] porytskyi opened #9085 "Warn user to upgrade ancient Docker ( "docker cp -a") not working."
😄  minikube v1.12.3 on Debian 9.13
✨  Using the docker driver based on user configuration

❗  'docker' driver reported a issue that could affect the performance.
💡  Suggestion: enable overlayfs kernel module on your Linux

👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
💾  Downloading Kubernetes v1.18.3 preload ...

🔥  Creating docker container (CPUs=2, Memory

[2020-08-25 20:08] medyagh opened #9086 "Windows: Suppress Docker Desktop file sharing alert"
![Screen Shot 2020-08-25 at 1 07 19 PM](https://user-images.githubusercontent.com/4564227/91222395-f6b89000-e6d3-11ea-8eab-397e57cf626d.png)

we need to investigate if Click on Yes causes slowness and issues.

users get prompted for this on windows, and I believe the right thing to do is Click on cancel.

we need to make sure this does not make the user in the dark and have them make this descsion

[2020-08-25 20:26] medyagh opened #9087 "docker: minikube delete should delete the network"
I notice minikube delete doesn't remoev the network after itself. created this issue.

[code]

[2020-08-25 20:43] porytskyi commented on #9085
Minikube started after updrade Docker version to 19.03.8.

[2020-08-25 20:43] porytskyi commented on #9085
Minikube started after updrade Docker version to 19.03.8.

[2020-08-25 20:43] porytskyi commented on #9085
Minikube started after updrade Docker version to 19.03.8.

[2020-08-25 21:02] medyagh opened #9088 "add short name -o for json output flag"
medya@~/workspace/minikube (master) $ minikube start -o json
Error: unknown shorthand flag: 'o' in -o
See 'minikube start --help' for usage.

medya@~/workspace/minikube (master) $ minikube start --help | grep json
      --output='text': Format to print stdout in. Options include: [text,json]

[2020-08-25 21:54] MarlonGamez opened #9089 "minikube start failing (Initial timeout of 40s passed - forged DNS responses)"
When running `minikube start`, minikube fails.

**Full output of command:**
[code]

Running with `--alsologtostderr` results in this output

**Full output with `--alsologtostderr`:**
[code]

Running `minikube delete && minikube start` seems to run into the same issue

[2020-08-25 22:01] medyagh opened #9090 "limit json output updates for downloading files"
users saw more than yeah, 66,043 lines when json oputput is emmiting logs about downloading files
we should limit that to emit every 1-2 seconds.

[2020-08-25 22:03] medyagh opened #9091 "add spinner to Preparing Kubernetes that takes 20 seconds ..."
users would like to be remineded that minikube is waiting on kubeadm init for more than 20 seconds.

[2020-08-26 00:20] vinu2003 commented on #9088
/assign @vinu2003

[2020-08-26 02:44] aligandi opened #9093 "error provisioning host: Failed to start host: provision: Temporary Error: error getting ip during provisioning: Could not find matching IP for MAC address 0800271733c0"

[2020-08-26 05:06] tstromberg commented on #9089
Any luck getting past the `kubeadm init` line? kubeadm should fail after a few minutes.

[2020-08-26 05:06] tstromberg commented on #9088
This particular issue has flummoxed me as well.

/cc @priyawadhwa

[2020-08-26 05:16] medyagh opened #9096 "multi node docker ubuntu failures FreshStart"
as seen on all gh action tests on Head
[code]

[2020-08-26 05:27] fancyerii commented on #8997
how to fall-back to Github?

[2020-08-26 07:24] poliander commented on #9013
Make sure the Kubelet can access the paths to be mounted when the Kubelet runs in a container, e.g. add a HostConfig bind:

`
$ docker inspect kubelet

[...]

    "HostConfig": {
        "Binds": [
            "/mnt/data:/mnt/data"

[...]
`

[2020-08-26 09:13] vinu2003 commented on #9088
Sure @tstromberg

[2020-08-26 10:44] afbjorklund commented on #9084
Most of this was just inherited/extended from docker machine, but we talked about it in #4109

[2020-08-26 10:49] afbjorklund commented on #9084
We also discussed `~/.minikube` to somewhere under `~/.local` (not really XDG, but) in #8635

[2020-08-26 10:54] afbjorklund commented on #9084
We need ~/.minikube/machines to go _somewhere else_ than under `~/.config`, like `$XDG_DATA_HOME`

[2020-08-26 11:03] afbjorklund commented on #9084
Some people have $HOME on NFS, but they can set $MINIKUBE_HOME

[2020-08-26 13:19] AmaanC commented on #3048
Still running into issues like the original `Invalid argument` upon `ls`, and random i/o errors for `npm install` / `yarn` within mounted directories. Likely this issue mentioned above:

[2020-08-26 14:31] #9082 closed

[2020-08-26 15:56] tstromberg opened #9098 "minikube start --download-only downloads duplicate kubeadm/kubelet binaries"
kubeadm & kubelet are already included in the preload tarball.

[code]

[2020-08-26 16:40] #8951 closed

[2020-08-26 16:53] sharifelgamal commented on #8997
Our code should automatically fallback to github once the call to GCR fails, which is why we wanted to see more detailed output from minikube start.

Try running `minikube start --alsologtostderr` and paste the output here so we can better debug your issue.

[2020-08-26 16:54] sharifelgamal commented on #9001
This is fixed by #9044

[2020-08-26 16:54] #9001 closed

[2020-08-26 17:32] MarlonGamez commented on #9089
@tstromberg I've updated the issue with the output past the `kubeadm` command. My output using `--alsologtostderr` is missing emojis as I used `tee` to write the output to a file. It seems like the post-mortem log created by minikube got cut off at some point for whatever reason, so it was missing a lot of logs.

[2020-08-26 17:38] timcruciano commented on #8512
I have been having the same issue.  I finally found this on [stackoverflow](https://stackoverflow.com/questions/52904393/vswitch-not-found-hyperv-while-running-minikube-start) to resolve it.
`minikube start --kubernetes-version="v1.18.0" --vm-driver="hyperv" --hyperv-virtual-switch="minikube" --v=9`

[2020-08-26 17:56] sharifelgamal commented on #9030
So what happens when you try to ping the URL? It just hangs?

[2020-08-26 18:02] sharifelgamal commented on #8897
I believe this is fixed.

[2020-08-26 18:02] #8897 closed

[2020-08-26 18:04] AmitVishwash commented on #9030
@sharifelgamal  i will not say it hangs. It says the site cant be reached when i ping the node url with the the port exposed in the browser. However when i try   .\minikube-windows-amd64.exe service selenium-srv    it opens a browser with the url but that also says the site cant be reached.

[2020-08-26 18:08] medyagh commented on #9016
@simon-swanson-leapyear due to the docker networking limitations on MacOs you need to run minikube service command to get service.

I admit we can explain this better in the docs and make it more clear.

[2020-08-26 18:08] sharifelgamal commented on #6831
This is still a work in progress.

[2020-08-26 18:10] priyawadhwa commented on #9070
Hey @WillWcchan glad you were able to fix this! Looks like upgrading minikube, running delete and then restarting fixed it.

I'm going to close this issue as this has been resolved.

[2020-08-26 18:10] #9070 closed

[2020-08-26 18:12] priyawadhwa commented on #9022
Hey @darkn3rd thanks for pointing this out -- if you or anyone else is interested in contributing to our documentation and fixing this, please comment /assign on this issue!

[2020-08-26 18:12] priyawadhwa commented on #8990
Hey @jemygraw thanks for opening an issue for this bug. If you, or anyone else, would be interested in fixing this bug, feel free to assign yourself to this issue by commenting /assign.

[2020-08-26 18:21] medyagh commented on #4392
This should be added to one of our automation tasks in q4

[2020-08-26 18:22] #8236 closed

[2020-08-26 18:31] medyagh commented on #3048
@AmaanC @idcmp I would be happy to look at the bugs,

do you mind creating new issues with full logs
such as minikube mount --alsologtostderr

and reproducible steps ?

we have integration test for minikube mount command and we never release without passing their tests.
we could add more integration tests to ensure it convers your case

[2020-08-26 18:32] sharifelgamal commented on #8599
This is actually going to be a fair amount of refactoring, since we do our driver checks way before we start provisioning, which is where delete-on-failure looks. It's not a bad idea, it's just not as simple as the concept would seem.

[2020-08-26 18:33] sharifelgamal commented on #8847
This should be fixed with the latest minikube, feel free to reopen if it remains an issue.

[2020-08-26 18:33] #8847 closed

[2020-08-26 18:33] sharifelgamal commented on #8823
Any luck @dhaneesht ?

[2020-08-26 18:34] medyagh commented on #7848
Hi @KamranAzeem I have not heard from you, I would love to assist wit this issue if you have time and get back to me, if you still have this issue, please re-open

:)

[2020-08-26 18:34] #7848 closed

[2020-08-26 18:35] medyagh commented on #8344
@myugan do you still have this issue ?
I have not heard from you.

[2020-08-26 18:35] #8344 closed

[2020-08-26 18:38] medyagh commented on #8508
Hi @@FilBot3 , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-08-26 18:38] #8508 closed

[2020-08-26 18:39] medyagh commented on #8772
@slinkydeveloper does switching to docker driver help you solve this problem ?

you could try with latest verison of miniikube
minikube delete
minikube start --driver=docker

for more information on the docker driver checkout:
https://minikube.sigs.k8s.io/docs/drivers/docker/

[2020-08-26 18:43] sharifelgamal commented on #8807
Hey @kijinpark – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikube sta

[2020-08-26 18:43] #8807 closed

[2020-08-26 18:43] sharifelgamal commented on #8743
Any luck @AnandhkumarTV ?

[2020-08-26 18:44] medyagh commented on #8888
I recommend using the latest minikube verison as we improved the number of entrypoint flakes

@rubenhak @shakerman @Gaurav7296

[2020-08-26 18:44] #8888 closed

[2020-08-26 18:47] sharifelgamal commented on #8595
I'm going to go ahead and close this for now, please reopen if this remains an issue.

[2020-08-26 18:47] #8595 closed

[2020-08-26 18:47] sharifelgamal commented on #8043
Great, I'm going to close this then.

[2020-08-26 18:47] #8043 closed

[2020-08-26 18:48] sharifelgamal commented on #8843
Hey @walterkozlowski  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minik

[2020-08-26 18:48] #8843 closed

[2020-08-26 18:49] medyagh commented on #8900
@bfznj you could either use PVC or use mount

https://minikube.sigs.k8s.io/docs/handbook/persistent_volumes/
https://minikube.sigs.k8s.io/docs/handbook/mount/

does that help ?

/triage needs-information
/triage support

[2020-08-26 18:51] #7583 closed

[2020-08-26 18:52] medyagh commented on #8924
@ale8k do you still have this issue ?
 and you mind pasting the full log with the lastes verison of minikube ?
I see the log is partial

[2020-08-26 18:52] #7367 closed

[2020-08-26 18:52] sharifelgamal commented on #7291
This is done.

[2020-08-26 18:52] #7291 closed

[2020-08-26 18:53] medyagh commented on #8936
I belive this could result of the the IP change that could be fixed by static IP PR

[2020-08-26 19:09] MarlonGamez opened #9100 "minikube update-context panic"
Possibly related to #9089 (?)

I currently don't have a minikube context in my kube config. When trying to run `minikube start`, I run into the problem in #9089.

When running `minikube update-context`, I run into this:
[code]

And when running with the `--alsologtostderr` flag:
[code]

[2020-08-26 21:37] WillWcchan opened #9101 "Learning minikube - LoadBalancer deployments - minikube start"
[code]
Is the **minikube tunnel** command correct?

[2020-08-26 21:38] WillWcchan commented on #9101
https://minikube.sigs.k8s.io/docs/start/

Attempting to access a LoadBalancer deployment, use the “minikube tunnel” command

[2020-08-26 21:40] WillWcchan opened #9102 "minikube pause does not exist anymore"
[code]

[2020-08-26 22:39] MarlonGamez commented on #9089
closing this issue because it seems to be fixed at head

[2020-08-26 22:39] #9089 closed

[2020-08-26 22:42] tstromberg commented on #9089
I worked with @MarlonGamez on chat -- it turns out that this is related to #9051

I was able to figure this out by having them type `host minikube`. Instead of a single NXDOMAIN response, it returned `23.217.138.110` (a23-217-138-110.deploy.static.akamaitechnologies.com.)

[2020-08-26 22:44] sharifelgamal commented on #9055
Yeah, this belongs in the gcp-auth-webhook repo, that's where that code lives.

[2020-08-26 23:50] sharifelgamal commented on #9055
Opened https://github.com/GoogleContainerTools/gcp-auth-webhook/issues/2

[2020-08-26 23:50] #9055 closed

[2020-08-27 00:44] simon-swanson-leapyear commented on #9016
@tstromberg Apologies for the delay, missed this in my inbox. Using the hyperkit driver did indeed fix my problem, thanks so much!

@medyagh I don't know what docs would help particularly for someone as clueless as I, but it couldn't hurt to add more!

No need to keep this open any longer for my sake, though it looks like this will now be a place to talk about an upcoming docs change. :)

[2020-08-27 03:30] #9088 closed

[2020-08-27 03:39] n0npax commented on #9102
what is your `minikube version` ?

[2020-08-27 05:12] sanarena opened #9103 "macOS 11 kernel panic"
minikube start --driver=hyperkit --kubernetes-version v1.18.3 --disk-size 60g --memory 3500

**Steps to reproduce the issue:**

(Worth to mention I am running macOS v11 beta 5)
1. Upgrade minikube v.1.11.0 to v1.12.3
2. Run minikube
3. Kernel panic appear after a minute of running.

**Full output of failed command:**
All commands were successful.

**Full output of `minikube start` command used, if

[2020-08-27 05:30] WillWcchan commented on #9101
Ran old version of minikube. Upgrade and it worked.

[2020-08-27 05:30] #9101 closed

[2020-08-27 05:33] WillWcchan commented on #9102
minikube version: v0.27.0

[2020-08-27 05:34] sanarena commented on #9103
Issue happened after I downgraded to v.11.0
Wondering what might have caused it.
It was working well for past few weeks before I initiate the upgrade via brew.

[2020-08-27 05:34] #9103 closed

[2020-08-27 05:36] WillWcchan commented on #9102
I see the pause now after upgrading. Thanks

Will@Wills-MacBook-Pro ~ % minikube version
minikube version: v1.12.3
commit: 2243b4b97c131e3244c5f014faedca0d846599f5-dirty
Will@Wills-MacBook-Pro ~ % minikube --help
minikube provisions and manages local Kubernetes clusters optimized for development workflows.

Basic Commands:
  start          Starts a local Kubernetes cluster
  status         Gets th

[2020-08-27 05:36] #9102 closed

[2020-08-27 05:58] n0npax commented on #9102
:+1:  :)

[2020-08-27 08:53] n0npax commented on #9098
I'll try to fix this.

/assign n0npax

[2020-08-27 09:46] JordiCano commented on #8765
minikube delete does not fix the issue.

[minikube_logs.txt](https://github.com/kubernetes/minikube/files/5135579/minikube_logs.txt)
[minikube_start.txt](https://github.com/kubernetes/minikube/files/5135580/minikube_start.txt)

[2020-08-27 11:35] sanarena commented on #9103
Just to add context to this issue, I figured out kernel panic was because of nfsd in macos 11 beta 5.
We are using nfs to mount some volumes from host into containers, as nfs was fastest method we found.
However, macos 11 beta 5 have a bug, where if nfs volume get "read", it will kernel panic.
I tested it by connecting to NFS in this machine from another machine and got kernel panic.
So this issue

[2020-08-27 12:30] sanarena opened #9104 "hyperkit has 50% resting CPU usage when Idle"
Is this a BUG REPORT or FEATURE REQUEST?: BUG REPORT

minikube start --driver=hyperkit --kubernetes-version v1.18.3 --disk-size 60g --memory 3500

**Steps to reproduce the issue:**

1. Run minikube v1.12.3
2. look at activity monitor.

**Full output of failed command:**
No error

**Full output of `minikube start` command used, if not already included:**
No error

[2020-08-27 12:32] sanarena commented on #9104
Here is output of minikube log.

<details>
==> Docker <==
-- Logs begin at Thu 2020-08-27 11:32:50 UTC, end at Thu 2020-08-27 12:27:05 UTC. --
Aug 27 11:34:05 minikube dockerd[2160]: time="2020-08-27T11:34:05.234648413Z" level=info msg="Daemon has completed initialization"
Aug 27 11:34:05 minikube systemd[1]: Started Docker Application Container Engine.
Aug 27 11:34:05 minikube dockerd[2160]: time

[2020-08-27 16:06] afbjorklund commented on #9098
It also includes `kubectl` for linux (for uploading to the node, at least)

If you want to download kubectl for the host, it might need a download.

[2020-08-27 17:21] tstromberg commented on #9104
This is expected: Kubernetes has a high idle. Use "minikube pause" to pause Kubernetes, which should return hyperkit back to 1-2% CPU usage.

Also, Activity Monitor measures CPU usage per core. The actual usage on your system is likely closer to 12%.

https://docs.google.com/spreadsheets/d/1PYmR4lcEOtV1HOKrDezhRkBGXQMxMtHGu1WBLJvexDA/edit#gid=1614668143

Clearly, we'd like to improve this - but in

[2020-08-27 17:21] #9104 closed

[2020-08-27 17:24] tstromberg commented on #9100
This should be fixed at head - do you mind testing with the binary I had you download?

[2020-08-27 17:25] tstromberg opened #9106 "Kubernetes v1.19.0 starts up 3X slower than v1.18 on macOS"
Using `minikube start --kubernetes-version=v1.19.0` on macOS, I see a huge startup latency increase versus v1.18.x. This is using the Docker driver:

![Kubernetes Startup Latency (time to serving, in seconds)](https://user-images.githubusercontent.com/101424/91474903-b54cef80-e84f-11ea-9efe-1d66b1d16cf1.png)

[2020-08-27 17:36] tstromberg commented on #9106
Oddly enough, this does not appear to impact usage on Linux.

[2020-08-27 19:59] bodduv opened #9107 "Use maintained go-bindata instead of an archived version"
Currently the Makefile uses an outdated and [archived version](https://github.com/jteeuwen/go-bindata) of go-bindata:
https://github.com/kubernetes/minikube/blob/214ff5b33f20bc08ee3037ebca66b5bda2eb15a4/Makefile#L311

Someone else has volunteered to maintain this package, see influxdata/chronograf#2785 and [here](https://github.com/kevinburke/go-bindata).

[2020-08-27 21:30] jtzwu opened #9108 "The "new version of minikube" message shouldn't have the type io.k8s.sigs.minikube.error"
**Steps to reproduce the issue:**

1. Run `minikube start --output=json`

**Full output of `minikube start` command used, if not already included:**
...
{'data': {'message': 'minikube 1.12.3 is available! Download it: https://github.com/kubernetes/minikube/releases/tag/v1.12.3\n'}, 'datacontenttype': 'application/json', 'id': '561b5628-0fac-487d-b5fd-028a4c63503a', 'source': 'https://minikube.sigs

[2020-08-27 21:36] sharifelgamal commented on #9057
Correct, this will be fixed with our 1.13.0 release which should be out soon. Sorry for the bad experience here. I'll close this as a dupe.

[2020-08-27 21:36] #9057 closed

[2020-08-27 21:39] sharifelgamal commented on #9059
This means you need to install the Hyper-V PowerShell module, you can go [here](https://www.altaro.com/hyper-v/install-hyper-v-powershell-module/) for instructions on how.

[2020-08-27 22:51] #6284 closed

[2020-08-27 22:51] #6424 closed

[2020-08-28 07:07] sanarena commented on #3207
@priyawadhwa Thanks, updated but still having performance issue. Opened a new issue which got closed right after. seems like there is no solution anymore.
https://github.com/kubernetes/minikube/issues/9104

[2020-08-28 07:26] dholbach commented on #7977
I can help reach out to the Snap Store team if you want to take over the snap. If you have some evidence of having reached out to Casey that'd certainly help. That'd also give you access to marking the snap as private for now so people don't mistakenly install the outdated version.

[2020-08-28 07:28] dholbach commented on #7977
Looks like this is what the snap was based off? https://github.com/cmars/minikube-pkg

[2020-08-28 07:53] vinu2003 commented on #9108
/assign @vinu2003

[2020-08-28 08:11] vinu2003 commented on #9108
@tstromberg  just wanted to confirm even the below one type shouldn't be io.k8s.sigs.minikube.error correct ?
{"data":{"message":"You can also use 'minikube kubectl -- get pods' to invoke a matching version\n"},"datacontenttype":"application/json","id":"51d20524-d797-4f98-a452-0d2e6a84fb33","source":"https://minikube.sigs.k8s.io/","specversion":"1.0","type":"io.k8s.sigs.minikube.error"}

[2020-08-28 10:30] tatellos commented on #7420
@relaxgo This works!! I need to run that command in the background, i.e.
`sudo socat UNIX-LISTEN:/var/run/docker.sock,user=<your_user_name>,fork TCP:127.0.0.1:2375 &`
but after that, I can run `minikube start` even in my WSL1, which does NOT work in minikube version 1.12.3 without your socket wiring.

[2020-08-28 13:35] MRamos62786 opened #9110 "ubuntu 20.04 with Docker driver: [kubelet-check] Initial timeout of 40s passed."
**Steps to reproduce the issue:**

1. Running `minikube start` @ versions v1.12.2 and v1.12.3 both result in the follow error.

I've tried the following with similar results; I can include the output for that attempt if you think it will help.
`minikube start --extra-config=kubelet.cgroup-driver=systemd`

**Full output of failed command:**

<details>
[code]

</details>

**Optional: Full output of

[2020-08-28 13:48] MRamos62786 commented on #9110
Output from `docker logs CONTAINERID`:
<details>
mramos@mramos-l-ubuntu:~$ docker logs fcfe334cbfad
+ select_iptables
+ local mode=nft
++ grep '^-'
++ wc -l
++ true
+ num_legacy_lines=0
+ '[' 0 -ge 10 ']'
++ grep '^-'
++ wc -l
++ true
+ num_nft_lines=0
+ '[' 0 -ge 0 ']'
+ mode=legacy
+ echo 'INFO: setting iptables to detected mode: legacy'
INFO: setting iptables to detected mode: legacy
+ update-a

[2020-08-28 13:49] MRamos62786 commented on #9110
Output from `systemctl status kubelet`:
<details>
mramos@mramos-l-ubuntu:~$ systemctl status kubelet
● kubelet.service - kubelet: The Kubernetes Node Agent
     Loaded: loaded (/lib/systemd/system/kubelet.service; disabled; vendor preset: enabled)
    Drop-In: /etc/systemd/system/kubelet.service.d
             └─10-kubeadm.conf
     Active: inactive (dead)
       Docs: http://kubernetes.io/docs/
<

[2020-08-28 17:15] #9090 closed

[2020-08-28 17:32] #9106 closed

[2020-08-29 06:14] hantsy opened #9114 "--image-mirror-country="cn" still fetches binary SHA's from Google"
Already used ` --image-mirror-country="cn"` or `--image-repository` to start minikube, but still failed in the preparing on Docker stage due to fetching sha files from google apis.

1. Why not mirror kubeXXX sha files together?
2. Why not package all essential dependencies in minikube?

[2020-08-29 06:22] #9063 closed

[2020-08-29 06:41] aps831 opened #9115 "Disk usage and memory inconsistency in minikube start"
minikube version: v1.12.3

The flags for setting disk size and memory have the same usage other than for the default value:

[code]

Specifying no unit works as expected:
[code]

Specifying a unit of ```m``` works for disk-size only:
[code]

Specifying a unit of ```mb``` works for disk-size only:
[code]

[2020-08-29 06:46] arielmoraes commented on #6584
For me, the command addons enable ingress, added a service named nginx-ingress-controller-admission with ClusterIP. The strange thing is that I can access the port 443 from the host without having the service configured with NodePort. That allowed me to create iptables' rules to access the cluster on my lan.

[2020-08-29 07:23] surensinghkhatana opened #9116 "Exposing ingress to a remote host"
Hi,
I am running a vagrant box using virtual box (running headless ubuntu 18.04) on windows 10 host machine.
Inside the virtual box, I have minikube set up using docker as the vm-driver
`minikube start --memory=6144 --cpus=2 --disk-size=40g --vm-driver=docker --bootstrapper kubeadm --kubernetes-version=1.17.4`
My application is exposed via an ingress to the ubuntu machine running inside virtual bo

[2020-08-29 07:28] afbjorklund commented on #7978
This issue has been fixed since v1.10.0

[2020-08-29 07:28] #7978 closed

[2020-08-29 07:40] afbjorklund commented on #7977
Thanks for looking into the snap packaging. As stated above, I just noted it was outdated in the distribution (Ubuntu 20.04).

Unfortunately `minikube` is not available in Debian, which also means that it is not available as an apt package in Ubuntu...

We have tried to get it included with the other "vendor" Kubernetes packages, but those attempts have failed so far: #3110

So the only offer righ

[2020-08-29 08:01] dholbach commented on #7977
Even if Casey now works on microk8s, it would surprise me if willing new maintainers couldn't take over the snap in the store now. As I said: I'd be happy to help coordinate with the snap store people, if somebody wants to start maintaining the snap in the future.

[2020-08-29 08:20] xieydd commented on #9031
same error

[2020-08-29 10:35] afbjorklund commented on #7977
It wasn't obvious from the store page, how to request a version upgrade or removal of unmaintained apps.

And there was no contact info for the "publisher" either, and the license information just said "Proprietary"

But it wasn't really a "terms of service" or "copyright" violation either, so just opened this issue about it...

https://snapcraft.io/minikube

![minikube-report](https://user-images

[2020-08-29 12:48] afbjorklund commented on #9074
Can't really tell what the change is... Maybe we can dump "git status" (and "git diff" perhaps) to a log file, during release ?

[2020-08-29 13:10] afbjorklund commented on #9107
See https://github.com/jteeuwen/go-bindata/issues/5 for background (account went "missing")

Most of the forking happened around what kevinburke calls 3.2-3.3

[code]

Hopefully it would make for a drop-in replacement for generated data.

[2020-08-29 13:16] afbjorklund commented on #9107
Need to look at the differences, seems to be mostly whitespace etc.

[code]

[2020-08-29 13:24] afbjorklund commented on #9107
Comparing with the older version (and ignoring whitespace and blank lines) makes diff smaller. Looks OK.

[code]

[2020-08-29 13:35] afbjorklund commented on #9107
There is also a https://github.com/go-bindata/go-bindata organization, that has an older fork...

They call their releases "3.1", which I suppose was why the numbering started over with "3.2".

[2020-08-29 13:39] ThisIsQasim commented on #1674
/remove-lifecycle rotten

[2020-08-29 13:40] ThisIsQasim commented on #1674
/reopen

[2020-08-29 13:41] ThisIsQasim commented on #1674
I can confirm that this error still persists with the hyperkit driver on macOS. Edit systemd-resolved fixes it.

[2020-08-30 00:58] davidshen84 commented on #8131
Hi,

I think I am hit by this issue as well. I am on Gentoo distro. I think the `docker_gwbridge` on my system is created by docker, so I don't think I can just delete it. Is there's a walkaround/fix to this issue?

[code]

[code]

[code]

[2020-08-30 02:08] VivekMittals opened #9118 "ErrImagePull error while deploying service yaml"
I am trying to understand and learn using minikube on my Ubutnu 18.04.
I can spin a normal pod, service for nginx but when I try doing something on for a node based image, I am running into issue i.e.
ErrImagePull

I tried running the very node image locally using docker and that worked.

Please note: I also tried docker login. But even post that I get the same issue.
I tried modifying the /etc/re

[2020-08-30 05:31] gudipudipradeep opened #9119 "Checksums did not match for *sha1.digest"
**Steps to reproduce the issue:**
sudo minikube start --v=7 --driver=none --kubernetes-version=1.15.0

**Full output of failed command:**
root@ubuntu-bionic:~# minikube start --driver=none --kubernetes-version=1.15.0 --alsologtostderr
W0830 05:29:35.274978    5712 root.go:246] Error reading config file at /home/vagrant/.minikube/config/config.json: open /home/vagrant/.minikube/config/config.json:

[2020-08-30 12:30] afbjorklund commented on #8596
I was trying again with podman 2.0.5, but now there is not even an error.

It just fails silently... Trying to build over ssh (as a workaround also fails)

[2020-08-30 12:34] afbjorklund commented on #8554
I guess it needs some kind of horrible workaround like that, as long as the behaviour continues.

Could file a bug about it upstream, but I'm not even sure where. Is it in podman, or is it cri-o ?

[2020-08-30 13:05] afbjorklund commented on #8596
The plan to replace sudo, is to make the socket owned by a local group:

https://github.com/containers/podman/issues/6809#issuecomment-651237669

And then make the default user part of this group (i..e same as for docker)

[code]

The original settings are in:

/usr/lib/systemd/system/podman.socket

[code]

/usr/lib/tmpfiles.d/podman.conf

[code]

[2020-08-30 13:30] afbjorklund opened #9120 "Podman v2 breaks the podman driver"
The podman driver is still broken, with v2.0.4 and 2.0.5:

[code]

This is a regression/follow-up from previous #8587 (2.0.1)

The workaround is still to use the v1.9.3 release instead.

The goal is to remove the need for current warning #8783

`❗  Using podman 2 is not supported yet. your version is "2.0.5". minikube might not work. use at your own risk.`

----

Note that podman 1 is no longer su

[2020-08-30 16:39] afbjorklund commented on #9120
Arguably nobody cares, since Red Hat users tend to use OpenShift anyway...

[2020-08-30 16:48] bradwood commented on #8332
I have this same problem, but that seems like rather an extreme solution...

[2020-08-30 17:25] gangyi89 opened #9122 "Unable to start minikube"
**Steps to reproduce the issue:**

1. Install virtualbox via brew
2. Install kubectl via brew
3. Install minikube via brew and run
[code]

**Environment**
macOS Catalina Version 10.15.6

**Full output of failed command:**
[code]

**Optional: Full output of `minikube logs` command:**
<details>

==> Docker <==
An error was encountered while opening journal file or directory /var/log/journal, ignorin

[2020-08-30 17:36] #9122 closed

[2020-08-30 18:40] afbjorklund commented on #8554
@priyawadhwa : it seems like the only way out of this, is to add the "docker.io" prefix to the images in the cache.
That will fix the dashboard case, by saving the manifest with the full name (docker doesn't care) in the cache tar.

For the local images, I'm not sure it is possible. It seems to be adding the prefix anyway, even if re-tagging them.

[code]

Upstream seems to be hacking the localhos

[2020-08-30 19:28] peddicnu opened #9123 "Failed to setup kubeconfig: inspect IP bridge network "f990f7a561a9\n2125d74f1c6f"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-08-30 21:03] ramrengaswamy commented on #9079
Could this also be impacting the current latest release:
[code]

[2020-08-30 22:43] tstromberg opened #9124 "kubelet --extra-config arguments are not passed"
This shouldn't result in a working cluster:

`./out/minikube start --driver=virtualbox --extra-config=kubelet.max-pods=1`

But it does:

[code]

Looking at `/var/tmp/minikube/kubeadm.yaml` - it appears that the configuration is not registered. This needs an integration test.

[2020-08-30 22:46] tstromberg commented on #1568
Fixing this by default appears to incur a ~30% performance penalty for startup, which makes me quite wary of imposing it on the users who do not care about CNI.

At a minimum though, we should document that it is possible to now say `--cni=true` to make this work.

[2020-08-30 22:49] tstromberg commented on #9124
This appears to be a regression since v1.9.2, though I am not sure which release exactly.

[2020-08-30 22:50] kadern0 commented on #8131
@davidshen84 the PR that will close this issue is this one -> https://github.com/kubernetes/minikube/pull/9094 if you need a quick temporary fix, you can always use my code from here -> https://github.com/kubernetes/minikube/pull/9062

[2020-08-30 22:53] kadern0 commented on #9123
Looks like same error as #8131

[2020-08-30 23:05] kadern0 commented on #9118
Minikube's docker and host's docker are not the same. You can always push the images to a registry or reuse the docker daemon as shown in the Docs:
https://github.com/kubernetes/minikube/blob/0c616a6b42b28a1aab8397f5a9061f8ebbd9f3d9/README.md#reusing-the-docker-daemon

[2020-08-30 23:15] raimundogomes commented on #8568
I have the same problem with I try install minikube in (WSL+Docker + Kubernetes on the Windows Desktop)

Installation instructions:
[wsl-docker-kubernetes-on-the-windows-desktop](https://kubernetes.io/blog/2020/05/21/wsl-docker-kubernetes-on-the-windows-desktop/#minikube-kubernetes-from-everywhere)

Error message:
`/usr/local/bin$ sudo minikube start --driver=none
😄  minikube v1.12.3 on Ubuntu 18.

[2020-08-31 03:26] gm7y8 commented on #8990
/assign

[2020-08-31 05:07] tstromberg commented on #8958
Was this fixed?

[2020-08-31 06:27] yogyad opened #9130 "StartHost failed, but will try again: Error loading existing host. Please try running [minikube delete], then run [minikube start] again.: filestore "minikube":"
minikube start --driver=hyperv
* minikube v1.12.3 on Microsoft Windows 10 Enterprise 10.0.19041 Build 19041
* Using the hyperv driver based on existing profile
* Starting control plane node minikube in cluster minikube
! StartHost failed, but will try again: Error loading existing host. Please try running [minikube delete], then run [minikube start] again.: filestore "minikube": open C:\Users\Laxm

[2020-08-31 06:40] afbjorklund opened #9131 "Add repo prefix to cache images, to not confuse containerd/crio"
In the list of bootstrapper images to cache, some do **not** have their repo added:

[code]

This confuses podman (loading for crio), which tries to add a "localhost/" prefix to it.

[code]

This is only when not using the preload, since using "pull" does add the repo prefix.

Currently we hack around the issue, by adding "docker.io" to images _after_ the fact...
But they are still stored with the

[2020-08-31 06:54] #6933 closed

[2020-08-31 06:56] afbjorklund commented on #6432
Currently this is not possible for podman/cri-o (without our own binaries), since they don't support / keep older versions in their package repositories

[2020-08-31 06:58] afbjorklund commented on #6432
I don't think it actually works with the Ubuntu packages either (not guaranteed to keep older versions), so would have to build from upstream sources

[2020-08-31 07:09] #6992 closed

[2020-08-31 08:10] chaitrachandrashekar opened #9132 "minikube addons enable ingress"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-08-31 09:45] dholbach commented on #7977
Is there a mail alias for the minikube maintainers? I'd be happy to reach out to the Snap Store and ask if snap maintenance could be transferred. Until anyone contributes an updated `snapcraft.yaml` (likely with `classic` confinement), it might make sense to mark the current as "private" in the store. As an aside: snap builds and snap publishing can be hooked up with CI.

[2020-08-31 09:45] dholbach commented on #7977
@cmars Would you be OK with somebody else taking over maintenance of the `minikube` snap?

[2020-08-31 11:18] goku321 commented on #7731
/assign

[2020-08-31 11:52] p53 commented on #7855
@wallyqs this command didn't work for me:

[code]

[2020-08-31 12:24] davidshen84 commented on #8131
Thanks Pablo!

On Mon, Aug 31, 2020, 08:50 Pablo Caderno <notifications@github.com> wrote:

[2020-08-31 13:47] cmars commented on #7977
Hi @dholbach this sounds good to me! Please make a request to transfer ownership of the snap at https://forum.snapcraft.io/c/store-requests. If there's any question, ping me with the link and I'll indicate my approval there.

This comment is outdated, I landed the libvirt interface in snapd a ways back:

However, there might be other reasons you might need classic confinement -- snapd, minikube an

[2020-08-31 13:55] dholbach commented on #7977
Got it, thanks @cmars for your support!

Is there a minikube-maintainers@ alias that could be used for transferring the snap entry to?

[2020-08-31 15:08] tstromberg commented on #7977
@dholbach - There is a minikube-dev@googlegroups.com alias. It isn't very well used, but it at least goes to some of the maintainers.

I can't say I'm excited about maintaining another packaging mechanism, but if someone doesn't mind helping to integrate the build process into our Makefile, it shouldn't be too terrible to maintain.

[2020-08-31 15:19] dholbach commented on #7977
AFAICS it'd be a `snapcraft.yaml` file and e.g. a Github action to build and publish to the store.

@tstromberg Is the mail alias a public mailing list? If yes, it might make sense to use the email addresses of individual project maintainers.

[2020-08-31 15:24] tstromberg commented on #9124
I did some more testing, and this is apparently a dupe of #8242

[2020-08-31 15:24] #9124 closed

[2020-08-31 15:31] afbjorklund commented on #7977
We need a real maintainer for this package, otherwise it will just bit-rot again I'm afraid.

[2020-08-31 15:43] dholbach commented on #7977
Maybe @cmars could you unlist the snap for now? I think until somebody is willing to put some work into snapping current minikube, this might help not to confuse users.

[2020-08-31 16:02] afbjorklund commented on #8384
I opened up a tracking bug for it: #9120

podman 1 is deprecated, partly unavailable

[2020-08-31 16:03] tstromberg opened #9134 "--extra-config controller-manager options are ignored (masked by leader-elect)"
We have a regression bug in our kubeadm YAML generation, seemingly caused by #8431 where we set leader-elect=false.

We end up writing two `controllerManager` sections to the YAML file, and only the last one wins. It's possible this broken behavior exists for other components. I was able to verify it using `./out/minikube start --extra-config=kubelet.max-pods=10  --extra-config controller-manager.

[2020-08-31 16:06] tstromberg commented on #9134
/cc @priyawadhwa

[2020-08-31 16:52] cmars commented on #7977
It is now unlisted.

[2020-08-31 18:13] pappasam commented on #9110
I also have this issue on Linux Mint 20 (which uses Ubuntu 20.04 as its base)

[2020-08-31 19:38] fabquenneville commented on #9009
Tryed that and thats what I get...

`xxx@desktop:~$ minikube start --kvm-qemu-uri=qemu:///session
Error: unknown flag: --kvm-qemu-uri
`

[2020-08-31 21:00] medyagh opened #9138 "identify all minikube tech debt for Q4"
- [ ] iso push after deploy/ISO PR  merges (test against a pushed merged ISO on head)
- [ ] kic base image push after delpoy/kic-base/Dockerfile PR merge to image repositories (gcr, docker hub, ...)
- [ ] storage provisioner and gvisor image push on merge
- [ ] health check Azure Windows VMs (including provision, keep alive, install tools)
- [ ] identify debian 9 vs debian 10 integration test diff

[2020-08-31 21:05] #9083 closed

[2020-08-31 21:16] medyagh commented on #9027
@lthistle it seems like your linux does not have this kernel module.
I
[code]

[2020-08-31 21:28] medyagh commented on #9027
@lthistle do you mind sharing out put of
[code]
/triage needs-information
/triage support

[2020-08-31 21:43] medyagh commented on #9031
@xieydd is your error also on ubuntu 16.04 ?

@anencore94 does this happen only on ubuntu 16.04 and not ubuntu 18.04 or newer?

[2020-08-31 21:44] medyagh commented on #9031
@anencore94 I am curious is there a reason you are not using our Docker driver instead of none ?
none is not our preferred driver
/triage needs-information
/triage support

[2020-08-31 21:46] medyagh commented on #9067
@AmanMishra1321 none is only for linux and not recommended, on windows 10 if you don't have docker, you could use virtualbox.

have you tried installing virtualbox and then trying minikube with virtualbox ?

/triage needs-information
/triage support

[2020-08-31 21:48] medyagh commented on #9077
Docker has been less problem in version, plus this seems to be more related to the docker inside minikube rather than the outside docker verison.

[2020-08-31 21:50] priyawadhwa commented on #9073
Looks like this is still failing:

[code]

[2020-08-31 21:59] medyagh commented on #9100
yes we merged a Pr to fix this. this shoudl be fixed on HEAD @MarlonGamez

/triage needs-information
/triage support

[2020-08-31 21:59] #9100 closed

[2020-08-31 22:00] medyagh commented on #9093
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[code]

This wi

[2020-08-31 22:42] MRamos62786 commented on #9110
@pappasam My current workaround is to use v1.12.1 which unfortunately has a bug with persistent storage not persisting. If you can workaround that issue, that's what I would suggest.

I've reviewed the changelog for v1.12.2 but I'm out of my element with respects to debugging this issue:
https://github.com/kubernetes/minikube/blob/v1.12.2/CHANGELOG.md#version-1122---2020-08-03

I wonder if one of

[2020-08-31 22:49] anencore94 commented on #9031
@medyagh  Yeap It only happens on 16.04.
Since the path was right on 18.04

I've been using nvdia-docker to use gpu with minikube. With your official docs, only kvm2 and none driver supports gpu. Also, none driver setting was easier than kvm2 driver, so i choose to use none driver.

[2020-08-31 22:55] medyagh commented on #9085
@porytskyi do you mind sharing
full output of
"docker version"

and what was your docker version before?

[2020-08-31 23:01] medyagh commented on #9085
@porytskyi do you mind also sharing
[code]

[2020-09-01 01:40] xieydd commented on #9031
@medyagh Yep, i use ubuntu 16.04, and i have same purpose as @anencore94 , use minikube and gpu-device-plugin.

[2020-09-01 03:26] Khawandjean commented on #8567
I am actually getting the same error.
💣  Failed to update cluster: updating control plane: downloading binaries: downloading kubeadm: download failed: https://storage.googleapis.com/kubernetes-release/release/v1.18.3/bin/linux/amd64/kubeadm?checksum=file:https://storage.googleapis.com/kubernetes-release/release/v1.18.3/bin/linux/amd64/kubeadm.sha256: getter: &{Ctx:context.Background Src:https://st

[2020-09-01 03:49] AmanMishra1321 commented on #9067
I do have docker on my windows 10 Home and it is working properly

[2020-09-01 04:25] narmadha956 commented on #7444
Hello,
I have the same issue ? Did you find a solution ? @fans3210

[2020-09-01 05:11] dhaneesht commented on #8823
Hi,

I had already tried creating external switch but had no luck. What makes me feel bad is that the previous steps in the log is successfully using the IP, but for some reason, the failing step doesn't.

[2020-09-01 05:34] #8987 closed

[2020-09-01 05:34] #9080 closed

[2020-09-01 05:56] afbjorklund commented on #9077
I should have been more specific, what I meant was that we need (want?) to be more strict with the versions used for the Docker driver.

The reason for this ticket was the `cp` command missing in earlier versions like 17.03: #9075. So the easiest would be to _require_ Docker 19.03 ?

[2020-09-01 06:50] vvlookman commented on #8756
Because the image is not pulled, try workaround:

[code]

[code]

[code]

[2020-09-01 07:47] Yiyiyimu commented on #8369
Same problem here. `ping not found` error in docker based minikube

[2020-09-01 08:45] joshmue commented on #8359
Maybe it would be possible to fix the regression separate from the more complicated issues with native SSH?

Just asking because of the change of priority from "important-soon" to "important-longterm", while the effort required to fix just the regression appears to be quite small, as far as I understand. If I may be of any assistance (Open a separate issue; Open a PR attempting to fix the regressi

[2020-09-01 09:21] VRay27 commented on #6631
@tstromberg Hi, I am facing the same issue.
Windows, Virtual Box
minikube start --vm-driver=virtualbox

Error :  libmachine: Error dialing TCP: dial tcp 127.0.0.1:22: connectex: No connection could be made because the target machine actively refused it.

minikube version: v1.12.3

Could you please advise?

[2020-09-01 09:44] n0npax commented on #6887
/remove-lifecycle stale

[2020-09-01 09:48] afbjorklund commented on #9085
Same as #9075 - related to #9077

[2020-09-01 13:42] tstromberg opened #9142 "kubeadm v1.19 init phase addon: panic: runtime error: index out of range [0] with length 0"
Seen during cluster restarts with Kubernetes v1.19. It does eventually recover:

[code]

[2020-09-01 13:44] tstromberg commented on #9142
This is being tracked upsttream at #2267

[2020-09-01 14:00] slinkydeveloper commented on #8772
I'm trying to install it, but for some reason i get `Can not load RPM file: ./minikube-latest.x86-64.rpm.` when using dnf...

[2020-09-01 15:05] danielolabanji commented on #459
Thank you so much ...I struggle with this for days

[2020-09-01 15:36] tstromberg commented on #8892
Fixed at head by #9126:

[code]

[2020-09-01 15:50] #9132 closed

[2020-09-01 15:50] tstromberg commented on #9132
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-09-01 15:50] tstromberg commented on #9131
SGTM

[2020-09-01 15:55] tstromberg commented on #9130
I'm curious if this is related to the username having spaces in it, or if the file is missing.

Can you check if `C:\Users\Laxmi Computers\.minikube\machines` has any files in it?

[2020-09-01 15:57] tstromberg commented on #9123
This issue appears to be a duplicate of #8131, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-09-01 16:13] tstromberg commented on #8797
On your host, do you mind sharing the output of:

`grep pids /proc/cgroups`

I suspect it may be missing.

[2020-09-01 18:02] prasadkatti commented on #9142
@tstromberg - I think the link you added in the comment above is wrong

[2020-09-01 18:06] sharifelgamal commented on #9096
So the important part of the error is:

[code]

So either the control plane is legitimately timing out responding to the join command, or is actually rejecting it because of some token nonsense. It only seems to be happening on the gh action machines, so I'll open a PR with some extra debugging so I can pin down what's actually happening.

[2020-09-01 18:27] sharifelgamal commented on #9096
Using https://github.com/kubernetes/minikube/pull/9146 as my debugging playground.

[2020-09-01 20:28] #6954 closed

[2020-09-01 20:28] tstromberg commented on #6954
OpenRC support was added in minikube v1.10.

[2020-09-01 20:29] #7511 closed

[2020-09-01 21:56] djvasquezvm commented on #8756
Same problem. I followed your steps but my problem was:
Warning  FailedMount  12m (x7 over 12m)  kubelet, minikube  MountVolume.SetUp failed for volume "webhook-cert" : secret "ingress-nginx-admission" not found

So I realized it was SELinux. If you  have SELinux enforcing, try using permissive mode.

Worked for me!

[2020-09-01 23:00] #9134 closed

[2020-09-01 23:05] #7905 closed

[2020-09-01 23:18] #9108 closed

[2020-09-01 23:19] tstromberg commented on #9108
@vinu2003 - Your right, that does not sound like an error either. Do you mind sending a PR for it?

[2020-09-01 23:25] abrahamfathman commented on #8765
This worked for me:
1) minikube delete
2) rm -rf ~/.minikube/
3) docker images | grep minikube
Found one image...
4) docker rmi e3ca409c7daf

Ran **minikube start** again, and it worked

[2020-09-01 23:30] #7604 closed

[2020-09-01 23:35] #8756 closed

[2020-09-01 23:43] #8711 closed

[2020-09-01 23:47] tstromberg commented on #8131
Fixed by #9062

[2020-09-01 23:54] tstromberg commented on #9073
Looking at the first log, it almost seems as if the apiserver is crash-looping due to a networking failure? Could this be related to the static IP PR?

[2020-09-02 00:49] n0npax commented on #9098
I'll unassign, as seems it requires a little bit better understanding of the project.

[2020-09-02 01:47] #7794 closed

[2020-09-02 02:04] tstromberg commented on #9110
If someone runs into this, could they please provide the output of `minikube logs`? Thank you.

[2020-09-02 02:08] tstromberg commented on #9110
So, kubelet is dying, for unknown reasons. The big hint provider here is `minikube logs`, if folks have further logs to contribute.

I am curious if a more recent binary helps: https://storage.googleapis.com/minikube-builds/9151/minikube-linux-amd64

[2020-09-02 03:10] vinu2003 commented on #9108
Sure I will send it. Thank you.

[2020-09-02 05:17] RoSk0 opened #9153 "Unable to get host IP: inspect IP bridge network"
**Steps to reproduce the issue:**

1.  $ docker network ls
[code]

2. minikube start

**Full output of failed command:**

[code]

It looks like network name match is done in a "contains" way rather then "equals".

[2020-09-02 05:32] tstromberg commented on #9110
FWIW, I wasn't able to replicate this issue using `minikube start` with Ubuntu 20.04.1 from WSL2 or from inside Hyper-V.

(I did not try with `minikube start --extra-config=kubelet.cgroup-driver=systemd` because it's an unnecessary setting.)

[2020-09-02 05:32] fans3210 commented on #7444
@narmadha956 , it works with default config. Means I don't need to set anything or provide any configuration. It can connect to my minikube k8s cluster directly.

[2020-09-02 05:43] tstromberg commented on #7062
Fixed in v1.12.

[2020-09-02 05:43] #7062 closed

[2020-09-02 06:13] afbjorklund commented on #9098
I think it was almost done, just that we missed that kubectl was also in the preload.

i.e. there is one kubectl for linux, that is in the preload and that we install to the node
then there is one optional kubectl client for host OS, that we download on demand
in this case, we want to skip downloading the kubectl linux that is already in the preload
should also make the code easier, since it doesn

[2020-09-02 07:59] mr-bjerre opened #9154 "Bug in project ID Automated Google Cloud Platform Authentication (gcp-auth addon) when using end user credentials"
There seems to be an issue with the `gcp-auth` addon when using end user credentials.

I have logged in using `gcloud auth login`. Then I've started minikube using `minikube start --adons=gcp-auth`. Then I've deployed a container that does the following

[code]

which leads to the following error

[code]

A bit of investigating shows that the project ID from the authentication is wrong

[code]

Th

[2020-09-02 08:03] mr-bjerre commented on #9154
I've never worked with Go but I assume [this line](https://github.com/kubernetes/minikube/blob/master/pkg/addons/gcpauth/enable.go#L80) is what needs to be fixed, i.e. the project id needs to be trimmed.

[2020-09-02 08:50] cojocaru-dragos-alexandru commented on #2181
Even though the above solution works just fine, I was also able to keep the virtual switch _internal_, by going to Control Panel\Network and Internet\Network and Sharing Center\Network Adapter (wifi or ethernet)\"Properties" button\"Sharing" tab, then ticked the "Allow other network users to connect through this computer's Internet connection" and picked from the dropdown list the "minikube" virtu

[2020-09-02 10:14] josealmeida-vf opened #9155 "hyperv: provision: IP not found"
**Steps to reproduce the issue:**

1. minikube start --vm-driver="hyperv" --hyperv-virtual-switch="minikube"
2.
3.

**Full output of failed command:**
 minikube v1.12.3 on Microsoft Windows 10 Pro 10.0.18363 Build 18363
* Using the hyperv driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Updating the running hyperv "minikube" VM ...
! StartHost failed, b

[2020-09-02 11:16] limberger opened #9156 "$TMPDIR fills with log files - change logging to create less inodes (add retention)"
**Steps to reproduce the issue:**

1.  `minikube start`
after some time (less than 24 hours):
[code]
after some minutes:
[code]

Sample:
[code]

**Full output of `minikube start` command used, if not already included:**

[code]

**Optional: Full output of `minikube logs` command:**
<details>
[code]

</details>

[2020-09-02 12:57] paddy-hack commented on #6954
Did you see https://github.com/kubernetes/minikube/issues/6954#issuecomment-639369849?
It uses minikube v1.11.0 with OpenRC and it bombs when stop and try to start it again.

Whatever support was added in v1.10, doesn't work in v1.11.
Haven't tried since so don't know current status.

[2020-09-02 13:21] priyawadhwa commented on #9073
It's unlikely to be related, since this test started failing before that change was merged.

I also have a PR open to revert static IP and the test still fails on that https://github.com/kubernetes/minikube/pull/9112 [test logs](https://storage.googleapis.com/minikube-builds/logs/9112/b3ec9e1/Docker_Linux.html)

[2020-09-02 13:26] afbjorklund commented on #6954
I added some code in #8572

[2020-09-02 13:52] StefanS111 commented on #8274
I also just installed minikube to encounter this problem. It happened as my installed docker instance was still in swarm mode. The forced leave of the swarm and the pruning does the job though.

[2020-09-02 17:06] tstromberg commented on #9155
Can you include the output of:

`minikube start --alsologtostderr -v=3`

As best as I can tell, this error is being returned by machine-drivers.

I am also curious if `minikube delete` fixes the issue.

[2020-09-02 17:14] AndrewPanov opened #9161 "Minikube pull image authentication fail"
**Steps to reproduce the issue:**

1. deploy nexus3 (sonatype/nexus3:3.25.0 image) container
2. Setup nexus3 docker registry repository
3. Apply http connector (i have **8083** port)
![image](https://user-images.githubusercontent.com/39460919/92015601-b7381680-ed59-11ea-8960-ff2cb6cd7818.png)
4. Push jar there (i have ci-cd project and so on)
![image](https://user-images.githubusercontent.com/3946

[2020-09-02 17:16] #8867 closed

[2020-09-02 17:21] tstromberg commented on #8131
I'm going to leave this open until the v1.13 release as so many people are running into it. As a workaround until the release later this week, you should be able to use minikube from head (or delete the bridge network):

https://storage.googleapis.com/minikube-builds/9160/minikube-darwin-amd64
https://storage.googleapis.com/minikube-builds/9160/minikube-linux-amd64
https://storage.googleapis.com/m

[2020-09-02 17:21] tstromberg commented on #9153
This issue appears to be a duplicate of #8131, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-09-02 17:21] #9153 closed

[2020-09-02 17:22] tstromberg commented on #9041
This issue appears to be a duplicate of #8131, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-09-02 17:22] #9041 closed

[2020-09-02 17:43] #8732 closed

[2020-09-02 17:49] christian-oudard commented on #8209
@vijesh12 I am having the same issue exactly on Ubuntu 20.04

[2020-09-02 18:25] VivekMittals commented on #9118
Thanks @kadern0 for your response!

I tried setting the --noproxy option but still am facing the same issue. Not really sure if I am missing a basic config step.

Will try further soon enough and let you know how that goes!

Thanks again!

[2020-09-02 19:33] medyagh commented on #9085
could we try docker cp without -a ?

[2020-09-02 19:40] medyagh commented on #9096
any new detaills @sharifelgamal  ? maybe we can add a docker network ls

and docker docker network inspect bridge... in your debug pr (in gh action) to see if network is werid or not

[2020-09-02 20:07] tstromberg commented on #9085
`minikube started after updrade Docker version to 19.03.8` - I wonder what version was running before.

 I'll note the -a flag does not exist in `docker.io_1.13.1-0ubuntu6_amd64`. It does seem like a very useful flag though. At a minimum this could use an actionable error message to ask for an upgrade.

[2020-09-02 20:09] tstromberg opened #9165 "Add actionable error message if user does not have permission to write config.json"
As seen in this log:

[code]

[2020-09-02 20:19] sharifelgamal commented on #9096
network info:
[code]

seems pretty normal to me

[2020-09-02 20:28] #9154 closed

[2020-09-02 21:01] #8892 closed

[2020-09-02 21:07] banyejinghungui commented on #3776
I just installed virtualbox in the system (ubuntu 20) and it works

sudo apt install virtualbox

[2020-09-02 22:02] #8882 closed

[2020-09-02 22:03] #8803 closed

[2020-09-02 22:04] tstromberg commented on #7981
Fixed at head if new Terminal is used.

[2020-09-02 22:04] #7981 closed

[2020-09-02 22:24] #8894 closed

[2020-09-02 22:26] kadern0 commented on #8857
@sharifelgamal this has been fixed with #8872

[2020-09-02 22:29] sharifelgamal commented on #9096
Turns out static IP was breaking this, the revert PR at #9166 will fix this for now. We'll have to be mindful of this test when we re-implement static IP.

[2020-09-02 22:29] #9096 closed

[2020-09-02 22:40] sharifelgamal commented on #8857
Excellent, thank you!

[2020-09-02 22:40] #8857 closed

[2020-09-02 23:03] conradwt opened #9169 "error execution phase wait-control-plane: couldn't initialize a Kubernetes cluster"
**Steps to reproduce the issue:**

1. minikube start --alsologtostderr

**Full output of failed command:**

[code]

</details>

[2020-09-03 00:48] cmillani commented on #6229
I was having the same problem and (thankfully) found this issue.

Setting `resolv.conf` to `nameserver 1.1.1.1` solved the problem and by using the provided link to always set this value I was able to start minikube without the `this VM is having trouble accessing https://k8s.gcr.io` warning, but I still received `ImagePullBackOff` errors when trying to create a deployment. I had to use `minikube

[2020-09-03 04:32] prasadkatti commented on #9169
Is this possibly a duplicate of #9110 ? Looks like kubelet is failing to start.

Can you share the output of `minikube logs`? Specifically we want to look at the kubelet logs to figure out why it is crashing.

[2020-09-03 06:50] RA489 commented on #9161
/triage support

[2020-09-03 06:52] RA489 commented on #9156
/triage support

[2020-09-03 06:53] RA489 commented on #9118
/triage support

[2020-09-03 06:55] RA489 commented on #9114
@hantsy can you please try this WIP PR https://github.com/kubernetes/minikube/pull/8555 if this solve your issue?

[2020-09-03 06:55] RA489 commented on #9114
/triage support

[2020-09-03 09:02] ovidiuf opened #9173 "--extra-config=apiserver.enable-admission-plugins=PodSecurityPolicy not propagating to kube-apiserver command line"
**Steps to reproduce the issue:**

1. Execute minikube start command:

[code]

2. Wait for the cluster to start, pull kube-apiserver-minikube pod description:

[code]

3. The kube-apiserver --enable-admission-plugins argument does not include "PodSecurityPolicy" - in consequence, pod security policy is not activated and pods that are not supposed to be created are created:

[code]

**Full output o

[2020-09-03 09:30] asoltesz commented on #3685
@rnmulchandani The Docker driver may be of help for this situation. That runs Minikube in Docker, so it sould work OK in your VM.

[2020-09-03 09:48] pjastrzabek commented on #3036
Apart from having that line
listen-address=127.0.0.1,192.168.64.1

the second one also seems to be crucial
address=/.localhost/127.0.0.1

If that does not work check what network is really being used under the hood by minikube (via ifconfig)

[2020-09-03 11:27] okwunna opened #9174 "Error getting config for native Go SSH: open /Users/nodebe/.minikube/machines/minikube/id_rsa: no such file or directory"
**Steps to reproduce the issue:**

1.minikube start
2.
3.

**Full output of failed command:**
W0903 12:29:37.248216    9361 root.go:246] Error reading config file at /Users/nodebe/.minikube/config/config.json: open /Users/nodebe/.minikube/config/config.json: no such file or directory
I0903 12:29:37.327031    9361 out.go:197] Setting JSON to false
I0903 12:29:37.672855    9361 start.go:100] hostinf

[2020-09-03 11:31] okwunna commented on #9174
I can't get minkube to start

[2020-09-03 14:41] cmillani commented on #6229
After seeing that the host was set as the nameserver of the VM I started searching in that direction. I mentioned that not running `dnsmasq` on host should not be a problem but only running `iwd` apparently was :smiley:

I installed NetworkManager and stopped iwd, and now I can resolve external DNS queries inside the minikube VM without changing the `resolv.conf`

[2020-09-03 15:05] bebyx commented on #427
It should be outlined in Minikube tutorial that **8080** is obligatory. I wasted couple of hours trying to solve the issue without the issue, just because I put `--port=8090`.

[2020-09-03 15:46] billcrook commented on #6229
Interesting. I'm was running systemd-networkd when I filed this issue. I wonder what NetworkManager is doing that networkd is not.

[2020-09-03 15:49] tstromberg opened #9175 "minikube unable to recover from empty IP/name: apiServer.certSANs: Invalid value: "":"
I somehow ended up with this configuration while doing some permissions testing:

[code]

[code]

minikube was not able to recover from it without `delete`.

[2020-09-03 15:53] tstromberg commented on #9174
Does `minikube delete` fix it?

[2020-09-03 16:17] tstromberg commented on #9059
This issue appears to be a duplicate of #9040, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-09-03 16:17] #9059 closed

[2020-09-03 16:42] tstromberg opened #9179 "cluster launched from WSL2 conflicts with PowerShell launched cluster"
Some quirky behavior I noticed:

* In the default configuration for Docker, WSL2 and PowerShell share a container space
* minikube sees the correctly named container, but does not have access to SSH certificates between environments.

[2020-09-03 17:45] rashmip22 commented on #7300
Not Working, I am facing same issue
I tried solutions provided above, it did not work

[2020-09-03 18:03] #9165 closed

[2020-09-03 18:08] MRamos62786 commented on #9110
@tstromberg I included the output of `minikube logs` as part of my initial submission when after running `minikube --alsologtostderr --v=7 start`. Is the log level not high enough? If not, what level should I pass to minikube start?

[2020-09-03 19:15] robrich opened #9183 "minikube docker-env doesn't understand powershell core"
**Steps to reproduce the issue:**

1. Install PowerShell core (https://github.com/PowerShell/PowerShell/releases)
2. Run powershell core (`pwsh.exe`)
3. `minikube start ...`
4. `minikube docker-env`

**Full output of failed command:**
[code]

**Expected output**
[code]

Note how passing in `--shell powershell` yielded the correct results, but using the default auto-detect did not detect powershell

[2020-09-03 19:19] robrich commented on #9183
Complete guess:

Change https://github.com/kubernetes/minikube/blob/01454778ac81743d5d3adbf4d9794b0b7fccfee3/pkg/minikube/registry/drvs/hyperv/powershell.go#L33 from
[code]
to
[code]

[2020-09-03 19:26] afbjorklund commented on #9183
Inherited from https://github.com/docker/machine/issues/4789 and https://github.com/docker/machine/issues/4826

I think you mean `||` rather than `&&` ?

[2020-09-04 00:49] tstromberg commented on #9183
At the moment, we defer to `github.com/docker/machine/libmachine/shell` for it's shell detection. I wonder if there is a better library for us to use.

[2020-09-04 02:50] tstromberg commented on #9174
I recommend upgrading to minikube v1.13 and running `minikube delete` to clear the old state.

[2020-09-04 03:28] omeryounus commented on #8788
Here the problem is Linux Server on Amazon lightsail doesn't support HyperVisor so that's why couldn't build the minikube. Although Amazon EC2 does support this feature for linux so it should be fine once lightsail server has HyperVisor Enabled.

[2020-09-04 04:32] robrich commented on #9183
It looks like https://github.com/docker/machine/issues/4826 identifies this issue there, and https://github.com/docker/machine/pull/4827 is set to fix it ... but currently yields a broken build.

@afbjorklund you are completely correct.  Comment updated.

[2020-09-04 05:27] afbjorklund commented on #9183
We have already forked the code, so will have to fix it (as you outlined, just look for the new name and blame the lack of backwards compatibility on Windows)

[2020-09-04 09:40] govargo commented on #7730
This is already fixed in master

https://github.com/kubernetes/minikube/blob/master/deploy/kicbase/Dockerfile

/close

[2020-09-04 09:40] #7730 closed

[2020-09-04 14:31] maelfosso opened #9187 "Remote access of API out of virtualbox VM (ubuntu server 18.04)"
**Steps to reproduce the issue:**

1. Minikube install in Virtuabox (Ubuntu Server 18.04)
2. Minikube start with docker driver (Docker install in the VM)
3. kubectl proxy

**Full output of failed command:**

After running `kubectl proxy`, I wanted to access to the API using `curl http://ip-of-vm:8001` from outside the VMs.
I open the port **8001** using `sudo ufw allow 8001` but nothing.

**Full o

[2020-09-04 18:19] ELTEGANI commented on #8756
I faced the same I found the problem from my poor internet connection

[2020-09-04 20:22] fabiand commented on #3048
Note: with virtiofs landing we now have a better opportunity at least for linux hosts

[2020-09-04 21:00] Bjohnson131 opened #9188 "hyperv tunnel: error creating tunnel: another tunnel is already running, shut it down first"
**Steps to reproduce the issue:**

1. minikube start
2.  [commands to start resource of type LoadBalancer]
3. minikube tunnel
4. [wait some time]
5. minikube tunnel

**Full output of failed command:**

I0904 15:57:31.709164   21148 mustload.go:64] Loading cluster: minikube
I0904 15:57:31.712164   21148 main.go:110] libmachine: [executing ==>] : C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell

[2020-09-05 04:21] cowwoc opened #9189 "v1.13.0 tunnel on Windows: not listening at port"
**Steps to reproduce the issue:**

1. `minikube start --driver=docker` returns:
[code]
2.` kubectl create deployment hello-minikube --image=k8s.gcr.io/echoserver:1.10`
returns:
[code]
3. `kubectl expose deployment hello-minikube --type=NodePort --port=8080
returns:
[code]
4. `minikube service hello-minikube --url --alsologtostderr`
returns:
[code]
5. Opened http://127.0.0.1:17058 in a web browser,

[2020-09-05 06:12] porytskyi commented on #9085
@tstromberg

The previous version was docker-ce 18.06.0 ~ ce ~ 3-0 ~ debian.
More information here: https://docs.docker.com/engine/install/debian in the Install Docker Engine section, step 2.

[2020-09-05 06:18] porytskyi commented on #9085
@medyagh
Please note that I am using Docker version 19.03.8. Everything is working now.

[code]

[2020-09-05 07:31] afbjorklund commented on #3048
For `docker-machine mount` we flipped this around, by using sshfs rather than 9p.
https://docs.docker.com/machine/reference/mount/

That is, files are mounted from the VM to the host - instead of from the host to the VM...
So all the large files remain on the VM, and only the ones you want to edit are transferred.

[2020-09-05 10:25] ge79so opened #9190 "minikube start with kvm-qemu-uri still fails due to non-existent "default" network"
**Steps to reproduce the issue:**

_On Debian stable 10.5_
_NB. KVM is installed and working with virt-manager_

`$ minikube start --kvm-qemu-uri qemu:///session`

**Full output of failed command:**

🔄  Restarting existing kvm2 VM for "minikube" ...
😿  Failed to start kvm2 VM. Running "minikube delete" may fix it: driver start: creating network: network default doesn't exist: virError(Code=43, Dom

[2020-09-05 10:26] ge79so commented on #3636
/reopen

[https://github.com/kubernetes/minikube/issues/9190](https://github.com/kubernetes/minikube/issues/9190)

[2020-09-05 14:47] afbjorklund commented on #9190
It is not possible to run the libvirt driver (kvm2) as user, due to the missing network. See ~#4288~

Duplicated request in #9009

[2020-09-05 16:13] afbjorklund commented on #9074
[code]

[2020-09-05 16:13] afbjorklund commented on #9060
Also missing for the new `v3` version

[2020-09-05 20:42] tstromberg commented on #9189
I wonder if this has to do with the native ssh change in v1.13.  Are you able to replicate this, @sharifelgamal ?

[2020-09-05 20:42] tstromberg commented on #9188
Can you see what is running at pid 15916?

[2020-09-05 20:44] tstromberg commented on #9190
This issue appears to be a duplicate of #9009 do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-09-05 20:44] #9190 closed

[2020-09-06 01:08] cowwoc commented on #9189
@tstromberg I just tried version 1.12.3 and had the same problem.

[2020-09-06 02:17] cowwoc commented on #9189
Interestingly, if I invoke `kubectl port-forward service/hello-minikube 17309:8080` I can hit the service on port 17309 just fine.

[2020-09-06 03:26] #7526 closed

[2020-09-06 03:37] cowwoc opened #9191 "Typo in "version --help""
When I run `minikube version --help` I get:

[code]

But `--short=false` does not `Print just the version number`. It does the opposite. I am expecting the help to read `--short=true: Print just the version number.`

[2020-09-06 06:09] vishjain commented on #9173
Can I take this on a first issue? Thanks!

[2020-09-06 06:18] vishjain commented on #8990
/assign

[2020-09-06 06:19] vishjain commented on #8694
/assign (as a first PR) and don't see much progress from before.

[2020-09-06 06:20] vishjain commented on #8694
/assign

[2020-09-06 06:29] #7537 closed

[2020-09-06 06:34] vishjain commented on #7670
/assign

[2020-09-06 07:21] afbjorklund commented on #9191
Not really a typo, unfortunately. But a bug in the underlying library: #8301

[2020-09-06 08:34] omeryounus commented on #5933
Unable to connect to the server: net/http: TLS handshake timeout

[2020-09-06 08:35] omeryounus commented on #3106
getting this issues most of the time...

Unable to connect to the server: net/http: TLS handshake timeout

[2020-09-06 14:57] neel8989 commented on #9130
PS C:\Users\Neel> minikube start --driver=virtualbox
* minikube v1.13.0 on Microsoft Windows 10 Home Single Language 10.0.18362 Build 18362
* Using the virtualbox driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Creating virtualbox VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...
* Deleting "minikube" in virtualbox ...
! StartHost failed, but will try aga

[2020-09-06 14:58] neel8989 opened #9192 "virtualbox: The host-only adapter we just created is not visible -> GUEST_NOT_FOUND on retry"
PS C:\Users\Neel> minikube start --driver=virtualbox
* minikube v1.13.0 on Microsoft Windows 10 Home Single Language 10.0.18362 Build 18362
* Using the virtualbox driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Creating virtualbox VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...
* Deleting "minikube" in virtualbox ...
! StartHost failed, but will try aga

[2020-09-06 17:38] cowwoc commented on #9191
Agreed. Closing :)

[2020-09-06 17:38] #9191 closed

[2020-09-06 19:26] zebralight opened #9194 "minikube issues error upon initial install and start"
**Steps to reproduce the issue:**

1.  run ` curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64`
2. run `sudo install minikube-linux-amd64 /usr/local/bin/minikube`
3. run `minikube start`

**Full output of failed command:**
[code]

**Optional: Full output of `minikube logs` command:**
<details>
[code]
</details>

[2020-09-06 23:15] RoSk0 commented on #8131
Upgrading to v1.13.0 fixed the issue for me (was using 1.12.3).

Thanks!

[2020-09-07 05:10] kmr0877 commented on #3129
@ctron Did you happen to find any hack to get away with this issue? I am on minikube version `v1.11.0` as well and stcuk with this issue

[2020-09-07 06:48] ctron commented on #3129
Nope. My "hack" was to go back to version `v1.8.2`. However, I didn't test that for a while.

[2020-09-07 06:56] afbjorklund commented on #3129
Did you try the new storage-provisioner (v3), see if that helps with the issue ?

[2020-09-07 07:24] anooppb commented on #5714
make it to sudo chmod 777 $HOME/.kube

[2020-09-07 11:51] SMillerDev opened #9196 "Target of git tag v1.13.0 changed"
Is the retag of 1.13 intentional? The homebrew maintainers would like to know before we point to the new commit.

---

**Steps to reproduce the issue:**

1. Check the defined commit belonging to the 1.13 tag in [homebrew](https://github.com/Homebrew/homebrew-core/blob/master/Formula/minikube.rb)
2. See that it differs from the current commit in the 1.13 tag
3. ???
4. profit

**Full output of faile

[2020-09-07 14:09] afbjorklund commented on #9196
https://github.com/Homebrew/linuxbrew-core/commit/2ffb4e70d7398fae18cb8d66105e7e3204fc19de

[2020-09-07 14:13] SMillerDev commented on #9196
That's the commit where it was merged into linuxbrew and at the time the tag still pointed to that commit (Otherwise CI would fail and we won't merge)

[2020-09-07 14:15] afbjorklund commented on #9196
We have some other issues with the release scripts (#9074), so this could be related to the same underlying problem...

[2020-09-07 14:20] SMillerDev commented on #9196
Unless the release script creates and deletes the git tags I don't think that's related. Brew will just check out the repo during the build and doesn't actually use the provided releases.

[2020-09-07 14:25] afbjorklund commented on #9196
I'm guessing human error, but probably a README somewhere that could need some updating. Doesn't look like any code changes, when comparing the commits (above).

[2020-09-07 14:40] afbjorklund commented on #9196
More info: https://git-scm.com/docs/git-tag#_on_re_tagging

[2020-09-07 20:04] stupidlamo opened #9197 "Exiting due to DRV_CP_ENDPOINT on Win10 with turned ON Virtualization"
**Steps to reproduce the issue:**

1. minikube start --no-vtx-check --container-runtime=cri-o
2. minikube ssh

**Full output of failed command:**
PS C:\WINDOWS\system32> minikube ssh --alsologtostderr
I0907 22:50:48.477936   17960 mustload.go:66] Loading cluster: minikube
I0907 22:50:48.478915   17960 main.go:115] libmachine: COMMAND: C:\Program Files\Oracle\VirtualBox\VBoxManage.exe showvminfo mi

[2020-09-07 21:33] arielmoraes opened #9198 "Publish additional ports and IPs when running minikube start"
When `minikube start` command runs using the Docker driver it tells Docker to publish some ports, but it binds to the localhost ip only, thus not giving a chance to access the cluster from another machine using the `kubectl` for example. Another issue is if one wants to access a Service via an Ingress, in that case we need the same solution, which is to add some entries to the iptables as followin

[2020-09-07 22:08] #7597 closed

[2020-09-07 23:16] zebralight commented on #9194
just ran journalctl in the minikube container and saw node minikube not found error.  I looked it up and followed the instructions [here](https://stackoverflow.com/questions/56966721/minikube-failed-to-start-node-minikube-not-found) and ran `minikube stop && minikube delete` and restarted and minikube worked without any issues.

[2020-09-07 23:16] #9194 closed

[2020-09-08 05:54] afbjorklund commented on #9198
This is by design. The minikube cluster is not _supposed_ to be available "outside" the local developer machine, currently the recommended approach is to `ssh` into the minikube host if wanting remote access. This goes for all the drivers, not only docker.

There actually two different issues here, the first is accessing the apiserver remotely (for some reason). Typically `kubectl proxy`. The othe

[2020-09-08 06:26] afbjorklund commented on #9198
The currently exposed ports are:
* **22 for ssh**
* 2376 for old docker
* **8443 for apiserver**
* 5000 for registry hack

There is a pending request to make it possible for the user to add more (#7332), but that doesn't really answer the question...

We probably don't need to expose docker anymore, and the registry port is just to get around the TLS certificate requirement.

[2020-09-08 10:58] noelleleigh commented on #9196
Also, will there be release notes written for v1.13.0?

[2020-09-08 13:19] arielmoraes commented on #9198
I think the main reason that is asked a lot is because minikube is a very easy way of starting a new k8s cluster. So some people will want to use it as a "home cluster" which gives the possibility to host some small applications, like an DLNA server etc. Thus going beyond of just a developer cluster.

Now for the design part, I think it would be nice to leave the decision of which ports to expose

[2020-09-08 14:29] afbjorklund commented on #9198
One could also view this as saying that `kubeadm` is too complicated, so people turn to `minikube` for some help ?

It would be nice to cooperate a bit more, so that there are available alternatives for **both** development and deployment.
There _should_ be an easy path to follow, how to start with containers and images and move on to orchestration and clusters.
But it also quickly becomes associa

[2020-09-08 15:49] tuskiomi commented on #9188
That's just it, as said above, neither inside the Minikube VM nor inside the host OS does PID 15916 exist as a valid process.

[2020-09-08 16:06] sharifelgamal commented on #9196
The release script had a bug in it (indeed, it the change Anders pointed out above) that caused the release process to halt midway. I did my best to clean everything up, but yeah, the newest commit should be the one we point at. Fortunately, there should be no functional change between the two commit.

I'll get the release notes fixed up today.

[2020-09-08 16:22] tstromberg commented on #9188
OK. Do you mind clarifying this :

[code]

When you say "wait some time", does this mean that the first tunnel was closed, or that you waited time, and started a second tunnel command?

My guess is that the first tunnel may have exited in a way that prevented it from cleaning up before termination, followed by a bug with how we interpret `os.FindProcess(pid)`.  If that is the case, `minikube tunne

[2020-09-08 16:24] tstromberg commented on #9188
If you do run into this again, could you provide the output of:

`tasklist /fi "pid eq 15916" `

One thing that I do notice is that the pid detection code is sub-optimal: if the pid file is found, it will declare success if any process is at that same pid later: it doesn't check if the process is actually a minikube tunnel.

[2020-09-08 16:26] tstromberg commented on #9192
@neel8989 - do you mind sharing the output of `minikube start --driver=virtualbox --alsologtostderr -v=2`?

Also, can you report which version of VirtualBox you are using?

[2020-09-08 16:29] tstromberg commented on #3106
@omeryounus - this bug is from 2018, where minikube had very different behaviors. Do you mind opening a new issue? Please include the output of `minikube logs`. Thank you!

[2020-09-08 16:30] tstromberg commented on #8131
@RoSk0 - thank you for the confirmation!

[2020-09-08 16:30] #8131 closed

[2020-09-08 16:50] tstromberg commented on #5714
FYI: In minikube v1.13.0, the help text was updated to say:

`Run: 'sudo chown $USER $HOME/.kube/config && chmod 600 $HOME/.kube/config'`

[2020-09-08 16:59] tuskiomi commented on #9188
@tstromberg Here's the output

[code]

[2020-09-08 17:05] tuskiomi commented on #9188
So, By wait some time, I was executing kubectl commands to query service ports and IPs, but nothing else.

[2020-09-08 17:14] priyawadhwa commented on #9197
Hey @stupidlamo thanks for opening this issue. I'm not very familiar with Windows errors, but could you try deleting the cluster and restarting it?

[code]

If you want to try starting from scratch, you could even run:

[code]

Please let us know if you continue to see this error.

[2020-09-08 17:16] priyawadhwa commented on #9187
Hey @maelfosso thanks for opening this issue. Have you tried using the `minikube dashboard` command? It will allow you to access the k8s dashboard and will open it in a browser on your machine. You should be able to access the k8s API from there as well.

[2020-09-08 17:21] priyawadhwa commented on #9173
Hey @ovidiuf thanks for opening this issue, it looks like a duplicate of https://github.com/kubernetes/minikube/issues/8661. I'm going to close this issue so that we can centralize this conversation in one issue.

Unfortunately, right now this flag only seems to work on brand new clusters. Until we fix this, you'll have to delete the cluster and run `minikube start` again for the `--extra-config`

[2020-09-08 17:21] #9173 closed

[2020-09-08 17:25] priyawadhwa commented on #9119
Hey @gudipudipradeep thanks for opening this issue. Would you mind downloading the latest version of minikube v1.13.0 and trying with that?

Running the following:

[code]

[2020-09-08 17:27] priyawadhwa commented on #9115
Hey @aps831 thanks for pointing out this inconsistency! If you, or anyone else, would be interested in fixing this, feel free to assign yourself to this issue by commenting /assign.

[2020-09-08 17:28] priyawadhwa commented on #9078
Hey @smacdav thanks for opening this issue. I"m just curious, does this work if you don't enable contour?

I'd also suggest upgrading to the latest version of minikube, v1.13.0.

[2020-09-08 17:29] priyawadhwa commented on #9013
Hey @tempacct4q did adding the `HostConfig` bind resolve your issue?

[2020-09-08 17:31] priyawadhwa commented on #9005
你好 @yingfengxiaowangzi @east4ming
您能解决这个问题吗？

Hey @yingfengxiaowangzi @east4ming
Were you able to fix this?

[2020-09-08 17:33] priyawadhwa commented on #8943
Hey @apsraj01 did that work for you?

I'd also suggest increasing the memory available to Docker:

[code]

[2020-09-08 17:35] priyawadhwa commented on #8940
Hey @chainhead sorry for the late response. This looks like a duplicate of https://github.com/kubernetes/minikube/issues/1926

Do you have a VPN enabled? If so, it seems like turning it off fixed it for other minikube users.

[2020-09-08 17:38] priyawadhwa commented on #8939
Hey @fzyzcjy thanks for opening this issue, and sorry for the delayed response. My guess is that the overhead of running docker is being included in the CPU of the host.

I'm not sure if there's much we can do about this right now, although I'm following related issues -- https://github.com/docker/roadmap/issues/12

[2020-09-08 17:41] priyawadhwa commented on #8966
Hey @mrbenosborne thanks for opening this issue. I'm not very familiar with mulitnode, but I think we have merged some network related fixes in the past few weeks. Would you mind upgrading to minikube v1.13.0 and see if that fixes the issue?

[2020-09-08 17:54] avinashs24 commented on #8568
Same issue here. I'm following this [blog ](https://kubernetes.io/blog/2020/05/21/wsl-docker-kubernetes-on-the-windows-desktop/). I have Docker for windows with WSL Integration enabled. With this, there is no need to install docker locally in the WSL. I'm able to use docker in my Ubuntu WSL straightaway after enabling it in Docker for windows.
However when setting kubernetes minkube, after the Sys

[2020-09-08 17:57] priyawadhwa commented on #9067
Hey @AmanMishra1321 that's great. I'll go ahead and close this issue as things are working as expected now. Feel free to reopen by commenting /reopen if needed.

[2020-09-08 17:57] #9067 closed

[2020-09-08 17:59] priyawadhwa commented on #9031
Hey @anencore94 I just wanted to confirm that you ran `--extra-config` on a brand new cluster? That flag doesn't work on pre-existing clusters (that issue can be tracked here https://github.com/kubernetes/minikube/issues/8661)

To make sure it worked, could you run:

[code]

and let us know if that fixes the issue?

[2020-09-08 18:01] priyawadhwa commented on #8962
Hey @mallow111 did you try on a brand new cluster? The `--extra-config` flag currently doesn't work on a preexisting cluster: https://github.com/kubernetes/minikube/issues/8661

Could you try upgrading to minikube v1.13.0 and running:
[code]

and let us know if that fixes the issue?

[2020-09-08 18:13] mallow111 commented on #8962
did you run this with docker or vm and what is the k8s version that you are using?

[2020-09-08 19:48] medyagh opened #9200 "restart inner-docker when cert ips have changed"
we should restart the inner docker, if the IP of the minikube container has changed.
that could possibly fix the issue when the apiserver says the IP is signed for this IP ...but expect...

[2020-09-08 20:08] Dean-Coakley commented on #8894
@tstromberg Was this closed in error? Is https://github.com/kubernetes/minikube/pull/8918 still required?

[2020-09-08 20:11] Dean-Coakley commented on #9115
/assign

[2020-09-08 20:42] newbieDatascientist commented on #6197
/reopen. I am facing the exact same issue. Here is the info:

Whether the issue occurs with the latest minikube release: Yes

The exact minikube start command line used: minikube start --driver=docker

The full output of the minikube start command, preferably with --alsologtostderr -v=3 for extra logging.:
W0908 16:40:35.403438   20872 root.go:252] Error reading config file at P:\.minikube\config\

[2020-09-08 20:49] zaourzag commented on #8257
I had the same issue, a quick ```minikube start --force --driver=docker``` fixed it for me

[2020-09-08 23:11] Dean-Coakley commented on #9115
@aps831 I'm struggling to reproduce this issue, can you try again on minikube 1.13?

[2020-09-08 23:53] kadern0 commented on #8790
@sharifelgamal I've been looking at a validation function. Are these all the supported formats for the registry or am I missing  something?

[code]

[2020-09-09 00:05] fzyzcjy commented on #8939
@priyawadhwa So why does docker cause sooooo much CPU? IMHO docker is known as very lightweight. Thanks very much!

[2020-09-09 01:31] smacdav commented on #9078
It does work if I don't enable contour. Interesting. Not useful to me, but interesting.

I went ahead and upgraded the system I was doing this on to v1.13.0. I have another system, however, on which v1.13.0 doesn't seem to work: it fails to connect to the controller-manager and scheduler, so they fail their health-checks. I rolled that system back to 1.12.2. It would be nice to be able to upgrade,

[2020-09-09 01:41] smacdav commented on #9078
The problem I had with 1.13.0 appears to only be an issue if I start "fresh" and therefore run kubernetes v1.19.0. Then I get

[code]

If I run an existing kubernetes v1.18.3 image then it runs just fine. I should probably file a separate ticket for that, huh?

[2020-09-09 02:49] chainhead commented on #8940
VPN is off.

[code]

[2020-09-09 03:58] neargle commented on #8949
I got a same issue like this in Microsoft Windows 10 10.0.18362 Build 18362.
Minikube version info:
[code]

[2020-09-09 04:20] anencore94 commented on #9031
@priyawadhwa Thanks for checking. But I did this on a brand-new cluster.
I think it is not the same reason with #8661.

Since with log, I can see `minikube start --extra-config=kubelet.resolv-conf=/etc/resolv.conf` sets such extra-config successfully. But CrashLoopBackOff happens.

[2020-09-09 05:31] aps831 commented on #9115
Will do.  It will be a couple of days before I get a chance though.

[2020-09-09 06:55] eobermuhlner commented on #9078
Same issue on v1.13.0

Running on Windows using gitbash.

[code]

[code]

[2020-09-09 07:16] chudytom commented on #1967
For me it was much simpler to use the docker driver on Windows. Just run `minikube start --driver=docker` and it works without problems. Make sure your docker daemon is running.

[2020-09-09 08:28] chyj607 opened #9201 "ㅁㅁㅁㅁㅁㅁ"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-09-09 08:34] Xcalizorz commented on #8301
I believe this can be closed now. See https://github.com/kubernetes/minikube/pull/8904

[2020-09-09 14:26] philbrookes commented on #3614
This problem can also occur after upgrading to kernel 5.8.x, I switched back to 5.7.x and the problem has gone away.

[2020-09-09 14:33] johnpoth commented on #6424
wrote a little blog post on how to do this: https://jpoth.blogspot.com/2018/10/kubernetes-rbac-and-openid-connect.html

[2020-09-09 17:09] santhosh256 opened #9204 "Exiting due to RUNTIME_ENABLE: Failed to connect to bus: No such file or directory"
**Steps to reproduce the issue:**

1.  `root@fd1cbc3981ab:/# minikube start
* minikube v1.13.0 on Debian 9.13 (docker/amd64)
* Using the none driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing none bare metal machine for "minikube" ...
* OS release is Debian GNU/Linux 9 (stretch)

X Exiting due to RUNTIME_ENABLE: sudo systemctl daemon-

[2020-09-09 17:32] tstromberg opened #9205 "Add intial arm64 integration test"
To help cover both Linux & future macOS/arm64 users.

[2020-09-09 17:33] tstromberg commented on #9205
Related: #9061

[2020-09-09 18:03] tstromberg commented on #9204
This seems like a system configuration issue. What happens if you type `sudo systemctl daemon-reload` outside of minikube?

[2020-09-09 18:08] tstromberg opened #9206 "Update default version to Kubernetes v1.19.1"
Release notes:

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.19.md/#v1191

[2020-09-09 18:12] priyawadhwa commented on #8938
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-09-09 18:12] #8938 closed

[2020-09-09 18:12] medyagh commented on #8374
this could be a good first issue, if someone uses vmware fusion driver we should advice them to use the other drivers such as vmware or even better docker.

[2020-09-09 18:16] medyagh commented on #8190
Hi @satyamskic , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-09-09 18:16] #8190 closed

[2020-09-09 18:17] medyagh commented on #8338
I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-09-09 18:17] #8338 closed

[2020-09-09 18:19] sharifelgamal commented on #8667
I'm going to go ahead and close this for now, the workaround for running minikube in China is documented. Feel free to reopen if this remains an issue.

[2020-09-09 18:19] #8667 closed

[2020-09-09 18:19] priyawadhwa commented on #8949
Hey @neargle thanks for opening this issue. kube-dns is not available as an addon in minikube, we use coredns which is automatically enabled by kubernetes now.

It looks like there's some networking issue if you can't connect to the internet.

Could you provide the output of
- minikube ssh -- ping -c 4 google.com
- kubectl describe deploy/coredns -n kube-system
- minikube ssh -- cat /etc/resolv.co

[2020-09-09 18:19] RA489 commented on #9201
@chyj607 I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank yo

[2020-09-09 18:19] RA489 commented on #9201
/triage needs-information

[2020-09-09 18:20] priyawadhwa commented on #8846
Hey @mjkowalski did that workaround fix your issue?