[2021-06-20 02:55] morhook commented on #11687
I'm experiencing same behaviour on my Ubuntu with minikube v1.21.0, commit: 76d74191d82c47883dc7e1319ef7cebd3e00ee11

[2021-06-20 07:45] afbjorklund commented on #11707
It should be possible to run minikube with Podman 3.0, looks like the parsing of the system info failed.

Works OK with the normal 3.0.1 version, so could be some patch in the 3.0.2-dev version used here ?

[2021-06-20 07:55] afbjorklund commented on #11707
For some reason the info says that it is not running:

`status for podman: {Installed:true Healthy:true Running:false NeedsImprovement:false Error: Reason: Fix: Doc:}`

[2021-06-20 08:26] afbjorklund commented on #11707
You could try running with this patch: #11708 - that should give you some more error output in the logs.

[2021-06-20 16:45] ukreddy-erwin commented on #11308
I tried just now, still same

[2021-06-20 17:56] Srikrishnabh commented on #11290
@medyagh any comments?

[2021-06-20 19:28] halfninja commented on #11707
So! I built minikube with your commit and it successfully started the cluster, which is good but of course doesn't output any of the error logs. I then tried again with tag `v1.21.0` and it still worked, at which point I realised the first line was now (arm64) where the binary I'd been using was (arm), and that I must have somehow downloaded the ARMv7 binary. So this is user error :sheep:, though

[2021-06-21 04:13] charleech commented on #11669
After digging during the weekend, I've found that it is about the `IP Address` of the `Pod network`, `10.244.0.0/16`  which may conflict my internal network somewhere in the mist ! Then I try to find a way to change it so that I found the #9364 and #9838

I've change the start up command to the following and everything works like a charm.

[code]

[code]

[2021-06-21 04:15] charleech commented on #11669
I'm not sure if there is any document mentioning about the `--docker-opt bip=172.18.0.1/16`, `--extra-config=kubeadm.pod-network-cidr=12.244.0.0/16` and other special additional parameters like them or not. Could you please help to advise further?

[2021-06-21 08:09] igorradovanov opened #11710 "minikube - missing the Publisher Name on Windows"
The minikube installed via the Windows installer from the official source page found at https://minikube.sigs.k8s.io/docs/start/ is missing the **Publisher Name** which is causing Windows Defender to display a message that the app is not trusted and that it may put the PC at risk. This may be a blocker for new users who may want to try out minikube.

Screenshot:
![image](https://user-images.github

[2021-06-21 14:54] afbjorklund commented on #11707
Hmm, interesting. You would think that the JSON would parse similarly on platforms, but maybe it is 32-bit vs. 64-bit ?

Currently there is no support in minikube for running on ARMv7 (i.e. no kicbase image), even if Kubernetes supports it.

[2021-06-21 15:41] lavrxxx commented on #9339
I have the same problem as @http403 with v1.21.0

[2021-06-21 16:03] medyagh commented on #10164
@lxzhang000 this seems to be a very old minikube version ! and also this is virtualbox driver this should have nothing to do with KIC or docker driver

I am not convinceced what this issue is purposing to do

[2021-06-21 16:05] #11697 closed

[2021-06-21 16:11] #11689 closed

[2021-06-21 16:24] andriyDev commented on #11687
/assign

[2021-06-21 16:32] afbjorklund commented on #11706
#11704 was reverted in  #11711

[2021-06-21 16:40] Nasrin-Shiraly commented on #11649
According to [a comment](https://github.com/kubernetes/minikube/pull/11701#issuecomment-865167768) , this issue can be set to resolved once the other PR is merged.  /unassign

[2021-06-21 16:41] #11563 closed

[2021-06-21 16:42] andriyDev commented on #11687
Faster reproduction:
1. minikube start -n3
2. minikube stop
3. minikube start
4. minikube node list

[2021-06-21 16:42] #11560 closed

[2021-06-21 16:59] morhook commented on #11687
I've tried to analyze what was going on, via this command `watch diff -b /tmp/minikube_ok.json profiles/minikube/config.json`. Not sure if the "breakup" is on the startup of the 2nd or the 3rd node.

[2021-06-21 17:15] andriyDev commented on #11685
Duplicate of #11705

[2021-06-21 17:15] #11685 closed

[2021-06-21 17:42] ilya-zuyev commented on #11710
@igorradovanov thanks for reporting this

[2021-06-21 18:10] gongpengjun commented on #6296
`minikube start --hyperkit-vpnkit-sock=auto` works for me.
I found when close Cisco VPN client and minikube hyperkit VM can't access internet. I try to turn off and then of Mac network, the VM can access internet again.

[2021-06-21 18:33] #11253 closed

[2021-06-21 21:36] #10692 closed

[2021-06-21 21:46] sharifelgamal commented on #11555
Sounds great! Don't hesitate to reach out if you have questions.

[2021-06-22 04:40] ilya-zuyev opened #11725 "Investigate running x86 kubernetes on M1"
Docker Desktop for M1 now supports running x86 containers

[code]
We need to investigate if it's possible to run x86_64 kicbase there.
If yes, we could give a lot of flexibility to our users, including building mixed arm/x86 minikube clusters

It's qemu and probably is pretty slow, but worths a shot

[2021-06-22 14:02] tliron opened #11729 "CRI-O systemd unit not picking up /etc/sysconfig/crio.minikube and thus not setting --insecure-registry"
**Steps to reproduce the issue:**

Started thus:
[code]
Now, do `minikube ssh` and:
[code]
You will see that the command used is `/usr/bin/crio --log-level=debug`. However, this is incomplete. Looking at `/etc/systemd/system/multi-user.target.wants/crio.service` you will see that it refers to `/etc/sysconfig/crio.minikube`, which importantly has extra arguments for `--insecure-registry`. However,

[2021-06-22 14:36] sharmarajdaksh commented on #11555
@sharifelgamal one thing that I'm not sure about:
Should I just be adding these commends to https://github.com/kubernetes/minikube/blob/master/pkg/minikube/reason/reason.go
Or should I be also adding these error descriptions to https://github.com/kubernetes/minikube/blob/master/site/content/en/docs/contrib/errorcodes.en.md?

[2021-06-22 15:49] walker-tom commented on #11417
I encountered the exact same problem with minikube v1.21.0 on Catalina 10.15.7 but with the docker driver.

Running `minikube delete --all --purge`, as suggested in #8844, and removing all existing docker images and containers solved this problem for me.

[2021-06-22 16:25] sharifelgamal commented on #11555
Add them as comments in https://github.com/kubernetes/minikube/blob/master/pkg/minikube/reason/reason.go, we have machinery to automatically add it to the documentation

[2021-06-22 17:10] #11622 closed

[2021-06-22 17:30] leoluk opened #11730 "libvirt group check causes false positives"
PR https://github.com/kubernetes/minikube/pull/10712 checks whether the user is in the libvirt group.

However, there's many ways to give users permissions to use system libvirt that do not involve this group. It may be named differently, may be pointing to a remote libvirt instance, or a polkit rule like this one may be used:

[code]

Minikube should first check whether it can actually access lib

[2021-06-22 19:50] medyagh opened #11735 "document all "docker Arm64" integration failed test"
Order | Failed Test | Duration
-- | -- | --
29 | TestAddons/parallel/Registry | 228.8
30 | TestAddons/parallel/Ingress | 408.4
33 | TestAddons/parallel/Olm | 732.99
34 | TestAddons/parallel/CSI | 363.68
35 | TestAddons/parallel/GCPAuth | 483.2
79 | TestFunctional/parallel/MountCmd | 243.32
96 | TestFunctional/parallel/BuildImage | 3.76
148 | TestMultiNode/serial/DeployApp2Nodes | 607.32
149 | Test

[2021-06-22 20:21] andriyDev opened #11737 "Public flake charts should link to gopogh summaries"
Currently the flake charts show the commit hash only, these should also be links to the associated gopogh html.

[2021-06-22 20:21] andriyDev commented on #11737
/assign

[2021-06-22 20:23] andriyDev opened #11738 "Make flake rates only be reported once and cover all environments"
Currently, flake rates are reported once per environment (we specify which environments). We should be reporting flake rate of all environments in one comment instead of mutliple.

[2021-06-22 20:23] andriyDev commented on #11738
/assign

[2021-06-22 20:36] andriyDev opened #11739 "Make multinode integration test not depend on functional tests"
Currently, multinode tests cannot be run on their own, they depend on the functional test utilities.

[2021-06-22 21:08] igorradovanov opened #11740 "Minikube stop - correct the number of stopped nodes"
**Steps to reproduce the issue:**

1. minikube start
2. minikube stop

When there is a single node stopped, the plural word "nodes" is used instead of singular which can be confusing. I find this particularly to be a simple fix within the next file on the line 123: https://github.com/kubernetes/minikube/blob/f567893cdbb8e98a0348c1d93455af71cf6ce12c/cmd/minikube/cmd/stop.go#L123

Screenshot:

![ima

[2021-06-22 21:12] medyagh opened #11741 "fix flake on upload jobs"
https://github.com/kubernetes/minikube/blob/31d93367a313e6ed4445cb6ba02d6e4a13c0ab70/hack/jenkins/upload_integration_report.sh#L52

[2021-06-22 22:01] #11741 closed

[2021-06-22 22:28] #11695 closed

[2021-06-22 22:29] ilya-zuyev commented on #11695
Going to close this issue. Please feel free to reopen it attaching logs and system info as described in issue template

[2021-06-22 22:48] vishjain commented on #8511
/assign

[2021-06-23 01:03] medyagh opened #11747 "list version of all included packages"
[code]

[2021-06-23 02:40] medyagh opened #11750 "Flake Chart comment to incude Number of tests"
currently it looks like this
<img width="972" alt="Screen Shot 2021-06-22 at 10 42 30 PM" src="https://user-images.githubusercontent.com/4564227/123027030-25160300-d3ab-11eb-90ce-6b1f1400ac66.png">

_Originally posted by @minikube-bot in https://github.com/kubernetes/minikube/issues/11743#issuecomment-866453880_

but I want to see the Summary that I see in the commit status
[code]

that way I don'

[2021-06-23 03:08] medyagh opened #11751 "is KVM crio test results over-writting KVM Linux test results?"
while looking at the Pending KVM Linux commit status
[code]
for this PR https://github.com/kubernetes/minikube/pull/11731
this was the pending URL
https://storage.googleapis.com/minikube-builds/logs/11731/5727823/KVM_Linux.pending

changing this to txt give u this
https://storage.googleapis.com/minikube-builds/logs/11731/5727823/KVM_Linux.txt
and in the logs u can see in the logs everywhere is ref

[2021-06-23 06:32] afbjorklund commented on #11747
I don't think those are actually packages, more like `--detailed` or `--system` or something ?

If you want package versions, you would use something like `apt list` to show the installed.

[code]
Some don't have any package, such as runc (containerd.io) or ctr (containerd.io) or buildkit (tgz)

[code]

----

Note that Buildroot doesn't use packages at all, other than the ones in the (source) Make

[2021-06-23 10:06] afbjorklund commented on #11747
Normally Kubernetes just reports the basic versions, and let the OS and CRI handle details.

[code]

[2021-06-23 10:20] mfyuce commented on #1652
As the "minikube status" output suggests "minikube update-context" fixes the problem

[2021-06-23 13:17] JulienBreux commented on #11444
Hi @andriyDev,

I can open a PR about this issue and help you. 🤗
But what do you expect in the maintainer column?

The name and email address of the maintainer?
The username of the Github account?

Have a good day.

[2021-06-23 16:10] sharifelgamal commented on #11751
this was a bug in our Jenkins configuration, it should be fixed.

[2021-06-23 16:16] andriyDev commented on #11444
@JulienBreux I actually have a PR for this all ready to go haha, just aggregating the maintainers, I'll send a PR by the end of the day.

[2021-06-23 16:26] #11751 closed

[2021-06-23 17:21] JulienBreux commented on #11444
Perfect 🙏

[2021-06-23 18:09] spowelljr commented on #11489
Hi @Sardalbek, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-06-23 18:09] #11489 closed

[2021-06-23 18:12] spowelljr commented on #11153
This is a duplicate of #11687 which is currently being fixed. I'm going to close this issue, please follow along there, thanks!

[2021-06-23 18:12] #11153 closed

[2021-06-23 18:14] medyagh commented on #8332
Hi @, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-06-23 18:14] #8332 closed

[2021-06-23 18:14] andriyDev commented on #11234
This issue is quite old, so I will close this issue. If you continue to have the same issue after trying the above solution, feel free to reopen and add more info!

[2021-06-23 18:14] #11234 closed

[2021-06-23 18:15] #10948 closed

[2021-06-23 18:17] medyagh commented on #11144
@ChampionZP thank you for providing more comments, I wonder if you would be willing to do a private slack chat to go over this problem live together or schedule a call ?

[2021-06-23 18:17] spowelljr commented on #10253
Hi @lingsamuel, you haven't responded to @sharifelgamal's suggestion, so I'm going to close this issue. However, if you try his suggestion and it doesn't work, feel free to reopen the issue, thanks!

[2021-06-23 18:17] #10253 closed

[2021-06-23 18:18] medyagh commented on #11112
@ChampionZP thank you for providing more comments, I wonder if you would be willing to do a private slack chat to go over this problem live together or schedule a call ?

[2021-06-23 18:20] spowelljr commented on #6489
@JacekDuszenko We have a tutorial section on the minikube website here: https://minikube.sigs.k8s.io/docs/tutorials/

[2021-06-23 18:20] sharifelgamal commented on #9643
This should be fixed in the newest version of minikube, please reopen if the issue persists.

[2021-06-23 18:20] #9643 closed

[2021-06-23 18:21] andriyDev commented on #11170
This issue has been quiet for over a month, so I'm closing it. If the issue continues, please reopen!

[2021-06-23 18:21] #11170 closed

[2021-06-23 18:22] sharifelgamal commented on #10939
@bolinlee did using the none driver help?

[2021-06-23 18:24] JacekDuszenko commented on #6489
Cool, I'll add it there then /assign @JacekDuszenko

[2021-06-23 18:24] JacekDuszenko commented on #6489
/assign @JacekDuszenko

[2021-06-23 18:25] medyagh commented on #11252
@RtlduinoMan  mind pasting the "minikube version" ?
and attach the file  `minikube logs -f logs.txt` to this issue ?

(ensure u are using the latest minikube)

[2021-06-23 18:26] medyagh commented on #11324
@AbhuSteyn this doesnt seem to be a minikube issue, and without proper logs I cant help with this

I suggest getting support from kubernetes-users slack channell for how to use kubernetes

[2021-06-23 18:26] #11324 closed

[2021-06-23 18:31] sharifelgamal commented on #11479
I'm not a minikube tunnel expert, perhaps @josedonizetti could chime in?

[2021-06-23 18:33] medyagh commented on #11480
@maspen does upgrading docker fix this issue ?

[2021-06-23 18:34] medyagh commented on #11543
I am in favor of at least giving solution message to user if their old docker is cause of the problem like this https://github.com/kubernetes/minikube/issues/11480

(we should still allow users to run old dockers with --force if they wanna do it anyways)

@dinever  I would accept a PR that does that (or updates our current validation)

[2021-06-23 18:35] andriyDev commented on #10390
/remove-lifecycle rotten

[2021-06-23 18:41] medyagh commented on #11452
@Ashwin-Raj18 it seems like the problem is related to no disk space on your machine for docker to pull the image

related
https://github.com/moby/moby/issues/29508

can you check if there is no space left?

df -h

[2021-06-23 18:42] andriyDev commented on #9818
/remove-lifecycle rotten

[2021-06-23 18:45] sharifelgamal commented on #11499
@prezha any guidance here?

[2021-06-23 18:50] sharifelgamal commented on #5815
This is still an issue we'd like to resolve. Help wanted!

[2021-06-23 18:53] sharifelgamal commented on #8511
Please reach out if you have any questions working on this issue.

[2021-06-23 18:55] medyagh commented on #10248
@timhughes I wonder if the binary in this Pr helps ?
here is the link to the binary from a PR that I think might fix this issue, do you mind trying it out ?

http://storage.googleapis.com/minikube-builds/11731/minikube-linux-amd64
http://storage.googleapis.com/minikube-builds/11731/minikube-darwin-amd64
http://storage.googleapis.com/minikube-builds/11731/minikube-windows-amd64.exe

this PR by @and

[2021-06-23 19:17] ilya-zuyev commented on #11452
the error in https://github.com/moby/moby/issues/29508 is different

`no space left on device`
vs
`unlinkat /usr/share/doc/adduser/examples/adduser.local.conf.examples: directory not empty`

[2021-06-23 21:54] prezha commented on #11499
sure, @sharifelgamal !

@jmazzitelli this is "by design" (ie, expected behaviour): kvm2 driver uses private subnet to connect guest - minikube cluster node(s) to the host while being isolated from other guests - minikube cluster node(s) that are deliberately placed on different/separate private subnets

if you compare your kvm2 and virtualbox examples from the above, you can notice that kvm2 minik

[2021-06-23 22:32] cayden-uw commented on #11565
I have this same problem which I filed on the cloud code issue tracker https://github.com/GoogleCloudPlatform/cloud-code-vscode/issues/441

[2021-06-23 23:17] ssmall commented on #11565
I am also able to reproduce this issue when using minikube in VSCode with the Cloud Code plugin. I also see

[code]

[2021-06-24 01:58] bolinlee commented on #10939
hi sharifelgamal,
    I'm sorry.Please forgive me for not replying in time. I tried it just now,and my minikube can start successfully with none driver. Thank you very much,Thank you all for your help!

[2021-06-24 06:47] afbjorklund commented on #11479
As far as I remember, minikube tunnel can use both ssh and ifconfig

[2021-06-24 06:59] afbjorklund commented on #9946
Not going to make it for this week.

[2021-06-24 09:42] tharun208 commented on #11750
@medyagh I like to work on this

[2021-06-24 15:33] andriyDev commented on #11750
Go for it!

/assign tharun208

[2021-06-24 17:42] #11687 closed

[2021-06-24 17:45] andriyDev opened #11758 "Make flake rate page to show all tests for a single environment"
We would like to see the flake rates of all tests for a single environment in the flake charts.

[2021-06-24 17:46] andriyDev commented on #11750
@tharun208 This doc may help https://github.com/kubernetes/minikube/pull/11757. Specifically, look for "report_flakes.sh".

[2021-06-24 18:13] andriyDev opened #11759 "Flake rates should be reported once per commit hash in flake charts"
This looks bad and makes it harder to read.

![image](https://user-images.githubusercontent.com/22285953/123312415-2a736a80-d4dd-11eb-9f68-89cce9280bd0.png)

[2021-06-24 19:01] owenthereal opened #11760 "Podman driver does not work on Fedora 34"
**Steps to reproduce the issue:**

[code]

[code]

[code]

1. minikube start --driver podman --alsologtostderr -v=7

**Full output of `minikube logs` command:**
<details>
*
* ==> Audit <==
* |---------|-------------------------|---------------|------|---------|-------------------------------|-------------------------------|
| Command |          Args           |    Profile    | User | Version |

[2021-06-24 20:12] briandealwis opened #11762 "Minikube addons should be able to be used from air-gapped setups"
Minikube addons may reference images living in a variety of different registries.  It would be ideal if a user could resolve these addon images to a single location, such as a private registry, so as to enable air-gapped setups.

[2021-06-24 20:55] andriyDev opened #11763 "Add loading bar to flake rate chart while downloading data"

[2021-06-24 23:48] #11739 closed

[2021-06-25 06:20] totore86 commented on #11348
I have the same issue on Arch with minikube 1.21.0 commit: 76d74191d82c47883dc7e1319ef7cebd3e00ee11-dirty

[2021-06-25 08:35] omninonsense commented on #2431
This is still an issue today. Like some people said, earlier, using `--mount` and `--mount-string` to `start`  is not always a great option (and I'm not sure how we'd mount more thing), and having multiple foreground processes for mounts is also less than ideal.

/reopen

[2021-06-25 12:12] andrewmiron commented on #11348
I have the same issue.
[code]
And my environment:
[code]

I tried to apply the same line from the commit [de232c] but it didn't work for me. Any other ideas?

[2021-06-25 13:47] david0 opened #11765 "hostPath permissions wrong on multi node"
minikube version: v1.21.0
**Steps to reproduce the issue:**

1. `minikube start --nodes=2 `
2. Provision hostpath volumes to `minikube-m02` e.g. via statefulset [example](https://github.com/kubernetes/minikube/files/6716467/statefulset.yml.txt)

3. check permissions via `minikube ssh -n minikube-m02 -- ls -lisa /tmp/hostpath-provisioner/default` (should be 777)
[code]

The first node has the corre

[2021-06-25 14:17] osama221 commented on #6769
/reopen

[2021-06-25 16:10] #11737 closed

[2021-06-25 16:10] #11759 closed

[2021-06-25 19:20] #11763 closed

[2021-06-25 22:35] andriyDev opened #11770 "Docker Windows flakes not updating"
Flake rates for all other integration tests seem to be updating test data with every master run, but Docker Windows does not update test data

[2021-06-25 22:42] #11444 closed

[2021-06-25 22:51] karezza opened #11771 "documentation: --embed-certs"
Regarding page:
https://minikube.sigs.k8s.io/docs/handbook/untrusted_certs/

Request additional information:
- if the ca certs are installed on the host machine is this step necessary?
- if no, what if the ca certs are installed to the host machine after 'minikube start' is executed, will it see them?
- after running command will deployments need to be restarted in order to work?
- maybe a little

[2021-06-25 23:27] #11758 closed

[2021-06-26 08:05] afbjorklund commented on #11765
I don't think the hostpath provisioner even works on the second node.

[2021-06-26 08:07] afbjorklund commented on #11760
Can only see a timeout ? Is SELinux still enabled

[2021-06-26 12:10] LHoBiz commented on #11408
I ended up getting an upgraded computer and had another go, which was successful. The last pc had a lot wrong with it. I don't know exactly what was causing this issue, but I'm not experiencing it now :-). And to answer the question, I wasn't using a proxy before. So I can close the issue. Thank you.

[2021-06-26 12:10] #11408 closed

[2021-06-26 13:42] skalva404 opened #11774 "Exiting due to MK_ENABLE: run callbacks: running callbacks: [NewSession: new client: new client: ssh: handshake failed: read tcp 127.0.0.1:38346->127.0.0.1:43589: read: connection reset by peer]"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-06-26 14:58] mb250315 commented on #9499
1) minikube service list
2) minikube service --url example-service
![image](https://user-images.githubusercontent.com/70354479/123517137-040c2580-d6bd-11eb-9eba-4aca4f937df6.png)

[2021-06-26 20:39] owenthereal commented on #11760
I think SELinux is enabled. Would it matter?

[2021-06-27 07:52] afbjorklund commented on #11220
This is actually a systemd "feature", and not something that is caused by minikube:

https://www.freedesktop.org/wiki/Software/systemd/hostnamed/

If you have a system without a "proper" hostname, and it gets a network interface host.
Then systemd assigns it a "transient" hostname, while keeping the "static" hostname:

[code]

Ubuntu sets up a network for the host, so it is **not** affected:

[cod

[2021-06-27 08:24] afbjorklund commented on #11220
Note: Removing the "control-plane" name for the kubernetes host interface breaks functionality.
Kubernetes has _always_ chosen the "wrong" network interface to run on, on these VM setups...

[code]

For minikube it might be a feature, since it means it is not exposed to the outside by mistake.
The real address is added to the certificate hostnames, in case it is later exposed on purpose.

[code]

[2021-06-27 09:02] david0 commented on #11765
What does that mean? Has another component created the folders on the second node or is it a known limitation of the hostpath provisionioner?

[2021-06-27 12:55] afbjorklund commented on #11765
I mean if you create files on one node (like the first), they probably don't show up on other nodes (like the second).

So I wonder if those directories are the result of trying to mount non-existing directories, or something like that ?

Ultimately minikube would have to provide something like NFS, to offer persistent storage across multiple nodes...

As long as "something else" (outside minikube

[2021-06-27 14:24] zettaRepo opened #11776 "│ - /tmp/minikube_stop_f872f27c991140edb3970cd203c691f8ea8e5445_0.log │"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-06-27 17:16] david0 commented on #11765
Oh, I see now that even if the hostpath provisioner would set the correct permissions, still it would only work on a very limited amound of usecases (e.g. ReadWriteOnce, temporary data with acceptable data loss).

That brings up the question to me what kind of pv do people typically use/are expected to use on a multi node minikube? It looks to me as if host mounting `/tmp/hostpath-provisioner` sho

[2021-06-28 06:32] RA489 commented on #11776
@zettaRepo Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank you for sharing your experience!

[2021-06-28 06:33] RA489 commented on #11776
/triage needs-information

[2021-06-28 06:33] RA489 commented on #11774
/kind support

[2021-06-28 06:34] RA489 commented on #11771
/kind support

[2021-06-28 06:34] RA489 commented on #11770
/kind support

[2021-06-28 10:59] younessberianebadi opened #11780 "minikube start --cpus 4 --memory 8192"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-06-28 13:01] J-Curragh commented on #10544
Still getting this error on Manjaro GNOME running on Linux kernel 5.10.42-1. I am using Minikube version 1.20.0 using the Docker driver.
[code]
I've tried purging minikube and using the addons flag. Going to try an update and another purge.

[2021-06-28 16:04] andriyDev opened #11781 "Create duration and total test count charts in environment integration test charts"

[2021-06-28 16:12] andriyDev opened #11782 "Add link to PR flake rate commenter to environment flake chart"

[2021-06-28 16:13] andriyDev opened #11783 "Add link to environment flake charts in public docs"

[2021-06-28 16:40] andriyDev opened #11786 "Replace InternalEnable and InternalDisable with InternalAddonEnable, and InternalAddonDisable"
At the moment, we have InternalEnable, InternalDisable, and InternalAddonEnable. We should simplify and only have InternalAddonEnable and InternalAddonDisable.

[2021-06-28 16:44] secmobi commented on #11348
Not sure how you did it. Here are my steps in detail:

In stead of adding a line of `source <(minikube completion zsh)` into my `~/.zshrc`, I exported the completion script to a local file, e.g.,
[code]

In the generated `minikube_autocomplete.sh`, I was able to find the function `__minikube_convert_bash_to_zsh()` at around line 132. Near the end of that function, I added the patch line:
[code]

A

[2021-06-28 18:13] sharifelgamal commented on #10599
Fixed by https://github.com/kubernetes/minikube/pull/11743

[2021-06-28 18:13] #10599 closed

[2021-06-28 18:14] sharifelgamal commented on #11512
Fixed by https://github.com/kubernetes/minikube/pull/11632

[2021-06-28 18:14] #11512 closed

[2021-06-28 21:19] dreamsmasher commented on #10496
Just faced the same issue, rebooting solved it. Way too often, I update then try to do work that requires unmounted kernel modules hahaha.

[2021-06-28 23:32] #11782 closed

[2021-06-28 23:41] mahalrs commented on #11786
I will work on this

[2021-06-28 23:55] mahalrs commented on #11786
/assign

[2021-06-29 06:59] sshafiuddin opened #11801 "windows vbox: Failed to start host: provision: Temporary Error: error getting ip during provisioning: Could not find matching IP for MAC address 080027a1690b"
Windows - VirtualBox - minikube start issue - getting not find matching IP for MAC address (PFA for full log  info )

$minikube start driver=virtualbox
[lastStart.txt](https://github.com/kubernetes/minikube/files/6731298/lastStart.txt)

* minikube v1.20.0 on Microsoft Windows 10 Enterprise 10.0.18363 Build 18363
* Using the virtualbox driver based on existing profile
* Starting control plane node

[2021-06-29 09:30] andrewmiron commented on #11348
Thanks @secmobi - what I did was to add the line directly into minikube file from /usr/local/share/zsh/site-functions/_minikube and after re-entered the ZSH.
I will try your solution as well and see how it goes.

[2021-06-29 10:17] sagarjat opened #11802 "issue in minikube start"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-06-29 16:11] mahalrs commented on #11657
@spowelljr I will work on this.

/assign

[2021-06-29 17:49] #11783 closed

[2021-06-29 18:16] daehyeok commented on #10759
/close

[2021-06-29 18:16] #10759 closed

[2021-06-29 18:35] medyagh opened #11808 "flake chart: allow selecting only one Test in the Chart"
For example:
when you visit KVM tests I want to click on One Single Test and all other tests be grayed out
https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=KVM_Linux

[2021-06-29 18:44] ilya-zuyev opened #11810 "KVM: Cilium CNI not working with buildroot 2021.02 systemd"
After https://github.com/kubernetes/minikube/pull/11688/ was merged, we noticed integration test failures for Cilium CNI.
All test setups with KVM driver had the same error - https://storage.googleapis.com/minikube-builds/logs/11791/b8ae8cd/KVM_Linux.html#fail_TestNetworkPlugins%2fgroup%2fcilium%2fDNS

[code]
ISO containing the issue: https://storage.googleapis.com/minikube-builds/iso/11688/miniku

[2021-06-29 18:49] ilya-zuyev commented on #11810
@afbjorklund it looks like 4.19.194 breaks cilium. One idea is that it could be related to BPF configuration

[2021-06-29 18:59] medyagh commented on #11810
I was looking for bpf in our source code I found we indirectly depend on it in go.sum
[code]

[2021-06-29 19:07] spowelljr commented on #10900
@medyagh @altwohill
I created the following example program that mimics the minikube code in question:
[code]

And for me, it returns the expected:
[code]

@altwohill Could you try running the example code at let me know if you get the same result?

[2021-06-29 19:49] spowelljr commented on #10624
Fixed with #11804

[2021-06-29 19:49] #10624 closed

[2021-06-29 19:50] spowelljr commented on #10625
Fixed with #11804

[2021-06-29 19:50] #10625 closed

[2021-06-29 20:54] medyagh opened #11813 "TestStartStop/group/newest-cni/serial/Pause: `contains no runlevels, aborting.`"
Acording to our flake chart table https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux

the error message `update-rc.d: error: kubelet Default-Start contains no runlevels, aborting.`

https://storage.googleapis.com/minikube-builds/logs/master/32c08ad/Docker_Linux.html#fail_TestStartStop%2fgroup%2fold-k8s-version%2fserial%2fPause

[code]

[2021-06-29 21:45] afbjorklund commented on #11810
Unsurprisingly, this is yet another systemd bug: https://github.com/cilium/cilium/issues/10645

Caused by the upgrade from systemd 240 to systemd 247, where this was introduced in 245 :

https://github.com/systemd/systemd/commit/5d4fc0e665a3639f92ac880896c56f9533441307

Need to add some patch, like UBUNTU-drop-kernel.-settings-from-sysctl-defaults-shipped.patch

----

It is unrelated to the kernel

[2021-06-29 23:04] andriyDev opened #11823 "auto-pause not working - kubectl hangs/fails to connect"
Start minikube with auto-pause, kubectl commands all hang indefinitely or fails to connect.

[2021-06-29 23:21] ilya-zuyev opened #11825 "Include information about arm64 releases in release.json and release-beta.json"
We maintain release list files:  https://storage.googleapis.com/minikube/releases.json  for GA and https://storage.googleapis.com/minikube/releases-beta.json for betas.

ATM, those are lists of items like:
[code]
all hash sums are assumed to be for amd64 architecture.
Now arm64 is the officially supported architecture for darwin and linux, we need to extend the format to provide checksums for othe

[2021-06-30 06:09] youzeliang opened #11830 "Error restarting cluster: waiting for apiserver: timed out waiting for the condition"
I type it "minikube start --image-repository='registry.cn-hangzhou.aliyuncs.com/google_containers'" in terminal .
But it always time out
I try to use different net

[2021-06-30 06:33] krezovic opened #11831 "[support] How to regenerate client certificate"
I have trouble restarting minikube cluster whose client certificates have expired

[code]

Please note the line:

[code]

I get the same issue when using kubectl

[code]

I have tried to renew the certificates using `kubeadm`

[code]

It always gets back to the old certificate on the next `minikube start`

[2021-06-30 12:01] sonukushwaha403 opened #11832 "kubeconfig file is corrupted"
**Steps to reproduce the issue:**

1.$ minikube start

2.
3.

**Full output of `minikube logs` command:**
<details>
  minikube logs
* ==> Docker <==
* -- Logs begin at Wed 2021-06-30 11:59:04 UTC, end at Wed 2021-06-30 12:06:08 UTC. --
* Jun 30 11:59:32 minikube dockerd[2688]: time="2021-06-30T11:59:32.944158264Z" level=info msg="loading plugin \"io.containerd.runtime.v2.task\"..." type=io.contain

[2021-06-30 12:17] ame89 opened #11833 "Exiting due to MK_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]"
**Steps to reproduce the issue:**

1. minikube start
2. minikube addons enable ingress

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>
Binary: Built with gc go1.16.4 for linux/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I0630 14:08:46.185859   60627 out.go:291] Setting OutFile to fd 1 ...
I0630 14:08:46.

[2021-06-30 16:19] medyagh commented on #11825
I agree ! thanks for noticing this, lets add that

[2021-06-30 16:42] #11657 closed

[2021-06-30 16:55] #11813 closed

[2021-06-30 17:12] medyagh commented on #11452
@Ashwin-Raj18 are you using rootless docker ?

[2021-06-30 18:08] medyagh commented on #11825
as discussed in triage party, we would like to have this, with backward compatibility ina way that an old minikube accessing this json file to see if there is a new version

[2021-06-30 18:11] medyagh commented on #11762
I would be in favor of implementing this feature, in a way if you start with once with an addon

we could add an integration test to ensure this is happening at least for a started minikube so on a second start it wont happen.

or if you do something like this
[code]
it should not download it again

[2021-06-30 18:16] medyagh commented on #11345
I belive we fixed this bug in 1.21.0 to not default to SSH
and I do think ur Vbox virtualiuzation is not enabled in bios correclty, please reffer to your mother board manual

[2021-06-30 18:16] #11345 closed

[2021-06-30 18:19] sharifelgamal commented on #11038
@mariiaGnutova does updating Docker help you as well?

[2021-06-30 18:19] medyagh commented on #11450
@spowelljr hyperv
[code]

[2021-06-30 18:21] andriyDev commented on #9362
What we're looking for is a page describing how the external packages are updated/how to maintain them.

[2021-06-30 18:25] sharifelgamal commented on #9803
This is still probably something we want to do.

[2021-06-30 18:29] ilya-zuyev opened #11835 "KVM: log more details when minikube is failed to start"
ATM, if minikube is faiiled to start with kvm driver the logs are not very informative:

[code]
Printing more details, like the output of `virsh net-info/net-dumpxml/dominfo/dumpxml` could help a lot to investigate such issues

[2021-06-30 18:31] medyagh commented on #11290
@Srikrishnabh I agree with what @afbjorklund suggested
this could be a map in our `constants` package
we should have an automated tool to update that `constants` package file
for example

`make update-kubeadm-consts` that will get the images list for that specific version of kubernetes and put it in our constants as a map

[2021-06-30 18:36] medyagh commented on #9810
this seems to have been fixed

[code]

[2021-06-30 18:36] #9810 closed

[2021-06-30 18:37] medyagh commented on #9362
@rajdevworks are u still looking into this ?

[2021-06-30 18:41] ilya-zuyev commented on #11139
@Mattimax20 are you behind a VPN?

[2021-06-30 18:41] medyagh opened #11836 "discourge and add warnning for vbox driver if there are other healthier options available"
some users might have set config to use vbox driver in the past and minikube respects it and wont change to better drivers
in these cases we should show a Box UI warnining that there are better optionns avilable and here are the commandns to use it

[2021-06-30 18:42] medyagh commented on #11740
thank u for notiicing this

[2021-06-30 18:43] #11833 closed

[2021-06-30 18:44] medyagh commented on #11730
@leoluk seems like a good idea ! I would be happy to review a PR that implemetns your idea ! are you interested?

[2021-06-30 18:45] ilya-zuyev commented on #11459
@furkatgofurov7 Thanks for creating this issue!
Is your CI minikube the only process on the host that uses kvm/libvirt?

[2021-06-30 18:45] rajdevworks commented on #9362
Yes @medyagh

[2021-06-30 18:46] medyagh commented on #11705
@pythonwood  we fixed this issue in this PR https://github.com/kubernetes/minikube/pull/11731
it should be fixed in the beta release

[2021-06-30 18:47] medyagh opened #11837 "add beta releases to our website installation instructions"
https://minikube.sigs.k8s.io/docs/start/

[2021-06-30 18:47] spowelljr commented on #11830
Hi @youzeliang, thanks for reporting your issue!

This is a duplicate of #10544, in order to keep all discussion of this issue centralized I'm going to close this issue.

Please follow along with #10544 and contribute any findings there, thanks for your understanding!

[2021-06-30 18:47] #11830 closed

[2021-06-30 18:48] spowelljr commented on #11802
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr, for example:

[code]
- Also the full the output of the
[code]
This will

[2021-06-30 18:49] medyagh commented on #11320
@gtolarc does this help ? https://minikube.sigs.k8s.io/docs/faq/#how-can-i-access-a-minikube-cluster-from-a-remote-network

[2021-06-30 18:49] spowelljr commented on #11780
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr, for example:

[code]
- Also the full the output of the
[code]
This will

[2021-06-30 18:50] medyagh commented on #11440
@Gilwe what docs do u reffer to ?

[2021-06-30 18:54] ame89 commented on #11833
Thank you

[2021-06-30 18:56] sharifelgamal commented on #11513
This can most likely be fixed by doing something similar to https://github.com/kubernetes-sigs/kind/issues/2240 in our kubeadm configs.

[2021-06-30 18:57] medyagh commented on #11700
@Oliver-Mitchell-CIC-UK we do not reocmmend or support using minkube on a remote network
https://minikube.sigs.k8s.io/docs/faq/#how-can-i-access-a-minikube-cluster-from-a-remote-network

[2021-06-30 19:04] spowelljr commented on #11831
Hi @krezovic, thanks for reporting your issue!

This is known issue that we plan on fixing in the near future.

We have an existing GitHub issue concerning this problem (#10122) that already has a lot of discussion around the topic.

I'm going to close this issue in favor of #10122, but please follow along there and feel free to add your input.

Thanks for using minikube!

[2021-06-30 19:04] #11831 closed

[2021-06-30 19:06] andriyDev commented on #11062
@mrhallak This is not really a minikube issue. This has to do with how secrets are stored and assigned. [This](https://stackoverflow.com/questions/54354243/kubernetes-secret-is-persisting-through-deletes) talks more about it. Running `kubectl delete serviceaccounts default` should clear it out after deleting the postgres yaml. You may also want to look into [Service account token secrets](https://

[2021-06-30 19:06] #11062 closed

[2021-06-30 19:11] andriyDev commented on #11577
@marlon-sousa Did @zhan9san's solution work?

[2021-06-30 19:52] spowelljr opened #11838 "Fix TestFunctional/serial/MinikubeKubectlCmdDirectly on Windows"
This is a failing test on Windows that should be fixed.

[2021-06-30 19:56] medyagh opened #11839 "TestRunningBinaryUpgrade:"
Example:

https://storage.googleapis.com/minikube-builds/logs/11811/861d81b/Docker_Linux.html

[2021-06-30 19:57] afbjorklund commented on #11836
I don't think we should complain to users using the VirtualBox driver (or the Docker runtime), even if there are newer alternatives.
The "native virtualization" and the containerd/buildkitd runtime has yet much to prove, before they replace the traditional options.

[2021-06-30 20:38] #11738 closed

[2021-06-30 20:38] #11770 closed

[2021-06-30 20:49] leoluk commented on #11730
Sure thing! Submitted PR

[2021-06-30 21:46] briandealwis opened #11845 "Minikube does not work on Travis `arm64` with LXD"
I've been struggling to get Minikube to work with [Travis's `arm64` runners](https://docs.travis-ci.com/user/multi-cpu-architectures/).  These are run within LXD images on Packet.net (now Equinix) machines.  I have no ability to change the configuration of these runners.

The runners do have Docker installed.

### Using the `docker` driver fails

The docker driver it fails ([full log](https://trav

[2021-06-30 21:50] afbjorklund commented on #11845
See #7957 for some earlier discussion, supporting LXC/LXD is not a top priority at the moment

[2021-06-30 21:53] medyagh commented on #11845
@afbjorklund while we dont support LXD drivers,,, but may be we could support none driver on lxd ?

[2021-06-30 21:57] afbjorklund commented on #11845
The none driver is unlikely to work with a fakenode, without some similar hacks as the KIC image.

[2021-06-30 22:18] mahalrs commented on #11837
/assign @mahalrs

[2021-06-30 22:22] mahalrs commented on #11837
@medyagh I will work on this. Can you provide me more details on how we want to do this. For example, we can add additional buttons to installation instruction section to select between beta and GA releases.

[2021-06-30 23:34] mahalrs commented on #11808
@medyagh @spowelljr I can work on this.

/assign @mahalrs

[2021-07-01 00:51] charleech commented on #11669
Could you please help to point me to the proper direction?

[2021-07-01 01:33] youzeliang commented on #11830
ok，thank you

[2021-07-01 12:46] J-Curragh commented on #10544
I fixed my problem. The issue was some control plane pods were failing, namely the kube proxy and storage provisioner. Many Manjaro users are experiencing issues where the kube proxy's configmap had required values set to null.
[code]
Open the configmap: `$ kubectl -n kube-system edit configmap kube-proxy`
Inspect it for any errors. Setting maxPerCore to 0 and min to null resolved the issue in my

[2021-07-01 13:51] ishika261 commented on #4060
have you found out any solution for this problem?? i am still stuck !

[2021-07-01 16:47] andriyDev opened #11849 "Cloud shell integration tests not reporting completion for flake rate system"
/assign

[2021-07-01 18:03] #11838 closed

[2021-07-01 18:40] andriyDev opened #11853 "Add flake rate growth to flake charts"

[2021-07-01 18:40] andriyDev opened #11854 "Add rank column to flake rate lists"

[2021-07-01 18:58] amanravi12 opened #11855 "X Exiting due to GUEST_PROVISION: Failed to start host: provision: Error getting config for native Go SSH: open C:\Users\LENOVO\.minikube\machines\minikube\id_rsa: Access is denied."
C:\Users\LENOVO>minikube start
* minikube v1.21.0 on Microsoft Windows 10 Home Single Language 10.0.19043 Build 19043
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing virtualbox VM for "minikube" ...
! StartHost failed, but will try again: driver start: Too many retries waiting for SSH to be available.  Last er

[2021-07-01 19:07] #11853 closed

[2021-07-01 19:07] #11854 closed

[2021-07-01 19:12] #11267 closed

[2021-07-01 19:47] medyagh opened #11861 "site: Add command-line download instructions for windows binary"
how about as a follow up PR fix the windows "Download" so we have a command to download binaries for windows  too ? instead of asking peoople to go to the release page
https://github.com/medyagh/minikube/blob/b5cf45a1d47f1660a7e91075269000d4d0c29aa6/site/content/en/docs/start/_index.md#L211

something like this might work ? (that we use to download gopogh)
[code]

_Originally posted by @medyagh in

[2021-07-01 19:47] #11837 closed

[2021-07-01 19:55] mahalrs commented on #11861
@medyagh I will look into this and will get back to you soon.

/assign @mahalrs

[2021-07-01 20:10] #11823 closed

[2021-07-01 21:14] spowelljr commented on #10940
@SantosVictorero as @dmeyerholt said above, you can set the `MINIKUBE_HOME` env to `D:\path\to\dir\.minikube` and minikube will store everything in that location. I tried looking at a programmatic way to pull the default hard drive location from Hyper-V Manager but didn't see anyway to do so. If you know of a way please let me know and I could easily implement that.

[2021-07-01 21:15] #11747 closed

[2021-07-01 21:33] #11555 closed

[2021-07-01 21:34] medyagh commented on #11861
@mahalrs its urs... I am not sure whats best thing to do on windows

curl.exe -Lo minikube.exe URL
Move-Item .\minikube.exe c:\something-in-path\minibe.exe

[2021-07-01 21:51] medyagh opened #11871 "remove go.mod dependency on k8s.io/kubernetes"
currently in our go.mod we are depending on
[code]

which is not a good idea to use the whole kubernetes project as a lib, we currently only use a few "Constants" and feature gate types (to validate if a feature gate is valid)

I would suggest we copy those constants from kubernetes source code to our own constants file in constants package maybe k8s_constants.go

we cna update once a while manual

[2021-07-01 23:03] rsteube opened #11873 "typo in pause command"
**Steps to reproduce the issue:**

1. . `minikube pause ----namespaces example`

**Full output of failed command:**
[code]

Flag should probably be `namespaces` instead of `--namespaces`: https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/pause.go#L107

[2021-07-01 23:08] mahalrs commented on #11871
I will work on this.

/assign @mahalrs

[2021-07-01 23:13] mahalrs commented on #11873
Thanks for reporting this. I will fix it as soon as I can.

/kind bug
/assign @mahalrs

[2021-07-01 23:17] #11849 closed

[2021-07-02 04:20] rsteube commented on #11873
@mahalrs seems this applies for the `unpause` command as well

[2021-07-02 04:34] js-kyle commented on #9305
This is still an issue on minikube `1.20.0`

[2021-07-02 05:02] mahalrs commented on #11873
Hi @rsteube, thanks for reporting these issues. We will fix them as soon as possible.

[2021-07-02 05:10] mahalrs opened #11879 "typo in unpause command"
Flag should be `namespaces` instead of `--namespaces`:
https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/unpause.go#L109

*Originally mentioned by @rsteube in [#11873 (comment)](https://github.com/kubernetes/minikube/issues/11873#issuecomment-872701533)*

[2021-07-02 05:11] mahalrs commented on #11879
/kind bug
/assign @mahalrs

[2021-07-02 06:20] robrich commented on #9183
Unstale please

[2021-07-02 08:33] mtmk commented on #4540
Thanks. I think the one fixed it for me was the `rm -rf ~/.minikube ~/.kube` line. I had a Minikube install from ages ago, the old config from that might've been interfering.

[2021-07-02 09:07] johntostring opened #11881 "storage-provisioner Pod镜像名称错误"
最近需要一个 v1.19.8 的 K8s 集群进行测试，minikube 成功创建完成后，查看 Pod 发现 **storage-provisioner** 拉取镜像失败。

**重现问题所需的命令**：
[code]
**失败的命令的完整输出**：
没有失败

**`minikube logs`命令的输出**： <details>
[code]

</details>

**使用的操作系统版本**：
macOS Catalina 10.15.6 (19G2021)

**查看 Pod**

[code]

SSH 进入 minikube 虚机查看镜像，发现镜像名称
实际是 `registry.cn-hangzhou.aliyuncs.com/google_containers/storage-provisioner`
并非是 `registry.cn-hangzhou.aliyuncs.

[2021-07-02 09:22] awarus commented on #11107
+1, I've spent about 2 days running hello-minikube. I couldn't start hello-minikube on apple MacBook Pro with M1 chip(MacOS 11.4 BigSur (20F71)). Have always the same situation:
`hello-minikube-6ddfcc9757-5x8bp             0/1     CrashLoopBackOff`

[2021-07-02 09:53] baymax55 commented on #8997
when I use the latest version for minikube, there is no such problem, thanks

[2021-07-02 13:36] medyagh commented on #11871
cool its yours @mahalrs

[2021-07-02 13:45] #11781 closed

[2021-07-02 13:51] #10940 closed

[2021-07-02 14:16] NitichaiSawangsai commented on #9224
You try this command
<pre> arch -x86_64 brew install & minikube start --vm=true </pre>

[2021-07-02 14:18] medyagh opened #11882 "add click to sort to flake charts"
for example in this chart
we should be able click on each column and sort based on that header.

https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux

this could be done using the same lib that gopogh uses

https://github.com/medyagh/gopogh/blob/160ee8d870b02915821f6cc32c8d97b0411120f5/pkg/templates/report3.html#L74

[2021-07-02 15:06] medyagh opened #11883 "add `cli best practices` badge to github readme"
simmilar to kuberentes/kubernetes
[![CII Best Practices](https://bestpractices.coreinfrastructure.org/projects/569/badge)]

[2021-07-02 15:38] medyagh opened #11884 "preload job skips generating preload for v1.20.8"
while trying to bump k8s version I noticed it was slower on v1.20.8

and then I did
[code]

and verified there was no preload downloaded
[code]

on [last jenkins job](https://a646c87040050000000000000000001.proxy.googleprod.com/job/Preload%20Generation/519/console), jenkins "Thinks" the preload exists !

[code]

but I checked manually in the bucket GCS bucket and there is no preload

[2021-07-02 15:53] medyagh commented on #11883
work in progress https://bestpractices.coreinfrastructure.org/en/projects/5015/edit#quality

[2021-07-02 15:58] NitichaiSawangsai opened #11885 "Mac M1: hyperkit not supported."
Mac M1

**Steps to reproduce the issue:**

1. arch -x86_64 brew install hyperkit
2. minikube start --vm=true
3. minikube start --driver=hyperkit

**Full output of failed command:**
<pre>
$ minikube start --driver=hyperkit <br/>
😄  minikube v1.21.0 on Darwin 11.4 (arm64)
✨  Using the hyperkit driver based on user configuration

❌  Exiting due to DRV_UNSUPPORTED_OS: The driver 'hyperkit' is not supp

[2021-07-02 16:04] NitichaiSawangsai opened #11886 "minikube config set driver hyperkit in mac m1"
**Steps to reproduce the issue:**

1.  minikube config set driver hyperkit

**Full output of `minikube logs` command:**
<pre>

Log file created at: 2021/07/02 22:50:32
Running on machine: Macintosh-2
Binary: Built with gc go1.16.4 for darwin/arm64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I0702 22:50:32.196527   30528 out.go:291] Setting OutFile to fd 1 ...
I0702 22:50:32

[2021-07-02 16:07] medyagh commented on #11884
when I start minikube

I could see there is a 404 for the preload
[code]

[2021-07-02 16:17] ilya-zuyev commented on #11884
hack/preload-images/preload_images.go:90
`download.PreloadExists()` wrongly returns true

[2021-07-02 16:23] medyagh commented on #11884
I wrote this dummy code and it returns false

[code]
and the output is  `false`
[code]

[2021-07-02 16:24] robrich opened #11887 "Failed to setup kubeconfig: Could not find interface"
**Steps to reproduce the issue:**

1. minikube delete
2. delete ~/.minikube folder
3. reboot
4. start Windows Terminal as admin
5. minikube.exe start --vm-driver="hyperv" --hyperv-virtual-switch="minikube" --kubernetes-version=stable

**Full output of `minikube logs` command:**
<details>

❯ minikube logs

==> Audit <==
|---------|------|---------|------|---------|------------|----------|
| Command

[2021-07-02 16:49] tharun208 commented on #11750
sorry, for the delay. will come with a pr soon

[2021-07-02 16:57] robrich commented on #11887
It appears deleting the VM, the virtual switch, the .minikube folder, the .kube/cache folder, rebooting, recreating the virtual switch, and firing it up again got it started.  Feel free to close.

[2021-07-02 16:57] sachinjoshi72 opened #11888 "Minikube not starting"
C:\Users\KetanJoshi>minikube start
* minikube v1.21.0 on Microsoft Windows 10 Home Single Language 10.0.18363 Build 18363
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing virtualbox VM for "minikube" ...
! StartHost failed, but will try again: driver start: Maximum number of retries (5) exceeded
* Updating the

[2021-07-02 17:03] #11879 closed

[2021-07-02 17:11] spowelljr opened #11890 "Add integration test in TestPause to ensure `namespace` flag works"
There was a typo in the `pause` (#11873) and `unpause` (#11879) command where `--` was included in the `namespaces` flag name, so to call it would require `----namespaces` which resulted in `bad flag syntax: ----namespaces`.

@medyagh suggested we add an integration test for this https://github.com/kubernetes/minikube/pull/11875#issuecomment-872625683.

[2021-07-02 17:11] spowelljr commented on #11890
/assign mahalrs

[2021-07-02 17:14] #11873 closed

[2021-07-02 17:39] mahalrs commented on #11890
@spowelljr  I will work on it.

/assign @mahalrs

[2021-07-02 18:16] andriyDev commented on #11750
@tharun208 this has become obsolete, sorry! The newest report_flakes.sh now reports on multiple environments at once, so having total test count doesn't really make sense.

[2021-07-02 18:16] #11750 closed

[2021-07-02 18:23] spowelljr commented on #11888
Hi @sachinjoshi72, thank you for reporting your issue!

This is a duplicate of #11801, I'm going to close this issue in favor of #11801, but please follow along and feel free to add any new discoveries there.

Thanks for using minikube!

[2021-07-02 18:23] #11888 closed

[2021-07-02 18:26] medyagh commented on #11801
@sshafiuddin thanks for attaching the logs

do u happen to be using a VPN ?
[code]

[2021-07-02 18:28] #11887 closed

[2021-07-02 18:36] spowelljr commented on #11885
Hi @NitichaiSawangsai, thanks for reporting your issue!

As shown in the message, minikube does not yet support hyperkit on M1 Macs.

This is something we're hoping to support in the future. For now you can use the Docker driver.

Hope that helps, thanks for using minikube!

[2021-07-02 18:44] spowelljr commented on #11886
Hi @NitichaiSawangsai thanks for reporting your issue!

This is related to the other issue you created (#11885). Since hyperkit is currently not supported on M1 Macs, it is failing the validation we have in place.

Once we support hyperkit on M1 Macs this will be resolved.

Thanks for using minikube!

[2021-07-02 18:56] spowelljr commented on #11855
Hi @amanravi12, thanks for reporting your issue with minikube!

You don't seem to have permission to access to your `id_rsa` file.

Are you using Command Prompt or Powershell? And did you `Run as administrator` when you opened it?

One other thing I noticed is that the path of the file it's looking for is strange:
`C:\Users\LENOVO.minikube\machines\minikube\id_rsa`
Most noticeably `LENOVO.minikube

[2021-07-02 19:07] #11884 closed

[2021-07-03 02:18] rodrigorras commented on #11348
Haven't work for me neither lol.... any tips?

[2021-07-03 16:07] amanravi12 commented on #11855
using CMD prompt and run as adminstration thank you for your suggestion
.... i appreciate of your helping nature

On Sat, Jul 3, 2021 at 12:27 AM Steven Powell ***@***.***>
wrote:

[2021-07-03 16:29] anuj-8march commented on #11835
I am facing similar issue ,minikube is not getting started and getting error as

10708 out.go:235] * Failed to start hyperv VM. Running "minikube delete" may fix it: provision: IP not found
10708 out.go:170]
10708 out.go:235] X Exiting due to GUEST_PROVISION: Failed to start host: provision: IP not found
10708 out.go:424] no arguments passed for "* \n" - returning raw string

[2021-07-03 18:29] ayepRahman commented on #9224
Have not try this, but are you saying iam able to run minikube on arm64 with --docker=hyperkit without the needing of port forwarding?

[2021-07-04 02:51] WinnerSong opened #11896 "睡一觉起来发现kubectl不能用了，想重新创建集群，minikube stop也停不了了"
Log file created at: 2021/07/04 10:22:06
Running on machine: songzwdeMBP
Binary: Built with gc go1.16.4 for darwin/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I0704 10:22:06.520048   20371 out.go:291] Setting OutFile to fd 1 ...
I0704 10:22:06.520287   20371 out.go:343] isatty.IsTerminal(1) = true
I0704 10:22:06.520290   20371 out.go:304] Setting ErrFile to fd 2...
I0

[2021-07-04 10:59] dev-samples opened #11897 "Mount host git repository into minikube jenkins build agent?"
I am doing some local experiments on ubuntu with minikube and jenkins.
I have successfully got jenkins up and running in minikube based on this guide:

https://www.jenkins.io/doc/book/installing/kubernetes/

Next I would like to run a jenkins job (Pipelinejob) that "clones" a git repository that I have mounted from my local host into minikube with:

`nohup minikube mount /home/user/samples/my-repo

[2021-07-04 12:54] krishnadce commented on #10265
I'm also facing the same issue.

It hangs at
`I0704 18:09:05.300669    9752 cli_runner.go:115] Run: docker container inspect -f "'{{(index (index .NetworkSettings.Ports "22/tcp") 0).HostPort}}'" minikube`

[2021-07-04 15:50] sachinjoshi72 opened #11898 "minikube start not working"
**Steps to reproduce the issue:**

1.minikube start
2.
3.

**Full output of `minikube logs` command:**
<details>

[lastStart.txt](https://github.com/kubernetes/minikube/files/6760159/lastStart.txt)
</details>

[2021-07-04 19:47] XDavidT commented on #567
It's important to mark, when you delete a cluster, all your data will be erased.

[2021-07-05 03:19] johntostring commented on #11881
PR #11785 应该能修复这个问题

[2021-07-05 03:37] imnetworku commented on #11193
What worked for me was running `minikube service myapp-service --url` after creating the service and using the url provided in either a browser or via curl while the terminal window was left open..

[2021-07-05 07:56] yan-v opened #11900 "Can't install ingress"
Hi,
the following command failing with timeout, logs attached

minikube version: v1.21.0
[minikube_addons_70b86610413e6902e868350cf628a17efcae1d38_0.log](https://github.com/kubernetes/minikube/files/6762614/minikube_addons_70b86610413e6902e868350cf628a17efcae1d38_0.log)

[2021-07-05 08:38] alban opened #11902 "Minikube fails to build ISO in Docker: cannot find package "k8s.io/minikube/pkg/minikube/cluster""
**Steps to reproduce the issue:**

Following https://minikube.sigs.k8s.io/docs/contrib/building/iso/:

1. `git checkout v1.22.0-beta.0` (same problem on master as of 27d738657c9c7b1ae4578b28c094a57c8ad1f7f2)
2. `make buildroot-image`
3. `make out/minikube.iso`

**Full output of the build logs:**
<details>

[code]

</details>

**Additional logs**

<details>

[code]
</details>

[2021-07-05 11:14] totore86 commented on #11348
I have add the patch line into $HOME/.oh-my-zsh/cache/minikube-completion file and worked!

[2021-07-05 15:47] gufoe opened #11903 "Resolve domain to ingress"
My pods:
- http-server (which i aliased in the host `/etc/hosts`: `192.168.49.2 example.test`)
- worker

Now from my machine I can go to http://example.test and it works nice

Problem:
The worker pod cannot resolve `example.test` to the minikube instance.
I'd like to configure example.test requests to be directed to the minikube ingress so that they can correctly dispatched to the right pod.

What

[2021-07-05 17:40] morhook commented on #11687
Thanks for fixing this one @andriyDev ! Just tested with v1.22.0-beta.0

[2021-07-05 23:47] aayusranjan opened #11908 "virtualbox: Could not find matching IP for MAC address 08002718aeaf"
**Steps to reproduce the issue:**

1. minikube start
[lastStart.txt](https://github.com/kubernetes/minikube/files/6766495/lastStart.txt)

**Full output of `minikube logs` command:**
<details>
😄  minikube v1.21.0 on Ubuntu 21.04
✨  Using the virtualbox driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🏃  Updating the running virtualbox "minikube" VM ...
🤦

[2021-07-06 02:32] aayusranjan commented on #7725
Thanks I solved the issue by running `minikube delete` and `minikube delete --all`
then after that `minikube start --driver=docker`

[2021-07-06 06:03] vishjain commented on #10596
/assign

[2021-07-06 06:06] vishjain commented on #10596
Saw this issue had gotten abandoned and wanted some practice on this part of the codebase because I'm working on another related auto-pause feature. Hope this is ok - thanks!

[2021-07-06 11:51] mnk-se commented on #11550
See also work around here: https://bugzilla.redhat.com/show_bug.cgi?id=1966158

[2021-07-06 14:08] Summpot opened #11910 "Unable to connect to the server: dial tcp 192.168.1.6:59937: connectex: No connection could be made because the target machine actively refused it."
The strange thing is that I am sure I have turned off the firewall.

[2021-07-06 17:48] EricoCartmanez commented on #9434
If you have Virtual Box installed:
[code]

[2021-07-06 20:17] EricoCartmanez commented on #5815
In my case cancelling (ctrl+C) and executing the same command (`minikube dashboard`) on a new terminal, worked.
(I know this is not a solution but give it a try)

[2021-07-06 23:48] #11786 closed

[2021-07-06 23:50] medyagh commented on #11898
@sachinjoshi72 is there a reason you are using virtualbox driver ? any better chance with docker or hyperv driver?

[code]

[2021-07-06 23:54] medyagh commented on #11900
mind attaching this log file

minikube logs -f output.txt

@yan-v co is this a flake or consistent and what version of minikube do u sue?

[2021-07-06 23:56] medyagh commented on #11910
do u mind sharing what command u tried to run ? and attach the log log.txt file to this issue ?

[code]

[2021-07-06 23:57] medyagh commented on #11908
@aayusranjan virtualbox is not our most supported driver, is there a reason you are not using KVM or docker driver on ubuntu ?

[2021-07-06 23:58] medyagh opened #11913 "discourge users of using virtualbox driver when other options are available"
virtualbox is cause of most of the minikube support issues and un-happy users.

some users have been using virtualbox  because of previous config, we should Advice and encourage users to use other drivers if they are available

for example KVM on linux
hyperv on Windows
and hyperkit on Mac

[2021-07-07 02:33] #11910 closed

[2021-07-07 09:04] prajwal72556 opened #11914 "Minikube is not starting inspite of removing the host-only network adapter as specified in the output of the error"
**Steps to reproduce the issue:**

1.minikube.exe  start --driver=virtualbox --kubernetes-version=v1.20.0

**Full output of `minikube logs` command:**
<details>

* ==> Audit <==
* |---------|------|---------|------|---------|------------|----------|
| Command | Args | Profile | User | Version | Start Time | End Time |
|---------|------|---------|------|---------|------------|----------|
|---------

[2021-07-07 11:20] yann-soubeyrand commented on #11542
Hello @RA489,

I’m also running Minikube on Fedora 34 (Silverblue variant), and I’m unable to start it:

[code]

Here are the logs: [lastStart.txt](https://github.com/kubernetes/minikube/files/6776688/lastStart.txt)

[2021-07-07 11:26] aayusranjan commented on #11908
_Oh, Thanks for response I appreciated it ._
Btw, I solved the issue by running ` minikube delete `and `minikube delete --all`
then after that `minikube start --driver=docker`

[2021-07-07 11:26] #11908 closed

[2021-07-07 15:11] Martyr211 opened #11915 "C:\Users\ayush\.minikube\logs\lastStart.txt"

[2021-07-07 18:54] sachinjoshi72 commented on #11898
My Docker is working on my VM also hyper V is enable .
The reason i am using Virtual Machine I want to launch Pods in RHEL 8 . I have done the necessary changes in the admin.config file so that it could run command in Terminal.
It was working fine before but randomly this error showed up.

[2021-07-07 20:31] medyagh commented on #11915
@Martyr211 I think u meant to attach that file to this issue

[2021-07-07 20:32] medyagh commented on #11914
@prajwal72556 is there an option for u to use any other driver? vbox is our least supported driver right now
you could use Docker or HyperV

[2021-07-07 22:54] spowelljr opened #11926 "Fix `TestAddons/parallel/GCPAuth` on Windows"
`TestAddons/parallel/GCPAuth` is failing with 100% failure rate on Windows.

Error:
[code]

[2021-07-08 01:58] mgabeler-lee-6rs opened #11930 "docker-machine-driver-kvm2_1.22.0-0_arm64.deb has wrong package architecture"
**Steps to reproduce the issue:**

1. Download `docker-machine-driver-kvm2_1.22.0-0_arm64.deb` from the v1.22.0 release
2. Try to install it on an arm64 system, or (my initial case) try to add it to an apt repo that hosts arm64 packages
3. Errors out because the package internally says that it's `aarch64` when it should be `arm64`

The `minikube` package correctly has the `arm64` architecture.

**

[2021-07-08 04:38] RA489 commented on #11930
/kind support

[2021-07-08 04:39] RA489 commented on #11903
/kind support

[2021-07-08 04:39] RA489 commented on #11902
/kind support

[2021-07-08 04:39] RA489 commented on #11897
/kind support

[2021-07-08 04:40] RA489 commented on #11896
/kind support

[2021-07-08 09:42] rafacouto opened #11932 "Exiting due to K8S_KUBELET_NOT_RUNNING"
**Steps to reproduce the issue:**

1. minikube start

**Full output of `minikube logs` command:**
<details>

* ==> Docker <==
* -- Logs begin at Thu 2021-07-08 09:23:44 UTC, end at Thu 2021-07-08 09:33:41 UTC. --
Jul 08 09:23:44 minikube systemd[1]: Starting Docker Application Container Engine...
Jul 08 09:23:44 minikube dockerd[148]: time="2021-07-08T09:23:44.998760636Z" level=info msg="Starting

[2021-07-08 10:26] afbjorklund commented on #11930
Simple mistake in 0033bf7ed3d8bd61aec9bbcc89b81caedec1a84a, using the wrong architecture for the deb packages:

[code]

Should be amd64 and arm64 for .deb, even if it is x86_64 and aarch64 for .arm.

@mgabeler-lee-6rs : as a workaround, you can download the separate arm64 binary.

[2021-07-08 11:05] medyagh commented on #11930
Cc: @ilya-zuyev

[2021-07-08 11:06] medyagh commented on #11932
What version of minikube do you use?

[2021-07-08 11:08] rafacouto commented on #11932
@medyagh
[code]

[2021-07-08 11:13] medyagh commented on #11903
Which Dunbar driver do you use? Which addons do you enable? What platform?

[2021-07-08 13:42] bodgit opened #11934 "--image-repository strips off container prefix"
I'm trying to get minikube to work in an offline environment, or at least without direct access to the internet. I have Artifactory available and configured with a virtual Docker repository that ties together multiple upstream repositories (docker.io, k8s.gcr.io, gcr.io, etc.) together and presents them as a single registry.

The problem I'm having is that when I use the `--image-repository` optio

[2021-07-08 13:54] bodgit opened #11935 "Ability to set a mirror for downloading kubectl, kubelet, & kubeadm"
This is partly related to #11934 in that I'm trying to get minikube to work in an offline environment, or at least without direct internet connectivity. I have Artifactory configured as a Docker registry so assuming that issue is fixed, I don't need direct internet access to download the container images.

However minikube still needs internet access to download the three `kube*` binaries. If I co

[2021-07-08 14:06] rakeshgm commented on #11348
I tried the above method, it did not work, but this PR [#5406](https://github.com/helm/helm/pull/5406/files) for my mac-os worked.

[2021-07-08 15:10] medyagh commented on #11934
@bodgit that seems to be a bug, Would you be interetested to a send a fix ? I would be happy to review a PR that fixes it

[2021-07-08 16:17] bodgit commented on #11934
@medyagh Sure, I can dig into the code and see if I can work out what is going on.

But doesn't this feature work for some people currently? Do some registry mirrors discard that extra prefix information, or have users been pushing/tagging the images to their local registry mirrors with the shortened names to match the minikube behaviour?

[2021-07-08 18:51] DimitrijeManic opened #11938 "CoreDNS fails valid lookups as soon as an invalid lookup is made"
CoreDNS seems to break for a few seconds every time there is an invalid nslookup.

minikube version: **v1.20.0**
commit: c61663e942ec43b20e8e70839dcca52e44cd85ae

coredns version: **k8s.gcr.io/coredns:1.7.0** (I have tried `k8s.gcr.io/coredns/coredns:v1.8.0` and had the same issues)

k8s version: **v1.20.0**

**Steps to reproduce the issue:**

1. minikube start
2. show core-dns logs
[code]
3. In a

[2021-07-08 21:09] spowelljr opened #11944 "Create public charts for time-to-k8s"
1. Create a GitHub Action workflow that runs time-to-k8s benchmark daily against HEAD
2. Store the results of the job as JSON and upload it to bucket
3. Use the data in the bucket to generate a chart and upload it to the website

[2021-07-09 03:33] victor-sudakov opened #11947 "Creation of additional storage classes: impossible or documentation lacking?"
Running minikube version: v1.20.0, commit: c61663e942ec43b20e8e70839dcca52e44cd85ae

There is only one storage class created when starting a minikube:
[code]

I would like to add more storage classes, so that I could test my PersistentVolumeClaim manifests (written for EKS) on Minikube without modifications. These storage classes need not be different physically or programmatically from the standa

[2021-07-09 09:09] Osprey2021 commented on #10122
I ran into this issue today, deleting /var/lib/minikube/certs did not help. Is there any other workaround, please?

[2021-07-09 09:12] jeffmaury commented on #10122
What is your error message then ?

[2021-07-09 09:21] Osprey2021 commented on #10122
* Preparing Kubernetes v1.14.8 on Docker 19.03.2 ...
E0709 10:41:14.065218   12920 kubeadm.go:586] sudo env PATH=/var/lib/minikube/binaries/v1.14.8:$PATH kubeadm init phase certs all --config /var/tmp/minikube/kubeadm.yaml failed - will try once more: /bin/bash -c "sudo env PATH=/var/lib/minikube/binaries/v1.14.8:$PATH kubeadm init phase certs all --config /var/tmp/minikube/kubeadm.yaml": Process

[2021-07-09 12:45] bodgit commented on #11934
See #11948

With this applied, my cache now looks like this:
[code]

[2021-07-09 13:19] jeffmaury commented on #10122
Can you

- minikube ssh
- cd var/lib/minikube/certs
- ls -l

All files listed should have yesterday or today's date

[2021-07-09 15:03] DimitrijeManic commented on #11938
I believe this is the issue and is discussed here https://github.com/weaveworks/weave/issues/3287

[2021-07-09 16:07] Igetin commented on #5815
Had the same problem. Tried turning off my VPN, didn’t help. Tried `minikube start` and `minikube stop`, same problem. Tried restarting the whole machine — didn’t seem to help at first, but after trying it again in about ~5–10 minutes, it worked and there were no longer 503 errors in the log.

[2021-07-09 16:45] andriyDev opened #11949 "Create Windows common.ps1"
We need to make all the Windows tests more generic - we can do this the same way common.sh works.

[2021-07-09 16:45] andriyDev commented on #11949
/assign

[2021-07-09 17:55] yann-soubeyrand commented on #11542
Today it’s working for me :thinking:

[2021-07-09 20:37] ilya-zuyev commented on #11947
@victor-sudakov in general, adding a new storage class to minikube is the same process as for regular kubernetes cluster.
https://kubernetes.io/docs/concepts/storage/storage-classes/

I guess, there's some specific for some SCs, related to minikube internal environment. If you have any issues, please feel free to report it here.

[code]

[2021-07-09 21:19] mahalrs commented on #11871
@medyagh
Should we copy all constants or only the ones that we are using? Also, what are we going to do with feature gate types. Currently we are only using keys from [InitFeatureGates map](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/features/features.go#L41). So, we can copy the keys from the map and store them in a slice. Also should we put this slice in `pkg/constants/k

[2021-07-10 04:51] GregWasHere commented on #567
"max" value can also come in handy
[code]

[2021-07-10 23:02] #11915 closed

[2021-07-11 04:37] victor-sudakov commented on #11947
@ilya-zuyev  I have a question. What is with this `provisioner: kubernetes.io/no-provisioner` parameter in your example? Should not it be `provisioner: k8s.io/minikube-hostpath` ? Will your storage class even work (allocate storage on the host) that way?

[2021-07-11 06:57] klutingrusang8377 opened #11952 "Skipping CI for Draft Pull Request."
Skipping CI for Draft Pull Request.
If you want CI signal for your change, please convert it to an actual PR.
You can still manually trigger a test run with `/test all`

_Originally posted by @k8s-ci-robot in https://github.com/kubernetes/community/issues/5824#issuecomment-858043641_

[2021-07-11 07:30] pankaj957 opened #11953 "Permission issue"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-07-11 08:45] victor-sudakov commented on #11947
OK, I have created a SC like you advised

[code]

The storage class is there
[code]
but my PVCs using that storage class are in the Pending state with the message _"waiting for a volume to be created, either by external provisioner "k8s.io/no-provisioner" or manually created by system administrator"_

Obviously I'm doing something wrong, or your advice is incomplete?

[2021-07-11 08:52] victor-sudakov commented on #11947
Maybe it's useful to provide the complete output:

[code]

[2021-07-11 10:24] vigothehacker commented on #11953
Please write in some details for the issue.

[2021-07-11 10:27] wujun369 opened #11954 "unable to read client-cert /root/.minikube/client.crt for minikube due to open /root/.minikube/client.crt: no such file or directory"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

$sudo minikube addons enable ingress
* Verifying ingress addon...

X Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [get kube-client to validate ingress addon: client config: invalid configuration: [unable to read client-cert /root/.minikube/client.crt for minikube due to open /root/.minikube/client.crt: no such file or directory, unable

[2021-07-11 22:04] paulopatto commented on #11542
The same erro of @yann-soubeyrand

[2021-07-12 02:52] RA489 commented on #11954
/kind support

[2021-07-12 02:52] RA489 commented on #11952
/kind support

[2021-07-12 02:53] RA489 commented on #11949
/kind support

[2021-07-12 02:53] RA489 commented on #11938
/kind support

[2021-07-12 02:54] RA489 commented on #11935
/kind support

[2021-07-12 02:55] RA489 commented on #11953
@pankaj957 Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank you for sharing your experience!

[2021-07-12 02:56] RA489 commented on #11953
/triage needs-information

[2021-07-12 04:21] victor-sudakov commented on #11947
If I create a storage class with `provisioner: k8s.io/minikube-hostpath` hoping for dynamic volume provisioning to work:

[code]

Then PVCs fail with the _failed to get target node: nodes "minikube" is forbidden: User "system:serviceaccount:kube-system:storage-provisioner" cannot get resource "nodes" in API group "" at the cluster scope_ error:

[code]

[2021-07-12 05:46] 992441831 opened #11955 "Exiting due to HOST_KUBECTL_PROXY: readByteWithTimeout: EOF"
**重现问题所需的命令**： minikube dashboard

**失败的命令的完整输出**：<details>
🤔  正在验证 dashboard 运行情况 ...
🚀  Launching proxy ...

❌  Exiting due to HOST_KUBECTL_PROXY: readByteWithTimeout: EOF

╭────────────────────────────────────────────────────────────────────────────────╮
│                                                                                │
│    😿  If the above advice does not help, please let us kn

[2021-07-12 06:50] gufoe commented on #11903
I use the docker driver on a debian host

[2021-07-12 09:52] ws-prive opened #11958 "Problem with oidc setup with minikube"
Hello,

When setting up a cluster with the below instruction, all is working fine:

[code]

Then I add the oidc parameters:

[code]

I also tried it with the systemd option, but no luck:

[code]

The error I got is:
[code]

Any idea?

[2021-07-12 14:22] bodgit commented on #11935
This is where the binary URLs are constructed: https://github.com/kubernetes/minikube/blob/f40b6eabacca2c4400acb9531a8bf04826a96eba/pkg/minikube/download/binary.go#L35

[2021-07-12 17:23] de-sh commented on #11913
Hi, I am very new to the minikube repo and golang in general, but I do have some experience learning the basics of k8s with it's help, so I felt like giving this issue a look and I have a very naive idea for a solution which brings the following questions to mind, sorry if this isn't going anywhere:

Would the solution classify as the addition of [a new Exit Code and an issue to the Issue list](ht

[2021-07-12 18:10] #11650 closed

[2021-07-12 18:17] andriyDev commented on #11272
Probably useful: #11950.

[2021-07-12 18:24] spowelljr commented on #10900
@altwohill I'm going to close this issue, but if you get back to this feel free to respond and I can re-open the issues, thanks!

[2021-07-12 18:24] #10900 closed

[2021-07-12 18:51] houstonj1 opened #11960 "Startup Error - Configuring RBAC rules"
**Steps to reproduce the issue:**

1. Try to start Minikube
[code]

**Full output of `minikube logs` command:**
<details>
  <summary>Details</summary>
  Included in comments
</details>

**Full output of failed command:**
<details>
  <summary>Details</summary>

[code]
</details>

[2021-07-12 18:52] houstonj1 commented on #11960
`minikube logs`:

[code]

[2021-07-12 18:54] andriyDev opened #11961 "functional_docker_ubuntu_arm64 Github Action broken"
Always fails testing due to cache_reload subtest.

[2021-07-12 19:18] igbanam commented on #8511
I just experienced this issue while going through the [Example: Deploying WordPress and MySQL with Persistent Volumes](https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/). I know neither Go nor Kubernetes, but I am interested in the latter. So I'm interested in the solution here. I can help test where necessary

[2021-07-12 21:58] #11579 closed

[2021-07-12 22:04] amit4257 opened #11964 "minikube not getting connect from client"
stdout:
[init] Using Kubernetes version: v1.18.3
[preflight] Running pre-flight checks
[preflight] Pulling images required for setting up a Kubernetes cluster
[preflight] This might take a minute or two, depending on the speed of your internet connection
[preflight] You can also perform this action in beforehand using 'kubeadm config images pull'
[kubelet-start] Writing kubelet environment file wi

[2021-07-12 22:05] amit4257 commented on #11964
kindly help!!

[2021-07-13 04:11] RA489 commented on #11964
/kind support

[2021-07-13 04:11] RA489 commented on #11961
/kind support

[2021-07-13 04:12] RA489 commented on #11960
/kind support

[2021-07-13 04:12] RA489 commented on #11958
/kind support

[2021-07-13 04:13] RA489 commented on #11955
/kind support

[2021-07-13 04:33] bulexu opened #11965 "minikube1.2.0 can't start apiserver without any err"
**重现问题所需的命令**：
minikube start

**失败的命令的完整输出**：<details>

[Service]
ExecStart=
ExecStart=/usr/bin/kubelet --authorization-mode=Webhook --bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --cgroup-driver=cgroupfs --client-ca-file=/var/lib/minikube/certs/ca.crt --cluster-dns=10.96.0.10 --cluster-domain=cluster.local --container-runtime=docker --fail-swap-on=false --hostname-override=minikub

[2021-07-13 04:42] bulexu opened #11966 "minikube1.2.0 can't start apiserver"
**Steps to reproduce the issue:**

1.minikue start

**Full output of `minikube logs` command:**
<details>
==> coredns <==
E0713 04:30:37.921539       1 reflector.go:134] github.com/coredns/coredns/plugin/kubernetes/controller.go:322: Failed to list *v1.Namespace: Get https://10.96.0.1:443/api/v1/namespaces?limit=500&resourceVersion=0: dial tcp 10.96.0.1:443: connect: connection refused
E0713 04:30

[2021-07-13 05:34] RA489 commented on #11966
/kind support

[2021-07-13 05:34] RA489 commented on #11965
/kind support

[2021-07-13 06:51] #11965 closed

[2021-07-13 07:59] shanzy20 opened #11967 "start"

[2021-07-13 08:00] #11967 closed

[2021-07-13 08:00] Osprey2021 commented on #10122
Some files in that folder have new date, and some have older date. I moved certs folder to certs_BC so that certs folder was recreated, so am not sure how its possible that some older files reappear here.

[2021-07-13 10:18] FLAGLORD commented on #11107
@awarus Have you solved this problem?

[2021-07-13 10:25] awarus commented on #11107
No, as far I understand hello-minikube image is not available now for M1

[2021-07-13 10:26] bulexu commented on #11966
plz,it's urgent

[2021-07-13 11:11] Scanz-beep commented on #9434
VMware Workstation 16 Player

[code]

[2021-07-13 11:49] guumaster commented on #10994
Thanks for proposing `hostctl` as a `minikube` addon. As you can see, both issues guumaster/hostctl#71 guumaster/hostctl#72 are now fixed and `hostctl` is now idempotent and can also be added with comments. (NOTE: guumaster/hostctl#66 is not a path that I'd consider exploring further)

[2021-07-13 17:07] #11934 closed

[2021-07-13 17:24] Osprey2021 commented on #10122
docker@minikube:/var/lib/minikube/certs$ ll
total 64
drwxr-xr-x. 3 root root 4096 Jul 13 17:21 ./
drwxr-xr-x. 6 root root   79 Jul 13 17:21 ../
-rw-r--r--. 1 root root 1090 Jul 13 17:21 apiserver-etcd-client.crt
-rw-------. 1 root root 1675 Jul 13 17:21 apiserver-etcd-client.key
-rw-r--r--. 1 root root 1350 May 17  2020 apiserver.crt
-rw-------. 1 root root 1675 May 17  2020 apiserver.key
-rw-r--r

[2021-07-13 17:37] coolamiy opened #11970 "Registry addon with docker driver uses port 62150 please use that instead of default port 5000"
**Steps to reproduce the issue:**
OS : MAC OSX

minikube installed via  brew (brew install minikube)

minikube version
minikube version: v1.22.0
commit: a03fbcf166e6f74ef224d4a63be4277d017bb62e

1. minikube start --driver=docker --cpus 4 --memory 8192
2. minikube addons enable registry

**Full output of `minikube logs` command:**
<details>
minikube addons enable registry
╭─────────────────────────

[2021-07-13 17:45] spowelljr commented on #11468
Hi @timekarma, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-07-13 17:45] #11468 closed

[2021-07-13 18:30] spowelljr commented on #11913
Hi @de-sh, thank you for being willing to contribute to minikube!

First off, if you'd like to work on this issue, comment `/assign` and this issue will be assigned to you.

-----

No, this would not be an addition of a new exit code. We already have an example of this with the `none` driver. If you start minikube with the `none` driver the following is output:
[code]
For reference: https://github

[2021-07-13 19:33] spowelljr commented on #11970
Hi @coolamiy, thank you for reporting your issue with minikube! Could you link the issue(s) you're referencing that indicates that this was fixed?

[2021-07-13 20:23] #11949 closed

[2021-07-13 21:05] coolamiy commented on #11970
https://github.com/kubernetes/minikube/issues/10789

[2021-07-13 22:28] spowelljr commented on #11970
Hi @coolamiy, thanks for responding! The purpose of that issue was to remove the message on **disable** as it was accidentally being shown on disable, it is still supposed to show up on enable.

If this resolves your problem feel free to close this issue, thanks!

[2021-07-14 02:22] victor-sudakov commented on #11947
I have actually found a workaround. I've created many PVs, and several SCs named "gp2", "gp3" referring to those static PVs. So now I can use those SCs for testing purposes. But why cannot I have those PVs created dynamically for me by Minikube's dynamic storage controller?
[stupid_workaround.yaml.txt](https://github.com/kubernetes/minikube/files/6813069/stupid_workaround.yaml.txt)

[2021-07-14 03:13] D2C-Cai commented on #10544
`Log file created at: 2021/07/14 10:16:08
Running on machine: Jackey
Binary: Built with gc go1.16.4 for linux/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I0714 10:16:08.711874  417072 out.go:286] Setting OutFile to fd 1 ...
I0714 10:16:08.711981  417072 out.go:333] TERM=xterm,COLORTERM=, which probably does not support color
I0714 10:16:08.711983  417072 out.go:299] S

[2021-07-14 03:14] D2C-Cai commented on #10544
minikube version: v1.22.0
commit: a03fbcf166e6f74ef224d4a63be4277d017bb62e

[2021-07-14 04:16] de-sh commented on #11913
Thanks for the detailed update @spowelljr, have started writing some code, will point you to it for review soon 😄

[2021-07-14 04:16] de-sh commented on #11913
/assign

[2021-07-14 05:56] victor-sudakov commented on #11947
Attached
[testcase.yaml.txt](https://github.com/kubernetes/minikube/files/6813842/testcase.yaml.txt)
 is a complete testcase for the problem. Apply the manifest and watch the "diskopod1" pod never starting.

[2021-07-14 09:02] irizzant commented on #6584
/remove-lifecycle stale

[2021-07-14 09:13] de-sh commented on #11913
How does the following message look?
[code]

[2021-07-14 12:59] bigon opened #11973 "minikube driver check should not call sudo, if sudo fails"
**Steps to reproduce the issue:**

1. minikube start (without `--driver`)

**Full output of `minikube logs` command:**
[code]

It seems that minikube stills calls podman executable (and sudo) even if it tells that it uses docker. I see logs/mails coming from sudo telling me that minikube tried to run podman executable without providing a password

Messages like:

[2021-07-14 13:42] farhat67 opened #11974 "System has not been booted with systemd as init system (PID 1). Can't operate. Failed to connect to bus: Host is down"
**Steps to reproduce the issue:**

1. sudo minikube start --vm-driver=none
2. minikube delete
3. Tried sudo minikube start

**Full output of `minikube logs` command:**
<details>
😄  minikube v1.22.0 on Ubuntu 20.04
✨  Using the none driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing none bare metal machine for "minikube" ...
ℹ️  OS re

[2021-07-14 13:45] #11974 closed

[2021-07-14 13:58] farhat67 opened #11975 "System has not been booted with systemd as init system (PID 1). Can't operate. Failed to connect to bus: Host is down"
**Steps to reproduce the issue:**

1.sudo minikube start --vm-driver=none
2.minikube delete
3.Tried sudo minikube start
4. Also tried start Ubuntu as administrator

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>
😄 minikube v1.22.0 on Ubuntu 20.04 ✨ Using the none driver based on existing profile 👍 Starting control plane node minikube

[2021-07-14 15:24] rlanting commented on #9452
Apologies for resurrecting this issue, but it was said to reopen if there is more information. I can't reopen, but I can give more information.

The error messages I get, exactly the same ones as the original:
[code]
This is due to the following section in `/etc/apparmor.d/usr.lib.libvirt.virt-aa-helper`:

[code]
As you can see in the comment, it explicitly states `allow access to non-hidden files

[2021-07-14 15:56] thedag opened #11976 "Troubleshooting"
I am having nothing but problems so far, trying to get this supposedly "production ready" Kubernetes stuff up and running at all.

And now it turns out even the troubleshooting instructions offer nothing but more error messages in my face.

The world I am used to: you get an installer, you follow mostly easy-to-understand instructions or accept defaults where you don't quite know what some choice

[2021-07-14 16:21] thedag commented on #11976
I'm now trying to follow instructions at https://www.linuxtechi.com/how-to-install-minikube-on-ubuntu/ - and so far, it looks much more promising (though it IS a bit crazy to just blindly trust someone able to publish at linuxtechi, which I've never heard of before, with my root).

[2021-07-14 17:42] spowelljr commented on #11802
Hi @sagarjat, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-07-14 17:42] spowelljr commented on #11780
Hi @younessberianebadi, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-07-14 17:42] #11780 closed

[2021-07-14 17:43] spowelljr commented on #11452
Hi @Ashwin-Raj18, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-07-14 17:43] #11452 closed

[2021-07-14 17:43] spowelljr commented on #11139
Hi @Mattimax20, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-07-14 17:43] #11139 closed

[2021-07-14 17:48] spowelljr commented on #11541
Hi @oushihou, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-07-14 17:48] #11541 closed

[2021-07-14 17:49] spowelljr commented on #11540
Hi @IndrajeetTech2020, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-07-14 17:49] #11540 closed

[2021-07-14 17:50] spowelljr commented on #11538
Hi @dhanujsirohi, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-07-14 17:50] #11538 closed

[2021-07-14 17:51] spowelljr commented on #11352
Hi @jeevanm87, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-07-14 17:51] #11352 closed

[2021-07-14 18:11] spowelljr commented on #11586
@JacekDuszenko This sounds like a good idea, feel free to go ahead with implementing this.

[2021-07-14 18:11] sharifelgamal commented on #11084
The issue here is that minikube still thinks it has an active container since you pulled the rug out from underneath minikube by deleting it directly via docker. The error message you're seeing would be the same if you tried to change mount options on a second minikube start without having stopped or deleted anything. `minikube stop` then `docker rm minikube` is never a recommended flow.

[2021-07-14 18:12] #9116 closed

[2021-07-14 18:12] spowelljr commented on #9279
Hi @akhilkumar438, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-07-14 18:12] #9279 closed

[2021-07-14 18:13] andriyDev commented on #8762
@Aut0R3V, This issue is very old, I'll take it over!

/remove-lifecycle rotten

[2021-07-14 18:14] sharifelgamal commented on #10184
We have done a lot of work in regards to making error codes and error messages more granular and readable. Is this still an issue @tejal29 ?

[2021-07-14 18:15] andriyDev commented on #11586
I believe we have a flag for this $(MINIKUBE_GOFLAGS), does this not work?

[2021-07-14 18:17] sharifelgamal commented on #10808
I'm still in favor of doing this, so long as our documentation doesn't get too cluttered.

[2021-07-14 18:18] sharifelgamal commented on #8512
Yes, an external switch is always an option of HyperV users, using the pre-defined one was just a convenience we added into minikube some time ago.

[2021-07-14 18:29] ilya-zuyev commented on #11649
Seems like fixed in https://github.com/kubernetes/minikube/pull/11678

[2021-07-14 18:29] #11649 closed

[2021-07-14 18:35] sharifelgamal commented on #8556
So this won't be able to be supported until we update the kernel version of the ISO to v5, which we currently cannot for several reasons.

[2021-07-14 18:36] sharifelgamal commented on #10128
I still see this flake every so often, definitely would be nice to fix.

[2021-07-14 18:40] andriyDev opened #11977 "All commands should print cluster settings (driver, container runtime) to logs"
Currently, in issues or when debugging, it can be hard to figure out what driver and container runtime is being used for any given command. Having these in the logs for all commands (not just minikube start) would be very helpful.

[2021-07-14 18:50] sharifelgamal commented on #11608
@cwilkers we've done some work to fix networking for multinode clusters, can you try again this with the newest version of minikube and see if it still persists?

[2021-07-14 18:59] #10939 closed

[2021-07-14 20:17] cwilkers commented on #11608
Unfortunately,  I see the same behavior with v1.22.0.

[code]
[code]
[code]

[code]

[code]

[code]

[code]

[2021-07-14 20:21] spowelljr commented on #11975
Is this native Ubuntu, or is this WSL on Windows?

[2021-07-14 20:45] spowelljr commented on #11976
Hi @thedag, thanks for reporting your issue with minikube! Sorry you're having problems getting started with minikube. We recommend against using VirtualBox, it is very error prone with minikube, we're currently in the process of adding a message for users who start minikube using VirtualBox recommending them to use another driver. If you're going to be changing clusters, I recommend you run `mini

[2021-07-14 21:38] andriyDev opened #11978 "Add configurable port for minikube mount"
The minikube mount command currently just uses a random free port to run the server on. If the user is using a firewall (definitely not me), this can block any requests from coming in, so mounting fails. Using a configurable port users can ensure the port is allowed through their firewall (again, not mine of course).

[2021-07-14 23:47] spowelljr commented on #11926
Windows CI machines were misconfigured, should be fixed now, waiting for next run to ensure the test passes.

[2021-07-15 04:37] farhat67 commented on #11975
It's WSL 2.

[2021-07-15 04:44] dstjahjono opened #11980 "Error restarting cluster: running cmd: sudo kubeadm init phase certs all --config /var/lib/kubeadm.yaml: command failed"
Hi,

I have no idea what could be wrong, suddenly I can't start minikube 😣

$ minikube start
* minikube v1.2.0 on linux (amd64)

! Ignoring --vm-driver=virtualbox, as the existing "minikube" VM was created using the kvm2 driver.
! To switch drivers, you may create a new VM using `minikube start -p <name> --vm-driver=virtualbox`
! Alternatively, you may delete the existing VM using `minikube delete

[2021-07-15 06:17] RA489 commented on #11980
/kind support

[2021-07-15 14:36] coolamiy commented on #11970
ahh .. okay  i thought it was fixed by #10789 .

can we disable  this from the enable as well as it seems confusing

[2021-07-15 16:34] spowelljr commented on #11970
This message is necessary because for Windows and Linux it defaults to 5000, but for Mac we have the inability to use 5000, so we have to instruct the user what port to access the registry on. If I'm not mistaken, the port is randomly assigned as well, making it even more important to have the message otherwise the user would have no idea what port to use.

[2021-07-15 16:38] spowelljr commented on #11975
Could you please include the log file located here `/root/.minikube/logs/lastStart.txt`, this would help debug the issue.

Also, I found a SO post with the same issue, not sure if that provides any insight or not
https://stackoverflow.com/questions/52197246/system-has-not-been-booted-with-systemd-as-init-system-pid-1-cant-operate

[2021-07-15 16:53] Ultimo12 opened #11982 "Problem starting"
[lastStart.txt](https://github.com/kubernetes/minikube/files/6824915/lastStart.txt)

[2021-07-15 16:59] MotaOcimar commented on #11098
As discussed on the issue #6061 by @tstromberg:

So, there's no need to use `--extra-config=apiserver.authorization-mode=RBAC` anymore.

[2021-07-15 17:29] andriyDev opened #11983 "Allow sorting flake table by columns"

[2021-07-15 17:35] #10243 closed

[2021-07-15 17:42] spowelljr opened #11984 "Fix TestFunctional/parallel/DockerEnv test on Windows"
TestFunctional/parallel/DockerEnv fails 100% of the time on Windows

[2021-07-15 17:42] #11094 closed

[2021-07-15 17:42] #9805 closed

[2021-07-15 17:57] spowelljr commented on #11926
Seems to be fixed, closing

[2021-07-15 17:57] #11926 closed

[2021-07-15 17:58] coolamiy commented on #11970
that makes sense ..
thanks.

[2021-07-15 17:59] andriyDev opened #11985 "Flake rate reporting not commenting"
Flake rates are not being commented about.

[2021-07-15 18:06] spowelljr commented on #11982
Digging through the logs, there error is:
[code]

[2021-07-15 18:08] spowelljr commented on #11980
Hi @dstjahjono, thanks for reporting your issue with minikube!

So from the logs you provided me it seems you're trying to start minikube with the `--vm-driver=virtualbox` flag, but you have an existing cluster running that's using the kvm2 driver.

Please delete all existing clusters using `minikube delete --all` then try starting minikube again with `minikube start --vm-driver=virtualbox` and le

[2021-07-15 18:14] coolamiy commented on #11970
does not hold true for linux as well .. as far as i can see from the following

[2021-07-15 18:55] #11961 closed

[2021-07-15 19:01] medyagh opened #11987 "Ensure kubernetes v1.22.0 removing Beta API not affect minikube"
Based on
https://twitter.com/thomrstrom/status/1415268117970919424

https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/

[2021-07-15 22:18] #11249 closed

[2021-07-15 23:36] medyagh commented on #11987
example things to take care of:

- as part of this we need to ensure Ingress Addon uses Right api for k8s 1.22 and use old way for older k8s versions

[2021-07-16 02:29] dstjahjono commented on #11980
Hi @spowelljr ,

1) I got this with "-all"

$ minikube delete --all
Error: unknown flag: --all
Usage:
  minikube delete [flags]

Flags:
  -h, --help   help for delete

Global Flags:
      --alsologtostderr                  log to standard error as well as files
  -b, --bootstrapper string              The name of the cluster bootstrapper that will set up the kubernetes cluster. (default "kubeadm")

[2021-07-16 04:50] #11975 closed

[2021-07-16 05:42] sunbinzhu opened #11992 "Minikube v1.22.0 cannot load E:\image tar.gz"
I used to run the following command to load an image archive file into Minikube. It worked pretty well in V1.20.0. But when i upgraded to V1.22.0, it didn't work anymore, there was no error message, but when i ran "minikube image list", the image didn't show up. I  also tried v1.21.0, it didn't work either.

minikube image load e:\myimage.tar.gz
minikube image list

[2021-07-16 07:42] oweise commented on #11903
I have the same problem.

Generally I would recommend using the [ingress-dns addon](https://minikube.sigs.k8s.io/docs/handbook/addons/ingress-dns/) so you actually don't need to modify the hostsfile to resolve to ingress dns from the host machine. I use the variant where I told my local dnsmasq to redirect DNS requests for a specific domain, I use "local.k8s", to the minikube dns. That will always

[2021-07-16 13:55] vivkong opened #11993 "docker driver for s390x"
I am able to build the `kicbase` image on s390x and use it to start minikube:

[code]
Wondering what is required to make the `docker` driver available for s390x?   I am happy to contribute code changes and help.

I tried to follow the tutorial but like https://github.com/kubernetes/minikube/issues/11107, the `echoserver` image does not work out of the box on s390.  I was able to build my own `echo

[2021-07-16 16:05] afbjorklund commented on #11993
Similar to #11658

[2021-07-16 16:13] afbjorklund commented on #11973
I think this is the driver auto-detection in action... You can select the docker driver explicitly, to avoid it...

It assumes that if podman is installed, that it has also been setup for passwordless sudo (`sudo -n podman`)

Similarly it assumes that if docker is installed, that the user has been added to the root-equivalent group (no sudo)

There is no particular reason why podman couldn't use a

[2021-07-16 16:26] afbjorklund commented on #11973
I suppose we could try parsing the output of `sudo -l`, before trying to invoke `sudo -k -n podman`.

1) Check for podman
2) Check for sudo
3) Check for sudo podman

There are a few corner cases like ALL and groups and such, but other than that it should be there.

[2021-07-16 16:39] spowelljr commented on #11980
Hi @dstjahjono, thanks for reporting back! I just noticed you're using v1.2.0 of minikube. This version is over two years old, there have been uncountable features and improvements introduced since then. Our latest version of minikube is v1.22.0, I strongly recommend you update to this version as you'll have a much better experience with minikube.

You can find install instructions here: https://m

[2021-07-16 17:31] andriyDev opened #11994 "Create flake chart for rolling average of 7 days."
Currently our flake charts show a daily average, it would also be helpful to see a chart averaged by the past week

[2021-07-16 19:57] medyagh commented on #11513
@carlskii @simao there is a WIP PR that might fix this,
do u mind giving the binary in this PR a try ? https://github.com/kubernetes/minikube/pull/11957
and see if it helps to fix it ?

http://storage.googleapis.com/minikube-builds/11957/minikube-linux-amd64
http://storage.googleapis.com/minikube-builds/11957/minikube-darwin-amd64
http://storage.googleapis.com/minikube-builds/11957/minikube-window

[2021-07-16 21:46] #11930 closed

[2021-07-17 04:31] AvijitD22 commented on #8728
It worked for me

[2021-07-17 11:52] lsoon3 opened #11995 "Unable to start Ubuntu 20.04 on Hyper-V (MS Windows 2016)"
Hi,

I have a Ubuntu 20.04 on Hyper-V (MS Windows 2016), I hit an error which is DRV_NOT_DETECTED.
How can i fix the issue?

~$ minikube start
* minikube v1.22.0 on Ubuntu 20.04
* Unable to pick a default driver. Here is what was considered, in preference order:
  - docker: Not installed: exec: "docker": executable file not found in $PATH
  - kvm2: Not installed: exec: "virsh": executable file not

[2021-07-17 16:00] KShivendu opened #11996 "Documentation: Add suggestion to improve productivity while using minikube kubectl"
**Steps to reproduce the issue:**

1. Visit https://minikube.sigs.k8s.io/docs/start/
2. Note that most of the time we're using the `kubectl` command directly. But the user might not have installed kubectl directly and hence he/she has to replace all the commands with `minikube kubectl --` every time he's copying the instructions.

I personally found using `minikube kubectl --` to be very frustrati

[2021-07-18 07:02] alchemist123 commented on #3846
X Exiting due to INET_DOWNLOAD_TIMEOUT: Failed to cache ISO: unable to cache ISO:
  https://storage.googleapis.com/minikube/iso/minikube-v1.22.0.iso: getter: &{Ctx:context.Background Src:https://storage.googleapis.com/minikube/iso/minikube-v1.22.0.iso?checksum=file:https://storage.googleapis.com/minikube/iso/minikube-v1.22.0.iso.sha256 Dst:C:\Users\asus\.minikube\cache\iso\minikube-v1.22.0.iso.dow

[2021-07-18 12:09] dstjahjono commented on #11980
Hi @spowelljr ,

The '--all' option is not working.

$ minikube delete --all --purge
Error: unknown flag: --all
Usage:
  minikube delete [flags]

Flags:
  -h, --help   help for delete

Global Flags:
      --alsologtostderr                  log to standard error as well as files
  -b, --bootstrapper string              The name of the cluster bootstrapper that will set up the kubernetes cluster. (d

[2021-07-18 14:59] Luttik commented on #9762
@afbjorklund Could you share the steps to do so? that would be great for people (like me) who run into this issue before it is resolved (by actually officially supporting de KIC base image).

[2021-07-18 21:05] joseluisgomes commented on #11645
Currently I have the same problem

[2021-07-19 05:35] abcd-ABCD-1234 opened #11998 "Successfully ran Container in a pod, but can't bind the container to the defined port in the yaml file"
**Minikube Start:**
[code]

**What happened:** I am running kubectl via minikube, and created a single container in a pod using yaml file. Pod got created and container is in running state too. I configured port 5432 to the container in the yaml file, but the container actually is not running on port 5432.

**What I expected to happen:** Container in a port should run on the port configured in the

[2021-07-19 06:26] corbaejb opened #11999 "minikube start failure."
**重现问题所需的命令**：minikube start

**失败的命令的完整输出**：<details>

* Microsoft Windows 10 Pro 10.0.19042 Build 19042 上的 minikube v1.22.0
* 自动选择 docker 驱动。其他选项：virtualbox, ssh
* Starting control plane node minikube in cluster minikube
* Pulling base image ...
! The image 'k8s.gcr.io/kube-scheduler:v1.21.2' was not found; unable to add it to cache.
! The image 'k8s.gcr.io/pause:3.4.1' was not found; unable to

[2021-07-19 08:13] Abdulrhman-max opened #12001 "no External vswitch nor Default Switch found. A valid vswitch must be available for this command to run"
* Failed to start hyperv VM. Running "minikube delete" may fix it: creating host: create: precreate: no External vswitch nor Default Switch found. A valid vswitch must be available for this command to run. Check https://docs.docker.com/machine/drivers/hyper-v/

X Exiting due to GUEST_PROVISION: Failed to start host: creating host: create: precreate: no External vswitch nor Default Switch found. A

[2021-07-19 09:47] MrMic opened #12002 "Impossible to enable ingress addon"
**Steps to reproduce the issue:**

$> minikube start

-> kubernetes = 1.21.2

**Full output of `minikube logs` command:**
$> minikube addons enable ingress

    ▪ Utilisation de l'image docker.io/jettech/kube-webhook-certgen:v1.5.1
    ▪ Utilisation de l'image docker.io/jettech/kube-webhook-certgen:v1.5.1
    ▪ Utilisation de l'image k8s.gcr.io/ingress-nginx/controller:v0.44.0
🔎  Vérification du m

[2021-07-19 14:36] briandealwis opened #12003 "gcp-auth registries is too restrictive"
The gcp-auth addon configures `kubernetes.io/dockercfg` secrets but only for `gcr.io` and `us-docker.pkg.dev`.
https://github.com/kubernetes/minikube/blob/791e3b59c193e0f2b3f1b675f52e3f71c6b1ab57/pkg/addons/addons_gcpauth.go#L134-L136

We should either make this configurable or add support for a broader set of endpoints.

One approach would be to query GCR/AR for the list of registries visible to

[2021-07-19 16:22] spowelljr commented on #11980
@dstjahjono Did you update to v1.22.0? v1.2.0 is so old it doesn't support the all flag

[2021-07-19 17:19] andriyDev opened #12004 "Docker_Linux_containerd_arm64 integration tests broken"
Integration tests for Docker_Linux_containerd_arm64 are completely broken. The Jenkins job fails to install gotestsum. It also seems to have a segfault on updating apt-get (unsure if related).

[2021-07-19 17:27] FilBot3 opened #12005 "Minikube v1.20.0 not downloading images or starting on Pop!_OS 21.04 with Podman 3.0.1 Driver"
# Background

I had a working Podman setup with Minikube earlier this year, but recently recreated it after having issues with the `awx-operator` not working properly. Figured I would rebuild the minikube deployment and start from scratch. I pruned the Podman images, containers, and volumes using

[code]

Then I ran `minikube start --driver=podman` and the following errors happened.

# Troubleshoo

[2021-07-19 17:59] afbjorklund commented on #12005
Will need the logs from the first run, not from the second (since it will just say that it can't find the container)

[2021-07-19 18:00] sharifelgamal commented on #12003
yeah good call, when I originally implemented gcp-auth I made the explicit choice to not worry about registry mirrors, now is a good time to fix that.

[2021-07-19 18:12] FilBot3 commented on #12005
after doing the initial `minikube stop && minikube delete` the containers were left in my Podman images. That's why I pruned them. I do not have logs from the first run, the terminal rolled over before I thought of saving it.

[2021-07-19 18:15] afbjorklund commented on #12005
There should be some log files in /tmp, otherwise maybe you could do another start ?

[2021-07-19 18:20] andriyDev opened #12007 "Add link to environment page in flake rate comment"

[2021-07-19 18:35] andriyDev opened #12013 "Reverse sort time-to-k8s benchmarks"

[2021-07-19 18:35] FilBot3 commented on #12005
This is what I see in my `/tmp`

[code]

I'll do another start this time. I'll do one with the `--alsologtostderr`.

[2021-07-19 18:36] spowelljr opened #12014 "time-to-k8s: Benchmark k3d with etcd"
Currently, in the time-to-k8s benchmark, we compare to k3d without etcd. Since both minikube and kind use etcd by default, we should enable etcd in k3d when benchmarking to have a better comparison between the tools.

[2021-07-19 18:39] FilBot3 commented on #12005
Here is: `minikube start --driver=podman --alsologtostderr`.

<details>

[code]

</details>

Seeing that the images are unabele to be resolved, could it be that Podman generally requires the `docker.io/` pre-bits such as when I use Podman to pull images or build images, I have to do

[code]

I've had spotty luck without qualifying the image names like that. This also works for Docker as well in so

[2021-07-19 18:48] afbjorklund commented on #11195
There is a new 0.9.0 release of buildkit out now, which includes the systemd files

[2021-07-19 20:04] spowelljr commented on #12014
dqlite was replaced with etcd with https://github.com/k3s-io/k3s/pull/1770 and seems to be used by default.

To confirm I tried the following:
[code]
So from my understanding etcd is being used when benchmarking k3d.

@medyagh @afbjorklund If you think otherwise let me know and I'd be happy to investigate.

Closing for now.

[2021-07-19 20:04] #12014 closed

[2021-07-19 20:14] andriyDev opened #12015 "Remove duration chart and add total duration to total test count chart"
Context: https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux

[2021-07-19 21:29] FilBot3 commented on #12005
Upgrading to Minikube v1.22.0-0 seems to have made thing work. I can attempt to replicate this again in a virtual machine and get the same errors.

<details>

[code]

</details>

[2021-07-20 01:20] #11984 closed

[2021-07-20 01:20] #11944 closed

[2021-07-20 01:22] #12013 closed

[2021-07-20 01:31] #11985 closed

[2021-07-20 01:31] #12007 closed

[2021-07-20 03:08] browncrane opened #12019 "How to use custom TLS certificate with ingress addon"
Would you like to recommend a way to add key.pem and cert.pem?
Since there would be an error:

[2021-07-20 06:26] XiangyuZhu opened #12021 "failed to pull image registry.cn-hangzhou.aliyuncs.com/google_containers/coredns:v1.8.0: output: Error response from daemon: manifest for registry.cn-hangzhou.aliyuncs.com/google_containers/coredns:v1.8.0 not found: manifest unknown: manifest unknown"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2021-07-20 06:28] XiangyuZhu commented on #12021
sudo minikube start --vm-driver=none --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers

[2021-07-20 12:14] #11998 closed

[2021-07-20 14:08] diogommartins commented on #8054
On MacOS, disabling the firewall also fixed my problem

[2021-07-20 15:24] devopsn3rd opened #12022 "minikube start won't start"
**Steps to reproduce the issue:**

1. Downloading  the binary worked:
curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-darwin-amd64
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 65.9M  100 65.9M    0     0  1542k      0  0:00:43  0:00:43 --:--:-- 2239k
Apples

[2021-07-20 17:09] spowelljr opened #12023 "Fix TestMultiNode/serial/PingHostFrom2Pods test on Windows & Mac with Docker driver"
`TestMultiNode/serial/PingHostFrom2Pods` is failing 100% of the time on Windows & Mac with the Docker driver.

[2021-07-20 18:06] vivkong commented on #11993
Thanks for the explanation - does that mean adding support for non-amd64/arm64 architectures will only be done once cross-compiling is implemented?

Would you know which project uploaded the `echoserver` image to the `k8s.gcr.io` repository?  I wanted to see if it's possible to have a new version with multi-arch so that it will work on non-amd64 archs.  I understand it comes from kubernetes tests

[2021-07-20 18:14] afbjorklund commented on #11993
I posted what I could find on the "echoserver" in: https://github.com/kubernetes/minikube/issues/11107#issuecomment-821781403

It now lives on as: gcr.io/kubernetes-e2e-test-images/echoserver

[2021-07-20 18:15] afbjorklund commented on #11993
I meant that minikube can only test amd64 and arm64 in CI, the other architectures will have to be cross-compiled and dumped as-is

Currently just doing that for the program binary itself, but possibly it could also work for the images (with upstream support etc)

[2021-07-20 18:25] afbjorklund commented on #12005
You are using docker-in-podman, you could also run crio-in-podman if you prefer (see --container-runtime)

[2021-07-20 18:29] FilBot3 commented on #12005
I don't believe I have docker-in-podman, unless Ubuntu (Pop!_OS) calls that out as a dependency. I need to get CRI-O setup with my laptop, so that will be a little bit.

[2021-07-20 18:29] FilBot3 commented on #12005
However, I believe that this issue is no longer relevant as upgrading Minikube to work with the updated Podman version is currently working.

[2021-07-20 18:32] afbjorklund commented on #12005
This is a setting in Podman, if you want everything to break from history you can use: short-name-mode="enforcing"

[2021-07-20 18:34] afbjorklund commented on #12005
You don't need CRI-O on your laptop, only on the control-plane node.

It can be seen (as e.g. "minikube") when running `sudo podman ps`

You can access the node with `minikube ssh` (or with podman exec)

Podman here is used instead of a hypervisor, like for instance KVM

[2021-07-20 20:03] spowelljr commented on #12023
Failing with error:
[code]

[2021-07-20 20:30] medyagh opened #12025 "Site: add icon to side bar items"
every top item in the side bar should have some sort of icon or at least a - or a box icon so it is easier to see that items under handbook are indented.
<img width="182" alt="Screen Shot 2021-07-20 at 1 29 38 PM" src="https://user-images.githubusercontent.com/4564227/126391269-0daea13b-89dc-4076-ad9f-24cedfcef1e9.png">

for example

- Get Started
- Handbook
      (clear indent)
- FAQ
- Presentati

[2021-07-20 22:46] andriyDev opened #12027 "Report crun version in `minikube version`"
Important location: https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/version.go#L55

Discussion: https://kubernetes.slack.com/archives/C1F5CT6Q1/p1626820802044000?thread_ts=1626811554.016000&cid=C1F5CT6Q1

[2021-07-21 00:53] spowelljr commented on #11195
In-progress

[2021-07-21 04:19] vhmatura opened #12029 "Basic controls"

[2021-07-21 07:58] afbjorklund commented on #11609
Will let someone look at this, wasn't so simple it seems.

[2021-07-21 16:24] amino19 commented on #12027
@andriyDev : Important location link is not working..? :thinking:

[2021-07-21 16:47] andriyDev commented on #12027
@amino19 Woops! I guess my link extension doesn't work haha, fixed!

[2021-07-21 17:25] Sabuhi1 opened #12031 "Exiting due to MK_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]"
1. Command for starting minikube :   minikube start --driver=none

2. Minikube Version:

admintv@k8s:~/Kubernetes-Workspace/Ingress$ minikube version
minikube version: v1.21.0
commit: 76d74191d82c47883dc7e1319ef7cebd3e00ee11

3.Minikube addons log :

Log file created at: 2021/07/21 17:07:44
Running on machine: k8s
Binary: Built with gc go1.16.4 for linux/amd64
Log line format: [IWEF]mmdd hh:mm:ss.

[2021-07-21 17:32] Sabuhi1 commented on #12031
I found the issue.

FYI, In my minikube Server I have additional Nginx web server which is uses 443 SSL/TLS port.When I stop Nginx, Ingress addons is successfully configured.

admintv@k8s:~/Kubernetes-Workspace/Ingress$ minikube addons enable ingress
[sudo] password for admintv:
    ▪ Using image k8s.gcr.io/ingress-nginx/controller:v0.44.0
    ▪ Using image docker.io/jettech/kube-webhook-certgen:v

[2021-07-21 17:40] #12031 closed

[2021-07-21 17:57] ffroliva commented on #604
Is it possible to set multiple insecure repositores to `--insecure-registry` in a comma separated approache?

For example:
`minikube start --insecure-registry="nexus:8888,nexus:8889 "`

[2021-07-21 18:03] jayesh-srivastava commented on #11571
Hey, I am a beginner and I would like to work on this issue. Can you please explain a bit further and assign it to me. That would be great.

[2021-07-21 18:06] spowelljr commented on #11776
Hi @zettaRepo, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-07-21 18:06] #11776 closed

[2021-07-21 18:23] andriyDev commented on #10045
We haven't been able to reproduce this issue for a while, if anyone can please reopen this issue and add logs here!

[2021-07-21 18:23] #10045 closed

[2021-07-21 18:24] sharifelgamal commented on #9030
This is likely still an issue, freezing to avoid it getting closed.

[2021-07-21 18:27] spowelljr commented on #8966
Like @rejohnst said, this seems to resolved. I tried the listed steps on v1.22.0 and the debug pod had network access, closing issue.

[2021-07-21 18:27] #8966 closed

[2021-07-21 18:29] spowelljr commented on #9590
The preference order has been fixed, and @andriyDev improved the error message when a driver is unhealthy, closing issue.

[2021-07-21 18:29] #9590 closed

[2021-07-21 18:33] sharifelgamal commented on #4587
This could still have a better solution message with the recommended command printed out to the user instead of the currently confusing error. Help wanted!

[2021-07-21 18:35] sharifelgamal commented on #7332
Ingress on the macOS docker driver is still an open issue, we just haven't had the bandwidth to address it yet. We would be happy to review a PR fixing this, otherwise we will try to get to this soon.

[2021-07-21 18:40] zettaRepo commented on #11776
Hello sir the problem is fixed. But I Don't know how it is happened and
what I did to fix it .

Le mer. 21 juil. 2021 à 19:06, Steven Powell ***@***.***> a
écrit :

[2021-07-21 18:43] sharifelgamal commented on #8997
Based on the error message posted here, it looks like there's a strange caching bug for kicbase when restarting an existing cluster. Can @bhundven or @chris-ryu confirm that this is still happening on minikube 1.22.0? For fresh starts, it looks like the fallback mechanism is working as intended.

[2021-07-21 18:51] sharifelgamal commented on #10122
Yeah, long running certs are a known issue in minikube. This is something we would like to fix, either with longer expiration, or proper certification rotation.

[2021-07-21 18:51] sharifelgamal commented on #11565
I'm hoping the PR I have open will solve this for good.

[2021-07-21 19:40] sharifelgamal commented on #9921
minikube 1.22 should have a few fixes for mulitnode networking, could you check and see if it's still an issue?

[2021-07-21 21:48] jonathanl-telenav opened #12034 "Minikube hello world instructions don't include what you should see if it works"
**Steps to reproduce the issue:**

1. Follow instructions at chttps://minikube.sigs.k8s.io/docs/start/ up through port forwarding command:

  a. minikube start
  b. minikube dashboard
  c. kubectl create deployment hello-minikube --image=k8s.gcr.io/echoserver:1.4
  d. kubectl expose deployment hello-minikube --type=NodePort --port=8080
  e. kubectl get services hello-minikube
  f. minikube service

[2021-07-22 04:28] #11513 closed

[2021-07-22 05:47] bradyben opened #12036 "Cannot connect to service from localhost on M1 Mac"
I'm trying to do the [getting started example](https://minikube.sigs.k8s.io/docs/start/) on an M1 Macbook Air but I'm unable to access the service from the browser. Minikube dashboard works however so that gives me hope that it is possible.
Note that the echoserver:1.4 image used in the docs crashed work and so I substituted it for an arm64 compatible fork (claudiubelu/echoserver:2.3).

**Steps to

[2021-07-22 06:13] victor-sudakov commented on #11947
So, how can I make non-default SCs use the minikube-hostpath provisioner (in order to allocate PVs dynamically)?

[2021-07-22 21:21] #12023 closed

[2021-07-22 21:30] andriyDev opened #12037 "Add link directly to failed test gopogh logs in flake rate comment"

[2021-07-22 22:21] sharifelgamal commented on #10179
All arm64 integration test jobs automatically install the cleanup cron by default now, including the arm64 ones.

[2021-07-22 22:21] #10179 closed

[2021-07-22 23:19] lthela opened #12038 "● libvirtd.service ,Active: inactive (dead), Initialization of QEMU state driver failed: invalid argument: Failed to parse user 'libvirt-qemu'"
When I check status of libvirtd using the cmd: `sudo systemctl status libvirtd` the o/p is as follows:

        ● libvirtd.service - Virtualization daemon
         Loaded: loaded (/lib/systemd/system/libvirtd.service; enabled; vendor preset: enabled)
         Active: inactive (dead) since Thu 2021-07-22 18:00:59 EDT; 1min 4s ago
    TriggeredBy: ● libvirtd-admin.socket
                 ● libvirtd.

[2021-07-23 00:00] coolamiy commented on #12019
Its indicative.. please provide full or relative path from current directory to for your certs and key file.
This example assumes that certs and key are in current directory

[2021-07-23 00:03] coolamiy commented on #12002
Try with minimube start —vm=true

[2021-07-23 00:05] coolamiy commented on #11995
Do you have docker or virtualbox installed ?

[2021-07-23 07:43] MrMic commented on #12002
That does not solve the issue ... :/

[2021-07-23 09:03] coolamiy commented on #12002
try  the following commands
minikube delete --all
minikube start --vm=true
minikube addons enable ingress

[2021-07-23 09:50] MrMic commented on #12002
In fact, I have deleted all and start from scratch.
$> rm -rf .minikube/

But unfortunately, I got the same issue!!!
I join the log to help to troubleshoot.

[minikube_addons_ad4707d14c7527e8b492788efa251872a7cd24ef_0.log](https://github.com/kubernetes/minikube/files/6867920/minikube_addons_ad4707d14c7527e8b492788efa251872a7cd24ef_0.log)

[2021-07-23 09:52] zzashpaupat commented on #9971
I have the same issue running on Mac

[2021-07-23 10:39] coolamiy opened #12039 "update readme with clear instructions to run site locally"
readme does not state clearly the steps to run site locally.
https://github.com/kubernetes/minikube/tree/master/site

[2021-07-23 11:00] coolamiy commented on #12025
@medyagh how about this ?
![image](https://user-images.githubusercontent.com/29359234/126772901-46420048-5a76-4608-a238-3fdc286ff431.png)

[2021-07-23 13:06] briandealwis commented on #12003
I followed up with the GCR/AR team and they suggested either hard-coding a list or taking a dependency on https://github.com/GoogleCloudPlatform/docker-credential-gcr/blob/faed5e8b8ca2a14e6cfff27ec915dbbdcce696ea/config/const.go#L49-L77

[2021-07-23 15:33] Mukhammadamin2002 opened #12041 "Minikube Error"
**Steps to reproduce the issue:**

1. Minikube host only running others just not working
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-07-23 16:18] etanshaul opened #12042 "minikube sometimes fails to enable the gcp-auth addon"
https://github.com/GoogleCloudPlatform/cloud-code-intellij/issues/2949 for more details.

![image](https://user-images.githubusercontent.com/1735744/126811708-d45ccc64-e261-44d1-a3c9-295f828cb54b.png)

current version of minikube managed by the Cloud Code plugin: `1.21.0`

[2021-07-23 16:18] etanshaul commented on #12042
happy to help investigate. this was reported by users of the Cloud Code plugin

[2021-07-23 19:02] matihost opened #12043 "Unable to start minikube on Ubuntu 21.04"
Ubuntu cannot start with weird message today: :/
[code]

[2021-07-23 20:54] andriyDev commented on #11983
Duplicate of #11882.

[2021-07-23 20:54] #11983 closed

[2021-07-23 21:00] #8834 closed

[2021-07-23 21:04] bs444 commented on #8834
👍

[2021-07-23 21:23] medyagh commented on #11565
Hi there,
@ssmall @pnatraj

we have a PR that might fix this issue, do you mind giving the binary in this PR a try to see if that fixes the problem ?

https://storage.googleapis.com/minikube-builds/11945/minikube-linux-amd64
https://storage.googleapis.com/minikube-builds/11945/minikube-darwin-amd64
https://storage.googleapis.com/minikube-builds/11945/minikube-windows-amd64.exe

[2021-07-23 21:25] #11882 closed

[2021-07-23 21:25] #11994 closed

[2021-07-23 21:25] #12037 closed

[2021-07-23 23:10] #11861 closed

[2021-07-24 00:05] HemanthAditi opened #12048 "Unable to start Minikube on Windows 10"
Please find the minikube logs

Log file created at: 2021/07/24 09:59:20
Running on machine: LAPTOP-G373LAE7
Binary: Built with gc go1.16.4 for windows/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I0724 09:59:20.670636    8108 out.go:286] Setting OutFile to fd 84 ...
I0724 09:59:20.670636    8108 out.go:333] TERM=,COLORTERM=, which probably does not support color
I0724

[2021-07-24 02:09] ajasonwang commented on #12021
Interesting, only missing registry.cn-hangzhou.aliyuncs.com/google_containers/**coredns:v1.8.0** but other images are there, can anyone from ali fix it?

[2021-07-24 08:10] jayesh-srivastava commented on #12027
Hi. Is this issue open? Can I work on it?

[2021-07-24 08:19] amino19 commented on #12027
@jayesh-srivastava : Hi, Thanks for showing interest.
Pl go through the links, mentioned by @andriyDev, & ones you feel comfortable to get started with, give a shot with PR, after self-assigning yourself, by typing `/assign` :slightly_smiling_face:

[2021-07-24 08:21] jayesh-srivastava commented on #12027
Okay sure. Thank you so much. I am a new contributor here but will try to work on this.

[2021-07-24 08:21] jayesh-srivastava commented on #12027
/assign

[2021-07-24 08:27] jayesh-srivastava commented on #12027
Hi @amino19 , I have somewhat understood what needs to be done, basically, I'll have to add crun in the list. Just wanted to ask that what will be its value and is that all that I have to do. Your help will be much appreciated : )

[2021-07-24 13:58] lsoon3 commented on #11995
Docker

On Fri, Jul 23, 2021, 8:05 AM Amit ***@***.***> wrote:

[2021-07-24 20:05] Ultimo12 opened #12049 "CrashLoopBackOff"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>
[minikube_addons_3f375e07af22351aa68de6b727e38b60a1302a10_0.log](https://github.com/kubernetes/minikube/files/6873012/minikube_addons_3f375e07af22351aa68de6b727e38b60a1302a10_0.log)

[2021-07-25 02:38] Frenk8 opened #12050 "Using Multi-Node Clusters"
# # #

[2021-07-25 06:20] victor-sudakov opened #12051 "Cannot reconfigure metallb addon"
After configuring the metallb addon for the first time, I later decided to change the IP address range but have no idea how to "unconfigure" or "reconfigure" the addon without recreating the cluster from scratch:
[code]
and that's it. How do I recall the interactive dialog about the IP range?

[2021-07-25 14:37] bilalcaliskan commented on #2302
I have also same problem on:

OS: Linux kali 5.10.0-kali9-amd64
Minikube: v1.22.0
Kubernetes: v1.21.2

[2021-07-25 23:32] apupier commented on #10544
Also hitting similar issue.
Fedora 34
Minikube 1.22.0

I tried to call `minikube delete --purge --all`

[code]

[2021-07-26 05:52] purohit14 commented on #7444
Hello Folks, I was facing the same issue. I installed jenkins using the deployment and service manifest file. I was able to resolve the issue by a simple hack.

Solutions that worked for me :-

My Old Config File which was giving the issue [ The ca.crt, client.crt and client.key were referenced using the file path ]

<img width="897" alt="Screenshot 2021-07-26 at 11 16 11 AM" src="https://user-ima

[2021-07-26 07:19] RA489 commented on #12051
/kind support

[2021-07-26 07:21] RA489 commented on #12050
@Frenk8 Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank you for sharing your experience!

[2021-07-26 07:21] RA489 commented on #12050
/triage needs-information

[2021-07-26 07:22] RA489 commented on #12049
@Ultimo12 Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank you for sharing your experience!

[2021-07-26 07:22] RA489 commented on #12049
/triage needs-information

[2021-07-26 07:23] RA489 commented on #12048
/kind support

[2021-07-26 07:23] RA489 commented on #12043
/kind support

[2021-07-26 07:23] RA489 commented on #12042
/kind support

[2021-07-26 07:24] RA489 commented on #12041
@Mukhammadamin2002 Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank you for sharing your experience!

[2021-07-26 07:25] RA489 commented on #12041
/triage needs-information

[2021-07-26 07:25] RA489 commented on #12039
/kind documentation

[2021-07-26 07:25] RA489 commented on #12038
/kind support

[2021-07-26 07:26] RA489 commented on #12036
/kind support

[2021-07-26 07:26] RA489 commented on #12034
/kind support

[2021-07-26 07:27] RA489 commented on #12029
@vhmatura I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank y

[2021-07-26 07:27] RA489 commented on #12029
/triage needs-information

[2021-07-26 07:28] RA489 commented on #12022
/kind support

[2021-07-26 07:31] RA489 commented on #12019
/kind support

[2021-07-26 07:33] RA489 commented on #12002
/kind support

[2021-07-26 07:33] RA489 commented on #12001
/kind support

[2021-07-26 07:33] RA489 commented on #11999
/kind support

[2021-07-26 07:34] RA489 commented on #11996
/kind support

[2021-07-26 07:37] Mukhammadamin2002 commented on #12041
Firstly, thanks for responding,

[2021-07-26 07:37] RA489 commented on #11996
/kind documentation

[2021-07-26 07:37] RA489 commented on #11995
/kind support

[2021-07-26 08:21] Ultimo12 commented on #12049
***@***.***:~$ minikube start --alsologtostderr -v=4
I0726 10:18:32.841857   10870 out.go:291] Setting OutFile to fd 1 ...
I0726 10:18:32.841963   10870 out.go:343] isatty.IsTerminal(1) = true
I0726 10:18:32.841968   10870 out.go:304] Setting ErrFile to fd 2...
I0726 10:18:32.841974   10870 out.go:343] isatty.IsTerminal(2) = true
I0726 10:18:32.842035   10870 root.go:316] Updating PATH:
/home/serg

[2021-07-26 09:38] SzautnerB opened #12053 "install"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

\Users\szaut>minikube start
* minikube v1.22.0 on Microsoft Windows 10 Pro 10.0.18363 Build 18363
  - KUBECONFIG=D:\Kubernetes\.kube
* Automatically selected the vmware driver
* Downloading VM boot image ...

* Starting control plane node min

[2021-07-26 14:00] jpramos123 commented on #4222
Same issue with virtualbox 6.1.24

[2021-07-26 14:58] devopsn3rd commented on #12022
Hi,

I restarted Docker and it worked this time.

Regards.

[2021-07-26 18:22] andriyDev opened #12055 "Disable caching for HTML/JS of flake rate charts"

[2021-07-26 18:27] andriyDev opened #12056 "Add timestamp to flake rate charts for when the data was updated"
This is just a check to do with caching and stuff.

[2021-07-26 18:44] medyagh commented on #10780
this issue is available to pick up

[2021-07-26 19:02] #11393 closed

[2021-07-26 22:30] #11978 closed

[2021-07-26 22:32] spowelljr opened #12057 "Fix misleading message `make local-kicbase-debug`"
I ran:
[code]
This message is misleading, we either need to not show it for this case or give a better message.

Slack discussion: https://kubernetes.slack.com/archives/C1F5CT6Q1/p1627334157062400

[2021-07-27 00:30] #11913 closed

[2021-07-27 05:09] sunbinzhu commented on #11992
Any update on this issue? Or do you need any more information?

[2021-07-27 06:31] vipmaha1 opened #12062 "Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]"
**Steps to reproduce the issue:**

1.minikube start --vm=true
2.
3.

**Full output of `minikube logs` command:**
<details>
I0727 11:50:35.938065    9064 ssh_runner.go:149] Run: sudo KUBECONFIG=/var/lib/minikube/kubeconfig /var/lib/minikube/binaries/v1.21.2/kubectl apply -f /etc/kubernetes/addons/ingress-configmap.yaml -f /etc/kubernetes/addons/ingress-rbac.yaml -f /etc/kubernetes/addons/ingress-dp

[2021-07-27 11:04] ImNM commented on #3869
Hi guys I run elasticsearch helm in m1 mac docker desktop kubernetes

I fix this promblem ... 제 상황설명좀 할게요
first , i got row heap memory so elasticsearch cluster went down ... i need to cover it.. so
helm uninstall elasticsearch ... (i think this is not good way)
anyway... helm uninstall did not delete PVC so my pvc volume mount keep remaining.
And re install it i got "User system:node:docker-deskt

[2021-07-27 12:06] zishiguo commented on #12021
I also meet this question

[2021-07-27 12:41] ashutosh5786 opened #12063 "Can't open Minikube dashboard"
**Steps to reproduce the issue:**

minkube start --driver vmware

minikube dashboard

**Full output of `minikube logs` command:**
Log file created at: 2021/07/27 18:09:13
Running on machine: DESKTOP-R8456DV
Binary: Built with gc go1.16.4 for windows/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I0727 18:09:13.572000   11716 out.go:286] Setting OutFile to fd 84 ...
I0727

[2021-07-27 16:55] #12015 closed

[2021-07-28 05:21] yangsongx commented on #12021
Yes, I met the same issue!!!

[2021-07-28 08:20] xbnrxout commented on #8765
This worked for me! Thank you

[2021-07-28 10:03] LzyGit commented on #12021
nice,you help me!!!!!!!

[2021-07-28 12:51] sharonngetich commented on #11255
kindly close it

[2021-07-28 13:36] edemen commented on #10122
Deleting the whole certs folder did not help. I restored it and then deleted the problematic certs iteratively, and in the end got it working, but all deployments were lost, so might have as well deleted minikube.
In case it might be useful to somebody, here is what I did:
`minikube start` failed similar to the OP
Then I did
[code]
This results in:
[code]
Note that `kubectl get nodes` would return

[2021-07-28 14:37] Tibor17 commented on #12062
I have the same problem with `minikube addons enable ingress`.

[2021-07-28 15:38] 4nass opened #12067 "Error when enabling ingress add-on on minikube"
**Steps to reproduce the issue:**

1. minikube start --driver=virtualbox --container-runtime=cri-o --no-vtx-check
2.  minikube status
3. minikube addons enable ingress

**Full output of `minikube logs` command:**
<details>
I0728 16:48:51.267723   26026 main.go:128] libmachine: STDERR:
{
}
I0728 16:48:51.293670   26026 out.go:170]     ▪ Using image docker.io/jettech/kube-webhook-certgen:v1.5.1
I072

[2021-07-28 18:08] spowelljr commented on #11953
Hi @pankaj957, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-07-28 18:08] #11953 closed

[2021-07-28 18:11] andriyDev commented on #11900
I'm closing this issue since it's been quiet. Feel free to reopen!

[2021-07-28 18:11] #11900 closed

[2021-07-28 18:13] medyagh commented on #11141
@sahid does our KIC base have this module ?

it sounds reasonable, we could add this module, I would accept and review a PR that does that

[2021-07-28 18:22] medyagh commented on #11771
Yes, it needs to be installed on the guest as well.

No, Installing on host doesnt concern minikube, you would need to copy the PEM into minikube cert folder as instructed in the doc
[code]

after that, I recommend restarting minikube
minikube stop
minikube start --embed-certs

and that should do !

[2021-07-28 18:24] andriyDev commented on #5020
/lifecycle frozen

[2021-07-28 18:28] medyagh commented on #11395
@Dream2Land do u still have this issue ?

[2021-07-28 18:28] spowelljr commented on #9189
I tried this using minikube v1.22.0 using Powershell with admin and it worked for me. Could you try and let me know it it works for you now @cowwoc @Meg4Bit?

[2021-07-28 18:32] medyagh commented on #11499
@jmazzitelli does the answer by @prezha help ?

[2021-07-28 18:36] medyagh commented on #9799
@FabriceSalvaire we have improved the cgroup v2 since then, I am curious have u tried latest version of minikube and see if this problem still persist ?

[2021-07-28 18:40] cowwoc commented on #9189
I'm sorry. I'm not set up to test this at the moment. I would need to disable hardware virtualization in Windows and so on and I haven't worked with Docker for months. Is someone else able to confirm this is fixed?

[2021-07-28 18:41] spowelljr commented on #8733
I tried this with minikube v1.22.0 and the dashboard command worked with multi-node. Could someone who reported this problem confirm that this is fixed now? @fzyzcjy @xhebox @chatterjeesunit

[2021-07-28 18:54] medyagh commented on #10351
anyone likes to pick this task up ! it is available

[2021-07-28 18:56] sharifelgamal commented on #11574
cc @afbjorklund, who is the SSH driver expert

[2021-07-28 18:56] spowelljr commented on #9189
@cowwoc No worries, thanks for responding. I'm going to close this issue since I'm pretty sure this is resolved, but if someone comments saying otherwise I'll be happy to reopen this issue.

[2021-07-28 18:56] #9189 closed

[2021-07-28 18:56] medyagh commented on #11771
@ karezza does that answer your question ?

[2021-07-28 19:15] jmazzitelli commented on #11499
I haven't tried it yet. I'll assume it works :) Thanks for the info.

[2021-07-28 19:15] #11499 closed

[2021-07-28 19:26] #11729 closed

[2021-07-28 19:27] #11630 closed

[2021-07-28 19:27] #11551 closed

[2021-07-28 19:27] #11730 closed

[2021-07-28 21:54] karezza commented on #11771
I created this ticket to have the documentation updated.  I have the answers now but I suspect others will have the same questions.  I leave it up to you whether you update the documentation or not.

[2021-07-28 21:54] #11771 closed

[2021-07-28 23:09] #11565 closed

[2021-07-29 01:45] sruby opened #12071 "minikube addons enable ingress failed"
**重现问题所需的命令**：
`minikube addons enable ingress`
**失败的命令的完整输出**：<details>
`Using image k8s.gcr.io/ingress-nginx/controller:v0.44.0
    ▪ Using image docker.io/jettech/kube-webhook-certgen:v1.5.1
    ▪ Using image docker.io/jettech/kube-webhook-certgen:v1.5.1
🔎  Verifying ingress addon...

❌  Exiting due to MK_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-ngin

[2021-07-29 02:38] Huskehhh commented on #6403
If you find yourself in this situation, I was able to solve it with minikube via...

[code]

Which just patches the deployment of the ingress-nginx-controller with an extra argument ``--enable-ssl-passthrough``.

It seems it also auto-redeploys after a patch, so it should pop back up fairly quick after the patch!

[2021-07-29 02:58] kristianpaul opened #12072 "Failed to start on Raspberry Pi OS arm(v7)"
**Steps to reproduce the issue:**
1.  curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-arm
2. sudo install minikube-linux-arm /usr/local/bin/minikube
3.  minikube start
[code]

<details>
pi@rpi1:~ $ minikube start
😄  minikube v1.22.0 on Raspbian 10.10 (arm)
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikub

[2021-07-29 07:36] coolamiy opened #12073 "Site: fix casing for tutorials"
![image](https://user-images.githubusercontent.com/29359234/127451011-2749d33d-5237-41c8-9757-6b6afe024ba9.png)>
the sidebar linkf or telemetry, Using custom TLS certificate with ingress addon etc are not following camel casing which is used throughout the site for links and tags.

[2021-07-29 10:22] medyagh commented on #12072
I am curious can you pull the image manually?

docker pull gcr.io/k8s-minikube/kicbase:v0.0.25

[2021-07-29 11:40] infa-ddeore commented on #10122
in my case deleting `rm ~/.minikube/client.{crt,key}` files and then `minikube delete` worked fine, i was okay to delete minikube vm

[2021-07-29 12:24] apupier commented on #12041
@Mukhammadamin2002 Can you close your issue as it is fixed please?

Sharing the exact error and the configuration changed can also help other in the future which are hitting the sam eproblem.

[2021-07-29 12:27] apupier commented on #12002
sounds duplicate of https://github.com/kubernetes/minikube/issues/10544

[2021-07-29 12:28] apupier commented on #12062
sounds duplicate of https://github.com/kubernetes/minikube/issues/10544

[2021-07-29 12:29] apupier commented on #12071
potential duplicate of https://github.com/kubernetes/minikube/issues/10544

[2021-07-29 13:44] fengshenyun opened #12074 "coredns&dashboard in error / CrashLoopBackOff"
## 1. minikube start success
[code]

## 2. command <minikube dashboard> can't work
[code]

## 3. coredns&dashboard keeps restart

[code]

## 4. describe coredns events
[code]

## 5. describe dashboard events
[code]

how to fix it ?

[2021-07-29 14:23] matheusnicolas commented on #8409
I had the same problem and I fixed using:

$ sudo chown "$USER":"$USER" /home/"$USER"/.docker -R
$ sudo chmod g+rwx "$HOME/.docker" -R

Change user for your whoami, try whoami in your terminal and paste the result  on $USER and be happy!

[2021-07-29 14:23] matheusnicolas commented on #8409
I had the same problem and I fixed using:

$ sudo chown "$USER":"$USER" /home/"$USER"/.docker -R
$ sudo chmod g+rwx "$HOME/.docker" -R

Change user for your whoami, try whoami in your terminal and paste the result  on $USER and be happy!

[2021-07-29 14:26] matheusnicolas commented on #8409
I had the same problem and first I tried to remove the .docker/config.json file, the same issue persists. So:

After deleted the config.json file I tried these steps:

$ sudo chown "$USER":"$USER" /home/"$USER"/.docker -R
$ sudo chmod g+rwx "$HOME/.docker" -R

Change user for your whoami, try whoami in your terminal and paste the result  on $USER and be happy!

[2021-07-29 14:29] matheusnicolas commented on #8338
I had the same problem and first I tried to remove the .docker/config.json file, the same issue persists. So:

After deleted the config.json file I tried these steps:

$ sudo chown "$USER":"$USER" /home/"$USER"/.docker -R
$ sudo chmod g+rwx "$HOME/.docker" -R

Change user for your whoami, try whoami in your terminal and paste the result on $USER and be happy!

[2021-07-29 15:04] MrMic commented on #12002
After restarting my computer, seems to work now ...
If it still works in a few days, I will close the issue.
Do not know what happened ...
Weird.

[2021-07-29 15:24] afbjorklund commented on #12072
There is currently no support for arm(32), only arm64.

[2021-07-29 15:31] afbjorklund commented on #12072
There is a beta version available, of Raspberry Pi OS 64-bit

https://www.raspberrypi.org/blog/latest-raspberry-pi-os-update-may-2020/

[2021-07-29 15:57] afbjorklund commented on #12043
This is a limitation in the libmachine parser, it only supports released OS versions:

https://github.com/docker/machine/blob/master/libmachine/provision/os_release.go

[2021-07-29 16:12] afbjorklund commented on #12043
Note that Kubernetes recommends running containerd from Docker, not from Ubuntu.

But minikube should still be able to handle both (all three) distributions of it: #10089

[2021-07-29 17:38] gkgaurav31 commented on #9295
I got the same error when adding another node.

➜  services git:(master) ✗ minikube node add
😄  Adding node m02 to cluster minikube
❗  Cluster was created without any CNI, adding a node to it might cause broken networking.
E0729 17:26:10.027486  564491 register.go:141] unexpected first step: ""
👍  Starting node minikube-m02 in cluster minikube
E0729 17:26:10.041995  564491 register.go:141] unexpec

[2021-07-29 19:02] matihost commented on #12043
Yep
I checked the minikube logs with -v
and it has problem with latest package for 21.04
[code]
[code]

After downgrading containerd
 sudo apt install containerd=1.4.4-0ubuntu1

it moves on

[2021-07-29 19:27] chatterjeesunit commented on #8733
@spowelljr Yes i can confirm that it is now working with minikube v 1.22.0

[2021-07-29 19:53] maayrf opened #12075 "Minikube - Testes"
 
**Os comandos necessários para reproduzir o problema**:
 
**A saída completa do comando que apresentou falha**: <details>

</details>

**A saída do comando `minikube logs`**:<details>

</details>

**A versão do sistema operacional usado**:

[2021-07-29 20:42] deepakponnada commented on #10544
Same Issue here  - please let us know how to fix this issue

Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [sudo KUBECONFIG=/var/lib/minikube/kubeconfig /var/lib/minikube/binaries/v1.21.2/kubectl apply -f /etc/kubernetes/addons/ingress-configmap.yaml -f /etc/kubernetes/addons/ingress-rbac.yaml -f /etc/kubernetes/addons/ingress-dp.yaml: Process exited with status 1
stdout:
names

[2021-07-29 21:14] spowelljr commented on #8733
Thanks for checking @chatterjeesunit, I'm going to close this issue, if this isn't resolved for anyone else. comment and I can reopen the issue.

[2021-07-29 21:14] #8733 closed

[2021-07-30 02:29] colinbjohnson commented on #9268
If folks are a little less familiar with `minikube`, example usage of the `--extra-config` flag to enable json format logging for the `scheduler` is here:

`minikube start --extra-config scheduler.logging-format=json`

Which will return logs similar to this:

[code]

[2021-07-30 08:24] afbjorklund commented on #9762
I think it is mostly the integrated push that is the problem, using BuildKit and buildx should be possible for most.

`push-kic-base-image: docker-multi-arch-builder ## Push multi-arch local/kicbase:latest to all remote registries`

[2021-07-30 09:35] peripurnama commented on #10243
is there a way to enable ingress on mac m1 ?

[2021-07-30 10:18] browncrane commented on #12019
[https://minikube.sigs.k8s.io/docs/tutorials/custom_cert_ingress/](This tutorial) guide me here.

Maybe it need a prerequisite, about how to create dumb certs?

[2021-07-30 11:05] pwoelfle opened #12077 "Cilium CNI does not use Minikube Default Pod CIDR"
When using Cilium CNI, pods are not assigned to the [Minikube Default Pod CIDR 10.244.0.0/16](https://github.com/kubernetes/minikube/blob/v1.21.0/pkg/minikube/cni/cni.go#L40) but instead assigned to [Cilium Default Pod CIDR 10.0.0.0/8](https://github.com/kubernetes/minikube/blob/v1.21.0/pkg/minikube/cni/cilium.go#L169) .

Consequently, there is also a mismatch between the [Pod CIDR defined on Kube

[2021-07-30 12:21] coolamiy commented on #12019
You can use openssl or cfssl utilities to create certs .. if using for
local development then mkcert is another option.

On Fri, Jul 30, 2021 at 12:18 PM Zhang Shihe ***@***.***>
wrote:

--
Regards,
Amit
+32 465 24 66 49

[2021-07-30 13:03] laith-leo commented on #8257
`--force` will get the deal done. However, this is **HIGHLY UNRECOMMENDED** inPROD

[2021-07-30 15:39] afbjorklund commented on #9947
Seems to be working with 0.9.0, I opened a PR to set the mode to 660 instead of 666...

For minikube though, we probably want to add a group similar to the docker/podman ?

[2021-07-30 15:43] afbjorklund commented on #9228
Due to the OS being reverted for amd64, this will probably slip also for arm64.

[2021-07-30 16:15] arpitzn opened #12080 "issue"
**Steps to reproduce the issue:**

1./tmp/minikube_dashboard_5c6ee63914fe10bf382570a88e47ceb0f9efddd6_0.log
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-07-30 16:27] afbjorklund commented on #9946
After upgrading containerd, it is possible to do this through configuration:

https://github.com/containerd/containerd/commit/03ab1b2cacdca0575cd432862eb36765707e7ffe

https://github.com/containerd/containerd/commit/c8b14ae4c01e620dc84704dd4b6a080eed0dc62e

It should be accessible through the CLI (`ctr content prune`) somehow...

[2021-07-30 18:31] KShivendu commented on #11571
/assign

[2021-07-30 18:31] KShivendu commented on #11571
/unassign @dinever

[2021-07-30 18:34] KShivendu commented on #11571
Hi @dinever It has been a while since you commented on the task. If you're busy, can you please assign the task to me?

[2021-07-30 19:15] drobit commented on #12036
Hey, @bradyben.
Can you try it with ```--image=k8s.gcr.io/echoserver-arm:1.8```

[2021-07-30 19:33] zhan9san commented on #7332
Here is a workaround. It looks ugly but it works.

Like what `minikube tunnel` does, a tunnel is required to hack the network.

1. Open a new terminal and run the following command.

    Replace `API_SERVER_PORT` and your real `USERNAME`
    You can get `API_SERVER_PORT` by running `kubectl cluster-info`

[code]

2. Add the following line to the bottom of the `/etc/hosts` file.
Replace `hello-worl

[2021-07-30 19:59] drewpca opened #12082 "emit more status output during 'Preparing Kubernetes'"
I'm testing `gcloud beta code dev` in cloudshell. A pretty reproducible problem is that minikube emits some status json lines and then is quiet for 90sec. 90sec+ between steps is too long, and gcloud decides MK is hung. I'd rather not raise that timeout, since it's bad UX for the status to be stalled even for 10 sec. Please consider emitting more status lines. Per our early discussions, you might

[2021-07-30 20:45] #12041 closed

[2021-07-30 20:56] spowelljr commented on #12062
@apupier is right, this is a duplicate of #10544. I'm going to close this issue, but please follow along with #10544, thank you!

[2021-07-30 20:56] #12062 closed

[2021-07-30 21:02] billsmithatg commented on #5815
(I know this is not a solution but give it a try)

That worked for me.

[2021-07-30 21:07] spowelljr commented on #12063
Hi @ashutosh5786, thanks for reporting your issue with minikube! Is your machine 32-bit? `is not a valid Win32 application`

[2021-07-30 21:09] spowelljr commented on #12067
Hi @4nass, thanks for reporting your issue with minikube! This seems like a duplicate of #10544. I'm going to close this issue, but please follow along with #10544, thank you!

[2021-07-30 21:09] #12067 closed

[2021-07-30 21:10] spowelljr commented on #12071
@apupier is right, this is a duplicate of #10544. I'm going to close this issue, but please follow along with #10544, thank you!

[2021-07-30 21:10] #12071 closed

[2021-07-30 21:15] spowelljr commented on #12075
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr, for example:

[code]
- Also the full the output of the
[code]
This will

[2021-07-30 21:16] spowelljr commented on #12080
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr, for example:

[code]
- Also the full the output of the
[code]
This will

[2021-07-30 23:38] spowelljr opened #12083 "`minikube version --components` docker error"
[code]
MacOS: 11.5.1
Docker: 20.10.7

[2021-07-30 23:45] spowelljr commented on #12027
@jayesh-srivastava `crun --version` gets you the version for crun. The only other thing that needs to be done is update the test to ensure it's actually being output.

https://github.com/kubernetes/minikube/blob/master/test/integration/functional_test.go#L1983

[2021-07-31 00:03] spowelljr commented on #12082
@drewpca minikube not reporting a status line for more than 90 seconds would definitely be an issue under normal operations as the entire process itself should finish within 90 seconds.

With that said, from looking at the logs minikube was not in a healthy state, evident by the extreme amount of retries being executed.

Question about this run in particular, was this run after gcloud was cancelle

[2021-07-31 02:34] bradyben commented on #12036
That image fixed the issue. It would be nice to update the docs but I'll close this issue.

[2021-07-31 02:34] #12036 closed

[2021-07-31 06:48] ashutosh5786 commented on #12063
Nopes I have 64 bit O.S

[2021-07-31 08:32] afbjorklund commented on #12083
I get the same results on Ubuntu, at least when running with containerd runtime (rather expected?)

`Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?`

[2021-07-31 16:05] spowelljr commented on #12083
@afbjorklund Ah, you're right, forgot that instance was containerd, but I agree we should log something else instead of error.

[2021-07-31 16:22] sachincalsoft-dev commented on #9373
Helped @davidchieregato 's solution, set cpus<=available cpus
Thanks

[2021-08-01 06:16] hariprasadiit commented on #5594
/reopen

[2021-08-01 07:50] afbjorklund commented on #12083
You get the same results from "ctr version", when running with CRI-O. I will make a PR to use --version instead of version.

[code]

[code]

[code]

Once we fix the bug of installing unused container runtimes, we will start to get a lot more "command not found" instead.

[2021-08-01 08:55] browncrane commented on #12019
Since the tutorial is using `mkcert`, a reference of it added to the document.

[2021-08-01 10:35] afbjorklund opened #12087 "Add possibility to use host docker registry"
A lot of the startup time is transferring and unpacking the container images.

Either from the cache or from the preload, to be copied from host to the node.

It would be useful to be able to pull these from a registry running on the host...
https://docs.docker.com/registry/recipes/mirror/#run-a-registry-as-a-pull-through-cache

Such a registry server would also be an alternative instead of `minik

[2021-08-01 10:48] afbjorklund opened #12088 "Add possibility to use host etcd database"
A lot of the time and space setting up the k8s control plane is the database.

The `etcd` image is the largest in the installation, and it takes time to start...

By connecting to an external etcd running on the host, this can be skipped.

It also allows for using an SQL database instead, by running a [KINE](https://github.com/k3s-io/kine) proxy.

![host-database](https://user-images.githubusercon

[2021-08-02 08:41] ctron opened #12093 "Minikube fails to deploy working cluster (expired certificate)"
**Steps to reproduce the issue:**

1. `minikube delete && minikube start --cpus 6 --memory 20480 --disk-size 20gb --addons ingress`
2. Wait …
3.

To me it looks like there is an expired certificate in there somewhere:

[code]

**Full output of `minikube logs` command:**

[logs.txt](https://github.com/kubernetes/minikube/files/6915584/logs.txt)

[2021-08-02 09:57] afbjorklund commented on #9228
@azhao155 : did you have any progress with building the ISO ? (amd64 or arm64)

[2021-08-02 10:20] vincent-163 commented on #7604
Any progress on this? I stumbled upon this problem. It feels so hard to use Kubernetes local volumes without this feature.

[2021-08-02 10:27] Asarew commented on #7604
yes, this was fixed and merged a while ago https://github.com/kubernetes/minikube/pull/8159

[2021-08-02 15:38] mdbhamanii opened #12094 "Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Get http://%2Fvar%2Frun%2Fdocker.sock/v1.24/version: dial unix /var/run/docker.sock: connect: permission denied"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-08-02 16:05] #11195 closed

[2021-08-02 16:23] spowelljr commented on #11966
Hi @bulexu, thanks for reporting your issue with minikube!

This is a known issue (#10122) that we're planning to fix for users. However, in the meantime running `minikube delete` should resolve your issue.

Also, if you're using minikube v1.2.0 I'd highly recommend you update to the newest minikube version (v1.22.0) for a better experience.

[2021-08-02 16:33] spowelljr commented on #12094
Hi @mdbhamanii, thanks for reporting your issue with minikube!

The first thing to check is to make sure that Docker is in fact running.

If that's not your issue, could you please provide:

- The version of minikube.
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr, for example:

[code]
- Also

[2021-08-02 17:30] drewpca commented on #12082
Yes there was a ctrl-c (that's part of our repro). I believe we 'minikube stop' in that case.

We 'minikube delete' if you use 'gcloud code clean-up'.

[2021-08-02 19:26] afbjorklund opened #12099 "Start cri-docker service automatically, if using docker and kubernetes version >= 1.24"
As mentioned in ~#9868~, using docker requires CRI starting from kubernetes **1.24** up:

https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2221-remove-dockershim

It is being casually updated by Mirantis, for use in their commercial products:

https://www.mirantis.com/blog/the-future-of-dockershim-is-cri-dockerd/

https://www.mirantis.com/blog/mirantis-to-take-over-support-of-k

[2021-08-02 20:20] spowelljr opened #12100 "Try running minikube on Windows 11 beta"
Windows 11 is coming out later this year, we should check if minikube works on the beta.

[2021-08-02 21:53] sharifelgamal opened #12101 "Ensure GCP Auth addon can use creds from GCE metadata server if present"
This seems to be broken currently in Cloud Shell. We need to test it out, and see what's happening, and fix it once we understand the issue.

[2021-08-02 23:16] spowelljr commented on #12100
Successfully started minikube:
- Via Command Prompt with Docker driver
- Via Powershell with Docker driver
- Via WSL2 Ubuntu 20.04 LTS with Docker driver

[2021-08-02 23:25] spowelljr commented on #12100
Closing since after a preliminary check seems to be working, if any specific cases are wanted to be tested feel free to comment and I can try them out.

[2021-08-02 23:25] #12100 closed

[2021-08-02 23:30] spowelljr commented on #12100
Only discrepancy I noticed is that in the start logs it stated Windows 10, but I think this is most likely related to being a beta and will be resolved in the stable release.

[2021-08-03 02:31] anindya6 commented on #6411
Need more eyes on this.

[2021-08-03 03:47] hh186011 commented on #4783
Hi all
I had the same problem, the solution ...
run:
minikube delete
minikube start --vm-driver hyperv

and the problem was solved.
![kube](https://user-images.githubusercontent.com/33037281/127954622-01759059-6ef6-484c-abb0-8795935bcb74.png)

[2021-08-03 07:46] afbjorklund commented on #9228
I was able to retrieve enough from the @bluestealth fork, to get the ISO booting.

The "minimal" image boots in 2 seconds with KVM, or 20 seconds without it
(on a Raspberry PI 4 with arm64, it takes about 1 second for the regular amd64)

The key issues were adding "iso9660" and "search" to the GRUB configuration.

[2021-08-03 08:17] afbjorklund commented on #11652
The buildroot OS upgrade is being blocked by "cilium" issues with systemd: #11810

[2021-08-03 08:19] afbjorklund commented on #11018
/remove-lifecycle stale

[2021-08-03 08:19] afbjorklund commented on #6942
/remove-lifecycle rotten

[2021-08-03 08:20] afbjorklund commented on #11058
/remove-lifecycle stale

[2021-08-03 11:24] afbjorklund opened #12103 "Add cri-dockerd (and crictl) to installation"
Docker is not enough after Kubernetes 1.23, also need to install `cri-dockerd` (and `crictl`).

https://www.mirantis.com/blog/the-future-of-dockershim-is-cri-dockerd/

Use the static binary for ISO

Use the deb package for KIC

----

This is needed for PR #12102 to work

There are no cri-dockerd releases yet

https://github.com/Mirantis/cri-dockerd/releases

[2021-08-03 14:12] mcg1969 commented on #11510
I'm now seeing this as well. My `bridge100` address is `192.168.60.1`. So far I have tried modifying the Minikube `/etc/hosts` manually and passing `--ip 192.168.60.1` to the mount command; neither have resolved the issue. Here's the resulting log. I am guessing the timeout is a red herring, and the `bind: can't assign requested address` issue earlier is a more direct symptom.

[code]

[2021-08-03 14:31] afbjorklund opened #12104 "Document differences between kind and kic"
We should have a page in the documentation, documenting the difference between kind and minikube's kic.

Some of the differences are historic, like docker vs. podman. And some are choices, like containerd vs. crio.

But it can be confusing for the user, when there are two components with similar name and similar code.

Just like with `kubeadm`, there is supposed to be a collaboration between the K

[2021-08-03 15:05] afbjorklund commented on #12104
@medyagh : was there anything else that should be covered ?

[2021-08-03 15:27] afbjorklund commented on #12087
Compare https://kind.sigs.k8s.io/docs/user/local-registry/

[2021-08-03 15:28] afbjorklund commented on #12088
See also https://rancher.com/docs/k3s/latest/en/architecture/#high-availability-k3s-server-with-an-external-db

[2021-08-03 15:44] coolamiy commented on #12019
Create secret command assumes  that the mkcert certs are present in the current directory, can we make that more explicit steps for creation of certs in the current directory using mkcert.
[code]

[2021-08-03 15:54] coolamiy commented on #12073
#12040

[2021-08-03 18:35] filiphagan commented on #4527
The link is not working anymore. The issue is ongoing on version 1.22 on Windows 10

[2021-08-03 19:26] awhileback commented on #10785
The whole point is to simulate an environment, which cannot be done if it refuses to talk to a network outside of the host it's running on.

[2021-08-03 20:25] awhileback opened #12108 "Installing minikube virtualbox with another bridged network VM running breaks virtualbox network for all VMs"
**Steps to reproduce the issue:**

1. download minikube deb package
2. start another VM (not minikube) with a bridged network interface in virtualbox on the host OS
3. install minikube with virtualbox driver on the host OS

**Full output of `minikube logs` command:**
<details>

N/A

</details>

**Full output of failed command:**
<details>

N/A

</details>

Doing the above will cause the minikube i

[2021-08-03 20:32] awhileback commented on #12108
![image](https://user-images.githubusercontent.com/84097090/128082039-0d68dd2a-2fc4-472e-974f-2a14f5c97a0a.png)

I didn't make the above setting, yet there it is.

[2021-08-03 20:39] awhileback commented on #12108
![image](https://user-images.githubusercontent.com/84097090/128082905-3867fddd-017f-485d-9929-4c5a0ef47702.png)

![image](https://user-images.githubusercontent.com/84097090/128082948-1cf6a02c-0839-40ca-9a51-b4a2112d6c29.png)

The only thing that has happened to this (previously working) VirtualBox installation in the past hour has been to install, then uninstall, minikube.

[2021-08-03 20:56] awhileback commented on #12108
It seems an `apt reinstall virtualbox` and/or `dpkg-reconfigure virtualbox` (I did both) restores network connectivity to all of the other VMs that the minikube install broke. There was nothing else apparently wrong with either the host or the Virtualbox network configuration, as shown in the screenshots above, so I don't know where else I might've looked to see where the damage was done.

[2021-08-03 21:56] andriyDev opened #12110 "Loading data.csv in flake_chart.js is slow, even with caching"
Caching seems to not do anything for data.csv. This should be investigated.

[2021-08-03 22:04] CharlieBrownMx commented on #8732
I faced this same issue a few days ago, I could solve it tho by booting my cluster up and mounting the directory running this:

`minikube start --driver=docker --mount-string="local_path:target_path" --mount`

For this you would have to have docker daemon up and running.

[2021-08-04 02:30] #12019 closed

[2021-08-04 03:45] #12056 closed

[2021-08-04 03:46] #12055 closed

[2021-08-04 07:12] RusAdrianC opened #12114 "- /tmp/minikube_addons_fe32266e638f59808ba3af3559d61a6de6ad2bfc_0.log"
**Steps to reproduce the issue:**

1.minikube addons enable ingress

**Full output of `minikube logs` command:**
<details>
Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]

</details>

**Full output of failed command:**
<details>

</details>

[2021-08-04 07:34] yuswift commented on #12114
/triage needs-information

[2021-08-04 07:38] RusAdrianC commented on #12114
Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]

╭─────────────────────────────────────────────────────────────────────────────╮
│                                                                             │
│    😿  If the above advice does not help, please let us know:               │
│

[2021-08-04 07:39] RusAdrianC commented on #12114
Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]

╭─────────────────────────────────────────────────────────────────────────────╮
│                                                                             │
│    😿  If the above advice does not help, please let us know:               │
│

[2021-08-04 08:46] johnnybigert opened #12115 "Minikube tunnel hangs on Ubuntu 20 in Windows 10"
**Steps to reproduce the issue:**

1. `minikube start`
2. `kubectl apply -f manifests/storage-deployment.yaml`
3. `kubectl apply -f manifests/storage-service.yaml`
2. `minikube tunnel`

**Full output of `minikube logs` command:**
[out.txt](https://github.com/kubernetes/minikube/files/6929825/out.txt)

**Full output of failed command:**
Observed behavior: The `minikube tunnel` command provides no o

[2021-08-04 10:28] afbjorklund commented on #10068
This got even worse with the systemd units, even more files to download and manually install...

https://github.com/moby/buildkit/tree/master/examples/systemd

[2021-08-04 10:28] afbjorklund commented on #10068
/remove-lifecycle rotten

[2021-08-04 10:42] coolamiy commented on #12039
#12040

[2021-08-04 10:51] afbjorklund commented on #9639
We will add Mirantis cri-dockerd, to keep supporting the Docker runtime also with Kubernetes 1.23+

[2021-08-04 10:55] afbjorklund commented on #9992
There have been no volunteers for this project, so any prototyping would have to use an external VM and the SSH driver.

[2021-08-04 10:55] Patrick0308 opened #12116 "Support parallels driver on apple m1"
**Steps to reproduce the issue:**
On Apple m1, do this command
[code]
Parallels support for darwin/arm64, see https://www.parallels.com/blogs/parallels-desktop-apple-silicon-mac/

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-08-04 11:13] tomaszkolodziej opened #12117 "minikube start on ubuntu"
**Steps to reproduce the issue:**

1. Type 'minikube start'
2. error. I attached a log file.
[lastStart.txt](https://github.com/kubernetes/minikube/files/6930736/lastStart.txt)

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-08-04 11:21] afbjorklund commented on #12116
This is being discussed in https://github.com/Parallels/docker-machine-parallels/issues/99

It is currently blocked by #9228 (there is no minikube.iso for arm64 yet)

[2021-08-04 11:42] afbjorklund commented on #12116
Duplicate of #11219

[2021-08-04 11:46] yongyct commented on #2678
any resolutions for this? i am also facing the same issue

[2021-08-04 14:54] squakez commented on #10629
I was having the same problem when I moved to another internet connection and the provider was adding a `search` in the host `/etc/resolv.conf` machine. It seems that minikube lookup that file and include that search configuration in its DNS.

I've removed the line with `search`, restarted minikube and now the Pods are able to lookup DNS with no problem.

[2021-08-04 14:57] apupier commented on #12114
seems a duplicate of https://github.com/kubernetes/minikube/issues/10544

[2021-08-04 16:06] andriyDev opened #12118 "Netlify fails on many PRs"
Example: https://app.netlify.com/sites/kubernetes-sigs-minikube/deploys/6109bc0be50436000876dea6

[2021-08-04 16:12] AkihiroSuda commented on #8719
/remove-lifecycle stale

[2021-08-04 17:08] #12110 closed

[2021-08-04 17:53] afbjorklund commented on #12103
The "make deb" target tries to build a whole lot of stuff for various different distributions...

I guess we eventually want `make -C packaging/deb ubuntu` but even that is broken atm.

`== Building packages for ubuntu-bionic ==`

`dpkg-buildpackage: warning:     debian/changelog(l1): version '5:not-0~ubuntu-bionic' is invalid: version number does not start with digit`

[2021-08-04 18:06] #11886 closed

[2021-08-04 18:06] spowelljr commented on #11832
Hi @sonukushwaha403, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-08-04 18:06] #11832 closed

[2021-08-04 18:07] #11038 closed

[2021-08-04 18:08] spowelljr commented on #11700
Since minikube does not recommend or support this action and @medya has provided the docs related to the issue I'm going to close it. If you have any further questions feel free the respond and this can be reopened, thanks!

[2021-08-04 18:08] #11700 closed

[2021-08-04 18:10] spowelljr commented on #11577
@marlon-sousa Due to no response I'm going to close this issue.

[2021-08-04 18:10] #11577 closed

[2021-08-04 18:10] sharifelgamal commented on #11320
The [ssh driver](https://minikube.sigs.k8s.io/docs/drivers/ssh/) might also be an option here.

[2021-08-04 18:11] spowelljr commented on #11112
@ChampionZP Due to no response I'm going to close this issue. If in the future you're interested in doing a private slack chat or scheduling a call feel free to respond, thanks!

[2021-08-04 18:11] #11112 closed

[2021-08-04 18:13] afbjorklund commented on #12118
Back in the "tests are always red" state, which is a dangerous place to be in (people stop looking at tests)

[2021-08-04 18:14] sharifelgamal commented on #11605
Hi @aymg01, it looks like the error came from VMWare itself:

[code]

I would suggest running `minikube delete` then `minikube start` again to see if that helps.

---

Hola @ aymg01, parece que el error provino del propio VMWare:

[code]

Sugeriría ejecutar `minikube delete` y luego` minikube start` nuevamente para ver si eso ayuda.

[2021-08-04 18:16] andriyDev commented on #11855
@amanravi12 Is this issue resolved? Your message is a little unclear, sorry! Please close the issue if it's resolved

[2021-08-04 18:16] afbjorklund commented on #12099
Moved packaging to #12103

[2021-08-04 18:21] afbjorklund commented on #12103
Currently we install "cri-tools" from Kubic project, but might want to get that from upstream.

Sadly no packages are available there, but there is _some_ kind of static binary tarball.

https://kubernetes.io/docs/tasks/debug-application-cluster/crictl/

https://github.com/kubernetes-sigs/cri-tools

[2021-08-04 18:30] afbjorklund commented on #11747
Follow up to fix the wrong versions reported (of for instance ctr and crictl), in PR #12085

[2021-08-04 18:37] afbjorklund commented on #12027
Note that `crun --version` also output some extra junk  (beyond version), but fixed in PR #12085

[code]

The "dirty" thing is some kind of upstream packaging bug, modifying the source before building...

https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/crun

[2021-08-04 18:40] spowelljr opened #12120 "Fix `TestScheduledStopWindows` failing test"
`TestScheduledStopWindows` fails 100% of the time

[2021-08-04 18:41] sharifelgamal commented on #10093
Freezing this so it doesn't accidentally get closed. Help still wanted!

[2021-08-04 18:43] spowelljr commented on #12114
Hi @RusAdrianC, thanks for reporting your issue with minikube! As @apupier stated, this is a duplicate of #10544. I'm going to close this issue, but please follow along with #10544, thank you!

[2021-08-04 18:43] #12114 closed

[2021-08-04 18:47] sharifelgamal commented on #11992
This definitely seems like a bug in our `minikube image` subcommand. What VM driver and container runtime are you using?

cc @afbjorklund

[2021-08-04 19:24] afbjorklund opened #12121 "Show information about the OCI container runtime"
There seems to some interest into which OCI container runtime (e.g. runc, crun)
that is being used by the CRI container runtime (e.g. docker, containerd, cri-o)

Maybe we should add a feature to the "cruntime" abstraction, to retreive this info ?
Then it could be displayed along with the other information, such as the version.

Currently we dump a hard-coded list, in `minikube version --components

[2021-08-04 19:41] afbjorklund commented on #12121
In other news, `runc` was _finally_ released (1.0) after being a Release Candidate for all this time... (5 years, since 2016)

https://github.com/opencontainers/runc/releases/tag/v1.0.0

https://github.com/opencontainers/runc/releases/tag/v1.0.0-rc1

Docker 20.10.8 was just released yesterday, including runc 1.0.1 and containerd 1.4.9 (that would be, on 2021-08-03)

[2021-08-04 20:50] afbjorklund commented on #11992
Pretty sure that `E:\` DOS path could have something to do with it... Can you try with a `cd`, and then without the drive letter ?

[2021-08-04 20:52] afbjorklund commented on #11992
Sadly the image load command doesn't show any output to the console, so all the information would be in the minikube log

[2021-08-04 22:00] QaSajjad opened #12123 "Problem in Starting minikube on window10"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>
[lastStart.txt](https://github.com/kubernetes/minikube/files/6934621/lastStart.txt)

[2021-08-05 00:19] spowelljr opened #12126 "Fix `TestSkaffold` on Windows"
`TestSkaffold` is failing 100% of the time on Windows.

Error:
[code]

[2021-08-05 00:45] spowelljr opened #12128 "Fix `TestStoppedBinaryUpgrade/MinikubeLogs` on Windows"
Error:
[code]
https://storage.googleapis.com/minikube-builds/logs/master/19799/Docker_Windows.html#fail_TestStoppedBinaryUpgrade%2fMinikubeLogs

[2021-08-05 05:17] danstancu commented on #9798
check /etc/docker/daemon.json.
if
{
  "iptables": false
}
set it to true.

[2021-08-05 06:19] sunbinzhu commented on #11992
Thanks @afbjorklund, just tried, you are right, if i cd into the folder and then load the image with file name (but not the full file path), it worked, so we got a workaround for this issue. But as i mentioned, loading with the full file path used to work in v1.20, and broke in v1.21. Since the root cause is clear, could you guys help to fix? Thanks

And below is the output with the full file path

[2021-08-05 10:29] afbjorklund commented on #11992
Seems to be a bug introduced in 32a91d6eb29c477e4f197b4387f5bbee5592b2af

It assumes that the filename is the same as the image name, which is only true in the cache - but fails when loading files.

[2021-08-05 10:51] billgale opened #12130 "Add `minikube unpause` next to `minikube pause` in documentation"
Under Manage Cluster at [minikube start](https://minikube.sigs.k8s.io/docs/start/) it would be nice to reference **minikube unpause** in conjunction with **minikube pause**.

[2021-08-05 15:17] EraYaN commented on #9376
This also break for example when docker is updated on linux. al though when I then try minikube start
it reports:
[code]

Which is a bit of a pain.

[2021-08-05 15:33] zhixunjie commented on #11348
try this，it works in mac m1。
`sed -i "" 's/aliashash\["\([a-z]*\)"\]/aliashash[\1]/g' ~/.minikube-completion |  grep "aliashash"`

[2021-08-05 15:56] spowelljr commented on #12126
This test failed in the PR that updated the PATH separator, re-opening.

https://storage.googleapis.com/minikube-builds/logs/12127/19828/Docker_Windows.html#fail_TestSkaffold

[2021-08-05 16:14] spowelljr commented on #12123
Hi @QaSajjad, thanks for reporting your issue with minikube!

Unfortunately, it looks like your log file didn't finish uploading, can you please try uploading it again, thanks!

[2021-08-05 16:17] spowelljr commented on #12130
@billgale Thanks for bringing that up, that's a valid concern, I'll fix that right now.

[2021-08-05 16:27] Stetchy commented on #9760
Hey @spowelljr, recently came across this issue, or at least very similar.

I do not have a Docker pro account so the rate limiting with Docker Hub applies and I hit it when enabling the addons, if I have had to wipe and re-pull images if I am debugging/developing our internal DX tooling.

The issue is is that the command `minikube addons enable <addon>` uses pre-defined registries, some of which

[2021-08-05 16:31] spowelljr commented on #12117
Hi @tomaszkolodziej, thanks for reporting you issue with minikube!

Thanks for including your log file in the issue. I took a look the file, but unfortunately the log seems incomplete.

The last line in the log is a command being run:
[code]

Is it possible you cut execution short via `ctl + c`?

To verify this, please run `minikube logs --file=logs.txt` and then upload the `logs.txt` file that is

[2021-08-05 16:42] spowelljr commented on #11999
Hi @corbaejb, thanks for reporting your issue with minikube!

It seems like you're using minikube from China, am I correct?

If so, run:
[code]

And then it will pull the images from `registry.cn-hangzhou.aliyuncs.com` instead of `gcr.io`.

-----

嗨@corbaejb，感谢您报告您的 minikube 问题！

好像你在使用来自中国的 minikube，我说得对吗？

如果是这样，请运行：
[code]

然后它会从`registry.cn-hangzhou.aliyuncs.com`而不是`gcr.io`拉取图像。

[2021-08-05 16:47] spowelljr commented on #12116
As @afbjorklund pointed out, this is a duplicate of #11219. To keep discussion centralized I'm going to close this issue, however, please follow along with #11219 and feel free to contribute to any discussion there, thank you!

[2021-08-05 16:47] #12116 closed

[2021-08-05 16:51] #12022 closed

[2021-08-05 16:59] spowelljr commented on #12093
Hi @ctron, thanks for reporting your issue with minikube!

This seems to be a duplicate of #10122, however, running `minikube delete` usually fixes the issue, which it doesn't for you.

I'm curious if you have another minikube cluster that's keeping the old cert around. Could you try running `minikube delete --all` to delete all clusters and see if that fixes your issue?

If that doesn't work, run

[2021-08-05 17:08] spowelljr commented on #11960
Hi @houstonj1, thanks for reporting your issue with minikube!

This is a duplicate of #8765, a fix has not been implemented yet, but based on the linked issue deleting your minikube home directory via `minikube delete --all --purge` should resolve your issue.

Try that out and let me know of that fixes your issue, thanks!

[2021-08-05 17:11] spowelljr commented on #12115
Hi @johnnybigert, thanks for reporting your issue with minikube!

There's a large discussion about running minikube on WSL2 on this issue #7879.

There are multiple comments discussing the tunnel command, I'd recommend reading through them and seeing if any of them are applicable to you and maybe solve your issue, thanks!

[2021-08-05 17:44] andriyDev opened #12133 "Add info about maintainers to addons page of website"

[2021-08-05 17:48] amanravi12 commented on #11855
Yes, it is working.

On Wed, Aug 4, 2021 at 11:46 PM andriyDev ***@***.***> wrote:

[2021-08-05 17:49] andriyDev commented on #12118
Related: https://github.com/kubernetes/community/issues/5932

[2021-08-05 17:51] #11855 closed

[2021-08-05 18:08] ahmetkotan commented on #4144
I had same problem and solved. You should cgroup driver.
[code]

[2021-08-05 18:35] spowelljr commented on #9760
Hi @Stetchy, thanks for reaching out!

This is something you should be able to do, we have a page about it in our documentation.

https://minikube.sigs.k8s.io/docs/handbook/addons/custom-images/

Let me know if this fulfills your need, thanks!

[2021-08-05 18:47] spowelljr commented on #12128
Might be fixed by #12132, waiting for CI tests to finish to determine if it is or not.

[2021-08-05 19:53] #12133 closed

[2021-08-05 20:17] spowelljr commented on #12128
Test passed in CI, but test doesn't have 100% failure rate, so going to leave it for a day and see it if fails after PR is merged.

[2021-08-05 20:21] afbjorklund commented on #12118
I'm not even sure why we have the web pages in the same git repository. Especially since hugo is so... huge ?

[2021-08-05 20:39] afbjorklund commented on #11219
We could need some help from Parallels users and developers, to support this VM driver.

There are no integration tests for VMware or Parallels, so they rely on community support...

[2021-08-05 20:47] sftim commented on #12118
kubernetes/community#5932 suggests a “turn it off and on again” kind of fix: retry the Netlify build using the “Clear cache and redeploy” option.
I recommend trying that if not already attempted.

[2021-08-05 20:58] sftim commented on #12118
I've gone ahead and clicked that. Hope nobody objects.

[2021-08-05 21:01] medyagh commented on #12118
@sftim unfortunately none of the minikube maintainers have the permission, is there a way we could get permission ?

@medyagh @shahiddev @spowelljr

[2021-08-05 21:04] #12120 closed

[2021-08-05 21:13] afbjorklund commented on #12072
I made a PR to include "arm" in the kicbase arch: #12079

[2021-08-05 21:21] #12130 closed

[2021-08-05 21:28] #8762 closed

[2021-08-05 21:41] billgale commented on #12130
@spowelljr Beautiful doc is now even more beautiful!   Tysm for the quick turnaround.

[2021-08-05 22:29] andriyDev opened #12138 "Frequent test failures of `FAKE.TEST/PLEASE/IGNORE123`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|B|90|

[2021-08-05 23:21] spowelljr opened #12139 "Submit minikube binary download as safe to Microsoft"
If you download a minikube binary via Microsoft Edge it marks it as unsafe, however, we can submit a request to mark the download as safe.

[2021-08-06 00:01] spowelljr commented on #12139
Submitted to Microsoft, awaiting response

[2021-08-06 00:08] #12083 closed

[2021-08-06 00:25] #12101 closed

[2021-08-06 00:29] spowelljr commented on #11992
@afbjorklund I created a PR that solves the issue, but if you have a better way in mind feel free to comment on it.

I'm going to add a test to catch this case tomorrow.

[2021-08-06 01:35] #11669 closed

[2021-08-06 08:08] afbjorklund commented on #12103
Current hack:

[code]

https://github.com/Mirantis/cri-dockerd

[2021-08-06 08:10] Stetchy commented on #9760
Brilliant - thanks @spowelljr! I think I was just searching for the wrong things 😄  thanks a mill - that fixed it

[2021-08-06 08:42] afbjorklund commented on #12099
The current cri-dockerd installation still starts /var/run/dockershim.sock, and a _broken_ /var/run/cri-docker.sock

So it needs to be forced:

`minikube ssh -- sudo systemctl start cri-docker.socket`

`minikube start --kubernetes-version=v1.23.0-alpha.0 --preload=false --cri-socket=/var/run/dockershim.sock`

[2021-08-06 11:12] johnnybigert commented on #12115
@spowelljr Thanks for responding. I read #7879, nothing helpful there what I could see, just @ashishsecdev having the same issue as me.

[2021-08-06 11:37] afbjorklund opened #12145 "Fix `TestAddons/parallel/HelmTiller` failing to pull the image"
**deploy/addons/helm-tiller**

TestAddons/parallel/HelmTiller

`gcr.io/kubernetes-helm/tiller:v2.16.12`

`Error response from daemon: unauthorized: You don't have the needed permissions to perform this operation, and you may have invalid credentials. To authenticate your request, follow the steps in: https://cloud.google.com/container-registry/docs/advanced-authentication`

Should update to the En

[2021-08-06 12:27] #12039 closed

[2021-08-06 12:28] #12073 closed

[2021-08-06 14:01] ctron commented on #12093
I went along and deleted some certs:

[code]

That did fix the issue for me. I would have expected that this is done automatically when the certificates expire.

[2021-08-06 15:08] lunatik13 commented on #4770
Working for macos

[2021-08-06 16:29] spowelljr commented on #12093
Glad that fixed your issue! The plan to auto-resolve this has an issue (#10122), it just hasn't been implemented yet. Hopefully we can get to it soon. I'll leave the issue open incase you have any other questions, if not feel free to close this issue, thanks!

[2021-08-06 16:39] spowelljr commented on #12115
@johnnybigert Thanks for checking out that issue, I'll see if I have time to check it out today. If you could though, try running `minikube tunnel --alsologtostderr` that should give you a more verbose output and possibly see where the problem lies.

[2021-08-06 16:51] andriyDev opened #12147 "Frequent test failures of `another_fake_test`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|C|90|
|D|75|

[2021-08-06 16:52] andriyDev opened #12148 "Frequent test failures of `another_fake_test2`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|B|50|

[2021-08-06 18:09] andriyDev opened #12150 "Frequent test failures of"
Will be filled in with details

[2021-08-06 18:12] #12150 closed

[2021-08-06 18:13] andriyDev opened #12151 "Frequent test failures of `another_fake_test3`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|B|95|
|B|30|
|B|15|

[2021-08-06 18:44] azamaschikov opened #12152 "Enabling 'ingress' returned an error"
Hello, guys! I trying setup Ansible AWX to Minikube in my VM and when enabling Ingress I catch next error:

[code]

Full output of `minikube start` command:

[code]

Full output of `minikube logs` command:
<details>
[minikube_logs.txt](https://github.com/kubernetes/minikube/files/6947415/minikube_logs.txt)

</details>

Full output of failed command with `-alsologtostderr` option:
<details>
[miniku

[2021-08-06 18:58] afbjorklund commented on #11192
Commands:

[code]

[2021-08-06 19:00] afbjorklund commented on #11130
The save command is part of the build + save + load workflow: #11192

[2021-08-06 19:03] spowelljr commented on #12002
Hi @MrMic, since you haven't responded I'm going to assume that it's continuing to work, so I'm going to close this issue. If the problem comes back feel free to reopen, thanks!

[2021-08-06 19:03] #12002 closed

[2021-08-06 19:20] MrMic commented on #12002
Hi,

- I was just waiting if It still works.
- It is OK.
- Indeed, you can close the ticket.

Sorry to have not updated this more recently.
My bad.
Rgds,

[2021-08-06 19:21] spowelljr commented on #12152
Hi @azamaschikov, thanks for reporting you issue with minikube!

This ingress addon error has recently become a frequent issue among users. We have a main issue tracking this problem #10544, so please follow along there for updates. The current work around is running `minikube delete --all --purge`. However, to help with debugging would you mind running `minikube delete --all` and see if that fixe

[2021-08-06 20:05] spowelljr commented on #12128
Is still failing after #12132 was merged.

[2021-08-06 20:18] andriyDev opened #12153 "Automagically create issues for flaky tests"

[2021-08-06 23:05] LeoVS09 commented on #10544
If someone will help, I was facing the same problem, and `delete` didn't help. I'm managed to fix it by updating minikube from `v1.20.0` to `v1.22.0` and starting with the addon flag

[2021-08-07 01:39] whz11 opened #12156 "get trouble in minikube start -- version: v1.18.1"
**重现问题所需的命令**：minikube start

**失败的命令的完整输出**：<details>
 [WARNING IsDockerSystemdCheck]: detected "cgroupfs" as the Docker cgroup driver. The recommended driver is "systemd". Please follow the guide at https://kubernetes.io/docs/setup/cri/
        [WARNING FileExisting-ebtables]: ebtables not found in system path
        [WARNING FileExisting-socat]: socat not found in system path
        [WARNING

[2021-08-07 01:46] whz11 commented on #12156
edit

[2021-08-07 07:36] afbjorklund commented on #11312
Should be OK now, and minikube is up to go version 1.16.6 (same as Kubernetes 1.22)

[2021-08-07 07:36] #11312 closed

[2021-08-07 10:11] #12126 closed

[2021-08-07 10:15] medyagh commented on #12145
Thanks for noting this

[2021-08-07 10:27] azamaschikov commented on #12152
Hi, @spowelljr. Thank you for your replay!

I run delete command:
[code]

And after I run `minikube start` again:
[code]

And I try enable Ingress addon and I see the same error:

[code]

With ` --all --purge` the same way.

[code]

Could my network settings be causing the problem (I have a some strange settings in my Proxmox virtial machine)? Everything with Ingress fine on my other virtual machi

[2021-08-07 13:24] afbjorklund opened #12157 "Untagged images built show up as "none" in the image list"
When not tagging the images, the `minikube image list` format is not so great:

[code]

The `crictl images` is more usable and less weird, for this particular case.

[code]

The "docker.io/library" prefix is a bug, it should have been `<none>:<none>`

i.e. a bug in the Docker output handling, it shows up OK in the CRI-O output

----

This is the result of the build command:

`Successfully built f8

[2021-08-07 19:19] SaurabhGh-learn opened #12158 "Not Able to start Minikube with Docker driver"
Minikube failed to start with docker driver, attching last start file, please help.
[lastStart.txt](https://github.com/kubernetes/minikube/files/6949653/lastStart.txt)

[2021-08-07 22:11] Ma9si opened #12159 "Certificate Error"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>
[lastStart.txt](https://github.com/kubernetes/minikube/files/6949921/lastStart.txt)

[2021-08-08 07:00] rajdevworks commented on #9362
Here are my thoughts on the PR:
1. Create a page under Contribution called "Managing External packages"
2. Add a section for Managing Chocolatey. It will have following content:

@medyagh - does this look good to you?

[2021-08-08 08:50] afbjorklund commented on #3110
See https://github.com/kubernetes/release/issues/281

[2021-08-08 08:50] afbjorklund commented on #4716
See See https://github.com/kubernetes/release/issues/281

[2021-08-08 13:45] afbjorklund commented on #11725
On a side note, we have been using this to run aarch64 processes on amd64 for a while now...

https://www.docker.com/blog/getting-started-with-docker-for-arm-on-linux/

It is also possible to run the whole OS (system), but then you lose the KVM/HVF acceleration.

https://qemu-project.gitlab.io/qemu/about/ (for "system" vs "user mode")

Sometimes it _has_ to be done, like when it is not possible to

[2021-08-08 19:31] UmarNeo opened #12160 "Issue while running minikube using extra RBAC config"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-08-08 19:43] UmarNeo opened #12161 "Issue while running minikube using : minikube start --driver=docker --cpus 6 --disk-size=50g --extra-config=apiserver.authorization-role=RBAC"
**Steps to reproduce the issue:**

1.minikube start --driver=docker --cpus 6 --disk-size=50g --extra-config=apiserver.authorization-role=RBAC
2. minikube logs

**Full output of `minikube logs` command:**
<details>
Aug 08 19:33:14 minikube kubelet[1302]: I0808 19:33:14.264572    1302 status_manager.go:566] "Failed to get status for pod" podUID=326646a3bec1b473a8d1796fe222348c pod="kube-system/kube-

[2021-08-08 19:50] #12160 closed

[2021-08-08 20:41] Nothing4You commented on #9720
while the bundled driver in Fusion 12.1.2 is still not updated manually installing 0.1.3 via brew does work now:

[code]

[2021-08-09 05:17] rajdevworks commented on #9362
Submitted a PR - https://github.com/kubernetes/minikube/pull/12163

[2021-08-09 09:25] R-omk opened #12165 "Storage provisioner broken for multinode mode"
It seems that the hostpath provisioner is completely unsuitable for multinode installations.

It must create and prepare directories on the exact host on which a pv is requested. In addition, it must add nodeaffinity for every hostpath pv exactly the same as it happens at https://github.com/rancher/local-path-provisioner

**Steps to reproduce the issue:**

1. minikube create -n 3
2. install any st