[2019-07-01 06:54] medyagh opened #4653 "testing new template of issues"

[2019-07-01 06:54] #4651 closed

[2019-07-01 10:50] karancode opened #4655 "kubectl create/apply fails for pod.yaml"
I was trying to test some configMap related issue where same keys are present in different configMapRef. But while doing that, I came across a different strange issue.
When I am trying to create a pod using yaml file in minikube, I get `error: SchemaError(io.k8s.api.batch.v1beta1.CronJob): invalid object doesn't have additional properties`.
Check below details:
- create two configMaps
[code]
- cre

[2019-07-01 11:03] renhe134880 commented on #4352
I fixed issue .
just:
minikube stop
minikube start

[2019-07-01 15:38] cvila84 commented on #4636
https://github.com/kubernetes/minikube/pull/4647 adds a new cli_commands.md, maybe we can document here once the PR is merged ?

[2019-07-01 17:11] jasondunken commented on #3963
I was getting similar error while using either a user-defined vSwitch or the default vSwitch. Disabling IPv6 in the vAdapter settings, running 'minikube delete' and then restarting resolved the issue.

[2019-07-01 19:01] #4653 closed

[2019-07-01 19:11] medyagh opened #4656 "Remove dependecy on k8s.io/kubernetes in go mod"
While I was trying to bump up the dependecy in go mod for k8s.io/kubernetes 1.11.3
 I noticed we our go mod fails because we are importing the whole kubernetes. and I could not add a new depedency on kubectl subpackage.

Thanks to the help on golang issues, (https://github.com/golang/go/issues/32864)  I found out the root cause is  Kubernetes is is not meant to be imported as a go module See comme

[2019-07-01 20:11] josedonizetti commented on #4635
Yeah, it seems cloud isn't supported. The `--kvm-qemu-uri` works fine for connecting, but unfortunately some dependencies are only available locally, so it fails to create the KVM machine, for example:

https://github.com/kubernetes/minikube/blob/master/pkg/drivers/kvm/domain.go#L56
https://github.com/kubernetes/minikube/blob/master/pkg/drivers/kvm/domain.go#L62

When the XML template is sent to t

[2019-07-01 20:44] josedonizetti commented on #4656
I'll take this.

[2019-07-01 20:48] josedonizetti commented on #4646
@Faisal37150 could you provide more details?

- minikube version
- os
- driver
- debugging logs

Thanks :)

[2019-07-01 21:02] medyagh commented on #4656
Thank you @josedonizetti for taking this , I came across this comment https://github.com/kubernetes/kubernetes/issues/79384#issuecomment-505627280 recomending using `replace ()` it might be helpful you . let me know if you have any questions

[2019-07-01 21:04] medyagh commented on #4655
I bet your kubectl version is too old and it doesn't support the schema you are trying to apply. could you please upgrade your kubectl and try again ?

[2019-07-01 21:51] josedonizetti opened #4658 "Add warn about old driver version (hyperkit, kvm)"
Now that both kvm, and hyperkit support `version`. It would be good to warn the user if his driver version is too old.

[2019-07-01 21:52] josedonizetti commented on #4658
@medyagh does this make sense?

[2019-07-01 22:50] medyagh commented on #4658
Yes that's a great idea! Would be happy to review the PR

[2019-07-01 23:29] josedonizetti commented on #4658
Ok. I’ll create a pr.

[2019-07-01 23:29] scorbin commented on #3636
@tstromberg
I tried minikube v1.2 and
curl -LO https://storage.googleapis.com/minikube/releases/latest/docker-machine-driver-kvm2 && sudo install docker-machine-driver-kvm2 /usr/local/bin/
I get the same error

BTW, I did get minikube working on fedora silverblue

[2019-07-01 23:58] medyagh commented on #4643
I am curious, are you in a network that restricts your access to docker hub?
"fetching remote image: UNAUTHORIZED: Not Authorized."

[2019-07-02 00:06] medyagh commented on #4615
closing in favor of https://github.com/kubernetes/minikube/issues/4615

[2019-07-02 00:06] #4615 closed

[2019-07-02 00:46] medyagh commented on #4616
I confirm this issue I am making a PR to fix it. Thank you for reporting it and following up on it

[2019-07-02 01:36] medyagh commented on #3718
I also think having it in  /usr/bin is a bad idea, since many corporates deny access to that folder but they allow /usr/loca/bin

[2019-07-02 01:41] frbimo commented on #4010
I have the same issue when relaunch minikube:
[code]
Have tried:
[code]

At that time my docker service was running.
And i tried "minikube delete" solution and its worked. But i cant use my instances again, so i'm not seeing this solution as best practice.

[2019-07-02 01:44] medyagh commented on #4495
I believe this has been addressed by https://github.com/kubernetes/minikube/commit/d6a839b20aff9564eecebb301fb0d0f0c58052ad

[2019-07-02 01:44] #4495 closed

[2019-07-02 01:49] karancode commented on #4655
@medyagh thanks! It worked.
I realized that even after `brew upgrade kubernetes-cli` doesn't update the link to existing `kubectl`. Also as the brew formula gets updated, future upgrades will say latest version already exists.

[code]

Anyways, thanks!
This issue is good to be closed.

[2019-07-02 01:52] medyagh commented on #4313
@vaibhavk are you still working on this ?

[2019-07-02 02:01] medyagh commented on #4391
Indeed @josedonizetti

[2019-07-02 02:23] medyagh commented on #4451
@189174944 could you confirm if that advice helped you?

[2019-07-02 02:29] medyagh commented on #4609
I am glad you figured out to solve your issue

[2019-07-02 02:29] #4609 closed

[2019-07-02 02:31] medyagh commented on #4450
Thanks for creating this issue, @codeforester, I am curious, do you have this issue with the latest version of minikube?

[2019-07-02 02:39] medyagh commented on #4655
You are welcome, I am glad it was helpful.

[2019-07-02 02:39] #4655 closed

[2019-07-02 03:24] dineshtobe commented on #4472
C:\Users\edinrxx>minikube status
host: Running
kubelet: Running
apiserver: Stopped
kubectl: Correctly Configured: pointing to minikube-vm at 192.168.99.106

C:\Users\edinrxx>minikube delete
* Deleting "minikube" from virtualbox ...
* The "minikube" cluster has been deleted.

C:\Users\edinrxx>minikube start
* minikube v1.1.1 on windows (amd64)
* Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=2

[2019-07-02 03:25] dineshtobe commented on #4472
I deleted the minikube and started again but minikube is crashing

[2019-07-02 03:42] medyagh commented on #4472
What is your virtualbox version?

[2019-07-02 03:58] dineshtobe commented on #4472
Hi Medyagh,

virtualbox version :
VirtualBox Graphical User Interface
Version 6.0.4 r128413 (Qt5.6.2)

After rebooting the PC it is working fine.

Thanks.

[2019-07-02 04:38] #4462 closed

[2019-07-02 04:51] aidagha commented on #3930
Hi I also have exact same issue, when VPN is up, `kubectl version`  times out. if I turn off the VPN it works just fine !

[2019-07-02 05:43] vikrantgoel commented on #2886
Issues be related to Cisco AnyConnect as well, like was for me.
https://github.com/kubernetes/minikube/issues/3503

[2019-07-02 05:43] joejulian commented on #3076
Since I'm no longer at Samsung and cluster-api-provider-ssh is abandoned and all the cluster-api development uses `kind` now, I'm fine with closing this.

[2019-07-02 06:29] blueelvis commented on #4511
I will pick this up and submit a PR shortly.

/assign

[2019-07-02 06:36] ahmetb opened #4660 "Takes 95 seconds to stop a xhyve VM"
A simple `minikube stop` just took 95 seconds.

This is a relatively fresh/empty VM. I only ran:

- `minikube start --container-runtime=containerd --docker-opt containerd=/var/run/containerd/containerd.sock`

- `minikube addons enable gvisor`

- `kubectl logs`

- `minikube stop` (took 95s.)

**The exact command to reproduce the issue**: `minikube stop` (xhyve driver)

**The full output of the comm

[2019-07-02 08:33] blueelvis opened #4661 "minikube VM on Hyper-V is in "Shutting Down" state since 30+ minutes"
**The exact command to reproduce the issue**:
Ensure that there is no cluster already on the machine.
`.\minikube-windows-amd64.exe start --vm-driver=hyperv --hyperv-virtual-switch="Default Switch" --v=8 `
`.\minikube-windows-amd64.exe stop`

**The full output of the command that failed**:
<details><summary><code>
Output
</code></summary><br><pre>
PS C:\utilities> .\minikube-windows-amd64.exe stop

[2019-07-02 08:48] blueelvis commented on #4661
Also, I just noticed that the VM created by minikube is Gen 1. Is there any reason why we are creating a Gen 1 VM? I have the Docker installed on my machine as well (as you can see from the above screenshot) and that is a Gen 2 Virtual Machine.

Seems like minikube VM is a `boot2docker` VM which is now in maintenance mode. Are there any plans to migrate to a newer one?

[2019-07-02 08:51] dfang commented on #4656
@medyagh currently replace() in go.mod is hard to upgrade the version of the replacement.

see https://github.com/golang/go/issues/32721

[2019-07-02 08:55] outception commented on #4266
minikube stop
vi ~/.minikube/config/config.json `# change the value from true to false`
minikube start

`# then delete resources manually`
kubectl -n xxx delete xxx xxx

[2019-07-02 08:58] michaelbaranov commented on #4661
I use solution from here for shutting down minikube https://github.com/kubernetes/minikube/issues/2914#issuecomment-401562007

[2019-07-02 09:01] blueelvis commented on #4661
I was just typing this. I did the following and it worked as well but we need to have some fall back where if the Hypervisor call doesn't return back in few minutes, we should shut down from within the VM itself.
[code]
That shut down the machine after a minute.

[2019-07-02 09:04] outception commented on #2281
minikube stop
vi ~/.minikube/config/config.json `# change some flag from true to false`
minikube start

`# then delete relative resources manually`
kubectl -n xxx delete xxx xxx

[2019-07-02 09:04] outception commented on #2808
minikube stop
vi ~/.minikube/config/config.json `# change some flag from true to false`
minikube start

`# then delete relative resources manually`
kubectl -n xxx delete xxx xxx

[2019-07-02 09:47] malcolm061990 commented on #3581
Thanks!
Cool!
I didn't know that my custom network name is the same as minikube's :)

[2019-07-02 09:47] #3581 closed

[2019-07-02 09:51] mariocoloma commented on #4010
@frbimo 2 things
1. Did you get it to run before with `--vm-driver=none`?
2. Did you try `minikube delete` before trying `minikube start`?

[2019-07-02 14:01] Valgard commented on #2914
Same problem here

Windows 10 Pro 1903
Docker v18.09.2
Kubectl v1.15.0
Minikube v1.2.0

Output from `minikube stop`:

[code]

Output from `minikube stop --alsologtostderr -v=8`:

[code]

[2019-07-02 15:23] medyagh commented on #4660
Thank you for creating this issue, 95 seconds is not acceptable for waiting to stop. Btw I am curious is there a specific reason to use xhyve driver ?  We have depricated support for that driver. But I am curious if there is any advantage of using xhyve to hyperkit ?

[2019-07-02 15:43] Maxiaoyu0 commented on #927
use this one sudo minikube start --registry-mirror=https://registry.docker-cn.com --docker-env HTTP_PROXY=http://proxy-ip:port --docker-env HTTPS_PROXY=http://proxy-ip:port

[2019-07-02 15:44] Maxiaoyu0 commented on #927
use this (sudo minikube start --registry-mirror=https://registry.docker-cn.com --docker-env HTTP_PROXY=http://proxy-ip:port --docker-env HTTPS_PROXY=http://proxy-ip:port)

[2019-07-02 16:03] medyagh opened #4662 "None integration test: Fix CheckStatusNoFail()"
I saw this error in none driver integration test

[code]

which happens here:

it seems like when it  failed to split the output currently and figure out it is running.
https://github.com/kubernetes/minikube/blob/master/test/integration/util/util.go#L237

[2019-07-02 16:10] #4662 closed

[2019-07-02 16:12] medyagh commented on #4662
This is related to a WIP PR https://github.com/kubernetes/minikube/pull/4497

[2019-07-02 16:17] ahmetb commented on #4660
Mostly gMac compliance I think. Or maybe I’ve been using minikube since far too long. I should try the hyperkit option. Thanks.

[2019-07-02 19:13] saichandreddy6666 commented on #4472
delete minikube from virtual machine
un install minikube
remove .minikube files from c drive
do same thing with kubernates
resstart machine
now try to install minikube and kubernates
start minikube on hyper v if your using

* Thanks*

*Saichand kunduru*

On Mon, Jul 1, 2019 at 11:58 PM dineshtobe <notifications@github.com> wrote:

[2019-07-02 20:45] hutchic opened #4664 "--vm-driver=none stops all docker containers"
A side effect of https://github.com/kubernetes/minikube/commit/df5bbc3c8ae54745ba804eeeb2792ec7e70fe516 is now minikube commands will stop containers that are unrelated to running minikube

[2019-07-02 22:56] flstaats commented on #4643
My local docker can pull images just fine.  Note I have login with "credsStore": "pass" which works correctly.

'''
$ docker login
Authenticating with existing credentials...
Login Succeeded
$ docker image ls
REPOSITORY          TAG                 IMAGE ID            CREATED             SIZE
alpine              latest              4d90542f0623        13 days ago         5.58MB
ubuntu

[2019-07-02 23:24] medyagh commented on #4643
seems like you are trying to pull an image from a private regsitery ?
I am curious if this would  solve your problem:

1- first connect to minikube's docker
 eval $(minikube docker-env)
2- try to pull your image
`docker pull library/hello-world`

[2019-07-02 23:25] medyagh commented on #4660
We are working on VM free minikube for all platforms, with that coming it will speed up super fast !

[2019-07-02 23:27] ahmetb commented on #4660
That sounds dope but I have no idea how would it work :P

[2019-07-02 23:55] medyagh commented on #4664
tagging @afbjorklund  as he knows this better

[2019-07-03 00:23] superbrothers opened #4666 "`minikube service` outputs nothing if a service has no node ports"
`minikube service` command outputs nothing if a service has no node ports.  I feel this behavior is unfriendly because I cannot know what happened.

**The exact command to reproduce the issue**:

[code]

**What I expected to happen**:

I expected to output error message such as "service default/service has no node ports", and exit with non-zero.

[code]

Exit code will be changed to non-zero from

[2019-07-03 01:26] yechnlin commented on #4403
same issue encountered.

[2019-07-03 03:55] medyagh opened #4668 "Add option to delete all profiles"
minikube should have an option to delete all profiles with one command.

`minikube delete --all`

[2019-07-03 05:35] ankushgarg28794 commented on #3900
Hi Team,

I am getting the below error while running the below mentioned command. I am running this command on centos 7 and bios settings is also enabled . Please help and provide the resolution.

[root@localhost kubernates]# minikube start --no-vtx-check
* minikube v1.2.0 on linux (amd64)
! Please don't run minikube as root or with 'sudo' privileges. It isn't necessary.
* Creating virtualbox VM (

[2019-07-03 05:45] ankushgarg28794 commented on #4530
Hi Medyagh,

I have run the above command and getting the below error, can you please help me to resolve the below error for minikube.

[root@localhost kubernates]# minikube start --no-vtx-check
* minikube v1.2.0 on linux (amd64)
! Please don't run minikube as root or with 'sudo' privileges. It isn't necessary.
* Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0703 10:46:25.28922

[2019-07-03 05:54] medyagh opened #4669 "minikube profile should have it's own kubeconfig file"
Currently, each minikube profile adds itself to the main kubeconfig (`~/.kube/config` ) as a context.

it would be nice that on the top of adding itself to the main kube config, to add separate file.
like `~/.kube/minikube-profile1 `

this will be super useful when doing operations in parallel on multiple minikube profiles. and also will pave the way for support for minikube multi cluster.

curren

[2019-07-03 05:56] afbjorklund commented on #4530
Sounds like you are trying to run minikube with nested virtualization ? (VirtualBox from a VM)

[2019-07-03 06:02] afbjorklund commented on #4664
The code should still use the same "kubernetes prefix" (`k8s_`) for Docker, the change was only for the other runtimes.

When running with a runtime such as cri-o, we will use the standard `crictl` command to _only_ list Kubernetes containers.
The ones running with e.g. podman are in a separate listing anyway, it is only the images that are shared between them.

[2019-07-03 06:03] ankushgarg28794 commented on #4530
Yes,

[2019-07-03 06:06] ankushgarg28794 commented on #4530
I want to run minikube on centos 7 which is on Windows VM. And for that i am facing the above issue. I have installed vm on linux as well. Could you please suggest how to proceed with the above mentioned error.

[2019-07-03 06:34] apupier opened #4670 "Failed to update cluster: downloading binaries: downloading kubeadm: Error downloading kubeadm v1.2.0: failed to download: failed to download to temp file: download failed: 1 error(s) occurred:"
**The exact command to reproduce the issue**:

(note you have to create the Hyper-V external switch named ExternalVirtualSwitch, be on WIndows 10 and have Hyper-V enabled)

[code]

**The full output of the command that failed**:
<details><summary><code>Output</code></summary><br><pre>
* minikube v1.2.0 on windows (amd64)
* Downloading Minikube ISO ...
 129.33 MB / 129.33 MB [======================

[2019-07-03 07:18] apupier commented on #4670
<details><summary><code>output with --v=7</code></summary><br><pre>
minikube start -p camelk --extra-config=apiserver.enable-admission-plugins="LimitRanger,NamespaceExists,NamespaceLifecycle,ResourceQuota,ServiceAccount,DefaultStorageClass,MutatingAdmissionWebhook" --v=7
* minikube v1.2.0 on windows (amd64)
[executing ==>] : C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe -NoProfile -Non

[2019-07-03 07:22] apupier commented on #4670
I have soem files named "kube-proxy-amd64_v1.2.0.892830980.tmp" which might be related to the mentioned C:\Users\Aurelien Pupier\.minikube\cache\images\k8s.gcr.io\kube-proxy-amd64_v1.2.0

here the file (inside a zip to be able to attach it to the github issue)
[kube-proxy-amd64_v1.2.0.892830980.tmp.zip](https://github.com/kubernetes/minikube/files/3353695/kube-proxy-amd64_v1.2.0.892830980.tmp.zip)

[2019-07-03 07:36] Maxiaoyu0 commented on #4530
same issue

[2019-07-03 07:39] ankushgarg28794 commented on #4530
Do we have any resolution over here on github for the mentioned issue.

[2019-07-03 07:49] apupier commented on #4670
the interesting part seems to be:
`E0703 09:15:58.148054    6712 start.go:403] Error caching images:  Caching images for kubeadm: caching images: caching image C:\Users\Aurelien Pupier\.minikube\cache\images\k8s.gcr.io\kube-proxy-amd64_v1.2.0: MANIFEST_UNKNOWN: Manifest with tag 'v1.2.0' has media type 'application/vnd.docker.distribution.manifest.v1+prettyjws', but client accepts 'application/vnd

[2019-07-03 08:28] apupier commented on #4670
damn, I made a typo on the kubernetes version to use, effectively, i specified a 1.2.0 version which is quite old, with 1.12.0 it is going further.

Sorry for disturbance

[2019-07-03 08:28] #4670 closed

[2019-07-03 09:04] zaheer032 opened #4671 "-vm-driver=none: flag: strconv.Atoi: parsing "m-driver=none": invalid syntax"
I am trying to run minikube on Ubuntu 18.04 Oracle Virtual box following the blog @ https://medium.com/@vovaprivalov/setup-minikube-on-virtualbox-7cba363ca3bc

**The exact command to reproduce the issue**:
sudo minikube start -vm-driver=none

**The full output of the command that failed**:
sudo minikube start -vm-driver=none
Error: invalid argument "m-driver=none" for vm-driver=none: strconv.Atoi:

[2019-07-03 09:10] donguty opened #4672 "Windows virtualbox: Error: Call to WHvSetupPartition failed"
* minikube v1.2.0 on windows (amd64)
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Restarting existing virtualbox VM for "minikube" ...
E0703 11:09:18.045350   10228 start.go:559] StartHost: start: Unable to start the VM: C:\Program Files\Oracle\VirtualBox\VBoxManage.exe startvm minikube --type headless failed:
VBoxManage.exe: error: Call

[2019-07-03 09:27] apupier opened #4673 "Improve Error message when Kubernetes version asked is too old"
While investigating n issue I encountered, i discovered that i (mistakenly) mistyped a Kubernetes version and it was causing trouble which was not so easy to understand. It would be nice to improve the error message.

The issue encountered was https://github.com/kubernetes/minikube/issues/4670

@tstromberg is suggesting to add a line here to print a warning if the user requests a version (`nv`) le

[2019-07-03 10:34] tstromberg commented on #3558
If anyone feels interest in fixing this issue, my recommendation would be to check if the current user id is 0 and simply display the URL here:

https://github.com/kubernetes/minikube/blob/68c546ff1da97190ec7d6bbe05b39da33de110f2/cmd/minikube/cmd/dashboard.go#L130

https://golang.org/pkg/os/user should help.

[2019-07-03 15:56] snip300r commented on #4051
Did we find any solution for this problem?

[2019-07-03 16:25] josedonizetti commented on #4598
@medyagh A problem we have by implementing `minikube status` to list everything is that `minikube status -p minikube` would also list everything because the `-p` flag is a global flag set at the root level.

https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/root.go#L129

The `-p` value is always `minikube` if you pass it or not. We can't do a simple comparison to check if the `-p

[2019-07-03 16:35] kfox1111 commented on #4072
Still seeing this with minikube 1.2.0.
Reproducer:
minikube start --feature-gates CSIInlineVolume=true
kubectl apply -f https://raw.githubusercontent.com/kubernetes-csi/csi-driver-image-populator/master/deploy/image/csi-image-csidriverinfo.yaml
kubectl apply -f https://raw.githubusercontent.com/kubernetes-csi/csi-driver-image-populator/master/deploy/image/csi-image-daemonset.yaml

kubectl get pods

[2019-07-03 17:51] hutchic commented on #4664
I believe you're correct. I'm not sure what's changed but for whenever I do `minikube delete` it nukes all my running docker containers (looks like it's restarting the docker daemon)

[code]

[code]

[code]

journalctl immediately after doing `minikube delete`
[code]

[2019-07-03 17:56] hutchic commented on #4664
this doesn't happen if I run `minikube delete` without `sudo`

I'm comfortable with that as a solution although it still feels like something changed :thinking:

[2019-07-03 18:01] medyagh commented on #4598
You pointed out it correctly, yes similar to this

https://github.com/kubernetes/minikube/issues/4668

It's better than to have a --all flag.
And I would say when showing status we could change the message to make it clear it's showing status for the default profile and they might be looking for another profile.

I believe the pre-work for both these issues is to have a method that lists all valid

[2019-07-03 18:27] medyagh commented on #4672
Thank you for taking the time to create this issue, I am curious your virtualbox version is 6 ? could you please try with virtualbox 5.2 ? https://www.virtualbox.org/wiki/Download_Old_Builds_5_2 and see if the problem still exists?

[2019-07-03 18:51] medyagh commented on #4673
Thank you for creating this issue, you pointed out correctly, we should not allow invalid kubernetes versions to too old and fail fast without crashing !

I will make sure there will be a PR to handle this, either myself or if you are interested to make a PR, I would be more than happy to review it.

thank you again for helping the user experience on minikube :)

[2019-07-03 19:07] medyagh commented on #4671
Thank you for taking the time to create this issue, do you mind upgrading your minikube to the latest version ?

could you try with --vm-driver instead of -vm-driver ?

[2019-07-03 19:18] medyagh commented on #4673
here is a link for supported by kubeadm versions https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/

[2019-07-03 20:21] dpandhi-git commented on #2916
I hope its not late and its what you are looking for
Was able to get to etcd with etcdctl on macOS Mojave 10.14.4

$  etcdctl --version
etcdctl version: 3.3.13
API version: 2

minikube version
minikube version: v1.1.0

etcdctl --ca-file=ca.crt --key-file=server.key --cert-file=server.crt --endpoints https://<IP ADDRESS
 from etcd pod >:2379 member list
4c7f7dc22d568a00: name=minikube peerURLs=http

[2019-07-03 20:43] jdbohrman commented on #4519
I am also having this issue

[2019-07-03 20:53] medyagh commented on #4519
could you pleasure provide the output of
`minikube logs`

[2019-07-03 20:57] medyagh commented on #2916
@dpandhi-git thank you for providing this tips ! this could be added under a new doc page, called How to, or tutorials. how to connect to etc. this would useful for other users.

[2019-07-03 21:02] medyagh commented on #4530
we currently do not support running minikube inside windows vm (nested vm). however we have support for ruining minikube inside VM but it currently only supports linux. please checkout this doc

https://github.com/kubernetes/minikube/blob/master/docs/vmdriver-none.md

[2019-07-03 21:04] medyagh commented on #4403
I am wondering, have you checked if your pods are healthy ?
what is the output of ?
`kubectl get pods --all-namespaces`

[2019-07-03 21:21] scorbin commented on #4353
I have the same problem.
Tried @tstromberg solution but still not working

[2019-07-04 02:09] palnabarun commented on #4664
@afbjorklund I think this commit https://github.com/kubernetes/minikube/commit/ec135dc4dabfa6ef88cce51ec25cc80ba4123587#diff-3de31142ccf24256d20634e11699a0d4 reverted back some of the changes that were committed in https://github.com/kubernetes/minikube/commit/df5bbc3c8ae54745ba804eeeb2792ec7e70fe516 .

I added those back locally and tested the functionality. The `minikube` that I built with those

[2019-07-04 04:49] pawanyoda commented on #4519
I have run this command it works for me.
kubectl create clusterrolebinding add-on-cluster-admin --clusterrole=cluster-admin --serviceaccount=kube-system:default

[2019-07-04 04:52] ahopkins commented on #4353
agreed. this shouldn't be closed.

[2019-07-04 05:52] kubesure opened #4679 "kvm2: Minikube v1.2.0 startup error"
Error while starting Minikube,

Minikube v1.2.0
[code]
------------------------------------------------------------------------------------------------

minikube logs
------------------------------------------------------------------------------------------------
[code]

[2019-07-04 05:58] medyagh opened #4680 "profile's kube-context should have a "minikube-" prefix"
I have been thinking, if we should make minikube kube contexts have a minikube- prefix to them, so the user knows it was created by minikube ?

let say if I create a minikube profile named dev, or test,
I might have a GKE cluster or another cluster named test or dev, I wouldn't be sure which kube context belongs to minikube. and would be harder to clean up !

I would love to know others opinions o

[2019-07-04 06:04] medyagh commented on #4679
could you please confirm you have the latest minikuber's kvm2 driver?

[code]

[2019-07-04 06:06] medyagh commented on #4679
in your logs I see
``` Creating kvm2 VM (CPUs=4, Memory=12MB, Disk=20000MB) ```

12 MB memory is too low, the minimum is 2000 MB, could you please start minikube with at 2GB ram ?
we have a PR merged that will be in the next release, that will prevent users starting minikube in with very low ram

[2019-07-04 06:12] kubesure commented on #4679
minikube start --memory=12384 --cpus=4 --kubernetes-version=v1.14.2
* minikube v1.2.0 on linux (amd64)
* Creating kvm2 VM (CPUs=4, Memory=12384MB, Disk=20000MB) ...
E0704 11:40:12.020975    5312 start.go:559] StartHost: new host: dial tcp: missing address

X Unable to start VM: new host: dial tcp: missing address

have the latest version installed. same error.
curl -LO https://storage.googleapis.c

[2019-07-04 09:26] kubesure commented on #4679
work without a VM.

minikube start --vm-driver none

[2019-07-04 09:48] HattabbI4 commented on #4350
It's not solved this problem...

[2019-07-04 12:15] serhatcetinkaya commented on #4673
Hi @medyagh, I'd like to work on this issue if that's ok for everyone.

[2019-07-04 13:33] josedonizetti commented on #4679
@kubesure Could you provide the output of some other commands? pls

[code]

[2019-07-04 13:38] josedonizetti commented on #4680
Definitely useful! I see the same problem in other parts as well, for example, KVM domains when listed have the profile name, if you have other domains you don't easily know which are from minikube and which aren't.

[2019-07-04 16:10] afbjorklund commented on #4679
Sadly, this error: `new host: dial tcp: missing address`

Normally means that kvm2 is unable to find libvirt symbols.

See #4295

[2019-07-04 16:15] afbjorklund commented on #4664
@palnabarun : yeah, that was unfortunate - we need the extra filter if we run docker (rather than crictl)

[2019-07-04 18:08] idcmp commented on #3048
Reminder that this issue is _closed_, so if it's relevant, then please re-open it and pin it away from fetja-bot.

That said, it's been nearly a year and people are now generally discouraged from using `minikube mount` since it has basic functionality issues (some examples above, many other examples in other auto-closed fetja-bot issues), so accepting patches just removing `mount` seems like a rea

[2019-07-04 20:52] josedonizetti opened #4684 "discussion: `minikube kubectl`"
The command `minikube kubectl` has a lot of problems. Any flag that you pass to it won't work because `corba` will try to parse it, eg:

[code]

Or if you run `--help` on it, it shows the corba help, not kubectl itself.

Would it make sense to deprecate it? Let users use kubectl, as long as we have the `minikube profile` to allow setting the context, or switching the context it should be okay.

wd

[2019-07-04 21:10] afbjorklund commented on #4684
I wouldn't say _lots_ of problems, you just have to put the `--` in the right place...

[code]

See #4333

But maybe we should go for something like `sudo minikube kubectl --install` ?

I would prefer to install it in e.g. the home directory, but it's not always in $PATH.
So could use something like `/usr/local/bin`, and hope _that_ is in the default path.

I just want the user to avoid having to

[2019-07-04 21:24] afbjorklund commented on #4680
Sounds good to me

[2019-07-04 21:33] josedonizetti commented on #4684
@afbjorklund Thank you so much for clarifying. That makes a lot of sense, definitely, some documentation would fix it.

[2019-07-04 22:42] medyagh commented on #4680
good ! I will add this to the backlog ! I would be happy to review the PR for it

[2019-07-04 23:46] vaibhavk commented on #4313
@medyagh Yes, I'm back on it

[2019-07-04 23:58] technomage commented on #4509
In add/remove feature it is a separate check box not under Hyper-V

[2019-07-05 01:25] frbimo commented on #4010
@mariocoloma
1. Yes.
2. As i remember, i didn't.

[2019-07-05 03:52] kairen commented on #4680
@medyagh SGTM! I would like to work on this.

[2019-07-05 04:19] kubesure commented on #4679
virsh net-list --all
 Name                 State      Autostart     Persistent
----------------------------------------------------------
 default              active     yes           yes

virsh list --all
 Id    Name                           State
----------------------------------------------------

sudo minikube start --kubernetes-version=v1.14.2 -v7
* minikube v1.2.0 on linux (amd64)
* Tip:

[2019-07-05 05:25] medyagh commented on #4673
sounds good @serhatcetinkaya I will assign you.

[2019-07-05 05:26] medyagh commented on #4673
what I would like to see is it shoud exit with error with SUPER old kubernetes versions, and it should warn you with anything which is less than our supported versions.

for example currently kubernetes 1.9 still works with minkube even though it is not supported, but 1.2 does NOT work since it is super old.

[2019-07-05 05:45] kubesure commented on #4679
Tried kvm2 driver with k8s v1.14.2

[code]

[2019-07-05 06:13] medyagh commented on #4679
please dont run kvm with sudo

[2019-07-05 07:06] medyagh commented on #4680
awesome ! it is yours. please feel free to ask me questions if needed help.

[2019-07-05 08:04] sidh0073 commented on #4085
I'm facing issue
Details: 00:00:02.639508 Power up failed (vrc=VERR_VMX_MSR_ALL_VMX_DISABLED, rc=E_FAIL (0X80004005))

X Unable to start VM: start: Unable to start the VM: C:\Program Files\Oracle\VirtualBox\VBoxManage.exe startvm minikube --type headless failed:
VBoxManage.exe: error: Not in a hypervisor partition (HVP=0) (VERR_NEM_NOT_AVAILABLE).
VBoxManage.exe: error: VT-x is disabled in the BIO

[2019-07-05 08:41] boskiv opened #4690 "Question: no node-provided-ip annotation on node"
Regarding to
https://github.com/kubernetes/minikube/issues/544
and
https://github.com/joonix/k8s-externalip/blob/master/main.go

I'm expecting to find the minikube external IP address in node annotation.
`.kubernetes.io/provided-node-ip`

Is it a bug? or there is an option how to get it there?

**The exact command to reproduce the issue**:

`kubectl describe node`

**The full output of the command

[2019-07-05 12:51] josedonizetti commented on #4680
@kairen are you doing the KVM change too? if not I'll handle it.

[2019-07-05 14:42] kshmaniram opened #4693 "hyperv: cannot use "fe80::215:5dff:fe2b:530f" as the bind address for the API Server"
* Configuring environment for Kubernetes v1.14.3 on Docker 18.09.6
* Pulling images ...
* Unable to pull images, which may be OK: running cmd: sudo kubeadm config images pull --config /var/lib/kubeadm.yaml: command failed: sudo kubeadm config images pull --config /var/lib/kubeadm.yaml
stdout:
stderr: failed to pull image "k8s.gcr.io/kube-apiserver:v1.14.3": output: Error response from daemon: Get

[2019-07-06 07:32] celian-garcia opened #4694 "virtualbox: Could not find a registered machine named 'minikube'"
Hello ! and thanks for the work ;)

**The exact command to reproduce the issue**:
Each of these commands are run on windows 10 with powershell as administrator.
[code]

**The full output of the command that failed**:
<details><summary><code>Output</code></summary><br><pre>
minikube start -v=10
o   minikube v0.35.0 on windows (amd64)
i   Tip: Use 'minikube start -p <name>' to create a new cluster,

[2019-07-06 07:34] celian-garcia commented on #4694
I found a workaround which is as simple as making this command before minikube start
[code]
But the issue is here anyway

[2019-07-06 07:50] afbjorklund commented on #4684
Thanks for the suggestion, in the current form it wouldn't fly very well with our documentation.

[code]
Then again, maybe it needs some improvements anyway.

[code]

But we should write `minikube kubectl --` everywhere.

[2019-07-06 09:10] ajit555db commented on #3647
minikube tunnel &> /dev/null &

[2019-07-06 10:46] afbjorklund commented on #4679
This means that it is due to #4555. As a workaround, please use [docker-machine-driver-kvm2](https://github.com/kubernetes/minikube/releases/download/v1.0.0/docker-machine-driver-kvm2) 1.0.0

[2019-07-06 11:12] afbjorklund commented on #4555
This issue affects **all** versions after v0.30.0:

[code]

We thought we fixed this in PR #3701 (v1.0.0)

But due to this bug, docker build is never used...

[2019-07-06 11:17] afbjorklund commented on #3437
Unfortunately there were race conditions in make, that cause this to **not** be fixed in 1.0.0. See #4555

[2019-07-06 11:18] afbjorklund commented on #4416
This is due to #4555

[2019-07-06 11:22] Faisal16292 opened #4696 "Unsupported driver: none (on Linux!)"

[2019-07-06 11:24] afbjorklund commented on #3169
I renamed https://github.com/machine-drivers/docker-machine-driver-libvirt, since it was misleading.
The repository **never** became more than a fork of https://github.com/dhiltgen/docker-machine-kvm ...

We could still move the "kvm2" driver to machine-drivers organization, if it works with docker-machine ?
But I'm not sure anyone has tried it with boot2docker.iso/anything other than minikube.iso

[2019-07-06 11:34] afbjorklund commented on #4505
This does indeed look like a libvirt issue: https://bugzilla.redhat.com/show_bug.cgi?id=524880

`error : internal error cannot create bridge 'virbr0' : Package not installed`

The new version says:

`error: Unable to create bridge virbr0: Function not implemented`

----

So it seems like there is something wrong with this Manjaro setup, like missing bridge support ?

As in: the actual problem is w

[2019-07-06 11:43] afbjorklund commented on #4416
As a workaround, please use an older `docker-machine-driver-kvm2` (0.30.0)

https://github.com/kubernetes/minikube/releases/download/v0.30.0/docker-machine-driver-kvm2

[2019-07-06 11:43] #4416 closed

[2019-07-06 11:44] afbjorklund commented on #4555
Until this is fixed, please use:

https://github.com/kubernetes/minikube/releases/download/v0.30.0/docker-machine-driver-kvm2

[2019-07-06 11:49] afbjorklund commented on #4295
This is due to #4555. As a workaround, please use an older docker-machine-driver-kvm2 (0.30.0)

https://github.com/kubernetes/minikube/releases/download/v0.30.0/docker-machine-driver-kvm2

[2019-07-06 11:51] #4295 closed

[2019-07-06 11:52] #4679 closed

[2019-07-06 11:58] afbjorklund commented on #4288
I don't think we want to support this in minikube, sorry. Other setups might be able to make it work.
So I think we will go with `qemu:///system` as the supported option, and recommend "getting root".

For multi-user systems there are other alternatives, than trying to run Kubernetes in user-mode.
For instance you could have a shared Kubernetes cluster, or use cloud-provided virtual machines.

[2019-07-06 11:58] #4288 closed

[2019-07-06 12:04] afbjorklund commented on #3467
I suppose adding the user to the root-equivalent `libvirt` group would also "fix" the problem ?

https://wiki.archlinux.org/index.php/Libvirt

[2019-07-06 12:10] afbjorklund commented on #2982
Most likely we will need to set up our own apt repository for this to work...

Similar to what is available for kubeadm (but **not** for `bionic`, just yet?)

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

[code]

We also need to fix minikube build so that it actually builds it for `xenial`.

Currently there is a bug (

[2019-07-06 12:33] afbjorklund opened #4697 "Add command for installing kubectl program"
Currently we either run `kubectl` for the user, or ask them to find the download themselves.

Since we already have a versioning and caching mechanism, we could also do it for them ?

So the `minikube kubectl` could grow two new options, one `--install` and one `--prefix`.

Where the prefix would default to `/usr/local` (needs sudo), but you _could_ use e.g. `$HOME`

[code]

[code]

Note that for

[2019-07-06 13:04] josedonizetti commented on #4697
Wonder if instead, we should support a `minikube install`? I really like the idea of removing the complexity of installation, but why stop at `kubectl`?
There are other dependencies we could also install. Like `docker-driver-machine-kvm2` or `docker-driver-machine-hyperkit`, maybe support a `--upgrade` flag.

[2019-07-06 13:11] afbjorklund commented on #3718
Normally this is because `/usr` is handled by the package manager, while `/usr/local` is not.

Note that for the current release, we could run them right off the cache (now made executable)
This was originall intended for `kubectl`, but ended up the same for `kubeadm` and `kubelet` too:

[code]

It's not in the PATH though, so there are some changes needed to the created startup scripts.

[2019-07-06 13:28] afbjorklund commented on #4697
Mostly because we install those other components on the VM ? And I don't want to install `docker`.

The drivers are a special case, wonder if we shouldn't just bundle them (like the virtualbox one) ?
But yeah, downloading those are needed - but probably automatically, rather than a command.

We should use the same functions underneath, but not sure if we need a `minikube install` cmd.

----

Note

[2019-07-06 13:52] josedonizetti commented on #4697
That's true, it wouldn't make sense to install docker or podman. And an `install` sounds too generic, better to stick with improving kubectl,  I like both new flags ideas `--install` and `--prefix`.

[2019-07-06 14:49] kairen commented on #4680
@josedonizetti Yes, I will also deal with it. Additionally, I think other VM drivers also need to add this change if that driver has the same problem.

[2019-07-06 19:49] afbjorklund commented on #4697
Typical usage:

[code]

or alternatively:

[code]

The main plan for the machine drivers is to provide them as packages and improve documentation.
I think that ultimately we want to improve packaging for minikube, so it matches the other platforms ?

https://github.com/kubernetes/minikube#installation

* `brew cask install minikube`

* `choco install minikube`

* `sudo apt install minikube` or
`su

[2019-07-06 20:00] afbjorklund opened #4699 "Provide tarballs for releases"
In addition to the currently existing binaries, we should provide tarballs for smaller downloads.

Doesn't have to be anything fancy, just add .tar.gz with the same files. Kubernetes does this.

[2019-07-06 20:23] medyagh commented on #4699
Do you mean tarball for the source code ?

[2019-07-06 20:34] afbjorklund commented on #4699
We already have a `cross-tars` target to do this, and it is one tarball per platform.

We could have just one checksum file though (SHA512?), and one entry per line.

[2019-07-06 20:40] afbjorklund commented on #4699
There's some _bugs_ with the current targets, though. It "forgets" to gzip the files, and includes kvm2 driver.

So I think we want to have a solution for the drivers first. And I have no idea why we include the add-ons ?

[2019-07-07 01:41] Krishna-Guru opened #4700 "minikube service url connection refused"
Started minikube in ubuntu vm by using  sudo minikube start --vm-driver=none
Deployed image saved in dockerhub, when i hit the minkube service url for the image nginx:alpine , it works. But when I tried to hit the url for image krishnaguru/docker-spring-boot:firsttry that i deployed, it says connection refused.

[2019-07-07 03:24] #4700 closed

[2019-07-07 07:26] hassanmujtaba22 opened #4701 "minikube crashed"
😿  Sorry that minikube crashed. If this was unexpected, we would love to hear from you

- [ ]

[2019-07-07 07:45] afbjorklund opened #4702 "Default issue template missing, after locales were added"
It seems that the link that we use in the code is now _blank_:

https://github.com/kubernetes/minikube/issues/new

Only the one linked in "New issue" has the actual template:

https://github.com/kubernetes/minikube/issues/new?template=__en-US.md

This could help explain the amount of empty issues opened recently ?

``

The same goes if you use an unimplemented locale, like e.g. sv-SE

[2019-07-07 08:09] afbjorklund opened #4704 "Upgrade container runtime versions"
Umbrella issue, for all the container runtimes:

* Docker 18.09.7 (#4657)
  containerd v1.2.6 (#4657)

* Podman 1.4.4 (#4610)
  cri-o 1.15.0 (#4703)

Since they share `runc`, want to do this at once ?

* runc v1.0.0-rc8 (#4657)

[2019-07-07 12:57] afbjorklund commented on #4670
Oops, wrong issue (4610 became 4670). Please ignore.

[2019-07-07 14:17] farjanali opened #4705 "(no information provided)"

[2019-07-07 14:45] kioyong opened #4706 ".minikube path"

[2019-07-07 14:45] #4706 closed

[2019-07-07 16:46] thebjorn commented on #2914
I have the same versions and issues as @Valgard above, in addition.. I was following the first tutorial (https://kubernetes.io/docs/tutorials/hello-minikube/) and I could enable the heapster addon, but minikube crashed when trying to disable it:

[code]

[2019-07-07 18:50] afbjorklund commented on #3842
It's done

[2019-07-07 18:50] #3842 closed

[2019-07-07 20:47] virenhada opened #4707 "Error starting kubernetes cluster using minikube on windows"
* minikube v1.2.0 on windows (amd64)
* Creating hyperv VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
* Configuring environment for Kubernetes v1.15.0 on Docker 18.09.6
* Downloading kubelet v1.15.0
* Downloading kubeadm v1.15.0
* Pulling images ...
* Launching Kubernetes ...

X Error starting cluster: cmd failed: sudo /usr/bin/kubeadm init --config /var/lib/kubeadm.yaml  --ignore-preflight-errors=D

[2019-07-08 00:49] AdilAkhtarZia opened #4708 "Minikube"
adilakhter@adilakhter-HP-EliteBook-8470p:~$ minikube start
😄  minikube v1.2.0 on linux (amd64)
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🔄  Restarting existing virtualbox VM for "minikube" ...
E0708 05:47:19.440506    3656 start.go:559] StartHost: start: Unable to start the VM: /usr/bin/VBoxManage startvm minikube --type headless faile

[2019-07-08 02:15] linkavich14 commented on #3649
What was the solution ?

[2019-07-08 06:41] aidagha opened #4709 "Minikube VM clock is out of synch after hibernating a Mac computer and resuming again."
**kubectl describe pods your-pod-name**:

<details>
Events: <br />
  Type       Reason        Age      From                          Message <br />
  ----         ------          ----      ----                            ------- <br />
  Normal    Created      4d       kubelet, minikube      Created container x <br />
</details>

**macOS Mojave**

I used hyperkit VM for minikube.

[2019-07-08 07:16] #4618 closed

[2019-07-08 07:46] rajeshsoro commented on #4224
Hi Team ,
i am trying to run the commad on my test server its failed with following errors.
server is running with o.s
[root@MAV-UDSF-1 etc]# cat /etc/redhat-release
CentOS Linux release 7.6.1810 (Core)

[root@MAV-UDSF-1 ~]# kubeadm init --pod-network-cidr=10.244.0.0/16
[init] Using Kubernetes version: v1.15.0
[preflight] Running pre-flight checks
        [WARNING HTTPProxy]: Connection to "https:

[2019-07-08 08:38] zonghaishang opened #4710 "Error starting kubernetes cluster using minikube on Mac"
➜  ~ minikube start
😄  minikube v1.2.0 on darwin (amd64)

⚠️  Ignoring --vm-driver=hyperkit, as the existing "minikube" VM was created using the none driver.
⚠️  To switch drivers, you may create a new VM using `minikube start -p <name> --vm-driver=hyperkit`
⚠️  Alternatively, you may delete the existing VM using `minikube delete -p minikube`

🔄  Restarting existing none VM for "minikube" ...
⌛  W

[2019-07-08 11:47] ghostman8877 opened #4711 "virtualbox 6.0.8: The vboxdrv kernel module is not loaded"
Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0708 18:43:14.899457    9017 start.go:559] StartHost: create: precreate: We support Virtualbox starting with version 5. Your VirtualBox install is "WARNING: The vboxdrv kernel module is not loaded. Either there is no module\n         available for the current kernel (4.18.0-25-generic) or it failed to\n         load. Please recompil

[2019-07-08 13:12] brianmacy commented on #4634
I am experiencing the same behavior.   Any estimate on when the issue will be reviewed?

[2019-07-08 14:03] samueletonon opened #4712 "wrong issue. please delete it"
sorry wrong issue and i am unable to delete it

[2019-07-08 14:06] #4712 closed

[2019-07-08 15:18] afbjorklund commented on #4710
The none driver doesn't work on Mac, you will have to delete the VM and start over

Same as #4498

[2019-07-08 16:06] leonbr0wn opened #4714 "minikube crashed virtualbox after update"
I grabbed v1.2 to upgrade 0.34. As it was "upgrading" I got guru meditation state and loss of access to the VM (and the  virtualbox GUI).

I searched for removing minikube and decided to delete the contents of ~/.minikube. I wish I hadn't; now VirtualBox is as broken as minikube for me.

[2019-07-08 16:06] #4714 closed

[2019-07-08 16:24] afbjorklund commented on #4714
Sometimes VirtualBox goes into a strange state, and decides to corrupt .config/VirtualBox/VirtualBox.xml
Fortunately it usually saves a copy as "VirtualBox.xml-prev", that can be used to restore some of it...

Anyway, deleting `~/.minikube` shouldn't affect VirtualBox except for making some VMs inaccessible perhaps (the ones that were residing in that folder). But the "guru meditation state" sound

[2019-07-08 17:06] medyagh commented on #4710
We are working on adding support for vm free minikube on all platforms, please stay tuned !
https://github.com/kubernetes/minikube/issues/4389

[2019-07-08 17:09] afbjorklund commented on #4710
It will be VM free on Linux at least, but on Mac and Win it will instead use Docker's VM.

[2019-07-08 17:23] medyagh commented on #4498
we are working on adding support for vm free minikube on all platfroms, please stay tuned
https://github.com/kubernetes/minikube/issues/4389

[2019-07-08 18:10] 0rtem commented on #4587
hi, try next article https://www.windows-commandline.com/run-command-windows-features-turn-on-off/

[2019-07-08 21:02] afbjorklund commented on #4704
Currently docker is setting the versions of containerd and runc, even though we build those separately.

[2019-07-08 21:15] afbjorklund opened #4716 "Make minikube (and kvm2) installable with "yum""
When we do the apt indexing of the .deb packages*,
we might as well do the yum indexing of the .rpm.

* See #3110

This should include both minikube and the kvm2 driver...
That is, the new docker-machine-driver-kvm2 package*.

* See #2982

----

Basically, provide something similar to what kubectl has:

https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-using-native-package-management

[2019-07-09 00:51] Jerry-lrj opened #4718 "minikube start failed downloading ISO on Linux(centos7)"
X Failed to cache ISO
* Error:         [ISO_DOWNLOAD_FAILED] https://storage.googleapis.com/minikube/iso/minikube-v1.2.0.iso: failed to download: failed to download to temp file: download failed: 5 error(s) occurred:

* Temporary download error: Get https://storage.googleapis.com/minikube/iso/minikube-v1.2.0.iso: dial tcp 172.217.160.112:443: connect: connection refused
* Temporary download error:

[2019-07-09 00:51] #4718 closed

[2019-07-09 02:38] zonghaishang commented on #4710
I have tried `minikube delete -p minikube` & `minikube delete`， It still reports the same error.

@afbjorklund

what should I do ？

[2019-07-09 04:22] #4666 closed

[2019-07-09 07:40] panhow commented on #3493
i met this problem on `minikube versioin: v1.2.0`

[2019-07-09 09:36] idvoretskyi commented on #2982
It's a great idea.

[2019-07-09 10:59] josedonizetti commented on #4635
@medyagh any thoughts on this? Is this something we want to make possible?

[2019-07-09 11:12] leonbr0wn commented on #4714
Unrelated indeed. After a full restart (ie crash) Oracle VM VirtualBox Manager was able to finalize any clean up and wipe the slate.

[2019-07-09 11:17] yuanzac commented on #3493
@panhow I just had the same situation as you. Can anyone help to take a look~

[2019-07-09 13:40] josedonizetti commented on #4391
Looking at the libmachine code, and it expects the driver to be in the PATH. We can't pass a custom path
of the driver location.

So the download would have to happen to a folder that is already on the path (`/usr/local/bin`?) but for this, we need `sudo` access, and I would prefer users not doing `sudo minikube start --vm-driver=kvm2` only to have the driver downloaded.

My idea here would be to

[2019-07-09 13:58] irrgit commented on #3649
Had the same happen to me recently, minikube was running with `vm-driver=none` . It was up for over 28 days without issue, so I am not exactly sure what caused it to come down. Stopping and starting it again fixed the problem but it would be nice to know what to do to prevent it from happening again in the future.

[2019-07-09 15:48] afbjorklund commented on #4710
I was assuming that you wanted to change drivers to hyperkit ?

`minikube start --vm-driver=hyperkit`

If you deleted the old one, there should be no more "none"...

[2019-07-09 16:04] afbjorklund commented on #4391
Personally I think that a "solution" message is fine, especially if you installed minikube from package.

It is possible that long-term we want to build kvm2 **into** minikube, like we do with virtualbox today.

The downside is that it would require everyone to install libvirt, just for the library dependency to work...

But maybe we can `dlopen` it ? As in only load when needed. Check `github.com

[2019-07-09 16:13] afbjorklund commented on #4391
We could cut down on the dependencies, by "only" loading `libvirt.so.0` and `libvirt-qemu.so.0` ?

https://github.com/coreos/pkg/tree/master/dlopen

[2019-07-09 18:22] beachcoder25 commented on #4708
Same issue here:

😄  minikube v1.2.0 on linux (amd64)
🔥  Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0709 11:21:49.579154   19197 start.go:559] StartHost: create: creating: Unable to start the VM: /usr/bin/VBoxManage startvm minikube --type headless failed:
VBoxManage: error: VT-x is disabled in the BIOS for all CPU modes (VERR_VMX_MSR_ALL_VMX_DISABLED)
VBoxManage: error: Det

[2019-07-09 18:51] sgsumit opened #4721 "Oracle VM: how to enable virtualization"
Problem with enabling virtualization in ubuntu machine in oracle Vm

[2019-07-09 20:25] jstaffor opened #4722 "Failed to update cluster: downloading binaries: copying kubeadm: copy: error creating file at /usr/bin/kubeadm: open /usr/bin/kubeadm: permission denied"
[jstaffor@jstaffor kub]$ sudo minikube start --vm-driver=none
😄  minikube v1.2.0 on linux (amd64)
🔥  Creating none VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
🐳  Configuring environment for Kubernetes v1.15.0 on Docker 18.06.0-ce
💾  Downloading kubeadm v1.15.0
💾  Downloading kubelet v1.15.0

💣  Failed to update cluster: downloading binaries: copying kubeadm: copy: error creating file at /usr/bin/

[2019-07-09 20:27] afbjorklund commented on #4722
Same as #3718 ?

Why does root not have write access to /usr/bin ? Sounds a bit odd. Which linux distribution ?

[2019-07-09 20:27] yashbhutwala opened #4723 "feature-gates=Auditing=true: no matches for kind "Policy" in version "audit.k8s.io/v1beta1""
**The exact command to reproduce the issue**:
`minikube start --feature-gates=Auditing=true`

**The output of the `minikube logs` command**:
[code]

**The operating system version**:
[code]

[2019-07-09 20:30] jstaffor commented on #4722
Ok, I've just rerun the command and it was successful in that it has progressed past the point of fail (reported above)  :+1:

Description :
This package contains the NodeSource NodeJS repository
GPG key as well as configuration for yum.
Name        : epel-release
Version     : 7
Release     : 11
Architecture: noarch
Install Date: Tue 21 May 2019 15:18:05 IST
Group       : System Environment/Base

[2019-07-09 20:31] jstaffor commented on #4722
Success: "Done! kubectl is now configured to use "minikube""

[2019-07-09 21:35] #4271 closed

[2019-07-09 22:44] tstromberg commented on #4391
Great question - and great work here.

What do you think about setting the PATH to the version of the driver we have downloaded, just prior to invoking it with machine-driver?

IMHO, there is no need to ask the user about downloading the driver if the installed one is incompatible or unavailable, similarly to how we don't ask the user about the built-in VM drivers or kubeadm. We should be able to

[2019-07-09 22:50] kfox1111 commented on #4072
[code]

[2019-07-09 22:53] kfox1111 commented on #4072
Ah.... I found this: https://github.com/opencontainers/runc/issues/1961
inspecting, it looks like it is the issue:
[code]

[2019-07-09 23:17] kfox1111 commented on #4072
I can confirm it with cri-o too:
[code]

[2019-07-09 23:22] #4684 closed

[2019-07-10 01:02] RA489 commented on #4723
@yashbhutwala I tried this on Linux 16.04 with Kubernetes v1.15.0 on Docker 18.09.7 but it works fine for me.

[2019-07-10 01:03] RA489 commented on #4723
@yashbhutwala I am not able to reproduce your issue can you copy paste the environment you used Os etc ?

[2019-07-10 01:04] RA489 commented on #4723
/assign @RA489

[2019-07-10 01:50] veterancj opened #4725 "Error restarting cluster: wait: waiting for component=kube-apiserver: timed out waiting for the condition"
Error restarting cluster: wait: waiting for component=kube-apiserver: timed out waiting for the condition? rese

[2019-07-10 02:23] qqzeng commented on #2991
Refer: https://www.virtualbox.org/ticket/4032. VirtualBox doesn't support "Nested Virtualization: VT-in-VT".
Try VMware WorkStation Pro. It works in my case.

[2019-07-10 02:43] zonghaishang commented on #4710
I deleted the cache file(`~/.minikube`) and the minikube took effect.

[2019-07-10 02:44] zonghaishang commented on #4710
`step1` : remove cache file `~/.minikube`
`step2`: minikube start -p minikube --vm-driver=hyperkit

[code]

[2019-07-10 02:45] zonghaishang commented on #4710
@afbjorklund thanks.

[2019-07-10 03:39] raystorm opened #4726 "minikube mount fails with status 32 under RHEL 8"
When I try to mount a directory with
[code]

I get the following error message:

I'm running the command as root on under **Red Hat Enterprise Linux 8**,
and minikube is configured to use  the *kvm2* vm-driver.

Additionally, I just upgraded to version **v.1.2.0**

[2019-07-10 05:21] blueelvis opened #4727 "Add automation to generate help documents for CLI commands"
Discussed over here - https://github.com/kubernetes/minikube/pull/4647#issuecomment-507857777

Add automation to generate the documents of all the CLI commands available including the flags.

[2019-07-10 07:35] #4722 closed

[2019-07-10 09:39] maxwang2100 opened #4728 "minikube cant start cluster"
sudo minikube start -p myMinikubeNoneVm --vm-driver=none
😄  minikube v1.2.0 on linux (amd64)
🏃  Re-using the currently running none VM for "myMinikubeNoneVm" ...
⌛  Waiting for SSH access ...
🐳  Configuring environment for Kubernetes v1.15.0 on Docker 18.09.6
    ▪ kubelet.resolv-conf=/run/systemd/resolve/resolv.conf
🔄  Relaunching Kubernetes v1.15.0 using kubeadm ...

💣  Error restarting cluster:

[2019-07-10 12:03] AbdullahBM commented on #4721
Restart your PC, go to BIOS  and then enable Vertualization there.

[2019-07-10 12:07] AbdullahBM commented on #4711
Try start minikube without VM. Write below command (write sudo if necessary):

minikube start --vm-driver=none

For this command, minikube won't require VM instance. Instead it makes your machine as a worker/master node.

[2019-07-10 12:11] AbdullahBM commented on #4708
After reading errors it seems you have not enabled VT-x / vertualization on your machine. So restart you PC, go to the BIOS and enable VT-x / vertualization here. Save it and try start minikube again.

[2019-07-10 15:11] afbjorklund commented on #4721
@AbdullahBM : restarting doesn't really work, when running in a VM.

[2019-07-10 15:13] afbjorklund commented on #4711
@AbdullahBM : note that there are some severe limitations of the none driver
https://github.com/kubernetes/minikube/blob/master/docs/vmdriver-none.md

[2019-07-10 15:16] afbjorklund commented on #4708
@beachcoder25 : please open new issues for different problems, thanks.

You might want to check the VirtualBox documentation, on how to set it up.

[2019-07-10 15:41] afbjorklund commented on #4721
Enabling nested virtualization in VirtualBox ("Oracle" ?) is normally not what you want to do.

If you create a new VM just for minikube, you can run it with the `none` VM driver (and `sudo`)
See https://github.com/kubernetes/minikube/blob/master/docs/vmdriver-none.md

Or you can let minikube create the VM for you ?

[2019-07-10 15:47] afbjorklund commented on #4726
Usually network related. Can you try without the firewalld ?

[2019-07-10 15:50] afbjorklund commented on #4313
If we bind everything to localhost on the VM, how will you access it from the developer machine ?

[2019-07-10 15:52] afbjorklund commented on #4391
Loading libvirt "on demand" looks like it will be horrible to implement. So it will probably stay external.

[2019-07-10 16:06] afbjorklund opened #4730 "Better documentation needed for virtual desktop"
More and more users are trying to run minikube on a virtual desktop (VM).
Typically this **fails**, because nested virtualization is not enabled for them...

[code]

We should inform about this situation, and maybe even try to detect it too ?
Then we can come up with a better solution suggestion than "reboot your PC"

[2019-07-10 16:14] afbjorklund commented on #4730
Normally the best solution is to create a new VM, that is: a sibling, rather than a child
For this new VM (dedicated to minikube), it is then possible to use the `none` driver.

The remaining part to do is configuring the desktop VM to talk to the minikube VM.
Like figuring out the IP (as in: not 127.0.0.1) and setting up the kubeconfig/context

[2019-07-10 16:17] yashbhutwala commented on #4723
@RA489

[code]

[2019-07-10 16:31] afbjorklund commented on #4730
As long as we require systemd on the host, we can use `systemd-detect-virt`
https://www.freedesktop.org/software/systemd/man/systemd-detect-virt.html

It returns "none" on a real machine, and something like "oracle" on VirtualBox.
This is of course only relevant on Linux, and only if the program can be found.

[2019-07-10 16:44] afbjorklund commented on #4730
Maybe we should add support for the "generic" driver as well ?
But that kinda implies we have to provision docker and friends

* the "[none](https://github.com/docker/machine/blob/master/drivers/none/driver.go)" machine driver runs everything on localhost
* the "[generic](https://github.com/docker/machine/blob/master/drivers/generic/generic.go)" machine driver uses SSH on a provided IP

[2019-07-10 17:17] baynezy opened #4731 "Minikube VM deleted via Hyper-V Manager now cannot create or delete minikube"
I was having trouble with `minikube stop` and, it turns out foolishly, I thought that I could just start again with the whole thing by deleting the VM in Hyper-V Manager. However, now no `minikube` commands work. It may be related to #4459

**The exact command to reproduce the issue**:
`minikube start --vm-driver hyperv --hyperv-virtual-switch "Primary Virtual Switch"`

**The full output of the co

[2019-07-10 17:51] raystorm commented on #4726
@afbjorklund,

This is my current Firewall config for libvirt the zone minikube should be using.

Is there something I need to change?  I'd rather not completely disable the firewall unless I absolutely have to, as my server is internet facing.

[2019-07-10 17:53] medyagh commented on #4730
I know that @josedonizetti is working on a remote qemu with KVM !, maybe we could it be called  "Remote" driver ?

[2019-07-10 17:56] medyagh commented on #4730
it would be great to find out if they are running inside nested VM and add it to theoutput, so at least when they come for help, we know they are coming from nested VM, maybe we can detect it by something like this ? https://unix.stackexchange.com/questions/3685/find-out-if-the-os-is-running-in-a-virtual-environment

[2019-07-10 19:31] afbjorklund commented on #4730
I'm not sure remote qemu+tcp sessions are a good idea (without encryption), and Linux-only as well ?
So maybe ~#4069~ wasn't a good idea, and #4635 seems to be struggling due to some XML syntax.

Will open a separate issue for supporting the "generic" driver, since that only requires a VM with ssh.
Then libmachine will provision docker on it (for multiple distros) and the bootstrapper will do the

[2019-07-10 19:35] afbjorklund commented on #4726
Might be tricky, I think 9p uses random ports. Just wondered if it was the one blocking the traffic...

Compare #2300

[2019-07-10 19:50] marekschwarz commented on #4668
I would like to take a look at this

[2019-07-10 19:59] afbjorklund opened #4733 "Support the "generic" driver, for user provided VMs"
Some users don't want to use minikube to set up their virtual machine,
but prefer to provide their own pre-installed VM (with a standard distro).

We should support this scenario, and offer to install Kubernetes on it...
This way they can still get started locally, and also with a physical server.

These parameters are required: (defaults)
* IP Address
* SSH User (root)
* SSH Key
* SSH Port (22)

[2019-07-10 20:02] afbjorklund commented on #4730
Added #4733 for "generic"

[2019-07-10 20:31] raystorm commented on #4726
I took at look at the issue you linked.  The final comment was really helpful.

adding
[code]

Didn't work

but adding
[code]
**DID Work**

**NOTE:** for reference I did do a `firewall-cmd --reload` after each rule command *before* testing `minikibe mount` to see if it worked.

[2019-07-10 23:06] priyawadhwa opened #4735 "MinikubeRunner Copy function doesn't work and is unused"
I was trying to use the MinikubeRunner [Copy](https://github.com/kubernetes/minikube/blob/master/test/integration/util/util.go#L68) function in an integration test, and nothing is copied over (because the `cat` command doesn't run anything!)

[code]

It also doesn't seem like this function is used anywhere, so maybe removing it would be the best solution?

[2019-07-10 23:06] josedonizetti commented on #4668
@marekschwarz Cool! You might want to take a look on @medyagh  comment here: https://github.com/kubernetes/minikube/issues/4598#issuecomment-508197175

[2019-07-11 00:02] RA489 commented on #4723
@yashbhutwala Thanks! for detailed information.

[2019-07-11 01:49] fenglixa commented on #4546
This issue could be reproduced easily with the steps as logged. But I am afraid this can't be fixed by minikube code.  After VM restart, the sandbox ID was changed also.

[2019-07-11 02:02] zonghaishang commented on #4710
close it now.

[2019-07-11 02:02] #4710 closed

[2019-07-11 03:54] hero-zhanghao opened #4736 "start 时一直卡住在创建虚拟机上"
**重现问题所需的命令**：
使用 minikube start --registry-mirror=https://registry.docker-cn.com 命令启动minikube
**失败的命令的完整输出**：<details>
 * minikube v1.2.0 on windows (amd64) * using image repository registry.cn-hangzhou.aliyuncs.com/google_containers * Downloading Minikube ISO ... 129.33 MB / 129.33 MB [============================================] 100.00% 0s * Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=

[2019-07-11 03:54] hero-zhanghao commented on #4736
再次试图启动，出现以下信息：

* minikube v1.2.0 on windows (amd64)
* using image repository registry.cn-hangzhou.aliyuncs.com/google_containers
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Re-using the currently running virtualbox VM for "minikube" ...
* Waiting for SSH access ...

看起来虚拟机完全没有启动成功，是我做错了什么么

[2019-07-11 03:55] hero-zhanghao commented on #4736
![image](https://user-images.githubusercontent.com/16066564/61021137-c4b27480-a3d2-11e9-954c-78223669168c.png)

这是虚拟机上的显示情况
谢谢任何的解答

[2019-07-11 06:54] hero-zhanghao commented on #4736
是因为我之前安装了 WSL2 导致的，将 WSL2 部分去除，镜像成功运行

[2019-07-11 06:54] #4736 closed

[2019-07-11 09:06] alok555 commented on #4509
Had the same problem; disabling containers solved the problem. @technomage thanks for the solution.

[2019-07-11 09:54] marekschwarz commented on #4668
Maybe we should develop a dedicated profiles „api“, to keep all the logic for profile-related stuff (like create, delete, getStatus, ...) in one place.

[2019-07-11 14:14] NotYourOracle commented on #4731
I created an empty VM called minikube with no hard drive, reran 'minikube.exe delete' and it deleted. It wants to delete an object called minikube, it doesn't care if its the original one.

[2019-07-11 16:23] afbjorklund commented on #4733
The main use case is when the user's development machine is unable to run the virtual machines...
Either because it is already virtualized (without nested capability), or because it is out of resources.

As described in #4730, one alternative is to run the "none" driver manually on the remote server.
But that leaves the user with having to set up the ssh keys and set up the kubectl configuration.

[2019-07-11 16:44] afbjorklund commented on #4733
I'm using Vagrant for testing the concept, but will do an example using `cloud-init` as well.

`vagrant ssh-config` (normally this will generate a key, later on)

[code]

https://cloudinit.readthedocs.io/en/latest/topics/availability.html

[code]

[2019-07-11 17:07] afbjorklund commented on #4730
For the scenario in the beginning, here is the output:

[code]

Compared to the "normal" output from the laptop:

[code]

Note the difference between "Virtualization" (host) and "Virtualization type" (guest)

Also I needed to set the locale, since the `lscpu` command is helpfully localized...

[2019-07-11 17:14] Faisal16292 commented on #4696
F0711 22:12:31.947378    9111 cluster.go:391] Unsupported driver: none

[2019-07-11 17:38] afbjorklund commented on #4696
The "none" driver is only supported on Linux, what is your platform ?

[2019-07-11 17:40] Faisal16292 commented on #4696
ubuntu linux

[2019-07-11 17:43] afbjorklund commented on #4696
That is strange, can you post the full output of the command you used ?

Normally it is something like: `sudo minikube start --vm-driver=none`

[2019-07-11 17:45] Faisal16292 commented on #4696
sudo minikube start --vm-driver=none using this command shows error which i mentioned

[2019-07-11 17:52] josedonizetti commented on #4555
hey, I'm still trying to understand how the release process works, and I have a question about the kvm release.

The way I understood, is that the release happens in Jenkins. It calls the script https://github.com/kubernetes/minikube/blob/master/hack/jenkins/release_build_and_upload.sh, which builds everything with `make -j 16 all...`, by all here I'm considering it builds minikube and the drivers

[2019-07-11 18:17] #4541 closed

[2019-07-11 19:54] baynezy commented on #4731
@NotYourOracle - you clearly are my oracle. That worked perfectly thanks.

[2019-07-11 19:54] #4731 closed

[2019-07-11 20:28] conterio commented on #3735
Any update to a permanent solution?

[2019-07-12 01:27] javazos commented on #4671
nn

[2019-07-12 01:41] javazos commented on #4671
I got the same problems when trying to start the minikube  in Oracle virtual box in linux, but after run delete, then run start with --vm-driver=no , it is working.

xxxx@ThinkPadT470s:~$ sudo minikube start --vm-driver=none
😄  minikube v1.2.0 on linux (amd64)
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🔄  Restarting existing none VM for

[2019-07-12 05:05] fenglixa commented on #4723
@yashbhutwala  could you append the content of file "/etc/kubernetes/addons/audit-policy.yaml"?
I used same platform:  Darwin 18.6.0 + Kubernetes v1.15.0 and Docker 18.09.6, without the issue you mentioned

[2019-07-12 06:40] fenglixa commented on #4239
This issue could be closed by fixes #4393
/close

[2019-07-12 06:40] #4239 closed

[2019-07-12 10:06] akshay-r-1996 opened #4742 "none: sudo kubeadm init phase certs all --config /var/lib/kubeadm.yaml: exit status"
OS: RHEL 7.2
Minikube version: 1.12
Kubectl version: Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:40:16Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}
VM-Driver: None (Because I'm running on AWS instance)
Exact command to replicate this:

sudo -E ./mini

[2019-07-12 13:08] yashbhutwala commented on #4723
@fenglixa here you go:
[code]

Also, this is a different error about the same thing I got:

[code]

[2019-07-12 13:59] SantoshSah commented on #2266
@pratiks , thanks. It worked but another new process `hyperkit` is running along with `com.docker.hyperkit` process. Can't we use `com.docker.hyperkit` for `minikube`?

[2019-07-12 14:10] yashbhutwala commented on #4723
@fenglixa what are you doing to set yours up?

[2019-07-12 15:31] cduke-nokia commented on #4132
Tested with minikube v.1.20:

[code]

The same problem occurs: 'Waiting for SSH access ...' appears.
E0712 20:59:51.727143   31388 start.go:559] StartHost: detecting provisioner: Too many retries waiting for SSH to be available.  Last error: Maximum number of retries (60) exceeded

[2019-07-12 17:20] joadr commented on #261
+1 for Parallels! the fork with parallels working is already there and the request is being made by lots of people over 2 years period. This is 2 years of pure bureaucracy.

[2019-07-12 18:17] afbjorklund commented on #261
@joadr : did you have an updated PR for the Parallels driver support ?
I was using it myself for virtualization on the Mac, but that was quite some time ago now...

[2019-07-12 18:21] afbjorklund commented on #261
Never mind, found it in the linked issues. Basically requesting support for whatever docker-machine supports... Quite similar to our current “generic” discussion. I guess that @tstromberg can help arbitrate, in what drivers are finally allowed to be “supported” by minikube ?

[2019-07-12 18:42] afbjorklund commented on #2266
If I understand correctly, one is used for running the Minikube VM and one is used for running the Docker VM

[2019-07-12 18:50] afbjorklund commented on #4555
Sounds plausible

[2019-07-12 18:52] afbjorklund commented on #4555
Should probably add a validation step for the max libvirt version used? So we fail the build, if it happens again for some reason

[2019-07-12 18:54] afbjorklund commented on #4697
Request declined

[2019-07-12 18:54] #4697 closed

[2019-07-12 20:48] bennyhahmeen commented on #3036
I am using minikube using the hyperkit driver on macOS and experiencing the same problems with dnscrypt-proxy, which listens on 127.0.0.1:53 (udp+tcp). This binary is part of the **Cisco Umbrella** (corporate OpenDNS) roaming client. I cannot modify the configuration used by dnscrypt-proxy. The dnsmasq.conf changes linked are insufficient to resolve the issue for others.

Is there no way to apply

[2019-07-12 21:27] lnyaki commented on #4353
I'm having this problem. I've spend the last couple of days looking online. I don't understand how to solve this issue.
Proposed solution from @tstromberg  didn't work.

[2019-07-12 22:32] bennyhahmeen opened #4747 "Parallels vm-driver support not documented"
**The exact command to reproduce the issue**:
No documentation for the parallels vm-driver exists in README.md or the docs/ directory. I only discovered this driver existed because of a closed PRs: #3650, #953.

**The full output of the command that failed**:<details>
</details>

**The output of the `minikube logs` command**:<details>
</details>

**The operating system version**:
macOS 10.x

[2019-07-12 22:35] bennyhahmeen commented on #4747
I've added this documentation in PR #4748.

[2019-07-12 22:36] tstromberg commented on #4425
I have no idea why the docker service would be masked in systemd. To my knowledge, minikube doesn't use this state, so it is very strange to me:

https://askubuntu.com/questions/710420/why-are-some-systemd-services-in-the-masked-state

This awkward state can be worked around by using `minikube delete`. Is it repeatable?

[2019-07-12 22:43] #3253 closed

[2019-07-12 22:44] tstromberg commented on #4493
Dupe of #1716

[2019-07-12 22:44] #4493 closed

[2019-07-12 23:02] bennyhahmeen commented on #4747
PR was merged. Closing.

[2019-07-12 23:02] #4747 closed

[2019-07-13 00:32] Avy4140 opened #4749 "dashboard: show `kubectl describe` output when deployment fails"
when I enter the command minikube dashboard this is the response Im getting:

Asarma-M15MBP:~ asarma$ minikube dashboard
🤔  Verifying dashboard health ...
🚀  Launching proxy ...
🤔  Verifying proxy health ...
💣  http://127.0.0.1:50411/api/v1/namespaces/kube-system/services/http:kubernetes-dashboard:/proxy/ is not responding properly: Temporary Error: unexpected response code: 503
Temporary Error: u

[2019-07-13 00:39] tstromberg commented on #4749
Could you attach the output of:

`kubectl get po -A`
`minikube logs`

Thanks!

[2019-07-13 00:42] Avy4140 commented on #4749
Last login: Fri Jul 12 20:05:02 on ttys000
Asarma-M15MBP:~ asarma$ kubectl get po -A
NAMESPACE     NAME                                    READY   STATUS             RESTARTS   AGE
default       extended-resource-demo                  0/1     Pending            0          150m
default       extended-resource-demo-2                0/1     Pending            0          149m
default       hello-node-

[2019-07-13 00:43] Avy4140 commented on #4749
my minikube crashed

[2019-07-13 00:45] tstromberg commented on #4749
Given the number of pods you have, it's probably that your minikube environment ran out of resources, specifically RAM. You can increase it by using `--memory`.

If the apiserver is still running, do you mind sharing the output of:

`kubectl describe pod kubernetes-dashboard-7b8ddcb5d6-tvgc4 -n kube-system`

[2019-07-13 00:48] Avy4140 commented on #4749
Asarma-M15MBP:~ asarma$ kubectl describe pod kubernetes-dashboard-7b8ddcb5d6-tvgc4 -n kube-system
Error from server (NotFound): pods "kubernetes-dashboard-7b8ddcb5d6-tvgc4" not found

[2019-07-13 00:51] tstromberg commented on #4749
Sorry, bad cut and paste. The pod name in your example is different. Try:

`kubectl describe pod kubernetes-dashboard-7b8ddcb5d6-sg298 -n kube-system`

I'll be curious to see what it says.

Since `minikube logs` is failing due to ssh problems, your next step is to run `minikube delete`, then `minikube start` with more `--memory` and possibly a higher `--cpus` count.

[2019-07-13 00:55] Avy4140 commented on #4749
This is the output:

Asarma-M15MBP:~ asarma$ kubectl describe pod kubernetes-dashboard-7b8ddcb5d6-sg298 -n kube-system
Name:           kubernetes-dashboard-7b8ddcb5d6-sg298
Namespace:      kube-system
Priority:       0
Node:           minikube/10.0.2.15
Start Time:     Fri, 12 Jul 2019 17:30:57 -0400
Labels:         addonmanager.kubernetes.io/mode=Reconcile
                app=kubernetes-dashboard

[2019-07-13 01:08] Avy4140 commented on #4749
Thank you so much!! Its working now. I increased the memory and higher Cpus count.

[2019-07-13 02:15] jwandrews commented on #2266
@afbjorklund correct. @SantoshSah The `com.docker.hyperkit` process is started by Docker for Mac. If you do use Docker for Mac for other things already, there is no need to install the `hyperkit` executable from homebrew since Docker for Mac bundles the executable for you and puts it in your path.

[2019-07-13 03:21] bennyhahmeen commented on #4594
See https://github.com/kubernetes/minikube/issues/3036#issuecomment-511028576 on issue #3036. Cisco Umbrella and Cisco Anyconnect may run a local DNS proxy which does not seem to work with Hyperkit and minikube. I am not using any sort of HTTP proxy.

A temporary workaround for me is to use the parallels vm-driver. I do not experience this issue with Parallels. I did not test Virtualbox or VMware.

[2019-07-13 07:39] SantoshSah commented on #2266
@jwandrews , this was my assumption that already installed `hyperkit` by Docker for Mac should work with Minikube but it did not so installed again as mentioned by [@pratiks](https://github.com/kubernetes/minikube/issues/2266#issuecomment-453617810) and it is working now.

[2019-07-13 07:48] afbjorklund commented on #2266
It is probably a good idea to keep two binaries (of the "same" thing), for exactly this reason...

It's a problem when it gets put in the path, we have the same issue with `runc` (and `containerd`)
Normally we try to work around it by choosing "compatible" versions, but sometimes that fails.
And then you are left with hacks such as the above `com.docker.hyperkit`, or `docker-runc`
Ideally they sho

[2019-07-13 07:51] afbjorklund commented on #4749
Something like #3574 would probably have helped, to diagnose

[2019-07-13 07:54] afbjorklund commented on #4742
Seems like there is an unclean previous installation, if you don't care about the contents of the cluster you might want to use `sudo kubeadm reset` (or use a new VM). Otherwise, the log from `kubeadm` is needed.

[2019-07-13 08:20] afbjorklund commented on #4730
We should also clarify this text:

It is actually not the VM that is the problem here, it is the lack of a _dedicated_ VM.

If you decide to install the control-plane node directly on your development machine,
you still have all the risks above (security/reliability/data loss) in your virtual desktop.

And if you instead decide to do all your development as `root` on a headless master,
then you wi

[2019-07-13 10:46] afbjorklund commented on #4345
Hopefully this issue will be gone, once we move to cri-o 1.15 (#4703)

https://github.com/cri-o/cri-o/pull/2283

[2019-07-13 11:22] Nabbo96 opened #4750 "Problems detected in "kube-addon-manager""
Problems detected in "kube-addon-manager":
    error: no objects passed to  appensulyre
    error: nINFO:o o Leadbjer is mects pasinsed to applikube
    error: no obIjeNcFO: t=s=  pKubeasrnseetd esto  aappddlyon

[2019-07-13 11:56] malagant commented on #4594
I found out that I had dnsmasq running on my Mac. Aber disabling it, I downloaded the newest hyperkit driver, deleted the exisiting minikube and set up a new minikube. Now everything works as expected.

1. Stop dnsmasq
`brew services stop dnsmasq`
2. Download latest hyperkit
`curl -LO https://storage.googleapis.com/minikube/releases/latest/docker-machine-driver-hyperkit && sudo install -o root -g

[2019-07-13 14:37] afbjorklund commented on #4555
Seems like the main problem here was that I didn't use `BUILD_IN_DOCKER` properly, for the kvm target.

So should do that, and then some of the kvm_in_docker will go back to out/docker-machine-driver-kvm2

[2019-07-13 16:48] blueelvis commented on #4661
/assign

[2019-07-13 19:20] Faisal16292 commented on #4705
😿  Sorry that minikube crashed. If this was unexpected, we would love to hear from you:

[2019-07-13 19:56] afbjorklund commented on #4705
@Faisal16292 : please open a **new** issue, and do provide all the information requested:

https://github.com/kubernetes/minikube/issues/new?template=__en-US.md

[2019-07-13 19:56] #4705 closed

[2019-07-13 20:11] afbjorklund commented on #4391
I included the drivers in the tarballs and in the packages. I still think they "belong" to libmachine.
Since we are **not** installing any system packages with minikube, that is probably as good as it gets ?

Shouldn't be much worse for the end user, they can still just add the drivers to the install command.
Instead of "just" installing `minikube`, they can also add `docker-machine-driver-kvm2` (

[2019-07-13 22:10] marekschwarz commented on #4598
I'm currently writing a method to get all profiles that only to lists valid profiles (has config.json, parses without errors). What I noticed is, that if you parse a corrupt config.json, it still parses without errors. Is there any kind of validator for the config.json implemented yet? If not, I can implement one.

[2019-07-13 22:20] Sdator opened #4753 "E0714 06:11:42.285508 12236 start.go:559] StartHost: start: exit status 1"
My system Windows 10
PowerShell version 5.0
The following is the error message.
======================================
[code]
==========================================================
$MINIKUBE_HOME=$env:USERPROFILE + "\\.minikube"
[Environment]::SetEnvironmentVariable('MINIKUBE_HOME', $MINIKUBE_HOME, "User")

I solved this error by setting MINIKUBE_HOME. When I run the command again, another err

[2019-07-14 03:04] objectiveous commented on #4477
I've seen similar issues.

minikube start --extra-config=apiserver.v=10 --vm-driver hyperkit --extra-config 'apiserver.cors-allowed-origins=["http://*"]'                    /default ⎈
😄  minikube v1.2.0 on darwin (amd64)
🔥  Creating hyperkit VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
🐳  Configuring environment for Kubernetes v1.15.0 on Docker 18.09.6
    ▪ apiserver.v=10
    ▪ apiserver.cors-al

[2019-07-14 05:04] shadabkhan921 opened #4754 "hyperv: vswitch "minikube" not found"

[2019-07-14 05:05] shadabkhan921 commented on #4754
Unable to provide MiniKube in Windows

X Unable to start VM: create: precreate: vswitch "minikube" not found

* Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
  - https://github.com/kubernetes/minikube/issues/new

[2019-07-14 07:47] ameyaagashe opened #4755 "Error starting cluster"
Getting error like below
[code]
Host OS: Windows 2016
Using Hyper-V

Kindly assist

Thank you

[2019-07-14 07:54] sbuvaneshkumar opened #4756 "minikube fails to start kubernetes-version v1.6.0"
[code]
Version details
[code]

[2019-07-14 08:00] afbjorklund commented on #4756
The oldest supported Kubernetes version is `v1.10`

[2019-07-14 08:06] AdilAkhtarZia commented on #4708
after enabling, this error is
occurring

[2019-07-14 08:24] afbjorklund commented on #4708
@AdilAkhtarZia : sorry for the noise above, it seems like something is wrong with your existing VM

You might want to delete it and start over ?

[2019-07-14 09:07] afbjorklund commented on #4735
The `Copy` is required by the [Runner](https://github.com/kubernetes/minikube/blob/master/pkg/minikube/command/command_runner.go#L28) interface, but the implementation does seem a bit weird...

[2019-07-14 09:10] afbjorklund commented on #4709
Duplicate #1378 (has workarounds)

[2019-07-14 10:18] afbjorklund commented on #4704
cri-o is stuck in Jenkins somehow, but seems to be working locally

[2019-07-14 11:19] waqaskhan0312 opened #4757 "E0714"

[2019-07-14 11:21] waqaskhan0312 commented on #4757
minikube not starting

[2019-07-14 15:21] afbjorklund commented on #4733
Note to self: when using vagrant to test, need to create a private network - 127.0.0.1 does **not** work.

[code]

Then give the _other_ IP to minikube, i.e. **not** the first one ending up at 10.0.2.15 (and used for SSH)

[code]

[2019-07-14 16:31] AdilAkhtarZia commented on #4708
it's working .. thanks

[2019-07-14 16:31] #4708 closed

[2019-07-14 18:27] afbjorklund commented on #4313
This feature would be another reason why generic (#4733) is needed. The current workaround of running --vm-driver=none on a _remote_ VM would no longer work properly after this, if it only listens on localhost. It would require you to ssh into the control plane from your developer machine, in order to reach the apiserver. It's probably a good feature for `none`, though. It was never supposed to ex

[2019-07-14 18:28] afbjorklund commented on #4733
Seems to be working OK for Ubuntu now. Only supports Docker though, should warn about that.

[2019-07-14 18:48] afbjorklund commented on #4664
Should be fixed now ?

[2019-07-14 19:42] afbjorklund commented on #2510
Still happens (sometimes) with v1.2.0, the workaround above fixed it.

[2019-07-14 19:53] ragagit commented on #4756
I have a similar problem

![Screen Shot 2019-07-14 at 3 51 34 PM](https://user-images.githubusercontent.com/8247934/61188590-6f36cb80-a64f-11e9-897e-490001e99f53.png)

[2019-07-14 19:59] versusversus commented on #4587
RUN > CMD > bcdedit /set hypervisorlaunchtype off
then reboot host machine.

[2019-07-15 02:39] anuragy commented on #1419
This is still an issue in Minikube

[2019-07-15 05:54] palnabarun commented on #4664
@afbjorklund Yes. It should be fixed with #4689

[2019-07-15 08:33] akshay-r-1996 commented on #4742
How to uninstall kubectl and minikube completely ( Including configuration files) ?

[2019-07-15 09:30] AnishAnil opened #4760 "relaunch: Error restarting cluster: waiting for apiserver: timed out waiting for the condition"
minikube start
😄  minikube v1.2.0 on darwin (amd64)
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🔄  Restarting existing virtualbox VM for "minikube" ...
⌛  Waiting for SSH access ...
🐳  Configuring environment for Kubernetes v1.15.0 on Docker 18.09.6
🔄  Relaunching Kubernetes v1.15.0 using kubeadm ...

💣  Error restarting cluster: waiting

[2019-07-15 14:30] afbjorklund commented on #4756
@ragagit : your problem doesn't look similar (kubernetes v1.15.0), please open a new issue

[2019-07-15 15:52] adrianjord commented on #4266
Running into this same issue while going through the kubenetes hello-minikube tutorial: https://kubernetes.io/docs/tutorials/hello-minikube/

[code]

I understand there's a work around but considering it's part of the tutorial, it may cause confusion if not fixed or the tutorial isn't changed in some way, even if just to warn about this issue on Win10.

[2019-07-15 19:31] Avy4140 opened #4764 "Does kube-bench run on minikube?"
Can I Run Kube bench on my Minikube?

[2019-07-15 20:23] tstromberg commented on #4699
Do you mind elaborating on the use case for the tarballs? I'm hesitant to introduce another download form on our release pages unless there is a clear benefit for users:

- If users want a managed minikube install, they use a packaged form
- If users want an unmanaged minikube install, they use the binary form

The tarball addresses the solution of how to download the kvm2 driver, but I'm not sure

[2019-07-15 20:34] michelesr commented on #3467
It doesn't. If you add yourself to an admin group like `wheel` polkit will ask for your password instead of root password but `minikube status` will still prompt for the password 3 times.

[2019-07-15 20:42] michelesr commented on #3467
@afbjorklund adding the user to the `libvirt` group does indeed allow you to run minikube commands without providing the password, but that's more a workaround, as you might still want the password to be asked, just not 3 times and not for read only actions.

[2019-07-16 03:31] akshay-r-1996 opened #4765 "How to uninstall minikube and kubectl completely (Including config files) ?"
Can someone help me with uninstalling minikube and kubectl completely?

OS: RHEL 7.2 ( AWS EC2 instance)
Minikube version: minikube version: v1.2.0
Kubectl: Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:40:16Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"

[2019-07-16 07:45] afbjorklund commented on #4699
Some packaging formats prefer tarballs (in fact only support tar), so it might make it easier downstream.
I wasn't planning on deprecating the "raw" binaries, just make minikube more accessible (like deb or rpm)

The two benefits were:
- offering compression (60-70% smaller download), something like .gz or .xz
- offering checksum (verifiable download), something like MD5 or SHA-512

Both of these

[2019-07-16 07:54] afbjorklund commented on #4765
Currently there is no automated way to stop minikube or to remove minikube, for the `none` driver.
For the normal drivers we just stop or destroy the VM, which also stop or removes minikube.

Basically one would have to stop/delete the various components, and then clean up containers/images.
The final and smallest step is removing the actual minikube and kubectl binaries in the path.

[2019-07-16 07:58] afbjorklund commented on #4742
Answered in the other issue: #4765

Did running `kubeadm reset` and doing `minikube start` help anything for this VM ?

[2019-07-16 08:04] akshay-r-1996 commented on #4742
I tried that, but it didn't work.

[2019-07-16 08:21] globalcitizen commented on #3922
Had this issue too due to crappy connectivity in China. It would be best if it can auto-resume a failed download. Currently it starts from scratch. Also, if you want to download manually and then provide the ISO it's unclear where to place it.

[2019-07-16 08:35] afbjorklund commented on #4742
The verbose minikube log might have some more clues. `minikube -v5`

[2019-07-16 10:00] ashwini-git opened #4766 "Host name ' ' contains bad letter"
while following steps to install KVM2 driver - following code generates error as "Host name '' contains bad letter.

curl -LO https://storage.googleapis.com/minikube/releases/latest/docker-machine-driver-kvm2 \
  && sudo install docker-machine-driver-kvm2 /usr/local/bin/

virsh version available on my Azure Ubuntu VM   is 4.0.0

Please let me know if you can help , i am working on to setup Minikub

[2019-07-16 10:09] AdamSEY commented on #4587
`bcdedit /set hypervisorlaunchtype off works for me`

[2019-07-16 10:13] ameyaagashe commented on #4755
Any update on this?

[2019-07-16 10:17] afbjorklund commented on #4766
Hmm, curl not working ? Does wget work better ?

`wget https://storage.googleapis.com/minikube/releases/latest/docker-machine-driver-kvm2`

Maybe some kind of proxy issue in Azure perhaps

[2019-07-16 10:51] afbjorklund opened #4767 "pkg/util: TestTeePrefix has race conditition"
There is something unsafe going on, with the use of `Scanner` in TeePrefix:

[Build #7345](https://travis-ci.org/kubernetes/minikube/builds/559008902) failed:

[code]

Reproducer:

`GO111MODULE=on go test -race ./pkg/util/utils.go ./pkg/util/utils_test.go`

WARNING: DATA RACE

[2019-07-16 11:29] afbjorklund opened #4768 "pkg/minikube: race detected during execution of test"
See https://blog.golang.org/race-detector

[code]

[code]

[2019-07-16 11:51] afbjorklund commented on #3467
The current minikube assumes that the user is added to both `libvirt` and `docker` group (in VM, or none).
That's not ideal, from a security point of view. But there is no other means to provide authorization provided.

Ubuntu has the same setup:
https://help.ubuntu.com/lts/serverguide/libvirt.html

    sudo adduser $USER libvirt

This of course also implies that user already has sudo, we use that

[2019-07-16 12:24] michelesr commented on #3467
Is the `docker` group required to run minikube with the `kvm2` driver, or just when you use the `none` driver?

[2019-07-16 12:27] afbjorklund commented on #3467
It is required, but **within** the VM (not on the host). With the none driver, the host is the VM as well.

[2019-07-16 12:29] ashwini-git commented on #4766
wget worked as expected. Thanks

[2019-07-16 12:29] #4766 closed

[2019-07-16 12:51] jhonnyman opened #4769 "vm"

[2019-07-16 12:51] #4769 closed

[2019-07-16 12:56] afbjorklund opened #4770 "Switch cgroup driver, from cgroupfs to systemd"
kubeadm complains about settings:

[code]

https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cgroup-drivers

----

Recommended /etc/docker/daemon.json (storage driver "overlay2" is now the default anyway)
[code]

Similar setting for crio:

https://github.com/kubernetes/minikube/blob/master/deploy/iso/minikube-iso/package/crio-bin/crio.conf#L122

[code]

And for containerd

[2019-07-16 13:01] afbjorklund commented on #4770
Related to #4172

[2019-07-16 14:06] ragagit opened #4771 "macOS: waiting for k8s-app=kube-dns: timed out waiting for the condition"
When trying to start the latest version of Minikube on macOS High Sierra 10.13.6 it crashes. I used to have an older version that was working but it was one year old so it was updated. I uninstalled and reinstalled minikube ( using brew cask install minikube ) but the same result. This happens on my work Mac.However I have another Mac at home no previous installation ob mink and seems to be workin

[2019-07-16 15:08] josedonizetti commented on #4598
@marekschwarz Great! Thanks. If you need some early review on it, create the PR as `WIP: XXX`.

[2019-07-16 15:11] josedonizetti commented on #4391
@tstromberg @medyagh @afbjorklund To confirm, download `docker-machine-driver-kvm2/hyperkit` to `.minikube` is something we want to implement? Or given this on the package/tarballs, warning the user of the old version should be enough?

[2019-07-16 15:41] afbjorklund commented on #4391
I'm getting mixed messages :-) I think the important thing is making it easier for the user, either to install the required components (like kubectl and docker-machine-driver-kvm2) or to download those for them...

[2019-07-16 15:43] afbjorklund commented on #4704
All done!

[2019-07-16 15:43] #4704 closed

[2019-07-16 15:44] #4345 closed

[2019-07-16 15:48] afbjorklund commented on #4555
Verified that it was the `-j 16` and the missing `BUILD_IN_DOCKER` that caused this issue to happen.

The `all` target builds `cross` and `drivers`, and neither call `cross-tars` or `release-kvm-driver`

[2019-07-16 15:49] tstromberg opened #4772 "Prototype Docker deployment model"
Tracking work for initial work toward #4389

[2019-07-16 15:51] tstromberg opened #4773 "Internationalization support for --help"
--help should be localizable

[2019-07-16 16:05] tstromberg opened #4774 "Allow ISO's to be downloaded from GitHub"
The ISO should live alongside our binaries on the release page.

[2019-07-16 16:19] ankitajaiswal1989 opened #4775 "hyperv reuse: StartHost: start: exit status 1 (VM does not exist!)"
After running the below command, the minikube is not able to start the k8 cluster
minikube start --vm-driver=hyperv --hyperv-virtual-switch=PrimaryVirtualSwitch

* minikube v1.2.0 on windows (amd64)
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Restarting existing hyperv VM for "minikube" ...
E0716 21:44:07.247579   15332 start.go:559] St

[2019-07-16 16:38] afbjorklund commented on #4389
@medyagh : will you run a sshd in the "node" container, or should we use exec and nsenter instead ?

I was wondering about the `minikube ssh` use-case, as you know it is not supported by the `none` driver

* https://blog.docker.com/2014/06/why-you-dont-need-to-run-sshd-in-docker/

* https://blog.phusion.nl/2015/01/20/baseimage-docker-fat-containers-treating-containers-vms/

[2019-07-16 17:22] medyagh commented on #4391
@josedonizetti Yes we still want to do this ! currently we have one place for bins in ~/.minikube folder for kubelet and kubeadm

` ~/.minikube/cache/v1.15.0/` but that one is per version of kuberentes for this case I recommend using a new one `~/.minikube/bin` and it is okay in the cases that we have to sudo, to ask for sudo. (hyperkit)

[2019-07-16 17:25] c2xbrhdj6u4qs15 opened #4776 "minikube start hangs after Launch Kubernetes"
I am trying to start minikube on Mac OS Mojave and it hangs after Launchning Kuberntes.

minikube start
😄  minikube v1.2.0 on darwin (amd64)
💿  Downloading Minikube ISO ...
 129.31 MB / 129.33 MB [============================================]  99.98% 0s
 129.33 MB / 129.33 MB [============================================] 100.00% 0s🔥  Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ..

[2019-07-16 17:33] wanglinsong commented on #4760
I have the same issue with very similar output.

[code]

[2019-07-16 17:50] medyagh commented on #4389
I would user exec, which will invoke "docker exec"

I am implementing a specialized commander for the vm-free which is basically a helper for docker exec

[2019-07-16 17:58] tstromberg commented on #4776
Hello! This step should hang for no more than 8 minutes, and display an error afterwards if something is happening. For additional debugging, do you mind attaching the output of:

`minikube start --alsologtostderr -v=2`

Then let it run for about 10 minutes. Thank you.

[2019-07-16 17:59] tstromberg commented on #4775
Do you mind adding the following flags:

`-v=8 --alsologtosderr`

That should provide the additional output we need to solve the issue.

[2019-07-16 18:26] Sergey123456 commented on #4775
PS D:\> minikube start -v=8 --vm-driver hyperv --cpus 4 --memory=4096 --hyperv-virtual-switch "ExternalSwitch"
* minikube v1.2.0 on windows (amd64)
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
[executing ==>] : C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe -NoProfile -NonInteractive ( Hyper-V\Get-VM minikube ).state
[stdout ===

[2019-07-16 18:29] c2xbrhdj6u4qs15 commented on #4776
Hi tstromberg, I ran the commend "minikube start --alsologtostderr -v=2", see a snipped of the output below:

minikube start --alsologtostderr -v=2
W0716 20:11:29.904075    7654 root.go:151] Error reading config file at /Users/username/.minikube/config/config.json: open /Users/username/.minikube/config/config.json: no such file or directory
I0716 20:11:29.904599    7654 notify.go:128] Checking for

[2019-07-16 18:35] c2xbrhdj6u4qs15 commented on #4776
Additional info:

`minikube ssh 'docker logs $(docker ps -a -f name=k8s_kube-api --format={{.ID}})'
Flag --insecure-port has been deprecated, This flag will be removed in a future version.
I0716 18:13:31.609431       1 server.go:560] external host was not specified, using 192.168.99.107
I0716 18:13:31.609569       1 server.go:147] Version: v1.15.0
I0716 18:13:32.230873       1 plugins.go:158] Load

[2019-07-16 18:36] c2xbrhdj6u4qs15 commented on #4776
closed unintentionally

[2019-07-16 18:40] c2xbrhdj6u4qs15 commented on #4776
more info, last couple of log output from the below command:

minikube ssh 'docker logs $(docker ps -a -f name=k8s_kube-api --format={{.ID}})'
W0716 18:13:40.395952       1 lease.go:223] Resetting endpoints for master service "kubernetes" to [192.168.99.107]
I0716 18:13:41.357785       1 controller.go:606] quota admission added evaluator for: serviceaccounts
I0716 18:13:41.971481       1 controlle

[2019-07-16 18:42] c2xbrhdj6u4qs15 commented on #4776
seems to be the same issue as in https://github.com/kubernetes/minikube/issues/3658

[2019-07-16 18:57] c2xbrhdj6u4qs15 commented on #4776
found this on stack overflow https://stackoverflow.com/questions/51561662/rbac-privilege-error-while-installing-minikube

[2019-07-16 19:04] c2xbrhdj6u4qs15 commented on #4776
Using Virtualbox Version 6.0.10 r132072 (Qt5.6.3) and got the same error:

I0716 21:02:38.874242   10824 kubeadm.go:240] Configuring cluster permissions ...
I0716 21:03:38.883586   10824 utils.go:126] error: Temporary Error: creating clusterrolebinding: Post https://192.168.99.108:8443/apis/rbac.authorization.k8s.io/v1beta1/clusterrolebindings?timeout=1m0s: dial tcp 192.168.99.108:8443: i/o timeou

[2019-07-16 19:45] tstromberg commented on #4770
Possibly related: #4144 #2381

[2019-07-16 19:49] tstromberg commented on #4765
This issue appears to be a duplicate of #3372, so I will close this one so that we may centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please feel free to re-open it.

For the none driver specifically, https://github.com/kubernetes/minikube/blob/master/docs/vmdriver-none.md has some information about what files get written to.

Thank you for re

[2019-07-16 19:49] #4765 closed

[2019-07-16 19:55] tstromberg commented on #4760
Thank you for sharing your experience! If you don't mind, could you please provide the output of:

`minikube logs`
`kubectl get po -A`

This will help us isolate the problem further. Thank you!

[2019-07-16 20:04] tstromberg commented on #4757
Thank you for sharing your experience! If you don't mind, could you please provide:

*  The exact command-lines used, so that we may replicate the issue
*  The full output of the command that failed
*  The full output of the "minikube logs" command
*  Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-07-16 20:07] tstromberg commented on #4756
v1.6.0 is not supported. Admittedly, we can do a better job with the error message though. See #4673

https://github.com/kubernetes/minikube/blob/master/docs/configuring_kubernetes.md#selecting-a-kubernetes-version

The other failure you had seems unrelated. Please run `minikube delete` to erase the old v1.6 VM, and if the problem occurs again, open a new issue. Thank you for your issue report!

[2019-07-16 20:07] #4756 closed

[2019-07-16 20:08] tstromberg commented on #4755
This issue appears to be a duplicate of #3963, so I will close this one so that we may centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please feel free to re-open it.

Thank you for reporting this!

[2019-07-16 20:10] tstromberg commented on #4079
This would address many bugs, such as #3963

[2019-07-16 20:15] tstromberg commented on #4754
Please see note here about creating a network switch:

https://github.com/kubernetes/minikube/blob/master/docs/drivers.md#hyper-v-driver

Admittedly, the user experience here is terrible. #4079 will address this.

[2019-07-16 20:17] tstromberg commented on #4753
Thank you for sharing your experience! If you don't mind, could you please run `minikube delete` and attempt the same thing again with additional logging:

`minikube start --vm-driver hyperv --hyperv-virtual-switch="Docker" -p "K8S" --alsologtostderr -v=8`

This will help us isolate the problem further. Thank you!

[2019-07-16 20:19] tstromberg commented on #4750
Thank you for sharing your experience! This sounds like #4010 - which should have been fixed in minikube v1.1. If you don't mind, could you please provide:

*  The exact command-lines used, so that we may replicate the issue
*  The full output of the command that failed
*  The full output of the "minikube logs" command
*  Which operating system version was used

This will help us isolate the probl

[2019-07-16 20:21] marekschwarz commented on #4598
I opened a pull-request. There is still a lot to refactor, but I would like to hear what you think :-)

[2019-07-16 20:23] tstromberg commented on #4749
Thanks for confirming the issue. We should definitely make the `dashboard` implementation more robust toward resource exhaustion issues. It would be nice if minikube gave a better hint here.

[2019-07-16 20:24] tstromberg commented on #4742
Thank you for sharing your experience! If you don't mind, could you please provide the output of:

`sudo -E ./minikube start --vm-driver=none --alsologtostderr -v=5`

This will help us isolate the problem further. Thank you!

[2019-07-16 20:25] tstromberg commented on #4725
Thank you for sharing your experience! If you don't mind, could you please provide:

*  The exact command-lines used, so that we may replicate the issue
*  The full output of the command that failed
*  The full output of the "minikube logs" command
*  Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-07-16 20:27] tstromberg commented on #4725
Likely a dupe of #4272 / #4366

[2019-07-16 20:28] tstromberg commented on #4723
I wonder if the Auditing is an obsolete feature gate? It's not mentioned here:

https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

[2019-07-16 20:32] tstromberg commented on #4721
This seems like a better question for Oracle.

https://help.ubuntu.com/community/KVM/Installation documents what commands you can run in Ubuntu to validate that virtualization is enabled. Once Ubuntu is happy (`virt-host-validate` is a great way to confirm), minikube should be happy.

Please re-open if this does not turn out to be helpful.

[2019-07-16 20:32] #4721 closed

[2019-07-16 20:35] bgopalakr commented on #3781
here is what I did to make it work. I am behind corporate firewall
1. Open Hyper-V Manager
2. Stop and Delete the VM which created by Windows
3. Create a new Virtual Switch
4. then start minikube as mentioned in previous post using hyperv driver.

My case since VM already on Hyper-v was stopping new VM creation. Second problem was, Virtual switch i created I selected my wireless network instead of

[2019-07-16 20:41] #4755 closed

[2019-07-16 20:42] tstromberg commented on #4728
This issue appears to be a duplicate of #4742, so I will close this one so that we may centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please feel free to re-open it.

Thank you for reporting this!

[2019-07-16 20:42] #4728 closed

[2019-07-16 20:46] tstromberg commented on #4711
Hey @ghostman8877 -

Your VirtualBox installation failed to build the appropriate kernel driver. Please try installing VirtualBox 6.0.10 to see if the process fixes your issue. If it isn't successful for whatever reason, please try the `kvm2` driver .

https://github.com/kubernetes/minikube/blob/master/docs/drivers.md#kvm2-driver

Thank you!

[2019-07-16 20:46] #4711 closed

[2019-07-16 20:46] #4709 closed

[2019-07-16 20:46] tstromberg commented on #4709
This issue appears to be a duplicate of #1378, so I will close this one so that we may centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please feel free to re-open it.

Thank you for reporting this!

[2019-07-16 20:47] tstromberg commented on #4707
This issue appears to be a duplicate of #3963, so I will close this one so that we may centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please feel free to re-open it.

Thank you for reporting this!

[2019-07-16 20:47] #4707 closed

[2019-07-16 20:51] tstromberg commented on #4694
Hi @celian-garcia!

As you noticed, minikube does not react very well if an old configuration is found, but the VM associated to it is missing. It's unclear if newer versions would have handled this better. You found an interesting workaround!

I normally recommend users run `minikube delete` if the two are no longer in sync. We should make sure minikube suggests the same.

[2019-07-16 20:53] tstromberg commented on #4693
This issue appears to be a duplicate of #3963, so I will close this one so that we may centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please feel free to re-open it.

Thank you for reporting this!

[2019-07-16 20:53] #4693 closed

[2019-07-16 20:55] tstromberg commented on #4664
Fixed at head, but I will leave this open until it's included in a release.

[2019-07-16 20:56] tstromberg commented on #4661
This issue appears to be a duplicate of #2914, so I will close this one so that we may centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please feel free to re-open it.

Thank you for reporting this!

[2019-07-16 20:56] #4661 closed

[2019-07-16 21:49] tstromberg commented on #4634
I'm fairly ignorant about PVC's, but by what mechanism are you expecting `/opt/my-path` to be created by?

[2019-07-16 22:07] tstromberg commented on #4621
I can confirm this on kvm2 & Linux. The current mount interface is driver agnostic.

Thanks for discovering a workaround! I'll add this to the long list of bugs related to go9p. We really need an alternative approach for mounting files.

[2019-07-16 22:10] tstromberg commented on #4776
Thanks for the update. Do you mind attaching the output of `minikube logs` ond `kubectl get po -A`?

[2019-07-16 22:16] tstromberg commented on #4660
For "gmac compliance", I suggest just installing hyperkit from brew.

[2019-07-16 22:24] tstromberg commented on #2061
The VM time zone is UTC. If you really really want to change it to your local time zone, run this on your host:

[code]

Every subsequent run of `minikube start` will override the timezone with what you have specified in ~/.config/minikube/files/etc/localtime.

[2019-07-16 22:24] #2061 closed

[2019-07-16 22:25] tstromberg commented on #4005
Interesting. I wonder what we could be doing in minikube to make this work more nicely.

I suspect it isn't VM specific.

[2019-07-16 22:25] tstromberg commented on #4394
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

- The exact command line used
- The full output of the command
- The full output of "minikube logs"

Please feel free to do so at any point. Thank you for sharing your experience!

[2019-07-16 22:25] #4394 closed

[2019-07-16 22:25] tstromberg commented on #4395
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

- The exact command line used
- The full output of the command
- The full output of "minikube logs"

Please feel free to do so at any point. Thank you for sharing your experience!

[2019-07-16 22:25] #4395 closed

[2019-07-16 22:26] tstromberg commented on #4397
Containers don't have an IP address by default. You'll want to use `minikube service` or `minikube tunnel` to get endpoint information.

[2019-07-16 22:26] #4397 closed

[2019-07-16 22:28] tstromberg commented on #4403
That error message might be a red herring.

Could you provide some reproduction instructions so we can check it out here?

[2019-07-16 22:31] tstromberg commented on #4404
This bit seems extremely suspicious to me:

`I0601 23:23:10.089270 13604 kubeadm.go:142] https://192.168.0.25:8443/healthz response: Get https://192.168.0.25:8443/healthz: dial tcp 192.168.0.25:8443: connectex: No connection could be made because the target machine actively refused it.`

[2019-07-16 22:32] #4429 closed

[2019-07-16 22:33] tstromberg commented on #4429
As far as I know, our standard Windows installation docs should cover this case: https://kubernetes.io/docs/tasks/tools/install-minikube/

[2019-07-16 22:34] tstromberg commented on #4440
The good news here is that mount implementation is driver independent. The bad news is that the underlying server used isn't so great.

Any chance this directory has many (>600) files?

[2019-07-16 22:40] tstromberg commented on #4447
I'd rather not pollute the output by default: I don't feel that it is important to your average user unless something is broken. If you need to see timestamps, you can use the `--alsologtostderr` flag.

As we've done a fair bit around tuning the timeouts already, I would rather see this step provide more specific feedback.

That said, we could definitely improve the documentation around the `--als

[2019-07-16 22:45] tstromberg commented on #4450
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. It isn't clear to me why the apiserver would be timing out for these API calls.

If you run into this with minikube v1.2.0, please re-open this issue.

[2019-07-16 22:45] #4450 closed

[2019-07-16 22:47] tstromberg commented on #4451
If you run into this again, please add `-v=8 --alsologtostderr` to your command-line. It should reveal the VirtualBox failure reason.

[2019-07-16 22:47] #4451 closed

[2019-07-16 22:48] tstromberg commented on #4451
@aidagha - I'm not convinced that a downgrade is the correct answer, but updating `err_map.go` to point users to these issues would be helpful. The root cause here is a broken VirtualBox installation.

[2019-07-16 22:50] tstromberg commented on #4453
Hey stephen. It seems like the old VM state in Virtualbox may be corrupt. Do you mind checking if `minikube delete` fixes your issue?

[2019-07-16 22:53] tstromberg commented on #4454
Thanks for the report! We're introducing a check in minikube to detect obsolete hyperkit drivers. I'll leave this issue open until then.

@yinzara - your issue appears unrelated. Please open a new issue if possible.

[2019-07-16 22:55] tstromberg commented on #4456
It's unclear what the issue is with minikube is here? Are we providing a broken metrics-server?

[2019-07-16 22:58] tstromberg commented on #4457
I believe this is a sign of a VirtualBox installation that is blocked by security checks. Please check your `System Preferences` application, specifically within `Security & Privacy` and ensure that Oracle/VirtualBox is allowed.

If this doesn't help, please provide the output of `miinkube start --alsologtostderr -v=8`. Thank you!

[2019-07-16 22:59] tstromberg commented on #4461
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

- The exact command line used
- The full output of the command
- The full output of "minikube logs"

Please feel free to do so at any point. Thank you for sharing your experience!

[2019-07-16 22:59] #4461 closed

[2019-07-16 23:00] tstromberg commented on #4646
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

- The exact command line used
- The full output of the command
- The full output of "minikube logs"

Please feel free to do so at any point. Thank you for sharing your experience!

[2019-07-16 23:00] #4646 closed

[2019-07-16 23:24] ahmetb commented on #4660
Yeah, I think we can close this I suspect xhyve is going to be removed.

[2019-07-16 23:24] #4660 closed

[2019-07-17 01:45] docktermj commented on #4634
@tstromberg  My understanding of Persistent Volume Claims (PVCs) is that Kubernetes will inform Docker of the volume.   Much like a `docker run ....  --volumes /opt/my-path/:/opt/my-subpath ...`

Did I come close to understanding your question?

[2019-07-17 01:54] docktermj commented on #4634
My guess is that `minikube` doesn't completely implement the `subPath` behavior.   The error:
[code]
seems to indicate that when `subPath` is specified, `minikube` somehow forgets to create the PV `/opt/my-path` when the Job's `volumeMounts` is specified.

...all speculation, of course.

[2019-07-17 02:19] cyrilzh opened #4782 "storage-provisioner pod CrashLoopBackOff with "no preferred addresses found" error"
**The exact command to reproduce the issue**:
I am trying to install minikube on Windows 2016 Server with a local proxy. VM connect to a virtual switch and get IP address from a DHCP server installed in host.

Here is my command:

[code]

**The full output of the command that failed**:<details>
Everything works fine during installation. However, Storage-Provisioner pod cannot start:

[code]

</det

[2019-07-17 03:05] akshay-r-1996 commented on #4742
The issue is resolved, I had exported some wrong file in kubeconfig, I uninstalled the kubectl and reinstalled it got resolved. Thanks for helping me out.

[2019-07-17 03:15] tstromberg commented on #4672
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

- Your version of VirtualBox
- The full output of `minikube start --alsologtostderr -v=8`

Please feel free to do so at any point. Thank you for sharing your experience!

[2019-07-17 03:15] #4672 closed

[2019-07-17 03:21] laozc commented on #3963
I think in some case that when an IPv4 address cannot be assigned this could happen.
I could deliver a fix to use the default switch by default.

[2019-07-17 03:27] tstromberg commented on #4606
I think the error is pretty clear here, but we could have a better solution message. Marking it as such.

[2019-07-17 03:32] tstromberg commented on #4540
I'm not sure what's going on with the apiserver here, but it's mighty suspicious.

If you don't mind, I'm curious if minikube v1.2.0 / kubernetes 1.15 suffers this issue. Please run `minikube delete` first to clear up the old state.

[2019-07-17 03:33] tstromberg commented on #4472
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

- The exact `minikube start` command line used: preferably with `--alsologtostderr -v=8` added.
- The full output of the command
- The full output of "minikube logs"

Please feel

[2019-07-17 03:33] #4472 closed

[2019-07-17 03:39] tstromberg commented on #4776
This issue appears to be a duplicate of #4540, so I will close this one so that we may centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please feel free to re-open it. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-07-17 03:39] #4776 closed

[2019-07-17 03:45] tstromberg commented on #4532
This may be a case where the way the VPN is configured prevents you from routing packets to the VM. If you don't mind, please try minikube v1.2.0 with the VPN disabled, and run `minikube delete` first. Let me know what the result is.

Thanks for the report!

[2019-07-17 03:47] tstromberg commented on #4519
@pawanyoda - I'm confused. If minikube failed, what did that command fix exactly, and when was it run?

[2019-07-17 03:50] tstromberg commented on #4471
Do you mind testing if minikube 1.2 has the same issue?

Any chance there is an active VPN on this system?

Please attach the output of `minikube logs` if possible. Thanks!

[2019-07-17 03:52] tstromberg commented on #4527
Working as intended, as Hyper-V generally does not allow other virtualization technologies.

NOTE: You may have better luck with a newer version of VirtualBox.

[2019-07-17 03:52] #4527 closed

[2019-07-17 03:52] tstromberg commented on #4520
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

- The exact command line used
- The full output of the command
- The full output of "minikube logs"

Please feel free to do so at any point. Thank you for sharing your experience!

[2019-07-17 03:52] #4520 closed

[2019-07-17 03:55] #4517 closed

[2019-07-17 04:00] tstromberg commented on #4775
The root cause here is that the "minikube" VM was deleted from Hyper-V, from outside the `minikube` command.

The workaround here is to run `minikube delete`

If we could fix #3206 - this would be a much better user experience.

[2019-07-17 04:01] tstromberg commented on #4515
So, two bugs:

- The first comment specifies a network switch that doesn't exist
- The second comment could be many possible issues, in part due to the lack of clarity caused by #3206

Do you mind providing the output of `minikube start --alsologtostderr -v=8`. I wonder if this is #4775 or something network specific.

[2019-07-17 04:02] tstromberg commented on #4513
Regrettably, there isn't enough information in this issue to make it actionable. Since some time has passed, I'm going to close this issue. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

    The exact minikube start command line used: preferably with --alsologtostderr -v=8

[2019-07-17 04:02] #4513 closed

[2019-07-17 04:04] tstromberg commented on #4508
minikube does not ship with `virt-host-validate`, so I doubt you are running the command inside of it.

To debug your host operating system, please see:
https://fedoraproject.org/wiki/How_to_debug_Virtualization_problems

[2019-07-17 04:04] #4508 closed

[2019-07-17 04:04] tstromberg commented on #4507
Regrettably, there isn't enough information in this issue to make it actionable. Since some time has passed, I'm going to close this issue. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

    The exact minikube start command line used: preferably with --alsologtostderr -v=8

[2019-07-17 04:04] #4507 closed

[2019-07-17 04:09] tstromberg commented on #4506
@eduardo4jesus - This error is raised because DNS queries to 192.168.99.12 are failing. It isn't clear if it's a general network failure, or just a failure to resolve a DNS. Do you have any idea what that IP points to?

Some commands which may help:

`host 192.168.99.12`
`route get 192.168.99.12`
`scutil --dns | grep 192.168.99.12`

Worst case, you should be able to work around the issue by runnin

[2019-07-17 04:14] tstromberg commented on #4505
Try opening an issue with your Linux distro provider. This sounds like many possible issues:

- https://www.reddit.com/r/archlinux/comments/88lq7k/trying_virtmanager_but_cant_get_nat_to_work/
- https://bugzilla.redhat.com/show_bug.cgi?id=711154
- https://bbs.archlinux.org/viewtopic.php?id=237771

[2019-07-17 04:14] #4505 closed

[2019-07-17 04:15] tstromberg commented on #4486
Regrettably, there isn't enough information in this issue to make it actionable. Since some time has passed, I'm going to close this issue. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

    The exact minikube start command line used: preferably with --alsologtostderr -v=8

[2019-07-17 04:15] #4486 closed

[2019-07-17 04:20] tstromberg commented on #4468
This seems pretty key from your logs:

`Jun 11 16:48:51 minikube kubelet[3129]: I0611 16:48:51.906488    3129 eviction_manager.go:187] eviction manager: pods etcd-minikube_kube-system(8490cea1bf6294c73e0c454f26bdf714) evicted, waiting for pod to be cleaned up`

It sounds like your virtualbox VM has too little RAM attached to it for the pods being deployed. Please increase it to see if the problem

[2019-07-17 04:23] tstromberg commented on #4467
FWIW, the latest kvm2 driver should handle network cleanup better. I also concur: do not use root to run minikube, it causes more problems than it's worth.

Do you mind running: `virt-host-validate` and `groups`?

[2019-07-17 04:25] tstromberg commented on #4467
Please confirm if setting `dynamic_ownership = 0` fixes the issue, as @afbjorklund suggested.

[2019-07-17 04:25] tstromberg commented on #4428
Regrettably, there isn't enough information in this issue to make it actionable. Since some time has passed, I'm going to close this issue. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

*  The exact `minikube start` command line used
*  The full output of the `minikube sta

[2019-07-17 04:25] #4428 closed

[2019-07-17 04:28] tstromberg commented on #4426
This was fixed in minikube v1.1.1. Please upgrade.

https://github.com/kubernetes/minikube/issues/1766

[2019-07-17 04:28] #4426 closed

[2019-07-17 04:29] tstromberg commented on #4413
Regrettably, there isn't enough information in this issue to make it actionable. Since some time has passed, I'm going to close this issue. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

*  The exact `minikube start` command line used
*  The full output of the `minikube sta

[2019-07-17 04:29] tstromberg commented on #4378
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-07-17 04:29] #4378 closed

[2019-07-17 04:30] tstromberg commented on #4377
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-07-17 04:30] #4377 closed

[2019-07-17 04:31] tstromberg commented on #4361
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-07-17 04:31] #4361 closed

[2019-07-17 04:31] tstromberg commented on #4360
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-07-17 04:31] #4360 closed

[2019-07-17 04:31] tstromberg commented on #4357
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-07-17 04:31] #4357 closed

[2019-07-17 04:31] tstromberg commented on #4342
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-07-17 04:31] #4342 closed

[2019-07-17 04:32] yinzara commented on #4621
Yeah I would love to see an alternative. Unfortunately the work around above doesn't really help very much because the 9p2000.u version has issues with permissions, so it introduces a host of other problems.

[2019-07-17 04:33] tstromberg commented on #4251
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-07-17 04:33] #4251 closed

[2019-07-17 04:33] tstromberg commented on #4245
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-07-17 04:33] #4245 closed

[2019-07-17 04:38] tstromberg commented on #3964
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-07-17 04:38] #3964 closed

[2019-07-17 04:38] tstromberg commented on #3849
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-07-17 04:38] #3849 closed

[2019-07-17 04:40] tstromberg commented on #3786
Nope. I'm going to blame this one on the deprecated `vmwarefusion` driver. If someone else runs into this with the `vmware` driver, please let me know the version of VMware used.

[2019-07-17 04:46] #4374 closed

[2019-07-17 04:46] tstromberg commented on #4374
Closing, as `unable to find a virtual machine with name "minikube"` errors are not relevant to the original report.

[2019-07-17 04:48] tstromberg commented on #4303
Regrettably, there isn't enough information from the original author in this issue to make it actionable. Since some time has passed, I'm going to close this issue. You may reopen this issue any point by commenting with `/reopen`, but if possible, please add some additional information, such as:

- The exact `minikube start` command line used: preferably with `--alsologtostderr -v=8` added for ext

[2019-07-17 04:48] #4303 closed

[2019-07-17 04:48] celian-garcia commented on #4694
Yeah I searched a lot in issues before posting this one and noticed the problems in start in Windows and the solution.
But the ``minikube delete`` was removing all my cluster and I wanted to keep all my microservices + Kong Gateway intact ^^.

Hope my workaround will help you to debug this !

I'll follow the versions up to see if something is better in the future.

[2019-07-17 04:52] tstromberg commented on #4353
If you are running into this and you are not the original author, please open a new issue with the output of:

`id`
`kubectl config view --minify | grep /.minikube | xargs stat`

This particular issue was due to a stale ~/.kube/config file pointing at files owned by another user.

[2019-07-17 04:54] tstromberg commented on #4594
@chaimleib - any chance there is a local DNS server running on your system? You can confirm using:

` sudo lsof -i :53`

If so, this is due to #3036

[2019-07-17 05:01] tstromberg commented on #4634
@docktermj - Is it possible that `hostPath` is only going to work if `/opt/my-path` exists within the minikube VM?

`minikube ssh stat /opt/my-path` probably needs to work first before it is used as a hostPath, but I could be entirely mistaken here. Do other paths like /tmp work?

If it helps: Docker inside of the guest VM does not speak with Docker on the host. There is `minikube mount` for setti

[2019-07-17 05:02] tstromberg commented on #4696
Do you mind providing the full output of the `minikube start` command? It does seem rather weird.

[2019-07-17 05:03] #4742 closed

[2019-07-17 05:08] tstromberg commented on #4459
This seems reasonable. This is how other VM's work.

[2019-07-17 07:41] afbjorklund commented on #4733
Need to test on CentOS as well (should work), and warn when using 127.0.0.1 as the IP address.

[2019-07-17 07:45] afbjorklund commented on #4730
Note how I failed at the **first step** of the installl instruction, but _still_ continued until the bitter end ?

This is typical of documentation, I guess you can't write it clear enough. Or double-check, in code.

[2019-07-17 08:17] Doqnach commented on #4440
In my case it's PHP projects with composer packages. So 600 is something that is easy to reach (current subproject has 6000+ already).

[2019-07-17 09:23] laozc commented on #4079
PR machine-drivers/machine#18 addressed the issue to use the default switch when not specified.

[2019-07-17 10:25] IvankaTashkova opened #4783 "VM_BOOT_FAILED_HYPERV_ENABLED message should mention --driver=hyperv as a solution"
I'm following a tutorial from kubernetes.io to install Kubernetes with minikube for Windows. The first time I executed **minikube start** I got the missing VirtualBox issue, but I actually want to use Hyper-V. After installing VirtualBox, now I get the other known issue with Hyper-V. Please find more information below.
**The exact command to reproduce the issue**:
minikube start

**The full output

[2019-07-17 10:25] afbjorklund commented on #4783
Try `minikube start --vm-driver=hyperv` instead.

[2019-07-17 10:27] IvankaTashkova commented on #4783
Thank you for your answer!
Now I get this error:
$ minikube start --vm-driver=hyperv
* minikube v1.2.0 on windows (amd64)
* Creating hyperv VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
panic: runtime error: index out of range

goroutine 1 [running]:
github.com/docker/machine/drivers/hyperv.hypervAvailable(0xc000748de0, 0xc0007f6810)
        /go/pkg/mod/github.com/docker/machine@v0.16.1/drivers/hyp

[2019-07-17 10:31] afbjorklund commented on #4783
Ouch. Yeah, I suppose that's a bug in the hyperv driver :-(

Trying to run this PowerShell command:
[code]
But apparently doesn't like the response.

Hopefully someone that knows Windows is able to help out...

[2019-07-17 11:01] alirizakeles commented on #4242
Hi,

Unfortunately proxy does not work or I misunderstood how it works.  My minikube version is v1.1.1

[code]
I can see registry and proxy are active running.

[code]

But when I try to reach port 5000 it does not work:

[code]

Btw, instructions and specs in the [blog post ](https://blog.hasura.io/sharing-a-local-registry-for-minikube-37c7240d0615/) mentioned above works well.

[2019-07-17 11:18] unlikezy commented on #3493
I still met the same problem on mac.
The above solution does not work for my situation:

[code]

[code]

[code]

[code]

[code]

[code]

[2019-07-17 11:28] unlikezy commented on #3493
this work for me:
[code]

[code]

[code]

[code]

[2019-07-17 13:08] itsallonetome commented on #4313
I've been struggling with this ... an alternative (which would work for me) is an option to specify whether minikube should take its external interface to be the host's IP address (as at present) or localhost or the docker bip gateway.

At present, I can find no way to force minikube to use localhost.  using `--extra-config kubelet.node-ip="127.0.0.1"` breaks multi-pod systems as the pods listen o

[2019-07-17 13:12] docktermj commented on #4634
@tstromberg Other paths in `/tmp` work if `subPath` is not specified (i.e. the difference between `my-job-bad.yaml` and `my-job-good.yaml` above.  That's what confuses me.  If they both didn't work or both did work, I'd be less confused.

I'll look into the `minikube mount` thought.  (Probably early next week)

Appreciate you helping.   You ask questions that make me think.  ...and that may be the

[2019-07-17 13:57] IvankaTashkova commented on #4783
In case someone is blocked by the same problem I found a solution. You should run the command in Windows Power Shell with administrator rights. Also, you should configure Virtual Switch to your Hyper-V following [this steps](https://docs.docker.com/machine/drivers/hyper-v/). And after that you will be able to execute **minikube start** by specifying the Virtual Switch: **minikube start --vm-driver

[2019-07-17 14:03] utdrmac commented on #4468
I had already doubled the amount of RAM from the default as shown above. Can probably close this as the "fix" was to simply blow everything away and start over. Same config as above, worked no issues the next time.

[2019-07-17 14:11] IvankaTashkova commented on #3849
Hi! I'm experiencing the same issue!

`minikube logs` output :
X command runner
* Error:         [IP_NOT_FOUND] getting ssh client for bootstrapper: Error creating new ssh host from driver: Error getting ssh host name for driver: IP not found
* Advice:        The minikube VM is offline. Please run 'minikube start' to start it again.
* Related issues:
  - https://github.com/kubernetes/minikube/issu

[2019-07-17 14:21] IshwarChandra opened #4784 "Problems detected in "kube-addon-manager""
Getting below error while trying to start minikube.

Problems detected in "kube-addon-manager":
    error: no objects passed toe a accpply
    error: no objects passed to WRN: apply=
    error: WnRoN: ==  Error getting default service account, retry in 0.5 second ==

**minikube version: v1.1.0**

[2019-07-17 14:55] reegnz commented on #1378
@tstromberg I see that minikube had systemd-timesyncd enabled but then you disabled it in #3476.
Could you elaborate on why you chose to disable it? Having an sntp daemon constantly running would definitely help in resolving this issue.

[2019-07-17 14:56] afbjorklund commented on #4783
We _will_ have a check for this in the future (administrator for hyperv) Previously Hyper-V (in Minikube) has suffered from a lack of tests and shortage of Windows developers...

[2019-07-17 15:26] afbjorklund commented on #1378
One _could_ argue that it is the job of the hypervisor to keep the time synced. Then again, some of them fail...

[2019-07-17 15:29] DiegoIngeniero opened #4787 "minikube"

[2019-07-17 15:30] zbelghali commented on #3849
I figured it out a while ago. What OS are you running?

[2019-07-17 15:43] afbjorklund commented on #4784
Possibly similar to #4750

[2019-07-17 16:14] #4555 closed

[2019-07-17 16:15] ravalanup commented on #4496
Can this be configured to work with Hyper-V ?

[2019-07-17 16:25] ravalanup commented on #4496
Update:
`minikube start --vm-driver="hyperv"`

This worked fine for windows 10 with hyper v

[2019-07-17 16:28] csantanapr opened #4788 "[FEATURE] allow to set container-runtime via config"
I know there is a [flag](https://github.com/kubernetes/minikube/blob/master/docs/alternative_runtimes.md) `minikube start --container-runtime=containerd` for start to use containerd but I would like to save the option to persistent config in hy $HOME directory along with other options I use all the time like cpu, memory, kubenertes-version, and vm-driver

**The exact command to reproduce the issue

[2019-07-17 16:29] afbjorklund commented on #4496
Original issue was for VirtualBox, not Hyper-V...

But apparently @jogeswar18 sorted it out. Closing.

[2019-07-17 16:29] #4496 closed

[2019-07-17 16:34] #4524 closed

[2019-07-17 16:56] itsallonetome opened #4789 "none: exiting because of error: log: cannot create log: open /tmp/coredns...: no such file or directory"
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>
[code]

</details>

**The output of the `minikube logs` command**:<details>

[code]

</details>

**The operating system version**:

[code]

[2019-07-17 17:33] toships commented on #844
I had similar issue - I have installed bash-completion `brew install bash-completion`
- I went to dir `/usr/local/etc/bash_completion.d` and created the minikube completion file `minikube completion bash > minikube` in that directory and minikube autocompletion works from there on (dont forget to create a new terminal instance after this step)

[2019-07-17 18:40] tstromberg commented on #4673
I spoke with @medyagh on this offline, and wanted to add my thoughts here:

- `constants.OldestKubernetesVersion` should reflect the oldest version that is known to pass integration tests. If 1.9 works (I've never tried), the constant should reflect it. Let's keep the code path simple rather than tracking two oldest values.

- All sanity checks should either be a warning, or skippable using a `--f

[2019-07-17 18:44] medyagh commented on #4788
This is a great suggestions, I am suprised we already do not save the config set for the next run... thank you for creating this issue. I will make sure this gets attention ! I would be happy to review a PR that makes sure the config set actually does save the config for next run !

[2019-07-17 18:45] ephillipe commented on #3451
/remove-lifecycle stale

[2019-07-17 18:47] medyagh commented on #4787
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-07-17 19:53] IvankaTashkova commented on #3849
Windows 10

[2019-07-17 20:13] zbelghali commented on #3849
Ok, same here. So here is what worked for me.

-- I'm using MS HyperV.

Here are the steps:

*** RUN AS ADMIN ***

--In PowerShell run the following:
Enable-WindowsOptionalFeature -Online -FeatureName Microsoft-Hyper-V -All

-- In Hyper-V manager, in Settings, Add a Virtual Switch to Network Adapter. Call the new switch to something like "minikube1"

-- Once that's done:
run the following (*** RUN

[2019-07-17 20:17] justaugustus commented on #2982
Linking the conversation in #wg-k8s-infra, so that context doesn't lost on apt/yum repos: https://kubernetes.slack.com/archives/CCK68P2Q2/p1562665049225800

[2019-07-17 20:19] tstromberg commented on #1378
@reegnz - I disabled systemd-timesyncd because it could conflict with hypervisor time synchronization. At the time, I wasn't aware that there were hypervisors which didn't handle time synchronization out-of-band.

I agree though that for hyperkit, we will need an sntp daemon to talk to in order to make this work.

[2019-07-17 20:23] tstromberg commented on #2510
It would be nice if the dashboard command could detect this quirk and apply the aforementioned fixRBAC fix before starting the dashboard. Like, somewhere around here:

https://github.com/kubernetes/minikube/blob/4178c4486d29c3616560f21f2fd85e1c677e1333/cmd/minikube/cmd/dashboard.go#L97

 Help wanted!

[2019-07-17 20:25] lewijw commented on #4783
Thanks Ivanka.  Your solution was extremely helpful.  As a result, I got through this tutorial: https://kubernetes.io/docs/tutorials/hello-minikube

Except for this:
PS C:\WINDOWS\system32> minikube addons disable heapster

X disable failed: [disabling addon deploy/addons/heapster/influx-grafana-rc.yaml.tmpl: Process exited with status 1]

* Sorry that minikube crashed. If this was unexpected, we

[2019-07-17 20:27] medyagh commented on #4788
@csantanapr are you starting your minikube using a  -p profile ? or just the default profile?

[2019-07-17 20:33] medyagh opened #4795 "Investigate: config.ReadConfig() seems to be not used"
https://github.com/kubernetes/minikube/blob/4178c4486d29c3616560f21f2fd85e1c677e1333/pkg/minikube/config/config.go#L73

[code]

[2019-07-17 20:35] tstromberg commented on #4783
While this issue is a good collection of friction points for Hyper-V usage, the path toward resolving the first item would be improving the string here:

https://github.com/kubernetes/minikube/blob/4178c4486d29c3616560f21f2fd85e1c677e1333/pkg/minikube/problem/err_map.go#L142

It should also point to documentation for setting up minikube & HyperV. If you have a suggested way of wording this to help

[2019-07-17 20:38] tstromberg commented on #4782
I'd be eager to see this fixed: perhaps the first step is getting rid of the storage-provisioner fork we have?

Related: #3628

[2019-07-17 20:42] tstromberg commented on #4789
I'm not as worried about the storage provisioner being broken, but CoreDNS exiting is a big deal. Any clue as to why the pod might not have access to /tmp?

I'd be curious to see the output of:

`kubectl describe coredns-5c98db65d4-x4k6m -n kube-system`
`stat /tmp`

[2019-07-17 20:42] afbjorklund commented on #2982
@justaugustus : thanks for the link, but wasn't sure about the full context of the request
i.e. if minikube was to be included in the main repo, or set up a similar one for the project

We will start producing the packages for next release, so there should be some made for 1.3.0
Of course we already have the `minikube` packages, this was for `docker-machine-driver-kvm2`

[2019-07-17 20:43] medyagh commented on #4795
it worth noting,

we have two places for config now
one for profiles
` ~/.minikube/profiles/p1/config.json`

and one that seems to be global:
` ~/.minikube/config/config.json`

the second one seems to be global, and is used for caching images.

[2019-07-17 20:45] tstromberg commented on #4764
I'm not sure anyone has tried to make instructions for it - but I don't see why it wouldn't work.

Any luck with it yourself?

[2019-07-17 20:46] tstromberg commented on #4617
Is there any chance there is a VPN preventing your host from talking to your guest?

If so, try turning it off first.

[2019-07-17 20:46] tstromberg commented on #4616
@medyagh - any progress?

[2019-07-17 20:51] tstromberg commented on #4604
I can't tell from #4627 - do we think this issue has been fixed now?

If not, what is required to do so?

[2019-07-17 20:52] tstromberg commented on #4588
@BenHall - any luck?

[2019-07-17 20:55] tstromberg commented on #4466
I'd be curious to see the output of `minikube status` and `kubectl get po -A`.

Also, do you mind checking if `minikube delete` fixes the issue?

[2019-07-17 20:56] tstromberg commented on #4473
`minikube start --apiserver-port` should be a valid workaround. Do you mind checking if it works for your case?

[2019-07-17 21:01] tstromberg commented on #4477
I bet this issue is due to a lack of quoting when we generate the kubeadm YAML.

The fix is likely to be adding double quotes around {{$val}} for the different kubeadm templates, such as:

https://github.com/kubernetes/minikube/blob/24ad1d82b9b49864dd03791432451e66c66522d1/pkg/minikube/bootstrapper/kubeadm/templates.go#L125

If you have a chance, give it a try and I'll be happy to review the PR. H

[2019-07-17 21:04] medyagh commented on #4795
related
`./out/minikube config view ` does not respect profile

[2019-07-17 21:29] mozai commented on #4615
When I do `sudo minikube start` it insists "⚠️  Please don't run minikube as root or with 'sudo' privileges. It isn't necessary."  But when I try to launch it without root or sudo privileges, I get "💣  Failed to update cluster: downloading binaries: copying kubeadm: copy: error removing file /usr/bin/kubeadm: remove /usr/bin/kubeadm: permission denied"

[2019-07-17 22:33] csantanapr commented on #4788
@medyagh

I don't understand the term `next run` because it did not make far enough to be written into the `$HOME/.minikube/config/config.json`

The `minkube set config` command is not doing the save because `container-runtime` is not part of the list of settings in https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/config/config.go#L48

[2019-07-17 22:38] tstromberg commented on #4481
Related: #4353

If you can duplicate this, I would love to see the following information:

- The output of `minikube start --alsologtostderr`
- `kubectl config view --minify | grep /.minikube | xargs stat` (which you provided)
- `minikube status`

[2019-07-17 22:40] tstromberg commented on #4484
Thanks for reporting this! Do you mind clarifying exactly how to reproduce this environment and error message? I don't quite follow.

Also, please include the output of `minikube logs`

[2019-07-17 22:43] tstromberg commented on #4487
Can you configure your VPN to ignore the IP ranges listed at https://github.com/kubernetes/minikube/blob/master/docs/http_proxy.md:

* 192.168.99.0/24
*10.96.0.0/12

It should function properly then.

[2019-07-17 22:53] tstromberg commented on #4488
Our documentation isn't great here, but the output is fairly specific about what the problem is in your various attempts. I only checked 3, but:

[code]

[code]

[code]

https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/ has the list of known good apiserver flags.

If you don't mind telling me which of the supported apiserver flags you are trying to set, I can help y

[2019-07-17 22:54] tstromberg commented on #4488
It's also worth noting that the documentation probably reflects Kubernetes v1.15, so you may want to upgrade to minikube v1.2 first.

[2019-07-18 00:01] Avy4140 commented on #4764
Still no luck for me but I need to do it. If you get something please let me know I’m still researching on the same.

Sent from my iPhone

[2019-07-18 00:54] algakzru commented on #4487
I have contacted Astrill development team and this was there answer :
[code]
The above solution solved my problem, Minikube don't conflict with Astrill any more.

[2019-07-18 01:40] denisusmpWS opened #4801 "StartHost: create: creating: exit status 1"

[2019-07-18 01:41] denisusmpWS commented on #4801
I have problem on initializer service minikube.

This is message:

E0717 20:38:03.963546   16260 start.go:559] StartHost: create: creating: exit status 1

X Unable to start VM: create: creating: exit status 1

* Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
  - https://github.com/kubernetes/minikube/issues/new

[2019-07-18 04:08] shreyasp91 opened #4802 "[NON_C_DRIVE] when run from C:\ but user config is on different drive"
Unable to get Minikube start even when I do it from C: Drive

I run the below command and receive the below error

C:\Kubernetes>minikube start
* minikube v1.2.0 on windows (amd64)
* Downloading Minikube ISO ...
 129.33 MB / 129.33 MB [============================================] 100.00% 0s
* Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0718 09:14:58.371558   12332 start.go:5

[2019-07-18 04:44] rajahafify commented on #1926
I don't get why this issue is closed while a few people still facing this issue like myself.
[code]

[2019-07-18 06:05] cyrilzh commented on #4782
Thanks @tstromberg.

I figured out my problem.

In my configuration, I didn't specify default gateway in DHCP scope options. So the ChooseHostInterface function in pkg/util/net/interface.go cannot find the correct Host Interface.

comments of ChooseHostInterface function
[code]

After adding default gateway, the problem got fixed.

[2019-07-18 06:05] #4782 closed

[2019-07-18 06:41] narernder opened #4803 "hyperv: StartHost: start: exit status 1"
Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Restarting existing hyperv VM for "minikube" ...
StartHost: start: exit status 1

X Unable to start VM: start: exit status 1

* Sorry that minikube crashed. If this was unexpected, we would love to hear from you:

[2019-07-18 06:46] afbjorklund commented on #4615
Sounds like a bug, it should only copy those files for the none driver (which is not supposed to warn)

[2019-07-18 06:55] bygui86 commented on #4488
@tstromberg thank you very much for your answer.
I did this test before the release of Kubernetes 1.15 and Minikube 1.2. Now I upgraded already both.

This is the list of flags I want to enable:
	--audit-dynamic-configuration
	--audit-policy-file
	--audit-log-path
	--audit-log-mode
	--audit-log-maxage
	--audit-log-maxbackup
	--audit-log-maxsize
	--feature-gates
		DynamicAuditing=true

The final go

[2019-07-18 08:06] reegnz commented on #1378
@afbjorklund one *could* also argue that a vm should be blind to the hypervisor and take time from another trusted source instead.

The point is, we cannot fix the hypervisor as easily as we can fix this in the minikube ISO however. Once somebody fixes this in hyperkit we could get away with not having an sntpd running.

@tstromberg could we detect what hypervisor we are running in?

[2019-07-18 08:07] reegnz commented on #1378
Just checked systemd unit config parameters:
https://www.freedesktop.org/software/systemd/man/systemd.unit.html#ConditionArchitecture=

One could use `ConditionVirtualization` to only activate for certain hypervisor types.

[2019-07-18 08:18] reegnz commented on #1378
Checked out the systemd-detect-virt code, hyperkit should be identifyable as bhyve (xhyve under hyperkit is a bhyve fork).
https://github.com/systemd/systemd/blob/64ef83139cf84a700b95e8150a458b0bb9f720de/src/basic/virt.c#L132

@tstromberg I think we should enable systemd-timesyncd and add a drop-in unit config with `ConditionVirtualization=bhyve`.

What do you think, should I give it a go?

[2019-07-18 08:25] yhekma commented on #1378
FYI I have encountered the same issue using vmware fusion.

[2019-07-18 09:11] reegnz commented on #1378
We could define multiple virtualization technologies in the ConditionVirtualization option, eg. `ConditionVirtualization=bhyve|vmware`.

I am looking into how I can enable timesyncd with buildroot and build the image on mac (don't have a linux machine at hand).

I will come back with the results.

Then somebody could help out how we get the drop-in file into the buildroot build (maybe with a packa

[2019-07-18 10:42] kumarom commented on #4242
@alirizakeles [this](https://github.com/kubernetes/minikube/blob/master/docs/reusing_the_docker_daemon.md) should help you (works with minikube v1.2.0 onwards)

[2019-07-18 10:55] afbjorklund commented on #4132
Upstream docker-machine has this lovely hack, before calling `DetectProvisioner`:

[code]

Like the OP says, the `none` driver has never supported Provisioner (nor SSH)

[2019-07-18 11:10] ashwini-git opened #4804 "Minikube installation on Azure VM - NV6"
I am working onto install Minikube on Azure VM - Ubuntu - NV6 .
I installed KVM2 driver , now as mentioned in the document it is required t have VT-x/AMD-v virtualization enabled in BIOS .

Question - How do i know if Azure VM - NV6 supports VT-x/AMD-v virtualization ? If it not by default , how can i enable it?

I also installed Minikube using curl , but it throws error if i try to start Minikube

[2019-07-18 11:17] afbjorklund commented on #4804
Apparently it is supported on some sizes (Dv3/Ev3) of virtual machines:
https://azure.microsoft.com/sv-se/blog/nested-virtualization-in-azure/

If it _is_ supported, then the normal VT-x/AMD-v detection should see it...
I still think we need some better documentation for this cloud setup (#4730)

[2019-07-18 11:17] kumarom commented on #4604
@tstromberg I think #4627 resolves this issue as well..

[2019-07-18 11:58] castlemilk commented on #4604
I was experiencing the exact same issue with Tekton, the merged changes in https://github.com/kubernetes/minikube/pull/4639, should hopefully resolve this and ensure testing validates connectivity from outside the minikube cluster (on port 5000) as well as internal access to the registry (on port 80)

[2019-07-18 12:16] kumarom commented on #4604
@tstromberg @castlemilk @kameshsampath and others, I think #4805 should fix this issue.

[2019-07-18 13:14] davisford commented on #3930
@aidagha with the Cisco VPN I indicated above, there is no way.  It hijacks the complete network stack.  I believe it can be configured to allow local LAN access when using VPN (see pic):

![Screen Shot 2019-07-18 at 9 13 06 AM](https://user-images.githubusercontent.com/186677/61460210-460e8780-a93c-11e9-8c7f-82c91a1108f6.png)

But note the _(if configured)_ -- mine doesn't allow it.  If you can c

[2019-07-18 14:44] zhangzhuow commented on #4587
果然关闭hyper-v就可以了   不是说virtualBox6.0+可以直接运行的吗

[2019-07-18 15:39] butuzov commented on #4771
Running same `minikube` version. No problems observed.

![image](https://user-images.githubusercontent.com/651824/61471303-38342300-a98b-11e9-967b-939515b1fb35.png)

Try to remove context and VirtualBox machine manually or upgrade Docker...

[2019-07-18 15:54] tstromberg commented on #4500
Here's the key failure:

[code]

Any idea what is listening on port 10250? CentOS should be OK.

`sudo lsof -i TCP:10250` should tell you.

I wonder if we used to stop kubelet at startup, but no longer do?

[2019-07-18 15:58] kfox1111 commented on #4072
Is there any way to switch the root filesystem away from rootfs?

[2019-07-18 16:00] tstromberg commented on #4771
Hey @ragagit - sorry that you are running into this issue. Do you mind attaching the output of these two commands:

`minikube logs`
`sudo lsof -i UDP:53`

I am also curious if `minikube delete` works around the issue. Thanks for the report!

[2019-07-18 16:02] tstromberg commented on #4801
Hey @denisusmpWS. I'm sorry to hear that you are running into a problem. I don't see the full output, but I suspect this is Hyper-V related. Do you mind sharing:

* The command-line you used to start minikube
* The output of this command-line, but adding these two flags: `--alsologtostderr -v=8`

Thanks!

[2019-07-18 16:05] kfox1111 commented on #3512
This also seems to be related to csi drivers being broken: https://github.com/kubernetes/minikube/issues/4072

[2019-07-18 16:06] tstromberg commented on #4802
Hey @shreyasp91 - I'm sorry to hear that this is not working correctly on your machine. I think you may have found a situation I wasn't aware of. Do you mind trying this for me:

`setx MINIKUBE_HOME=C:\\Kubernetes\\.minikube`

And running `minikube <your arguments> --alsologtostderr -v=8`

If that doesn't work, try:

`setx MINIKUBE_HOME=/Kubernetes/.minikube`

I imagine other people are running in

[2019-07-18 16:11] tstromberg commented on #4803
Hey @narernder . I'm sorry to hear that you are running into a problem Do you mind sharing:

* The command-line you used to start minikube
* The output of this command-line, but adding these two flags: `--alsologtostderr -v=8`

Thanks!

[2019-07-18 16:15] tstromberg commented on #4440
This issue appears to be a duplicate of #2481, so I will close this one so that we may centralize the content relating to the issue. I think the root cause for this may actually be #1753, based on the file count.

If you feel that this issue is not in fact a duplicate, please feel free to re-open it. If you have additional information to share, please add it to the new issue.

Thank you for report

[2019-07-18 16:15] #4440 closed

[2019-07-18 16:16] tstromberg commented on #2481
I'm curious, for those of you who are seeing this - is this occurring with a directory that contains more than 600 files?

If so, it may be related to #1753

[2019-07-18 16:32] tstromberg opened #4806 "Detect --extra-config issues immediately rather than waiting 10 minutes"
If a user feeds bad data into apiserver, the apiserver crashes immediately with messages that can be found using `minikube logs --problems`.

[code]

This makes experimentation hard. Instead of telling users about it immediately, we currently make them wait ~8 minutes. We can do better :)

[2019-07-18 16:32] tstromberg commented on #4806
Example command-line:

`minikube start --extra-config=apiserver.audit-dynamic-configuration=true --extra-config=apiserver.audit-policy-file=- --extra-config=apiserver.audit-log-path=- --extra-config=apiserver.audit-log-mode=777 --extra-config=apiserver.audit-log-maxage=5 --extra-config=apiserver.audit-log-maxbackup=5 --feature-gates=DynamicAuditing=true`

[2019-07-18 16:34] tstromberg commented on #4806
See #4488 and any of these issues for inspiration:

https://github.com/kubernetes/minikube/issues?utf8=✓&q=label%3Acause%2Fapiserver-flags+

[2019-07-18 16:48] tstromberg commented on #4488
Try this on:

[code]

Two notes:

- You'll need to provide a policy file. This example assumes that you've added one to ~/.minikube/files/some-path (which gets copied into the VM).
- If you have to wait >30 seconds for Kubernetes to start up, run this in another window to show what is almost certainly a flag issue:
`minikube logs --problems`

[2019-07-18 16:58] tstromberg commented on #4488
If you find a command that works for you - please share it!

[2019-07-18 17:01] tstromberg commented on #4530
We can do a better job about detecting and documenting this issue. Leaving open for now.

[2019-07-18 17:02] tstromberg commented on #4553
Marking as dupe of #4547

[2019-07-18 17:02] #4553 closed

[2019-07-18 17:05] tstromberg commented on #4554
I suspect that this tutorial is very very old: some of these flags haven't been available in minikube for over a year now. I think you should just be able to use `minikube start`. I highly encourage you to also be on a recent release of minikube if you are not already (v1.2.0).

As far as the strange error: the paths given reference points within a Linux VM, so leave them as /. \ is a special way

[2019-07-18 17:06] #4554 closed

[2019-07-18 17:08] tstromberg commented on #4804
I don't have Azure access to help, but do you mind sharing the output of:

`minikube start --alsologtostderr -v=1`

It'd be good to see what error shows up currently. I know that minikube w/ kvm2 and virtualbox works really well under GCE, so hopefully Azure will work similarly well.

[2019-07-18 17:34] tstromberg commented on #4476
I believe this can be closed now with the v1.2.0 release. Please say `/reopen` to reopen it if this is not the case.

[2019-07-18 17:34] #4476 closed

[2019-07-18 17:42] #4384 closed

[2019-07-18 18:22] sharifelgamal commented on #4189
Seems to be a duplicate of #4146, closing in favor of it.

[2019-07-18 18:22] #4189 closed

[2019-07-18 20:00] afbjorklund commented on #3890
I was thinking `arm64`, but then again who uses virtualization on that platform ? Can close it with `s390x`.

[2019-07-18 20:12] tstromberg opened #4810 "cluster_test is slow and is making unnecessary socket calls."
cluster_test takes 6 minutes to run in travis:

`ok  	k8s.io/minikube/pkg/minikube/cluster	360.314s	coverage: 50.6% of statements`

I happened to strace it locally and notice that it was making socket calls. Probably for a health check.

[2019-07-18 20:18] afbjorklund commented on #4810
I think this is fixed in PR #4525 with 428929d7f50318ee638ad72bced0271c2d2db744

Seems like it was trying to set the VM clock, using SSH commands (that all time out) ?

[2019-07-18 21:17] danielsonjh commented on #1378
I've encountered the same issue on Windows 10 with the hyper-v driver as well

[2019-07-18 21:27] kameshsampath commented on #4604
Thanks all for fixing this looking for the next release of minikube to check this out

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Om Kumar <notifications@github.com>
Sent: Thursday, July 18, 2019 9:16:34 PM
To: kubernetes/minikube <minikube@noreply.github.com>
Cc: Kamesh Sampath <kamesh.sampath@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [

[2019-07-18 21:56] medyagh opened #4812 "Add integration test for "profile list""
Add integration tests for minikube profile list command added by this PR

https://github.com/kubernetes/minikube/pull/4811

[2019-07-19 00:28] ragagit commented on #4771
The minikube delete worked. Thanks for your prompt reply. Sorry I should have said so. Thanks again!

[2019-07-19 01:31] ragagit commented on #4756
As suggested by @tstromberg the problem was fixed by running minukube delete.
Thanks for your prompt reply, you guys rock!

[2019-07-19 02:25] objectiveous commented on #4477
It was indeed an issue w/ quotes. The following worked:

```minikube start --extra-config=apiserver.v=10 --vm-driver hyperkit --extra-config "apiserver.cors-allowed-origins=["http://localhost:3000"]"```

Unfortunately, I'm unable to open a PR to fix this (long story).

[2019-07-19 03:00] Avy4140 opened #4815 "error: yaml: line 2: mapping values are not allowed in this context"
Asarma-M15MBP:~ asarma$ curl -LO https://k8s.io/examples/application/wordpress/mysql-deployment.yaml
% Total % Received % Xferd Average Speed Time Time Time Current
Dload Upload Total Spent Left Speed
100 185 100 185 0 0 671 0 --:--:-- --:--:-- --:--:-- 672
100 1238 100 1238 0 0 2009 0 --:--:-- --:--:-- --:--:-- 2009
Asarma-M15MBP:~ asarma$ curl -LO https://k8s.io/examples/application/wordpress/wo

[2019-07-19 04:16] venkateshprasadr commented on #2018
minikube start
* minikube v1.1.1 on windows (amd64)

! Ignoring --vm-driver=virtualbox, as the existing "minikube" VM was created using the hyperv driver.
! To switch drivers, you may create a new VM using `minikube start -p <name> --vm-driver=virtualbox`
! Alternatively, you may delete the existing VM using `minikube delete -p minikube`

* Restarting existing hyperv VM for "minikube" ...
E0719 09

[2019-07-19 04:45] varkalaramalingam commented on #4530
To install minikube with dashboard in 5 minutes in ubuntu

$ sudo su

####Install Docker 17.12 CE

apt-get install apt-transport-https ca-certificates curl
software-properties-common
curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
add-apt-repository "deb [arch=amd64]
https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
apt-get update
apt-get install dock

[2019-07-19 06:58] kpooja20 commented on #927
same problem after installing  libvirt.

[2019-07-19 07:14] mrtkp9993 opened #4816 "Unable to start VM - This computer doesn't have VT-X/AMD-v enabled"
I am trying to start ```minikube``` and got following error:

[code]

My system information:

[code]

Virtualization seems enabled:

[code]

[2019-07-19 07:32] jwausle commented on #4477
One hint regarding `http://*` allowed redirections. The asterix must escaped on cmdline (`http://\*`)

[code]

[2019-07-19 07:33] afbjorklund commented on #4816
This is an unfortunate regression, from moving to a libmachine without a fix for https://github.com/docker/machine/issues/4669

The workaround is to use `minikube start --no-vtx-check`.  The originial minikube issue is: https://github.com/kubernetes/minikube/issues/3706

[2019-07-19 07:41] afbjorklund commented on #4815
Make sure to check the YAML files for syntax, a tool like `yamllint` might help with this.

It seems like there is something wrong a start of your document, maybe a curly dash or so ?

[2019-07-19 07:46] afbjorklund commented on #4530
Those versions look outdated... Anyway, there _will_ be better documentation provided for `none` etc.

If you no longer care about running minikube in nested virtualization, maybe this issue can be closed ?

[2019-07-19 07:55] afbjorklund commented on #927
For anyone else having the same issue, please check that you are in the group and that libraries are ok.

`id` should include "libvirtd", and for instance `ldd` should *not* show "version `LIBVIRT_3.0.0' not found"

Issue itself will soon be fixed in minikube 1.3.0 (#4555)

It was _supposed_ to be fixed in minikube 1.0.0 (#3689)

[2019-07-19 08:04] afbjorklund commented on #4816
Moving forward, we could move to the latest libmachine `master` where the fix should be included now.

Since https://github.com/docker/machine/commit/2b369175bc5ae80ad9d98d069059af1a17350244

[2019-07-19 12:51] bygui86 commented on #4488
Great thanks! I will try asap and keep you posted!

[2019-07-19 12:55] afbjorklund commented on #4704
New Docker: 18.09.8 (#4818)

[2019-07-19 14:57] tstromberg opened #4820 "TestFunctional/Registry: waiting for registry-proxy pods: timed out waiting for the condition"
Tracking bug for this test failure:

[code]

I believe. this was due to #4805

[2019-07-19 15:19] bygui86 commented on #4488
After some tests, I have some findings...

These flags seems to be correct:
[code]
but I can't be sure because I don't know how to verify and where to find logs... But at least Minikube starts properly.

This flag is not correct or the path is not correct:
[code]
Output of `minikube logs --problems`:
[code]
I put the attached file (audit-policy.yaml) in the folder `~/.minikube/files/audit-policy/`

[2019-07-19 15:52] just-another-dude commented on #4500
@tstromberg Hello, thanks for replying!
Here is a screenshot of what is listening (it is kubelet):
![image](https://user-images.githubusercontent.com/49374459/61548408-4f8c1280-aa56-11e9-87ca-d915df2b5713.png)

[2019-07-19 18:21] LuckyLeavell2 opened #4822 "hyperkit: Error attempting to get plugin server address for RPC: Failed to dial the plugin server in 10s"
I attempt to add a driver for VMware Fusion 8 and then tried to remove it even uninstalling and reinstalling minikube.

Extracted logs:
Luckys-MacBook-Pro:~ lucky$ minikube start --vm-driver hyperkit
😄  minikube v1.2.0 on darwin (amd64)
🔥  Creating hyperkit VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0719 13:49:52.386241   35261 start.go:559] StartHost: new host: Error attempting to get plugin s

[2019-07-19 18:55] afbjorklund commented on #4822
Where did you put the driver binary ? Somewhere like `/usr/local/bin` perhaps ?

Or did you want to *stop* using vmware, and set another driver in your config ?

`minikube config`

[2019-07-19 19:29] #4820 closed

[2019-07-19 20:32] diogo-caetano opened #4824 "hyperv: StartHost: create: creating: exit status 1"
minikube start --vm-driver=hyperv
* minikube v1.2.0 on windows (amd64)
* Creating hyperv VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0719 17:12:26.915779    7408 start.go:559] StartHost: create: creating: exit status 1

X Unable to start VM: create: creating: exit status 1

* Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
  - https://github.com/kubernetes/mi

[2019-07-19 21:31] eluricharter opened #4826 "vbox: timed out waiting to elevate kube-system RBAC privileges: i/o timeout"
minikube start
😄  minikube v1.2.0 on darwin (amd64)
💿  Downloading Minikube ISO ...
 129.33 MB / 129.33 MB [============================================] 100.00% 0s
🔥  Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
🐳  Configuring environment for Kubernetes v1.15.0 on Docker 18.09.6
💾  Downloading kubeadm v1.15.0
💾  Downloading kubelet v1.15.0
🚜  Pulling images ...
🚀  Launching Ku

[2019-07-20 07:53] afbjorklund commented on #4523
Here is the final version:

**virtualbox**

[code]

**none**

[code]

Including the info fixes.

[2019-07-20 11:32] afbjorklund commented on #4388
@tstromberg : it's hard to tell the _scope_ of this feature (for the 1.3.0 timeframe)

Is it just going to fix the 404, or will there be some actual content added as well ?

https://minikube.sigs.k8s.io/docs

[2019-07-20 11:40] esbol-moldrakhmetov commented on #951
Maybe I can help someone else. First I put VBox 6.* and then I had a problem with changing the ip address, then I made downgrade on VBox 5.2.

[2019-07-20 11:57] LuckyLeavell2 commented on #4822
Neither.  I am very new to kubernetes and was taking an introductory  course in it from SkillSoft. At first it complained because it could not find VirtualBox (because it is not installed on my MacBook). I could not find any list of appropriate values for the vm-driver and tried by guessing  "fusion" and then "vmware" by guessing. Other than Fusion, I had no additional driver installed.

From your

[2019-07-20 12:01] afbjorklund opened #4829 "Add some Docker Machine documentation"
Since Minikube uses **Docker Machine** to create and provision the VM,
it could be nice to have some more "advanced" docs on (lib)machine ?

We used to have a reference to https://github.com/docker/machine,
but it's not posted anymore on our new website (for some reason).

Also, some of the user docs are available on https://docs.docker.com/

And some non-official drivers live on https://github.co

[2019-07-20 12:08] afbjorklund commented on #4822
If you don't want to use VirtualBox, you need to download and install a driver for VMware.

Unfortunately, I am not aware which one is the best at the moment, there's also "fusion" ?

I _think_ this is the one you want, `docker-machine-driver-vmware`:

* https://github.com/machine-drivers/docker-machine-driver-vmware

[2019-07-20 14:54] shreyasp91 commented on #4802
Hi @tstromberg ,

 Thank you so much, I ran "setx MINIKUBE_HOME C:\\Kubernetes\\.minikube" and it worked like a charm.

Regards,
Shreyas

[minikube install verbose.txt](https://github.com/kubernetes/minikube/files/3413720/minikube.install.verbose.txt)

[2019-07-20 15:17] seamc commented on #3735
(Win10, minikube 1.2.0) I had been struggling with this for a little bit, and minikube holds fast through reboots and hyper-v service restarts after I disabled all Virtual Switch Extensions (particularly Microsoft NDIS Capture) on the External Switch that I use for minikube.  My virtual switch ("k8s") is the only external switch managed by hyper-v; everything else is private or internal.

Specific

[2019-07-20 20:04] medyagh opened #4830 "integeration tests clean up: "delete --all""
in the "clean up" after the integration test https://github.com/kubernetes/minikube/blob/6552436311895f46494ec32291700a864de5ef0d/hack/jenkins/common.sh#L215

we only delete one minikube profile.
once we have "delete --all" PR merged, we need to add it to the clean up script.

https://github.com/kubernetes/minikube/pull/4780

We need to delete all available minikube profiles and vms so we can do p

[2019-07-21 01:25] flstaats commented on #4643
I figured out what was happening.  During the first run minikube downloads files from docker under the ~/.minikube/cache directory.  If you have your local docker configured with interactive authentication the prompt for authentication is not exposed so you wind with with an authentication failure.  Simply removing the line '"credsStore": "pass"' from the .docker/config.json allowed minikube to bo

[2019-07-21 09:05] blueelvis commented on #4783
@IvankaTashkova - Thanks for reporting the issue! Could you please tell us more about the issues you are facing after starting minikube on Hyper-V? Is the initial issue resolved or is Minikube still not starting?

@tstromberg - I think we should have a section on that documentation regarding Windows. This issue is happening because by default, the driver which is passed (when minikube is started o

[2019-07-21 11:02] HanYL-coder commented on #4350
I got exactly the same issue too and was solved by @albinsuresh 's  reply.
thx a lot.

[2019-07-21 11:58] #4816 closed

[2019-07-21 12:23] BlankCHN opened #4831 "How to config kubernetes apiserver?"
I want to expose apiserver by http , and I want to use port 8080. How to config ?

[2019-07-21 13:54] jerry-x opened #4832 "vmwarefusion: failed to load certificate: the certificate is not valid yet"
# minikube start --kubernetes-version v1.13.1
ð  minikube v1.2.0 on darwin (amd64)
✅  using image repository registry.cn-hangzhou.aliyuncs.com/google_containers

⚠️  Ignoring --vm-driver=virtualbox, as the existing "minikube" VM was created using the vmwarefusion driver.
⚠️  To switch drivers, you may create a new VM using `minikube start -p <name> --vm-driver=virtualbox`
⚠️  Alternatively, you

[2019-07-21 14:41] blueelvis commented on #4824
@diogo-caetano - Thanks for reporting the issue! I think the issue is because you are not passing the virtual switch to bind to using the `--hyperv-virtual-switch` parameter and passing a value of the Virtual switch which is already there in Hyper-V. Could you please try that?

If it still doesn't work, could you please paste back the output of the command you are trying to run and add `--alsologt

[2019-07-21 14:46] blueelvis commented on #4466
@tstromberg - I think we should move this to a separate issue as the OP is about Hyper-V? And on the same note, we could also close the issue as it has been more than a month?

[2019-07-21 14:46] solerainc commented on #1043
brew cask uninstall minikube
brew cask install minikube
__________________other troubleshooting
minikube delete : to delete a corrupted k8s cluster
minikube start : create a new k8's cluster

[2019-07-21 18:55] BZM708 opened #4833 "Minikube driver doesn't work"
**The exact command to reproduce the issue**: sudo minikube start --vm-driver kvm2

**The full output of the command that failed**:<
😄  minikube v1.2.0 on linux (amd64)
⚠️  Please don't run minikube as root or with 'sudo' privileges. It isn't necessary.
🔥  Creating kvm2 VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0721 10:44:04.513730   18419 start.go:559] StartHost: new host: Driver "kvm2" not f

[2019-07-21 21:19] #1889 closed

[2019-07-21 22:20] #2972 closed

[2019-07-22 04:21] venkateshprasadr commented on #2018
minikube stop
* Stopping "minikube" in hyperv ...
* Stopping "minikube" in hyperv ...
* Stopping "minikube" in hyperv ...
* Stopping "minikube" in hyperv ...
* Stopping "minikube" in hyperv ...

X Unable to stop VM: Temporary Error: Stop: minikube: exit status 1
Temporary Error: Stop: minikube: exit status 1
Temporary Error: Stop: minikube: exit status 1
Temporary Error: Stop: minikube: exit statu

[2019-07-22 04:30] medyagh commented on #4812
Done

[2019-07-22 04:30] #4812 closed

[2019-07-22 05:26] sdstewar commented on #3566
Also having this issue as described with v1.2.0 of the driver.

[2019-07-22 08:19] alirizakeles commented on #4242
@kumarom thanks. i did not check the document you mentioned, another blog post helped me and it worked. i am happy with my setup now. after upgrading my minikube installation i'll try the addon again.

[2019-07-22 09:05] IvankaTashkova commented on #4783
Hi, everyone!

After resolving this issue I was blocked by hanging process on  `Waiting for SSH access ...`
I'm not sure how I resolved this after trying some things from other Github issues, but the process has finally succeeded.
For me, it would be easier if there is a documentation on how to set up minikube using VirtualBox and how  - using Hyper-V. I would be happy to help with this documentat

[2019-07-22 09:07] Akashdesarda opened #4835 "certificate apiserver-kubelet-client not signed by CA certificate ca: crypto/rsa: verification error"
I am not able to start minikube on GCP vm instance. Here is the error
<pre>root@i-ao-kubeflow-akash:~# minikube start --vm-driver=none
There is a newer version of minikube available (v1.2.0).  Download it here:
https://github.com/kubernetes/minikube/releases/tag/v1.2.0

To disable this notification, run the following:
minikube config set WantUpdateNotification false
😄  minikube v1.1.1 on linux (am

[2019-07-22 09:18] reegnz commented on #1378
@danielsonjh thanks for the input! So we're at 3 hypervisors now...

@tstromberg would it make sense to just reenable the systemd-timesyncd daemon and open a follow-up ticket for the virtualbox issue (if it even exists anymore)?

3 out of 4 hypervisors break because of no ntp in the vm anymore.

[2019-07-22 09:49] kmayura1 commented on #4540
unfortuantely that didn't help, I tried to remove whole minikube and reinstalled, still same issue.

[2019-07-22 11:14] IvankaTashkova opened #4836 "minikube dashboard failed with 503"
`minikube dashboard` verifying proxy failed with this error:
Temporary Error: unexpected response code: 503

`minikube version: v1.2.0`

* Additional info: the error message is shown more than once

[2019-07-22 11:34] itsallonetome commented on #4789
[code]

[code]

[code]

[code]

[2019-07-22 11:41] itsallonetome commented on #4789
[code]

[2019-07-22 11:55] itsallonetome commented on #4789
In answer to the question ... no, no idea.  A quick background:  I'm (slowly) working through the teaching materials for kubernetes / minikube, and have just provisioned a new Ubuntu 16.04 VM as the old one is expiring, and updated it all to the latest software versions.  Then I followed the same script as for the previous VM to get minikube working with docker (it's a pain).  And this was the res

[2019-07-22 12:12] IvankaTashkova opened #4837 "minikube addons disable failed: Process exited with status 1"
Following this tutorial: https://kubernetes.io/docs/tutorials/hello-minikube/

`minikube addons disable heapster`

X disable failed: [disabling addon deploy/addons/heapster/influx-grafana-rc.yaml.tmpl: Process exited with status 1]

* Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
  - https://github.com/kubernetes/minikube/issues/new

`minikube version: v1.2.0

[2019-07-22 12:15] itsallonetome commented on #4789
Just cleaned directories and ran process again and got the same result ... :-(

[2019-07-22 12:19] itsallonetome commented on #4789
[code]

[code]

[2019-07-22 13:06] SRamY commented on #3784
Hi Please anyone help me on the below error,

                                                                                                                                                                        * minikube v1.2.0 on windows (amd64)
* Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0722 18:35:42.754161    4724 start.go:559] StartHost: create: precreate: VBoxMana

[2019-07-22 14:36] itsallonetome commented on #4789
Just upgraded to Kubernetes v1.15.1 & Docker 18.09.8.  Problem seems to have gone away.

[2019-07-22 14:38] itsallonetome commented on #4789
Spoke too soon.  It seems I checked during the brief period when the container was active.  Now it says:
[code]

[2019-07-22 14:40] itsallonetome commented on #4789
[code]

[2019-07-22 16:28] medyagh commented on #4837
Hi @IvankaTashkova Thank you for taking the time to create this issue, yes please, could you please provide the minikibe logs and also your minikube start options ( do you use default driver ) ?

[2019-07-22 16:30] medyagh commented on #4836
I am curious, is your network behind a proxy or a vpn ?

[2019-07-22 16:31] medyagh commented on #4835
I am curious id this error happens in the newest version too ? would you mind trying with the latest verison of minikbue?

[2019-07-22 16:32] medyagh commented on #4833
@BZM708  I am curious have you tried to follow the advice message that minikube printed out ? to make sure to install the driver ? https://github.com/kubernetes/minikube/blob/master/docs/drivers.md#kvm2-driver

[2019-07-22 16:34] medyagh commented on #4831
@BlankCHN
you could specify a custom API port using  `--apiserver-port 8080` to minikube start.

for more info please checkout `minikube start --help`, please let me know if that helps you

[2019-07-22 16:37] medyagh commented on #1378
I think due to the multiple related issues we have seen, we need to address this as an important bug to fix soon.

[2019-07-22 16:52] LuckyLeavell2 commented on #4822
I downloaded the docker machine driver VMware for Mac OS-X above and did the following to install it:

chmod +x docker-machine-driver-vmware_darwin_amd64.dms
sudo mv docker-machine-driver-vmware_darwin_amd64.dms /usr/local/bin
sudo chown root:wheel /usr/local/bin/docker-machine-driver-vmware_darwin_amd64.dms
sudo chmod u+s  /usr/local/bin/docker-machine-driver-vmware_darwin_amd64.dms

ls -l /usr/l

[2019-07-22 16:58] LuckyLeavell2 commented on #4822
I also tried this:

minikube start --vm-driver docker-machine-driver-vmware_darwin_amd64.dms
😄  minikube v1.2.0 on darwin (amd64)
🔥  Creating docker-machine-driver-vmware_darwin_amd64.dms VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
💡  unsupported driver: docker-machine-driver-vmware_darwin_amd64.dms

[2019-07-22 18:00] tomjdon05 opened #4838 "minikube kubelet[2773]: unknown flag: --bootstrap-kubeconfig"
**The exact command to reproduce the issue**:
minikube.exe start --kubernetes-version="v1.6.0"

**The full output of the command that failed**:<details>

: Process exited with status 1

* Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
  - https://github.com/kubernetes/minikube/issues/new
* Problems detected in "kubelet":
  - Jul 22 17:39:03 minikube kubelet[27

[2019-07-22 18:36] ahopkins opened #4839 "logs hangs / kubectl: Unauthorized - you must be logged in"
**The exact command to reproduce the issue**:

    kubectl get pods

**The full output of the command that failed**:

    error: You must be logged in to the server (Unauthorized)

**The output of the `minikube logs` command**:

There isn't. It just hangs after this:

[code]

**The operating system version**:

    Linux thebrewery 5.1.3-arch1-1-ARCH #1 SMP PREEMPT Thu May 16 20:59:36 UTC 2019 x86_

[2019-07-22 18:45] khayamgondal commented on #4735
@priyawadhwa @afbjorklund is it still open? I can work on it.

[2019-07-22 18:46] medyagh commented on #4735
@khayamgondal yes it is open and I would be happy to assign it to you. please let me know if you need any help !

[2019-07-22 18:58] khayamgondal commented on #4735
cool, you can put my name on it. I ll get back to you for the questions once I setup the envionrment.

[2019-07-22 20:30] blueelvis opened #4841 "Add Signing Process for Windows Installer"
As of now, whenever the minikube installer is run, the following screen comes up which makes it look as if the executable is malicious to a user -

![image](https://user-images.githubusercontent.com/6985763/61663144-90518900-aced-11e9-91be-f4a0aa01ab4b.png)

This also revolves around having infrastructure/process to sign the executables/installers so that they can be verified.

Not sure if we need

[2019-07-22 20:49] BZM708 commented on #4833
I typed these commands in terminal:
<
sudo systemctl enable libvirtd.service
sudo systemctl start libvirtd.service
sudo systemctl status libvirtd.service
virsh net-list >

and the output is:
<
Synchronizing state of libvirtd.service with SysV service script with /lib/systemd/systemd-sysv-install.
Executing: /lib/systemd/systemd-sysv-install enable libvirtd

● libvirtd.service - Virtualization daem

[2019-07-22 21:18] blueelvis commented on #3207
@andreialecu -- I just checked this on Windows + Hyper-V and as per the metrics I can see in Task Manager, at rest, a fresh minikube cluster hovers around 5% ~ 12%.

[2019-07-23 01:39] douglaswth commented on #1574
I have a fix for this in docker/machine#4734 that at least works, but I am not quite sure if it is the best approach.

[2019-07-23 05:06] ashwini-git commented on #4804
WS-DSVMUser@WorkplaceSafety-KubeVM:~$ minikube start --alsologtostderr -v=1
I0723 05:00:50.074572   75943 notify.go:128] Checking for updates...
* minikube v1.2.0 on linux (amd64)
I0723 05:00:50.426594   75943 downloader.go:60] Not caching ISO, using https://s                                                                     torage.googleapis.com/minikube/iso/minikube-v1.2.0.iso
I0723 05:00:50.4

[2019-07-23 05:10] ashwini-git commented on #4804
@tstromberg above is the output - when i run " minikube start --alsologtostderr -v=1"
Let me know if you if you can help.
Thanks

[2019-07-23 05:30] SRamY opened #4845 "restarting hyperv: StartHost: start: exit status 1"
PS C:\WINDOWS\system32> kubectl version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.11", GitCommit:"637c7e288581ee40ab4ca210618a89a555b6e7e9", GitTreeState:"clean", BuildDate:"2018-11-26T14:38:32Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"windows/amd64"}
Unable to connect to the server: dial tcp 127.0.0.1:8080: connectex: No connection could be made because the targ

[2019-07-23 06:28] IvankaTashkova commented on #4836
I'm using a proxy. Is that the problem?

[2019-07-23 06:36] IvankaTashkova commented on #4837
[minikube-logs.txt](https://github.com/kubernetes/minikube/files/3420486/minikube-logs.txt)

I'm using Hyper-V.

`minikube start --vm-driver hyperv --hyperv-virtual-switch "Primary Virtual Switch`

[2019-07-23 08:10] afbjorklund commented on #4841
We do, as there are similar boxes coming up for the .deb and .rpm

[2019-07-23 08:35] blueelvis commented on #4841
Self signed cert can add the details so that the Publisher is displayed but it still will pop up this screen as the certificate won't be into the trusted root of the operating system. We need to get a known and valid certificate from a CA which is known.

Not sure what the process is to get a certificate from a CA over here.

[2019-07-23 08:42] blueelvis commented on #4845
Thanks for reporting this!

Could you please paste back the output of the following command?

`minikube start --alsologtostderr -v=8`

[2019-07-23 08:45] blueelvis opened #4846 "Add Documentation on setting up minikube with Hyper-V"
Quite a lot of people who are on Windows are using Hyper-V as it is built in. As of now, the documentation we have on the website doesn't include any initial setup which is required to setup minikube with Hyper-V.

Relates with #4783

/assign

[2019-07-23 08:55] blueelvis opened #4847 "Minikube takes ~2 minutes to start even if the cluster was provisioned already"
As of now, even if the cluster has been provisioned already and running, it takes roughly 2.5 minutes to start it back up (At least on Windows) and it seems to be doing most of the housekeeping stuff which it does while creating the cluster again.

Not sure if it can be improved but it should not take this much time. What do you think?

Following are the logs -
[code]

[2019-07-23 09:01] blueelvis opened #4848 "Unable to disable Heapster after enabling it in minikube on Windows"
Taking this from here - https://github.com/kubernetes/minikube/issues/4783#issuecomment-512554705

I am also able to reproduce the issue. After enabling heapster, I am not able to disable it. Following are the logs.

**The exact command to reproduce the issue**:
`.\minikube-windows-amd64.exe addons disable heapster --alsologtostderr --v=8`

**The full output of the command that failed**:<details>

[2019-07-23 09:03] blueelvis commented on #4783
@lewijw - Thanks for reporting the issue ! I have created a new issue (#4848) for this and I am also able to reproduce this on my machine.

@IvankaTashkova - Glad to hear that the issue got resolved! I have created an issue (#4846) to add the documentation for both Hyper-V and Virtualbox setup with minikube on Windows. Feel free to take a stab at it :)

-Pranav

[2019-07-23 09:47] itsallonetome commented on #4789
Tried switching to
[code]
which I believe was working properly at the start of June, and still getting the same failure ... so I guess something outside minikube / kubernetes has changed ...

[2019-07-23 10:46] afbjorklund commented on #4846
I think this is related to the current phrasing on the web site:

That is, if the hyperv driver is "good enough" we should recommend it.

Not that doing so actually helps anything (see kvm2), but as a start ?

[2019-07-23 10:50] itsallonetome commented on #4789
And tried the same old versions on a new VM with the same result.

[2019-07-23 10:50] #4523 closed

[2019-07-23 11:09] afbjorklund commented on #4847
Basically we are missing "start" and "stop" commands, we basically only have create and shutdown...

A long-term feature is to put the VM in sleep, a more short-term is to add start/stop to bootstrapper.

If you disable cache (`--cache-images=false`) for the second `start`, does that help anything ?

If it does, we might consider skipping it, like we do for the `none` driver,  if it is already pre

[2019-07-23 11:32] afbjorklund commented on #4847
See #4184 and #4622

[2019-07-23 11:35] blueelvis commented on #4846
Yea, I would use the default built in Hyper-V virtualization at least starting from Windows 10. Going forward, we can move from virtualbox to hyperv as the default over time.

Meanwhile, I will work on the documentation and update over here.

[2019-07-23 11:35] afbjorklund commented on #4810
Fixed in 2b49a8d8d9a4ac0ac0b040fa738cc2bac66d7beb

[2019-07-23 11:35] #4810 closed

[2019-07-23 11:44] WesleyCharlesBlake commented on #3900
also getting the same issues:

[code]

Check virtualisation :
[code]

BIOS has virtualisation enabled

running with `--no-vtx-check` flag works:
[code]
For more context, just trying to run minikube on my local machine.

This issue only crept up for me on minikube `v1.2.0`

[2019-07-23 11:58] CVirus commented on #4481
@tstromberg I'm facing the same problem .. Here's the output you need:
`➜ minikube start --alsologtostderr
W0723 13:32:50.127327   13162 root.go:151] Error reading config file at /home/cvirus/.minikube/config/config.json: open /home/cvirus/.minikube/config/config.json: no such file or directory
I0723 13:32:50.127784   13162 notify.go:128] Checking for updates...
😄  minikube v1.2.0 on linux (amd64)

[2019-07-23 12:47] erickalmeidaptc opened #4849 "After enable host DNS resolution in virtualbox driver and Ubuntu 18.04 pods cannot Pull images"
Bug?

After created DNS configuration file to **systemd-resolved** service, I am getting error inside minikube.

[code]

After restart service:
`sudo systemctl restart systemd-resolved;`
[code]
`kubectl run nginx --image=nginx --replicas=1`

![image](https://user-images.githubusercontent.com/51331974/61712856-28cc2580-ad4f-11e9-8dab-0f094a9e4add.png)

After disable the resolver, restart `sudo syst

[2019-07-23 13:29] khayamgondal commented on #4735
I think accidenlty you put your name on it:)

[2019-07-23 14:54] kevinpauli commented on #1408
I used to have this working with minikube 1.1 by following @mvaldesdeleon 's advice, but it no longer works with minikube 1.2

`E0723 09:38:44.220307   92650 start.go:403] Error caching images:  Caching images for kubeadm: caching images: caching image /Users/kcpaul/.minikube/cache/images/k8s.gcr.io/kube-scheduler_v1.15.0: fetching remote image: Get https://k8s.gcr.io/v2/: x509: certificate signed

[2019-07-23 16:46] medyagh commented on #4735
Oops. Added you.

[2019-07-23 20:36] Fazered commented on #3735
For me the issue was using assigning a network adapter in my laptop dock and then moving dock. To keep it consistent I now just use the wifi for my external switch and connect both when I am using minikube.

[2019-07-23 20:55] medyagh opened #4851 "CI: golangci-lint out of memory"
we had this issue yesterday, for two PRs but it was flaky and not consistant error:

today I saw it in travis again : here https://travis-ci.org/kubernetes/minikube/jobs/562528986
[code]

the error is reported in: it seems to be the root cause of the problem:
https://github.com/golangci/golangci-lint/issues/483

[2019-07-23 20:58] medyagh commented on #4851
The work arround for this issue is setting the "GOGC" env variable
 https://github.com/golangci/golangci-lint#memory-usage-of-golangci-lint

[2019-07-23 21:02] tjj225 commented on #4616
having same issue.

[2019-07-23 21:09] medyagh commented on #4851
given that it has direct coronation between number of lint files, it could be related to the new files for site and translation.

we probably need to exclude more not-lintable files to be more efficient.

[2019-07-23 21:48] leonjia0112 opened #4853 "Include libvirt package to Fedora installation"
**The exact command to reproduce the issue**:
https://github.com/kubernetes/minikube/blob/master/docs/drivers.md#kvm2-driver
Fedora/CentOS/RHEL: `sudo yum install libvirt-daemon-kvm qemu-kvm`

`virsh` wasn't installed for Fedora 29 by running the command above. How about include `libvirt` package with the command so that virsh is installed alongside with the command?

Because the step after runnin

[2019-07-23 23:32] medyagh opened #4854 "start_stop_delete_test: `config current-context` run against minikube instead of kubectl"
the following code is not right ! it is using a minikube runner to run a kubectl config command !

https://github.com/kubernetes/minikube/blob/9dfe660c64ed9ac5d76650868bde29272211c582/test/integration/start_stop_delete_test.go#L105

This needs to be fixed

[code]

[2019-07-23 23:46] medyagh opened #4855 "UI: reduce repetitive icon for same warning (if using existing driver)"
Currently it shows as :
[code]

there is no need for 3 warning signs, one is enough as it is related to same warning.

[2019-07-24 00:24] rickgode commented on #4587
bcdedit /set hypervisorlaunchtype off works for me

This worked for me as well!

Ricky

[2019-07-24 00:40] medyagh opened #4856 "integration test: investigate if minkube runner .SSH() is working at all !"
I have a suspicion that the minikubeRunner SSH is not working and is being used in a wrong way !

https://github.com/kubernetes/minikube/blob/master/test/integration/util/util.go#L198

[code]

the reason I believe is not working is, because minikube ssh requires an "--" to make it work
for example:

``` ./out/minikube ssh -- "ls -lah"```
but in the code it is being called without -- and which mean

[2019-07-24 02:23] RA489 commented on #4855
@medyagh I think if we can combine these two warnings to one. WDYT?
⚠️  Ignoring --vm-driver=virtualbox, as the existing "delete" VM was created using the hyperkit driver.
⚠️  To switch drivers, you may create a new VM using `minikube start -p <name> --vm-driver=virtualbox`

[2019-07-24 02:24] RA489 commented on #4855
⚠️  Alternatively, you may delete the existing VM using `minikube delete -p delete`
@medyagh we can ignore this warning! suggestions?

[2019-07-24 02:25] RA489 commented on #4855
/assign @RA489

[2019-07-24 05:47] kewenchao opened #4858 "Get https://storage.googleapis.com/minikube/iso/minikube-v1.2.0.iso: proxyconnect tcp: EOF"
keke@keke:~$ minikube start --registry-mirror=https://registry.docker-cn.com
😄  minikube v1.2.0 on linux (amd64)
💿  Downloading Minikube ISO ...

💣  Failed to cache ISO
❌  Error:         [ISO_DOWNLOAD_FAILED] https://storage.googleapis.com/minikube/iso/minikube-v1.2.0.iso: failed to download: failed to download to temp file: download failed: 5 error(s) occurred:

* Temporary download error: Get ht

[2019-07-24 07:27] salamani commented on #3890
On s390x it is used without virtualization with option none.

[2019-07-24 07:56] afbjorklund commented on #4851
Could run it on `v1.2.0` to compare ?

Someone bored could make a matrix:
- minikube version
- golangci-lint version
- jobs (default: nproc)
- gogc (default: 100)

And note runtime and cpu/ram usage. It used to run in 30 secs

[2019-07-24 09:58] arnabvampire1 opened #4859 "VBoxManage not found. Make sure VirtualBox is installed and VBoxManage is in the path"
If this is a bug report, please include:

  The exact command-lines used.
minikube start

  The full output of the command that failed
o minikube v0.34.1 on windows (amd64)

! Unable to start VM: create: precreate: VBoxManage not found. Make sure VirtualBox is installed and VBoxManage is in the path

* Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
- https://g