[2021-02-18 21:57] medyagh commented on #9359
@blueelvis do u have any insight on this. ?

[2021-02-18 21:59] medyagh commented on #8841
closing this in favor of https://github.com/kubernetes/minikube/issues/7332

[2021-02-18 21:59] #8841 closed

[2021-02-18 22:00] spowelljr commented on #4547
@win5do This may have been fixed in #10213. If this is still an issue try the latest version of minikube, if this is still not fixed feel free to reopen this issue, thanks.

[2021-02-18 22:00] #4547 closed

[2021-02-18 22:01] priyawadhwa commented on #9810
Still an issue in minikube 1.17

[2021-02-18 22:01] medyagh commented on #4151
@jonenst do u mind giving it another try with CNI enalbed?

I am curious if this would fix the problem ? (with latest version of minikube)

[code]

[2021-02-18 22:02] #9322 closed

[2021-02-18 22:04] tstromberg commented on #10312
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2021-02-18 22:04] #10312 closed

[2021-02-18 22:07] prezha commented on #3327
@Divya063, @ZaMaZaN4iK i cannot reproduce the issue on the latest version (1.17.1 atm) with docker - ie, this worked for me:

[2021-02-18 22:07] tstromberg commented on #9745
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2021-02-18 22:07] #9745 closed

[2021-02-18 22:07] prezha commented on #3327
/close

[2021-02-18 22:08] ilya-zuyev commented on #8511
@vinu2003 are you still interested in fixing this issue?

[2021-02-18 22:09] #7315 closed

[2021-02-18 22:09] tstromberg commented on #9479
@afbjorklund - any luck with merging this?

[2021-02-18 22:10] tstromberg commented on #9479
It's worth noting that this should not happen with the Docker driver any longer, but is likely to happen on other drivers.

[2021-02-18 22:11] priyawadhwa commented on #9803
Hey @Aut0R3V are you still working on this?

[2021-02-18 22:12] hetong07 commented on #10505
@afbjorklund Thank you for you reply...

I tried the commands you mentioned and below are the outputs:
[code]

[2021-02-18 22:12] priyawadhwa commented on #9558
We fixed this by adding timeouts to cleaning up kvm networks and making sure we reboot the machine daily.

[2021-02-18 22:12] #9558 closed

[2021-02-18 22:12] tstromberg commented on #6735
This issue appears to be a duplicate of #4841, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2021-02-18 22:12] #6735 closed

[2021-02-18 22:13] spowelljr commented on #9584
The `certificate has expired or is not yet valid` error you got might be related to #8943.

[2021-02-18 22:14] sharifelgamal commented on #9518
We now support `--log_dir` and `--log_file`, but there are other outstanding issues with it, namely #9156

[2021-02-18 22:14] priyawadhwa commented on #7031
Hey @afbjorklund are you still working on this?

[2021-02-18 22:14] #9518 closed

[2021-02-18 22:15] priyawadhwa commented on #5687
we got this

[2021-02-18 22:17] tstromberg commented on #10459
This issue appears to be a duplicate of #10371, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2021-02-18 22:20] priyawadhwa commented on #3552
we still want to do this

[2021-02-18 22:21] sharifelgamal commented on #9098
This issue is still outstanding

[2021-02-18 22:22] tstromberg commented on #10459
This is intended: On Linux, Docker normally allows all system memory to be consumed. We do give the system a small buffer (48MB) that minikube refuses to allocate. This is not a memory reservation, but a memory limit. This is a bit different than our other drivers, which generally make a hard reservation.

Perhaps we should just remove the memory message for the Docker driver?

[2021-02-18 22:22] tstromberg commented on #10505
This issue appears to be a duplicate of #10371, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2021-02-18 22:22] #10505 closed

[2021-02-18 22:24] tstromberg commented on #10497
I believe this is a snap-related issue, and may have been fixed in minikube v1.17.1. Do you mind trying to upgrade to the latest minikube?

[2021-02-18 22:25] medyagh commented on #8370
is there a specific OS that has this problem?

[2021-02-18 22:25] spowelljr commented on #9524
Closing this for now, if there's more evidence that this should be implemented feel free to comment or reopen issue.

[2021-02-18 22:25] #9524 closed

[2021-02-18 22:29] tstromberg commented on #10489
I suspect this is fixed at master - do you mind trying? https://storage.googleapis.com/minikube/latest/minikube-linux-amd64

I think this was due to a really old version of Docker being installed.

[2021-02-18 22:29] medyagh commented on #10489
the reason is your Docker version is ancient, fixed on Master to support ancient dockers.

I recommend either wait for next version of minikube to support ancient docker or upgrade ur docker

[2021-02-18 22:29] #10489 closed

[2021-02-18 22:32] vishjain commented on #8694
/assign

[2021-02-18 22:55] medyagh commented on #10499
@waldiirawan I am curious if the latest binary fixes the problem, it seems like you have a differeng cgroup ...

https://storage.googleapis.com/minikube/latest/minikube-linux-amd64
https://storage.googleapis.com/minikube-builds/master/minikube-linux-amd64

[2021-02-18 23:31] medyagh commented on #10405
I recommend adding failure logs for each test in a separate issue.

[2021-02-19 00:07] medyagh commented on #9785
this issue still happens

[code]
@lingsamuel do u mean we need to do klog.Flush ?

[2021-02-19 01:47] #10504 closed

[2021-02-19 02:14] lingsamuel commented on #9785
Yes.
Look at the log I found here:

I guess this is the closest log I can find to the real cause.
The function `exitIfNotForced` is called, and it entered `displayText` [in out_reason.go](https://github.com/kubernetes/minikube/blob/40b78a0f4b9bcbc43fa6f095bc35d5ab2015d92a/pkg/minikube/out/out_reason.go#L82), and the `Ln("")` and `ErrT()` printed normally, but the last one `Ln("")` didn't.
While th

[2021-02-19 03:51] prezha commented on #9156
@bharathkkb  i think that `--log_dir` flag works just as you've described - by design:

	Log files will be written to this directory instead of the default temporary directory.

if all logs should be appended to a single file, we've implemented `--log_file=<path>` flag for that (i think shell expansion with eg '~` does not work here, so the full path should be given)

example:

[code]
[code]
[code

[2021-02-19 04:57] jrgleason commented on #4621
Getting similar issue in 1.14.2

[code]
`Darwin ....local 20.3.0 Darwin Kernel Version 20.3.0: Thu Jan 21 00:07:06 PST 2021; root:xnu-7195.81.3~1/RELEASE_X86_64 x86_64`

[2021-02-19 05:46] renich commented on #6205
I just don't know where to start...

[2021-02-19 11:17] Boomer9955 opened #10514 "minikube start"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-02-19 11:17] #10514 closed

[2021-02-19 11:22] slavonicsniper commented on #9305
minikube v1.17.1 on Fedora 32
driver: docker

I could still reproduce this on the latest minikube when deploying [artifactory-jcr](https://github.com/jfrog/charts/tree/master/stable/artifactory-jcr).

Deployment fails with `mkdir: cannot create directory ‘/bitnami/postgresql/data’: Permission denied` when running minikube with multiple nodes. As you can see down below, the permission is 755 on the

[2021-02-19 13:44] govinda1969 opened #10515 "none: docker info: panic: reflect: indirection through nil pointer to embedded struct"
**Steps to reproduce the issue:**

1.minikube start
2.
3.

**Full output of failed command:**

minikube v1.17.1 on Centos 8.3.2011
✨  Using the none driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing none bare metal machine for "minikube" ...
ℹ️  OS release is CentOS Linux 8
🐳  Preparing Kubernetes v1.20.2 on Docker  ...

❌  Exiting

[2021-02-19 15:11] afbjorklund commented on #10515
Is docker running OK ? (`docker version`)

[2021-02-19 15:12] afbjorklund commented on #10515
Similar to #10165

[2021-02-19 16:36] afbjorklund commented on #10482
You need 20G free disk space, for minikube

See https://minikube.sigs.k8s.io/docs/start/

[2021-02-19 16:41] afbjorklund commented on #10459
And it seems like the actual error here was more related to trying to set swap memory with the new cgroups v2 docker ?

[2021-02-19 16:46] afbjorklund opened #10516 "When docker driver fails, we try to use an (unspecified) external VM instead"
As seen in https://github.com/kubernetes/minikube/issues/10459#issue-807564720

[code]

It's **not** possible to use a remote VM ("ssh" driver), without providing the address to it...

We should also not silently fallback to running locally ("none" driver), because of no isolation.

`✨  Automatically selected the docker driver. Other choices: kvm2, virtualbox, none, ssh, podman (experimental)`

Cu

[2021-02-19 16:48] afbjorklund commented on #10516
This is some kind of (undesired) side-effect of  #7389

[2021-02-19 16:54] reinvantveer opened #10517 "Can't get ingress-dns example to work on k8s 1.18"
**Steps to reproduce the issue:**
I feel a bit silly but I can't get the https://github.com/kubernetes/minikube/blob/master/deploy/addons/ingress-dns/example/example.yaml to give me a ping and I don't know where to begin to troubleshoot.

For starters: we don't work on k8s 1.19+ so I need
`kubectl apply -f https://raw.githubusercontent.com/kubernetes/minikube/8209421c3e5ef0af4ca92a30da25b5e75c9255

[2021-02-19 17:26] afbjorklund commented on #10496
`iptables failed: iptables --wait -t nat -A DOCKER -p tcp -d 127.0.0.1 --dport 49282 -j DNAT --to-destination 192.168.49.2:8443 ! -i br-c463e713e81d: : iptables v1.8.7 (legacy): unknown option "--dport"`

Hmm, that is supposed to be a standard tcp option, see iptables-extensions(8)

[code]

Do running other docker containers work OK ?

[2021-02-19 17:30] prezha commented on #9305
@slavonicsniper
interesting...
it did work when i've tried it, but i cannot assert now to which node(s) the pods got assigned to - i'll have a look

[2021-02-19 17:53] horseinthesky commented on #10496
@afbjorklund I'm sorry for bothering. That was an Arch issue: it's updated a kernel and unmounted old kernel modules. Reboot fixed it.

[2021-02-19 17:53] #10496 closed

[2021-02-19 18:02] harryttd commented on #9305
[code]
This is definitely still an issue. I just ran my original example again and get the same errors on node `minikube-m02`. `mkdir: can't create directory '/var/foo/bar': Permission denied`

In terms of asserting which pod is on which node:
[code]
 Before running this i would actually bump up the number of replicas to maybe 4 so that it is more likely that you have pods ending up on each node.

[2021-02-19 20:16] #10335 closed

[2021-02-19 21:09] sharifelgamal commented on #10404
This is fixed.

[2021-02-19 21:09] #10404 closed

[2021-02-19 22:26] Paragon1970 commented on #9063
Yes, please do tell

[2021-02-19 23:23] medyagh opened #10519 "improve error message for cgroup limit"
❗  Cgroup v2 does not allow setting memory, if you want to set memory, please modify your Grub as instructed in https://docs.docker.com/engine/install/linux-postinstall/#your-k
ernel-does-not-support-cgroup-swap-limit-capabilities

[2021-02-19 23:24] medyagh opened #10520 "crio failed on master on jenkins: ❌ Exiting due to RUNTIME_ENABLE:"
[code]

[code]

[2021-02-19 23:31] medyagh commented on #10520
jenkins@debian-jenkins-agent-9:~$ ./minikube-linux-amd64 ssh
docker@minikube:~$ sudo systemctl start crio
Job for crio.service failed because the control process exited with error code.
See "systemctl status crio.service" and "journalctl -xe" for details.
docker@minikube:~$ sudo systemctl status
● minikube
    State: degraded
     Jobs: 0 queued
   Failed: 2 units
    Since: Fri 2021-02-19 23:21:4

[2021-02-19 23:33] medyagh commented on #10520
![Uploading Screen Shot 2021-02-19 at 3.33.26 PM.png…]()

[2021-02-19 23:34] #9591 closed

[2021-02-19 23:37] tstromberg commented on #10519
I was just going to open an issue relating to this. This warning should probably only show up if someone is actually setting a memory restriction. 99% of folks won't care otherwise.

[2021-02-19 23:39] tstromberg commented on #10520
Oddly enough, I just tried CRIO on gLinux (rodete) and crio seems to work fine at master there.

[2021-02-19 23:40] medyagh commented on #10520
[code]

[2021-02-19 23:41] tstromberg commented on #10520
Seeing the output of `journalctl -u crio` would be helpful to debug this

[2021-02-19 23:49] medyagh commented on #10520
@tstromberg said
[code]

[2021-02-19 23:50] medyagh commented on #10520
[code]

[2021-02-19 23:55] medyagh commented on #10520
I confirm

removing `metacopy=on` from
[code]

in
/etc/containers/storage.conf

fixed it

[code]

[2021-02-19 23:59] medyagh commented on #10520
currently for VM drivers we have a config template for /etc/containers/storage.conf https://github.com/medyagh/minikube/blob/3d5809b98846da4929e1256141ea051f0a67f6d5/deploy/iso/minikube-iso/package/crio-bin/crio.conf.default#L32

but for KIC drivers (docker,podman) and crio runtime we dont hhave a config
I would accept a PR that will generate the `/etc/containers/storage.conf`

[2021-02-20 00:22] #8790 closed

[2021-02-20 00:23] #10005 closed

[2021-02-20 00:28] hetong07 commented on #9925
Have a demo changes here, https://github.com/hetong07/minikube/tree/multinode-test

[2021-02-20 00:31] #10040 closed

[2021-02-20 00:49] omjadas commented on #10342
Also experiencing the same issue on Windows 10 with the Docker driver

[2021-02-20 03:28] medyagh opened #10529 "bump oldest supported kuberntes from v1.13.0 to v1.14.0"
currently with latest build of kic image we have broken support for v1.13.0 k8s
I tested manually with the new kic image we need to have at least kubernetes v.1.14.0
traditionally we have supported 5 recent versions of k8s
now k8s is is on 1.120.0 , if we bump older supported version to 1.14.0 we still are on 6 most recent versions

so it is reasonable for us to bump oldest supported version to 1.

[2021-02-20 03:36] #9884 closed

[2021-02-20 04:58] BLasan commented on #10460
@medyagh btw I forgot to add the output I received after running the command without the changes done in #10473

[code]

[2021-02-20 06:34] psksaikrishna opened #10533 "initialization failed, will try again: wait: /bin/bash -c "sudo env PATH=/var/lib/minikube/binaries/v1.20.2:$PATH kubeadm init"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-02-20 06:54] #10520 closed

[2021-02-20 08:16] afbjorklund commented on #10520
This is known upstream: https://github.com/cri-o/cri-o/issues/4574

[2021-02-20 08:18] afbjorklund commented on #10520
Basically they assume that Ubuntu 20.04 is running with the Ubuntu 20.04 kernel, not as a fakenode

[2021-02-20 08:31] afbjorklund commented on #10529
Possibly related to the new entrypoint ? A _lot_ of the cgroup support has been modified, to allow for cgroups v2

Failed to start ContainerManager failed to initialize top level QOS containers: root container [kubepods] doesn't exist

[2021-02-20 08:33] yogyogi commented on #10152
I am also getting this error in Windows 10 Home. This is how to recreate it.
I am following [this official tutorial](https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/) . One I run the below command:
`minikube addons enable ingress`
I get message "After the addon is enabled, please run "minikube tunnel" and your ingress resources would be available at "127.0.0.1". Now wh

[2021-02-20 08:41] afbjorklund commented on #10519
Why does it say "Cgroup v2" ? And what was wrong with the original message, as issued by Docker ?

`WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted.`

[2021-02-20 08:44] afbjorklund commented on #10519
Was added in #10512

But I think it should actually have been `--memory-swap -1` to limit just the memory and not the swap.

[2021-02-20 08:53] afbjorklund commented on #10478
Ran into packaging issues, with storage.conf

[2021-02-20 09:03] phper-xiao opened #10534 "minikube start: Failed to setup kubeconfig"
**重现问题所需的命令**：
minikube start --driver=docker
**失败的命令的完整输出**：<details>
😄  Centos 7.2 (amd64) 上的 minikube v1.17.1
✨  根据现有的配置文件使用 docker 驱动程序
👍  Starting control plane node minikube in cluster minikube
🏃  Updating the running docker "minikube" container ...
🐳  正在 Docker 20.10.2 中准备 Kubernetes v1.20.2…| E0220 16:59:16.499554   43783 start.go:99] Unable to get host IP: network inspect: docker network

[2021-02-20 09:07] phper-xiao commented on #10534
minikube version: v1.17.1
Docker version: 20.10.2

[2021-02-20 09:14] xhebox commented on #8733
@priyawadhwa I found that other nodes won't start if CNI nodes are not started. They will rely unresolvable uris like `xxxx.svc`. Then dashboard can not start due to the bad network.

Maybe minikube should give some info about the status of CNI nodes, or just wait for CNI nodes running.

And it definitely should cache those CNI images. I have a bad network, and constantly ran into cases like faili

[2021-02-20 12:51] BLasan commented on #10451
@priyawadhwa Do you mind mentioning the test cases we need to add in order to beef up the existing ones? I'm bit new to the community :)

[2021-02-20 16:17] govargo opened #10536 "[go.mod] build error: package go.opentelemetry.io/otel"
/kind bug

When I built minikube binary, the errors of `go mod` happend.

[code]

This is caused by the missmatch of module version.

https://github.com/kubernetes/minikube/blob/051caa1d68b2812095efadc536edb76ec4c6e010/pkg/trace/gcp.go#L24-L30

`go.opentelemetry.io/otel/api/trace` and `go.opentelemetry.io/otel/api/global` are old packages at v0.13.0.
In v0.17.0, these package don't exist. And thes

[2021-02-20 16:18] govargo commented on #10536
/assign

[2021-02-20 16:31] govargo commented on #10536
/priority important-soon

[2021-02-20 17:17] Jiu-hong opened #10538 "Exiting due to RSRC_INSUFFICIENT_SYS_MEMORY: System only has 0MiB available, less than the required 1800MiB for Kubernetes"
**Steps to reproduce the issue:**

I am doing according to this instruction exactly
https://phoenixnap.com/kb/install-minikube-on-ubuntu
Then I am failed at this step:
**minikube start**

**Full output of failed command:**

😄  minikube v1.17.1 on Ubuntu 20.04 (vbox/amd64)
✨  Automatically selected the docker driver

⛔  Exiting due to RSRC_INSUFFICIENT_SYS_MEMORY: System only has 0MiB available, le

[2021-02-20 17:44] BLasan opened #10539 "Docker Image created during the functional testing are not getting removed once done"
**To Reproduce**

1. Run `make functional`
2. Check docker images by running `docker images`

**Output of `docker images` command:**
[code]

Those images should be removed once the `make functional` gets finished. This will be applicable for some other `make` commands too.
If this is good to proceed I would like to send a PR for this

[2021-02-20 17:58] hetong07 commented on #10519
Sorry that I may misunderstand this issue, so I add a wrong warning message. I saw different materials, and one said it is the cgroup v2 problem and the other say the error in #10371 is because it cannot set memory limit. So somehow I linked them together and wrote this warning message.

[2021-02-20 18:04] #10536 closed

[2021-02-20 18:06] #10143 closed

[2021-02-20 18:08] #10529 closed

[2021-02-20 18:30] afbjorklund commented on #10538
Sounds like a bug, can you post the output of `free -m` and `cat /proc/meminfo` ?

[2021-02-20 18:42] afbjorklund commented on #10538
Can also try this sample code
[code]

[2021-02-20 18:44] afbjorklund commented on #10519
I think the confusing part is that Docker handles cgroup v1 and v2 very differently, with regards to the parameters.

Then again, `WARNING: Support for cgroup v2 is experimental`

[2021-02-20 19:06] BLasan commented on #10538
@afbjorklund Can I work on this? I faced the same issue

[2021-02-20 19:08] BLasan commented on #10538
/assign

[2021-02-20 19:32] sadlil commented on #9925
@hetong07 Sure, What i meant is to try doing a curl to https://google.com and to any in-cluster service url to see if the dns are resolving from the worker nodes.

[2021-02-20 19:56] sadlil commented on #7772
@prezha Yes, i will work a little bit more on this. Creating the alias now.

[2021-02-20 20:45] medyagh commented on #10539
sounds like a good clean up idea

[2021-02-20 20:46] medyagh opened #10541 "crio: ctr does NOT show loaded image it but podman images shows it ..."
looking at failure in this test that upgrades crio version https://storage.googleapis.com/minikube-builds/logs/10477/d120656/KVM_Linux_crio.html#fail_TestFunctional%2fparallel%2fLoadImage

when we load an image to crio run time,
we are checking if ctr has it
and it doesnt
[code]

but when I check with podman I see the image
[code]

[code]

https://github.com/medyagh/minikube/blob/d120656161437e5f3

[2021-02-20 20:54] medyagh commented on #10541
I think we should have used critctl instead of ctr simmilar to our cache add tests
[code]

[2021-02-20 21:38] medyagh opened #10543 "minikube kic-auto build should provide kic image build error"
Hi @medyagh, building a new kicbase image failed, please try again.

_Originally posted by @minikube-bot in https://github.com/kubernetes/minikube/issues/10427#issuecomment-782753047_

[2021-02-20 22:03] newtoniumx3 opened #10544 "Cannot start ingress addon: waiting for pod"
**Steps to reproduce the issue:**

1. `minikube start --vm-driver hyperv --cpus 2 --memory=8192`
2. `minikube addons enable ingress --alsologtostderr`

**Full output of failed command:**
[code]

Windows 10
Docker version 20.10.2, build 2291f61
minikube version: v1.17.1
commit: 043bdca07e54ab6e4fc0457e3064048f34133d7e

[2021-02-20 22:18] newtoniumx3 commented on #10544
I checked the logs `kubectl get pods --namespace kube-system`

and see this
[code]

[2021-02-20 23:27] medyagh opened #10545 "docker significant slower on HEAD"
on my mac machine minikube v1.17.0 takes 40 second
[code]

but the head minikube on head (most of time is at Booting Up Control Plane)
[code]

[2021-02-21 00:02] medyagh commented on #10545
I tested  --kubernetes-version=v1.20.5-rc.0 and that one faces same issue
[code]

[2021-02-21 01:04] newtoniumx3 commented on #8332
Same problem

[2021-02-21 01:21] Jiu-hong commented on #10538
free -m output:
[code]
output of cat /proc/meminfo
[code]

[2021-02-21 01:25] BLasan commented on #10539
Would like to send a PR sir

[2021-02-21 06:57] Chiragmodha opened #10547 "Problem was arise when Minikube start"
C:\Users\Chirag Modha>minikube start
* minikube v1.17.1 on Microsoft Windows 10 Pro 10.0.19041 Build 19041
* Using the ssh driver based on existing profile
* Starting control plane node minikube in cluster minikube
! StartHost failed, but will try again: config: please provide an IP address
* Failed to start ssh bare metal machine. Running "minikube delete" may fix it: config: please provide an IP

[2021-02-21 07:08] Chiragmodha commented on #8924
I have also occurred this problem

C:\Users\chirag.modha>minikube start --alsologtostderr -v=4 to debug crashes
I0221 12:36:06.055972    7884 out.go:229] Setting OutFile to fd 84 ...
I0221 12:36:06.058974    7884 out.go:276] TERM=,COLORTERM=, which probably does not support color
I0221 12:36:06.059975    7884 out.go:242] Setting ErrFile to fd 88...
I0221 12:36:06.060988    7884 out.go:276] TERM=,C

[2021-02-21 08:33] afbjorklund commented on #10538
Thank you, that looks more normal. It's still too small to run minikube, but it's not zero...

You need 2 GB RAM in the VM (and also 2 vCPU as well), rather than the current 1 GB.

[2021-02-21 08:36] afbjorklund commented on #10538
@ BLasan The bug is here:

[code]

Should use sysLimit, not containerLimit.

The second value is only relevant to KIC.

[2021-02-21 08:36] Jiu-hong commented on #10538
Thank you @afbjorklund. I did not realize the minimium require for minikube. I got it now! Thank you again!

[2021-02-21 08:40] afbjorklund commented on #10538
We try to mention it here: https://minikube.sigs.k8s.io/docs/start/ but the code is supposed to verify it...
The requirement actually comes from `kubeadm`, so mostly trying to provide sane defaults for `minikube`

It's a bit confusing since it talks about the memory total _after_ the system and kernel take their share.
So even if you start out with a virtual hardware of 1024 MiB, then it only show

[2021-02-21 08:43] afbjorklund commented on #10547
Hmm, something went wrong for the initial run.

Try providing either Hyper-V or Docker, run `minikube delete` and then `minikube start` again ?

[2021-02-21 08:45] afbjorklund commented on #10547
Possibly same as #10516

[2021-02-21 08:51] afbjorklund commented on #7772
When the driver code is renamed, we can change "driver.BareMetal" (driver.IsNone?) to "driver.IsNative"

The current is a bit confusing, it will return true when running on a VM but false when running in Docker...

[code]

[2021-02-21 09:35] BLasan commented on #10538
Yuh. Thanks for pointing us. Shall I send a PR for this?

[2021-02-21 12:16] vinchi777 commented on #10431
I'm also getting this issue after `minikube start`. I'm using PopOs Linux.
[code]

[2021-02-21 12:46] 6monlambert opened #10549 "Setting up a bridged interface on Minikube VM with VirtualBox"
Hello,

I would like to add a bridged interface on my Minikube VM using VirtualBox, or change the configuration of eth0 to use a bridge instead of the default NAT Network.
I run my Minikube on a VM (Ubuntu 20.04) on a vCenter, therefore my services/pods are accessible from this Ubuntu VM but not from the browser of my laptop. I'd like the minikube VM to get an IP address from the DHCP of my LAN ro

[2021-02-21 14:05] jrstrengen commented on #9359
@medyagh
I have been busy with other projects lately, so haven't done more testing.
However I did download newest version today and it now works.

Not sure what else have been done though.
Except keeping my docker and windows up to date.

[2021-02-21 14:05] #9359 closed

[2021-02-21 15:35] afbjorklund commented on #10431
@vinchi777 : I think Pop!OS is a more normal Ubuntu-based distro, so probably open an issue on that ?

<https://en.wikipedia.org/wiki/Pop!_OS>

[2021-02-21 15:36] afbjorklund commented on #10538
Please do, the current message is confusing

[2021-02-21 15:50] afbjorklund commented on #10237
Works OK with Podman 3.0.1 now

[2021-02-21 18:35] medyagh opened #10555 "investigate running minikube inside a pod"
pre requisite for us to add minikube to prow
so basically run minikube inside minikube as a pod

[2021-02-21 18:38] medyagh commented on #10478
@afbjorklund could we close this ? since we merged https://github.com/kubernetes/minikube/pull/10477 ?
or do we need still update the VM too ?

[2021-02-21 18:46] medyagh commented on #10519
@hetong07 I agree with @tstromberg if user did not Set --memory by flag ( we should NOT warn the user)
and also lets make the warnning something more elegant how about making it to Two lines

[code]

[2021-02-21 18:50] afbjorklund commented on #10478
I think the VM was updated in #10476 was it not ?

[2021-02-21 18:50] #10478 closed

[2021-02-21 19:11] medyagh commented on #10545
here is a screenshot of the performance metrics dashboard
<img width="1630" alt="Screen Shot 2021-02-21 at 11 10 34 AM" src="https://user-images.githubusercontent.com/4564227/108635702-99f52280-7435-11eb-8ebb-8883ea8e162a.png">

[2021-02-21 19:15] hetong07 commented on #10519
Sure. sounds good

[2021-02-21 21:24] #10541 closed

[2021-02-22 03:17] #10538 closed

[2021-02-22 07:45] medyagh opened #10564 "refactor: ClusterConfig does not store the addons map"
while doing this PR https://github.com/kubernetes/minikube/pull/10427
I noticed the addons is not saved in config when I need it

[code]
[code]

[2021-02-22 07:59] gbraad commented on #10545
We see the same happening on our environments

[2021-02-22 08:58] reinvantveer commented on #10517
Just tried: fiddling with the Network Manager doesn't help unfortunately:
[code]

[2021-02-22 09:04] #9865 closed

[2021-02-22 10:37] RA489 commented on #9809
if we create custom network for KVM , we can set a fixed ip when running the container --ip and hopefully we don't have conflict with subnets with existing networks as KVM has fixed subnet and if it doesn't we can try other options https://github.com/kubernetes/minikube/blob/master/pkg/drivers/kvm/network.go#L41

[2021-02-22 10:53] seanrmurphy commented on #10517
I've been looking at something similar this morning and managed to get the DNS resolution working (I think) but there is an issue with the port config as far as I can see - basically `ping` works but `curl` does not.

I'm on Ubuntu Focal, using minikube 1.17.1 with ingress-dns - I'm using systemd-resolved.

My approach was the following:
- disable systemd-resolved
- remove symlink from `/etc/resol

[2021-02-22 11:11] seanrmurphy commented on #10517
It seems I also needed to enable the `ingress` addon - with this, the example works in my environment.

[code]

[2021-02-22 11:25] govargo commented on #10456
Update label for searching.

/kind failing-test

[2021-02-22 12:25] BLasan commented on #10539
@medyagh Can I start working on this?

[2021-02-22 13:03] BLasan commented on #10564
@medyagh Shall I give a try to fix this?

[2021-02-22 14:11] reinvantveer commented on #10517
Sorry @seanrmurphy  I can't reproduce your steps. Could I trouble you for the commands you issued?
Here's my attempt:

	@echo "Exposing apps to host"

	sudo service systemd-resolved stop
	sudo rm /etc/resolv.conf

	echo Adding ${LOCAL_DEV_DOMAIN} host to /etc/resolv.conf

	echo nameserver 127.0.0.53 | sudo tee -a /etc/resolv.conf
	echo options edns0 trust-ad | sudo tee -a /etc/resolv.conf
	echo se

[2021-02-22 15:51] seanrmurphy commented on #10517
Sure  - this worked for me:

[code]

[2021-02-22 16:56] prezha opened #10566 "go.sum went out-of-sync"
after recent packages' version bump (via dependabot?), go mod left untidy:

[code]

[2021-02-22 16:56] prezha commented on #10566
/assign

[2021-02-22 17:25] prezha opened #10568 "replace deprecated semver.Max()"
lint complaining about deprecated semver.Max
[code]

[2021-02-22 17:26] AndrewPanov commented on #9161
@priyawadhwa I have succeeded to reproduce the same bug and behavior on minikube 1.17.1

[2021-02-22 19:41] tstromberg opened #10570 "kubeadm stderr is occasionally truncated"
As noted in #10508 - I suspect there may be a recent regression in our ability to preserve kubeadm output, but it may also be a much older issue.

It might be worth checking against minikube v1.15 for instance, to see if the behavior changed, with an identical --kubernetes-version selected.

[2021-02-22 19:43] #10406 closed

[2021-02-22 19:43] tstromberg commented on #9224
Support for M1 launched, so I'm closing this in preference to individual issues being opened.

[2021-02-22 19:43] #9224 closed

[2021-02-22 19:46] spowelljr commented on #10336
Discovered that if the `.minikube` dir doesn't exist, fails to write file. Needs to create home dir if detected it doesn't exist.

[2021-02-22 19:52] tstromberg commented on #10122
@dabcoder - seems good to me!

[2021-02-22 19:56] t3hami commented on #10353
/assign

[2021-02-22 20:28] #10568 closed

[2021-02-22 20:28] #10566 closed

[2021-02-22 20:29] #10139 closed

[2021-02-22 21:12] medyagh commented on #9002
this issue is still on our radar, we hope to deliver this in the beginning of  second quarter

[2021-02-22 21:16] medyagh opened #10571 "automate ISO build/push in PR"
simmilar to ok-to-build-image

there should be ok-to-build-iso

[2021-02-22 21:32] seerocode commented on #10310
Issue resolved with the new Docker release! https://www.docker.com/blog/new-docker-desktop-preview-for-apple-m1-released/

[2021-02-22 21:32] #10310 closed

[2021-02-22 21:43] medyagh opened #10573 "make minikube work in Docker to add prow tests"
See https://github.com/kubernetes/kubernetes/issues/99322

[2021-02-22 22:20] medyagh commented on #10564
sure ! @BLasan it is yours

[2021-02-22 23:54] spowelljr commented on #10570
In-progress

[2021-02-23 01:10] RogueCultivators commented on #9295
![image](https://user-images.githubusercontent.com/49176713/108790118-e3b94680-75b6-11eb-8dbc-24f564b73e50.png)

[2021-02-23 01:43] nikhil-1995 opened #10574 "Failed to start ssh bare metal machine. Running "minikube delete" may fix it: config: please provide an IP address"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-02-23 03:33] syauqisabili commented on #9063
how to solve this problem?

[2021-02-23 03:48] BLasan commented on #10564
Thanks sir

[2021-02-23 04:36] AMRITKV88 commented on #10127
You can try the workaround mentioned by **renich** and **Hongbo-Miao** on this thread #8756. It may resolve your issue.

[2021-02-23 06:20] lavanyajainr opened #10576 "Exiting due to GUEST_START: wait 6m0s for node: wait for healthy API server: controlPlane never updated to v1.20.2"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-02-23 06:24] jiefenghe opened #10577 "add a local multi-arch kic image Make target"
Previous single arch kicbase make target is removed at this [commit](https://github.com/kubernetes/minikube/commit/5d284c72f55602dd232d646852787e71039869bd).

It's is still very useful to have a local target, which is good for debugging. The initiative of this issue comes from this [discussion](https://kubernetes.slack.com/archives/C1F5CT6Q1/p1613893823024200).

The `--output` flag of `docker buil

[2021-02-23 06:24] jiefenghe commented on #10577
/assign

[2021-02-23 06:28] jiefenghe commented on #10577
@ilya-zuyev Please let me know if you have any suggestions.

[2021-02-23 06:29] afbjorklund commented on #10574
Possible duplicate of #10516, but hard to tell because there is no information provided

[2021-02-23 08:26] horihel opened #10578 "ssh driver --ssh-ip-address seems to be ignored"
**Steps to reproduce the issue:**

1. prepare VM listening on 10.0.0.10, allowing root login with ssh key
2. `minikube start --driver=ssh --ssh-ip-address=10.0.0.10 --ssh-key='id_rsa' --alsologtostderr`

**Full output of failed command:**
[code]

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>
no logs yet,

[2021-02-23 08:51] MPLew-is commented on #1753
@tstromberg has anyone tried to integrate [this still-active go9p implementation](https://github.com/knusbaum/go9p)? It looks like [the one currently in the repository](https://github.com/rminnich/go9p) has not been maintained for a long time.

If nobody has tried it yet I can give it a stab, though I'm pretty much brand new to Go so it'll take me a while to muddle through it.

[2021-02-23 09:12] Paragon1970 commented on #9063
In my case the server host variable defaulted to localhost.
Setting the server to listen on 0.0.0.0 fixed the issue. (listen / allow for any ip)

[2021-02-23 10:44] berk2s commented on #10085
same issue

[2021-02-23 13:29] reinvantveer commented on #10517
Yes!!! Thanks ever so much.
[code]
Now, for some documentation fixing of the ingress-dns plugin I guess...

[2021-02-23 13:29] #10517 closed

[2021-02-23 15:31] baymax55 commented on #8997
I have the same problem

[2021-02-23 15:34] baymax55 commented on #8997
Doesn't work

[2021-02-23 16:44] Carlosgpg1 opened #10580 ""minikube ip" address does not match with "minikube service <service-name>""
I use minikube in Windows 10, and start with "minikube start", using docker as Hypervisor.

[code]

Okey. When i use "minikube ip" i get the addres 192.168.49.2. And when i use "minikube service --url <service-name>" i get 127.0.0.1. And i don't know why.

with "minikube ssh" i can see:

![ip](https://user-images.githubusercontent.com/47037827/108876639-bbedd100-75fe-11eb-9045-35670dad3da3.PNG)

T

[2021-02-23 16:57] prezha commented on #9305
@slavonicsniper, @harryttd thanks for your reply

i looked a bit more into it and in the summary: you are right, and i'd say that it doesn't work in multinode env - "by design"

minikube default storage provisioner uses hostPath type of volume, which means that it will use a local folder (`/tmp/hostpath-provisioner/<namespace>/<pvc_name>`) on its node to back the pv (created by pvc)

since this st

[2021-02-23 17:42] tstromberg commented on #1753
@MPLew-is - no, but I would be exceedingly happy to see that transition happen! Let me know if you need any help.

[2021-02-23 18:21] spowelljr commented on #10570
I removed `session.Close()` from `cmd.Wait` as `cmd.Start` doesn't call it, now the stderr logs are there sometimes and sometimes not, there seems to be a race condition going on.

[2021-02-23 18:35] ilya-zuyev commented on #10256
Fixed in https://github.com/kubernetes/minikube/pull/10464

[2021-02-23 18:35] #10256 closed

[2021-02-23 19:58] mativillagra commented on #9364
Hello!

Paste here my result, but as you point out **It works now!**

[code]
The only difference with the above configuration is the version of minikube used, everything is the same this means same deployments are used.

[code]

[code]
[code]
[code]

[code]

As you can see request is either attend from one pod & another.

**Thanks for the support & sorry for the late respond!**

[2021-02-23 22:07] spowelljr commented on #10336
Fixed adding log dir if it doesn't exist, however fails on `delete --purge` because dir exists on check but it's deleted when it goes to log, need to skip logging if dir doesn't exist or detect if `delete --purge`.

[2021-02-23 22:11] spowelljr commented on #10336
The above comment is actually an audit.json issue, and not related to start logs.

[2021-02-23 22:11] applitect opened #10581 "Minion node minikube-m02 kube-proxy unable to start because metrics server failed"
**Steps to reproduce the issue:**

On Ubuntu 20.04.2 box. iptables at box level have been reset to stock. docker version 20.10.3. minikube version 1.17.1

1. minikube start --vm-driver=docker --nodes=2 --alsologtostderr -v=1

**Full output of failed command:**
$ kubectl get pods --all-namespaces
[code]
$ kubectl logs -n kube-system kube-proxy-sxnpf
[code]

**Full output of `minikube start` command

[2021-02-23 22:14] applitect commented on #10581
I'm able to get kube-proxy started without this error if I add `--extra-config=kube-proxy.metricsBindAddress=''` But not sure if this is the intended requirement.

[2021-02-23 22:31] spowelljr commented on #10336
Need to make `minikube logs` display a nice message instead of erroring if no `lastStart.txt` file exists.

[2021-02-23 23:52] devunixguy opened #10584 "minikube service error : no DISPLAY environment variable specified"
**Steps to reproduce the issue:**
~]$ minikube start
* minikube v1.13.0 on Redhat 7.5
* Using the docker driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Pulling base image ...
* Creating docker container (CPUs=2, Memory=2200MB) ...
! This container is having trouble accessing https://k8s.gcr.io
* To pull new external images, you may need to configure

[2021-02-24 00:00] spowelljr commented on #10324
In-progress

[2021-02-24 00:53] priyawadhwa commented on #10498
Hey @shafiurrahmanA thanks for opening this issue. Could you please provide the following info so that we can help resolve it?

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl get po -A`

Thank you for sharing your exper

[2021-02-24 00:56] priyawadhwa commented on #10495
Hey @magnus-larsson thanks for opening this issue, it seems like a bug with our `--ports` flag. I'm not super familiar with why this would be happening, @medyagh would you have any idea about this?

[2021-02-24 00:57] priyawadhwa commented on #10487
Hey @anupam54  -- I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl g

[2021-02-24 00:59] priyawadhwa commented on #10485
Hey @pkjasawat thanks for opening this issue. Looks like you are using the none driver with insufficient permissions:

[code]

You may need to try running `sudo minikube start --driver none` for this to work. Please let us know if that helps. Thank you!

[2021-02-24 01:01] priyawadhwa commented on #10481
Hey @ChocaGame thanks for opening this issue. Are you running `minikube start` as root? Running as root may help since you are using the none driver. I would try `sudo minikube start --driver none`. Please let us know if that fixes the issue for you!

[2021-02-24 01:01] priyawadhwa commented on #10475
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl get po -A`

Thank y

[2021-02-24 01:02] priyawadhwa commented on #10470
Hey @phantooom thanks for opening this issue, looks like the PR for it is in progress.

[2021-02-24 01:03] priyawadhwa commented on #10469
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl get po -A`

Thank y

[2021-02-24 01:04] priyawadhwa commented on #10444
Since we have resolved this issue, I'm going to go ahead and close it. Thank you! Feel free to reopen if you have any additional thoughts or questions by including /reopen in your comment.

[2021-02-24 01:04] #10444 closed

[2021-02-24 01:08] priyawadhwa commented on #10576
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl get po -A`

Thank y

[2021-02-24 01:09] priyawadhwa commented on #10539
@BLasan sure go for it!

[2021-02-24 01:10] priyawadhwa commented on #10533
Hey @psksaikrishna thanks for opening this issue.
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

[2021-02-24 01:12] priyawadhwa commented on #10467
Hey @n-mam thanks for opening this issue . It seems similar to https://github.com/kubernetes/minikube/issues/9070

Unfortunately I don't have better advice than what was written in that issue. I'd recommend deleting minikube and restarting it:

[code]

if you can't sucessfully start the cluster, please provide the output of the following and we can try to diagnose the issue:

[code]

[2021-02-24 01:15] #8040 closed

[2021-02-24 01:17] priyawadhwa commented on #10451
Hey @BLasan some details around the test cases we'd like to see are in the issue description. Do you have further questions around those?

[2021-02-24 01:21] #10516 closed

[2021-02-24 03:09] #10324 closed

[2021-02-24 03:14] Karmavil commented on #9161
@AndrewPanov
I'm trying to improve the description of [an issue I opened yesterday](https://github.com/kubernetes/website/issues/26673) (I'm reading documentation right now). I'm not sure if it is related with your problem, but maybe it is.
You're getting this particular message: `no basic auth credentials`
So in my limited experience I see 2 options here.. your credentials are wrong or your repos

[2021-02-24 04:00] anupam54 commented on #10487
Hey,
      I have reinstalled all the packages that were needed to run it and it
worked. Thanks

On Wed, Feb 24, 2021 at 6:27 AM priyawadhwa <notifications@github.com>
wrote:

[2021-02-24 04:11] n-mam commented on #10467
Thanks @priyawadhwa . This was happening intermittently.. sometime it did start fine. Since then, I moved to a minikube setup inside a linux vm and it is working fine there. I'll close this for now. Will update in case I find anything interesting

[2021-02-24 04:11] #10467 closed

[2021-02-24 05:01] BLasan commented on #10451
No ma'am, all clear. Thanks :)

[2021-02-24 05:03] syauqisabili commented on #9063
when i checked netstat, the server was set up to listen on 0.0.0.0.

[2021-02-24 06:18] magnus-larsson commented on #10495
We did som more testing yesterday and we noticed that if we map the ports to non system ports (> 1023) it seems to work without any problems. For example, the following command works fine:

[code]

Without root privileges, we should not be able to map to system ports, I guess?

We also tried `sudo minikube start --driver=docker --ports=80:80 --ports=443:443`, but it results in the error message `T

[2021-02-24 06:45] medyagh commented on #10495
@magnus-larsson that is a great suggestion ! if we provide validation on the ports this will save a lot of other people's time to not debug this !

I woudl accept any PR that would do a validation on the ports specified by the user

[2021-02-24 07:26] #10470 closed

[2021-02-24 08:41] reinvantveer commented on #10517
OK, fair warning: I rebooted my system this morning and my networking is broken, it seems I shouldn't have disabled the network manager. I need to do some more figuring out.

[2021-02-24 10:35] limkakk opened #10587 "minikube startup issue"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-02-24 13:10] Dhairya-Dudhatra opened #10588 "minikube start issue"
minikube --driver=none start

 `😄  minikube v1.17.1 on Ubuntu 20.04
✨  Using the none driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing none bare metal machine for "minikube" ...
ℹ️  OS release is Ubuntu 20.04.2 LTS
🐳  Preparing Kubernetes v1.20.2 on Docker  ...
    ▪ kubelet.resolv-conf=/run/systemd/resolve/resolv.conf

❌  Exiting

[2021-02-24 13:11] Dhairya-Dudhatra commented on #10588
I am sorry for poor formating .
also ask if any further info. is required.

[2021-02-24 13:26] pkjasawat commented on #10485
Hi @priyawadhwa ,

Thanks for your response.

I tried that but unfortunately it did not work. In my opinion I am getting permission denied because its trying to run sudo from root user and which is not allowed.

steps I also tried as root:

1. copied failed command from error logs and tried to execute manually and got the same error (sudo /bin/bash -c "test -s /usr/share/ca-certificates/minikubeCA

[2021-02-24 14:01] zeshahid opened #10589 "Exiting due to K8S_INSTALL_FAILED: updating control plane: generating kubeadm cfg: getting cgroup driver: docker info --format : exit status 2"
kube@ubuntu:~$ minikube start
😄  minikube v1.17.1 on Ubuntu 20.04
✨  Using the none driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing none bare metal machine for "minikube" ...
ℹ️  OS release is Ubuntu 20.04.2 LTS
🐳  Preparing Kubernetes v1.20.2 on Docker  ...
    ▪ kubelet.resolv-conf=/run/systemd/resolve/resolv.conf

❌  Exiting du

[2021-02-24 15:22] tammysuryana opened #10590 "minikube start"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-02-24 15:45] steephengeorge commented on #10022
It worked as expected. You can close this ticket.

On Thu, Feb 11, 2021 at 1:16 AM Steven Powell <notifications@github.com>
wrote:

[2021-02-24 15:50] #10022 closed

[2021-02-24 15:51] steephengeorge commented on #10022
It is working as expected with version v1.17.1

[2021-02-24 16:03] ikurtz commented on #1340
It's DNS, It's not DNS... it's fucking DNS.

I'm just attempting to install a barebones Jenkins instance on minikube (1.17.1) running on MacOS Big Sur 11.2.1. The DNS resolver for minikube (coredns) seems to employ an endless loop of DNS requests that never end up leaving the pod. I've followed the instructions here --> https://www.jenkins.io/doc/book/installing/kubernetes/

I'm getting a healthy

[2021-02-24 16:52] applitect commented on #10581
Looking at the kube-proxy config for both nodes reveals the following config
[code]
The looking at $ ip a I see the following on master node:
[code]
and on minion node
[code]
But on my host machine, I see:
[code]
So of course the minion won't be able to start the metrics server because it's trying to start it on the master's ip address and that port is already in use.

Should the config for the mi

[2021-02-24 17:20] spowelljr commented on #10587
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr, for example:

[code]
- Also the full the output of the
[code]
This will

[2021-02-24 17:20] spowelljr commented on #10590
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr, for example:

[code]
- Also the full the output of the
[code]
This will

[2021-02-24 17:26] spowelljr commented on #10588
Thank you for sharing your experience! If you don't mind, could you please provide:

- The full output of the command you are using by adding --alsologtostderr, for example:

[code]
- Also the full the output of the
[code]
This will help us isolate the problem further. Thank you!

For formatting, you could do this to improve the readability:
[code]
Looks like:
`minikube start logs`
<details>
Paste

[2021-02-24 17:32] spowelljr opened #10591 "Fix TestJSONOutput/start/parallel/DistinctCurrentSteps & IncreasingCurrentSteps tests failing"
Example failure: https://storage.googleapis.com/minikube-builds/logs/10583/868ee11/none_Linux.html

Suspected breaking change: https://github.com/kubernetes/minikube/commit/db93039f9cc8bba23c5928729e1c7ad21d811304

[2021-02-24 17:32] spowelljr commented on #10591
In-progress

[2021-02-24 17:35] vcashadoop opened #10592 "Unable to access Minikube dashboard from Local machine without GUI"
**Steps to reproduce the issue:**

1.Installed Oracle VM in my laptop, and jave installed minikube  in the CENTOS 7 running in the VM
2. Installed the minikube
3.and then ran the command minikube dashboard --url=true

* Verifying dashboard health ...
* Launching proxy ...
* Verifying proxy health ...
http://127.0.0.1:34986/api/v1/namespaces/kubernetes-dashboard/services/http:kubernetes-dashboard:/

[2021-02-24 17:52] #10336 closed

[2021-02-24 18:13] priyawadhwa commented on #10487
Great!

[2021-02-24 18:13] #10487 closed

[2021-02-24 19:08] mconner opened #10593 "minikube start fails on stop/start"
**Steps to reproduce the issue:**

1. minikube stop
2. minikube start  (got the errors, as shown in minikube start below)
3. minikube stop
4. minikube start.  Everything (pods, ingress, volumes) is gone.

I had been running minikube, starting and stopping without any problem, and sometimes restarting windows, for a few days without issue.   I've had similar problems in the past when shutting down

[2021-02-24 19:18] priyawadhwa commented on #10483
Hey @LaumiH thanks for opening this issue. I'm not very familiar with tunnel, but it seems like maybe the profile isnn't being passed into the cleanup flag and that's why non-default profiles aren't being cleaned up.

If you, or anyone else, would be interested in exploring this bug, the relevant code can be found here:

https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/tunnel.go

[2021-02-24 19:20] priyawadhwa commented on #10483
What driver are you running minikube with?

[2021-02-24 19:20] ilya-zuyev commented on #10577
Yeah, currently there's no way to build and store multi-arch images locally (`docker` output) and we have to use --push all the time.
When migrated to multi-arch kicbase we decided to remove the old make target after some internal discussion, to avoid extra complexity in Makefile and supporting two formats of kicbase image. We're going to add an option for local registry builds when/if `--output d

[2021-02-24 19:26] priyawadhwa commented on #10581
Hey @applitect that seems correct to me, and this looks like a bug. When we apply the metrics server on a minion node, we should check its ip address and add it to the config.

If you, or anyone else, would be interested in fixing this bug I'd be happy to look at a PR!

[2021-02-24 19:30] sharifelgamal commented on #10534
Based on the minikube start output, it would seem that you are trying to restart a cluster that is corrupted or broken in some way. My suggestion would be to run `minikube delete` then `minikube start` again and see what happens.

---

根据minikube start输出，您似乎正在尝试重新启动以某种方式损坏或损坏的群集。我的建议是再次运行“ minikube delete”，然后再次运行“ minikube start”，看看会发生什么。

[2021-02-24 19:31] ilya-zuyev commented on #10592
Hi @vcashadoop! Thanks for reporting this.  Could you provide logs of `minikube start -v=5 --alsologtostderr`?

[2021-02-24 19:33] priyawadhwa commented on #10149
Hi @ricosega sorry, I meant to say this:

Running minikube start --download-only with a network connection should (in theory) be enough to run minikube start successfully *offline*.

When you run `minikube start --download-only` do you have a docker daemon running? If so, then minikube will download the kicbase image to the docker daemon, which would explain why this doesn't work when you move the

[2021-02-24 19:38] priyawadhwa commented on #6411
Hey @eddyjlhaigh this is on our roadmap, but we are waiting for the `overlayfs` kernel module to be enabled on ChromeOS. Once that module is enabled, minikube should be able to run, but I'm not sure when that can be expected to happen. Regardless, this is definitely on our radar.

[2021-02-24 19:39] eddyjlhaigh commented on #6411
@priyawadhwa Thanks for the update! :)

[2021-02-24 19:43] priyawadhwa commented on #10593
Hey @mconner thanks for opening this issue. It looks similar to https://github.com/kubernetes/minikube/issues/8765 -- unfortunately I'm not sure why this is happening, but it looks like running `minikube delete && minikube start` resolved it for most people.

Would that work for you?

[2021-02-24 19:44] spowelljr commented on #10584
Hi @devunixguy, thanks for reporting your issue.

Could you check if your `DISPLAY` env is set and report back. If it's not set, set it and try running the command again.

[2021-02-24 19:45] priyawadhwa commented on #10443
Hey @dytyniuk thanks for pointing this out. If you, or anyone  else, would be interested in upgrading this library in minikube we'd be happy to take a look at the PR!

[2021-02-24 19:53] #10519 closed

[2021-02-24 19:57] ilya-zuyev commented on #9806
Hi @erakjha! Any update on this issue?

[2021-02-24 19:58] medyagh commented on #10483
@LaumiH I believe our tunnel clean up is global to all profiles, and not specific for a specific profile
and minikube should do better to make sure this doesnt cause confusion

I will accept a PR that handles profile in tunnel or advices the user that the profile doesnt matter and will clean up the tunnell for all global minikube tunnels

[2021-02-24 20:05] devunixguy commented on #10584
Thanks Steve. I did try setting up the DISPLAY env but still facing the same issue.  Please suggest.

Initially this machine didn't had any browser, so I have installed firefox.

Even installed, xorg-x11-xauth and libXmu.

per a colleagues suggesting, updated X11 config in /etc/ssh/sshd_config
X11UseLocalhost no   (it was 'yes' before)

~]$ export DISPLAY=localhost:0.0
 ~]$ echo $DISPLAY
localhost

[2021-02-24 20:18] afbjorklund commented on #10592
If you run minikube in a VM, you need to run the browser in the VM.

[2021-02-24 20:20] afbjorklund commented on #10588
@spowelljr : Currently docker shows this "panic", when the daemon is not running. Solution is to start docker.

See #10165

[2021-02-24 20:22] afbjorklund commented on #10584
You need to make sure that there is an X11 server running, normally `startx` will set up the display for you.

[2021-02-24 20:26] afbjorklund commented on #10578
Looks like a bug, was there a previous attempt to start without the parameter ? Not sure how much it updates "running" profiles

[2021-02-24 20:34] afbjorklund commented on #10578
The old version (1.17.1) was less helpful:

[code]

[2021-02-24 21:12] medyagh opened #10595 "auto-pause: make time to pause configurable"

[2021-02-24 21:13] medyagh opened #10596 "auto-pause: make it memory-leak proof"
each call of `time.After` creates a new timer instance which is not released until the timer fired. If we have high traffic in `incomeCh` we'll end up with a lot of pending timers

https://groups.google.com/g/golang-nuts/c/cCdm0Ixwi9A

_Originally posted by @ilya-zuyev in https://github.com/kubernetes/minikube/pull/10427#discussion_r580669849_

https://www.fatalerrors.org/a/use-with-caution-time.a

[2021-02-24 21:14] medyagh opened #10597 "auto-pause: support non-docker runtimes"

[2021-02-24 21:21] medyagh opened #10598 "auto-pause: add support for internal api-serfver requests"
minikube should un-pause the api-server when the requests are coming from internal for example the "operators" or corn jobs...

[2021-02-24 21:24] medyagh opened #10599 "auto-pause: add arm64 support"
our makefile needs to build arm64 binary for arm64 kic image

[2021-02-24 21:27] mconner commented on #10593
@priyawadhwa,
re

I don't think so.
- They were trying to start for the first time.  I am _usually_ able to start and stop successfully for a few days.
- There's nothing in their start command output  about "certificate is valid for _these_, not _this_", (that I could find, at least).
Like I said, it looks very much like #8936, which was supposedly fixed by PR #9294. That is, the IP changed, the c

[2021-02-24 21:30] medyagh opened #10600 "TryMacStudium VMs for integration tests"

[2021-02-24 21:30] #10371 closed

[2021-02-24 21:38] medyagh opened #10601 "auto-pause: add VM driver support"
currently for KIC we do this
[code]
https://github.com/medyagh/minikube/blob/f272822d15fc3ffdeb2e51da2b202fbf37e715f1/Makefile#L817

and in Dockerfile we add this
[code]

we need to do something similar for our ISO

[2021-02-24 21:54] medyagh opened #10602 "auto-pause: intiliaze the pause state from the current state"
curently when we start the addon we assume it is not pause. which could be wrong (though not the standard use-case but might be possible)

so instead of
[code]

we should initialize it as getting the current state

[2021-02-24 22:02] afbjorklund commented on #10601
You copy it from minikube to the docker build context ? You could copy it to the buildroot as well, perhaps ?

[2021-02-24 22:11] kadern0 commented on #10357
@tstromberg I'm not able to reproduce this issue on Ubuntu 20.10

[2021-02-24 23:23] medyagh commented on #9785
still happening. functional_test.go:617: dry-run(250MB) exit code = 1, wanted = 23: exit status 1

[2021-02-24 23:27] medyagh opened #10605 "kicbase automation: include the changelog in the PR since last stable kic release"
I think we can still the Git logic from the dependbot code

example https://github.com/kubernetes/minikube/pull/10561

https://github.com/dependabot/dependabot-core

[2021-02-24 23:58] spowelljr opened #10607 "Change non-step usages of out.Step to use another logging method"
`out.Step` has special logic in it that outputs what the current step is, however, `out.Step` is being used in instances that aren't steps and is causing duplicate instances of the same step to be logged.

Any usage of `out.Step` that is not in fact a step should be changed to another logging method, possibly `out.Infof` will work, or maybe a brand new func needs to be created.

[2021-02-25 00:06] applitect commented on #10581
It's not the metrics server that is applied, it's the kube-proxy that's applied and there's code in there to start up the metrics server if the metricsBindAddress is set. Looking at the output of minikube node add, I can see the template is getting updated correctly from the log output:
[code]
But it appears that this config is not the one that is being used by the kube-proxy pod when I look at th

[2021-02-25 00:30] #10326 closed

[2021-02-25 00:34] tstromberg commented on #4313
@KubaJakubowski - That would be a completely different issue from binding to localhost, and well out of the scope of minikube.

My personal recommendation would be an SSH tunnel, but socat would probably work as well. Alternatively, you should probably just run `kubeadm` directly if you need network access. It's what minikube runs underneath.

[2021-02-25 01:24] medyagh opened #10610 "crictl installed in kic-base does not have a version"
[code]

but when I installed crictl using wget I get correct verison
[code]

[2021-02-25 01:38] kadern0 commented on #10581
@applitect if I'm not wrong, the configuration being used corresponds to the kube-proxy ConfigMap within the kube-system namespace. Please see below a trimmed output of the content of such ConfigMap:

[code]
So it means both kube-proxies share the same config (and it is only valid for master).
After a bit of researching, it seems the ".AdvertiseAddress" was introduced on [this PR](https://github.c

[2021-02-25 02:35] Crachman commented on #8997
Work!!!

(base) ➜  ~ minikube start --image-mirror-country='cn' --image-repository='registry.cn-hangzhou.aliyuncs.com/google_containers'
😄  Darwin 11.2.1 上的 minikube v1.17.1
✨  根据现有的配置文件使用 docker 驱动程序
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🤷  docker "minikube" container is missing, will recreate.
🔥  Creating docker container (CPUs=2, Memory=3890MB) ..

[2021-02-25 02:37] wswind opened #10612 "minikube addons enable ingress failed to pull images using cn mirror"
**Steps to reproduce the issue:**

1. minikube addons enable ingress
2. minikube dashboard &

**Full output of failed command:**
Failed to pull image "registry.cn-hangzhou.aliyuncs.com/google_containers/kube-webhook-certgen:v1.2.2": rpc error: code = Unknown desc = Error response from daemon: pull access denied for registry.cn-hangzhou.aliyuncs.com/google_containers/kube-webhook-certgen, repositor

[2021-02-25 02:40] wswind commented on #10612
Where is the image "kube-webhook-certgen" exactly? Is it in gcr.io/kube-webhook-certgen ?

[2021-02-25 02:55] wswind commented on #10612
I think it's a small bug with minikube's mirror function . `kube-webhook-certgen` mirror is at `docker.io/jettech/kube-webhook-certgen`, see <https://github.com/wangyingping/docker.io_kube-webhook-certgen/blob/master/Dockerfile>. But it uses aliyun mirror.

[2021-02-25 03:10] wswind commented on #10612
a work around for ones meet the same problem:
[code]

[2021-02-25 03:12] wswind commented on #10612
get an error again for pod  ingress-nginx-controller
[code]

[2021-02-25 04:04] prezha commented on #10581
i came to the same conclusion and i think you are right @kadern0 : with master node a configmap for kube-proxy is set (with master's ip) and then just reused for minions, so setting metricsBindAddress to 0.0.0.0:10249 in pkg/minikube/bootstrapper/bsutil/ktmpl/v1betaX.go would solve the issue; also tests needed to be fixed

i already made changes to the code and created or (including the necessary

[2021-02-25 04:13] vcashadoop commented on #10592
Can you please guide me how to do this? Because I have other products installed in the VM and can be accessed in the local browser.

[2021-02-25 04:24] vcashadoop commented on #10592
Just to add additional details, I did the below setting in Oracle VM also.
minikube ip
192.168.49.2

]$ minikube dashboard --url=true
* Verifying dashboard health ...
* Launching proxy ...
* Verifying proxy health ...
http://127.0.0.1:44876/api/v1/namespaces/kubernetes-dashboard/services/http:kubernetes-dashboard:/proxy/

![image](https://user-images.githubusercontent.com/5534773/109102709-7260cb8

[2021-02-25 05:07] kadern0 commented on #10581
Your changes seem right to me, @prezha. I think this will fix the issue :smiley:

[2021-02-25 05:09] wswind commented on #10612
I made a mirror to fix this:  https://github.com/wswind/mirror-k8s.gcr.io-ingress-nginx-controller

[2021-02-25 05:14] Dhairya-Dudhatra commented on #10588
`minikube start --driver=none --alsologtostderr`
<details>
I0225 10:36:27.973093    9868 out.go:229] Setting OutFile to fd 1 ...
I0225 10:36:27.982694    9868 out.go:281] isatty.IsTerminal(1) = true
I0225 10:36:27.982780    9868 out.go:242] Setting ErrFile to fd 2...
I0225 10:36:27.982830    9868 out.go:281] isatty.IsTerminal(2) = true
I0225 10:36:27.986371    9868 root.go:291] Updating PATH: /hom

[2021-02-25 05:18] wswind commented on #10612
finally:

ws@debian:~$ minikube addons enable ingress
🔎  Verifying ingress addon...
🌟  The 'ingress' addon is enabled

[2021-02-25 05:21] wswind commented on #10612
I think minikube cn mirror is a great function. But with the use of it, there still can be a lot of problems.
I can fix the problems with the help of the real image list which are needed by minikube.
But I must search for the image urls for a long time.
If minikube  can just list the required images with a command or logs  would be great for me

[2021-02-25 06:11] krezovic commented on #10156
Not fully fixed. There's still calico/cni and calico/pod2daemon-flexvol on lines 611 and 647, respectively.

[2021-02-25 06:18] afbjorklund commented on #10610
The version is v1.17.0

[code]
[code]

See https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/cri-tools

[2021-02-25 06:22] BLasan commented on #10156
Thanks for pointing. Will fix this

[2021-02-25 06:30] BLasan commented on #10156
@priyawadhwa Do we need to change the images used for installation purposes in initcontainers ?

[2021-02-25 06:35] BLasan commented on #10156
I have configured the images to be loaded dynamically according to the repository you passed in cni Deployment & Daemonsets. Those images used in the above line numbers you've pointed out are to install the necessary configurations. (used in initcontainers). I think there's no need of changing those images. @priyawadhwa please correct me if I'm wrong

[2021-02-25 06:37] horihel commented on #10578
You're right - manually deleting "profile" and "machine" in %USERPROFILE%\.minikube solved the problem, because I had a typo in my very first try (which failed then of course).

So to me it looks like minikube does not update the SSH IP at all. And if there's an unreachable IP recorded, `minikube delete` will also fail, forcing you to manually edit/delete in ~/.minikube

Further testing with manua

[2021-02-25 09:54] reinvantveer commented on #10517
Just restoring the network manager was enough, don't know exactly where I got the advice to disable it but it was a very bad idea :laughing:

[2021-02-25 11:34] rgordill opened #10618 "ssh-user is not used in native mode"
**Steps to reproduce the issue:**

1. minikube start --driver=ssh --ssh-ip-address=192.168.122.171 --ssh-user=centos -p kubevirt

**Full output of failed command:**

😄  [kubevirt] minikube v1.17.1 on Fedora 33
✨  Using the ssh driver based on existing profile
👍  Starting control plane node kubevirt in cluster kubevirt
🏃  Updating the running ssh "kubevirt" bare metal machine ...
🤦  StartHost faile

[2021-02-25 12:46] vivekshwarup commented on #7659
minikube start --driver=docke --force

[2021-02-25 13:50] irizzant commented on #6584
/remove-lifecycle stale

[2021-02-25 14:34] robrich commented on #9183
Unstale please.  In theory this is a 2-line fix.  I definitely don't have enough perspective to criticize, but a few months of inactivity seems a mistake.  What's the fastest path to resolution?

[2021-02-25 16:12] gfengster opened #10620 "Exiting due to GUEST_START:"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-02-25 16:43] applitect commented on #10581
I'll do some testing. I was playing with those templates and was on the right path it seems. Just didn't understand the 0.0.0.0 piece.

[2021-02-25 16:45] afbjorklund commented on #10618
I think this is the same problem as in #10578, you might have to recreate the profile to pick up the new parameters

[2021-02-25 17:00] applitect commented on #10581
:white_check_mark: Tested creating 4 nodes at startup
:white_check_mark: Tested creating 1 node at startup
:white_check_mark: Tested adding node after startup
:white_check_mark: Tested deleting node then adding new node (this one acted strange but eventually came up

Now this get's me to the next piece I've been trying to get working. Multinode deployments.

[2021-02-25 17:04] afbjorklund commented on #10578
Unfortunately the current workaround is to edit the profile/machine configuration directly, just like you have discovered.

This shortcoming is shared with the VM, that it cannot be modified after creation. I would recommend DNS, for the IP.

i.e. add some alias to `/etc/hosts`

[2021-02-25 17:13] afbjorklund commented on #10618
Currently we only validate the IP address. Eventually we might want to "ping" the entire connection, test SSH.

[2021-02-25 17:17] rgordill commented on #10618
It is a fresh one. It works with native=false (on some connections).

[2021-02-25 17:22] afbjorklund commented on #10618
Sorry, I meant the same underlying problem - the parameter itself is different. Also, there is no validation of user or key.

[2021-02-25 17:24] applitect commented on #8055
After some work on this yesterday, I can confirm there was a bug with kube-proxy starting up and a merge request to fix it has been submitted. See https://github.com/kubernetes/minikube/issues/10581 Now that it is fixed, I can run `kubectl scale --replicas=2 -n kube-system deployment coredns` and get dns resolution to succeed. However, now researching an issue where I can't access pods in other no

[2021-02-25 17:27] afbjorklund commented on #10618
Ah, maybe you are talking about the go-native implementation of ssh ? (`--native-ssh=true`) Yeah, that does have issues.

[2021-02-25 17:42] afbjorklund commented on #10618
Do you have more information or more verbose logs ? It is supposed to always use the ssh user, when connecting to the VM.

`ssh centos@192.168.122.171`

[2021-02-25 18:03] applitect commented on #8055
Okay, I think I've figured something out. I'm going to open a new ticket. This is all based on problems in the iptables. I'll add a link to the new ticket when I get it put together.

[2021-02-25 18:30] priyawadhwa commented on #10474
Hey @liakaz thanks for opening this issue. Looks like your `kubeconfig` has somehow misconfigured:

[code]

Could you try running:

[code]

If that doesn't fix it, I'd recommend deleting the cluster and recreating it:

[code]

Please comment here with the results!

[2021-02-25 18:34] priyawadhwa commented on #10449
Hey @darkmatterjinx thanks for opening this issue. Just to clarify, it seems like the issue is that minikube is pulling from `https://https://registry.aliyuncs.com/google_containers` even though you didn't specify it in `minikube start`?

Are you located in China? This registry is a mirror of GCR that allows users in China to use minikube -- some details can be found in this PR https://github.com/

[2021-02-25 18:59] afbjorklund commented on #10618
When I set up a VM with vagrant, I get the correct parameters for connecting:

`new ssh client: &{IP:192.168.50.4 Port:22 SSHKeyPath:/home/anders/.minikube/machines/ssh/private_key Username:vagrant}`

### Native

[code]

### External

[code]

[2021-02-25 19:31] rgordill commented on #9992
There are work for most of the distros to create a minimal one in the container space. For example, in Fedora there are different alternatives created with kickstart: https://pagure.io/fedora-kickstarts/tree/main, or in ubuntu https://cdimage.ubuntu.com/netboot/.

From them, adding packages through package-manager is quite more easy to do and maintain.

[2021-02-25 20:03] priyawadhwa commented on #10242
Hey @h4n0sh1 thanks for opening this issue. I'm not totally sure why this isn't working but I was wondering if you've tried our `gvisor` addon? It may not be exactly what you're looking for if you're trying to use a custom version of runsc, but perhaps looking into the implementation could provide some clues about how to integrate your custom runtime.

The addon can be enabled via

[code]

and the

[2021-02-25 20:58] applitect commented on #8055
I've figured out my problem. I was trying to use kubrenetes 1.16 with multinode. 1.16 ends up putting the docker ip address range of 172.17.0.1/16 in the kube-proxy controlled ip tables. The 172 range of addresses are not exposed when run in the docker driver. If I upgrade to kubernetes 1.20.1, then the problem goes away as the iptables use the 192.168.49.0 addresses.

[2021-02-25 21:06] applitect commented on #8055
So it appears that the iptables inside the nodes are based on the 172 addresses until 1.20. So multinode will not work with any other versions without some work.

[2021-02-25 21:28] kfox1111 commented on #8055
Is that problem specific then to the docker driver or would the kvm2 driver have it too? Wondering if there are multiple problems here or not.

[2021-02-25 21:56] priyawadhwa commented on #10342
Hey @noelwelsh thanks for opening this issue. Looks like the failing error is:

[code]

which seems similar to https://github.com/kubernetes/minikube/issues/7549. Based on https://github.com/kubernetes/minikube/issues/7549#issuecomment-611595010 looks like it is an issue with your firewall. Unfortunately, I'm not sure what more you can do besides turning it off since I'm not very familiar with Win

[2021-02-25 22:00] priyawadhwa commented on #10620
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl get po -A`

Thank y

[2021-02-25 22:02] priyawadhwa commented on #10589
Hey @zeshahid thanks for opening this issue. It looks similar to https://github.com/kubernetes/minikube/issues/9744.

Based on this comment, could you try adding the user you are running under to the docker group? Thank you. https://github.com/kubernetes/minikube/issues/9744#issuecomment-753595656

[2021-02-25 22:05] #10264 closed

[2021-02-25 22:12] priyawadhwa commented on #10593
@mconner gotcha. You pointed out https://github.com/kubernetes/minikube/issues/10485 in the issue description -- that won't fix your bug because it only applies to the docker driver, and you're running on hyperv.

Would the docker driver be an option for you? (I'm not very familiar with hyperv or Windows so unfortunately this is the best suggestion I currently have).

[2021-02-25 22:14] priyawadhwa commented on #10485
Hey @pkjasawat glad you were able to get that working! And your idea seems reasonable -- if you, or anyone else, would be interested in removing the calls to `sudo` within the code for the none driver we'd be happy to accept a PR.

[2021-02-25 22:20] mecampbellsoup commented on #8939
Do the Mac OS users in this thread have any suggested resource configuration for both Docker for Mac and `minikube start` params?

[2021-02-25 22:21] priyawadhwa commented on #10280
@jgoeres impressive detective work!

I'm not sure what more we can do at this point, but if you find anything in minikube that can be changed to improve this we'd be happy to accept PRs. I'm going to leave your temporary solution here in case anybody else faces the same issue:

[2021-02-25 22:26] priyawadhwa commented on #10127
Hey @ConradKrinock did that resolve your issue? It also looks like your cluster may be ~40 days old based on the output of `kubectl get po -A` -- minikube clusters are typically ephemeral. It may be worth it to delete the cluster and recreate `minikube delete && minikube start`, though this will wipe whatever you currently have on your cluster.

[2021-02-25 22:29] priyawadhwa commented on #9982
Ah yah so it looks like minikube won't work with btrfs because kubeadm doesn't support it -- https://github.com/kubernetes/minikube/issues/6167,

@zevinar perhaps that is your issue? if you could provide the output of `docker info` that would help.

[2021-02-25 22:30] priyawadhwa commented on #9763
Great, thanks!

[2021-02-25 22:30] #9763 closed

[2021-02-25 22:59] priyawadhwa commented on #10612
Hey @wswind thanks for pointing out, this is definitely a user experience that could be improved. If you could specify your own registry mirror for the ingress addon, would that be a suitable solution for you?

We have an issue open for that here: https://github.com/kubernetes/minikube/issues/10012

[2021-02-25 23:03] priyawadhwa commented on #10580
Hey @Carlosgpg1 thanks for opening this issue. So, with the docker driver, I think `minikube ip` always returns 127.0.01 -- this was a design decision made when implementing the driver (some details can be found in this comment and this thread in general https://github.com/kubernetes/minikube/issues/7344#issuecomment-607912777).

Are you looking to forward a LoadBalancer service?

[2021-02-25 23:14] sharifelgamal opened #10622 "Failing test: TestCertOptions on Windows Docker"
Gopogh link: https://storage.googleapis.com/minikube-builds/logs/10603/fb9f08b/Docker_Windows.html#fail_TestCertOptions

[code]

[2021-02-25 23:20] sharifelgamal opened #10624 "Failing test: TestDockerFlag on Windows Docker"
https://storage.googleapis.com/minikube-builds/logs/10603/fb9f08b/Docker_Windows.html#fail_TestDockerFlags

[2021-02-25 23:25] sharifelgamal opened #10625 "Failing test: TestForceSystemdEnv on Windows Docker"
https://storage.googleapis.com/minikube-builds/logs/10603/fb9f08b/Docker_Windows.html#fail_TestForceSystemdEnv

[2021-02-25 23:27] sharifelgamal opened #10626 "Failing test: TestForceSystemdFlag on Windows Docker"
https://storage.googleapis.com/minikube-builds/logs/10603/fb9f08b/Docker_Windows.html#fail_TestForceSystemdFlag

[2021-02-25 23:31] sharifelgamal opened #10627 "Failing test: TestFunctional/DockerEnv on Windows Docker"
https://storage.googleapis.com/minikube-builds/logs/10603/fb9f08b/Docker_Windows.html#fail_TestFunctional%2fparallel%2fDockerEnv

This is due to how we run our windows test. We ssh from a linux machine into a windows machine, starting a cmd terminal that then executes a powershell script. `minikube docker-env` then detects the cmd env and gives us incorrect commands since we're actually in powersh

[2021-02-25 23:39] sharifelgamal opened #10628 "Failing test: TestErrorSpam on Windows Docker"
https://storage.googleapis.com/minikube-builds/logs/10603/fb9f08b/Docker_Windows.html#fail_TestErrorSpam

[2021-02-25 23:39] sharifelgamal commented on #10405
TestCertOptions: #10622
TestDockerFlags: #10624
TestForceSystemdEnv: #10625
TestForceSystemd: #10626
TestFunctional/DockerEnv: #10627
TestErrorSpam: #10628

[2021-02-25 23:41] psaini79 opened #10629 "Pod is unable to reach internet"
**Steps to reproduce the issue:**

1. Installed the minikube 1.17.1 on a VM . It is installed as a root user.
2. Minikube using docker engine installed on a docker host
3. Created the pod and unable to download any package using yum. However, on minikube host machine, I am able to download the packages using yum.

**Full output of failed command:**
[code]
[root@alexminikubeshard ~]# ping  yum.orac

[2021-02-25 23:58] priyawadhwa commented on #10549
Hey @6monlambert thanks for opening this issue. I've never tried to set up a bridge interface with virtualbox before, but I did find this blog post -- maybe that would have some useful info?

https://dpb587.me/post/2020/04/11/minikube-and-bridged-networking/

[2021-02-26 00:56] medyagh commented on #10626
the problem seems to be, minikube NOT detecting powershell when it is invoked through SSH
and it is using "Export" for powershell
[code]

[2021-02-26 00:57] medyagh commented on #10622
[code]

[2021-02-26 01:05] kadern0 commented on #10483
I've been looking into this and the "problem" with cleanup is that there is no specific tunnel delete command, the current command creates a new tunnel and, if specified, will clean unused tunnels. Why do you need to delete the tunnel after you hit Ctrl+C, @LaumiH?

You are right about minikube not being able to create multiple tunnels at the same time, I'm also getting the "conflicting route" err

[2021-02-26 01:39] BenTheElder commented on #6411
This is fairly necessary and why it is necessary is commented in the original source:
https://github.com/kubernetes-sigs/kind/blob/c234d2b77ae36bd24cfa14af9c18b9bb0810a646/images/base/files/usr/local/bin/entrypoint#L53-L58

`/sys` should not be rw. It's technically possible to run this way but it is not a great idea, see the references above.
It is somewhat less necessary in [KIND](https://github.

[2021-02-26 02:24] pranavv0 opened #10632 "X Failed to update cluster: updating node: downloading binaries: downloading kubeadm: download failed:"
**Steps to reproduce the issue:**

1. minikube start --driver=virtualbox --kubernetes-version=v1.20.0

**Full output of failed command:**
minikube v1.12.0 on Microsoft Windows 10 Home Single Language 10.0.18363 Build 18363
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Updating the running virtualbox "minikube" VM ...
* Preparin

[2021-02-26 03:30] #10632 closed

[2021-02-26 05:27] medyagh opened #10633 "Kic base automation made kubectl binary in minikube rooy"
https://github.com/kubernetes/minikube/pull/10623

Created kubectl file in our root repo

@sharifelgamal

[2021-02-26 06:59] wswind commented on #10612
That feature would be great too.
But what I want is something like `kubeadm config images list`  for minikube addons, to help me to check what imgaes exactlly is needed.
![image](https://user-images.githubusercontent.com/18399096/109266392-fba4fa80-7842-11eb-9eee-539cb8c29a4f.png)

[2021-02-26 07:06] afbjorklund commented on #10485
Normally we don't recommend running minikube as root, but then again Katacoda is doing it already. It is indeed unnecessary to use sudo, when running as root. We don't want users running "sudo minikube", since it makes the configuration paths strange.

However, on the normal systems root _is_ allowed to run all commands with sudo:

[code]

So this looks specific to RHEL. Either way, would be nice

[2021-02-26 07:11] afbjorklund commented on #10629
If you run other docker containers on the host, do they have proper networking (can they reach the outside?)

[2021-02-26 08:39] LaumiH commented on #10483
First, thank you all for your help.

I made an interesting observation today, that is, for the `minikube` profile, the command does not work either, it starts the tunnel. So it looks to me as if the `-c` flag is simply not affecting anything.

The reason why I wanted to delete a tunnel in the first place was what @kadern0 described, I wanted to open two tunnels for two profiles and ran into the `c

[2021-02-26 14:55] govargo opened #10636 "[Bump-up] VolumeSnapshot from v1beta1 to v1(GA)"
/area addons

Minikube can use VolumeSnapshot as an addon.
Its version is v1beta1 api version.

https://github.com/kubernetes/minikube/blob/a2a3475e7d2b901bbdd59baa63c6c0f207a653de/deploy/addons/volumesnapshots/snapshot.storage.k8s.io_volumesnapshots.yaml.tmpl#L148-L152

In Kubernetes v1.20, the VolumeSnahot moved to GA(v1).

[Kubernetes 1.20: Kubernetes Volume Snapshot Moves to GA](https://kubern

[2021-02-26 14:55] govargo commented on #10636
/assign

[2021-02-26 17:13] jgoeres commented on #10280
At this point, I think that the issue would have to be further investigated on CoreDNS side (or maybe the Minikube network?), alas, the issue I reported with the CoreDNS project has been closed, since "we see this all time, k8s networking isn't reliable". Luckily, this isn't critical as it can be avoided and I also didn't manage to reproduce it on production environments (EKS, mostly).
So fine for

[2021-02-26 17:55] #10633 closed

[2021-02-26 19:32] priyawadhwa commented on #10636
Thanks for taking this on @govargo !

[2021-02-26 19:43] priyawadhwa commented on #10612
Ah I see, something like `minikube addons images list` is what you're looking for.

If you, or anyone else, would be interested in submitting a PR for that we'd be happy to take a look at it !

[2021-02-26 19:50] priyawadhwa commented on #10280
Sounds good! I'll go ahead and close the issue if there's nothing that can be done on the minikube side. Thank you again!

[2021-02-26 19:50] #10280 closed

[2021-02-26 19:53] medyagh opened #10640 "Flake Test: TestMultiNode/serial/RestartMultiNode: node X has unwanted condition "Ready" : Reason "NodeStatusUnknown" Message: "Kubelet stopped posting node status.". will try."
Example https://storage.googleapis.com/minikube-builds/logs/10638/8b10177/Docker_Linux.html#fail_TestMultiNode%2fserial%2fRestartMultiNode

[code]

[2021-02-26 19:56] priyawadhwa commented on #9161
Hey @AndrewPanov have you tried using our `registry-creds` addon? Documentation for it can be found here and might help fix your auth failure: https://minikube.sigs.k8s.io/docs/handbook/registry/#using-a-private-registry

[2021-02-26 20:05] newtoniumx3 commented on #10544
Hey I’m currently afraid to touch it as I finally got everything working using Kubernetes that ships with docker desktop.
I’m not sure I’m willing to risk messing with my config again as I was down over a week when this stopped working for some strange reason (because I always had it working for months prior).

I will attempt on different machine to see if I can reproduce it.

[2021-02-26 20:47] priyawadhwa commented on #10544
@newtoniumx3 thanks, no worries if it's too difficult to try to reproduce!

[2021-02-26 20:52] priyawadhwa commented on #10343
Hey @BioGeek thanks for opening this issue. Unfortunately I'm not very familiar with WSL, but I found additional issues/blog posts that may be useful:

- https://github.com/kubernetes/minikube/issues/5392
- https://matheja.me/2020/04/08/getting-started-with-minikube-on-wsl2.html

Please let us know if you find anything that resolves your issue, and if not we can keep trying to debug!

[2021-02-26 21:40] #9072 closed

[2021-02-26 21:40] medyagh commented on #9072
done

[2021-02-26 21:40] medyagh commented on #10405
done

[2021-02-26 21:40] #10405 closed

[2021-02-26 21:52] medyagh commented on #10330
CC: @spowelljr

[2021-02-26 22:10] medyagh commented on #9809
this task is assigned to @prezha

[2021-02-26 22:12] medyagh commented on #10571
as part of this task we should cancel the current Build Job, Building ISO
( the current minikube build job will build ISO too if ISO files are touched but I believe it wont tests the PR with that ISO, so it is useless and only takes times so that configuration needs to be reset)

[2021-02-26 22:38] prezha commented on #9809
/assign

[2021-02-26 22:54] medyagh commented on #10443
@dytyniuk do u mind checking if the binary in this PR fixes the problem ? https://github.com/kubernetes/minikube/pull/10631

http://storage.googleapis.com/minikube-builds/10631/minikube-darwin-amd64

[2021-02-26 23:00] priyawadhwa commented on #10438
My main idea around improving start time is to start including preloaded tarballs in the kic base image.

Instead of downloading preload images as a separate tarball, we could include the tarball as the final layer in the kic image.

Pros:
- Download should be the same for users, since we’re just downloading as an image layer instead of a separate tarball
- If we make sure to have the preload tarb

[2021-02-26 23:05] priyawadhwa commented on #10437
If anyone is interested in taking this on, it's just a matter of updating [mkcmp](https://github.com/kubernetes/minikube/blob/master/cmd/performance/mkcmp/cmd/README.md) to also track start times for containerd.

You could pretty much copy what is happening here, and just pass in `--container-runtime=containerd`:

https://github.com/kubernetes/minikube/blob/2aa2d1fb8da9d97798f5d5f6852b42f938ab4ff7

[2021-02-26 23:07] priyawadhwa commented on #7804
If we end up implementing the idea mentioned here -- https://github.com/kubernetes/minikube/issues/10438#issuecomment-786939858 -- then this issue is obsolete.

[2021-02-26 23:10] medyagh commented on #10492
@ilya-zuyev is this test still failing ?

[2021-02-26 23:19] Butterneck commented on #10629
Hi, same problem here.

If I run other container inside minikube they're able to reach internet.
Only containers created applying `.yaml` files are affected.

Changing `nameserver` from `10.96.0.10` to `8.8.8.8` in `/etc/resolv.conf` make the pod able to ping internet resources

[2021-02-26 23:26] ilya-zuyev commented on #10402
It looks like we have an issue with etcd image manifest

on ARM host:

[code]
If we check the cached etcd image:
[code]
note *"amd64"* arch on arm machine

The content of image layers is correct though:
[code]

Let's look inside the started kicbase container:
[code]
Note '-' PLATFORM. It looks like the image was imported by `ctr image import` incorrectly and kubeadm couldn't create a etcd deployme

[2021-02-27 00:13] medyagh commented on #9803
@afbjorklund is this still needed or we did that already ?

[2021-02-27 00:16] medyagh opened #10643 "add integration test on cloud shell for minikube-auth-test"
as suggested by Rob
[code]

[2021-02-27 03:39] robd003 opened #10644 "VM has 50% resting CPU usage when idle"
**Steps to reproduce the issue:**

1. minikube start
2. minikube addons metrics-server enable
3. minikube addons dashboard enable

CPU usage is never less than 50% for the duration that the hyperkit VM runs. Still have the same problem as https://github.com/kubernetes/minikube/issues/3207 however this is on macOS Big Sur 11.2.2 and running minikube v1.17.1

**Optional: Full output of `minikube log

[2021-02-27 03:52] robd003 commented on #10644
This issue persists even hours after the VM has been started. It seems like high CPU usage never stops for kube-apiserver and kubelet

[2021-02-27 07:59] afbjorklund commented on #9803
It's still the same blanket statement: https://minikube.sigs.k8s.io/docs/start/

It doesn't say when you would use one over the other, and doesn't mention bare metal.

[2021-02-27 08:01] afbjorklund commented on #9803
Will try to do a better grouping as part of the work for the Kubecon presentation.

And hopefully it can get a better graphic presentation later on, similar to #10353

[2021-02-27 08:26] afbjorklund commented on #9803
Running Docker and Podman in a VM on Linux is a bit of an experiment now, but would be included same as "Docker Desktop".

That is, the overall setup is the same: 1) start a VM 2) Run engine on VM 3) Create node in engine on VM 4) Connect remote

It's not clear when you would prefer this "double isolation", over the regular setup of just running kubeadm on the actual VM ?

One reason would be to h

[2021-02-27 08:41] afbjorklund commented on #9803
I think it would also help if I finished the network diagrams: #4938

[2021-02-27 12:57] SOVLOOKUP opened #10645 "`standard_init_linux.go:219: exec user process caused: exec format error` in arm64"
err in arm64 :
[code]
It seems that default kicbase image cannot work well in arm64 platform
sloved by add:
[code]

[2021-02-27 14:00] afbjorklund commented on #10592
You say that you are running CentOS 7, so I think it comes with Firefox ?

`yum install firefox`

Normally we just let minikube handle the VM, and run with normal browser.

[2021-02-27 14:12] afbjorklund commented on #10645
Hmm, both v0.0.17 and v0.0.18 _should_ have been multi-arch

[code]

[2021-02-27 14:15] afbjorklund commented on #10644
I think this is known, and the workaround is to use `minikube pause` when it is not in use.

[2021-02-27 20:17] robd003 commented on #10644
It would be great if we could change the default kubernetes polling intervals to something less aggressive. Maybe only look for updates once every 5 or 10 seconds?

[2021-02-27 20:42] #7992 closed

[2021-02-27 20:42] #8760 closed

[2021-02-28 03:41] psaini79 commented on #10629
@afbjorklund @Butterneck

Thanks. I managed to make it work by adding the following and restarted the docker daemon.
[code]

Now, I am able to download packages.

[2021-02-28 05:08] zh200799 opened #10646 "minikube start 失败"
**重现问题所需的命令**：
minikube start --cpus=8 --memory=39000 --driver=docker
**失败的命令的完整输出**：<details>

😄  Centos 7.9.2009 上的 minikube v1.17.1
✨  根据现有的配置文件使用 docker 驱动程序
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🏃  Updating the running docker "minikube" container ...
❗  This container is having trouble accessing https://registry.cn-hangzhou.aliyuncs.com/google_c

[2021-02-28 06:54] kadern0 commented on #10483
@LaumiH , once I stop the tunnel with ```Ctl+C``` I have no problem starting a new one to a different profile. I only get the error if the first tunnel is still running.

[2021-02-28 12:37] BLasan commented on #10602
@medyagh Shall I give a try?

[2021-02-28 12:52] afbjorklund opened #10649 "KIC: crio runtime doesn't start with podman driver, but does start with docker driver"
**docker** (20.10.4)

[code]
cni.go:121] "docker" driver + crio runtime found, recommending kindnet

**podman** (3.0.1)

[code]

cni.go:121] "podman" driver + crio runtime found, recommending kindnet

The images are loaded successfully, but there are no signs of any containers being started.

Running containers with podman does work, so this is something specific to crio-in-podman

Note:

1) Runni

[2021-02-28 12:55] afbjorklund commented on #10649
Could be related to the cgroups handling, from the latest kindbase:

`Failed to start ContainerManager failed to initialize top level QOS containers: root container [kubepods] doesn't exist`

[2021-02-28 14:27] Karmavil commented on #9161
@AndrewPanov Sorry, I'm NOT trying to say that you made a mistake with your credentials, I'm trying to say that maybe the `auth` is the problem. Let me explain:

@priyawadhwa is there a standard for repository endpoints? (so to speak) Because as you can see in [k8s doc](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#inspecting-the-secret-regcred): username, p

[2021-02-28 14:33] marjau commented on #6843
It's not recommended the use of swap o any kubernetes distributions, you are recommended swapfile, is there any exception about swapfile ?? i have rpi4B 2G with raspbian beta arm64, i tried microk8s(heavy, but works), K3s(lighter and great), what about the performance on minikube, is it a good one ? ,  i wanna tried it... can you upload a screenshoot of top or htop with some pods working, thanks

[2021-02-28 16:42] afbjorklund commented on #10649
Addition: it works fine with podman2, so it is yet another regression with podman3.

Unfortunately podman 2.2.1 is no longer available, only podman 3.0.1 is provided...

[2021-02-28 16:58] afbjorklund commented on #10649
There is some fundamental difference in how the kubelet behaves...

The old podman is showing like:

GET https://control-plane.minikube.internal:8443/healthz?timeout=10s

Response Status: 500 Internal Server Error in 4 milliseconds
Response Status: 500 Internal Server Error in 3 milliseconds
Response Status: 500 Internal Server Error in 2 milliseconds
Response Status: 200 OK in 3 milliseconds

But

[2021-02-28 17:08] Karmavil commented on #9161
All right I tested again, the auth is working well this way:
[code]
[code]

[2021-02-28 18:17] kitt1987 opened #10650 "minikube start: crictl commands following containerd initialization almost always fail"
**Steps to reproduce the issue:**

1. Prepare an available but stopped minikube cluster w/ driver hyperkit and runtime containerd.
2. Start the cluster via command `minikube start -p containerd --preload=false --cache-images=false --alsologtostderr`.

Since every required image exists in the data disk, our cluster should start normally. But it didn't. Even with preload enabled, it may also run int

[2021-02-28 18:47] jgoodall opened #10651 "minikube fails to start with docker driver"
`minikube` fails to start with `docker` driver on MacOS. Including all of the output of `minikube start` below, but the problem seems related to this command timing out:  `docker exec -t minikube dig +short host.docker.internal`.  MacOS 10.15.7 (Intel) with Docker Desktop for Mac version 3.1.0. The `hyperkit` driver works.

[code]

[2021-02-28 19:04] #9369 closed

[2021-02-28 19:32] afbjorklund commented on #10649
Getting a different error now:

`Error adding network: failed to allocate for range 0: requested IP address 192.168.49.2 is not available in range set 192.168.49.1-192.168.49.254`

[2021-02-28 21:28] #10449 closed

[2021-02-28 21:43] haakan-centos opened #10652 "Add solution message if Docker is rootless"
**Steps to reproduce the issue:**

1.docker system prune --volumes
2. systemctl --user restart docker
3.minikube delete
4. minikube start --driver=docker

**Full output of failed command:**
I0228 21:16:45.860078   56169 out.go:229] Setting OutFile to fd 1 ...
I0228 21:16:45.860629   56169 out.go:281] isatty.IsTerminal(1) = true
I0228 21:16:45.860652   56169 out.go:242] Setting ErrFile to fd 2...
I

[2021-03-01 03:31] prezha opened #10655 "CoreDNS scale down to 1 replica - earlier"
we use goroutine to scale down CoreDNS (at some point) during node start, while that could negatively affect other components that are initialising

currently, there are no ways we can set the number of CoreDNS replicas that get deployed initially (there were some conversations and possible plans to support that in a future kubeadm version - eg, kubernetes/kubeadm#1954, but actually kubernetes/kub

[2021-03-01 03:31] prezha commented on #10655
/assing

[2021-03-01 03:33] wswind commented on #10646
加上这些参数试试：`--image-mirror-country='cn' --image-repository='registry.cn-hangzhou.aliyuncs.com/google_containers'`

[2021-03-01 03:49] prezha commented on #10655
/assign

[2021-03-01 06:06] afbjorklund commented on #10652
We need to have a better check against trying to run with rootless docker, which is **not** supported yet.

`WARNING: Running in rootless-mode without cgroups. To enable cgroups in rootless-mode, you need to boot the system in cgroup v2 mode.`

You will need to use the regular (rootful) Docker, if you want to use the current minikube `docker` driver.

See #9495

[2021-03-01 06:26] afbjorklund commented on #10652
Note for implementors, it is reflected in the `Security Options' of the `docker info`.

Example outputs:

[code]
[code]

[2021-03-01 06:46] afbjorklund commented on #6843
It is something being debated. Running the control plane node with `kubeadm` on a raspberry pi with 2 GB memory is likely to start swapping... I would recommend getting 4 GB memory to start with, or to enable swap (or zram) if running with 2 GB memory.
This was when running the desktop on the _same_ machine, in order to leave the required 2 GB available (for kubeadm). You need less available memor

[2021-03-01 08:43] dytyniuk commented on #10443
Hey @medyagh
Pardon my silence, was "disconnected" a bit. Sure thing, I will check the binary today.

[2021-03-01 09:20] SOVLOOKUP commented on #10645
sorry, the source `kubernetes.oss-cn-hangzhou.aliyuncs.com` is too old, it's the error in kicbase:v0.0.10, I'll close this issue

[2021-03-01 09:20] #10645 closed

[2021-03-01 09:45] rishabds opened #10662 "Accessing the application"
When deploying a service on Kubernetes it is not working.
When you do minikube service (pod_name) --url
It gives 127.0.0.1:port number but when accessing the ip it shows can't find the link

[2021-03-01 10:36] attilapiros opened #10663 "On v1.17.1 `minikube kubectl config view` fails for a v1.15.12 k8s cluster with `error: converting to : type names don't match (Unknown, RawExtension)`"
**Steps to reproduce the issue:**

1. install v1.17.1:
`wget -O minikube-darwin-amd64 https://github.com/kubernetes/minikube/releases/download/v1.17.1/minikube-darwin-amd64`
 and
`sudo install minikube-darwin-amd64 /usr/local/bin/minikube`
2. start the cluster along with v1.15.12 for k8s version:
`minikube  start --memory 8192 --cpus 8 --kubernetes-version=v1.15.12`
3. check the config:
`minikube

[2021-03-01 10:59] dytyniuk commented on #10443
@medyagh @daehyeok the issue persists
[code]

[2021-03-01 14:31] mconner commented on #10593
@priyawadhwa,
According to the [documentation](https://minikube.sigs.k8s.io/docs/drivers/docker/#known-issues):
The ingress, and ingress-dns addons are currently only supported on Linux. See #7332

We are using ingress, so I assume docker driver is therefore not an option.

[2021-03-01 15:17] jgoodall commented on #10651
I had initially tried `minikube delete --all` and started over, but that did not work. What _did_ work was removing the entire `~/.minikube` directory. Now I can use the `docker` driver again.

[2021-03-01 15:17] #10651 closed

[2021-03-01 15:46] slowfranklin opened #10664 "minikube and multus CNI"
I can't get multus CNI to work with minikube. I'm net to K8 and minikube so I'm probably missing something obvious.

I realize that this is not the appropriate place for this kind of support request, but it seems the Slack channel is not accepting new users and the user mailing list is dead. If there's any other place (IRC channel? Matrix?) to ask such questions let me know.

**Steps to reproduce

[2021-03-01 16:31] zh200799 commented on #10646
这些参数加上了, 出现  network with name minikube already exists 问题

$ minikube start --cpus=8 --memory=39000 --driver=docker --image-mirror-country='cn' --image-repository='registry.cn-hangzhou.aliyuncs.com/google_containers'
😄  Centos 7.9.2009 上的 minikube v1.17.1
✨  根据现有的配置文件使用 docker 驱动程序
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🤷  docker "minikube" container

[2021-03-01 16:39] prezha opened #10665 "Pause: bump to newest image v3.4.1"
reasons:

- 3 weeks ago pause image was promoted to v3.4.1 (https://github.com/kubernetes/kubernetes/pull/98205)
[code]

- `pause:latest` is not latest - last time updated at ***Jan 11, 2017*** (ref: https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/pause)
note: latest pause version available on `gcr.io/google_containers` is 3.2 (and that repo should be replaced with `k8s.gcr.io

[2021-03-01 16:40] prezha commented on #10665
/assign

[2021-03-01 17:13] #10646 closed

[2021-03-01 17:14] zh200799 commented on #10646
3Q~

[2021-03-01 17:37] daehyeok commented on #10443
@medyagh it need update driver binary.
@daehyeok  could you overwrite other binary and change permission?

[code]

[2021-03-01 17:52] daehyeok commented on #10443
Just in case,  you delete whole minikube home dir for test.
Please make sure downloaded driver file is not overwritten again by released version.
Following logs should not be included in your first run :)
[code]

[2021-03-01 18:47] afbjorklund commented on #10649
The current workaround is to change from systemd to cgroups in the crio.conf, that makes it start again.

[code]

[code]

And then a `sudo systemctl restart crio` and a `kubeadm reset` to clear out the old hanging state.

[code]

[2021-03-01 18:52] afbjorklund commented on #10373
It is the kubelet starting it, and it still happens. Need to shut it down harder.

[2021-03-01 18:58] afbjorklund commented on #10665
Normally we would want to follow `kubeadm` on this, no ?

$ kubeadm config images list
k8s.gcr.io/kube-apiserver:v1.20.4
k8s.gcr.io/kube-controller-manager:v1.20.4
k8s.gcr.io/kube-scheduler:v1.20.4
k8s.gcr.io/kube-proxy:v1.20.4
**k8s.gcr.io/pause:3.2**
k8s.gcr.io/etcd:3.4.13-0
k8s.gcr.io/coredns:1.7.0

[2021-03-01 19:08] medyagh opened #10668 "add support for topology-manager kvm driver"
https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/

[2021-03-01 19:11] medyagh opened #10669 "gcp auth avoid mounting empty credentials"

[2021-03-01 19:19] #9735 closed

[2021-03-01 19:21] medyagh opened #10670 "make target for local kicbase"
For local testing, there should be a make target `make local-kic-base` that builds  updates the types.go in kic package
with unixtime

local/kicbase-unixtmie

[2021-03-01 19:22] #10581 closed

[2021-03-01 19:24] medyagh opened #10671 "add thanks to top 5 PR reviewers and issue commenters in the release notes"
use
https://github.com/google/pullsheet
and udpate the script in hack folder for release notes

here is how to use pullsheet

[code]

the --users should be replaced with list of triagers in minikube and --since should be since last release

[2021-03-01 19:29] medyagh opened #10672 "benchmark different image build/push ways in minikube"
generate charts across 100 runs for docker-env, image load, and registry and podman-env addon
for docker, containerd, crio

and compare the build image and the time that image was availalbe inside minikube.

for different docker files
small layers, few
small layers, a lot
big layers, few
big l ayers, a lot
duplicate layers

[2021-03-01 19:39] afbjorklund commented on #10672
When running docker there is `docker-env` and when running cri-o there is `podman-env`.

But when running containerd, you currently still have to tunnel buildctl manually.
Also you have to start the buildkitd daemon, which is another manual command.

But after that, it should be possible to use `buildctl` similar to `docker` and `podman-remote`

[2021-03-01 19:43] medyagh commented on #10622
/help-wanted

[2021-03-01 19:45] medyagh opened #10673 "add podman functional tests to gh action"

[2021-03-01 19:48] medyagh opened #10674 "Fix containerd Timeout Test failure"
in this PR https://github.com/kubernetes/minikube/pull/10630

https://storage.googleapis.com/minikube-builds/logs/10630/85eb356/Docker_Linux_containerd.html

[2021-03-01 20:12] afbjorklund commented on #10672
The easiest way to see the ssh parameters is: `minikube --alsologtostderr ssh --native-ssh=false`

However, I don't think minikube allows running as root by default (and root owns the buildkitd.sock)

You can either add authorized_keys to the root user.

Or you can add a "buildkit" group to own the socket.

[2021-03-01 20:35] dytyniuk commented on #10443
@daehyeok an updated driver + minikube build works like a charm:

[code]

`10.5.0.80` host is the one behind OpenVPN connection currently active 🎉

[2021-03-01 21:21] medyagh commented on #10643
cheat code
[code]

[2021-03-01 21:44] medyagh commented on #10668
/assign @phantooom

[2021-03-01 21:46] medyagh commented on #10602
yes, go for it ! @BLasan
I recommend trying the auto-pause addon to learn it first

[2021-03-01 21:49] medyagh opened #10677 "update go-container registry lib fork"

[2021-03-01 21:52] netrebel commented on #10322
I started getting this error too. Workaround is ` minikube ip -n minikube`, see below:

[code]

[2021-03-01 22:59] jiefenghe commented on #10640
/assign

[2021-03-01 23:05] jiefenghe commented on #9397
/assign

[2021-03-01 23:07] jiefenghe commented on #10577
Cool, that makes sense. Closing it to wait for `--output docker` is supported!

[2021-03-01 23:07] #10577 closed

[2021-03-01 23:24] clamprecht01 opened #10680 "Flag "image-repository" prevents kube-proxy pod from running"
Note: Eventual goal of this environment is for an entirely air-gapped minikube environment with Ingress addon enabled.   Without "image-repository" flag, minikube starts and runs, but we don't have the "ingress" addon enabled (which we need). Solution to install "ingress" addon from offline source was taken from   [PR-9551](https://github.com/kubernetes/minikube/pull/9551).

Pre-requisites:
- Copy

[2021-03-01 23:32] medyagh commented on #10640
thanks @jiefenghe  for talking this, please let me know if u have any questions

[2021-03-01 23:50] clamprecht01 commented on #10680
Additional info
kubectl describe kube-proxy -n kube-system  [kube-proxy_kubelet.log](https://github.com/kubernetes/minikube/files/6065138/kube-proxy_kubelet.log)

kubectl describe storage-provision -n kube-system  [storage-provision_kubelet.log](https://github.com/kubernetes/minikube/files/6065140/storage-provision_kubelet.log)

[2021-03-02 00:28] prezha opened #10682 "k8s libs: version upgrade"
currently, we use v0.17.3 of k8s libs and we should upgrade to a newer version - try with the current "stable" v0.20.4, or, if that doesn't work - try with v0.19.8, etc.

[2021-03-02 00:29] prezha commented on #10682
/assign

[2021-03-02 01:18] medyagh opened #10684 "minikube v1.18.0 version dirty"
this is the script that runs the release
https://github.com/medyagh/minikube/blob/ec61815d60f66a6e4f6353030a40b12362557caa/hack/jenkins/release_build_and_upload.sh#L46

[code]

[2021-03-02 01:40] prezha commented on #10665
hmmm, yes, i guess, and according to these below, they've already updated to the pause image v3.4.1 some 25 days ago:
https://github.com/kubernetes/kubernetes/pull/98205/files
and
https://github.com/kubernetes/kubernetes/blob/be2a2988a0c6b5f0b66e4ebdc335fc1318e029ca/cmd/kubeadm/app/constants/constants.go#L418-L419

[2021-03-02 02:56] BLasan commented on #10602
/assign

[2021-03-02 06:26] hetong07 commented on #10596
/assign

[2021-03-02 06:30] hetong07 commented on #10622
/assign

[2021-03-02 06:32] hetong07 commented on #10597
/assign

[2021-03-02 06:56] medyagh commented on #10596
@hetong07 thanks for picking this up, let me know if u need help or have questions

[2021-03-02 07:33] afbjorklund opened #10685 "Document how to use buildkit remotely, for building images"
Currently we only have instructions on how to use it locally.

We should also add instructions on how to to use it remotely.

Unfortunately it is currently still too complicated for a `buildkit-env`

But there are manual workarounds meanwhile, like a ssh tunnel

[2021-03-02 07:33] afbjorklund commented on #10672
I opened up a ticket about trying to add this to the minikube documentation: #10685

[2021-03-02 08:59] attilapiros commented on #10663
It was closed by accident the problem is still there.

[2021-03-02 12:13] mschandra6 opened #10686 "Exiting due to HOST_HOME_MKDIR: mkdir /home/bala: permission denied"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-03-02 12:21] natalia-umka commented on #10370
I reinstalled docker for M1 and  I did as U for minikube.

minikube start
😄  minikube v1.18.0 on Darwin 11.0.1 (arm64)
✨  Automatically selected the docker driver. Other choices: hyperkit, virtualbox, ssh
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🔥  Creating docker container (CPUs=2, Memory=1981MB) ...

    ▪ Generating certificates and keys ...
    ▪ Bo

[2021-03-02 12:21] #10370 closed

[2021-03-02 14:31] hlulaniM opened #10688 "parsing"
! Error parsing HTTP_PROXY=C:\Program Files (x86)\Anaconda3, parse "http://C:\\Program Files (x86)\\Anaconda3": invalid port ":\\Program Files (x86)\\Anaconda3" after host
! Error parsing HTTP_PROXY=C:\Program Files (x86)\Anaconda3, parse "http://C:\\Program Files (x86)\\Anaconda3": invalid port ":\\Program Files (x86)\\Anaconda3" after host
! StartHost failed, but will try again: recreate: creati

[2021-03-02 15:17] trixnz opened #10689 "windows MK_WRONG_BINARY_WSL even when not in powershell"
The offending function below is incorrectly assuming that if `WSLENV` has a non-empty value, that the shell is an WSL shell. According to [this](https://devblogs.microsoft.com/commandline/share-environment-vars-between-wsl-and-windows/) post, this environment variable is used for sharing variables into new WSL sessions, and is set within Windows too.

https://github.com/kubernetes/minikube/blob/51

[2021-03-02 17:09] medyagh commented on #10689
@trixnz are u trying to run the Linux Binary ? or the .exe ?

we do NOT reocmmend running the linux binary on windows. do u mind trying with minkube.exe Binary and see if u get the same error ?

[2021-03-02 17:12] medyagh commented on #10688
@hlulaniM it is not clear from the logs what driver, version and what command u are trying to do,
, do u mind sharing
output of

[code]
```minikube logs```

[2021-03-02 17:19] lukepolo opened #10690 "Invalid Kube Config"
**Steps to reproduce the issue:**

1. minikube delete --purge
2. minikube start -p profile

 minikube stats up properly, but the config file is not correct and crashes lens.

`/.kube/config` then contains empty cluster / user

[code]

The version of minikube. :
[code]

The driver you are using. (docker, virtualbox, hyperv....)
`hyperkit`

The Operation system you are using (windows, mac or linux a

[2021-03-02 17:24] medyagh commented on #10690
@lukepolo Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[code

[2021-03-02 17:25] trixnz commented on #10689
This is being run with the Windows minikube binary acquired via chocolatey. I'm not interacting with WSL in any capacity.

[2021-03-02 17:31] medyagh commented on #10686
@mschandra6
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[co

[2021-03-02 17:40] krezovic commented on #10355
Sadly, this is not fixed with proposed workaround. Containerd socket will be created before it's fully initialized. The only way right now is to spam "crictl info" until successful, for certain period (say 15-30 sec), before giving up ...

I have created a discussion on containerd side, lets see what they propose:

https://github.com/containerd/containerd/discussions/5109

[2021-03-02 17:41] krezovic commented on #10650
Looks like a duplicate of https://github.com/kubernetes/minikube/issues/10355 which isn't still properly fixed.

[2021-03-02 17:41] lukepolo commented on #10690
Im sorry, everything boots up properly, ill update and add the things you asked for

[2021-03-02 18:05] medyagh commented on #10276
as part of this task I recommend updating go.mod to 1.16 too so we can start using the go embed instead of go-bindata

[2021-03-02 18:52] medyagh commented on #10689
thats interesting ! this is our logic for WSL detection
[code]

in our integraiton tests on windows our tests never failed, I wonder why your machine has "WSLENV" env set ? is that something specific to your windows setup or many other users have same problem? (and a question for us is why our integraiton windows machines are not like that ?)

@trixnz meanwhile I wonder does --force override the e

[2021-03-02 18:53] medyagh commented on #10689
another quesiton @trixnz , does this work fine in Powershell ? (not cmd) ? (our intergration tests runs in powershell)

[2021-03-02 18:59] trixnz commented on #10689
After looking at the envs being preserved through `WSLENV`, I realised this is exclusive to cmd.exe sessions spawned by [Windows Terminal](https://github.com/microsoft/terminal) (`WT_SESSION` and `WT_PROFILE_ID` are env vars provided by Windows Terminal). It actually behaves correctly when run from a regular cmd.exe (and powershell) session.

I think it's improper behaviour to check for `WSLENV` b

[2021-03-02 19:27] medyagh opened #10692 "site: Add tutorial for using --user"
we have a flag called --user but most ppl dont know what it is meant for and how to use it
we could add a tutorial how to use this flag
https://minikube.sigs.k8s.io/docs/tutorials/

[2021-03-02 19:45] ilya-zuyev commented on #10402
It looks like the problem here is config of  k8s.gcr.io/v2/etcd/manifests/3.4.13-0 image for linux/arm64 platform. For some reason it's `amd64`, not `arm64`

Tried to fetch it manually:
[code]

[2021-03-02 19:59] ilya-zuyev commented on #10402
https://github.com/kubernetes/kubernetes/issues/99656

[2021-03-02 20:08] Paul-E opened #10693 "Error message prints a dead link"
The error on [this line](https://github.com/kubernetes/minikube/blob/6ea2b3298e6b68a0f757670cad3b85987731fef6/cmd/minikube/cmd/start.go#L1173) links to a dead resource: https://docs.doInfo.com/engine/install/linux-postinstall/#your-kernel-does-not-support-cgroup-swap-limit-capabilities

[2021-03-02 20:51] medyagh commented on #10622
@hetong07 thanks for picking this up let me know if u have any quesitons or if u have a windows machine to test it on

[2021-03-02 21:12] #9138 closed

[2021-03-02 21:14] medyagh opened #10695 "Jenkins Job To release storage provisioner image"
we should have a jenkins job that when we run it should build and push new storage provsioner image (and bump the version) and create a PR
from https://github.com/kubernetes/minikube/issues/9138

[2021-03-02 21:18] medyagh commented on #10693
@Paul-E thanks for reporting this ! that is a bug the right link should be

https://docs.docker.com/engine/install/linux-postinstall/#your-kernel-does-not-support-cgroup-swap-limit-capabilities

would u like to make a PR to fix this ?

[2021-03-02 21:35] #10057 closed

[2021-03-02 21:36] medyagh opened #10696 "KVM failing test: TestFunctional/parallel/MountCmd"
example https://storage.googleapis.com/minikube-builds/logs/10656/dd6687e/KVM_Linux.html

[code]

[2021-03-02 21:48] medyagh commented on #10690
@lukepolo no problem, so it is all good ? no issues ?

[2021-03-02 21:54] medyagh commented on #10602
@BLasan feel free send me ur questions on slack or if u make an early prototype I can look at

[2021-03-02 21:54] hetong07 commented on #10622
sure

[2021-03-02 22:20] spowelljr commented on #10409
In-progress

[2021-03-02 22:23] lukepolo commented on #10690
Issues lies in that lens says its an invalid config. So this could this be a lens issue instead.

[2021-03-02 22:36] daehyeok commented on #10578
@afbjorklund how about add `--overwrite` flag into start command to change config values in config files.

https://github.com/kubernetes/minikube/blob/1fe7615e9e9489e5abb595da89e156b5d0a662bc/cmd/minikube/cmd/start_flags.go#L433-L435

currently it looks overwrite flags only when first start fail.(but not cover all fail cases)

[2021-03-02 22:41] #10237 closed

[2021-03-02 22:48] ilya-zuyev commented on #10501
@cjheppell unfortunately, we don't keep ISOs for PRs. You can try to build one locally using PR branch, but it can be outdated a bit.

[2021-03-02 23:00] prezha commented on #10070
/assign

[2021-03-02 23:26] medyagh commented on #9907
@azhao155 has too many tasks this milestone, I unassign it for now if anyone wants to pick it up

[2021-03-02 23:30] medyagh commented on #10696
this flake started breaking 100% rate since Feb 19

[2021-03-02 23:33] medyagh commented on #10684
we should check in https://github.com/medyagh/minikube/blob/6ea2b3298e6b68a0f757670cad3b85987731fef6/hack/jenkins/release_build_and_upload.sh#L43

that version is not dirty, if it is Exit 1

[2021-03-02 23:55] prezha commented on #9642
when we revisit this, freshly released v7.1.0 brings (https://libvirt.org/news.html#v7-1-0-2021-03-01):
[code]

[2021-03-03 00:04] #10668 closed

[2021-03-03 00:21] #10570 closed

[2021-03-03 00:28] prezha commented on #10102
@koyuch this issue should be fixed now (in pr https://github.com/kubernetes/minikube/pull/10479), please let us know if it appears again

[2021-03-03 00:37] tstromberg commented on #10570
Nice work on solving this tricky race condition within an exceptionally tricky section of code.

[2021-03-03 01:24] prezha commented on #9878
@reach4bawer it's strange that the default network ended up somehow disabled

also, if i'm not mistaken, `virsh net-list --all` should not show any (incl. default) network for the regular user, while for root it does (and you are using a regular user account without sudo/root privileges above?); this is i think second report with a similar issue, so it might be something to look into...

we've mad

[2021-03-03 01:39] prezha commented on #10102
/assign

[2021-03-03 01:39] prezha commented on #9878
/assign

[2021-03-03 01:47] prezha commented on #5617
could be solved together with https://github.com/kubernetes/minikube/issues/10070

/assign

[2021-03-03 02:58] BLasan commented on #10602
sure

[2021-03-03 03:26] #10302 closed

[2021-03-03 05:52] urohit011 commented on #10693
I would like to take it if that's okay.

[2021-03-03 06:20] hetong07 commented on #10597
@medyagh Take a quick look at this issue, seems crio and containerd both have implemented `PauseContainers()` and `ListContainers()`, which are keys to the auto-pause feature? Is there any specific requirement to support crio and containerd?

[2021-03-03 06:57] afbjorklund commented on #10693
Got broken in 9a30756d38e786698371ab936c513295f35af4c9

[2021-03-03 09:26] sahilgrover306 commented on #8756
IT Works after changing the image URL. Thanks for the help

[2021-03-03 10:09] krezovic commented on #10156
I can confirm that calico/cni and calico/podman... do not have substituted registry and fail on non-internet-facing machines.

[2021-03-03 10:24] AkihiroSuda commented on #8719
kind works with Rootless Podman as well as Rootless Docker now: https://github.com/kubernetes-sigs/kind/pull/1935

Should be easily portable to minikube.

[2021-03-03 13:36] govargo commented on #10696
I'm not familier with `minikube mount` but I'm interested in this flaky test.

Could I take this instead of ilya, if you don't mind?

[2021-03-03 15:55] lewis52ravens commented on #10689
@trixnz is right, it is definitely an issue with the `WSLENV` environment variable. I also noticed that this behavior only happens when attempting to start minikube from a PowerShell session launched from Windows Terminal, not when launched from a regular PowerShell session launched from powershell.exe.

However even in a regular PowerShell session, if you set the env var `WSLENV` to any value:
`$

[2021-03-03 16:55] kadel commented on #10689
I can confirm that. The same thing is happening to me. Executing from the normal "Windows PowerShell" terminal is ok. When using PowerShell from Windows Terminal I get the error.

[2021-03-03 17:13] afbjorklund commented on #8719
Guess we just have to add some checks, for latest Podman/Docker (with cgroups v2) and latest Kubernetes

[2021-03-03 18:14] vcashadoop commented on #10592
I'm using non GUI due to some restrictions. Could you guide how to do in the non GUI one

[2021-03-03 18:18] ilya-zuyev commented on #10181
/assign

[2021-03-03 18:19] ilya-zuyev commented on #10201
waiting for Docker to support buildx on M1

[2021-03-03 18:20] ilya-zuyev commented on #10376
/assign

[2021-03-03 18:35] medyagh opened #10701 "add integration test for Auto-pause"

[2021-03-03 18:38] #10684 closed

[2021-03-03 18:44] ilya-zuyev commented on #10403
still in progress

[2021-03-03 18:57] ilya-zuyev commented on #10662
Hi @rishabds. Thanks for reporting. Could you provide more information about your system/os and also use `minikube start -v=5 --alsologtostderr` to run minikube and provide logs? Thanks!

[2021-03-03 18:58] #10650 closed

[2021-03-03 18:58] ilya-zuyev commented on #10650
Duplicate

[2021-03-03 19:06] spowelljr commented on #10432
Hi @Hamxea, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-03 19:06] #10432 closed

[2021-03-03 19:07] spowelljr commented on #10062
Hi @Dentrax, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-03 19:07] #10062 closed

[2021-03-03 19:08] spowelljr commented on #9757
Hi @Pictor13, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-03 19:09] spowelljr commented on #9312
Hi @michal-kaliszewski-sollers-eu, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-03 19:09] #9312 closed

[2021-03-03 19:09] spowelljr commented on #10117
Hi @padmeshgit, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-03 19:09] #10117 closed

[2021-03-03 19:10] spowelljr commented on #10087
Hi @springcomefromprogrammingtheworld, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-03 19:10] #10087 closed

[2021-03-03 19:12] prezha commented on #9678
/close

[2021-03-03 19:12] #9678 closed

[2021-03-03 19:16] #10591 closed

[2021-03-03 19:16] medyagh commented on #10181
we still wanna do this, for next milestone

[2021-03-03 19:19] afbjorklund commented on #10355
That is sad, I guess we need another loop with a longer sleep afterwards.

[2021-03-03 19:19] fljamie opened #10702 "Windows Terminal Error when using 1.18"
**Trying to run minikube.exe from Windows Terminal.  If I open a normal powershell or cmd window it runs fine:**

PS C:\Users\username> minikube start
* minikube v1.18.0 on Microsoft Windows 10 Pro 10.0.19042 Build 19042
* Using the vmware driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing vmware VM for "minikube" ...
* Preparing Kuber

[2021-03-03 19:21] sharifelgamal commented on #9430
@mecampbellsoup is correct here. All `mount` does here is mount the file into the minikube container itself. If you want to mount the file into your pod, you can use a [hostpath volume](https://kubernetes.io/docs/concepts/storage/volumes/#hostpath)

[2021-03-03 19:21] ilya-zuyev commented on #9869
@esentai8 did you have a chance to try minikube 1.17.1 or 1.18.0? Can we close this issue?

[2021-03-03 19:24] ilya-zuyev commented on #9429
@parekhha any update on this issue? If it still exists could you try to reproduce it with minikube version 1.18.0 please?

[2021-03-03 19:26] medyagh commented on #10446
Hi @UdayP23 , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-03-03 19:26] #10446 closed

[2021-03-03 19:27] medyagh commented on #10441
Hi @WilleLin , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-03-03 19:27] #10441 closed

[2021-03-03 19:27] medyagh commented on #10316
Hi @DulshanRD c, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-03-03 19:27] #10316 closed

[2021-03-03 19:28] medyagh commented on #10186
Hi @keppusamyibm , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-03-03 19:28] #10186 closed

[2021-03-03 19:28] medyagh commented on #10086
Hi @KimSeongHo-cloud , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-03-03 19:28] #10086 closed

[2021-03-03 19:28] sharifelgamal commented on #10150
Hey @Mehrab-uddin  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikube

[2021-03-03 19:28] #10150 closed

[2021-03-03 19:29] medyagh commented on #10056
Hi @KimSeongHo-cloud , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-03-03 19:29] #10056 closed

[2021-03-03 19:29] medyagh commented on #9971
@mashanivas are u still having this issue ?

[2021-03-03 19:29] medyagh commented on #9826
Hi @bri-pug c, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-03-03 19:29] #9826 closed

[2021-03-03 19:30] medyagh commented on #9561
Hi @bri-pug c, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-03-03 19:30] #9561 closed

[2021-03-03 19:32] sharifelgamal commented on #10170
Yes, docker is the default driver for all platforms, which is why not specifying the driver is different from using hyperkit.

If you cannot access GCR, try using a registry mirror.

[2021-03-03 19:33] medyagh commented on #10171
@kameshsampath interesting do we still have this issue on latest minikube ? I wonder if this issue happens if we specify a different CNI ?

[2021-03-03 19:33] sharifelgamal commented on #10055
Yeah, this doesn't strike me as a minikube problem. It feels more like a slapadd issue.

[2021-03-03 19:33] ilya-zuyev commented on #10184
hey @tejal29! is it still possible to get the original logs of `minikube start` for this error?

[2021-03-03 19:34] medyagh commented on #10166
Hi @amigowifi1 , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-03-03 19:34] #10166 closed

[2021-03-03 19:38] spowelljr commented on #8762
@Aut0R3V Are you still working on this?

[2021-03-03 19:39] prezha commented on #9183
/remove-lifecycle stale

let's fix this

[2021-03-03 19:41] sharifelgamal commented on #7990
A better error message would be helpful here.

[2021-03-03 19:42] medyagh commented on #9921
@LY1806620741 do u have the same problem without multi node ? on a single node?

[2021-03-03 19:43] medyagh commented on #10296
@adithyak21 do you still have this issue with latest version of minikube ? do u mind sharing the logs ?

minikube logs ?

[2021-03-03 19:43] medyagh commented on #10296
/triage needs-information
/kind support

[2021-03-03 19:44] #8426 closed

[2021-03-03 19:45] medyagh commented on #9516
@blueelvis  do we still have this issue ?

[2021-03-03 19:49] medyagh commented on #9651
@sivakku @j-windsor this issue is assigned for for v1.19.0 and will be included in the end of march release

[2021-03-03 19:51] medyagh commented on #3036
our current integration machines are out of work due to covid (they were in the office) we are looking into adding mac integration tests, once we have thoe back, I would accept a PR that adds integraiton tests that fixes this issue

[2021-03-03 19:54] prezha commented on #8348
/remove-lifecycle stale

[2021-03-03 19:55] medyagh commented on #9766
@STRRL I belive we fixed this issue and we have added integration test for it in this PR

do u mind checking on latest minikube and see if it is fixed ?

/triage needs-information
/kind support

[2021-03-03 19:56] medyagh commented on #9976
Hi @bl-ue c, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-03-03 19:57] spowelljr commented on #10182
The initial issue seems to have been solved with #10426 so I'm going to close this issue.

@mazzystr I recommend you create your own issue to get more visibility, be sure to reference this issue in it.

[2021-03-03 19:57] #10182 closed

[2021-03-03 19:57] sharifelgamal commented on #8765
The relevant output here is:

[code]

[2021-03-03 19:58] medyagh commented on #9946
I nominate @spowelljr  for looking into this issue

[2021-03-03 20:03] ilya-zuyev commented on #10640
It looks like the tests started to fail on Feb 16

[2021-03-03 20:03] bl-ue commented on #9976
Hi @medyagh! Yes, I'm still having the issue and it's still repeatable using the steps given above.  I haven't had much time lately to investigate, and I also wouldn't consider myself a Go expert&mdash;therefore I haven't been able to take care of it.

[2021-03-03 20:03] bl-ue commented on #9976
I can't reopen this issue, because once a collaborator closes it, the OP can't reopen it 😕

[2021-03-03 20:07] bl-ue commented on #9976
FYI&mdash;it's not imparing usablity in the slightest bit; but the I opened an issue about it because it's a defect in the product, but a slight, hidden defect that's not likely to be noticed.

[2021-03-03 20:09] ilya-zuyev commented on #10640
@prezha  please take a look at https://storage.googleapis.com/minikube-builds/logs/10424/90cd9c3/Docker_Linux.html looks

[2021-03-03 20:15] medyagh commented on #10640
[code]

so it happens after StopMultiNode
and then Starting it again
but not on a Normal FreshStart2Nodes

[2021-03-03 20:18] afbjorklund commented on #10355
Used `crictl version` instead, just like with the `docker version` tests...

[2021-03-03 21:18] mrehanabbasi commented on #10689
I'm getting the same error. Have to set `WSLENV` to empty every time to make it work.

[2021-03-03 21:18] #10409 closed

[2021-03-03 21:19] #10607 closed

[2021-03-03 21:19] spowelljr commented on #10643
In-progress

[2021-03-03 21:21] medyagh commented on #10702
@fljamie we are aware of this bug,
[code]
do u mind giving examples ?

[2021-03-03 21:22] medyagh commented on #10702
if u dont mind lets close this issue and track it here
https://github.com/kubernetes/minikube/issues/10689

[2021-03-03 21:22] #10702 closed

[2021-03-03 21:23] medyagh commented on #10689
@mrehanabbasi do u mind sharing the content of WSLENV when it is not working?

[2021-03-03 21:23] medyagh commented on #10689
this is a regression and I would accept a PR that fixes this

[2021-03-03 21:24] medyagh commented on #10689
@rixnz does the --force flag work for docker-env ?

[2021-03-03 21:27] medyagh commented on #10689
@mrehanabbasi
@kadel @trixnz
would u plz contribute the content of these envs when minikube doesnt work
so we could improve our WSL detection logic ?

WSL_DISTRO_NAME
WSLPATH
WSLENV

[2021-03-03 22:06] mrehanabbasi commented on #10689
[code]

The first two are empty.

[2021-03-03 22:22] prezha commented on #9976
/reopen
@bl-ue we can reopen if you have time to continue working on this issue with us - thanks!

can you please confirm (https://github.com/kubernetes/minikube/issues/9976#issuecomment-746745737):
[code]
this does not look right

also (https://github.com/kubernetes/minikube/issues/9976#issuecomment-747645797):
[code]
it seems that you have kubectl for two different platforms: `darwin/amd64` and

[2021-03-03 22:29] ilya-zuyev opened #10708 "remove kicbase image from local docker daemon on delete --purge"
Currently, if 'docker' driver is used, `minikube delete --all --purge` command does not remove the pulled kicbase image

[code]

This can be unexpected for user. For example, if he/she is using the locally built kicbase image and wants to reset it to the official one. `--purge` could be interpreted as `remove everything related`.

May be we should delete the image or, if not, print an explicit war

[2021-03-03 22:42] bl-ue commented on #9976
Okay @prezha I'll take a look. 👍🏻

[2021-03-03 22:52] medyagh commented on #10689
@mrehanabbasi do u mind sharing WSLENV inside WSL itself ?
so could we check in minikube if it contains `WT_SESSION` then it means it it is NOT real WSL ?

[2021-03-03 23:26] spowelljr commented on #10689
@medyagh In WSL itself, the following are set:
[code]

[2021-03-03 23:38] spowelljr commented on #10689
Article by Microsoft: https://devblogs.microsoft.com/commandline/share-environment-vars-between-wsl-and-windows/

Based on reading that, they're recommending people to set the WSLENV (if needed), which based on my testing breaks all non-WSL instances, so checking if this variable is set to indicate WSL is not recommended.

I'll remove the `os.Getenv("WSLENV") != ""` check.

[2021-03-03 23:55] spowelljr commented on #10689
I did some research on `WSLPATH` and couldn't really find anything about that it, I'll leave that check in unless someone can provide evidence that it can be present outside a WSL instance.

[2021-03-04 00:49] spowelljr commented on #10689
Tested the above PR in Windows Terminal before and after and fixed the issue on my machine.

[2021-03-04 04:31] venky0507 opened #10713 "Failed to enable ingress addons in minikube"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-03-04 05:12] hetong07 commented on #10622
@medyagh tried to run ```  make integration -e TEST_ARGS="-test.run TestSkaffold" ``` on our jekins windows machine using git-bash, and it succeeds if the docker is *windows docker*
and if also could succeed after I enlarge the docker memory size from 2 GB to 4 GB...
[code]

[2021-03-04 05:16] hetong07 commented on #10622
If I run ```make integration -e TEST_ARGS="-test.run TestCertOptions"```, the test fails and the complete log is
[code]

[2021-03-04 05:23] STRRL commented on #9766
I am using minikube v1.18.0 and this issue has been fixed. Thanks!

I think I could close this issue now.

[2021-03-04 05:23] #9766 closed

[2021-03-04 05:25] hetong07 commented on #10622
Also it seems the docker on our windows machine is too old, when I run minikube, it have this warning
[code]

[2021-03-04 05:30] #10276 closed

[2021-03-04 06:24] esentai8 commented on #9869
Yes, issue is resolved. Thank you!

[2021-03-04 07:15] hetong07 commented on #10626
/assign

[2021-03-04 07:16] hetong07 commented on #10626
SSH to windows 10 and can easily reproduce this error
[code]

[2021-03-04 07:20] afbjorklund commented on #9976
It's **not** possible to reproduce this issue on linux, but it would be nice to re-visit after fixing #9593

There you would have a linux-amd64 client talking to a linux-arm64 server, maybe similar issues ?

[2021-03-04 09:56] NatsumiHB commented on #10689
Just came here to say I'm getting the error too. Using the Windows executable inside PowerShell.
Also it recommends trying to use `--force` buuuuut

[code]

[2021-03-04 11:08] deepaksinghVH opened #10715 "The connection to the server localhost:8080 was refused - did you specify the right host or port?"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-03-04 15:18] bl-ue commented on #9976
So I tried it again, here's the output:
[code]
I was doing some experimenting a few months ago but I didn't come to the slightest conclusion other than the symlinking is causing an issue, because `kubectl` being it's own binary works fine without this error.

[2021-03-04 15:34] prezha commented on #9976
@bl-ue thank you for your reply

i'm still a bit confused why are you linking kubectl to minikube - the error seems to root to then when, at the end (as shown in your logs), calling effectively `minikube` with `version --client --output=json` params, which are for kubectl and would not work for minikube:

https://github.com/kubernetes/minikube/blob/18e215fed113d3ad1bc1797860e303cae0772373/cmd/mini

[2021-03-04 15:43] bl-ue commented on #9976
@prezha I'm linking them per here: https://minikube.sigs.k8s.io/docs/handbook/kubectl/

Quoting:

---

I don't have the issue when kubectl is an actual binary.

[2021-03-04 15:50] prezha commented on #9976
thanks for confirming, that's great, and also for referencing where the linking part comes from :)

there, if you don't have (or don't want to download) kubectl, `alias kubectl="minikube kubectl --"` would work just fine, but tbh, i'm not sure what was the idea in the handbook with linking it

[2021-03-04 15:59] fljamie commented on #10689
How do i get those variables?

[2021-03-04 16:04] bl-ue commented on #9976
Sure.  I'll just use the binary.  But I don't think this was happening before k8s 1.20. 🤔

[2021-03-04 16:12] prezha commented on #9976
great

you can also use the alias, that should work too
this specific code was introduced about a year ago
now, with the link, if you specify any minikube-acceptable command/flag (like `--kubernetes-version='v1.19.0'`) - it _will_ work, but i don't expect it to work with any command/flag specific to kubectl (eg, `get nodes -A`)

if you don't mind we can close this issue now and check separately ab

[2021-03-04 16:20] bl-ue commented on #9976
No, I don't mind at all.  Thank you for your help @prezha! ❤️

It's a little odd that it started with k8s v1.20, but...:shrug:

[2021-03-04 16:20] #9976 closed

[2021-03-04 16:31] prezha opened #10717 "website/handbook: don't advise users to create a symbolic link to minikube’s binary named ‘kubectl’"
this confuses users and doesn't work (eg, minikube calling kubectl would loopback to itself)
ref: https://minikube.sigs.k8s.io/docs/handbook/kubectl/ (https://github.com/kubernetes/minikube/blob/master/site/content/en/docs/handbook/kubectl.md)

[code]

example: https://github.com/kubernetes/minikube/issues/9976

previously, there were discussions in issue #8857 and pr #8872

alternatively, we can

[2021-03-04 17:06] medyagh commented on #10689
@NatsumiHB
@fljamie
@mrehanabbasi
@kadel @trixnz
@fljamie

here is the PR that fixes this issue, do u mind trying this binary and verifying if it fixes the issue for you too ?
http://storage.googleapis.com/minikube-builds/10711/minikube-windows-amd64.exe

[2021-03-04 17:31] fljamie commented on #10689
works perfectly now for me. thanks!

😄  minikube v1.18.0 on Microsoft Windows 10 Pro 10.0.19042 Build 19042
✨  Using the vmware driver based on existing profile
💿  Downloading VM boot image ...

👍  Starting control plane node minikube in cluster minikube
💾  Downloading Kubernetes v1.20.2 preload ...

🔄  Restarting existing vmware VM for "minikube" ...
🐳  Preparing Kubernetes v1.20.2 on Docker 20.1

[2021-03-04 17:49] ilya-zuyev commented on #10715
Please create a new issue following the template and providing logs and system information

[2021-03-04 17:49] #10715 closed

[2021-03-04 17:50] ilya-zuyev commented on #10713
Please crate a new issue following the template and providing logs and system information

[2021-03-04 17:50] #10713 closed

[2021-03-04 18:06] #10689 closed

[2021-03-04 18:56] patelrutva opened #10719 "Not able to access service in browser"
**Steps to reproduce the issue:**

1. kubectl run docserver --image=docker.io/{myusername}/{image}:latest --port=80
2. kubectl expose pod docserver --type=NodePort
3. minikube service docserver

![image](https://user-images.githubusercontent.com/41102770/110014536-e7547800-7cf0-11eb-86a1-667879b97498.png)

**Full output of minikube dashboard logs:**
![image](https://user-images.githubusercontent.c

[2021-03-04 19:08] medyagh commented on #10719
@patelrutva have u tried the random port that minkube gives u ? (docker limitaiton on  Darwin makes the port random)

I see the URL in ur terminal is 30872 and the second time it is 62529
you need to hit that port instead of 8000

[2021-03-04 19:09] medyagh commented on #10719
/triage needs-information
/kind support

[2021-03-04 19:25] patelrutva commented on #10719
@medyagh I have tried both ports:

1) With 30872 I'm getting ERR_CONNECTION_REFUSED

2) With 62529 I'm getting ERR_CONNECTION_RESET

Thanks

[2021-03-04 19:51] patelrutva commented on #10719
@medyagh  I got this fixed. Thank you for your help.

As a solution I have used LoadBalancer instead of NodePort using this example as a reference:
https://kubernetes.io/docs/tutorials/hello-minikube/#create-a-service.

[2021-03-04 19:51] #10719 closed

[2021-03-04 20:30] m-lima commented on #3647
In general, I don't like this solution because it simply redirects the stdout and stderr and detaches the process; closing the session would still kill the tunnel. Not actually a solution for what OP wanted.
But that's besides the point I'm here to comment about: it seems like when you kill `minikube tunnel` with a `kill -INT` the **ssh forward**s survive the death of the parent process. The signa

[2021-03-04 20:37] medyagh commented on #10689
@NatsumiHB
@fljamie
@mrehanabbasi
@kadel @trixnz
@fljamie

we release v1.18.1 https://github.com/kubernetes/minikube/releases/tag/v1.18.1

and it includes the fix. please update the minikube version  https://minikube.sigs.k8s.io/docs/start/

[2021-03-04 21:04] NatsumiHB commented on #10689
@medyagh Yep, that version fixes it!

[2021-03-04 21:09] medyagh commented on #10672
in-progress created a private repo to measure
https://github.com/GoogleContainerTools/minikube-image-benchmark

[2021-03-04 21:17] medyagh commented on #10690
currently in our integration tests we test kubeconfig and it always fills it up after start
@lukepolo do u mean after u delete minikube there should be no empty cluster in kubeconfig ?

[2021-03-04 21:20] medyagh commented on #10690
and this is how it looks like after delete  (which is a valid empty kube config that kubeconfig lib generates)

[code]

[2021-03-04 21:21] medyagh commented on #10717
good idea, needs fix

[2021-03-04 22:09] medyagh commented on #10693
this issue is assigned to @NamrataShah5

[2021-03-04 23:07] medyagh opened #10723 "add new integration test: Enable kubernetes Alpha features"
we need to have an integration test to test enabling an alpha feature in kuberentes and also add tutorial to our website how to do that in minikube

[2021-03-04 23:13] #10355 closed

[2021-03-04 23:13] #10665 closed

[2021-03-04 23:34] sharifelgamal commented on #9869
Excellent, I'll go ahead and close this issue then.

[2021-03-04 23:34] #9869 closed

[2021-03-05 00:03] wandellamaia opened #10724 "Template parsing error: template: :1: unexpected "=" in operand"
 
**Os comandos necessários para reproduzir o problema**:
 
**A saída completa do comando que apresentou falha**: <details>

</details>

**A saída do comando `minikube logs`**:<details>

[</details>](url)

**A versão do sistema operacional usado**:
[](url)

[2021-03-05 00:04] wandellamaia commented on #10724
Fazendo o curso de minikube, depois de executar o comando "minikube start", ocorreu este erro de template e os resultados estão diferentes do curso.

[2021-03-05 00:46] hetong07 commented on #10597
/unassign

[2021-03-05 01:18] hetong07 commented on #10627
seems to be a duplicate issue of #10626

[2021-03-05 01:19] hetong07 commented on #10627
/assign

[2021-03-05 01:43] medyagh commented on #10724
@wandellamaia
¿Qué versión de minikube usas?
¿Te importaría probar con la última versión de minikube? Creo que este error está relacionado con la versión anterior de "docker" si instalas la última versión de minikube, debería ser bueno

/triage needs-information
/kind support

[2021-03-05 01:46] medyagh commented on #10708
I think a lot of people use --purge just to purge configs but they dont really wanna delete the image
I think the right thing to do is, to add a "Info" and letting them know we did NOT delete the kicbase
and here is the command to run to delete the kicbase .

but I can be convinced other way

[2021-03-05 06:26] AnannyaShanmugam23 opened #10725 "minikube start with none driver"
MINIKUBE START COMMAND:
sudo minikube start --vm-driver=none --cpus=2 --memory='3000mb' --disk-size='10000mb'

OUTPUT:

Failed to save config: failed to acquire lock for /root/.minikube/profiles/minikube/config.json: {Name:mk270d1b5db5965f2dc9e9e25770a63417031943 Clock:{} Delay:500ms Timeout:1m0s Cancel:<nil>}: unable to open /tmp/juju-mk270d1b5db5965f2dc9e9e25770a63417031943: permission denied

[2021-03-05 06:30] afbjorklund commented on #10725
Probably systemd again, see #6391

`sudo sysctl fs.protected_regular=0`

[2021-03-05 06:31] afbjorklund commented on #10725
By the way, those cpus/memory/disk-size parameters don't have any effect when running on localhost.

You also don't need to use "sudo" to run minikube as root, it will use sudo internally when required to.

[2021-03-05 06:33] AnannyaShanmugam23 commented on #10725
Is there a way i can specify cpus/memory/disksize?
ALso, It doesnt run without sudo. it says permission denied

[2021-03-05 07:44] tariq-sketch commented on #2412
Exiting due to PROVIDER_KVM2_ERROR: /usr/bin/virsh domcapabilities --virttype kvm failed:
error: failed to get emulator capabilities
error: invalid argument: KVM is not supported by '/usr/bin/qemu-system-x86_64' on this host

[2021-03-05 07:47] parekhha commented on #9429
I don't see this issue in latest minikube 1.18 Thanks

[2021-03-05 07:47] #9429 closed

[2021-03-05 07:48] jamallmahmoudi commented on #8257
minikube start --force --driver=docker
minikube start --force --driver=kvm2
minikube start --force --driver=virtualbox
minikube start --force --driver=vmware workstation

[2021-03-05 09:38] abhimjoshi commented on #7344
**OS:**
Windows
**Minikube:**
started with Docker
**Minikube Version:**
minikube v1.14.0

`> minikube service invoiceapi-service`

[code]

When I run this command, it automacally open the brower with address 'http://127.0.0.1:54366/' but nothing opens.
Browser says-- cannot reach to this page.

Any help appreciated.

[2021-03-05 11:25] sathyaprakashmani opened #10726 ""failed to load certificate: the certificate has expire""
**Steps to reproduce the issue:**

1. sudo minikube start
2.
3.

**Full output of failed command:**
😄  minikube v1.18.1 on Ubuntu 18.04
🆕  Kubernetes 1.20.2 is now available. If you would like to upgrade, specify: --kubernetes-version=v1.20.2
✨  Using the none driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing none bare metal machine

[2021-03-05 12:06] afbjorklund commented on #10725
It uses the local machine, so you have to specify that when you create (or build) that.

What version of minikube do you have ? It was added as a feature in 1.16

[2021-03-05 13:48] reach4bawer commented on #9878
@prezha  After updating the minikube to version 1.18.1-1. The following is the output -

Output for `sudo virsh net-list --all`

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2021-03-05 16:33] mrehanabbasi commented on #10689
@medyagh v1.18.1 works for me.

[2021-03-05 16:37] prezha commented on #9878
thank you for providing this info @reach4bawer, now it's clearer

there are a couple of issues here:

1. there is an existing default minikube cluster that was created with the (default) docker driver (eg, made just with `minikube start`), and it's refusing to bring it up now with kvm driver (which is fine!) - you can:
- see a list of all clusters (aka 'profiles') using `minikube profile list`
- a

[2021-03-05 17:05] afbjorklund commented on #10717
It would be better to fix the feature, for whatever it is that is broken ?

For me, I think it is just that it has a bunch of cluster checks now... (instead of just calling the binary)

[code]

[2021-03-05 17:10] afbjorklund commented on #10717
I think it was broken in 8f9a2b94136bb13749076932804bdd4768880282, that added the `mustload.Healthy`

[2021-03-05 17:19] medyagh commented on #10726
@sathyaprakashmani thats interesting, it says your certs are expired, I wonder if u have an old minikube cert that was expired ?

I am curious does this help ?
[code]

if that helps minikube should do better to re-new the certs automatically. but lets verify first

[2021-03-05 17:19] medyagh commented on #10726
/triage needs-information
/kind support

[2021-03-05 17:23] medyagh commented on #10122
@dabcoder is it possible that the Date on your machine was wrong and it was set for a time in the past and minikube created certs according to the wrong time ? and the later ur machine fixed its time ?

I suggest minikube at least print the Current Date and Time and The Expiry Time of cert if this error happens

[2021-03-05 17:24] medyagh commented on #10726
@sathyaprakashmani we have duplicate issue, do u mind commenting ur answer here https://github.com/kubernetes/minikube/issues/10122
so track the progress in one place?

[2021-03-05 17:24] #10726 closed

[2021-03-05 17:38] medyagh commented on #10122
interestingly our SetupCert no longer is called during bootstrapping (and only during start(
unused code

[code]

[2021-03-05 18:52] SUK1 opened #10727 "Failed to start hyperv VM. Running "minikube delete" may fix it: provision: IP not found"
**Steps to reproduce the issue:**

1.minikube start --vm-driver="hyperv"

run this command on windows 10 enterprise version

* minikube v1.15.1 on Microsoft Windows 10 Enterprise 10.0.17763 Build 17763
* Using the hyperv driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Updating the running hyperv "minikube" VM ...
! StartHost failed, but will try again:

[2021-03-05 20:29] medyagh commented on #10727
@SUK1 I noticed u are using a very old minikube, two questions, have u tried with latest minikube ?
and secondly is there a reason u dont use the Docker Driver?

I suggest download latest https://minikube.sigs.k8s.io/docs/start/
and then
minikube delete --all
minikube start

(if u have docker installed we will use docker as the driver)

[2021-03-05 20:29] medyagh commented on #10727
/triage needs-information
/kind support

[2021-03-05 20:56] #8008 closed

[2021-03-05 21:04] #10571 closed

[2021-03-05 21:26] spowelljr opened #10729 "Make minikube logs command output audit and last start logs when minikube not running"
Running `minikube logs` when minkube is not running

Current:
[code]

Expected:
[code]

[2021-03-05 21:32] medyagh commented on #10122
interestingly
on my machine I see the End date in 2024 (not in 10 years) as our code suggests:

[code]

[code]
and removing NotBefore and NotAfter code will not change anything
[code]
13:29:43 medya/workspace/minikube
cert_expire •1
$ cat ~/.minikube/ca.pem | openssl x509 -noout -enddate
notAfter=Feb 18 21:23:00 2024 GMT
13:29:50 medya/workspace/minikube
cert_expire •1
$ cat ~/.minikube/certs/ca.p

[2021-03-05 21:44] medyagh commented on #7344
@abhimjoshi can u try to open it manually in the browser ? the openning browser might not work on your OS

[2021-03-06 04:40] #10655 closed

[2021-03-06 04:41] #10636 closed

[2021-03-06 04:42] medyagh commented on #10696
@govargo is yours ! plz let me know if any questions

[2021-03-06 06:19] #5617 closed

[2021-03-06 06:19] #10070 closed

[2021-03-06 08:10] jantebeest commented on #6143
Won't hyperkit be much more efficient on Mac (as opposed to Docker/VirtualBox)? I personally especially dislike VirtualBox, Docker for Mac I can live with for the time being

[2021-03-06 08:52] afbjorklund commented on #10692
❓

[2021-03-06 08:57] afbjorklund commented on #7031
No, I haven't done any PR for this

[2021-03-06 09:10] abhimjoshi commented on #7344
@medyagh Thanks for the reply.
@all thanks for your inputs so far.

**Finally, I found the issues and resolved it.**

It was basically the container port issue. Asp.Net Core app with docker runs on port 80 by default if you didn't specify it; and in my deployment configuration file I have used the **container port**  9005 which was incorrect.

I have replaced this
[code]

with...

[code]

and it i

[2021-03-06 09:18] abhimjoshi commented on #10580
Hey @priyawadhwa I have resolved the issue for the discussion I was involved at the thread mentioned below:
#7344  [(See my comment)](https://github.com/kubernetes/minikube/issues/7344#issuecomment-791900105)

It was basically a container port issue.

[2021-03-06 10:55] LukBukkit commented on #8442
I got the same problem and fixed by skipping this check
[code]
Altough the check fails, everything runs fine.

[2021-03-06 11:06] govargo commented on #10696
I investigate cause of this error.

I found out this error has happend since [d48b0a5](https://github.com/kubernetes/minikube/pull/10439/commits/d48b0a58e8dfbcdb05f9d9114f8f79eba652586f#diff-f4623da2672b12081c65132f6a3c22477899abfda51075a4be3267023ab81995L50-L51).

https://github.com/kubernetes/minikube/blob/09ee84d530de4a92f00f1c5dbc34cead092b95bc/pkg/minikube/cluster/ip.go#L49-L54

[code]

`host

[2021-03-06 11:07] govargo commented on #10696
I think the users which uses KVM2 always fail to `minikube mount`.

I'll revert this portion of codes.

[2021-03-06 11:08] govargo commented on #10696
/kind bug

[2021-03-06 15:01] mbsulliv commented on #8008
When I first read what was being requested, my thought was that this was going to allow the specific port exposed by a LoadBalancer service to be exposed on the host.  What appears to have been delivered instead is a security nightmare.  Is this really what the original issue was requesting?

[2021-03-06 15:34] LY1806620741 commented on #9921
是的，是单节点。在我上一条回复时问题还存在，但是这个问题已经提出了很久，这意味着这个问题可能已经不再有效了。
Yes, it's a single node. The problem still exists in my last reply, but it has been raised for a long time, which means it may no longer be valid.

[2021-03-06 17:41] reach4bawer commented on #9878
Here is the output for ` minikube start -p kvmtest --driver=kvm2 --alsologtostderr -v=9`

[code]

result for` minikube profile list `
[code]

The auto healing process failed so I tried the manual steps with few commands that required sudo, because of permissions denied error. At last I was able to make it work, like you suggested -

` minikube profile list    `

[code]
I am attaching the logs so t

[2021-03-06 17:44] AndrewPanov commented on #9161
@priyawadhwa ok, i'll try to use that and see that happens
@Karmavil tl;dr sorry
1) everything is ok with creds or address
2) all creds are stored like in 13 step (auths->url->auth->base64encoded)
3) mbe imagepullsecrets may help for somehow, i didn't check it

[2021-03-06 18:15] prezha opened #10736 "CoreDNS: Unable to scale down deployment "coredns" in namespace "kube-system" to 1 replica"
since we've moved closer to the point when coredns is deployed, there could be a race condition that needs to be handled and operation retried

full error:
[code]

/assign

[2021-03-06 18:52] Filip-231 commented on #8409
I have the same issue nothing helps !
Terminal:

(base) root>~ #cd ~/.docker
(base) root>.docker #rm -rf config.json
(base) root>.docker #minikube delete --profile=minikube
🔥  Deleting "minikube" in docker ...
💀  Removed all traces of the "minikube" cluster.
(base) root>.docker #minikube start --driver=docker
😄  minikube v1.18.1 on Ubuntu 18.04
✨  Using the docker driver based on user configuratio

[2021-03-06 18:55] Filip-231 commented on #8409
I'm running docker on my Oracle VirtualBox, ubuntu 18.04

Client: Docker Engine - Community
 Version:           20.10.5
 API version:       1.41
 Go version:        go1.13.15
 Git commit:        55c4c88
 Built:             Tue Mar  2 20:18:05 2021
 OS/Arch:           linux/amd64
 Context:           default
 Experimental:      true

Server: Docker Engine - Community
 Engine:
  Version:          20.

[2021-03-06 20:51] FilBot3 opened #10737 "minikube v1.18.1 not finishing on Fedora 33 using Podman and-or CRI-O"
# Description

**Steps to reproduce the issue:**

1. `sudo dnf module list cri-o`
2. `sudo dnf module enable cri-o:1.20`
3. `sudo dnf install cri-o`
4. `sudo dnf install conntrack`
5. `minikube config set driver podman`
6. `sudo visudo --file=/etc/sudoers.d/podman`
7. `minikube start --driver=podman --container-runtime=cri-o --extra-config=kubelet.cgroup-driver=systemd --alsologtostderr -v=7 2>&1

[2021-03-06 22:25] wandellamaia commented on #10724
Boa noite! Eu reinistalei o docker para a versão desejada pelo mikube e funcionou.
Obrigado!Wandella Maia.

    Em quinta-feira, 4 de março de 2021 22:43:46 BRT, Medya Ghazizadeh <notifications@github.com> escreveu:

@wandellamaia
¿Qué versión de minikube usas?
¿Te importaría probar con la última versión de minikube? Creo que este error está relacionado con la versión anterior de "docker" si insta

[2021-03-06 22:30] #10443 closed

[2021-03-07 00:20] Karmavil commented on #9161
I know sorry about that.
It was my fault from the moment I posted code that no one asked for, on an issue I didn't open.
But I have issues downloading from a private repository like docker with minikube as priyadhwa suggested and I don't want to duplicate and Issue that I can easily workaround.
I don't need that functionality to be honest, but it's really useful to keep your credentials out of rep

[2021-03-07 08:51] afbjorklund commented on #10737
If you are using the "podman" driver, you don't have to install software (cri-o, conntrack) also on the host.

[2021-03-07 09:45] abdelmonem17 opened #10738 "can't start minikube with docker driver"
**Steps to reproduce the issue:**
I am running ubuntu 20 at virtual box  so I install docker and and minikube  finally to run minikube so I run the following command

$ minikube start --driver=docker

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**
😄  minikube v1.17.1 on Ubuntu 20.04 (vbox/amd64)
✨  Using the docker driver based on use

[2021-03-07 10:17] jhoncemplok opened #10739 "error execution phase upload-config/kubelet"
saya ingin menginisialisasi dari file kubeadm-config.yaml
[code]
pada saat saya melakukan perintah init terjadi keterangan eror "error execution phase upload-config/kubelet: Error writing Crisocket information for the control-plane node: timed out waiting for the condition
To see the stack trace of this error execute with --v=5 or higher"

[2021-03-07 11:30] b4ruch commented on #7344
@abhimjoshi I am having the exact same issue.   However, I made sure my container port was pointing out to the right port (8080 in my case).

[code]
I am testing a Node.js app that is set to listen to port 8080.

So, after running
`> minikube service hello-world`

[code]

If I curl from WSL to localhost, it succeeds. I get the response from one of the pods.

`curl localhost:38669`
`Hello world fro

[2021-03-07 13:07] afbjorklund commented on #10738
How did you install ubuntu and docker ? It doesn't seem reproducible with a regular Vagrant installation.

[2021-03-07 13:19] b4ruch commented on #7344
after digging a bit more about this issue, it all laughably came down to:
`wsl.exe --shutdown`
As indicated by the answer on this link: [https://github.com/microsoft/WSL/discussions/2471#discussioncomment-63090](url)

[2021-03-07 13:44] abdelmonem17 opened #10740 "Configure credentials for AWS Elastic Container Registry using registry at ubuntu inside vm with none driver"
Hello everyone I am working on ubuntu under VM in windows 10 and I want to configure credentials for AWS Elastic Container Registry for minikube and none as virtualization driver, I tried many ways like in this link https://minikube.sigs.k8s.io/docs/tutorials/configuring_creds_for_aws_ecr/ but I can't pull images from private ECR repo so could anyone help me to do so ? thank you in advance.

[2021-03-07 15:09] afbjorklund commented on #10578
Right, that could work.

[2021-03-07 15:17] abdelmonem17 commented on #10738
@afbjorklund  I install ubuntu on virtual-box which runs under windows 10,
I install docker like in the docker website steps

[2021-03-07 15:20] afbjorklund commented on #10696
Should leave the fix for #10439, and not go back to hardcoding IP

[2021-03-07 15:36] afbjorklund commented on #10738
Doesn't reproduce with VirtualBox 6.1 on Ubuntu 20.04, there it works OK.

[code]

[code]

[2021-03-07 16:47] abdelmonem17 commented on #10738
also I run "Ubuntu 20.04.2 LTS" on my virtualbox 6.1
could you share all steps install minikube and docker with me and I will apply it as it is and check

[2021-03-07 17:32] bricelalu commented on #2805
Hello, ok @tstromberg, I will try to propose something very soon.

[2021-03-07 17:32] bricelalu commented on #2805
/assign

[2021-03-07 18:47] echeadle commented on #6143
I no longer have a mac and retired.  I forgot about this issue. Sorry, I am closing it now.

[2021-03-07 18:47] #6143 closed

[2021-03-07 19:38] DomainFlag opened #10741 "Creating a sample deployment hangs with status ContainerCreating stucked pulling the image."
**Steps to reproduce the issue:**

1. minikube start
2. kubectl create deployment hello-minikube --image=k8s.gcr.io/echoserver:1.4
3. kubectl get pods

**Full output of failed command:**
[code]

[code]

Using WSL2, installed minikube on Ubuntu, but whatever depoyment I do, it's always stuck at the pulling an image.

**Update**

It finally finishes pulling the image after 32 min. I've tried to pull

[2021-03-07 20:34] afbjorklund commented on #4868
The initial re-implementation, adding a "BuildImage" to the cruntime: #10742

It seems like it will only handle directories to start with, so unpack any tarballs.
Eventually it should also handle http:// etc, so you can build from remote URLs.

Goes something like:
1) Create tarball from context
2) Transfer tarball to machine
3) Unpack remote tarball
4) Build image, and tag it
5) Remove remote con

[2021-03-07 21:04] afbjorklund commented on #9947
Not available yet, in buildkit 0.8.x

[2021-03-07 21:10] afbjorklund opened #10744 "The new load command still uses the cache directory"
Instead of loading to the container runtime directly, it still copies to the cache...

`machine.CacheAndLoadImages`

This is **not** needed, it should be able to transfer the file to the machine directly.

With the current API we have to make a remote disk copy, but that is more minor*...

----

\* Eventually it should be possible to stream the tarball directly into the runtime.
But not every runt

[2021-03-07 21:10] afbjorklund commented on #10744
Ping @priyawadhwa

[2021-03-07 22:37] abdelmonem17 commented on #10738
@afbjorklund Thank you for help, I tried anther new VM image instance and worked for me.

[2021-03-07 22:38] #10738 closed

[2021-03-08 04:00] AkihiroSuda commented on #8157
`kind` is going to support running vanilla Kubernetes inside rootless Docker: https://github.com/kubernetes-sigs/kind/pull/1935

Should be easily portable to minikube.

@priyawadhwa Could you reopen this issue?

[2021-03-08 07:27] krishsaha2020 commented on #10725
Getting the below error while starting minikube on WSL2 ( Ubuntu 20.04.2 LTS).  Please let me know how to overcome this error.

$ minikube start --driver=none

❌  Exiting due to RUNTIME_ENABLE: sudo systemctl restart docker: exit status 1
stdout:

stderr:
Job for docker.service failed because the control process exited with error code.
See "systemctl status docker.service" and "journalctl -xe" for

[2021-03-08 08:30] abhimjoshi commented on #7344
@b4ruch This is good finding. I hope your issue has been resolved now.

[2021-03-08 11:03] yxxhero opened #10750 "minikube start with --network=host error!!!!"
$ minikube start --driver=docker --image-mirror-country cn  --network host
* minikube v1.17.1 on Centos 7.9.2009
* Using the docker driver based on user configuration
* Using image repository registry.cn-hangzhou.aliyuncs.com/google_containers
* Starting control plane node minikube in cluster minikube
* Pulling base image ...
* Creating docker container (CPUs=2, Memory=2200MB) ...| E0308 18:58:53.

[2021-03-08 11:05] yxxhero commented on #10750
I want to use host mode. Please help me. Thanks very much~

[2021-03-08 11:11] afbjorklund commented on #8157
@AkihiroSuda : seems that we are already tracking this in #9495

[2021-03-08 11:11] #8157 closed

[2021-03-08 13:50] vineetbhardwaj80 opened #10751 "how to change log-driver for minikbue's inner docker?"
**Steps to reproduce the issue:**

1. Start minkube using command - **_minikube` start --docker-env log-driver=fluentd --alsologtostderr_**
2. Login to minikube VM using command - **_minikube ssh_**
3. Run command - **_docker info_**

**Full output of failed command:**

docker@minikube:~$ docker info
Client:
 Debug Mode: false

Server:
 Containers: 27
  Running: 14
  Paused: 0
  Stopped: 13
 Image

[2021-03-08 14:04] anencore94 commented on #10671
If nobody is responsible to this issue now, may I take this issue ?

[2021-03-08 14:16] afbjorklund commented on #10751
Did you mean to use `--docker-opt` ?

[code]

[2021-03-08 14:28] FilBot3 commented on #10737
I've updated the issue with my Podman version, you are correct. I'm on Podman v3. I thought I was still on Podman v2.

[code]

[2021-03-08 14:34] afbjorklund commented on #10737
Using the --container-runtime=docker also seems to work, so it's something with the combo podman3 + cri-o

[2021-03-08 14:49] m-lima opened #10752 "SSH tunnels left open after sending SIGINT to `minikube tunnel`"
**Steps to reproduce the issue:**
Minikube running with docker driver on macOS Catalina

1. `minikube tunnel`
2. On another terminal: `kill -INT <PID_OF_THE_PREVIOUS_COMMAND>`
3. `ps aux | grep minikube`

**Full output of failed command:**
The `ps` command will show multiple ssh tunnels still open, outliving the parent process.

**Details**
In **pkg/minikube/tunnel/kic/ssh_tunnel.go** the interrup

[2021-03-08 15:31] DomainFlag commented on #10741
Closing it, I was able to fix by following the steps:
[WSL2 DNS](https://gist.github.com/coltenkrauter/608cfe02319ce60facd76373249b8ca6)

[2021-03-08 15:31] #10741 closed

[2021-03-08 15:58] FilBot3 opened #10754 "minikube v1.18.1 not finishing on Fedora 33 using Docker-CE"
# Details

**Steps to reproduce the issue:**

1. Uninstall any traces of Docker, if there are any
2. Install Docker-CE
3. Add user to docker group, logout and in.
4. Stop CRI-O Socket
5. Start Docker Socket
6. Attempt to start Minikube using Docker driver.

**Full output of failed command:**

Full log output was too large. Had to move to a Gist.
* https://gist.github.com/FilBot3/24255be4533a46945c

[2021-03-08 15:58] FilBot3 commented on #10754
I believe also related to: https://github.com/kubernetes/minikube/issues/10737

[2021-03-08 15:59] FilBot3 commented on #10737
My run of Docker-CE: https://github.com/kubernetes/minikube/issues/10754

No luck on my side.

[2021-03-08 16:11] Camilo0414 opened #10755 "vmware"
Hello, there's no documentation available for vmware driver on Linux. I think this is very important to add in a near future :)

[2021-03-08 16:31] abdelmonem17 opened #10756 "use registry-creds addon to pull images to minkube"
Can  registry-creds addon be used to pull images to namespaces other than default namespace,
if not what are the alternatives?

[2021-03-08 16:52] afbjorklund commented on #10737
Thanks for testing, it worked on Ubuntu 20.04 (with podman version 3.0.1)

[2021-03-08 16:58] afbjorklund commented on #10737
The safe bet is otherwise to use a VM (--vm=true), see https://github.com/kubernetes/minikube/issues/10237#issuecomment-765892917

There are a lot of experimental things happening at once in Fedora, otherwise

[2021-03-08 17:05] afbjorklund commented on #10754
We should probably have some kind of warning issue, when trying to use "podman-docker".

https://github.com/containers/podman/blob/v3.0.1/docker

It is not supported in minikube, if you want to use podman you should use --driver=podman

(or alternatively, you need to install Docker [or Moby] if you want to use --driver=docker)

[2021-03-08 17:08] afbjorklund commented on #10754
That little "echo" statement actually managed to segfault part of Kubernetes, that didn't expect it.

[2021-03-08 17:11] afbjorklund commented on #10754
Looking at the rest of the log, it actually did run Docker: `docker version: linux-20.10.5`

[2021-03-08 17:18] afbjorklund commented on #10755
Care to make a PR ? There is information available for other operating systems that might (or might not) be useful

https://minikube.sigs.k8s.io/docs/drivers/vmware/

There are also some upstream issues with `docker-machine-driver-vmware`, that could need some user assistance.

https://github.com/machine-drivers/docker-machine-driver-vmware/issues

[2021-03-08 18:07] kameshsampath commented on #10171
still get the same issue with crio, not sure what CNI driver I can use on macOS.
________________________________
From: Medya Ghazizadeh <notifications@github.com>
Sent: Thursday, March 4, 2021 1:03 AM
To: kubernetes/minikube <minikube@noreply.github.com>
Cc: Kamesh Sampath <kamesh.sampath@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [kubernetes/minikube] crio: Unable to pull im

[2021-03-08 18:09] spowelljr commented on #10672
In-progress

[2021-03-08 19:16] afbjorklund commented on #10672
I outlined the basic approach taken by the "build" wrapper:

https://github.com/kubernetes/minikube/issues/4868#issuecomment-792347686

The extra steps are about writing the tar to disk, on both sides
(once on the client/host, and once on the server/machine)

How much extra time this takes, depends on the size etc...

By using the native client to the unix socket, it saves the copies.
Instead the

[2021-03-08 22:20] FilBot3 commented on #10754
Ah, I did have `alias docker=podman` setup in my `rc` files. Removed that an I've updated the Gist with the correct Docker version information. You're saying that the issue is the BTRFS that Fedora 33 uses though, correct?

[2021-03-08 22:22] FilBot3 commented on #10737
That's what I feared. I didn't want to run more VM's on my system already, but I'm thinking Ubuntu may be what I try next to get this all working.

[2021-03-08 22:30] seperman commented on #10060
@afbjorklund Thanks for the response. Btw I see a new warning message on Minikube  v1.18.1

[code]

But the docs don't mention minikube image load: <https://minikube.sigs.k8s.io/docs/handbook/pushing/>

[2021-03-08 22:55] sharifelgamal opened #10757 "Failing test: TestAddons/Ingress on none linux"
https://storage.googleapis.com/minikube-builds/logs/10635/b1a32e8/none_Linux.html#fail_TestAddons%2fparallel%2fIngress

[2021-03-09 01:05] sharifelgamal commented on #10663
This is clearly a problem with kubectl itself, and how minikube is writing its kubeconfig with different versions of kubernetes. Doing some more digging, it seems to be because of the extensions we added our kubeconfig for auditabilty a couple of versions of minikube ago. These work perfectly in k8s 1.17+ but will break kubectl config view in k8s 1.16 and earlier.

The solution here is to only wri

[2021-03-09 01:11] sharifelgamal commented on #10664
`minikube start` usually installs a CNI by default, so I suspect installing a new one on top is what's causing the issue.

Try running `minikube start --cni=images/multus-daemonset.yml` or whatever the path is to your CNI YAML config. Let us know if that helps.

[2021-03-09 01:18] sharifelgamal commented on #10680
[code]
That error is clearly what's causing the kube-proxy pod to crash. I wonder if we're not mounting in that binary properly in certain cases?

[2021-03-09 01:47] sharifelgamal commented on #10739
So are you trying to use the kubadm command directly? If so, that doesn't really have much to do with minikube. I would suggest trying `minikube start` as it takes care of a lot of kubadm config for you.

[2021-03-09 01:50] sharifelgamal commented on #10750
Could you please run that command with the `--alsologtostderr` parameter added in so we can have more info related to the failure?

[2021-03-09 01:52] sharifelgamal commented on #10752
Thanks for finding this and opening an issue. We should definitely fix this.

[2021-03-09 03:05] yxxhero commented on #10750
[code]
@sharifelgamal   I want to use host mode. Please help me. Thanks very much~

[2021-03-09 04:39] daehyeok opened #10759 "Add overwrite flag into start command to change values in config files."
Currently it looks we can overwrite flags  in config file only when first start fail.

https://github.com/kubernetes/minikube/blob/1fe7615e9e9489e5abb595da89e156b5d0a662bc/cmd/minikube/cmd/start_flags.go#L433-L435

How about add `--overwrite` flag to intentionally update value?
Then we can solve some problem occurred by machine or nodes internal change(#10578)

[2021-03-09 05:13] prezha commented on #9878
thank you @reach4bawer for testing and providing feedback, really appreciated it!

i'd say those builtin autofix mechanisms are intentionally limited in scope - as you've experienced yourself, they would require root privileges and 'messing' with the system, and both are avoided

i'm glad that you now have a working network and also operational minikube :)

i'll close this issue now, and please fe

[2021-03-09 05:13] #9878 closed

[2021-03-09 06:19] afbjorklund commented on #10754
I think so, we don't have any tests for Fedora. I guess that is part of the problem.

[2021-03-09 06:26] afbjorklund commented on #10737
It is _supposed_ to work, to use the "alternative" Fedora and Podman and CRI-O too...

Just that it is less tested, and less stable, than using Ubuntu and Docker and Docker.

We could need some community support for local Kubernetes, especially testing ?

Red Hat is mostly focusing on OpenShift and [CodeReady Containers](https://developers.redhat.com/products/codeready-containers/overview) (minish

[2021-03-09 06:28] afbjorklund commented on #10750
minikube doesn't support using the docker driver with the host network, only the none driver (without any process isolation)

We should add a more clear error message, when trying to reuse any of the built-in networks - rather than a custom bridge.

[code]

[2021-03-09 07:03] vineetbhardwaj80 commented on #10751
Appreciate quick response.
I had tried with --docker-opt as well, but did not change the behaviour.
**Logs**
vineet@vineet-laptop:~$ _minikube start --docker-opt log-driver=fluentd --alsologtostderr_
I0309 12:26:49.409642   46640 out.go:185] Setting OutFile to fd 1 ...
I0309 12:26:49.410232   46640 out.go:237] isatty.IsTerminal(1) = true
I0309 12:26:49.410265   46640 out.go:198] Setting ErrFile to

[2021-03-09 08:39] MichaelSchl opened #10761 "error output of "minikube docker-env" should go to stderr"
**Steps to reproduce the issue:**
(used minikube version: 1.18.1)

1. minikube is NOT running
2. Execute "minikube docker-env"
3. I get following output:
[code]
which itself is fine, but the problem is the target of the output. The output seems to go to stdout, which results in a strange error if you post process the output with `eval $(minikube docker-env)`. The leading `*` of the error message l

[2021-03-09 10:52] afbjorklund commented on #10761
It happened when minikube got "smart", and tries to diagnose and fix cluster issues. This broke "docker-env" and "kubectl" both.

[code]

[code]

Maybe it should be a bit more dumb, and simply fail ? Because this command is normally used non-interactively, like with "eval".

[code]

[2021-03-09 10:55] afbjorklund commented on #10761
The same thing also applies to the "podman-env" command.

[2021-03-09 13:30] raboof commented on #4613
`minikube delete --all` did the trick for me

[2021-03-09 13:45] prezha commented on #10640
@jiefenghe i've created pr #10758 describing what i've found and proposing solution, please have a look and share your thoughts

[2021-03-09 15:14] clamprecht01 commented on #10680
@sharifelgamal  I had noticed that as well at one point, but I guess I forgot about it.

Would I expect to find that binary on the Minikube container (currently I don't see it)?

[2021-03-09 15:17] ale8k opened #10762 "Minikube tunnel hangs"
I'm trying to tunnel through to ambassador, when running "minikube tunnel" it hangs. Sometimes it asks for sudo password, sometimes it doesn't. When I check the loadbalancer it is being assigned to the localhost, but there's no output from the command after typing the sudo password.

I did try access it despite the command not fully running to no avail.

I've also tried running it as a sudo comman

[2021-03-09 16:52] afbjorklund commented on #10761
I made the output quiet, when running under eval:

[code]

Possibly there should be a more descriptive error.

[2021-03-09 16:53] afbjorklund commented on #10761
Note that before it would not return _any_ error, which means that user would continue to use local docker...

A successful "docker-env" would set DOCKER_HOST, but a failing "docker-env" would just return empty.

[2021-03-09 17:13] joneshf-cn opened #10764 "None DriveR: using `registry` addon conflict port with 5000 on my machine"
I'm having some troubles setting up the registry addon.

I'm following some steps that we use internally at work to setup `minikube`.
These steps work for other people at work,
so there's a high likelihood that I've either got something messed up in my environment or I'm using a different version of something.
We're all a bit stumped as to what is going on.

**Steps to reproduce the issue:**

1. F

[2021-03-09 17:54] #10696 closed

[2021-03-09 19:21] sharifelgamal commented on #10759
Seems like a reasonable idea. Help wanted!

[2021-03-09 19:25] prezha commented on #10102
@koyuch thank you for opening this issue

we haven't heard back from you in a while, and the issue should be fixed in the recent/latest minikube version
so i'm closing this one now and if you still face the issue, please reopen it or create a new one
thank you!

/close

[2021-03-09 19:25] #10102 closed

[2021-03-09 21:30] daehyeok commented on #10759
/assign

[2021-03-09 22:34] medyagh opened #10766 "Provide more descriptive error codes for DRV_NOT_DETECTED"

[2021-03-10 00:07] yxxhero commented on #10750
Thanks very much! @afbjorklund

[2021-03-10 00:07] #10750 closed

[2021-03-10 00:46] #10717 closed

[2021-03-10 07:41] #10677 closed

[2021-03-10 08:19] rajitha1998 commented on #8514
For "none drive", running `sudo apt update && sudo apt install -y nfs-common ` on your local machine terminal is sufficient.

[2021-03-10 09:35] LY1806620741 commented on #9921
今天我重试了一次，问题仍然存在,现在版本为

[code]

[2021-03-10 10:49] kadel opened #10768 "update the Outdated catalog in OLM addon"
I was wondering why my minikube instance is installing old operator versions.

Then I found out that the `CatalogSource` image in the OLM addon points to the SHA of the image that is several months old.  https://github.com/kubernetes/minikube/blob/81eeb7dd979e29a712ac5153fc4b6b40bd519f9f/pkg/minikube/assets/addons.go#L294

It might make sense for this one case to be an exception from https://githu

[2021-03-10 15:23] afbjorklund commented on #10744
My bad, I thought that it worked with regular files but it still works with this magic daemon. An example would have been nice.

[code]

So it expects an image, rather than a file:

[code]

It doesn't work, when trying to pass a file:

`❌  Exiting due to GUEST_IMAGE_LOAD: save to dir: caching images: caching image "/home/anders/.minikube/cache/images/busybox.tar": nil image for busybox.tar:latest:

[2021-03-10 15:29] afbjorklund commented on #10744
Probably some overlap with `minikube ssh sudo crictl pull`

[2021-03-10 15:45] thetruechar opened #10771 "minikube start fail in mac m1 (using docker m1 preview and minikube-darwin-arm64)"
❯ minikube start
😄  minikube v1.18.1 on Darwin 11.2.1 (arm64)
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🏃  Updating the running docker "minikube" container ...
🐳  Preparing Kubernetes v1.20.2 on Docker 20.10.3 ...
💢  initialization failed, will try again: wait: /bin/bash -c "sudo env PATH=/var/lib/mini

[2021-03-10 15:57] afbjorklund commented on #10744
KIND has two different commands:

[code]

Would be nice to have this in minikube as well

[2021-03-10 17:18] OrpheonZeroh opened #10772 "Fix `no such file or directory` error when Docker installed via Snap"
**Los comandos necesarios para reproducir la incidencia**:

**El resultado completo del comando que ha fallado**: <details>
alberts@4lbrts:~/oauth2-proxy-v6.1.1.linux-amd64$ export NO_PROXY=localhost,127.0.0.1,10.96.0.0/12,192.168.99.0/24,192.168.39.0/24
alberts@4lbrts:~/oauth2-proxy-v6.1.1.linux-amd64$ minikube delete
🔥  Deleting "minikube" in docker ...
🔥  Deleting container "minikube" ...
🔥  Re

[2021-03-10 17:53] tejal29 opened #10773 "docker: Update prune suggestion to exclude minikube containers"
I love`minikube pause` a lot. It saves me CPU, makes my laptop faster.

However, after running a bunch of docker builds, my laptop ran out of memory.  I decided to run `docker system prune`
which ended up deleting minikube stopped containers.

[code]

Issues
1) `docker system prune` delete stopped containers and i had totally forgotten this will delete my minikube.
  - would have appreciated some

[2021-03-10 19:06] fsladkey commented on #9460
Hi @priyawadhwa, sorry for not following up on this earlier. I haven't seen this error again since I was working on this back in Oct. From my end, I'm happy to consider it fixed. :)

[2021-03-10 19:13] medyagh commented on #9398
we agreed this is a good feature to implement. @spowelljr would be a good candidate to work on this

[2021-03-10 19:13] spowelljr commented on #10587
Hi @limkakk, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-03-10 19:13] #10587 closed

[2021-03-10 19:16] medyagh commented on #10013
@kmohanram I haven't heard from you, did that doc help ?

[2021-03-10 19:17] ilya-zuyev commented on #10590
Going to close this issue. @tammysuryana if the problem still exists please open a new issue providing more logs and system information

[2021-03-10 19:18] ilya-zuyev commented on #10475
I'm going to close this issue. @nitra-stack if you still have problems starting minikube please open a new issue providing logs and system info

[2021-03-10 19:18] #10475 closed

[2021-03-10 19:21] medyagh commented on #10013
I follow the docs on our website
https://minikube.sigs.k8s.io/docs/tutorials/audit-policy/

and it works for me, if u dont mind I will close this issue and if u still have this  please reopen

[code]

[2021-03-10 19:21] #10013 closed

[2021-03-10 19:22] kmohanram commented on #10013
IIrc, that was the first set of instructions that I followed. However, I
will follow these instructions again and report back to you in the next 1-2
days. Thank you.

On Wed, Mar 10, 2021 at 2:16 PM Medya Ghazizadeh ***@***.***>
wrote:

[2021-03-10 19:23] medyagh commented on #10363
@Mohamedmahrous995
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

The exact minikube start command line used: preferably with --alsologtostderr -v=8 added.
The full output of the command
The full output of "minikube logs"
Plea

[2021-03-10 19:23] #10363 closed

[2021-03-10 19:24] spowelljr commented on #10152
@yogyogi could you provide the logs @priyawadhwa asked for above?

Detailed logs makes it easier for us to debug the issue, thanks.

[2021-03-10 19:25] sharifelgamal opened #10776 "The front page of our documentation has an old "latest release""
On https://minikube.sigs.k8s.io/docs/, it says our latest release is 1.16.0, which is 3 months old and 2 releases old now. We should add automation to our release scripts to update this on release.

[2021-03-10 19:26] medyagh commented on #10773
@tejal29 docker system prune would delete all the stopped containers, the only way to stop this, make sure minikube is  running before prune.

[2021-03-10 19:26] sharifelgamal commented on #10576
Hey @lavanyajainr – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikube

[2021-03-10 19:26] #10576 closed

[2021-03-10 19:26] spowelljr commented on #10287
Hi @zhangb191, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

嗨@ zhangb191，我们还没有收到您的回音，您还有这个问题吗？
此问题中没有足够的信息以使其无法操作，并且持续了足够

[2021-03-10 19:26] #10287 closed

[2021-03-10 19:29] #10453 closed

[2021-03-10 19:30] medyagh commented on #10278
@Tejolaxmi I am curious if deleting minikube would fix this problem ?
this might be an issue that is caused by Docker Desktop restarting would not Start back minikube or the port change.

does this fix the problem
[code]
btw our latest version is 1.18.1

[2021-03-10 19:33] sharifelgamal commented on #9806
Hey @erakjha, we haven't received an update on this issue in quite some time, so I'm going to go ahead and close it. If your problem persists, please reopen this issue and post the output of `minikube start --v=8 --alsologtostderr` and `minikube logs`.

[2021-03-10 19:33] #9806 closed

[2021-03-10 19:34] #10083 closed

[2021-03-10 19:35] medyagh commented on #10498
@shafiurrahmanA SSH driver is our newest driver, it seems like u are trying to use SSH driver but u have not provided an IP address, I know on the early version there was a bug, have u tried with latest verison of minikube ?

and do u mind please share the full command that u call minikube with ? and also add --alsologtostderr for verbose logs ?

[2021-03-10 19:36] medyagh commented on #10533
@psksaikrishna
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

The exact minikube start command line used: preferably with --alsologtostderr -v=8 added.
The full output of the command
The full output of "minikube logs"
Please f

[2021-03-10 19:36] #10533 closed

[2021-03-10 19:41] #9836 closed

[2021-03-10 19:43] medyagh commented on #8568
I suggest this blog post https://kubernetes.io/blog/2020/05/21/wsl-docker-kubernetes-on-the-windows-desktop/#minikube-updating-the-host

 to be updated to use docker driver,
anyone like to take this issue and update the kuberentes docs to use docker driver instead of none ?

@KamranShahid
@prasadkatti
@idvoretskyi

[2021-03-10 19:44] ilya-zuyev commented on #9440
@jyozq if the issue still exists, do you mind trying minikube v1.18.1? Thanks!

[2021-03-10 19:48] spowelljr commented on #8442
@shikhar4128 If @LukBukkit suggestion doesn't help, I recommend you create a new issue and reference this issue in it. This ticket has been closed for a while and your issue would get more visibility if you opened a new one.

[2021-03-10 19:48] medyagh commented on #9013
@tempacct4q @msedzins  I see this issue is using a very very old minikube version (v1.12.3), I remember we fixed something about the mount partitions in the ISO, I wonder if we still have this issue ? do u mind giving it another try to see if it works now with latest version (v1.18.1)

[2021-03-10 19:49] medyagh commented on #9303
@davidedmonds @lyqht  i wonder if u have tried latest verison of minikube , we fixed WSL in previous versions. if u still have this issue plz reopen

[2021-03-10 19:49] #9303 closed

[2021-03-10 19:49] spowelljr commented on #2412
@tariq-sketch This ticket has been closed for over two years, if you're experiencing an issue I recommend you create a new issue as you will get more visibility.

[2021-03-10 19:52] spowelljr commented on #8997
@baymax55 Can you expand on what's not working, are you still getting the same error as before or are you getting a new error now?

[2021-03-10 19:56] medyagh commented on #8568
if anyone likes to take this issue, please reffer to this issue on the kuberetnes website
https://github.com/kubernetes/website/issues/26998

[2021-03-10 19:57] medyagh commented on #9663
@EArminjon I am curious does this still happen in the newest version of minikube ?

[2021-03-10 19:58] medyagh commented on #9663
/triage needs-information
/kind support

[2021-03-10 19:59] medyagh commented on #10138
this was done by @ilya-zuyev

[2021-03-10 19:59] #10138 closed

[2021-03-10 20:01] prezha commented on #9939
@Aut0R3V, we haven't heard back from you for some time, are you still working on this issue?

[2021-03-10 20:01] tejal29 commented on #10773
yes. I think with Auto Pause add on, this can occur fairly often when the cluster is paused without user knowing and then puff, it gets deleted.