[2022-03-16 18:34] spowelljr commented on #13560
Hi @Kailash-Ramco, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-03-16 18:34] #13560 closed

[2022-03-16 18:36] klaases commented on #13519
Hi, @daviduash, this is fixed in minikube v1.25.2. Please take a moment to update your minikube installation to the latest version.

[2022-03-16 18:36] #13519 closed

[2022-03-16 18:48] klaases commented on #13357
Hi @[shuklagauravjn](https://github.com/shuklagauravjn), did you have a chance to review @[afbjorklund](https://github.com/afbjorklund)'s comment?

[2022-03-16 18:57] klaases commented on #13312
Hi @rkazak  – please review the above comments, as this issue will be closed. If new information becomes available, please feel free to re-open the issue by commenting with `/reopen`

Thank you for sharing your experience!

[2022-03-16 18:58] sharifelgamal commented on #13510
`minikube tunnel` is required for ingress to work on the docker/podman drivers, and that's currently the only driver supported on M1 (VM drivers are in the works). Right now, `minikube tunnel` will hang when run in another terminal, but that does not mean it's not working, we just don't output anything.

[2022-03-16 18:58] klaases commented on #13267
Hi @[jbdamiano](https://github.com/jbdamiano), did you have a chance to review @spowelljr's comment and attached link?

[2022-03-16 19:00] sharifelgamal commented on #13565
It would certainly seem like the podman container is crashing, `podman container inspect` isn't returning anything while `podman inspect` is returning very minimal information.

While I'm not a podman expert (@afbjorklund knows far more than I do), this feels like a very basic usecase and should work. If you want to try a VM driver, I'd suggest KVM.

[2022-03-16 19:07] sharifelgamal commented on #12632
I'll freeze this so it doesn't go stale while someone looks into it. Help wanted!

[2022-03-16 19:09] sharifelgamal commented on #12842
It would seem like we need to check both `/sys/fs/cgroup/memory/memory.memsw.limit_in_bytes` and `/sys/fs/cgroup/memory/memory.limit_in_bytes`, which feels doable.

[2022-03-16 19:10] spowelljr commented on #11510
Hi @blacksd, I'm curious what version of minikube you're using. I fixed up a lot of the mounting code in December, so if you're on an older version this could possibly have been fixed.

[2022-03-16 19:12] sharifelgamal commented on #13097
This seems like it was a temporary connection issue to our alibaba mirror. Have you tried this again?

[2022-03-16 19:12] spowelljr commented on #13395
Hi @dropthemasquerade, thanks for reporting your issue with minikube!

Could you run `minikube logs --file=logs.txt` and upload the log file to this issue. That will output more verbose logs and will help with debugging, thanks!

[2022-03-16 19:13] jbdamiano commented on #13267
Systemctl is not available on wsl2. Wsl2 used hyper V to virtualize Linux. I'm not using lxc.

Téléchargez Outlook pour iOS<https://aka.ms/o0ukef>
________________________________
De : klaases ***@***.***>
Envoyé : Wednesday, March 16, 2022 7:59:05 PM
À : kubernetes/minikube ***@***.***>
Cc : Jean-Bernard Damiano ***@***.***>; Mention ***@***.***>
Objet : Re: [kubernetes/minikube] [--driver=docker

[2022-03-16 19:14] klaases commented on #12670
Hi @[yhjhoo](https://github.com/yhjhoo), did you have a chance to review @sharifelgamal's suggestion above?

[2022-03-16 19:14] #13190 closed

[2022-03-16 19:20] klaases commented on #12853
From what I can tell, the requested port that is needed for SSH is already in use.

Please consider stopping whatever process is currently using the SSH port.

=== From Google Translate / 来自谷歌翻译 ===

据我所知，SSH 所需的请求端口已在使用中。

请考虑停止当前正在使用 SSH 端口的任何进程。

[2022-03-16 19:55] ckjoris commented on #6912
hey @skol101, how did you figure out its due to grid/vgpu unsupported ? I know for sure that rtx30 series support passthrough for a single VM, like for KVM.
I'm looking at the nvidia-installer.log, seems that driver is just failling to compile...
by the way, one can find nvidia-installer.log by doing `minikube ssh`, then `less /home/kubernetes/bin/nvidia/nvidia-installer.log`

[2022-03-16 20:00] DanielViglione opened #13804 "Minikube and Podman multiple errors"
### What Happened?

 % minikube start --driver=podman --container-runtime=cri-o
😄  minikube v1.25.2 on Darwin 12.0.1
✨  Using the podman (experimental) driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
💾  Downloading Kubernetes v1.23.3 preload ...

E0316 15:36:40.218612   27875 cache.go:203] Error downloading kic artifacts:  no

[2022-03-16 21:57] AliNazariii commented on #11107
@preslavmihaylov Thanks.

[2022-03-16 22:47] spowelljr commented on #13404
Hi @vivientouvier, could you download and use this binary and then upload the log output again, thank you! It has improved error logging around icacls.

https://storage.googleapis.com/minikube-builds/13803/minikube-windows-amd64.exe

-----

Salut @vivientouvier, pourriez-vous télécharger et utiliser ce fichier binaire, puis télécharger à nouveau la sortie du journal, merci ! Il a amélioré la journ

[2022-03-16 22:52] #13656 closed

[2022-03-16 23:07] blacksd commented on #11510
@spowelljr I checked just now, it's `v1.25.2`.

[code]

This is my startup routine:

[code]

This works just fine if the `minikube ip` is in the `192.168.84.x` CIDR.

[2022-03-17 00:55] zhan9san commented on #13788
No. The change was only merged into master branch, and it may be in next release. Certainly, you can compile it by yourself.

BTW, the change only fixes the UI issue, showing some friendly output. You can get the output following what I said before.

[2022-03-17 02:29] zhan9san commented on #13747
Hi @Remering

Both the following way may work for you.

Method 1. Access service exposed by tunnel

[code]

Method 2. Access service from minikube VM

[code]

[2022-03-17 04:28] RA489 commented on #13804
/co runtime/crio

[2022-03-17 08:33] MacFlurry commented on #13798
thanks @afbjorklund

[2022-03-17 08:33] #13798 closed

[2022-03-17 11:13] prajithsonu524 commented on #9016
i am using m1 chip which doesnt support hyperkit at all and using docker vm also is throwing the same problem pls help me out

[2022-03-17 14:20] ggjulio commented on #10079
/reopen

[2022-03-17 15:46] #13537 closed

[2022-03-17 17:09] spowelljr commented on #11510
Do you have `Internet Sharing` enabled? `System Preferences` -> `Sharing`

I'm wondering if this is what's causing a different `inet`

[2022-03-17 17:13] Dreams-Ahlem commented on #5660
Thank you it was helpful

[2022-03-18 00:43] RA489 commented on #12714
/remove-lifecycle rotten

[2022-03-18 00:43] RA489 commented on #12691
/remove-lifecycle rotten

[2022-03-18 00:43] RA489 commented on #12706
/remove-lifecycle rotten

[2022-03-18 07:26] Malavshah999 opened #13808 "Failed to start minikube in Ubuntu 18.0"
### What Happened?

Tried to start minikube in VMWare > Ubuntu 18.0 > terminal but it failed. First it lags for almost an hour on line
Creating Virtualbox VM (CPUs=2, Memory=1952MB, Disk=20000MB) ...
Then shows the following screen
😄  minikube v1.25.2 on Ubuntu 18.04
✨  Automatically selected the virtualbox driver

🧯  The requested memory allocation of 1952MiB does not leave room for system overhe

[2022-03-18 08:49] fuzhouch commented on #13565
Hey,

I happened to find a fix when I saw same problem on my Manjaro Linux. By debugging it seems minikube tries to create a virtual machine by calling `podman machine init --cpus=2 --memory=3900`. This command results in an error complaining `Error: exec: "qemu-system-x86_64": executable file not found in $PATH`.

So I tried to manually install qemu first (`pacman -S qemu`, surely `dnf` should be

[2022-03-18 10:12] schaeferto commented on #12508
Even if this is close - I had to downgrade minikube from 1.25.x -> 1.24 to get this working. I am using the example/docker.yaml for starting the lima-vm.
Do you know the reason or better - a solution to use lima-vm as the driver for the latest minikube version?

[2022-03-18 11:35] afbjorklund commented on #12508
The long term plan (well, "current") is to provide a similar driver for minikube (to lima's), and then run the minikube os with it.

Sadly minikube has some issues running under lima (#12926), so therefore it is recommended to run kubeadm ([k8s.yaml](https://github.com/lima-vm/lima/blob/master/examples/k8s.yaml))

I'm not sure why you would use colima, it seems like a limited version of Rancher De

[2022-03-18 13:14] schaeferto commented on #12508
Thanks for the quick reply.
Well:

Maybe some background ;-) ...

 My use-case is just having some kind of k8s playground on my local machine. So what I am looking for is an easy approach to be able to run kubectl on my machine.

So after migrating from docker for desktop to lima-vm (with config: ./docker.yaml), I am looking for an easy way to install a k8s cluster.
Thats why I tried out minikube

[2022-03-18 13:31] afbjorklund commented on #12508
It is a little surprised by it. In the old days, you _either_ had a local unix socket or a remote tcp socket.

This remote unix socket confuses some old assumptions, so needs some workaround to get the IP...

[2022-03-18 13:50] prezha commented on #5792
@medyagh sorry for my late reply on this topic

i've explored it a bit more and the findings are collated in a doc open for comments:
https://docs.google.com/document/d/1mAGEaz_jSJkD5mesALPXi0SgEUEi2H1tuu7hbmXMIUw/edit?usp=sharing

**_TL;DR_**: signing minikube binaries for macOS and Windows requires funding ($99/year and a wide range of ~$80-$700+/year respectively), and for Linux distros, we cur

[2022-03-18 16:05] tyabu12 opened #13809 "Port validation error on specifying tcp/udp or range ports"
### What Happened?

`$ minikube start` fails on specifying tcp, udp or range ports option.
e.g. `127.0.0.1:8080:8080/tcp`, `127.0.0.1:8080:8080/udp`, `127.0.0.1:8080-8081:8080-8081`.

This problem appears to have been introduced on minikube v1.24.0 (#12233).

### 1.25.2

#### 127.0.0.1:8080:8080/tcp

[code]

#### 127.0.0.1:8080:8080/udp

[code]

#### 127.0.0.1:8080-8081:8080-8081

[code]

### 1.23

[2022-03-18 19:55] prezha opened #13810 "golangci-lint fails for go v1.18"
### What Happened?

current `golangci-lint` v1.44.2 does not work with go v1.18

### Attach the log file

[code]
[code]

### Operating System

_No response_

### Driver

_No response_

[2022-03-19 03:47] dellraja commented on #9030
WORKED

[2022-03-20 07:58] shubham-cmyk commented on #13642
is your virtualization on in windows?

[2022-03-20 09:58] hnviradiya commented on #12115
I am facing this issue on windows 11.

[2022-03-20 10:25] hnviradiya commented on #12115
looks like because of this ingress is also not working. It is also hanging.

[2022-03-20 18:41] tleepa opened #13816 "Minikube fails to start/update podman container"
### What Happened?

[code]

Config:
[code]

I had it running fine in January.
I am aware that some components were updated since (e.g. kernel, minikube itself) but I don't even know what to start with.

Let me know if I can provide more info.

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8311874/logs.txt)

### Operating System

Redhat/Fedora

### Driver

Podman

[2022-03-20 19:08] mprimeaux commented on #11219
@sharifelgamal Any updates?

[2022-03-21 02:28] RA489 commented on #13808
/kind support

[2022-03-21 02:30] RA489 commented on #13816
/kind support

[2022-03-21 06:58] githubforw0rk opened #13818 "minikube image load crashes with no helpful information. I am unable to use a locally built image otherwise in a kubernetes/minikube cluster"
### What Happened?

![image](https://user-images.githubusercontent.com/99474436/159214480-56019edf-53e9-4420-8bd5-90eb775a36dc.png)
I have successfully built a docker image and tried to load it into minikube for testing purposes because of questionable kubernetes design that always goes to docker.io for images.  I've tried to eval my env into minikube and tried to set imagePullPolicy to a variety

[2022-03-21 07:06] afbjorklund commented on #13818
Most of the output from "minikube image" is still only in the logs, so you might want look there first.

[2022-03-21 07:08] afbjorklund commented on #13818
This is inherited from Docker, but if you add your registry to the images it should **not** go to docker.io unless requested to

[2022-03-21 07:09] githubforw0rk commented on #13818
It looks like logs aren't even getting anything from the minikube image command.  Is there a more serious issue at hand?

[2022-03-21 07:12] githubforw0rk commented on #13818
I attempted to minikube image load nginx:latest and this succeeded.  I wonder if it's the image size that's the problem.

[2022-03-21 07:26] githubforw0rk commented on #13818
It turns out it was a memory issue.  I upped the VM's memory from 4 to 8 gb and this issue went away.
![image](https://user-images.githubusercontent.com/99474436/159219405-0f8b4515-ce0c-4d76-9cdc-473b97b628cc.png)

[2022-03-21 07:26] #13818 closed

[2022-03-21 07:35] afbjorklund commented on #13818
It should the individual commands, but maybe that required increased verbosity

[2022-03-21 08:20] Scannery opened #13819 "minikuber start, then coredns In crashloop"
### What Happened?

192.168.49.1    start minikuber here;    vmware:centos7
192.168.49.2/172.17.0.1 minikuber docker image
172.17.0.2 coredns

docker log dns-image：
[ERROR] plugin/errors: 2 3890269790922051111.174307046596220162. HINFO: read udp 172.17.0.2:51981->192.168.49.1:53: i/o timeout

53端口要什么啊？本机的。

### Attach the log file

docker log dns-image
[ERROR] plugin/errors: 2 3890269790922051111.

[2022-03-21 11:55] staticdev opened #13821 "containerd+driver none returning error"
### What Happened?

Also worth noticing iptables is installed and on PATH.

Logs:

[code]

### Attach the log file

[code]

### Operating System

Debian

### Driver

_No response_

[2022-03-21 11:59] afbjorklund commented on #13821
What does `which iptables` say ? It is usually found in `/usr/sbin/iptables`.

[code]

As part of the requirements, you also need to install "conntrack".

[2022-03-21 12:02] afbjorklund commented on #13821
Here is the configuration that I was testing with:

[code]

`minikube start --driver=none --container-runtime=containerd --cni=bridge`

[2022-03-21 12:12] staticdev commented on #13821
About iptables:

[code]

@afbjorklund can you try with `config.vm.box = "generic/debian11"`

[generic](https://app.vagrantup.com/generic)/[debian11](https://app.vagrantup.com/generic/boxes/debian11)

[2022-03-21 12:19] staticdev commented on #13821
Update: besides being installed /usr/sbin doesn't seem to be on default path of debian. I exported the path manually.. and the logs change to complain about docker:

[code]

Now I see what you mentioned on Slack...

[2022-03-21 13:12] staticdev commented on #13821
After adding this fake docker command and installing `conntrack`, I now have an error of missing `crictl`:

[code]

[2022-03-21 13:13] hnviradiya opened #13823 "Minikube service <servicename> and ingress both are not working on windows 11"
### What Happened?

I simply followed following steps. I am using windows 11.

https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/

From above link I executed exact steps as following.

1) `minikube addons enable ingress`
2) `kubectl create deployment web --image=gcr.io/google-samples/hello-app:1.0`
3) `kubectl expose deployment web --type=NodePort --port=8080`
4) `miniku

[2022-03-21 20:46] #13810 closed

[2022-03-21 20:51] spowelljr commented on #13823
Hi @hnviradiya, thanks for reporting your issue with minikube!

This may be a duplicate of https://github.com/kubernetes/minikube/issues/13736, there's a comment in the issue (https://github.com/kubernetes/minikube/issues/13736#issuecomment-1063470210) that has a link to a fixed binary for the reported issue. Could you try downloading the binary in the comment and try using it and see if that reso

[2022-03-22 01:09] obasoro opened #13827 "Sorry that minikube crashed."
### What Happened?

Ran this command below:

`./kf-install.sh`

"The connection to the server 192.168.99.100:8443 was refused - did you specify the right host or port?
⚠️  minikube 1.25.2 is available! Download it: https://github.com/kubernetes/minikube/releases/tag/v/1.25.2

💣  Error getting IP: Could not find matching IP for MAC address 080027f672d3

😿  Sorry that minikube crashed. If this was u

[2022-03-22 06:34] afbjorklund commented on #13821
The bug report itself is invalid, since 'iptables` was **not** on the PATH. On the other hand, it doesn't have to be either.

Minikube should check that it is available to root, either by hardcoding "/usr/sbin/iptables" or by running "sudo iptabes".

[2022-03-22 06:51] AkihiroSuda commented on #13534
Cause:  `preloaded-images-k8s-v17-v1.23.3-containerd-overlay2-amd64.tar.lz4` does not contain unpacked snapshots for `fuse-overlayfs`snapshotter.

I'll open a PR soon.

[2022-03-22 07:20] afbjorklund commented on #13534
I think assign only works for project maintainers or something, the Kubernetes repositories have a lot of inherited project-wide rules

[2022-03-22 08:21] AkihiroSuda commented on #13534
PR:
- https://github.com/kubernetes/minikube/pull/13828

[2022-03-22 09:01] abdabughazaleh commented on #4113
First of all, make sure from the listening port in your application and what port are you set when writing the command after that execute the `minikube tunnel` command.

[2022-03-22 14:11] sahithreddy26 commented on #13566
i too faced same issue solved it with your suggestion
thank you

[2022-03-22 20:50] staticdev commented on #13821
@afbjorklund you are right. Problem is the same as the ones you mentioned using docker. closing here. Thanks a lot for the help!

[2022-03-22 20:50] #13821 closed

[2022-03-23 01:19] kschaab opened #13838 "Minikube does not start properly but minikube start returns exit code 0"
### What Happened?

In the attached logs the command:
`minikube start -p minikube --delete-on-failure`
returns exit code 0

However, minikube did not start the kube api server successfully as indicated in its log:
[code]

### Attach the log file

[minikube start logs](https://gist.github.com/kschaab/e36326c73d84c1377b411fec6d84bace)
[Cloud Code Logs](https://gist.github.com/kschaab/bcc0cc1ef0bd968

[2022-03-23 02:02] jak42 opened #13839 "minikube service --url <service> panics when you try to get a ClusterIP service"
### What Happened?

The trace below says it all.

james@volttron-mod-installed:\~/Documents/kube-volttron$ kubectl get service
NAME         TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)              AGE
kubernetes   ClusterIP   10.96.0.1       <none>        443/TCP              9d
vcentral     ClusterIP   10.99.195.5     <none>        8443/TCP,22916/TCP   9d
vremote      ClusterIP   10.105.67.

[2022-03-23 06:00] t-inu commented on #12809
According to https://github.com/kubernetes/minikube/pull/13764, document pages are automatically updated by modifying the source code.
So, I'll create a PR to fix the description within the source code.
/assign

[2022-03-23 06:18] julienbonastre commented on #4206
Facing this issue too on BigSur Mac - tried all tricks about to no avail

[2022-03-23 06:26] michaely-cb commented on #13207
I'm stuck for a couple of days on this now..

[2022-03-23 06:36] DonggookKim opened #13840 "After upgrade PC hardware and os, minikube doesn't start"
### What Happened?

I upgrade my pc hardware Ryzen x2700 -> Ryzen x5800 and upgrade os version from windows 10 to windows 11.

After that minikube doesn't start.

I removed minikube and reinstall minikube with winget but it still got error.

Can you help me?

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8330388/logs.txt)

### Operating System

Windows

### Drive

[2022-03-23 08:01] vladnicula commented on #13207
@michaely-cb there's a solution here on the issues with using ingress. That worked for me.

[2022-03-23 10:18] anikmoz opened #13841 "Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]"
### What Happened?

    ~  minikube addons enable ingress --alsologtostderr

I0323 16:01:01.216663    1306 out.go:298] Setting OutFile to fd 1 ...
I0323 16:01:01.216790    1306 out.go:350] isatty.IsTerminal(1) = true
I0323 16:01:01.216795    1306 out.go:311] Setting ErrFile to fd 2...
I0323 16:01:01.216799    1306 out.go:350] isatty.IsTerminal(2) = true
I0323 16:01:01.216876    1306 root.go:31

[2022-03-23 12:03] michaely-cb commented on #13207
@vladnicula That’s encouraging progress! Do you mind sharing that solution?

[2022-03-23 13:20] AndrewAlscher commented on #9016
Yes, I'm also using m1 chip and try find the other solution.

[2022-03-23 13:58] vladnicula commented on #13207
I think it's this one:https://github.com/kubernetes/minikube/issues/11193#issuecomment-998512056 (had to go to my browser history and search for it hah). I don't understand all that's going on there (yet) but with that setup I was able to receive a response.  That @zhan9san fellow is a hero 👍

[2022-03-23 17:01] hnviradiya commented on #13823
Okk. Now service issue got fixed with this. But now on top of that service I have ingress created that is not being accessed. Have created from following documentation. This thing works when I use virtualbox driver. It is getting timed out with docker driver.

https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/

[2022-03-23 18:52] spowelljr commented on #13626
Hi @Adem-KRIOUANE, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-03-24 11:13] iamkarlson commented on #5301
any updates? still valuable

[2022-03-24 13:01] ArangoGutierrez commented on #13788
Same here, this is a hot fix
[code]
after that services can discover and be accessed.

[2022-03-24 14:19] michaely-cb commented on #13207
@vladnicula Thanks for pointing out! This also worked for me. And indeed @zhan9san is a hero!

I saw that message being printed after I started tunneling, but I didn't pay good attention to this. I hope the IP resolution mechanism can be refined soon for Macs so this won't be needed further in the future.

[2022-03-24 14:32] vignan-devops opened #13845 "Issue when trying to start minikube on macos"
### What Happened?

minikube start
 minikube v1.21.0 on Darwin 12.2.1
✨  Using the virtualbox driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🔥  Creating virtualbox VM (CPUs=2, Memory=4000MB, Disk=20000MB) ...
❌  minikube is unable to connect to the VM: dial tcp 192.168.99.115:22: i/o timeout

        This is likely due to one of two reasons:

[2022-03-24 16:42] afbjorklund commented on #11706
Finally settled on podman 3.4.2, same as final version for Ubuntu 20.04

* #13126

Using minikube for running podman is not recommended, it was mostly for cri-o

There are no plans to add podman 4.0.2, use Podman Machine for that instead ?

[2022-03-24 16:54] afbjorklund commented on #11706
Note: it is **not** possible to use `minikube podman-env` with a podman4 client.

[code]

You can download compatible `podman` clients from here:

https://github.com/containers/podman/releases/tag/v3.4.2

[2022-03-24 17:02] afbjorklund commented on #13252
Upgraded to nerdctl 0.17.1, and containerd (ctr) 1.5 / buildkit (buildctl) 0.10

[2022-03-24 17:16] spowelljr commented on #10460
@e-tienne Are you still working on this? I unassigned this task from you, but if you are actively working on it please reassign yourself, thanks!

[2022-03-24 18:02] spowelljr commented on #13804
Hi @DanielViglione, thanks for reporting you issue with minikube!

This seems to be a known issue with Podman, I found this issue https://github.com/containers/podman/issues/8914 which has a link in pointing to https://github.com/containers/podman/blob/main/troubleshooting.md#26-running-containers-with-cpu-limits-fails-with-a-permissions-error which will hopefully fix your issue. Try it out and le

[2022-03-24 18:10] spowelljr commented on #13799
Hi @kamalkech, thanks for reporting your issue with minikube!

What version of minikube are you using? `minikube version`

And if it was working previously maybe the re-install broke something. If you want to start minikube from a fresh state run `minikube delete --all --purge` and it will be like you never ran minikube before then run `minikube start` again. Let me know if that works, thanks!

[2022-03-24 19:18] kamalkech commented on #13799
@spowelljr it s already fixed! and sorry if forget to close issue

[2022-03-24 19:18] #13799 closed

[2022-03-24 19:27] gabe2code opened #13854 "failed to Deploy the Kubernetes Ingress Controller"
### What Happened?

I'm trying to deploy kong following [the guide](https://docs.konghq.com/kubernetes-ingress-controller/2.2.x/deployment/minikube/) on the official website.

1- I installed minikube without issues 👍
2- kubectl create -f https://bit.ly/k4k8s 👍
3- export PROXY_IP=$(minikube service -n kong kong-proxy --url | head -1) 👎

receiving this error:

[code]
any suggestions?

PS: Also tried

[2022-03-24 20:37] #11543 closed

[2022-03-24 21:51] chicks-net opened #13855 "Can minikube pass options to podman?"
### What Happened?

Minikube's [podman driver](https://minikube.sigs.k8s.io/docs/drivers/podman/) leads to setting a global podman option in a way this isn't great for security.

[code]

If minikube could see fit to let us pass the `--connection` option to podman then this could be worked around just for minikube and not leave podman's defaults in a less secure state.

### Attach the log file

N/A

[2022-03-24 21:57] chicks-net commented on #9224
I've gotten minikube going with `podman` 4.0.2 on an M1 Mac.  More details are in [this stackoverflow answer](https://stackoverflow.com/a/71579753/2002471).

I just filed #13855 to see if we can clean this up a bit more.

[2022-03-24 22:30] afbjorklund commented on #13855
You can set the `CONTAINER_CONNECTION` environment variable, if you don't want to change global configuration.

[2022-03-24 22:35] afbjorklund commented on #13855
There is also some folks looking for testers of rootless podman:

* #13829

[2022-03-24 22:52] spowelljr commented on #13796
Hi @crimson-gao, thanks for reporting your issue with minikube!

I've looked at this, it's a common misconception that the quoting is incorrect (other issues mention the same thing), but it's more of just the way it's getting printed out in the logging. This can be backed up by the fact the errors lineup with what the command is actually trying to attempt. The command failed to create the `/tmp/h.

[2022-03-24 22:53] spowelljr commented on #13779
Hi @Cinorid, thanks for reporting your issue with minikube!

Could you try running `minikube delete --all --purge` and then try starting minikube again and let me know if you still experience the same issue, thanks!

[2022-03-24 22:57] spowelljr commented on #13778
Hi @Cinorid, I believe this issue is a duplicate of https://github.com/kubernetes/minikube/issues/13779 which you also created, but this one is in Persian. I'm going to close this issue, but if there's a reason to keep this one open feel free to state your reason and reopen it, thanks!

-----

سلام @Cinorid، من فکر می کنم این شماره تکراری از https://github.com/kubernetes/minikube/issues/13779 است

[2022-03-24 22:57] #13778 closed

[2022-03-24 23:01] spowelljr commented on #13748
Hi @wxw-matt, thanks for reporting your issue with minikube!

Could you please run `minikube image build . --alsologtostderr` and uploaded this output to this issue so we can help debug your issue, thanks!

[2022-03-24 23:13] chicks-net commented on #13855
This totally addresses my immediate question.  I was able to get it to start with:

[code]

But then you have to include that for every invocation of the `minikube` command:

[code]

Hopefully #13829 will lead to a cleaner solution.

[2022-03-24 23:14] #13855 closed

[2022-03-24 23:28] mnaser commented on #13816
I believe the root cause is the following:

https://github.com/kubernetes/minikube/pull/13531/files

[2022-03-24 23:38] chungjin commented on #12846
Hi @medyagh , when I running it locally, I never faced this issue, do you know how often we may face this situation? Maybe it depends on the docker version?

If it is rare, maybe we don't need to deal with it?

If we must process it, maybe we can save the stderr to a tmp file and analysis the log, but i am not sure the overhead of it.

[2022-03-24 23:55] chungjin commented on #13475
subset of integration test:

https://minikube.sigs.k8s.io/docs/contrib/testing/#quickly-iterating-on-a-single-test
[code]

[2022-03-25 00:23] eduardocalfaia commented on #13841
I have the same issue on MacOS Monterey, minikube 1.25.2

[2022-03-25 02:19] zhan9san commented on #13839
Hi @jak42

This is a known issue and fixed in [#13736 ](https://github.com/kubernetes/minikube/issues/13736#issuecomment-1063470210)

You can try the minikube binary in comment

[2022-03-25 03:24] zhan9san commented on #13854
Hi @gabe2code

Try this

## start minikube cluster with docker driver

[code]

## Deploy the Kubernetes Ingress Controller

[code]

## Set up tunnel and keep the terminal(terminal 1) open

[code]

## Get PROXY_IP in another terminal, named terminal 2

The http PROXY_IP would be http://127.0.0.1:HTTP_PORT

You can get the HTTP_PORT thru the following command.

For example, the HTTP_PORT is `50030`

[2022-03-25 04:18] gabe2code commented on #13854
Hi @zhan9san Thank you for answering the question

I had followed your steps and I really don't get the "HTTP_PORT" part.

I ran the command: `minikube service -n kong kong-proxy --url`
I got this:
![image](https://user-images.githubusercontent.com/8299560/160052317-41e8bc29-048f-4bb2-994d-ec04a0411b81.png)

So, I'm assuming that the next command should look like this:
`ps -ef | grep 'ssh -o UserK

[2022-03-25 06:04] afbjorklund commented on #13855
Minikube only looks for the traditional environment variables, such as `DOCKER_HOST` and `CONTAINER_HOST`.

There is no support for these new "context" and "connection", that have a global impact (beyond the current shell)

[2022-03-25 08:30] tleepa commented on #13816
I have deleted the cluster, created new one and minikube is working fine.
I guess this issue can be closed.

[2022-03-25 09:14] edrandall commented on #4206
Try the following packet filter rules:

[code]

[2022-03-25 10:46] zhan9san commented on #13854
Hi @gabe2code

Sorry, I assume it's MacOS by mistake.

For Windows with Docker driver, I tried to set up a tunnel by `minikube service` command, but failed.
Luckily, the tunnel for ingress works as below.(If you cannot understand what I am saying here, it's better to go through the reference in the end)

After the `kong` ingress is created, try run the following commands

Create a tunnel in termin

[2022-03-25 11:02] Cinorid commented on #13779
@spowelljr

Hello. I tried but it did not help.

1. `minikube delete --all --purge`
🔥  Successfully deleted all profiles
💀  Successfully purged minikube directory located at - [C:\Users\Ahmad\.minikube]
2. `minikube start --driver=vmware`
😄  minikube v1.25.2 on Microsoft Windows 10 Enterprise 10.0.19043 Build 19043
✨  Using the vmware driver based on user configuration
👍  Starting control plane no

[2022-03-25 12:34] ArangoGutierrez commented on #13788
I have tried master branch, and can say it works now. no need to restart coredns to get services running

[code]

[2022-03-25 14:47] ShiroDN commented on #11608
Yes, looks like it's still an issue.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2022-03-25 15:19] gabe2code commented on #13854
@zhan9san Works like a charm.

Could you please add those specifications to the Readme, or something to indicate that is you're a Windows user, you should follow different steps?

I'm very sure that will be very appreciated.

Thank you for your time 😃

[2022-03-25 15:19] alexkim-avant commented on #13788
Thank you! I will close the issue now.

[2022-03-25 18:51] #11315 closed

[2022-03-26 06:35] ekkizogloy commented on #9499
It seems like the issue is still present. `minikube service <service-name>` does not work as expected. It opens a browser using the same IP address listed in the above messages `192.168.49.2:<port>` and the connection never succeeds.

The port-forward feature does work. `kubectl port-forward service/<service-name> <fwd-port>:<service-port>`
However there is no reference or dependence to the `nodeP

[2022-03-26 08:02] Cinorid commented on #13779
@spowelljr
This is my temporary solution to this problem:
1. `minikube delete --all`
2. Set the system time back at least as much as the time zone. (ex. change 18:45 to 14:15)
3. `minikube start --driver=vmware`
4. `minikube stop`
5. Return the system time to normal state. (ex. change to 18:48)
6. `minikube start`

We have to do these steps every time we want to create a new node.

[2022-03-26 15:14] AkihiroSuda opened #13861 "[Podman v4] `minikube delete` does not remove Podman's `minikube` network"
### What Happened?

`minikube delete` does not remove Podman's `minikube` network.

Host: minikube 1.25.2, Podman 4.0.2, Ubuntu 21.10.

### Attach the log file

[code]

### Operating System

Ubuntu

### Driver

Podman

[2022-03-26 16:07] cmoi936 commented on #13404
Hi @spowelljr ,
I was wandering for solutions about my issu : i couldn't access to my service (type=ClusterIP)

I've the same problem as @vivientouvier on Windows 10 PRO.
I've fully removed Docker (uninstall,  files, windows registry) to do a new brand installation for Docker Desktop 4.6.1 (76265) with  the WSL 2 based engine.
I also removed the C:\Users\fouqu\.minikube directory, to do a new bran

[2022-03-26 16:14] Orygeunik commented on #13841
Some problems minikube v1.25.2  (and v1.24, upgrade not helped) on Debian - bullseye

[2022-03-26 20:00] #10357 closed

[2022-03-26 21:01] #12803 closed

[2022-03-27 19:00] 8bitreid commented on #12036
try what ?? can you be more specific?

[2022-03-27 20:07] #10144 closed

[2022-03-27 21:44] brandonros commented on #10244
[code]

[code]

[code]

[2022-03-27 21:53] brandonros commented on #10574
[code]

[code]

[code]

[2022-03-27 21:57] brandonros commented on #10574
It just really hates localhost/127.0.0.1

I had to make a `/etc/hosts` entry. That made it go away, ended up with a different error about `OS type not recognized but that's not related to this.

[2022-03-27 21:59] brandonros commented on #11457
[code]

[2022-03-27 22:00] brandonros commented on #11457
[code]

Not sure why Docker is involved?

[2022-03-27 22:10] brandonros commented on #10883
https://minikube.sigs.k8s.io/docs/drivers/ssh/

Might want to update the docs to say that only Docker container runtime is supported at the moment, and/or throw an error when trying to pass --container-runtime='containerd' with --driver=ssh

[2022-03-27 22:11] brandonros commented on #10883
even if the box you are sshing to already has containerd on it, it seems like minikube doesn't support this because it's looking for a docker libmachine profile to provision, and Flatcar Linux is not supported, and the `libmachine` repo is end-of-lifed because it got moved into Docker Desktop?

[2022-03-28 04:13] zhan9san opened #13863 "failed to download kicbase-build anonymously AliYun Mirror"
### What Happened?

Failed to download `registry.cn-hangzhou.aliyuncs.com/google_containers/kicbase-builds:v0.0.30-1647797120-13815@sha256:90e8f7ee4065da728c0b80d303827e05ce4421985fe9bd7bdca30a55218347b5`

A minimal, reproducible example

[code]

## Minikube Version

Compiled from latest master branch

[code]

## Log

[code]

### Attach the log file

[log.txt](https://github.com/kubernetes/minikub

[2022-03-28 05:57] afbjorklund commented on #10883
It is _supposed_ to work with `--container-runtime=containerd`, but there are registry bugs requring "docker" to be present

the repo didn't get moved anywhere, but the previous Docker Toolbox product got replaced by the Docker Desktop product...

[2022-03-28 06:33] afbjorklund commented on #10883
As far as I know, Flatcar Linux (née CoreOS) should come with the container runtime pre-installed ?

So provisioning should be quite fast, basically `which containerd` and `which ctr` or some such.

[2022-03-28 06:36] afbjorklund commented on #11457
Not so much "docker", just "machine"

[2022-03-28 06:44] afbjorklund commented on #11457
Anyway, currently it only supports Ubuntu.

There were some more supported distributions in libmachine, before the provisioners were forked. Possibly some of them could be added back again ?

[2022-03-28 10:19] kadern0 commented on #12842
@sharifelgamal, why not following same approach as docker (engine) and make use of `libcontainer/cgroups` as in:
https://github.com/docker/engine/blob/8955d8da8951695a98eb7e15bead19d402c6eb27/pkg/sysinfo/sysinfo_linux.go#L89
and https://github.com/docker/engine/blob/8955d8da8951695a98eb7e15bead19d402c6eb27/pkg/sysinfo/sysinfo_linux.go#L15 ?

In Ubuntu and Arch, I couldn't find either of these file

[2022-03-28 10:27] mudskipperwathotmail opened #13866 "minikube with VMWare Workstation - IP not found for MAC 00:0c:29:6f:1e:d2 in DHCP leases"
hi there, I tried to start minikube with VMWare Workstation (15.1.0 on windows 10). and got the err below. and the content of the workstation net conf file attached after. any ideas? thanks.

# ===minikube error msg:
C:\WINDOWS\system32>minikube start --driver vmware
* minikube v1.25.2 on Microsoft Windows 10 Enterprise 10.0.18363 Build 18363
* Using the vmware driver based on existing profile
* S

[2022-03-28 15:52] dhlpj commented on #6296
I want to use minikube without docker desktop, and use hyperkit vm. Also, I'm using VPN. I have tried setting proxy and VPN, refer to https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/. Any update on this issue? The minikube version: v1.25.2

[2022-03-28 16:51] staticdev commented on #10908
@afbjorklund / @medyagh I want to debug this error to see if I could fix it so we don't need the workaround of:

`ln -s /bin/false /usr/local/bin/docker`

From TDD perspective where should I create an test on the codebase? Possibly we are talking about an e2e test, I also see there is this `TestStartStop` integration test but those tests does not have `driver` and `container-runtime` args.

[2022-03-28 17:05] staticdev commented on #10908
One thing that is confusing to me is that docker/podman are "--driver" options as well as "--container-runtime"s. This is not consistent with containerd. Maybe the logic of the code requires the creation of another driver option for containerd? Or else Podman and Docker should also use driver None.

[2022-03-28 17:07] spowelljr commented on #13404
Hi @cmoi936, it seems your minikube instance started correctly. The error you're seeing is actually due to localization.

We have:
[code]

But due to localization your system is outputting `fichier traitÇˇ: C:\Users\fouqu\.minikube\machines\minikube\id_rsa
1 fichiers correctement traitÇsˇ; Çchec du traitement de 0 fichiers` which is causing the error message to be output to you, but your cluster a

[2022-03-28 17:12] spowelljr commented on #13840
Hi @DonggookKim, thanks for reporting your issue with minikube!

It looks like your certificate expired, could you try running `minikube delete --all --purge` and then try starting minikube again and see if that resolves your issue, thanks!

[2022-03-28 17:23] spowelljr commented on #13841
The root cause of the issue seems to be that you can't access external resources.
`Error response from daemon: Get "https://k8s.gcr.io/v2/\": dial tcp 142.251.10.82:443: i/o timeout`

Are you behind a corporate firewall or VPN?

[2022-03-28 17:37] afbjorklund commented on #10908
@staticdev : we are running docker-in-docker, or crio-in-podman. So yes, it is confusing with the "driver" and "runtime".
So far nobody has bothered with containerd-in-nerdctl, but I suppose that it is technically possible as well. Plus permutations.

~~Kong Ingress Controller~~
Kubernetes In Container

[2022-03-28 17:37] spowelljr opened #13868 "Falsely stating applying icacls failed due to localization"
When checking if applying icacls worked, we check for a specific string in the output, however we're checking for the string in English and if the user has their OS language set to a different language the string compare fails and we output to the user the icacls operation failed.

https://github.com/kubernetes/minikube/blob/7ab41df6e7af2a225e297c9b64839005a888342a/pkg/drivers/kic/kic.go#L266-L268

[2022-03-28 17:43] afbjorklund commented on #10908
So it is supposed to look in the registry for "none", but instead it runs the status command of "docker".

[code]

[2022-03-28 18:30] Orygeunik commented on #13841
So in my case, i tried to find logs with text "Error response from daemon:"
And nothing found
But i find another stranges (with command minikube logs --problems)
[code]
And finally healthcheck was failed:
[code]

[2022-03-28 19:07] spowelljr commented on #13845
Hi @vignan-devops, thanks for reporting your issue with minikube!

First questions, is this a corporate machine that may have a firewall or VPN configuration?

Second, I'd recommend updating to the latest version of minikube (currentl `v1.25.2`).

Third, could you run `minikube start` again put append the `--alsologtostderr` flag and upload the full contents to the issue, thanks!

[2022-03-28 19:08] spowelljr commented on #13819
Hi @Scannery, thanks for reporting your issue with minikube!

Could you run `minikube logs --file=logs.txt` and then upload the log file to this issue, thanks!

[2022-03-28 19:11] spowelljr commented on #13808
Hi @Malavshah999, thanks for reporting your issue with minikube!

First thing I'll state is the the minimum required memory by minikube is 2GB, you're right under that limit, which may or may not be the cause of this issue.

Second, I see you ran `minikube logs --file=log.txt` and got that output, but it still generated the log file, so if you could upload that file this will help with the debuggi

[2022-03-28 19:23] vignan-devops commented on #13845
This is my personal laptop that iam trying to run minikube.

I did try to upgrade the minikube to v1.25.2 and run minikube start and it started working fine.

[2022-03-28 19:23] #13845 closed

[2022-03-28 20:20] spowelljr commented on #13845
Glad updating minikube resolved your issue, thanks for using minikube!

[2022-03-28 21:00] Orygeunik opened #13872 "Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]"
### What Happened?

Hello!
I'm tried to enable ingress addon, but takes error such as from title
partial reference for issue #13841
_Originally posted by @spowelljr in https://github.com/kubernetes/minikube/issues/13841#issuecomment-1081007149_

[code]

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8366237/logs.txt)

### Operating System

Other (Debian 11.3)

###

[2022-03-28 21:12] spowelljr commented on #13872
Hi @Orygeunik, thanks for reporting your issue with minikube!

Just looking at the logs I'm seeing `bind: address already in use`, `Using the none driver based on existing profile`, and `Operation cannot be fulfilled on jobs.batch "ingress-nginx-admission-create": the object has been modified`.

I also see that the cluster was originally created with `1.24.0` and now you're using `1.25.2`.

The or

[2022-03-28 21:15] spowelljr commented on #13866
Hi @mudskipperwathotmail, thanks fore reporting your issue with minikube!

I'll need more in-depth minikube logging to be able to debug this issue, could you please run `minikube logs --file=logs.txt` and then upload the log file to this issue, thanks!

[2022-03-28 21:26] Orygeunik commented on #13872
Thanks for quick answer!

So i was executed command `minikube delete --all` (little question, how to update minikube without errors like this?)

[2022-03-28 21:30] spowelljr commented on #13863
Hi @zhan9san, thanks for reporting your issue with minikube!

The aliyuncs registry is actually kept up to date by others (not the core minikube maintainers), but we are working towards having control over the registry. Therefore, those maintaining the registry try their best at keeping the release images up to date, but because they manually download and upload them they only do the release image

[2022-03-28 21:32] Orygeunik commented on #13872
[code]
[new logs.txt](https://github.com/kubernetes/minikube/files/8366451/logs.txt)

[2022-03-29 00:40] mudskipperwathotmail commented on #13866
hi Steven, thanks so much for looking into it. here is the log file, i also pasted the content of the vmnetdhcp.leases file below as to be compared with the vmnetdhcp.conf:
*
* ==> Audit <==
* |---------|------|----------|---------------------|---------|--------------------------------|--------------------------------|
| Command | Args | Profile  |        User         | Version |           Start T

[2022-03-29 01:17] minikube-bot opened #13874 "Frequent test failures of `TestDownloadOnly/v1.23.5/cached-images`"
Will be filled in with details

[2022-03-29 01:17] minikube-bot opened #13875 "Frequent test failures of `TestDownloadOnly/v1.23.6-rc.0/cached-images`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_crio_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio_arm64&test=TestDownloadOnly/v1.23.6-rc.0/cached-images)|100.00|

[2022-03-29 03:23] Scannery commented on #13819
[logs.txt](https://github.com/kubernetes/minikube/files/8367716/logs.txt)

Restart too much, gen temp file once run out my disk,I close this deploy some days ago.
restart minikube today, it crash again.

[2022-03-29 07:43] PrayagS commented on #13620
Thanks @spowelljr for the trick. It worked for me.

[2022-03-29 10:20] antoniopantaleo commented on #13754
Closing, since it's not needed anymore

[2022-03-29 10:20] #13754 closed

[2022-03-29 11:45] joy2323 commented on #1498
This worked for me. thank you

[2022-03-29 14:42] zhan9san commented on #13863
Hi @spowelljr

Thanks for your attention.

I am not sure I understand `kicbase` correctly.

The `kicbase` exists in only two places in [Minikube doc](https://minikube.sigs.k8s.io/docs/). One is [release-new-kicbase-image](https://minikube.sigs.k8s.io/docs/contrib/releasing/binaries/#release-new-kicbase-image) and the other is  [testingkicbaseimage](https://minikube.sigs.k8s.io/docs/contrib/tests/#

[2022-03-29 17:06] spowelljr commented on #13863
Anytime anyone makes changes to the `deploy/kicbase` directory, a new kicbase image has to be built for the changes to take affect.

Here are three PRs that modified that directory, you can see in each the kic version gets bumped as a new kic image was built for each PR:
https://github.com/kubernetes/minikube/pull/13302 (went from kic version `v0.0.29` to `v0.0.29-1643823806-13302`)
https://github

[2022-03-29 18:10] afbjorklund commented on #13861
I'm seeing deletion of all volumes and networks here, even if there is no user output.

`minikube --alsologtostderr delete`

[code]

Maybe the filters got broken again ?

[2022-03-29 18:17] #13816 closed

[2022-03-29 18:27] Tazovsky commented on #11107
@preslavmihaylov thanks!

I have following service:

[code]

Can anyone explain why it is available only after port forwarding at http://localhost:8081 and http://localhost:8080:

[code]
instead of 127.0.0.1:32194, 127.0.0.1:31621 or 192.168.49.2:32194, 192.168.49.2:31621 ?

`minikube` does not return any URL:

[code]

[2022-03-29 18:33] spowelljr commented on #13861
Maybe a breaking change in v4?

[2022-03-29 20:05] staticdev commented on #10908
@afbjorklund after digging a bit more I see this method `validateDriver` is generating the error and it does not have unit tests. Specifically this line could also check if `container-runtime` not containerd to go in: https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/start.go#L836

Maybe this would pretty much solve it..

[2022-03-29 20:07] spowelljr commented on #13034
Hi @raghanag, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-03-29 20:07] #13034 closed

[2022-03-29 20:46] #13031 closed

[2022-03-29 20:46] spowelljr commented on #12887
This has been fixed

[2022-03-29 20:46] #12887 closed

[2022-03-29 20:46] spowelljr commented on #13021
Hi @beterhans, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-03-29 20:46] #13021 closed

[2022-03-30 03:08] RA489 commented on #12383
/remove-lifecycle stale

[2022-03-30 03:13] RA489 commented on #13854
/kind support

[2022-03-30 03:13] RA489 commented on #13838
/kind support

[2022-03-30 05:16] mehmood8 opened #13880 "unable to start Minikube locally"
### What Happened?

mehmood@kubernetes:~$ minikube start --driver=docker
* minikube v1.25.2 on Ubuntu 18.04
* Using the docker driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Pulling base image ...
* Downloading Kubernetes v1.23.3 preload ...

* Creating docker container (CPUs=2, Memory=2200MB) ...
! StartHost failed, but will try again: creating hos

[2022-03-30 05:32] AkihiroSuda commented on #13861
Yes, the `podman network inspect` output was changed in v4

<details>
<summary>Podman 3.4.4</summary>

<p>

[code]

</p>
</details>

<details>
<summary>Podman 4.0.2</summary>

<p>

[code]

</p>
</details>

[2022-03-30 05:49] preslavmihaylov commented on #11107
@Tazovsky I believe this is because the addresses you see in there are part of minikube's internal network and you have to expose them for this to work locally.

When using AWS or similar as backend, usually, you'll get a hostname you can connect to directly

[2022-03-30 06:56] zhan9san commented on #13863
hi @spowelljr

Thank you very much.

It does make sense to merge the `kicbase` image early.

I understand it is because you haven't had control over Aliyun Registry.

That explains a lot. I am grateful that you share with me these background knowledge about `kicbase` image.

Feel free to close this ticket.

[2022-03-30 07:03] zhan9san commented on #13854
Hi @gabe2code

Thanks for your suggestion.

It's better to update the document of `Kong` as well.

Besides, I'll try to make `minikube service` and `minikube tunnel` work in the same manner between `Windows`, `MacOs`.

Could we close this ticket?

[2022-03-30 07:37] kakascx commented on #8768
![image](https://user-images.githubusercontent.com/15819504/160777212-b31b2bb5-6955-48c8-bcd5-0b3f81480045.png)
same problem in v1.24.0

[2022-03-30 08:28] zhan9san commented on #13880
Hi @mehmood8

It seems you have network issue to `gcr.io`.

If you are in China, try `minikube start --driver=docker --image-mirror-country=cn`, please.

[2022-03-30 08:58] anikmoz commented on #13841
@spowelljr Yes may be! in this case, what should I do, what is the solutions?

[2022-03-30 09:05] 12cew commented on #13565
Should this issue be labeled as priority/awaiting-more-evidence or priority/backlog ?

We are doing research about “Issue Priority Prediction". We have developed a tool to automatically label the priority of an issue. The basic idea is to employ Bert model to encode the textual and code descriptions of the issue, and incorporate the issue’s attributes in the model, then apply multi-task learning t

[2022-03-30 09:14] LiJinyao commented on #13819
I've run into the same issue, here's my log.
[logs.txt](https://github.com/kubernetes/minikube/files/8379013/logs.txt)
I've tried add iptable rule `iptables -P FORWARD ACCEPT`, but it didn't work.

[2022-03-30 09:31] AkihiroSuda commented on #13861
PR
- https://github.com/kubernetes/minikube/pull/13881

[2022-03-30 10:07] mehmood8 commented on #13880
yes may proxy block the connection BTW im from pakistan

[2022-03-30 10:39] RA489 commented on #13880
/kind support

[2022-03-30 11:59] MoosaSaadat opened #13882 "error "dial tcp: lookup mailsjobq1.servicebus.windows.net on 10.96.0.10:53: server misbehaving""
### What Happened?

I am using Keda with Azure Service Bus but I am unable to make a connection with Azure. I got the above error. I believe something is wrong with the DNS. Here are the logs:

**coredns logs:**
[code]

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/8380208/log.txt)

### Operating System

Redhat/Fedora

### Driver

Docker

[2022-03-30 13:48] djnotes commented on #13565
@fuzhouch I tried installing qemu-system-x86_64 first and then running minikube start again, but it didn't work. Error is the same as before.

[2022-03-30 16:52] spowelljr commented on #13863
Glad that helped!

[2022-03-30 16:52] #13863 closed

[2022-03-30 17:38] gabe2code commented on #13854
Sure, thanks for your time

[2022-03-30 17:38] #13854 closed

[2022-03-30 18:05] klaases commented on #13569
Hi @[karegoie](https://github.com/karegoie)– were you able to review Steven's comments above?

Also, is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue

[2022-03-30 18:05] #13569 closed

[2022-03-30 18:06] klaases commented on #13395
Hi @[dropthemasquerade](https://github.com/dropthemasquerade) – were you able to review Steven's comment in order to provide the additional log data that is needed for debugging?

Also, is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and so

[2022-03-30 18:06] #13395 closed

[2022-03-30 18:12] klaases commented on #13535
Hi @jatinTyagi98, are you still working on this issue?

Additionally, @yjanjar – did you have a chance to review @spowelljr's suggestion above?

Is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional informati

[2022-03-30 18:12] #13535 closed

[2022-03-30 18:18] klaases commented on #13533
Hi @[gabrifolli](https://github.com/gabrifolli), are you aware of any other services or processes that might be interfering with the router / mount route?

Does this issue occur when not using VPN?

[2022-03-30 18:25] klaases commented on #13717
Hi @[devNaresh](https://github.com/devNaresh), are you using any customized network settings, for example, a custom DNS?

Please try deleting your minikube instance and starting again.

[code]

[2022-03-30 18:27] klaases commented on #13555
Hi @[luispresuelgit](https://github.com/luispresuelgit) – were you able to try @[r0ushann](https://github.com/r0ushann)'s suggestion to delete and purge your minikube environment?

Also, is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and s

[2022-03-30 18:27] #13555 closed

[2022-03-30 18:30] spowelljr commented on #13841
@anikmoz We have a page in our documentation about how to deal with VPNs, give it a through read and hopefully the workarounds help you get your VM access to the internet.

https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/

[2022-03-30 18:31] klaases commented on #13483
Hi @hebbarr, are you running minikube on an Apple M1 processor by chance?

[2022-03-30 18:32] klaases commented on #13355
Hi @[Alan-Jino](https://github.com/Alan-Jino) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact

[2022-03-30 18:32] #13355 closed

[2022-03-30 18:34] klaases commented on #13329
Hi @alfinyusriansyah – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command l

[2022-03-30 18:34] #13329 closed

[2022-03-30 18:36] klaases commented on #13017
Hi @shubb30 – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2022-03-30 18:36] #13017 closed

[2022-03-30 18:39] klaases commented on #12725
Hi @[anencore94](https://github.com/anencore94), just checking in, are you still actively working on this issue?

[2022-03-30 18:45] klaases commented on #12853
Hi @[employeeeee](https://github.com/employeeeee) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The e

[2022-03-30 18:45] #12853 closed

[2022-03-30 18:46] staticdev commented on #10908
UPDATE: I was able to fix this error by removing that docker validation from status() of none.go.

Still I get, have to debug it further.

[code]

[2022-03-30 18:59] klaases commented on #10079
As @[sharifelgamal](https://github.com/sharifelgamal) mentioned, we would appreciate any PR that goes towards resolving this issue.

[2022-03-30 19:04] klaases commented on #12165
Hi @R-omk, we continue to seek help wanted for this issue.

[2022-03-30 21:41] spowelljr commented on #13880
Hi @mehmood8, if you're behind a proxy or VPN read our documentation on those to learn how to resolve connection errors.

https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/

[2022-03-30 23:02] #12315 closed

[2022-03-30 23:26] klaases commented on #12481
Am unable to reproduce this bug on Mac Intel and M1 machines, however we could continue further debugging.

Here is the output on a typical M1 device:

Starting minikube:
[code]

Previously removed `active_config`:

[code]

Enabling gcp-auth:
[code]

Disabling gcp-auth:
[code]

[2022-03-31 01:09] anencore94 commented on #12725
@klaases No, I'm currently not available on this issue. If you are interested in, please take this :)  I will unassign me now

[2022-03-31 03:10] zhan9san opened #13892 "[Question] extra args for minikube oci driver"
### What Happened?

There are many `xxx driver only` in `minikube start --help`.

For `docker` and `podman` drivers, could we unified them in one args, like `--extra-args`, and then pass this args to `CreateContainerNode` function as below. https://github.com/kubernetes/minikube/blob/03b5bb7bef42648bcf4d88f62f0f5337a1d55f8c/pkg/drivers/kic/oci/oci.go#L156-L180

If we do so, some features can be ea

[2022-03-31 03:21] RA489 commented on #13892
/kind support

[2022-03-31 06:29] drinkbeer commented on #12036
This image works in my M1 Macbook: `kubectl create deployment hello-minikube --image=k8s.gcr.io/echoserver-arm:1.8`

Thank you

[2022-03-31 06:37] drinkbeer commented on #11107
Thank you so much! It works in my M1 macbook.

[2022-03-31 09:20] reply2future commented on #10029
Update to v1.25.2 and solved it.

[2022-03-31 11:04] alfhad opened #13893 "Support adding external nodes to cluster"
### What Happened?

I am trying to setup a 3 node cluster with minikube. I have successfully started a single node cluster and have also configured calico(CNI).

While adding nodes to this cluster using ```minikube node add``` an individual node gets added into the cluster with some configuration. Instead I want to add an external VM as a node to this cluster using either it's IP_ADDRESS or HOSTNA

[2022-03-31 12:44] pablombg opened #13894 "DetermineLocale() doesn't check LC_MESSAGES to select the output language"
### What Happened?

According to the [Single UNIX ® Specification](https://pubs.opengroup.org/onlinepubs/007908799/xbd/locale.html) and the [glibc manual](https://www.gnu.org/software/libc/manual/html_node/Locale-Categories.html), the `LC_MESSAGES` environment variable should be used to determine the language of the user interface. But minikube doesn't take this variable into account.

Currently,

[2022-03-31 14:02] SyedK1987 commented on #9016
Same, I also use M1 Chip and I also face the same problem... doesn't matter if I use the Service as NodePort/LoadBalancer the issue is same.... Not able to reach the Ip and it's not giving the URL as well

|  NAMESPACE  |    NAME    | TARGET PORT  | URL |
|-------------|------------|--------------|-----|
| default     | hello-syed |         8080 |     |
| default     | kubernetes | No node port |

[2022-03-31 15:32] dgoldsmith commented on #13736
The updated darwin binary referenced above works for me on Mac OS X 12.2.1 as well.  I was running in to this same issue.  I must have had an older version of minikube initially installed and after removing all Docker/Kubernetes bits from laptop to try again for a clean demo, I got minikube 1.25.2 and ran into the broken service tunnel.  This patch makes it work again.

[2022-03-31 21:15] #13861 closed

[2022-03-31 21:54] spowelljr commented on #13894
Hi @pablombg, thanks for bringing up this issue!

[2022-04-01 03:12] RA489 commented on #13893
/kind support

[2022-04-01 06:12] lazydream opened #13897 "Minikube start ignores proxy"
### What Happened?

I'm trying to run the minikube cluster with `hyperkit` and `containerd`. I'm also using proxy and set environment variables according to [minikube vpn and proxy guide](https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/).

I've set up a local proxy on localhost:3128 and exported following environment variables to zshrc:
[code]

Also I've tried to start minikube with expli

[2022-04-01 06:53] bugalwena commented on #13897
[minikube_logs.txt](https://github.com/kubernetes/minikube/files/8395326/minikube_logs.txt)

Very frustrating for God All-Mother Bugal Wena. Swearing helps

[2022-04-01 10:37] liaochan opened #13898 "why the cpu usage of pod always zero？"
### What Happened?

I am runing a hpa test in minikube.The metric-server works fine. I could get the memory information when i run the ‘kubectl top pod ’ and it also shows in minikube dashboard.

I deployede a php app and set the initial replicas as 5, then the hpa began to work and one pod left at last. However, when I made stress test  to the pod by wget pod‘s ip, the pod's cpu usage is always z

[2022-04-01 10:55] RA489 commented on #13898
/kind support

[2022-04-01 10:57] RA489 commented on #13897
/kind support

[2022-04-01 13:07] Orygeunik commented on #13872
I'm sorry @spowelljr, anything other need?

[2022-04-01 13:48] dgoldsmith opened #13899 "Update release tags"
### What Happened?

A problem with the service tunnel was updated in issue #13756 and was merged to master on Mar 7, but the latest version tag of 1.25.2 is from Feb 24.  A process such as "brew install minikube" is still grabbing the 1.25.2 tag as the latest and does not include the patched code.

Please add an additional release tag such as 1.25.3.

### Attach the log file

No logs provided

###

[2022-04-01 14:43] zhan9san commented on #13897
Hi @lazydream

Could you plz try to use IP address instead of localhost?

e.g.
http://192.168.31.100:3128

[2022-04-01 15:01] 12cew commented on #13872
Should this issue be labeled as priority/important-longterm?

We are doing research about “Issue Priority Prediction". We have developed a tool to automatically label the priority of an issue. The basic idea is to employ Bert model to encode the textual and code descriptions of the issue, and incorporate the issue’s attributes in the model, then apply multi-task learning to facilitate other inform

[2022-04-01 15:53] lazydream commented on #13897
Maybe it's better to try with `host.minikube.internal` ? With this proxy there is no more error about ignored proxy but now process hungs at Creating hyperkit VM stage. It seems like it cannot connect to my host machine from Hyperkit

[2022-04-01 17:48] spowelljr commented on #13898
Hi @liaochan, thanks for reporting your issue with minikube!

We made a change to the metric reporting timing of minikube which seemed to disable metrics altogether, this is going to be reverted in the next release of minikube.

In the meantime, you can append `--extra-config=kubelet.housekeeping-interval=10s` or `--disable-optimizations` to `minikube start` and your issue should be resolved.

[2022-04-01 17:52] spowelljr commented on #13899
Hi @dgoldsmith, thanks for reporting your issue with minikube!

We're looking at releasing `1.26.0` soon, we're just waiting for the ISO arm64 support to get finished up (https://github.com/kubernetes/minikube/pull/13762).

Once that's complete we will immediately be releasing, thank you for your patience!

[2022-04-01 17:52] #13899 closed

[2022-04-02 05:12] zhan9san commented on #13897
Hi @lazydream

Have you tried to delete the broken cluster and recreate it in a clear environment?

1. How to delete

[code]

2. Recreate

If it still doesn't work, would you please provide the full commands?

[2022-04-02 10:42] shaquiba739 commented on #13019
I am unable to start the Minikube inside centOS VM
I am getting the below error while trying to start minikube using the below commands.
#minikube start --driver=virtualbox
![image](https://user-images.githubusercontent.com/61896157/161379566-21876ce2-81a5-4c43-b817-c6b75a7e63fb.png)

[2022-04-02 15:01] liaochan commented on #13898
thanks a lot 😭!!!

[2022-04-02 15:26] #13898 closed

[2022-04-02 16:16] willersonsp commented on #13898
just reporting that --disable-optimizations worked here, pod metrics wasnt working correctly, using that option it started to work.

[2022-04-02 17:39] RainbowInHell commented on #4587
![image](https://user-images.githubusercontent.com/94470292/161394707-d0035ed4-42ec-4466-b5e0-90f5394c8487.png)
Can i have some help..? Please...

[2022-04-03 09:02] lazydream commented on #13897
Yes, I delete old cluster.

[code]

And then in logs:
[code]

[2022-04-03 11:10] rbabaei opened #13902 "Exiting due to K8S_INSTALL_FAILED:"
** minikube start --driver=docker**:

**Exiting due to K8S_INSTALL_FAILED: updating control plane: downloading binaries: downloading kubelet: download failed: https://storage.googleapis.com/kubernetes-release/release/v1.23.3/bin/linux/amd64/kubelet?checksum=file:https://storage.googleapis.com/kubernetes-release/release/v1.23.3/bin/linux/amd64/kubelet.sha256: getter: &{Ctx:context.Background Src:ht

[2022-04-04 00:27] shorif2000 commented on #11107
This is showing all green but when running `minikube service hello-minikube` it fails with
[code]

[2022-04-04 12:37] blacksd commented on #11510
@spowelljr no, I don't have it running.

<img width="670" alt="image" src="https://user-images.githubusercontent.com/5203115/161544990-5766b27c-cbd2-4e53-9525-9ed36f32ec08.png">

Also, this persists after the upgrade from Big Sur to Monterey. Like I mentioned in the other comment, I think the different `inet` started appearing after testing out other hyperkit-based implementations like `colima`.

[2022-04-04 13:14] pfisterer commented on #13207
Not sure if this is related. But for me, `minikube tunnel` did not expose the nginx ingress. Looking the output of `minikube tunnel --cleanup=true --alsologtostderr -v5` I noticed that it only looks for services of type `LoadBalancer`:

[code]

I changed the type of service ``  from `NodePort` to `LoadBalancer`a (using `kubectl edit service -n ingress-nginx ingress-nginx-controller`) and then it w

[2022-04-04 13:48] Yjq14114 commented on #11645
I have the same problem
PS C:\Windows\system32> minikube.exe tunnel
Status:
        machine: minikube
        pid: 7464
        route: 10.96.0.0/12 -> 172.20.126.198
        minikube: Running
        services: []
    errors:
                minikube: no errors
                router: error adding route: ·������ʧ��: �����Ѵ��ڡ�

, 3
                loadbalancer emulator: no errors

[2022-04-04 15:37] Yjq14114 commented on #13747
你好，我也是同样的问题
grey@DESKTOP-DGIJU5L:/mnt/c/Users/jack20/kubernetesYaml$ kubectl get service
NAME              TYPE           CLUSTER-IP     EXTERNAL-IP   PORT(S)          AGE
hello-minikube1   LoadBalancer   10.109.94.61   <pending>     8080:32046/TCP   9m16s
kubernetes        ClusterIP      10.96.0.1      <none>        443/TCP          27m
grey@DESKTOP-DGIJU5L:/mnt/c/Users/jack20/kubernetesYaml$ min

[2022-04-04 17:50] #13868 closed

[2022-04-04 18:39] sathiralamal commented on #11645
run `minikube tunnel` in separate terminal window

[2022-04-04 19:25] guresonur commented on #13772
Hi @aleksandrasd ,
You can find config file of Minikube under ~/.minikube/profiles as config.json
If you remove the extra config you have added recently from this file (shown below) problem should be fixed and you will be able to start your cluster with "minikube start"

"ExtraOptions": [
            {
                "Component": "kubelet",
                "Key": "EnableCustomMetrics",

[2022-04-04 19:43] jrsmroz commented on #13394
Does not solve the issue. I've reproduced the issue using
[code]

I've tried the version  from the URL above:
[code]

And the problem still persists.

[2022-04-04 21:32] spowelljr commented on #13779
Hi @Cinorid, we think it has to do with something relating to syncing the time on the VMware instance.

We implemented a sync change, could you download the binary and do a delete and start and see if there is any change, thanks.

https://storage.googleapis.com/minikube-builds/13889/minikube-windows-amd64.exe

[2022-04-05 05:37] Cinorid commented on #13779
@spowelljr
I will check and let you know.
Thanks a lot for your time and support.

Regards,

[2022-04-05 05:39] Cinorid commented on #13779
@spowelljr
This binary fixed the problem.
Thanks a lot for your time and support.

[2022-04-05 06:36] stumbows commented on #9016
This is also affecting me on M1 Mac. Would love to know of a solution to work around this.

[2022-04-05 06:46] aleksandrasd commented on #13772
@guresonur thank you!

[2022-04-05 06:46] #13772 closed

[2022-04-05 08:06] viteksafronov commented on #13841
I have exactly same situation. In my case the ingress-controller pod does not start because since version v1.25.2 of minikube it has a toleration NoSchedule for node-role.kubernetes.io/master which is obviously set on master node of minikube.
Also there is a quite strange thing. When I do `minikube addons disable ingress`, it shows correct version of controller image:
[code]
But when I enable it b

[2022-04-05 13:14] vijaySamanuri commented on #8535
atleast ipv6 support for minikube with docker driver should be easy to achieve

[2022-04-05 13:23] lyind commented on #8535
What I finally did was automate setting up a one-node kubeadm cluster with CNI inside a linux KVM guest. Using that for tests/CI now.

So it is definitely possible at least on Linux with KVM.

Unfortunately other issues prevented me from implementing this in minikube as I needed a fast solution covering all of them quickly.

[2022-04-05 14:11] eduardocalfaia opened #13914 "minikube service doesn't work"
### What Happened?

The minikube service starts but the simple webpage with the hello world is not showed. I am using minikube 1.25.2, after the update the service stopped working.

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/8418851/log.txt)

### Operating System

macOS (Default)

### Driver

Docker

[2022-04-05 17:14] spowelljr commented on #13779
Glad that resolved your issue @Cinorid! I'm going to close this issue, the fix will be included in the next release of minikube. If the issue comes back feel free to respond and reopen the issue, thanks!

[2022-04-05 17:14] #13779 closed

[2022-04-05 17:23] anand-kulk commented on #10830
I ran into same issue with docker in minikube, updating daemon.json by ssh worked like charm! Thanks.

[2022-04-05 19:21] bergstenarn commented on #12920
Just would like to tell that I experienced the very same problem today. Fortunately the workaround above solved the problem, i.e.
[code]

FYI I have the following:

macOS Monterey, Version 12.3.1, MacBook Air M1
minikube version: v1.25.2, commit: 362d5fdc0a3dbee389b3d3f1034e8023e72bd3a7
Docker version 20.10.13, build a224086

[2022-04-05 19:26] shahdibra commented on #10310
I have the error: ❌  Exiting due to DRV_UNSUPPORTED_OS: The driver 'parallels' is not supported on darwin/arm64

After trying to start Minikube on parallels

[2022-04-05 21:42] #13894 closed

[2022-04-05 23:34] #13452 closed

[2022-04-06 06:23] bergstenarn commented on #9016
Same problem for me using MacBook Air m1 and docker driver.

[2022-04-06 12:30] JustinT01 commented on #13505
OS = `macOS BigSur (11.6)`
driver = `virtualbox`

[2022-04-06 13:19] Govraskirill opened #13917 "Problem with start container on the deployment"
### What Happened?

Hello, dear friends. I have the next problem, namely: i wanna putting kafka consumer, kafka producer (their docker containers using image) on kubernetes deployments and start my containers on kubernetes.
For this goal i did:
1. Prepared images for kafka consumer, kafka producer and put on docker hub. Links:
https://hub.docker.com/repository/docker/kirillgovras/kafka_consumer
ht

[2022-04-06 13:32] jimi-pz opened #13918 "registry-creds does not work with acr"
### What Happened?

I'm trying to use the azure container registry in minikube. But it does not work, it hangs on .
Assume that Service principal id is correct.

![acr_minikube](https://user-images.githubusercontent.com/1504259/161984849-64e8bede-992a-49f2-aa42-324ccb849619.PNG)

Minikube version : v1.25.1
Operating system: windows 10

### Attach the log file

[log.txt](https://github.com/kubernet

[2022-04-06 15:46] 3ster commented on #13035
Adding my user account to the Hyper-V Administrators group as outlined in the [updated version](https://web.archive.org/web/20190419215015/https://blogs.msdn.microsoft.com/virtual_pc_guy/2014/06/11/allowing-non-administrators-to-control-hyper-vupdated/) of the guide mentioned in the comment above seems to work fine, including creating a new Hyper-V VM via `minikube start --driver=hyperv` as a norm

[2022-04-06 17:02] 1dropaflame opened #13919 "minikube install on Windows 11 Home fails. "The Hyper-V role cannot be installed on Windows 10 Home""
### What Happened?

 minikube start fails on Windows 11 Home.

 StartHost failed, but will try again: creating host: create: precreate: Hyper-V PowerShell Module is not available
* Creating hyperv VM (CPUs=2, Memory=3000MB, Disk=20000MB) ...
* Failed to start hyperv VM. Running "minikube delete" may fix it: creating host: create: precreate: Hyper-V PowerShell Module is not available

"The Hyper-V

[2022-04-06 18:07] NikhilSharmaWe commented on #13186
/remove-lifecycle stale

[2022-04-06 18:19] spowelljr commented on #13006
Just as an update on the HyperKit side, we are making progress towards getting an ARM64 ISO, here's the PR for reference

https://github.com/kubernetes/minikube/pull/13762

[2022-04-06 18:20] sharifelgamal commented on #12762
it's worth mentioning that we also have a more user-friendly `--cni` flag, that allows you to just pass in `--cni=cilium` or a path to a more specific yaml file you want to apply. not sure how helpful that is in this particular case, but still useful information nonetheless.

this strikes me as an issue with the combo of ubuntu 21.10 and cilium, but it's hard to be sure. i'll keep this issue open

[2022-04-06 18:23] klaases commented on #13892
Hi @[zhan9san](https://github.com/zhan9san), we are always open to open to improving the minikube user experience.

In this case, it looks like having multiple persistent settings would be helpful, rather than entering numerous flags on `minikube start`.

**Have you tried looking at the minikube config mechanism?**
https://minikube.sigs.k8s.io/docs/commands/config/

With a minikube config, you can

[2022-04-06 18:27] klaases commented on #13745
Hi @[SATVIk-7](https://github.com/SATVIk-7), this sounds like a potential networking issue. Please ensure that on Windows, VirtualBox is running and is not in use by another application.

As for the logs, these can still be obtained even if `minikube start` has failed.

https://minikube.sigs.k8s.io/docs/commands/logs/

Please try `minikube logs --file "logs.txt"` to generate, and subsequently atta

[2022-04-06 18:31] spowelljr commented on #13066
Hi @xiewendan, what version of minikube are you using? And could you run `minikube logs --file=logs.txt` and upload the generated log file to this issue, thanks!

[2022-04-06 18:35] klaases commented on #13742
hi @[zjgemi](https://github.com/zjgemi), just want to check in, is this issue still occurring? Where you able to find any workarounds that seemed to get things moving?

[2022-04-06 18:39] spowelljr commented on #13914
Hi @eduardocalfaia, thanks for reporting your issue with minikube!

This is a known regression with 1.25.2, we have made a fix and it will be included with the next release of minikube.

In the meantime trying using a binary from this comment that has the fix included with it and it should fix the issue you're experiencing, thanks!

https://github.com/kubernetes/minikube/issues/13736#issuecomment-

[2022-04-06 18:39] sharifelgamal commented on #13350
The issue here is that the Alibaba mirror doesn't have the arm64 kubelet binary for Kubernetes v1.22.3.  I'm not sure if it just doesn't exist of if we're supplying the wrong endpoint for the mirror. Someone should look into this.

---

这里的问题是阿里巴巴镜像没有 Kubernetes v1.22.3 的 arm64 kubelet 二进制文件。如果我们为镜像提供了错误的端点，我不确定它是否不存在。有人应该调查一下。

[2022-04-06 18:40] greenchapter commented on #13006
Hopefully it will be merged soon 😍

[2022-04-06 18:48] #13655 closed

[2022-04-06 18:49] klaases commented on #13598
Hi @[joaogl](https://github.com/joaogl) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minik

[2022-04-06 18:49] #13598 closed, assigned to nobody

[2022-04-06 18:49] #13502 closed

[2022-04-06 18:52] sharifelgamal commented on #13755
Yeah this has to do with how addons work. On restart, we reapply the default tempate yamls for the ingress addon, which will indeed wipe out any changes you've made.

The solution here could be to add an entry to `minikube addons configure` so that we can accept non-default config.

[2022-04-06 18:55] klaases commented on #13346
Hi @[mikwieczorek](https://github.com/mikwieczorek) –

[2022-04-06 18:55] #13346 closed

[2022-04-06 18:58] klaases commented on #12950
Hi @[jakoberpf](https://github.com/jakoberpf) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact

[2022-04-06 18:58] #12950 closed

[2022-04-06 18:59] klaases commented on #12566
Hi @[coachcalvi](https://github.com/coachcalvi) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exa

[2022-04-06 18:59] #12566 closed

[2022-04-06 21:31] klaases commented on #13016
Hi @[daehyeok](https://github.com/daehyeok), are you still actively working on this feature?

[2022-04-06 21:32] klaases commented on #13007
/remove-lifecycle rotten

[2022-04-06 22:44] klaases commented on #12481
/assign

[2022-04-06 22:50] klaases commented on #12406
Hi @[mddoor](https://github.com/mddoor) – is this issue still occurring? Are additional details available?

I'm afraid that troubleshooting will be limited without the log output requested above:

[code]

If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information th

[2022-04-06 22:50] #12406 closed

[2022-04-06 23:18] klaases commented on #12042
Am taking a look at this, so far `gcloud auth login --update-adc` works as expected.

Minikube has been updated to version v1.25.2.

I can confirm that the correlated IntelliJ issue has been closed out on Oct 4, 2021.
[IntelliJ “Failed to enable GCP auth addon” #2949](https://github.com/GoogleCloudPlatform/cloud-code-intellij/issues/2949)

After the above updates, we are able to pause/unpause (see

[2022-04-06 23:18] #12042 closed

[2022-04-07 03:14] zhan9san commented on #13892
Hi @klaases

Thanks for your attention.

Sorry for no making myself understood. Let me highlight the key point.

If we use `--extra-args`,
1. There is no need to update the code when someone wants to customize the Minikube container's behavior. Instead, we only need to update the document showing how to implement the feature.
2. Reduce the code size

Besides, `--extra-args` would be configured in

[2022-04-07 05:08] abs007 commented on #13919
Hyper-V doesn't run on Windows Home. You'd need Windows Pro for that.

Here you can find the list of all the drivers supported for Windows:
https://minikube.sigs.k8s.io/docs/drivers/

Personally, I'm using Docker as the minikube driver. So, I run Docker desktop on the background while using minikube.

[2022-04-07 05:21] gilkremer123 commented on #11147
Had the same issue (on windows). could not enable ingress. turns out running CMD as an administrator solved it :)
So it was just a permissions issue

[2022-04-07 06:14] afbjorklund commented on #13892
In the original libmachine design, the flags were per driver and not global like in minikube.

So it was a side effect if forking and including the drivers, possibly also the cli lib used.

[2022-04-07 08:59] ZCai319 opened #13921 "[Documentation] minikube start"
I follow the exact steps, copy every command and paste it in the command line (of my project in Intellij). I first tried `minikube service <service-name>` on my own project...didn't work. Now I went back to the basics and those don't seem to work either.

I use the command and it redirects me to the site with url `<minikube-ip>:<randomport>` which should work according to a lot of sites, but it ju

[2022-04-07 09:09] arifterzioglu commented on #9016
Same problem. I cannot also expose any service to external by using Macbook Pro M1.  Could you propose any solution or workaround for the problem?

[2022-04-07 10:51] proBaxia opened #13922 "Not enough memory in the system to start the virtual machine minikube"
### What Happened?

Not enough memory in the system to start the virtual machine minikube

### Attach the log file

Not enough memory in the system to start the virtual machine minikube

### Operating System

Windows

### Driver

Hyper-V

[2022-04-07 11:12] siikanen commented on #13509
Usually just restarting minikube (or deleting it) couple of times fixes it. Defeneitly something related to minikube/docker(?) because   other applications seem to be functioning fine

[2022-04-07 12:54] #13918 closed

[2022-04-07 12:55] jimi-pz commented on #13918
Switched to docker-desktop.

[2022-04-07 13:26] shubham-cmyk commented on #13921
Try port forwarding.

[2022-04-07 13:35] #13921 closed

[2022-04-07 14:23] lazydream opened #13923 "Unable to access proxy when building image (hyperkit, virtualbox)"
### What Happened?

I'm trying to set up a minikube cluster with `hyperkit` or `virtualbox` as driver, and `containerd` as container runtime. When I start cluster with `minikube start`, I'm not using proxy and cluster is starting normally. Then I'm trying to build an image with `minikube image build` command and at this step it's required to be able to use my local proxy setup running on `http://l

[2022-04-07 16:56] ertu426 opened #13924 "无法启动minikube"
**重现问题所需的命令**：
minikube start --image-mirror-country='cn'

**失败的命令的完整输出**：<details>
😄  Debian 10.10 上的 minikube v1.25.2
✨  根据现有的配置文件使用 docker 驱动程序
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🏃  Updating the running docker "minikube" container ...
❗  This container is having trouble accessing https://registry.cn-hangzhou.aliyuncs.com/google_containers
💡  To

[2022-04-07 18:41] victor-sudakov commented on #12360
/remove-lifecycle stale

[2022-04-07 20:47] spowelljr opened #13925 "No output to last start file with `-o json` passed to `minikube start`"
Without `-o json` passed
[code]

With `-o json` passed
[code]

We should be logging to the `lastStart.txt` file regardless of what output is selected.

[2022-04-08 05:40] Kanika637 opened #13926 "Error in command `minikube update-context`"
### What Happened?

I wanted to change the cluster in my kubeconfig file, when I ran the minikube update-context it is giving me this error...
` Exiting due to HOST_KUBECONFIG_UPDATE: write: Error creating directory: /path/to/your: mkdir /path: permission denied`

### Attach the log file

I am not able to get any files after running this command ``minikube logs --file=logs.txt`

ERROR:
1.  -bash:

[2022-04-08 11:29] huxulm commented on #13067
hi, bro
i came to the same situation, have you solved the problem?

[2022-04-08 11:33] bidossessi commented on #13067
@huxulm see [this comment](https://github.com/kubernetes/minikube/issues/13067#issuecomment-995244057). TL;DR, it's only supported on Linux.

[2022-04-08 12:30] #13923 closed

[2022-04-08 14:03] fabb opened #13927 "Registries documentation does not mention how to handle multiple nodes"
The documentation mentions that running this command will allow to push to the minikube registry:
[code]
https://minikube.sigs.k8s.io/docs/handbook/registry/

The documentation does not mention that when using multiple nodes (`minikube start --nodes 2`), each node has its own registry, and pushing images to `localhost:5000` will only push images to the docker registry of the master node. So when p

[2022-04-08 15:06] mholtzhausen commented on #9991
Is there a chance this is coming back?

[2022-04-08 15:34] codesInML opened #13928 "Error while installing ingress-nginx on minikube"
### What Happened?

I'm trying to install ingress-nginx on my mac os. I'm using minikube v1.25.2 with docker driver.

I've followed the way the ingress docs said I should install it by running the first step which was

Then since I'm using minikube, I also ran the command

but I keep getting this error, even on multiple tries

    ▪ Using image k8s.gcr.io/ingress-nginx/controller:v1.1.1
    ▪ Usin

[2022-04-08 20:00] adam-pye opened #13929 "Exiting due to GUEST_PROVISION_EXIT_UNEXPECTED"
### What Happened?

OS Monterey 12.2.1
Chip Apple M1 Pro
Docker Desktop 4.6.0
minikube v1.25.2 on Darwin 12.2.1 (arm64)

`minikube start --driver=docker --force-systemd=true` failing to start minikube. Seems to be an issue with iptables?

I've tried running `minikube delete --all --purge` first but it makes no difference.

Any ideas?

### Attach the log file

[log.txt](https://github.com/kubernete

[2022-04-08 20:38] ondrej-ivanko opened #13930 "minikube service does not open up a browser"
### What Happened?

Running `minikube service --https=true -n <namespace> <service name>` does not fire up the browser like it used to do in minikube version 1.24.x.

Workaround is to add --url flag which display url in terminal and clicking it opens browser.

Logs from the above mentioned command without --url flag:

I0408 22:25:45.389938  110922 out.go:297] Setting OutFile to fd 1 ...
I0408 22:2

[2022-04-09 08:36] fabb commented on #13927
nvm, i forgot to pass `--insecure-registry "10.0.0.0/24"` when starting minikube 🙈

[2022-04-09 08:36] #13927 closed

[2022-04-09 10:33] afbjorklund commented on #13927
The localhost proxy should still be able to find the cluster registry, even when deployed on multiple nodes.

[2022-04-09 10:44] afbjorklund commented on #13930
It should be a fairly straightforward call to `xdg-open`, you might want to try it to see if it has better error reporting ?

[2022-04-09 10:49] afbjorklund commented on #13929
These are the logs for the second re(start), the docker error should be shown in the first start (or after a delete)

[2022-04-09 14:51] cantprogram01 opened #13931 "Access App deployment outside Master (VM)"
### What Happened?

I have this Lab,

I'm Using Windows 11, Installed VM Workstation PRO

I created Linux Centos VM

- installed kubectl
- installed minikube
- installed docker driver

- cluster is working deployment of apps and exposing of apps is working...
- I can curl the IP of the deployed app

ISSUE:

when I use the URL (minikube service <service name> --url) outside of Linux, meaning on my

[2022-04-09 16:06] akshaychopra5207 commented on #9016
I am facing the same issue with Macbook M1 pro. I cannot use hyperkit since its not supported for arm architecture.

[2022-04-09 16:10] afbjorklund commented on #11056
Sadly 2021.02 also went end-of-life, before the kernel bump happened. But it _needs_ to be done, for 2022.02.

[2022-04-09 16:12] afbjorklund commented on #10501
Here are the BR2_LINUX_KERNEL_LATEST_VERSION, for the LTS releases:

Buildroot | Kernel
---- | ----
2018.02.x | 4.15
2019.02.x | 4.19
2020.02.x | 5.4
2021.02.x | 5.10
2022.02.x | 5.15

[2022-04-09 16:23] #13924 closed

[2022-04-09 20:27] matihost commented on #12762
with `-cni=cilium` same effect:

[code]
core-dns errors:
[code]

[2022-04-09 21:37] criztovyl opened #13932 "--insecure-registry does not work with cri-o when using kicbase image"
when creating a minikube instance using kic driver it looks like the `--insecure-registry` options are injected to `/etc/sysconfig/crio.minikube`:

https://github.com/kubernetes/minikube/blob/a85e15549035ed604517152325b47eace33c7028/pkg/provision/provision.go#L241-L263

But the `crio.service` in the `kcibase` image does not include that file:

[code]

[2022-04-09 21:48] criztovyl commented on #13932
this is similar to https://github.com/kubernetes/minikube/issues/11729, but there `crio.service` was still reachable via `/etc/systemd/system/multi-user.target.wants/crio.service` -- which it no longer is. this suggests something changed in the image.

[2022-04-10 07:22] afbjorklund commented on #13932
Different packaging, with the custom /etc/sysconfig/crio.minikube versus the vendor /etc/default/crio

[code]

[code]

Moving the config to /etc/default and adding to the ISO package, seems like the easiest workaround ?

[2022-04-10 07:27] afbjorklund commented on #13932
Need to merge with these files: https://github.com/cri-o/cri-o/tree/main/contrib/systemd/ from the git.

[2022-04-10 08:12] afbjorklund commented on #13252
There is a nerdctl 0.18.0 out now.

[2022-04-10 09:09] criztovyl commented on #13932
workaround is
[code]

[2022-04-10 10:49] afbjorklund commented on #13006
@spowelljr hyperkit does not support arm64, so the new ISO will have to use some other VM driver (vmware/parallels/qemu2)

[2022-04-10 10:53] afbjorklund commented on #13006
By default, lima starts an intel VM on an intel host and an arm64 VM on an arm64 host:

[code]

[2022-04-10 11:29] afbjorklund opened #13934 "New QEMU2 driver, minikube fork of the QEMU machine driver"
There was a docker-machine driver called "qemu", which was a portable and non-root version of the "kvm" (libvirt) driver:

https://github.com/machine-drivers/docker-machine-driver-qemu

Previously suggested as a driver for minikube, but rejected because of the limited network capabilities (i.e. no IP address)

* ~~#2399~~

----

Since this driver supports all architectures, with hardware accelerat

[2022-04-10 16:34] lx30011 opened #13935 "Windows 10: minikube start errors"
### What Happened?

Trying to get a install using VirtualBox driver running.

`minikube start`: AMD-v supposedly not enabled but it is, I double checked that SVM Mode is enabled in bios
`minikube start --no-vtx-check`: errors due to host-only adapter not being visible
`minikube delete` `minikube start --no-vtx-check`: errors due to multiple host-only adapters present

If I remove the duplicate ada

[2022-04-10 16:34] afbjorklund commented on #13934
[code]

Both SSH and Docker are forwarded from host, using the libmachine setup.

[code]

But the Kubernetes API Server (special minikube 8443 port) needs forwarding:

[code]

It was possible to work around the hard-coded port (2376) for Docker, using URL.

But the libmachine API does not allow for any other ports, like the docker API does.

[2022-04-10 16:52] afbjorklund commented on #13934
Now that the driver has been forked from libmachine, it should be possible to add at least APIServerPort.

[code]

Then we only need to use SSH for the service tunnels, and let the driver handles the ones that are published.

[2022-04-10 18:27] ripf77 opened #13936 "kubelet does not start up - raspbian, docker, kubelet"
### What Happened?

minikube start fails with
[kubelet-check] It seems like the kubelet isn't running or healthy.

even trying with minikube start --driver=docker -v=5 --extra-config=kubelet.cgroup-driver=systemd

did not help. It seems to me like a basic error, but even after searching for days I cannot find the error.
I tried with armv6 and arm binaries as well as deb packages with similar outco

[2022-04-11 02:23] jackray2009 opened #13937 "The minikube start failed on Mac"
### What Happened?

[code]

### Attach the log file

[code]

### Operating System

_No response_

### Driver

_No response_

[2022-04-11 02:29] jackray2009 commented on #13937
`kube-system            storage-provisioner                         0/1     Error                    0             55d`
`kubernetes-dashboard   kubernetes-dashboard-764b4dd7-xztgt         0/1     Error                    0             55d`

[2022-04-11 02:59] dcoliversun opened #13938 "[ImagePullBackOff] 设置镜像仓库为 cn 的 minikube 无法打开 dashboard UI"
**重现问题所需的命令**：
[code]

**失败的命令的完整输出**：<details>

[code]
</details>

**`minikube logs`命令的输出**： <details>

[code]

</details>

**使用的操作系统版本**：
[code]

[2022-04-11 05:43] afbjorklund commented on #13936
It could be a timeout (due to the limited hardware), but most likely there is something wrong with the kubelet.

[code]

You might want to look at some of those logs, I think mostly the "none" driver was tested on this platform (linux/arm/v7)

[2022-04-11 09:28] adam-pye commented on #13929
Whats the best way to get these logs?

`➜  ~ minikube logs --file=logs.txt
🤷  The control plane node must be running for this command
👉  To start a cluster, run: "minikube start"`

[2022-04-11 09:37] HWiese1980 commented on #8765
/reopen

I'm running into the same issue right now. Nothing helped so far, purged multiple times, removed images, containers, profiles... changing Docker Desktop's IP address range... it's always the same error message.

Logs follow:
[logs.txt](https://github.com/kubernetes/minikube/files/8462887/logs.txt)

[2022-04-11 10:17] adam-pye commented on #13929
Ok I just piped the output to a file.

So i ran the following to get the new logs attached
`➜  ~ minikube delete --all --purge
🔥  Deleting "minikube" in docker ...
🔥  Removing /Users/adampye/.minikube/machines/minikube ...
💀  Removed all traces of the "minikube" cluster.
🔥  Successfully deleted all profiles
💀  Successfully purged minikube directory located at - [/Users/adampye/.minikube]
📌  Kicbas

[2022-04-11 15:45] afbjorklund commented on #13936
The first kubelet timeout seems to be some issue with not finding cgroups, after "bullseye" changes to the experimental cgroups v2.

But after changing back to v1 and rebooting, there are still some internal timeouts - such as max 3 secs to restart apiserver...

---

It looks like some of these are inside `kubeadm` ?

The "none" driver is also struggling, to start

[2022-04-11 17:38] wknickless commented on #6596
If using the SSH driver, after doing the ```minikube delete --purge --all``` you might also try ```ssh root@<IP address> "find /var/lib/minikube/certs -type f | perl -ne 'print;chop;unlink;'"```

[2022-04-11 17:41] jpmcb opened #13939 "Support protocol in port mappings"
### What Happened?

When providing a port mapping, it'd be great if we also supported protocol:

[code]

Using without the protocol setting works fine:
[code]

This is a supported field in the port mappings in both [Docker](https://docs.docker.com/config/containers/container-networking/#published-ports) but I'm not seeing it as part of the [Podman port mapping.](https://docs.podman.io/en/latest/ma

[2022-04-11 18:12] medyagh opened #13945 "Kubernetes 1.24.0 breaks enabling CNI"
### What Happened?

[code]

[code]

### Solution
we need to pass the cni config directly to the Containerd or CRIO and cri-dockerd

We need to check if k8s version is greater than 1.24.0-alpha.2

### Attach the log file

Example
	https://storage.googleapis.com/minikube-builds/logs/13904/23444/Docker_Linux_containerd.html#fail_TestStartStop%2fgroup%2fnewest-cni%2fserial%2fFirstStart

https://storag

[2022-04-11 19:11] kousikrv opened #13947 "failed to start minikube"
### What Happened?

Hello,

I'm trying to run minikube Kubernetes in my personal pC to learn. I followed the follwoing steps to install it but Im seeing an error when starting minikube.
-installed docker desktop
-enabled hyper-v on my windows 11 pro
-enables wsl
-created virtual switch in hyper v and allowed internet sharing in network manager
-downloaded kubectl and minikube latest version
-disab

[2022-04-11 19:40] hoani commented on #9016
Same issue here on M1 Mac

[2022-04-11 19:41] afbjorklund commented on #13945
The actual --cni-conf-dir code is in pkg/minikube/cni/cni.go, the above was for --network-plugin

They are both removed with the dockershim, and handled by container runtime configuration instead...

Note: both containerd and cri-o default to using CNI, so they don't need any `--network-plugin=cni` set.

We should also try to remove --runtime-request-timeout=15m, it has been deprecated since k8s 1

[2022-04-11 19:47] chungjin commented on #13945
/assign

[2022-04-11 19:51] ripf77 commented on #13936
Thanks for your tips. I now disabled Cgoups v2 and enabled cgroups.memory via cmdline.txt...
systemd.unified_cgroup_hierarchy=false systemd.legacy_systemd_cgroup_controller=false cgroup_enable=cpuset cgroup_enable=memory cgroup_memory=1
The minikube start command still fails (looks similar to the last attempt). I just issued a minikube start - so the docker driver was used
here is the log of minik

[2022-04-11 21:12] sharifelgamal commented on #9228
This will be the issue where I track all our combined ISO progress, for both x86_64 EFI and aarch64.

The PR where I'm testing (and where the change eventually should end up) is #13762.

Things that have already happened:
- Refactored the `deploy/iso/minikube-iso` directory to account for two different ISOs and for clarity
- Modified each iso board config to use grub2 instead of isolinux (to suppo

[2022-04-11 22:09] klaases commented on #13351
Hi @[katsew](https://github.com/katsew), I can confirm that I am able to reproduce this issue, and will be working on finding an adequate solution.

---

Enable gcp-auth:
[code]

Create namespace:
[code]

Got secret:
[code]

Refresh also working:
[code]

---

Create namespace 2:
[code]

Got secret 2:
[code]

---

Test for expected failure for non-existent namespace3:
[code]

---

Creating namespac

[2022-04-11 22:10] bcranteverfi commented on #9016
Same issue on M1 Mac. Receiving the following error:

`$ minikube service nginx-service`
[code]

[2022-04-12 00:17] sharifelgamal commented on #9228
Current initrd failure:
<img width="1022" alt="Screen Shot 2022-04-11 at 5 13 55 PM" src="https://user-images.githubusercontent.com/20781941/162853339-5a236c4d-1416-482c-8800-d3de5b3d3208.png">

[2022-04-12 01:17] #13662 closed

[2022-04-12 01:17] #13663 closed

[2022-04-12 03:43] boguima commented on #6229
done - https://minikube.sigs.k8s.io/docs/handbook/addons/ingress-dns/

[2022-04-12 06:46] afbjorklund commented on #13936
It seems to be an upstream problem. I will give it some more tests on the Raspberry Pi 400, but it seems like k8s 1.23 is timing out even with plain `kubeadm` ?

Previously we have been using Ubuntu arm64 instead of Raspbian arm32, so that would also be worth investigating perhaps. If it improves anything ?

[2022-04-12 07:56] shenwxopen opened #13948 "minikube addons enable ingress"
**$ minikube addons enable ingress**：

**失败的命令的完整输出**：<details>

</details>

    ▪ Using image k8s.gcr.io/ingress-nginx/controller:v1.1.1
    ▪ Using image k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.1.1
    ▪ Using image k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.1.1
🔎  Verifying ingress addon...

❌  Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting for app.kub

[2022-04-12 10:52] j3zz3r commented on #12842
Any updates on this ?

[code]

[2022-04-12 15:42] matteoolivi opened #13949 "minikube image load doesn't show any progress by default, and it should"
### What Happened?

I ran `minikube image load <my really really big image>`, the command took a while, and stdout showed nothing.

I know that logs can be enabled with appropriate flags, and can convey some progress, but in my opinion **it'd be useful if by default the command showed some progress** (if nothing to know if everything is ok or not), that's akin to what's done for other commands suc

[2022-04-12 16:28] afbjorklund commented on #13949
Currently the "minikube image" commands doesn't show any output at all, except for the in the log, which is a bad thing...

I'm not sure it will be possible to show progress bars like when using "docker load", but at least the _steps_ could be shown.

`minikube --alsologtostderr image load busybox`

1. pull image from registry
2. save image to disk
3. copy from cache to machine
4. load image from

[2022-04-12 16:38] B1tVect0r opened #13950 "minikube start fails in docker-from-docker context"
### What Happened?

Running `minikube start --driver=docker` from inside a container that has the host docker socket mounted (i.e., Docker-from-Docker setup) fails to complete. The Docker container starts properly and is visible from both the host and the container but the `minikube start` process fails confirmation checks as it seems to be hard-coded to dial `127.0.0.1:{minikube container port}`.

[2022-04-12 16:47] B1tVect0r commented on #13950
This is what I'm after; I can resolve `host.docker.internal` both from the context that I'm running `minikube start` and from the resulting container, so presumably if it were dialing `192.168.0.42:{minikube port}` (or whatever `host.docker.internal` ends up resolving to) it would _at least_ get further than it is (not sure if that would be sufficient to get it completely across the finish line, t

[2022-04-12 17:08] afbjorklund commented on #13950
https://github.com/kubernetes/minikube/blob/master/pkg/drivers/kic/oci/oci.go#L698

[2022-04-12 17:22] airza opened #13951 "Minikube IP is not externally accessible via Ingress/ Nodeport Servce"
### What Happened?

I am running Minikube on my shiny new M1 and have successfully created a container and service, both of which are accessible from inside of my cluster as expected (loosely following the tutorial).  Where I run into trouble is trying to expose the service to the host machine via an `ingress` controller. I enabled the `ingress` addon to minikube and have configured my service in

[2022-04-12 17:24] ckarageorgkaneen commented on #13509
I had the same issue with minikube v1.24.0. It was fixed after upgrading to v1.25.0. OS: Ubuntu 20.10

[2022-04-12 17:27] afbjorklund commented on #13951
The direct access only works on Linux, the docker network is not accessible on macOS or on Windows

https://docs.docker.com/desktop/mac/networking/#known-limitations-use-cases-and-workarounds

[2022-04-12 17:42] afbjorklund commented on #13950
Something else looks broken on that docker host:

[code]

Looks like bind mounts aren't working, in your setup.

` -v /home/vscode/.minikube/cache/preloaded-tarball/preloaded-images-k8s-v17-v1.23.3-docker-overlay2-amd64.tar.lz4:/preloaded.tar:ro`

---

Since this will try to find the file on the docker host, and fails.

Docker falls back to just creating an empty dir, and mounting that.

[2022-04-12 18:19] #8719 closed

[2022-04-12 18:20] joaquinjsb commented on #13736
I'm having the same issue, are u guys gonna publish it as a beta or release it asap ?

thanks

[2022-04-12 18:26] airza commented on #13951
Thank you for the quick reply! That would certainly explain the issue. So, since I am only able to access the cluster via localhost, if I add localhost as a DNS resolver (after enabling minikube's ingress-dns addon) should I expect DNS to work that way? (Never tried using localhost as a DNS server but I guess it should work, right?)

[2022-04-12 20:36] sharifelgamal commented on #9228
The above error was fixed by giving QEMU more memory allocation. The regulatory db error is spurious.

[2022-04-12 21:11] capacitacionfv opened #13956 "unable to execute icacls to set permissions"
*
* ==> Audit <==
* |---------|------|---------|------|---------|------------|----------|
| Command | Args | Profile | User | Version | Start Time | End Time |
|---------|------|---------|------|---------|------------|----------|
|---------|------|---------|------|---------|------------|----------|

*
* ==> Last Start <==
* Log file created at: 2022/04/12 15:56:57
Running on machine: psistemas02
B

[2022-04-13 16:08] ArangoGutierrez commented on #13788
This is back broken
/reopen

[2022-04-13 16:08] ArangoGutierrez commented on #13788
/open

[2022-04-13 16:09] ArangoGutierrez commented on #13788
on current master, I had to restart the dns to fix this

[2022-04-13 16:57] sharifelgamal commented on #13146
A lot of our addons are maintained on a best effort basis, and unfortunately we don't have a lot of EFK expertise among the maintainers currently. If you could post some logs when EFK is enabled and when you try to acces kibana, perhaps we could help.

[2022-04-13 18:05] #13840 closed

[2022-04-13 18:05] spowelljr commented on #13808
Hi @Malavshah999, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-04-13 18:05] #13808 closed

[2022-04-13 18:06] spowelljr commented on #13804
Hi @DanielViglione, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-04-13 18:06] #13804 closed

[2022-04-13 18:06] spowelljr commented on #13796
Hi @crimson-gao, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-04-13 18:06] #13796 closed

[2022-04-13 18:06] spowelljr commented on #13748
Hi @wxw-matt, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-04-13 18:06] #13748 closed

[2022-04-13 18:07] spowelljr commented on #13404
Hi @vivientouvier, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-04-13 18:07] #13404 closed

[2022-04-13 18:08] klaases commented on #13769
Hi @amiros2018, I noticed that in the logs, the message `Restarting existing none` seems to indicate that an existing cluster exists.

Would you be able to try running `minikube delete --all` to remove existing clusters and try again?

[2022-04-13 18:13] medyagh commented on #9798
@OkayJosh do you still have this issue?

[2022-04-13 18:13] klaases commented on #13757
Hi @[shengzhou1216](https://github.com/shengzhou1216), can you provide a brief summary of the error that occurred? Also, as some time has passed, is this error still occurring?

[2022-04-13 18:20] #12750 closed

[2022-04-13 18:21] sharifelgamal commented on #13823
The docker driver needs `minikube tunnel` to have ingress work at all. Run `minikube tunnel` first in another terminal (it will look like it's hanging, don't worry, it's not), then try to enable ingress again.

[2022-04-13 18:22] medyagh commented on #12938
@vcc-huf is this a good work arround ? if yes you could add it to our website as a tip for other users

[2022-04-13 18:25] sharifelgamal commented on #13767
`open C:\Users\ferna.minikube\machines\minikube\config.json: El sistema no puede encontrar el archivo especificado.` means that the minikube config for the HyperV VM no longer exists even if minikube still thinks there is one.

Run `minikube delete` then try `minikube start --drive=hyperv` again and see if that helps.

[2022-04-13 18:26] medyagh commented on #13006
Thank everyone for the patience, please track the update in this issue,
https://github.com/kubernetes/minikube/issues/9228

[2022-04-13 18:29] sharifelgamal commented on #10079
I'm freezing this issue as it is a genuine minikube bug. Help wanted!

[2022-04-13 18:29] klaases commented on #13753
Hi [byteshiva](https://github.com/byteshiva), are there any other processes using the port on 127.0.0.1:2379? Also, as some time has passed, are you still experiencing this issue?

[2022-04-13 18:32] spowelljr commented on #13648
Hi @almssp, thanks for reporting your issue with minikube!

I took a look at your logs and saw `Unable to get host status for minikube, assuming it has already been deleted`

It looks like the minikube container may have got deleted in Docker somehow.

Try running `minikube delete --all` and then try start minikube again and see if that resolves your issue.

[2022-04-13 18:33] klaases commented on #13729
Hi @zhan9san, I see that this functionality may work for some scenarios, but perhaps not for all. As @medyagh has suggested in https://github.com/kubernetes/minikube/pull/13766, it might make more sense for this option to become available as an optional feature.

[2022-04-13 18:34] sharifelgamal commented on #9479
@afbjorklund Has your fix for libmachine been merged?

[2022-04-13 18:35] spowelljr commented on #13644
Hi @panktrip, thanks for reporting your issue with minikube!

I'm sorry you didn't have a good experience with minikube, to figure out why this isn't working I would need more detailed logs, and since you've already uninstalled minikube this will not be possible.

I'm going to close this issue, but if you reinstall it in the future and want help debugging this issue feel free to reopen this issue

[2022-04-13 18:35] #13644 closed

[2022-04-13 18:38] sharifelgamal commented on #10663
Upgrading to k8s 1.17 and above will always be a solution here, but since minikube still supports k8s 1.16 as of v1.25.2, we should fix the bug itself. Help wanted!

[2022-04-13 18:39] sharifelgamal commented on #11219
See #9228 for all updates on the development of the minikube VM image for arm64.

[2022-04-13 18:39] klaases commented on #13111
感谢您的确认，将暂时关闭此问题。

---

From Google Translate:
Thank you for the confirmation, will close this issue for now.

[2022-04-13 18:39] #13111 closed

[2022-04-13 18:41] sharifelgamal commented on #11275
I'm going to close this issue for now, please reopen if the issue arises again.

[2022-04-13 18:41] #11275 closed

[2022-04-13 18:45] sharifelgamal commented on #13019
@shaquiba739 your issue is that you're trying to use virtualbox in an environment where it's not installed. If you're already inside a VM, you might want to try the `none` driver.

[2022-04-13 20:37] hnviradiya commented on #13823
This part needs to be there in documentation below? It seems to be not mentioned there.

https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/

[2022-04-14 00:17] sharifelgamal commented on #9228
The networking issue for the amd64 KVM2 driver was an issue with the machine I was testing on rather than an issue with our configuration. I can verify the ISO works properly. The AppArmor issue remains, which seems to be an issue with the version of libvirt we are using and its incompatibility with UEFI.

[2022-04-14 02:47] zhan9san commented on #13729
Hi @klaases

Thank you for your attention.

I'd appreciate it if you could explain the detailed scenarios.

IMHO, there is no conflict between #13766 and #13050.

## remove static ip in docker and podman #13766

It does in the same manner as Docker does. By default a container would be assigned an available IP from DHCP pool. Instead, currently Minikube would generate an IP address which is `gatew

[2022-04-14 03:45] byteshiva commented on #13753
As per ArgoCD documentation it says"

[code]

I'm going to start a new docker container using minikube and keep you updated with the progress.

[2022-04-14 03:50] byteshiva commented on #13753
Started minikube with docker as the virtualized environment.

[code]

[2022-04-14 04:07] byteshiva commented on #13753
I'm still getting the same error

Please note as per argocd documentation

[code]

![image](https://user-images.githubusercontent.com/10637299/163311817-5ffd4a22-d05a-46b9-9b9b-37fa9e7b099f.png)

[2022-04-14 04:33] Malavshah999 commented on #13808
Hello Steven,
For now, the issue is resolved extremely sorry that I forgot to close the
issue. Thanks for the help and guidance.

On Wed, 13 Apr 2022 at 23:36, Steven Powell ***@***.***>
wrote:

--
Regards,
Malav C. Shah
Web Developer | DevOps Engineer
+91 835-5817-127

[2022-04-14 06:08] abs007 commented on #13919
Yes, the answer there is what I mentioned.

[2022-04-14 10:33] gerrywd commented on #13067
/remove-lifecycle stale

Yuck. This project wants me to sign a contract before I can update the docs. Not going to happen. I release the change above to the public domain so somebody else who's already signed this contract can add it. Please 🙏

[2022-04-14 15:01] shengzhou1216 commented on #13757
I switched to an older version of minikube and was able to install it successfully. I can't be sure what exactly was the reason for the previous installation failure, it could be the network.

[2022-04-14 15:01] #13757 closed

[2022-04-14 16:33] #13925 closed

[2022-04-14 17:21] spowelljr commented on #13956
Hi @capacitacionfv, could you download and use this binary and then upload the log output again, thank you! It has improved error logging around icacls. This improved error logging will be included in the next release of minikube.

https://storage.googleapis.com/minikube-builds/13803/minikube-windows-amd64.exe

[2022-04-14 17:23] spowelljr opened #13961 "Add JSON output option to `minikube delete`"
Currently, there is no JSON output option for `minikube delete`, this should be added to help support other programs that use minikube.

[2022-04-14 17:58] lictw opened #13962 "Can I make provisioned PVs persistent when docker driver used?"
### What Happened?

The **storage-provisioner** is hardcoded into /tmp, /tmp mounts as **tmpfs** at start and it's hardcoded too, so I can't mount /tmp to some path at host (via `--mount --mount-string 'source:dest'`) couse of duplicate mount. Also I can't mount into **/tmp/hostpath-provisioner** directly couse of whole /tmp mounts into **storage-provisioner** pod, so what should I do?

### Attach

[2022-04-14 19:17] falconcode16 commented on #13935
Even I was stuck with this same error and eventually got away with it  running using the following steps:
PS C:\WINDOWS\system32> minikube delete
 PS C:\WINDOWS\system32> kubectl config use-context minikube
 PS C:\WINDOWS\system32> minikube start --vm-driver=hyperv

[2022-04-14 20:16] elitwilson commented on #13929
This seems to be the same or very similar to an issue I've had crop up in the past couple days. Also on M1 Apple Silicon running the same Minikube version.

Getting: `iptables-save v1.8.4 (legacy): Cannot initialize: iptables who? (do you need to insmod?)` as well. Have uninstalled/reinstalled several times. Factory reset Docker. Nothing has worked. Google has not yet been of any help...

[2022-04-14 20:36] sharifelgamal commented on #9228
The workaround for the AppArmor issue is to disable AppArmor as a security driver for libvirt. This is extremely not recommended for actual use, but for my current debugging it's been useful.

Modify `/etc/libvirt/qemu.conf` (which needs root), uncomment the line that starts with `security_driver = ` and make it `security_driver = "none"`. Again, this is extremely unadvisable as a permanent soluti

[2022-04-15 00:06] sharifelgamal commented on #9228
Current error with Hyper-V:
![Screenshot 2022-04-14 170537](https://user-images.githubusercontent.com/20781941/163495566-8a915b10-cdc4-4b2e-9dcc-b3155e5c0ba3.png)

[2022-04-15 00:42] DonggookKim commented on #13840
Thank you very much. It solve my problem perfectly.

[2022-04-15 10:50] iwarriorgit commented on #8997
same here, running in WSL2. It works after I set the manual proxy configuration in docker desktop.

[2022-04-15 13:59] #13951 closed

[2022-04-15 15:18] 1dropaflame commented on #13919
https://stackoverflow.com/questions/71774813/minikube-fails-to-start-on-windows-11-home-and-docker-desktop

On Thu, Apr 7, 2022 at 12:09 AM Abhi ***@***.***> wrote:

[2022-04-16 02:35] benchen216 opened #13966 "Fuzz API return with 500 error"
### What Happened?
1.
request :
path:"/apis/storage.k8s.io/v1/watch/csinodes" method:"GET" requests:{type:"query" value:{fields:{key:"allowWatchBookmarks" value:{bool_value:true}}}} requests:{type:"query" value:{fields:{key:"continue" value:{string_value:"c3RyaW5n"}}}} requests:{type:"query" value:{}} requests:{type:"query" value:{fields:{key:"labelSelector" value:{string_value:"c3RyaW5n"}}}} requ

[2022-04-16 10:18] Shivansh-yadav13 commented on #13949
Is anyone working on this issue?

[2022-04-16 16:11] emperinter opened #13967 "mount: /app/wiz-k8s: unknown filesystem type '9p'."
### What Happened?

I try to mount hostpath path to local,And I get This error as log follows.

### Attach the log file

[code]

### Operating System

Redhat/Fedora

### Driver

Docker

[2022-04-16 16:15] emperinter commented on #13967
my log files as follows,It's so bad that I can't reach any files in any way I can find around hostPath、PV or PVC.

[logs.txt](https://github.com/kubernetes/minikube/files/8500270/logs.txt)

[2022-04-16 17:22] mihai1voicescu commented on #13748
This also happened to be because of a `nohup` call.

After deleting `$(pwd)/nohup.out` it worked...

@spowelljr you can check the log here if you want:
[code]

[2022-04-16 22:38] xenophonf opened #13968 "DNS lookup errors on cluster startup and when building Alpine Linux images on Windows/Ubuntu+VirtualBox"
### What Happened?

I'm trying to track down the root cause of two potentially related errors:
- `This VM is having trouble accessing https://k8s.gcr.io` on cluster startup.
- `WARNING: Ignoring https://dl-cdn.alpinelinux.org/alpine/v3.15/main: DNS lookup error` when building a container based on Alpine Linux.

I'm running Minikube 1.25.2 and Kubernetes 1.23.3 on Windows 10 Enterprise and VirtualB

[2022-04-16 23:07] xenophonf commented on #13968
To make sure it wasn't my OpenWRT router causing problems, I switched my PC to Google's DNS server (8.8.8.8).  Unfortunately, I got all the same errors.  Upon further digging, it looks like 10.0.2.3 is the CoreDNS container deployed by Minikube or Kubernetes.

[2022-04-17 07:55] meliwex opened #13969 "Error "Metrics not available for pod" while checking the metrics of Pods using "metrics-server" add-on"
### What Happened?

After enabling `metrics-server` add-on using `minikube addons enable metrics-server` command I tried to check the metrics of the Pods in `kube-system` namespace or just of the Pods that I created manually in `default` namespace.

**This is what I got:**
[code]
The `metrics-server` is running:
[code]

**My environment:**
Output of `minikube version`:
minikube version: v1.25.2

O

[2022-04-17 18:26] chendjoulevis opened #13970 "minikube does not work"
### What Happened?

wylliam@wylliam-VirtualBox:~$ sudo virsh net-list --all
 Name      State    Autostart   Persistent
--------------------------------------------
 default   active   yes         yes

wylliam@wylliam-VirtualBox:~$ minikube start
😄  minikube v1.25.2 on Ubuntu 20.04
✨  Automatically selected the kvm2 driver. Other choices: ssh, none
💾  Downloading driver docker-machine-driver-kvm2:

[2022-04-18 04:59] emperinter commented on #13967
I got wrong understanding about hostpath, the path is in minikube.If I wanna to mount local path,I need to do as follows.

[code]

and so on

[2022-04-18 04:59] #13967 closed

[2022-04-18 17:22] spowelljr commented on #13970
Hi @chendjoulevis, thanks for reporting your issue with minikube!

As the logging indicates, there seems to already be a minikube domain.

Could you try running `minikube delete --all` and then try starting minikube again and see if that resolves your issue, thanks!

[2022-04-18 17:28] spowelljr commented on #13969
Hi @meliwex, thanks for reporting your issue with minikube!

This is a known issue which has since been fixed but hasn't been released yet.

Try deleting your instances `minikube delete` and then add `--extra-config=kubelet.housekeeping-interval=10s` to your start args and that should enable metrics reporting again.

[2022-04-18 20:04] xenophonf commented on #13968
Since I don't know how to troubleshoot CoreDNS, I want to rule out the host operating system, hypervisor, and name server as the root cause of these DNS lookup errors.

I have an older PC running Ubuntu 20.04, so I've installed the Minikube binary from GitHub, VirtualBox from the Ubuntu package repository, and Docker CE from the Docker package repository.  This PC is configured to use my network's

[2022-04-18 20:19] xenophonf commented on #13968
I ran tcpdump on the Ubuntu host.  This is a DNS query for `dl-cdn.alpinelinux.org` from within a container.  It appears to be the correct result:

[code]

I'm really at a loss as to why these DNS lookups are failing on Minikube clusters running in VirtualBox VMs and would appreciate further troubleshooting guidance.

[2022-04-18 21:26] #12898 closed

[2022-04-18 22:54] #12809 closed

[2022-04-18 23:04] spowelljr opened #13977 "Shorten the audit log dates"
Currently:
[code]

You can see the `Start Time` & `End Time` dates are quite long and include things like the day of the week which are unnecessary.

It would be nice to shorten these, maybe mm/dd/yyyy + time or something similar.

[2022-04-18 23:08] spowelljr opened #13978 "Add `--audit` flag to `minikube logs` that only shows audit"
It would be good to add an `--audit` flag to `minikube logs` that only shows the audit logs.

Currently, if you run `minikube logs` the audit logs are all the way at the top (after last start logs and such) which can be time consuming to scroll up to.

Example of that the audit logs look like:
[code]

[2022-04-19 02:42] benchen216 opened #13980 "Fuzzing api and found out many 500 error"
### What Happened?

1.
request
path:"/api/v1/watch/namespaces/{namespace}/podtemplates" method:"GET" requests:{type:"query" value:{fields:{key:"allowWatchBookmarks" value:{bool_value:true}}}} requests:{type:"query" value:{fields:{key:"continue" value:{string_value:"c3RyaW5n"}}}} requests:{type:"query" value:{}} requests:{type:"query" value:{fields:{key:"labelSelector" value:{string_value:"c3RyaW5n

[2022-04-19 04:08] djru commented on #9016
Issue also happening for me on M1 MBA

[2022-04-19 05:52] matteoolivi commented on #13949
@Shivansh-yadav13 apparently no. Do you have the time and want to fix that?

[2022-04-19 06:27] Shivansh-yadav13 commented on #13949
@matteoolivi yes, I want to try working on this.

[2022-04-19 07:02] matteoolivi commented on #13949
/assign @Shivansh-yadav13

[2022-04-19 08:25] EdwinWalela commented on #13978
That would be a helpful addition to the `minikube logs` command. I would like to take this up.

To confirm:
- Will the `outputAudit` function  need to be exported? i.e  `func OutputAudit(lines int) error`https://github.com/kubernetes/minikube/blob/75bf64a936cbfe51f0817164327ebbd3df6cf38a/pkg/minikube/logs/logs.go#L211
- Are there tests that I might need to add for the new feature?

[2022-04-19 11:04] t-inu commented on #12809
I confirmed [`minikube cache` command page](https://minikube.sigs.k8s.io/docs/commands/cache/) had been updated automatically.

[2022-04-19 12:10] AdnanAddy78 commented on #9016
likewise cant seem to figure out a solution.

[2022-04-19 14:56] hongery opened #13981 "How to use Apple M1 Max GPU in Minikube?"
### What Happened?

I installed minikube on my mac, my computer is 2021 macbook pro M1 Max (arm64), but minikube supports NVIDIA GPU, not M1, is there a solution?

### Attach the log file

no logs

### Operating System

macOS (Default)

### Driver

_No response_

[2022-04-19 16:39] afbjorklund commented on #13967
The Fedora kernel does not support 9p, but the mount command does work on other distributions. Using the docker volumes is a good workaround, it is faster - the only workaround is that it cannot be changed dynamically without restarting the container

[2022-04-19 16:52] spowelljr commented on #13978
Hi @EdwinWalela, to assign the issue to yourself comment `/assign`.

The `outputAudit` func will likely need to be exported.

You can add a test to the `--audit` log here: https://github.com/kubernetes/minikube/blob/master/test/integration/functional_test.go#L1229

[2022-04-19 17:59] afbjorklund commented on #13981
I don't think that there is any support in minikube for using the host GPU on macOS systems, mostly because there are no drivers that are able to pass-through them to the Linux operating system (in the VM being used)

https://minikube.sigs.k8s.io/docs/tutorials/nvidia_gpu/

[2022-04-19 18:07] afbjorklund commented on #13962
The minikube `/tmp/hostpath-provisioner` mountpoint is supposed to mount a persistent disk already.

For the docker driver, it normally bind mounts a directory on the docker volume (mounted at `/var`).

[2022-04-19 18:16] EdwinWalela commented on #13978
/assign

[2022-04-19 18:54] Vignesh-Sakkarai commented on #9016
minikube service go-service url
🏃  Starting tunnel for service go-service.
❗  Because you are using a Docker driver on darwin, the terminal needs to be open to run it.

Same issue but I start minikube with podman driver

NAME                              READY   STATUS    RESTARTS   AGE
pod/go-restapi-5bcd754564-8pvfl   1/1     Running   0          9h
pod/go-restapi-5bcd754564-g88hb   1/1     Runn

[2022-04-19 22:55] kamranhastam opened #13984 "minikube start fails"
### What Happened?

Hi,

I'm trying to install minikube and kubectl on Ubuntu VM but minikube start fails, following document :
https://phoenixnap.com/kb/install-minikube-on-ubuntu#:~:text=Step%201%3A%20Update%20System%20and%20Install%20Required%20Packages%0ABefore,apt-get%20install%20curl%0Asudo%20apt-get%20install%20apt-transport-https%0AIn%20the%20
here is the error:
<img width="667" alt="minik

[2022-04-20 01:28] kamranhastam commented on #13984
This issue solved by installing port forwarding package:
sudo apt-get remove conntrack
sudo minikube start –-vm-driver=none

[2022-04-20 01:28] #13984 closed

[2022-04-20 03:31] lictw commented on #13962
bind mount is OK, but are there possibility to make this at automatically via some flags/options? I want achieve Ready To Use setup after minikube start/restart with persistent data.

[2022-04-20 03:56] OleksiiPasihnyk commented on #9555
But it still does nolt work with the same setup and config for me.

when I use minikube service "name of the service here" command I'm expecting to get service opened in the default browser

[2022-04-20 04:01] OleksiiPasihnyk opened #13985 ""minikube service "anyservice" " command does not open default browser Ubuntu."
### What Happened?

Steps to reproduce the issue:
I am trying to run the hello world service I deployed and exposed but after running "minikube service helloworld", I am getting an error message instead of minikube launching the service on my default browser.

linked issue
#

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/8518201/log.txt)

### Operating System

Ubu

[2022-04-20 05:44] afbjorklund commented on #13985
What is the error message ? If you run `xdg-open` with the URL, does it show anything ?

[2022-04-20 05:49] afbjorklund commented on #13962
This is handled by the minikube-automount.service, which runs at start.

[2022-04-20 06:41] Hongery commented on #13981
So is it possible to provide a driver for mac GPU?

[2022-04-20 06:43] afbjorklund commented on #13981
I have only seen some attempts to speed up virtualization, by making the VM use the host GPU for rendering the interface.

But have not yet seen any examples where a Linux VM is able to use the host GPU for something like maching learning ?

[2022-04-20 06:57] Hongery commented on #13981
Yes, there is no such example.I want to use k8s and volcano to do some machine learning related model acceleration attempts, but it seems to only support NVIDIA GPU, I want to use my mac GPU to do it.

[2022-04-20 12:00] caniko opened #13987 "MountVolume.SetUp failed for volume "kube-api-access-r24g5" : object "<namespace>"/"kube-root-ca.crt" not registered"
### What Happened?

Same error as I get when I use `kind`: https://github.com/kubernetes-sigs/kind/issues/2723

### Attach the log file

I don't see the need for log-file in this case as the issue transcends `minikube`, I am just not sure if it should go down all the way to `kubernetes` and/or `terraform`. Would love to get some feedback.

Nevertheless, I will include the reques, [log.txt](https:/

[2022-04-20 17:03] hrkumaran opened #13990 "Exiting due to HOST_KUBECONFIG_UPDATE: read: Error reading file"
### What Happened?

X Exiting due to HOST_KUBECONFIG_UPDATE: read: Error reading file "C:\\Users\\kumar": read C:\Users\kumar: The handle is invalid.
*
╭────────────────────────────────────────────────────────────────────────────────────────────────────────────────────╮
│                                                                                                                    │
│    * If

[2022-04-20 17:50] spowelljr commented on #13880
Hi @mehmood8, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-04-20 17:50] #13880 closed

[2022-04-20 17:51] spowelljr commented on #13827
Hi @obasoro, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-04-20 17:51] #13827 closed

[2022-04-20 17:51] spowelljr commented on #13066
Hi @xiewendan, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-04-20 17:51] #13066 closed

[2022-04-20 17:56] EdwinWalela commented on #13978
@spowelljr I've opened a PR to address this issue. Let me know if there's something I missed out on

[2022-04-20 18:13] klaases commented on #13432
Hi @MdSahil-oss, just wanted to check if you are still actively working on this issue?

[2022-04-20 18:21] klaases commented on #13549
Hi @kumaranraj2895, could you please run `minikube logs --file=logs.txt` and attach logs.txt file to the GitHub issue?

[2022-04-20 18:35] klaases commented on #13738
Hi, [vraghavach](https://github.com/vraghavach), thank you for sharing your experience! If you don't mind, could you provide minikube logs?

Please attach (drag) the`logs.txt` file to this issue  which can be generated by running this command:

[code]

This will help us isolate the problem further. Thank you!

/triage needs-information
/kind support

[2022-04-20 18:35] medyagh commented on #13949
This would be a neat feature ! If anyone interested in this issue I would be happy to review the PR

[2022-04-20 18:38] medyagh commented on #13448
is this bug still happening?

[2022-04-20 18:38] spowelljr commented on #13872
Hi @Orygeunik, sorry for the delayed response.

After the ingress fails to enable, you can run the command `kubectl get pods -A` and you should see something like the following:
[code]

Then if you do `kubectl describe pod -n ingress-nginx <pod-name>` you should be able to see all of the logs within the pod, I'm assuming one of those is going to be failing to start and will have useful errors in t

[2022-04-20 18:39] medyagh commented on #13448
I would be happy to review a PR that fixes it !

[2022-04-20 18:44] klaases commented on #13786
Hi @[rajeshkodali](https://github.com/rajeshkodali), are you still experiencing this issue? Would you be able to try with the latest version of Kubernetes?

[2022-04-20 18:47] klaases commented on #13774
Hi @kkume1, is this issue still occurring? Can you confirm that the ingress add-on is not working as intended?

---

こんにちは@kkume1、この問題はまだ発生していますか？入力アドオンが意図したとおりに機能していないことを確認できますか？

[2022-04-20 18:47] spowelljr commented on #13448
I just tried with HyperKit and Docker and neither downloaded the preload when I passed `--no-kubernetes` so this seems to be fixed.

[2022-04-20 18:47] #13448 closed

[2022-04-20 18:56] klaases commented on #13510
hi @[mr-bjerre](https://github.com/mr-bjerre), were you able to review the comments above regarding the `tunnel` command? There won't necessarily be any output in the same terminal where the `tunnel` command running, but the tunnel is working.

[2022-04-20 18:57] klaases commented on #13357
Hi @shuklagauravjn  – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command li

[2022-04-20 18:57] #13357 closed

[2022-04-20 18:58] klaases commented on #13342
Hi @micahlmartin  – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line

[2022-04-20 18:58] #13342 closed

[2022-04-20 18:58] klaases commented on #13312
Hi @rkazak  – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2022-04-20 18:58] #13312 closed

[2022-04-20 19:03] klaases commented on #12670
Hi @yhjhoo  – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2022-04-20 19:03] #12670 closed

[2022-04-20 19:07] spowelljr commented on #13866
Hi @mudskipperwathotmail, sorry for the delayed response.

Was this previously working and then it stopped working?

Looking at the logs, you're using an existing VMX instance but it seems the IP is not in `C:\ProgramData\VMware\vmnetdhcp.conf` or `C:\ProgramData\VMware\vmnetdhcp.leases`, if this did use to work I'm wondering if the IP got removed somehow, and based on the logs we just keep restar

[2022-04-20 19:08] klaases commented on #11320
Hi @gtolarc, did the [link](https://minikube.sigs.k8s.io/docs/faq/#how-can-i-access-a-minikube-cluster-from-a-remote-network) that @medyagh provided above work for you as well?

Also, @[Sn-Kinos](https://github.com/Sn-Kinos) mentioned that this helped with the issue as well.

[2022-04-20 19:09] spowelljr commented on #13758
`minikube image load` _should_ work on all profiles, but there's possible there's a bug and it's only working on the default profile. This is worth someone looking into to confirm if this is the case or not.

[2022-04-20 19:10] klaases commented on #11107
Hi @sschober, did the comments above help resolve this issue in your case?

We see that @[drinkbeer](https://github.com/drinkbeer) was able to get things working as well.

[2022-04-20 19:14] klaases commented on #13453
Hi @ahmedas1980  – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line

[2022-04-20 19:14] #13453 closed

[2022-04-20 19:14] soni-H opened #13992 "Exiting due to GUEST_PROVISION: Failed to start host: creating host: create: provisioning: Temporary Error: error getting ip during provisioning: IPs output should only be one line, got 2 lines"
### What Happened?

The following error appears on executing the command - minikube start
Exiting due to GUEST_PROVISION: Failed to start host: creating host: create: provisioning: Temporary Error: error getting ip during provisioning: IPs output should only be one line, got 2 lines

I have tried the following solution but does not seem to work-
rm ~/.docker/config.json
minikube delete
minikube st

[2022-04-20 19:17] klaases commented on #11440
Hi @Gilwe, would you be interested in creating a PR to address this issue?

Or, would you be able to clarify the text that should be added to the documentation?

[2022-04-20 19:19] klaases commented on #10618
Hi @rgordill – thanks for updating the issue, will close out for now as a viable alternative was found. Please feel free to re-open the issue by commenting with `/reopen` if needed.

Thank you for sharing your experience!

[2022-04-20 19:19] #10618 closed

[2022-04-20 19:32] mr-bjerre commented on #13510
@klaases we decided to move away from minikube instead since we can orchestrate locally without. So I never tried actually - sorry

[2022-04-20 20:21] karinagrullon commented on #7659
Added "sudo" at the beginning too!

[2022-04-20 20:23] mkum98 opened #13993 "Unable to Start minikube"
Getting Below Error while trying to Start the minikube.. Please help

PS C:\windows\system32> minikube start --vm-driver="hyperv" --hyperv-virtual-switch="minikube"
* minikube v1.25.2 on Microsoft Windows 10 Pro 10.0.19043 Build 19043
* Using the hyperv driver based on user configuration
* Downloading VM boot image ...
E0421 01:11:50.695962   16784 iso.go:88] Unable to download https://storage.goo

[2022-04-20 20:30] spowelljr opened #13994 "Putting flag before command results in `lastStart.txt` not being produced"
Example:
[code]
[code]

I've tested with other flags, for example `--user` and same issue

[2022-04-21 02:43] kumaranraj2895 commented on #13549
It is working after updating SSL certificates

[2022-04-21 02:43] #13549 closed

[2022-04-21 03:22] youyj-tech opened #13996 "如何获取这个镜像：k8s.gcr.io/echoserver:1.4"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：
macos

[2022-04-21 06:24] Shivansh-yadav13 commented on #13949
@medyagh I have created a pr but I'm not sure if that is what this issue requests, I feel there is more to be done than what I have added please suggest changes. @matteoolivi @afbjorklund

[2022-04-21 08:01] HerHde commented on #12569
No problem with kernel 5.15.32 and minikube v1.25.2 anymore

[2022-04-21 09:32] oprudkyi commented on #13969
it seems just stop/start is enough

[2022-04-21 13:26] nour-karoui commented on #11193
for m1 users, when starting minikube run this command

minikube start --ports=port-target:node-port

for eg; minikube start --ports=30000:30000

and now you access the pod via: http://localhost:30000

[2022-04-21 15:32] kumar6808 commented on #13993
checkout the link this might help.
[k8s]-https://learnk8s.io/

Getting started with Docker and Kubernetes on Windows 10
https://learnk8s.io/installing-docker-kubernetes-windows#:~:text=Installing%20Kubernetes%20on%20Windows%2010%20with%20Minikube,-Minikube%20is%20one&text=If%20you%20haven't%20done,can%20find%20the%20instructions%20here.&text=choco%20install%20minikube%20%2Dy%20Installing,accept%20

[2022-04-21 16:54] #13994 closed

[2022-04-21 17:04] spowelljr commented on #13866
Thanks for the response @mudskipperwathotmail, I'll take a more in-depth look at the logs later, but to answer your questions about `container=0MB`. That's because you're using a VM driver instead of a container driver like Docker, so that's expected.

[2022-04-21 17:23] OleksiiPasihnyk commented on #13985
#First command to check default settings
axelp@turbo:~$ xdg-settings get default-web-browser
google-chrome.desktop
#second command to check if deafault settings open the browser from console, yes it does open chrome.
axelp@turbo:~$ xdg-open 'http://www.freedesktop.org/'
axelp@turbo:~$ Fontconfig error: "/home/axelp/.fonts.conf", line 1: parsing XML declaration: '?>' expected

Opening in existing b

[2022-04-21 17:26] OleksiiPasihnyk commented on #13985
If I run

**$ minikube service list**

I get proper responce with proper url link which **is** clickable and active and it does open in the browser properly.

[2022-04-21 18:08] sistemvene opened #13998 "minikube starter error"
**Los comandos necesarios para reproducir la incidencia**:
minikube starter

**El resultado completo del comando que ha fallado**: <details>
😄  minikube v1.25.2 on Ubuntu 20.04
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🤷  docker "minikube" container is missing, will recreate.
🔥  Creating docker contain

[2022-04-21 18:40] spowelljr opened #13999 "GUI: Can't find installed drivers on Mac"
On Mac drivers are typically located in `/usr/local/bin` but the default `PATH` env is `/Users/<user>/.minikube/bin:/usr/bin:/bin:/usr/sbin:/sbin` so the drivers are not found. `/usr/local/bin` should be appended to the `PATH` env so drivers can be found.

[2022-04-21 18:46] spowelljr opened #14001 "GUI: Auto refresh cluster list when opening GUI from tray icon"
Currently, the cluster list/status is only refreshed when opened for the first time, but if the user closes the GUI and later reopens it should refresh the cluster list as much time may have passed since the last time the command was run and can be outdated.

[2022-04-21 18:49] spowelljr opened #14002 "GUI: Add k8s version selector to custom value screen"
A Kubernetes version selector should be on the custom value screen and the choices are `stable`, `latest`, and `none`.

[2022-04-21 18:50] spowelljr opened #14003 "GUI: Mark invalid clusters as `Invalid` in their status field"
Currently, there's no real way to know if a cluster is invalid or not, so we should make it easily known to the user by adding `Invalid` to the status field of invalid clusters.

[2022-04-21 18:57] ckannon commented on #13136
/assign

[2022-04-21 18:58] brahama opened #14004 "Is it possible to mount a volume with container existing data"
### What Happened?

I need to mount a volume so that it does not get overwritten by the host empty dir, but instead it gets the container data and then of course persisted in the host.

[code]

The container already has a bunch of files and subdirs in /home/user/data that are generated at startup. When i use the mount above, that directory gets stepped on with the empty directory in the host.

In

[2022-04-21 19:14] wwillfred opened #14005 "Minikube start failure"
### What Happened?

Running minikube start with hyperkit failed.

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8534425/logs.txt)

### Operating System

_No response_

### Driver

_No response_

[2022-04-21 20:17] #13999 closed

[2022-04-21 21:33] spowelljr opened #14009 "GUI: Add ability to start, stop, and pause cluster from tray icon"
If you right click the tray icon you're currently given three options, restore, minimize, and quit. There should be three more options added, start, stop, and pause, which will take action against the default cluster. These actions should only be able to be performed when possible, ie. shouldn't be able to stop on a non-started cluster and so on.

[2022-04-21 21:40] spowelljr opened #14010 "GUI: Clicking tray icon should open GUI"
Clicking the tray icon should open the GUI.

[2022-04-21 21:42] spowelljr opened #14011 "GUI: Add pause button"
A pause button should be added to the basic and advanced view that pauses the cluster (`minikube pause`).

[2022-04-21 21:47] spowelljr opened #14012 "GUI: Add k8s version to cluster table"
Add the Kubernetes version to the cluster table in the advanced view.

[2022-04-21 21:52] spowelljr opened #14013 "GUI: Fix error background color washing out error message"
Currently, the background color of the error message is hard coded to white, however this doesn't take into account that users with their OS set to dark theme the font defaults to white and makes it impossible to read the message.

![Screen Shot 2022-04-21 at 2 51 02 PM](https://user-images.githubusercontent.com/44844360/164557971-ad8880c8-ad8c-4606-a408-d6e2a6c38780.png)

[2022-04-21 21:53] spowelljr opened #14014 "GUI: Get SSH working for Mac"
SSH is currently only working for Linux, the next step is getting it working for Mac.

The SSH button will need to be re-enabled for Mac users as well, it's currently disabled.

https://github.com/afbjorklund/lima-gui/commit/f25738d

[2022-04-21 22:25] #14001 closed

[2022-04-22 00:30] mudskipperwathotmail commented on #13866
thanks Steven. take your time.
it seems to me, the problem is around these few steps:
1. the procedure tries to run vmrun.exe getGuestIPAddress C:\Users\mud.minikube\machines\minikube\minikube.vmx -wait
    and gets the MAC ADDR: 00:0c:29:6f:1e:d2
2. it looks up the ip in my existing vmnetdhcp.conf, which contains only 2 virtual networks: Mnet1 192.168.111.1; VMnet8 192.168.74.1; and the new minik

[2022-04-22 01:17] Nikhil2001 commented on #13977
/assign

[2022-04-22 02:31] Nikhil2001 commented on #13977
@spowelljr

Your thoughts ?
I came up with two different formats, I think layout1 is good
const (

	RFC1123      = "Mon, 02 Jan 2006 15:04:05 MST" //currently we use
	Layout1 = "01/02/2006 15:04:05 MST" // change1
        Layout2 = "01/02/2006 15:04:05" // clean but do we need time zone, Right?

)

[2022-04-22 06:10] afbjorklund commented on #13977
It's much better to use a standard format, than to invent some custom format to save a few characters.

[2022-04-22 06:19] afbjorklund commented on #14004
Create a persistent volume (in Kubernetes), and copy the data to it.

https://kubernetes.io/docs/concepts/storage/persistent-volumes/

[2022-04-22 06:59] afbjorklund commented on #13985
Sounds good. What was the error ?

[2022-04-22 09:51] vhp1360 commented on #10127
Hi,
but it could not be a network issue. I run it on one machine and the 10.96.0.1 is on that machine, please explain what do mean of network issue?

[2022-04-22 11:12] gcsaba2 commented on #4816
PS C:\WINDOWS\system32> minikube start
* minikube v1.25.2 on Microsoft Windows 10 Pro 10.0.19044 Build 19044
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Creating virtualbox VM (CPUs=2, Memory=6000MB, Disk=20000MB) ...
! StartHost failed, but will try again: creating host: create: precreate: This computer doesn't have VT-X/AMD

[2022-04-22 11:14] gcsaba2 opened #14017 "Unable to start VM - This computer doesn't have VT-X/AMD-v enabled"
### What Happened?

Related to issue #4816

Running with --no-vtx-check seems to solve the issue.

Virtualization is enabled in BIOS and I'm able to start VMs and Docker on my Windows.

PS C:\WINDOWS\system32> minikube start
* minikube v1.25.2 on Microsoft Windows 10 Pro 10.0.19044 Build 19044
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster

[2022-04-22 12:08] hiroaki2020 opened #14018 "[Question] How to build images into minikube node with containerd runtime?"
### What Happened?

Following [this guide from minikube official](https://minikube.sigs.k8s.io/docs/handbook/pushing/#5-building-images-inside-of-minikube-using-ssh), I am trying to build images from dockerfile into minikube node with containerd runtime. I run `minikube ssh` to go inside minikube and then run
[code]
to build an image. After that, I run `sudo ctr images list` but there is no image.

[2022-04-22 14:34] adam-pye commented on #13929
@afbjorklund any help with this would be great? I haven't found any solution to yet

[2022-04-22 14:58] jesperpedersen opened #14019 "[podman] Custom containers.conf w/ crun"
### What Happened?

😄  minikube v1.25.2 on Fedora 35
    ▪ MINIKUBE_ROOTLESS=true
✨  Using the podman driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
E0422 10:52:27.079008  935976 cache.go:201] Error downloading kic artifacts:  not yet implemented, see issue #8426
🔄  Restarting existing podman container for "minikube" ...
🤦  St

[2022-04-22 14:59] jesperpedersen commented on #14019
Using 1dae0f842cac2fe184a17fdf6bfe946d1ac9987d w/ `go version go1.18 linux/amd64`

[2022-04-22 15:02] jesperpedersen commented on #14019
Without the `containers.conf` file

[code]

[code]

[2022-04-22 15:29] vhp1360 opened #14020 "ingress failed on timeout"
### What Happened?

Hello all
I tried to enable ingress addons.
the image was downloaded but it failed on verifying.
if I `minikube ssh`, I could find the _ngingx image_ is running.
I use **vagrant** with **kvm2** _provider_ and inside of VM I use `minikube start --driver=docker`
the minikube and kubectl are the last versions.

### Attach the log file

[logs.txt](https://github.com/kubernetes/mini

[2022-04-22 16:17] afbjorklund commented on #14018
You need to use `sudo ctr -n k8s.io images list`, to view the Kubernetes namespace.

Alternative you can use `minikube image build` and `minikube image list` wrappers.

[2022-04-22 16:19] avizen-j commented on #13969
Thanks @spowelljr , `minikube start --extra-config=kubelet.housekeeping-interval=10s` resolved the issue for me.

[2022-04-22 16:22] afbjorklund commented on #14019
There should be more information in the original log, why podman fails to start when you have configured crun.

[2022-04-22 16:30] jesperpedersen commented on #14019
@jesperpedersen Thanks, Anders ! My bad

[2022-04-22 16:30] #14019 closed

[2022-04-22 18:20] caniko commented on #13987
I'll leave this issue up till the upstream issue is solved to make other developers aware of the problem.

[2022-04-22 18:32] spowelljr opened #14021 "Fix delete failing on Windows"
Introduced with https://github.com/kubernetes/minikube/pull/13979

Set the event log path on `delete`, but this causes an issue specifically on Windows because it's logging to the `events.json` file at the same time it's trying to delete the profile's directory and results in:
[code]

[2022-04-22 18:48] #13945 closed

[2022-04-22 19:42] silasb commented on #11107
I ended up forking echoserver as https://github.com/silasb/echoserver and a ARM64 docker image is located here https://hub.docker.com/r/silasb/echoserver

[2022-04-22 19:44] #14021 closed

[2022-04-22 20:58] #14002 closed

[2022-04-22 21:20] ssmall opened #14027 "minikube stuck pausing"
### What Happened?

1. start minikube with `minikube.exe start -p minikube --delete-on-failure`
2. pause minikube with `minikube.exe pause -p minikube`

Pause hangs for an extremely long time and eventually outputs the following:
[code]

3. Run `minikube.exe status --layout cluster --output json -p minikube`
Output:
[code]

### Attach the log file

[minikube-log.txt](https://github.com/kubernetes/

[2022-04-23 00:52] brahama commented on #14004
Got it! Thanks so much :)

[2022-04-23 02:25] Nikhil2001 commented on #13977
/assign

[2022-04-23 03:28] hiroaki2020 commented on #14018
@afbjorklund Thank you for your kind support and quick reply.

Thanks now I can see my built image but my k8s deployment resource cannot access the resource.
I used the following cmd in a minikube node to build my image.
[code]
Did I do anything wrong?

I want to use the fastest method. Is this faster than the one I'm working on?

That sounds great. I can build even faster then.

[2022-04-23 04:37] meliwex commented on #13969
Hi @oprudkyi, for me simply deleting the cluster and starting the cluster again doesn't solve the issue.

[code]

[2022-04-23 07:31] afbjorklund commented on #14018
Should have some better documentation about it, if I recall correctly you need to change the image pull policy (or use a tag other than "latest"), and to make sure to prefix with docker.io (or some other registry)

[2022-04-23 08:43] oprudkyi commented on #13969
@meliwex sorry, I meant after stopping to start it like
[code]

also, please note it increase cpu load and result in some unstable work, on i5 some heavy pods started to restart and freeze etc

[2022-04-23 08:53] hiroaki2020 commented on #14018
That sounds like you actually push image to dockerhub (="docker.io") in the official guide's example by changing the image pull policy to other than "Never" (maybe "IfNotPresent"?) and by prefixing image with "docker.io". Since [buildkit documentation](https://github.com/moby/buildkit) does not explain everything to a T, I am not 100% sure about this but maybe you push image to registry and pull i

[2022-04-23 10:40] afbjorklund commented on #14018
It was just a naming thing, an external registry is not used.

One method of distributing the image in the multi node setup, is to use the internal cluster registry. It could also use some updating, and better docs.

[2022-04-23 10:48] meliwex commented on #13969
@spowelljr, @oprudkyi

This some kind solved the issue but not completely.
I just created deployment in the `default` namespace and after successfully checking the metrics of the pods from the `default` namespace I cannot get the metrics again after some time. I don't have such a problem with `kube-system` namespace.

The output I truncated a little bit for simplicity:
[code]

Is there any solutio

[2022-04-23 14:07] afbjorklund commented on #14018
It is the same, the method to use a local build context is somewhat undocumented.

`minikube image build file:///PATH/TO/BUILD/CONTEXT`

By default, the build context path will refer to something on the host that needs transferring.

But by stating it as an URL instead, it will be used in the VM - and file:// refers to a local path.

[2022-04-23 14:24] afbjorklund commented on #14018
If you look in the log, you can see what is happening:

`minikube --alsologtostderr image build -t myimage file:///tmp/build`

[code]

So it is tagged with myimage, but that means docker.

`minikube ssh sudo crictl images`

[code]

[2022-04-23 14:35] afbjorklund commented on #14018
Unfortunately, containerd doesn't really have a way to stream an image to a remote daemon the way docker does.

So if **not** wanting to use a registry, which is the fastest since it understand layers, it would be something like:

ctr images export image.tar image + scp image.tar node:/tmp + ssh node ctr images import /tmp/image.tar

With a local registry, there are no such steps needed. You would

[2022-04-23 16:36] maxb commented on #11069
This also affects e.g. the kubelet/kubeadm/kubectl progress bars when using --driver=none, and is quite sad for users with lesser internet connections!

[2022-04-23 21:10] AvikantSrivastava commented on #7903
[code]

Give permission to the docker socket, and minikube should work as expected

[2022-04-23 21:11] AvikantSrivastava commented on #8257
[code]

Give permission to the docker socket, and minikube should work as expected

[2022-04-24 03:11] hiroaki2020 commented on #14018
Sorry for my late reply.

Thank you for sharing this. I just confirmed that without using an external registry, my k8s deployment resource can properly access the image I built by running
[code]
My k8s file is like
[code]
Since I use multi-node cluster, I need to build images in each node though.
Sorry I need some time to digest things you said but I understand what I just did and `minikube image

[2022-04-24 03:48] purvalraj opened #14031 "Minikube not starting with Hyperkit"
### What Happened?

Below is error after running minikube --driver=hyperkit

Password:
E0424 08:52:47.902674   41803 iso.go:88] Unable to download https://storage.googleapis.com/minikube/iso/minikube-v1.25.2.iso: unable to acquire lock for {Name:798744c300c427722d7ec0b Clock:{} Delay:500ms Timeout:10m0s Cancel:<nil>}: timeout acquiring mutex

Can anyone help with this problem ?

Ping works on webs

[2022-04-24 04:09] hughes20 opened #14032 "minikube image cache slow (Support image caching for 'clean resetup')"
### What Happened?

I am running a multi-node (2 to be specific) cluster via minikube. It takes about **10 minutes** to setup from scratch (including image pulling).
Once everything is started up and running, I want to 'save' the images out so then I could do the clean setup again, but significantly faster (since we should not have to pull images again). So, I resorted to `minikube image ls | xarg

[2022-04-24 06:35] afbjorklund commented on #14018
It depends on the image.

You save the initial upload to the registry, since the image is already on the build node. But when you export the image, it will include _all_ layers. Even if you only modified the last one ? So there _could_ be a lot of transferring the base image over and over

The fastest is another registry

[2022-04-24 07:22] afbjorklund commented on #14018
I find that the kubernetes image needs to be the same as the containerd image, i.e. to include the "docker.io/library" part.

`#6 naming to docker.io/library/testimage:testtag done`

`Container image "docker.io/library/testimage:testtag" already present on machine`

You can use another registry, such as gcr.io, but what you cannot do is omit the image (like we used to do, with docker)

Note that i

[2022-04-24 07:29] afbjorklund commented on #14032
The cache directory is on the host. It gets copied to the node with `scp`

Unfortunately not all container runtimes support having more than one image.

So there is one tarball per image, which misses out on some optimization possibilities.

It is not possible to access the docker images remotely, without using a registry.

But we _could_ run a docker registry on the host, and have the nodes pull

[2022-04-24 07:32] afbjorklund commented on #14032
I think that was a misunderstanding, it isn't really...

It is more like the "minikube cache" and "minikube image" commands have different semantics, and different config memory.

[2022-04-24 07:45] afbjorklund commented on #14032
When running with Docker on Linux, there are some optimizations that could be done with regards to the cache.

The original kind implementation bakes the images into the "node" image, but that makes it harder to extend later.
The current minikube implementation uses a "preload" storage snapshot, that is unpacked during the initial start.

But one could also use the old `crane` image cache, and do

[2022-04-24 08:10] hiroaki2020 commented on #14018
The fastest is another registry

Actually I am working on my project by myself, not on a team. Currently I am using minikube in dev env (and maybe in test env but not sure). I know k8s is not necessary for my small project but I use it to learn. So I do not have many occasions to export image. Do you still think I need to use registry?

It is just used, to get away from the vague / undefined stand

[2022-04-24 10:10] afbjorklund commented on #14018
No, but it is the most straight-forward way to distribute images within a multi-node cluster. Especially the new ones, with IPFS.

If you run a single-node cluster (the default minikube setup), then there is no need to run a registry (or a Docker VM) - at all.

[2022-04-24 10:26] hiroaki2020 commented on #14018
I got it.
Thank you for your time and all the great answers to my questions.

[2022-04-24 10:26] #14018 closed

[2022-04-24 10:40] afbjorklund commented on #14017
Probably a bug in libmachine, not recognizing newer cpuid or something similar like that.

If VirtualBox is working fine (and has hardware acceleration), it's a bug in "virtualbox" driver.

----

So one would need to look at the VirtualBox.log, for details why it was disabled ?

https://github.com/machine-drivers/machine/blob/master/drivers/virtualbox/vtx.go

It could also be something specific to

[2022-04-24 10:49] afbjorklund commented on #14017
Similar to:
* https://github.com/kubernetes/minikube/issues/13935

[2022-04-24 10:52] afbjorklund commented on #13935
It seems like something is wrong with the feature detection code:

https://github.com/machine-drivers/machine/blob/master/drivers/virtualbox/vtx_intel.go

Would be interesting to see the input of the detected CPU features:

https://github.com/intel-go/cpuid

[2022-04-24 11:36] afbjorklund commented on #14018
No worries, except for missing documentation there didn't seem to be anything "wrong" ?

[2022-04-24 12:47] maxb opened #14034 "storage-provisioner uses hardcoded path `/tmp/hostpath-provisioner` for PVC data, which leads to unexpected data loss"
### What Happened?

The storage-provisioner places PVC data under `/tmp/hostpath-provisioner`.

It is common for distributions to erase the contents of `/tmp/` at boot time - this destroys PVs if you are using the `none` driver.

I found this out when a testing environment had all its PVCs wiped when I rebooted my laptop.

The path is also not configurable, meaning the user has no easy workaround

[2022-04-24 13:17] maxb opened #14035 "`none` driver uses `k8s.io/apimachinery/pkg/util/net.ChooseHostInterface()` for apiserver IP, causing problems for laptops on DHCP"
### What Happened?

I'm running minikube using the `none` driver on an Ubuntu laptop.

minikube's `none` driver uses `k8s.io/apimachinery/pkg/util/net.ChooseHostInterface()` to determine the IP address it should use in various contexts, including:
* where to configure as `control-plane.minikube.internal` in `/etc/hosts`
* apiserver URL to place in `kubeconfig`

This is problematic when using a lap

[2022-04-24 13:49] afbjorklund commented on #14034
You are supposed to mount a persistent directory, at that temporary mountpoint.

It could be configurable:
* https://github.com/kubernetes/minikube/issues/3318

But then you would need to configure it, so it would still require setup on your part.

[2022-04-24 13:52] afbjorklund commented on #14035
The none driver is not recommended for laptops, so it is mostly used for custom virtual machines (with static IPs)

[2022-04-25 01:08] hiroaki2020 commented on #14018
There are a lot of other settings, like build context and build cache, that are more important to the overall turnaround

I understand. Thx.

[2022-04-25 03:39] quqonlik commented on #9063
I disabled the firewalld on linux hosts and joined successfully

[2022-04-25 08:06] Nikhil2001 commented on #13977
@medyagh

[2022-04-25 12:48] Calvin0520 commented on #12699
this is likely caused by https://github.com/kubernetes/minikube/issues/13536.

[2022-04-25 12:49] sinevitch opened #14039 "The terminal needs to be open to run it (mac M1)"
### What Happened?

I'm using a new mac on an m1 processor. I run minikube through docker using the command minikube start --driver=docker.
Minicube starts up and works fine but there is one problem. When I execute the command minikube service first-app then I get this error in the console "Because you are using a Docker driver on darwin, the terminal needs to be open to run it."
Tell me how to so

[2022-04-25 13:31] zhan9san commented on #14039
Hi @sinevitch

It is expected. See #13806

[2022-04-25 13:59] sinevitch commented on #14039
so how do I solve the problem? I haven't figured anything out yet

[2022-04-25 14:15] sinevitch commented on #14039
It seems to work
https://github.com/kubernetes/minikube/issues/13788#issuecomment-1068640594

[2022-04-25 14:32] dancaugherty opened #14040 "Exiting due to GUEST_STOP_TIMEOUT: Temporary Error: stop: stopping minikube: exit status 1"
### What Happened?

"minikube stop" will not stop minikube!

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8555457/logs.txt)
[minikube_logs_c0c5b648c8bfaf86b2de6a6a2480d02ddf10a723_0.log](https://github.com/kubernetes/minikube/files/8555465/minikube_logs_c0c5b648c8bfaf86b2de6a6a2480d02ddf10a723_0.log)

### Operating System

macOS (Default)

### Driver

Docker

[2022-04-25 15:05] Ruitjes opened #14041 "Not able to expose with MacOS M1 chip"
### What Happened?

Hello,

I'm following the[ "Set up Ingress on Minikube" ](https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/)tutorial, but i'm not able to follow all the steps on my Macbook M1 chip.
Everythings works fine until visiting the service via NodePort:
`minikube service web --url`

The error messaging i'm receiving is:
[code]
I saw some previous comments on

[2022-04-25 15:06] xaocon commented on #12826
Is that conversation going on somewhere public? I'd like to help. Not sure I could help much with the GO stuff but I could probably help with the ISO or helping track down how other projects are doing similar things (looking through lima for example).

[2022-04-25 15:22] sharifelgamal commented on #12826
The tracking issue for the arm64 ISO is #9228

[2022-04-25 15:36] sharifelgamal commented on #9228
Testing the arm64 ISO on QEMU showed that the arm64 ISO rootfs isn't getting some of the systemd file copied in. That's what I'm currently looking into.

[2022-04-25 15:39] hughes20 commented on #14032
This all makes sens to me. For the docker registry then, I would configure it as a pass-through cache to get images from something like `quay.io`, `docker.io`, etc.. Do I have to do anything specific with minikube to get it to use the registry?

[2022-04-25 15:59] hughes20 commented on #14032
I see, so I would have to re-tag all my images to be from that registry? and then push all the images to that registry on startup. Assuming I have them stored locally in docker to begin with. (This is if I want to do it all `offline`)

[2022-04-25 19:11] asungur commented on #9016
Try #13806

[2022-04-25 20:07] adam-pye commented on #13929
@elitwilson I also tried with podman and got a similar error with iptables

But i've just tried using multipass following this doc - https://www.materialized.eu/kubernetes/minikube-on-ubuntu-in-multipass-vm-on-m1-mac/

Works well so far

[2022-04-25 21:11] FlorianLudwig commented on #8257
@AvikantSrivastava

Just log in as root.

[2022-04-25 23:54] zhan9san commented on #14041
Does #13806 address it?

[2022-04-26 00:03] zhan9san commented on #12317
试试下面这个可以吗？
这样minikube会从阿里云拉取镜像

'minikube start --driver=docker --image-mirror-country=cn'

[2022-04-26 01:40] zhan9san commented on #13996
国内是无法直接获取这个镜像的，你可以通过阿里云的镜像站点获取

[code]

[2022-04-26 02:05] zhan9san commented on #13948
国内因为网络原因，无法直接访问google镜像，建议使用阿里云镜像站点启动minikube

### 启动 minikube

[code]

### 开启 ingress

[code]

### 查看 ingress

[code]

[2022-04-26 02:09] zhan9san commented on #13747
Hi @Yjq14114

你用最新版的minikube,然后对照这个文档，#13806

你发的这个URL, http://192.168.49.2:32046/在windows上是不可以直接访问的，需要使用`127.0.0.1`这样的地址，具体端口在上面文档里可以查到

试试可以解决吗？

[2022-04-26 13:08] aleksandar-kinanov commented on #13726
@mgabeler-lee-6rs Do you happen to encounter any issues with Services exposure?

We are currently hitting a problem with **driver=none** and no services are accessible from outside on: http://minikube-ip:NodePort

We also encounter that same `"bind: address already in use" ` and surely there's nothing else running on that port.

[2022-04-26 13:21] Ruitjes commented on #14041
Not sure what to do here in my case

[2022-04-26 14:28] Vignesh-Sakkarai commented on #9016
@asungur Thanks
https://github.com/kubernetes/minikube/issues/13788#issuecomment-1068640594  solved the issue

[2022-04-26 15:31] mgabeler-lee-6rs commented on #13726
@aleksandar-kinanov yes, that is the precise issue I'm observing here

[2022-04-26 18:51] shubham-cmyk commented on #14005
I think there is problem with the virtual box.

[2022-04-26 20:20] #14012 closed

[2022-04-26 20:21] #14011 closed

[2022-04-26 20:29] klaases opened #14054 "Create a webhook for GCP-Auth addon for new service accounts"
### What Happened?

While using the GCP-Auth addon, a client may elect to create an additional service account.

This is similar to: [Create a webhook for GCP Auth addon new namespaces](https://github.com/kubernetes/minikube/pull/13964)

In this case, the GCP-Auth credentials will not be available. To resolve this, we must create a webhook which will reach out to an external server tasked with ass

[2022-04-26 20:37] #14009 closed

[2022-04-26 21:50] spowelljr opened #14057 "GUI: Add cluster status to tray menu"
Cluster status should be added to the tray context menu so the user knows the status of the cluster without having to open the GUI.

[2022-04-26 21:52] spowelljr opened #14058 "GUI: Change wording from `Start` to `Reload` when cluster already running"
The wording on buttons and tray menu should change from `Start` to `Reload` when the cluster is already running to not confuse the user that the cluster is not already running.

[2022-04-27 08:36] InverMN opened #14059 "Starting Minikube in Docker-in-Docker container when host is MacOS"
### What Happened?

Hello,

Last time I created a development container for Visual Studio Code and assumed that running the Kubernetes cluster inside it would be the preferred choice. That solution works perfectly when the host is windows/amd64, but logs an error and stops starting when the host is darwin/arm64. In the container inside is installed Docker and I start Minikube with --driver=docker

[2022-04-27 11:50] Rajkumar-wavelabs opened #14060 "minikube start"
I tried to install minikube local system, but I am unable start the minikube, I am getting this error
any one knows, Please help me on that

![image](https://user-images.githubusercontent.com/104160352/165511856-44813f14-280a-486c-ae4d-2420cd6b76c8.png)

[2022-04-27 15:31] Pali15 opened #14061 "Error after minikube start"
### What Happened?

![image](https://user-images.githubusercontent.com/75538899/165555398-aa216344-c023-4596-a2a5-5bf7c0779e75.png)
 Cant start minikube

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8573435/logs.txt)

### Operating System

_No response_

### Driver

_No response_

[2022-04-27 17:51] mapadofu opened #14063 "Can't access a service from a singleton pod behind that service"
### What Happened?

If you create a service that is backed by a single pod, you cannot access that service from that pod.

Here's the config:

[code]
Then

`kubectl apply -f config.yml` creates the above objects.

`kubectl exec skeletion-xxx -- curl skeleton-api:8008`
just hangs.

`kubectl exec alternate-xxx -- curl skeleton-api:8008` works fine.

Expected behaviour is that the behaviour of the se

[2022-04-27 18:07] spowelljr commented on #13648
Hi @almssp, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-04-27 18:07] #13648 closed

[2022-04-27 18:15] klaases commented on #13097
Hi @minejzy  – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2022-04-27 18:15] #13097 closed

[2022-04-27 18:16] klaases commented on #12698
Hi @cduran – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

[2022-04-27 18:16] #12698 closed

[2022-04-27 18:19] klaases commented on #13136
Hi @tstromberg, I see that @ckannon is working on this in PR (https://github.com/kubernetes/minikube/pull/14006) and should be resolved soon.

[2022-04-27 18:22] klaases commented on #12725
Sure @anencore94, I understand - we will continue to remain open for community contributions for this issue.

[2022-04-27 18:24] klaases commented on #11699
Hi @Iquis – were you able to try using `minikube tunnel` as suggested above?

Also, is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the

[2022-04-27 18:24] #11699 closed

[2022-04-27 18:34] klaases commented on #13937
Hi @jackray2009, were you able to try the instructions mentioned above?
Yes, additional logs would be helpful to debug this issue.

Also please make sure to run `minikube start` before `kubectl get po -A`.

Does the issue still occur?

[2022-04-27 20:06] Iquis commented on #11699
Yeah my problem was solved using minikube tunnel

[2022-04-27 21:36] #14058 closed

[2022-04-27 22:31] spkane commented on #12354
/remove-lifecycle stale

[2022-04-28 06:17] izharaazmi opened #14066 "Drivers"
It should state or link to a page that states the difference between these two deployment approaches.

There should be clarified whether are the listed platforms (Linux, Windows, MacOS) are host platform or guest platforms.

[2022-04-28 07:11] geekdk commented on #13754
Did you solve that issue?

[2022-04-28 07:11] afbjorklund commented on #14066
Do you have some suggestions on wording or format ?

* https://github.com/kubernetes/minikube/issues/9803

I count "three" form factors, but that's more like 6 or 12

[2022-04-28 07:19] izharaazmi commented on #14066
This is my first day with kubernetes, hence I have no idea.

[2022-04-28 07:37] antoniopantaleo commented on #13754
I guess that should be the proper way of how it works. If a pod finishes his job, I suppose Kubernetes kills him (that's why I had lots of containers in `Completed` status before the `CrashLoopBackOff` one). In my example I used alpine containers, without any specific command or job to do; after a container started, Kubernetes probably considers its job done.

I tried to replace the `alpine` image

[2022-04-28 11:08] afbjorklund commented on #14066
No worries, the comment with what info you are looking for is also helpful

[2022-04-28 12:34] silentknight2001 opened #14067 "API server is not started !!"
### What Happened?

``
$ minikube status
minikube
type: Control Plane
host: Running
kubelet: Running
apiserver: Stopped
kubeconfig: Configured

``

### Attach the log file

``
silentknight@silentknight-2001:~$ minikube start
😄  minikube v1.25.2 on Ubuntu 20.04
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...

[2022-04-28 12:47] EhizDanny commented on #290
pls what is the equivalence of  `rm -rf ~/.minikube` on windows

[2022-04-28 13:18] niconical commented on #8257
Thanks.

[2022-04-28 14:33] pellizzetti commented on #14067
Hi @silentknight2001 👋🏻

Clear your minikube config files with `minikube delete --all --purge` and try again.

[2022-04-28 18:15] vhp1360 commented on #14020
I want to inform you that the problem has been solved today.
I could not find a reason to solve this problem because nothing has changed on my part.

[2022-04-28 21:04] #14014 closed

[2022-04-28 21:06] #14057 closed

[2022-04-28 21:07] #14010 closed

[2022-04-28 21:07] #14003 closed

[2022-04-28 21:13] #6912 closed

[2022-04-28 22:23] medyagh opened #14073 "add * next to current active cluster in minikube profile list"
### What Happened?

if you have 3 clusters and you make one of them active
all minikube commands will run against that cluster,
[code]

this should be reflected in the minikube profile list with a star in a new column called "active"

[code]

### Attach the log file

n/a

### Operating System

_No response_

### Driver

_No response_

[2022-04-29 02:02] yogesh-chaudhari-77 commented on #12036
@drinkbeer @benjamin-brady @drobit
`--image=k8s.gcr.io/echoserver-arm:1.8` - this image is not working for me.

[2022-04-29 03:06] shabirabasse commented on #9016
Experiencing the same issue with an m1 mac: ❗ Because you are using a Docker driver on darwin, the terminal needs to be open to run it.
This [link](https://github.com/kubernetes/minikube/issues/13788#issuecomment-1068640594) didn't work for me.

[2022-04-29 05:04] vharsh commented on #14073
/assign

[2022-04-29 05:46] rollsrice commented on #13929
I've got the exact same issue. Checking the docker container shows `iptables-save v1.8.4 (legacy): Cannot initialize: iptables who? (do you need to insmod?)`.

I have the following details:
OS Monterey 12.3.1
Chip Apple M1 Pro
Docker Desktop 4.7.1
minikube v1.25.2

I've tried the voted answer [here](https://stackoverflow.com/questions/70160392/unable-to-start-minikube-on-mac-m1-with-docker) withou

[2022-04-29 06:41] afbjorklund commented on #13929
If the Docker (LinuxKit) kernel doesn't have the same iptables support as before, it is possible that something needs to change in minikube's "docker" driver

[2022-04-29 10:53] abe25masahito opened #14074 "minikube start command drops --docker-opt in vagrant shell provision"
### What Happened?

environment
Windows 11
vagrant 2.2.19
VirtualBox 6.1.34
guest OS : ubuntu 20.04

When "minikube start" command in vagrant shell provision, it drops "--docker-opt" option.
and sometimes "minikube start" dropped "--docker-opt" in "vagrant ssh" environment.

I start minikube with vagrant shell provision the below.
[code]
But, when I run command the below, I found that --docker-opt

[2022-04-29 12:47] debasishdhar7 opened #14075 "Minikube not starting for a fresh install in WSL"
### What Happened?

I am installing  Minikube for the first time in windows subsystem . It is not starting

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8590846/logs.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-04-29 14:25] elitwilson commented on #13929
I just tried `kind create cluster` and the container also crashes with the following logs:

[code]

Same exact iptables issue. One common denominator seems to be the Apple M1 chip architecture. Any thoughts for a work-around in the short-term?

[2022-04-29 16:26] afbjorklund commented on #14075
`System has not been booted with systemd as init system (PID 1). Can't operate.`

There is a suggestion to replace the remaining `systemctl` calls with "sysinit"

* https://github.com/kubernetes/minikube/issues/12276

Not sure if it would be enough to get WSL going, but I guess it is worth doing...

[2022-04-29 17:21] sachinparihar commented on #14073
/assign

[2022-04-29 20:49] #14013 closed

[2022-04-29 20:50] #13977 closed

[2022-04-29 21:08] gandhipr commented on #2707
For me, join didn't complete and kubelet was running.
sudo systemctl stop kubelet.service will stop kubelet and 10250 port will be free

[2022-04-30 08:21] kadern0 commented on #12842
@j3zz3r, I've pushed a branch that seems to fix the issue (at least in Ubuntu) but I'd like to further test it before sending a PR. If you want to test it, you can find it at https://github.com/kadern0/minikube/tree/issue-12842 any feedback would be much appreciated

[2022-04-30 08:30] Randyshu2018 opened #14076 "minikube failed to start"
### What Happened?

## Description
After installed docker and i run ```minikube start ``` it failed with resource issue

## Expect behavior
start successfully

## Real behavior
<img width="932" alt="image" src="https://user-images.githubusercontent.com/19544447/166098186-fb944c02-307b-41dc-ac60-767ef147fa6e.png">
<img width="565" alt="image" src="https://user-images.githubusercontent.com/19544447/

[2022-04-30 15:39] fanspace opened #14077 "minikube can't build image"
### What Happened?

step 1
minikube start --driver=virtualbox --memory 16777 --cpus 4

step 2
minikube kubectl -- get pod --all-namespaces
NAMESPACE     NAME                               READY   STATUS    RESTARTS   AGE
kube-system   coredns-64897985d-7xdmt            1/1     Running   0          30m
kube-system   etcd-minikube                      1/1     Running   0          30m
...

step 3
min

[2022-04-30 21:20] msebi opened #14078 "minikube fails to start with docker driver"
### What Happened?

Following this tutorial:

https://kubernetes.io/blog/2020/05/21/wsl-docker-kubernetes-on-the-windows-desktop/

everything works fine until step:

https://kubernetes.io/blog/2020/05/21/wsl-docker-kubernetes-on-the-windows-desktop/#minikube-kubernetes-from-everywhere

(Minikube: Kubernetes from everywhere)

[code]

ran fine the first time around but then at step:

https://kuberne

[2022-04-30 21:29] npabb001 commented on #11222
if I want to set the $HOST_BROWSER or $BROWSER env variable, what should be the value?

[2022-04-30 21:31] karinagrullon commented on #13969
This worked perfectly. Thank you!!

[2022-04-30 21:48] #12741 closed

[2022-05-01 01:07] adn1107 commented on #10544
I have tried all the suggestions in this thread but still having this issue? What is the final solution?

[2022-05-01 01:59] kumar6808 commented on #14060
Hi @Rajkumar-wavelabs
Have you enabled the Kubernetes in the docker? Sometimes that creates an issue. so enabled it, it is present in the settings

[2022-05-01 06:13] afbjorklund commented on #11222
Popular choices include "firefox" or "chromium-browser"

Usually just through "Preferred Applications", or somesuch

[2022-05-01 11:03] thepaulmacca commented on #13035
This doesn't work for me, still have to do everything as admin even though I'm added to the group

[2022-05-01 11:05] thepaulmacca commented on #13035
This doesn't work for me, still have to run commands as admin even though I'm added to the group

If I run `minikube status` for example, I get an error unless I run it as admin

[2022-05-01 13:15] meliwex commented on #13969
Hi @karinagrullon and @avizen-j, for your own created Pods, does it display the metrics?

[2022-05-01 14:11] avizen-j commented on #13969
Yes, now, I am able to see both CPU and memory usage metrics in my own created namespace.
![image](https://user-images.githubusercontent.com/54904772/166149650-0045e807-3146-48dd-a7af-4fae26dc69f9.png)

[2022-05-01 15:31] karinagrullon commented on #13969
Hi @meliwex, when I ran this command:

`kubectl -n kube-system top pods `

I got an error, but no anymore.

Also, after applying my hpa.yaml file I got TARGET `<unknown>`, but it has been fixed as well.

I disabled minikube metrics-server and downloaded it + installed it from [GitHub](https://github.com/kubernetes-sigs/metrics-server) instead.

[2022-05-02 07:56] #13074 closed

[2022-05-02 08:18] kavaldeep commented on #9030
thanks you very much. It worked

[2022-05-02 09:51] goto-loop opened #14080 "Can't build minikube ISO because of wrong hash"
### What Happened?

Background: I'm trying to set up minikube on my local machine with kvm2 driver and GPU support. It's not working with the binary release, but I saw there are some recent commits to fix GPU issues so I decided to build the binary and ISO files myself, the latter following [this guide](https://minikube.sigs.k8s.io/docs/contrib/building/iso/).

The problem is that after some time,

[2022-05-02 12:44] goto-loop commented on #14080
UPDATE: I've had another look at the error message and after the first errors the script tries to download http://sources.buildroot.net/containerd-bin/v1.5.11.tar.gz, which results in an error 404. This is because the directory `containerd-bin` doesn't exist on the server; however, `containerd` exists plus it contains a file with the expected hash. I suppose if we changed this URL, the problem wou

[2022-05-02 13:12] phalsam commented on #13019
![image](https://user-images.githubusercontent.com/104772274/166239262-0502d9d9-768d-4aac-af88-c5408ccce7c2.png)
i am getting the error as well

[2022-05-02 14:16] vuldin commented on #12842
I'll test this out later today, but I looked over the documentation and didn't immediately see how to install from source. I've just installed minikube through the getting started steps or via arkade. The getting started steps mention pointing to a release on a github repo, but I see no releases on your repo.

Do you have steps to get your branch's minikube version installed?

[2022-05-02 14:31] sudhirwakchoure opened #14081 "Failed to start docker container. Running "minikube delete" may fix it: boot lock: timeout acquiring mutex"
### What Happened?

issue

### Attach the log file

=> Audit <==
|---------|------|---------|------|---------|------------|----------|
| Command | Args | Profile | User | Version | Start Time | End Time |
|---------|------|---------|------|---------|------------|----------|
|---------|------|---------|------|---------|------------|----------|

==> Last Start <==
Log file created at: 2022/05/02 19:

[2022-05-02 15:35] afbjorklund commented on #14080
That's just the fallback URL

The real problem is upstream

[2022-05-02 16:47] KanikaBishnoi opened #14082 "failure loading apiserver certificate: failed to load certificate: the certificate has expired"
### What Happened?

Hi,

I am trying to install minikube on my personal laptop, I followed the instruction on the minikube installation page, installed docker also from there :
minikube installation: https://minikube.sigs.k8s.io/docs/start/
docker installation : https://hub.docker.com/search?q=&type=edition&offering=community&sort=updated_at&order=desc

I am using a windows laptop. getting below e

[2022-05-02 17:05] afbjorklund commented on #14080
It would be a good idea to provide a cache for the minikube packages, since those are not available at buildroot.net

[2022-05-02 17:12] afbjorklund commented on #14080
Yeah, but... 8dca3b0b992a38c2096924420502c35dc6a0acaf

[2022-05-02 17:39] Rajkumar-Dev143 commented on #14060
Hi @kumar6808

Thanks for the confirmation 😊

[2022-05-02 18:32] sharifelgamal commented on #9228
The arm64 ISO with QEMU is now booting properly, but kubeadm is crashing.

It looks like all the appropriate k8s docker images are loaded properly but are never started, so none of the essential pods can boot.

[2022-05-02 21:12] spowelljr opened #14088 "Add custom error code for HyperKit"
We should have a custom error code for when `minikube start` fails with the `HyperKit` driver when the machine driver is missing elevated permissions.

[2022-05-02 21:20] #14088 closed

[2022-05-02 21:58] msebi opened #14089 "Using Multi-Node Clusters"
Following the tutorial, after running:

[code]
and then:

[code]

Version:

[code]

[2022-05-02 22:00] sharifelgamal commented on #9228
🎉 QEMU on M1 mac (almost) works!

- coredns and storage-provisioner aren't starting properly (coredns is never marked ready and sp crashes repeatedly)
- curl isn't getting installed, which at least breaks some of our health checks for GCR, this is confirmed by the ISO build logs skipping libcurl package

relevant logging:
[code]

[code]

coredns logs:
[code]

storage-prov logs:
[code]

[2022-05-03 05:23] kadern0 commented on #12842
@vuldin, if you follow the instructions [here](https://minikube.sigs.k8s.io/docs/contrib/building/binaries/) you can build minikube yoursel. You will have to use my git repo and checkout to the `issue-12842` branch

[2022-05-03 16:02] zhl49 commented on #11645
Change windows language to en-US will solve this problem. Currently, minikube adds/checks route by compare `route` command's output, which will changes based on system language.

We need a better way to examine the execution status of  `route` command.

[2022-05-03 16:26] fadesiderio opened #14090 "error start minikube"
**Los comandos necesarios para reproducir la incidencia**:

minikube start --driver=docker

**El resultado completo del comando que ha fallado**: <details>

* minikube v1.25.2 on Redhat 8.5
* Using the docker driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Pulling base image ...
! The image 'gcr.io/k8s-minikube/storage-provisioner:v5' was not found; un

[2022-05-03 16:50] meliwex commented on #13969
@avizen-j, @karinagrullon
After executing `minikube start --extra-config=kubelet.housekeeping-interval=10s`, the metrics of the Pods in `kube-system` namespace started to be shown(anytime), but whenever I want to check the metrics of my own created Pods, the metrics are unstable like:

[code]

Same error I get when I use minikube `metrics-server` add-on and just official manifest [kubernetes-sigs/

[2022-05-03 18:28] spowelljr opened #14091 "GUI: Support starting minikube with HyperKit"
When downloading a new `docker-machine-driver-hyperkit` permissions how to be set on the file that require `sudo`. However, the GUI doesn't have `sudo` permission, so a flow to support setting the permissions with the GUI will need to be designed and implmented.

[2022-05-03 18:39] spowelljr opened #14093 "GUI: Add update check and notify user if new version is available"
There should be an update check implemented so the user can be notified when there's a newer version of the GUI available.

For the first iteration of this it should be very basic:
- Check for a new iteration on GUI startup
- If a new version is detected notify the user via a message box with a link to the download

Future features:
- Have a don't remind me again option to the update
- Don't re-re

[2022-05-03 21:21] medyagh commented on #9228
I tried with this PR and this ISO sharif gave me, and I see also corednes pod saying

[code]

in kc logs of cordns iit shows same thing
[code]

[2022-05-03 22:26] medyagh commented on #11645
seems like an easy fix, I would accept any PR that fixes this relying on English text for the tunnel command

[2022-05-04 01:33] karinagrullon commented on #13969
@meliwex
That's the same error I used to get before starting `minikube start --extra-config=kubelet.housekeeping-interval=10s`, but I am not getting it anymore after applying it, even with my own pods its working fine for me.

Do you disable metrics-server add-on when applying the official manifest?

Also, do you do [these fixes](https://lifesaver.codes/answer/error-metrics-not-available-yet-247)

[2022-05-04 06:26] meliwex commented on #13969
@karinagrullon

I noticed a new thing that the metrics are shown for some of the Pods but not for all. I guess it depends on the image.

[code]

[2022-05-04 12:13] #13987 closed

[2022-05-04 12:35] vuldin commented on #12842
hey @kadern0 , it looks like I still have the same issue. Here is the output:
[code]

I have ensure grub options are in place to enable setting the cgroup swap limit, and I can follow all steps shown in this blog post and they work:
https://fabianlee.org/2020/01/18/docker-placing-limits-on-container-memory-using-cgroups/

Let me know if there is anything else to test.

[2022-05-04 12:40] Ram7378 opened #14095 "Error in Start"
### What Happened?

Problem in minikube start command

### Attach the log file

![Screenshot 2022-05-04 180911](https://user-images.githubusercontent.com/76605185/166682805-f2b322d0-d93a-4f30-a355-5c49af17b85b.png)

### Operating System

Windows

### Driver

Hyper-V

[2022-05-04 13:09] dhelfgen commented on #13736
I'm having the same issue with windows. How do I use the exe-file? Just replace the exe-file in the installation?

[2022-05-04 14:54] jaisonjs83 opened #14096 "Unable to deploy ingress controller"
### What Happened?

minikube.exe addons enable ingress
  - Using image k8s.gcr.io/ingress-nginx/controller:v1.1.1
  - Using image k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.1.1
  - Using image k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.1.1
* Verifying ingress addon...

Getting the below error

e
[logs.txt](https://github.com/kubernetes/minikube/files/8621416/logs.txt)
[minikube_addons_

[2022-05-04 14:59] fuzhouch commented on #13565
Hey, @djnotes Did you successfully create VM by running `podman machine init --cpus=2 --memory=3900` before running minikube?

Sorry for late response. Actually I also noticed the podman version minikube on my machine still has more issues when minikube shutdown. So following suggestion above I also switched to KVM2 driver. If it's not a must to use podman+minikube combination, I also suggest usin

[2022-05-04 17:22] djnotes commented on #13565
Hi @fuzhouch. Thank you for the snippet. I was able to create the VM using kvm2 driver.

[2022-05-04 17:23] anowak-ct opened #14097 "Exposing endpoint with "minikube service <svc>" does not work"
### What Happened?

I am new to k8s and minikube. I followed the install instructions for windows,. Unfortunately, I cannot get the "echoserver" test to work as outlined in https://minikube.sigs.k8s.io/docs/handbook/controls/

I am using cygwin in Windows 10 (latest updates installed) with `alias kubectl='minikube kubectl --'`
Docker is using WSL2

# Steps and output:

-  `minikube start`

[code]

[2022-05-04 17:35] anowak-ct commented on #14097
Update:
The alternative to `minikube service <svc>`, i.e.  \using kubectl to forward the port:

`kubectl port-forward service/hello-minikube 7080:8080`

[2022-05-04 18:11] djnotes commented on #13565
The podman driver does not work yet though

[2022-05-04 18:18] afbjorklund commented on #13929
Perhaps verify the logic from https://github.com/kubernetes-sigs/kind/pull/2289/commits/45c5aa40234752cdb65fd353e553ff13f0945c13

And compare `iptables-legacy-save` and `iptables-nft-save` output

[2022-05-04 18:24] klaases commented on #13432
Un-assigning @MdSahil-oss, please feel free to re-assign if still actively working on this issue.

[2022-05-04 18:25] klaases commented on #13970
Hi @[chendjoulevis](https://github.com/chendjoulevis) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* T

[2022-05-04 18:25] #13970 closed

[2022-05-04 18:26] klaases commented on #13819
Hi @Scannery  – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line use

[2022-05-04 18:26] #13819 closed

[2022-05-04 18:27] klaases commented on #13738
Hi @[vraghavach](https://github.com/vraghavach) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exa