[2019-07-24 11:25] itsallonetome commented on #4789
`kubectl patch deployment coredns -n kube-system --patch '{"spec":{"template":{"spec":{"volumes":[{"name":"emptydir-tmp","emptyDir":{}}],"containers":[{"name":"coredns","volumeMounts":[{"name":"emptydir-tmp","mountPath":"/tmp"}]}]}}}}'`

gets me to:
[code]
and
[code]

[2019-07-24 11:52] itsallonetome commented on #4789
... so now I'm back to my certificate error again.

[2019-07-24 12:35] wangxiaodong628 opened #4860 "Can't contact gcr - waiting for apiserver: timed out waiting for the condition"
minikube start --docker-env=HTTP_PROXY=$HTTP_PROXY --docker-env HTTPS_PROXY=$HTTPS_PRO
XY --docker-env NO_PROXY=$NO_PROXY
Error caching images:  Caching images for kubeadm: caching images: caching image C:\Users\user-xyz\.minikube\cache\images\gcr.io\k8s-minikube\storage-provisioner_v1.8.1: fetching remote image: Get https://gcr.io/v2/: dial tcp 74.125.203.82:443: connectex: A connection attempt f

[2019-07-24 14:25] laozc commented on #4804
Domain not found: no domain with matching name 'minikube' indicates that the VM was not created.
Could you run egrep --color 'vmx|svm' /proc/cpuinfo on the VM and check if nested virtualization is supported on the guest type?

I was able to run minikube on a Standard D4s v3 (4 vcpus, 16 GiB memory) VM with kvm2 driver.
https://www.brianlinkletter.com/create-a-nested-virtual-machine-in-a-microsoft-

[2019-07-24 15:08] bzied321 commented on #4540
Hi, I experienced the same problem on macOS Mojave 10.14.5 and fixed it using suggestions from other issue threads. Reinstalling both VirtualBox and minikube did not fix anything - the source of my problem was being connected to Cisco AnyConnect VPN. Here are the steps I used:

$ minikube stop
$ minikube delete
$ brew cask uninstall minikube
$ rm -rf ~/.minikube ~/.kube
Go to https://www.virtualbo

[2019-07-24 17:17] kmayura1 commented on #4540
Thanks verymuch , you really solved my struggle working in vm inside Mac.. this really solved my issue. btw what is  --alsologtostderr -v=9?

[2019-07-24 17:27] bzied321 commented on #4540
@kmayura1 those flags do not fundamentally change the minikube start command.

--alsologtostderr : logs to standard error as well as files
-v=9 : parses logs into more human-readable format

[2019-07-24 17:34] #4851 closed

[2019-07-24 19:27] suranjanabasu commented on #2829
I got the exact same issue. The solution was to uninstall both minikube and reinstall it. Used the following to uninstall
minikube stop; minikube delete
docker stop $(docker ps -aq)
rm -r ~/.kube ~/.minikube
sudo rm /usr/local/bin/localkube /usr/local/bin/minikube
systemctl stop '*kubelet*.mount'
sudo rm -rf /etc/kubernetes/
docker system prune -af --volumes

brew uninstall kubectl
rm /usr/local/b

[2019-07-24 19:57] jbollman7 opened #4861 "hyperv: minikube fails to start windows 10"
`PS C:\Users\joseph.bollman\dev\kubernetes> minikube start --memory 8000 --cpus 2 --vm-driver="hyperv"                                                                                                                                                                                                                        * minikube v1.2.0 on windows (amd64)
* Tip: Use 'minikube start -p <name>' to crea

[2019-07-24 21:04] dcecile opened #4862 "parallels: `minikube mount`: attempted to get host ip address for unsupported driver"
Running `minikube mount` with the parallels driver gives this error message:

[code]

According to [the docs](https://github.com/kubernetes/minikube/blob/master/docs/host_folder_mount.md), this is preferred over relying on driver-specific mounting.

It's an issue for me right now because I can't figure out how to get share folders enabled through the Parallels UI to show up on the Minikube VM.

[2019-07-25 01:44] RA489 commented on #4829
@afbjorklund can we create separate documentation on Docker Machine?

[2019-07-25 01:45] RA489 commented on #4829
we can place docker_machine.md file here wdyt?
https://github.com/kubernetes/minikube/tree/master/docs

[2019-07-25 03:34] NanXuejiao commented on #3649
I faced the same thing, after restarting one my own pod, minikube apiserver turned to `Stopped`, and waiting for a long time maybe 5 minutes, apiserver restart well with "Running" status.
Apiserver restart manytimes, and other kube-system pod too, what happend to my minikube?
[code]

[2019-07-25 06:48] ashwini-git commented on #4804
@laozc
i get no result for egrep --color 'vmx|svm' /proc/cpuinfo , which suggest nested virtualization is not supported at Azure NV6 GPU VM.
Do you have any details on how to provision Azure VM for cluster workload , please share if you do.
Thanks for your response.
Regards

[2019-07-25 07:21] afbjorklund commented on #4862
How to get the host IP is unfortunately **not** covered by libmachine API at the moment...
That is: how to get the address of the host running minikube, as seen from inside the VM.

There is a workaround in minikube, but it needs driver-specific code in order to do it:

[pkg/minikube/cluster/cluster.go#GetVMHostIP](https://github.com/kubernetes/minikube/blob/e22b605e725e3bf0a2438c748b76f8e97ef680b

[2019-07-25 07:28] afbjorklund commented on #4855
I think that we need all three, there seem to be a lot of people struggling with this ?

They want to use Hyper-V, they forget to tell Minikube. So they create half a VirtualBox one,
and then it is in the way when eventually switching to Hyper-V. Thus, they need to delete it...

Then again, the main people seem to be people not reading **anything**, before "start".

[2019-07-25 07:34] RA489 commented on #4855
@afbjorklund I agree +1 in that case we can close this issue.

[2019-07-25 07:34] RA489 commented on #4855
@medyagh can we close this issue as per @afbjorklund comments. wdyt?

[2019-07-25 07:36] afbjorklund commented on #4853
For some reason it only has two packages, while all the others had three...

As you say, it is missing the "libvirt" package (which contains `virsh` bin)

The SuSE instructions on the other hand seem to be missing the daemon ?

[2019-07-25 07:39] afbjorklund commented on #4855
I think the better fix would be something similar to #4846, to use the "right" VM driver in the first place ?

And maybe we should recommend `minikube config set vm-driver`, so that `minikube start` "works" ?

[2019-07-25 07:45] afbjorklund commented on #4853
Not sure if `virsh` is actually _used_ for anything by the driver, but we do run it in the next step...

And as per above, the instructions should be the same for all the dozens of linux distributions.

See also #3552 (no tests)

[2019-07-25 07:46] medyagh commented on #4855
the issue I created this for was the number of Warning Icons, I agree with the message but I think there should be only one Warning Icon
and the second and third line should have empty icon.

I also like the idea of advising them to set it through
minikube config set vm-driver

[2019-07-25 07:55] afbjorklund commented on #4853
Seems to work with `libvirt libvirt-daemon-kvm qemu-kvm`

[code]

But naturally it is called something else on opensuse, maybe it _was_ included already ?

[code]

[2019-07-25 07:58] afbjorklund commented on #4855
Ah, OK - so it was more of a UX thing. Thought you meant the actual context ;-)

Maybe there should one BIG icon (as per ~#3724~), that should get their attention!

[2019-07-25 07:59] afbjorklund commented on #4855
A "preflight" might also be a good idea

[2019-07-25 08:12] medyagh commented on #4855
I actually like that better than Warning ! because I see this message myself a lot, and I dont like minikube showing warning icon to me, for a normal thing I do a lot ! I am down for an ASCI art like you did.

and also I like Anders suggestion to advice the user to Config Set it. anyone who wants to pick this issue up, I recommend having an indented UI for this. so they know this is all related to

[2019-07-25 08:16] nielstenboom commented on #4000
I had the same issue. What fixed it for me was starting the command prompt with administrator privileges

[2019-07-25 08:16] blueelvis commented on #4855
Just FYI, by default on Windows, emoji's are not displayed on PowerShell. There is a workaround for enabling unicode support IMO.

-Pranav

[2019-07-25 08:24] afbjorklund commented on #4855
@medyagh sorry for hijacking your issue

📎 Should make sure to label jokes

[2019-07-25 08:24] blueelvis commented on #4804
@ashwini-git - There are limited series which support Nested Virtualization in Azure. Following is a list (Anything 3 stars *** ) supports nested virtualization -

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/acu

Can you try creating a VM from that series and then see if it is working?

[2019-07-25 10:56] afbjorklund commented on #4853
Think suse is fine, it adds the `libvirt-daemon-driver-qemu` by default

[2019-07-25 10:57] #4853 closed

[2019-07-25 10:58] afbjorklund commented on #4853
@leonjia0112 Thanks for reporting!

[2019-07-25 11:03] blueelvis opened #4864 "Rework the documentation so that people use the "Default Switch" on Hyper-V"
**The exact command to reproduce the issue**: minikube start --vm-driver=hyperv --virtual-switch-name=""

This is something which I have observed on my own machine as well. Instead of asking the users (Atleast on Windows & Hyper-V), to create a new External Switch, use the Default Switch which is provisioned by Hyper-V.

The issue is described over here - https://superuser.com/questions/1266248/hy

[2019-07-25 11:07] longwuyuan commented on #4864
I don't have logs and screenshots but I was unable to use the default switch and ended up assuming that a manually created external vswitch in HyperV is a required essential. And coupled with the fact that it was a bridge as per my assumptions, I avoided it and moved to virtualbox so that I can have the reliability of NAT and not have to deal with  bridging my wifi interface and impacting my lapto

[2019-07-25 11:14] blueelvis opened #4865 "Autocompletion support for minikube on Windows/PowerShell"
PowerShell has auto-completion features for the native cmdlets. Lets see if we can have some support for auto-completion on Windows/PowerShell for minikube.

[2019-07-25 11:18] itsallonetome commented on #4789
#4350

[2019-07-25 11:18] blueelvis commented on #4859
Did you install Virtualbox after installing minikube? Or was it installed already?

[2019-07-25 12:08] josedonizetti opened #4866 "Noisy logs: `ERROR: logging before flag.Parse`"
After the k8s bump to 1.15.0, I started to see:
[code]

This was happening to k8s repo too. https://github.com/kubernetes/kubernetes/issues/17162

[2019-07-25 12:08] josedonizetti commented on #4866
/assing @josedonizetti

[2019-07-25 12:10] josedonizetti commented on #4866
/assign @josedonizetti

[2019-07-25 12:38] ashwini-git commented on #4804
@blueelvis I require gpu enabled computing on my kubernetes cluster , as D and E series Azure VMs are not gpu enabled , how m supposed to achive that if i install Minikube there.

Azure does provide Kuberenetes services , we are trying to avoid it since it bit costly.
Thanks

[2019-07-25 12:40] afbjorklund commented on #4804
Probably better to avoid nested virtualization wherever possible, and look into other options...

Such as https://github.com/kubernetes/minikube/blob/master/docs/vmdriver-none.md

[2019-07-25 12:42] AndreasBrieg commented on #1099
For me the comment of @thegridman didn't solve the problem of accessing the `minikube dashboard`. This was always stuck at the `Verifying dashboard health ...` step.

This can be worked around by just starting the proxy directly using `kubectl proxy --port==0`. This outputs the proxy host and port and you can open the browser for this host and proxy under path `/api/v1/namespaces/kube-system/servi

[2019-07-25 12:53] laozc commented on #4804
+1 for none driver.
You may install docker on the VM and then run minikube start --vm-driver=none, which will provision the kubernetes cluster directly on your VM.
You may need to open port 8443 for access to the kubernetes API server.

[2019-07-25 14:22] yinzara commented on #3735
I have seen that when a USB network adapter (like one found in a dock) is present, minikube fails to start after being stopped with the "Waiting for SSH..." message.  Using the new "--no-native-ssh" flag caused the problem to disappear (though there is debate about the flag and it probably will have its name changed before the PR is accepted).

[2019-07-25 14:24] kd2eom commented on #3869
Still having this issue while trying to deploy MinIO. Changing the YAML to say ReadWriteMany instead of ReadWriteOnce does not fix the problem.

[2019-07-25 15:00] tomncooper commented on #4467
I can confirm that setting `dynamic_ownership = 0` fixes this issue for me.

[2019-07-25 15:09] josedonizetti commented on #3975
/assign @josedonizetti

[2019-07-25 16:31] afbjorklund opened #4868 "Provide a different way of building images with minikube"
Currently we delegate all building of images to `docker`, using `minikube docker-env`.

This requires the user to install Docker on their machine, and then learn how to set it up...

https://kubernetes.io/docs/tutorials/hello-minikube/

[code]

[code]

If the user doesn't already have a local installation of docker, they can't build the image!

----

We could do better, by providing an abstraction

[2019-07-25 16:33] medyagh commented on #4868
+1

[2019-07-25 16:55] medyagh opened #4870 "Publish minikube performance metrics to gcs"
we should be able to upload file with minikube perforamnce metrics based on a test that will be added to the integration tests.

the test should measure
- minikube start up time from nothing (no cache) duration
- minikube start with cache duration
- minikube start after stop duration
- minikube stop duration
- minikube delete duration

the restul should include the VM driver name and kubetrnetes v

[2019-07-25 17:58] kindkid4 commented on #4587
THANKS A LOT

[2019-07-25 18:08] kindkid4 commented on #4587
Thx a lot,it fixed everything!

[2019-07-25 18:14] CristianTrejo commented on #4587
This worked for me.
Thanks!

[2019-07-25 18:19] medyagh commented on #4467
@sjug could you please confirm if the solution also works for you?

[2019-07-25 18:22] medyagh commented on #4481
Thanks for providing more info, we will look into it !

[2019-07-25 18:24] medyagh commented on #4500
@just-another-dude
I am curious if this is related to minikube none driver flaky stop ?

have you by chance killed minikube while it was trying to stop?

[2019-07-25 18:26] medyagh commented on #4506
@@eduardo4jesus are you still facing this issue ?

[2019-07-25 18:26] medyagh commented on #4515
@LennyCastaneda are you still facing this issue ?

[2019-07-25 18:27] sharifelgamal commented on #4861
Can you create a virtual switch in HyperV and add the `--hyperv-virtual-switch` parameter to your minikube command as described in https://github.com/kubernetes/minikube/blob/master/docs/drivers.md#hyper-v-driver

[2019-07-25 18:28] medyagh commented on #4532
I guess we could provide a better solution message, for people who have a super restrictive VPN that forces them to send local traffic to vpn !

[2019-07-25 18:31] medyagh commented on #4594
@chaimleib could you confirm the output of `sudo lsof -i :53`

[2019-07-25 18:35] medyagh commented on #4643
@flstaats Thank you so much for sharing for this work around you found , we totally need to provide a better solution message !

we should detect this and advice user to do the workarround you did !

I would be happy to review any PR that addresses this isssue !

[2019-07-25 18:37] medyagh commented on #4696
@Faisal16292 I am curious are you still having this issue ?

[2019-07-25 18:39] #4771 closed

[2019-07-25 18:47] medyagh commented on #4500
I supsect this is related to this https://github.com/kubernetes/minikube/issues/4418

[2019-07-25 18:51] LennyCastaneda commented on #4515
Yes I am. Kind of gave up on it for now.

If anyone has clear step by step instructions for running minikube on a Windows 10 machine I am open to any suggestions.

Thanks for your help in advanced.

Take care,

Lenny Castaneda
C: 714-414-5823
T: 619-431-0039

[2019-07-25 19:10] chaimleib commented on #4594
Copying from above:
[code]

[2019-07-25 20:20] medyagh commented on #4418
Please feel free to re-open this issue if seen again !

[2019-07-25 23:43] medyagh opened #4872 "CI: clean up inaccessiable virtualbox vms in CI"
[code]

TODO: add this script:
[code]

[2019-07-26 01:05] medyagh opened #4873 "integration tests error: fork/exec : no such file"
Suddenly all jenkins tests fail with
```: fork/exec /home/jenkins/out/minikube: no such file```

I suspect this be related to change of behaviour of os.exec
I think we need to provide full path to the minikube binary to the e2e binary.

https://github.com/kubernetes/minikube/blob/288024fd53dbfbb9629538eadd27c0af2d4c0117/hack/jenkins/common.sh#L80

[2019-07-26 02:02] josedonizetti commented on #4873
@medyagh could it be related to my last pr?

[2019-07-26 02:03] josedonizetti commented on #4873
I'm going to create a revert PR. Let's see what happens at Jenkins.

[2019-07-26 02:17] josedonizetti commented on #4873
Yeah, seems the flag parsing is breaking the exec/fork on tests.

[2019-07-26 02:19] medyagh commented on #4873
ah ok  ! the weird thing is, I saw the jenkins be broken on other tests before I merge it...such a weird issue !

[2019-07-26 02:53] medyagh commented on #4873
I wonder if we update the Cobra to latest version it would fix it ! I know our Cobra is way behind

[2019-07-26 06:02] hugomcruz commented on #4832
I have exactly the same issue just after installation. I also use vmwarefusion on mac as the driver. It started perfectly, then I stopped and then I tried to start I had the error above.
The only way to make it work is deleting the config: "minikube delete" and then start again.

[2019-07-26 06:26] #4873 closed

[2019-07-26 06:28] medyagh opened #4877 "clean up logs "logging before flag.Parse:""
we get noisy logs from parse flag,
[code]

it seems to be glog not playing nice ! (maybe we should migrate to klog like kubernetes soon)

seems to be related to
https://github.com/istio/istio/issues/2127
and they have found a workarorund

CC: @josedonizetti

[2019-07-26 06:35] medyagh commented on #4877
seems like it has been fixed in this PR https://github.com/spf13/cobra/pull/75

[2019-07-26 06:42] medyagh commented on #4866
it seems to be glog not playing nice ! (maybe we should migrate to klog like kubernetes soon)

seems to be related to
istio/istio#2127
and they have found a workarorund

[2019-07-26 06:42] #4877 closed

[2019-07-26 07:04] medyagh commented on #4866
related https://github.com/kubernetes/dns/pull/27

[2019-07-26 08:33] medyagh opened #4878 "Categorize the output of minikube help"
The current output of minikube help is just too much ! it would be nice if it be grouped into categories for better readability ! the same way that kubectl does it !

currently it looks like this:
<details>
<summary>
minikube help output :
</summary>
<pre>
Minikube is a CLI tool that provisions and manages single-node Kubernetes clusters optimized for development workflows.

Usage:
  minikube [com

[2019-07-26 09:55] medyagh commented on #4418
unfortunately this still happens, for some reason the systemctl wont release the port somttimes ! we need to add some proc kill in the code to release the port

[2019-07-26 11:56] CVirus commented on #4481
@medyagh Yes I am. But I face the same problem at home too.
Do you want me to test again from scratch at home to verify that it is also reproducible outside of the corporate network and VPN?

[2019-07-26 12:50] marcelser commented on #2564
/reopen

Why was this beeing closed at all. It's still valid and not solved

[2019-07-26 12:53] naresh-maven opened #4880 "issue with minikube start --vm-driver hyperv --hyperv-virtual-switch External""
I'm trying to get minikube working on Windows 10 Pro, on my laptop

executing:
minikube start --vm-driver=hyperv --hyperv-virtual-switch="Primary Virtual Switch"
* minikube v1.2.0 on windows (amd64)
* Creating hyperv VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0726 18:19:31.872558    1300 start.go:559] StartHost: create: precreate: vswitch "Primary Virtual Switch" not found

X Unable to start VM

[2019-07-26 14:00] 9527andy commented on #4835
same error, anyone can help on that?

[2019-07-26 18:45] medyagh opened #4881 "clean up hung kubectl proc in integeration tests"
currently it does not kill the ones owned by root because SUDO prefix is only done in NONE tests, I recommend killing them with sudo regardless of driver

https://github.com/kubernetes/minikube/blob/master/hack/jenkins/common.sh#L164

[code]

[2019-07-26 20:12] CloudCrusader commented on #3864
I manually removed a VM called minikube from Hyper-V on W10 Enterprise 1903 ,
running the 'minikube delete' command results in error.

running the 'minikube delete -p minikube' results in same error.
(minikube v1.2.0)

[2019-07-26 21:24] medyagh commented on #4881
closed by #4882

[2019-07-26 21:24] #4881 closed

[2019-07-26 21:35] medyagh opened #4883 "UI: Advice when user tries to set profile name to "delete" or "start""
to delete a minikube profile you need to do

```minikube delete -p prof_name```

but if you do

```minikube profile delete```

it will actually create a profile named delete. because that command sets  profile name.

we need to at lest add an advice to the user, that says

Did you mean to delete a profile ? and here is the command to delete profile !

I recommend the same approach for other key wo

[2019-07-27 14:25] bhanu011 commented on #4883
i would like to pick this up. /assign

[2019-07-27 14:49] bhanu011 commented on #4883
/assign

[2019-07-27 16:16] bygui86 commented on #4488
Sorry @tstromberg, any news about this flag?
Do you have the same issue?

[2019-07-27 17:08] mauriciomoccelin commented on #1341
## This script works for windows, import local image from Docker to Minikube Docker Daemon
[code]
#### Save image to output with specified name
`docker save -o "$output\$name" $image`

#### Connects to Docker registry inside Minikube
`& minikube docker-env | Invoke-Expression`

#### Load image saved to Docker registry inside Minikube
`docker load -i "$output\$name"`

#### Back to local docker regi

[2019-07-27 17:46] brunowego opened #4888 "Fail when run minikube (hyperkit) with cleanup"
**The exact command to reproduce the issue**:

[code]

**The full output of the command that failed**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>

[code]

</details>

**The operating system version**:

macOS 10.14.5
Kubernetes v1.15.1
minikube v1.2.0

[2019-07-27 19:59] medyagh opened #4889 "UI: Advice user when minikube profile is deleted"
When minikube profile is delete and try to do minkube ssh , it crashes with this error:

it should have a nice Advice message, that says your minikube vm is not running, try minikube start.

[code]

[2019-07-27 20:12] medyagh commented on #4883
its yours ! @bhanu011  let me know if you need help

[2019-07-27 20:29] medyagh opened #4890 "make "active profile name" clear in minikube output"
Here is a bit of confusing scenario:

set minikube profile to p1
[code]

then forget about it ( and a couple days try this )

``` /minikube start --vm-driver=hyperkit```

I would like the output to tell me that I am using a profile other than main one (minikube)

[code]

since I had set the profile a few days ago I totally forgot I was not using minikube main profile, and it added to my confusion

[2019-07-27 20:45] medyagh opened #4891 "Delete profile should Unset the current profile"
Delete profile should Unset the current profile

to reproduce:
1- create a minikube with profile p1 and p2
[code]
[code]

2- set the current profile  to p1

[code]

3- delete profile p1
[code]

4-
the current profile is gone from profile list (correctly) however if u check for current profile it shows the deleted one:
[code]

5- check for current profile
[code]

The fix should, after delete unset

[2019-07-27 21:23] medyagh opened #4892 "changing vm-driver from hyperkit to another should delete left over"
After user decides to replace hyperkit with another driver, we should delete the left over hyperkit.

to reproduce:

- minikube start --vm-driver=hyperkit

- minikube start --vm-driver=virtualbox

- pgrep hyperkit

the last one should return no more than 1 pid !

@josedonizetti do you have ideas how to tackle this ?

[2019-07-27 23:06] medyagh commented on #4490
closing in favor of https://github.com/kubernetes/minikube/issues/4592

[2019-07-27 23:06] #4490 closed

[2019-07-27 23:07] medyagh commented on #4648
closing in favor of https://github.com/kubernetes/minikube/issues/4878

[2019-07-27 23:07] #4648 closed

[2019-07-27 23:11] medyagh opened #4895 "CI: install specific version of golang for cross build"
currently the cross build script on jenkins, uses whatever golang available on the master,

to minimize variances,
I recommend we pin down the version to use same golang verison both in travis and jenkins

the cross build script in jenkins should check for go version, if not available install it.
https://github.com/kubernetes/minikube/blob/master/hack/jenkins/minikube_cross_build_and_upload.sh

Cu

[2019-07-27 23:50] loqutus commented on #4890
/assign

[2019-07-28 00:06] medyagh commented on #4890
@loqutus it is yours, please let me know if you need any help !

[2019-07-28 03:09] SLKTH commented on #4587
This works.

[2019-07-28 07:19] RA489 commented on #4889
/assign @RA489

[2019-07-28 07:52] RA489 commented on #4872
/assign @RA489

[2019-07-28 08:41] RA489 commented on #4606
/assign @RA489

[2019-07-28 09:45] kickthemooon opened #4899 "How to mount host directory with executable permissions"
`minikube mount --ip 192.168.99.1 c://host//directory:/home/minikube/vm/directory`

[code]

OS: Windows 10
minikube version: v1.2.0
VM-Driver: virtualbox

Unfortunately all the files mounted are not executable
`-rw-rw-rw- 1 docker docker   4128 Jul 23 05:52 Dockerfile`

When mounted in a pod:
[code]

None of the files are executable.

How to mount host directory allowing minikube and pods to execu

[2019-07-28 09:51] SujitNandan commented on #3728
sudo minikube start -p WithoutVM --vm-driver=none
😄  minikube v1.2.0 on linux (amd64)
🔄  Restarting existing none VM for "WithoutVM" ...
⌛  Waiting for SSH access ...
🐳  Configuring environment for Kubernetes v1.15.0 on Docker 18.09.7
    ▪ kubelet.resolv-conf=/run/systemd/resolve/resolv.conf
🔄  Relaunching Kubernetes v1.15.0 using kubeadm ...

💣  Error restarting cluster: waiting for apiserver: t

[2019-07-28 13:06] MuhammadHuzaifa99 opened #4900 "Sorry that minikube crashed."

[2019-07-28 13:33] norozmayar opened #4901 "minikube is not working"

[2019-07-28 15:38] kconde2 opened #4902 "Unable to download kubelet when run minikube start"
Hello, here is my problem with minikube starting :

OS : MacOS Mojave 10.14.5
Kubectl version :
![image](https://user-images.githubusercontent.com/43377621/62009360-8d77ed80-b15e-11e9-8253-d7af7a0eefd0.png)

Minikube error:
![image](https://user-images.githubusercontent.com/43377621/62009309-265a3900-b15e-11e9-802f-2ac9a0a40a8f.png)

Did you have same issue ? Do you know how to solve this ?
Thanks

[2019-07-28 16:29] kconde2 commented on #4902
I used `Hyperkit driver` on my Mac and everything is now working. I don't know if it's related to but it's now working.

[2019-07-28 17:06] kconde2 commented on #4902
![image](https://user-images.githubusercontent.com/43377621/62010415-b7371180-b16a-11e9-8b9f-81aa17111a22.png)

[2019-07-28 17:06] #4902 closed

[2019-07-28 17:29] bhanu011 commented on #4883
@medyagh when user tries to create profiles with reserved keywords(delete, start, stop, status, etc ...) system should restrict the user from creating and throw an error?

[2019-07-28 19:42] minishri opened #4903 "waiting for apiserver: timed out - when dynamic audit backend flags set"
**Steps to to reproduce**
_1. Start minikube with `minikube start`
2. Set an audit policy file in /var/lib/minikube/config
3. `minikube ssh` change the kube-apiserver.yaml in /etc/kubernetes/manifests and add the flags to enable dynamic audit backend.  Mount the audit config path as a volume into the apiserver container. Wait for the apiserver pod to get restarted
4. Stop minikube with `minikube s

[2019-07-28 21:28] medyagh commented on #4883
I would say exit with an Advice, and yes it should not allow you create a profile in the reserved names.

the reserved names could be the basic commands,
start,stop, status, delete, config

[2019-07-28 21:59] minhhungit opened #4905 "Hyper-V\New-VHD : Failed to create the virtual hard disk on win 10 - minikube-windows-amd64"
Hi team, I have this issue when trying to start minikube

I run this command to start minikube

**Note**: I deleted folder C:\Users\admin\.minikube before I run the command

Any tips please, thank you !!!!

---

Here is detail messages:

[code]

[2019-07-29 02:26] harpratap commented on #3511
@medyagh I am still facing the same issue
Minikube version = 1.2.0
Ubuntu 18.0.2 LTS
`sudo minikube --vm-driver=none start --cpus 8 --memory 8048`

[code]

[2019-07-29 07:17] daniel6244 opened #4906 "minikube start failed"
unable to start VM: create : creating: unable to start the VM : /usr/bin/VBoxManage startvm minikube --type headless failed:

VBoxManage:  error: VT-x is not available (VERR_VMX_NO_VMX)

[2019-07-29 08:10] afbjorklund commented on #4702
Addressed in #4790 by linking to the template _chooser_, instead of the default template (en-US)

https://github.com/kubernetes/minikube/issues/new/choose

- English (`__en-US`)
- عربى (`ar`)
- Español (`es`)
- فارسی (`fa`)
- Bahasa Indonesia (`id`)
- Kurdî (`ku`)
- Português (`pt-BR`)
- 中文 (Chinese) (`zh-CN`)

[2019-07-29 08:10] #4702 closed

[2019-07-29 08:14] afbjorklund commented on #4772
Was there any branch (or WIP) connected with this PR ?

[2019-07-29 08:18] RA489 commented on #4892
@medyagh Is it happening only for hyperkit with another driver or with another vm-drivers too?

[2019-07-29 08:31] afbjorklund commented on #4895
So this means we should build more of minikube in docker ? Or did you have another plan here ?

Seems to be using quite different methods now, random Travis-image vs random Jenkins-install :

[code]
[code]

It seems that most _builds_, are using the version that is in the "kube-cross:v1.12.5" image.

[code]

So far I can see a `gofmt` call, that is not respecting the `BUILD_IN_DOCKER` variable.

[2019-07-29 08:33] afbjorklund commented on #4895
Maybe it is enough to update the BUILD_IMAGE ?

https://github.com/kubernetes/kubernetes/tree/master/build/build-image/cross

https://github.com/kubernetes/kubernetes/commit/dfa46f8d479920b56807b18eacb4d1bab6817e96

[code]

[2019-07-29 09:32] olivierlemasle commented on #4806
This delay before failure is actually due to Kubeadm. I logged an issue there, that was closed because it's not currently possible: https://github.com/kubernetes/kubeadm/issues/1690

[2019-07-29 09:56] razerlock commented on #3802
Tried to check is there any VM running on Hyper-V Manager..

I have the same problem, after check on the Hyper-V Manager, there is one VM running, after I stopped the VM and starting to run the minikube, it is running well now.. Maybe out of resource, so the Minikube cloud not starting well..

Hope this is help..

[2019-07-29 11:01] ankit45621 opened #4908 "virtual machine has terminated unexpectedly - NS_ERROR_FAILURE (0x80004005)"
Hi,

I am trying to `minikube start` but i am getting below error:

😄  minikube v1.2.0 on linux (amd64)
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🔄  Restarting existing virtualbox VM for "minikube" ...
E0729 16:27:15.466915    6913 start.go:559] StartHost: start: Unable to start the VM: /usr/bin/VBoxManage startvm minikube --type headl

[2019-07-29 11:16] afbjorklund commented on #4895
Building the kvm2 driver uses the go version from the host. Maybe that was a bad idea ?

Need to set GO_VERSION, when building in CI at least.

[code]

Anyway, that is where the 1.12.5 in the logs is coming from.

`docker build --build-arg "GO_VERSION=1.12.5" -t gcr.io/k8s-minikube/kvm-build-image -f installers/linux/kvm/Dockerfile installers/linux/kvm/`

[2019-07-29 11:18] afbjorklund opened #4909 "Building drivers crashes on missing translations"
When trying to build either of the machine drivers, the build fails due to missing translations:

[code]

[code]

It requires this file to be generated (from JSON):
`pkg/minikube/translate/translations.go`

These files should not be needed nor used in the drivers, that are supposed to be lowlevel...

i.e. I don't think that we should have translation support, in the docker machine drivers code

[2019-07-29 11:32] afbjorklund commented on #4909
@medyagh @sharifelgamal anyone knows what is going here ?
Is `go build` flipping out because of using modules, or what ?

[code]

is there a good tool to show dependencies ?

[2019-07-29 11:53] afbjorklund commented on #4909
Using `go list -json` is not so bad, it shows all the dependencies:

`GOOS=darwin go list -json cmd/drivers/hyperkit/main.go`

`GOOS=linux go list -json cmd/drivers/kvm/main.go`

It is the usage of either of these two imports:

* `k8s.io/minikube/pkg/minikube/config`

* `k8s.io/minikube/pkg/util`

[2019-07-29 12:00] afbjorklund commented on #4909
I added the translations as a dependency, but don't really like it.

It is definitely going to block any upstreaming... 😢 #3939 #3169

[2019-07-29 12:03] josedonizetti commented on #4909
@afbjorklund I've just tried to build the kvm driver on master and it worked without problem with both `make out/docker-machine-driver-kvm2` and `go build -v k8s.io/minikube/cmd/drivers/kvm`.
Is this error related to the link PR?

[2019-07-29 12:04] afbjorklund commented on #4909
It is related so far as I started building the drivers clean, and noticed the issue when the files are gone.

[2019-07-29 12:12] fabricadd opened #4910 "E0729 13:52:54.361550 7044 start.go:559] StartHost: create: creating: exit status 1"
X Unable to start VM: create: creating: exit status 1

* Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
  - https://github.com/kubernetes/minikube/issues/new
PS C:\kube> minikube start --kubernetes-version="v1.10.11" --vm-driver="hyperv" --hyperv-virtual-switch="minikube"
* minikube v1.2.0 on windows (amd64)
* Tip: Use 'minikube start -p <name>' to create a ne

[2019-07-29 12:13] josedonizetti commented on #4909
Yeah, it fails. Probably related to https://github.com/kubernetes/minikube/blob/master/pkg/drivers/kvm/kvm.go#L28-L30

[2019-07-29 12:16] afbjorklund commented on #4909
The "constants" are OK, they're just hiding some strings. Will be a problem when upstreaming, though.

[2019-07-29 12:24] josedonizetti commented on #4909
@afbjorklund Agree. But constants are really simple to extract. Currently, the driver is using a function that depends on the translations directly  `util.CalculateSizeInMB(...)`:
https://github.com/kubernetes/minikube/blob/master/pkg/drivers/kvm/kvm.go#L107-L108

[2019-07-29 12:35] afbjorklund commented on #4909
Yeah, someone desperately wanted to tag a "mb" onto the default value...

The original driver only had these default as CLI flags, not in the driver code itself.
https://github.com/dhiltgen/docker-machine-kvm/blob/master/kvm.go#L102_L116

I can't really see why parsing the "millibytes" should be locale-specific, though.
(or why we can't spell MB, but maybe that is for our Windows friends or someth

[2019-07-29 13:21] josedonizetti commented on #4892
@medyagh Wonder if you got a different output here? When I run two `start` commands with different drives sequentially I get:

[code]

same thing for kvm2/linux

[2019-07-29 14:14] dcecile commented on #4862
@afbjorklund It seems like the command [might not work properly](https://stackoverflow.com/questions/17896984/how-to-get-the-ip-address-used-by-a-parallels-vm-from-the-host), and that the reliable way to do it is to install Parallels Tools inside the VM first then remotely execute `ip address show dev eth1 | grep ...`. Equivalently, we could use `minikube ssh` to do remote execution of `ip address

[2019-07-29 14:53] afbjorklund commented on #4862
As long as you get the **host** IP and not just the machine IP, it should be fine.
The only driver using `GetIP` is VMware, and then replaces the last digit with "1".

For instance, for the default VirtualBox the machine IP starts at 192.168.99.100
And the `vboxnet0` interface (hostonlyadapter2) normally gets adress 192.168.99.1

[2019-07-29 15:07] afbjorklund commented on #4866
Can this be fixed with the "initflag" hack, or do we need to revert k8s ?

Otherwise this will be blocking v1.3.0, can't release minikube like this...

[2019-07-29 15:12] blueelvis commented on #4606
I wonder how is it possible that Powershell is not in PATH on the system. I wonder if there is something wrong with the system because Powershell by default is always in Path...

[2019-07-29 15:12] josedonizetti commented on #4866
@afbjorklund I'm doing as many tests as possible today on this. Hopefully, we can release it without any problem, I'll write it back here if I think it's a go or not in a few of hours. Okay?

[2019-07-29 15:19] afbjorklund commented on #4909
Fixed in ea4aeafa9def77b1e6efc66f99613220f172ca71

[2019-07-29 15:42] ashwini-git commented on #4804
Hi , I used None driver approach and now kubectl is configured . I can see a Master node created.
How do i setup nvidia.com/gpu capacity now , there is a documentation for kvm2 driver -
https://github.com/kubernetes/minikube/blob/master/docs/gpu.md

Is there any details on to setup gpu plugin in this case ?

[2019-07-29 16:04] RadhaMuthukrishnan opened #4911 "virtual box"

[2019-07-29 16:13] afbjorklund commented on #4804
There should be an entry for "none" as well:

https://github.com/kubernetes/minikube/blob/master/docs/gpu.md#using-nvidia-gpu-on-minikube-on-linux-with---vm-drivernone

[2019-07-29 16:21] #4872 closed

[2019-07-29 16:35] afbjorklund commented on #4829
It's mostly about writing, I don't think we lack a place to put it (in the README and the docs)

The upstream docs live in this monster repository: https://github.com/docker/docker.github.io

* https://github.com/docker/docker.github.io/tree/master/toolbox

* https://github.com/docker/docker.github.io/tree/master/machine

[2019-07-29 16:49] brunowego commented on #4888
After tests and research, this steps solves my issue:

[code]

[code]

[code]

[2019-07-29 16:49] #4888 closed

[2019-07-29 17:12] #4658 closed

[2019-07-29 17:13] #4664 closed

[2019-07-29 17:17] #2914 closed

[2019-07-29 18:06] brichins commented on #4488
For what it's worth, I think you'd have to put the audit-policy.yaml file in a minikube directory that gets mounted by `kubeadm` to apiserver.  I'm guessing you'd need to access the kubeadm extraVolumes config (https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1).

[2019-07-29 18:22] afbjorklund commented on #4868
Nice talk about the general problem space (i.e. beyond just what minikube can provide and uses):
https://kccnceu18.sched.com/event/Dqu1/building-docker-images-without-docker-matt-rickard-google-intermediate-skill-level-slides-attached

[2019-07-29 18:37] davisford opened #4912 "How to enable addon (registry-creds) at startup?"
**The exact command to reproduce the issue**:

The limited documentation indicates you can enable an `addon` on minikube startup by putting something in the `~/.minikube/addons` folder.  But it doesn't say what to put there or how?

I want to configure the `registry-creds` addon to startup without having to manually configure it.

**The full output of the command that failed**:<details>

[code]

I

[2019-07-29 18:37] medyagh commented on #4883
@bhanu011 we had a discussion on this in minikube office hours.

Please sync with @josedonizetti  to handle this issue

[2019-07-29 18:40] bhanu011 commented on #4883
@medyagh ok @josedonizetti any changes to the design discussed in above comments?

[2019-07-29 18:44] medyagh commented on #4883
@bhanu011 yes we had a change in design, you could still work on it if you like, please sync with @josedonizetti for any help you need with this PR !

[2019-07-29 18:48] josedonizetti commented on #4883
@bhanu011 Currently if you do `minikube profiler NAME` this will create a new profile, and switch you to it. After discussing this today we thought that profile creation should only happen by the `start` command, and the `profile` should be only used to switch among existing profiles.

Basically, we need to change `profile` to validate if a profile exists before switching and if not warn the user.

[2019-07-29 19:01] bhanu011 commented on #4883
i am done with code according to previous design i was just writing unit test cases. I would like to continue working on this. Here are few questions I have
1. where can i get all existing profiles? is it from this folder~/.minikube/profiles/ or is there any better way?
2. What should happen when user trying to create profiles with kind of reserved words like delete, stop etc? Do we need to allow

[2019-07-29 19:04] davisford commented on #4912
The docs indicate:

Not clear what that means?  Do I `git clone` the `registry-creds` repo into that folder or....?

[2019-07-29 19:12] josedonizetti commented on #4883
@bhanu011

1. https://github.com/kubernetes/minikube/blob/master/pkg/minikube/config/profile.go#L40
2. Yup, no validation here, if the user intentionally do `minikube start -p delete` it's okay

[2019-07-29 19:18] bhanu011 commented on #4883
3. If user tries to create profile with `minikube profile delete` do we need to show any info message like use `minikube delete -p prof_name` for deleting

[2019-07-29 19:22] vkroz commented on #4826
I have similar problem, minikube hangs and eventually crashes on `minikube start`. Same platform/versions as mentioned by @eluricharter

[code]

[2019-07-29 19:30] khayamgondal commented on #4735
@medyagh The goal here is to change the function's implementation to make copy work?

[2019-07-29 19:34] josedonizetti commented on #4892
What I think is the problem here is that if we do:

[code]

then do a clean start using the virtualbox driver:

[code]

We get the vm-driver as `virtualbox` although this vm is still on kvm2:

[code]

What we need to do here is not set the vm-driver to `virtualbox` on the second start.

@medyagh ???

[2019-07-29 19:51] medyagh opened #4913 "Failed to start kvm when virtualbox is running"
I saw this error on integeration tests for the https://github.com/kubernetes/minikube/pull/4857 PR, @josedonizetti found out through these related issues that you can not run KVM and virtualbox at the same time.

Related:
- https://www.agix.com.au/kvm-error-ioctlkvm_create_vm-failed-16-device-or-resource-busy/
- https://github.com/CanonicalLtd/multipass/issues/6
- https://tech.blog.sue.ss.it/2014/

[2019-07-29 19:52] josedonizetti commented on #4913
/assign @josedonizetti

[2019-07-29 19:54] josedonizetti commented on #4891
/assign @josedonizetti

[2019-07-29 19:58] josedonizetti commented on #4883
@bhanu011 That's the thing, `minikube profile` won't create profiles anymore. It will be only to switch among existing profiles, creating will only be done by `start`.

[2019-07-29 20:08] medyagh opened #4914 "Integration Scripts: install consistent version of tools in integration tests"
We need to have same version for the following tools for integration tests:

- golang
- kubectl version
- virtualbox
- docker
- libvirt

[2019-07-29 20:46] medyagh commented on #4913
Also related error on the virtualbox part

[code]

<details>
<summary>
+ Full log
</summary>
<pre>
Started by upstream project "[8mha:////4NGhUwoSlzKp6t8AQLvb63Jzd9w8scWd3UmWXaeS7tsRAAAAnR+LCAAAAAAAAP9b85aBtbiIQTGjNKU4P08vOT+vOD8nVc83PyU1x6OyILUoJzMv2y+/JJUBAhiZGBgqihhk0NSjKDWzXb3RdlLBUSYGJk8GtpzUvPSSDB8G5tKinBIGIZ+sxLJE/ZzEvHT94JKizLx0a6BxUmjGOUNodHsLgAzuEgZB/az8JH2n0syclHjnovziYn0A9i4RNsYAAAA=

[2019-07-29 22:00] sharifelgamal commented on #4914
Do we know what specific version of these we want to pin to?

[2019-07-29 22:04] #4878 closed

[2019-07-29 22:09] nicolaferraro commented on #4604
Deleting the daemonset isn't really a workaround, as it gets recreated by the addon. Does anyone know a proper workaround until the fix gets released?

[2019-07-30 00:25] #4487 closed

[2019-07-30 00:33] kameshsampath commented on #4604
Nicola Staying with 1.1.1 ;)

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Nicola Ferraro <notifications@github.com>
Sent: Tuesday, July 30, 2019 6:10:05 AM
To: kubernetes/minikube <minikube@noreply.github.com>
Cc: Kamesh Sampath <kamesh.sampath@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [kubernetes/minikube] Minikube connection to internal

[2019-07-30 03:00] RA489 commented on #4913
@medyagh @josedonizetti While debugging this issue i am getting below output.

[2019-07-30 03:05] bhanu011 commented on #4883
@josedonizetti ok got it, i will implement changes

[2019-07-30 06:14] RA489 commented on #4912
@davisford You just to go into .minikube/addons directory after successfully installing it. Place your addons you wish to be launched and start/restart the minikube using

[2019-07-30 06:15] RA489 commented on #4912
/assign @RA489

[2019-07-30 06:23] RA489 commented on #4906
@daniel6244 can you please provide bit more details about the issue you are facing.

[2019-07-30 06:25] RA489 commented on #4906
/assign @RA489

[2019-07-30 07:49] nicolaferraro commented on #4604
That's a good idea ;)

[2019-07-30 08:24] afbjorklund opened #4919 "Need someone to push the kvm-build-image"
Currently we rebuild the docker image every time, not very efficient ?

https://storage.googleapis.com/minikube-builds/logs/4918/build.txt
[code]
Need someone with permissions, to push the image to `gcr.io/k8s-minikube`

Preferrably _after_ the go version has been updated to 1.12.7:  #4917

----

Also my `docker pull` check was bad, should check for a _local_ image first.

Something like I do else

[2019-07-30 08:30] afbjorklund commented on #4914
I think we have pinned `go version` to 1.12.7 in most places soon, maybe not `go test` though.

Most likely we want to use the very _same_ version of `kubectl` client as we have on the server ?

But why do we need to pin the docker client version ?

Not sure even the docker daemon version matters...

[2019-07-30 08:32] afbjorklund commented on #4913
I knew this ☺️ Just didn't know it was an issue. One at a time (without any reboot) is fine, though.

[2019-07-30 08:32] blueelvis commented on #4905
Thanks for reporting the issue!

Could you please ensure that you have enough space to create a 20GB disk?

-Pranav

[2019-07-30 08:33] #4909 closed

[2019-07-30 09:16] minhhungit commented on #4905
Thank you @blueelvis , you're right

I cleaned up my C:/ disk and it works

[2019-07-30 09:16] #4905 closed

[2019-07-30 10:40] deepdad commented on #1471
Port forwarding using VirutalBox NAT usually works, but with minikube, it seems like requests keep being routed to the host only network. When I use `./ncat -l -p 8080 --sh-exec "./ncat 127.0.0.1 8080"` on my Mac, I can get WAN access to the services on minikube:

[code]

<img width="651" alt="Screenshot 2019-07-30 at 12 36 42" src="https://user-images.githubusercontent.com/22483621/62122776-c6cb6

[2019-07-30 11:00] blueelvis opened #4920 "Change the error message when Config file is not available"
**The exact command to reproduce the issue**:
minikube-windows-amd64.exe start --alsologtostderr --v=8

**The full output of the command that failed**:<details>
The full output is correct but this first line kind of pops out -
[code]

</details>

**The operating system version**:
Windows 10 Enterprise.

Instead of showing it as an error, this needs a better solution message. Earlier, I used to see

[2019-07-30 11:07] afbjorklund commented on #4920
Should be shown as a **warning**, not as an error ?

[code]

The verbose log does have some "scary" messages.

I supposed you _could_ filter out `os.IsNotExist(err)`.

But then it is hard to catch parameters that are wrong.

[2019-07-30 11:11] blueelvis commented on #4920
My bad. Not an actual error but I mean that it should not state "Error" when clearly it is not an error but just that custom config is not present which needs to be applied.

[2019-07-30 11:17] afbjorklund commented on #4920
Apparently it will be a `viper.ConfigFileNotFoundError`
So could perhaps use that instead of os.IsNotExist

And seems like glog doesn't show the severity level.
You filter that using the -v flag, where 8 is quite high

[2019-07-30 11:52] afbjorklund commented on #4895
I believe that everything should use the docker version of go now, is there anything else ?

[code]

Travis is somewhat different, it uses the `gimme` tool: https://github.com/travis-ci/gimme

[2019-07-30 12:05] afbjorklund commented on #4895
For reference, here are the Docker images that are used:

https://github.com/kubernetes/kubernetes/blob/master/build/build-image/cross/Dockerfile

and indirectly https://github.com/docker-library/golang/blob/master/1.12/stretch/Dockerfile

The go binary distribution is from https://golang.org/dl/

[2019-07-30 12:43] afbjorklund commented on #4919
Added #4921 for the second part, getting the build image in a consistent fashion.

[2019-07-30 14:51] davisford commented on #4912
@RA489 _what_ do I put in that folder?  Just the `yaml` files...or the golang binary?  Is there an expected folder structure?

[2019-07-30 15:53] brichins commented on #4488
For what it's worth, I was able to create a policy file as `~/.minikube/files/etc/ssl/certs/audit-policy.yaml` since `/etc/ssl/certs` is already mounted by the apiserver container.

[code]

[2019-07-30 18:11] medyagh commented on #4914
@afbjorklund this ticket is targeted toward integration tests tools not building ones.

@sharifelgamal here is more context:

There should be shell scripts that each job calls to install tools required,
for example  :
the file https://github.com/kubernetes/minikube/blob/master/hack/jenkins/linux_integration_tests_virtualbox.sh
should call a script call linux_integration_tests_virtualbox.sh

that c

[2019-07-30 18:14] sharifelgamal commented on #4901
Could you provide the following details so we can better help with your issue?

**The exact command to reproduce the issue**:

**The full output of the command that failed**:

**The output of the `minikube logs` command**:

**The operating system version**:

[2019-07-30 18:16] sharifelgamal commented on #4900
Could you provide the following details so we can better help with your issue?

**The exact command to reproduce the issue:

The full output of the command that failed:

The output of the minikube logs command:

The operating system version:**

[2019-07-30 18:19] sharifelgamal commented on #4911
Could you provide the following details so we can better help with your issue?

**The exact command to reproduce the issue**:

**The full output of the command that failed**:

**The output of the `minikube logs` command**:

**The operating system version**:

[2019-07-30 18:19] medyagh commented on #4919
@afbjorklund how often are we gonna do this ? do you want someone for one manual push ?

[2019-07-30 18:21] medyagh commented on #4919
I could do that manually but preferably if you create a script in hacks/jenkins/ I can make a jenkins job out of it that we can run on demand

[2019-07-30 18:22] sharifelgamal commented on #4880
Could you check your HyperV Manager and make sure you have a virtual switch called "Primary Virtual Switch?" You might have to create it, as detailed https://github.com/kubernetes/minikube/blob/master/docs/drivers.md#hyper-v-driver.

[2019-07-30 18:26] sharifelgamal commented on #4908
It looks like VirtualBox failed to create the minikube VM. You might need to update or reinstall VirtualBox to fix an error like this. What OS are you using?

[2019-07-30 18:27] afbjorklund commented on #4919
To be honest I don't know how we did the `buildroot-image`, but not very often - like twice a year ?
They're based on Ubuntu LTS releases, so depends on how anxious we are about security updates:

FROM ubuntu:18.04

FROM ~ubuntu:16.04~ gcr.io/gcp-runtimes/ubuntu_16_0_4

@josedonizetti was suggesting to add a version - rather than just use `latest` like we do today.
But that was mostly for the `kvm

[2019-07-30 18:32] sharifelgamal commented on #4910
Could you provide the output of `minikube logs`? It would help us see what's actually happening while `minikube start` is hanging.

[2019-07-30 18:39] afbjorklund commented on #4919
Seems like we never pushed the other image either:

[code]

I'm not even sure that we **use** Docker for the building the ISO ?

---

Seems like some of the jenkins hacks just bypass the make targets:

[code]

[code]
i.e. it doesn't use out/minikube.iso and doesn't set BUILD_IN_DOCKER

[2019-07-30 18:41] afbjorklund commented on #4919
@medyagh : we can fix this for _next_ time, don't have to push anything now

[2019-07-30 19:11] #4919 closed

[2019-07-30 20:30] medyagh opened #4928 "CI: make our "Makefile" auto-completeable"
I use autocomplete for `make` but  some of our commands do NOT auto complete ! (and some do)

# Commands that DO have autocomplete:

[code]

but unfortunately some of them are not there, for example

- make e2e-darwin-amd64
- make out/docker-machine-driver-hyperkit
- and ...

I rather all the commands the developer need, be autocompletable, I am not make expert but I believe we need to add phony t

[2019-07-30 20:36] #4891 closed

[2019-07-30 20:51] #4895 closed

[2019-07-30 21:11] medyagh opened #4929 "Integration: automate download of periodic clean up script from github"
We need to make our agents to download the clean up script for agents.

the clean up script should do :

- download latest version of clean up code if failed to download or not changed, use the previous file.
- check if it is added to the cronjob if not add it.

[2019-07-31 04:17] ankit45621 commented on #4908
@sharifelgamal I also reinstall virtualBox same issue i am facing. I am using ubuntu 16.5

[2019-07-31 05:43] dineshtobe commented on #4472
C:\WINDOWS\system32>minikube start
* minikube v1.2.0 on windows (amd64)
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube
delete' to delete this one.
* Re-using the currently running virtualbox VM for "minikube" ...
* Waiting for SSH access ...
* Configuring environment for Kubernetes v1.15.0 on Docker 18.09.6
* Relaunching Kubernetes v1.15.0 using kubeadm ...
X Error res

[2019-07-31 05:44] dineshtobe commented on #4701
C:\WINDOWS\system32>minikube start
* minikube v1.2.0 on windows (amd64)
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Re-using the currently running virtualbox VM for "minikube" ...
* Waiting for SSH access ...
* Configuring environment for Kubernetes v1.15.0 on Docker 18.09.6
* Relaunching Kubernetes v1.15.0 using kubeadm ...

X Error re

[2019-07-31 07:18] BingerCoder commented on #3860
rm -rf ~/.minikube
and with --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers
works for me ~

[2019-07-31 08:40] ashwini-git commented on #4804
i followed the instructions at -https://github.com/kubernetes/minikube/blob/master/docs/gpu.md#using-nvidia-gpu-on-minikube-on-linux-with---vm-drivernone

when i try to view the status of deployment as from - https://docs.microsoft.com/en-us/azure/aks/gpu-cluster#view-the-status-and-output-of-the-gpu-enabled-workload

i get the error : -------
  Warning  FailedScheduling  54s (x2 over 56s)  defaul

[2019-07-31 10:03] ShwetaVa commented on #2439
The following set of steps helped me to resolve the issue

1. brew update
2. brew tap caskroom/cask
3. brew search virtualbox
4. brew cask info virtualbox
5. brew cask install virtualbox

[2019-07-31 10:50] afbjorklund commented on #4928
I can auto-complete out/docker-machine-driver-hyperkit, but not e2e-darwin-amd64 (only windows)

We normally call them "targets" rather than "commands", but I agree that we should provide them...

[2019-07-31 10:56] afbjorklund commented on #4928
I think the main reason is that we provide them using patterns, such as `e2e-%-$(GOARCH)`
I don't think the make completion in bash can handle variables, so it only shows the .exe copy

For similar reasons it doesn't show the normal targets, but only the phony aliases for them.
i.e. it now only shows linux/darwin/windows, but not `out/minikube-$(GOOS)-$(GOARCH)`

[2019-07-31 11:18] afbjorklund commented on #4928
You could add/rename the phony targets, so that we had one for each known real target:

[code]

That would probably _improve_ the current vague targets, and the magic "out" or $(BUILD_DIR)

[code]

[2019-07-31 11:24] afbjorklund commented on #4928
If we want to keep the current names (from #4579), we could provide _both_ of them:

[code]

Then @blueelvis can keep his short names, and there is less workflow interruption.

[2019-07-31 12:59] rootsongjc commented on #3870
Remove one of the boxes with the same IP address, that will solve this problem.

[2019-07-31 14:04] bygui86 commented on #4488
@brichins thanks for the tip! I will try once back from holidays :)
Meanwhile I found something like your example, but I was not able to test it yet.
Keep you posted on this!

[2019-07-31 14:05] bygui86 commented on #4488
@brichins can you share the `audit-policy.yaml` you used? I want to try to reproduce a sample same as yours

[2019-07-31 14:08] blueelvis commented on #4928
@afbjorklund - I am fine with what you have proposed. I had added those short names so that I don't have to build/deal with other targets when I am on Windows.

[2019-07-31 14:37] afbjorklund commented on #4928
For now it's just a shortcut, as in: minikube-**linux**-amd64
Until we have _two_ executables and _two_ architectures, it's fine...

If you don't give _any_ target, it will just build `out/minikube[.exe]`
And as you know, if you want _all_ targets then you `make cross`

[2019-07-31 16:30] medyagh commented on #4928
I rather we keep both names, since it is cheap ! but adds a lot of comfort to ppl who have developed muscle memory !

[2019-07-31 21:19] joshuarli commented on #1926
Anecdotal, but these errors seem to occur when resources (memory, disk) are underallocated/unavailable. The defaults (CPUs=2, Memory=2048MB, Disk=20000MB) work though.

[2019-07-31 21:31] medyagh opened #4932 "`minikube status` should not exit non-zero"
if minikube is not running and you do minikube status, it exists 1. I dont think it is an Error if you want your status to be not running !

[code]

this has caused weird error handling in integration tests

the same story goes if the status is stopped, the status command is returning 1:

$ ./out/minikube status --format={{.Host}}
Stopped
$ echo $?
1

[2019-07-31 23:53] tstromberg commented on #4838
Sorry: minikube only supports Kubernetes v1.10+ and newer:

You may have luck with an old minikube release from roughly the same time that v1.6 was released: https://github.com/kubernetes/minikube/blob/master/docs/configuring_kubernetes.md#selecting-a-kubernetes-version

[2019-07-31 23:54] #4838 closed

[2019-08-01 00:33] medyagh commented on #4656
closed by #4719 thank you @josedonizetti

[2019-08-01 00:33] #4656 closed

[2019-08-01 06:11] RA489 commented on #4932
/assign @RA489

[2019-08-01 06:23] AdnanHodzic commented on #4016
Are there any updates on this issue? I'm getting the same error:

[code]

[2019-08-01 06:48] cpoole commented on #1378
I have also encountered this running with kvm2. So that makes 4 hypervisors

minikube v1.2.0

[2019-08-01 07:22] AadityaGupta commented on #94
@tstromberg @afbjorklund, I would like to contribute in developing this? How can we proceed?

[2019-08-01 08:17] aningoo commented on #4051
When you want to use Hyper-V instead of the default vBox.

1) run CMD as admin
2) "minikube start --vm-driver hyperv"

[2019-08-01 08:49] deepdad opened #4937 "minikube tunnel -> X"
The readme says:

This is not really true. The NodePorts can be exposed to the host (when minikube uses the VirtualBox hypervisor) by adding port forwarding to the NAT network adapter or Sloka or Rodriguez' work arounds. You would expect that they are then reachable from the internet when port forwarding on your gateway (router). However, for some reason, the ports remain limited to the user (not

[2019-08-01 10:51] deepdad opened #4938 "a network Diagram for the VirtualBox"
Please add a network Diagram for the VirtualBox based minikube to the readme.

[2019-08-01 11:05] RA489 commented on #4912
@davisford  Put the required .yaml files for the addon in the minikube/deploy/addons directory.

[2019-08-01 11:07] afbjorklund commented on #4937
Please open a separate issue about this, it's a standard machine feature (that can be turned off)

[code]
It's controlled by a flag to `minikube start`:

     --disable-driver-mounts             Disables the filesystem mounts provided by the hypervisors (vboxfs, xhyve-9p)

[2019-08-01 11:12] xieyanker opened #4939 "minikube delete got "unrecognized option '--value'""
Hello, I start a k8s cluster by use minikube on my linux os, `minikube start --vm-driver=none`, but it seems that not normal when I run `minikube delete`.

**The exact command to reproduce the issue**:

**The full output of the command that failed**:
[code]

**The operating system version**:
4.4.0-131-generic #157-Ubuntu SMP Thu Jul 12 15:51:36 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

[2019-08-01 11:14] afbjorklund commented on #4928
Here it what it currently looks like: (with #4931). That is, when I press \<tab\> after make and space:

[code]

[2019-08-01 11:20] afbjorklund commented on #4939
It got added c60330078111eb559f21f288edcd11e861fef9c2, apparently it needs a newer systemd.

@medyagh : would it be possible to use something more portable ? Like parse the flag in the output

[code]

[2019-08-01 11:31] afbjorklund commented on #4938
Would be nice to have, most of it is the standard machine networking (thus #4829)

Basically there is the `eth0` (nat) and the `eth1` (hostonly), plus loopback and docker.

https://www.virtualbox.org/manual/ch06.html#networkingmodes

The NAT is mostly used for port forwarding SSH, in order to control the minikube VM.

Not sure if this will fit in the README, but should probably be in the documenta

[2019-08-01 12:49] xieyanker commented on #4939
@afbjorklund Thanks for your reply, it works when use `sudo systemctl show -p SubState kubelet`.

[2019-08-01 14:01] fgsl commented on #4068
I install minikube with curl in Ubuntu 18.04.2 LTS. When I tried to start it using Virtual Box 6.0, the result was:

[code]
I ran `minikube delete` and repeated `start`, but error goes on.

Then I ran again using parameters `--alsologtostderr -v=8` and the output was:

[code]

[2019-08-01 14:22] RA489 commented on #4920
/assign @RA489

[2019-08-01 14:57] CVirus commented on #4481
@medyagh The issue is reproducible on my home network with a minikube created from scratch.

[2019-08-01 15:52] CVirus commented on #4481
Was able to workaround the issue by using the kvm2 driver
`minikube start --vm-driver kvm2`

[2019-08-01 16:44] jfrabetti opened #4942 "proxy+VPN: apiserver: timed out waiting for the condition"
Hello,

I am on a Mac HighSierra 10.13.6.  I am on a VPN.  I set up my proxy for Docker in Docker Preferences, I can connect to my remote cluster using kubectl, I use the following commands to start minikube (I used actual proxy info):

vpn-135-210-77-42:~ jo$ export HTTP_PROXY='<proxy:port>'
vpn-135-210-77-42:~ jo$ export HTTPS_PROXY='<proxy:port>'
vpn-135-210-77-42:~ jo$ export NO_PROXY=localhos

[2019-08-01 17:26] medyagh opened #4943 "gvisor integration test missing testing failed event"
we have a func

`waitForFailedCreatePodSandBoxEvent` which is unused ! and currently we don't test gvisor failed event in case of disabling it.

https://github.com/kubernetes/minikube/blob/9916d7a4387787f522b3881f30c7effb1a61f432/test/integration/util/util.go#L405

We need improve the gvisor integration test

[2019-08-01 18:00] cpu100 opened #4945 "apiserver: timed out waiting for the condition (after power outage)"
Minikube fail to start after the PC unexpectedly loses power or is kicked:

[code]

I fell into this accident several times. I had to `minikube delete`, `minikube start`, then redeploy my development environment. This is very troublesome, is there a better solution?

[2019-08-01 18:09] tstromberg commented on #4671
The error message here is terrible, but the issue is that the blog article is incorrectly specifying -vm-driver (single leading dash) instead of --vm-driver (double leading dash).

I will admit that the error message is difficult to understand:

[code]

[2019-08-01 18:09] #4671 closed

[2019-08-01 18:12] tstromberg commented on #4594
Thanks for the info! It does appear that you have a DNS server (dnscrypt) which conflicts with the hyperkit DNS server. You can either use VirtualBox or kill the dnscrypt process before hand.

Closing as dupe of #3036

[2019-08-01 18:12] #4594 closed

[2019-08-01 18:17] tstromberg commented on #4945
minikube is designed to recover from most cases, but I'm sure there are edge cases we have not yet discovered.

Next time this happens, do you mind including the output of `minikube logs` and `kubectl get po -A`?

[2019-08-01 18:24] tstromberg commented on #4942
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

* The full output of `minikube logs`
* The full output of `kubectl get po -A`

Thank you for sharing your experience!

[2019-08-01 18:29] tstromberg commented on #4939
@xieyanker - Which version of minikube are you using? Did you build minikube from source?

[2019-08-01 18:29] #4912 closed

[2019-08-01 18:33] tstromberg commented on #4937
I don't quite understand what the issue is here? I understand that this is in reference to a design doc: https://github.com/kubernetes/minikube/blob/master/docs/tunnel.md

PR's are welcome.

[2019-08-01 18:37] tstromberg commented on #4932
I feel like 'stopped' should still return an error code, but a well defined one that differentiates between a general failure, 'stopped', and a failed cluster.

Thoughts?

[2019-08-01 18:38] chartheory commented on #4945
[journalctl.log](https://github.com/kubernetes/minikube/files/3458209/journalctl.log)
The log is a bit too long, I have uploaded it. @tstromberg

[2019-08-01 18:41] tstromberg commented on #4903
This error doesn't have to do with the flags, but it sounds like it was due to a corrupt or mismatched VM, and thus fixable by using `minikube delete`.

Please do not run `rm -Rf ~/.minikube` - it causes minikube to be unable to track what the hypervisor state is.

[2019-08-01 18:42] tstromberg commented on #4903
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2019-08-01 18:45] tstromberg commented on #4899
I suspect this issue may be Windows specific, as Windows does not natively have permissions for executable versus not. I'm not sure how to workaround this, though perhaps running chmod from inside the pod may help?

[2019-08-01 18:47] tstromberg commented on #4890
I prefer the first-line parenthesis approach better than repeating the profile name on every line.

[2019-08-01 18:49] tstromberg commented on #4865
Sounds like a nice feature to have!

[2019-08-01 18:51] tstromberg commented on #4864
Does this mean that minikube already uses the default switch if --virtual-switch-name is not provided?

If so #4079 isn't necessary.

[2019-08-01 18:55] tstromberg commented on #4862
This sounds reasonable. PR's welcome!

[2019-08-01 19:11] #4606 closed

[2019-08-01 20:30] medyagh commented on #4939
Thanks @xieyanker for creating this issue ! I will update the command with
`sudo systemctl show -p SubState kubelet`

Thanks @afbjorklund

[2019-08-01 20:40] medyagh opened #4949 "integration lab: install hyperkit on "mac mini 2" machine"
Currently we have two mac mini agents,

one of them runs both of hyperkit and virutalbox tests.
and the other one only runs virtualbox tests Mac Mini 2 and it is labeled (vbox) to only receive vbox jobs.

I had setup the "Mac Mini 2" agent but I have not had time to install hyperkit on it correctly to be used for jenkins.

adding this to the backlog.

CC:
@sharifelgamal

[2019-08-02 00:40] xieyanker commented on #4939
@tstromberg I build minikube from the latest source, and my ubuntu version is 16.04.

[2019-08-02 00:49] xieyanker commented on #4939
@medyagh OK, thanks!

[2019-08-02 01:53] tstromberg commented on #4347
Just checking in to see if there is anything I can to do to help this feature come into fruition. Thanks!

[2019-08-02 03:17] #4939 closed

[2019-08-02 05:44] dineshtobe opened #4951 "relaunch: waiting for apiserver: timed out waiting for the condition"
C:\WINDOWS\system32>minikube start
* minikube v1.2.0 on windows (amd64)
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube
delete' to delete this one.
* Re-using the currently running virtualbox VM for "minikube" ...
* Waiting for SSH access ...
* Configuring environment for Kubernetes v1.15.0 on Docker 18.09.6
* Relaunching Kubernetes v1.15.0 using kubeadm ...
X Error res

[2019-08-02 05:53] dineshtobe commented on #4951
C:\Users\edinrxx>minikube start
* minikube v1.2.0 on windows (amd64)
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Restarting existing virtualbox VM for "minikube" ...
* Waiting for SSH access ...
* Configuring environment for Kubernetes v1.15.0 on Docker 18.09.6
* Relaunching Kubernetes v1.15.0 using kubeadm ...

X Error restarting clust

[2019-08-02 06:28] dfang opened #4952 "minikube start failed on ubuntu 18.04 with snap installed docker"
on ubuntu 18.04,

docker installed by snap,

[code]
minikube installed from kubernetes/minikube releases.

[code]

[code]

[2019-08-02 08:02] afbjorklund commented on #4952
What does `sudo systemctl status docker` say ?

And do you see more of the actual issue, if you run minikube with `-v8 --alsologtostderr`

[2019-08-02 08:05] RA489 commented on #4952
@dfang Did you added your user to the docker group?

[2019-08-02 08:10] afbjorklund commented on #4952
@RA489: Why would that be needed to control the service ?

[2019-08-02 08:15] RA489 commented on #4952
@afbjorklund Just trying to reproduce the inssue on ubuntu 18.04.

[2019-08-02 08:23] afbjorklund commented on #4952
I suspect the snap installation is incompatible, and would suggest using the normal apt installation.

https://docs.docker.com/install/linux/docker-ce/ubuntu/

[2019-08-02 08:26] RA489 commented on #4952
Yeah it is working fine if we install via normal apt installation.

[2019-08-02 08:39] blueelvis commented on #4864
@tstromberg - No, that is not the case. That PR is necessary but I wonder when it will be merged...

[2019-08-02 09:00] dfang commented on #4952
yes, i switch to docker one-line script installer

[code]

[2019-08-02 09:01] dfang commented on #4952
i switched to one-line script installer
[code]

no errors in `systemctl status docker` output

[2019-08-02 09:45] dfang commented on #4952
root@i-m3k2jb32:~# minikube start --vm-driver=none
😄  minikube v1.2.0 on linux (amd64)
🔥  Creating none VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0802 17:42:04.707243    9684 start.go:559] StartHost: create: precreate: exec: "docker": executable file not found in $PATH

💣  Unable to start VM: create: precreate: exec: "docker": executable file not found in $PATH

😿  Sorry that minikube crashed.

[2019-08-02 09:47] sakshamkhanna commented on #4890
Hi, I don't see any progress on the issue.
If work is not underway, I'd like to pick it up

[2019-08-02 09:50] loqutus commented on #4890
sure, you can take it.

On Fri, Aug 2, 2019 at 11:47 AM Saksham Khanna <notifications@github.com>
wrote:

[2019-08-02 09:50] dfang commented on #4952
no, login and install docker as root user, no need to add to docker group

[2019-08-02 09:52] sakshamkhanna commented on #4890
/assign @sakshamkhanna

[2019-08-02 10:04] dfang commented on #4952
on ubuntu 18.04,

minikube installed by

[code]

docker installed by
[code]

[code]

[2019-08-02 10:27] dfang commented on #4952
start again with same command, no errors
[code]

but  pod/kube-controller-manager-minikube   CrashLoopBackOff

[code]

give up on running Minikube on ubuntu 18.04, I'll close this issue

[2019-08-02 10:27] #4952 closed

[2019-08-02 10:56] afbjorklund commented on #4952
@dfang: Thank you for reporting the issues when using docker installed using a snap.
We should probably add that to the documentation for the advanced `none` driver:

https://github.com/kubernetes/minikube/blob/master/docs/vmdriver-none.md

We should probably give a better solution message, when the runtime is missing.
i.e. if you choose docker, then you need docker. That is not really a "crash".

[2019-08-02 11:01] afbjorklund opened #4953 "Document that none driver doesn't work with snap docker"
Ubuntu 18.04

`sudo snap install docker`

https://snapcraft.io/install/docker/ubuntu

We should document that the snap installation of docker does **not** work with minikube...

[code]

And recommend the apt installation of docker (from Docker), when using the `none` driver.

See #4952

[2019-08-02 11:04] afbjorklund commented on #4953
Also ~#3083~

[2019-08-02 11:15] afbjorklund commented on #4614
@blueelvis : are we good to go, on recommending the `hyperv` driver for Windows 10+ ?

Or do we need some outstanding items like CI support still, that is blocking that change ?

[2019-08-02 12:34] blueelvis commented on #4614
@afbjorklund - I am waiting for the upcoming release where the bug of stopping the minikube cluster on Hyper-V is fixed. The bugs which you have mentioned are still in my mind (Hoping to finish them this weekend).

And yes, going forward, I would recommend Hyper-V for Windows 10+ and we do require the CI support for the long run. It is not a blocking change as from my experience with minikube and

[2019-08-02 12:52] fabricadd commented on #4910
Thanks for answering Sharif.
Where do I find these logs?....🤭

________________________________
From: Sharif Elgamal <notifications@github.com>
Sent: Tuesday, July 30, 2019 6:33 PM
To: kubernetes/minikube <minikube@noreply.github.com>
Cc: fabricadd <nelson.do-nascimento@laposte.net>; Author <author@noreply.github.com>
Subject: Re: [kubernetes/minikube] E0729 13:52:54.361550 7044 start.go:559] Star

[2019-08-02 13:12] sakshamkhanna commented on #4890
@medyagh minikube stop already displays the profile that is active. I don't think more information is required here
[code]

[2019-08-02 13:14] bhanu011 commented on #4883
@medyagh @josedonizetti sorry for posting here, but i am getting below error when doing ```
go build
# k8s.io/minikube/pkg/minikube/translate
../../pkg/minikube/translate/translate.go:77:12: undefined: Asset
[code]

[2019-08-02 13:32] wen-fei commented on #4291
anyone knows how to solve this problem?

[2019-08-02 13:48] wen-fei commented on #4291
see [issue213](https://github.com/machine-drivers/docker-machine-driver-xhyve/issues/213)

[2019-08-02 15:15] federicovagnoni opened #4955 "504 error running minikube on Windows with HTTP proxy"
Hi!
I'm trying to use learn Kubernetes, so I tried Minikube on Windows (10, 64-bit). The problem is I'm behind an HTTP Proxy. The Proxy is already set up in Windows, I always log in when I open up a Firefox session.

I followed the instruction in http_proxy.md setting up the 3 env variables (HTTP_PROXY, HTTPS_PROXY and NO_PROXY). I found out, thanks to another issue, that I had to set HTTPS_PROXY

[2019-08-02 16:45] davisford opened #4956 "minikube crash with Docker for Mac update today"
I use Minikube all day long on Mac OS Mojave.  Used it just fine this morning.  Earlier, however, Docker for Mac popped up an alert to download an update.  I did so.  Now, after `minikube delete` and then `minikube start --vm-driver vmware --cpus 4 --memory 8192` it won't start and always crashes.

Here is the crash log -- should I blow away my minikube cache?

[code]

<img width="735" alt="Screen

[2019-08-02 16:46] just-another-dude commented on #4500
Hey @medyagh , not that I can remember, anyway what do you recommend I do exactly?

[2019-08-02 17:04] sharifelgamal commented on #4910
Sorry for not being more specific, if you append `--alsologtostderr -v=4` to your `minikube start` call, you should get more verbose logs. If you want even more verbosity, you can make the `-v` number bigger.

[2019-08-02 17:10] fabricadd commented on #4910
Hi and thank you again for your feedback, Sharif.

Here's what I get as output to the command minikube start --kubernetes-version="1.14.3" --vm-driver="hyperv" --hyperv-virtual-switch="Minikube" --alsologtostderr -v=5:

PS C:\WINDOWS\system32> minikube start --kubernetes-version="1.14.3" --vm-driver="hyperv" --hyperv-virtual-switch="Minikube" --alsologtostderr -v=5
W0802 19:07:18.862541    2476 ro

[2019-08-02 17:19] Homan13 opened #4957 "Minikube does not start up in offline scenario"
I have been working on getting Minikube to start up in an offline environment, and am using the following guidance;

https://github.com/kubernetes/minikube/blob/master/docs/offline.md

I have tried pulling both the cache directory, as well as tarring up the entire .minikube directory from a previous successful build; in both cases Minikube is still reaching out to try and grab the ISO files from o

[2019-08-02 17:19] fabricadd commented on #4910
I also noticed just now that file "C:\Users\nelson\.minikube\config\config.json" is actually located in C:\Users\nelson\.minikube\profiles\minikube, as per screen capture below:
[cid:c24cdb9c-94a2-4a95-9cd6-ba44220fdb3e]

________________________________
From: n n <nelson_nascimento@live.com>
Sent: Friday, August 2, 2019 5:10 PM
To: kubernetes/minikube <reply@reply.github.com>
Subject: Re: [kubern

[2019-08-02 17:43] sharifelgamal commented on #4910
It looks like the VM isn't even starting anymore, have you tried doing a `minikube delete` and retrying a `minikube start` after?

[2019-08-02 17:53] davisford commented on #4956
Fixed via following steps:

* Upgraded `VMWare Fusion` (minor version upgrade)
* `brew cask uninstall minikube && rm -rf ~/.minikube`
* reboot
* `brew cask install minikube`
* `minikube start --vm-driver vmware --cpus 4 --memory 8192`

[2019-08-02 17:53] #4956 closed

[2019-08-02 18:13] fabricadd commented on #4910
Hyper-V seems to be running though.
Indeed, I cannot do minikube delete yet. But made some progress, as I did copy that missing file manually first. Thence that specific error disappeared. yet it  won't start minikube....

PS C:\Users\nelson\.minikube\config> cp C:\Users\nelson\.minikube\profiles\minikube\config.json .
PS C:\Users\nelson\.minikube\config> dir

    Directory: C:\Users\nelson\.minik

[2019-08-02 19:03] fabricadd commented on #4910
Hyper-V is running. Please see the virtual switch created:

[cid:7799a7db-5f84-4ada-9381-24ba6795baf8]

Do you think I'd better off trying to do the same on a Linux box inside WSL on Windows 10? I could try either Ubuntu (16.04 LTS or 18.04 LTS), openSUSE Leap 15.1, or Kali Linux. Which of these distros have the more mature/stable kubernetes environment ?

Thanks
________________________________
F

[2019-08-02 19:54] josedonizetti commented on #4883
@bhanu011 if you rebase from latest master you shouldn't get this problem, but you also should be able to do to `make pkg/minikube/assets/assets.go` to regenerate the `asset.go`

[2019-08-02 20:21] jfrabetti commented on #4942
Thank you for troubleshooting this, I would like to help as much as possible in this troubleshooting effort!  The full output of the minikube logs was attached in the previous post, but I started up minikube again and I am attaching the log (minikube_restart.log) and I could not run 'kubectl get po -A' ('kubectl get pods' did not make sense since no cluster) output.  I am using Cisco AnyConnect VP

[2019-08-02 20:34] tstromberg commented on #4957
For some reason minikube doesn't think you have a local ISO matching the default for the v1.2.0 release. Do you mind running these commands:

[code]

Alternatively, you can select --iso-url, but having a mismatched ISO version might cause complications.

[2019-08-02 20:51] fabricadd commented on #4910
Additional evidence of Hyper-V running:

[cid:398dc8d9-3505-4adf-aab8-d47523f9a2ad]
________________________________
From: n n <nelson_nascimento@live.com>
Sent: Friday, August 2, 2019 7:03 PM
To: kubernetes/minikube <reply@reply.github.com>
Subject: Re: [kubernetes/minikube] E0729 13:52:54.361550 7044 start.go:559] StartHost: create: creating: exit status 1 (#4910)

Hyper-V is running. Please see

[2019-08-02 20:57] Homan13 commented on #4957
Sure can, here you go;

ls -la
drwxr-x---. 2 vlabadmin vlabadmin       115 Aug  2 13:16 .
drwxr-x---. 5 vlabadmin vlabadmin        46 Jul 30 09:30 ..
-rw-------. 1 vlabadmin vlabadmin 137656320 Jul 30 09:28 minikube-v1.1.0.iso
-rw-------. 1 vlabadmin vlabadmin         0 Aug  1 16:19 .tmp-minikube-v1.2.0.iso770066608
-rw-------. 1 vlabadmin vlabadmin         0 Aug  2 13:16 .tmp-minikube-v1.2.0.iso9

[2019-08-02 21:09] medyagh commented on #4500
You can try starting or sotpping minkube with none and then kill it half way with Ctrl+c

Btw I merged a PR to the head master. That would fix flaky minikube stops

[2019-08-02 21:09] medyagh commented on #4500
I am curious if you have the issue with latest minikube on head master

[2019-08-02 22:12] rzr commented on #4722
IMHO, /usr/local should be used and not /usr/bin , which should be used by package manager for system...

[2019-08-02 22:17] rzr commented on #4756
It would help to have this hint printed in log of failure...

[2019-08-03 00:30] Eelis opened #4963 "Use configured DNS domain in bootstrapper kubeadm templates"
The following two lines specify `cluster.local`, but if minikube was started with `--dns-domain bla`, that domain should probably be used instead.

https://github.com/kubernetes/minikube/blob/ae9f406b3852802b14c6b797a51d41eedd6d85b1/pkg/minikube/bootstrapper/kubeadm/templates.go#L87

https://github.com/kubernetes/minikube/blob/ae9f406b3852802b14c6b797a51d41eedd6d85b1/pkg/minikube/bootstrapper/kube

[2019-08-03 01:21] mohibkhan-nedian opened #4965 "Unable to use kubectl even with proxy settings"
I am trying to use minikube. I am behind a proxy so I followed this article https://github.com/kubernetes/minikube/blob/master/docs/http_proxy.md. However, even after setting both no_proxy and NO_PROXY and other env var as mentioned in article, i am still getting

[code]

and then
[code]
I am using minikube using --vm-driver = none. Does this matter? Is there any workaround then in the above artic

[2019-08-03 01:36] mohibkhan-nedian commented on #4965
Also kubectl could not connect to Server version
[code]

[2019-08-03 03:04] georgeraveen commented on #4587
This works. thanks a lot

[2019-08-03 04:21] medyagh opened #4967 "start race: x509: certificate is valid for <ips>, not <ip>"
making issue out of  @tstromberg conversations n slack:

as seen in integration tests ( the parallel version)

 https://storage.googleapis.com/minikube-builds/logs/4966/Linux-KVM.txt seems to indicate that tests may be running kubelet commands against the wrong minikube context (race condition?).
[code]

more errors

[code]

I feel like it’s cleanest for certs to be per-profile, to avoid raciness.

[2019-08-03 06:11] medyagh commented on #4587
now that there is a solution ! I suggest this be added to the solution message !

[2019-08-03 07:06] afbjorklund commented on #4722
@rzr: that is #3718

Minikube does not use the package manager for installing kubeadm yet

[2019-08-03 07:52] afbjorklund commented on #4965
Did you add 127.0.0.1 to `no_proxy` ?

[2019-08-03 07:53] afbjorklund commented on #4965
We really should add a warning when using none with cpus/memory...

But at least in the new release it will show that they are **not** being used.

i.e. since you are running it on localhost, the current VM will be used

[2019-08-03 10:17] rzr commented on #3718
well do you agree that the minikube.deb package could write to /usr/bin
as long as there is a conflict with kubeadm.deb

grep -i Conflicts  ./installers/linux/deb/*deb*/DEBIAN/control

Is that correct ? I can open a PR to fix this

The nicer way would be to use alternatives links.

BTW, way isnt minikube.deb in same repo as other k8 debs ?

[2019-08-03 10:45] CodingSpiderFox opened #4970 "Minikube takes very long time after the message 'Done! kubectl is now configured to use "minikube"'"
When it seems that installation hast finished, my terminal is still blocked for a few minutes after the following message:

![Selection_001](https://user-images.githubusercontent.com/25173078/62410898-a06e4000-b5ec-11e9-9272-89793beacec6.png)

[2019-08-03 11:14] #2442 closed

[2019-08-03 11:57] afbjorklund commented on #3718
The minikube.deb will install `/usr/bin/minikube`, there should be no conflict ?

For the `none` driver, we will _either_ use `~/.minikube/cache` or the _other_ deb.
Currently we install `/usr/bin/kubeadm`, but that's a bug. Specifically, this one.

So far, minikube has just pulled the static binaries - and installed them to `/usr/bin`.
That  _should_ probably have been `/usr/local/bin`, but that'

[2019-08-03 11:59] afbjorklund commented on #3718
Sadly, not yet. There's some work under way, to improve this.

[2019-08-03 12:26] m-mohib-k commented on #4965
@afbjorklund Yes, 127.0.0.1 is there in the mentioned link. What is surprising is that even though I have set NO_PROXY env var, I get the message `⚠️  You appear to be using a proxy, but your NO_PROXY environment does not include the minikube IP (ip). Please see https://github.com/kubernetes/minikube/blob/master/docs/http_proxy.md for more details` . Since I am using --vm-driver=none, my minikube

[2019-08-03 12:32] mohibkhan-nedian commented on #4965
@afbjorklund Yes, 127.0.0.1 is there in the mentioned link. What is surprising is that even though I have set NO_PROXY env var, I get the message ⚠️ You appear to be using a proxy, but your NO_PROXY environment does not include the minikube IP (ip). Please see https://github.com/kubernetes/minikube/blob/master/docs/http_proxy.md for more details . Since I am using --vm-driver=none, my minikube ip

[2019-08-03 13:38] afbjorklund commented on #4965
Right, forgot that we still use the default/public IP for the none driver (#4313)

Anyways, then your `NO_PROXY` should contain the same as `$(minikube ip)`

I couldn't see the variables in the command above ?

Normally you have to use `sudo -E`, to keep variables.

[2019-08-03 14:03] mohibkhan-nedian commented on #4965
@afbjorklund Are you talking about the HTTP_PROXY, HTTPS_PROXY and NO_PROXY env vars? Well, latest minikube itself picks up HTTP_PROXY and HTTPS_PROXY env vars as I have observed from the output of `minikube start`, given in the description. Regarding NO_PROXY, I am confused because I ahve added my machine ip in NO_PROXY env var but still I get `⚠️ You appear to be using a proxy, but your NO_PROXY

[2019-08-03 14:06] mohibkhan-nedian commented on #4965
@afbjorklund I get same output if i start with the command in the given link

[code]

[2019-08-03 15:13] UkiahSmith commented on #3735
I experience this with:

macOS: High Sierra 10.13.6
minikube version: v1.2.0
using: --vm-driver hyperkit
hyperkit: v0.20180403-17-g3e954c

I was able to resolve it with [efengx's solution](https://github.com/kubernetes/minikube/issues/3735#issuecomment-479443305):

[code]

[2019-08-03 16:25] afbjorklund commented on #4770
Here is the current workaround, when using something like the default Docker on CentOS:

`sudo minikube start --vm-driver=none --extra-config=kubelet.cgroup-driver=systemd`

[2019-08-03 17:11] tstromberg commented on #4970
It looks like this is being run within a script, are you sure it's blocked on minikube? The only explicit call made after this message is printed is:

`_, err := exec.LookPath("kubectl")`

If minikube is running, do you mind sharing the output of:

`strace -f -p <minikube pid>`

[2019-08-03 17:51] Homan13 commented on #4957
Confirmed, closing issue.

[2019-08-03 17:51] #4957 closed

[2019-08-03 18:50] just-another-dude commented on #4500
@medyagh, Everything seems to work fine right now, thanks!

[2019-08-03 18:50] #4500 closed

[2019-08-03 19:01] CodingSpiderFox commented on #4970
You're right I'm running it from a script.

I will check that next time

[2019-08-03 19:34] BenHall commented on #4588
@tstromberg I'm finding it hard to isolate. With 1.2 I can't downgrade, and I can't use 1.15 with 1.1.

There are two issues I think

1) I understand why you added the verifying step, but kubectl reports "Running" while the checks are still happening and waiting for everything to start. Is it possible to "skip" this stage?

2) Is it possible to view the logs of kubeadm?

[2019-08-03 20:27] dan-compton commented on #4616
Bump -- just hit this myself

[2019-08-03 21:03] dubiZA commented on #4587
Anyone using WSL2 after running this commmand? Does WSL2 still work?

[2019-08-03 23:04] medyagh opened #4973 "minikube 1.2 hyperkit: IP address never found in dhcp leases file"
this error happens when I have high usage of my RAM, (compling and doing lint...)

I suspect this be due to low ram available, (because of simmilar issues

we either need better retry logic or better solution message:

this error is for the current 1.2 (not head)

<details>
<pre>
 $ minikube start -p=p42 --vm-driver=hyperkit
😄  minikube v1.2.0 on darwin (amd64)
🔥  Creating hyperkit VM (CPUs=2, Mem

[2019-08-03 23:48] AshwinDora opened #4974 "windows 10 - minikube start error - StartHost: create: creating: open /cache/iso/minikube-v1.2.0.iso: The system cannot find the path specified"
Precheck done in my system :-
system info shows below w.r.t hypervisor .
                         Hyper-V Requirements:     VM Monitor Mode Extensions: Yes
                          Virtualization Enabled In Firmware: Yes
                          Second Level Address Translation: Yes
                          Data Execution Prevention Available: Yes

Steps done installation of kubernets Minikube

[2019-08-04 01:50] yrong opened #4975 "minikube crash after restart os"
- after restart os and open terminal:

`The docker host is currently not running`

-  os info

`
➜  ~ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.2 LTS
Release:	18.04
Codename:	bionic
`

-  minikube version
`
➜  ~ minikube version
minikube version: v1.2.0
`

-  kubectl version
`
➜  ~ kubectl version
Client Version: version.Info{Major:"1", Minor:"15

[2019-08-04 02:08] Eelis commented on #4963
The effect of this bug is that `networking/dnsDomain` in the `ClusterConfiguration` entry in the `kubeadm-config` ConfigMap is set incorrectly.

[2019-08-04 03:21] AshwinDora commented on #4974
ok found out the problem. My environment settings and configuration was all messed up . Corrected and fixed the above problem.

[2019-08-04 03:21] #4974 closed

[2019-08-04 07:02] afbjorklund commented on #4965
You seem to be passing HTTP_PROXY (through some global configuration), but not NO_PROXY ?

So do that, something like: `sudo NO_PROXY=$NO_PROXY minikube start --vm-driver=none`

[2019-08-04 07:08] afbjorklund commented on #4975
This is "normal", if you have a non-existent and run the `docker-env` command:

[code]

It needs a better error message to be shown, and it is definitely not a "crash"...

To get the machine back again (after deletion), you run another `minikube start`.

[2019-08-04 07:14] afbjorklund commented on #4975
It is the `CheckIfHostExistsAndLoad` that returns an _error_ (not a `bool`) if it is non-existing:

[code]

This should probably find some other way of saying "everything was fine, but host is not there"

[2019-08-04 08:08] yrong commented on #4975
make sense

[2019-08-04 08:08] #4975 closed

[2019-08-04 10:54] mohibkhan-nedian commented on #4965
@afbjorklund Thanks, now I am not getting the error about NO_PROXY on minikube start.
[code]

But still kubectl does not seem to work.
[code]

[2019-08-04 11:05] norozmayar commented on #4901
norozmayar@mcb:~$ minikube start
😄  minikube v1.2.0 on linux (amd64)
💣  Unable to load config: open /home/norozmayar/.minikube/profiles/minikube/config.json: permission denied
norozmayar@mcb:~$ sudo minikube start
[sudo] password for norozmayar:
😄  minikube v1.2.0 on linux (amd64)
⚠️  Please don't run minikube as root or with 'sudo' privileges. It isn't necessary.
🔥  Creating virtualbox VM (CPUs=2

[2019-08-04 11:27] norozmayar commented on #4901
updated virtual box, now getting this error.

norozmayar@mcb:~$ sudo minikube start
[sudo] password for norozmayar:
😄  minikube v1.2.0 on linux (amd64)
⚠️  Please don't run minikube as root or with 'sudo' privileges. It isn't necessary.
🔥  Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...
E0804 16:23:06.580080   18404 start.go:559] StartHost: create: creating: Unable to start the VM

[2019-08-04 14:01] AshwinDora opened #4976 "VBoxManage.exe: error: The virtual machine 'minikube' has terminated unexpectedly during startup with exit code 1 (0x1)."
**My Oracle virtual box (6.0.10) is exiting when I run the 'minikube start' command. Below is the VBoxHardening.log towards the end file content showing some problem. Please provide me some clue to resolve this.**:  My operating system is windows 10.

The error I get in cmd prompt when i run 'minikube start' is -
--------------------------------------------------------------------
<details>
* mini

[2019-08-04 14:22] Enoxime commented on #4587
Works for me with Ubuntu even when installing Debian.

[2019-08-04 14:39] wuchuwei opened #4977 "none: apiserver: timed out waiting for the condition"
下面是执行后的结果。错误很明显。但我不知道为什么其它人可以成功。
请问我是哪里做错了。
[root@k8s ~]# minikube start --vm-driver=none
* minikube v1.2.0 on linux (amd64)
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Restarting existing none VM for "minikube" ...
* Waiting for SSH access ...
* Configuring environment for Kubernetes v1.15.0 on Docker 19.03.1
* Relaunching Kubernetes v

[2019-08-04 14:59] blueelvis opened #4978 "Cannot build on Windows using GNUMake"
**The exact command to reproduce the issue**: `make windows`

** Version of Make**:
[code]

**The full output of the command that failed**:<details>
PS D:\dev\minikube> make windows                                                                                                                              The syntax of the command is incorrect.
process_begin: CreateProcess(NULL, pwd, ...) failed.

[2019-08-04 15:07] afbjorklund commented on #4978
Please use Docker, when building on Windows. Only Linux is supported as a build environment.

`MINIKUBE_BUILD_IN_DOCKER=y make`

[2019-08-04 15:16] afbjorklund commented on #4978
Theoretically it should be possible to build on Mac, or by using MSYS2/WSL when on Windows.

But it is not really officially supported.

[2019-08-04 17:52] afbjorklund commented on #4978
Hmm, this might actually be a problem even _before_ docker is started. Just guessing, haven't tried.
Since we are running shell commands from make, that probably don't work very well on Windows.

[code]

_Access denied - CMD
Access denied - PKG
File not found - -TYPE
File not found - F
File not found - -NAME
FIND: Parameter format not correct_

So we might have to wrap that `find` hack in some var

[2019-08-04 17:53] afbjorklund commented on #4978
ping @tstromberg

[2019-08-04 18:12] blueelvis commented on #4976
Hi!

Thanks for reporting this issue! Could you please try the following -
- Could you please provide the output of `minikube logs`?
- Could you please try deleting the VM, deleting the ".minikube" folder and try again?
- Instead of trying to run it from Cygwin, can you try running it from a PowerShell prompt with Administrator privileges?

[2019-08-04 18:58] blueelvis opened #4979 "Changing VM hardware (memory, cores) has no effect after provisioning"
Pretty sure this would be the case with other drivers as well.
**The exact command to reproduce the issue**:
[code]

The cluster initially gets provisioned with the memory and CPU but if I start it again with new parameters, the VM is just started with the original values as you can see from the below screenshot -
![image](https://user-images.githubusercontent.com/6985763/62427882-88470f80-b717-11

[2019-08-04 19:20] AshwinDora commented on #4976
@blueelvis
 ->  I have provided the minikube error message and the VBoxHardening.log in my issue. Is there any other logs of minikube that you are looking for ?
-> W.R.T VM I have upgraded from 5.0.10 to 6.0.10 and deleted the .minikube folder multiple times still no luck.
-> W.R.T powershell I have read in so many places that its not compatible with virtual box and thats why used cygwin.

[2019-08-05 05:52] RA489 commented on #4953
/assign @RA489

[2019-08-05 07:29] federicovagnoni commented on #4955
I launch this command to create the minikube VM:

`minikube start --profile kubes  --docker-env http_proxy="%HTTP_PROXY%" --docker-env https_proxy="%HTTPS_PROXY%" --docker-env no_proxy="%NO_PROXY%"`

[2019-08-05 09:54] cpu100 opened #4981 "ERROR [COM]: No storage device attached to device slot 0 on port 29 of controller 'SATA'"
I'm using minikube under Win10 and found some errors in the log:

C:\\Users\\Some\\.VirtualBox\\[VBoxSVC.log](https://github.com/kubernetes/minikube/files/3466870/VBoxSVC.log)

[code]

[2019-08-05 09:57] zook96 commented on #4981
![image](https://user-images.githubusercontent.com/42709228/62456165-706c9b80-b7aa-11e9-8732-aacc38248c1e.png)

[2019-08-05 10:00] zook96 commented on #4981
The problem may be that minikube created VM with too many Port-Counts by default (In fact, only two were used).

[2019-08-05 10:44] xuanyuanyu168 opened #4982 "X Failed to update cluster: downloading binaries: downloading kubelet: Error downloading kubelet v1.15.0: failed to download: failed to download to temp file: download failed: 5 error(s) occurred:"
X Failed to update cluster: downloading binaries: downloading kubelet: Error downloading kubelet v1.15.0: failed to download: failed to download to temp file: download failed: 5 error(s) occurred:

* Temporary download error: Get https://storage.googleapis.com/kubernetes-release/release/v1.15.0/bin/linux/amd64/kubelet: dial tcp 216.58.200.48:443: connect: connection refused
* Temporary download er

[2019-08-05 12:25] rihardsk commented on #3566
I was having the same issue (even with kvm driver v1.2.0). Turns out that for me too conflicting `nftables` rules were at fault and `sudo nft flush ruleset` fixed the issue.

Now i just have to figure out what rules to add to `/etc/nftables.conf` to solve this properly.

[2019-08-05 16:22] tstromberg opened #4983 "head: ISO download progress bar display issues: repeat bars"
Reported by @medyagh - I can confirm that this affects both macOS and Linux

Repeatable using:

`rm -Rf ~/.minikube/cache/iso`

Appearance:

[code]

This does not appear to happen in the official v1.2.0 release.

[2019-08-05 16:39] tstromberg commented on #4983
My first attempt at bisecting the issue pointed to an unlikely commit:

[code]

The second attempt narrowed it down to a PR which at least introduced a go.mod change:

[code]

[2019-08-05 16:44] afbjorklund commented on #4983
Same problem seen here as well:

[code]

[code]

[2019-08-05 17:22] alexlapa commented on #3416
@tstromberg,

My case:
1. running pod in network=host (there are reasons :) )
2. pod listens 192.168.99.100: {{ bind_port }}  (minikube ip)
3. add livenessProbe.tcpSocket.port: {{ bind_port }}
4. liveness probes fails since it tries 10.0.2.15 ( node.InternalIP)

[code]
Fixes this issue.

[2019-08-05 17:28] tstromberg commented on #4983
04144ca1d42518e3edd8f2d2cf8e4354b6b00067 removed a line from go.mod, which pinned us to a particular version of a progressbar library;

`gopkg.in/cheggaaa/pb.v1 v1.0.6 // indirect`

This library is used by `jimmidyson/go-download`, which appears unmaintained, but used by minikube here (other parts now use `go-getter`).

[2019-08-05 18:37] MaurGi commented on #2481
the Mac /Users folder is not getting mounted, this still happens in 1.2.0 and on Mac OS `10.14.5`:
[code]

[2019-08-05 22:31] PeteLawler commented on #3890
I've just been toying with building debian arm64 on RPi so I can get a 64bit mongodb going for simple testing and was looking to use minikube over microk8s. I'm open to being convinced I'm on the totally wrong approach, but yeah to answer your question - me, I'm crazy enough to create my own use case hehe.

[2019-08-05 22:35] priyawadhwa opened #4985 "Pods can't find cached images in minikube with containerd"
Caching images doesn't work with the containerd backend, instead pods will always try to pull images from a remote registry even if they exist locally.

To reproduce, copy these files into a directory:

**Dockerfile**
[code]
**pod.yaml**
[code]

1. Build minikube from my branch (#4717), since I added support for caching local images on `minikube cache add` there
1. Run `docker build -t gcr.io/k8s-

[2019-08-05 23:33] #4983 closed

[2019-08-05 23:55] tstromberg commented on #3760
This issue was unintentionally closed.

[2019-08-06 00:54] binodluitel commented on #4826
I am not sure if it is the same issue but I am seeing similar behavior with my minikube after I updated my os x to version 0.14.6 (18G87) (macOS Mojave).
Minikube comes up and then stays in 🚀 Launching Kubernetes ... forever

This happens when I start minkube fresh

[code]

This happens if I stop and start minikube

[code]

I've attached
[minikube.log](https://github.com/kubernetes/minikube/files/

[2019-08-06 00:56] binodluitel commented on #4826
I am not sure if it is the same issue but I am seeing similar behavior with my minikube after I updated my os x to version 0.14.6 (18G87) (macOS Mojave).
Minikube comes up and then stays in 🚀 Launching Kubernetes ... forever

This happens when I start minkube fresh

[code]

This happens if I stop and start minikube

[code]

I've attached
[minikube.log](https://github.com/kubernetes/minikube/files/

[2019-08-06 03:10] tstromberg commented on #4979
I'm not sure if the machine drivers infrastructure allows on-the-fly hardware changing. I'm also not sure if there is a way we can detect whether the current VM has the correct hardware settings.

What we can do however is compare the current VM config with the previously saved one, and recreate the VM, preserving the new disk if at all possible. If preserving the disk isn't possible, we should pr

[2019-08-06 03:13] #4953 closed

[2019-08-06 04:26] tstromberg commented on #4391
Any update here?

The intent here is to preserve the ability users to download a single minikube binary, but still allow them to use the latest kvm2 driver if the pre-requisites have been fulfilled otherwise. This would for instance, make it easier for tools that want to embed minikube but not require additional privileges.

In a more perfect world, these users would all be installing minikube and

[2019-08-06 04:37] #4418 closed

[2019-08-06 04:38] #4575 closed

[2019-08-06 04:38] tstromberg commented on #4575
Haven't seen in v1.3.0.

[2019-08-06 07:08] afbjorklund commented on #4259
We should probably make the `none` driver use sudo, rather than root user ? See #3718

[2019-08-06 07:12] afbjorklund commented on #4087
Should probably enable the metrics by default, until we can improve upon the docker-centric situation

[2019-08-06 07:14] afbjorklund commented on #3760
I think we should make this the default (run `none` with sudo), and fix it as a part of #3718

[2019-08-06 07:19] afbjorklund commented on #4391
Only on the parallel effort, and we had some feedback about replacing other general system programs such as `kubectl` (in this case it would be `docker-machine-driver-kvm2` binary, for `docker-machine`)

Using the libvirt driver will _always_ require additional privileges (being part of the root-equivalent "libvirtd" group), but it could possibly avoid the `sudo` requirement by placing it somewher

[2019-08-06 07:23] afbjorklund commented on #4979
Normally you would change this in the machine JSON file, and then restart the machine...

I think minikube could do the same thing with the config, after the Load but before the Save ?

[2019-08-06 07:46] afbjorklund commented on #4979
This probably depends a lot on the driver... Some create external config, some pass parameters.

If it _does_ create an external object, then it does need the aforementioned synchronization step.

[2019-08-06 07:55] afbjorklund commented on #4978
I think we should just document that building minikube _requires_ GNU bash and GNU make ?

* https://www.gnu.org/software/bash/

* https://www.gnu.org/software/make/

It should not be a problem on the other platforms, so it mostly affects any Windows developers.

https://minikube.sigs.k8s.io/docs/contributing/building/

----

Wonder if building the out/minikube.exe itself works **without** Docker

[2019-08-06 08:23] BenHall opened #4990 "[1.13] Add wait=false as a minikube config"
Great to see `minikube start --wait=false` added which I think will help with #4588

It would also be extremely helpful if this could be set using `minikube config` so false can be the default value.

[2019-08-06 08:26] #4836 closed

[2019-08-06 08:26] #4837 closed

[2019-08-06 08:49] baikunthasahoo commented on #4626
getting error while installing minikube

[root@server1 ~]# minikube start
* minikube v1.3.0 on Centos 7.6.1810
! Please don't run minikube as root or with 'sudo' privileges. It isn't necessary with virtualbox driver.
*

! Ignoring --vm-driver=virtualbox, as the existing "minikube" VM was created using the kvm2 driver.
! To switch drivers, you may create a new VM using `minikube start -p <name> --v

[2019-08-06 10:29] afbjorklund commented on #2982
Packages are now available:

https://storage.googleapis.com/minikube/releases/v1.3.0/docker-machine-driver-kvm2_1.3.0.deb

https://storage.googleapis.com/minikube/releases/v1.3.0/docker-machine-driver-kvm2-1.3.0.rpm

No support for apt or yum yet.

[2019-08-06 10:29] #2982 closed

[2019-08-06 10:36] afbjorklund commented on #4391
deb
* https://github.com/kubernetes/minikube/releases/download/v1.3.0/minikube_1.3.0.deb
* https://storage.googleapis.com/minikube/releases/v1.3.0/docker-machine-driver-kvm2_1.3.0.deb

rpm
* https://github.com/kubernetes/minikube/releases/download/v1.3.0/minikube-1.3.0.rpm
* https://storage.googleapis.com/minikube/releases/v1.3.0/docker-machine-driver-kvm2-1.3.0.rpm

Maybe we should use GCS for bo

[2019-08-06 12:02] Omidpyph opened #4992 "Could not get the storage format of the medium 'boot2docker.iso' (VERR_NOT_SUPPORTED)"
<details>
minikube start
</details>
 <details>
😄  minikube v1.3.0 on Ubuntu 18.04
🔥  Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
E0806 16:29:54.928064   11890 start.go:723] StartHost: create: creating: /usr/bin/VBoxManage storageattach minikube --storagectl SATA --port 0 --device 0 --type dvddrive --medium /home/behpand/.minikube/machines/minikube/boot2docker.iso failed:
VBoxM

[2019-08-06 12:16] rzr commented on #4883
Relate-to: https://github.com/kubernetes/minikube/issues/4909

[2019-08-06 12:43] dyyce commented on #2554
@RafaelIoT
thank you! it was as simple as that.

[2019-08-06 13:06] den-is commented on #4100
same here with `minikube 1.3.0` on macos 10.14.6
[code]

[2019-08-06 15:00] cvila84 opened #4996 "Cannot create a new VM on git bash or cygwin"
Hello,

When using GIT bash or cygwin, it is no more possible to create a new VM the first time as it fails with the following error (and hangs):

[code]

Using winpty works but is not very convenient...

[2019-08-06 15:10] afbjorklund commented on #4996
Probably related to the emergency fix for #4983, don't think it was tested too much on Windows...

[2019-08-06 15:17] afbjorklund commented on #4992
Looks like the boot2docker.iso file got truncated or corrupted ? Try replacing it with a fresh copy...

`home/behpand/.minikube/machines/minikube/boot2docker.iso`

There should be one in the cache folder, or download a new one from the github release page.

[2019-08-06 15:19] longwuyuan opened #4997 "VBOX_VTX_DISABLED: This computer doesn't have VT-X/AMD-v enabled (v1.3.0)"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>

*
X command runner: getting ssh client for bootstrapper: Error dialing tcp via ssh client: dial tcp 127.0.0.1:22: connectex: No connection could be made because the target machine actively refused it.
*

[2019-08-06 15:21] longwuyuan commented on #4997
@blueelvis I could  provide additional info as needed

[2019-08-06 15:23] binodluitel commented on #4826
I downgraded my virtualbox to `[5.2.32](https://www.virtualbox.org/wiki/Download_Old_Builds_5_2)` following this issue https://github.com/kubernetes/minikube/issues/3022 fixed it for me. I am still not sure what is the issue though.

[2019-08-06 15:51] tstromberg commented on #4996
Interesting! Did this behavior change between v1.2.0 and v1.3.0? We're still using the same progressbar library, just a slightly different version of it. I suspect the error is raised here:

https://github.com/cheggaaa/pb/blob/40231cf7fa00b7c9098939b6a9e6f54f4b3ce020/pb_win.go#L115

@cvila84 - I currently don't have a way to duplicate this. Do you mind checking if adding this to
 `progressbar.go:5

[2019-08-06 16:01] tstromberg opened #4998 "Remove "Ignoring --vm-driver" warning"
Related to #4855 and #4614

This warning is noisy and is always doing the wrong thing. It's raised in two scenarios:

## 1. User has an existing non-virtualbox VM and runs `minikube start` - sees warning.

The user has not specified a --vm-driver here. We should quietly do what the user wants and resume their existing VM.

## 2. User has specified an existing VM, and runs `minikube start --vm-driv

[2019-08-06 16:07] tstromberg commented on #4100
@den-is Can you share the output of `env | grep KUBECONFIG`?

It sounds like you might have KUBECONFIG set to an invalid location in your environment.

[2019-08-06 16:37] medyagh commented on #4100
I am curious why your customse kubeconfig was not usable by minikube ! if this is the case ! minikube shouldn't have cared ! if it doest, we need to detect and let user know by a solution message.

[2019-08-06 16:41] den-is commented on #4100
@tstromberg and I think that is pointed to right location
[code]
I'm not sure why there is duplicate, but imagine it doesn't exist there, and there are many other "concatenated" kubeconfigs for different clusters

[2019-08-06 16:54] longwuyuan commented on #4997
and it works fine with Minikube Release v1.2.0 for Windows

![image](https://user-images.githubusercontent.com/5085914/62558276-56a88280-b896-11e9-886d-74b645fe2a0f.png)

[2019-08-06 16:55] cvila84 commented on #4996
On minikube 1.2, it is working with the following display:

[code]

On minikube 1.3 with winpty, it is working with the following display, which is quite different:

[code]

@tstromberg I will test later your proposal and will let you know

[2019-08-06 17:20] tstromberg commented on #3110
I believe the only thing left here is to add our package to apt.kubernetes.io

Does anyone happen to know how one does so?

[2019-08-06 17:24] tstromberg commented on #4992
Agreed. This is likely solvable by running `minikube delete`

[2019-08-06 17:29] tstromberg commented on #4997
First issue is #3900 - I wonder if us moving back to the upstream machine drivers introduced a regression. Are you on an AMD processor?

Second issue appears related to #4992 - I wonder if we have an issue upgrading VirtualBox disks?

[2019-08-06 17:36] longwuyuan commented on #4997
(1) am not on AMD processor
(2) I have to check #4992 but the same laptop with everything same worked with version 1.2 of minikube for windows

What info can i add here ?

[2019-08-06 17:43] SohailKhanPAK commented on #3974
Just about half an hour ago i faced same problem but i followed that 2 lines and i got the solution
try it !!

sudo apt-get update
sudo apt-get upgrade

[2019-08-06 17:49] tstromberg commented on #4716
Upstream request: https://github.com/kubernetes/release/issues/839

[2019-08-06 17:51] den-is commented on #4826
same here, but never exits
<details>
  <summary>minikube start output</summary>
[code]
</details>

[2019-08-06 17:53] blueelvis commented on #4996
@cvila84 - Just curious but is there a reason why you are using Cygwin/Git for Bash and not PowerShell or CMD?

+1 . Can reproduce this on my machine in Git for Bash.

[2019-08-06 17:56] tstromberg commented on #4996
Thanks for the update! I took a look at the old progress bar code, and nothing jumped out to me as to how it implemented a fallback from a full progress bar to the smaller version you saw.

https://github.com/jimmidyson/go-download/blob/master/download.go

It suspect the difference may come down to either the version of the pb library, or our use of pb.NewPool() rather than pb.NewProxyReader()

[2019-08-06 17:59] tstromberg commented on #4826
@den-is - do you mind sharing the output of `minikube logs`?

[2019-08-06 18:12] den-is commented on #4826
@tstromberg sure here you go
but damn
after initial creation and failed setup i did `minikube stop`
than for your request i just did `minikuber start`
and do not see error related to `clusterrolebinding` creation
but this:
minikube start > https://pastebin.com/bgq81a9u
minikube logs > https://pastebin.com/pk98Jw4z

tomorrow i will try to gather logs for the fresh `start`

[2019-08-06 18:20] blueelvis commented on #4996
@tstromberg -- I tried running after putting the line (which fails the compilation though so I returned without reader) and it is failing there -
[code]

[2019-08-06 18:36] Eelis commented on #4240
I have the same issue.

Output of `minikube status`:

    💣  Error getting bootstrapper: getting kubeadm bootstrapper: command runner: getting ssh client for bootstrapper: Error dialing tcp via ssh client: ssh: handshake failed: read tcp 127.0.0.1:60878->127.0.0.1:45871: read: connection reset by peer

Output of `ip r s`:

    default via 192.168.0.1 dev enp3s0 proto dhcp metric 100
    169.254.0.

[2019-08-06 20:13] tstromberg commented on #4997
Do you mind sharing the result of:

`dir C:\Users\me\.minikube\machines\minikube\boot2docker.iso`

[2019-08-06 20:17] afbjorklund commented on #4997
I'm not sure it was the libmachine change*, seems more like the new downloader has issues ?

\* confirmed above, not using an AMD processor and it would only explain the first issue anyway

[2019-08-06 20:36] afbjorklund commented on #3110
Current packages available at:
* https://storage.googleapis.com/minikube/releases/v1.3.0/minikube_1.3.0.deb
* https://storage.googleapis.com/minikube/releases/v1.3.0/docker-machine-driver-kvm2_1.3.0.deb

[2019-08-06 20:36] afbjorklund commented on #4716
Current packages available at:
* https://storage.googleapis.com/minikube/releases/v1.3.0/minikube-1.3.0.rpm
* https://storage.googleapis.com/minikube/releases/v1.3.0/docker-machine-driver-kvm2-1.3.0.rpm

[2019-08-06 20:50] afbjorklund commented on #4996
Apparently this is "normal", as in a difference between winpty and mintty (that MSYS2/Cygwin uses)

(says https://github.com/mintty/mintty/issues/482)

So I think you need to file a bug with github.com/cheggaaa/pb, to check for a MinTTY on Windows ?

[2019-08-06 20:57] longwuyuan commented on #4997
I deleted 1.3 and installed 1.2.0 now ;

[code]

[2019-08-06 21:02] afbjorklund commented on #4997
Can you repeat with 1.3.0 ? That old one looks to have the right file length:

135616512    minikube-v1.2.0.iso

137441280    minikube-v1.3.0.iso

The strange thing is that the library _should_ verify the SHA256 of the download.

[2019-08-06 21:20] afbjorklund commented on #4997
Apparently some versions of VirtualBox wants the size padded to 512 bytes... (preferrably 2048)

The 1.2.0 ISO is an even multiple (264876.0), but the 1.3.0 ISO has half a sector (69563.5)

https://www.virtualbox.org/ticket/18219

Not sure why it is not a problem on linux ?

[2019-08-06 22:16] afbjorklund commented on #4992
Apparently one major difference with go-getter (vs go-download) is that it does **not** use temp files...

So if you have a partial aborted download, you will be stuck with it "forever". And no checksums left.

This is a design flaw (or two) in the library, but also in our use of it.

i.e. it is never used the second time, and minikube only checks existance.

[2019-08-06 22:21] tstromberg commented on #4866
Oddly enough, I'm seeing this on integration tests, at least on Windows:

[code]

[2019-08-06 22:37] tstromberg commented on #4992
Ouch. That's a really bad regression and such a terrible default that I didn't believe you at first, but it's true:

[code]

[2019-08-06 22:54] tstromberg commented on #4992
Apparently, this is our fault: our code asserts that if the file exists, it must be valid. When we remove this shortcut,  `go-getter` always checks the checksum of the file. Not exactly optimal though, as it always refetches the checksum file.

[2019-08-07 00:46] longwuyuan commented on #4997
- minikube delete
- minikube delete -p newminikube
- rmdir .minikube

[code]

[2019-08-07 00:48] julian-zucker opened #5002 ""Opening %s in your default browser..." printed to stdout when running dashboard"
When I run minikube dashboard, I see this log message:
[code]
I think %s shouldn't be included, and something else is meant to be printed here.

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>
[code]
</details>

**The output of the `minikube logs` command**:<details>
==> Docker <==
-- Logs begin at Wed 2019-08-07 00:35:34 UTC, end at W

[2019-08-07 02:42] #4992 closed

[2019-08-07 04:35] tstromberg commented on #5002
oops. This is definitely a v1.3.0 regression. Thank you for reporting it!

[2019-08-07 05:13] yrmmout commented on #3974
Thank you  (merci)

Le mar. 6 août 2019 à 19:43, Sohail Khan <notifications@github.com> a
écrit :

[2019-08-07 05:25] RA489 commented on #4998
/assign @RA489

[2019-08-07 07:06] blueelvis commented on #4996
This also seems to be happening on Command Prompt (With Admin). I was trying to run integration tests and facing this same issue -
[code]

On PowerShell, the tests are not running but on CMD, they seem to be running but then this is happening.

[2019-08-07 07:19] warf34 opened #5005 "How to use GPU in Minikube?"
I want to use GPU in Minikube

i run Minikube on Virtualbox
`minikube start --disk-size 50g --memory 8192 --cpus 4`

and i have applied pod
`kubectl create -f https://raw.githubusercontent.com/NVIDIA/k8s-device-plugin/1.0.0-beta/nvidia-device-plugin.yml`

when I check the GPU
`kubectl get nodes "-o=custom-columns=NAME:.metadata.name,GPU:.status.allocatable.nvidia\.com/gpu"`

result is
[code]
 how

[2019-08-07 07:26] afbjorklund commented on #4992
Thanks for fixing, should be OK to only check the checksum once - when downloading to a _temp_ file.

[2019-08-07 07:28] afbjorklund commented on #5005
Did you look at https://github.com/kubernetes/minikube/blob/master/docs/gpu.md ?

[2019-08-07 07:37] at-huynguyen4-admin opened #5006 "4175 start.go:723] StartHost: create: Error creating machine: Error in driver during machine creation: machine didn't return an IP after 120 seconds"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-08-07 07:38] at-huynguyen4-admin commented on #5006
ta can't creat kvm2...please help me
4175 start.go:723] StartHost: create: Error creating machine: Error in driver during machine creation: machine didn't return an IP after 120 seconds

[2019-08-07 07:45] reegnz opened #5007 "Change Linux kernel to 4.19 or 4.14 (LTS)"
## Current state
Current Linux kernel version is 4.15.0. The 4.15 branch is unmaintained.

## Desired change
We should change to an LTS kernel version (eg. 4.14.x or 4.19.x).
Ideally we should also follow up on kernel security updates on each minikube release, so that we do not compromise the security of our users minikube machines.

## Reasoning
I am using some security tokens (AWS and GitHub acc

[2019-08-07 07:52] reegnz commented on #5007
Looking at the projected EOL dates: https://www.kernel.org/releases.html

Staying with 4.14 would be the best from a stability point of view, as there they project updating it until 2024.
4.19 is also updated until 4.19, so that also seems like a safe bet, but that means a shift to an 5.4 LTS needs to be done next year.
I say the 4.14 branch is a safer bet.

[2019-08-07 08:09] afbjorklund commented on #4985
Looks to be a bug with the containerd cri plugin, that is not in the dockershim and not in other plugins.

Fails with containerd:
[code]

Works fine with CRI-O:
[code]

If I understood correctly, this could be an issue with `GetImageRef` as used by `shouldPullImage`:

[code]

Couldn't find anything in https://github.com/containerd/cri/issues already, maybe open a new issue ?

[2019-08-07 08:36] afbjorklund commented on #4985
Changing to `Never` gives a more distinct problem statement:

`  Warning  ErrImageNeverPull  2s (x2 over 2s)  kubelet, minikube  Container image "gcr.io/k8s-minikube/cache-bug" is not present with pull policy of Never`

Even though the image is successfully imported and listed:

`unpacking gcr.io/k8s-minikube/cache-bug:latest (sha256:ec1de3156f10594891bec7321851727593665df38eaa1f26af5dda9dc532c125

[2019-08-07 08:41] afbjorklund commented on #5007
We are going to update to Linux 4.19, as part of the update to Buildroot 2019.02 (LTS)

And I agree that we should look at updating these things (kernel and distro) more often.

[2019-08-07 08:46] afbjorklund commented on #5007
We are trying to make a trade-off between the latest/greatest and the stable/supported requirements.

So some want Linux 5 and some want "good old" 4.14, some want Docker 19 and some want 18.06

[2019-08-07 09:05] reegnz commented on #5007
Yeah, but hopefully it's no biggie to upgrade again.
Although I saw that there was a downgrade from 4.16 to 4.15 because of some vboxsf module compile issue, but I hope that can be fixed with upgrading to a newer guest-additions version.

[2019-08-07 10:23] dgonzamo13 opened #5008 "C:\Users\<user>\.minikube: Access is denied."
I can't remove the content of this folder, also minikube can't start...

Error on Windows 10:
*
X Error creating minikube directory: mkdir C:\Users\<user>\.minikube: Access is denied.
*
* Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
  - https://github.com/kubernetes/minikube/issues/new/choose

[2019-08-07 10:59] afbjorklund commented on #4996
The `winpty` workaround seems to be the quickest fix for now, `docker`uses the same workaround...

https://github.com/docker/for-win/issues/1588

[2019-08-07 11:39] vinothbuj85 opened #5009 "Minikube start issue"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-08-07 11:40] vinothbuj85 opened #5010 "none: the number of available CPUs 1 is less than the required 2"
[code]

[2019-08-07 11:50] afbjorklund commented on #5010
`[ERROR NumCPU]: the number of available CPUs 1 is less than the required 2`

[2019-08-07 12:45] andrebraitc opened #5011 "kvm2 1.3.0 regression: Error dialing tcp via ssh client: dial tcp :22: connect: connection refused"
**The exact command to reproduce the issue**:

[code]

**The full output of the command that failed**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>

[code]

</details>

**The operating system version**:

Ubuntu 18.04, running kernel 5.0.0-23-generic.

[2019-08-07 12:54] deepdad opened #5012 "Update --disable-driver-mounts default to false"
Please remove the standard Shared Folder on VirtualBox and guide users how and when to use it. The shared folder isn't used by the Hello minikube tutorial. It can easily be forgotten while users start deploying apps that generate outgoing traffic. I don't know how hard it is to then start uploading data from the default shared folder, but I think it could involve merely a docker image with elevate

[2019-08-07 13:00] deepdad commented on #5012
I would also use a no outgoing egress on all namespaces to be turned off as part of hello minikube: you seem to need outgoing traffic for basic execution. I see a lot of traffic run off from images that are parts of tutorials. I don't know what that is about, probably usage monitoring but that's still odd and never mentioned.

[2019-08-07 13:22] cvila84 commented on #4996
@tstromberg, I confirm it is related to NewPool instead of NewProxyReader. I tested with v2 and v3, and NewProxyReader is working well. I guess the pool is used because we now want to download in // 2 files for the ISO (the SHA and the actual ISO content). I suspect using a pool requires to lock the console differently as we need to write progress characters on several lines instead of only one wi

[2019-08-07 14:49] vinothbuj85 commented on #5010
Thats worked for me ... Thanks

[2019-08-07 15:21] longwuyuan commented on #4864
if hyperv is to be used, maybe it can be made default on windows

[2019-08-07 16:00] afbjorklund commented on #5012
It _used_ to be controlled by a flag: `minikube start --disable-driver-mounts`

However, for some reason this flag is now missing from `v1.3.0` options ?

[2019-08-07 16:25] afbjorklund commented on #5012
Suggest bringing the flag back for `v1.3.1`, consider flipping it for a future release perhaps

[2019-08-07 16:41] tstromberg commented on #4996
@cvila84 Thanks for the extra context. I propose we:

- Check if `cheggaaa/progressbar` v3 has the same issue
- If v3 has the same issue, switch from `NewPool` to `NewProxyReader`.

If someone wants to look at this, feel free to `/assign` yourself. Otherwise, I'm setting up a Windows machine today so that I can get better acquainted with Windows-specific issues.

[2019-08-07 18:10] afbjorklund commented on #5012
Actually it got lost in the merge conflict resolution: 1b83a89df3e6229b8f6b666f39d5d1a74241fd61 by @tstromberg

Sadly git doesn't show these (merge commits) properly, when doing the pick-axe.

[2019-08-07 18:17] blueelvis opened #5013 "Binary size has increased after 1.3 release (15mb)"
The binary size from v1.2.0 to v1.3.0 has increased by almost 15MB which is quite a lot. If this trend continues, it won't be long before we hit the 100MB mark.

Creating this issue to keep track of this. Needs further investigation.

[2019-08-07 18:23] blueelvis commented on #4996
/assign

@tstromberg - I did some testing today with v3 which doesn't have the Pools but it was causing weird display issues. Let me tinker some more with this.

-Pranav

[2019-08-07 18:27] afbjorklund commented on #5013
Sizes:
[code]

[2019-08-07 18:38] afbjorklund commented on #5013
Early analysis seems like most of the size increase comes from `github.com/hashicorp/go-getter`

Mostly because it has some large dependencies for alternative storage, such as AWS and GCS.

[2019-08-07 18:47] medyagh commented on #5013
ah.. at this point I am purposing removing go-getter...

[2019-08-07 18:51] medyagh commented on #5013
I feel guilty for adding go-getter to replace our own download mechanism, since they had a better retry logic for downloading and resumming but it seems like I added a bunch of issues, such as breaking progress bar, and adding binary size.

[2019-08-07 18:51] medyagh commented on #5013
@tstromberg what do you think

[2019-08-07 18:57] medyagh commented on #5013
I will pick up a task to replace come up with a better download strategy across all minikube

[2019-08-07 19:25] afbjorklund commented on #5013
The size of the minikube is still _largely_ irrelevant, compared to the rest of the downloads:

[code]

And then there is some additional 828M of images to be pulled, most of them in `etcd`.

[code]

[2019-08-07 19:31] medyagh commented on #5013
link to @afbjorklund 's anlaysis
[code]

[2019-08-07 20:14] medyagh commented on #5011
I suspect there might be left over VMs.
do you mind providing me with the following outputs:

```  virsh -c qemu:///system list --all ```
and aslo

```sudo   virsh -c qemu:///system list --all ```

and also most importantly could you please provide,

```docker-machine-driver-kvm2 version ```

I also suspect you might have an older kvm2 driver

[2019-08-07 20:23] andrebraitc commented on #5011
@medyagh No problem :) I'm one of the parties interested in seeing it fixed, after all.

I will be able to provide those tomorrow. Meanwhile, I may have two questions that might be relevant here:

1. Minikube is the only thing I have that uses libvirt, at the moment, and I always make sure I run `minikube delete` after I'm finished. Is a leftover VM something 1.2.0 can deal with but 1.3.0 can't? I

[2019-08-07 20:26] medyagh commented on #5011
good question ! infact we have integeation tests that ensures upgrading from a version to another will run smoothly ! the only thing I was reffering to was the `docker-machine-driver-kvm2`

unfrutnately the driver had issues that failed deleting or recreating machines.... that was fixed the new driver  ( in minikube we ship our own kvm2 driver) that when users upgrade minikube they often don't upg

[2019-08-07 20:29] andrebraitc commented on #5011
Got it. I will provide the requested data tomorrow.

Thanks!

[2019-08-07 22:17] piotrminkina commented on #1957
@zakame Try this:
[code]

[2019-08-07 23:28] armab opened #5014 "Driver=none 'CHANGE_MINIKUBE_NONE_USER' regression in v1.3.0"
**Problem**
Regression in recent minikube `v1.3.0` when [`CHANGE_MINIKUBE_NONE_USER=true`](https://github.com/kubernetes/minikube/blob/master/docs/vmdriver-none.md#environment-variables) stopped to work properly.
It's expected to set `.minikube` dir ownership to the user running sudo when `vmdriver=none`  (per [CI testing example](https://github.com/kubernetes/minikube/blob/master/docs/vmdriver-no

[2019-08-08 06:58] deepdad commented on #5012
What pods and stuff have sudo privilege ?

[2019-08-08 07:33] deepdad opened #5017 "Remove heapster addon - it's retired."
https://github.com/kubernetes-retired/heapster

"RETIRED: Heapster is now retired. See the deprecation timeline for more information on support. We will not be making changes to Heapster.

The following are potential migration paths for Heapster functionality:

For basic CPU/memory HPA metrics: Use metrics-server.

For general monitoring: Consider a third-party monitoring pipeline that can gather

[2019-08-08 07:33] deepdad commented on #5017
RETIRED: Heapster is now retired. See the deprecation timeline for more information on support. We will not be making changes to Heapster.

The following are potential migration paths for Heapster functionality:

For basic CPU/memory HPA metrics: Use metrics-server.

For general monitoring: Consider a third-party monitoring pipeline that can gather Prometheus-formatted metrics. The kubelet exposes

[2019-08-08 08:06] andrebraitc commented on #5011
Here we go:

* `virsh -c qemu:///system list --all`
[code]

* `sudo virsh -c qemu:///system list --all`
[code]

* `sudo virsh net-list`
[code]

* `docker-machine-driver-kvm2 version`
[code]

And it fails to start up with the mentioned output. After that, the commands gave me the following output:

* `virsh -c qemu:///system list --all`
[code]

* `sudo virsh -c qemu:///system list --all`
[code]

*

[2019-08-08 08:13] andrebraitc commented on #5011
I just tested using the following combinations:

* minikube 1.3.0 & docker-machine-driver-kvm2 1.2.0
** Result: FAIL

* minikube 1.2.0 & docker-machine-driver-kvm2 1.3.0
** Result: OK

I think it's definitely something with minikube itself.

[2019-08-08 08:16] afbjorklund commented on #4985
Apparently we are calling the _wrong_ command, `ctr images import` rather than `ctr cri load`.
This causes the image to show up in `ctr images list`, but **not** in `crictl images` unfortunately.

This will be fixed in containerd 1.3: https://github.com/containerd/cri/issues/909

But for now (1.2.6), we need to use the older command - and add some versioning later on...
That is: check the containe

[2019-08-08 10:11] afbjorklund commented on #5011
Try adding `-v8 --alsologtostderr` for more debugging output... ?

[2019-08-08 12:00] CodeAnil commented on #4456
Hi @tstromberg,

I have deployed the minikube v1.2.0 on Mac Book Pro and i was started to explore hpa using https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/

When i list the hpa, i am getting unknown CPU utilisation.
php-apache   Deployment/php-apache   <unknown>/50%   1         10        1          6m56s

Can you please check and let me, whether I need to ena

[2019-08-08 13:51] afbjorklund commented on #4456
Seems like there is some kind of issue with certificates and/or IP, workaround is disabling those:

`--kubelet-insecure-tls`

`--kubelet-preferred-address-types=InternalIP`

Could be related to a broken DNS (somehow), or could be our broken InternalIP (vs. hostname) ?

[2019-08-08 13:56] afbjorklund commented on #3416
The InternalIP is _not_ routable within the cluster either, since **each** node will have a 10.0.2.15...
And currently each node will have a 127.0.1.1 as well, but we should probably stop using that.

[2019-08-08 14:02] afbjorklund commented on #5012
It _might_ (for the `none` driver), but normally it will do that **in the VM** - and not on the host.

However, it will not be for re-running minikube itself but for commands like `sudo kubeadm`

We warn against running minikube as root (or sudo), there should be no need for that.

You still enough administrator privileges to use the hypervisor, but that is another story...

[2019-08-08 14:16] praveensastry commented on #4536
@medyagh I would like to contribute.

[2019-08-08 14:17] praveensastry commented on #4536
/assign

[2019-08-08 18:03] priyawadhwa commented on #4985
Hey @afbjorklund thanks for looking int o this -- `ctr cri load` doesn't seem to be working.

[code]

but I tried with `sudo ctr -n=k8s.io images import` and that is working! I'll incorporate that change into my PR and see if that solves the issue. Thanks!

[2019-08-08 18:10] #5002 closed

[2019-08-08 18:13] tstromberg commented on #4997
OK. VERR_NOT_SUPPORTED was likely #4992

I'm still not sure why the VBOX_VTX_DISABLED issue occurred. I noticed it doesn't show up in your last comment.

[2019-08-08 18:14] tstromberg commented on #4996
Any luck?

[2019-08-08 18:22] tstromberg commented on #5017
This will require removing `deploy/addons/heapster` and the handful of references to heapster in our code base. PR's welcome.

[2019-08-08 18:24] tstromberg opened #5019 "Bring back --disable-driver-mounts flag"
Accidentally removed in merge conflict resolution: 1b83a89 by @tstromberg

[2019-08-08 18:25] tstromberg commented on #5012
Related: #5019

[2019-08-08 18:27] tstromberg commented on #5010
We already know the CPU count, so it would be nice if we detected this condition earlier and output an easier to understand error message. Help wanted!

[2019-08-08 18:30] tstromberg commented on #5008
This sounds like a permissions issue: perhaps minikube was started with elevated permissions?

@sharifelgamal mentioned he has run into something similar.

[2019-08-08 18:31] tstromberg commented on #5006
This issue appears to be a duplicate of #3566, so I will close this one so that we may centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please feel free to re-open it. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-08-08 18:31] #5006 closed

[2019-08-08 18:32] tstromberg commented on #4990
+1 Sounds like a great idea!

[2019-08-08 18:33] tstromberg commented on #4982
It sounds like your host does not have access to download Kubernetes binaries from Google Cloud Storage. Is it possible that you are running this from a machine in China?

See: https://github.com/kubernetes/minikube/blob/master/docs/http_proxy.md

[2019-08-08 18:34] tstromberg opened #5020 "Document how to run minikube in China"
Crazy workarounds and all. Known issues:

- gcr.io isn't available
- kubectl can't be downloaded
- ISO can't be downloaded

[2019-08-08 18:36] tstromberg commented on #4981
Does this cause problems for minikube, or is it a matter of spurious logs?

I don't think minikube is setting any particular number here, so I'm not sure how to address this yet. Help wanted!

[2019-08-08 18:39] tstromberg commented on #4978
It isn't ideal, but in the short term, we may have to require running builds under `bash` for Windows with a handful of other prereqs. These should be documented.

FWIW, I would rather not run builds through Docker if I can avoid it.

[2019-08-08 18:40] tstromberg commented on #4977
Do you mind upgrading to minikube v1.3.0 and sharing the output of `minikube logs`?

[2019-08-08 18:42] tstromberg commented on #4973
Duplicate of #4206

[2019-08-08 18:42] #4973 closed

[2019-08-08 18:43] tstromberg commented on #4206
Can you share the output of:

`docker-machine-driver-hyperkit version`

and:

`minikube start -v=7`

[2019-08-08 18:58] bhanu011 commented on #4883
@josedonizetti  looks  like valid profiles doesnt return default profile "minikube" which is a valid profile when profile name is given as "default" right?

[2019-08-08 19:11] tstromberg opened #5021 "Improve the default --memory setting (dynamic sizing?)"
While working with @priyawadhwa on a demo, I noticed that minikube was locking up. Increasing the memory size fixed the problem. Also, the first thing our documentation states after installation is to increase the memory size.

What if we were able to improve the first-start experience for most users by default, by dynamically selecting a more appropriate option for `--memory`?

My recommendation

[2019-08-08 19:19] afbjorklund commented on #5021
This should leave some room for multi-node as well (eventually) ? Currently starting 4 VMs, which is 8G (when did the “2.25” happen?)

Some hypervisors can do “ballooning” and adjust memory in the fly (or more like give back what they stole from the _real_ OS, but)

[2019-08-08 19:21] tstromberg opened #5022 "tunnel on macOS: application sending entire HTML page (packet loss?)"
@priyawadhwa had a demo at SF Kubernetes yesterday where the application sent traffic properly using port forwarding, but with `minikube tunnel`, only the page title loaded. It seemed like a packet loss issue.

@priyawadhwa - do you mind sharing the command-lines we can use to replicate it?

[2019-08-08 19:49] amctavish commented on #4206
Also experiancing this issue.

OS: macOS Mojave 10.14.6

`hyperkit: v0.20190201-11-gc0dd46`

`docker-machine version 0.16.1, build cce350d7`

[code]

[code]

`minikube start -v=7`: didn't work as I don't have VirtualBox installed (really don't want to have to install VirtualBox)
[code]

As @snoopdouglas mentioned using Mojave there is `/var/db/dhcpclient/leases` but no `/var/db/dhcpd_leases`

[2019-08-08 20:23] tstromberg commented on #4955
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs` (please upgrade to minikube v1.3.0 if possible, it will give more information)

For what it's wor

[2019-08-08 20:25] tstromberg commented on #4864
IMHO, the default switch should be the default for minikube. How do we do so?

[2019-08-08 20:27] tstromberg commented on #4858
It appears that no proxy environment variable is configured. Did you try following https://github.com/kubernetes/minikube/blob/master/docs/http_proxy.md ?

[2019-08-08 20:27] tstromberg commented on #4858
Related: #4774

[2019-08-08 20:28] tstromberg commented on #4854
Was this fixed?

[2019-08-08 21:11] tstromberg commented on #4824
To follow up on this we will need the output of `minikube start --alsologtostderr -v=8`

[2019-08-08 21:16] tstromberg commented on #4832
Do you mind including the output of:

` minikube start --vm-driver=vmwarefusion -v=7 --alsologtostderr`

minikube should synchronize time when reusing a previously created VM. It at least appears to in minikube v1.3.0 with this driver:

[code]

[2019-08-08 21:27] rkleine commented on #1378
Just the some workaround but in one line:
[code]

[2019-08-08 22:07] northys opened #5024 "Option to turn off emoji"
Is there any way to turn off all those emojis in console output? I've grown already and it feels like playing with toys which have to be cute so babies love them.

**The exact command to reproduce the issue**:

`minikube start`

**The full output of the command that failed**:<details>

😄  minikube v1.3.0 on Ubuntu 18.04
🔥  Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
😿  Sorry t

[2019-08-08 22:47] #5014 closed

[2019-08-08 23:35] rkrdo commented on #4206
I'm also having the same issue using Mojave,

The output of `minikube start --vm-driver hyperkit -v=7` is:

[code]

And the output of `docker-machine-driver-hyperkit version` is:

[code]

`minikube logs` returns:

[code]

and like other folks in this thread, I don't have a `/var/db/dhcp_leases` file

[2019-08-09 00:55] zook96 commented on #4981
I am trying to find out why vboxheadless(`kube-apiserver`) takes up CPU higher than usual, I was tossed by this problem.

[2019-08-09 02:25] colangelo commented on #4206
@rkrdo Are you using a vpn at the same time, or have a vpn client installed?
In my case the problem is probably related to some weird interaction between minikube and vpn software.
But for me it's tricky to determine because it's inconsistent, or at least i didn't recognize a partern yet.

[2019-08-09 03:40] bhanu011 commented on #5017
/assign

[2019-08-09 05:59] lonre commented on #3207
same issue with `macOS 10.14.6` and `minikube version: v1.3.0`

[2019-08-09 06:41] cpu100 commented on #4981
minikube 1.2/1.3 keep taking up CPU higher(17%) than usual(3%), which makes my CPU warm up a few degrees. I chose to downgrade to minikube 1.0.0

[2019-08-09 08:01] maxstreese commented on #5024
afaik `export MINIKUBE_IN_STYLE=false`

[2019-08-09 08:10] ryysud commented on #4072
I faced the same problem (csi driver not working) with https://github.com/deislabs/secrets-store-csi-driver/issues/49 .

[2019-08-09 09:12] loguerto opened #5027 "Unable to delete "minikube" in kvm2 ..."
**The exact command to reproduce the issue**: minikube delete

**The full output of the command that failed**:<details>

🔥  Deleting "minikube" in kvm2 ...

💣  Failed to delete cluster: destroying running domain: virError(Code=55, Domain=20, Message='Requested operation is not valid: Il dominio non è in esecuzione')

😿  Sorry that minikube crashed. If this was unexpected, we would love to hear fro

[2019-08-09 09:17] #5027 closed

[2019-08-09 09:17] loguerto commented on #5027
Ops :)

[2019-08-09 12:54] andrebraitc commented on #5011
@afbjorklund here it is

[code]

[2019-08-09 13:11] Valgard opened #5029 "hyperv mount: /mount-dir: mount(2) system call failed: Connection timed out."
**The exact command to reproduce the issue**:
minikube mount "C:\Path\to\mount\dir:/mount-dir" --uid 999 --9p-version=9p2000.L  --alsologtostderr -v=8

**The full output of the command that failed**:<details>
I0809 15:05:04.537573   13984 notify.go:124] Checking for updates...
* Mounting host path C:\Path\to\mount\dir into VM as /mount-dir ...
  - Mount type:   <no value>
  - User ID:      999
  -

[2019-08-09 13:29] blueelvis commented on #5029
Thanks for reporting this issue! Just want to confirm, was this working with the previous version or this hasn't worked ever?

[2019-08-09 13:33] tstromberg commented on #4981
You may want to check if selecting the same Kubernetes version as v1.0.0 has a similar performance profile: `--kubernetes-version=v1.14.0`.

[2019-08-09 13:41] cpu010 commented on #4981
minikube start `--kubernetes-version` does not work, crashed at `waiting: apiserver`

[2019-08-09 14:32] Valgard commented on #5029
I had not used 'minikube mount' before. so i can not say if it works in a previous version.

[2019-08-09 14:35] zhengcan commented on #4132
I have the same issue in v1.3.0

[2019-08-09 14:49] #5019 closed

[2019-08-09 15:20] northys commented on #5024
@maxstreese cool, thanks

[2019-08-09 15:20] #5024 closed

[2019-08-09 17:02] krishnamanaiducloud commented on #4749
$kubectl create clusterrolebinding kube-system-cluster-admin --clusterrole=cluster-admin --serviceaccount=kube-system:default

$kubectl delete pod kubernetes-dashboard-pod -n kube-system

----> Run the first command to create role binding
-------> And then delete the Dash board using second command

[2019-08-09 17:23] tyagi commented on #4206
Same with me too. Missing ```/var/db/dhcpd_leases``` file on my mac.

#### Details
* OS: High Sierra [10.13.6]
* Same Exception Trace
* HyperKit - latest
[code]
* Minikube - latest
[code]

Note:
* I can start Minikube using Virtualbox.
* I do have Cisco AnyConnect software installed for connecting to VPN but I am not using it when starting Minikube.
* Laptop is company managed as in few policies a

[2019-08-09 17:27] aparsons commented on #4992
For me deleting the `~/.minikube` directory fixed this.

[2019-08-09 18:39] rkrdo commented on #4206
@colangelo thank you for the suggestion! it turned out it to be [Little Snitch](https://www.obdev.at/products/littlesnitch/index.html) that was causing the issue somehow.

[2019-08-09 20:46] HeeZJee opened #5031 "The virtual machine has terminated unexpectedly during startup: NS_ERROR_FAILURE (0x80004005)"
😄  minikube v1.3.0 on Ubuntu 18.04
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🔄  Starting existing virtualbox VM for "minikube" ...
E0810 01:45:24.503989   20359 start.go:723] StartHost: start: Unable to start the VM: /usr/bin/VBoxManage startvm minikube --type headless failed:
VBoxManage: error: The virtual machine 'minikube' has termi

[2019-08-09 22:26] medyagh commented on #4854
no I will add it to the kubeconfig PR

[2019-08-09 22:38] tstromberg commented on #2973
Fixed in v1.3.0.

[2019-08-09 22:38] #2973 closed

[2019-08-10 02:10] tstromberg commented on #5031
https://github.com/hashicorp/vagrant/issues/8687 had some solutions.

My easiest suggestion would be to reinstall the latest VirtualBox and reboot.

[2019-08-10 02:14] tstromberg commented on #5009
Regrettably, there isn't enough information in this issue to make it actionable. Since some time has passed, I'm going to close this issue. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

*  The exact `minikube start` command line used
*  The full output of the `minikube sta

[2019-08-10 02:14] #5009 closed

[2019-08-10 07:33] blueelvis commented on #5029
Thanks for reporting this. Let me work on this issue and get back.

/assign

[2019-08-10 11:21] schemacs opened #5036 "--help shows incorrect command for "a list of global command-line options""
There is no invocation such as `minikube profile options`, but both `kubectl --help` and `kubectl <command> --help`, take `label` command for example, give correct help messages: `Use "kubectl options" for a list of global command-line options (applies to all commands).`. Maybe this pr #4879 is to be blamed?

**The exact command to reproduce the issue**:
`minikube profile --help 2>&1 |tail -n 2`

[2019-08-10 12:10] steakunderscore opened #5037 "[docs] Undocumented env var `MINIKUBE_WANTREPORTERRORPROMPT`"
In some of the documentation there's [references](https://github.com/kubernetes/minikube/search?q=MINIKUBE_WANTREPORTERRORPROMPT&type=Code) ([1] [2] [3]) to an environment variable `MINIKUBE_WANTREPORTERRORPROMPT`. However there's no documentation for this, nor does there seem to be code that uses this variable. If this variable is indeed abandoned, can the docs be cleaned up to reflect this. If i

[2019-08-10 12:13] loqutus commented on #5017
/assign

[2019-08-10 15:42] MaxKam commented on #5010
@tstromberg I can take this

[2019-08-10 15:47] HeeZJee opened #5039 "Could not get the storage format of the medium 'boot2docker.iso' (VERR_NOT_SUPPORTED)"
😄  minikube v1.3.0 on Ubuntu 18.04
⚠️  Please don't run minikube as root or with 'sudo' privileges. It isn't necessary with virtualbox driver.
🔥  Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
E0810 20:44:35.296957   19123 start.go:723] StartHost: create: creating: /usr/bin/VBoxManage storageattach minikube --storagectl SATA --port 0 --device 0 --type dvddrive --medium /home/heez

[2019-08-10 16:10] sairam523 commented on #4088
@awadodeh I followed your steps to run cluster locally and I got stuck at the below step for more than an hour . Usually how much time does it take to run

Sairams-MBP:~ sairammadasu$ minikube start --vm-driver hyperkit
😄  minikube v1.3.0 on Darwin 10.14.4
🔥  Creating hyperkit VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🐳  Preparing Kubernetes v1.15.2 on Docker 18.09.8 ...

[2019-08-10 17:32] bhanu011 commented on #4963
/assign

[2019-08-10 18:20] amateica opened #5040 "http: TLS handshake error from 127.0.0.1:58378: remote error: tls: bad certificate"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-08-10 20:16] salsaverde123 commented on #4456
I have same problem but the solution of @devarajchidambaram didn't work for me.

[2019-08-10 21:43] CodingSpiderFox commented on #4970
It's good now with the new version of minikube (1.3)

[2019-08-10 21:43] #4970 closed

[2019-08-11 00:23] rlabrecque commented on #4587
WSL2 doesn't seem to work for me anymore after doing so. :/

[2019-08-11 00:36] colangelo commented on #4206
Thanks @rkrdo, good to know!

I also have Little Snitch installed, and most of the times i have no issues, but sometimes especially a few months ago, if i'd recently connected or disconnetted from the vpn i was getting that error.

My opinion is that this issue is probably related to one ore more third party softwares that interact with the network stack, and interact badly with minikube (or hyper

[2019-08-11 01:22] surajitc opened #5041 "minikube crashed"
Relaunching Kubernetes using kubeadm ...
*
X Error restarting cluster: running cmd: sudo kubeadm init phase certs all --config /var/lib/kubeadm.yaml: command failed: sudo kubeadm init phase certs all --config /var/lib/kubeadm.yaml
stdout:
stderr: cannot use "fe80::215:5dff:fe41:ee08" as the bind address for the API Server
: Process exited with status 1
*
* Sorry that minikube crashed. If this was

[2019-08-11 03:03] woodcockjosh commented on #2120
The issue is as @andrei-dascalu suggested. It is assuming python2. I recently updated to python 3. Fixed this by downgrading `ln -sf $(which python2) $(which python)`

[2019-08-11 03:21] laozc commented on #4804
Could you check if the node has the `nvidia.com/gpu` capability?

`$ kubectl get nodes -ojson | jq .items[].status.capacity`
<pre>{
  "cpu": "6",
  "ephemeral-storage": "30308240Ki",
  "hugepages-1Gi": "0",
  "hugepages-2Mi": "0",
  "memory": "57688264Ki",
  "nvidia.com/gpu": "1",
  "pods": "110"
}</pre>

If it didn't show in the output, you need to use the nvidia CUDA driver and container runtime

[2019-08-11 11:57] thinszx commented on #4587
WSL 2 is now using virtualization technology (based on Hyper-V) so it won't work as well after shutting down hyper-v support😟

[2019-08-11 12:02] bhavanikp84 commented on #4587
Thanks, This worked!!

[2019-08-11 14:31] srehanpk opened #5042 "minikube"
**minikube start**:

**The full output of the command that failed**:<😄  minikube v1.3.0 on Ubuntu 18.04
🔥  Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
E0811 19:18:49.615441   19748 start.go:723] StartHost: create: creating: /usr/bin/VBoxManage storageattach minikube --storagectl SATA --port 0 --device 0 --type dvddrive --medium /home/srahmed/.minikube/machines/minikube/boot2do

[2019-08-11 19:37] HeeZJee commented on #5031
😄  minikube v1.3.0 on Ubuntu 18.04
⚠️  Please don't run minikube as root or with 'sudo' privileges. It isn't necessary with virtualbox driver.
🔥  Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
E0812 00:33:37.446629   25309 start.go:723] StartHost: create: creating: /usr/bin/VBoxManage storageattach minikube --storagectl SATA --port 0 --device 0 --type dvddrive --medium /home/heez

[2019-08-11 19:45] HeeZJee commented on #5031
now it's showing above error.
i tried it with virtuabox-6.0, 5.0, 4.0 and even i tried kvm2 Virtual Machine.
but still it isn't working locally.
its only working without with VM with below command.
`sudo minikube start --vm-driver=none`
I can't use it locally, still don't know why?
Please Sir! help me out.

[2019-08-11 20:22] HeeZJee opened #5043 "VboxManage Error"
[code]

[2019-08-11 22:33] sakshamkhanna opened #5044 "Inconsistant behaviour of 'minikube profile'"
`minikube profile` shows inconsistent behaviour in the following scenarios

## Reproducing the issue
### 1. After deleting .minikube/ and .kube/ (purging all profiles)
[code]
[code]
[code]
[code]
[code]

### 2. After creating (but not starting) profile p1
[code]
[code]
[code]
[code]

### 3. After starting profile p1
[code]
[code]
[code]
[code]

### 4. After stopping profile p1
[code]
[code]
[code]

[2019-08-11 23:18] sakshamkhanna commented on #4890
blocking activity until #5044 gets resolved

[2019-08-12 06:13] rameshpuruganti opened #5046 "api load: filestore: Error getting migrated host: unexpected end of JSON input"
**The exact command to reproduce the issue**:
 minikube start --vm-driver hyperv --hyperv-virtual-switch="Minikube"
This is the command i am running.

**The full output of the command that failed**:<details>
The output is
minikube v1.3.0 on Microsoft Windows 10 Pro 10.0.17763 Build 17763
E0812 11:39:52.134815   15164 start.go:723] StartHost: Error loading existing host. Please try running [minikub

[2019-08-12 09:25] rihardsk commented on #3566
I found out what was causing problems in my config. The rules in my `nftables` input chain were dropping packets coming from the `minikube` network interfaces. I had to add
[code]
to fix that.

Here's the full set of rules in my `input` chain, if anyone's interested:
[code]

I also made sure to use `iptables-nft` instead of `iptables-legacy` (installed `iptables-nft` on Arch Linux which replaces `

[2019-08-12 10:10] MrMic opened #5047 "rkt is not supported !"
minikube start \
    --network-plugin=cni \
    --enable-default-cni \
    --container-runtime=rkt
😄  minikube v1.3.0 on Darwin 10.14.6

💣  Failed to generate config: unknown runtime type: "rkt"

😿  Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
👉  https://github.com/kubernetes/minikube/issues/new/choose

============ 8< ----------------------- >8=============

[2019-08-12 10:41] cpu100 opened #5048 "Kube-apiserver Spamming the same log every second and takes up 10% more CPU than normal"
`$ kubectl -n kube-system logs -f kube-apiserver-minikube`

Kube-apiserver keep spamming the same log every second and takes up 10% more CPU than normal
[code]

[2019-08-12 12:06] cpu100 commented on #5048
/reopen

[2019-08-12 13:19] afbjorklund commented on #5047
Support for rkt has been removed, in later versions of minikube (and Kubernetes). Was it needed for something special, not covered by the available runtimes ?

[2019-08-12 13:22] MrMic commented on #5047
In fact, I just to give it a  Try.

[2019-08-12 13:45] afbjorklund commented on #5047
Maybe it needs a notice, for a while

[2019-08-12 13:53] athurner commented on #5046
I had a similar issue after upgrading from 1.2. Deleting the c:\Users\<username>\.minikube folder solved my issue.

[2019-08-12 14:28] #5048 closed

[2019-08-12 15:31] #4996 closed

[2019-08-12 16:13] entropitor commented on #4072
Is there anything we can do to help with this issue? Provide more context / ... Basically CSI is not working for minikube which seems like a big deal (given minikube tries to be a complete kubernetes setup)?

[2019-08-12 16:15] entropitor commented on #3512
This one seems to block all CSI drivers on minikube, is there anything we can do to help debug?

[2019-08-12 16:28] ruimaciel commented on #2439
I've stumbled on this issue when I tried to launch a minikube instance (running on Ubuntu 18.04) that was in working condition the last time I've spun it up.   Meanwhile I've noticed that there was a pending update for packages such as VirtualBox and Docker.  Once the update finished I was able to launch minikube once again without having to reinstall anything.

[2019-08-12 16:58] afbjorklund commented on #3512
I would appreciate with porting the (small) shell script from `init`, to equivalent (long) for systemd...

[2019-08-12 17:17] Eelis commented on #4240
I noticed that when the problem occurs, I can fix everything by running:

    vboxmanage controlvm minikube setlinkstate1 off
    vboxmanage controlvm minikube setlinkstate1 on

[2019-08-12 17:28] ryancalhoun commented on #3571
I had the same issue on a "regular" (non-minikube) cluster. I found this comment
https://github.com/kubernetes/kubernetes/issues/72051#issuecomment-506962702

Once I ran `kubectl delete apiservice v1beta1.metrics.k8s.io` the errors stopped on their own.

[2019-08-12 17:43] afbjorklund commented on #3512
Most systems using `runc` can probably be convinced to pass `--no-pivot` one way or the other.

[code]

This still has all the security issues indicated above, so we don't want to keep on using that forever.

The _other_ problem, that storage has, is that anything based on rootfs doesn't work with `du` etc:

[code]

So all in all, there are several reasons from moving from `rootfs` to `tmpfs`, as

[2019-08-12 18:03] slalomnut commented on #4350
Unfortunately, the fix in @albinsuresh 's reply is a work-around.  Does anyone know what he true fix is if you're running a customized local firewall? I'll do some digging and post again if I find it.

[2019-08-12 18:08] afbjorklund commented on #3512
Some more debugging info, after adding the magic `/etc/initrd-release` file:

`initrd-root-fs.target.requires/sysroot.mount -> ../sysroot.mount`
[code]

`local-fs.target.requires/-.mount -> ../-.mount`
[code]

So maybe there is a way to add our `mksysroot` to initrd-root-fs.target.wants ?

[2019-08-12 18:16] #4773 closed

[2019-08-12 18:26] afbjorklund commented on #3512
Hmm, it seems like systemd uses the flags from `root` **also** for creating the `sysroot`:

`root=`
Takes the root filesystem to mount in the initrd. root= is honored by the initrd.

`rootfstype=`
Takes the root filesystem type that will be passed to the mount command. rootfstype= is honored by the initrd.

`rootflags=`
Takes the root filesystem mount options to use. rootflags= is honored by the i

[2019-08-12 18:39] afbjorklund commented on #3512
Here was the command to debug the generator, from systemd.generator(7):

[code]

Note that the sysroot is only generated when `in_initrd()`, i.e. /etc/initrd-release

[2019-08-12 20:08] dgoldssfo commented on #1568
This feels like a dumb question, but is this fixed in Minikube now? (And if so, which branch/release?) I don't see it in the log, but perhaps there's some bundling with Istio that I'm not aware of?

Sorry for taking bandwidth, I'm just trying to figure this out.

[2019-08-12 22:24] gromag opened #5054 "Getting started page on website gives 404"
**The exact command to reproduce the issue**:

The following link returns a 404 https://minikube.sigs.k8s.io/docs/getting-started/
I would expect installation instructions instead as per link under the Installation section of the README page of this repo.

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**Th

[2019-08-13 01:52] kamly commented on #2370
@dfang i meet same problem . if you find the solution, can you tell me ?

[2019-08-13 04:30] RA489 commented on #5054
@gromag https://minikube.sigs.k8s.io/docs/start/

[2019-08-13 06:48] ThibaultJanBeyer commented on #1724
My issue was that I had a wrong format of the secret:

It has to be:
[code]

But I only had `{"auths":{"test.com":{"username": … … …`

So make sure to have the `https://` and `/v2/` part.

[2019-08-13 09:08] carlossg commented on #4100
I had the same issue, the problem is the initial `:` in `KUBECONFIG`

[code]

should be

[code]

Probably you have `KUBECONFIG=$KUBECONFIG:/Users/den/.kube/config` in your `~/.bash_profile`

Although the error message could be clearer

[2019-08-13 09:11] den-is commented on #4100
@carlossg good point !

indeed I have `export KUBECONFIG=$KUBECONFIG:$HOME/.kube/config`

error message could be clearer and minikube can be smarter about empty strings too

[2019-08-13 10:48] Zyqsempai commented on #5021
@tstromberg Do you have any idea how we can get the current available memory size?

[2019-08-13 13:28] jukben commented on #5031
The same issue for me

[code]

[2019-08-13 15:05] fabricadd commented on #4910
Hello,

I did not give up....
FYI - I made progress only after circumventing Hyper-V, by using VirtualBox instead.
[cid:8f49d8e0-5626-4955-9dc0-473a3d5d31a8]
Cheers

[2019-08-13 15:55] manukoli1986 opened #5059 "Error restarting cluster: waiting for apiserver: timed out waiting for the condition"
Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
  - https://github.com/kubernetes/minikube/issues/new
* Problems detected in "kube-addon-manager":
  - error: Wunable to recognize "STDIN": Get https://RlN: == Error getting default service account, retry in 0.5 second ==
  - error: unable to recognize "STDIN": Get https://localhost:8443/api?timeout=32s: dial tcp

[2019-08-13 15:58] tstromberg commented on #5054
Fixed. Thank you for reporting this!

[2019-08-13 15:58] #5054 closed

[2019-08-13 16:46] tstromberg commented on #5037
I'd rather not remove the code yet as we have discussed bringing back this feature to prompt users to generate a GitHub issue. I'm all for removing it from the docs in the mean time though.

[2019-08-13 16:47] bygui86 commented on #4488
I tested and I can run same as @brichins
[code]

But running `minikube logs -f` I don't see any specific auditing logs :(

[2019-08-13 16:49] medyagh opened #5061 "kvm flaky test: start delete : "Domain not found""
as seen in this full loig: https://storage.googleapis.com/minikube-builds/logs/5003/KVM_Linux.txt for testGvisorRestart
https://github.com/kubernetes/minikube/blob/master/test/integration/containerd_test.go#L43-L88

The error message:

[code]

### More detailed log  :

<details>
<pre>

--- FAIL: TestContainerd (0.00s)
    --- FAIL: TestContainerd/GvisorRestart (1504.14s)
        minikube_runner.go

[2019-08-13 16:50] tstromberg commented on #5059
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2019-08-13 16:51] tstromberg commented on #5047
Sorry :( rkt support was dropped before minikube v1.0, and doesn't appear in the minikube docs any more.

[2019-08-13 16:51] #5047 closed

[2019-08-13 16:54] tstromberg commented on #5046
Interesting. Could you attach the `config.json` file? it should be in. `c:\Users<username>.minikube\machines\minikube`

The instructions should work: running `minikube delete` should resolve the issue.

[2019-08-13 16:54] medyagh commented on #5061
CC: @josedonizetti

[2019-08-13 16:56] tstromberg commented on #5044
@medyagh might have more insight here.

[2019-08-13 16:59] tstromberg commented on #4992
If you run into this, I highly recommended running:

`minikube delete`
`rm -Rf ~/.minikube/cache/iso`

@aparsons - Deleting the entire minikube directory is not recommended, particularly if you have not deleted all the VM's referenced by the existing configuration, as it will leave dangling VM state within your hypervisor.

[2019-08-13 17:01] tstromberg commented on #5043
This appears to be a dupe of #4992

Please do the following:

1. Run `minikube delete`
2. Run `rm -Rf ~/.minikube/cache/iso` (or the Windows equivalent)
3. Upgrade to minikube v1.3.1 - which fixes the download issue

Thank you!

[2019-08-13 17:01] #5043 closed

[2019-08-13 17:02] tstromberg commented on #5036
@medyagh - any context here?

[2019-08-13 17:03] tstromberg commented on #5042
This appears to be a dupe of #4992

Please do the following:

1. Run `minikube delete`
2. Run `rm -Rf ~/.minikube/cache/iso` (or the Windows equivalent)
3. Upgrade to minikube v1.3.1 - which fixes the download issue

Thank you for the bug report!

[2019-08-13 17:03] #5042 closed

[2019-08-13 17:04] tstromberg commented on #5041
This issue appears to be a duplicate of #3963, so I will close this one so that we may centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please feel free to re-open it. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-08-13 17:04] #5041 closed

[2019-08-13 17:05] tstromberg commented on #5040
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.

Thank you for sharing your experience!

[2019-08-13 17:06] tstromberg commented on #5039
This appears to be a dupe of #4992

Please do the following:

1. Run `minikube delete`
2. Run `rm -Rf ~/.minikube/cache/iso` (or the Windows equivalent)
3. Upgrade to minikube v1.3.1 - which fixes the download issue

Thank you for the bug report!

[2019-08-13 17:06] #5039 closed

[2019-08-13 17:08] tstromberg commented on #5031
@jukben - The VERR_NOT_SUPPORTED issue is due to #4992 - please follow the resolution steps there. It seems like the ISO download was corrupted.

Marking as closed as the original issue was resolved.

[2019-08-13 17:08] #5031 closed

[2019-08-13 18:07] afbjorklund commented on #5047
These docs mention rkt:
https://kubernetes.io/docs/setup/learning-environment/minikube/#starting-a-cluster-on-alternative-container-runtimes

[2019-08-13 18:10] afbjorklund commented on #5021
I thought swap was in a _separate_ Stat ? But haven’t actually verified

[2019-08-13 18:37] #4388 closed

[2019-08-13 18:37] medyagh opened #5062 "KVM : virsh not responding"
it has happened on only one node so far here is the details:

```virsh -c qemu:///system list --all```
hangs and times out

[code]

as seen in  http://mkproxy.cbf.corp.google.com/job/KVM_Linux_integration/6115/console

[code]

and I tested manually and linux-kvm (1) integraiton test agent

[2019-08-13 19:33] medyagh opened #5063 "vbox flake TestDocker: got state: "", expected "Running""
Linux vbox test flake:
error:
``` minikube_runner.go:303: got state: "", expected "Running" ```

<details>
<pre>
--- FAIL: TestDocker (511.77s)
    minikube_runner.go:303: got state: "", expected "Running" : stderr: I0812 16:41:34.689039   26614 notify.go:124] Checking for updates...
        COMMAND: /usr/bin/VBoxManage showvminfo TestDocker --machinereadable
        STDOUT:
        {
        name

[2019-08-13 19:38] blueelvis commented on #4978
Assigning this to myself. Let me see what can be if this can run directly from Bash for Windows.

[2019-08-13 19:42] afbjorklund opened #5065 "Contribute button doesn't work (loops back)"
https://minikube.sigs.k8s.io/

1. Contributions welcome
   Want to join the fun on Github? New users are always welcome!

2. ( Contribute )

3.   Not found
   Oops! This page doesn't exist. Try going back to our [home page](https://minikube.sigs.k8s.io/).

https://minikube.sigs.k8s.io/docs/contribute

----

I think the doc is called "docs/contribut**ing**".

https://minikube.sigs.k8s.io/docs/contr

[2019-08-13 19:49] blueelvis commented on #3372
/assign

[2019-08-13 19:50] medyagh commented on #5044
Thank you so much for creating this issue ! this seems like we need to make an empty dir folder once user sets the minikube profile to the one that doesn't exists

[2019-08-13 19:50] blueelvis commented on #4847
/assign

[2019-08-13 20:29] #5065 closed

[2019-08-13 20:32] kfox1111 commented on #1854
I'm seeing this too:
[kfox@zathras minikube]$ docker pull gcr.io/k8s-minikube/buildroot-image
Using default tag: latest
Trying to pull repository gcr.io/k8s-minikube/buildroot-image ...
Pulling repository gcr.io/k8s-minikube/buildroot-image
unauthorized: authentication required

[2019-08-13 20:43] afbjorklund commented on #1854
@kfox1111 : I don't think the image has even been pushed, to build it use: `make buildroot-image`

[2019-08-13 20:51] kfox1111 commented on #1854
Ah, ok. That seems to be working. Thanks.

[2019-08-13 20:59] kfox1111 commented on #3512
From your post above dated May 25, did you try naming /etc/systemd/system/initrd-root-fs.target.requires/sysroot.service instead of /etc/systemd/system/initrd-root-fs.target.requires/sysroot.mount?

[2019-08-13 21:08] afbjorklund commented on #3512
@kfox1111 : I had both of them eventually (there were some follow-up posts), but it never took effect.

If I understood correctly, it wanted one `[Mount]` to do the mount and one `[Service]` to do the copy ?

Any hints to an approach that might work is appreciated! We know it works fine with `/sbin/init`.

We just need to convince `/lib/systemd/systemd` to the same trick, i.e. switch_root to a tmp

[2019-08-13 21:12] afbjorklund commented on #3512
I'm not sure if trying to add [dracut](https://en.wikipedia.org/wiki/Dracut_(software)) to buildroot will make things better or worse ? (assuming more bad)

[2019-08-13 21:23] kfox1111 commented on #3512
How are you tweaking the initrd? I tried to extract the iso, then the initrd, then rebuild the initrd and rebuild the iso and its failing to boot. No changes were made. I did get just the step of extracting the iso and then rebuilding the iso to boot.

[2019-08-13 21:24] kfox1111 commented on #3512
Never mind. I found the step i was missing.

[2019-08-13 22:04] kfox1111 commented on #3512
Ok. I think I may have gotten a little further.

I was looking at https://www.freedesktop.org/software/systemd/man/bootup.html
and your notes from above. I was trying to get the sysroot.service file working as above but it kept on maybe not doing anything. Felt like it wasn't getting started. In the diagram you had tried to use initrd-root-fs.target.
As far as I can tell though, even though an ini

[2019-08-13 22:32] kfox1111 commented on #3512
ok, now I get the significance of the /etc/initrd-release file. its to trigger the initrd workflow.

[2019-08-13 22:47] kfox1111 commented on #3512
Hmm... ok. So, both ways, I think we're fighting against the way systemd is designed. We have an initrd with our content in it. But we're using it as a root drive, not as an initrd. So the non /etc/initrd-release seems like the way to go. I can almost get there, but things are kind of too far along to pivot, even early on with only the tools available.  The other option is to go the /etc/initrd-re

[2019-08-13 23:07] kfox1111 commented on #3512
Ok. So, some good news and bad news...

The good news. I was able to get it to mount as type tmpfs.
The trick is to overwrite '/init' in the intrd. its just a shell script. Content should be:
[code]
It comes up ok and then:
[code]
YAY! :)

Bad news, I launched my pod with bidirectional mount, and still has the same issue.

[2019-08-14 00:05] kfox1111 commented on #3512
Ok. I can confirm the bidirectional mount does not seem to be related to the rootfs/tmpfs thing. Switching the init script so it pivots root onto a temp space on /dev/vda1 still shows the issue:
[code]
[code]

[2019-08-14 00:08] kfox1111 commented on #4072
More debugging in https://github.com/kubernetes/minikube/issues/3512
Looks like its not necessarily related to rootfs.

Its very odd. Its like mounts intended for the containers are leaking back out to the host.

[2019-08-14 00:22] tstromberg opened #5072 "(meta) Make Windows/Hyper-V a first-class solution"
Here are the issues to be resolved:

* <del>Hyper-V: Use the "Default Switch" (NAT based) by default - #4079 </del>
* <del>Hyper-V: Stable integration testing #3591</del>
* <del>Hyper-V: minikube mount fails with windows 10 default switch - #3591</del>
* [NON_C_DRIVE] when run from C:\ but user config is on different drive - #4079

Please feel free to comment with any others that cause a large use

[2019-08-14 00:29] kfox1111 commented on #4072
Comparing mounts before and after, it looks like its duplicating a lot of mounts... something really odd is happening.

[2019-08-14 00:42] kfox1111 commented on #4072
So, I tried looking at a box with working propagation:
[code]
It has two private mounts. Tried this on minikube:
[code]

No joy.

Container mounts are still leaking out to the host:
[code]

[2019-08-14 00:59] #5044 closed

[2019-08-14 01:00] medyagh commented on #5044
@sakshamkhanna I believe this issue has has been solved by this PR .
https://github.com/kubernetes/minikube/pull/5068

please feel free to re-open this issue if that is not the case !

[2019-08-14 01:01] medyagh commented on #4890
issue resolved :)

[2019-08-14 02:16] almike commented on #3207
running microk8s consumes half the CPU that minikube takes on my mac.
I believe it is a kube issue, but microk8s helps a bit for now.

[2019-08-14 03:28] DorrinPk commented on #4222
This got fixed after I upgraded to VirtualBox 6.0.10.

[2019-08-14 03:35] manukoli1986 commented on #5059
I have fixed the problem after reinstalling.

Regards
Mayank

On Tue, 13 Aug 2019, 22:21 Thomas Strömberg, <notifications@github.com>
wrote:

[2019-08-14 04:48] #1378 closed

[2019-08-14 05:41] afbjorklund commented on #3512
Hacking `/init` sounds like an excellent idea! Very pragmatic

I know how to build `switch_root`

What was with `/dev/console` ? Didn’t see that (devtmpfs) elsewhere

Thanks for the help, and the sanity check

[2019-08-14 05:43] schemacs commented on #5036
Maybe cobra is not configured correctly?

[2019-08-14 12:05] rameshpuruganti commented on #5046
config.json file is empty.
minikube delete is not working. i am getting same error. Is there any way to delete the folders from the windows and reinstall it again? I have tried to delete the folders manually some are deleted and some are not deleting since it is saying the folders are being used by some other services. Please guide me for the clean and full installation

[2019-08-14 14:19] sdesbure commented on #4132
Hello, same here in v1.3.1 on Debian 10.0

[2019-08-14 15:02] pbalane opened #5076 "proxy: Get https://storage.googleapis.com/....iso.sha256: Bad Request"
**The exact command to reproduce the issue**:
Steps to Reproduce
1) Installed minikube
2) Executed minikube start command
3) resulted in below error
4) SET HTTP_PROXY   HTTPS_PROXY  AND  NO_PROXY

**The full output of the command that failed**:<details>
C:\Installables\kubernatisminikube\Minikube>minikube.exe start
* minikube v1.3.1 on Microsoft Windows 10 Enterprise 10.0.17134 Build 17134
* Downl

[2019-08-14 15:28] afbjorklund commented on #3512
@kfox1111 : never mind, found the original source of the `/dev/console` code.

[code]

Thank you for the suggestion, this will work out just fine.

Before:

[code]

After:

[code]

Now need to change the rest of the configuration etc, but this should be doable.

[2019-08-14 15:30] afbjorklund commented on #3512
And it worked fine with `/sbin/switch_root`, no need to build util-linux switch_root.

[2019-08-14 15:59] kfox1111 commented on #3512
If you can think of any reason why shared mounts break in minikube when they are first used, I'd really appreciate it. I'm struggling a bit trying to figure it out in https://github.com/kubernetes/minikube/issues/4072. I really thought it was this issue but seems unrelated. Thanks.

[2019-08-14 16:00] drewandersen opened #5077 "`minikube addons disable metrics-server` results in an error"
I'm following the instructions in the CoreOS kubernetes operator quickstart guide: https://github.com/coreos/kube-prometheus#minikube

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>
[code]

</details>

**The output of the `minikube logs` command**:<details>

[code]

</details>

**The operating system version**:
Ubuntu 16.04.6 LTS
4.10

[2019-08-14 16:13] tstromberg opened #5078 "site issues on mobile: screenshot aspect ratio & font sizes"
Mentioned by @medyagh

![Screenshot_20190814-090956](https://user-images.githubusercontent.com/101424/63037323-bfce5e00-be73-11e9-9380-ca3b0876f2d9.png)

[2019-08-14 16:20] medyagh commented on #4963
@bhanu011 are you still working on this ?

[2019-08-14 16:26] kfox1111 commented on #4072
Ok. I got it to work!
I had to also remove Environment=DOCKER_RAMDISK=yes from /usr/lib/systemd/system/docker.service

Next I need to unwind a bit and see which of the things above are really required and which are not.

[2019-08-14 16:27] medyagh commented on #4901
@norozmayar I am curious are you running inside a VM ? And if not have you tried the advice that minikube have provided?

[2019-08-14 16:34] medyagh commented on #4735
Closing this issue since we ended up removing this unused code.

[2019-08-14 16:34] #4735 closed

[2019-08-14 16:38] medyagh commented on #4696
@Faisal16292 I am closing this issue, please feel free to reopen with more info and logs if issue still exists.

[2019-08-14 16:38] #4696 closed

[2019-08-14 16:39] medyagh commented on #4592
Done by the PR

[2019-08-14 16:39] #4592 closed

[2019-08-14 16:44] medyagh commented on #4053
@guibirow do you still have this issue with latest minikube ?

[2019-08-14 16:52] medyagh commented on #3664
I wonder if this PR code in vendor folder was removed after switching to go.mod
Anyways we shouldn't have had code in vendor folder but third_party

[2019-08-14 16:57] medyagh commented on #3597
@fenglixa are you still working on this ?

[2019-08-14 16:59] medyagh commented on #3576
Done !

[2019-08-14 16:59] #3576 closed

[2019-08-14 17:27] redborian opened #5080 "status command should support json output"
For upstream tooling, we need JSON output for commands like `minikube status`.

**The exact command to reproduce the issue**:
minikube status

cc: @tstromberg

[2019-08-14 17:32] afbjorklund commented on #3512
No real ideas, sorry. Sounds unrelated?

[2019-08-14 17:53] kfox1111 commented on #3512
I think I tracked it down, in part, to  Environment=DOCKER_RAMDISK=yes  being in the dockerfile. Was this because of rootfs?

[2019-08-14 18:09] ltomes commented on #4053
@medyagh I currently have this issue with minikube 1.3.1

[2019-08-14 18:13] yacn opened #5081 "macOS: `brew install` should be `brew cask install`"
When following the installation guide for macOS, it says to install using `brew` with `brew install minikube`. However, `minikube` is cask now so the correct command is `brew cask install minikube`. Not a big issue since the failed command tells you what to try but seems like it might be worth updating.

#### `brew install minikube`

[code]

[2019-08-14 18:14] #4100 closed

[2019-08-14 18:23] kfox1111 commented on #3512
I can confirm DOCKER_RAMDISK is there so that rootfs works. With the init pivot to tmpfs from above, it is no longer required and allows shared mounts to work. We should remove it as part of this fix.

[2019-08-14 18:28] afbjorklund commented on #3512
Yes, that is related to `--no-pivot` (same as `no_pivot_root = true` in podman)

[code]

[2019-08-14 18:29] medyagh commented on #4053
do you mind sharing the ENV variables of
MINIKUBE_HOME
and
KUBECONFIG

[2019-08-14 18:30] medyagh commented on #4053
so you dont have this issue ?

[2019-08-14 18:30] medyagh commented on #4053
do you mind sharing the path of your `client.crt`

[2019-08-14 18:34] afbjorklund commented on #3512
Here is the same setting in crio.conf:

[code]

[2019-08-14 18:36] kfox1111 commented on #3512
At least in the docker case, it looks like minikube may be injecting the docker.service file?

[2019-08-14 18:37] afbjorklund commented on #3512
All of them, actually. The default is false. (i.e. use `pivot_root`)

[2019-08-14 18:39] kfox1111 commented on #3512
ok. so its a fix to the iso and to the minikube program.

[2019-08-14 18:40] ltomes commented on #4053
I think my issue is different / I can't communicate properly with kubectl either.
[code]
I'm pretty sure I just have a configuration issue with my virtual switch. Sorry for muddying up this ticket!

[2019-08-14 18:41] afbjorklund commented on #3512
Yeah, theoretically we could have minikube look at the mounted file system and adjust appropriately...

That might be appreciated by people who are using older or forked version of the ISO for some reason.

[2019-08-14 18:42] kfox1111 commented on #3512
Does minikube do any templating on the files or just copy them right in?

If its a straight copy, maybe we put the files inside the iso. If they exist, then copy them from the disabled dir to the final destination. If not, inject them. This would allow users to more easily customize them too.

[2019-08-14 18:46] afbjorklund commented on #3512
It's templated, unfortunately. This also has the side effect that you can't reboot the VM yourself.

See #1851

[2019-08-14 18:49] afbjorklund commented on #5081
Basically "cask" is brew-speak for binary, for things that it cannot (or don't want to) build from source.

[2019-08-14 18:50] kfox1111 commented on #3512
hmm... is it gotl? maybe the raw templates could be copied from the iso, templated out to the final version, then injected back to the final location?

[2019-08-14 18:58] medyagh commented on #4053
If you dont mind I am still interested to see the path for the client.crt

[2019-08-14 19:35] guibirow commented on #4053
Hi, sorry, I haven't updated my minikube since raised this issue.

I will try it on Friday, I don't have my laptop with me now.

[2019-08-14 19:39] medyagh opened #5083 "vbox test: "rm: cannot remove '/var/lib/minikube/certs/ca.crt': Buffer I/O error on device sda1"
As seen in:
-  virtualbox mac os  https://storage.googleapis.com/minikube-builds/logs/5075/VirtualBox_macOS.txt
  and https://storage.googleapis.com/minikube-builds/logs/5082/VirtualBox_macOS.txt
-  virtualbox windows  https://github.com/kubernetes/minikube/issues/4342 and also another

~~this could be side effect of https://github.com/kubernetes/minikube/pull/5075~~
I was wrong this is not side e

[2019-08-14 19:53] ltomes commented on #4053
@medyagh
`.kube/config` lists the following paths:
[code]

[2019-08-14 19:59] afbjorklund commented on #3512
Here is the code for the dynamic runtime configuration: 5afa5a21a951a711766a5dd043c087a53a314611

It will detect a non-rootfs partition, and avoid DOCKER_RAMDISK

[2019-08-14 20:17] medyagh commented on #4053
Thanks

[2019-08-14 20:24] afbjorklund commented on #3512
Easiest is using `df` (from GNU coreutils), and filter out the header ([as preferred](https://lists.gnu.org/archive/html/coreutils/2012-12/msg00066.html)):

[code]

So run that from go, instead of gopsutil, and adjust the go template accordingly.

[2019-08-14 20:47] kfox1111 commented on #3512
Is there a pr for the tmpfs init?

[2019-08-14 20:50] afbjorklund commented on #3143
The buildroot configuration for this is `NFS_UTILS_INSTALL_INIT_SYSTEMD`

[code]

[2019-08-14 20:56] afbjorklund commented on #3512
There will be, eventually.

Basically same as above, just tweaked it a bit. We could make it dynamic, but I think that is overkill.
That is, honor the: `grep -qw noembed /proc/cmdline` (we already have "noembed" - but ignore it)

Used `/sbin/switch_root`.

[2019-08-14 20:57] kfox1111 commented on #3512
I just verified my csi driver is working with the fixes in place. So excited to get a release with this in place so everyone can csi. :)

[2019-08-14 20:59] medyagh commented on #4053
@guibirow unfortunately I can not reproduce this issue, I am gonna close this, please feel free to re-open if you still have this issue in the latest version of minikube

[2019-08-14 21:02] medyagh commented on #5081
This make a good first issue to fix the doc !

[2019-08-14 21:03] afbjorklund commented on #3512
These two, merged together.

buildroot: <https://github.com/buildroot/buildroot/blob/master/fs/cpio/init>
[code]

tinycore: https://github.com/tinycorelinux/Core-scripts/blob/master/init
[code]

Probably `/sysroot`, not `/mnt`.

[2019-08-14 21:17] #4788 closed

[2019-08-14 21:24] armab commented on #5014
Thanks for shipping the fixed patch release really quick! :+1:

[2019-08-14 22:03] medyagh opened #5084 "windows : kill command not working"
TestFunctional/group/Mounting

[code]
as seen in https://storage.googleapis.com/minikube-builds/logs/5082/Hyper-V_Windows.txt

the cmd.Kill() returns "Access is denied"

it seems to be a golang issue that Cmd.Process.Start() on Windows have wrong Pid  https://groups.google.com/forum/#!topic/Golang-Nuts/gWPT_BxWISg

and even people skip the test on windows ! https://go.googlesource.com/go/+/master/

[2019-08-14 22:08] #4629 closed

[2019-08-14 22:17] medyagh commented on #5084
https://github.com/charlievieth/winutil/blob/e4ec236014ee4626b38c21ce200544f9d5ac45bf/winutil.go

[2019-08-14 22:17] medyagh commented on #5084
https://github.com/miaia/daemon/blob/569d5a85309dd8f0dd460782603f2a8ab658f9e9/daemon_windows.go

[2019-08-14 22:40] #4889 closed

[2019-08-14 22:53] medyagh commented on #5083
I wonder if we put a retry logic around pre-copy delete that would fix this flake ?

[2019-08-15 01:07] csantanapr commented on #4788
Woot !

[2019-08-15 02:25] warmchang opened #5087 "Due to multiple CVEs and fds leak, need to upgrade golang to 1.12.9"
Due to multiple CVEs and fds leak, need to upgrade golang to 1.12.9

xref:
https://github.com/golang/go/issues/33405
https://github.com/golang/go/commit/047a326569a5d75c2f5c1fd49fccb4da623b038a
https://groups.google.com/forum/#!topic/golang-announce/65QixT3tcmg
https://github.com/golang/go/issues?q=milestone%3AGo1.12.9+label%3ACherryPickApproved
https://groups.google.com/forum/#!topic/golang-annou

[2019-08-15 02:52] vinhladn opened #5088 "Unable to start VM: start: exit status 1"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-08-15 05:41] jinjiangcc commented on #2742
minikube start --extra-config=apiserver.enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,DefaultTolerationSeconds,NodeRestriction,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota,PodSecurityPolicy

[2019-08-15 05:54] Patil2099 commented on #5081
@yacn Can I work on this?

[2019-08-15 06:22] Gopalagithub opened #5090 "virtual machine 'minikube' has terminated unexpectedly - NS_ERROR_FAILURE (0x80004005)"
**The exact command to reproduce the issue**:

minikube start

**The full output of the command that failed**:<details>

😄  minikube v1.3.1 on Ubuntu 16.04
💿  Downloading VM boot image ...
minikube-v1.3.0.iso.sha256: 65 B / 65 B [--------------------] 100.00% ? p/s 0s
minikube-v1.3.0.iso: 131.07 MiB / 131.07 MiB [---] 100.00% 642.87 KiB p/s 3m29s
🔥  Creating virtualbox VM (CPUs=2, Memory=2000MB, D

[2019-08-15 07:46] fenglixa commented on #3597
OK, I will try this recently. @medyagh , do you have any deadline for this ticket?
Have investigated before, the effort to support istio on minikube is not as simply as my original thought.
-Feng

[2019-08-15 10:50] guibirow commented on #4053
So, I just had time to test it.

Neither env vars are set in my environment

The `.kube/config` file set the client certs like this:
[code]
As you can see, it does not use the drive letter as root, it is a valid root path in windows like Linux `/users/name`, probably the script expect the drive letter, and because it does not find one it build the wrong path. it should assume starting with `\` to

[2019-08-15 11:09] guibirow commented on #4053
I can confirm that setting the `MINIKUBE_HOME` with the following command will fix the problem:
```set MINIKUBE_HOME=%HOMEDRIVE%%HOMEPATH%\.minikube```
And running the following command:
[code]
Will create a new cluster properly

I think this should be done by **minikube** and I shouldn't need to do that myself

I can't reopen the bug, so I would be glad if reopen it, please!

[2019-08-15 12:03] guibirow opened #5091 "Custom Addons docs should be more detailed"
The [docs for custom addons](https://minikube.sigs.k8s.io/docs/tasks/addons/#custom-addons) should have more information how to setup the addons.

it simply states:

But does not show how an Addon looks like, what is the composition of an addon and so on.

[2019-08-15 15:05] josedonizetti commented on #4883
@bhanu011 sorry for the delay, was away last week. I have just tested `ListProfiles` locally and it did list all my 3 profiles as valid, including the default one.  Do you have rebased your code from master?
Maybe delete/recreate the main profile, might be from an older version?

[2019-08-15 15:26] medyagh commented on #4053
@guibirow thanks for updating the issue. I couldn't produce this issue on our windows machine. And others don't have this issue.

Do you mind sharing more info about your windows version?

Is it possible to that the MINIKUBE_HOME was set before to another path ?

[2019-08-15 15:34] medyagh commented on #4854
Done

[2019-08-15 15:34] #4854 closed

[2019-08-15 15:34] medyagh commented on #4669
Won't do

[2019-08-15 15:34] #4669 closed

[2019-08-15 15:53] guibirow commented on #4053
Windows 10 Pro 10.0.18362.239 Build 18362 [Release 1903]

There was no value for `MINIKUBE_HOME` in the env vars
I will try again tonight,
I will remove the environment to see if the problem return

[2019-08-15 15:53] #5081 closed

[2019-08-15 16:24] cc189 commented on #4352
resolved follow Minikube RBAC Quick Start
https://gist.github.com/F21/08bfc2e3592bed1e931ec40b8d2ab6f5

[2019-08-15 17:50] medyagh commented on #1408
@kevinpauli @ghandim @mvaldesdeleon @certifiedwaif  @LupusUmbrae @isuftin @chino @jwflory @isuftin @ztripez

I believe this issue will be solved by this PR and I am excited about it ! please let me know if this PR fixes the issue you are facing.
https://github.com/kubernetes/minikube/pull/5015

[2019-08-15 18:13] tstromberg commented on #5046
Confirmed on macOS:

[code]

[2019-08-15 18:16] tstromberg commented on #5046
Thank you for the update!

As far as deleting folders in Windows, I'm not sure how to guide you to doing so with full permissions. You may need to stop the VM in Hyper-V first if one exists.

[2019-08-15 18:17] tstromberg commented on #5011
@josedonizetti - any clues here?

[2019-08-15 18:18] tstromberg commented on #4997
Do you mind checking if minikube v1.3.1 has the same issue?

[2019-08-15 18:21] medyagh commented on #4910
@fabricadd thanks for not giving up :)

[2019-08-15 18:21] tstromberg commented on #4910
I think we're going to need `-v=7` to see the machine driver logs: https://minikube.sigs.k8s.io/docs/tasks/debug/#enabling-debug-logs

I didn't see any useful error messages from Hyper-V in the previously attached logs. Do you mind sharing the output of `minikube start --alsologtostderr -v=7 <your hyperv flags>`

[2019-08-15 18:25] tstromberg commented on #4901
Hey @norozmayar - Do you mind trying with minikube v1.3.1 without sudo and sharing the full output?

If that fails, I think you are going to have to enable virtualization in your BIOS.

[2019-08-15 18:26] tstromberg commented on #4634
Any luck with this?

[2019-08-15 18:27] guibirow commented on #4053
Looks like I found the cause of the issue

I have removed the previous created clusters, deleted the env var `MINIKUBE_HOME` and tried again, the error returned.

After a lot of back and forth, I found out that the conflict is in the `home` env var. The current value is
`home=\Users\Diego.Mendes`, this will cause minikube to prepend the `C:\Users\Diego.Mendes\.kube` at the beginning of the path ca

[2019-08-15 18:31] tstromberg commented on #5091
Agreed, this guide should link to https://minikube.sigs.k8s.io/docs/contributing/addons/

[2019-08-15 18:33] medyagh commented on #5090
I am curious  if you killed the minikube start with ctrl+c or power off ?

[2019-08-15 18:34] guibirow commented on #5091
Cool, I didn't see this one, can I submit the PR to link these guides?

[2019-08-15 18:34] tstromberg commented on #5090
This issue appears to be a duplicate of #4908, so I will close this one so that we may centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please feel free to re-open it. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-08-15 18:34] #5090 closed

[2019-08-15 18:35] tstromberg commented on #5088
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=7` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2019-08-15 18:37] tstromberg commented on #5087
@medyagh has some ideas on this.

[2019-08-15 18:38] medyagh commented on #5087
I am on it

[2019-08-15 18:39] tstromberg commented on #5083
This sounds like filesystem corruption. I would love to see the output of `dmesg`.

[2019-08-15 18:40] fabricadd commented on #4910
Hello Thomas,

Thanks for trying to help. Please see below the requested output. Note that yesterday I eventually managed to have minikube start again successfully with Hyper-V, having disabled VirtualBox. I'm surprised to not be able to have it automatically started when switching on my laptop....

PS C:\users\nelson> minikube start -p --kubernetes-version="v1.15.0" --vm-driver="hyperv" --memory=

[2019-08-15 18:41] tstromberg commented on #5083
[code]

[2019-08-15 18:43] longwuyuan commented on #4997
I feel we can close this as I could not reproduce the problem after I switched from a chocolatey installed minikube to manually downloaded minikube executable from releases pages of github repo. Also suggesting close because access to a Window10 is gone for now.

[2019-08-15 18:44] tstromberg commented on #4855
Closing as we've decided to get rid of this warning altogether (#4998)

[2019-08-15 18:44] #4855 closed

[2019-08-15 18:46] tstromberg commented on #5076
It appears that the HTTPS_PROXY you have selected is rejecting the HTTP request. Are you sure you have the correct value for it?

[2019-08-15 18:49] #5062 closed

[2019-08-15 18:56] afbjorklund commented on #5087
Also update build image to `k8s.gcr.io/kube-cross:v1.12.8-1`

[2019-08-15 18:59] tstromberg commented on #4860
It seems like your host is unable to pull images from gcr.io, possibly due to running from China. Do you mind sharing the output of `kubectl get po -A`?

[2019-08-15 18:59] tstromberg commented on #4859
The only way I could imagine this error firing is if VirtualBox is not in PATH. I'm not sure what else to do about it.

[2019-08-15 19:05] guibirow commented on #5091
/assign

[2019-08-15 19:05] #1408 closed

[2019-08-15 19:41] josedonizetti commented on #5011
@andrebraitc does `docker-machine-driver-kvm2 version` work for you when using the 1.2.0?

on my machine I get for version 1.2.0:
[code]

but at the same time minikube/kvm2 1.3.0 works without any problem.

@afbjorklund could it be related to the linked libviirt version?

[2019-08-15 20:46] andrebraitc commented on #5011
@josedonizetti It does not. I get the same output.

[2019-08-15 20:48] andrebraitc commented on #5011
Note, however, that the `kvm2` driver version does not matter in this particular issue. Only the minikube version seem to make any difference. Crashes with 1.3.0, works fine with 1.2.0 (I haven't tested with 1.3.1).

[2019-08-15 21:16] yevgenypats opened #5096 "Suggestion: Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers
- Continuous Fuzzing of master branch which will generate new corpus and look for new crashes
- Regression on eve

[2019-08-15 22:03] josedonizetti commented on #5061
I'm investigating this.

[2019-08-15 23:00] #5091 closed

[2019-08-16 00:24] tstromberg opened #5097 "Downgrade warning is unhelpful and confusing"
When a user wants to run against an older version of Kubernetes, but have already run `minikube start` with the default version, we show them the warning, and ignore their request:

`Kubernetes downgrade is not supported, will continue to use v1.15.2`

Instead, we should exit with a compatibility error that tells the user exactly what is going on and how to workaround it. Something like:

[code]

[2019-08-16 00:28] tstromberg commented on #5097
If anyone wants to implement this, here's where to start:

https://github.com/kubernetes/minikube/blob/21256ccb9de7d0dc08afc893ff122837e98a736b/cmd/minikube/cmd/start.go#L821

Using `exit.WithCode(exit.Config, "message")` seems reasonable.

[2019-08-16 00:55] docktermj commented on #4634
Nothing yet.   Today I "upped" my minikube version to 1.3.1 and will try again early next week.

[2019-08-16 01:26] medyagh commented on #5011
@andrebraitc  I know that this happened after upgrading, however I still believe it worth trying with the latest driver version, we had some bugs in older driver versions about "minikube stop" and "start"

here is link to install latest driver:
https://minikube.sigs.k8s.io/docs/reference/drivers/kvm2/#driver-installation