[2020-07-13 14:08] vinu2003 commented on #8511
Proposal to export errFinished - https://github.com/golang/go/issues/39444 seems to be OK. Its in final comment period.

[2020-07-13 14:08] priyawadhwa commented on #8690
Hey @malocar7 unfortunately we don't know much about MiniKF and can't help debug this issue. I'd suggest reopening this issue in their repo: https://github.com/kubeflow/

I'm going to go ahead and close this issue since it isn't actionable.

[2020-07-13 14:08] #8690 closed

[2020-07-13 14:11] priyawadhwa commented on #8708
Hey @saikatHi6 thanks for opening this issue. Could you try:

1. Upgrading to minikube v1.12.0
1. Running `minikube start` with the `--force-systemd=true` flag

Please let us know what results you get!

[2020-07-13 14:13] ashish202 commented on #8704
@zhangguanzhang  I am running kubectl and minikube on windows.

Minikube Package : - Direct download Link :
https://github.com/kubernetes/minikube/releases/tag/v1.12.0

minikube-windows-amd64.exe

[2020-07-13 14:20] priyawadhwa commented on #8707
Hey @skmaingi I haven't seen this error before but it looks like the UID of `sudo` _within_ minikube is not 1 or somehow corrupted.

My best suggestion right now is to delete and try again, could you let us know if this works:

[code]

[2020-07-13 14:22] priyawadhwa commented on #8706
Hey @malocar7 unfortunately we don't maintain miniKF and don't know much about it. While this does look like a minikube issue, I'd suggest first opening this issue in their repo for help: github.com/kubeflow

[2020-07-13 14:25] priyawadhwa commented on #8690
I kept https://github.com/kubernetes/minikube/issues/8706 open as a dupe

[2020-07-13 14:45] vinu2003 commented on #8694
Reproduced this issue. started working on PR.

[2020-07-13 16:19] KardiffInker commented on #8567
Hi sharifelgamal ,

I'm getting a similar error:

💣  Failed to update cluster: updating node: downloading binaries: downloading kubeadm: download failed: https://storage.googleapis.com/kubernetes-release/release/v1.18.3/bin/linux/amd64/kubeadm?checksum=file:https://storage.googleapis.com/kubernetes-release/release/v1.18.3/bin/linux/amd64/kubeadm.sha256: getter: &{Ctx:context.Background Src:https:/

[2020-07-13 17:06] masayag commented on #1882
Three years later and it happened again using minikube v1.12.0 on Fedora 31 wish kvm2 driver.
In my case I first deleted previous machines with:
`minikube delete --all`
and retry the same command in verbose mode:
`minikube start --alsologtostderr`
That reveals the failed attempt to connect to the VM:
[code]

I tried to run the ssh command from a different terminal, omitting the `-o LogLevel=quiet`

[2020-07-13 18:14] medyagh opened #8711 "Update NewestKubernetesVersion to v1.19.0-rc"

[2020-07-13 18:16] medyagh opened #8712 "Test against ISO change on PR in GH Action"

[2020-07-13 18:22] medyagh commented on #8351
this is done !

[2020-07-13 18:22] #8351 closed

[2020-07-13 18:22] medyagh commented on #8354
dupe of https://github.com/kubernetes/minikube/issues/1568

[2020-07-13 18:22] #8354 closed

[2020-07-13 18:27] medyagh opened #8713 "TestNetworkPlugins/group/auto/DNS -"
as seen here https://storage.googleapis.com/minikube-builds/logs/8468/7bc10bb/HyperKit_macOS.html

[2020-07-13 18:31] medyagh commented on #8516
dupe of https://github.com/kubernetes/minikube/issues/8131

[2020-07-13 18:31] #8516 closed

[2020-07-13 18:34] medyagh commented on #8657
dupe of https://github.com/kubernetes/minikube/issues/8458

[2020-07-13 18:54] medyagh opened #8714 "enable metric addon when someone enables dashboard"

[2020-07-13 19:24] saikatHi6 commented on #8708
Hi @priyawadhwa thank you for your quick reply. I tried the same but got the same error. Below are my command and log.

[code]

PS C:\Users\admin\Desktop\checkout_ms> minikube status
E0714 02:48:11.839304     792 status.go:247] kubeconfig endpoint: extract IP: "minikube" does not appear in C:\Users\admin/.kube/config

[2020-07-13 19:34] medyagh commented on #8398
That seems like a good feature to add

[2020-07-13 20:13] mazzystr commented on #8699
Crap!  Now I'm hitting problems with Fedora 32 and minikube ....

[code]

[code]

`--driver=none` works....
[code]

[2020-07-13 20:15] priyawadhwa commented on #8696
Hey @FaristaS based on this log:
[code]

it seems like you don't have permissions to run the none driver, which requires root permissions. If you have root permissions, then

[code]

should work. If you're unable to run as root, consider running minikube in docker instead, with `minikube start --driver docker`

[2020-07-13 20:19] priyawadhwa commented on #8661
Hey @franck102 I tried to repro this with minikube v1.12.0 by running:

[code]

I confirmed that this worked as expected by running:
[code]

So the flag is being passed in as expected. Could you see if this works for you?

I suspect this will only work on fresh start and not an existing cluster; that issue is being tracked at #8242

[2020-07-13 20:22] priyawadhwa commented on #8689
Hey @juettemann to get an external IP for type `LoadBalancer` you'll need to run `minikube tunnel` in a separate terminal window. The docs for this can be found here:

https://minikube.sigs.k8s.io/docs/handbook/accessing/#loadbalancer-access

[2020-07-13 20:31] priyawadhwa commented on #8584
Hey @zenbones thanks for opening this issue. Honestly, I'm not super familiar with this so I'm not sure exactly what the issue is. Some suggestions I can think of:

1. Since this recently started failing, I'd check that the kubernetes version minikube is the same as the cluster where this worked
1. Increase the CPU/memory allocated to minikube via the `--memory` and `--cpus` flags to `minikube sta

[2020-07-13 20:49] mazzystr commented on #8701
for starters firewalld must never be disabled or reloaded (when minikube/kubernetes is running)

[2020-07-13 20:49] rcalabro commented on #1471
/reopen
/remove-lifecycle rotten

[2020-07-13 22:15] sayak-brm commented on #4587
WSL2 not working after this...

[2020-07-13 23:24] Shujaatu02 opened #8717 "minikube start *error"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

minikube start
😄  minikube v1.11.0 on Ubuntu 20.04 (vbox/amd64)
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🏃  Updating the running docker "minikube" container ...
🐳  Preparing Kubernetes v1.18.3 on Docker 19.03.2 ...
    ▪ kubeadm.pod-network-cidr=1

[2020-07-14 01:10] zhangguanzhang commented on #8704
I mean that you should put the file content to here

[2020-07-14 01:14] juettemann commented on #8689
@priyawadhwa Thanks so much, that was the missing piece!

[2020-07-14 02:50] FaristaS commented on #8696
Hi @priyawadhwa,
The above cmd is run thru root user only with driver none,
I am able to start with non root user with Docker driver, but i want to start with nine driver which require root privilege.
On running with root user i get the above error.

[2020-07-14 02:59] YanivHaramati commented on #7995
same. turned off vpn. deleted, started again, and it worked.

[2020-07-14 03:08] prasadkatti commented on #7936
This seems to have been fixed in https://github.com/kubernetes/minikube/pull/8545
Here : https://github.com/kubernetes/minikube/commit/9e95435e0020eed065ee0229a6a54a7e54530a6d#diff-38ffa3aa6db3a315c7abe51a11b3c6b3

[2020-07-14 06:20] ashish202 commented on #8704
@zhangguanzhang ...This is is resolved yesterday.
Actually the issue was coming beacause I have installed the minkube before and re-installing again. So, before reinstalled I have to use the "minikube delete" command first to clean up/Clear local state and then "minikube start --driver=hyperv ".

https://kubernetes.io/docs/tasks/tools/install-minikube/

We can close the ticket, thanks for support.

[2020-07-14 06:20] #8704 closed

[2020-07-14 06:24] ashish202 commented on #8717
@Shujaatu02.

Use "minikube delete" commnad first to clean up/Clear the local state, then use the ""minikube start --driver=<>".

Try first and then thanks me later :)

https://kubernetes.io/docs/tasks/tools/install-minikube/

[2020-07-14 10:20] skmaingi commented on #8707
@priyawadhwa Thank you for assistance.
I tried deleting the cluster and using another driver but got "The connection to the server localhost:8080 was refused - did you specify the right host or port?"
I had to uninstall docker and minikube and remove all images. A new installation worked for me.

[2020-07-14 10:20] #8707 closed

[2020-07-14 11:41] kaykhancheckpoint commented on #7828
Facing the same issue did you find a solution?

[2020-07-14 11:41] kaykhancheckpoint commented on #7828
Im facing the same issue, did you find a solution?

[2020-07-14 13:38] priyawadhwa commented on #8689
@juettemann glad to hear it! I'll go ahead and close this issue, feel free to reopen if you have any questions.

[2020-07-14 13:38] #8689 closed

[2020-07-14 13:56] #8380 closed

[2020-07-14 14:11] priyawadhwa commented on #8717
Hey @Shujaatu02 thanks for opening this issue -- it seems DNS related, but unfortunately I'm not super familiar with those errors. Does deleting and restarting the cluster fix this for you?

If you could try:

[code]

and also:

[code]

and let us know if either of those fixes the issue?

[2020-07-14 14:24] priyawadhwa commented on #8703
Hey @PaoloneM thanks for reporting this issue. I was able to reproduce it with:

- minikube v1.12.0
- docker driver
- mac OS

multinode is currently experimental, so it looks like this is one of the bugs that still need to be fixed. To track progress on multi-node clusters, see https://github.com/kubernetes/minikube/issues/7538.

It seems like this bug is a dupe of https://github.com/kubernetes/mi

[2020-07-14 14:58] ashish202 commented on #8717
@priyawadhwa  Yes it resolved for me. I was running on windows but error is same kind of and resolution is done for me.

Please refer -
https://github.com/kubernetes/minikube/issues/8704#issuecomment-657908407

Try this -
minikube delete
minikube start --driver docker

[2020-07-14 15:05] priyawadhwa commented on #8717
@ashish202 glad it worked! I'll go ahead and close this issue.

[2020-07-14 15:05] #8717 closed

[2020-07-14 15:32] ejiek opened #8719 "rootless podman driver"
**Steps to reproduce the issue:**

1. `minikube start --driver=podman`

**Full output of failed command:**
[code]

This means that with podman driver user is obligated to have root access without password wich is not minimal provilage.
[It's possible](https://www.redhat.com/sysadmin/behind-scenes-podman) to run podman rootless.

[Here](https://wiki.archlinux.org/index.php/Podman#Rootless_Podman) i

[2020-07-14 15:38] ejiek commented on #8719
might be duplicate of #7480

[2020-07-14 15:42] SMDMANSOOR opened #8720 "Unable to load cached images: archive/tar: invalid tar header"
When starting minikube from windows CMD prompt I am getting the below error, please assist.

minikube start
* minikube v1.12.0 on Microsoft Windows 10 Home Single Language 10.0.19041 Build 19041
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Updating the running virtualbox "minikube" VM ...
* Found network options:
  - HTTP_PROX

[2020-07-14 16:17] afbjorklund commented on #8719
We require rootful podman (v1) at the moment. This is unlikely to change, same with dockerd --rootless.

If you are interested in trying to run kubernetes without root, you can look into the [usernetes](https://github.com/rootless-containers/usernetes) project ?

So this is more about #7963

You could also use a VM...

[2020-07-14 16:37] #8700 closed

[2020-07-14 16:38] afbjorklund commented on #8719
A lot of these are **blockers**:

* No cgroup V1 Support
* No CNI Support

Others are just bad performance:

* fuse-overlayfs
* slirp4netns

There is no big use case for minikube supporting podman, and it becomes even smaller for rootless podman.

I think we need Cgroups v2 support to land in Kubernetes (and Docker), before we look at supporting it (v2)...

[2020-07-14 16:45] PaoloneM commented on #8703
Hi @priyawadhwa , thanks for investigating the issue. I think too that it is more related to CNI: as a workaround I've been able to get the cluster working by removing the pre-installed net plugin, install Calico from scratch, recreating the DNS and any other pod I deployed to have them getting consistent networking config.

[2020-07-14 17:02] olivierots commented on #8701
ok thats been re-enabled

[2020-07-14 17:07] mazzystr commented on #8701
Now delete your minikube instance, reboot, redeploy minikube.  The reason for this is if you run `iptables -t nat` you'll see the tables empty.  minikube/kubernetes is going to add many rules to this table.  It's impossible to rebuild the necessary rules without reboot and redeploy.

I'm about to redeploy `minikube --driver=kvm or virtualbox` myself in 15 mins (10:30am Pacific).  I'm happy to meet

[2020-07-14 17:43] #8636 closed

[2020-07-14 18:23] afbjorklund commented on #8699
The error on 1.11 is known (~~#8560~~) , it was trying to parse the newline (`\n`)

There is not enough info from the _first_ start failure, unfortunately `exit status 126`

[2020-07-14 18:49] happy-machine opened #8722 "VM instance of MiniKube hangs on provisioning ingress addon"
**Steps to reproduce the issue:**

minikube start —driver=docker --cpus=4 --memory='8200m' --vm=true
minikube addons enable ingress

**Full output of failed command:**
🔎  Verifying ingress addon...

💣  enable failed: run callbacks: running callbacks: [verifying ingress addon pods : timed out waiting for the condition: timed out waiting for the condition]

😿  minikube is exiting due to an error. If

[2020-07-14 19:10] olivierots commented on #8701
oups sorry just seeing this, i have no idea why i dont get any notifications from this thread
here is my newly created slack_id: olivierots.slack.com

[2020-07-14 19:42] jaysonwor commented on #6143
I was running into the same issues. Turned out had nothing to do with either bootp or internet sharing, and was due to the fact the mac firewall was enabled. Hopefully will help others whom couldn't get hyperkit working on catalina (10.15.5 (19F101))

[2020-07-14 19:48] medyagh commented on #6143
@jaysonwor do you mind sharing how to disable mac frewall in terminal and what version do you use ?
and also is there a way we can detect in terminal if firewall is on ? so we could detect and advice the user?

[2020-07-14 19:52] jaysonwor commented on #6143
Sure. Click "Apple" icon -> System Preferences -> Security & Privacy -> Firewall "Turn off". Probably not the best solution but at least it worked (minikube 1.12 with hyperkit up and running)

[2020-07-14 19:56] jaysonwor commented on #6143
A bit more info about my setup just in case. I tried rm /var/db/dhcp_leases and it creates the file okay whereas before it was throwing error.

Removed all traces of the "minikube" cluster.
😄  minikube v1.12.0 on Darwin 10.15.5
✨  Using the hyperkit driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🔥  Creating hyperkit VM (CPUs=2, Memory=4000MB, Disk=20

[2020-07-14 19:59] priyawadhwa commented on #7455
/remove-lifecycle stale

[2020-07-14 20:07] jwandrews commented on #7828
My $0.02:
After some digging, I found that the storage-provisioner addon was failing to create it's pod for some reason. Even though `minikube addons list` showed that it was enabled.

After kicking the addon: `minikube addons enable storage-provisioner`, it spun up and immediately created the PVs and everything started ticking like a well-oiled machine.

Not guaranteed to work for everyone. But w

[2020-07-14 20:08] jwandrews commented on #3869
My $0.02:
After some digging, I found that the storage-provisioner addon was failing to create it's pod for some reason. Even though `minikube addons list` showed that it was enabled.

After kicking the addon: `minikube addons enable storage-provisioner`, it spun up and immediately created the PVs and everything started ticking like a well-oiled machine.

Not guaranteed to work for everyone. But w

[2020-07-15 03:55] ejiek commented on #8719
Sounds reasonable, thanks!

Should we keep this issue open for the bright future or you preferto create a new one once the time comes (if at all)?

[2020-07-15 04:53] renich commented on #6205
Is this ticket gonna be automatically closed?

[2020-07-15 07:23] Pavs1605 opened #8724 "hyperv: Failed to start host: provision: IP not found"
**Steps to reproduce the issue:**

C:\WINDOWS\system32> minikube start --vm-driver="hyperv" --hyperv-virtual-switch="minikube"
* minikube v1.11.0 on Microsoft Windows 10 Pro 10.0.18362 Build 18362
* Using the hyperv driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Updating the running hyperv "minikube" VM ...
! StartHost failed, but will try again: prov

[2020-07-15 07:53] vssirigiri opened #8725 "Not able to spin the VM box. Can someone help?"
There was an error while executing `VBoxManage`, a CLI used by Vagrant
for controlling VirtualBox. The command and stderr is shown below.

Command: ["startvm", "55a189ef-97e0-403c-a40c-68c02a3bd7bd", "--type", "headless"]

Stderr: VBoxManage.exe: error: The virtual machine 'Windows-LL_default_1594794647859_99969' has terminated unexpectedly during startup with exit code 1 (0x1).  More details may

[2020-07-15 09:24] petr-motejlek commented on #8512
Hey,

I just got bit by the 240-second timeout too. In my case, there doesn't seem to be any real issue there, apart from the disk size being 128GB and that is just taking too long (longer than 240 seconds). For now, I went with 64 GBs, but was looking for a way to increase the timeout ... too bad, it's hard coded.

I am not sure what exactly is happening. I am running using the HyperV driver on W

[2020-07-15 09:59] marga-kinvolk opened #8726 "Can't build minikube: https://github.com/sayboras/dockerclient is now 404"
I was trying to build minikube from source and my build failed because https://github.com/sayboras/dockerclient is no longer there:

[code]

The original repo still exists (https://github.com/samalba/dockerclient) but it's very old. I don't know what changes the one by @sayboras had.

[2020-07-15 10:08] sayboras commented on #8726
@sayboras opps, sorry about this. Let me recover it.

[2020-07-15 10:24] marga-kinvolk commented on #8726
Thanks for restoring the repo! :)

Unfortunately, it still fails with:
[code]

I guess the rev needs to be updated to the current one?

[2020-07-15 10:27] sayboras commented on #8726
yup, I just realized that I removed the branch, let me update with tag version, so that I will not clean up the branch by mistake.

[2020-07-15 10:30] sayboras commented on #8726
Sorry for any inconvenience caused.

You can checkout the changes in mentioned PR #8727, and proceed with your work.

[2020-07-15 10:59] marga-kinvolk commented on #8726
Thanks! :+1:

[2020-07-15 11:27] redoz94 opened #8728 "Getting issue when I do minikube start. How do I solve it?"
**Steps to reproduce the issue:**

1.% minikube start
😄  minikube v1.11.0 on Darwin 10.15.4
✨  Using the hyperkit driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing hyperkit VM for "minikube" ...
🐳  Preparing Kubernetes v1.18.3 on Docker 19.03.8 ...
❌  Problems detected in kubelet:
    Jul 15 11:06:41 minikube kubelet[2508]: E0715 11

[2020-07-15 15:48] Septem151 commented on #5154
/reopen

This issue is present in v1.12.0

[2020-07-15 16:43] afbjorklund commented on #8719
I think spinning up an entire kubernetes "node" inside a rootless container will be hard to accomplish, if at all...

We already see a lot of issues, from the difference between a virtual machine and a (rootful) system container.

So it would definitely be at the bottom of the list.

Minikube runs in virtualbox ("classic")
Minikube runs in "native" hypervisor, linux libvirt
Minikube runs in "nativ

[2020-07-15 16:49] afbjorklund commented on #8696
Do you get the same errors when you run "sudo minikube" from your regular (non root) user ?

[2020-07-15 16:52] FaristaS commented on #8696
@afbjorklund, yes
It gives the same error with $sudo

[2020-07-15 16:55] afbjorklund commented on #8696
I was just wondering, because there was some bug reports from the old RHEL 7 on which it is based.

The best solution at this point is choosing one of the supported platforms, or maybe another AWS tool

[2020-07-15 17:13] FaristaS commented on #8696
@afbjorklund  ok
The VM is Amazon AMI based, so i am not sure if the above link is related to the issue.
I would appreciate if you come across any solution or workaround or something...

[2020-07-15 17:43] ashishsecdev commented on #7879
I am on Windows, any luck with the solution?

[2020-07-15 18:08] TheAli711 commented on #7995
Facing same issue I am not using any VPN.
I am using minikube inside a vbox ubuntu vm.
the driver I am using is vbox for running minikube.
I am using bridge connection mode in VM networking on ubuntu VM.
my original host is a w10 machine.

[2020-07-15 18:09] sharifelgamal commented on #8356
What sort of error are you seeing with the docker driver?

[2020-07-15 18:11] sharifelgamal commented on #4240
This remains an issue I believe.
/lifecycle frozen

[2020-07-15 18:13] priyawadhwa commented on #6912
Hey @Nick-Harvey does this work with the none driver for you?

[2020-07-15 18:16] medyagh commented on #8257
I agree @afbjorklund that allowing user to run as root causes a lot of headaches such as folders and files that are created and will make profile management more difficult,

and I don't think it will be in scope of minikube to run as root user. since we minikube's focus is local kubernetes developement.

[2020-07-15 18:16] priyawadhwa commented on #8685
Hey @babiaastor I tried searching for the virtualbox error and found this forum:

https://forums.virtualbox.org/viewtopic.php?f=3&t=17865

it seems you have to install virtualbox as an administrator. Could you try uninstalling it and then reinstalling it as an administrator?

[2020-07-15 18:17] sharifelgamal commented on #4392
Github actions seem perfectly acceptable for this usecase.

[2020-07-15 18:18] medyagh commented on #8293
@oocx
 I haven't heard back from you, I wonder if you still have this issue? I believe we had fixed this long time ago ,have you had a chance to try if this was fixed ?

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-07-15 18:18] #8293 closed

[2020-07-15 18:20] medyagh commented on #8325
@balopat  I haevn't seen this issue again, I believe this has been fixed, I will close but please reopen if stil exists

[2020-07-15 18:21] sharifelgamal commented on #8488
deployments create pods under the hood, at the end of the day all you're doing is creating pods with either of those commands.

[2020-07-15 18:22] medyagh commented on #8421
@YuvalAvra do you mind sharing what you did this might be helpful to other users ? or potentially we can add it to our advanced tutorials https://minikube.sigs.k8s.io/docs/tutorials/

[2020-07-15 18:22] sharifelgamal commented on #8192
Does upgrading to minikube v1.12.0 fix this issue for you @Manvi07 ?

[2020-07-15 18:24] priyawadhwa commented on #8662
Hey @nicks thanks for providing such clear reproduction instructions, I was able to repro this issue.

We've been having issues with the storage provisioner for a while now and plan on fixing it soon. A dupe of this issue exists here: https://github.com/kubernetes/minikube/issues/8414 so I'm going to close this one so that we can consolidate the issues.

Please comment any new findings there, or f

[2020-07-15 18:24] #8662 closed

[2020-07-15 18:27] medyagh commented on #8712
update, I tried and it took 1.5 hours to upload the ISO file in github actions

[2020-07-15 18:28] sharifelgamal commented on #8632
Please let us know if this continues to be an issue.

[2020-07-15 18:29] priyawadhwa commented on #8703
@PaoloneM glad you found a way to make this work!

[2020-07-15 18:30] priyawadhwa commented on #8701
Hey @olivierots  & @mazzystr were you able to find a solution for this?

[2020-07-15 18:31] medyagh commented on #7549
Hi @kajariagrawal , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

Meanwhile have you tried

[2020-07-15 18:31] #7549 closed

[2020-07-15 18:33] medyagh commented on #7677
@mazzystr
@anilsakr

have you had a chance to try the suggestion int his comment ? https://github.com/kubernetes/minikube/issues/7677#issuecomment-652111143

[2020-07-15 18:34] priyawadhwa commented on #8720
Hey @SMDMANSOOR I noticed this log in the output you provided:

[code]

I'm wondering if somehow that image was corrupted during download. I'd suggest deleting your cache and trying again.

Could you let me know if this fixes your issue?

[code]

[2020-07-15 18:38] medyagh commented on #8453
seems like mininkube' suggestion could be improved

minikube had said,
[code]

we could improve it and say

💡：Install the latest version of VirtualBox and ensure it is in the path
📘：https://minikube.sigs.k8s.io/docs/reference/drivers/virtualbox/

[2020-07-15 18:38] priyawadhwa commented on #8722
Hey @happy-machine thanks for opening this issue.

I noticed you have both the `--driver=docker` and `--vm=true` flags appended to `minikube start`. Those are opposing flags, since `--driver=docker` tells minikube to run in a docker container, while `--vm=true` tells minikube to run in a VM. I'd remove whichever one you don't want.

Could you also run:

[code]

and then provide the output of:

[co

[2020-07-15 18:39] medyagh commented on #8181
Hi @@prakashchoudhary110, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-07-15 18:39] #8181 closed

[2020-07-15 18:40] priyawadhwa commented on #8724
Hey @Pavs1605 thanks for opening this issue. I'm not super familiar with the hyperv driver, but this issue seems to be related to #3648

Could you give the suggestion in this comment a try, and let me know whether or not it solves your issue?

https://github.com/kubernetes/minikube/issues/3648#issuecomment-488218782

[2020-07-15 18:42] priyawadhwa commented on #8725
Hey @vssirigiri I'm not sure about this one, as it sort of looks like a VBoxManager error rather than a minikube error to me.

Could you see if running:

[code]
fixes the issue?

[2020-07-15 18:45] priyawadhwa commented on #8728
Hey @redoz94 thanks for opening this issue.

Could you let me know if either of these works?

[code]

[code]

[2020-07-15 18:45] artemkoslenkov commented on #8632
thanks, but no, as I've mentioned after ubuntu restart it was gone and I can't reproduce until now

[2020-07-15 18:45] medyagh commented on #8445
@AurelienGasser I am curious does this error happen in v1.12.0 ?

[2020-07-15 18:46] sharifelgamal commented on #8632
OK, I'm going to go ahead and close this issue for now. If you ever reproduce it, feel free to reopen.

[2020-07-15 18:46] #8632 closed

[2020-07-15 18:48] priyawadhwa commented on #8726
Thanks for opening a PR for this @sayboras , I'll take a look at it today

[2020-07-15 18:55] nicks commented on #8662
@priyawadhwa that looks right to me, thanks!

[2020-07-15 19:31] keyhan commented on #7070
Any suggestions for the newbies how to get past this?

[2020-07-15 19:44] medyagh commented on #7070
@keyhan are you using the docker driver. is there a reason you set --docker-opt storage-driver=overlay2  option ?

[2020-07-15 19:57] keyhan commented on #7070
Hi, I am using ubuntu installation of docker, have not touched it. just
done "apt install docker-io". Right now I am upgrading to the latest
release to see if it solves the problem.

On Wed, Jul 15, 2020 at 9:44 PM Medya Ghazizadeh <notifications@github.com>
wrote:

--
-----------------------
Best Regards
Keyhan Hadjari

[2020-07-15 19:58] aaomidi commented on #7879
This has been working fine with me, `minikube tunnel` command opens up the proper access.

[2020-07-15 20:06] #8488 closed

[2020-07-15 20:51] eox-dev commented on #7879
Using `--vm-driver=docker`?

Anything special in your ingress configuration?

Just running `minikube tunnel` with no additional flags?

What is your `minikube tunnel` output and what is the IP you are navigating to?

As I put in [my repo](https://github.com/eox-dev/minikube-wsl2), I've tried just running `minikube tunnel` and get the following output:
[code]
Go to browser and try to access the run

[2020-07-15 20:57] aaomidi commented on #7879
minikube tunnel
* Starting tunnel for service xyz-service-service.

My service type is LoadBalancer

[2020-07-15 21:07] kschaab opened #8730 "Add transient states ("stopping", "starting")"
Minikube status lists Running, Paused or Stopped for each profile.  It does not account for the state between minikube start and Running.  It would be helpful to indicate when minikube is starting, pausing (maybe, this state seems like it might be super short), stopping and possibly deleting as well as valid states.

[2020-07-15 21:17] medyagh commented on #8730
seems like a good feature for minikube !

[2020-07-15 21:19] AkihiroSuda commented on #8719
Work in progress for kind: https://github.com/kubernetes-sigs/kind/pull/1727

Probably it can be easily ported to minikube as well

[2020-07-15 21:21] AkihiroSuda commented on #8257
kind is going to support rootless Docker

https://github.com/kubernetes-sigs/kind/pull/1727

[2020-07-15 21:30] vssirigiri commented on #8725
Hi Priya, Sorry I posted under wrong heading. Yes Its VBox manager error

[2020-07-15 21:40] ashishsecdev commented on #7879
I tried 'minikube tunnel'  already but got no response, just the blinking cursor. I am on Windows 10 and using Docker driver to connect.

Is there any settings that I should change before hitting 'minikube tunnel'?

[2020-07-15 21:57] ashishsecdev commented on #7879
"Tunnel" option by default works for connecting with LB services.

[2020-07-15 22:54] #8726 closed

[2020-07-15 23:16] eox-dev commented on #7879
Read up on:

https://minikube.sigs.k8s.io/docs/handbook/accessing/#loadbalancer-access

So is the LoadBalancer supposed to sit in front of the `ingress ngixnx` controller I'm using or bypass it altogether?

I guess what I'm not understanding is why this is would even be necessary.

- All I have to do in Linux is `minikube start --vm-driver=kvm2`, `minikube addons enable ingress`, `skaffold dev` an

[2020-07-15 23:23] YuvalAvra commented on #8421
@medyagh Will do, but do know that it's a bit hacky and I have no idea whether it'll work for all minikube/k8s versions.

1. Start minikube as usual
2. In the VM, change the image field in the apiserver yaml file to your custom apiserver image (the yaml file should reside in the kubelet's static pods directory at `/etc/kubernetes/manifests/kube-apiserver.yaml`)
3. Rename the apiserver yaml file to

[2020-07-15 23:54] AurelienGasser commented on #8445
Hi @medyagh, the error persists in v1.12.0.

[2020-07-16 01:45] dddddai opened #8731 "Should they use RWMutex?"
Should they use RWMutex instead of Mutex to avoid the contention between readings?

https://github.com/kubernetes/minikube/blob/6a21774a1e2687a669310b78759b244273f83a43/pkg/minikube/registry/registry.go#L135-L153

https://github.com/kubernetes/minikube/blob/edd095bf1f8e1a88e58bc5b383c9f6d049eac3a4/third_party/go9p/srv_file.go#L239-L250

If it's necessary,I am willing to contribute.

[2020-07-16 04:38] AkihiroSuda commented on #8719
Already landed on their master branches (Kubernetes 1.19, Docker 20.0X)

[2020-07-16 05:20] artemkoslenkov opened #8732 "canot ready directory 'xyz/': Unknown error 526"
Hello everybody, I'm running into this on `ls -la /node_modules`</br> for the mounted folder inside the minikube cluster, </br>
[issue1562](https://github.com/kubernetes/minikube/issues/1562)</br>
[PR1705](https://github.com/kubernetes/minikube/pull/1705)</br>

but still no luck.</br>
the folder size is 187 mb only, how big should `--msize` be?
Any help would be much appreciated.

[2020-07-16 06:13] afbjorklund commented on #8719
Good to hear! Then we just need those to be released. I guess Podman 2.0.x is already out

[2020-07-16 06:34] babiaastor commented on #8685
Hi

I was able to solve this issue.

It was a problem with my memory  and installation of docker

Thanks for your help

From: priyawadhwa <notifications@github.com>
Sent: miércoles, 15 de julio de 2020 20:17
To: kubernetes/minikube <minikube@noreply.github.com>
Cc: Rodrigo Alvarez Dominguez <rodrigo.alvarez.dominguez@ericsson.com>; Mention <mention@noreply.github.com>
Subject: Re: [kubernetes/mini

[2020-07-16 07:04] olivierots commented on #8701
Hi Priya, not yet im afriad, im still waiting for a solution from you guys
I was told you cant run minikube inside a VM is this right ?

[2020-07-16 08:00] ashishsecdev commented on #7879
@eox-dev : I am also stuck on it, looks like I will have to move on AWS to test my deployments.

[2020-07-16 10:23] fzyzcjy opened #8733 "Multinode Minikube + Dashboard => Error (related to dashboard-metrics-scraper?)"
Thanks very much for the minikube & kubernetes!

**Steps to reproduce the issue:**

1. minikube start --nodes=4 --cpus=2 --memory=3000MB --driver=docker (Running on a Mac Mini 2020 version, with i7 12core and 32GB RAM.)
2. minikube dashboard

P.S. I know multi-node is in experimental, and I am willing to help if I can :)

**Full output of failed command: minikube dashboard**

[code]

**Full output

[2020-07-16 13:45] JohnShahawy commented on #7879
@ashishsecdev  Would suggest to use kubectl port-forward as a workaround until this is fully fleshed out.

[2020-07-16 15:56] rainmanh opened #8734 "multinode metrics - Error from server (ServiceUnavailable): the server is currently unable to handle the request (get pods.metrics.k8s.io)"
[code]
[code]

**Steps to reproduce the issue:**

[code]

**Full output of failed command:**
[code]

**Full output of `minikube start` command used, if not already included:**

[code]

**Optional: Full output of `minikube logs` command:**

[code]

[code]

But the metrics works well with a single node.

[2020-07-16 18:46] priyawadhwa commented on #8733
Hey @fzyzcjy thanks for opening this issue! Would you be interested in looking into this issue? The scraper seems like a good place to start.

[2020-07-16 18:50] priyawadhwa commented on #8732
Hey @artemkoslenkov thanks for opening this issue. What version of minikube are you running?

[2020-07-16 18:51] priyawadhwa commented on #8731
Hey @dddddai that seems reasonable to me. Would you be interested in contributing this fix?

[2020-07-16 18:52] artemkoslenkov commented on #8732
Hi there,

minikube version: v1.11.0
commit: 57e2f55f47effe9ce396cea42a1e0eb4f611ebbd

[2020-07-16 18:52] priyawadhwa commented on #8685
Hey @babiaastor glad to hear it, I'll go ahead and close this issue.

[2020-07-16 18:52] #8685 closed

[2020-07-16 19:04] artemkoslenkov commented on #8732
just upgraded to v1.12.0

`docker mount $HOME/path/to/node/project:/var/www/front`

`docker ssh` -> `cd ../../var/www/front` --> 'ls -la` = ls: reading directory '.': Unknown error 526

basicaly any folder related operations (r+w+x) will throw error 526

[2020-07-16 19:08] priyawadhwa commented on #8567
Hey @KardiffInker thanks for providing the output! I think maybe the cached binaries were corrupted somehow and now checksums don't match?

Could you try:

[code]

and let us know if that works?

[2020-07-16 19:12] priyawadhwa commented on #8734
Hey @rainmanh thanks for opening this issue. This seems to be a duplicate of https://github.com/kubernetes/minikube/issues/8733. Would you mind if we closed this issue and consolidated all info around this there?

If you think this issue is different, please reopen it!

[2020-07-16 19:12] #8734 closed

[2020-07-16 20:01] ashishsecdev commented on #7879
@JohnShahawy Thanks for your response, I tried `>kubectl port-forward webapp{PodName} 30080:30080` but it didn't worked. I am getting the below error on my windows CLI `E0717 01:29:06.889150   14396 portforward.go:400] an error occurred forwarding 30080 -> 30080: error forwarding port 30080 to pod c94703e2657682384741912f91a64b7faa4063ec32e8f9d64de0b46f1c2febfe, uid : exit status 1: 2020/07/16 19:

[2020-07-16 20:05] tebb commented on #8131
In case this helps anyone ...

The Lando development environment's network name is 'lando_bridge_network', so you also get this issue - minikube fails to start.

Temporary fix allowing both minikube and Lando to start, is to:

# Stop any running Lando containers
lando poweroff

# Delete the Lando network
docker network rm lando_bridge_network

# Start minikube
minikube start

# Recreate the Lando

[2020-07-16 21:16] #8600 closed

[2020-07-16 23:27] tstromberg commented on #8192
This issue appears to be a duplicate of #8325, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-07-16 23:27] #8192 closed

[2020-07-16 23:28] tstromberg commented on #8325
I've seen two more reports of this issue, and noticed that KicBaseImage was recently added to the config. It does not appear that we assign a default value for configs which do not have KicBaseImage defined.

Looks like we need an upgrade integration test here.

[2020-07-16 23:39] tstromberg opened #8735 "v1.9 -> v1.12 Docker upgrade takes >5 minutes (apiserver process never appeared, needs reset)"
Reproduction:

`minikube-1.9.2 start --driver=docker`
`minikube-1.9.2 stop`
`minikube-1.12.0 start --driver=docker`

Startup took longer than usual, because I guess we moved kubelet flags?

[code]

The cluster was able to recover, but the upgrade time was 2X the usual.

[2020-07-16 23:43] tstromberg commented on #8325
This breakage occurs any time that we need to recreate the Docker container. Here is an easy reproduction case:

[code]

[2020-07-16 23:44] tstromberg opened #8736 "--delete-on-failure does not regenerate configuration"
--delete-on-failure is unable to recover from issues like #8325 because the configuration file is not regenerated.

[2020-07-16 23:47] fzyzcjy commented on #8733
@priyawadhwa Yes I would love to help, and I have already thumbed up #7538 yesterday :) However, I am really new to k8s and have no idea what to do next... I have tried to search those error messages, but cannot find any solution :(

Thus I would appreciate it if you could provide some hints about what I should do. Thanks!

[2020-07-17 00:01] fzyzcjy commented on #8733
Another idea: *Can I get dashboard **without** scraper*? Since Minikube is not production env, thus people often do not care about metrics

[2020-07-17 00:31] dddddai commented on #8731
@priyawadhwa Thank you,I have created a PR.

[2020-07-17 00:32] fzyzcjy commented on #8733
Sorry I have really no idea what to do next :(

[2020-07-17 01:07] hasibh64 opened #8739 "docker inspect -f "'{{(index (index .NetworkSettings.Ports "22/tcp") 0).HostPort}}'" minikube: exit status 1"
I am unable to start minikube on my oracle virtualbox with guest ubuntu.
i got following error screenshot.

![image](https://user-images.githubusercontent.com/42130524/87737170-96ede000-c81d-11ea-9a57-69895e70437b.png)

[2020-07-17 02:13] tstromberg opened #8740 "v1.8.0 -> v1.12.0 running docker upgrade: [ERROR Port-8443]: Port 8443 is in use"
If you install minikube v1.8.0, using docker, and upgrade to v1.12.0 without shutting down the container, many strange errors occur:

[code]

[2020-07-17 03:00] #8713 closed

[2020-07-17 04:04] vinu2003 commented on #8511
https://go-review.googlesource.com/c/go/+/242998/ - proposal accepted. Once its in we can update and get similar issues error handling addressed correctly.

[2020-07-17 05:46] AnandhkumarTV opened #8743 "Minikube is not starting"
**Steps to reproduce the issue:**

when i running the command ` minikube start --driver=none`

The output was

**Full output of failed command:**
* minikube v1.12.0 on Centos 7.8.2003
* Using the none driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Running on localhost (CPUs=2, Memory=1494MB, Disk=6334MB) ...
* OS release is CentOS Linux 7 (Core)
* P

[2020-07-17 10:50] mastertinner opened #8746 "Podman driver: Invalid character(s) found in patch number "2\n""
**Steps to reproduce the issue:**

[code]

**Full output of failed command:**

[code]

System:
Arch Linux
Podman `2.0.2` installed via `sudo pacman -Syu podman`
Minikube `v1.11.0` installed via `sudo pacman -Syu minikube`

[2020-07-17 14:57] priyawadhwa commented on #8746
Hey @mastertinner thanks for opening this issue. Based on this log:

[code]

I think we probably need to strip the version of the newline "\n" before attempting to parse it. This looks like a small bug in our code here:

https://github.com/kubernetes/minikube/blob/efa7f615d76f0babbd2c7538ffca3f58e42ce433/pkg/minikube/registry/drvs/podman/podman.go#L97

we would also want to trim newlines.

If anyo

[2020-07-17 15:01] priyawadhwa commented on #8739
Hey @hasibh64 this error happens because of a race condition when mounting the "/var" directory. We have an issue open for that here:

https://github.com/kubernetes/minikube/issues/8179

and we recently closed a duplicate of this issue here: https://github.com/kubernetes/minikube/issues/8163

I merged a temporary fix for v1.12.0 -- could you try upgrading and see if that fixes the issue?

[2020-07-17 15:05] priyawadhwa commented on #8743
Hey @AnandhkumarTV it looks like checksums on the kubelet binary don't match. Maybe they were corrupted somehow during download?

Could you try each of these and let us know if either works?

[code]

and

[code]

[2020-07-17 16:05] kschaab opened #8748 "Improve error message when docker is stopped and attempting to start minikube with docker driver"
**Steps to reproduce the issue:**

1. Stop docker
2. minikube start --driver=docker

**Full output of failed command:**
![image](https://user-images.githubusercontent.com/7329029/87806763-3b672680-c80c-11ea-800c-4518e09123c2.png)

<details>
As you can see the resulting error from minikube does correctly state that docker might be stopped, but it has other text which might be confusing to the user.

[2020-07-17 16:17] etanshaul opened #8749 "Minikube suggests to 'reset Docker driver to factory settings' when Docker daemon isn't running"
1.12-beta.1
- Windows
- shutdown docker desktop
- Run a command using `--vm-driver=docker`

Expected: a message telling me to start Docker.
Actual:

[code]

[2020-07-17 16:24] etanshaul commented on #8749
closing as dup of https://github.com/kubernetes/minikube/issues/8748

[2020-07-17 16:24] #8749 closed

[2020-07-17 16:34] etanshaul commented on #8748
Some context:

IntelliJ Friction log: https://docs.google.com/document/d/1OscVyf02NmRZ6PnTn2mprIEG5IrhWgxIF1V5ha2gq_Q/edit#
VS Code Friction log: https://docs.google.com/document/d/1dj7dSgU5XeiRbJkQ8n3VU6OfyqW5D0xQeOYu_CGQOYs/edit?ts=5f11ce30#heading=h.n6ldogid6n95

[2020-07-17 16:38] ashishsecdev commented on #7879
I am trying to create the VMSwitch but it is giving the following error.

`PS C:\WINDOWS\system32> New-VMSwitch -Name "Minikube" -AllowManagementOS $True -NetAdapterName $net.Name                New-VMSwitch : Failed while adding virtual Ethernet switch connections.
Ethernet port '{3A7485A2-9AD6-4889-BFD3-21377A06F1D3}' bind failed: Catastrophic failure (0x8000FFFF).
At line:1 char:1
+ New-VMSwitc

[2020-07-17 16:45] soodr opened #8750 "Error restarting cluster: waiting for apiserver: apiserver process never appeared"
**Steps to reproduce the issue:**
 I am using the hyperkit driver on my Mac (Os: Mojave version 10.14.6)
1. minikube start --memory=8192 --cpus=3 --kubernetes-version=v1.17.4 -p istio-devnation --alsologtostderr -v=7
2. As a sidenote, I do not have dnsmasq installed, as mentioned here #6296 , though the see connection timeouts to k8s.gcr.io
3. I do not have a firewall or VPN enabled.
4. docker pul

[2020-07-17 16:55] #8748 closed

[2020-07-17 17:04] tstromberg opened #8752 "Add integration test for `docker-env` consumers such as Skaffold"
To avoid breakages like the ones fixed by https://github.com/kubernetes/minikube/pull/8531 - we should include a consumption integration check for 3rd party systems like Skaffold or Tilt to ensure that we do not break them.

[2020-07-17 19:19] sharifelgamal commented on #6642
/lifecycle frozen

[2020-07-17 20:23] mastertinner commented on #8746
Thanks for the quick reply, @priyawadhwa! It seems like `strings.TrimSpace` actually trims newlines. Apparently though, this line was only added with https://github.com/kubernetes/minikube/commit/9d98e858a3 so I'm expecting it to be fixed with Minikube `1.12`.

Sorry for opening an issue for an "old" version :)

[2020-07-17 20:23] #8746 closed

[2020-07-17 21:22] tstromberg opened #8754 "TestRunningBinaryUpgrade on Docker: [ERROR Port-10259]: Port 10259 is in use"
The TestRunningBinaryUpgrade test revealed flaky behavior with how we handle upgrading running Docker containers:

https://storage.googleapis.com/minikube-builds/logs/8753/Docker_Linux.txt

[code]

To replicate:

* Download minikube v1.9.0, run: `minikube start --vm-driver=docker`
* Download minikube v1.12.0, run: `minikube start --vm-driver=docker`

[2020-07-17 21:35] tstromberg commented on #8325
Fixed at head.

[2020-07-17 21:35] #8325 closed

[2020-07-17 22:09] tstromberg commented on #8754
Dupe of #8740

[2020-07-17 22:09] #8754 closed

[2020-07-17 23:06] tstromberg commented on #8730
"downloading" could also be a good state

[2020-07-17 23:22] staticdev opened #8756 "verifying ingress addon pods : timed out waiting for the condition: timed out waiting for the condition"
**Steps to reproduce the issue:**

1. minikube start --vm-driver=docker --memory 3072
2. minikube addons enable ingress

**Full output of failed command:** tried 3 times.
😄  minikube v1.12.1 on Ubuntu 20.04
✨  Using the docker driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🔥  Creating docker container (CPUs=2, Memory=3072MB) ...
🐳  Preparing Kubernet

[2020-07-17 23:52] tstromberg commented on #8756
Can you please share the output of:

* `kubectl descr po -A`

The only thing new in v.12.1 is an updated version of ingress: https://github.com/kubernetes/minikube/pull/8705

I was not able to replicate this issue on Docker/Linux or Hyperkit/macOS. My suspicion is that perhaps the download failed? Regardless, we can do a better job of showing an actionable error message.

[2020-07-18 00:35] staticdev commented on #8756
[code]

[2020-07-18 02:45] claflico commented on #3760
Want to chime in on our use case. We're trying to move towards K8s from Rancher 1.6 Cattle/Traefik 1.7 running in VMware & Active Directory DNS. Management wants to transition from developers running docker-compose on their Macbooks to standalone K8s running on CentOS VMs in the VMware datacenter. Http microservices, databases, etc need to still be accessible remotely via each developer's wildcard

[2020-07-18 02:58] MEOWMEOW114 commented on #5440
I had this problem after upgrading mac OS to catalina, and` minikube delete `did solve the issue

[2020-07-18 04:52] claflico commented on #3760
Not sure what's changed from 1.11.0 and 12.1 but tonight when I nuked the kubeadm cluster and setup minikube again it mostly worked:

`curl -Ss -L https://github.com/kubernetes/minikube/releases/download/v1.12.1/minikube-linux-amd64 > minikube
chmod +x minikube
sudo -i env CHANGE_MINIKUBE_NONE_USER=true MINIKUBE_HOME=$HOME KUBECONFIG=$HOME/.kube/config /usr/local/bin/minikube start --driver=none`

[2020-07-18 06:26] AlekSi commented on #3760
Of course. My issue is much harder than covered by that guide :) For example, it can't be reproduced locally.

I left this comment to remove `lifecycle/stale` label. That did not help.

[2020-07-18 07:04] niketjsh commented on #7332
This is issue still exist if you want a small work around

I suggest you to install the virtualbox and run the command
minikube addons enable ingress

if you get the below error in Mac(OS)
Starting local Kubernetes v1.10.0 cluster...
Starting VM...
E0911 13:34:45.394430   41676 start.go:174] Error starting host: Error
creating host: Error executing step: Creating VM.
: Error setting up host only n

[2020-07-18 07:38] AlekSi opened #8757 "Update documentation to show docker as a preferred driver"
Minikube switched to Docker driver by default on macOS in 1.12. But documentation still says that Hyperkit driver is preferred: https://minikube.sigs.k8s.io/docs/drivers/#macos

[2020-07-18 07:44] afbjorklund commented on #8757
Current terminology is a bit confusing. There is "Preferred" and "HighlyPreferred"

https://github.com/kubernetes/minikube/commit/7564651d504b90418fbabe82a94b709dc2ff35fb

[2020-07-18 07:59] afbjorklund commented on #8388
Blocked on #7904

[2020-07-18 08:03] afbjorklund commented on #8131
They can't _both_ be dupes ? But ~#8516~ duplicated this one.

[2020-07-18 08:03] afbjorklund commented on #8131
Thanks for reporting, same root cause.

[2020-07-18 08:21] Asadullah1996 opened #8759 "minikube start error"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-07-18 09:03] #3955 closed

[2020-07-18 10:49] #8681 closed

[2020-07-18 11:17] afbjorklund commented on #8746
The good news is that it was fixed in minikube 1.12.0, the bad news is that minikube doesn't work with podman 2.0

[2020-07-18 11:19] mastertinner commented on #8746
So it seems...

[code]

[2020-07-18 11:27] afbjorklund commented on #8540
Why is minikube not able to run in a Docker Desktop that has (the default setting of) 2 GB of memory ?
Upstream kubernetes/kubeadm claims that it _should_ be enough, even if we do default to 2200MB now.

[code]

[2020-07-18 12:55] dschulten opened #8760 "Handle dynamic IP range of Default Switch on Hyper-V with VPN and proxy"
**Steps to reproduce the issue:**
Some background: On Hyper-V with Cisco AnyConnect Secure Mobility Client I ended up getting gateway timeouts when trying to use kubectl with a running minikube VM. Fortunately I was able to switch to the OpenVPN-GUI client, which allowed me to overcome that problem with minikube (albeit not in the k8s in Docker Desktop, so kudos to the minikube team).

But there i

[2020-07-18 13:51] nomansadiq11 commented on #5793
restart my network adapter and its works.

[2020-07-18 13:51] nomansadiq11 commented on #5951
restart network adapter and its works for me

[2020-07-18 14:16] nsettipa opened #8761 "minikube start"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-07-18 16:16] agentreno opened #8762 "site: Add tutorial for using minikube with "apiserver.token-auth-file""
**Steps to reproduce the issue:**

1. Create `~/.minikube/files/etc/tokens.csv` file containing `mytoken,myuser,123` in the [defined format for static token files](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#static-token-file).
2. `minikube start --extra-config=apiserver.token-auth-file=/etc/tokens.csv`
3. While waiting, verify that tokens file is present with `minikube

[2020-07-18 18:12] msalaslo commented on #3864
I was using Windows 10 + minikube v1.5.2 and was facing the same issue.
After upgrading minikube to v1.12.1 and executing:
[code]
everything worked fine.

[2020-07-18 19:55] tharun208 commented on #8730
I like to work on this @tstromberg

[2020-07-18 19:58] Ajitesh13 commented on #8453
Hello, as this is marked as a good-first-issue, can you give me a good starting point for working on this issue?

[2020-07-19 06:15] shyamkhakhar9 commented on #8756
I also face the same issue while trying to addons and I have ingress nginx yaml where when I apply kubectl it gives me following error.. how to resolve that

```Error from server (InternalError): error when creating "ingress-service.yaml": Internal error occurred: failed calling webhook "validate.nginx.ingress.kubernetes.io": Post https://ingress-nginx-controller-admission.kube-system.svc:443/exte

[2020-07-19 07:23] nobodyiam commented on #6848
This doesn't work for me, as the file `/usr/lib/systemd/system/docker.service` is restored after restart.

What did work me was to modify the `config.json` files under `~/.minikube` and update the `RegistryMirror` field, e.g.

~/.minikube/machines/minikube/config.json
[code]

Hope it helps.

[2020-07-19 08:37] mikhailkrotov-42crunch commented on #8150
@charleszheng44 you can make this profile the default one using : `minikube profile multinode-demo`. This ensures you do not have to pass the profile name in further minikube commands.

[2020-07-19 08:55] Grubhart opened #8765 "failed to start node: controlPlane never updated to v1.18.x (re-use of cluster)"
I'm trying to start minikube for very first time and i get error message: startup failed: wait for healthy API server: controlPlane never updated to v1.18.3

also trying changing kubernetes version to 1.17, 1.16, always same result

mi environment is Mac OS  Catalina:  10.15.5

here i include all the

**Steps to reproduce the issue:**

1.minikube start --driver=docker
2.
3.

**Full output of faile

[2020-07-19 11:09] afbjorklund opened #8766 "Stop trying to pin package versions in the kicbase Dockerfile"
It **doesn't work** to pin the package versions, without also pinning all the apt packages (in a separate download somewhere)

[code]

As long as we are using latest/greatest `ubuntu:eoan` (or focal) anyway, we might as well just use `apt-get install` as well.

Trying to rebuild, and you get errors like:
`E: Version '1:9.11.5.P4+dfsg-5.1ubuntu2.1' for 'dnsutils' was not found`

This is due to secu

[2020-07-19 11:11] afbjorklund commented on #8766
Same problem in #7884

[2020-07-19 11:15] afbjorklund opened #8767 "Replace upstream binaries with packages in the kindbase image"
Currently kindbase installs containerd, crictl and cni-plugins from upstream binaries.

[code]

[code]

We should use the the deb packages instead, so that they work as dependencies...

[code]

https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable

Right now we have both.

i.e. `/usr/local` **and** `/usr`.

[2020-07-19 11:54] afbjorklund commented on #8767
See https://github.com/kubernetes/minikube/pull/8251#issuecomment-643815675

[2020-07-19 11:54] afbjorklund commented on #8766
See https://github.com/kubernetes/minikube/pull/8251#issuecomment-643815675

[2020-07-19 11:55] afbjorklund commented on #8767
Same problem in #7884

[2020-07-19 11:55] afbjorklund commented on #8767
See https://github.com/kubernetes/minikube/pull/8251#issuecomment-643815675

[2020-07-19 12:14] afbjorklund commented on #8063
Need to build a version for eoan as well, since it is currently broken and since the repo only has podman v2 now.

[code]

The old image (v0.0.10) still has podman 1.9.0, which needs to be changed to either 1.8.2 or 1.9.3 for build to work.

[2020-07-19 14:37] liclac commented on #7626
I've been running into some problems with this on a laptop running on ZFS, where `minikube start` fails to start Docker:

[code]

While explicitly passing `--docker-opt storage-driver=zfs` prints an even more confounding error:

[code]

This sent me down a bit of a wild goose chase, before finally realising that the problem was the preload, and that this works:

[code]

Docker's [documentation on

[2020-07-19 15:56] niketjsh commented on #4206
I tried several times this issue exists when you first create ingress service on the minikube
Its not particular to any of the minikube driver setup.

I know my solution would not be a best choice but i worked a several times using different virtual machines like vritualbox, hyperkit and  Docker Kubernetes

Here's my solution
1) Delete the minikube from any of the vertual machine you are running
2

[2020-07-19 16:55] nagesh1332 opened #8768 "v1.10: sudo systemctl start docker: Process exited with status 1"
* minikube v1.10.1 on Microsoft Windows 10 Home Single Language 10.0.18363 Build 18363
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing virtualbox VM for "minikube" ...
! StartHost failed, but will try again: provision: ssh command error:
command : sudo diff -u /lib/systemd/system/docker.service /lib/systemd/sy

[2020-07-19 17:40] satva opened #8769 "macOS docker: Container X is not running"
**Steps to reproduce the issue:**

1. Tried bringing up Minikube cluster on macOS (Mojave, Version - 10.14.6) with docker as driver
2. It was not coming UP consistently . Attached the corresponding error below.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

<img width="1144" alt="Screen Shot 2020-07-18 at 1 14 58 PM" src="https://us

[2020-07-19 17:54] wmriachi opened #8770 "Cannot Start Minikube"
**Steps to reproduce the issue:**

1. Installed kubernetes
2. Installed virtual box
3. Installed Minikube
4. Executed "minikube start"
5. Got the below error with recommendation for turning off swap. Not sure how to go about that.
6. Including the terminal output for your reference

MacBook-Pro:~ wassim$ minikube start
😄  minikube v1.12.1 on Darwin 10.14
🆕  Kubernetes 1.18.3 is now available. If y

[2020-07-20 01:02] karasirakesh86 commented on #4587
This solution really worked for me, the above ones were not working.

Use Case-> I was trying to launch kubenetes cluster using minikube.

[2020-07-20 02:15] Lavie526 commented on #8673
@medyagh I tried to use docker driver("minikube start --vm-driver=docker --docker-opt="default-ulimit=core=-1" --alsologtostderr --extra-config=kubelet.cgroups-per-qos=false --extra-config=kubelet.enforce-node-allocatable="" --extra-config=kubelet.cgroup-driver=systemd") as you have suggedsted above, however, there are still issues to  start up:

🌐  Found network options:
    ▪ NO_PROXY=localhost,

[2020-07-20 06:29] AnandhkumarTV commented on #8743
Hi priyawadha,

I've tried the above commands but sadly the issue still persist

here is the output:

`[root@worker-node1 bin]# minikube delete --all --purge
* Uninstalling Kubernetes v1.18.3 using kubeadm ...
* Deleting "minikube" in none ...
* Removed all traces of the "minikube" cluster.
* Successfully deleted all profiles
* Successfully purged minikube directory located at - [/root/.minikube]

[2020-07-20 06:51] nishaad78 opened #8771 "Documentation: Minikube registry with docker uses 32773 instead of port 5000"
The documentation for [docker on macOS](https://minikube.sigs.k8s.io/docs/handbook/registry/#docker-on-macos) needs to be updated to listen to port 32773 instead, for pushing images locally:

[code]

ref:
[code]

Using Minikube v1.12.0 on Darwin 10.14.6 with Kubernetes v1.18.3 on Docker 19.03.2

[2020-07-20 07:44] Lavie526 commented on #8673
If i use "minikube start --vm-driver=docker",
😄  minikube v1.12.0 on Oracle 7.4 (xen/amd64)
    ▪ KUBECONFIG=/scratch/jiekong/.kube/config
    ▪ MINIKUBE_HOME=/scratch/jiekong
✨  Using the docker driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🔥  Creating docker container (CPUs=2, Memory=14600MB) ...
🌐  Found network options:
    ▪ NO_PROXY=localhost,

[2020-07-20 08:15] nishaad78 commented on #8771
A better alternative could be to use minikube's Docker daemon instead:
[code]

[2020-07-20 08:59] slinkydeveloper opened #8772 "Fedora 32, kvm: COMMAND_FAILED: 'python-nftables' failed"
**Steps to reproduce the issue:**

1. Just run `minikube start --vm-driver=kvm2` without any previous minikube data (no `~/.minikube` dir)

Fedora 32, kernel 5.7.8-200.fc32.x86_64

**Full output of failed command:**

[code]

[2020-07-20 12:07] shayanjalil commented on #8568
I'm following [this](https://kubernetes.io/blog/2020/05/21/wsl-docker-kubernetes-on-the-windows-desktop/#minikube-updating-the-host) blog to get Minikube up and running on Windows + WSL.

Now my understanding is that when using Docker for Windows with WSL, WSL uses the docker backend installed on Windows and you do not need to install dokcer on Linux.

But when I try to run Minikube I get

[code]

[2020-07-20 13:32] alternaivan commented on #3318
Hi everyone,
Is there any update on this issue?

Thanks,
Marjan

[2020-07-20 14:33] afbjorklund commented on #8657
The #8458 and #8151 are about making sure that the storage provisioner mounts the correct directories.
It is similar to the same issue for the "none" driver, where the user is supposed to mount them: #7511

However, _this_ particular issue is about the race condition that happens between "start" and "preload".
We have one container that uses a named volume (copying contents), and the creation of t

[2020-07-20 15:08] afbjorklund commented on #8100
I don't think we will use a custom mountpoint initially, but just address the race.

It is likely that it is the /extractDir that is the real issue here, rather than the /var.

[2020-07-20 15:16] afbjorklund commented on #8151
I think we will leave the /var volume as-is, since it comes from the KIC image.
So that means we will still have /var as the implicit top-level in the volume...

We probably **don't** want to use:
/var/hostpath_pv
/var/hostpath-provisioner
/var/data

But maybe that is the easiest ? (I don't really believe in using /var/tmp for this)

At any point, we need to make an automount service for the kicba

[2020-07-20 15:17] afbjorklund commented on #8458
This issue is a duplicate of #8151 so it will be solved at the same time.

[2020-07-20 15:19] afbjorklund commented on #8100
This issue will be solved as a duplicate of #8151 since it is the same root cause.

[2020-07-20 15:23] afbjorklund commented on #8657
As mentioned in the other issues, we want to copy:

/var/lib/dpkg (etc )from the ubuntu image

/var/lib/docker (etc) from the minikube preload

And we need to have _both_ of them in the final volume.

[2020-07-20 16:12] tstromberg commented on #8740
Here's my simple idea for resolving this once and for-all:

Before performing a hot upgrade, stop the all running kube-system containers.

We even have code to do this already in `cluster/pause.go`, just switch the Pause call with a Stop call.

[code]

[2020-07-20 16:21] jaganrajagopalme opened #8773 "Minikube start with virtual box , it was failing"
**Steps to reproduce the issue:**
I have enabled virtualbox and disable Hyperv. I have run the command in window power via administration

1.minikube start --driver=virtualbox
2. Trying to create the virtual , it was failed
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**
minikube v1.12.0 on Microsoft Windows 10 Pro 10.0.18363 Build

[2020-07-20 17:52] olivierots commented on #8701
any update please ?

[2020-07-20 18:26] medyagh commented on #8719
I look forward to see a prototype of rootless docker/podman in minikube

[2020-07-20 18:30] medyagh opened #8775 "avoid re-download re-install hyperkit/hyperv drivers no minikube new version"
if drivers didn't change, we shouldn't download a new one with only commit sha of the version change and make user enter their password each time.

[2020-07-20 18:37] tstromberg commented on #8775
A simple alternative would be to simply encode the minimum hyperkit driver version.

AFAIK, the only drivers we download currently is hyperkit and kvm2, but we should probably extend this to vmware and parallels in the future.

[2020-07-20 19:07] medyagh commented on #8730
@tharun208 I would be happy to review a PR that doe sthis.

[2020-07-20 19:23] ayushpawar21 commented on #6247
I0721 00:52:07.867866   13464 start.go:98] hostinfo: {"hostname":"MSI","uptime":943,"bootTime":1595271984,"procs":207,"os":"windows","platform":"Microsoft Windows 10 Home Single Language","platformFamily":"Standalone Workstation","platformVersion":"10.0.18363 Build 18363","kernelVersion":"","virtualizationSystem":"","virtualizationRole":"","hostid":"9f82c8c8-281d-43fe-8c5c-a12bde437794"}
W0721 00:

[2020-07-20 20:41] sahilshaikh89 commented on #4293
I am trying the same, something like Nested Virtualization.

After digging further, I was able to get around this same issue by using below command
$sudo minikube start --vm-driver=none

[2020-07-20 21:20] afbjorklund commented on #8657
Now that the real issues have been added, we don't need this (redundant) placeholder

[2020-07-20 21:20] #8657 closed

[2020-07-20 21:23] #7767 closed

[2020-07-20 21:48] #8179 closed

[2020-07-20 21:48] #8100 closed

[2020-07-20 22:02] tstromberg commented on #8730
@tharun208 - please confirm if you would still like to take this on. Here is my initial naive implementation idea:

- Create a new file (for example, `~/.minikube/profiles/<name>/state.json`) containing a simple JSON file with a field like:

`{ status = "starting" }`

- Add a `Status` function here that returns the path. You can use `ConfigFile()` as a reference to copy:

https://github.com/kubern

[2020-07-20 22:26] #8540 closed

[2020-07-20 23:02] #8349 closed

[2020-07-20 23:10] medyagh opened #8783 "Disallow Podman version 2"
Currently we do not support podman verison 2, till we add support for podman v2, we should not allow the user to run minikube with podman if they have v2.

we should exit early and advice them use latest v1.9 reelase

example issue https://github.com/kubernetes/minikube/issues/8699

[2020-07-21 00:47] Dean-Coakley commented on #8783
/assign

[2020-07-21 02:05] Dean-Coakley opened #8785 "Broken podman driver docs due to using templating in .inc file"
https://minikube.sigs.k8s.io/docs/drivers/podman/#experimental docker link is broken.

As far as I can tell this is due to using templating in an `.inc` file which does not seem to be permitted.

https://github.com/kubernetes/minikube/blob/aaebd88251eca8400d95b7232c5d359c5d105679/site/content/en/docs/drivers/includes/podman_usage.inc#L3

Happy to open a PR pending some guidance on the solution tha

[2020-07-21 05:15] omeryounus opened #8788 "error installing minikube in Ubuntu 18.04"
1. minikube start --driver=docker
2. Then it take longer than usual
3. Finally getting the below error
minikube start --driver=docker
[code]
minikube start
[code]

ubuntu@ip-172-26-12-49:~$ minikube start --alsologtostderr
[code]

ubuntu@ip-172-26-12-49:~$ minikube start --driver=docker --alsologtostderr
[code]

[2020-07-21 05:24] medyagh opened #8789 "Hyperv start:Hyper-V encountered an error trying to access an object on computer"
[code]

the full log

https://github.com/kubernetes/minikube/actions/runs/176345560

it seems like that is broken since we merged. https://github.com/kubernetes/minikube/commit/aaebd88251eca8400d95b7232c5d359c5d105679

however doesn't seem related to it.

[2020-07-21 06:25] anencore94 opened #8790 "bad --insecure-registry values cause: Job for docker.service failed because the control process exited with error code."
**Steps to reproduce the issue:**
1. minikube start --insecure-registry " :5000" --driver=virtualbox
2. Just wait until failed with printing stdout, stderr.

**Full output of failed command:**
- same as next log

**Full output of `minikube start` command used, if not already included:**

<details>
😄  Ubuntu 18.04 위의 minikube v1.12.1
✨  유저 환경 설정 정보에 기반하여 virtualbox 드라이버를 사용하는 중
👍  Starting control

[2020-07-21 06:52] markymo5115 commented on #8274
I made sure docker swarm was deactivated with: docker swarm leave --force
then did: docker network prune (this removes the docker swarm network since its not being used although beware it will remove all other unused networks too)
After this minikube ran OK

[2020-07-21 07:12] afbjorklund commented on #8785
This is a bit unfortunate, because for some reason we only talk about to the podman driver here:

https://kubernetes.io/docs/tasks/tools/install-minikube/

In my book they are both equally experimental, though.

[2020-07-21 07:13] afbjorklund commented on #8783
Also #8587

[2020-07-21 07:15] afbjorklund commented on #8587
Fixed in 2.0.2

[2020-07-21 07:15] #8587 closed

[2020-07-21 09:14] Lavie526 commented on #8673
@medyagh Do you have any suggetions about the failure using docker driver in the above?
Also, is there any prerequest using this driver? I have already installed the latest docker and configure the cgroups to systemd.

[2020-07-21 09:15] Lavie526 commented on #8673
[jiekong@den03fyu tmp]$ minikube logs
==> Docker <==
-- Logs begin at Tue 2020-07-21 09:10:55 UTC, end at Tue 2020-07-21 09:14:34 UTC. --
Jul 21 09:11:02 minikube dockerd[80]: time="2020-07-21T09:11:02.765700925Z" level=info msg="Daemon shutdown complete"
Jul 21 09:11:02 minikube systemd[1]: docker.service: Succeeded.
Jul 21 09:11:02 minikube systemd[1]: Stopped Docker Application Container Engine

[2020-07-21 09:28] joshuabeny1999 commented on #8504
I have same issue. I installed minikube via chocolatley as recommended on kubernetes.io and then ran minikube start to set it up with Hyper-V. I have Windows 10 Pro.

![image](https://user-images.githubusercontent.com/55023662/88037425-28729000-cb45-11ea-81c2-89432c8fb8a2.png)

[2020-07-21 09:49] r1k2v opened #8791 "virtualbox: Failed to start host: recreate: creating host: create: creating: write |1: The pipe has been ended."
**Steps to reproduce the issue:**

1. I am starting minikube.
2. I have written code  "minikube start --driver=virtualbox" on window 10.
3. I got given error " Failed to start host: recreate: creating host: create: creating: write |1: The pipe has been ended."

**Full output of failed command:**
 minikube v1.11.0 on Microsoft Windows 10 Home Single Language 10.0.19041 Build 19041
* Using the virtu

[2020-07-21 09:50] joshuabeny1999 commented on #8504
Never mind. I found the problem. I had a kubectl.exe inside my Homedirectory: C:/Users/joshu. And minikube tried to use this one. And it was not executeable. I deleted it and now everything works.

[2020-07-21 12:39] martinmalek commented on #7828
Explicitly creating a PV as described here worked for me. https://stackoverflow.com/a/62894931

minikube version: v1.12.1
commit: 5664228288552de9f3a446ea4f51c6f29bbdd0e0

K8S
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c626e08b245ab19037", GitTreeState:"clean", BuildDate:"2020-07-16T00:04:31Z", GoVersion:"go1.14.4", Compiler:"gc", Pla

[2020-07-21 15:11] maktas commented on #2962
/reopen

[2020-07-21 15:20] maktas commented on #2962
I am having the same issue on Windows 10 (full version: 10.0.18362 N/A Build 18362).
minikube v1.12.1, Kubectl: v1.18.3
Neither minikube start, nor minikube start ----vm-driver=virtualbox  work.

After several failure messages like "failed to "StartContainer" for "kube-apiserver" with CrashLoopBackOff", minikube start commands eventually fail with: "Unfortunately, an error has occurred: timed out

[2020-07-21 16:28] tstromberg commented on #8542
Based on the message and scenario (live upgrade), I believe that fixing #8740 may possibly fix this. This assumes that the fix involves shutting down kube-system pods before upgrading.

[2020-07-21 16:41] priyawadhwa commented on #8542
That makes sense to me, I'll remove the label

[2020-07-21 17:54] tstromberg commented on #8730
If I haven't heard anything back later today, I'll plan to work on this.

One new idea I had is that @priyawadhwa built the concept of "steps" into minikube, for emitting CloudEvent JSON output: https://github.com/kubernetes/minikube/blob/52239798934b24d7da8ba2d9b82997764ff8dccd/pkg/minikube/machine/start.go#L261

I think we should build on this by introducing a concept of state transitions, and s

[2020-07-21 18:13] priyawadhwa commented on #8730
@tstromberg instead of passing in the specific step `register.CreatingContainer`, you could access the current step via:

[code]

that way you could rely on the steps that have already been set in the register instead of having to uniquely pass them in again

[2020-07-21 19:05] tharun208 commented on #8730
@medyagh, I think I can't make it for the next release. @tstromberg, you can pick this

[2020-07-21 19:52] tstromberg commented on #8730
Thanks for the heads up @tharun208. I'm sure this feature will require future refinement where we could use your hepl.

[2020-07-21 19:54] tstromberg commented on #8730
I have some ideas on this, and intend to have an initial PR for review tomorrow, with a target to merge this by EOW.

[2020-07-21 20:29] #8736 closed

[2020-07-21 20:59] #6934 closed

[2020-07-21 21:05] irizzant commented on #6584
/remove-lifecycle stale

[2020-07-21 21:25] #8379 closed

[2020-07-21 22:34] medyagh commented on #8789
re-running this test made it go away, but I still wanna find out why this flake happens

[2020-07-21 22:50] #8151 closed

[2020-07-21 22:50] #8458 closed

[2020-07-21 23:07] #8152 closed

[2020-07-21 23:14] Tristan971 commented on #3417
For anyone else running into this in general (not only with minikube), I've made a small image+daemonset that basically does the later option mentionned above (daemonset updating host's `/etc/systemd/resolved.conf`)

Should work in *most* scenarios where the cloud provider isn't doing something too too funky with their DNS config https://github.com/Tristan971/kube-enable-coredns-on-node

[2020-07-22 00:49] Lavie526 opened #8797 "Docker on Oracle 7.4: KubeletNotReady & failed to find subsystem mount for required subsystem: pids"
**Steps to reproduce the issue:**

1.minikube start --vm-driver=docker
2. 😄 minikube v1.12.0 on Oracle 7.4 (xen/amd64)
▪ KUBECONFIG=/scratch/jiekong/.kube/config
▪ MINIKUBE_HOME=/scratch/jiekong
✨ Using the docker driver based on user configuration
👍 Starting control plane node minikube in cluster minikube
🔥 Creating docker container (CPUs=2, Memory=14600MB) ...
🌐 Found network options:
▪ NO_PROXY

[2020-07-22 00:59] Lavie526 commented on #8797
It seems the minikube start successfully, however while use kubectl get nodes, its status is "NotReady", also after apply a deployment, the pod status is alwasy pending.

[2020-07-22 05:11] lionelyoung commented on #8439
`minikube ssh` and telnet works for me.  Here's my workaround:

1. Get the minikube internal ip
[code]
2. Edit your `deployment.yaml` and add this line:
[code]

[2020-07-22 07:48] kbakk commented on #2456
Not sure this issue "no longer happens in modern (v1.0+) minikube releases" - I'm on v1.11.0 and seeing this. I did get a warning though ("This VM is having trouble accessing https://k8s.gcr.io"):

[code]

[Suggestion](https://github.com/kubernetes/minikube/issues/2456#issuecomment-446905595) to set dnsmasq to listen on non-default DNS port worked though.

[2020-07-22 12:30] snirben opened #8798 "docker info --format "{{.CgroupDriver}}" crashes: indirection through nil pointer to embedded struct"
**Steps to reproduce the issue:**

1.sudo minikube start
2.
3.

**Full output of failed command:**

😄  minikube v1.12.1 on Ubuntu 18.04
✨  Using the none driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing none bare metal machine for "minikube" ...
ℹ️  OS release is Ubuntu 18.04.4 LTS
🐳  Preparing Kubernetes v1.18.3 on Docker  ...

[2020-07-22 15:59] tstromberg commented on #8453
@Ajitesh13 - Sure!

First modify this line with the wording you prefer:

https://github.com/kubernetes/minikube/blob/ad083ba7acafe4cd6018fb2fc92364e9eb148b33/pkg/minikube/problem/err_map.go#L334

Then build minikube:

`make`

Then test to see what happens if you try to use the VirtualBox driver where it isn't in PATH, for instance:

`env PATH=/bin:/sbin ./out/minikube start --driver=virtualbox`

S

[2020-07-22 16:32] MOZGIII opened #8799 "v1.12.1 cache add: UNAUTHORIZED: authentication required"
**Steps to reproduce the issue:**

1. Build an image: `docker build -t localhost/myimage`
2. Add it to cache: `minikube cache add localhost/myimage`

This used to work with `1.11.0`, but with `1.12.1` it doesn't.

**Full output of failed command:**

Example output from our CI script, first line is the end of `docker build`:

[code]

**Full output of `minikube start` command used, if not already in

[2020-07-22 17:07] tstromberg commented on #8750
I noticed that this is minikube v1.5.2, which is quite old. We've definitely fixed this issue since. Do you mind trying again with minikube v1.12?

If that isn't possible, you should be able to workaround this with `minikube delete`. Please let me know how you get by.

[2020-07-22 17:08] tstromberg commented on #8759
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-07-22 17:08] #8759 closed

[2020-07-22 17:14] tstromberg commented on #8760
Internally, minikube should already be skipping the proxy for this IP range.

I am admittedly bit confused about the error message listed:

[code]

If you are trying to convince kubectl not to use a proxy when talking to minikube and deal with IP changes, you should be able to tell it:

`NO_PROXY=172.16.0.0/12`

Anyways, I'm going to have to re-read this issue to understand better what is going on

[2020-07-22 17:15] tstromberg commented on #8761
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-07-22 17:15] #8761 closed

[2020-07-22 17:17] tstromberg commented on #8762
Can you share the apiserver section of `minikube logs`?

It seems that the apiserver may need more configuration than just this flag, as it's in a crashloop:

[code]

[2020-07-22 17:18] tstromberg commented on #8762
FWIW, we should certainly surface a better error message here, but I won't know what that is without the apiserver logs.

[2020-07-22 17:23] tstromberg commented on #8765
This warning is interesting:

[code]

I've never seen that before.  I also noticed:

[code]

That suggests to me that running `minikube delete` would likely fix your issue.

I'm also unsure about why `minikube logs` failed, but it seems that it did because Docker for Desktop wasn't running.

[2020-07-22 17:26] tstromberg commented on #8768
Can you please upgrade to minikube v1.12? I am confident that we have fixed this issue since v1.10.

Please let me know if it helps.

[2020-07-22 17:27] tstromberg commented on #8769
Can you please upgrade to minikube v1.12? I believe we may have fixed this issue. If not, we should certainly be able to produce a more useful error message.

[2020-07-22 17:34] tstromberg commented on #8798
Crazy enough - the error here is that docker is crashing when provided this command-line:

`docker info --format "{{.CgroupDriver}}"`

Do you mind trying to run that command yourself to see what happens?

Assuming it crashes, can you share the output of:

`docker info`

[2020-07-22 17:35] tstromberg commented on #8798
If you are not on the most recent version of Docker, I recommend upgrading. I think we may be able to ignore this command if we get exit code 2, or blacklist the version you have to avoid the check.

/cc @medyagh

[2020-07-22 17:45] tstromberg commented on #8797
This particular state error is interesting:

[code]

As well as these (possible red herring):

[code]

this points us toward the root cause of why kubelet can't schedule:

[code]

and finally the biggest red flag:

[code]

I think there may be something that we need to do with the Docker configuration on your host to make it compatible with running Kubernetes.

Can you try `minikube start --force-

[2020-07-22 17:50] tstromberg commented on #8791
This issue appears to be a duplicate of #7298, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

In the mean-time, you may be able to get further by specifying `--disk-size

[2020-07-22 17:52] tstromberg commented on #7298
Recent versions of minikube wait longer (up to 4 minutes), but that doesn't seem to help for all users.

You may have some luck by adding: `minikube start --delete-on-failure=true` in the mean-time, or choosing a non-virtualbox driver.

[2020-07-22 17:58] #8063 closed

[2020-07-22 18:04] Ajitesh13 commented on #8453
ok! Thanks for your support, will let you know if faced any difficulty.

[2020-07-22 18:05] Ajitesh13 commented on #8453
/assign

[2020-07-22 18:08] priyawadhwa commented on #8133
done

[2020-07-22 18:08] #8133 closed

[2020-07-22 18:12] tstromberg commented on #6743
I think we should emulate the output of:

`kubectl po -A`
`docker ps`

These two commands do not error if one of the pods/containers is not running.

[2020-07-22 18:14] tstromberg commented on #8330
Some recent work has gone into the storage-provisioner, so it's feasible that we may be able to fix this in a near-term release.

[2020-07-22 18:16] tstromberg commented on #7910
AFAIK, this is still an issue.

[2020-07-22 18:16] #7910 closed

[2020-07-22 18:17] tstromberg commented on #7895
Closing as possibly obsolete.

[2020-07-22 18:17] #7895 closed

[2020-07-22 18:17] medyagh commented on #8271
closing in favor of #8202

[2020-07-22 18:17] #8271 closed

[2020-07-22 18:18] #6802 closed

[2020-07-22 18:20] RA489 commented on #8669
Hey @akshat-crypto  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

[2020-07-22 18:20] #8669 closed

[2020-07-22 18:22] tstromberg commented on #8400
The `vmwarefusion` driver is deprecated. Please use the `vmware` driver instead: https://minikube.sigs.k8s.io/docs/drivers/vmware/

[2020-07-22 18:22] #8381 closed

[2020-07-22 18:22] medyagh commented on #8641
Hi @, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

Meanwhile have you tried out newest dr

[2020-07-22 18:22] #8641 closed

[2020-07-22 18:23] medyagh commented on #8631
Hi @, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

Meanwhile have you tried out newest dr

[2020-07-22 18:23] #8631 closed

[2020-07-22 18:23] tstromberg commented on #8400
This issue appears to be a duplicate of #8374, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-07-22 18:23] #8400 closed

[2020-07-22 18:23] medyagh commented on #8611
Hi @MANA-1991 , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

Meanwhile have you tried out

[2020-07-22 18:23] #8611 closed

[2020-07-22 18:23] priyawadhwa commented on #8013
[code]

Looks like this test is still failing on KVM

[2020-07-22 18:24] sharifelgamal commented on #6247
@ayushpawar21 Can you please open a new issue with the details asked for in our issue template? Thanks.

[2020-07-22 18:24] medyagh commented on #8566
Hi @, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.
Meanwhile have you tried out newest dri

[2020-07-22 18:24] #8566 closed

[2020-07-22 18:24] priyawadhwa commented on #7538
still in progress :)

[2020-07-22 18:24] #8640 closed

[2020-07-22 18:24] tstromberg commented on #8640
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-07-22 18:25] tstromberg commented on #8625
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-07-22 18:25] tstromberg commented on #8550
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-07-22 18:26] sharifelgamal commented on #8642
Hey @Ahtshamulhaq-star  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact min

[2020-07-22 18:26] #8642 closed

[2020-07-22 18:26] medyagh commented on #8386
@dsebastien in latest version of minikube we improved the CNI behaviour, do you mind trying latest verison of minikbue and checking if the problem was fixed ?
minikube delete

minikube start --cni=bridge

for more options try
minikbue start --help | grep "cni"

[2020-07-22 18:26] tstromberg commented on #8515
This seems to be a docker configuration issue. Please `/reopen` if `docker info` works properly, but minikube is still failing.

[2020-07-22 18:26] #8515 closed

[2020-07-22 18:26] #8410 closed

[2020-07-22 18:26] medyagh commented on #8186
Hi @Vedanshshri, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

Meanwhile have you tried ou

[2020-07-22 18:26] #8186 closed

[2020-07-22 18:27] RA489 commented on #8639
@REHMAN-AFZAL can you please provide some additional details as @medyagh suggested to make this issue actionable?

[2020-07-22 18:27] priyawadhwa commented on #8638
Hey @LU438374318  -- hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Thank you for sharing your experience!

[2020-07-22 18:27] #8638 closed

[2020-07-22 18:27] medyagh commented on #7791
glad to see this issue was solved.

closing, please open again if happens again

[2020-07-22 18:27] #7791 closed

[2020-07-22 18:27] sharifelgamal commented on #8162
Hey @jes-micron  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

[2020-07-22 18:27] #8162 closed

[2020-07-22 18:29] priyawadhwa commented on #8633
Hey @Shahrukh-10 --
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide the details above, you may reopen it at any point by adding /reopen to your comment.

Thank you for sharing your experience!

[2020-07-22 18:29] #8633 closed

[2020-07-22 18:29] priyawadhwa commented on #8613
Hey @rizwangcsit --
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide the details above, you may reopen it at any point by adding /reopen to your comment.

Thank you for sharing your experience!

[2020-07-22 18:29] #8613 closed

[2020-07-22 18:30] priyawadhwa commented on #8408
Hey @jiangsiYang --
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Thank you for sharing your experience!

[2020-07-22 18:30] #8408 closed

[2020-07-22 18:30] medyagh commented on #8301
I would be happy to review a PR that updates the Help text for this flag. to the one suggested here https://github.com/kubernetes/minikube/issues/8301#issuecomment-635582825

[2020-07-22 18:30] RA489 commented on #8667
@tangent-devop looks like you are using Minikube in china and unable to download ISO due to restrictions. can you please try out his WIP PR https://github.com/kubernetes/minikube/pull/8555 and let me know if that works for you?

[2020-07-22 18:31] agentreno commented on #8762
Thanks for taking a look. Is this the right section of the logs? It looks like a usage message for the apiserver, like it's been given invalid arguments or something. After this it moves on to kube-controller-manager which generally fails to contact apiserver.

<details><summary>kube-apiserver section of minikube logs</summary>
<p>

[code]

</p>
</details>

Thought maybe container status would als

[2020-07-22 18:31] sharifelgamal commented on #7822
Hey @rendynoviyanto4  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

[2020-07-22 18:31] #7822 closed

[2020-07-22 18:31] medyagh commented on #8371
@TeAmP0is0N can you make sure you own the folder "/home/clay/.minikube/profile"
it seems like minikube can not write the config files. is that folder mounted in a readonly mount?

[2020-07-22 18:31] tstromberg commented on #8480
@joshmue - we recently refactored our CNI configurations, but tried to stick as best as possible to preserving existing behaviors. In this case, I think it's possible that we do better now?

Please try:

`minikube start --cni=cilium`

Please note that I did not change `/etc/cni/net.d/87-podman-bridge.conflist`.

[2020-07-22 18:32] medyagh commented on #8371
@TeAmP0is0N have you installed docker or minikube using snap ?

[2020-07-22 18:33] tstromberg commented on #8370
I suspect that your configuration of `--docker-env` might be causing problems. It shouldn't be necessary, as minikube will program it automatically based on your environment.

If you are still having issues, can you please share the output of `minikube logs`?

[2020-07-22 18:33] RA489 commented on #8634
@Ashnam1100 do you had any chance to restart your docker daemon as per above suggestions?

[2020-07-22 18:33] sharifelgamal commented on #8207
@nishit93-hub any update here?

[2020-07-22 18:35] sharifelgamal commented on #4547
This is still an outstanding issue.

/lifecycle frozen

[2020-07-22 18:35] RA489 commented on #8604
Hey @ish1963  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

[2020-07-22 18:35] medyagh opened #8801 "save minikube glogs to a log file"
as discussed in triage party with @tstromberg

[2020-07-22 18:35] sharifelgamal commented on #6692
This is still an outstanding issue.

/lifecycle frozen

[2020-07-22 18:37] sharifelgamal commented on #6922
/lifecycle frozen

[2020-07-22 18:38] MANA-1991 commented on #8611
Sorry for the late reply, I have fixed the issue but forget to close it

On Wed, Jul 22, 2020, 11:24 PM Medya Ghazizadeh <notifications@github.com>
wrote:

[2020-07-22 18:41] medyagh commented on #8646
@Dean-Coakley are you still interested in making a PR for this ?

[2020-07-22 18:42] sharifelgamal commented on #6367
@linkvt Seems like a reasonable approach to me, feel free to open a PR.

/remove-lifecycle stale

[2020-07-22 18:42] medyagh commented on #8646
cc: @sharifelgamal

[2020-07-22 18:42] priyawadhwa commented on #6818
@jlaswell thank you! any update?

[2020-07-22 18:42] tstromberg commented on #8190
This is weird: your Windows machine does not have "cmd" in path. The browser library uses:

cmd /c start http://www.google.com/

Do you mind trying it?

[2020-07-22 18:44] #8725 closed

[2020-07-22 18:44] priyawadhwa commented on #8358
Hey @yzhang-flexera --
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

If you're still using minikube, I'd recommend what sharif said and try upgrading to our latest release.

Thank you for sharing your experi

[2020-07-22 18:44] #8358 closed

[2020-07-22 18:44] tstromberg commented on #8725
Please use the following forum for your issue: https://forums.virtualbox.org/viewforum.php?f=6

[2020-07-22 18:46] medyagh commented on #8651
@ntippabhatla does this tutorial on the minikube website help ? https://minikube.sigs.k8s.io/docs/handbook/accessing/

[2020-07-22 18:46] priyawadhwa commented on #8498
Hey @ArPharazon would you mind trying with our latest version (v1.12) and letting us know if this is fixed for you?

[2020-07-22 18:48] sharifelgamal commented on #8512
@petr-motejlek Yes, please create a separate feature request issue for being able to specify a timeout. Thanks!

[2020-07-22 18:49] medyagh commented on #8696
@FaristaS do you mind sharing the exact linux distro name and verison ? I suspect you should a different AMI and Linux OS, have you tried debian or ubuntu ?

btw have you tried docker driver we recommend docker driver on linux

[2020-07-22 18:51] medyagh commented on #5301
still on roadmap for 2020. once GUI lands

[2020-07-22 18:52] medyagh commented on #6826
@CodingSpiderFox I think that is something in kuberentes and not related to minikube.

[2020-07-22 18:52] #6826 closed

[2020-07-22 18:54] priyawadhwa commented on #8338
Hey @Mishraom99 are you still seeing this issue? If so, could you try:

1. Upgrading to minikube v1.12
1. Running `minikube delete --all`
1. Running `minikube start`

[2020-07-22 18:55] medyagh commented on #8486
Hi @, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-07-22 18:55] #8486 closed

[2020-07-22 18:56] medyagh commented on #8031
Hi @Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[code]

Thi

[2020-07-22 18:56] #8031 closed

[2020-07-22 18:57] medyagh commented on #8771
@nishaad78 due to the networking limirations of the docker on desktop on mac and indows, docker allocates a random port for 5000 and each time it is different.

as you see in the output of the addon when it enables, it, it changes each time you start minikube but minikube procides you that udpated port

[code]

[2020-07-22 18:57] #8771 closed

[2020-07-22 18:58] RA489 commented on #8579
@tahirarain085 any update on the above suggestions?

[2020-07-22 19:56] ntippabhatla commented on #8651
Yes, I was able to work it out. Thank you. I think we can close the issue.

[2020-07-22 19:56] #8651 closed

[2020-07-22 20:51] medyagh opened #8802 "Makefile targets for pushing storage-provisioner and kicbase"
Make sure to not push if an images already exists at the given target.

[2020-07-22 20:51] medyagh opened #8803 "build new storage provision image and test it"

[2020-07-22 20:54] medyagh commented on #8735
@sharifelgamal confirmed this happens on other drivers as well

[2020-07-22 20:58] sharifelgamal commented on #8735
This issue isn't specific to the docker driver, I was able to replicate it with the hyperkit driver as well.

[2020-07-22 21:18] tstromberg commented on #8740
An interesting error to note from the above logs:

[code]

This confirms to me that shutting down kube-system pods should be sufficient. It's worth noting that this should only be done if we have detected a kubeadm configuration change.

[2020-07-22 21:38] medyagh commented on #8740
detecting when it is an upgrade to do a shutdown of pods is gonna be interesting.

[2020-07-22 21:47] medyagh commented on #8740
I think we can do it here, 	if !k.needsReconfigure(conf, hostname, port, client, cfg.KubernetesConfig.KubernetesVersion) {
		glog.Infof("Taking a shortcut, as the cluster seems to be properly configured")
		return nil

[2020-07-23 00:21] medyagh commented on #8047
@davesachin can you verify that you are running in a nested vm ?
please follow your cloud provider's instruction how to enable nested virtualization.

[2020-07-23 00:21] #8047 closed

[2020-07-23 00:25] medyagh commented on #2968
I just had this issue myself on ubuntu 20.04
I had followed the docs on ubuntu site to install kvm
but the instruction in this link made it work ---> https://linuxconfig.org/install-and-set-up-kvm-on-ubuntu-20-04-focal-fossa-linux
[code]
jenkins@mini-test-11-ubuntu:~$ minikube start --driver=kvm2
😄  minikube v1.12.1 on Ubuntu 20.04
✨  Using the kvm2 driver based on user configuration
👍  Starting c

[2020-07-23 00:26] medyagh commented on #2968
we need to update our docs

[2020-07-23 00:52] vibhat89 opened #8805 "Minikube fails to start on a centos 7 VM"
[preflight] Running pre-flight checks

stderr:
W0722 20:47:19.444596   22081 configset.go:202] WARNING: kubeadm cannot validate component configs for API groups [kubelet.config.k8s.io kubeproxy.config.k8s.io]
 [WARNING IsDockerSystemdCheck]: detected "cgroupfs" as the Docker cgroup driver. The recommended driver is "systemd". Please follow the guide at https://kubernetes.io/docs/setup/cri/
 [WARNI

[2020-07-23 01:16] Lavie526 commented on #8797
@tstromberg there is no --force-systemd option for start command

[jiekong@den03fyu ~]$ minikube start --force-systemd
Error: unknown flag: --force-systemd
See 'minikube start --help' for usage.

[2020-07-23 03:40] wcjohnson commented on #8330
For those looking for a temporary fix for this and some related issues (particularly the persistent storage being lost due to being in tmpfs), I have forked the newest storage provisioner (which does work with Kubernetes 1.18) and made a small change allowing the hostpath location to be changed.

Source code is at https://github.com/wcjohnson/minikube/tree/storage-provisioner-pvdir-arg

Kubernetes

[2020-07-23 04:49] kijinpark opened #8807 "* minikube is exiting due to an error. If the above message is not useful, open an issue:"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-07-23 05:22] FaristaS commented on #8696
Hi @medyagh
That was on Amazon workspace based on Amazon AMI 2

[2020-07-23 08:02] istvanszoboszlai commented on #7218
Is there a chance to include a full fix in 1.13? :) I think the problem now lays only within the clusterrole being to strict by default, as @remizyaka also mentioned.

[2020-07-23 09:09] Abhilash-sandupatla commented on #8566
HI The issue is solved..Thank you , please close

On Wed, Jul 22, 2020 at 11:54 PM Medya Ghazizadeh <notifications@github.com>
wrote:

[2020-07-23 10:29] vkazandzic92 opened #8808 "Minikube on docker error, cannot start"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-07-23 13:01] staticdev commented on #8756
@tstromberg update: after some more tests, I see that most of the times it gives the error, but sometimes not. As you said, the max waiting time may be on the edge of the average time it takes. I would like to isolate which version update is causing this increased time so that we can upstream this issue to the component with degraded performance.

How can I do that? Do I need to recompile minikube

[2020-07-23 14:08] DaudMurtazaRind opened #8811 "Issue in minikube"
daud@Latitude-E5510:~$ minikube start
😄  minikube v1.11.0 on Ubuntu 20.04
✨  Using the kvm2 driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🔥  Creating kvm2 VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...
🔥  Deleting "minikube" in kvm2 ...
🤦  StartHost failed, but will try again: creating host: create: Error creating machine: Error in driver during machi

[2020-07-23 14:09] snirben commented on #8798
restart the service of docker is the solution.
thank you.

[2020-07-23 14:09] #8798 closed

[2020-07-23 14:31] PzaZZ-8899 opened #8812 "Problems using the deployment service"
Hi All,

This is my first post so go easy on me ;-)

I've installed kubectl and minikube onto my VM (Running VirtualBox). Software details are as follows :

Oracle Linux 8.2 (With the latest updates)
Docker 19.03.2 (Latest Release)
Minikube 1.18.3 (Latest release)

I can successfully install minikube and create the cluster. Services are started correctly and i can check the version and
get the sta

[2020-07-23 15:24] asutoshgec commented on #8186
@medyagh I was getting below error while running `minikube start --driver=virtualbox`
`minikube start
* minikube v1.12.1 on Centos 7.8.2003
X Unable to load config: unmarshal: unexpected end of JSON input

[asutosh@docker1 root]$ minikube config view --alsologtostderr
W0723 20:48:17.713218    3479 root.go:246] Error reading config file at /home/asutosh/.minikube/config/config.json: open /home/asut

[2020-07-23 15:55] etanshaul opened #8814 "docker v1.12: <index (index .NetworkSettings.Ports "22/tcp") 0>: error calling index: index of untyped nil -> container exited unexpectedly"
Version 1.12.0

See this comment for the full steps taken: https://github.com/GoogleCloudPlatform/cloud-code-intellij-internal/issues/2207#issuecomment-663070544

This _may_ have since been fixed?

[code]

[2020-07-23 16:57] #8731 closed

[2020-07-23 17:03] #8740 closed

[2020-07-23 17:11] sharifelgamal commented on #7891
/lifecycle frozen

[2020-07-23 17:16] tstromberg commented on #8797
OK. Please upgrade to the latest version of minikube then. This problem was either fixed, or this flag should fix it:

[code]

I got confused because your bug report has both output from minikube v1.12.0 and v1.9.1.

[2020-07-23 17:23] #8655 closed

[2020-07-23 18:17] 11janci opened #8815 "Add CSI Hostpath driver as addon to minikube"
I am currently working on enabling Volume Snapshots in minikube: #8343. Enabling the snapshots is however useless without a CSI based storage provider, which the user would have to configure manually. Adding the CSI hostpath driver as an addon would not only make the volume snapshots ready for use, but provide a complete CSI based storage solution to minikube.

This change would bring all the requ

[2020-07-23 19:53] tstromberg commented on #8814
The first run fails due to:

`Template parsing error: template: :1:4: executing "" at <index (index .NetworkSettings.Ports "22/tcp") 0>: error calling index: index of untyped nil`

The second fails due to:

`container name "cloud-code-minikube": container exited unexpectedly`

@medyagh - do you mind looking into this and make these errors easier to debug? The output of `docker info` would go a lon

[2020-07-23 19:54] tstromberg commented on #8814
I believe some investigative has gone into both of these things in the past, but I also wonder if they are race conditions where we are too impatient.

[2020-07-23 19:58] tstromberg commented on #8814
/cc @balopat - he did mention that this may have been upgrade related, but he no longer has logs. It's possible that minikube v1.12.1 may have accidentally fixed the upgrade issue, but I do not have high confidence in that.

I do not believe we have done anything to make the two failures easier to debug, which we should.

[2020-07-23 19:59] medyagh commented on #8814
this basicly minikube created a container but it shortly exited, and still the advice that minikube gave is relevent.

however in july-chil we added a Pr that checks the Docker Desktop memory size.

one possible thing is, I see Creating docker container (CPUs=2, Memory=5901MB

it could be the docker desktop has only 2 GB and not enough memory.

do you mind sharing how much memory docker desktop ha

[2020-07-23 20:02] tstromberg commented on #8814
@balopat mentioned to me that he was upgrading from minikube v1.11.0 on macOS. Let's make sure to test this upgrade case a couple of times before closing this issue.

[2020-07-23 20:11] tstromberg commented on #8814
Action items:

- Replace the `Template parsing error: template: :1:4: executing "" at <index (index .NetworkSettings.Ports "22/tcp") 0>: error calling index: index of untyped nil` error with something more useful. Like `Unable to find SSH port for "minikube" container: `docker info`

- Add `docker logs <container>` to output of `The minikube  container exited unexpectedly.` message

- Update advic

[2020-07-23 20:15] medyagh commented on #8814
we already have 	oci.LogContainerDebug(d.OCIBinary, d.MachineName)
so it should be in the verbose logs,
https://github.com/medyagh/minikube/blob/6cf9ba8e237be2374b8d88581ac164a94a2a9de9/pkg/drivers/kic/kic.go#L323-L324

I don't think we should flood the display with verbose logs, when we are sure the reason is docker desktop under resourced.

this one is specific to driver and also comes with some

[2020-07-23 20:19] medyagh commented on #8814
sure we can do that, for the users that have delete-on-failure, so they see a more pleasant error.

[2020-07-23 20:21] tstromberg commented on #8739
This issue appears to be a duplicate of #8179, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-07-23 20:21] #8739 closed

[2020-07-23 20:22] tstromberg commented on #8814
This may be a dupe of https://github.com/kubernetes/minikube/issues/8179

The output seems to consistently include `update-alternatives: error: no alternatives for iptables`

This appears to have no relation to under-resourced docker, but is in fact a minikube bug -- which is why the logs would be very helpful.

[2020-07-23 21:18] tstromberg commented on #8814
I was able to duplicate this with HEAD using the stress test script found in https://github.com/kubernetes/minikube/pull/8816

Log is attached.

[log.txt](https://github.com/kubernetes/minikube/files/4968825/log.txt)

[2020-07-23 21:20] tstromberg commented on #8814
docker logs showed: `update-alternatives: error: no alternatives for iptables`

docker info:

[code]

CPU's: 2
Memory: 4GB
Swap: 512 MB
Disk image: 40GB

File sharing is default: /Users /Volumes /private /tmp

[2020-07-24 01:35] Lavie526 commented on #8797
yes, after upgrade it could run minikube start --force-systemd, however it still failed.
I usually installed both v1.12.0 and v1.9.1 in my vm.

[2020-07-24 02:03] Dean-Coakley commented on #8646
@medyagh I opened a PR that seems to resolve the issue.

[2020-07-24 03:31] tstromberg opened #8821 "CreateContainerNode does not wait long enough: created container "x" is not running yet"
Seen with v1.11.0, I want to confirm that HEAD has this issue fixed.

[code]

Can we please verify that we retry appropriately if the container is not running yet?

The worst part is that minikube v1.12 cannot recover from this issue, as the ssh keys haven't been written to disk yet.

[2020-07-24 05:43] tstromberg opened #8822 "Add driver alias for kvm -> kvm2"
Since we've dropped support for the original kvm like, 3 years ago, it would make sense to support users who drop the 2.

Example: https://twitter.com/csfinch/status/1286501747729604612/photo/1

[2020-07-24 05:45] tstromberg commented on #8822
We would probably need to put this alias logic in `cmd/minikube/cmd/start.go`, perhaps in the `selectDriver` function.

[2020-07-24 07:53] Yogendra0Sharma commented on #8822
@tstromberg Hi, can I work on this task?

[2020-07-24 08:07] Yogendra0Sharma commented on #8822
I think we have to change https://github.com/kubernetes/minikube/blob/02cee02721d6e8c40cf80845160a9913e8bd8cf2/cmd/minikube/cmd/config/config.go#L184 also.

[2020-07-24 08:16] Yogendra0Sharma commented on #8822
Do we have to check if the provided driver is KVM or KVM2  we have to show a warning message for both the drivers?
https://github.com/kubernetes/minikube/blob/993504e0545ed9d7cee8140a29b7a04e3daac9f1/cmd/minikube/cmd/start.go#L512

[2020-07-24 08:25] fabiand commented on #8765
I'm getting the same (?) problem, but minikube delete does not fix it:

[code]

[2020-07-24 08:25] fabiand commented on #8765
This happens with n=1 and n=2

[2020-07-24 09:15] joshmue commented on #8480
@tstromberg Thank you for the information!

I did first quick tests with this flag - without success so far.

I will report back with more qualified feedback ASAP.

[2020-07-24 09:46] dhaneesht opened #8823 "hyperv: Unable to get host IP: No virtual switch found"
** Full command used to start **
minikube start --alsologtostderr -v=4

**Full output of failed command:**
Refer Attachment: minikube_start.log

<details>

I have been trying to setup a minikube environment in my laptop(Windows 10) which has VPN configured. When I run the start command, it successfully creates the minikube vm but it fails during the process of creating the kubeconfig with the erro

[2020-07-24 12:58] spots107 commented on #6683
I was having a similar problem as reported above. I followed in the Answer at https://stackoverflow.com/questions/60447586/hyperv-does-not-appear-to-be-installed and minikube started with no issues. Check it out.

[2020-07-24 14:05] tstromberg opened #8824 "Recover from previous incomplete cluster creation (id_rsa: no such file or directory)"
If container creation fails, as in #8814 - when we attempt to recreate the container to recover, we are unable, as we see that the container exists, and then fail because local SSH keys are missing:

`! StartHost failed, but will try again: provision: Error getting config for native Go SSH: open /Users/tstromberg/.minikube/machines/stress8d5b4/id_rsa: no such file or directory`

NOTE: --delete-on-

[2020-07-24 14:06] tstromberg commented on #8824
BTW, this particular issue was seen twice: #8821 and another time. Logs for the second time follow:

[recover.txt](https://github.com/kubernetes/minikube/files/4972321/recover.txt)

[2020-07-24 14:17] Grubhart commented on #8765
Hi there same here, I start docker desktop, tried with virtualbox too, same error

[2020-07-24 15:20] tstromberg commented on #8821
It looks like we only retry for 13 seconds. I suggest doubling it for high-load situations.

[2020-07-24 16:31] tstromberg commented on #8821
I saw this issue again this morning, so I've opened up a PR.

[2020-07-24 16:38] albachir opened #8829 "Minikube Failed to pull image http: server gave HTTP response to HTTPS client"
I've a minikube running on OSX with hyperkit with insecure registry enabled
[code]
I can inspect the registry on the minikube IP address
[code]
I;ve built an image locally and
[code]
If I check the status of the pod I see that it was not able to pull the image, see below
[code]
How can I get kuernetes to use HTTP to pull the image from the insecure local registry?

[2020-07-24 16:39] #8829 closed

[2020-07-24 16:39] dzlab opened #8830 "Minikube Failed to pull image http: server gave HTTP response to HTTPS client"
I've a minikube running on OSX with hyperkit with insecure registry enabled
[code]
I can inspect the registry on the minikube IP address
[code]
I;ve built an image locally and
[code]
If I check the status of the pod I see that it was not able to pull the image, see below
[code]
How can I get kuernetes to use HTTP to pull the image from the insecure local registry?

[2020-07-24 18:10] #8821 closed

[2020-07-24 18:40] medyagh opened #8832 "docker: Error response from daemon: Mounts denied: EOF."
this was due to me doing a lot of experiement on docker settings, I made this error happen, I was able to fix it by factory reseting my docker desktop.

we should tell users to do same as a solution message

https://stackoverflow.com/questions/45122459/docker-mounts-denied-the-paths-are-not-shared-from-os-x-and-are-not-known/45123074

[code]

[2020-07-24 19:56] #8752 closed

[2020-07-24 20:41] adamf commented on #6143
I'm also seeing this issue when I try to use `minikube` + `hyperkit` in a github action on github's `macos-latest` action runner image. Minikube 1.12.0:

[code]

Interestingly sometimes re-running the job works.

[2020-07-24 20:56] bs444 opened #8834 "GCR connectivity check fails when custom SSL certs are used"
**Steps to reproduce the issue:**

1. copy company .pem to ~/.minikube/files/etc/ssl/certs/mycacert.pem, chmod 644
2. minikube delete
3. minikube start --alsologtostderr -v=7

**Full output of failed command:**

From

I0724 20:06:48.783373   22631 ssh_runner.go:148] Run: sudo mkdir -p /etc/ssl/certs
I0724 20:06:48.791445   22631 ssh_runner.go:148] Run: stat -c "%s %y" /etc/ssl/certs/mycacert.pem
I

[2020-07-24 21:40] #8783 closed

[2020-07-24 22:48] #8735 closed

[2020-07-25 04:26] satva commented on #8769
Yes , looks it was consistent after upgrade .

[2020-07-25 05:03] ptlashan opened #8837 "verifying ingress addon pods : timed out waiting for the condition: timed out waiting for the condition"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-07-25 16:08] MOZGIII opened #8840 "Kubernetes v1.16.13 is broken"
**Steps to reproduce the issue:**

1. `minikube start --container-runtime=crio --kubernetes-version v1.16.13`

**Full output of failed command:**

Not exactly failed command, but:

[code]

`kube-controller-manager-minikube` and `kube-scheduler-minikube`  keep crashing and restarting.

The same picture is reproduced in our CI, making our pipelines fail. This happens with `v1.16.13` with any runtime

[2020-07-25 16:18] GH-Djeff opened #8841 "minikube addons enable ingress failed"
**Steps to reproduce the issue:**
Hello i'm trying to enable ingress addons in minikube

1.root@kmaster-01:/etc/kubernetes/Ingress# minikube addons enable ingress
🔎  Verifying ingress addon...

💣  enable failed: run callbacks: running callbacks: [verifying ingress addon pods : timed out waiting for the condition: timed out waiting for the condition]

😿  minikube is exiting due to an error. If the

[2020-07-25 20:30] soodr commented on #8750
I was able to fix this with `minikube delete`. Also updated version as suggested.
thanks.

[2020-07-25 20:30] #8750 closed

[2020-07-26 02:24] #8769 closed

[2020-07-26 06:24] walterkozlowski opened #8843 "minikube start --driver=vmware"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-07-26 11:09] Ajitesh13 commented on #8453
@tstromberg while recreating this issue(executing the command: `env PATH=/bin:/sbin ./out/minikube start --driver=virtualbox`) I got the following:
[code]
As specified in the above conversation, the suggestion is coming as "Install VirtualBox" instead of "Install the latest version of VirtualBox". Can you predict why?

[2020-07-26 14:31] ScottFred opened #8844 "Enabling 'default-storageclass' returned an error: running callbacks: [Error making standard the default storage class: Error listing StorageClasses: Unauthorized]"
**Steps to reproduce the issue:**
MacOS: 10.15.5
Hypervisor: Virtualbox 6.1.12

**1. Upgrading from an old version of Minikube:**
$ minikube version
minikube version: v0.25.0

**2. Download newest version**
$ curl -Lo minikube https://storage.googleapis.com/minikube/releases/latest/minikube-darwin-amd64 \
  && chmod +x minikube

**3. Move executable**
$ sudo mv ./minikube /usr/local/bin/

**4. Ver

[2020-07-26 17:16] naikajah commented on #8844
Hi @ScottFred
I too bumped into this issue today while doing some chaos testing inside minikube. The solution you mentioned worked for me as well. Thank you for posting.

[2020-07-26 18:24] dzlab commented on #8830
It is actually working, after i deleted the current Minikube VM and upgrading it. Re-following the steps above got it working.

[2020-07-26 18:24] #8830 closed

[2020-07-27 00:40] Lavie526 commented on #8797
@tstromberg Any suggestions?

[2020-07-27 06:35] eyexin commented on #8631
Firstly,I am sorry about I haven't responded to you,because I am studying other project recently,so I haven't time to reply.Secondly,I am starting to use kubernetes cluster now, I don't do minikube anymore for now.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "kubern

[2020-07-27 09:08] dschulten commented on #8760
If I understand you correctly, you suggest to widen the range for $no_proxy.

Unfortunately, the address of the default switch jumps not only within 172.xx, but also sometimes uses addresses ranges in the 192.168.xx range, only to go back to 172 later. Therefore it is impossible to predict which addresses should be reached without proxy.

[2020-07-27 10:28] mjkowalski opened #8846 "storage-provisioner-gluster fails to provision volume due to Invalid JWT token"
**Steps to reproduce the issue:**
Following the instructions described on [storage-provisioner-gluster docs](https://github.com/kubernetes/minikube/blob/master/deploy/addons/storage-provisioner-gluster/README.md):
1. `minikube start --driver=virtualbox  --kubernetes-version=v1.18.3` (fails on k8s `v1.15.5` as well)
2. `minikube addons enable storage-provisioner-gluster`
3. Create `pvc.yaml` file w

[2020-07-27 11:46] srvmsr commented on #7512
Also in some cases , you can edit your core dns conf file to point to a public dns instead of local resolve.conf and restart core dns pods
a example core dns conf file

{
	"Corefile": ".:53 {
		    errors
		    log
		    health {
		       lameduck 5s
		    }
		    ready
		    kubernetes cluster.local in-addr.arpa ip6.arpa {
		       pods insecure
		       fallthrough in-addr.arpa ip6.arpa

[2020-07-27 13:45] ca6a opened #8847 "HyperV: Error finding IPV4 address for vEthernet (minikube v switch)"
**Steps to reproduce the issue:**

1.minikube start --vm-driver hyperv --hyperv-virtual-switch "minikube v switch"
2.
3.
X failed to start node: startup failed: Failed to setup kubeconfig: ip for interface (minikube v switch): Error finding IPV4 address for vEthernet (minikube v switch)

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-07-27 16:08] saibanna opened #8848 "Error creating machine"
**Steps to reproduce the issue:**

1 # minikube start --vm-driver=hyperkit

**Full output of failed command:**

error provisioning host: Failed to start host: creating host: create: Error creating machine: Error in driver during machine creation: IP address never found in dhcp leases file Temporary error: open /var/db/dhcpd_leases: no such file or directory

**Full output of `minikube start` comma

[2020-07-27 16:29] sharifelgamal commented on #8770
The swap warning is a red herring, the warning that matters here is that the kubelet couldn't start back up. This should be fixed with a delete and restart:
[code]

[2020-07-27 17:38] sharifelgamal commented on #8773
That `SIGILL` means something went seriously wrong inside of your VM. It looks like `kubeadm init` (the process that start kubernetes) seg faulted and everything failed catastrophically.

Can you try deleting your cluster and running `minikube start --driver=virtualbox -v=3 --alsologtostderr`?

[2020-07-27 17:56] #8714 closed

[2020-07-27 18:13] sharifelgamal commented on #8790
Yeah, we should probably do a sanity check for URL parameters. Help wanted!

[2020-07-27 18:16] sharifelgamal commented on #8788
Can you try deleting your minikube cluster and trying start again?

`Temporary Error: error getting ip during provisioning: IPs output should only be one line, got 2 lines` seems really fishy and I'm wondering if something just went wrong during the provisioning of the docker container.

[2020-07-27 18:20] sharifelgamal commented on #8808
Hey @vkazandzic92, I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

[2020-07-27 18:21] sharifelgamal commented on #8807
Hey @kijinpark, I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

The exact minikube start command line used

The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

The full output of minikube logs

The full output of kubectl get po -A

Thank you

[2020-07-27 18:28] sharifelgamal commented on #8847
This means that minikube either could not find the hyperv switch you specified, or the switch is somehow misconfigured.

Can you run delete and rerun minikube start with `-v=3 --alsologtostderr` for more details?

[2020-07-27 18:35] sharifelgamal commented on #8844
Yeah, upgrading from a super old version of minikube like 0.25 up to 1.12 is unlikely to work. Deleting your `.minikube` folder (which can also be done with `minikube delete --all --purge`) is the best move here.

[2020-07-27 18:36] sharifelgamal commented on #8844
I'll leave this open for a little while for discoverability.

[2020-07-27 18:38] sharifelgamal commented on #8843
Hey @walterkozlowski, I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

The exact minikube start command line used

The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

The full output of minikube logs

The full output of kubectl get po -A

Tha

[2020-07-27 20:31] sharifelgamal commented on #8841
We don't support the ingress addon with the none driver, we should fail with a good error message, rather than just spewing logs.

[2020-07-27 20:34] sharifelgamal commented on #8837
Hey @ptlashan, I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Th

[2020-07-27 21:24] sharifelgamal commented on #8812
Make sure to specify the proper namespace when calling `kubectl get` and `kubectl delete`. What does the output for `kubectl get all` show?

[2020-07-27 21:30] sharifelgamal commented on #8811
Sorry for the bad experience with the kvm2 driver, it just looks like machine creation timed out. Could you delete your cluster and rerun with `minikube start -v=3 --alsologtostderr` and possibly with `minikube logs`? That'll give us more information to help debug.

Also, you can try the newest version of minikube, which is currently 1.12.1 and see if that fixes the issue.

[2020-07-27 22:12] drewpca opened #8857 "run internal kubectl when os.Args[0] is 'kubectl'"
It would be nice if this worked:

[code]
No harm to existing workflows (as long as we don't force the creation of that symlink-- see https://github.com/rancher/k3s/issues/521), and it would save on aliases and '--' argument separators.

Related: https://github.com/kubernetes/minikube/issues/4684
Related: https://github.com/kubernetes/minikube/issues/4697

[2020-07-28 03:48] medyagh opened #8859 "Failing Test : TestStartStop/group/embed-certs/serial/VerifyKubernetesImages"
Seems to be side effect of this PR that made dashboard automatically enable metrics

https://github.com/kubernetes/minikube/pull/8842
[code]

[2020-07-28 03:48] shramikawale opened #8860 "minikube start issue in ubuntu 20.04"
😄  minikube v1.11.0 on Ubuntu 20.04
✨  Automatically selected the docker driver
👍  Starting control plane node minikube in cluster minikube
🔥  Creating docker container (CPUs=2, Memory=2200MB) ...
🐳  Preparing Kubernetes v1.18.3 on Docker 19.03.2 ...
E0728 09:30:38.000600    8982 start.go:94] Unable to get host IP: inspect IP bridge network "54cc310d3638\n90986ed497e5".: docker network inspect --f

[2020-07-28 04:12] medyagh opened #8861 "Clean up hack for Crio-1.17.3+ bug"
While I was trying to rebuild our current Kicbase image without ANY change, I noticed All the crio tests fail
https://github.com/kubernetes/minikube/pull/8854

Failed Test | Duration
-- | --
TestStartStop/group/crio/serial/SecondStart | 762.94
TestStartStop/group/crio/serial/UserAppExistsAfterStop | 541.09
TestStartStop/group/crio/serial/AddonExistsAfterStop | 541.04
TestStartStop/group/crio/seria

[2020-07-28 06:21] Jasstkn commented on #8756
Same problem.

[2020-07-28 09:25] Lavie526 commented on #8797
@tstromberg Any suggestions?

[2020-07-28 09:39] tnimni commented on #2481
Is this issue fixed?
i'm still having issue on v1.12.1

[2020-07-28 12:46] fans3210 commented on #7028
Hi I'm facing the same issue.

command I'm using:

`minikube start --driver=virtualbox --extra-config 'controller-manager.feature-gates=TTLAfterFinished=true'`

Results:
[code]

However, after describe pod:
[code]

[2020-07-28 13:41] Dean-Coakley commented on #8841
/assign

[2020-07-28 13:48] ca6a commented on #8847
Thanks, i will check

[2020-07-28 14:22] petebirk opened #8862 "Having an issue with minikube start on MacOS"
Trying to setup minikube following steps here:  https://backstage.forgerock.com/docs/forgeops/6.5/devops-guide-minikube/#devops-guide-minikube.

The start command fails and I think it's related to the "Unauthorized" you see below.   If I do anything with kubectl, it gives me an error "You must be logged in to the server (Unauthorized)".   In the minikube logs, there is info about an expired certif

[2020-07-28 15:44] JParkinson1991 commented on #2735
I have been following this tutorial here: https://kubernetes.io/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk/

I adapated filebeat configuration to use the new hostname `host.minikube.internal` when trying to connect to kibana but recieved the following host not found error.

[code]

Strangely when using `minikube ssh` i am able to curl the above problematic URL as expected

[2020-07-28 15:50] nixpanic commented on #8284
I just hit this problem on minikube 1.12.1 and kvm2 too. Copying the `/sbin/losetup` executable from the CentOS 8 host into the minikube VM makes it work (but is a very ugly workaround).

I'll try to build an ISO with `BR2_PACKAGE_UTIL_LINUX_LOSETUP=y` and see if that works.

[2020-07-28 18:12] medyagh opened #8865 "CI Jenkins: if Dockerfile was changed do integration test with the a built image"
we should change our jenkins test scripts that if the PR has change the Dockerfile it should test againt that Dockerfile
- build the dockerfile
- pass it as an arg to the test --base-image="local/kicbase..."

[2020-07-28 18:15] #8859 closed

[2020-07-28 18:49] darkdatter opened #8866 "CoreDNS does not trust/is not using k8s API certs"
**Steps to reproduce the issue:**

1. Start a CentOS 7.8 instance on AWS
2. Install Docker, CRI-O, kubectl, kubeadm,minikube
3. minikube start --vm-driver=none --network-plugin=cni

**CoreDNS logs:**
 `
E0728 18:10:30.158244 1 reflector.go:153] pkg/mod/k8s.io/client-go@v0.17.2/tools/cache/reflector.go:105: Failed to list *v1.Endpoints: Get https://10.96.0.1:443/api/v1/endpoints?limit=500&resourceV

[2020-07-28 20:09] artemkoslenkov opened #8867 "minikube cache add looking for remote images not local?"
the following is the ouput after the command `minikube cache add php:api`

E0728 22:02:58.007461  352660 cache.go:63] save image to file "php:api" -> "/home/artem/.minikube/cache/images/php_api" failed: nil image for php:api: GET https://index.docker.io/v2/library/php/manifests/api: MANIFEST_UNKNOWN: manifest unknown; map[Tag:api]

💣  Failed to cache and load images: save to dir: caching images: c

[2020-07-28 21:20] sharifelgamal commented on #8245
Turns out this is a duplicate of #2954

[2020-07-28 21:20] #8245 closed

[2020-07-28 21:47] Dean-Coakley commented on #8841
@sharifelgamal I'd appreciate if you could take a look at #8870 when you get a chance to see if the warning message is good.

[2020-07-28 23:11] petebirk commented on #8862
This can be closed..  I had upgraded from an older version of minikube recently..  The issue documented below fixed the problem.  I ran "minikube delete --all --purge" and that fixed it.   Thanks!

https://github.com/kubernetes/minikube/issues/8844

[2020-07-29 04:02] fans3210 commented on #7444
Hi @tstromberg

I'm also facing this issue when trying to config kubernetes-cd plugin. My jenkins is running as a NodePort on my local k8s cluster(minikube).
I'm facing below error:
<img width="1290" alt="Screenshot 2020-07-29 11 56 59" src="https://user-images.githubusercontent.com/6023208/88755107-e70c6100-d192-11ea-8be0-896b69f53071.png">

However, my .crt file exists on that path:

<img width=

[2020-07-29 04:07] fans3210 commented on #7414
I'm also having the same issue. If I set credentials to 'none' in the configurations, test connection would success. My jenkins runs on a pod deployed using helm.
For more details:
https://github.com/kubernetes/minikube/issues/7444

[2020-07-29 07:20] CentUser commented on #2180
Same problem with minikube v1.12.1.

I find out that minikube started docker image do not have ping and route, and thank god, it do have /bin/bash, I managed to append 8.8.8.8 nameserver to /etc/resolv.conf, it still could not connect to the public network.

I don't have a proxy server, so I configured the host as an proxy server, started minikube with --docker-env HTTP_PROXY and --docker-env HTTP

[2020-07-29 07:57] JParkinson1991 opened #8873 "host.minikube.internal resolves inside the VM but not inside of containers."
## Setup
- Minikube Version: v1.12.1 Hyperkit Driver
- Docker for Mac Docker Engine: 19.03.12
- Kubernetes local: v1.18.6 (not bundled with docker for mac, installed via homebrew)
- Kubernetes server: v1.18.3

## Issue

I have been following this tutorial here: https://kubernetes.io/docs/tutorials/stateless-application/guestbook-logs-metrics-with-elk/

I adapated [filebeat configuration](https://k

[2020-07-29 08:00] JParkinson1991 commented on #8873
Adapated problematic manifest file from tutorial

[code]

[2020-07-29 08:23] tbox1911 commented on #8846
Hi,
the same issue here, I'll try to fight with JWT token,

I follow the doc here: https://github.com/gluster/gluster-kubernetes

even if I set use "_auth = false" in heketi.json, i've got the "Invalid JWT token"

[2020-07-29 10:09] PzaZZ-8899 commented on #8812
Hi Sharif

Thanks for the response. Here are the details

[dockeruser@juggernaut ~]$ minikube start
😄  minikube v1.12.1 on Oracle 8.2 (vbox/amd64)
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing docker container for "minikube" ...
🐳  Preparing Kubernetes v1.18.3 on Docker 19.03.2 ...
🔎  Verifying Kubernetes com

[2020-07-29 10:23] PzaZZ-8899 commented on #8812
Hi,

Here is the minikube version and linux kernel revision too
[dockeruser@juggernaut ~]$ minikube version
minikube version: v1.12.1
commit: 5664228288552de9f3a446ea4f51c6f29bbdd0e0-dirty
[dockeruser@juggernaut ~]$

[dockeruser@juggernaut ~]$ uname -a
Linux juggernaut 5.4.17-2011.3.2.1.el8uek.x86_64 #2 SMP Sun May 24 13:36:59 PDT 2020 x86_64 x86_64 x86_64 GNU/Linux
[dockeruser@juggernaut ~]$

Tha

[2020-07-29 11:26] lucasponce opened #8874 "kvm: virError(Code=89, Domain=47, Message='Error desde el servicio: changeZoneOfInterface: COMMAND_FAILED: 'python-nftables' failed:"
Fedora 32 box where we have installed docker [1]

Unable to start minikube with kvm2:

[code]

[1] https://fedoramagazine.org/docker-and-fedora-32/

[2020-07-29 11:27] joshmue commented on #8480
@tstromberg

I was able to do a little more testing now.

When just using `minikube start --cni=cilium` everything seems to work perfectly. Observation: CoreDNS is recreated when Cilium is ready and the new Pod get's a Cilium IP. `kubectl get ciliumendpoints --all-namespaces` confirms this. Also, when applying the [Cilium connectivity checks](https://docs.cilium.io/en/v1.8/troubleshooting/#cilium-

[2020-07-29 11:51] furkatgofurov7 opened #8875 "Failed to setup certs: certificate symlinks"
**Steps to reproduce the issue:**

`sudo su -l -c 'minikube start' "${USER}"`

**Full output of `minikube start` command used, if not already included:**
[code]
Related to [7720](https://github.com/kubernetes/minikube/issues/7720)
Related to [7541](https://github.com/kubernetes/minikube/issues/7541)

**Optional: Full output of `minikube logs` command:**

<details>
</details>

[2020-07-29 16:34] MisLink commented on #7070
Error message bring me here... Although I don't think I have the same issue.

I start minikube by

[code]
Output is

[code]

I don't use docker driver and docker-opt option. I tried to run `minikube start` again but not luck.

Finally I try to delete the `.minikube/` and `.kube/` folder, downgrade the iso to v1.11.0, then minikube works fine.

[2020-07-29 18:06] medyagh commented on #4716
we still like to do this, but it seems like we are blocked by some issues, if anyone can help to make this happen we need hep !

[2020-07-29 18:07] medyagh commented on #5792
we still like to do this ! if anyone can help , help wanted !

[2020-07-29 18:07] sharifelgamal commented on #6159
We support ARM64 now, but still do not have documentation for it. I'll keep this open for now.

[2020-07-29 18:08] medyagh commented on #8508
@mazzystr has the advice in this comment helped https://github.com/kubernetes/minikube/issues/8508#issuecomment-650776352 ?
if you don't mind please re try with latest verison and if you still have this issue open ?

[2020-07-29 18:08] priyawadhwa commented on #8661
Hey @franck102 are you still seeing this issue?

[2020-07-29 18:08] priyawadhwa commented on #7677
Hey @mazzystr
@anilsakr

are you still seeing this issue?

[2020-07-29 18:09] sharifelgamal commented on #6167
This feels like a kubeadm issue, if it indeed isn't and needs work in minikube, please reopen this.

[2020-07-29 18:09] #6167 closed

[2020-07-29 18:09] medyagh commented on #8672
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

The exact minikube start command line used: preferably with --alsologtostderr -v=8 added.
The full output of the command
The full output of "minikube logs"
Please feel free to do

[2020-07-29 18:09] #8672 closed

[2020-07-29 18:10] medyagh commented on #8580
Hi @iqbaalsingh , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-07-29 18:10] #8580 closed

[2020-07-29 18:11] priyawadhwa commented on #8561
Hey @dayeol I'm going to close this issue as it hasn't seen any activity in some time. If you're still seeing this issue, please:

1. Try upgrading to our latest minikube version (1.12.0) and see if that fixes it
1. Otherwise ,provide the output of `minikube start --driver=docker -v=5 --alsologtostderr`
1. Reopen this issue by including /reopen in your comment

Thank you for sharing your experienc

[2020-07-29 18:11] #8561 closed

[2020-07-29 18:11] medyagh commented on #8420
I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-07-29 18:11] #8420 closed

[2020-07-29 18:12] priyawadhwa commented on #8557
Hey @sourav-code-space I'm going to close this issue as it hasn't seen any activity in some time. If you're still seeing this issue, please:

1. Try upgrading to our latest minikube version (1.12.0) and see if that fixes it
1. Otherwise ,provide the output of `minikube start -v=5 --alsologtostderr`
1. Reopen this issue by including /reopen in your comment

Thank you for sharing your experience!

[2020-07-29 18:12] #8557 closed

[2020-07-29 18:12] medyagh commented on #8364
Hi @phpsxg c, I haven't heard back from you, I wonder if you still have this issue?
I noticed you are using an old version of minikube, v.1.9.0 is very very old. do you mind trying with latest version ?

Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for

[2020-07-29 18:12] #8364 closed

[2020-07-29 18:12] sharifelgamal commented on #6751
We mock downloads for all tests now, refer to the [download package](https://github.com/kubernetes/minikube/blob/master/pkg/minikube/download/download.go) for details there.

[2020-07-29 18:12] #6751 closed

[2020-07-29 18:13] priyawadhwa commented on #8553
Hey @venkatesh551 thanks for opening this issue. Could you please try:

1. Downloading the latest version of minikube v1.12.0 [install instructions here](https://minikube.sigs.k8s.io/docs/start/)
1. Running `minikube delete`
1. Running `minikube start`

And if that fails, please provide the output of `minikube start --alsologtostderr`

[2020-07-29 18:14] priyawadhwa commented on #8409
Hey @phua-gingsheng could you provide the output of:

[code]

[2020-07-29 18:14] medyagh commented on #3752
if anyone interested to add this to the docs ! this is a good first issue

[2020-07-29 18:15] medyagh commented on #7848
salam @KamranAzeem  do you still have this issue, or do you like to elaborate more on this ?

[2020-07-29 18:17] medyagh commented on #8344
@myugan do you mind retyring with our latest verison of minikube we fixed a few multi node bugs in v1.12.1 ?

[2020-07-29 18:17] medyagh commented on #8344
/triage needs-information
/triage support

[2020-07-29 18:17] medyagh commented on #8524
Hi @,@msarbi I haven't  I haven't heard back from you, I wonder if you still have this issue?

does the comment here help https://github.com/kubernetes/minikube/issues/8524#issuecomment-647108481 ?
I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-07-29 18:17] #8524 closed

[2020-07-29 18:20] priyawadhwa commented on #8209
Hey @grahamsutton thanks for all the info you provided. Are you still seeing this issue with minikube v1.12.0?

The error with the docker driver (the port 22 error) should be fixed in the upcoming release (v1.13.0) but it could be worth trying it again with v1.12.0 as well.

[2020-07-29 18:25] medyagh commented on #7828
thank for updating with the work arround,

I would love to see a tutorial on minikube for how to do a basic PV that works !
@martinmalek would you would be interested to share your example it our website tutorial? https://minikube.sigs.k8s.io/docs/tutorials/

[2020-07-29 18:28] priyawadhwa opened #8876 "upgrade storage provisioner image and test"
related to https://github.com/kubernetes/minikube/issues/7828

#8564

[2020-07-29 18:28] medyagh commented on #7828
given that we need to add integeaiton test for PV so we never break this functioanalty that users rely on

[2020-07-29 18:31] medyagh commented on #8772
Thank you for sharing your experience! If you don't mind, could you please provide:

@slinkydeveloper do you happen to be using VPN or a firewall that limits your network connectivit ?
and what version of qemu or libvirt are you using ? (sometimes upgrading the kvm libs fixes kvm issues)

and additionatliy I am curious is there a reason you are not using the docker driver which is our most preferr

[2020-07-29 18:31] priyawadhwa commented on #7289
/remove-lifecycle rotten

[2020-07-29 18:32] sharifelgamal commented on #8283
I have no issue adding information to `config.json` so long as backwards compatibility is preserved. If adding a new file is the easier answer, then by all means go for it.

[2020-07-29 18:32] priyawadhwa commented on #6489
/remove-lifecycle rotten

[2020-07-29 18:34] medyagh commented on #8732
@artemkoslenkov what driver are you using ? do you have same issue with any other driver that minikube supports ?
docker or kvm2 or hyperkit ...

[2020-07-29 18:34] medyagh commented on #8732
/triage needs-information
/triage support

[2020-07-29 18:36] medyagh commented on #8708
@saikatHi6 do you have the same issue with other driver such as hyperv or docker ?

or do you have this problem only when you spiecify a lot of CPU and ram ? does it start ok with default CPU and ram ?

[2020-07-29 18:36] medyagh commented on #8708
/triage needs-information
/triage support

[2020-07-29 18:38] medyagh commented on #8708
This could be a virtualbox limiattation I dont think you can allocate ALL of the RAM and the CPUs of your computer to minikube. I believe vritualbox needs to reserve all the memory. while other drivers can they Share with the host.

have you tried other drivers ? and also I don't recommend maxing out all the resources that your system has, since windows and other apps also need cpu and ram.

[2020-07-29 18:39] artemkoslenkov commented on #8732
Hi, I'm using kvm2 driver on ubuntu, haven't checked with other drivers.

May it be related to what's mentioned here https://minikube.sigs.k8s.io/docs/handbook/mount/ regarding folders > 600 files issue? In node_modules this may definitely be the case.

How to work around this case?

Many thanks,
Artem.

[2020-07-29 18:41] medyagh commented on #8708
given that minikube could do a better job in proving a better error, when this happens.
we should advice the user not to allocate more than 70% of their available RAM to the cluster or it might crash.

[2020-07-29 18:41] myugan commented on #8344
let me try the latest version first for this issue @medyagh,

[2020-07-29 18:44] sharifelgamal commented on #8743
That is very strange, I don't really see why a checksum would fail on something so simple.

Can you try running `minikube start --driver none --kubernetes-version v1.18.0 -v=8 --alsologtostderr`? That should give us more information to go on.

[2020-07-29 18:45] medyagh commented on #8696
@FaristaS it seems like you that AMI doesn't suppor kubernetnes requirements, I reocmmend using an image like Debian or any other image that passes the requirements.

I am not fimmiliar with Amazon Linux

[2020-07-29 18:47] #8696 closed

[2020-07-29 18:48] medyagh commented on #8564
@bahtou does the comment in this issue help https://github.com/kubernetes/minikube/issues/7828#issuecomment-661831907\

[2020-07-29 18:48] medyagh commented on #8564
cc: @priyawadhwa

[2020-07-29 18:49] sharifelgamal commented on #8797
What sort of failure are you seeing with the `--force-systemd` flag specified?

[2020-07-29 18:54] medyagh commented on #7316
we did this

[2020-07-29 18:54] #7316 closed

[2020-07-29 18:54] sharifelgamal commented on #8822
Yeah so basically if the user supplies `kvm` as a driver name, we should just treat it as if they supplied `kvm2` for everything. We should only need to check it on start and convert a `kvm` passed in to `kvm2`.

[2020-07-29 18:55] sharifelgamal commented on #8822
Yikes, that's just very old documentation. That should updated to something more recent (like `minikube config set driver docker`) regardless.

[2020-07-29 19:22] saikatHi6 commented on #8708
@medyagh  Thank you for replying. I have not tried with other drivers because want to access the minikube environment from other remote machines. I think the port forwarding option is only available for Virtualbox which I am able to get access from remote machines. So I choose Virtualbox driver.

Currently I am using latest version of minikube and my host machine has 16 CPU and 64 GB RAM. But I am

[2020-07-29 19:59] grahamsutton commented on #8209
Hey @priyawadhwa. I haven't tried recently, but I will update minikube and give it a shot tonight and let you know if it's working. I tried taking a stab at fixing the issue myself when I first encountered the problem but my Golang skills are amateurish at best.

[2020-07-29 20:33] mnaser commented on #7218
I think the other issue is here

https://github.com/kubernetes/minikube/blob/master/deploy/addons/storage-provisioner/storage-provisioner.yaml.tmpl#L101

I think we need a new release of storage-provisioner ..

[2020-07-29 20:43] vteran93 commented on #8209
Hi Guys, I just tried to start with the docker driver and I'm getting this error:

[code]

[2020-07-29 23:00] #8730 closed

[2020-07-30 01:06] ozbillwang commented on #6709
got the same issue on MacOS

[code]

[2020-07-30 02:00] CentUser commented on #4589
emm... virtualbox is too heavy, minikube at least start 3 VMs, dell 7050 with 8GB ram and intel i7-6700, system frozen.

[2020-07-30 02:06] ashmckenzie commented on #6709
Deleting both `~/.kube` and `~/.minikube` directories on macOS solved this for me.

[2020-07-30 06:45] lingsamuel opened #8881 "Shouldn't pass scheme prefixed localhost proxy environment variables."
https://github.com/kubernetes/minikube/blob/32bf4d46a7202ff0d0d7e1500ba0a49d6bf37c87/pkg/minikube/proxy/proxy.go#L156-L170

[code]

Proxy environment variables can start with scheme like `http://`.

/kind feature

[2020-07-30 07:03] Prashantsaini25 opened #8882 "anyy one solved this"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-07-30 07:20] lingsamuel opened #8883 "Init docker env before generate cluster config?"
The function `generateClusterConfig` generates a new cluster config if `existing == nil`.
But it uses `config.DockerEnv` before initialize?

https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/start_flags.go#L294

https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/start_flags.go#L355

[code]

If add some logs to test `TestGenerateCfgFromFlagsHTTPProxyHandling` in `

[2020-07-30 07:49] zhouhao3 opened #8884 "After minikube start is completed, kubelet cannot connect to the cluster"
After minikube start is successfully executed, I cannot connect to the minkube cluster through kubelet.

**Steps to reproduce the issue:**

1.minikube start
[code]
2. kubectl get po -A
[code]

[code]

[2020-07-30 08:24] annder opened #8886 "Can't start with minikube"
**Steps to reproduce the issue:**

1. curl -Lo minikube https://kubernetes.oss-cn-hangzhou.aliyuncs.com/minikube/releases/v1.12.1/minikube-darwin-amd64 && chmod +x minikube && sudo mv minikube /usr/local/bin/
2. minikube start --driver=none

**Full output of failed command:**

failed to start node: startup failed: run: /bin/bash -c "sudo env PATH=/var/lib/minikube/binaries/v1.18.3:$PATH kubeadm in

[2020-07-30 08:46] mikemountjoy commented on #6709
I ran a quick test using docker on my own machine and minikube started successfully.

Personally I use **hyperkit** (installed as part of Docker Desktop for Mac ) rather than **docker** as my --vm-driver

[code]

[code]

[2020-07-30 08:49] lingsamuel commented on #8881
kind/feature

[2020-07-30 08:50] lingsamuel commented on #8881
/kind/feature

[2020-07-30 08:56] lingsamuel commented on #8884
Add `192.168.0.0/16` to your `NO_PROXY` env variable?

[2020-07-30 09:10] zhouhao3 commented on #8884
@lingsamuel Thank you for your suggestion, it solved my problem.

[2020-07-30 09:10] #8884 closed

[2020-07-30 09:20] lingsamuel commented on #8884
The clue is in the log:

Read the log carefully can solved many problems.

[2020-07-30 11:28] Gaurav7296 opened #8888 "minikube v1.12.1 docker driver: container exited unexpectedly"
* minikube v1.12.1 on Microsoft Windows 10 Pro 10.0.18363 Build 18363
* Using the docker driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Creating docker container (CPUs=2, Memory=1991MB) ...
* Stopping "minikube" in docker ...
! Executing "docker container inspect minikube --format={{.State.Status}}" took an unusually long time: 2.6520123s
* Restarti

[2020-07-30 13:14] adr-arroyo commented on #8209
Hello, I am having the same issue so I am posting to help on the resolution.

My last logs:

[code]

[2020-07-30 15:09] #8814 closed

[2020-07-30 15:53] tstromberg opened #8890 "kicbase builds fail TestStartStop/group/crio/serial/UserAppExistsAfterStop"
@medyagh mentioned that he observed failures with `TestStartStop/group/crio` on the latest kicbase.

My first attempt to duplicate them corroborates this:

* `docker build -t kicbase:experiment deploy/kicbase`
* `env TEST_ARGS="-minikube-start-args='--vm-driver=docker --base-image=kicbase:experiment' -test.run=TestStartStop/group/crio --cleanup=false" make integration`

Before I hit Ctrl-C, the te

[2020-07-30 16:01] tstromberg commented on #8890
It's worth noting that this test works fine at master with the currently released kicbase:

[code]

[2020-07-30 16:43] tstromberg commented on #8890
The new image upgrades crio to v1.17.4, but consistently fails `TestStartStop/group/crio/serial/UserAppExistsAfterStop`.  Here is an easy way to replicate the issue locally:

[code]

It will fail with:

`error execution phase wait-control-plane: couldn't initialize a Kubernetes cluster`

`minikube logs` will show:

[code]

[2020-07-30 16:51] tstromberg commented on #8861
Related: #8890

[2020-07-30 17:15] medyagh opened #8891 "don't allow --base-image flag to be set for VM drivers"
currently if I specify --base-image for an existing hyperkit VM, minikube doesnt even notice it.
we should exit quick, and tell users, did you mean to use docker or podman driver insead ? and explain them base image is for docker/podman driver and for VM it is called ISO_URL

[code]

[2020-07-30 17:19] medyagh opened #8892 "Warn if Docker is likely to encounter swap issues (performance impact)"
we correcelty and nicely warn the user that their docker desktop is low on memory but still when we are Erroring, we spit out ugly messages... I suspect we could add a regex to this and make sure if this ever happens, hint to the user what is going on.

[code]

[2020-07-30 17:28] bendavis78 commented on #8873
I'm seeing the same issue. When i try to ping the host from inside a pod, it does not resolve.

    $ kubectl exec -it -n ingress-nginx ingress-nginx-controller-c96557986-r4qvp -- bash
    bash-5.0$ ping host.minikube.internal
    ping: bad address 'host.minikube.internal

[2020-07-30 17:39] etanshaul opened #8893 "Error starting Minikube with Docker driver"
Minikube 1.12.1, on OSX using the docker driver
Using Cloud Run workflows from the IDE.

**What happened**
- I was successfully running through the Cloud Run local workflows from Cloud Code: Minikube was paused, I'd start the dev session, and Minikube would successfully unpause and things worked great
- I then wanted to test out things from scratch, so I issued on the command line against my Cloud

[2020-07-30 17:52] medyagh opened #8894 "add instructions how to prune images in solution message"
[code]

[2020-07-30 17:52] medyagh commented on #8893
this is a dupe of the update-alternative issue that been fixed by this PR on the HEAD and will be released this week

[2020-07-30 17:56] medyagh commented on #8893
https://github.com/kubernetes/minikube/pull/8864

[2020-07-30 17:56] #8893 closed

[2020-07-30 18:00] etanshaul commented on #8893
thanks @medyagh . Assuming I say in this state with minikube 1.12.1, I assume that on upgrade once the new minikube version is released it will transition smoothly into a working state?

[2020-07-30 19:36] oconnelc commented on #7332
Sorry for the delayed response. I swear that the last time I tried `minikube start --vm=true` it failed to run but it seems to be running now.

I'm also in the process of updating to use WSL2

[2020-07-30 19:54] #6738 closed

[2020-07-30 23:38] tstromberg commented on #8890
Marking as dupe of #8861

[2020-07-30 23:38] #8890 closed

[2020-07-31 04:32] #8004 closed

[2020-07-31 10:43] petr-motejlek opened #8897 "StartHost timeout should be configurable"
https://github.com/kubernetes/minikube/issues/8512 mentions everything.

My actual use case is on Hyper-V, when creating a disk image for 128 GBs takes more than 240 seconds (the hardcoded timeout), and thus the whole `minikube start` fails.

I guess, this might be two things

* One is to allow configuring the timeout.
* Second is figuring out why does the creation take so long, anyway. During the

[2020-07-31 10:43] petr-motejlek commented on #8512
@sharifelgamal , done :D

https://github.com/kubernetes/minikube/issues/8897

[2020-07-31 12:23] satyasure opened #8898 "minikube IP not found"
C:\WINDOWS\system32>minikube start --vm-driver hyperv --hyperv-virtual-switch "Primary Virtual Switch"
* minikube v1.11.0 on Microsoft Windows 10 Pro 10.0.20180 Build 20180
* Using the hyperv driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Updating the running hyperv "minikube" VM ...
! StartHost failed, but will try again: provision: IP not found
* Up

[2020-07-31 13:23] imrishav commented on #2383
minikube stop && minikube delete && minikube start

solved the issue

[2020-07-31 16:10] #8453 closed

[2020-07-31 16:16] Ajitesh13 commented on #8891
Hello, @medyagh I would like to work on this issue. Can I assign this issue to me?

[2020-07-31 16:34] sharifelgamal commented on #8861
Upstream 1.17.4 behavior issue: https://github.com/cri-o/cri-o/issues/4035

[2020-07-31 16:53] Ajitesh13 commented on #8891
Did you mean, immedeatly after entering the command a prompt should appear asking the user " did you mean to use docker or podman driver instead ?" and after that the output should appear as they are appearing now ?

[2020-07-31 16:57] Ajitesh13 commented on #8891
\assign

[2020-07-31 16:58] Ajitesh13 commented on #8891
/assign

[2020-07-31 17:01] #8250 closed

[2020-07-31 17:34] medyagh commented on #8861
we ended up making a Hack to restart CRIO each time, this is a temproary hack till CRIO upstream is fixed https://github.com/cri-o/cri-o/issues/4027

[2020-07-31 18:21] Dean-Coakley commented on #8894
/assign

No need to add instructions for the other suggestions as they are a bit more trivial?
[code]

[2020-07-31 21:08] wimsikal commented on #8568
You need to install docker on Ubuntu.

`
sudo apt-get update

sudo apt-get install \
  apt-transport-https \
  ca-certificates \
  curl \
  gnupg-agent \
  software-properties-common

curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -

sudo apt-key fingerprint 0EBFCD88

sudo add-apt-repository \
  "deb [arch=amd64] https://download.docker.com/linux/ubuntu \
  $(lsb_releas

[2020-07-31 23:15] mostafa-eltaher commented on #8414
That worked for me, in particular, the following commands fixed the issue on minikube 1.12.1
[code]

[2020-07-31 23:20] mostafa-eltaher commented on #6523
This worked for me and fixed the issue on minikube 1.12.1
https://github.com/kubernetes/minikube/issues/8414#issuecomment-667422690

[2020-08-01 14:58] prasy-loyola commented on #5666
Still happens with the latest version of minikube on windows 10
[code]
When I get a shell using `minikube ssh`, the `arrow keys`,  `home`, `end` keys don't work.

[2020-08-01 21:50] rubenhak commented on #8888
experiencing same issue.

[2020-08-02 02:18] bfznj opened #8900 "how to set --uid & --gid in mounting hostpath in yaml file?"
Greetings...

minikube version: v0.28.2, Ubuntu 16.04 server.

I use a yaml file to create a deployment. Since my home directory is automatically mapped to /hosthome in the minikube VM, which is the node where pods will be created. So I use following section to mount my node's hostpath subfolder to a folder in the pod.

  | | | volumeMounts:
  | | | - mountPath: /var/mqm/data/QMGR1
  | | | | name:

[2020-08-02 17:18] SudhakarKonduru opened #8902 "hyperkit: trouble accessing https://k8s.gcr.io"
**Steps to reproduce the issue:**

1. Mac OS Catalina
2. brew install minikube
3. Not behind VPN or Proxy
3. minikube start

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**
/Users/xxxxx> minikube start
😄  minikube v1.12.1 on Darwin 10.15.6
✨  Automatically selected the docker driver. Other choices: hyperkit, virtualbox
👍  Starting cont

[2020-08-02 18:02] linkvt commented on #6367
/assign

[2020-08-02 18:33] tcrowleyibm commented on #6718
For me, `vmrun` was in a different directory. I started with what @ITJamie had, but changed it to:

`sudo ln -s /Applications/VMware\ Fusion.app/Contents/Library/vmrun /usr/local/bin/vmrun`

[2020-08-02 19:28] g9rga opened #8903 "Possibility to configure pvDir for storage-provisioner addon"
I have a huge minikube cluster for local development with many stateful services(like mysql, rabbitmq, etc).
If I use docker driver in case of minikube profile recreation(for example, upgrading k8s version or changing cluster resources or something else) I will lose all of my persistent data, because in current implementation **pvDir** is a constant - `/tmp/hostpath-provisioner`.

It would be nice

[2020-08-02 21:52] Xcalizorz commented on #8301
/assign

[2020-08-03 01:51] reshma-aws opened #8905 "virtualbox: cannot create directory '/var/lib/minikube/binaries': Input/output error"
Hi All,

I've been trying to install and create a cluster using minikube on MacBook and I get the below error.

MacOS : Catalina 10.15.6
Version 6.1.12 r139181 (Qt5.6.3)
Used the below commands to install kubectl and minikube
kubectl:
1. curl -LO "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/darwin/amd

[2020-08-03 03:34] ozbillwang commented on #6709
@ashmckenzie

Thanks a lot. Clean the folder `~/.minikube` is the key to fix this issue. No need clean `~/.kube`

[code]

[2020-08-03 03:51] ozbillwang commented on #2300
I am mac user, my problem is, I need connect to corp private registry servers via vpn

I can ping that server, but when pull images, I got the `no route to host` error.

[2020-08-03 13:06] pbaitule commented on #8874
@lucasponce From one of the comments under that article, taking a sledgehammer to firewalld fixed it for me.

![image](https://user-images.githubusercontent.com/36000848/89185554-6f5e7d80-d568-11ea-8882-a0263f9b40b5.png)

[2020-08-03 13:20] lowang-bh opened #8906 "already download the preload image"
**Steps to reproduce the issue:**

1. minikube start --driver=hyperkit
2. output "Downloading Kubernetes v1.18.3 preload ..." and will download it even through it is already exist.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**
😄  Darwin 10.12.3 上的 minikube v1.12.1
✨  根据现有的配置文件使用 hyperkit 驱动程序
👍  Starting control plane node miniku

[2020-08-03 17:12] cglacet commented on #5594
Still having this message on the latest version (I also have internet sharing over wifi on). Any solution for this?

[2020-08-03 21:41] chitranshi21 commented on #8756
Hi,
I am getting the same error.
`enable failed: run callbacks: running callbacks: [verifying ingress addon pods : timed out waiting for the condition: timed out waiting for the condition]`
minikube version - V1.12.1

[2020-08-03 21:49] medyagh commented on #7630
still on the backlog.

[2020-08-03 21:52] medyagh commented on #4967
I haven't seen this issue in a while, I am gonna close this till I am convineced it it is not fixed

[2020-08-03 21:52] #4967 closed

[2020-08-03 22:46] #8876 closed

[2020-08-04 04:43] RA489 commented on #8905
/triage support

[2020-08-04 04:45] RA489 commented on #8906
/triage support

[2020-08-04 04:47] RA489 commented on #8898
/triage support

[2020-08-04 04:48] RA489 commented on #8902
/triage support

[2020-08-04 04:50] RA489 commented on #8886
/traige support

[2020-08-04 06:26] cglacet commented on #5812
I don't understand why minikube doesn't provide this service. It seems essential to me. For example, in my case I have a react native application running on 2 phones connected to the local network. I usually use docker-compose which automatically make my services available to my phones. This is very handy and saves me the headaches of port forwarding (which will very likely be dependent on the hos

[2020-08-04 06:59] Evalle commented on #8785
Hi @afbjorklund I can start to work on this issue, if you don't mind.
/assign

[2020-08-04 07:56] cglacet commented on #877
Similarly as some others (@ranhsd, @xandriaw) I had problems when binding my minikube service to my local network. I managed using these command (*you could also replace the wildcard `\*` by your machine local IP address*):

[code]

Then in another terminal we can test it:

[code]

I struggled to make it work so I'll post my failures here, maybe it will help people and maybe someone will be able t

[2020-08-04 11:36] Yogendra0Sharma commented on #8822
/assign

[2020-08-04 11:37] Yogendra0Sharma commented on #8822
/assign

[2020-08-04 16:50] #6367 closed

[2020-08-04 19:23] kkcmadhu commented on #7300
happening for me in windows 10 and i am struck,

[2020-08-04 19:53] chris-downs commented on #7828
I'm running into this issue with minikube v1.12.1 running k8s 1.18.3:

`  Warning  FailedScheduling  7m51s (x3 over 7m52s)  default-scheduler  running "VolumeBinding" filter plugin for pod "roach-test-cockroachdb-2": pod
 has unbound immediate PersistentVolumeClaims`

It looks like it's due to permissions issues:

`E0804 19:42:56.707424       1 controller.go:682] Error watching for provisioning su

[2020-08-04 21:12] shakerman commented on #8888
Same here... frustrating, can't find a solution.

[2020-08-04 22:08] morhook commented on #7511
Thanks a lot for fixing this one! On latest minikube I see it fixed!

[2020-08-05 00:44] rubenhak commented on #8888
after few hours of trying the deleting ~/.minikube and reinstalling minikube helped with making it work with hyperv driver (docker driver still doesn't work).

[2020-08-05 02:58] tstromberg opened #8919 "v1.12.2 & crio outputs error: stat storage-provisioner_v2: no such file or directory"
Apparently, minikube decided to download and deploy a new preload to my CRIO cluster after a binary upgrade:

[code]

The error message is repeatable across `minikube start` invocations.

[minikube.tstromberg-macbookpro.tstromberg.log.INFO.20200804-194155.39262.log](https://github.com/kubernetes/minikube/files/5025876/minikube.tstromberg-macbookpro.tstromberg.log.INFO.20200804-194155.39262.log)

[2020-08-05 03:28] tstromberg opened #8920 ""profile list" shows paused clusters as "Running""
With a paused cluster, run "minikube profile list":

[code]

All 3 of these clusters are paused. For comparison, here's the JSON output showing the cluster as paused:

[code]

I believe the root cause of this is that `profile list` shows the host state rather than the apiserver staet.

[2020-08-05 03:31] tstromberg opened #8921 "status with cluster layout: kubeconfig StatusName is empty"
[code]

It looks like we are not filling in the StatusName field for cluster components.

[2020-08-05 04:22] fzyzcjy commented on #7218
Hi is there any updates/solutions now? Seems that a good JSON parser can solve the problem...?

[2020-08-05 05:22] tstromberg commented on #7218
Can anyone confirm whether minikube v1.12.2 suffers this issue? We've upgraded the storage provisioner.

[2020-08-05 06:57] saurav-malani commented on #2439
A simple system restart worked for me.

[2020-08-05 06:58] afbjorklund commented on #8919
Same on ubuntu, logs:

[code]

[2020-08-05 07:07] afbjorklund commented on #8919
Looks like the wrong image went into the preload

[code]

This is a problem with floating tags like "v2" (or latest)

[2020-08-05 07:23] afbjorklund commented on #8919
Note that we get the same image with docker as well:

[code]

But there we trust the tag, rather than re-downloading the manifest.

Different code paths: `DigestByDockerLib` vs `DigestByGoLib`

[2020-08-05 07:30] afbjorklund commented on #8919
@priyawadhwa : After 0538dddd9d8dd19ce4442fecb5bd30c8a1fd0e85, we will overwrite the deployed "v2" with the new images - possibly as part of the release process.

Previously we had "v1.8.1" in deployment/production, and "latest" as the new image (that ended up **never** getting promoted...)

----

Makefile:STORAGE_PROVISIONER_TAG ?= v2

Makefile:MINIKUBE_LDFLAGS := -X k8s.io/minikube/pkg/version.v

[2020-08-05 07:58] afbjorklund commented on #8822
I don't think that minikube works with the original "kvm" driver anymore, it now requires our "kvm2" fork to function.

But there still is such a thing as `docker-machine-driver-kvm`, which is _supposed_ to work with `docker-machine`.

https://github.com/dhiltgen/docker-machine-kvm

It's all unsupported upstream anyway, so feel free to redirect all minikube users to use an existing minikube driver

[2020-08-05 08:01] afbjorklund commented on #8857
I like this suggestion, we talked about our solutions like providing an "--install" flag or echoing the program path.

[2020-08-05 08:13] afbjorklund commented on #8903
Seems like a duplicate of #3318 and #5144, but I guess it is more about #8151 - it was **never** supposed to use /tmp

In the current implementation of minikube (docker driver), the persistent volumes are now being stored on /var instead.

There's another story about host mounts: #7604

I guess those could be mounted in /tmp (or /var)

[2020-08-05 08:16] afbjorklund commented on #8892
Seems like we invest more in docker desktop support than on kubernetes recently

[2020-08-05 08:19] afbjorklund commented on #8886
`[ERROR FileContent--proc-sys-net-bridge-bridge-nf-call-iptables]: /proc/sys/net/bridge/bridge-nf-call-iptables contents are not set to 1`

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#letting-iptables-see-bridged-traffic

Similar to #7905

[2020-08-05 08:23] afbjorklund commented on #8874
Yup, looks like a libvirt issue.

[2020-08-05 08:24] MOZGIII commented on #8876
Could this help with https://github.com/kubernetes/minikube/issues/8799?

[2020-08-05 08:30] afbjorklund commented on #8867
Possibly related to updates to the go-containerregistry library used for caching.

We now always pull the latest image from the registry, in order to save the digest.
Apparently that broke locally created images (that don't have a digest anyway...)

Should probably go with the local "php:api", instead of "docker.io/library/php:api" ?

[2020-08-05 08:32] afbjorklund commented on #8867
Podman uses `localhost/` to descrimentate, but Docker doesn't have that feature.

[2020-08-05 08:43] afbjorklund commented on #8867
This is the upstream bug: https://github.com/google/go-containerregistry/issues/734

We need a regression test. For caching a local image, that is...

[2020-08-05 08:44] MOZGIII commented on #8799
Just tried it with version 1.12.2 - still broken.

[2020-08-05 08:58] #8903 closed

[2020-08-05 08:58] g9rga commented on #8903
@afbjorklund ok, I understood, thank you so much for reply

[2020-08-05 11:33] afbjorklund commented on #8903
@g9rga : no worries, sorry about the data loss. But with minikube 1.12.2, they _should_ end up on the docker volume

One current "problem" with minikube is that both container images and persistent data is mixed, on the same disk image

If you have huge amounts of data, like your stateful services, then it might need **dedicated** disk images / docker volumes.

But the current design only allows f

[2020-08-05 11:41] runlevel5 commented on #7071
/remove-lifecycle rotten

[2020-08-05 11:50] afbjorklund commented on #8919
Same issue with containerd as well. (anything non-docker)

ssh_runner.go:148] Run: sudo crictl images --output json

[code]

containerd.go:412] all images are preloaded for containerd runtime.
containerd.go:322] Images already preloaded, skipping extraction

Wonder why this JSON thing didn't kick in for CRI-O as well ?

[2020-08-05 11:58] afbjorklund commented on #8919
Some kind of bug, when running crictl with crio.sock:

`Run: sudo crictl images --output json`

failed to connect: failed to connect, make sure you are running as root and the runtime has been started: context deadline exceeded

`Completed: sudo crictl images --output json: (2.027468702s)`

Apparently we forgot to start the daemon. Podman works, though.

[code]

`ls: cannot access '/var/run/crio/c

[2020-08-05 13:11] afbjorklund commented on #8919
The root cause why it was only being called for crio, was yet-another-hardcoding:

[code]

[2020-08-05 13:26] fzyzcjy commented on #7218
Good news! The issue disappears for me under v1.12.2! 🎉

[2020-08-05 13:55] afbjorklund commented on #8919
There was another bug with the containerd implementation of `ImageExists`.

It was comparing the digest with the id param, so failed to find a match anyway.

[code]

This is unfortunately implemented _differently_ for the different container runtimes.

Docker and Podman/CRI-O are using `{{.Id}}`, while containerd uses DIGEST...

The correct format would be `{{.Digest}}` for podman, and `{{..RepoDi

[2020-08-05 15:49] afbjorklund commented on #8388
Stealth upgraded for Ubuntu, but still pending for Buildroot

[2020-08-05 15:54] afbjorklund commented on #8250
Rushed into v1.12.2 already

[2020-08-05 16:19] ale8k opened #8924 "docker driver on Windows 10 Home"
**Steps to reproduce the issue:**

Environment:
- Windows 10 Home
- Version 2004
- Build 19041.338

1. Install minikube via choco.
2. run: minikube start --driver=docker <optionally set memory to 2 or 4gb>
3. Wait a very long time.... (20mins - 1 hour)

**Things I've tried**
- Removing kube configs & minikube configs.
- Reinstalling minikube
- Reinstalling kubectl
- Allocating a very small amount

[2020-08-05 17:06] andrewinston opened #8925 "Documentation: change registries title from "docker on macOS" to "docker on Linux/macOS""
Isn't it worth mentioning something about Linux?

I managed to make the private registry work on my Ubuntu 20.04 machine by following the steps listed in "docker on macOS". Maybe it would be interesting to change that title to "Docker on Linux/macOS".

That said, I haven't followed the whole handbook. I just read the "Registries" page.

[2020-08-05 18:56] AminuIsrael commented on #8409
Am currently facing this issue too.

[2020-08-05 19:18] yphulke opened #8927 "minikube error on Amazon 2018.03 without systemd"
**Steps to reproduce the issue:**
# minikube start --alsologtostderr
I0805 19:06:05.461636   20368 out.go:170] Setting JSON to false
I0805 19:06:05.462400   20368 start.go:101] hostinfo: {"hostname":"ip-10-229-19-113","uptime":97735,"bootTime":1596556630,"procs":143,"os":"linux","platform":"amazon","platformFamily":"rhel","platformVersion":"2018.03","kernelVersion":"4.14.186-110.268.amzn1.x86_64",

[2020-08-05 19:36] afbjorklund commented on #8927
Duplicate of #8333

[2020-08-05 20:36] afbjorklund commented on #8919
I removed the hardcoding and added crio, but it is still not really checking the image id/digest.

That is, it only checks the tags (as provided by the caller). Currently hardcoded to `Kubeadm`.

[code]

[2020-08-05 20:49] sharifelgamal commented on #7218
We release a new v2 of storage-provisioner for 1.12.2, let me know if that fixes these issues.

[2020-08-05 21:03] afbjorklund commented on #8925
Sounds like a good idea, maybe you can provide a PR ?

[2020-08-05 21:06] afbjorklund commented on #8860
Duplicate of #8131

[2020-08-05 21:21] afbjorklund commented on #8919
When verifying a tag, we have three options:

1) The lazy option (Digest nil)
Just assume that any image with the right tag is the right one

2) The crazy option (DigestByDockerLib)
Query the host docker daemon, using the wrong API version

3) The slow option (DigestByGoLib)
Download the image manifest from the registry, compare digests

[2020-08-05 21:36] afbjorklund commented on #8861
The actual bug for cri-o is https://github.com/cri-o/cri-o/issues/4035, the other issue is just about the deletion of the 1.17.3 package

It can still be rebuilt from the OBS sources, but by the time it was made available you had already upgraded to 1.18.3 instead

https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable:cri-o:1.17:1.17.3/cri-o

Seems like the CRI-O project have ch

[2020-08-06 00:12] cpaika commented on #3898
@walls00000 https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/

[2020-08-06 06:58] annder commented on #8886
Think you, I resolved this issue.

[2020-08-06 06:58] #8886 closed

[2020-08-06 08:12] jickor commented on #4587
I have tried a ton of googled solutions.
And finally, this works perfectly.
Rock u!

[2020-08-06 11:36] Ghostwritten opened #8930 "none: kubelet: Streaming server stopped unexpectedly: listen tcp: lookup localhost on 8.8.8.8:53: no such host"
** journalctl -xefu kubelet**：

**失败的命令的完整输出**：<details>
sPaused:0 ContainersStopped:14 Images:10 Driver:overlay2 DriverStatus:[[Backing Filesystem extfs] [Supports d_type true] [Native Overlay Diff true]] SystemStatus:[] Plugins:{Volume:[local] Network:[bridge host ipvlan macvlan null overlay] Authorization:[] Log:[awslogs fluentd gcplogs gelf journald json-file local logentries splunk syslog]} M

[2020-08-06 11:38] Ghostwritten commented on #8930
how to solve the problem

root@node1:~# cat /etc/hosts
::1     localhost ip6-localhost ip6-loopback
192.168.211.40 master
192.168.211.41 node1
192.168.211.42 node2

修改为：
root@node1:~# cat /etc/hosts
::1     localhost ip6-localhost ip6-loopback
192.168.211.40 master
192.168.211.41 node1 localhost
192.168.211.42 node2

root@node1:~# systemctl restart kubelet
root@node1:~# systemctl status kubelet
●

[2020-08-06 11:38] #8930 closed

[2020-08-06 13:36] tiagotele commented on #3781
I follows the @Farouk19 comment and it worked as well. However I did a restart on my console app(Conemu) and it was working well.

[2020-08-06 13:40] cakuros opened #8931 "Minikube no longer starts after upgrading from v1.12.1 to v1.12.2 on MacOS Catalina"
## Background
Minikube fails to start after I upgraded from v1.12.1 to v1.12.2.  Error is consistently reproducible, even after running `brew uninstall minikube` and reinstalling.  I ended up going back to 1.12.1 by running `brew install https://raw.githubusercontent.com/Homebrew/homebrew-core/a3ceb128df8e5e1a1d8105a7daf7773a0a0e82ee/Formula/minikube.rb`, with the commit hash corresponding to the

[2020-08-06 15:37] BrianHuf commented on #3417
I was able to solve this problem by creating service with a static clusterIP and then mounting to the IP instead of service name.  No DNS required.  This is working nicely on Azure.  I haven't tried elsewhere

In my case, I'm using an HDFS NFS Gateway and chose ```10.0.200.2``` for the clusterIP

[code]

[2020-08-06 17:26] #8919 closed

[2020-08-06 18:44] kloudd commented on #2991
This worked for me.
Enabling  IOMMU in your GRUB boot parameters.
for AMD :
```GRUB_CMDLINE_LINUX_DEFAULT="quiet splash amd_iommu=on"```

[2020-08-06 19:38] sharifelgamal commented on #7463
/remove-lifecycle rotten
/lifecycle frozen

[2020-08-06 19:53] mallow111 commented on #8291
@UsamaMehboob , which version did you use: https://github.com/kubernetes/minikube/releases

 @tstromberg I cannot find the version 1.13.10 from here, can you give more details, thanks!

[2020-08-06 20:33] #7218 closed

[2020-08-06 20:43] medyagh opened #8933 "Don't spit out glog.Errorf in json output"
I tried the new status command with json, and I saw a glog.Errorf

** $ minikube status -l=cluster -o=json | jq**

[code]

[2020-08-07 01:11] walls00000 commented on #3898
Thanks @cpaika.  Documentation looks good.

[2020-08-07 06:55] koji117 commented on #8370
Hi, I am facing the same issue. Below is the output of `minikube logs`

[code]

[2020-08-07 08:59] srilumpa opened #8936 "docker: start fails on storage provisioner addon "x509: certificate is valid for 172.17.0.3""
**Steps to reproduce the issue:**

1. minikube start
2. minikube stop
3. minikube start

In my setup, it seems that minikube changes of IP address between startups. This makes the enabling of some addons failing because the certificate is seen as invalid.

The only way for me to be able to start minikube again is to either restart my workstation (and this does not always fix the issue) or to delet

[2020-08-07 10:42] #8785 closed

[2020-08-07 12:12] #8860 closed

[2020-08-07 14:33] phaus commented on #8931
I was able to fix the issue by deleting the old `~/.minikube` folder. A then tried `minikube start` again.

[2020-08-07 18:46] Banzy666 commented on #8152
@sammym1982
I have Hyper-V switch with name "Wan" and local interface vEthernet (Default Switch). After rename vEthernet (Default Switch) to vEthernet (Wan) all works good +_+

[2020-08-07 21:57] prasadkatti commented on #8931
Looks like the kubelet startup times out. Can you share the kubelet logs? There is also a `minikube logs` command. If you can share the output of that here that would be helpful.

[2020-08-07 23:16] tchangs opened #8938 "kube-dns"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-08-08 00:15] fzyzcjy opened #8939 "CPU on MacOS but the sum of CPU usage inside minikube is not equal to that on the host"
**Steps to reproduce the issue:**

1. `minikube start --cpus=6 --memory=14000MB --driver=docker --disk-size='200g'`
2. do `minikube ssh` and execute `top` inside the virtual machine. The total cpu is about <30%. (see below)
3. execute `top` in the host Mac machine (not in virtual machine). The cpu is much higher. often 80%~120%.
4. execute `docker stats` and see minikube only takes <30% cpu.
5. Pr

[2020-08-08 02:25] chainhead opened #8940 "hyperkit mac: could not find an IP address for b2:a1...."
**Steps to reproduce the issue:**

1. `minikube start --vm-driver hyperkit`

**Full output of failed command:**

[code]

This is the output (trimmed for brevity) of `sudo fs_usage -f network -w  2>&1 | egrep  'hyper|Sharing|launchd|socketfilter' | egrep -i 'bind|AF_INET'` command. Basically, `launchd` is not seen in the output.

[code]

@tstromberg

[2020-08-08 12:29] furkatgofurov7 commented on #8875
The issue was resolved, after deleting minikube and all associated interfaces with it, before creating it again.

[2020-08-08 12:29] #8875 closed

[2020-08-08 16:17] jot-hub commented on #8661
Hi, I experienced the issue with k8s 1.16.3 / minikube 1.12.0. After following [this](https://github.com/kubernetes/minikube/issues/6543#issuecomment-583339122) I switched the k8s version to 1.13.10 and minikube api-server could pickup the extra-config for kube-apiserver -  i.e. issue didn't happen with k8s 1.13.0.

[2020-08-08 16:58] nikkirs commented on #567
This is due to insufficient RAM. Set RAM to 2gb.
`minikube start --memory=2gb`

[2020-08-08 18:45] azeemzaidi opened #8942 "https://github.com/kubernetes/minikube/issues/new/choose"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-08-08 19:17] azeemzaidi commented on #3648
azeem@azeem-Aspire-E1-571:~$ minikube start
😄  minikube v1.12.1 on Ubuntu 18.04
✨  Using the virtualbox driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🏃  Updating the running virtualbox "minikube" VM ...
🤦  StartHost failed, but will try again: provision: Temporary Error: error getting ip during provisioning: Could not find matching IP for MAC address

[2020-08-08 19:20] azeemzaidi commented on #3648
kindly let me know how to remove/solve existing error mentioned above.
Thanks

[2020-08-08 20:27] apsraj01 opened #8943 "Minikube failed to provision: wait for healthy API server: controlPlane never updated to v1.18.3"
**Steps to reproduce the issue:**

1. Installed docker for desktop on my MacBook
2. Executed 'minikube start'
3. got the error. Please see the below log details.
😄  minikube v1.12.2 on Darwin 10.15.5
✨  Automatically selected the docker driver
❗  Requested memory allocation (1991MB) is less than the recommended minimum 2000MB. Kubernetes may crash unexpectedly.
❗  Your system has 8192MB memory but

[2020-08-09 00:31] igorpalant opened #8944 "Port forwarding to clusters created with minikube start -p <profile_name>"
**Steps to reproduce the issue:**
The reason I am going through steps below is that I want to be able to access services deployed into minikube with nondefault profile from machine other than where minikube is deployed.
1. Start Minikube using VirtualBox with **non default profile** - for example minikube start -p testProfile.
2. Deploy application that has exposed endpoint with NodePort for examp

[2020-08-09 16:21] geraldnguyen opened #8945 "`kubectl version` failed with "You must be logged in to the server (the server has asked for the client to provide credentials)""
**Steps to reproduce the issue:**

1. `minikube version`
minikube version: v1.12.2
commit: be7c19d391302656d27f1f213657d925c4e1cfc2-dirty

2. `minikube status`

minikube
type: Control Plane
host: Running
kubelet: Running
apiserver: Running
kubeconfig: Configured

3. minikube start
😄  minikube v1.12.2 on Darwin 10.15.5
✨  Automatically selected the hyperkit driver. Other choices: virtualbox, vmware

[2020-08-09 16:30] geraldnguyen commented on #8945
Look like above issue can be solved by `minikube delete --all --purge` mentioned in #8844

[2020-08-09 16:30] #8945 closed

[2020-08-09 17:17] ale8k opened #8946 "Minikube claims it has an existing VM, but doesn't?"
I accidentally forgotten to install kubectl on a fresh install of ubuntu 20.04, and just ran minikube start. It automatically picked the 'none' driver, but failed to start due to kubectl missing. As seen in the output below, I'm a little confused as to why it won't start?
I've tried to suggest 'minikube delete', no luck.

**Steps to reproduce the issue:**

1. Start with none driver before installi

[2020-08-09 17:50] afbjorklund commented on #8946
When you write “kubectl”, do you mean docker ? Or why does installing the kubernetes client affect the driver selection ?

[2020-08-09 18:20] ale8k commented on #8946
It stops the initial running of the vm if you don't have kubectl installed when you attempt to start. Or at least it did on me?

[2020-08-10 01:09] Eduard-Voiculescu opened #8947 "Reason for the Hard-Coded baseImageSHA"
Hi,

I was wondering what is the reason for the hard-coded baseImageSHA at this [line](https://github.com/kubernetes/minikube/blob/v1.10.0/pkg/drivers/kic/types.go#L29)?

When trying to run ```minikube start --driver=docker```, I get that minikube is trying to fetch the image
```gcr.io/k8s-minikube/kicbase:v0.0.10@sha256:f58e0c4662bac8a9b5dda7984b185bad8502ade5d9fa364bf2755d636ab51438```. However,

[2020-08-10 06:26] afbjorklund commented on #8946
If you don't have _any_ of the requirements installed, it is supposed to exit with an error message.

There is no requirement on `kubectl` to run `minikube start`, only to connect to the cluster later on.

[2020-08-10 06:39] afbjorklund commented on #8947
You can pick a different image (with the --base-image parameter), when starting minikube:

--base-image='gcr.io/k8s-minikube/kicbase:v0.0.11@sha256:6fee59db7d67ed8ae6835e4bcb02f32056dc95f11cb369c51e352b62dd198aa0': The base image to use for docker/podman drivers. Intended for local development.

[code]

This is correct, using the repo digest stops us from re-issuing another `v0.0.10` image. I'm no

[2020-08-10 09:02] koji117 opened #8949 "pod in minikube can't access other services or connect to the internet"
I cannot get my services to communicate each other.

After I did `kubectl exec -it my-pod bash ` and execute `ping` and `curl`, I found that I cannot access other services and also have no access to the internet.

In my /etc/resolve.conf inside my pod, I have
[code]
So it seems to be pointing at `kube-dns `(10.96.0.10) but when I checked the addon, I dont have` kube-dns` enabled.

1. minikube star

[2020-08-10 12:40] hbobenicio commented on #8765
Same error here, but with docker driver. I don't know if this may be related, but recently I've updated minikube to 1.12.2 (I was using either 1.12.0 or 1.12.1)

[2020-08-10 12:49] hbobenicio commented on #8765
[this](https://github.com/kubernetes/minikube/issues/6709#issuecomment-667785084) solved for me. deleted .minikube and it worked. I've also removed minikube docker images, just in case... (`docker images | grep minikube`)

[2020-08-10 15:04] afbjorklund commented on #8946
Seems to exit properly:
[code]

[2020-08-10 15:11] ale8k commented on #8946
Yeah I just tried it on a fresh install and it worked... I'll close this.

[2020-08-10 15:11] #8946 closed

[2020-08-10 15:13] afbjorklund commented on #8946
The "preference order" seems to be made up too, it looks more like "random order":

vmware priority: 6,
docker priority: 8,
kvm2 priority: 7,
none priority: 3,
podman priority: 2,
virtualbox priority: 5,

[2020-08-10 15:37] m287867 commented on #8512
Any solution found ? i'am still having the same issue !

[2020-08-10 18:36] medyagh opened #8951 "delete-on-failure is not working for docker driver"
[code]

[2020-08-10 18:46] medyagh opened #8952 "Figure out KVM failures in jenkins on Debian 10"

[2020-08-10 18:59] cakuros commented on #8931
Ok, well IDK what was going on, but now it works, so cool I guess?  BTW, `minikube logs` didn't provide anything relevant, it just said there was no local cluster.

[2020-08-10 19:00] #8931 closed

[2020-08-10 19:13] #8881 closed

[2020-08-10 20:35] medyagh opened #8958 "memory validation : your system has only -1MB memory."
while doing this PR
https://github.com/kubernetes/minikube/pull/8953

I saw this
[code]

[2020-08-10 20:57] medyagh commented on #8958
the docker system info  was showing this number

"17299783680"

[2020-08-10 21:19] #2954 closed

[2020-08-10 22:22] medyagh opened #8961 "hyper flake in nested virtualization: create host timed out in 240.000000 seconds"
I saw this as a flake in Windows HyperV:

as seen in github action for hyperv here https://github.com/kubernetes/minikube/pull/8953
[code]

[2020-08-10 22:38] mallow111 opened #8962 "--exra-config=apiserver does not appear to take effect in latest version"
**Steps to reproduce the issue:**

Try to turn on OIDC flags for minikube, and found out the flags are not taken, can someone help to take a look at please?

I even tried to use --kubernetes-version v1.13.10, it does not work.

minikube stop
minikube delete
and then run minikube start with the flags still not work.

**Full output of `minikube start` command used, if not already included:**
[code]

[2020-08-10 23:15] medyagh commented on #8958
Also might be related

[code]

[2020-08-10 23:42] roberttco commented on #8898
FYI - same issue for me - Hyper-V running on WS2016 STD and going through the Windows instructions here - https://kubernetes.io/docs/tasks/tools/install-minikube/.  The command line is '''minikube start --driver=hyperv --hyperv-virtual-switch vSwitch''' (e.g. nothing too exciting).  The vSwitch is an external switch.  I ensured guest services is installed and noted that the IP address is available

[2020-08-10 23:43] roberttco commented on #8898
Got wont let me edit my previous comment for come reason but what I meant to say was that guest services is enabled for the VM - although that seems to be irrelevant.

[2020-08-11 00:21] kadern0 commented on #8614
I've just realized that running ``make test`` generates this file.

[2020-08-11 01:07] oyb001 opened #8964 "import cycle not allowed"
Environment:

Minikube version (use minikube version): master@50a8c9824a7610c954043e041ddb6c078d9d756d

OS : MacOS Mojave 10.14.6 (18G103)
Go Env
[code]
What happened: make failed with the following error
[code]
What you expected to happen: make to succeed

How to reproduce it (as minimally and precisely as possible): Follow the build guide, and when attempting make it will fail with the above err

[2020-08-11 01:52] taciomcosta commented on #8920
Hello,
Could you assign this one to me? @tstromberg

[2020-08-11 02:58] tstromberg commented on #8920
I'll try! I'm not sure if it will work without a PR though:

/assign @taciomcosta

[2020-08-11 02:59] tstromberg commented on #8920
Thanks for taking this on, @taciomcosta !

[2020-08-11 04:19] medyagh opened #8965 "hyperv: create host timeout for larger memory sizes"
in gh aciton test when I increased the memory size for hyperv, the test timed out in Created Host. at 4 minutes
that made me think, in our hyperv driver, we should wait longer for the VM to be created if user wants more memory.

here is the data, and also the slowjam stacklog in the end
[code]

I attach 3 Stacklogs to be analyzed by slowjam
[minikube_stack_2200MB.log](https://github.com/kubernetes

[2020-08-11 05:06] medyagh commented on #8965
slow jam analysis shows for 2200mb timeCreateHost takes 45s
for 4400mb it takes 47 seconds
for 12000mb takes 50 seconds

[2020-08-11 08:13] slinkydeveloper commented on #8772
Nope, I just have the default network configuration of fedora 32 and no vpn running

Version      : 6.1.0
Rilascio     : 4.fc32
Architecture : x86_64
Size         : 0.0
Sorgente     : libvirt-6.1.0-4.fc32.src.rpm

Epoca        : 2
Version      : 4.2.1
Rilascio     : 1.fc32
Architecture : x86_64
Size         : 12 k
Sorgente     : qemu-4.2.1-1.fc32.src.rpm

[2020-08-11 09:25] mrbenosborne opened #8966 "No network access from second node (multiple nodes cluster)"
**Steps to reproduce the issue:**

# Start Minikube with 2 nodes

[code]

# Apply a deployment and service
[code]

## echo-server.yaml
The deployment **echoserver** is set to be placed on the node that has a matching label of nodeType=standard, the deployment **debug** is set to be placed on the label matching nodeType=high-mem.

[code]

# Get pods
[code]

[code]

# Issue
When I exec into the **ec

[2020-08-11 10:55] anotherandi commented on #8756
I tried down-dating to 1.12.0 but had the same issue on windows 10.

[2020-08-11 15:19] priyawadhwa commented on #8952
Looks like this is pretty exclusive to KVkm

[code]

[2020-08-11 16:25] medyagh commented on #8958
this happend on hyperv too

[2020-08-11 16:26] medyagh commented on #8958
[code]

[2020-08-11 16:47] fabiokung commented on #8584
kubernetes-client/java#1149

[2020-08-11 18:48] medyagh opened #8970 "agent7 in gh action: Hyper-V was unable to find a virtual machine with name "minikube"."
[code]

[2020-08-11 19:01] medyagh commented on #8970
I tried running that command manually
and I saw that powershell was trying to run "Running" word as a command (The term 'Running' is not recognized as the name of a cmdlet)

[code]

[2020-08-11 19:08] medyagh commented on #8970
PS C:\Users\jenkins\actions-runner\_work\minikube\minikube> .\minikube_binaries\minikube-windows-amd64 status --alsologtostderr
I0811 19:06:29.999282    3692 mustload.go:64] Loading cluster: minikube
I0811 19:06:30.002285    3692 status.go:202] checking status of minikube ...
I0811 19:06:30.003287    3692 main.go:115] libmachine: [executing ==>] : C:\windows\System32\WindowsPowerShell\v1.0\powersh

[2020-08-11 19:35] tstromberg opened #8971 "docker on v1.12.2: StartHost failed during initscript (fix_cgroup, SIGPIPE)"
This only recovered because `--delete-on-failure` was set:

`! StartHost failed, but will try again: creating host: create: creating: create kic node: container name ...`

As best as I can tell, the initscript crashed here:

[code]

Here is the full crash log:

[crash.log](https://github.com/kubernetes/minikube/files/5059082/crash.log)

[2020-08-11 19:37] tstromberg commented on #8971
Here is the place of fail, as best as I can tell:

`docker_cgroup=$(echo "${docker_cgroup_mounts}" | head -n 1 | cut -d' ' -f 4)`

I suspect a race condition here.

[2020-08-11 22:52] #8646 closed

[2020-08-11 23:31] aromalsbabu opened #8977 "Unable to start minikube v1.12.2 on Microsoft Windows 10 Enterprise 10.0.10586 Build 10586"
I would very much appreciate it if someone can help me with the following:

Windows Version: 10.0.10586
MiniKube Version: [v1.12.2]
[minikubeError.log](https://github.com/kubernetes/minikube/files/5059905/minikubeError.log)
[minikubeError.log](https://github.com/kubernetes/minikube/files/5059906/minikubeError.log)

Virtual Box Version: 6.1

Error:

Microsoft Windows [Version 10.0.10586]
(c) 2015 M

[2020-08-12 01:16] taciomcosta commented on #8920
PR opened.
Let me know for any improvements! :)

[2020-08-12 05:40] afbjorklund commented on #8958
memoryLimits returns -1 when there is an error. you can see the error in the logs.

[code]

It needs to stop handling after the "err != nil", or look for s == -1

[2020-08-12 07:31] AquoDev opened #8979 "--extra-config seems to be ignored for existing clusters"
_If there's missing data, please let me know and I'll update the issue._

Possible duplicate of https://github.com/kubernetes/minikube/issues/8242, but I open this issue to show everything I could gather.

**Environment:**
Debian 10.5, installed via netinst ISO inside a VirtualBox VM.
[code]

Docker, Minikube and kubectl.

[code]

**Steps to reproduce the issue:**

Hi, I seem to hit this problem e

[2020-08-12 09:51] segevfiner opened #8980 "Add addon for external DNS"
Add an addon for installing external DNS. See https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/coredns.md which uses CoreDNS as the DNS server.

Unlike ingress-dns, which is minikube specific:
1. This is sometimes used in production, so will give similar behavior in development to production.
2. Will support LoadBalancer services.

Some notes about configuring the host th

[2020-08-12 10:05] seetaramrao opened #8981 "controlPlane never updated to v1.18.x (new cluster, credentials issue)"
**Steps to reproduce the issue:**

1.* minikube v1.12.2 on Microsoft Windows 10 Home 10.0.18362 Build 18362
* Using the virtualbox driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Downloading Kubernetes v1.18.3 preload ...

* Creating virtualbox VM (CPUs=2, Memory=4000MB, Disk=20000MB) ...
* Found network options:
  - NO_PROXY=192.168.99.100
  - no_pr

[2020-08-12 12:55] vyom-soft commented on #4765
Yes agree with sanjaygeeky, also delete .kube, .minikube from $HOME and kubectl etc from /usr/local/bin

[2020-08-12 16:34] tstromberg opened #8982 "kicbase build: E: Version '1.18.3~2' for 'cri-o' was not found"
It seems that it is not currently possible to rebuild the kicbase image:

[code]

See https://github.com/kubernetes/minikube/pull/8974/checks?check_run_id=973059157