[2021-04-10 18:35] Pictor13 commented on #11061
OK, I was able to reproduce the bug once more.\

### Output of `minikube start`

### Steps to reproduce

* `minikube start` and wait for the preloaded images download to start
* turn your system WiFi *off*, to simulate the loss of connectivity (what probably happened to me)
* wait the download speed to degrade until `0 B p/s` (or maybe until some internal timeout is triggered; I didn't verify in t

[2021-04-11 01:25] tacerus commented on #4350
How can flushing or disabling the firewall be an accepted solution - this is disastrous. Please provide details on which firewall ports need to be opened and if any Kubernetes related interfaces (docker, flannel, ..) need to be assigned specific zones in order for CoreDNS to be able to connect to the API.

[code]
[code]

[2021-04-11 01:26] tacerus commented on #4350
/reopen

[2021-04-11 02:50] grantholly opened #11064 "snap installations of docker do not work with --driver=none clusters"
I installed docker with snap on ubuntu, and I think this installation of docker is incompatible with minikube with the `--driver=none`.  From what I can tell, minkube tries to manage docker via a systemd unit, but snap doesn't create one.  ¯\\_(ツ)_/¯

I'm not sure if this is supposed to work.  I don't know if anyone has a unit file(s) to satisfy minikube for those who installed docker with snap.

[2021-04-11 07:19] afbjorklund commented on #11064
Please install docker using the regular method:

https://docs.docker.com/engine/install/ubuntu/

While it could be possible to add the systemd unit, there are **no** guarantees that this installation of docker would work...

https://docs.docker.com/config/daemon/systemd/#manually-create-the-systemd-unit-files

It _should_ work using the system package (`sudo apt install docker.io`), but the vendor

[2021-04-11 07:22] afbjorklund commented on #10089
Actually this issue doesn't have so much to do with the OS versions that minikube is doing the testing with.

It was about testing with the system package of the container runtimes, as well as the vendor packages ?

[2021-04-11 07:55] afbjorklund commented on #10438
In order to do this, one would probably first want to do different installation for different runtimes: #9989

Otherwise the kicnode image would be _enormous_, if it included both the packages and the images:

[code]

So in the "worst" case, you could end up with four different layers of images (some of them squashed?).

* base operating system (ubuntu)
* hacks to make it work under systemd (entry

[2021-04-11 08:09] afbjorklund commented on #10438
Turns out that docker doesn't support lz4 compression for ADD, only gz and xz.

[code]

[code]

[2021-04-11 08:15] natesales commented on #10544
I'm seeing this same issue when enabling the ingress addon. Let me know what other information would be helpful here.

[code]

[2021-04-11 08:28] afbjorklund commented on #10883
@medyagh : actually I _did_ put this in the backlog

[2021-04-11 08:47] afbjorklund commented on #10610
@medyagh : what is the desired outcome here, should we install `crictl` from a different vendor ?

Or give up on the packages, and install it from a binary instead - like we had to do with BuildKit...

[2021-04-11 10:13] afbjorklund commented on #11056
With the amount of leftovers still todo, this will probably not make it this month.

[2021-04-11 10:34] afbjorklund commented on #11061
There is a checksum on the download, that should prevent this (partial downloads) from happening.

Probably we should **not** rename the temporary file, until the checksum has been verified first.

[code]

So the "tmpDst" should be moved, from download and out to the main function (the caller)

        tmpDst := dst + ".download"

        return os.Rename(tmpDst, dst)

[2021-04-11 10:58] afbjorklund commented on #10836
@azhao155 : Will this feature really be ready for v1.20.0 (in two weeks) ?

I think it hasn't even landed in kind yet, even though it is in progress (0.11)

https://kind.sigs.k8s.io/docs/user/rootless/

@medyagh : we might want to consider lowering the priority on this feature

[2021-04-11 13:00] afbjorklund commented on #11041
@medyagh : can you handle this one ? I'm not sure that exposing the cluster publically is a good idea, but since you are doing it already with --listen-address then I don't think --listen-port makes it much worse.... Random port is only a false security and a portscan away, when not binding to localhost only (like we do with the proxy to the `minikube dashboard` for instance).

[2021-04-11 13:29] zhan9san commented on #11041
Hi @afbjorklund
Thanks for your attention.
The cluster would be exposed publically only if the '--listen-address' and '--listen-port' are passed explicitly. It provides more options for different users.

The start command, 'minikube start', still keeps safety operations as before.

[2021-04-11 20:54] azhao155 commented on #10836
@afbjorklund after update the kernel, it solves the above problem, but kubeadm init fail with "getting the final child's pid from pipe caused \"EOF\"": unknown". Still debugging it now. Not certain if it could be ready in two weeks.

[2021-04-11 22:04] aidagha opened #11068 "Works only when I specify --base-image"
When I start minikube without `--base-image=kicbase/stable:v0.0.20` I get this error:

[code]

I also noticed docker pull fails on my machine:

[code]

But I noticed docker images has the image in it:

[code]

However, when I used `minikube start --base-image=kicbase/stable:v0.0.20` it works.

[2021-04-11 22:13] aidagha opened #11069 "UI progress bars stepping on each other"
I noticed that `preloaded-images-k8s` and `index.docker.io/kicbase` progress bars step on each other when downloading is in progress and it is confusing for the user and might be interpreted as a glitch. When the download is finished, they are displayed in separate lines:

[code]

[2021-04-11 22:54] prezha commented on #11068
@aidagha thanks for reporting the issue - interesting problem!

i understand you could be using vpn? if so, which one and if you have any other restrictions implied on the machine you are using (eg, you [have to] use http proxy, etc.)?

which exactly os do you use?

is it possible that you've downloaded the image earlier? i assume everything else, in terms of internet access, is working normally?

[2021-04-11 23:04] aidagha commented on #11068
@prezha I use mcOS version 10.15.7. I have proxy and VPN and when I turn them off, nothing changes. I did not download the image manually. It was downloaded by minikube.
Also, when I do `minikube start --base-image=gcr.io/k8s-minikube/kicbase:v0.20.20`, it tries to pull the image but for `minikube start --base-image=kicbase/stable:v0.0.20` it doesn't do that, even though I have both images locally

[2021-04-11 23:05] medyagh commented on #11068
so both docker hub and gcr images were downloaded successfully by minikube but when it tried to create container with it, it failed (that the image doesnt exist)
while this might be because of Corp restrictions but the interesting part is, if the user passes --base-image=kicbase/stable:0.0.20 it works
which means minikube could have done this automatically but it didnt

[2021-04-11 23:11] prezha commented on #11068
this part:
[code]
is strange and is somehow points back to docker (we can check further if we can work around that, when we understand first why it fails)

can you please restart docker and try again?

and if that fails - to attach the debug output (with the given command above)?

[2021-04-11 23:19] medyagh commented on #11068
the actual part of the code involved is actually creating the Preload Side Car
[code]
so seems like when we Choose the Fall Back image, that doesnt get set in the Params for the the Side Car container to use it
but when the user specifies it explicitly it uses the right thing

[2021-04-12 06:23] afbjorklund commented on #11069
The library itself handles this, so it must be something in how we use it.

https://github.com/cheggaaa/pb/blob/master/example_multiple_test.go

[2021-04-12 06:30] afbjorklund commented on #11068
Needs more logs, to know why Docker failed the first time: (why it didn't set up docker.io)
`Error downloading kic artifacts:  failed to download kic base image or any fallback image`

[2021-04-12 09:17] EHJ-52n commented on #8756
Removing the version tag `:v0.44.0` following @Hongbo-Miao [instructions above](#issuecomment-736699590) solved this issue for me.

Hence, the issues seems to be **not solved** in
[code]

<details>
<summary>Pods before "fix" application</summary>

[code]

</details>

<details>
<summary>Pods after "fix" application</summary>

[code]

</details>

<details>
<summary>Minikube start logs</summary>

[co

[2021-04-12 09:25] amayr666 opened #11075 "Enable ingress addon times out"
Output of `minikube version`:
[code]

How I start minikube:
[code]

**Steps to reproduce the issue:**
1. Start minikube as described above
2. Execute `minikube addons enable ingress`

**Full output of failed command:**
[code]

If run with flag `--alsologtostderr`, the output is:
[code]

**Full output of `minikube start` command used, if not already included:**
[code]

**Optional: Full output of `m

[2021-04-12 10:13] vagdevik commented on #10966
It seems there is not much support for Minikube with Docker in Windows 10. Especially, the ingress mechanism - even after enabling `minikube tunnel` in a separate CLI - fails to work as expected, as the `minikube tunnel` is not showing any trace of output/warning/error or anything else.

The whole project has flawlessly worked on Ubuntu 20.04 LTS.

Nevertheless, I used VirtualBox driver for my Min

[2021-04-12 10:13] #10966 closed

[2021-04-12 10:35] antoniobonifacio opened #11076 "minikube ip"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-04-12 11:27] amayr666 commented on #11075
Seems it failed to fetch the ingress images due to dockerhub rate limit.

[2021-04-12 11:27] #11075 closed

[2021-04-12 13:25] govargo opened #11077 "Implement command to get cpu usage benchmark"
/kind feature

Currently, minikube has several driver choices.
The drivers have each characteristics and they affect local machine's performance differently.

Of course, low CPU load and high performance are desirable, but it is important to know each characteristics and performance values ​​of each drivers.

In the past, Thomas took cpu usage benchmark using [cstat](https://github.com/tstromberg/

[2021-04-12 13:26] govargo commented on #11077
/assign

[2021-04-12 13:41] govargo commented on #11077
I took latest cpu usage benchmark in minikube v1.19.0(beta) using `cstat`.
[Local Kubernetes - CPU Busy% overhead on macOS & Debian - April 2021](https://docs.google.com/spreadsheets/d/1k3JYvf7BlrBhImk7SFfrdXRg4E70PyqYKn_l27L2ouc)

It compares minikube's driver and Docker for Mac, Kind, K3s on macOS.
And it also compares on Linux Debian.
![Screenshot 2021-04-12 10 33 06 PM](https://user-images.git

[2021-04-12 18:25] sharifelgamal commented on #10671
@anencore94, sure go ahead. just add it our release script in the `hack` folder

[2021-04-12 18:37] EdVinyard commented on #11052
I've opened https://github.com/kubernetes/minikube/pull/11081, and I'm working on the contributor agreement.

[2021-04-12 18:56] afbjorklund commented on #10674
I'm not going to have the time to work with this

[2021-04-12 18:58] #10601 closed

[2021-04-12 18:58] #10602 closed

[2021-04-12 18:58] sharifelgamal commented on #10602
This was done

[2021-04-12 19:00] sharifelgamal commented on #10555
This is possible, as shown @azhao155's demo.

[2021-04-12 19:00] #10555 closed

[2021-04-12 19:03] sharifelgamal commented on #10327
This is blocked by the performance degradation in k8s 1.21.

[2021-04-12 19:23] afbjorklund commented on #10149
In the suggested PR #10918, the image is stored in ~/.minikube/cache/kic folder.

This means that it will be copied to the other machine, and available offline as well.

[2021-04-12 19:33] cahityusuf opened #11083 "minikube not working"
minikube start --alsologtostderr -v=8  ===>

 * Failed to start docker container. Running "minikube delete" may fix it: Error loading existing host. Please try running [minikube delete], then run [minikube start] again.: filestore "minikube": open C:\Users\Cahit Yusuf KAFADAR\.minikube\machines\minikube\config.json: The system cannot find the file specified.
* Failed to start docker container. Run

[2021-04-12 20:58] SantosVictorero commented on #11075
BTW, I ran into a similar issue today on Windows 10:  waiting for pod "app.kubernetes.io/name=ingress-nginx", current state: Pending...

It was do to the fact that I had installed IIS earlier which was using port 80.

[2021-04-12 21:29] cahityusuf commented on #11083
**problem solved**

1-docker uninstall
2-minikube delete
3-docker install (Docker Desktop)
4-minikube start --driver=hyperv (Windows 10)
5-minikube status ----->

type: Control Plane
host: Running
kubelet: Running
apiserver: Running
kubeconfig: Configured

[2021-04-12 21:41] jmholla opened #11084 "`minikube start` with `--mount` and `--mount-string` fails with `GUEST_MOUNT_CONFLICT`"
**Steps to reproduce the issue:**

1. `minikube stop`
2. `docker rm minikube`
3. `minikube start --mount --mount-string="$HOME:/src" --driver=docker`

I would expect the mount to happen during container creation.

This is on Linux Mint.

**Full output of failed command:**

(I'll attempt to attach the output with `--alsologtostderr` as a file because it keeps repeatedly spitting out the same compla

[2021-04-12 21:42] jmholla commented on #11084
Whelp, there's no ability to attach files, so here is the output of `--alsologtostderr`:

<details>
I0412 16:38:53.034368  326971 out.go:229] Setting OutFile to fd 1 ...
I0412 16:38:53.034501  326971 out.go:281] isatty.IsTerminal(1) = false
I0412 16:38:53.034509  326971 out.go:242] Setting ErrFile to fd 2...
I0412 16:38:53.034516  326971 out.go:281] isatty.IsTerminal(2) = false
I0412 16:38:53.0346

[2021-04-12 22:00] pallavikarpaklu commented on #10310
Installations from homebrew did not work. installing Docker client comes along with kubernetes which fixed the issue

https://hub.docker.com/search?q=&type=edition&offering=community

[2021-04-12 22:47] sharifelgamal commented on #10628
It's absolutely possible that this test could be fixed, but it's currently not getting run in our Windows CI, so we need to figure out what's happening there before checking on whether it passes.

[2021-04-12 23:28] medyagh commented on #11068
@afbjorklund

on my machine I blocked access to GCR  and minikube recovers to fallback image

[code]

but in the case of @aidagha we see the minikube Passed the pulling Base Image successfully  but later it tried to download it again
[code]

[2021-04-13 01:14] morhook commented on #7511
This has been fixed on my minikube installation (with docker driver). Thanks a lot!

[2021-04-13 01:39] medyagh commented on #11068
@aidagha would you plz try the binary in this PR https://github.com/kubernetes/minikube/pull/11089 and see if it fixes the problem ?

[code]

and then
[code]

and if it failed please provide the full output of
[code]

[2021-04-13 06:01] imoisharma opened #11090 "Not working --kubernetes-version for Minikube upgrade | Ubuntu 20.04 LTS"
Hi there, I am trying to install the minikube version 1.19.0 in my second profile, but it's not working.
![image](https://user-images.githubusercontent.com/30807347/114503489-bca2fb00-9c70-11eb-89a2-c80698a25049.png)

In my pc, I have already default minikube with v1.15.1 but now to run some Jenkins jobs I require minikube with the above v1.17.
So, I am trying to create a new profile and using the

[2021-04-13 07:49] coder2213 commented on #9684
Installed below version, now it is working fine.
minikube version: v1.19.0
commit: 15cede53bdc5fe242228853e737333b09d4336b5

I can only get minikube status from powershell with admin access.
Normal powershell windows are getting access errors. Is this fine?

[2021-04-13 11:24] UXabre commented on #8535
With the release of K8s 1.21, would this also include support for dual-stack environments? If so, would love to see this land! :-D

[2021-04-13 14:57] HubertStefanski opened #11091 "Inaccesible kube-webhook-certgen image in addons.go causing a fail in ingress addon provisioning?"
The ingress addon stopped working with:
[code]
After starting the minikube cluster using defaults, and enabling the ingress addon, the app will hang on verification.
This is caused by an unavailable image for the create and patch pods.
[code]
These images are defined here : [https://github.com/kubernetes/minikube/blob/master/pkg/minikube/assets/addons.go#L239-L241](https://github.com/kubernetes/mi

[2021-04-13 17:02] danilo-lopes commented on #10267
Hi everyone. Same issue here.

OS Release:
[code]
Kernel:
`5.9.16-1-MANJARO`

Docker:
[code]

minikube start:
`minikube start --driver docker --force-systemd`

output:

[code]

[2021-04-13 17:41] spowelljr commented on #9398
In-progress

[2021-04-13 18:07] ilya-zuyev opened #11094 "Build kvm driver for different architectures"
See https://github.com/kubernetes/minikube/issues/9805 for details
This issue is to track the KVM part

[2021-04-13 19:16] jmholla commented on #11084
This does work if you call `minikube delete`. It is not apparent why when reconstructing the container without this that it does not want to mount the paths at the right time.

[2021-04-13 19:38] sharifelgamal commented on #10628
This is now failing for a totally different reason, one that doesn't seem related to the test itself:

[code]

Seems like Windows encoding nonsense.

[2021-04-13 19:58] #10857 closed

[2021-04-14 00:03] aidagha commented on #11068
[code]

[2021-04-14 10:01] hausliu commented on #10589
`sudo minikube start`
I use this command to solve the problem. Maybe it's a problem of permission.

[2021-04-14 10:10] adelca commented on #3613
@mrdulin hi, you dont need to ask IT department for the appropriate PEM file, you can download it yourself with openssl or via browser (more about this below).

In my case (on Macbook pro), none of the suggested solutions worked. What I did was to hit https://storage.googleapis.com on my browser (Chrome) and download the company CA as cer (it should be easy to spot, the name will not be google), t

[2021-04-14 10:39] afbjorklund commented on #10267
[code]

Running with btrfs requires workarounds, that are not supported by minikube: #7923

[2021-04-14 13:27] smiletrl commented on #8439
@iamnoah 's approach works for me too :)

A little thing though, `selector: app: minikube-host` doesn't seem to be [necessary](https://kubernetes.io/docs/concepts/services-networking/service/#without-selectors). Otherwise the default endpoint will be created.

See terraform code

[code]

[2021-04-14 17:04] #10772 closed

[2021-04-14 17:30] theperm opened #11098 "Can't start Minikube with k8s version > 16.1 on Windows with Docker driver"
I cant get any of the latest versions k8s to work using Windows 10 and the Docker vm-driver.
The last version that I tried that actually works for me is k8s 1.16.2

I'm using Windows 10 ver 1909
minikube version: v1.19.0
commit: 15cede53bdc5fe242228853e737333b09d4336b5
Docker Desktop 3.3 (Not using WSL2)
docker version
Client: Docker Engine - Community
 Cloud integration: 1.0.12
 Version:

[2021-04-14 18:09] medyagh commented on #11056
I agree on doing this, but priority wise donest need to be high prirority. I think this will help with cgroup v2 one thing to consider is doesnt break cgroup v1

[2021-04-14 18:16] medyagh commented on #10864
Hi @sanjarora, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-04-14 18:16] #10864 closed

[2021-04-14 18:16] medyagh commented on #10884
Hi @sovbangit , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-04-14 18:16] #10884 closed

[2021-04-14 18:17] medyagh commented on #10934
Hi @Yakir6 , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-04-14 18:17] #10934 closed

[2021-04-14 18:20] medyagh commented on #11020
@imoisharma

minikube versions and kubernetes versions are not same thing,  you could start an older kuberentes version with New versions of minikube

so you could do
[code]
with latest minikube !

I recommend using using the lastest minikube version since has most bugs fixed. only specify the kuberenetes version

[2021-04-14 18:23] medyagh commented on #6584
@arielmoraes by default minikube will only expose a few ports, if you wants to expose more ports you can use this flag
[code]

I suggest we add this as a FAQ to our website

[2021-04-14 18:25] afbjorklund commented on #11056
Could always upgrade the userspace and leave the kernel, but we already did that once.

[2021-04-14 18:26] medyagh commented on #6982
I agree with you @tliron  that page is getting very messy and hard to read, I would accept a PR that organizes that page on our webiste and makes it easier to read

[2021-04-14 18:27] ilya-zuyev commented on #11037
Hi @pribalaji58. What version of VirtualBox are you using? If it's older than 6.1 do you mind trying to upgrade it?
VirtualBox has a known bug: https://caffinc.github.io/2015/11/fix-vbox-network/

[2021-04-14 18:31] medyagh commented on #10986
@nigurr I noticed your cgroup version is v2, we don't have an integration test for Cgroups v2 yet ! is it possible to try with cgroup v1 ?

[2021-04-14 18:36] medyagh commented on #10970
@loic-rgt thanks for sharing the tip,  second solution seems interesting, I bet others would be interested in this, how about adding this as a tip to our hyperv driver on our website ? interested to make PR ?

https://minikube.sigs.k8s.io/docs/drivers/hyperv/

[2021-04-14 18:40] medyagh commented on #10900
@altwohill that looks like a great find you found out ! I think that might be something we could fix ! or if you are interested to make aPR I would be happy to accept the PR.

[2021-04-14 18:44] medyagh commented on #8834
@bs444 thanks for patiently giving us all this information I wonder if this is simmilar to this issue https://github.com/kubernetes/minikube/issues/11068

@bs444 if you explicitly specify the --base-image would it not error out ?

do u have a current work arround that works ? if yes how about we add this to our tutorials for other Enterprise Users with custom certs ? could be a new page here https

[2021-04-14 18:50] ilya-zuyev commented on #10897
@MoeHamdan do you really have to use `none` driver? It deploys all k8s services in your host OS, provides no isolation and makes it really easy to affect the setup by 3rd party. May be the 'docker' driver would work for you?

[2021-04-14 18:59] medyagh commented on #11098
```systemd cgroup flag passed, but systemd support for managing cgroups is not available: unknown.```
seems like your system is using a different cgroup manager ?

do u mind sharing
[code]

and does this help ?
[code]

[2021-04-14 18:59] medyagh commented on #11098
/triage needs-information
/kind support

[2021-04-14 19:28] tliron commented on #6982
It sounds like I'm being volunteered. :) I may try to take a stab at it if I can find the time.

It's all very hard, to be honest. The challenge is not just to allow Kubernetes's container runtime access to the private registry (with authentication? authorization?) but also how a user/developer can access it push images to it. After all, that is the goal of having such a built-in registry in the f

[2021-04-14 21:15] MoeHamdan commented on #10897
@ilya-zuyev  satisfy my needs in a development environment. I hope if anybody could help resolve the issue without using other driver.

[2021-04-14 22:24] spowelljr opened #11101 "minikube failing to start with containerd and --wait=all flag"
Starting minikube with containerd and without the `--wait=all` flag completes successfully.

But since #10985, if you start containerd with the `--wait=all` flag minikube fails to start with the following error
[code]

The coredns pod is failing to start, the logs of the coredns pods are
[code]

[2021-04-14 23:30] theperm commented on #11098
--force-systemd=true
did indeed do the trick thanks. Heres the docker info. Let me know if you need anything else.

❯ docker info
Client:
 Context:    default
 Debug Mode: false
 Plugins:
  app: Docker App (Docker Inc., v0.9.1-beta3)
  buildx: Build with BuildKit (Docker Inc., v0.5.1-docker)
  scan: Docker Scan (Docker Inc., v0.6.0)

Server:
 Containers: 3
  Running: 3
  Paused: 0
  Stopped: 0
 Im

[2021-04-14 23:38] medyagh commented on #11101
seems like when I specify the CNI manually it works

$ minikube start --container-runtime=containerd --cni=cilium
😄  minikube v1.19.0 on Darwin 11.2.3
✨  Automatically selected the docker driver. Other choices: hyperkit, parallels, virtualbox, ssh
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...

❗  minikube was unable to download gcr.io/k8s-minikube/kicbase:v0

[2021-04-14 23:46] spowelljr commented on #11101
@medyagh The `--wait=all` flag wasn't passed

[2021-04-14 23:48] medyagh opened #11102 "kic-base image gets downloaded every single time (when main image is not available )"
to reproduce:

add this line to /etc/hosts to block gcr.io access
[code]

[code]
then
[code]

then run it again

[code]

[2021-04-14 23:50] medyagh commented on #11101
ah you are right, with wait=all

it says

[code]

[2021-04-15 03:25] Truth1984 commented on #8439
using `minikube v1.19.0`, then ssh inside

and `cat /etc/hosts`
[code]
seems like you can use `host.minikube.internal` now without further configuration.

[2021-04-15 03:50] nigurr commented on #10986
@medyagh at this point, its hard for me to migrate to cgroups v1 for my requirements. AFAIK, with Docker 20.x and cgroups v2 is supported, we should support this?

[2021-04-15 04:19] sanjarora commented on #10864
Apologies for delayed response - thanks for your help here ..

On Wed, Apr 14, 2021 at 11:46 PM Medya Ghazizadeh ***@***.***>
wrote:

[2021-04-15 05:12] afbjorklund commented on #11102
This will get fixed, if loading the image from the cache. But we only check if the image exists, for the original.

[code]

[2021-04-15 08:39] dpalmeira commented on #8902
Hi I have same issue. If I switch from docker to hyperkit I cannot pull any image from Internet.
BTW, I trying to switch from docker to hyperkit because it seems to be a requirement to enable Nginx ingress on MAC
minikube addons enable ingress <-- this only seems to work with hyperkit.

How can I fix it? I don't mind about vm-driver (docker/hyperkit), I just want to get working the ingress to be a

[2021-04-15 11:49] imoisharma commented on #11020
Hi @medyagh, I tried this same command for two different profiles for minikube, however, I ran into issues, only when I try to run for the second profile. My current applications are only supported with v1.15 until my developers upgrade the application which is compatible with the new version of minikube.

[2021-04-15 11:50] imoisharma commented on #11020
https://github.com/kubernetes/minikube/issues/11090 (issue link)

[2021-04-15 13:31] afbjorklund commented on #10937
Apparently podman will still be available for Ubuntu 20.04 LTS (e.g. KIC) a little longer.

[2021-04-15 13:32] pwhissell commented on #8770
I had the same issue where the "apiserver-kubelet-client" is simply expired.

@priyawadhwa

minikbube start

That did the trick for me but obviously it's inconvienient considering it deletes your kubernetes cluster and forces you to deploy everything again

[2021-04-15 13:36] afbjorklund commented on #10649
Seems to be working OK with podman 3.1.0, so everyone is encouraged to upgrade (or downgrade)

https://podman.io/blogs/2021/03/02/podman-support-for-older-distros.html

That is, use either podman 2.2.1 or podman 3.1.0 - but **not** 2.0 or 3.0 versions

[2021-04-15 13:38] #10649 closed

[2021-04-15 14:24] Shesoff commented on #1224
In my MacOS Big Sur I did that:
1. Down/Up virtual interface
`sudo ifconfig vboxnet0 down && sudo ifconfig vboxnet0 up`
2. Check that interface is up `ping 192.168.99.1' where 192.168.99.1 is IP address your virtual interface (show in ifconfig output)
3. Enjoy

Very strange that if do only `sudo ifconfig vboxnet0 up `it not work, VMs not accessable over network (time out) and link not answer on IC

[2021-04-15 15:13] dogbertai opened #11103 "Unable to set kube-proxy conntrack maxPerCore with extra-config"
I'm trying to set conntrack maxPerCore to 0 in kube-proxy.

## Expected
According to https://kubernetes.io/docs/reference/config-api/kube-proxy-config.v1alpha1/#kubeproxy-config-k8s-io-v1alpha1-KubeProxyConntrackConfiguration

/var/tmp/minikube/kubeadm.yaml should look like
[code]

But I cannot get this to happen.

## Actual
minikube start --driver none --extra-config kubeadm.ignore-preflight-erro

[2021-04-15 16:20] dpalmeira commented on #7332
Hi, I have same issue. If I switch from "docker" to "hyperkit" (performing minikube delete, etc. ) I cannot pull any image from Internet.
BTW, I'm trying to switch from docker to hyperkit because it seems to be a requirement to enable Nginx ingress on MAC
**minikube addons enable ingress** <-- this only seems to work with hyperkit according minikube output messages.

How can I fix it? I just want

[2021-04-15 17:26] medyagh opened #11104 "`minikube version --short` should only return the plain text"
no need to say minikube version for the --short
[code]

instead it should say
[code]

[2021-04-15 17:31] testmailmrk opened #11105 "Problems detected in kubelet when running minikube start"
**Steps to reproduce the issue:**

1. minikube start
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**
C:\WINDOWS\system32>minikube start
* minikube v1.17.1 on Microsoft Windows 10 Enterprise 10.0.17763 Build 17763
* Using the hyperv driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Upda

[2021-04-15 17:37] medyagh commented on #11104
/assign andriyDev

[2021-04-15 17:37] medyagh commented on #11104
/assign @andriyDev

[2021-04-15 17:40] andriyDev commented on #11104
Will do!

[2021-04-15 17:43] medyagh commented on #11104
/assign @andriyDev

[2021-04-15 18:20] prezha commented on #11101
@medyagh yes, you are right - we are waiting on wrong things:

according to your [logs](https://github.com/kubernetes/minikube/issues/11101#issuecomment-819921426) above, depending on the order we get in the list of (coredns) pods, we might end up waiting for the initially created ("coredns-74ff55c5b-nhk6w" in this case) pod that got terminated, instead of waiting for the newly created one that re

[2021-04-15 20:08] sschober opened #11107 "Replace references to echoserver with supported image from all documentation"
Trying out minikube on my Mac mini apple silicon/m1.
But step 4 from [minikube start](https://minikube.sigs.k8s.io/docs/start/) is not working for me.

I am using Docker Desktop 3.3.1 (63152). I have activated the experimental feature:
"Use new virtualisation framework"

Please let me know if I can provide further information!

**Steps to reproduce the issue:**

1. brew install minikube
2. minikub

[2021-04-15 20:16] sschober commented on #11107
I just deactivated the "new virtualisation framework" option and retried, with the same result.

[2021-04-15 21:50] joshuamataaraya opened #11108 "minikube addons enable ingress not working on mac"
**Steps to reproduce the issue:**

Run the following commands:
[code]

**Full output of failed command:**
❗  These changes will take effect upon a minikube delete and then a minikube start
🔥  Deleting "minikube" in hyperkit ...
💀  Removed all traces of the "minikube" cluster.
😄  minikube v1.19.0 on Darwin 11.2.3
✨  Using the hyperkit driver based on user configuration
👍  Starting control plane nod

[2021-04-15 22:23] matthewmichihara opened #11109 "Minikube/gcp-auth sometimes does not set GCP project environment variables"
This came up while investigating https://stackoverflow.com/questions/67083909/project-env-vars-like-gcp-project-cloudsdk-core-project-are-no-longer-set-whe?noredirect=1#comment118606601_67083909

The user is using Cloud Code for IntelliJ's Cloud Run local development feature, which internally uses minikube to run the Cloud Run app locally. Sometimes it has been noticed that the GCP project environ

[2021-04-15 22:30] mauriciovasquezbernal commented on #8556
/remove-lifecycle stale

[2021-04-16 00:39] daehyeok commented on #11102
/assign

[2021-04-16 01:39] nvanhon opened #11110 "Getting issue when starting minikube."
**Steps to reproduce the issue:**

1. minikube delete
2. sudo minikube start --vm-driver=none --extra-config=kubelet.serialize-image-pulls=false --extra-config=kubelet.cgroup-driver=systemd --kubernetes-version v1.18.13 --v=5 --alsologtostderr

**Full output of failed command:**
sudo minikube start --vm-driver=none --extra-config=kubelet.serialize-image-pulls=false --extra-config=kubelet.cgroup-dr

[2021-04-16 05:53] afbjorklund commented on #11107
I'm not sure if k8s.gcr.io/echoserver:1.10 has any arm64 variant, it looks like amd64 only ?

[2021-04-16 07:03] sschober commented on #11107
Thanks for the hint! Might this be worth a note in the docs? Would have saved me some time. :)

[2021-04-16 07:58] bamason14 commented on #11022
I rebuilt host and now everything is working. Closing issue as I have no way or recreating issue.

[2021-04-16 08:33] ChampionZP opened #11112 "The dilemma of VPN connection: Cisco AnyConnnect"
**Steps to reproduce the issue:**

1. Connect VPN (Cisco AnyConnnect)
2. minikube start --vm-driver=hyperkit

**Full output of failed command:**

🔑  The 'hyperkit' driver requires elevated permissions. The following commands will be executed:

    $ sudo chown root:wheel /Users/ping/.minikube/bin/docker-machine-driver-hyperkit
    $ sudo chmod u+s /Users/ping/.minikube/bin/docker-machine-driver-hy

[2021-04-16 12:50] macaptain opened #11113 "kvm2 driver validation times out after a libvirtd restart"
**Steps to reproduce the issue:**

On a CentOS or Ubuntu host, with libvirtd (version 6.0.0) managed by systemd:

Run: `sudo systemctl restart libvirtd; minikube start`

**Full output of failed command:**

[code]

However, if I add a sleep command between the libvirtd restart and the `minikube start`, I'm on the happy path:

[code]

Note that the timeout in the execution context for running `/usr/

[2021-04-16 13:05] macaptain commented on #11113
I'll raise a PR to bump the timeout to 5 seconds, if that's alright.

/assign

[2021-04-16 14:21] testmailmrk commented on #11105
Issue resolved

[2021-04-16 14:21] #11105 closed

[2021-04-16 15:38] afbjorklund commented on #11113
For some of the other daemons (looking at you, containerd), we do a spin loop just to wait for a socket and a "I'm alive"

Maybe that can be done for the libvirt daemon as well. Or you could give it some cooldown after you restart it, of course.

[2021-04-16 15:47] afbjorklund commented on #11113
For instance, when I run this on the Raspberry Pi it will probably hit some other random time limit (2s, 5s, whatever)

[2021-04-16 15:59] daniel-shukuya commented on #2408
Hi, im having exactly the same issue.
Anyone have an idea what is the problem?

[2021-04-16 16:17] bpb54321 opened #11115 "Unable to Install Ingress Addon in Minikube v1.19.0 on Mac OS 10.15.7"
**Steps to reproduce the issue:**

1. `minikube config set driver hyperkit`
2. `minikube start`
3. `minikube addons enable ingress`

**Full output of failed command:**
`blosserb@C02Z92BRLVDL ~ % minikube addons enable ingress --alsologtostderr
I0416 12:10:16.623621    2468 out.go:278] Setting OutFile to fd 1 ...
I0416 12:10:16.623906    2468 out.go:330] isatty.IsTerminal(1) = true
I0416 12:10:16.6

[2021-04-16 17:41] macaptain commented on #11113
@afbjorklund that's a great suggestion. Ultimately, the timeout number will be arbitrary, but we'll be able to display a much better error message with your proposal. I'd be happy to change the PR so that just before we usually run the `virsh domcapabilities --virttype kvm`, we:

1. Try a `virsh connect` with a timeout context of, say, 10 seconds.
2. If `err != nil`, return a `registry.State` with

[2021-04-16 17:59] medyagh commented on #10780
this PP is availavble to pick up anyone interested I would accept A PR

[2021-04-16 18:05] ilya-zuyev opened #11116 "Prototype Shared Storage between host/cluster container runtimes"
Share Storage between host/cluster’s container runtime for building images as fast as docker-compose in local kubernetes

[2021-04-16 18:12] sharifelgamal opened #11117 "Automatically export all integration test information to documentation"

[2021-04-16 18:12] afbjorklund commented on #11113
That sounds perfectly reasonable. BTW, why did you have to restart libvirt in the first place ?

[2021-04-16 18:15] medyagh commented on #10672
this was added to our website https://minikube.sigs.k8s.io/docs/benchmarks/imagebuild/

need to add MacOS and also microK8s and k3s

[2021-04-16 18:19] afbjorklund commented on #10672
It would be good with some background on that page, like what is actually being done ?

Or make the git repo behind it public, perhaps ? Also curious why it calls a load a build...

[2021-04-16 18:25] afbjorklund commented on #11113
Should also note that _normally_, a `virsh connext` goes very quickly (just a unix socket away)

[code]

[2021-04-16 20:46] #9581 closed

[2021-04-16 21:42] medyagh commented on #9910
@sharifelgamal is working on auto generating the docs for integration tests, this could be something simmilar to that

[2021-04-16 22:36] spowelljr commented on #10328
In-progress

[2021-04-17 00:16] sherbang opened #11121 "Ingress addon: `Error: server.go:84] "failed to process webhook request" err="rejecting admission review because the request does not contain an Ingress resource but networking.k8s.io/v1, Kind=Ingress with name`"
**Steps to reproduce the issue:**

Minikube v1.19.0 docker driver on PopOS 20.10

Using the ingress plugin, installing an ingress always fails.

Exact same steps and yaml works in v1.18.1

Doesn't matter if the ingress is defined with `apiVersion: networking.k8s.io/v1` or `apiVersion: extensions/v1beta1` (yaml files used to test each work in v1.18.1)

Suspect that ansible/awx-operator#205 is the s

[2021-04-17 06:43] afbjorklund commented on #11116
I think you need to elaborate a bit more, on what this feature would include and which drivers would be affected by it ?

[2021-04-17 07:00] afbjorklund commented on #11107
That would be much welcome. I'm not sure if there is an alternative image available, but a note in the docs would be a start!

[code]

https://minikube.sigs.k8s.io/docs/start/
https://kubernetes.io/docs/tutorials/hello-minikube/

It seems to be based on the "nginx" image, so it should be possible to make a new version of it that also supports `arm64`.

[code]
/etc/os-release
PRETTY_NAME="Ubuntu 16

[2021-04-17 07:22] afbjorklund commented on #11107
I found it, it lived in k8s "ingress-nginx" - but it died in 2018.

https://github.com/kubernetes/ingress-nginx/tree/84a6e0c1ab54f8c8e374237b8d9215dcbaa29f0f/images/echoheaders

[code]

Then it got bumped to 2.1, but nobody bothered updating docs.

`gcr.io/kubernetes-e2e-test-images/echoserver:2.1`

nginx version: nginx/1.12.2
PRETTY_NAME="Alpine Linux v3.7"

[2021-04-17 11:54] xsonghppy opened #11123 "X Exiting due to HOST_CONFIG_LOAD: unmarshal: unexpected end of JSON input"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2021-04-17 13:47] sschober commented on #11107
Hey thank you for all this information! I am trying to digest what this means for me currently...

I tried deploying `echoserver:2.2`, but only got the following result:

[code]

`echoserver:2.1` yields the same.

I currently clone the Kubernetes repo and try to build the echoserver image on my machine... and yes this seems to be successful:

[code]
This way, I can now continue with the getting st

[2021-04-17 15:51] afbjorklund commented on #11107
My bad, I should have tested the image rather than assuming that it would work just because it is used in the k8s test.

Crashes the same way on Linux. Apparently they "forgot" to release a version of the echoserver, with arm64 support...

https://github.com/kubernetes/ingress-nginx/issues/2802

[code]

Like you say, minikube doesn't need the LuaJIT support anyway.

But upgrading nginx to somethin

[2021-04-17 17:32] pancudaniel7 opened #11124 "minikube freezes after start command is executed"
**Steps to reproduce the issue:**

1. minikube start --drive=docker

**Full output of failed command:**

Error: "failed to get storage capacity of /var: NewSession: new client: new client: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain"

**Full output of `minikube start` command used, if not already included:**

😄  minikube v1.19

[2021-04-18 07:15] afbjorklund opened #11126 "Use canonical image names when adding to the cache"
Currently, we save the images as archives using only a short name such as "busybox".

[code]

We should make sure to use the canonical name, e.g. "docker.io/library/busybox:latest"

[code]

The go-container-registry library can do this (`Name`), only have to work around index.docker.io

[code]

[code]

Having the canonical name means that we can load them into container runtimes such as cri-o.

Th

[2021-04-18 10:35] mcortinas commented on #4913
/reopen

[2021-04-18 10:46] mcortinas commented on #4913
I tried start kvm and virtualbox and I can not do it at the same time. I received the errors commented before. What's the workaround?

[2021-04-18 11:17] afbjorklund commented on #4913
Stop all libvirt/KVM virtual machines before starting VirtualBox. Stop all VBox virtual  machines before starting KVM.

[2021-04-18 16:31] afbjorklund opened #11130 "Implement `minikube image save`"
Currently there is an option (--push) to upload the image to a registry:

`minikube image build --tag image --push --file Dockerfile .`

But there is no way to save the image into the cache, for later "load".

So we could add a new matching command: `minikube image save`

----

It would save an existing image as an archive, possibly load/push it:

`minikube image save image image.tar`

[code]

`mi

[2021-04-18 16:58] mansiRM opened #11131 "https://github.com/kubernetes/minikube/issues/new/choose"

[2021-04-18 17:00] #11131 closed

[2021-04-18 19:35] jorgepsmatos commented on #10245
I believe I'm facing the same issue with version v1.19.0

Also using Docker with WSL2

[2021-04-18 20:11] macaptain commented on #11113
I'm using Minikube in a CI pipeline. The `minikube start` is in a script that runs after some host setup, and among other things, libvirtd gets restarted there, so we started seeing this error flakily in CI runs. I'm not sure I have to restart libvirtd at this point, it looks to be more defensive in the CI script than necessary. But since I was able to reproduce this timeout consistently, I though

[2021-04-18 21:24] macaptain commented on #11113
I've updated the PR https://github.com/kubernetes/minikube/pull/11114 with the proposed path forwards. :slightly_smiling_face:

[2021-04-19 06:23] afbjorklund opened #11134 "Random failures from DeleteAllProfiles unit test"
Due to it making direct calls to `docker`, and finding profiles _outside_ the test context.

[code]

There should be a mocked docker (`oci.Docker`), similar to the mock `miniHome`.

[code]

[code]

The invalid profiles are:

[p1 p2_empty_profile_config p3_invalid_profile_config p4_partial_profile_config p5_missing_machine_config p6_empty_machine_config p7_invalid_machine_config p8_partial_machine_

[2021-04-19 09:52] NatureLingRan commented on #10243
I execute  `rm -rf ~/Library/Containers/com.docker.docker`

Solve the problem successfully

[2021-04-19 13:03] Mattimax20 opened #11139 "minikube docker / lens"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-04-19 16:26] sahid opened #11141 "add support of 802.1Q kernel module"
The current kernel build does not provide support for 802.1Q module.

This module is adding ability to configure VLAN sub-interfaces which are for networking use-cases more than required.

https://cateee.net/lkddb/web-lkddb/VLAN_8021Q.html

[code]

[2021-04-19 16:50] spowelljr commented on #11076
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr, for example:

[code]
- Also the full the output of the
[code]
This will

[2021-04-19 17:09] spowelljr commented on #11091
@HubertStefanski Thank you for reporting the issue!

[code]
Just curious, do you know if this worked fine with a previous version of mininkube?

[2021-04-19 17:29] afbjorklund commented on #11141
What are these extra VLAN used for ?

[2021-04-19 17:40] theperm commented on #11098
Next problem i encountered is it failed again when trying to start with RBAC enabled.

` minikube start --cpus=4 --memory=4096 --extra-config=apiserver.authorization-mode=RBAC --force-systemd=true`

Is this related? This also works with v16.1

<details>
I0419 18:22:59.073474   38380 out.go:157] 👍  Starting control plane node aurora-poc in cluster aurora-poc
I0419 18:22:59.073474   38380 image.go:1

[2021-04-19 18:10] afbjorklund commented on #11130
These replace the docker-env versions:

minikube | docker
---  | ---
minikube image save image image.tar | docker image save image > image.tar
minikube image load image.tar | docker image load < image.tar

[2021-04-19 19:29] psaini79 opened #11144 "minikube dns doesn't work with user defined namespace"
**Steps to reproduce the issue:**

1. Download the file on your machine
[code]
2. kubectl apply -f dnsutil.yaml
3. Execute the following command and you can see DNS resolution works:
[code]
4. Create the namespace using the following command:
[code]
5. Edit the file "dnsutil.yaml" and change the namespace to test-sh
[code]
6.  Execute the following command and you can see DNS resolution does not w

[2021-04-19 19:40] #11117 closed

[2021-04-19 19:50] stgoogle opened #11145 "start minikube cluster timedout"
Hi Experts,

Need your help.
Just trying to start creating cluster, set hyperv as default dirver.
Here is what on the console:

PS C:\WINDOWS\system32> minikube start
 * minikube v1.19.0 on Microsoft Windows 10 Pro 10.0.18362 Build 18362
 * Using the hyperv driver based on user configuration
 * Starting control plane node minikube in cluster minikube
 * Creating hyperv VM (CPUs=2, Memory=4000MB, D

[2021-04-19 19:59] kfox1111 opened #11146 "minikube cp missing -n"
minikube cp doesn't work when you have multiple nodes. There is no way to specify which node to copy to.

[2021-04-19 20:34] dgoldssfo opened #11147 "Exiting due to MK_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]"
Note - I have this problem with 1.18.1 and 1.19.0
Is there a version I can back off to that will work?

**Steps to reproduce the issue:**

1. forgeops git:(master) ✗ minikube start --memory=10240 --cpus=3 --disk-size=40g --cni=true --vm=true \
 --driver=virtualbox --bootstrapper kubeadm --kubernetes-version=1.20.0
2. minikube addons enable ingress

**Full output of `minikube start` command used, i

[2021-04-19 20:36] dgoldssfo commented on #11147
Stuck on "Waiting" for at least ten minutes now.

[2021-04-19 20:46] spowelljr commented on #11139
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr, for example:

[code]
- Also the full the output of the
[code]
This will

[2021-04-19 21:01] dgoldssfo commented on #11147
A friend suggested I blow away my ~/.minikube directory and try it, which solved the problem.

If you don't want to investigate why having cruft in that directory caused this problem, go ahead and close this. But it might be good to look into it. Your call, thanks for all the great work you folks do.

[2021-04-19 21:34] medyagh commented on #9785
weird thing is I see many Info logs been sent out to the stderr

[code]

[2021-04-19 21:34] medyagh commented on #9785
@blueelvis are you still working on this ?

[2021-04-19 22:06] prezha opened #11149 "Tests flake: uncompleted tests due to panic: runtime error: index out of range"
as seen in logs:

https://storage.googleapis.com/minikube-builds/logs/11106/05abe4a/Docker_Linux_containerd.txt:
[code]
and
https://storage.googleapis.com/minikube-builds/logs/11106/05abe4a/Docker_Linux_crio.txt:
[code]
/assign

[2021-04-19 22:21] kfox1111 opened #11153 "minikube 1.19.0 multinode restart via minikube start broken"
1. start a multinode cluster with minikube start
2. minikube status shows minikube, minikube-m02, minikube-m03
3. reboot the vms
4. minikube start #to get everything running again.
5. minikube ssh -n minikube-m02 broken

**Full output of failed command:**

$ minikube status
minikube
type: Control Plane
host: Running
kubelet: Running
apiserver: Running
kubeconfig: Configured

minikube-m03
type: Wor

[2021-04-19 22:24] #11149 closed

[2021-04-19 22:25] spowelljr commented on #11147
@dgoldssfo Thanks for the info, did you update from an older version of minikube previous to this?

[2021-04-19 22:28] spowelljr commented on #11108
@joshuamataaraya Someone had this same issue #11147 they deleted `~/.minikube` and their issue was fixed. Did you update from an older version of minikube before v1.19.0?

[2021-04-19 22:28] dgoldssfo commented on #11147
Yes, I updated from 1.18.1 to 1.19.0.

But note - enabling the ingress addon had gotten very slow (like, it took several minutes). After deleting .minikube, it was back to taking < 10 seconds.

[2021-04-19 22:29] spowelljr commented on #11115
@bpb54321 Someone had this same issue #11147 they deleted ~/.minikube and their issue was fixed. Did you update from an older version of minikube before v1.19.0?

[2021-04-19 22:30] spowelljr commented on #11147
Thank you for you info, you're not the only person who experienced this issue. I'll see if I can replicate the same issue.

[2021-04-19 22:35] dgoldssfo commented on #11147
I'm also having other ingress issues. Investigating now.

[2021-04-19 22:36] dgoldssfo commented on #11147
Could be our app, but maybe this'll help:

`Error from server (InternalError): error when creating "STDIN": Internal error occurred: failed calling webhook "validate.nginx.ingress.kubernetes.io": an error on the server ("") has prevented the request from succeeding`

[2021-04-20 07:22] sahid commented on #11141
Without this module we can't create VLAN interfaces, example using:

[code]

In some workflows users may want to have their Pods attached to a VLAN tagged network to communicate.

[2021-04-20 08:51] HubertStefanski commented on #11091
Hey @spowelljr , thanks for reaching out, It had worked with a prior version, however, I seem to have gotten it working now with v1.19.0 after a clean reinstall with rpm. Feel free to close this,

[2021-04-20 10:09] Mattimax20 commented on #11139
thank you so much for your answer

this a output stderr:
Template parsing error: template: :1:4: executing "" at <index (index
.NetworkSettings.Ports "22/tcp") 0>: error calling index: index of untyped
nil
I0420 12:06:18.047270   89838 cli_runner.go:115] Run: docker container
inspect -f "'{{(index (index .NetworkSettings.Ports "22/tcp")
0).HostPort}}'" minikube
W0420 12:06:18.098549   89838 cli_ru

[2021-04-20 10:23] etix opened #11156 "Unable to start: no free private network subnets found with given parameters"
**Steps to reproduce the issue:**

1. minikube start --cpus=6 --memory=12288 --disk-size='40000mb' --kubernetes-version=v1.18.18 --alsologtostderr

**Details**

OS: ArchLinux (kernel 5.11.15)
Minikube version: 1.19.0
Docker version: 20.10.6
Systemd: 248

I tried to reboot the system multiple times and tried to use the kvm2 driver. Same issue.

**Full output of failed command:**

[code]

[2021-04-20 10:27] yin1999 commented on #7300
Still heppening on v1.19.0
![image](https://user-images.githubusercontent.com/15844309/115381343-0dcd6480-a206-11eb-837f-920d0960587d.png)

[2021-04-20 10:29] Mattimax20 commented on #11139
i use this command for start :
------------- $ minikube start --driver=docker --kubernetes-version=v1.20.0
--profile lss
😄  [lss] minikube v1.19.0 on Ubuntu 20.04
🆕  Kubernetes 1.20.2 is now available. If you would like to upgrade,
specify: --kubernetes-version=v1.20.2
✨  Using the docker driver based on existing profile
👍  Starting control plane node lss in cluster lss
🏃  Updating the running doc

[2021-04-20 10:38] douglascamata commented on #8765
I still see this problem today with minikube v1.19.0, FYI.

[2021-04-20 10:58] etix commented on #11156
Since docker and kvm2 drivers don't work, the only workaround I've found so far is using `--driver=virtualbox`

[2021-04-20 15:57] afbjorklund commented on #11156
@prezha please take a look

[2021-04-20 16:52] #11029 closed

[2021-04-20 17:10] prezha commented on #11156
@etix thanks for reporting the issue and providing the full log!

this is a strange issue that i haven't seen before - quite unexpected as looking up for a free network for docker driver ***starts*** from `192.168.49.0` and for kvm ***starts*** from `192.168.39.0` and i'd expect to see those as the first try (then they are incremented with steps of 9 and 11 respectively), whereas you get all tries

[2021-04-20 17:16] spowelljr commented on #11091
@HubertStefanski Glad you were able to resolve the issue! I will close the issue but feel free to reopen if the issue persists.

[2021-04-20 17:16] #11091 closed

[2021-04-20 17:58] etix commented on #11156
Hi @prezha,

I should mention that my setup was working fine for months without any major issue. I think that I built my last successful k8s env two or three weeks ago. This morning I did my usual weekly `minikube delete` and `minikube start` when the problem occurred. Nothing really changed besides the usual Archlinux rolling updates and a bios upgrade I did around a week ago.

I'm using the mini

[2021-04-20 18:15] etix commented on #11156
I tried downgrading minikube to 1.17.1 which was known to be working and it seems the IP 192.168.49.2 is correctly selected but the control plane isn't able to start. So my guess is that something external to minikube broke.

<details>
I0420 20:07:33.274370  201038 out.go:229] Setting OutFile to fd 1 ...
I0420 20:07:33.274436  201038 out.go:281] isatty.IsTerminal(1) = true
I0420 20:07:33.274442  2

[2021-04-20 18:24] prezha commented on #11156
@etix thanks a lot for the input, that was useful - i think i know what the problem might be:

`ip a s`:
[code]

so, the `192.168.0.4/16` would overlap with any `192.168.x.y/24` that we are trying to reserve, and that then makes sense

would you be able to set/use any `192.168.m.0/24` network for your enp38s0 interface?

[2021-04-20 18:57] etix commented on #11156
This network configuration has been working for more than a year with minikube < 1.19 but I see your point :+1:

[code]

There's some good progress indeed, the weird subnet reservation loop is now gone (:tada:) but I end up like in 1.17.1 with a non-functional control-plane. Might be a separate issue but the coincidence is troubling.

<details>

[code]

</details>

[2021-04-20 18:59] bitsofishan opened #11159 "Make svc from one minikube cluster talk to another svc in another minikube cluster"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-04-20 19:24] etix commented on #11156
After further investigations about the control plane "not starting" I see this error looping:

```The connection to the server localhost:8443 was refused - did you specify the right host or port?```

If I'm guessing correctly `docker-proxy` should be the one listening and indeed the process is running:

```root      341573  0.0  0.0 1148956 4084 ?        Sl   21:04   0:00 /usr/bin/docker-proxy -pr

[2021-04-20 19:38] prezha commented on #11156
great progress, glad it helped!

now, it could be that the <network_manager>/routes/firewall/... are now a bit confused in mixed state after just changing iface address with ip del/add

if you hate playing with it manually, you could try setting the iface ip with netmask 24 using higher-level tools (not sure what arch is using) that will do all the necessary changes for you, then maybe even reboot

[2021-04-20 19:42] prezha commented on #11156
if that doesn't help, please close this one and open another issue, again with complete logs (ie, with --alsologtostderr -v=9) so that we leave this one with a solution to the original problem for future reference

[2021-04-20 20:15] afbjorklund commented on #11134
TestListProfiles also got the wrong result, but it didn't validate properly.

[code]

[2021-04-20 20:24] dgoldssfo commented on #11147
Looks like it's the ingress controller plugin. Is there a new one in 1.19?

Trying to ctreate this ingress fails, for example:

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/cluster-issuer: default-issuer
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite ^(/platform)$ $1/ redirect;
    ngi

[2021-04-20 21:21] #11134 closed

[2021-04-21 00:19] jlim0930 commented on #8283
after you enable metallb addon you can patch the cm to add the IP range instead of using `minikube addon configure metallb`

this is what I am doing
[code]

[2021-04-21 01:56] NatureLingRan commented on #10896
I execute rm -rf ~/Library/Containers/com.docker.docker and restart docker

Solve the problem successfully

[2021-04-21 09:38] TCarbon001 opened #11161 "Error starting minikube in fedora"
OS: fresh install of Fedora 33
Podman installed and no docker
only minikube installed

**Steps to reproduce the issue:**

1. minikube start --alsologtostderr -v=7
2.
3.

**Full output of failed command:**

I0421 11:18:53.866548  456581 out.go:278] Setting OutFile to fd 1 ...
I0421 11:18:53.866648  456581 out.go:330] isatty.IsTerminal(1) = true
I0421 11:18:53.866659  456581 out.go:291] Setting ErrF

[2021-04-21 11:30] afbjorklund commented on #11161
Think it is related to btrfs, but not sure. There might be some other fedora tips in https://github.com/kubernetes/minikube/issues/10182#issuecomment-764473664

[2021-04-21 12:25] mben19 opened #11162 "minikube start fails \"
**Steps to reproduce the issue:**

1.minikube start
    + CategoryInfo          : InvalidArgument: (minikube:String) [Get-VM], VirtualizationException
    + FullyQualifiedErrorId : InvalidParameter,Microsoft.HyperV.PowerShell.Commands.GetVM

* Failed to start hyperv VM. Running "minikube delete" may fix it: creating host: create host timed out in 360.000000 seconds
! Startup with hyperv driver fai

[2021-04-21 13:01] etix commented on #11156
Splitting my local network from one large `192.168.0.0/16` to smaller `192.168.0.0/24`  prevents the `no free private network subnets found` problem that appears in minikube 1.19.

I'm closing this issue even if I'm still unable to start the control plane successfully. I'll reference this issue in a new one if they are somehow related.

[2021-04-21 13:01] #11156 closed

[2021-04-21 13:31] belsakn opened #11163 "Offline mode with GPU"
**Steps to reproduce the issue:**

1. `minikube start --download-only`
2. Turn off the wifi and lan
3. `minikube start --driver=none --apiserver-ips 127.0.0.1 --apiserver-name localhost`

**Full output of failed command:**
[code]

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-04-21 14:41] afbjorklund commented on #11163
Kubernetes requires a network interface.

[code]

[2021-04-21 15:31] adsilva-ivre commented on #9798
[code]
same issue with Docker installed in Ubuntu 20.04 in WSL2(Windows)

[2021-04-21 16:54] spowelljr commented on #11112
@ChampionZP Thanks for reporting the issue. Could you re-run the start command with the `--alsologtostderr` flag to generate more detailed logs and attach those logs to this issue please.

[2021-04-21 17:50] spowelljr commented on #10739
Hi @jhoncemplok, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

-----

Hai @jhoncemplok, kami belum mendengar kabar dari An

[2021-04-21 17:50] #10739 closed

[2021-04-21 17:50] spowelljr commented on #10664
Hi @slowfranklin, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-04-21 17:50] #10664 closed

[2021-04-21 17:52] spowelljr commented on #10343
@BioGeek Is this still an issue you're facing?

[2021-04-21 17:53] #10148 closed

[2021-04-21 17:55] spowelljr commented on #9601
@hoantv Did you end up trying out @ilya-zuyev's suggestion?

[2021-04-21 17:57] spowelljr commented on #9013
Hi @tempacct4q, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-04-21 17:57] #9013 closed

[2021-04-21 18:05] spowelljr commented on #9770
Hi @9kranti, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-04-21 18:05] #9770 closed

[2021-04-21 18:15] spowelljr commented on #11123
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr, for example:

[code]
- Also the full the output of the
[code]
This will

[2021-04-21 18:22] #11113 closed

[2021-04-21 18:24] ilya-zuyev commented on #10387
Hmm, works for me on Ubuntu 20.10, minikube 1.19.0, k8s 1.20.2 and linkerd 2.9.2.

@kartoch do you mind trying minikube v1.19.0?

[2021-04-21 18:28] ilya-zuyev commented on #9685
https://github.com/kubernetes/minikube/issues/11116

[2021-04-21 18:47] georgelza commented on #2735
... I'm stuck with the same...
Have a go app in a container running on minikube, unable to get it to connect to a postgres db (installed via homebrew) sitting on the host/MBP.

if i look at minikube ssh -> /etc/hosts I have the entries:
192.168.49.2	minikube
192.168.65.2	host.minikube.internal
192.168.49.2	control-plane.minikube.internal

but I still can't connect to the postgres db.

**postgres.c

[2021-04-21 19:16] afbjorklund commented on #11130
This is an addition to #4868, to be less dependent on an external registry (or having to run yourself)

[2021-04-21 19:24] afbjorklund commented on #11130
For the record, you can push and pull images like so:
minikube                                  | docker
---                                       | ---
minikube image build --tag docker.io/image --push . | docker image build --tag docker.io/image . <br>&& docker image push docker.io/image
minikube image load --pull docker.io/image          | docker image pull docker.io/image

[2021-04-21 19:34] afbjorklund opened #11165 "Add some format to the ListImages, such as templates or JSON"
Follow-up to #10933

Currently ListImages API returns the images in a fixed text format...

[code]

minikube image ls
[code]

NOTE: That "busybox" image came from the cache:

[code]

As suggested, it could be useful with _other_ formats: https://github.com/kubernetes/minikube/pull/11007#pullrequestreview-629443503

---

`crictl` offers three different formats:

### table (default)

minikube ssh --

[2021-04-21 20:33] spowelljr commented on #11083
@cahityusuf Glad you were able to solve your issue! I will close this issue, but if the issue returns feel free to reopen it.

[2021-04-21 20:33] #11083 closed

[2021-04-21 20:35] spowelljr commented on #11045
@luisvelalopez Thanks for reporting your issue! Could you please re-run `minikube dashboards` with the `--alsologtostderr` flag to get more details logs and then report back with the new logs.

-----

@luisvelalopez ¡Gracias por informar tu problema! ¿Podrías volver a ejecutar `minikube dashboards` con la marca` --alsologtostderr` para obtener registros más detallados y luego informar con los nuev

[2021-04-21 20:40] spowelljr commented on #10994
Thanks for creating this issue!

The project does in-fact seem to be dormant, but if those issues are fixed feel be sure to keep us updated, thanks.

[2021-04-21 20:49] spowelljr commented on #11084
@jmholla If you want to delete your existing minikube instance `minikube delete` is the recommended way.

Does using `minikube delete` resolve your issue?

[2021-04-21 21:29] medyagh opened #11166 "minikube start should wailt till "download-only" is finishing"
we could use our lock package https://github.com/kubernetes/minikube/tree/master/pkg/util/lock

to put a lock when ```minikube start --download-only``` happens

and then when `minikube start` runs when this lock exists will Wait for it to finish up to a reasonable time

[2021-04-21 21:37] medyagh commented on #11102
I am trying this on M1. this seems to be happening even for NONE fall back images, my guess is on M1 the SHA is different

[code]

the full output the start that shows image is being Re-pulled even though the step above shows the image
[code]

[2021-04-21 21:38] medyagh commented on #11102
here is the output of image inspect
[code]

[2021-04-21 21:50] medyagh commented on #11102
here is the SHA for Mac X86
[code]

[2021-04-21 21:56] medyagh commented on #11068
I suspect this is related to this issue that the Image Sha is not same on your machine for some reason

@aidagha do u mind please sharing the this ?

[code]

[2021-04-21 22:54] ilya-zuyev commented on #11102
It looks like the issue is related to how we import kicbase inside mininikube:

[code]
Somehow we have two images -  one with tag and one with digest and the other attribute is empty
In `image.ExistsImageInDaemon` we just run `docker "images --format "{{.Repository}}:{{.Tag}}@{{.Digest}}"` and get nothing.

On the other hand, if we just run `docker pull` the result is different:

[code]

[2021-04-21 22:55] ilya-zuyev commented on #11102
not reproducible on aarch64 linux:
[code]

[2021-04-22 03:15] ChampionZP commented on #11112
Thank you. @spowelljr

I have run ` minikube start --vm-driver=docker --alsologtostderr` and got the below output (please see the attached output.txt):

[output.txt](https://github.com/kubernetes/minikube/files/6355181/output.txt)

Basically, the current issue is that I got a "ImagePullBackOff" error when I try to work out a demo minikube project with MongoDB and mongo express:

The complete proce

[2021-04-22 05:29] robrich commented on #11121
https://github.com/kubernetes/ingress-nginx/issues/5401 looks like a similar stream, and references errors in the last few days using Minikube.

I worked around it by disabling the Minikube ingress addon and using the ingress-nginx helm chart from Artifact Hub.  Minikube 1.19 currently uses ingress-nginx 0.44.0 and Helm's latest is 0.45.0.  Maybe it was a bug in ingress-nginx 0.44.0?

[2021-04-22 07:37] balnbibarbi commented on #11121
Confirm, disabling the Minikube ingress addon and using the ingress-nginx helm chart from Artifact Hub fixes this.
For both the Ingress and LoadBalancer to get an IP address, I have to `minikube tunnel`.
But avoiding this was my motivation for trying ingress-nginx, so this isn't ideal.

[2021-04-22 08:00] belsakn commented on #11163
@afbjorklund tnx for the info.
Do you know why does it work if i run just `minikube start` when offline?

[2021-04-22 11:16] afbjorklund commented on #11163
If you don't want to use the real networks, you probably have to set up some host-local network just for the cluster.

But only having loopback doesn't really work, when you have multiple nodes. It also expects unique MACs and so on...

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#before-you-begin

The virtual environments (hypervisor or container) set up

[2021-04-22 14:47] timhughes commented on #10248
This may just be a DNS issue.

If I kill the coredns pod and then the istio pods, it appears to fix it.

As a workaround, this is fine for me but coming up with a way if it working first go would be better

[2021-04-22 16:10] mikala3 commented on #10248
So you are able to run with istio and minikube ( with multiple nodes)?

[2021-04-22 18:12] afbjorklund commented on #11102
Hmm, in the current go-containerregistry hacks for `daemon.Write` we first do a load and then do a pull.

Wonder if we somehow ended up using the wrong platform or something ? Because the tag is wrong.

[code]

Apparently it ended up tagging the `amd64` image... Might have to give `arm64` explicitly, on the Mac ?

[code]

[code]

[2021-04-22 18:24] afbjorklund commented on #11102
Are you sure ? I thought I saw something similar

[code]

[2021-04-22 22:10] ranjankhanna opened #11170 "Error while starting service in minikube .cfs_quota_us: invalid argument: unknown"
We are using minikube version: v1.19.0 on OEL 7 with docker driver.

While starting a service we are  getting following error:
  Warning  Failed     14m (x5 over 15m)   kubelet            Error: failed to start container "coherence": Error response from daemon: OCI runtime create failed: container_linux.go:367: starting container process caused: process_linux.go:495: container init caused: process

[2021-04-22 23:23] medyagh commented on #11170
@ranjankhanna do u mind sharing the full output of `minikube logs`

[2021-04-22 23:23] medyagh commented on #11170
/triage needs-information
/kind support

[2021-04-22 23:33] ilya-zuyev commented on #11102
Hmm, you're right. Just realized that `minikube delete --prune` doesn't remove the kicbase image and I had it in local docker before testing.

Yeah, same on Linux after `minikube start --driver=docker`
[code]

[2021-04-23 01:30] ranjankhanna commented on #11170
[logs-Apr-22.txt](https://github.com/kubernetes/minikube/files/6362078/logs-Apr-22.txt)
Attached log file

[2021-04-23 03:47] poorX commented on #10249
同样的问题
`libmachine: Error dialing TCP: ssh: handshake failed: read tcp 127.0.0.1:XXX->127.0.0.1:XXX: read: connection reset by peer`

我的系统是 Centos 7.2，同样使用docker
`minikube start --vm-driver=docker`

我尝试降低 minikube 的版本，但问题未解决，起初以为是docker中ssh的配置问题，ssh -v 测试同时修改了 docker 内的hosts.allow，但未能解决

最后我降低了 docker 版本，问题解决
`Client:
 Version:           18.09.9
 API version:       1.39
 Go version:        go1.11.1

[2021-04-23 05:53] afbjorklund commented on #11102
Yup. Tested with `crane`, and if you don't add the `--platform` argument it always pulls amd64.

[code]

So we need to add the `Platform` to the `ImagePullOptions`, in go-containerregistry PullImage.

[2021-04-23 14:42] misha-fm commented on #9516
still reproducible:
![image](https://user-images.githubusercontent.com/9195593/115888141-def7fe00-a452-11eb-8d45-bb7a941e2cd6.png)
![image](https://user-images.githubusercontent.com/9195593/115888008-bf60d580-a452-11eb-9679-3bcf2fe4e181.png)

[2021-04-23 14:44] timhughes commented on #10248
Yes

On Thu, 22 Apr 2021, 17:10 mikala3, ***@***.***> wrote:

[2021-04-23 15:07] davecardwell opened #11171 "MINIKUBE_ADDONS environment variable ignored"
`minikube start` does not support the `MINIKUBE_ADDONS` environment variable as a proxy for the `--addons` argument as it does with other options.

**Steps to reproduce the issue:**

1. `MINIKUBE_PROFILE=this-works MINIKUBE_ADDONS=registry minikube start`
2. `MINIKUBE_PROFILE=this-works minikube addons list`
3. Note that `MINIKUBE_PROFILE` has taken effect (the profile is set to `this-works`), but

[2021-04-23 15:29] DimitrijeManic commented on #11104
Something to consider is that `kubectl` has the same prefix.
[code]

[2021-04-23 16:22] jmholla commented on #11084
`minikube delete` did work. What about the way the container is being run causes mounting without minikube delete to happen so late in the process?

[2021-04-23 16:26] medyagh commented on #10986
@nigurr thats fair, I will put this on our backlog and would happily accept/review any contribution that would add cgroup v2 to minikube

[2021-04-23 18:34] #11104 closed

[2021-04-23 18:46] dbingham commented on #10060
@afbjorklund Above you said:

Can you clarify what `localhost` is and which daemon & registry you are talking about here?  So if I want to pull an updated version of a particular `repo:tag` from my host's daemon/registry into minikube, I'd `minikube ssh` and then  do `docker pull localhost:5000/repo:tag`?  If that's the case, I'm assuming the minikube VM has port 5000 tunneled to the host's regist

[2021-04-23 19:23] #11126 closed

[2021-04-23 19:26] medyagh commented on #11068
@afbjorklund
I noticed it is trying to download the index.docker.io instead of docker.io
[code]
maybe thats why it is re-downloaing it ?

[2021-04-23 19:45] dbingham commented on #10060
Rereading, maybe I've misunderstood the context above.  I'm trying to update the image in minikube but it isn't updating as detailed above.  In my case, I've got an external registry.  Normally for a remote k8s install I'd build the image and push it to the external registry, then deploy on k8s (which has access to talk to the registry).  But to test locally on minikube, I don't want to push the u

[2021-04-23 19:49] SteveBisnett opened #11174 "Can't start minikube after initial install 18.0.1"
**Steps to reproduce the issue:**

Minikube version: 1.18.1
Docker version: 19.03.15, build 99e3ed8919

1. Followed directions to install minikube and docker.
2. Executed the minikube start --driver=docker and received the following results:

**Full output of failed command:**
[ansible@control-plane ~]$ minikube start
* minikube v1.18.1 on Centos 8.3.2011
* Using the none driver based on existing

[2021-04-23 20:18] #11061 closed

[2021-04-23 21:08] prezha opened #11175 "flake integration tests: fix clean up scrips and update timeout"
to reduce the integration tests flake because of issues with leftovers from previous tests runs, cleanup steps should be fixed in jenkins scripts (specifically for kvm domains & networks and for /tmp dir), and also, the test timeout should be increased from 70 to 90 mins

/assign

[2021-04-23 21:25] prezha opened #11177 "bump kindnet to v20210326-1e038dc5"
update kindnet cni to the current version: v20210326-1e038dc5

ref: https://hub.docker.com/r/kindest/kindnetd/tags
src: https://github.com/kubernetes-sigs/kind/tree/master/images/kindnetd

/assign

[2021-04-23 21:44] prezha opened #11179 "kubeadm join error: "Found multiple CRI sockets, please use --cri-socket to select one: /var/run/dockershim.sock, /var/run/crio/crio.sock""
kubeadm join will fail with this error if multiple CRI sockets exist (eg, both docker and crio are started at the same time)

/assign

[2021-04-23 21:50] afbjorklund commented on #11179
minikube is supposed to set the criSocket in the config, but maybe it fails to do so for the non-CRI (i.e. dockershim)

[2021-04-23 21:58] prezha opened #11181 "multinode: fails with non-docker container runtimes"
for non-docker container runtimes, creating multinode cluster always fails because the recommended bridge cni is incompatible with multinode, as seen in logs:

[code]
or
[code]

[2021-04-23 22:21] spowelljr opened #11183 "Update GitHub issue templates to instruct users to provide `minikube logs` output"
The output of `minikube logs` has been updated to include the last start logs. The template should be updated to reflect this so the user runs fewer commands.

Current Template:
[code]

The new template should instruct the user to provide the output of `minikube logs` instead of providing the start logs and also mark the `minikube logs` as non-optional.

Example:
[code]

[2021-04-23 22:29] prezha opened #11184 "improve how cni and cruntimes work together"
crio is the only container runtime atm that allows specifying cni network that should be used (via 'cni_default_network' config param) and, unlike containerd or docker, it doesn't need custom kubelet's '--cni-conf-dir' flag to avoid conflicting CNI configs in default /etc/cni/net.d, so we can used that to improve how cni & cruntime work together (especially for multinode), while also avoiding late

[2021-04-23 22:51] #11175 closed

[2021-04-23 23:05] igortas commented on #7879
Is there any news on this topic? How to use localhost for nodeport, loadbalancer or ingress, when minikube, kubectl and docker are installed in WSL2, but there is no docker-desktop at all, or minikube as windows executable. Address is constantly 192.168.49.2, and can't be accessed from browser or postman(insomnia).

[2021-04-23 23:35] spowelljr commented on #11090
@imoisharma Thanks for reporting your issue. There seems to be a little confusion here.

If you want to upgrade to the minikube v1.19.0 you can download it here: https://github.com/kubernetes/minikube/releases

minikube and Kubernetes versions are two different things.

As per your issue starting minikube v1.15.1 with Kubernetes version v1.19.0, please re-run the start command with the `--alsologt

[2021-04-24 00:11] aidagha commented on #11068
[code]

[2021-04-24 00:12] aidagha commented on #11068
[code]

[2021-04-24 01:32] #9777 closed

[2021-04-24 02:48] cheslijones commented on #7879
@igortas This is what has been working for me. I've actually been using WSL2 for a few months or so for development, which I thought I'd never see the day that would happen.

This is what I've been doing and tested on several installs:

1. Install WSL2 (obviously)... I've just been using Ubuntu 20.04 and make sure you are always working in `~/` and not the Windows file system `/mnt/c/`.
2. Install

[2021-04-24 03:54] igortas commented on #7879
@cheslijones Thank you very much. I have exactly the same stack as u provided, even running the project with skaffold dev. Definetely the problem on  my side was with minikube ingress addon. Also not sure if sudo service docker start, is exactly the same as dockerd(this is how i've runned docker service), But even I can access the localhost(80,443), I like to apply different port, like 3000, not s

[2021-04-24 05:08] yeahdongcn opened #11187 "KubeVirt addon couldn't get enabled"
**Steps to reproduce the issue:**

1. minikube addons enable kubevirt -p demo
2.
3.

**Full output of failed command:**

[xx@nhk8s-node2 ~]$ minikube addons enable kubevirt -p demo
  - Using image bitnami/kubectl:1.17
* The 'kubevirt' addon is enabled

kubevirt-install-manager got started but nothing happened.

**Full output of `minikube start` command used, if not already included:**

**Optional:

[2021-04-24 05:59] kcnet-kguru opened #11188 "app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-04-24 06:00] #11188 closed

[2021-04-24 06:53] afbjorklund commented on #11184
I'm not sure there is anything that minikube can do about this, Kubernetes says that installing a CNI means that it will be used. It doesn't support having software configured that is not supposed to be used, in `/etc/crictl.yaml` and in `/etc/cni/net.d`.

So as soon as you add `cri-o` or `cri-containerd-cni`, things break. The main reason that `docker-ce` and `containerd.io` "works", is that they

[2021-04-24 06:58] afbjorklund commented on #11184
You have already seen how the autodetection crashes, when there is more than onetime running.

`Found multiple CRI sockets, please use --cri-socket to select one: /var/run/dockershim.sock, /var/run/crio/crio.sock`

There is a hack to skip reporting /run/containerd/containerd.sock when /var/run/docker.sock is present.

[code]

[2021-04-24 07:07] afbjorklund commented on #11184
Once we start running CRI for docker (with Kubernetes 1.22), it means that we will have to use criSocket for it.

Currently cri-dockerd defaults to running on `/var/run/dockershim.sock` to avoid users having to configure it... :shrug:

[code]

But you _could_ use `--container-runtime-endpoint='unix:///var/run/cri-dockerd/cri-dockerd.sock` or something.

[2021-04-24 09:56] avoidik commented on #9777
if someone came across this (closed) question too, based upon my swift analysis "Delegate=yes" flag on Docker systemd service isn't really required (because by itself Docker does not spawn any child processes), but definitely will be needed for `containerd` and `cri-o` CRIs to be able to inherit cgroup limits by theirs child processes

[2021-04-24 14:43] Sahilgupta942 commented on #7659
Thank you for the help.....after trying all other methods, this method worked

[2021-04-24 14:44] afbjorklund commented on #9639
https://github.com/kubernetes/minikube/blob/master/enhancements/proposed/20201230-containerd-default/container-default.md

/lifecycle frozen

[2021-04-24 14:45] afbjorklund commented on #9992
https://github.com/kubernetes/minikube/blob/master/enhancements/proposed/20201230-standard-distro/standard-distro.md

/lifecycle frozen

[2021-04-24 14:50] Nagaraja-H commented on #10266
1) install docker engine
2) run sudo usermod -aG docker $USER
3)  newgrp docker
3) minikube start --driver=docker

It worked for me

[2021-04-24 16:28] medyagh commented on #11121
thank you everyone for reporting this bug, this seems to be side effect of this PR https://github.com/kubernetes/minikube/pull/10879 that we tried to update the ingress to new version, unfortunately our integration test did not catch this problem,
Please stay tuned, we will create a fix for this and hopefully by adding an integration test this should never happen again.

Thank you for your patienc

[2021-04-24 16:28] medyagh commented on #11121
CC: @govargo

[2021-04-24 16:30] medyagh commented on #11108
thank you everyone for reporting this bug, this seems to be side effect of this PR #10879 that we tried to update the ingress to new version, unfortunately our integration test did not catch this problem,
Please stay tuned, we will create a fix for this and hopefully by adding an integration test this should never happen again.

Thank you for your patience

@joshuamataaraya  @btalbot  I will close

[2021-04-24 16:30] #11108 closed

[2021-04-24 16:32] medyagh commented on #11147
thank you everyone for reporting this bug, this seems to be side effect of this PR #10879 that we tried to update the ingress to new version, unfortunately our integration test did not catch this problem,
Please stay tuned, we will create a fix for this and hopefully by adding an integration test this should never happen again.

meanwhile could you try
[code]
and see if that fixes the problem ?

I

[2021-04-24 16:32] medyagh commented on #11115
thank you everyone for reporting this bug, this seems to be side effect of this PR #10879 that we tried to update the ingress to new version, unfortunately our integration test did not catch this problem,
Please stay tuned, we will create a fix for this and hopefully by adding an integration test this should never happen again.

meanwhile could you try

[code]

and see if that fixes the problem ?

[2021-04-24 16:33] #11115 closed

[2021-04-24 16:52] #9398 closed

[2021-04-24 20:23] govargo commented on #11121
Sorry for this unablement to use ingress addon. I investigated why this happens.

Yes. This is the issue of the admission webhook.
Currently, upstream ingress-nginx admission controller doesn't allow Ingress of `networking.k8s.io/v1`.
The closest issue is https://github.com/kubernetes/ingress-nginx/issues/7066

I confirmed the admission controller of ingress-nginx and found out it doesn't support

[2021-04-24 20:28] govargo commented on #11121
And I also confirmed the ingress can route with these yaml files.

[code]

**This worked because the version is v1beta1**
[code]

**This doesn't work because the version is v1. [the admission controller](https://github.com/kubernetes/ingress-nginx/blob/master/internal/admission/controller/main.go) always rejects**
[code]

**Error with v1 version**
[code]

[2021-04-24 20:31] govargo commented on #11121
I'll add workaround to current ingress addon so that we can use v1 ingress resource.
I'll send PR soon.

[2021-04-24 21:59] govargo commented on #11121
Further investigation and confirmation, I found out the difference between upstream ingress-nginx manifests and our manifests.
As I described above, the ingress-nginx controller validates only `networking.k8s.io/v1beta1` not inculding `networking.k8s.io/v1`.
However, our manifests currently include both `networking.k8s.io/v1beta1` and `networking.k8s.io/v1`.
It might have been included while updat

[2021-04-24 22:20] vishjain commented on #9795
/remove-lifecycle rotten

[2021-04-24 22:56] keliss commented on #4547
Looks like it is still not fixed. I'm running minikube 1.19.0, and ```minikube start --insecure-registry "host.minikube.internal:8082"``` doesn't change the ```/etc/docker/daemon.json``` file for an existing vm.

[2021-04-25 04:03] #4868 closed

[2021-04-25 04:39] medyagh commented on #11121
@sherbang @joshuamataaraya @btalbot @bpb54321 @dgoldssfo
do you mind trying the binary in this PR and verify if this fixes the problem for you ?

http://storage.googleapis.com/minikube-builds/11189/minikube-linux-amd64
http://storage.googleapis.com/minikube-builds/11189/minikube-darwin-amd64
http://storage.googleapis.com/minikube-builds/11189/minikube-windows-amd64.exe

[2021-04-25 04:43] medyagh commented on #11174
@SteveBisnett  do u mind sharing the output of
`minikube logs`

(preferably with latest version)

alternatively I am curious if this flag helps you?
minikube start --force-systemd

[2021-04-25 04:56] medyagh commented on #11174
the original error
[code]
comes from `kubeadm init` I am curious would upgrading docker help ?

[2021-04-25 07:54] afbjorklund opened #11192 "Only run `minikube image build` on control plane by default"
Currently there is a lot of duplicated code, between `minikube image load` and `minikube image build`.

One of these includes selecting which minikube nodes (machines) to run on, in the selected profile that is.

This might have some issues with multi-node:

For **load**, it will load the image to all the nodes in the cluster (which makes sense, without a registry)
For **build**, it will build the

[2021-04-25 11:31] prezha commented on #11184
i think that the fact that `If there are multiple CNI configuration files in the directory, the kubelet uses the configuration file that comes first by name in lexicographic order.` (ref: https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/#cni) still holds just reflects its lower priority and lack of time for (properly) solving this upstream(s), which can be

[2021-04-25 11:56] afbjorklund commented on #11184
The "lexicographic order" thing doesn't work, for instance the kindnet CNI is bootstrapped from a pod. So it expects Kubernetes to be crash-looping, and _any_ installed CNI will take precedence (over a not-yet-existing one) and prevent it from working correctly.

So we need to ask podman to stay away from using `/etc/cni/net.d` (but use a different directory*), and to **not** install any container

[2021-04-25 12:01] nigurr commented on #10986
with KVM it works brilliantly. Spinning up VM is always going to be resource heavy and would be great to leverage native Docker to leverage the Kube

[2021-04-25 12:02] prezha commented on #11184
that's why in this 'workaround' we are pointing "/etc/cni/net.mk" to be used for kindnet cni instead so that kindnet pod gets initialised correctly while other 'relevant' pods (like coredns) stay in the pending state waiting for kindnet to become operational?

[2021-04-25 12:03] afbjorklund commented on #11184
Renaming the cni directory or installing fake cni are strange workarounds, I think.

[2021-04-25 12:05] prezha commented on #11184
completely agree, and atm only in the case of crio cr it only takes 'cni_default_network' flag (so no need for any kind of workaround)

[2021-04-25 12:08] marlon-sousa opened #11193 "Cannoot access services via NodePort on MacOS with Docker driver"
Hello,

I am facing issues accessing services via node port on Mac OS.

## System information:

[code]

## Ninikube version:
[code]

## kubectl version:

[code]

## docker version:
[code]

## Minikube installed with homebrew version:
[code]

 ## minikub init command

minikube start --driver=docker --mount --mount-string $(PWD)/dev/volumes:/volumes

**Steps to reproduce the issue:**

1. On Mac OS,

[2021-04-25 12:09] prezha commented on #11184
if i remember correctly, cilium, for example, does not need a workaround either as it restarts 'relevant' pods after it's deployed - that is a decent solution i think, but not all cni used it

what do you suggest?

[2021-04-25 12:09] afbjorklund commented on #11184
CRI-O is perfectly fine to install /etc/crictl.yaml (for CRI) and  /etc/cni/net.d/100-crio-bridge.conf (for CNI) -
but if and only if it is actually the selected runtime. Which means that it _can't_ install them with the binary.

[2021-04-25 12:10] afbjorklund commented on #11184
I think we need to leave /etc/crictl.yaml and /etc/cni/net.d empty, by removing them from the packaging.

[2021-04-25 12:17] afbjorklund commented on #11184
Besides changing the Podman configuration, I also need to change the BuildKit configuration.

[code]

[2021-04-25 12:21] prezha commented on #11184
that makes sense too - do you mind please creating a pr that would check if it solves this issue?

[2021-04-25 14:06] pancudaniel7 commented on #11124
I've found the problem on Ubuntu, my **Docker** was installed using **snap** witch for some reason dose not work properly with **minikube**, so I've reinstall **Docker** using **apt-get** and it works now.

[2021-04-25 14:13] afbjorklund commented on #11193
This is a known issue, Docker Desktop networking doesn't support ports. You will have to use minikube tunnel.

https://docs.docker.com/docker-for-mac/networking/#known-limitations-use-cases-and-workarounds

https://minikube.sigs.k8s.io/docs/handbook/accessing/

You could also run minikube in a VM, to get a proper IP.

[2021-04-25 14:14] afbjorklund commented on #11193
minikube tunnels the ssh port automatically

[2021-04-25 16:00] #11177 closed

[2021-04-25 16:03] afbjorklund commented on #11166
I'm confused. You mean that `minikube start` exits currently, before the downloads have been completed ?

[2021-04-25 16:32] medyagh commented on #11171
@davecardwell than you for creating this sue, not all our flags are configurable by ENV but this should be easy to add support for it. (Since we are using cobra)

Would you be interested to contribute this as a PR to minikube ?

[2021-04-25 17:46] mnebus commented on #11121
@medyagh - The 11189 darwin build resolved this issue for me.

[2021-04-25 17:49] dgoldssfo commented on #11121
We changed the apiVersion in our manifests to work around the problem, so I'm not in a good position to validate. Apologies.

[2021-04-25 19:05] afbjorklund opened #11194 "Remove CNI configuration from the podman installation"
Kubernetes has a problem to handle third-party packages using CNI.

Any installed config files will be used if present, in alphabetical order...
There is no way to select a specific config, especially one appearing later.

Since https://github.com/containers/podman/issues/2370

Podman now has a configuration option to select a different directory:

[code]

`network.network_config_dir`

Changing th

[2021-04-25 19:06] afbjorklund commented on #11194
This would avoid having to do workarounds like in PR #10384

[2021-04-25 19:13] afbjorklund commented on #11194
This also needs to be done for cri-o and for containerd packages.

[2021-04-25 19:46] afbjorklund opened #11195 "Automatically start buildkit for `minikube image build` for containerd"
Trying to build an image for containerd will likely result in an error like:

`error: failed to get status: rpc error: code = Unavailable desc = connection error: desc = "transport: error while dialing: dial unix /run/buildkit/buildkitd.sock: connect: no such file or directory"`

This is because of the missing packaging and units, for buildkitd component.

The workaround suggested by upstream is t

[2021-04-25 19:49] afbjorklund commented on #1793
Disregard mention, wrong project.

[2021-04-25 20:21] marlon-sousa commented on #8564
Hello,

Any news on this issue?

I have been facing it using Mac OS and MiniKube with hyperkit driver. Either I get a permission error or by manipulating the PGDATA variable I can make the pod run but files are simply not persisted on the host path.

The only thing I need is to share a folder from the minikube vm with the host machine (minikube mount) and then use that sane folder as mount of /var

[2021-04-25 21:42] #11121 closed

[2021-04-26 03:16] chrisroat commented on #3749
I believe this is still an open question.   I think it would substantially lower the barrier to entry for those who want to use a GPU with minikube.

Is the right approach to allow `--driver` to support a new option like `nvidia-docker`, or is a new flag needed?

[2021-04-26 04:35] zhan9san commented on #11193
Hi @marlon-sousa

This issue is similar to #9404
A custom service is required to be published on localhost/MacOS.

1. Expose specific port which app listens on. [Host Port]:[NodePort in Kubernetes Cluster]
[code]
2. Create Service
[code]

test.yml
[code]

3. Verify Service
[code]

@afbjorklund
This issue brings me back to considering whether #11070 is necessary.
It seems `--ports 8443:8443` can ex

[2021-04-26 05:25] #10912 closed

[2021-04-26 06:00] afbjorklund commented on #11193
@zhan9san But #11070 (and #8008) is about exporting the API server _outside_ of localhost ?
Normally ssh and apiserver (port 8443) is only available to `127.0.0.1`, for security reasons.

Using docker publishing for apps is not recommended, because it requires restarting the container.
So the ssh tunnels are (marginally) better, but a better ingress solution for crippled drivers is required...

I'

[2021-04-26 06:57] zhan9san commented on #11193
@afbjorklund

1. It supports localhost as well. And it provides a workaround to this issue.
[code]

2. `Using docker publishing for apps is not recommended`. For this scenario, could you please explain why does it require restarting the container? Does it mean `minikube delete/minikube start --driver=docker --ports=127.0.0.1:30080:30080`
Both docker and ingress can make application accessible outs

[2021-04-26 07:32] zhan9san commented on #11193
I agree with you, `There are some other similar solutions.`

Regarding NoRouter, it's a great tool providing mutual interconnectivity across multiple remote hosts.

Besides, using a one-time pod to access k8s cluster running in container is another choice.
[code]

[2021-04-26 07:59] afbjorklund commented on #11193
That's just how the docker publish works, it _only_ takes affect when the container is started.

So when you add a new app, the new NodePort would have to be added to the publish list.

[2021-04-26 08:39] zhan9san commented on #11193
@afbjorklund
Thanks for you clarification. Yes, you're right.

My opinion is that a k8s cluster created by minikube is ephemeral, that's to say, once quick verification is done, destroy cluster as well. The scenario you mentioned will not exist.

Here is a bold idea, how about adding `-P, --publish-all` in minikube?
I'm not sure whether docker dynamically publishes ports or just when it starts?

[2021-04-26 09:00] afbjorklund commented on #11193
That just means to publish all ports that are exposed in the container image

[2021-04-26 09:13] BioGeek commented on #10343
@spowelljr I upgraded `minikube` from `v1.17.1` to `v1.19.0` and tried again, but I still have the same error.

A ticket is opened (https://github.com/kubernetes/website/issues/26998) to update [the blog post that I am following](https://kubernetes.io/blog/2020/05/21/wsl-docker-kubernetes-on-the-windows-desktop) to show the correct commands to install `minikube` on WSL2. Once that issue gets resol

[2021-04-26 10:14] zhan9san commented on #11193
@afbjorklund

You are right.

Let's focus on the root cause, different from the Linux system, there is no bridge0 on Macos, and it makes container IP  unreachable from host.

Fortunately, we can define the port range in both apiserver and docker publishing at the same time.
Restarting container would not be an issue.

Please see sample below. The small range is for performance.

[code]

[code]

[2021-04-26 10:25] kartoch commented on #10387
I tried again with Ubuntu 20.10, minikube 1.19.0, k8s 1.20.2 and linkerd 2.9.2, but still have the same problem with the default docker driver.

But installing podman and using the flag `--driver=podman` on minikube start solved it.

I still don't know why it is not working on docker but if @ilya-zuyev has something working, it must be my configuration (which is rather standard).

I'm closing the

[2021-04-26 10:25] #10387 closed

[2021-04-26 10:26] afbjorklund commented on #11193
I **don't** want to open more ports, and I want to close down 2376 and 5000 whenever possible...

* 2376 is the legacy tcp port for DOCKER_HOST
* 5000 is the workaround for missing registry cert

This is not only an issue for the Docker Desktop drivers (Mac and Win), but also the SSH driver.

For now, it's a known shortcoming and it is being addressed by `minikube tunnel` (and `ssh -L`)

[2021-04-26 10:36] afbjorklund commented on #11193
Note that you can set up your own ssh tunnels for `NodePort`, the same way minikube does it for `LoadBalancer`.

`ssh -nNT -L 30080:30080`

[2021-04-26 10:43] zhan9san commented on #11193
`minikube tunnel` use the k8s clientset to query the API server for services in the NodePortEmulator.
And then to set up the ssh tunnel, correct?

Is this feature in the plan?

[2021-04-26 10:49] leynebe commented on #2805
I ran into this ImagePullBackOff issue when deploying an application on minikube with an image stored in AWS ECR and this comment resolves it.

[2021-04-26 11:55] SteveBisnett commented on #11174
So I have attempted to start in '--driver=none' since this is a VM and I get the same results. It is as though Docker is not running, despite being able to get a status and running "Hello World".

Here is the output of the --container-runtime=containerd command

[root@control-plane ~]# minikube start --container-runtime=containerd
* minikube v1.18.1 on Centos 8.3.2011
* Using the docker driver bas

[2021-04-26 12:07] afbjorklund commented on #11174
Can you post the output of `docker version` ?

[2021-04-26 12:08] SteveBisnett commented on #11174
[root@control-plane ~]# sudo docker version
Client: Docker Engine - Community
 Version:           19.03.15
 API version:       1.40
 Go version:        go1.13.15
 Git commit:        99e3ed8919
 Built:             Sat Jan 30 03:16:44 2021
 OS/Arch:           linux/amd64
 Experimental:      false

Server: Docker Engine - Community
 Engine:
  Version:          19.03.15
  API version:      1.40 (minim

[2021-04-26 12:08] afbjorklund commented on #11174
Without the sudo.

[2021-04-26 12:10] SteveBisnett commented on #11174
I can't. Despite following the instructions on "Manage Docker as a non-root user" found here (https://docs.docker.com/engine/install/linux-postinstall/) it will only respond when I use SUDO.

[2021-04-26 15:55] sharifelgamal commented on #9692
this is done

[2021-04-26 15:55] #9692 closed

[2021-04-26 17:02] akshayshelke18 opened #11204 "error in installation"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

 Exiting due to GUEST_START: wait: /bin/bash -c "sudo env PATH=/var/lib/minikube/binaries/v1.10.0:$PATH kubeadm init --config /var/tmp/minikube/kubeadm.yaml  --ignore-preflight-errors=DirAvailable--etc-kubernetes-manifests,DirAvailable--var-li

[2021-04-26 17:38] afbjorklund commented on #11174
minikube is supposed to be able to detect the docker error, so for some reason we get an "OK" error code but no output ?

Possible we need to look out for "" results from `docker version` and `docker info`, but I don't think that has been seen before

[2021-04-26 17:56] TekTimmy opened #11205 "NotABug: unable to create log: open: permissions denied"
**Steps to reproduce the issue:**

I want to use Minikube on a linux machine with several users, so this is what I did so far:

* Setup user for minikube and switch user
[code]
* Start Minikube
[code]
* Prepare access to Minikube to other users:
[code]
* Provide access to Minikube to user "test-user":
[code]

[code]

When then one user1 runs `minikube ssh` and afterwards user2 does the same i get

[2021-04-26 18:28] andriyDev commented on #11166
The latter. When running two instances of `minikube start`, only one image should be downloaded.

The original issue involved only locking when `--download-only` was involved, but perhaps this should be more generic and apply to any `minikube start`.

[2021-04-26 19:01] afbjorklund commented on #10149
Will be in 1.20

[2021-04-26 19:01] #10149 closed

[2021-04-26 19:03] afbjorklund commented on #11166
Good thing, we had some other corruption of the download images so I was starting to question everything :-)

[2021-04-26 19:09] afbjorklund commented on #11205
As long as we use `os.Args` for the hash, should probably throw the user name in there as well....

But another question is why the `log_dir` didn't work ? Seems like it is still using $TMP

[2021-04-26 19:34] medyagh opened #11207 "Periodically tell user about minikube features/tips and tricks"
we should have a Random Tips that on each time they start minikube it will tell them about a feature of minikube...(the Tips of the day should be a way that u could disable it)

[code]

or

----- Tip of the day ---------------------------------------------------------------------------
Did you know you can enroll getting notifcation for beta releases by minkube config set .... ?

| to disable tips

[2021-04-26 19:58] afbjorklund commented on #11207
We can add more styles to the out.Boxed perhaps, I sort of hardcoded the red "warning" one for now:

Type: "Round"
Color = "Red"

See https://github.com/Delta456/box-cli-maker#box-types

[2021-04-26 20:22] SteveBisnett commented on #11174
Here is the output of 'docker info'... Of course with SUDO:

[root@control-plane ~]# sudo docker info
Client:
 Debug Mode: false

Server:
 Containers: 9
  Running: 0
  Paused: 0
  Stopped: 9
 Images: 8
 Server Version: 19.03.15
 Storage Driver: overlay2
  Backing Filesystem: xfs
  Supports d_type: true
  Native Overlay Diff: true
 Logging Driver: json-file
 Cgroup Driver: cgroupfs
 Plugins:
  Volu

[2021-04-26 21:17] medyagh commented on #11069
I suspect if we turn on the setting that when the progress bar is 100% to hide itself it will fix this issue

[2021-04-26 21:18] TekTimmy commented on #11205
Can i disable the logging? I don't think I need it

Yes that might actually be a bug 🐛

[2021-04-26 21:19] ilya-zuyev commented on #11069
<img width="600" alt="Screen Shot 2021-04-26 at 2 14 59 PM" src="https://user-images.githubusercontent.com/69652564/116152098-58356200-a69a-11eb-9c90-5b544cb522de.png">
another thing is that we continue to show progress bar even when progress is 100% already

[2021-04-26 22:47] #11102 closed

[2021-04-27 00:08] oprudkyi opened #11211 "pod-to-pod source IP is lost when using driver=docker with services"
**Steps to reproduce the issue:**

1. expose echo server according to https://kubernetes.io/docs/tutorials/services/source-ip/
[code]
2.  run from any other pod (expected client address 172.17.0.22)
[code]

**Full output of `minikube start` command used, if not already included:**
[code]

docker is bound to 172.17/16
[code]

also affected minikube v1.19.0 and k8 version v1.18.16

we are using ftpd

[2021-04-27 00:45] medyagh commented on #11069
seems like we the source of the problem is we create two independent  `pb`

https://github.com/medyagh/minikube/blob/b45c782df392d90613d6e8bcc94e029cd13128bb/pkg/minikube/image/image.go#L271

[code]

and the other one in
[code]
 should be using a Pool like the example in this issue https://github.com/cheggaaa/pb/issues/31#issuecomment-615189101
[code]

[2021-04-27 00:45] medyagh commented on #11069
CC @andriyDev

[2021-04-27 00:58] medyagh commented on #11211
thank you for creating this issue, I noticed you are using a very old minikube  to use an older kubernetes verison

you could pass --kubernetes-version to specify the k8s version to any minikube verison

@oprudkyi I am curious would enabling CNI would fix this issue ?

minikube start --cni=cilium
or any of these cnis

[code]

[2021-04-27 01:05] medyagh commented on #11069
Ah seems like V3 does NOT have pooling feature
https://github.com/cheggaaa/pb/issues/166#issuecomment-682400009

[2021-04-27 02:03] oprudkyi commented on #11211
Hi @medyagh

I am checking with minikube v1.19.0 (and v1.16.0) to be sure it's not some sort of regression

for gke k8 v1.18 in the regular channel https://cloud.google.com/kubernetes-engine/docs/release-notes and I am trying to be close to prod

thank you, it does fix the issue with IPs but breaks ingress
any ideas how to solve ?
[code]
i.e. routing works for ping, but doesn't for 443

from minik

[2021-04-27 03:40] vagdevik commented on #9192
I had the same issue. So I did the following and it was solved!!!

1. `minikube delete`
2.  download minikube and install it again
3. download Virtualbox and instal it again
4. `minikube start --driver=virtualbox`

[2021-04-27 03:41] vagdevik commented on #9130
I had the same issue. So I did the following and it was solved!!!

1. `minikube delete`
2. download minikube and install it again
3. download Virtualbox and instal it again
4. In new cmd, `minikube start --driver=virtualbox`

[2021-04-27 05:51] afbjorklund commented on #11205
The log_file was different in older versions, and you might be able to use TMPDIR as a workaround

[2021-04-27 07:00] bkeelan opened #11213 "Minikube time sync issues"
**minikube version** v1.19.0
**vm-driver** hyperkit

Was hoping to reopen an [older issue #1378](https://github.com/kubernetes/minikube/issues/1378) as timesyncd was removed from the config with [this commit](https://github.com/kubernetes/minikube/commit/384b52b9f44a86c1e97c970a320191e4b885ac87#)

[code]

I realize the date is back in sync here but I just fixed it. I'm running into the same issues

[2021-04-27 07:58] TekTimmy commented on #11205
Thank you @afbjorklund, works like a charm!
I have added the following to `/etc/profile` so all users have their own TMPDIR for the minikube command:
[code]

[2021-04-27 08:14] afbjorklund commented on #11213
I'm not sure if there is any _harm_ in running another NTP server, in case the VM is drifting for some reason ?

I don't removing systemd-timesyncd was intended, so if it is gone now I think that could have happen by mistake

[2021-04-27 09:38] satishs97 opened #11214 "not delete minikube"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-04-27 10:25] lrul opened #11215 "start V1.20.1 k8s by minikube fail，no checksum found in，but the link is work on my pc"
**重现问题所需的命令**： minikube start --registry-mirror=https://registry.docker-cn.com --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers --vm-driver=docker --alsologtostderr -v=8 --base-image registry.cn-hangzhou.aliyuncs.com/google_containers/kicbase:v0.0.10 --kubernetes-version=1.20.1

**失败的命令的完整输出**：<details>

 Failed to update cluster: updating node: downloading binaries: download

[2021-04-27 11:05] patreka opened #11216 "xiting due to K8S_INSTALL_FAILED: updating control plane: generating kubeadm cfg: getting cgroup driver: docker info --format : exit status 2 stdout:"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-04-27 13:38] afbjorklund commented on #11211
I think this is a known issue with the Docker bridge.

[2021-04-27 14:11] afbjorklund commented on #11174
We don't use sudo for docker, only for running podman...

It is kinda arbitrary, and some people _prefer_ using "sudo docker" over adding their user to a  root-equivalent group.

But it is a common setup: https://docs.docker.com/engine/install/linux-postinstall/ (`sudo usermod -aG docker $USER`)

What is the output and exit code of running docker **without** ?

[2021-04-27 14:23] afbjorklund commented on #11174
Anyway, can't reproduce this.

Here is what I get, after downgrading Docker from 20.10 to 19.03:

[code]

[2021-04-27 15:50] bkeelan commented on #11213
Hmm, looks like it's enabled but unable to hit the NTPServer

[code]

[code]

[code]

[code]

[2021-04-27 16:41] medyagh commented on #11166
/assign @andriyDev

[2021-04-27 17:00] SteveBisnett commented on #11174
So, I already executed that command, but when running 'docker info' without sudo it shows this:

[root@control-plane ~]# sudo usermod -aG docker $USER
[root@control-plane ~]# docker info
[root@control-plane ~]#

[2021-04-28 02:40] iketiunn commented on #11115
This command fixed my problem below after upgrade to `1.19.0`:
[code]

[2021-04-28 03:05] zhan9san commented on #11193
Hi
This command works well for NodePort service.

`minikube service hello-minikube`

Please refer to [minikube makes it easy to open this exposed endpoint in your browser:](https://minikube.sigs.k8s.io/docs/handbook/controls/)

[2021-04-28 05:30] afbjorklund commented on #11213
Looks like this is specific to hyperkit, no issue with kvm2:

[code]

Wonder where that `LinkNTPServers` comes from ?

[2021-04-28 05:46] afbjorklund commented on #11213
Also https://github.com/moby/hyperkit/issues/110#issuecomment-289570604

Apparently docker assumes that a NTP server is running on the host ?

[2021-04-28 06:50] imoisharma commented on #11090
Hi @spowelljr, thanks for replying.

**Requirement**: I need to install two different minikube versions on my Ubuntu 20.04 LTS. One is `minikube 1.15` and another one is `minikube 1.19`.
I need to know, is there a way to run create two profile
1. default which always refers to `minikube 1.15`
2. another one refers to `minikube 1.19` when I specified via [profile tag](https://minikube.sigs.k8s.io/d

[2021-04-28 08:56] afbjorklund commented on #11174
So you get these issues _inside_, when you run the commands with `minikube ssh` on the node ?

And not _outside_ on the host, as part of the verification before running the `minikube start` command

As you are running as root (and not "docker" $USER) here, it should **not** be about permissions.

Still trying to duplicate. After starting the minikube cluster, you logged in to the node and did `sud

[2021-04-28 09:06] umeshch1 opened #11219 "starting minikube on arm64 Mac with Parallels"
**Steps to reproduce the issue:**

1.❯ minikube start
😄  minikube v1.19.0 on Darwin 11.2.3 (arm64)
✨  Automatically selected the parallels driver

❌  Exiting due to DRV_UNSUPPORTED_OS: The driver 'parallels' is not supported on darwin/arm64
2.
3.

**Full output of failed command:**

❯ minikube start --driver=parallels

😄  minikube v1.19.0 on Darwin 11.2.3 (arm64)
✨  Using the parallels driver base

[2021-04-28 09:18] afbjorklund commented on #11219
Is `docker-machine-driver-parallels` available for `arm64` ? If so, the "support" list needs updating...

[2021-04-28 09:24] afbjorklund commented on #11219
This also needs the ISO to be available for arm64, but that is something that is planned.

[2021-04-28 13:19] SteveBisnett commented on #11174
I get these when accessing the console directly and logging in as root.

Based upon your last posts, I reinstalled Docker and after rebooting the system, I used the sudo -i and attempted to start minikube with the following command: minikube start --driver=none. This time I received a different response, but the cluster still did not start up....

[root@control-plane ~]# minikube start --driver=no

[2021-04-28 14:01] afbjorklund commented on #11174
The none driver is very different from the docker driver. For instance, you need to remember to disable SELinux and Firewalld.

[2021-04-28 14:06] SteveBisnett commented on #11174
FirewallD is offline and disabled.

This is running in a VM and was recommended to run it using the --none driver. Starting with Docker, I am still getting the same errors as before.

[2021-04-28 14:11] JulienBreux commented on #8332
Same problem

[2021-04-28 14:34] kenessajr commented on #8765
This worked for me

[2021-04-28 15:08] afbjorklund commented on #11174
Sure, either should work. Just can be a bit hard to follow when mixing drivers...
I still don't know what configuration would lead to docker outputting "empty" ?

But this part is a bit strange, makes you wonder what else was modified:
`WARNING: API is accessible on http://127.0.0.1:2375 without encryption.`

[2021-04-28 15:13] afbjorklund commented on #11174
But at least I could reproduce the bug where the none driver sets the hostname...

[2021-04-28 15:14] afbjorklund opened #11220 "Using the none driver sets the hostname to 'control-plane'"
This is not desired, the hostname should stay the way it is.

For multi-node VMs that we create ourselves, then sure.

But existing machines get to keep their current hostnames.

[2021-04-28 15:18] afbjorklund commented on #11193
Disregard that mention, wrong issue number...

[2021-04-28 15:29] afbjorklund commented on #11220
This happens when systemd co-conspires with NetworkManager.

[code]

Adding the address entry to the `/etc/hosts` file caused it, I think.

[2021-04-28 16:01] daehyeok commented on #11146
/assign

[2021-04-28 16:01] #11025 closed

[2021-04-28 17:22] ilya-zuyev commented on #11159
Minikube clusters are independent. If you need to communicate between two minkubes please use standard k8s solutions - ingress for example

[2021-04-28 17:34] ilya-zuyev commented on #11219
atm, only docker driver is supported on M1

[2021-04-28 17:46] ilya-zuyev commented on #11215
Hey @lrul, thanks for reporting. Could you check if https://storage.googleapis.com/kubernetes-release/release/v1.20.1/bin/linux/amd64/kubeadm?checksum=file:https://storage.googleapis.com/kubernetes-release/release/v1.20.1/bin/linux/amd64/kubeadm.sha256 link works on your system?

[2021-04-28 17:47] ilya-zuyev commented on #11214
Going to close this issue. If the problem still exists, please create a new one providing more details, minikube logs and system info

[2021-04-28 17:47] #11214 closed

[2021-04-28 17:50] ilya-zuyev commented on #11204
Hey @akshayshelke18! Please provide: version of minikube, full output of `minikube start` command and information about your OS. Thanks!

[2021-04-28 17:52] ilya-zuyev commented on #11187
Hi @yeahdongcn! What is you OS, and what version of minikube and which minikube driver are you using? Thanks!

[2021-04-28 17:55] k-weaver commented on #8512
I ran into this issue running Windows 10 19042.928. Even on my old Ubuntu VM I had running, it was unable to obtain an IP via DHCP on internal/private or even the default network(s). This worked at one point though, not sure what caused it to break but I'd bet it was probably a windows update of some sort.

I ended up using an existing external Virtual Switch that I had already setup previously. T

[2021-04-28 18:04] akshayshelke18 commented on #11204
Thank You, I have properly installed the minikube now, the error was it was
not supporting the KVM so now I have tried with normal Virtualbox. it's
running fine.

On Wed, Apr 28, 2021 at 11:20 PM ilya-zuyev ***@***.***>
wrote:

[2021-04-28 18:10] sharifelgamal commented on #5105
I'm actually in favor of this, I would approve a PR that makes that change.

[2021-04-28 18:22] medyagh commented on #10014
/assign @andriyDev

[2021-04-28 18:22] andriyDev commented on #10014
Yes this sounds neat!

[2021-04-28 18:22] medyagh commented on #10014
/assign @andriyDev

[2021-04-28 18:23] medyagh commented on #10038
@azhao155 is working on this

[2021-04-28 18:24] sharifelgamal commented on #10869
Yeah I would suspect that your Docker Desktop just doesn't have enough resources. Did you try increasing its disk size as recommended above @samuelarogbonlo ?

[2021-04-28 18:25] ilya-zuyev commented on #10971
@somnath-kadavergu any update on this issue? Did `minikube delete` help? If not please try to `rm -rf /home/somnath/.minikube` to remove all minikube files and then start minikube again

[2021-04-28 18:26] medyagh commented on #9362
@blueelvis thank you for figuring this out !
how about adding this to the contribution guide under a new section called External Package Managers with a link to choco links that you just posted

[2021-04-28 18:27] medyagh commented on #9362
I would accept any contribution that adds a new section to our webiste with links how windows package manger and possiblity section for others to be added later (such as brrew and others...)

[2021-04-28 18:28] ilya-zuyev commented on #10515
Duplicate of https://github.com/kubernetes/minikube/issues/10588. Going to close this issue, please feel free to reopen it.

[2021-04-28 18:28] #10515 closed

[2021-04-28 18:28] medyagh commented on #9362
the section could be called maintaining External Package Managers under
https://minikube.sigs.k8s.io/docs/contrib/

[2021-04-28 18:29] prezha commented on #11194
crio and podman allow you to specify the cni name?

if _just_ the podman is the issue, can we then just rename the ***/etc/cni/net.d/87-podman-bridge.conflist*** to something like ***/etc/cni/net.d/999-podman-bridge.conflist*** (assuming 999 would always be the last one in lexicographic order)?

then, the `default_network = "podman"` from ***/etc/containers/containers.conf*** (as given above in ht

[2021-04-28 18:30] ilya-zuyev commented on #10803
Done in https://github.com/kubernetes/minikube/pull/11095

[2021-04-28 18:30] #10803 closed

[2021-04-28 18:30] sharifelgamal commented on #10085
This does indeed seem to be a bug with `minikube tunnel`. We'd love some help pinning down what the exact issue is. Help wanted!

[2021-04-28 18:32] sharifelgamal commented on #8997
@vonbrand what error are you getting exactly?

[2021-04-28 18:35] medyagh commented on #8370
@Okhwan  do u mind sharing what OS and what Linux verison were you using so maybe we could add an integration test for this?

[2021-04-28 18:37] medyagh commented on #8370
@ilya-zuyev could not loading module config  be related to our containerd

[2021-04-28 18:37] sharifelgamal commented on #2481
@legend-zeratul to be clear, it's the `--mount` and `--mount-string` parameters for `minikube start` that's not working for you?

[2021-04-28 18:38] spowelljr commented on #11044
@samwho Does minikube continue to retry, or does it hang like your logs indicate?

[2021-04-28 18:40] medyagh commented on #7923
how about we add this to our FAQ and also the Docker Driver Troubleshooting Docs ?
so other users who want to use BTRFS could find this solution easily.

https://minikube.sigs.k8s.io/docs/faq/

and also maybe here

https://minikube.sigs.k8s.io/docs/drivers/docker/

[2021-04-28 18:44] sharifelgamal commented on #8013
This doesn't seem to be an issue anymore, closing for now.

[2021-04-28 18:44] #8013 closed

[2021-04-28 18:45] medyagh commented on #7438
@Aut0R3V this Documenation needs to be moved from the github repo to our website
under this section
https://minikube.sigs.k8s.io/docs/handbook/addons/

[2021-04-28 18:45] medyagh commented on #7438
I would accept any contribution that moves this Doc to our website

[2021-04-28 18:47] sharifelgamal commented on #9077
I do think this is valuable information, it would be an easy check to make as well.

[2021-04-28 18:48] medyagh commented on #6982
@tliron thank you That does sounds like a good idea to update our docs and maybe refactor our docs on registry addon with better examples and better categorization

[2021-04-28 18:50] medyagh commented on #9077
i think we should check if the very old docker versions fails or not, we added support for ancient docker versions in a PR that we might not wanna block users anymore but I would be okay with informing the user if their docker is more than 2 years old they might wanna look into upgrading it.

[2021-04-28 18:53] medyagh commented on #11162
@mben19 for SSH driver you need a remote IP

do u mind pasting the output of `minikube logs`

[2021-04-28 18:57] sharifelgamal commented on #9461
I don't believe this is an issue anymore. Closing for now.

[2021-04-28 18:57] #9461 closed

[2021-04-28 19:00] medyagh commented on #11110
@nvanhon I noticed you are using a very old verison of minikube
[code]

and is there a reason you had to do pass `kubelet.cgroup-driver=systemd`

we have a flag for minikube called --force-systemd that could be helpful in envs with a different cgroup !

btw have you tried the docker driver ?

and do u mind sharing the output of `docker info` ?

[2021-04-28 19:03] samwho commented on #11044
How would I verify that? I'm running `minikube start` again now. :)

[2021-04-28 19:07] Aut0R3V commented on #7438
So @medyagh just to make things clear, I have to move the readme at -  https://github.com/kubernetes/minikube/tree/master/deploy/addons/ingress-dns
to the addons section?

[2021-04-28 19:09] samwho commented on #11044
I've fired up a new cluster and it does appear to be hanging. Here's a new `minikube logs` for you:

<details>
==> Audit <==
|---------|--------------------------------|----------|------|---------|-------------------------------|-------------------------------|
| Command |              Args              | Profile  | User | Version |          Start Time           |           End Time            |
|

[2021-04-28 19:34] sharifelgamal commented on #4621
This seems to be an issue with 9p itself, upgrading the version broke symlinks. Our only real option is to change our mounting library, which would be a nontrivial undertaking.

[2021-04-28 20:58] danielhabakkuk opened #11222 "xdg-open: no method available for opening"
**Steps to reproduce the issue:**

1. minikube service mongo-express-service

🎉  Opening service default/mongo-express-service in default browser...
xdg-open: no method available for opening 'http://10.128.0.4:30000'

❌  Exiting due to HOST_BROWSER: exit status 3

😿  If the above advice does not help, please let us know:

**Full output of `minikube start` command used, if not already included:**

[2021-04-28 21:05] ilya-zuyev commented on #10673
in progress

[2021-04-29 09:02] RA489 commented on #11222
/kind support

[2021-04-29 09:05] RA489 commented on #11216
@patreka Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank you for sharing your experience!

[2021-04-29 09:05] RA489 commented on #11216
/triage needs-information

[2021-04-29 09:07] RA489 commented on #11181
/kind support

[2021-04-29 09:08] afbjorklund commented on #11222
You can set your preferred web browser in your desktop settings, or you can export the $BROWSER environment variable.

Alternatively, you can use `--url` to just print it to the console instead of trying to opening it with the default web browser ?

[2021-04-29 09:10] afbjorklund commented on #11222
I think `firefox` is the default, see https://help.ubuntu.com/community/WebBrowsers

[2021-04-29 09:41] lrul commented on #11215
i had resolved it by upgrade minikube to latest verison

[2021-04-29 09:41] #11215 closed

[2021-04-29 11:51] legend-zeratul commented on #2481
OK, let me add a more detailed description..

For development, say I'm building appX and as part of containerising the app, I've moved out all persistent stores into a set of folders, say, dataX.. As I've understood, the base dataX folder needs to be mounted into the minikube's /data directory (for example), and the app's persistent volumes refer to this /data directory in their descriptors.. As p

[2021-04-29 14:58] ranjankhanna commented on #11170
Any suggestions that i can try?

[2021-04-29 15:14] afbjorklund commented on #11194
podman is not the problem here, the network works fine. we just need to "hide" it from kubernetes.

[2021-04-29 16:42] pierrebeaucamp opened #11229 "Minikube tunnel seems to be broken with Parallels Driver"
As the title says, somehow `minikube tunnel` doesn't seem to work with the Parallels Driver. I'm using Minikube v1.19.0 (commit 15cede53bdc5fe242228853e737333b09d4336b5) installed through homebrew, and Parallels 16.5.0 (49183).

I don't have this issue when using `hyperkit` as the driver.

**Steps to reproduce the issue:**

1. `minikube start --driver=parallels`
2. `minikube tunnel` (in separate t

[2021-04-29 17:33] afbjorklund commented on #11229
`minikube tunnel` will normally give you a random port, as seen in `minikube service`.

[code]

With this driver (with a real IP), it is quite similar to running with NodePort.

[2021-04-29 17:37] jmartindarient commented on #8257
First

[code]
and then

[code]

[2021-04-29 17:39] jamartincelis commented on #8257
First

[code]
and then

[code]

[2021-04-29 18:02] afbjorklund commented on #11220
Here is the way to reproduce this behaviour:

1) Start a VM, let's call it "localhost"
2) Add an entry to `/etc/hosts`, for the `-i` interface
3) Reboot the VM, see the hostname change as well

[2021-04-29 18:17] afbjorklund commented on #11220
Also we add another entry for localhost, as "host.minikube.internal".

[code]

Not sure if that makes any sense either, maybe just remove both ?

[2021-04-29 18:42] medyagh commented on #11034
@ncksp since minikube v1.19.0 we do not support running X86 Binary on M1, please use the Arm Binary

[2021-04-29 19:17] MullinsN commented on #4587
I found for me, using Virtual Box 6.0.14, that running Windows Features - Hyper-V or Microsoft Virtual Platform, would trigger the above error, with Vagrant up.

Switching both off, enabled Vagrant Up to run.

I originally had Docker Desktop for Windows using WSL2, which required Microsoft Virtual Platform. So when I use Virtual Box + Vagrant, I can't have them both on at the same time.

[2021-04-29 19:46] davecardwell commented on #11171
@medyagh I did try to take a quick look prior to reporting, but I’m not a Go programmer so didn’t get beyond looking for any obvious logic issues.

I noticed that unlike most of the options, `--addons` [goes straight into](https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/start_flags.go#L150) `&config.AddonList` from `k8s.io/minikube/pkg/minikube/config`. It is then _not_ made pa

[2021-04-29 21:04] #10328 closed

[2021-04-29 21:24] andriyDev commented on #10014
As far as I can tell, this seems fixed. My test:
[code]
Also performed the same test on a Ubuntu 20.04 VM (with a system memory limit of 953MB) as well with the same result.

It seemed to be fixed in https://github.com/kubernetes/minikube/commit/a69b41932c9a9ac8658e8d622623e1b211960c71, which seems to be v1.12 though (so probably released in v1.13), so I'm unsure how this error occurred.

Regardle

[2021-04-29 21:35] pierrebeaucamp commented on #11229
Sorry, I'm not sure if I follow you.

* NodePort access is working fine - there are no issues with `minikube service`.
* LoadBalancer access is not working though, i.e. by using `minikube tunnel` as described [in the docs](https://minikube.sigs.k8s.io/docs/handbook/accessing/#loadbalancer-access).

When running minikube using the `hyperkit` or `virtualbox` drivers, it behaves as expected: `minikub

[2021-04-29 22:01] #11184 closed

[2021-04-29 22:16] #11077 closed

[2021-04-29 22:17] andriyDev opened #11231 "Add --file flag to minikube logs."
We should have a --file flag in `minikube logs` so that logs output is sent directly to a file for easy transfer.

Before:
[code]
After:
[code]
File 'out' written full of logs.

[2021-04-29 22:51] afbjorklund commented on #11229
Normally `minikube tunnel` is used by the Docker Desktop driver, which is hard to emulate on other systems such as Linux

[2021-04-29 22:53] govargo commented on #11171
Hi @davecardwell

Thank you for creating this issue.
I would like to say for this feature.

As you said, the addons flag is through at here.
https://github.com/kubernetes/minikube/blob/fe0a1774a6be272a255f6de1930fb81a82430e28/cmd/minikube/cmd/start_flags.go#L150
And the `config.AddonList` is used at here.
https://github.com/kubernetes/minikube/blob/15cede53bdc5fe242228853e737333b09d4336b5/pkg/mini

[2021-04-30 01:00] davecardwell commented on #11171
@govargo Thank you for the additional context. I think the main part I was unsure of was why the `viper.AutomaticEnv()` stuff was not working for `MINIKUBE_ADDONS` as it seemed to be for the rest of the `start` options:
https://github.com/kubernetes/minikube/blob/fe0a1774a6be272a255f6de1930fb81a82430e28/cmd/minikube/cmd/start_flags.go#L129-L133

I will try to investigate further soon.

[2021-04-30 05:47] afbjorklund commented on #11229
@pierrebeaucamp : what I meant was that there are the two ways of setting up the tunnels, either routes or ssh

It seems that the networking in the Parallels driver is different than in the other ones, maybe it is missing the device ?

For VirtualBox we have one `eth0` NAT interface (without an IP) and one `eth1` HostOnly interface (with the IP)
So the ssh connection is tunneled in through the fir

[2021-04-30 13:16] SatishBala opened #11234 "Guru Meditation is coming every time I try to start minikube in virtual box"
**Steps to reproduce the issue:**

1. minikube --start --alsologtostderr -v=7
2.
3.

**Full output of failed command:**
Please refer the log file
![VBox](https://user-images.githubusercontent.com/37960563/116700343-ab5a2e00-a994-11eb-8dcf-678eec61c18c.png)
[VBox.log](https://github.com/kubernetes/minikube/files/6405570/VBox.log)

**Full output of `minikube start` command used, if not already inclu

[2021-04-30 13:20] SatishBala commented on #11234
I am running VirtualBox on Mac Mojave (10.14.6). I have uploaded log file for the same issue. Please help. I try to delete all the profiles and still having similar issue.
[VBox.log](https://github.com/kubernetes/minikube/files/6405590/VBox.log)

[2021-04-30 13:56] SatishBala commented on #11234
Also, I am using fedora 33 in Virtual box

[2021-04-30 14:35] afbjorklund commented on #11234
Does the same thing happen with minikube (rather than fedora), if you run `minikube start --driver virtualbox` instead of nested ?

[2021-04-30 15:21] SatishBala commented on #11234
Hi, I try to run the command you mentioned and I got the following

Exiting due to PROVIDER_VIRTUALBOX_NOT_FOUND: The 'virtuabox' provider was not found: unable to find VBoxManage in $PATH.
I am not sure why it is asking to install virtual box..

I am running fedora 33 in Virtual Box as a VM.

[2021-04-30 15:28] DoHuber opened #11235 "Minikube fails to start with docker driver on Ubuntu 18.04, Error: find: '/var/lib/dpkg': No such file or directory"
**Steps to reproduce the issue:**

1. Install minikube via .deb-file
2. Attempt to start with `minikube start --memory=20g --cpus=12 --driver=docker`

I have tried the various fixes proposed in the error log, and also in #10302, but the issue still appears.

**Full output of failed command:**
[code]

**Full output of `minikube start` command used, if not already included:**
See above

**Optional:

[2021-04-30 15:59] afbjorklund commented on #11234
I meant that you should run it on the host instead.

[2021-04-30 16:20] afbjorklund commented on #11235
Something is wrong here (possibly btrfs), the `/var` is supposed to come from a docker volume.

[2021-04-30 16:31] afbjorklund commented on #11235
Here is a test case:

[code]

[code]

[2021-04-30 16:35] afbjorklund commented on #11235
See also #7923

[2021-04-30 16:44] paulstelian97 commented on #4587
@MullinsN Is there no way to use Virtualbox 6.1.4 or newer with Minikube? 6.1.4 is compatible with the Virtual Machine Platform shit that WSL2 uses.

[2021-04-30 16:48] andriyDev opened #11236 "`out` package missing raw mode"
Currently the `out` package treats all strings as format strings. This can be a problem when logging messages which contain format strings. Example:
[code]
I cut this short since there are many errors.

Adding some sort of 'raw mode' to `out` can allow us to prevent these error logs. Some ways to do this:

1. Add RawOutput as a style option.
2. Add a bool to `out` that disables formatting everywhe

[2021-04-30 17:31] #10674 closed

[2021-04-30 17:31] #11101 closed

[2021-04-30 17:31] #11179 closed

[2021-04-30 17:31] #11181 closed

[2021-04-30 17:31] #10822 closed

[2021-04-30 17:47] medyagh opened #11237 "minikube image build test Flake"
example

https://storage.googleapis.com/minikube-builds/logs/11233/2e12378/Docker_Linux.html#fail_TestFunctional%2fparallel%2fBuildImage

[2021-04-30 17:47] denisok commented on #8439
I see the same issue, please fix.

[2021-04-30 18:05] medyagh commented on #11237
cc: @afbjorklund

[2021-04-30 20:13] #9711 closed

[2021-04-30 20:50] medyagh commented on #11222
@danielhabakkuk your OS does not support openning link into browser,have u tried to open the url manually in your browser ?

[2021-04-30 20:53] medyagh commented on #11146
@daehyeok thanks for picking up this issue, its yours, and we will be working on this next milestone

[2021-04-30 21:36] ilya-zuyev opened #11242 "Integration tests: log: exiting because of error: log: unable to create log: open /tmp/minikube_<command>.log: permission denied"
We have a flake failure in `TestFunctional/parallel/ProfileCmd/*` tests with output:

[code]

Could be a jenkins agent vm setup issue, or this file is accessed from multiple processes at the same time

[2021-04-30 22:00] spowelljr commented on #11231
@medyagh This seems to be the exact same thing as the existing `log_file` flag. Just curious why we're adding another flag that seems to do the same thing

[2021-04-30 22:41] andriyDev commented on #11231
@spowelljr The trouble with using log_file is that you get logs from the current command interspersed with logs from previous runs which can make it harder to reason about. You also get timestamps on the logged messages which can make it confusing which timestamp you should be looking at.

Another possibility was just doing `minikube logs > debug.log` but the problem there is that some of the logs

[2021-04-30 23:03] spowelljr commented on #11231
@andriyDev I wasn't able to see an example of your first point about logs from previous runs. But I see your point about the the timestamps, we definitely don't want those.

[2021-05-01 01:52] onkeyi opened #11246 "mac m1 minikube start error"
**Steps to reproduce the issue:**

1. brew install minikube
2. minikube start
3.

**Full output of `minikube logs` command:**
<details>
Exiting due to GUEST_PROVISION: Failed to start host: recreate: creating host: create: creating: setting up container node: preparing volume for minikube container: docker run --rm --name minikube-preload-sidecar --label created_by.minikube.sigs.k8s.io=true --labe

[2021-05-01 07:31] afbjorklund commented on #11246
Hmm, that is the same problem setting up the minikube volume as we have seen on other operating systems.

Troubleshooting:
[code]

[2021-05-01 07:35] afbjorklund commented on #11242
We have see other problems with the naming of the log files, when running multiple process or multiple users: #11205

So I think it's a real problem, not just a testing issue ?

[2021-05-01 07:48] afbjorklund commented on #11237
I notice that we are running docker build and docker rm at the `same` time, not sure how crash-safe docker is for this ?

[2021-05-01 08:05] afbjorklund commented on #11237
Then again, maybe not:

[code]

{"Time":"2021-04-30T08:09:13.279041944Z","Action":"output","Test":"TestFunctional/parallel/RemoveImage","Output":"    functional_test.go:265: (dbg) Run:  out/minikube-linux-amd64 -p functional-20210430072953-5799 image rm busybox:latest\n"}

[code]

{"Time":"2021-04-30T08:09:13.278698675Z","Action":"output","Test":"TestFunctional/parallel/BuildImage","Output":"    f

[2021-05-01 08:15] afbjorklund commented on #11237
I'm experimenting with a new tool to show the test report as a trace:

![report-trace](https://user-images.githubusercontent.com/10364051/116775927-1f183b80-aa66-11eb-96a4-b5645e797137.png)

[2021-05-01 09:15] MullinsN commented on #4587
I wasn't using MiniKube, but Vagrant , but the error was the same. Hence why I posted.

I spent an afternoon working through various combinations, but couldn't find a happy compromise, that allow both to run at the same time.

However, since I only need one or the other to run at anyone time, and I am now confident I know which Windows Features are required or not for either Virtualbox and Docker

[2021-05-01 10:03] medyagh commented on #11211
Glad that  CNI fixes that issue, I am curious did the ingress work with bridge ? ( I assume you are using on Linux ?)

[2021-05-01 10:14] oprudkyi commented on #11211
@medyagh  I've tried with bridge and cilium and ingress doesn't work for me
also
- I haven't found way to disable cni without deletion of minikube machine (I suppose it's hard installed into minikube container somehow)
- the cni breaks something in local system (sysctl/firewall ?) so even after recreation of minikube profile without cni enables ingress , only after reboot ingress start working

[2021-05-01 10:17] oprudkyi commented on #11211
closing as resolved, it seems cni fixes the issue (but breaks ingress)

[2021-05-01 10:17] #11211 closed

[2021-05-01 10:30] paulstelian97 commented on #4587
@MullinsN https://github.com/hashicorp/vagrant/blob/v2.2.7/CHANGELOG.md See if you can use Virtualbox 6.1.4 or newer with this extra support then. 6.1.4 can run with Hyper-V and shit enabled.

[2021-05-01 11:51] afbjorklund commented on #11237
Leaving the original image alone, should fix the failing build.

[2021-05-01 12:12] afbjorklund commented on #11222
Probably needs an entry in the documentation, for people trying to run the control plane in a dedicated VM ?

https://github.com/kubernetes/minikube/issues?q=is%3Aissue+%22xdg-open%22

[2021-05-01 12:35] teaglebuilt commented on #7332
is there a solution for this issue anywhere?

[2021-05-01 14:01] MullinsN commented on #4587
Thanks, I need to get this MongoDB course done first which is using VirtualBox and Vagrant, then I can take another pass at it. So might be a couple of weeks.

[2021-05-01 14:29] subhajit-halder commented on #6468
This works on Pop!_OS 20.10, I feel so stupid I didn't think of this before lmao

[2021-05-01 14:50] afbjorklund commented on #11237
But there is something very wrong in the test json from the functional test:

`{"Time":"2021-04-30T08:09:13.278526026Z","Action":"run","Test":"TestFunctional/parallel/BuildImage"}`

`{"Time":"2021-04-30T08:09:13.287802144Z","Action":"fail","Test":"TestFunctional/parallel/BuildImage","Elapsed":9.28}`

So the timestamps says 9ms (0.009276118000000722s), but the Elapsed says 9.28s ?

According to the

[2021-05-01 15:18] afbjorklund opened #11249 "Use gotestsum to generate minikube integration test JSON"
The current logs all claim to have been run the same second, with duration in microseconds:

[code]

In reality, the tests had rather different timings which can be seen when reading the live output:

[code]

The root cause is misusing the `test2json` tool.

Inserting timestamps assumes a _live_ test stream.

[2021-05-01 15:19] afbjorklund commented on #11249
ping @medyagh

[2021-05-01 15:55] afbjorklund commented on #11249
This tool looks interesting: https://github.com/gotestyourself/gotestsum

[2021-05-01 16:07] afbjorklund commented on #11249
Besides fixing JSON, it also looks nicer...

Before: https://asciinema.org/a/411101
After: https://asciinema.org/a/411102

[2021-05-02 10:25] RtlduinoMan opened #11252 "minikube service xxxx 命令访问不了pod的映射端口。"
**重现问题所需的命令**： minikube service xxxx

**失败的命令的完整输出**：<details>
请看截图，我使用另外的一台电脑可以使用，这台会报错，192.168.49.2，在我的电脑上面是访问不了，不知道为什么minikube怎么会把作为node ip地址。

</details>

**`minikube logs`命令的输出**： <details>

</details>
在windows7 上面安装使用k8s出现的问题，这个问题已经困扰我 一周时间，希望可以尽快解决 ，谢谢。

**使用的操作系统版本**：
![minikube_error](https://user-images.githubusercontent.com/22052645/116809907-342ec080-ab73-11eb-98b7-f7692773305b.png)

[2021-05-02 11:57] dominikbraun opened #11253 "`minikube config set embed-certs true` does have no effect"
**Steps to reproduce the issue:**

1. Run `minikube config set embed-certs true`.
2. Verify that it has been set: `minikube config get embed-certs`
3. Restart minikube.
4. View `$HOME/.kube/config`. There is no field `user.client-certificate-data` in the `minikube` profile.

**Expected behavior**

The certificate should be embedded directly in the `minikube` profile inside `$HOME/.kube/config`.

H

[2021-05-02 16:39] Rameshgangaa opened #11254 "[gramesh@master-node ~]$ minikube logs I0502 22:09:13.153534 550531 out.go:278] Setting OutFile to fd 1 ... log: exiting because of error: log: unable to create log: open /tmp/minikube_logs_0b5043027108b187e81d1003439d254eaa120884_0.log: no such file or directory"
**Steps to reproduce the issue:**

1.minikube start

2.
3.

**Full output of `minikube logs` command:**
<details>
minikube v1.19.0 on Centos 7.9.2009
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🤦  StartHost failed, but will try again: boot lock: no such file or directory
😿  Failed to start docker container. Running "minikube dele

[2021-05-02 16:41] sharonngetich opened #11255 "minikube start --driver=ssh --ssh-ip-address=vm.example.com"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-05-02 17:29] medyagh commented on #11249
Could it be used for both unit and integration test?

[2021-05-02 17:37] medyagh commented on #11255
Hi @sharonngetich it is not clear what the issue is,do u mind sharing the fulll output of `minikube logs`
Are yo trying to run minikube on a remote machine using SSH ?

[2021-05-02 17:43] medyagh commented on #11253
@dominikbraun the confit set ... is meant for global config, for all profiles.
I dont think we have a global field for embed-cents in minikube,

but if you think we should be able to set this globally I would be happy to add this to minikube ! And accept any PR that does it.

Also minikube should have Exited with a usage message that That specific config can not be set globally when it just lied a

[2021-05-02 17:48] medyagh commented on #11249
If this tool can do both, Output to text and json at same time lets do it !

[2021-05-02 17:52] medyagh commented on #10671
@anencore94

[2021-05-02 18:05] medyagh commented on #11235
@DoHuber does this comment help ?

https://github.com/kubernetes/minikube/issues/7923#issuecomment-828690643

[2021-05-02 18:08] medyagh commented on #11109
@sharifelgamal

[2021-05-02 18:11] sharonngetich commented on #11255
@medyagh yes i'm trying to run it

[2021-05-02 18:19] Ridder24 opened #11256 "Exiting due to SVC_TUNNEL_STOP"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-05-02 18:19] #11256 closed

[2021-05-02 18:37] DoHuber commented on #11235
@medyagh @afbjorklund Thanks for the fast responses - I tried the docker test case and the command outputs look the same, and the "local" driver is in use. I'm currently in the process of switching away from btrfs as described in #7923, but this is taking some time due to a complex server setup.

[2021-05-02 21:50] peidaqi opened #11257 "Minikube keeps on reporting "Unable to fetch image" from remote server while I have the image set up locally"
**Steps to reproduce the issue:**

I'm testing with this repo: https://github.com/knative/docs/tree/main/docs/serving/samples/hello-world/helloworld-python
And what I did was:

1. Configure docker to use minkube's registry by:
`eval $(minikube -p minikube docker-env)`
2. Build the image with
`docker build -t docker.io/test/helloworld-python .`
3. Now if I run:
`minikube image list`
I will see: doc

[2021-05-03 05:39] michaelhenkel commented on #11194
as mentioned in https://github.com/kubernetes/minikube/pull/10384, cri-o has the same problem

[2021-05-03 06:14] afbjorklund commented on #11257
I wouldn't call it a "registry", but the steps taken seems to have been the correct one. Wonder why the deployment doesn't use it.

Normally a registry involves something like "localhost:5000/test/helloworld-python:latest", so we just call this the runtime storage.

[2021-05-03 06:32] afbjorklund commented on #11257
Wonder if this is something special to Knative ? A regular Service gives the expected

`Container image "docker.io/test/helloworld-python:latest" already present on machine`

[2021-05-03 06:36] afbjorklund commented on #11194
That is true, but it is actually a container runtime (for Kubernetes) so it can theoretically keep the configuration **when selected**.

Podman doesn't run as a CRI, so we can move the Podman configuration away from the Kubernetes configuration for good...
For CRI-O (and containerd, soon docker) we need to make sure that they don't install any CNI configuration when not choosen.

Unfortunately it

[2021-05-03 06:39] afbjorklund commented on #11194
It doesn't matter _what_ we rename it to, since it's the only configuration file available it will always the first and the last.

The kindnet configuration (and some other CNI too, like flannel) is not created until _after_ the Kubernetes cluster has booted...

[2021-05-03 06:44] bisakhmondal commented on #11171
Hi all, I dig into the problem and it turns out that that the problem is with the viper from spf13. We are trying to capture a `slice` but it seems viper is unable to do so.

1. passing as a flag : single item : works :heavy_check_mark:
![image](https://user-images.githubusercontent.com/41498427/116847614-853cc400-ac08-11eb-82c8-a77e97b5ca1b.png)

2. passing as a flag : multiple items : does not w

[2021-05-03 06:49] afbjorklund commented on #11249
I don't see why not. The documentation actually says:

https://golang.org/cmd/test2json/

We might want to keep `go test` as a fallback, though.

For CI we can install tools like this during the build process, but in the Makefile for running locally I mean.
Just some simple check and some make variables should be enough. Could need one for $(GO) as well.

[2021-05-03 06:53] anencore94 commented on #10671
sry @medyagh , I've tried it but have trouble on how to get maintainers' names and parse date of last tag with commit hash value.
I've been busy for now, so if this issue needs to be included with next release, anyone else could take this.

Thank you for reminding me.

[2021-05-03 06:53] anencore94 commented on #10671
/unassign @anencore94

[2021-05-03 17:13] josh-gree opened #11264 "Unhelpful error message about preference order of drivers"
When I try to run `minikube start` on a system with no available drivers the support message seems to suggest a preferential order of drivers - however the ordering of these drivers is not consistent and changes everytime the command is run. For example;

[code]

[2021-05-03 17:40] afbjorklund commented on #11264
Yeah, we should get this fixed (or remove the claim): #10009

[2021-05-03 17:44] josh-gree commented on #11264
Sorry - didn't find the other issue - will close this?

[2021-05-03 17:47] afbjorklund commented on #11264
The other has some history, so please do

Hopefully you were able to find a driver that works for you, despite the random order of suggestions ?

[2021-05-03 17:48] #11264 closed

[2021-05-03 17:49] josh-gree commented on #11264
So I did upgrade to big sur because I thought the preferred driver was vmwarefusion - so just some lost time - using docker now

[2021-05-03 17:57] #11236 closed

[2021-05-03 18:22] andriyDev commented on #10671
I would like this issue!

[2021-05-03 18:25] ilya-zuyev commented on #11242
yeah, you're right. changing `kind`

[2021-05-03 18:27] medyagh commented on #10014
@vindhyachalboss I am not convinced there is anything we could do since minikube needs min ram for kubenretes

[2021-05-03 18:27] #10014 closed

[2021-05-03 18:30] medyagh commented on #9495
invetigation done, will be done in this issue https://github.com/kubernetes/minikube/issues/10836

[2021-05-03 18:38] medyagh commented on #10330
https://github.com/GoogleContainerTools/skaffold/issues/5773

[2021-05-03 18:38] medyagh commented on #10189
donew

[2021-05-03 18:38] #10189 closed

[2021-05-03 19:18] vigothehacker commented on #11254
Hi , I am facing this exact same error. I have set the /tmp directory to the 1777 mode . Deleting the dir /tmp and then remaking it from the same user makes it work for the current user but fails again when running minikube from a different user.

[2021-05-03 19:20] vigothehacker commented on #11242
Hi , I am facing this exact same error. I have set the /tmp directory to the 1777 mode . Deleting the dir /tmp and then remaking it from the same user makes it work for the current user but fails again when running minikube from a different user.

Please mark https://github.com/kubernetes/minikube/issues/11254 as duplicate for this issue

[2021-05-03 19:27] vigothehacker commented on #11254
https://github.com/kubernetes/minikube/issues/11205

[2021-05-03 20:04] medyagh commented on #11255
@sharonngetich do u mind sharing the full logs ? or mind sharing what verison of minikube and what OS are you using ?

for SSH driver you would need acess to a remote machine with ip

but I am curious is there a reason you dont use the Docker driver ?

[2021-05-03 20:08] #10327 closed

[2021-05-03 20:08] DoHuber commented on #11235
I have a mixed update of sorts: due to massive problems with switching docker to btrfs on the aforementioned complex setup, we've decided to ditch that machine completely and are now working on another with a much more straightforward one. There, using overlay2 is no problem and the problem has disappeared, everything is working as it should, so the facts seem to be pointing in the direction of th

[2021-05-03 20:08] #11235 closed

[2021-05-03 20:15] pandomic commented on #11038
Had the same issue on Mac, but it disappeared after updating Docker. Not sure if that helps 🤞

[2021-05-03 20:23] medyagh opened #11266 "minikube logs output takes a long long time"
even when there is no minikube running
[code]

on my mac it is taking more than a few minutes and sitll running
[code]

[2021-05-03 20:29] #10802 closed

[2021-05-03 20:31] medyagh commented on #10377
havent seen anymore

[2021-05-03 20:31] #10377 closed

[2021-05-03 20:31] medyagh commented on #10376
havent seen anymore

[2021-05-03 20:31] #10376 closed

[2021-05-03 20:31] medyagh commented on #10492
havent seen anymore

[2021-05-03 20:31] #10492 closed

[2021-05-03 20:34] medyagh commented on #9939
not needed anmore

[2021-05-03 20:34] #9939 closed

[2021-05-03 20:34] spowelljr commented on #11254
As @vigothehacker noted this is a duplicate of an existing issue #11205. I'm going to close this issue, feel free to comment on that issue if you have any updates.

[2021-05-03 20:34] #11254 closed

[2021-05-03 20:34] medyagh commented on #9827
not seen anyomre

[2021-05-03 20:34] #9827 closed

[2021-05-03 20:36] medyagh commented on #9654
been fixed

[2021-05-03 20:36] #9654 closed

[2021-05-03 20:37] medyagh commented on #9572
already dne

[2021-05-03 20:37] #9572 closed

[2021-05-03 20:39] spowelljr commented on #11266
I'm a little confused by this, do you mean `logs` or `profile`? In your example you're running `profile` but the title says `logs`.

I ran `minikube profile list` and it was very fast.
[code]

[2021-05-03 20:43] sharifelgamal commented on #10545
The next major release of Kubernetes (1.21.1 and backports) should have a fix for this issue.

[2021-05-03 20:45] medyagh commented on #9259
@jonjohnsonjr we added GCR support for GCP-Auth addon  #10853

do u mind trying with minikube 1.20.0beta ? and see if that fixes ? we belive we added this feature with ingegration tests

[2021-05-03 20:46] medyagh commented on #9249
belive it was fixed

[2021-05-03 20:46] #9249 closed

[2021-05-03 20:48] medyagh commented on #9098
CC @andriyDev

[2021-05-03 20:52] medyagh commented on #8834
I will bump this issue to soon !

[2021-05-03 20:54] medyagh opened #11267 "create mitm proxy test for Custom Cert"
https://github.com/kubernetes/minikube/issues/8834
https://github.com/kubernetes/minikube/issues/11068

[2021-05-03 20:54] andriyDev commented on #9098
This issue is still a problem. I'll look into it more deeply.

[2021-05-03 20:54] medyagh commented on #8834
seems simmilar to https://github.com/kubernetes/minikube/issues/11068

[2021-05-03 21:02] andriyDev commented on #11266
Seems related to #10854.

[2021-05-03 21:03] medyagh commented on #9685
CC: @ilya-zuyev

[2021-05-03 21:05] medyagh commented on #10243
@ilya-zuyev investigate if this needs to be added to our solution messages

[2021-05-03 21:08] medyagh opened #11268 "Test Failure docker containerd test Image Load Flake"
@afbjorklund docker containerd test, not related?

https://storage.googleapis.com/minikube-builds/logs/11248/6012a8f/Docker_Linux_containerd.html#fail_TestFunctional%2fparallel%2fLoadImage

[code]

_Originally posted by @medyagh in https://github.com/kubernetes/minikube/issues/11248#issuecomment-831372344_

[2021-05-03 21:20] medyagh commented on #9910
this is the place that should be loking at https://github.com/medyagh/minikube/blob/81d144f765a832f6d19a114d273eb6607e4d1a52/pkg/minikube/reason/exitcodes.go#L60

[2021-05-03 21:25] andriyDev commented on #10766
/assign andriyDev

[2021-05-03 21:28] medyagh opened #11269 "skip or fix containerd tests"

[2021-05-03 21:35] medyagh opened #11270 "fix equinix arm machines"

[2021-05-03 21:35] medyagh opened #11271 "combine run_test.sh and common.sh"

[2021-05-03 21:40] sharifelgamal opened #11272 "Re-enable integration tests for HyperV"
They are off right now, since our old windows machines are dead and our new ones don't support hyperv yet. This just requires adding an virtual switch to the Windows machines and running the hyperv tests on them.

[2021-05-03 21:41] andriyDev commented on #10877
/assign andriyDev

[2021-05-03 21:43] medyagh commented on #9946
there is a config called snanshotte that can be changed to avoid

[2021-05-03 21:46] andriyDev commented on #9098
/assign andriyDev

[2021-05-03 21:58] #11237 closed

[2021-05-03 22:05] #10768 closed

[2021-05-03 22:48] medyagh commented on #11266
seems like @spowelljr has a fix for this, will fix for 1.20.0

[2021-05-04 04:10] awreece opened #11275 "Pod Security Policies addon blocks ingress addon"
I'd like to use both Pod Security Policies and ingress. Unfortunately, this doesn't appear to work.

[code]

Unfortunately, this is a bit of a lie -- ingress is _not_ actually working:

[code]

Digging in, we can see that the replicaset is getting denied by the PodSecurityPolicy:

[code]

I suspect the `ingress-nginx` service account doesn't have the right role binding to deploy privileged pods, e

[2021-05-04 08:51] kadel commented on #10768
@medyagh Can you please reopen these issues?

#10947 updated OLM operators but it did not update the OLM catalog.

### Description of the problem with OLM catalog

Problem is that the latest tagged version of OLM catalog image (https://quay.io/repository/operator-framework/upstream-community-operators?tab=tags) is 4 months old.

The `latest` tag gets frequent rebuilds but for security reasons, min

[2021-05-04 18:05] spowelljr opened #11276 "`minikube image load` not updating image if loading image with existing name:tag"
[code]

As you can see above, pushing an image with the same name:tag does not update within minikube.

[2021-05-04 18:20] afbjorklund commented on #11276
This is the same behaviour as the cache, we don't reload images that have the same name/tag.

[2021-05-04 18:23] afbjorklund commented on #11276
There are bunch of hard-coded checks for "preloaded" images and for scp of existing files

These could _possibly_  be regarded as features, but should be optional (like imagePullPolicy)

[2021-05-04 18:51] andriyDev opened #11278 "hack/release_notes.sh should print a link to the full changelog."
Currently, hack/release_notes.sh prints release notes relative to the last release version regardless of if it is a beta release. For full releases though, this should be printed relative to the last full release.

This can be done by adding an optional argument to hack/release_notes.sh to specify the tag to print relative to.

[2021-05-04 18:52] andriyDev commented on #11278
/assign andriyDev

[2021-05-04 19:57] prezha opened #11280 "docker + crio: kubelet "Failed to start ContainerManager failed to initialize top level QOS containers: root container [kubepods] doesn't exist""
as seen in logs (causing also specifically `Docker_Linux_crio` tests to timeout) - kubelet gets stuck on (both master and minion node) restart (ie, minikube stop/start):

[code]
similar errors reported upstream:
- https://github.com/kubernetes/kubernetes/issues/95488
- https://github.com/kubernetes/kubernetes/issues/43856

---

## additional context:

i've noticed that minikube (v1.20.0-beta.0, v1

[2021-05-04 20:24] medyagh commented on #11278
I think we should continue doing as we have been doing, maybe instead of repeating the changelog we could attach a link to the previous Beta Release

For example in https://github.com/kubernetes/minikube/releases/tag/v1.19.0
There should be a link for https://github.com/kubernetes/minikube/releases/tag/v1.19.0-beta.0

[2021-05-04 22:06] andriyDev commented on #11278
As we've discussed, the better solution is to print a link to the full changelog, that way all changes can be seen in sequence!

[2021-05-04 22:50] #10671 closed

[2021-05-04 22:51] ilya-zuyev opened #11285 "TestNetworkPlugins/group/auto/HairPin test fails"
See https://storage.googleapis.com/minikube-builds/logs/11258/e7907e3/Docker_Linux_crio.html#fail_TestNetworkPlugins%2fgroup%2fauto%2fHairPin for example

[2021-05-04 23:23] #11278 closed

[2021-05-05 00:08] medyagh opened #11290 "get ETCD version from kubernetes constants"
currently in https://github.com/medyagh/minikube/blob/a67a4ccbedd932f184b5713c70498dc434942621/pkg/minikube/bootstrapper/images/images.go#L86
we have
[code]

instead we should use this map in kuberentes so we dont have to update this manually

https://github.com/kubernetes/kubernetes/blob/b58a7e233e06f5e4b58a637af8e36cb4f59c001b/cmd/kubeadm/app/constants/constants.go#L452
[code]

[2021-05-05 00:58] #10600 closed

[2021-05-05 01:30] awreece commented on #11275
I asked a colleague with an earlier version of `minikube` to try this and it worked for them, so I think this is a regression:

[code]

[code]

[2021-05-05 02:47] tstromberg commented on #10854
I can confirm this annoying problem still exists with 1.20.0-beta.0 on macOS 10.15.7

minikube logs > /dev/null  0.55s user 0.73s system 3% cpu 32.106 total

[2021-05-05 05:48] afbjorklund commented on #11290
It's not really in kubernetes but in `kubeadm`, and we can access these through `config images list`

[code]

[2021-05-05 05:58] afbjorklund commented on #11290
@medyagh : better fix all of them, if you fix one ?

[code]

[2021-05-05 07:13] #11266 closed

[2021-05-05 07:20] medyagh commented on #11290
Agree. Anyone picking up this task fix all verisons. To get vers through kubeadm

[2021-05-05 13:53] gkarthek opened #11291 "Exiting due to HOST_BROWSER: exit status 3"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-05-05 16:17] #10854 closed

[2021-05-05 16:45] #11280 closed

[2021-05-05 17:00] #10672 closed

[2021-05-05 17:01] spowelljr commented on #9907
In-progress

[2021-05-05 17:48] ilya-zuyev opened #11293 "TestFunctional/parallel/MountCmd fails in GitHub actions with podman driver"
Mount comand fails:

[code]

Please not, the `Bind Address` has "nil" host part.
Comes from the result of `oci.containerGatewayIP` which runs `podman container inspect --format {{.NetworkSettings.Gateway}}`, and `inspect` returns
[code]

[7_Run Integration Test.txt](https://github.com/kubernetes/minikube/files/6429153/7_Run.Integration.Test.txt)

[2021-05-05 18:14] medyagh commented on #11059
how about intergration test in GH Action without any Docker at all to ensure minikube can run without any docker at all...

[2021-05-05 18:17] medyagh commented on #11192
I agree this is a bug ! that is a good idea to build on only on control plane

[2021-05-05 18:20] ilya-zuyev commented on #11123
@xsonghppy any update on this issue? thanks

[2021-05-05 18:21] sharifelgamal commented on #11139
So based on the error minikube is outputting, it looks like you're behind a VPN. Is that the case?

[2021-05-05 18:24] afbjorklund commented on #11076
Missing the needed information, closing issue.

[2021-05-05 18:24] #11076 closed

[2021-05-05 18:26] spowelljr commented on #9647
@chippey5 I'm unsure from the discussion if there is any action on minikube's behalf that should be done to help resolve your issue. For now I'm going to close this issue, but if there's any recommendation that would help, feel free to comment, thanks!

[2021-05-05 18:26] #9647 closed

[2021-05-05 18:26] medyagh commented on #11045
@luisvelalopez what version of minikube do you use ?
do you mind sharing

`minikube logs`

[2021-05-05 18:27] medyagh commented on #10845
I believe the pre-requisite for this is, to have our cached fixed

[2021-05-05 18:27] sharifelgamal commented on #10939
So it looks like you're trying to run the docker driver inside of a virtualbox VM, which is likely the source of the networking issues you're seeing. Is there a reason you chose the docker driver? The none/native driver is a better use case for running inside a VM. Alternatively, you can just run minikube on your host with the virtualbox driver.

[2021-05-05 18:30] sharifelgamal commented on #10929
Hey @anilchandana – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikube

[2021-05-05 18:30] #10929 closed

[2021-05-05 18:33] sharifelgamal commented on #10339
Yeah, we don't support IPv6 in minikube at all: https://github.com/kubernetes/minikube/issues/8535

It's on the roadmap, we just don't have the bandwidth to implement it currently.

I'll go ahead and close this as a dupe of the general IPv6 issue.

[2021-05-05 18:33] #10339 closed

[2021-05-05 18:33] medyagh commented on #9595
@mnshrr I think the virtualization is not enabled in your hardware, please refer to your system BIOS documents how to enable virtualization, I will close this issue for now,

@mnshrr are you running the ubuntu in a VM ? if yes, you can run minikube with Baremetal driver

how about `sudo minikube start --driver=none`

if you are NOT running minikube on a VM I stronlgy suggest docker driver Linux (w

[2021-05-05 18:33] afbjorklund commented on #9846
Fixed in PR #10918 (for #10912)

[2021-05-05 18:33] #9846 closed

[2021-05-05 18:34] #9595 closed

[2021-05-05 18:34] medyagh commented on #10935
@ojab I believe we fixed this in v1.19.0 do u mind trying the latest release and see if u still have this issue? if yes please reopen this

[2021-05-05 18:34] #10935 closed

[2021-05-05 18:35] afbjorklund commented on #10861
Minikube 1.19 has been released, see https://github.com/kubernetes/minikube/releases/tag/v1.19.0

[2021-05-05 18:35] #10861 closed

[2021-05-05 18:36] medyagh commented on #10965
@longwuyuan  it is expected to get a reset after a "minikube stop" since the IP of the VM might have changed (in some drivers static IP is not supported)

is there a reason that the cluster reset conflicts with your workflow ?

[2021-05-05 18:36] medyagh commented on #10965
/triage needs-information
/kind support

[2021-05-05 18:37] sharifelgamal commented on #10104
I'm going to go ahead and close this issue for now, as it hasn't seen any update in quite some time. Feel free to reopen this with more detail if you continue to experience the issue.

[2021-05-05 18:37] #10104 closed

[2021-05-05 18:38] medyagh commented on #9820
we need to add new Troubleshooting commands to the site

including `minikube logs -f debug.txt`

[2021-05-05 18:43] medyagh commented on #9800
@FabriceSalvaire
the command to delete everything on minikube is
[code]
we could add this to our FAQ

https://minikube.sigs.k8s.io/docs/faq/

[2021-05-05 18:45] sharifelgamal commented on #9339
so this looks like a mounting issue in macOS, which isn't that unusual. I'm wondering if it's been fixed in a newer version of minikube though. Could someone try with minikube 1.19.0 or later?

[2021-05-05 18:49] medyagh commented on #8535
I would accept any PR that would add this feature

@UXabre
@lyind

[2021-05-05 18:59] afbjorklund commented on #6411
I don't think minikube will work on ChromeOS before it does with kind, and as far as I know there is not anyone actively looking into it. So I think it is blocked on upstream, but if there is anything that we can do in minikube to move it along then please update.

[2021-05-05 19:00] sharifelgamal commented on #9279
`Hyper-V\Start-VM : 'minikube' failed to start.
Failed to start the virtual machine 'minikube' because one of the Hyper-V components is not running.` is the most telling line of logs here. This implies that, yes, Hyper-V is installed, but that not all of its components have been enabled.

You can fix that by running the following in an elevated Powershell terminal:
`Enable-WindowsOptionalFeature -

[2021-05-05 19:01] medyagh commented on #11090
@imoisharma you can create a second cluster using "-p" flag

for example this will create a cluster called p1 with default kubernetes verison
[code]
and this will create another cluster called p2 with a different k8s version
[code]

does that answer your quesiton ?

[2021-05-05 19:01] medyagh commented on #11020
closing this one in favor of https://github.com/kubernetes/minikube/issues/11090

[2021-05-05 19:01] #11020 closed

[2021-05-05 19:08] afbjorklund commented on #11293
It seems that the custom network doesn't have this. A regular container will happily reply `10.88.0.1`

[code]

[code]

So apparently we have to get the gateway from the nested Networks document ?

[2021-05-05 19:09] medyagh commented on #11205
the least we could do is adding the username to the logfile

the source of this we wanted "minikbue status" not to make many temp files so we had aded one file per command
so that caused multiple users coliding..

[2021-05-05 19:11] medyagh commented on #10940
@SantosVictorero  sure thing ! I add help wanted label, anyone wants to contribute this feature I would happy to offer a PR review for it

[2021-05-05 19:11] sharifelgamal commented on #8339
This has been automated and documented as this point. Closing.

[2021-05-05 19:11] #8339 closed

[2021-05-05 19:12] sharifelgamal commented on #10079
It would seem that we don't support multiple networks in our docker driver. We would some help getting this fixed! I'd be happy to review any PR.

[2021-05-05 19:15] sharifelgamal commented on #10079
This is the function we would need to fix: https://github.com/kubernetes/minikube/blob/master/pkg/drivers/kic/oci/network_create.go#L181

[2021-05-05 19:20] medyagh commented on #11124
@pancudaniel7 thanks for updating, we add support for minikube to run with docker installed with snap
do u mind trying

https://github.com/kubernetes/minikube/releases/tag/v1.20.0-beta.0

[2021-05-05 19:21] #11204 closed

[2021-05-05 19:47] afbjorklund commented on #11293
Yes, there is a bug in the podman code that _only_ sets the basic network config for the default network...

https://github.com/containers/podman/blob/v3.1.2/libpod/networking_linux.go#L1040

[code]

We will need to get it from the Networks, for compatibility with older Podman version (before any fix).

[2021-05-05 20:02] r4j4h commented on #8283
I know this is old, but in response to "metallb" add-on specifically, I poked around this after finding my configs getting reset sometimes, and not being able to trick it by echoing newlines, I wanted to share what I learned about customizing the start/end IPs incase it helps someone.

I found they are [stored as part of the KubernetesConfig type in minikube](https://github.com/kubernetes/minikube

[2021-05-05 20:41] medyagh opened #11296 "`minikube cp` should support copying from minkube to user's host"
currently minikube cp does NOT support doing this.

[code]

current workaround by @tstromberg
[code]

[2021-05-05 21:50] #10673 closed

[2021-05-05 23:10] #11090 closed

[2021-05-05 23:12] imoisharma commented on #11090
@medyagh I figure it out the issue, and your above propose solution is kind of similar. So, I am closing the issue, because I can run multiple minikube inside my Ubuntu.

[2021-05-06 00:34] medyagh commented on #11275
@awreece we fixed something about ingress in v1.20.0-beta0 does the beta release fix this issue for you ?

[2021-05-06 00:40] allanchau commented on #9720
@medyagh Do you mean this is already in the latest minikube release or should I update the driver to v0.1.1 and test?

[2021-05-06 03:11] #11231 closed

[2021-05-06 03:12] #9907 closed

[2021-05-06 03:36] #11124 closed

[2021-05-06 03:38] #10978 closed

[2021-05-06 04:41] longwuyuan commented on #10965
thank you @medyagh . The reset occured on reopening laptop lid so suspend resume.
The reset basically removed all my namespaces, resources etc. and I was handed a pristine cluster.
But unable to reproduce with 1.19.0 so will close issue.
Thanks tons again

[2021-05-06 04:41] #10965 closed

[2021-05-06 05:10] afbjorklund commented on #11293
Apparently it was left empty on purpose, for Docker compatibility. Sadly we used different code for them.

[code]

[2021-05-06 05:14] afbjorklund commented on #11296
This needs support in the Asset API, which currently only has `Copy`.

[2021-05-06 05:18] afbjorklund commented on #11291
Similar to #11222, needs a better message to the user.

[2021-05-06 05:18] #11291 closed

[2021-05-06 05:19] pancudaniel7 commented on #11124
Thank you, I will test and comeback with a status 👍🏻

[2021-05-06 05:46] bolinlee commented on #10939
thank you for reply.  Yes, I run the docker driver inside of a virtualbox VM,Because my host is Windows,and I want install the minikube in a linux system.  But I still don't understand why I can't choose the docker dirver inside a virtualbox VM. could you explain that? I will try to run the none/native driver instead of docker driver. thanks a lot!

[2021-05-06 08:50] apupier opened #11306 "Cannot enable registry addons Exiting due to MK_ENABLE: run callbacks: running callbacks: [waiting for kubernetes.io/minikube-addons=registry pods: timed out waiting for the condition]"
**Steps to reproduce the issue:**

1. minikube start
2. minikube addons enable registry

**Full output of `minikube logs` command:**
<details>

Cannot provide full due to size and cannot use pastebin because "potentially offensive or questionable content in your paste." so extrating some of the errors:

:1:94: executing "I0506 09:56:49.319017    5837 cli_runner.go:115] Run: docker container inspec

[2021-05-06 09:37] ukreddy-erwin opened #11307 "Exiting due to PROVIDER_VMWARE_NOT_FOUND: The 'vmware' provider was not found: exec: "vmrun": executable file not found in %PATH%"
Latest version of vmware workstation is installed on the machine.
Windows 10 pro.

But, the vmware workstation driver is not getting detected..

The output of command: minikube start --driver vmware
😄  minikube v1.19.0 on Microsoft Windows 10 Pro 10.0.19042 Build 19042
✨  Using the vmware driver based on user configuration

🤷  Exiting due to PROVIDER_VMWARE_NOT_FOUND: The 'vmware' provider was not

[2021-05-06 09:39] ukreddy-erwin opened #11308 "vmware driver not working"
minikube start --alsologtostderr -v=7
I0506 15:08:18.175744   23728 out.go:278] Setting OutFile to fd 84 ...
I0506 15:08:18.175744   23728 out.go:291] Setting ErrFile to fd 88...
W0506 15:08:18.191730   23728 root.go:292] Error reading config file at C:\Users\UReddy\.minikube\config\config.json: open C:\Users\UReddy\.minikube\config\config.json: The system cannot find the file specified.
I0506 15:

[2021-05-06 10:23] kitt1987 commented on #8770
You can try to replace the `~/.minikube/profiles/minikube/client.{crt, key}` pair with the certificate pair of kubeadm which can be found at `/etc/kubernetes/admin.conf` in the minikube node.

[2021-05-06 12:08] alirezarpi commented on #7332
Same problem in here. please update this issue if it's fixed. thank you

[2021-05-06 14:13] AkihiroSuda commented on #9639
@afbjorklund Is there an ETA of this?

[2021-05-06 14:55] AkihiroSuda opened #11310 "[cgroup2, driver=docker, runtime=containerd] failed to create containerd task: cgroups: cgroup mountpoint does not exist"
**Steps to reproduce the issue:**

1. Install minikube v1.19.0 to Fedora 34 (cgroup v2), with Docker v20.10.6
2. Run ` minikube start --driver=docker --container-runtime=containerd`
3. Pods cannot be started: ` "CreatePodSandbox for pod \"kube-apiserver-minikube_kube-system(c767dbeb9ddd2d01964c2fc02c621c4e)\" failed: rpc error: code = Unknown desc = failed to create containerd task: cgroups: cgrou

[2021-05-06 14:56] AkihiroSuda commented on #10836
The first step toward this is to bring proper support for cgroup2: https://github.com/kubernetes/minikube/issues/11310

[2021-05-06 14:56] AkihiroSuda commented on #8719
The first step toward this is to bring proper support for cgroup2: https://github.com/kubernetes/minikube/issues/11310

[2021-05-06 15:20] gelezniyden commented on #1310
@Strandedpirate Thanks a lot !!!
I had near same issue. I used Minikube + VM Ware Workstation and Minikube was installed on system drive C:\, but using environment variable MINIKUBE_HOME, I've moved configuration on D:\ drive and got issue as described above.
I solved issue by changing drive in CMD on D:\ and started Minikube successfully.

[2021-05-06 16:36] spowelljr commented on #10624
In-progress

[2021-05-06 17:10] azhao155 commented on #10836
Yes, this is what i see to use containerd runtime, is that due to /sys/fs/cgroups/systemd not mount correctly?

[2021-05-06 17:19] medyagh commented on #11242
how about a Lock here?
[code]

[2021-05-06 17:33] afbjorklund commented on #9639
The consensus was that we should continue to have docker as the default for some more releases.

We need to have stable fallbacks for workflows original based on `docker-env`, such as Skaffold.
But it should be available as a minikube alternative already today (`--container-runtime=containerd`)

And we keep on adding CI resources and tests, to make sure that containerd / buildkitd is tested.

[2021-05-06 17:36] afbjorklund commented on #11308
Have you installed VMware ? It claims it cannot find `vmrun`

You also need the `docker-machine-driver-vmware`

[2021-05-06 17:36] medyagh opened #11311 "improve olm test"
https://storage.googleapis.com/minikube-builds/logs/11287/387c515/KVM_Linux.html#fail_TestAddons%2fparallel%2fOlm

we need to adjust the wait so it doesnt fail much
[code]

also this test is downloading something from internet, which is not a secure practice
[code]

the etc.yaml needs to be moved to the testdata

[2021-05-06 17:38] ukreddy-erwin commented on #11308
yes it is installed, it seems we need to set the path variable to the vmrun folder. It is not picking directly from the installation folder.Thanks for your reply. And one more thing, minikube VM is not showing in the vmware workstation GUI, is there any option to show it?

[2021-05-06 17:39] afbjorklund commented on #11307
Might need an issue opened upstream: https://github.com/machine-drivers/docker-machine-driver-vmware

[2021-05-06 17:40] #11307 closed

[2021-05-06 17:41] ukreddy-erwin commented on #11307
Fixed by setting path variable to C:\Program Files (x86)\VMware\VMware Workstation

[2021-05-06 17:41] daehyeok opened #11312 "`make lint` return error with Go version 1.16.3"
**Steps to reproduce the issue:**

1. After update Go to 1.16.3 `make lint`  always return Error.
[code]
rule `SA4023` looks added on latest version. If i use 1.16.2 `make lint` don't blame about SA4023

[code]

[2021-05-06 17:46] afbjorklund commented on #11308
Might need a modification to the driver ? Not sure if it is created "hidden" somehow

For VirtualBox, the machines created by minikube are visible in the VirtualBox GUI

[2021-05-06 17:52] afbjorklund commented on #11312
minikube currently uses 1.16.1

[2021-05-06 17:53] afbjorklund commented on #11312
The issue itself should be simple. Care to submit a PR ?

[2021-05-06 18:04] medyagh commented on #11310
@AkihiroSuda  I believe we currently dont have an integration test with cgroups v2 but we improved it a bit in 1.20.0-beta0
I am curious have you tried 1.20.0-beta0 and see what errror you get ?

[2021-05-06 18:04] medyagh commented on #11310
/triage needs-information
/kind support

[2021-05-06 18:15] daehyeok commented on #11312
/assign

sure i will

[2021-05-06 18:21] daehyeok commented on #11312
yeah it looks linter issue. 1.16.4 release few hours ago. and this problem gone again.

[code]

[2021-05-06 18:25] afbjorklund commented on #11312
Something like

// IsCgroup2UnifiedMode returns whether we are running in cgroup 2 cgroup2 mode.
func IsCgroup2UnifiedMode() (bool, error) {
    if runtime.GOOS != "linux" {
        return false, errors.Errorf("Not supported on %s", runtime.GOOS)
    } else {
        panic()
    }
}

Or whatever it takes to make that confused "staticcheck" happy

[2021-05-06 18:45] medyagh commented on #11306
@apupier mind sharing what OS and versions are u on ?

it seems like you can not Pull form docker hub, do u have any network restriction ? or maybe pull limit ?

[code]

can you verify manually if u can pull that image ? what do u get for this ?
[code]

[2021-05-06 18:54] apupier commented on #11306
Fedora 33
minikube 1.19.0

[code]

and it is working now:
[code]

I have no network restriction. So it was likely a matter of pull limit

@medyagh thanks for having taken the time to look at it.

[2021-05-06 18:54] #11306 closed

[2021-05-06 19:15] medyagh commented on #11306
I feel like minikube should had done a better job giving a more user friendly solution telling the user we couldn't network wise pull an image...

@apupier would you be interested to make minikube better ? maybe contribute a better message for exit ?

[2021-05-06 19:47] briandealwis opened #11315 "Disabling auto-pause seems to hang and then errors"
**Steps to reproduce the issue:**

1. minikube start --driver=hyperkit
2. minikube addons enable autopause
3. minikube addons disable autopause

[code]

[minikube_logs_dcdd5708ad01e033d64061e75b78269013f8617a_0.log](https://github.com/kubernetes/minikube/files/6437239/minikube_logs_dcdd5708ad01e033d64061e75b78269013f8617a_0.log)

[2021-05-06 21:10] spowelljr commented on #10628
In-progress

[2021-05-06 22:06] medyagh opened #11319 "investigate moving kic base release to Prow or Cloud build"
https://github.com/kubernetes/test-infra/tree/master/config/jobs/image-pushing#image-pushing-jobs

[2021-05-06 22:22] medyagh commented on #11315
thank you for this issue @briandealwis

[2021-05-06 23:00] r4j4h commented on #10877
Further verifying, even in a completely non-air gapped environment.

Also, this may be a separate bug but a similar issue affects running configure after using custom images.

[code]

After resetting the image by re-enabling, identically to this bug after minikube restart they are also set back :(
[code]

[2021-05-07 00:12] daehyeok commented on #11296
/assign

[2021-05-07 05:29] gtolarc opened #11320 "apiserver-ips option is not working"
Even if you run as follows, apiserver ip does not change from the default. Is this a bug?

[code]

<img width="537" alt="스크린샷 2021-05-07 오후 2 29 10" src="https://user-images.githubusercontent.com/8623798/117402036-9bb48980-af40-11eb-97ef-fa41add4a601.png">

[2021-05-07 06:53] afbjorklund opened #11321 "The kicbase image downloads twice"
There is a regression in minikube 1.20.0, that the kicbase image will download twice: once to cache, once to daemon

The workaround is to do minikube start --download-only (or maybe `docker pull`), or to just let it download

The fix was in PR ~~#11063~~

But it didn't make it to release

[2021-05-07 07:45] AkihiroSuda commented on #11310
Tried 1.20, same error.

[2021-05-07 08:18] AkihiroSuda commented on #10836
No, this does not exist in the v2 ecosystem.

I was thinking that https://github.com/kubernetes-sigs/kind/pull/2014/files might be related, but seems a different issue.

[2021-05-07 08:38] AkihiroSuda commented on #11310
The problem is that minikube still uses deprecated runtime v1.
This patch works:
[code]

[code]

[2021-05-07 09:05] martinknechtel commented on #10085
same for me with
MacOS - 11.3.1
Docker - 20.10.5
Kubernetes - 1.20.2
Minikube - 1.19.0

[2021-05-07 10:10] kochetov-dmitrij opened #11322 "`minikube image load` loads the same image but with different tags again"
**Problem**

`minikube image load` loads the same image but with different tags again instead of just comparing layer hashes and skipping the second unnecessary uploading.

**Steps to reproduce the issue:**

1. Use a fat image, for example, python:3.8-buster (330MB)
2. Upload it to minikube, it will take a minute
3. Use another tag for the image
4. Upload the new tag to minikube, it will take appr

[2021-05-07 11:04] Srikrishnabh commented on #11290
@medyagh I would like to fix this.

[2021-05-07 11:20] Laxminarayan1502 opened #11323 "Exiting due to K8S_INSTALL_FAILED: updating control plane: generating kubeadm cfg: getting cgroup driver: docker info --format : exit status 2"
**Steps to reproduce the issue:**
I am trying to install kubernetes and minikube on amazon ec2 linux instance. when i am triggering the below CLI it is throwing error" Exiting due to K8S_INSTALL_FAILED: updating control plane: generating kubeadm cfg: getting cgroup driver: docker info --format : exit status 2"

minikube start --driver=none

Please help in resolving the issue.

**Full output of `mi

[2021-05-07 13:09] AbhuSteyn opened #11324 "I am trying to run terraform as a container in minikube but the container is getting crash loop back This is the cmdlet i am using kubectl create deployment terraform --image=hashicorp/terraform:light please suggest how to resolve this"
I am trying to run terraform as a container in minikube but the container is getting crash loop back This is the cmdlet i am using kubectl create deployment terraform --image=hashicorp/terraform:light please suggest how to resolve this

[2021-05-07 13:37] AkihiroSuda commented on #11310
PR: https://github.com/kubernetes/minikube/pull/11325

[2021-05-07 13:49] afbjorklund commented on #11322
There are no such features in the current implementation, it is purely based on the name:tag

[2021-05-07 13:51] afbjorklund commented on #11322
both load and build are based on tarballs, not layers or files

So it looks something like:
1) docker save
2) scp
3) docker load

[2021-05-07 13:57] guettli opened #11326 "Docs: Please highlight the current page in the list on the left side"
Docs: Please highlight the current page in the list on the left side

See screenshot:

![image](https://user-images.githubusercontent.com/414336/117460543-e9cf8a00-af4c-11eb-8abd-ae4be1f03b95.png)

[2021-05-07 14:06] AkihiroSuda opened #11327 "[kicbase] Proposal: install containerd (and docker) from binary tgz, not from deb"
https://github.com/kubernetes/minikube/blob/c31bd57f93d45726e4bd30607374f8c720e70e95/deploy/kicbase/Dockerfile#L110-L114

Currently, kicbase uses `containerd.io` deb maintained by Docker, Inc.
This makes impossible to update kicbase to use containerd 1.5.0, as contained 1.5.0 is not available in the apt repo: https://download.docker.com/linux/ubuntu/dists/focal/pool/stable/amd64/

So I suggest ins

[2021-05-07 14:11] afbjorklund commented on #11327
Why is containerd and buildkitd not available as regular packages ?

[2021-05-07 14:18] AkihiroSuda commented on #11327
Mostly, it is simply because we do not know how to provide apt repo, without maintaining a web server, nor subscribing a paid service 😓 .
It would be great if GitHub or CNCF can provide free apt service.

[2021-05-07 14:18] afbjorklund commented on #11327
Actually containerd _is_ available as a system package:

https://packages.ubuntu.com/focal-updates/containerd

Not that it actually helps going to containerd 1.5.0

[2021-05-07 14:51] afbjorklund commented on #11322
Using the cluster registry addon should also be able to fix this.

[2021-05-07 15:32] afbjorklund commented on #11322
@spowelljr something for your benchmarks

[2021-05-07 15:37] dlminvestments opened #11328 "server issue"
**Steps to reproduce the issue:**

1.
2. Exiting due to GUEST_PROVISION: Failed to start host: recreate: creating host: create: creating: setting up container node: preparing volume for minikube container: docker run --rm --name minikube-preload-sidecar --label created_by.minikube.sigs.k8s.io=true --label name.minikube.sigs.k8s.io=minikube --entrypoint /usr/bin/test -v minikube:/var gcr.io/k8s-min

[2021-05-07 15:40] martinknechtel commented on #10085
With Hyperkit (v0.20210107-2-g2f061e) instead of Docker, it is running fine.

[2021-05-07 16:58] spowelljr commented on #11276
In-progress

[2021-05-07 17:30] ilya-zuyev opened #11330 "fix TestFunctional/parallel/LoadImage for docker driver with containerd runtime"
TestFunctional/parallel/LoadImage is failing for docker/containerd

Example of logs:
https://storage.googleapis.com/minikube-builds/logs/master/c31bd57/Docker_Linux_containerd.html#fail_TestFunctional%2fparallel%2fLoadImage
Full log: https://storage.googleapis.com/minikube-builds/logs/master/c31bd57/Docker_Linux_containerdout.txt

`minikube image load <image>` returns ok, but then `minikue ssh  --

[2021-05-07 17:40] ilya-zuyev opened #11331 "fix TestFunctional/parallel/BuildImage for docker driver with containerd runtime"
https://storage.googleapis.com/minikube-builds/logs/master/c31bd57/Docker_Linux_containerd.html#fail_TestFunctional%2fparallel%2fBuildImage

Full log: https://storage.googleapis.com/minikube-builds/logs/master/c31bd57/Docker_Linux_containerdout.txt

Probably caused by
[code]

[2021-05-07 17:45] ilya-zuyev opened #11332 "fix TestPause/serial/* tests for docker driver with containerd runtime"
These three failures seem related:

https://storage.googleapis.com/minikube-builds/logs/master/c31bd57/Docker_Linux_containerd.html#fail_TestPause%2fserial%2fPause
https://storage.googleapis.com/minikube-builds/logs/master/c31bd57/Docker_Linux_containerd.html#fail_TestPause%2fserial%2fPauseAgain
https://storage.googleapis.com/minikube-builds/logs/master/c31bd57/Docker_Linux_containerd.html#fail_Te

[2021-05-07 18:00] ilya-zuyev opened #11333 "fix TestNetworkPlugins/group/kubenet/Start for docker/containerd"
TestNetworkPlugins/group/kubenet/Start times out for docker/containerd

https://storage.googleapis.com/minikube-builds/logs/master/c31bd57/Docker_Linux_containerd.html#fail_TestNetworkPlugins%2fgroup%2fkubenet%2fStart

Full log: https://storage.googleapis.com/minikube-builds/logs/master/c31bd57/Docker_Linux_containerdout.txt

[2021-05-07 18:02] ilya-zuyev opened #11335 "fix TestNetworkPlugins/group/false/Start for docker/containerd"
the test TestNetworkPlugins/group/false/Start times out for docker/containerd

https://storage.googleapis.com/minikube-builds/logs/master/c31bd57/Docker_Linux_containerd.html#fail_TestNetworkPlugins%2fgroup%2ffalse%2fStart

https://storage.googleapis.com/minikube-builds/logs/master/c31bd57/Docker_Linux_containerdout.txt

[2021-05-07 19:17] ilya-zuyev opened #11336 "Support `cp` between minikube nodes"
Related to https://github.com/kubernetes/minikube/issues/11296

It would be nice to have an ability to copy files not only between the host and a node, but also between minikube nodes

`minikube cp node1:/tmp/foo node2:/tmp/bar`

[2021-05-07 19:20] pierrebeaucamp commented on #11229
Here is the more detailed output of the `tunnel` command

<details>
<summary><b>mininkube tunnel --alsologstostderr</b></summary>
<pre>
I0507 15:01:10.020313   38452 out.go:278] Setting OutFile to fd 1 ...
I0507 15:01:10.020477   38452 out.go:330] isatty.IsTerminal(1) = false
I0507 15:01:10.020483   38452 out.go:291] Setting ErrFile to fd 2...
I0507 15:01:10.020489   38452 out.go:330] isatty.IsTer

[2021-05-07 20:36] majid-taghdimi2 commented on #3417
Actually, this worked for me : disable "NodeLocal DNSCache" in cluster.

[2021-05-07 22:08] dinever commented on #11311
/assign

[2021-05-07 22:15] #11271 closed

[2021-05-07 22:49] dinever commented on #11326
Working on this

/assign

[2021-05-07 23:33] ilya-zuyev opened #11343 "`minikue config set` ignores `--profile` arg"
Scenario:
1. Start two minikube instances - `foo` and `bar`
2. Run `minikube -p foo config set <param> <value>`
3. Restart instance `bar`
4. Config changes are applied although should be ignored as they were made for `foo`

'''
ilyaz@myhost --- g/minikube ‹master› » m start -p foo
* [foo] minikube v1.20.0 on Ubuntu 20.10
* Automatically selected the docker driver. Other choices: kvm2, podman, virt

[2021-05-07 23:54] medyagh commented on #11323
@Laxminarayan1502 do u have same problem with Docker driver ?
[code]

[2021-05-07 23:54] medyagh commented on #11323
/triage needs-information
/kind support

[2021-05-07 23:59] medyagh commented on #11343
yeah this is confusing, good point !

minikube config set is supposed to be global ! I think we should make that clear to the user.

I think since that one is global we should not allow setting "-p " and let user know that is a glboal config for all profiles

[2021-05-08 00:41] dinever commented on #11326
This has been fixed in #11341. I forgot to mention this issue in the PR. @medyagh could you help close this? Thanks!

[2021-05-08 02:41] #11311 closed

[2021-05-08 05:19] Abheestanistala commented on #7300
The error still persists:

Windows 10 Home;
WSL is enabled

Tried `minikube delete` and then again `minikube start`

Please note that both the Minikube and Oracle VMBox are installed on different drive if that makes any difference but as far I know that shouldn't be the issue.

[code]

[2021-05-08 05:28] dinever commented on #11343
/assign

[2021-05-08 05:34] Abheestanistala opened #11345 "Minikube start failing to write VBoxHeadless"
**Steps to reproduce the issue:**

1. Installed minikube and VirtualBox.
2. ran the command `minikube start`

Windows 10 Home; WSL enabled;

Please check the screenshot attached.

**Full output of `minikube logs` command:**
<details>

`*
* ==> Audit <==
* |---------|------|---------|------|---------|------------|----------|
| Command | Args | Profile | User | Version | Start Time | End Time |
|---

[2021-05-08 05:42] Abheestanistala commented on #11037
+ @Abheestanistala

Hey I am facing a similar issue: please check the details below.
Not sure if this is a issue with the minikube or virtualbox

VirtualBox : Version 6.1.22 r144080 **(Qt5.6.2)**

**Steps to reproduce the issue:**

1. Installed minikube and VirtualBox.
2. ran the command `minikube start`

Windows 10 Home; WSL enabled;

Please check the screenshot attached.

![Screenshot 2021-05-08

[2021-05-08 06:48] afbjorklund commented on #11322
I should also mention that the _problem_ with using the registry, is that the container start then needs to pull the image...

i.e. it has been uploaded to /var/lib/registry but needs to be copied over to /var/lib/docker (etc) before it becomes available

@kochetov-dmitrij : for your artificial use case, would it help if there was a `minikube image tag` command ?

[code]

----

When minikube is pu

[2021-05-08 07:01] afbjorklund commented on #11321
Unfortunately it is still broken, so it will need some more update.

[2021-05-08 07:27] afbjorklund commented on #11321
It was using the wrong directory, ImageCacheDir instead of KICCacheDir

[2021-05-08 07:33] afbjorklund commented on #11322
This is (sortof) related to: #11276

[2021-05-08 07:45] kochetov-dmitrij commented on #11322
Thanks for the suggestions!

My use case is building images on my host and running them on minikube in my dev pipeline. Sometimes there are no changes in the image but a new tag gets assigned.

I thought `minikube image load` is a more convenient alternative of `eval $(minikube docker-env)`
So `minikube image tag` and `minikube image load --pull` wouldn't help me.

Looks like using `eval $(minikub

[2021-05-08 07:56] afbjorklund commented on #11322
It would be nice if we could recognize this. It would also help with the "latest"

i.e. the opposite problem, you have the same tag - but the  contents changed

[2021-05-08 08:00] afbjorklund commented on #11322
The usual workaround/shortcut is to build the images in minikube, instead of building on the host

[2021-05-08 11:33] afbjorklund opened #11347 "Getting the Id of an image and not just the name:tag"
Currently we are using the name:tag of an image, which has some issues

* it fails to reload changed images, such as `:latest`
* it fails to recognized re-tagged images, as duplicates

Previously we have also used digests, which is another can of worms

* they are not preserved, when saving to an archive
* they vary depending on the registry, require network

----

So it would be better to add sup

[2021-05-08 13:23] cbcoutinho opened #11348 "Minikube image zsh completion broken"
The `minikube image` tab completion on ZSH doesn't work:

[code]

For some reason, part of the previously added image name is part of the error message (`application-name`)

[2021-05-08 14:24] DavidNix commented on #9063
I am using kind, but had the same problem. `localhost` was the culprit.

This fixed it for me.

[code]

[2021-05-08 15:52] dmeyerholt commented on #10940
While setting the specific disk-location maybe a reasonable flag, using the MINIKUBE_HOME env-var could solve this too, if you don't mind having all your minikube config/image/vm stuff in a different directory.

[2021-05-08 15:56] afbjorklund commented on #11348
Can you try this improved version, perhaps ? PR #11329

[2021-05-08 16:13] afbjorklund commented on #11348
It looks better with the new version, once you get it installed

[code]

[2021-05-08 16:25] cbcoutinho commented on #11348
Hi @afbjorklund PR #11329 fixes the issue for me, thanks for the help

[2021-05-08 18:21] kochetov-dmitrij commented on #11322
I meant I would build the images and store their cache on my host. And regardless whether minikube is up or going to start from a scratch, I can always quickly build my images on host and uploading them to minikube by running my pipeline. The "restore step" is simply running the pipeline again

[2021-05-08 19:35] valeriaverboloz commented on #7332
Solved for me:
`$ minikube start --vm-driver=virtualbox
$ minikube addons enable <ingress>`

[2021-05-08 21:06] #9363 closed

[2021-05-08 22:56] hughpearse commented on #4206
I encountered this issue after upgrading from catalina to big sur. Tried a bunch of stuff and eventually got it working again. Not sire exactly what I did, but I can show everything:

[code]

Go to System Preferences > Security & Privacy > Firewall > [Firewall Options] > [ ] Enable stealth mode

And disable stealth mode if enabled.

[code]

I dont know for sure, but I suspect the fix was `brew ins

[2021-05-09 00:30] vigothehacker commented on #11348
Hi, I am getting the same issue with zsh completion. Will test with the PR #11329

[2021-05-09 00:57] vigothehacker commented on #11290
/assign

[2021-05-09 05:47] Srikrishnabh commented on #11290
@vigothehacker If you dont mind can I work on this had already started, missed the assign command ?

[2021-05-09 06:10] dominikh commented on #11312
Staticcheck is not part of Go. Upgrading from Go 1.16.2 to 1.16.4 does not introduce new checks to Staticcheck. Upgrading Go may change the behavior of checks, however, especially ones that analyze the behavior of the standard library (which would apply to SA4023).

I'd love to make it "less stupid", but I can't do so if people don't report bugs [upstream](https://github.com/dominikh/go-tools/issu