[2020-03-31 20:50] isra17 opened #7344 "`minikube ip` returns 127.0.0.1"
**Steps to reproduce the issue:**

1. `minikube start`
2. `minikibe ip`

**Full output of failed command:**

[code]

**Full output of `minikube start` command used, if not already included:**

[code]

I had a minikube instance before I upgraded to 1.9.0 and the bug started to appear. Creating a new cluster from scratch didn't solve the issue. `minikube service foo --url` work as expected. Same for

[2020-03-31 21:20] jkornata commented on #7332
Works just fine with `--driver=hyperkit`

[2020-03-31 22:10] tstromberg commented on #7334
@cvila84 - If you get a chance, it would be nice to hear if this minikube binary addresses the issue for you:

https://storage.googleapis.com/minikube-builds/7340/minikube-windows-amd64.exe

[2020-03-31 22:11] #7334 closed

[2020-03-31 22:22] cvila84 commented on #7334
@tstromberg fixed for me, start now takes 1m02s instead of 1m34 ! thanks !

[2020-03-31 23:13] jimdevops19 commented on #7296
Hey,
I'm here because i still see this exact error of (This control plane is not running state=Stopped_) , when you I try to run " minikube dashboard "
minikube service works fine.
I downloaded the amd64 executable file today.

[2020-03-31 23:21] steren opened #7346 "docker on CrOS: apply authorized_keys file ownership -> container is not running"
I want to create a minikube cluster.
I am on Linux in ChomeOS

[code]

[2020-04-01 01:47] soumilshah1995 opened #7347 "hyperv: The requested operation requires elevation."
**Steps to reproduce the issue:**
![image](https://user-images.githubusercontent.com/39345855/78090785-1bb10d00-7399-11ea-90a4-22f8893fecd0.png)

1. i have mini kube installed and configure when i run the commands minikube start

$ minikube start

* minikube v1.9.0 on Microsoft Windows 10 Pro 10.0.18363 Build 18363
* Using the hyperv driver based on existing profile

! 'hyperv' driver reported an

[2020-04-01 01:56] bobishere opened #7348 "Checksums did not match for kubelet.download"
**重现问题所需的命令**：
minikube start --image-mirror-country=cn   --iso-url=https://kubernetes.oss-cn-hangzhou.aliyuncs.com/minikube/iso/minikube-v1.9.0.iso  --registry-mirror=https://y0qd3iq.mirror.aliyuncs.com  --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers --driver=none

**失败的命令的完整输出**：<details>

</details>
更新 cluster 失败: updating node: downloading binaries: downloading kubelet:

[2020-04-01 02:26] eox-dev commented on #7344
Having the same issue in WSL2.

[2020-04-01 03:25] SaralSaxena commented on #7335
[code]

[2020-04-01 03:29] ninjajazza commented on #7296
Yep, I'm seeing the same thing with minikube 1.9.0 on Windows 10 Enterprise 1809 build 17762.1098
[code]
Seems to occur for other commands like `minikube dashboard` also.

[2020-04-01 04:17] dafydd2277 opened #7350 "CentOS 7 kubectl is too old for the --output argument"
CentOS 8 with `kubernetes-client-1.5.2-0.7.git269f928.el7.x86_64.rpm`

installs a kubectl that does NOT include an "--output" argument. So,

[code]

and `minikube start` ends with

[code]

Since start.go is viewable, I go look at `start.go` line 383. That points me to the function `showKubectlInfo` at line 423 , and the `exec.Command` at line 436. From that, I'm concluding that the error is a fals

[2020-04-01 06:01] afbjorklund commented on #7350
That package is for `.el7`, and seems to be using Kubernetes 1.5 ?

Please install a newer `kubectl`, or maybe use "minikube kubectl"

[2020-04-01 06:09] huangliequan opened #7351 "no such host"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2020-04-01 06:41] cwansart commented on #7296
The Minikube dashboard works with @tstromberg's new binary for macOS (https://github.com/kubernetes/minikube/issues/7296#issuecomment-605683444), I just tested it.
But it is strange that this happens on Windows too.

[2020-04-01 09:06] devika-28 opened #7352 "create kic node: create container: Windows does not support privileged mode."
command;  minikube start --driver=docker
**Steps to reproduce the issue:**

step 1. choco install minikube
step 2.  minikube start

the "--alsologtostderr" flag output:
<details>
W0401 14:28:03.949879     356 root.go:248] Error reading config file at C:\Users\Devika Bihani\.minikube\config\config.json: open C:\Users\Devika Bihani\.minikube\config\config.json: The system cannot find the file specif

[2020-04-01 09:59] eoinreilly93 commented on #7318
I've also noticed in the `none` [driver documentation ](https://minikube.sigs.k8s.io/docs/reference/drivers/none/) that it says the `dashboard` command is not supported? Is this still true or is this out of date?

[2020-04-01 10:02] irizzant opened #7354 "CoreDNS pods do not start with CNI enabled"
**Steps to reproduce the issue:**
1. start minikube with:
[code]
1. Check pods status in `kube-system`:
[code]
1. Describe the CoreDNS pods:
[code]

[2020-04-01 12:50] #7323 closed

[2020-04-01 14:29] eoinreilly93 commented on #7318
@tstromberg I have also tried using the docker driver as an alternative but when I try to start it I get more Timeout exceptions as it says it can't find the image `gcr.io/k8s-minikube/kicbase:v0.0.7@sha256:<shanumber>` locally. This image does not appear to be put in the cache when I previously ran it with the `--download-only` flag.

[2020-04-01 15:02] andrebrait commented on #7344
Same here in Ubuntu 18.04. Works fine with 1.8.2.

[2020-04-01 15:21] afbjorklund commented on #7350
Improved output:

[code]

[code]

See: https://kubernetes.io/docs/setup/release/version-skew-policy/

[2020-04-01 15:22] lunmatu101 commented on #6895
I was facing the same problem and I found a root cause.
Cause your hyper-v virtual switch is not correct for minikube (minikube chose a default from your).
So you need to create a new hyper-v virtual switch from Hyper-V manager with connection type is an external network.
Afterward, you need to add a param to your minikube cli like below:
`minikube start --driver=hyperv --hyperv-virtual-switch=min

[2020-04-01 15:25] afbjorklund commented on #7350
For upgrading on CentOS, you can use `yum`:

https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-using-native-package-management

[2020-04-01 15:29] #7296 closed

[2020-04-01 15:29] afbjorklund commented on #7344
This is a design decision (for the `docker` driver), and not really a bug per se.

@medyagh : can you comment why it uses a tunnel rather than the bridge ?

[2020-04-01 15:31] andrebrait commented on #7344
Ok. Is there another way to reach the cluster from the host then?

[2020-04-01 15:36] afbjorklund commented on #7344
I think you would have to use `minikube tunnel`, but unsure myself.

By default it will only tunnel 2376 (docker) and 8443 (kubernetes), in addition to the regular 22 (ssh):

[code]

When using something like VirtualBox, it will do two _different_ networks - one for ssh, one for "other"

So there you would contact the external interface for services (NodePort etc)

[2020-04-01 15:48] afbjorklund commented on #7344
### docker driver (ubuntu OS)

[code]

### virtualbox driver (minikube OS)

[code]

[2020-04-01 15:49] chrber commented on #6296
Same problem here, no dnsmasq installed, when using HyperKit.

The question is, which application does interfere on my machine.

MacOs Mojave: 10.14.6 (18G2022)

minikube version
minikube version: v1.7.3
commit: 436667c819c324e35d7e839f8116b968a2d0a3ff

kubectl version
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", Gi

[2020-04-01 15:52] isra17 commented on #7344
Interesting, thanks for the pointer.

So in short, to access service from the host you should create `LoadBalancer` service and expose them with `minikube tunnel`.

As a workaround for people using `NodePort`, I can get the node address with:
[code]

[2020-04-01 15:52] #7344 closed

[2020-04-01 15:56] afbjorklund commented on #7344
Really need to document this, like #4938. Something to include in Documentation Week

[2020-04-01 16:43] zerefwayne commented on #7166
@priyawadhwa @medyagh

1. How do I reproduce the error as I have docker installed on Ubuntu 18.04? Is there any alternative to completely removing docker to solve this problem?
2. I couldn't find the exact location in code from where the error message is being generated even after using grep.

[2020-04-01 16:52] strus38 opened #7357 "brew installed minikube: SIGILL: illegal instruction PC=0x406b3e0 m=0 sigcode=1 goroutine 1"
Trying to launch minikube on macos 10.13.6, here are the steps I followed:
1) check system requirements:
`sysctl -a | grep -E --color 'machdep.cpu.features|VMX'
machdep.cpu.features: FPU VME DE PSE TSC MSR PAE MCE CX8 APIC SEP MTRR PGE MCA CMOV PAT PSE36 CLFSH DS ACPI MMX FXSR SSE SSE2 SS HTT TM PBE SSE3 DTES64 MON DSCPL **VMX** SMX EST TM2 SSSE3 CX16 TPR PDCM SSE4.1 SSE4.2 POPCNT
`
2) install dep

[2020-04-01 16:54] afbjorklund commented on #7166
zerefwayne : you can just rename it temporarily, and move it back again when done

`sudo mv /usr/bin/docker /usr/bin/docker.orig`

[2020-04-01 17:00] Trupal00p commented on #5891
For others who come accross this, here is what fixed this for me:

I have docker desktop installed on a Windows 10 machine alongside minikube. **I had turned off the docker desktop service.** when I turned it back on and restarted the minikube vm (_minkube stop && minikube start_) everything started working again.

I think docker desktop may be doing something with DNS lookups but I'm not sure how

[2020-04-01 18:09] zerefwayne commented on #6921
/assign

[2020-04-01 18:13] afbjorklund commented on #7357
Probably a go bug, minikube (and kubernetes) suggests using 1.13.8 for now (1.13.9 soon).

https://github.com/golang/go/issues/37478

[2020-04-01 18:14] zerefwayne commented on #6921
@medyagh

![image](https://user-images.githubusercontent.com/28949397/78171735-8b46fb00-7472-11ea-9341-c81c75a65131.png)

https://minikube.sigs.k8s.io/docs/start/linux/

The problems seems to be fixed on this website. Is there any other place you want this to be changed?

[2020-04-01 18:41] medyagh commented on #7346
Hi @steren currently we dont have support for chrome os.

[2020-04-01 18:54] butuzov commented on #7357
I think we broke Darwin/amd64 on pre-AVX chips. VZEROUPPER needs a CPU feature detection guard.
by [@randall77](https://github.com/golang/go/issues/37459#issuecomment-591180408)

I am also one of the affected users (using old MacPro with old Xeons on a board)

[code]

`kubectl` can be downgraded with existing binaries. I am using `1.17.4` version.

[2020-04-01 19:37] strus38 commented on #7357
Indeed, using:
`brew reinstall --build-from-source minikube`
seems to fix it!
I will keep testing more using:
`minikube version: v1.9.0
go: v1.14.1
Kubernetes: v1.18.0
`

[2020-04-01 20:26] tstromberg commented on #7126
have you bumped into this again?

[2020-04-01 20:31] andrebrait commented on #7344
I know this has been closed, but what is the rationale behind this decision?

Why would `minikube ip` here give you something other than the cluster's IP?

On Wed 1 Apr 2020, 17:56 Anders Björklund, <notifications@github.com> wrote:

[2020-04-01 20:47] peterlin741 commented on #7126
I haven't seen this exact issue recently (managed version on `v1.8.2`), although whenever minikube gets stuck, restarting docker and running `minikube delete` fixes it.

Our team will be doing further testing this week, so I'll comment here if the issue shows up again when using the latest version of minikube.

[2020-04-01 20:57] tstromberg commented on #7181
I'm going to close it, since it's primarily used by tool builders who can encode this once rather than most users, so the extra cognitive overhead of seeing it in `--start` isn't worth it.

Historical note: this was made an environment variable because minikube used to show the update message on every command. I felt that was a bit obnoxious, so it only happens during start now.

Feel free to `/re

[2020-04-01 20:57] #7181 closed

[2020-04-01 20:59] tstromberg commented on #7126
@peterlin741 - "whenever minikube gets stuck" sounds bad. Do you mind opening an issue about that? It shouldn't happen regularly at all. I would love to get `--alsologtostderr` output from a case where it occurs.

We've talked about offering a flag to automatically restart stuck Docker daemons, but it seems a bit invasive to do by default.

[2020-04-01 20:59] #7126 closed

[2020-04-01 21:02] tstromberg commented on #7073
This issue appears to be a duplicate of #6820, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-04-01 21:02] #7073 closed

[2020-04-01 21:17] #7350 closed

[2020-04-01 21:29] peterlin741 commented on #7126
Sure, I can open an issue if I see it again and include the logs

[2020-04-01 21:40] #7290 closed

[2020-04-01 21:41] #7322 closed

[2020-04-01 22:07] tstromberg commented on #7351
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2020-04-01 22:10] tstromberg commented on #7347
Does this happen when you start Powershell as an Administrator, and run minikube from there?

[2020-04-01 22:13] #3866 closed

[2020-04-01 22:13] tstromberg commented on #3866
This no longer occurs in minikube v1.9.

[2020-04-01 22:32] Damarla499 opened #7365 "Hyper-V\Get-VM : Hyper-V was unable to find a virtual machine with name "minikube"."
But, minikube machine is visible in HyperV. Can you please help me to solve this ?

[2020-04-02 00:31] sharifelgamal opened #7366 "Determine which "start" flags to support in "node""
We should figure out which `minikube start` parameters to support for `minikube node add` and `minikube node start`

[2020-04-02 00:47] medyagh opened #7367 "investigate per-driver kubelet resource management options"
while doing this PR
https://github.com/kubernetes/minikube/pull/7364/files

because of this https://github.com/kubernetes/minikube/pull/7364#discussion_r401935684
I made the following
[code]

we need to investigate if this is best option for all drivers or just none and docker ?
could it be that in VM we could do something better?

[2020-04-02 00:53] #7233 closed

[2020-04-02 01:25] medyagh opened #7368 "satisify kubelet/kubeadm warnnings"
currently kubeadm warns about a few things that we could do small things to make it happy so our logs look less scary

[2020-04-02 02:31] medyagh opened #7369 "flake test : TestFunctional/parallel/TunnelCmd"
as seen here

https://storage.googleapis.com/minikube-builds/logs/7364/9b21762/VirtualBox_Linux.html#fail_TestFunctional%2fparallel%2fTunnelCmd

[2020-04-02 02:33] medyagh opened #7370 "TestFunctional/parallel/ProfileCmd/profile_not_create"
TestFunctional/parallel/ProfileCmd/profile_not_create
as seen in docker
here
https://storage.googleapis.com/minikube-builds/logs/7360/ba84f94/Docker_Linux.html#fail_TestFunctional%2fparallel%2fProfileCmd%2fprofile_not_create
and
https://storage.googleapis.com/minikube-builds/logs/7360/ba84f94/Docker_Linux.html#fail_TestFunctional%2fparallel%2fProfileCmd%2fprofile_not_create

[2020-04-02 03:55] medyagh opened #7371 "auto selet does not select none on a linux without docker"
on a linux box that doesnt have docker
but has podman

[code]

we should start either none or podman (experimental) as oppsoed to no running anything

[2020-04-02 04:28] medyagh opened #7372 "run bootstrapper init steps in parallel"
I believe we could totally do these operations in parallel since they are neither essential or required for a cluster to report healtyhy . (but good to have eventually for some addons and applications)

[code]

[2020-04-02 04:33] medyagh opened #7373 "fix TestFunctional/parallel/NodeLabels test output"
as seen in https://storage.googleapis.com/minikube-builds/logs/7364/9b21762/Docker_Linux.html#fail_TestFunctional%2fparallel%2fNodeLabels

[code]

[2020-04-02 05:12] Mason-Chou commented on #7296
To make things easier for Windows users, see this link for the Windows version of the patch @tstromberg mentioned.

http://storage.googleapis.com/minikube-builds/7310/minikube-windows-amd64.exe

To apply the patch, just replace your minikube.exe with the patched version linked here.

[2020-04-02 08:06] butuzov commented on #7357
@strus38 `brew` has release 1.14.1 version few days, which doesn't have this issue.  While all essential software currently ae build with 1.13.8 I guess it's safe to update go via brew.

P/S/
kubectl you using also build with 1.14, you can download patched version build with 1.13.8, check this document (you looking for `kubernetes-client-darwin-amd64.tar.gz`)

https://github.com/kubernetes/kuberne

[2020-04-02 08:52] czunker commented on #6686
Hi,

I also had the problem with v1.9.0. But this [workaround](https://github.com/kubernetes/minikube/issues/3818#issuecomment-481830737) from #3818 helped.

[2020-04-02 09:17] naomiyang opened #7376 "no-root:permission denied"
**Steps to reproduce the issue:**

$ kubectl version

**Full output of failed command:**
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef122b67c83fb11df", GitTreeState:"clean", BuildDate:"2016-12-14T00:57:05Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"darwin/amd64"}
The connection to the server localhost:8080 was refused - did you sp

[2020-04-02 09:56] r0bnet commented on #4540
Had the same problem with Cisco AnyConnect. Had to reinstall VirtualBox and then it worked. I guess restarting machine or re-configure some routes should also do the job but I didn't try.
minikube version: 1.9.0
VirtualBox version: 6.1.4

[2020-04-02 11:10] charith-elastic commented on #7218
I had the same issue and had to downgrade Kubernetes to 1.16 to get the storage provisioner to work.

Could it be due to the use of `sigs.k8s.io/sig-storage-lib-external-provisioner` v4.0.0? According to the [releases page](https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/releases), version 5.0.0 is the version with support for Kubernetes 1.18.

[2020-04-02 12:33] tstromberg commented on #5392
@eox-dev - thanks for the update. I only had a chance to play around for a couple of minutes. Once a cluster is started, does it work until the host machine reboots? If not, what kind of errors are you seeing?

[2020-04-02 12:39] tstromberg commented on #7371
`none` was an intentional decision, and also requires `docker`.

podman seems reasonable.

[2020-04-02 12:43] ncri opened #7378 "registry-creds addon: Pulling images from private gcr repositiory does not work"
**Steps to reproduce the issue:**

1. Deploy a workload that requires pulling pod images from the gcr
2. Run `minikube addons configure registry-creds`, use a service account with sufficient permissions
3. Run `minikube addons enable registry-creds`

**Full output of failed command:**

After step 1 my pods have the ImagePullBackOff status as expected.
**After step 3 they still have ImagePullBackOf

[2020-04-02 12:51] strus38 commented on #7357
Thanks, it seems to work like a charm with this new kubectl version... at least for now.
I was able to start minikube and to enable the dashboard.
Thanks for the awesome support.

[2020-04-02 13:29] tstromberg commented on #7371
I looked at the code, and think it should have fallen-back anyways. Do you mind running `--alsologtostderr`?

[2020-04-02 15:22] afbjorklund commented on #7344
As far as I know, it is because the docker network does not work on darwin or windows.

https://docs.docker.com/docker-for-mac/networking/

https://docs.docker.com/docker-for-windows/networking/

It works on Linux, though. Wonder if `host.docker.internal` would work for the VMs ?

[2020-04-02 15:44] afbjorklund commented on #7357
Most likely `brew reinstall --build-from-source kubernetes-client` would fix `kubectl`.

Otherwise you can use `minikube kubectl`, and as a bonus the version will match the cluster...

[2020-04-02 16:16] tstromberg opened #7380 "docker driver + crio: failed to set bridge addr: could not add IP address to "cni0": permission denied"
TestStartStop/group/crio has been broken with the Docker driver since Mar 23 19:11  - particularly with this commit:

GitHub pull request #7182 of commit 39b08c98765027721484fc8eb70abc880b604a76, no merge conflicts.

Here is an example failure:

TestStartStop/group/crio - 782.71s

`Warning  FailedCreatePodSandBox  7m18s                 kubelet, crio-20200401t175453.296999333-32003  Failed create p

[2020-04-02 16:17] andrebrait commented on #7344
Got it. I managed to make it work using a LoadBalancer and `minikube tunnel`.

Still, neither `127.0.0.1` nor the old `minikube ip` will work on Windows and Darwin, so making `minikube ip` return `127.0.0.1` for Linux users just makes it also not work in a simple way for Linux users without any benefits for Windows or Darwin, isn't it right?

Also, there's not that much incentive for users on Wind

[2020-04-02 16:25] tstromberg opened #7381 "Slow docker message corrupts JSON output"
This can create test flakes:

[code]

[2020-04-02 16:38] SaralSaxena commented on #7335
Folks,
Please advise is there any way to overcome from this problem statement.

[2020-04-02 17:29] tstromberg opened #7383 "docker: TestFunctional/parallel/ServiceCmd broken due to tunnel requirement"
On macOS and Windows, the "service" command needs a tunnel to function.

`TestFunctional/parallel/ServiceCmd` was not updated to take this into account, so it hangs for a long time, waiting for the command to finish.

[2020-04-02 17:30] tstromberg commented on #7383
For example:

[code]

[2020-04-02 18:04] tstromberg commented on #7302
This issue appears to be a duplicate of #6596, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-04-02 18:04] #7302 closed

[2020-04-02 18:04] tstromberg commented on #6819
This issue appears to be a duplicate of #6596, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-04-02 18:04] #6819 closed

[2020-04-02 18:04] tstromberg commented on #6596
It's unclear whether or not this error still happens in minikube v1.9.x. Comments welcome!

[2020-04-02 18:16] #7286 closed

[2020-04-02 18:59] Ifriqiya opened #7387 "Failed to get API Server URL: get ip: Host is not running"
I tried to start using this command: `minikube start --alsologtostderr -v=1`

and got this output:

[code]

Please help.

[2020-04-02 19:43] #7074 closed

[2020-04-02 20:06] tstromberg commented on #6649
Eliminated this issue in v1.9.

[2020-04-02 20:15] skemuel007 commented on #3974
The code below is added to your /etc/apt/sources.list
`echo "deb [arch=amd64] https://download.virtualbox.org/virtualbox/debian $(lsb_release -sc) contrib" | sudo tee /etc/apt/sources.list`

Add these keys with
`wget -q https://www.virtualbox.org/download/oracle_vbox_2016.asc -O- | sudo apt-key add -`
`wget -q https://www.virtualbox.org/download/oracle_vbox.asc -O- | sudo apt-key add -`

To instal

[2020-04-02 21:40] tstromberg commented on #7215
This will implicitly happen with #7216 - drivers that require interaction will fail and move on to the next driver.

[2020-04-02 21:40] #7215 closed

[2020-04-02 21:49] tstromberg commented on #7346
This issue appears to be a duplicate of #6411, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-04-02 21:49] #7346 closed

[2020-04-02 21:51] tstromberg commented on #6411
NOTE: This issue means that minikube effectively will not work on ChromeOS at this time.

[2020-04-02 21:56] tstromberg commented on #7335
Hmm, this is interesting. I didn't realize Windows Home could use Hyper-V.

I took a look at the source code, and it seems to be failing to parse the output of this command:

[code]

Do you mind running it in an Administrative powershell? I theorize that it's returning a blank string.

[2020-04-02 22:05] tstromberg commented on #7387
@Ifriqiya - thank you for the bug report. Is it possible to provide the output of:

* `minikube status`
* `minikube logs`
* `VBoxManage list vms`
* `vboxmanage showvminfo minikube`

As best as I can tell, minikube seems to think that the machine disappeared in the middle of installing it. You may be able to recover by running `minikube delete`.

[2020-04-02 22:43] #7107 closed

[2020-04-02 22:54] medyagh commented on #7332
the ingress addon is currently not supported on docker driver on MacOs. this is due the limitation on docker bridge on mac.
there is a work arround that we have implemented for the core minikube tasks such as tunnel and service.

we could add same work arround for addon ingress on docker driver on mac and windows.
that said I will mark this as a bug to fix.

sorry that you faced this issue, the LE

[2020-04-02 23:31] medyagh commented on #7332
cc: @josedonizetti

[2020-04-02 23:37] lowyuenan opened #7391 "virtualbox --no-vtx-check: ssh: disconnect, reason 2: Invalid ssh2 packet type: 240"
**Steps to reproduce the issue:**

1. minikube start --driver virtualbox --no-vtx-check --alsologtostderr
2. minikube stop
3. minikube delete
4. minikube start --driver virtualbox --no-vtx-check --alsologtostderr
5. minikube stop
6. minikube start --driver virtualbox --no-vtx-check --alsologtostderr

driver: virtualbox
os: window 10 home

I tried several times `minikube stop` and `minikube start`,

[2020-04-03 00:40] prasadkatti commented on #7378
Hi @ncri. I wrote a tutorial about using images in AWS ECR. I know you said that you are trying to use a private GCR repo, but I thought I would still share the link here - https://minikube.sigs.k8s.io/docs/tutorials/configuring_creds_for_aws_ecr/

Take a look at the [caveats](https://minikube.sigs.k8s.io/docs/tutorials/configuring_creds_for_aws_ecr/#caveats) section.

[2020-04-03 00:48] #7371 closed

[2020-04-03 00:51] #7373 closed

[2020-04-03 02:34] tstromberg commented on #7391
It sounds like VirtualBox has bad network connectivity from your machine to your VM. What version of VirtualBox is it?

I assume if you keep trying that eventually it will work - but who knows how many times that may be.

[2020-04-03 02:35] tstromberg commented on #7391
Also, what output do you get if you remove `--no-vtx-check`

[2020-04-03 02:54] prasadkatti commented on #7378
- are you deploying your workload to the `default` namespace or some other namespace?
- Do you see a secret called `registry-creds-gcr` in `kube_system` - `kubectl get secret -o yaml -n kube-system registry-creds-gcr`
- If the secret exists, you can base64 decode and see if the data matches what you passed in to configure

[2020-04-03 03:48] colinhoglund commented on #6686
I'm also having this issue in 1.9.0.

This used to work by following the instructions in https://minikube.sigs.k8s.io/docs/tutorials/using_psp/#tutorial. However, this method does not appear to work after the removal of addonmanager.

[2020-04-03 03:55] #7381 closed

[2020-04-03 05:26] prasadkatti commented on #7368
Are you talking about these logs? -
[code]

[2020-04-03 05:31] afbjorklund commented on #6992
Most likely this will change to making a flexible worker pool of image loaders, instead of a mutex.

[2020-04-03 05:35] lowyuenan commented on #7391
Virtualbox version: `6.1.4r136177`

If I remove `--no-vtx-check`, the output would be `This computer doesn't have VT-X/AMD-v enabled...` but I already enabled virtualization technology in BIOS.

[2020-04-03 05:46] afbjorklund commented on #7344
Probably, it only "works" for the tunneled ports (and that only if you **can** change them, we had a long-standing request on docker-machine to not hard-code 2376 - which they have refused to accept...)

No, that sounds about right. I'm using Ubuntu myself, but it would be great to get Win and Mac user feedback on how the "docker" driver is working for them! The same with Linux users, from "none".

[2020-04-03 06:42] medyagh opened #7401 "docker_ubuntu_18_04 TestFunctional/parallel/MySQL: CrashLoopBackOff"
for docker drivers

[code]

I feel like this could be fixed by giving it a bit more time.

[2020-04-03 06:58] andrebrait commented on #7344
The old `minikube ip` works for every port, as far as I can tell. I could readily communicate using ports 443 and 80 without any special configuration whatsoever. I don't know if that was intentional or not.

[2020-04-03 07:40] Ifriqiya commented on #7387
@tstromberg thanks for your response. I already ran minikube delete to recover. Do you want me to restart to send you the outputs you requested?

[2020-04-03 07:46] jkornata commented on #7332
Thank you @medyagh

[2020-04-03 08:34] xmichele opened #7402 "Failed to cache ISO"
Hello,
contacting for this error on MacBookPro Mid 2015 with 16GB ram and OSX 10.15.4:
Code run:

[code]

Output
[code]

_**ERROR LOGS:**_

[code]

[2020-04-03 08:57] xmichele commented on #7402
I tried downloading https://storage.googleapis.com/minikube/iso/minikube-v1.7.0.iso on browser and it s ok

[2020-04-03 11:06] jgn-epp commented on #7296
Thank you @Mason-Chou

[2020-04-03 16:15] tstromberg commented on #7402
Hello @xmichele - I don't see the error in the issue title in your issue description. Do you mind including the `Failed to cache ISO` error message?

I also highly recommend trying with minikube v1.9.1.

[2020-04-03 17:20] xmichele commented on #7402
Hello the message was
Failed to cache ISO: https://storage.googleapis.com/minikube/iso/minikube-v1.7.0.iso: read tcp 192.168.x.y:50292->216.58.z.k:443: read: connection reset by peer
Howver after the third attempt the installation went ok, maybe is due to not so fast internet connection?
For the 1.9.1 I saw it but I'm using not so new helm charts and consequently helm and kubectl version.
For inst

[2020-04-03 17:59] tliron commented on #6982
Here is a version of my workaround above in Go code:
[code]

[2020-04-03 18:59] tstromberg opened #7404 "Solution message for `Failed to start the virtual machine 'minikube' because one of the Hyper-V components is not running.`"
For GCE users, we should tell them nested Virtualization it isn't possible.

For other users, perhaps point them to: https://stackoverflow.com/questions/48255871/failed-to-start-the-virtual-machine-mobylinuxvm-because-one-of-the-hyper-v-com/50099965#50099965

NOTE: This may have some related issues to dupe against.

[2020-04-03 19:26] mazzystr opened #7405 "add extended KVM2 installation documentation for redhat"
This documentation does not work for RHEL/CentOS 8 out of the box with fresh install including group "Virtualization Host".

It would be great if the following could be added...
* add a new user
* add new user to libvirt group
* edit /etc/libvirt/libvirtd.conf
* * set unix_sock_group = "libvirt"
* * set unix_sock_rw_perms = "0770"
* restart libvirtd

[2020-04-03 19:41] tstromberg opened #7406 "docs don't mention how to enable feature gates"
https://minikube.sigs.k8s.io/docs/reference/configuration/kubernetes is missing mention of feature gates!

example:

`minikube start --feature-gates=EphemeralContainers=true`

[2020-04-03 20:17] ncri commented on #7378
Thanks @prasadkatti, for now I have given up on this, as I use locally built docker images mainly anyway. I can look again into it on the weekend. I did see the secrets and I use the default namespace. Also the secret seems correct, but i will double check that. I had tried out all kind of things for some hours already and just couldn't get it working. Wonder if there is an issue with the service

[2020-04-03 23:52] tstromberg commented on #7405
Currently we point to https://access.redhat.com/articles/1344173#Q_how-install-virtualization-packages

Is there a better doc for us to point to?

[2020-04-04 00:38] mazzystr commented on #7405
I had to do some a pretty large side quest to win the small items just to get started with minkube.

The Red Hat doc is overwhelming and doesn't include the necessary items on the front page.  You have to go deep into the Administrators Guide.

I think we can do better to get people moving with minikube fast.

[2020-04-04 01:53] medyagh opened #7408 "adjust warn if slow for removing docker volumes"
[code]

the warn should give a bit more time for removing a docker volume, that one is legit .
but for other tasks such as inspect, it should still warn more than 2 secs

[code]

[2020-04-04 01:57] medyagh opened #7409 "optimize Certs generation/copying in minikube"
the Cert Generation and copying takes 4seconds, and they are not in parallel.
we could the copying in parallel.
this will need modifying libmachine:

Another thing we could possibly do is, allow an option to  a non-secure Pre-Existing CA Cert for all minikubes in the world (very unsafe) but that is what other local kubernetes tools do.

something like

minikube start --use-unsafe-certs

to save 3-

[2020-04-04 03:47] #7011 closed

[2020-04-04 07:23] vikkyomkar commented on #7406
I will raise a PR for this

[2020-04-04 08:42] afbjorklund opened #7411 "Not possible to translate new start message"
The string "control plane" is hard-coded:

[code]

So it comes out as a mix with english:

[code]
_(on a side note, maybe the names "m01" and "minikube" should be in quotes ?)_

----

Unfortunately, the translation framework strips out any trailing spaces in strings.

So if you try to wrap it in `translate.T`, the string comes out as `"control plane"`

Probably the best is to use two separate stri

[2020-04-04 09:58] #7146 closed

[2020-04-04 09:58] stevenbill commented on #7146
thank you

[2020-04-04 09:58] #7147 closed

[2020-04-04 09:58] stevenbill commented on #7147
thank you

[2020-04-04 09:59] #7148 closed

[2020-04-04 09:59] #7151 closed

[2020-04-04 09:59] stevenbill opened #7412 "when i running pod i always get this error"
E0404 11:53:27.814429   16255 portforward.go:340] error creating error stream for port 8080 -> 8080: Timeout occured

[2020-04-04 10:51] SaralSaxena commented on #7335
PS C:\> cd .\Kubernates

PS C:\Kubernates> minikube delete
* Removed all traces of the "minikube" cluster.

PS C:\Kubernates> minikube start --alsologtostderr
minikube : I0404 16:20:06.040035   12028 notify.go:125] Checking for updates...
At line:1 char:1
+ minikube start --alsologtostderr
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (I0404 16:20:06.... for update

[2020-04-04 10:54] afbjorklund commented on #7408
Why do we delete the docker images, when running e.g. the virtualbox driver ?

[code]

[2020-04-04 10:55] alex-gab commented on #7056
Hello @govargo, a small observation not related to this issue, but I do not know if it is a big thing or not.
After upgrading to minikube `v1.9.1`, kubectl command query for nodes reports `minikube` now instead of `m01`.
[code]

[2020-04-04 11:06] afbjorklund commented on #7380
@stromberg:
I don't think that glib has anything to do with it, but conmon has _lots_ of releases...

I'm always a little vary of these projects that release too often (or not at all, like runc)
They tend to have a lot of bugs, which causes a lot of brown paper bag regressions.

For the minikube ISO, we tried with a more conservative v2.0.6 instead of v2.0.14

----

But now that podman had a major

[2020-04-04 11:32] afbjorklund commented on #7380
It seems that we have configured conmon to log to --syslog, but "forgot" to install rsyslogd...

[2020-04-04 11:52] afbjorklund commented on #7380
Added some debug output to crio as well, but after restarting it - everything seems to work ?

[2020-04-04 14:47] nirajsonawane commented on #6131
I am still getting this issue on windows 10.
minikube version: v1.9.0 ,Commit: 8af1ea66d8a0cb7202a44a91b6dc775577868ed1

Error Logs
[code]

[2020-04-04 16:25] afbjorklund commented on #7380
Seems that it will *not* recover by itself:

[code]

But after `minikube ssh sudo systemctl restart crio`, it continued to pull the image and start.

[code]

The crio restart was removed in 43259cc363bb93d7a4a2959fc175d4f7b550d0b2, to "save time"

It seems that after the restart, it uses the "kindnet" CNI instead ?

[code]

[code]

Beyond loopback, it has kindnet/ptp and three bridges:

* rkt.kube

[2020-04-04 16:30] stevenbill opened #7414 "i have error with Kubernetes in jenkins"
Error testing connection https://192.168.39.41:8443: java.nio.file.NoSuchFileException: /home/yousry/.minikube/ca.crt

![Screenshot from 2020-04-04 18-28-23](https://user-images.githubusercontent.com/29622827/78456167-63d67500-76a2-11ea-92f7-582866c35f80.png)

[2020-04-04 16:36] afbjorklund commented on #7368
@medyagh : Do you have any examples ot scary kubeadm logs ?

I get this output:
[code]

Out of these, I guess the systemd warnings (not enabled) are the more scary-looking ?

I guess those should be pretty easy to fix, make sure to enable both docker and kubelet.

[2020-04-04 16:45] afbjorklund commented on #7368
But I agree it is a bit scary to disable kubeadm SystemVerification globally: 0b2d8051

It doesn't really say _why_ it is done, except to avoid kernel warnings in kic: 88bef295c8561bf420a8910139517541140698c4

But then it already adds that _again_, for the KIC drivers (docker and podman).

It might hide some warnings, for the usual start. So that line should probably go.

[2020-04-04 17:34] tstromberg commented on #7412
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
* The list of commands required to reproduce your error
* The full output of the command that had an error

Thank you for sharing your experience!

[2020-04-04 17:42] tstromberg commented on #7414
I'm not sure this has much to do with minikube. It seems that someone either moved minikube's files or deleted them outright. You can solve this by running `minikube start` again.

Please /reopen if this seems incorrect.

[2020-04-04 17:42] #7414 closed

[2020-04-04 17:44] #7411 closed

[2020-04-04 17:45] #7408 closed

[2020-04-04 17:58] tstromberg commented on #7387
@lfriqiya - if you don't mind trying to delete/create again to check, I would love to get more data instead of just closing this bug.

As best as I can tell, the error message originates from the VirtualBox driver.

What version of VirtualBox do you have installed?

[2020-04-04 18:00] tstromberg commented on #7402
@xmichele - probably. It sounds like we may need to add retry.

v1.9.1 can run Kubernetes v1.13.4 API: `--kubernetes-version=v1.13.4`

[2020-04-04 18:13] #5529 closed

[2020-04-04 18:13] #5627 closed

[2020-04-04 18:13] krajapraveen opened #7416 "I want to pull Docker Image of RHEL JBoss EAP 7.1 or later from registry.redhat.io"
Hi

I want to pull Docker Image of RHEL JBoss EAP 7.1 or later from registry.redhat.io but I am not able to pull it.

When I specified as:  docker login registry.redhat.io
The output is as follows:

Authenticating with existing credentials...
WARNING! Your password will be stored unencrypted in C:\Users\srikanth.ganji\.docker\config.json.
Configure a credential helper to remove this warning. See
h

[2020-04-04 18:19] Ifriqiya commented on #7387
@tstromberg - I somehow got it to work properly. Issue must have being that my virtualbox was not functioning properly.

[2020-04-04 19:53] tstromberg commented on #7416
Can you provide an exact list of instructions to replicate this error?

Please include your `minikube start` command.

[2020-04-04 21:16] #5733 closed

[2020-04-04 21:16] #5769 closed

[2020-04-04 21:16] #5829 closed

[2020-04-04 22:17] #5022 closed

[2020-04-04 22:57] prasadkatti commented on #7166
this issue should be closed since it is fixed by #7388

[2020-04-05 00:19] #5598 closed

[2020-04-05 01:05] vorburger opened #7419 "cloudshell addon for in-cluster web terminal"
Would having a web-based terminal running in-cluster be a welcome addon to minikube?

[I toyed with](http://blog2.vorburger.ch/2020/04/open-cloud-web-terminal-shell.html) this in https://github.com/vorburger/cloudshell/ (not with minikube, yet; just the basis).

The workflow I imagine is `minikube addons enable cloudshell; minikube addons open cloudshell` and your browser would take you to a shell

[2020-04-05 01:09] vorburger commented on #6404
I recognize this is not at all the same or related technically, but just for anyone finding this issue through web search (as I initially did), I wanted to link just FYI to new issue #7419 in which I raise "the opposite" of what this one is aiming for.

[2020-04-05 02:56] nnashok opened #7420 "Support external DOCKER_HOST from inside WSL"
**Steps to reproduce the issue:**
1. I have Docker for Windows installed. I also have Ubuntu installed in WSL. I am able to connect to the Docker daemon from my Ubuntu shell:
[code]
2. If I try to create a cluster using minikube from within my Ubuntu shell, it fails to connect to the Docker daemon:
[code]

**Full output of failed command:**

**Full output of `minikube start` command used, if not a

[2020-04-05 05:23] medyagh opened #7421 "minikube status should show system status"
I was thinking today, how about we re-implement minikube status to show status on more things and categorize them ?

$ minikube status:
- Kubernetes Status
    -- apisever
    -- kubelet
- Machine Status
    -- Machine Status (VM running)
    -- Disk Usage
    -- Connectivity to Internet (nslookup Kubernets.io)
- Host System Status
   -- Free Memory
   -- Free Disk
   -- CPU Load
    -- Connectivi

[2020-04-05 05:29] medyagh opened #7422 "hyperkit driver should be happy with current minimum verison"
we have not updated the hyperkit driver in a year and we still each time we update minikube we redownload it and we ask user to give sudo persmiion for the user group.

currnetly with each new version of minikube, we re-download the hyperkit driver. even if the code for it was not touched.

the hyperkit driver udpate should not download the driver if the checksum is not changed.

simmilar to prelo

[2020-04-05 05:30] medyagh commented on #7422
CC @josedonizetti

[2020-04-05 05:32] medyagh commented on #7420
that is correct, we currently only use the Docker without using respecing the DOCKER_HOST env var (mostly because of the complexity of handling minikube docker-env)

@nnashok do you mind sharing your DOCKER_HOST env ?

is this a problem that anyone runnning it on WSL would have?

[2020-04-05 05:46] medyagh commented on #6780
@sharifelgamal
how about to break this to smaller issues and have exampe errors and updates separately?

[2020-04-05 05:52] medyagh opened #7423 "multi node: service broken"
to replicate the issue:

[code]

then in the browser, u would see the router had returned a 404

also in the kubectl get pods -A I can see on the second node the kindnet is not created, and the error is :
[code]

full commands and their outputs

[code]

[2020-04-05 05:52] medyagh commented on #7423
CC: @sharifelgamal

[2020-04-05 06:22] krajapraveen commented on #7416
Hi @tstromberg

I need to pull the Red Hat Linux's JBoss EAP 7.1 Dockerfile from registry.redhat.io .

When I logged into registry.redhat.io  by providing the credentials, I got the below successful login message.

$ docker login registry.redhat.io
Authenticating with existing credentials...
WARNING! Your password will be stored unencrypted in C:\Users\srikanth.ganji\.docker\config.json.
Configure

[2020-04-05 07:27] medyagh opened #7426 "do not crash, when missplelled container runtime"
[code]

in this case i misspelled containerd
and instead of crying and crashing and asking user to create an issue, we could say "conatinerd" is not a valid container-runtime,
the valid options are ...

[2020-04-05 07:40] 4ndrewchin opened #7427 "pkg/minikube/command/ssh_runner has race condition"
**Issue:**
Data race detected in `pkg/minikube/command/ssh_runner.go`, likely related to the failing test mentioned in #4767.

Two goroutines created in `teeSSH()` in `pkg/minikube/command/ssh_runner.go:68` race on writing to a shared buffer. Buffer is shared by streams `Stdout` and `Stderr` in  struct `Session` from `package ssh`.

**Steps to reproduce the issue:**

1. Download minikube v1.7.2 an

[2020-04-05 07:44] afbjorklund commented on #7421
We discussed this in #3574, where I also started on an implementation...

The idea was to make a go binary that outputs the information (rather than running the shell commands), so that it would be easier to run and more portable. Upload it to the node and run.

Kubernetes monitors _some_ of this information itself, but it would be nice to have an on-demand command that would output basic Linux in

[2020-04-05 07:53] #7166 closed

[2020-04-05 07:58] zerefwayne commented on #7426
@medyagh I would like to work on this one.

[2020-04-05 08:00] afbjorklund commented on #7426
This should be doable, since we already have a hardcoded list of runtimes in there.

[code]

Arguably this could use a "registry", but then again that is also `broken` elsewhere.

So we could start by moving the list to a function ?

[2020-04-05 08:00] medyagh opened #7428 "unify Default CNI for VM and containers"
currently we have two CNIs

https://github.com/kubernetes/minikube/blob/a9558856c54cc0b3b6c46a7ef96960f521a72fb6/pkg/minikube/bootstrapper/kubeadm/default_cni.go

- defaultCNIConfig
- kicCNIConfig

kicCNIConfig is only used by containerd and crio only on docker driver.
I have a feeling by tweaking the defaultCNIConfig we could get rid of the kicCNIConfig.

the defaultCNIConfig has   "subnet": "10.

[2020-04-05 08:01] medyagh commented on #7428
I believe only @josedonizetti is expert enough in networking to handle this !

[2020-04-05 08:07] medyagh commented on #7427
@4ndrewchin thank you for creating this issue ! this sounds interesting
I would be happy to review any PR that fixes this !

[2020-04-05 08:08] medyagh commented on #7426
@zerefwayne you can work on this.

please make sure to parse the conatainer-runtime flag from cobra
and then if it is not in the list that @afbjorklund mentioned, you should exit.WtihUsage and tell the user that they valid options are ...

[2020-04-05 08:09] zerefwayne commented on #7426
/assign

[2020-04-05 08:33] stevenbill commented on #7414
jenkins works on kubernetes pod

[2020-04-05 08:42] medyagh opened #7431 "Add CoreDNS to wait components"
currently the wait components are
'apiserver,system_pods,default_sa'

while investigating https://github.com/kubernetes/minikube/issues/7428
I noticed  we can have another option for --wait

core_dns that we should wait for core_dns pod to be healthy

as seen in a test failure for TestStartStop the core dns was not running.

[code]

[2020-04-05 09:05] medyagh opened #7432 "docker driver, start again always needs a reset why ?"
### Unlike VM , start after start in docker invokes preparing kubernetes

right after starting a docker driver
when we start again (I added debugging statement)

we need to figure out why api server is in Sate Error when we do start again.

[code]

I belive the root cause is that that  Provosion is restarting docker that kills api server
code from fix.go
[code]

[2020-04-05 09:37] medyagh commented on #7432
Turns out the Problem is
[code]

it appears that the new generetatd systemd file has extra lines that triggers restarting docker
``

😄  minikube v1.9.2 on Darwin 10.13.6
✨  Using the docker driver based on existing profile
👍  Starting control plane node m01 in cluster minikube
🚜  Pulling base image ...
🏃  Updating the running docker "minikube" container ...
Updating docker unit: /lib/systemd/syste

[2020-04-05 10:22] medyagh opened #7433 "containerd service is running on docker driver with docker run time"
While trying to figure out why minikube soft start on docker driver takes longer than VM (https://github.com/kubernetes/minikube/issues/7432)

I noticed on docker driver the containerd service is running but in VM its NOT !

on docker driver:
[code]

on VM hyperkit:
[code]

[2020-04-05 10:37] afbjorklund commented on #7433
Since dockerd _depends_ on containerd, I think that this situation is normal ?

Previously it had custom docker-runc and docker-containerd, but not anymore.

[2020-04-05 10:52] stevenbill commented on #7414
how can i reopen it

[2020-04-05 10:54] stevenbill opened #7434 "i have error with Kubernetes in jenkins"
![Screenshot from 2020-04-05 12-49-16](https://user-images.githubusercontent.com/29622827/78472879-97fe7400-773c-11ea-882e-976ae0416dc4.png)

[2020-04-05 10:55] stevenbill commented on #7434
my  jenkins  on  Kubernetes pod

[2020-04-05 11:16] medyagh commented on #7433
https://github.com/kubernetes/minikube/blob/792ca8ea3873e054d959f8ff2d4f28a16f6bcfbf/pkg/provision/ubuntu.go#L78
I just saw this that only for ubuntu provisioner (kic provisioner) we add bind to containerd and when I remove it it will get stuck in kubeadm init.

@afbjorklund  why in VM world we dont have containerd service running but only in kic world ?

also if docker service has to have contain

[2020-04-05 11:33] medyagh commented on #7433
from minikube logs
[code]

[2020-04-05 11:36] medyagh commented on #7432
I believe this is the root cause --> https://github.com/kubernetes/minikube/issues/7433

[2020-04-05 13:07] afbjorklund commented on #7433
The VM has two _different_ containerd running:

*  `/run/docker/containerd/containerd.sock`

/usr/lib/systemd/system/docker.service
containerd --config /var/run/docker/containerd/containerd.toml --log-level info

* `/run/containerd/containerd.sock`

/usr/lib/systemd/system/containerd.service
/usr/bin/containerd --root /mnt/sda1/var/lib/containerd

That is, docker will start containerd itself if no

[2020-04-05 13:22] afbjorklund commented on #7433
The minikube docker.service has this configuration:

`ExecStart=/usr/bin/dockerd -H tcp://0.0.0.0:2376 -H unix:///var/run/docker.sock --default-ulimit=nofile=1048576:1048576 --tlsverify --tlscacert /etc/docker/ca.pem --tlscert /etc/docker/server.pem --tlskey /etc/docker/server-key.pem --label provider=virtualbox --insecure-registry 10.96.0.0/12 `

The ubuntu docker.service has this configuration:

[2020-04-05 14:05] afbjorklund opened #7437 "update-context with missing entry: panic: runtime error: invalid memory address or nil pointer dereference"
minikube 1.9.2, ubuntu 16.04, virtualbox

[code]

[2020-04-05 14:10] mordowiciel commented on #3869
I had a same issue with prometheus-operator helm chart - the prometheus-operator pods could not start due to the same error. The solution was quite simple for me - check the `volumeBindingMode` in the `StorageClass `you're using. I set up my cluster on EKS, and by default the value was set to `WaitForFirstConsumer`. Changing it to `Immediate `solved my problem.

[2020-04-05 15:36] carlosjgp opened #7438 "[docs] Addons - Ingress DNS documentation is missing"
https://minikube.sigs.k8s.io/ingress-dns/readme

Returns a 404 and shows a "Not found" page

[2020-04-05 16:41] afbjorklund commented on #7438
Apparently **all** the addon links are broken, since it was moved to "site".

https://minikube.sigs.k8s.io/docs/tasks/addons/

There was an attempt to fix it in bd3956b8a6821f7f3b27d99865cc0b53a2ce800c, guess that it failed ?

[code]

The documents are available from https://github.com/kubernetes/minikube :

https://github.com/kubernetes/minikube/tree/master/deploy/addons/ingress-dns

[2020-04-05 16:46] afbjorklund commented on #7434
Duplicate of #7414

It seems that you are trying to use Minikube as a Jenkins cloud. This is not something that is generally supported, but as long as it can access the credentials it should work like any client...

[2020-04-05 17:23] afbjorklund opened #7440 "Getting Started for Linux suggests non-existing Docker Desktop"
Currently the documentation for the "docker" driver suggests installing Docker Desktop:

https://minikube.sigs.k8s.io/docs/start/linux/

https://hub.docker.com/search?q=&type=edition&offering=community&sort=updated_at&order=desc

However, that Docker product is **only** available for Windows and Mac - and not for Linux.

* https://hub.docker.com/editions/community/docker-ce-desktop-windows

* http

[2020-04-05 18:13] krajapraveen opened #7442 "Unable to build Docker Image from the Docker File"

[2020-04-05 19:43] jatinkushwaha opened #7444 "not able to integrate jenkins with minkube"
I using minikube start command to start minikube and expose my Jenkins using command-
minikube service jenkins -n jen

1.i install Kubernetes plugin on Jenkins and add config file as a secret file for the credential.
but when I test the connection it following error-
Error testing connection : java.nio.file.NoSuchFileException: /home/jatin/.minikube/ca.crt
but file present at above location.
2.thi

[2020-04-05 20:11] ahmedawais opened #7445 "[ERROR NumCPU]: the number of available CPUs 1 is less than the required 2"
i am facing the following issue during minikube start
root@awais-VirtualBox:~# minikube start --vm-driver=none
😄  minikube v1.9.2 on Ubuntu 18.04 (vbox/amd64)
✨  Using the none driver based on existing profile
👍  Starting control plane node  in cluster minikube
🔄  Restarting existing none bare metal machine for "minikube" ...
ℹ️  OS release is Ubuntu 18.04.4 LTS
🐳  Preparing Kubernetes v1.18.0 on

[2020-04-05 20:24] nnashok commented on #7420
It's set to `tcp://0.0.0.0:2375` which is standard if you want to access Docker from within a WSL shell.

This is a standard setting, not specific to myself or my company.

I have not tried to install Docker daemon within my WSL. With the way i have setup, I can use Docker for Windows and use the same daemon to run my containers from Windows `cmd` or from my Ubuntu's `bash`, both showing the same

[2020-04-05 21:09] BZM708 commented on #5236
I used the information from the links try to port forward the apps I exposed. And it resulted in:

" lost connection to pod "

[2020-04-05 21:51] BZM708 commented on #5236
I used the information from the link to try to port forward the app I exposed. And the output in the terminal is:

(port forward deployment)
E0405 17:42:28.318087   16440 portforward.go:233] lost connection to pod

(port forward pod)
E0405 17:32:08.282323   12977 portforward.go:233] lost connection to pod

[2020-04-05 22:26] prasadkatti commented on #7445
`[ERROR NumCPU]: the number of available CPUs 1 is less than the required 2`

This is the real error.

[2020-04-05 23:17] tstromberg commented on #7445
Agreed. Let me know if it doesn't help for some reason.

[2020-04-05 23:19] tstromberg commented on #7442
I'm confused - what is minikube's role in this? I don't see it mentioned anywhere.

[2020-04-06 00:08] prasadkatti commented on #7445
@tstromberg - Is it possible to run just `kubeadm init phase preflight -v <some_level>` and control the output so that it only outputs the errors and not the warnings? If yes, then we could run that before running the actual init?

[2020-04-06 00:09] prasadkatti commented on #7445
I would like to help with this issue if I could get some help.

[2020-04-06 02:02] vdotson opened #7446 "port"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-04-06 02:02] #7446 closed

[2020-04-06 02:03] vdotson commented on #7446
Opened by mistake.

[2020-04-06 02:22] carvendy opened #7447 "pulling kic base image does not respect --image-repository or --image-mirror-country flags for CN registry mirrors"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

minikube start --registry-mirror=https://registry.docker-cn.com --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers --vm-driver=docker --alsologtostderr -v=8
</details>

**`minikube logs`命令的输出**： <details>
W0406 10:08:19.436876   13086 exit.go:101] Failed to start docker container. "minikube start" may fix it.: recreate: creating host: c

[2020-04-06 04:39] ahmedawais commented on #7445
@prasadkatti the issue has been resolved by increasing the CPU from 1 to 2.
you can close the issue. Thanks

[2020-04-06 04:47] medyagh opened #7448 "soft "start" without args - will overwrite the container-runtime to docker."
in this PR I added an integeration test for Soft Start. in TestStartStop.
and it was revealed that our soft start is broken for not-docker runtimes

## verified locally

verified locally this happens only when on the Second Start you do NOT specify the run time.

So:
[code]
(this one is fine)
but if you do
[code]
and in the config, you will see, the run time has been changed to docker
[code]

it i

[2020-04-06 05:39] Madhu-1 commented on #7314
@tstromberg we are using PSP with minikube 1.6.0 and all is working fine https://github.com/ceph/ceph-csi/blob/master/scripts/minikube.sh#L81-L97
this is failing on minikube 1.8.0 onwards

[2020-04-06 07:06] #7442 closed

[2020-04-06 07:07] #7416 closed

[2020-04-06 09:11] SimonHeimberg commented on #3417
This is a known issue in Kubernetes:
https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/#known-issues

[2020-04-06 10:06] afbjorklund commented on #7445
We should probably validate both CPU (2) and Memory (2G) earlier, when using the `none` driver.

This also asks why even support it, since it only prevents people from reading `kubeadm`docs ?

[2020-04-06 10:08] afbjorklund commented on #7445
Also seen in #6961

[2020-04-06 10:31] the-nw1-group commented on #3869
I'm encountering the same issue with redis-ha from helm/charts, with minikube 1.9.0, and kubectl version v1.18.0.

Do I need to raise a new issue here for this?

[2020-04-06 13:48] loftkun commented on #6901
This issue seems to be dealed with in #7345.
can this issue be closed ?

[2020-04-06 14:49] govargo opened #7452 "NodeName of `minikube status` is incorrect"
**Steps to reproduce the issue:**

[code]

1.  start minikube cluster
[code]

2. check the worker nodename. It is `minikube`.
[code]

3. check the worker nodename from `minikube status`. It is `m01`.
It should be minikube, but the node name is wrong.
[code]

**Optional: Full output of `minikube logs` command:**
<details>
[code]
</details>

[2020-04-06 14:50] govargo commented on #7452
/kind bug

/assign

[2020-04-06 14:52] govargo commented on #7056
@alex-gab
Thank you for your comment!!
Unfortunately, it looks like bug. I checked this in latest minikube version.

I opened new issue #7452. This issue will be fixed in it.

[2020-04-06 14:53] govargo commented on #7452
I doubt which of `minikube` or `m01` is correct

[2020-04-06 15:53] SaralSaxena commented on #7335
Team pls look into the same on priority

[2020-04-06 16:18] alexia19apl commented on #6823
Gentlemen's thanks a lot for your help. The issue was a conflict due to the "hostname duplicated" between the master and the worker.

[2020-04-06 16:18] #6823 closed

[2020-04-06 16:22] alexia19apl opened #7453 "In file './docker-compose.yml', service 'links' must be a mapping not an array."
I'm building a custome "docker-compose.yml" file with a set of values and arrangements for my build purpose, when Issue the command "up" to initialize the build I receive the next error:

In file './docker-compose.yml', service 'links' must be a mapping not an array.

`php:
image: webgriffe/magento1-dev
container_name: application-container
volumes_from:
- unison
volumes:
- "~/.composer:/root/.com

[2020-04-06 16:24] #7453 closed

[2020-04-06 17:08] cr22rc opened #7454 "minikube start fails: Error downloading kubeadm v1.18.6: failed to download to temp file:"
**Steps to reproduce the issue:**
minikube start --memory=8192 --cpus=6 --kubernetes-version v1.18.6 --vm-driver=kvm2 --disk-size=30g --extra-config=apiserver.enable-admission-plugins="LimitRanger,NamespaceExists,NamespaceLifecycle,ResourceQuota,ServiceAccount,DefaultStorageClass,MutatingAdmissionWebhook"

[minikubeStart.txt](https://github.com/kubernetes/minikube/files/4439774/minikubeStart.txt)

[2020-04-06 17:15] cr22rc commented on #7454
minikube version
minikube version: v0.35.0

[2020-04-06 17:29] priyawadhwa opened #7455 "Enhancements to automated commands doc creation"
Ref #7385 @tstromberg 's review:

[code]

[2020-04-06 17:46] camilamacedo86 opened #7456 "(OSX) Unable to start minikube 1.9.2 (latest) version in mac os x"
I am facing `boot lock: timeout acquiring mutex` when I run `minikube start`

**Steps to reproduce the issue:**

Has a known issue which is faced constantly for me in the mac. If the machine is turn off then the V is broken and the solution is to remove .minkube and re-install all.

However, after the latest release of minikube v1.9.2 I started to face a timeout in this process and I am unable to

[2020-04-06 17:53] cr22rc commented on #7454
If I don't specify the version of kube it defaults to v1.13.4
and that actually seems to work but I need a later version of kube

\U0001f4be  Downloading kubelet v1.13.4
(minikube) Calling .GetURL
(minikube) DBG | Using libvirt version 4007000
\U0001f69c  Pulling images required by Kubernetes v1.13.4 ...
\U0001f680  Launching Kubernetes v1.13.4 using kubeadm ...
\u231b  Waiting for pods: apiserver

[2020-04-06 19:00] cr22rc commented on #7454
old documentation resulted in old minikube version -- my bad.

[2020-04-06 19:00] #7454 closed

[2020-04-06 19:02] tstromberg commented on #7357
Seems like this was addressed in the upstream brew. Closing.

[2020-04-06 19:02] #7357 closed

[2020-04-06 19:03] tstromberg commented on #7354
If I recall, this issue happens because CNI is enabled, but no CNI has been loaded into Kubernetes yet, which I guess needs to happen before CoreDNS deploys are successful.

The workaround I've seen others use is side-loading a CNI while minikube is starting, but that isn't very friendly. This is certainly something we'll need to address for multi-node.

[2020-04-06 19:04] tstromberg commented on #7352
I tried looking for answers around this -- but came up short.

Can you check that your Docker for Desktop install is up-to-date? Also, can you check that Windows Containers are disabled in Docker? I heard there were some conflicts when it is enabled.

[2020-04-06 19:04] #7351 closed

[2020-04-06 19:52] #7387 closed

[2020-04-06 20:03] afbjorklund commented on #7352
Does Docker-for-Windows support running privileged containers now ? It used not to....

`docker: Error response from daemon: Windows does not support privileged mode. See 'docker run --help'.`

https://github.com/moby/moby/blob/v19.03.8/runconfig/hostconfig_windows.go#L80_L82

Should be easy to verify, with something like `docker run --privileged busybox`

[2020-04-06 21:03] #3451 closed

[2020-04-06 21:15] medyagh opened #7457 "docker driver: improve error message when docker is not running"
when docker is not running at all :

[code]

[2020-04-06 21:27] sharifelgamal opened #7458 "Add walkthrough for using multinode to docs"
Should just be a step by step walkthrough on using a multi-node cluster, similar to our [hello world example](https://minikube.sigs.k8s.io/docs/examples/).

[2020-04-06 21:33] sharifelgamal opened #7459 "Figure out automated CNI for multi-node clusters"
Currently multinode clusters need a CNI applied manually to make `minikube service` work. We should decide what CNI will be the canonical CNI choice to apply automatically for multinode and actually apply it on start or add node.

[2020-04-06 21:36] sharifelgamal commented on #7423
CNI is not currently applied automatically, see #7459

[2020-04-06 21:44] tstromberg commented on #5792
Related issues, all blocked on signing infra:

* #4841
* #4716
* #3310

[2020-04-06 21:44] tstromberg commented on #5792
#sig-release issue: https://github.com/kubernetes/release/issues/839

[2020-04-06 21:44] tstromberg commented on #6735
#sig-release issue: https://github.com/kubernetes/release/issues/839

[2020-04-06 22:13] tstromberg commented on #6094
Closed in preference to #7459

IMHO, there is little  sense in running a CNI for single-node use.

[2020-04-06 22:13] #6094 closed

[2020-04-06 22:13] tstromberg commented on #7459
Here's my modest proposal:

A `--cni` flag that defaults to `kindnet` (assuming it works properly). If not, there is `flannel`.

 Eventually we could add support for other CNI's, fulfilling a roadmap item for clear documentation around CNI's.

[2020-04-06 23:10] sharifelgamal opened #7461 "Allow multi control plane clusters by knowing which node is the api server"
Right now we assume if a node is a control plane it's automatically is the api server, and that's not necessarily the case so we need to make sure the api server node is explicitly specified.

[2020-04-06 23:11] sharifelgamal opened #7462 "Multi-node integration tests"
We should, uh, add some tests with multi-node clusters.

[2020-04-06 23:36] sharifelgamal opened #7463 "Add the cluster subcommand"
`minikube cluster start` should mimic `minikube start`
`minikube cluster delete` should mimic `minikube delete`
`minikube cluster stop` should mimic `minikube stop`
`minikube cluster pause` should mimic `minikube pause`
`minikube cluster list` should mimic `minikube profile list`

[2020-04-07 00:17] ye opened #7464 "Running `minikube status` version 1.9.2 caused "panic: runtime error: invalid memory address or nil pointer dereference""
**Steps to reproduce the issue:**

1. `minikube status`

**Full output of failed command:**
[code]

**Full output of `minikube start` command used, if not already included:**
[code]

**Optional: Full output of `minikube logs` command:**
<details>
==> Docker <==
-- Logs begin at Tue 2020-04-07 00:13:20 UTC, end at Tue 2020-04-07 00:15:25 UTC. --
Apr 07 00:13:36 minikube dockerd[1796]: time="2020-04

[2020-04-07 01:01] kevinwongtyl opened #7465 "virtualbox: ssh: NewSession: write tcp 127.0.0.1:x->127.0.0.1:y: write: broken pipe"
**Steps to reproduce the issue:**

1. minikube start
<details>

**Full output of failed command:**
I0406 17:44:26.679934   67977 start.go:262] hostinfo: {"hostname":"Kevins-MacBook-Pro.local","uptime":29604,"bootTime":1586190662,"procs":565,"os":"darwin","platform":"darwin","platformFamily":"","platformVersion":"10.15.3","kernelVersion":"19.3.0","virtualizationSystem":"","virtualizationRole":"","h

[2020-04-07 01:28] medyagh opened #7466 "enabling CNI is broken coreDNS doesnt come up."
CNI is broken on head:

after adding ew wait component in this PR https://github.com/kubernetes/minikube/pull/7460
it was revealed that after we start mnikube with these CNI/ args
[code]

the coreDNS never comes up becuase it says network is not ready.

https://storage.googleapis.com/minikube-builds/logs/7460/b880469/KVM_Linux.html#fail_TestStartStop%2fgroup%2fnewest-cni

I replicated this on hype

[2020-04-07 01:30] #7431 closed

[2020-04-07 02:40] h353617145 opened #7467 "不能启动"
minikube start --vm-driver hyperkit

卡在这里了
😄  Darwin 10.14.6 上的 minikube v1.8.2
✨  根据用户配置使用 hyperkit 驱动程序
💾  Downloading preloaded images tarball for k8s v1.17.3 ...

[2020-04-07 04:08] runlevel5 opened #7468 "[feature request] minikube-linux-ppc64le release binary"
Currently https://github.com/kubernetes/minikube/releases does not offer ppc64le binary. Can we add this platform into the release pipeline too?

[2020-04-07 04:15] runlevel5 commented on #7071
The `kindest/base` image should support ppc64le first. I've lodged an Issue upstream (link: https://github.com/kubernetes-sigs/kind/issues/1444) however it's seems to me the author is not so keen to support ppc64le.

[2020-04-07 04:19] k-yoshihara18 opened #7469 "Error restarting cluster: waiting for apiserver: timed out waiting for the condition"

[2020-04-07 04:20] #7469 closed

[2020-04-07 04:55] afbjorklund commented on #7468
It is available at https://storage.googleapis.com/minikube/releases/latest/minikube-linux-ppc64le . It just could need some better documentation.

[2020-04-07 04:56] afbjorklund commented on #7468
This page is a bit amd64-centric: https://minikube.sigs.k8s.io/docs/start/linux/

[2020-04-07 04:58] afbjorklund commented on #7468
The lack of a proper driver is also a bit of trouble. Currently we only have `none`

[2020-04-07 05:20] afbjorklund commented on #7071
I don't think that is needed, as long as `ubuntu:19.10` and all software is available for `ppc64le` ?

And it seems it is https://hub.docker.com/r/ppc64le/ubuntu/

At least Server: https://ubuntu.com/download/server/power

You should be able to build `kindest/base` yourself, using the [Dockerfile](https://github.com/kubernetes-sigs/kind/blob/master/images/base/Dockerfile) provided by the project..

[2020-04-07 05:25] runlevel5 commented on #7071
@afbjorklund yes I could build the `kindest/base` myself. It is just a bit inconvenient though. I am hopeful for a 1st-class support though...

[2020-04-07 05:32] afbjorklund commented on #7468
It's a bit hard to test locally, unlike the `arm` and `arm64` that I do have hardware for.

Unfortunately not even QEMU works (out-of-the-box):

[code]
[code]

I think that is because we are using Go ? Since normal C programs work just fine.

[2020-04-07 05:35] afbjorklund commented on #7468
Also, even though I have `arm64` we still don't have support for it in CI yet: #6280

I'm not sure what is involved getting a `ppc64le` machine for CI ? (beyond Travis)

[2020-04-07 05:40] afbjorklund commented on #6798
If someone has a link to some reasonable hardware for minikube, similar to Raspberry Pi 4 ?

https://www.raptorcs.com/content/base/products.html seemed like $2000 ($1000 for board only)

[2020-04-07 05:44] afbjorklund commented on #7071
It will always be weird though, like it has been ever since Yellow Dog Linux. But the PowerPC CPU architeture was so much nicer than x86.

[2020-04-07 06:23] prietyc123 commented on #2704
We need to pass ```--bootstrapper=localkube``` to work with the none driver in environments to start minikube like ```minikube start --vm-driver=none --bootstrapper=localkube --kubernetes-version=v1.10.0``` . While doing this it should be kept in mind that we are using the older version of minikube which comes before ```v0.26+``` and kubernetes version which support ```--bootstrapper=localkube```

[2020-04-07 06:30] listenerri commented on #7447
可能跟我的问题一样，我的解决方案是：
https://listenerri.com/2020/04/07/minikube-%E5%90%AF%E5%8A%A8%E5%A4%B1%E8%B4%A5/

[2020-04-07 08:44] AndresNamm commented on #2481
+1 exactly the same issue with minikube 1.9.0

[2020-04-07 08:53] eoinreilly93 opened #7472 "Minikube start fails offline with docker driver since the kicbase image is not available in the cache"
I am trying to install minikube on a CentOS 7 VM that has no access to the internet using the `docker` driver. To do this, I downloaded and installed minikube on a windows machine using Virtualbox with access to the internet and then I used the cache directory to install offline on the VM. However, when I run the minikube start command, it timed out as it was trying to download an image that was n

[2020-04-07 10:07] afbjorklund commented on #7472
As discussed on Slack:

The image ID is local to your daemon, so not very worthwhile to identify an image. The alternative here would be to just use the tag (since those are _supposed_ to be unique, if not rolling like `latest`)

You might have better luck deploying a local registry mirror, instead of trying to save and load images (which deletes all digests by design). Then you can use that mirro

[2020-04-07 10:11] #7229 closed

[2020-04-07 11:15] anjyed opened #7473 "minikube : no resources found under namespace metallb-system"
**Steps to reproduce the issue:**
Not able to install metalLB on minikube
1. kubectl apply -f https://raw.githubusercontent.com/google/metallb/v0.9.3/manifests/namespace.yaml

          namespace/metallb-system created

2. kubectl apply -f https://raw.githubusercontent.com/google/metallb/v0.9.3/manifests/metallb.yaml

          podsecuritypolicy.policy/controller created
          podsecuritypolic

[2020-04-07 12:00] dmpe commented on #7218
Indeed, I think I also face same issue - I can reproduce it with grafana and [prometheus ](https://github.com/helm/charts/tree/master/stable/prometheus) helm charts

[2020-04-07 12:35] navdeepblock8 opened #7474 "Spell check of Restarting"
**Steps to reproduce the issue:**

1.Run minikub start command
2. Automatic commands will run to start minikub in Virtual Machine
3. 4th command will have a misspelled ‘Restarting’.

**Full output of failed command:** Retarting existing virtualbox VM for “minikub”...

</details>
![06E68E09-4C3C-439F-8B58-B5F3576BF80B](https://user-images.githubusercontent.com/59728111/78669731-55829600-78fa-11ea-8

[2020-04-07 12:46] amizzo87 commented on #4587
Odd question but how do you re-enable if you need to? ```bcdedit /set hypervisorlaunchtype on``` returns an error:
[code]

[2020-04-07 13:09] paulstelian97 commented on #4587
It should be `bcdedit /set hypervisorlaunchtype auto`.

[2020-04-07 13:35] govargo opened #7475 "Explicitly show node type in `minikube status`"
[code]

1. start minikube cluster with multiple node
[code]
2. check the minikube status
[code]

the second output `m02` is missing `apiserver` & `kubeconfig` lines.

[2020-04-07 13:35] govargo commented on #7475
/kind bug
/co multinode
/assign

[2020-04-07 13:41] govargo commented on #6780
I found this issue after I opend another issues(Sorry).

https://github.com/kubernetes/minikube/issues/7452
https://github.com/kubernetes/minikube/issues/7475

I'll send PRs to fix above. Let me know if you don't need my PR.

[2020-04-07 14:29] afbjorklund commented on #7475
Isn't that because it is a worker ?

[2020-04-07 14:59] govargo commented on #7475
Oh, I see. I understand in your comment.
Thank you!

I'll close this issue.

[2020-04-07 15:23] afbjorklund commented on #7474
Please update your minikube, this was fixed in 3f74cb61ef6e2bc4f323bab71508e96f14f50b9e (`v1.9.1`)

[2020-04-07 15:27] afbjorklund opened #7480 "The podman driver should not require sudo or root"
Even though podman is run with sudo (docker uses a group instead), the driver should **not**.

[code]

This will lead to the same kind of ownership and path issues that is plaguing the none driver...

Instead only the `podman` commands should be wrapped in `sudo` (to not try to run as rootless)

[2020-04-07 15:40] afbjorklund commented on #7480
i.e. for the docker driver we require that the user is part of the root-equivalent `docker` group:

https://docs.docker.com/engine/install/linux-postinstall/#manage-docker-as-a-non-root-user

[code]

but for the podman driver we instead require that the user has passwordless access to `podman`

[code]

This basically allows the same level of root access as docker, that is you still need to be an a

[2020-04-07 15:41] afbjorklund commented on #7480
ping @medyagh

[2020-04-07 15:43] afbjorklund opened #7481 "Extracting translations strips whitespace"
This means that the original string now **won't** be translated, since the whitespace was removed.

So in order for `T` to work, we need to keep the original whitespace in the strings to be translated.

[2020-04-07 15:44] #7474 closed

[2020-04-07 15:46] afbjorklund commented on #7475
Maybe the output should say "worker node" explicitly, instead of just "node".

[2020-04-07 16:15] govargo commented on #7475
It's nice idea!

I'll send PR to add explicit output and docs.

/reopen

[2020-04-07 16:30] tstromberg commented on #6364
https://storage.googleapis.com/minikube-builds/logs/7389/eb42d16/KVM_Linux.html

[code]

The root cause appears to be that we are checking for updates in dry-run mode. Sometimes that check takes a while.

[2020-04-07 16:48] edmondsw commented on #6798
I'd suggest using the IBM Cloud. You can order a ppc64le virtual server there. https://cloud.ibm.com/docs/vpc?topic=vpc-about-advanced-virtual-servers#about-power-vsi

you might want to start here https://cloud.ibm.com/docs/vpc?topic=vpc-getting-started and when you need to select which VPC generation, use Gen 2.

[2020-04-07 17:24] tstromberg commented on #7354
Related: https://github.com/kubernetes/minikube/issues/3852

[2020-04-07 17:24] tstromberg commented on #7466
Dupe of #7354

[2020-04-07 17:24] #7466 closed

[2020-04-07 17:27] tstromberg commented on #7354
Also related: #7459

[2020-04-07 18:44] tstromberg commented on #7465
Seems like a VirtualBox SSH stability issue. If you retry, it'll probably work, but still concerning.

What version of VirtualBox are you on?

[2020-04-07 18:51] #7452 closed

[2020-04-07 20:03] tstromberg commented on #7480
Related thread: https://twitter.com/rawkode/status/1239885013241470979

We can detect the necessity to run root via:

`podman info | grep rootless`

[2020-04-07 20:43] masalinas opened #7488 "Minikube profile crashes my default certificates"
**Los comandos necesarios para reproducir la incidencia**:
When create a new minikube profile like this:

[minikube start -p minikube-devel](url)

The profile is correctly created but the client.crt, client.key and other default security files are crashes with the new minikube profile certificates

If I comeback to the default profile kubernetes the kubectl could not connect to the default minikub

[2020-04-07 20:53] kevinwongtyl commented on #7465
I have virtualbox 6.1.4 r136177 (Qt5.6.3) installed on macos, not sure why that version of virtualbox is appearing in the logs.  Every time I try to start minikube on virtualbox it fails, which is interesting because this only started yesterday and it was working fine on friday.  The only thing that changed i think was a docker desktop update and the minikube update to v1.9.2

[2020-04-07 20:58] #6364 closed

[2020-04-07 21:54] camilamacedo86 commented on #7456
Same issue faced with the latest version of docker as well.
[code]

[2020-04-07 21:55] medyagh commented on #7354
I have a feeling if we install a CNI by default if the run time is not Docker
simmilar to what we do in Docker and Podman Driver this would be solved

https://github.com/kubernetes/minikube/blob/master/pkg/minikube/bootstrapper/kubeadm/kubeadm.go#L235

[2020-04-07 21:56] medyagh commented on #7428
related: https://github.com/kubernetes/minikube/issues/7354

[2020-04-07 22:04] josemanule4114 commented on #7072
I verified and I do not have a VPN active, but receiving similar message:

* [CREATE_TIMEOUT] Failed to start hyperv VM. "minikube start" may fix it. creating host: create host timed out in 120.000000 seconds
* Suggestion: Try 'minikube delete', and disable any conflicting VPN or firewall software
* Related issue: https://github.com/kubernetes/minikube/issues/7072
PS C:\Users\ejsdaio> minikube del

[2020-04-07 23:01] mat-tia opened #7491 "Document that minikube does not support IPv6"
It would be great if there were instructions for running minikube and kubernetes in IPv6 only mode.
Now it could be that that's not even possible from my tests as with the virtualbox driver at least (which is what I tested), the master node has IPv6 disabled in the sysctls (net.ipv6.conf.all.disable_ipv6 is set to 1 by default) - which I wouldn't expect to be default kubernetes behaviour.
Also, mi

[2020-04-07 23:03] mat-tia opened #7492 "Update documentation around supported kubernetes versions"
The text says:

"As of September 2019, this means that minikube supports and actively tests against the latest builds of:

    v1.16 (default)
    v1.15
    v1.14
    v1.13
    v1.12
    v1.11 (best effort)
"
But it's April 2020, and Kubernetes is at version 1.18, which is pulled in by default by minikube too. Guess this needs an update.

[2020-04-07 23:11] mat-tia opened #7493 "Handbook: "Configuration" page should link to "config" command doc"
In "Listing config properties" getting rid of the properties/ config items list seems a bit of a regression to me. I understand that that will change with each new (possibly minor) version of minikube, but it would be great to not just have a list, but also have a short explanation of what each property does, as there's no additional information of what the possible options are. even just linking

[2020-04-08 00:12] #7448 closed

[2020-04-08 00:14] medyagh commented on #6587
this was done.

[2020-04-08 00:14] #6587 closed

[2020-04-08 01:39] sharifelgamal opened #7496 "Make sure multi-node clusters can survive restarts"
We need a specific function in our bootstrapper to account for restarting worker nodes. Right now it just fails:

[code]

[2020-04-08 01:45] sharifelgamal commented on #7491
minikube doesn't support IPv6 at all currently, that should be added in our docs for sure

[2020-04-08 01:58] mcandre opened #7497 "docker-env: "docker run" and "docker rm" hangs"
**Steps to reproduce the issue:**

1. `eval "$(minikube docker-env)"`
2. Use `docker run`, `docker ps -a` to deploy a container and get a container ID.
3. Execute `docker rm -f <container ID>`

For example, deploy an HTTP echo server this way. However, the echo server does not actually bind to localhost:8080 as far as the host observes.

At this point, many things freeze up. The `docker rm -f`...

[2020-04-08 02:53] mcandre opened #7499 "Don't require imagePullPolicy: "Never" for Docker Desktop images"
Can we improve the default behavior for minikube deployments, so that images that arise from Docker Desktop integration automatically successfully pull and run out of the box?

As a workaround, I'm configuring my containers with `imagePullPolicy: "Never"`, but that litters my deployment YAML files with minikube-specific junk, making it harder to share YAML configurations between development and pr

[2020-04-08 03:10] nestoralonso opened #7501 "clarify error message with driver none"
**Steps to reproduce the issue:**

1. minikube start --driver=none
2. minikube fails to start (which is expected)
3. minikube suggest a wrong command to fix the issue:
[code]
The error message lacks the necessary parameter **start** after minikube, it should print like this:
[code]

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**
✨  Us

[2020-04-08 03:31] medyagh opened #7503 "TestStartStop: WARNING: pod list for "kubernetes-dashboard" "k8s-app=kubernetes-dashboard" returned: connection refused"
as seen in in Docker Driver in
- https://storage.googleapis.com/minikube-builds/logs/7424/176ee7c/Docker_Linux.html#fail_TestStartStop%2fgroup%2fcontainerd and in
- https://storage.googleapis.com/minikube-builds/logs/7424/176ee7c/Docker_Linux.html#fail_TestStartStop%2fgroup%2fold-docker
- https://storage.googleapis.com/minikube-builds/logs/7424/176ee7c/Docker_Linux.html#fail_TestStartStop%2fgroup%

[2020-04-08 04:38] medyagh opened #7505 "Docker Driver Stop : - Error: failed to create listener: failed to listen on 0.0.0.0:8444"
as seen in https://storage.googleapis.com/minikube-builds/logs/7504/e0611b6/Docker_Linux.html#fail_TestStartStop%2fgroup%2fcontainerd

[code]

[2020-04-08 04:55] eox-dev commented on #5392
Sorry just getting back to this.

For a while, about a week and half, it was until the host machine rebooted. Then it became several times throughout the day.

- I've just done a clean install of WSL2. Latest stable releases of `docker`, `kubectl`, and `minikube v1.9.2`.
- Docker is up and running, `docker run hello-world` pulls fine.
- Using `--driver=docker` by default, since that is the only dr

[2020-04-08 05:33] prasadkatti commented on #7406
This should be closed. Fixed in #7443.

[2020-04-08 05:41] kingram6865 opened #7507 "vmware"
The link to issues regarding vmware driver is a dead end.

[2020-04-08 05:43] runlevel5 commented on #7468
@afbjorklund Please reply me your SSH public key, I will make you an account on my box.

[2020-04-08 06:14] medyagh commented on #7354
I belive I found out the root cause of this issue, the problem is, if extra-opts is sets
it will replace the minikube extra args for kic overlay
I tried locally just by adding:
[code]

both containerd and crio will be broken.

this should be an easy fix

[2020-04-08 07:19] medyagh commented on #7354
on observation
when we specifiy extra-options the required kic overlay extra options get over-written
[code]

[code]

[2020-04-08 08:20] medyagh opened #7510 "docker driver: auto restart docker if it is stopped"
I think we should provide an option to try to restart docker, when we are ABSOULTELY sure that docker is stopped.

for example in this Test we clearly see that docker is not running:
https://storage.googleapis.com/minikube-builds/logs/7498/8a37d75/Docker_Linux.html#fail_TestOffline%2fgroup%2fcrio

[code]

[2020-04-08 09:46] jatinkushwaha commented on #7434
I also facing the same issue... Please help!

[2020-04-08 10:35] camilamacedo86 commented on #7456
I could solve this problem by removing the .opam/ installed. So, it is probably caused by have the hyperkit instaled as described in its docs and not using brew to do it.

Closing this one as sorted out.

[2020-04-08 10:35] #7456 closed

[2020-04-08 10:40] #4347 closed

[2020-04-08 11:20] jradtilbrook opened #7511 "Driver: none host path should be `/var/tmp` for PVCs"
Sorry in advance but the issue template really does not apply at all to my issue.

## Abstract
When using the none driver in a linux environment I get issues with PVCs after restarting. This is due to the `/tmp` directory being a `tmpfs` filesystem.

## Details
Many mainstream linux distributions adopted systemd as the init system quite a while ago, and under this system, the `/tmp` directory is m

[2020-04-08 11:20] zehuaiWANG opened #7512 "minikube coredns doesn't work"
hey, guys, I have a problem and wonder if anyone here could help me. I installed a minikube in my server, and I create a pod with `clusterFirst` dns, but when I `curl` domain name in the container, it will timeout and then failed. However, it can `curl` successfully in the server.

[code]

here is my coredns configmap:
[code]

[2020-04-08 11:23] zehuaiWANG commented on #7512
/assign @medyagh

[2020-04-08 11:26] medyagh commented on #7512
can u plz probide your start args and your versions and os
and also which container run time?

and also provide me what u expect to see and what error do u get?

[2020-04-08 12:22] runlevel5 commented on #6798
@afbjorklund feel free to reply with your SSH pubkey, I could grant you access to my box for development.

[2020-04-08 13:14] katpagavalli commented on #6131
I too get a similar warning
W0408 18:34:35.822853   19288 docker_sandbox.go:394] failed to read pod IP from plugin/docker: Couldn't find network status for kube-system/registry-x6svt through plugin: invalid network status for

W0408 18:34:37.906598   19288 docker_sandbox.go:394] failed to read pod IP from plugin/docker: Couldn't find network status for kube-system/registry-x6svt through plugin: in

[2020-04-08 13:51] govargo commented on #7475
/remove-kind bug
/kind cleanup

[2020-04-08 14:59] govargo opened #7515 "`minikube start` doesn't print node name. 1st node name is empty. (If use multi node,) 2nd node name is incorrect"
[code]

1. start minikube cluster
[code]

the node name doesn't be printed. `Starting control plane node  in cluster minikube`.
It is empty.

2. check node name
[code]

we expect that `minikube start` prints 1st node `minikube` and 2nd node `minikube-m02`.

[2020-04-08 14:59] govargo commented on #7515
/kind bug
/assign

[2020-04-08 15:49] govargo opened #7517 "`minikube delete` output is missing using docker driver"
[code]

1. create the cluster with multi node or single node with docker driver.
(following example is multi node)
[code]

2. delete the cluster
[code]

We expect all nodes information.
1st line should be `Deleting "minikube" in docker ...`.
2nd line should be `Deleting "minikube-m02" in docker ...`.

When I use single node with docker driver, the `minikube delete` output is here.
[code]
node info

[2020-04-08 15:49] govargo commented on #7517
/kind bug
/assign

[2020-04-08 16:17] tstromberg commented on #7251
Connected in as per CI docs:

`ssh -t jenkins.us-central1-a.k8s-minikube "ssh -p9000 jenkins@127.0.0.1"`

Confirmed that auth is broken:

[code]

I do notice that it's using a legacy login:

[code]

I'm going to create a `jenkins-mac-slave@k8s-minikube.iam.gserviceaccount.com` account with access to upload artifacts.

[2020-04-08 16:26] tstromberg commented on #7251
[code]

Auth should be fixed now.

[2020-04-08 16:27] tstromberg commented on #7251
[code]

[2020-04-08 16:27] #7251 closed

[2020-04-08 16:30] tstromberg commented on #7510
Sounds reasonable, and something the IDE's would love to have as well. Something like `--managed-driver-backend` that allows us to start or restart podman or docker or whatever the hell we're running on would be nice.

Cloud Code users in particular have had issues where users have stopped the Docker daemon and thus minikube didn't work out so well.

[2020-04-08 16:43] tstromberg commented on #7419
Is this effectively a web based version of `minikube ssh`, or is this something bigger?

FYI - the project name conflict with Google Cloud Shell is going to make this super confusing if made into a minikube addon. We'd probably need to call it vorburger-cloudshell or something else.

[2020-04-08 16:56] tstromberg opened #7518 "docker_ubuntu_18_04: TestOffline/group/crio: missing kube-dns (disk pressure)"
Flaky test due to disk pressure: https://pipelines.actions.githubusercontent.com/ZGpgH9zUuTeRfFbWuBd3XFWGXuWbsKLh0sZK7k8Ux0yprYkJ4U/_apis/pipelines/1/runs/1540/signedlogcontent/30?urlExpires=2020-04-08T16%3A46%3A12.0190019Z&urlSigningMethod=HMACV1&urlSignature=zaaA1a6Gd5ImZeQflsE3OTgiMVskhMJHlpEjKI51nGw%3D

Alternatively: https://gist.github.com/tstromberg/8c6fb041ba9bdcd9a749d23c577d7886

`./mini

[2020-04-08 17:15] afbjorklund commented on #7511
The paths under `/tmp` are just mount points anyway, the real data is kept on `/mnt/sda1`

[2020-04-08 17:35] tstromberg opened #7519 "Docker_Linux: TestOffline/group/crio: missing components: kube-dns"
https://storage.googleapis.com/minikube-builds/logs/7516/5110da9/Docker_Linux.html

[code]

Looks like we hit the 6 minute timeout to roll CoreDNS out:

[code]

Shows up here:

[code]

The logs don't make it clear why the containers are not ready.

[2020-04-08 17:38] tstromberg commented on #7519
NOTE: I was not able to reproduce this locally on macOS.

[2020-04-08 17:41] tstromberg opened #7520 "Docker_Linux: TestDockerFlags: docker.service failed because the control process exited with error code"
https://storage.googleapis.com/minikube-builds/logs/7516/5110da9/Docker_Linux.html#fail_TestDockerFlags

[code]

[2020-04-08 17:50] tstromberg opened #7521 "Docker_Linux: TestStartStop/group/containerd: listen tcp 0.0.0.0:8444: bind: address already in use"
https://storage.googleapis.com/minikube-builds/logs/7516/5110da9/Docker_Linux.html#fail_TestStartStop%2fgroup%2fcontainerd

[code]

stdout shows some initial trouble with restarting:

[code]

Pods show that the apiserver restarted, but the dashboard didn't. It appears we lost state when restarting the apiserver?

[code]

This sounds like a race condition bug: where we claim health on the previous

[2020-04-08 17:53] tstromberg opened #7522 "Docker_Linux: TestStartStop/group/crio: missing components: kube-dns"
https://storage.googleapis.com/minikube-builds/logs/7516/5110da9/Docker_Linux.html#fail_TestStartStop%2fgroup%2fcrio

[code]

No reason why:

[code]

Related: #7519

[2020-04-08 18:10] afbjorklund commented on #7501
The thing here is that you need to run _every_ minikube command that way.

This is because root will end up owning all the files that are getting created...

Basically this is a bug. (#3760)

Sudo should **not** be required, instead minikube should add `sudo` where needed.

[2020-04-08 18:12] medyagh commented on #7370
this one seems to be fixed

[2020-04-08 18:12] #7370 closed

[2020-04-08 18:14] sharifelgamal commented on #7423
Closing in favor of #7459

[2020-04-08 18:14] #7423 closed

[2020-04-08 18:14] tstromberg commented on #7365
Do you mind sharing the output of:

* `Get-VM`
* `minikube start --alsologtostderr -v=1`

Are you running minikube from within a admin PowerShell window?

[2020-04-08 18:15] priyawadhwa commented on #7492
Hey @mat-tia thanks for pointing this out! Looks like that documentation lives here:

https://minikube.sigs.k8s.io/docs/handbook/config/#selecting-a-kubernetes-version

We should probably make this more generic and just say that we support latest kubernetes version -> v1.11 so that this documentation doesn't need constant updating.

If anybody would be interested in submitting a PR for this fix, p

[2020-04-08 18:15] tstromberg commented on #7369
[code]

[2020-04-08 18:15] medyagh commented on #7378
@ncri I am curious did you solve this issue ?

[2020-04-08 18:16] tstromberg commented on #7369
I've seen this one too elsewhere.

[2020-04-08 18:17] medyagh commented on #7406
this was closed

[2020-04-08 18:17] #7406 closed

[2020-04-08 18:24] tstromberg commented on #7401
I noticed this bug was still open, so I've commandeered it for what may be the same issue, but seen differently with the longer timeout:

[code]

[2020-04-08 18:25] #5765 closed

[2020-04-08 18:25] prasadkatti commented on #7492
/assign

[2020-04-08 18:25] medyagh commented on #7438
this should be an easy fix.
@prasadkatti recently made a PR to add alias to documentation pages

[2020-04-08 18:26] sharifelgamal commented on #7447
The above workaround of building from source will work for now, we'll work on making kicbase available somewhere.

[2020-04-08 18:32] priyawadhwa commented on #7376
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl get po -A`

Thank y

[2020-04-08 18:35] medyagh commented on #7519
@tstromberg did you try with --wait=true ?

[2020-04-08 18:38] tstromberg commented on #7372
Fixed by #7424

[2020-04-08 18:38] #7372 closed

[2020-04-08 18:39] sharifelgamal commented on #7499
You can push to a public registry or to a private registry with addon creds to make this work without adding a policy to your yaml file.

[2020-04-08 18:46] priyawadhwa commented on #6912
Hey @Nick-Harvey does the nvidia pod ever have status `Running`?

I'm wondering because of this log when you tried to run:

[code]

The output of `kubectl describe po nvidia-xx-xx -n kube-system` might be helpful here.

If the pod is `Running`, could you try:

[code]

[2020-04-08 18:49] priyawadhwa commented on #6732
Hey @ukreddy-erwin , could you please share the output of `minikube start --alsologtostderr -v=1`?

[2020-04-08 18:54] medyagh commented on #7106
@ramesh-kumarjha do you mind pasting the output again ? the fomratting seems to be missing something

[2020-04-08 18:57] sharifelgamal commented on #6771
Yeah, this was a regression in soft restarts of minikube, it should be fixed at HEAD now that #7449 is merged.

[2020-04-08 19:01] tstromberg commented on #7493
https://minikube.sigs.k8s.io/docs/commands/config/ has the list, but you are correct: it does not yet reveal any documentation about what the options do.

[2020-04-08 19:01] tstromberg commented on #7481
/cc @sharifelgamal

[2020-04-08 19:02] medyagh commented on #7314
@Madhu-1 here are couple things to try. and I am curious to see the result:

1- Does it work with latest minikube and setting kubernetes version to an older version ? (the one existed before 1.8.0) ?
[code]

2- Does it with work latest minikube version and an old VM ISO?
you can specify the iso_url
[code]

[2020-04-08 19:03] sharifelgamal commented on #7481
Yeah, makes sense.

[2020-04-08 19:54] medyagh opened #7524 "update minikube performance bot logs"
the following items needs to be updated
Pulling images
Launching Kubernetes
Waiting for cluster

[code]

[2020-04-08 20:08] caoyukun0430 commented on #7365
Hi, I have also the same issue with hyperv, my minikube runs well with virtualbox, but not hyperv.
The Get-VM output is as follows:
PS C:\WINDOWS\system32> Get-VM

Name            State   CPUUsage(%) MemoryAssigned(M) Uptime           Status             Version
----            -----   ----------- ----------------- ------           ------             -------
DockerDesktopVM Off     0           0

[2020-04-08 20:45] medyagh opened #7526 "unify the time.sleeps in kverify package"
in kverify we need to re-evaluate the time sleeps and annouce problems for better wait experience.
across all components (api_server, system_pods, apps_running,...)

for example

[code]

we seem to multiply the wait both inside and outside
[code]

and still we have another one wait interval
[code]

[2020-04-08 21:22] medyagh commented on #6956
seen today https://storage.googleapis.com/minikube-builds/logs/7523/688a0b2/Docker_Linux.html#fail_TestStartStop%2fgroup%2fcontainerd

[2020-04-08 21:32] tstromberg commented on #6956
I don't believe this flake to be specific to Docker.

One thing I've noted with the extra logging is that we appear to be transferring a 0-byte .pem into the container/VM:

[code]

That file is created by `setupFileSync()` in our integration tests, and should be 1338 bytes instead.

[2020-04-08 22:00] medyagh commented on #7521
this is dupe of https://github.com/kubernetes/minikube/issues/7505
and I believe this happens because Kic Stop does not stop kubelet.
I have not seen this for other Drivers, have u?

[2020-04-08 22:12] jradtilbrook commented on #7511
Oh sorry for the lack of detail. My problem is present when using the `none` driver. So I believe the data is stored directly at the path without any binds

[2020-04-08 22:23] #7492 closed

[2020-04-08 22:40] prasadkatti commented on #7507
This is the link OP is talking about - https://github.com/kubernetes/minikube/labels/co%2Fvmware

[2020-04-08 23:02] medyagh opened #7533 "TestStartStop: "Error response from daemon: Cannot pause containe""
as seen in hyperkit:

old-docker
https://storage.googleapis.com/minikube-builds/logs/7490/70329bf/HyperKit_macOS.html#fail_TestStartStop%2fgroup%2fold-docker

Error response from daemon: Cannot pause container 7d545e9bc7891bc76834242c13f4736f2b12d

[2020-04-08 23:47] #7493 closed

[2020-04-08 23:52] kingram6865 commented on #7507
Oh. I see. It's the place to post issues.
My mistake.

On Wed, Apr 8, 2020 at 3:40 PM Prasad Katti <notifications@github.com>
wrote:

[2020-04-09 00:13] noorulhud opened #7534 ""minikube start --driver=docker" is not working"
**Steps to reproduce the issue:**

1. minikube delete
2. minikube start --driver=docker
3.
![Screenshot from 2020-04-08 19-05-17](https://user-images.githubusercontent.com/63110809/78844915-cdb98c00-79cc-11ea-87e5-10a0f429e0ed.png)

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<

[2020-04-09 00:17] medyagh opened #7535 "add registery addon feature for docker on mac/windows"
this should be easy, we need to allocate port 5000 during creating container.
and update the docs that user will need to use the assigned port forward

[2020-04-09 00:30] #7515 closed

[2020-04-09 01:05] medyagh opened #7537 "docs: need to addons on addons"
our handbook and website doesnt not have much info about all the addons we have
we need a section to list all the addons (use the @priyawadhwa auto generate doc) to list the addons

and maybe a small descrption or example usage of each addon in their page.

cc: are you interested ?
@prasadkatti

some of our addons alrready have a Readme we can use as a basic start
https://github.com/kubernetes/min

[2020-04-09 01:20] sharifelgamal opened #7538 "Multi-node GA Reqs"
This is the meta issue tracking everything that needs to happen to get our multi-node feature more stable and no longer experimental.

- [ ] Multi-node should survive restarts (#7496)
- [ ] Integration tests (#7462)
- [ ] Automated CNI at run time (#7459)
- [ ] Multi control plane clusters (#7461)
- [ ] `minikube node start/add` should respect relevant `minikube start` parameters (#7366)
- [ ] `mi

[2020-04-09 01:28] priyawadhwa commented on #7524
Done, as shown here: https://github.com/kubernetes/minikube/pull/7530#issuecomment-611259702

[2020-04-09 01:28] #7524 closed

[2020-04-09 01:36] medyagh commented on #7534
@noorulhud  thank you for creating this issue, do u mind making sure our docker service is running?

what is the output of docker info ?
or docker ps ?

[2020-04-09 02:00] medyagh opened #7540 "docs: links to netowkring is broken"
here https://minikube.sigs.k8s.io/docs/handbook/pushing/
the link
https://minikube.sigs.k8s.io/reference/networking/
is broken

addtitioanlly all of the links in the website, that links to our own website should be changed to
this format:

more information on [docker-env]({{< ref "/docs/commands/docker-env" >}})

instead of the full url https://minikube.sigs.k8s.io/...

[2020-04-09 02:17] medyagh commented on #7524
nice ! thank you @priyawadhwa

[2020-04-09 04:27] medyagh opened #7541 "TestStartStop: "Failed to setup certs" flake"
as seen here
https://storage.googleapis.com/minikube-builds/logs/7435/70adc95/Docker_Linux.html#fail_TestStartStop%2fgroup%2fold-docker

[code]

[2020-04-09 04:27] medyagh commented on #7541
CC: @tstromberg

[2020-04-09 04:28] prasadkatti commented on #7537
Sure! I might have a few questions along the way. I am sure. I will reach out on Slack.

[2020-04-09 05:32] afbjorklund commented on #7511
I know, but when you are using the `none` driver you will have to do these things (install docker, setup symlinks) yourself. Could have been documented better, though...

[2020-04-09 05:34] medyagh commented on #7521
here is the root cause:  unable to stop kubelet:

[code]

[2020-04-09 05:39] afbjorklund commented on #7511
Moving the temporary mountpoint from `/tmp/hostpath-provisioner` to `/var/tmp/hostpath-provisioner` seems like a workaround. I think that it might be a parameter "soon" ?  #3318

There was also the issue with the storage-provisioner pod mounting the `/tmp` directory. So this needs to be updated the same way, and I think is one reason why it is a bind mount (not symlink) now.

[2020-04-09 06:18] medyagh opened #7542 "Noisy "Overriding stale ClientConfig host" message"
for docker/podman driver, on each hard start, we update the ip,port, currently it shows as an Error Log
it would be nicer to show that as a out.T in a fashionable mannner.

[code]
should be replace by something nicer

[code]

[code]

[2020-04-09 06:21] medyagh commented on #7521
so one step closer !

I think the root cause is on kic, we need to run crictil with sudo
[code]

[2020-04-09 06:21] jradtilbrook commented on #7511
I don't see why you would need to do that. Installing docker makes sense but minikube takes care of creating the `/tmp/hostpath-provisioner` directory and mounting that into the storage-provisioner container. So why can't it instead use the better purposed `/var/tmp/hostpath-provisioner`?

I only partly agree that this is a workaround. Under the assumption that most users that are using the `none`

[2020-04-09 06:53] radeksm opened #7543 "docs/networking.md points to non-existing URL"
**Steps to reproduce the issue:**
`cat docs/networking.md`
it points to https://minikube.sigs.k8s.io/docs/reference/networking/ which does not exist any more.

**Full output of failed command:**
`Not found
Oops! This page doesn't exist. Try going back to our home page.`

**Proposed Solution:**
Because *networking* section has gone from minikube.sigs.k8s.io/ we probably should remove the docs/netwo

[2020-04-09 06:58] gattytto commented on #7218
persistentvolume creation fails when using the default storageclass created by minikube.

workaround: create storageclasses and persistentVolume before deploying the pods that will use persistentVolumeClaims and make them use the created storage class (or make it the default one when the app source can't be edited).

[2020-04-09 07:10] Madhu-1 commented on #7314
@medyagh no its didn't work with any of the kubernetes version.
Even I specified 1.6.0. ISO when starting the minikube it failed for me
[code]

[2020-04-09 07:33] #7457 closed

[2020-04-09 07:48] vikkyomkar commented on #7542
/assign

[2020-04-09 08:02] RA489 commented on #7540
/assign

[2020-04-09 08:03] kajariagrawal commented on #3053
Faced this issue on m windows 7. Again, path not added. I added it manually and it works now. My doubt is haven't they fixed it yet? the bug is reported a year back.

[2020-04-09 08:03] medyagh commented on #7521
ok I found the total root cause !

u can not 'crictl rm' a container before stopping it , sent a PR !

[2020-04-09 08:53] caoyukun0430 commented on #1967
Thank you, by following your solution, my problem is fixed!

[2020-04-09 09:25] caoyukun0430 commented on #7365
Hi, I solved my issue by following comments here https://github.com/kubernetes/minikube/issues/1967.

[2020-04-09 09:43] JesusGoVar opened #7548 "MiniKF: waiting for apiserver: timed out waiting for the condition"
I can't up de MiniKF on vagrant on windows 10.
vagrant version `2.2.7`
VirtualBox version 6.1.4 r136177 (Qt5.6.2)

**10.10.10.10 show this error**
`Type: CommandExecutionError
Reason: Command `<ExtCommand [QGn0a_38L3s] `minikube start --v=7 --apiserver-name=10.10.10.10 --apiserver-port=8443 --apiserver-ips=10.10.10.10 --apiserver-names=MiniKF --extra-config=kubelet.v=1 --extra-config=kubeadm.ignor

[2020-04-09 09:52] afbjorklund commented on #7543
Since most of those links broke, we should probably just delete the whole "docs" directory

[2020-04-09 09:54] afbjorklund commented on #7540
We should probably just delete the whole "docs", there is no content there anyway.

Use can use Google to find wherever the minikube documentation is hiding today ?

[2020-04-09 09:59] afbjorklund commented on #7511
It could, but it would be more meaningful to store "persistent" data in a non-tmp directory ?

So the plan was to allow to select something similar to `/mnt/sda1/hostpath-provisioner`

But `/var` might also be too small / used for logs and stuff. So I'm not sure that is the best.

So the user can select something appropriate ? See also `/data`, used for manual volumes.

[2020-04-09 10:02] afbjorklund commented on #7511
It was _supposed_ to have been revisited in #5144, but I'm not sure anything actually happened ?

And as noticed in #7218 it has been a couple of years since we had a new storage-provisioner

[2020-04-09 10:02] kajariagrawal opened #7549 "No connection could be made because the target machine actively refused it."
Windows machine 64 bit. 4gb RAM
Virtual box installed: oracle virtual box 5.2.20
Docker toolbox installed.

**Steps to reproduce the issue:**

**minikube start --driver=virtualbox --alsologtostderr v=4**

<details>
nic6="none"
nic7="none"
nic8="none"
hidpointing="ps2mouse"
hidkeyboard="ps2kbd"
uart1="off"
uart2="off"
uart3="off"
uart4="off"
lpt1="off"
lpt2="off"
audio="dsound"
audio_in="false"
aud

[2020-04-09 12:10] #7501 closed

[2020-04-09 13:35] tema-mazy commented on #7009
hello-minikube have same issue
initialized  with
driver=none & driver = docker - same errors

Apr 09 13:33:54 minikube kubelet[2330]: W0409 13:33:54.026906    2330 docker_sandbox.go:400] failed to read pod IP from plugin/docker: Couldn't find network status for default/hello-minikube-5655c9d946-x2vm9 through plugin: invalid network status for
Apr 09 13:33:54 minikube kubelet[2330]: W0409 13:33:54.

[2020-04-09 14:24] pandeyvineet opened #7552 "Not enough memory in the system to start the virtual machine minikube"
[code]

[2020-04-09 14:27] devika-28 commented on #7352
@afbjorklund
yes, Windows doesn't support the privileged mode,
Can you please suggest some workaround.

[2020-04-09 14:33] devika-28 commented on #7352
@tstromberg the docker is up-to-date.
and the windows containers are enabled.

[2020-04-09 15:01] tema-mazy commented on #6131
Labels:             beta.kubernetes.io/arch=amd64
                    beta.kubernetes.io/os=linux
                    kubernetes.io/arch=amd64
                    kubernetes.io/hostname=br.local
                    kubernetes.io/os=linux
                    minikube.k8s.io/commit=93af9c1e43cab9618e301bc9fa720c63d5efa393
                    minikube.k8s.io/name=minikube
                    minikube

[2020-04-09 15:31] tstromberg commented on #7552
Your host needs more free RAM to complete the operation:

[code]

[2020-04-09 15:31] tstromberg commented on #7552
NOTE: If you have `Docker` running, you may be able to fit it into the existing Docker VM by using:

`--driver=docker`

[2020-04-09 15:32] #7552 closed

[2020-04-09 15:35] tstromberg commented on #7549
It looks like your Windows host firewall is interfering:

`No connection could be made because the target machine actively refused it.`

Can you try temporarily turning it off to see if the situation improves?

[2020-04-09 15:44] tstromberg commented on #7548
Hey @JesusGoVar

I've never heard of MiniKF, but can give some basic support based on the error message emitted:

`X Error restarting cluster: waiting for apiserver: timed out waiting for the condition`

This restart issue has been addressed in more recent minikube releases.

If you are unable to upgrade to minikube v1.9.2, I'm confident that running `minikube delete` in this environment will get

[2020-04-09 16:07] kajariagrawal commented on #7549
Thank you for replying.
Yes i tried that too. Actually my issue is similar to issue #4293.
Also I was wondering...I have a very old configuration computer. 4gb RAM windows 7. Could it be that minikube requires a minimum of atleast 8gb RAM?

[2020-04-09 16:44] tema-mazy commented on #6131
fixed by
 minikube start --driver=none  --network-plugin=cni --enable-default-cni --bootstrapper=kubeadm

[2020-04-09 17:07] tstromberg commented on #7352
@devika-28 - disable Windows Containers.

[2020-04-09 17:39] noorulhud commented on #7534
I run the commands as below:

![Screenshot from 2020-04-09 12-38-46](https://user-images.githubusercontent.com/63110809/78924289-26396980-7a5f-11ea-9bcf-fa35b7d3944a.png)

[2020-04-09 17:44] tstromberg commented on #7541
[code]

[2020-04-09 17:44] nitinmuteja opened #7555 "Error in decoding kubeconfig on mac"
**Steps to reproduce the issue:**

1. brew install minikube
2. minikube start --memory=6000 --cpus=4 --driver=virtualbox
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**
tartup failed: Failed to update kubeconfig file.: could not read config: Error decoding config from data: apiVersion: v1
clusters:
- cluster:
    certificate-author

[2020-04-09 19:24] #7458 closed

[2020-04-09 19:59] #7216 closed

[2020-04-09 22:25] raphendyr opened #7561 "kvm2: minikube start fails, due to timeout before disk image is fully created"
**Steps to reproduce the issue:**

1. Have a Linux host with HDD or other slow storage
2. Download a version of minikube in range v1.7.3 to v1.9.2
3. Create a new minikube `minikube-1.7.3 start -p minikube173 --auto-update-drivers=false -v=8 --alsologtostderr  --vm-driver=kvm2`
4. Minikube start fails after around 2 minutes, due to a hard coded timeout.

**Full output of failed command:**

<detail

[2020-04-10 00:02] #7517 closed

[2020-04-10 00:04] #7543 closed

[2020-04-10 00:18] prasadkatti commented on #7491
/assign

[2020-04-10 00:30] gattytto commented on #7511
https://github.com/eclipse/che/issues/15157#issuecomment-574168005

[2020-04-10 00:33] gattytto commented on #7511
The way minikube works is just fine. First you allocate volumes with hostpath and after that your app used persistent volume claim to a default storage class or a configurable one. So you allocate a volume for the storage class before it’s provisioned and it will work upon restarts (things like Postgres can be used for test). But folders have to be cleaned upon reprovisionment and volumes have to

[2020-04-10 00:41] tstromberg commented on #7561
I'll send a PR out for a lower-tech solution, just to see if it works. This step typically takes 10 seconds, so normally 2 minutes is enough, and well, 4 minutes should be plenty of time.

[2020-04-10 00:43] tstromberg commented on #7549
@kajariagrawal - This error code is reserved in Windows specifically for when a firewall is blocking the connection from being received, so no need to worry about the amount of RAM. That error would look different.

You can try upgrading your VirtualBox installation, but I'm not sure it will help.

[2020-04-10 00:44] tstromberg commented on #7542
This message should actually be hidden entirely as a `glog.Warningf`.

It's probably a side-effect of us writing the kubeconfig information post-bootstrap.

[2020-04-10 01:01] aslambaba opened #7566 "dial unix /var/run/docker.sock: connect: permission denied"
### Unable to Install Minikube:

$minikube start --driver=docker
minikube v1.9.2 on Ubuntu 19.10
✨  Using the docker driver based on existing profile

❗  'docker' driver reported an issue: exit status 1
💡  Suggestion: Docker is not running or is responding too slow. Try: restarting docker desktop.

👍  Starting control plane node m01 in cluster minikube
🚜  Pulling base image ...
E0409 20:39:08.6016

[2020-04-10 01:24] tstromberg commented on #7561
Do you mind checking if this binary fixes your issue:

https://storage.googleapis.com/minikube-builds/7565/minikube-linux-amd64

[2020-04-10 01:26] tstromberg commented on #7566
Hi @aslambaba

I believe you need to be in the `docker` group in order for the `docker` command-line to work. Can you confirm that docker is broken if you type:

`docker ps`

If so, try this to join the docker group:

`newgrp docker`

Otherwise, please check these instructions: https://docs.docker.com/engine/install/linux-postinstall/

Please let me know what works for you, so that we can update t

[2020-04-10 01:57] tstromberg commented on #7296
This should be fixed in v1.9.2.

If not - please /reopen this. It's possible that we are detecting the condition incorrectly if you run `minikube` as a non-administrator with the Hyper-V driver.

[2020-04-10 02:07] medyagh opened #7567 "stderr spam: unable to stop kubelet: Unit kubelet.service not loaded."
on master, on a Fresh no-pre-existing minikube I get:

[code]

I believe this is a side effect of sys init feature.

when kubelet is not running we should not even try to force stop it (this is a fresh minikube, that transfers binaries before kube adm)

[2020-04-10 03:25] medyagh opened #7569 "are we transfering the binaries after kubeadm init ?"
[code]

[2020-04-10 03:46] lpcman commented on #4374
rerun `Enable-WindowsOptionalFeature-Online -FeatureName Microsoft-Hyper-V -All` and restart computer immediately base on the PowerShell cmd request, then run `minikue start --driver=hyperv` solved my problem
minikube version: v1.9.2

[2020-04-10 04:16] medyagh opened #7571 "addon gallery on the website"
we could have a an addon gallery on the website, where people can see addons, and filter by Operating system or driver, and a link to Add your software to minikube addons ...here is how.

[2020-04-10 04:24] lovettchris commented on #4027
Not sure this was the same issue as the marked dupe 3587 which talks about minikube service not responding, which seems like a different issue.

But I did find something interesting.  When I run "minikub service hello-node" I get this output:
|-----------|------------|-------------|-------------------------|
| NAMESPACE |    NAME    | TARGET PORT |           URL           |
|-----------|----------

[2020-04-10 05:04] radeksm commented on #7540
@medyagh regarding your comment https://github.com/kubernetes/minikube/pull/7546#issuecomment-611771607 sure I can do.

Just forgive me my lame question :)
I figured out how I can run local Kubernetes docs in container with hugo server.
Is there any way to generate HTML content from .md files and run it locally? maybe with hugo?
There is *generate-docs* target in Makefile but it seems to be doing

[2020-04-10 05:09] tstromberg commented on #7569
No, but we certainly are trying to beforehand.

It's worth noting that we will attempt to stop the kubelet even if we the kubelet binary on the other end is perfectly fine. It's technically unnecessary except in the case of upgrades or corrupt binaries, but doesn't carry much cost either.

[2020-04-10 05:15] #7567 closed

[2020-04-10 05:40] tstromberg opened #7573 "Move kic to ssh_runner where possible"
I noticed that, even at head, minikube still uses kic_runner in many places.

kic_runner has high transactional overhead compared to ssh_runner, since ssh_runner re-uses the same connection.

Solution would need to be benchmarked, of course.

[2020-04-10 06:02] medyagh opened #7576 "kic on GCE: docker: Windows does not support privileged mode"
trying windows VMs in google cloud with docker driver:
I bet I need to start the vms that support nested virtualization. (they support windows too) but if anyone interested to take this task. and do experiment with Windows VMs on google cloud. so we can add them to jenkins for testing

[code]

[2020-04-10 06:04] medyagh commented on #7573
could also try with setting the --entry-point to "" so docker exec commands not run the entry-point which is pretty heavy and intense.

[2020-04-10 07:07] steakunderscore opened #7577 "Failed to pull image "k8s.gcr.io/kube-proxy:v1.18.0""
**Steps to reproduce the issue:**

1. minikube start --memory 4GiB
2. kubectl -n kube-system describe pod/kube-proxy-pb4pc
[code]
3. eval $(minikube docker-env)
4. docker pull k8s.gcr.io/kube-proxy:v1.18.0
[code]

**Full output of failed command:**
[code]

**Full output of `minikube start` command used, if not already included:**

[code]

**Optional: Full output of `minikube logs` command:**
<deta

[2020-04-10 07:12] medyagh commented on #7380
some observations:
on VM version is v1.17.1
on KIC version is 1.17.0

service file on VM:
[code]

service file on KIC:
[code]

[2020-04-10 07:47] medyagh commented on #7380
more debugging info:

the crio.conf on VM: /etc/crio/crio.conf
<details>
<pre>
# The CRI-O configuration file specifies all of the available configuration
# options and command-line flags for the crio(8) OCI Kubernetes Container Runtime
# daemon, but in a TOML format that can be more easily modified and versioned.
#
# Please refer to crio.conf(5) for details of all configuration options.

# CRI-O

[2020-04-10 07:56] afbjorklund commented on #7534
See https://docs.docker.com/engine/install/linux-postinstall/

[2020-04-10 08:04] afbjorklund commented on #7566
Minikube requires to be able to run docker without sudo, but that is **not** the default installation.

We noticed this with the `generic` driver, and there a step was added to give the user root-access.

commit https://github.com/kubernetes/minikube/pull/6873/commits/3117473837ca0b55f6ab20f442413f8285fc4627

Note that this is a security risk, when doing it on the host - as opposed to in a dedicat

[2020-04-10 08:10] afbjorklund commented on #7440
There are two separate issues here:

1) (trivial) The name "Docker" is used to talk about two separate Docker Inc. products
The short-term solution is just to avoid mentioning Desktop or Engine specifically...

2) (important) Currently we pretend that it works the same on Win/Mac and on Linux.
It doesn't. The products are vastly different, and have a very different user experience.

So I will just

[2020-04-10 08:13] afbjorklund commented on #7440
There is also some historic context here, with Docker Toolbox and Docker Machine:

https://docs.docker.com/machine/overview/

https://docs.docker.com/docker-for-mac/docker-toolbox/

https://docs.docker.com/docker-for-windows/docker-toolbox/

And of course when running standard Minikube in a VM, you don't need **any** of it.

[2020-04-10 08:25] afbjorklund commented on #7576
@medyagh : isn't this the same as #7352 ? has it ever worked, with `--privileged` (on Windows) ?

[2020-04-10 08:27] medyagh opened #7579 "someone is using minikube name on docker hub"
while I was investigating to push kicbase image to docker hub, I noticed this org exists:

https://hub.docker.com/u/minikube

[2020-04-10 08:30] afbjorklund commented on #7561
Hmm, this is supposed to create a _sparse_ image...

It will grow over time (too much*), but **not** to 20G ?

\* see https://github.com/kubernetes/minikube/issues/3155

Which version of libvirt (QEMU and KVM) is this ?

Disk bloat is my main reason for preferring VirtualBox

[2020-04-10 08:35] afbjorklund commented on #7561
You could try inspecting the image (compacting it could also help)

`qemu-img info ~/.minikube/machines/minikube/minikube.rawdisk`

[2020-04-10 10:14] medyagh opened #7581 "add a flag to allow minikube auto restart docker if it is not running"
Collecting error messages for a not running docker:

# on mac:

[code]

[code]

[code]

[code]

# windows

[code]

[2020-04-10 10:45] medyagh commented on #7300
we need to update this suggestion
stopping minikube will not help with deleting
but deleting it from the hyperv manager helps

[code]

[2020-04-10 10:54] mudasar187 opened #7582 "Not able to start minikube with virtualbox, hyperkit and docker driver works fine"
I'm using MacOS Catalina, and I have installed Minikube , Docker and VirtualBox from Homebrew.
Minikube version: v1.9.2 , Virtualbox v6.1 and Docker v19.03.8.

I run this command to use virtualbox as default `minikube config set vm-driver virtualbox`.

When i run `minikube start` , i get following error:

[code]

If i use `hyperkit` or `docker` drivers, its working fine. But not with virtualbox?
I

[2020-04-10 11:08] medyagh opened #7583 "refactor TestStartStop"
this is a very useful test but very big
we need break it down to smaller Sub tests, so it will read nicely in the logs, when something fails we should know fast what subtest and what functionality of minikube failed

some sub tests I identified
- fresh start
- soft start
- stop
- enable addon before start and start again
- deploy busybox
- pause
- delete

...

aslo
we should consider testing a dif

[2020-04-10 11:33] medyagh commented on #7535
cc: @alonyb

[2020-04-10 11:51] devika-28 commented on #7352
@tstromberg  after disabling the container, The docker has stopped working
the error:
<details>
* minikube v1.9.0 on Microsoft Windows 10 Enterprise 10.0.18362 Build 18362
* Using the docker driver based on existing profile

! 'docker' driver reported an issue: exit status 1
* Suggestion: Docker is not running or is responding too slow. Try: restarting docker desktop.

* Pulling base image ...
E04

[2020-04-10 13:19] jcorvino opened #7584 "Outdated Contributing Link"
The link in [CONTRIBUTING.md](https://github.com/kubernetes/minikube/blob/master/CONTRIBUTING.md) is outdated. It should link to https://minikube.sigs.k8s.io/docs/contrib/

[2020-04-10 13:30] jcorvino opened #7585 "multi-node stop on hyper-v: InvalidOperation: (:) [Stop-VM], VirtualizationException"
This is probably related to issue ([#7496](https://github.com/kubernetes/minikube/issues/7496)), but
when shutting down a multinode cluster only the first node shuts down properly.

**Steps to reproduce the issue:**
1. System setup: Windows 10 Pro. Minikube 1.9.2. VM driver = Hyper-V
2. Start a multinode cluster (`minikube start -p multinode --nodes 2`)
3. Stop the cluster (`minikube stop -p multi

[2020-04-10 13:35] noorulhud commented on #7534
How to apply this document and how much?

[2020-04-10 13:38] govargo commented on #7437
I'm interested in this issue.

/assign

[2020-04-10 13:43] noorulhud commented on #7534
It works, thank you very much...

![Screenshot from 2020-04-10 08-43-35](https://user-images.githubusercontent.com/63110809/78995180-6522fa00-7b07-11ea-8026-d1a6baa6f781.png)

[2020-04-10 14:36] gattytto commented on #7511
@jradtilbrook it is not a bug, by default minikube provisions ephemereal storage, which resides in /tmp by convention.

the version of minikube you are using is not affected by the bug @afbjorklund mentions (#7218) so if you want data to persist upon reboots, you have to use storage classes and persistent volumes.

[2020-04-10 14:58] tstromberg commented on #7541
Great news! We now have a more interesting error message:

`W0410 04:25:13.826351   26334 out.go:201] Failed to setup certs: Copy /home/jenkins/minikube-integration/linux-amd64-docker-7580-2643-10f924df4a5d1a7a5312424fb220970b28adf485/.minikube/certs/5144.pem: write: /tmp/tmpf-memory-asset852732570: expected to write 0 bytes, but wrote 1338 instead`

https://storage.googleapis.com/minikube-builds/

[2020-04-10 15:32] R-omk opened #7589 "Pods get assigned the same IP on different nodes (multi-node)"
**Steps to reproduce the issue:**

1. minikube start  -n 3 --driver=docker
2. \# deploy multiple pods to cluster
3. kubectl get pods -o wide

<details>

minikube version: v1.9.2
commit: 93af9c1e43cab9618e301bc9fa720c63d5efa393

</details>

[2020-04-10 16:08] afbjorklund commented on #7511
That is not just true, it is only an unfortunate oversight when using the `none` driver...

All persistent volumes are supposed to be persistent, by mounting a persistent location.

The workaround is to do a similar setup as is done in the minikube.iso, but on the host:

[code]

At the moment the `/tmp` is hardcoded in the storage-provisioner, so this is quickest

[2020-04-10 16:13] afbjorklund commented on #7534
Glad to hear! We can move the discussion about improving the error message to #7566

[2020-04-10 16:13] #7534 closed

[2020-04-10 16:21] pandeyvineet commented on #7552
It worked but message is saying to configure proxy and there is github link to do that ,but link expired or moved,Below is the details:
`$ minikube start --driver=docker
* minikube v1.9.2 on Microsoft Windows 10 Education 10.0.18362 Build 18362
* Using the docker driver based on user configuration

! 'docker' driver reported an issue: exit status 1
* Suggestion: Docker is not running or is respond

[2020-04-10 16:30] ksnithya opened #7592 "minikube start not working"
**Steps to reproduce the issue:**

1.[control-plane] Creating static Pod manifest for "kube-scheduler"
[etcd] Creating static Pod manifest for local etcd in "/etc/kubernetes/manifests"
[wait-control-plane] Waiting for the kubelet to boot up the control plane as static Pods from directory "/etc/kubernetes/manifests". This can take up to 4m0s
[kubelet-check] Initial timeout of 40s passed.
[kubelet-c

[2020-04-10 16:52] sxpujs commented on #5860
I use the following commands and it works.
`minikube start --vm-driver=hyperkit --registry-mirror=https://registry.docker-cn.com --image-mirror-country=cn --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers`

Output:
`😄  Darwin 10.15.3 上的 minikube v1.9.2
✨  根据现有的配置文件使用 hyperkit 驱动程序
💾  正在下载驱动 docker-machine-driver-hyperkit:

🔑  The 'hyperkit' driver requires elevated permissions

[2020-04-10 18:06] mudasar187 commented on #7159
I also face the same issue. Minikube version: v1.9.2 , Virtualbox v6.1 and Docker v19.03.8. This did not happen before.

[2020-04-10 18:55] yaron-idan commented on #3869
Getting the same error when trying to install rabbitmq from bitnami's chart. Using minikube 1.9.2 and kubectl 1.18.0.

[2020-04-10 19:20] gjergjk71 commented on #4027
@lovettchris I'm getting the same results, if you find a solution please share it with us, same goes for me.

[2020-04-10 19:25] nicoleheard opened #7594 "Issue trying to start minikube with virtualbox on windows 10"
minikube start --vm-driver="virtualbox" --no-vtx-check

**Steps to reproduce the issue:**

1. Install kubectl
2. Install virtualbox
3. Install Minikube using Chocolatey
4. run "minikube start --vm-driver="virtualbox" --no-vtx-check"

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

* minikube v1.9.2 on Microsoft Windows 10 Home 10.0.18

[2020-04-10 20:07] tstromberg commented on #7589
I believe this is because there is no CNI enabled in this reproduction case: https://minikube.sigs.k8s.io/docs/tutorials/multi_node/

/cc @sharifelgamal

[2020-04-10 20:14] tstromberg opened #7597 "restart does not respect --wait flag"
I did some playing around and noticed that restart no longer respects the `--wait` flag.

It always waits for system components (hardcoded into kubeadm). Setting `--wait=false` or `--wait=true` has no change.

I also noticed that `starter.Cfg.VerifyComponents` gets reset to false on restart :(

[2020-04-10 20:16] tstromberg commented on #7592
I don't understand your reproduction steps. Where is the minikube command-line?

I can't tell what minikube version or driver this is.

[2020-04-10 21:02] R-omk commented on #7589
Yes, it looks like it is.
I believe this should be enabled by default for multi node mode, for example, as an addon enabled by default.

[2020-04-10 21:04] sharifelgamal commented on #7589
Yes, we have an issue open to enable CNI by default for multinode: https://github.com/kubernetes/minikube/issues/7459

[2020-04-10 21:48] #7380 closed

[2020-04-10 22:59] charandas commented on #6982
The same thing happens with ingress addon. No go with cri-o runtime. The minikube ip does not host any loadbalancer, and it fails silently, while internally, the `ingress` objects bind to minikube ip just fine.

[2020-04-10 23:58] medyagh opened #7601 "TestErrorSpam: Restarting the docker service may improve performance"
as seen in
https://storage.googleapis.com/minikube-builds/logs/7586/d512c84/Docker_Linux.html#fail_TestErrorSpam

[code]

[2020-04-11 00:09] ptramsey opened #7604 "feature request: mount host volumes into docker driver via `docker -v`"
**Steps to reproduce the issue:**

1. minikube config set vm-driver docker
2. minikube start

This is a feature request; there's no failed command here to document.  That said:

It would be really nice if the docker vm-driver allowed mapping paths from the local filesystem into the minikube container, using docker's volume binding functionality.  E.g.,

[code]
... which would internally call somet

[2020-04-11 00:57] balopat opened #7605 "docker driver: Improve error message on Linux with when docker socket is inaccessible"
On a fresh docker installation in Linux - I haven't yet set the docker group up - hence I would need to use sudo - however if I don't know this, I got this error message which is misleading:

- it says to restart docker desktop 1) I'm on Linux - there is no Docker Desktop here 2) this is not the issue, the issue is the permission denied problem on the socket

We should report "Minikube can't acces

[2020-04-11 01:19] medyagh opened #7606 "github action test failure: get ssh host-port: get host-bind port 22"
it appears that we try to get SSH port binding when the container is still being created (github action is very slow)
TestStartStop containerd

https://github.com/kubernetes/minikube/pull/7591/checks?check_run_id=578208376

[code]

## Full Log
<details>
[code]

</details>

[2020-04-11 01:43] medyagh commented on #7605
we fixed this a few commits ago, this should be on the HEAD

@balopat

[2020-04-11 01:44] medyagh commented on #7605
dupe of https://github.com/kubernetes/minikube/issues/7457

[2020-04-11 03:24] #6891 closed

[2020-04-11 03:35] medyagh opened #7610 "Warn user on start if node is under disk pressure"

[2020-04-11 04:15] gattytto commented on #7511
very short and quick indeed, thank you

[2020-04-11 06:04] chengyayu opened #7612 "Skip preload download if `--image-repository` is set"
**重现问题所需的命令**：minikube start --cpus=2 --memory='2000mb' --vm-driver hyperkit --image-mirror-country='cn' --image-repository='registry.cn-hangzhou.aliyuncs.com/google_containers'

**失败的命令的完整输出**：<details>
😄  minikube v1.9.2 on Darwin 10.15.4
✨  Using the hyperkit driver based on existing profile
✅  Using image repository registry.cn-hangzhou.aliyuncs.com/google_containers
👍  Starting control plane

[2020-04-11 06:29] veeveksen opened #7613 "kube-proxy" is forbidden: User "system:node:minikube" cannot list resource "configmaps" in API group "" in the namespace "kube-system": no relationship found between node "minikube" and this object"
**Steps to reproduce the issue:**

1.Install minikube and virtualbox.
2. execute command minikube start --force .

:~ vivek$ minikube start --force
😄  minikube v1.9.2 on Darwin 10.14.6
✨  Using the virtualbox driver based on user configuration
👍  Starting control plane node m01 in cluster minikube
🔥  Creating virtualbox VM (CPUs=2, Memory=4000MB, Disk=20000MB) ...
🐳  Preparing Kubernetes v1.18.0 o

[2020-04-11 06:46] oman-kumar opened #7614 "Issue while starting minikube"
**Steps to reproduce the issue:**

1.C:\Kubernetes>minikube.exe start
* minikube v1.9.2 on Microsoft Windows 10 Pro 10.0.18362 Build 18362
* Using the docker driver based on existing profile
* Starting control plane node m01 in cluster minikube
* Pulling base image ...
* docker "minikube" container is missing, will recreate.
* Creating Kubernetes in docker container with (CPUs=2) (4 available), Me

[2020-04-11 07:44] afbjorklund commented on #7614
Same as #7352

[2020-04-11 07:48] afbjorklund commented on #7605
Seems like duplicates:
1) Docker Desktop on Linux #/7440
2) docker.sock permission denied #7566

[2020-04-11 07:51] afbjorklund commented on #7605
Now it looks like:

[code]

[2020-04-11 07:52] afbjorklund commented on #7566
Now it looks like:

[code]

[2020-04-11 07:52] #7566 closed

[2020-04-11 07:54] #7440 closed

[2020-04-11 10:17] Tayyab30 opened #7616 "virtualbox 5.2: create host timed out in 120.000000 seconds"
### plz can enyone help me to solve this error
`1.minikube start --driver=virtualbox`
2. then produce this error
3.Unable to start VM. Please investigate and run 'minikube delete' if possible: creating host: create host timed out in 120.000000 seconds

[2020-04-11 10:52] afbjorklund commented on #2704
Support for `localkube` and `v1.10.0` has been suspended (in 2018), suggest looking at `k3s` if you want something similar for modern kubernetes versions. Minikube now uses `kubeadm` and `v1.18.0`.

[2020-04-11 11:24] medyagh opened #7617 "change UI for configuration vs available resources"
what do u think about using multi lines so we can still keep the availables (very useful to have a sense what kind of system user has:
🔥  Creating docker container
    ▪  CPUs=2 (2 available)
    ▪  Memory=4000MB (7964MB available)
    ▪  Disk=20000MB (10000MB available)

_Originally posted by @medyagh in https://github.com/kubernetes/minikube/pull/7478#issuecomment-612361926_

[2020-04-11 12:35] #7584 closed

[2020-04-11 13:27] lmdkfs commented on #7612
我也用到这个 版本了，preloaded image的时候特别慢

[2020-04-11 13:33] cyb3rfist commented on #1945
I was able to resolve this issue by creating an external virtual switch instead of using an internal one in hyper-V. It seemed somehow the minikube VM was not getting the IP address from the in built DHCP in my WiFi router. So creating an external switch created a direct bridge between the VM and router's DHCP. If you get into the same IP loop you would see on your machine DNS cache (ipconfig /dis

[2020-04-11 13:37] govargo opened #7618 "proxy.go isInBlock: invalid memory address or nil pointer dereference in case of multi node"
[code]

When minikube start with multi node(n=2), 2nd node is set NO_PROXY.
[code]

When PROXY env(e.g. HTTP_PROXY, NO_PROXY) is set, minikube check if it's ip exists in NO_PROXY CIDR at `proxy.IsIPExcluded`.

https://github.com/kubernetes/minikube/blob/93af9c1e43cab9618e301bc9fa720c63d5efa393/pkg/minikube/node/start.go#L370

In `proxy.IsIPExcluded`, this func call `checkEnv` func.

https://github

[2020-04-11 13:37] govargo commented on #7618
/kind bug
/assign

[2020-04-11 14:12] raphendyr commented on #7561
This setup is at my work computer and I lost access to it, so I get more details next week, when that is fixed.

In my terminal history, the size of `minikube.rawdisk` is 4,5K from `ls -lh` and 7,0G from `du -sch`. so I would presume it to be sparse. On my home computer, `qemu-img create -f raw test.rawimg 20G` takes no time and creates file of size 20G from `ls -lh` and 4K from `du -sch`. This ma

[2020-04-11 14:29] govargo opened #7620 "multinode: generating join token: open /root/.kube/config: no such file or directory"
[code]

1. start cluster with multi node. This fails

[code]

I tried docker, virtualbox, hyperkit drivers. These driver doesn't work.

The Error was caused here.

https://github.com/kubernetes/minikube/blob/2ef15e6a3cdc48db23910ba66912557ed3a776a9/pkg/minikube/node/start.go#L164-L167

https://github.com/kubernetes/minikube/blob/2ef15e6a3cdc48db23910ba66912557ed3a776a9/pkg/minikube/bootstrapper/ku

[2020-04-11 14:30] govargo commented on #7620
I'd like to add co/multinode label. But I don't know the bot command.

[2020-04-11 15:23] mudasar187 commented on #7465
I also have the same issue, installed newest version of minikube, virtualbox and docker. I am using MacOS Catalina.

[2020-04-11 15:42] #7582 closed

[2020-04-11 16:38] mudasar187 commented on #7616
I also faced the same issue. I am using the newest version of Virtualbox, Minikube and Docker. I think there is some bug that need to be fixed. I am using MacOS Catalina.

[2020-04-11 21:02] #4350 closed

[2020-04-11 21:43] jeet1990 opened #7622 "error: Kubernetes v1.18.0 requires conntrack to be installed in root's path"
**Steps to reproduce the issue:**

[root@localhost ~]# minikube start
* minikube v1.9.2 on Centos 7.7.1908
* Using the none driver based on user configuration
X Sorry, Kubernetes v1.18.0 requires conntrack to be installed in root's path

[root@localhost ~]# docker version
Client: Docker Engine - Community
 Version:           19.03.8

1.
2.
3.

**Full output of failed command:**

**Full output of `

[2020-04-11 21:45] #7622 closed

[2020-04-11 23:38] tstromberg commented on #7620
I'm not sure if was my PR that broke this, but we need a multi-node integration test ASAP.

It sounds like KUBECONFIG isn't set to `/var/lib/minikube/kubeconfig`?

[2020-04-12 03:48] medyagh opened #7624 "Github Action Test failure"
### note 1: github actions docker info :

[code]

my mac only has seccomp so that made me think we need to ignore that one too

### note 2: our test profile names is not host name friendly
[code]
I am not sure if that is an allowed thing. but we could totally shorten this long name and remove the dots !

### note 3 added: docker logs minikube

Important Debugging I added:

[code]

full log

[code]

[2020-04-12 04:20] medyagh opened #7625 "kic: define --security-opt based on user docker's environment"
currently we set or ignore the security-opts same for all environments, but this needs to be fine-tuned Per environment.

https://github.com/kubernetes/minikube/blob/9027bbcf69b1753132c64b8d764c112f928e86e9/pkg/drivers/kic/oci/oci.go#L101

this could help in running kic on chromebook or other different environemnts

I noticed this first on githbub actions docker info, that they had a different sec

[2020-04-12 07:35] afbjorklund commented on #7617
Currently we only post this information ("available", a.k.a. host info) for the `none` driver:

[code]

For other drivers we hide this information and just show the configured VM size instead.
Which we _are_ using as limits for the container too,  with the `--cpus` and `--memory` flags.

The main problem for the docker driver is that we don't **know** the disk size outside Linux
(The podman driver

[2020-04-12 07:58] afbjorklund opened #7626 "autoset --preload=false when storage driver is not overlay"
So if your docker daemon runs anything else, it is broken after the `minikube start`.

[code]

[code]

[code]

The systemd status is a silly `docker.service: Failed with result 'exit-code'.`
But the journal has the real error: `failed to start daemon: error initializing graphdriver: /var/lib/docker contains several valid graphdrivers: aufs, overlay2; Please cleanup or explicitly choose storage dri

[2020-04-12 08:08] medyagh opened #7627 "verify profile name"
because of the limiations of docker we need to enfroce these on the profile names:-

- a profile name should not start with number
- dont have dots or weird characters in them

(be container name friendly)

[2020-04-12 08:16] medyagh commented on #7626
when we generate the preload we include the storage name in the file name,
so the right thing is,

check the sotrage driver of the user,
then try to get the preload image for https:///URLTOBUCKET/k8s-version-runtime-storagedriver.tar.gz

if it exists then proceed if not, then dont proceed.

(that way in the futrure if we generate the preload image for those drivers we can use them

[2020-04-12 08:49] vorburger commented on #7577
@steakunderscore can you reliably reproduce this? This kind of thing is usually a temporary issue... I have just had a similar-ish problem (for another container image than _kube-proxy_, and with the _Error response from daemon_ just _timeout_ not _TLS handshake timeout_, but still) and it went away after I `minikube stop; minikube delete; sudo reboot now; minikube start` ... just thought I would

[2020-04-12 09:05] steakunderscore commented on #7577
I can no longer reproduce this. Thinking about it, I wonder if the timing of my issue lines up with GCP's outage the other day. Could easily have been that. Going to close this anyway.

[2020-04-12 09:05] #7577 closed

[2020-04-12 09:28] medyagh opened #7630 "auto prune docker images on minikube start"
to reduce disk pressure.
(this can be done in parallel one a start)

more info https://blog.tilt.dev/2019/10/28/build-cache-spark-joy.html

it would interesting to find out, would it be bad if we always prune images ? would there be cases that users be mad at us for deleteing abandoned images ?

[2020-04-12 10:03] afbjorklund commented on #7626
For this to work, the storage driver needs to be added to the API (after the runtime)
`func PreloadExists(k8sVersion, containerRuntime, storageDriver string) bool`

[2020-04-12 10:06] medyagh commented on #6411
@tstromberg
I belive the source of the problem is, we generate the SSH key using lib machine, and I believe lib machine knows how to do it anywyere but chrome os
see the code bellow.

that is in kic.go

[code]

@tstromberg i am curious can u try to generate the key mannaually and then have kic skip this step and see if it works?

[2020-04-12 10:12] afbjorklund commented on #7626
The main goal wasn't to provide tarballs for deprecated or specialized storage drivers.
It was more to avoid minikube destroying the docker service, when _trying_ to preload.

[2020-04-12 10:13] afbjorklund commented on #7630
It would be appropriate to at least only do this for the docker driver

[2020-04-12 10:55] afbjorklund commented on #7626
This was for using the `none` driver.

For the `docker` driver, we should still use "overlay2" since that is what the Ubuntu 19.10 is using.
i.e. those images are for the docker-in-docker, not for the host docker (that could run another one)

[2020-04-12 11:52] govargo commented on #7620
I agree.

And I checked the multi node directory in VMs.

1st node
[code]

2nd node
[code]

I don't know why, but 2nd node is missing `/var/lib/minikube/kubeconfig`.
This may be cause of this issue.

[2020-04-12 12:01] abhishekweb commented on #1943
@amansingh2604  have you found solution for your posted problem. I am facing same issue :(

[2020-04-12 12:30] govargo commented on #7620
I tried the following.

1. I copied kubeconfig to `/var/lib/minikube/kubeconfig` manually.
[code]

2. I added the `--kubeconfig` flag to `token create`.
[code]

This doesn't work with another error.
[code]

[2020-04-12 14:19] bparinas commented on #1674
experienced the same error with minikube + win10

my workaround (followed @gitdr suggestion):

$ minikube ssh <-- git bash windows
$ sudo su - <-- within the minikube environment
# cat << EOF > /etc/systemd/resolved.conf

# systemctl restart systemd-resolved

-hth

[2020-04-12 14:38] afbjorklund commented on #7480
@tstromberg:

We **don't** support running the docker-in-podman with rootless podman, only with the regular root one.

Eventually we might default to crio-in-podman, but for now that requires using `--container-runtime`

[2020-04-12 14:58] kubealex opened #7632 "kvm2: create host timed out in 120.000000 seconds on a slow host"
**Steps to reproduce the issue:**
Starting the minikube vm on a slow host causes timeout, even if the VM starts correctly a minute later
1. minikube start
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

💣  Failed to start kvm2 VM. "minikube start" may fix it.: creating host: create: Error creating machine: Error in driver durin

[2020-04-12 18:35] FrancoisZhang commented on #3869
same issue with minikube 1.9.2 and latest elasticsearch operator

[2020-04-12 18:41] Nightrider0098 opened #7633 "virtualbox on Windows 7: create host timed out in 120 seconds"
**Steps to reproduce the issue:**

1.minikube start
2. minikube delete
3. minikube start

![Untitled](https://user-images.githubusercontent.com/39752890/79076946-3aa98a80-7d1b-11ea-8175-f1e646357e73.png)

[2020-04-12 20:06] ChumaA commented on #1753
I am having the same issue

[2020-04-12 21:25] #5831 closed

[2020-04-13 00:19] redxdevops opened #7634 "error execution phase preflight: [preflight] Some fatal errors occurred:"
**Steps to reproduce the issue:**

error execution phase preflight: [preflight] Some fatal errors occurred:
	[ERROR Port-10259]: Port 10259 is in use
	[ERROR Port-10257]: Port 10257 is in use
	[ERROR Port-2380]: Port 2380 is in use

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<

[2020-04-13 00:31] ps-feng commented on #4027
@lovettchris Running into the same issue. It seems to be exclusive to the Docker driver, as switching to Hyper-V works. Maybe it's worth opening a separate issue?

[2020-04-13 04:06] LaughingBubba opened #7637 "Can't add file .minikube/machines/minikube/id_rsa.pub to tar: open .minikube/machines/minikube/id_rsa.pub: permission denied"
**Problem brief**
I already have docker installed on Ubuntu 19.04 and today I've installed kuibectl and minikube.

[code]
[code]

**Steps to reproduce the issue:**
[code]

A subsequent ``` minikube start --alsologtostderr``` fails because the SSH handshake fails.

**Full output of failed command:**
[code]

**Full output of `minikube start` command used, if not already included:**
See above

**Opti

[2020-04-13 04:13] medyagh opened #7638 "cleanup: move storage-provisioner out of the minikube go.mod"
while doing this PR https://github.com/kubernetes/minikube/pull/7636

I was trying to bump minikube kuberentes version lib to latest but /kubernetes-sigs/sig-storage-lib-external-provisioner uses an older client-go that we can not bump to latest.

however kubernetes-sigs/sig-storage-lib-external-provisioner is only used by pkg/storage/ which is only used by our storage-provisioner in cmd. which it

[2020-04-13 05:04] #7491 closed

[2020-04-13 07:22] afbjorklund commented on #7638
Maybe we should move the entire storage-provisioner out of the minikube git repository ?

It hasn't seen a new release in years, and like you say it seems to be mixing up the code.

[2020-04-13 07:23] shujaurr18 opened #7639 "how to fix"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-04-13 07:23] afbjorklund commented on #7638
I think it is also **broken** at the moment, there seem to be some reports about it not working ?

[2020-04-13 07:34] afbjorklund commented on #7632
We were hoping that the RNG fixes in 1.9 would make it faster to boot, but seems it still too slow

[2020-04-13 08:48] LCvijovic09 commented on #6104
Just wanted to comment on what helped me, in case someone has the same issue as I had. Few easy steps:
 1. Delete folder ".minikube" located under WIndows`s User folder
 2. In powershell (started as admin) run minikube delete (THIS WILL DELETE ALL IMAGES IN CACHE)
 3. Run again minikube start --vm-driver hyperv

One more side note,  I had also two Hyper-V Switches with same name and renamed one so

[2020-04-13 09:10] ssaxen0 opened #7641 "startup failed: Failed to update kubeconfig file.: writing kubeconfig: Error creating directory"
**Steps to reproduce the issue:**

1.minikube start
2.
3.

**Full output of failed command:**
 startup failed: Failed to update kubeconfig file.: writing kubeconfig: Error creating directory: /etc/rancher/k3s: mkdir /etc/rancher: permission denied

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-04-13 11:17] medyagh opened #7642 "direct user to using minikube's inner kubectl when not installed"
on a system without kubectl:

[code]

instead of saying ```💡  For best results, install kubectl: https://kubernetes.io/docs/tasks/tools/install-kubectl/```
we could provide them a link to docs (and add nice docs in website) how to use kubectl inside minikube

minikube kubectl -- get pods ...

and then then in the end say , alternatively install kubectl

[2020-04-13 11:21] medyagh opened #7643 "add office hours and triage party to the site"
add office hours details to the community section of the site

[2020-04-13 12:06] ps-feng opened #7644 "`minikube service` not working with Docker driver on Windows 10 Pro"
**Steps to reproduce the issue:**
On Windows 10 Pro Version 1909 and Docker v19.03.8, following the [Hello-Minikube tutorial](https://kubernetes.io/docs/tutorials/hello-minikube/)
1. `minikube start` (using Docker driver)
2. `kubectl create deployment hello-node --image=gcr.io/hello-minikube-zero-install/hello-node`
3. `kubectl expose deployment hello-node --type=LoadBalancer --port=8080`
4. `mini

[2020-04-13 12:25] jradtilbrook commented on #7511
Okay, in the meantime I will also use that bind mount. And it seems like the answer to this issue is to parameterise the directory used for PVCs, which will be resolved in one of #3318 or #5144. Is that correct?

If so, I'll close this issue and can carry on any discussion on whichever of those you would prefer - I am still willing and able to provide a PR for this, but parameterisation logic will

[2020-04-13 15:44] afbjorklund commented on #7480
Now works OK, when running the `docker` container runtime.

[code]

Hangs when trying to use `containerd` or `crio`, maybe CNI ?

----

I think we might want to hide the cgroups thing (freezer).
Looks like the kicbase only mounts it for the docker runtime.

https://github.com/kubernetes-sigs/kind/blob/master/images/base/files/usr/local/bin/entrypoint#L48

Or something similar, anyway the subdirect

[2020-04-13 16:35] sumakuma2006 opened #7645 "minikube failed"
[root@minikube ~]# minikube start --driver=none
* minikube v1.9.2 on Centos 7.2.1511
* Using the none driver based on existing profile
* Starting control plane node  in cluster minikube
* Restarting existing none bare metal machine for "minikube" ...
* OS release is CentOS Linux 7 (Core)
* Preparing Kubernetes v1.18.0 on Docker 19.03.8 ...
! initialization failed, will try again: run: /bin/bash -c

[2020-04-13 17:51] afbjorklund commented on #7645
You will need to install the requirements, for running `kubeadm` as a part of the `none` driver.

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

[2020-04-13 18:01] prasadkatti commented on #5528
So I guess this needs to happen only for the VM-based drivers and only for the ones that use the Ubuntu provisioner, right? I am using the hyperkit driver and that seems to use the buildroot provisioner.

[2020-04-13 18:47] WebDmitryPetrov opened #7646 "Error when starting the minikube"
Hi! When starting the minikube, an error is returned.
Ubuntu 18.04 /Docker 19.03.8 / Kybernetes v1.18.0 / mini cube v1.9.0 / conntrack v1.4.4 is currently installed
![photo_2020-04-13_18-59-17](https://user-images.githubusercontent.com/57726095/79149814-63d82280-7dd0-11ea-8518-7149fa35aeaa.jpg)

[2020-04-13 18:48] #7646 closed

[2020-04-13 18:55] WebDmitryPetrov opened #7647 "Error when starting the minikube"
Hi! When starting the minikube, an error is returned.
Ubuntu 18.04 /Docker 19.03.8 / Kybernetes v1.18.0 / mini cube v1.9.0 / conntrack v1.4.4 is currently installed

root@full-stacker:~# minikube start --vm-driver=none
* minikube v1.9.0 on Ubuntu 18.04
* Using the none driver based on existing profile
* Restarting existing none bare metal machine for "minikube" ...
* OS release is Ubuntu 18.04.4 L

[2020-04-13 19:05] sharifelgamal commented on #7620
The issue is that we were trying to generate the join token on the worker rather than the control plane. I have PR open to fix it.

[2020-04-13 19:10] prasadkatti commented on #7645
/retitle "kubeadm init preflight checks failed"

[2020-04-13 19:12] prasadkatti commented on #7647
/label co/none-driver
/kind documentation

[2020-04-13 19:13] prasadkatti commented on #7647
/kind co/none-driver

[2020-04-13 19:14] prasadkatti commented on #7647
@WebDmitryPetrov - This is the error that you need to fix on your host.

[ERROR Port-10257]: Port 10257 is in use
[ERROR Port-2380]: Port 2380 is in use

Take a look at this page (https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/) to see what kubeadm requirements are.

[2020-04-13 19:36] prasadkatti commented on #7647
Based on the ports that are "in use", my guess is you are trying to create 2 instances on the same host which is not support for the `none` driver -

[2020-04-13 21:12] prasadkatti opened #7651 "Document that systemd is no longer a hard requirement for minikube"
Based on @medyagh's comment [here](https://github.com/kubernetes/minikube/pull/7649#discussion_r407692805), there have been some feature additions to support init systems other than systemd. The docs specify in multiple places that a systemd based init system is required for minikube. This issue is to fix that in docs.

[2020-04-13 21:24] prasadkatti commented on #7634
possible dup of #7647

[2020-04-13 23:02] #7645 closed

[2020-04-13 23:43] tstromberg opened #7657 "kic: "delete" hangs forever with a paused docker cluster"
Something I found during benchmarking:

1. `minikube start --driver=docker`
2. `minikube pause`
3. `minikube delete --all --alsologtostderr`

outputs:

[code]

ps shows:

`19267 30025 30021   0  4:33PM ttys000    0:00.05 docker rm -f -v minikube`

`minikube unpause` after this shows:

[code]

It's unclear what's going on, as `minikube ssh` works just fine after a pause. Seemingly the only way to u

[2020-04-13 23:47] tstromberg commented on #7657
Confirmed at head:

[code]

What one does not see is:

[code]

[2020-04-14 00:03] tstromberg commented on #7657
I would have made it so that docker shuts the host down first, similar to hyper-v, but it seems Docker uses it's own code for deletion. I can't make heads or tails of it - so I'm assigning to medya for triage.

[2020-04-14 00:19] medyagh commented on #7657
I will take care of it.

[2020-04-14 00:19] tstromberg commented on #7657
reproduction case:

`minikube delete; minikube start --driver=docker; minikube pause; minikube delete --alsologtostderr `

[2020-04-14 00:34] ts7101990 opened #7659 "Unable to start minikube in Ubuntu(it's installed in VM)."
I am trying to install minikube and run it. So I have followed the below steps:

1. Installed Oracle Virtual box.
    VBoxManage -version --> 6.0.14_Ubuntur132055

2. Installed Kubectl.
    kubectl version --client --> Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.1", GitCommit:"7879fc12a63337efff607952a323df90cdc7a335", GitTreeState:"clean", BuildDate:"2020-04-08T17:38:50Z

[2020-04-14 03:00] medyagh opened #7661 "kic: ensure multi node containers have correct role label"
verify that when we are creating containers in multi node, we should apply the correct Role label to the container.

this will be helpful for clean up process in kic

[2020-04-14 05:36] mukuntharajaa opened #7662 "none: Fedora 31: kubelet: Initial timeout of 40s passed."
[code]

[code]

[code]

[code]

1. dnf install docker
2. dnf install kubernetes
3. Install minikube as mentioned in kubernetes.io page
4. sudo minikube start --driver=none --alsologtostderr --v=5

**Full output of failed command:**

<details>
[code]

[code]

[2020-04-14 06:46] moluzhui opened #7663 "kompose up connection refused minikube due to the port is 8443 instead of 6443 under k8s1.16.0"
**Steps to reproduce the issue:**

1. curl -Lo minikube https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64 \
  && chmod +x minikube
2. curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.16.0/bin/linux/amd64/kubectl
3.minikube start --driver=none --kubernetes-version v1.16.0

**Full output of failed command:**
[code]
I think this is due to a port mismatc

[2020-04-14 08:51] terrytibbles commented on #3654
Any resolution on this?

[2020-04-14 08:56] terrytibbles opened #7664 "Node may be unable to resolve external DNS records"
Hello,

I'm using the [documentation](https://kubernetes.io/docs/setup/learning-environment/minikube/) to install minikube. When I try to start minikube using KVM I get an error saying 'VM is unable to access k8s.gcr.io, you may need to configure a proxy or set --image-repository', and the VM is unable to download the image from k8s.gcr.io, despite the address being reachable from the host.

**Ste

[2020-04-14 09:01] pawanyoda opened #7665 "Not cleaning up minikube tunnel"
**Steps to reproduce the issue:**
[code]
`minikube tunnel`

2. `$ minikube tunnel --cleanup`

**Optional: Full output of `minikube logs` command:**
<details>
==> kube-proxy [37eb3387c696] <==
W0414 06:10:59.695915       1 server_others.go:559] Unknown proxy mode "", assuming iptables proxy
I0414 06:10:59.739015       1 node.go:136] Successfully retrieved node IP: 192.168.64.4
I0414 06:10:59.739110

[2020-04-14 09:59] terrytibbles commented on #7664
It seems that this was caused by some residual config left over from a previous libvirt installation. Purging all of the packages, reinstalling and restarting the service seemed to fix the problem.

[2020-04-14 09:59] #7664 closed

[2020-04-14 10:21] nekator commented on #5791
I´m running into the same problem. Running ` Get-WindowsOptionalFeatur
e -FeatureName Microsoft-Hyper-V-All -Online` requires Adminstrator priveleges which my normal AD User don´t have. But my AD User is part of Hyper-V Administrator group on my machine so running minikube won´t be a problem or am i missing something?

[2020-04-14 13:18] afbjorklund commented on #7663
See https://github.com/kubernetes/kompose/pull/1243 (v1.21.0), you can now use --server to choose your URL.

`      --server string       kubernetes apiserver url (default "https://127.0.0.1:6443")`

The default used to be http://localhost:8080, so it cannot really be trusted anyway.

Normally people don't work on the control plane, so have to supply an IP to use too...

[2020-04-14 13:24] Zerotask opened #7666 "v1.9.2 from old ISO: /var/lib/minikube/etcd is not empty error /apiserver-kubelet-client not signed by CA certificate ca: crypto/rsa: verification error"
**Steps to reproduce the issue:**

1. Downloaded the windows installer from https://storage.googleapis.com/minikube/releases/latest/minikube-installer.exe and installed it.
2. Opened a terminal
3. Executed "minikube start"

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

[code]

**Optional: Full output of `minikube logs` command:**
<d

[2020-04-14 17:19] sreejithpunnapuzha opened #7667 "Add list option for "minikube node" command"
with #94 adding support for multi-node kubernetes cluster with minikube, we need and option to list the nodes. Currently there is no "minikube node list" command.

minikube version: v1.9.2

current output:
minikube node list
💡  Usage: minikube node [add|start|stop|delete]

expected output:
"minikube node list" should list the node name, status and ip addresses

[2020-04-14 18:37] afbjorklund commented on #7480
I think the current podman behaviour is actually a layer bug...
First I thought it was a volume bug, but it is not _entirelly_ empty:

podman var volume `lib/dpkg/alternatives`:
[code]

docker var volume `lib/dpkg/alternatives`:
[code]

So it has the first few items, from the low `ubuntu` layers.
But **not** the added files, the the added `kicbase` layers.

----

And then there is that UX bug, not

[2020-04-14 20:02] afbjorklund commented on #7480
I went back to `/var` - it seems it was the path mount that was causing it

With a regular named mount, the image boots up just fine - no missing files

[2020-04-14 21:18] tstromberg commented on #7667
/cc @medyagh

[2020-04-14 21:20] tstromberg commented on #7666
This appears to be due to an old VM in use:

[code]

This error message made me suspicious:

[code]

You can fix the problem by using `minikube delete`.

[2020-04-14 21:23] tstromberg commented on #7666
Nevermind - I misinterpreted, this is a docker container.

[2020-04-14 21:25] tstromberg commented on #7666
Does `minikube delete` help?

If not, can you provide the output of:

`minikube start --alsologtostderr -v=1`

Thank you!

[2020-04-14 21:26] tstromberg commented on #7659
I would strongly encourage you to make a non-root user.

[2020-04-14 21:28] prasadkatti commented on #7639
Hi. It looks like you accidentally created an issue before filling out any details. Can you please update the issue description to add necessary details?

[2020-04-14 21:28] tstromberg commented on #7665
Do you mind sharing the output of:

* `ps -p 66740` (the pid in your text)
* `ps -afe | grep -i minikube`

It isn't clear to me whether or not another tunnel is actually running, or if it thinks it is.

[2020-04-14 21:30] Zerotask commented on #7666
Before I could install and use minikube without any problems. The problem occurred after I uninstalled minikube and Docker and did a fresh installation of both. So maybe it's something related to the uninstallation Minikube.

[2020-04-14 21:31] tstromberg commented on #7662
Can you include the output of `sudo minikube logs`, or at least `sudo journalctl -u kubelet`?

[2020-04-14 21:34] benjaminxie commented on #3106
Whenever this happens to me, the minikube VM's memory demand is exceeding its assigned memory. What works for me is shutting down the VM, going to settings > memory and increasing its RAM.

[2020-04-14 21:38] Zerotask commented on #7666
Yes, this worked for me. Thank you.

[2020-04-14 23:05] #7627 closed

[2020-04-14 23:34] lovettchris commented on #4027
Maybe `kubectrl proxy` is the answer, [Scott's blog](https://www.hanselman.com/blog/HowToSetUpKubernetesOnWindows10WithDockerForWindowsAndRunASPNETCore.aspx) works and the exposed .net core asp.net service runs fine and is accessible from my host machine.

[2020-04-15 00:25] priyawadhwa commented on #5682
/remove-lifecycle rotten

[2020-04-15 02:34] medyagh opened #7670 "clean up after creating temp dirs in uni tests"
some unit tests are making temp files but they never delete them, I fixed a few of them but there are more of these

[code]

would be a good PR for anyone interested to make the code better

here is an example how to do it: https://github.com/kubernetes/minikube/pull/7669/files

the tricky for the left overs is, there are helper funcs in the unit tests that multple tests call them

the person who

[2020-04-15 02:41] #7618 closed

[2020-04-15 02:44] #7475 closed

[2020-04-15 03:49] andk opened #7671 "Unit test fails"
**Steps to reproduce the issue:**

1. Run `make`
2. Run `make test`
3. No need to run `minikube start`

**Full output of failed command:**

[code]

**Full output of `minikube start` command used, if not already included:**

n/a

**Optional: Full output of `minikube logs` command:**
<details>
n/a

</details>

[2020-04-15 04:27] anilsakr opened #7673 "getting MAC address from UUID: vmnet: error from vmnet.framework: -1"
anilreddy@Anils-MacBook-Air ~ % minikube start
😄  minikube v1.9.0 on Darwin 10.15.4
✨  Using the hyperkit driver based on existing profile
🔄  Retarting existing hyperkit VM for "minikube" ...
🤦  StartHost failed, but will try again: driver start: getting MAC address from UUID: vmnet: error from vmnet.framework: -1

🔄  Retarting existing hyperkit VM for "minikube" ...
❌  StartHost failed again: dri

[2020-04-15 06:40] medyagh commented on #7542
@vikkyomkar  are you still working n this ? is the note by thomas helpful ? do you need anything I could help with

[2020-04-15 07:06] jyobeer commented on #3823
I am facing the same issue. can anyone help please. I have already tried the above solution for installing the latest hyperkit but still the issue persists.

minikube version - v1.9.2
OS version - Ubuntu 16.04

[2020-04-15 07:43] jyobeer opened #7674 "virtualbox: Error dialing TCP: dial tcp 127.0.0.1:x: connect: connection refused"
**Steps to reproduce the issue:**

1. minikube start

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**
😄  minikube v1.9.2 on Ubuntu 16.04
✨  Using the virtualbox driver based on existing profile
👍  Starting control plane node m01 in cluster minikube
🔄  Restarting existing virtualbox VM for "minikube" ...
🤦  StartHost failed, but will tr

[2020-04-15 08:15] for-mysql opened #7675 "Failed to cache images"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-04-15 08:40] Jiajing-Hu opened #7676 "failed to start minkube in container"
**Steps to reproduce the issue:**
minikube start --driver=docker

**Full output of failed command:**

stderr:
W0415 08:35:42.227079    6126 validation.go:28] Cannot validate kube-proxy config - no validator is available
W0415 08:35:42.227098    6126 validation.go:28] Cannot validate kubelet config - no validator is available
	[WARNING IsDockerSystemdCheck]: detected "cgroupfs" as the Docker cgroup

[2020-04-15 09:21] anilsakr opened #7677 "kvm: Failed to connect socket to '/var/run/libvirt/libvirt-sock'"
minikube start
😄  minikube v1.9.2 on Ubuntu 18.04 (xen/amd64)
✨  Using the kvm2 driver based on existing profile

❗  'kvm2' driver reported an issue: /usr/bin/virsh domcapabilities --virttype kvm failed:
error: failed to connect to the hypervisor
error: Failed to connect socket to '/var/run/libvirt/libvirt-sock': No such file or directory
💡  Suggestion: Follow your Linux distribution instructions

[2020-04-15 09:23] anilsakr commented on #7673
I removed the hyperkit from my mac
and installed the VirtualBox

then it's working fine

[2020-04-15 10:50] afbjorklund commented on #7671
Due to the integrated kvm2 driver, you need to install `libvirt-dev` to build.

You might have seen it mentioned in the logs:
[code]

It seems to be missing from the new documentation, as a requirement.

Was lost in 755995207e401070732660cb441a80dc2ea0a51c

[code]

[2020-04-15 10:53] DasyDong commented on #7231
same issue occurs on my mac

minikube version: v1.9.2

[code]

[2020-04-15 12:30] DasyDong commented on #7231
issue occurs when using below commands:
[code]
When I run with splitting two steps , no error occurs
[code]

[2020-04-15 13:11] tstromberg commented on #2015
Multi-node is now available in experimental form. Anyone willing to take this on?

[2020-04-15 13:40] #6550 closed

[2020-04-15 14:48] sbuvaneshkumar commented on #4121
This link seems to be outdated and no more available.

[2020-04-15 15:07] tstromberg commented on #4121
See: https://minikube.sigs.k8s.io/docs/handbook/config/#selecting-a-kubernetes-version

[2020-04-15 15:22] jyobeer commented on #7674
😄  minikube v1.9.2 on Ubuntu 16.04
✨  Using the virtualbox driver based on existing profile
👍  Starting control plane node m01 in cluster minikube
🔥  Creating virtualbox VM (CPUs=2, Memory=975MB, Disk=20000MB) ...
🤦  StartHost failed, but will try again: creating host: create host timed out in 120.000000 seconds
🔥  Deleting "minikube" in virtualbox ...
🔥  Creating virtualbox VM (CPUs=2, Memory=975

[2020-04-15 16:11] jyobeer commented on #7674
Output of minikube start --alsologtostderr -v=8 is as below

W0415 09:07:46.247751    6690 root.go:248] Error reading config file at /home/dmadmin/.minikube/config/config.json: open /home/dmadmin/.minikube/config/config.json: no such file or directory
I0415 09:07:46.252892    6690 notify.go:125] Checking for updates...
I0415 09:07:48.833634    6690 start.go:262] hostinfo: {"hostname":"ubuntu","upt

[2020-04-15 16:19] prasadkatti commented on #7676
This is the reason `kubeadm init` is failing -

You can read more about this requirements here -
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#letting-iptables-see-bridged-traffic

[2020-04-15 16:23] prasadkatti commented on #7677
Have you taken a look at the troubleshooting section on the link above? Can you verify libvirt is installed?

[2020-04-15 16:25] prasadkatti commented on #7675
Hi 👋. Can you provide some more details about what exactly you are trying to do? What is expected vs what is actually happening?

[2020-04-15 16:50] tstromberg opened #7680 "hyperv integration tests failing with CREATE_TIMEOUT"
This seems to be impacting all tests. Example: https://storage.googleapis.com/minikube-builds/logs/7672/Hyper-V_Windows.txt

[code]

[2020-04-15 17:27] riklopfer commented on #6296
I'm also running into this issue.

[code]

minikube version: v1.9.2
commit: 93af9c1e43cab9618e301bc9fa720c63d5efa393

I've tried re-installing with,

[code]

I'm running Docker Desktop 2.2.0.5
No dnsmasq

[code]

[2020-04-15 18:24] medyagh commented on #7585
CC: @sharifelgamal

[2020-04-15 18:25] priyawadhwa commented on #7589
Hey @R-omk I'm going to go ahead and close this issue and it seems to be a duplicate of #7459, and we can consolidate this conversation in that issue.

If you feel this isn't a dupe or have additional information, feel free to reopen this issue at any time by including `/reopen` in your comment.

[2020-04-15 18:25] #7589 closed

[2020-04-15 18:25] priyawadhwa commented on #7579
@medyagh is there an action item here? If not we should close this issue.

[2020-04-15 18:26] medyagh commented on #7555
@nitinmuteja do you mind sharing the minikube version ? and do you mind verifying if the kubeconfig

[2020-04-15 18:26] priyawadhwa commented on #7569
Seems like this isn't an issue, so I'm going to close it.

[2020-04-15 18:26] #7569 closed

[2020-04-15 18:29] priyawadhwa commented on #7499
Hey @mcandre it might be more useful to use `imagePullPolicy: ifNotPresent`? It still adds a line to your yaml, but then you should be able to use the same yaml for dev and production.

Otherwise, I don't think there's a better workaround for this.

[2020-04-15 18:29] sharifelgamal commented on #7576
Yeah this looks like a dupe of #7352, are you cool if we just use that issue @medyagh?

[2020-04-15 18:29] medyagh commented on #7540
@radeksm you can run 'make site'

[2020-04-15 18:31] #7540 closed

[2020-04-15 18:31] tstromberg commented on #7522
Fixed on April 8.

[2020-04-15 18:31] #7522 closed

[2020-04-15 18:32] tstromberg commented on #7522
[code]

[2020-04-15 18:32] medyagh commented on #7505
I belive this was fixed by my shut down gracefully PR

[2020-04-15 18:32] #7505 closed

[2020-04-15 18:36] medyagh commented on #7405
we need to add a separate page for KVM docs, that we will link to from the getting started page. (not added to the start page)

[2020-04-15 18:37] priyawadhwa commented on #7464
Hey @ye thanks for opening this issue. Unfortunately I can't reproduce the issue, if I run `minikube status` with no cluster available I get:

[code]

The bug in your `minikube start` output seems to be a dupe of https://github.com/kubernetes/minikube/issues/5440

From that issue, could you try running:
[code]

and let us know if the cluster starts successfully?

[2020-04-15 18:37] #7507 closed

[2020-04-15 18:39] priyawadhwa commented on #7444
Hey @jatinkushwaha I have some clarification questions:

Are you trying to run a jenkins service on minikube, and trying to expose that service? Or are you trying to run minikube in jenkins?

[2020-04-15 18:42] sharifelgamal commented on #7231
@DasyDong yeah `--docker-env` is not going to do what you want it to, since you need `HTTP_PROXY` to be a local environment variable, not one inside the container runtime.

Our documentation (https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/) explicitly says exporting the environment variable is the correct idea. We'll fix the broken link in our output.

[2020-04-15 18:43] medyagh commented on #7465
I think @tstromberg mistakenly took GuestAdditionsVersion="5.2.32 r132056" for the virtualbox version.

This seems to be a bug, I am not sure if this is a minikube bug or virtuablox bug, but I am gonna mark this as a bug.

@kevinwongtyl I wonder if providing the nic type for virtualbox will solve your problem ? since SSH seems to be a networking.

here are the flags for
     --host-only-nic-type='

[2020-04-15 18:44] sharifelgamal commented on #7231
@rohit94j If you're behind a VPN or proxy, try looking at the link I linked above, otherwise try adding `--image-repository=auto` to your `minikube start` call.

[2020-04-15 18:48] sharifelgamal commented on #7121
@warriorjiang Can you try upgrading to minikube 1.9.2 and see if this issue still exists?

[2020-04-15 18:48] priyawadhwa commented on #7644
Hey @ps-feng thanks for opening this issue.

cc @medyagh is this a known issue with kic?

[2020-04-15 18:49] priyawadhwa commented on #7634
Hey @redxdevops --  I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl

[2020-04-15 18:50] medyagh commented on #7335
@SaralSaxena sorry for the delay in response, I am sorry for the experience,

this is a dupe of a prematurely closed issue https://github.com/kubernetes/minikube/issues/2954

this should be an easy fix

meanwhile do you mind trying using our newer --docker driver?

[2020-04-15 18:51] medyagh commented on #7335
meawhile I will close this issue in favor of this one, to keep all information at same place

https://github.com/kubernetes/minikube/issues/2954

[2020-04-15 18:51] #7335 closed

[2020-04-15 18:51] sharifelgamal commented on #7641
don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The OS and driver used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

Thank you for sharing your experience!

[2020-04-15 18:52] priyawadhwa commented on #7409
I'm going to close this issue as this has been resolved by  #7591 and #7394

[2020-04-15 18:52] #7409 closed

[2020-04-15 18:53] priyawadhwa commented on #7604
Hey @ptramsey thanks for opening this issue -- this seems like a reasonable feature request. If anybody would be interested in working on this, please comment here!

[2020-04-15 18:55] sharifelgamal commented on #7616
Hopefully #7565 will fix this issue.

[2020-04-15 18:55] medyagh commented on #5815
@jk2K @GarretSidzaka sorry to hear about the bad experience, do you mind sharing the minikube version also the output of

[code]

[2020-04-15 18:56] priyawadhwa commented on #7594
Hey @nicoleheard I'm not very familiar with this issue, but based on the suggestion have you tried passing in a larger memory value? I'm curious if `minikube start --memory 4000` will work.

[2020-04-15 18:57] tstromberg commented on #7401
This still happens - we should add kubectl logs to the integration test helper to isolate what is going on.

[2020-04-15 18:57] andk commented on #7671
Thanks a lot, I think I can close this issue.

Thank you!

[2020-04-15 18:57] #7671 closed

[2020-04-15 18:58] jatinkushwaha commented on #7444
Hii.. @priyawadhwa  i deploy jenkins on minikube and also expose jenkins using service.
I also use config file as secret file for credentials. But it give above mention error.

[2020-04-15 18:58] medyagh commented on #6765
this seems to be fixed

[2020-04-15 18:58] #6765 closed

[2020-04-15 19:00] sharifelgamal commented on #5691
@asloan7 Is this still an issue? Did you try connecting to the Hyper-V Manager as an admin?

[2020-04-15 19:01] #5933 closed

[2020-04-15 19:03] tstromberg commented on #7072
In v1.9.2, we will now point users to disable VPN software.

If you run into this error with a non-hyperkit VM, please open a different issue.

[2020-04-15 19:03] #7072 closed

[2020-04-15 19:04] medyagh commented on #7473
do you mind sharing what driver do you use and what OS ?

[2020-04-15 19:08] afbjorklund commented on #7604
Currently we are mounting the `/var` directory as a docker volume, so that's the current workaround.

i.e. use this host directory, for getting things into the container ?

See e.g. `docker volume inspect minikube` for the details on it

Mounting the `/home` directory has security implications, some want it disabled by default for VMs...

See #6788

And #5012

[2020-04-15 19:10] tstromberg commented on #7314
@Madhu-1 - When you mention that this works in minikube v1.6.0, what version of Kubernetes were you using?

[2020-04-15 19:10] medyagh commented on #7624
I believe this was fixed by my apparmor PR

[2020-04-15 19:10] #7624 closed

[2020-04-15 19:12] #7542 closed

[2020-04-15 19:22] WebDmitryPetrov opened #7691 "[ERROR Port-10259]: Port 10259 is in use"
Hi! When starting the minikube, an error is returned.
Ubuntu 18.04 /Docker 19.03.8 / Kybernetes v1.18.0 / minikube v1.9.0  is currently installed
----------------------------------------------------------------------------------------------------------

W0415 19:04:24.946965   19080 configset.go:202] WARNING: kubeadm cannot validate component configs for API groups [kubelet.config.k8s.io kubeproxy

[2020-04-15 19:27] medyagh commented on #7352
@devika-28 do you mind restarting your docker after disabling windows containers and try again ?

[2020-04-15 19:28] medyagh commented on #7614
this is a dupe of https://github.com/kubernetes/minikube/issues/7614 I will close this issue in order to track the infromation in same place

[2020-04-15 19:28] #7614 closed

[2020-04-15 19:31] #6644 closed

[2020-04-15 19:31] #6782 closed

[2020-04-15 19:31] #6799 closed

[2020-04-15 19:32] medyagh commented on #6799
I did some adjustments will continue doing that

[2020-04-15 19:32] medyagh commented on #6993
I belive this was fixed by thomas cert PRs

[2020-04-15 19:33] #6993 closed

[2020-04-15 19:33] #7573 closed

[2020-04-15 19:33] medyagh commented on #7191
this should be addressed by https://github.com/kubernetes/minikube/pull/7603

[2020-04-15 19:34] tstromberg commented on #7433
Can we close this because the mystery is solved?

[2020-04-15 19:34] #7383 closed

[2020-04-15 19:34] tstromberg commented on #2162
No change yet - help wanted.

[2020-04-15 19:35] tstromberg commented on #7625
This is unclear - why does this need to be fine-tuned per environment? Do other local Kubernetes solutions do this?

[2020-04-15 19:47] #7533 closed

[2020-04-15 19:48] medyagh commented on #7519
fiixed by my wait pr

[2020-04-15 19:48] #7519 closed

[2020-04-15 19:49] medyagh commented on #6956
I belive this was fixed

[2020-04-15 19:49] #6956 closed

[2020-04-15 19:51] #7643 closed

[2020-04-15 19:51] afbjorklund commented on #7012
As workaround, we _could_ load the kicbase image from a tarball that we download ?

`313M	gcr.io/k8s-minikube/kicbase_v0.0.9`

`docker load -i kicbase_v0.0.9.tgz`

That way, cache would also work with the non-daemon drivers (such as podman).

[2020-04-15 19:53] afbjorklund commented on #7012
[code]

[2020-04-15 19:53] medyagh commented on #7633
@Nightrider0098 could u check if u have access to the config file ?
C:\Users\JPC\.minikube\machines\minikube.config.json

[2020-04-15 19:54] #7226 closed

[2020-04-15 19:58] tstromberg commented on #7561
@raphendyr - Thank you for the update. Please let me know if the PR I sent out helps at all.

[2020-04-15 20:00] tstromberg commented on #7691
minikube seems to be conflicting with another running local Kubernetes service (perhaps itself!). What do you see if you run:

`lsof -p 10250`

Also, can you please check if upgrading to minikube v1.9.2 helps? If not, please share the output of `minikube start --alsologtostderr`

If not, `minikube delete` will probably help.

[2020-04-15 20:03] tstromberg commented on #7673
Did you try upgrading to the latest version of hyperkit?

Do you mind sharing the output of `hyperkit -version`?

[2020-04-15 20:03] tstromberg commented on #7673
This issue appears to be a duplicate of #5594, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-04-15 20:03] #7673 closed

[2020-04-15 20:09] tstromberg commented on #7642
I don't know - should `minikube kubectl`  really be considered the ideal outcome?

I do agree that we should mention it as an alternative, similar to what we do with a version mismatch.

[2020-04-15 20:12] tstromberg commented on #7637
`I0413 13:01:18.144144   25923 start.go:77] releasing machines lock for "minikube", held for 2.949699991s
🤦  StartHost failed, but will try again: creating host: create: creating: prepare kic ssh: copying pub key: docker copy /home/joseph/.minikube/machines/minikube/id_rsa.pub into minikube:/home/docker/.ssh/authorized_keys, output: time="2020-04-13T13:01:16+10:00" level=error msg="Can't add file

[2020-04-15 20:16] tstromberg commented on #7613
Can you share the output of `minikube logs`?

Is `--force` necessary, or is it just something you were trying?

[2020-04-15 20:33] tstromberg commented on #7473
The output of:

* `kubectl get po -A`
* `minikube logs`

would be helpful.

[2020-04-15 20:33] tstromberg commented on #7447
We don't maintain the CN registry mirror - and do not know how to contact those who do.

[2020-04-15 20:35] tstromberg commented on #7422
Here's another thought: this driver almost never requires updates anymore. Maybe once or twice a year.

How about encoding a minimum version and only upgrading it if necessary?

[2020-04-15 20:36] tstromberg commented on #7367
What's the action item?

[2020-04-15 20:55] tstromberg commented on #7651
Sent PR out, but it needs some work.

[2020-04-15 20:56] tstromberg commented on #7674
Just curious: It's unlikely, but does `minikube delete` fix the problem?

Basically, the VM appears to come up, but the port-forward to SSH doesn't seem to work.

[2020-04-15 21:00] #5860 closed

[2020-04-15 21:02] tstromberg opened #7695 "Host preload image on a site accessible from China"
See issues like #7612

[2020-04-15 21:04] tstromberg commented on #7612
Similarly to image downloads, the preload download is not currently available in China (both are hosted on Google).

We should probably disable the image preload download if a user has specified `--image-repository` so that it doesn't keep trying to attempt it.

[2020-04-15 21:14] #7288 closed

[2020-04-15 21:45] tstromberg commented on #7488
Hola @masalinas

Unas cuantas preguntas:

* ¿Con qué versión de minikube es esto?
* ¿Puedes compartir la salida de los comandos que se bloquean?
* Parece que debería poder usar `kubectl --context minikube-devel` para hablar con el otro clúster. No es ese el caso?

¡Gracias por compartir su experiencia!

[2020-04-15 21:45] #7605 closed

[2020-04-15 21:47] tstromberg commented on #7467
minikube只是掛起-還是最終顯示錯誤消息？

我相信這可能與 #7612

[2020-04-15 21:52] tstromberg commented on #7348
听起来像kubelet下载已损坏。 这是什么版本的minikube？

如果重试，是否也会以同样的方式失败？

[2020-04-15 21:55] tstromberg commented on #7145
Do you mind checking if upgrading to minikube v1.9.2 fixes the issue? You may need to run `minikube delete` first to delete the corrupt state.

[2020-04-15 21:56] tstromberg commented on #6975
Do you mind checking if minikube v1.9.2 fixes this issue?

I believe this may have been related to the randomization issue fixed here:
https://github.com/kubernetes/minikube/pull/7208

[2020-04-15 22:05] tstromberg commented on #7497
I wasn't able to duplicate this on macOS catalina:

[code]

My `docker run` session aborted fairly quickly, and `minikube delete` worked. Can you try upgrading to minikube v1.9.3 and then provide more exact reproduction commands?

Two things I would like to see are:

* an example image to run and the `minikube start` command used

I suspect it's just a Docker quirk, but it would be nice to have so

[2020-04-15 22:07] tstromberg commented on #7155
This appears to be a system misconfiguration issue.  I took a look at https://github.com/pkg/browser/blob/master/browser_windows.go and saw how it opened a new web page, and it should definitely work on a properly configured system:

`https://github.com/pkg/browser/blob/0a3d74bf9ce488f035cf5bc36f753a711bc74334/browser_windows.go#L11`

Just to verify, can you try running:

`start http://www.google.

[2020-04-15 22:14] bushraKhan23 commented on #5617
❌  [KVM_CONNECTION_ERROR] Failed to start kvm2 VM. "minikube start" may fix it. driver start: creating network: getting libvirt connection: error connecting to libvirt socket.: virError(Code=38, Domain=7, Message='Failed to connect socket to '/var/run/libvirt/libvirt-sock': No such file or directory')

[2020-04-15 22:18] tstromberg commented on #6467
I don't understand this issue -  can you help me with reproduction instructions, and a better description of what you are trying to accomplish?

Normally, to start two clusters, you would run:

* `minikube start --profile=first`
* `minikube start --profile=second`

Which will write out this to `$HOME/.kube/config`:

[code]

Why would both clusters have the same `user` name?

[2020-04-15 22:21] tstromberg commented on #7663
@moluzhui - does this solution work for you?

[2020-04-15 22:21] masalinas commented on #7488
I',m using the minikube version is 1.7.3 and Oracle VirtualBox version 5.2.2 on Ubuntu 16.04 LTS

I removed all the minikube contexts, remove the VMs and .minikube folder and start again creating two new contexts from scratch:

  - The first one with the name: minikube-mefasa
  - The second one with the name: minikube-devel

Now I don't have any problem, I could jump from one context to the other

[2020-04-15 22:21] #7488 closed

[2020-04-15 22:22] tstromberg commented on #7641
I believe you may have a `KUBECONFIG` environment variable set to a location where your user does not have access.

[2020-04-15 22:36] medyagh opened #7698 "updated screenshot on minikube docs"
the current screenshot does not have the improvements @afbjorklund made.

https://minikube.sigs.k8s.io/images/screenshot.png

[2020-04-15 22:40] tstromberg commented on #4167
I'm closing this as it was opened a really long time ago (a year), and wasn't reproducible for me given the same information on minikube v1.9.2:

[code]

If you are still seeing this, `/reopen` with precise reproduction steps, including the `minikube start` command-line and output. Thank you for sharing your experience - my apologies that we did not follow-up sooner.

[2020-04-15 22:40] #4167 closed

[2020-04-15 22:43] tstromberg commented on #7698
@medyagh - that's because the screenshot is for the most recent release (v1.9.2).

[2020-04-15 23:27] tstromberg commented on #7343
这还会发生吗？

我无法使用macOS或Linux上的minikube v1.9.2复制此文件：

`minikube start --image-mirror-country = cn --image-repository = registry.cn-hangzhou.aliyuncs.com / google_containers`

我什至尝试添加--preload = false来模仿中国的经验。 这个问题可能已在minikube v1.9中修复，或已在服务器上修复。

[2020-04-15 23:36] bushraKhan23 opened #7699 "please help me"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-04-15 23:43] tstromberg commented on #7699
Hello @bushraKhan23 - how can we help?

[2020-04-15 23:51] tstromberg commented on #5571
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:51] #5571 closed

[2020-04-15 23:52] tstromberg commented on #5573
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:52] #5573 closed

[2020-04-15 23:52] tstromberg commented on #5666
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:52] #5666 closed

[2020-04-15 23:52] tstromberg commented on #5780
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:52] #5780 closed

[2020-04-15 23:52] tstromberg commented on #5811
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:52] #5811 closed

[2020-04-15 23:53] tstromberg commented on #6195
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:53] #6195 closed

[2020-04-15 23:53] tstromberg commented on #6222
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:53] #6222 closed

[2020-04-15 23:53] tstromberg commented on #6254
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:53] #6254 closed

[2020-04-15 23:53] #6312 closed

[2020-04-15 23:53] tstromberg commented on #6329
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:53] #6329 closed

[2020-04-15 23:54] tstromberg commented on #6384
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:54] #6384 closed

[2020-04-15 23:54] tstromberg commented on #6399
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:54] #6399 closed

[2020-04-15 23:54] tstromberg commented on #6426
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:54] #6426 closed

[2020-04-15 23:54] tstromberg commented on #6561
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:54] #6561 closed

[2020-04-15 23:54] tstromberg commented on #6594
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:54] #6594 closed

[2020-04-15 23:54] tstromberg commented on #6613
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:54] #6613 closed

[2020-04-15 23:54] tstromberg commented on #6663
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:54] #6663 closed

[2020-04-15 23:54] tstromberg commented on #6666
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:54] #6666 closed

[2020-04-15 23:54] tstromberg commented on #6676
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:54] #6676 closed

[2020-04-15 23:55] tstromberg commented on #6704
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:55] #6704 closed

[2020-04-15 23:56] tstromberg commented on #6785
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:56] #6785 closed

[2020-04-15 23:56] tstromberg commented on #6794
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:56] #6794 closed

[2020-04-15 23:56] tstromberg commented on #6844
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:56] #6844 closed

[2020-04-15 23:57] tstromberg commented on #6850
PR's welcome to add the debugging you need. Send em on over!

[2020-04-15 23:57] tstromberg commented on #6854
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:57] #6854 closed

[2020-04-15 23:57] tstromberg commented on #6881
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:57] #6881 closed

[2020-04-15 23:57] tstromberg commented on #6946
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:57] #6946 closed

[2020-04-15 23:57] tstromberg commented on #6951
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:57] #6951 closed

[2020-04-15 23:58] tstromberg commented on #6971
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:58] #6971 closed

[2020-04-15 23:58] tstromberg commented on #7002
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-04-15 23:58] #7002 closed

[2020-04-15 23:58] tstromberg commented on #7005
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!