[2020-11-15 17:14] afbjorklund commented on #9711
Well, that was a bug. Surely fixed in 1.15.1!

You can see locale to en_US as a workaround

[2020-11-15 19:28] blueelvis commented on #9709
Thanks! Didn't see that. Closing this one.

[2020-11-15 19:28] #9709 closed

[2020-11-15 19:29] blueelvis opened #9712 "Add a button to copy the command to the browser on the docs site"
I think that it would be good user experience if we can add a button besides each code snippet which should be copied to the clipboard like several sites do it.

[2020-11-15 20:10] afbjorklund commented on #9228
Here are the reference board sizes:

[code]

[code]

Will put them up as a separate project.

[2020-11-15 21:10] afbjorklund commented on #9227
Will do some rebasing of the current images/Dockerfile from the latest one...

We can do some tagging hack, to just use the regular name of the base:

[code]

And then make _sure_ that it is actually pulling the right architecture image:

Digest       | OS/ARCH        | Compressed Size
------------ | -------------- | ---------------
1d7b639619bd | linux/amd64    | 27.24 MB
ebc8925ee519 | linux/arm

[2020-11-15 23:12] medyagh commented on #9707
this is a good idea

[2020-11-15 23:20] medyagh opened #9714 "Add dedicate network and static IP for podman driver"
in minikube 1.14.0 we had docker driver with dedicate network, we should do same thing for podman for consistancy

- Similar to this PR
https://github.com/kubernetes/minikube/pull/9294

- This will make Podman driver to also have a Static IP similar to our Docker Driver after that PR
- You would need to install Podman on Linux to test this

[2020-11-16 07:15] chengfq5 commented on #4350
I have this problem in prod env after runing some days, server in pod can not access outer network , exececute blow commands reloved, i want to know how happened before encounter this problem , and how to prevent this ;
systemctl stop kubelet
systemctl stop docker
iptables --flush
iptables -tnat --flush
systemctl start kubelet
systemctl start docker

[2020-11-16 07:43] afbjorklund commented on #9714
The podman network doesn't have label nor options, that might become a problem...

[code]

[code]

Also "docker" is hardcoded in a dozen place in the old PR, instead of using ociBin.

[2020-11-16 09:01] vrubiolo commented on #9625
I confirm the `1.15.0` release allows to start/use CRI-O w/ the Docker driver w/o any issues on Fedora32 now (via `minikube start  --container-runtime=crio`).

Thanks for your help fixing this !

[2020-11-16 09:26] mnshrr commented on #9595
This CR tagged for about 13 days ago, just wondering if there is any update about the fix on this issue? any thoughts?

[2020-11-16 11:15] #8514 closed

[2020-11-16 16:22] afbjorklund commented on #9714
See https://github.com/containers/podman/issues/7989#issuecomment-706552196, it needs a podman network rewrite first (before labels)

I'm not sure if any of the options were mandatory, or if there is some kind of CNI workaround ?
`--ip-masq`
`--icc`

https://docs.docker.com/engine/extend/plugins_network/
https://github.com/moby/libnetwork/tree/master/drivers/bridge/

[code]

[2020-11-16 16:23] afbjorklund commented on #9714
The filter label functionality seems broken anyway, so most likely it needs manual cleanup...

Just like #9705 for the volumes ?

[2020-11-16 18:54] #9695 closed

[2020-11-16 20:50] sivakku commented on #9651
@sharifelgamal - Can you update on plan for enabling this one? i was in today's standup heard it is going to be needing thorough testing of minikube in Cloud Shell VM which we haven't planned for it before.

[2020-11-16 21:46] #9704 closed

[2020-11-16 21:59] fjmacagno commented on #9063
How did you fix this?

[2020-11-16 23:38] allanchau opened #9720 "minikube won't start on macOS Big Sur with VMWare Fusion 12"
**Minikube version**
[code]

**VMware Fusion version**
[code]

**Steps to reproduce the issue:**

1. `minikube start  --disk-size 64g --extra-config=apiserver.service-node-port-range=80-32767 --cpus=2 --memory=8192 --vm-driver=vmware --alsologtostderr --v=8`

**Full output of failed command:**
<details>
I1117 09:00:05.489935   45509 translate.go:89] Failed to load translation file for en: Asset tr

[2020-11-17 04:45] jim-barber-he opened #9722 "Cannot enable registry-creds addon"
**Steps to reproduce the issue:**

I'm using hypervisor=none and Kubernetes 1.17.x
The following commands work for minikube 1.14.2, but are broken in version 1.15.0 and 1.15.1 when it comes time to enable the registry-creds addon.

Minikube is started like so:
[code]

Then the registry-creds is run like so:
[code]

**Full output of failed command:**

[code]

Full output with `--alsologtostderr` fo

[2020-11-17 05:15] jim-barber-he commented on #9722
This also happens if I let it use the default version of Kubernetes v1.19.4
[code]

[2020-11-17 05:18] jim-barber-he commented on #9722
And it is also happening when I use the `docker` driver instead of the `none` driver.
[code]

[2020-11-17 06:06] bluestealth commented on #9228
@afbjorklund It is possible to create an iso image to boot on arm64 and (hybrid bios/uefi) amd64 if you wanted to maintain backwards compatibility, and not require UEFI firmware on Intel. I have this working in a branch.
I don't have any access to arm64 boards that support kvm, so I had to test this in qemu so far. https://github.com/kubernetes/minikube/compare/master...bluestealth:arm64?expand=1

[2020-11-17 06:22] joearul09 opened #9724 "minikube start gives an error connection reset by peer"
**Steps to reproduce the issue:**

1.Starting control plane node minikube in cluster minikube
🔄  Restarting existing docker container for "minikube" ...
🐳  Preparing Kubernetes v1.19.2 on Docker 19.03.8 ...
🔎  Verifying Kubernetes components...
❗  Executing "docker container inspect minikube --format={{.State.Status}}" took an unusually long time: 18.398468512s
💡  Restarting the docker service may

[2020-11-17 07:14] Panoptik commented on #8841
It's not convenient where minikube changed default driver between minor releases
So short solution for now is to specify excplicitly vm driver.
For instance for mac os it could be
[code]
For linux I use next bootstrap command
[code]

[2020-11-17 09:11] PorasS commented on #8409
😄  minikube v1.15.1 on Ubuntu 18.04
✨  Using the docker driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
💾  Downloading Kubernetes v1.19.4 preload ...

🔥  Creating docker container (CPUs=2, Memory=2200MB) ...
✋  Stopping node "minikube"  ...
🛑  Powering off "minikube" via SSH ...
🔥  Deleting "minikube" in docker ...
🤦  StartHo

[2020-11-17 09:11] PorasS commented on #8409
i am also getting the same issue on ubuntu.

[2020-11-17 09:40] PorasS commented on #8603
i was also getting the same issue on ubuntu, docker. Found a way, follow the steps, hope it will help you.
steps:
cd ~/.docker
rm -rf config.json
minikube delete --profile=minikube
minikube start --driver=docker

[2020-11-17 10:04] RA489 commented on #9724
/kind support

[2020-11-17 10:04] RA489 commented on #9722
/kind support

[2020-11-17 10:05] RA489 commented on #9722
/kind support

[2020-11-17 10:06] RA489 commented on #9720
/kind support

[2020-11-17 10:08] RA489 commented on #9712
/kind documentation

[2020-11-17 10:08] RA489 commented on #9688
/kind documentation

[2020-11-17 14:39] fredrik-smedberg commented on #9722
This solves the issue https://github.com/kubernetes/minikube/pull/9725

[2020-11-17 15:45] prezha commented on #9666
re: 2nd point - in pr #9726, i've added kvm leftovers cleanup in addition to minikube and docker full cleanup - to a more complete linux test host overall cleanup

re: 1st point - smart error and showing advise to a user in case we can't activate the network (ie, `Network is already in use by interface` error):

interesting thing about `br-f912846614e5` specifically is that it showed up (mentioned

[2020-11-17 15:57] yehiyam opened #9727 "missing tag for nvidia-driver-installer addon"
**Steps to reproduce the issue:**

1. minikube start
2. minikube addons enable nvidia-driver-installer
3. kubectl get pod -A | grep nvidia-driver-installer
`kube-system   nvidia-driver-installer-v9fxt               0/1     Init:ImagePullBackOff`

This is a regression after #9551

[2020-11-17 16:19] fredrik-smedberg commented on #9722
Temporary work-around until this is fixed and released upstream:
`minikube ssh`
and inside the Kubernetes environment, edit `/etc/kubernetes/addons/registry-creds-rc.yaml` on line 21.
For example using `vim` (or any editor of your choice):
`sudo vim /etc/kubernetes/addons/registry-creds-rc.yaml`
so it writes:
`- image: upmcenterprises/registry-creds:1.10`

If your environment lacks vim, you can in

[2020-11-17 16:51] afbjorklund commented on #9228
@bluestealth : nice, seems like you have already gotten started on it. I saw that debian had a livecd also for arm64, so it should be possible. that will probably make it easier to interface with libmachine, but it seems like your kvm2 driver needed some hacks in it...
will take a look at your branch later, so far it seems that replacing isolinux with grub is pretty much all that is needed for boo

[2020-11-17 17:27] sharifelgamal commented on #9704
This is fixed in v1.15.1

[2020-11-17 18:06] gnarea opened #9729 "Minikube crashes all the time"
Apologies for the vague title, but that's as specific as I can be: Minikube is crashing all the time and I can't figure out why after checking the logs.

This happens even when I'm not using Kubernetes, but I've noticed I can reproduce it consistently when I'm running some automated tests against the services in the cluster.

**Steps to reproduce the issue:**

1. Create a cluster from scratch: `mi

[2020-11-17 18:17] #9463 closed

[2020-11-17 18:21] AkihiroSuda commented on #8719
/remove-lifecycle stale

[2020-11-17 18:22] sharifelgamal commented on #9555
What happens if you try the URL in a browser manually? It just looks like minikube can't find a default browser to open the URL in.

[2020-11-17 18:25] medyagh commented on #9729
hi @gnarea do you mind sharing the output of

[code]

and do you have same problem if you pass force-systemd flag ?
[code]

and also do you get the same problem with docker driver ?

[2020-11-17 18:31] gnarea commented on #9729
Hi @medyagh! Thanks for looking into this. I'll run those commands in a moment and then report back.

In the meantime:

- There's someone else helping replicate this issue on Slack: https://kubernetes.slack.com/archives/C1F5CT6Q1/p1605632817330600
- I have 64 GiB of RAM. And all the pods combined shouldn't need more than 2 GiB.

[2020-11-17 18:52] marcusthelin commented on #8841
When will we be able to use ingress addon with Docker driver on Mac?

[2020-11-17 19:00] sharifelgamal commented on #8841
@marcusthelin we have an issue (https://github.com/kubernetes/minikube/issues/7332) specifically tracking ingress on docker macos. it's one of our top priorities.

[2020-11-17 19:33] medyagh commented on #9729
per conversation in slack, this issue was solved by using the docker driver

[2020-11-17 19:33] #9729 closed

[2020-11-17 19:43] #9694 closed

[2020-11-17 19:45] #9707 closed

[2020-11-17 19:52] #9727 closed

[2020-11-17 23:16] priyawadhwa opened #9730 "Add --cancel-scheduled-stop flag to cancel all existing scheduled stops"
Related to https://github.com/kubernetes/minikube/issues/9271

[2020-11-17 23:16] priyawadhwa opened #9731 "`minikube status` should show existing scheduled stops and time left"
Related to https://github.com/kubernetes/minikube/issues/9271

[2020-11-18 01:24] fckbo opened #9732 "Cannot pull images from registry.redhat.io"
Hello,

I'm getting a ErrImagePull
[code]
trying to deploy a pod that uses an image pulled from registry.redhat.io. Please note that I can actually pull the images from the underlying centOS8 machine using docker pull after logging on the registry with my redhat credentials and have (I think) properly configured a secret & linked it to the default sa to use it to pullImage, see steps to reproduce

[2020-11-18 02:58] azhao155 commented on #1568
Have tested this with docker driver, running a service of two pods with simple nginx binary. Able to get response using service dns name <serviceName>.<namespaceName>.svc.cluster.local from the pods.
Since docker driver will enable cni by default, so using docker driver won't encounter this issue.

[2020-11-18 03:18] gurleensethi commented on #7058
Might not be a logical answer, but this worked for me.

[code]

then

[code]

[2020-11-18 04:51] alonyb commented on #9722
/assign

[2020-11-18 09:01] cezeno2s commented on #9555
It works when I try the URL manually on a browser but how can I resolve the
issue of minikube not being able to find a default browser to open the URL
directly?

On Tue, Nov 17, 2020, 19:22 Sharif Elgamal <notifications@github.com> wrote:

[2020-11-18 09:28] RA489 commented on #9732
/kind support

[2020-11-18 16:07] bluestealth commented on #9228
@afbjorklund Yes, I used the [debian documentation](https://wiki.debian.org/RepackBootableISO) to get it working, which is really good. Some of my KVM hacks were to get it working with Qemu, I have even more hacks in another branch to allow minikube to work with foreign architectures, which is kind a mess.

[2020-11-18 16:19] afbjorklund commented on #9228
I put the remote client in a different issue (#9593), it would still be useful but I think we will handle it separately.

[2020-11-18 16:27] afbjorklund commented on #9228
Will see if I can add a ISO target to the "hello world"... Then look more at the other changes, join Slack (k8s/cncf) to chat

[2020-11-18 16:29] camba1 commented on #7332
Just ran into this issue. To fix it on my Mac  :
[code]

[2020-11-18 18:47] Bouhmidovsky commented on #4696
Hi all,
I am running the same command on a VM (virtualbox) using Debian 9 as OS.
Has anyone any idea about the issue ?

[2020-11-18 19:32] medyagh commented on #9700
so we need to update the test?

[2020-11-18 19:33] #9722 closed

[2020-11-18 20:04] medyagh opened #9735 "add new target `make push-kic-base-snapshot`"
we could have a new 'make target' called 'make release kic-base-snapshot' that will bump the kicbase verison in types.go to -snapshot-COMIT_ID (6 digit commit sha)
then push it to all 3 repos
and also make sure it builds the kicbase only once
(I think once I noticed it it was building it 3 times)

then commits and makes a PR

I want us to be able to, as soon as we merge a kicbase file change , we

[2020-11-18 20:14] prezha commented on #9735
you are most welcome @medyagh
/assign

[2020-11-18 21:11] afbjorklund commented on #9227
Most things seem to working, after patching some built-in "exit" calls and so on.

[code]

[code]

KIND is also working on this (support for ARM): https://github.com/kubernetes-sigs/kind/issues/166

[2020-11-18 21:51] medyagh commented on #9697
/assign daehyeok

[2020-11-19 00:36] 3rd-big opened #9736 "tem"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-11-19 01:56] Jaggle commented on #9669
@mengzyou 请问您解决此问题了吗？

[2020-11-19 04:51] RA489 commented on #9736
@3rd-big I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank yo

[2020-11-19 04:51] RA489 commented on #9736
/triage needs-information

[2020-11-19 05:43] RA489 commented on #8694
@vinu2003 Are you still working on this issue?

[2020-11-19 12:55] pavankumar98 opened #9737 "Minikube configuratoin failure"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-11-19 16:09] afbjorklund commented on #4696
Please open a new ticket, not sure it makes much sense to run your own VM
in VirtualBox instead of just using the provided ISO - but it should still work...

[2020-11-19 18:19] afbjorklund opened #9738 "docker-env is broken when using an external docker daemon"
Due to it adding extra quote characters (`"`), and not checking for errors later on.

:x:  Exiting due to GUEST_STATUS: state: unknown state "minikube": docker container inspect minikube --format=: exit status 1

The real error was `Error: No such container: minikube`

Due to `unable to resolve docker endpoint: Invalid bind address format: "tcp://192.168.99.221:2376"`

[2020-11-19 18:36] tstromberg opened #9739 "Publish macOS/arm64 binaries"
NOTE: No released version of Go supports macOS/arm64 as of this date, but v1.16 will. https://github.com/golang/go/issues/38485 has some details on how to get started with making builds from the go trunk source code.

We may have to do something about code-signing on macOS/arm64

Related: #9224

We'll want to make sure that the documentation points to the appropriate URL's as well.

[2020-11-19 18:45] LilySu commented on #7332
this worked for me on windows 10. Thank you.

[2020-11-19 19:40] blueelvis opened #9740 "Show download progress for the Preload Tarball"
![image](https://user-images.githubusercontent.com/6985763/99715469-ee9e9f80-2acc-11eb-83a6-1ae5510c0c8d.png)

As you can see in the above screenshot, we don't show the progress of the download. It is missing the bandwidth, size of remaining content, ETA etc. like we show for the ISO.

Since this preload tarball is big, the above information is essential.

[2020-11-19 19:52] afbjorklund commented on #9738
Hmm, can't reproduce the actual error. Not sure where those extra quotes came from, originally.

But the error handling could still be improved (actually check the error, and return the real error)

[2020-11-19 19:54] medyagh opened #9741 "service failure test logs deadline exceeded (1.77µs)"
[code]

as seen here

https://storage.googleapis.com/minikube-builds/logs/9734/6c6329e/KVM_Linux.html#fail_TestFunctional%2fparallel%2fServiceCmd

and as discussed here https://kubernetes.slack.com/archives/C1F5CT6Q1/p1605813267401000

[2020-11-19 20:28] medyagh opened #9744 "none driver: TestOffline/group/docker "panic: reflect: indirection through nil pointer to embedded struct ""
[code]

as seen here
https://storage.googleapis.com/minikube-builds/logs/9742/c237d5d/none_Linux.html#fail_TestOffline%2fgroup%2fdocker

this ran on Debian Agent 4 (kvm kic-docker docker) https://storage.googleapis.com/minikube-builds/logs/9742/none_Linux.txt

[2020-11-19 20:36] itised commented on #9720
I'm having a similar issue.

It appears to have something to do with the vmnet-dhcpd-vmnet*.leases files no longer being used in Fusion 12 on Big Sur.  If so, more details can be found on VMware's site: [https://communities.vmware.com/t5/VMware-Fusion-Discussions/Big-Sur-hosts-with-Fusion-Is-vmnet-dhcpd-vmnet8-leases-file/m-p/2298924](https://communities.vmware.com/t5/VMware-Fusion-Discussions/Big

[2020-11-19 20:44] medyagh commented on #9744
I sshed to Debian Agent 4 and I ran the command myself

[code]

and it worked

[2020-11-19 20:45] devblack21 opened #9745 "erro minikube start"
 
**Os comandos necessários para reproduzir o problema**:
minikube start
 
**A saída completa do comando que apresentou falha**:

<details>
stderr:
W1119 20:43:27.044618    8318 configset.go:348] WARNING: kubeadm cannot validate component configs for API groups [kubelet.config.k8s.io kubeproxy.config.k8s.io]
        [WARNING IsDockerSystemdCheck]: detected "cgroupfs" as the Docker cgroup driver. T

[2020-11-19 20:45] ilya-zuyev commented on #9744
[code]

[2020-11-19 21:46] prezha commented on #9700
/assign

[2020-11-19 23:05] medyagh opened #9749 "jenkins check install docker should work on ubuntu too"
[code]

[2020-11-19 23:48] prezha commented on #9700
@medyagh, @afbjorklund seams like both kubeadm and cri-o now use v3.2 for the pause image:
- kubeadm:
  - _note_: instead of the now-non-existing single `constants.go` we refer to in the comment:
https://github.com/kubernetes/minikube/blob/b6aee57175b77f26a397f28ba3f3bc8660d4529a/pkg/minikube/bootstrapper/images/images.go#L30-L33 it's now per-os:
  - for *nix it's v3.2:
https://github.com/kubernet

[2020-11-19 23:58] prezha commented on #9700
just noticed that tests are using versions <= `1.17.0` (<= `1.18.0-alpha.0`) in TestKubeadmImages(), so it has to be v3.1 for `cri-o`...

[2020-11-20 06:24] mengzyou commented on #9669
@Jaggle 还没有

[2020-11-20 12:35] alexmojo commented on #9720
Have the same issue

[2020-11-20 16:34] afbjorklund commented on #9720
Probably an issue for https://github.com//machine-drivers/docker-machine-driver-vmware

[2020-11-20 16:42] afbjorklund commented on #9740
We have the same issue for the kicbase: #7175

[2020-11-20 16:50] afbjorklund commented on #9740
We're using the same library and the same storage for both, so it must be something else ?

[2020-11-20 16:57] afbjorklund commented on #9740
The responses look similar enough:

`curl --head https://storage.googleapis.com/minikube/iso/minikube-v1.15.0.iso?checksum=file:https://storage.googleapis.com/minikube/iso/minikube-v1.15.0.iso.sha256`
HTTP/2 200
...
accept-ranges: bytes
content-length: 189796352
...
`curl --head https://storage.googleapis.com/minikube-preloaded-volume-tarballs/preloaded-images-k8s-v6-v1.19.4-docker-overlay2-amd64.

[2020-11-20 17:09] afbjorklund commented on #9740
The `pb` library omits the progress bar, when the file name is too long (for the terminal).

80

180

So the filename needs to be truncated (...), before it is used for the progress.

[2020-11-20 17:26] azhao155 commented on #1568
Also tested on kvm driver, doesn't encounter this issue when ping <service_name>.<namespace>.svc.cluster.local.

[2020-11-20 17:31] azhao155 commented on #6831
Tested on docker driver and kvm driver with 2 nodes, 48 and 47 tests failed for each.

[2020-11-20 17:32] azhao155 commented on #6831
[multinode_conformance_multidriver.txt](https://github.com/kubernetes/minikube/files/5575164/multinode_conformance_multidriver.txt)

[2020-11-20 17:40] eddytruyen commented on #9370
You have add the following clusterrolebinding

[code]

[2020-11-20 19:05] afbjorklund commented on #9740
In order to also show the actual progress bar, we need to stay below 15 characters. Otherwise it won't fit.
This does not really give us space to show the file name. For instance, "minikube-v1.15.0.iso" is 20...

[code]

One approach would be to use **two** lines, and then display the full filename and a full progress bar.
Or use a more avanced library, that would offer more options to display all

[2020-11-20 19:48] blueelvis commented on #9740
Maybe we could just omit that information from the main output but show the full name in the verbose logs?

[2020-11-20 19:58] #7766 closed

[2020-11-20 20:00] afbjorklund commented on #9740
I would like to show a _little_ information. Currently docker doesn't show anything, and it is a bit annoying.

[2020-11-20 20:22] blueelvis commented on #9732
@fckbo - Thanks for the detailed logs! I just tried this out with my personal tokens and I see this to be working after doing some minor modifications to the YAML file (You seem to be missing the imagePullSecret).
[code]
[code]
[code]
I am not sure how default credentials work in openshift but could you please test using the above YAML?

[2020-11-20 20:43] afbjorklund commented on #9740
And we do show the URL in the logs already.

That `>` looks a bit with all the emoji, too...

The rest of minikube interface is more like this:

https://jamiemaison.github.io/react-emoji-progress-bar/

[2020-11-20 21:52] #9749 closed

[2020-11-20 22:05] medyagh commented on #9691
this is the same source of the issue for "TestFunctional/parallel/ServiceCmd" Failure as well.
since api server goes down, minikube test will fail to deploy hello-node deployment therefore there wont be a service. as seen here https://storage.googleapis.com/minikube-builds/logs/9747/3b5c265/Docker_Linux.html#fail_TestFunctional%2fparallel%2fServiceCmd

[2020-11-20 22:09] medyagh commented on #9691
What could be possible causes ?

- MySQL deployment screws up the resource limits ?
- Small amount of memory
- Parallel testing

[2020-11-20 22:16] #9690 closed

[2020-11-20 22:29] priyawadhwa opened #9754 "DownloadProgress step does not always emit currentstep"

[2020-11-20 22:31] #9740 closed

[2020-11-20 23:39] kdraper69 commented on #9473
How did you remove the microK8s?

[2020-11-20 23:41] Pictor13 commented on #4899
The same thing happens with macOS.

[2020-11-21 01:15] Pictor13 opened #9757 "`minikube mount` does not follow symlinks"
**Premise:** my workspace makes use of symlinks to make available the (below mentioned) *Projects* directory; it has something like `ln -s  /Users/Shared/Projects  /Users/myuser/Projects/`

**Steps to reproduce the issue:**

----

**0.** there's already a service deployed

**1.** `minikube start` (performs automatically the `minikube mount`)

----

**2.** `minikube ssh -- ls -la /Users/myuser/Proj

[2020-11-21 01:18] medyagh opened #9758 "investigate adding restart=always for docker's systemd config"
I confirmed locally that when docker is crashing systemd is not restaring it
but if add restart=always it does

the question is, is that the right thing ? will it cause minikube to endless loop incase it is not  recoverable ?

[2020-11-21 02:47] kdraper69 opened #9759 "xiting due to HOST_KUBECTL_PROXY: readByteWithTimeout: EOF"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-11-21 08:18] afbjorklund commented on #9740
Example output:

[code]

[2020-11-21 10:26] fans3210 opened #9760 "Unable to pull images in minikube due to dockerhub pull limit"
**Steps to reproduce the issue:**

1. minikube start --driver=hyperkit --extra-config 'controller-manager.feature-gates=TTLAfterFinished=true' --feature-gates="TTLAfterFinished=true" --disk-size 50GB --cpus 4 --memory 8192 --addons=ingress
2. minikube addons enable ingress

**Full output of `minikube start` command used, if not already included:**

Failed to pull image "jettech/kube-webhook-certge

[2020-11-21 10:51] afbjorklund commented on #9760
You could add it to the minikube cache, as a workaround ?

[2020-11-21 10:52] afbjorklund commented on #9760
Otherwise it sounds like pull secrets

[2020-11-21 11:12] Jaggle commented on #9669
@mengzyou 我已经解决了此问题，是由于墙的原因，你可以找到`kube-system`命名空间下的有一个失败的pod:

[code]

这里会提示某一个image pull失败，你可以去docker找到这个image,pull下来，然后给这个image重新打一个他们的tag，大概是`us.gcr.io/xx/xxx`啥的，

删掉pod后让pod重新生成即可。

提示：minikube貌似在macos下的docker运行时不支持ingress，我现在已经用virtualbox搭虚拟机整了(这样还是会遇到墙的问题)。。。。

（写的比较潦草，如果你需要详细帮助，可以找到我的联系方式一起交流交流）

[2020-11-21 12:44] nandrack commented on #7231
Just starting learning k8s.
I still have this issue:
😄  minikube v1.15.1 on Fedora 33
✨  Automatically selected the docker driver
✅  Using image repository
👍  Starting control plane node minikube in cluster minikube
🔥  Creating docker container (CPUs=2, Memory=2200MB) ...
❗  This container is having trouble accessing https://k8s.gcr.io
💡  To pull new external images, you may need to configure a pr

[2020-11-21 14:40] afbjorklund opened #9762 "minikube on raspberry pi (ARM desktop)"
This is a follow-up to to the previous issues about supporting arm architectures in general, and raspberry pi in particular.

Since before, we have support for running the "none" driver but soon there is also support for running the "docker" driver.

Normally the Raspberry Pi is used to _build_ clusters. And then you connect to this from a separate machine, like a laptop.

But with the Raspberry P

[2020-11-21 15:40] fans3210 commented on #9760
@afbjorklund Thanks for the suggestion but I think dockerhub takes time to process my request for plan upgrade. I also noticed that they limit the number of pull requests using ip address. So I switched to my mobile data and currently it seems working.

[2020-11-21 18:52] Shridharbhandar commented on #4144
I'm also facing the same  & kubelet is also showing that node is not found

[kubelet-check] Initial timeout of 40s passed.

        Unfortunately, an error has occurred:
                timed out waiting for the condition

        This error is likely caused by:
                - The kubelet is not running
                - The kubelet is unhealthy due to a misconfiguration of the node in some way

[2020-11-21 20:22] #7957 closed

[2020-11-21 20:22] #8101 closed

[2020-11-21 20:22] #8482 closed

[2020-11-22 01:47] Pictor13 commented on #2481
@Divya063 might be that enclosing the mount in quotes you don't get the shell expansion on the *tilde*?
I think that it could confuse minikube on what is the actual home and instead lead to resolve the `/home/docker` inside the virtual machine.

You can try doing `minikube start --mount --mount-string "$HOME/test:/test"` and let us know if it fixed.

[2020-11-22 07:51] aravindsaravanan opened #9763 "Error starting minikube via Virtual box # minikube start --driver=virtualbox --no-vtx-check"
<minikube start --driver=virtualbox --no-vtx-check>
**Steps to reproduce the issue:**

1.
[start-issue.txt](https://github.com/kubernetes/minikube/files/5579128/start-issue.txt)

2.  I have attached the runtime error log here, please find the attachment named "start-issue.txt"
3.  Though the Minikube VM is alive and running # minikube.exe profile list showing stopped and # kubectl run commands are

[2020-11-22 08:04] aravindsaravanan commented on #9763
[Saravanan.BYOD-SPONNURA] ➤ minikube status
E1122 13:33:52.582366   18152 status.go:363] kubeconfig endpoint: extract IP: "minikube" does not appear in C:\Users\aravi/.kube/config
minikube
type: Control Plane
host: Running
kubelet: Stopped
apiserver: Stopped
kubeconfig: Misconfigured

[2020-11-22 18:09] azhao155 commented on #1568
./out/minikube start

## create nginx service
kubectl apply -f template/nginx.yaml
kubectl expose deployment my-nginx

## ssh into pods
kubectl get pods
Output:
NAMESPACE     NAME                               READY   STATUS    RESTARTS   AGE
default       my-nginx-5b56ccd65f-hpktn          1/1     Running   0          45s
default       my-nginx-5b56ccd65f-zqc72          1/1     Running   0

[2020-11-22 18:09] azhao155 commented on #1568
Nginx template:
piVersion: apps/v1
kind: Deployment
metadata:
  name: my-nginx
spec:
  selector:
    matchLabels:
      run: my-nginx
  replicas: 2
  template:
    metadata:
      labels:
        run: my-nginx
    spec:
      containers:
      - name: my-nginx
        image: nginx
        ports:
        - containerPort: 80

[2020-11-23 03:59] RA489 commented on #9763
/kind support

[2020-11-23 04:01] RA489 commented on #9760
/kind support

[2020-11-23 04:02] RA489 commented on #9759
/kind support

[2020-11-23 04:02] RA489 commented on #9757
/kind support

[2020-11-23 04:03] RA489 commented on #9745
/kind support

[2020-11-23 04:05] RA489 commented on #9737
@pavankumar98 I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Tha

[2020-11-23 04:05] RA489 commented on #9737
/kind support
/triage needs-information

[2020-11-23 07:57] mengzyou commented on #9669
@Jaggle 你的这个方法，我已经试过了，你看看我上面的描述，我已经手动下载了 `us.gcr.io/k8s-artifacts-prod/ingress-nginx/controller` 镜像到minikube的环境里，但是在重新启动pod的时候，还是会去尝试pull

[code]

很奇怪，似乎 `imagePullPolicy: IfNotPresent` 不起作用

[2020-11-23 08:01] mengzyou commented on #9669
@Jaggle 我知道了，原来是deployment的image值，带了后面的hash值，我 kubectl edit 把hash值去掉就可以了，谢谢！

[2020-11-23 08:01] #9669 closed

[2020-11-23 09:49] victorgunta commented on #8512
Worked for me aswell ;)

[2020-11-23 11:34] abhimjoshi commented on #7344
Thanks @armandgrillet for the information.

I have tired all the things as mentioned by you, but it is not working and facing the same issue on macOs. The URL/ page is not reachable.

Thanks again.

[2020-11-23 15:08] shinebayar-g opened #9765 "WSL2: Cannot access kubernetes services"
**Steps to reproduce the issue:**

1. Install Docker for Windows with WSL2 backend support. Docs: https://docs.docker.com/docker-for-windows/wsl/
2. Install latest minikube version for linux on WSL2 Ubuntu 20.04 LTS. Docs: https://minikube.sigs.k8s.io/docs/start/#debian-package
[code]
3. Start kubernetes cluster
[code]

4. Try to access kubernetes dashboard
[code]

Result:
![image](https://user-im

[2020-11-23 16:12] STRRL opened #9766 "pod still assigned same ip on different nodes"
I think it's not a duplicate with https://github.com/kubernetes/minikube/issues/7589.
It seems caused by RangeAllocator is not running on kube-controller-manager by default.

BTW, `minikube start --nodes=3 --extra-config=controller-manager.cidr-allocator-type=RangeAllocator` works well.

[code]

[code]

**Steps to reproduce the issue:**

1. `minikube start --nodes=3`
2. `k apply -f https://raw.git

[2020-11-23 16:19] marcusthelin commented on #8841
@sharifelgamal Thank you!

[2020-11-23 18:58] afbjorklund commented on #9765
On the docker driver, these are limits rather than VM resources

If you are using a VM for docker (or in general, like WSL2) you still need to configure that.
When running docker on linux, the bound is the amount of resources the docker host has.

[2020-11-23 19:01] shinebayar-g commented on #9765
Thanks for the explanation.

[2020-11-23 19:15] #9649 closed

[2020-11-23 19:26] afbjorklund commented on #9449
Currently there two build targets (similar to how it works for "minikube" binary itself)

`storage-provisioner-image` builds the image for the local architecture
`storage-provisioner-image-amd64` builds the image for a specific arch

This is used by the two targets, one called "image" and one called "manifest:

* push-storage-provisioner-image
* push-storage-provisioner-manifest

The first is the

[2020-11-23 19:32] medyagh opened #9767 "Site: auto detect user's machine in browser for installation steps"
https://minikube.sigs.k8s.io/docs/start/

[2020-11-23 20:19] #9396 closed

[2020-11-23 21:10] Pictor13 commented on #9757
**Additionally:**
when I kill the process that keeps the workaround-manual-mount working, the permissions aren't being restored to the default one (`docker:docker`) but the access to the folder is lost completely.
`minikube ssh -- ls -la /Users/myuser/Projects/namespace/myproject` returns

And any attempt to fix or re-mount manually with the workaround command returns:

The only way I found to res

[2020-11-23 21:59] #8861 closed

[2020-11-24 00:04] shinebayar-g commented on #9765
It's working! Thanks to [this](https://github.com/microsoft/WSL/issues/4199#issuecomment-668270398) person, now everything is working as expected.

`wsl --shutdown` did the job.  I also ran `kubectl port-forward` on PowerShell, not Terminall app if that helps.

[2020-11-24 00:04] #9765 closed

[2020-11-24 01:05] prezha commented on #9700
i think i've found the issue but not where we've expected it, ie, we should change `UniqueProfileName()` making it more 'unique' and/or make sure that the (parallel) processes are isolated one from another ;)

reasoning:

according to the code, the call-flow for this specific case, is:
[code]
so, according to the previous comment above (https://github.com/kubernetes/minikube/issues/9700#issuecomme

[2020-11-24 02:27] g5li commented on #9684
Try `minikube remove` and then `minikube start --host-onlly-cidr=172.16.0.1/24 --driver=virtualbox`.

#3594

[2020-11-24 12:14] hcguersoy opened #9769 "`minikube config set memory` with given unit results in error"
**Steps to reproduce the issue:**

1. Try to configure the memory with a given unit:
[code]

**Full output of failed command:**

[code]

**Full output of `minikube start` command used, if not already included:**

not applicable here

---

IMHO the unit should be respected, see https://github.com/kubernetes/minikube/blob/64bfa1596d18560ee2a85cbba74d3638714f8562/cmd/minikube/cmd/start_flags.go#L129

[2020-11-24 14:49] 9kranti opened #9770 "ubuntu: starting container process caused "process_linux.go:319:"
Error on minikube dashboard showing
Failed create pod sandbox: rpc error: code = Unknown desc = failed to start sandbox container for pod "xyz-9866fc6c-v6z5m": Error response from daemon: OCI runtime create failed: container_linux.go:349: starting container process caused "process_linux.go:319: getting the final child's pid from pipe caused \"read init-p: connection reset by peer\"": unknown

Pod

[2020-11-24 17:02] GoodBoy020 opened #9771 "CHANGELOG.md"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-11-24 17:02] GoodBoy020 commented on #9771
CHANGELOG.md

[2020-11-24 17:03] GoodBoy020 commented on #9771
![common_content_Nav-Feed](https://user-images.githubusercontent.com/68087598/100127404-f8caf000-2e76-11eb-9215-724610e6b7d2.png)
![Nav-Code 0tJczmQtl3hyKtlh](https://user-images.githubusercontent.com/68087598/100127410-f9fc1d00-2e76-11eb-98f7-5c83cfd9a99a.png)
![Nav-Dashboard S24hPDN9_BLImMxi](https://user-images.githubusercontent.com/68087598/100127411-f9fc1d00-2e76-11eb-9e25-8cc5f8f78448.png)
!

[2020-11-24 17:15] medyagh commented on #9700
thank you @prezha  that is good investigation !

if the source of the problem is this test that we try adding a cache from remote

[code]

how about we test a different image in our test ? instead of trying to cache add pause image, lets try to cache add another small image (I chose pause because it seemed to be small enough)

[2020-11-24 17:57] #6780 closed

[2020-11-24 17:57] medyagh opened #9772 "profile list for multi node shows error wrongfully"
as noted by @sharifelgamal the missing part of this PR is left https://github.com/kubernetes/minikube/pull/9702#issuecomment-731445695
[code]

[2020-11-24 18:40] rohitchavan04121995 opened #9773 "minikube installation"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-11-24 19:38] #9603 closed

[2020-11-24 20:32] medyagh commented on #9773
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[code]

This wi

[2020-11-24 20:33] medyagh commented on #9770
Thank you for sharing your experience! If you don't mind, could you please provide:

[code]
- Also the full the output of the
[code]

This will help us isolate the problem further. Thank you!

@9kranti I also noticed you are using a very old minikube verison, do u mind upgrading to latest version as well ?

/triage needs-information
/kind support

[2020-11-24 20:34] medyagh commented on #9771
@GoodBoy020 do u mind adding more details to what u meant by this issue ?

/triage needs-information
/kind support

[2020-11-24 21:19] medyagh commented on #9766
@STRRL do u mind explaining why do y think the pods should have different IPs ?

[2020-11-24 21:26] sharifelgamal opened #9776 "minikube delete doesn't always delete the docker network"
[code]

[2020-11-24 21:43] medyagh commented on #1568
thanks @azhao155 for confirming this issue doesnt happen anymore.

closing please feel free to re-open if still see this problem

[2020-11-24 21:43] #1568 closed

[2020-11-24 22:58] medyagh opened #9777 "Docker Runtime: investigate weather to use "Delegate=yes" in Docker's systemd file"
originally linked to me by @prezha Docker's systemd config
https://github.com/moby/moby/blob/e1b15e1e5bf3a512ac7298ed29fcd4126c45c1ae/contrib/init/systemd/docker.service#L25

[code]

minikube supports two modes, Cgroup and systemd by default it is supposed to be cgroups but in Google Cloud shell they have systemd cgroups and when we try Two Cgroup manager on one system it crashes becasue they both

[2020-11-24 23:12] medyagh opened #9778 "Docker systemd: unifiy requires and wants"
in buildroot.go

[code]

in ubuntu.go
[code]

[2020-11-25 00:28] tstromberg opened #9779 "Stream kubeadm progress logs"
At the moment, there can be 20-25 seconds with no updates via JSON. This can cause a bad user experience, as noted by folks using minikube in an embedded environment.

We at least used to stream the kubeadm output to glog, but we should also make it available via JSON.

[2020-11-25 00:29] tstromberg commented on #9779
/cc @priyawadhwa

[2020-11-25 02:34] STRRL commented on #9766
Suppose here is a distributed application, if peers use same IP when registering, how could applications to distinguish them?

[2020-11-25 06:24] 9kranti commented on #9770
`minikube start --alsologtostderr -v=8`   Output:

[code]
`minikube logs` Output:

[code]
As I'm doing some setup which support specific versions of minikube, kubernetes, kubectl, vbox.
As per setup requirement v1/beta1 is mentioned in deployment which is not supported on latest minikube so using old one.

[2020-11-25 07:00] afbjorklund commented on #9778
Note that minikube-automount is somewhat dangerous to run in the container.
i.e. it will start filling up the first partition from host, in my case that was `/boot`

The problem with "network-online" is that we run into all systemd bugs with it...
But it would be nice to have a less special (i.e. old) setup for the ISO installation

More details in https://github.com/kubernetes/minikube/issues/694

[2020-11-25 07:06] afbjorklund commented on #9778
Also we shouldn't hack the default scripts, but do proper overrides instead.

Like when you do `systemctl edit`, creates a new file instead of editing old

[2020-11-25 11:23] fckbo commented on #9732
@blueelvis ,

Thx for looking at this. In fact (& I do not know why as I do not believe that I've changed anything apart from restarting minikube) now it works !!

[2020-11-25 11:23] #9732 closed

[2020-11-25 17:15] mbaeuerle commented on #8867
Short question about what can be cached from a local repository.
It seems like it's only possible to use `minikube cache add` on images which were built locally and then pushed to the local registry.
If Minikube fetched the images remotely (during deployment) I was not able to cache the local image afterwards. This is even though the downloaded images are shown beside the locally created ones when

[2020-11-25 18:15] afbjorklund commented on #8867
What happened later ? It is supposed to be able to fetch it now:

[code]

Note there is a slightly pause there, as it is doing the actual fetch.

[2020-11-25 19:35] medyagh commented on #9617
@prasanth595
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

The exact minikube start command line used: preferably with --alsologtostderr -v=8 added.
The full output of the command
The full output of "minikube logs"
Please fee

[2020-11-25 19:35] #9617 closed

[2020-11-25 19:35] medyagh commented on #9497
@ParagNetApp
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

The exact minikube start command line used: preferably with --alsologtostderr -v=8 added.
The full output of the command
The full output of "minikube logs"
Please fee

[2020-11-25 19:35] #9497 closed

[2020-11-25 19:35] ilya-zuyev commented on #9210
@MarkAJanney any update on this issue?

[2020-11-25 19:36] medyagh commented on #9491
@nicolasduminil is your company using a image repository and blocking traffic to gcr.io ? do u mind check connectivity with gcr.io

[2020-11-25 19:42] medyagh commented on #9005
@yingfengxiaowangzi

Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

The exact minikube start command line used: preferably with --alsologtostderr -v=8 added.
The full output of the command
The full output of "minikube logs"
Pl

[2020-11-25 19:42] #9005 closed

[2020-11-25 19:42] ilya-zuyev commented on #9453
@darkn3rd staring version v1.15.2 minikube supports docker driver with docker running in docker-machine. Would you mind to check if this version helps with your issue?

[2020-11-25 19:44] ilya-zuyev commented on #9402
@joearul09 Would you mind to provide more information about your system, version of docker, version of minikube and minikube start logs?

[2020-11-25 19:44] medyagh commented on #8939
@fzyzcjy that is interesting I wonder if this is true for any other Docker container.

it might be a docker limitation in advertisting the CPUs

@fzyzcjy u could try to run a docker with high CPU and then check if docker respect that

docker run -d -t --privileged  --cpus=12 --memory=13900mb ubuntu

[2020-11-25 19:46] priyawadhwa commented on #9550
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-11-25 19:46] #9550 closed

[2020-11-25 19:47] priyawadhwa commented on #9403
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl get po -A`

Thank y

[2020-11-25 19:47] medyagh commented on #8762
thank you for finding this workarround ! this would be a cool tutuorial to add to our website.

[2020-11-25 19:47] priyawadhwa commented on #9391
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-11-25 19:47] #9391 closed

[2020-11-25 19:48] priyawadhwa commented on #9358
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-11-25 19:48] #9358 closed

[2020-11-25 19:49] medyagh commented on #8414
@ctron do you still have this issue ?

[2020-11-25 19:50] priyawadhwa commented on #9301
Hey @zzguang520 thank you for opening this issue! I'm going to close this as a duplicate of https://github.com/kubernetes/minikube/issues/9322, where a fix for this is being tracked. We currently have a PR open as well which should resolve the issue: https://github.com/kubernetes/minikube/pull/9577

[2020-11-25 19:50] #9301 closed

[2020-11-25 19:51] priyawadhwa commented on #9286
Hey @ibmhack2020 this issue has been quiet for a couple months now so I'm going to go ahead and close it. If you are still seeing this issue, please feel free to reopen at any time!

I would suggest trying the following to workaround this problem:

1. As tstromberg suggested, joining the Hyper-V Administrators group
1. Using the docker driver (our recommended driver) instead of hyperv by running:

[2020-11-25 19:51] #9286 closed

[2020-11-25 19:54] medyagh commented on #4589
@arashbi  @wpdildine
I am curious if you still have this issue with docker driver with latest version of minikube?

[2020-11-25 19:55] priyawadhwa commented on #9118
Hey @VivekMittals I'm going to go ahead and close this issue as it's been quiet for a couple months now. Please feel free to reopen at any time if you're still seeing this issue!

I would also suggest the following:

1. Upgrading to our latest version of minikube (currently 1.15.1) to see if that resolves this issue
1. Using our docker driver via `minikube start --driver docker` which is our recom

[2020-11-25 19:55] #9118 closed

[2020-11-25 19:57] medyagh commented on #8906
I think this was fixed and no longer an issue, please reopen if it is still happening

[2020-11-25 19:57] #8906 closed

[2020-11-25 19:58] priyawadhwa commented on #8866
Hey @darkdatter I'm going to go ahead and close this issue as it's been quiet for a couple months. Please reopen at any time if you're still facing this issue -- I'd suggest trying the following:

1. Upgrading to our latest version of minikube (currently 1.15.1)
1. Trying our new CNI handling via `minikube start --cni=cilium`

Thank you for opening this issue!

[2020-11-25 19:58] #8866 closed

[2020-11-25 19:58] priyawadhwa commented on #8542
Going to close this issue as it hasn't shown up in a while.

[2020-11-25 19:58] #8542 closed

[2020-11-25 19:59] medyagh commented on #9434
@harskum we had a few updates for our vmware driver, have u tried latets version of minikube?
Meanwhile have you tried out newest driver Docker Driver with latest version of minikube?
you could try
minikube delete
minikube start --driver=docker

for more information on the docker driver checkout:
https://minikube.sigs.k8s.io/docs/drivers/docker/

[2020-11-25 19:59] priyawadhwa commented on #8530
/remove-lifecycle rotten

[2020-11-25 20:01] priyawadhwa commented on #8530
This has been fixed.

[2020-11-25 20:01] #8530 closed

[2020-11-25 21:48] prezha commented on #9700
@medyagh thank you for the conversation, it was very helpful!

main points:
- minikube cache is global (across different profiles)
- the extraneous images found in the cache (and the reason why this test fails) were apparently from other tests that were run
- in general, we could have our test to clean up before/after themselves (and leave a clean env for the test itself), but
- just that would no

[2020-11-25 22:28] medyagh commented on #9779
simmilar to https://github.com/kubernetes/minikube/issues/9091 (but not same)

[2020-11-25 22:34] medyagh commented on #9779
however picks this task up this will require us to implement exec Command's Start for our Command Runner

here in the code we have
https://github.com/medyagh/minikube/blob/7bc81b1cbdae09aa2cdae46e377e4a8cc333f343/pkg/minikube/command/command_runner.go#L55
[code]
https://github.com/medyagh/minikube/blob/7bc81b1cbdae09aa2cdae46e377e4a8cc333f343/pkg/minikube/bootstrapper/kubeadm/kubeadm.go#L229

whic

[2020-11-26 00:07] medyagh commented on #9776
I think this is simmilar to this failure

https://storage.googleapis.com/minikube-builds/logs/9781/a60176c/Docker_Linux.html#fail_TestErrorSpam

[code]

[2020-11-26 00:21] medyagh opened #9785 ""TestFunctional/parallel/DryRun" fails on HyperV github action tests"
"TestFunctional/parallel/DryRun"

this test fails in github action on hyperv driver
it fails on this machine
[code]

[code]

I rdped into that machine and I ran manually and it seems fine there
[code]

[2020-11-26 00:23] #9700 closed

[2020-11-26 01:59] #9691 closed

[2020-11-26 03:31] arashbi commented on #4589
It happens on hyperkit, I am not sure what you mean by docker driver

[2020-11-26 03:59] harskum commented on #9434
@medyagh I have been using docker as a workaround, which is working fine for my use case. Thanks everyone for looking into this! I'll go ahead and close this issue.

[2020-11-26 03:59] #9434 closed

[2020-11-26 05:07] blueelvis commented on #9785
/assign

[2020-11-26 06:39] infa-knandi commented on #8949
Try this it got solved for me

https://github.com/kubernetes/kubernetes/issues/21613#issuecomment-363859075

Thank me later!

[2020-11-26 08:05] ctron commented on #8414
I am now on `minikube version: v1.14.0` … and it seems to work.

[2020-11-26 08:06] ctron commented on #8414
I just checked, looks like `0.15.1` is the most recent. I will upgrade and test in the next few days. But I think it is ok to close this issue.

[2020-11-26 08:11] Seandeng12 commented on #2707
execute kubeadm reset will solve this problem

[2020-11-26 09:31] lyqht commented on #9303
any update on this? same setup on WSL2
![image](https://user-images.githubusercontent.com/35736525/100333198-42e5da00-300d-11eb-994a-541650ad0531.png)

[2020-11-26 11:33] mbaeuerle commented on #8867
Sorry I guess my question and example were a bit misleading.

The command above for caching the mongo image indeed does not fail.
It will download the image _from the remote server_ even though it is already present in the local docker registry (`minikube ssh docker images`).

The issue with that is if the remote is requiring authorization the request will fail and therefore also the `minikube cac

[2020-11-26 12:10] juhao5208 commented on #6036
i had the same problem
i can start-up a kubernetes cluster successful befor update system
but i update system to 20H2 yesterday,now it cannot work when i use "minikube start"
do you slove this problem?thanks

[2020-11-26 12:17] vanyarock01 commented on #1674
The issue is relevant for minikube v1.12.3. [This](https://github.com/strimzi/strimzi-kafka-operator/issues/2824#issuecomment-613347654) way helped me.
[code]

[2020-11-26 13:06] afbjorklund commented on #8867
I think the cache command only checks the docker daemon on the host, it does not check the images on the machine.

i.e. `docker images`, rather than `minikube ssh docker images`

It will download the images from the registry to the local disk, but it should also check on the machine before loading it.

in the "needsTransfer", it will compare the image lists and digests

[2020-11-26 17:46] mbaeuerle commented on #8867
I was running `eval $(minikube docker-env -u)` first then both `minikube ssh docker images` and `docker images` are pointing to the same registry.
So the behaviour I observed is only images which were built locally and pushed to the local registry were actually taken from the local repository when calling `minikube cache add`.
Where can I find this "needsTransfer" haven't seen it in the logs?
And

[2020-11-26 18:17] #7421 closed

[2020-11-26 20:02] tharun208 commented on #9731
@priyawadhwa I like to work on this

[2020-11-26 22:29] V4A001 commented on #9078
Same issue here. Painful flaw as it makes minikube useless on a Windows machine.

[2020-11-26 23:31] tharun208 commented on #6535
@medyagh, I like to work on this

[2020-11-26 23:41] link2prasad commented on #7344
using minikube version: v1.8.2 worked for me

[2020-11-27 02:47] nooop3 commented on #7802
How about adding a new parameter like `--add-host` to the `docker run` command?

[2020-11-27 03:23] itised commented on #9720
This does seem to be an issue at least related to docker-machine-driver, but that project appears all but abandoned. I was able to get everything working, and I also have an open ticket with VMware, so hopefully they can make this all a bit less painful, but here's what worked for me.

Fusion released an update today that bundles docker-machine-driver-vmware. I have no idea if it's any different,

[2020-11-27 06:30] itbj commented on #9720
Have the same issue

[2020-11-27 06:58] afbjorklund commented on #8867
It is here: https://github.com/kubernetes/minikube/blob/322e138f6bb1c47d7768efe58d62b18e4f4e54d4/pkg/minikube/machine/cache_images.go#L139

Normally we don't call the docker daemon a "registry", but reserve that term for the docker registry (i.e. the server)

But the current code works by checking the server digest, and then comparing that with the machine (ImageExists)

https://github.com/kuberne

[2020-11-27 07:06] afbjorklund commented on #8867
Actually it seems the behaviour has changed, after the preload was added. Now it _only_ checks tags, **not** ids/digests:

`Run: docker images --format {{.Repository}}:{{.Tag}}`

cache_images.go:74] Images are preloaded, skipping loading

Shouldn't matter in this particular case (mongo:4.2), but only when using something like "latest" for the image tag

It will still save it from the network to th

[2020-11-27 07:45] irizzant commented on #6584
/remove-lifecycle stale

[2020-11-27 08:08] chiehpower opened #9792 "Error at "minikube start""
I cannot change the cpu number even I already assigned a specific nubmer of cpu.

**Full output of failed command:**

[code]

[code]

If there anyone know how to fix it?

Thank you so much!

[2020-11-27 08:17] KamranShahid commented on #8568
Same problem
Have windows 10, docker, WSL2. Following same article [(https://kubernetes.io/blog/2020/05/21/wsl-docker-kubernetes-on-the-windows-desktop/)]
docker with WSL2 is working fine and i have run some other container with it successfully
here i have used above article correctly till the minikube dashboard command.
Please let me know what to do

![image](https://user-images.githubusercontent

[2020-11-27 08:53] afbjorklund commented on #9720
The docker-machine project is dead, but we can still use patches to the drivers for minikube only (like kvm2 or hyperv)

[2020-11-27 11:27] KamranShahid commented on #5532
https://github.com/kubernetes/minikube/issues/8568

[2020-11-27 12:22] NotWearingPants commented on #9183
I've closed my issue & PR in favor of docker/machine#4788 who solved it first with the exact same fix, and lucked out to not have a broken build.

[2020-11-27 13:31] andrewshilliday commented on #4634
I still see this issue on v1.15.1

[2020-11-27 16:27] awk commented on #9720
It was a certain amount of trial and error and 'poking at things', but I was able to follow @itised instructions and specifically add a second 'private to this mac' network adapter that let minikube start. Additional things I found helpful was to start minikube with pretty verbose logging `minikube start --alsologtostderr --v=8 –vm-driver=vmware` and spot that it was (or was not) getting the write

[2020-11-27 17:24] msedzins commented on #9335
@cpaika Hi there! are you still working on this? if no - I can take this on.

[2020-11-27 17:31] itbj commented on #9720
Following @itised instructions, I installed the minikube on Big Sur/Macbook Pro(Intel CPU),  VMware fusion version is 12.0, and the minikube running well to use.

Thanks @itised.

[2020-11-27 19:42] #7510 closed

[2020-11-27 20:51] EmanElsaban commented on #4172
I tried passing``--extra-config=kubelet.cgroup-driver=systemd`` and  I'm still getting a similar error when doing ``minikube start --extra-config=kubelet.cgroup-driver=systemd --extra-config=kubelet.EnableCustomMetrics=true``
[code]
[code]

[code]
Can someone please help? Thanks!

[2020-11-28 04:39] jpdoria commented on #9722
I also experienced the same issue just now.

[code]

[2020-11-28 07:19] azhao155 commented on #6831
Send results for docker driver with 2 nodes and containerd runtime.

https://github.com/cncf/k8s-conformance/pull/1220

[2020-11-28 09:36] conanswp commented on #4096
I meet the same trouble. After update docker from docker-ensgine to docker-ce and use command `minikube --driver=none start --extra-config=kubelet.resolv-conf=/etc/resolv.conf` solve this problem.

[2020-11-28 11:12] msedzins opened #9795 "Unit test TestDeleteAllProfiles fails: delete_test.go:203: ListProfiles length = 9, expected 8"
TestDeleteAllProfiles fails but only after running:
"minikube start"

If "minikube delete" is run - test passes.

**Steps to reproduce the issue:**
1. make
2.  out/minikube start
3. make test

**Full output of failed command:**
[opc@kubernetes1 minikube]$ make test
MINIKUBE_LDFLAGS="-X k8s.io/minikube/pkg/version.version=v1.15.1 -X k8s.io/minikube/pkg/version.isoVersion=v1.15.2-snapshot2 -X k8s.io

[2020-11-28 15:01] asoltesz commented on #8765
The issue is present on Minikube 1.15.1 (Ubuntu 20.04)

[Abraham's workaround did work.](https://github.com/kubernetes/minikube/issues/8765#issuecomment-685185460)

[2020-11-28 16:38] cpaika commented on #9335
@msedzins Yeah I'm not, I wanted to take this on but life got in the way. Its all yours!

[2020-11-28 21:40] ankitlakum commented on #7179
@dlinuxguy thanks

[2020-11-29 06:40] OkayJosh commented on #4589
yes, i still have the issue with docker driver on the latest version

[2020-11-29 09:33] OkayJosh opened #9798 "This container is having trouble accessing https://k8s.gcr.io"
**Steps to reproduce the issue:**

1. minikube start --driver=docker
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

  Deleting "minikube" in docker ...
🔥  Deleting container "minikube" ...
🔥  Removing /home/cloudsigma/.minikube/machines/minikube ...
💀  Removed all traces of the "minikube" cluster.
[cloudsigma@Fedora-32 django]

[2020-11-29 14:17] Savvy-Wadhwani commented on #9118
Thanks @priyawadhwa, I did try upgrading the minikube to latest version i.e. 1.15.1
but unfortunately I still get the same issue for ErrImagePull.

vivek:~ minikube start --driver docker
😄  minikube v1.15.1 on Ubuntu 18.04
✨  Using the docker driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
💾  Downloading Kubernetes v1.19.4 pr

[2020-11-29 14:20] VivekMittals commented on #9118
@priyawadhwa I did try upgrading the minikube to mentioned 1.15.1 version but still I get the same issue.

Can you list or point me to any detailed steps to check the configuration with respect to authentication etc. so that we can rule out those aspects.

minikube start --driver docker
😄  minikube v1.15.1 on Ubuntu 18.04
✨  Using the docker driver based on user configuration
👍  Starting control p

[2020-11-29 14:21] VivekMittals commented on #9118
@blueelvis I am still facing the same issue even after upgrading to latest minikube version

[2020-11-29 15:18] VivekMittals commented on #9118
I think I found something, but not sure how to proceed further on this..

Nov 29 14:58:28 minikube kubelet[1097]: E1129 14:58:28.448752    1097 remote_image.go:113] PullImage "node-app:1.0" from image service failed: rpc error: code = Unknown desc = Error response from daemon: pull access denied for node-app, repository does not exist or may require 'docker login': denied: requested access to the

[2020-11-29 17:15] FabriceSalvaire opened #9799 "provide better error for Fedora 32 - Cgroups incompatibilities."
Full log is at the end.

Comment: "minikube quickly sets up a local Kubernetes cluster on macOS, Linux, and Windows." But it looks like complex and it required to reboot the computer to recover this try ... Log suggests to run docker command, but Docker it not installed and not compatible with Fedora 32.  Confusing ... Is it logging from minikube or an image ??? I guess it is a mix of both.

[code

[2020-11-29 17:30] afbjorklund commented on #9799
It is running docker-in-podman, so you will have one podman "node" that is running a docker daemon inside.

The logs doesn't really explain why it didn't start, though. The usual suspects are cgroups v2 and selinux...

[2020-11-29 17:30] FabriceSalvaire opened #9800 "Add documentation on how to delete images/containers/network/volumes created by minikube"
I think you should explain further how to delete data when a minikube test failed ... e.g. just after "If minikube fails to start, ..."

I found later at the end of https://minikube.sigs.k8s.io/docs/start/

[code]

But before I did that:

Run as root !!!

[code]

and look also $HOME/.minikube

[2020-11-29 17:33] FabriceSalvaire commented on #9799
Is Minikube compatible with cgroups v2 ?  Docker is not compatible with Fedora 32 as far I know.

[2020-11-29 17:34] afbjorklund commented on #9799
Not yet, so you will need to change your Fedora installation back to cgroups v2 - or use a minikube VM

[2020-11-29 17:38] afbjorklund commented on #8526
/reopen
/remove-lifecycle rotten

[2020-11-29 17:40] afbjorklund commented on #9800
This removes a whole lot more than just minikube, though.

[2020-11-29 17:48] afbjorklund commented on #9714
Podman network labels were discussed here: https://github.com/containers/podman/issues/5376

It _might_ become available in Podman 3.0, along with the fix for --filter ...

[2020-11-29 20:43] afbjorklund commented on #9495
@medyagh : rootless minikube seems unlikely to make it to the 1.16 release, so we should probably remove this issue from it ?

it will however be something for _next_ year's (2021) roadmap, to keep an eye on the Docker 20 and Kubernetes 1.20 progress

[2020-11-29 21:41] afbjorklund commented on #9792
The Linux machine you are running this on, needs to have more than 2 vCPU available
Adding more resources to the docker driver, will only set the limits (not change the host).

It should probably be an error, trying to set the limit above what is available on the host.
Possibly we should show the amount resources available to the host, after the OS ?

[2020-11-29 22:46] afbjorklund opened #9803 "Make the available drivers section a bit clearer"
Currently it is a bit clear what you actually need:

This mixes containers and virtual machines etc.

We need to make some kind of distinction between _local_ drivers Docker and Podman, and _remote_ drivers Docker and Podman.

And try to explain how it is related to the hypervisors, Hyperkit, Hyper-V, KVM (Libvirt), Parallels, VMware and the `--vm=true`

Beyond separating Docker Engine and Docker

[2020-11-30 06:11] afbjorklund commented on #4716
We will need to do either of: 1) run rpm forever (close this ticket) 2) host apt repository ourselves (sig release won't help us)

[2020-11-30 06:12] afbjorklund commented on #3110
We will need to do either of: 1) run dpkg forever (close this ticket) 2) host apt repository ourselves (sig release won't help us)

[2020-11-30 06:18] afbjorklund commented on #9232
More like a roadmap issue for next year, along with the other changes

[2020-11-30 06:47] afbjorklund opened #9804 "Add architecture to the installation instructions"
Currently hardcoded:

This needs to also support other architectures, starting with arm64.

Binary download

[code]

Debian package

[code]

RPM package

[code]

[2020-11-30 06:49] afbjorklund commented on #9804
Related: #6159

[2020-11-30 06:59] afbjorklund opened #9805 "Build machine drivers for different architectures"
Currently these are hardcoded to amd64:

* docker-machine-driver-kvm2
  https://github.com/kubernetes/minikube/tree/master/pkg/drivers/kvm

* docker-machine-driver-hyperkit
  https://github.com/kubernetes/minikube/tree/master/pkg/drivers/hyperkit

We need to start building them also for arm64.

Ultimately we will also soon have to start looking at building and hosting **all** machine drivers, sinc

[2020-11-30 08:04] jasperf commented on #7332
Is there really no workaround on this. I chose the Docker driver instead of hyper driver due to DNSMasq issues. Now I am told to use hyperkit again which will cause the same issue but allow Ingress Nginx..

[2020-11-30 08:27] jasperf commented on #2456
Was this local resolver tweak besides dnsmasq.conf change on a Mac @vchrisb ? Do not have `/etc/resolver/local` now.. only a test file there.

[2020-11-30 09:47] erakjha opened #9806 "Virtual Box VM not starting"
[VBoxSVC.log](https://github.com/kubernetes/minikube/files/5615153/VBoxSVC.log)

**Steps to reproduce the issue:**

1.Install the minikube on Windows 10
2. Open the Windows Shell and run Command "minikiube start"
3.

**Full output of failed command:**
PS C:\WINDOWS\system32> minikube start
* minikube v1.15.1 on Microsoft Windows 10 Pro 10.0.19041 Build 19041
* Using the virtualbox driver based on

[2020-11-30 10:22] vchrisb commented on #2456
@jasperf I created a small blog on that topic a while ago: https://banck.net/2018/12/using-dnsmasq-on-mac-os-for-local-development/

[2020-11-30 10:28] jiawei666 commented on #8997
same problem

[2020-11-30 11:04] coder2213 commented on #9684
Ran below command as you suggested.
minikube start --host-only-cidr=172.16.0.1/24 --driver=virtualbox --cpus 4 --memory 4096  --no-vtx-check --alsologtostderr -v=8

Still not working.

Log in below link
https://gist.github.com/coder2213/5128029ec438ded926a65aa03e04dc0a#file-minikube30noverror

[2020-11-30 11:26] jasperf commented on #2456
@vchrisb Thanks. Checking it out and do have Minikube running now and can keep dnsmaq up and running with Laravel Valet though the services nginx, php and dnsmasq now run as root for some reason. They do work though and Valet and Minikube both work now!

[2020-11-30 17:35] jtpryan opened #9807 "Cannot get Minikube to start w/ Windows 10 & Hyperv"
**Steps to reproduce the issue:**

1. minikube start --driver=hyperv --force --alsologtostderr
2. Windows v 2004, Hypev eabled in BIOS and running.
3. Minikube 1.9 (I was told this version works with this configuration.  Different versions of  minikube all fail in different ways.

**Full output of failed command:**
[code]

**Full output of `minikube start` command used, if not already included:**

[2020-11-30 17:57] spowelljr commented on #9767
/assign

[2020-11-30 18:03] #9730 closed

[2020-11-30 18:16] nickbryan commented on #6596
Hi guys, I ran into this issue just now and followed the link to this thread. Tried `minikube delete` with the `--purge` and `--all` flags but no luck fixing it. My minikube cluster was running fine, tried deleting it to start fresh but once started back up everything still remained.  Tried with the purge flag, started back up and then got this error message.

Any help would be appreciated or if t

[2020-11-30 18:37] nickbryan commented on #6596
Hmm, running `docker system prune` seemed to fix my issue.

[2020-11-30 19:00] medyagh commented on #9807
thanks for creating this issue, there a could be a couple things wrong

- you might need to disable and renable the hyperv module in windows
from our docs: https://minikube.sigs.k8s.io/docs/drivers/hyperv/
[code]

- you might need to create virtual switch

do u mind pasting the logs with latest minikube version ? our latest version is 1.15.1

also I am curious, do you have docker desktop installed

[2020-11-30 19:21] medyagh commented on #9002
lets check if this is covered by registry-creds  addon

[2020-11-30 19:22] sharifelgamal commented on #6831
We'll close this issue once the above PR is merged.

[2020-11-30 19:37] medyagh commented on #9226
till we figure out what is the miantaince flow for this we should hold on this

[2020-11-30 19:39] medyagh opened #9809 "Add static IP for KVM driver"
similar to our docker and podman driver implementation

[2020-11-30 19:42] medyagh commented on #9156
we need to ensure our customers are using --log_dir=""

[2020-11-30 19:43] medyagh commented on #9156
we also need to verify --log_dir is working,

[2020-11-30 19:47] ilya-zuyev commented on #9156
todo: investigate whether it's possible to use log append mode with klog to reuse the existing log file

[2020-11-30 20:10] azhao155 opened #9810 "Minikube start with multi node failed with default name"
minikube start failed with multi nodes and default name, but it won't fail if i specify -p <name>

./out/minikube start -n 2 --alsologtostderr

Please find the full log in the attachment.
[output.txt](https://github.com/kubernetes/minikube/files/5618460/output.txt)

./out/minikube start -n 2 -p p1 works fine for me.

[2020-11-30 20:11] azhao155 commented on #9810
@medyagh
@sharifelgamal

[2020-11-30 20:18] sharifelgamal commented on #9810
Yeah I've seen this happen before, but I'm not sure what causes it. It's some sort of config corruption, which is usually fixed by `minikube delete --all --purge`. We should keep this open to investigate the root causes of this issue though.

[2020-11-30 20:21] fsladkey opened #9811 "Template parsing error when getting docker network"
## Template parsing error when getting docker network

We're running some minikube deployments on CI and recently (around the 21st) we started seeing failures with the following error message when starting minikube. This is currently happening only on CI, so I don't have full detailed logs, but I'm working on reproducing it locally so I can get more.

This is from Minikube latest builds, the last

[2020-11-30 21:30] MarlonGamez opened #9812 "minikube status hangs for a seemingly indefinite amount of time"
`minikube status` seems to hang when reaching the following step:
[code]

**Steps to reproduce the issue:**

1. Run `minikube status`

**Full output of failed command:**
<details>

[code]

</details>

**Optional: Full output of `minikube logs` command:**
Running minikube logs also seems to hang at the same step. Seems like it's an issue with docker?
<details>

[code]

</details>

This seems to poi

[2020-11-30 22:10] priyawadhwa commented on #9754
@ilya-zuyev has tracked down the root cause, which is that the `PullingBaseImage` step was not registered in the registry:

https://github.com/kubernetes/minikube/blob/25ba4dcdfe8341c7bee28ccd9395a46d055eceed/pkg/minikube/out/register/register.go#L69

An easy fix for this is to add it to the registry.

Integration tests did not catch this because the base image had already been pulled by previous

[2020-11-30 22:13] priyawadhwa commented on #9744
Looks like this is working on none driver now, so I'm going to close this issue:

[code]

[2020-11-30 22:13] #9744 closed

[2020-11-30 22:14] priyawadhwa commented on #9712
This would be great! If someone is able to contribute this, it would be greatly appreciated.

[2020-11-30 22:16] priyawadhwa commented on #9688
Hey @cachvico thanks for opening this issue -- I agree that this could be improved. If you, or anyone else, would be interested in contributing a fix to our documentation, PRs would be welcome!

[2020-11-30 22:17] priyawadhwa commented on #9670
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl get po -A`

Thank y

[2020-11-30 23:39] #9767 closed

[2020-12-01 00:07] medyagh commented on #9779
@spowelljr

[2020-12-01 05:44] RA489 commented on #9812
/kind support

[2020-12-01 05:45] RA489 commented on #9811
/kind support

[2020-12-01 05:46] RA489 commented on #9806
/kind support

[2020-12-01 05:47] RA489 commented on #9798
/kind support

[2020-12-01 08:04] LY1806620741 opened #9816 "minikube start error"
**重现问题所需的命令**：
[code]
**失败的命令的完整输出**：<details>
[code]
</details>

**`minikube logs`命令的输出**： <details>
[code]
</details>

**使用的操作系统版本**：
[code]

**other command history**:
[code]

[2020-12-01 08:27] chiehpower commented on #9792
Dear afbjorklund,

Thanks for your information!
I will try that and update on here!

[2020-12-01 08:38] huberv commented on #5392
Hi all,
I just tinkered with this setup as well. I noticed that I can reach the dashboard via a `wsl curl 127.0.0.1...` but not from a browser under Windows (as mentioned in the last comments). I wondered whether running a browser inside wsl and a Windows-based X server would do the trick... and it did:

![wsl minikube dashboard](https://user-images.githubusercontent.com/16324140/100716199-a6c7248

[2020-12-01 08:56] antoineco commented on #5392
@huberv if the minikube command you posted is running inside the WSL instance and not in some other VM, all services exposed on the WSL loopback should also be exposed on the Windows network.

I use this all the time with `kubectl port-forward` (which also exposes things on 127.0.0.1 by default). However, I also occasionally notice failures to use that feature. It doesn't seem to happen often to m

[2020-12-01 09:34] RA489 commented on #9816
/kind support

[2020-12-01 11:19] DolapoOba opened #9817 "Less memory"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-12-01 12:12] dimara opened #9818 "Cannot change apiserver-ips after initial minikube start"
**Steps to reproduce the issue:**

1. `minikube start --vm-driver=none --apiserver-ips=1.1.1.1 ...`
2. `minikube stop`
3. `minikube start --vm-driver=none --apiserver-ips=2.2.2.2 ...`

The apiserver certificate has **still** the initial address in its SAN:
[code]

It seems the behavior changed in v1.10 with https://github.com/kubernetes/minikube/commit/bee681559b#diff-0e864ab4025634664724909a47c34

[2020-12-01 13:57] bkahlerventer commented on #9798
I do not think minikube handles the redirect:

~> curl https://k8s.gcr.io
<HTML><HEAD><meta http-equiv="content-type" content="text/html;charset=utf-8">
<TITLE>302 Moved</TITLE></HEAD><BODY>
<H1>302 Moved</H1>
The document has moved
<A HREF="https://cloud.google.com/container-registry/">here</A>.
</BODY></HTML>

[2020-12-01 14:03] adr-arroyo commented on #9370
Thank you for your contribution @eddytruyen

I will try to test it on my environment

[2020-12-01 17:23] Hongbo-Miao commented on #8756
Thanks @renich ! Met same issue. After `kubectl -n kube-system edit deployment ingress-nginx-controller`

[code]

should be

[code]

(You can try to open first URL and will get 404 error, the second one which is also version 0.34.1 can be opened)

[2020-12-01 18:23] edtrist commented on #9712
Happy to take this :)

/assign

[2020-12-01 18:25] medyagh opened #9820 "Add debugging commands website"
our current troubleshooting page doesn't have all the commands an advanced user can do

https://minikube.sigs.k8s.io/docs/handbook/troubleshooting/

we should add all the post mortem commands we do in our integration tests to our troubleshoting page

https://storage.googleapis.com/minikube-builds/logs/9802/da778ea/Docker_Linux.html#fail_TestSkaffold

[2020-12-01 18:36] medyagh commented on #9817
Thank you for sharing your experience! If you don't mind, could you please provide more details ?

Did you mean minikube should use less memory ?

if so have you tried the --memory flag ? by default minikube will allocate memory automatically based on your free resources, but you can limit it to the minimum allowed which is

[code]
/triage needs-information
/kind support

[2020-12-01 18:38] medyagh commented on #9818
@dimara thanks for creating this issue, that might be a bug !  I would accept a PR that fixes this.

btw I am curious, what are the real-world reasons that one would want to specify the api server's IPs ?

[2020-12-01 18:52] priyawadhwa commented on #9769
thanks @tharun208 for taking this on!

[2020-12-01 18:53] MarlonGamez commented on #9812
I'm going to close this as I believe it was an issue with my docker setup. Was able to see things working again after completely reseting my docker setup.

[2020-12-01 18:55] medyagh commented on #9712
@edtrist it is yours !

we use docsy for our site https://www.docsy.dev/docs/
maybe on their site they have something that we can enable or add

[2020-12-01 19:21] FabriceSalvaire commented on #9799
I managed to run Minikube v1.15.1 without any issue on Fedora 32 (cgroups v2, Podman v2) using this setup

` minikube start --driver=podman --container-runtime=cri-o`

and also the Docker image on Fedora 33 with cgroups downgraded to v1

Thus you could recommend to Fedora users to use this setup : podman and cri-o

[2020-12-02 04:11] drtywheels commented on #8834
https://github.com/kubernetes/minikube/issues/8834

I have the exact same problem. Not sure how helpful it is but this is what I found.

[code]

It seems you can have a root CA cert locally in ~/.minikube/files/etc/ssl/certs and it will be processed (copied to /etc/ssl/certs in the container) early on (before the curl command that fails) or in ~/.minikube/certs and it will be copied to /usr/share/

[2020-12-02 07:53] marcominetti commented on #7923
Quick update... I had similar problem in a real cluster after upgrading from kubernetes 1.18 to 1.19... Instead of mounting paths at startup of the container... It's working for me with feature gate disabled.

[code]

Hope it helps

[2020-12-02 12:16] dimara commented on #9818
@medyagh I am currently testing a patch and will submit a PR ASAP. Regarding the real-world reasons for such a feature, we (Arrikto) already use it in MiniKF to access K8s remotely via its public IP over HTTPS. Since the IP is ephemeral and might change we need to be able to update the certs accordingly.

[2020-12-02 17:52] azhao155 opened #9825 "multinode fails conformance test with kindnet (but calico works)"
Run the conformance test with default kindnet cni. Tests failed due to coreDNS can't resolve service name on the non-mater nodes.

Run the same test for calico cni for both docker and containerd runtime. All passed.

There are two things we could do:
1. Change default cni to a more lightweight one which pass all the conformance tests.
2. Investigate the kindnet dns issue.

The attachment are the t

[2020-12-02 17:53] azhao155 commented on #9825
@medyagh
@sharifelgamal

[2020-12-02 18:09] bri-pug opened #9826 "docker: K8S_KUBELET_NOT_RUNNING on v1.15.1: timed out waiting for the condition"
I was working on a Windows 10 PC running Ubuntu 20.04.1 in VirtualBox (version 6.1.14) and was using minikube in the VM and having no issues. After having [completely unrelated] computer issues, I got a new Windows 10 PC and I am running Ubuntu 20.04.1 in VirtualBox (version 6.1.16), but I cannot get minikube to start on my new computer. I even saved my VM and imported it into VirtualBox on my new

[2020-12-02 18:20] NeckBeardPrince commented on #6143
Same issue

Seems to work fine if I have Docker running as the drive switches to Docker.

❯ minikube start
😄  minikube v1.15.1 on Darwin 11.1
✨  Automatically selected the hyperkit driver
🔑  The 'hyperkit' driver requires elevated permissions. The following commands will be executed:

    $ sudo chown root:wheel /Users/<removed>/.minikube/bin/docker-machine-driver-hyperkit
    $ sudo chmod u+s /Us

[2020-12-02 19:18] #9472 closed

[2020-12-02 19:22] sharifelgamal commented on #9556
Sorry for the delayed response here, it shouldn't have taken us this long.

So the default-storageclass error is just a red herring, since having addons be healthy isn't required for minikube to come back healthy. It's something we should investigate but it's not what's causing the failure. The real issue is:

`wait 6m0s for node: wait for healthy API server: apiserver healthz never reported healt

[2020-12-02 19:25] ilya-zuyev commented on #9437
@tanmayi2010 any update?

[2020-12-02 19:31] medyagh opened #9827 "TestFunctional/parallel/DockerEnv: healthz reason Forbidden"
as seen in this PR and other PRs I have reviewed
[code]

https://storage.googleapis.com/minikube-builds/logs/9822/d141036/Docker_Linux.html#fail_TestFunctional%2fparallel%2fDockerEnv

[2020-12-02 19:41] medyagh commented on #9561
@mbartosi do you still have this issue with latets version ?
and and does adding   --force-systemd  flag make a difference?

[2020-12-02 19:47] sharifelgamal commented on #8981
I suspect this is fixed by the newest version of minikube. If you're still getting this issue, please reopen this.

[2020-12-02 19:47] #8981 closed

[2020-12-02 19:53] medyagh commented on #9315
I recommend using docker driver, if you can not enable virtualbox, please reach out to virtualbox support https://www.virtualbox.org/wiki/Community

[2020-12-02 19:53] #9315 closed

[2020-12-02 19:57] medyagh commented on #9040
@khsabhishek do you have this problem, I wonder if you have tried our docker driver?
Meanwhile have you tried out newest driver Docker Driver with latest version of minikube?
you could try
minikube delete
minikube start --driver=docker

for more information on the docker driver checkout:
https://minikube.sigs.k8s.io/docs/drivers/docker/

[2020-12-02 20:01] #9712 closed

[2020-12-02 20:17] shankar-forgerock commented on #9556
Thank you for getting back.

I had repurposed the Windows environment I was working with. I will try
to get it back and will keep you posted.

Regards

Shankar

On 12/2/20 11:23 AM, Sharif Elgamal wrote:

--

--
ForgeRock values your Privacy <https://www.forgerock.com/your-privacy>

[2020-12-02 20:22] spowelljr commented on #9779
/assign

[2020-12-02 21:47] medyagh commented on #9438
Hi @scq355 , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-12-02 21:47] #9438 closed

[2020-12-02 22:16] #9714 closed

[2020-12-03 00:37] cristian04 commented on #9798
Same issue here. I tried 1.15.1 and 1.12.3

I am not behind a proxy. I sshed into the minikube instance and I am not even able to resolve / connect to google. Resolvconf is pointing to 192.168.64.1

kubectl get events

[code]

OS: MacOs Mojave

# Error:

[code]

# Minikube logs

[code]

[2020-12-03 02:57] g5li commented on #9684
I'm not sure what is happening in your logs, but if you didn't run `minikube delete`, that might be the problem.

[2020-12-03 03:05] lingsamuel opened #9830 "`minikube node start` logs unexpected first step"
**Steps to reproduce the issue:**

1. minikube start
2. minikube node stop xxx
3. minikube node start xxx

**Full output of failed command:**
No a failure, but strange (network options removed):
[code]

[2020-12-03 03:12] lingsamuel opened #9831 "`node stop & start` on master fails: failed to load admin kubeconfig: open /root/.kube/config: no such file or directory"
**Steps to reproduce the issue:**

1. start a cluster
2. `minikube node stop` the master node
3. `minikube node start` it, failed:
[code]

And try `minikube node start` again, got:
[code]

To fix this, I have to use ` minikube stop && minikube start` to restart the whole cluster.

[2020-12-03 03:26] LoseyourseIf commented on #3416
I found a problem that when I use `minikube start` without `--vm-driver=hyperkit`, the`minikube ip` dosen't match `kubectl describe node | grep InternalIP`. After I Add `--vm-driver=hyperkit` that's fine.
**OS** macOS Catalina
**minikube version** v1.15.1

[2020-12-03 04:30] lingsamuel commented on #9831
Because `node start` always set apiserver=false: `_, err = node.Start(s, false)`

[2020-12-03 04:47] lingsamuel commented on #9826
/kind support

[2020-12-03 05:40] mbartosi commented on #9561
Right now I have one testing host with Minikube 1.15.1 / Kubernetes release 1.19.4 and it started OK after a long fight with startup scripts -- my testing host OS is Gentoo, not Debian :)
The problem was that kubelet wasn't starting at all because of utterly broken systemd unit, more info here: https://gist.github.com/thanatos/bc1ef8e9e60fa524cb89734a847ca0bc
I suspect similar problem on Debian, a

[2020-12-03 05:45] lingsamuel opened #9834 "Shouldn't write node info into config.json before we got ip"
**Steps to reproduce the issue:**

1. Open config.json, run `minikube node add minikube-m02`
2. Interrupt the add command after the node info presented in config.json but before `ip` is set
3. Run `minikube stop && minikube start`, the node couldn't start

[2020-12-03 05:51] lingsamuel commented on #9834
Also `minikube node delete minikube-m02` won't work because the node doesn't exist.

[2020-12-03 06:27] RA489 commented on #9834
/kind support

[2020-12-03 09:09] qiang0 opened #9835 "minikube installation section is empty under Get Started"
"Installation" section is empty.
https://minikube.sigs.k8s.io/docs/start/

[2020-12-03 09:48] ppatierno opened #9836 "Minikube isn't able to reach Docker Hub on Fedora 33"
**Steps to reproduce the issue:**

1. minikube start
2. Try to create a Deployment with a Docker Hub image

**Output**

Minikube starts but then the Docker daemon is not able to pull an image from Docker Hub with following error.

[code]

This was just working before updating to Fedora 33.

[2020-12-03 09:57] ppatierno commented on #9836
I solved switching to use `--driver=kvm2` ... any specific reason why it's needed now on Fedora 33 and the default `--driver=docker` (used by default when auto-detect on my machine) doesn't work?

[2020-12-03 13:09] BenAji commented on #9359
I recently experienced a similar blocker, I later got to know that I did not enable virtualization in the BIOS setting s of my PC.

---Restart your system
---Press ESC or f10 during boot
---Go to Advanced
---Tick the Virtualization Technology
----Save
And run minikube start in Admin mode again

[2020-12-03 13:10] BenAji commented on #9359
I recently experienced a similar blocker, I later got to know that I did not enable virtualization in the BIOS setting s of my PC.

---Restart your system
---Press ESC or f10 during boot
---Go to Advanced
---Tick the Virtualization Technology
----Save
And run minikube start in Admin mode again

[2020-12-03 13:54] jrstrengen commented on #9359
@BenAji Just to verify, I checked that Intel Virtualization was enabled, but found VT-d was disabled so enabled this as well.
But it made no difference
Also downloaded 15.1, to verify but still same issue.

[2020-12-03 15:29] BenAji commented on #9359
What version of windows are you using?
ajiB*en*

On Thu, Dec 3, 2020 at 2:54 PM jrstrengen <notifications@github.com> wrote:

[2020-12-03 15:51] jrstrengen commented on #9359
Running Windows 10 Pro. Version 1909 - build 18363.1139

[2020-12-03 16:15] afbjorklund commented on #9836
Probably cgroups v2, but hard to tell without the logs

[2020-12-03 16:19] afbjorklund commented on #9835
Which platform and browser ? There is supposed to be three tabs

![installation](https://user-images.githubusercontent.com/10364051/101056901-c19dc280-358b-11eb-963e-5578449f3a74.png)

[2020-12-03 16:34] NatsumiHB opened #9837 "crio + docker + wsl2: Module br_netfilter not found in directory /lib/modules/4.19.128-microsoft-standard"
**Steps to reproduce the issue:**

1. Run `minikube start --container-runtime=cri-o`
2. Get `modprobe: FATAL: Module br_netfilter not found in directory /lib/modules/4.19.128-microsoft-standard`

**Full output of failed command:**
[code]

**Full output of `minikube start` command used:**
https://haste.natsumi.dev/luziwocotu

I was trying to run minikube with cri-o as container runtime and docker a

[2020-12-03 16:36] BenAji commented on #9359
Do you have Dockers installed?
ajiB*en*

On Thu, Dec 3, 2020 at 4:51 PM jrstrengen <notifications@github.com> wrote:

[2020-12-03 16:39] NatsumiHB commented on #9837
Addition: Searching for the error yielded no usable results

[2020-12-03 18:09] sadlil opened #9838 "Problematic Multi Node Networking with docker driver and kindnetd CNI"
Creating a multi node minikube cluster with docker driver and kindnetd CNI seems to be resulting in broken netwroking inside the pods running in the worker nodes. This networking problem is not presents with calico CNI plugin.

[code]

[code]

[code]

**Steps to reproduce the issue:**

1. minikube start -p multi-node -n 3
2. Create nginx deployment and svc, and another network test deployment.
[co

[2020-12-03 19:42] medyagh opened #9839 "TestScheduledStopUnix flake"
cheduled_stop_test.go:95: process 14245 running but should have been killed on reschedule of stop

https://storage.googleapis.com/minikube-builds/logs/9829/e3a611b/KVM_Linux.html

[2020-12-03 20:20] priyawadhwa commented on #9839
This test is definitely a little bit flaky:

[code]

[2020-12-03 20:39] jrstrengen commented on #9359
Yes, I have docker installed. And also hyper-v
By running an older version (1.11.0) i get minikube to work, just have to bypass hyper-v check by doing --force.
Any newer version than that --force does not help.

[2020-12-03 20:55] bkahlerventer commented on #9798
I solved my problem by stopping minikube, delete the minikube docker container, delete the minikube image, remove the minikube commandline app, then starting fresh with the same versions, then problem was solved.

Looks like some configuration that got saved to the minikube container.

[2020-12-03 21:07] gattytto commented on #8535
/remove-lifecycle rotten

[2020-12-03 21:53] samuelfusato opened #9843 "Can't access application URL - Minikube installed on CentOS 8 running on a VM"
**Steps to reproduce the issue:**

1. CentOS 8 (server) on a VM without (host is Windows 10)
2. Docker and Minikube installed properly
3. Trying to build the application on the .yml file below:

[code]

**Full output of failed command:**
[code]
**Full output of `minikube start` command used, if not already included:**
[code]
**Optional: Full output of `minikube logs` command:**
<details>

</detail

[2020-12-03 22:08] samuelfusato commented on #9843
I was digging a little bit on it and found this [thread](https://stackoverflow.com/questions/48398800/minikube-service-url-not-working). Looks like I have that "VMinception" scenario. So, I don't exactly which IP address I should use to access that app.  Can someone assist? Thanks.

[code]

[2020-12-04 01:45] qiang0 commented on #9835
I access this page on with Chrome, on Windows 10 OS.
I access it thru proxy, but it's been set properly and all other contents shown well.
![image](https://user-images.githubusercontent.com/10744290/101111049-4bde3900-3615-11eb-92ab-ec983f0948e2.png)

[2020-12-04 03:54] BenAji commented on #9359
I'm so sorry about the whole bugs unfixed, perhaps we can have time
together by sharing your screen with, start the whole process from scratch
if you don't mind.
ajiB*en*

On Thu, Dec 3, 2020 at 9:39 PM jrstrengen <notifications@github.com> wrote:

[2020-12-04 03:59] SanchezjCoronado opened #9845 "Aiuda!!!"
**Los comandos necesarios para reproducir la incidencia**:

**El resultado completo del comando que ha fallado**: <details>

</details>

**El resultado del comando `minikube logs`**: <details>

</details>

**La versión del sistema operativo que utilizaste**:

[2020-12-04 05:50] gbuchupa opened #9846 "Minikube Offline usage"
I am trying to install minikube and it dependencies and trying to start minikube offline after copying ".minikube/cache" folder contents from a running minikube machine. But it still throws following error message to me.

[3:12 PM, 12/3/2020] Gangs: bharat@Bharat-Desktop:~$ minikube start
😄  minikube v1.15.1 on Ubuntu 20.04
🆕  Kubernetes 1.19.4 is now available. If you would like to upgrade, speci

[2020-12-04 06:45] afbjorklund commented on #9846
If you want to use the docker driver, you need to cache the base-image as well. (`gcr.io/k8s-minikube/kicbase`)
When using the vm drivers, it needs the minikube.iso cached. The k8s images _should_ have been cached though.

Probably this needs a better regression test, it is supposed to be downloaded by `minikube start --download-only`
But currently the base image for the docker driver (or the podm

[2020-12-04 06:50] afbjorklund commented on #9835
Possibly related to #9814

[2020-12-04 07:28] chiehpower commented on #9792
Dear @afbjorklund,

After I tested some settings about docker, but it could not be solved.
(Not sure whether my solving direction was correct or not.)

## Here are my steps

[code]

Hence, go to add one line
[code]
Like

[code]
sudo update-grub

Then reboot, and docker info again.
And then solved the `WARNING: No swap limit support`

But when I minikube again.
[code]
It still cannot let me assign

[2020-12-04 08:02] ghostdaxia opened #9847 "minikube addons enable ingress"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2020-12-04 08:28] biubiulu opened #9848 "不是吧不是吧，现在最新支持的版本才15 ？？"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>
官方不是都更新到了19了嘛，麻烦把在洗手间打王者荣耀的开发拉出来让他把19的写出来哈哈。开个玩笑，你们辛苦啦

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：                                                                                                  祝好

[2020-12-04 08:45] #9830 closed

[2020-12-04 08:53] chiehpower opened #9849 "❌ Exiting due to GUEST_PROVISION: Failed to start host: creating host: create: provisioning: ssh command error:"
Hi all,

Here are my commands.

[code]

I always faced this issue after I downgraded the k8s version from 1.19 to 1.15.
[code]

I cannot use `sudo` in front of `minikube start --driver=docker  --kubernetes-version v1.15.12 `
Otherwise, it will happen this error.
[code]

Do you have any idea to fix this issue?
[code]

Thank you!

BR,
Chieh

---
# Env
- minikube version: v1.14.1
- k8s: 1.15.12
- OS:

[2020-12-04 09:24] jrstrengen commented on #9359
@BenAji I thank you for your offer, but unfortunatly i cannot do that at the moment.

[2020-12-04 10:39] lingsamuel commented on #9848
/close
Not a issue

[2020-12-04 10:43] ahojcn commented on #9615
I have the same problem and my solution is as follows，I hope it will help you：

0、run Shadowsocks and connect a server
1、download the image `us.gcr.io/k8s-artifacts-prod/ingress-nginx/controller:v0.40.2`
2、export image to temp.tar use command `docker save us.gcr.io/k8s-artifacts-prod/ingress-nginx/controller:v0.40.2 > temp.tar`
3、upload `temp.tar` to minikube node
4、exec in minikube ssh，load it an

[2020-12-04 11:56] prezha opened #9850 "automate gopogh version update"
currently, whenever a new stable gopogh version is released, we are manually bumping gopogh version in a number of files (eg, commit aa64b8bf7fec5daa816ba368225cd8c4ef0a945f):
- .github/workflows/iso.yml
- .github/workflows/kic_image.yml
- .github/workflows/master.yml
- .github/workflows/pr.yml
- hack/jenkins/common.sh

would be nice to automate this process, for which we can utilise `hack/update`

[2020-12-04 11:56] prezha commented on #9850
/assign

[2020-12-04 12:07] prezha opened #9851 "fix 'update suite' to use release tags instead of release names"
currently, in `hack/update` 'update suite' scripts, we use release name to automatically extract the version

release names can be arbitrary (eg, as seen in https://github.com/kubernetes/kubernetes/releases with `Kubernetes v1.20.0-rc.0`), while the tags should be release versions in semver format, and that is what we should use instead

[2020-12-04 12:07] prezha commented on #9851
/assign

[2020-12-04 13:45] BenAji commented on #9359
Okay, I wish you successful debuging then!
Regards
BenAji

On Fri, 4 Dec 2020, 10:25 jrstrengen, <notifications@github.com> wrote:

[2020-12-04 14:49] AndrewPanov commented on #9161
/remove-lifecycle stale

[2020-12-04 20:20] #9850 closed

[2020-12-04 20:37] #9851 closed

[2020-12-04 20:57] medyagh commented on #9845
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[code]

This wi

[2020-12-04 20:57] medyagh commented on #9847
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[code]

This wi

[2020-12-04 20:58] #9848 closed

[2020-12-05 02:03] ahojcn commented on #9847
@ghostdaxia  #9615 has the same question

[2020-12-05 03:34] jasperf opened #9858 "Enabling 'ingress' returned an error"
**Steps to reproduce the issue:**

At start of latest Minikube I get this output including an error related to Ingress . I would like to know if this can be remedied. Doubt it is related to the mount issues I have but to have Ingress work well or better it would be good to deal with this issue.

**Full output of `minikube start` command used, if not already included:**

[code]

**Optional: Full ou

[2020-12-05 05:22] jasperf commented on #9858
Well, on `minikube delete`, minikube start` and `minikube addons enable ingress`  all seemed to start up normally again

[code]

[2020-12-05 05:22] #9858 closed

[2020-12-05 07:32] coder2213 commented on #9684
I ran minikube delete, forgot to mention.

[2020-12-05 09:22] afbjorklund commented on #9226
I guess we close this PR then ?

[2020-12-05 09:23] msedzins commented on #9335
@cpaika  Pull request was merged. I think we can close this issue.

[2020-12-05 11:21] pribalaji58 opened #9860 "Exiting due to GUEST_START: wait 6m0s for node: wait for healthy API server: controlPlane never updated to v1.19.4"
**Steps to reproduce the issue:**

1.* Preparing Kubernetes v1.19.4 on Docker 19.03.13 ...
! Unable to restart cluster, will reset it: apiserver health: controlPlane never updated to v1.19.4
* Verifying Kubernetes components...
! Enabling 'default-storageclass' returned an error: running callbacks: [Error making standard the default storage class: Error listing StorageClasses: Unauthorized]
* Enab

[2020-12-05 12:20] afbjorklund commented on #9705
As mentioned in #9714, this cleanup now also applies to the created network.

`sudo podman network rm minikube`

[2020-12-05 13:03] nagarajcruze commented on #9684
@coder2213  did you find any fix for this?

[2020-12-05 13:10] afbjorklund commented on #9804
Currently missing an arm32 package, for Raspbian... The binary is available, though:

https://storage.googleapis.com/minikube/releases/latest/minikube-linux-arm

[code]

[code]

[2020-12-05 14:25] kylemclaren commented on #6296
Still an issue for me:

[code]

[code]

[2020-12-05 14:38] assassin5615 opened #9864 "minikube start"
the Installation section is empty.

![image](https://user-images.githubusercontent.com/18673892/101245832-9a412400-374a-11eb-967b-a0a77b31bd9a.png)

[2020-12-05 16:05] afbjorklund opened #9865 "Disable minikube-scheduled-stop.service until a user schedules a stop"
The environment file is missing:

[code]

It needs to have a `-` in front:

`EnvironmentFile=-/var/lib/minikube/scheduled-stop/environment`

[2020-12-05 16:07] afbjorklund commented on #9865
Something for you, @priyawadhwa ?

[2020-12-05 18:00] Hongbo-Miao commented on #5020
Hi @SataQiu `minikube start --image-repository registry.aliyuncs.com/google_containers` works.
However, after I run something like `kubectl apply -f k8s` on, for example, an Udemy course's ["complex" project folder](https://github.com/StephenGrider/DockerCasts/tree/master/complex).

![image](https://user-images.githubusercontent.com/3375461/101259795-0e3cf580-3766-11eb-8718-92034eab7195.png)

Pull

[2020-12-05 18:52] Hongbo-Miao commented on #5020
Finally make it works. Here are the steps for macOS:

## Step 1
Download this Aliyun version minikube by

[code]

## Step 2

Start your minikube by
[code]

**Note 1**: You can find latest minikube version at https://github.com/kubernetes/minikube/blob/master/CHANGELOG.md, then change `minikube-v1.15.0.iso` in the command above to newer version. However, Aliyun's minikube version is a little behind

[2020-12-05 19:50] #4324 closed

[2020-12-06 00:02] sanitariu commented on #1710
I have the same problem using virtualbox 6.1.14. Problem is e1000 driver. Any ideas how to fix it ?

[2020-12-06 07:03] priyawadhwa commented on #9865
Yup that's for me! Did this happen before or after you tried to schedule a stop?

If before, it's not technically a bug since we copy in the env file when a user runs

[code]

[2020-12-06 08:46] afbjorklund commented on #9865
It happened on boot of a brand new cluster

[2020-12-06 09:09] afbjorklund opened #9868 "Consider using CRI for docker runtime"
Just like the "dockershim" in Kubernetes, the cruntime uses direct commands for Docker.

https://github.com/kubernetes/minikube/blob/master/pkg/minikube/cruntime/docker.go

It would be nice if it would use the CRI (where possible), like the _other_ runtimes are doing.

https://github.com/kubernetes/minikube/blob/master/pkg/minikube/cruntime/cri.go

We do have the `crictl` all configured, so just a

[2020-12-06 09:10] afbjorklund commented on #9868
Once docker also uses it, we could consider making CRI mandatory like we did with CNI.

[2020-12-06 11:53] esentai8 opened #9869 "Failed to start docker container: docker copy to minikube:/home/docker/.ssh/authorized_keys, output: lstat tmpf-memory-asset: no such file or directory"
I am using Ubuntu 20.04 LTS

**Steps to reproduce the issue:**

1.Installed kubectl according to the instructions from the official website
2. Installed minicube according to the instructions from the official website
3. running 'minikube start'

**Full output of failed command:**
[code]

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `miniku

[2020-12-06 12:34] goafabric commented on #9224
Just to let you know,
Minikube already works on Apple Silicon M1.
Together with VFTool https://github.com/evansm7/vftool
And a Ubuntu 20 Iso Image, you just can install Docker via apt.
Than snatch Minikube ARM64 which is surprisingly there via

curl sudo curl -Lo minikube https://storage.googleapis.com/minikube/releases/latest/minikube-linux-arm64
sudo curl -LO https://storage.googleapis.com/kuber

[2020-12-06 13:46] afbjorklund opened #9870 "Building images with podman-remote seems to be broken"
Running into various issue when trying to use "minikube podman-env", with podman-remote (version 1.9.3)

Not sure if it was working previously, but seems to have some out-of-the-box issues now. Workaround is ssh.

Error with minikube:

[code]

But runs fine locally:

[code]

Also seen some new kind of network issues, with the CNI networking:

`error running container: error configuring network lis

[2020-12-06 14:11] afbjorklund commented on #9224
This issue was actually about darwin (macOS), not so much about the actual hardware (arm64)

It is not so surprising with the arm64 support, and we will have support for more drivers soon...

See #9762 for more ARM links

Glad to hear that it works, if this has support for libvirt or something we could make it an alternative ?

Currently we are using Docker's [HyperKit](https://github.com/moby/hyp

[2020-12-06 15:15] sadlil commented on #9838
/assign

[2020-12-06 15:33] sadlil commented on #9838
Here is what I have found so far,
1. To add podCIDR in node spec, we should ask kubeadm to add a flag to kube controller manager -- `allocate-node-cidrs: "true"`. But with this we must specify `podSubnet` in `ClusterConfiguration`. An empty podSubnet might cause kube-controller-manager to crash.

2. The networking is broken because the control plane node did not configure a cni even when we are as

[2020-12-06 20:03] chatterjeesunit commented on #8733
My minikube version is : v1.15.1

I started minikube using this command
`minikube start --memory 6000 --cpus=4 --nodes=2 --disk-size='5gb'`

`minikube dashboard` never works for me if nodes are greater than 1.

[2020-12-06 21:45] cristian04 commented on #9798
I am leaving a recording of my terminal showing the error. I think it's related to the DNS configuration on the Hyperkit VM.

https://asciinema.org/a/377638

It works fine with both Docker and Virtualbox drivers.

[2020-12-06 23:08] gbraad commented on #9870
Can you verify this on a Fedora install?

On Sun, Dec 6, 2020, 21:47 Anders Björklund <notifications@github.com>
wrote:

[2020-12-07 02:08] chiehpower commented on #9792
It is so strange but if I start by a lower version of k8s, it can work!

### Command
[code]

### Output
[code]

Thank you so much.

[2020-12-07 02:08] #9792 closed

[2020-12-07 02:09] chiehpower commented on #9849
Solved it. Check here: #9792

[2020-12-07 02:09] #9849 closed

[2020-12-07 02:29] jasperf opened #9871 "Unable to attach or mount volumes: unmounted volumes"
Been trying to have my persistent volume claims to work with my deployment. Switched from hostPath based loading to using the standard StorageClass as that seems to be easier and I only need persistent volume claims. Whatever I do however I am getting

[code]

When I check the running PVCs and PVs all looks well:
[code]

And I am clearly out of my depth here. So here is my basic setup hoping someo

[2020-12-07 05:12] jasperf commented on #9871
Well it seems I need to give the Nginx config its own volume and or volume claim. Once I had done that I could both continue with a Standard storage class without hostPath and one with `hostPath` and both PVs and PVCs.

[2020-12-07 05:12] #9871 closed

[2020-12-07 05:26] azhao155 commented on #9838
To add cidr, could we --extra-config=kubeadm.pod-network-cidr=10.244.0.0/16 ?

[2020-12-07 05:48] sravano9 opened #9872 "vbox on v1.12.3: minikube is unable to connect to the VM: dial tcp 172.17.0.1:22: i/o timeout"
**Steps to reproduce the issue:**

1.
2. minikube start
😄  minikube v1.12.3 on Ubuntu 18.04
✨  Using the virtualbox driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🏃  Updating the running virtualbox "minikube" VM ...
❌  minikube is unable to connect to the VM: dial tcp 172.17.0.1:22: i/o timeout

	This is likely due to one of two reasons:

	- VPN or fir

[2020-12-07 05:51] azhao155 commented on #9838
You are right, CIDR and cni selection are the two problems.
 ./out/minikube start -n 2  -p p1 --cni=kindnet --extra-config=kubeadm.pod-network-cidr=10.244.0.0/16
fixed the issue.

[2020-12-07 06:46] afbjorklund commented on #9870
Not sure what a Fedora install _is_, there are no client binaries for Fedora and there is no support for it in the ISO or the KIC...

https://github.com/containers/podman/releases/download/v1.9.3/podman-remote-static.tar.gz

But the problem itself should be reproducable (reports appreciated), about trying to use podman-env and podman-remote ?

Can also use the local method, but that was the one wi

[2020-12-07 07:15] lingsamuel commented on #9864
/title Document installation section is empty

[2020-12-07 07:18] lingsamuel commented on #9864
![image](https://user-images.githubusercontent.com/14567045/101320749-3aa85d00-389f-11eb-9e5e-523c4b0b4ad2.png)

Have you enabled JS?

[2020-12-07 07:24] lingsamuel commented on #9864
/kind support

[2020-12-07 07:55] qiang0 commented on #9835
Seems like table size shrink to 1 pixel on the vertical direction.
![image](https://user-images.githubusercontent.com/10744290/101324021-81e51c80-38a4-11eb-954b-9ccf81688efe.png)

[2020-12-07 08:40] gbraad commented on #9870
I mean, try this out on a Fedora 32 or 33 release to see if this issue is
reproducible outside of the Minikube environment (preferably with the same
versions). I do not remember seeing this. Since this information is helpful
to determine where the issue is.

For instance, our CRC images use Podman 1.9.3 and I do not recall seeing
this, which makes this Minikube specific. Though, this has been a wh

[2020-12-07 09:08] bmariesan commented on #6296
same issue for me, similarly to @kylemclaren I have no VPN at all,

[2020-12-07 09:53] cristian04 commented on #9798
This seems to be related with  #3036

[2020-12-07 10:02] afbjorklund commented on #9870
Would need your help with testing on Fedora (or CentOS, or CRC), don't have such an environment (#3552)
I have been using Vagrant for doing some local testing, but it's not really wrking for doing nested virtualization

Supposedly it was working for previous releases, but I don't think we have too much regression testing on it...
But there is no maintenance track for podman v1 (outside of RHEL), s

[2020-12-07 10:04] afbjorklund commented on #9870
I thought that CRC didn't support `podman-remote` (and the podman service) yet, but maybe I am mistaken.

[2020-12-07 10:18] gbraad commented on #9870
We had (have). We had an issue with the client on Windows. They weren't
available in time to continue the trouble ...

... as we were also waiting for this to align. Currently available on FCOS,
so we have started testing for exposing this... just waiting for the GA as
part of our image base.

Perhaps we can assist with this? So, the question if it is worth spending
time on V1 now.

On Mon, Dec 7,

[2020-12-07 10:21] lingsamuel commented on #7461
/assign
I almost done it. But I think Kubeadm is not very friendly to this work at present. I will submit some PRs to k/k later to make the implementation of this feature more convenient.

[2020-12-07 10:26] afbjorklund commented on #9870
We buried varlink _thoroughly_ (6') on the previous Podman Community meeting.
And then there was a shared sign of relief about this, again on the last meeting.

https://podman.io/community/meeting/

Supporting Mac users (podman-machine) or Kubernetes users (minikube) is not a priority.

So generally they are moving back to Vagrant, when it comes to providing Podman VMs.

----

All the code has bee

[2020-12-07 11:04] afbjorklund commented on #9864
Same as #9835

[2020-12-07 14:15] sadlil commented on #9838
You are right setting both `--cni=kindnet --extra-config=kubeadm.pod-network-cidr=10.244.0.0/16` works but setting only `-extra-config=kubeadm.pod-network-cidr=10.244.0.0/16` doesn't. This is because of the node length check i mentioned. When we do provide a --cni we do not check for node counts before enabling it.

[2020-12-07 14:58] lingsamuel commented on #9864
Disable JS can repro too. Maybe a bad connection cause the scripts not loaded.

[2020-12-07 15:32] assassin5615 commented on #9864
@lingsamuel thanks for checking, javascript is always enabled. I think I've found the reason with your hints.

 I had problem downloading the javascript while opening the page. I can see those tabs after using a VPN.  I guess that people visiting the page from China  are likely to run into the issue.

[2020-12-07 15:32] #9864 closed

[2020-12-07 15:51] cpaika commented on #9335
@msedzins Awesome, sounds good!

[2020-12-07 15:51] #9335 closed

[2020-12-07 16:07] ucohen opened #9874 "corp proxy: Get "https://control-plane.minikube.internal": x509: certificate signed by unknown authority"
Trying to start minikube behind corporate proxy, I cannot get it to start.
I trid to folow [https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy](https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy) - not sure if got it correct.

**Steps to reproduce the issue:**

1. running Ubuntu 18.04
2. using corporate proxy setting

[code]

**Full output of `minikube start` command used, if not alrea

[2020-12-07 16:10] ericvn commented on #9720
Same issue. Will try and follow the earlier directions

[2020-12-07 19:12] priyawadhwa commented on #9865
That makes sense, since the file hasn't been copied over yet.

Best way to fix this is probably to disable the systemd service so it doesn't start on boot, and then enable it the first time user runs `minikube stop --schedule `

[2020-12-07 19:25] priyawadhwa commented on #9560
Setup `minikube start` @ HEAD in our performance tracking dashboard in Cloud Shell for crio/docker runtimes. containerd won't work in Cloud Shell until it uses the `systemd` cgroup manager.

This dashboard will:
1. make sure `minikube start` works in cloud shell with both runtimes
1. makes sure it isn't slowing down

and alert if either of those is untrue.

[2020-12-07 19:25] #9560 closed

[2020-12-07 20:42] afbjorklund commented on #9835
Thanks for this information, it does like the jQuery code has some issues - any failure, and it will "hide" the instructions

If you search for `$ is not defined`, you get **lots** of similar hits. In this case, it was from "ERR_CONNECTION_RESET".

[2020-12-07 20:45] afbjorklund commented on #9835
@spowelljr : any chance of making the code more robust against such connectivity failures, and have a nicer fallback ?

[2020-12-07 20:58] spowelljr commented on #9835
@afbjorklund I can definitely take a look at this, I tested on a commit before #9814 and it does the same thing when jQuery fails to load, so reverting my change will not fix this.

[2020-12-07 21:00] afbjorklund commented on #4868
/remove-lifecycle rotten

Also needs an implementation for buildkit, for use with the containerd container runtime.

[2020-12-07 21:51] adichills commented on #9722
what should we edit line 21 to ?

[2020-12-07 23:24] g-luo opened #9877 "Minikube cannot docker login or docker pull"
**Steps to reproduce the issue:**

This is on Ubuntu 18.04 in a Singularity container hosted on a remote machine.
1. Run `minikube start`
2. Run `eval $(minikube docker-env)`
3. Run `docker login` or `docker pull hello-world`

**Full output of failed command:**

`Error response from daemon: Get https://registry-1.docker.io/v2/: net/http: request canceled while waiting for connection (Client.Timeou

[2020-12-08 00:06] g-luo commented on #3799
@toothrot I'm having a very similar issue; what command did you use to reboot?

[2020-12-08 00:09] josecsotomorales commented on #9722
Getting this issue as well https://github.com/kubernetes/minikube/issues/9722#issuecomment-735039000

[2020-12-08 00:33] harryttd commented on #9847
[code]

[2020-12-08 03:03] reach4bawer opened #9878 "kvm2 on v1.15.1: error creating bridge interface virbr0: File exists"
**Steps to reproduce the issue:**

[code]

Settings for virsh is as follows -

[code]

**Full output of failed command:**

[code]

**Full output of `minikube start` command used, if not already included:**

[code]

**Optional: Full output of `minikube logs` command:**
<details>
[code]
</details>

I am unable to start minikube using kvm2 on Manjaro. I tried turning off my VPN thinking that it might

[2020-12-08 06:09] g-luo commented on #9877
Resolved! The fix was changing Docker's IP tables and restarting the docker daemon (`systemctl restart docker`).

[2020-12-08 06:09] #9877 closed

[2020-12-08 07:04] floek opened #9879 "ISO: Enable CONFIG_XFS_QUOTA"
Please enable CONFIG_XFS_QUOTA in linux kernel options for the VirtualBox ISO image. This leeds to problems with the kadalu storage provider. See: https://github.com/kadalu/kadalu/issues/351

**Steps to reproduce the issue:**

1. Boot minikube
2. try to mount a xfs filesystem with quota support.

**Full output of failed command:**
mount: /bricks/storage-pool-1/data: wrong fs type, bad option, bad

[2020-12-08 10:58] sudechun opened #9880 "No such container: minikube"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-12-08 18:17] #9754 closed

[2020-12-08 18:24] #9804 closed

[2020-12-08 18:29] #9769 closed

[2020-12-08 19:00] segevfiner commented on #8980
/remove-lifecycle stale

[2020-12-08 19:19] acabrele opened #9881 "Calico + CIDR changes result in non functioning DNS without FQDN"
**Steps to reproduce the issue:**

minikube start \
--driver='virtualbox' \
--profile=cluster0 \
--cpus=4 \
--memory=4096 \
--cni='calico' \
--extra-config=kubeadm.pod-network-cidr=10.0.1.0/24 \
--service-cluster-ip-range='10.0.2.0/24' \
--dns-domain=cluster0.local

**Full output of failed command:**

Quick easy test:

[code]

If a FQDN is used, I see what I would expect:
[code]

kubedns looks OK

[2020-12-08 19:42] #9731 closed

[2020-12-08 19:46] tharun208 commented on #9865
@priyawadhwa I like to work on this

[2020-12-08 20:12] gwgorman commented on #8765
Deleting the cluster and the .minikube directory did it for me.

[2020-12-08 20:40] priyawadhwa commented on #9865
Thanks @tharun208 ! Some steps you will need to take:

1. We want to make sure minikube-scheduled-stop.service doesn't start on boot, so that will likely require a change in both of our systemd service files:

1. https://github.com/kubernetes/minikube/blob/master/deploy/iso/minikube-iso/package/scheduled-stop/minikube-scheduled-stop.service
1. https://github.com/kubernetes/minikube/blob/master/dep

[2020-12-08 20:41] #9271 closed

[2020-12-08 23:42] medyagh opened #9884 "add SHA image for addons"
for more security so if someone pushes the same image tag , we should not accept it, and we should secure it by adding the sha to the image tag
https://github.com/kubernetes/minikube/blob/83f9bd1df385ae8d1d47a5951c2bc9231bd8358c/deploy/addons/registry-creds/registry-creds-rc.yaml.tmpl#L21

Current tag is pointing at upmcenterprises/registry-creds:1.10@sha256:93a633d4f2b76a1c66bf19c664dbddc56093a54

[2020-12-08 23:58] bl-ue opened #9885 "Kubernetes v1.20?"
[Kubernetes v1.20.0](https://github.com/kubernetes/kubernetes/releases/tag/v1.20.0) was released.  When will minikube support it?

[2020-12-09 00:09] jonjohnsonjr commented on #9259
I have some questions :)

It looks like [this](https://github.com/kubernetes/minikube/blob/83f9bd1df385ae8d1d47a5951c2bc9231bd8358c/cmd/minikube/cmd/config/configure.go#L76-L93) is what prompts the user to configure GCR credentials with the registry-creds addon. Does this only allow one URL for GCR? It appears to be impossible to configure both e.g. gcr.io and asia.gcr.io using this addon. Is that

[2020-12-09 05:14] cristian04 commented on #9798
The issue was related to a VPN Kernel extension for MacOs that disables communication with the Hyperkit endpoint (192.168.64.1)

If you need to troubleshoot this, try opening a port on your host machine `nc -l 8080` and try connecting to that port from the minikube instance. `curl -v 192.168.64.1:8080`

My fix was to uninstall the VPN Client.

I think this can be closed now

[2020-12-09 06:48] afbjorklund commented on #9885
`minikube start --kubernetes-version=v1.20.0` (or: minikube 1.16.0)

[2020-12-09 08:16] abebe-shadow commented on #7903
do not run the "minikube start" command with a root (sudo) privilege.
this worked for me

[2020-12-09 10:34] Bouhaha-Anas commented on #7879
hey @cheslijones,
i'm newby in kubernetes and i'm following an online course,
I was facing the same problem.
I'm working on windows OS (note that the course tutor was working on MacOS), when i made the `minikube ip` it returns 127.0.0.1 and when i flip to my browser entering the 127.0.0.1:<my-nodePort> the site is not reachable..

But when i ran the command `minikube service <my-service>` it gave:

[2020-12-09 13:16] bl-ue commented on #9885
Thank you @afbjorklund!  That worked.

[2020-12-09 15:10] dineshreddychittamuri opened #9890 "minikube installation on windows powershell using hypervisor as driver"
**Steps to reproduce the issue:**

1.minikube start --driver=hyperv
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-12-09 15:57] KubaJakubowski commented on #4313
Anything new on this?
I'm looking for way to access minikube pod in cluster within local network and I cannot do it in any way except using socat.

In case that someone would like to use it anyway with socat I post solution below:
`socat TCP-LISTEN:<HOST_PORT>,fork TCP:<CLUSTER_ADDRESS>:<POD_PORT> &`

[2020-12-09 16:34] pzs-pzs commented on #8799
my minikube version is v1.14.2

➜  gin-demo minikube cache add my_image:1.0.0
E1210 00:05:26.980452   31876 cache.go:63] save image to file "my_image:1.0.0" -> "/Users/puzhengsong/.minikube/cache/images/my_image_1.0.0" failed: nil image for my_image:1.0.0: GET https://index.docker.io/v2/library/my_image/manifests/1.0.0: UNAUTHORIZED: authentication required; [map[Action:pull Class: Name:library/my

[2020-12-09 16:39] MOZGIII commented on #8799
It works for me at 1.15.1:

[code]

@pzs-pzs can you open another issue for this please?

[2020-12-09 16:43] pzs-pzs commented on #8799
@MOZGIII thx, I will open another issue

[2020-12-09 16:47] pzs-pzs opened #9891 "UNAUTHORIZED: authentication required"
minikube version: v1.15.1
commit: 23f40a012abb52eff365ff99a709501a61ac5876

[code]

[2020-12-09 17:19] Randikaviraj commented on #6171
I am using the cloud flatform and cannt start minikube it's give as

😄  minikube v1.15.1 on Ubuntu 18.04
✨  Using the virtualbox driver based on existing profile

⛔  Requested memory allocation (978MB) is less than the recommended minimum 1907MB. Deployments may fail.

🧯  The requested memory allocation of 978MiB does not leave room for system overhead (total system memory: 978MiB). You may face s

[2020-12-09 17:22] BenAji opened #9892 "kubelet stopped working"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-12-09 17:37] BenAji commented on #6357
You might want kill your firewalls and then `minikube to start and stop` the

[2020-12-09 17:38] BenAji commented on #9892
Kill your antivirus firewall
`minikube stop`
and then `minikube start`

[2020-12-09 18:18] yossicohn opened #9893 "minikube addons enable registry-creds Fails over version 1.15.1, 1.15.0"
**Steps to reproduce the issue:**

1. install Minikube  v1.15.1
2. `minikube addons enable registry-creds --alsologtostderr`
3. The command does not seem to finish, and the logs show an endless loop of error (see in Full output of failed command).
4. fix by rolling back to v1.14.2

**Full output of failed command:**
`stderr:
error: error parsing /etc/kubernetes/addons/registry-creds-rc.yaml: error

[2020-12-09 18:23] tstromberg commented on #9795
This test appears to be non-hermetic. Like other tests, it should be based on a temporary minikube home directory, or skip the filesystem altogether.

[2020-12-09 18:41] tstromberg commented on #9837
I suspect the way we check for the kernel module may not be appropriate for your environment (WSL2? not sure). I'll propose an alternate PR for you to try.

[2020-12-09 18:43] NatsumiHB commented on #9837
Nope, I'm not using WSL2. It's running natively on Windows with Docker as host. Docker does have the WSL2 integrated enabled but I don't think that's the cause.

[2020-12-09 19:09] priyawadhwa commented on #9773
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-12-09 19:09] #9773 closed

[2020-12-09 19:10] priyawadhwa commented on #9378
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-12-09 19:10] #9378 closed

[2020-12-09 19:10] priyawadhwa commented on #9278
Hey @PSANGAN -- were you able to try setting the KUBECONFIG environment variable?

[2020-12-09 19:11] priyawadhwa commented on #8958
Will close, as this was fixed by #8959

[2020-12-09 19:11] #8958 closed

[2020-12-09 19:12] priyawadhwa commented on #9243
Hey @javierfar -- were you able to give the docker driver a shot?

[2020-12-09 19:14] priyawadhwa commented on #9188
Hey @tuskiomi so during that time that you were executing kubectl commands, did you kill the first `minikube tunnel` command, or was it running the entire time?

[2020-12-09 19:18] tstromberg commented on #9130
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-12-09 19:18] #9130 closed

[2020-12-09 19:18] tstromberg commented on #9210
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-12-09 19:18] #9210 closed

[2020-12-09 19:18] mconner commented on #8728
@misha-fm, I get a similar problem.  I've found that if I restart my computer, then do `minikube start` and it fails, if I then do a `minikube stop` , followed by a `minikube start`, that usually fixes it.  I assume a proper shutdown is clearing the problem.

[2020-12-09 19:21] tstromberg commented on #9770
Any chance you can try this on the latest version of minikube?

If you need an older API, you can continue to use it using: `minikube start --kubernetes-version=v1.15.2`

[2020-12-09 19:21] priyawadhwa commented on #2968
Our docs point to installation instructions for various Linux distros: https://minikube.sigs.k8s.io/docs/drivers/kvm2/

In the one for Ubuntu, it mentions installing virt-manager, so I'm going to go ahead and close this issue.

[2020-12-09 19:21] #2968 closed

[2020-12-09 19:21] sharifelgamal commented on #9737
Hey @pavankumar98 – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikube

[2020-12-09 19:21] #9737 closed

[2020-12-09 19:21] tstromberg commented on #8965
Closing as stale.

[2020-12-09 19:21] #8965 closed

[2020-12-09 19:22] priyawadhwa commented on #2598
This bug has been quiet for a few months now, I'm hoping it's been resolved in newer versions of minikube. I'm going to go ahead and close it for now, please comment if you're still experiencing this and I will reopen!

[2020-12-09 19:22] #2598 closed

[2020-12-09 19:26] priyawadhwa commented on #9303
Hey @davidedmonds @lyqht I'm not very familiar with this error on Windows, but it looks like a bunch of minikube users have faced a similar issue in this thread: https://github.com/kubernetes/minikube/issues/5392

Perhaps something in that thread would provide some guidance for you?

[2020-12-09 19:27] #8242 closed

[2020-12-09 19:28] priyawadhwa commented on #9818
This work is in progress in #9876, thank you for working on this @dimara

[2020-12-09 19:31] medyagh commented on #9453
@darkn3rd I close this issue, please feel free to reopen if the answers @afbjorklund didnt sovle the issue

[2020-12-09 19:31] #9453 closed

[2020-12-09 19:33] priyawadhwa commented on #8943
@RA489 that's a good idea, if anyone would be interested in contributing this, feel free to take this issue on.

[2020-12-09 19:36] tstromberg commented on #3752
https://minikube.sigs.k8s.io/docs/contrib/building/iso/ now defaults to building this image with Docker.

[2020-12-09 19:36] #3752 closed

[2020-12-09 19:40] tstromberg commented on #8772
There is probably nothing we can do about this - so I'm going to leave this.

[2020-12-09 19:42] tstromberg commented on #9272
You will need to use the `--image-repository` flag in China.

[2020-12-09 19:42] #9272 closed

[2020-12-09 19:42] medyagh commented on #6489
I believe we can change this from a feature to a tip on the tutorial on minikube website.

I would be happy to accept a PR that puts @afbjorklund 's suggestion to a nicely written tutorial.

[2020-12-09 19:44] medyagh commented on #8789
I haven't seen this bug in a while I will close fo rnow. please reopen if someone else sees this

[2020-12-09 19:44] #8789 closed

[2020-12-09 19:48] tstromberg commented on #9364
I believe that #9875 fixes this.

[2020-12-09 19:54] #8865 closed

[2020-12-09 19:55] sharifelgamal commented on #9282
This feels like a real bug in windows.

[2020-12-09 19:58] tstromberg commented on #9312
Based on https://bugs.launchpad.net/charm-gcp-integrator/+bug/1822997 - I wonder if the nodes are missing IP information?

[2020-12-09 20:19] afbjorklund commented on #9453
As detailed above, the "kvm2" driver is **only** for use with minikube. It will not work with the regular docker-machine...

If you need the other one, for `docker-machine`, you can find it here: https://github.com/afbjorklund/docker-machine-kvm

[2020-12-09 20:44] afbjorklund commented on #9868
There is now: https://www.mirantis.com/blog/mirantis-to-take-over-support-of-kubernetes-dockershim-2/

The initial prototype is at https://github.com/dims/cri-dockerd, it should be ready before kubernetes 1.23...

[2020-12-09 20:50] medyagh opened #9898 "fix update kubernetes version script"
1- it wont run if u run it from root folder (have to cd into it)
2- it didnt update to newest version
[code]
I expected v1.20.1-rc.0 for newst

3- it didnt run "make generate-docs"

[2020-12-09 20:55] prezha commented on #9898
/assign

[2020-12-09 21:52] harryttd commented on #9615
I have an error that is a little different:
[code]

[2020-12-09 22:08] #9831 closed

[2020-12-09 22:48] sadlil commented on #9364
@mativillagra For a work around for now use `minikube start -n 2 -p p1 --cni=kindnet --extra-config=kubeadm.pod-network-cidr=10.244.0.0/16` to start your cluster.?

[2020-12-09 22:53] afbjorklund commented on #9837
Kubernetes 1.20 is only deprecating the dockershim, not the docker container runtime.
And it does seem like your Docker is using WSL, but we fail to detect br_netfilter in it...

[2020-12-09 23:42] NatsumiHB commented on #9837
I know but (to my knowledge) they will get rid of the dockershim and therefore docker runtime support as early as v1.23 so I want to prepare with using CRI-O.

Right, I forgot that that's a thing, sorry for the confusion.

[2020-12-10 00:18] MOZGIII commented on #9891
Do you have this image available locally?
Does it show at `docker image ls | grep my_image`?

[2020-12-10 00:18] medyagh opened #9905 "PersistentVolumeClaim time out causes all other functional test fail"
I believe this time out causes all other functional tests fail
https://storage.googleapis.com/minikube-builds/logs/9897/34ff43c/KVM_Linux.html#fail_TestFunctional%2fparallel%2fPersistentVolumeClaim

I believe the Context with timeout that is being passed from the parent test is Getting Cancleled in some Defer (maybe postmortem) and that causes all other tests to faill to

for example
[code]

fails

[2020-12-10 00:43] calebstewart opened #9906 "Documentation - mount - do mounts persist?"
This is related to the documentation for minikube. I'm trying to figure out if mounts persist across `minikube start/stop`. I'm automating the startup of a collection of deployments, and they need a local directory to be mounted. I understand that the `minikube mount` command accomplishes this. I can't find any documentation on *removing* mount points or on what happens to the mount points when yo

[2020-12-10 00:44] calebstewart commented on #9906
Also, related, is there a way to list current mount points?

[2020-12-10 01:01] calebstewart commented on #9906
Oh, I realize now what is happening based on the output after running `minikube mount`. It might be helpful for future users to note in the documentation that this mount is not persistent and requires that the `minikube mount` command continue running in the background.

[2020-12-10 01:09] go-nelango opened #9907 "Provide more descriptive error codes for GUEST_PROVISIONG"
GUEST_PROVISION comprises 8.5% of minikube start errors in our environment.

These could be because minikube failed to obtain driver options/ generate cluster config/ cache minikube ISO.

Can minikube provide more descriptive error codes for their scenarios? It would also help to make the error messages actionable wherever possible.

[2020-12-10 01:15] go-nelango opened #9908 "Provide more descriptive error codes for PROVIDER_DOCKER_ERROR"
PROVIDER_DOCKER_ERROR serves as a catch-all error for docker. Can minikube provide more descriptive error codes for docker related failures (besides docker not installed and docker not running which already have corresponding error codes)?

[2020-12-10 01:17] nelango opened #9909 "Provide more descriptive error codes for GUEST_START"
GUEST_START serves as a catch-all error for cluster node failing to start. Can minikube provide more descriptive error codes (is the failure owing to memory/cpu/disk constraints)?

[2020-12-10 01:22] nelango opened #9910 "Create a webpage that provides descriptions for minikube error codes"
Create a webpage that provides descriptions for minikube error codes (as well as tips and advice for corrective actions) that users can refer to.

[2020-12-10 02:09] pzs-pzs commented on #9891
yes,I use ` eval $(minikube docker-env)` and build image

[2020-12-10 02:22] pzs-pzs commented on #9891
@MOZGIII just like this
[code]

😿  If the above advice does not help, please let us know:
👉  https://github.com/kubernetes/minikube/issues/new/choose

[2020-12-10 05:26] raul1991 opened #9914 "Minikube freezes while starting the minkube docker container"
minikube start --extra-config=apiserver.Authorization.Mode=RBAC --cpus 5 --memory 16000 -p minikube

**Steps to reproduce the issue:**

1. Use the above command to start minikube
2.
3.

**Full output of failed command:**

[code]

**Full output of `minikube start` command used, if not already included:**

😄  minikube v1.15.1 on Ubuntu 18.04
✨  Using the docker driver based on existing profile
👍  St

[2020-12-10 05:28] raul1991 commented on #9914
I don't get why the TCP handshake seems to be failing ? It was working earlier

[2020-12-10 06:23] lingsamuel opened #9916 "Remove verbose log `-v` in commands like tar"
When I am developing multi control plane feature, I need to view kubeadm and other commands output so I made a change like this:
[code]
Then I found some commands like `tar` uses a `-v` option, produces a massive log which is useless:
[code]

Could we just remove these verbose options?

/kind cleanup

[2020-12-10 06:36] afbjorklund commented on #9916
This mostly affects the preloaded tarball, but agree - it is annoying

[2020-12-10 06:53] afbjorklund opened #9919 "Starting minikube requires sudo due to error with certs copy"
Something changed in `copyHostCerts`, that runs locally instead of on the remote ?

`sudo cp -a /tmp/minikube123456789 ~/.minikube/ca.pem`

This fails, and is of course wrong to start with. It should not have needed `sudo`...

Using the virtualbox driver, other commands ran properly.

[2020-12-10 06:58] afbjorklund commented on #9919
Bug introduced in 4da751f5d78d43ae4fafa0e8dcfe396bc6127e07 by adding "sudo" to copy commands...

[2020-12-10 07:03] afbjorklund commented on #9919
This should have failed in regression test, we need a worker without sudo...

[2020-12-10 09:38] MOZGIII commented on #9891
You don't need to cache if you use docker-env. Either use your local docker (no docker-env) and upload the image via cache, or just build the image using docker-env.

The error is that your local docker engine does not have the docker image you are tyring to add to cache, and that is becasue when you use `minikube docker-env` you make your docker client use the remote (in-cluster, running at minik

[2020-12-10 10:34] pzs-pzs commented on #9891
@MOZGIII  thank you very much, just like that you say! I misunderstood the document

[2020-12-10 10:34] #9891 closed

[2020-12-10 12:17] LY1806620741 opened #9921 "minikube多节点pod间网络不互通"
**重现问题所需的命令**：
[code]
**失败的命令的完整输出**：<details>
命令无失败，但是hue-postgres-kdfvf、hue-j6vbx分别运行在两个节点，他们无法互相访问tcp端口
hue的报错:
[code]
pods信息:
[code]

</details>

**`minikube logs`命令的输出**： <details>
[code]
</details>

**使用的操作系统版本**：windows10

**其他**
[code]

[2020-12-10 14:41] ervjbb commented on #9278
having the similar error but in Linux. I can unset the KUBECONFIG but what shall instead be set to?

[2020-12-10 16:42] spowelljr commented on #9905
/assign

[2020-12-10 17:40] tstromberg commented on #9879
If you are willing to send a PR, we'd be happy to merge it. Here's the doc around adding kernel modules:

https://minikube.sigs.k8s.io/docs/contrib/building/iso/#adding-kernel-modules

Here's an example PR: https://github.com/kubernetes/minikube/pull/8670

[2020-12-10 17:45] tstromberg commented on #9880
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2020-12-10 17:51] tstromberg commented on #9890
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2020-12-10 17:51] tstromberg commented on #9892
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2020-12-10 17:56] tstromberg commented on #9615
这是因为中国无法访问托管入口插件的资源库（us.gcr.io）。

您可以在使用过--image-mirror-country = cn的群集还是手动设置--image-repository的群集吗？ 我相信那应该可以。
--
This is because China cannot access the repository (`us.gcr.io`) which hosts the ingress addon.

Can you try a cluster where you've used `--image-mirror-country=cn` or manually set `--image-repository`? I believe it should work then.

[2020-12-10 17:58] tstromberg commented on #9860
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2020-12-10 18:22] tstromberg commented on #9869
Interesting - I have not seen this before. Could you include the output of:

`minikube start --alsologtostderr -v=1`

[2020-12-10 18:27] tstromberg commented on #9872
As best as I can tell, this is a VirtualBox and/or firewall issue.

My suggestion is to run `minikube delete` and upgrade to the most recent version of minikube. If it still has an issue, add the output of `minikube start --alsologtostderr -v=1`.

[2020-12-10 18:31] tstromberg commented on #9874
Instead of using `docker-env`, which only Docker respects, set the environment variable so that the Go program (minikube) can respect it as well. Try:

[code]

[2020-12-10 18:31] tstromberg commented on #9874
Please let me know if this helps!

[2020-12-10 18:32] tstromberg commented on #9893
This issue appears to be a duplicate of #9722, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-12-10 18:33] tstromberg commented on #9908
It can - but as this happens for any unexpected Docker exit, making this more specific so will need analysis of the error text that goes alongside it.

[2020-12-10 18:35] tstromberg commented on #9909
Yes, but only if we can analyze the associated error text for patterns. This is a catch-all error that there are easily hundreds of possibilities with drivers that could lead to it.

[2020-12-10 21:57] medyagh commented on #9919
you are right thanks for finding this out

[2020-12-10 22:47] #9919 closed

[2020-12-10 23:00] BenAji commented on #9892
I experienced the same issue,
when I issued a command on my PowerShell
`minikube status` : I got the message that kubelet stopped while the other components are running. So I paused my fire wall, then I did `minikube stop` After sometime, I did `minikube start` and all components came back running . No much technical thing . You must also make sure the dockers is running.

[2020-12-10 23:58] #9916 closed

[2020-12-11 00:03] #9898 closed

[2020-12-11 00:24] medyagh opened #9925 "add multinode integration test two pods should get two different ips on different nodes"
add a subtest

deploy an app with more than 1 replica on multi node
their pods ips should be different

https://github.com/medyagh/minikube/blob/fc10bca4aec2bf7b53357ad93729643db519fd64/test/integration/multinode_test.go#L29

[2020-12-11 00:41] medyagh opened #9926 "create error type for "can't create with that IP, address already in use""
create better error type than  "GUEST_PROVISION"

[code]

[2020-12-11 00:43] #9666 closed

[2020-12-11 00:53] #9838 closed

[2020-12-11 01:08] medyagh opened #9927 "upload jenkins raw logs Per commit"
our txt file is uploaded at
https://storage.googleapis.com/minikube-builds/logs/9924/Docker_Linux.txt
but out html is uploaded per commmit
https://storage.googleapis.com/minikube-builds/logs/9924/0a5ef42/Docker_Linuxout.txt
I like our Text to be uploaded per commit
that is in the Jenkins Plugin

[2020-12-11 01:14] alonyb commented on #9091
We should open a new issue to add spinner in another steps like `docker` or `minikube delete` and others that take some seconds.
im going to close this by #9855

[2020-12-11 01:14] alonyb commented on #9091
/close

[2020-12-11 01:14] #9091 closed

[2020-12-11 04:15] medyagh commented on #9091
that is being done by steven's PR https://github.com/kubernetes/minikube/pull/9904

[2020-12-11 07:53] Aut0R3V commented on #9688
@priyawadhwa I believe that a note can be added at the documentation here :

[2020-12-11 08:09] Aut0R3V commented on #8762
@medyagh I'd like to work on this

[2020-12-11 08:17] Aut0R3V commented on #7879
Hey, I just wanted to know if this documentation was updated. If not, then I'd like to help with this.

[2020-12-11 09:53] vdovinanton commented on #8728
Ditto

[2020-12-11 10:30] joelhoisko commented on #4488
I've tried following the [tutorial](https://minikube.sigs.k8s.io/docs/tutorials/audit-policy/) with the `audit-policy.yaml` workaraound file with this command :
[code]

but I just can't seem to get it to work on my machine. Running

[code]

Returns nothing, while the normal logs still keep looking that look like this with no extra loging:
[code]

I've also tried to add the `--feature-gates=Advance

[2020-12-11 12:53] rubans opened #9929 "Unable to connect to Minikube cluster remotely : unable to authenticate the request due to an error"
**Steps to reproduce the issue:**

1. Have setup minikube cluster on VM on LAN hosting a simple web app which is working as expected and can connect to the web app service using HTTP externally
2. Would like to manage the minikube cluster remotely using kubectl so modified kubeconfig on my local windows machine over git bash as advised and copied over the certificates from cluster so:
- cluster:

[2020-12-11 13:12] bl-ue opened #9930 "minikube scp"
It would be nice to be able to have `minikube scp` like `minikube ssh`, to copy files in the the minikube node.  An use case would be: copying Dockerfiles to the node to build custom docker images for Kubernetes.

In the meantime, for all of you that want this feature, here's a workaround:
[code]

**edit:** you can also use `minikube docker-env` to set up the `docker` client to point to minikube's

[2020-12-11 13:26] cheslijones commented on #7879
@Aut0R3V Hi, I never updated and sent a PR because I could never get it working.

[2020-12-11 14:45] pzs-pzs commented on #9602
可以使用minikube cache add,把本地docker的镜像复制minikube中

[2020-12-11 15:30] GhassenKacem opened #9931 "StartHost failed"
**Steps to reproduce the issue:**

  i already used command "minikube start" and it has been  executing  properly but suddenly my pc crashed while the installation of the VM is on progress so i restart it. after i start it again the issues appear.

**Full output of failed command:**
I1211 16:23:26.472142   13380 out.go:185] Setting OutFile to fd 84 ...
I1211 16:23:26.489097   13380 out.go:232] TER

[2020-12-11 16:18] afbjorklund commented on #9930
This feature is available in docker-machine, so we should probably make it available in minikube as well.

https://docs.docker.com/machine/reference/scp/

[2020-12-11 16:36] afbjorklund commented on #9930
The turbo-charged version also has support for `rsync`, for delta transfer and other advanced uses.

[2020-12-11 17:36] #9931 closed

[2020-12-11 17:36] GhassenKacem commented on #9931
minikube delete --purge

[2020-12-11 18:05] rubans commented on #9929
Upon further investigation:
Retried the same steps from docker container running debian rather from git bash on a windows desktop and it works so presumably it's related to the use of the credentials over windows?

[2020-12-11 18:20] #8921 closed

[2020-12-11 18:21] tstromberg commented on #9807
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it by replying `/reopen`

If someone sees a similar issue to this one, please re-open it as replies to closed issues are unlikely to be noticed.

Thank you for opening the issue!

[2020-12-11 18:21] #9807 closed

[2020-12-11 18:25] tstromberg commented on #9826
Can you please include the output of `minikube logs`? We can then figure out why the kubelet is failing.

[2020-12-11 18:27] tstromberg commented on #9837
I can confirm that `--container-runtime=crio` is as broken within WSL2 using master. I'll try to send a PR out for this today.

[2020-12-11 18:47] daehyeok commented on #9772
Do we have any reason check both of directory and container in the ListProfiles func? https://github.com/kubernetes/minikube/blob/b4bf2bde332c8dea45bc717f23a58caea6d0e1dc/pkg/minikube/config/profile.go#L197

Is it added to remove all nodes when run delete profile command(https://github.com/kubernetes/minikube/commit/58b637b05fe3485ecbf50834fda84beeedfd044a)? It looks nodes and profiles are not dis

[2020-12-11 19:19] medyagh commented on #9772
one reason I am thinking is in the clean up process, when there is no minikube config,
we use the existing Directory as Possible left over minikubes so we use that delete minikube left over containers

[2020-12-11 19:20] pribalaji58 commented on #9860
Hi

I received below error

1.The exact minikube start command line used

C:\WINDOWS\system32>minikube start
* minikube v1.15.1 on Microsoft Windows 10 Home Single Language 10.0.18363 Build 18363
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Updating the running virtualbox "minikube" VM ...
* Preparing Kubernetes v1.19.4 on Doc

[2020-12-11 19:22] medyagh commented on #9772
https://github.com/medyagh/minikube/blob/0a5ef42ed548d65694b6d96b487fbe0bf8b3db01/pkg/minikube/machine/delete.go#L39

[2020-12-11 19:58] pribalaji58 commented on #9860
[start.txt](https://github.com/kubernetes/minikube/files/5681338/start.txt)
[logs.txt](https://github.com/kubernetes/minikube/files/5681339/logs.txt)

Hi again,

I attached minikube logs and minikube  start output

[2020-12-11 21:41] yogitubadzin commented on #9078
The same problem, any solution?

[2020-12-11 21:44] Aut0R3V commented on #5830
I would like to work on this.
/assign

[2020-12-11 22:13] #7455 closed

[2020-12-11 22:32] medyagh opened #9936 "Test component health flake"
example docker driver GH action:

https://github.com/kubernetes/minikube/runs/1540063530

https://storage.googleapis.com/minikube-builds/logs/9933/f3be305/none_Linux.html#fail_TestFunctional%2fparallel%2fComponentHealth

passrate report

[code]

[2020-12-11 22:41] Aut0R3V commented on #5830
@sharifelgamal I've added a pull request, please go through it and recommend any required changes.

[2020-12-11 22:42] #9837 closed

[2020-12-11 22:42] #9079 closed

[2020-12-11 22:42] #9209 closed

[2020-12-11 22:43] #9289 closed

[2020-12-11 22:43] tstromberg commented on #9344
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it by replying `/reopen`

If someone sees a similar issue to this one, please re-open it as replies to closed issues are unlikely to be noticed.

Thank you for opening the issue!

[2020-12-11 22:43] #9344 closed

[2020-12-11 22:44] tstromberg commented on #9424
Any movement on this?

[2020-12-11 22:45] tstromberg commented on #9217
@Evalle  - sounds good to me.

[2020-12-11 22:47] medyagh opened #9938 "Verify Apiserver in docker-env"
currently we only wait 5 seconds after restarting,,,we should verify

here is an example of failure
https://storage.googleapis.com/minikube-builds/logs/9933/f3be305/Docker_Linux.html#fail_TestFunctional%2fparallel%2fDockerEnv

some places in the code

https://github.com/medyagh/minikube/blob/12893a6121d39ae4c3d2f2f7b4d9cfb3fa9f605f/cmd/minikube/cmd/docker-env.go#L245

https://github.com/medyagh/mi

[2020-12-11 22:50] azhao155 commented on #9938
/assign azhao155

[2020-12-11 22:55] V4A001 commented on #9078
Not from me. I use my own AKS cluster and not minikube, docker compose and docker desktop (has also k8) might be other options?

[2020-12-12 00:07] medyagh opened #9939 "make perfomrance pr-bot to use json output"
for more information ask @priyawadhwa

[2020-12-12 01:35] prezha commented on #9936
/assign

[2020-12-12 02:57] prezha commented on #9938
@azhao155 i was looking at #9936 where the `TestFunctional/parallel/ComponentHealth` fails because of `expected component "kube-apiserver" was not found` error (https://github.com/kubernetes/minikube/runs/1540063530#step:7:140), and, as @medyagh rightly pointed out, that should not happen as `TestFunctional/serial/StartWithProxy` was run before it with `--wait=true` flag set (that should ensure, a

[2020-12-12 07:07] weihuago4 commented on #9669
请问您，怎么edit ingress-nginx的的deployment？

[2020-12-12 08:12] esentai8 commented on #9869
Hello Thomas, thank you for responding to my request. Below is the output of the command you suggested

****

`sudo minikube start --alsologtostderr -v=1
I1212 14:09:45.331492   15696 out.go:185] Setting OutFile to fd 1 ...
I1212 14:09:45.331717   15696 out.go:237] isatty.IsTerminal(1) = true
I1212 14:09:45.331726   15696 out.go:198] Setting ErrFile to fd 2...
I1212 14:09:45.331733   15696 out.go:

[2020-12-12 08:58] afbjorklund commented on #9639
I changed the title, since docker storage is not compatible with containerd storage

[2020-12-12 09:00] afbjorklund commented on #9639
There will be an external cri-dockerd, so Docker will be supported for years yet

[2020-12-12 09:01] afbjorklund commented on #9938
I don't understand the title, docker-env doesn't have anything to do wtih apiserver ?

[2020-12-12 09:18] afbjorklund commented on #9640
The binaries (buildctl and buildkit) are now included with minikube.

However, user will have to do all the ssh commands themselves.

[2020-12-12 09:23] #9640 closed

[2020-12-12 09:45] afbjorklund commented on #9640
Example session:

1) Start the buildkit daemon, using `minikube ssh -- sudo -b buildkitd`

2) Change the group of `/run/buildkitd` and `/run/buildkitd.sock` to "docker"

3) Use `minikube ssh --alsologtostderr --native-ssh=false` to find out the ssh flags

4) Start a ssh tunnel from the host to the machine, for the unix socket

_(ssh and flags)_ `-nNT -L ./buildkitd.sock:/run/buildkit/buildkitd.soc

[2020-12-12 10:52] Aut0R3V commented on #9939
@priyawadhwa can you please explain about this issue

[2020-12-12 10:52] #9637 closed

[2020-12-12 10:52] #9638 closed

[2020-12-12 10:56] afbjorklund commented on #9607
Now documented on https://minikube.sigs.k8s.io/docs/drivers/docker/

[2020-12-12 10:56] #9607 closed

[2020-12-12 11:01] Aut0R3V commented on #9906
Sure this issue sounds reasonable. Can any of the members give their views for this?

[2020-12-12 11:31] Aut0R3V commented on #9835
@afbjorklund I'm interested in working about the documentation for the issue. After I understand the stuff I'd send a PR

[2020-12-12 12:15] Aut0R3V commented on #9803
@afbjorklund I'd like to work on this.
\assign

[2020-12-12 12:17] Aut0R3V commented on #9803
@afbjorklund I'd like to work on this.
/assign

[2020-12-12 14:01] afbjorklund commented on #9803
@Aut0R3V : sure thing, please make a PR

[2020-12-12 14:17] afbjorklund commented on #9870
Minikube now uses podman v2, and it seems like image building is working again.

[code]

Now using CONTAINER_HOST, rather than the old PODMAN_VARLINK_BRIDGE

[code]

[2020-12-12 14:18] #9870 closed

[2020-12-12 14:19] #9738 closed

[2020-12-12 17:36] afbjorklund commented on #9229
Added an option to do this automatically: `ssh-host --append-known`

`Host added: /home/anders/.ssh/known_hosts ([127.0.0.1]:35855)`

[2020-12-12 20:22] sadlil commented on #9925
As long as we are deploying an app, can we also add one more step to this test - exec into the pods and check if they are resolving both in-cluster and external dns.

[2020-12-12 23:00] Aut0R3V commented on #7879
@cheslijones thanks for the reply. I also tried
 solving it using that documentation but I'm getting some issues.

[2020-12-13 07:20] yossicohn-hs commented on #9893
@tstromberg sure, go ahead, I think this issue replicates itself over time.

[2020-12-13 07:21] yossicohn-hs commented on #9893
Additional info:
The driver is not a factor, been using the default and hyperkit as well. the issue simulates in both cases.

[2020-12-13 10:38] sadlil commented on #9881
@acabrele One quick question, where were the curl ran? Is it in a pod or the minikube nodes? If it was ran on a pod can you try `curl kube-dns.kube-system` and see what happens. Also is the pod in the same namespace in kube-system?

[2020-12-13 11:29] lintingyong opened #9944 "minikube 1.7.3 start cmd error"
**重现问题所需的命令**：
./minikube start --vm-driver=docker --image-mirror-country=cn --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers

**失败的命令的完整输出**：<details>
😄  minikube v1.7.3 on Darwin 10.15.7
✨  Using the docker (experimental) driver based on user configuration
✅  Using image repository registry.cn-hangzhou.aliyuncs.com/google_containers
⌛  Reconfiguring existing host ...
🙄  mac

[2020-12-13 11:56] afbjorklund opened #9946 "Don't duplicate the images in the preload for containerd runtime"
Currently we are unpacking the images in the preloaded tarball for the containerd runtime.

This causes it to be **much** larger to download than the files for the other container runtimes.

0) Small size (211M) - all images, compressed as a whole

[code]

1) Cache images (315M) - all images, compressed individually

[code]

2) Preload images (491M) - all images (unpacked) + all binaries

[code]

[2020-12-13 12:30] afbjorklund opened #9947 "Start the buildkit daemon on demand (socket-activated)"
Buildkit uses a server (daemon), so trying to use the buildkit client fails if it is not started:

`error: failed to get status: rpc error: code = Unavailable desc = connection error: desc = "transport: error while dialing: dial unix /run/buildkit/buildkitd.sock: connect: no such file or directory"`

See #9640 (and https://github.com/moby/buildkit#quick-start)

Currently the `buildkitd` has to be

[2020-12-13 12:35] afbjorklund commented on #9231
This is not super-important, since they can't share images anyway.

And even the containers are namespaced, so don't see eachother

[2020-12-13 13:09] ahojcn commented on #1509
now, the port of container swagger-ui is 8080, and it is a pod.

[2020-12-13 13:22] ucohen commented on #9874
Thanks for your reply @tstromberg
I think there is a progress, now I have a certificate parsing issue, could you have a look?

[code]

[2020-12-13 15:42] afbjorklund commented on #9639
Building using `buildctl` is awkward to say the least, and running containers via `ctr` is similarly user-hostile.
So as long as we want to export the full features of the container runtime to the user, Docker/Moby is the better choice.

We can still offer containerd/buildkitd as a fully supported CRI option of course, but it is unlikely to be the **default**.
Other projects that do this (like kin

[2020-12-13 19:35] tstromberg commented on #9874
Looks like we don't know how to handle certificate file names containing
parentheses.

On Sun, Dec 13, 2020, 5:23 AM ucohen <notifications@github.com> wrote:

[2020-12-13 20:05] Aut0R3V commented on #8925
Hey, I went through the discussion in #9314. Should this issue be closed or are there any other changes that can be worked upon?

[2020-12-13 21:07] afbjorklund opened #9952 "Move machine and drivers to minikube repositories"
We don't know how long the docker/machine and machine-drivers organization will stay active.

Both docker/machine and boot2docker/boot2docker are deprecated and dead since 2019.

So there is no release for Docker 20.10 and later releases, and eventually they might disappear.

We need to maintain our own fork of the git repos, until it can be integrated more into minikube.

This affect the current

[2020-12-13 21:15] afbjorklund commented on #9952
Since we download the drivers ourselves now, users don't actually need to notice much.

[2020-12-13 22:13] afbjorklund commented on #9947
You can see how this will work, if you look at podman in the current release:

[code]

So podman was **not** running, but when we accessed the socket it started up.

[code]

[code]

[2020-12-14 03:44] mikemil opened #9953 "Unable to run minikube successfully, appear to fail at container inspect"
**Steps to reproduce the issue:**

1.  ran the install using curl on my mac
2. minikube --alsologtostderr start

**Full output of failed command:**
[err.txt](https://github.com/kubernetes/minikube/files/5686327/err.txt)

[2020-12-14 04:39] arjunagl commented on #9930
I would like to work on this if there is no objection.

[2020-12-14 05:07] manas-mukherjee commented on #8722
Hi @priyawadhwa,

I am facing the same timeout issue.

Here is the log which you requested above.

$ minikube addons enable ingress --alsologtostderr
I1214 10:35:45.501549   50344 out.go:185] Setting OutFile to fd 1 ...
I1214 10:35:45.502042   50344 out.go:237] isatty.IsTerminal(1) = true
I1214 10:35:45.502050   50344 out.go:198] Setting ErrFile to fd 2...
I1214 10:35:45.502055   50344 out.go:237]

[2020-12-14 05:20] manas-mukherjee commented on #8722
Here is the log from the minikube dashboard.

[code]
Somehow, my system is not able to download the ingress addon from us.gcr.io.
Please let me know if there is any workaround.

[2020-12-14 05:54] manas-mukherjee commented on #8722
Solved :) Here is what I did.

1. Manually downloaded the image in my host system.
$ docker pull us.gcr.io/k8s-artifacts-prod/ingress-nginx/controller:v0.40.2

2. Created a tar file of the downloaded image
$ docker save us.gcr.io/k8s-artifacts-prod/ingress-nginx/controller:v0.40.2 > ingressnginx.tar

3. Copied the tar to the minikube node
$ scp -i $(minikube ssh-key) ${PWD}/ingressnginx.tar docker

[2020-12-14 06:16] daehyeok opened #9954 "minikube delete doesn't remove subnodes machine directory"
[code]

[2020-12-14 06:35] praisethejack opened #9956 "the installation part of the web doc is missing"
The installation portion of the web page documentation(https://minikube.sigs.k8s.io/docs/start/) is missing.
This confused me
Am I looking in the wrong place, or is there something really wrong?

[2020-12-14 07:00] afbjorklund commented on #9956
Duplicate of #9835 (unfortunately)

[2020-12-14 07:08] afbjorklund commented on #9953
Your docker version is really really old (17.06.0), can you upgrade and try again with something newer ?

[2020-12-14 07:10] afbjorklund commented on #9953
We should check this, and issue a warning: #9077

[2020-12-14 07:15] afbjorklund commented on #9930
Sure, please do a PR.

The original code is in: https://github.com/docker/machine/blob/master/commands/scp.go

But minikube is different...

It would be OK to call out to the external programs for "scp" and for "rsync", at least initially.

[2020-12-14 09:23] Aut0R3V commented on #9319
Hey @tstromberg I'd like to work on this.
\assign

[2020-12-14 09:27] Aut0R3V commented on #9319
@tstromberg I'd like to work on this.
/assign

[2020-12-14 09:49] Aut0R3V commented on #8762
\assign

[2020-12-14 10:33] Aut0R3V commented on #8762
\assign

[2020-12-14 10:37] ucohen commented on #9874
I figured  this was the issue so I've updated the certificate name and got this error:

[code]

<details>
I1213 16:07:20.567948 1771486 out.go:185] Setting OutFile to fd 1 ...
I1213 16:07:20.568230 1771486 out.go:237] isatty.IsTerminal(1) = true
I1213 16:07:20.568247 1771486 out.go:198] Setting ErrFile to fd 2...
I1213 16:07:20.568262 1771486 out.go:237] isatty.IsTerminal(2) = false
I1213 16:07:20

[2020-12-14 10:39] Aut0R3V commented on #8762
/assign

[2020-12-14 12:44] danielbeeke commented on #8756
In my case I had something running on port 80, that can also happen.

[2020-12-14 15:17] cglacet commented on #877
I think I found a tool ([Skaffold](https://skaffold.dev/)) that I use as a replacement for manual port forwarding (and many other things like hot reloading for example). I feel like it's the missing piece for me, I struggled finding a workflow for local development using kubernetes, but I think that this fits my needs.

I wonder how I missed that tool. Hope it will help others here.

[2020-12-14 15:57] tstromberg commented on #8614
I can confirm that this file is still created by `make test` at HEAD.

[2020-12-14 16:04] tstromberg commented on #9914
Thanks for the logs. My best guess is some sort of Docker configuration error or invalid network state, but what it might be, I'm not sure.

Do you mind trying this to see if it works properly:

* `minikube delete`
* `minikube start --extra-config=apiserver.Authorization.Mode=RBAC --cpus 5 --memory 16000`

If that doesn't help, try:

* `minikube delete`
* `mininkube start`

[2020-12-14 16:06] tstromberg commented on #9259
@jonjohnsonjr - This code was added 4 years ago, so your guess is as good as anyone else's on the project at the moment. It seems bizarre to me that we wouldn't allow credentials to be provided for all GCR & AR endpoints.

[2020-12-14 16:08] tstromberg commented on #9843
In your example, http://192.168.49.2:30376 should work perfectly great from within CentOS, if you install a web browser there. My suggestion, if you want to avoid VM inception, is to  either install a browser inside the VM, or run minikube on Windows directly.

[2020-12-14 16:08] #9843 closed

[2020-12-14 16:09] tstromberg commented on #8414
Thanks for the update!

[2020-12-14 16:09] #8414 closed

[2020-12-14 16:11] tstromberg commented on #9499
Closing as working-as-intended.

If you need to access a NodePort service, see the instructions on https://minikube.sigs.k8s.io/docs/start/ for your options (`kubectl port-forward`, `minikube service`).

[2020-12-14 16:11] #9499 closed

[2020-12-14 16:14] tstromberg commented on #9874
That particular error is benign. I suggest running `minikube delete` to cleanup the existing state, and then run `minikube start` -- please let me know what the final 5 lines of output end up being if it fails then.

[2020-12-14 16:14] tstromberg commented on #9892
Thanks. Please let me know if the problem comes up again.

[2020-12-14 16:14] #9892 closed

[2020-12-14 16:20] tstromberg commented on #8790
@kadern0 - I did some digging and discovered that we pass the value directly to dockerd's `--insecure-registry` flag. Here's the documentation: https://docs.docker.com/engine/reference/commandline/dockerd/#insecure-registries

[code]

That suggests to me that the only valid forms should be:

* <ip>:<port>
* <hostname>:<port>
* <network>/<netmask> (CIDR)

[2020-12-14 16:24] tstromberg commented on #9930
I too would love to see this get implemented.

[2020-12-14 16:25] tstromberg commented on #9946
Nice find..

[2020-12-14 16:27] tstromberg commented on #9956
@praisethejack - I'm not sure what browser you are on - but could you please open up the browser's "Web Developer" console, reload the page, and cut and paste any errors you see here? Thanks!

[2020-12-14 16:38] tstromberg commented on #9825
I imagine that the CoreDNS issue might be that the non-master node can't access CoreDNS on the master.

I'd be open to switching CNI's if another works as well without a performance penalty.

Any movement on this?

[2020-12-14 16:39] tstromberg commented on #9878
I think this is an issue with the `kvm2` driver not knowing what to do with your the kvm network configuration on this host. Is there any chance that `minikube delete` fixes it?

[2020-12-14 16:41] #9893 closed

[2020-12-14 16:42] tstromberg commented on #9722
This fix will be available in the forthcoming v1.16.0 release (beta coming soon)

[2020-12-14 16:43] tstromberg commented on #9906
I'd be all for updating the documentation to clarify the behavior.

[2020-12-14 16:44] tstromberg commented on #9907
As a catchall error code, In order to break this code down further, we'll need to collect example error messages for known issues. We can then add support for them here:

https://github.com/kubernetes/minikube/blob/master/pkg/minikube/reason/known_issues.go

[2020-12-14 16:46] tstromberg commented on #9907
Here's the best advice I have for collecting this info:

https://github.com/kubernetes/minikube/issues?q=is%3Aissue+GUEST_PROVISION

Looks like we have 21 examples currently that can get broken down to more specific exit codes.

[2020-12-14 16:48] tstromberg commented on #9908
As a catchall error code, In order to break this code down further, we'll need to collect example error messages for known issues. We can then add support for them here:

https://github.com/kubernetes/minikube/blob/master/pkg/minikube/reason/known_issues.go

Unfortunately, we do not have any example error messages to go by. For instance, no one has opened an issue that mentions this error code:

h

[2020-12-14 16:50] tstromberg commented on #9909
As a catchall error code, In order to break this code down further, we'll need to collect example error messages for known issues. We can then add support for them here:

https://github.com/kubernetes/minikube/blob/master/pkg/minikube/reason/known_issues.go

I see we have 19 examples currently that can get broken down into known issues:

https://github.com/kubernetes/minikube/issues?q=is%3Aissue+G

[2020-12-14 17:00] Aut0R3V commented on #9906
Sure okay. If I can help in any ways, then please tell

[2020-12-14 17:19] reach4bawer commented on #9878
It didn't fix it. Tried it a few times, but same error.

[2020-12-14 17:23] raul1991 commented on #9914
I have tried deleting minikube repetitively but nothing started. The only difference I see in your suggestion is starting it without any options.

Would that help ?

[2020-12-14 17:25] raul1991 commented on #9914
Also, can you help me at least narrow it down ?

- I mean, I could see that minikube docker container was up, I could ssh into it.

- I also saw it was unable to run the kublet process (saw that in journalctl logs)

Does this give you any idea ?

[2020-12-14 17:27] raul1991 commented on #9914
Also, I believe we are in timezones that differ in 10+ hours. It would be nice if you can give me some pointers I can try out tomorrow morning. :-)

[2020-12-14 18:34] #9319 closed

[2020-12-14 18:39] sharifelgamal commented on #9825
I think we'd need to do some benchmarking with each of the passing CNI and figure out the best path forward that way. In addition, there was a PR (#9875) that will have probably fixed kindnet in general. We should rerun conformance with kindnet to double check.

[2020-12-14 19:18] tstromberg commented on #9451
Looking at the v1.15.1 logs on Jenkins, this seems to either have been fixed, or be more subtle than it appears.

[2020-12-14 19:22] ManiacDC commented on #9499
NodePort is designed to forward to the host machine. It doesn't "work as intended" unless you simply mean you intend for it to not work. Anyway, not going to push this as I've moved onto another kubernetes implementation that actually works.

[2020-12-14 19:22] tstromberg commented on #9451
I can confirm that this was definitely broken in v1.14.0, however:

`+ perl -e '$p=0; while(<>) { if(/^## Version 1.14.0 -/) { $p=1 } elsif (/^##/) { $p=0 }; if ($p) { print }}'`

It should be easy enough to isolate what's going wrong here.

[2020-12-14 19:37] ucohen commented on #9874
[code]

[2020-12-14 19:53] priyawadhwa commented on #9939
Hey @Aut0R3V -- we have a binary called `mkcmp` in our repo -- code can be found here:

1. https://github.com/kubernetes/minikube/blob/master/cmd/performance/mkcmp/cmd/mkcmp.go
1. https://github.com/kubernetes/minikube/tree/master/pkg/minikube/perf

mkcmp is responsible for comparting start time between two minikube binaries. It runs each binary three times and outputs information around how long

[2020-12-14 19:54] zmykevin opened #9962 "minikube 1.15.1 ubuntu start with docker driver fails"
**Steps to reproduce the issue:**
<details>
<pre>
1.minikube start --mount=true --mount-string="/home/zmykevin/semafor/hackathon/week_2:/home/zmykevin/semafor/hackathon/week_2" -v=1 --alsologtostderr
2.
3.

**Full output of failed command:**
I1214 11:46:10.827299 3370728 out.go:185] Setting OutFile to fd 1 ...
I1214 11:46:10.827630 3370728 out.go:237] isatty.IsTerminal(1) = true
I1214 11:46:10.827

[2020-12-14 20:29] afbjorklund commented on #8234
Haven't seen this particular error in a while.

Maybe DNS/network was having a bad day ?

[2020-12-14 20:36] afbjorklund commented on #9946
I think `kind` uses the opposite approach, to leave them packed (blobs)

`ctr --namespace=k8s.io images import --all-platforms --no-unpack`

But that means that containerd would then have to unpack them later on...

And since the preload focuses on speed not size, that might be wrong here.

[2020-12-14 20:58] afbjorklund commented on #9946
The blobs can be viewed with:

`sudo ctr -n k8s.io content ls`

The images can be viewed with:

`sudo ctr -n k8s.io images ls`

[2020-12-14 21:06] afbjorklund commented on #9946
Should take care to only delete the large "uncompressed", and not the smaller manifests (or the gc.ref).

The first experiment would be to remove them (with `content rm`) and see what happens on preload...

[2020-12-14 23:13] ericvn commented on #9720
Prior instructions did not work for me.

[2020-12-14 23:37] mikemil commented on #9953
Installed docker 3.0 and it worked!

[2020-12-14 23:37] #9953 closed

[2020-12-15 02:36] kadern0 commented on #8790
Thanks for your answer, @tstromberg. This should be easy to achieve with regular expressions although it might be interesting looking at using  some [validator](https://pkg.go.dev/gopkg.in/go-playground/validator.v9) within the ClusterConfig struct although this change will be bigger.

I mention this because it seems to me this function is not 100% correct since it won't reject some malformed URLs

[2020-12-15 04:17] arjunagl commented on #9930
/assign

[2020-12-15 06:17] Aut0R3V commented on #9939
Thanks a lot for the detailed explanation!

[2020-12-15 07:34] Aut0R3V commented on #9939
\assign

[2020-12-15 07:35] Aut0R3V commented on #9939
/assign

[2020-12-15 08:27] azhao155 commented on #9938
While run docker-env, we need to make sure dockerd is up. If it's not up, we need to wait for api server container to be up and then restart dockerd

[2020-12-15 10:32] acabrele commented on #9881
@sadlil the curl was run from an alpine based pod I was running.

I forgot to mention I had tried kube-dns.kube-system.svc too.  curl of anything less than the FQDN did not work.

I have also tried a simple http server released to default namespace with a service (e.g kubectl apply -f https://raw.githubusercontent.com/cilium/cilium/v1.9/examples/kubernetes/clustermesh/global-service-example/cluste

[2020-12-15 11:50] lanjanha opened #9965 "minikube v1.3.1 install error ------- ip not found in system path"
**重现问题所需的命令**：
         minikube start --vm-driver=none --registry-mirror=https://registry.docker-cn.com --extra-config=kubeadm.ignore-preflight-errors=NumCPU --cpus 1
**失败的命令的完整输出**：
<details>
* minikube v1.3.1 on Centos 7.5.1804
* Using image repository registry.cn-hangzhou.aliyuncs.com/google_containers
* Running on localhost (CPUs=1, Memory=1838MB, Disk=40187MB) ...
* OS release is CentOS Linu

[2020-12-15 15:36] matanshukry opened #9968 "ClusterIP service not available as hostname to other pods ? (Works in google cloud)"
**Steps to reproduce the issue:**

1. minikube start
2. kubectl apply -f mariadb.yaml
[code]
I was a bit lazy to paste my mariadb config because it also includes password, but it's fairly simple.
If it's required let me know and I'll reduct it and paste it as well

3. kubectl run curl --image=radial/busyboxplus:curl -i --tty
3.1 nslookup mariadb

Expected: IP of the service of MaraDb
Actual: `nslo

[2020-12-15 15:59] #9078 closed

[2020-12-15 18:42] priyawadhwa commented on #9939
@Aut0R3V thanks for taking this issue on!

[2020-12-15 20:24] briandealwis opened #9970 "Add minikube annotation to kubeconfig context and cluster extensions"
Running `minikube profile list -ojson` is surprisingly slow, taking up to 2.5s on my 2016 MBP.  In part this may be due to my having a second profile from `gcloud code dev`.

This is relevant as Skaffold currently invokes `minikube profile list` to determine if it's building against Minikube.  (We actually use a cheaper heuristic by first checking if the context name is `minikube`, but that will b

[2020-12-15 22:49] mashanivas opened #9971 "Minikube on windows using docker has issues running the tunnel"
**Steps to reproduce the issue:**

1. created a service to expose the app. using minikube service command.
2.  minikube opened the ports to the desired one.
3. After the port opened, now getting the password prompt and not sure where to get the password for this.

docker@127.0.0.1's password: |-----------|-----------------------|-------------|-----------------------|
| NAMESPACE |         NAME

[2020-12-15 23:05] dsharp-pivotal opened #9972 "Changing a Service from type: LoadBalancer to type: ClusterIP doesn't remove status.loadBalancer.ingress[]"
**Steps to reproduce the issue:**

1. minikube start --memory 8192 --cpus 8 --disk-size 80g
2. minikube tunnel
3. Create a Service my-svc with `type: LoadBalancer`
4. Observe `kubectl get service my-svc -o yaml` shows `status.loadBalancer.ingress[0].ip` with the service's clusterIP
5. kubectl patch service my-svc --type=merge -p "spec: {type: ClusterIP}"

**Actual:**

`status.loadBalancer.ingress[

[2020-12-16 02:40] LargeOrange commented on #9602
本地也pull不下来kindnet:0.5.4这个镜像。。

[2020-12-16 07:05] daehyeok commented on #9772
Is it anyway to check node is part of multnode cluster or not?

[2020-12-16 09:10] azhao155 commented on #9938
https://github.com/kubernetes/minikube/pull/9973 for the improvement.

[2020-12-16 12:56] blueelvis commented on #9968
Hi!

I just tried with some minor edits to the above YAML file (Removed `clusterIP: None`) and then this worked as expected on my minikube -
[code]

Here is the output I got after running - `kubectl run curl --image=radial/busyboxplus:curl -i --tty -- nslookup mariadb`
![image](https://user-images.githubusercontent.com/6985763/102351250-2285bb80-3fcc-11eb-9eef-2cfc788777f7.png)

Can you try and se

[2020-12-16 14:05] Aut0R3V commented on #9939
@priyawadhwa I had some questions :

1] What changes are to be added at the already existing mkcmp workflow ?
[https://github.com/kubernetes/minikube/blob/master/cmd/performance/mkcmp/cmd/mkcmp.go]

2] Is this the correct defaultTimeFormat for the output :
type Status struct {
	defaultStatusFormat          = `host: {{.Host}}
kubelet: {{.Kubelet}}
apiserver: {{.APIServer}}
kubeconfig: {{.Kubeconfig

[2020-12-16 14:25] rubans commented on #9929
This is an issue with kubectl --cluster flag not picking up the current user context rather than anything to do with minikube

[2020-12-16 14:25] #9929 closed

[2020-12-16 14:35] Aut0R3V commented on #7031
I would like to work on this issue. @afbjorklund anything I can do ?

[2020-12-16 14:43] Aut0R3V commented on #7063
/assign

[2020-12-16 16:32] bl-ue opened #9976 "minikube start: kubectl info: exec: exit status 2"
**Steps to reproduce the issue:**

1. `minikube start --vm=true --kubernetes-version='v1.20.0'`

**Full output of failed command:**
[code]
`--alsologtostderr` didn't help clarify this error.  Last few lines of run with `--alsologtostderr`:
[code]
If neccessary I can attach the full log with `--alsologtostderr`.

**Optional: Full output of `minikube logs` command:**
[logs.zip](https://github.com/ku

[2020-12-16 17:53] priyawadhwa commented on #9939
Hey @Aut0R3V --

1. The code that needs to be changed is in this function:
https://github.com/kubernetes/minikube/blob/fdab252f4f1d3aaeea028f90a2153cb1da8e54cb/pkg/minikube/perf/logs.go#L33

Basically, instead of streaming logs from STDOUT and timing how long each of them takes, we want to swtich to streaming JSON logs. JSON log steps have the following format:

[code]

We want to parse out the "n

[2020-12-16 18:04] #9779 closed

[2020-12-16 18:05] bl-ue commented on #9976
The log line is:
https://github.com/kubernetes/minikube/blob/fdab252f4f1d3aaeea028f90a2153cb1da8e54cb/cmd/minikube/cmd/start.go#L271

minikube is trying to exec `/usr/local/bin/kubectl version --client --output=json`, but getting error 2 aka "No such file or directory".

`kubectl` is linked to minikube i.e.
[code]

[2020-12-16 18:08] bl-ue commented on #9976
Installing the Homebrew formula `kubernetes-cli` which provides `kubectl` binary and replacing the link with the actual binary fixes the issue.

[2020-12-16 19:14] priyawadhwa commented on #9817
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-12-16 19:14] #9817 closed

[2020-12-16 19:25] priyawadhwa commented on #9582
Hey @VishalYesurkar02 were you able tot ry the hyperv virtual switch or the docker driver?

[2020-12-16 19:27] sharifelgamal commented on #9633
You have misspelled the name of the addon, it should be `csi-hostpath-driver`.

[2020-12-16 19:28] #9633 closed

[2020-12-16 19:29] priyawadhwa commented on #9452
Hey @darkn3rd are you still seeing this issue with the latest version `v1.16.0-beta.0`?

[2020-12-16 19:30] priyawadhwa commented on #9242
Hey @smuve1  -- hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube sta

[2020-12-16 19:30] #9242 closed

[2020-12-16 19:31] priyawadhwa commented on #8507
Hey @doublefx are you still seeing this issue? If so, could you provide the following info:

- If this still occurs with the latest version of minikube
- If you have a firewall
- If `minikube start --driver docker` works for you

Thank you!

[2020-12-16 19:32] #4589 closed

[2020-12-16 19:32] sharifelgamal commented on #9643
This looks like a permissions issue, is there any reason your user might not be able to access `C:\Users\nj53968.IND.minikube/ca.pem`?

[2020-12-16 19:34] sharifelgamal commented on #9663
This is interesting, so minikube is still successfully stopped then? Just with a spurious error?

[2020-12-16 19:34] priyawadhwa commented on #7807
[code]

passing docker, closing this issu

[2020-12-16 19:34] #7807 closed

[2020-12-16 19:35] spowelljr commented on #9736
/triage obsolete

[2020-12-16 19:35] spowelljr commented on #9771
/triage obsolete

[2020-12-16 19:37] #8668 closed

[2020-12-16 19:37] tstromberg commented on #8939
Closing as this is more of a Docker on macOS issue than a minikube specific issue.

To help sort things out, you can try running `minikube pause`, which freezes the Kubernetes backplane, leaving very little overhead (kernel, systemd). There is some overhead in running a VM, but I agree that this is more than I've seen in the past.

[2020-12-16 19:37] #8939 closed

[2020-12-16 19:40] tstromberg commented on #6159
It isn't pretty, but it looks like this was fixed: https://minikube.sigs.k8s.io/docs/start/

[2020-12-16 19:40] #6159 closed

[2020-12-16 19:40] spowelljr commented on #9491
/triage obsolete

[2020-12-16 19:42] sharifelgamal commented on #8873
This does appear to be a dupe of #8439, so I'll go ahead and close this issue and we can redirect all conversation over there.

[2020-12-16 19:42] #8873 closed

[2020-12-16 19:43] priyawadhwa commented on #8647
@mahmoudshirivaramini that's great news! I'm going to go ahead and close this issue since you were able to resolve it. Feel free to reopen at any time by commenting /reopen

[2020-12-16 19:43] #8647 closed

[2020-12-16 19:44] #9608 closed

[2020-12-16 19:45] sharifelgamal commented on #6763
There's not a whole lot of us to do here, if we come up with something, we can reopen.

[2020-12-16 19:45] #6763 closed

[2020-12-16 19:45] #9491 closed

[2020-12-16 19:45] #9736 closed

[2020-12-16 19:45] #9771 closed

[2020-12-16 20:42] EArminjon commented on #9663
Yes. Just an error because of an unchecked error on minikube script.

[2020-12-17 02:17] fzyzcjy commented on #8939
Thanks! Sorry I forgot to reply. I do not use minikube in recent days (you know, that was a question in August), and I will have a try when I use it in the future.

[2020-12-17 03:39] robrich commented on #9858
I get an error when using k8s 1.19 and greater, but not on 1.18 and lower because minikube ingress addon uses the old ingress namespace and syntax.  Not sure I want to worry until the old syntax is removed in a production k8s version and/or the new syntax is supported in all supported k8s versions.  By comparison, using the new syntax on an old k8s errors quite traumatically rather than the warnin

[2020-12-17 06:22] 24king commented on #8029
pull this image in one second with vpn enabled

things go to well

or you can just

[2020-12-17 07:34] matanshukry commented on #9968
@blueelvis nope, still doesn't work for me.
[code]

[code]

[2020-12-17 12:11] ozmad commented on #3217
Not sure why it was closed but this is my un-safe solution:
`alias minikube-stop="cd $HOME/programs/minikube && sudo ./minikube stop && docker stop \$(docker ps | grep 'k8s_' | awk '{print \$1}')"`

[2020-12-17 13:12] naileshjadhav commented on #9643
I have admin right of the system but though it is giving error.
Whenever system/laptop restarted this issue occurs and I need to delete minikube then start again.
This is annoying.

[2020-12-17 14:22] xhardha opened #9981 "Minikube ingress addon problem"
I am facing problem while adding ingress in my minikube using command:
"minikube addons enable ingress"
Verifying ingress addon...

❌  Exiting due to MK_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]

😿  If the above advice does not help, please let us know:
👉  https://github.com/kubernetes/minikube/issues/new/

[2020-12-17 14:57] Aut0R3V commented on #9939
Thanks for your help!

[2020-12-17 15:11] zevinar opened #9982 "fedora 33 apiserver not starting"
Hi,
I'm fairly new to kubernetes. (running on fedora 33)

Trying to start a minikube with:
minikube start --extra-config=kubelet.cgroup-driver=systemd

here is the output: (container log attached as well)

[code]

[container.log](https://github.com/kubernetes/minikube/files/5710267/container.log)
[minikube.log](https://github.com/kubernetes/minikube/files/5711928/minikube.log)

[2020-12-17 17:02] spowelljr commented on #9661
It's actually pointing to both the build and integration tests, the way the badges work is you point them to a workflow. The Master workflow contains both build and integration tests, so if one of those fails it will show up as a failure in the badge. You're currently unable to point the badge to a specific job in the workflow, but there is an open issue about doing so https://github.com/badges/sh

[2020-12-17 17:05] spowelljr commented on #9741
This should hopefully be fixed by #9978

[2020-12-17 17:07] spowelljr commented on #9696
This should hopefully be fixed by #9978

[2020-12-17 18:12] #9905 closed

[2020-12-17 18:37] tstromberg commented on #9982
Can you please include the output of `minikube logs`? Thanks!

[2020-12-17 18:51] Aditya91 commented on #8369
Has this been resolved? I'm getting the same error `-bash: ping: command not found` with minikube and docker driver.

[2020-12-17 18:54] afbjorklund commented on #9982
Also please make sure that cgroups v1 is enable, if using Docker 19.03

[2020-12-17 18:59] afbjorklund commented on #9976
It  is supposed to be possible to run "minikube kubectl" using a symlink like that.

Looks like something went wrong, when calling the actual `kubectl` binary ?

Try something like:

`minikube --alsologtostderr kubectl version`

It should have more info.

Like `using` and `Running`

[2020-12-17 19:02] afbjorklund commented on #9976
The command (from start) works OK on linux:

[code]

Alternative invocation (without symlink):

`minikube kubectl -- version --client --output=json`

It should not return "exit status 2"

[2020-12-17 19:20] bl-ue commented on #9976
@afbjorklund Relevent logs from `minikube --alsologtostderr kubectl version` (can add more):
[code]

[2020-12-17 19:22] afbjorklund commented on #9976
Hmm, that command looks happy enough. How did we end up with the error ?

`kubectl info: exec: exit status 2`

[2020-12-17 19:33] bl-ue commented on #9976
The following simple program works, with `./symlink` linking to `/usr/local/bin/minikube`:
[code]
Let me investigate.

[2020-12-17 19:34] #9741 closed

[2020-12-17 19:34] #9696 closed

[2020-12-17 20:19] zevinar commented on #9982
Attached,
Many Thanks !

[2020-12-17 21:25] afbjorklund opened #9989 "Separate container runtimes from the image"
Currently we include all **three** CRI runtimes, in the base image:
* Docker (docker)
* CRI-O (crio + podman)
* Containerd (containerd + buildkit)

This makes the image somewhat big, compared to having just one.

### ISO
![graph-size](https://user-images.githubusercontent.com/10364051/102545530-a916c780-40b6-11eb-984e-423427c8db3d.png)

### KIC
![installed-size](https://user-images.githubuserconte

[2020-12-17 22:04] owenthereal opened #9991 "Take a snapshot of a cluster"
**Steps to reproduce the issue:**

*This is a feature request not an issue.*

I would like to be able to take a snapshot of the cluster and reuse it for CI for a faster boot time. I have functional tests that run on a minikube cluster but the tests require the installation of a bunch of software, e.g. ingress-nginx, cert-manager etc. I'm wondering whether there is a way to "pre-burn" a minikube im

[2020-12-17 22:16] afbjorklund opened #9992 "MEP: Change from custom Buildroot ISO to standard Kubernetes OS"
Currently we are using a custom image, which is built using the [Buildroot](https://buildroot.org/) tool...

It is a replacement for the original Boot2Docker image, based on Tiny Core Linux.
(The board config also draws some inspiration from the original CoreOS images)

For the KIC base image, we have instead changed to using a standard `ubuntu:20.04`

We _could_ do the same for the ISO image, bas

[2020-12-17 22:16] afbjorklund commented on #9992
TODO: Write the actual MEP

[2020-12-17 22:18] afbjorklund commented on #9991
Did you check out the `minikube cache` command already ?

[2020-12-17 22:33] owenthereal commented on #9991
`minikube cache` adds/deletes/loads an image to/from minikube. What I wanted is to burn the whole cluster with software that I install into the cluster as an image so that it can be reused elsewhere, e.g. CI.

[2020-12-17 23:17] spowelljr commented on #9835
/assign

[2020-12-17 23:19] spowelljr commented on #9956
/assign

[2020-12-18 01:26] mgabeler-lee-6rs opened #9995 "minikube_1.16.0-0_amd64.deb: package architecture (arm64) does not match system (amd64)"
**Steps to reproduce the issue:**

1. Download amd64 debian package of latest release: https://github.com/kubernetes/minikube/releases/download/v1.16.0/minikube_1.16.0-0_amd64.deb
2. Inspect the package file
3. It's marked as an arm64 package not an amd64 package
4. It has stray files in it that are clearly not meant to be there

**Full output of failed command:**
[code]

Note: `Architecture: arm6

[2020-12-18 01:39] KernelErr commented on #9995
Seems that both releases from Google Storage and GitHub have the same problem.

[2020-12-18 03:13] Jorropo commented on #9995
Same problem here, the `.deb` package in the [github releases](https://github.com/kubernetes/minikube/releases) are wrong also, but it is different from the arm64 (size is a bit bigger).

[2020-12-18 03:18] Jorropo commented on #9995
This is only an error in the manifest. With :
[code]
This works fine.

[2020-12-18 03:47] tstromberg commented on #9995
Thanks for the update. I believe this was our first major release publishing arm64/amd64 debs, and it looks like we got it a bit wrong. I'm no .deb expert, so if anyone is interested in helping us to  fix our .deb file, it's defined here:

https://github.com/kubernetes/minikube/blob/5f6fef80c7597e346392acbbf8d051ebccdc6895/Makefile#L469

[2020-12-18 03:52] tstromberg commented on #9995
I strongly suspect that v1.16.0-beta.0 was also impacted, although we haven't yet seen reports confirming it.

[2020-12-18 05:48] Jorropo commented on #9995
ok weird, running :
[code]
Works like a charm.
I guess the bug is else where.

[2020-12-18 05:49] tstromberg commented on #9995
I wonder if it's due to running both commands in the same directory?

On Thu, Dec 17, 2020, 9:48 PM Jorropo <notifications@github.com> wrote:

[2020-12-18 06:33] Jorropo commented on #9995
You are right, there is a race condition where they both create their temporary dir at `out/minikube_1.16.0/`.

[2020-12-18 06:39] afbjorklund commented on #9995
Probably also need some minimal regression tests, when doing the release.

[2020-12-18 06:41] Jorropo commented on #9995
I have a fix, I'm pushing a pr.

[2020-12-18 06:59] afbjorklund commented on #9995
The good news is that the arm64.deb looks fine :-)

Also the rpm files got "lucky", in the make race.

[2020-12-18 07:04] amarts opened #10000 "Template Change: the PR template to not have 'fixes #issuenumber' suggestion"
** What happened **

1. I picked up an issue, and committed a fix, and opened a PR. (#9999)
2. While opening the PR, it recommended me to have 'Fixes: #issues number' in commit to have it reviewed faster.
3. As a practice in other practices, I had the fixes: as part of commit message.
4. After opening the PR, it got tagged with `<invalid-commit-message>`

** What is ideal **

1. Looks like having

[2020-12-18 07:10] Jorropo commented on #10000
https://github.com/kubernetes/minikube/blame/master/.github/pull_request_template.md#L4

This seems pretty clear to me that it should be in the description not the title (end of line 4).
As in #9998 (I did put in the title at first by reflex) :)

[2020-12-18 07:17] amarts commented on #10000
@Jorropo thanks. I agree, that it says the issue number in 'description' :-)

:+1:

[2020-12-18 07:17] #10000 closed

[2020-12-18 07:28] afbjorklund commented on #9989
We would need an installation script for CRI-O, similar to [get.docker.com](https://get.docker.com) for Docker...

`if ! type docker; then curl -sSL https://get.docker.com | sh -; fi`

See https://github.com/cri-o/cri-o/issues/4343

We also need one for containerd (and buildkit), but maybe we can do it ourselves ?

[2020-12-18 09:08] RA489 commented on #9809
/assign

[2020-12-18 10:39] pnutmath opened #10001 "package architecture (arm64) does not match system (amd64) even while using amd64 debian"
**Steps to reproduce the issue:**

1. Fire bellow commands
[code]

**Full output of failed command:**
package architecture (arm64) does not match system (amd64)

**Full output of `minikube start` command used, if not already included:**

[code]

[2020-12-18 11:02] marcaureln commented on #10001
Duplicate of #9995

[2020-12-18 11:29] amcmorris-piksel opened #10002 "GUEST_PROVISION"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-12-18 11:49] afbjorklund commented on #10001
Sorry about that, you can use the workaround meanwhile:

sudo dpkg -i --force-architecture minikube_1.16.0-0_amd64.deb

[2020-12-18 12:29] bl-ue commented on #10000
Issue 10,000! :smile::smile::smile: @amarts You lucked out!