[2021-01-25 17:52] tstromberg commented on #10224
Confirmed that the new packages install cleanly. Will leave this open for the next hour in case folks find additional issues, and then close.

[2021-01-25 17:56] medyagh opened #10256 "add integration test to test debian package"
to prevent mistakes like this, https://github.com/kubernetes/minikube/issues/10224
we should add integration test to install our own deb package on debian and verify it is working well.
[code]

[2021-01-25 18:03] priyawadhwa opened #10258 "Set DEB_REVISION=0 on v1.18.0 release"
Currently it is at 2, which we had to do to resolve https://github.com/kubernetes/minikube/issues/10224

[2021-01-25 18:06] macdaddyaz commented on #10190
This seems to have gone away with minikube v1.17.0 & Kubernetes v1.20.3-rc.0.

[2021-01-25 18:06] #10190 closed

[2021-01-25 18:12] medyagh commented on #10224
@mgabeler-lee-6rs do u mind verifying if the issue is fixed now ?

[2021-01-25 18:32] sharifelgamal opened #10259 "docker-env returns linux export commands if ssh'd from linux to windows"
directly on powershell, docker-env works as expected:
[code]

but if you ssh into a windows machine from a linux machine, minikube will return linux export commands instead of the appropriate powershell commands:

[code]

[2021-01-25 18:41] afbjorklund commented on #10259
Do you still have $SHELL set ?

[2021-01-25 18:42] medyagh commented on #10259
we might wanna use this trick https://devblogs.microsoft.com/scripting/powertip-determine-if-running-in-powershell-console/

[2021-01-25 18:45] afbjorklund commented on #10256
And the same for arm64 on a arm64 host, if possible.

[2021-01-25 19:08] ilya-zuyev commented on #10116
https://github.com/kubernetes/minikube/pull/10202
Waiting for go 1.16 release. darwin/arm64 is not supported in go 1.15

[2021-01-25 19:55] tstromberg commented on #10224
No new reports, so I'm going to close this issue. Please comment with /reopen if you see anything.

[2021-01-25 19:55] #10224 closed

[2021-01-25 20:28] sharifelgamal commented on #10259
SHELL is set to `c:\windows\system32\cmd.exe`

[2021-01-25 21:48] priyawadhwa commented on #10170
Hey @Yash0182 thanks for opening an issue. When you say:

Is that because it is using a different driver?

[2021-01-25 21:49] priyawadhwa commented on #10166
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl get po -A`

Thank y

[2021-01-25 21:55] priyawadhwa commented on #10156
Hey @krezovic thanks for opening this issue. This sounds like a bug -- if you or anyone else would be interested in fixing it, I'd be happy to look at a PR.

The changes would happen in this file:
https://github.com/kubernetes/minikube/blob/master/pkg/minikube/cni/calico.go

We would want to add `{{.ImageRepository}}` into the template and pass it in if it is set by the user.

[2021-01-25 21:57] priyawadhwa commented on #10150
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl get po -A`

Thank y

[2021-01-25 21:58] priyawadhwa commented on #10148
Hey @sobankhan12 sorry for the delayed response.

I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

[2021-01-25 22:00] priyawadhwa commented on #10143
Hey @owenthereal thank you for reporting this bug. We should be taking profile into account for the `kubectl ` command.

It should be on the easier end to fix. If you, or anyone else, would be interested in taking this issue on, please comment /assign.

[2021-01-25 22:02] medyagh opened #10260 "minikube on 1 CPUs on Travis work with "--force" and also reports 2 Cpus"
interesting that when we not using --force minikube exits on Travis and says it only has 1 Cpus

[code]

 but when user uses --force it is reporting 2 local cpus

[code]

the confusing part is, if it really has 1 cpus, then why we are reporting 2 cpus later ?

here is the setup script on travis

https://github.com/GoogleContainerTools/kaniko/blob/5f4e2f136633d241444129517a4e75ebf44065c7/scripts/mi

[2021-01-25 22:03] priyawadhwa commented on #10130
Hey @azhao155 was the `104.91%` in your output for the mysql memory consumption?

[2021-01-25 22:04] priyawadhwa commented on #10128
Hey @lingsamuel thank you for opening this issue, this is definitely a very flaky test. Would you be interested in trying to fix it? If you, or anyone else, wants to take a look, please feel free to comment /assign on this issue.

[2021-01-25 22:10] priyawadhwa commented on #10127
Hey @ConradKrinock thanks for opening this issue! This does seem like a bug. Could you provide the output of:

[code]

and

[code]

I'm curious to see what the state of the ingress pods is.

[2021-01-25 22:12] priyawadhwa commented on #10120
Hey @xiazemin did you try deleting and recreating the cluster?

[code]

If that fails, could you provide the output of
[code]

[2021-01-25 22:13] medyagh commented on #10130
how about we delete the mysql after we are done testing with it ?

[2021-01-25 22:14] priyawadhwa commented on #10108
Hey @Cyberkabil10 thanks for opening this issue. It seems to be a dupe of #3405

As suggested in this comment (https://github.com/kubernetes/minikube/issues/3405#issuecomment-444192830) do you have KUBECONFIG=/etc/kubernetes/admin.conf set in your environment?

[2021-01-25 22:14] medyagh commented on #10130
I think @azhao155 is running it on personal machine with a lot of memory, the numbers could used in relative...maybe

[2021-01-25 22:16] priyawadhwa commented on #10102
Hey @koyuch yah I think running those `virsh` commands is the only way I know of to resolve this. `minikube delete` should take care of it.

Has it happened since?

[2021-01-25 22:16] priyawadhwa commented on #10091
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl get po -A`

Thank y

[2021-01-25 22:17] priyawadhwa commented on #10090
Hey @rama-jpmc thanks for opening this issue. Did you try creating a virtual switch as described here? https://docs.docker.com/machine/drivers/hyper-v/

[2021-01-25 22:22] priyawadhwa commented on #10241
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2021-01-25 22:22] #10241 closed

[2021-01-25 22:23] priyawadhwa commented on #10238
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2021-01-25 22:23] #10238 closed

[2021-01-25 22:33] tejal29 commented on #10260
Interesting!

[2021-01-25 22:33] priyawadhwa commented on #10213
Hey @michaelhenkel thanks for opening a PR to fix this bug!

[2021-01-25 22:38] priyawadhwa commented on #10204
Hey @bradurani thanks for opening this issue. We can fix this by installing `iputils-ping` in our docker base image here:

https://github.com/kubernetes/minikube/blob/master/deploy/kicbase/Dockerfile#L96

If you, or anyone else is interested in adding this and submitting a PR, please feel free to comment /assign on this issue

[2021-01-25 22:40] priyawadhwa commented on #10117
Hey @padmeshgit thanks for opening this issue. Looks like `start` is failing because the k8s binaries aren't downloading successfully.

Could you try deleting and starting again?

[code]

[2021-01-25 22:41] priyawadhwa commented on #10087
Hey @springcomefromprogrammingtheworld thanks for opening this issue. Could you please provide the output of

[code]

[2021-01-25 22:45] azhao155 commented on #10130
that's the cpu, this is the memory: 468.4MiB / 102.2GiB

[2021-01-25 23:02] mgabeler-lee-6rs commented on #10224
@medyagh amd64 fix is good on my end.

I do notice that the minikube_1.17.0-0_arm64.deb was removed from GitHub without replacement

[2021-01-25 23:07] priyawadhwa commented on #10149
Hey @ricosega thanks for opening this issue. A few questions:
- What minikube version are you running?
- What OS and driver are you using?

Running `minikube start --download-only` with a network connection should (in theory) be enough to run `minikube start` successfully online.

Could you provide the following output when run offline?

[code]

[2021-01-25 23:12] mgabeler-lee-6rs commented on #10224
A minor note: the rebuilt `minikube_1.17.0-2_amd64.deb` actually contains `1.17.0`, not `1.17.0-0` or `1.17.0-2`.

The same seems to be true of the `arm64` packages, and I think of prior releases too. I think this is a separate issue however.

[2021-01-25 23:34] DmytroVons commented on #10244
@Alenjojo if u find solution please send to us

[2021-01-25 23:38] medyagh commented on #10122
this seems to be related to an expired cert, I wonder if you had this cluster for a long time ? in that case minikube should still have detected expired certs (or maybe we could provide more relaxed expiration for our certs)

I would accept any PR that would increase our certs expiration to 5 years

[2021-01-25 23:38] tstromberg commented on #10224
Are you mentioning the versions reported by `apt`/`dpkg`, or the one reported by `minikube version`?

If the latter, this is intentional. The binary the package installs is identical (same checksum) the one we distributed for v1.17.0. It's only the Debian package that updated, to contain the correct binary. The final flag is the Debian package revision:  https://www.debian.org/doc/debian-policy/ch

[2021-01-25 23:48] chrisroat commented on #10229
Yes, I was considering running on Linux and I am using nvidia-docker.

I'm not overly familiar with minikube and how to adjust the launch of the "outer privileged container".  My use case is a helm chart which I run on GKE w/GPUs, which I want to iterate locally on.

[2021-01-25 23:51] bradurani commented on #10204
PR opened: https://github.com/kubernetes/minikube/pull/10262

[2021-01-26 00:59] tstromberg opened #10264 "DEB_REVISION is not propagated into .deb metadata"
The former -- the version info in the `.deb` package metadata.

A quick check identifies the issue here: https://github.com/kubernetes/minikube/blob/master/Makefile#L478

That should be `sed -E -i 's/--VERSION--/'$(DEB_VERSION)-$(DEB_REVISION)'/g' ...`

_Originally posted by @mgabeler-lee-6rs in https://github.com/kubernetes/minikube/issues/10224#issuecomment-767185001_

[2021-01-26 04:50] choudharyanurag commented on #9224
@sayboras I did a `make` on the minikube code but it is not working for me.

😄  minikube v1.17.0 on Darwin 11.1
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🏃  Updating the running docker "minikube" container ...
🐳  Preparing Kubernetes v1.20.2 on Docker 20.10.2 ...
💢  initialization failed, will try agai

[2021-01-26 06:00] lingsamuel commented on #10128
I am afraid I don't have enough time to resolve this..

[2021-01-26 06:06] afbjorklund commented on #10260
This is because one part of the code includes hyperthreads, and another part does not...

`cpu.Counts(false)`

https://godoc.org/github.com/shirou/gopsutil/cpu#Counts

`len(cpu.Info())`

https://godoc.org/github.com/shirou/gopsutil/cpu#Info

Kubeadm is **not** very specific, if it requires 2 threads/vCPUs or 2 hardware cores/"things".

[2021-01-26 06:11] afbjorklund commented on #10260
Seems like the behaviour changed, between cpu and v3/cpu:

[code]

This reports 8/8 on quad core, but with v3 it now reports 4/8.

[2021-01-26 06:25] afbjorklund commented on #10264
We never had a revision before, so I guess it wasn't in the "template" fields. (missing is the same as 0)

[code]

It still seems hard-coded (as zero) in the rpm template, so need to add a parameter for that one too...

[code]

[2021-01-26 06:26] afbjorklund commented on #10264
You'll notice that if they can name something differently, they _will_ do so... Potatoh, potahto.

[2021-01-26 07:07] koyuch commented on #10102
Hi @priyawadhwa . no this hasn't happened to me anymore, because now I try to always delete it "proper way" like this: `minikube stop && minikube delete`. but it would be nice if there was also some check in `minikube delete` which would also stop it before deleting.. (so this won't happen to anyone in the future..)

[2021-01-26 07:16] xhebox commented on #8733
I wonder if this is related to CNI.

[2021-01-26 08:34] thirdpartyusage opened #10265 "Minikube tunnel command issue in windows 10 using powershell"
minikube start -p test

[code]
Then

[code]
**Tunnel not working. I updated the latest openssh also. **

ssh -V
OpenSSH_for_Windows_8.1p1, LibreSSL 2.9.2

PowerShell/Win32-OpenSSH#1693

kubernetes/minikube#9753

Referred above two tickets, but still no luck .

Please let me know what i need to add?

@medyagh

[2021-01-26 09:01] SnailDove commented on #7332
I have the same problem and I start minikube with this command,
`minikube start --image-repository='registry.cn-hangzhou.aliyuncs.com/google_containers' --vm=true`.  and the terminal shows me that
[code]
So, I'm happy to type the command, `minikube addons enable ingress`. But after several minutes,  it shows me that

[code]
I'm pretty confused about the problem!

[2021-01-26 11:22] rodolfoap commented on #1441
FYI, crashed with this today [SMP Debian 10 (Buster) 5.9.15-1~bpo10+1 (2020-12-31) x86_64 GNU/Linux], solved, the solution was adding $USER to the `libvirt` group.

[2021-01-26 12:18] tejas0026 opened #10266 "minikube issue when not providing an IP address for ssh driver"
* Starting control plane node minikube in cluster minikube
! StartHost failed, but will try again: config: please provide an IP address
* Failed to start ssh bare metal machine. Running "minikube delete" may fix it:                                                                                                              config: please provide an IP address

X Exiting due to GUEST_PROVISION: Fai

[2021-01-26 12:36] huanvliu commented on #10244
@Alenjojo Hi, 'minikube start --driver=ssh' is use for remote server. Maybe we need use "minikube start --driver=docker", And the docker need user rights。

[2021-01-26 12:36] afbjorklund commented on #10266
Hmm, this is the same question as in #10244 - wonder if the documentation needs updating ?

https://minikube.sigs.k8s.io/docs/drivers/ssh/

[2021-01-26 12:43] afbjorklund commented on #10244
It would be great if you could provide some more details, like how you are trying your providing your own VM ?

Like the documentation says, it is a somewhat advanced feature when not able to use the usual drivers.

You _will_ have to install the operating system and the container runtime yourself, instead of letting minikube do it.

The recommendation is to go with VirtualBox (or any hypervisor),

[2021-01-26 13:14] afbjorklund commented on #10244
OK, I think I can guess what happened here. No hypervisor or container engine was installed by the user (at all).

And then the `ssh` driver was the only one that didn't have any prerequisites, and was chosen by `minikube start`:

[code]

That is a bug, I think. It needs to be opt-in, like the `none` driver is.

[2021-01-26 13:21] huanvliu commented on #10244
My os is “ubuntu 18.04”，docker version is 19.03.
below is details.
first: sudo usermod -aG docker $USER && newgrp docker
second:  minikube start --driver=docker --image-mirror-country='cn' --image-repository='registry.cn-hangzhou.aliyuncs.com/google_containers'
* minikube v1.17.0 on Ubuntu 18.04 (amd64)
* Using the docker driver based on existing profile
* Starting control plane node minikube in c

[2021-01-26 14:11] weinzierl-florian opened #10267 "Problems setting up minikube on my Manjaro-System using docker as a driver"
**Steps to reproduce the issue:**

1. downloading minikube as described in installation guide
2. run `minikube start --driver=docker --alsologtostderr`
3.

**Full output of failed command:**
 -> see minikube start, since this is the command failing

**Full output of `minikube start` command used, if not already included:**
<details>

[code]

</details>

[2021-01-26 14:12] weinzierl-florian commented on #10267
**Optional: Full output of `minikube logs` command:**
<details>
==> Docker <==
-- Logs begin at Tue 2021-01-26 14:05:08 UTC, end at Tue 2021-01-26 14:11:54 UTC. --
Jan 26 14:05:09 minikube systemd[1]: Starting Docker Application Container Engine...
Jan 26 14:05:09 minikube dockerd[175]: time="2021-01-26T14:05:09.149820547Z" level=info msg="Starting up"
Jan 26 14:05:09 minikube dockerd[175]: time="

[2021-01-26 14:16] weinzierl-florian commented on #10267
systemctl status kubelet yields:
`Unit kubelet.service could not be found.`

journalctl -xeu kubelet yields:
`-- Journal begins at Tue 2021-01-19 22:37:39 CET, ends at Tue 2021-01-26 15:13:22 CET. --
-- No entries --`

docker ps -a | grep kube | grep -v pause yields:
`579972154ba8   gcr.io/k8s-minikube/kicbase:v0.0.17   "/usr/local/bin/entr…"   8 minutes ago   Up 8 minutes                 127.0.0.

[2021-01-26 15:44] ConradKrinock commented on #10127
OK thanks I'll be able to respond later today.

[2021-01-26 16:12] afbjorklund opened #10268 "Disable the ssh driver by default, and make it opt-in"
Some users are getting the `ssh` driver, just by not installing any hypervisor or container engine at all.

We should make it like the `none` driver, so that it is only selected when requested (and given an IP address)

[2021-01-26 16:19] afbjorklund commented on #10266
Added PR #10269 for this issue

`X Exiting due to DRV_NOT_DETECTED: No possible driver was detected. Try specifying --driver, or see https://minikube.sigs.k8s.io/docs/start/`

[2021-01-26 16:21] afbjorklund commented on #10244
That is great, but it was not using --driver=ssh ?

[2021-01-26 16:27] afbjorklund commented on #10244
Created #10268 for when the driver got selected by default, when you didn't mean to use it.

`minikube start`

Leaving this issue open for when you do want to use it, but "forgot" to provide the IP address.

`minikube start --driver=ssh --ssh-ip-address=vm.example.com`

----

Maybe the error message needs to be improved ?

`X Exiting due to GUEST_PROVISION: Failed to start host: config: please pro

[2021-01-26 16:50] Yash0182 commented on #10170
Below are the logs, I got when I started minikube with default driver. I guess it took the one that came with DockerForMac.
$ minikube start
😄  minikube v1.16.0 on Darwin 10.13.6
✨  Automatically selected the docker driver
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
💾  Downloading Kubernetes v1.20.0 preload ...

🔥  Creating docker container (CPUs=2, Memory

[2021-01-26 17:27] #10268 closed

[2021-01-26 19:10] ConradKrinock commented on #10127
kubectl get po -A
NAMESPACE              NAME                                        READY   STATUS              RESTARTS   AGE
default                hello-minikube-6ddfcc9757-c4lvb             1/1     Running             3          17d
default                mongo-express-78fcf796b8-kfz2x              0/1     CrashLoopBackOff    1270       18d
default                mongodb-deployment-8f6675bc5-

[2021-01-26 19:11] ConradKrinock commented on #10127
kubectl describe deploy ingress-nginx-controller -n kube-system

Name:                   ingress-nginx-controller
Namespace:              kube-system
CreationTimestamp:      Mon, 11 Jan 2021 16:10:47 -0500
Labels:                 addonmanager.kubernetes.io/mode=Reconcile
                        app.kubernetes.io/component=controller
                        app.kubernetes.io/instance=ingress-nginx

[2021-01-26 19:24] priyawadhwa commented on #10267
Hey @weinzierl-florian could you try running:

[code]
and let us know if that fixes the issue?

[2021-01-26 19:28] priyawadhwa commented on #10265
Hey @thirdpartyusage thanks for opening this issue. Unfortunately, I'm not familiar with tunnel/Windows.

@blueelvis, would you have any ideas here? Just asking since you were the author of #9753 and definitely know more about this than I do.

[2021-01-26 19:41] weinzierl-florian commented on #10267
i ran
[code]

but got

<details>
😄  minikube v1.17.0 auf Arch 20.2.1
✨  Using the docker driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🔥  Creating docker container (CPUs=2, Memory=3900MB) ...
🐳  Vorbereiten von Kubernetes v1.20.2 auf Docker 20.10.2...
    ▪ Generating certificates and keys ...
    ▪ Booting up control plane ...
💢  initialization fai

[2021-01-26 20:34] medyagh opened #10272 "Flake: TestMultiNode/serial/RestartMultiNode"
This test flakes

example:
https://storage.googleapis.com/minikube-builds/logs/10270/7e9d58c/VirtualBox_Linux.html

[2021-01-26 20:53] #10260 closed

[2021-01-26 21:08] sasha7 commented on #9224
I've installed arm version of minikube via  brew `brew install minikube --build-from-source` and latest docker preview beta 7,

[code]

dashboard was loading as well:
[code]
Besides doing that, I was able to deploy a simple golang hello world container to it and expose as a service, worked like a charm!

[2021-01-26 21:25] jiefenghe commented on #10272
/assign

[2021-01-26 22:33] ilya-zuyev opened #10276 "Restore BUILD_IMAGE value to 'kube-cross'"
https://github.com/kubernetes/minikube/pull/10202 changed default BUILD_IMAGE value from `us.gcr.io/k8s-artifacts-prod/build-image/kube-cross:v$(GO_VERSION)-1` to `golang:1.16beta1-buster` to be able to build for darwin/arm64

We need to return back to `kube-cross` when it supports go 1.16

[2021-01-27 01:34] zhangb191 commented on #10152
hi, i got the same problem ,did you fix it? help ~

[2021-01-27 05:00] thirdpartyusage opened #10278 "After restart the windows 10 machine unable to start the Minikube"
minikube start
😄  minikube v1.17.0 on Ubuntu 20.04
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🏃  Updating the running docker "minikube" container ...

🤦  StartHost failed, but will try again: provision: Temporary Error: NewSession: new client: new client: dial tcp 127.0.0.1:49156: connect: connection refused
🏃  Updating the runn

[2021-01-27 05:02] AndreyIvshin commented on #10152
I just started to use Ubuntu 20.04 for development

username@devicename:~$ minikube start
😄  minikube v1.17.0 on Ubuntu 20.04
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing docker container for "minikube" ...
🐳  Preparing Kubernetes v1.20.2 on Docker 20.10.2 ...
🔎  Verifying Kubernetes components...
🌟  Enabled

[2021-01-27 05:16] AndreyIvshin commented on #10152
Hello! I had this problem using Docker Toolbox on Windows 10. But after switching on Ubuntu 20.04 it works fine for Docker Engine and Minikube with Docker Driver.

[code]

[2021-01-27 06:25] nathanjisaac commented on #9860
@pribalaji58 I ran into this issue on Mac OS and running these commands worked for me. Not sure if it will work on Windows though.

https://github.com/kubernetes/minikube/issues/9070#issuecomment-679314271

[2021-01-27 07:37] jiefenghe commented on #10272
did some initial investigation, this is what I found so far:
1. I manually run the steps locally, and cannot reproduce.
2. The failure has nothing to do with the third node. If I only have `validateMultiNodeStart`, `validateStopMultiNodeCluster` and `validateRestartMultiNodeCluster` in the test set. The integration test will still fail.
3. The test is always failing in my linux machine, so it's no

[2021-01-27 10:01] mdtnpll commented on #10266
Open a PowerShell console as Administrator, and run the following command:

Enable-WindowsOptionalFeature -Online -FeatureName Microsoft-Hyper-V -All

[2021-01-27 12:30] lingsamuel commented on #10136
Can we use a fork version with this patch https://github.com/machine-drivers/machine/pull/32? @medyagh

[2021-01-27 17:06] jgoeres opened #10280 "Image pull starts to fail with DNS errors (i/o timeout)"
Hi,

I am currently observing a severe problem with my minikube environment. Running on Windows 10 with Hyper-V.
After "minikube start", as a first step I usually enable the ingress add-on.
Next, I start deploying a few workloads, most of which take images from our internal registry.

This seemed to work fine for a while, but now I am seeming randomly getting pods in "ErrImagePull" and eventually

[2021-01-27 19:10] medyagh commented on #10160
@rh-dluong I am curious if you have this same problem on debian and a different dirver (docker) ? we dont have integration test for arch linux

/triage needs-information
/kind support

[2021-01-27 19:12] medyagh commented on #10155
@lolbuddy could it be possibly because docker is not running on your system ? on none driver, u would need docker to run for the container run time

[2021-01-27 19:13] medyagh commented on #10155
it seems like minikube could give a better error messge in this case, and let the user know their docker is not running,  if u dont mind lets track this issue here, https://github.com/kubernetes/minikube/issues/10165

[2021-01-27 19:13] #10155 closed

[2021-01-27 19:14] medyagh commented on #10165
minikube could do a better job checking if Docker is running for "None Driver" and provide a better error

[2021-01-27 19:15] sharifelgamal commented on #10014
Yeah, a t3.micro just doesn't have enough resources to start a minikube cluster properly. The error might look ugly (it's just kubeadm barfing because it can't start up), but the warnings at the beginning of the command are pretty clear. Should make it more clear that we expect failure in this situation? Or should we fail out even?

[2021-01-27 19:16] ilya-zuyev commented on #10276
/assign

[2021-01-27 19:17] sharifelgamal commented on #9944
@lintingyong,
您是否有幸升级到minikube的最新版本1.17.0？

[2021-01-27 19:19] hetong07 commented on #10165
@hetong07 /assign

[2021-01-27 19:20] medyagh commented on #10085
Thank you for reporting this. This does seem like a bug, I would accept a PR from any isto experts to fix this !

[2021-01-27 19:26] medyagh commented on #10050
@Allah-The-Dev  do u mind checking if u ave access to the folder ?  C:\Users\username.minikube\machines\minikube\b

and also do u mind installing the latest verison of minikbue ? your verison seems to be outdated.

and also can u please share the full output of  these commands ?

[code]

[2021-01-27 19:26] medyagh commented on #10050
/triage needs-information
/kind support

[2021-01-27 19:27] ilya-zuyev opened #10281 "Remove targets related to single-arch kicbase from Makefile"
Starting 1.17.0 minikube switched to multi-arch kicbase images and to the new build process based on `docker buildx` command. However we still keep old kicbase targets in out Makefile. We need to remove them in following releases

[2021-01-27 19:28] medyagh commented on #10055
@gunterze this doesnt seem to be an issue with minikube, you error is from your container, minikube deployment seems to be scucessful.

do u mind sharing

"kubectl get pods -A"

and aslo

"minikube logs"

[2021-01-27 19:33] priyawadhwa commented on #10005
Hey @niuxiongwen friendly ping, are you still seeing this issue?

[2021-01-27 19:34] priyawadhwa commented on #9615
Hey @249043822 were you able to try the above suggestions?

[2021-01-27 19:35] sharifelgamal commented on #9584
Sorry it took us so long to get back to you on this, that shouldn't happen.

The default-storageclass error is mostly a red herring, minikube doesn't need all of its addons to start to start up successfully itself. The `Error listing StorageClasses: Unauthorized` is curious though, it makes me think that something is corrupted in your kubernetes cluster. Like maybe you had an old minikube cluster

[2021-01-27 19:36] medyagh commented on #10280
@jgoeres do u mind providing

`kubectl get pods -A`
and also the logs for the coreDNS pods in kube-system namspace ?

and also the full output of

```minikube logs```

/triage needs-information
/kind support

[2021-01-27 19:37] medyagh commented on #10045
@lingsamuel I suspect you are on something ! our cace add could have more vefifications in it, I would accept any PR that would fix this.

[2021-01-27 19:37] priyawadhwa commented on #9561
Hey @rboal thanks for providing that output. If you're still seeing this issue, could you provide more info about the kubelet in minikube? It looks like for some reason it isn't running.

the output of these would be helpful:

[code]

[2021-01-27 19:39] medyagh commented on #10040
Thank you for taking the time to create this issue,

This does seem to be a failure in minikube to create KVM domain network

do you mind providing the output of the following commands ?

[code]
and also
```virsh -c qemu:///system list --all```
and aslo

```virsh net-list```

@prezha you have looked at the KVM issues before I wonder if you have any insight on this ?

[2021-01-27 19:40] medyagh commented on #9860
@pribalaji58 do u still have this issue ? do u mind sharing the full logs ? "--alsologtostderr"

[code]

[2021-01-27 19:41] priyawadhwa commented on #10023
Hey @connectsachit this issue has been quiet for a few weeks so I'm going to go ahead and close it for now. If you're still seeing this issue or have any questions, please feel free to reopen at any time. Thank you!

[2021-01-27 19:41] #10023 closed

[2021-01-27 19:45] medyagh commented on #9040
Regrettably @khsabhishek , there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

[2021-01-27 19:45] #9040 closed

[2021-01-27 19:45] medyagh commented on #9880
Hi @sudechun , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-01-27 19:45] #9880 closed

[2021-01-27 19:45] medyagh commented on #9890
Hi @dineshreddychittamuri , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-01-27 19:45] #9890 closed

[2021-01-27 19:46] medyagh commented on #10010
Hi @scpxin , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

[2021-01-27 19:47] #10030 closed

[2021-01-27 19:47] priyawadhwa commented on #10011
Hey @mudasar187 I'm not sure why Virtualbox isn't working here -- unfortunately the only suggestion I have is to upgrade to minikube `v1.17.0` and see if that fixes it. If not, I would use the docker/hyperkit drivers instead (docker is the recommended and the fastest).

[2021-01-27 19:49] priyawadhwa commented on #9663
Ah gotcha. @EArminjon if you, or anyone else, would be interested in fixing this so that the error is handled better, feel free to take this issue on by commenting /assign.

[2021-01-27 19:51] medyagh commented on #9360
Hi @mFarghaly, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-01-27 19:51] #9360 closed

[2021-01-27 19:51] mudasar187 commented on #10011
I am using the hyperkit driver, but is Docker faster than hyperkit? Can you explain me why?

[2021-01-27 19:58] ilya-zuyev opened #10282 "Add solution message for unsupported legacy docker versions"
We do not support old docker daemon versions in docker driver  because of `docker network inspect minikube` output format. But the error message is very confusing (see below).  We need to check docker version on start and if it's too old (>18.06.3 should be fine, but need to verify) we should report an error and exit

[code]

[code]
[code]
[code]
[code]

[2021-01-27 20:48] gunterze commented on #10055
it's related to running k3s in docker/container. s.o. https://github.com/ubuntu/microk8s/issues/1853

[2021-01-27 21:57] dabcoder commented on #10122
In my case, I've had it for a while yes, >= 18 months I would say.

@medyagh would the modification need to be done in https://github.com/kubernetes/minikube/blob/master/pkg/minikube/bootstrapper/certs.go?

[2021-01-27 21:58] gunterze commented on #10055
[code]

[2021-01-27 22:47] prezha commented on #10040
@medyagh sure, i can try to help

@un-fuf-a-doo couple of things to check first please:
- in your reply above:
  `$ virsh -c qemu:///system list --all` and `$ virsh net-list`  => `$` indicates that you might have run this command as a plane user - ie, w/o using sudo/su? if that is the case, then i'd expect to see just empty lists there unless your user's permissions are changed? is your user part

[2021-01-27 23:33] medyagh commented on #10282
here in the code we check for docker verison
we could return unhealthy if the version is less than 18.07

https://github.com/medyagh/minikube/blob/72443005764661ff12dafedee6c0afed4829b379/pkg/minikube/registry/drvs/docker/docker.go#L95

and also another place to check is

https://github.com/medyagh/minikube/blob/72443005764661ff12dafedee6c0afed4829b379/pkg/drivers/kic/oci/network_create.go#L175

i

[2021-01-28 00:43] mazzystr commented on #10182
`sudo minikube start --driver=none --container-runtime=cri-o --feature-gates="LocalStorageCapacityIsolation=false"` and
`su - minikube &&  minikube start --driver=podman --container-runtime=cri-o --feature-gates="LocalStorageCapacityIsolation=false"` seem to work for me.  As soon as I add `--api-name=` and `--api-names=` minikube fails to start.

v7 verbosity show alot of these errors...
[code]

[2021-01-28 00:49] mazzystr commented on #9982
I run the following:
* minikube version: v1.17.0
* crictl version
Version:  0.1.0
RuntimeName:  cri-o
RuntimeVersion:  1.20.0
RuntimeApiVersion:  v1alpha1

`sudo minikube start --driver=none --container-runtime=cri-o --feature-gates="LocalStorageCapacityIsolation=false"` and
`su - minikube &&  minikube start --driver=podman --container-runtime=cri-o --feature-gates="LocalStorageCapacityIsolation=f

[2021-01-28 00:56] mazzystr commented on #8526
@afbjorklund except the issue description reads:

This affects the VM-less drivers, such as "*none*" or "_podman_", when running under Fedora 31 and later:

None of us commenting on Fedora issues want to run docker runtime.

[2021-01-28 01:46] robpacheco commented on #8765
I'm having a similar issue on macOS Big Sur with Minikube 1.17.

I ran:
$ minikube start -p sns --kubernetes-version v1.17.15 --vm-driver hyperkit --memory 4096 --cpus 2

Here is the output:
💿  Downloading VM boot image ...

👍  Starting control plane node sns in cluster sns
💾  Downloading Kubernetes v1.17.15 preload ...

🔥  Creating hyperkit VM (CPUs=2, Memory=4096MB, Disk=20000MB) ...
🐳  Preparin

[2021-01-28 01:49] zhangb191 opened #10287 "minikube addons enable ingress"
🔎  Verifying ingress addon...

❌  Exiting due to MK_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]

😿  If the above advice does not help, please let us know:
👉  https://github.com/kubernetes/minikube/issues/new/choose

[2021-01-28 01:56] zhangb191 commented on #10059
解决了吗，我也遇到了这个问题，来求助～

[2021-01-28 02:09] springcomefromprogrammingtheworld commented on #10059
@zhangb191  解决了
第一步从阿里云镜像仓库拉取镜像
1.docker pull registry.cn-hangzhou.aliyuncs.com/google_containers/nginx-ingress-controller:v0.40.2

第二步重现命名标签
2.docker tag registry.cn-hangzhou.aliyuncs.com/google_containers/nginx-ingress-controller:v0.40.2 us.gcr.io/k8s-artifacts-prod/ingress-nginx/controller:v0.40.2

第三步添加镜像缓存
3.minikube cache add us.gcr.io/k8s-artifacts-prod/ingress-nginx/controller:v0.40.2
第四步启

[2021-01-28 03:34] songford opened #10289 "Minikube start with `ssh` as driver ignores `--ssh-key` parameter"
**Steps to reproduce the issue:**

1. `minikube start --driver=ssh --ssh-ip-address=192.168.233.5 --ssh-key='~/.ssh/id_rsa' --ssh-user=songford --alsologtostderr -v=4`

**Full output of failed command:**
[code]

With `--alsologtostderr -v=4`:
[code]

But I am able to use ` ssh -i ~/.ssh/id_rsa songford@192.168.233.5` to connect to this VM.

[2021-01-28 03:41] smuruga5 opened #10290 "RUNTIME_ENABLE"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-01-28 03:41] #10290 closed

[2021-01-28 05:35] IlkhomjonUgli opened #10291 "How to config IP address on natively installed minikbe on windows 10 Home?"
So I have installed minikube and docker using winget on my windows 10 home. When I start minikube using the "minikube start" command it is giving me an error like below.

C:\Users\<username>>minikube start
* minikube v1.17.0 on Microsoft Windows 10 Home 10.0.19041 Build 19041
* Using the ssh driver based on existing profile
* Starting control plane node minikube in cluster minikube
! StartHost fai

[2021-01-28 05:52] lingsamuel commented on #10045
No idea why this happened. I can't find a reliable way to re-pro this issue.

[2021-01-28 05:53] metasequoia commented on #9615
`kubectl describe po ingress-nginx-controller-558664778f-j7c4x -n=kube-system`

  Type     Reason       Age                 From               Message
  ----     ------       ----                ----               -------
  Normal   Scheduled    16m                 default-scheduler  Successfully assigned kube-system/ingress-nginx-controller-558664778f-j7c4x to minikube
  Warning  FailedMount  15m

[2021-01-28 06:05] IlkhomjonUgli commented on #10291
Yeah for those who are having the same issue. I found the solution.
The following steps can solve the problem
- installing winget
- install minikube using `winget install minikube` command
- install VM Virtualbox using stand-alone installation from [winget install minikube](https://download.virtualbox.org/virtualbox/6.1.18/VirtualBox-6.1.18-142142-Win.exe)
- run command `minikube start --vm-driver

[2021-01-28 06:05] #10291 closed

[2021-01-28 06:25] jgoeres commented on #10280
@medyagh Thanks for looking into this.

The sample output above is an (obfuscated, I just renamed my workload pods) output of kubectl get pods -A, I left it running over night, now it looks like this:

    $ kubectl get pods -A
    NAMESPACE       NAME                                        READY   STATUS                  RESTARTS   AGE
    kube-system     coredns-6955765f44-tbgrg

[2021-01-28 06:30] lingsamuel opened #10292 "Flaky tests: docker.sock: connect: permission denied"
https://github.com/kubernetes/minikube/pull/10111/checks?check_run_id=1773994151
Full log ->[1_functional_docker_ubuntu_arm64.txt](https://github.com/kubernetes/minikube/files/5885265/1_functional_docker_ubuntu_arm64.txt)

/kind failing-test
/kind flake

[code]

[code]

[2021-01-28 06:45] afbjorklund commented on #10289
Thanks for reporting, it seems like this also happens on Windows - but haven't really seen it on Linux...

[2021-01-28 06:50] afbjorklund commented on #10282
Similar to #9077

[2021-01-28 06:53] afbjorklund commented on #10289
Note that `~/.ssh/id_rsa`  is actually the default. So the parameter should not even be needed.

[2021-01-28 07:02] afbjorklund commented on #10289
These messages are "normal":

`new client: new client: Error creating new ssh host from driver: Error getting ssh host name for driver: IP address is not set`
_It takes a while for minikube to call the Config, but eventually it does and then it moves on (after a couple of retries)._

`Couldn't copy SSH public key : unable to copy ssh key: open private_key.pub: no such file or directory`
_There is

[2021-01-28 07:43] afbjorklund commented on #10289
I can confirm that it does seem to be a little stupid, when not using the external `ssh` but the "native" ssh.

`creating host: create: creating: usermod: NewSession: new client: new client: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none], no supported methods remain`

There is supposed to be a publickey (from file or from agent) in there, otherwise it will be hard to

[2021-01-28 07:45] ryzior opened #10294 "! This VM is having trouble accessing https://k8s.gcr.io (different than reported so far)"
Issue fixed:
Switching to a new VSwitch fixed the issue (external one connected to a physical eth network card).
but leaving this description in case someone has similar issue in the future.

this is Windows 10 pro setup with Hyper-V

[code]

I have already spent some time troubleshooting this , trying to follow many suggestions from here and other sites.
I have a standard issue with external DNS

[2021-01-28 08:43] songford commented on #10289
@afbjorklund thanks for following up with this issue. I've tried expanding the path into a full one manually which didn't help either. I am currently using docker driver to bypass this issue, but if what I'm experiencing is universal, it seems the `ssh` driver on Mac is somewhat `broken`...Hard to imagine any serious SSH target uses `none` as its authentication method.

[2021-01-28 09:21] mvolfik commented on #7903
I installed minikube as debian package: (from https://minikube.sigs.k8s.io/docs/start/)

[code]

However, `/usr/bin/minikube` was set with these permissions:

`-rwxr-x--- 1 root root 58M led 25 18:40 /usr/bin/minikube*`

Meaning only root could execute it. I fixed that by `sudo chown :docker /usr/bin/minikube` (allow executing by users in group `docker`)

[2021-01-28 09:30] afbjorklund commented on #10289
It's the default, but _usually_ we add some more too :-)

Broken on all platforms, but you should be able to use --ssh-key "$HOME/.ssh/id_rsa"

When fixed, it will support `ssh-agent` and `~/.ssh/id_rsa` by default (without param)

Basically the same as when using `ssh` (OpenSSH) CLI ?

[2021-01-28 09:35] afbjorklund commented on #7903
@mvolfik : that is unrelated to this issue, it was just a packaging error with the revision 2 (unfortunately) - it should be 755

[2021-01-28 10:11] Alenjojo commented on #10244
So `minikube start --driver=ssh --ssh-ip-address=vm.example.com`  is used to add the missing IP?

[2021-01-28 10:35] afbjorklund commented on #10244
Yes. Should probably have some more example of how to use --ssh-port and --ssh-key as well.

Especially now, with the default keys and agent being broken (although that is just temporary...)

But it (`ssh`) is an advanced driver (like the `none driver`), so it will **not** show you how to set up a VM.

We already have all the other hypervisor drivers for that, i.e. like the traditional VirtualBox

[2021-01-28 11:11] choudharyanurag commented on #10108
Almost the same issue,
I am running M1 apple silicon MB Pro

First things first I do not have any thing set to KUBECONFIG in my environment variable. I am using minikube by doing a `make` on the minikube repo.

Following is the log

[2021-01-28 12:44] adithyak21 opened #10296 "minikube addons enable ingress timed out waiting for the condition"
**Steps to reproduce the issue:**

1.minikube start --driver=hyperv
2. minikube addons enable ingress

**Full output of failed command:**

X Exiting due to MK_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]
*
* If the above advice does not help, please let us know:
  - https://github.com/kubernetes/minikube/issu

[2021-01-28 14:02] Allah-The-Dev commented on #10050
After this problem I uninstalled minikube using chocolatey and installed again, it worked. Now after minikube version 16, I never faced this issue again, may be it is fixed or not sure.

[2021-01-28 14:06] gdamjan opened #10297 ""setting autostart for network default" fails linux/kvm2/libvirt"
**Steps to reproduce the issue:**

1. libvirt 7.0.0
2. minikube delete
3. minikube start --interactive=true --container-runtime=cri-o

**Full output of failed command:**

[code]

** Some additional info **
the `default` network in *my* libvirt installation is a transient network bridge, i.e. it's defined outside of libvirt and "imported" into it. Even if I try to set it to "autostart" with libvirt

[2021-01-28 16:23] afbjorklund commented on #10244
Support ssh-agent will take a while, so that will be scoped out (for now).

To start with the usual key with minikube 1.17.0, use:
[code]

It's not possible to use ~/.ssh/id_rsa (or nothing), and not to use go ssh.

[2021-01-28 16:38] afbjorklund commented on #10289
The current workaround is: (possibly to change user and port too)

[code]

Because using tilde and native ssh client doesn't work at the moment.

[2021-01-28 16:49] Patil2099 commented on #10282
@ilya-zuyev  I am new to this repo. Can you guide me in closing this issue? I would love to help in solving this

[2021-01-28 16:54] afbjorklund commented on #10297
Currently it is not possible to "opt-out" of this, it is done for both default network and private network.

Having a toggle for it could work.

[2021-01-28 17:09] Yinten opened #10299 "Minikube hangs on start if the hyper-v manager doesn't have a proper virtual switch."
**Steps to reproduce the issue:**

1.   Give virtual switch no internet
2.   run minikube start --drive=hyperv
3.  Hangs

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-01-28 18:30] changsijay commented on #8055
Same issue here, why the issue is very eady to repriduce but closed...

[2021-01-28 18:33] think01 commented on #10249
Happens same to me on Windows 10 from WSL2 using Ubuntu 18-04 and Docker driver, minikube version 1.17.0.

Command:

[code]

fails with same final error "libmachine: Error dialing TCP: ssh...".

I resolved reverting to minikube 1.16. Worked like a charme, maybe there's some type of regression in last version? 🤔

[2021-01-28 21:17] #10258 closed

[2021-01-28 21:31] colli173 opened #10302 "Minikube fails to start with docker driver on macOS 11.1. Error: /var/lib/dpkg: no such file or directory"
**Steps to reproduce the issue:**

1. docker system prune --volumes
2. minikube delete
3. docker start --driver=docker

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-01-28 21:31] nolatone commented on #2431
Minikube sets permissions for all subdirs to one uid, apparently 9P doesn't translate UIDs from the host to the client mount like NFS for example, and this breaks services in my pods.

To deal with this I have to use multiple mounts each with different --uid  to support Persistent Volumes for kafka, zookeeper, and other services running with minikube.

[2021-01-28 21:56] afbjorklund commented on #10266
Fixed in minikube 1.17.1.

Now it will not pick the "ssh" driver by default, but instead try to find an available driver.

[code]

If you _do_ want to use the new "ssh" driver, you need to select it using `--driver=ssh`

[2021-01-28 21:56] #10266 closed

[2021-01-28 22:03] afbjorklund commented on #10302
The usual reason for this was that a race condition has caused an empty `/var` to get mounted...

Using `--preload=false` might help ? But it would be interesting to see, if this is something new.

[2021-01-28 22:08] gdamjan commented on #10297
ok, I'm gonna take a look at it.

 what would be the most similar option that does something like this?

[2021-01-28 22:13] afbjorklund commented on #10297
Some kind of mix between kvm-network and kvm-hidden perhaps

[2021-01-28 22:15] cvila84 commented on #8790
Hello, would it be possible to also consider <ip> and <hostname> in the regexp without having to mention a port ?

In our situation, until 1.17, we were using --insecure-registry dockerhub.example.com in our CI/CD with all K8S manifests pointing to docker images built with tag of kind dockerhub.example.com/xxx/yyy

With 1.17+, to pass the validation, I have to set --insecure-registry dockerhub.exa

[2021-01-28 22:46] colli173 commented on #10302
Thanks! I'll try with --preload=false and update here. It may be worth noting I've reproduced this issue with Minikube version 1.16.0 and 1.17.1 as well
[code]

[2021-01-28 22:47] daehyeok commented on #10282
`docker network inspect` command include version info. Do you want to run another command(similary way with docker.go) to check version?

[code]

[2021-01-28 23:01] afbjorklund commented on #10302
The previous trick was to run a simple container with a `/var` volume mount, to make sure docker copied it from the image:

`docker run --entrypoint /usr/bin/test -v /var ubuntu:20.04 -d /var/lib`

That will create a volume with 4.5 MB of various junk that also happens to be in the `/var` directory of the ubuntu image...

`backups/  cache/  lib/	local/	lock@  log/  mail/  opt/  run@	spool/	tmp/`

[2021-01-28 23:19] colli173 commented on #10302
@afbjorklund issue seems to persist with --preload=false. I'll take another look at the `/var` dir image trick you mentioned too
[code]

[2021-01-28 23:22] graste commented on #7828
I'm having this after upgrading minikube from 1.14.2 to 1.17.0. Using virtualbox. Any PV/PVC doesn't work - default helm charts that used to work, are not working. Tried start/stop/delete and kubernetes version 1.8.15 and 1.20.2 in minikube. Not working ("unbound immediate PersistentVolumeClaims"). Deleting the box and using the same helm charts/values with kubernetes version 1.17.17 on minikube 1

[2021-01-29 00:21] colli173 commented on #10302
I've been able to get Minikube 1.17.0 running again by selecting `Clean/Purge data` from the troubleshoot section of the Docker Desktop app and then running `minikube start --driver=docker`. For whatever reason that worked when `docker system prune --volumes` wouldn't. Perhaps it's a more comprehensive purge when run from the app

[2021-01-29 04:52] pambhullar commented on #9971
**@mashanivas** Try wiping out your local minikube cluster and restarting it back again.
Use the following commands to do so:
1) minikube delete and then
2) minikube start
This will wipe out the environment and reset it to a blank slate.

[2021-01-29 05:43] RA489 commented on #10296
/kind support

[2021-01-29 06:08] BLasan commented on #7670
@medyagh Is this issue still opened?

[2021-01-29 07:10] sivaswami opened #10306 "Not starting"
**Steps to reproduce the issue:**

1. minikube start is failing
2.
3.

**Full output of failed command:**

• • • minikube start --profile=minikube --alsologtostderr
I0129 02:07:54.574761  372182 out.go:229] Setting OutFile to fd 1 ...
I0129 02:07:54.574987  372182 out.go:281] isatty.IsTerminal(1) = true
I0129 02:07:54.574994  372182 out.go:242] Setting ErrFile to fd 2...
I0129 02:07:54.575000  372

[2021-01-29 07:10] sivaswami commented on #10306
I did minikube delete and minikube start several times

[2021-01-29 07:22] afbjorklund commented on #10306
Minikube is unable to parse your unusual DOCKER_HOST setting:

[code]

It needs to be bound to one address, and should probably use https.

But normally one would just use the default `unix:///var/run/docker.sock`.

[2021-01-29 07:24] jgoeres commented on #10280
Some minor updates: I had two colleagues with almost the same machine setup as my own try this out. They are not affected. However, Minikube seems slow in their environments (and in my own, as far as it works at all).
Interestingly, the problem worsened over the course of yesterday - where initially the pull of the images for the ingress controller addon would work most of the time, already this s

[2021-01-29 07:42] dabcoder commented on #10122
Although I am seeing this expiration date set to 10 years in the future: https://github.com/kubernetes/minikube/blob/f0c59ce8f794f12928d8922b9e29b66f5d8d3fd9/pkg/util/crypto.go#L51.

[2021-01-29 08:04] afbjorklund commented on #10306
There already was a warning:

`❗ Listening to 0.0.0.0 on external docker host knight. Please be advised`

Maybe it needs to be expanded.

It should also be _possible_ to use `--host tcp://0.0.0.0:2376 --tls`, if desired...

* https://docs.docker.com/engine/security/https/

But we should **not** support or encourage using http (and [port 2375](https://docs.docker.com/engine/reference/commandline/do

[2021-01-29 08:08] songford commented on #10289
@afbjorklund
[code]
Unfortunately, using `--native-ssh=false` doesn't seem to help either.

[2021-01-29 08:13] seguidor777 opened #10307 "Metallb addon is not setting the IP range"
Hi,

I'm trying to use the metallb addon and I'm following [this guide](https://medium.com/faun/metallb-configuration-in-minikube-to-enable-kubernetes-service-of-type-loadbalancer-9559739787df) about how to install it and configure it.
After I add the first and end IPs (192.168.49.10, 192.168.49.30) and I query the configmap, the addresses list appear empty.
And I have to edit the configmap and ad

[2021-01-29 08:29] afbjorklund commented on #10289
What is the version of `/usr/local/bin/ssh` ?

Can you try to run the command with `-v` ?

It _looks_ like it is using the wrong user, but maybe something else is off.

--ssh-ip-address=192.168.233.5 --ssh-key=$HOME/.ssh/id_rsa **--ssh-user=fizzytidus**

**root**@192.168.233.5 -p 22 (and no sign of the -i parameter either, so not "working")

It did call the external `ssh` program as requested, so

[2021-01-29 08:42] seguidor777 commented on #10307
I'm using this patch as a workaround `kubectl patch configmap config -n metallb-system -p '{"data":{"config": "address-pools:\n- name: default\n  protocol: layer2\n  addresses:\n  - 192.168.49.10-192.168.49.20"}}'`

[2021-01-29 08:57] songford commented on #10289
`ssh` on my distro (macOS, hence darwin/BSD?) doesn't take `-v`. If I look into `man ssh`, it says
[code]

Sorry I wasn't clear about what I meant by

I meant to say it thinks my SSH client **is** `exit 0` somehow?

Also this line
`I0129 15:40:37.437938   16624 main.go:119] libmachine: &{[-F /dev/null -o ConnectionAttempts=3 -o ConnectTimeout=10 -o ControlMaster=no -o ControlPath=none -o LogLevel=

[2021-01-29 08:59] afbjorklund commented on #10289
Usually `-v` (or -vvv) is used to increase ssh verbosity. Like you mention, removing quiet is probably also a good idea.

You can either delete the old "ssh" driver profile (it's just the connection parameters anyway), or start a new one (-p)

[2021-01-29 09:51] hackcoderr opened #10308 "minikube is not starting when not providing an IP address for ssh driver"
**Steps to reproduce the issue:**

C:\Program Files\Kubernetes\Minikube>minikube start --driver=ssh
* minikube v1.17.1 on Microsoft Windows 10 Pro 10.0.18363 Build 18363
* Using the ssh driver based on user configuration
* Starting control plane node minikube in cluster minikube
! StartHost failed, but will try again: config: please provide an IP address
* Failed to start ssh bare metal machine. R

[2021-01-29 12:12] #6887 closed

[2021-01-29 13:58] afbjorklund commented on #10308
Same as #10266, can we provide some better driver documentation or make it more clear somehow ?

https://minikube.sigs.k8s.io/docs/drivers/ssh/

When you supply your own VM, you _will_ need to provide the connection parameters for it (at a minimum, the IP)

Currently there are also some issues with the default SSH keys, so you need to provide those explicitly: https://github.com/kubernetes/minikub

[2021-01-29 15:24] gchicoye commented on #10243
Hi,
I'm facing the same issue

[code]

[2021-01-29 16:24] seerocode opened #10310 "Minikube not starting with docker driver on M1 chip Mac"
**Steps to reproduce the issue:**

1. Run docker M1 tech preview with `bridge100` inet 192.168.64.1
2. `minikube start --driver=docker --alsologtostderr -v=5`

**Full output of failed command:**

<details>

[code]
</details>

**Optional: Full output of `minikube logs` command:**
<details>

[code]

</details>

[2021-01-29 16:46] afbjorklund commented on #10310
Seems different from #10243

You will need to use a VM driver, until Docker works on M1

[2021-01-29 16:49] seerocode commented on #10310
Okay. So even with the Docker tech preview working?

[2021-01-29 16:55] afbjorklund commented on #10310
Seems like it got a timeout, from `docker run`. So more network issues, than regular segmentation fault.

But it doesn't seem that it is working, no. It might be possible to troubleshoot more, but not really ready ?

[2021-01-29 16:58] afbjorklund commented on #10310
Forgot that we don't have the ISO ready for ARM just yet. So you will just have to wait, I guess

[2021-01-29 17:29] seerocode commented on #10310
@afbjorklund is there a timeline by any chance I can watch out for?

[2021-01-29 17:44] medyagh opened #10311 "running minikube.exe in WSL looks for home in C:\..."
when minikube.exe runs in Powershell it will create a MINIKUBE_HOME in C:\Program ...

but when the same binary is called in WSL (windows sub linux) it looks for minikube home in linux Path ~/.minikube
this causes confusion !

for that reason we need to either, not allow running .exe binary in WSL and make suer make a choice of downloading Linux binary on WSL or .exe binary needs to do the right t

[2021-01-29 18:18] #8832 closed

[2021-01-29 18:46] medyagh commented on #10165
as noted by @hetong07  this is caused by this line

https://github.com/medyagh/minikube/blob/72443005764661ff12dafedee6c0afed4829b379/pkg/minikube/bootstrapper/bsutil/kubeadm.go#L64

[code]

one way to fix this is, we can parse for the error message and if the docker is not run we can return a ErrorType and if it is None Driver, add solution to user that they need to start docker

[2021-01-29 21:16] grebenisan opened #10312 "Minikube does not start on Windows10"
minikube start --vm-driver="hyperv" --hyperv-virtual-switch="minikube"
**Steps to reproduce the issue:**

1.execue this command from the PowerShell running as Admin:
minikube start --vm-driver="hyperv" --hyperv-virtual-switch="minikube"

the output of the command is:

* minikube v1.17.1 on Microsoft Windows 10 Enterprise 10.0.17763 Build 17763
* Using the hyperv driver based on existing profile
*

[2021-01-29 21:56] spowelljr opened #10313 "Don't spam multiple "docker has taken an unusually long time" messages during the same command"
If docker is slow during a command it may repeat the message multiple times during the same command, it should only show the message once during the command.

[code]

[2021-01-29 21:58] azhao155 commented on #10313
/assign @azhao155

[2021-01-29 22:22] #7854 closed

[2021-01-30 05:46] ilya-zuyev commented on #10310
@seerocode could you please try the following:
 - [1.17.1 version](https://github.com/kubernetes/minikube/releases/download/v1.17.1/minikube-darwin-arm64) of minikube
 - remove previous installations and caches - `minikube delete --all --purge`
 - if the issue still exists please post the output of `docker ps | grep minikube`

[2021-01-30 08:00] DulshanRD opened #10316 "Helm deployed in Minikube Error : Failing init helm-chart: Unable to connect to the server: dial tcp 192.168.49.2:8443: i/o timeout"
**Steps to reproduce the issue:**

I have OSM in my Azure VM and minikube is installed in that VM and attached minkube cluster to the OSM

1. curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
 sudo install minikube-linux-amd64 /usr/local/bin/minikube

2. minikube start

3. kubectl create serviceaccount tiller --namespace kube-system

4. Create a tiller-clusterro

[2021-01-30 08:22] afbjorklund commented on #10310
I can't answer for when Docker Desktop is going out of tech preview, and don't really know the root cause in this issue.

But if you are interested in another VM solution (than Docker's), you can track the ISO development here: #9228

[2021-01-30 18:24] seerocode commented on #10310
@ilya-zuyev I get no output for docker grep on minikube after trying those steps.

[2021-01-30 18:25] seerocode commented on #10310
@afbjorklund I'll just wait on new development for now. I am wondering though if the last error is something to worry about:

[code]

I am unable to ping https://gcr.io/v2/. My firewall is not on.

[2021-01-30 18:45] seerocode commented on #10310
Hmm, NVM. I tried `docker pull docker.pkg.github.com/kubernetes/minikube/kicbase:v0.0.17` and still having an issue there.

[2021-01-30 18:57] BobyMCbobs commented on #9009
This feature would still be useful, particularly for on-boarding.
Some OSes come pre-installed with libvirtd and qemu-*, such as Fedora, so all folks'd need to do is download Minikube.

/remove-lifecycle stale

[2021-01-30 19:30] afbjorklund commented on #9009
They can still do that, they just have to be part of the "libvirt" group.

https://docs.fedoraproject.org/en-US/quick-docs/getting-started-with-virtualization/
https://fedoramagazine.org/full-virtualization-system-on-fedora-workstation-30/

Similar to how you configure Docker ? (we use `sudo` for Podman)

[2021-01-30 20:37] brhamill commented on #9224
@sasha7 - I tried running the "brew install minikube --build from source" and it couldn't get through the process.

Kept giving me the following error. Any thoughts?

![image](https://user-images.githubusercontent.com/29392907/106367499-4b55dc00-6300-11eb-966e-8a24cd32b91c.png)

[2021-01-31 05:03] lydonchandra commented on #8512
Had same issue in Azure VM running Windows Server 2019,

Had to setup DHCP, new Internal Switch and set minikube to use it,
now minikube has an ip-address

https://stackoverflow.com/a/65975888/115988

Followed guide here https://docs.microsoft.com/en-us/azure/virtual-machines/windows/nested-virtualization#set-up-internet-connectivity-for-the-guest-virtual-machine

[2021-01-31 07:30] hayorov opened #10322 "minikube ip Exiting due to GUEST_NODE_RETRIEVE: Could not find node"
**Steps to reproduce the issue:**

1. brew install minikube@1.17.1
2. minukube start
3. minikube ip

**Full output of failed command:**
 ❯ minikube ip --v=8 --alsologtostderr
I0131 15:20:36.463309   16328 out.go:229] Setting OutFile to fd 1 ...
I0131 15:20:36.463716   16328 out.go:281] isatty.IsTerminal(1) = true
I0131 15:20:36.463723   16328 out.go:242] Setting ErrFile to fd 2...
I0131 15:20:36.4

[2021-01-31 12:07] lominskyi-perfectial commented on #7058
@gurleensethi, worked for me, thx!

[2021-01-31 12:51] yashwantram97 commented on #9981
had the same issue... any hope?

[2021-01-31 17:26] ishankhare07 commented on #9370
Hi @adr-arroyo , did you setup metrics server in the cluster before running this test?
Try this https://github.com/kubernetes-sigs/metrics-server#installation

I've tried a test on kind before and can confirm that it does not include metrics server, and has to be installed separately. I think this will also be the case with minikube as well

[2021-01-31 18:16] hetong07 commented on #10311
/assign

[2021-01-31 18:20] hetong07 commented on #10165
/assign

[2021-01-31 20:05] hetong07 commented on #10311
1. Where to check this scenario
We have to make this check before any command is executed, so it seems the check should be put in this function https://github.com/kubernetes/minikube/blob/da9e1819aec5f316077616b2660a19e2195a02ac/cmd/minikube/main.go#L58.

2. How to check this scenario
We can use
[code]
and in https://github.com/kubernetes/minikube/blob/9d5faff315282f1a5e1a82a3929b1b7598bd6ebc/pkg/

[2021-01-31 20:35] hetong07 commented on #10311
Experiment result:
[code]

[2021-01-31 20:42] hetong07 commented on #10165
We can either use ```systemctl status docker``` to check docker status or use a trivial docker command to check docker daemon status, for example ```docker ps```, which will return following message:
[code]

[2021-01-31 23:14] hetong07 commented on #10165
We can add a check like this
[code]
But eventually when it returns at https://github.com/kubernetes/minikube/blob/a4ee1e07910fc2e9e37ba08a4b203148cbf23507/pkg/minikube/node/start.go#L299-L300
Should I use something like below to give user advice of running docker daemon?
https://github.com/kubernetes/minikube/blob/9d5faff315282f1a5e1a82a3929b1b7598bd6ebc/cmd/minikube/cmd/start.go#L265-L267

[2021-02-01 03:00] BLasan commented on #10188
/assign

[2021-02-01 09:29] dharlequin commented on #3900
My minikube has been existing fine in VirtualBox on Windows 10 probably for a week.

Then right while I was working with minikub and kubectl, it just stopped responding, I was getting timeouts. And it could not properly start or stop. I tried deleting it, and now I can't start it back on VirtualBox. I get the same error as people here, that I have to enable virtialization:

`minikube start --vm-dr

[2021-02-01 15:05] dmyoung-tx commented on #6596
Was having the same issue and ran "minikube delete --purge --all" and "docker system prune"; fixed my issue.

[2021-02-01 15:37] michal-racko opened #10323 "minikube start | Template parsing error: template: :1: unexpected "=" in operand"
**Steps to reproduce the issue:**

1. minikube start --driver=docker

**Full output of failed command:**

😄  minikube v1.17.1 on Ubuntu 16.04
✨  Using the docker driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🔥  Creating docker container (CPUs=2, Memory=64300MB) ...
🐳  Preparing Kubernetes v1.20.2 on Docker 20.10.2 ...| E020

[2021-02-01 16:41] tstromberg commented on #9224
We'll need to update our docs today, but you can install pre-built binary of minikube for Apple Silicon using:

[2021-02-01 16:43] afbjorklund commented on #10323
The usual issue is that the Docker version is too old, but unfortunately it doesn't show up in the output.

See #10282

[2021-02-01 16:57] afbjorklund commented on #10282
I think you mean 18.09 ? i.e. we **don't** want to support 18.06

https://docs.docker.com/engine/release-notes/#version-2010

https://docs.docker.com/engine/release-notes/19.03/

https://docs.docker.com/engine/release-notes/18.09/

~~https://docs.docker.com/engine/release-notes/18.06/~~

[2021-02-01 17:04] tstromberg opened #10324 "delete --purge --all: open .minikube/logs/audit.json: no such file or directory"
**Steps to reproduce the issue:**

1. Install minikube v1.17.1
1. Run `minikube delete --purge --all`

If you do not have a new profile created, you will see an error such as:

[code]

Note: You may need to run the delete command twice, to have an empty directory, in order to duplicate this.

[2021-02-01 17:04] tstromberg commented on #10324
I would suggest making this error message a warning instead.

[2021-02-01 17:19] ricosega commented on #10149
Hi @priyawadhwa ,

Ubuntu 18.04 and 20.04.
Minikube 1.15 and 1.16
Docker 19.03.13

All this versions have the same behavior.
About what you're saying:

The problem is not when you're online, the command `minikube start --download-only` works and starts the minikube, but if you take the ~/.minikube folder and you move it to an offline computer it does not work (as it is written in the docu).
You ha

[2021-02-01 18:01] medyagh commented on #10188
@BLasan do u have eperience with jenkins as a code ? do u mind sharing your experience with this task?

[2021-02-01 18:04] medyagh commented on #9205
intial tests were added for linux (functional)

[2021-02-01 18:04] #9205 closed

[2021-02-01 18:39] medyagh opened #10325 "ARM64: GCP Auth addon"
add support for gcp-auth addon arm64

[2021-02-01 18:41] ilya-zuyev commented on #10325
/assign

[2021-02-01 19:00] medyagh opened #10326 "auto-pause prototype feature"

[2021-02-01 19:02] tstromberg commented on #10310
One thing I can't tell from here is if the arm64 binary of minikube was downloaded, or the amd64.

At least previously, we failed in mysterious ways if the amd64 version of minikube was executed on arm64.

I can confirm that this works for me on an M1 mac:

[code]

[2021-02-01 19:03] tstromberg commented on #9224
@brhamill - I've not yet seen a SEGV. Can you please open a new issue?  That seems like an unstable VM environment to me, so please check that you are on the latest Docker for M1 build.

[2021-02-01 19:07] BLasan commented on #7670
/assign

[2021-02-01 19:07] medyagh opened #10327 "Add solution message for slowdown in k8s 1.20.3 and above."

[2021-02-01 19:28] #10200 closed

[2021-02-01 19:54] medyagh opened #10328 "allow Minikube users to config receive notification for BETA and RC"

[2021-02-01 19:54] sharifelgamal commented on #10325
Related gcp-auth-webhook issue: https://github.com/GoogleContainerTools/gcp-auth-webhook/issues/8

[2021-02-01 20:11] #10063 closed

[2021-02-01 20:35] priyawadhwa opened #10330 "Explore solutions for running skaffold with minikube+containerd"
Right now skaffold errors out if it detects that minikube is running with containerd

To solve this issue, we need to:

- Find a suitable docker-env alternative for continerd runtime

[2021-02-01 20:36] priyawadhwa opened #10331 "Add timeout to `minikube delete`"
If we haven't successfully deleted our cluster in 3 minutes, move on to the next cluster

Hanging on `minikube delete` is a poor experience for the user and has been forcing our integration tests to timeout.

[2021-02-01 21:22] AlexDag opened #10333 "minikube - redhat 7 - error on start"
**Steps to reproduce the issue:**

1.minikube start --cpus=4 --memory=8192 --alsologtostderr -v=1
2.
3.

**Full output of failed command:**
I0201 18:00:10.214191  307281 out.go:229] Setting OutFile to fd 1 ...
I0201 18:00:10.214691  307281 out.go:281] isatty.IsTerminal(1) = true
I0201 18:00:10.214704  307281 out.go:242] Setting ErrFile to fd 2...
I0201 18:00:10.214712  307281 out.go:281] isatty.Is

[2021-02-01 21:59] medyagh commented on #10330
in office hours @afbjorklund mentioned this comment: https://github.com/kubernetes/minikube/issues/9640#issuecomment-743731349 hope that is helpful

[2021-02-01 22:28] #10033 closed

[2021-02-01 22:38] spowelljr opened #10334 "Run Linux baremetal and docker integration tests on PRs with ok-to-test label"

[2021-02-01 22:40] seerocode commented on #10310
@tstromberg I uninstalled minikube and tried this install but still no dice with Docker as a driver. Does this fully work for you with Docker?

[2021-02-01 22:41] #10041 closed

[2021-02-01 22:47] spowelljr opened #10335 "Add audit.json logs to minikube logs command"
audit.json logs should be output in their own section. The logs should be formatted to be human readable, their native json format is hard to read.

[2021-02-01 23:00] spowelljr opened #10336 "Add last start (verbose) logs to minikube logs command"

[2021-02-02 00:24] #10281 closed

[2021-02-02 00:39] medyagh commented on #10311
@hetong07 that sounds like a good idea !

we could also tell users where to download linux binaries
https://minikube.sigs.k8s.io/docs/start/ and also tell them if they still wanna run .exe binary in linux they should pass --force.

[2021-02-02 01:24] medyagh opened #10338 "Spinner, avoid emitting spinniner characters if there is not PTY"
currently if minikube is running in integraiton test or in other tools the spinner will spit out characters like W K WKWKWKWKWKWKWKWK ...

[2021-02-02 01:57] medyagh commented on #10338
we coud probably do this

[code]

[2021-02-02 02:04] alonyb commented on #10338
/assign

[2021-02-02 02:08] #10282 closed

[2021-02-02 03:11] lukepolo commented on #10243
with the newer version i get

[code]

[2021-02-02 05:29] santouras opened #10339 "IPV6 does not resolve when running on osx/virtualbox"
**Steps to reproduce the issue:**

1. minikube start
2. eval $(minikube docker-env)
3. docker run --rm -ti alpine:3.13 /bin/ash
4. nslookup google.com
5. echo $?

**Full output of failed command:**
[code]

Adding a Nat Network with IPV6 enabled and adding it to the VM fixes this issue
![image](https://user-images.githubusercontent.com/358368/106556377-86137a80-6573-11eb-840b-0530ece30f2b.png)

![i

[2021-02-02 07:42] afbjorklund commented on #10333
The docker version 1.13.1 is too old, you will need to upgrade. Or you could use VM to run minikube.

Related to #10282 (and #10089, for supporting old system versions rather than the vendor versions)

[2021-02-02 07:46] afbjorklund commented on #10282
@medyagh : as per previous notes, this now excludes RHEL
(system version is too old or non-existing, no vendor version)

It has Docker 1.13.1 (from 2017) and Podman 1.6. But also KVM.
I think things are _slightly_ better in RHEL 8 (from 2018, not 2014)

[2021-02-02 08:34] choudharyanurag commented on #9224
same as @brhamill

![image](https://user-images.githubusercontent.com/33773725/106573116-3dea5d00-655f-11eb-863d-53b8ea236bca.png)

@tstromberg :  Probably I am on the latest build of the Docker for M1 preview :
Following is my `docker info` :

[2021-02-02 08:55] afbjorklund commented on #10243
I _think_ HyperKit crashed for the lack of an ISO, but it doesn't actually show that in the non-verbose log above.

If you want to avoid Docker and avoid HyperKit, you _could_ start a Linux (somehow) and then use "ssh" driver.
But that's more of a workaround, the long-term plan is that both KIC and ISO should work - also on ARM platform.

The automatic failover from "hyperkit" to "ssh" sounds more

[2021-02-02 09:00] michal-racko commented on #10323
Docker update helped indeed. Thank you.

[2021-02-02 09:00] #10323 closed

[2021-02-02 09:08] wuweikang opened #10340 "minikube start failed"
**Steps to reproduce the issue:**

1. minikube start --v=10 --alsologtostderr=true
2.
3.

**Full output of failed command:**

\
/ I0202 17:06:22.769054   96222 main.go:119] libmachine: Error dialing TCP: ssh: handshake failed: read tcp 127.0.0.1:57305->127.0.0.1:49184: read: connection reset by peer
\ I0202 17:06:28.768936   96222 main.go:119] libmachine: Error dialing TCP: ssh: handshake failed:

[2021-02-02 10:55] afbjorklund commented on #10330
@priyawadhwa :
As you can see from the sample session above, it is quite clunky to use `buildctl` remotely at the moment.

So in the minikube documentation, we don't even include that as an alternative but _only_ build locally:
https://minikube.sigs.k8s.io/docs/handbook/pushing/#5-building-images-inside-of-minikube-using-ssh

Both BuildKit upstream and Skaffold, are using **Docker** (and its API)

[2021-02-02 11:52] afbjorklund commented on #10330
While I am adding support for the real command (in Go), here's a quick shell proof-of-concept:

[code]

Some nice-to-have features (buildkit.service, minikube scp) are missing, but seems to work:

[code]

Dockerfile
[code]

Results:

[code]

[2021-02-02 13:13] noelwelsh opened #10342 "Cannot install minikube on Windows / Docker : Error dialing TCP: dial tcp 127.0.0.1:49204: connectex: No connection could be made because the target machine actively refused it."
I'm trying to install minikube on Windows 10 Home (10.0.19041 Build 19041) with Docker Desktop installed. The installation consistently fails at the `minikube start` command. The issue is that minikube cannot connect to the running docker instance. I have turned off the Microsoft Defender Firewall and closed my work VPN (CheckPoint) and the problem still persists.

**Steps to reproduce the issue:*

[2021-02-02 13:13] BioGeek opened #10343 "Exiting due to GUEST_START: wait 6m0s for node: wait for healthy API server: apiserver healthz never reported healthy: timed out waiting for the condition"
**Steps to reproduce the issue:**

I am following [this blogpost](https://kubernetes.io/blog/2020/05/21/wsl-docker-kubernetes-on-the-windows-desktop/) to setup Kubernetes and Minikube on WSL2 on Windows 10.

OS: Windows 10 Version 1909 build 18363.1256
WSL2 distro: Ubuntu 20.04 LTS

[code]

I can follow the above mentioned blogpost until [Minikube: the first cluster](https://kubernetes.io/blog/202

[2021-02-02 13:39] kaposnick opened #10344 "Minikube v1.17.1 fails to build ISO"
I tried to build on my own the ISO in order to load the sctp module.

**Steps to reproduce the issue:**

1. Checkout v1.17.1
2. make buildroot-image
3. IN_DOCKER=1 make out/minikube.iso
4. (It also fails issuing:) make out/minikube.iso

After about one hour of building...

**Full output of failed command:**
gluster 4.1.5 Downloading
--2021-02-02 14:30:58--  http://download.openpkg.org/components/c

[2021-02-02 13:42] afbjorklund commented on #10344
Seems to be available here: https://bits.gluster.org/pub/gluster/glusterfs/src/glusterfs-4.1.5.tar.gz

[2021-02-02 14:21] kaposnick commented on #10344
Thanks @afbjorklund !

As a temporary solution, I modified the file deploy/iso/minikube-iso/package/gluster/gluster.mk as following:
GLUSTER_SITE = https://download.gluster.org/pub/gluster/glusterfs/01.old-releases/4.1/4.1.5

[2021-02-02 14:58] mikala3 commented on #10248
I'm running into the same issue. Is this possible with istio and minikube?

[2021-02-02 16:30] azhao155 commented on #10313
sent fix: https://github.com/kubernetes/minikube/pull/10346

[2021-02-02 18:54] priyawadhwa commented on #10330
Hey @afbjorklund thanks for your guidance! This is all really helpful.

Right now, skaffold errors out if it detects minikube+containerd instead of minikube+docker. I want to initially focus on just making skaffold work with minikube+containerd. The easiest way to do this is to add a `minikube load` command, similar to what kind does, which will load an image on the users machine into minikube so

[2021-02-02 19:06] ilya-zuyev commented on #10340
Hi @wuweikang! Thanks for your report. What operating system and minikube driver are you using?

[2021-02-02 19:08] afbjorklund commented on #10330
Right, I don't think there is a way to use the containerd runtime and still provide a docker daemon that it can talk to ?
If one wants to go that route, then one might as well use the docker runtime (which will in turn start a containerd...)

CRI-O users will have the option of using Podman, since version 3.0 does provide a docker socket for use with SSH.
But it _still_ won't work to run `minikube

[2021-02-02 19:11] afbjorklund commented on #10330
We should already have this, as part of our `minikube cache add`. So more of a question of stripping out the config update and such, and just do the transfer and the actual load (using our cruntime abstraction).

[2021-02-02 19:20] medyagh commented on #9397
@vinu2003 I haven't heard from you

[2021-02-02 19:23] medyagh commented on #9156
/assign @bharathkkb

[2021-02-02 19:24] bharathkkb commented on #9156
/assign bharathkkb

[2021-02-02 19:32] BLasan commented on #10156
@priyawadhwa I would like to take up this issue.

[2021-02-02 19:39] BLasan commented on #10143
/assign

[2021-02-02 20:33] priyawadhwa commented on #10330
Yah I'd considered using `podman-env` as well and even using crio as our default runtime, but I think we should stick with containerd since the community seems to be moving more towards it.

The reason I didn't want to reuse `cache add` is because I think the way the cache currently works is that all added images will be saved to the minikube config and automatically loaded into new minikube clust

[2021-02-02 20:38] afbjorklund commented on #10330
I actually meant "code from" cache add, rather than trying to use the existing commands in it. Having a `load` sounds good.

The main problem with 1) is the same as with "env", you have "docker-image" and "podman-image" and whatever-image

For the local tarball we only have two options: docker and oci. And nobody uses the second option, so that's rather easy...

Having to save | load everything is

[2021-02-02 20:40] afbjorklund commented on #10330
Might as well stick with docker as the default runtime in that case, assuming that a proper CRI appears to take over after the dockershim (which is with us until Kubernetes 1.23 or something)

[2021-02-02 20:47] afbjorklund commented on #10330
You could also leave option 3 open, for runtimes that support it:

3. Image on standard input stream (usually 2. with "-" as path)

That makes it easy to do something like:

`docker save | minikube load -`

The benefit of this is that it doesn't have to touch the disk, not even tmpfs.

[2021-02-02 21:09] medyagh commented on #10340
@wuweikang do u mind pasting the full logs ? I dont see the minikube version

/triage needs-information
/kind support

[2021-02-02 21:16] spowelljr commented on #10335
In-progress

[2021-02-02 21:16] spowelljr commented on #10334
In-progress

[2021-02-02 21:20] priyawadhwa commented on #10330
Ah gotcha, sounds good to me :)

That's a really good idea, I'll look into how complex it would be to implement. I'm hoping to at least get `minikube load` in for the next release, and maybe this could get in as well.

[2021-02-02 21:25] #10344 closed

[2021-02-02 21:30] medyagh opened #10349 "Testing: compare the number of tests ran against available tests"
to avoid the delusion that a timed out test is good, we need to compare the total number of ran tests with total available tests

similar to what we do in Github Action, but we need to find a way to count them automatically so we dont have to update them manually each time we add a new test.

[2021-02-02 23:12] #10061 closed

[2021-02-02 23:18] #9772 closed

[2021-02-03 00:52] medyagh opened #10351 "minikube should survive Docker Desktop Restarts"

[2021-02-03 02:44] #10340 closed

[2021-02-03 02:45] wuweikang commented on #10340
hi, my os is Centos 3.10.107

[2021-02-03 03:13] ashwanth1109 opened #10352 "Accessing apps documentation issue"
## Section from Documentation:
Getting the NodePort using the service command
[code]

## Problem:
It's not clear from the documentation how to use this command. After experimentation, I believe the usage would look something like this: `minikube service --url hello-minikube1`

Why is this confusing?
Because in the documentation in the section just before, the convention is to use `<>` tags to repr

[2021-02-03 04:43] sankarayinala commented on #2707
Thank you, This did help.

[2021-02-03 06:18] brhamill commented on #9224
@tstromberg - the commands you provided:

curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-darwin-arm64
sudo install minikube-darwin-amd64 /usr/local/bin/minikube

Should the second line be: sudo install minikube-darwin-arm64 /usr/local/bin/minikube instead? Since it's arm instead of amd?

I made that change and then attempted a "minikube start" I got a zsh permissions err

[2021-02-03 06:47] afbjorklund commented on #10351
Minikube doesn't survive VirtualBox restarts either, though. So this feature has been missing for a _long_ time.

[2021-02-03 06:56] afbjorklund commented on #10330
To any casual Skaffold users reading this, the script above (https://github.com/kubernetes/minikube/issues/10330#issuecomment-771582750) should _already_ work with minikube 1.17.1

BuildKit support for containerd was added to minikube in release 1.16, and BuildKit support for docker was in minikube 1.4.

[2021-02-03 07:05] afbjorklund opened #10353 "Make the getting started / installation page look nice again"
After adding architectures to the "Installation" section, it's an even bigger mess than it was before...

Now it separates both on OS and on CPU, and it can be confusing to know what to actually download:

https://minikube.sigs.k8s.io/docs/start/

**(1) Installation**
* Linux
  * x86
    * Binary download
    * Debian package
    * RPM package
  * ARM
    * Binary download
    * Debian package

[2021-02-03 07:18] afbjorklund commented on #6159
Added an issue to make it pretty: #10353

[2021-02-03 07:21] afbjorklund commented on #10353
There was also a long rant about the installation page and the evil of nested tabs, in https://github.com/kubernetes/minikube/pull/9066#issuecomment-686588915

[2021-02-03 07:27] hetong07 commented on #10311
[code]

[code]

[2021-02-03 07:45] tangjunnj commented on #10340
same problem with me , is it be solveed?
@wuweikang

[2021-02-03 09:33] krezovic opened #10355 "Race condition in containerd restart when using --container-runtime=containerd and containerd was previously initialized"
I'm running minikube on SLES 12.5 on bare-metal machine, and I'm aware of the warning that containerd with --driver=none is experimental. However, it seemed to work once, but not anymore with 1.17.1. There seems to be a race condition where crictl command is called before containerd is fully started. Following command is ran as root user, hence no sudo (I'm fully aware of the issues that may arise

[2021-02-03 09:40] afbjorklund commented on #10355
Hmm, docker-containerd (as we can call it, the-containerd-started-by-docker) should store the data in `/var/lib/docker`

[2021-02-03 09:46] krezovic commented on #10355
This is pure containerd, docker is not available on this machine. It's a bare-metal config, --driver=none.

[2021-02-03 09:50] afbjorklund commented on #10355
Hopefully there is some kind of containerd health-check, that can be waited upon after the Restart ?

[2021-02-03 10:05] afbjorklund commented on #10355
Probably this would be a good idea to have in the "cruntime", for all of the different CRI ?

[code]
[code]

That is, before returning the container runtime instance - make sure that it is "healthy"

[2021-02-03 10:09] hackcoderr commented on #10308
thank you so much for helping me.

On Fri, Jan 29, 2021 at 7:28 PM Anders Björklund <notifications@github.com>
wrote:

[2021-02-03 10:11] krezovic commented on #10355
From what I've seen in journal (gone now, not persisted across reboots), crictl complained something like "cannot open /run/containerd/containerd.sock: no such file or directory". So a possible liveness check is to check for existence of CRI socket?

[2021-02-03 10:12] krezovic commented on #10355
Well, /var/lib/containerd is where all the images and overlays are stored, it's equivalent of /var/lib/docker for docker stuff. I had about 50 pods running at the time of upgrade.

[2021-02-03 10:21] afbjorklund commented on #10355
Yeah, checking that the socket is actually there is cheap and easy

[2021-02-03 11:40] dabcoder commented on #10122
Quick ping @medyagh, to see if you've had a chance to look at the above.

[2021-02-03 15:26] storozhilov commented on #9322
/remove-lifecycle stale

[2021-02-03 15:45] brhamill commented on #9224
I was finally able to get minikube running well on my M1 Silicon.

This YT link lays it all out in a very straight-forward way. Hope it helps others...

https://www.youtube.com/watch?v=IjgrwYzVlMw

[2021-02-03 16:44] cheslijones commented on #9224
Thanks for sharing. I played with `v1.17.1` last night and while I could get my cluster to spin up with `skaffold` I couldn't figure out how to access it as `minikube addons enable ingress` didn't work.

`--vm-driver=docker` seems to be the only supported driver. I've seen people recommend this driver in the past, but neither they nor the documentation actually explains how to use it so the end re

[2021-02-03 16:52] choudharyanurag commented on #9224
minikube tunnel

[2021-02-03 16:53] afbjorklund commented on #9224
The Docker Desktop networking model doesn't offer access to the VM, so that basically leaves port forwarding (unfortunately)

https://docs.docker.com/docker-for-mac/networking/

[2021-02-03 17:15] rh-dluong commented on #10160
Hm, I have not, but I don't have a spare machine to test this on unfortunately since this is the setup for my home router.

[2021-02-03 18:39] #10026 closed

[2021-02-03 18:40] #10313 closed

[2021-02-03 18:43] afbjorklund commented on #10165
You can't really parse the error message, since it panics before even outputting one ? Parsing for "panic" sounds icky.

Since it is the client crashing, it doesn't help if the server is local or remote - so it will affect all types of docker daemons.

[2021-02-03 18:46] afbjorklund commented on #10165
It **did** fail earlier, though. Just silently:

`Preparing Kubernetes v1.20.0 on Docker ... `

So there _was_ an error, running "docker version"

But the current code is ignoring it, maybe it shouldn't ?

[code]

[2021-02-03 18:54] #9230 closed

[2021-02-03 18:56] afbjorklund commented on #9230
Was released in 1.15.0

[2021-02-03 18:58] afbjorklund commented on #10310
Should have been "arm64", but is being fixed in PR #10337

[2021-02-03 18:58] tstromberg opened #10357 "minikube unable to recover from system prune: DRV_CP_ENDPOINT: failed to get API Server URL: failed to parse ip for """
To reproduce:

[code]

Output:

[code]

Expectation: minikube deletes the broken cluster and recreates it. Verbose logs:

[logs.txt](https://github.com/kubernetes/minikube/files/5920817/logs.txt)

[2021-02-03 19:13] priyawadhwa commented on #10151
Hey @AndreyIvshin thank you for opening this issue. It looks like this is a dupe of https://github.com/kubernetes/minikube/issues/10152 which you also opened -- it would be helpful to centralize this conversation in one issue. I'm going to close this issue, and let's discuss in https://github.com/kubernetes/minikube/issues/10152 instead!

[2021-02-03 19:13] #10151 closed

[2021-02-03 19:14] priyawadhwa commented on #10153
Hey @AndreyIvshin thank you for opening this issue, I'm going to close it as a dupe of https://github.com/kubernetes/minikube/issues/10152 so that we can centralize the conversation there.

[2021-02-03 19:14] #10153 closed

[2021-02-03 19:15] priyawadhwa commented on #10152
Hey @AndreyIvshin I'm glad you were able to find a solution for this! Looks like it could be a windows specific bug

@zhangb191 could you provide:
-  The OS/driver you are using
-  The  `minikube start` command you are running and its output
- The output of `minikube addons enable ingress --alsologtostderr`
Thank you!

[2021-02-03 19:17] #10244 closed

[2021-02-03 19:18] priyawadhwa commented on #10316
Hey @DulshanRD thanks for opening this issue. I'm not super familiar with helm, but it seems like you are installing tiller yourself?

I believe we have an addon in minikube that you can try, perhaps that will work:

[code]

Please let us know if that works better for you!

[2021-02-03 19:19] ilya-zuyev commented on #10299
@Yinten thanks! Could you provide logs of `minikube start` and details about operating system you're using?

[2021-02-03 19:21] priyawadhwa commented on #10186
Hey @keppusamyibm it looks like you have configuring minikube to run with the `virtualbox` driver, but the `virtualbox` binary is either not installed or not on the $PATH so minikube can't execute it.

was not found: unable to find VBoxManage in $PATH

Possible solutions for this:
1. Install virtualbox on your machine
2. Run minikube on docker instead of virtualbox by running `minikube delete && m

[2021-02-03 19:27] priyawadhwa commented on #9556
Hey @shankar-forgerock it seems like #7879 is now a duplicate of this issue. Would you mind if this issue was closed so we could consolidate this conversation there? If you believe the content of this issue is different please let me know and we can keep it open!

[2021-02-03 19:27] hetong07 commented on #10165
@afbjorklund I think parse the error info can work. Look at the info:

[code]
The ```X Exiting due to K8S_INSTALL_FAILED``` shows the minikube does not crash, the ```stderr panic...``` info is actually the stderr message captured by minikube.

[2021-02-03 19:27] spowelljr commented on #10278
Thank you for sharing your experience! If you don't mind, could you please provide:

- The full output of the command you are using by adding --alsologtostderr -v=8 for example

[code]
- Also the full the output of the
[code]
This will help us isolate the problem further. Thank you!

/triage needs-information
/kind support

[2021-02-03 19:28] spowelljr commented on #10312
Thank you for sharing your experience! If you don't mind, could you please provide:

- The full output of the command you are using by adding --alsologtostderr -v=8 for example

[code]
- Also the full the output of the
[code]
This will help us isolate the problem further. Thank you!

/triage needs-information
/kind support

[2021-02-03 19:28] medyagh commented on #10045
if anyone else a way to reproduce this issue, please if you contribute your logs and steps it would help with finding the root cause,

[2021-02-03 19:29] priyawadhwa commented on #9116
Hey @surensinghkhatana sorry to hear that! Looks like there currently isn't a solution for this is in minikube, but if anyone would be interested in contributing one we'd be happy to look through a [design proposal](https://github.com/kubernetes/minikube/tree/master/enhancements)

[2021-02-03 19:29] medyagh commented on #10050
glad to see u dont have this issue

[2021-02-03 19:29] #10050 closed

[2021-02-03 19:29] sharifelgamal commented on #10287
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* Your operating system

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get

[2021-02-03 19:31] medyagh commented on #10160
thanks for updating this @rh-dluong  unfortunately I dont have much experience with arch linux, and we dont test minikube on arch in our integraiton tests, but if github actions allowed arch linux for test fleet would be good if we could test minikube on arch too. meanwhile I will close this issue , feel free to reopen if u have more information

[2021-02-03 19:31] #10160 closed

[2021-02-03 19:33] priyawadhwa commented on #10011
They're pretty comparable! I find that docker is the fastest on my machine, because we have a slightly more efficient way of preloading kubernetes images into minikube on docker than we do for our VM-based drivers.

The difference is likely only a few seconds for `minikube start` though, so if you prefer hyperkit it shouldn't make too much of a difference.

[2021-02-03 19:34] sharifelgamal commented on #10292
Is this only an issue with the arm64 tests? Or are you seeing this in amd64 functional tests too? If it's the former, then there's probably a setup issue with our arm github action runner. If it's the latter, then there's a more serious issue with docker permissions to worry about.

[2021-02-03 19:40] medyagh commented on #10353
anyone picking up this task, u could do a nested Tab in the installation page https://minikube.sigs.k8s.io/docs/start/

[2021-02-03 19:42] priyawadhwa commented on #10086
Hey @KimSeongHo-cloud are you still seeing this issue?

[2021-02-03 19:42] ilya-zuyev commented on #10292
/assign

[2021-02-03 19:43] priyawadhwa commented on #10056
Hey @Nellyoj did you try deleting that directory and starting again?

[2021-02-03 19:45] spowelljr commented on #10158
Thank you for reporting this problem. This seems to be a known issue as we have an issue created to fix this #10357. Feel free to track that issue to know when it is solved.

[2021-02-03 19:45] priyawadhwa commented on #9826
Hey @bri-pug looks like you tried to configure systemd as the cgroup manager by running `minikube start -v=5 --alsologtostderr --extra-config=kubelet.cgroup-driver=systemd`  but it still is using cgroupfs as shown in the logs:

Could you try running:

[code]

and see if that resolves the issue?

[2021-02-03 19:46] ilya-zuyev commented on #10294
@ryzior Please try to restart minikube after updating /etc/resolv.conf

[2021-02-03 19:47] sharifelgamal commented on #10307
This seems to be a bug in the `minikube addons configure metallb` command, I can definitely reproduce it locally.

[2021-02-03 19:47] priyawadhwa commented on #9806
Hey @erakjha I noticed these logs in your output:

I would recommend running:

[code]
and manually cleaning up any virtualbox VMs leftover and see if that resolves the issue?

[2021-02-03 19:48] medyagh commented on #8765
@robpacheco do u mind sharing this
[code]

btw I am curious is there a reason that you choose kubernetes-version v1.17.15 ?

[2021-02-03 19:50] priyawadhwa commented on #10071
Hey @123raji I'm going to close this issue as it is a dupe of #10014 and it would be better to centralize the discussion in one place.

That being said, minikube requires a minimum of 2GB of memory, passed in as such:

[code]

Feel free to reopen this issue if you think it is not a dupe!

[2021-02-03 19:50] #10071 closed

[2021-02-03 19:51] priyawadhwa commented on #9836
Hey @ppatierno friendly ping, can you run other docker containers without any issues?

[2021-02-03 19:52] ilya-zuyev commented on #10089
We need to add functional tests for older versions of ubuntu and included docker versions

[2021-02-03 19:54] priyawadhwa commented on #9311
Hey @sandrogiacom friendly ping, are you still seeing this issue? I think istio requires more memory than the minimum 2GB which minikube expects. You may need to pass in more, for example `minikube start --memory 8000`, for istio to work.

[2021-02-03 19:55] shankar-forgerock commented on #9556
Hi @priyawadhwa please go ahead and close this issue and we can track in #7879. Thanks.

[2021-02-03 19:56] priyawadhwa commented on #9161
Hey @AndrewPanov apologies for the delayed response here. Are you still seeing this issue with the most recent version of minikube v1.17.0?

[2021-02-03 19:58] medyagh commented on #9370
I agree with thomas this seems to be a general kuberentes issue, If anyone find a root cause for this, please update and re-open this issue, but I think we can close this on minikube side for now.

[2021-02-03 19:58] #9370 closed

[2021-02-03 20:15] shreesh2106 opened #10360 "X Exiting due to GUEST_PROVISION: Failed to start host: config: please provide an IP address"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-02-03 20:26] robpacheco commented on #8765
@medyagh there was a lot of output, so Im attaching a file. The reason I chose 1.17.x is because a lot of the cloud providers and kube hosts are somewhere around that version, so I wanted to keep some parity there. I can try a newer version if these logs don't help and you'd like to narrow it down a bit.
[minikube-output.txt](https://github.com/kubernetes/minikube/files/5921261/minikube-output.txt

[2021-02-03 21:40] kadern0 commented on #8790
@tstromberg it seems we might need to update the validation fuction according to docker's insecure registry validation (port is not mandatory):
https://github.com/docker/engine/blob/master/registry/config_test.go

Do you agree?

[2021-02-03 22:49] cheslijones commented on #9224
Well, did get it working a couple different ways:

1. The way outlined in the video which is mostly from [here](kubectl expose deployment hello-minikube1 --type=LoadBalancer --port=8080). Then had to do `minikube service example-service --url` to get the actual URL:
[code]
2. Also creating a LoadBalander based on the documentation [here](https://minikube.sigs.k8s.io/docs/handbook/accessing/#create

[2021-02-03 23:40] howardwang15 commented on #8728
Any update on this? I'm running elasticsearch locally and this causes data loss

[2021-02-04 00:48] ilya-zuyev commented on #10360
@shreesh2106 Please provide the full output of 'minikube start' command used and the full output of minikube logs command

[2021-02-04 01:07] medyagh opened #10362 "support ancient versions of docker again (template parsing issue)"
we broke it since 16.01

the ancient verions of docker 18.09.7 fails at template parse

[code]
errors out:
[code]

[2021-02-04 01:10] medyagh commented on #9868
I belive we merged a PR on this

[2021-02-04 02:57] jiefenghe commented on #10272
getting more familiar with running test, noticed that my previous debugging experience was not correct...
Ran `make integration -e TEST_ARGS="-test.run TestMultiNode/serial --profile=minikube -cleanup=false"` and compared it with my manual run logs. I noticed that the test failed because the restart step didn't wait long enough, the second node needs more time to be ready.

In my manual restart, I

[2021-02-04 03:37] RA489 commented on #10339
/kind support

[2021-02-04 03:38] RA489 commented on #10322
/kind support

[2021-02-04 04:55] Mohamedmahrous995 opened #10363 "Exiting due to GUEST_PROVISION: Failed to start host: config: please provide an IP address"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-02-04 05:57] jiefenghe commented on #10272
in the test, we used to sleep 45 seconds until the Node is ready https://github.com/kubernetes/minikube/commit/fc8110f9c8685dc34ad208a7fcd897fc7e196326

[2021-02-04 06:49] ppatierno commented on #9836
It was a problem with Fedora trusted zone firewall. I fixed via this https://dev.to/yzwdroid/fedora-33-docker-445k
We can close this issue then.

[2021-02-04 06:50] lingsamuel commented on #10292
This is the first time I have seen this, not sure if it is an ARM only failure.

[2021-02-04 07:13] afbjorklund commented on #9868
Just for setting dockershim in /etc/crictl.yaml, though ? (to avoid a warning). Not for starting to use a CRI for docker ?

[2021-02-04 09:44] afbjorklund commented on #9836
@ppatierno : if you install the new Docker (20.10, rather than 19.03) and runc, it should now support cgroups v2 as well.

https://docs.docker.com/engine/install/fedora/

The system version is still older than the vendor version, and I'm not sure if they will update it (or just go with podman)

https://src.fedoraproject.org/rpms/moby-engine

[2021-02-04 10:25] afbjorklund commented on #10362
@medyagh : you should upgrade to 18.09.9, only the latest minor version in each track is "supported"

[2021-02-04 10:51] jgoeres commented on #10280
When the minikube is in that state and I do a docker pull (either after "minikube" ssh or after using "minikube docker-env"), this will fail with the exact same error message (the message shown in "kubectl describe pod" is apparently just the error message passed through from Docker Daemon).
Interestingly, when the VM is "nearing" that state and I do a docker pull I also notice that download speed

[2021-02-04 15:25] prezha commented on #10362
i'll have a look
/assign

[2021-02-04 15:45] prezha commented on #10362
@afbjorklund is right - it works with the latest v18.09 patch version 9:

---

`v18.09.7` fails:
[code]

[code]

---

`v18.09.9` works:
[code]

[code]

---

i'll see if we can easily cover/support v18.09.7 as well

[2021-02-04 16:12] afbjorklund commented on #10362
If we want to support the older / system versions, then most likely that inspect code needs a fallback...

[2021-02-04 17:22] #10294 closed

[2021-02-04 17:27] medyagh commented on #10338
@alonyb  to replicate try this
[code]
and then open ruben.txt
[code]

[2021-02-04 19:51] creste commented on #10265
I'm also running into this problem using similar steps to reproduce.  First I start minikube:
[code]

Then I try to open a tunnel:

[code]

But minikube hangs at:

[code]

If I kill the minikube process then I see the docker log file at C:\Users\\%USER%\AppData\Local\Docker shows the minikube process abnormally closes several sockets:
[code]

If I run `minikube tunnel ...` again the docker log fil

[2021-02-04 19:59] spowelljr commented on #10336
In-progress

[2021-02-04 20:01] #9556 closed

[2021-02-04 20:15] spowelljr commented on #10158
Hey @alanblairverint since this seems to be a duplicate of #10357 I'm going to close this issue, feel free to add additional information to that issue. However, if you think this issue is different and should be re-opened just leave a comment and I can re-open it, thanks!

[2021-02-04 20:16] spowelljr commented on #10363
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example

[code]
- Also the full the output of the
[code]
This wi

[2021-02-04 22:20] medyagh commented on #10362
yeah I recommend we have a fall back dokcer network insepect that if the first one fails we use the other one.
there are many corps and user who HAVE to use the old ubuntu 16.04 for tech-debt reasons (needing python2) so we wanna still allow them use minikube (but still warn them that plz updgrade ur docker)

[2021-02-05 00:25] priyawadhwa opened #10365 "Add `minikube image load` command"
This will load an image into the correct runtime but won't store it in the cache.

[2021-02-05 01:01] cbh0819 opened #10367 "Exiting due to GUEST_PROVISION"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-02-05 02:11] prezha commented on #10362
ok, i think i've found the problem - for this and several other issues mentioning `Template parsing error: template: :1: unexpected "=" in operand` / `exit status 64` (eg, #9811, #10036, #10282, #10323, etc)

namely, the above error refers to the go template parsing process and manifests with docker v18.09.7 (and older); that specific docker version uses go v1.10.8, and `=` operator, as used in `d

[2021-02-05 03:17] sivaswami commented on #10306
I changed the DOCKER HOST from IP-Address  to 0.0.0.0. it works now.
This was working earlier with IP-Address. Just wondering why there was sudden change.
other than that I am good to close this issue.

[2021-02-05 04:24] seerocode commented on #10310
Thanks! I installed again after PR was merged and still getting this error:

[code]

I am not using a proxy or VPN as indicated in the documentation: https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/

[2021-02-05 04:37] seerocode commented on #10310
Additionally, these are the listed known issues for the Docker M1 tech preview that may be relevant:

[code]

[2021-02-05 04:53] natalia-umka opened #10370 "Preparing Kubernetes v1.20.2 on Docker 20.10.2 ... initialization failed on Mac M1"
MacBook-Air ~ % minikube start --driver=docker

😄  minikube v1.17.1 on Darwin 11.0.1✨  Using the docker driver based on existing profile👍  Starting control plane node minikube in cluster minikube🚜  Pulling base image ...
🤷  docker "minikube" container is missing, will recreate.
🔥  Creating docker container (CPUs=2, Memory=1981MB) ...
🐳  Preparing Kubernetes v1.20.2 on Docker 20.10.2 ...
💢  initial

[2021-02-05 06:43] afbjorklund commented on #10365
What is with the double command ? We don't call it `minikube image cache`

[2021-02-05 06:50] #10308 closed

[2021-02-05 10:38] costiser opened #10371 "Do not set memory limits for Cgroup v2 "memory.swap.max: permission denied""
**Steps to reproduce the issue:**

1. clean install of docker and clean install minikube
2. docker group created and user added to it (as instructed here: https://docs.docker.com/engine/install/linux-postinstall/)
3.`minikube start --driver=docker` fails

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

Command: `minikube start --drive

[2021-02-05 12:35] afbjorklund commented on #10371
I think you need to configure those in the Kernel settings, when running on Debian ?

Currently we only check for "memsw.limit_in_bytes", but not for "memory.swap.max"

[2021-02-05 18:22] priyawadhwa commented on #10365
This could be extended into `minikube image build` or `minikube image delete`. I agree that right now just `minikube load` would be easier but for future it could be nice to organize all image related content under one subcommand.

[2021-02-05 18:36] ilya-zuyev commented on #10367
@cbh0819 Please create a new issue attaching more details about your operating system and logs of `minikube start`

[2021-02-05 18:36] #10367 closed

[2021-02-05 18:39] govargo commented on #10307
/assign

[2021-02-05 19:04] #9175 closed

[2021-02-05 19:04] #9179 closed

[2021-02-05 19:04] #8219 closed

[2021-02-05 19:04] #8665 closed

[2021-02-05 19:54] medyagh opened #10373 "dcoker service running even for containerd"
[code]

[2021-02-05 20:16] medyagh commented on #10373
this only affects kic base and not VM drivers
[code]

[2021-02-05 20:27] costiser commented on #10371
1. Has this changed recently? I'm trying to figure out what changed recently, because minikube was working fine on the same machine before upgrading minikube & docker...

2. do you plan to add checks also for memory.swap.max (similar to what you mentioned "memsw.limit_in_bytes")?

[2021-02-05 21:04] afbjorklund commented on #10373
Different packaging for KIC, so the service works differently too... This can be socket-activated, as you've seen

[2021-02-05 21:09] afbjorklund commented on #10373
Still wondered why it decided to start the service ? Something must have triggered the docker socket, perhaps ?

[2021-02-05 21:27] ilya-zuyev opened #10376 "Fix TestFunctional/parallel/TunnelCmd/serial/AccessDirect test"
https://github.com/kubernetes/minikube/runs/1842047581 for example
 Looks like it's a flake, need to investigate and adjust timeout if required
[code]

[2021-02-05 21:27] ilya-zuyev opened #10377 "Fix TestFunctional/parallel/TunnelCmd/serial/WaitService flake"
See https://github.com/kubernetes/minikube/runs/1842047581 for example
Looks like it's a flake, need to investigate and adjust timeout if required

[code]

[2021-02-05 22:22] awan1 commented on #10371
I ran into this problem today too, also after a restart, before which everything was working fine. Making the GRUB changes listed in the docs linked by @afbjorklund made it work. Thank you!

[2021-02-05 22:37] adamish opened #10379 "Minikube start after previous delete fails with "network ... is already being used by a cni configuration""
**Steps to reproduce the issue:**

1. minikube start --driver=podman
2.  minikube delete
3. minikube  start --driver=podman

**Full output of `minikube start` command used**
[code]

The cause is that minikube delete doesn't clean up the network it created with podman, and the subsequent start command then sees the network and complains about it.

This can be worked around with the following, howev

[2021-02-05 22:50] afbjorklund commented on #10371
Older versions of Docker (before 20.10) did not support cgroups v2.

Yes.

In this section: https://github.com/kubernetes/minikube/blob/v1.17.1/pkg/drivers/kic/oci/oci.go#L157_L161

[2021-02-05 23:26] #10362 closed

[2021-02-06 00:15] fosterseth commented on #9982
I ran into this same problem -- I reinstalled fedora 33 using ext4 filesystem, instead of the default btrfs. After reinstall I didn't need to do anything extra like enable cgroups1 or use a different minikube driver. `minikube start` just worked out of the box.

[2021-02-06 01:31] michaelhenkel opened #10382 "adding more control-plane nodes doesn't work"
**Steps to reproduce the issue:**

1. minikube start
2. minikube node add --control-plane
3. second node never succeeds

**Full output of failed command:**
minikube --driver hyperkit --container-runtime crio start
😄  minikube v1.17.0 on Darwin 11.1
✨  Using the hyperkit driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🔥  Creating hyperkit VM (CPUs=2, M

[2021-02-06 03:46] medyagh commented on #10373
@afbjorklund fixed in this PR seems to be okay without it starting https://github.com/kubernetes/minikube/pull/10374

[2021-02-06 03:46] #10373 closed

[2021-02-06 10:46] seanrmurphy commented on #9792
I found the error message quite confusing:

[code]

I was running on Ubuntu 20.04 server and trying to create a minikube cluster with 6 (v)CPUs on a VM with 4 (v)CPUs (my bad, obviously) - clearly, there are insufficient cores and I guess the RSRC_INSUFFICIENT_CORES error should be expected; however the associated error message was incorrect in my case (Docker had more than 2 (v)CPUs available). W

[2021-02-06 11:09] afbjorklund commented on #9792
@seanrmurphy : That is a separate bug, the "2" seem to be hardcoded in the message.

[2021-02-06 12:42] seanrmurphy commented on #9792
Good point @afbjorklund  - I will make a separate issue. Thanks for responding promptly!

[2021-02-06 12:51] seanrmurphy opened #10386 "Confusing error message when starting minikube with insufficient cpus"
System:
[code]

Minikube start:

[code]

This is running on a VM with 4 vCPUs - clearly requesting 6 vCPUs was not sensible, but the error message could be made a little more abstract/generic as, in this case, Docker had more than 2 (v)CPUs available. Looks like a change to this line is required:

https://github.com/kubernetes/minikube/blob/ff051f9a3357947386f35b85e1a6c85d2620f517/pkg/minikube/nod

[2021-02-06 13:25] afbjorklund commented on #10386
Actually the real error message from docker is in the log, but it gets "translated" by minikube

`docker: Error response from daemon: Range of CPUs is from 0.01 to 4.00, as there are only 4 CPUs available.`

[2021-02-06 13:45] afbjorklund commented on #10373
Disabling the socket is the big hammer, but it would be interesting to know what was trying to use docker.sock (for containerd)

[2021-02-06 16:00] BLasan commented on #10386
Can I work on this?

[2021-02-06 16:01] BLasan commented on #10386
/assign

[2021-02-06 16:27] Jinks1996 commented on #7879
This worked for me!, I just executed "minikube service <my-service>"
Thanks a lot @Bouhaha-Anas

[2021-02-06 16:34] kartoch opened #10387 "Linkerd 2.9.2 fresh install is stuck within minikube 1.17.1"
(duplicate of https://github.com/linkerd/linkerd2/issues/5677, don't know where the problem is coming from.

## Bug Report

### What is the issue?

Linkerd version 2.9.2 cannot be installed within minikube version  1.17.1. It was working some weeks ago with previous version of minikube and linkerd.

### How can it be reproduced?

[code]
Everything seems fine:

[code]

But dashboard cannot be start

[2021-02-06 17:29] GarryKab commented on #10357
What is the solution to this issue?

[2021-02-06 18:44] mick62 opened #10389 "minikube start"
The fact that Windows Package Manager (winget) is still in preview, should be mentioned on the installation tab for Windows. Maybe hence winget also shouldn't be named as the first option to install minikube.

[2021-02-06 20:29] #7975 closed

[2021-02-06 20:29] #8167 closed

[2021-02-06 20:30] BLasan commented on #10379
@adamish try running `minikube delete --all` instead of `minikube delete`

[2021-02-06 21:25] costiser commented on #10371
I confirm it's working now with the changes suggested on https://docs.docker.com/engine/install/linux-postinstall/#your-kernel-does-not-support-cgroup-swap-limit-capabilities

[2021-02-06 21:37] dim-geo opened #10390 "minikube kvm driver constant writes to disk"
**Steps to reproduce the issue:**

1.minikube start --driver=kvm2 --cni=calico --nodes 2

When we start minikube with kvm driver a constant stream of io writes is executed due to etcd. Inside the vm the io is some kb/s but it is amplified on the host, causing bottlenecks.

This problem is minimized when starting minikube with:

minikube start --driver=kvm2 --cni=calico --nodes 2 **--extra-config=e

[2021-02-06 23:54] mastertinner opened #10391 "Cannot start podman driver with doas instead of sudo"
**Steps to reproduce the issue:**

[code]

I'm using `doas` on my system instead of `sudo` (because it's much more light weight and secure). It would be great if minikube could fall back to `doas` in such a case or if I could at least specify the "sudo" command and set it to "doas".

[2021-02-07 07:33] afbjorklund commented on #10391
There seems to be multiple ports of OpenBSD `doas`, and there is no packaging in the common distros. But it _could_ be supported as a configuration for running Podman, the only difference seems to be the handling of `-k` versus `-L` (but `-n` is the same).

[code]

[code]

Of course, you could also just set up a small shell wrapper ?

But that would more system-wide effects, if put in the PATH...

[2021-02-07 07:40] afbjorklund commented on #10389
Maybe we should mention the binary download for Windows, like we do for the other operating systems ? (No idea about `curl -LO` and `sudo install` alternatives, though)

https://storage.googleapis.com/minikube/releases/latest/minikube-windows-amd64.exe

[2021-02-07 09:24] xuchuan-666 opened #10392 "Connections to databases, Redis and MQ are converted via NAT to Node’s IP?"
Asking for help? Comment out what you need so we can get more information to help you!

Cluster information:
Kubernetes version: 1.18.9
Installation method: kubeadm

I want to use service in pod to connect Externel Mysql but not use
in kubernetes i use calico i want to use service and endpoint to connect a externel mysql like this
apiVersion: v1
kind: Service
metadata:
name: mysql-test
spec:
clust

[2021-02-07 11:48] alekonko commented on #10379
@BLasan i have same problem. Cluster seems to work correctly.

**Steps to reproduce the issue:**

1. minikube delete --all
2. minikube config set driver podman
3. minikube start --driver=podman --container-runtime=cri-o -p minikube --cpus=4 --memory=12000MB

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**
😄  minikube v1.17.1 on Fedora

[2021-02-07 12:24] BLasan commented on #10379
I think we need to run the command `sudo podman network rm minikube` along with the cluster deletion. @medyagh Please take a look

[2021-02-07 12:44] afbjorklund commented on #10379
Related to #9705 - we were relying on docker labels to do the cleanup, but they were either buggy or missing in podman...

The correct implementation would be to clean up the volumes and networks explicitly, and then only do labels as a fallback.

[2021-02-07 12:51] BLasan commented on #10379
Can I take up this issue?

[2021-02-07 13:00] BLasan commented on #10379
/assign

[2021-02-07 14:47] lxzhang000 commented on #10009
/assign

[2021-02-07 15:10] Andreigr0 commented on #10310
Installed minikube with these commands

But it doesn't work, got the error:
minikube start
😄  minikube v1.17.1 on Darwin 11.2 (arm64)
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🏃  Updating the running docker "minikube" container ...
🐳  Preparing Kubernetes v1.20.2 on Docker 20.10.2 ...- E0207 18:03:30.7

[2021-02-07 15:52] alekonko commented on #10379
hi,
  after cleaning podman bridge with "sudo podman network rm minikube", the startup errors are gone.
So before it worked as it used an old cni.

Thanks a lot

[2021-02-07 16:05] BLasan commented on #10379
Yuh. So we need to clean up those configurations from the minikube deletion process instead of running the command manually :)

[2021-02-07 22:11] medyagh opened #10397 "handle -killed- preload side-car holding on to the "minikube' volume preventing volume from being deleted"
first noticed when I apt-get thought "vim" was installed on a Fresh minikube !!! (however not it was installed in path)
 and the reason was it was using the same volume as previous deleted minikube

[code]

[code]

further debugging showed that I have a volume attached to a random name container (that seems to be the side-car for preload)

[code]

I purpose we give a name to the side-car for examp

[2021-02-08 11:04] mcortinas commented on #9002
:eye:

[2021-02-08 17:05] #10311 closed

[2021-02-08 17:07] #10080 closed

[2021-02-08 17:12] #10307 closed

[2021-02-08 17:22] #10213 closed

[2021-02-08 18:13] medyagh commented on #10397
here is where in the code that we create side Car
https://github.com/medyagh/minikube/blob/8f04657007a61b32d80b6bcf6670c44784a503d0/pkg/drivers/kic/oci/volumes.go#L112

feel free to rename the func to something more meaningful. maybe prepareVolumeSideCar

[code]

[2021-02-08 19:02] sharifelgamal commented on #10272
We can try opening up a PR with the sleep reintroduced and see if that helps at all.

[2021-02-08 19:12] medyagh commented on #9156
@bharathkkb are u still working on this ? any updates?

[2021-02-08 19:15] ilya-zuyev opened #10402 "Support containerd container runtime on darwin/linux arm with preload=false"
Currently minikube is failed to start with `--container-runtime=containerd --preload=false`. It works fine if `--preload=true` thouth

[code]

[2021-02-08 19:17] ilya-zuyev opened #10403 "Run full integration suite on linux ARM64"
Currently only functional tests are run

[2021-02-08 19:19] afbjorklund commented on #10402
What is the problem here, is it broken ? It is supposed to fall back to cache, if there is no available preload

[2021-02-08 19:20] sharifelgamal opened #10404 "Figure out throttling issue with docker windows jenkins jobs"
Only one of our 4 windows machines is currently accepting jobs. Let's figure out why.

[2021-02-08 19:21] sharifelgamal opened #10405 "Document all windows integration tests failures"

[2021-02-08 19:22] ilya-zuyev commented on #10403
/assign

[2021-02-08 19:23] ilya-zuyev commented on #10402
/assign

[2021-02-08 19:23] spowelljr opened #10406 "Create design doc for minikube one step debugging (logs --markdown)"

[2021-02-08 19:23] spowelljr commented on #10406
In-progress

[2021-02-08 19:25] spowelljr opened #10407 "Create fix and write tests for Snap package manager bug"

[2021-02-08 19:25] spowelljr commented on #10407
In-progress

[2021-02-08 19:35] ilya-zuyev commented on #10402
Updated the description. It seems, the issue is related to `failed to create containerd container: error unpacking image: failed to resolve rootfs: content digest sha256:05b738aa1bc6355db8a2ee8639f3631b908286e43f584a3d2ee0c472de033c28: not found"`

[2021-02-08 19:47] ilya-zuyev commented on #10116
fixed in https://github.com/kubernetes/minikube/pull/10202

[2021-02-08 19:47] #10116 closed

[2021-02-08 20:51] medyagh commented on #9072
The Bot should comment with new image and image sha for the contributor to update their code
and if the image build fails it should comment with with the logs from the image build failure

[2021-02-08 20:58] sharifelgamal opened #10409 "site: Add release schedule to documentation"
We release minikube once per month at the end of the month, with a beta prior. Let's add a more detailed release schedule so that people won't be surprised by a new release.

[2021-02-08 21:10] #10325 closed

[2021-02-08 21:24] medyagh commented on #10272
@jiefenghe
the better way is to ensure our --wait=all works on multinode without us needing to add arbitary timeouts in the test

[2021-02-08 22:13] azhao155 commented on #9907
/assign @azhao155

[2021-02-08 22:46] bharathkkb commented on #9156
Hi @medyagh
I was reproing this today (v1.17.1) and it looks like with `--log_dir` set
- currently it creates new info/warning logfiles in `log_dir`
- calling `minikube status`(https://github.com/GoogleCloudPlatform/cloud-code-vscode/issues/286) spawns new log files in $TMPDIR

without `--log_dir` set
- it creates new info/warning logfiles in $TMPDIR
- calling `minikube status` spawns new log file

[2021-02-08 23:29] prezha opened #10410 "inner docker systemd service: move 'StartLimitIntervalSec' param from [Service] to [Unit] section"
repeating errors shown in logs:
[code]
advising that the StartLimitIntervalSec param is ignored

this param was used for resolving issue #9691 in pr #9775
i've been also checking it, but missed the conversation discussing the changes in systemd (ref: https://lists.freedesktop.org/archives/systemd-devel/2017-July/039255.html):
[code]
indeed: https://github.com/systemd/systemd/commit/6bf0f408e483315

[2021-02-08 23:29] prezha commented on #10410
/assign

[2021-02-08 23:42] medyagh commented on #10410
@prezha good idea thanks for fixing it

[2021-02-09 00:43] govargo commented on #10397
/assign

[2021-02-09 01:17] sharifelgamal opened #10413 "Add new crio and containerd integration tests"
- crio docker driver
- crio kvm driver
- containerd kvm driver

Should be in the same format as the docker containerd tests

[2021-02-09 05:26] #10410 closed

[2021-02-09 13:30] sadlil commented on #10327
/assign

[2021-02-09 14:41] supersexy commented on #9104
Why was this closed? When K8S will be used in every data center of the world, it is extremely important to make it as energy efficient as possible - I hope we do not need to discuss that this is an absolute basic requirement for the survival of humans in general, not only for data center software? Did you really understand that climate change is a very serious issue?

It is absurd to roll out soft

[2021-02-09 15:48] keremtekant opened #10416 "StartHost failed, but will try again: config: please provide an IP address"
**Steps to reproduce the issue:**
[student@localhost ~]$ minikube start
* minikube v1.17.1 on Fedora 33
* Using the ssh driver based on existing profile
* Starting control plane node minikube in cluster minikube
! StartHost failed, but will try again: config: please provide an IP address
* Failed to start ssh bare metal machine. Running "minikube delete" may fix it: config: please provide an IP ad

[2021-02-09 16:19] afbjorklund commented on #10416
Seems like this is some residue from the bug with 1.17.0: #10268

It selected the SSH driver by default, when there was no installation of either virtualization or containerization available.

Delete the existing ssh profile, and start over using minikube 1.17.1

[2021-02-09 17:38] #10413 closed

[2021-02-09 18:47] afbjorklund commented on #10256
As well as rpm package on fedora, when available.

[2021-02-09 18:48] #10338 closed

[2021-02-09 18:54] ilya-zuyev commented on #10256
For x86 we probably can just add a verification step to our release job, starting docker debian containers and running dpkg inside

[2021-02-09 18:55] #10407 closed

[2021-02-09 18:59] afbjorklund commented on #10256
I guess the main concern was the arch failures, but there could be other failures with the produced .deb and .rpm wrappers...

[2021-02-09 19:03] afbjorklund commented on #10256
A shortcut would be to just inspect the architecture:

[code]

Just to make sure that _that_ particular issue is fixed ?

[2021-02-09 19:10] afbjorklund commented on #10407
This issue description is quite vague, but I guess one can guess what it was supposed to do from the commits

[2021-02-09 19:14] afbjorklund commented on #10390
etcd is probably same concern for RAM and I/O usage on all drivers, but maybe it was extra bad in kvm2 ?

We already have some old ticket about the disk bloat with that driver, so it wouldn't surprise me if it was...

[2021-02-09 19:36] cheslijones commented on #9224
I did manage to get `minikube tunnel` and `ingress-nginx` to work together.

I just needed to enable [`ingress-nginx` for Docker Desktop](https://kubernetes.github.io/ingress-nginx/deploy/#docker-for-mac) with:
[code]
I started my cluster with `skaffold`.
When that was running I ran `minikube tunnel` and it found the `ingress-nginx-controller` saying:
[code]
Didn't have to expose any, or each, of

[2021-02-09 21:06] #9626 closed

[2021-02-09 21:17] afbjorklund commented on #10237
Minikube seemed to be working more or less OK with podman 3.0.0-RC2.

But needless to say there _were_ bugs, and we now have a RC3 instead...

https://github.com/containers/podman/releases/tag/v3.0.0-rc3

More testing with minikube is needed, especially on Fedora (or on RHEL)

[2021-02-09 22:06] sharifelgamal commented on #9072
The two issues are making sure we can trigger the jenkins job based on "ok-to-build-image" then figuring out why the docker build on the new kicbase dockerfile isn't working.

[2021-02-09 22:21] priyawadhwa opened #10429 "Fix TestNetworkPlugins/group/auto/KubeletFlags on containerd/crio"
This test is failing 100% of the time

[2021-02-09 22:42] #10365 closed

[2021-02-09 22:55] BenTheElder commented on #9925
/remove-sig testing
/sig cluster-lifecycle
[SIG Testing](https://github.com/kubernetes/community/blob/master/sig-testing/README.md) does not own this. SIG cluster lifecylce projects own their own tests, we own things like prow, the upstream e2e test framework, etc.

[2021-02-09 22:55] BenTheElder commented on #10334
/remove-sig testing
/sig cluster-lifecycle
[SIG Testing](https://github.com/kubernetes/community/blob/master/sig-testing/README.md) does not own this. SIG cluster lifecylce projects own their own tests, we own things like prow, the upstream e2e test framework, etc.

[2021-02-10 00:14] #10254 closed

[2021-02-10 00:31] medyagh commented on #9925
oops wrong label, thank you @BenTheElder !

[2021-02-10 00:55] medyagh commented on #9424
we done this.

[2021-02-10 00:55] #9424 closed

[2021-02-10 00:56] medyagh commented on #10013
@kmohanram i wonder would following this Doc help ?

https://minikube.sigs.k8s.io/docs/tutorials/audit-policy/

[2021-02-10 02:28] donangelodev opened #10431 "Installing minikube on Chrome OS"
**Steps to reproduce the issue:**

penguin:~$ minikube start
😄  minikube v1.17.1 on Debian 10.8 (amd64)
✨  Using the docker driver based on existing profile
💨  For improved Docker performance, enable the overlay Linux kernel module using 'modprobe overlay'
❗  docker is currently using the btrfs storage driver, consider switching to overlay2 for better performance
👍  Starting control plane node min

[2021-02-10 05:59] Tejolaxmi commented on #10278
I am also facing the same issue.
After the restarting windows 10 machine i am unable to start minikube and i am getting below error
! StartHost failed, but will try again: provision: Temporary Error: NewSession: new client: new client: dial tcp 127.0.0.1:49156: connectex: No connection could be made because the target machine actively refused it.

Reinstalled minikube  and tries starting it did no

[2021-02-10 08:54] Hamxea opened #10432 "ip not found for windows 10"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-02-10 15:18] chrishna1 commented on #3649
@prabsdubey It's good to reference a pastebin link(or others) instead of pasting such large logs in the comment.

[2021-02-10 17:13] sharifelgamal commented on #10370
We're working on proper support for Apple M1 for the next release.

[2021-02-10 17:15] sharifelgamal commented on #10352
Yeah, I definitely agree with the reasoning here. Feel free to open a PR for this and I'll happily review it.

[2021-02-10 17:17] sharifelgamal commented on #9072
The jenkins job is now triggering at the correct time, namely when a maintainer comments "ok-to-build-image", but the docker buildx command is failing where the docker build command isn't.

[2021-02-10 17:25] sharifelgamal commented on #9072
[code]

Almost like the scripts aren't getting copied in correctly or something

[2021-02-10 18:27] govargo commented on #10397
I cannot reproduce this behaviour.
But I agree fixing this sidecar name in order to prevent unexpected behaviour.

My reproduce step
[code]

If it's possible, please share the reproduce step with me.
Anyway, I'll work on this.

[2021-02-10 18:31] mauriciovasquezbernal commented on #10062
Having `CONFIG_IKHEADERS` will solve this: https://github.com/kubernetes/minikube/issues/8556.

[2021-02-10 18:31] sadlil commented on #10327
Interestingly running minikube start with flag `--kubernetes-version=v1.21.0-alpha.3` seems to be just working.

[code]

[2021-02-10 18:36] #10429 closed

[2021-02-10 18:40] #10331 closed

[2021-02-10 18:43] medyagh commented on #10397
@govargo I think one way to reproduce this is, to remove the -rm from
[code]

so the Side container does not get deleted. (this is reproducing when the container is created and while it is doing extracting it the Docker Service is Quited or killed so it doesnt get chance to remove it self) and it is get stuck in "Created" phase

[2021-02-10 19:11] priyawadhwa commented on #10216
希望如果我关闭此按钮就可以了-信息不足以使其无法执行，并且已经过去了一段时间。如果您能够提供其他详细信息，则可以随时在注释中添加/ reopen来重新打开它。

以下是可能对我们有帮助的其他信息：

*问题是否与最新的minikube版本有关
*使用的确切`minikube start`命令行
*“ minikube start”命令的完整输出，最好使用`--alsologtostderr -v = 3`以获得额外的日志记录。
 * minikube日志的完整输出

感谢您分享经验！

[2021-02-10 19:11] #10216 closed

[2021-02-10 19:12] priyawadhwa commented on #10091
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2021-02-10 19:12] #10091 closed

[2021-02-10 19:12] priyawadhwa commented on #9561
Hey @rboal friendly ping, are you still seeing this issue?

[2021-02-10 19:16] sharifelgamal commented on #10199
Hey @meghashree0396 – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikub

[2021-02-10 19:16] #10199 closed

[2021-02-10 19:19] priyawadhwa commented on #9336
Hey @hobbytp thanks for opening this issue. i'm going to close it as a dupe of https://github.com/kubernetes/minikube/issues/5549.

It's a bit of a hack, but hopefully creating some docker binary resolved your issue. If not, please reopen this issue and we can try help you further!

[2021-02-10 19:19] #9336 closed

[2021-02-10 19:21] sharifelgamal commented on #9869
@esentai8 Did upgrading to latest minikube (v1.17.1) help here?

[2021-02-10 19:21] #9759 closed

[2021-02-10 19:21] medyagh opened #10436 "create MEP for supporting multi-control-plane"
@lingsamuel update: we discussed this in the triage meeting, we like to re-introduce this PR again after we deliver the minikube auto pause feature.  https://github.com/kubernetes/minikube/issues/10326

for now I will close this PR and lets reopen a MEP for this feature for milestone v1.19.0
similar to  https://github.com/kubernetes/minikube/tree/master/enhancements/proposed

I would like the MEP

[2021-02-10 19:23] priyawadhwa commented on #5686
It seems like this issue has been resolved in https://github.com/kubernetes/website/issues/15969  by https://github.com/kubernetes/website/pull/24533

[2021-02-10 19:23] #5686 closed

[2021-02-10 19:26] natalia-umka commented on #10370
When will be the next release?

[2021-02-10 19:29] medyagh commented on #10120
till hyperkit add M1 support we should detect this

https://github.com/medyagh/minikube/blob/a278e45dbfd11dc567ba3646453f2b51a07a8b9c/pkg/minikube/registry/drvs/hyperkit/hyperkit.go#L51

[2021-02-10 19:36] sharifelgamal commented on #10104
Could it be that kubernetes just wasn't fully up when you ran `minikube dashboard`? Like maybe adding the `--wait=all` flag might help here.

[2021-02-10 19:36] medyagh commented on #10090
@rama-jpmc i wonder if u are still facing the issue did the comment above help ?

btw I am wondeirng if u have tried our docker driver?

[2021-02-10 19:36] #10090 closed

[2021-02-10 19:37] priyawadhwa commented on #9926
Closing as a dupe of https://github.com/kubernetes/minikube/issues/9907

[2021-02-10 19:37] #9926 closed

[2021-02-10 19:41] medyagh commented on #10040
@un-fuf-a-doo are you still having this issue, do u have chance to provide more information https://github.com/kubernetes/minikube/issues/10040#issuecomment-768629423

[2021-02-10 19:42] seperman commented on #10060
Hello @afbjorklund
I'm in the same boat. Do you recommend any workarounds? I see the cached file in `~/.minikube/cache/images/localhost_5000`
`localhost_5000` is my local registry. When I run `minikube cache delete localhost:5000/repo:tag` it does remove that file. But if I do `minikube cache add localhost:5000/repo:tag`, it will still add the previous image even though the image is updated in the

[2021-02-10 19:43] ilya-zuyev commented on #9878
@reach4bawer if it's still an issue, could you try minikube v1.17.1?

[2021-02-10 19:43] medyagh commented on #10010
Hi @scpxin I haven', I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-02-10 19:43] #10010 closed

[2021-02-10 19:43] medyagh commented on #10005
@niuxiongwen do u have still this issue ?

[2021-02-10 19:45] spowelljr commented on #10022
@steephengeorge Any update?

[2021-02-10 19:47] ilya-zuyev commented on #10108
SIGSEGV on M1 is another issue: https://github.com/kubernetes/minikube/issues/10243

[2021-02-10 19:47] spowelljr commented on #9962
Hi @zmykevin , we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-02-10 19:47] #9962 closed

[2021-02-10 19:49] medyagh commented on #10005
place in the code https://github.com/medyagh/minikube/blob/a278e45dbfd11dc567ba3646453f2b51a07a8b9c/pkg/drivers/kvm/network.go#L39

[2021-02-10 19:49] prezha commented on #10005
/assign

[2021-02-10 19:50] #10108 closed

[2021-02-10 19:51] medyagh commented on #10005
also https://github.com/medyagh/minikube/blob/a278e45dbfd11dc567ba3646453f2b51a07a8b9c/pkg/drivers/kic/oci/network_create.go#L35

[2021-02-10 19:52] medyagh commented on #9860
@pribalaji58 Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

The exact minikube start command line used: preferably with --alsologtostderr -v=8 added.
The full output of the command
The full output of "minikube logs"
Please fee

[2021-02-10 19:52] #9860 closed

[2021-02-10 19:52] spowelljr commented on #9757
@Pictor13 Did you try taking a look at the related issues linked above?

[2021-02-10 19:53] medyagh commented on #9615
Hi @2976560783  , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-02-10 19:53] #9615 closed

[2021-02-10 19:53] ilya-zuyev commented on #9403
Hey @barisAtmn, do you mind trying minikube v1.17.1 and if the issue still exists attach log output with the error? Thanks!

[2021-02-10 19:54] spowelljr commented on #9452
Hi @darkn3rd, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-02-10 19:54] spowelljr commented on #9312
@michal-kaliszewski-sollers-eu Have you tried the suggestion listed above?

[2021-02-10 19:55] medyagh commented on #8980
@segevfiner are you still interested to make this happen ? I would be happy to accept any PR that adds this feature.

[2021-02-10 19:55] spowelljr commented on #8507
Hi @doublefx, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-02-10 19:55] #8507 closed

[2021-02-10 19:56] priyawadhwa commented on #9811
seems like this issue has been fixed by https://github.com/kubernetes/minikube/pull/10369.

I'm going to close this issue since we also have the following solutions for users running older versions of minikube:
1. Upgrade docker version to latest
2. If minikube was created with an old version of minikube, upgrading minikube to the latest version and running:

[code]

If anyone continues to see thi

[2021-02-10 19:56] #9811 closed

[2021-02-10 19:56] spowelljr commented on #9847
Hi @ghostdaxia, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-02-10 19:56] #9847 closed

[2021-02-10 19:57] medyagh commented on #7670
@BLasan  I have not seen this issue recently, if there is evidence we leave left over files I would accept a PR for this.

[2021-02-10 19:57] #7670 closed

[2021-02-10 19:57] medyagh commented on #7630
no longer needed

[2021-02-10 19:57] #7630 closed

[2021-02-10 19:58] medyagh commented on #6735
@blueelvis do u have suggestions howe we can become a known publisher?

[2021-02-10 20:00] sharifelgamal commented on #9429
Hey @parekhha, sorry for taking so long to respond to this, that's our fault.  Clearly something is wrong with your control plane is not up and healthy since pinging its alias is failing. Could you provide us with a bit more information so we can help figure out why minikube didn't start? Most helpful would be:

- `sudo -E minikube start --vm-driver=none --kubernetes-version=v1.17.3 -v=5 --alsolog

[2021-02-10 20:01] sharifelgamal commented on #9364
Yes, this should be fixed in the latest version of minikube. Please reopen this issue if you are still running into it.

[2021-02-10 20:01] #9364 closed

[2021-02-10 22:46] spowelljr commented on #10407
@afbjorklund I updated the issue description with the PR description, hopefully that helps.

[2021-02-10 23:47] sharifelgamal commented on #10405
The tests that are currently failing every time:
- TestCertOptions
- TestAddons/Registry
- TestDockerFlags
- TestForceSystemdEnv

In addition, TestStartStop is failing frequently under all sorts of different permutations.

Those will be top priorities to fix, then we'll re-examine where we are.

[2021-02-11 00:03] priyawadhwa opened #10437 "Add containerd start times to PR bot"

[2021-02-11 00:04] priyawadhwa opened #10438 "Look into improving `minikube start` time with containerd by 10%"
This would be about a 4 second improvement.

[2021-02-11 00:42] jiefenghe commented on #10272
Adding a sleep time do make the test pass. I'll look into @medyagh's suggestion to ensure the wait flag is enforced.

[2021-02-11 01:04] #10147 closed

[2021-02-11 02:31] dxviidmg opened #10440 "The connection to the server localhost:8443 was refused - did you specify the right host or port?"
Exiting due to MK_ENABLE: run callbacks: running callbacks: [sudo KUBECONFIG=/var/lib/minikube/kubeconfig /var/lib/minikube/binaries/v1.20.0/kubectl apply -f /etc/kubernetes/addons/dashboard-ns.yaml -f /etc/kubernetes/addons/dashboard-clusterrole.yaml -f /etc/kubernetes/addons/dashboard-clusterrolebinding.yaml -f /etc/kubernetes/addons/dashboard-configmap.yaml -f /etc/kubernetes/addons/dashboard-d

[2021-02-11 03:18] WilleLin opened #10441 "please provide an IP address"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2021-02-11 06:42] afbjorklund commented on #10060
If the image already exists in the docker daemon, it will **not** pull anything from the registry.

1) https://pkg.go.dev/github.com/google/go-containerregistry/pkg/v1/daemon#Image

2) https://pkg.go.dev/github.com/google/go-containerregistry/pkg/v1/remote#Image

It actually always checks with dockerd, even if there no such thing running on the host.

[code]

[2021-02-11 06:43] afbjorklund commented on #10060
So the current workaround would be `docker pull localhost:5000/repo:tag`

[2021-02-11 07:47] jiefenghe commented on #9884
/assign

[2021-02-11 09:02] jgoeres commented on #10280
Okay, so I finally found the root cause for the observed behavior:
In the workload that I deployed, there was a job that amongst other things did a "curl" command. A change in its parametrization triggered a bug in the job script that would cause curl to try to curl from several non-existing hostnames. We have our own retry logic in that job (since Kubernetes retries have quite inflexible retry be

[2021-02-11 09:10] RA489 commented on #10441
@WilleLin  Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank you for sharing your experience!

[2021-02-11 09:11] RA489 commented on #10441
/triage needs-information

[2021-02-11 09:11] RA489 commented on #10440
/kind support

[2021-02-11 09:12] RA489 commented on #10432
@Hamxea Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank you for sharing your experience!

[2021-02-11 09:13] RA489 commented on #10432
/triage needs-information

[2021-02-11 09:13] RA489 commented on #10387
/kind support

[2021-02-11 09:14] RA489 commented on #10382
/kind support

[2021-02-11 09:14] RA489 commented on #10392
/kind support

[2021-02-11 10:05] dytyniuk opened #10443 "Update outdated moby/hyperkit package in minikube code"
**Steps to reproduce the issue:**

1. Start a new Minikube cluster based on Hyperkit driver `minikube start --driver=hyperkit --cpus=2 --disk-size=10g --memory=4g --hyperkit-vpnkit-sock='auto'`
2. VM creation fails:
[code]

**Full output of failed command:**
<details>
<pre><code>
$ minikube start --driver=hyperkit --cpus=2 --disk-size=10g --memory=4g --hyperkit-vpnkit-sock='auto' --alsologtostderr

[2021-02-11 10:13] nixpanic opened #10444 "The minikube v1.17.1 release did not update the iso image"
Hi,

#10255 made a modification to the iso image for the minikube VM. Unfortunately the updated image was not released. What is needed to get that done?

Thanks!
Niels

[2021-02-11 11:28] afbjorklund commented on #10444
Normally the minor versions don't update the ISO, but there will be one for v1.18.0 soon enough

[2021-02-11 12:13] nixpanic commented on #10444
Ok, thanks!

[2021-02-11 12:25] UdayP23 opened #10445 "driver for VmwareFusion to start minikube"
**Steps to reproduce the issue:**

1. Unable to set driver for vmware fusion
2.
3.

**Full output of failed command:**
~]$ minikube config set driver hyperkit

❌  Exiting due to MK_CONFIG_SET: run validations for "driver" with value of "hyperkit": [driver "hyperkit" is not supported]

😿  If the above advice does not help, please let us know:
👉  https://github.com/kubernetes/minikube/issues/new/cho

[2021-02-11 13:30] UdayP23 opened #10446 "vmware driver for minikube (using VmwareFusion)"
unable to find any support for vmware Fusion driver for minikube. At first it was pointing towards installation of docker-machine-driver-vmware, i some tried to find this package over internet and installed docker-machine-driver-vmware_linux_amd64 and now it cannot find vmrun ..?? where do i find it ? Please cover this in the documentation .

[osboxes@osboxes ~]$ minikube start --alsologtostderr -

[2021-02-11 13:50] daddykeba opened #10447 "ingress"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-02-11 13:51] daddykeba opened #10448 "enable ingress"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-02-11 17:24] hetong07 commented on #9925
/assign

[2021-02-11 17:35] darkmatterjinx opened #10449 "minikube start:get a wrong img-repo access url(with double-protocol)"
**Steps to reproduce the issue:**

1.just ```minikube start```

notice: error info about docker pull image failt url contains a protocol at the begining,

**Full output of failed command:**
😄  minikube v1.17.1 on Ubuntu 18.04
✨  Using the none driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing none bare metal machine for "minikube" .

[2021-02-11 18:24] #10272 closed

[2021-02-11 18:27] #9705 closed

[2021-02-11 18:43] priyawadhwa opened #10451 "Add more complex integration tests for `minikube image load`"
In #10366  I added a simple test for the `minikube image load` command:
1. Pull busybox
2. Try to load it into minikube
3. Make sure busybox exists in minikube

It would be nice to beef up the tests a little bit and also verify the following cases:
1. Try to load an image that already is loaded in, and make sure nothing breaks
2. Load in an image with a new tag and make sure the new tag exists in

[2021-02-11 18:50] BLasan commented on #10379
@medyagh Can we close this issue sir?

[2021-02-11 18:53] #10156 closed

[2021-02-11 18:53] BLasan commented on #10143
@priyawadhwa Ma'am could you please verify this issue?

[2021-02-11 18:58] BLasan commented on #10451
@priyawadhwa If you don't mind, I would like to take up this issue

[2021-02-11 18:58] BLasan commented on #10451
/assign

[2021-02-11 19:02] priyawadhwa commented on #10451
Thanks @BLasan !

[2021-02-11 19:15] afbjorklund commented on #9947
Patch: https://patch-diff.githubusercontent.com/raw/moby/buildkit/pull/1924.patch

[2021-02-11 19:26] afbjorklund commented on #9865
systemd has a weird way from stopping services to get enabled by default:
https://www.freedesktop.org/software/systemd/man/systemd.preset.html

[2021-02-11 20:36] AndrewPanov commented on #9161
@priyawadhwa I may try to reproduce it with the most recent version and give you feedback, as for now i don't know

[2021-02-11 20:59] medyagh commented on #9865
@tharun208 I haven't heard from you, meanwhile I assign this to @jiefenghe please feel free to start working on this

[2021-02-11 21:00] jiefenghe commented on #9865
/assign

[2021-02-11 22:14] sharifelgamal commented on #9072
So, the scripts definitely exist in the image, the issue is when building the arm64 image. The error above is shell not being able to execute our package installation scripts. Changing that command to use bash instead of shell results in dpkg errors:
[code]

[2021-02-12 01:10] #10120 closed

[2021-02-12 02:21] medyagh commented on #10446
@UdayP23 does the minikube suggestion help ? it seems like u dont have the vmware in the path
[code]

[2021-02-12 02:21] medyagh commented on #10446
/triage needs-information
/kind support

[2021-02-12 06:43] ponraj-web opened #10453 "docker"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-02-12 08:48] Economax commented on #4816
Still occuring in minikube v 1.17.1 on Microsoft Windows 10 Home 10.0.19041 build 19041 with AMD processor Ryzen 7 1700X and WSL 2 installed.

[2021-02-12 12:05] afbjorklund commented on #4816
@Economax Can you open a new issue, if so ? It's possible that `cpuid` needs some update for newer AMD...

[2021-02-12 14:37] kingshipgit opened #10455 "kube-dns"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-02-12 15:06] govargo opened #10456 "[Unit Test] TestCheckDockerVersion always fails"
/area testing

When `make test` in macOS, the `TestCheckDockerVersion` always fail.
This test is executed in only darwin.

[code]

[2021-02-12 15:06] govargo commented on #10456
/assign

[2021-02-12 15:46] afbjorklund commented on #10237
Podman 3.0 has been released: https://github.com/containers/podman/releases/tag/v3.0.0

[2021-02-12 19:09] sharifelgamal commented on #10379
Yeah, this issue should be fixed at HEAD and will be included in the next release. I'll close this for now.

[2021-02-12 19:09] #10379 closed

[2021-02-12 19:27] sharifelgamal commented on #10093
This seems to be a configuration issue with our ambassador addon yaml. This addon was contributed by the community, so the minikube maintainers can't guarantee being able to maintain these properly. We will happily review any PRs to fix this though.

[2021-02-12 19:41] sharifelgamal commented on #10164
Yeah, I agree we could do better here and fail more gracefully. Help wanted!

[2021-02-12 20:05] sharifelgamal commented on #10253
I believe you can set the DOCKER_HOST environment variable and we will honor that IP address instead of localhost.

[2021-02-12 20:13] #10456 closed

[2021-02-12 20:48] #10386 closed

[2021-02-12 21:40] medyagh opened #10459 "auto-setting 32 GB memory on Docker Driver ?"
on users with a huge machine, we are auto setting something as big as 32 GB of ram
[code]

[2021-02-12 21:42] medyagh opened #10460 "improve UI advice when user needs to delete the cluster"
here we confuse the user with two things

❗  You cannot change the memory size for an exiting minikube cluster. Please first delete the cluster.
and

😿  Failed to start ssh bare metal machine. Running "minikube delete -p foo" may fix it: config: please provide an IP address

we should had sticked with first advice

[code]

[2021-02-12 21:59] medyagh commented on #10371
I confirm this is a problem that affects users with cgroup2

and one thing we could do on minikube side is NOT applying memory limits for cgroup v2 until it is fixed and also point them to the docs on Docker website to fix their cgroup
[code]

[2021-02-12 22:04] sharifelgamal commented on #9072
This was fixed by upgrading the machine we were building on from debian9 to debian10. This entire build process will be available once our jenkins infrastructure is back online.

[2021-02-12 22:28] sharifelgamal commented on #10445
The vmwarefusion driver is no longer supported in minikube, please try using the vmware driver instead.

Also, in your description, it seems like you're trying to set the driver to hyperkit, which isn't supported by your system. What OS are you using?

[2021-02-12 22:31] sharifelgamal commented on #10447
Hey @daddykeba, I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

T

[2021-02-12 22:32] sharifelgamal commented on #10448
Closing as duplicate of #10447

[2021-02-12 22:32] #10448 closed

[2021-02-12 23:10] medyagh opened #10461 "test error spam flake: unexpected stderr: " - Using image g"
[code]

why this line is going to STDERR ??11:28:54     error_spam_test.go:77: unexpected stderr: "  - Using image gcr.io/k8s-minikube/storage-provisioner:v4"

[2021-02-13 00:20] sharifelgamal commented on #10455
Hey @kingshipgit, I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

[2021-02-13 00:21] sharifelgamal commented on #10453
Hey @ponraj-web, I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

[2021-02-13 00:56] medyagh commented on #9217
@Evalle I have not heared from you, are u still doing this ?

[2021-02-13 08:22] afbjorklund commented on #10371
Basically they haven't configured their Docker installation "properly"

[2021-02-13 09:06] afbjorklund commented on #10459
The normal drivers will max out at 6000 MiB, for their suggested memory allocation...

But we only _call_ validateRequestedMemorySize, when cmd.Flags().Changed(memory)

[2021-02-13 09:08] afbjorklund commented on #10459
This behaviour is wrong:
`❗  Startup with docker driver failed, trying with alternate driver ssh`
`🤦  StartHost failed, but will try again: config: please provide an IP address`

It's not supposed to switch to something like "ssh" or "none", just because Docker failed ?

[2021-02-13 09:30] ashwanth1109 commented on #10352
/assign

[2021-02-13 11:52] n-mam opened #10467 "Exiting due to GUEST_START: wait 6m0s for node"
Hi

I am new to kubernetes. For the past one week I have been playing around with minikube on windows primarily in the context of developing a CSI driver.. Today, I was testing my controller yaml couple of times and then at one point I shutdown the cluster before lunch. When I came back I was not able to start the cluster back again. I have reproduced the exact console logs below. Could you please

[2021-02-13 13:20] kranthi-kilani opened #10469 "https://github.com/kubernetes/minikube/issues/new/choose"

[2021-02-13 15:32] phantooom opened #10470 "kvm2 driver support simulate numa node"
k8s support numa docs: https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/

minikube can simulate numa node

kvm2 driver add support command
this mean the node had two numa node.  these node will evenly distributed cpu core & memory .

[code]

[2021-02-13 15:40] BLasan commented on #10460
@medyagh You mean we do not need the log `Failed to start ssh bare metal machine. Running "minikube delete -p foo" may fix it: config: please provide an IP address` right? I would like to open a PR for this

[2021-02-13 15:40] BLasan commented on #10460
/assign

[2021-02-13 21:14] #8089 closed

[2021-02-14 07:34] liakaz opened #10474 "Failed minikube start on Windows 10: error execution phase certs/ca: failure loading ca certificate: failed to load certificate: the certificate is not valid yet"
**Steps to reproduce the issue:**

1. Failure happens with the latest minikube 1.17.1, downgraded to 1.40.0 failure persists
2. Tried the latest k8s version as well as 1.19.0

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**
[code]

 minikube status
E0213 23:27:23.407172    9188 status.go:364] kubeconfig endpoint: extract IP: "minikube"

[2021-02-14 11:38] nitra-stack opened #10475 "minikube start -p \ cloud-run-dev-internal"
**Steps to reproduce the issue:**

1.minikube start -p \
    cloud-run-dev-internal
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-02-14 12:06] afbjorklund commented on #10461
Code says `// Send messages to stderr due to some tests rely on stdout`

[2021-02-14 12:28] afbjorklund opened #10478 "Upgrade CRI-O to 1.20.0"
Upgrade cri-o package, from 1.19.0 to 1.20.0

Tracker for #10476 (ISO) and #10477 (KIC)

[2021-02-14 13:30] #8202 closed

[2021-02-14 19:30] afbjorklund commented on #9868
Using  https://github.com/dims/cri-dockerd until https://github.com/Mirantis/cri-dockerd has more than just a README...

See https://github.com/Mirantis/cri-dockerd/issues/1 and https://www.mirantis.com/blog/mirantis-to-take-over-support-of-kubernetes-dockershim-2/

[2021-02-14 20:24] afbjorklund commented on #10237
@medya said:

[2021-02-14 20:30] #10416 closed

[2021-02-14 20:32] afbjorklund commented on #10289
Closed in #10293 and #10298, it will now validate any given key and default to ~/.ssh/id_rsa if none given.

[2021-02-14 20:32] #10289 closed

[2021-02-14 22:18] YektaLeblebici commented on #8055
This issue seems to be closed by mistake.

If I understood correctly @tstromberg wrote "Does not fix #.." in his PR and issue got closed automatically w/o taking "Does not" part into consideration :)

btw I can confirm that the issue persists on latest MacOS and minikube v1.17.1 (latest), when I run it like this: `minikube start --nodes 2 --vm-driver=hyperkit`

DNS resolves fine inside minikube no

[2021-02-14 23:14] IvanKuchin commented on #10382
Hi @michaelhenkel

I had the same problem with multi-node minikube (incl: master and worker). If you just go further with the error you'll get all sorts of errors with networking, for example different pods will be assigned with a same IP-address, services will redirect you to random pods, etc.....

[code]

I fixed it by pointing out minikube to exact drivers for virtual environment

`$ minikube s

[2021-02-15 05:05] ChocaGame opened #10481 "Minikube start"
minikube start --driver=none
😄 minikube v1.16.0 on Centos 7.2
✨ Using the none driver based on existing profile
👍 Starting control plane node minikube in cluster minikube
🔄 Restarting existing none bare metal machine for "minikube" ...
ℹ️ OS release is Tencent tlinux 2.2 (Final)
🐳 Preparing Kubernetes v1.20.0 on Docker ...

❌ Exiting due to K8S_INSTALL_FAILED: updating control plane: generating ku

[2021-02-15 05:06] ChocaGame commented on #10481
Alguna solución para Linux …

[2021-02-15 06:50] humblec commented on #10444
@afbjorklund where can we track the release cycle? may be I missed it , if thats the case apologies in advance.

[2021-02-15 07:19] afbjorklund commented on #10444
It is here for now: https://github.com/kubernetes/minikube/milestones

But there is some work to make it more obvious than that: #10409

[2021-02-15 07:48] humblec commented on #10444
Sure.. Thanks!

[2021-02-15 07:48] humblec commented on #10444
Sure.. Thanks!

[2021-02-15 10:15] efussi commented on #10237
FWIW, I upgraded to podman version 3.0 and tried to start minikube, but it failed:
[code]
Seems the restart tries to create a volume that still exists from the earlier attempt (I ran `podman system reset` and `minikube delete --all` before `minikube start --driver podman`).

[2021-02-15 12:39] afbjorklund commented on #10237
You need to run a version that includes PR #10435 (i.e. latest/greatest)

[2021-02-15 13:04] Naresh-Challa opened #10482 "Not able to start minikube on Cent os"
**Steps to reproduce the issue:**

1. minikube start --memory 5120 --cpus=4 --cache-images=false
2. Taking Pre loaded images into my /home/username.lastname/.minikube
3. Exiting due to GUEST_PROVISION: Failed to save config: open /home/naresh.challa/.minikube/profiles/minikube/config.json: no space left on device

**Full output of failed command:**

**Full output of `minikube start` command used,

[2021-02-15 13:08] horseinthesky commented on #9869
On Arch. `minikube` 1.17.1 installed from pacman has this.
[code]

Docker service is up and running. Is this relative to the issue?

[2021-02-15 13:31] LaumiH opened #10483 "Unable to --cleanup profile tunnel other than default profile"
I cannot delete the tunnel created for a minikube profile other than the default profile.

**Steps to reproduce the issue:**

1. Start a minikube profile, like `minikube start -p foo`
2. Check that context is `foo`.
2. Start tunnel, using `minikube tunnel -p foo`
3. Stop tunnel, using Ctrl+C
4. Try to delete tunnel, using `minikube tunnel -c -p foo`, or `minikube -p foo -c`, or `minikube -c`

**Fu

[2021-02-15 14:46] LaumiH commented on #10483
I also notices that I cannot open a tunnel on a second minikube profile.
What I did is
- Change the cluster IP range using `minikube start --service-cluster-ip-range='10.97.0.0/12' -p bar`
- Open a tunnel with `minikube tunnel -p bar`
The tunnel shows me an error "conflicting route", and in there is the cluster IP range from the first context, not the `'10.97.0.0/12'`.

Can you please instruct me

[2021-02-15 17:37] Moonwalkerr opened #10484 "Minikube isnt starting"
**Steps to reproduce the issue:**

1.�😄  minikube v1.16.0 on Microsoft Windows 10 Pro 10.0.18363 Build 18363
✨  Using the virtualbox driver based on user configuration
�👍  Starting control plane node minikube in cluster minikube
�🔥  Creating virtualbox VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...
❗  This VM is having trouble accessing https://k8s.gcr.io
�💡  To pull new external images, you may nee

[2021-02-15 17:38] Moonwalkerr commented on #10484
the above was the output of  minikube start command on windows 10 os

[2021-02-15 17:55] pkjasawat opened #10485 "minikube start error-Exiting due to GUEST_CERT: certificate symlinks: create symlink failed"
**Steps to reproduce the issue:**

1.installed docker ee v19.03.14. docker instance is up and running
2. installed minikube v1.2.0 as root.
3.Now trying to start minikube cluster (minikube start --vm-driver=none)

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**
[root@myhostname ~]# minikube start --vm-driver=none
* minikube v1.17.1 on

[2021-02-15 20:00] #8369 closed

[2021-02-16 00:10] kingshipgit commented on #10455
thanks for getting back at me, the instructions I had weren't great. I was able to figure it out.

[2021-02-16 00:10] #10455 closed

[2021-02-16 04:16] AkihiroSuda commented on #8719
/remove-lifecycle stale

[2021-02-16 08:06] franciscosuca commented on #9224
This answer and the new Docker Desktop preview 3.1.0 (with K8s included) helped me to install it successfully.

Thanks!

[2021-02-16 09:22] cglacet commented on #5594
@medyagh I think I found a solution the other time, but I can't find it again (I think I just switched to virtualbox).

Here is the output I have:

[code]

* minikube: 1.17.1
* hyperkit 0.20200908

[2021-02-16 12:14] BLasan commented on #10143
Starting the implementations

[2021-02-16 13:20] anupam54 opened #10487 "Minikube is not starting"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2021-02-16 17:50] medyagh commented on #10326
in progress

[2021-02-16 19:15] michaelparra opened #10489 "docker: Unable to get host IP: network: Template parsing error: template: :1: unexpected "=" in operand"
buenas tardes amigos, alguien me podra ayudar con lo siguiente, estoy aprendiendo y quiero terminar de levantar minikube en gcp
muchas gracias

**Los comandos necesarios para reproducir la incidencia**:
 minikube start --driver=docker
**El resultado completo del comando que ha fallado**: <details>

😄  minikube v1.17.1 on Centos 7.9.2009 (kvm/amd64)
✨  Using the docker driver based on user configur

[2021-02-16 21:02] smotynga opened #10490 "Docker driver doesn't mount volums with --mount-string"
When I use docker driver container is created and mounts contains provided volumes. But inside vm it's not present. With virtualbox driver same minikube create command works fine.

**System**
macOS Catalina 10.15.5

**Steps to reproduce**
1. minikube start --driver=docker --mount --mount-string $HOME:/data/test
2. minikube ssh
3. ls -la /data/

Detailed log is below

<details>

[code]
</details>

[2021-02-16 23:51] #9936 closed

[2021-02-16 23:51] #10130 closed

[2021-02-17 00:01] #10352 closed

[2021-02-17 00:25] ilya-zuyev opened #10492 "Stabilize TestFunctional/parallel/DockerEnv integration test"
TestFunctional/parallel/DockerEnv flakes when run in GitHub actions.
Example of failed run:

[code]

[2021-02-17 06:13] RajkumarShivage commented on #4350
I was facing same problem
Failed to list *v1.Namespace: Get "https://10.100.0.1:443/api/v1/namespaces?limit=500&resourceVersion=0": dial tcp 10.100.0.1:443: connect: no route to host

One of the worker nodes had firewalld running, stopped it. It resolved the issue.
Thanks all for your inputs!

[2021-02-17 06:40] afbjorklund commented on #10490
This happens because the automounter will replace `/data`, I suppose any other path would have worked...

So you have /var/data now mounted on /data, and the previous /data/test mountpoint gets hidden by it.

Another option is to mount it on /var/data/test.

The VM instead uses `/mnt/sda1`, not `/var`.

[2021-02-17 08:57] smotynga commented on #10490
I see, thank you @afbjorklund. I've checked and indeed other path works as expected.
Is there any possibility to force this /data mount ? Problem is that this path is already used by system I'm working with and I would like to use docker drive since it's preferred.

[2021-02-17 10:29] nle93 opened #10494 "minikube start [ERROR Port-10259]: Port 10259 is in use"
**Steps to reproduce the issue:**

1. sudo -E minikube start --vm-driver=none

**Full output of failed command:**
[Log.txt](https://github.com/kubernetes/minikube/files/5994922/Log.txt)

**Full output of `minikube start` command used, if not already included:**
$ minikube start
\U0001f604  minikube v1.17.1 on Ubuntu 18.04 (amd64)
    \u25aa MINIKUBE_WANTUPDATENOTIFICATION=false
    \u25aa KUBECONF

[2021-02-17 10:36] magnus-larsson opened #10495 "Recreate minikube cluster on WSL2 using “minikube delete” and “minikube start --driver=docker --ports...” fails on "connection refused" errors"
**Summary**

I can’t recreate minikube cluster on WSL2 when using the `--ports` option to expose ports.
The `minikube start` command fails on connecting to the various ports that is sets up on the Docker container.

The problem does not occur when I don’t use the `--ports` option.

Workarounds:
1. Map the ports used by the previous minikube cluster using an extra `--ports` option, then a new minik

[2021-02-17 10:37] nle93 commented on #10494
I already tried with 'sudo minikube delete' and 'sudo kubeadm reset'. It didn't work for me.

And I also tried with 'sudo netstat -tulpn | grep 10259' and 'sudo kill -9 {PID}'. PID recreated with a different PID automatically.

[2021-02-17 10:42] nle93 commented on #10494
For more infomation:
$ sudo netstat -tulpn | grep '10259\|10257\|2379\|2380'
tcp6       0      0 :::2379                 :::*                    LISTEN      28050/etcd
tcp6       0      0 :::2380                 :::*                    LISTEN      28050/etcd
tcp6       0      0 :::10257                :::*                    LISTEN      28042/kube-controll
tcp6       0      0 :::10259

[2021-02-17 10:52] afbjorklund commented on #10490
This didn't work, you then end up with an **empty** directory on /data/test...

The /var looks fine, but now none of it is mounted (from /data) anymore.

Workaround is to mount it anywhere, and then create a symlink/bind-mount afterwards.

[code]

There are some security implications of using $HOME, but I guess you knew that ?

[2021-02-17 10:57] #10490 closed

[2021-02-17 12:08] cjheppell commented on #3752
I'm not sure this should've been closed.

I just tried to build the minikube iso on MacOS and hit the exact same issue (this was being built in the docker container):

[code]

Presumably the workaround of creating a case-sensitive is still required, even when building in Docker?

[2021-02-17 12:09] horseinthesky opened #10496 "docker: Error response from daemon"
**Steps to reproduce the issue:**

Unable to create cluster.

Arch
minikube 1.17.1 from pacman

Clean start attempt
1. minikube delete
2. docker service prune
3. minikube start

**Full output of failed command:**
[code]

**Full output of `minikube start` command used, if not already included:**
[code]

**Optional: Full output of `minikube logs` command:**
``
minikube logs
🤷  Profile "minikube" not

[2021-02-17 13:52] x8core opened #10497 "output: lstat /tmp/tmpf-memory-asset392507495: no such file or directory"
Hi! I got such error, anyone has ideas how to troubleshoot this?

minikube start
😄  minikube v1.14.2 on Ubuntu 19.04
✨  Automatically selected the docker driver
👍  Starting control plane node minikube in cluster minikube
🔥  Creating docker container (CPUs=2, Memory=7900MB) ...
✋  Stopping node "minikube"  ...
🛑  Powering off "minikube" via SSH ...
🔥  Deleting "minikube" in docker ...
🤦  StartHost

[2021-02-17 16:08] shafiurrahmanA opened #10498 "SSH driver: please provide an IP address"
Failed to start ssh bare metal machine. Running "minikube delete" may fix it: config: please provide an IP address  X Exiting due to GUEST_PROVISION: Failed to start host: config: please provide an IP address * * If the above advice does not help, please let us know:   - https://github.com/kubernetes/minikube/issues/new/choose

**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed c

[2021-02-17 18:07] dsaydon90 commented on #10245
I'm getting the same issue on my windows 10 pc too

The only ways that I could access to the nginx ingress was by using `minikube ssh`
[code]

or by using `port-forward`

[code]

minikube version: v1.17.1
commit: 043bdca07e54ab6e4fc0457e3064048f34133d7e

[2021-02-17 18:11] waldiirawan opened #10499 "resulting devices cgroup doesn't match target mode: unknown"
**Steps to reproduce the issue:**

1. Failure start happens with the minikube v1.16.0 and docker v20.10.1

**Full output of failed command:**
StartHost failed, but will try again: creating host: create: creating: create kic node: create container: docker run -d -t --privileged --security-opt seccomp=unconfined --tmpfs /tmp --tmpfs /run -v /lib/modules:/lib/modules:ro --hostname minikube --name min

[2021-02-17 18:22] burlutskiy commented on #10370
Getting exactly the same error. @natalia-umka have you found any workaround to start minikube on M1?

[2021-02-17 18:30] afbjorklund commented on #10370
Docker crashing needs a new release of Docker, the main thing left in minikube is providing an ARM ISO for the VM...

[2021-02-17 18:48] burlutskiy commented on #10370
I was able to workaround it by replacing /usr/local/minikube with
https://github.com/kubernetes/minikube/releases/download/v1.17.1/minikube-darwin-arm64

Surprisingly it also prepares Kubernetes v1.20.2 on Docker 20.10.2 but doesn't fail and the same v1.17.1.
The original v1.17.1 was installed with the brew.

[2021-02-17 18:49] #10484 closed

[2021-02-17 18:49] Moonwalkerr commented on #10484
solved

[2021-02-17 19:16] #10461 closed

[2021-02-17 19:32] #10173 closed

[2021-02-17 19:33] priyawadhwa commented on #10183
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2021-02-17 19:33] #10183 closed

[2021-02-17 19:35] sharifelgamal commented on #9965
Hi @lanjanha, we haven't heard from you in awhile, so I'm going to go ahead and close this issue. Please feel free to reopen this if you still see this issue with the newest version of minikube.

[2021-02-17 19:35] #9965 closed

[2021-02-17 19:35] spowelljr commented on #9874
Hi @ucohen, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-02-17 19:35] #9874 closed

[2021-02-17 19:38] sharifelgamal commented on #9670
Hey @spillarlive – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release

* The exact minikube s

[2021-02-17 19:38] #9670 closed

[2021-02-17 19:41] priyawadhwa commented on #10083
Hey @wallwind are you still seeing this issue with the latest release of minikube and docker?

[2021-02-17 19:42] priyawadhwa commented on #9763
Hey @aravindsaravanan are you still seeing this issue?

[2021-02-17 19:44] #9311 closed

[2021-02-17 19:45] ilya-zuyev commented on #10186
@keppusamyibm are you still facing this issue?

[2021-02-17 19:48] ilya-zuyev commented on #10056
@Nellyoj any update on this issue?

[2021-02-17 19:48] #9868 closed

[2021-02-17 19:49] #9031 closed

[2021-02-17 19:54] spowelljr commented on #9509
Hi @spurum1008, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-02-17 19:54] #9509 closed

[2021-02-17 19:56] #10306 closed

[2021-02-17 19:57] #8052 closed

[2021-02-17 19:58] ilya-zuyev commented on #9976
Hi @bl-ue! Any update on this issue?

[2021-02-17 20:01] bl-ue commented on #9976
Oh! I forgot about this one.  Let me see...

[2021-02-17 20:10] cjheppell opened #10501 "Support for Linux Kernel 5.1+"
Is it possible to support Linux kernel 5.1+ in the built Minikube iso?

The reason for this is that I'm intending to run Ceph in Minikube (for which the `ceph-csi` plugin requires kernel 5.1+ or higher for "deep flatten" support).

It looks like this was done in https://github.com/kubernetes/minikube/pull/8187, but then reverted later in https://github.com/kubernetes/minikube/pull/8649.

I've trie

[2021-02-17 20:15] LordBertson commented on #9869
@horseinthesky based on your output I'd check whether _minikube_ network is created among docker networks (`docker network ls`). If yes, you might want to check what is in the way of the network communication, might be firewall.

[2021-02-17 20:23] afbjorklund commented on #10501
This is planned for next major upgrade of the OS in the VM...

It would be either of 5.4 or 5.10, which are both 5.1+ I guess.

Just have to decide if it is Buildroot 2021.02 or Ubuntu 20.04 :-)

See #9992

[2021-02-17 20:47] afbjorklund commented on #10501
Here are the BR2_LINUX_KERNEL_LATEST_VERSION, for the LTS releases:

Buildroot | Kernel
---- | ----
2018.02.x | 4.15
2019.02.x | 4.19
2020.02.x | 5.4
2021.02.x | 5.10

See https://buildroot.org/news.html for the release announcements and details.

As you noticed, we _downgraded_ to an earlier kernel because of issues in testing...

[2021-02-17 20:52] cjheppell commented on #10501
Great stuff. Thanks for sharing the links.

I'm very keen to see this happen, as we could really do with a 5.1+ kernel.

Is there a preexisting iso from the version that was targeting the 5.4 kernel from the PRs I mentioned?

It's a very significant blocker for me, so I'd be keen to use an older, "unsupported" iso if its based on 5.1+ until the official support is there?

[2021-02-17 22:36] daehyeok commented on #9909
Can i get more detail about this issue?

`reason.GuestStart` only used in `/cm/start.go` file for return error from `startWithDriver` func.
https://github.com/kubernetes/minikube/blob/5ae4f60642f8d009bd5ecb8fd40b2c47d95d928c/cmd/minikube/cmd/start.go#L258-L262

and  all of error in `startWithDriver` func  come from `node.Start` or `node.Add` func. so If i wrap each error with `GUEST_NODE_START`  a

[2021-02-17 23:18] medyagh opened #10504 "TestFunctional/parallel/DashboardCmd broken on master"
[code]

https://github.com/kubernetes/minikube/runs/1921489584?check_suite_focus=true

[2021-02-17 23:21] hetong07 opened #10505 "Failed to start minikube on Debian: memory.swap.max: permission denied: unknown."
Hello,
I tried to run the `minikube start` on my Debian machine and got
[code]
I tried to run `minikube delete --all` and restart my computer, but that problem remains.

Below is the full log with '--alsologtostderr'
[code]

[2021-02-17 23:42] hetong07 commented on #10505
However, if I run with `minikube start --driver=none`, it starts correctly.

[2021-02-17 23:59] hetong07 commented on #9925
Hello Sadlil, Could you help give me more detail about the DNS resolve thing you are suggesting? Thank you.

[2021-02-18 01:07] hetong07 commented on #10505
After this failure, I check the docker and got:
[code]
If I then use `docker container start e6d6770fedf4 `, I will receive:
[code]

[2021-02-18 01:49] aravindsaravanan commented on #9763
Hi Priya,

Docker Desktop for windows is seems working, Hence this can archive.

Thanks & Regards,
Saravanan P

From: priyawadhwa <notifications@github.com>
Sent: 18 February 2021 01:12
To: kubernetes/minikube <minikube@noreply.github.com>
Cc: aravindsaravanan <aravindsaravanan@hotmail.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [kubernetes/minikube] Error starting minikube via Virtu

[2021-02-18 04:45] jandubois commented on #3752
@cjheppell Yes, it is because the local filesystem is just mounted into the container. It is not using an independent volume.

I just filed a PR (#10506) to add a `make case-sensitive-build-dir` target to automate this.

[2021-02-18 05:17] jandubois commented on #10504
Seems broken since https://github.com/kubernetes/minikube/pull/10462 has been merged.

[2021-02-18 06:23] nle93 commented on #10494
The issue was fixed by upgrading Docker Engineer to version 19.03

Steps to upgrade:
----- SET UP THE REPOSITORY -----
sudo apt-get update
sudo apt-get install \
    apt-transport-https \
    ca-certificates \
    curl \
    gnupg-agent \
    software-properties-common
curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
sudo apt-key fingerprint 0EBFCD88
sudo add-apt-reposi

[2021-02-18 06:23] #10494 closed

[2021-02-18 06:50] horseinthesky commented on #9869
@LordBertson While it is trying to create a cluster I see the minikube network in the list
[code]

iptables looks like this
[code]
Everything seems fine.

After minikube fails to create a cluster the network and the container are deleted.

[2021-02-18 08:04] LordBertson commented on #9869
@horseinthesky in that case I'd try the default: `docker system prune`, `minikube delete` and then `minikube start --driver=docker` . Then another question would be whether docker in general works. Say, can you start other docker containers, exec into them (`docker exec -it CONTAINER_ID /bin/bash`) and such?

I'd definitely consider uninstalling Minikube and installing from scratch, here I'd go fo

[2021-02-18 08:31] horseinthesky commented on #9869
@LordBertson I've tried all these steps but this doesn't help.
Docker works perfectly fine by itself. Running containers with no issues.

I've opened https://github.com/kubernetes/minikube/issues/10496 since it seems different issue.

[2021-02-18 09:08] jiefenghe commented on #9865
Then my understanding is to add a 50-minikube.preset file with `disable minikube-scheduled-stop.service` to disable it by default.

But since the suggested enable fix in `minikube/pkg/minikube/schedule/daemonize_windows.go` is only for windows. Do we need to enable the service in linux? Where is the code for that? Why the issue only exist for windows?

[2021-02-18 12:08] eddyjlhaigh commented on #10431
It is a duplicate, but I'd be keen to know when this will be fixed/implemented?

[2021-02-18 12:12] afbjorklund commented on #10431
Currently it is more a question of "if" (Chrome OS will allow for nested containers, or virtualization)

[2021-02-18 12:13] eddyjlhaigh commented on #6411
My work machine is a Pixelbook too, and just ran into this issue when starting a new project. I assume the number of people using Minikube while working on Pixelbooks is fairly small, but will this be looked into soon?

[2021-02-18 13:07] manpreet1994 commented on #10083
I had the same error.
In my case, issue was "docker info" had permission issue.

The following resolved the permission issue:-
https://stackoverflow.com/questions/48957195/how-to-fix-docker-got-permission-denied-issue

[2021-02-18 13:55] govargo commented on #10377
From error logs, I thought this was caused by minikube cluster(especially kube-apiserver)'s down.
Of cource, the tests after that were failed.
[code]

I think these tests will not success even though we increase max timeout.
Is there any room for us to do something?
Any ideas? (e.g. resource increase for test minikube cluster, force to fail serial tests if kube-apiserver was down)

[2021-02-18 13:56] govargo commented on #10376
Same as https://github.com/kubernetes/minikube/issues/10377#issuecomment-781360213

[2021-02-18 13:59] cglacet commented on #3106
I ran into the same error, probably a memory issue too:

[code]

[2021-02-18 14:52] govargo commented on #10139
This is because you must register the VolumeSnapshotClass `csi-hostpath-snapclass` manually.
https://kubernetes.io/docs/concepts/storage/volume-snapshot-classes/#the-volumesnapshotclass-resource

`volume-snapshot-controller` in `kube-system` output the following logs.

[code]

You can use snapshot and restore with following steps.

[code]

[code]

[2021-02-18 14:55] govargo commented on #10139
I'll update minikube tutorial docs for volume snapshot & restore.
https://minikube.sigs.k8s.io/docs/tutorials/volume_snapshots_and_csi/

/assign

[2021-02-18 14:59] frnhr commented on #5594
Same in 2021 on BigSur 😞

[code]

[2021-02-18 16:44] eddyjlhaigh commented on #10431
Looks like they suggest it was fixed in ChromeOS kernel 4.19

My system is running `Linux penguin 5.4.74-10576-gb6cc41974db3` so assuming ChromeOS Kernel Version == Linux penguin version, this should be fixed? In which case, could we re-open that issue? And if it's not, any idea on the release date of 4.19?

I'm wondering if I need to fork out for a Macbook to run this, or if I can carry on with m

[2021-02-18 16:45] eddyjlhaigh commented on #10431
Oh I'm sorry, for some reason I thought you worked for Google on containers but that was @tstromberg in the other issue! 😬

[2021-02-18 16:49] afbjorklund commented on #10431
I don't own any Pixelbook myself, but am using Raspberry Pi.

[2021-02-18 16:59] afbjorklund commented on #10505
Looks related to cgroups v2 (can you confirm?), so probably the same issue as: #10371

If indeed `--memory-swap` doesn't work anymore, we should make that flag conditional.

[2021-02-18 17:06] afbjorklund commented on #10505
Then the kubelet runs on the node, and there is no privileged node container.

The kubelet might have similar issues with restricting memory, haven't checked.

It's related to the Debian kernel having certain features disabled by default:

https://docs.docker.com/engine/install/linux-postinstall/#your-kernel-does-not-support-cgroup-swap-limit-capabilities

[2021-02-18 17:07] afbjorklund commented on #10371
Seems like it is now an error with Docker, like it was in Podman, so we should just avoid the flag. It was ignored, anyway...

WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory limited without swap.

[2021-02-18 18:22] tstromberg opened #10508 "v1.17.!: certificate apiserver-kubelet-client not signed by CA certificate ca: crypto/rsa: verification error"
1. Install minikube via gcloud
2. Run 'minikube start'

[code]

Note that the kubeadm stderr is being cutoff here.

I was able to get passed the issue by running `minikube delete`, but this is certainly indicative of a certificate propagation issue of some sort. Perhaps due to bad logic around stale data or related to time synchronization.

[2021-02-18 18:26] tstromberg commented on #10508
Attached are logs from the first run (BAD), second run after `minikube delete --all` (GOOD), and a diff between the two.

[minikube.GOOD.txt](https://github.com/kubernetes/minikube/files/6004980/minikube.GOOD.txt)
[minikube.BAD.txt](https://github.com/kubernetes/minikube/files/6004981/minikube.BAD.txt)
[minikube_BAD_GOOD.diff.txt](https://github.com/kubernetes/minikube/files/6004982/minikube_BAD_G

[2021-02-18 18:30] tstromberg commented on #10508
Ah hah! I figured out how to duplicate this error:

1. `minikube start`
2. `rm -Rf ~/.minikube`
3. `minikube start`

I suspect what happened is that another user on this machine started `minikube`, and the docker container is named in such a way that it isn't user-independent.

[2021-02-18 18:33] #10397 closed

[2021-02-18 18:39] EricoCartmanez commented on #6320
So to upgrade kubectl on mac:
`brew upgrade kubectl`

Then you 'll probably need: `  brew link --overwrite kubernetes-cli`

[2021-02-18 18:48] azhao155 commented on #10508
/assign @azhao155

[2021-02-18 19:17] medyagh commented on #10371
we need to check for cat /sys/fs/cgroup/memory/memory.limit_in_bytes
to not add memory limits ( I will add a PR for that)

[2021-02-18 20:18] afbjorklund commented on #10371
Pretty sure I misunderstood the settings, as well. Not specifiying swap means that you *want* swap...

https://thorsten-hans.com/limit-memory-for-docker-containers

As far as I know, memory.limit_in_bytes is available by default and it was memswap that was toggled ?

But I don't have a system to reproduce this, worked OK on Debian Sid.

[2021-02-18 20:26] afbjorklund commented on #10371
The current checks were explicitly only to check for the boot parameter of Debian/Ubuntu:

https://docs.docker.com/engine/install/linux-postinstall/#your-kernel-does-not-support-cgroup-swap-limit-capabilities

[code]

### cgroups v1

[code]

### cgroups v2

[code]

[2021-02-18 20:29] afbjorklund commented on #10371
Noticed a funky detail on podman, as well...

[code]

:boom:

[2021-02-18 20:42] afbjorklund commented on #10371
@medya : it seems like you didn't merge #10468 ? so there was no check in place, for cgroups v2 ?

[2021-02-18 21:11] tstromberg commented on #9227
This was released earlier this month.

[2021-02-18 21:11] #9227 closed

[2021-02-18 21:13] medyagh commented on #8008
I would accept a PR that adds this feature. with a warning to the end user that they will be taking full responsiblity for all security implications of allow minikube on remote.

[2021-02-18 21:13] priyawadhwa commented on #9565
Hi @andresb39 this issue has been silent for a few months, so I'm going to go ahead and close it. If you're still seeing this issue with the latest version of minikube, please reopen at any time!

Hola @ andresb39, este problema ha estado en silencio durante unos meses, así que continuaré y lo cerraré. Si sigues viendo este problema con la última versión de minikube, vuelve a abrir en cualquier mo

[2021-02-18 21:13] #9565 closed

[2021-02-18 21:14] priyawadhwa commented on #9677
closing now that we are automating kicbase release, https://github.com/kubernetes/minikube/pull/10408

[2021-02-18 21:14] #9677 closed

[2021-02-18 21:17] tstromberg commented on #9591
Sent a 1-liner PR to fix this.

[2021-02-18 21:18] priyawadhwa commented on #9418
I'm going to close this issue as a dupe of the following, so that we can centralize the discussion around these things there:

- https://github.com/kubernetes/minikube/issues/9228 (Build ISO minikube image for ARM , required for kvm)
- https://github.com/kubernetes/minikube/issues/9593 (Add architecture to the binaries and images in the cache) which will allow for arm kubernetes binaries

[2021-02-18 21:18] #9418 closed

[2021-02-18 21:18] medyagh commented on #8666
I haven't seen this in the Flake Chart recentlt

[2021-02-18 21:18] #8666 closed

[2021-02-18 21:19] prezha commented on #7772
@sadlil if you are still working on this, pls let us know, or we might mark this issue as frozen

[2021-02-18 21:21] medyagh commented on #8694
@vinu2003 I haven't heard any updates, this issue is available for anyone who likes to pick it up

[2021-02-18 21:23] #5398 closed

[2021-02-18 21:24] tstromberg commented on #5846
This now takes 0.17s.

[2021-02-18 21:24] #5846 closed

[2021-02-18 21:25] #9016 closed

[2021-02-18 21:27] medyagh commented on #9114
@hantsy do we still have this issue ?
please reopen if still happening

[2021-02-18 21:27] #9114 closed

[2021-02-18 21:31] medyagh commented on #9261
@priyawadhwa @sharifelgamal lets add a GCP windows to Performance bot

[2021-02-18 21:31] sharifelgamal commented on #9575
This works as long as you create and specify a virtual switch.

[2021-02-18 21:31] #9575 closed

[2021-02-18 21:32] ilya-zuyev commented on #9085
Going to close this issue. The minimum supported docker version is 18.9 and it does have `-a` arg for `cp` command

[2021-02-18 21:32] #9085 closed

[2021-02-18 21:32] spowelljr commented on #8257
Due to this I am closing this issue, feel free to respond/reopen if desired.

[2021-02-18 21:32] #8257 closed

[2021-02-18 21:34] tstromberg commented on #9458
I can confirm this is fixed in multi-node on v1.17.1.

[2021-02-18 21:34] #9458 closed

[2021-02-18 21:34] #7883 closed

[2021-02-18 21:35] sharifelgamal commented on #9581
Bumping up the priority of bad tests, we should fix this sooner rather than later.

[2021-02-18 21:35] #6861 closed

[2021-02-18 21:35] medyagh commented on #9268
as  @priyawadhwa noted I think this could be be available as extra-config , have u already tried that ?

I would also support a Pr that makes configures kubeadm to do structured logging by default.

[2021-02-18 21:36] tstromberg commented on #6861
Port 10250 (kubelet) will be unavailable if minikube is paused. We'll need to talk to the Skaffold folks to make it smarter on their end.

[2021-02-18 21:36] medyagh commented on #9268
I would accept a PR that enables structured logging for kubernetes inside minikube

[2021-02-18 21:37] sharifelgamal commented on #8333
Still an issue, I suspect.

[2021-02-18 21:37] prezha commented on #9305
@harryttd , @skyhisi i cannot reproduce the issue - it was probably fixed in the later minikube version (tested on current v1.17.1)

[2021-02-18 21:38] #8240 closed

[2021-02-18 21:38] sharifelgamal commented on #9305
I'll close this for now, please reopen if you're still seeing an issue with latest minikube.

[2021-02-18 21:38] #9305 closed

[2021-02-18 21:39] medyagh commented on #9555
@cezeno2s do u mind sharing more about your operating system `lsb_release -a`

[2021-02-18 21:40] tstromberg commented on #7463
This is still a thing.

[2021-02-18 21:41] #4635 closed

[2021-02-18 21:41] medyagh commented on #9555
@cezeno2s it seems like u are running ubuntu on virtualbox does it have a GUI ?

[2021-02-18 21:41] #9555 closed

[2021-02-18 21:42] tstromberg commented on #5020
This will be resolved by #8555

[2021-02-18 21:44] priyawadhwa commented on #6205
Hey @renich are you still interested in working on this?

[2021-02-18 21:45] spowelljr commented on #10174
Closing due to duplicate of #3574

[2021-02-18 21:45] #10174 closed

[2021-02-18 21:45] sharifelgamal commented on #4841
Yeah, we want to still do this.

[2021-02-18 21:47] priyawadhwa commented on #5617
This issue is open for anyone who is interested in taking it on!

[2021-02-18 21:48] medyagh commented on #3248
since latest version of minikube we disallow running the .exe binary in WSL, inside WLS plz use the Linux Binary

[2021-02-18 21:48] #3248 closed

[2021-02-18 21:48] priyawadhwa commented on #4322
Still an issue in minikube 1.17

[2021-02-18 21:48] medyagh commented on #3647
I would accept any PR that adds this feature

[2021-02-18 21:50] medyagh commented on #4109
I dont think this a big effort, and we could invest in this, if other kubernetes cli's go this route, we will do the same thing (kubectl,...)

[2021-02-18 21:50] #4109 closed

[2021-02-18 21:52] spowelljr commented on #9818
Just waiting for a CLA to be signed so this bug can be fixed.

[2021-02-18 21:52] medyagh commented on #6692
I would accept a PR that allows this as a --force option

[2021-02-18 21:53] priyawadhwa commented on #9460
Hey @fsladkey I think @sharifelgamal added some race condition fixes to the addon which should have fixed the error you're seeing.

 Could you test it with the latest version of minikube and let us know if you're still seeing this error?

[2021-02-18 21:54] sharifelgamal commented on #9595
VT-x is not available usually means that virtualization is not supported on your system, which either means you need to enable virtualization or, if you know what you're doing, skipping the check entirely by adding the `--no-vtx-check` paramter to your minikube start command.