[2020-02-25 00:23] medyagh commented on #6577
thank you @CrossBound  for trying new version and updating this issue,

indeed the docs needs to be udpated I wonder if that is the case only for windows or mac too ?

[2020-02-25 00:26] medyagh commented on #6788
I believe the mount is only for minikube HOME folder so that would be
~/.minikube not ~.

[2020-02-25 00:27] #6783 closed

[2020-02-25 01:05] medyagh commented on #6302
fixed by https://github.com/kubernetes/minikube/pull/6460

[2020-02-25 01:05] #6302 closed

[2020-02-25 07:10] afbjorklund commented on #6788
Mounting the (actual, real) home directory is a “feature” inherited from libmachine. Like most of Docker, it prefers convenience over security.

On Mac I think it was even worse, it mounted `/Users` (similar to `/home` on Linux). So not only $HOME, but **all** users’ homes...

[2020-02-25 08:22] gunalanbalakrishnan opened #6793 "Kubelet is not running or not healthy"
**The exact command to reproduce the issue**:

sudo kubeadm init --config=config.yaml

**The full output of the command that failed**:

 sudo kubeadm init --config=config.yaml
W0225 09:13:16.371517    8482 strict.go:54] error unmarshaling configuration schema.GroupVersionKind{Group:"kubeadm.k8s.io", Version:"v1beta2", Kind:"ClusterConfiguration"}: error unmarshaling JSON: while decoding JSON: json

[2020-02-25 08:27] JuliusTZM opened #6794 "Cannot start minikube & ssh returns error code 255"
**The exact command to reproduce the issue**:
minikube start --vm-driver kvm2 --alsologtostderr -v=8

**The full output of the command that failed**:<details>
% minikube start --vm-driver kvm2 --alsologtostderr -v=8
I0225 09:17:56.410540   12324 notify.go:125] Checking for updates...
I0225 09:17:56.738929   12324 start.go:249] hostinfo: {"hostname":"manjaro-laptop","uptime":5681,"bootTime":1582612

[2020-02-25 09:20] ChenRoth commented on #6523
is there any plan on having a newer tag for the fix? the alternative is to hack minikube into working :(

[2020-02-25 09:45] thobianchi opened #6795 "Fedora 31 vm-driver=podman fail to start trying to start docker service"
**The exact command to reproduce the issue**:
minikube --vm-driver=podman start

**The full output of the command that failed**:<details>
[root@thomas-work]~# minikube --vm-driver=podman start
😄  minikube v1.7.3 on Fedora 31
✨  Using the podman (experimental) driver based on user configuration
🔥  Creating Kubernetes in podman container with (CPUs=2), Memory=2000MB (15719MB available) ...

💣  Unabl

[2020-02-25 11:32] irizzant commented on #6430
ok @srntqn then I suppose I can close this because it's working for both of us.

Yes kubelet needs permission to perform basic operations with the API server and this is why the default authorization should always contain both Node and RBAC values.

[2020-02-25 11:32] #6430 closed

[2020-02-25 12:00] belvederef commented on #3760
The user VKR provided the full list of steps to make it work without sudo in this StackOverflow answer: https://stackoverflow.com/a/58557265/5663986

[2020-02-25 14:08] starbassma commented on #6788
Hello @medyagh
These are the the values of the default mount directory :

Linux
https://github.com/kubernetes/minikube/blob/946bdff626d1bb4467d3184fecc4724419a530fa/pkg/minikube/constants/constants_linux.go#L26

Darwin
https://github.com/kubernetes/minikube/blob/946bdff626d1bb4467d3184fecc4724419a530fa/pkg/minikube/constants/constants_darwin.go#L22

Windows
https://github.com/kubernetes/minikube/b

[2020-02-25 15:42] DevOpsFu commented on #6673
You're right - this must have been a transient issue on my side - I've tried again and it worked!

[2020-02-25 16:55] liyedan18 commented on #2707
I have a same problem of minikube start.
And I solved the problem with the following steps:
1、docker stop $(docker ps -a -q)
2、use --extra-config parameter of minikube start. like: minikube start --kubernetes-version=1.17.2 --vm-driver=none kubelet.ignore-preflight-errors kubeadm.ignore-preflight-errors

[2020-02-25 17:16] afbjorklund commented on #6788
About machine:

The defaulting mounting is only implemented for the VirtualBox driver, I believe (not KVM)

And it actually mounts `/home` on Linux too, I misremembered when I said it was only Mac.

https://github.com/docker/machine/blob/master/drivers/virtualbox/virtualbox_linux.go#L7

https://github.com/docker/machine/blob/master/drivers/virtualbox/virtualbox_darwin.go#L7

In minikube, the setti

[2020-02-25 17:40] afbjorklund commented on #6788
Wonder why it was not simply using homedir.HomeDir() on darwin too ? Is it broken somehow

@medyagh, what does homedir.HomeDir() return on your Mac ? Thought it was `getpwnam_r`

[2020-02-25 18:56] michaeljohn32 commented on #6577
@medyagh, in at least one previous version of minikube, it was _not necessary_ to put the cert in both ~/.minikube/files/... and ~/.minikube/certs.  I do not recall what version I had installed(I belive it was 1.6.0), but it used to work with just putting the certificate in the ~/.minkube/certs folder.  The documentation was correct. This is a regression.

[2020-02-25 20:18] blueelvis commented on #5579
/remove-lifecycle rotten

[2020-02-25 20:32] afbjorklund commented on #6795
The driver uses podman to create a fake VM, in this node there is another container runtime...

[2020-02-25 20:50] afbjorklund commented on #6766
@medyagh : note that the initial bug is with libmachine, it prints an uncommented string on stdout...

https://github.com/docker/machine/blob/master/libmachine/shell/shell.go#L17_L26

[code]

So even when `ErrUnknownShell` is handled in minikube, that first line will still ruin the `eval`:

[code]

Which basically means moving the `os.Getenv("SHELL")` to minikube.

And handle the unset ("") case,

[2020-02-25 21:05] afbjorklund commented on #6769
Kubernetes 1.7 is really old (and unsupported), did you mean `v1.17.3` perhaps ?

[2020-02-25 21:09] afbjorklund commented on #6793
Hi @gunalanbalakrishnan, this repository is for minikube - general kubeadm issues are elsewhere:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/

See https://github.com/kubernetes/kubeadm/issues

[2020-02-25 21:18] medyagh opened #6796 "Add docker driver integration tests on mac in jenkins"

[2020-02-25 21:34] joma74 commented on #4546
Still an issue under 1.6.1. Note that @medyagh dupe reference is a self reference to this very issue.
Any advice/workaround how to kick PV out appreciated.

[2020-02-25 21:52] afbjorklund opened #6798 "Running minikube on IBM (s390x, ppc64le), use cases"
There's been some requests for minikube binaries for kubernetes IBM Z/POWER platforms:

* [Linux on IBM Z](https://en.wikipedia.org/wiki/Linux_on_IBM_Z) (`s390x`)

* [Linux on POWER](https://en.wikipedia.org/w/index.php?title=Linux_on_Power) (`ppc64le`)

It would be nice with some more background information, how minikube is used there...

----

So far the main use case is running the `none` drive

[2020-02-25 22:09] afbjorklund opened #6799 "The extra github checks are failing all the time"
Seems like no matter **what** you do, you get a bunch of failing GitHub Actions ?

The first three are normal (build + lint + test), and the Travis three are normal (same)

But then we have a bunch of timeouts in the middle, and a bunch of website at the end.

This is somewhat misleading, and is causing **all** the minikube PRs to go "red" (❌)

![minikube-checks](https://user-images.githubusercont

[2020-02-25 22:11] afbjorklund commented on #3552
Any progress on this ?

[2020-02-25 22:22] starbassma commented on #6788
@afbjorklund

`homedir.HomeDir() ` returns the expected result (home directory of the OS user) ( tested under Darwin Kernel V 19.2.0)

[2020-02-25 22:55] medyagh opened #6800 "allow option for minikube to be insecurely listen other than 127.0.0.1"
minikube by default only listens on 127.0.0.1 (for docker, podman and none)

I have seen example of minikube being used in CI, they wanna be able to connect to minikube from outside network, while this is a very insecure behavior, I think we should allow it with a Warnning and if user is very sure they wanna do this.

[2020-02-25 23:59] medyagh opened #6801 "docker driver should display cpu and ram availabe to docker-machine not system"
docker system info --format '{{json .NCPU}}'
docker system info --format '{{json .MemTotal}}'

[2020-02-26 01:14] sushantkumar12 commented on #5938
The issue still not work for windows.. I first get the error as ..

C:\WINDOWS\system32>minikube start
* minikube v1.7.3 on Microsoft Windows 10 Home 10.0.18362 Build 18362
X Unable to determine a default driver to use. Try specifying --vm-driver, or see https://minikube.sigs.k8s.io/docs/start/

When I try running the below command

C:\WINDOWS\system32>minikube start --vm-driver=none
* minikube v1

[2020-02-26 02:07] medyagh opened #6802 "handle more error type for oci"
when docker is restarting ... and minikube starts we error this way:

"Error response from daemon: dial unix docker.raw.sock: connect: connection refused"

[code]

[2020-02-26 02:53] s709t commented on #6247
i'm getting this issue, it happen when you're using a windows machine to run minikube

[2020-02-26 02:57] halmai opened #6804 "delete: The process cannot access the file because it is being used by another process"
**The exact command to reproduce the issue**:
[code]
**The full output of the command that failed**:<details>
[code]
</details>

**The output of the `minikube logs` command**:<details>

[code]
</details>

**The operating system version**:

Microsoft Windows [Version 10.0.18362.592]

I hoped that creating a config.json file can solve the problem. I created one with 0 bytes which was simply deleted

[2020-02-26 04:28] halmai commented on #6804
Solution: the Hyper-V Manager locked the file. I stopped it and then I was able to delete everything I wanted.

[2020-02-26 05:10] kshdes commented on #6716
I see a similar issue on windows:

 minikube start --vm-driver=hyperv --force
* minikube v1.7.3 on Microsoft Windows 10 Enterprise 10.0.17763 Build 17763
* Using the hyperv driver based on user configuration
* Creating hyperv VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
*
X Unable to start VM. Please investigate and run 'minikube delete' if possible: **creating host: create host timed out in 120.0

[2020-02-26 05:40] d-yandrapu opened #6805 "minikube crashed. If this was unexpected"
Unable to start VM: create: Error creating machine: Error in driver during machine creation: hyperkit crashed! command line:
  hyperkit loglevel=3 console=ttyS0 console=tty0 noembed nomodeset norestore waitusb=10 systemd.legacy_systemd_cgroup_controller=yes random.trust_cpu=on hw_rng_model=virtio base host=minikube

[2020-02-26 05:47] zenbones commented on #6716
I actually run exactly the same containers under windows 10 with hyper v without any issues at all. I do think working these problems out is worthwhile because minikube has been a great product so far.

David Berkman

On Tue, Feb 25, 2020 at 9:10 PM -0800, "kshdes" <notifications@github.com> wrote:

I see a similar issue on windows:

minikube start --vm-driver=hyperv --force

minikube v1.7.3 on Mi

[2020-02-26 06:14] afbjorklund commented on #6679
Still old though (1.7.2)

[2020-02-26 06:17] afbjorklund commented on #6800
This option is very dangerous, and people have been getting owned in public cloud using similar defaults...

The long term plan should be to get people off the `none` driver - _especially_ when it comes to deployment ?

[2020-02-26 06:27] afbjorklund commented on #6801
Makes sense, we added a similar feature (but backwards) to show the localhost information for `none` instead of the VM configuration...

[2020-02-26 11:46] SaiBalaguru commented on #6631
I am facing the same issue. Someone please help!

[2020-02-26 16:27] Breederveld commented on #6683
I run Windows 10 and also running 1.7.x all fail, while 1.6.2 works fine.

[2020-02-26 16:48] cyrille-gachot commented on #6683
I confirm: 1.7.x fails while 1.6.2 work

[2020-02-26 17:25] medyagh commented on #6795
even though the driver is podman, the run-time is docker,

we recently added support for cri-o runtime (will be in next release)

I think it would be a good default behavior to set cri-o as default run time for podman. since they are built together.

[2020-02-26 18:58] #6796 closed

[2020-02-26 18:59] etanshaul opened #6808 "Minikibe status command in paused returns exit code 2"
Minikube version 1.7.3

`minikube status -p [myprofile] --output json` returns

`{"Host":"Running","Kubelet":"Stopped","APIServer":"Paused","Kubeconfig":"Configured"}`

Yet the exit code is `2`.

[2020-02-26 19:07] medyagh commented on #6805
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2020-02-26 19:09] tstromberg commented on #6576
Do you mind sharing the output of `minikube logs`?

This very much sounds like a networking/proxy type issue. You may want to check out: https://minikube.sigs.k8s.io/docs/reference/networking/proxy/

[2020-02-26 19:10] medyagh commented on #6721
@afbjorklund do we need this ?

@jyee I am curious have u tried the docker driver ? that one uses a different image.

[2020-02-26 19:11] #6579 closed

[2020-02-26 19:11] tstromberg commented on #6576
Also, this output would be handy:

`kubectl describe po -l k8s-app=kubernetes-dashboard -n kubernetes-dashboard`

[2020-02-26 19:12] medyagh commented on #6709
@jwuman  I belive that is a warrning for an addon, it might actually just work fine but warn about it could u please verify if there is anything broken other than warrnning ?

[2020-02-26 19:13] sharifelgamal commented on #6718
The vmwarefusion driver is deprecated, so we don't officially support it, I would suggest the [vmware](https://minikube.sigs.k8s.io/docs/reference/drivers/vmware/) driver instead.

To debug this particular issue, append `--alsologtostderr` to your `minikube start` command and paste the output here. It might be a tad verbose but it will be a lot more helpful.

[2020-02-26 19:14] medyagh commented on #6705
@xtxt do you mind trying with new minikube version 1.7.3 ?
and also could you try with docker driver ?

[2020-02-26 19:17] medyagh commented on #6689
@ulm0 it appears that minikube doesnt have support for that component (kube-proxy)'s extra option but I believe it can be added easily

if you think this option is important maybe we can make a PR for it ? or I would accept a PR to add this ?
what do you think ?

[2020-02-26 19:18] medyagh commented on #6653
@vinaychaudharyofficial I wonder if the livirt is in the right user group ? could you check on the kvm docs ? or try to re-install libvirt (not just kvm)

[2020-02-26 19:19] medyagh commented on #6653
cc @josedonizetti

[2020-02-26 19:20] medyagh commented on #6649
@sarthak8081 it seems like your system has a different cgroup for none driver,

is there any reason not to use docker driver instead of none ?

[2020-02-26 19:22] sharifelgamal commented on #6782
yeah integration tests in github actions is still work in progress, we also have some consistently failing tests that need to get fixed before trusting them.

[2020-02-26 19:22] priyawadhwa commented on #6195
Hey @cmdedj, 你可以尝试

[code]

请让我知道这是否有效

[2020-02-26 19:22] jyee commented on #6721
@medyagh

Yes setting `--vm-driver=docker` works (as does running the Docker-Desktop version of K8s).

I've had other issues with the Docker VM, so it's a tradeoff. As I see it, the Minikube VM is the standard (vs other VMs), so adding this in will be helpful for anyone developing with or testing on Minikube.

[2020-02-26 19:24] tstromberg commented on #6584
I see that the ingress nginx is running:

[code]

Is the service supposed to be running by default?

Were you following the instructions from https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/

[2020-02-26 19:25] medyagh commented on #6613
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2020-02-26 19:26] medyagh commented on #6601
cc @blueelvis

[2020-02-26 19:26] tstromberg commented on #6596
There appears to be a certificate mismatch for unknown reasons. Can you try running `minikube delete` to see if it fixes it?

[2020-02-26 19:27] medyagh commented on #6585
@mhintzke  in 1.7.3 we added a feature to auto create virtual switches. do you mind trying with 1.7.3 ?

[2020-02-26 19:27] #6648 closed

[2020-02-26 19:29] priyawadhwa commented on #6123
Hey @gitsilos sorry to hear that. I'll go ahead and close this issue if you're no longer using minikube. If you ever decide to try minikube again, please reopen at any time by commenting `/reopen` on this thread.

[2020-02-26 19:29] #6123 closed

[2020-02-26 19:30] tstromberg commented on #6704
Do you mind checking if this happens with the latest version of minikube (v1.7.3)?

[2020-02-26 19:30] sharifelgamal commented on #6666
This looks like it might be a bug in VirtualBox, could you try upgrading to the latest version and seeing if that helps?

[2020-02-26 19:30] medyagh commented on #3129
@bodom0015 thank you for updating this issue, I am curious if this issue still exist in 1.7.3 ? we have done some changes to the addon system since then

[2020-02-26 19:31] tstromberg commented on #6704
If it does,  please include the output of `minikube logs`

[2020-02-26 19:34] sharifelgamal commented on #6518
We install kubectl because we need it for the addon manager.

[2020-02-26 19:35] medyagh commented on #6389
@ailsonfds currently we only allow extra config for a specific set of components
if you think this is important, it would be easy to make a PR to add that component as well..

I would accept any PR that would implement it.

[2020-02-26 19:37] medyagh commented on #6401
glad u fixed this issue

[2020-02-26 19:37] #6401 closed

[2020-02-26 19:38] sharifelgamal commented on #6590
This definitely seems like a regression introduced in 1.7.x. I want to investigate this further.

[2020-02-26 19:41] priyawadhwa commented on #6775
Hey @uday1kiran thanks for opening this issue. We could use some more information to help debug it. Could you please provide the full output of:

[code]

Thanks you!

[2020-02-26 19:41] tstromberg commented on #6716
I don't yet have a good feeling for what might be going on  here.

Just curious,  does `--vm-driver=docker`  work successfully on this machine?

[2020-02-26 19:42] medyagh commented on #6721
@jyee thats fair ! I would accept any PR to add that to our ISO

[2020-02-26 19:43] priyawadhwa commented on #6771
Hey @alewis001 you can set the memory in the global config via:

[code]

and it will be automatically applied.

You can find a list of all configurable settings [here](https://minikube.sigs.k8s.io/docs/reference/commands/config/).

Does this resolve your issue?

[2020-02-26 19:44] medyagh commented on #6721
here is the link how to add kernel modules to our ISO
https://minikube.sigs.k8s.io/docs/contributing/iso/#adding-kernel-modules

btw I am curious do you mind sharing what issues you have with docker driver that you prefer VM ?

[2020-02-26 19:44] medyagh commented on #6785
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2020-02-26 19:45] medyagh commented on #6729
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2020-02-26 19:45] tstromberg commented on #6804
That sounds reasonable. If you or anyone else wants to add a solution message to be displayed for this error, please add an entry here:

https://github.com/kubernetes/minikube/blob/f77e942e590d21baf63ebe28d01a68c9fac9b612/pkg/minikube/problem/err_map.go#L112

[2020-02-26 19:47] medyagh commented on #6766
thanks for that finding ! yes I agree the problem is with the libmachine

[2020-02-26 19:49] tstromberg commented on #6800
I'm a bit iffy on this feature as well. If someone really wants to do this, they can use an ssh tunnel.

[2020-02-26 19:50] CrossBound commented on #6352
Not sure if this was resolved or not but I've got the same issue.

minikube version: v1.7.3
commit: 436667c819c324e35d7e839f8116b968a2d0a3ff

[code]

[code]

[2020-02-26 19:52] priyawadhwa commented on #6683
I just merged #6701 which may fix this issue. Could you please try with `minikube.exe` built at that PR? The binaries should be available from the github action of that PR [here](https://github.com/kubernetes/minikube/suites/471575560/artifacts/2067469)

Please comment here if that does or doesn't resolve the bug.

[2020-02-26 19:52] tstromberg commented on #6808
This is by design, as the error codes are used to convey state. In this case, 2 conveys that the apiserver can't be reached.

I'll admit, it's an unusual design choice, one that predates the JSON output. Any suggestions on how we should handle this?

[2020-02-26 19:52] medyagh commented on #6229
@billcrook sorry for the dead motherboard :(

[2020-02-26 19:52] medyagh commented on #6229
@billcrook If you dont mind I will close this issue and if you can recreate it again , please feel free to re-open

[2020-02-26 19:52] #6229 closed

[2020-02-26 19:54] priyawadhwa commented on #5999
Hey @drmason13 any update here?

[2020-02-26 19:54] medyagh commented on #6799
I agree it is a bit confusing, to do linting twice, I think till we solidify our tests, it helps sometimes to see if somehting is a flake or if it fails in both.

[2020-02-26 19:54] tstromberg commented on #6676
I tried to replicate this:

[code]

I can  however see that the apiserver does have the correct flags set on the command-line:

[code]

Do you mind sharing the output of `minikube start` and your `ps -afe | grep apiserver` output?

[2020-02-26 19:56] etanshaul commented on #6808
interesting. As a consumer of this, I would have expected 0 for successful status outputs - regardless of the state of the cluster - and some other appropriate error code for cases where the status fails to output.

Thinking from the perspective of clients that are driving Minikube programmatically, it makes it a bit easier to determine success vs failure of the command execution. Most if this cas

[2020-02-26 19:58] irizzant commented on #6584
The nginx controller is running which is fine and the expected behaviour.

What is missing is the Nginx Kubernetes Service with type NodePort which allows external requests to be routed to the Nginx controller.

[2020-02-26 19:58] etanshaul commented on #6808
its also interesting that you are outputting status code 2 for my example, yet the host is running. So the choice of which status to expose into the process code feels a bit arbitrary.

[2020-02-26 19:58] #5832 closed

[2020-02-26 19:59] sharifelgamal commented on #6770
I was able to reproduce this on 1.7.3. Thanks for reporting it! I'll take a closer look.

[2020-02-26 20:00] tstromberg commented on #6024
My preference would still be to make `start` super-fast rather than adding another option. That way it's solved for everyone.

What platform are you seeing 2-minute starts on?

I get 30 seconds on my machine, which is admittedly 29 seconds too long.

[2020-02-26 20:05] tstromberg commented on #6192
You will need to turn off the dnscrypt service:

https://minikube.sigs.k8s.io/docs/reference/drivers/hyperkit/#Issues

Alternatively, you can use `--vm-driver=docker`.

[2020-02-26 20:05] #6192 closed

[2020-02-26 20:06] tstromberg commented on #6288
Do you mind trying with minikube v1.7.3? Please run `minikube delete` first to delete the old state.

I'm pretty sure we fixed the issue of Hyper-V trying to use IPv6 inside the VM.

[2020-02-26 20:07] tstromberg commented on #6384
`minikube logs` would help here, but I do first suggest upgrading to minikube v1.7.3 and running `minikube delete` to remove the old state. Please let me know how it works out!

[2020-02-26 20:09] tstromberg commented on #6680
This appears to be due to #6559 - now fixed in the latest version of minikube.

[2020-02-26 20:09] #6680 closed

[2020-02-26 20:10] tstromberg commented on #6728
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

* What platform are you on?
* What was the full output of `minikube delete`?
* What version of minikube are you using?

Thanks!

[2020-02-26 20:11] tstromberg commented on #6732
Try running `minikube start` as an administrator, and see if it fixes your issue. If not, can you share the full output of `minikube start --alsologtostderr -v=1`? Thanks!

[2020-02-26 20:12] tstromberg commented on #6132
I wasn't able to replicate this outside of China. It was slow from the US, but eventually worked:

[code]

[2020-02-26 20:22] CrossBound commented on #6577
I might also add that I'm confused about the purpose of merge #5015 if you still have to go the other route, seems pointless if it doesn't really solve the problem.

[2020-02-26 20:38] uc-msft commented on #6683
This fixes only the timeout case. The hyperv feature name check needs to be modified too since on Windows Server 2019 there is no feature "Microsoft-Hyper-V-All" - I don't see it in the list of features even though I have hyper-v enabled and running fine.

[2020-02-26 20:47] adammil2000 commented on #3522
I am having the same problem using Kubernetes on minikube. The CPU is cycling up to 100% as the apiserver is cycling between status Running, Error, and Stopped. I have allocated 16GB and 4 CPUs to Docker and changing this up and down doesn't affect the problem. I can't even run the kubectl get pods command without getting back one of these two errors, seems to depend on the state of apiserver at t

[2020-02-26 20:47] #6801 closed

[2020-02-26 21:26] josedonizetti opened #6809 "kic: minikube tunnel won't work if a node reuses an ip existing on ~/.ssh/known_hosts"
The PR that removed the need to ask permission when creating the ssh tunnel, created a side effect. If the user created a cluster before, and docker used the same IP for that container, the new cluster won't be able to create the tunnel.

[2020-02-26 22:37] GavinOsborn commented on #6590
I don't know if it would make a difference but we all tests were done using the `brew` installer.

[2020-02-27 00:11] ulm0 commented on #6689
Sure, i'll be glad to help on this feature. I just need some pointers on how-to.

[2020-02-27 01:47] wushuzh commented on #6352
No, there is no response or suggestion for this issue.

@medyagh is it possible to give us some help on this issue ?

[2020-02-27 02:20] devopseze opened #6812 "virtualbox: vboxdrv kernel module is not loaded"
Creating virtualbox VM (CPUs=2, Memory=2048MB, Disk=20000MB) ...

!   Unable to start VM: create: precreate: We support Virtualbox starting with version 5. Your VirtualBox install is "WARNING: The vboxdrv kernel module is not loaded. Either there is no module\n         available for the current kernel (4.15.0-1057-aws) or it failed to\n         load. Please recompile the kernel module and install

[2020-02-27 06:02] lmurali89 commented on #6579
I Am stuck here. Someone please help.

PS C:\WINDOWS\system32> minikube start --vm-driver hyperv --hyperv-virtual-switch "MiniKube Switch" --force
* minikube v1.7.3 on Microsoft Windows 10 Pro 10.0.18363 Build 18363
* Using the hyperv driver based on user configuration

! 'hyperv' driver reported an issue: C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe Get-WindowsOptionalFeature -Featur

[2020-02-27 06:04] lmurali89 commented on #6335
Someone please help. i am facing below issue.

PS C:\WINDOWS\system32> minikube start --vm-driver hyperv --hyperv-virtual-switch "MiniKube Switch" --force
* minikube v1.7.3 on Microsoft Windows 10 Pro 10.0.18363 Build 18363
* Using the hyperv driver based on user configuration

! 'hyperv' driver reported an issue: C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe Get-WindowsOptionalFeature

[2020-02-27 06:11] lmurali89 commented on #5884
@KarthikReddy12345  : I am using a 4gb RAM . Is that the problem?  If yes, may i know how much to allocate?

I went into HyperV and have created a virtual switch with MiniKube name and it has got assigned with 1536 MB of RAM

[2020-02-27 06:19] RA489 commented on #6812
@devopseze  If you don't mind, could you please provide:
The exact command-lines used, so that we may replicate the issue
The full output of the command that failed
The full output of the "minikube logs" command
Which operating system version was used

[2020-02-27 06:21] lmurali89 commented on #3854
@tstromberg : I did it instead of @dr3x  please help me to resolve the issue

C:\WINDOWS\system32>minikube start --vm-driver=hyperv --alsologtostderr -v=9
W0227 11:49:42.665216   10328 root.go:242] Error reading config file at C:\Users\Hp\.minikube\config\config.json: open C:\Users\Hp\.minikube\config\config.json: The system cannot find the file specified.
I0227 11:49:42.679220   10328 notify.go:1

[2020-02-27 06:26] RA489 commented on #6804
/assign

[2020-02-27 06:47] lmurali89 commented on #5884
@KarthikReddy12345 :

![image](https://user-images.githubusercontent.com/47178491/75419079-0a6c7f00-595b-11ea-83fb-a2b680cf5ccb.png)

[2020-02-27 07:04] lmurali89 opened #6814 "Minikube status shows me error"
I tried to check my minikube status and i got the error as shown below.

C:\WINDOWS\system32>minikube status
E0227 12:31:23.986692   11016 status.go:95] status error: host: load: filestore "minikube": open C:\Users\Hp\.minikube\machines\minikube\config.json: The system cannot find the file specified.
E0227 12:31:23.991691   11016 status.go:98] The "minikube" cluster does not exist!
host: Nonexiste

[2020-02-27 07:44] MykytaLiubshin commented on #927
THANK YOU
FIXED IT FOR ME

[2020-02-27 09:13] RubenAtPA commented on #6024
I do agree that an extra option wouldn't be the better solution, however with the command `update-context` it will already reconfigure the kube config file with a newly assigned ip, so it would be quite straight forward if the certificates are updated too since they are bound to the ip address in question.

Regarding the start-up time. I work on a very recent laptop with a Core i5 8365U (4 core/8

[2020-02-27 10:34] lesovsky opened #6818 "documentation: note that RBAC is disabled by default"
**minikube start --extra-config=apiserver.authorization-mode=RBAC**:

**The full output of the command that failed**:<details>
😄  minikube v1.7.2 on Ubuntu 19.04
✨  Automatically selected the kvm2 driver. Other choices: none, docker (experimental)
🔥  Creating kvm2 VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🐳  Preparing Kubernetes v1.17.2 on Docker 19.03.5 ...
    ▪ apiserver.authorization-mode=R

[2020-02-27 10:58] favas0 opened #6819 "none: apiserver-kubelet-client not signed by CA certificate ca: crypto/rsa: verification error"
i have tried purging configs file of kube* and fresh installation of minikube however i am not able to start a cluster.

~# minikube start --container-runtime=docker --vm-driver=none
🎉  minikube 1.7.3 is available! Download it: https://github.com/kubernetes/minikube/releases/tag/v1.7.3
💡  To disable this notice, run: 'minikube config set WantUpdateNotification false'

🙄  minikube v1.7.2 on Ubuntu

[2020-02-27 11:43] KarthikReddy12345 commented on #5884
Hi @lmurali89
There is a network communication problem. In the Hyperv > Minikube Switch network should be By default. please open settings of that minikube switch and in network select default switch. Please have a look in to the below image.
![image](https://user-images.git
![Hyperv](https://user-images.githubusercontent.com/44870721/75441856-6c8daa00-5984-11ea-932a-b3a730797f0b.JPG)
hubuserconte

[2020-02-27 12:11] lmurali89 commented on #5884
I had it changed and even after that, it is same. Also do you notice that kubectl error. May i know why is that coming?

![image](https://user-images.githubusercontent.com/47178491/75443841-47029f80-5988-11ea-9963-65c43d96ffef.png)

[2020-02-27 12:21] ailsonfds commented on #6389
I see...

I wasn't aware that this option wasn't available.

Thanks for the suggestion.

[2020-02-27 12:25] klicki commented on #6716
I'm having the same issue. Running VM Workstation. Trying to install minikube v.1.17.3 inside a Ubuntu 18.04 VM with kvm2 driver (nested=1 is set). Same result: 120sec SSH timeout.

[2020-02-27 12:28] achyutjhunjhunwala commented on #4167
/remove-lifecycle stale

[2020-02-27 15:17] hiyelbaz commented on #6716
Downgrading minikube version is a workaround.

[2020-02-27 15:29] brettplarson commented on #6716
I think i'm having this same issue.

[2020-02-27 15:36] klicki commented on #6716
This seems to be a new "feature" of v1.17.3 from Feb 20th. Going back to v1.17.2 solves the issue.

[2020-02-27 15:55] balopat opened #6820 "docker: Detect potential DiskPressure issue (docker system prune)"
I was running a docker driver / docker runtime node for a couple of days

Node details:
<details>

[code]

</details>

And somehow I got into this state where an offending taint appeared somehow...that doesn't let me deploy anything to the cluster. The pods are `PENDING` state and the pod events show the taint:

[code]

I'm not confident that I can reproduce this and haven't put the effort to repr

[2020-02-27 16:01] balopat commented on #6820
Additional info:

[code]
Did not help. same state, In fact, restarting caused some issue with the IP (minikube docker-env command) that was working before:

[code]

Maybe this is worth to open a separate bug for.

[code]

[2020-02-27 16:04] balopat commented on #6820
`minikube stop` and `minikube start` did not help either. I will keep this node around for debugging when I'm back to SF. But I think only deleting it would help at this point.

[2020-02-27 16:08] balopat opened #6821 "Default vmdriver selection on existing node shouldn't override existing driver"
I would expect minikube to just simply start an existing minikube cluster by:

[code]

However this is not the case when the _default_ vm driver is different from the vmdriver of the node, I saw this error message when restarting my existing docker2 node.

[code]

[2020-02-27 16:11] antonovicha commented on #3207
Since issue is marked as stale my solution was is to end up with microk8s in VBox. Works like a charm, no abnormal CPU consumption.

[2020-02-27 16:13] balopat opened #6822 "all sorts of startup issues with apiserver & kubelet"
**The exact command to reproduce the issue**:

`minikube start -p docker2`

**The full output of the command that failed**:<details>

minikube start -p docker2 --vm-driver=docker                                                        479ms  Thu Feb 27 11:06:03 2020
😄  [docker2] minikube v1.7.3 on Darwin 10.15.3
✨  Using the docker (experimental) driver based on user configuration
👍  Kubernetes 1.

[2020-02-27 16:15] drmason13 commented on #5999
running `minikube start` again I got:

[code]

Deleted that and tried another time.. same result. I don't appear to be able to reproduce my original issue.

[2020-02-27 16:18] balopat commented on #6822
FYI I think this cluster might have been an `invalid profile` (btw when is a profile invalid?)

[2020-02-27 16:21] rhyek commented on #3207
I went with KinD (kubernetes in docker). Highly recommended as it works well on either linux and macos (haven't tested windows, although it is supported). Bonus is you can use it for CI/CD as well.

[2020-02-27 16:37] mitchej123 commented on #3207
Similar story here, I went with microk8s or docker-for-mac, they don't have the high resting CPU usage.

[2020-02-27 16:42] sharifelgamal commented on #3207
/lifecycle frozen

[2020-02-27 17:05] mirind4 commented on #5635
@phirmware It indeed solves the issue, but it is so irritating that I have to do it frequently. Something is fishy...

[2020-02-27 17:38] jbcripe68 commented on #6640
I am having the same problem with v1.7.3.  When I do a systemInfo I get two Hyper-V network cards:

PS C:\WINDOWS\system32> systeminfo

Host Name:                 DESKTOP-C1H04CG
OS Name:                   Microsoft Windows 10 Enterprise
...
Network Card(s):           5 NIC(s) Installed.
                           [01]: Zscaler Network Adapter 1.0.2.0
                                 Connection Na

[2020-02-27 18:00] afbjorklund commented on #6799
The check duplication is not the biggest issue, it's those failing 6 checks... Seems like **all** PR's are 11/17, for this particular reason ?

* CI / docker_ubuntu_16_04 (pull_request) Failing after 42m
* CI / docker_ubuntu_18_04 (pull_request) Failing after 46m
* CI / none_ubuntu16_04 (pull_request) Failing after 10m
* CI / none_ubuntu18_04 (pull_request) Failing after 10m
* CI / podman_ubuntu_1

[2020-02-27 18:05] jbcripe68 commented on #6640
I also notice if I run the failing command it works:

PS C:\WINDOWS\system32> minikube start --vm-driver hyperv
! minikube v1.7.3 on Microsoft Windows 10 Enterprise 10.0.18362 Build 18362
* Using the hyperv driver based on user configuration

! 'hyperv' driver reported an issue: C:\WINDOWS\System32\WindowsPowerShell\v1.0\powershell.exe **Get-WindowsOptionalFeature -FeatureName Microsoft-Hyper-V-Al

[2020-02-27 18:35] alexia19apl opened #6823 "Error After issue command "minikube start""
**minikube start**:

*** minikube v1.7.3 on Ubuntu 16.04
  - KUBECONFIG=/etc/kubernetes/admin.conf
* Using the kvm2 driver based on user configuration
* Reconfiguring existing host ...
* Using the running kvm2 "minikube" VM ...
* Preparing Kubernetes v1.17.3 on Docker 19.03.6 ...
*
X Failed to setup kubeconfig: writing kubeconfig: Error writing file /etc/kubernetes/admin.conf: writefile failed for

[2020-02-27 18:52] balopat opened #6824 "Minikube (re)start on docker driver breaks docker-env"
[code]
Restarting caused some issue with the IP (minikube docker-env command) that was working before - this is a skaffold log output:

[code]

[code]

_Originally posted by @balopat in https://github.com/kubernetes/minikube/issues/6820#issuecomment-592036441_

[2020-02-27 18:53] etanshaul opened #6825 "docker: mkdir /var/lib/docker/volumes/[my-profile]: read-only file system"
I ran into this error on OSX.

From offline chat with @medyagh we concluded it was a Docker issue, and a restart of Docker resolved the issue.

Opening this issue to formally track improving Minikube's output message to better guide the user (e.g. suggest a restart of Docker).

[code]

[2020-02-27 19:01] starbassma commented on #6823
Hello,
 try :
[code]

Regards,

[2020-02-27 19:13] tstromberg commented on #6821
This is definitely not the intent, and likely a v1.7 regression.

[2020-02-27 20:42] CodingSpiderFox opened #6826 "Try to preserve IP addresses of containers between system reboots"
**The exact command to reproduce the issue**:
Yesterday, I started a local nextcloud playground on my minikube setup (vm-driver=none)
I launched it using the following command

`helm install nextcloud stable/nextcloud --set nextcloud.host=172.17.0.4`

Everything worked nice until I rebooted my machine.

After reboot, I started minikube again

`sudo minikube start --vm-driver=none`

But then the ne

[2020-02-27 22:49] wstrange commented on #3207
FWIW, recent versions of minikube are much better. Idle CPU on my mac with Hyperkit is about 1/3 of a CPU (33%).
I think the major culprit was the add on manager, which has been removed in 1.7.x

[2020-02-28 01:21] #6809 closed

[2020-02-28 06:17] amanhigh commented on #6709
I am getting same error and once this warning appears minikube dashboard doesn't start.

For me
`minikube starts` working fine. I have no extra config.

When i try to use Dynamic Tokens using I get same error.
minikube start --extra-config=apiserver.service-account-issuer=api --extra-config=apiserver.service-account-signing-key-file=/var/lib/minikube/certs/apiserver.key --extra-config=apiserver.se

[2020-02-28 07:14] maistrotoad commented on #5636
I am using minikube v1.7.3 on Ubuntu 19.10 and I am trying to figure out a way to run minikube offline using VM driver none. But I run into this error:
Unable to get VM IP address: no default routes found in "/proc/net/route" or "/proc/net/ipv6_route"

I have tried to use --extra-config=apiserver.advertise-address=127.0.0.1 but this doesn't change the situation

[2020-02-28 07:31] amanhigh commented on #6709
For me this got solved as i was providing wrong Public Private Keys.

Adding Flags `--extra-config="apiserver.service-account-key-file=/var/lib/minikube/certs/sa.pub" --extra-config="apiserver.service-account-signing-key-file=/var/lib/minikube/certs/sa.key"` Solved the issue.

New Working Command
`minikube start --extra-config="apiserver.service-account-api-audiences=api" --extra-config="apiserver

[2020-02-28 08:32] matsch01 commented on #2607
This doesn't work for me. I start minikube like this:

minikube start --docker-opt bip=172.18.0.1/16

I get the following output:

😄  minikube v1.7.3 on Darwin 10.15.3
✨  Using the hyperkit driver based on existing profile
⌛  Reconfiguring existing host ...
🔄  Starting existing hyperkit VM for "minikube" ...
🐳  Preparing Kubernetes v1.17.3 on Docker 19.03.6 ...
    ▪ opt bip=172.18.0.1/16
🚀  Launc

[2020-02-28 09:49] matsch01 opened #6827 "Using --docker-opt bip=172.18.0.1/16 does not change docker0 subnet."
The exact command to reproduce the issue:

minikube start --docker-opt bip=172.18.0.1/16

I get the following output:

😄 minikube v1.7.3 on Darwin 10.15.3
✨ Using the hyperkit driver based on existing profile
⌛ Reconfiguring existing host ...
🔄 Starting existing hyperkit VM for "minikube" ...
🐳 Preparing Kubernetes v1.17.3 on Docker 19.03.6 ...
▪ opt bip=172.18.0.1/16
🚀 Launching Kubernetes ...
🌟

[2020-02-28 10:13] matsch01 commented on #6827
I re-tested. Running minikube delete and then starting again with --docker-opt bip=172.18.0.1/16 worked.

[2020-02-28 10:13] #6827 closed

[2020-02-28 11:55] kristoflemmens commented on #6577
I have the same problem. Did some tests and it worked in version 1.6.2 and stopped working in version 1.7.0

[2020-02-28 14:15] timramone commented on #6631
Have the same issue :(

[2020-02-28 14:24] josedonizetti commented on #6687
@medyagh is this a dup from https://github.com/kubernetes/minikube/issues/6778? or something else?

[2020-02-28 14:40] hamdan-Deb commented on #1043
sudo minikube stop
sudo minikube delete
sudo docker stop $(docker ps -aq)
sudo rm -r ~/.kube ~/.minikube
sudo rm /usr/local/bin/localkube /usr/local/bin/minikube
systemctl stop '*kubelet*.mount'
sudo rm -rf /etc/kubernetes/
docker system prune -af --volumes

*Note: this also nukes all your current docker data!*
-------------------------------------------------------------------------------------

[2020-02-28 15:26] adirks-ata commented on #6079
I had the same issues on Mac OS, though resolved it by simply updating Docker (since I had skipped multiple updates in the past).

[2020-02-28 16:11] antonilic commented on #6716
Hi all,
I am experiencing the same issue on Ubuntu 16.04, using both kvm2 and virtualbox driver.
The version of minikube I am using is v1.7.3.

Here the log lines:

* Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
*
X Unable to start VM. Please investigate and run 'minikube delete' if possible: creating host: create host timed out in 120.000000 seconds
*
* minikube is exiting due

[2020-02-28 16:46] josedonizetti opened #6829 "fix `minikube service list` for docker on mac os"
`mikube service list`

[code]

We need to remove the `not implemented` warning, and the URL must be empty, because we only expose it if the `./minikube service` is running, so it would be misleading to display `127.0.0.1:XXXX` if it won't work without calling the service cmd.

[2020-02-28 17:05] #6778 closed

[2020-02-28 17:05] #6687 closed

[2020-02-28 17:08] #6749 closed

[2020-02-28 17:21] #6767 closed

[2020-02-28 18:27] sharifelgamal opened #6831 "Add conformance tests for k8s 1.17"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-02-28 18:45] medyagh commented on #6782
The reason that build is duplicated between travis and github aciton is, I needed the binary to use in github actions integeation tests , best would be just build it in github and use it there.

in github actions we get free integration tests, but we have a ""The End Result Block" for each integration tests, if you just unfold it u will see exact integration tests

it used to be 20s of failures, n

[2020-02-28 19:01] medyagh commented on #6818
@lesovsky we recently merged a PR to improve the rbac, I believe it is not in 1.7.3 release yet bu tI am curious,

if this binary from the master would fix your issue ?
do you mind try this binary ?
https://github.com/kubernetes/minikube/suites/479659808/artifacts/2201497

[2020-02-28 19:04] medyagh commented on #6818
also in minikube by default we create an RBAC I wonder if your extra option is needed ?

https://github.com/kubernetes/minikube/blob/master/pkg/minikube/bootstrapper/kubeadm/kubeadm.go#L507

[2020-02-28 20:00] josedonizetti opened #6832 "kic: fix tunnel can't bind to ports for docker on OSX"
The existing integration test for tunnel are not passing for the kic/docker on mac because the test create a service on port 80, which is unprivileged, we need sudo to be able to create a ssh tunnel for it.

Considering that tunnel asks for `sudo` for all other drivers, we can do the same for kic/docker on osx.

[2020-02-28 20:12] #6829 closed

[2020-02-28 20:21] josedonizetti opened #6834 "fix tunnel cleanup to remove load balancer service external-ip"
If a tunnel process get killed, the services still have the external-ip address set.

[code]

minikube tunnel supports a cleanup flag `minikube tunnel -c`, that cleanup routing table, etc, but not the external ip on the service, we should change it to also cleanup the external-ip.

[2020-02-28 21:56] #6832 closed

[2020-02-28 22:14] peterjhart commented on #4756
I got this error when I mistyped my start command 🤦🏼‍♂️

[2020-02-29 01:54] byrontuckett commented on #6579
running into this all morning - ended up having to:
[code]

Still received the message about Hyper-V, but all tasks finished and I was able to create a deployment.

[2020-02-29 02:55] zenbones commented on #6716
On kilicki's suggestion I rolled back a version, from minikube 1.7.3 which uses kubernetes 1.17.3 to minikube 1.7.2 which uses kubernetes 1.17.2 (I assume those are the versions suggested), to no avail. Same issue, ssh times out.

[2020-02-29 05:54] ajaykatke2005 opened #6838 "Error"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-02-29 07:26] lesovsky commented on #6818
This binary fails to start too.

I supposed that RBAC is disabled by default in minikube, because in the [official documentation](https://kubernetes.io/docs/setup/learning-environment/minikube/) I saw a note about how to enable RBAC explicitly:

Now I checked RBAC with `kubectl api-versions` command, make sure RBAC is enabled by default and my tasks related to RBAC work as expected, so I don't nee

[2020-02-29 09:46] shahbaz-aslam2 commented on #5715
minikube v1.7.3 on Ubuntu 18.04
💣  Unable to load config: stat: stat /home/shahbaz/.minikube/profiles/minikube/config.json: permission denied

[2020-02-29 11:02] afbjorklund commented on #5823
Think this is OK now, it's mainly containerd-bin/crio-bin and runc-master that are still "wrong".

[2020-02-29 11:02] #5823 closed

[2020-02-29 11:03] #5822 closed

[2020-02-29 11:47] afbjorklund opened #6840 "nslookup: command not found"
The dnsutils `nslookup` command might not be installed by default in all Linux distributions.

[code]

`⚠️  Node may be unable to resolve external DNS records`

We could fallback to using the `host` command, in order to check if lookup is working properly ?

[code]

There also seem to be an issue with parameter order, with the current test:

[code]

That is, it is still doing a regular lookup (the

[2020-02-29 11:51] afbjorklund commented on #6840
@medyagh : do you remember why `ns` was added ?

83374f4371e9612babba56109a83204b95283cc4

38a4a4ab8b1e31ba4e58cb75067fe0341db07353

[2020-02-29 12:06] klicki commented on #6716
My working set:

$ cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=18.04
DISTRIB_CODENAME=bionic
DISTRIB_DESCRIPTION="Ubuntu 18.04.4 LTS"
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", BuildDate:"2020-02-11T18:14:22Z", GoVersion:"go1.13.6", Compiler:"gc", Platform:"linux/

[2020-02-29 13:43] alewis001 commented on #6770
Great. Glad it's not just specific to me but sorry for finding the issue :)

[2020-02-29 14:33] klicki commented on #6716
Maybe it is a good idea to remove your .minikube directory before starting with the previous version.

[2020-02-29 15:01] alewis001 commented on #6771
Thanks, it does. I'd used that as the workaround before posting this bug. Apologies, I should have mentioned that in the bug report.

What should the expected behaviour of that flag be? As it is provided to the `start` command I could see it working different ways:
- A temporary override for that run over whatever is written to the config; the config is not modified. As such, that would make this

[2020-02-29 15:46] afbjorklund commented on #6840
The command was missing (by default), on Raspbian GNU/Linux 10 (buster)

https://packages.debian.org/buster/dnsutils
vs
https://packages.debian.org/buster/bind9-host

I guess nslookup is the new command, but "dnsutils" is not in the base install

[2020-02-29 16:10] vinaychaudharyofficial commented on #6653
@medyagh Issue fixed, After check KVM docs and re-installation of KVM and libvirt. Thanks

[2020-02-29 16:11] vinaychaudharyofficial commented on #6653
Issue fixed, After re-installation of KVM and libvirt.

[2020-02-29 16:11] #6653 closed

[2020-02-29 16:32] medyagh commented on #6007
@wangxiyuan I just pushed arch images
for arm and arm64 for 1.8.1

[code]

[code]

[2020-02-29 17:21] afbjorklund commented on #6007
@medyagh : Thanks, if you could also push `s390x` and `ppc64le` we are good for now

Eventually (next storage-provisioner upgrade), we want to move to multi-arch and one manifest

[2020-02-29 17:36] medyagh commented on #6007
pushed s390x:

[code]

[code]

[2020-02-29 17:50] #6840 closed

[2020-02-29 18:03] afbjorklund opened #6843 "Support running minikube on Raspbian (arm)"
For instance the **Raspberry Pi 4** comes with enough memory (2G) to be able to run Minikube.

* https://www.raspberrypi.org/products/raspberry-pi-4-model-b/

Currently it only runs directly on the host with the `none` driver which is not ideal, but "works".

Docker is available in the standard distribution, packaged in the **Raspbian**/Debian distribution.

* https://www.collabora.com/news-and-bl

[2020-02-29 18:36] dthongmtl commented on #6716
could be an issue on the latest version, i'm seeing the same issue with the 255 exit status on
[code]
although doing directly a ssh is ok:
[code]

[2020-02-29 18:46] afbjorklund commented on #6843
See also the original #5667 for running on arm64 (like ubuntu 18.04/19.10)
https://ubuntu.com/blog/roadmap-for-official-support-for-the-raspberry-pi-4

[2020-02-29 19:05] zenbones commented on #6716
Removed .minikube and tied again, but it makes no difference. Still fails.

[2020-02-29 20:01] VirannaGadgoli opened #6844 "hyperv: Unable to start VM. creating host: create: creating: exit status 1"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-02-29 20:02] VirannaGadgoli commented on #6844
X Unable to start VM. Please investigate and run 'minikube delete' if possible: creating host: create: creating: exit status 1

Facing this error while minikube start command

[2020-02-29 20:32] gaetan1903 commented on #5715
@shahbaz-aslam2  try to delete all files on /tmp..

[2020-03-01 00:40] #5429 closed

[2020-03-01 02:56] fffffreedom opened #6848 "how to update the registry-mirror of a minikube instance？"
how to update the registry-mirror of a minikube instance？i find it unable to update it, thks

[2020-03-01 10:32] #6007 closed

[2020-03-01 10:33] afbjorklund commented on #6252
The platform download should be fixed now, but some images still use the old names.

[2020-03-01 10:33] #6252 closed

[2020-03-01 10:41] afbjorklund commented on #6746
Problem seems to have been missing software, some of it required.

[code]

Need to be better to link to `kubeadm` documentation, in the future.

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

[code]

[2020-03-01 10:45] afbjorklund commented on #6714
We could also use these flags:

[code]

And just run the minikube packages, not all bundled drivers and provisioners and stuff ?

[2020-03-01 13:21] JanYunkai commented on #4206
Mac Os Catalina 10.15.3
➜  ~ minikube start --memory=8192 --cpus=4 --vm-driver=hyperkit
😄  minikube v1.7.3 on Darwin 10.15.3
✨  Using the hyperkit driver based on user configuration
🔥  Creating hyperkit VM (CPUs=4, Memory=8192MB, Disk=20000MB) ...

💣  Unable to start VM. Please investigate and run 'minikube delete' if possible: creating host: create: Error creating machine: Error in driver during

[2020-03-01 13:57] s709t commented on #6631
i'm facing the same issue, this has become annoying, that error doesn't show anything relevant

[2020-03-01 13:59] sobkowiak commented on #4132
I have the same problem with minikube version v1.7.3

[2020-03-01 14:14] klicki commented on #6716
Did you check your kubectl version, too?

[2020-03-01 16:03] Loki-Afro opened #6850 "Not enough debug output in network.go when getting an ip via kvm driver"
**The exact command to reproduce the issue**: `minikube status --alsologtostderr -v=7`

**The full output of the command that failed**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>

[code]

</details>

**The operating system version**: Fedora 31

Trying to install minikube on a fresh Fedora 31 via kvm2 driver leads to that minikube is unable to determine a

[2020-03-01 17:23] SwEngin commented on #6160
Sorry for the late answer. After the latest update everything works perfectly fine

[2020-03-01 17:23] #6160 closed

[2020-03-01 18:21] afbjorklund commented on #6850
Each VM has two network interfaces, one for the SSH control traffic and one for Kubernetes. So it is trying to determine the IP of the “public” (but still host-only) interface.

[2020-03-01 18:30] zenbones commented on #6716
1.17.2 currently.

[2020-03-01 19:25] afbjorklund commented on #6850
The error reporting could be improved, but it seems something odd with the new libvirt/dnsmasq

[2020-03-01 19:42] medyagh opened #6851 "Profile list should not return error if one cluster is not ready"
As seen in this test

https://storage.googleapis.com/minikube-builds/logs/6845/d6e4143/VirtualBox_Linux.html#fail_TestFunctional%2fparallel%2fProfileCmd%2fprofile_list

[code]

[2020-03-01 20:24] premanr commented on #6631
I am also getting same issue, any workaround?

[2020-03-01 21:09] afbjorklund opened #6852 "Not possible to use external ssh client"
For some reason, `minikube ssh` is not respecting the `--native-ssh` parameter.

[code]

But when running `minikube ssh --native-ssh=false`, it still uses the native client.

libmachine: Using SSH client type: native

Seems like something is wrong with the parsing of parameters, with viper/cobra ?

[code]

[2020-03-01 21:32] Loki-Afro commented on #6850
`/var/lib/libvirt/dnsmasq/virbr0.status`

[code]

`/var/lib/libvirt/dnsmasq/virbr1.status`

[code]

also virsh is reporting that the vm is running

[code]

I just noticed but duno if its related

[code]

don't know whats causing this issue or if is even related.

[2020-03-01 21:44] afbjorklund commented on #6850
Those status files look perfectly normal, hard to tell why the parsing fails (like you have reported)

Another reason would be if the MAC are not matching, but no real reason why they should not...

[2020-03-01 22:00] afbjorklund commented on #6788
@starbassma : there are two different types of mounts here, both _could_ mount your home...

The first parameter you mention, `--mount-string`, is indeed for minikube mount - any driver.

This means that if you run virtualbox and you run `minikube start --mount`, you will have **two**

One under `/hosthome` (vboxsf) and one under `/minikube-host` (9p). Both from your $HOME:

`Name: 'hosthome', Hos

[2020-03-01 23:29] #6714 closed

[2020-03-02 01:13] wangxiyuan commented on #6007
thank you very much

[2020-03-02 03:39] ravindraSB commented on #3007
I am hitting this again on 1.7.3

[2020-03-02 06:04] maistrotoad commented on #1652
This is still very much alive on `minikube version: v1.7.3`

Including the advice to `minikube update-context`

after which there will be TLS issues with my helm and skaffold; `TLS handshake timeout`

[2020-03-02 06:20] ayoagbede opened #6854 "failed to write certificate "front-proxy-client": failure loading front-proxy-client certificate: failed to load certificate: the certificate has expired"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-02 07:28] klicki commented on #6716
Did you check the protections? Does your user have access rights for /dev/kvm? Is the account in the kvm and libvirt groups?

Can you work with the kvm tools like virt-host-validate?

[2020-03-02 08:11] Jay1305 commented on #6683
Hi @priyawadhwa, I downloaded binaries you linked with PR and think those are for Linux. I am not able to see minikube.exe file. I am probably missing something on my end but please guide me on how I can test that fix on my Windows 10 machine. Thanks!

![image](https://user-images.githubusercontent.com/31636584/75656773-b202ed80-5c8a-11ea-8d0d-78386f55e766.png)

[2020-03-02 09:31] iamamjad commented on #5938
This work with me on my ubuntu 18

[2020-03-02 10:57] Tallyrald commented on #6640
This happened to me right after I installed the latest Windows update packages (KB4535996 & KB4537572 & KB4052623). Same error messages, same everything as OP on minikube v1.7.3. Before the update, everything worked fine. Current Windows build number is Microsoft Windows 10 Pro Build 18363.
Is it possible that Microsoft changed how the HyperV driver reports back it's status and minikube's validati

[2020-03-02 15:23] applike-ss opened #6855 "minikube doesn't start on macOS 10.15.3 with hyperkit (6 cores, 8gb ram, 30gb disk)"
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>
[code]

</details>

**The output of the `minikube logs` command**:<details>
==> Docker <==
-- Logs begin at Mon 2020-03-02 15:20:48 UTC, end at Mon 2020-03-02 15:21:23 UTC. --
Mar 02 15:20:51 minikube dockerd[2001]: time="2020-03-02T15:20:51.154133594Z" level=info msg="loading plugin "io.

[2020-03-02 15:32] applike-ss commented on #6855
never mind, there must have been something strange going on when i set up minikube.

After i removed the .minikube folder in my home directory and did the same command again, it worked!

closing the issue.

[2020-03-02 15:32] #6855 closed

[2020-03-02 15:40] starbassma commented on #6852
It works with `minikube start `  but not with `minikube ssh` ,
The flag `nativeSSH` is not binded in ssh.go, needs something like viper.BindPFlags(..)

[2020-03-02 15:49] applike-ss opened #6856 "FR: Ability to pass docker.sock from host"
I would like to be able to pass my docker.sock from the host to minikube when using the vm driver docker.

This would in the end make using devspace in combination with minikube easier and more comfortable.

Also my images would then not be deleted when i remove the minikube cluster.

[2020-03-02 16:24] chrber opened #6857 "MacOS 10.14.6 - Failed to enable unit: Unit file /usr/lib/systemd/system/docker.service is masked."
**The exact command to reproduce the issue**:
minikube delete
minikube config set vm-driver hyperkit
(minikube config set vm-driver vmware ...results in the same issue)
minikube start --alsologtostderr -v=9

**The full output of the command that failed**:<details>
❯ minikube start

[2020-03-02 16:46] afbjorklund commented on #6857
Normally this means that something/someone has masked the service manually...

Normal:
[code]
Broken:
[code]

Can you check (with minikube ssh), if you have a /etc/systemd/system/docker.service ?

[2020-03-02 17:09] starbassma commented on #6848
Hello @fffffreedom ,
If you want to create a new instance with _yourmirror_  you can use :

`minikube start --registry-mirror="http://yourmirror"`

if your VM instance is already created, you can't update registry-mirror through minikube cli, but you modify it manually inside your VM (though not recommended)  :

1. Connect to the VM  using root :  `minikube ssh su - root` (password: root)

2. Edit

[2020-03-02 17:24] afbjorklund commented on #6852
It seems to be a lot worse than that, not only does it need registering - it can only be done once

https://suraj.io/post/cobra-persistent-flag/

[2020-03-02 17:46] medyagh commented on #6856
this is  an interesting discussion @applike-ss thanks for brining it up
you mean you want the docker run-time inside minikube to point somewhere outside ?
this might have some negative effects on the performance.
there are ways to use a registery for your images, and make minikube use that registery, is there any reason not to use that approach ?

[2020-03-02 17:48] starbassma commented on #6852
Actually, the nativeSSH used inside ssh.go is declared as a constant in start.go , hence the confusion

[2020-03-02 17:54] starbassma commented on #6852
This is a potential fix :

**cmd/ssh.go**

`
.
.
.
var (
	nativeSsh bool
)

`

[2020-03-02 18:01] afbjorklund commented on #6852
All the flags are constant (strings), but you are right it is part of the problem.

Rename the flag, and it starts working. So it's something fundamental viper.

[2020-03-02 18:06] starbassma commented on #6852
.

sorry my comment get truncated :

@afbjorklund

This is a potential fix :

**cmd/ssh.go**
[code]

notice the new name nativeSSH => nativeSsh
Output result :
`./minikube ssh --native-ssh=false --alsologtostderr -v=4`

GuestAdditionsFacility_VirtualBox System Service=50,1583172070953
GuestAdditionsFacility_Seamless Mode=0,1583172070531
GuestAdditionsFacility_Graphics Mode=0,1583172070531
}
I0302

[2020-03-02 18:09] afbjorklund commented on #6852
Thanks, have to use a different name though (golint complains).

[2020-03-02 18:20] medyagh commented on #6838
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2020-03-02 18:23] medyagh commented on #6738
@jyee

if this a feature that others might use I would be happy to accept a PR that adds this kernel module, here is the documentation on how to add kernel modules to the minikube ISO

here is the link how to add kernel modules to our ISO
https://minikube.sigs.k8s.io/docs/contributing/iso/#adding-kernel-modules

https://minikube.sigs.k8s.io/docs/contributing/iso/#adding-kernel-modules

meanwhile,

[2020-03-02 18:24] medyagh commented on #6738
CC: @afbjorklund

[2020-03-02 18:31] medyagh opened #6859 "change word "VM" to "container" for kic drivers"
when starting a minikube again:

🏃  Using the running docker "minikube" VM ...

also when starting a stopped minikube

🔄  Starting existing docker VM for "minikube" ...

[2020-03-02 18:39] medyagh opened #6860 "service list: info target port not being populated"
[code]

in this case the target port is 8080 from https://minikube.sigs.k8s.io/docs/examples/

[2020-03-02 20:03] etanshaul opened #6861 ""Error from Server" on Minikube pause / unpause with Skaffold"
Minikube 1.7.3, started with `--vm-driver docker`

To reproduce:
- Pause minikube: `minikube pause -p [my-profile]`
- Unpause
- Run `skaffold dev` with `--minikube-profile [my-profile]`

Error printed in the Skaffold output:
[code]

This does not happen when starting the Skaffold session _after Minikube is in a `running` state_. I can only repro this when running Skaffold immediately after unpausi

[2020-03-02 20:03] etanshaul commented on #6861
@balopat to see if this rings any bells and to see if this issue belongs on Skaffold instead.

[2020-03-02 20:05] chrber commented on #6857
not there:

❯ minikube ssh                                                                                                                                                                                         ─╯
                         _             _
            _         _ ( )           ( )
  ___ ___  (_)  ___  (_)| |/')  _   _ | |_      __
/' _ ` _ `\| |/' _ `\| || , <  ( ) ( )| '_`\  /'__`\

[2020-03-02 21:19] #6852 closed

[2020-03-02 21:59] medyagh opened #6862 "Docker driver re-start wont work on shut down: "admin.conf" exists already but has got the wrong API Server URL""
I tried on Mac:

To reproduce:

- start cluster with docker driver
[code]

- shut down the computer
- start again
[code]

here is another one profile with full logs
<details>
<pre>
medya@~/workspace/minikube (master) $ ./out/minikube start -p minikube --alsologtostderr
I0302 14:16:25.742996    4066 notify.go:125] Checking for updates...
I0302 14:16:26.140816    4066 start.go:249] hostinfo: {"hostn

[2020-03-02 22:00] zenbones commented on #6716
The account is in kvm and libvert groups. I think I have necessary protections but I could also sudo. The output from virt-host-validate is...

$ virt-host-validate
  QEMU: Checking for hardware virtualization                                 : PASS
  QEMU: Checking if device /dev/kvm exists                                   : PASS
  QEMU: Checking if device /dev/kvm is accessible

[2020-03-02 22:03] medyagh commented on #6862
turns out the source of the problem is, after shut down the container IP changes and the "/etc/kubernetes/admin.conf" inside the kic container still reffers to the old ip.

[2020-03-02 22:24] medyagh commented on #6862
we should be able to specify the ip of the conatiner explicitly

docker run --help

     --ip string                      IPv4 address (e.g., 172.30.100.104)

[2020-03-03 00:11] starbassma commented on #6860
Actually it show the name of the port (.spec.port.name) not the port

![Screenshot_20200303_005855](https://user-images.githubusercontent.com/6652482/75729433-16ee3000-5ceb-11ea-8ee1-e46a1659d59b.png)

the descriptor of the deployment :

![Screenshot_20200303_010730](https://user-images.githubusercontent.com/6652482/75729990-cdeaab80-5ceb-11ea-882c-4a9af76c42a4.png)

[2020-03-03 01:32] priyawadhwa opened #6865 "Build preloaded images tar from commit SHA"
Ref https://github.com/kubernetes/minikube/pull/6720#discussion_r386724633

[2020-03-03 02:44] awgneo commented on #6312
I have this problem as well. This addon isn't even in my addons list.

[2020-03-03 03:25] vikkyomkar commented on #6860
/assign

[2020-03-03 05:41] SaiBalaguru commented on #6631
somehow it got resolved me!

[2020-03-03 06:16] SaiBalaguru commented on #6631
If you are connected to your corporate network - disconnect. So connect to a restriction free one.
Secondly, after creating a kubernetes folder in C drive, type "kubectl config"
then "minikube config" .
Now "minikube start".
Then "minikube SSH".

This helps for Oracle Virtual Box in windows 10.

[2020-03-03 06:49] naina-emmanuel commented on #4587
it worked for me thank you so much

[2020-03-03 06:51] applike-ss commented on #6856
I want to use it that way, because if i used the docker vm driver, then a docker within a docker is spun up (which doesn't make sense to me).
If i can pass my hosts docker inside the docker container there is no overhead (which you mentioned) afaik.
This also enabled me to use a setup like:
[code]

[2020-03-03 06:59] afbjorklund commented on #6856
The above scenario is the _default_ minikube setup, you use `minikube docker-env` to access it...

With the environment set up, you can use `kubectl` (or other tool) to access the docker daemon.

https://minikube.sigs.k8s.io/docs/tasks/docker_daemon/

When you use the local docker daemon, there is no isolation between the host and the k8s master.

This is also doable (using the "none" driver), but

[2020-03-03 10:41] klicki commented on #6716
Looks fine to me. I'm at my wits end. If you do a "minikube delete" and "rm -r" the .minikube directory, a fresh start should do it. If it still doesn't work, add "-v=5 --alsologtostderr" to the start command and check for irregularities in the output.

It is OK to get a number of failed SSH attempts, but after after a few minutes, once the VM is up, the process should commence.

[2020-03-03 10:59] applike-ss commented on #6856
This is definitelly not the default setup, if you watch the docs.
I do have two machines involved, not one.
Using this kind of setup is very different from just using one machine, because there is external IPs involved.

Minikube itsself spawns a docker daemon in the "vm", right?
And this is exactly what i do not want to have.
It is overhead that would not be required for me.
Also `minikube docker

[2020-03-03 11:09] afbjorklund commented on #6856
The “generic” driver (work in progress) would allow for your setup... It just needs the IP address (and user/key) of the machine to use

In minikube, the “none” driver assumes running on localhost... (so not remotely) And it only works on Linux, not Mac/Win.

I don’t think that KIC (docker/podman) works remotely?

But @medyagh is the expert on that, if it would work or not

[2020-03-03 13:00] josedonizetti opened #6866 "kic: custom kic/docker/osx message getting displayed for all drivers/runtimes"
On linux using service:

[code]

The warn message should be specific for kic/docker/osx.

[2020-03-03 13:11] LasseJacobs commented on #6468
I had the same issue after just installing kvm. I think the KVM module (running for my user) did not have permission to the libvirt-sock which caused the error even though my user should have the correct permission. Since it was a fresh install my user group was added but for that to take effect you have to log out and log back in. Once I did that everything worked fine.

[2020-03-03 13:28] josedonizetti commented on #6468
Had the same problem that @LasseJacobs mentioned in a recent installation. I added my user to the libvirt group in ubuntu, but it only took effect after log out/log in.

Maybe we can do a check for this in minikube. :thinking:

[2020-03-03 14:24] applike-ss commented on #6856
ahh ok, so this is kinda soon to be supported. at least in my local 1.7.3 there is no generic driver.

[2020-03-03 15:24] chrber commented on #6857
Could it be that my problem has something to do with using Docker Desktop, which provides their own kubernetes setup, which I have not enabled, but I noticed, when installing minikube and the driverkits, that I had to remove softlinks, which were probably created by the Docker Desktop installation.

[2020-03-03 15:32] afbjorklund commented on #6857
It should not be present in  (or interfere with) the minikube VM ?

[2020-03-03 16:22] chrber commented on #6857
I was under the impression that minikube uses anything I have installed locally (i.e. docker), which is probably not the case. If the questions is, if I fiddled with minikube setup, then the answer is NO, absolute standard brew install.

[2020-03-03 17:24] fredalbino commented on #951
This is still an ongoing thing for me as well. Do we have any additional information in regards to this?

[2020-03-03 18:16] CrossBound commented on #6352
I am amazed: this is a show-stopper problem and not a single comment from a maintainer. I can't work with minikube without the ability to deploy my custom docker images to kubernetes. I have switched to canonical's microk8s and it is working for me.

[2020-03-03 18:17] CrossBound commented on #6352
Correction, there was a single comment in January.

[2020-03-03 18:29] priyawadhwa opened #6868 "Copy in k8s binaries to preloaded tarball so we can skip transfer"

[2020-03-03 18:29] priyawadhwa opened #6869 "Fix DownloadOnlyDocker test on github actions"

[2020-03-03 19:39] priyawadhwa opened #6871 "Don't download cached images if preloaded tarball exists"

[2020-03-03 20:24] paleozogt commented on #6131
@priyawadhwa I'm seeing this problem with minikube v1.7.3:

[code]

[2020-03-03 20:49] #6866 closed

[2020-03-03 22:49] #6821 closed

[2020-03-03 22:55] kmcdon03 commented on #6104
I have this problem...

[2020-03-04 00:38] josedonizetti commented on #6824
The bugs happens because kic is using random ports when exposing internal ports to localhost. When a container is restarted it might get the same port or not (likely to not).

https://github.com/kubernetes/minikube/blob/master/pkg/drivers/kic/oci/oci.go#L407

To fix this we need to control which port is exposed, but passing it to the run command. But this can have side effects, imagine we start ki

[2020-03-04 00:43] medyagh commented on #6824
Regarding that issue I was thinking. Minikube status should have a new line that tells you if you are using the docker env inside minikube or not . And if it needs updating it should also tell you.

[2020-03-04 00:44] medyagh commented on #6824
Another almost related is we could add something to the bash prompt (if user selects to)
That tells you your terminal is using docker inside minikube

[2020-03-04 00:52] medyagh commented on #6824
Additionally on restart, we should detect user is using docker env and re-new docker env for them or warn them to do so

[2020-03-04 02:04] ulm0 commented on #6689
/assign @ulm0

[2020-03-04 05:58] ulm0 opened #6877 "Skip phases for kubeadm bootstrapping"

[2020-03-04 06:00] ulm0 commented on #6877
/asign @ulm0

[2020-03-04 06:01] ulm0 commented on #6877
/assign @ulm0

[2020-03-04 07:32] afbjorklund commented on #6856
Something like that, since it is not available in the 1.7 (or 1.8) releases.

Anyway, it is **not** possible to install Kubernetes using “just” docker (without something like KIC that will install a fake VM and then connect to that). But as long as you are OK with using SSH connectivity to your host, then minikube will use that (and `sudo`) to bootstrap. It will install Docker if missing, but if y

[2020-03-04 08:05] #6877 closed

[2020-03-04 08:07] dallas-lbg commented on #4206
I'm seeing the same error as @JanYunkai

[2020-03-04 09:45] chrber commented on #6857
Could you please remove the  priority/awaiting-more-evidence  tag, as I think I can not provide more information.

[2020-03-04 09:46] chrber commented on #6857
Could you please remove the priority/awaiting-more-evidence tag, as I think I can not provide more information.

[2020-03-04 10:20] Nippius commented on #6683
I'm having the same issue.

Not sure if this helps but here are my optional dependencies. All enabled and minikube still thinks hyper-v is not running:

![image](https://user-images.githubusercontent.com/1528640/75869331-5018c400-5e01-11ea-8474-6f0231ff22f2.png)

minikube output:

![image](https://user-images.githubusercontent.com/1528640/75869582-aede3d80-5e01-11ea-8f52-f0d1d580b874.png)

[2020-03-04 10:36] Nippius commented on #6683
Following the comments above, I tried version 1.6.2. I can get the VM to run but minikube start just hangs forever.

![image](https://user-images.githubusercontent.com/1528640/75870788-6de72880-5e03-11ea-9c58-c1d2909ff18b.png)

![image](https://user-images.githubusercontent.com/1528640/75870846-80616200-5e03-11ea-9ea3-a2a1decb23fd.png)

[2020-03-04 11:13] starbassma commented on #6862
The kic container is automatically attached to the "bridge" network, docker doesn't allow static ip assignment for the bridge network, a user defined network must be created in order to assign static ip.

Perhaps we should add these parameters also :

[code]

Regards,

[2020-03-04 12:49] #6758 closed

[2020-03-04 13:16] nervgh commented on #5815
I have the same issue here.

[code]

[code]

[2020-03-04 14:26] GarretSidzaka commented on #5815
reopening issue.  i have given up hope of making minikube work on ubuntu, but it seems others are still trying.

[2020-03-04 14:43] lvxinqiao opened #6881 "apiserver healthz: apiserver healthz never reported healthy"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2020-03-04 16:16] Diggsey commented on #1378
I use Minikube on Windows 10 with VirtualBox and I see the same issue. The commands provided by @aaron-prindle  DO NOT sync the date.

[2020-03-04 17:21] medyagh opened #6883 "reword preload console oputput"
anything we output to the console should be simple an easy to undrestand for a new kubernetes user.

instead of repeating preloaded word two times:

[code]

we could say:

[code]

or a better word than  (only one time) that tells them they will only do this once.

What do you think @priyawadhwa ?

[2020-03-04 17:25] medyagh opened #6884 "create autmoated script to push preloaded tar ball"
we should have a go script that does this:

[code]

@priyawadhwa any guidance you could give for anyone who takes this task ?

we could pontentially add this to our release script so we publish our preloaded tar files with each release in github release page.

[2020-03-04 17:29] starbassma commented on #6862
@medyagh  can't reproduce it, though

[2020-03-04 17:33] medyagh commented on #6824
I will work on this.

[2020-03-04 17:34] starbassma commented on #6862
@medyagh can't reproduce it, though

[2020-03-04 17:35] medyagh commented on #6824
I also noticed on a terminal with docker-env
we warn this incorrectly

[code]

[2020-03-04 18:34] medyagh opened #6886 "handle podman-env in PointToHostDockerDaemon"
[code]

[2020-03-04 19:09] medyagh commented on #6825
I agree and this will need to be adressed.

[2020-03-04 19:10] tstromberg commented on #6812
@devopseze - What version of minikube was this with? Newer releases should give better guidance:

[code]

The underlying issue is the same though, this is indicative of a failed VirtualBox installation. Reinstall VirtualBox and it should be fine.

[2020-03-04 19:11] sharifelgamal commented on #6823
@starbassma is correct here, it seems like minikube doesn't have read permissions for your kubeconfig file, so you need to change the permissions on `/etc/kubernetes/admin.conf` to be user readable.

[2020-03-04 19:11] medyagh commented on #6861
@etanshaul thanks for creating this issue, I will get back to this try to reproduce this issue.

[2020-03-04 19:11] priyawadhwa commented on #6854
Hey @ayoagbede -- I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl g

[2020-03-04 19:11] devopseze commented on #6812
Okay

Sent from my iPhone

[2020-03-04 19:13] medyagh commented on #6881
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2020-03-04 19:14] devopseze commented on #6812
Am looking for documentation on how to install Minikube on Aws Ec2 Ubuntu instances all the ones I tried failed. Looking forward to hearing from you.

Thanks

Agbaeze

Sent from my iPhone

[2020-03-04 19:17] tstromberg commented on #6844
Do you mind sharing the output of:

`minikube start --alsologtostderr -v=4`

That should reveal which underlying command is failing. Thank you!

Also, please confirm that this is with the latest minikube release (v1.7.3)

[2020-03-04 19:17] priyawadhwa commented on #6814
Hey @lmurali89 --

could you try running:

[code]

and see if that works?

[2020-03-04 19:17] tstromberg commented on #6848
It's worth noting that "minikube start" can be re-run safely against a VM that has been already created. It should update the configurations properly.

[2020-03-04 19:17] #6848 closed

[2020-03-04 19:18] medyagh commented on #6585
@mhintzke do you still have this issue, have you had the chance to try with latest release ?

[2020-03-04 19:20] tstromberg commented on #6820
If you or anyone else sees this, I would love to tee the output of:

`kubectl get node -A`

That should help us determine which taint it is. I suspect one of:

* node.kubernetes.io/memory-pressure
* node.kubernetes.io/disk-pressure
* node.kubernetes.io/out-of-disk
* node.kubernetes.io/unschedulable
* node.kubernetes.io/network-unavailable

[2020-03-04 19:20] medyagh commented on #4353
@vivekbagade could u please try make sure the perrmissions on kubeconfig is and do minikube delete ?

[2020-03-04 19:21] medyagh commented on #6689
Excellent, yes please feel free to to reach out to me in slack for any help

[2020-03-04 19:22] medyagh commented on #5933
@pnisbettmtc  applogize for the bad expereince you faced in windows :( our windows integration tests has been broken and we need to fix our integraiton tests for windows to get better eye on the users experience.

meanwhile do you mind trying with our new vm-driver docker ?

if you have docker on your windows, you could try
[code]

[2020-03-04 19:26] medyagh commented on #6577
This sounds like a regression ! we will need to fix it.

[2020-03-04 19:27] priyawadhwa commented on #6594
Hey @grigorei -- any update here?

[2020-03-04 19:27] pnisbettmtc commented on #5933
I will do if I get the time.
Thanks.
Paul

From: Medya Ghazizadeh <notifications@github.com>
Sent: Wednesday, March 4, 2020 11:23 AM
To: kubernetes/minikube <minikube@noreply.github.com>
Cc: Paul Nisbett <pnisbett@bayareametro.gov>; Mention <mention@noreply.github.com>
Subject: Re: [kubernetes/minikube] OOM + kubectl - Unable to connect to the server: net/http: TLS handshake timeout (#5933)

*Exte

[2020-03-04 19:29] priyawadhwa commented on #6666
Hey @shaulbehr -- did upgrading help?

[2020-03-04 19:32] medyagh commented on #6389
thanks for bringing it out attention that some users might need this ! I would accept a PR to add this to our whitelist of extra options

[2020-03-04 19:34] sharifelgamal commented on #6683
Sorry about that @uc-msft, the executable you want is at https://storage.googleapis.com/minikube-builds/6701/minikube-windows-amd64.exe

[2020-03-04 19:34] medyagh commented on #6205
@renich is this issue solved or is there anything that we need to fix on our end ? (adimtably I didnt read the whole discussion)

[2020-03-04 19:35] medyagh commented on #6149
@movd  does upgrading the docker for desktop fix this issue ?

[2020-03-04 19:36] tstromberg commented on #6296
For hyperkit, `VM is unable to access k8s.gcr.io` says to me that this is likely a DNS issue, and likely #3036

Do you mind sharing the output of the following two commands for me?

* `sudo lsof -i4UDP:53 -P -n`
* `ps -afe | grep dns`

Thank you!

[2020-03-04 19:38] medyagh commented on #5921
@telefoontoestel I have not heared any updates on this issue, I will close this please feel free to re-open

[2020-03-04 19:38] #5921 closed

[2020-03-04 19:38] tstromberg commented on #6312
The coredns addon is built-in and required by kubeadm, so there is no possibility of tuning that behavior.

As best as I can tell, something configured a knative webhook to be contacted in certain cases, and that webhook is not available at the time that coredns comes up.

You can workaround this by using `minikube delete`, but it would be worth hearing how you got to this point so that we could r

[2020-03-04 19:39] medyagh commented on #5817
@Linzhs  glad to see your issue was solved, btw you could also use our new docker driver

minikube start --vm-driver=docker

[2020-03-04 19:39] #5817 closed

[2020-03-04 19:39] medyagh commented on #5809
@nanikjava are you still interested in this issue ?

[2020-03-04 19:40] medyagh commented on #4621
@hadrien-toma do you mind trying with our latest release > 1.7.3 ?

[2020-03-04 19:41] medyagh commented on #6561
@spaem66  could you try

which "binary_name"

and then if it does not return anything that means minikube wont be able to see it either.

[2020-03-04 19:42] sharifelgamal commented on #6639
@johnsje could you retry your minikube start with `minikube start -v=5 --alsologtostderr`? That might give us more information on why creating the symlink failed.

[2020-03-04 19:43] priyawadhwa commented on #6818
Hey @lesovsky thanks for looking into this. If you, or anyone else, would be interested in opening a PR to improve the documentation around RBAC, I'd be happy to review it!

[2020-03-04 19:44] priyawadhwa commented on #6794
Hey @JuliusTZM -- could you try following the kvm setup instructions [here](https://minikube.sigs.k8s.io/docs/start/linux/#hypervisor-setup) and see if that resolves the issue?

[2020-03-04 19:45] tstromberg commented on #6808
@etanshaul - The exit code is the combination of multiple statuses: https://minikube.sigs.k8s.io/docs/reference/commands/status/

As people rely on the documented exit codes, I'm hesitant to change it for fear of breaking their use cases. JSON output is a relatively new feature that not everyone has adapted to.

[2020-03-04 19:45] medyagh commented on #5797
@rezabojnordi  I haven't heared from you, I will close this issue please feel free to reopen

[2020-03-04 19:45] #5797 closed

[2020-03-04 19:46] medyagh commented on #5780
@stherrien do you mind trying the solution provided in the comment ? https://github.com/kubernetes/minikube/issues/5780#issuecomment-577498912

[2020-03-04 19:47] medyagh commented on #5580
@jeff2u I will close this issue, please feel free to reopen
I also suggest to try our new driver docker,
[code]

[2020-03-04 19:47] #5580 closed

[2020-03-04 19:47] medyagh commented on #5571
@vorpleblade  I haven't heard from you I will close this issue, please feel free to reopen
I also suggest to try our new driver docker,
[code]

[2020-03-04 19:48] medyagh commented on #5437
@brainfull  I haven't heard from you I will close this issue, please feel free to reopen
I also suggest to try our new driver docker with latest version of minikbue
[code]

[2020-03-04 19:48] #5437 closed

[2020-03-04 19:48] tstromberg commented on #6716
@zenbones - Interesting discovery. Does `minikube start --native-ssh=false` work for you?

[2020-03-04 19:49] johnsje commented on #6639
I'm not able to reproduce now. I was at the time the above was create trying to install kubecost. I do now have a different minikube version (1.5.2). I think I was on 1.4.x before. Sorry I can't provide more detail.

[2020-03-04 19:50] #6639 closed

[2020-03-04 19:51] #5857 closed

[2020-03-04 19:51] medyagh commented on #5924
great ! glad to hear that solved the problem

[2020-03-04 19:51] #5924 closed

[2020-03-04 19:52] medyagh commented on #5951
@douglascamata   I haven't heard from you I will close this issue, and I am sorry that you faced this isssue,  please feel free to reopen this issue
I also suggest to try our new driver "docker" with latest version of minikbue which might solve your issue.
[code]

[2020-03-04 19:52] #5951 closed

[2020-03-04 19:53] #6027 closed

[2020-03-04 19:54] klicki commented on #6716
Cannot test it right now - on a trip for a few days. Sorry!

[2020-03-04 19:55] medyagh commented on #6060
@mcronce I will close this issue due to no update, and sorry to hear you had this issue, please feel free to reopen.

meanwhile I recommend to give our newest driver a try in latest release
[code]
that might solve your issue !

[2020-03-04 19:55] #6060 closed

[2020-03-04 19:55] #6368 closed

[2020-03-04 19:55] tstromberg commented on #6368
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-03-04 19:56] tstromberg commented on #6180
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-03-04 19:56] #6089 closed

[2020-03-04 19:56] tstromberg commented on #6108
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-03-04 19:56] #6108 closed

[2020-03-04 19:56] medyagh commented on #6108
@johnnyfriendly I will close this issue due to no update, and sorry to hear you had this issue, please feel free to reopen.

meanwhile I recommend to give our newest driver a try in latest release
[code]
that might solve your issue !

[2020-03-04 19:56] tstromberg commented on #6036
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-03-04 19:56] #6036 closed

[2020-03-04 19:57] #6180 closed

[2020-03-04 19:57] tstromberg commented on #5808
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2020-03-04 19:57] #5808 closed

[2020-03-04 19:58] medyagh commented on #6180
@danfakha  I will close this issue due to no update, and sorry to hear you had this issue, please feel free to reopen.

meanwhile I recommend to give our newest driver a try in latest release

minikube start --vm-driver=docker
that might solve your issue !

[2020-03-04 19:58] medyagh commented on #6198
@sandeept1986  I will close this issue due to no update, and sorry to hear you had this issue, please feel free to reopen.

meanwhile I recommend to give our newest driver a try in latest release

minikube start --vm-driver=docker
that might solve your issue !

and make sure docker is installed on your system.
you can verify by docker info

[2020-03-04 19:59] #6198 closed

[2020-03-04 20:00] medyagh commented on #6198
@sandeept1986   I will close this issue due to no update, and sorry to hear you had this issue, please feel free to reopen.

meanwhile I recommend to give our newest driver a try in latest release

minikube start --vm-driver=docker
that might solve your issue !

[2020-03-04 20:00] tstromberg commented on #6400
I don't believe that kubernetes/kubeadm has a way to control this, but you can run `sudo systemctl disable kubelet` to set kubernetes to be manually started.

Let me know if that helps.

[2020-03-04 20:00] medyagh commented on #6202
@sravanc75  I will close this issue due to no update, and sorry to hear you had this issue, please feel free to reopen.

meanwhile I recommend to give our newest driver a try in latest release

minikube start --vm-driver=docker
that might solve your issue !

[2020-03-04 20:00] #6202 closed

[2020-03-04 20:03] medyagh commented on #6206
@indraindrajit71  I will close this issue due to no update, and sorry to hear you had this issue, please feel free to reopen.

meanwhile I recommend to give our newest driver a try in latest release

minikube start --vm-driver=docker
that might solve your issue !

[2020-03-04 20:03] #6206 closed

[2020-03-04 20:05] medyagh commented on #3725
we had a PR that added host as last efffort for try dns. I belive this issue is fixed, please reopen if it it is sitll an issue

[2020-03-04 20:05] #3725 closed

[2020-03-04 20:05] medyagh commented on #3566
@cmdpwnd  I will close this issue due to no update, and sorry to hear you had this issue, please feel free to reopen.

meanwhile I recommend to give our newest driver a try in latest release

minikube start --vm-driver=docker
that might solve your issue !

[2020-03-04 20:05] #3566 closed

[2020-03-04 20:07] medyagh commented on #6368
@engramjid  I will close this issue due to no update, and sorry to hear you had this issue, please feel free to reopen.

meanwhile I recommend to give our newest driver a try in latest release

minikube start --vm-driver=docker
that might solve your issue !

[2020-03-04 20:14] tstromberg commented on #6577
I'm pretty sure I broke this feature when refactoring file synchronization, though I'm not exactly sure how yet. I'll need to do some `git bisect` work to narrow it down. Thank you for reporting this!

[2020-03-04 21:09] starbassma commented on #6848
@tstromberg  "minikube start" doesn't update the registry-mirror of an existing vm.

[2020-03-04 21:23] medyagh opened #6887 "refactor docker-env to a package"
we should be able to generate eval commands per shell type

so for example in this PR, we could give them exact command to re-eval their docker-env or podman env
https://github.com/kubernetes/minikube/pull/6885

[2020-03-04 21:45] #6851 closed

[2020-03-04 22:02] renich commented on #6205
@medyagh well, @afbjorklund said you would revisit the storage options. I dunno if it can be closed and referenced later.

[2020-03-04 22:11] medyagh opened #6890 "github actions: download go dependency before running test"
when looking at logs for a unit test I have to scroll down pages of downloading dependecy
to see the actual uni or integration tests
we shuld add a step to github actions to download the go depdendecy first
so the output be more clean
https://github.com/kubernetes/minikube/pull/6889/checks?check_run_id=486131563

[code]

[2020-03-04 22:12] #6824 closed

[2020-03-04 22:20] sharifelgamal opened #6891 "Remove need to pass Node into Bootstrapper"
Right now we need to pass into the appropriate node into `cluster.Bootstrapper` since the command runner needs to know which machine to ssh into. This is an abstraction error, since the bootstrapper shouldn't have to care about nodes, it's bootstrapping the *cluster*.

We should find a way to decouple command runner and bootstrapper.

[2020-03-04 22:51] tstromberg commented on #6577
Sent out a fix PR. The underlying issue was a combination of an inverted boolean check and inverting the arguments to `ln`. Somehow, after 25 years of using UNIX, I can never get `ln -s` arguments correct.

I've added a comprehensive integration test for certificate synchronization so that this feature does not unexpectedly break in the future.

[2020-03-04 23:00] #6868 closed

[2020-03-04 23:06] tstromberg commented on #6818
I'm a bit confused by this: to the best of my knowledge, minikube does not disable RBAC.

Perhaps the upstream docs are wrong?

[2020-03-04 23:21] starbassma commented on #6848
maybe we should enhance the documentation with the "non-updatable parameters"

[2020-03-05 00:29] #6577 closed

[2020-03-05 00:52] tstromberg commented on #5826
Closing this. I don't think there is any clear action going forward. We either hide the URL, or make it confusing :(

[2020-03-05 00:52] #5826 closed

[2020-03-05 03:04] #6620 closed

[2020-03-05 03:06] #6871 closed

[2020-03-05 03:09] #6883 closed

[2020-03-05 04:01] Jay1305 commented on #6683
@sharifelgamal I downloaded given file. Same issue that I discovered earlier is happening in chrome/Edge.
![image](https://user-images.githubusercontent.com/31636584/75945989-d4328080-5ec1-11ea-975b-1a96b087424c.png)

It looks like I am getting different error now after running it -
![image](https://user-images.githubusercontent.com/31636584/75946691-caaa1800-5ec3-11ea-9ee7-f1e7505df906.png)

Plea

[2020-03-05 04:19] tstromberg opened #6893 "master: --vm-driver silently ignored"
On master, `--vm-driver` is silently ignored. This will break users. It should be an alias to  `--driver`

[code]

[2020-03-05 08:17] applike-ss commented on #6856
sounds like what i need. Should i close the ticket?

[2020-03-05 09:40] mattforni commented on #6149
Steps to fix:

[2020-03-05 09:40] mattforni commented on #6149
Upgrading docker for desktop and running `minikube delete` fixed me.

[2020-03-05 09:54] chrber commented on #6857
❯ minikube start --vm-driver=docker  --alsologtostderr -v=9                                                                                                                                                                               ─╯
<detail>
I0305 10:53:19.896772   65179 notify.go:125] Checking for updates...
I0305 10:53:20.147231   65179 start.go:249] hostinfo: {"hostname":"w4deumsy9000080.lo

[2020-03-05 10:26] medyagh commented on #6893
Cc @sharifelgamal

[2020-03-05 10:27] medyagh commented on #6893
We should keep unit tests with both driver and --vm-driver to ensure both works

[2020-03-05 10:50] fiskhest commented on #4726
I'm using arch linux and ran into the same issue. Allowing source net `192.168.39.0/24` as commented above did not work, but allowing `192.168.99.0/24` did:
[code]

[2020-03-05 15:12] jaxi commented on #3760
I might have missed something here but

[code]

seems to work straight away?

maybe we don't even need `CHANGE_MINIKUBE_NONE_USER` as long as `--vm-driver=none`?

[2020-03-05 16:17] Diggsey commented on #2866
I believe this happens with the OOM killer runs. Because the kubernetes supervisor gets killed it doesn't restart, and often the SSH daemon is killed too.

[2020-03-05 17:36] vivekaglawe opened #6895 "windows: creating host: create host timed out in 120.000000 seconds"
**The exact command to reproduce the issue**:
X Unable to start VM. Please investigate and run 'minikube delete' if possible: creating host: create host timed out in 120.000000 seconds
*
* minikube is exiting due to an error. If the above message is not useful,

**The full output of the command that failed**:<details>

X Unable to start VM. Please investigate and run 'minikube delete' if possible:

[2020-03-05 17:42] #6859 closed

[2020-03-05 18:21] #6893 closed

[2020-03-05 19:12] #6890 closed

[2020-03-05 19:20] tstromberg opened #6899 "master: The container name "/minikube" is already in use by container"
To replicate:

- Run `minikube start` while Docker is coming up. It errors out with `Unable to start VM. Please investigate and run 'minikube delete' if possible: creating host: create: creating: create kic node: creating volume for minikube container: output Error response from daemon: dial unix docker.raw.sock: connect: connection refused`

- Run `minikube startt` once Docker is up:

[code]

If

[2020-03-05 20:28] zenbones commented on #6716
For me, still failed given --native-ssh=false

[2020-03-05 21:16] medyagh opened #6901 "minikube should not create profile if driver is not usable"
Here on windows I tried to start minikbue with virtualbox then it rightfully told me I need to enable somethign in my bios
then I wanted to try a different driver (hyperv)
but minbikube already created an abondoned profiile.

it would be nice to minikube to try to delete the profile if the driver is not useable (like virtualbox is not installed or ...) or for any fatal reason. if this is the first

[2020-03-05 21:24] sharifelgamal opened #6902 "docker: service command hangs for docker driver in Windows"
**The exact command to reproduce the issue**:
Following the docs tutorial:
[code]

**The full output of the command that failed**:
[code]

Then the browser times out.

[2020-03-05 21:24] medyagh commented on #6902
cc @josedonizetti

[2020-03-05 21:52] Naragato commented on #6222
You shouldn't need to touch docker-machine, minikube just needs to driver.  Should work with no issue :/

1. Install Minikube
2. Download and put the docker machine appropriate for your OS in a folder which is included in the PATH https://github.com/machine-drivers/docker-machine-driver-vmware/releases
3. Download and Install vix https://my.vmware.com/web/vmware/details?downloadGroup=PLAYER-1400-V

[2020-03-05 22:07] movd commented on #6149
Hey no tried this many times but it didn't help

[2020-03-05 23:29] nkprince007 commented on #6751
/assign

[2020-03-05 23:44] medyagh commented on #6899
I was able to reproduce this bug this way:

[code]

[2020-03-05 23:45] medyagh commented on #6899
I will make a PR for this hopefully to be in this release

[2020-03-06 00:49] uiahhh commented on #6716
I am try:
minikube start --vm-driver="hyperv" --hyperv-virtual-switch="xxx"
minikube start --vm-driver="hyperv" --hyperv-virtual-switch="xxx" --memory=4096
minikube start --vm-driver="hyperv" --hyperv-virtual-switch="xxx" --memory=4096 --native-ssh=false
minikube start --vm-driver="hyperv" --hyperv-virtual-switch="xxx" --memory=4096 --native-ssh=false --force

But the same error is displayed.
When

[2020-03-06 00:51] nkprince007 commented on #6751
@medyagh I tried implementing a mocked download solution, but for some test cases like https://github.com/kubernetes/minikube/pull/6907/files#diff-061e1def7add540a87eb3dd7d3e95779L78-L84 I couldn't find a solution that works without hitting the server.

[2020-03-06 02:47] nengbowan commented on #6785
yesterday is ok , but today apiserver status is stopped , i remember i do nothing bad ,
i just do some demos , spring cloud kubernetes , so ...

kubernetes logs about apiserver under below :
`I0306 02:29:48.197937       1 asm_amd64.s:1337] balancerWrapper: got update addr from Notify: [{127.0.0.1:2379 <nil>}]
I0306 02:30:00.311107       1 asm_amd64.s:1337] balancerWrapper: got update addr from Not

[2020-03-06 02:59] nengbowan opened #6909 "apiserver stopped"
yesterday is ok , but today apiserver status is stopped , i remember i do nothing bad ,
i just do some demos , spring cloud kubernetes , so ...

kubernetes logs about apiserver under below :
I0306 02:29:48.197937 1 asm_amd64.s:1337] balancerWrapper: got update addr from Notify: [{127.0.0.1:2379 <nil>}] I0306 02:30:00.311107 1 asm_amd64.s:1337] balancerWrapper: got update addr from Notify: [{127.0.

[2020-03-06 03:02] nengbowan commented on #6909
os : windows
minikube  version : 1.1.1
kubernete version :1.14.3

[2020-03-06 04:34] balopat commented on #6820
`kubectl describe node -A`:

yupp it is disk-pressure seemingly:

[code]

[2020-03-06 05:04] balopat commented on #6820
[code]

[2020-03-06 05:04] balopat commented on #6820
`docker system prune` helped, it freed up 3.6 GBs and the DiskPressure taint got removed.

[2020-03-06 06:57] #6688 closed

[2020-03-06 06:58] medyagh commented on #6688
done

[2020-03-06 08:06] fezho commented on #4206
Got same issue with `minikube v1.7.3 on Darwin 10.14.6`, fix this by adding argument `--vm-driver=virtualbox`

[2020-03-06 08:55] adriannowak commented on #6751
@nkprince007 Create interface with two methods.
 - download(....)
 - verify(.....)

1. Mocked version would send HTTP OPTIONS command to verify if the file exists on webserver.
2. Verify might return always true

[2020-03-06 09:03] gta-kkalchev commented on #4353
Same issue with:
minikube v1.7.3 on Ubuntu 18.04 ; Automatically selected the virtualbox driver

Tried all suggestions , none worked. Unusable at that configuration

[2020-03-06 10:00] afbjorklund commented on #6525
Binaries for `ppc64le` for minikube and storage-provisioner have been added for 1.8.0
Please feedback on how the new release is working on the IBM POWER architecture

We will need to see how we can run regression tests on these mainframe architectures,
but for now I'm not sure if Travis will add anything (we should do some integration tests)

[2020-03-06 10:38] prankkelkar commented on #6007
Thank you very much.

[2020-03-06 11:29] the-nw1-group commented on #6716
I get the same as the above - I'm on Centos 7.7.

[code]

[2020-03-06 11:50] chrber commented on #6857
I have found the problem (as 99% fo all our problems, the proxy):

`minikube start --kubernetes-version v1.11.10 --feature-gates=ReadOnlyAPIDataVolumes=false --vm-driver="virtualbox" --cpus $CPUS --memory $MEMORY --disk-size $DISK --docker-env="http_proxy=$http_proxy" --docker-env="https_proxy=$http_proxy" --docker-env="HTTP_PROXY=$http_proxy" --docker-env="HTTPS_PROXY=$http_proxy"`

This command

[2020-03-06 12:41] sandeepbbk commented on #4481
We were facing the similar issue. Deleting the http-cache helped.
rm -rf ~/.kube/http-cache/*

[2020-03-06 13:17] AndTheDaysGoBy opened #6911 "Digest Verification + Connecting to Docker Daemon Issues - Daemon Version 1.41 > 1.40"
From a fresh install of docker and minikube, performing `minikube start --vm-driver=kvm2` at times fails and at times works. When I can get it up and running, a failure eventually occurs in pulling images for any public image (i.e. a digest verification error--note, this sometimes happens during minikube start).
Checking `minikube logs` I find that the socket for the docker daemon cannot be connec

[2020-03-06 15:34] pwhissell commented on #951
The lease deletion workaround implemented as a bash script for ubuntu users:
[code]

[2020-03-06 16:59] eox-dev commented on #5392
Wanting to check in on WSL2 support.

Just thought I'd give it a shot but running into:
[code]
Docker is running with `sudo service docker start` though and `docker run hello-world` works fine.

` ~/projects/current/croner/croner-app   master ?                                                                                                     ✔  97  08:53:28
 $ sudo minikube start --vm-driv

[2020-03-06 18:51] Nick-Harvey opened #6912 "nvidia-driver-installer addon fails to start (driver fails to install in the container)"
**The exact command to reproduce the issue**:
Following the instructions on https://minikube.sigs.k8s.io/docs/tutorials/nvidia_gpu/

Host: Fedora 31
Kernel: 5.5.7-200.fc31.x86_64
Cuda Drivers Host: 10.2
Nvidia Driver Host: Driver Version: 440.64

GPUs:
- Titan V (vfio-pci driver assigned)
- Geforce 1080TI (host GPU nvidia driver)

Minikube start:
`minikube start --vm-driver kvm2 --kvm-gpu --cpus=1

[2020-03-06 18:51] #6713 closed

[2020-03-06 18:51] #6899 closed

[2020-03-06 18:57] Nick-Harvey commented on #6912
Additional Info...

[code]

**Titan GPU:**
[code]

**Geforce 1080ti**
[code]

[2020-03-06 19:55] tstromberg opened #6916 "docker-env + pause: Error: No such container: minikube"
At head with the Docker driver. It seems that if you use `docker-env`, it breaks `minikube pause`, since it's trying to communicate with wrong Docker driver.

[code]

[code]

[2020-03-06 20:07] ouyangck opened #6918 "hyperv: PermissionDenied: (:) [Start-VM], VirtualizationException"
After installed minikube, I tried to start it with minikube start --vm-driver=hyperv. But got the following error:

E0306 15:00:09.591838   12772 main.go:106] libmachine: [stderr =====>] : Hyper-V\Start-VM : 'minikube' failed to start. (Virtual machine ID D43F8370-1920-4398-AAF3-19C8C7B6F0E6)
At line:1 char:1
+ Hyper-V\Start-VM minikube
+ ~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : Per

[2020-03-06 20:50] predatorian3 commented on #5891
This is the error that I get using `minikube-1.6.2-windows-amd64.exe` on `hyperv`.

[code]

I chose to use that version as it was the last stable version before 1.7.* series and the 1.7.3 version didn't actually seem to adhere to my timeout modifications or show any kind of verbosity in the command when given `--v=7`.

[2020-03-06 20:57] #5482 closed

[2020-03-06 21:01] #6916 closed

[2020-03-06 21:48] medyagh commented on #6862
@starbassma try minikube stop and then shutdown and then start

[2020-03-06 21:48] medyagh commented on #6862
thanks for that information, You are right, it seems like we will have to end up creating new networks for ourselves

[2020-03-06 21:51] medyagh opened #6921 "Make website documentation versioned"
we recently updated docs that --vm-driver to --driver
and that was true for head ! but not for the binary that people donwload and use.

so we need versioned documentation for HEAD and also for releases.

[2020-03-06 22:18] medyagh opened #6922 "add integeration test for ingress addon."
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-06 22:27] alanbrent commented on #6922
(Continuing from [a #minikube Slack convo](https://kubernetes.slack.com/archives/C1F5CT6Q1/p1583533138174100))

At a high level, we do the following

1. Install an Ingress Controller (ours is `haproxy` for no good reason, any Ingress Controller will do including I assume a `minikube` ingress addon)
    - we do this as part of a wrapper script that prepares the local environment, starts minikube, a

[2020-03-06 22:36] medyagh commented on #6922
@alanbrent could you share the yaml files and all the configurations as you do it manually to setup ha proxy ?

[2020-03-06 22:55] tstromberg opened #6923 "docker: index .NetworkSettings.Ports index of untyped nil"
[code]

https://storage.googleapis.com/minikube-builds/logs/6920/e1049e7/Docker_Linux.html

It seems like the `oci.HostPortBinding` may be called before the container has a port bound:

[code]

[2020-03-06 23:14] #6862 closed

[2020-03-06 23:25] alanbrent commented on #6922
Here you go. Note that the TLS bits aren't actually sensitive, it's just a self-signed cert I generated to satisfy whatever cargo culting I was doing :) I would imagine that constructing your tests around the ingress-controller minikube addon would be a much easier path to achieve the desired testing, but I may not fully understand what you're looking to achieve here :)

<details><summary>Very sim

[2020-03-06 23:56] medyagh commented on #6923
we still have this issue https://storage.googleapis.com/minikube-builds/logs/6924/a58a9f0/Docker_Linux.html#fail_TestStartStop%2fgroup%2fcontainerd

[2020-03-07 01:41] AndTheDaysGoBy commented on #6911
Update, I attempted to debug the issue myself. My conclusion being a version issue, see the bottom:

Restarted, `minikube stop && minikube delete && minikube start --vm-driver=kvm2 --v=9 --alsologtostderr`

First place where errors were seen. It may be fine, i.e. the error code of 1 might just signify that the file doesn't exist and that's why the subsequent event is to copy over the *.pem files.

[2020-03-07 02:14] AndTheDaysGoBy commented on #6911
Interesting. Performing `minikube ssh && docker version` yields that the daemon is indeed 1.40, not 1.41.
``
Client: Docker Engine - Community
 Version:           19.03.6
 API version:       1.40
 Go version:        go1.12.16
 Git commit:        369ce74a3c
 Built:             Thu Feb 13 01:24:49 2020
 OS/Arch:           linux/amd64
 Experimental:      false

Server: Docker Engine - Community
 Engi

[2020-03-07 02:33] medyagh commented on #4347
is there still interest to do this ?
@afbjorklund
@tstromberg grahamwhaley

[2020-03-07 02:52] AndTheDaysGoBy commented on #6911
Looking into https://github.com/rancher/rke/issues/1711 I performed `export DOCKER_API_VERSION=1.40` and then `minikube start --vm-driver=kvm2 --v=9 --alsologtostderr` and, wouldn't you know, it worked without errors.

So,
**Conclusions**
* The update to Minikube 1.8.0 made the logs less verbose, losing the knowledge that the reason the daemon was failing was due to the API version.
* The override

[2020-03-07 03:13] AndTheDaysGoBy commented on #6911
Note, although this gets stuff running, upon running a simple:
`kubectl run nginx --image=nginx --replicas=1` I proceed to `kubectl describe pod nginx-6db489d4b7-xqb5q` only to find (it hanged a bit on the describe step, not sure if relevant)
[code]
I first question why the verification failed. I'm presuming it's due to the following (although, it could also be the reverse, the above failure leads

[2020-03-07 04:22] sandyleo26 commented on #6424
happy to take a shot at it!

[2020-03-07 05:38] reeseann commented on #4206
Same issue, same configuration as @nickwilmes except Catalina. As a workaround, the virtualbox driver seems to be working (thx @fezho)

[2020-03-07 06:51] medyagh commented on #6843
this would be really cool !

[2020-03-07 07:07] medyagh commented on #6504
This was done for both container and VM.

[2020-03-07 07:07] #6504 closed

[2020-03-07 07:07] #6299 closed

[2020-03-07 07:12] medyagh opened #6933 "Preload containerd images"
implement preload for containerd for overlay2.
by generating a tar ball with all images for a kubernetes version, similar to our docker runtime.

[2020-03-07 07:14] medyagh opened #6934 "Preload CRI-O images"
implement preload for CRI-O runtime

[2020-03-07 07:19] medyagh opened #6935 "Create process for generating preload tar files"
Requirements
- we should not ever overwrite a tar bar that was tested/used with a release.
example, minikube v1.8.0 was tested with a specific tar file.
if we change something in the tar file in minikube v1.9.0, the people who are using minikube v1.8.0 should still be using the tar file that we tested with 1.8.0

- Automated script to geneate tar files for a list of kuberentes versions
- Push only

[2020-03-07 07:33] #6884 closed

[2020-03-07 07:33] medyagh commented on #6884
closing in favor of https://github.com/kubernetes/minikube/issues/6935

[2020-03-07 07:34] #6660 closed

[2020-03-07 07:34] #6558 closed

[2020-03-07 07:34] #6534 closed

[2020-03-07 07:34] #6518 closed

[2020-03-07 07:35] medyagh commented on #6518
@ninja-tester the reason is, minikube wants to make sure, u are using the kubectl compatible with your k8s version. (they could be incampatible)

[2020-03-07 07:43] medyagh opened #6936 "experiment with google cloud build"
https://cloud.google.com/cloud-build/docs/automating-builds/run-builds-on-github

I am curious if we can offload some of our tests to google cloud build.
to take out as much out of jenkins to more transparent process which is in the github source control.

[2020-03-07 07:47] medyagh opened #6937 "Add makefile target to generate HTML integration test results windows"
Ideally I want to run a make target that runs integraiton tests and generates html report for me.
there should be option to test small or all tests

so I dont have to keep opening a cheat sheet for it

[2020-03-07 07:53] medyagh commented on #6116
I believe this was fixed by https://github.com/kubernetes/minikube/pull/6111

[2020-03-07 07:53] #6116 closed

[2020-03-07 08:59] prasadkatti opened #6938 "host reuse on older ISO: Failed to preload container runtime Docker"
**The exact command to reproduce the issue**:
`minikube start` on Mac with minikube version 1.8.1.

**The full output of the command that failed**:<details>
 $ minikube start
😄  minikube v1.8.1 on Darwin 10.14.6
✨  Using the hyperkit driver based on existing profile
💾  Downloading driver docker-machine-driver-hyperkit:

🔑  The 'hyperkit' driver requires elevated permissions. The following command

[2020-03-07 09:04] afbjorklund commented on #6843
It is now available here:
https://storage.googleapis.com/minikube/releases/latest/minikube-linux-arm

[2020-03-07 09:04] #6843 closed

[2020-03-07 09:04] afbjorklund commented on #5667
Now available here:
https://storage.googleapis.com/minikube/releases/latest/minikube-linux-arm64

[2020-03-07 09:04] #5667 closed

[2020-03-07 09:11] afbjorklund commented on #6525
Now available here:
https://storage.googleapis.com/minikube/releases/latest/minikube-linux-ppc64le

[2020-03-07 09:11] #6525 closed

[2020-03-07 09:26] afbjorklund commented on #6938
Since you are using an existing machine, it uses the older ISO that doesn't have `lz4` support.
But it should work OK, and fall back to caching images rather than loading the pre-loaded tar ?

[2020-03-07 09:33] afbjorklund commented on #6868
Wouldn't it be more logical to keep these as two different tarballs ?

So you could share kubeadm between different runtimes, etc.

[2020-03-07 14:20] Nick-Harvey commented on #6912
Just attempted the process again with minikube v 1.8.1 and no luck :(

I didn't see anything in the change notes that would have helped, but it was worth a shot :)

[2020-03-07 14:41] afbjorklund commented on #6938
We _could_ check if the `lz4` binary is available, before trying to use it with the flag to `tar`.
That would avoid the scary output, especially when it's dumping the entire usage (twice)...

[2020-03-07 15:05] afbjorklund commented on #6886
Would have been nice to have an "oci" API without requiring the docker daemon concept in the name.

Basically what it wants to do is "env -u", to unset the environment. Not so much "point" to something ?

[2020-03-07 15:10] afbjorklund commented on #6489
This sounds like something that should be a part of **docker**, rather than minikube ?
i.e. displaying the DOCKER_HOST in the prompt

We don't even put the current kubectl context in the prompt, which sounds more related.
Like in https://github.com/jonmosco/kube-ps1

[2020-03-07 15:17] afbjorklund commented on #4347
@medyagh : not interested, sorry

[2020-03-07 15:38] afbjorklund commented on #5021
Did we find out where the extra 0.25 came from ? i.e. why it requires even more memory now

[2020-03-07 17:27] afbjorklund opened #6942 "Make custom image for KIC similar to minikube ISO"
Currently we are using the KIND base image for the KIC driver:

https://github.com/kubernetes/minikube/blob/master/hack/images/kicbase.Dockerfile
[code]

This image (docker.io/kindest/base) is in turn based on Ubuntu:

https://github.com/kubernetes-sigs/kind/blob/master/images/base/Dockerfile
[code]

As with the other base images, this one starts from a rootfs tarball:

https://hub.docker.com/_/ub

[2020-03-07 17:30] afbjorklund commented on #6942
ping @medyagh

[2020-03-07 17:35] tstromberg commented on #6938
Thanks for the report! The error is mostly harmless, but states that a start-time optimization isn't available.  The error definitely looks scarier than it should be.

If it bothers anyone, you can run `minikube delete` to create a new cluster from the latest ISO. On the plus side, it'll boot 10 seconds faster with this optimization.

[2020-03-07 19:18] tstromberg commented on #6909
@nengbowan - My bet is that the VM ran out of memory, and the kernel killed the apiserver. If you run `minikube ssh dmesg`, you will likely see "Out of memory" type errrors.

The good news is that newer versions of minikube make it significantly more difficult for this situation to occur.  I recommend running `minikube delete` and upgrading to minikube v1.8.1. Let me know if this helps!

[2020-03-07 20:38] ashleyconnor commented on #6296
`dnsmasq` was causing issues for me:

[code]
Minikube then runs without issues.

[2020-03-07 20:50] nagoclpl opened #6943 "Error getting primary cp: could not find master node"
I am on this Mac ...
[code]
I have installed minikube thus ...
[code]
Here's the version of minikube installed ...
[code]
I try to start minikube and face issue ...
[code]

[2020-03-07 22:31] cvila84 opened #6944 "Cannot preload container runtime docker on windows client"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
$ minikube start --v=8
* minikube v1.8.1 on Microsoft Windows 7 Enterprise Service Pack 1 6.1.7601 Build 7601
* Automatically selected the virtualbox driver
* Downloading VM boot image ...

* Creating virtualbox VM (CPUs=2, Memory=4051MB, Disk=20000MB) ...
* Downloading preloaded

[2020-03-07 22:41] robrich commented on #6683
I hit this issue too. For the last few days, re-running `minikube start` would eventually get it started, but today it never got past go.  Both 1.7.3 and 1.8.1 didn't work, though running the same powershell command yielded `%ERRORLEVEL%` of `0`. Switching to 1.6.2 started up just fine.

[2020-03-07 22:58] BenHall commented on #6943
We're also getting this on 18.04.

The environment to reproduce is https://katacoda.com/courses/kubernetes/launch-single-node-cluster

Run:
[code]

[2020-03-07 23:22] nagoclpl commented on #6943
Thanks for the workaround. I have verified that minikube starts fine after flushing the minikube directory (created for minikube 1.6).

[2020-03-08 05:06] gkwan opened #6945 "kvm2: create host timed out in 120.000000 seconds"
**The exact command to reproduce the issue**:
minikube start --vm-driver kvm2 --v=5

**The full output of the command that failed**:<details>
minikube v1.8.1 on Arch 2019.10.28
  Using the kvm2 driver based on user configuration
  Downloading driver docker-machine-driver-kvm2:

  Downloading VM boot image ...

  Creating kvm2 VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...
  Downloading preloaded ima

[2020-03-08 08:16] afbjorklund commented on #6911
The API is supposed to negotiate the version, but we have seen cases and code paths where this is not done...

The docker client library was recently updated to latest/greatest, that might have caused issues like this

[2020-03-08 08:28] VirannaGadgoli commented on #6844
Here is the output of that command:

 minikube start --alsologtostderr -v=4

I0308 13:54:59.135899   12744 notify.go:125] Checking for updates...
I0308 13:54:59.915787   12744 lock.go:35] WriteFile acquiring C:\Users\Admin\.minikube\last_update_check: {Name:mk828987ef1baeb3a88ee65561d38daec3e6ae2d Clock:{} Delay:500ms Timeout:1m0s Cancel:<nil>}
* minikube 1.8.1 is available! Download it: https://g

[2020-03-08 08:31] afbjorklund commented on #6911
@AndTheDaysGoBy : Some of the errors mentioned above have indeed been fixed (in 1.8.1), so it would be good to know which ones are actually remaining in the latest release - especially crashes.

[2020-03-08 08:36] afbjorklund commented on #6943
Seems to be an issue, when "upgrading" old machines (i.e. profiles) from 1.6 to 1.8 ?

The NodeType was changed from "Master" to "ControlPlane", without an upgrade path:
https://github.com/kubernetes/minikube/commit/0b460e6cb77cc60710f6816bb51cbe48fe039ec9

ping @sharifelgamal

[2020-03-08 08:39] afbjorklund commented on #6944
Wonder how this one passed the integration tests (on Windows), but the fallback should be working

[2020-03-08 08:45] afbjorklund commented on #6865
Shouldn't this take the _Kubernetes_ version, rather than the minikube commit SHA ?

[2020-03-08 08:57] sharifelgamal commented on #6943
yeah this is fixable. I'll add some backwards compatibility and fix the error message.

[2020-03-08 10:20] happykayy opened #6946 "kubeconfig/admin: a kubeconfig file "/etc/kubernetes/admin.conf" exists already but has got the wrong CA cert"
I'm working under ubuntu. After installed minikube, I run the command :
minikube start --vm-driver=none

I got the output:
😄  minikube v1.7.3 on Ubuntu 18.04
✨  Using the none driver based on user configuration
⌛  Reconfiguring existing host ...
🔄  Starting existing none VM for "minikube" ...
ℹ️   OS release is Ubuntu 18.04.3 LTS
🐳  Preparing Kubernetes v1.17.3 on Docker 18.09.7 ...
    ▪ kubelet.

[2020-03-08 11:10] govargo opened #6947 "[Unit Test]TestCreateSSHShell fails"
**The exact command to reproduce the issue**:

Unit test `TestCreateSSHShell` fails with following output.

[code]

I found this error has happend from v1.7.3 which changed directory(`pkg/minikube/machine`, `pkg/minikube/cluster`).

But, when I checkout recent PR's unit test result, I could not find same error.
So, I think this issue may happen when local machine's OS is macOS or specific OS.

**T

[2020-03-08 11:10] govargo commented on #6947
/assign

[2020-03-08 11:13] afbjorklund commented on #6947
We have seen the same error in CI, I think there's something wrong with the test (mocking)

[2020-03-08 11:17] govargo commented on #6947
Thanks!
I'll send PR soon.

[2020-03-08 11:30] afbjorklund commented on #6856
It is up to you, if the scenario is adequately described in the previous issue then we can close as dupe.

[2020-03-08 12:23] #6664 closed

[2020-03-08 12:31] AndTheDaysGoBy commented on #6911
@afbjorklund I see the `api/common.go: DefaultVersion = "1.41"` you're showing me, but I found it weird that `minikube ssh && docker version` showed `1.40`. I would've expected everything to think the version is `1.41`.
Anyhow
**Resolution**
The hack fix was to set the `DOCKER_API_VERSION=1.40`. This was necessary up to `1.8.0`. Upon updating Minikube to `1.8.1`, no environment variable needs to b

[2020-03-08 12:31] #6911 closed

[2020-03-08 12:48] afbjorklund commented on #6911
It is quite the opposite, everything on the minikube VM is running with Docker 19.03 now (1.40)

Can you please try 1.8.1 without DOCKER_API_VERSION ? It is _supposed_ to negotiate it.

[2020-03-08 12:58] afbjorklund opened #6950 "Always "downloading VM boot image" message"
The output was changed a bit, so now we _always_ get:

`💿  Downloading VM boot image ...`

Even when the files are already download, and it just stats.

[2020-03-08 13:17] AndTheDaysGoBy opened #6951 "Missing Authentication ConfigMap and kube-proxy Issues - Connection Refused - Invalid Network Status for <blank>"
Containers upon a clean start up:
[code]

First potential oddity is the failure regarding updating the statusUpdateNeeded:
[code]

This may be a non-issue though since the node is, subsequently, created or referenced:
[code]

An actual error is then seen regarding kube-proxy:
[code]

The logs for kube-proxy show wherein the `clusterCIDR not specified` message seems potentially worrisome:
[code]

T

[2020-03-08 13:28] AndTheDaysGoBy commented on #6951
I guess I'll include the docker state alongside the final container state:
[code]
[code]

[2020-03-08 14:23] gillespiejim78 commented on #3900
I am having the same issue on a Windows 10 Home machine. Virtualization is enabled, and I am able to run other VMs using VirtualBox.

I have tried using the --no-vtx-check, and I end up getting a timeout. Looking at the VM in VirtualBox, it appears to be stuck at "Booting the kernel."

[2020-03-08 14:26] gillespiejim78 commented on #6171
I am having the same issue on a Windows 10 Home machine. Virtualization is enabled, and I am able to run other VMs using VirtualBox.

I have tried using the --no-vtx-check, and I end up getting a timeout. Looking at the VM in VirtualBox, it appears to be stuck at "Booting the kernel."

/reopen

[2020-03-08 14:43] gillespiejim78 opened #6952 "virtualbox: --no-vtx-check: host timed out in 120.000000 seconds"
I am having the same issue on a Windows 10 Home machine. Virtualization is enabled, and I am able to run other VMs using VirtualBox.

I have tried using the --no-vtx-check, and I end up getting a timeout. Looking at the VM in VirtualBox, it appears to be stuck at "Booting the kernel."

**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<det

[2020-03-08 17:37] cvila84 commented on #6944
I confirm the fallback works but it takes time as it first downloads 500M for nothing :)

[2020-03-08 18:19] #6947 closed

[2020-03-08 18:22] #6938 closed

[2020-03-08 18:25] medyagh opened #6954 "none driver: support non systemd ways to restart docker"
currently if u run none driver on a system that does have docker but it is not systemd
it wont work !

because we expect docker restart to use systemctl (and init.d scripts wont work)

[code]

https://github.com/kubernetes/minikube/blob/master/pkg/minikube/cruntime/docker.go#L101

we could try do restart docker service using "service restart docker" if there is no systemctl service file for docker

[2020-03-08 18:30] medyagh commented on #4313
@vaibhavk  are you still interested to do this ?

[2020-03-08 18:31] medyagh commented on #2704
related https://github.com/kubernetes/minikube/issues/6954

we still need to do this ! anyone interested ?

[2020-03-08 18:34] medyagh commented on #6944
@cvila84 thank you very much reporting this issue ! that is defentiy a bug !

shamefully our windows integration tests are broken, we have a WIP PR to add windows docker test for github actions.

I will make sure this bug is fixed as soon as possible.

[2020-03-08 18:38] medyagh commented on #6946
@happykayy  I am curious had you previously copied certs to ~/.minikub/certs for corp certs?

we fixed a bug about certs in newest version minikube 1.8.1
do you mind trying with latest version to see if that will fix the problem?

[2020-03-08 18:39] medyagh commented on #6945
@gkwan do you mind sharing the logs with this options ?

[code]

[2020-03-08 18:46] medyagh opened #6955 "clarify "m01" stopped in stop command"
per slack conversation, https://kubernetes.slack.com/archives/C1F5CT6Q1/p1583619714198600

the stop command shows.
"m01" stopped

this could be confusing for the users. we could clarify. node "m01" stopped

[2020-03-08 18:47] medyagh commented on #6955
cc: @sharifelgamal

[2020-03-08 18:55] medyagh opened #6956 "Test Flake: calculate hash for cacert: Expecting: TRUSTED CERTIFICATE"
As seen on a PR on the head:
https://storage.googleapis.com/minikube-builds/logs/6953/9e72a2a/Docker_Linux.html#fail_TestStartStop%2fgroup%2fold-docker

for TestStartStop:
[code]

CC: @tstromberg

[2020-03-08 19:07] #6950 closed

[2020-03-08 19:13] medyagh opened #6958 "Fix TestChangeNoneUser github actions"
[code]

[2020-03-08 19:17] gkwan commented on #6945
[code]

[2020-03-08 21:01] afbjorklund commented on #6954
sound good, if not running systemd then service should be available (or easy enough to add).

This issue applies to all the runtimes, not only docker. It is also used for the kubelet, for example.

So the functionality (start/stop/restart/is-active) should probably move into some library functions ?

[2020-03-08 21:14] afbjorklund commented on #6954
Apparently last one needs LSB `status_of_proc` https://wiki.debian.org/LSBInitScripts/StatusSupport

[2020-03-08 21:19] afbjorklund commented on #6954
@medyagh : do we have any supported environments remaining, that **don't** use systemd ?

it used to be mostly for the older versions of ubuntu, used when travis used containers not vms

[2020-03-08 21:25] afbjorklund commented on #4767
Still there, but moved to pkg/minikube/command/ssh_runner_test.go

/remove-lifecycle stale

[2020-03-08 21:28] afbjorklund commented on #5549
Still broken, in 1.8.1.

[code]

/remove-lifecycle stale

[2020-03-08 22:14] derektumulak commented on #6631
I am running into the same issue here, running HyperV on Windows 10.

[2020-03-09 04:02] mvaldes14 commented on #6716
had the same issue, downgraded to 1.7.2. and it works (remove the machine and clear your ~/.minikube first)
seems like this is a problem with kvm2, was using 1.8.* with vbox and it worked but i prefer kvm.

[2020-03-09 06:01] JavascriptMick commented on #6943
I have same issue, on Mac, same build.  Where would I find this .minikube directory?

[2020-03-09 06:04] bkumar2018 opened #6961 "minikubestart --driver=none fails: [ERROR NumCPU]: the number of available CPUs 1 is less than the required 2"
**The exact command to reproduce the issue**:

**#minikube start --driver=none**

**The full output of the command that failed**:<details>

**#minikube start --driver=none**
* minikube v1.8.1 on Centos 7.7.1908
* Using the none driver based on user configuration
* Running on localhost (CPUs=1, Memory=4797MB, Disk=13706MB) ...
* Downloading preloaded images tarball for k8s v1.17.3 ...
* OS release

[2020-03-09 06:19] sharifelgamal commented on #6943
it should be in your home directory, usually under /Users/<username>

[2020-03-09 06:36] afbjorklund commented on #6961
@bkumar2018 : You will need to find a bigger computer, for minikube

[2020-03-09 06:51] applike-ss commented on #6856
closing as duplicate of #4733

[2020-03-09 06:51] #6856 closed

[2020-03-09 07:01] afbjorklund commented on #6856
@applike-ss : I rebased that other branch after months of not being used, so if you care to test it yourself it would be appreciated

[2020-03-09 07:41] sayboras opened #6962 "Integration Test: Unexpected EOF in archive (lz4)"
**The exact command to reproduce the issue**:
Integration test in CI
https://github.com/kubernetes/minikube/pull/6773/checks?check_run_id=494484169

**The full output of the command that failed**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-09 08:04] sayboras commented on #6954
I tried to run integration test with ubuntu docker (as I am developing in Mac). Then came across this issue as https://hub.docker.com/_/ubuntu 18.04 is running with `service` only.

Understand that running docker in docker is not ideal, but having VM is just too much for my 13' mac.

[2020-03-09 08:05] sayboras commented on #6958
@medyagh just came across this issue, seem like you are taking different path compared to https://github.com/kubernetes/minikube/pull/6773

[2020-03-09 08:40] chrissound commented on #2712
TBH this should not be closed.

Ideally we should validate / report an error if this parameter is NOT VALID.
And secondly the logs surely should say something more descriptive than just "node "minikube" not found".

[2020-03-09 09:52] grahamwhaley commented on #4347
iirc, the last discussion @egernst and I had centered around the fact that Kata is still developing reasonably fast, and we were mildly concerned that any direct kata-integration might rot and go stale/out of date pretty fast. If we based the integration around a pull/install of [kata-deploy](https://github.com/kata-containers/packaging/tree/master/kata-deploy) that would probably help, but then I

[2020-03-09 10:24] the-nw1-group commented on #6716
I've downgraded both kubectl and minikube to 1.17.2 and removed all machines and ~/.minikube, but it's still failing, although I get a different issue now:

[code]
Virtual machine is up and running
[code]

Not sure if it's related, but `minikube delete` hangs as well:

[code]

[2020-03-09 12:08] govargo commented on #6955
I reproduced this issue.

1. create two cluster with two profile(p01, p02).
2. stop cluster

[code]

It would be `minikube stop` output problem.

[2020-03-09 12:08] govargo commented on #6955
/assign

[2020-03-09 13:49] Phydeauxman opened #6964 "hyperv: The memory value assigned ('4077' MB) is not properly aligned."
Unable to create minikube cluster on Windows 10 host.

**Command run:**
`minikube start --driver=hyperv`

**The full output of the command that failed**:<details>
[code]
</details>

**The output of the `minikube logs` command**:<details>
[code]
</details>

**The operating system version**:
`Windows 10 Pro Version 1909 Build 18363.657`

[2020-03-09 13:59] govargo commented on #4456
I think this issue had been resolved.

[code]

and I confirmed HPA is working.

[code]

[2020-03-09 14:59] Phydeauxman commented on #6964
This error was being caused by the fact that minikube was trying to create a VM with 4077 MB of memory. Hyper-V requires VMs to have memory in 2 MB increments. When specifying the amount of memory explicitly suing the `--memory` parameter, error went away and VM was successfully created.

[2020-03-09 15:25] applike-ss commented on #6856
@afbjorklund i didn't find your changeset. It isn't this one, right? https://github.com/afbjorklund/minikube/tree/generic

[2020-03-09 15:41] wuyd2 opened #6965 "sudo tar -I lz4 -C /var -xvf /preloaded.tar.lz4: exit status 2"
centos7 Virtual Machine [Vmware]
[root@localhost ~]# minikube start  --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers    --vm-driver=none
* minikube v1.8.1 on Centos 7.4.1708
* Using the none driver based on user configuration
* Using image repository registry.cn-hangzhou.aliyuncs.com/google_containers
* Running on localhost (CPUs=4, Memory=1494MB, Disk=100001MB) ...
* Downlo

[2020-03-09 16:03] cvila84 commented on #6944
@afbjorklund did not mean to be rude with my comment, I'm actually happy it still works !
@medyagh many thanks !

[2020-03-09 16:11] sharifelgamal commented on #5683
/remove-lifecycle-stale

[2020-03-09 16:11] sharifelgamal commented on #5683
/remove-lifecycle stale

[2020-03-09 16:29] afbjorklund commented on #6964
This is related to the brand new “dynamic memory” feature, minikube should probably round off the calculated values... And the Windows CI need some fixing too

[2020-03-09 16:32] afbjorklund commented on #6965
Do you have `lz4` installed ? Seems like tar installed half an image, maybe there should some sanity checks after unpacking... Not sure how you would disable the preload

[2020-03-09 16:33] afbjorklund commented on #6962
Users are seeing similar bugs

[2020-03-09 17:13] #6955 closed

[2020-03-09 17:58] hantsy commented on #3860
Used the mirror repo(registry.cn-hangzhou.aliyuncs.com/google_containers), still failed, there is checksum still using Google service.

[code]

[2020-03-09 18:01] bodom0015 commented on #3129
@medyagh I can confirm that this still happens in v1.8.1 with the exact same error message:
[code]

[2020-03-09 18:11] bodom0015 commented on #6523
Possibly duplicated by #3129, which appears to still be present in v1.8.1

[2020-03-09 18:14] medyagh opened #6966 "Add gopogh for windows tests"
We need to add html report for our windows tests using gopogh.

in common.sh

[2020-03-09 18:20] Pbabbar7 commented on #6944
I am getting error..

E0309 23:50:01.351036    4104 config.go:71] Failed to preload container runtime Docker: copying file: sudo test -d \ && sudo scp -t \ && sudo touch -d "2020-03-09 23:49:59.6914307 +0530" \/preloaded.tar.lz4: Process exited with status 1
output: , falling back to caching images

[2020-03-09 18:56] hantsy opened #6967 "Minikube start error: E0310 02:47:49.441456 9536 cache.go:116] Error caching images: saving checksum file"
The iso download is successfully, but the checksum failed. This could a network issue in China. I am using Microsoft Hyper-V as VM.

In my host, I can access the URL *Get https://www.googleapis.com/storage/v1/b/minikube-preloaded-volume-tarballs/o/preloaded-images-k8s-v1-v1.17.3-docker-overlay2.tar.lz4?alt=json&prettyPrint=false&projection=full* via a proxy. I am not sure this URL is accessed in m

[2020-03-09 19:00] #4400 closed

[2020-03-09 20:20] afbjorklund commented on #6856
Yeah, I meant #6873

[2020-03-09 20:24] sayboras commented on #6962
And the error is quite lengthy as well, so can just print StdErr instead of Output.

https://github.com/kubernetes/minikube/blob/master/pkg/minikube/cruntime/docker.go#L295

[2020-03-09 20:25] afbjorklund commented on #6523
Pushing a v1.8.2 sounds like a good fix for this (the bad binary).

[2020-03-09 21:45] #6551 closed

[2020-03-09 22:15] sandeep-sidhu commented on #4481
I hit this issue when I deleted minikube and started it again.   Clearing the ~/.kube/http-cache/ helped.  It seems you needs to clear it everytime u rebuild minikube from scratch with minikube delete and start your minikube again.

[2020-03-09 23:13] #6944 closed

[2020-03-09 23:15] JavascriptMick commented on #6943
Ok so confirming the fix above however be cautious.  your .minikube directory contains config for how you run minikube so only delete it if you remember how you set up minikube in the first place.  In my case, I had set up minikube using virtual box and deleting the .minikube directory wiped out that setup config so I had to...

[code]

[2020-03-09 23:43] mjgallag commented on #5610
New version of `hyperkit` with Cataline fix is finally available on `Homebrew`, see https://github.com/Homebrew/homebrew-core/pull/50655 & https://github.com/moby/hyperkit/issues/267 for details.

[2020-03-09 23:44] mjgallag commented on #5594
New version of `hyperkit` with Cataline fix is finally available on `Homebrew`, see https://github.com/Homebrew/homebrew-core/pull/50655 & https://github.com/moby/hyperkit/issues/267 for details.

[2020-03-09 23:46] mjgallag commented on #5811
New version of `hyperkit` with Cataline fix is finally available on `Homebrew`, see https://github.com/Homebrew/homebrew-core/pull/50655 & https://github.com/moby/hyperkit/issues/267 for details.

[2020-03-09 23:47] mjgallag commented on #5568
New version of `hyperkit` with Cataline fix is finally available on `Homebrew`, see https://github.com/Homebrew/homebrew-core/pull/50655 & https://github.com/moby/hyperkit/issues/267 for details.

[2020-03-10 01:38] etanshaul opened #6971 "docker: stop/delete hung at libmachine: Stopping "[my-profile]"..."
minikube version 1.7.3

`minikube status -p [my-profile] --alsologtostderr -v=1`:
[code]

`minikube stop -p [my-profile]`
[code]

`delete --all --purge` also shows the same error, and hangs. It was working for several command before this but somehow got into this state.

[2020-03-10 08:31] baludba opened #6972 "X Unable to start VM. Please investigate and run 'minikube delete' if possible: creating host: create: precreate: exec: "docker": executable file not found in $PATH"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-10 08:31] #6972 closed

[2020-03-10 08:37] lukaszbudnik commented on #2481
Didn't work for me on minikube v1.6.2
Upgraded minikube yesterday to v1.8.1 and still doesn't work.

Mounted dirs are empty (either explicit via mount string or the default home dir)

[code]

I checked with virtualbox driver and same issue. Mounted dir is empty.

I only got it working with driver=docker. However docker driver has other issues like `minikube dashboard` not working.

Being able to m

[2020-03-10 09:02] gangganghong commented on #6247
@medyagh It happens when I'm not using vpn.

[2020-03-10 09:02] gangganghong commented on #6247
@priyawadhwa Not any more.

[2020-03-10 09:08] #6247 closed

[2020-03-10 09:22] henryodinaka opened #6973 "hyperv: The memory value assigned ('4019' MB) is not properly aligned"
I am new to k8s and trying to start minikube but kept seeing the error below.

**The exact command to reproduce the issue**:   minikube start --driver=hyperv

**The full output of the command that failed**:<details>

 Hyper-V\New-VM : Failed to modify device 'Memory'.
Invalid memory value assigned for 'minikube'. Memory values must be properly aligned.
'minikube' failed to modify device 'Memory'.

[2020-03-10 10:08] Doqnach opened #6974 "v1.8.1: Noisy "Failed to preload container runtime Docker" for non-default Kubernetes versions"
**The exact command to reproduce the issue**:

[code]

**The full output of the command that failed**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>

[code]

</details>

**The operating system version**:

* MacOS 10.15.3
* hyperkit
* kubernetes v1.13.12
* lz4 installed (`brew install lz4`)

[2020-03-10 11:30] klicki commented on #6716
Check your protections and whether you are in the appropriate groups.

[2020-03-10 11:32] govargo commented on #6974
Minikube v1.8.0 now preloads tarball(kubernetes binaries) after creating VM.

However it seems there is no tarball but kubernes-v1.7.3.

https://storage.googleapis.com/minikube-preloaded-volume-tarballs/

[2020-03-10 12:15] Smolevich commented on #6895
Os: Macos Mojave 10.14.6
Minikube version: 1.8.1
Error: `command runner: getting ssh client for bootstrapper: Error dialing tcp via ssh client: dial tcp 127.0.0.1:22: connect: connection refused`

[2020-03-10 12:55] gred7 opened #6975 "kvm: ssh: unable to authenticate -> create host timed out"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>

➜  ~ minikube start
😄  minikube v1.8.1 on Ubuntu 18.04
✨  Using the kvm2 driver based on existing profile
💿  Downloading VM boot image ...
⌛  Reconfiguring existing host ...
🏃  Using the running kvm2 "minikube" VM ...

💣  Unable to start VM. Please investigate and run 'minikube d

[2020-03-10 13:46] the-nw1-group commented on #6716
I've switched from kvm to VirtualBox, and minikube start and delete seem to be working.

[2020-03-10 14:00] afbjorklund commented on #6944
Sorry, I just meant it was sad that it failed in Windows - too few github reaction icons to click I suppose...

We need to get Windows CI back

[2020-03-10 14:01] tstromberg commented on #6974
Oops. This error shouldn't be sent to console. It's been fixed at head and will not show up in v1.8.2.

[2020-03-10 14:19] #6943 closed

[2020-03-10 14:20] gurukodi opened #6976 "none: lz4 not found -> Port 10257 is in use"
Exact command:
sudo minikube start --vm-driver=none

Output:
 minikube v1.8.1 on Ubuntu 16.04
✨  Using the none driver based on user configuration
🤹  Running on localhost (CPUs=16, Memory=32153MB, Disk=906534MB) ...
ℹ️   OS release is Ubuntu 16.04.6 LTS
E0310 19:45:26.935762    8872 config.go:71] Failed to preload container runtime Docker: extracting tarball:
** stderr **
tar (child): lz4: Cannot

[2020-03-10 14:44] tstromberg commented on #4774
Fixed in v1.8

[2020-03-10 14:44] #4774 closed

[2020-03-10 15:25] zenbones commented on #6716
Good to know. Rather than using kvm, I think I'm going to drop this all into a kvm instance and run under docker. Not sure the kvm driver is ready for prime time.

David Berkman

On Tue, Mar 10, 2020 at 6:46 AM -0700, "Richard T" <notifications@github.com> wrote:

I've switched from kvm to VirtualBox, and minikube start and delete seem to be working.

—
You are receiving this because you were ment

[2020-03-10 16:00] fjallot commented on #6683
Hi, We hit this issue today too on windows 10. Switching to 1.6.2 resolved the issue as mentionned before, any news on a 1.7 fix ?

[2020-03-10 16:21] sharifelgamal commented on #6683
@robrich What sort of error were you getting running minikube 1.8.1?

[2020-03-10 16:55] tstromberg commented on #6973
I strongly suspect this has to do with v1.8's new automatic memory size selection.

Can you confirm if running `minikube delete` and then adding `--memory=4000` to your minikube start flag fixes the issue?

I'm really curious what the rules for hyperv memory alignment are.

[2020-03-10 17:13] robrich commented on #6683
@sharifelgamal: rerunning I see my error message in 1.8.1 is very different.  Is this a new issue?
[code]
... and the silly thing: 1.7.3 just worked, though it didn't 2 days ago.  I blame either windows update or the reboot afterwards.

[2020-03-10 17:20] sharifelgamal commented on #6683
yeah, this is a different regression in 1.8.1 that's getting fixed soon. the workaround for that error is just to `minikube delete` and delete your `.minikube` directory.

[2020-03-10 17:41] medyagh opened #6981 "preload removes images built by user in docker-env"
### with docker-env on: build an image:
[code]
### check the image is tehere
[code]

### re-load minikube
[code]

## check for images again, it is gone :(
[code]

[2020-03-10 17:53] afbjorklund commented on #6976
Looks like the ports are already in use... Do you have another minikube running in the background perhaps?

[2020-03-10 17:57] vinnyfs89 commented on #1229
Try this [link](https://minikube.sigs.k8s.io/docs/reference/networking/proxy)

[2020-03-10 18:07] afbjorklund commented on #6981
Maybe need to reminded, if you are adding the storage layers directly ?

[2020-03-10 18:08] a-yiorgos commented on #6981
Hi!

I confirm the exact same behavior on:
- Ubuntu 19.10 host
- VirtualBox 6.0.14
- minikube 1.8.1
- 1.17.3

If I use `--kubernetes-version=1.16.7` I get the expected behavior.

[2020-03-10 18:31] tliron opened #6982 "Registry addon cannot be accessed internally when using cri-o runtime"
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:

Pods fail to pull image from the registry, e.g.:
[code]

Note that I *can* push to the registry from outside via `localhost:5000/mycontainer`.

Switching to Docker runtime allows this to work.

**The operating system version**:

Fedora 31

[2020-03-10 18:33] noelleleigh opened #6983 "`tar: invalid option -- 'I'` during `minikube start`"
**The exact command to reproduce the issue**:

`minikube start --vm-driver virtualbox --extra-config=apiserver.service-node-port-range=1-50000 --disk-size 40g --memory 12288`

**The full output of the command that failed**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>

[code]

</details>

**The operating system version**: macOS 10.15.3 (19D76)

It looks lik

[2020-03-10 18:56] afbjorklund commented on #6981
@medyagh : and with "index", I meant the `repositories.json`

[2020-03-10 18:56] afbjorklund commented on #6981
Probably only because there is no preload (yet?) for that version...

[2020-03-10 19:03] medyagh commented on #6981
since this behaviour only happesn on a minikube reload (start again) I feel like if we make minikube not to preload on a "restart" or "soft restart" then we should not see this problem.

Wdyt @priyawadhwa  ?

[2020-03-10 19:05] medyagh commented on #6981
so you think the user's image is not over-written by our tar, it just needs re-index? how do we do re-index?

[2020-03-10 19:06] afbjorklund commented on #6981
Well, the layers themselves should be under the sha256 directories. It's the tags that need "merging"

My tarball has this:
[code]

[2020-03-10 19:10] afbjorklund commented on #6983
In the most recent ISO, the "tar" program was replaced with GNU tar (that does have such an option)

See d0b0dce7a23e37163cfc858c7c567b4f17e3dbd0

[2020-03-10 19:15] afbjorklund commented on #6983
Same as #6938

[2020-03-10 19:15] odelucca opened #6984 "Can't enable HPA"
I'm trying to deploy a Kubeless function and use HPA to autoscale it. I've deployed the function, enabled the `metrics-server` addon and created the autoscaling accordingly.

After all the required steps, here is the `describe` of my resource:

[code]

Can anyone help?

[2020-03-10 19:30] odelucca commented on #6984
For anyone who runs into this. You must pass the min CPUs for the resource in order for this to work. Also, you can create the autoscale with `kubeless` cli directly.

[2020-03-10 19:30] #6984 closed

[2020-03-10 19:31] Tony-Hu commented on #4206
I also met the issue when I connected with my Cisco AnyConnect VPN. Resolved by disconnect the VPN.

[2020-03-10 19:36] noelleleigh commented on #6983
So once #6941 is released, this error will be handled more gracefully? Is there a way to upgrade the ISO without having to `minikube delete` first?

[2020-03-10 19:41] afbjorklund commented on #6983
Not really "gracefully", more like silently ? Theoretically you could copy the `tar` and `lz4` binaries

[2020-03-10 20:17] ianfoo commented on #6523
Another user report in case it helps anyone:

I'd read this thread a number of times and still couldn't figure out how to get past having PVCs stuck in `Pending`. I had the right hash on the provisioner image, based on what's shown above. However, when I checked pods in namespace `kube-system` I saw `storage-provisioner` in `Terminating` state, stuck for some reason. I force deleted this pod (with

[2020-03-10 20:33] afbjorklund commented on #6982
You are saying that the registry works with `--container-runtime=docker`, but not with `--container-runtime=cri-o` ? (the above command-line is more talking about CNI options, rather than CRI...)

From the outside, it is normally more like: https://minikube.sigs.k8s.io/docs/tasks/docker_registry/

[2020-03-10 20:36] afbjorklund commented on #6973
Similar to #6964, apparently it only supports even numbers - not odd ones like 4019

[2020-03-10 20:40] priyawadhwa commented on #6981
Yah, so the layers are fine but the `repositories.json` is being overwritten so the tags disappear. I think skipping preload on reload is probably the right move here, since all the needed images should be loaded into the daemon anyway.

[2020-03-10 20:45] tliron commented on #6982
Ugh, so sorry, did a wrong copy and paste. Will edit the original issue,

[2020-03-10 20:49] afbjorklund commented on #6967
Unfortunately there is yet no way to disable preloading, and no way to select a local mirror either.

Both of these would probably be nice features to have.

But it after attempting the download, it should fallback to regular images (and the image repository)

ping @priyawadhwa and @medyagh

[2020-03-10 20:53] afbjorklund commented on #6982
Do you have the error output, like if you do a `describe pod` on it ?

[2020-03-10 21:03] tliron commented on #6982
These are the events:
[code]
Nothing much more in describe, just the fail reason being `ImagePullBackOff`.

[2020-03-10 21:23] afbjorklund commented on #6982
There doesn't seem to be anything in the registry logs, so I guess it is getting stuck in registry-proxy

It works from the outside, but just hangs from the inside. Even with `curl`, so something is wrong...

The internal IP are fine:
[code]

But not the localhost.

[code]

[2020-03-10 21:25] afbjorklund commented on #6982
Looks similar to https://github.com/cri-o/cri-o/issues/1804

[2020-03-10 21:32] tliron commented on #6982
Thank you for verifying. Any ideas of a temporary workaround?

[2020-03-10 21:41] afbjorklund commented on #6982
Note that it _has_ to be localhost, since that is the hack used to get an insecure registry...

`Failed to pull image "192.168.99.100:5000/test-img": rpc error: code = Unknown desc = error pinging docker registry 192.168.99.100:5000: Get https://192.168.99.100:5000/v2/: http: server gave HTTP response to HTTPS client`

The workaround is configuring the minikube IP as an insecure registry, in the c

[2020-03-10 21:54] tliron commented on #6982
Hm, so it looks like cri-o doesn't support Docker's "localhost is allowed as an insecure registry" hack? If that's the case, I think it should be documented that the registry addon doesn't work with cri-o, at least this time.

[2020-03-10 21:57] afbjorklund commented on #6982
Yeah, it seems like hostPort has some issues with cri-o and that should probably be documented...

[2020-03-10 21:58] tstromberg commented on #6973
This issue appears to be a duplicate of #6964, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-03-10 21:58] #6973 closed

[2020-03-10 21:59] afbjorklund commented on #6982
That part is supported just fine, since it tries to be bug-compatible at least for the docker:// protocol

[2020-03-10 22:23] tliron commented on #6982
I found a simple workaround. Get the registry service's cluster IP:
[code]
And then use that address, with port 80, for the image URL, e.g.:
[code]

[2020-03-10 23:41] tstromberg opened #6989 "addons enable istio: Invalid size passed in argument: invalid size: ''"
Something I noticed while trawling through our addons code is that the istio addon relies on flag values and does not respect autogenerated memory defaults.

[2020-03-11 00:22] medyagh commented on #6942
This sounds like a good idea to do.

I support to have an option to run kic drivers with buildroot image in docker.
at least as an alternative, that users could choose.
same way that users choose their base ISO_URL
we should be able to support different base images either, Ubuntu (kind base) or Buildroot

[2020-03-11 00:23] medyagh commented on #6942
@afbjorklund would you be intereted to take this? could I add this to the milestone?

[2020-03-11 01:37] medyagh opened #6992 "LoadImages in parallel"
When preloading is not available we should load the images in parallel:

checking the time stamps it takes considerable amount of seconds.
[code]

[2020-03-11 01:42] doogie2510 commented on #6716
I also continuously got this issue (create host timed out in 120.000000 seconds) when I run 'minikube start --vm-driver=kvm2', and 'minikube delete'/'rm -rf .minikube' didn't help, but after downgrading from 1.8.1 to 1.7.2, it finally works.

[2020-03-11 01:42] medyagh opened #6993 "Flaky test: TestFunctional/parallel/CertSync"
I seen this flake test two times in two different PRs for docker driver:

TestFunctional/parallel/CertSync

https://storage.googleapis.com/minikube-builds/logs/6987/d98bdda/Docker_Linux.html#fail_TestFunctional%2fparallel%2fCertSync

[2020-03-11 02:23] medyagh opened #6994 "jenkins commit status: extra word"
Jenkins: completed with with 2 / 51 failures in 11.53 in 11.53 mi

there seems to be some thing duplicate

[2020-03-11 02:32] medyagh opened #6996 "Failing Test: TestStartStop/group/crio"
TestStartStop/group/crio

for docker as seen in:
https://storage.googleapis.com/minikube-builds/logs/6920/e1049e7/Docker_Linux.html#fail_TestStartStop%2fgroup%2fcrio

https://storage.googleapis.com/minikube-builds/logs/6987/d98bdda/Docker_Linux.html#fail_TestStartStop%2fgroup%2fcrio

for kvm: as seen in
https://storage.googleapis.com/minikube-builds/logs/6987/d98bdda/KVM_Linux.html#fail_TestStartS

[2020-03-11 02:58] #6923 closed

[2020-03-11 03:13] #6964 closed

[2020-03-11 03:15] medyagh opened #6997 "Flake TestStartStop: error looking up service account default/default: serviceaccount "default" not found"
as seen in here https://storage.googleapis.com/minikube-builds/logs/6991/b5681d5/Docker_Linux.html#fail_TestStartStop%2fgroup%2fcontainerd

[code]

[2020-03-11 04:41] #6994 closed

[2020-03-11 04:58] medyagh opened #7000 "preload: minikube continues before preload download is over"
this is from head on docker driver:

to replicate : first purge
[code]
then start with docker driver

[code]

I believe this happnes to only docker driver because docker driver creates much faster than others. while for VMs while the VMs are booting up the preload finish.

That makes me think may be for VM worlds we could have a warm up VM (while the big download is happnenining we could warm up t

[2020-03-11 05:07] raj1rana opened #7002 "Minikube error"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-11 05:49] medyagh commented on #7000
CC: @priyawadhwa

[2020-03-11 06:16] trranjith opened #7004 "iled to update cluster: downloading binaries: downloading kubelet:"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-11 06:16] trranjith opened #7005 "Failed to update cluster: downloading binaries: downloading kubelet"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-11 07:05] medyagh opened #7006 "docker: TestStartStop/group/newest-cni: : bind: address already in use"
as seen in https://storage.googleapis.com/minikube-builds/logs/6999/50fab20/Docker_Linux.html#fail_TestStartStop%2fgroup%2fnewest-cni

the most imporant part of the error is:

- Error: failed to create listener: failed to listen on 0.0.0.0:8443: listen tcp 0.0.0.0:8443: bind: address already in use

[code]

[2020-03-11 07:09] applike-ss commented on #6856
the last commit i see on that branch is from 15.07.2019

[2020-03-11 07:21] hantsy commented on #6967
@afbjorklund Oh, tried again, it works after waiting for minutes. Thanks.

[2020-03-11 07:53] medyagh opened #7007 "update minikube site : not yet good for?"
on the site https://minikube.sigs.k8s.io/docs/overview/
[code]

the line,
''' What is it not yet good for? Environments which do not allow VM’s'''
is not accurate anymore and needs to deleted. since minikube know runs in both VMs, container and baremetal.

[2020-03-11 07:57] medyagh commented on #7006
This feel like it we need to make sure kube api server is stopped before we stop the machine.

[2020-03-11 09:13] lienharc commented on #6965
Had the same issue on arch linux and minikube with kvm2, `minkube delete && minikube start` solved the issue.

(For what it's worth, this was the output, before I recreated minikube):
[code]

[2020-03-11 10:28] hiren1771 commented on #6981
Exact same issue, ubuntu 18.04, latest minikube, kvm2 driver. Please fix and release.

[2020-03-11 10:34] anlutro opened #7009 "kic: nginx CrashLoopBackOff: "failed to read pod IP from plugin/docker: invalid network status for""
Setting up `minikube` and using the nginx example fails with what looks like a network-related issue.

Creating and exposing the echoserver as described in the [quickstart](https://kubernetes.io/docs/setup/learning-environment/minikube/#quickstart) works just fine, so there must be something specific to how the nginx pods are created?

I thought the loadbalancer was the issue, but removing the loa

[2020-03-11 10:39] anlutro commented on #7009
Turns out this is fixed if I update `nginx-app.yaml` to use a more recent version of the nginx image :confused: 1.14 works fine.

[2020-03-11 11:04] priyasubramanitvr opened #7010 "minikube ip not working"
F:\dockerprograms\simplek8s>minikube ip
*
X Error getting host: open C:\Users\Admin\.minikube\machines\minikube\config.json: The system cannot find the file specified.
*
* minikube is exiting due to an error. If the above message is not useful, open an issue:
  - https://github.com/kubernetes/minikube/issues/new/choose

</details>

**The output of the `minikube logs` command**:<details>

</details

[2020-03-11 13:14] henryodinaka commented on #6973
Thank you. @tstromberg
adding `--memory=4000`  solved the issue.
I ran the command below and everything went fine.
 'minikube start --vm-driver=hyperv --memory=4000'

[2020-03-11 14:21] loftkun commented on #6901
/assign

[2020-03-11 15:34] medyagh opened #7011 "discuss: minikube wait for default service accont ?"
as part of this PR https://github.com/kubernetes/minikube/pull/6999 to close https://github.com/kubernetes/minikube/issues/6997

I added wait for default service account to be created before the integeration tests apply yaml files.
at first I wanted to add that to minikube itself but that added 30 seconds to minikube start on my machine. and this would add very little value to 90% of the people.
e

[2020-03-11 15:43] matthewmichihara commented on #6820
Just hit the same thing (I think also due to disk pressure), attaching my logs:

[code]

[code]

[code]

[2020-03-11 15:46] matthewmichihara commented on #6820
`docker system prune` fixed the issue for me too. (freed about 2.5 gb)

[2020-03-11 16:01] medyagh opened #7012 "show progress bar for downloading kic base image"
we need to treat the kic base image same as VM ISO in the UI

1- download kic base image before creating container (in the same step that we download iso for VM)
2- show progress bar for docker pull (if proress bar not possible, we should show some sort of animation so the user dont be bored and they also know they are waiting on the base image be pulled.

[2020-03-11 16:20] #7007 closed

[2020-03-11 16:34] #7000 closed

[2020-03-11 16:56] afbjorklund commented on #7012
This would be nice to have for _all_ containers (e.g. cache), even though the kindest is the biggest...

There's some discussion upstream, in https://github.com/google/go-containerregistry/issues/670 - it adds a lot of complexity

[2020-03-11 17:01] afbjorklund commented on #6992
This was added for the podman loader, since it ran out of memory loading all at once: 98a2a557c584ee5eeae9355a2922bd8fd9da4a48

Then it got added also to the docker loader by mistake, when we introduced cruntime: 966b245dc6c4ab149eeb1f30b9dc6bd7374c69e2

The docker daemon should take care of handling multiple loads at once, internally...

But with podman, we need to keep an eye on the total load (

[2020-03-11 17:10] afbjorklund commented on #6992
It might be possible to do e.g. two at a time, so perhaps the mutex can be a made into a pool.

[code]

The docker load should probably still do all at once, but for podman this might improve things ?

[2020-03-11 17:11] medyagh commented on #6992
Thanks for the great investigattive history @afbjorklund

We should totally make it parallel again for docker and not parallel for podman

[2020-03-11 17:17] afbjorklund commented on #7012
@medyagh : are you planning to load kic from a tarball too, similar to the preload ?

Or maybe just run `docker pull` in a separate step, before doing the 'docker run` ?

[2020-03-11 17:20] afbjorklund commented on #6856
Well, that's how rebases work (they keep the author date)

[2020-03-11 17:29] afbjorklund commented on #7007
@medyagh: funny story is that I got started with all this, in an environment that allowed VMs (KVM as yourself) but did not allow containers (Docker as root). So you **had** to use `docker-machine`...

But it's not worth keeping a line like "it is not good for environment that don't allow VMs or containers or bare metal", because that is just like saying "it will not fix your broken IT department

[2020-03-11 17:35] afbjorklund commented on #6992
There were some _awful_ bugs when loading multiple images from the same tarball (like in #6934)

I hope those are fixed, or else we will end up having to disable preload as well (load from multiple)

[2020-03-11 17:49] medyagh commented on #7012
yeah I meant that wherever we download the ISO, for kic drivers we just do a docker or podman pull
and show some sort of animation
so when docker run goes, it already has the image.

[2020-03-11 17:52] tstromberg commented on #7009
I noticed that you are using our new Docker driver. I suspect this may be related?

/cc @medyagh

[2020-03-11 18:14] sharifelgamal commented on #6250
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-03-11 18:14] #6250 closed

[2020-03-11 18:19] priyawadhwa commented on #6465
Hey @shivakumarsy -- I'm going to go ahead and close this issue as some time has passed. If you continue to see this issue, please reopen this at any time by including `/reopen` in your comment. Thank you!

[2020-03-11 18:19] #6465 closed

[2020-03-11 18:20] priyawadhwa commented on #6329
Hey @bhargodevarya could you try doing the same as @spyd3rw3b and let us know if that resolves your issue?

[2020-03-11 18:21] sharifelgamal commented on #6290
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-03-11 18:21] #6290 closed

[2020-03-11 18:23] sharifelgamal commented on #6470
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-03-11 18:23] #6470 closed

[2020-03-11 18:23] sharifelgamal commented on #6448
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2020-03-11 18:23] #6448 closed

[2020-03-11 18:23] priyawadhwa commented on #6225
Hey @gtan01 --

Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube sta

[2020-03-11 18:23] #6225 closed

[2020-03-11 18:24] sharifelgamal commented on #6366
@mpouyakh7 Did setting the memory command help with your issue?

[2020-03-11 18:27] priyawadhwa commented on #6109
Hey @NikhilSarda --

Hopefully it's OK if I close this, as some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Thank you for sharing your experience!

[2020-03-11 18:27] #6109 closed

[2020-03-11 18:33] priyawadhwa commented on #6018
Hey @mvgijssel could you try running the command with `strace` and provide the output here?

[2020-03-11 18:34] priyawadhwa commented on #5860
Hey @damangueyu @littlesmilelove has this issue been resolved for you?

[2020-03-11 18:35] priyawadhwa commented on #5825
Hey @AldiT thank you! I'll go ahead and close this issue then, @asynclox if you continue to see this issue feel free to reopen this thread by including `/reopen` in your comment.

[2020-03-11 18:35] #5825 closed

[2020-03-11 18:37] sharifelgamal commented on #6342
@core-liu We'll need a little more information in order to help debug your issue. Could you tell us:

* Whether the issue occurs with the latest minikube release
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=3` for extra logging.
 * The full output of `minikube logs`

[2020-03-11 18:50] iamamjad commented on #4815
i believe this work with me ...

secretGenerator:
- name: mysql-pass
  literals:
  - password=root

---
resources:
  - mysql-deployment.yaml
  - wordpress-deployment.yaml

[2020-03-11 18:56] sharifelgamal commented on #6346
This seems to a permissions issue with your Hyper-V, rather than anything related to minikube.

[2020-03-11 21:54] swpoulin opened #7016 "hyperkit: creating host: create host timed out in 120.000000 seconds"
**The exact command to reproduce the issue**:
 minikube start --vm-driver=hyperkit --alsologtostderr -v=4

**The full output of the command that failed**:<details>
(base) myself2@myself-4 ~ % minikube delete
🔥  Deleting "minikube" in vmware ...
💀  Removed all traces of the "minikube" cluster.

(base) myself2@myself-4 ~ % minikube start --vm-driver=hyperkit --alsologtostderr -v=4
I0311 14:31:41.874

[2020-03-11 23:16] #6989 closed

[2020-03-12 01:23] #6981 closed

[2020-03-12 01:36] medyagh opened #7017 "issue with docker-env on restart"
with latest release 1.8.1

start minikube and eval docker env
build an image with docker

[code]

minikube stop
start minikube again (either stop and start or just start while it is running )

minikube correctly tells you that the docker-env port is changed and u need to re-eval
[code]
try re-eval:
[code]

 $ docker ps
error during connect: Get https://127.0.0.1:32862/v1.40/containers/json: EOF

[2020-03-12 01:37] medyagh commented on #7017
could be related to preload ? this is 1.8.1 and in that release the preload for docker driver was broken but I tested with PR that fixes the preload and that one also has this problem

[2020-03-12 02:26] josedonizetti commented on #7017
@medyagh The error is because kic is not reflecting the port change on the internal docker.

When you start kic for the first time it will map the internal docker port to an external port, local to the host:

[code]

external port: 32775
internal port: 2376

The internal port does match the dockerd inside minikube:

[code]

After stopping and starting again, even by doing the `minikube docker-env`

[2020-03-12 03:57] rakovets commented on #5715
@gaetan1903 is right. You can use commands:
[code]

[2020-03-12 04:38] RA489 commented on #6961
@bkumar2018 your VM or machine needs to have at least 2 CPU cores.

[2020-03-12 04:50] RA489 commented on #7010
@priyasubramanitvr Thanks for reporting this issue. Can you please provide the following detail to debug
The exact command line used.
Full output of minikube start command
output of minikube logs.

[2020-03-12 05:40] ryysud commented on #6686
I also faced same issue using minikube `v1.8.1` .

[2020-03-12 11:22] JuergenSimon commented on #6211
I am wasting an entire morning on this damn bug. Any news on how to work around this nonsense? Started with 1.8.1

[2020-03-12 11:45] s709t commented on #6247
How this was solved?

[2020-03-12 13:06] krajapraveen opened #7018 "Error starting cluster: init failed. output: "\n** stderr ** \nError: unknown flag: --ignore-preflight-errors\nUsage:\n kubeadm init"
I am using Windows 10 PRO
I am using minikube version: v1.8.1
I am using Kubectl version: v1.17.0
I am using docker version: 18.09.2.
Virtual Box with version 5.2.20 came along with installation of Docker.

When I ran the start the minikube start command like below, I am getting the errors.  PFB.

PS C:\windows\system32> . \minikube.exe start --kubernetes-version="v1.8.1" --vm-driver="virtualbox"

[2020-03-12 13:53] loftkun commented on #6901
I'll make the following changes:

1. add the error handlings  in `startNode()` of `cmd/minikube/cmd/start.go`.
1. delete profile when failed to `startNode()`.

[code]

[2020-03-12 14:14] gangganghong commented on #6247
@s709t using vpn

[2020-03-12 15:22] mpouyakh7 commented on #6366
yes, thanks for your response.

[2020-03-12 17:25] renich commented on #1174
I, also, need this to try out EdgeFS on Minikube; which is part of Rook.

[2020-03-12 17:25] medyagh commented on #7017
systemd file for VM
$ cat /usr/lib/systemd/system/docker.service

[code]

systemd file for kic
[code]

[2020-03-12 17:35] medyagh commented on #7017
interestingly systemctl restart wont change the port

so it seems that if the restart happens through systemctl it will keep the port

[code]

[2020-03-12 17:46] medyagh opened #7019 "improve preload integration test to user minikube docker env"
as we decided to do a follow up PR  so we can identify issues like this

https://github.com/kubernetes/minikube/issues/7017

[2020-03-12 19:17] #4849 closed

[2020-03-12 19:21] afbjorklund commented on #6942
@medyagh : I will investigate, but don't know yet if it is reasonable to do in two weeks

[2020-03-12 19:52] afbjorklund commented on #7018
Kubernetes 1.8.1 is too old, the oldest reasonable is 1.10. Did you mean **minikube** 1.17.3 ?

[2020-03-12 19:56] afbjorklund commented on #7018
Shows a different result here:

[code]

[2020-03-13 00:44] tstromberg commented on #6964
The fix is shipping later this week with the next release. My apologies for all the users it has inconvenienced.

[2020-03-13 02:59] kamikaze commented on #5667
but it still pulls wrong images which results in:

and docker logs:

docker container ls -a:

[2020-03-13 03:18] vgudavar commented on #5451
Deleting the cluster and recreating worked for me. (```minikube delete```)

[2020-03-13 04:59] krajapraveen commented on #7018
Hi afbjorklund

I mean that I am using Minikube with version 1.8.1 .

I will use Kubernetes (kubectl) version 1.17.3 as you said and will try to execute. Once done, I will get back to you.

[2020-03-13 08:43] DeepakYadav17 commented on #6944
Failing for me too:
`Failed to preload container runtime Docker: copying file: sudo test -d \ && sudo scp -t \ && sudo touch -d "2020-03-13 14:00:54.287043 +0530" \/preloaded.tar.lz4: Process exited with status 1`

[2020-03-13 11:23] afbjorklund commented on #7018
@krajapraveen : I was able to reproduce the problem, seems like the error is not displayed properly when starting a new cluster. It's still not possible to run such old versions, but solution message was buggy (will post a PR for that - the output looks very similar to what I got, for an existing machine)

[2020-03-13 13:18] afbjorklund commented on #5667
afaik it was **not** tested with the “docker” driver (KIC), only with the “none” driver

Please open a new issue, we should have a warning when trying to use ISO or KIC on non-amd64 platforms

[2020-03-13 13:32] suvankar-git opened #7024 "hyperv: no External vswitch nor Default Switch found."
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-13 14:06] hejunion commented on #6938
Able to start after two times  "minikube delete"
Started OK at 3nd time to run ( using Git bash /Window10)
minikube start --vm-driver=virtualbox

just wait longer.. seems that more time needed when * Preparing Kubernetes v1.17.3 on Docker 19.03.6 ...

[2020-03-13 14:11] hejunion commented on #6944
retry more and using "minikube delete" for cleanning

https://github.com/kubernetes/minikube/issues/6938

[2020-03-13 15:12] danccosta opened #7025 "proxy: Error downloading checksum file: connectex: Uma tentativa de conexão falhou porque o componente conectado não respondeu"
 Não consigo iniciar o Minikube (v1.8.0) em uma máquina corporativa que está atrás de um proxy de internet. Já tentei usar o cntlm, mas sem sucesso.

**Os comandos necessários para reproduzir o problema**:
 minikube start --vm-driver="hyperv" --docker-env HTTP_PROXY=http://proxy-xxx.com.br:3128 --docker-env HTTPS_PROXY=http://proxy-xxx.com.br:3128

**A saída completa do comando que apresentou falh

[2020-03-13 15:37] usax opened #7026 "getting issue while minikube start"
c:\Kubernetes_AWS>minikube.exe start
* minikube v1.8.1 on Microsoft Windows 10 Home 10.0.17134 Build 17134
* Automatically selected the virtualbox driver
*
X Error getting primary cp: could not find master node
*
* minikube is exiting due to an error. If the above message is not useful, open an issue:
  - https://github.com/kubernetes/minikube/issues/new/choose

c:\Kubernetes_AWS>minikube.exe logs

[2020-03-13 16:05] #6967 closed

[2020-03-13 16:05] ceeaspb opened #7027 "LoadImages takes 10+ minutes on Virtualbox"
If you have several large images to cache then it can take 10-15 minutes to start minikube in virtualbox on Mac.
With hyperkit it LoadImages completes in seconds.

Virtualbox 5.2.32

[code]

Hyperkit:
[code]

[2020-03-13 16:53] wallrj opened #7028 "minikube start --extra-config=controller-manager is silently ignored"
I ran `minikube start --kubernetes-version=v1.18.0-beta.2  --extra-config 'controller-manager.experimental-cluster-signing-duration=120s' ...`

minikube appeared to recognize the extra config and the  cluster started,
but the arguments were not added to the kube-controller-manager pod.

[code]

[code]

Problem seems to be that minikube generates duplicate `controllerManager`  sections in kubeadm.y

[2020-03-13 16:55] wallrj commented on #7028
Here's the entire kubeadm.conf file, where you can see the duplicate controllerManager sections:

[code]

[2020-03-13 16:55] medyagh opened #7029 "Change name for func `HostPortBinding`"
For another PR perhaps, but `HostPortBinding` may be a poor name for this function, as it sounds like it may be binding to a port rather than fetching information. Perhaps:

`oci.ForwardedPort` or `oci.BoundPort`, `oci.HostPort`?

_Originally posted by @tstromberg in https://github.com/kubernetes/minikube/pull/7021_

[2020-03-13 17:06] jgoeres opened #7031 "document work around for VirtualBox networking be slow"
Hi,
we are using minikube to deploy local test installations of our stack, in particular for developers. In general, we are using the virtual box hypervisor (yes, even on win 10 machines, for *reasons* ;-)).

We note a general sluggishness of the minikube environment, even when running on very powerful host machines to which we assign lots of cores (<< #physical cores on the host, naturally) and R

[2020-03-13 17:19] afbjorklund commented on #7031
Can you compare with earlier versions of the ISO image perhaps?

[2020-03-13 17:27] jgoeres commented on #7031
We are observing this across different machines with different versions of the minikube CLI and the ISO, but I will give this a try.
How can I find out the version of the ISO I currently have installed? A quick look into the output of "minikube logs" didn't yield an ISO version.
Do you expect that the version of the minikube CLI makes a difference (after all it is what creates the VM)?

[2020-03-13 17:32] afbjorklund commented on #7031
I was wondering if there had been a regression, but it seems you are mostly comparing it to docker-machine (boot2docker) on the same VirtualBox ?

Some version numbers and such would be nice, but otherwise I guess that is a start in order to compare. There was another bug too, saying that HyperKit was much faster now

[2020-03-13 17:34] afbjorklund commented on #7031
Will also have to compare the virtual network cards (vNIC) used, if there is a difference perhaps ?

[2020-03-13 17:43] medyagh commented on #7029
I like either BoundPort and ForwadedPort

this should be an easy PR to search and replace.

[2020-03-13 18:40] afbjorklund commented on #7031
The only difference that I can see is that minikube is using virtio:

_default_
[code]

_minikube_
[code]

Which seems to be following the guidelines:

https://www.virtualbox.org/manual/ch06.html#network_performance

[2020-03-13 18:48] afbjorklund commented on #7031
Couldn't see any major difference from a local docker build with a large file in it, though

184M	minikube.iso

real	0m3.428s

real	0m3.232s

[2020-03-13 18:49] priyawadhwa commented on #6736
This is done

[2020-03-13 18:49] #6736 closed

[2020-03-13 18:51] afbjorklund commented on #7027
Seems like the Hyperkit log got truncated ? Was it the transferring that was faster there ?

[2020-03-13 19:50] #7018 closed

[2020-03-13 21:15] #7017 closed

[2020-03-13 21:30] afbjorklund commented on #7031
@jgoeres : looking through the boot2docker history, there seems to be an issue with VirtualBox and running multiple vCPU with virtio and the Intel network cards... https://www.virtualbox.org/ticket/10157

Since minikube (kubeadm) requires at least 2 CPU, can you try changing the Network type ? Either by disabling virtio or by selecting AMD PCNet FAST III, I think you can do this through VirtualBox

[2020-03-13 21:37] medyagh commented on #5779
this was fixed

[2020-03-13 21:37] #5779 closed

[2020-03-13 21:40] medyagh opened #7036 "Release process: run brew bump-formula-pr in docker"
we need to run this command in a docker so it doesnt die of gem dependency

[code]

https://github.com/kubernetes/minikube/blob/eb13446e786c9ef70cb0a9f85a633194e62396a1/hack/jenkins/release_update_brew.sh#L48

here is the current gem dep error from out latest 1.8.2 release

<details>
<pre>
14:33:14 + brew bump-formula-pr --strict minikube --revision=eb13446e786c9ef70cb0a9f85a633194e62396a1 '--mess

[2020-03-13 21:56] afbjorklund commented on #7031
[code]

[2020-03-13 21:59] afbjorklund commented on #7027
Similar to issue #7031

[2020-03-13 22:00] medyagh opened #7037 "Brew- add option to install from HEAD"
-HEAD

[2020-03-13 22:04] medyagh commented on #7037
seems like we could just do this
[code]

[2020-03-13 22:04] #7037 closed

[2020-03-13 22:28] medyagh opened #7039 "preload should not load wrong arch images"
per comment in this issue: https://github.com/kubernetes/minikube/issues/5667#issuecomment-598524603

and someone tried to start on arm64 arch and minikube tried to load preloaded images for amd64 arch.

we need to make our tar files Per architecture, and if if there is no preload for arm64 we should not load wrong architecture

we should also provide a flag, --preload=false

[2020-03-13 22:32] medyagh commented on #5667
@kamikaze  thank you so much for reporting this issue !  and sorry about that bug. that should be an easy fix
I created a new issue for this, please track the update here
https://github.com/kubernetes/minikube/issues/7039

[2020-03-14 00:22] tstromberg commented on #6943
Fixed in v1.8.2.

It's worth noting: `minikube delete` or `minikube delete --purge` is always preferable to removing files from minikube's directory, as the latter may cause state inconsistencies.

[2020-03-14 01:52] tstromberg commented on #7026
Please try minikube v1.8.2. This was a problem where v1.8.1 could not upgrade older profiles.

Dupe of #6943

[2020-03-14 01:52] #7026 closed

[2020-03-14 01:53] tstromberg commented on #7026
Please /reopen if v1.8.2 does not fix your issue.

[2020-03-14 01:54] tstromberg commented on #6983
Resolved by minikube v1.8.2.

[2020-03-14 01:54] #6983 closed

[2020-03-14 03:00] quaffpotion opened #7046 "Ubuntu Minikube: able to install and run example, after minikube delete subsequent starts fail"
**Issue:**
I was able to install kubectl and minikube and run a basic tutorial. However, after `minikube delete` I was unable to restart minikube. Directly below I have included a log of the successful installation, successful run, and unsuccessful run. (as well as the usual information)

<details>
➜  ~
➜  ~ grep -E --color 'vmx|svm' /proc/cpuinfo
flags		: fpu vme de pse tsc msr pae mce cx8 apic s

[2020-03-14 03:05] #7046 closed

[2020-03-14 05:29] priyasubramanitvr commented on #7010
C:\Users\Admin>minikube start
* minikube 1.8.2 is available! Download it: https://github.com/kubernetes/minikube/releases/tag/v1.8.2
* To disable this notice, run: 'minikube config set WantUpdateNotification false'

! minikube v1.7.2 on Microsoft Windows 10 Pro 10.0.17134 Build 17134
* Using the hyperv driver based on user configuration

! 'hyperv' driver reported an issue: C:\Windows\System32\Win

[2020-03-14 07:53] nengbowan opened #7047 "want some options that docker-machine bootstrap use ..."
today , i met a question , core componet in minikube can not be work , because of out of memory  , so i deleted all pods , now , i want to know the default cpu  , and memory and other options that docker-machine create minikube use ,thanks

[2020-03-14 08:38] vikkyomkar commented on #7029
/assign

[2020-03-14 09:00] ceeaspb commented on #7027
I only included the total time as the logs were the same except for faster times.

yes

[2020-03-14 11:23] ceeaspb commented on #7027
I did a load of work investigating the file copy performance, but
I noticed that minikube has a shared folder to users, so the files are already available in the VM?
eg.
[code]
Can the image load be short circuited? thanks

[2020-03-14 12:39] afbjorklund commented on #7027
The vboxsf is only available for VirtualBox, but it could be interesting to measure differences between this file system and `cp` compared with the network interface and `scp`. Most likely this is some kind if bug with the virtuous driver though, so it would be great if you were able to test differences between different nic drivers ?

[2020-03-14 13:09] afbjorklund commented on #6799
This is still an issue, especially if people are getting used to seeing broken builds all the time

[2020-03-14 15:02] ceeaspb commented on #7027
scp/network ~10mins
cp filesytem ~1min

[code]
About 2GiB for the `cp` test as it just takes everything in cache/images.

I tested different nic drivers (https://www.virtualbox.org/manual/ch06.html) and found no material difference.

[2020-03-14 16:06] kmp59 commented on #5714
![Screenshot from 2020-03-14 12-06-08](https://user-images.githubusercontent.com/37663573/76685715-43a81e80-65ec-11ea-8dad-00106f4192fc.png)

My issues was something like this. When I tried to access the .kube folder via terminal it gave me permission denied error. Using chown to change users didn't work. So I tried Chmod 777 and it worked.

`sudo chmod 777 $HOME/.kube`

[2020-03-14 16:14] rlanting commented on #6716
So I just ran into this issue on debian+kvm with minikube 1.8.2. Because I could see the VM being up, I logged in as root and did some debugging.

First things first: is sshd even running? `systemctl status sshd` said it was dead

After that I checked dmesg and there was no output for a while. After ~180 seconds I got `random: crng init done`, followed by NFSD starting. After checking the status f

[2020-03-14 22:15] billtian opened #7052 "run `minikube start` with --image-mirror-country=cn failed"
When i use the **minikube 1.8.2** to start , it failed, But the 1.8.1 can work.

**The exact command to reproduce the issue**:

[code]
**The full output of the command that failed**:<details>
[code]

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

Ubuntu 18.04.4 LTS

[2020-03-14 23:20] robrich commented on #6683
1.8.2 solved it for me.

[2020-03-15 02:21] #7029 closed

[2020-03-15 08:08] alexeadem commented on #5660
Not sure why this was closed without a solution...

💣  update config: writing kubeconfig: Error writing file /root/.kube/config: failed to acquire lock for /root/.kube/config: {Name:mk72a1487fd2da23da9e8181e16f352a6105bd56 Clock:{} Delay:500ms Timeout:1m0s Cancel:<nil>}: unable to open /tmp/juju-mk72a1487fd2da23da9e8181e16f352a6105bd56: permission denied

It looks that there is an issue with juju

[2020-03-15 08:09] alexeadem commented on #5660
Can we please reopen?

[2020-03-15 08:48] winhung commented on #4206
Apparently this was caused by the McAfee Total Protection that i have installed on my macbook (Catalina v10.15.3).Disabling the Firewall function, resolved this issue.

[2020-03-15 09:39] hirako2000 commented on #5503
While this is a great improvement to be able to enable further addons, it keeps the default addons enabled.
It would be good if passing this arg make minikube only deploy the listed addons.

See below, starting with only 2 addons leads to minikube started with 3 addons
[code]

[2020-03-15 10:12] alexeadem opened #7053 "Error writing file /root/.kube/config: unable to open /tmp/juju : permission denied (sysctl fs.protected_regular)"
`💣  update config: writing kubeconfig: Error writing file /root/.kube/config: failed to acquire lock for /root/.kube/config: {Name:mk72a1487fd2da23da9e8181e16f352a6105bd56 Clock:{} Delay:500ms Timeout:1m0s Cancel:<nil>}: unable to open /tmp/juju-mk72a1487fd2da23da9e8181e16f352a6105bd56: permission denied`

I'm running minikube with:

`sudo minikube --vm-driver=none`

This issue didn't happen in v1

[2020-03-15 11:17] afbjorklund commented on #7053
The ancient minikube probably used a different method, like not locking at all and hoping for the best.

Do you have any selinux rules or otherwise that prevents opening temporary files ? Maybe systemd ?

[2020-03-15 11:22] afbjorklund commented on #7047
I think you mean "minikube start" rather than "docker-machine bootstrap", but anyway. You have some different options when creating the VM, including the number of CPU and the amount of RAM etc:

[code]

The default is 2 CPU, 2200M RAM, and 20000M disk image.

[2020-03-15 11:28] afbjorklund commented on #7052
Thanks for reporting, this bug was introduced by mistake in 71a22787c3ba69198471f1d440f393beebcf70ad

It needs to strip the silent `v` character, before feeding it to semver...

[2020-03-15 13:11] afbjorklund commented on #6954
@sayboras : we have the "docker" driver for that, running the VM tests in docker won't be enough

[2020-03-15 13:14] afbjorklund commented on #6954
Do you have any examples of such an environment ? Both ubuntu and centos now have it

Just wondering it about the "soon" priority, as we already had a backlog item #2704 for this...

[2020-03-15 13:19] afbjorklund commented on #6595
Fixed in v1.8.0

[2020-03-15 13:19] #6595 closed

[2020-03-15 13:20] afbjorklund commented on #6583
Fixed in v1.7.3

[2020-03-15 13:20] #6583 closed

[2020-03-15 13:53] afbjorklund commented on #6489
I guess this is now implemented, with MINIKUBE_ACTIVE_DOCKERD ?

What needs to be done is a bash function to use it, similar to:
https://gist.github.com/aburnett/1165239cd2673a43579c

Then the user can use that in their PS1, similar to e.g. __git_ps1
https://github.com/git/git/blob/master/contrib/completion/git-prompt.sh

One thing that is weird is that it shows the name of the _profile_ (not host

[2020-03-15 13:54] alex-gab opened #7056 "Cannot use local storage persistent volumes after v1.8.0 upgrade (from older v1.7.3)"
**The exact command to reproduce the issue**:
[code]
**The full output of the command that failed**:<details>
*Warning  FailedScheduling  11s (x2 over 11s)  default-scheduler  0/1 nodes are available: 1 node(s) didn't find available persistent volumes to bind.*

</details>

**The output of the `minikube logs` command**:<details>
==> Docker <==
-- Logs begin at Sun 2020-03-15 13:43:59 UTC, end at S

[2020-03-15 16:28] alexeadem commented on #7053
Yup. The ancient minikube didn't have delete.go and context.go. selinux is disabled.

# getenforce
Disabled

But I'm using

--extra-config=kubelet.cgroup-driver=systemd

Alex

[2020-03-15 17:54] viniciusbds commented on #7002
/triage needs-information

[2020-03-15 18:07] alexeadem commented on #7053
I think the problem here is that the files /tmp/juju-mk* are written as user instead of `root` even is `sudo` is used.

`
-rw------- 1 alex alex 0 Mar 15 10:41 /tmp/juju-mk061e272a59a4a72388b0d6272ab1df9bf2f30b
-rw------- 1 alex alex 0 Mar 15 10:41 /tmp/juju-mk19004591210340446308469f521c5cfa3e1599
`

If I change the owner to `chmod 600 /tmp/juju-mk*` it works. Not sure why files are written under

[2020-03-15 18:18] alexeadem commented on #7053
I think the problem is related to

https://github.com/juju/mutex/blob/master/mutex_flock.go

and how sudo is handled

[2020-03-15 18:31] medaoutir opened #7058 "failed minikube start"
Hi everyone,

I'm beginner in Kubernetes; I have got an error when I run `minikube start` in ubuntu with virtualbox as hypervisor for **minikube** vm. I have read the result log as below without understanding the issue:

Thanks in advance for your help.

[2020-03-15 18:36] alexeadem commented on #7053
changing this

`		fd, err := syscall.Open(flockName, syscall.O_CREAT|syscall.O_RDONLY|syscall.O_CLOEXEC, 0600)`

to

`
		fd, err := syscall.Open(flockName, syscall.O_RDWR, 0)
`
fixes the problem

[2020-03-15 18:42] amitranjan02051988 commented on #3900
Is this issue reolved ? I am getting the same error

[2020-03-15 19:00] afbjorklund commented on #7053
Thanks for confirming the problem is with systemd, then it's the same as #6391

[2020-03-15 19:05] alexeadem commented on #7053
thanks so much. sudo sysctl fs.protected_regular=0 works.
Never mind modifying juju :)

[2020-03-15 19:05] afbjorklund commented on #3900
@amitranjan02051988 : please open a new issue

[2020-03-15 19:07] afbjorklund commented on #7053
I guess long term it will have to change, as long as systemd keeps on making breaking changes...

Thanks for opening a bug report: https://github.com/juju/mutex/issues/7

[2020-03-15 19:07] gillespiejim78 commented on #3900
@amitranjan02051988 are you using Windows 10 Home? If so, feel free to add on to #6952

[2020-03-15 19:16] afbjorklund commented on #4815
So the real issue is here:
https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/#create-a-kustomization-yaml

Where the command to run (`cat`) is mistaken for text to enter using an editor (`nano`)

[2020-03-15 19:19] afbjorklund commented on #6716
Hmm, then it could be related to the random generator not being random enough...

It has been fixed in later kernels, but I wonder if we deploy something like `haveged` ?

[2020-03-15 20:47] AlexandreDusseault commented on #6895
@vivekaglawe You didn't put a lot of details. I don't know it this can help you, I've just setup Minikube and I had the same error message. I've uninstalled Minikube and installed the version 1.7.2 (solution of another thread for another problem). I was then prompted with a new error. Found out it was the version 6.0 of Virtual Box that was the issue. I've installed version 6.1.4 of Virtual Box an

[2020-03-15 21:33] vaibhavk commented on #4313
@medyagh I recently switched to Darwin & not able to test the build, is there any work around for this? I'll be happy to work on this again and send PR

[2020-03-16 01:26] #7047 closed

[2020-03-16 01:51] stanleynguyen commented on #5643
/close

[2020-03-16 01:52] #5643 closed

[2020-03-16 02:05] ghorpade84 opened #7059 "! 'vmware' driver reported an issue: exec: "docker-machine-driver-vmware": executable file not found in $PATH"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2020-03-16 06:40] jgoeres commented on #7031
Thank you,  I will give this a try... alas; i now currently have some trouble getting minikube to start successfully.

The first thing I noticed: with my ancient minikube version, I had been using the option

    --host-only-cidr='192.168.99.1/24'

which now gives me

    X Unable to start VM. Please investigate and run 'minikube delete' if possible: driver start: Error setting up host only networ

[2020-03-16 07:05] jgoeres commented on #7031
Hi,

minikube is running again, and with the changed NIC types, download speed is now on the same level as the Docker Toolbox VM, thank you very much.
Should I find a dedicated issue for the no longer working

    --host-only-cidr='192.168.99.1/24'

option? I added it a while ago when I had problems with the Minikube VM getting an IP in the right host-only network, but this time it worked just fin