[2019-11-24 07:43] #5644 closed

[2019-11-24 09:16] afbjorklund commented on #4390
/remove-lifecycle rotten
/assign medyagh

[2019-11-24 14:09] LLOUIS03 commented on #5943
@zhangxpp this configuration resolver the problem thank

[2019-11-24 14:09] #5943 closed

[2019-11-24 15:09] Skybladev2 commented on #5549
I see this error when deleting and starting minikube cluster again (no args).
How to fix this?

[2019-11-24 15:34] battlesnake commented on #5900
Thanks, I'll test that next week

[2019-11-24 17:37] Anderlink234 opened #5966 "Error start minikube"
**Los comandos necesarios para reproducir la incidencia**:

**El resultado completo del comando que ha fallado**: <details>

</details>

**El resultado del comando `minikube logs`**: <details>

</details>

**La versión del sistema operativo que utilizaste**:

[2019-11-24 18:35] afbjorklund commented on #5549
Well, the workaround is to make something/anything called "docker" available.
But the real fix means improving the minikube driver registry, which is broken...

[2019-11-25 01:26] zhongyijia opened #5968 "minikube start fail on MacOS"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>
minikube start
😄  minikube v1.5.2 on Darwin 10.15.1
🔥  Creating hyperkit VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🔄  Retriable failure: create: Error creating machine: Error in driver during machine creation:

[2019-11-25 02:37] NullYing commented on #5631
You are right

![image](https://user-images.githubusercontent.com/10618381/69508012-7f50a700-0f6f-11ea-9f82-6272d62daf06.png)

[2019-11-25 02:45] NullYing commented on #5631
It work now

![image](https://user-images.githubusercontent.com/10618381/69508428-a3f94e80-0f70-11ea-8c09-a0adb01e1d0d.png)

[2019-11-25 05:34] RA489 commented on #5965
/assign

[2019-11-25 05:41] RA489 commented on #5938
@ankitloud Is your issue resolved? can we close this issue?

[2019-11-25 06:51] afbjorklund commented on #5965
@RA489 : most of this is done, and will be ready for public testing soon

[2019-11-25 06:52] RA489 commented on #5965
@afbjorklund are you sending PR for this?

[2019-11-25 07:01] Atvo commented on #5539
Hi, I've moved to using a proper Kubernetes cluster instead of Minikube

[2019-11-25 07:16] rainfd commented on #5968
The same problem after updating to Catalina

[2019-11-25 08:54] wojciechka commented on #3938
As a workaround, what I did was `minikube ssh` and then edit `/etc/kubernetes/manifests/addon-manager.yaml.tmpl`, changing value for  `TEST_ADDON_CHECK_INTERVAL_SEC` to `"60"`.

Then I did `kubectl delete pod -n kube-system kube-addon-manager-minikube`, which caused minikube to restart my pod with a setting of 60 second retrying.

It still consumes CPU for ~3 seconds every minute, but that is some

[2019-11-25 09:06] wojciechka commented on #3207
As a workaround, what I did was `minikube ssh` and then edit `/etc/kubernetes/manifests/addon-manager.yaml.tmpl`, changing value for  `TEST_ADDON_CHECK_INTERVAL_SEC` to `"60"`.

Then I did `kubectl delete pod -n kube-system kube-addon-manager-minikube`, which caused minikube to restart my pod with a setting of 60 second retrying.

It still consumes CPU for ~3 seconds every minute, but that is some

[2019-11-25 09:54] DuckulaGL commented on #4395
Failed to update cluster: downloading binaries: downloading kubelet: Error downloading kubelet v1.16.2: failed to download: failed to download to temp file: failed to copy contents: unexpected EOF

😿  Sorry that minikube crashed.

[2019-11-25 10:30] ashconnell commented on #3207
@wojciechka this is interesting, what was your idle cpu usage before and after this change and the specs of your machine?

[2019-11-25 14:52] blueelvis commented on #5941
@brainfull - Thank you very much for reporting this! (And the detailed explanation of your findings on one of the issues you posted regarding major user-gap issues) Fully agreed that this should be fixed and the cluster should not be deleted.

Let me see if I can find a list of error codes for Hyper-V and do some more experimenting. We can look at removing that code as well but would have to discu

[2019-11-25 15:03] berttejeda commented on #946
This is for anyone running into a somewhat related issue ...
In my case, I encountered a similar error when attempting to launch [rancher 2.3](https://rancher.com/docs/rancher/v2.x/en/installation/single-node/) under an LXC container. Specifics of my scenario:

- Goal: Run [rancher 2.3](https://rancher.com/docs/rancher/v2.x/en/installation/single-node/) inside an LXC container
Command as per [ranc

[2019-11-25 15:05] dwilkins commented on #3207
Just tried this on Fedora 31, but haven't  done a scientific test.   I _think_ I can see the surges every 5-sec without the @wojciechka tweak, and see them go away (or diminish) after making the tweak.  I still think that minikube is using more cpu than microk8s.  Minikube (over microk8s) gives the easy ability to have multiple clusters that can be started / stopped with states saved via profiles.

[2019-11-25 15:24] ankitloud commented on #5938
yes it is solved. please close the issue.

On Mon, Nov 25, 2019 at 11:11 AM RA489 <notifications@github.com> wrote:

--
  Regards,
Ankit Sharma

[2019-11-25 15:25] RA489 commented on #5938
/close

[2019-11-25 15:25] #5938 closed

[2019-11-25 15:58] brainfull commented on #5941
@blueelvis If you need help with Minikube on Windows I would be glad to help. Our company official dev environment is now based on Minikube and we are automating all our processes around it. Our goal is to ensure that once we tested in Minikube on Windows it goes well on the staging and prod environment, which are kubernetes clusters on cloud providers. thx

[2019-11-25 16:05] afbjorklund commented on #5965
Will push a PR soon

[2019-11-25 16:06] RA489 commented on #5965
Thanks for letting me know.

[2019-11-25 16:29] Chris-Ju commented on #5571
@vorpleblade Hello, I have the same problem now, Could you tell me how to solve it? Thanks..

[2019-11-25 17:35] afbjorklund commented on #5968
Possible duplicate of #5780

[2019-11-25 17:54] afbjorklund commented on #5965
Adding `buildah` pushed the ISO over the magic 150 MB limit, so going to exclude it for now.

It's not like anyone is actually _using_ it, if anything they can use it through `sudo podman build`

[2019-11-25 20:00] jroper commented on #3207
I actually found my problem - it was swapping. The default of 2GB memory with no minikube options tuned was not enough for anything to happen, even creating a namespace, without swapping.

[2019-11-25 21:01] rainfd commented on #5968
Thanks! Just delete ~/.minikube dir and it works fine again

[2019-11-25 21:16] #5959 closed

[2019-11-25 21:57] #5859 closed

[2019-11-25 22:56] bionicles commented on #4613
having this issue currently with minikube on ubuntu 16.04 @tstromberg

[2019-11-25 22:59] #5898 closed

[2019-11-25 23:03] #5913 closed

[2019-11-25 23:54] #5968 closed

[2019-11-25 23:54] zhongyijia commented on #5968
Just delete ~/.minikube dir then it works

[2019-11-26 00:39] medyagh opened #5974 "minikube cache add, doesn't add to other profiles unless restart"
Here is how to reproduce:

### start two minikube profiles
[code]

### tag an image and add it to the cache
[code]

### ssh into minikube and see the images

[code]

as we see the cached image was loaded to minikube profile but not p1

however if we restart p1, it will pick up the cached image

[2019-11-26 00:57] medyagh commented on #5974
What I suggest is this

- minikube start load all the images in global cache
- minikube cache add be be bound to a profile only ! and if you add an image using this command only be lodaded from that profile (as opposed to to all profiles on restart)

[2019-11-26 02:57] highway900 commented on #4456
@nikhils5501 Thanks, this solved it for me. More specifically I added the `metrics` section to the  config for `service-pod.yml`

[code]

[2019-11-26 05:55] RA489 commented on #5830
@KaenDagger Any update on this?

[2019-11-26 06:07] KaenDagger commented on #5830
I removed my assignment from this issue.

[2019-11-26 12:14] kingsudhu opened #5976 "Error getting host status ❌ Error: [KVM2_NO_DOMAIN] state: getting connection: looking up domain: virError(Code=42, Domain=10, Message='Domain not found: no domain with matching name 'minikube'') 💡 Suggestion: The VM that minikube is configured for no longer exists. Run 'minikube delete'"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-11-26 12:14] kingsudhu opened #5977 "Error getting host status ❌ Error: [KVM2_NO_DOMAIN] state: getting connection: looking up domain: virError(Code=42, Domain=10, Message='Domain not found: no domain with matching name 'minikube'') 💡 Suggestion: The VM that minikube is configured for no longer exists. Run 'minikube delete'"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-11-26 12:14] kingsudhu opened #5978 "Error getting host status ❌ Error: [KVM2_NO_DOMAIN] state: getting connection: looking up domain: virError(Code=42, Domain=10, Message='Domain not found: no domain with matching name 'minikube'') 💡 Suggestion: The VM that minikube is configured for no longer exists. Run 'minikube delete'"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-11-26 12:14] kingsudhu opened #5979 "Error getting host status ❌ Error: [KVM2_NO_DOMAIN] state: getting connection: looking up domain: virError(Code=42, Domain=10, Message='Domain not found: no domain with matching name 'minikube'') 💡 Suggestion: The VM that minikube is configured for no longer exists. Run 'minikube delete'"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-11-26 12:14] kingsudhu opened #5980 "Error getting host status ❌ Error: [KVM2_NO_DOMAIN] state: getting connection: looking up domain: virError(Code=42, Domain=10, Message='Domain not found: no domain with matching name 'minikube'') 💡 Suggestion: The VM that minikube is configured for no longer exists. Run 'minikube delete'"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-11-26 12:14] kingsudhu opened #5981 "Error getting host status ❌ Error: [KVM2_NO_DOMAIN] state: getting connection: looking up domain: virError(Code=42, Domain=10, Message='Domain not found: no domain with matching name 'minikube'') 💡 Suggestion: The VM that minikube is configured for no longer exists. Run 'minikube delete'"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-11-26 12:14] kingsudhu opened #5982 "Error getting host status ❌ Error: [KVM2_NO_DOMAIN] state: getting connection: looking up domain: virError(Code=42, Domain=10, Message='Domain not found: no domain with matching name 'minikube'') 💡 Suggestion: The VM that minikube is configured for no longer exists. Run 'minikube delete'"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-11-26 12:14] kingsudhu opened #5983 "KVM: looking up domain"
Error getting host status ❌  Error: [KVM2_NO_DOMAIN] state: getting connection: looking up domain: virError(Code=42, Domain=10, Message='Domain not found: no domain with matching name 'minikube'') 💡  Suggestion: The VM that minikube is configured for no longer exists. Run 'minikube delete'

[2019-11-26 15:23] worlvlhole commented on #5924
I have similar issue but behind NO proxy.

[code]

[2019-11-26 19:50] umathivagit commented on #5930
Yes that worked...thanks..

[2019-11-26 21:08] #5976 closed

[2019-11-26 21:08] #5977 closed

[2019-11-26 21:08] #5978 closed

[2019-11-26 21:08] #5979 closed

[2019-11-26 21:08] #5980 closed

[2019-11-26 21:08] #5981 closed

[2019-11-26 21:08] #5982 closed

[2019-11-26 21:09] medyagh commented on #5983
@kingsudhu can you try `minikube delete --all --purge` and then try start again?

[2019-11-26 22:30] aissarmurad commented on #3867
`minikube delete` works for me

[2019-11-26 23:22] Dxvid opened #5986 "Linux documentation updates for OpenSUSE"
OpenSUSE virtualization link needs updating to the new one with '-' instead of '.' :

[https://doc.opensuse.org/documentation/leap/virtualization/html/book.virt/cha-vt-installation.html](https://doc.opensuse.org/documentation/leap/virtualization/html/book.virt/cha-vt-installation.html)

Please add install instructions for OpenSUSE and SUSE:

`curl -LO https://storage.googleapis.com/minikube/releas

[2019-11-27 05:29] flonly2008 opened #5989 "minikube start"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>
😿  Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
👉  https://github.com/kubernetes/minikube/issues/new/choose

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-11-27 05:31] #5989 closed

[2019-11-27 07:43] RA489 commented on #5867
/assign

[2019-11-27 08:35] telefoontoestel commented on #5963
Are you sure that the kubectl binary in wsl is pointing to the same kubectl binary in Windows? It might be that these are different binaries and therefore have different config files. Try to run the `kubectl version` and `kubectl config view` commands in both environments and check that they output the same information.

[2019-11-27 16:49] mvgijssel opened #5991 "Docker run stuck and consuming 100% CPU"
For certain operations like `apt-get install python-pip` docker inside Minikube gets stuck with CPU at 100%.

Running the same command (same distro etc) on docker for mac completes almost instantaneously.

**The exact command to reproduce the issue**:
[code]
**The full output of the command that failed**:<details>
Get:1 http://security-cdn.debian.org/debian-security stretch/updates InRelease [94.3

[2019-11-27 18:00] afbjorklund commented on #4166
I think it will be enough with `podman build` for now. Can revisit buildah later, if required.

[2019-11-27 18:00] #4166 closed

[2019-11-27 18:02] afbjorklund commented on #5986
The minikube package only installs one single binary, so it is unlikely to require a btrfs snapshot.
Wouldn't you normally use something like `zypper`, to install dependencies and do stuff like this ?

Would prefer to not complicate the basic readme with too complex instructions, if at all possible.
I guess one could expand different distributions and file systems, in the advanced documentation.

[2019-11-27 18:08] #5965 closed

[2019-11-27 18:10] afbjorklund commented on #5961
It should allow for both, just didn't add multiple test cases.

[2019-11-27 18:10] #5961 closed

[2019-11-27 19:16] alika commented on #2735
@dannyharding10, the "default" setup will be dependent on the service on your host OS you are trying to connect to from inside minikube. For instance postgres will by default only bind to localhost. To make the postgres service "bound to all IP's" you have to:

- add the line `listen_addresses = '*'` to `postgres.conf`
- add the line `host    all             all             0.0.0.0/0

[2019-11-27 19:31] afbjorklund commented on #5974
It's probably fine if it loads to the current profile only, but confusing if it does load to the others but isn't visible right away... That sounds like a bug, or at least something that was unintended ?

[2019-11-27 19:39] afbjorklund commented on #5867
Hmm, it looks to me that it _is_ being called ?

https://github.com/kubernetes/minikube/blob/master/pkg/minikube/machine/client.go#L183

Most likely it went back to default, when removed.

[code]

[2019-11-27 20:24] afbjorklund commented on #5823
We have now updated to newer versions:

conmon `v2.0.3`

runc `v1.0.0-rc9`

But the "-master" arguments above still hold.

[2019-11-27 20:31] afbjorklund commented on #5823
Due to this way of building, our runc also lacks a proper version:

[code]

While it is _supposed_ to look like this:

[code]

It is making docker confused (about the version number).

[2019-11-27 20:35] afbjorklund commented on #5823
See also #5822, maybe we _shouldn't_ use binaries cni/cni-plugins and crictl - even if we do now ?

[2019-11-27 21:27] Dxvid commented on #5986
In SUSE and OpenSUSE both YAST and zypper and transactional-update are preconfigured to create snapshots. rpm however isn't configured to create snapshots, so whenever I do rpm installs I use snapper create to get snapshots. However you have a point in making instructions simple and user friendly.
It's OK with me if you want to leave it out. If so then maybe you could just add SUSE & OpenSUSE to t

[2019-11-28 01:17] kaobeixingfu opened #5993 "crash"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2019-11-28 02:19] snimje opened #5994 "VBoxManage: error: Details: code NS_ERROR_FAILURE"
minikube start
😄  minikube v1.5.2 on Ubuntu 18.04
🔥  Creating virtualbox VM (CPUs=4, Memory=16384MB, Disk=20000MB) ...
🔄  Retriable failure: create: creating: Unable to start the VM: /usr/bin/VBoxManage startvm minikube --type headless failed:
VBoxManage: error: The virtual machine 'minikube' has terminated unexpectedly during startup with exit code 1 (0x1)
VBoxManage: error: Details: code NS_ERRO

[2019-11-28 04:45] #5986 closed

[2019-11-28 05:30] GarretSidzaka commented on #5815
thoughts on this issue?

[2019-11-28 09:26] sahaaditya62 opened #5995 "none: waiting for apiserver: apiserver process never appeared"
I1128 13:37:37.802794   11604 ssh_runner.go:205] > Nov 28 07:35:41 minikube dockerd[2072]: time="2019-11-28T07:35:41.312422164Z" level=info msg="loading plugin "io.containerd.runtime.v2.task"..." type=io.containerd.runtime.v2
I1128 13:37:37.802811   11604 ssh_runner.go:205] > Nov 28 07:35:41 minikube dockerd[2072]: time="2019-11-28T07:35:41.312552677Z" level=info msg="loading plugin "io.containerd

[2019-11-28 09:45] chinafzy commented on #94
watching this subject.

[2019-11-28 11:25] SimonMal84 commented on #4132
Bug still exists in:
CentOS Linux release 7.7.1908
minikube v1.6.0-beta.1
docker 19.03.5

Start option for minikube are:
sudo minikube start --extra-config=kubelet.cgroup-driver=systemd --vm-driver=none --docker-env http_proxy=http://xxx:1111 --docker-env https_proxy=https://xxx:1111

[2019-11-28 12:08] thotz opened #5996 "minikube is not coming up in fedora 31"
**The exact command to reproduce the issue**:
minikube start --vm-driver=none

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>
==> Docker <==
-- Logs begin at Wed 2019-11-27 15:59:28 IST, end at Thu 2019-11-28 17:38:04 IST. --
Nov 28 15:42:21 localhost.localdomain dockerd[58582]: time="2019-11-28T15:42:21.343008510+05:30

[2019-11-28 14:56] mbaeuerle commented on #3207
@wojciechka thanks for sharing this valuable workaround with us!
Is there a way to configure minikube to always start up the cluster with this configuration? That would be awesome!

[2019-11-28 15:30] afbjorklund commented on #5996
Possibly #4172 ?

[2019-11-28 17:41] stantonxu commented on #5650
In my case, the field was already "Kind: Config" when I saw the problem. So this doesn't work.

[2019-11-28 17:41] jsbraich opened #5997 "Adopt GPT instead of MBR to allow for >2TB partitions"
Minikube VM appears to be using msdos partitioning to partition /dev/vda, which has 2TB limit, and cannot create partition greater than that.  Could this be changed to use gpt?

I have a test environment for which 6TB on a single server is being allocated to minikube from which only 2TB is being used (due to msdos partition table limit), and would like to use all 6TB by vda1 partition. Any thought

[2019-11-28 18:14] wojciechka commented on #3207
Here is some additional information on this.

Regarding where I am running this - I am running minikube on Linux. The host machine is a sLinux Debian 9 Stretch, with i3-2100 CPU (2 cores, 2 threads at 3.1 GHz). The machine has 32GB of RAM. The host machine runs some background tasks, but it is not under anything close to a heavy load - the load is below 0.5 when I do not have minikube started. For

[2019-11-28 23:20] nealYangVic commented on #3614
I think still have same problem after reboot

[2019-11-29 01:11] ossie-git commented on #1926
Based on @paljsingh's suggestion, I turned off my VPN connection and it worked.  Haven't debugged the root cause but I now have:

[code]

[2019-11-29 06:40] afbjorklund commented on #94
You can see an early demo of the feature in the KubeCon NA 2019 talk, so work on it has been resumed (although not by me) and soon out

[2019-11-29 06:45] afbjorklund commented on #5997
“That’s a pretty big laptop you have there” - don’t think that anyone has tried with such a size before. Not sure if Buildroot even supports GPT, but you could set the VM up yourself ? (and then run minikube on it, using e.g. the generic driver)

[2019-11-29 09:45] Lanayx commented on #4072
/reopen

[2019-11-29 09:47] Lanayx commented on #4072
Hi, I'm getting the same symptoms with minikube 1.5.2 on windows+hyperv, when trying to install [rook](https://github.com/rook/rook) cluster

[2019-11-29 12:13] netikras opened #5998 "Cannot start minikube: Permission Denied w/o sudo, kvm-as-root-error when w/ sudo"
It's a freshly downloaded minikube 1.5.2.
Frankly I don't feel like granting a non-privileged user r/w permissions to /etc/systemd/* . Could you maybe do the open()/remove() with sudo or something?

**The exact command to reproduce the issue**:
minikube start
sudo minikube start

**The full output of the command that failed**:<details>

netikras@netikras-xps: received$ minikube start
😄  minikube v

[2019-11-29 12:23] netikras commented on #5998
Then I tried a temporary workaround until this issue is sorted out, but noooo, minikube kas more tricks up it's sleeve!

[code]

[2019-11-29 12:29] netikras commented on #5998
Let's try to use the hint and bypass the kvm driver. Gues what! Minikube :: me -- 3 :: 0

[code]

syslog flooded with entries:

[code]

[2019-11-29 13:41] qq516249940 commented on #5451
I run the command  `minikube delete`  resloved problem！

[2019-11-29 14:17] antonovicha commented on #3207
Did what @wojciechka proposed together with mem increase to 4 Gb from default 2 Gb (as suggested by @jroper). It drops CPU usage of my laptop (2c/4t) from 70-80% to 40-50% but it is does not solve a problem. CPU is still boosted from idle clocks and fan is working on high revs.

[2019-11-29 14:39] svendiedrichsen commented on #4481
+1

[2019-11-29 17:04] vamossagar12 commented on #5795
hi @tstromberg did you get a chance to look at my last 2 comments?

[2019-11-29 18:03] drmason13 opened #5999 "none Ubuntu 18.04: apiserver process never appeared"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
$ minikube version
minikube version: v1.5.2
commit: 792dbf92a1de583fcee76f8791cff12e0c9440ad-dirty
$ minikube start
😄  minikube v1.5.2 on Ubuntu 18.04
👍  Upgrading from Kubernetes 1.8.0 to 1.16.2
💿  Downloading VM boot image ...

💡  Tip: Use 'minikube start -p <name>' to create a

[2019-11-29 18:04] drmason13 commented on #5999
Sorry, i wasn't very clear: the second "file" in the linked gist is the output of the second minkube start (`--vm-driver=none`)

[2019-11-30 04:38] kiranbaddi commented on #3096
I am using minikube version: v1.5.2 and yet I get the same error when I am trying to start minikube.
I have also updated the hyperkit drivers as suggested by @tstromberg

[2019-11-30 12:57] afbjorklund commented on #5998
Sorry that minikube didn't work out for you, there should be no need for sudo or to use the none driver.

It is not clear from the logs above, why the initial kvm VM was not able to update the kubelet.service (inside the VM). It should not be needed to do any further modification to the **host** configuration.

But since this wasn't the first start, maybe there was more information available in th

[2019-11-30 13:06] afbjorklund commented on #5997
There are more details at: http://www.linux-kvm.org/page/OVMF

I'm not sure if this feature would be widely used, and if it can be implemented without disturbing the "normal" kvm2 driver workflow. But if it can, we could perhaps make it into an option eventually.

[2019-11-30 13:09] netikras commented on #5998
@afbjorklund That's allright. Though I have nuked minikube from my system and set up a k8s cluster using kubeadm out of my lappy and a few RPis. I'm just saying that to be clear that I no longer have minikube on my lappy. I still have a /var/log/syslog for that day and I _think_ I still have an /etc/kubernetes_BAK1 (as it was clashing with k8s instalation later on) in case you need anything from t

[2019-11-30 14:01] Lanayx commented on #4072
With minikube-v1.6.0-beta.1 it works for me

[2019-12-01 02:46] jsbraich commented on #5997
Thanks for your response, just wondering if gpt becomes the default partitioning scheme in minikube, how would it effect the kvm2 driver workflow.

[2019-12-01 04:20] yunpengzju opened #6001 "重启 cluster 时出错"
**重现问题所需的命令**：minikube start

**失败的命令的完整输出**：<details>
😄  Darwin 10.15 上的 minikube v1.5.2
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🔄  Starting existing hyperkit VM for "minikube" ...
⌛  Waiting for the host to be provisioned ...
⚠️  VM is unable to access k8s.gcr.io, you may need to configure a proxy or set --image-repository
🐳  正在 Do

[2019-12-01 04:47] anorek commented on #4392
@sjortiz @tstromberg could i take this issue?

[2019-12-01 07:12] EmpeRoar commented on #5497
@tstromberg  how .kube/config to what?

[2019-12-01 10:51] afbjorklund commented on #5998
That's OK, installing a kubernetes cluster with `kubeadm` is what minikube does anyway.

Glad to hear it worked out for you in the end.

[2019-12-01 10:51] #5998 closed

[2019-12-01 11:08] afbjorklund commented on #5997
Like if one would need to have a patched qemu/kvm, or if it would stop working with bios or something ? For minikube we normally just deliver an ISO image to boot from and create an empty disk image at runtime, so don't really "partition" much. Your particular use case would probably be better served by mounting an additional data partition, since it is unlikely that the 6T is needed for container

[2019-12-01 11:31] afbjorklund commented on #5997
Besides serial services and network interfaces, my libvirt creates two disks for me:

1)
-device lsi,id=scsi0,bus=pci.0,addr=0x4
-drive file=/home/anders/.minikube/machines/minikube/boot2docker.iso,format=raw,if=none,id=drive-scsi0-0-2,readonly=on
-device scsi-cd,bus=scsi0.0,scsi-id=2,drive=drive-scsi0-0-2,id=scsi0-0-2,bootindex=1

2)
-drive file=/home/anders/.minikube/machines/minikube/minikube.r

[2019-12-01 11:52] afbjorklund commented on #5997
Most likely something other than `fdisk` is needed, to create the disk image:

https://github.com/kubernetes/minikube/blob/master/deploy/iso/minikube-iso/package/automount/minikube-automount

[code]

If I understand correctly, this would have to use `gdisk`instead (for GPT) ?

But maybe it is enough to just add a configuration parameter, that we can do...

https://github.com/boot2docker/boot2docke

[2019-12-01 11:57] avisiedo commented on #4313
Hi.... I have a situation where I would like just the opposite. I mean, I am starting the cluster with minikube, and I would like the sockets to be bound to 0.0.0.0 so that I can access from another host. I now that minikube is not for production, and it is not my intention to use this for production, but make this bind to external IP is good for me. I am using --vm-driver=none to start the kubern

[2019-12-01 17:07] jsbraich commented on #5997
Yes, that is what I had to do to get around 2TB limitation.  Good thing is that
`fdisk from util-linux 2.32` is already compiled with gpt so this small fix worked for me using kvm2, which partitioned my disk `/dev/vda1` for 6TB.  I hope this patch would also work on any other hypervisor.

[code]

[2019-12-02 02:47] davix commented on #4206
Hi I'm running the same issue and I don't have "Little Snitch" or bootpd installed.
Any workaround?

[code]

[2019-12-02 08:16] ZCJ commented on #5931
I think there is an issue with virtualbox and ubuntu 19.10

[2019-12-02 08:16] #5931 closed

[2019-12-02 09:00] kamilgregorczyk commented on #94
It's also very easy to do it with multiples and k3s https://medium.com/better-programming/local-k3s-cluster-made-easy-with-multipass-108bf6ce577c?source=userActivityShare-86e09b1d4ec0-1575217521

[2019-12-02 09:23] grahamwhaley commented on #4347
@egernst - were you trying to pick this up recently? Any updates or preliminary data?

[2019-12-02 10:31] simple-jiang opened #6003 "minikube minikube start"
**重现问题所需的命令**：minikube start

**失败的命令的完整输出**：<details>
* minikube v1.3.0 on Ubuntu 18.04
* Running on localhost (CPUs=2, Memory=2461MB, Disk=47990MB) ...
* OS release is Ubuntu 18.04.2 LTS
* Preparing Kubernetes v1.15.0 on Docker 18.09.5 ...
  - kubelet.resolv-conf=/run/systemd/resolve/resolv.conf
* Pulling images ...
* Launching Kubernetes ...
* Waiting for: apiserver proxy*
X Wait failed: waitin

[2019-12-02 10:31] #6003 closed

[2019-12-02 11:43] #4122 closed

[2019-12-02 13:05] truatpasteurdotfr opened #6004 "Using the Docker daemon"
The "Related Documentation" link at the bottom of the page is 404:
docker_registry.md ->
https://minikube.sigs.k8s.io/docs/tasks/docker_daemon/Using%20the%20Docker%20registry

[2019-12-02 16:10] priyawadhwa commented on #5991
Hey @mvgijssel thanks for opening this issue.

I tried to reproduce this error, but running

[code]

worked as expected for me. I'm running minikube v1.6.0-beta.1, would you mind trying with the updated version?

[2019-12-02 16:56] Sevyls commented on #5824
still a problem on macOS 10.15.1, Homebrew 2.2.0

[2019-12-02 18:07] afbjorklund commented on #5824
@Sevyls : Your symlink also missing ? Did you open a bug report with brew ?

[2019-12-02 18:09] afbjorklund commented on #6004
Now lives at https://minikube.sigs.k8s.io/docs/tasks/docker_registry/

[2019-12-02 18:12] afbjorklund commented on #5995
Do you have SELinux enabled ?

[2019-12-02 18:13] Sevyls commented on #5824
yes it was missing, created it manually afterwards

no, as I found this issue instead

[2019-12-02 18:16] afbjorklund commented on #5824
Please do, this seems to be brew-specific. There is nothing special in the minikube "formula":

https://github.com/Homebrew/homebrew-core/blob/master/Formula/minikube.rb

[2019-12-02 19:27] afbjorklund commented on #5997
As per above, you don't need primary/secondary (the `'p'`) anymore after switching to GPT:

[code]

But it would still require a lot of testing, so that it works OK with all the hypervisors.

[2019-12-02 19:36] afbjorklund commented on #5823
Well, apparently you _need_ to rename packages if you want to use a newer version than system...

**Buildroot 2019.02**
* [runc](https://github.com/buildroot/buildroot/tree/2019.02.x/package/runc) 1.0.0-rc8
* [docker-containerd](https://github.com/buildroot/buildroot/tree/2019.02.x/package/docker-containerd) v1.2.6
* [docker-engine](https://github.com/buildroot/buildroot/tree/2019.02.x/package/doc

[2019-12-02 19:44] afbjorklund commented on #5823
I guess changing from the "go build" hack back to the Makefile, would also fix the version.

[code]

Or at least make sure to add the VERSION and `-X main.version=${VERSION}` to runc

[2019-12-02 23:40] khanmaster opened #6006 "💣 Error restarting cluster: waiting for apiserver: apiserver process never appeared"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-12-03 08:23] mvgijssel commented on #5991
Installed minikube v1.6.0-beta.1 using

[code]

created a new minikube instance

[code]

ran the same command and now everything is working as expected 🎉🎉🎉.

Thanks for the help.

[2019-12-03 08:23] #5991 closed

[2019-12-03 09:04] wangxiyuan opened #6007 "Publish arm64 image for gcr.io/k8s-minikube/storage-provisioner"
**The exact command to reproduce the issue**:
`minikube start --vm-driver=none --kubernetes-version=v1.16.2` on an ARM machine

**The full output of the command that failed**:<details>

The `storage-provisioner` pod is falied to start.

</details>

**The output of the `minikube logs` command**:<details>

`Back-off pulling image "gcr.io/k8s-minikube/storage-provisioner-arm64:v1.8.1"`

</details>

*

[2019-12-03 11:34] govargo commented on #5944
I will work on this(if someone don’t take)

It may take time to complete this.

/assign

[2019-12-03 13:07] #3169 closed

[2019-12-03 14:40] vamossagar12 commented on #4835
I followed the steps outlined here and was able to start minikube. Thanks!

[2019-12-03 16:49] WojciechThomas commented on #5660
I have met this error after running command `sudo minikube --vm-driver=none`. It has crashed, but left lock file in /tmp folder owned by root.

My solution was to clear /tmp with `sudo rm /tmp -rf`, then `sudo minikube delete` to remove obsolete files, and then start afresh with `minikube start`. The last command without `sudo`, as the default option `--vm-driver=virtualbox` discourages running mi

[2019-12-03 17:20] harish507 opened #6008 "minikube failure"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-12-03 18:02] smoya commented on #5951
Same issue here.

[code]

[code]

The error:
[code]

[2019-12-03 18:08] intelfx opened #6009 "CRI-O config (/etc/crio/crio.conf) should not be hardcoded (nor overwritten without a prompt)"
With `minikube start --vm-driver=none --container-runtime=crio`, minikube attempts to overwrite any pre-existing CRI-O configuration at `/etc/crio/crio.conf` with a hardcoded template.

First, this has a potential for user data loss (if the user has a nontrivial configuration in place).

Second, this makes minikube/crio unusable on any systems that do not adhere to the hardcoded paths (e. g. Arch

[2019-12-03 20:30] Srinivas289 commented on #1021
ran into same issue on windows, got over this, by
delete and start.

If you see error while deleting, go to Hyper-V Manager (through start) and remove minikube Virtual Machine, and try a delete couple of times.

[2019-12-03 20:31] Srinivas289 commented on #3866
ran into same issue on windows, got over this, by
delete and start.

If you see error while deleting, go to Hyper-V Manager (through start) and remove minikube Virtual Machine, and try a delete couple of times.

[2019-12-03 21:01] afbjorklund commented on #6009
This is related to #5677 (about the template). Data loss is to be expected when using the "none" driver, but there is also compatibility issues with different crio versions and the afforementioned paths.

[2019-12-03 21:05] afbjorklund commented on #6009
This already overwrites the configuration from the ISO as well, so the crio.conf in the Buildroot package is **not** what ends up being used... To make matters worse, crio.conf is in "cri.go" and not in "crio.go".

[2019-12-03 21:10] afbjorklund commented on #4087
Tried to enable this in crio.conf, but it failed (to apply, since the config is being overwritten)

[2019-12-04 09:46] MrBuddyCasino opened #6011 ""config set container-runtime cri-o" tells me to use containerD"
**The exact command to reproduce the issue**:
works: `minikube start --container-runtime=cri-o`
doesn't work: `minikube config set container-runtime cri-o`

**The full output of the command that failed**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>

not applicable

</details>

**The operating system version**: macOS Mojave

[2019-12-04 11:26] thotz commented on #5996
@afbjorklund : Yeah it looks similar but I didn't understand the solution for this issue

[2019-12-04 11:42] MrBuddyCasino opened #6012 "Minikube registry addon fails"
I can't pull images from the Minikube registry using `localhost:5000/instana/echo-client`, it fails with "no route to host". Pushing works though!

**The exact command to reproduce the issue**:
[code]
**The full output of the command that failed**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>

see [minikube.log](https://github.com/kubernetes/minikube/files/

[2019-12-04 12:34] afbjorklund commented on #6011
This was fixed in #5964

[2019-12-04 13:25] MrBuddyCasino commented on #6012
I also tried using `registry.kube-system.svc.cluster.local:80/instana/echo-client` as the container image location, but the host lookup failed with `ErrImagePull: rpc error: code = Unknown desc = pinging docker registry returned: Get https://registry.kube-system.svc.cluster.local:80/v2/: dial tcp: lookup registry.kube-system.svc.cluster.local: no such host`.

Using the IP worked tough: `10.111.155

[2019-12-04 15:49] andersthorsen commented on #94
A drawback with multipass is that they do not support Windows Server as the OS...

[2019-12-04 15:50] MrBuddyCasino commented on #6012
This might be a duplicate of
https://github.com/kubernetes/minikube/issues/4553
https://github.com/kubernetes/minikube/issues/4547

[2019-12-04 15:56] mvgijssel opened #6013 "vmware: Shared folder does not work: VMware tools not installed"
Running minikube with the `vmware` driver does not share a folder with the host as documented https://kubernetes.io/docs/setup/learning-environment/minikube/#mounted-host-folders.

The shared folder is shown in VMware Fusion, but not available in the host.
![image](https://user-images.githubusercontent.com/6029816/70157677-45da1300-16b6-11ea-8bd0-9a2a4500ada1.png)

**The exact command to reproduce

[2019-12-04 16:01] srflaxu40 commented on #5235
Does not work on minikube 1.5 or k8s 1.16 either

[2019-12-04 16:07] cristian04 commented on #4456
I can reproduce this on:
minikube version: v1.5.2
Running k8s v1.16.2

I tried adding
[code]

but it didn't work. Minikube keeps restoring `metrics-server` to the default values.

[2019-12-04 16:37] vamossagar12 commented on #5795
hi @tstromberg , so I was able to replicate the issue on a linux box. Honestly, it took me some time because of some of the other issues with minikube start(highlighted above) and then not always was I getting this issue. After running minikube start->stop->start, I sometimes get this exception which leads to the failure of minikube start:

[code]

This is during the restartCluster phase in kubead

[2019-12-04 18:19] jorgemoralespou commented on #4547
I've added the insecure registry manually at the machine config file `~/.minikube/machines/<PROFILE_NAME>/config.json` and it worked for me.

[2019-12-04 20:16] ss-1 opened #6014 "none on CentOS 8: waiting for apiserver: apiserver process never appeared"
**sudo /home/ss1/bin/minikube start --vm-driver=none**:

*** minikube v1.5.2 on Centos 8.0.1905
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Starting existing none VM for "minikube" ...
* Waiting for the host to be provisioned ...
* Preparing Kubernetes v1.16.2 on Docker '19.03.5' ...
* Relaunching Kubernetes using kubeadm ...
1*
X Error

[2019-12-04 21:22] devopstales commented on #5996
@thotz This is a problem with fedora 31's cgroupsv2 and docker not with minikube:
https://medium.com/@drpdishant/installing-docker-on-fedora-31-a073db823bb8

[2019-12-04 21:47] vivekwpatil opened #6015 "Minikube is crashing in Windows 10"
I installed minikube version V1.5.2 using chocolatey on window 10.

I have docker desktop installed and running locally,

I am trying to start minikube but is crashing.

command: minikube start:

 minikube start
* minikube v1.5.2 on Microsoft Windows 10 Enterprise 10.0.17134 Build 17134
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Using

[2019-12-04 21:55] vivekwpatil commented on #6015
$ minikube logs
* ==> Docker <==
* -- Logs begin at Wed 2019-12-04 20:42:33 UTC, end at Wed 2019-12-04 21:53:04 UTC. --
* Dec 04 20:43:36 minikube dockerd[2848]: time="2019-12-04T20:43:36.895651326Z" level=info msg="loading plugin "io.containerd.differ.v1.walking"..." type=io.containerd.differ.v1
* Dec 04 20:43:36 minikube dockerd[2848]: time="2019-12-04T20:43:36.895734626Z" level=info msg="loadin

[2019-12-05 06:13] thotz commented on #5996
@devopstales @afbjorklund switching to cgroupv1 worked, hence closing this issue. Thanks for the help

[2019-12-05 06:13] #5996 closed

[2019-12-05 06:45] afbjorklund commented on #5996
Would probably be nice if we could detect this situation and offer a solution, similar to when using systemd instead of cgroupfs.

[2019-12-05 09:30] aleksas commented on #2922
@andahme Not sure if that's the static IP you are talking about but Docker Desktop on windows does this in hosts file:
[code]

[2019-12-05 11:39] neilbodz opened #6017 "Error opening service: services "kubernetes-bootcamp" not found"
**The exact command to reproduce the issue**:minikube service kubernetes-bootcamp --url

**The full output of the command that failed**:*
X Error opening service: Service kubernetes-bootcamp was not found in "default" namespace. You may select another namespace by using 'minikube service kubernetes-bootcamp -n <namespace>: Temporary Error: Error getting service kubernetes-bootcamp: services "kuber

[2019-12-05 13:03] mvgijssel opened #6018 "Docker build hangs on apt-key add command"
For some reason Minikube is unable to build the following `Dockerfile`:

[code]

It will hang 10+ minutes on the RUN statement. SSH'ing into the machine

[code]
shows that `apt-config shell APT_DIR Dir` is consuming 100% of 1 core of CPU.

Building the same `Dockerfile` in Docker for Mac finishes after ~10 seconds 😅.

**The exact command to reproduce the issue**:
[code]

**The full output of the c

[2019-12-05 13:49] ghazanfar1395 opened #6019 "VT-x is disabled in the BIOS for all CPU modes (VERR_VMX_MSR_ALL_VMX_DISABLED"
VT-x is disabled in the BIOS for all CPU modes (VERR_VMX_MSR_ALL_VMX_DISABLED

@k8s-ci-robot  @minikube-bot

[2019-12-05 14:02] vihcle opened #6020 "create $HOME/.minikube/certs: permission denied"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-12-05 14:50] srflaxu40 commented on #5235
I don't think the custom image stuff is working at all.  Even if I do a `docker tag` on the official image it still croaks

[2019-12-05 15:06] tjohnson1911 opened #6021 "Error restarting cluster: waiting for apiserver: apiserver process never appeared"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-12-05 19:34] Rub21 commented on #5824
You may need link minikube

[code]

[2019-12-05 19:41] medyagh commented on #5956
hi @JPMoresmau sorry to see this bug ! no this is no normal ! we do have an integraiton test for start-stop ...

I am curious are u running the start with sudo command as it is suggested ?

btw the --memory flag wont work on none driver.

[2019-12-05 19:42] medyagh commented on #5958
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-12-05 19:43] medyagh commented on #5963
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-12-05 19:45] medyagh commented on #5974
hm...for the PR I tried to keep the current behaviour.

[2019-12-05 19:46] medyagh commented on #5983
@kingsudhu  do you still have this issue ?

[2019-12-05 19:46] medyagh commented on #5993
@kaobeixingfu
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-12-05 19:49] medyagh commented on #5994
@snimje I am curious, are you running in a corp environment ?

I have a feeling this might be related to the way virtualbox handles dns, there is a new flag that we recently merged,

for start command:
[code]

I wonder if that would help you (the code is on master)

and additionally, I am curious, is there any reason you dont use an alternative driver ? if you are on linux KVM and if you are on ma

[2019-12-05 19:52] medyagh commented on #6008
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-12-05 20:24] ahmetb commented on #1189
It doesn't seem like there's a common need for this.
/close

[2019-12-05 20:24] #1189 closed

[2019-12-05 20:44] Sevyls commented on #5824
[code]
@Rub21  thanks, after brew link minikube everything works. but I don't really understand why a cask of a program is not automatically linked, as I don't  have minikube elsewhere installed.

my issue is resolved. thanks for the support!

[2019-12-05 21:40] aamjad opened #6022 "Minikube start command is not able to create and start the instance"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>

(base) kubernetes [aamjad]$ minikube start
😄  minikube v1.5.2 on Darwin 10.14.6
🔥  Creating hyperkit VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🔄  Retriable failure: create: Error creating machine: Error in driver during machine creation: hyperkit crashed! command line:
  hyper

[2019-12-05 21:54] aamjad commented on #6022
I deleted the minikube and then again started and it finally worked :)

[2019-12-05 21:54] #6022 closed

[2019-12-05 23:25] medyagh commented on #6020
Thank you for sharing your experience! If you don't mind, could you please provide:
- which os and platform and driver are u using?
- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-12-05 23:27] medyagh commented on #6019
hi @ghazanfar1395

thanks for creating this issue, can you share more info,
1- are you trying to run minikube inside a VM?
2- which os, platform and driver are you trying to use ?
3- have you enabled the VT-X in your bios ?

[2019-12-05 23:28] medyagh commented on #6018
@mvgijssel  I am curious is there a reason you build the docker file inside minikube? and not use minikube docker-env ? or the registery addon ?

[2019-12-06 06:13] hpraveent opened #6023 "kvm2: new host: dial tcp: missing address"
ubuntu@k8s-master:~$ minikube start
* minikube v1.5.2 on Ubuntu 18.04
* Downloading driver docker-machine-driver-kvm2:

* Creating kvm2 VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
* Retriable failure: new host: dial tcp: missing address
* Creating kvm2 VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
* Retriable failure: new host: dial tcp: missing address
* Creating kvm2 VM (CPUs=2, Memory=2000MB, D

[2019-12-06 07:14] snimje commented on #5994
Thanks for your reply. I had to enable VTx in system BIOS to get passed
this error. Minikube installed now.

On Fri 6 Dec, 2019, 1:19 AM Medya Ghazizadeh, <notifications@github.com>
wrote:

[2019-12-06 07:33] RubenAtPA opened #6024 "Feature request: command to recreate certificates"
While developing I need to work out of the office as well. The problem is that when I connect to the different network, the hyper-v minikube machine get a different address that can not (easily) be fixed. The problem after that is that when I run the `kubectl` commands I get the error: `Unable to connect to the server: x509: certificate is valid for 192.168.XXX.YYY, 10.96.0.1, 10.0.0.1, not 192.16

[2019-12-06 10:24] #6004 closed

[2019-12-06 13:49] stevendonline opened #6025 "Cannot start minikube on Centos 8"
Hi, I was trying to install the minikube on my laptop without VM. I have installed Docker and verified it is working fine (download images, start container etc.).

**The exact command to reproduce the issue**:
sudo minikube start --vm-driver=none

**The full output of the command that failed**:
😄  minikube v1.5.2 on Centos 8.0.1905
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or

[2019-12-06 14:43] mvgijssel commented on #6018
Hi @medyagh,

Sorry that I didn't made this clear, but I'm using the local docker cli with the minikube docker host:

[code]

[2019-12-06 15:45] zaw-moe-htike commented on #4587
It work for me
RUN > CMD > bcdedit /set hypervisorlaunchtype off
then reboot host machine.

[2019-12-06 16:22] RoelandMatthijssens opened #6026 "minikube start with version 1.12.1 fails: waiting for apiserver: apiserver process never appeared"
**The exact command to reproduce the issue**:
`minikube start --kubernetes-version v1.12.1`

**The full output of the command that failed**:<details>

[code]
</details>

**The output of the `minikube logs` command**:<details>
==> Docker <==
-- Logs begin at Fri 2019-12-06 16:02:03 UTC, end at Fri 2019-12-06 16:16:25 UTC. --
Dec 06 16:02:16 minikube dockerd[1908]: time="2019-12-06T16:02:16.10806670

[2019-12-06 16:22] devdattakulkarni opened #6027 "extra-config=apiserver.enable-admission-plugins=PodSecurityPolicy: too many open files"
Trying to enable PodSecurityPolicy Admission controller leads to 'too many open files' error. Cluster creation does not complete.

Have followed suggestions to put psp.yaml in appropriate location in .minikube folder as suggested on: https://github.com/kubernetes/minikube/issues/3818

Here are relevant details:

Minikube version:
-------------------
minikube version: v1.5.2
commit: 792dbf92a1de583

[2019-12-06 16:31] lmorse commented on #5825
I am also seeing this issue.  I am on an MacBook Pro with Mojave Version 10.14.6.
Here is my output ...
[code]
I am attaching the output for `minikube logs`
[minikube_logs_output.txt](https://github.com/kubernetes/minikube/files/3933104/minikube_logs_output.txt)

[2019-12-06 17:16] delmendo commented on #4056
/reopen
I'm having this problem with Ubuntu 19.10 - Vritualbox 6 and 5.2 - Minikube 1.5.2 & 1.6.0.beta1

[2019-12-06 18:29] orefalo commented on #5924
Same issue, hyperkit

[2019-12-06 19:08] focom commented on #3417
I run into the same issue with Azure AKS but not with Google GKE. How come Google have a fix and not other cloud provider.

[2019-12-06 21:37] wildanr commented on #3864
I'm using Windows 10, minikube version v1.5.2, with Virtual Box and facing this problem after several attempt of minikube stop, minikube delete, deleting .minikube, and repeat.

After several minutes of frustration, I finally get it to work by simply restarting the computer.

[2019-12-06 22:02] sunnyatticsoftware commented on #5451
Is specifying the switch for hyper V something required? If so, why?

[2019-12-07 09:35] JPMoresmau commented on #5956
Thanks for the info, so --memory is useless in my flag. I run as root, so permissions are not an issue. If I reboot the machine minikube starts fine usually, so it seems something is not properly shut down.

[2019-12-07 15:37] giuseppefg83 commented on #4206
my /var/db/dhcpd_leases contains :

{
	name=minikube
	ip_address=192.168.64.14
	hw_address=1,56:f:92:91:49:cf
	identifier=1,56:f:92:91:49:cf
	lease=0x5ded0faf
}
{
	name=minikube
	ip_address=192.168.64.13
	hw_address=1,ea:e4:76:e6:38:8f
	identifier=1,ea:e4:76:e6:38:8f
	lease=0x5ded0df1
}
{
	name=minikube
	ip_address=192.168.64.12
	hw_address=1,7a:8e:f2:a0:c2:f3
	identifier=1,7a:8e:f2:a0:c2:f3
	leas

[2019-12-07 22:50] #2918 closed

[2019-12-08 00:28] nicolereineke commented on #5734
Has the team considered FontAwesome as a source of additional emojis ?  (https://fontawesome.com/icons?d=gallery&m=free)
We could maintain the existing icons that are working, and as we need new ones, we can easily (and free) phase them in by adding Creative Commons Attribution.

In this instance, the trash or minus icon could easily meet the needs.
 https://fontawesome.com/icons/trash-alt?style=r

[2019-12-08 01:40] imorti opened #6028 "Unable to start VM: create: Error creating machine: Error in driver during machine creation: getting MAC address from UUID: vmnet: error from vmnet.framework: -1"
**The exact command to reproduce the issue**:
```minikube start```

`Unable to start VM: create: Error creating machine: Error in driver during machine creation: getting MAC address from UUID: vmnet: error from vmnet.framework: -1`

**The full output of the command that failed**:<details>

Unable to start VM: create: Error creating machine: Error in driver during machine creation: getting MAC addr

[2019-12-08 04:15] ZCJ commented on #5931
command (sudo modprobe vboxdrv) from [this link ](https://askubuntu.com/questions/1189888/how-to-install-virtualbox-on-ubuntu-19-10-secure-boot-not-enabled) fixed it for me

[2019-12-08 09:18] afbjorklund commented on #5734
@nicolereineke : how would you use custom fonts or icons in the terminal ?
Normally it just uses Unicode characters, which can render like anything...

Like so: (`'\U0001f5d1'`) 🗑️ https://emojipedia.org/wastebasket/
These can appear in black-and-white, or maybe not at all (ASCII)

[2019-12-08 10:05] gaetan1903 commented on #5715
I have the same issue .

The command: sudo minikube start --vm-driver=none disk_size=2g
The output:
 sudo minikube start --vm-driver=none disk_size=1g                                                                                                               70 ↵
🙄  minikube v1.5.2 on Arch rolling

💣  Failed to save config: error acquiring lock for /root/.minikube/profiles/minikube/config.json:

[2019-12-08 10:13] gaetan1903 commented on #5715
I solved mine,
I delete all minikube file in the /tmp

Maybe it's caused by first installation that I am stopped

[2019-12-08 12:21] kalyanvajrapu8 commented on #5715
Thanks Getha,
Let me try and inform

On Sun, 8 Dec 2019, 15:43 Gaetan Jonathan BAKARY, <notifications@github.com>
wrote:

[2019-12-08 13:41] spursy commented on #5891
**I use virtualbox, I encounter the same issue**
[code]

[2019-12-08 13:42] spursy commented on #5924
**I use virtualbox, I encounter the same issue**
[code]

[2019-12-08 14:04] nicolereineke commented on #5734
It took setup, but we are able to add new fonts to terminal as described
here:
https://link.medium.com/zZtqdFoKf2

 the color change on the icon font requires css, so that would only be
applicable to the documentation display or other online/GUI  user
interfaces

Just an idea. I’m new to terminal interfaces, so open to being wrong.

On Sun, Dec 8, 2019 at 4:18 AM Anders Björklund <notifications@gi

[2019-12-08 14:43] MiRa41 opened #6029 "Error restarting cluster"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-12-08 15:34] afbjorklund commented on #5734
Ah, interesting concept : ”patching” your favorite font with your favorite icons... Haven’t tried it, but the idea itself sounds novel enough to try.

https://www.nerdfonts.com/

Not sure how minikube (or go in general) could interact with this, so there are compatibility issues left to sort out. Like “use it if available”

[2019-12-08 18:45] UbaidurRehman1 commented on #4587
Its work

[2019-12-08 20:07] afbjorklund commented on #5734
This is actually quite simple to use, just use a different code point:
https://github.com/ryanoasis/nerd-fonts/wiki/Icon-Names-in-Shell

![docker-patched](https://user-images.githubusercontent.com/10364051/70395413-9a56f880-19fe-11ea-9581-9e24bb282911.png)

^ @medya

It does look awful with a non-patched font, so needs to be checked...
But this makes all of those extra icons available, for an alte

[2019-12-08 21:10] afbjorklund commented on #5734
Actually it can probably look quite weird, even with the nerd font.

![start-icon](https://user-images.githubusercontent.com/10364051/70396130-65e73a80-1a06-11ea-80c2-108851894f87.png)

There is no guarantee that the icons look OK, next to the emoji.

In this case it ended up "too small", so looks worse than the previous:

![start-emoji](https://user-images.githubusercontent.com/10364051/70396142-

[2019-12-08 21:31] afbjorklund commented on #5734
The [Nerd Fonts "cheat sheet"](https://www.nerdfonts.com/cheat-sheet) lists the available icons:

![nerd-fonts-cheat-sheet](https://user-images.githubusercontent.com/10364051/70396459-70570380-1a09-11ea-94b1-f51e47db2c06.png)

For instance the icon above is called `fa_trash_o` (or `\uf014`)

https://fontawesome.com/v4.7.0/icon/trash-o

`# Font Awesome (version 4.7.0, 675 icons, 111 aliases)`

----

[2019-12-08 21:54] Louiso opened #6030 "No se puede iniciar"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-12-08 21:56] vivekwpatil commented on #6015
Issue resolved after
-minikube delete
-minikube start

[2019-12-08 21:56] #6015 closed

[2019-12-09 05:05] orefalo commented on #5924
Well, I've since experimented since my last post.

I tried to use dnsmasq, minikube's ingress-dns addon: No success.  Lately I am exploring an undocumented command: `minikube tunnel`. Will post about it soon.

In the meantime, this script helped.

[code]

Regarding the issue above, either something is blocking the image pull or the dns is off.  Look for firewalls and/or DNS setup.

[2019-12-09 07:42] Jorijn commented on #5951
I found this issue because I was experiencing the same problem. I also found the culprit:

When SSH'ing into the machine I found out it's using the host machine's IP as resolving IP. When using `nslookup` I first got `connection refused`, then `connection timeout`. This makes no sense, but it triggered me for something something else:

For local development I've been using dnsmasq, so in fact some

[2019-12-09 09:11] zedtux commented on #6028
I have it too.

[2019-12-09 09:50] pengcong06 commented on #3564
mark

[2019-12-09 10:26] kvliet66 opened #6032 "hyperv: waiting for apiserver: apiserver process never appeared"
Starting minikube givers following error:

C:\WINDOWS\system32>minikube start
* minikube v1.5.2 on Microsoft Windows 10 Pro 10.0.18362 Build 18362
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Starting existing hyperv VM for "minikube" ...
* Waiting for the host to be provisioned ...
* Preparing Kubernetes v1.16.2 on Docker '18.09.9' ...

[2019-12-09 11:28] eltonkevani commented on #4589
for me hyperkit driver on mac had same issue. switching to vmwarefusion made the trick, though not a solution if you want to use hyperkit

[2019-12-09 13:44] douglascamata commented on #5951
@Jorijn you think maybe then this could be related to internal DNS configuration/servers used by VPN software? I have both Cisco AnyConnect and Tunnelblick installed.

[2019-12-09 16:29] LaumiH opened #6033 "sch_netem kernel module missing for network emulation (tc netem)"
**The exact command to reproduce the issue**:
*Application based*: Run a container like debian in priviledged mode in a pod and one pod that uses the [netem](http://man7.org/linux/man-pages/man8/tc-netem.8.html) network emulation linux tool, in my case [pumba](https://github.com/alexei-led/pumba). Pumba has no effect trying to mess with the network of the debian container. Pumba uses netem.

*modp

[2019-12-09 17:44] tstromberg commented on #5795
My gut instinct here is that `stop` was not stopping all of the Kubernetes pods, so that when Kubernetes came back up, it had a false sense of things running.

If the kube-proxy step requires etcd to be running, we should definitely probably be waiting for etcd before executing that step.

I don't recall the error I was running into before, just the observation that the apiserver appeared to  rest

[2019-12-09 18:01] tstromberg commented on #6033
Sounds reasonable. Here are the docs for adding a new kernel module to the ISO if anyone is interested in seeing this through:

https://minikube.sigs.k8s.io/docs/contributing/iso/#adding-kernel-modules

[2019-12-09 18:13] tstromberg commented on #4392
@anorek - please do!

Filtering out pre-releases for the CurrentVersion sounds good.

[2019-12-09 18:14] tstromberg commented on #4392
Increasing the priority as we really would like to end the year with this roadmap item fixed.

[2019-12-09 18:20] afbjorklund commented on #6025
Did you disable SELinux ? (we should probably add that step to a solution checklist)

[2019-12-09 18:22] afbjorklund commented on #6025
More details in #5532

[2019-12-09 18:25] afbjorklund commented on #6014
According to kubeadm documentation, CentOS currently needs to have SELinux disabled

`setenforce 0`

[2019-12-09 18:29] afbjorklund commented on #5995
See also #5532

[2019-12-09 18:35] priyawadhwa opened #6034 "Remove polling from the addon manager to reduce overhead"
In https://github.com/kubernetes/minikube/issues/5682#issuecomment-555285979, I pointed out that the addon manager polls to make sure addon configuration is correct every 5 seconds. This can result in CPU spikes up to ~80% of a core every 5 seconds.

Every 5 seconds, the addon manager runs the same command:

[code]

Instead of running the addon manager as a pod by default, we can turn the addon ma

[2019-12-09 18:40] tstromberg opened #6035 "Drive integration test flakes back down to 3%"
First step is to measure and publish the current state.

[2019-12-09 18:49] #4488 closed

[2019-12-09 18:50] #5953 closed

[2019-12-09 19:49] jfekete1 opened #6036 "'HostInterfaceNetworking-VirtualBox Host-Only Ethernet Adapter' (VERR_INTNET_FLT_IF_NOT_FOUND)"
**The exact command to reproduce the issue**:
minicube-windows-amd64.exe start

**The full output of the command that failed**:<details>
C:\Kubernetes>minikube-windows-amd64.exe start
* minikube v1.5.2 on Microsoft Windows 10 Home 10.0.18362 Build 18362
* Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
* Retriable failure: create: creating: Unable to start the VM: C:\Program Files

[2019-12-09 21:02] LaumiH commented on #6033
Going to PR the change as soon as my slow network is willing to clone the repo ...
Apply `minikube ssh` and `tc qdisc add dev eth0 root netem loss random 100%` to see how magnificently it works. But don't cry when the ssh connection fails because of 100% network loss ^^.

[2019-12-09 21:04] haseeebmalik opened #6037 "virtualbox: open iso/minikube-v1.5.1.iso.download: permission denied"
input :
**    minikube start --vm-driver=virtualbox
             **:

output :
**    minikube v1.5.2 on Ubuntu 18.04
💿  Downloading VM boot image ...

💣  Failed to cache ISO: https://storage.googleapis.com/minikube/iso/minikube-v1.5.1.iso: open /home/haseeb/.minikube/cache/iso/minikube-v1.5.1.iso.download: permission denied

😿  Sorry that minikube crashed. If this was unexpected, we would love to

[2019-12-09 21:34] #5911 closed

[2019-12-09 23:30] medyagh opened #6040 "Performance Test: measure start a stopped minikube"
while working on this PR https://github.com/kubernetes/minikube/pull/5987/files

I noticed my mprovements might have added 10 seconds to minikube "re-start" but to verify I had to do manual testing.
I purpose we measure, how a PR affects miikube start after a stop.

to do that:
- minikube start;
measure as before
- minikube stop
measure stop also
- minikube start
measure the start existing

[2019-12-10 06:35] zzxwill commented on #4172
Worked for me.
[code]

[2019-12-10 08:32] vostruk commented on #5907
In my case I was getting
error: Error loading config file "C:\Users\vostruk/.kube/config": yaml: control characters are not allowed
on every kubectl command.

The solution was to delete the config file under "C:\Users\vostruk/.kube/config" (it is being recreated by kubernetes later on without errors)

[2019-12-10 09:21] LaumiH commented on #6033
/assign

[2019-12-10 09:37] enote-kane commented on #5911
Hi @tstromberg , thank you for addressing this issue.

Just for clarification: Does this mean that it should be possible now to run multiple minikube profiles managed by different users concurrently?

[2019-12-10 09:43] anorek commented on #4392
will try :) might need some assist like the authentication key and so

[2019-12-10 10:46] AsherShoshan commented on #5801
But how to run WITH root privileges?
Should I create non-root user for this?

[2019-12-10 14:33] karuppiah7890 opened #6041 "Update default kubernetes version to v1.17.0"
As Kubernetes has released it 🎉  https://github.com/kubernetes/kubernetes/releases/tag/v1.17.0

[2019-12-10 16:05] gattytto commented on #3511
for running minikube inside a LXC container with ubuntu 20.04(focal)
minikube start --vm-driver=none --extra-config kubeadm.ignore-preflight-errors=SystemVerification --extra-config=kubelet.resolv-conf=/run/systemd/resolve/resolv.conf

[2019-12-10 16:21] tgonda-discovery commented on #4099
`I1210 11:19:35.277801    4308 main.go:110] libmachine: COMMAND: C:\Program Files\Oracle\VirtualBox\VBoxManage.exe --version
I1210 11:19:35.381057    4308 main.go:110] libmachine: STDOUT:
{
}
I1210 11:19:35.381057    4308 main.go:110] libmachine: STDERR:
{
}
* Retriable failure: create: precreate: We support Virtualb`

[2019-12-10 17:15] tstromberg commented on #5801
Yes. Alternatively you may pass --force, but in general it is not
recommended to execute  programs as root unless required.

On Tue, Dec 10, 2019, 2:46 AM AsherShoshan <notifications@github.com> wrote:

On Tue, Dec 10, 2019, 2:46 AM AsherShoshan <notifications@github.com> wrote:

[2019-12-10 19:18] medyagh commented on #6040
Here is example in this PR comment.
https://github.com/kubernetes/minikube/pull/5987#issuecomment-564186811

[2019-12-10 20:02] #6033 closed

[2019-12-10 20:03] #6041 closed

[2019-12-10 20:04] medyagh opened #6044 "improve message when trying to cache non existing image"
when I try to cache an image that doesn't exist I get a crash :

[code]

we could be nicer and say, we couldn't find the image in all the auhtoirzed registeries we have access to

[2019-12-10 20:23] medyagh opened #6045 "update "go-containerregistry" to latest version"
currently in go.mod we are using require to overide and old version

https://github.com/kubernetes/minikube/blob/b6ff7bae62eb69bf7a2cd7592c4e0c96ce5247ce/go.mod#L5

[2019-12-11 01:43] cheeseandcereal commented on #5667
Is there any way we could get the coredns and storage-provisioner containers to have a built arm64 version? Currently tried to get minikube v1.5.2 working (for the most part), but with a big blocker on those 2 containers:

[code]

[2019-12-11 05:41] 13567436138 opened #6054 "how to use minikube addons open"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>
[root@localhost ~]# minikube addons open dashboard
X This addon does not have an endpoint defined for the 'addons open' command.
You can add one by annotating a service with the label kubernetes.io/minikube-addons-endpoint:dash

[2019-12-11 08:09] davix opened #6055 "💣 Error restarting cluster: waiting for apiserver: apiserver process never appeared"
**The exact command to reproduce the issue**:
minikube start --image-repository='cn' --image-repository='registry.cn-hangzhou.aliyuncs.com/google_containers'

**The full output of the command that failed**:<details>
➜  ~ minikube start --image-repository='cn' --image-repository='registry.cn-hangzhou.aliyuncs.com/google_containers'
🎉  minikube 1.6.0 is available! Download it: https://github.com/kub

[2019-12-11 11:51] r77s opened #6056 "Failed to setup kubeconfig: writing kubeconfig"
**The exact command to reproduce the issue**:
minikube start -p cluster1

**The full output of the command that failed**:<details>
C:\Users\renes>minikube start -p cluster1
* [cluster1] minikube v1.6.0 on Microsoft Windows 10 Pro 10.0.18363 Build 18363
* Selecting 'virtualbox' driver from user configuration (alternates: [])
* Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
* Prepa

[2019-12-11 12:26] sepiol opened #6057 "minikube start fails on Windows 10 Home"
I'm trying to run 'minikube start' on Windows 10 home after installing minikube and placing kubectl.exe in a folder with an environment variable pointing there, but I'm getting the below error.

I've also put KUBECONFIG=C:\Users\****\.kube\config

Which points to a config file I've created using kubectl.

**The exact command to reproduce the issue**:
minikube start

**The full output of the comman

[2019-12-11 12:32] nkolchenko opened #6058 "Win10: error acquiring lock for C:\Users<username>/.kube/config: timeout acquiring mutex"
Found an issue with the latest minikube for Windows.
I have installed latest minikube-installer.exe from https://github.com/kubernetes/minikube/releases/latest/download/minikube-installer.exe and attempted to run minikube.
I already had Vitualbox-6.0.14
and kubectl-1.17.0 ( from https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-kubectl-on-windows)

**The exact command to reproduce th

[2019-12-11 13:16] blackcape commented on #6058
I encountered the same problem today after upgraded from 1.5.2. I tried to reinstall (first uninstall and delete old configs/folders under Users) with no success

[2019-12-11 14:17] Gnafu commented on #6058
Same error here, also tried with an elevated command prompt without luck

[2019-12-11 14:25] fdbeirao commented on #6058
Just happened to me. Quite surprised to see this has been reported just 2 hours ago.

I'm running `minikube start --vm-driver=hyperv`

<details><summary>Output</summary>
<pre>
* minikube v1.6.0 on Microsoft Windows 10 Enterprise 10.0.18362 Build 18362
* Selecting 'hyperv' driver from user configuration (alternates: [])
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube del

[2019-12-11 14:43] andreysorokin commented on #6058
Same here: Failed to setup kubeconfig: writing kubeconfig: Error writing file C:\Users\<username>/.kube/config: error acquiring lock for C:\Users\<username>/.kube/config: timeout acquiring mutex

[2019-12-11 14:45] nkolchenko commented on #6058
So as a workaround it is possible to Rollback to 1.5.2 which works fine.
Proof: https://stackoverflow.com/questions/59282858/minikube-start-on-windows-is-failing-with-error-timeout-acquiring-mutex/59285606#59285606

[2019-12-11 15:26] tstromberg commented on #6057
This issue appears to be a duplicate of #6058, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-12-11 15:26] #6057 closed

[2019-12-11 15:30] tstromberg commented on #6058
Thank you for reporting this. It appears to be a regression with v1.6.0, likely due to https://github.com/kubernetes/minikube/pull/5912

If someone runs into this, could they share the output of:

`minikube start --alsologtostderr`

I'm betting this is an issue in handling Windows path names, but a cursory look at the code doesn't make it obvious where the issue is.

[2019-12-11 15:32] tstromberg commented on #6056
This issue appears to be a duplicate of #6058, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-12-11 15:32] #6056 closed

[2019-12-11 15:35] afbjorklund commented on #5734
Here is the appearance when using icons:
![minikube-icons](https://user-images.githubusercontent.com/10364051/70635188-ca3b1180-1c33-11ea-96b9-0225fd2b57d4.png)

As compared with the normal using emoji:
![minikube-emoji](https://user-images.githubusercontent.com/10364051/70635240-de7f0e80-1c33-11ea-9664-f92ce7e3d107.png)

There is an environment variable to toggle between them...

In order for it

[2019-12-11 15:45] tstromberg commented on #6058
If any Windows users have time to help look into this, here's the function that's returning an error:

https://github.com/kubernetes/minikube/blob/e394424d2e9cb522af554a6d835912c6ff23308e/pkg/util/lock/lock.go#L45

Here is where it's  being called:

https://github.com/kubernetes/minikube/blob/e394424d2e9cb522af554a6d835912c6ff23308e/pkg/minikube/kubeconfig/kubeconfig.go#L190

[2019-12-11 15:51] tstromberg commented on #6058
It looks like this is failing in our Windows CI tests, but got lost in the noise:

[code]

I noticed that the new code no longer passes in a value for `Clock`, which would explain this behavior. I'm going to send a PR out and see how the tests go.

[2019-12-11 16:05] tstromberg commented on #6058
At this point, I feel that we should generate lock names using a checksum of the filename rather than massaging it via regexp.

[2019-12-11 17:12] mcronce opened #6060 "kvm2: Could not open: boot2docker.iso: Permission denied"
**The exact command to reproduce the issue**:
`minikube start --vm-driver=kvm2 --kubernetes-version=1.13.11`

**The full output of the command that failed**:
[code]

**The output of the `minikube logs` command**:
[code]

**The operating system version**:
Manjaro, fully up to date as of last night

**Other details**:
I've tried the obvious solutions - blowing away `~/.minikube`, putting a `boot2doc

[2019-12-11 17:16] tstromberg commented on #6058
NOTE: For those afflicted, we will be releasing v1.6.1 with a fix for this ASAP.

[2019-12-11 17:22] nolar opened #6061 "setting "apiserver.authorization-mode=RBAC" : writing Crisocket information: timed out waiting for the condition"
**The exact command to reproduce the issue**:

`sudo minikube start --vm-driver=none --extra-config=apiserver.authorization-mode=RBAC --extra-config=apiserver.runtime-config=events.k8s.io/v1beta1=false --kubernetes-version=v1.17.0`

[source](https://github.com/zalando-incubator/kopf/blob/d67d6dfe3a746179b06fb2d28d1c8fd12f2f68aa/tools/minikube-for-travis.sh#L24-L28)
[logs](https://travis-ci.org/zal

[2019-12-11 18:21] rssfed23 opened #6062 "Fedora 31: none: unable to load bootstrap kubeconfig: bootstrap-kubelet.conf: no such file or directory"
**The exact command to reproduce the issue**:
sudo minikube start --vm-driver=none

**The full output of the command that failed**:
In the systemd logs:<details>
Dec 11 18:17:03 virtbio systemd[1]: Started Kubernetes systemd probe.
Dec 11 18:17:03 virtbio kubelet[14346]: I1211 18:17:03.334317   14346 server.go:416] Version: v1.17.0
Dec 11 18:17:03 virtbio kubelet[14346]: I1211 18:17:03.334788   14

[2019-12-11 18:46] guilleojeda commented on #4613
I was also experiencing this issue, and I solved it with the steps in [this comment](https://github.com/kubernetes/minikube/issues/4835#issuecomment-532483752)

To save you the trouble of following the link, the idea is to make sure you remove everything related to kube, which can be done with the following commands:
kubeadm reset
sudo apt-get purge kubeadm kubectl kubelet kubernetes-cni kube*
sud

[2019-12-11 18:47] guilleojeda commented on #4835
I also managed to solve it with these steps. Thank you!

[2019-12-11 18:49] jenisov opened #6063 "failed to start minikube (windows 10, hyperv driver) from powershell in administrator mode"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>

* minikube v1.6.0 on Microsoft Windows 10 Pro 10.0.18362 Build 18362
* Selecting 'hyperv' driver from user configuration (alternates: [virtualbox])
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Using the running hyperv "

[2019-12-11 19:32] Shivanandlc opened #6064 "minkube start issue"
facing a following issue while executing the command "minikube start".
![Capture](https://user-images.githubusercontent.com/24352003/70653576-c383bd00-1c7a-11ea-86eb-adee80e8a4fd.PNG)

please let me know what needs to be done if anyone knows.

**The operating system version**:

[2019-12-11 19:37] VovaBobyr opened #6065 "Minikube crashes on Preparing Kubernetes v1.17.0 on Docker '19.03.5'"
During the first start minikube it crashed.
VM was created and remains in a running state.
Minikube was installed with choco tool.
minikube version: v1.6.0
commit: 11630973e5aacb8f16d706f97683bf70fffcba3b

It failed with error:
.kube/config: timeout acquiring mutex

**The exact command to reproduce the issue**:
minikube start --vm-driver=virtualbox

**The full output of the command that failed**:<

[2019-12-11 20:08] tstromberg commented on #6058
We were able to root-cause the issue! Currently, we generate lock names by taking the last 39 characters of: `fmt.Sprintf("%s-%s", path, uid))`

On most platforms, uid's are 0-6 characters long. However, on Windows, a SID is returned, which looks like: `S-1-5-21-1180699209-877415012-3182924384-1004`

That's 46 characters long. Effectively, on Windows, all of our locks shared the same name: `m21-11

[2019-12-11 20:54] tstromberg commented on #6058
Leaving open until v1.6.1 ships.

[2019-12-11 21:06] tstromberg commented on #6058
v1.6.1 is now available with this bug fixed: https://github.com/kubernetes/minikube/releases/tag/v1.6.1

Thank you for your patience!

[2019-12-11 21:06] #6058 closed

[2019-12-11 21:07] tstromberg commented on #6064
v1.6.1 is now available with this bug fixed: https://github.com/kubernetes/minikube/releases/tag/v1.6.1

Thank you for your patience!

Dupe of #6058

[2019-12-11 21:07] #6064 closed

[2019-12-11 21:07] tstromberg commented on #6063
v1.6.1 is now available with this bug fixed: https://github.com/kubernetes/minikube/releases/tag/v1.6.1

Thank you for your patience!

Dupe of #6058

[2019-12-11 21:07] #6063 closed

[2019-12-11 22:33] SelesAbraham opened #6069 "Minikube start throws error when trying to execute in windows 10 (using Virtualbox)"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
I am trying to install the minikube in windows 10 Home. I am following the official page of Kubernetes. When I try to run the command minikube start in cmd or cgwin I get the following error
$ minikube start
* minikube v1.5.2 on Microsoft Windows 10 Home 10.0.17763 Build 17763

!

[2019-12-11 22:52] #6069 closed

[2019-12-11 23:56] BatmanAoD commented on #1378
@reegnz My coworkers and I are also observing this behavior on VirtualBox. Looking through this thread, I don't see why VirtualBox is excluded from the `systemd-timesyncd` fix; I see that @dcecile said they hadn't observed drift with VirtualBox, but other commenters did.

[2019-12-12 03:12] Syncma opened #6070 "none: VM is unable to access k8s.gcr.io -> exceeded while awaiting headers"
[root@laptop ~]#  minikube start --vm-driver=none
😄  minikube v1.6.1 on Fedora 29
✨  Selecting 'none' driver from user configuration (alternates: [])
🤹  Running on localhost (CPUs=8, Memory=7735MB, Disk=15054MB) ...
ℹ️   OS release is Fedora 29 (Workstation Edition)
⚠️  VM is unable to access k8s.gcr.io, you may need to configure a proxy or set --image-repository
🐳  Preparing Kubernetes v1.17.0 on

[2019-12-12 05:41] adarshaJha commented on #4060
@tstromberg  i am still facing the issue, after doing what you suggested. Is there anything else i should try.

[2019-12-12 06:43] Jorijn commented on #5951
@douglascamata it might! you could try disconnecting VPN connections, quitting those programs and trying again.

[2019-12-12 09:28] davidbonachera commented on #5020
Anyone have been working on that?

Seems like Aliyun forked minikube https://github.com/AliyunContainerService/minikube

Here are the solutions so far I've been reading about :
- setup and use an HTTP proxy
- download and tag all containers image (https://github.com/chunchill/minikube-startup-china)
- use a different registry when you start, (like https://registry.docker-cn.com)

[2019-12-12 10:45] nolar commented on #6061
Added the Mac OS `minikube logs` output for detailed information.

[2019-12-12 10:45] henzeb opened #6072 "Minikube 1.6.1: Ingress controller pod not starting"
First of all: I had minikube running perfectly on this machine, then suddenly I had some issues with it, so I decided to upgrade to 1.6.1.

basically it was minikube stop, minikube delete, replace the minikube executable with the 1.6.1 version and go. but no.

- I tried to go back to an earlier version (I don't remember what version I had) but this did not work either.

Then I did the following, h

[2019-12-12 10:52] henzeb commented on #6065
Be aware that kubernetes v1.17.0 supports up to Docker 18.09.9.

you should downgrade to that version.

On linux (for anyone coming across this: remove docker, use the official repo and execute the following:
apt-get install docker-ce*=5:18.09.9~3-0~ubuntu-bionic

[2019-12-12 10:54] dylmye commented on #5020
I haven't, apologies.

[2019-12-12 10:59] henzeb commented on #6070
Be aware that kubernetes v1.17.0 supports up to Docker 18.09.9.

you should downgrade to that version.

On ubuntu/debian: remove docker, use the official repo and execute the following:
`apt-get install docker-ce*=5:18.09.9~3-0~ubuntu-bionic`

[2019-12-12 11:14] douglascamata commented on #5951
@Jorijn I tried this already. I always disconnect and close all VPN software when using minikube (even before this problem), as I know they don't place nice together.

[2019-12-12 12:00] yekolla opened #6074 "VirtualBox won't boot a 64bits VM when Hyper-V is activated. Either use Hyper-V as a driver, or disable the Hyper-V hypervisor."
C:\Kubernetes>minikube.exe start
There is a newer version of minikube available (v1.6.1).  Download it here:
https://github.com/kubernetes/minikube/releases/tag/v1.6.1

To disable this notification, run the following:
minikube config set WantUpdateNotification false
* minikube v1.1.1 on windows (amd64)
* Downloading Minikube ISO ...
 131.29 MB / 131.29 MB [=========================================

[2019-12-12 12:07] varshabhijeet opened #6075 "my dasgborad"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-12-12 12:11] varshabhijeet opened #6076 "error"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-12-12 12:11] #6076 closed

[2019-12-12 12:14] whyvez commented on #4263
Stopping and restarting minikube fixed this issue for me.

[2019-12-12 12:26] henzeb commented on #6074
as it states, disable he hypervisor.... it's a service under windows. Also, you should start using minikube 1.6.1 1.1.1 is an old version.

[2019-12-12 14:58] afbjorklund commented on #6070
That is not true, Kubernetes 1.17 supports Docker 19.03 in kubeadm

You should probably use Docker 18.09.11 if you want to use the older

[2019-12-12 15:08] tstromberg commented on #6075
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Do you mind pasting the output of the `dashboard` command, as well as:

`kubectl get po -A`

thanks!

[2019-12-12 15:12] tstromberg commented on #6074
Do you mind first upgrading to `minikube v1.6.1` and seeing how things  work there?

I suggest first running `minikube delete` before you upgrade, as the VM and configs have changed quite a bit since v1.1 was released.

[2019-12-12 15:31] irizzant opened #6077 "Error writing Crisocket information for the control-plane node: timed out waiting for the condition"
Hi
I'm not able to start minikube 1.6.1 with custom kubelet flags.

If I remove all the flags minikube starts correctly.
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>
[code]
</details>

**The output of the `minikube logs` command**:<details>
==> Docker <==
-- Logs begin at Thu 2019-12-12 14:51:24 UTC, end at Thu 2019-12-12 15:31:01 U

[2019-12-12 15:54] henzeb commented on #6070
You are right. The changelogs at kubernetes.io aren't updated. I saw 1.17 in the topcorner, so I assumed I was looking at 1.17 changelogs. but still, I couldn't get minikube to work with the newer docker version.

[2019-12-12 16:14] afbjorklund commented on #6070
We don’t have any CI tests for Fedora/CentOS yet, unfortunately.

A common problem is SELinux, though

[2019-12-12 17:19] daneel3001 opened #6078 "Minikube 1.6.1 Windows installer generates anti virus warning"
Hello

Just a heads'up that I just tried to install Minikube on Windows 10 Pro and that triggered an anti virus warning.
Please see below screenshot:

![image](https://user-images.githubusercontent.com/570729/70734086-dbefe800-1d0b-11ea-8ad9-79f92120e6a5.png)

[2019-12-12 17:20] swastik123 opened #6079 "High Sierra: Error in driver during machine creation: hyperkit crashed!"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>
when i am trying to start minikube with minikube start --vm-driver=hyperkit command ,i am getting below error.

minikube v1.6.1 on Darwin 10.13.6
✨  Selecting 'hyperkit' driver from existing profile (alternates: [])
🔥  Creating hyperkit VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🔄  Retriable f

[2019-12-12 23:31] jake-wickstrom-lb commented on #576
I have been experiencing this issue almost 3 years after it was marked as closed, so it may have resurfaced at some point.

Ran into a Stack Overflow question the other day that suggests others are having the same problem
https://stackoverflow.com/questions/58941640/unable-to-start-minikube-in-windows-using-hyperv

[2019-12-13 02:13] Colstuwjx opened #6080 "Support image secret and docker config.json customization for minikube"
**The exact command to reproduce the issue**:
minikube start, and when I want to create k8s deployment resource with thirdparty image registry, I need to create image secret inside k8s and create .docker/config.json inside minikube machine.

Is there anyway to customize this, and avoid to manual operation for creating image secret and config.json.

Thanks.

**The full output of the command that fa

[2019-12-13 09:16] henzeb commented on #6072
I think I figured this out: The problem lies in the way the nginx-ingress-controller is build up. The latest versions of the OpenResty binary packages require SSE 4.2 support in the CPU. I had an old development server running with Intel(R) Xeon(R) CPU  L5320  @ 1.86GHz, which does not.

I am not sure which processors do support it, but my educated guess is that all intel CPU's from 2009 and later

[2019-12-13 10:03] bjoernmartin commented on #5791
Looks like I ran into that same issue. What I get is this on `minikube start` (with `hyperv` set as the VM option):
[code]
I follow the suggestion to execute `Enable-WindowsOptionalFeature -Online -FeatureName Microsoft-Hyper-V -All` within an elevated PowerShell and the command succeeds but the behavior (from a user shell) is the same. And I **am** member of a company AD, so it seems to fit this

[2019-12-13 10:49] abbec opened #6082 "Created VM lacks Internet Connectivity"
Hi,

I am using minikube v1.2.0 to set up a cluster with the kvm2 driver on CentOS 7.7.1908. My problem is that the created VM seems to have no internet connectivity. Doing minikube ssh followed by some nslookups and ping I get the below.

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>
[code]

**The operating system version**:
Linux 3

[2019-12-13 12:48] halulunyan opened #6083 "none: Unable to start VM: start: No default routes"
[root@minikube ~]# minikube start
* minikube v1.2.0 on linux (amd64)
! Please don't run minikube as root or with 'sudo' privileges. It isn't necessary.

! Ignoring --vm-driver=virtualbox, as the existing "minikube" VM was created using the none driver.
! To switch drivers, you may create a new VM using `minikube start -p <name> --vm-driver=virtualbox`
! Alternatively, you may delete the existing V

[2019-12-13 12:52] halulunyan commented on #6083
[varlog.log](https://github.com/kubernetes/minikube/files/3960851/varlog.log)

[2019-12-13 13:18] shrinivasacharya88 opened #6084 "expose svc"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-12-13 15:45] josedonizetti commented on #5617
@nanikjava can you create a PR with the idea? Mark is as WIP, easier to give feedback on the PR.

[2019-12-13 19:19] burdiyan commented on #5811
Looks like hyperkit driver for minikube doesn't work without Docker for Mac, even with hyperkit installed with Homebrew. I've been doing lots of tests with that, and no luck, unless you install Docker for Mac.

[2019-12-13 19:25] burdiyan commented on #5811
Perhaps, `vpnkit` is what Minikube also want with hyperkit driver? Because that seems to be the only piece missing without Docker for Mac. And you can't install vpnkit with brew apparently.

[2019-12-13 20:38] josedonizetti commented on #6084
@shrinivasacharya88 The issue is missing the information. Could you add it?

[2019-12-13 23:20] bzub commented on #5951
I see this issue as well. I believe it has something to do with the Blue Coat Unified Agent" installed on my corporate laptop. Do others having this issue see a `bcua-service` or symbol on their taskbar? I'm on MacOS.

For now as mentioned above I use `minikube start --vm-driver=virtualbox` to work around the problem.

<img width="692" alt="image" src="https://user-images.githubusercontent.com/243

[2019-12-14 09:20] userwebsky commented on #5631
I had the same. Time is the solution. Three minutes later ...

[code]

Three minutes later ...

[code]

[2019-12-14 16:29] Shivanandlc commented on #6064
Thanks @tstromberg 👍

[2019-12-14 22:18] russoz opened #6085 "minikube-v1.6.0.iso: invalid checksum: Error downloading checksum file: bad response code: 401"
**The exact command to reproduce the issue**:
downloaded minikube 1.6.1
ran minikube start
tried changing the vm-driver (default was hyperkit) to virtualbox
minikube delete
minikube start -> same error

**The full output of the command that failed**:<details>
$ minikube start
😄  minikube v1.6.1 on Darwin 10.15.2
✨  Selecting 'virtualbox' driver from user configuration (alternates: [hyperkit])
💿  D

[2019-12-15 13:29] wingsofovnia commented on #5642
Fixed by #5932
`brew upgrade minikube` upgrades minikube to 1.6.2 that includes the fix.

[2019-12-15 16:11] afbjorklund commented on #5734
Choosing names instead of icons, made it harder to compare with emojis.
Could keep it as an alternative for later (?), used raw `rune` literals for now:

[code]

[2019-12-15 17:13] halulunyan commented on #6083
--vm-driver=virtualbox これがいらねーかもな

[2019-12-15 17:37] afbjorklund commented on #5734
As noted in the PR, here is a comparison between the emojis and the icons:

![nerdfonts](https://user-images.githubusercontent.com/10364051/70866422-c4ae3600-1f69-11ea-9801-588bbc9d8b0b.png)

[nerdfonts.txt](https://github.com/kubernetes/minikube/files/3965188/nerdfonts.txt)
[nerdfonts.pdf](https://github.com/kubernetes/minikube/files/3965210/nerdfonts.pdf)

[2019-12-15 18:37] irshad-amp opened #6087 "Error getting host status: state: machine does not exist"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-12-15 18:38] irshad-amp commented on #6087
*
X Error getting host status: state: machine does not exist
*
* Sorry that minikube crashed. If this was unexpected, we would love to hear from you:

[2019-12-15 19:54] #3469 closed

[2019-12-15 19:54] #3908 closed

[2019-12-16 03:25] dongwangdw commented on #5860
This does not work for me.  I got "failed: UNAUTHORIZED: "authentication required"

[2019-12-16 04:10] dongwangdw commented on #5860
`https://stackoverflow.com/questions/54803393/run-minikube-start-cannot-pull-k8s-gcr-images-but-docker-pull-can-do/59350432#59350432`

This works for me.

[2019-12-16 07:21] chenmin1992 commented on #3963
Still suffering from this issue. :(
How to prevent the virtual switch from getting ipv6 IP?
Is anyone still working on this issue?
I have tried all those methods, but nothing worked.
[code]

[2019-12-16 10:53] touseef777 opened #6088 "minikube crashed"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>

Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
👉  https://github.com/kubernetes/minikube/issues/new/choose
❌  Problems detected in kube-addon-manager ["51e03bccf44b"]:
    error: no objects paINFO: == Reconciling with addon-manager label ==
❌

[2019-12-16 11:45] abbec commented on #6082
Nevermind, this was solved. PEBKAC.

[2019-12-16 11:45] #6082 closed

[2019-12-16 12:30] #6072 closed

[2019-12-16 15:29] johnnyfriendly opened #6089 "none: Port 10257 is in use"
sudo minikube start --vm-driver=none
[sudo] password for jclifford:
😄  minikube v1.6.1 on Ubuntu 18.04 (vbox/amd64)
✨  Selecting 'none' driver from user configuration (alternates: [])
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🔄  Starting existing none VM for "minikube" ...
⌛  Waiting for the host to be provisioned ...
🐳  Preparing Kube

[2019-12-16 16:19] segevfiner commented on #5885
Workaround:
[code]

And then:
[code]

Looks like the code is failing to create the secrets if they don't already exists.

[2019-12-16 17:57] tstromberg commented on #6089
Any idea what is already listening on port 10257 and port 2380? This should answer it:

`lsof -p 10257`

[2019-12-16 17:58] tstromberg commented on #6088
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2019-12-16 18:01] tstromberg commented on #6087
What operating system and hypervisor are you using?

This can happen if there is a minikube VM that was removed from outside of minikube. Generally `minikube delete` will fix this.

[2019-12-16 18:05] tstromberg commented on #6085
Do you mind sharing the output of:

`curl -vvv https://storage.googleapis.com/minikube/iso/minikube-v1.6.0.iso.sha256`

Google Storage appears to have been returning a 401 Unauthorized, though I'm not sure why. In the mean time, you can download the ISO manually from either GitHub or Google Storage and place the result into `~/.minikube/cache/iso/` to workaround the error.

Related: #4774

[2019-12-16 18:09] tstromberg commented on #6083
This is likely a duplicate of #5636 - Kubernetes requires a default route to identify which IP to use.

Do you mind upgrading to a more recent release of minikube? It's difficult to tell with such an old version, as the error message has likely changed.

[2019-12-16 18:12] tstromberg commented on #6080
https://minikube.sigs.k8s.io/docs/tasks/sync/ might be helpful here - it provides a way to overwrite files within the minikube VM every time you start the cluster. As far as a feature goes, I'd be open to any proposals you might have.

[2019-12-16 18:18] tstromberg commented on #6079
Probably related: #5780

Do you mind sharing the output of `hyperkit -version` and `ls -la /usr/local/bin/hyperkit`?

My bet is that upgrading to the latest of whatever installed hyperkit (Docker or homebrew) will fix this.

[2019-12-16 18:27] tstromberg commented on #6078
Thanks for the heads up! It looks like this was Windows Defender, and hopefully a false positive.

I double checked with VirusTotal, and see that it seems clean other than what likely seems to be a false positive from Qihoo-360: https://www.virustotal.com/gui/file/09e307c2b9582c107b1cdc80b0f99ff9d294a1907386e3cb07ab82082ff9cd43/detection

Oddly, v1.6.0 didn't have any such false positive. Anyone h

[2019-12-16 18:31] tstromberg commented on #6075
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-12-16 18:31] #6075 closed

[2019-12-16 18:34] tstromberg commented on #6070
This appears to be a network configuration issue. Can you please confirm that the following works on your host:

`curl https://k8s.gcr.io/`

If it does not, you may have to pass an argument to `--image-repository` or `--image-mirror-country`.

[2019-12-16 18:37] tstromberg commented on #6065
My apologies for the issue: this was apparently due to #6058 - which was introduced in minikube v1.6.0 and fixed in v1.6.1.

Marking this as a resolved duplicate.

[2019-12-16 18:37] #6065 closed

[2019-12-16 18:45] tstromberg commented on #5974
@medyagh - was this fixed?

[2019-12-16 18:46] tstromberg commented on #5983
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-12-16 18:46] #5983 closed

[2019-12-16 18:46] tstromberg commented on #5993
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-12-16 18:46] #5993 closed

[2019-12-16 18:46] tstromberg commented on #6061
Your suspicion appears to be correct: this is a behavioral change in Kubernetes v1.17:
https://kubernetes.io/docs/setup/release/notes/#scheduling

In summary, if you specify `apiserver.authorization-mode`, you have to specify all of the valid roles, not just the ones you would like to add. The good news is that RBAC is part of the default now, so you shouldn't have to pass anything in at all.

Not

[2019-12-16 18:47] tstromberg commented on #6061
Before I close this - can you confirm that specifying `--extra-config=apiserver.authorization-mode=RBAC,Node` works for you in minikube with Kubernetes v1.17? It does locally for me.

[2019-12-16 18:48] tstromberg commented on #6077
This issue appears to be a duplicate of #6061, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-12-16 18:48] #6077 closed

[2019-12-16 18:52] tstromberg commented on #6060
I suspect this may be an issue with how libvirt is configured on this machine: I suspect that it may be running qemu as another user that does not have access to your ISO.

Do you mind sharing the output of the following command:

- `id`
- `id libvirt-qemu`
- `file /home/mc/.minikube/machines/minikube/boot2docker.iso`
- `ls -lad /home/mc`
- `ls -lad /home/mc/.minikube`
- `grep "user =" /etc/libvir

[2019-12-16 18:53] tstromberg commented on #6055
Could you please upgrade to minikube v1.6.0? I believe it may have fixed this issue.

[2019-12-16 18:55] tstromberg commented on #6054
I agree, the documentation for `addons open` is not very good: https://minikube.sigs.k8s.io/docs/reference/commands/addons/

For the dashboard, you may use `minikube dashboard` to  open the correct URL.

[2019-12-16 18:56] tstromberg commented on #6037
This appears to be a local file permissions issue. Can you share the output of the following commands:

* `id`
* `ls -lad /home/haseeb/.minikube/cache/iso/`
* `touch /home/haseeb/.minikube/cache/iso/.test`

Thank you!

[2019-12-16 18:59] tstromberg commented on #6036
This appears to be a VirtualBox bug: https://www.virtualbox.org/ticket/14832

What version of VirtualBox are you on?

Some related articles I found:

- https://caffinc.github.io/2015/11/fix-vbox-network/
- https://forums.virtualbox.org/viewtopic.php?f=6&t=68590&start=450#p345379

[2019-12-16 19:18] tstromberg opened #6092 "Move triage documentation to official website"
https://docs.google.com/document/d/1yDfdo5mvxWcy0xCXbL3YzZOmJBmBtL1N_PNf7ykylWw/edit#heading=h.uu8r836ucmi3

[2019-12-16 19:43] tstromberg commented on #4392
@anorek - I'll be happy to help with any credential issues.

[2019-12-16 19:46] medyagh opened #6093 "CI: MacOs integration machines don't have docker in path"
while doing this PR, I needed docker to run this script

https://github.com/kubernetes/minikube/pull/6081/files#diff-96eb7a3c4a671bd5d481da4e685abadbR304

I noticed the mac machines don't have docker in their path for the jenkins user

[2019-12-16 19:57] haseeebmalik commented on #6037
Thanks you actually my issue is solved .The reason behind my problem is i
had installed virtualbox on dualboot..then later i uninstall virtualbox and
install KVM ,which runs fine.

On Mon, 16 Dec 2019 at 11:57 PM, Thomas Strömberg <notifications@github.com>
wrote:

[2019-12-16 20:28] swastik123 commented on #6079
I reinstalled hyperkit and It worked.

Thanks

On Monday, December 16, 2019, Thomas Strömberg <notifications@github.com>
wrote:

[2019-12-16 20:41] tstromberg commented on #6032
I believe we fixed this with #5916 which was merged into minikube v1.6. Do you mind checking with the most recent release?

[2019-12-16 20:43] tstromberg commented on #5893
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-12-16 20:43] #5893 closed

[2019-12-16 20:46] tstromberg commented on #5905
I believe we fixed this with #5916 which was merged into minikube v1.6. If you run into this issue and are not specifically using the 'none' driver, please try with the latest release of minikube. If it still exists, open a new issue.

[2019-12-16 20:48] tstromberg commented on #6032
This issue appears to be a duplicate of #5905, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-12-16 20:48] #6032 closed

[2019-12-16 20:49] tstromberg commented on #5995
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2019-12-16 20:52] tstromberg commented on #6001
This issue appears to be a duplicate of #5905, do you mind if we move the conversation there? This should have been fixed in minikube v1.6.0, so please try upgrading if you have not already.

Thank you for reporting this!

[2019-12-16 20:52] #6001 closed

[2019-12-16 20:52] tstromberg commented on #6006
This issue appears to be a duplicate of #5905, do you mind if we move the conversation there? This should have been fixed in minikube v1.6.0, so please try upgrading if you have not already.

Thank you for reporting this!

[2019-12-16 20:52] #6006 closed

[2019-12-16 20:54] tstromberg commented on #6014
Are you able to confirm if disabling SELinux makes minikube work?

[2019-12-16 20:54] tstromberg commented on #6021
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2019-12-16 20:55] tstromberg commented on #6025
This issue appears to be a duplicate of #6014, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-12-16 20:55] #6025 closed

[2019-12-16 20:56] tstromberg commented on #6026
I believe we fixed this with #5916 which was merged into minikube v1.6. Do you mind checking with the most recent release?

[2019-12-16 20:57] tstromberg commented on #6030
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2019-12-16 20:58] tstromberg commented on #6029
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

* Does it work in the most recent release of minikube?
*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube

[2019-12-16 20:59] tstromberg commented on #6028
This is likely a dupe of #5594 - what version of macOS are you on?

[2019-12-16 21:20] ss-1 commented on #6014
I will confirm sometime this week and let you know. Thank you very much for
researching the problem.

On Mon, Dec 16, 2019 at 12:54 PM Thomas Strömberg <notifications@github.com>
wrote:

[2019-12-16 22:14] medyagh commented on #5236
@BZM708  both of your browsers might be using a proxy, do you mind setting the env vars and then try with curl in terminal ?

curl -vv "SVC_URL"

[2019-12-16 22:14] tstromberg commented on #1370
This is still an issue and has not been forgotten. As mentioned previously, fixing this will require non-9p alternatives to be supported. One such example is CIFS: #5545

[2019-12-16 22:14] medyagh commented on #5108
this seems still be the issue in 1.6.1

[2019-12-16 22:15] medyagh commented on #5072
this is still on our roadmap !

[2019-12-16 22:16] medyagh commented on #5036
@andylibrian  that sounds good ! could you please make a PR ? I will be happy to review it.

[2019-12-16 22:17] medyagh commented on #5020
We appreciate any help on this item, this is still an important issue on our roadmap

[2019-12-16 22:17] tstromberg commented on #1574
I believe this was fixed in minikube v1.6: can someone please confirm on Windows?

[2019-12-16 22:17] priyawadhwa commented on #5846
@medyagh that should be possible, but I think might require some additional thought! I'm guessing we wouldn't need to measure service time for every PR, so we might want some way of telling the bot what to measure for each PR.

[2019-12-16 22:18] #5685 closed

[2019-12-16 22:19] sharifelgamal commented on #5682
This is being targeted for early next year.

[2019-12-16 22:19] sharifelgamal commented on #5681
This is being targeted for early next year.

[2019-12-16 22:20] medyagh commented on #5012
we will not do this issue, till we have a solution for non-9p mounts

[2019-12-16 22:20] priyawadhwa commented on #5822
@afbjorklund is there an advantage to building these packages locally as opposed to downloading them?

[2019-12-16 22:21] medyagh commented on #4976
@dblees   do you mind trying with latest version of virtualbox 6.1  and also latest version of minikube ?

[2019-12-16 22:22] medyagh commented on #4768
I haven't seen this race condition in unit tests in a while, do we still have this issue ? @afbjorklund  ?

[2019-12-16 22:22] priyawadhwa commented on #5792
This issue is currently waiting on an official signing protocol from Kubernetes.

[2019-12-16 22:22] tstromberg commented on #1568
Based on what I know so far, this can be solved by specifying a CNI to use with minikube. We'll likely make minikube use a CNI next quarter (flannel?), as it's necessary for multi-node.

[2019-12-16 22:23] medyagh commented on #4764
@Avy4140 @nanikjava  it seems like kube-bench runs on minikube just fine  ? I am closing this issue, please feel free if you have any other questions.

[2019-12-16 22:23] #4764 closed

[2019-12-16 22:23] medyagh commented on #4604
@kameshsampath  do you still have interests to make a PR for this ?

[2019-12-16 22:24] tstromberg opened #6094 "Use a CNI by default in minikube (flannel?)"
For consistency and to prepare for multi-node.

[2019-12-16 22:25] tstromberg commented on #6094
/cc @sharifelgamal

[2019-12-16 22:26] spdfnet commented on #1574
I can confirm it working :)

[2019-12-16 22:26] medyagh commented on #4540
@kmayura1  do you mind tryin with the latest version of minikube to see if the problem is detected by minikube ? (also there is a newer verison of virtualbox that I recommend upgrading to)

[2019-12-16 22:26] #4540 closed

[2019-12-16 22:27] sharifelgamal commented on #5667
@cheeseandcereal This might be fixed in minikube 1.6.1, could you upgrade your minikube version and retry?

[2019-12-16 22:28] medyagh commented on #4536
@praveensastry are you still interested in doing this ?

[2019-12-16 22:28] sharifelgamal commented on #5666
This is still an open issue. Help wanted!

[2019-12-16 22:28] tstromberg commented on #1753
This issue will likely remain open until we drop support for 9p.

Alternatively, if someone wants to attack the go9p source code to solve the issue at the root, help wanted!

[2019-12-16 22:28] sharifelgamal commented on #5577
Is this still something we're interested in supporting?

[2019-12-16 22:33] medyagh commented on #4456
@cristian04
does the solution mentioned above help ?
https://github.com/kubernetes/minikube/issues/4456#issuecomment-558436618

[2019-12-16 22:35] medyagh commented on #4400
@josedonizetti do we still need to investigate this ?

[2019-12-16 22:35] medyagh commented on #4348
@winds6206 I haven't heard from you, I close this issue, please feel free to re-open if issue still exists.

[2019-12-16 22:35] #4348 closed

[2019-12-16 22:37] medyagh commented on #4240
I believe this is still an issue in v.1.16.1 since we didn't add any new code for tunnel

[2019-12-16 22:39] medyagh commented on #4172
i believe this is still an issue that needs to fixed.

[2019-12-16 22:39] sharifelgamal commented on #5547
We should probably fix this at some point, having a centos machine to test on would help.

[2019-12-16 22:39] douglaswth commented on #1574
@tstromberg Woohoo! It's working for me as well!

[2019-12-16 22:40] daneel3001 commented on #6078
Hello

I just installed 1.6.1 on Windows 10 Pro (insider/slow) and didn't get any warning.
I will check the next computer if I do still get that warning though too it got updated to insider/slow so could be false positive that I can no longer repro now.

[2019-12-16 22:41] tstromberg commented on #2570
Closing. This was fixed in v1.6! Thank you @nanikjava

[2019-12-16 22:41] #2570 closed

[2019-12-16 22:42] tstromberg commented on #2805
@jmcclell - option #1 sounds good. help wanted!

[2019-12-16 22:42] medyagh commented on #4132
this issue seems to be related to this
https://github.com/kubernetes/minikube/issues/4172

@SimonMal84
I will close this one so we can track the progress in that one.

[2019-12-16 22:43] sharifelgamal commented on #5528
Yeah, this is something we eventually want to do.

[2019-12-16 22:43] tstromberg commented on #2916
@rajalokan - is this something you are still pursuing?

It might be nice to list a quick blurb about using ssh tunnels on https://minikube.sigs.k8s.io/docs/reference/networking/

[2019-12-16 22:44] tstromberg commented on #3036
I haven't heard anyone running into this issue in a while. Anyone else?

[2019-12-16 22:44] priyawadhwa commented on #5765
From this buildroot [commit](https://git.busybox.net/buildroot/commit/?id=7e8fc6c293dada427fc19a33b122f584f196e9ee) it seems like we could add:

[code]

to [linux_defconfig](https://github.com/kubernetes/minikube/blob/master/deploy/iso/minikube-iso/board/coreos/minikube/linux_defconfig). I'm not sure if this would entirely solve the issue, but it at least seems like a piece of it.

If anybody is i

[2019-12-16 22:45] medyagh commented on #3772
@viovanov we fixed a bug in latest release that might also fix this one,
do you mind try with latest version 1.6.1 ?

[2019-12-16 22:45] sharifelgamal opened #6095 "Add binary size diff to PR performance bot."
Related: #5398

[2019-12-16 22:45] sharifelgamal commented on #5398
Opened #6095 for the binary size diff.

[2019-12-16 22:45] medyagh commented on #3752
I would be happy to review any PR that adds this to the documentation.

[2019-12-16 22:47] medyagh commented on #3636
CC @josedonizetti
@aranmohyeddin  do you mind trying with latest version of minikube?

[2019-12-16 22:48] medyagh commented on #3628
We still need to do this issue ! I would be happy to review any prototype with https://github.com/rancher/local-path-provisioner

[2019-12-16 22:49] medyagh commented on #3552
we still need to do this issue !

[2019-12-16 22:49] priyawadhwa commented on #3591
We'll be looking into stabilizing integration testing this and next quarter.

[2019-12-16 22:49] medyagh commented on #3288
this issue seems to be still exisiting

[2019-12-16 22:51] sharifelgamal commented on #5360
This is still a good idea.

[2019-12-16 22:51] priyawadhwa commented on #3597
@fenglixa are you still interested in adding support for Istio? If so, I can assign you to this issue, and am happy to look at any PRs or help in any way.

[2019-12-16 22:53] priyawadhwa commented on #3647
If anybody is interested in implementing `minikube start --tunnel`, please feel free to assign yourself to this issue by commenting `/assign`.

[2019-12-16 22:53] sharifelgamal commented on #5181
I believe this is still needed.

[2019-12-16 22:53] medyagh commented on #3076
I believe @vikaschoudhary16  your issue has a workaround

https://github.com/kubernetes/minikube/issues/4172

[2019-12-16 22:54] priyawadhwa commented on #3729
@thewilli are you still interested in implementing this issue?

[2019-12-16 22:54] sharifelgamal commented on #5994
Feel free to reopen this issue if this becomes a problem again.

[2019-12-16 22:54] #5994 closed

[2019-12-16 22:57] priyawadhwa commented on #5617
@nanikjava, are you still working on this issue?

[2019-12-16 22:58] priyawadhwa commented on #5301
This feature is expected in 2020.

[2019-12-16 22:59] tstromberg commented on #38
@burdiyan - interesting news!

If someone wants to make this work, let me know. Help wanted!

[2019-12-16 22:59] sharifelgamal commented on #4143
This should be fixed. Feel free to reopen if not.

[2019-12-16 22:59] #4143 closed

[2019-12-16 23:00] tstromberg commented on #94
@sharifelgamal is busy hacking away on this feature as we speak. Should land next month.

[2019-12-16 23:00] priyawadhwa commented on #5125
I believe #5757  and #5894 resolve this issue. if not, please reopen @medyagh !

[2019-12-16 23:00] #5125 closed

[2019-12-16 23:00] sharifelgamal commented on #4103
This is still needed.

[2019-12-16 23:00] tstromberg commented on #2162
Still an issue in v1.6.

[2019-12-16 23:00] tstromberg commented on #2178
This is still an issue AFAIK. Help wanted!

[2019-12-16 23:01] medyagh commented on #3076
I believe this issue was fixed this PR by https://github.com/kubernetes/minikube/pull/5427

[2019-12-16 23:01] #3076 closed

[2019-12-16 23:01] priyawadhwa commented on #5105
If anybody is interested in working on this issue, we would love some help. Feel free to assign yourself by commenting `/assign` and I'll be happy to review any PRs.

[2019-12-16 23:03] tstromberg commented on #2418
This apparently is no longer an issue in minikube 1.6 / Kubernetes v1.17.

[2019-12-16 23:03] #2418 closed

[2019-12-16 23:04] medyagh commented on #6008
@harish507 do you still have this issue ?

[2019-12-16 23:05] tstromberg commented on #2938
This is still an issue in minikube v1.6 - and will likely be an issue until we migrate to using something other than libmachine.

[2019-12-16 23:05] medyagh commented on #6012
@MrBuddyCasino  I dont think this is a duplicate of #4547 since this one is about registery addon, the other one is for the regsitery minikube uses

[2019-12-16 23:05] tstromberg commented on #3110
Still blocked on kubernetes/release#839 - this will require package signing, which they don't yet support for sub-projects. :(

[2019-12-16 23:05] sharifelgamal commented on #4979
This is probably still worth looking at.

[2019-12-16 23:07] medyagh commented on #6012
@MrBuddyCasino I am curious, do you have this issue with other runtimes other than cri-o ?

[2019-12-16 23:07] priyawadhwa commented on #5021
Related to #94

[2019-12-16 23:07] sharifelgamal commented on #6094
Related: #94

[2019-12-16 23:09] medyagh commented on #6044
we still need help on this issue !

[2019-12-16 23:09] priyawadhwa commented on #4929
This issue still stands

[2019-12-16 23:10] medyagh commented on #4547
I feel like this is because the addon needs the minikube to be restarted, and addon enable wont enable it witrhout stop and restart

[2019-12-16 23:10] priyawadhwa commented on #4865
Hey @blueelvis, are you still working on this?

[2019-12-16 23:11] tstromberg commented on #3242
I haven't heard any more user complaints on this, so I think we've done a good enough job on this. Closing until someone opens something more specific.

[2019-12-16 23:11] #3242 closed

[2019-12-16 23:11] tstromberg commented on #3318
This issue still exists in minikube v1.6 AFAIK.

[2019-12-16 23:11] priyawadhwa commented on #4841
Related to #5792 -- we're waiting on an official signing protocol from sig-release.

[2019-12-16 23:12] tstromberg commented on #3574
This issue is still relevent in minikube v1.6. It'd be nice if someone plumbed `kubectl describe get node` calls into `minikube status`. help wanted!

[2019-12-16 23:12] Ahmadre commented on #1043
@Siilwyn Thank you sooooooooo much!!! after 30 min. googling that little thing you helped me more than the kubernetes docs!

[2019-12-16 23:14] priyawadhwa commented on #4749
If anyone is interested in working on this issue, feel free to assign yourself by commenting `/assign`. This would be really useful for debugging dashboard issues.

[2019-12-16 23:15] sharifelgamal commented on #2015
#94 is the prerequisite here, as @afbjorklund mentioned.

[2019-12-16 23:15] tstromberg commented on #3890
Closing in lieu of more specific architecture requests. Adding support for other architectures is now a trivial Makefile change.

[2019-12-16 23:15] #3890 closed

[2019-12-16 23:16] sharifelgamal commented on #3143
Yeah this seems reasonable honestly.

[2019-12-16 23:17] sharifelgamal commented on #3327
@nanikjava still interested in working on this?

[2019-12-16 23:19] priyawadhwa commented on #4389
This feature is expected to be done by next quarter.

[2019-12-16 23:19] medyagh commented on #4547
this seems to be a Bug ! "--insecure-registry" is not stick.

we need to make sure all the start args stick in config.

[2019-12-16 23:20] medyagh commented on #6012
I will close this issue to track it here https://github.com/kubernetes/minikube/issues/6024

[2019-12-16 23:20] #6012 closed

[2019-12-16 23:20] tstromberg commented on #4322
Still an issue in minikube v1.6.

[2019-12-16 23:20] tstromberg commented on #4390
Still an issue in minikube v1.6. We probably won't get to it until Q2 2020.

[2019-12-16 23:21] medyagh commented on #5956
@JPMoresmau thanks for the update, we improve the api server stop in latest version.

[2019-12-16 23:22] #5956 closed

[2019-12-16 23:22] tstromberg commented on #4598
This is now supported in minikube v1.6 using: `minikube profile list`

[2019-12-16 23:22] #4598 closed

[2019-12-16 23:22] medyagh commented on #6020
@vihcle  do you still need help on this issue ?

[2019-12-16 23:22] tstromberg commented on #4622
Probably won't touch this until later in Q1.

[2019-12-16 23:23] medyagh commented on #6040
CC @priyawadhwa

[2019-12-16 23:23] tstromberg commented on #4774
Still an issue in minikube v1.6. It'd be trivial to address this. Help wanted!

[2019-12-16 23:24] tstromberg commented on #4806
Still an issue in minikube v1.6.

When we are waiting for the apiserver to become healthy, it would be nice to notice these failures and surface them in real time. Help wanted!

[2019-12-16 23:24] tstromberg commented on #4862
This would require adding parallels support to pkg/minikube/cluster/cluster.go#GetVMHostIP - probably a 1-line fix at most. Help wanted!

[2019-12-16 23:25] medyagh commented on #6024
@RubenAtPA I am not sure if renewing certs would require the api server to be restared as well ...

[2019-12-16 23:25] tstromberg commented on #4914
This still exists.

[2019-12-16 23:26] sharifelgamal commented on #6011
I'll go ahead and close this issue since it appears to be resolved. Feel free to reopen if necessary.

[2019-12-16 23:26] #6011 closed

[2019-12-16 23:26] sharifelgamal commented on #6007
@wangxiyuan can you try this with minikube 1.6.1 and see if it's fixed?

[2019-12-16 23:27] tstromberg commented on #4990
With the improved wait behavior and timings in minikube v1.6 this is probably less of a priority, but it's still an issue.

[2019-12-16 23:27] priyawadhwa commented on #4273
Looks like a more helpful registry-mirror error message was included in #4284, so I'm going to go ahead and close this issue.

[2019-12-16 23:27] #4273 closed

[2019-12-16 23:27] tstromberg commented on #5118
@blueelvis - was this ever fixed on Windows? I feel like I saw a PR for this.

[2019-12-16 23:29] priyawadhwa commented on #4109
This issue is still open as far as I know, if anyone is interested in working on this, please assign yourself to the issue by commenting `/assign`.

[2019-12-16 23:29] tstromberg commented on #5478
We do this now as of minikube v1.6.

[2019-12-16 23:29] #5478 closed

[2019-12-16 23:30] sharifelgamal commented on #5907
I'll go ahead and close this issue, recreating a kubeconfig if your current config is corrupt in some way is usually the way to go. Feel free reopen if necessary.

[2019-12-16 23:30] #5907 closed

[2019-12-16 23:30] medyagh commented on #2704
this is still a feature that havent been implemented

not same but related in a way https://github.com/kubernetes/minikube/issues/4172

[2019-12-16 23:31] medyagh commented on #3056
@woodcockjosh  do you we still consider this ?

[2019-12-16 23:32] #3930 closed

[2019-12-16 23:32] priyawadhwa commented on #4029
Hey @lluck42 are you still seeing this issue?

If yes, could you please try upgrading to the latest version of minikube and let us know if you still see this?

[2019-12-16 23:32] tstromberg commented on #4146
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-12-16 23:32] #4146 closed

[2019-12-16 23:32] #4186 closed

[2019-12-16 23:33] sharifelgamal commented on #5903
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-12-16 23:33] #5903 closed

[2019-12-16 23:33] medyagh commented on #3760
This issue is still open and I would be happy to review any PR that makes none run without sudo.

[2019-12-16 23:34] sharifelgamal commented on #5883
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-12-16 23:34] #5883 closed

[2019-12-16 23:34] tstromberg commented on #4206
We still see this from time to time in our integration tests. As best as I can tell, it's reflective of a class of bugs with VM startup in hyperkit, but all attempts to reliably replicate it have failed.

[2019-12-16 23:34] medyagh commented on #4104
this should be an easy add, I would be happy to review any PR that does this

[2019-12-16 23:34] sharifelgamal commented on #5875
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-12-16 23:34] #5875 closed

[2019-12-16 23:34] tstromberg commented on #4302
Closing because this should no longer happen in minikube v1.6: at  least for the same reasons.

[2019-12-16 23:34] #4302 closed

[2019-12-16 23:35] medyagh commented on #4184
this could solved by Pause command.

[2019-12-16 23:35] tstromberg commented on #4470
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-12-16 23:35] #4470 closed

[2019-12-16 23:36] #4478 closed

[2019-12-16 23:37] medyagh commented on #4324
we still wanna do this, and this still a help wanted issue

[2019-12-16 23:37] medyagh commented on #4564
I would be happy to review a PR that will implement this feature

[2019-12-16 23:38] medyagh commented on #4680
@kairen are you still interested in doing this ?

[2019-12-16 23:38] sharifelgamal commented on #5835
@nanikjava is anything else needed to close this?

[2019-12-16 23:39] medyagh commented on #4716
still waiting on https://github.com/kubernetes/minikube/issues/4716#issuecomment-518774521

[2019-12-16 23:40] medyagh commented on #4868
@afbjorklund are you still working on this on e?
 @josedonizetti  also showed interest in this.

this would be a cool feature.

[2019-12-16 23:40] priyawadhwa commented on #3825
Still currently an issue if anyone is interested in working on this!

There's some documentation around naming and cluster role bindings [here](https://kubernetes.io/docs/reference/access-authn-authz/rbac/) which could be useful.

From that documentation:
[code]
so I think renaming `cluster-admin` to `cluster-admin-binding` may be acceptable.

[2019-12-16 23:40] medyagh commented on #4928
we fixed this issue.

[2019-12-16 23:40] #4928 closed

[2019-12-16 23:41] priyawadhwa commented on #3821
@woodcockjosh has this issue been resolved by #5507?

[2019-12-16 23:42] medyagh commented on #5144
This issue is free to be picked up,
as @11janci mentioned you could cherry pick form this PR
 https://github.com/kubernetes/minikube/pull/5400

[2019-12-16 23:43] tstromberg commented on #5366
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-12-16 23:43] #5366 closed

[2019-12-16 23:44] tstromberg commented on #5490
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-12-16 23:44] #5490 closed

[2019-12-16 23:44] medyagh commented on #5392
not entirely same but in same category https://github.com/kubernetes/minikube/issues/3248

[2019-12-16 23:45] sharifelgamal commented on #5687
Bold.

[2019-12-16 23:45] priyawadhwa commented on #2117
If anyone is interested in working on this issue, please assign yourself by commenting `/assign`. I'd be happy to review any PRs!

[2019-12-16 23:45] medyagh commented on #3084
I believe we stil have this issue v1.6.1

[2019-12-16 23:45] tstromberg commented on #5546
Closing as a workaround was found. minikube no longer supports kube-dns, so I'm wary to add specific logic to discover this older configuration.

[2019-12-16 23:45] #5546 closed

[2019-12-16 23:46] tstromberg commented on #5686
On hold, as I'm waiting to hear back from https://github.com/kubernetes/website/issues/15969

[2019-12-16 23:46] medyagh commented on #5332
there is a small possiblity that this has been fixed by v1.6.1 if not seen again, we could close it.

[2019-12-16 23:47] medyagh commented on #5424
we still need help on making docs per version.

[2019-12-16 23:47] tstromberg commented on #5690
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-12-16 23:47] #5690 closed

[2019-12-16 23:48] medyagh commented on #5952
@zhaowenyuan  I haven't heard from you. I close this issue, please feel free to re-open if still need help.

[2019-12-16 23:48] #5952 closed

[2019-12-16 23:49] medyagh commented on #5944
this is being worked on by  @govargo

[2019-12-16 23:50] priyawadhwa commented on #5185
Hey @cpu100 are you still seeing this issue?

If so, could you please try upgrading to VirtualBox 6.1 and the [latest release](https://minikube.sigs.k8s.io/docs/start/) of Minikube? Please let us know if that does or doesn't work for you.

[2019-12-16 23:50] tstromberg opened #6097 "Support a start command that does not reconfigure the existing cluster"
`minikube start` currently reconfigures a cluster. We should support an explicit command for configuration, and an explicit one for startup.

[2019-12-16 23:50] medyagh commented on #5924
@davidthewatson
@orefalo thanks for updating this issue, do you mind sharing if you managed to solve the issue ?

[2019-12-16 23:52] medyagh commented on #5904
@hilner  do you mind trying with latest verison of virtualbox ( there is a new release of vbox) or perferably with KVM ?

[2019-12-16 23:53] tstromberg commented on #5706
The reboot part is annoying, but part of the design: host reboots don't automatically start minikube VM's. When the VM starts, it will be unhealthy until minikube start runs.

Moving the general part of cluster creation vs startup to #6097

[2019-12-16 23:53] #5706 closed

[2019-12-16 23:53] priyawadhwa commented on #5077
Hey @drewandersen could you please try with the [lastest version](https://minikube.sigs.k8s.io/docs/start/linux/) of minikube and let us know if you still see this error?

We upgraded the addon manager image in https://github.com/kubernetes/minikube/pull/5405 which may fix this issue.

[2019-12-16 23:53] medyagh commented on #5900
@battlesnake  have you had any chance to try ? is this something we need to fix or work on?

[2019-12-16 23:54] tstromberg commented on #5754
Please try upgrading to VirtualBox v6.1. Thank you!

[2019-12-16 23:54] #5754 closed

[2019-12-16 23:55] medyagh commented on #5896
Hi @Hussain-Badshah you cant do vm in a vm, unless you use a cloud that supports nested VMs

you could try using none driver inside a linux VM.

[2019-12-16 23:55] priyawadhwa commented on #5013
It seems that this issue can be closed, feel free to reopen if needed!

[2019-12-16 23:55] #5013 closed

[2019-12-16 23:56] tstromberg commented on #5814
Do you mind checking if minikube v1.6 has the same issue for you?

[2019-12-16 23:56] medyagh commented on #5892
@jyothirmayi-cloud I haven't heard from you, do you still have an issue ? please re-open if so.

[2019-12-16 23:56] #5892 closed

[2019-12-16 23:56] tstromberg commented on #5878
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-12-16 23:56] #5878 closed

[2019-12-16 23:56] tstromberg commented on #5882
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-12-16 23:56] #5882 closed

[2019-12-16 23:57] tstromberg commented on #5958
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-12-16 23:57] #5958 closed

[2019-12-16 23:57] medyagh commented on #5884
@KarthikReddy12345  do you mind trying with latest verison of minikube?

[2019-12-16 23:57] tstromberg commented on #5966
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-12-16 23:57] #5966 closed

[2019-12-16 23:58] priyawadhwa commented on #4913
@nanikjava I think it would be reasonable to check if either kvm/virtualbox is already running & log a warning to the user if that's the case.

[2019-12-16 23:58] medyagh commented on #5876
@misal8410  I haven't heard from you, do you mind sharing more info ? I  close this issue, please re-open whenver you are ready

[2019-12-16 23:58] #5876 closed

[2019-12-16 23:58] #6074 closed

[2019-12-17 00:00] medyagh commented on #5856
@jkpeai  are you still having this issue ? do you mind sharing more info ?

[2019-12-17 00:00] priyawadhwa commented on #5189
Closing, resolved by #5862

[2019-12-17 00:00] #5189 closed

[2019-12-17 00:00] medyagh commented on #5836
@rajula96reddy are you still working on it ?

[2019-12-17 00:07] medyagh commented on #5828
I believe this issue ben addresed by this PR https://github.com/kubernetes/minikube/pull/5854

[2019-12-17 00:07] #5828 closed

[2019-12-17 00:08] medyagh commented on #5824
seems like we could add this to our documentaiton !

[2019-12-17 00:10] medyagh commented on #5448
we still need to add this !

[2019-12-17 00:14] medyagh commented on #5532
we still need to do this

[2019-12-17 00:21] #5704 closed

[2019-12-17 00:22] #4949 closed

[2019-12-17 00:23] medyagh commented on #5776
we have another isssue, that has all other tools listed, I close that in favor of that one.

[2019-12-17 00:23] #5776 closed

[2019-12-17 00:23] #5788 closed

[2019-12-17 01:38] cheeseandcereal commented on #5667
Nope, still getting the errors. Checking the actual docker repository reveals that the images it's trying to pull (`k8s.gcr.io/coredns-arm64:1.6.5` and `gcr.io/k8s-minikube/storage-provisioner-arm64:v1.8.1`) are legitimately not in the repo; they need to be built and pushed.

`k8s.gcr.io/coredns:1.6.5` and `gcr.io/k8s-minikube/storage-provisioner:v1.8.1` exist in the repository, but they are not m

[2019-12-17 01:40] wangxiyuan commented on #6007
No, The detail:

[code]

[2019-12-17 02:57] davidbonachera commented on #5020
I temporarily solved the problem by using a VPN since it was quite difficult to find the right solution,

I will try different solutions and document those.

[2019-12-17 02:59] gtan01 opened #6098 "hyperv: exit status 1 - MethodInvocationNotSupportedInConstrainedLanguage"
**The exact command to reproduce the issue**
minikube start --vm-driver=hyperv

**The full output of the command that failed**:<details>
 minikube v1.6.1 on Microsoft Windows 10 Enterprise 10.0.17763 Build 17763
* Selecting 'hyperv' driver from user configuration (alternates: [virtualbox])
* Creating hyperv VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
* Retriable failure: create: precreate: exit s

[2019-12-17 03:23] daewok opened #6099 "start deletes existing VM on error starting VM"
`minikube start` deletes an existing VM (without any prompt) if there is a problem starting the VM. This was observed using the VirtualBox driver. This should not happen as it can cause data loss *and* configures the new VM differently than the original VM. In this particular case, there was a transient failure starting the VM as the VirtualBox version was out of sync with its kernel modules.

**T

[2019-12-17 04:00] halulunyan opened #6100 "none on v1.2.0: Error restarting cluster: waiting for apiserver: timed out waiting for the condition"
root@halulu-VirtualBox:~/.minikube/logs# minikube start
* minikube v1.2.0 on linux (amd64)
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Restarting existing none VM for "minikube" ...
* Waiting for SSH access ...
* Configuring environment for Kubernetes v1.15.0 on Docker 19.03.5
  - kubelet.resolv-conf=/run/systemd/resolve/resolv.conf
* R

[2019-12-17 04:05] russoz commented on #6085
Hi Thomas,

The curl output:
[code]

I will place the file in the cache directory as you indicated.

Thanks

[2019-12-17 05:07] cristian04 commented on #4456
Not really. I am having this issue when I add metrics into the hpa.

[code]

I think is related to [this bug](https://github.com/kubernetes/website/issues/12765)

[2019-12-17 05:12] orefalo commented on #5924
I did. Sorry for late reply

[2019-12-17 05:38] zedtux commented on #6028
I'm running macOS Catalina 10.15.2 and D4M 2.1.7.0 (channel edge).

[2019-12-17 06:19] hasibulbhaai opened #6101 "none CentOS 7.7: [kubelet-check] Initial timeout of 40s passed."
[docker@localhost ~]$ sudo minikube start --vm-driver=none --alsologtostderr -v=8
sudo: minikube: command not found
[docker@localhost ~]$ sudo /usr/local/bin/minikube start --vm-driver=none --alsologtostderr -v=8
W1217 11:44:59.574895    1422 root.go:241] Error reading config file at /root/.minikube/config/config.json: open /root/.minikube/config/config.json: no such file or directory
I1217 11:44:

[2019-12-17 06:22] MadhukaHarith92 commented on #2896
I tried to update resources for a profile using `minikube config set` command. However, this is a global configuration and not specific to a profile. This is not a proper solution. It should be possible to update resources per profile.

[2019-12-17 06:23] jiran2 commented on #3860
worked thanks

[2019-12-17 06:40] Raja1090 opened #6102 "Sorry that minikube crashed. If this was unexpected"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-12-17 07:44] fabiand commented on #2178
Yes. Today it's much simpler than a year ago. However, we need somebody to
write the basic plugin. volunteers are welcome.

[2019-12-17 08:02] zd-dalibor commented on #5666
Bash history exists but, I think that ssh client implementation in go language does not recognize the arrow keys. When I use putty client instead of "minikube ssh" command up and down keys traverse through bash history

[2019-12-17 08:36] Colstuwjx opened #6103 "offline support broken: LoadImages makes HTTPS queries"
**The exact command to reproduce the issue**:
`minikube start`

It seems that docker daemon inside minikube vm would pull docker images even we have been cached all things, included iso,images etc.

According to the [disk cache reference](https://minikube.sigs.k8s.io/docs/reference/disk_cache/) said,

[code]

maybe we need to also make docker daemon do NOT pull the cached images?
Thanks.

**The fu

[2019-12-17 08:41] Colstuwjx commented on #6103
See kubeadm related issue: [524](https://github.com/kubernetes/kubeadm/issues/524#issuecomment-564120509).

[2019-12-17 08:54] Colstuwjx commented on #6080
I have tried `sync` feature, it works well!

But k8s still prompt me that I need to create the image secret by some pull errors. I think leave this job to minikube is hard to implement, since we need one image secret for each namespace.

As a result, I'd like to use the `sync` feature to sync docker config, and just create the image secret by manually or by some PaaS platform.

Thanks for your rep

[2019-12-17 08:54] #6080 closed

[2019-12-17 08:59] daneel3001 commented on #6098
Hello

I may be having the same issue.
On Windows 10 insider/slow the command "Preparing Kubernetes 1.17.0 on Docker '19.03.5' never completes.

[code]

Logs:
[code]

[2019-12-17 08:59] #4830 closed

[2019-12-17 09:05] rajula96reddy commented on #5836
@medyagh  Yeah! I am working on it and I am gonna finish this soon. Probably today or tomorrow. I am really sorry, I got stuck with some stuff and couldn't finish it earlier.

[2019-12-17 09:16] daneel3001 commented on #6098
My issue might be linked to Docker engine and Minikube version incompatibility.
https://github.com/kubernetes/minikube/issues/6065#issuecomment-564956169

[2019-12-17 09:31] Colstuwjx commented on #6103
Update:

For minikube side, I have seen that we will do [retrieveImage](https://github.com/kubernetes/minikube/blob/master/pkg/minikube/machine/cache_images.go#L363) while load images to container runtime, and for no networking access environment, it would broken.

Maybe we could add a config option for this, to skip the `retrieveImage` and just load the cached images?

Thanks.

[2019-12-17 09:33] burdiyan commented on #38
I was not really using minikube for a while, and checked it out again recently. And I discovered the existence of `minikube tunnel` command, which exactly solves the issue being discussed here, I think. I'm using it with macOS using Hyperkit driver and it all works perfectly. I ditched Docker for Mac and just use the docker daemon inside the minikube VM.

[2019-12-17 09:37] kvliet66 commented on #6032
Hi Thomas, I tried and it indeed solved the issue.
Thanks

[2019-12-17 10:20] Asarew commented on #5904
i'm having the same exact issue. i installed the latest version of virtualbox, and also KVM. but nothing seem to work for me :(

I nuked my ~.minikube folder and attempted a fresh start multiple times but i get the same error every time.

[2019-12-17 10:25] surajsunrays commented on #6102
sunrays@sunrays-Vostro-3580:~/Downloads/hashicorp-vault/vault-guides/identity/vault-agent-k8s-demo$ export K8S_HOST=$(minikube ip)

💣  Error getting config: stat /home/sunrays/.minikube/profiles/minikube/config.json: no such file or directory

😿  Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
👉  https://github.com/kubernetes/minikube/issues/new/choose

Getting

[2019-12-17 10:37] nikhils5501 commented on #4456
@cristian04 You need to have metrics-server installed on your cluster. I hope that should solve it for you. Metrics-server is the alternative for Heapster.

[2019-12-17 10:46] kameshsampath commented on #4604
Yes I am interested, since am bit busy with other priorities its taking sometime to push it back.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Medya Ghazizadeh <notifications@github.com>
Sent: Tuesday, December 17, 2019 3:53:59 AM
To: kubernetes/minikube <minikube@noreply.github.com>
Cc: Kamesh Sampath <kamesh.sampath@hotmail.com>; Mention <mention@noreply.git

[2019-12-17 12:28] pradeepbavirisetty opened #6104 "hyperv: NewVM: NotSpecified: (:) [New-VM], VirtualizationException"
Hi Team,
I have tried to run minikube in virtualbox and hyperv in windows 10 but i am unable to start the minikube in both the servers. below commands are used in both hyperv and virtualbox.

Virtual box:
**$> minikube start --vm-driver=virtualbox**
output:
Virtual image gets created in virtual box but its asking minikube login and password while opening the image.

Hyper v:

**$> minikube start -

[2019-12-17 12:44] govargo commented on #5478
@tstromberg Thank you for sharing. I'll close the PR #5833

[2019-12-17 13:41] RoelandMatthijssens commented on #6026
Yup you are correct, upgrading to 1.6.1 allows me to run kubernetes v1.12.1. Thanks

[2019-12-17 13:42] #6026 closed

[2019-12-17 13:52] Colstuwjx opened #6106 "Update kubeadm api version from v1beta1 to v1beta2"
**The exact command to reproduce the issue**:
this issue was part of #6103, and the exact command was `/bin/bash -c \"sudo env PATH=/var/lib/minikube/binaries/v1.17.0:$PATH kubeadm config images pull --config /var/tmp/minikube/kubeadm.yaml\"`

**The full output of the command that failed**:<details>

...
🚜  拉取镜像 ...
❌  无法拉取映像，有可能是正常状况：running cmd: "/bin/bash -c \"sudo env PATH=/var/lib/minikube/bi

[2019-12-17 13:54] Colstuwjx commented on #6106
According to the output prompted, we may need to run `kubeadm config migrate --old-config old.yaml --new-config new.yaml'`, and using the new configuration spec for generating `/var/tmp/minikube/kubeadm.yaml`.

[2019-12-17 14:29] jonenst commented on #4151
no

[2019-12-17 15:02] msetodev opened #6107 "Failed to cache ISO: http: server gave HTTP response to HTTPS client"
minikube start --vm-driver=hyperv

<details>

X Failed to cache ISO: https://storage.googleapis.com/minikube/iso/minikube-v1.6.0.iso: invalid checksum: Error downloading checksum file: Get https://storage.googleapis.com/minikube/iso/minikube-v1.6.0.iso.sha256: http: server gave HTTP response to HTTPS client

</details>

<details>

PS C:\Work\PowerShell> minikube logs
*
X Error getting config: Crea

[2019-12-17 15:04] tstromberg commented on #6107
The error message indicates that a HTTPS_PROXY is being set to a plain HTTP proxy. Can you double check that the HTTPS_PROXY setting is the same as you are using elsewhere for HTTPS?

[2019-12-17 15:12] sanjay-batra opened #6108 "Error downloading checksum file: remote error: tls: access denied"
I have been trying to start minikube on Windows 2019. it fails to download the releases.json file and also the ISO to create the HyperV VM
===============================================================
PS C:\Users\Administrator> minikube.exe start --alsologtostderr -v=8
I1217 09:01:40.739581    3608 notify.go:125] Checking for updates...
W1217 09:01:40.816579    3608 notify.go:56] Error getting j

[2019-12-17 15:18] tstromberg commented on #6106
Thanks for the heads up. We'll need to do this for v1.18 support.

If you or anyone is interested in helping out with this, your intuition is correct. The steps that need to be performed here are:

* Use `minikube ssh` and run `kubeadm config migrate --old-config /var/tmp/minikube/kubeadm.yaml --new-config  /var/tmp/minikube/v1beta2.yaml`
* Run `diff -ubB /var/tmp/minikube/kubeadm.yaml /var/tmp/mi

[2019-12-17 15:28] tstromberg commented on #6007
I believe the root cause here is that we've never published an arm64 version of the storage-provisioner.

I don't think the storage-provisioner is particularly useful for the none driver, but we should probably publish one anyways.

[2019-12-17 15:30] msetodev commented on #6107
I was able to fix my proxy settings in environment variables. The trick was closing and opening a new PowerShell session for it to take effect. Thank you!

[2019-12-17 15:30] #6107 closed

[2019-12-17 15:36] tstromberg commented on #6103
Thank you for bringing this to our attention. I can confirm that offline support is broken in minikube v1.6.1:

My bet is that this was an unexpected side effect of https://github.com/kubernetes/minikube/pull/5987

Here's the error that made me suspicious:

[code]

Here's another example from running locally without Docker installed:

[code]

We'll make sure to fix this ASAP.

/cc @medyagh

[2019-12-17 17:00] tstromberg commented on #5478
@govargo - #5833 also handles version checking. We don't  do anything there. I think the PR still has value.

[2019-12-17 18:26] ghostsquad commented on #94
@andersthorsen Host or Guest OS?

[2019-12-17 18:40] NikhilSarda opened #6109 "Error downloading kubelet: A connection attempt failed because the connected party did not properly respond"
**The exact command to reproduce the issue**: minikube start --vm-driver=virtualbox

**The full output of the command that failed**:<details>
* minikube v1.5.2 on Microsoft Windows 10 Enterprise 10.0.17134 Build 17134
* Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
E1217 21:31:20.101836   13560 cache_images.go:80] CacheImage k8s.gcr.io/k8s-dns-sidecar-amd64:1.14.13 -> C:\Us
ers\

[2019-12-17 18:44] digitalcoyote commented on #576
The problem is  currently line 1048 in cmd/minikube/cmd/start.go

[2019-12-17 21:19] cristian04 commented on #4456
I am using metric-server.

### Updates:

### I've retested on:

Minikube v1.6.1 + metric-server
Result: NA
Error: Issue starting minikube to start a 1.7.0 cluster "💣  Unable to parse "": Version string empty"

----

Minikube v1.5.2 + metric-server:
K8S: v1.16.2

Result: Not working
Error: Metrics are not available:

[code]

HPA with unknown status:

[code]

metric-server log
[code]

-----

Minikub

[2019-12-17 21:43] ss-1 commented on #6014
That fixed it. Thanks!

On Mon, Dec 16, 2019 at 1:20 PM Steve S <steve.x.sws@gmail.com> wrote:

[2019-12-18 00:37] medyagh commented on #6103
@Colstuwjx Thank you so much for taking the time to create this bug !  this is definitely a bug ! I regret that it was a side effect of my improving cache PR.

I am sorry for the inconvenience it caused to offline users andI really appreciate it that you reported it. and thanks for @tstromberg for creating a quick fix PR with integration tests so this may never happen again !

[2019-12-18 02:00] fenglixa commented on #3597
@priyawadhwa, sorry for that, I am busy on another trunk recently, though I am so interesting on this ticket.
I am happy if anyone else could help provide PR on this issue.  Thanks.

BR
-Feng

[2019-12-18 02:21] nanikjava commented on #5835
PR has been reviewed and merged. So it's all good to close it. Thanks

[2019-12-18 02:26] nanikjava commented on #5617
Yes I will work on this as I have created an early proto of the idea. Thanks

[2019-12-18 02:26] nanikjava commented on #5617
@josedonizetti will do.

[2019-12-18 02:26] nanikjava commented on #5181
/unassign @nanikjava

[2019-12-18 02:31] nanikjava commented on #3327
Going to unassign myself for now, as trying to work on another ticket.

[2019-12-18 02:33] nanikjava commented on #5144
/assign @nanikjava

[2019-12-18 04:15] gtan01 commented on #6098
Hi,

Will this be my issue as well in your opinion?

[2019-12-18 08:24] daneel3001 commented on #6078
Hello again

I think unless there has been any more such reports it would make sense to catalog that as a false positive.

Thanks

[2019-12-18 08:43] davix commented on #6055
It doesn't happen consistently. Actually, even with my current minikube v1.5.2, it can be up later.
I'll close it now and if it happens again on v1.6, I'll re-open it.
Thanks!

[2019-12-18 08:43] #6055 closed

[2019-12-18 09:34] broomerr commented on #6099
The same for me with minikube v1.5.2

[2019-12-18 09:46] broomerr commented on #4587
You could run VirtualBox on top of Hyper-V.
But some additional actions needed.
1. need to enable "Windows Hypervisor Platform" in OptionalFeatures.exe
2. set "VBoxInternal/NEM/UseRing0Runloop" for virtual machine. See here how:
https://superuser.com/questions/1480214/virtualbox-6-doesnt-run-with-hyper-v-enabled-on-windows-10-1903

But seams minikube not  able to *create* new VM!
Only reuse.

[2019-12-18 09:55] littlesmilelove commented on #5860
Get the same issue.  This is my command:
`
minikube start --image-mirror-country=cn --iso-url=https://kubernetes.oss-cn-hangzhou.aliyuncs.com/minikube/iso/minikube-v1.6.0.iso --registry-mirror=https://dockerhub.azk8s.cn  --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers --vm-driver="hyperv" --hyperv-virtual-switch="minikube v switch"  --memory=4096
`

[2019-12-18 11:14] ymkarthik opened #6113 "Error parsing netrc file: permission denied"
minikube start
😄  minikube v1.6.1 on Ubuntu 16.04
✨  Automatically selected the 'virtualbox' driver (alternates: [none])
💿  Downloading VM boot image ...

💣  Failed to cache ISO: https://storage.googleapis.com/minikube/iso/minikube-v1.6.0.iso: invalid checksum: Error downloading checksum file: Error parsing netrc file at "/home/miracle/.netrc": open /home/miracle/.netrc: permission denied

😿  Sorr

[2019-12-18 11:53] kgeyan opened #6114 "Unable to start minikube in Oracle-VM running Oracle Linux-7.5"
# minikube start --vm-driver=none
* minikube 1.6.1 is available! Download it: https://github.com/kubernetes/minikube/releases/tag/v1.6.1
* To disable this notice, run: 'minikube config set WantUpdateNotification false'

! minikube v1.5.2 on Oracle 7.5 (xen/amd64)
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Using the running none "miniku

[2019-12-18 13:17] harish507 commented on #6008
no issue resolved,Thank you...

On Tue, Dec 17, 2019 at 4:34 AM Medya Ghazizadeh <notifications@github.com>
wrote:

[2019-12-18 13:31] RubenBaez commented on #6106
/assign

I will help with this

[2019-12-18 14:01] rezabojnordi opened #6115 "problem command minikube addons enable heapster"
**کامندی که مشکل را به وجود می آورد**:
minikube addons enable heapster
**خروجی کامل کامند مورد مشکل:**:<details>
*
X enable failed: property name "heapster" not found
*
* Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
  - https://github.com/kubernetes/minikube/issues/new/choose

</details>

**`minikube logs` خروجی کامل دسستور**: <details>

</details>

**سیستم

[2019-12-18 14:38] mab commented on #4029
I still face the issue.

minikube version: v1.6.1
commit: 42a9df4854dcea40ec187b6b8f9a910c6038f81a
Windows 10 Version 1809

[code]

The idea of @brainfull looks promissing but is a bit hacky. Minishift provides an option to assign a static ip. That would be a great feature in minikube, too.

`

[2019-12-18 17:33] tstromberg opened #6116 "--download-only does not download VM drivers"
Something I noticed while testing v1.6.1 on macOS.

[2019-12-18 18:42] sharifelgamal commented on #5835
Thanks!

[2019-12-18 18:42] #5835 closed

[2019-12-18 19:49] medyagh opened #6117 "lint pkg/minikube/translate/translations.go"
lint sometimes yells at this :

[code]
I am not sure how to edit this file, since it is auto generated . @sharifelgamal do you know ?

[2019-12-18 21:46] #6117 closed

[2019-12-18 23:21] #6078 closed

[2019-12-18 23:36] #5944 closed

[2019-12-18 23:54] tstromberg commented on #6115
heapster support was retired:

https://github.com/kubernetes/minikube/pull/5243

Is this addon something you still need support for?

[2019-12-18 23:56] tstromberg commented on #4132
Re-opening because I don't see the relationship between cgroup and this issue.

It's very strange that the provisioner is even attempting to use SSH.

[2019-12-18 23:56] tstromberg commented on #6114
This issue appears to be a duplicate of #4132, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-12-18 23:56] #6114 closed

[2019-12-18 23:59] tstromberg commented on #6113
This issue appears to be a duplicate of #5643, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-12-18 23:59] #6113 closed

[2019-12-19 00:01] tstromberg commented on #6109
minikube needs access to the internet to download the required images and binaries the first time.

Does your machine require an HTTP proxy to access the internet? If so, you will need to configure it: https://minikube.sigs.k8s.io/docs/reference/networking/proxy/

[2019-12-19 00:04] tstromberg commented on #6108
While the proxy may be setup properly for Docker, it does not appear to be setup properly for other Go programs like minikube. You'll need to configure the proxy as per:

https://minikube.sigs.k8s.io/docs/reference/networking/proxy/

It is interesting that the proxy in your case is responding with `access denied`. I've never seen that before.

[2019-12-19 00:06] tstromberg commented on #6104
minikube doesn't have a login or password, so I'm not sure about the VirtualBox issue.

As far as the Hyper-V issue, do you mind sharing the output of:

`minikube start --vm-driver hyperv --alsologtostderr -v=1`

Thank you.

[2019-12-19 00:09] tstromberg commented on #6102
@raea1090 - Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=1` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2019-12-19 00:11] nanikjava commented on #5617
PR submitted https://github.com/kubernetes/minikube/pull/6120

[2019-12-19 00:18] tstromberg commented on #6101
Do you mind providing the output of `journalctl -xeu kubelet`?
`

[2019-12-19 00:19] tstromberg commented on #6100
Do you mind upgrading to minikube v1.6.1? It does a better job of handling apiserver issues.

If it still fails, can you please include the output of:

* `kubectl get po -A`
* `minikube logs`

Thanks!

[2019-12-19 00:21] tstromberg commented on #6099
minikube VM's are designed to be ephemeral. They will in fact lose data every time you reboot your host.

That said, this behavior is kind of icky and should be up for further discussion.

[2019-12-19 00:23] tstromberg commented on #6098
@gtan01 - do you mind including the output of:

`minikube start --alsologtostderr -v=1`

[2019-12-19 00:25] tstromberg commented on #6027
PSP's require a bit more configuration. Do you mind trying this tutorial and reporting back if it helps?

https://minikube.sigs.k8s.io/docs/tutorials/using_psp/

[2019-12-19 00:26] tstromberg commented on #6027
Related: #2950

[2019-12-19 00:28] tstromberg commented on #6024
`minikube start` should recreate the certificates. It should not be necessary to stop it, and does not require deployments to be restarted. Do you mind trying it? On most systems, it should take at most 10 seconds, but I understand Hyper-V may have different performance characteristics.

That said, it might be nice to have a more explicit command.

[2019-12-19 00:30] tstromberg commented on #6023
Do you mind including the output of:

* `minikube start --alsologtostderr -v=8`
* `$HOME/.minikube/bin/docker-machine-driver-kvm2 version`

I suspect the `docker-machine-driver-kvm2` binary is crashing, but I don't have any reason why that may be happening.

[2019-12-19 00:32] tstromberg commented on #6017
Can you provide replication instructions on how you tried to install the  `kubernetes-bootcamp` service within minikube?

Also, do you mind sharing the output of `kubectl get po -A`?

Thanks!

[2019-12-19 00:34] devdattakulkarni commented on #6027
@tstromberg Sure!

Btw, I was able to get PSPs to run using an earlier version of Minikube (I think 0.35 -- will update once I get a chance to login to my work machine).

I think this issue might be a regression in the current version of Minikube.

[2019-12-19 00:37] tstromberg commented on #6013
It looks like this has never worked for VMware, probably because VMware tools isn't installed, as your warning message mentions. To do so would require, as far as I know, a buildroot package similar to the one we use for the VirtualBox tools:

https://github.com/kubernetes/minikube/tree/master/deploy/iso/minikube-iso/package/vbox-guest

Help wanted!

In the mean time, one can use `minikube mount`,

[2019-12-19 00:37] #6008 closed

[2019-12-19 00:40] #6084 closed

[2019-12-19 00:42] #5539 closed

[2019-12-19 00:43] tstromberg commented on #5539
Closing, as the fix is to make sure that the image repository contains all of the images used by minikube.

[2019-12-19 00:48] robrich opened #6122 "Document upgrading a cluster"
Now that https://github.com/kubernetes/minikube/pull/5798 is merged, and `minikube start` doesn't auto-upgrade, how do I upgrade my cluster?  Will `minikube start --kubernetes-version ...` upgrade it or dump the VM and start over?  (and consume all the bandwidth as I download base images again.) Is there a `minikube start --kubernetes-version stable` or `minikube start --kubernetes-version latest`

[2019-12-19 03:50] gitsilos opened #6123 "failed to copy contents: read tcp wsarecv: A connection attempt failed because the connected party did not properly respond"
In windows 10  home , minikube start failed

C:\Users\usanc>minikube start
* minikube v1.6.1 on Microsoft Windows 10 Home 10.0.18362 Build 18362
* Selecting 'virtualbox' driver from existing profile (alternates: [])
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Using the running virtualbox "minikube" VM ...
* Waiting for the host to be pr

[2019-12-19 04:26] sanjay-batra commented on #6108
Tried as per the link shared by you.
=============================================
PS C:\Kube> set HTTP_PROXY=http://<proxy url:port>
PS C:\Kube> set HTTPS_PROXY=http://<proxy url:port>
PS C:\Kube> set NO_PROXY=localhost,127.0.0.1,10.96.0.0/12,192.168.99.0/24,192.168.39.0/24
PS C:\Kube> .\minikube.exe start --alsologtostderr
W1218 22:20:11.728844   13508 root.go:241] Error reading config file at C

[2019-12-19 07:38] gtan01 commented on #6098
Hi Thomas,

Here it is:
$ minikube start --alsologtostderr -v=1
I1219 15:21:05.115393    8216 notify.go:125] Checking for updates...
I1219 15:21:05.225424    8216 start.go:255] hostinfo: {"hostname":"SIN-L-00040522","uptime":188988,"bootTime":1576551077,"procs":236,"os":"windows","platform":"Microsoft Windows 10 Enterprise","platformFamily":"Standalone Workstation","platformVersion":"10.0.17763 Bu

[2019-12-19 08:03] fenglixa commented on #3597
/assign

[2019-12-19 09:37] rezabojnordi commented on #6115
No I watched a tutorial using this module, do you have a replacement?

[2019-12-19 13:20] avinal commented on #4587
bcdedit /set hypervisorlaunchtype off works for me. Thanks :+1:

[2019-12-19 14:43] tdevilleduc commented on #6123
I'm behind a corporate proxy and I'm using this no_proxy minimum :
NO_PROXY="localhost,127.0.0.1,10.96.0.0/12,192.168.99.1/24,192.168.39.0/24"

[2019-12-19 17:06] afbjorklund commented on #4868
@medyagh : I was trying to build critical mass for including it as a feature, over initial concerns.

Seems like we have it, so I can do a rebase and finish that "build context" implentation for podman...

[2019-12-19 17:14] afbjorklund commented on #4868
Something like this: https://github.com/fsouza/go-dockerclient/blob/master/tar.go#L20

So that you can build a directory, and it will automatically create a tarball and scp it...

[2019-12-19 18:37] 9ofe commented on #4587
did not work for me :((
C:\WINDOWS\system32>bcdedit /set hypervisorlaunchtype off
The boot configuration data store could not be opened.
The system cannot find the file specified.

[2019-12-19 18:55] tstromberg commented on #6122
`minikube start --kubernetes-version=v1.17.0` will upgrade you, without re-downloading the VM image. That said, the base VM image is only ~120MB compared to the ~600MB it takes to download a new Kubernetes release.

We don't yet support 'stable' or 'latest' designators, but it would certainly be a great feature to add. If you or anyone else is interested in making this work, add a check for `param

[2019-12-19 18:56] yinzara commented on #4621
/remove-lifecycle stale

still a problem AFAIK

[2019-12-19 18:57] tstromberg commented on #6122
Also worth noting, this is the message users should see if there is an upgrade available:

`out.T(out.ThumbsUp, "Kubernetes {{.new}} is now available. If you would like to upgrade, specify: --kubernetes-version={{.new}}`

That doesn't invalidate the issues you've raised, just showing the guidance we are currently providing, as the documentation should match it.

[2019-12-19 18:59] tstromberg opened #6126 "Add support for --kubernetes-version=(latest|stable) aliases"
As proposed by @robrich in #6122

As I mentioned there, minikube does not yet support `latest` or stable` version aliases, but it would be trivial to add.  If you or anyone else is interested in making this work, add a check for `paramVersion == "stable"` here:

https://github.com/kubernetes/minikube/blob/56c72e207965e6ff6fb760ed47a5039d0f3fb121/cmd/minikube/cmd/start.go#L1127

We currently store

[2019-12-19 19:02] tstromberg commented on #6123
You are going to need to set an HTTPS_PROXY environment variable. See the documentation here:

https://minikube.sigs.k8s.io/docs/reference/networking/proxy/

Do you mind reporting back if this fixes the issue for you?

[2019-12-19 19:03] tstromberg commented on #6115
Heapster was retired in preference to metrics-server in Kubernetes v1.11:

https://github.com/kubernetes-retired/heapster/blob/master/docs/deprecation.md

[2019-12-19 19:03] #6115 closed

[2019-12-19 19:08] tstromberg commented on #6098
It looks like PowerShell might be restricted on your computer. I found this issue which seems to indicate that other programs may suffer from the same issue: https://github.com/docker/for-win/issues/1348

Do you mind trying:

* Launch `regedit`
* Go to `Computer\HKEY_LOCAL_MACHINE\SYSTEM\ControlSet001\Control\Session Manager\Environment`
* Set `__PSLockDownPolicy` to `8`
* Try minikube again.

[2019-12-19 19:10] tstromberg commented on #6085
Any luck?

[2019-12-19 19:10] tstromberg commented on #6079
Great news. Thank you for the update!

[2019-12-19 19:10] #6079 closed

[2019-12-19 19:10] tstromberg commented on #6037
Thank you for the update!

[2019-12-19 19:10] #6037 closed

[2019-12-19 19:12] robrich commented on #6126
I see versions defined in https://github.com/kubernetes/minikube/blob/b6ff7bae62eb69bf7a2cd7592c4e0c96ce5247ce/pkg/minikube/constants/constants.go#L67-L74 but it's `default`, `newest`, and `oldest`.  Did I miss `stable`?  I'm guessing as of this writing, `stable` would be `1.16.4` and `latest` would be `1.18.0-alpha.1` (Mirroring https://github.com/kubernetes/kubernetes/releases).  Is this right?

[2019-12-19 19:12] tstromberg commented on #6027
minikube doesn't do anything specific with PSP's  or other audit policies, but it could very well be that the Kubernetes version used by v0.35 and the one used by default in v1.5.2 have different behaviors.

Please let me know if you find anything else out about it.

[2019-12-19 19:17] tstromberg commented on #5571
[code]
"k8s.gcr.io/echoserver:1.10": rpc error: code = Unknown desc = Error response from daemon: Get https://k8s.gcr.io/v2/: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)
[code]

[2019-12-19 19:20] tstromberg commented on #6014
Excellent. I'll see if I can get a solution message added for this then.

[2019-12-19 19:20] #6014 closed

[2019-12-19 19:25] devdattakulkarni commented on #6027
I see.

Here is the minikube and Kubernetes version for which PSPs worked.

Minikube: minikube-0.35.0

txaumacl17: kulkade$ kubectl version
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.3", GitCommit:"b3cbbae08ec52a7fc73d334838e18d17e8512749", GitTreeState:"clean", BuildDate:"2019-11-13T11:23:11Z", GoVersion:"go1.12.12", Compiler:"gc", Platform:"darwin/amd64"}
Server Versio

[2019-12-19 19:41] tstromberg commented on #5933
Do you mind sharing the actual error you received?

After a restart of what, the host running minikube, or do you mean `minikube start`?

I went through your logs and see that it looks like `minikube start` was run multiple times, which is fine. I also see that your posts container is in CrashLoopBackoff. Do you mind running

`kubectl get po -A`
`kubectl describe pod <name of your posts pod>`

As

[2019-12-19 19:42] tstromberg commented on #5715
I believe we fixed this in minikube v1.6.1. Can anyone here confirm?

[2019-12-19 19:43] tstromberg commented on #951
Marking as a backlog item, because I don't believe this will be likely possible until we migrate away from `libmachine` to something like `terraform`.

[2019-12-19 19:52] #6103 closed

[2019-12-19 20:01] tstromberg commented on #6062
Do you mind sharing the actual output of `minikube start`? It's tricky to see what's going on here, as the logs here are something that can also be seen for a few seconds in a healthy cluster during  the bootstrapping state.

[2019-12-19 20:03] tstromberg commented on #6007
The storage provisioner is version independent - and actually hasn't been updated in years.

[2019-12-19 20:05] tstromberg commented on #5999
It's difficult to tell from this if ` --apiserver-ips 127.0.0.1 --apiserver-name localhost` made it work, or if you were just lucky on the subsequent run.

[2019-12-19 20:21] russoz commented on #6085
hi Thomas, sorry for not posting back earlier: manually copying the file worked fine, I was able to start the cluster. Thanks for the tip.

[2019-12-19 20:47] afbjorklund commented on #5734
@nicolereineke : it looks like we will stick with the emojis, since mixing/matching emojis looks weird - especially on the newer platforms where emojis are in color (but icons are still shown in black/white)

Theoretically one could add color to minikube, but I think this issue has been hi-jacked long enough...
@medyagh: feel feel to clarify what you wanted to get done, change an emoji or avoid tw

[2019-12-19 21:16] tstromberg commented on #6126
Default is stable.

Newest should be updated to v1.18.0-alpha.1.

[2019-12-19 21:56] BZM708 commented on #5236
I typed the following commands in terminal:

export HTTP_PROXY=http://192.168.99.108:30178
export HTTPS_PROXY=https://192.168.99.108:30178
export NO_PROXY=localhost,172.17.0.21/84,192.168.99.108/84,10.99.98.201/84

minikube start

curl -vv http://192.168.99.108:30178

The output in the terminal is:

* Rebuilt URL to: http://192.168.99.108:30178/
*   Trying 192.168.99.108...
* TCP_NODELAY set
* con

[2019-12-19 22:32] daewok commented on #6099
Sure, some data will lost on reboot, but secrets and PVs hang around and that's what I'm mostly concerned about.

[2019-12-19 23:02] tstromberg commented on #5947
I believe we solved this issue in minikube v1.6. Please reopen if you happen to bump into it again.

[2019-12-19 23:02] #5947 closed

[2019-12-19 23:16] tstromberg commented on #6019
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-12-19 23:16] #6019 closed

[2019-12-19 23:16] tstromberg commented on #6020
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-12-19 23:16] #6020 closed

[2019-12-19 23:23] tstromberg commented on #6028
If `--vm-driver` is not specified, minikube defaults to hyperkit, so it's likely related.

Interesting that you are already on bleeding edge versions though.

[2019-12-19 23:25] tstromberg commented on #6029
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-12-19 23:25] #6029 closed

[2019-12-19 23:32] #6083 closed

[2019-12-20 00:06] kalyanvajrapu8 commented on #5715
Thanks i will inform u after done task

On Fri, 20 Dec 2019, 01:12 Thomas Strömberg, <notifications@github.com>
wrote:

[2019-12-20 00:08] pranky89 commented on #4815
You might have done what most people did, simply copy pasting what's mentioned, including EOF and cat commands in the yaml file which isn't going to work. What actually needs to go in kustomization.yaml is this :

**---
resources:
  - mysql-deployment.yaml
  - wordpress-deployment.yaml**

[2019-12-20 00:24] #5941 closed

[2019-12-20 01:07] gitsilos opened #6131 "Couldn't find network status for kube-system/coredns-6955765f44-j6bg9 through plugin: invalid network status for"
On windows 10 home, installed Minikube

when i loaded the POD and looked at logs, i am seeing error
Couldn't find network status for kube-system/coredns-6955765f44-j6bg9 through plugin: invalid network status for

id network status for
* Dec 20 01:02:37 minikube kubelet[2909]: W1220 01:02:37.535502    2909 pod_container_deletor.go:75] Container "d11e8558cdcdccca3df726b832109aba670196b9ef527a1d3698

[2019-12-20 02:11] ArvinSiChuan opened #6132 "Authentication Required with flag `--image-mirror-country=cn`"
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>
[code]

</details>

**The output of the `minikube logs` command**:<details>
[code]

</details>

**The operating system version**:
MacOs Catalina 10.15.2

[2019-12-20 03:41] mnff opened #6133 "none: [ERROR SystemVerification]: missing cgroups: memory"
**重现问题所需的命令**：sudo minikube start --vm-driver=none

**失败的命令的完整输出**：<details>
* Debian 8.9 上的 minikube v1.6.1
* Selecting 'none' driver from user configuration (alternates: [])
* Running on localhost (CPUs=4, Memory=8005MB, Disk=7934MB) ...
* OS release is Debian GNU/Linux 8 (jessie)
* 正在 Docker '18.06.3-ce' 中准备 Kubernetes v1.17.0…
* 拉取镜像 ...
* 正在启动 Kubernetes ...
*
X 开启 cluster 时出错: init failed. c

[2019-12-20 03:53] gtan01 commented on #6098
Hi Thomas,

Thank you very much it worked in Powershell.  Most appreciated.

BTW, there are errors if I launch using CYGWIN FYI...below are the error messages when I run "minikube start --vm-driver=hyperv" in CYGWIN.

 minikube start --vm-driver=hyperv
* minikube v1.6.1 on Microsoft Windows 10 Enterprise 10.0.17763 Build 17763
* Selecting 'hyperv' driver from user configuration (alternates: [virtu

[2019-12-20 05:40] Siddharthalhat001 opened #6134 "minikube crashed"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-12-20 05:41] Siddharthalhat001 commented on #6134
💣  Error starting cluster: init failed. cmd: "/bin/bash -c \"sudo env PATH=/var/lib/minikube/binaries/v1.17.0:$PATH kubeadm init --config /var/tmp/minikube/kubeadm.yaml  --ignore-preflight-errors=DirAvailable--etc-kubernetes-manifests,DirAvailable--var-lib-minikube,DirAvailable--var-lib-minikube-etcd,FileAvailable--etc-kubernetes-manifests-kube-scheduler.yaml,FileAvailable--etc-kubernetes-manifest

[2019-12-20 05:41] #6134 closed

[2019-12-20 08:02] rezabojnordi commented on #6115
thank you very much

[2019-12-20 09:00] semiautomatix commented on #4587
Thanks for the help all.

//Disable hyper-V in Powershell
PS> Disable-WindowsOptionalFeature -Online -FeatureName Microsoft-Hyper-V-All

//This has to also be set!
RUN > CMD > bcdedit /set hypervisorlaunchtype off

Reboot.

[2019-12-20 10:41] Gkiokan commented on #3036
I has run into this issue and it take me a while to fix that.
This happends actually only with dnsmasq locally installed.

Here is my working dnsmasq.conf for anyone who may get into this error, too.
Ofc you need to restart dnsmasq after adding the listen-address.
[code]

[2019-12-20 11:03] dsebastien commented on #6061
I have the same issue on Windows (platform agnostic I guess).
Using `--extra-config="apiserver.authorization-mode=Node,RBAC"` fixed the issue for me.

[2019-12-20 12:34] phoewass commented on #1378
I use Minikube on Windows 10 with VirtualBox. Everytime, I lock the screen the time in minikube gets out of sync with the host machine.
I tried executing the commands provided by @aaron-prindle and it didn't sync the date.

[2019-12-20 13:39] mvgijssel commented on #6013
Okay, good to know I'm not crazy! Currently using the `minikube mount` command which suffices.

[2019-12-20 14:45] cvgaviao commented on #5885
In my case I just wanted to use my own private registry, so I answer `no`to ECR and GCR questions. but k8s is complaining about a gcr and not deploying the `registry-creds` :
`secret "registry-creds-gcr" not found`
`MountVolume.SetUp failed for volume "gcr-creds" : secret "registry-creds-gcr" not found `

any workaroud for this ?

[2019-12-20 15:47] docktermj commented on #4634
/remove-lifecycle stale

[2019-12-20 17:14] dsebastien commented on #5072
Really interested in seeing progress for this.

I've spent the whole day trying to make things work for my use case.

I had trouble getting the Minikube VM to access internet (I suppose because I didn't do anything for ICS with the default switch?). I hoped everything would workd OOB but it didn't :)

I ended up using an external vSwitch in Hyper-V which fixed that issue, but now my problem is tha

[2019-12-20 19:28] krille0x7c2 commented on #4348
~ $ minikube delete
! Unable to get the status of the minikube cluster.
! "minikube" cluster does not exist. Proceeding ahead with cleanup.
* Removing /home/superlongdong/.minikube/machines/minikube ...
* The "minikube" cluster has been deleted.
* Successfully deleted profile "minikube"

~ $ minikube start
* minikube v1.6.1 on Arch rolling
* Automatically selected the 'kvm2' driver (alternates: [v

[2019-12-20 19:40] krille0x7c2 opened #6140 "invalid argument: could not find capabilities for domaintype=kvm"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
* minikube v1.6.1 on Arch rolling
* Automatically selected the 'kvm2' driver (alternates: [virtualbox none])
* Creating kvm2 VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
* Retriable failure: create: Error creating machine: Error in driver during machine creation: creating domain:

[2019-12-20 19:58] medyagh opened #6141 "add gopogh for prettifying windows logs"
simmilar to what I did for linux in common.sh
https://github.com/kubernetes/minikube/pull/6081

to get pretty html integration test logs we need  need to do follow
for windows scripts:
-  Pipe the output of tests to a file tests.out
-  Generate `test.json` output using `go tool test2json`
-  install gopogh v0.0.17 using go get
-  run gopogh -in `test.json`  -o 'test.html'  ( add other optional arg

[2019-12-20 20:33] ths-laurent commented on #6126
/assign
Hi, I would like to work on that one

[2019-12-20 22:40] echeadle opened #6143 "hyperkit: /var/db/dhcpd_leases: no such file or directory -> could not find an IP address"
I have reinstalled minikube using brew and it works if the driver is virtual box. I have docker desktop working and I can select between docker desktop kubernetes and minikube if minikube is running on virtualbox.

I added a dhcpd_leases file in the /var/db directory and the error changed to:
 error: could not find an IP address for de:57:7:ad:86:12

**The exact command to reproduce the issue**:
m

[2019-12-21 01:04] tstromberg commented on #6126
@ths-laurent - sounds great! Feel free to ask here for any clarifications necessary to implement this feature. :)

[2019-12-21 01:18] tstromberg commented on #6143
I suspect that the InternetSharing daemon or bootpd may be busted or disabled in some way on this host, which the docker-machine-hyperkit driver uses.

Before running `minikube start`, can you run:

* `sudo fs_usage -w -f pathname InternetSharing`

and share the result? You should see some entries like:

[code]

Also, open up the Console application, and search for "dhcp". You should see something

[2019-12-21 01:19] tstromberg commented on #6143
Related, but likely has a different root cause: #4206

[2019-12-21 01:24] tstromberg commented on #6140
Everything seems like it should work from a qemu & kernel point of view, so I suspect the issue is libvirt related. Do you mind sharing the output of:

* `virsh domcapabilities --virttype kvm`
* `virsh list`

As well as:

`minikube start --vm-driver=kvm2 --alsologtostderr -v=1`

Thanks!

[2019-12-21 03:32] echeadle commented on #6143
I don't think I am going to be very helpful in solving this issue.  I did attach a file with the output of fs_usage just in case it might help.
[fs_usage-output.txt](https://github.com/kubernetes/minikube/files/3991010/fs_usage-output.txt)

I work for a healthcare company and I suspect our security folk have done something with the proxy that is causing this error.  I believe minikube was working

[2019-12-21 04:35] andylibrian commented on #5036
@medyagh I've just sent a PR for this: https://github.com/kubernetes/minikube/pull/6144

[2019-12-21 05:25] Muhammad-Akif opened #6145 "minikube driver issue"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-12-21 05:32] tstromberg commented on #6145
Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=1` for extra logging.

Thank you for sharing your experience!

[2019-12-21 09:49] guibirow commented on #4053
@medyagh This will likely not be fixed.
Feel free to close if needed.

[2019-12-21 10:17] wmuizelaar opened #6146 "Build new image for gvisor addon as part of each release"
Recently https://github.com/kubernetes/minikube/pull/6000 was merged to allow a new gvisor version to be used with the addon.

This was released with v1.16.0, but the image that containts the addon was never rebuilt, as the latest date shown on gcr.io/k8s-minikube/gvisor-addon is still 26 Oct 2019.

What is needed to get a new image being pushed to the registry?

[2019-12-21 10:32] krille0x7c2 commented on #6140
~ $ virsh domcapabilities --virttype kvm
[code]

[2019-12-21 11:07] Sora233 opened #6147 "tarball.Write panic: runtime error: invalid memory address or nil pointer dereference"
**The exact command to reproduce the issue**:
minikube start --vm-driver=virtualbox (Administrator)

**The full output of the command that failed**:<details>
* Microsoft Windows 10 Pro 10.0.18362 Build 18362 上的 minikube v1.6.2
* Selecting 'virtualbox' driver from user configuration (alternates: [hyperv])
* 正在创建 virtualbox 虚拟机（CPUs=2，Memory=2000MB, Disk=20000MB）...
panic: runtime error: invalid mem

[2019-12-21 11:15] krille0x7c2 commented on #6140
So i found that i had an internal error print in the libvrtd.service "internal error: Failed to find path for dmidecode binary"

So,, pacman -Syu dmidecode and now it works!

~ $ sudo systemctl status libvirtd.service
[code]

[2019-12-21 11:53] #6140 closed

[2019-12-21 12:25] ths-laurent commented on #6126
Thanks :). At first I wasn't sure if the NewestKubernetesVersion constant had to be updated but re-reading the comments helped clarifying that.

[2019-12-21 14:43] MadhukaHarith92 opened #6148 "Unable to start minikube cluster with "--embed-certs=true" flag on fresh minikube installation"
**The exact command to reproduce the issue**:
minikube start --cpus 6 --memory 8192 --kubernetes-version v1.14.0 --profile cellery-local-setup --embed-certs=true
I freshly installed minikube (v1.6.1) and tried to start a cluster with flag `--embed-certs=true`. Please note that this issue only happens if I execute with "--embed-certs=true" flag during the first minikube start.
**The full output of

[2019-12-21 15:54] MadhukaHarith92 commented on #6148
Closing as there already an issue reported for this.
https://github.com/kubernetes/minikube/issues/5716

[2019-12-21 15:54] #6148 closed

[2019-12-22 01:09] nanikjava commented on #5144
Addons such as storage-provisioner is deploye as Docker image and it need to be generated as build process. Following are the steps to use the newly generated Docker image:

* `eval $(minikube docker-env)`
* Stop the storage-provisioner addons `minikube addons disable storage-provisioner && minikube addons disable default-storageclass `
* Remove current image (not necessary but good to do) `docker

[2019-12-22 01:45] nanikjava commented on #5144
The smallest generated workable image is using `bitnami/minideb:jessie` and `debian:slim` (less than 90MB) while using other distro (ubuntu, centos, etc) will be more than 100MB. Alpine distro does not work as it is throwing the exec error.

[2019-12-22 08:29] movd opened #6149 "macOS Catalina hyperkit crashed (not Retriable)"
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>
[code]

</details>

**The output of the `minikube logs` command**:<details>
[code]
</details>

**The operating system version**:  iMac 2019 running macOS 10.15.2 (19C57)

This error looks different from #5780 as minikube does not even produces a `Retriable failure`.
I guess something is u

[2019-12-22 09:23] segevfiner commented on #5885
Just create empty secrets like I showed in https://github.com/kubernetes/minikube/issues/5885#issuecomment-566131944, and then run configure, configuring only the secrets you need.

[2019-12-23 07:20] airtonix commented on #5494
❤️

[2019-12-23 09:34] medyagh opened #6152 "Trim kic base image"
as seen in this PR https://github.com/kubernetes/minikube/pull/6151
Currently KIC base image is based on kindest/node:v1.16.2

The following has to be done :

- Delete all the images inside the container (600MB)

I tried to do
[code]
in Dockerfile but however for that containerd needs to be up and running which during docker build image it is not !

so I need help with that.

[2019-12-23 09:36] medyagh opened #6153 "Create a minikube native default CNI for kic"
I need help to make as mall CNI plugin for kic but native to minikube.

currently using kindnet
https://github.com/kubernetes/minikube/blob/d26fdd997b44a077e57cdc770dfaf6347d38f9c2/pkg/minikube/bootstrapper/kicbs/cni.go#L20

[2019-12-23 09:43] medyagh commented on #6153
I nominate @josedonizetti please feel free to decline.

[2019-12-23 10:37] vikas86 commented on #6070
Hi,
Looking for a documented example of setting the image repository. Can you explicitly provide an example of set --image-repository
I am trying to use my docker hub login for busybox

[2019-12-23 13:33] vikas86 commented on #4589
Hi,
Facing same issue while starting minikube on windows.
Is there a specific solution or workaround for this.

* minikube v1.6.1 on Microsoft Windows 10 Pro 10.0.17763 Build 17763
* Selecting 'hyperv' driver from user configuration (alternates: [])
* Creating hyperv VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
! VM is unable to access k8s.gcr.io, you may need to configure a proxy or set --image-r

[2019-12-23 14:15] pistoll commented on #6132
same info:

18.04.1-Ubuntu

[2019-12-23 15:05] manoj629 opened #6155 "docker ps: open machines\minikube\ca.pem: The system cannot find the file specified."
**The exact command to reproduce the issue**:
minikube start
docker ps

**The full output of the command that failed**:<details>

unable to resolve docker endpoint: open C:\Users\XXXX\.minikube\machines\minikube\ca.pem: The system cannot find the file specified.
<img width="664" alt="Minikube_error" src="https://user-images.githubusercontent.com/16397357/71365001-078d9080-259e-11ea-9f6a-0a3969b27c

[2019-12-23 18:12] frank-dspeed commented on #5144
@nanikjava did you take into account what the others k8s images are using? as this would get shared.
when i use for example ubuntu:16.04 as base for 8 images i use it only once

[2019-12-23 20:25] nanikjava commented on #5144
I did looked into the other Dockerfiles that are inside minikube and most of the images that it is using are ubuntu which is much bigger in terms of size. Opted out using the debian-base from k8 repository as the final image comes to less than 75MB

[2019-12-23 21:57] imorti commented on #6028
yeah I'm on Catalina. Will pass in ```--vm-driver``` from now on. Thanks.

[2019-12-24 02:32] fundon commented on #6149
Same too.

[2019-12-24 03:42] guhuajun commented on #6132
Same issue. Removing "--image-mirror-country" as a workaround.

[2019-12-24 03:52] guhuajun commented on #6147
I can confirm this issue report on my test box with Windows 10 1903 and VirtualBox 6.0.14.
[code]

[2019-12-24 06:44] vikas86 commented on #6070
Tried - curl https://k8s.gcr.io/
It doesn't throw any error though.
Facing similar issue while starting minikube on my windows machine.
Can you provide an explicit solution or a stopgap solution to resolve this issue.

[2019-12-24 06:50] SarathChandra24 opened #6157 "hyperv delete: Failed to delete cluster: exit status 1"
**minikube delete**:

**The full output of the command that failed**:<details>
* Deleting "minikube" in hyperv ...
*
X Failed to delete cluster: exit status 1
*
* Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
  - https://github.com/kubernetes/minikube/issues/new/choose

</details>

**The output of the `minikube logs` command**:<details>
X command runner: gett

[2019-12-24 06:56] vikas86 commented on #6070
PS C:\Windows\system32> minikube start --vm-driver=hyperv
* minikube v1.6.1 on Microsoft Windows 10 Pro 10.0.17763 Build 17763
* Selecting 'hyperv' driver from user configuration (alternates: [])
* Creating hyperv VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
! VM is unable to access k8s.gcr.io, you may need to configure a proxy or set --image-repository
* Preparing Kubernetes v1.17.0 on Docker '19

[2019-12-24 08:16] LordNoteworthy commented on #5573
Nothing really much, the only way I was able to verify that there is something wrong is to check that the process inside the container has NOT been granted the given privileges.

[2019-12-24 09:06] frank-dspeed commented on #5144
@nanikjava while i respect your effort of keeping a image small i think that is not the most importent case as docker images are layered if you depend on the same image and image version of other images it gets reused in var/lib/docker it will exist only once! so when 1 image uses ubuntu === 200mb 50 other images can depend on that and it will take only 200mb + size of the individual images. so le

[2019-12-24 09:42] Slach opened #6158 "Windows 10 + Virtualbox 6.1 + minikube 1.6.2 - `minikube ssh` show raw escape sequences instead colors"
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>
![image](https://user-images.githubusercontent.com/105560/71406477-27828a00-265a-11ea-9676-32c86562b9fe.png)

**The output of the `minikube logs` command**:<details>
https://gist.github.com/Slach/7ec26f0956b0d00abf55d072229d3dbb

**The operating system version**:
Windows 10 Home

[2019-12-24 09:57] #5036 closed

[2019-12-24 09:57] Slach commented on #6158
workaround described here
https://github.com/microsoft/WSL/issues/1173#issuecomment-370665039

[2019-12-24 09:57] #6158 closed

[2019-12-24 09:57] medyagh commented on #5036
@andylibrian thank you for the PR. merged.

[2019-12-24 15:17] kosmoit commented on #6079
seems like although latest version is installed,  minikube is still using an old one?

brew upgrade hyperkit
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 1 tap (homebrew/core).
==> Updated Formulae
ammonite-repl   cppcheck        ghq             peco            tectonic
binaryen        cppunit         gmic            python@2        vice
cmake           embulk          hugo            s

[2019-12-25 01:26] pistoll commented on #6132
use this command worked.

[code]

[2019-12-25 01:38] nanikjava commented on #5144
PR #6156

[2019-12-25 05:11] phantooom commented on #6143
the same issue

[code]

[2019-12-25 06:23] rajasaur commented on #1378
yes, confirmed with VirtualBox and minikube, the drift gets bigger depending on how long the machine is in sleep mode. @msabramo 's comment `minikube ssh -- docker run -it --rm --privileged --pid=host alpine nsenter -t 1 -m -u -n -i date -u $(date -u +%m%d%H%M%Y.%S)` works though

[2019-12-25 08:06] chendave opened #6159 "Add installation documentation for ARM64"
The guide here: https://minikube.sigs.k8s.io/docs/start/linux/ seems for X86 only, the deb package I get is not supported on ARM64,

[code]

Is there any guide for installation for ARM64 and the deb is ready?

Thanks a lot!

[2019-12-25 09:35] afbjorklund commented on #6159
There is no guide just yet, since the support is still rather experimental (#5667) - still lacking a couple of images, for instance. So the support for building the deb was added, but we haven't started using it just yet. However, I think the binary is posted to GCS (even if not added to GitHub): [minikube-linux-arm64](https://storage.googleapis.com/minikube/releases/v1.6.2/minikube-linux-arm64)

[2019-12-25 09:39] afbjorklund commented on #5667
I don't have any permissions to push images, but it would be nice if they could be provided...

[2019-12-25 09:43] afbjorklund commented on #6152
To actually make the image _smaller_, you have to avoid the layer that adds them in the first place.
This might require going back to the Dockerfile that KIND is using, and forking from there instead...

https://github.com/kubernetes-sigs/kind/blob/master/pkg/build/node/node.go
https://github.com/kubernetes-sigs/kind/tree/master/images/base

[code]

[2019-12-25 14:10] rezabojnordi commented on #5797
`Error trying to reach service: 'tls: first record does not look like a TLS handshake'`

please healp me

[2019-12-26 01:57] medyagh commented on #6152
@afbjorklund that is the real solution ! however the build process seemed to be longer than I liked to.

I meant this issue as a quick win, ( just go inside the image and delete anything kind related)

I would be happy to close this issue, if anyone wants to do it from scratch.

[2019-12-26 05:38] rezabojnordi commented on #5797
using command

`minikube logs`

[2019-12-26 09:38] SwEngin opened #6160 "failed: rpc error: code = Unknown desc = failed to start sandbox container for pod \"mypod\": Error response from daemon:"
**Create pod with resource limit**:

**The full output of the command that failed**:<details>
Warning  FailedCreatePodSandBox  14m (x13 over 14m)       kubelet, minikube  Failed to create pod sandbox: rpc error: code = Unknown desc = failed to start sandbox container for pod "mypod": Error response from daemon: OCI runtime create failed: container_linux.go:346: starting container process caused "p

[2019-12-26 09:59] SwEngin commented on #6160
Things I tried:

- Restarted kubelet
- Updated weavenet

Neither of them worked

[2019-12-26 10:34] steadysupply opened #6161 "ingress addon: Why is my TRACE blocked, and by what?"
**The exact command to reproduce the issue**:
Start a minikube
[code]
Enable the ingress addon
[code]
Define a service (in this case running [httpbin](https://hub.docker.com/r/kennethreitz/httpbin/)) and its ingress rules
[code]
Send the above to Kubernetes
[code]
Get the IP address of the ingress (which I imagine is assigned by the minikube ingress addon)
[code]
Send a GET request to check we're

[2019-12-26 13:18] afbjorklund commented on #5667
From what I can tell, there _should_ be multi-arch image for most of these releases:

https://hub.docker.com/r/coredns/coredns/tags

coredns / coredns : 1.6.5

| DIGEST       | OS/ARCH       | COMPRESSED SIZE |
| ------------ | ------------- | --------------- |
| 608ac7ccba5c | linux/amd64   | 12.62 MB        |
| 940ee9dbac91 | linux/arm     | 11.77 MB        |
| 8e2f327692ba | linux/arm64   | 11.

[2019-12-26 13:29] afbjorklund commented on #5667
The request for storage-provisioner is in #6007 - wonder what is needed for multi-arch ?

https://kubernetes.io/docs/concepts/containers/images/#building-multi-architecture-images-with-manifests

`Usage:  docker manifest create MANIFEST_LIST MANIFEST [MANIFEST...]`

https://docs.docker.com/engine/reference/commandline/manifest/