[2021-08-09 09:25] R-omk commented on #11765
Related https://github.com/kubernetes/minikube/issues/12165

[2021-08-09 10:11] afbjorklund commented on #12165
I think this is a known limitation. Possibly somewhat undocumented, but not surprising.

[2021-08-09 10:15] afbjorklund opened #12166 "Add possibility to add data volumes"
When provisioning machines with libmachine or with docker, only one system image or system volume is created.

`/mnt/sda1`

`/var`

It would be nice if it was possible to add a second image or a second volume, for keeping data between runs.

Typically the system partition is created and destroyed with the cluster.

But you might want to have your user data outlive the rest of the cluster ?

----

[2021-08-09 10:18] afbjorklund opened #12167 "Add possibility to share host paths"
After adding data volumes, it would be useful if these could be shared between multiple nodes.

Either by using Gluster in the case of virtual machines, or by using Bind-mounts for containers.

* https://docs.gluster.org/en/latest/Quick-Start-Guide/Architecture/

![replicated volume](https://docs.gluster.org/en/latest/images/New-ReplicatedVol.png)

* https://docs.docker.com/storage/bind-mounts/

!

[2021-08-09 11:57] afbjorklund commented on #12166
Talked about this in https://github.com/kubernetes/minikube/issues/3318#issuecomment-461124229 when discussing the mount point location (path)

Typically you would use something like `/mnt` rather than `/tmp`, for doing the mounts...

We changed from using symlinks to bind-mounts, because of some "clever" software.
It would use readlink and friends, and refuse to cooperate with something like `/da

[2021-08-09 12:29] afbjorklund commented on #11505
Hmm, the proxy is supposed to be a DaemonSet so it _should_ be running on every node ?

description here: [cluster/addons/registry#expose-the-registry-on-each-node](https://github.com/kubernetes/kubernetes/tree/21b5afa8104568ad3e1b195327c7754e92c63812/cluster/addons/registry#expose-the-registry-on-each-node)

[2021-08-09 15:00] AntoineMerle commented on #11580
Seems related to the same issue here : https://github.com/kubernetes/minikube/issues/9971 . Even if OP did not respond to the maintainers.

Here is some info. Dunno if that may help, but I am facing the same issue using :
`minikube tunnel`

Instead I tried doing
`minikube service <name-of-the-service>`

what I got is

[code]

Accessing  http://127.0.0.1:61962 : I got "connection refused"
Accessing

[2021-08-09 16:09] andriyDev opened #12168 "Only report flake rates of tests occuring recently"
Previously, flake rates were computed across the last 5 days the test ran. Instead, we should compute flake rates across the last N days from now. This way, any no longer existing tests will eventually go away.

[2021-08-09 17:24] williamhanseneric commented on #8756
Having something so fundamentally broken like ingress is fairly disheartening...

[2021-08-09 18:14] sharifelgamal commented on #12165
Yeah, this is a known issue. Thank you for filing this. Help wanted!

[2021-08-09 18:30] afbjorklund commented on #12165
afaik, kind just uses the rancher local-path-provisioner (although somewhat customized) :

https://github.com/kubernetes-sigs/kind/blob/main/pkg/build/nodeimage/const_storage.go

https://github.com/rancher/local-path-provisioner

[2021-08-09 18:55] #12043 closed

[2021-08-09 19:02] #12003 closed

[2021-08-09 20:35] pierrebeaucamp commented on #11229
/remove-lifecycle stale

[2021-08-09 21:58] lhauspie-adeo commented on #11348
I think I found why the completion is not working.

In the zsh completion script, `flaghash` is an array where `aliashash` has to be an associative array.
The way I fixed this in local is to add this line in my `.zshrc` file :
[code]

Note to maintainers:

In the completion script, it seems the `declare -A aliashash` has a scope limited to the function `__start_minikube`, so the `aliashash` variab

[2021-08-09 22:14] spowelljr opened #12177 "Ping `releases.json` file even if `WantUpdateNotification` is set to false"
If `WantUpdateNotification` is set to false, we don't ping the `releases.json` file. The problem is we use this ping to establish user numbers, so we should ping the file, but not notify the user of a newer version. Should also not throw an error if it fails as the user maybe using minikube offline.

[2021-08-09 22:14] #11992 closed

[2021-08-09 22:48] spowelljr commented on #12139
Received response from Microsoft, they're reviewing the request, investigation should be done in two days.

[2021-08-09 22:58] #12177 closed

[2021-08-09 23:48] yayaha commented on #11069
/assign

[2021-08-09 23:52] #12151 closed

[2021-08-09 23:52] #12138 closed

[2021-08-10 04:03] fredflev commented on #11348
Just putting this here in case it helps someone who's also using oh-my-zsh

In my case the autocompletion works by doing:

add  `minikube` in  plugin in `~/.zsh.rc`

[code]

then remove double quotes for `aliashash` commands in completion cached file:

[code]

Obviously this will work until the cached version at `~/.oh-my-zsh/cache/minikube_completion` gets overwritten...

[2021-08-10 04:48] Ajith1005604 opened #12181 "ajith-node"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-08-10 04:49] Ajith1005604 opened #12182 "ajith-node"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-08-10 08:32] Atharva-Shinde commented on #9268
Hey @priyawadhwa  @medyagh is this issue solved??? I would like to work on this if not solved.

[2021-08-10 13:26] mprimeaux commented on #11219
@afbjorklund I am on an M1 + Parallels so am happy to help. Would you mind catching me up a bit on what gaps remain?

[2021-08-10 14:23] johnnybigert commented on #12115
Nice @spowelljr, got some more info:

`$ minikube tunnel --alsologtostderr
I0810 16:20:47.832318   42964 out.go:286] Setting OutFile to fd 1 ...
I0810 16:20:47.833475   42964 out.go:338] isatty.IsTerminal(1) = true
I0810 16:20:47.833541   42964 out.go:299] Setting ErrFile to fd 2...
I0810 16:20:47.834013   42964 out.go:338] isatty.IsTerminal(2) = true
I0810 16:20:47.834427   42964 root.go:312] Upd

[2021-08-10 16:01] afbjorklund opened #12186 "Compare a Buildroot-based VM with an Ubuntu-based VM"
As part of the preparations for #9992, we should compare the two OS (i.e. Linux distributions)

The regular minikube.iso:

`minikube start --driver=virtualbox --memory=2048 --cpus=2`

With the vagrant equivalent:

(see #12185 for the setup, basically `minikube start --driver=ssh ...`)

Note down the differences when it comes to boot time and start time, and disk and memory usage.

----

[code]

[c

[2021-08-10 16:51] #12153 closed

[2021-08-10 18:11] minikube-bot opened #12188 "Frequent test failures of `TestAddons`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_macOS&test=TestAddons)|100.00|

[2021-08-10 18:11] minikube-bot opened #12189 "Frequent test failures of `TestAddons/parallel/Ingress`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestAddons/parallel/Ingress)|100.00|
|[Docker_Linux_crio_arm64](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Linux_crio_arm64&test=TestAddons/parallel/Ingress)|100.00|
|[Docker_Linux_crio](https:

[2021-08-10 18:11] minikube-bot opened #12190 "Frequent test failures of `TestAddons/parallel/Olm`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[none_Linux](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=none_Linux&test=TestAddons/parallel/Olm)|100.00|
|[KVM_Linux_crio](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=KVM_Linux_crio&test=TestAddons/parallel/Olm)|100.00|
|[KVM_Linux_contain

[2021-08-10 18:11] minikube-bot opened #12191 "Frequent test failures of `TestAddons/parallel/Registry`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestAddons/parallel/Registry)|100.00|
|[Docker_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_macOS&test=TestAddons/parallel/Registry)|100.00|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-

[2021-08-10 18:11] minikube-bot opened #12192 "Frequent test failures of `TestCertOptions`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestCertOptions)|100.00|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestCertOptions)|100.00|

[2021-08-10 18:11] minikube-bot opened #12193 "Frequent test failures of `TestDownloadOnlyKic`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestDownloadOnlyKic)|100.00|

[2021-08-10 18:11] minikube-bot opened #12194 "Frequent test failures of `TestDownloadOnly/v1.14.0/preload-exists`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_macOS&test=TestDownloadOnly/v1.14.0/preload-exists)|100.00|

[2021-08-10 18:11] minikube-bot opened #12195 "Frequent test failures of `TestErrorSpam`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|Docker_Windows|100.00|
|Docker_Linux|36.96|
|Docker_Linux_containerd|20.00|

[2021-08-10 18:11] minikube-bot opened #12196 "Frequent test failures of `TestErrorSpam/KubeadmSteps`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|Docker_Linux_crio|100.00|

[2021-08-10 18:11] minikube-bot opened #12197 "Frequent test failures of `TestFunctional/parallel`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestFunctional/parallel)|100.00|

[2021-08-10 18:11] minikube-bot opened #12198 "Frequent test failures of `TestFunctional/parallel/MountCmd`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|Cloud_shell|100.00|
|Docker_Linux_crio_arm64|51.35|

[2021-08-10 18:11] minikube-bot opened #12199 "Frequent test failures of `TestFunctional/parallel/ServiceCmd`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Cloud_Shell](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Cloud_Shell&test=TestFunctional/parallel/ServiceCmd)|100.00|

[2021-08-10 18:11] minikube-bot opened #12200 "Frequent test failures of `TestFunctional/parallel/TunnelCmd/serial/AccessThroughDNS`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestFunctional/parallel/TunnelCmd/serial/AccessThroughDNS)|28.33|

[2021-08-10 18:11] minikube-bot opened #12201 "Frequent test failures of `TestFunctional/parallel/TunnelCmd/serial/DNSResolutionByDig`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestFunctional/parallel/TunnelCmd/serial/DNSResolutionByDig)|28.33|

[2021-08-10 18:11] minikube-bot opened #12202 "Frequent test failures of `TestFunctional/parallel/TunnelCmd/serial/DNSResolutionByDscacheutil`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_macOS&test=TestFunctional/parallel/TunnelCmd/serial/DNSResolutionByDscacheutil)|87.50|

[2021-08-10 18:11] minikube-bot opened #12203 "Frequent test failures of `TestFunctional/parallel/TunnelCmd/serial/WaitService`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_crio_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio_arm64&test=TestFunctional/parallel/TunnelCmd/serial/WaitService)|100.00|

[2021-08-10 18:11] minikube-bot opened #12204 "Frequent test failures of `TestFunctional/serial/SoftStart/Audit`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|Docker_Linux_crio|100.00|

[2021-08-10 18:11] minikube-bot opened #12205 "Frequent test failures of `TestFunctional/serial/StartWithProxy/Audit`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|Docker_Linux_crio|100.00|

[2021-08-10 18:11] minikube-bot opened #12206 "Frequent test failures of `TestJSONOutput/unpause`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_macOS&test=TestJSONOutput/unpause)|100.00|

[2021-08-10 18:11] minikube-bot opened #12207 "Frequent test failures of `TestMissingContainerUpgrade`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestMissingContainerUpgrade)|50.00|

[2021-08-10 18:11] minikube-bot opened #12208 "Frequent test failures of `TestMultiNode/serial/DeployApp2Nodes`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestMultiNode/serial/DeployApp2Nodes)|100.00|

[2021-08-10 18:11] minikube-bot opened #12209 "Frequent test failures of `TestMultiNode/serial/PingHostFrom2Pods`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestMultiNode/serial/PingHostFrom2Pods)|100.00|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestMultiNode/serial/PingHostFrom2Pods)|100.00|

[2021-08-10 18:11] minikube-bot opened #12210 "Frequent test failures of `TestNetworkPlugins/group/bridge/DNS`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_containerd](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_containerd&test=TestNetworkPlugins/group/bridge/DNS)|21.15|
|[Docker_Linux](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux&test=TestNetworkPlugins/

[2021-08-10 18:11] minikube-bot opened #12211 "Frequent test failures of `TestNetworkPlugins/group/bridge/Start`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestNetworkPlugins/group/bridge/Start)|100.00|

[2021-08-10 18:11] minikube-bot opened #12212 "Frequent test failures of `TestNetworkPlugins/group/calico/Start`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestNetworkPlugins/group/calico/Start)|25.00|

[2021-08-10 18:11] minikube-bot opened #12213 "Frequent test failures of `TestNetworkPlugins/group/cilium/Start`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=QEMU_macOS&test=TestNetworkPlugins/group/cilium/Start)|100.00|
|[Docker_Windows](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Windows&test=TestNetworkPlugins/group/cilium/Start)

[2021-08-10 18:11] minikube-bot opened #12214 "Frequent test failures of `TestNetworkPlugins/group/false/KubeletFlags`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestNetworkPlugins/group/false/KubeletFlags)|100.00|

[2021-08-10 18:11] minikube-bot opened #12215 "Frequent test failures of `TestNetworkPlugins/group/false/Start`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestNetworkPlugins/group/false/Start)|100.00|

[2021-08-10 18:11] minikube-bot opened #12216 "Frequent test failures of `TestNetworkPlugins/group/kubenet/Start`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestNetworkPlugins/group/kubenet/Start)|100.00|

[2021-08-10 18:11] minikube-bot opened #12217 "Frequent test failures of `TestPreload`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestPreload)|100.00|

[2021-08-10 18:11] minikube-bot opened #12218 "Frequent test failures of `TestRunningBinaryUpgrade`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestRunningBinaryUpgrade)|100.00|

[2021-08-10 18:11] minikube-bot opened #12219 "Frequent test failures of `TestSkaffold`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestSkaffold)|100.00|

[2021-08-10 18:11] minikube-bot opened #12220 "Frequent test failures of `TestStartStop/group/old-k8s-version/serial/AddonExistsAfterStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestStartStop/group/old-k8s-version/serial/AddonExistsAfterStop)|100.00|

[2021-08-10 18:11] minikube-bot opened #12221 "Frequent test failures of `TestStartStop/group/old-k8s-version/serial/SecondStart`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/old-k8s-version/serial/SecondStart)|100.00|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestStartStop/group/old-k8s-version/serial/SecondStart)|100.00|

[2021-08-10 18:11] minikube-bot opened #12222 "Frequent test failures of `TestStartStop/group/old-k8s-version/serial/UserAppExistsAfterStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestStartStop/group/old-k8s-version/serial/UserAppExistsAfterStop)|100.00|

[2021-08-10 18:11] minikube-bot opened #12223 "Frequent test failures of `TestStoppedBinaryUpgrade`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[none_Linux](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=none_Linux&test=TestStoppedBinaryUpgrade)|100.00|
|[KVM_Linux_containerd](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=KVM_Linux_containerd&test=TestStoppedBinaryUpgrade)|100.00|
|[Hyp

[2021-08-10 18:15] #12147 closed

[2021-08-10 18:15] #12148 closed

[2021-08-10 19:03] QaSajjad commented on #12123
Hi @spowelljr
I have uploaded it again, please check and reply.
[lastStart.txt](https://github.com/kubernetes/minikube/files/6963925/lastStart.txt)

[2021-08-10 20:09] #12168 closed

[2021-08-10 20:10] #12195 closed

[2021-08-10 20:10] #12196 closed

[2021-08-10 20:10] #12198 closed

[2021-08-10 20:10] #12204 closed

[2021-08-10 20:10] #12205 closed

[2021-08-10 20:10] minikube-bot opened #12225 "Frequent test failures of `TestNetworkPlugins/group/kindnet/DNS`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux&test=TestNetworkPlugins/group/kindnet/DNS)|60.34|
|[Docker_Linux_containerd](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_containerd&test=TestNetworkPlugins

[2021-08-10 20:10] minikube-bot opened #12226 "Frequent test failures of `TestNetworkPlugins/group/kubenet/DNS`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux&test=TestNetworkPlugins/group/kubenet/DNS)|20.92|

[2021-08-10 23:44] spowelljr opened #12232 "Fix `minikube start && stop && start` in Cloud Shell: ubepods.slice already exists.""
Error Message
[code]

Running:
[code]
In Cloud Shell, results in the following failure on the second start.

File: [lastStart.txt](https://github.com/kubernetes/minikube/files/6964986/lastStart.3.txt)

[2021-08-11 12:17] minikube-bot opened #12235 "Frequent test failures of `TestNetworkPlugins/group/custom-weave/Start`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_crio_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio_arm64&test=TestNetworkPlugins/group/custom-weave/Start)|100.00|
|[Docker_Linux_crio](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio&test=

[2021-08-11 18:06] mcandre opened #12236 "host.minikube.internal fails to resolve as seen by the host"
I am having trouble getting `host.minikube.internal` to resolve on my Mac host. It only seems to resolve correctly within containers, which unfortunately makes it a lot harder to developer frontend applications. Particularly when redirects are involved between multiple minikube containers.

Please make sure that the `host.minikube.internal` domain can resolve from the perspective of the host. So t

[2021-08-11 18:09] spowelljr commented on #11801
Hi @sshafiuddin, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-08-11 18:09] #11801 closed

[2021-08-11 18:11] spowelljr commented on #9605
This test doesn't seem to be failing anymore, closing.

[2021-08-11 18:11] #9605 closed

[2021-08-11 18:12] medyagh commented on #12232
we should add this as the solution message whenever minikube fails this way

[2021-08-11 18:13] spowelljr commented on #10133
This test seems to have been fixed, closing.

[2021-08-11 18:26] spowelljr commented on #12021
Thanks for finding the root of this issue. The problem is the minikube maintainers aren't the one's maintaining the Alibaba registry, our goal is to maintain the Alibaba registry ourselves in the future though. Until then, if one of the people maintaining the registry come across this issue maybe they can help out. Sorry for the inconvenience.

[2021-08-11 18:26] andriyDev commented on #10610
Resolved by https://github.com/kubernetes-sigs/cri-tools/issues/798.

[2021-08-11 18:26] #10610 closed

[2021-08-11 18:33] sharifelgamal commented on #11935
I think this is a great idea!

[2021-08-11 18:34] medyagh commented on #11252
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate. If you can provide any additional details, such as:

The exact minikube start command line used: preferably with --alsologtostderr -v=8 added.
The full output of the command
The full output of "minikube logs"
Please feel free to do

[2021-08-11 18:34] #11252 closed

[2021-08-11 18:35] medyagh commented on #11480
Hi @, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-08-11 18:35] #11480 closed

[2021-08-11 18:38] medyagh commented on #11952
I agree we shuld not run CI on Draft PRs

[2021-08-11 18:41] sharifelgamal commented on #11952
we can add one of the following to our github action yamls:
`if: github.event.pull_request.draft == false`

or

[code]

[2021-08-11 18:48] sharifelgamal commented on #11955
So the error `readByteWithTimeout: EOF` is referencing stdout after running `kubectl proxy` on your machine. Can you run that manually and see what you get?

---

所以错误 `readByteWithTimeout: EOF` 在你的机器上运行 `kubectl proxy` 后引用了标准输出。你能手动运行它看看你得到了什么吗？

[2021-08-11 18:48] medyagh commented on #11644
@bzvestey that sounds reasonable ! I would accept a PR that would improve this !

[2021-08-11 18:49] sharifelgamal commented on #10883
Freezing this because it's still relevant

[2021-08-11 18:52] medyagh commented on #12236
hi @mcandre

do u mean on your own machine (your own laptop)  host.minikube.internal should resolve to `minikube ip`?

[2021-08-11 18:53] sharifelgamal commented on #10259
This is *mostly* fixed, but probably doesn't account for the SHELL being `cmd.exe` instead of just `cmd`.

[2021-08-11 18:53] medyagh commented on #12236
/triage needs-information

[2021-08-11 19:07] medyagh commented on #10644
unfortunately the CPU usage of Kuberentes itself is can not be changed by minikube, for that I strongly suggest creating an issue on kubernetes itself

meanwhile we have published bechmarks on minikube CPU usage which currently is at 9% at highest.

on linux https://minikube.sigs.k8s.io/docs/benchmarks/cpuusage/linux/
on mac os https://minikube.sigs.k8s.io/docs/benchmarks/cpuusage/macos/

with and

[2021-08-11 19:07] #10644 closed

[2021-08-11 20:22] spowelljr opened #12238 "Run CPU benchmark daily via GitHub Actions"
We have the ability to run CPU benchmarks via `make cpu-benchmark-idle` & `make cpu-benchmark-autopause` which creates a chart such as https://minikube.sigs.k8s.io/docs/benchmarks/cpuusage/.

Two problems with this:
1. This command has to be run manually, and then manually commit and create a PR
2. This command only shows the latest run, it would be good to see the CPU usage over time

So we shoul

[2021-08-11 20:35] sharifelgamal commented on #11107
What we're going to end up doing here is creating an image that support multiple archs and using that instead of echoserver for all these demos and guides.

[2021-08-11 21:58] sharifelgamal commented on #9991
This unfortunately fell by the wayside as priorities shifted in our roadmap. I still think it's a great idea, but a design was never fully finished.

[2021-08-11 22:40] spowelljr commented on #12128
The pods seem to be getting replaced, on the start of the upgraded version, and we're not able to get the logs of the exited containers?

[code]

[code]

[2021-08-12 03:28] vasuganireddy opened #12241 "- C:\Program Files\Minikube\.minikube\logs\lastStart.txt"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-08-12 03:30] vasuganireddy commented on #12241
- C:\Program Files\Minikube\.minikube\logs\lastStart.txt

[2021-08-12 03:30] #12241 closed

[2021-08-12 05:03] knweiss commented on #9720
/remove-lifecycle stale

[2021-08-12 06:32] 992441831 commented on #11955
Thank you for your reply,After  I reinstalled minikube,this problem disappears. So I think the env maybe has problem

[2021-08-12 06:48] yayaha commented on #12238
/assign

[2021-08-12 06:50] vikas027 commented on #7332
I have tried everything above, my minkube just gets stuck while `verifying ingress addon`

[code]

[2021-08-12 08:07] zhan9san commented on #7332
Could you please list all the command you tried and the Minikube version?

[2021-08-12 12:53] afbjorklund commented on #12238
@spowelljr : another more severe problem is that these nested virtualization benchmarks doesn't seem to match reality ?

![virtualbox](https://user-images.githubusercontent.com/10364051/129199662-fffa4832-558a-453c-a439-659beeeb9efa.png)

So I think we need to run the benchmarks on a _real_ server, or maybe focus on the docker driver results (not vbox vs kvm)

[2021-08-12 14:46] tcsmith opened #12242 "Consider adding JSON/key value pair output to docker-env command"
We use python to do a good amount of automation at my shop. When iterating locally it would be nice to be able to have a cross platform/language agnostic output of the `docker-env `command that a tool written in a non-shell script language could use.

[code]
Ideally something like this:

[code]

I realize this could be done with regex libraries in the language of choice but having a convenience fu

[2021-08-12 15:08] ctron commented on #12093
Thanks for letting me know. So the solution is to simply wait for #10122 :grinning:

[2021-08-12 15:08] #12093 closed

[2021-08-12 16:56] PWaksman commented on #8512
I can't make it find the vm, I did tried pointing it to the Hyper-V switch... --force also doesn't help as the -wait-timeout 3m0s.

![image](https://user-images.githubusercontent.com/18636215/129237239-de97f6be-7acc-41e5-9b91-873d882ed033.png)

[2021-08-12 17:11] PWaksman commented on #8512
managed to run it!

`minikube start --wait-timeout 3m0s --hyperv-virtual-switch "HyperV-Internal01"`

paired with the physical network card on previous comment, where the HyperV-Internal01 is the name of the switch.

[2021-08-12 17:12] spowelljr commented on #12238
@afbjorklund That's a fair point, we could run these tests on an Equinix Metal machine so there's no nested virtualization.

[2021-08-12 18:30] andriyDev commented on #12208
From my investigation, this occurs when the CoreDNS pod is on a different node than the busybox pods. Apparently this is a known issue.

[2021-08-12 19:01] netwrk197 commented on #11022
I have the same issue..

root@minikube:/containerfile# ls
ls: cannot access 'server.php': Bad file descriptor
ls: cannot access 'node_modules': Bad file descriptor
ls: cannot access 'README.md': Bad file descriptor
ls: cannot access 'resources': Bad file descriptor
ls: cannot access 'app': Bad file descriptor
ls: cannot access 'bootstrap': Bad file descriptor
ls: cannot access 'webpack.mix.js': Ba

[2021-08-12 22:02] spowelljr commented on #12128
The possible cause of this is kubelet can delete exited containers if the CPU is under high load, so the containers are being deleted since we're running a many tests in parallel and then when trying to tail their logs they no longer exist.

This error is only occurring on Windows, and since this failure if unrelated to the true intent of this test, the solution for now is to stop the cluster befo

[2021-08-12 22:10] spowelljr commented on #12139
Just tried downloading the binary and there was no unsafe warning, closing this issue.

[2021-08-12 22:10] #12139 closed

[2021-08-12 22:38] medyagh opened #12247 "automatically update golint version"
simmilar to our other go version updates

[2021-08-12 23:42] #11977 closed

[2021-08-12 23:49] #12247 closed

[2021-08-12 23:51] medyagh commented on #12242
@tcsmith that sounds like a great idea !

We already have an option for docker-env to choose the shell type
One option is shell=none

I would review any pr that would add Jason feature to this command.

Would you like to contribute this feature?

[2021-08-13 00:07] medyagh opened #12250 "fix lint issues for gocilint 1.141"
[code]

[2021-08-13 00:37] medyagh opened #12251 "replace golint with revive"
I see this warning
[code]

current revive lint failures

[code]

[2021-08-13 00:45] #12250 closed

[2021-08-13 02:08] tcsmith commented on #12242
Ahhhhh, I knew of the `--shell` option but I did not know about the none option. the help string doesnt mention that and I, lazily, did not dig thru the source XD.

`--shell=none` definitely makes it much easier to parse!

i would def be interested in adding JSON/KVP output though. what should the option be? we could have a shell type of `json `or `kvp `but that doesn't seem 'right'. on the other

[2021-08-13 07:34] th110 commented on #12021
xiong dei,I met the same issue.I have tried, pull coredns from other registry-mirror,and then ,use 'docker tag' modify '1.8.0' to 'v1.8.0',but it doesnot work.Maybe the only way we can do ,is downloading all required images and building  local registory

[2021-08-13 07:58] afbjorklund commented on #12242
Apparently it was added already in a02541d18bf6fb9110e6b8efab6f76fc27fa6514 but not mentioned in the docs. (and not in the upstream `docker-machine env`)

The other commands take a `--output` option, so you can do the same here. And have options like text (default), json, yaml

`minikube docker-env --shell none --output json`

`minikube podman-env --shell none --output yaml`

[2021-08-13 08:10] afbjorklund commented on #12242
The shell "framework" itself needs some extension, to add a start of the list and the end of the list.

You know the { } crud that is the JSON format, and that makes it so unsuitable for streaming ? 😀

Currrently it only has `Prefix` and `Suffix`, but those relate to the line and not to the document.

[code]

----

Empty file ? Illegal JSON

Append a line ? Not in JSON.

For the rest, see https://

[2021-08-13 08:12] afbjorklund commented on #12242
I guess the most likely is to just dump the shell template altogether, and just dump the vars.

Could do the same for the regular text output, the current "none" shell is a bit of a hack...

[2021-08-13 15:44] silaing opened #12254 "unable to start cluster - on previously running setup - timed out waiting for the condition"
I've been unable to start even a basic node on what was previously a working Ubuntu 20.04 virtual machine successfully running minikube. I've tried various things, including reinstalling minikube and upgrading / downgrading docker, kubeadm and kubelet. Minikube is set to use the docker driver and contrary to reported errors kubelet service was enabled.

**Steps to reproduce the issue:**

1. miniku

[2021-08-13 16:51] rayfoss commented on #9063
Gitlab is down... stop debugging your internet.

![Screenshot from 2021-08-13 11-49-43](https://user-images.githubusercontent.com/876076/129393099-5acaa8d8-ddc3-48f4-aebb-77ec95e9fb55.png)

[2021-08-13 17:38] andriyDev opened #12255 "kindnet CNI fails to connect pods to services on different nodes"
Reproduction:
[code]

Related to #12208.

Upstream issue: https://github.com/kubernetes-sigs/kind/issues/2415

[2021-08-13 17:48] #12251 closed

[2021-08-13 20:15] #10752 closed

[2021-08-13 21:43] afbjorklund opened #12264 "Add configuration for buildkit, in order to not have to use flags"
We can pass the setup as configuration, rather than flags.

That makes it easier to start from systemd units, and so on.

We want to use the containerd worker, by default.

`-oci-worker false --containerd-worker true `

And store the result in the "k8s.io" namespace.

`--containerd-worker-namespace k8s.io`

Helps with #9947

[2021-08-13 21:46] afbjorklund commented on #12264
`/etc/buildkit/buildkitd.toml`

https://github.com/moby/buildkit/blob/master/docs/buildkitd.toml.md

[code]

[2021-08-13 21:55] afbjorklund commented on #12242
Is KVP actually a thing ? Like, a real format

[2021-08-13 22:08] afbjorklund commented on #12238
As long as you compare the trends of one test, I guess it still serves the purpose ? But better pick the Docker driver then

[2021-08-13 22:26] afbjorklund commented on #12099
Probably this is due to the missing support for systemd socket activation, which is needed by cri-docker.socket (eventually)

`failed to listen on "fd://": protocol "fd" not supported`

It is possible to get the cri-docker.service to listen on the correct socket, though. But it won't "hand over" from the socket...

`--container-runtime-endpoint unix:///var/run/cri-docker.sock`

[2021-08-13 22:31] afbjorklund commented on #12099
The support status of `cri-dockerd` is unclear, looks like only Docker Desktop and Mirantis Kubernetes Engine gets support.

[2021-08-13 22:43] afbjorklund commented on #12099
Unfortunately the dockershim is still included in `v1.23.0-alpha.0`, so now we have no idea when it will be removed (not 1.23).

[2021-08-14 07:33] tomaszkolodziej commented on #12117
[logs.txt](https://github.com/kubernetes/minikube/files/6986086/logs.txt)

Thx for your response. I attached full log file.

[2021-08-14 11:32] ashokballolli commented on #8409
This resolved the issue, thank you

[2021-08-14 11:33] ashokballolli commented on #8409
This resolved the issue, thank you

[2021-08-14 12:17] minikube-bot opened #12266 "Frequent test failures of `TestNetworkPlugins/group/flannel`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Windows&test=TestNetworkPlugins/group/flannel)|100.00|

[2021-08-14 14:34] mprimeaux commented on #11219
@afbjorklund Thanks for the gz. I created an ISO with the files and booted in Parallels. Here's what I see.

<img width="1019" alt="Screen Shot 2021-08-14 at 09 15 21" src="https://user-images.githubusercontent.com/293512/129449757-aef63c8f-08fd-4e2a-a608-de5090989364.png">

[2021-08-14 15:25] afbjorklund commented on #11219
Not so much sure about "create", it was more like "insert" (CD) ? Just meant that you needed to `gunzip` it first.

Anyway, it is _supposed_ to show you the GRUB menu first, then boot the kernel, and then dump you at a prompt.

![grub](https://user-images.githubusercontent.com/10364051/129451164-95a9e536-af22-475d-98b2-11ebca7f1f0a.png)
![boot](https://user-images.githubusercontent.com/10364051/12

[2021-08-14 16:06] mprimeaux commented on #11219
@afbjorklund Thanks for the detail.  Apologies. Perhaps I misunderstood.

The [link](https://github.com/afbjorklund/minimal-buildroot/releases/download/0.2/boot-arm64.iso.gz) to the arm64 ISO you provided decompresses to a folder structure that doesn't contain an ISO and so I thought you wanted me to create using the linked gz as the source for the `boot-arm64.iso`.

[2021-08-14 16:17] afbjorklund commented on #11219
Ah, maybe it got clever and _mounted_ the ISO rather than just decompressing the file (from .gz).

The file structure on the CD looks something like this:

[code]

But the file is supposed to be used as-is by the VM, it is a bootable Live CD image (just compressed)

[2021-08-14 16:48] mprimeaux commented on #11219
I created a 'blank' virtual machine and then attempted to attach the compressed ISO as per the Parallels KB article you linked above. Here's the 'play by play' of the failed attempt.

<img width="868" alt="ss-1" src="https://user-images.githubusercontent.com/293512/129453288-12ba2eb4-e4e1-486a-8a11-0d721525e24d.png">
<img width="873" alt="ss-2" src="https://user-images.githubusercontent.com/293512

[2021-08-14 16:49] afbjorklund commented on #11219
You will need to decompress the file.

`gunzip boot-arm64.iso.gz`

[2021-08-14 19:46] afbjorklund commented on #11652
2021.02.4:
http://lists.busybox.net/pipermail/buildroot/2021-August/620747.html

/etc/sysctl.d/90-cilium-rp_filter.conf
[code]

[2021-08-14 20:02] mprimeaux commented on #11219
@afbjorklund Progress :)

https://user-images.githubusercontent.com/293512/129458785-d8a14369-7753-48ae-98b9-06be6fd16a4a.mov

[2021-08-14 20:36] afbjorklund commented on #11219
There is a supposed to be a 5 second countdown, but if you touch the keys it will wait for a "return" before continuing

[2021-08-14 20:41] tcsmith commented on #12242
Fantastic, and thank you.

I was able to use the --shell=none output to easily parse it, that output is basically KVP, in my python tools. Your change will even make it easer!

I realized after the fact that K8S/minkube are written in go. I don't have any experience with Go and given the phase my project is in, I wouldnt have the time to learn. Once my project ships, I will learn Go and come back

[2021-08-14 21:08] mprimeaux commented on #11219
A bit disappointing for sure.

Regarding,

Which ISO?

[2021-08-14 21:14] afbjorklund commented on #11219
The real minikube.iso (for arm64), currently struggling a bit with getting the amd64 variant built in CI.

I think most of the packages have been prepared, so it's more a matter of integrating this new ISO...

i.e. split the buildroot config file and the linux config file into two separate ones, for amd64 and arm64

The current ISO uses `isolinux` which is x86_64-only, most likely we will only cha

[2021-08-14 21:34] afbjorklund commented on #9228
There is a new Buildroot 2021.02.x PR in #12268 (replacing ~#11688~)

Once that is merged, I will see about re-adding those "portability patches"

[2021-08-15 00:17] minikube-bot opened #12269 "Frequent test failures of `TestNetworkPlugins/group/enable-default-cni/DNS`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux&test=TestNetworkPlugins/group/enable-default-cni/DNS)|20.92|
|[Docker_Linux_containerd](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_containerd&test=TestNet

[2021-08-15 03:06] mprimeaux commented on #11219
I, and our team, is very focused to help so please let me know what we can do to help. I'll review the above.

[2021-08-15 04:38] 3ch01c commented on #6171
I had to remove Windows features Hyper-V, Virtual Machine Platform, and Windows Hypervisor Platform to be able to use VirtualBox. Unfortunately, removing Virtual Machine Platform means you won't be able to use WSL.

[2021-08-15 07:56] afbjorklund commented on #11219
Sounds great! If possible, it would be nice to know if the amd64 UEFI image works _when running **on Intel**_ ?

https://github.com/afbjorklund/minimal-buildroot/releases/download/0.2/boot-amd64.iso.gz

As I mentioned, I tested it with VirtualBox (after ticking the "EFI" box\*), so I _think_ it works with Parallels too...

\* this box, I think it is enabled by default in Parallels (says https://kb

[2021-08-15 12:03] afbjorklund opened #12270 "Document `minikube image` semantics about locations"
minikube image

## load

a)
This command loads an image **to** the minikube cluster

[code]

1. Load image from cache, `~/.minikube/cache/images`
2. Save image from local docker daemon (`--daemon`), to cache
3. Pull image from remote docker registry (`--remote`), to cache

Note: the image will always been copied into the cache directory

b)
Alternatively, load image directly from local tarball fil

[2021-08-15 12:05] afbjorklund commented on #12270
Note: `minikube cache add` is the _same_ as `minikube image load`, but also records the image in the configuration...

This means that the image will be loaded **by default**, for all new clusters. View the config with `minikube cache list`

[2021-08-15 12:10] afbjorklund commented on #12270
Note: expecting a Docker daemon to always be running locally is legacy behavior, and _might_ be disabled in the future

See: #11059

Note: the cache directory _might_ be replaced by a Distribution server in the future, which would also allow push and pull

See: #12087

[2021-08-15 13:30] mprimeaux commented on #11219
@afbjorklund I can confirm the boot-amd64.iso.gz works in Parallels 17 on macOS (Intel).

https://user-images.githubusercontent.com/293512/129480225-edeef7be-90ca-4091-814a-7f7d28857cfc.mov

[2021-08-15 18:10] afbjorklund commented on #12270
Need to implement `pull` and `tag` as well, if nothing else then for testing the save command.

[2021-08-15 19:35] Dietmar1963 opened #12271 "Installation Minikube to Drive D: fails (Drive C: is ok)"
Hi - installing Minikube on drive D: fails.

I changed MINIKUBE_HOME in the System Environment on Windows to use drive "D:\" .  Prereq checks and download of the iso proceeds well, but  then the routine fails to locate the downloaded iso.

I0815 21:00:14.707585   13628 out.go:165] * minikube v1.22.0 on Microsoft Windows 10 Pro 10.0.19043 Build 19043
I0815 21:00:14.710026   13628 out.go:165]   - **

[2021-08-16 03:26] VictorViana opened #12272 "error with command minikube service hello-node"
 
**Os comandos necessários para reproduzir o problema**:
 minikube service hello-node

**A saída completa do comando que apresentou falha**: <details>
minikube service hello-node
|-----------|------------|-------------|---------------------------|
| NAMESPACE |    NAME    | TARGET PORT |            URL            |
|-----------|------------|-------------|---------------------------|
| default   |

[2021-08-16 11:08] rams3sh opened #12274 "Getting Error while starting minikube"
**Steps to reproduce the issue:**
1. Run the following command :-
    `minikube start --driver=docker`

**Full output of failed command:**
<details>
Log file created at: 2021/08/16 14:07:42
Running on machine: FDLDL064
Binary: Built with gc go1.16.4 for linux/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I0816 14:07:42.554271  202041 out.go:286] Setting OutFile to fd 1

[2021-08-16 15:39] mecampbellsoup commented on #11187
Did you ever resolve this @yeahdongcn ?

[2021-08-16 16:55] andriyDev opened #12275 "Allow using `minikube --cluster whatever` in place of --profile flag"
`minikube --profile` can be confusing for some users, and we have had several requests to add multi-cluster support (even though we've had it for a while). To mitigate this, we should add a `minikube --cluster` flag as an alias for profile.

[2021-08-16 18:36] medyagh opened #12276 "docker.socket vs docker.service in our code base"
for non-system OS

[2021-08-16 19:56] afbjorklund commented on #12276
When we are moving towards systemd socket-activation of services, we should have our `sysinit` wrapper translate this.

For systemd, we will start "docker.socket". Then systemd itself will start "docker.service" when the unix socket is accessed.

On non-systemd platforms, they will both translate to "docker". The service will start and listen on the unix socket itself.

Currently the only other im

[2021-08-16 20:00] afbjorklund commented on #12276
We should also iron out any calls to `systemctl` directly, and have them go through the `sysinit` wrapper.

There only seem to be a couple of places, so should be fairly easy (just expose daemon-reload and cat)

`pkg/minikube/bootstrapper/kubeadm/kubeadm.go:   if _, err := k.c.RunCmd(exec.Command("/bin/bash", "-c", "sudo systemctl daemon-reload && sudo systemctl enable kubelet && sudo systemctl st

[2021-08-16 20:07] afbjorklund commented on #12276
Currently we have about 4 main Linux distributions: ISO (Buildroot), KIC (Ubuntu), Ubuntu (Debian), CentOS (RHEL).

They **all** use systemd, in the supported releases. So this portability is only needed for niche cases like Cloud Shell or WSL.

[2021-08-16 20:08] afbjorklund commented on #11706
#11706 is re-opened

[2021-08-16 20:48] windevkay commented on #7332
@zhan9san I get a connection refused error when I try to ssh on M1 Mac. That aside, kudos on the efforts with your PR to try fixing the issue

[2021-08-16 20:51] moshez commented on #11130
This ticket should be re-opened after reverting.

[2021-08-16 21:08] vikas027 commented on #7332
Here you go

[code]

[2021-08-16 21:51] laxmikantbpandhare opened #12277 "Error starting cluster message after starting minikube cluster."
**Steps to reproduce the issue:**

1. minikube start
[lastStart.txt](https://github.com/kubernetes/minikube/files/6995590/lastStart.txt)

**Full output of `minikube logs` command:**
<details>

</details>

After starting minikube cluster, getting Error starting cluster.

[code]

Attached text file for the same.

<img width="1792" alt="Screen Shot 2021-08-16 at 2 51 28 PM" src="https://user-images.g

[2021-08-16 21:53] medyagh commented on #12232
for record here is a full log including exit

<details>
<code>
$ minikube start
* minikube v1.22.0 on Debian 10.10 (amd64)
  - MINIKUBE_FORCE_SYSTEMD=true
  - MINIKUBE_HOME=/google/minikube
  - MINIKUBE_WANTUPDATENOTIFICATION=false
* Using the docker driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Pulling base image ...
* Restarting existing docker con

[2021-08-16 22:25] morhook commented on #12275
Good idea! Thanks.

[2021-08-16 22:43] medyagh commented on #12232
I see upstream issue that could be in the same area of problem

https://github.com/kubernetes/kubernetes/issues/104280
https://github.com/kubernetes/kubernetes/pull/102250

[2021-08-16 23:23] #10133 closed

[2021-08-16 23:23] medyagh commented on #10133
This Failure is Back ! starting since Aug 12

[2021-08-16 23:47] #11810 closed

[2021-08-16 23:54] medyagh opened #12284 "TestPause/serial/Pause failing"
https://storage.googleapis.com/minikube-builds/logs/master/20006/Docker_Linux_containerd.html#fail_TestPause%2fserial%2fPause

[code]

[2021-08-17 00:02] medyagh commented on #12284
could it be the "runc" changed the api to no longer accept Multiple containers to be Paused with one command ?

[code]

[2021-08-17 00:17] minikube-bot opened #12285 "Frequent test failures of `TestScheduledStopUnix`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestScheduledStopUnix)|100.00|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestScheduledStopUnix)|100.00|

[2021-08-17 01:33] zhan9san commented on #7332
Sorry about that.

The port should not be `API_SERVER_PORT` but `API_SERVER_SSH_PORT`.

You can get `API_SERVER_SSH_PORT` by running `docker port minikube | grep 22` on MacOS.

e.g. It's `57008`
[code]

I'll correct the comment above.

[2021-08-17 01:44] zhan9san commented on #7332
Hi,
In fact, Ingress add-on is not supported on MacOS in `commit: a03fbcf166e6f74ef224d4a63be4277d017bb62e`

I am sorry I have no idea why minikube gets stuck in your case.

I tried it but got the different result from yours.

[code]

[2021-08-17 04:08] reshmahulagur opened #12286 "Minikube start fails >minikube start --driver=hyperv"
**Steps to reproduce the issue:**

1.>both minikube start and minikube start --driver=hyperv fails,  attaching logs
[lastStart.txt](https://github.com/kubernetes/minikube/files/6996982/lastStart.txt)

**Full output of `minikube logs` command:**
<details>
* minikube v1.22.0 on Microsoft Windows 10 Enterprise 10.0.17134 Build 17134
* Using the hyperv driver based on existing profile
* Starting contr

[2021-08-17 04:17] minikube-bot opened #12287 "Frequent test failures of `TestFunctional/parallel/TunnelCmd/serial/WaitService/Setup`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestFunctional/parallel/TunnelCmd/serial/WaitService/Setup)|28.33|

[2021-08-17 04:17] minikube-bot opened #12288 "Frequent test failures of `TestJSONOutput/pause/Command`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestJSONOutput/pause/Command)|100.00|

[2021-08-17 04:17] minikube-bot opened #12289 "Frequent test failures of `TestStoppedBinaryUpgrade/MinikubeLogs`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestStoppedBinaryUpgrade/MinikubeLogs)|100.00|

[2021-08-17 04:17] minikube-bot opened #12290 "Frequent test failures of `TestStoppedBinaryUpgrade/Upgrade`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStoppedBinaryUpgrade/Upgrade)|100.00|

[2021-08-17 07:13] #12242 closed

[2021-08-17 08:10] dctwan opened #12292 "minikube addons enable ingress失败"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2021-08-17 08:10] #12292 closed

[2021-08-17 08:11] dctwan opened #12293 "minikube addons enable ingress失败"
**重现问题所需的命令**：minikube addons enable ingress

**失败的命令的完整输出**：<details>
   ▪ Using image docker.io/jettech/kube-webhook-certgen:v1.5.1
    ▪ Using image k8s.gcr.io/ingress-nginx/controller:v0.44.0
    ▪ Using image docker.io/jettech/kube-webhook-certgen:v1.5.1
🔎  Verifying ingress addon...

❌  Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingr

[2021-08-17 09:07] jhbswart commented on #7300
stopping hyper-service worked for me

[2021-08-17 14:17] minikube-bot opened #12296 "Frequent test failures of `TestAddons/Setup`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestAddons/Setup)|100.00|

[2021-08-17 15:12] windevkay commented on #7332
@zhan9san thanks. The steps are ok now but I still am unable to connect. When I run the ssh command I get this `Warning: Permanently added '[127.0.0.1]:49608' (ECDSA) to the list of known hosts.` , which I assume is fine. But after making a request I get `channel 2: open failed: connect failed: Connection refused`

[2021-08-17 17:03] afbjorklund commented on #12284
Yes, it seems the API was changed: https://github.com/opencontainers/runc/commit/e0c7b6ceb71c8844b144622d13ed73e37092d6e1

[2021-08-17 17:31] andriyDev commented on #12293
Could you provide the full set of logs using `minikube logs -f file.txt`? We have a main issue here https://github.com/kubernetes/minikube/issues/10544. The current workaround is `minikube delete --all --purge` and restart, but I've seen several situations where this hasn't worked.

[2021-08-17 18:33] andriyDev commented on #10544
If anyone here with the issue persisting could run:
[code]

[2021-08-17 18:37] andriyDev commented on #10544
Wrong button :'(

[2021-08-17 18:38] #12293 closed

[2021-08-17 18:53] medyagh opened #12299 "Fix Ingress on New Kubenretes version 1.22.0"
as seen failure in this PR

https://github.com/kubernetes/minikube/pull/12283

https://storage.googleapis.com/minikube-builds/logs/12283/20054/Docker_Linux.html

[2021-08-17 18:54] medyagh commented on #12299
CC: @govargo

[2021-08-17 19:49] drewpca commented on #12082
See https://github.com/kubernetes/minikube/issues/12232 for a fix to the cloudshell/cgroups issue.

[2021-08-17 20:44] johnmba commented on #10170
I had the same issue on arch Linux but I discovered that minikube run a separate docker machine in VM that needs network to download images, so running minikube on proxy by exporting proxy variables to the env like in below:
export HTTP_PROXY=http://<proxy hostname:port>
export HTTPS_PROXY=https://<proxy hostname:port>
export NO_PROXY=localhost,127.0.0.1,10.96.0.0/12,192.168.99.0/24,192.168.39.0/2

[2021-08-17 21:12] netwrk197 opened #12301 "Minikube --mount Bad file descriptor"
**Steps to reproduce the issue:**

1. The issue is happened when we install new minikube (Tested a few times)
2. Older version which run a few month ago has no issue, accidentally delete old minikube image (minikube delete)
that cause minikube start -> rebuild the minikube image (IP 192.168.49.2) -> issue appears.

😄  minikube v1.20.0 on Ubuntu 20.04
✨  Using the docker driver based on existing pr

[2021-08-17 22:47] medyagh commented on #12284
so maybe we should change our code to Run it one at a time

[2021-08-18 02:20] zhan9san commented on #7332
Yes, the warning message is fine.

Let me explain key parameters, `-L 80:127.0.0.1:80`, in ssh command. It may help you debug it.
The complete format is `-L [bind_address:]port:host:hostport`. The default value of `bind_address` is `127.0.0.1`
You can get detailed help by running `man ssh`.

Please keep in mind, the goal is to access service in Kubernetes cluster. Due to the network issue, we cann

[2021-08-18 06:09] flyme2uh opened #12302 "Error dialing TCP: ssh: handshake failed: read tcp 127.0.0.1:48913->127.0.0.1:49162: read: connection reset by peer"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-08-18 06:40] lingsamuel commented on #10136
Any updates? I think I've provided enough information to confirm this.
/ping @medyagh

[2021-08-18 07:32] govargo commented on #12299
I tried TestAddon integration test on my local PC.
That was succeeded...

I read the [test log](https://storage.googleapis.com/minikube-builds/logs/12283/20054/Docker_Linux.html).
But I couldn't find any strange log.
Currently, I don't have any ideas why this failed...

[2021-08-18 08:12] netfishx commented on #10085
Any updates on this?

[2021-08-18 13:48] pruchay commented on #10544
Output:
[code]

[2021-08-18 14:37] mor619dx opened #12304 "Unable to use external files for jobs through mounting"
I'm using:
minikube start --driver=docker

I have a kubernetes yaml that runs a job that runs a pod which suppose to load data to a postgres database (another pod).

I'm running everything inside wsl 2.
The yaml is defined to use /mnt/AppData path on the local machine, when trying to use it I see that the pods are accessing the minikube vm /mnt/AppData instead of the local machine one.

Usually we

[2021-08-18 15:15] afbjorklund commented on #12275
@andriyDev : Also consider a `minikube cluster` command alias (for `minikube profile`)

[2021-08-18 15:59] andriyDev commented on #12275
@afbjorklund ah yes I didn't make that clear, that is already done! :)

[2021-08-18 21:32] Seann-Moser opened #12305 "M1 Mac Error starting minikube"
**Steps to reproduce the issue:**
[code]
[lastStart.txt](https://github.com/kubernetes/minikube/files/7010309/lastStart.txt)

</details>

**Full output of failed command:**
<details>

</details>

[code]

[2021-08-19 00:17] minikube-bot opened #12306 "Frequent test failures of `TestNetworkPlugins/group/kindnet/Start`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestNetworkPlugins/group/kindnet/Start)|100.00|

[2021-08-19 01:20] ed2020dev commented on #379
Im having the same issue now...any recommended fix?
I have also tried:
just run kubectl proxy --address=clusterIP --port 8001 --accept-hosts '.*'
but didn't fix it.

[2021-08-19 08:04] sylvain-ri commented on #9359
I am running into the exact same issue, except that hyper-V return False while the feature is on.
Tried with minkube v1.22, v1.21, v1.20, v1.17.1, v1.11.0 (all didn't work).
[code]

Then tried with v1.6.2, which worked slightly better but failed later.
[code]

[2021-08-19 08:37] syedkhalandar80 opened #12307 "Exiting due to GUEST_START: Failed kubeconfig update: writing kubeconfig: Error creating directory: /etc/kubernetes: mkdir /etc/kubernetes: permission denied"
1. minikube start VM_DRIVER=hyperkit
2. echo $KUBECONFIG.
/etc/kubernetes/admin.conf
3.$KUBECONFIG
bash: /etc/kubernetes/admin.conf: No such file or directory

minikube version
<details>
minikube version: v1.22.0
commit: a03fbcf166e6f74ef224d4a63be4277d017bb62e
</details>
my system details

<details>
Hardware Overview:

  Model Name:	MacBook Air
  Model Identifier:	MacBookAir7,2
  Processor Name:

[2021-08-19 08:44] ColleIsarco opened #12308 "docker-env script for tcsh is not correct"
**Steps to reproduce the issue:**

1. Login with default shell set to tcsh
2. start minikube on docker: `minikube start --driver=docker`
3. execute command to print out environment: `minikube docker-env`
3. or name shell explicity: `minikube docker-env --shell=tcsh`

**Full output of `minikube logs` command:**
<details>
Not needed here??
</details>

**Full output of failed command:**
<details>
exp

[2021-08-19 10:19] afbjorklund commented on #12308
I think support for csh was missed, when the command and `shell` was forked out from docker-machine.

c847979cabe71e6a799f9e15655fc3ff45a63fe0

So `docker-machine env --shell=tcsh` works, but `minikube docker-env --shell=tcsh` does not

Guess nobody uses csh...

[2021-08-19 10:22] afbjorklund commented on #12308
[code]

Needs porting over to pkg/minikube/shell

[2021-08-19 10:29] #11479 closed

[2021-08-19 11:04] JasonShenk opened #12309 "Running minikube start fails due to insufficient cpus available."
**Steps to reproduce the issue:**

minikube start --memory=16192

**Full output of `minikube logs` command:**
<details>
PS C:\code\Xjasshe> minikube start --memory=16192
* minikube v1.21.0 on Microsoft Windows 10 Enterprise 10.0.18363 Build 18363
* Using the docker driver based on existing profile
* - Ensure your docker daemon has access to enough CPU/memory resources.

        * - Docs https://do

[2021-08-19 13:36] sylvain-ri commented on #9359
Hi guys. After 3 days searching for a fix, I found out that my `hypervisorlaunchtype ` was on `off`.
Use `bcdedit` to know the current state, and change it with `bcdedit /set hypervisorlaunchtype  auto`.
I got my answer from here :
https://win10.guru/war-stories-hypervisor-turned-off-after-every-cold-boot/

[2021-08-19 13:51] sylvain-ri commented on #6683
I had an issue similar to this one, where minikube couldn't start while all my settings were turned on for Hyper-V. Found my solution [there](https://github.com/kubernetes/minikube/issues/9359), with `bcdedit /set hypervisorlaunchtype auto`.
Hope it helps others.

[2021-08-19 14:27] marv254 opened #12310 "ingress addon fails to enable"
**Steps to reproduce the issue:**

1.minikube addons enable ingress
2.
3.

**Full output of `minikube logs` command:**
<details>

[minikube_addons_6b011866d3f9cd8a094af3678dbbb781aa46e377_0.log](https://github.com/kubernetes/minikube/files/7015080/minikube_addons_6b011866d3f9cd8a094af3678dbbb781aa46e377_0.log)
</details>

**Full output of failed command:**
<details>

</details>

[2021-08-19 15:52] dtln820 opened #12311 "minikube PersistentVolume issues"
Can't run the Cassandra nodes, it always fail saying that 'pod has unbound immediate PersistentVolumeClaims'. Tested on macOS & Ubuntu.
minikube version: 1.22.0
Tried to resolve the issue by this (https://stackoverflow.com/a/52669115/6678347) answer - unsuccessfully.

**Steps to reproduce the issue:**
Steps described at this link: https://kubernetes.io/docs/tutorials/stateful-application/cassandra

[2021-08-19 17:01] jroes commented on #11275
Following @awreece's lead, I have a workaround that sets up a privileged clusterrolebinding for the ingress-nginx namespace:

[code]

[code]

[2021-08-19 18:07] andriyDev commented on #12208
Ok correction, this may be a firewall issue preventing communication between nodes. This happens on my machine, but not on a very similar machine of a coworker's.

[2021-08-19 20:21] sharifelgamal commented on #12308
yeah, this is just missing functionality in minikube, should be a pretty simple fix.

[2021-08-19 20:24] sharifelgamal commented on #12308
should be as simple as adding an entry for tsch in the map at https://github.com/kubernetes/minikube/blob/master/pkg/minikube/shell/shell.go#L60

[2021-08-19 20:36] bpschuck opened #12312 "Cannot start minikube - OSX Catalina 10.15.7"
minikube start fails

<details>
bruce.schuck@Bruces-MacBook-Pro-2 ~ % minikube start
😄  minikube v1.22.0 on Darwin 10.15.7
🆕  Kubernetes 1.21.2 is now available. If you would like to upgrade, specify: --kubernetes-version=v1.21.2
✨  Using the virtualbox driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🤷  virtualbox "minikube" VM is missing, will recreate

[2021-08-19 20:41] andriyDev commented on #12310
@marv254 If it's alright with you, I'd love some help debugging this issue as it has been a common issue recently. Do you mind performing the following steps?

1. `minikube delete --all --purge`
2. `minikube start`
3. `minikube addons enable ingress`
4. If it succeeds, let me know, otherwise continue with `kubectl get pods -n ingress-nginx -o wide` and paste here.
5. If empty, create these files i

[2021-08-20 04:40] charleech opened #12315 "[Question] How to change the default IP address of the minikube docker driver cluster?"
Regarding to the[ minikube: Proxies and VPNs](https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/) which describes that the `192.168.49.0/24`: Used by the minikube docker driver’s first cluster. At the moment it seems that conflict with my environment network mist and each node cannot communicate to others.

 I also have a chance to create new minikube profile which also automatically create

[2021-08-20 05:10] Rits333 commented on #12274
Hey,
I use the minikube on the virtual box
**minikube start --kubernetes-version=v1.20.0 --driver=virtualbox**
I use this command  if it is helpful to you can go with it and let me know that on which platform you  using minikube on Docker or Linux or virtual box

[2021-08-20 05:37] tcchen123 opened #12316 "Unable to start Minikube in Ubuntu-20.04 after installing Kubernetes v1.22."
I followed the Install and Set Up kubectl on Linux on Kubernetes documentation for Ubuntu-20.04.
I have installed Kubernetes v1.22 on my Windows laptop with WSL2.
Then, I move on to install Minikube.

!--- Please include the "minikube start" command you used in your reproduction steps --->
**Steps to reproduce the issue:**

1. Install Minikube
Click on the buttons that describe your target platfor

[2021-08-20 05:53] tcchen123 commented on #12316
[lastStart.txt](https://github.com/kubernetes/minikube/files/7019406/lastStart.txt)
Re-run
user1@DESKTOP-HOG39FK:~/.local/bin/kubectl$ curl -LO https://storage.googleapis.com/minikube/releases/v1.22.0/minikube-linux-amd64
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 66.5M  100 66.5M

[2021-08-20 06:03] Bytesu commented on #10059
not work for me . it is still  'waiting for pod "app.kubernetes.io/name=ingress-nginx", current state: Pending:'

[2021-08-20 08:50] kanghaiyan opened #12317 "Unable to download kubectl, kubelet & kubeadm from China"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>
$ minikube start --driver=virtualbox --image-mirror-country='cn' --image-repository='registry.cn-hangzhou.aliyuncs.com/google_containers'
😄  minikube v1.22.0 on Darwin 10.15.7
✨  Using the virtualbox driver based on user configuration
✅  Using image repository registry.cn-hangzhou.aliyuncs.com/google_containers
👍  Starting control plane node minikube in clu

[2021-08-20 14:45] hlesesne commented on #12286
This may be a silly question, but Hyper-V has been enabled on windows, right?

[2021-08-20 16:54] afbjorklund commented on #12316
`minikube start --kubernetes-version=v1.22.0`

[2021-08-20 17:03] andriyDev commented on #12304
Persistent Volumes and Persistent Volume Claims may work. I'm not too well versed in them, but they should mount a directory in your pods that is persistent across restarts or whatnot.

I'm not entirely sure why you want to mount stuff to the guest, since pods shouldn't be able to access the guest's directories. `minikube mount` is meant for more Kubernetes config stuff from what I've seen.

That

[2021-08-20 18:19] andriyDev commented on #12304
@mor619dx Ok so I've done some playing around - `minikube mount` will not work by default. HOWEVER, it can work with the right args.

In your WSL, run ip addr and find the eth0 link's address. Let's say mine is `172.31.30.30`. If you run `minikube mount --ip 172.31.30.30`, the files are indeed mounted on the guest. I'll look into making this the default behavior, but if your production files reall

[2021-08-20 19:29] craigjennings11 commented on #12316
I'm seeing the same failure on Windows 10 even with the `--kubernetes-version=v1.22.0` flag,

😄  minikube v1.22.0 on Microsoft Windows 10 Pro 10.0.19043 Build 19043
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
💾  Downloading Kubernetes v1.22.0 preload ...

🏃  Updating the running docker "minikube" contain

[2021-08-20 19:32] afbjorklund commented on #11706
Podman 3.3.0 is out now, but it is impossible to know which of the podman3 to choose before it will all be podman4.

[2021-08-20 19:36] afbjorklund commented on #12311
Looks like it specifies a `storageClassName: fast`, but only `default` is supplied by the minikube hostpath provisioner ?

[2021-08-20 19:57] afbjorklund commented on #12316
But at least it is failing the wanted version

[2021-08-20 20:51] mor619dx commented on #12304
Indeed it does fix it, the mounting goes out of sync if the pod is started before you call the mounting and so I used to mount when starting minikube:
minikube start --mount --mount-string="/mnt/AppData:/mnt/AppData" --driver=docker

it actually works without the --ip when I use it through the start command (so only required when calling minikube mount)

[2021-08-20 22:16] #7332 closed

[2021-08-20 22:25] windevkay commented on #7332
@sharifelgamal Hi, can we expect a release soon with @zhan9san's fix?

[2021-08-20 22:27] sharifelgamal commented on #7332
Our next release should be at the end of August.

[2021-08-21 00:17] #12206 closed

[2021-08-21 00:42] #12156 closed

[2021-08-21 04:49] Rits333 commented on #12317
Hey,
Try this one I am using minikube on virtual box
**# minikube start --kubernetes-version=v1.20.0 --driver=virtualbox**
and let me know if it works.

[2021-08-21 04:51] Rits333 commented on #12316
Try this one I am using this one but it is on virtual box
**# minikube start --kubernetes-version=v1.20.0 --driver=virtualbox**

[2021-08-21 06:08] moindev65 opened #12322 "ingress timeout minikube"
**Steps to reproduce the issue:**

when I want to  enable ingress for minikube i face with below error
 Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-08-21 06:43] Bytesu commented on #12292
have your resolved your issue?

[2021-08-21 07:04] Bytesu commented on #12293
=> Audit <==
|---------|------|----------|------|---------|-------------------------------|-------------------------------|
| Command | Args | Profile  | User | Version |          Start Time           |           End Time            |
|---------|------|----------|------|---------|-------------------------------|-------------------------------|
| start   |      | minikube | k8s  | v1.22.0 | Sat, 21

[2021-08-21 07:28] Bytesu commented on #10544
[k8s@iZ8vb1cgnytsf2bnokinqcZ root]$ minikube kubectl -- get pods --selector="app.kubernetes.io/name=ingress-nginx" -n ingress-nginx

NAME                                        READY   STATUS             RESTARTS   AGE
ingress-nginx-admission-create-rcm4q        0/1     Completed          0          36m
ingress-nginx-admission-patch-pdsjb         0/1     Completed          0          36m

 minikub

[2021-08-21 07:51] afbjorklund opened #12323 "Add explicit pull and tag and push to the minikube image command"
These come in handy sometimes, for instance when testing. Currently included as part of other commands:

`minikube image load --pull docker.io/my/image:v1.2.3`

`minikube image build --tag docker.io/my/image:latest --push`

These are added to the `cruntime API`, and then exposed in the `minikube image` CLI for use in the tests.

[2021-08-21 07:54] afbjorklund commented on #12323
Note that we still want "build" to handle it internally, to be able to support future features like multi-arch.

The original specification only allows for **one** architecture, so one can't use tags to handle manifests...

[2021-08-21 15:53] andriyDev commented on #10544
@Bytesu Oh I totally messed up, it should be `minikube kubectl -- logs ingress-nginx-controller-59b45fb494-2tcfb -n ingress-nginx`. That'll give even more info.

The image pull backoff is already fascinating though!

[2021-08-21 19:59] upkash opened #12324 "Kubernetes cluster still exists after running minikube delete"
**Steps to reproduce the issue:**

1. minikube config set cpus 4 && minikube config set memory 6000
2. minikube start
3. helm install airflow . -n airflow
4. minikube stop
5. minikube delete
6. minikube start

**Full output of `minikube logs` command:**
<details>

==> Audit <==
|---------|-----------------|----------|---------|---------|-------------------------------|-----------------------------

[2021-08-22 06:51] Bytesu commented on #9615
I couldn't understand.  why does not it works for me ?

[2021-08-22 06:51] Bytesu commented on #9615
I couldn't understand. why does not it works for me ?

[2021-08-22 08:58] Bytesu commented on #12021
docker pull coredns/coredns:1.8.0
docker tag coredns/coredns:1.8.0 registry.cn-hangzhou.aliyuncs.com/google_containers/coredns:v1.8.0
docker rmi coredns/coredns:1.8.0
minikube image load registry.cn-hangzhou.aliyuncs.com/google_containers/coredns:v1.8.0
sudo minikube start --image-repository='registry.cn-hangzhou.aliyuncs.com/google_containers’ --image-mirror-country='cn’

like above . it's works

[2021-08-22 11:31] dnguyenzd commented on #1340
I solved this issue with my minikube by editing coredns configuration:
- Run `kubectl edit configmap coredns -n kube-system`
- My original coredns configmap has following section:
[code]
- Change it to: `forward . 8.8.8.8 8.8.4.4`, wait for coredns pod to be restarted and pods in minikube are able to reach internet

[2021-08-23 00:30] ghost opened #12327 "Failed to start kvm2 VM"
**Steps to reproduce the issue:**

1. Reboot system while minikube running on kvm2 VM
2. minikube start
3. minikube delete
4. minikube start --driver=kvm2

**Full output of `minikube logs` command:**
<details>

Log file created at: 2021/08/23 02:19:57
Running on machine: oshino
Binary: Built with gc go1.16.4 for linux/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I0823

[2021-08-23 01:59] Bytesu commented on #9669
怎么去掉这个hash值，minikube ssh 编辑"/etc/kubernetes/addons/ingress-db.yaml"? 感觉不行

[2021-08-23 01:59] Bytesu commented on #9669
怎么去掉这个hash值，minikube ssh 编辑"/etc/kubernetes/addons/ingress-db.yaml"? 感觉不行

[2021-08-23 02:03] lingsamuel commented on #10436
/remove-lifecycle stale

[2021-08-23 06:59] jjsty1e commented on #9669
@Bytesu `kubectl edit deployment <deployment-name>`

[2021-08-23 08:09] Himkwok commented on #10544
....
containers:
    - name: controller
      image: 'k8s.gcr.io/ingress-nginx/controller:v0.44.0'
......

i edited yaml ,changed  'k8s.gcr.io/ingress-nginx/controller:v0.44.0@sha256:........ ' to  'k8s.gcr.io/ingress-nginx/controller:v0.44.0', then  kubectl apply -f  spec.yaml  and  minikube addons enable ingress  ,  IT WORKS!!!!!

[2021-08-23 09:25] rdgacarvalho commented on #12312
which version of minikube are you using?

[2021-08-23 09:37] rdgacarvalho commented on #12322
I love minikube, however I am not using the ingress addon at all.
I rather prefer to deploy my own ingress controller e.g: traefik, contour, nginx, skipper and etc.

Just install one of the one above via helm chart passing the --set externalIPs=$(minikube ip) paramenter. Update your /etc/hosts file with your minikube cluster ip + the dns_name and it is done.

[2021-08-23 14:12] bpschuck commented on #12312
On 8/23/21 02:25, Rodrigo Carvalho wrote:

Sorry, please ignore. I completely removed all the K8s components as
well as my ~/.minikube and ~/.kube directories, then reinstalled with
the current versions. The issue no longer exists.

- Bruce S

[2021-08-23 14:14] sayantani11 commented on #10970
Hey folks! Is the issue taken or I can work on it?

[2021-08-23 14:40] sanjivsharmalv commented on #9130
I also faced the issue with --vm-driver=hyperv:
Error loading existing host. Please try running [minikube delete], then run [minikube start] again.: filestore "minikube"
I resolved it by uninstalling Docker that I installed earlier and then executing the 'minikube start --vm-driver=hyperv '

[2021-08-23 15:13] Bytesu commented on #10544
where is the spec.yaml？

[2021-08-23 16:06] andriyDev commented on #12322
Duplicate of #10544. Working on it!

[2021-08-23 16:14] andriyDev commented on #10544
For an immediate fix, https://github.com/andriyDev/minikube/blob/232384b9b2a448db793d595870aa1dea35c18a26/pkg/minikube/assets/addons.go?plain=1#L248, you can modify that to no longer include the `@sha...` bit. This however is entirely the wrong solution. The sha shouldn't be wrong?

@Himkwok thank you so much for this discovery! Do you mind running `docker image pull k8s.gcr.io/ingress-nginx/contr

[2021-08-23 16:15] #12322 closed

[2021-08-23 16:23] andriyDev commented on #10544
Actually, @Bytesu if you're able to compile minikube, do you mind replicating @Himkwok's result by removing the sha bit like I said before?

[2021-08-23 16:35] andriyDev commented on #12309
Ensure your docker is configured to use more than 1 core (minikube needs at least 2) https://docs.docker.com/docker-for-windows/#resources. If this works, please close the issue If your machine has only a single core, you're out of luck... sorry!

[2021-08-23 17:12] andriyDev commented on #10544
@Bytesu There's an even easier way to test this actually, just use `minikube addons enable ingress --images="IngressController=ingress-nginx/controller:v0.44.0"`

Are either of you using a corp registry of some kind?

[2021-08-23 17:24] #12323 closed

[2021-08-23 22:31] #12232 closed

[2021-08-24 00:27] spowelljr commented on #12312
@bpschuck This is a known issue #8765, it's related to the minikube config in the `~/.minikube` that you deleted. Another way to fix it would be `minikube delete --all --purge`.

[2021-08-24 00:27] #12312 closed

[2021-08-24 01:27] minikube-bot opened #12340 "Frequent test failures of `TestStartStop/group/old-k8s-version/serial/Pause`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/old-k8s-version/serial/Pause)|100.00|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestStartStop/group/old-k8s-version/serial/Pause)|100.00|

[2021-08-24 02:28] Bytesu commented on #10544
no , I  used another way to solve my problem . Thanks very much .   and I suppose my issue is leaded by network that I couldn't access the k8s.gcr.io

[2021-08-24 02:45] Himkwok commented on #10544
you can pull image from dockerhub

docker pull pollyduan/ingress-nginx-controller:v0.44.0

docker tag pollyduan/ingress-nginx-controller:v0.44.0 k8s.gcr.io/ingress-nginx/controller:v0.44.0

[2021-08-24 03:00] Himkwok commented on #10544
kubectl edit pods ingress-nginx-controller-7b8cbd57c9-jnzmd -n ingress-nginx and change to 'image: k8s.gcr.io/ingress-nginx/controller:v0.44.0'， I hope these can help

[2021-08-24 07:12] Luttik commented on #9762
@afbjorklund should the merge above solve the problem for minikube on raspberry pi when using docker? And do you happen to have an ETA for when end-users have access to the fix?

Thanks for the effort!

[2021-08-24 07:16] afbjorklund commented on #9762
Good question! But it hasn't kicked in for the temporary builds, so maybe it will only affect the upcoming release ?

[code]

You should be able to build your own image meanwhile, though. And use that, for the `--base-image` ?

[code]

[2021-08-24 07:34] Luttik commented on #9762
So I tried the following steps:
1. [Install go](https://golang.org/doc/install) (this seems to be required), for my raspberry I needed [the armv6l version](https://golang.org/dl/go1.17.linux-armv6l.tar.gz).
2. clone this repo.
3. In the root folder of said repo run `make build-kic-base-image KICBASE_ARCH=linux/arm`

This results in the following error:
[code]

Any clue for noobs like me on how to

[2021-08-24 09:38] afbjorklund commented on #9762
Sorry for assuming it would "just work", when building locally on the RPi and not on the laptop all that complexity is not needed.

[code]

[2021-08-24 09:47] ffroliva commented on #10342
I am also facing this issue.

[2021-08-24 10:17] kamalkech opened #12343 "Initialize the single-node Kubernetes cluster using the Minikube"
run command : minikube start --driver kvm2 or minikube start --vm-driver kvm2

i get this error message :

[code]

[2021-08-24 10:27] Luttik commented on #9762
So based on your comment above I tried the following:
1. [Install go](https://golang.org/doc/install) (this seems to be required), for my Raspberry PI 4 model B I needed [the armv6l version](https://golang.org/dl/go1.17.linux-armv6l.tar.gz).
2. clone this repo.
3. In the root folder of said repo run `make local-kicbase`

Which returns this:
[code]
I believe I've done anything weird with my dockers

[2021-08-24 11:01] afbjorklund commented on #9762
I will give it a try later, hopefully it will be easier once the new release is out with the new image...

If you are eager to get started, I would recommend Ubuntu 20.04 for arm64 on a spare SD card... The support for the legacy arm32 is somewhat lacking

[2021-08-24 11:57] RFinland opened #12344 "PodPreset"
How can I enable PodPreset on Minikube?
minikube ssh -n minikube
nano /etc/kubernetes/manifests/kube-apiserver.yaml
Modified: - --enable-admission-plugins=PodPreset,......
And added this line:
- --runtime-config=settings.k8s.io/v1alpha1=true

But, after these steps, Minikube ApiServer status will be Stopped
Is PodPreset  supported on  Minikube?

[2021-08-24 12:04] JasonShenk commented on #12309
I will close it.  The problem is my docker configuration, not minikube.

[2021-08-24 12:04] #12309 closed

[2021-08-24 15:19] malnajdi opened #12345 "[Debian][11][Crash] Starting minikube crash the terminal and never start"
1. I added the Debian Bulleye sourcelist for docker and installed it
2. I downloaded minikube and install it
`curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64`
`sudo install minikube-linux-amd64 /usr/local/bin/minikube`
3. minikube start
4. terminal closes.

**Full output of `minikube logs` command:**
command do not work. But i got some logs from .minikube/logs

[2021-08-24 15:26] afbjorklund commented on #12345
You could try downloading the image ahead of time ? Maybe it would show a more explicit error.

Either using minikube:

[code]

Or directly in docker:

[code]

[2021-08-24 15:39] malnajdi commented on #12345
This is from my machine.

Running `minikube start --download-only` still crashes the terminal.
Check this video here: https://twitter.com/i/status/1429010611753598979

For pulling the image check the output
[code]

Not sure if has anyone tested it on Debian 11 ?

[2021-08-24 16:55] MartinFuerstenau opened #12347 "Unable to start Minikube on Ubuntu 20.04.3 LTS"
I followed the starter  https://minikube.sigs.k8s.io/docs/start/
Trying to start minikube results in

`Exiting due to GUEST_START: wait 6m0s for node: wait for healthy API server: controlPlane never updated to v1.22.0`

**Steps to reproduce the issue:**

1. minikube start --alsologtostderr -v=4

**Full output of `minikube logs` command:**
[minikube.logs.txt](https://github.com/kubernetes/minikube/

[2021-08-24 16:56] afbjorklund commented on #12345
Doesn't seem so... Guess you just did ?

But I don't know anyone from Debian being involved in Kubernetes (or Docker). Would be nice to have minikube included there...

[2021-08-24 17:12] afbjorklund commented on #12345
You could try `export MINIKUBE_IN_STYLE=false`

In case there was something wrong with the emoji support ?

[2021-08-24 17:40] #12304 closed

[2021-08-24 19:03] amontalban opened #12349 "gcp-auth not working in a GCE instance with a service account"
**Steps to reproduce the issue:**

1. Create a GCE instance with a service account that has permissions to pull images from a private registry.
2. Pods will be in `ImagePullBackOff`.
3. Using `gcloud auth configure-docker` and then doing `docker pull gcr.io/{PROJECT_ID}/{IMAGE}:{TAG}` works from the GCE instance.

Output:

[code]

`kubect describe pod`:

[code]

`docker pull`:

[code]

[2021-08-25 04:30] RA489 commented on #12349
/kind support

[2021-08-25 04:32] RA489 commented on #12347
@MartinFuerstenau could you please install latest version of minikube?

[2021-08-25 04:32] RA489 commented on #12344
/kind support

[2021-08-25 04:33] RA489 commented on #12327
/kind support

[2021-08-25 04:34] RA489 commented on #12324
/kind support

[2021-08-25 04:34] RA489 commented on #12317
/kind support

[2021-08-25 04:34] RA489 commented on #12315
/kind support

[2021-08-25 04:34] RA489 commented on #12305
/kind support

[2021-08-25 04:35] RA489 commented on #12343
/kind support

[2021-08-25 14:58] malnajdi commented on #12345
@afbjorklund You were right i was emoji issue. which package that minikube relay on for Emoji ?

[2021-08-25 16:30] #12345 closed

[2021-08-25 19:12] spkane opened #12354 "minikube start uses curl but does not seem to support setting CURL_CA_BUNDLE as often required by proxies"
**Steps to reproduce the issue:**

macOS Catalina with current Docker Desktop and minikube installed.

[code]

Using a VPN and connected to a network that is behind a proxy which requires its own TLS CA BUNDLE.

1.

[code]

2. Watch the logs
3. The system will come up, but will report that `This VM is having trouble accessing https://k8s.gcr.io`
4. Looking at detailed logs will show that this step

[2021-08-26 05:57] AkihiroSuda opened #12355 "`/etc/containerd/config.toml` mixes up v1 config and v2 config"
https://github.com/kubernetes/minikube/blob/0bb1f675eae5c89244843f4d91a5a65fc947d30c/pkg/minikube/cruntime/containerd.go#L75-L90

The current `/etc/containerd/config.toml` mixes up v1 config (`plugins.cri`) and v2 config (`plugins."io.containerd.grpc.v1.cri"`).

v1 config is deprecated, and mixing up v1 and v2 is never supported.

[2021-08-26 06:17] minikube-bot opened #12356 "Frequent test failures of `TestFunctional/parallel/SaveImage`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_crio_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio_arm64&test=TestFunctional/parallel/SaveImage)|20.24|

[2021-08-26 06:17] minikube-bot opened #12357 "Frequent test failures of `TestFunctional/parallel/SaveImageToFile`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_crio_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio_arm64&test=TestFunctional/parallel/SaveImageToFile)|21.09|

[2021-08-26 08:28] AkihiroSuda opened #12358 "kicbase/entrypoint: zfs workaround is broken"
https://github.com/kubernetes/minikube/blob/0bb1f675eae5c89244843f4d91a5a65fc947d30c/deploy/kicbase/entrypoint#L23-L27

The zfs workaround above is broken, because `/etc/containerd/config.toml` is overriden by `pkg/minikube/cruntime.Containerd.Enable()`

https://github.com/kubernetes/minikube/blob/0bb1f675eae5c89244843f4d91a5a65fc947d30c/pkg/minikube/cruntime/containerd.go#L225-L244

[2021-08-27 10:01] albert-salman opened #12360 "Persistent Volumes permission issue for 2+ node clutsters"
Hello,
If minikube cluster is 2+ nodes then initContainers cannot set volume permissions inside PVCs and pods fail to access data there. Single node cluster do not have this issue.

[2021-08-27 12:18] vanmash opened #12361 "minikube uses Polish partially translated strings"
`minikube` uses Polish partially translated strings.
How to set `minikube` to use English only?

**Steps to reproduce the issue:**

1. minikube

**Full output of `minikube logs` command:**
<details>
*
* ==> Audyt <==
* |---------|------|----------|-----------|---------|--------------------------------|--------------------------------|
| Command | Args | Profile  |   User    | Version |           S

[2021-08-27 13:13] ChristopherMillon opened #12362 "minikube tunnel doesn't appear to support UDP LoadBalancers"
**Steps to reproduce the issue:**

1. minikube start --vm-driver=docker --memory 8192 --cpus 6
2. kubectl apply -f
[code]
3. minikube tunnel
[code]
4. sudo lsof -i -P -n | grep 11500
[code]

As observed here, the opened tunnel is TCP and not UDP which means I'm unable to route UDP traffic to my nginx load balancer.

[2021-08-28 07:35] enrico-j-yang opened #12363 "Can not launch minikube on MacOS Big Sur 11.5.2"
**Steps to reproduce the issue:**

1.minikube start
2.
3.

**Full output of `minikube logs` command:**
😄  minikube v1.22.0 on Darwin 11.5.2
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🤷  docker "minikube" container is missing, will recreate.
🔥  Creating docker container (CPUs=2, Memory=1987MB) ...
❗  Thi

[2021-08-28 08:26] malnajdi commented on #12345
@afbjorklund So I thought that one of the emoji might be the cause so i tested the printed emojis by minikube and i found this

[code]

[2021-08-28 14:24] afbjorklund commented on #12362
I don't think the ssh tunnels will support UDP, so most likely there should be a check for the "protocol" in tunnel...

Possibly one could exend the current `ssh -L` hack using `socat` or something, when not having a real network ?

[2021-08-28 14:51] elvisbort opened #12365 "Windows Installer: the version should not be quoted"
After installing Minikube, in the Windows Control Panel the Version appears with double quotes:

![image](https://user-images.githubusercontent.com/64742927/131221421-254f3165-8fd2-40b0-997b-c3005a0bb680.png)

With double quotes, some tools get confused. For instance, winget wrongly detects an available upgrade:

![image](https://user-images.githubusercontent.com/64742927/131221548-162d1a0f-e21f-4

[2021-08-28 19:08] jainilparikh opened #12366 "Minikube fails on start on Azure VM : hyperv"
start command: ```minikube start --vm-driver hyperv --hyperv-virtual-switch "<Internal Virtual Switch Name>"```

 I am trying to run minikube on an Azure v3 Windows 10 Pro VM ( 8 GB with hyper-v enabled ).

Steps to reproduce the error:
1. I have installed minikube version 1.22.0
2. I am running the above mentioned start command on Powershell ( with admin rights)

Output after running the start co

[2021-08-28 22:38] Jcsenterprisesllc opened #12367 "Using Multi-Node Clusters"
cloud.google.com/storage/

[2021-08-29 00:17] #12266 closed

[2021-08-29 02:05] PratikBorhade302 commented on #9268
/remove-lifecycle rotten

[2021-08-29 02:56] tstromberg commented on #9268
@Atharva-Shinde  - As far as I know, no work on this has been done.

[2021-08-29 10:33] jserviceorg opened #12371 "minikube + ssh + nat on remote host"
Hello

I am trying to geht minikube together with the ssh driver and a remote host behind a nat gateway up and running. I faced some issues with kublet using the wrong Ip which I could fix hacky. But I still got the impression that the combination nat gate + ssh driver won't work. Is there anyone out there who got experience with this or is even running such a setup successfully?

Cheers

Jürgen

[2021-08-29 13:12] powerman commented on #8733
I've just installed minicube 1.22.0. Dashboard works on single-node cluster but doesn't work on multi-node cluster:
[code]
and it hangs here.
[code]

[2021-08-29 13:19] powerman commented on #8733
I probably should add I'm using minicube with a docker driver and some extra info (note dashboard containers runs on different nodes):
[code]
The node's version listed is v1.21.2 - maybe it should be v1.22.0 (matching minikube's version) to fix this?

[2021-08-29 13:29] powerman commented on #8733
I've started cluster using latest k8s image and this time both dashboard images happens to run on same node, but, still, it doesn't work:
[code]

[2021-08-29 14:06] freebased commented on #7923
OS: openSUSE Leap 15.3 x86_64
Kernel: 5.3.18
Filesystem: Btrfs
Encryption: LUKS

I had two problems with minikube:
1. `"Failed to start ContainerManager" err="failed to get rootfs info: failed to get device for dir \"/var/lib/kubelet\": could not find device with major: 0, minor: 70 in cached partitions map"`
2. `[kubelet-check] It seems like the kubelet isn't running or healthy.
[kubelet-check] T

[2021-08-29 14:39] anigkus commented on #7903
this okay:
[code]

[2021-08-29 16:09] elvisbort commented on #12365
Maybe the following patch does suffice:

[code]

[2021-08-30 05:39] afbjorklund commented on #12371
We have mostly tried with a generic VM running locally (using something like Vagrant), or with a VM running in some private cloud.

When running in a more public cloud, there are usually one external and one internal address (that can be used for the api server)

So SSH (only) uses the external address, and everything else is tunneled through it. This is similar to how the eth0/eth1 works.

There

[2021-08-30 05:42] afbjorklund commented on #12371
Some network diagrams of the various drivers would also help: https://github.com/kubernetes/minikube/issues/4938#issuecomment-517244673

[2021-08-30 11:54] paologallinaharbur commented on #10948
same here, after removing the folder everything works

[2021-08-30 12:53] cataglyphis commented on #11348
work for me now~

[2021-08-30 18:39] #12367 closed

[2021-08-30 18:43] sharifelgamal commented on #11881
@medyagh did you merge a PR to fix this?

[2021-08-30 18:48] #10438 closed

[2021-08-30 18:56] spowelljr commented on #12361
Hi @vanmash, if you want minikube to use English you can set the environmental variable `LC_ALL` to `C`.

[code]

Let me know if this solves your issue, thanks!

[2021-08-30 18:59] #11373 closed

[2021-08-30 19:00] spowelljr commented on #12363
Hi @enrico-j-yang, thanks for reporting your issue with minikube!

This is an existing issue we're aware of (#8765) but have not yet fixed. The current work around is to run `minikube delete --all --purge` which will clear out the minikube configuration files.

Let me know if that solves your issue, thanks!

[2021-08-30 19:30] vanmash commented on #12361
Hi @spowelljr, thank you!

for Windows something like this should work

powershell
[code]

cmd
[code]

[2021-08-30 20:12] sharifelgamal commented on #12349
The source of this issue is that when running `minikube addons enable gcp-auth` in GCE, we were exiting out before adding in the pull secret from `configure-docker`. This was fixed in #12124 and will be included in the upcoming release this week.

The workaround in the meantime to use the `--force` flag with the addons command, which can have knock-on effects but will fix the issue you're currentl

[2021-08-30 20:15] medyagh opened #12374 "Update bump golang version logic after Kube-cross image change"
This PR broke our atuomation by adding a "Prefix" to the golang image
v1.16.7-1 ---> v1.23.0-go1.17-buster.0

https://github.com/kubernetes/kubernetes/pull/103692

[2021-08-30 20:22] amontalban commented on #12349
Thank you very much @sharifelgamal, looking forward for the upcoming release!

[2021-08-30 20:22] #12349 closed

[2021-08-30 21:26] medyagh commented on #12374
https://github.com/kubernetes/minikube/pull/12373

[2021-08-30 21:37] spowelljr commented on #12361
@vanmash That is correct! I believe you issue has been resolved so I'm going to close this issue, but feel free to re-open if you have further questions, thanks!

[2021-08-30 21:40] spowelljr commented on #12347
Hi @MartinFuerstenau, thanks for reporting your issue with minikube!

This is an existing issue we're aware of (#8765) but have not yet fixed. The current work around is to run minikube delete --all --purge which will clear out the minikube configuration files.

Let me know if that solves your issue, thanks!

[2021-08-30 21:44] luchaoqi commented on #4477
Thanks for the hint. I have been searching for a solution to access the apiserver for days and it works like a charm!

[2021-08-30 21:46] spowelljr commented on #12324
Hi @upkash, thanks for reporting your issue with minikube!

Based on what you provided I don't have a way to see that the delete failed to remove the Kubernetes cluster. Are you able to provide some evidence showing that the cluster still exists after the delete command has occurred?

[2021-08-30 22:01] spowelljr commented on #12317
Hi @kanghaiyan, thanks for reporting you issue with minikube!

The issue you're experiencing is because you're located in China and are unable to access Google resources.

minikube is trying to download `https://storage.googleapis.com/kubernetes-release/release/v1.21.2/bin/linux/amd64/kubelet` but is being blocked.

 Let me investigate and get back to you, thanks!

-----

嗨@kanghaiyan，感谢您报告您的 mini

[2021-08-30 23:36] medyagh opened #12376 "TestAddons/parallel/HelmTiller: image pull permission problem"
example failure on Master

https://storage.googleapis.com/minikube-builds/logs/12359/20257/Docker_Linux_crio.html#fail_TestAddons/parallel/HelmTiller

[code]

[2021-08-30 23:48] #10836 closed

[2021-08-30 23:48] #12374 closed

[2021-08-31 00:17] #12188 closed

[2021-08-31 05:18] vanmash commented on #12361
Perhaps `minikube` could use English as default?

[2021-08-31 14:08] zerthimon commented on #3318
Is there a way to specify the path where to create persistent volumes ? I'd like to have my persistent volumes created in `/hosthome/[user]/tmp` instead of `/tmp`, so the data survives `minikube delete`

[2021-08-31 16:25] pfeigl commented on #12115
I'm having the very same problem. Here's my log if it helps, but it looks very similar to that of @johnnybigert

[code]

And at this point, the tunnel just sits there and no tunneling works and also no user input is requested. I also tried running the tunnel in an admin-console, but to no avail.

[2021-08-31 16:27] pfeigl commented on #12115
Oh I think I found something. Running that last command directly in the bash gives the following error:
[code]

[2021-08-31 16:35] jayesh-srivastava commented on #12027
Hey @spowelljr I have added the crun version. I am facing some issues in updating the tests to output it. I have made a PR without updating the test. Can anyone guide me through how to update the tests?

[2021-08-31 17:08] pfeigl commented on #12115
Also as a fix / workaround, the easiest might be to just parse the output of
[code]

[2021-08-31 17:08] spowelljr commented on #12361
It grabs the OS set language by default as seen here:
https://github.com/kubernetes/minikube/blob/master/pkg/minikube/translate/translate.go#L64

Seems that something on your OS is pointing to Polish, unless something set `LC_ALL` to Polish.

[2021-08-31 17:15] pfeigl commented on #12115
Ok, some more digging, the correct command seems to be the following

`docker container inspect -f '{{(index (index .NetworkSettings.Ports \"22/tcp\") 0).HostPort}}' minikube`

The following changes where needed:
* Removed outside double quotes
* Escaped double quotes in filter

With that the actual port was reported back as expected

[2021-08-31 21:54] #12376 closed

[2021-09-01 00:17] #12203 closed

[2021-09-01 03:07] RA489 commented on #12366
/kind support

[2021-09-01 03:07] RA489 commented on #12365
/kind support

[2021-09-01 03:07] RA489 commented on #12360
/kind support

[2021-09-01 11:07] Airblader commented on #11513
@medyagh I'm running into this issue as well. I built minikube from source right now (1.22.0.r584.g769ee3287-1), unfortunately the issue persists for me:

[code]

[2021-09-01 12:55] htjain opened #12382 "Unable to start with podman driver on rpi 4"
**Steps to reproduce the issue:**

1. Install podman
2. run `minikube --driver=podman start`
3. crash

**Full output of `minikube logs` command:**
<details>
Running on machine: raspberrypi
Binary: Built with gc go1.16.4 for linux/arm64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg
I0901 18:23:35.384852   44520 out.go:286] Setting OutFile to fd 1 ...
I0901 18:23:35.385675   44

[2021-09-01 13:37] WoodpeckerBaby opened #12383 "Minikube failed to start on Mac"
**Steps to reproduce the issue:**

1. minikube start

**Full output of `minikube logs` command:**
<details>
==> Audit <==
|---------|------|---------|------|---------|------------|----------|
| Command | Args | Profile | User | Version | Start Time | End Time |
|---------|------|---------|------|---------|------------|----------|
|---------|------|---------|------|---------|------------|----------

[2021-09-01 14:30] briandealwis opened #12384 "`minikube image build` should support configuring build-args"
**Steps to reproduce the issue:**

I'm unable to use `minikube image build` with a Dockerfile requiring build-args, using the docker runtime.  I was unable to concoct a `--build-opt` value that would result in a correct `docker build --build-arg key=value` command line.

Minikube's underlying implementation takes the `--build-opt` arguments, prefixes them with `--` and then appends the result as a

[2021-09-01 15:25] KozakAG opened #12385 "The system cannot find the file specified."
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of `minikube logs` command:**
<details>

</details>

**Full output of failed command:**
<details>

</details>

[2021-09-01 17:06] malnajdi commented on #12345
For anyone who is running a minimal desktop Env (Debian 11)(Xmonad) with ST terminal
All had to do is install missing fonts listed below:

- emojione-android.ttf
- NotoColorEmoji.ttf
- NotoEmoji-Regular.ttf

Now everything works.

[2021-09-01 17:42] tstromberg commented on #3036
I've upped the priority based on the number of votes. Help wanted!

[2021-09-01 17:43] afbjorklund commented on #12384
Sounds like a good idea!

[2021-09-01 17:48] afbjorklund commented on #12382
Looks like an issue with creating the private podman network, when running on arm64... Apparently the real error is not logged properly, and then we get an empty list of networks

[2021-09-01 18:29] houstonj1 commented on #11960
That fixed it, thanks @spowelljr 😄

[2021-09-01 18:29] #11960 closed

[2021-09-01 18:33] medyagh commented on #12094
Hi @mdbhamanii , I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-09-01 18:33] #12094 closed

[2021-09-01 18:39] spowelljr opened #12386 "Update the issue template"
Update the issue template to ask the user to upload the output of `minikube logs`, ideally via `minikube logs --file=logs.txt` and asking the user to upload the generated log file to the issue.

This is because minikube logs contains more info than just the last start logs such as audit logs.

[2021-09-01 18:39] sharifelgamal commented on #11084
I'm going to go ahead and close this issue for now. If you have any questions, please feel free to reopen this issue.

[2021-09-01 18:39] #11084 closed

[2021-09-01 18:40] sharifelgamal commented on #11966
Since we have an existing issue for certs expiration, I'm going to go ahead and close this issue as a duplicate. Please follow #10122 for updates.

[2021-09-01 18:40] #11966 closed

[2021-09-01 18:45] sharifelgamal commented on #12053
Hey @SzautnerB, did you set the KUBECONFIG environment variable to `D:\Kubernetes.kube`? That is not a valid file name, which is what minikube is complaining about. If you just let minikube set its own kubeconfig, everything should work as expected.

[2021-09-01 18:45] spowelljr commented on #12063
The other possibility is that the `kubectl.exe` didn't finish downloading, if you try running:
[code]
Do you get an error message?

[2021-09-01 18:46] medyagh commented on #11542
@paulopatto
Thank you for sharing your experience! If you don't mind, could you provide minikube logs ?

Please attach (drag) the`logs.txt` file to this issue  which can be generated by running this command:

[code]

This will help us isolate the problem further. Thank you!

/triage needs-information
/kind support

[2021-09-01 18:47] medyagh commented on #11896
Thank you for sharing your experience! If you don't mind, could you provide minikube logs ?

Please attach (drag) the`logs.txt` file to this issue  which can be generated by running this command:

[code]

This will help us isolate the problem further. Thank you!

/triage needs-information
/kind support

[2021-09-01 18:50] medyagh commented on #11902
@alban curious why are trying to build ISO ?

[2021-09-01 18:57] medyagh commented on #11914
I haven't heard back from you, I wonder if you still have this issue? I recommend using hypver instead of virtualbox

Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more informatio

[2021-09-01 18:57] #11914 closed

[2021-09-01 18:59] medyagh commented on #11932
Would you please attach (drag) the`logs.txt` file to this issue  which can be generated by running this command:

[code]

[2021-09-01 19:00] sharifelgamal commented on #10085
I suspect this remains an issue, but we haven't had the bandwidth to look at this more closely. Help is of course wanted and we'd be happy to review any PRs that fix this.

[2021-09-01 19:00] spowelljr commented on #12117
@tomaszkolodziej Thanks for attaching the log file! I can see from it you're restarting an existing instance, I'd recommend running `minikube delete --all` if you already haven't to clear out the existing virtualbox VM and then try starting minikube again.

[2021-09-01 19:02] medyagh commented on #11938
@DimitrijeManic I am not fimmiliar with this issue
@sadlil might have better insight on this ?

I am curious did u get tot the root cause or find out more about it ?

[2021-09-01 19:03] sharifelgamal commented on #10970
@sayantani11 go for it! I'd be happy to review a PR that adds this documentation.

[2021-09-01 19:06] spowelljr commented on #12048
Hi @HemanthAditi, thanks for reporting you issue with minikube!

Have you tried running the advice listed in the logs?
`Failed to start hyperv VM. Running "minikube delete" may fix it`

[2021-09-01 19:07] medyagh commented on #11947
@victor-sudakov tthanks for providing your experience and sharing the work arround ! this could be a tutorial on our website I would accept a PR to add it to our website

and if you want you could make minikube storage provisioneer configurable

@victor-sudakov the storage provisioner is implemented as an addon itself so you should be able to disable the default one

[code]

does that help ?

[2021-09-01 19:07] medyagh commented on #11947
/triage needs-information

[2021-09-01 19:08] spowelljr commented on #11976
Hi @thedag, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-09-01 19:08] #11976 closed

[2021-09-01 19:10] medyagh commented on #11980
Hi @dstjahjono , I haven't heard back from you, I wonder if you tried to download the Latest minikube version ?

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2021-09-01 19:10] #11980 closed

[2021-09-01 19:13] medyagh commented on #11995
@lsoon3 your logs shows that you are trying to run with Vmware
do you mind trying

[code]
and then
[code]

[2021-09-01 19:18] medyagh commented on #12049
@Ultimo12 the log file is missing the important part

do u mind trying the "latest" version of minikube
and then  Please attach (drag) the`logs.txt` file to this issue  which can be generated by running this command:

[code]

This will help us isolate the problem further. Thank you!

/triage needs-information
/kind support

[2021-09-01 19:21] sayantani11 commented on #10970
@sharifelgamal I guess the solution is already added. Isn't it? or am I wrong?
https://minikube.sigs.k8s.io/docs/drivers/hyperv/#troubleshooting

[2021-09-01 19:21] alban commented on #11902
@medyagh  I was trying to build the Minikube iso with a kernel that has the following options:
- CONFIG_IKHEADERS
- CONFIG_FTRACE_SYSCALLS
- CONFIG_DEBUG_INFO_BTF

See https://github.com/kubernetes/minikube/issues/8556

At the moment, we are using this fork to be able to make BPF workshops on Minikube:
https://github.com/kinvolk/cloud-native-bpf-workshop/blob/master/minikube.md

Thanks for the alt

[2021-09-02 02:37] prajwal72556 commented on #11914
Thanks my issue got resolved

On Thu, Sep 2, 2021, 12:27 AM Medya Ghazizadeh ***@***.***>
wrote:

[2021-09-02 03:10] RA489 commented on #12385
@KozakAG Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank you for sharing your experience!

[2021-09-02 03:10] RA489 commented on #12385
/triage needs-information

[2021-09-02 03:11] RA489 commented on #12383
/kind support

[2021-09-02 04:19] mkoval commented on #9022
As far as I can tell, there are still not any instructions on the [ingress-dns addon docs](https://minikube.sigs.k8s.io/docs/handbook/addons/ingress-dns/) about how to configure systemd-resolve to use this DNS server.

I was pieced together some understanding of how this _should_ work from @darkn3rd's comment, [the Gitlab MR](https://gitlab.com/cryptexlabs/public/development/minikube-ingress-dns/-

[2021-09-02 06:13] gaoxinge commented on #11881
@sharifelgamal Before pr merge, you can try the commands below

[code]

[2021-09-02 07:58] htjain commented on #12382
Looks like somehow minikube container is not getting created. Any pointers how to debug it further?

` Error: error inspecting object: no such container minikube`

[2021-09-02 09:25] victor-sudakov commented on #11947
Actually, the bundled storage provisioner is a very nice thing to have, I don't want to disable it, I would prefer for it to support arbitrary storage classes transparently.

[2021-09-02 10:11] vanmash commented on #12361
There was nothing strange/specific in my environment variables. However changing `Regional format` to English (UK) in Windows 10 settings --> region makes `minikube` display in English.
The thing is that `minikube` is the only tool doing this.

[2021-09-02 11:57] rafacouto commented on #11932
@medyagh  Here it goes: [minikube_debian11.log](https://github.com/kubernetes/minikube/files/7098613/minikube_debian11.log) This log was generated right now! (something may be different from the opening issue, like debian 11 is the current stable...)

Tip: the issue could be related to the docker because minikube runs OK with the kvm2 driver.

[2021-09-02 13:54] yosshy opened #12388 "Japanese translation needs a policy"
We found variants of Japanese translation in translations/ja.json. For example,

- driver
  - ドライバ
  - ドライバー
- '{{...}}'
  - '{{...}}'
  - 「{{...}}」
- command line
  - command line
  - 「command line」

So, we need a policy for consistent Japanese translation. [和訳一般](https://github.com/kubernetes/dashboard/tree/master/i18n/ja#%E5%92%8C%E8%A8%B3%E4%B8%80%E8%88%AC) from Kubernetes Dashboard Japanese i

[2021-09-02 14:00] MarkEwer commented on #2015
I want to up-vote this feature. I have been using Docker Desktop because it is really the only game in town if you need to run a mix of Windows and Linux containers on your developer workstation. But, Docker just upped the price for Docker Desktop to $21 per developer per month. While their product is very strong and I will pay that price to continue developing my product, if MiniKube was an alter

[2021-09-02 14:02] twz123 opened #12389 "kubeadm.skip-phases=addon/kube-proxy is not honored when restarting an existing cluster"
**Steps to reproduce the issue:**

[code]

Output is as follows for me:

[code]

After the restart, the kube-proxy daemonset is installed, which shouldn't be the case.

**`minikube logs --file=minikube.log`**
[minikube.log](https://github.com/kubernetes/minikube/files/7099442/minikube.log)

[2021-09-02 17:02] spowelljr opened #12391 "Documentation changes updating before release causing user confusion"
I just addressed a PR (#12387) where a user was proposing to remove a flag from the documentation because when they ran `--help` on the latest version of minikube that flag wasn't present. This was because the PR (#11553) that added the flag was merged after last release, so the documentation was updated but the feature doesn't yet exist in the latest version of minikube.

Thought this was worth d

[2021-09-02 17:49] #12386 closed

[2021-09-02 23:48] spowelljr opened #12399 "Fix building for ppc64le and arm(v7) in kicbase"
Building for ppc64le in kicbase was failing so we removed it (#12398) so we could release, ppc64le should be revisited and added back.

[2021-09-02 23:49] sharifelgamal commented on #12399
the error itself:
[code]

[2021-09-03 00:05] t-inu commented on #12388
As I commented at https://github.com/kubernetes/minikube/pull/12364#issuecomment-910952611, I agree with using the Dashboard policy.

[2021-09-03 00:17] minikube-bot opened #12400 "Frequent test failures of `TestFunctional/parallel/MountCmd/any-port`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Cloud_Shell](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Cloud_Shell&test=TestFunctional/parallel/MountCmd/any-port)|100.00|

[2021-09-03 00:57] sharifelgamal commented on #12399
for armv7:
[code]

[2021-09-03 02:32] YuikoTakada commented on #12388
@t-inu thank you for your suggestion.
I also agree with Dashboard policy.

[2021-09-03 02:37] shu-mutou commented on #12388
I had created the translation policy for dashboard. Please ask me if you have question.

[2021-09-03 05:33] afbjorklund commented on #12399
You can view the upstream packages here: https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable

* https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/catatonit

* https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/cri-tools

* https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman-plugins

Seems like the `ppc64l

[2021-09-03 05:36] afbjorklund commented on #12399
For Docker, I think you have to resort to the tarballs rather than the packages ? But upstream _claims_ to support both:

https://docs.docker.com/engine/install/ubuntu/

[code]

[2021-09-03 05:41] #11658 closed

[2021-09-03 05:55] kadern0 commented on #12272
Ola @VictorViana, este erro e porque minikube nao atopa nenhum browser para conectar a URL. Normalmente o Desktop Environment ja configura o navegador por defecto mais voce posse configuralo coa variable $BROWSER.

Estas a ejecutar os comandos dende umha terminal ou dende X11?

[2021-09-03 08:08] tcchen123 commented on #12316
Thanks Anders Björklund. It worked.
minikube start --kubernetes-version=v1.22.0

[2021-09-03 08:14] rvishwas opened #12402 "Minikube dashboard fails with error"
I have setup minikube as per the given URL https://minikube.sigs.k8s.io/docs/start/ using docker as default driver.
I am able to run minikube kubectl successfully, but not able to start dashboard.

**Steps to reproduce the issue:**

1.  minikube start
2.  minikube dashboard

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if n

[2021-09-03 10:14] t-inu opened #12403 "Create l/ja label and issue template for Japanese"
Please create `l/ja` label for Japanese. I don't have the authority to create it.
Then I will add ja.md in .github/ISSUE_TEMPLATE.

[2021-09-03 13:48] inanib opened #12404 "Minikube failed to start"
**Steps to reproduce the issue:**
We get below error after execute "minikube start" command:

[preflight] Pulling images required for setting up a Kubernetes cluster
[preflight] This might take a minute or two, depending on the speed of your internet connection
[preflight] You can also perform this action in beforehand using 'kubeadm config images pull'
[certs] Using certificateDir folder "/var/li

[2021-09-03 17:56] mddoor opened #12406 "enable addon 'gcp-auth' on minikube MK_ADDON_ENABLE"
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>
Log file created at: 2021/09/03 12:59:54
Running on machine: MD6821-2
Binary: Built with gc go1.16.4 for windows/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:line] msg

[2021-09-03 18:40] nsourov commented on #7332
Any update regarding this issue?

[2021-09-03 18:54] sharifelgamal commented on #7332
Release is underway right now, 1.23.0 will be released today.

[2021-09-03 22:02] spowelljr opened #12410 "Update cri-o from v1.20.0 to v1.22.0"
The crio-bin hash constantly changes and causes an issue when building ISO since we hardcode the sha so we can check for mitm attacks. We need to find a way to remedy this since we've made PRs to change the hash 5 times and it has changed once again.

[2021-09-03 22:03] spowelljr commented on #12410
cc @afbjorklund

[2021-09-04 04:35] mehabhalodiya commented on #12034
I would like to work on this.
Can anyone @medyagh  tell me what exactly needs to be changed?

[2021-09-04 04:40] mehabhalodiya commented on #12077
I would like to work on this.
Can anyone @sharifelgamal tell me what exactly needs to be changed?

[2021-09-04 09:05] tomaszkolodziej commented on #12117
Thx, delete helps :)

[2021-09-04 12:43] afbjorklund commented on #12410
This was supposed to be fixed in https://github.com/cri-o/cri-o/issues/4820, for cri-o version `v1.22.0`.

So the problem should disappear, once minikube gets upgraded (currently still on 1.20, not even 1.21)

[2021-09-04 13:50] Oneal65 opened #12413 "minikube start失败"
**重现问题所需的命令**：

minikube start

**失败的命令的完整输出**：<details>
![image](https://user-images.githubusercontent.com/13121552/132096716-51b9833d-31e6-4b68-9479-7daa678bbeac.png)

</details>

**`minikube logs`命令的输出**： <details>
Log file created at: 2021/09/04 21:42:51
Running on machine: ONEALLIU-MB0
Binary: Built with gc go1.16.4 for darwin/amd64
Log line format: [IWEF]mmdd hh:mm:ss.uuuuuu threadid file:li

[2021-09-05 20:21] chandler14362 opened #12414 "Ingress functionality broken on 1.23 with kubernetes 1.22.1"
**Steps to reproduce the issue:**

1. minikube start
2. minikube addons enable dashboard
3. minikube dashboard --url

Here is my kubectl version output:
`Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.1", GitCommit:"632ed300f2c34f6d6d15ca4cef3d3c7073412212", GitTreeState:"clean", BuildDate:"2021-08-19T15:38:26Z", GoVersion:"go1.16.6", Compiler:"gc", Platform:"darwin/amd64"}

[2021-09-06 02:43] djgraff209 commented on #11652
Should this issue now be punted to milestone 1.24.0 since 1.23.0 went out with out it?

[2021-09-06 05:15] RA489 commented on #12414
/kind support

[2021-09-06 05:15] RA489 commented on #12413
/kind support

[2021-09-06 05:15] RA489 commented on #12406
/kind support

[2021-09-06 05:15] RA489 commented on #12404
/kind support

[2021-09-06 05:16] RA489 commented on #12403
/kind feature

[2021-09-06 05:16] RA489 commented on #12402
/kind support

[2021-09-06 05:16] RA489 commented on #12389
/kind support

[2021-09-06 05:56] #12316 closed

[2021-09-06 08:35] otharry commented on #12366
I have the exact same issue as  described by @jainilparikh - any hints would be welcome!

[2021-09-06 09:02] Chessray opened #12415 "minikube failing to start on MacOS"
**Steps to reproduce the issue:**

1. Install minikube using homebrew.
2. minikube start

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

[logs.txt](https://github.com/kubernetes/minikube/files/7114669/logs.txt)

[2021-09-06 12:18] zulgey opened #12416 "Problem in Starting minikube on window10"
**Steps to reproduce the issue:**

1. minikube start
2. minikube start --driver=hyperv
3.

**when executing the above startup commands for minikube I get the following output**

**Full output of failed command if not `minikube start`:**
* minikube v1.23.0 en Microsoft Windows 10 Home Single Language 10.0.19042 Build 19042
* Using the hyperv driver based on user configuration

* Exiting due to PROV

[2021-09-06 13:15] fredjeronimo commented on #10501
Hi all. Is there an ETA by any chance for this upgrade?

We are also using Minikube with Ceph in our development cycle, so very keen to get this in if possible.

The main goal is to avoid using our Azure testing cluster for our developers' local testing but, at present, the `flatten in progress` that occurs when restoring snapshots from rbd images with deep-flatten image feature is very time consu

[2021-09-06 13:51] d3vpasha commented on #1990
I still have this issue with minikube. fsGroup configuration does not apply & the volume that I mounted using hostPath has still as owner root & group root. I don't have other choice than going through initContainers to change the owner with an old "chown"

[2021-09-06 14:14] RA489 commented on #12416
/kind support

[2021-09-06 14:14] RA489 commented on #12415
/kind support

[2021-09-06 14:58] afbjorklund commented on #11652
Possibly wrong to add a "tracker" bug, most things except for podman/cri-o actually did make it...

[2021-09-06 15:14] djgraff209 commented on #11652
Understood and thank you for your efforts.

Is there any clarity around an updated podman? I'm super interested in using this as a docker desktop replacement on windows and Mac.

All of the clients that are available are 3.3.0 or later which are not compatible with the 2.2.1 API version bundled.

Thank you again

[2021-09-06 15:57] afbjorklund commented on #11652
Podman is not fully supported for running containers with, it's more like a support tool to CRI-O (for loading and building)

So the main use is for `minikube image`, but I think that it still works OK as long as you install a `podman2` separately...

There is no support for rootless containers though, so you have to run `sudo podman` (or use `minikube podman-env`)

If looking for a tool similar t

[2021-09-06 16:17] afbjorklund commented on #11652
There are a lot of "Podman Desktop" discussions elsewhere though, including a Podman Community meeting happening tomorrow.

But we might have to add a FAQ about Docker Desktop (and also Docker Engine), since it is the preferred minikube driver now...

[2021-09-06 17:05] djgraff209 commented on #11652
I think my main focus was being able to do minikube + podman-env for the near term - heck even docker-env with the cli might suffice.

The one thing that was most appealing was the ability to use either hyperkit (macos) or hyper-v (windows 10 ent/pro). The virtualization options looked much cleaner in those respects.

Thanks again for providing alternatives to just docker desktop as well as a soli

[2021-09-06 17:05] medyagh commented on #12410
@spowelljr lets upgrade the crio to 1.22 then everywhere kic/iso

[2021-09-06 17:14] afbjorklund commented on #11652
Those features will remain for the foreseeable future, a bit of a pity with the lack of compatibilty between podman2 and podman3 (and soon it will break again with podman4!) and about the slow adoption of `ssh:` support in the docker client and libraries.

But right now it is mostly the containerd runtime that lacks a proper environment, due to shortcomings in the tools (but workarounds documented

[2021-09-06 17:25] afbjorklund commented on #11652
Closing this issue, due to that the OS and docker/containerd did make it (and nobody cares about podman/crio)

[2021-09-06 17:25] #11652 closed

[2021-09-07 13:01] EricoCartmanez commented on #567
<img width="856" alt="Screenshot 2021-09-07 at 4 00 14 PM" src="https://user-images.githubusercontent.com/37179870/132349006-48ff76a9-c4e5-4b1f-92ac-e5f50e712eab.png">

Any ideas why I get that?..

<img width="856" alt="Screenshot 2021-09-07 at 4 00 14 PM" src="https://user-images.githubusercontent.com/37179870/132349074-422b2c08-8140-4da9-ad0e-ca9fae1edb43.png">

[2021-09-07 14:11] sayantani11 commented on #7879
Is the issue solved? I also use minikube on WSL, but I haven't faced this problem as of now. But I am also unable to go through the entire conversation, can someone summaries may be?

[2021-09-07 14:13] sayantani11 commented on #7879
Try:
`minikube start --vm-driver=docker`
`minikube ip = <ip>`

[2021-09-07 14:13] sayantani11 commented on #7879
And we should have docker running in the background or else it won't work I guess

[2021-09-07 15:33] spowelljr commented on #12403
@t-inu Create a PR for the issue template and I'll be sure to create the label before I merge it, thanks!

[2021-09-07 16:54] bouteillerAlan opened #12421 "Exiting due to RUNTIME_ENABLE on minikube start"
**Steps to reproduce the issue:**

1. install docker & docker compose on fedora (i have a podman instance too)
2. set up docker to run without sudo
3. [install kubectl](https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/)
4. install stable minikube via rpm in linux x86/64 via [the website instruction](https://minikube.sigs.k8s.io/docs/start/)
5. run `minikube start --driver=docker`

**re

[2021-09-07 17:36] afbjorklund commented on #12421
This is due to btrfs, see other issues on the same topic: #7923

[2021-09-07 17:36] rwxrob opened #12422 "`curl -Lo` Error"
**Steps to reproduce the issue:**

1. Open documentation
2. Read step 1 of Getting Started
3. Attempt the `curl -Lo` line from Windows Powershell

<details>
Copying and pasting the `curl -Lo ...` line from the install
instructions produces a PowerShell `Invoke-WebRequest` error with the
message "A parameter cannot be found that matches parameter name 'Lo'.

This can be bypassed by just omitting th

[2021-09-07 17:40] afbjorklund commented on #7879
Trying to use systemd where not available is probably a bug, though: https://github.com/kubernetes/minikube/issues/12276#issuecomment-899780802

[2021-09-07 20:34] Bigsmooth68 commented on #12414
Hello,
Did you check ingress-nginx-controller pod log ?

[2021-09-07 20:36] ayeks commented on #12382
I get the same error for:

OS: Ubuntu 21.04 5.11.0-31-generic x86_64
Podman version: 3.0.1
minikube version: v1.23.0

Full output:

<details>

[code]

</details>

[2021-09-07 20:39] nnordrum opened #12423 "Is there a reason the IP for HyperKit is hard-coded with no ability to change it?"
https://github.com/kubernetes/minikube/blob/dd6e299cd843e6a25a87f91444ead7ad56ad9406/pkg/minikube/cluster/ip.go#L117-L118

Obviously you could recompile it, but seems like making this configurable _should_ be easy

[2021-09-07 20:51] iamnoah opened #12424 "ingress-dns no longer works on MacOS in minikube 1.23"
MacOS BigSur 11.5.2

Following the [ingress-dns setup](https://minikube.sigs.k8s.io/docs/handbook/addons/ingress-dns/).

**Steps to reproduce the issue:**

1. `minikube start --vm=true`  tried with and without --vm=true
   <details>

[code]
   </details>
2.  &nbsp;
[code]
3.  &nbsp;
[code]

 4.  &nbsp;
[code]

Then verification:

[code]

`lsof` shows nothing is listening on port 53:

[logs.txt](ht

[2021-09-07 20:52] iamnoah commented on #12424
Also, downgrading to 1.22 resolves the issue for us.

[2021-09-07 21:31] spowelljr commented on #12117
Glad that worked!

[2021-09-07 21:31] #12117 closed

[2021-09-07 21:34] spowelljr commented on #12422
Hi @rwxrob, thanks for reporting you issue with minikube!

There's currently a PR up that addresses this exact issue #12397, once it's merged this should be resolved.

[2021-09-07 21:51] spowelljr commented on #12365
Hi @elvisbort, thanks for reporting this issue with minikube!

This is definitely not intended and should be fixed.

We are open to anyone that's interested in helping with this issue!

[2021-09-07 22:05] spowelljr commented on #12389
Hi @twz123, thanks for reporting your issue with minikube!

I was able to reproduce using your steps and can confirm this is a bug with minikube.

[2021-09-07 23:30] zarenner opened #12426 "VMWare driver mount broken in 1.23"
Upgraded to 1.23 and driver mounts in VMWare Fusion appear to be broken. The `/mnt/hgfs` folder is entirely missing, and `vmhgfs-fuse` utility is missing.

**Steps to reproduce the issue:**

1. `minikube start --iso-url=https://storage.googleapis.com/minikube/iso/minikube-v1.23.0.iso --driver=vmware`
2. `minikube ssh`
3. `ls /mnt/hgfs` returns `No such file or directory`
4. `vmhgfs-fuse` doesn't e

[2021-09-08 05:08] t-inu commented on #12403
@spowelljr I created a PR for adding the issue template.
Please confirm https://github.com/kubernetes/minikube/pull/12427.

[2021-09-08 05:59] RA489 commented on #12426
/kind support

[2021-09-08 05:59] RA489 commented on #12423
/kind support

[2021-09-08 07:50] Fcscanf opened #12428 "Unable to pull `dashboard` & `metrics-scraper` images from `registry.cn-hangzhou.aliyuncs.com/google_containers`"
**Steps to reproduce the issue:**

1.I executed minikube start successfully to start minikube, but it failed to start minikube dashboard
[code]
![image](https://user-images.githubusercontent.com/27654200/132467099-236f3396-2c95-42a7-adb7-d2964c8050b7.png)

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`

[2021-09-08 10:03] shadowshot-x opened #12429 "Minikube site Community Page's Footer Links Not working as expected."
I have been going over the minikube website but on the community page https://minikube.sigs.k8s.io/community/, I am facing issues to click on the links in the footer. The Cursor keeps on flickering and I am not able to click anything. This does not happen in pages like https://minikube.sigs.k8s.io/docs/ which use the same footer.

I am using Google Chrome Version 92.0.4515.131 (Official Build) (64

[2021-09-08 10:34] sjansen1 commented on #12414
Same issue after updating from 1.22 to 1.23. Minikube getting preloaded images and prepares containers, got a few pages of errors about applying updates. After that i see on container ingress container crashlooping and i get the same error on the webui.

Tested on Ubuntu and RHEL with Docker. This is easy reproduceable by just install 1.22, start, stop, update minikube to 1.23 and start.

**Enable

[2021-09-08 10:51] shadowshot-x commented on #12402
I also encountered a similar issue while using minikube on Ubuntu 16.04. There might be an issue in configuration. Are you using Kubernetes tools other than minikube on your system separately? [Try to uninstall them and install only minikube.](https://github.com/kubernetes/minikube/issues/6278)

I resolved my issues with the following steps

1.` minikube delete`
2. `docker system prune`
3. `miniku

[2021-09-08 11:40] hiroyaonoe commented on #12365
/assign @hiroyaonoe

[2021-09-08 12:31] rwxrob commented on #12422
Thank you.

[2021-09-08 12:31] #12422 closed

[2021-09-08 15:52] sharifelgamal commented on #12424
Seems to be a service account issue:

[code]

[2021-09-08 15:54] briandealwis opened #12431 "`minikube image build` with docker runtime cannot be configured to use buildkit"
`minikube image build --build-env DOCKER_BUILDKIT=1` should enable Buildkit

**Steps to reproduce the issue:**

1. `minikube start` on Apple M1
2. `minikube image build --alsologtostderr --build-env DOCKER_BUILDKIT=1 --build-opt help .` should include buildkit-related options like `--platform` but still shows the non-buildkit option.

<details>
<summary>minikube image build --alsologtostderr --bui

[2021-09-08 16:50] #12403 closed

[2021-09-08 16:50] #12365 closed

[2021-09-08 17:44] afbjorklund commented on #12431
It seems like RunCmd is broken for the ssh_runner, since cmd.Env was only implemented for the kic_runner.

[2021-09-08 18:01] afbjorklund commented on #12431
The command needs to be prefixed with `env`, and then it works as intended:

[code]

At least once cruntime and maybe others using cmd.Env are fixed as well...

[2021-09-08 18:07] afbjorklund commented on #12384
Will fix this one as well.

[2021-09-08 18:08] afbjorklund opened #12436 "Need some more regression tests for image build"
At least two major features are currently broken, environment variables and build arguments:

* Issue #12431
* Issue #12384

[2021-09-08 18:26] spowelljr commented on #12391
For example: https://docusaurus.io/docs/next
If you look at the top right you can see you can change the version of the website.

We should have the same thing and have the versions match the versions of minikube, this way we won't be showing changes to the documentation before we release the changes. The version should default to the latest version of minikube when visiting the website, should al

[2021-09-08 18:27] spowelljr commented on #12123
Hi @QaSajjad, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-09-08 18:27] #12123 closed

[2021-09-08 18:32] sharifelgamal commented on #12182
Hey @Ajith1005604 – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

[2021-09-08 18:32] #12182 closed

[2021-09-08 18:37] sharifelgamal commented on #12310
Yeah, unfortunately the logs don't tell us much other than the ingress-nginx pods didn't come up in the time we allot for them to, which should be sufficiently long that timing out is a sign of some other failure. The instructions above should help with debugging.

[2021-09-08 19:03] sharifelgamal commented on #11898
Interesting, it looks like SSH breaks when libmachine is trying to retrieve the IP address of the host on restart randomly. I don't have a good reason as to why that would happen, but I'm confident a minikube delete and minikube start would fix the issue.

[2021-09-08 19:08] spowelljr commented on #12429
Hi @shadowshot-x, thanks for reporting your issue with minikube!

That is indeed a weird bug, I tried on my machine but mine worked as expected: Google Chrome Version 93.0.4577.63 (Official Build) (x86_64) on macOS 11.5.2

Maybe someone else can reproduce this issue.

[2021-09-08 19:10] sharifelgamal commented on #11958
So this is definitely the error that the kubelet is returning:
[code]

Seems to be some sort of permissions issue. Unfortunately none of our maintainers have an easy way to test the parallels driver (it's maintained on a best effort basis), but if someone has expertise here, I'd be happy to help out with a PR.

[2021-09-08 19:16] spowelljr commented on #12051
Hi @victor-sudakovm thanks for reporting you issue with minikube!

The way the addon is currently configured it doesn't re-ask for the values if they're already set, as you've discovered. However, since the point of `minikube config` is specifically asking to configure the value, I think this should be changed to always ask for the values.

As a work around for now you can open `~/.minikube/profil

[2021-09-08 19:24] sharifelgamal commented on #11002
Is this still something that needs fixing?

[2021-09-08 19:37] spowelljr commented on #11999
Hi @corbaejb, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-09-08 19:37] #11999 closed

[2021-09-08 19:40] spowelljr commented on #12001
Hi @Abdulrhman-max, thanks for reporting you issue with minikube!

It looks like you don't have a switch setup, is that correct?

https://docs.docker.com/machine/drivers/hyper-v/#example
This is an example of how to setup a switch, let me know if that help.

[2021-09-08 19:42] spowelljr commented on #11605
Hi @aymg01, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

-----

Hola @ aymg01, no hemos tenido noticias tuyas, ¿todavía t

[2021-09-08 19:42] #11605 closed

[2021-09-08 19:45] spowelljr commented on #11343
Hi @dinever, are you still working on this issue?

[2021-09-08 19:46] afbjorklund commented on #12399
@sharifelgamal : this is a bug in the docker packaging for arm32, you need to use the 18.04 packages also on 20.04 :

https://github.com/docker/for-linux/issues/1035

[2021-09-08 19:48] spowelljr commented on #12027
Hi @jayesh-srivastava, to update the test all you need to do is add crun to the list of strings to search for in the output.

https://github.com/kubernetes/minikube/blob/master/test/integration/functional_test.go#L2140

[2021-09-08 19:52] afbjorklund commented on #12399
@sharifelgamal : looks like cri-o is looking for some help, when it comes to supporting ppc64 and I guess also the .deb

https://github.com/cri-o/cri-o/issues/2467

[2021-09-08 19:55] spowelljr commented on #12301
Hi @netwrk197, thanks for reporting your issue with minikube!

Just to ensure we're working with a clean slate could you clear everything via:
[code]

The first command will clear out minikube's home folder containing configs and other files.
The second command will remove unused containers, image, and volumes.

Once you've done that and you're in a clean slate, trying starting minikube again and

[2021-09-08 20:00] spowelljr commented on #12361
If you set the `Regional format` to what you had set before does the issue still persist?

[2021-09-08 20:03] spowelljr commented on #11417
This issue is a duplicate of #8765, since #8765 has been around longer and has more traffic I'm going to close this issue. Please feel free to follow along and contribute to #8765, thanks!

[2021-09-08 20:03] #11417 closed

[2021-09-08 20:04] spowelljr commented on #12363
Since this issue is a duplicate of #8765 I'm going to close this one. Please feel free to follow along and contribute to #8765, thanks!

[2021-09-08 20:04] #12363 closed

[2021-09-08 20:06] spowelljr commented on #12347
Since this issue is a duplicate of #8765 I'm going to close this one. Please feel free to follow along and contribute to #8765, thanks!

[2021-09-08 20:06] #12347 closed

[2021-09-08 20:10] spowelljr commented on #12416
Hi @zulgey, thanks for reporting your issue with minikube!

Try enabling Hyper-V via control panel using the following steps and let me know if that solves your issue.

[code]
Instructions from: https://www.partitionwizard.com/partitionmanager/hyper-v-assembly-not-found-error.html

[2021-09-08 21:28] jayesh-srivastava commented on #12027
Hey @spowelljr I have understood and will update the test. Thank you. I already made a PR earlier without updating the test. Should I make a new one?

[2021-09-08 21:30] #12051 closed

[2021-09-08 21:30] spowelljr commented on #12051
My change fixing this is merged in, this will be fixed with the next release of minikube.

[2021-09-08 21:32] spowelljr commented on #12027
@jayesh-srivastava You should update the existing PR since it hasn't been merged yet, just commit another change to the same branch and push it again, thanks!

[2021-09-08 21:54] jayesh-srivastava commented on #12027
@spowelljr Gotcha, thanks!

[2021-09-08 22:23] jayesh-srivastava commented on #12027
Hey @spowelljr, made the necessary change and updated the existing PR.

[2021-09-08 22:32] rsanluis opened #12438 "Unknown error (404) the server could not find the requested resource (get ingresses.extensions)"
**Steps to reproduce the issue:**

minikube version
minikube version: v1.23.0
commit: 5931455374810b1bbeb222a9713ae2c756daee10

macOS Big Sur version 11.5.2
Docker Desktop Version 4.0.0 (4.0.0.12)

1. minikube start
minikube start
😄  minikube v1.23.0 on Darwin 11.5.2
✨  Using the docker driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base i

[2021-09-08 22:41] spowelljr commented on #12027
@jayesh-srivastava The change looks good, thanks! Waiting for the tests to finish to make sure they pass.

In the meantime, could you address @medyagh's comment: https://github.com/kubernetes/minikube/pull/12381#issuecomment-909670462

All he's asking is to run `minikube version --components` against the master branch and save the output and then do the same thing on your own branch and then put b

[2021-09-08 22:41] jayesh-srivastava commented on #12027
@spowelljr Sure will try to address this.

[2021-09-08 23:21] spowelljr commented on #12410
It looks like cri-o stopped supporting s390x after 1.20.

**1.20**
<img width="180" alt="Screen Shot 2021-09-08 at 4 08 57 PM" src="https://user-images.githubusercontent.com/44844360/132597377-163e6eb8-1836-4505-8f73-3e86ec9bee0f.png">
https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.20/xUbuntu_20.04/

**1.22**
<img width="173" alt="Screen Shot 2021-09-08 at

[2021-09-08 23:49] spowelljr commented on #12414
Hi @chandler14362, thanks for reporting your issue with minikube!

This is a known issue and we have someone working on the issue (#12424).

To keep all the information and conversation centralized I'm closing other issues and re-directing to #12424. Please feel free to contribute and follow along there, thank you for your understanding!

[2021-09-08 23:49] #12414 closed

[2021-09-08 23:50] spowelljr commented on #12438
Hi @rsanluis, thanks for reporting your issue with minikube!

This is a known issue and we have someone working on the issue (#12424).

To keep all the information and conversation centralized I'm closing other issues and re-directing to #12424. Please feel free to contribute and follow along there, thank you for your understanding!

[2021-09-08 23:50] #12438 closed

[2021-09-08 23:58] jcdickinson commented on #12424
This is also happening under Linux (Fedora) with the Docker engine.

[2021-09-08 23:59] spowelljr commented on #12428
Hi @Fcscanf, thanks for reporting you issue with minikube!

Could you please run `minikube logs --file=logs.txt` and attach the log file to this issue, this will help us with the debugging process, thanks!

[2021-09-09 00:49] spowelljr commented on #12413
Hi @Oneal65, thanks for reporting your issue with minikube!

It looks like you're being blocked from accessing `k8s.gcr.io`, possibly from a firewall or being located in China.
[code]

If you're located in China or your firewall blocks Google try appending the following flags to your start command: `--image-mirror-country='cn' --image-repository='registry.cn-hangzhou.aliyuncs.com/google_containers

[2021-09-09 01:02] Fcscanf commented on #12428
Hi @spowelljr ,Thank you for checking, I have uploaded the log files related to the dashboard
![image](https://user-images.githubusercontent.com/27654200/132605166-5c608b8d-a23a-4936-9ca8-b843327aae82.png)

[2021-09-09 01:22] Oneal65 commented on #12413
Thank yuo

[2021-09-09 01:22] #12413 closed

[2021-09-09 01:22] Oneal65 commented on #12413
Thanks

[2021-09-09 03:49] SandraPAM commented on #4587
Thanks, this really works for me, VirtualBox finally starts my vigrant machine.
Just a little observation, after this command i wasn't able to open mu Linux distribution (Ubuntu), but this new issue has been solved:
"Turn Windows features on or off" > Deactivate the following: **Vistual Machine Platform, Windows Hypervirsor Platform and Windows Subsystem for Linux**

--DONE

[2021-09-09 04:12] t-inu commented on #12388
/label l/ja

[2021-09-09 05:06] afbjorklund commented on #12410
We should disable cri-o on that architecture (making the packages conditional)

We have a similar issue with docker on armv7.

[2021-09-09 08:45] paulstelian97 commented on #4587
@SandraPAM WSL2 (the new modern version of WSL) requires Hyper-V though, that's the biggest issue.

[2021-09-09 08:54] vanmash commented on #12361
@spowelljr Yes, that's right.

`Regional format` set to "Polish"
[code]

`Regional format` set to "English"

[code]

[2021-09-09 10:48] diepes opened #12440 "Error downloading kic artifacts: not yet implemented, see issue #8426"
**Steps to reproduce the issue:**

1. Ubuntu - install minikube_latest_amd64.deb, get error, then try
2. Ubuntu - install minikube_beta_amd64.deb , get error
3. with $ minikube start

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>
$ minikube start
😄  minikube v1.22.0-beta.0 on Ubuntu 21.04

[2021-09-09 11:33] zulgey commented on #12416
Hi @spowelljr , thanks for the answer, but when verifying I realize that Hyper-v is not in the options to activate or deactivate features of windows

The version is Windows 10 Home Single Language

[2021-09-09 11:33] mohitaligne opened #12441 "Initilization failed on Windows"
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-09-09 13:12] husky-parul commented on #2735
I get 404 on the above link

[2021-09-09 14:16] yosshy commented on #12388
/cc @hiroygo @tomocy
Any comment?

[2021-09-09 14:21] tstromberg commented on #2735
It looks like the URL moved: https://minikube.sigs.k8s.io/docs/handbook/host-access/

[2021-09-09 14:36] ziemerz commented on #11645
I am facing similar issues on Mac with the hyperkit driver

[2021-09-09 16:27] spowelljr commented on #12428
Hi @Fcscanf, I have read through all those logs but I need more information to be able to debug this problem. The `minikube logs` command contains additional logs that would help with this effort.

[2021-09-09 16:40] afbjorklund commented on #12440
The real error is something else (in the logs from the _first_ start), the images should pull from registry even if not cached OK

[2021-09-09 16:52] spowelljr commented on #12361
From my point of view minikube is actually doing what is expected of it. When you have the `Region format` set to "Polish" minikube is detecting that and using its Polish translations. Like we previously talked about you can override minikube's language detection using `LC_ALL` but everything seems to be working as expected from my point of view.

[2021-09-09 16:55] spowelljr commented on #12416
@zulgey I did some digging and found the following response:
[code]
https://docs.microsoft.com/en-us/answers/questions/29175/installation-of-hyper-v-on-windows-10-home.html

However in that Q&A I also found a link to the following that others were having success with.
https://www.itechtics.com/enable-hyper-v-windows-10-home/

[2021-09-09 16:57] jayesh-srivastava commented on #12027
Hey @spowelljr regarding yesterday's PR, only one test is failing. Can you please address this and tell me what's the issue?

[2021-09-09 16:59] jayesh-srivastava commented on #12027
@spowelljr Attaching a screenshot for your reference:
![Screenshot (803)](https://user-images.githubusercontent.com/49337716/132729845-184515e5-fde3-445b-ae36-e327f8348826.png)

[2021-09-09 17:14] spowelljr commented on #12027
@jayesh-srivastava minikube has tests that are flakey (fail from time to time), in this case the test that failed is `TestFunctional/parallel/MountCmd/any-port` which is completely unrelated to anything you changed. So don't worry about the test failure, we're used to it and know to check what exactly failed and ignore it if it's unrelated.

[2021-09-09 17:16] vanmash commented on #12361
You are probably right. The thing is that `minikube` is the only tool which behaves that way (at least for me). I guess this issue might be closed. Thank you!

[2021-09-09 17:28] spowelljr commented on #12361
It's possible that the language detecting library that minikube is using is more optimized for Windows than other programs, that's my guess. Glad to help! I'll close this issue but feel free to comment and/or re-open the issue if needed.

[2021-09-09 17:28] #12361 closed

[2021-09-09 17:31] #11476 closed

[2021-09-09 17:35] jayesh-srivastava commented on #12027
Oh okay @spowelljr. So will my PR be approved?

[2021-09-09 17:51] spowelljr commented on #12027
Your PR is already approved, it just needs to be merged, I'll merge it now.

[2021-09-09 17:51] #12027 closed

[2021-09-09 18:09] spowelljr commented on #12410
Created issue with cri-o to create s390x packages: https://github.com/cri-o/cri-o/issues/5292

[2021-09-09 18:11] jayesh-srivastava commented on #12027
Thanks @spowelljr

[2021-09-09 19:56] spowelljr commented on #12441
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us debug the problem further, thank you!

[2021-09-09 20:32] phumpal opened #12442 "addons: ambassador crd validation failure"
**Steps to reproduce the issue:**

1. `minkube delete`
2. `brew upgrade minikube`
3. `minikube config set driver hyperkit`
4. `minikube start`
5. `minikube addons enable registry-creds`
6. `minikube addons enable ambassador`

**minikube addons enable ambassador**
<details>

**out**

[code]

**logs.txt**
[code]
</details>

[2021-09-10 00:10] mattf9 opened #12444 "minikube does not start"
**Steps to reproduce the issue:**

1. install minikube - ubuntu 20.04.3 LTS
2. start minikube - runs fine
3. shut down ubuntu host normally
4. start minikube with "minikube start"
5. step 4 fails with "Failed to start kvm2 VM. Running "minikube delete" may fix it: creating host: create: Error creating machine: Error in driver during machine creation: IP not available after waiting: machine minikub

[2021-09-10 02:20] tomocy commented on #12388
I also agree with this proposal.

[2021-09-10 06:05] Fcscanf commented on #12428
Thank you for checking again, I have added the relevant log files under the comment。
![image](https://user-images.githubusercontent.com/27654200/132807449-1efa82a0-2d95-4641-8454-0a00bea2592d.png)

[minikube_logs_9246e7b09b9f13f7147fa2d5bfd173ecc73ec530_0.log](https://github.com/kubernetes/minikube/files/7141572/minikube_logs_9246e7b09b9f13f7147fa2d5bfd173ecc73ec530_0.log)

[minikube_logs_ccea9542

[2021-09-10 11:27] jeyjeyemem opened #12445 "NGINX Ingress addon Role resource references incorrect ConfigMap"
**Steps to reproduce the issue:**

1. minikube start
2. minikube addons enable ingress

**Version:**
minikube version: v1.23.0
commit: 5931455374810b1bbeb222a9713ae2c756daee10

I am seeing below error when enabling NGINX Ingress via Minikube addons:

**NGINX Controller Pod Logs:**

[code]

The pod is logging errors that it doesn't have access to the `ingress-controller-leader` ConfigMap. After loo

[2021-09-10 12:06] marcelned opened #12447 "Corporate firewall issues"
Our corporate firewall only allows access to dockerhub.

I have tried the standard **gcr**  as well as the chinese alternative.
[code]

any chance the PowerPC images can be uploaded to dockerhub?

[2021-09-10 13:04] dR3b commented on #12424
[code]
Arch Linux, not working

[2021-09-10 17:22] mrvreddy opened #12448 "Minikube not starting on mac"
**Steps to reproduce the issue:**

1. Install minikube using brew
2. minikube start

Exiting due to PROVIDER_INVALID_VERSION: Your existing minikube instance has version 1.2.0 of service containerd which is too old. Please try to start minikube with --delete-on-failure=true option

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**
[logs.txt](https://github.com/

[2021-09-10 17:54] spowelljr commented on #12428
Hi @Fcscanf, thanks for uploading the logs, unfortunately there seems to be some issues.

1. Not an issue, but when you pass the `--file=logs.txt` it should should generate a `logs.txt` file in the dir you're running the command from and you can upload that instead of having to find the file in the `/tmp` dir.
2. You uploaded two files containing the output for `minikube logs`, the first one conta

[2021-09-10 18:13] spowelljr commented on #12442
Hi @phumpal, thanks for reporting your issue with minikube!

I was able to reproduce your error, this regression is caused by https://github.com/kubernetes/minikube/pull/12230.

This is something that will have to be looked into and fixed, thank you very much for brining it to our attention!

[2021-09-10 18:23] spowelljr commented on #12448
Hi @mrvreddy, thanks for reporting your issue with minikube!

It seems you're trying to start an existing minikube instance with a new version, this can sometimes be incompatible due to changes.

To fix this, first run `minikube delete` and then try running `minikube start` again which should hopefully resolve your issue.

Let me know if that works, thanks!

[2021-09-10 19:49] phumpal commented on #12442
@spowelljr :+1: thanks!

FWIW for those looking for a temporary fix while this is patched here's a potential workaround

[code]

P.S. I'm not sure who maintains the Homebrew formula but installing a specific version doesn't appear to be an option (e.g. `brew install minikube@1.22.0`) but that's probably a GH issue for a different org/repo ;)

[2021-09-10 23:00] #12445 closed

[2021-09-11 00:32] PabloG6 opened #12451 "Minikube return 404 on dashboard for ingress"
Macbook Air with m1 chip,
Macos Big Sur 11.5.2
**Steps to reproduce the issue:**

1. minikube start --driver=docker
2. minikube addons enable ingress
3. kubectl create deployment web --image=gcr.io/google-samples/hello-app:1.0
4.

**Full output of failed command if not `minikube start`:**
<details>
*
* ==> Audit <==
* |---------|--------------------------|----------|------------|---------|--------

[2021-09-11 20:14] #11041 closed

[2021-09-12 00:17] minikube-bot opened #12452 "Frequent test failures of `TestAddons/parallel/CSI`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestAddons/parallel/CSI)|25.00|

[2021-09-12 00:17] minikube-bot opened #12453 "Frequent test failures of `TestAddons/parallel/HelmTiller`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Hyperkit_macOS&test=TestAddons/parallel/HelmTiller)|20.51|

[2021-09-12 07:23] kishor82 commented on #2922
NAME                CLASS    HOSTS           ADDRESS   PORTS   AGE
dashboard-ingress   <none>   dashboard.com             80      111m

- I am not able get ADDRESS

[2021-09-12 10:43] soleimaniamir opened #12454 "Error while running minikube with Hyper-V"
I'm trying to run minikube with Hyper-V vm-driver:

[code]
Before running start command I tried this:

[code]
and:

[code]
my minikube version is:

[code]
what should I do?

[2021-09-12 11:27] jeyjeyemem opened #12455 "Ingress addon missing an IngressClass resource"
**Steps to reproduce the issue:**

1. minikube start
2. minikube addons enable ingress

`ingress-nginx-controller` is not able to process `Ingress` resources marked with `ingressClassName: nginx` due to lack of an `IngressClass` resource in the addon manifest:
https://github.com/kubernetes/minikube/blob/master/deploy/addons/ingress/ingress-deploy.yaml.tmpl

[2021-09-12 15:29] Fcscanf commented on #12428
Hi，@spowelljr,I am very glad that you responded to my question seriously. I have successfully output the relevant log files and upload them through `minikube logs` command.
[logs.txt](https://github.com/kubernetes/minikube/files/7149818/logs.txt)

Regarding what you see in my other logs and screenshots, the inconsistency is caused by my wrong operation. At the beginning, the wrong command may be u

[2021-09-12 23:46] dsedivec commented on #12426
Having this here too.  I did see this in the logs:

[code]

Presumably that last would work if the vmhgfs kernel module was available—but open-vm-tools says that's been deprecated in favor of vmhgfs-fuse, as zarenner said.

[2021-09-13 05:17] afbjorklund commented on #12426
The kernel was kept back, so it should **not** be related to that (upgrading from Linux 4 to Linux 5, that is)

[2021-09-13 05:57] AkihiroSuda opened #12456 "request: cgroup v2 CI infra (for testing Rootless Docker driver)"
Support for Rootless Docker with cgroup v2 was merged in https://github.com/kubernetes/minikube/pull/12359 , but not tested on CI.

We need a cgroup v2 CI infra to test the rootless docker driver (and eventually rootless podman driver too).

### cgroup v2 CI infra in other projects
-  `kind` uses Fedora 34 Vagrant box on macOS instances of GHA. Free and easy, but slow. https://github.com/kubernete

[2021-09-13 09:06] AMBHEER-SRIKANTH opened #12457 "minikube start"
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-09-13 16:23] joaocostamm commented on #10629
I am having the same issue. Here are the steps to reproduce on intel Mac:
`brew install hyperkit minikube docker kubectl docker-compose
minikube start --kubernetes-version=v1.22.1 --driver=hyperkit --container-runtime=docker
kubectl apply -f dnsutil.yaml
kubectl exec -i -t dnsutils -- ping 1.1.1.1
`

[2021-09-13 16:40] noxora opened #12459 "Improve "Minikube tunnel" when port is taken"
**Steps to reproduce the issue:**

0. Kill minikube with a tunnel open
1. minikube start
2. kubectl create deployment hello-node --image=k8s.gcr.io/echoserver:1.4
3. kubectl expose deployment hello-node --type=LoadBalancer --port=8080

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

[logs.

[2021-09-13 18:05] sharifelgamal commented on #12447
Unfortunately, we don't currently build the base image for the docker/podman driver for power pc just yet, but it is a work in progress. See https://github.com/kubernetes/minikube/issues/12399 for more details on that.

[2021-09-13 18:18] spowelljr opened #12460 "Remove hardcoded `sudo` from commands and make it conditional"

[2021-09-13 18:35] jayesh-srivastava commented on #12460
Hi. I would like to work on this issue. Can you please explain a bit further?

[2021-09-13 18:35] jayesh-srivastava commented on #12460
/assign

[2021-09-13 19:02] xavidram commented on #12459
This issue is also related.
https://github.com/kubernetes/minikube/issues/12115

Been like this for a while now. Tunnel does work on Linux environments. Just not windows at the moment.

[2021-09-13 19:03] xavidram commented on #12455
I downgraded the minikube version and the addon was enabled successfully so this is an issue with the latest build for minikube.

[2021-09-13 21:20] xavidram commented on #2922
Issue persists on Windows 10 Pro build 19041.450 with WSL2 and minikube v1.23.0.

Addresses are not assigned to ingresses but work when deployed to live kubernetes cluster on Digital Ocean.

[2021-09-13 22:17] minikube-bot opened #12462 "Frequent test failures of `TestDebPackageInstall/install_amd64_debian_10/kvm2-driver`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Hyperkit_macOS&test=TestDebPackageInstall/install_amd64_debian_10/kvm2-driver)|20.00|

[2021-09-13 22:17] minikube-bot opened #12463 "Frequent test failures of `TestDebPackageInstall/install_amd64_debian_9/kvm2-driver`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Hyperkit_macOS&test=TestDebPackageInstall/install_amd64_debian_9/kvm2-driver)|20.00|

[2021-09-13 22:17] minikube-bot opened #12464 "Frequent test failures of `TestDebPackageInstall/install_amd64_debian_latest/kvm2-driver`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Hyperkit_macOS&test=TestDebPackageInstall/install_amd64_debian_latest/kvm2-driver)|20.00|

[2021-09-13 22:17] minikube-bot opened #12465 "Frequent test failures of `TestDebPackageInstall/install_amd64_debian_sid/kvm2-driver`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Hyperkit_macOS&test=TestDebPackageInstall/install_amd64_debian_sid/kvm2-driver)|20.00|

[2021-09-13 22:17] minikube-bot opened #12466 "Frequent test failures of `TestDebPackageInstall/install_amd64_ubuntu_18.04/kvm2-driver`"
Will be filled in with details

[2021-09-13 22:17] minikube-bot opened #12467 "Frequent test failures of `TestDebPackageInstall/install_amd64_ubuntu_20.04/kvm2-driver`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Hyperkit_macOS&test=TestDebPackageInstall/install_amd64_ubuntu_20.04/kvm2-driver)|20.00|

[2021-09-13 22:17] minikube-bot opened #12468 "Frequent test failures of `TestDebPackageInstall/install_amd64_ubuntu_20.10/kvm2-driver`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Hyperkit_macOS&test=TestDebPackageInstall/install_amd64_ubuntu_20.10/kvm2-driver)|23.53|

[2021-09-13 22:17] minikube-bot opened #12469 "Frequent test failures of `TestDebPackageInstall/install_amd64_ubuntu_latest/kvm2-driver`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Hyperkit_macOS&test=TestDebPackageInstall/install_amd64_ubuntu_latest/kvm2-driver)|20.00|

[2021-09-13 22:20] spowelljr commented on #12442
Hi @phumpal, I've done some digging and found the root of the problem. The issue is with the 1.23.0 release of minikube we updated the default Kubernetes version to 1.22. In that version of Kubernetes they deprecated the `apiextensions.k8s.io/v1beta1` API version, unfortunately the source code of Ambassador still uses `apiextensions.k8s.io/v1beta1`.

I've created an issue with Ambassador about the

[2021-09-14 04:41] #12454 closed

[2021-09-14 06:37] dR3b commented on #12444
https://github.com/kubernetes/minikube/issues/12424

[2021-09-14 06:37] dR3b commented on #12451
https://github.com/kubernetes/minikube/issues/12424

[2021-09-14 10:31] cooperaj commented on #8439
This doesn't work for standalone docker containers it appears.

[code]

[2021-09-14 11:06] tamboliasir1 commented on #12034
Has anyone taken this issue?

[2021-09-14 11:33] mans0954 commented on #12455
My workaround for this is to manually create the IngressClass resource (using the config info from [ingres-nginx](https://kubernetes.github.io/ingress-nginx/):
[code]
I apply this as follows:
[code]
[code]
My ingress then get class `nginx` associated with them (but no IP address?):
[code]
Looking in the ingress controller logs I see:
[code]
Curling the host works as expected, so I'm happy.
[code]

[2021-09-14 13:49] jarobar435 commented on #8733
Have exactly the same problem as @powerman above:

[code]
already tried
[code]
running on mac m1
Kubernetes v1.21.4
Docker version 20.10.8, build 3967b7d

[2021-09-14 15:39] jeyjeyemem commented on #12455
Yes, we can create the IngressClass resource manually, but shouldn't the addon do it by default? As to be friendly to users who are just starting to learn. :)

[2021-09-14 15:42] mans0954 commented on #12455
I would presume so (I'm also a user who is just starting to learn).

[2021-09-14 16:41] PriyankaDasKafka opened #12471 "Can not connect Kafka Producer or consumer using Minikube with locally installed Kafka cluster"
I have a local kafka cluster. I have deployed my producer and consumer in minikube from where I am trying to access the local Kafka Topic I have created.(Kafka is not in Minikube). But even though both the applications are running in Kubernetes dashboard as healthy I can not see any consumer connected to the Kafka topic , neither can I produce message in the Kafka Topic. I have set advertised.list

[2021-09-14 17:06] alekseinovikov commented on #10085
I have the same issue

[2021-09-14 17:23] spowelljr commented on #12451
Hi @PabloG6, thanks for reporting you issue with minikube!

As @dR3b linked, this is a known issue that we're actively fixing.

I'm going to close this issue in favor of #12424 to keep discussion centralized, but please follow along with that issue for updates on the issue, thank you!

[2021-09-14 17:23] #12451 closed

[2021-09-14 17:24] spowelljr commented on #12457
Hi @AMBHEER-SRIKANTH, you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2021-09-14 17:44] sharifelgamal opened #12472 "GCP Auth addons appears to cause CSI addon test failures"
Based on the gopogh report on failing CSI tests, it seems like disable GCP auth is causing confusion with the service account's image pull secret.

https://storage.googleapis.com/minikube-builds/logs/master/20399/Docker_Linux.html#fail_TestAddons%2fparallel%2fCSI

[2021-09-14 19:31] sharifelgamal commented on #12455
Thanks for bringing this to our attention, we did a fairly large refactor of our ingress yamls not too long ago and it seems like a couple things got lost in the shuffle.

[2021-09-14 20:17] #12462 closed

[2021-09-14 20:17] #12463 closed

[2021-09-14 20:17] #12464 closed

[2021-09-14 20:17] #12465 closed

[2021-09-14 20:17] #12467 closed

[2021-09-14 20:17] #12469 closed

[2021-09-14 20:56] #11183 closed

[2021-09-14 21:49] PriyankaDasKafka commented on #12471
oduce any

[2021-09-14 22:59] sharifelgamal commented on #12424
The ingress-dns issue has to do with the source code of the docker image the addon is using. It's calling an old endpoint for ingresses that was fully deprecated in 1.22, which is causing the pod to crash anytime the nslookup is done.

I'm building/pushing a new image with the proper endpoint here soon and the fix will be live in the 1.23.1 release happening this week.

[2021-09-14 23:44] pgschr commented on #12115
@pfeigl you fixed the problem with your change? did you recompile the executable?

[2021-09-15 05:24] switchbrad commented on #7923
I just wanted to say, suggestions by @kppullin @medyagh and @marcoceppi worked for me. I can either link my volume:

[code]

Or run with:

[code]
Based on comments by @marcoceppi, it appears this would need to be fixed in cAdvisor?

[2021-09-15 06:10] zhyyu commented on #11107
Hi, can you share the Dockerfile you changed with us?

[2021-09-15 06:39] zhyyu commented on #11107
e2eteam/echoserver:2.2-linux-arm64 worked for me on m1

[2021-09-15 09:50] pfeigl commented on #12115
No, tbh I just analyzed the problem and tested the fixed command line command on the bash directly. I never changed / compiled the minikube code.

[2021-09-15 13:28] braderhart commented on #7923
I just wanted to say, suggestions by @kppullin @medyagh and @marcoceppi worked for me. I can either link my volume:

[code]

Or run with:

[code]

Based on comments by @marcoceppi, it appears this would need to be fixed in cAdvisor?

[2021-09-15 13:39] marcominetti commented on #7923
@braderhart if you mean me with marcoceppi yep, i think that a good focus to start with should be cAdvisor at least to avoid the exception, they were open to receive a PR... Don't know if the tentative/workaround code for btrfs is still there now...

In any case, because our workaround is based on mounting devs into the minikube container, the real solution might be in the docker initialization co

[2021-09-15 13:49] yosshy commented on #12388
Ok, no one is against Dashboard policy. Let's use it for Japanese translation.

[2021-09-15 13:49] #12388 closed

[2021-09-15 15:36] samrogers226 commented on #12301
having same issue on minikube 1.23

[2021-09-15 16:51] dilyanpalauzov opened #12477 "docs/handbook/pushing : reorder the content"
At https://minikube.sigs.k8s.io/docs/handbook/pushing/ the top lists methods to upload images:

1. docker-env command
2. podman-env command
3. ctr/buildctl command

Afterwards the methods are described in more detail in the order:
1. Pushing directly to the in-cluster Docker daemon (docker-env)
2. Push images using ‘cache’ command.
3. Pushing directly to in-cluster CRI-O. (podman-env)

The order o

[2021-09-15 16:56] johnmuth81 commented on #11902
@medyagh  I'm not sure why @alban was trying to build the ISO, but I fell into `make out/minikube.iso` from https://minikube.sigs.k8s.io/docs/contrib/building/iso/ (which you can get to from the 'Contributing' link on the top README.md. I got further and found another issue with what appears to be a bogus SHA256 sum for CRIO 1.22.0, but I think I'll try `make iso-in-docker` instead.

[2021-09-15 16:57] dilyanpalauzov opened #12478 "Broken hyperlinks at https://minikube.sigs.k8s.io/docs/handbook/pushing"
https://minikube.sigs.k8s.io/docs/handbook/pushing lists methods for uploading images:
1. docker-env command which is a hyperlink to https://minikube.sigs.k8s.io/docs/handbook/pushing/#1pushing-directly-to-the-in-cluster-docker-daemon-docker-env
2. podman-env command, which is a hyperlink to https://minikube.sigs.k8s.io/docs/handbook/pushing/#3-pushing-directly-to-in-cluster-crio-podman-env .

and

[2021-09-15 17:35] dilyanpalauzov opened #12479 "OCI-image load with cache load or podman-env does not Work"
I have an oci-image.tar file on the local filesystem and I want to insert it into a Minikube Cluster.

https://minikube.sigs.k8s.io/docs/handbook/pushing/ calls this process Load, and states (in the table) that `podman-env` command and `cache` command support the Load.

I have minikube version v1.23.0, podman version 3.3.1 and this file downloaded locally: https://mail.aegee.org/oci-images/ldap-20

[2021-09-15 17:38] afbjorklund commented on #12479
I don't think we support OCI images, only Docker images have ever been tested afaik

[2021-09-15 17:40] afbjorklund commented on #12460
There is supposed to be a new boolean "rootless", and when it is true we should **not** use `sudo` when calling podman.

For docker we _never_ use sudo (but the root-equivalent group), so there is no need to change that code for the boolean.

[2021-09-15 17:43] afbjorklund commented on #12456
@sharifelgamal ?

We talked about getting some Fedora infrastructure at _some_ point or other (see #3552)

It's needed for testing other strange setups, such as btrfs and whatever next they come up with

[2021-09-15 18:03] spowelljr commented on #12324
Hi @upkash, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-09-15 18:03] #12324 closed

[2021-09-15 18:03] spowelljr commented on #12049
Hi @Ultimo12, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-09-15 18:03] #12049 closed

[2021-09-15 18:05] spowelljr commented on #11542
Hi @paulopatto, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-09-15 18:05] #11542 closed

[2021-09-15 18:12] sharifelgamal commented on #12472
This is partially what I fixed in #12473 and partially a race condition built into the addon test itself. The solution is to make the CSI and GCP Auth tests run serially so they don't interfere with each other

[2021-09-15 18:14] spowelljr commented on #11336
@daehyeok Are you still working on this issue?

[2021-09-15 18:16] sharifelgamal commented on #11896
It looks like you are trying to restart a cluster where the config is gone:

[code]

The best solution here is to run `minikube delete` then try `minikube start` again.

[2021-09-15 18:18] medyagh commented on #12108
@awhileback thanks for sharing your experience, virtualbox is our least supported driver I suggest using KVM or docker driver on linux.

however minikube has a few options for virtualbox driver

[code]

I am curious have u already tried passing those network options to minikube start ?

[2021-09-15 18:21] medyagh commented on #11973
@bigon the reason minikube is calling podman, it is because when you don't specify the driver with --driver flag, minikube will check all installed tools on your system and automatically select best driver (most healthy one)

[2021-09-15 18:23] medyagh commented on #11973
/triage needs-information
/kind support

[2021-09-15 18:24] spowelljr commented on #12077
Hi @mehabhalodiya, if you would like to work on this comment `/assign` to assign the issue to yourself.

In regard to what needs to be changed @pwoelfle did a good job outlining the changes required. The CIDR IP we have set in our code [here](https://github.com/kubernetes/minikube/blob/v1.21.0/pkg/minikube/cni/cni.go#L40) does not match what we have set in the Cilium yaml [here](https://github.com

[2021-09-15 18:28] medyagh commented on #11970
hi @coolamiy one of the reasons that a random port is assigned is if you have two minikube clusters you cant have both of them listen on 5000

but I on docker containers linux you should still be able to hit the "5000" directly regardless of the assigned port have you tried hitting 5000 (reglaress of the host port that minikube assigns ?

[2021-09-15 18:32] sharifelgamal commented on #11947
Yeah this just isn't something our storage-provisioner/default-storageclass addons support currently, but there is no theoretical reason why we couldn't. We would happily accept a PR that does this.

[2021-09-15 18:32] medyagh commented on #11955
glad to see this issue is solved

[2021-09-15 18:32] #11955 closed

[2021-09-15 18:34] medyagh commented on #10578
@horihel do u mind checking if this issue has been fixed by this PR ? https://github.com/kubernetes/minikube/pull/10899
with latets version of minikube?

[2021-09-15 18:35] medyagh commented on #10578
/triage needs-information

[2021-09-15 18:40] medyagh commented on #8577
we still wanna do this

[2021-09-15 18:42] sharifelgamal commented on #11608
Well, this seems to continue being an error we're facing so I'll add it as a bug and investigate when I have time. Help is of course welcome as well.

[2021-09-15 18:43] medyagh commented on #10089
I dont know if we have ifnra bandwith to add more tests infra just for this. if Github Actions would provide older OS or Debian we could add functioan on github action if not we could close this issue for now till that infra is available for us

[2021-09-15 18:43] #10089 closed

[2021-09-15 18:46] medyagh commented on #10845
I am going to close this issue for now till we have more interest from the users

[2021-09-15 18:46] #10845 closed

[2021-09-15 18:47] medyagh commented on #11409
this issue is available for someone to make a nice UI experience in our website
requires the good UX experienece

[2021-09-15 18:48] medyagh commented on #3318
@blueelvis haven't heard from you. still working on it ?

[2021-09-15 18:48] medyagh commented on #3318
this issue is available to be picked up anyone inttersted

[2021-09-15 18:51] sharifelgamal commented on #11257
Yeah I have definitely been able to use local images for testing just like this before for sure. I wonder if renaming it to something that's not `docker.io` would help.

[2021-09-15 18:52] medyagh commented on #11760
@owenthereal
mind trying it without SE linux and see if that would help ?

unfortunately we dont have fedora test infra in our test fleet

[2021-09-15 18:53] sharifelgamal commented on #10249
We've made some improvements over the past few months. Would anyone like to try minikube 1.23 and see if that fixes the issues seen here?

[2021-09-15 18:57] medyagh commented on #10794
@kmajcher-rh glad to see that helped.

@vmorris does this help ? https://github.com/kubernetes/minikube/issues/10794#issuecomment-797520040

[2021-09-15 18:57] #10794 closed

[2021-09-15 18:58] sharifelgamal commented on #10342
We have separate checks to make sure there is enough disk space dedicated to docker and will generally error out with a special message if there isn't enough space.

We have made a bunch of changes to the docker driver on windows in the past few months, so this issue might not happen as frequently or, hopefully, at all.

[2021-09-15 19:06] sharifelgamal commented on #10501
We definitely want to do this, but our past couple of attempts have resulted in failures that we haven't had the bandwidth to address them. If anyone wants to give this a shot, we would absolutely accept a PR.

You can test building an ISO locally (on linux) by running `make minikube_iso`, with the caveat that it takes about an hour.

[2021-09-15 19:26] fkorotkov commented on #12456
Hey there, Cirrus CI founder here. With Cirrus you can use a [custom GCP VM image](https://cirrus-ci.org/guide/custom-vms/) (it's free for OSS). For example, [Podman is using a custom VM](https://github.com/containers/podman/blob/f38503a1a3336a87a950c1d97bf1cb9a1a883ada/.cirrus.yml#L32-L34) to test on Fedora. Just wanted to note these in case you'd prefer not to use Vagrant as a "middleman".

[2021-09-15 19:33] AkihiroSuda commented on #12456
Is Fedora (not Fedora CoreOS) image publicly available?

[2021-09-15 19:38] bigon commented on #11973
The main problem is that it calls sudo, it immediately fails and and sudo failures generate a mail

[2021-09-15 20:19] dilyanpalauzov opened #12480 "`minikube image rm "<none>:<none>"` does nothing"
With minikube 1.23.0 and podman  3.3.1
[code]
Now, I want to delete the last image with `minikube image rm`
[code]
Has not worked, but show have worked
[code]

[2021-09-15 20:20] dilyanpalauzov commented on #12479
For the record, as mentioned at https://github.com/containers/podman/issues/11593, `$ podman --remote load < ./ldap-2021-09-12.tar` does work.  I propose writing down how OCI images can be loaded.

[2021-09-15 20:25] afbjorklund commented on #12480
This is a bug: #12157

You need to find the _real_ image ID using some other means, such as `minikube ssh sudo crictl images` or something.

[2021-09-15 20:25] fkorotkov commented on #12456
They are not. The one publicly available are the CoreOS. Podman folks [seems do build a regular Fedora](https://github.com/containers/automation_images/blob/8522f112bf76ce1f9acb2abd06e5eb8a7682018a/base_images/gce.yml#L30) though.

[2021-09-15 21:23] briandealwis opened #12481 "Failing gcp-auth enablement should lead to early exit"
I normally do not have an active gcloud account so as to prevent accidentally making a change to my projects and clusters.  Enabling the `gcp-auth` addon in such a situation should fail gracefully, but does not.

**Steps to reproduce the issue:**

1. Ensure you're logged into the Cloud SDK: `gcloud auth list`, and `gcloud auth login` if not
1. `rm ~/.config/gcloud/active_config`
2. `minikube addon

[2021-09-15 21:35] #12424 closed

[2021-09-15 21:35] #12455 closed

[2021-09-15 23:15] sharifelgamal commented on #12481
The error doesn't seen to be related to not having an active_config, the only side effect is the warning about not finding an active gcp project, since the addon can still usually still find credentials since you've logged into gcloud.

It seems like you are re-enabling the addon based on
[code]

and the error is coming from trying to patch a pod that's already been patched, which is something we

[2021-09-16 00:12] #12472 closed

[2021-09-16 00:24] spowelljr commented on #12128
Proof of my above comment:
[code]

At around 18 seconds, list of all docker containers is received, including container `2cdca31b5`
At 27 seconds, container `2cdca31b5` is deleted by docker due to resource constraint
At 20 seconds, minikube tries to tail the logs of container `2cdca31b5`, which fails

[2021-09-16 01:21] #12410 closed

[2021-09-16 02:55] RA489 commented on #12480
/kind bug

[2021-09-16 02:56] RA489 commented on #12478
/kind documentation

[2021-09-16 02:59] RA489 commented on #12477
/kind documentation

[2021-09-16 02:59] RA489 commented on #12471
/kind support

[2021-09-16 02:59] RA489 commented on #12459
/kind support

[2021-09-16 03:00] RA489 commented on #12444
/kind support

[2021-09-16 03:23] elisvaldoazevedo opened #12484 "Failed to start host"
**Full output of failed command if not `minikube start`:**
<details>
[minikube_logs_a261d1e655d78e232bea12734f898ae89eb06229_0.log](https://github.com/kubernetes/minikube/files/7174542/minikube_logs_a261d1e655d78e232bea12734f898ae89eb06229_0.log)

[lastStart.txt](https://github.com/kubernetes/minikube/files/7174691/lastStart.txt)

</details>

[2021-09-16 04:30] RA489 commented on #12484
/kind support

[2021-09-16 06:23] minikube-bot opened #12485 "Frequent test failures of `TestAddons/serial/GCPAuth`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_docker_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_docker_arm64&test=TestAddons/serial/GCPAuth)|100.00|
|[Docker_Linux_containerd_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_containerd_a

[2021-09-16 10:26] pshendre1 commented on #10544
I had the same issue.

[2021-09-16 10:43] pshendre1 commented on #10544
I had the same issue with 'minikube addons enable ingress' command.
Hence tried the following solution:
Tried to pull the ingress image directly using 'docker pull' from command line
Got the error - Error response from daemon: Get https://registry-1.docker.io/v2/: dial tcp 192.168.10.1:443: connect: connection refused
Changed the network to another ISP and reissued the 'docker pull' command.
This

[2021-09-16 11:17] oliversalzburg opened #12486 "Debian installation instructions problematic"
The minikube installation instructions don't lead to a good experience on Debian.

[code]

The system this is being run on has a valid installation of `podman` and the user calling `minikube start` is already in the sudoers file with exactly the syntax noted in the command, yet it fails.

The output indicates that it's calling `sudo -k` for some reason. This explicitly will require the user to pro

[2021-09-16 11:41] pythonInRelay commented on #4043
I know this is closed, but I just wanted to say. The problem for me was a few missing packages, and then all I really needed to do was just reboot my machine and everything worked perfectly. I just installed a couple of packages, namely these ones:

`community/virtualbox 6.1.22-3 [installed]
community/virtualbox-ext-vnc 6.1.22-3 [installed]
community/virtualbox-guest-iso 6.1.22-1 [installed]
commu

[2021-09-16 13:09] briandealwis commented on #12481
It was a running minikube on an M1, started with `minikube start` (I'm not an esoteric user).

I don't remember trying to install The gcp-auth addon hadn't been installed:
[code]

<details>
<summary>Dump of config</summary>

[code]

</details>

[2021-09-16 13:13] briandealwis commented on #12481
<details>
<summary>minikube addons enable gcp-auth --alsologtostderr -v=5</summary>

[code]

</details>

[2021-09-16 13:33] moswil commented on #11348
This has worked for me as well.

[2021-09-16 15:33] afbjorklund commented on #12486
The idea behind -k is just so that it wouldn't reuse credentials from an existing session, only to fail half-way through.

Currently minikube expects podman to be set up using password less `sudo`, this might change for rootless podman.

[2021-09-16 15:35] afbjorklund commented on #12486
Does `sudo -k -n podman` work ? Does `sudo -l` show the right commands ? Is it matching the path of `which podman` ?

[2021-09-16 15:37] afbjorklund commented on #12480
The bug here is that "minikube image" doesn't show a proper error message, the command itself is supposed to fail.

Something like:
`Error: <none>:<none>: image not known`

[2021-09-16 15:56] AjithKumar1702 opened #12488 "minikube"
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-09-16 16:03] briandealwis commented on #12481
I think we should set `ttlSecondsAfterFinished` on the gcp-auth installation jobs.
[code]

[2021-09-16 16:12] oliversalzburg commented on #12486
Apologies. I missed the part in the documentation where it says "Be sure this text is after #includedir /etc/sudoers.d."

[2021-09-16 16:12] #12486 closed

[2021-09-16 16:35] sharifelgamal commented on #12481
Yep, that definitely looks to be what's happening, although I try to make sure that doesn't happen. I'll take a closer look into it.

ok this is a legitimate bug, on --refresh I should delete and recreate the secret and pull secrets.

ttlSecondsAfterFinished is a good idea, I'll add that as well

[2021-09-16 16:48] oliversalzburg opened #12489 "`minikube start` with `podman` driver fails with `index ouf range` error"
**Steps to reproduce the issue:**

1. `minikube start --driver=podman --container-runtime=cri-o`

I'm running this in a WSL2 environment.

I found #10088 and #10110, which seemed to relate to the same issue, but it seems like this should no longer be a problem with the version I'm using.

I see the `Error downloading kic artifacts:  not yet implemented` error, but also couldn't make sense of eithe

[2021-09-16 17:45] medyagh commented on #12489
Thank you for sharing your experience!
Curious what is the podman version installed on the WSL2 ?

Also please attach (drag) the`logs.txt` file to this issue  which can be generated by running this command:

[code]

/triage needs-information
/kind support

[2021-09-16 18:28] spowelljr commented on #9601
Hi @hoantv, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-09-16 18:28] #9601 closed

[2021-09-16 19:30] oliversalzburg commented on #12489
`podman --version` prints 3.0.1. I attached the `logs.txt` to the original post. The output it produces made me assume no logs would be produced until a cluster is started. But it's there now.

[2021-09-16 20:13] medyagh commented on #12489
@oliversalzburg  thats odd I dont see that error in the file you attached, I am curious would this help if you purge minikube?

[code]

[2021-09-16 20:17] medyagh commented on #12489
in the Audit there is no minikube start, I am curious do u Ctrl+C the minikube start or is it just hangning ?

[code]

[2021-09-16 20:27] medyagh opened #12493 "Separate Preload for Kuberentes Images and anything else"
This will make user not have to download another preload for only bumping Dashboard image or stuff like this

https://github.com/kubernetes/minikube/pull/12475

[2021-09-16 20:38] spowelljr opened #12494 "Replace busybox image in tests with gcr.io image"
Sometimes we hit rate limiting against Docker Hub, we can greatly reduce our hit count be replacing that image we use for image load tests with a gcr.io image. The actual image we use doesn't actually matter because we're just loading the image into minikube, but obviously the smaller the better.

[2021-09-16 20:57] spowelljr commented on #10584
Hi @devunixguy, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-09-16 20:57] #10584 closed

[2021-09-16 20:57] spowelljr commented on #10322
Hi @hayorov, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-09-16 20:57] #10322 closed

[2021-09-16 22:19] rjhuijsman opened #12498 "Clean Debian/OSX install has broken dashboard"
Simply following [the getting started instructions](https://minikube.sigs.k8s.io/docs/start/) on a clean system seems to result in a broken dashboard installation.

**Steps to reproduce the issue:**

Tested on a clean Debian VM (Google Cloud image `debian-10-buster-v20210915`) and on a very-not-clean Mac OS X 11.6. Same results.

0. Make sure you have Docker installed
[code]

1. Install minikube p

[2021-09-17 06:34] wa6smn opened #12500 "Enable addon ingress failed"
**Steps to reproduce the issue:**
#!/usr/bin/sh
export NO_PROXY=localhost,127.0.0.1,10.96.0.0/12,192.168.99.0/24,192.168.39.0/24
minikube start --listen-address=0.0.0.0 --extra-config=apiserver.token-auth-file=/etc/ca-certificates/token.csv

1.minikube addons enable ingress
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed comman

[2021-09-17 07:52] oliversalzburg commented on #12489
I didn't Ctrl+C any of the processes I was running yesterday. I just went through several iterations to see if I can find my mistake.

I now ran `minikube delete --all --purge` first, then ran `minikube start --driver=podman --container-runtime=cri-o` again. This resulted in the original error behavior.

I then ran `minikube logs --file=logs.txt` and got [logs.txt](https://github.com/kubernetes/mi

[2021-09-17 13:10] briandealwis commented on #12481
I forgot: `ttlSecondsAfterFinished` was alpha prior to 1.21 and so is gated.

[2021-09-17 13:35] FilBot3 commented on #10754
On Fedora 34 now, and will try with latest Podman. Hopefully with the Docker changes, this will provide more urgency to get Podman compatibility going.

[2021-09-17 13:35] #10754 closed

[2021-09-17 17:20] sattsb opened #12501 "Error During Ingress Add-on Enablement"
**Steps to reproduce the issue:**

1. Execute minikube addons enable ingress

Errors out with the following message

[code]

<details>
[minikube_addons_e74c939bb4977c35a735826431278ceb07d07a67_0.log](https://github.com/kubernetes/minikube/files/7187355/minikube_addons_e74c939bb4977c35a735826431278ceb07d07a67_0.log)

</details>

[2021-09-17 17:54] gtmanfred commented on #3647
I would also love this feature.

[2021-09-17 18:13] dsharp-pivotal commented on #9972
/remove-lifecycle stale

[2021-09-17 21:22] VeitSanner opened #12504 "Minikube podman-env does not work with podman 3.1"
**Steps to reproduce the issue:**

1. Execute `eval $(minikube -p minikube podman-env)`.
2. Execute `podman-remote build -t example:latest .`

**Full output of failed command if not `minikube start`:**
[code]
<details>
Operating System: macOS 11.6

Podman Version:
[code]

minikube version
[code]
</details>

[2021-09-17 23:59] spowelljr commented on #12501
Hi @sattsb, thanks for reporting your issue with minikube!

Based on your logs if looks like you're using minikube version v1.23.0 which has an ingress regression. Please try updating to v1.23.1 and trying again and see if that solves your issue.

[2021-09-18 00:01] spowelljr commented on #12500
Hi @wa6smn, thanks for reporting you issue with minikube!

I don't know what version of minikube you're using, but if you're using minikube version v1.23.0 it has an ingress regression. Please try updating to v1.23.1 and trying again and see if that solves your issue.

[2021-09-18 00:01] spowelljr commented on #12498
Hi @rjhuijsman, thanks for reporting your issue with minikube!

minikube v1.23.0 has an ingress regression, please try updating to v1.23.1 and trying again and see if that solves your issue.

[2021-09-18 00:02] spowelljr commented on #12488
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2021-09-18 00:46] spowelljr commented on #12477
Thanks for bringing these issues to attention @dilyanpalauzov!

[2021-09-18 00:46] spowelljr commented on #12478
Thanks for bringing these issues to attention @dilyanpalauzov!

[2021-09-18 03:53] wa6smn commented on #12500
kubernetes 1.20.8 is the version in use.  My version control is coordinated with a large internal UI project.  I'm adding ingress to support connectivity to a Windows worker node on Windows Server 2019 (build 1809) with Docker EE as the container.  I have flannel installed on each node (Linux control plane and Windows worker). The internal kubernetes networks are accessible in Linux, but need to b

[2021-09-18 04:21] pythonwood commented on #10229
nvidia + docker is easy now.  [install-guide](https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/install-guide.html)

[code]

It is so good if I can use gpu in minikube

[2021-09-18 06:39] afbjorklund commented on #12504
You need to install the older podman-remote version, or run podman over ssh, until the podman version has been updated (PR)

Podman is not backwards compatible, so you need multiple clients (podman1, podman2, podman3, podman4 etc)

[2021-09-18 06:51] afbjorklund commented on #12504
You can also use `minikube image build` instead.

[2021-09-18 07:54] wa6smn commented on #12500
I upgraded my bare metal Fedora 34 version of minikube from 1.23.0 to 1.23.1 as recommended above.  The ingress addon installed and examples ran fine.  I'll return to my project VM (Ubuntu) and make sure minikube is updated to 1.23.1.

[2021-09-18 08:25] Patrick0308 opened #12508 "Use lima as a driver"
**Steps to reproduce the issue:**
I want to use lima instead of docker on mac. Can I use lima as a minikube driver?

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-09-18 09:03] afbjorklund commented on #12508
There are some third parties already doing this: https://github.com/abiosoft/colima

Ultimately we might want to have a QEMU driver for Mac, or reuse the current libvirt driver called "kvm2"

The main problem is with allocating the network, currrently lima is doing the ssh hacks we rejected earlier:

* ~~Issue #2399~~

[2021-09-18 09:05] afbjorklund commented on #12508
I think Docker's HyperKit is already deprecated, being replaced with Virtualization.framework

[2021-09-18 10:24] Patrick0308 commented on #12508
Ok, I get it.

Can you link the issue it here? I am using the M1 mac now.

[2021-09-18 10:30] dilyanpalauzov commented on #12504
You could try `podman --remote` instead of `podman-remote`.

[2021-09-18 10:38] dilyanpalauzov opened #12509 "`minikube start` on CRI-O fails since 1.23.1"
After upgrading minikube 1.23 → 1.23.1 minikube start does initially download whatever it wants, and then fails to start.
[code]

Compare to the output of `minikube-1.23.0 start`:
[code]

[2021-09-18 10:55] lakshya8066 commented on #12478
/assign

[2021-09-18 11:00] lakshya8066 commented on #12478
I think I did something wrong, let me figure it out and create a new pull request 😅

[2021-09-18 11:39] afbjorklund commented on #12504
That would have the same effect, but could be a good idea anyway.

Hopefully the `podman-remote` binary will go away in the future, and the `--remote` flag will be automatic.
Right now it is needed on Linux, but not on macOS/Windows. Which makes instructions rather confusing.

[2021-09-18 11:42] afbjorklund commented on #12504
Anyway, the needed podman client binaries can be downloaded here:

https://github.com/containers/podman/releases/tag/v2.2.1

[2021-09-18 11:49] afbjorklund commented on #12508
They are not available in the QEMU releases yet, so one needs a special qemu branch:

https://github.com/lima-vm/lima#installation