[2020-10-14 03:03] ilya-zuyev commented on #9463
/assign

[2020-10-14 07:47] RA489 commented on #9452
/kind support

[2020-10-14 07:50] RA489 commented on #9440
/kind support

[2020-10-14 07:52] RA489 commented on #9440
@jyozq can you please try this WIP PR https://github.com/kubernetes/minikube/pull/8555 as workaround?

[2020-10-14 07:52] RA489 commented on #9430
/kind support

[2020-10-14 07:53] RA489 commented on #9429
/kind support

[2020-10-14 07:53] RA489 commented on #9428
/kind support

[2020-10-14 08:39] abhimjoshi commented on #7344
@harlesbayu @srinathganesh1 Do you guys have any updates or further information?

[2020-10-14 09:22] mahmoudshirivaramini commented on #8647
@medyagh I solved the issue using ETCD certificates and key that use by kube-apiserver.
[code]
And I connected to minikube virtual machine via `minikube ssh` and [installed etcd](https://github.com/etcd-io/etcd/releases) and running below command:
[code]
And it worked!

[2020-10-14 15:57] matthewmichihara opened #9465 "gcp-auth returned an error: field is immutable"
I don't exactly know how I triggered this but I ran into this error when starting minikube today.

I do notice that my `gcloud` application default credentials are expired, so that may be related:
[code]

[code]

Full output of `minikube logs` command:**
<details>

[code]

</details>

[2020-10-14 18:17] medyagh commented on #9461
quite interestingly
if you ssh to a second node of a cluster and keep doing
[code]

you will green alternating red and green repsonses, somteims running somteimes exited.

[code]

[2020-10-14 18:17] ilya-zuyev commented on #8958
Was fixed by https://github.com/kubernetes/minikube/pull/8959

[2020-10-14 18:19] medyagh commented on #9418
better support for army64 is on our road map and we will be working on this for early 2021.

[2020-10-14 18:42] ilya-zuyev commented on #3036
Hey @bartkim0426! Are you still interested in this issue?

[2020-10-14 19:09] medyagh commented on #8599
dupelicate of https://github.com/kubernetes/minikube/issues/8599

[2020-10-14 19:09] #8599 closed

[2020-10-14 21:36] prezha commented on #9420
@medyagh i've assumed that:
1. it would be acceptable to have at least one registry updated (that can be easily changed if needed), and so
2. i've included the `updating corresponding Version in types.go in kic package`, as well as automatically creating respective (unique) pr, as part of pr #9464

so this issue should be covered now

[2020-10-14 22:00] tstromberg commented on #9465
This error is probably safe to ignore - but something we'll need to address nonetheless.

Some Kubernetes objects are immutable, and the addon doesn't yet understand being enabled twice on a running cluster.

[2020-10-14 22:02] sharifelgamal commented on #9465
there are some race conditions around enabling and disabling the addon consecutively, the errors are spurious and the addon should still work.

[2020-10-14 22:08] medyagh opened #9468 "add --watch flag for minikube status."

[2020-10-15 00:46] pramchan opened #9469 "minikube node delete - fails for Docker"
**Steps to reproduce the issue:**
kubectl get nodes
NAME           STATUS   ROLES    AGE   VERSION
minikube       Ready    master   8h    v1.19.2
minikube-m02   Ready    <none>   18s   v1.19.2
user@ubuntu131:~$ minkube-m02
minkube-m02: command not found
user@ubuntu131:~$ minikube-m02 ssh
minikube-m02: command not found
user@ubuntu131:~$ minikube ssh
                         _             _

[2020-10-15 01:19] pramchan commented on #9469
After rebooting machine showed the dns was running and successfully restarted the nodes as follows but the kubelet are not ready?

minikube status
minikube
type: Control Plane
host: Running
kubelet: Running
apiserver: Running
kubeconfig: Configured

minikube-m02
type: Worker
host: Running
kubelet: Stopped

minikube-m03
type: Worker
host: Running
kubelet: Stopped

For sure thus may be minikube-m02

[2020-10-15 01:29] pramchan commented on #9469
minikube node delete minikube-03
* Deleting node minikube-03 from cluster minikube

X Exiting due to GUEST_NODE_DELETE: retrieve: Could not find node minikube-03
*
* If the above advice does not help, please let us know:
  - https://github.com/kubernetes/minikube/issues/new/choose

pramchan@ubuntu131:~$ minikube status
minikube
type: Control Plane
host: Running
kubelet: Running
apiserver: Running

[2020-10-15 01:46] pramchan commented on #9469
more interesting is minikube cluster & nodes are running in their own world and seems there is no record of registration by it in etcdb or whatever and kubectal does not recognize it as a namespce or cluster?
kubectl get ns
NAME                   STATUS   AGE
default                Active   18h
kube-node-lease        Active   18h
kube-public            Active   18h
kube-system            Active

[2020-10-15 04:28] wjsi opened #9470 "Install Kubernetes v1.19.3 with minikube failed in Github actions"
The error message is `invalid checksum: no checksum found in: https://storage.googleapis.com/kubernetes-release/release/v1.19.3/bin/linux/amd64/kubectl.sha256` but the hash file do exist. It works well when installing Kubernetes v1.19.2.

**Steps to reproduce the issue:**

OS: ubuntu 16.04

Log url: https://github.com/mars-project/mars/runs/1256818740?check_suite_focus=true

Install script:

[code

[2020-10-15 05:26] RA489 commented on #9470
/kind support

[2020-10-15 05:27] RA489 commented on #9469
/kind support

[2020-10-15 05:42] RA489 commented on #7695
I created an issue https://github.com/kubernetes/funding/issues/14 for Alibaba funds.

[2020-10-15 05:46] RA489 commented on #7695
@medyagh It will be great if you could mention our estimates on this issue: https://github.com/kubernetes/funding/issues/14

[2020-10-15 08:02] tbox1911 commented on #8846
/assign

[2020-10-15 08:40] afbjorklund commented on #9418
There is #9228 for the new arm64 iso, no issue yet for building `docker-machine-driver-kvm2` for arm64

Most likely we need to add some "amd64" suffix somewhere in the existing iso and bin, like for minikube ?

boot2docker.iso (minikube.iso)
docker-machine-driver-kvm2

minikube-linux-amd64
minikube-linux-arm64

There is no preload support either, but that should still work by loading the images fr

[2020-10-15 08:45] nixpanic commented on #9470
This is a problem that we have in [our CI environment](https://jenkins-ceph-csi.apps.ocp.ci.centos.org/job/mini-e2e_k8s-1.19/) too now. Will watch this space for updates :crossed_fingers:

[2020-10-15 09:47] pushp1997 opened #9472 "Unable to run minikube start with docker driver on ChromeOS"
**Steps to reproduce the issue:**

1. minikube start --driver=docker

**Full output of failed command:**

 pushp.vashisht@penguin$ minikube start
😄  minikube v1.13.1 on Debian 10.6
✨  Using the docker driver based on user configuration
💨  For improved Docker performance, enable the overlay Linux kernel module using 'modprobe overlay'
❗  docker is currently using the btrfs storage driver, consider

[2020-10-15 09:48] pushp1997 commented on #9472
I tried to run it after installing v1.14.0 as well and got the same error.

[2020-10-15 10:09] jorgemoralespou commented on #9410
This is not nice. Now, as the context is deleted and recreated, a user needs to select a specific namespace he's working on every time he starts/stops the cluster.

[2020-10-15 10:54] RA489 commented on #9472
/kind support

[2020-10-15 12:40] prezha commented on #9410
@jorgemoralespou you can use `--keep-context-active=true` option to keep the context on `minikube stop`?

[2020-10-15 12:44] prezha commented on #4392
btw, Kubernetes released v1.19.3 yesterday, so maybe we could give the script a go?

[2020-10-15 12:50] jorgemoralespou commented on #9410
I was expecting that answer. Why would I want to keep the context active if the instance is stopped. When stopped what does make sense is unset, and only delete the context when minikube instance is deleted, hence, previous behavior.

[2020-10-15 12:50] tokomeno opened #9473 "Cant start minikube dashboard"
**Steps to reproduce the issue:**

1. minikube start
2. minikube dashboard

**Full output of failed command:**

~$  minikube start
😄  minikube v1.13.1 on Ubuntu 20.04
✨  Using the docker driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🔥  Creating docker container (CPUs=2, Memory=2200MB) ...
🐳  Preparing Kubernetes v1.19.2 on Docker 19.03.8 ...
🔎  Veri

[2020-10-15 14:00] prezha commented on #9410
i don't think the issue is with deleting/recreating the context when minikube stops/starts, what we potentially could do is additionally saving/restoring also the default namespace

[2020-10-15 16:19] jorgemoralespou commented on #9410
Yes, you could save/restore the namespace. But IMHO the fact that a namespace is deleted is more confusing than the fact that minikube is stopped and you have a context you can't connect to until you start minikube.

[2020-10-15 17:00] Mert84 commented on #4899
I am having the same problem. Is there a workoround for this?
OS: Windows 10
minikube version: v1.14.0
VM-Driver: virtualbox 6.1

[2020-10-15 18:03] medyagh commented on #9473
@tokomeno does deleting and starting it again helps ?
btw we have a new version of minkube with static ip for docker driver

mind trying this?
minikube delete
minkube start

[2020-10-15 18:05] medyagh commented on #9473
/triage needs-information
/kind support

[2020-10-15 18:45] harlesbayu commented on #7344
@abhimjoshi try this code, update your service yaml

[code]

and run this script `kubectl describe services invoiceapi-service`
you will find **_LoadBalancer Ingress_**, and use it

[2020-10-15 19:22] medyagh commented on #9422
we skipped this test

[2020-10-15 19:22] #9422 closed

[2020-10-15 19:25] medyagh commented on #9428
@mailbagrahul does the suggestion in minikube output help ?

``
Suggestion: Restart the Docker service
Documentation: https://minikube.sigs.k8s.io/docs/drivers/docker/
[code]

[2020-10-15 21:38] mailbagrahul commented on #9428
@medyagh - No. I didn't work. Last few days, I have been facing so many issues after upgrading docker-desktop from choco which directly install latest stable version(Docker - 19.03.13) which I'm not able to use docker driver. I tried with hyperV on different VMs but due to firewall/security problem, it is not working. After testing by downgrading to next versions, I found Docker 19.0.8 is the comp

[2020-10-15 21:40] mailbagrahul commented on #9428
Even docker is running healthy but somehow 19.03.13 with minikube is not working on docker driver. May be it is not able to identify that docker running. no idea what is going on.

[2020-10-15 23:17] medyagh commented on #9434
Hi @harskum we dont have integration tests for vmware, I wonder if you have tried our Docker driver ? that is our most prefered driver if you install docker.

[2020-10-15 23:18] #9443 closed

[2020-10-16 00:25] #9427 closed

[2020-10-16 00:49] KrzysztofKowalczyk commented on #9473
I seem to have similar issue on Ubuntu 20.04.1 LTS with docker driver.

[code]

deleting and starting again does not help

minikube logs
[logs.txt](https://github.com/kubernetes/minikube/files/5388576/logs.txt)

[2020-10-16 01:07] kevinzs2048 commented on #8420
/assign

[2020-10-16 01:08] kevinzs2048 commented on #8420
This is Kevin from Linaro, I will corporate with Huawei guys to continue work on this.
Also we have Arm64 machines which can offer to upstream as the Arm64 CI

[2020-10-16 01:14] MOZGIII commented on #9304
The problem persists with 1.14.0: https://github.com/timberio/vector/pull/4055/checks?check_run_id=1262088375

[2020-10-16 01:52] pramchan commented on #9473
I discovered that there is kubectl that can be called from minikube and this is what is lists
minikube kubectl get ns
NAME                   STATUS   AGE
default                Active   41h
kube-node-lease        Active   41h
kube-public            Active   41h
kube-system            Active   41h
kubernetes-dashboard   Active   41h

and I can get
minikube kubectl get nodes
NAME           STATUS

[2020-10-16 07:48] kevinzs2048 commented on #8420
@gaozhekang Hi, could you tell me how to install the Kubeadm/kubectl/kubelet in OpenEuler?

[2020-10-16 14:16] kevinzs2048 commented on #6280
Hi Guys, this is Kevin from Linaro and we can offer the Arm64 bare metal machines as the builder. Could you tell me how to proceed with this topic?

[2020-10-16 14:20] cglacet commented on #5642
For those like me who don't know how to do, you just need to run these commands:

[code]

It worked for me at least.

[2020-10-16 14:59] elliott-davis opened #9479 "Minikube ip changes after laptop suspend/resume"
To start minikube I am running
[code]
 This starts minikube in a desired state. I can then stop/start it all day long.

The issue seems to arise when my laptop suspends itself after closing the lid. When it resumes, I can run minikube status and after some time I get:
[code]

In order to get the api server running again, I execute the exact same minikube start command above and get:
[code]
The IP

[2020-10-16 15:01] afbjorklund commented on #9479
Looks like it uses the wrong interface, since 172.17.0.1 is normally `docker0`

[2020-10-16 15:04] elliott-davis commented on #9479
I'm not sure how it would get that address. I have docker0 on my machine configured to use 100.121.23.2/26.
[code]

[2020-10-16 15:05] afbjorklund commented on #9479
Not sure either, will try with your settings. Just that it happens to be the default docker network.

[2020-10-16 15:13] elliott-davis commented on #9479
It is worth noting that if I run `minikube stop` then restart it with the above command, everything works as expected.

[2020-10-16 15:16] afbjorklund commented on #9479
I suppose you could try `minikube ip` with some extra verbosity, to see why it fails to detect the IP after restart.

[2020-10-16 15:18] AlekSi commented on #9470
We see the same problem with 1.17.13 and 1.18.10

[2020-10-16 15:53] afbjorklund commented on #9479
The virtualbox driver is looking for the MAC of the host-only adapter, and then tries to find that MAC in "ip addr show"

Something like:
[code]
[code]

The actual go code in: https://github.com/docker/machine/blob/v0.16.2/drivers/virtualbox/virtualbox.go#L710_L802

[2020-10-16 16:26] elliott-davis commented on #9479
Based on our discussion from slack:
It appears that the laptop suspending is causing systemd-networkd to drop the carrier and not re-allocate an ip when the host resumes.
[code]

[2020-10-16 23:39] #9456 closed

[2020-10-17 06:12] vedvarshith commented on #3634
![android+linux](https://user-images.githubusercontent.com/70155237/96329803-d4a51380-106d-11eb-9453-10aeeae76fff.jpeg)

[2020-10-17 06:19] vedvarshith commented on #3634
please help me i have the same prob.

[2020-10-17 07:19] afbjorklund commented on #9479
So there are two bugs here:
1) The virtualbox driver `GetIP` returns the docker0 address, instead of returning an error when getting the eth1 address
2) It seems like the systemd-networkd DHCP server never configures the interface again, so it doesn't get an address

[2020-10-17 07:49] afbjorklund commented on #9479
The changes between `v240..v244` are mostly related to wifi, but the logic does change a bit too:

[code]
Could be worth testing with the new minikube ISO (that has systemd 244.5), to see if it helps anything ?

You can see the current state of systemd-networkd like so:

[code]

The eth0 is the nat, and the eth1 is the hostonly (see #4938)

[2020-10-17 08:10] YuriyKrasilnikov opened #9481 "restarting minikube with flannel CNI: cannot stat '/etc/cni/net.d/100-crio-bridge.conf': No such file or directory"
**Steps to reproduce the issue:**

1. minikube start --network-plugin=cni --cni=flannel
2. minikube stop
3. minikube start

**Full output of failed command:**
3. minikube start
[code]

**Full output of failed command with --alsologtostderr:**
3*. minikube start --alsologtostderr
[code]

**Optional: Full output of `minikube logs` command:**
<details>

[code]
</details>

[2020-10-17 08:13] magnus-larsson opened #9482 "tunnel with Docker driver on wsl2: Recv failure: Connection reset by peer"
**Summary**

The `minikube tunnel` command seems to open the expected port on localhost, but making a request fails with `Connection reset by peer`.

**Environment**

* WSL 2 in Windows 10 Pro 2004
* Docker 2.4.0.0
* Minikube 1.14.0

**Steps to reproduce the issue:**

1. Create minikube instance
[code]
2. Create a deployment and a load balanced service
[code]
3. Verify the the port is not yet open

[2020-10-17 08:16] magnus-larsson commented on #7879
Created an issue on problems with `minikube tunnel` on WSL 2 using minikube v1.14.0, see #9482

[2020-10-17 10:28] afbjorklund opened #9483 "Upgrade Docker to 19.03.13 (and containerd to 1.3.7)"
Mostly for buildkit fixes

https://docs.docker.com/engine/release-notes/#190313

And containerd to 1.3.7

runc stays at 1.0.0-rc10

[code]
https://download.docker.com/linux/static/stable/x86_64/

Consider using the same version for KIC, by changing from ubuntu.com to docker.com (#6627)

https://docs.docker.com/engine/install/ubuntu/

[code]

Note: `/usr/bin/runc` is included in the containerd.io p

[2020-10-17 10:29] afbjorklund commented on #9483
PR #9477 and #9478

[2020-10-17 11:02] afbjorklund commented on #9483
PR #9484 for KIC

[2020-10-17 11:10] afbjorklund commented on #9472
Which docker version and platform is this ? We now that we have this issue on ChromeOS: #6411

[2020-10-17 11:17] afbjorklund commented on #9463
Why is this something that we want to support ? Why not just use our minikube VM, instead of the boot2docker VM ?

[code]

At the very least, one would have to use --virtualbox-cpu-count=2 --virtualbox-memory=2048 to double the defaults...

[2020-10-17 11:23] afbjorklund commented on #9463
This (using Docker Machine) has a lot of the same problems as using Podman Remote: #8003

Like for instance those ports we publish, they are **not** from localhost but from the boot2docker VM

So the `127.0.0.1` will need to be replaced with `$(docker-machine ip default)`

Same problem with any bind mounted volumes (`-v`), they will also be from the VM

[2020-10-17 11:51] mosee9 opened #9485 "https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2Fkubernetes%2Fminikube%2Fissues%2Fnew%2Fchoose"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-10-17 13:20] afbjorklund commented on #9479
Here is a fix for the driver: https://github.com/machine-drivers/machine/compare/master...afbjorklund:virtualbox-ipaddr

[2020-10-17 14:26] abhimjoshi commented on #7344
@harlesbayu See the output below after I ran the command:

[code]

I do not see anything related to `Ingress` here.

Thanks again.

[2020-10-17 16:02] bolipereira commented on #9198
any updates on this? I'd also find it very useful

[2020-10-17 16:21] newtoniumx3 commented on #8728
Thank you @priyawadhwa I had this issue on windows 10 after a reboot and simply running
`minikube delete` then `minikube start`

The delete was the key that fixed my connection issues

[2020-10-17 20:42] #6253 closed

[2020-10-18 11:47] afbjorklund commented on #6280
@kevinzs2048 : hello, I think we are past the jenkins-under-the-desk stage for the project that this post originally described (and that I have at home), and we are now using GitHub Actions with custom runners. hopefully @medyagh can tell you more about it?

The actually build is done with cross-compilation, so that part works fine. The main need is for doing regression testing, with the various d

[2020-10-18 13:22] vinu2003 opened #9486 "stopping a profile which doesn't exists creates profile folder instead of just throwing error"
##minikube stop##
vinodhinis-mbp:minikube vinodhinibalusamy$ ./out/minikube stop -p test2
🤷  There is no local cluster named "test2"
👉  To fix this, run: "minikube start -p test2"

this causes unwanted error message thrown in profile list.

vinodhinis-mbp:minikube vinodhinibalusamy$ ./out/minikube profile list
|----------|-----------|---------|--------------|------|---------|---------|
| Profile

[2020-10-18 15:42] tokomeno commented on #9473
I have tried it many times but does not helped.
I have updated minikube version to the latest but still same error, can't find any similar issue... still trying to fix but nothing comes up :(

tornike@vostro:~/magical/caspi/main-ms$ minikube start
😄  minikube v1.14.0 on Ubuntu 20.04
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄

[2020-10-18 15:44] kaustubhd93 commented on #8765
I also faced the same issue on Kubuntu 20.04. But it happened after I applied `flannel` pod to my minikube. It kept failing and I deleted it, yet it would still run on restarting minikube. Removing the minikube docker image was also not working.
Finally @abrahamfathman's solution worked for me

[2020-10-18 16:18] tokomeno commented on #9473
My bad sorry guys look like I was using Kubernetes with microk8s, I have removed it and it works fine.

[2020-10-18 16:19] #9473 closed

[2020-10-18 18:41] consideRatio commented on #9470
I see it also for 1.19.3

[2020-10-18 19:41] prezha commented on #9468
/assign

[2020-10-18 21:30] devniel commented on #9482
In my case, I don't get the default output, so it seems that it isn't working. When there is a service and I run `minikube tunnel` again there is an output related to the active service but no the default one described in https://minikube.sigs.k8s.io/docs/handbook/accessing/#using-minikube-tunnel.
[code]

[2020-10-18 22:11] toluwaanimi opened #9488 "The connection to the server 127.0.0.1:32768 was refused - did you specify the right host or port?"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-10-19 00:06] kevinzs2048 commented on #6280
@afbjorklund Thanks for that info. Looks that on Arm64 we can enable none/docker/kvm2 drivers. And for KVM2 driver, the testing machine should be a bare metal, since on Arm64 there is no nested virtualization support.

[2020-10-19 03:41] wolfwatch opened #9489 "dashboard"

[2020-10-19 03:42] #9489 closed

[2020-10-19 05:26] afbjorklund commented on #6280
Currently we don't have any OS images for testing the docker (#9227) or kvm2 (#9228) driver on arm64.
There are partial proof-of-concept implentations, but nothing is available for public testing at the moment.

The basic operating systems (ubuntu for KIC, buildroot for ISO) _does_ have ARM (arm32/arm64) support.
But we need to complete the packaging for minikube. The main reason for supporting ar

[2020-10-19 11:52] thangavel-projects commented on #7332
Thank you, i fixed my issue. Now i can enable add and works fine.

[2020-10-19 13:40] saggzz commented on #2498
#17936

[2020-10-19 13:41] saggzz commented on #2498
https://github.com/openshift/origin/issues/17936

[2020-10-19 14:54] adr-arroyo commented on #9370
Isn't there anyone that can help me on this?

[2020-10-19 15:55] tliron commented on #6982
I think an acceptable solution is to document this in Minikube, probably [here](https://minikube.sigs.k8s.io/docs/handbook/registry/). To be honest, that whole page could use a rewrite, as it's more a collection of notes than a guide. As it stands right now, the only way to really learn what `--addons=registry` does is to look at blogs.

I'd like to help, but I'm unfamiliar with the project intera

[2020-10-19 15:58] nicolasduminil opened #9491 "Unable to pull from k8s.gcr.io: failed: write: stream error: stream ID X; INTERNAL_ERROR"
**Steps to reproduce the issue:**

1. minikube start

**Full output of failed command:**
😄  minikube v1.14.0 on Ubuntu 20.04
✨  Automatically selected the docker driver
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
E1019 17:49:35.843193  342171 cache.go:63] save image to file "k8s.gcr.io/kube-scheduler:v1.19.2" -> "/home/nicolas/.minikube/cache/images/k8s.gc

[2020-10-19 16:06] zerefwayne opened #9492 "Show progress bar when pulling docker base image"
**Steps to reproduce the issue:**

1. minikube start --driver=docker

**Full output**
[code]

**Issue**

The terminal shows no output of the download progress while downloading the docker image. This issue can also be because `docker pull` starts to works in the background and the terminal process has no way of knowing the progress. I wish there was some output about the progress here because the

[2020-10-19 16:18] zerefwayne commented on #9492
![image](https://user-images.githubusercontent.com/28949397/96477977-c1a06800-1254-11eb-8efc-1a000b0416d0.png)

The size of the image is close to 800MB which can take a lot of time.

[2020-10-19 18:46] priyawadhwa commented on #8388
If we're skipping 1.18.3, can this issue be closed?

[2020-10-19 18:47] #8347 closed

[2020-10-19 18:48] priyawadhwa commented on #8775
Closing as a dupe of https://github.com/kubernetes/minikube/issues/7422

[2020-10-19 18:48] #8775 closed

[2020-10-19 18:50] priyawadhwa commented on #9091
kubeadm may have landed JSON output which could be useful here it it's been merged

[2020-10-19 18:51] priyawadhwa commented on #8961
I'm going to go ahead and close this issue for now then.

[2020-10-19 18:51] #8961 closed

[2020-10-19 20:06] legal90 opened #9493 "Parallels driver is getting called as a built-in library instead of RPC Server"
The issue is well-described in this thread (starting from the linked comment): https://github.com/Parallels/docker-machine-parallels/issues/93#issuecomment-711048093

We realized that the output of parallels driver does not depend on the actual binary of `docker-machine-driver-parallels` available in PATH. It appeared that `minikube` was calling driver's functions as a usual library, without launc

[2020-10-19 20:37] legal90 commented on #9357
Hi all!
The same error was recently reported to `parallels` driver repo: https://github.com/Parallels/docker-machine-parallels/issues/93
We [fixed](https://github.com/Parallels/docker-machine-parallels/issues/93) it recently and released in [v2.0.0](https://github.com/Parallels/docker-machine-parallels/releases/tag/v2.0.0).

However, it's not enough to update `docker-machine-driver-parallels` to v

[2020-10-19 21:12] herrsergio commented on #9279
I'm having the same issue.

[2020-10-19 21:25] herrsergio commented on #9279
Here are the last log lines:

[code]

[2020-10-19 23:59] ilya-zuyev commented on #9227
AWS provides arm64 instances.
Tried to use one to build KICbase image:

[code]

[code]
looks like we miss arm64 podman package

[2020-10-20 05:40] afbjorklund commented on #9227
Yeah, I deleted that pinning an just installed podman2 instead. We need to get that working sometime anyway.

But it’s not a major issue to build podman1 (and cri-o if needed) for arm64. I used pbuilder to do it.

[2020-10-20 05:58] owenthereal opened #9495 "`minikube start --driver docker` does not honour DOCKER_HOST"
**Steps to reproduce the issue:**

I'm running [rootless Docker](https://docs.docker.com/engine/security/rootless/) on Fedora 32:

[code]

**Full output of failed command:**

See above

**Full output of `minikube start` command used, if not already included:**

See above

**Optional: Full output of `minikube logs` command:**
<details>
[code]

</details>

[2020-10-20 08:46] AlphaWong commented on #7344
I think it still happed. I cannot use ingress in my minikube on my macos

[2020-10-20 09:14] ParagNetApp commented on #3900
Despite of enabling VT-D in the bios I get the message VBoxManage.exe: error: VT-x is not available (VERR_VMX_NO_VMX)

c:\work>minikube start --driver=virtualbox  --disk-size=40000mb --no-vtx-check
* minikube v1.12.2 on Microsoft Windows 10 Enterprise 10.0.18363 Build 18363
* Using the virtualbox driver based on user configuration
* minikube 1.14.0 is available! Download it: https://github.com/kub

[2020-10-20 09:36] ParagNetApp opened #9497 "VBoxManage.exe: error: VT-x is not available (VERR_VMX_NO_VMX)"
**Steps to reproduce the issue:**

1. minikube version: v1.12.2,
    Microsoft Windows 10 Enterprise , Version 10.0.18363 Build 18363
    Virtual Box  version : Version 6.1.12 r139181 (Qt5.6.2)
    Processor :  Intel® Core™ i5-7300U Processor

2. Start minikube as minikube start --driver=virtualbox  --disk-size=40000mb --no-vtx-check
3.

**Full output of failed command:**
c:\work>minikube delete -

[2020-10-20 09:51] GRXself commented on #9482
Try set expose port to 8080:
kubectl expose deployment balanced --type=LoadBalancer --port=8000
I was learning the k8s and found that if you set a different port form the image(in image k8s.gcr.io/echoserver:1.4, I think the port is 8080), it will keep reseting your connection.

[2020-10-20 09:57] nixpanic commented on #9470
This is not really an issue with minikube itself, but the generated checksum files are different.

**FAIL** https://storage.googleapis.com/kubernetes-release/release/v1.19.3/bin/linux/amd64/kubectl.sha256
**OK** https://storage.googleapis.com/kubernetes-release/release/v1.19.2/bin/linux/amd64/kubectl.sha256

The failing file does not contain a `\n`. This is probably something that changed in the r

[2020-10-20 10:02] GRXself opened #9498 "tunnel instructions are broken (wrong port): Connection reset by peer"
In this [article](https://minikube.sigs.k8s.io/docs/start/), I followed the steps to create a deployment using **type=LoadBalancer**, but I found I can not visit the app after tunnel. When I curl http://localhost:8000, I got connection reset
In this article, the command is as follows:
**kubectl create deployment balanced --image=k8s.gcr.io/echoserver:1.4
kubectl expose deployment balanced --type=L

[2020-10-20 10:10] petr-motejlek commented on #3036
I was just investigating another DNS-related issue on my colleagues OS X High Sieera, and it turns out, it's really terrible.

He has a mDNSresponder service occupying *:53/UDP. It does not actually respond to any of the requests made by the minikube VM. So, DNS is effectively broken for the VM, using HyperKit. We did not know about the DNSresponder thingie, since we installed dnsmasq, and began u

[2020-10-20 11:30] afbjorklund commented on #9227
@ilya-zuyev published a podman_1.9.3~1_arm64.deb

[2020-10-20 11:37] cglacet commented on #567
I confirm that the most simple method works on recent version:

[code]

Which is confirmed by VirtualBox GUI:

<img width="644" alt="Screenshot 2020-10-20 at 13 36 47" src="https://user-images.githubusercontent.com/28622118/96580916-4e8d0500-12d9-11eb-95d3-00eeb6c3f0cc.png">

[2020-10-20 11:49] nixpanic commented on #9470
The change in hashicorp/go-getter#285 was tested with the following:

0. add a unit-test for the download function
    save [download_test.go](https://github.com/kubernetes/minikube/files/5408395/download_test.go.txt) as `./pkg/minikube/download/download_test.go`
1. vendor all pkgs
[code]
1. build a unit-test executable
[code]
1. run the unit-test, it will FAIL
[code]
1. make the [change to go-get

[2020-10-20 13:01] nixpanic commented on #9470
@afbjorklund it seems that your fork of go-getter is used. Care to cherry-pick hashicorp/go-getter#285 and update `go.mod` here?

[2020-10-20 14:15] tstromberg commented on #9491
This appears to be some kind of HTTTP server error (500 error code) emanating from GCR.

Can you try again with `--alsologtostderr -v=1` to see the situation cleared up? If not, it will add additional logging which will be helpful.

What's interesting here is that we also failed to be able to download the preload image, which is the only reason we fell back to pull the individual images.

[2020-10-20 14:36] willemodendaal opened #9499 "Pod not accessible on NodePort via the Windows 10 host machine."
I'm struggling with Minikube on Windows 10. I have a pod and a service, but the nodePort on the service does not seem to work. When accessing my service using curl I get: `curl: (7) Failed to connect to 192.168.49.2 port 31985: Timed out
This site can’t be reached`

I honestly don't know if this is a Minikube issue, or a Kubernetes issue, or a Skaffold issue, or a plain windows networking issue. H

[2020-10-20 14:56] xiaods commented on #2162
No change yet - help wanted.

[2020-10-20 15:02] afbjorklund commented on #9470
I rebased to `v1.4.2` and pushed a new branch as https://github.com/afbjorklund/go-getter/tree/tags-new-checksum (c0da14b)

[2020-10-20 15:12] afbjorklund commented on #9470
Seems like the bug was introduced by @saschagrunert  here: https://github.com/kubernetes/release/commit/f8a92740d4f4bf112f033ed0318de5ea6c2997fa (it's a problem with `krel push`)

[2020-10-20 15:48] afbjorklund commented on #9470
Seems to be working now (after #9500): `./out/minikube start --kubernetes-version=v1.19.3 --download-only`

[2020-10-20 16:18] afbjorklund commented on #9493
Interesting, this might actually be the same issue as with all other drivers in the registry: #5549

[2020-10-20 16:23] afbjorklund commented on #9495
Not sure if rootless docker is enough to run the docker-in-docker node, but it should at least give a more obvious message...

There are some similar issues on Windows, when people have both Hyper-V and WSL versions of the docker daemon VMs.

[2020-10-20 16:24] afbjorklund commented on #9495
Are you able to run `kind` with this docker setup ?

https://github.com/kubernetes-sigs/kind

[2020-10-20 16:26] afbjorklund commented on #9492
Same request as #7012, but unfortunately no progress has been made since

[2020-10-20 16:28] afbjorklund commented on #9492
The workaround is doing `docker pull` on the kicbase image first.

[2020-10-20 18:30] pushp1997 commented on #9472
Yes, I am on ChromeOS. Sorry I didnt know that its a known issue. Thanks @afbjorklund

[2020-10-20 20:40] dpantic opened #9502 "test-pay"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-10-20 21:34] jkholtzman opened #9504 "hyperkit: with Cisco AnyConnect VPN on Mac: Unable to connect to outside world"
Cannot start basic test pod through kubectl with VPN active. Shows 0/1 ready. Have tried hyperkit and docker drivers. Exact same configuration runs when VPN disabled. Have checked the "allow local LAN" box in Cisco, has no effect.

MacOS 10.15.7 Catalina latest
minikube version: v1.14.0
Cisco AnyConnect Secure Mobility Client Version 4.8.03036
Kubectl: Client Version: version.Info{Major:"1", Minor

[2020-10-20 23:20] prezha commented on #2117
/assign

[2020-10-20 23:52] tstromberg commented on #9434
This seems to be the crux of the matter:

[code]

If you manually run this command, what happens:

`"/Applications/VMware Fusion.app/Contents/Public/vmrun" start /Users/harshit/.minikube/machines/minikube/minikube.vmx nogui`

[2020-10-20 23:59] tstromberg commented on #9370
It seems quite likely that the answer here will be general to Kubernetes rather than specific to minikube.

That said, it seems unlikely, but is it possible that the metrics-server needs to be started first? I'm not quite sure how this is supposed to work. More likely that this is related to one of these issues, and may be indicative of a missing flag in either the controller or metrics server. Th

[2020-10-21 00:03] tstromberg commented on #9380
It may be possible that minikube is incompatible with host-only networking - I've never tried it.

What happens if you run `minikube delete` and `minikube start` -- does in work properly then?

[2020-10-21 00:06] tstromberg commented on #9481
The good news is that this is simply a warning message output - it shouldn't impact the cluster otherwise. I'll send a PR in to address this nonetheless.

[2020-10-21 00:12] #9485 closed

[2020-10-21 00:14] tstromberg commented on #9488
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube` command lines used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2020-10-21 00:14] tstromberg commented on #9492
This issue appears to be a duplicate of #7012, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-10-21 00:14] #9492 closed

[2020-10-21 00:33] tstromberg commented on #9493
This is definitely not by design -- the docs mention that the driver needs to be downloaded first.

[2020-10-21 00:33] tstromberg commented on #9486
Good catch! Help wanted to fix this -- there is no reason why `minikube stop` should cause a profile to be created.

[2020-10-21 00:39] tstromberg commented on #9497
It sounds like VirtualBox may not be properly installed on this machine:

[code]

Can you can test with another non-minikube image? https://www.osboxes.org/virtualbox-images/ has some -- for instance, the Debian server image might be helpful here.

[2020-10-21 00:39] tstromberg commented on #9497
Please let me know what you find out so that we can improve this error message.

[2020-10-21 00:40] tstromberg commented on #9498
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command
*  Any chance you are running minikube on Windows within WSL2?

Thank you for sharing your experience!

[2020-10-21 00:41] tstromberg commented on #9499
Can you please include the output of the `minikube start` command? It'd be helpful to know what driver it is using.

[2020-10-21 00:41] #9502 closed

[2020-10-21 00:43] tstromberg commented on #9504
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command
*  The full output of `minikube status`
*  The full output of `minikube logs`

Ultimately, this may come down to a VPN configuration issue: https://

[2020-10-21 01:43] ilya-zuyev commented on #9495
Wondering, if we need to support non-default docker endpoints anyway. Running docker server on a socket/fd different from /var/run/docker.sock is a perfectly valid configuration.

[2020-10-21 02:50] GRXself commented on #9498
Before I start, I want to say that it should be a wrong port use in the getting start documentation.

I was following the get start documentation, and the following is my environment and what I ran in my terminal:

**Environment:**

- OS: macOS Catalina version 10.15.7
- Docker version: 19.03.13
- minikube version: v1.14.0
- kubectl version:
Client Version: version.Info{Major:"1", Minor:"18", GitV

[2020-10-21 02:53] kevinzs2048 commented on #6280
@afbjorklund Thanks, I see.
Is there anything I can help to accelerate the process? I'm from Linaro so that contributing anything for Arm64 is my mission.

[2020-10-21 03:12] tstromberg commented on #9493
@legal90 - if you have a PR to address this, feel free to send the review my way.

[2020-10-21 03:13] tstromberg commented on #8414
@ctron - any update? We're now on minikube v1.4.0 -- though I don't think the storage provisioner has changed since v1.13.1.

[2020-10-21 03:14] tstromberg commented on #8772
@szarnyasg - thanks for the workaround!

[2020-10-21 03:15] tstromberg commented on #8874
This issue appears to be a duplicate of #8772, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-10-21 03:15] #8874 closed

[2020-10-21 03:33] lengrongfu opened #9507 "docs: Installation is null"
![image](https://user-images.githubusercontent.com/15009201/96670125-3bd60700-1391-11eb-91fd-c29d8c985a30.png)
Installation is null

[2020-10-21 03:40] tstromberg commented on #9304
The root cause is that minikube has hardcoded the root directories it expects the cgroups to be mounted from, and this configuration doesn't share those expectations:

`632 620 0:42 /actions_job/0924fbbcf7b18d2a00c171482b4600747afc367a9dfbeac9d6b14b35cda80399 /sys/fs/cgroup/memory rw,nosuid,nodev,noexec,relatime shared:263 master:24 - cgroup cgroup rw,memory`

This particular line is to blame:

ht

[2020-10-21 03:52] harskum commented on #9434
@tstromberg I get the same error if I run the command you gave
![image](https://user-images.githubusercontent.com/52396256/96671169-de38bf00-137e-11eb-887e-7bfb09222b36.png)

[2020-10-21 04:10] tstromberg commented on #9507
What URL are you looking at?

https://minikube.sigs.k8s.io/docs/start/ shows the content -- at least with Javascript enabled:

![Screen Shot 2020-10-20 at 9 09 25 PM](https://user-images.githubusercontent.com/101424/96672248-9b440080-1318-11eb-8fe1-274fc1379e53.png)

[2020-10-21 04:11] tstromberg commented on #9013
I too am confused about the suggestion given by @poliander

[2020-10-21 04:12] tstromberg commented on #9328
Great news! Thank you.

[2020-10-21 04:12] #9328 closed

[2020-10-21 04:13] tstromberg commented on #9482
I'm honestly a bit befuddled by this. @medyagh - any clue here?

[2020-10-21 04:15] tstromberg commented on #9482
This seems quite related to #9482 - which leads me to think there may be an issue with tunnel on Docker, rather than specific to WSL2.

[2020-10-21 04:15] spurum1008 opened #9509 "storage-provisioner' returned an error: running callbacks: [sudo KUBECONFIG=/var/lib/minikube/kubeconfig /var/lib/minikube/binaries/v1.19.2/kubectl apply -f /etc/kubernetes/addons/storage-provisioner.yaml: Process exited with status 1"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-10-21 04:24] tstromberg commented on #9498
I was able to confirm this behavior, FWIW. With v1.4.0 and v1.3.1.

[2020-10-21 04:28] tstromberg commented on #9498
Funny enough, I wasn't able to get the tunnel instructions on https://minikube.sigs.k8s.io/docs/start/ to work with hyperkit either, so I'm even more confused now.

[2020-10-21 04:29] tstromberg commented on #9498
Can someone follow-up to say they've gotten tunnel to work, or not work, with minikube v1.4.1 on the Docker driver on macOS?

[2020-10-21 05:45] vinu2003 commented on #9486
thank you.
/assign @vinu2003

[2020-10-21 05:45] willemodendaal commented on #9499
Here is the `minikube start` output:

λ minikube start
* minikube v1.14.0 on Microsoft Windows 10 Pro 10.0.19041 Build 19041
* Using the docker driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing docker container for "minikube" ...
* Preparing Kubernetes v1.19.2 on Docker 19.03.8 ...
* Verifying Kubernetes components...
* Enabled addons

[2020-10-21 05:51] roock commented on #8873
This looks like it is related to #8439?

[2020-10-21 05:52] legal90 commented on #9493
@tstromberg I sent a PR which "fixes" this issue by making _minikube <-> parallels driver_ communication trough RPC: https://github.com/kubernetes/minikube/pull/9494

However, based on https://github.com/kubernetes/minikube/pull/9494#issuecomment-713194751, it seems that you guys prefer to have drivers built-in.
If so - I'll send a new PR soon, which will update the docs and remove the check of dr

[2020-10-21 06:08] GRXself commented on #9498
In my view, there is nothing wrong in tunnel, just a wrong port given in [get started documentation](https://minikube.sigs.k8s.io/docs/start/).
If I expose the deployment in the port the docker image expose, it will work. I packaged my own image later and tested this behavior with different port, the `kubectl expose deployment balanced --type=LoadBalancer --port=8000` command should expose the por

[2020-10-21 07:03] GRXself commented on #9498
I'm trying to give a PR(https://github.com/kubernetes/minikube/pull/9511), only change the md file, but failed unit test. I'm lacking the knowledge of Go, I'll try to run the test in my local, but I don't know if I can handle it in few days.

[2020-10-21 10:16] volmab opened #9512 "config"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-10-21 10:17] #9512 closed

[2020-10-21 14:10] jkholtzman commented on #9504
The following is with Cisco VPN running. You can see I added a no proxy entry for the minikube network 192.168.64.0/24.

$ minikube start
😄  minikube v1.14.0 on Darwin 10.15.7
✨  Using the hyperkit driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🔥  Creating hyperkit VM (CPUs=2, Memory=4000MB, Disk=20000MB) ...
🌐  Found network options:
    ▪ NO_PROXY=

[2020-10-21 14:39] afbjorklund commented on #9493
Some drivers are built-in (like virtualbox), some have an external binary (like docker-machine-driver-kvm2).

Our driver "registry" looks to be rather confused, though. So it might very well be that it tries to do both...

I think the main reason for not building _everything_ in, would be that it would then also link to extra libraries.

For instance, the kvm2 driver requires libvirt to be install

[2020-10-21 15:29] sstuntman opened #9513 "Exiting due to GUEST_PROVISION: Failed to cache ISO: no space left on device"
**Steps to reproduce the issue:**

1.minikube start --vm-driver=hyperkit
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**
  Exiting due to GUEST_PROVISION: Failed to cache ISO: unable to cache ISO:
  https://storage.googleapis.com/minikube/iso/minikube-v1.13.1.iso: getter: &{Ctx:context.Background Src:https://storage.googleapis.c

[2020-10-21 15:31] nicolasduminil opened #9514 "minikube addons enable registry doesn't work - timeout"
**Steps to reproduce the issue:**

1. $ minikube start
😄  minikube v1.14.0 on Ubuntu 20.04
✨  Automatically selected the docker driver
👍  Starting control plane node minikube in cluster minikube
🔥  Creating docker container (CPUs=2, Memory=7900MB) ...
🐳  Preparing Kubernetes v1.19.2 on Docker 19.03.8 ...
🔎  Verifying Kubernetes components...
🌟  Enabled addons: storage-provisioner, default-storagec

[2020-10-21 15:37] tstromberg commented on #9482
I'm going to de-dup this against #9498 for now, as I'm pretty sure the root cause is the same.

[2020-10-21 15:37] #9482 closed

[2020-10-21 15:40] tstromberg commented on #9498
Good call. Thank you for noticing that -- I wonder where along the lines we got this confused in our getting started doc.

[2020-10-21 15:42] tstromberg commented on #9498
I can confirm that this now works as expected. Thank you so much for pointing this out & offering an easy solution.

[2020-10-21 15:42] #9498 closed

[2020-10-21 15:48] nicolasduminil commented on #9514
The full output with --alsologtostderr

I1021 17:41:58.292413   41687 addons.go:55] Setting registry=true in profile "minikube"
I1021 17:41:58.292430   41687 addons.go:131] Setting addon registry=true in "minikube"
I1021 17:41:58.292445   41687 host.go:65] Checking if "minikube" exists ...
I1021 17:41:58.292835   41687 cli_runner.go:110] Run: docker container inspect minikube --format={{.State.Sta

[2020-10-21 15:53] #8445 closed

[2020-10-21 15:58] tstromberg commented on #9499
Does `minikube service doxie-budget...` do the right thing in this environment by any chance? It should try to open the web browser to the right URL.

I suspect this may be the case of `minikube service list` listing the wrong URL in the list for the Docker driver, but the `minikube service` command may still work: https://minikube.sigs.k8s.io/docs/handbook/accessing/#getting-the-nodeport-using-th

[2020-10-21 16:03] tstromberg commented on #9504
So, minikube looks healthy -- when you try to start your test pod -- what happens?

The output of `kubectl describe <pod>` and `kubectl logs <pod>` would be helpful.

Based on this message: `This VM is having trouble accessing https://k8s.gcr.io` -- I suspect that the issue may come down to the Cisco VPN not allowing outgoing access to the internet from Docker by default. As a quick test, can you

[2020-10-21 16:06] tstromberg commented on #9514
Hey @nicolasduminil  - do you mind sharing the output of:

* `kubectl describe po -l kubernetes.io/minikube-addons=registry -n kube-system`
* `kubectl logs -l kubernetes.io/minikube-addons=registry -n kube-system`

Thanks!

[2020-10-21 16:08] tstromberg commented on #9513
It sounds like your home directory has run out of disk space:

`write /Users/ehafidi/.minikube/cache/iso/minikube-v1.13.1.iso.download: no space left on device`

You can confirm by using:

` df -h $HOME`

[2020-10-21 16:09] tstromberg commented on #9513
FWIW, you may be able to clear minikube's disk space by using:

`minikube delete --all --prune`

But I suspect this will not be enough to clear up the 8GB or so necessary to run minikube well.

[2020-10-21 16:15] tstromberg commented on #8765
Interesting. I can't conceive of a reason why `minikube delete` shouldn't be sufficient, but the user experience here seems counter to that.

It may be possible that minikube v1.4.0 has improved this error situation - if someone runs into this error with v1.4.0, please follow-up on this issue.

[2020-10-21 16:17] #9022 closed

[2020-10-21 16:24] magnus-larsson commented on #9482
Thanks for clarifying this!

I can confirm that following the updated documentation as described in #9498, i.e. change the port from 8000 to 8080, solves the problem!

[2020-10-21 16:30] #9264 closed

[2020-10-21 16:33] nicolasduminil commented on #9514
@tstromberg : Hi, yes, sure

kubectl describe po -l kubernetes.io/minikube-addons=registry -n kube-system
Name:         registry-8t8jg
Namespace:    kube-system
Priority:     0
Node:         minikube/192.168.49.2
Start Time:   Wed, 21 Oct 2020 17:41:58 +0200
Labels:       actual-registry=true
              addonmanager.kubernetes.io/mode=Reconcile
              kubernetes.io/minikube-addons=regist

[2020-10-21 16:39] tstromberg commented on #9514
minikube has a 3 minute timeout on addon startup, and it seems like it took 2m59s to pull the registry image:

`Normal Pulled 47m kubelet, minikube Successfully pulled image "registry.hub.docker.com/library/registry:2.7.1" in 2m59.649166216s`

I'll see about extending the timeout

[2020-10-21 16:56] nicolasduminil commented on #9514
Okay, I'll try to do that, thanks.

[2020-10-21 17:12] tstromberg commented on #9514
https://storage.googleapis.com/minikube-builds/9515/minikube-linux-amd64

[2020-10-21 17:15] jkholtzman commented on #9504
[06-simplek8s] $ kubectl apply -f client-pod.yaml
pod/client-pod created
[06-simplek8s] $ kubectl apply -f client-node-port.yaml
service/client-node-port created
[06-simplek8s] $ kubectl get pods
NAME         READY   STATUS             RESTARTS   AGE
client-pod   0/1     ImagePullBackOff   0          40s

[06-simplek8s] $ kubectl describe client-pod
error: the server doesn't have a resource type "

[2020-10-21 17:31] tstromberg commented on #9504
Oh, sorry I had missed that detail. From what I've seen, Docker has built-in support to work with Cisco AnyConnect, so it should workaround this issue. Hyperkit does not. It's worth noting that Docker *does* use Hyperkit underneath, but also uses VPNKit, as it's automatically provided by Docker.

[2020-10-21 17:32] tstromberg commented on #9504
This issue appears to be a duplicate of #6296, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-10-21 17:32] #9504 closed

[2020-10-21 17:42] taryodor commented on #3036
@petr-motejlek How can you be wrong so much? My mac runs Catalina!

[2020-10-21 17:56] blueelvis opened #9516 "Getting a dubious error message on Windows in PowerShell Core"
**Minikube Version -** v1.13.1
**Steps to reproduce the issue:**

1. Install PowerShell Core 7.
2. `minikube start --vm-driver=hyperv`
3. `minikube stop`

**Full output of failed command:**
[code]

I was not able to reproduce this for some reason and minikube was running for several days with my machine going through multiple cycles of sleep. Any idea what could be wrong in this case?

[2020-10-21 17:59] #9470 closed

[2020-10-21 18:11] priyawadhwa commented on #9315
Hey @viveksahu26 glad to hear that the docker driver is working for you now. Are you still trying to use virtualbox?

[2020-10-21 18:12] priyawadhwa commented on #8949
Hey @neargle I'm going to go ahead and close this issue as it's been quiet for a few weeks. If you're still seeing this issue, feel free to reopen at any time by commenting /reopen!

[2020-10-21 18:12] #8949 closed

[2020-10-21 18:12] priyawadhwa commented on #8823
Hey @dhaneesht are you still seeing this bug?

[2020-10-21 18:13] viveksahu26 commented on #9315
@priyawadhwa , Why not.. If you help me out..

[2020-10-21 18:14] ilya-zuyev commented on #9286
@ibmhack2020 did it help to solve your issue?

[2020-10-21 18:15] blueelvis commented on #9358
@ObidiIsaac - Could you please describe your issue & add some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of `minikube logs`

* The full output of kubectl get po -A

Thank you for sharing your expe

[2020-10-21 18:15] priyawadhwa commented on #8733
Hey @fzyzcjy are you still seeing this with the latest version of minikube?

[2020-10-21 18:16] priyawadhwa commented on #6921
Hey @zerefwayne are you still working on this?

[2020-10-21 18:16] blueelvis commented on #9118
@VivekMittals - Hey! Were you able to resolve your issue or is this still an issue?

[2020-10-21 18:18] sharifelgamal commented on #8848
I'm going to go ahead and close this for now since there hasn't been an update from OP, but please feel free to reopen with more details if it remains an issue.

[2020-10-21 18:18] #8848 closed

[2020-10-21 18:22] ilya-zuyev commented on #9116
@surensinghkhatana does ssh port forwarding work for you?

[2020-10-21 18:22] blueelvis commented on #9078
I will pick this up.

/assign

[2020-10-21 18:24] sharifelgamal commented on #7438
We still need to forward old URLs to the newer ones.

[2020-10-21 18:26] sharifelgamal commented on #8434
The links in the issue description has expired. I'm going to go ahead and close this for now. I'll open new issues with failing tests soon anyway.

[2020-10-21 18:26] #8434 closed

[2020-10-21 18:28] blueelvis commented on #3318
I will pick this up.

/assign

[2020-10-21 18:28] blueelvis commented on #3318
/remove-lifecycle frozen

[2020-10-21 18:30] sharifelgamal commented on #9322
@storozhilov That sounds like the right idea. I'll eventually get around to open the PR to revert that change, but if someone gets to it before me then I'll be happy to review.

[2020-10-21 18:30] blueelvis commented on #7438
/assign

[2020-10-21 18:32] medyagh commented on #9155
/kind support

[2020-10-21 18:32] medyagh commented on #9155
@josealmeida-vf  I have not heard back from you, I wonder if you still have this issue

[2020-10-21 18:32] #9155 closed

[2020-10-21 18:33] medyagh commented on #8939
@fzyzcjy do you mind sharing how may CPUs your docker desktop been allocated ?

[2020-10-21 18:34] sharifelgamal commented on #8841
I think we've done the wrong thing here, we should remove that warning and increase the addons timeout instead.

[2020-10-21 18:35] #9514 closed

[2020-10-21 18:36] afbjorklund commented on #9495
I'm not sure that the container will start with rootless docker, it seems to have the same issues as running on chromeos etc:

[code]

[2020-10-21 18:37] afbjorklund commented on #9495
Moving /var/run/docker.sock to a weird location is quite different from trying to run rootless docker, though.

It's a feature that _could_ be supported, but it wouldn't be a very common setup. Maybe if you want two ?

[2020-10-21 18:38] legal90 commented on #9493
@afbjorklund Thank you!
Here is the alternative fix which keeps the `parallels` driver built-in (as it is since a while) and removes the redundant check of `docker-machine-driver-parallels` binary.

[2020-10-21 18:40] afbjorklund commented on #9495
This issue is similar to #8719

[2020-10-21 18:42] #7422 closed

[2020-10-21 18:44] priyawadhwa commented on #567
Thanks @cglacet for sharing! If anyone else is seeing this, please open a new issue.

[2020-10-21 18:46] priyawadhwa commented on #9381
Hey @obaidomer our documentation website: https://minikube.sigs.k8s.io/

Info on the vmware driver can be found here: https://minikube.sigs.k8s.io/docs/drivers/vmware/

[2020-10-21 18:46] priyawadhwa commented on #9381
Please let us know if this resolves your issue.

[2020-10-21 18:48] priyawadhwa commented on #9009
@fabquenneville what version of minikube are you using? I'd recommend upgrading to v1.14.0.

[code]

[2020-10-21 18:48] kschaab opened #9518 "minikube does not respect global options for logging"
**Steps to reproduce the issue:**

1. minikube [command] --log_dir or minikube [command] --logtostderr
2. note that log_dir is ignored and $TMPDIR is used instead.  When --logtostderr is specified the logs are output to stderr *and* $TMPDIR rather than what is specified: `--logtostderr=false: log to standard error instead of files`

Commands used:
[code]

These commands are critical to purge the l

[2020-10-21 18:50] priyawadhwa commented on #7071
Hey @runlevel5 the kic base image now uses ubuntu instead of the kind base image. It may be easier to build the image for your architecture now.

[2020-10-21 18:52] ilya-zuyev commented on #8426
/remove-lifecycle rotten

[2020-10-21 18:56] blueelvis commented on #8568
/assign

[2020-10-21 19:10] kschaab commented on #9518
This will help fix https://github.com/GoogleCloudPlatform/cloud-code-vscode/issues/286.

[2020-10-21 19:22] ilya-zuyev commented on #9495
True. It seems we have two issues (please correct me if I'm wrong):
1. Support custom docker endpoints (https://github.com/kubernetes/minikube/issues/9463). Check if DOCKER_* environment variables are set and use it instead of defaults
2. Support rootless docker (this issue). It, probably, depends on 1 since using /var/run/* requires root permissions and we have to define DOCKER_HOST.

[2020-10-21 19:34] tstromberg commented on #9518
It's worth noting that we just changed from glog to klog at master, so behaviors may be different.

`--log_dir` hasn't worked so long as I've been on this project.

I did notice that the new `--log_file` flag also doesn't work.

[2020-10-21 19:36] afbjorklund commented on #9518
There was some copying of flags, maybe that _could_ have worked.

[2020-10-21 19:38] #8637 closed

[2020-10-21 19:38] kschaab opened #9520 "Feature request: Include invoked command in log output"
Minikube logs currently don't have the command invoked output to the log file.  It would be good to have this information when looking at the logs.

[2020-10-21 19:40] tstromberg commented on #9516
I feel like I've seen this issue before as well. Should be harmless, but something we should understand.

[2020-10-21 19:47] #9493 closed

[2020-10-21 20:22] medyagh opened #9521 "implement "--log_file" and "--log_dir" for klog"
I hardcoded this in our code to force log file to be to a specific file,

[code]

and makes the log file to append to medya_1.txt  we just need to parse this from the flags

however if I pass the same flag to the minikube binary it will not do anything (without that line above)

[code]

same with one dash

[code]
[code]

[2020-10-21 21:35] afbjorklund commented on #9495
The issues aren't so much about "custom docker endpoint", that's pretty much a given if not using the standard socket...

Issue 1 is about using a remote (not local) Docker daemon, Issue 2 is about using a rootless (not root) Docker daemon.

[2020-10-22 00:09] fzyzcjy commented on #8733
@priyawadhwa Sorry I do not use multinode and get back to single node after that bug happens

[2020-10-22 00:11] fzyzcjy commented on #8939
@medyagh allocate 12 core on my mac mini with 6 core 12 thread. And when starting minikube I use "6 core" as a starting parameter

docker:

![image](https://user-images.githubusercontent.com/5236035/96803163-12bf8000-143e-11eb-80d7-9b2406e97057.png)

start command

[code]

[2020-10-22 00:55] medyagh commented on #9521
I see we had a workaround package that we created to fix Glog erroring

[code]

but I see after the klog refactor we are importing klog before initflag package (that could be an issue maybe?)

[2020-10-22 04:15] owenthereal commented on #9495
Nope, I wasn't able to https://github.com/kubernetes-sigs/kind/issues/1902. And it looks like k8s can't run on rootless docker yet. But as you mentioned, there are two issues here. It would be nice that `minikube` can respect the `DOCKER_HOST` env var.

[2020-10-22 05:06] runlevel5 commented on #7071
@priyawadhwa thanks for letting me know

[2020-10-22 06:51] surensinghkhatana commented on #9116
Thanks for your reply, unfortunately it doesn't work still.
Minikube ip as shown in the picture is not reachable from my host machine ..

![image](https://user-images.githubusercontent.com/37261910/96835327-1e19a800-144c-11eb-9b80-3f945b07e936.png)

[2020-10-22 07:03] surensinghkhatana commented on #9116
Result of ifconfig inside the VM
![image](https://user-images.githubusercontent.com/37261910/96836556-d136d100-144d-11eb-87b2-e1fd6a62c516.png)

[2020-10-22 12:28] MOZGIII commented on #9304
Ah, got it, thanks for the response!
I wonder why is this only happening with CRIO, and only started with 1.13. Seems rather odd to me.

[2020-10-22 12:31] Vinge1718 commented on #2439
I'm using ubuntu 18.04. Running the command as root worked for me, so either use `sudo` at the beginning of your command (not advisable for a variety of reasons) or switch to root user by running  `sudo -i`, then running the command that prompted that error.

[2020-10-22 15:06] obaidomer commented on #9381
Hi @priyawadhwa, Thank you for the documentation,

the same error occurred. For now, I have created individual VM's and moved on.

here are the logs.

minikube start --driver=vmware
😄  minikube v1.13.1 on Darwin 11.0
✨  Using the vmware driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🔥  Creating vmware VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...
🔥  D

[2020-10-22 15:06] #9381 closed

[2020-10-22 16:11] sserantes opened #9522 "Cann't start minikube "starting container process caused : unknown capability "CAP_PERFMON": unknown.""
[code]

[2020-10-22 16:55] afbjorklund commented on #9522
Looks like a bug in the beta version of docker: https://github.com/moby/moby/issues/41562

Try again with a supported version perhaps ? Usually 19.03.x

[2020-10-22 17:03] afbjorklund commented on #9522
Should probably have a warning about Docker 20.x, similar to Podman 2.x ?

[code]

[2020-10-22 17:53] ilya-zuyev commented on #9495
Both require minikube to use non-default DOCKER_HOST to work with deamon correctly, and right now we just set DOCKER_HOST to "" internally. This should be fixed in https://github.com/kubernetes/minikube/issues/9463.

[2020-10-22 17:53] afbjorklund commented on #9463
Seems to be doable (in theory), otherwise.

[code]
At least when running minikube locally on it:

[code]

Only listens to 127.0.0.1 though:
[code]
So not accessible from the host ?

[2020-10-22 18:05] afbjorklund commented on #9483
All PR were merged

[2020-10-22 18:05] #9483 closed

[2020-10-22 18:10] sserantes commented on #9522
Thanks!! That was the issue. I installed docker version 5:18.09.1~3-0~debian-buster and everything is working now.

[2020-10-22 18:10] #9522 closed

[2020-10-22 18:10] afbjorklund commented on #8388
We're not skipping 1.8.3 as far as I know at least.

[2020-10-22 18:13] #8388 closed

[2020-10-22 18:42] owenthereal opened #9524 "`minikube docker` subcommand"
**Steps to reproduce the issue:**

This is not an issue but a feature request.

It would be nice to have a `minikube docker` subcommand that shells out to  `docker` with the command's `DOCKER_*` env vars set to env vars output by `minikube docker-env`. This is similar to `minikube kubectl` which runs `kubectl` against the minikube cluster.

Currently, in order to not to pollute my current shell,

[2020-10-22 18:47] afbjorklund commented on #9495
They will both still fail though.

[2020-10-22 18:57] medyagh commented on #9521
I just did a standalone example Cobra+Klog and I noticed running this code does NOT produce any temp file logs AT ALL !!!
[code]

that makes me think, is the temp file really created by klog ???

here is the code for the standalone example , same as (this llink)[https://flowerinthenight.com/blog/2019/02/05/golang-cobra-klog]  except I made it v2 to match minikube
[code]

[2020-10-22 19:05] afbjorklund commented on #9524
Toyed with the idea, when implementing `minikube build` (which is pretty much the only thing we use docker for anyway). But it was disregarded both because "minikube is not a package manager" and that it is easy to install docker (not really true, see #6402)

Another practical problem was that docker is not available for all platforms (no binary for windows anymore), and that we would have to do t

[2020-10-22 19:20] medyagh opened #9525 "autoset --registry-mirror flag if user's docker daemon has been configured with a mirror"
if user's docker has been configured with a registry-mirror we should detect that and auto set --registry-mirror flag

example docker system info

[code]

[2020-10-22 20:10] newtoniumx3 commented on #8728
Hey quick follow up. Actually every single time I reboot my machine the error keeps coming back!
The fix everytime is to re-run minikube delete minikube start

Why is this happening? (windows 10 pro)
! Unable to restart cluster, will reset it: apiserver health: apiserver healthz never reported healthy: cluster wait timed out during healthz check

[2020-10-22 20:53] #9481 closed

[2020-10-22 22:24] medyagh opened #9528 "docker: pulls may fail if MTU is <1500"
on cloud shell if we dont set this paramter, docker pull on "some images" hangs... (for example on golang:1.15) and not on other images such as alpine ...

[code]

example:

[code]

we need to investigate does it make sense to set this by default in our image/iso ?

[2020-10-22 22:54] medyagh commented on #9528
this blog post suggests setting the TPU to 1400 would help

https://medium.com/@sylwit/how-we-spent-a-full-day-figuring-out-a-mtu-issue-with-docker-4d81fdfe2caf

for the records our TPUs are 1500
[code]

[2020-10-23 02:28] cheloitguy commented on #8949
Sorry I open it up again as soon as you closed it. But i encounter this same error at this moment. I'm using minikube version v1.14.0 with Libvirt on Fedora 32 and no DNS resolution.

using dnsutils image.
[code]
[code]

I verified dns Service ClusterIP is 10.96.0.10 and endpoint is running and svc pointed to endpoints IP.

[code]

[code]

[2020-10-23 09:13] chokhareganesh commented on #4726
What is the solution if I'm using VirtualBox to run minikube

[2020-10-23 09:57] afbjorklund commented on #8596
https://podman.io/releases/2020/10/05/podman-release-v2.1.0.html

Since then podman 2.1.1 has been released to fix some bugs in 2.1.0....

[2020-10-23 12:43] willemodendaal commented on #9499
Minikube tunneling worked fine, but it's not something I want to have to do while developing, so I've switched to plain-old Docker-desktop's built-in Kubernetes instead.

[2020-10-23 15:31] tstromberg commented on #9247
@A-Hilaly - are you still working on this?

[2020-10-23 15:35] tstromberg commented on #9528
The MTU probing approach can definitely help. MTU's of less than 1500 are kind of exotic in 2020, but are definitely seen within GCP.

One alternative/addition is that the Docker driver could check the MTU of the bridge, and copy it to the custom network it creates.

The upside of enabling probing is that it may also improve the situation for non-Docker drivers, although our scripts for setting sy

[2020-10-23 16:59] cheloitguy commented on #8949
Ok, so I keep making test. I deleted my k8s-workshop cluster so I can try it in stock configurations.

With single node everything just works fine, with and without '-p' parameter

[code]

When I try to create a multi node cluster, in this case with 3, no DNS resolution.

[code]

[2020-10-23 17:39] jwuman commented on #2918
Kill the VScode and no more /tmp/minikube*x1000 files

[2020-10-23 17:42] prezha commented on #9521
/assign

[2020-10-23 18:21] prezha opened #9539 "increase time diff tolerance for logs_test"
**Steps to reproduce the issue:**

running `make test` manually and/or during the automated tests, `logs_test` would frequently fail with an error similar to:
[code]

**Full output of failed command:**
[code]

**Full output of `minikube start` command used, if not already included:**
[code]
---

**solution proposal**: increase the time diff tolerance from current 0.001 to 0.01

[2020-10-23 18:21] prezha commented on #9539
/assign

[2020-10-23 18:42] #9539 closed

[2020-10-23 21:31] prezha opened #9541 "replace deprecated 'set-env' with Environment Files in GitHub Actions"
looking at github actions logs, there are (security vulnerability) warnings:

additional details:
[code]

in `/home/prezha/dev/k8s/minikube/github.com/prezha/minikube/.github/workflows/` there are a couple of yaml files using that:
- `iso.yml`
- `kic_image.yml`
- `master.yml`
- `pr.yml`

according to the format and the [GitHub Actions: Deprecating set-env and add-path commands](https://github.blog

[2020-10-23 21:31] prezha commented on #9541
/assign

[2020-10-23 23:16] #9528 closed

[2020-10-23 23:39] medyagh commented on #9521
@prezha thanks for taking this, please let me know if you go stuck. and please hit me up on slack !

btw I woud like to invite you to minikube office hours this monday ! we have Minikube Crazy Idea event. (to come up with crazy ideas for the next 2 years)

[2020-10-23 23:47] prezha commented on #9521
@medyagh no probs, i will

also, thank you for inviting me: i'd love to join minikube office hours on monday to the minikube crazy idea event - sounds like fun ;)

[2020-10-24 01:11] kishorevaishnav commented on #9380
I had the same kind of issue and resolved it by rebooting my Mac.
- started minikube
- started AnyConnect VPN
- used for couple of hours due to client project & closed it.
- minikube status - apiserver stopped -- # Don't know how to start it back.
- minikube delete
- minikube start
- didn't work, so restarted and started it
- it worked fine.

Hope this might help.

[2020-10-24 07:47] afbjorklund commented on #9448
Done

[2020-10-24 07:47] #9448 closed

[2020-10-24 10:54] rainahtdm commented on #9315
@viveksahu26 - Did it run with Virtual box ? I am facing same issue ..

[2020-10-24 11:29] afbjorklund commented on #9230
Implemented in PR #9535

[2020-10-24 12:57] viveksahu26 commented on #9315
Hey @rainahtdm, I tried alot  but failed to run on Virtual box . I will suggest you to first install Docker .. And then Install minikube.. And finally add the drive "docker drive". And it will definitely work.. If you face problem ping me again..

[2020-10-24 14:20] sachinkumarsingh092 commented on #9247
As the default profile is `minikube", Profile Y will always be "minikube"`. I just have to display the name of the existing cluster profile which is Profile X.
Also, should I remove the message `"There is no local cluster named "minikube""` from above and insert `"Profile "Y" was not found. You have a profile named X, did you mean to use that?"` message instead or is it an additional mesage with t

[2020-10-24 14:50] Jagadeeshmopuri opened #9546 "Sorry that minikube crashed. If this was unexpected, we would love to hear from you"
C:\WINDOWS\system32>minikube start
* minikube v1.5.2 on Microsoft Windows 10 Pro 10.0.18363 Build 18363
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Using the running hyperv "minikube" VM ...
* Waiting for the host to be provisioned ...
* Preparing Kubernetes v1.16.2 on Docker '18.09.9' ...
*
X Failed to update cluster: downloading binar

[2020-10-24 15:52] rainahtdm commented on #9315
Thanks Vivek

I tried with Docker and this ran fine after resolving docker factory reset

PS C:\Users\PiyushRaina\Desktop> minikube status
minikube
type: Control Plane
host: Running
kubelet: Running
apiserver: Running
kubeconfig: Configured

I am still wondering , why with virtual box its not working !! If you find
out something on this point, do let me know.

Thanks
Piyush Raina
8130316663 ( feel

[2020-10-24 16:11] viveksahu26 commented on #9315
Your welcome..

[2020-10-24 19:01] azizn03 opened #9547 "Failed to start minikube "operation failed: domain 'minikube' already exists with uuid"
**Steps to reproduce the issue:**

Ran the following commands

taken from here

https://gist.github.com/grugnog/caa118205ad498423266f26150a5d555

1. yay -S minikube kubectl docker-machine-driver-kvm2 libvirt qemu-headless ebtables
2. sudo systemctl enable libvirtd.service
3. sudo usermod -a -G libvirt $(whoami)
4. sudo virsh net-autostart default
5. minikube config set vm-driver kvm2

**Full outpu

[2020-10-24 20:58] Meg4Bit commented on #9189
Same issue( and no solution

[2020-10-24 21:58] azizn03 commented on #9547
This has been resolved, the issue was running this in a virtual machine guest os.

[2020-10-24 21:58] #9547 closed

[2020-10-25 06:27] prabsdubey commented on #3649
After installing , apiserver is not coming up(apiserver: Stopped)
$ minikube status
minikube
type: Control Plane
host: Running
kubelet: Running
apiserver: Stopped
kubeconfig: Configured

prabs@LAPTOP-HQ5LK73I ~
$ pwd
/home/prabs

prabs@LAPTOP-HQ5LK73I ~
$ kubectl
kubectl controls the Kubernetes cluster manager.

 Find more information at:
https://kubernetes.io/docs/reference/kubectl/overview/

Bas

[2020-10-25 08:43] djrollins commented on #7145
Just a quick update as everything is working fine now:

I recently noticed that CPU virtualisation was disabled in my BIOS for some reason. I never thought to check it as I just assumed libvirtd wouldn't even start if that was the case. Anyway, I switched it on everything seems to run fine now.

Thank you for all of your help, but it seems like this one might have been user error!

[2020-10-25 09:02] yehiyam commented on #8298
I'm creating a PR for that
/assign

[2020-10-25 10:17] crucialfelix commented on #8439
Neither telnet nor ping are available in the VM:

[code]

So the docs are now out of date I guess.

Inside a pod there is no `host.minikube.internal`

[code]

[2020-10-25 10:26] afbjorklund commented on #9229
There is now an implementation in PR #9548, to allow you to try this out...

There are some quirks with this yet, to be sorted out by Docker upstream.

[code]

You will have to add the key, otherwise it will ask for the password _every time._

![ssh-password-authentication](https://user-images.githubusercontent.com/10364051/97104449-355ace80-16b4-11eb-8e0d-59f475d07a32.png)

[code]

You will have

[2020-10-25 12:49] sachinkumarsingh092 commented on #8409
Will this suggestion work:
`IPs output should only be one line, got %d lines. Please fix your ~/.docker/config file and restart minikube.`

/assign

[2020-10-25 13:32] kitenko opened #9549 "348"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-10-25 13:33] kitenko opened #9550 "systemctl enable kubelet.service"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-10-25 13:59] afbjorklund commented on #9229
You can make podman use ssh as well, by removing the variable with the key and adding secure:

[code]

Then it will _also_ talk to the ssh-agent for the identity, and check ~/.ssh/known_hosts for the host key.

See #9535

The podman default is to ignore the host key, and use the private key in the path of the variable:

[code]

This makes the environment variables stand-alone, without having to in

[2020-10-25 14:33] afbjorklund commented on #8596
The new "podman-env" command works with both podman v1 and podman v2.

It checks the presence of the "varlink" command, in order to choose protocol...

[2020-10-25 16:06] afbjorklund commented on #6432
We are now using the docker.com packages for docker, and the cri-o.io (kubic.opensuse.org) packages for podman.

But we haven't pinned them down, only podman was pinned to < 2 (interpreted as 1.9.3) due to API incompatibilies.

Eventually it will use latest and greatest, currently:

`docker-ce | 5:19.03.13~3-0~ubuntu-focal | https://download.docker.com/linux/ubuntu focal/stable amd64 Packages`

`c

[2020-10-25 16:29] afbjorklund opened #9552 "Supply package cache for minikube container runtimes"
Since we _can't_ rely on the vendor packages being available, we should make sure to host our own package cache ?

* https://kubernetes.io/docs/setup/production-environment/container-runtimes/

This would mostly include the container runtimes, but also other packages we install that are not in the distribution.

* Docker (docker.com, https://docs.docker.com/engine/install/ | https://github.com/doc

[2020-10-25 16:30] afbjorklund commented on #9552
@medyagh

Most users would consume these using the images we provide (KIC and ISO), but it is important for the project.

There is a similar discussion for buildroot, but it doesn't have packages so it is mostly about static binaries there.

[2020-10-25 16:36] afbjorklund commented on #9552
I'm assuming here that minikube doesn't want a separate package/binary cache for the _kubernetes_ components.

[2020-10-25 16:40] jlucktay opened #9553 "'profile list' spends ~1m15s waiting per profile/cluster when they are not running"
**Steps to reproduce the issue:**

1. `minikube --driver=hyperkit --profile=demo1 start`
2. `minikube --driver=hyperkit --profile=demo2 start`
3. `minikube --profile=demo1 stop`
4. `minikube --profile=demo2 stop`
5. `minikube profile list`

This fifth command `list` will take about ~2m30s as it tries to dial into each cluster and times out on each in sequence.

**Full output of failed command:**

[2020-10-25 19:49] #7428 closed

[2020-10-25 20:50] #7818 closed

[2020-10-25 21:04] shubhamdixit863 commented on #8949
minikube addons enable coredns ,I was able to solve my problem with the help of this . But still can't communicate between two container in different pods

[2020-10-26 04:35] codestorycooked commented on #3648
In my case, the issue occurred when I am on a VPN network. Once I come out of VPN minikube starts working.

[2020-10-26 06:16] mrdulin commented on #3613
@tstromberg The link is broken. New link: https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/#x509-certificate-signed-by-unknown-authority

[2020-10-26 07:11] LargeOrange commented on #8365
我刚刚也遇见了这个问题怎么处理的呢

[2020-10-26 10:24] Prabhav-Thali commented on #9253
Hi @afbjorklund,

I have observed that PR [#9334](https://github.com/kubernetes/minikube/pull/9334) was merged before 1.14.0 release. However, only amd64 images are seen on [gcr.io](https://console.cloud.google.com/gcr/images/k8s-minikube/GLOBAL/storage-provisioner?gcrImageListsize=30). Could you please provide some info on this?

[2020-10-26 13:52] kschaab commented on #9518
Shouldn't this work (from https://github.com/kubernetes/minikube/commit/af5fbf78802c9ab0c84051a8b7f6ca0b094ac057)?

[code]

[2020-10-26 17:07] kschaab opened #9554 "Performance degradation in minikube profile list between 1.13.1 and 1.14.0"
Run `minikube profile list --output json`
This is taking .218s on my machine with v1.13.1 and 2:31.77 with v1.14.0.  This seems to be because minikube is attempting to ssh into each VM in series and times out:
[code]

Full logs:
[code]

[2020-10-26 17:22] kschaab commented on #9554
Timing for docker info `docker info  0.06s user 0.18s system 36% cpu 0.662 total`
Timing for  v1.14.1 `~/Downloads/minikube-darwin-amd64 profile list  0.18s user 0.12s system 0% cpu 2:32.25 total`

[2020-10-26 17:23] medyagh commented on #9554
do you mind checking if this problem exist with latest version v1.14.1 ?

[2020-10-26 17:23] kschaab commented on #9554
@medyagh timing for v1.14.1 is above.  It still reproduces.

[2020-10-26 17:26] medyagh commented on #9554
btw I noticed you have 4 kuberentes clusters,
and two of them are docker, do you mind sharing, how big is your Docker Desktop allocated memory ? in Docker Desktop , Settings, Resources ?

[2020-10-26 17:33] tstromberg commented on #9554
This issue appears to be a duplicate of #9553, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-10-26 17:33] #9554 closed

[2020-10-26 17:33] medyagh commented on #9553
yeah that could be side efffect of this PR that we had, that added Pause status to profile list

possible side effect of https://github.com/kubernetes/minikube/pull/8978

[2020-10-26 17:34] tstromberg commented on #9550
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2020-10-26 17:34] #9549 closed

[2020-10-26 17:35] tstromberg commented on #9546
This has been fixed in more recent versions of minikube. Please update to minikube v1.14.1. Thank you!

[2020-10-26 17:35] #9546 closed

[2020-10-26 17:51] medyagh commented on #9553
confirm it happens when one of the profile is is stopped
stuck at

[code]

[code]

[2020-10-26 18:43] cezeno2s opened #9555 "Minikube open browser Ubuntu"
**Steps to reproduce the issue:**
I am trying to run the hello world service I deployed and exposed but after running  "minikube service helloworld", I am getting an error message instead of minikube launching the service on my default browser. Please can someone help me to fix the error.

**Full output of failed command:**

david@Ubuntu-VirtualBox:~/Downloads/project/Ex_Files_Learning_Kubernetes_

[2020-10-26 19:55] shankar-forgerock opened #9556 "Enabling 'default-storageclass' returned an error: running callbacks - during minikube start on WSL2"
**Steps to reproduce the issue:**

1. In WSL2 with Ubuntu 20.04, ensured docker is running:
docker version
Client: Docker Engine - Community
 Cloud integration  0.1.18
 Version:           19.03.13
 API version:       1.40
 Go version:        go1.13.15
 Git commit:        4484c46d9d
 Built:             Wed Sep 16 17:02:36 2020
 OS/Arch:           linux/amd64
 Experimental:      true

Server: Docker

[2020-10-26 20:48] medyagh commented on #9553
@kschaab @jlucktay
the binary in this PR should fix the problem
here is the binary if you like to try it before the next patch release
http://storage.googleapis.com/minikube-builds/9557/minikube-linux-amd64
http://storage.googleapis.com/minikube-builds/9557/minikube-darwin-amd64
http://storage.googleapis.com/minikube-builds/9557/minikube-windows-amd64.exe

[2020-10-26 21:06] medyagh opened #9558 "Remove failing jenkins Agents and install New ones"
sometimes KVM test failes unusually with very high numbers on some Jenkins agents with 95+ failures.

example:
https://storage.googleapis.com/minikube-builds/logs/9557/777ac14/KVM_Linux.html

https://storage.googleapis.com/minikube-builds/logs/9557/KVM_Linux.txt
shows that it is agent 7

[code]

[2020-10-26 21:44] medyagh commented on #9556
@shankar-forgerock

1- do you happen to use a VPN or a proxy ?
2- do you have a custom DOCKER_HOST ?
do you mind sharing
[code]

[2020-10-26 21:47] #9553 closed

[2020-10-26 21:54] shankar-forgerock commented on #9556
Thank you Medya,

My answers inlined.

On Mon, 26 Oct 2020 at 14:44, Medya Ghazizadeh <notifications@github.com>
wrote:

I am not using a VPN or proxy.

Here is the output:
$ env | grep DOCKER
$

 —

--
[image: ForgeRock] <https://www.forgerock.com/> *Shankar Raman*
Senior Technical Writer  |  ForgeRock
*e* shankar.raman@forgerock.com <firstname.lastname@forgerock.com>
*web* www.forgerock.com

--

[2020-10-26 22:25] jlucktay commented on #9553
Thank you! @sharifelgamal @medyagh 🚀

[2020-10-26 23:23] medyagh opened #9560 "add initial integration tests for google cloud shell"
minikube integeration tests should run against cloud shell

[2020-10-27 00:47] okia commented on #8439
Hello!
Also hitting the bug: OSX, minikube 1.14 (Kubernetes 1.19), VirtualBox driver.
If it is a possibility, I'd like to ask to prioritize fixing this bug as it may manifest in the scenarios other than described above and makes it difficult (if possible at all) developing certain Kubernetes scenarios. For example:
Let us suppose we are going to deploy multitier app [onto Kubernetes] and this app

[2020-10-27 00:49] rboal opened #9561 "minikube start on ubuntu VM with driver=docker reports 403 forbidden from apiserver healthz check; Apiserver is stopped"
**Steps to reproduce the issue:**

1. Using ubuntu VM Ubuntu 20.04.1 LTS \n \l.
2. Installed docker version 19.03.13; it is running.
3. In docker info, have Cgroup Driver: systemd. See attached [dockerInfo.txt](https://github.com/kubernetes/minikube/files/5442248/dockerInfo.txt).
.
4. Installed and configured minikube per instructions here: https://minikube.sigs.k8s.io/docs/start/, using Debian pa

[2020-10-27 00:57] rboal commented on #9561
Sorry, I repeatedly tried to drag and drop the log files for the output of the failed command, and the output of minikube logs, but the results are as above: the files are not attached.

Please tell me what I'm doing wrong and I will try to attach them again. Thanks.

[2020-10-27 01:25] okia commented on #8439
@crucialfelix

Yeah, noticed that too 😄
However, nslookup is still there (if I remember correctly). Another way would be to `cat /etc/hosts` while in minikube's shell - you should be able to see host.minikube.internal entry.

Indeed, VM's entry is not propagated to pod(s) - that is the essence of this bug.

[2020-10-27 02:20] medyagh commented on #9521
I belive this must be because we use kubectls'  templates to group the cobra command as seen [here](https://github.com/medyagh/minikube/blob/c798567b729ea6aceedc09449f0ed0b0564d991b/cmd/minikube/cmd/root.go#L208)

 we might need to do what openshift is donig [here](https://github.com/ElwahidG/openshift/blob/97de2a03ef345405c311daa69d4b93ecdbd1e3d2/pkg/cmd/flagtypes/glog.go)

[2020-10-27 02:37] zanjichao opened #9562 "virtualbox 修改桥接网卡后启动minikube报错"
**重现问题所需的命令**：minikube start

**失败的命令的完整输出**：<details>
C:\Users\janc>minikube start
* Microsoft Windows 7 Ultimate Service Pack 1 6.1.7601 Build 7601 上的 minikube v1.14.0
  - MINIKUBE_HOME=D:\kubernetes\minikube
* 根据现有的配置文件使用 virtualbox 驱动程序
* Starting control plane node minikube in cluster minikube
* Updating the running virtualbox "minikube" VM ...
! StartHost failed, but will try again: provisio

[2020-10-27 03:46] #7071 closed

[2020-10-27 11:14] shotu commented on #7677
I think that was
 Message='Failed to connect socket to '/var/run/libvirt/virtlogd-sock': **Connection refused'**

for me it is same- and not able to resolve

😄  minikube v1.12.1 on Ubuntu 18.04
    ▪ KUBECONFIG=/home/username/kubernetes_workspace/cluster.conf
✨  Using the kvm2 driver based on user configuration

❗  'kvm2' driver reported an issue: /usr/bin/virsh domcapabilities --virttype kvm fail

[2020-10-27 15:26] tstromberg commented on #8661
This issue appears to be a duplicate of #8242, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2020-10-27 15:26] #8661 closed

[2020-10-27 15:31] tstromberg commented on #8242
If anyone is interested in fixing this, let me know, and I would be happy to help them.

My recommendation on how to get started is:

* First check that the new options are being written to `$HOME/.minikube/profiles/minikube/config.json`. My best guess is that this isn't happening for some reason. The field is called `ExtraOptions`

* Inspect the output of `minikube start --alsologtostderr -v=1` f

[2020-10-27 16:27] sharifelgamal commented on #8861
I have a PR open (#9501) that reverts this change, but the crio tests are still failing in a way that concerns me, so I need to do some more investigation. Do we need to update the version of crio we're using?

[2020-10-27 16:30] sharifelgamal commented on #9002
I'll start working on this soon.

[2020-10-27 17:00] abdou91 opened #9564 "Exiting due to DRV_CP_ENDPOINT: failed to parse ip for """
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-10-27 17:12] andresb39 opened #9565 "minikube error to start"
**Los comandos necesarios para reproducir la incidencia**:
Instalacion de minikube en fedora32

**El resultado completo del comando que ha fallado**: <details>
 minikube start --driver=docker

</details>

**El resultado del comando `minikube logs`**: <details>
StartHost failed, but will try again: creating host: create: creating: create kic node: create container: docker run -d -t --privileged --s

[2020-10-27 17:20] medyagh opened #9566 "make GH action tests green"
we have numorous issues with Pause Test and Addon Certs needs tweaking and and balancing tests on a VM

[2020-10-27 17:36] medyagh commented on #9396
@blueelvis are you still working on this ? we will need to implement this feature please let me know if you don't have time for it so I can re-assign

[2020-10-27 18:14] prezha commented on #9521
thank you @medyagh, i'll have a look at that

[2020-10-27 19:38] medyagh commented on #9560
[code]

[2020-10-27 20:07] medyagh opened #9567 "delete config after failed start"
example

windows with windows container on data center windows

minikbue skips docker driver since os type is windows
then tries hyperv and it is failed

better to delete that config
so when user switches os type to linux, they can re-use docker driver not be stuck with hyperv

[2020-10-27 20:38] sharifelgamal commented on #9565
What version of docker do you have installed? This seems to be a bug on docker's side: https://github.com/moby/moby/issues/41562

[2020-10-27 20:46] medyagh commented on #9558
simmilar to this Docker Driver Test
that sometimes failes 18 tests and sometimes 1 test

https://storage.googleapis.com/minikube-builds/logs/9559/f7baa9c/Docker_Linux.html
https://storage.googleapis.com/minikube-builds/logs/9559/Docker_Linux.txt
(Building remotely on GCP - Linux 8 KIC (kic kic-docker))

[2020-10-27 20:55] sharifelgamal opened #9568 "TestPause times out on github action ubuntu agents"
We have a timeout of 20 minutes on the pause test, and it exceeds even that. We should investigate what's happening there.

[2020-10-27 20:57] sharifelgamal commented on #9253
We made the changes to the code, but have yet to actually push out the new images. We'll get to it soon.

[2020-10-27 21:04] afbjorklund commented on #6489
[code]

[code]

[2020-10-27 21:07] afbjorklund commented on #6489
weird shells left as an exercise for the user... but looking at variables is "cheaper" than starting minikube

@ priyawadhwa @medyagh @stromberg - you still think that this feature is worth doing / documenting ?

[2020-10-27 21:28] #9566 closed

[2020-10-27 21:38] andresb39 commented on #9565
Gracias Sharif, era la version de docker que estaba usando.
Actualice la version y pude configurarlo sin problemas.

`❯ docker info
Client:
 Debug Mode: false

Server:
 Containers: 4
  Running: 1
  Paused: 0
  Stopped: 3
 Images: 9
 Server Version: 19.03.13
 Storage Driver: overlay2
  Backing Filesystem: extfs
  Supports d_type: true
  Native Overlay Diff: true
 Logging Driver: json-file
 Cgroup D

[2020-10-27 22:57] medyagh opened #9572 "The Automatic PR after release for update.json should include docs"
in this automatic PR
https://github.com/kubernetes/minikube/pull/9571

we should include the docs
https://github.com/kubernetes/minikube/edit/master/site/content/en/docs/_index.md
so this PR is automatic https://github.com/kubernetes/minikube/pull/9573/files

[2020-10-27 23:03] medyagh commented on #9564
Thank you for sharing your experience! If you don't mind, could you please provide:

- The version of minikube.
- The driver you are using. (docker, virtualbox, hyperv....)
- The Operation system you are using (windows, mac or linux and version of it)
- The full output of the command you are using by adding --alsologtostderr -v=8 for example
[code]
- Also the full the output of the
[code]

This wi

[2020-10-27 23:03] medyagh commented on #9562
Meanwhile have you tried out newest driver Docker Driver with latest version of minikube?
you could try
minikube delete
minikube start --driver=docker

for more information on the docker driver checkout:
https://minikube.sigs.k8s.io/docs/drivers/docker/

[2020-10-28 03:14] zanjichao commented on #9562
Thank you for the solution,
I changed the minikube virtual network card to bridge mode in virtualbox, and then started minikube failed

[2020-10-28 04:27] jot-hub commented on #8242
Hi @tstromberg Thank you for the hints! I quickly checked and as per https://github.com/kubernetes/minikube/commit/bee681559b9e9fd2a587db62ec1b5042f32f02a8#diff-0e864ab4025634664724909a47c34fbcae246ad52307eaaaa58153f0b256a8b4L381, the extra-config is not copied over - is there a specific reason for it?

[2020-10-28 07:20] blueelvis commented on #9396
Hey medya,

Yes, I will have a PR out for this till Friday this week.

Thanks,
Pranav

On Tue, Oct 27, 2020 at 11:06 PM Medya Ghazizadeh <notifications@github.com>
wrote:

[2020-10-28 12:45] A-Hilaly commented on #9247
@tstromberg No enough progress to send a PR, i don't expect to have anytime this week. Please feel free to reassign if someone can ship it faster :)
/unassign

[2020-10-28 13:38] #9507 closed

[2020-10-28 13:56] yehuda-sagron commented on #7791
I'm having the same problem - without success
bellow is the execution log:

PS C:\Windows\system32> Get-VMSwitch

Name           SwitchType NetAdapterInterfaceDescription
----           ---------- ------------------------------
minikube       Internal
Default Switch Internal

PS C:\Windows\system32> minikube start --vm-driver="hyperv" --hyperv-virtual-switch="minikube" --alsologtostderr -v=2
W1028

[2020-10-28 14:23] vyom-soft commented on #8728
Same here, I am also facing the same issue.

[2020-10-28 14:43] mikador commented on #7791
It says :

W1028 15:52:02.196294 25132 root.go:248] Error reading config file at **C:\Users\212802282.minikube\config\config.json**: open **C:\Users\212802282.minikube\config\config.json: The system cannot find the file specified.**

Chceck you have similar file to mine in the above location

[code]

it also should have the respective access rights to be readable.

[2020-10-28 14:55] #9357 closed

[2020-10-28 15:12] storozhilov commented on #9322
Hi @sharifelgamal ,
I've issued https://github.com/kubernetes/minikube/pull/9574 but I need to complete a CLA signing procedure which I would like to avoid for now if possible. Would you be so kind to re-issue another PR with the same changes yourself?
Thanks in advance!
Ilya

[2020-10-28 15:39] alsoft27 commented on #4589
on windows 10, Docker -> Setup -> Resources -> enable Manual DNS config value=8.8.8.8
restart windows
minikube delete & start, thats alls for me, works fine.

remenber is windows

[2020-10-28 17:58] ysagron1 commented on #7791
thanks for quick answer!
now it is still failing:
PS C:\Windows\system32> minikube start --vm-driver="hyperv" --hyperv-virtual-switch="minikube" --alsologtostderr -v=2                                                                I1028 19:54:21.730962   27928 start.go:262] hostinfo: {"hostname":"G3HWTSQ2E","uptime":166093,"bootTime":1603741568,"procs":360,"os":"windows","platform":"Microsoft Wind

[2020-10-28 18:08] medyagh commented on #8720
Hi @SMDMANSOOR ,, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

[2020-10-28 18:08] #8720 closed

[2020-10-28 18:17] #9420 closed

[2020-10-28 18:17] medyagh opened #9575 "Add support for windows server data center for HyperV driver"

[2020-10-28 18:21] priyawadhwa commented on #9268
Just wanted to point out that this is currently possible via the `--extra-config` flag in case anybody wants to use the feature now.

[2020-10-28 18:21] medyagh commented on #9040
@rajurh I wonder if you still have this issue, to me it sounds like there is something about your hyperv installation,

do you mind sharing your hperv virtual switch by clicking on the hyperv manager ? and see if you can create a new virtual switch and pass it to minikube using the flag

[code]

[2020-10-28 18:22] medyagh commented on #9436
Hi @wangzhentaodehao
, I haven't heard back from you, I wonder if you still have this issue?
Regrettably, there isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but please feel free to reopen whenever you feel ready to provide more information.

Meanwhile have you tr

[2020-10-28 18:22] #9436 closed

[2020-10-28 18:23] blueelvis commented on #4726
@raystorm @kaspro @fiskhest - Thank you for the confirmation! This should be added to our documentation. Up for grabs!

@chokhareganesh - Could you please open a different issue describing your issue? Thanks!

[2020-10-28 18:29] medyagh commented on #8370
@afbjorklund I think we could add this folders to kic container, if ti is on linux (since on mac and windows we only deal with docker-machine's VM)
 this is the Part of the code that we mount these folders

https://github.com/medyagh/minikube/blob/2c82918e2347188e21c4e44c8056fc80408bce10/pkg/drivers/kic/oci/oci.go#L138

we could add a case that only for linux we should mount more folders.

[2020-10-28 18:31] sharifelgamal commented on #9322
Sure thing @storozhilov, thanks for the help.

[2020-10-28 18:35] medyagh commented on #8940
@chainhead sorry to hear you still hve this issue, our docker driver has better support for VPN envirinments, have you tried our docker driver ?

Meanwhile have you tried out newest driver Docker Driver with latest version of minikube?
you could try
minikube delete
minikube start --driver=docker

for more information on the docker driver checkout:
https://minikube.sigs.k8s.io/docs/drivers/docker/

[2020-10-28 18:38] mikador commented on #7791
I think it is trying to get k8s 1.15 which is no longer available (status
code 404).
Try install Docker Desktop for Windows 10 Pro. It should have the latest
toolset to run minikube properly.

W dniu śr., 28.10.2020 o 18:58 ysag <notifications@github.com> napisał(a):

--
M. Koniorczyk

[2020-10-28 18:39] medyagh commented on #9210
Meanwhile have you tried out newest driver Docker Driver with latest version of minikube?
you could try
minikube delete
minikube start --driver=docker

for more information on the docker driver checkout:
https://minikube.sigs.k8s.io/docs/drivers/docker/

[2020-10-28 18:39] sharifelgamal commented on #8902
The docker driver normally has less CPU overhead than the virtualbox driver, make sure your docker environment is healthy with `docker system prune`.

Either way, I'm going to go ahead and close this issue.

[2020-10-28 18:39] #8902 closed

[2020-10-28 18:43] medyagh commented on #9130
@yogyad @neel8989 do you still have this issue ?
do you mind trying deleteing all your VMs and minikube delete --all and try with latest version of minikube?

have you tried docker driver if you can install docker on your system ?

[2020-10-28 18:43] sharifelgamal commented on #9197
Hey @stupidlamo  – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Thank you for sharing your experience!

[2020-10-28 18:44] #9197 closed

[2020-10-28 18:44] blueelvis commented on #9016
I just checked this on Windows (As per the title) and it is working fine.
[code]

[2020-10-28 18:44] medyagh commented on #9005
@yingfengxiaowangzi @east4ming do you still have this issue ?
Meanwhile have you tried out newest driver Docker Driver with latest version of minikube?
you could try
minikube delete
minikube start --driver=docker

for more information on the docker driver checkout:
https://minikube.sigs.k8s.io/docs/drivers/docker/

[2020-10-28 18:45] sharifelgamal commented on #9272
It looks like downloading kubeadm failed, are you somewhere that doesn't allow access to GCS?

[2020-10-28 18:47] medyagh commented on #8970
we fixed this

[2020-10-28 18:47] #8970 closed

[2020-10-28 18:47] priyawadhwa commented on #9428
Hey @mailbagrahul thanks for your reply. You mentioned:

are you referring just to minikube, or is docker 19.03.13 giving you issues otherwise?

If you could provide the output of

[code]
that could be helpful as well.

[2020-10-28 18:47] priyawadhwa commented on #9258
Currently working on this now.

[2020-10-28 18:51] blueelvis commented on #8981
@seetaramrao - Could you please try running `minikube delete --purge --all` and try starting minikube again and see if this happens again?

[2020-10-28 18:52] medyagh commented on #9295
@harryttd thanks for creating this issue, this seems to be a noise from the logging from multinode, we should fix that. it doesn't appear to affect the functionality.

[2020-10-28 18:52] priyawadhwa commented on #9098
Help wanted on this.

[2020-10-28 18:53] tstromberg commented on #9169
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
 * The full output of `minikube logs`

Tha

[2020-10-28 18:53] #9169 closed

[2020-10-28 18:54] medyagh commented on #7510
as an alernative we can use docker's run options
[code]

[2020-10-28 18:54] priyawadhwa commented on #7733
@medyagh do we still want to do this?

[2020-10-28 18:55] medyagh commented on #8050
@afbjorklund I believe our new Auto Detect memory already does this for memory. but for disk size we have not done anything.

[2020-10-28 18:55] tstromberg commented on #9214
Closing as there is a workaround.

[2020-10-28 18:55] #9214 closed

[2020-10-28 18:56] medyagh commented on #8050
I would accept a PR that would try to allocate more disk space for VM if it is available

[2020-10-28 18:56] medyagh commented on #8050
if we need disk space issue, lets create another one

[2020-10-28 18:56] #8050 closed

[2020-10-28 18:57] #9174 closed

[2020-10-28 18:59] tstromberg commented on #9114
1. The SHA images are kept along side the binaries that are downloaded
2. The dependencies depend on which version of Kubernetes you select.

Do you mind sharing the error message that you saw?

[2020-10-28 18:59] medyagh commented on #9030
@AmitVishwash when you start the service command, you would need to keep it open in the termianl and open it in another terminal.

could you confirm that if if you keep the terminal open, and then try to open it in another terminal it works?

[2020-10-28 19:03] tstromberg commented on #8834
For clarity - do docker pulls work, or is this issue constrained to the curl command?

[2020-10-28 19:05] tstromberg commented on #8724
This is related to misconfigured switches. Try:

[2020-10-28 19:06] tstromberg commented on #8724
min

[2020-10-28 19:06] #8724 closed

[2020-10-28 19:34] medyagh commented on #9073
I haven't seen this I will close till we confirm still exists

[2020-10-28 19:34] #9073 closed

[2020-10-28 19:46] medyagh commented on #8348
maybe we can exec into the Docker machine created by docker desktop and see what cgroup it uses
[code]

[2020-10-28 20:39] medyagh commented on #9465
this is fixed in 1.14.0

[2020-10-28 20:52] rajurh commented on #9040
@medyagh Thanks for checking - Yes issue still exists. I tried creating a new switch as shown in the below screenshot and referencing in minikube command no luck still the same error

![image](https://user-images.githubusercontent.com/15551296/97495158-33eb1800-19cc-11eb-9bd0-35dd9ebf535e.png)

![image](https://user-images.githubusercontent.com/15551296/97495381-6eed4b80-19cc-11eb-999b-70e15f843ca

[2020-10-28 21:38] medyagh opened #9579 "cloud shell bug : gcloud alpha code dev fails flaky"
[code]

[2020-10-28 22:18] medyagh commented on #9579
update:
in the logs we see

[code]
that means
[code]
is not setting minikube with --force-systemd flag which is required for cloudshell.

however when I run minikube manually inside cloud shell, it is detecting  the global env set for force-systemd :
[code]

and it works

[code]

but when I run sample app https://codelabs.developers.google.com/codelabs/cloud-run-hello#2
and run
[code]

it fails si

[2020-10-28 22:19] medyagh commented on #9579
given that info, I recommend making sure the gcloud code alpha is picking up the same environement variable that was meant for cloud shell

altenratively minikube can Prevent cloud shell from running if they dont set the correct flag and provide a beter errorr message

[2020-10-28 23:25] matthewmichihara commented on #9465
@medyagh are you sure? I ask because in the `minikube start` output it says it was using version `1.14.0`.

[2020-10-28 23:30] medyagh commented on #9579
the root cause was found

[2020-10-28 23:30] #9579 closed

[2020-10-28 23:34] sharifelgamal commented on #9465
@matthewmichihara Can you try with 1.14.2 and see if it still happens? Just reopen if you can repro it.

[2020-10-29 02:48] dongyu opened #9580 "Can not pull any image in minikube"
**Steps to reproduce the issue:**

1.  minikube start --driver=docker
2.  minikube ssh
3. docker search alpine

**Full output of failed command:**
`docker search alpine`
Error response from daemon: Get https://index.docker.io/v1/search?q=alpine&n=25: dial tcp: lookup index.docker.io on 192.168.49.1:53: read udp 192.168.49.2:58279->192.168.49.1:53: i/o timeout

**Full output of `minikube start` com

[2020-10-29 04:03] dxGuan commented on #8949
I am facing the same problem with minikube version: v1.13.1

* minikube ssh -- ping -c 4 kubernetes.io
[code]
* kubectl describe deploy/coredns -n kube-system
[code]
* minikube ssh -- cat /etc/resolv.conf
[code]

[2020-10-29 06:58] afbjorklund opened #9581 "Some TestMirrorCountry unit tests take a very long time to run"
This suggests missing isolation, that it is actually _doing_ something on the network ?

PASS: TestMirrorCountry (25.37s)
PASS: TestMirrorCountry/image-repository_none,_image-mirror-country_none (0.02s)
**PASS: TestMirrorCountry/image-repository_none,_image-mirror-country_china (22.48s)**
PASS: TestMirrorCountry/image-repository_auto,_image-mirror-country_none (0.82s)
**PASS: TestMirrorCountry/ima

[2020-10-29 07:20] afbjorklund commented on #9581
Here is the code that needs mocking:

[code]

Takes a while: (added some debugging)

[code]
[code]
[code]

[2020-10-29 07:24] AmitVishwash commented on #9030
@medyagh I am keeping the terminal open only and then trying to access the URL. But the url is not accessible.

[2020-10-29 11:16] RA489 commented on #9580
/kind support

[2020-10-29 11:18] RA489 commented on #9580
@dongyu If you don't mind can you please try this WIP PR as a workaround?

[2020-10-29 14:02] dongyu commented on #9580
i think the issue it's not about china GWF,it's about minikube docker container DNS issue, use `minikube ssh ` login minikube container,execute cmd `curl google.com` output `curl: (6) Could not resolve host: google.com`

[2020-10-29 16:43] VishalYesurkar02 opened #9582 "minikube error in laptop bare machine(hyper-v) in win 10"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>
PS C:\WINDOWS\system32> minikube start
* minikube v1.13.1 on Microsoft Windows 10 Pro 10.0.17763 Build 17763
* minikube 1.14.2 is available! Download it: https://githu

[2020-10-29 16:44] VishalYesurkar02 commented on #9582
PS C:\WINDOWS\system32> minikube logs
E1029 22:13:59.809439    9372 logs.go:203] Failed to list containers for "kube-apiserver": docker: NewSession: new client: new client: Error creating new ssh host from driver: Error getting ssh host name for driver: IP not found
E1029 22:14:05.201445    9372 logs.go:203] Failed to list containers for "etcd": docker: NewSession: new client: new client: Error cr

[2020-10-29 17:14] afbjorklund opened #9583 "Fork the machine driver "generic" to minikube, prepare for renaming it"
Previously we have forked the docker-machine (libmachine) driver called "none":

https://github.com/docker/machine/blob/master/drivers/none/driver.go

https://github.com/kubernetes/minikube/blob/master/pkg/drivers/none/none.go

We want to do the same thing for the driver called "generic", as used in PR #9545

https://github.com/docker/machine/blob/master/drivers/generic/generic.go

https://github.

[2020-10-29 17:32] antonlisovenko commented on #8762
@medyagh Tried 1.19.2 and it still doesn't work.
Strange thing - when I started the minikube first it ran on K8s `1.16.15` (I haven't run minikube for a while - so some old version came from somewhere) and it started!:
[code]

Though when later I changed this to 1.19 and back to 1.16 - it stopped working :(

[code]

[code]

[2020-10-29 18:19] medyagh commented on #9583
sounds good !

[2020-10-29 19:10] dzilbermanvmw opened #9584 "minikube 1.14.2 on MS Win 10/docker driver fails to start up"
**Steps to reproduce the issue:**

1. Installed & validated Docker desktop on Win 10:
 Server: Docker Engine - Community
 Engine:
  **Version:          19.03.13
  API version:      1.40 (minimum version 1.12)**
  Go version:       go1.13.15
  Git commit:       4484c46d9d
  Built:            Wed Sep 16 17:07:04 2020
  OS/Arch:          linux/amd64
  Experimental:     false
 containerd:
  Version:

[2020-10-29 19:10] dzilbermanvmw commented on #9584
[minikube_startup_error_details.txt](https://github.com/kubernetes/minikube/files/5460728/minikube_startup_error_details.txt)

[2020-10-29 21:18] priyawadhwa commented on #8952
`minikube start` is failing on our kvm VM #7, which seems to be solely responsible for running the KVM tests. Fails with:

[code]

I SSH'd into the VM and ran the commands suggested in this comment:

https://github.com/kubernetes/minikube/issues/2513#issuecomment-370380411

After that, I was able to start minikube with kvm2 successfully in 70 seconds.

I think this may have fixed the issue, curren

[2020-10-29 21:57] afbjorklund commented on #9583
We might end up moving the other drivers as well, it's mostly cloud drivers so the only ones we use are "fake" and "err"...

amazonec2
azure
digitalocean
driverutil
**errdriver**
exoscale
**fakedriver**
**generic**
google
**hyperv**
**none**
openstack
rackspace
softlayer
**virtualbox**
vmwarefusion
vmwarevcloudair
vmwarevsphere

And of course the "virtualbox" driver. The "hyperv" is already modifi

[2020-10-29 22:03] afbjorklund commented on #9583
We probably want to keep the external API unless we have a **good** reason to change it.

This in order to keep it compatible with e.g. "vmware" and "parallels" external drivers still

[2020-10-29 22:07] afbjorklund commented on #9583
We should remove the "vmwarefusion" driver, it is deprecated in favor of "vmware".

We have already removed the "xhyve" (for hyperkit) and "kvm" (for kvm2) drivers.

[2020-10-29 22:21] afbjorklund commented on #9583
The best would be to move _all_ the extra drivers out of the main minikube code base:

* hyperkit
* kvm(2)

And to some structure that we control, separate from machine and machine-drivers:

* vmware
* parallels

Having them in the same git repo complicates the release process and build process.

We end up installing unnecessary things like `xgo-1.12.x` and `libvirt-dev` for them...

They should b

[2020-10-29 22:34] priyawadhwa commented on #8952
Closing, as that seems to have fixed it -- only one failure on the most recent run

https://storage.googleapis.com/minikube-builds/logs/9576/3c8d3ca/KVM_Linux.html

[2020-10-29 22:34] #8952 closed

[2020-10-29 23:00] afbjorklund commented on #9463
To document this for others with the same question:

The end goal here is to have something similar to Docker Desktop, with a _long-running_ VM for running the containers on...

So the VM would already be running when `minikube start` is run, but with an empty docker daemon or podman service.

This is similar to the "generic" driver, but with the added isolation of creating a container vs. running

[2020-10-29 23:11] afbjorklund commented on #9463
We could use the same Vagrant setup for testing this remote driver, as for testing the "generic" one ?

Just have to add the provisioner, which basically just called `curl -sSL https://get.docker.com | sh -`

Nowadays it is in the packages repos, so can just do "apt install docker.io" or "yum install podman"

Examples here: https://boot2podman.github.io/2020/07/22/machine-replacement.html

You can

[2020-10-30 02:05] zhangwenwork opened #9585 "controlPlane never updated to v1.19.2"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-10-30 02:06] #9585 closed

[2020-10-30 03:19] chiehpower opened #9586 "minibuke start"
Dear all,

I am sorry. I know my question is quite simple and basic that I am a beginner in kubernetes.
I wonder whether my minikube correctly started?
Because it seems printing something error but I dont know whether I need to care about those.

[code]

Thank you so much.

Sincerely,
Chieh

[2020-10-30 06:44] afbjorklund commented on #8050
We talked about it in #8077, currently we leave 15G

It really depends on which applications you want to run...

The end goal is similar to what Vagrant is trying to do:

https://www.vagrantup.com/docs/boxes/base

----

User are free to choose whatever, using the `disk-size` config.

I will probably use 32G as a compromise, size of an SD card
Like a modest 63% size increase, from 20000M to 32768M

[2020-10-30 07:00] afbjorklund commented on #3574
I added some parsers for `free -m` and `df -m` output, for showing the total available.
They _could_ be used for getting the "available" and "/var/lib/docker" (or containers) too

https://github.com/kubernetes/minikube/commit/41979352b927b85e12574cb3bbbf4917ef1a06a0

The CPU usage is trickier, since `/proc/stat` only has counters (reason for "sleep" above)
Probably easier to just call some existin

[2020-10-30 07:21] afbjorklund commented on #9214
Looking at upstream bugs: https://bugzilla.rpmfusion.org/buglist.cgi?component=VirtualBox&product=Fedora

It seems that it is fixed now: https://bugzilla.rpmfusion.org/show_bug.cgi?id=5747 (in VirtualBox-6.1.16-1.fc32)

[2020-10-30 10:34] misha-fm commented on #8728
@newtoniumx3 I also had this issue, that after I restart my computer, `minikube start` fails unless you delete the cluster and recreate it again. What I figured out, that in order to avoid this problem, one should stop the cluster before shutting down the computer: `minikube stop`. Then after reboot `minikube start` executes successfully and the cluster is up and running. Hope this helps you.

[2020-10-30 12:58] marcphilipp commented on #9370
I have the same issue. @adr-arroyo Did you find a solution?

[2020-10-30 14:09] micos76 commented on #9586
I am not an expert either but seems like something is wrong with your Docker setup?
So it basically failed back to use VirtualBox instead.

Was your intention to use Docker as the underlying VM?
You can specify the driver (read the docs) to be VirtualBox or others - default is Docker.

[2020-10-30 18:00] dzilbermanvmw commented on #9584
FYI, on another Win 10 docker-desktop host I was able to start up minkube with ...--driver=docker and had both K8s clusters - **docker-desktop** and **minikibe** running on Docker platform.

in work laptop environment however I keep getting the same minikube startup exceptions:

 Enabling 'default-storageclass' returned an error: running callbacks: [Error making standard the default storage class:

[2020-10-30 18:10] Guerric-P commented on #5666
Issue confirmed here too

[2020-10-30 19:35] ManiacDC commented on #9499
Also having this problem when using the Docker driver with minikube on Windows 10. I can't access the pods exposed via nodeport services.

[2020-10-30 20:20] blueelvis opened #9589 "Wrong error message on minikube tunnel without Administrator privilege"
**Steps to reproduce the issue:**

1. `minikube start --driver hyperv`
2. Open a Command Prompt/PowerShell session without the Administrator privileges.
3. `minikube tunnel`

**Full output of failed command:**
[code]

Instead of saying that the control plane doesn't exist, this should be throwing the following kind of error -
[code]

[2020-10-30 20:24] blueelvis commented on #9362
@medyagh - I did get a reply back from the author. The chocolatey package is automatically updated periodically and doesn't require any manual intervention.

The status is updated periodically over here - https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f

The update script is over here - https://github.com/chocolatey-community/chocolatey-coreteampackages/tree/master/automatic/mini

[2020-10-30 23:38] #9541 closed

[2020-10-30 23:42] #9258 closed

[2020-10-31 11:04] blueelvis opened #9590 "Add details about what can be done to fix an unhealthy driver"
**Steps to reproduce the issue:**

1. On a Windows machine, open a PowerShell prompt without administrator privileges and turn off Docker.
2. `minikube start`

**Full output of failed command:**

[code]

As we can see from the output, it is difficult to understand what can be done to fix an unhealthy driver. The drivers are there and available but in this case, Docker & Hyper-V are unhealthy becau

[2020-10-31 11:21] blueelvis opened #9591 "Update SuggestFix for Docker Driver on Windows"
The following line needs to be changed - https://github.com/kubernetes/minikube/blob/5ce9d99d68a57f833b7af035c384479122479968/pkg/minikube/registry/drvs/docker/docker.go#L168

The error which pops up with latest version of Docker Desktop on Windows is -
[code]

[2020-10-31 13:51] parikmaan commented on #877
@cglacet Thanks for the solution.

This works for me:

[code]

[2020-10-31 21:35] prezha commented on #9521
@medyagh i think that the issue is with go flag and the fact that we are using subcommands (that prevent go flag from parsing args); that can be solved with pflag - details are in the pr #9592
please have a look and share your thoughts

[2020-11-01 09:08] afbjorklund commented on #3574
Added implementation of a vmstat parser as well, in 4c78a65b8

[code]

Since it is based on integers, the numbers don't always add up:

[code]

The local implementation just uses gopsutil, per above: 03d950feb

But the code in "generic-status" for now, needs better status cmd...

[2020-11-01 11:08] sstuntman commented on #9513
Thank you for your kind answer. Unfortunately, there isn't enough space on my device to run minikube correctly.

[2020-11-01 11:08] #9513 closed

[2020-11-01 11:32] afbjorklund commented on #9590
We also noticed earlier that the "in preference order" is a lie.

[2020-11-01 12:34] afbjorklund opened #9593 "Add architecture to the binaries in the cache"
When supporting remote clusters of a different architecture, we need to add the arch in addition to the OS:

[code]

Simplest would be to add it after the OS, we could support **both** in order to preserve existing user caches ?

[code]

For instance when running an `amd64` host, towards a `arm64` machine. Either local hardware or cloud instance.

Same thing for the images, if not using the preloa

[2020-11-01 13:17] afbjorklund commented on #9593
Also, this code needs to be parameterized:

[code]

Using runtime.GOARCH is a good default, but it needs to be possible to override.

[2020-11-01 17:24] fabquenneville commented on #9009
Sorry stopped experimenting with minikube since.

[2020-11-02 06:20] Xiodra commented on #6222
https://my.vmware.com/web/vmware/details?downloadGroup=PLAYER-1400-VIX1170&productId=734
where it is documented about installing VMware VIX ?

[2020-11-02 08:07] u2bo commented on #9253
@sharifelgamal some arm64 image available?

[2020-11-02 09:27] #9580 closed

[2020-11-02 09:49] afbjorklund commented on #9253
Probably some quirk in the release process, can't really test it myself (no credentials)

But the _theory_ was that it should build and push the images for "all" architectures:

[code]

The architectures are hardcoded: `ALL_ARCH = amd64 arm arm64 ppc64le s390x`

[2020-11-02 10:24] mnshrr opened #9595 "Can't launch minikube in Virtualbox - VBoxManage: error: VT-x is not available (VERR_VMX_NO_VMX)"
**Steps to reproduce the issue:**

1.-VirtualBox:~$ minikube start --driver=virtualbox --no-vtx-check --alsologtostderr -v=4 >> minikubeLog2

**Full output of failed command:**
mehrnaz@mehrnaz-VirtualBox:~$ minikube start --driver=virtualbox --no-vtx-check --alsologtostderr -v=4 >> minikubeLog2
W1102 02:08:49.936425    5567 root.go:246] Error reading config file at /home/mehrnaz/.minikube/config/c

[2020-11-02 20:30] dzilbermanvmw commented on #9584
[minikube_docker-ce_startup-error-details.log](https://github.com/kubernetes/minikube/files/5477857/minikube_docker-ce_startup-error-details.log)
Re-installed Docker Desktop /Win 10, confirmed ability to run KIND K8s cluster but minikube one still fails to start up, exception:
--------------------------------------------------------------------------------------------------------------------------

[2020-11-02 22:47] rashmilengade commented on #9078
I am facing the same issue on windows. with WSL 2.

ssh_tunnel.go:113] error starting ssh tunnel: exec: "sudo": executable file not found in %PATH%

Was anyone able to test this?

[2020-11-02 23:12] mcortinas commented on #9002
/cc mcortinas

[2020-11-02 23:42] prezha opened #9596 "upgrade to klog v2.4.0"
we're currently using klog v2.3.0 and there is a known issue with `--log_file_max_size` minikube/klog option flag not working (being ignored), that was fixed in v2.4.0

**Steps to reproduce the issue:**

1. `minikube start --log_file='mqb.log' --log_file_max_size=3`

_result_: the log file size will eventually grow over the set limit (3mb in this example)

ref: klog [issue #171](https://github.com

[2020-11-02 23:42] prezha commented on #9596
/assign

[2020-11-02 23:59] kaojunsong opened #9598 "How to install minikube on MacOS?"
**Steps to reproduce the issue:**

1.  The installation section is empty: https://minikube.sigs.k8s.io/docs/start/
2. How can I install minikube on MacOS?

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-11-03 05:18] RA489 commented on #9598
@kaojunsong Please click on the MacOS tab in the Installation section here  https://minikube.sigs.k8s.io/docs/start/#

[2020-11-03 05:20] RA489 commented on #9595
/kind support

[2020-11-03 05:24] RA489 commented on #9584
/kiind support

[2020-11-03 05:25] RA489 commented on #9584
/kind support

[2020-11-03 06:44] kaojunsong commented on #9598
![image](https://user-images.githubusercontent.com/9572722/97956168-efec7e80-1de2-11eb-89f1-72d6dea7e414.png)
@RA489 Thank you for your help, I can see the Installation section on my cell phone, but empty on my chrome browser on PC, maybe the problem of browser.

[2020-11-03 06:50] Konata9 commented on #9598
Same problem with @kaojunsong . Installation content is empty.

Here is the source about this page. @kaojunsong We can follow the step in this file.
https://github.com/kubernetes/minikube/blob/master/site/content/en/docs/start/_index.md

[2020-11-03 07:23] kaojunsong commented on #9598
@Konata9 Thanks

[2020-11-03 11:01] adr-arroyo commented on #9370
Unluckily I haven't @marcphilipp

If you happen to find a solution, please post it here :)

[2020-11-03 14:21] joshmue commented on #8480
Retested with minikube 1.14.2: Works now without any problems or workarounds. :confetti_ball:

Thank you all!

[2020-11-03 14:21] #8480 closed

[2020-11-03 17:43] anuanju89 commented on #9078
I am also looking for a solution. Please suggest if there is any solution.

[2020-11-03 17:46] blueelvis commented on #9078
I am still working on this :)

On Tue 3 Nov, 2020, 11:14 PM anuanju89, <notifications@github.com> wrote:

[2020-11-03 18:18] dzilbermanvmw commented on #9584
FYI, I was able to get minikube start with --driver=docker on another Win 10 Docker CE environment, but on the one I filed for keep getting startup error:
...
! Unable to restart cluster, will reset it: apiserver health: controlPlane never updated to v1.19.2
* Verifying Kubernetes components...
! Enabling 'default-storageclass' returned an error: running callbacks: [Error making standard the defau

[2020-11-03 18:43] jamesglennan commented on #7332
Is there anything happening on darwin/macos for this issue, other than the work around?

[2020-11-03 20:45] WillNilges commented on #8756
I'm still having trouble. I edited the image url, but I'm still not able to pull the image
[code]

[2020-11-04 02:33] zanjichao commented on #9562
Set nat, read only, bridge mode in virtualbox three network cards

[2020-11-04 02:33] #9562 closed

[2020-11-04 04:29] #9521 closed

[2020-11-04 08:10] hoantv commented on #9586
I have same problem. I use private registry.

`minikube start --base-image='private-registry/k8s-minikube/kicbase:v0.0.13@sha256:4d43acbd0050148d4bc399931f1b15253b5e73815b63a67b8ab4a5c9e523403f'  --alsologtostderr`

[code]

[code]

[2020-11-04 09:46] chiehpower commented on #9586
Hi @micos76,
Thanks for your suggestion!!
I will take a look this part!

[2020-11-04 14:41] WillNilges commented on #8756
For reference, here's my full `minikube start` attempt:
[code]
[(It's really big)](https://gist.github.com/WillNilges/3b5db728b2cfdf3116d7a2ff729fd276)

[2020-11-04 14:56] WillNilges commented on #8756
Weather update: Works on my local Ubuntu 20 machine, not so much on my Fedora Server 32 VM. _Highly_ wack.

[2020-11-04 17:06] afbjorklund commented on #9453
This actually sounds more of a question for docker-machine and docker-compose, than for minikube ?

The primary goal is to provide a kubernetes environment, not an environment to run other legacy tools.

[2020-11-04 19:04] #9304 closed

[2020-11-04 19:55] sharifelgamal commented on #9586
Yeah @chiehpower, there was a failure trying to use docker as the minikube driver, which is what we always try to use by default if we detect it is installed. minikube did start up successfully with virtualbox though as a fallback. If you want to just start up minikube with virtualbox, try `minikube start --driver virtualbox`.

The docker issue itself seems to be a permissions issue. Is your user

[2020-11-04 19:55] sharifelgamal commented on #9586
@hoantv Your issue is definitely different from the one described in this issue, could you open a new issue so it doesn't get lost?

[2020-11-04 21:13] #9596 closed

[2020-11-04 23:34] #9598 closed

[2020-11-04 23:38] kaojunsong opened #9600 "Stuck on "Pulling base image ...""
**Steps to reproduce the issue:**

~ minikube start

😄  Darwin 10.15.4 上的 minikube v1.14.2
✨  根据现有的配置文件使用 docker 驱动程序
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...

Stuck on this, and no more logs

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command

[2020-11-05 03:29] hoantv opened #9601 "Minikube start fail with private registry"
**Steps to reproduce the issue:**

1. pull image
[code]
2. Tag image
docker tag 1private-registry/coredns:1.7.0 k8s.gcr.io/coredns:1.7.0
docker tag 1private-registry/etcd:3.4.13-0 k8s.gcr.io/etcd:3.4.13-0
docker tag 1private-registry/pause:3.2 k8s.gcr.io/pause:3.2
docker tag 1private-registry/kube-scheduler:v1.19.2 k8s.gcr.io/kube-scheduler:v1.19.2
docker tag 1private-registry/kube-proxy:v1.19.2 k

[2020-11-05 03:32] LargeOrange opened #9602 "使用minikube搭建本地集群时，负载均衡没有体现"
**重现问题所需的命令**：
首先用：
[code]
创建3个minikube节点
[code]

我的pod yaml文件
[code]
我的svc文件
[code]
执行部署后
[code]

我的镜像有个env接口，调用后会输出对应pod的podname
但是我curl调用接口输出
[code]
从现象上看只有master节点上的pod接受了请求

[code]

请问这是什么原因，我应该怎么做去实践负载均衡

**使用的操作系统版本**：
Mac os 10.15.5
Minikube v1.13.0

[2020-11-05 05:53] LargeOrange commented on #9602
可能找到原因了
[code]
kindnet这个镜像没有拉取下来
我执行
[code]
报错

[2020-11-05 07:27] #9600 closed

[2020-11-05 07:46] RA489 commented on #9602
/kind support

[2020-11-05 07:47] RA489 commented on #9601
/kind support

[2020-11-05 09:36] StefanLobbenmeier opened #9603 "Minikube Kubectl - completion does not work on zsh using alias"
In the documentation it says

when I use the current kubectl application from yum auto completion works:

[code]

When I use the "minikube kubectl -- " command it no longer works
[code]

And I also get the same result when I now switch to an alias - I get an error and zsh instead completes with the files and folders from my current directory
[code]

I guess this is because zsh sees that "kubectl"

[2020-11-05 09:42] StefanLobbenmeier commented on #9603
Just wanted to add since I could not find it in the source code, this is the __minikube_handle_flag from my machine:

[code]

[2020-11-05 18:22] priyawadhwa commented on #9561
Hey @rboal could you try running:

[code]

and see if that fixes the issue?

[2020-11-05 18:24] priyawadhwa commented on #9565
Hello @andresb39 -- Thanks for opening an issue. Has it been resolved?

Hola @ andresb39 -- Gracias por abrir un problema. ¿Se ha resuelto?

[2020-11-05 18:27] priyawadhwa commented on #9589
Hey @blueelvis thanks for opening this issue, the error message could definitely be more helpful. If you, or anyone else, would be interested in fixing this I'd be happy to look at the PR

[2020-11-05 18:30] priyawadhwa commented on #9590
I think fixing the "in preference order" and changing the name of the error is the minimum we should do here.

We could also change output to be cleaner, so that if something is not installed we just say "Not installed"

[2020-11-05 20:59] medyagh opened #9605 "docker driver: recover if IP is in USe"
example https://github.com/kubernetes/minikube/runs/1322617572?check_suite_focus=true

[code]

[2020-11-05 21:34] bleggett opened #9607 "Minikube docker driver doesn't work if Docker daemon is configured with the `userns-remap` option"
**Steps to reproduce the issue:**

1. Enable `userns-remap` option in your Docker daemon (defining appropriate entries in `/etc/subuid/subguid` [as documented](https://docs.docker.com/engine/security/userns-remap/#about-remapping-and-subordinate-user-and-group-ids))
2. Run `minikube start`
3. Timeout due to inability to write to bind mounts or SSH.

I'm relatively certain this is because the [Dock

[2020-11-05 21:39] arashbi commented on #4589
I still have this issue, why is this closed without an explanation?

[2020-11-05 22:21] sharifelgamal opened #9608 "Cannot curl service IP in debian 10 on google cloud"
In debian 10, minikube starts up successfully, but we noticed that the storage-provisioner pod crash looped and coredns pod never came up healthy. It turns out we can't curl any IP from inside any pod.

[code]

from the host
[code]

from inside a pod
[code]

[code]

[code]

[2020-11-05 22:35] towo opened #9609 "Driver timeouts should be configurable or disablable"
On typically configured systems, `libvirt` should be able to be used as a regular user by way of PolicyKit. The "two second or we kill your attempt" provision disallows any kind of such usage when PolicyKit prompts the user for authentication, as even copying your password to the clipboard and just being very quick on the paste keys can fail and should not be the expected use case.

Thus I propose

[2020-11-05 22:38] priyawadhwa opened #9610 "Reuse minikube-net network if it already exists for kvm driver"
We've been seeing a lot of errors on KVM (#8952) which are related to this error:

[code]

I was able to fix this manually on the machine by running these commands:

https://github.com/kubernetes/minikube/issues/2513#issuecomment-370380411

It would be nice if, instead of having to manually run these commands, minikube could:

1. Check if the minikube-net network already exists
1. Use it if it alr

[2020-11-05 22:45] sspieker-cc commented on #4589
Agreed - this issue has not been resolved to a point that explains how to correct this issue.  Adding the DNS resolution entries as stated above has not changed the behavior or minikube being able to pull or to resolve hosts.

[2020-11-05 22:47] ilya-zuyev commented on #9608
Can't reproduce on AWS  'Debian 10' / t2.large

[code]
[code]
[code]
[code]

[code]

[code]

[code]

[2020-11-05 22:50] sspieker-cc commented on #4589
/reopen

[2020-11-06 00:53] prezha commented on #9610
/assign

[2020-11-06 02:39] prezha opened #9612 "help flag 'pflag: help requested' error"
when using `minikube --help` with or without a subcommand, it displays general command-line options, errors with `pflag: help requested` and exits:

### example

or

output:
[code]

[2020-11-06 02:39] prezha commented on #9612
/assign

[2020-11-06 02:41] peterlin741 commented on #9247
/assign

[2020-11-06 03:05] 2976560783 opened #9615 "ingress: timed out waiting for the condition - Get https://us.gcr.io/v2/: net/http: request canceled while waiting for connection"
**重现问题所需的命令**：
minikube addons enable ingress
**失败的命令的完整输出**：<details>
🔎  Verifying ingress addon...

❌  Exiting due to MK_ENABLE: run callbacks: running callbacks: [verifying ingress addon pods : timed out waiting for the condition: timed out waiting for the condition]

😿  If the above advice does not help, please let us know:
👉  https://github.com/kubernetes/minikube/issues/new/choose

</details

[2020-11-06 03:11] CentUser commented on #4589
Hi, guys. Though I am not familiar with the codes, yet ,I figured out an workaround for this problem.
You can use minikube cach subcommand to cache the images first, and then , minikube start.
The programme would use the cached image instead of downloading from the net.
If this is helpful, reply to me, I'd like to know that this way applies to others.

[2020-11-06 04:56] LargeOrange commented on #9602
这个问题应该怎么解决呢？？？

[2020-11-06 07:00] lingsamuel commented on #9602
If you mean image pull failure, It's not a minikube bug. Check your docker status.
By the way, image name of kindnet is not kindnet. Describe your pod to get real image name.

[2020-11-06 10:17] oldbirdgo commented on #9615
me. too

[2020-11-06 12:14] Gun1tSurya commented on #7344
is any one get any WA for above issue? I'am facing same issue not able to run the service on browser.. and minikube ip shows 127.0.0.1 on windows system

[2020-11-06 14:48] prasanth595 opened #9617 "StartHost failed, but will try again: recreate: creating host: create: creating: create kic node: check container "minikube" running: temporary error created container "minikube" is not running yet"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-11-06 15:17] mbaeuerle commented on #3571
Keep in mind the command will delete the metrics service and doesn't fix the underlying problem, possibly introducing other issues. I don't recommend doing that. In our case one master node could not connect to the metrics server but after deleting this master and waiting for a new one to spin up the issue was gone.

[2020-11-06 18:09] afbjorklund commented on #9609
I think the default setting is for libvirt (or docker) to be used without having to enter a password every single time.

The timeouts could still be changed, but minikube assumes that you are part of the `libvirt` and `docker` groups...

[2020-11-06 18:12] priyawadhwa commented on #9603
Hey @StefanLobbenmeier thanks for opening this issue -- is the code you provided above the output of `minikube completion`?

[2020-11-06 18:14] priyawadhwa commented on #9049
Closing in favor of https://github.com/kubernetes/minikube/issues/9610

[2020-11-06 18:14] #9049 closed

[2020-11-06 18:15] priyawadhwa commented on #9610
Hey @prezha this comment from a duplicate issue may be helpful to you: https://github.com/kubernetes/minikube/issues/9049#issuecomment-679192676

[2020-11-06 18:18] priyawadhwa commented on #9617
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`
* The full output of `kubectl get po -A`

Thank y

[2020-11-06 18:22] priyawadhwa commented on #9615
Hey @2976560783 I noticed this log in your output:

[code]

which seems really similar to this issue we had a few months ago: https://github.com/kubernetes/minikube/issues/8756#issuecomment-701136826

Could you try what this user did in this comment (https://github.com/kubernetes/minikube/issues/8756#issuecomment-701139479) and see if that resolves the issue?

[2020-11-06 18:23] afbjorklund commented on #9607
So basically adding that extra flag to `docker run` would fix it ?

[2020-11-06 18:25] afbjorklund commented on #9607
Wonder how this works with the `/var` volume created ?

[2020-11-06 18:35] prezha commented on #9610
hey @priyawadhwa , thank you for that, and on a first glance, i'm not sure if the fact that  kvm driver shares the same network for all vms is an issue necessarily, but i'll have a look

i'm sharing here some observations and proposals i have so far:

implies that the error is raised in createNetwork()

it could be due to a race condition, ie, trying to recreate network that is still in the proces

[2020-11-06 19:11] #9612 closed

[2020-11-06 19:15] afbjorklund commented on #9607
Tried adding the flag to both the run and the tar, but there are still issues with this option:

You will have errors like these (from sshd):
Nov  6 19:06:11 minikube sshd[1370]: Authentication refused: bad ownership or modes for directory /home/docker/.ssh

Because it is being owned by "dockremap":
drwxr-xr-x 1 166536 165645 4096 Nov  6 19:01 /home/docker/.ssh

The key itself is OK, since it is c

[2020-11-06 19:20] priyawadhwa commented on #9610
@prezha soudns good thanks!

I think cleaning up inactive networks is a good idea, as long as we make sure we are only cleaning up networks created by minikube that are no longer in use.

[2020-11-06 19:28] prezha commented on #9610
yes, the idea would be to clean up only those nets that are no longer used

btw, we are using libvirt v3.4.0 (from june 2017) and the current one is v6.8.0 (from oct 2020), but is potentially a separate topic

[2020-11-06 19:30] afbjorklund commented on #9607
So unfortunately running minikube with userns-remap is "unsupported", similar to rootless.

You will have to use a VM driver instead, `minikube start --vm`

[2020-11-06 19:31] afbjorklund commented on #9607
@medyagh : we should remove those lines from the Dockerfile, minikube should create the directory at runtime instead.

[2020-11-06 19:47] priyawadhwa commented on #9610
Good catch, yah we could probably open a separate issue to upgrade libvirt

[2020-11-06 19:50] #9247 closed

[2020-11-06 20:03] bleggett commented on #9607
@afbjorklund Should I PR a doc change to `site/content/en/docs/drivers/docker.md` explicitly stating that the docker driver will not work with `userns-remap`?

[2020-11-06 20:17] #9131 closed

[2020-11-06 20:17] #8554 closed

[2020-11-06 20:20] #2117 closed

[2020-11-06 21:34] priyawadhwa opened #9620 "TestJSONOutput failing on Docker Linux"
[TestJSONOutput/start/parallel/IncreasingCurrentSteps](https://storage.googleapis.com/minikube-builds/logs/9604/df16364/Docker_Linux.html#fail_TestJSONOutput%2fstart%2fparallel%2fIncreasingCurrentSteps)
and [TestJSONOutput/start/parallel/DistinctCurrentSteps](https://storage.googleapis.com/minikube-builds/logs/9604/df16364/Docker_Linux.html#fail_TestJSONOutput%2fstart%2fparallel%2fIncreasingCurren

[2020-11-06 22:07] Enrico204 commented on #8765
I'm using minikube v1.14.2 (on Debian 10) and I had the same issue:

[code]

I tried with `virtualbox`, `kvm2` and `docker` drivers, no changes.

Unfortunately I already deleted `~/.minikube` and this fixed the issue :-(

[2020-11-06 22:30] medyagh opened #9623 "TestStartStop: Error: No such network: old-k8s-version-20201106133102-916276"
as seen here
https://storage.googleapis.com/minikube-builds/logs/9604/df16364/Docker_Linux.html#fail_TestStartStop%2fgroup%2fold-k8s-version%2fserial%2fSecondStart
[code]

[2020-11-06 22:32] tstromberg commented on #3552
Bumping this up because we've seen some Fedora 32 specific issues recently.

[2020-11-06 22:42] vrubiolo opened #9625 "Unable to start minikube using Docker driver and CRI-O runtime on Fedora32 (cgroups v1)"
**Steps to reproduce the issue:**

As per our [discussion with @tstromberg on Slack](https://kubernetes.slack.com/archives/C1F5CT6Q1/p1604680126134800?thread_ts=1604679550.133500&cid=C1F5CT6Q1), I am opening this issue.

1. `minikube start --alsologtostderr --driver=docker --container-runtime=crio -v=1`
2. Minikube does not start

This works with `minikube start --driver=virtualbox --container-run

[2020-11-06 23:22] medyagh opened #9626 "build parameter isoPath is not used"
in our Makefile we have this
[code]
which is used in this
[code]

but in our version package it is not used.

and I built and push an ISO to a different bucket `minikube-builds/iso` and minikube code failed because it was still trying to download from `miniube/iso`

[code]

but I could download this manually
[code]

[2020-11-07 02:38] chiehpower commented on #9586
@sharifelgamal Thanks for your sharing! I will study more about this. If there is any other information on here, I will reopen this topic. Thanks a lot!

[2020-11-07 02:38] #9586 closed

[2020-11-07 07:46] afbjorklund commented on #9607
That is probably a good idea, we should mention that neither userns-remap or rootless is supported at this time.

[2020-11-07 07:55] afbjorklund commented on #9626
Seems like @tstromberg removed the isoPath in 39670fc06f5b59f5902ca3eee3bd2fd30aa7cf1d

It was introduced by **mrick** back in 2017 with a125157f448d0c9675cc8089346b0b78ae4233f5

[2020-11-07 08:07] afbjorklund commented on #9625
Looks like the same crio bug as before:

Nov 06 22:33:15 minikube kubelet[796]: F1106 22:33:15.404404     796 kubelet.go:1296] Failed to start ContainerManager failed to initialize top level QOS containers: root container [kubepods] doesn't exist

Reported upstream as https://github.com/cri-o/cri-o/issues/4035

[2020-11-07 08:26] afbjorklund commented on #9625
There was a cri-o workaround previously: 61583d62492e2be0387563f460c56b1afba264c1

It was reverted recently, for some reason: 8b1def0608ef76df4105b6cefb3bcff10161e149

I think the ISO had the previous version, the KIC was updated ahead-of-time:

[code]

This is tracked as  #8861(follow up from #8854)

I don't think it is resolved yet ? Can try 1.18.4...

@sharifelgamal @medyagh

[2020-11-07 08:27] afbjorklund commented on #9625
A similar workaround for the docker driver, would be to change the yum configuration and downgrade to cri-o 1.17.3

It's also possible that a `sudo systemctl restart crio` would also fix it, but maybe the self-destruct feature kicked in first

[2020-11-07 08:29] StefanLobbenmeier commented on #9603
Yes, it’s part of what I got when I ran
`minikube completion zsh `

One thing I find quite strange is that the zsh completion contains `BASH_VERSION`

[2020-11-07 12:56] afbjorklund commented on #9625
@vrubiolo

There is an updated image in PR #9629, if you like to build it and try it ?

Works OK on Ubuntu, at least. Haven't tried it myself on Fedora, though.

[2020-11-07 13:31] vrubiolo commented on #9625
@afbjorklund : sure, thanks for the suggestion, let me try that over the weekend and report back.

[2020-11-07 16:34] afbjorklund commented on #9625
Not sure why there would be any difference, since we're using the same ubuntu 20.04 distribution _inside_ the docker container

but there would be different kernels involved, and I don't what cause the cri-o problem (occasionally?) in the first place anyway

[2020-11-07 16:48] afbjorklund commented on #9625
But I did change `runc`, since I suspect that it is involved in this - and it was recommended to do so by cri-o upstream...

https://bugzilla.redhat.com/show_bug.cgi?id=1508040#c15

Upgraded from 1.0.0-rc10 to 1.0.0-rc92

[2020-11-07 16:57] afbjorklund commented on #8861
I think the bug is fixed in PR #9629 (by upgrading runc version) - if that is correct we can do the suggested revert

[2020-11-07 19:10] afbjorklund commented on #3552
Here is the configuration that I have been using:

[code]

For the vagrant provisioner of centos/fedora 32.

[2020-11-07 21:21] vrubiolo commented on #9625
Hi @afbjorklund and thanks for being so reactive!

I am pleased to report that https://github.com/kubernetes/minikube/pull/9629 appears to fix the issue for me. I can now start minikube w/ CRI-O and the Docker driver:
[code]
`./out/minikube start --driver=docker --base-image=local/kicbase:latest --container-runtime=cri-o --preload=false --alsologtostderr -v=1` logs
[minikube-crio-fix.txt](https://

[2020-11-07 23:05] prezha opened #9631 "CI TestGenerateDocs unit test fails with flake error: "Docs are not updated. Please run `make generate-docs` to update commands documentation""
currently ci TestGenerateDocs unit test fails:

[code]

[2020-11-07 23:05] prezha commented on #9631
/assign

[2020-11-07 23:46] prezha commented on #9631
/kind failing-test

[2020-11-07 23:51] prezha commented on #9631
/kind flake

[2020-11-08 00:33] freshDevops1 commented on #8257
This is worked for me too.Thanks a lot.

[2020-11-08 10:01] mcortinas opened #9633 "Error enabling csi-hostpth-driver addon"
**Steps to reproduce the issue:**

1.minikube start
2. minikube addons enable csi-hostpth-driver

❌  Exiting due to MK_ENABLE: run callbacks: csi-hostpth-driver is not a valid addon

**Full output of failed command:**
[code]

**Full output of `minikube start` command used, if not already included:**

<details>
minikube start
😄  minikube v1.14.2 on Fedora 32
✨  Automatically selected the docker dri

[2020-11-08 11:13] k4kratik commented on #5660
I will suggest an improvement in @WojciechThomas's answer, instead of deleting `/tmp`,  delete all content inside of it but leave the parent directory, which is `/tmp` , undeleted, if you delete the `tmp` dir, it will throw an error in every `minikube` command
[code]

[2020-11-08 13:28] afbjorklund commented on #9631
Maybe we could separate this generate-docs test from the unit tests ?

[2020-11-08 14:16] afbjorklund commented on #9229
Two issues with the host key handling are:

1) Each time the port changes, there will be a _new_ line in the known_hosts (due to the changed `[127.0.0.1]:123456` host)
2) If just doing the simple >> append above, yet another line will be added - even if it is identical to the already existing lines...

The identity key handling is a little smarter.

[2020-11-08 14:17] afbjorklund commented on #9229
Added an option to add the key automatically:

`eval $(minikube docker-env --ssh-host --ssh-add)`

This only needs to be run on the _first_ invocation.
But there is no harm in running it every time either.

[2020-11-08 17:12] afbjorklund opened #9637 "Upgrade to Docker 20.10"
We are currently running Docker 19.03 (CE)

Once a stable 20.10 is out, we could upgrade

[2020-11-08 17:13] afbjorklund opened #9638 "Upgrade to Podman 2.1"
We are currently running Podman 1.9

Once 2.1 is stable, we could upgrade

[2020-11-08 17:49] afbjorklund opened #9639 "MEP: CRI: Containerd by default, Buildkitd on demand"
Background:

Kubernetes is moving to deprecate the dockershim in k8s ~~1.10~~ 1.20 and start using CRI by default (instead of Docker)

* [KEP-1985: Removing dockershim from kubelet](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/1985-remove-dockershim/README.md)

* [KEP 2040: Kubelet CRI support](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2040-kubele

[2020-11-08 19:16] afbjorklund commented on #9552
Once the upgrades to podman 2.1.1 and cri-o 1.18.4 are complete, the current package rebuilds are no longer needed...

* podman_1.9.3~1_amd64.deb
* cri-o_1.18.2~1_amd64.deb

But we should still save a cache, before they are deleted. Otherwise we would have to rebuild them again, in the future ?

* podman_2.1.1~2_amd64.deb (15.9 MB)
* cri-o_1.18.4~1_amd64.deb (19.9 MB)

https://build.opensuse.org/p

[2020-11-08 19:34] afbjorklund commented on #9639
Unfortunately dockerd (and docker-containerd) does **not** share image storage with stand-alone containerd:

https://github.com/moby/moby/issues/38043
~~https://github.com/containerd/containerd/issues/2987~~

This means that any images built will need to be transported from `/var/lib/docker` to `/var/lib/containerd`.

----

Same thing already happens today when using BuildKit to build, but that is

[2020-11-08 21:49] afbjorklund opened #9640 "Add support for buildkit, for building to containerd"
Currently we support either "docker" or "podman" for building, either locally on the VM or remotely through the "env" commands.

https://minikube.sigs.k8s.io/docs/handbook/pushing/

When using the containerd container runtime, we currently don't have any support for building images - only for loading them...

We could include `buildkitd`, in order to provide that ?

----

It is used in the same wa

[2020-11-08 21:52] afbjorklund commented on #9640
The "normal" way to invoke this would be `docker buildx` or `DOCKER_BUILDKIT=1 docker build`.

The above goes for when **not** having a dockerd running, but only using stand-alone containerd.

[2020-11-09 03:13] prezha opened #9642 "upgrade libvirt"
we are using libvirt v3.4.0 (from june 2017) and the current one atm is v6.9.0 (from nov 2020)

list of improvements made in the meantime is quite big: https://libvirt.org/news.html

[2020-11-09 03:16] prezha commented on #9631
i think it's still valuable to have it as a part of the pipeline (helped me to catch forgotten docs updates while changing flags once), but yes, i guess they don't have to be part of the unit tests

[2020-11-09 03:19] prezha commented on #9610
@priyawadhwa i've submitted pr (#9641) with proposed changes above - please have a look and feedback
also, i've created a separate issue for libvirt upgrade (#9642)

[2020-11-09 06:36] naileshjadhav opened #9643 "Minikube not starting on windows 10"
**Steps to reproduce the issue:**

1. Install minicube using choco on windows 10
2. execute minikube start
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

PS C:\WINDOWS\system32> minikube start
* minikube v1.14.2 on Microsoft Windows 10 Pro 10.0.18363 Build 18363
* Using the docker driver based on existing profile
* Starting contr

[2020-11-09 07:22] afbjorklund commented on #9603
@StefanLobbenmeier:
When you install kubectl as root, it will install **two** files for you:

[code]

When using the alias for minikube, you will have to call it explicily:

[code]

https://kubernetes.io/docs/tasks/tools/install-kubectl/#enabling-shell-autocompletion

The approach is similar for other shells (than bash), but the syntax may vary a bit....

[2020-11-09 07:54] chiehpower commented on #9373
Dear experts,

Even I already set up 16, but it still appeared the same error message...
[code]
Is there any idea?
Thank you.

[2020-11-09 07:56] alien19880726 commented on #9589
@blueelvis Hi, maybe we can add an advisement, such as log info in the following pic:
![image](https://user-images.githubusercontent.com/47560998/98513913-9f25cb80-22a3-11eb-9de9-37e0efac81da.png)

[2020-11-09 08:03] alien19880726 commented on #9589
/assign

[2020-11-09 08:18] sumitKash commented on #6250
I too am getting this message in my kube-apiserver logs:

I0922 11:31:14.904648       1 log.go:172] http: TLS handshake error from 10.80.10.70:33690: remote error: tls: bad certificate
I0922 11:31:15.050911       1 log.go:172] http: TLS handshake error from 10.80.10.70:33698: remote error: tls: bad certificate

The cluster is sitting behind HAproxy.

K8s version: 1.18.8
Installation method: kubead

[2020-11-09 10:43] afbjorklund commented on #9373
@chiehpower : doesn't seem to be about Windows at all ? On Ubuntu, the docker engine should use all of the hosts CPUs.

Please open a **new** ticket.

[2020-11-09 11:22] afbjorklund commented on #9642
See also: https://packages.ubuntu.com/libvirt-daemon and https://packages.ubuntu.com/libvirt-bin

If you upgrade the minimum version requirement, that will exclude some of the older releases ?

Ubuntu | Libvirt
--- | ---
xenial (16.04LTS) | 1.3.1
bionic (18.04LTS) | 4.0.0
focal (20.04LTS) | 6.0.0

This for the linked ABI

[2020-11-09 12:54] nianqiang opened #9644 "Error: No such network: 56bcceb8c923"
**重现问题所需的命令**：
minikube start \
--driver=docker \
--registry-mirror=https://n0dwemtq.mirror.aliyuncs.com \
--memory=2048mb

**失败的命令的完整输出**：<details>
[leyou@node1 bin]$ minikube start \

* minikube v1.12.1 on Centos 7.6.1810
* Using the docker driver based on existing profile
* Starting control plane node minikube in cluster minikube
* docker "minikube" container is missing, will recreate.
* Creati

[2020-11-09 14:20] MichaelSchmidt82 commented on #9016
I tried this, and it SEEMS like this is the solution, but for my case (following the hello-world tutorial for testing sake) I got an page not found (but a proper launch without the msg).  I suspect the IP or NAT has it wrong perhaps?

[2020-11-09 16:13] afbjorklund commented on #9640
Debian package available here: https://dl.bintray.com/afbjorklund/buildkit

Includes `/usr/bin/buildctl` and `/usr/sbin/buildkitd`, needs runc/containerd.

[2020-11-09 16:57] afbjorklund commented on #9552
Added "buildkit" to the list, it doesn't seem to be available as a package (only as a pre-built binary)

* buildkit_0.7.2-1_amd64.deb

[2020-11-09 19:00] medyagh commented on #9644
does this help ?

minikube delete
minikube start

I also noticed you are using an old version of minikube, do u mind trying the latest version?

[2020-11-09 19:07] chippey5 opened #9647 ""minikube start" hangs in a nested Virtualbox VM environment"
**Steps to reproduce the issue:**

1. Create a fresh Ubuntu Server 18.04 or 20.04 LTS installation as a virtual machine (running in virtualbox). Perform the following steps in the VM.
2. Install the latest version of virtualbox (6.1.10 at the time of writing)
3. Install minikube (`curl -Lo minikube https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64 && chmod +x minikube &&

[2020-11-09 19:15] #9631 closed

[2020-11-09 19:15] sharifelgamal commented on #9567
Closing as a dupe of #9397

[2020-11-09 19:15] #9567 closed

[2020-11-09 19:47] medyagh opened #9649 "Update docs on office hours and ensure everyone gets correct calendar invite"
lets add minikube-dev on calendar.

[2020-11-09 20:35] afbjorklund commented on #9640
It seems like the support for ssh hosts is not fully implemented in buildctl yet.

But it is also possible to tunnel the unix socket over ssh explicitly, meanwhile.

[2020-11-09 20:43] afbjorklund commented on #9640
See https://github.com/moby/buildkit/issues/1025

[2020-11-09 21:07] afbjorklund commented on #9640
So far I have only done basic packaging of the binaries.

It needs to have for instance a systemd service as well

[2020-11-09 21:12] afbjorklund commented on #9647
If you are _already_ running in VirtualBox, I would recommend using a different driver...

For instance the "docker" driver (for a desktop), or the "none" driver (for a dedicated VM)

Is there a reason for using an Ubuntu VM, rather than using the provided Buildroot ISO ?

Another approach is using a remote/second VM for miniukbe, as described here: #4730

[2020-11-09 21:16] afbjorklund commented on #9647
It _might_ be an issue when using more than 1 vCPU, as required by kubadm:

* https://www.virtualbox.org/ticket/19561

[2020-11-09 21:22] rboal commented on #9561
Hello. I started minikube with

`minikube start --force-systemd --driver docker --v=5   --alsologtostderr `

and results are attached:

[OutputOfFailedMinikubeStartCommand-2020-11-09.txt](https://github.com/kubernetes/minikube/files/5513351/OutputOfFailedMinikubeStartCommand-2020-11-09.txt)

[2020-11-09 21:35] afbjorklund opened #9650 "The debian ISO build machine is crashing when running buildroot"
The node is running debian oldstable (stretch), which is still running gcc-multilib 4:6.3.0-4

It seems to have some issues, when trying to bootstrap and cross-compile our buildroot ?

[code]

See PR #9628 and PR #9645, both crashed

[2020-11-09 21:36] afbjorklund commented on #9650
Can we upgrade from Debian 9 to Debian 10, perhaps ?

https://www.debian.org/releases/

[2020-11-09 22:00] medyagh commented on #7772
@sadlil

[2020-11-09 22:15] j-windsor opened #9651 "Minikube gcp-auth credentials empty in Google Cloud Shell"
**Steps to reproduce the issue:**

1. Open up a Google Cloud Shell. Minikube ships with Cloud Shell.
1. Run `minikube addons enable gcp-auth --alsologtostderr`. Note that nothing is written to the `/var/lib/minikube/google_application_credentials.json` file
From the logs:
[code]
1. Run `minikube ssh` and then `stat /var/lib/minikube/google_application_credentials.json` to see that the file is in f

[2020-11-09 22:54] medyagh commented on #9651
thanks @j-windsor

@sharifelgamal is the expert on this plugin,

[2020-11-09 22:59] medyagh opened #9652 "Flake Test: TestPause/serial/SecondStartNoReconfiguration"
as seen on this PR
https://storage.googleapis.com/minikube-builds/logs/9627/28044cd/KVM_Linux.html#fail_TestPause%2fserial%2fSecondStartNoReconfiguration

[2020-11-10 00:03] sharifelgamal commented on #9651
so yeah we definitely didn't account for the situation where credentials.JSON was empty. we'll definitely need to find a workaround for that.

[2020-11-10 00:15] MakrandPare opened #9653 "Minikube not starting"
**Steps to reproduce the issue:**

1. root@ip-172-31-13-237:/var# kubectl get pods
The connection to the server localhost:8080 was refused - did you specify the right host or port?
2. root@ip-172-31-13-237:/var# minikube status
minikube
type: Control Plane
host: Stopped
kubelet: Stopped
apiserver: Stopped
kubeconfig: Stopped

3. root@ip-172-31-13-237:/var# minikube start --driver=none
  minikube v

[2020-11-10 00:34] chiehpower commented on #9373
It was working on Linux indeed, but I saw the error message was similar so I thought the solution might be woked.
I will create a new issue. Thanks for your reply!!!

[2020-11-10 00:43] medyagh opened #9654 "TestSkaffold Failure: 'The server probably has client authentication (--tlsverify) enabled'"
This test has been consistently failing on minikube

https://storage.googleapis.com/minikube-builds/logs/9627/28044cd/Docker_Linux.html#fail_TestSkaffold

[code]

[2020-11-10 00:44] medyagh commented on #9654
I did some investigation: I thought minikube starting a new cluster would refresh the certs and might cause this issue. but I was wrong the certs are same even if you delete cluster.

timestamp shows that certs used by Docker is not changing acrosss making new profiles (clusters) or even deleting minikube
[code]

[2020-11-10 00:51] medyagh commented on #9654
could this be that MINIKIBE_HOME env is not being used in this test or somehow gets overwritten ?
@priyawadhwa

[2020-11-10 01:03] priyawadhwa commented on #9654
Since we're just appending to PATH I'd be surprised if the cause of this issue was an env variable race condition.

For context, this is the app that skaffold is building: https://github.com/kubernetes/minikube/tree/master/test/integration/testdata/skaffold

[2020-11-10 02:30] medyagh opened #9656 "fix the New Debian Agents"
[code]

[2020-11-10 02:38] medyagh commented on #9656
To test this, we can do this:

in jenkin create a new job called Manual Docker Temp and only trigger manually, and keep fixing the script till it works

[2020-11-10 06:45] afbjorklund commented on #9640
We made sure that buildkit support was included in docker since #4143

`DOCKER_BUILDKIT=1 docker build`

And decided to **not** include buildah support (beyond "bud") in #4166

`podman build` ~ `buildah bud` (only difference is --layers)

[2020-11-10 08:15] muneeb-jan commented on #7296
I am getting same issue on Ubuntu 20.04 LTS running in Virtual Box. I am using docker containers.

[2020-11-10 09:40] StefanLobbenmeier commented on #9603
So what you are saying is that bash uses the kubectl completion when kubectl is only an alias?

For me it looks like zsh is using the minikube completion because it sees that kubectl is only an alias for minikube.

[2020-11-10 09:46] StefanLobbenmeier commented on #9603
I just tested with the minikube kubectl on bash and sourcing did not work for bash either but likely because my cluster is not started:

[code]

[2020-11-10 09:49] StefanLobbenmeier commented on #9603
I checked the link you provided and found a dedicated section to aliases - I will check if that can help me with zsh as well
 (Mentioned on the website:)
[code]

[2020-11-10 09:54] StefanLobbenmeier commented on #9603
Ok I got it working on zsh now after finding this: https://unix.stackexchange.com/a/250489

[code]

If we can document this anywhere the issue can be closed

[2020-11-10 10:04] LargeOrange commented on #9602
I describe one node, get events
[code]
According to events, I guess Aliyun does not have a synchronized images which name `kindnetd:0.5.4`

So I use vpn to pull this image, but get
[code]

[2020-11-10 10:17] afbjorklund commented on #9603
Possibly here somewhere: https://minikube.sigs.k8s.io/docs/commands/kubectl/

[2020-11-10 10:22] vrubiolo commented on #9625
Thanks for merging #9629 in!

What is the process for closing an issue like the present one? Should I wait until the next minikube release or do we immediately close it?

[2020-11-10 10:49] StefanLobbenmeier commented on #9603
I would prefer https://minikube.sigs.k8s.io/docs/handbook/kubectl/ as this is where I also first read about creating the alias.

[2020-11-10 12:00] chippey5 commented on #9647
Hi,

I was following the instructions from the Linux foundation in the course _Kubernetes Fundamentals (LFS258)_, where they suggest using Virtualbox as the driver in the learning phase. I have previously used the docker driver where it worked just fine.

I tried this to no avail, unfortunately. I'm going to see whether this could be kernel version related or not with a more recent version.

[2020-11-10 12:11] sadlil commented on #8822
Hey @Yogendra0Sharma are you still working on this? If not i will like to take a look at this.

@medyagh @tstromberg A very small proposal, Instead of doing a replace for kvm to kvm2 in `selectDriver`, how do you feel about adding a field for aliases in [DriverDef](https://github.com/kubernetes/minikube/blob/master/pkg/minikube/registry/registry.go#L85). And change https://github.com/kubernetes/mi

[2020-11-10 12:29] carlosrmfernandes opened #9658 "Error creating directory: /etc/kubernetes: mkdir /etc/kubernetes: permission denied"
![image](https://user-images.githubusercontent.com/22120478/98674184-3425d480-2337-11eb-9631-eea30d30b4bd.png)

[2020-11-10 12:39] sadlil commented on #7772
/assign

[2020-11-10 17:29] sharifelgamal commented on #9656
The PR I'm testing fixes in is #9660

[2020-11-10 17:36] jordeu commented on #8762
I've managed to make it work in this way:

[code]

The problem is that the file has to be in a folder that is mounted inside the apiserver pod.

[2020-11-10 18:24] #9486 closed

[2020-11-10 18:25] #8298 closed

[2020-11-10 18:27] #9374 closed

[2020-11-10 18:30] medyagh opened #9661 "fix Readme Build Badge"
after removing Travis the new build icon is pointing to integration tests instead of build

https://github.com/kubernetes/minikube/actions

side effect of https://github.com/kubernetes/minikube/pull/9619

[2020-11-10 18:33] afbjorklund commented on #9658
Seems like your setting of $KUBECONFIG environment variable is in the way.

However, our suggestion doesn't match the exact message since cd91fb84702daf538d3d809868a06e3f3bf61df0.

"Failed kubeconfig update: writing kubeconfig"

"Failed to setup kubeconfig: writing kubeconfig"

[2020-11-10 19:05] afbjorklund commented on #9661
Probably should be https://github.com/kubernetes/minikube/actions?query=workflow%3AMaster

To match ![](https://github.com/kubernetes/minikube/workflows/Master/badge.svg)

[2020-11-10 20:43] #9610 closed

[2020-11-10 21:32] macdaddyaz commented on #8844
I had the same issue, and the fix was to purge minikube _and_ all of the old containers & images that were hanging out in Docker:

[code]

For some reason, none of those images showed up with a `docker ps -a`. So I just had to repeatedly run those commands to clean up the containers and images. After that, I was able to get a `minikube` to start cleanly.

[2020-11-10 21:54] sivakku commented on #9651
We are doing release testing for Secrets Mgr in to Cloud Shell. Can this be addressed in next week gcloud release?

[2020-11-10 22:20] sharifelgamal commented on #9651
That is the goal, yes.

[2020-11-10 22:27] EArminjon opened #9663 "hyperv: Better handle minikube stop error on powershell & windows terminal"
1 . minikube start

![image](https://user-images.githubusercontent.com/37028599/98740776-e4cdbb80-23ab-11eb-8325-645b601ccfcf.png)

2 . minikube stop

Windows PowerShell is not in interactive mode. The read and prompt functionality is not available.

![image](https://user-images.githubusercontent.com/37028599/98740687-c49dfc80-23ab-11eb-89e9-4f6f64c48843.png)

Error here with and without profile.

[2020-11-10 22:33] EArminjon commented on #9663
Same issue on cmd.exe
![image](https://user-images.githubusercontent.com/37028599/98741438-efd51b80-23ac-11eb-98a4-5eb7571b2e03.png)

[2020-11-10 22:42] MakrandPare commented on #9653
Hi,
Deleting the /var/lib/docker and systemctl restart docker
fixed the problem.
Closing this issue now.

Thanks,
Makrand

[2020-11-10 22:42] #9653 closed

[2020-11-10 23:13] priyawadhwa opened #9664 "Rename `out.T` to `out.Step`"
This will more accurately describe what this function is doing, as discussed here:

https://github.com/kubernetes/minikube/pull/9621#discussion_r520907966

This should be as simple as renaming

https://github.com/kubernetes/minikube/blob/f6fa0ec0f6e5aa5e5f0d493cfac000bebad96429/pkg/minikube/out/out.go#L76

to `Step` and doing a find and replace in the code.

[2020-11-11 01:15] prezha opened #9666 "kvm: recommend solution & auto-cleanup minikube-net network leftover failures"
this is a followup on #9641 - additional improvements suggested by @priyawadhwa & @medyagh :

ref: https://github.com/kubernetes/minikube/pull/9641#issuecomment-724955233

[2020-11-11 01:15] prezha commented on #9666
/assign

[2020-11-11 03:02] medyagh opened #9668 "failing test: TestPause/serial/SecondStartNoReconfiguration"
this test has been failing constantly both on jenkins and gh action and I also verified it fails manually on docker driver on mac os

https://storage.googleapis.com/minikube-builds/logs/9662/833e474/Docker_Linux.html#fail_TestPause%2fserial%2fSecondStartNoReconfiguration

so after a minikube start,
another "minikube start" is actually re-configuring the cluster, becauser the apiserver is stopped.

[2020-11-11 06:58] mbartosi commented on #9561
I can confirm the same problem on Debian 10 / Docker 19.03.13 / Minikube 1.14.2 and driver=docker with systemd.

[2020-11-11 07:15] mengzyou opened #9669 "Ingress插件下载镜像失败"
**重现问题所需的命令**：

 `minikube addons enable ingress`

**失败的命令的完整输出**：<details>

❯ minikube addons enable ingress
🔎  Verifying ingress addon...

❌  Exiting due to MK_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]

😿  If the above advice does not help, please let us know:
👉  https://github.com/kubernetes/minikube/is

[2020-11-11 07:16] spillarlive opened #9670 "enable ingress"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2020-11-11 07:49] RA489 commented on #9663
/kind support

[2020-11-11 07:50] RA489 commented on #9643
/kind support

[2020-11-11 07:52] RA489 commented on #9633
/kind support

[2020-11-11 08:55] Evalle commented on #9664
/assign

[2020-11-11 10:04] chippey5 commented on #9647
Alright, I have now tried with CentOS 8 instead:

[code]

[code]

[code]

[code]

[code]

[code]

**Run results:**

[code]

After updating to mainline:

[code]

[code]

[code]

Same result happens when changing VM to 1 vCPU.

[2020-11-11 12:46] afbjorklund commented on #9647
Instead of running minikube _inside_ a VirtualBox VM, you can let minikube use VirtualBox to create the VM for you.

[2020-11-11 13:10] sadlil commented on #8822
@medyagh Put together a WIP PR for the proposal, please take a look https://github.com/kubernetes/minikube/pull/9672.

[2020-11-11 13:24] nagomikslai opened #9673 "Failed to "Minikube start with Hyper-V" - PROVIDER_HYPERV_NOT_FOUND"
**Steps to reproduce the issue:**
Hi,
I could not get the minikube start with Hyper-V.
Please refer to the attached files for the error messages that being captured.

Thank you.

![HyperV_Enabled](https://user-images.githubusercontent.com/43594906/98816642-f07cb900-2463-11eb-8457-545f8117ae64.png)
[minikube_error_log.txt](https://github.com/kubernetes/minikube/files/5524181/minikube_error_log.txt)

[2020-11-11 13:29] chippey5 commented on #9647
To be clear, I figured as much that it is [meant to be run on bare metal](https://github.com/kubernetes/minikube/issues/3685), but given that Virtualbox does support nested virtualization, this _should_ work. Quoting from The Linux Foundation's free course (LFS258):

_“Minikube is installed and runs directly on a local Linux, macOS, or Windows workstation. However, in order to fully take advantage

[2020-11-11 13:44] otherguy commented on #3504
/remove-lifecycle rotten
/reopen

Still not possible afaik.

[2020-11-11 13:46] otherguy commented on #5729
@medyagh  is there a corresponding feature request ticket to track this already?

[2020-11-11 14:24] EArminjon commented on #9673
As admin

[code]

[2020-11-11 17:32] #7936 closed

[2020-11-11 17:39] afbjorklund commented on #9647
The course sounds about right:
"This does not mean that we need to create any VMs with guest operating systems with this Hypervisor."

This is because minikube will use your hypervisor, to create a virtual machine (thus not touching the original environment).
We still don't recommend to install _kubernetes_ directly on the desktop, since we want to provide this "node" isolation...

We do provide a

[2020-11-11 19:14] #8990 closed

[2020-11-11 19:21] medyagh commented on #8940
@chainhead I haven't heard from you, do you still have this issue ?

[2020-11-11 19:23] medyagh commented on #8273
it is technically possible, only is you would need to create the first container as a privileged

[2020-11-11 19:27] medyagh commented on #9564
@abdou91 I haven't heard from you, I will close this, please reopen once ready to give more information

[2020-11-11 19:27] #9564 closed

[2020-11-11 19:28] medyagh commented on #9488
@toluwaanimi I haven't heard from you, I will close this issue, please feel free to reopen once ready

[2020-11-11 19:28] #9488 closed

[2020-11-11 19:29] medyagh commented on #9428
@mailbagrahul  I haven't heard from you, I will close this issue, please feel free to reopen once ready

[2020-11-11 19:29] #9428 closed

[2020-11-11 19:33] medyagh commented on #9116
the problem is, our current Docker driver only listens on 127.0.0.1, which is for security reasons.

we could offer a --listen-remote flag for users who need to listen on non local hosts.

have you tried running minikube driectly on your host ? with either vbox or docker driver?

[2020-11-11 19:33] medyagh commented on #9040
Meanwhile have you tried out newest driver Docker Driver with latest version of minikube?
you could try
minikube delete
minikube start --driver=docker

for more information on the docker driver checkout:
https://minikube.sigs.k8s.io/docs/drivers/docker/

[2020-11-11 19:34] medyagh commented on #9040
the error message seems to be hyperv not configured correctly.

[2020-11-11 19:35] medyagh commented on #8356
@tamalsaha did this help ?
https://github.com/kubernetes/minikube/issues/8356#issuecomment-693592643

[2020-11-11 19:36] #9656 closed

[2020-11-11 19:37] medyagh commented on #9372
I will close this issue as a dupe of https://github.com/kubernetes/minikube/issues/9372
please feel free to add more details to that other issue.
we need to fix this

[2020-11-11 19:37] #9372 closed

[2020-11-11 19:42] priyawadhwa commented on #9491
Hey @nicolasduminil were you able to try again?

[2020-11-11 19:48] ilya-zuyev commented on #9442
@abdelhajji Going to close this issue. Please feel free to open a new one if the problem still exists

[2020-11-11 19:48] #9442 closed

[2020-11-11 19:49] priyawadhwa commented on #9315
I found this docker issue which references a similar error: https://github.com/docker/machine/issues/4271#issuecomment-366311750

Could you confirm that virtualization is enabled, as explained by this comment:

https://github.com/docker/machine/issues/4271#issuecomment-366311750

Thank you!

[2020-11-11 19:50] #9468 closed

[2020-11-11 19:51] priyawadhwa commented on #8823
Hey @dhaneesht this issue has been quiet for a few weeks now so i'm going to close it, please reopen at any point by commenting /reopen if you can provide additional details. Thank you!

[2020-11-11 19:51] #8823 closed

[2020-11-11 19:51] medyagh commented on #9360
@mFarghaly do you mind sharing what driver are you using?

[2020-11-11 19:56] ilya-zuyev commented on #9242
@smuve1 do you mind to try to reproduce this issue with the minikube version 1.14.2 and post `-v=5` logs if the problem still exists?

[2020-11-11 20:05] medyagh commented on #9399
@vinu2003 I haven't heard from you, please let me know if you are still working on this

[2020-11-11 20:06] medyagh commented on #8008
we can add this as a flag in the follow up PRs after this PR https://github.com/kubernetes/minikube/pulls

[2020-11-11 20:28] priyawadhwa commented on #9668
Looks like something was merged on the 5th or 6th and this started to fail consistently:

[code]

[2020-11-11 21:29] #9658 closed

[2020-11-11 21:41] priyawadhwa commented on #9668
Ran a `git bisect`, 4c54e7868179471b9531e21b4d29472600860cbc is the commit where this broke

[2020-11-11 22:14] #9620 closed

[2020-11-11 22:29] mailbagrahul commented on #9428
I have been facing so many issues after upgrading docker-desktop l latest stable version(Docker - 19.03.13) which I'm not able to use docker driver. I tried with hyperV on different VMs but due to firewall/security problem, it is not working.  After testing by downgrading to next versions, I found Docker 19.0.8 is the compatible version which uses docker driverby default  for creating minikube clu

[2020-11-12 00:06] rainahtdm commented on #9315
Hi @priyawadhwa  , enclosed is my laptop BIOS's virtualization settings .
![image](https://user-images.githubusercontent.com/52273884/98878412-f0eb7300-24a8-11eb-8499-9233a8d52923.png)

[2020-11-12 00:21] #9668 closed

[2020-11-12 01:10] medyagh opened #9677 "add make target to release latest -snapshot kic base image"
when we have a change on kicbase image, before the release, we increament it with -snapshot1 ...-snapshotN
before relesease we need to tag the Last snashotN and push it

(the SHAs will be same)

we can add a make target that does the following things that I did manually.

make release-snapshot-kic-base-image

[code]

[2020-11-12 01:12] medyagh opened #9678 "add make target to release latest ISO-snapshot to stable in prod"
I did this manually
[code]

[2020-11-12 03:40] nagomikslai commented on #9673
Great. It works now!
Thank you for your prompt reply.

[2020-11-12 03:40] #9673 closed

[2020-11-12 03:48] medyagh commented on #4589
does this help your cae

[2020-11-12 03:49] medyagh commented on #9625
thanks we can close this issue we are planning to release tomorrow, hope that be helpful

[2020-11-12 03:49] #9625 closed

[2020-11-12 03:50] medyagh commented on #9200
we might not need this anymore, since we have static IP on docker driver.

[2020-11-12 03:50] #9200 closed

[2020-11-12 04:13] medyagh opened #9680 "Flake TestAddons/parallel/Registry: Memory cgroup out of memory"
on github actions addons_certs_virtualbox_macos
virtualbox_macos
[code]

[code]

[2020-11-12 07:48] rmanfred opened #9682 "minikube start"
**Steps to reproduce the issue:**

1.
2.
3.

**Full output of failed command:**

**Full output of `minikube start` command used, if not already included:**

**Optional: Full output of `minikube logs` command:**
<details>

</details>

[2020-11-12 08:23] RA489 commented on #9638
/assign

[2020-11-12 08:37] RA489 commented on #9682
@rmanfred I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank y

[2020-11-12 08:37] RA489 commented on #9682
/triage needs-information

[2020-11-12 08:37] #9682 closed

[2020-11-12 08:40] vrubiolo commented on #9625
Cool, no worries, will be happy to try the new release when it's out!

[2020-11-12 09:37] chippey5 commented on #9647
This is true when following the course only using Virtualbox on "bare metal". I think that the confusion comes from how the options are layered in terms of isolation;

1. If one installs minikube and virtualbox on bare metal and use the virtualbox driver, the environment becomes isolated from the "production" environment as minikube spins up virtual machines **for** the user.

2. If one decides to

[2020-11-12 12:29] coder2213 opened #9684 "driver=virtualbox, apiserver not running"
**Steps to reproduce the issue:**

Windows 10 Home, Version 20H2 (OS Build 19042.572)
minikube version: v1.14.2
commit: 2c82918e2347188e21c4e44c8056fc80408bce10
Kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T12:50:19Z", GoVersion:"go1.15.2", Compiler:"gc", Pl

[2020-11-12 14:06] arviCV commented on #877
@parikmaan If the above mentioned solution works, then were you able to access the service from an external machine? I mean, the problem is when trying to access the same URL from another machine inside the same network. Did it work or only the `http://localhost:${service_port}` worked?
Did you get it work for `http://<host_machine_ip>:${service_port} `from  a different machine in same network?

@

[2020-11-12 14:28] cglacet commented on #877
@arviCV My goal was to access my kubernetes instance which lies in minikube (a VM). Normally I would access it via a specific ip/port  that is only available on my local machine (`minikube ip`). By doing what I managed to access it via my host IP which means anyone in the same network could access it too.

In other words:

[code]

Would work for anyone in my local network.

[2020-11-12 15:17] afbjorklund commented on #9638
This is just a placeholder for a future milestone, nothing that is decided yet (still bugs in 2.1.1)

[2020-11-12 15:18] viveksahu26 commented on #9315
Hey @rainahtdm , I can't say just by looking at screen as it's icon seems to blue in colour  when it is ON and at the same time it's icon is colourless. Just Google to check virtualisation enabled or not  for your o.s. .  For more concerned me at vivekkumarsahu650@gmail.com

[2020-11-12 15:45] afbjorklund commented on #8273
Not sure it makes any difference ?

[code]

For minikube, we need to replace this code:

[code]

With something that modifies the file in-place

[2020-11-12 18:58] tstromberg opened #9685 "Investigate sharing the host Docker daemon"
This was an idea from Brian De Alwis over chat:

Could we change minikube so that Kubernetes pulls from the host Docker daemon? Similar to how Docker Desktop works today.

This would allow image caches to persist across clusters, and remove the latency of pushing images from the host into the cluster.

[2020-11-12 19:13] lukasmrtvy commented on #4051
@tstromberg Latest VirtualBox 6.1.16 can run 64bits VM with Hyper-V backend

[2020-11-12 19:49] #7711 closed

[2020-11-12 20:42] mattscottuk commented on #3739
This is also happening to me (Windows 10 Home, VirtualBox, Intel i7-9750H).  Checked BIOS and VT-X is definately enabled.

[2020-11-12 20:44] jdart commented on #8439
Another use case: when running a php(-fpm) application in a pod we want to connect to an IDE for debugging purposed. To accomplish this today I have to hardcode my wifi interface's ip address which could change when moving between the office and home.

[2020-11-12 21:33] JanetMatsen opened #9687 "error loading config file: a directory is found (not a file)"
**Steps to reproduce the issue:**

1. `minikube start`:

**Full output of failed command:**

[code]
With `--alsologtostderr` on:
[201112_minikube_start.txt](https://github.com/kubernetes/minikube/files/5533412/201112_minikube_start.txt)

**Optional: Full output of `minikube logs` command:**

[201112_minikube_logs.txt](https://github.com/kubernetes/minikube/files/5533410/201112_minikube_logs.txt)

[2020-11-12 21:36] medyagh commented on #9605
also seen in jenkins
https://storage.googleapis.com/minikube-builds/logs/9679/2f3cb00/Docker_Linux.html#fail_TestFunctional%2fserial%2fStartWithProxy

<details>

<pre>
=== RUN   TestFunctional/serial/StartWithProxy
functional_test.go:229: (dbg) Run:  out/minikube-linux-amd64 start -p functional-20201112073656-300542 --memory=4000 --apiserver-port=8441 --wait=true --driver=docker
functional_test.go

[2020-11-12 23:24] cachvico opened #9688 "docker registry addon changed port missing documentation"
`$ minikube addons enable registry` currently outputs:
[code]
I had to work out the edit required:

`$ docker run --rm -it --network=host alpine ash -c "apk add socat && socat TCP-LISTEN:5000,reuseaddr,fork TCP:$(minikube ip):32781".   # <-- port changed at the end`

This could do with a note at the suggested URL.

[2020-11-12 23:49] medyagh opened #9690 "convert dockerNetworkInspect to a struct"
currently we use comma to get the info we need

https://github.com/medyagh/minikube/blob/a84cbed217c45c34e13bce14e1c144bcde7ee168/pkg/drivers/kic/oci/network_create.go#L139
[code]

one better approach is using something like this
[code]

that will output a json
[code]

but the problem is making sure the dateway and subnet get parsed into netinfo struct

so we get more information as a struct, the

[2020-11-12 23:50] #9680 closed

[2020-11-13 00:38] JanetMatsen commented on #9687
I was able to get this resolved by:

1. `minikube delete`
2. Remove my .kube directory (`/Users/jmatsen/.kube` on my computer)

Then this worked: `minikube start --driver=hyperkit`

[2020-11-13 00:38] #9687 closed

[2020-11-13 00:57] medyagh opened #9691 "Flake Fail: TestFunctional/parallel/DockerEnv"
this is a flake that API Server goes stopped after it started succesfully

TestFunctional/parallel/DockerEnv
Example: https://storage.googleapis.com/minikube-builds/logs/9747/3b5c265/Docker_Linux.html#fail_TestFunctional%2fparallel%2fDockerEnv
[code]

[2020-11-13 00:57] GrahamDumpleton commented on #8987
For the benefit of others who may stumble across this issue when investigating apparent data corruption issues, the original behaviour were unique names were used for persistent volumes was not restored. Instead, a path was used that incorporated both the name of the namespace and that of the persistent volume claim. That addressed the reported problem, but is not a full proof solution. The proble

[2020-11-13 01:11] Reddy1990 commented on #9030
@AmitVishwash  Amit any luck onthis? even I'm facing same issue.

[2020-11-13 01:49] chainhead commented on #8940
No, I gave up. I ended up using Virtual box as driver. Please close this.

[2020-11-13 02:25] medyagh opened #9692 "remove depricated jenkins jobs from set pending"
for example
windows virtualbox
podman ,,,
these still are being set as pending,even though we dont run them

[2020-11-13 02:51] medyagh opened #9694 "update kubernets version script does not generate unit tests"
in this PR https://github.com/kubernetes/minikube/pull/9693
I used the script
[code]
it changed the constants.go and the docs but it did not change these files and didn't add a folder of unit test data
[code]

[2020-11-13 02:56] kadern0 commented on #9644
@medyagh it looks same as #8131 (per -> "56bcceb8c923\n051f84d44254" docker inspect is picking two bridge networks )

Upgrading should fix

[2020-11-13 05:41] Karthik-Rangasamy commented on #3417
Would mounting it inside the container be an option? i.e traditional way of installing nfs-client in the container and using the mount command instead of letting the Kubernetes to mount it?

[2020-11-13 08:57] RA489 commented on #9684
/kind support

[2020-11-13 09:06] kougazhang commented on #3880
I meet the problem on Macos too.

Increase Disk image size and restart Docker can fix it
![image](https://user-images.githubusercontent.com/53000287/99049860-4ff8d700-25d2-11eb-87b5-3e05a28b5af6.png)

[2020-11-13 09:14] prezha commented on #9694
/assign

[2020-11-13 10:02] arviCV commented on #877
@cglacet : Ok. Now it works for me too.
@The-Crocop : Thanks a bunch . The solution provided works.

Mind sometime if we work in restricted networks then certain ports of Host machine can be deliberately blocked from opening. Just in case if others face same issue like me, I would like to share this solution.

[code]

[2020-11-13 12:30] JulienBreux commented on #7332
So sad :/

The will is to use `docker` on macOS, not another VM... but solution it's perhaps to use Kubernetes on Docker Mac.

The real question is : what is the work around?

Thanks 🙏

[2020-11-13 14:40] valaparthvi commented on #9690
@medyagh I would like to take up this issue if it's okay. It would be my first contribution to minikube and this issue looks like a good place to start.

[2020-11-13 15:08] dngconsulting commented on #7332
Welcome onboard @JulienBreux . Had also to rollback to VirtualBox with -vm option to get things work. I gave up.

[2020-11-13 18:15] #8940 closed

[2020-11-13 18:16] #9664 closed

[2020-11-13 19:55] parikmaan commented on #877
@arviCV My setup is like this:

* Machine 1:
** Minikube running multiple services
* Machine 2:
** Dev setup which need access to services running in Minikube
* Machine 1 and Machine 2 are connected to internet and have a local network.

With @cglacet solution, I can access my services running from Machine 1 or Machine 2 using the IP address (Local address) of Machine 1.

[2020-11-13 20:13] priyawadhwa opened #9695 "TestScheduledStop flaky on KVM"
[code]

log: https://storage.googleapis.com/minikube-builds/logs/9679/07cfe64/KVM_Linux.html#fail_TestScheduledStop

[2020-11-13 20:26] medyagh commented on #9690
sure, let me know if you have any questions, I am available on slack on minikube's channell.

[2020-11-13 21:40] medyagh opened #9696 "KVM Test Failure context deadline exceeded (172ns)"
only happens on KVM machines

https://storage.googleapis.com/minikube-builds/logs/9693/3c5996d/KVM_Linux.html#fail_TestFunctional%2fparallel%2fProfileCmd%2fprofile_list

[2020-11-13 21:51] medyagh opened #9697 "performance bot wait for binary before run"
as seen in comment, performance bot is running and erroring

https://github.com/kubernetes/minikube/pull/9693#issuecomment-726993071
[code]

need to add logic to retry the test or wait till binary is available

[2020-11-13 23:56] medyagh opened #9700 "KVM Failure: TestStartStop/group/crio/serial/VerifyKubernetesImages"
as seen here
https://storage.googleapis.com/minikube-builds/logs/9698/72ae9c2/KVM_Linux.html#fail_TestStartStop%2fgroup%2fcrio%2fserial%2fVerifyKubernetesImages

[2020-11-14 00:18] #8822 closed

[2020-11-14 00:38] tstromberg commented on #9644
Agreed - this should no longer happen in minikube v1.4.2+.

[2020-11-14 00:38] #9644 closed

[2020-11-14 09:15] #8596 closed

[2020-11-14 11:04] galishmann opened #9704 "Translation error in every minikube command since 1.15.0"
When I am trying to execute any command in minikube I have error message:
[code]

[2020-11-14 13:49] afbjorklund commented on #9704
Works here, which platform are you on ?

[2020-11-14 13:55] afbjorklund commented on #9704
Hmm, can reproduce with non-american locale:

[code]
Or for other languages:
[code]

Worked OK in v1.14.2.

[2020-11-14 13:57] afbjorklund commented on #9704
No changes to translate itself, though. So it looks like a `klog` change.

[2020-11-14 14:06] afbjorklund commented on #9700
The "pause" image got updated, and was hardcoded in minikube.

https://github.com/cri-o/cri-o/commit/95d5ab2154820cf283a810e03b895056f305474a

[2020-11-14 14:08] afbjorklund opened #9705 "Podman driver doesn't remove volume or network on delete"
This makes the _next_ create attempt fail:

[code]

[2020-11-14 14:19] afbjorklund commented on #9705
The filter option is failing, for some reason:

[code]

[2020-11-14 14:25] afbjorklund commented on #9705
It works OK in the docker driver:

[code]

So it looks like a bug in podman.

[2020-11-14 14:31] afbjorklund commented on #9705
Reported upstream as https://github.com/containers/podman/issues/8341

[2020-11-14 14:44] afbjorklund commented on #9700
i.e. the "pause" image is used by **both** Kubernetes and CRI-O.

[code]

This is why the node ends up having both of them (3.1 and 3.2)

[2020-11-14 14:46] afbjorklund commented on #9700
Probably needs a special case, for "pause" (the infra container image).

[2020-11-14 20:12] fnichol commented on #9704
I can confirm this behavior with the 1.15.0 release (running macOS 10.15.7).

Explicitly setting an `en_US` locale:

[code]

Setting a non-US locale--mine in this case:

[code]

No locale environment variable set, presumably falling back to a variant of `en_CA` in my case:

[code]

---

As always, I appreciate everyone's hard work on minikube! ❤️

[2020-11-14 21:38] #6024 closed

[2020-11-14 21:44] blueelvis commented on #9575
@medyagh - This seems to be working fine on an Azure VM I have with nested virtualization.

All I had to do was just follow [this](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/nested-virtualization) guide (& used the DHCP option) till the end, then the usual minikube installation using chocolatey.
What should be done next? Document this?
[code]

[2020-11-14 21:45] afbjorklund commented on #9704
Before, we had these two lines in the minikube log:

[code]

Now the first line is gone, the other is on the console:

* Points to 20a1274c7c0d493494a9e0c437c7958610d8f7b2
* Reverting this fixes it

[2020-11-14 21:47] afbjorklund commented on #9704
The error message is extra useless, since it doesn't actually look at that path (adding the file doesn't help)

So it only looks at the files that have been compiled into minikube the binary, and are available as an Asset

[2020-11-15 02:50] gautamrabinraj opened #9706 "issues on starting minikube"

[2020-11-15 02:51] #9706 closed

[2020-11-15 03:55] prezha opened #9707 "fix kubeadm unit tests (testdata)"
ref: #9694
ref: #9693

currently, bsutil (kubeadm) unit tests have hardcoded list of versions to test, referencing `testdata` subdirectories for relevant k8s version to test, and it has to be manually updated with each new version released, eg:

https://github.com/kubernetes/minikube/blob/9b964853a9600eb4661f73a6aef7423c8da96f85/pkg/minikube/bootstrapper/bsutil/kubeadm_test.go#L80

and

https://gi

[2020-11-15 03:55] prezha commented on #9707
/assign

[2020-11-15 09:05] armandgrillet commented on #7344
The fact that https://minikube.sigs.k8s.io/docs/handbook/accessing/#loadbalancer-access does not have a reference regarding the fact that using `--vm-driver=hyperkit` is necessary on macOS to have the setup working is unfortunate.

This is what I did on macOS:
[code]

This didn't work and this is following the documentation. Doing it again using `--vm-driver=hyperkit` (which is not referenced in t

[2020-11-15 09:07] afbjorklund commented on #9418
Added #9593

[2020-11-15 09:16] afbjorklund commented on #9205
Similar to #6280

[2020-11-15 10:00] blueelvis commented on #9362
There is an automated review process as well which can take some time - https://chocolatey.org/packages/Minikube/1.15.0
![image](https://user-images.githubusercontent.com/6985763/99181905-73995a00-2757-11eb-8ad2-405127026930.png)
![image](https://user-images.githubusercontent.com/6985763/99181914-7b58fe80-2757-11eb-8742-f2f32a18971b.png)

[2020-11-15 10:10] blueelvis opened #9709 "Failed to load translation file for en: Asset translations/en.json not found"
Just installed the latest version of minikube. On running `minikube version`, I see the following -
[code]

[2020-11-15 11:00] valaparthvi commented on #9690
Can you elaborate on this?

I raised a PR but it's still a WIP because I think I can still improve the code a little. In case you review it do let me know how it looks :)

[2020-11-15 11:06] blueelvis commented on #9311
@sandrogiacom - Are you still facing this issue? I just tried the following while minikube was running and it was working fine and istio was enabled. Could you please check with the latest version?

[code]

[2020-11-15 12:19] afbjorklund commented on #9709
Duplicate, #9704

[2020-11-15 12:26] afbjorklund commented on #9228
Looked into this a bit, and there is no syslinux support on the arm64 platform - so it is unlikely to be an [ISO-9660](https://en.wikipedia.org/wiki/ISO_9660).

~~BR2_TARGET_ROOTFS_ISO9660=y~~
~~BR2_TARGET_SYSLINUX=y~~

It would work the same way though, but more like a "minikube.img". The nearest config is `qemu_aarch64_virt_defconfig`

So far I have used Raspberry Pi, and it has a custom bootloa

[2020-11-15 14:02] afbjorklund commented on #9228
Here is how it starts QEMU by default:

## amd64
`make qemu_x86_64_defconfig world`
`qemu-system-x86_64 -M pc -kernel output/images/bzImage -drive file=output/images/rootfs.ext2,if=virtio,format=raw -append "rootwait root=/dev/vda console=tty1 console=ttyS0" -serial stdio -net nic,model=virtio -net user`

* output/images/bzImage
* output/images/rootfs.ext2

## arm64
`make qemu_aarch64_virt_defconf

[2020-11-15 14:18] afbjorklund commented on #9228
Using grub2 with efi seems to be the simplest, since it has built-in support (unlike syslinux or gummiboot).

boot/grub2/readme.txt

## amd64
board/pc
pc_x86_64_efi_defconfig

[code]

## arm64
board/aarch64-efi/
aarch64_efi_defconfig

[code]

For now we will continue without a root partition, since minikube assumes that it will be running from tmpfs.

[2020-11-15 14:36] sadlil commented on #7772
@medyagh do we want to rename all of the references of none to native? Or we can just add an alias native for none, so `minikube start --driver=native` works?

If we do want to rename none, one thing we need to handle carefully is existing clusters using none driver. Even with alias we store the cluster driver its real name, and validates that in next start. We might need to add support so that it

[2020-11-15 14:56] axel-sirota opened #9711 "Create versioned formulae in homebrew"
In homebrew there are no available formulae for past versions since the changes are made over the same formulae. This disables the possibility of going back to a previous version.

[code]

[2020-11-15 15:34] afbjorklund commented on #9711
I think you can use git for that, if you _really_ want to...

Why do you need the older minikube versions, BTW ?

[2020-11-15 16:39] axel-sirota commented on #9711
Yes, I tried using git but now in brew you cannot install from a given commit, you have to create a local formulae, which is a pain...

For example for educational videos you want the least amount of warnings possible, but 1.15.0 has this translation warning mentioned in the Issues that will make learners wonder if it's a local thing of minikube itself. I want to ensure everyone how safe is to dev