[2019-10-03 00:40] aflat commented on #5482
Upgraded to 11.5, still the same issue. This is the first time I have ever installed it, so I've never had it working.

[2019-10-03 03:23] laith-leo opened #5532 "none without Docker installed: sudo systemctl start docker: exit status 5"
Unable to start minikube in RHEL 8 based, due to  the missing container runtime as a systemd service.

**[l@minikube ~]$ sudo minikube start --vm-driver=none
😄  minikube v1.4.0 on Centos 8.0.1905
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🔄  Starting existing none VM for "minikube" ...
⌛  Waiting for the host to be provisioned ...

💣  F

[2019-10-03 04:21] 11janci commented on #3318
/remove-lifecycle rotten

[2019-10-03 05:01] mudassir814 opened #5534 "dgkantatsir"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-10-03 08:16] bygui86 commented on #2840
Thanks @woodcockjosh I will try asap and let you know!!

[2019-10-03 08:50] alexwang66 opened #5535 "/data mount is not working on minikube"
**The exact command to reproduce the issue**:
kubectl create -f jenkins.yaml

* 1. Environment: Minikube v1.2.0, on Mac with VirtualBox.
* 2. create pod, pv and pvc as in below jenkins.yaml

[code]
[code]
[code]
[code]

* 3. exec:  kubectl create -f jenkins.yaml

**The full output of the command that failed**:<details>
Here is the logs of executing minikube logs:

`Error watching for provisioning

[2019-10-03 12:07] undsoul commented on #5451
@tstromberg  my env.  ; ubuntu 18.04 run on virtualbox on macos

here you may find the logs ,
Thanx in adv

minikube start --vm-driver=none --apiserver-ips 127.0.0.1 --apiserver-name localhost --alsologtostderr -v=8 ;

I1003 14:56:02.953529    7728 notify.go:125] Checking for updates...
I1003 14:56:03.127584    7728 start.go:236] hostinfo: {"hostname":"qlikadmin-VirtualBox","uptime":4488,"bootTime

[2019-10-03 13:47] GiuseppeMP commented on #5499
[code]

[2019-10-03 13:47] sestayocaamanof opened #5538 "Minikube crashed following kubernetes beginners tutorial"
I tried to run mikube on my mac following the tutorial from kubernenetes :
[tutorial](https://kubernetes.io/docs/setup/learning-environment/minikube/#quickstart)

**The exact command to reproduce the issue**: minikube start

**The full output of the command that failed**:<details>

💣  Error starting cluster: timed out waiting to elevate kube-system RBAC privileges: Temporary Error: creating cluste

[2019-10-03 13:53] GiuseppeMP commented on #5499
Using minikube v1.3.1 doesn't  happen.

[2019-10-03 15:15] afbjorklund commented on #5532
Which runtime did you install/want, and what was the entire output of that system to start command ?

[2019-10-03 15:24] gWOLF3 commented on #1378
Yep, I just ran into this issue.

I'm not sure this issue should be closed.

[2019-10-03 15:24] afbjorklund commented on #5535
Can you try with a newer version ?

[2019-10-03 15:27] alexwang66 commented on #5535
After changing the storage class to "manual" and set the host path to "/mnt/data", the issue is gone.
The root cause is storage class didn't have permission.

`kind: PersistentVolume
apiVersion: v1
metadata:
  name: task-pv-volume
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 3Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data/jenkins-home"

[2019-10-03 15:27] #5535 closed

[2019-10-03 16:21] medyagh commented on #5499
do you mind sharing the output of this command
```ls -lah ~/.kube/config```
and aslo when you open the ~/.kube/config file does look readable?

[2019-10-03 17:05] medyagh commented on #5534
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-10-03 17:11] medyagh commented on #5531
Thank you for creating this issue, I am curious of two things:

- has it ever worked and it stopped working ? if so do you mind trying delete and start
- if it has never worked before (for none driver) could you try start with this additional flag
`minikube start --vm-driver=none --alsologtostderr -v=8`

and I am also curious, does your machine have any special networking like vpn or firewalls or

[2019-10-03 17:19] medyagh commented on #5538
do you mind trying this :

- `minikube delete`
- and share output of `minikube start --alsologtostderr -v=8`

I am curious if the same error happens if you use hyperkit driver, https://minikube.sigs.k8s.io/docs/start/macos/

[2019-10-03 17:32] afbjorklund commented on #5532
It seems to install OK, as long as docker has been started and selinux has been disabled.

[code]

There doesn't seem to be any Docker version for CentOS 8 yet, so it installs an older version:

* docker-ce-18.06.3.ce-3.el7.x86_64

[code]

The console looks rather poor, though:
![minikube-centos8](https://user-images.githubusercontent.com/10364051/66149648-d1cab280-e613-11e9-8bbb-ff0775bdf0c9.png)

[2019-10-03 17:35] laith-leo commented on #5532
You are correct, *but* I don't want to use Docker, I'm using RHEL8 and want to use Podman for containers management .

[2019-10-03 17:36] afbjorklund commented on #5532
It seems that the messages above ("exit code 5") are a symptom of the software not being installed:

[code]

[2019-10-03 17:38] afbjorklund commented on #5532
It seems that there is no crio package for CentOS 8 yet, and for RHEL you are supposed to use OpenShift (rather than Kubernetes)... Podman can run containers, but for this you will need CRI-O.

[2019-10-03 17:46] afbjorklund commented on #5532
Regular `podman run` is having some out-of-the-box issues as well:
`error configuring network namespace for container 8cf402b2d46c31e7fc80fa3a215342b510e18ebc3510e8baf92df941cad4bbd0: Missing CNI default network`

Possibly it could be the old version used (1.0.2). But /etc/cni/net.d is empty ?
Could try the "container-tools" module, but I think this will do (`podman load`)

[2019-10-03 17:53] laith-leo commented on #5532
@afbjorklund RHEL8 uses[1] runc as a Container runtime instead of Docker, and this is the argument I wanted to pass in the --container-runtime but it didn't work, minikube needs the container-runtime as a daemon while it is not a daemon in RHEL8 anymore.

[1] 1.3 in [https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html-single/building_running_and_managing_containers/index]

[2019-10-03 18:01] laith-leo commented on #5532
@afbjorklund
The CNI default is there, here is the contents of /etc/cni/net.d/87-podman-bridge.conflist:

root@centos8 net.d]# cat 87-podman-bridge.conflist
[code]

[2019-10-03 18:14] afbjorklund commented on #5532
Docker also uses runc, so those are _different_ types of runtimes...

[2019-10-03 18:18] afbjorklund commented on #5532
We should give a better error message, when trying to use the `none` driver without having the runtime installed (and running). Currently the output is cryptic, and surely doesn't offer any help remedying:

It should say something happy like "you need to install a container runtime" (docker/containerd/cri-o)

[2019-10-03 18:43] laith-leo commented on #5532
@afbjorklund
Well the problem is that there is a container runtime already installed in the RHEL8/CentOS8, but the problem is that minikube can't see it, because minikube sees the container runtime only if it is a service/daemon, while it is in the RHEL8/CentOS8 is an embedded with systemd (serverless style).

[2019-10-03 18:54] jingweno commented on #5463
@tstromberg It doesn't fix the issue with disabling and enabling it again.

/reopen

[2019-10-03 19:17] TristansCloud commented on #5513
Sure no problem

[2019-10-03 19:46] afbjorklund commented on #5532
@laith-leo : maybe this helps to explain: https://www.ianlewis.org/en/tag/container-runtime-series

[2019-10-03 20:30] afbjorklund commented on #5532
Yes, it _was_ included with the podman package. No idea why the file when missing, first time.

[2019-10-03 20:56] afbjorklund commented on #5532
I was able to get CRI-O 1.15.2 running, but it took a _lot_ of hand-holding to get it to actually start...

There are no packages yet, so I used the static builds (some of them, like conmon, even missing!)

You need:
* crio-v1.15.2.tar.gz (binary)
* cri-o-1.15.2.tar.gz (source)
* conmon-2.0.1.tar.gz (source) <-- build this
* `/usr/bin/runc` (yum install runc)
* crictl-v1.15.0-linux-amd64.tar.gz (b

[2019-10-03 21:12] afbjorklund commented on #5532
And for the _important_ stuff, in order to get the emojis working in gnome-terminal you need:

`sudo yum install google-noto-emoji-color-fonts`

Then it looks better:

![minikube-emojis](https://user-images.githubusercontent.com/10364051/66164551-377a6700-e633-11e9-9508-106c6abd27a4.png)

[2019-10-03 22:44] medyagh commented on #5236
do you mind trying in a different browser ? I had this issue that I couldn't access it in chrome but in firefox or safari and I realized browsers have different settings for proxy.

and do you mind sharing the output of this in a terminal ?

[code]
replace 192.168.99.108:30178 with whatever the serivce_url minikube gives you. (mind that it might change each time you start-stop minikube)

[2019-10-03 23:28] medyagh commented on #5528
Sounds reasonable. Only thing we need to make sure, if minikube ip changes, it updates the hosts file too.

[2019-10-04 01:43] skonto commented on #5499
I see this error consistently on ubuntu 18.04 with minikube 1.4.0

[2019-10-04 01:57] BobOntario commented on #5531
@medyagh it has never been worked.  My server is normal cloud server, no vpn and firewall

I use "minikube delete", then

minikube start --vm-driver=none --alsologtostderr -v=8

The results as below:

root@ecs-de1e-0004:~# minikube start --vm-driver=none   --alsologtostderr -v=8
I1004 09:51:24.565004   27804 notify.go:125] Checking for updates...
I1004 09:51:24.884253   27804 start.go:236] hostinf

[2019-10-04 06:44] Atvo opened #5539 "Storage-provisioner not found when using image-repository"
**Overview of the issue**:
In the company I work for we use a firewall to block connections to public repositories. Instead, we use proxied repositories to connect to any 3rd party libraries. In the case of minikube this simply means that I pass the image-repository argument when starting a cluster. However, this doesn't work perfectly, because it can't find the storage-provisioner image, which is

[2019-10-04 08:11] jeetwide commented on #2904
Hi. Can you please help me how do I downgrade it,.

I have done following things

choco install minikube --version 0.27.0 --allow-downgrade

Any help will be highly appreciated.

[2019-10-04 09:43] anthonma opened #5540 "none: start timeout k8s-app=kube-dns"
I'm trying to run a Kubernetes cluster with minikube, but minikube seems to start not properly.

When I execute the comand minikube start --memory=4096 --kubernetes-version=v1.15.4 --vm-driver=none I get an error saying: Error: [DNS_TIMEOUT] witing for k8s-app=kube-dns: timed out waiting for condition.
The cluster starts but when I look at the pods with kubectl get pods --all-namespaces there are

[2019-10-04 11:15] fiskhest commented on #4868
Thanks @afbjorklund. I was able to achieve exactly what I wanted based on your notes, moving the buildstep inside minikube instead of relying on my co-developers local docker environments being correctly set up.

[2019-10-04 13:03] AlfredUlvmose opened #5541 "minikube start fails with a YAML-parsing error"
**The exact command to reproduce the issue**:

`minikube start`

**The full output of the command that failed**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>

[code]

</details>

**The operating system version**:
Arch Linux

[2019-10-04 15:13] afbjorklund commented on #5540
Did you disable SELinux, `setenforce 0` ?

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

[2019-10-04 15:23] kemarsh commented on #5524
`Get-VMSwitch` output: <details>
[code]

</details>

Running: `minikube start --vm-driver hyperv -p kevcluster1 -v=8 --alsologtostderr`<details>
[code]
</details>

[2019-10-04 15:34] govargo commented on #5503
I send PR for this!
#5543

Thank you for advices of implement!

[2019-10-04 16:24] laith-leo commented on #5532
I knew it that the only to get the things worked is by building and compling the things from source code which is not ideal! I would like to use a regular rpm package from a stable system repository.
From our conversation, I understand that **minikube doesn't work in RHEL8/CentOS8**. with standard packages and installations.

[2019-10-04 16:43] afbjorklund commented on #5532
It does work OK, but you are right in that the repositories are not ready yet. The recommendation is to stay with CentOS 7 until they are... (later this year)

You can always use the regular minikube iso, rather than running directly on your host. I haven’t tried, but both VirtualBox and libvirt (KVM) should work.

[2019-10-05 07:13] afbjorklund commented on #5532
And I found out why my podman installation had been broken, it was after the `minikube delete`:

https://github.com/cri-o/cri-o/blob/master/tutorials/kubeadm.md

So that means uninstalling kubernetes breaks all CNI. Not cool.

[2019-10-05 11:57] diegolsr commented on #4587
This worked for me.
Thanks!

[2019-10-05 17:02] abshaheen commented on #3963
I found this link useful to explain the workaround

[https://medium.com/@JockDaRock/disabling-ipv6-on-network-adapter-windows-10-5fad010bca75](url)

[2019-10-05 21:36] duohedron commented on #5461
I created a pull request for this issue. (#5544) I still needs to pass the cla/linuxfoundation check, but you can already review it.

[2019-10-05 22:10] Jukie commented on #5461
@RickyRajinder are you still working on this? If not I'll pick this up.

[2019-10-06 03:01] medyagh commented on #5531
@BobOntario Thank you for updating the issue with more relevant information,

it seems like your vm does NOT have accerss to gcr (for example can not pull k8s.gcr.io/kube-apiserver:v1.16.0) ! we have had cases in corp networks or china they have to provide image-mirror options.

do your company/network has a docker registry mirror ?

can you try inside your VM to see if you can do this manually:

[2019-10-06 03:08] medyagh commented on #5541
I wonder if you have a corrupted kubeconfig file ?
do you mind checking the content of ~/.kube/config
you could try to make a backup of it, and then do
minikube delete and minikube start (to start with a fresh kubeconfig)

[2019-10-06 06:26] aflatto opened #5546 "unable to fetch CoreDNS current installed version and ConfigMap: multiple DNS addon deployments found"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
😄  minikube v1.4.0 on Ubuntu 18.04
👍  Upgrading from Kubernetes 1.15.2 to 1.16.0
💿  Downloading VM boot image ...

💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🏃  Using the running virtualbox "minikube" VM ...
⌛  Waiting

[2019-10-06 07:54] blueelvis commented on #5029
@avinashmeda @Valgard - Did you get a chance to try the above instructions?

[2019-10-06 08:16] afbjorklund opened #5547 "sudo crictl: not found if installed to a directory outside of sudoers secure_path"
We have some things breaking on CentOS, which does **not** have `/usr/local/bin` in the PATH.
That is: users do have it in _their_ PATH, but root does not. And `sudo` runs with the root PATH.

So if you are trying to run something that is not from a package, you will get a "command not found"
This goes both for "crio version" (when run as root) and for "sudo crictl", only work with `/usr/bin`.

On

[2019-10-06 14:38] nanikjava commented on #5461
@duohedron I've also written the porting of the boilerplate Python tool in Go https://github.com/nanikjava/boilerplate

Tested your implementation but it's not giving any output. The Python tool output

/minikube/cmd/minikube/main.go
/minikube/pkg/minikube/assets/assets.go
/minikube/pkg/minikube/translate/translations.go

and also getting the same output with my

[2019-10-06 15:52] afbjorklund commented on #5547
Actually the same thing happens with minikube itself:

[code]

[code]

That is, anything installed in `/usr/local` is **not** found.

[2019-10-06 16:10] afbjorklund opened #5549 "Starting minikube without docker requires... docker"
There is something wrong in the runtime detection of the precreate:

[code]

For some reason it is calling the wrong `Available` function ?

[code]

[code]
And the docker runtime seems to be checking _locally_ ?
(I guess us using docker machine makes it always there)

It also forgot to look for `crictl`, but that is another story.

[2019-10-06 16:29] afbjorklund commented on #5549
Interestingly, we are calling NewDriver **twice**. Once with correct values, once with empty ones:

[code]

This is how we end up with `Docker` for the runtime, even though it was supposed to be `CRIO`.

[code]

[2019-10-06 16:54] afbjorklund commented on #5549
Unfortunately this suggests that something is fundamentally wrong in the Driver "registry" ?

First the config is happily created by "createNoneHost", only to get clobbered by "init"'s empty

[2019-10-06 18:58] afbjorklund commented on #5547
Here is how things work in CentOS:

[code]

i.e. when using sudo, `/usr/local/bin` is **missing** from the PATH.

(Normally "sudo" itself wasn't installed either, but seems to be now...)

Tested with:
* CentOS Linux release 7.6.1810 (Core)
* CentOS Linux release 8.0.1905 (Core)

Bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1166185
Fixed in: `sudo-1.8.22-0.1.b1.fc28` and up (but not in "c8

[2019-10-06 19:42] afbjorklund commented on #5532
Added #5547 (about  "/usr/local/bin") and #5549 (about "docker") for the bugs found when testing this.

[2019-10-06 20:35] BobOntario commented on #5531
@medyagh thanks for your kind help. Yes, you are  right.  It's images access problem.  I added what you recommended and images can be accessed.  But  seems kube-apiserver not running as below logs:

ube@ecs-de1e-0004:~$ sudo minikube start --vm-driver=none  --alsologtostderr -v=8
I1007 04:34:08.529981   24613 notify.go:125] Checking for updates...
I1007 04:34:09.128323   24613 start.go:236] hostin

[2019-10-06 21:26] duohedron commented on #5461
@nanikjava I think the issue was with the default path where the boilerplate files were looked for. I fixed it and tested on my machine and also on the tracis-ci pipeline. If it still not giving you the proper input please let me know some more details and I will fix it.

[2019-10-06 21:29] vivekwpatil commented on #5529
when I try `minikube delete` it also tries to locate same config file and fails.

[2019-10-06 21:33] bennythejudge opened #5551 "After upgrading to v1.4.0, minikube fails to start with error"
**The exact command to reproduce the issue**:
`minikube start`
Please note that the previous version was working fine

**The full output of the command that failed**:<details>
minikube start
😄  minikube v1.4.0 on Darwin 10.14.6
👍  Upgrading from Kubernetes 1.15.0 to 1.16.0
💿  Downloading VM boot image ...

^R

💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to

[2019-10-06 21:47] bennythejudge commented on #5551
I did:

[code]

Now all Pods are happily running.

[2019-10-06 21:47] #5551 closed

[2019-10-06 21:47] mittman opened #5552 "minikube stop: Error decoding config from data: ELF"
Possibly a dupe of #5499

**The exact command to reproduce the issue**:
$ minikube start --vm-driver=kvm2
...
$ kubectl delete deployment hello-node
$ minikube stop

**The full output of the command that failed**:<details>
* Stopping "minikube" in kvm2 ...
* "minikube" stopped.
*
X update config
* Error: [SYSTEMCTL_EXIT_1] Error getting kubeconfig status: could not read config: Error decoding conf

[2019-10-06 22:24] medyagh commented on #5529
@vivekwpatil I am wondering are you running the minikube command while you are in C:\ drive ?

[2019-10-07 02:50] putdns commented on #4303
https://e.xieyonghui.com/k8s-minikube-retriable-failure-create_119.html

[2019-10-07 09:44] abhinavo1 commented on #4542
update the environement variable to which path can you please share

[2019-10-07 12:51] Kriss007 opened #5553 "vbox win8: Error restarting cluster: waiting for apiserver: timed out waiting for the condition"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
C:\Users\kr>minikube start
* minikube v1.4.0 on Microsoft Windows 8 Pro 6.2.9200 Build 9200
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube dele
te' to delete this one.
* Using the running virtualbox "minikube" VM ...
* Waiting for the host to be provis

[2019-10-07 16:03] dblees commented on #4976
**minikube version**
- minikube version: v1.4.0
- commit: 7969c25a98a018b94ea87d949350f3271e9d64b6

**minikube start**
- X Unable to start VM: create: creating: Unable to start the VM: /usr/bin/VBoxManage startvm minikube --type headless failed:
- VBoxManage: error: The virtual machine 'minikube' has terminated unexpectedly during startup with exit code 1 (0x1)
- VBoxManage: error: Details: code N

[2019-10-07 19:41] nanikjava commented on #5461
@medyagh so not to waste what I've written and tested thought I will submit PR for this fix https://github.com/kubernetes/minikube/pull/5557

[2019-10-07 20:38] medyagh opened #5558 "virtualbox integration tests clean up not working"
while debugging integration failures in I noticed the clean up is not doing this job and many left over vms are listed. it appears to be side effect of side effect of this PR: https://github.com/kubernetes/minikube/pull/5378

[code]

[2019-10-07 20:52] medyagh commented on #5558
[code]

[2019-10-07 20:54] medyagh opened #5560 "integration test: No URLs matched: gs://minikube-builds/5559/testdata/*"
[code]

[2019-10-07 20:58] medyagh opened #5561 "integration test clean up error"
14:23:38 >> Cleaning up after previous test runs ...
14:23:38 * Cleaning stale test root: /home/minikubeci/minikube-integration/*
14:23:38 find: ‘/home/minikubeci/minikube-integration/*’: No such file or directory
14:23:38 find: ‘/home/minikubeci/minikube-integration/*’: No such file or directory
14:23:38 find: ‘/home/minikubeci/minikube-integration/*’: No such file or directory
14:23:38 rmdir: fa

[2019-10-07 21:54] BenedictAdamson commented on #4113
And I guess even doing `minikube addons enable ingress` does not spin up that service, either (?)

[2019-10-07 22:17] nanikjava commented on #5271
I've created PR to fix this issue https://github.com/kubernetes/minikube/pull/5563

[2019-10-07 22:38] #5560 closed

[2019-10-07 22:45] sharifelgamal opened #5564 "Failing test: HyperV: TestFunctional/parallel/DashboardCmd"
example: https://storage.googleapis.com/minikube-builds/logs/5487/Hyper-V_Windows.txt

[2019-10-08 01:33] nanikjava commented on #4963
@tstromberg @bhanu011 is this ticket being worked on ? happy to take and run with this. Thanks

[2019-10-08 01:52] medyagh commented on #4963
@nanikjava it is yours ! please let me know if you need any help

[2019-10-08 02:36] nanikjava commented on #4963
Thanks @medyagh

[2019-10-08 02:49] chrisfowles commented on #5392
following these instructions:
https://github.com/microsoft/WSL/issues/994#issuecomment-502055417
i was able to get minikube _running_ on wsl2 with vmdriver=none

having some networking difficulties with that though so YMMV

[2019-10-08 05:33] #5558 closed

[2019-10-08 05:33] #5561 closed

[2019-10-08 07:06] LouisStAmour commented on #5392
@chrisfowles It looks like there's a collision in the use of port 53 between WSL and Docker for WSL (or another user program on Windows listening on port 53) that causes this error... https://github.com/microsoft/WSL/issues/4364#issuecomment-533711601

Personally, I'm still running Windows preview builds, but I've temporarily stopped experimenting with Docker/K8S inside WSL. I'll wait until I eith

[2019-10-08 08:41] nanikjava commented on #4963
Check on /var/tmp/minikube/kubeadm.yaml inside minikube using ssh for testing the the --dns-domain flag

without using the flag
**********************

apiVersion: kubeadm.k8s.io/v1beta1
kind: InitConfiguration
localAPIEndpoint:
......
......
---
apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
.....
.....
kubernetesVersion: v1.16.0
networking:
  dnsDomain: cluster.local
  podSubnet:

[2019-10-08 08:44] nanikjava commented on #4963
Pull request submitted https://github.com/kubernetes/minikube/pull/5566

[2019-10-08 08:52] nanikjava commented on #5078
Interested to take over this if the original assignee is not working on this ?

[2019-10-08 11:15] adamh128 commented on #4132
I'm seeing the same issue with 1.4.0 on Oracle Linux 7.6 (CentOS 7 base).
Also the work-around of using delete before start doesn't work for me :(

[2019-10-08 13:54] melvin-copioso opened #5567 "Minikube"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-10-08 15:54] franxois opened #5568 "minikube stop working after upgrade to macOs Catalina"
**The exact command to reproduce the issue**:

minikube version

**The full output of the command that failed**:<details>

Original message in french
[code]

That says Unable to open minikube because macOS can't verify this app

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

This appends just after upgrade to macOS Catalina  10.1

[2019-10-08 16:28] afbjorklund commented on #5568
Taking “closed” to a whole new level...

Guess minikube has to get a Developer ID for the App Store ?

[2019-10-08 16:31] pop commented on #5078
@nanikjava sure! I pretty easily got the screenshot aspect ratio fixed, but the minikube logo had a bad aspect ratio that I was not able to fix, so unfortunately I only have a partial fix for this problem.

@medyagh feel free to assign this to @nanikjava. I don't think I have time to troubleshoot the logo aspect ratio any time soon.

[2019-10-08 16:32] afbjorklund commented on #5568
The “open anyway” button has now been removed:
https://support.apple.com/en-us/HT202491

[2019-10-08 16:37] tstromberg commented on #5558
Please add a link to the failed run if you don't mind. I'd like the additional context to understand what went wrong.

[2019-10-08 16:56] tstromberg commented on #5453
any luck?

[2019-10-08 17:41] sharifelgamal commented on #5453
not really, it's definitely in libmachine, but that really hasn't changed so maybe it's how we call it?

[2019-10-08 18:17] israily opened #5569 "kubectl: Error from server (NotFound): the server could not find the requested resource"
[jmeter_master_deploy.yaml.txt](https://github.com/kubernetes/minikube/files/3703977/jmeter_master_deploy.yaml.txt)

**The exact command to reproduce the issue**:
kubectl create -f jmeter_master_deploy.yaml -v=8

**The full output of the command that failed**:<details>
I1008 10:46:16.754622   16488 loader.go:357] Config loaded from file /Users/{user}/.kube/config
I1008 10:46:16.764550   16488 roun

[2019-10-08 18:28] medyagh commented on #5531
@BobOntario glad that helped,

I suggested in minikube we do a better job, detecting the user access to the image repositories before we spin up ! and we let people know much earlier and much nicer that their connectivity to the image repository is restricted. and they need to pass options .

I would be happy to review any PR that does this

secondly, @BobOntario would minikube delete and start he

[2019-10-08 18:30] medyagh opened #5570 "detect connectivity problem to image repository before start"
rather than spinning up minikube and wait and retry and then crashing it would be nicer,
if minikube tries to ping or check the network connectivity to gcr (or whatever image repository specified) and if it there is no network connection minikube should nicely not continue and recommend the user to start with correct image-repos options

related:

https://github.com/kubernetes/minikube/issues/5531

[2019-10-08 18:32] medyagh commented on #5482
hm... sorry to hear that, while I dont know the answer how to help, I am curious is there any reason not to use other drivers? such as hyperkit ?

[2019-10-08 18:33] medyagh commented on #5567
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-10-08 18:35] medyagh commented on #5569
do you mind sharing your minikube start args ?

[2019-10-08 19:12] israily commented on #5569
@medyagh

no minikube start args

minikube status
host: Running
kubelet: Running
apiserver: Running
kubectl: Correctly Configured: pointing to minikube-vm at 192.168.99.100

[2019-10-08 19:26] vorpleblade opened #5571 "hyperkit: new host: dial-http tcp 127.0.0.1:x: unexpected EOF"
**The exact command to reproduce the issue**:
minikube start --vm-driver=hyperkit

**The full output of the command that failed**:<details>

minikube start --vm-driver=hyperkit
😄  minikube v1.4.0 on Darwin 10.14.6
🔥  Creating hyperkit VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🔄  Retriable failure: new host: dial-http tcp 127.0.0.1:51698: unexpected EOF
🔥  Creating hyperkit VM (CPUs=2, Memory=20

[2019-10-08 22:44] LordNoteworthy opened #5573 "Seccomp profile does not work in minikube"
Using last version of minikube v1.4.0.

**The exact command to reproduce the issue**:
kubectl apply -f my-pod.yaml

[code]

**The full output of the command that failed**:

This manifest installs the seccomp profile. It’s going to copy the policy from the configmap in /var/lib/kubelet/seccomp/my-profile.json.

[code]

The config map contains the json of the seccomp profile:

[code]

**The operatin

[2019-10-09 00:16] medyagh commented on #5573
thank you for taking the time to create this issue,
could you share what you expect to see for example that you can not see.

and do you see any relevant errors either in the outputs or `minikbube logs` ?

[2019-10-09 03:28] jpninanjohn commented on #3649
I also faced this issue after I installed istio. I had to delete my minikube and create it again. Fingers crossed it wont happen again.

[2019-10-09 08:47] nanikjava commented on #5078
Following are the screenshots applying the fix

_**Mobile (Android)**_

![device-2019-10-09-194501](https://user-images.githubusercontent.com/883406/66465897-742fdd80-eacd-11e9-9136-38608d38df95.png)

_**Web Firefox**_
![Screenshot from 2019-10-09 19-44-34](https://user-images.githubusercontent.com/883406/66465898-742fdd80-eacd-11e9-83c7-f1098ca32224.png)

[2019-10-09 08:50] nanikjava commented on #5078
@medyagh @tstromberg  PR created https://github.com/kubernetes/minikube/pull/5575

[2019-10-09 08:55] nanikjava commented on #5078
To test and run locally use the following command from minikube root directory

 cd site && ../out/hugo/hugo serve --bind=<your_computer_ip> --baseURL=http://<your_computer_ip>  -p 8080   --disableFastRender   --navigateToChanged   --ignoreCache   --buildFuture

Using the above command will allow your phone (assuming it's connecting to the same network as your computer) to access the minikube webs

[2019-10-09 09:10] 18609170116 commented on #5500
today,i change the shell from "Cmder(as Admin)" to "Windows PowerShell(as Admin)",and  use "minikube.exe start --vm-driver hyperv --hyperv-virtual-switch=SW4Minikube --v=7 --alsologtostderr" to run,it successed,then the make wrong reason is "Cmder".
thanks all,maybe my mistake can help someone!

[2019-10-09 09:10] #5500 closed

[2019-10-09 09:10] franxois commented on #5568
I don't have the open anyway button in settings but it look like I added an exception by using a first time "open with" Terminal.app on the binary in finder.
Now I can run minikube

[2019-10-09 09:42] aditya-bhuyan commented on #5154
/reopen

Find this issue in latest version of minikube 1.4.0

[2019-10-09 10:57] danztensai commented on #5437
happen to me too,
`minikube delete `

then
`
minikube start --vm-driver=hyperv --kubernetes-version v1.15.4
`

i've delete .minikube folder on users windows and try to minikube start again even wihout --kuberntes-version

[2019-10-09 11:06] nanikjava commented on #5271
/assign

[2019-10-09 11:08] nanikjava commented on #5078
/assign

[2019-10-09 11:18] nanikjava commented on #5189
@tstromberg Does populating the page with content from my website https://kubernetes.onrender.com/post/howminikubeworks/ be suitable ? if it is than happy to copy over my for the concepts page, or perhaps renamed it something else rather than concept to accomodate ?

Let me know.

[2019-10-09 11:23] nanikjava commented on #4829
@afbjorklund Happy to help out in writing documentation for this. Do you have any idea what specifically will be needed ? as there are few URL that was discussed here so bit lost and will need bit of direction on this.

[2019-10-09 13:24] tdensmore commented on #5568
Also using `sudo spctl --master-disable` should allow most command line binaries to work

![image](https://user-images.githubusercontent.com/469399/66485286-934f5080-ea76-11e9-9ad3-97be079d59ce.png)

http://osxdaily.com/2016/09/27/allow-apps-from-anywhere-macos-gatekeeper/

[2019-10-09 16:35] #5078 closed

[2019-10-09 17:08] tstromberg commented on #5571
Sorry to hear that this isn't working - I've not seen this message before. Do you mind sharing the output of:

`minikube start --alsologtostderr -v=8`

Is it possible there is a firewall that may be blocking the connection?

[2019-10-09 17:09] cutanzi1997 opened #5576 "libmachine: Unable to restart crio service. Error: %v ssh command error:"
**重现问题所需的命令**：
minikube start

**失败的命令的完整输出**：<details>
E1010 01:07:26.942023   12145 main.go:100] libmachine: Unable to restart crio service. Error: %v ssh command error:
command : sudo systemctl -f restart crio
err     : Process exited with status 1
output  : Job for crio.service failed because the control process exited with error code.
See "systemctl status crio.service" and "journalctl -xe" f

[2019-10-09 17:12] blueelvis opened #5577 "Can we get Sonarcloud setup for our main repository?"
Can we get Sonarcloud setup for our main repository? This is free for open source projects and provides valuable metrics like code quality issues and what not. It also supports Pull Request validations.

I have set it up on my fork and you can see the results over here - https://sonarcloud.io/dashboard?id=blueelvis_minikube

-Pranav

[2019-10-09 17:18] MKruger777 opened #5578 "minikube - error: You must be logged in to the server (Unauthorized)"
As per thread: https://github.com/kubernetes/minikube/issues/4353#issuecomment-512101209

I am bumping into this issue again.
`minikube version: v1.1.0`

Ubuntu version:
[code]
Requested debug dump:
[code]
From the output, I can see that there is a definite "smoking gun" pointing to the certs, but why this happened all of a sudden just baffles me.

Most probably totally unrelated, but the last pre

[2019-10-09 17:50] brennerm commented on #5570
Not sure if that check is properly executable. Think about a case where the machine that runs minikube is not able to reach the registry but by using e.g. the --kvm-qemu-uri or --kvm-network flag the VM would eventually be able to.

In this case you would still need to start the VM and execute the check afterwards. Alternatively you could execute the check locally and make it skippable with a flag

[2019-10-09 17:52] medyagh commented on #5577
I don't see why not ! it is a good idea !

[2019-10-09 17:54] blueelvis opened #5579 "Minikube Profile Creation gives the wrong message (Or doesn't work) and listing doesn't work"
On a machine which doesn't have any minikube related configuration or data, ran the profile command.
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>
[code]

</details>

**The operating system version**: Windows 10 Pro

Do note that after I used `minikube start`, it did display that it was on the `abc` profile and the cluster started su

[2019-10-09 17:56] gWOLF3 commented on #5231
@tstromberg

it's a bit confusing, as of right now - the home brew formulae for installing this driver actually does not point to minikube: https://formulae.brew.sh/formula/docker-machine-driver-hyperkit.

Instead, it redirects to `https://github.com/machine-drivers/docker-machine-driver-hyperkit` , which is not an official repo, and it not even very actively maintained, still on version `1.0`. Th

[2019-10-09 18:00] tstromberg commented on #5578
Can you try with minikube v1.4.0?

The error you are seeing in the kubectl is actually because the command I mentioned is incorrect, it should be:

`kubectl config view --minify | grep /.minikube | awk '{ print $2 }' | xargs stat`

[2019-10-09 18:02] gWOLF3 commented on #5231
Btw- these docs you referenced, where do they recommend installing the docker-machine-driver binary directly? https://minikube.sigs.k8s.io/docs/reference/drivers/hyperkit/#driver-installation

All i see is homebrew install instructions for hyperkit, and nothing about the additional machine driver package.

[2019-10-09 18:12] gWOLF3 commented on #5231
Another thing to note:

when creating hyperkit vm with docker-machine from latest `docker-machine-driver-hyperkit` from minikube (installed with curl command v1.4) : I get the below error:

`Error creating machine: Error in driver during machine creation: extracting kernel: unable to find file /boot/bzimage`

HOWEVER, when using brew install, which points to bit "outdated binary" as referenced bef

[2019-10-09 18:13] jeff2u opened #5580 "hyperv: Retriable failure: create: creating: exit status 1 / retry fails to delete"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

C:\Users\jlim>minikube start --vm-driver hyperv --hyperv-virtual-switch "minikube v switch"
* minikube v1.4.0 on Microsoft Windows 10 Enterprise 10.0.17134 Build 17134
* Downloading VM boot image ...

* Creating hyperv VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
* Retriable failure: create: cr

[2019-10-09 18:17] medyagh commented on #4938
I am open to any tool !

[2019-10-09 18:22] medyagh commented on #4978
@sharifelgamal @blueelvis is there any update on this issue,
did we figure out what is our recommended way for building on windows ? so we could update the docs?

[2019-10-09 18:25] medyagh commented on #5126
we could have a new page under tutorials called
`External Tutorials`

[2019-10-09 18:26] sharifelgamal commented on #4978
Yeah this is documented as needed a bash shell, we can close this.

[2019-10-09 18:26] #4978 closed

[2019-10-09 18:28] medyagh commented on #5494
This would be great topic for an office hour discussion ! lets discuss it in the office hours.

[2019-10-09 18:30] #5506 closed

[2019-10-09 18:34] MKruger777 commented on #5578
Hey Thomas, I just removed v1.1.0 and installed v1.4.0 and the now all works like clockwork - Thanks!
Holding thumbs that the dreaded "You must be logged in to the server (Unauthorized)" will let me be :-)

[2019-10-09 18:43] medyagh commented on #5578
@MKruger777 great to hear ! I am closing this issue, please feel free to re-open if you have the issue.

[2019-10-09 18:43] #5578 closed

[2019-10-09 18:50] #4963 closed

[2019-10-09 18:59] Eelis commented on #4963
Awesome, thanks @nanikjava! This fix makes my life a lot easier. :)

[2019-10-09 20:01] sensesnet commented on #4587
Thank you so much!!!!

[2019-10-09 20:02] tstromberg opened #5581 "Save info logs to ~/.minikube/logs by default"
`~/.minikube/logs` is created, but never used, which is a shame.

It would be nice if switching to klog (#5318) or some other PR address this so that we can always tell users to send us logs from their most recent run.

[2019-10-09 20:04] #5453 closed

[2019-10-09 20:14] tstromberg commented on #5532
I swear that https://minikube.sigs.k8s.io/docs/reference/drivers/none/ used to say that Docker was the only supported container runtime for none, but it must have disappeared in a refactor.

I would like to see #5549 get fixed though.

[2019-10-09 20:15] tstromberg commented on #5547
I wouldn't want to make it the default everywhere, but alternatively, we could use `sudo -E` for calls to `crictl` and other necessary places?

[2019-10-09 20:19] #5534 closed

[2019-10-09 20:20] tstromberg commented on #5539
Have you tried adding the storage provisioner to this registry?

[2019-10-09 20:26] tstromberg commented on #5546
This is definitely a bug on our part: I suspect we are failing to detect that there is a `kubedns` pod running from an ancient version of Kubernetes in your cluster, that causes conflict with modern releases of `kubeadm`.

Do you mind sharing what flags you passed to `minikube start`?

Also, can you confirm if `minikube delete` fixes the issue?

[2019-10-09 20:27] tstromberg commented on #5552
This issue appears to be a duplicate of #5499, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-10-09 20:27] #5552 closed

[2019-10-09 20:28] tstromberg commented on #5499
We're going to have a v1.4.1 release in the next day, I'll be curious to know if it fixes the issue for folks due to #5439

[2019-10-09 20:29] nanikjava commented on #4883
@josedonizetti @medyagh If the original assignee is not working on this I'm happy to take over this issue ?. Let me know. Thanks

[2019-10-09 20:30] tstromberg commented on #5553
The output of `minikube logs` seems to be incomplete. Do you mind checking if `minikube delete` fixes the issue for you?

If not, please share the complete output of:

`minikube start --alsologtostderr -v=1`
`minikube logs`

Thank you!

[2019-10-09 20:31] #5567 closed

[2019-10-09 20:33] tstromberg commented on #5569
@israily - I believe your version of kubectl is very much out of date (v1.9.2), which can't speak to newer Kubernetes clusters (v1.16.0 in your case). Please try upgrading `kubectl` and reporting back if `kubectl apply` works properly.

[2019-10-09 20:33] tstromberg commented on #5569
Related: #3329

[2019-10-09 20:59] eyjohn commented on #4899
I'm experiencing the same issue on Windows 10, minikube 1.4.0

[code]

## Windows Host
_(executed from WSL, but that shouldn't matter as it still hits the .exe)_
[code]

## Minikube
[code]

Neither folders are not files are honouring 755, folders seem to be 777 and files 666.

[2019-10-09 21:31] nanikjava commented on #5509
Stepping through the code when doing this noticed that the  executed command

returned with the following error

and it is returned as part of the err object however the DeleteHost(..) is printing out as a generic error as 'Unable to get the status of the cluster.'

Is the requirement to report the error as what is returned to DeleteHost(..) or thinking of something else.

Happy to take this on if

[2019-10-09 21:59] arashout commented on #3844
bash: setopt: command not found

When I try to run it

[2019-10-09 22:11] YahiaR opened #5585 "VirtualBox doesn't start (VERR_NEM_MISSING_KERNEL_API)"
I am trying to initialize different image in my virtualBox (6.0.12) on my host computer (windows 10 Pro 1903) and always fail for the same reason.

This begin happening this morning but i got used to use VirtualBox so it's weird. I am sure i disabled HyperV and sandbox. Also i tried with BCDEdit /set hypervisorlaunchtype off but still not working.
<img width="239" alt="error" src="https://user-ima

[2019-10-09 22:44] vorpleblade commented on #5571
Output of `minikube start --alsologtostderr -v=8 >> output.log 2>&1` attached
[output.log](https://github.com/kubernetes/minikube/files/3709679/output.log)

[2019-10-10 01:05] #5585 closed

[2019-10-10 03:05] #5503 closed

[2019-10-10 03:18] gkbijarniya commented on #3844
Is it on Mac OSX?
It should work on Mac OSX with Bash & Zsh shells.

[2019-10-10 04:54] tstromberg commented on #4206
Now that we have great output for our test failures, I have a theory: with a modern hyperkit driver: once you've setup 253 VM's, you will hit this failure condition. Basically:

- The DHCP server (bootpd) is allocated to only provide 253 IP's
- The hyperkit driver generates a unique MAC address based on the VM's unique identifier
- bootpd preserves the last lease for every MAC address seen

My sug

[2019-10-10 04:54] tstromberg commented on #4206
Example: https://storage.googleapis.com/minikube-builds/logs/5584/HyperKit_macOS.txt

[2019-10-10 05:38] RA489 commented on #5570
/assign

[2019-10-10 05:38] RA489 commented on #5581
/assign

[2019-10-10 05:39] RA489 commented on #5547
/assign

[2019-10-10 08:47] aflatto commented on #5546
Yes, the delete sub command fixes the issue, and a new deployment is working

[2019-10-10 10:28] govargo commented on #5509
Can I work on this?
I'll take.

[2019-10-10 10:31] AlfredUlvmose commented on #5541
Yeah, that did the trick.

[2019-10-10 10:31] #5541 closed

[2019-10-10 10:32] govargo commented on #5509
I'm checking the code about this error.
I found following code section.

https://github.com/kubernetes/minikube/blob/master/pkg/minikube/cluster/cluster.go#L110
https://github.com/kubernetes/minikube/blob/master/pkg/minikube/cluster/cluster.go#L279

Now there is not "machine does not exist" error handling in `startHost` func and `DeleteHost` func.
So, I would add error handling when "machine does

[2019-10-10 10:33] govargo commented on #5509
/assign

[2019-10-10 10:33] Atvo commented on #5539
I asked the admins of the registry but apparently that is not an option.

[2019-10-10 10:52] jonathangiber commented on #5531
Hi,
I run into a similar problem when building my packer image in circleci. The driver=none was working fine around 15 days ago and then started causing problems.

I'm attaching my logs:

==> eu-west-1: ! The 'none' driver provides limited isolation and may reduce system security and reliability.
    eu-west-1: *
==> eu-west-1: ! For more information, see:
==> eu-west-1: I1010 10:44:29.732917   24

[2019-10-10 11:07] nanikjava commented on #3329
/assign @nanikjava

[2019-10-10 13:35] pramod1828 opened #5587 "extension getting crashed"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-10-10 15:27] govargo commented on #5497
I could also reproduce this issue.

I think this is bug due to following code...

`minikube update-context` calls `UpdateIP` func. Its func takes three arguments.
The third is machine name like "minikube".

https://github.com/kubernetes/minikube/blob/5c6f33b7963b716a44c1d3d790feafa819613b7b/cmd/minikube/cmd/update-context.go#L47

In `kubeconfig.go`, we get kubeconfig filepath(~/.kube/config).

htt

[2019-10-10 15:28] govargo commented on #5497
/assign

[2019-10-10 15:36] myersg86 commented on #5568
[Allow apps from anywhere](http://osxdaily.com/2016/09/27/allow-apps-from-anywhere-macos-gatekeeper/) and `sudo spctl --master-disable` disable protections that can potentially leave a Mac vulnerable to malware, and should be avoided if at all possible. This is not an ideal solution.

After taking the following steps, I now seem to have an "Open anyways" option now, allowing running individual app

[2019-10-10 16:25] sharifelgamal commented on #5587
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

The exact minikube start command line used
The full output of the minikube start command
The full output of minikube logs
Thank you for sharing your experience!

[2019-10-10 16:28] mac01021 opened #5588 "virtualbox: timed out waiting to elevate RBAC"
**The exact command to reproduce the issue**:
C02Y90B1JG5M:xstreams coolbema$ minikube delete <details>
🔥  Deleting "minikube" in virtualbox ...
💔  The "minikube" cluster has been deleted. </details>
C02Y90B1JG5M:xstreams coolbema$ minikube start

**The full output of the command that failed**:<details>
😄  minikube v1.4.0 on Darwin 10.14.3
🔥  Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=200

[2019-10-10 16:30] LennyCastaneda commented on #4515
Thanks. When I circle back to the project I'll try it out.

[2019-10-10 17:43] tstromberg commented on #3329
@nanikjava - excellent news! Please let me know if you need any additional help, either here or on the Slack #minikube  channel.

[2019-10-10 17:44] israily commented on #5569
@tstromberg Thanks, upgraded to GitVersion:"v1.16.0" and it worked after changing
`apiVersion: apps/v1
kind: Deployment`

[2019-10-10 17:45] tstromberg commented on #5569
Excellent! Thank you for the update.

[2019-10-10 17:45] #5569 closed

[2019-10-10 17:46] israily commented on #5569
@tstromberg  However I think there is still a bug with the default instructions to install minikube on macOS: https://minikube.sigs.k8s.io/docs/start/macos/
which installs the old version of kubectl?

[2019-10-10 19:46] tstromberg commented on #4392
@sjortiz - Does this still issue seem reasonable to resolve?

[2019-10-10 19:50] dhinkris commented on #4024
facing the same issue. @goyalnikhil02  how did you solved it

[2019-10-11 02:33] danny8002 commented on #3784
for windows 10 with hyperv, 'hyperv' should be explicitly specified since minikube use VirtualBox by default.
`minikube start --vm-driver=hyperv  `

[2019-10-11 03:04] ashkan-leo opened #5594 "hyperkit macOS catalina: getting MAC address from UUID: vmnet: error from vmnet.framework: -1"
I am unable to start minikube with hyperkit on mac OS Catalina. I was able to run minikube before upgrading to Catalina.

**The exact command to reproduce the issue**:

`minikube stop && minikube delete && minikube start --vm-driver=hyperkit`

**The full output of the command that failed**:<details>

✋  Stopping "minikube" in virtualbox ...
🛑  "minikube" stopped.
🔥  Deleting "minikube" in virtualb

[2019-10-11 03:32] nanikjava commented on #5594
Try deleting the /Users/ashkanaleali/.minikube directory and start minikube again and see if that helps

[2019-10-11 03:35] ashkan-leo commented on #5594
I deleted that directory. It didn't help.

[2019-10-11 05:44] kameshsampath commented on #4604
@castlemilk - were able to use the image without setting insecure-regsitry in minkube start ?
when run the command like ` kubectl run greeter --image=registry.kube-system:80/rhdevelopers/knative-tutorial-greeter` I get image pull backoff and describing the pod I get the error

[code]

[2019-10-11 06:58] benjma commented on #5568
![Screen Shot 2019-10-11 at 5 52 03 pm](https://user-images.githubusercontent.com/322797/66630561-4030f580-ec50-11e9-8ab0-a9b6b148386b.png)

Maybe, "Allow Anyway" just for "minikube-darwin-amd64"

[2019-10-11 07:19] kameshsampath commented on #4604
@tstromberg  @castlemilk  - I am able to run with `localhost:5000/<image-name>` but when using `registry-kubesystem:80/<image-name>` result in lookup errors :(.

[2019-10-11 09:52] burdiyan commented on #38
Just FYI: another VPN written in Go: https://github.com/xitongsys/pangolin

I still dream about the day when I could run `kubectl connect` or something like that, and access the cluster from a local machine as if I were on the same network :)

[2019-10-11 11:02] anukul commented on #316
From the 1.16 [changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md#deprecations-and-removals):

[2019-10-11 12:16] ngkmh opened #5595 "none: [DNS_TIMEOUT] waiting for k8s-app=kube-dns: timed out waiting for the condition"
**The exact command to reproduce the issue**:

sudo minikube start --vm-driver=none --alsologtostderr --v=3 --memory=4096

**The full output of the command that failed**:
<details>

X Wait failed
Error: [DNS_TIMEOUT] waiting for k8s-app=kube-dns: timed out waiting for the condition
Suggestion: Run 'kubectl describe pod coredns -n kube-system' and check for a firewall or DNS conflict
Documentation:

[2019-10-11 12:20] ngkmh commented on #5595
kubectl describe pod coredns -n kube-system
Name:                 coredns-5644d7b6d9-58hkz
Namespace:            kube-system
Priority:             2000000000
Priority Class Name:  system-cluster-critical
Node:                 <none>
Labels:               k8s-app=kube-dns
                      pod-template-hash=5644d7b6d9
Annotations:          <none>
Status:               Pending
IP:
IPs:

[2019-10-11 12:22] ngkmh commented on #5595
kubectl get pod coredns-5644d7b6d9-58hkz -n kube-system -o yaml
apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2019-10-11T10:45:22Z"
  generateName: coredns-5644d7b6d9-
  labels:
    k8s-app: kube-dns
    pod-template-hash: 5644d7b6d9
  name: coredns-5644d7b6d9-58hkz
  namespace: kube-system
  ownerReferences:
  - apiVersion: apps/v1
    blockOwnerDeletion: true
    controller: true

[2019-10-11 12:33] ngkmh commented on #5595
is coredns not being scheduled because of:

node-role.kubernetes.io/master:NoSchedule

[2019-10-11 12:47] nanikjava commented on #3329
@tstromberg PR ready https://github.com/kubernetes/minikube/pull/5596

[2019-10-11 13:47] kameshsampath commented on #4604
@tstromberg - I feel I still need to use my registry helper https://github.com/kameshsampath/minikube-helpers/tree/master/registry to make it resolve the `registry.kube-system` dns name to go to `registry.kube-system.svc.cluster.local`. It works with vm-driver `virtualbox`

[2019-10-11 13:51] saurabharora80 opened #5597 "waiting for apiserver: timed out waiting for the condition"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
minikube v1.4.0 on Darwin 10.14.6
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🏃  Using the running virtualbox "minikube" VM ...
⌛  Waiting for the host to be provisioned ...
🐳  Preparing Kubernetes v1.16.0 on Docker 18.0

[2019-10-11 14:44] e-dard opened #5598 "init container is unable to resolve pods"
Hi, I'm having **DNS** problems from within **init containers** when using `minikube` on `Arch Linux` using the vm driver `kvm2`.

The issue is as follows: an `initContainer` that checks that another pod is up and ready on a port is unable to connect to the pod and port. However, the pod is ready and waiting. If I run the **exact** same spec on other setups (I have tried `macOS/minikube/hyperkit`

[2019-10-11 14:58] derekbelrose commented on #5594
Stock Catalina without disabling any security measures and a fresh install with `brew install minikube`. When running `minikube config set vm-driver hyperkit` I get the following error:

"minikube-darwin-amd64" cannot be opened because the developer cannot be verified.

[2019-10-11 15:01] derekbelrose opened #5599 "minikube "developer cannot be verified" in macOS Catalina"
**The exact command to reproduce the issue**:
`minikube config set vm-driver hyperkit`

**The full output of the command that failed**:<details>
"minikube-darwin-amd64" cannot be opened because the developer cannot be verified.

macOS cannot verify this app is free from malware."

</details>

**The output of the `minikube logs` command**:<details>
➜  sa_test git:(master) minikube config set vm-dri

[2019-10-11 15:02] derekbelrose commented on #5599
This is a fresh install of macOS Catalina and I have not disabled any security mechanisms in the operating system.  minikube was installed with `brew install minikube`

[2019-10-11 15:08] derekbelrose commented on #5599
I was able to work around this by:

1) Open terminal.app
2) type `open /usr/local/Caskroom/minikube/1.4.0/minikube-darwin-amd64`
3) Click ok in the resulting dialog.

[2019-10-11 15:21] ashkan-leo commented on #5599
You can also verify the executables yourself by going to system preference-> security->allow anyway.
Every time an unsigned binary is executed you need to do this. It’s extremely annoying.

[2019-10-11 15:57] afbjorklund commented on #5599
Duplicate, #5568

[2019-10-11 16:00] derekbelrose commented on #5599
@ashkan-leo I don't have the "Allow anyway" button under system preferences -> security

[2019-10-11 16:30] ashkan-leo commented on #5599
The button only appears when you get the error message that the app can’t be verified. It will disappear after sometime

[2019-10-11 16:31] derekbelrose commented on #5599
Right,  it didn't appear.

I'll close, apparently I'm the only one experiencing this issue.

[2019-10-11 16:31] #5599 closed

[2019-10-11 18:23] chiticariu opened #5600 "error starting minikube"
minikube failed starting
minikube start --vm-driver=hyperv --v=5
* minikube v1.4.0 on Microsoft Windows 10 Pro 10.0.18362 Build 18362
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Using the running hyperv "minikube" VM ...
* Waiting for the host to be provisioned ...
* Preparing Kubernetes v1.16.0 on Docker 18.09.9 ...
* Relaunching Kuber

[2019-10-11 21:43] jamesla commented on #1568
+1 to merge this

[2019-10-12 04:16] GiuseppeMP commented on #5499
Sure, it follows::
<details>
<summary>ls -lah ~/.kube/config</summary>

cat ~/.kube/config

apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUM2akNDQWRLZ0F3SUJBZ0lCQVRBTkJna3Foa2lHOXcwQkFRc0ZBREFtTVNRd0lnWURWUVFEREJ0dmNHVnUKYzJocFpuUXRjMmxuYm1WeVFERTFOams1TmpNMk1qTXdIaGNOTVRreE1EQXhNakV3TURJeVdoY05NalF3T1RJNQpNakV3TURJeldqQW1NU1F3SWdZRFZR

[2019-10-12 05:59] nanikjava opened #5603 "New Feature : Makefile changes"
The current makefile does not have some sort of 'help' task that can show the different tasks available. Would be helpful either

(1) by default executing make it will show the different tasks like in the example below OR
(2) specifying something like 'make tasks' will show the different tasks

something like the following

[code]

Script is ready to be submitted as PR but would love to get some f

[2019-10-12 08:17] medyagh commented on #5603
I am down with adding `make help`

I had it this other project https://github.com/k8guard/k8guard-start-from-here/blob/master/Makefile

we can add help using ## comment

[2019-10-12 08:52] cytown commented on #5451
same problem, under debian 10.0...

[2019-10-12 09:19] nanikjava commented on #5603
/assign @nanikjava

[2019-10-12 11:27] vsbpro opened #5604 "hyperv: create: creating: exit status 1"
**The exact command to reproduce the issue**:
C:\WINDOWS\system32>minikube start

**The full output of the command that failed**:<details>

C:\WINDOWS\system32>minikube start
* minikube v1.4.0 on Microsoft Windows 10 Pro 10.0.17763 Build 17763
* Creating hyperv VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
* Retriable failure: create: creating: exit status 1
* Deleting "minikube" in hyperv ...
* Cr

[2019-10-12 12:31] chiticariu commented on #5600
Problem solved.
Solution can be found here: https://github.com/kubernetes/minikube/issues/2131

Those using Windows with Hyper-V try creating a new external virtual switch in Hyper-V Manager, then start Minikube with
minikube start --vm-driver=hyperv --hyperv-virtual-switch=<your-custom-virtual-switch-name>

[2019-10-12 12:31] #5600 closed

[2019-10-12 17:48] medyagh opened #5605 "integration test: jenkins running the wrong binary but showing the right commit id"
while doing this PR: https://github.com/kubernetes/minikube/pull/5530

I noticed a spooky behaviour that my integraiton tests would pass on local machine but fail horribly the jenkins

The logs showed that it had the right commit :

https://storage.googleapis.com/minikube-builds/logs/5530/KVM_Linux.txt
[code]

but I suspected that it actually runs the right binary !
I added a logging message and I

[2019-10-12 18:41] medyagh commented on #5605
I added the following to the common.sh integration script:
[code]
and I expected it to see in the logs but !!!! it did not show up, even though the logs point to the right commit ID the common.sh is not the new one !

[code]

no sign of the version I added !!!!

[2019-10-12 20:33] BZM708 commented on #5236
When I used this:

< curl -vvv 192.168.99.108:30178 >

output is:
<
* Rebuilt URL to: 192.168.99.108:30178/
*   Trying 192.168.99.108...
* TCP_NODELAY set
* connect to 192.168.99.108 port 30178 failed: Connection refused
* Failed to connect to 192.168.99.108 port 30178: Connection refused
* Closing connection 0
curl: (7) Failed to connect to 192.168.99.108 port 30178: Connection refused

[2019-10-13 02:42] karuppiah7890 opened #5606 "Update default kubernetes version to v1.16.1"
As Kubernetes has released it recently https://github.com/kubernetes/kubernetes/releases/tag/v1.16.1 . I can work on this and raise a PR

[2019-10-13 02:54] karuppiah7890 commented on #5606
I just noticed it's already there in code. Just not released 😅 Closing the issue!

[2019-10-13 02:54] #5606 closed

[2019-10-13 07:18] afbjorklund commented on #5606
It’s just the default version, you can override it using a parameter/config.

[2019-10-13 13:09] nomansadiq11 commented on #1340
me too also facing same issue I also added dns info but still same issue.

services showing gray instead green

[2019-10-13 15:09] natebrunette opened #5610 "Can't start minikube+hyperkit on Catalina"
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>
W1013 10:05:09.465486   33974 root.go:239] Error reading config file at /Users/natebrunette/.minikube/config/config.json: open /Users/natebrunette/.minikube/config/config.json: no such file or directory
I1013 10:05:09.466371   33974 notify.go:125] Checking for updates...
I1013 10:05:09.73

[2019-10-13 19:25] nanikjava commented on #5603
@medyagh PR created https://github.com/kubernetes/minikube/pull/5613

Thanks

[2019-10-13 19:32] nanikjava commented on #4883
Looks like this issue need to be closed as it's been merged to master.

[2019-10-13 19:39] nanikjava commented on #3143
@afbjorklund @tstromberg any decision whether we want this service to be disabled by default ?

[2019-10-13 19:46] nanikjava commented on #3327
@tstromberg interested to tackle this issue. Would you be able to point me in the right direction to start.

So far I can see that the mount command code is inside mount.go but at high level what does the new code required to do ?

Thanks

[2019-10-13 19:46] nanikjava commented on #3327
/assign

[2019-10-13 21:10] natebrunette commented on #5610
fwiw, getting the same errors running the simple `minikube start --vm-driver=hyperkit`

[2019-10-13 23:23] BobOntario commented on #5531
@medyagh thanks .  Followed your instructions and I switched to Ubuntu 18.04 from 16.04.  Now it works with below messages:

**Waiting for: apiserver proxy etcd scheduler controller dns
Done! kubectl is now configured to use "minikube"_**

I tried to see dashboard with the following command:

http://server_ip:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/

I got the

[2019-10-13 23:26] BobOntario commented on #5531
I also found the following outputs when i applied "http://server_IP:8001.

{
  "paths": [
    "/api",
    "/api/v1",
    "/apis",
    "/apis/",
    "/apis/admissionregistration.k8s.io",
    "/apis/admissionregistration.k8s.io/v1",
    "/apis/admissionregistration.k8s.io/v1beta1",
    "/apis/apiextensions.k8s.io",
    "/apis/apiextensions.k8s.io/v1",
    "/apis/apiextensions.k8s.io/v1beta1",
    "/

[2019-10-14 02:56] gkwan opened #5615 "error patching node "minikube" through apiserver: etcdserver: request timed out"
**The exact command to reproduce the issue**:
minikube start --vm-driver kvm2 --v=5

**The full output of the command that failed**:<details>
minikube v1.4.0 on Arch 2019.1.20
🔥  Creating kvm2 VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🐳  Preparing Kubernetes v1.16.0 on Docker 18.09.9 ...
🚜  Pulling images ...
❌  Unable to pull images, which may be OK: running cmd: sudo env PATH=/var/lib/minikub

[2019-10-14 04:40] codebling commented on #2704
The switch suggested above did not work for me on minikube 1.4.0.
As a quick fix if you're not running systemd,
[code]
It's just an empty script, which only works because it returns a non-zero exit code, effectively bypassing the attempt to start `dockerd`. You'll need to manually start `dockerd` first.

I gave up on what I was trying when I ran into more issues but it got me past that hurdle

[2019-10-14 09:35] nanikjava commented on #5615
From the log looks like there is an internet or server issue ?. Delete the directory ~/.minikube and try again

[2019-10-14 10:05] masoodbihari opened #5616 "minikube crashed"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-10-14 10:12] roverqaz opened #5617 "kvm2 driver: check if user in "libvirt" group and exit if they are not"
Please, add that user starting minikube should be in "libvirt" group. Because without adding user in "libvirt" group will be an error "authentification unavailable"

[2019-10-14 10:25] woodcockjosh opened #5618 "Cannot run sudo minikube status"
**The exact command to reproduce the issue**:
`sudo minikube status`

**The full output of the command that failed**:<details>
💣  Error getting host status: state: machine does not exist

😿  Sorry that minikube crashed. If this was unexpected, we would love to hear from you:
👉  https://github.com/kubernetes/minikube/issues/new/choose

</details>

**The output of the `minikube logs` command**:<deta

[2019-10-14 11:25] maxruby commented on #5610
same here

[2019-10-14 12:14] kemarsh commented on #5524
@tstromberg any updates on this please? - happy to provide more debug if that would be helpful.

[2019-10-14 12:21] woodcockjosh commented on #5618
Opened issue in libmachine repo https://github.com/docker/machine/issues/4763 as this error shouldn't be returned after checking if machine exists.

[2019-10-14 12:50] vishakhanihore commented on #5132
@RA489 Can you please update your PR or close it since its already 2 months for this trivial issue?

[2019-10-14 12:50] vishakhanihore commented on #5132
/assign

[2019-10-14 12:51] RA489 commented on #5132
/close

[2019-10-14 12:53] vishakhanihore commented on #5132
@RA489 Why did you close the issue

[2019-10-14 12:53] vishakhanihore commented on #5132
/reopen

[2019-10-14 12:55] vishakhanihore commented on #5132
@RA489 ?

[2019-10-14 12:55] RA489 commented on #5132
/reopen

[2019-10-14 12:56] vishakhanihore commented on #5132
See what you do before doing.

[2019-10-14 12:59] RA489 commented on #5132
@vishakhanihore  if you can update asap please go ahead otherwise i will update later.

[2019-10-14 13:08] josedonizetti commented on #4883
@nanikjava Do you want to work on https://github.com/kubernetes/minikube/issues/4913? I haven't had much time to look into it. Let me know and I'll assign it to you.

[2019-10-14 15:57] tstromberg commented on #5605
@sharifelgamal mentioned there were some observed gsutil behavioral changes with a recent update, which got me thinking: this has to be related.

I took a look at the repository, and did an experiment, and indeed, updated scripts/binaries are being placed into a subfolder rather than at root. Here is what I believe is the errant command:

https://github.com/kubernetes/minikube/blob/73bf396e4d23621

[2019-10-14 16:12] tstromberg commented on #2840
@woodcockjosh mentioned that this should be closed now. Please /reopen if that is not the case. Thanks!

[2019-10-14 16:12] #2840 closed

[2019-10-14 16:27] medyagh commented on #5605
Ahh !!!

[2019-10-14 16:28] medyagh commented on #5605
@tstromberg that was some great detective work !

[2019-10-14 16:37] tstromberg commented on #5605
PR's affected by this bug, based on output of `gsutil ls 'gs://minikube-builds/*/out'`

#4780 #4999 #5243 #5400 #5425 #5471 #5530 #5543 #5548 #5550 #5554 #5555 #5559 #5565 #5566 #5572 #5574 #5582 #5584 #5593 #5601 #5607

[2019-10-14 17:04] medyagh commented on #5618
ah !

[2019-10-14 17:28] medyagh commented on #4849
@erickalmeidaptc  any luck or update on this issue  ? do you mind sharing if you still have this issue or if you solved it somehow?

[2019-10-14 17:28] #5605 closed

[2019-10-14 17:31] afbjorklund commented on #5618
The bug itself seems rather unrelated to this "sudo" thing, though ?

As far as I understand, it should work OK (and is actually needed) to run "minikube status" as root if you ran "minikube start" as root. And vice-versa, unless you do the all copying of files mentioned.

Hopefully fixing #3760 will remove the need to run things with sudo.

[2019-10-14 17:44] medyagh commented on #4604
@kameshsampath  have you tried with other drivers? could you tell me what your helper does, is there any way we could integrate into minikube?

[2019-10-14 18:14] kameshsampath commented on #4604
@medyagh  - i see that my helper consistently working with 1.4.0 with both hyperkit and virtualbox.

This is what my helper does

1. Define a list of dns names (via configmap) that you wish to you use for internal registry e.g. dev.local, example.com
2. Run a daemonset to add dns names to `/etc/hosts` of the node matching the `CLUSTER-IP` of registry in `kube-system` that was enabled via addons
3.

[2019-10-14 18:42] tstromberg commented on #3760
Any update?

[2019-10-14 18:50] afbjorklund commented on #5007
The new buildroot version now comes with linux 4.19.76

[2019-10-14 19:09] afbjorklund commented on #5237
I tried building the ISO in a docker container, and it seemed to work.

The only issue (besides the volume mount), seems to be the cache.
Currently we store it in /tmp/.buildroot-ccache, and throw it away...

We _might_ want to mount ~/.buildroot-ccache from the build host, or so ?

[code]

[2019-10-14 19:17] nanikjava commented on #4883
@josedonizetti yes please assign it to me. Thanks

[2019-10-14 19:28] gkwan commented on #5615
I deleted the directory ~/.minikube and tried again:
**The exact command to reproduce the issue**:
 minikube start --vm-driver kvm2 --v=5

**The full output of the command that failed**:<details>
😄  minikube v1.4.0 on Arch 2019.1.20
💾  Downloading driver docker-machine-driver-kvm2:

💿  Downloading VM boot image ...

🔥  Creating kvm2 VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🐳  Preparing Kuberne

[2019-10-14 20:36] #5237 closed

[2019-10-14 22:33] josedonizetti commented on #4913
/assign @nanikjava

[2019-10-14 22:35] josedonizetti commented on #4913
@nanikjava Apprently I cannot assign it to you, but this is the issue I spoke about.

[2019-10-14 23:04] medyagh commented on #5617
adding @josedonizetti

[2019-10-14 23:08] medyagh commented on #5588
While I don't what is causing this time out issue,

I am curious if the same problem would happen if you use hyperkit driver ? hyperkit driver is recommended for Mac Os

https://minikube.sigs.k8s.io/docs/start/macos/

[2019-10-14 23:52] akashclose2u commented on #1340
adding "nameserver 8.8.8.8" in /etc/resolve.conf, helped me reach internet.

[2019-10-15 00:04] woodcockjosh commented on #4883
@nanikjava you can assign with `/assign` on its own line

[2019-10-15 00:37] nanikjava commented on #4883
/assign

[2019-10-15 06:50] aidkz commented on #5617
CentOS

Linux localhost.localdomain 3.10.0-1062.1.2.el7.x86_64
CentOS Linux release 7.7.1908 (Core)
Name        : qemu-kvm
Arch        : x86_64
Epoch       : 10
Version     : 1.5.3
Release     : 167.el7_7.1

[2019-10-15 07:35] nanikjava commented on #4883
@josedonizetti PR is ready for review https://github.com/kubernetes/minikube/pull/5624

Thanks

[2019-10-15 08:28] ThomasSchoenbeck commented on #5580
I was facing this issue as well until i started a command prompt with administrator privileges.

[2019-10-15 09:10] venkateshreddypala opened #5625 "Cannot start minikube on macOS Catalina"
**minikube start**:

**cannot verify the developer **: followed by a prompt to terminate

**macOS Catalina**:

[2019-10-15 12:17] messy80 commented on #4587
CMD > bcdedit /set hypervisorlaunchtype off

did NOT work for me :( (it def ran successfully).

I have Windows 10 enterprise, 1903, build 18362.418

In windows features there is nothing even remotely related to VM's enabled yet i still get;

Call to WHvSetupPartition failed: ERROR_SUCCESS (Last=0xc000000d/87) (VERR_NEM_VM_CREATE_FAILED).
Result Code: | E_FAIL (0x80004005)
-- | --
Component: | Cons

[2019-10-15 13:11] #5588 closed

[2019-10-15 13:11] mac01021 commented on #5588
I think it's an issue related to what's accessible on my company VPN.

[2019-10-15 15:05] afbjorklund commented on #5617
CentOS is supposed to provide some kind of authentication mechanism, like PolicyKit ?

Of course, that also means entering your password each time you want to access it...

[2019-10-15 15:10] afbjorklund commented on #5617
Note that the name of the group might vary between Linux distribution.

For instance, on Ubuntu 16.04 the socket is owned by the "libvirtd" group...

[2019-10-15 15:12] afbjorklund commented on #5625
Duplicate, #5568

[2019-10-15 17:13] balopat opened #5627 "hyperv: failure: start: exit status 1 (not running minikube as admin?)"
**The exact command to reproduce the issue**:

`minikube start --vm-driver=hyperv`

**The full output of the command that failed**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>

n/a

</details>

**The operating system version**:

Microsoft Windows 10 Enterprise 10.0.17763 Build 17763

[2019-10-15 17:50] balopat commented on #5627
I _think_ the issue might have been with minikube not running as admin...we should detect that somehow and fail a bit more gracefully.

I managed to get it working:
- remove the minikube VM in the HyperV VM manager
- stop the VM management service in HyperV
- remove the ~/.minikube directory (you can't until the VM management service is stopped!)
- restart minikube in Admin mode ...
 ... although

[2019-10-15 18:09] EfraimLA commented on #5610
Same ):

[2019-10-15 19:23] dunefro opened #5629 "problem detected in kube-addon-manger"
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>
[code]

</details>

**The output of the `minikube logs` command**:<details>
[code]

</details>

**The operating system version**:
Windows 10

[2019-10-15 20:27] BasicExp commented on #2376
A continuation on this fix that should help you setup "minikube" to to run off a chosen virtual switch in perpetuity on Windows 10 using Hyper-V.

**1. Which Switch to Use**

By default, when you enable Hyper-V and it does its initial install, it should generate a switch called "Public Access Switch" which is exposed to the outside world and can access the internet. You should be able to use this

[2019-10-15 20:53] nkemakolam opened #5631 "excludeIP error: ExcludeIP() requires IP or CIDR as a param"
E1015 16:50:30.673328   15432 dashboard.go:88] Error excluding IP from proxy: ExcludeIP() requires IP or CIDR as a param
eter
*
X Error getting machine status: state: Failed to find the VM status

[2019-10-15 21:22] thehappycoder opened #5632 "v1.15.5: manifest for k8s.gcr.io/kube-apiserver:v1.15.5 not found"
This is how I started it:
[code]

And this is the output:
[code]

[2019-10-15 23:39] danilooliveira88 opened #5633 "error"
 
**Os comandos necessários para reproduzir o problema**:
 
**A saída completa do comando que apresentou falha**: <details>

</details>

**A saída do comando `minikube logs`**:<details>

</details>

**A versão do sistema operacional usado**:

[2019-10-16 08:03] anthonma opened #5634 "virtualbox: Minikube often goes to paused state"
Minikube gets often in paused state.
Could you please tell me what could be the cause of it and how to fix it.

I'm starting minikube with:
[code]

**The exact command to reproduce the issue**:
-/-

**The full output of the command that failed**:
-/-

**The output of the `minikube logs` command**:
I've tried to get the logs via minikube logs, but I nether I got output nor the command terminated, s

[2019-10-16 08:19] kaihendry commented on #5017
Just tried minikube in Arch today and I'm hitting `Error from server (NotFound): the server could not find the requested resource (get services http:heapster:)` when running `kubectl top pod`. Was expecting some feature parity with Docker.

So how is one supposed to get basic pod usage stats out in the interim?

[2019-10-16 09:22] GrimaudNathan opened #5635 "none: Error restarting cluster: waiting for apiserver: apiserver process never appeared"
**The command:**
minikube start

**The output of the command that failed:**
😄  minikube v1.4.0 sur Ubuntu 18.04
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🏃  Using the running none "minikube" VM ...
⌛  Waiting for the host to be provisioned ...
🐳  Configuring environment for Kubernetes v1.16.0 on Docker 18.06.1-ce...
    ▪ kubelet.resol

[2019-10-16 10:41] alexmuntean commented on #4291
this one works for me also. thanks buddy :*

[2019-10-16 16:11] raul1991 commented on #2762
and what is that ? Can you copy that again here ?

[2019-10-16 16:18] raul1991 opened #5636 "none: Unable to get VM IP address: unable to select an IP from default routes."
**The exact command to reproduce the issue**:
sudo minikube start --vm-driver=none

**The full output of the command that failed**:<details>
🙄  minikube v1.4.0 on Ubuntu 18.04
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🏃  Using the running none "minikube" VM ...
⌛  Waiting for the host to be provisioned ...

💣  Unable to get VM IP addre

[2019-10-16 16:29] maiamcc opened #5637 "Minikube Docker doesn't include docker-init"
Minikube's Docker doesn't seem to include `docker-init` binary.
[code]

**The exact command to reproduce the issue**:
[code]
**The full output of the command that failed**:
[code]

(In contrast, my system Docker runs the above command without error.)

**Docker Version**
[code]

contrast with my system Docker, which DOES include docker-init
[code]

**The output of the `minikube logs` command**: [lo

[2019-10-16 16:37] SebTardif commented on #1523
I reached here and got the same original symptom just because I copy-pasted the command from the web and the "-" on the command line was something else, maybe Unicode. I didn't get any warning from minikube that I was passing funny parameters.

[2019-10-16 17:38] meauses commented on #5580
I started with a elevated command prompt, but I'm still getting the error.

[2019-10-16 17:39] afbjorklund commented on #5637
See https://github.com/kubernetes/minikube/pull/5607

[2019-10-16 18:45] tstromberg commented on #5598
Interesting error. Generally, DNS should not behave differently between drivers, although driver proxies do sometimes cause issues. We will have to see about duplicating this on end with kvm2.

[2019-10-16 18:48] tstromberg commented on #5610
I don't have Catalina to replicate this, but if anyone is able to get the underlying error from hyperkit, it would be quite helpful. Can someone try running minikube from the latest source code to see if the error logging is at least better?

[2019-10-16 18:49] tstromberg commented on #5616
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2019-10-16 18:54] priyawadhwa commented on #5635
This issue appears to be a duplicate of #5451, do you mind if we move the conversation there?

This way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-10-16 18:54] tstromberg commented on #5632
As v1.15.5 was released yesterday, I suspect you may have beat the official Kubernetes mirrors in trying the new version. This command appears to work today - do you mind checking if it does for you?

[2019-10-16 18:57] tstromberg commented on #5634
Could you provide the exact output of the `minikube start` command that you used? I am curious what VM driver you are using. I suspect VirtualBox.

minikube itself does not support pausing a VM, so the pausing is coming from your hypervisor or something monitoring your hypervisors status.  Also, what version of VirtualBox are you running?

[2019-10-16 18:58] priyawadhwa commented on #5633
Olá @ danilooliveira88. Você poderia fornecer mais algumas informações para que possamos replicar esse problema?

As seguintes informações seriam úteis:

* A linha de comando exata `minikube start` usada
* A saída completa do comando `minikube start`, de preferência com` --alsologtostderr -v = 4` para registro extra.
 * A saída completa dos `minikube logs`
* A saída completa do `kubectl get po -A`

[2019-10-16 19:08] tstromberg commented on #5636
I believe this error message originates from `"k8s.io/apimachinery/pkg/util/net.ChooseBindAddress`. Here is a similar issue upstream in `kubeadm`:

https://github.com/kubernetes/kubeadm/issues/982

Do you mind sharing the output of `route`? I suspect your default route may not be pointing to a real internet address.

This seems like a network configuration issue, but you may be able to workaround

[2019-10-16 19:08] priyawadhwa commented on #5631
Hey @nkemakolam thanks for opening this issue. Could you please provide the following information so we can help resolve this:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
* The output of `grep NodeIP ~/.minikube/profiles/minikube/config.json`

Thanks so much!

[2019-10-16 20:00] nanikjava commented on #5615
try to pull the same kind of image manually using docker command line. See if that is a docker issue ?

[2019-10-16 20:08] tstromberg commented on #5594
I suspect there is some kind of Catalina-specific permissions issue going on, but it could also be some other kind of API mismatch. I don't have a Catalina host to check against yet.

[2019-10-16 20:10] tstromberg commented on #5631
I suspect that the config may reference an empty IP, and represent a failed minikube setup.

Do you mind sharing the output of `minikube status` as well?

[2019-10-16 20:17] tstromberg commented on #5615
This one is a bit of a mystery to me.

This message seems to indicate that the VM can't speak to k8s.gcr.io, but it should still come up properly anyways:

`failed to pull image "k8s.gcr.io/kube-apiserver:v1.16.0": output: Error response from daemon: Get https://k8s.gcr.io/v2/: dial tcp: lookup k8s.gcr.io on 192.168.122.1:53: read udp 192.168.122.41:35360->192.168.122.1:53: i/o timeout`

The logs

[2019-10-16 20:20] tstromberg commented on #5595
Seems plausible, but not something that normally happens either. Would it be possible to include the
 output of:

* `kubectl get po -A`
* `sudo journalctl -u kubelet`

[2019-10-16 20:22] tstromberg commented on #5625
This issue appears to be a duplicate of #5568, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-10-16 20:22] #5625 closed

[2019-10-16 20:23] tstromberg commented on #5617
Running `virt-host-validate` should provide the correct checks here. Our documentation calls for it, but we should do so as well in our code.

[2019-10-16 20:26] thehappycoder commented on #5632
You are right @tstromberg It works fine now.

[2019-10-16 20:26] #5632 closed

[2019-10-16 21:26] natebrunette commented on #5610
I’m currently running on a separate partition. When I switch back to it next, I’ll test if nobody else gets to it first.

[2019-10-16 21:56] gkwan commented on #5615
Docker looks   @@fine.

sudo docker pull k8s.gcr.io/kube-apiserver:v1.16.0                                                                                                                                                                               17:45:18
[sudo] password for user:
v1.16.0: Pulling from kube-apiserver
39fafc05754f: Pull complete
f7d981e9e2f5: Pull complete
Digest: sha256:f4168527

[2019-10-16 23:29] nanikjava commented on #5615
Not particularly sure what is the problem and the error is saying connection issue, but can't be certain. At this stage would recommend try and see if it works using virtualbox

[2019-10-17 00:46] maiamcc commented on #5637
Amazing, TY! I'm happy to close this issue/for you to close it whenever the PR hits a release, whatever works.

[2019-10-17 04:05] raul1991 commented on #5636
Route command

Kernel IP routing table
Destination     Gateway         Genmask         Flags Metric Ref    Use Iface
100.109.0.0     0.0.0.0         255.255.255.0   U     0      0        0 docker0
172.17.0.0      0.0.0.0         255.255.0.0     U     0      0        0 br-1c35054c4702
172.18.0.0      0.0.0.0         255.255.0.0     U     0      0        0 br-4b758fc0bdf0
172.19.0.0      0.0.0.0

[2019-10-17 05:04] afbjorklund commented on #5637
It’s possible to add the missing binary from the docker tarball, if you need it before then. Or build/install `tini` and rename it. Will be fixed in 1.5+

[2019-10-17 05:12] nanikjava commented on #5329
@sharifelgamal is this being worked on ?, if not then would be interested to take this but will need bit more context on how to reproduce the issue.
Cheers

[2019-10-17 06:44] anthonma commented on #5634
This is the output of the minikube start command:
[code]
The version of VirtualBox is 5.2.20

[2019-10-17 06:51] cmdedj opened #5642 "Dashboard does not show CPU or memory usage"
![image](https://user-images.githubusercontent.com/19429921/66984579-8ae9bc00-f0ed-11e9-995d-a83ee2a8bbb2.png)
why i cant see any cpu or memory usage graph on dashboard?

[2019-10-17 06:52] cmdedj commented on #5642
Dashboard v2.0.0-beta4+0.gf232c589

minikube version: v1.4.0
commit: 7969c25a98a018b94ea87d949350f3271e9d64b6

Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.6", GitCommit:"96fac5cd13a5dc064f7d9f4f23030a6aeface6cc", GitTreeState:"clean", BuildDate:"2019-08-19T11:13:49Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Min

[2019-10-17 07:44] nanikjava commented on #4913
Runnin virtualbox and kvm2 after that yields the following error

I1017 18:42:56.617946   27638 main.go:107] libmachine: Launching plugin server for driver kvm2
I1017 18:42:56.632933   27638 main.go:107] libmachine: Plugin server listening at address 127.0.0.1:44691
I1017 18:42:56.633162   27638 main.go:107] libmachine: () Calling .GetVersion
I1017 18:42:56.633627   27638 main.go:107] libmachine:

[2019-10-17 09:45] aidkz commented on #5617
running `virt-host-validate` not showing checks for user/group permissions:
`virt-host-validate
  QEMU: Checking for hardware virtualization                                 : PASS
  QEMU: Checking if device /dev/kvm exists                                   : PASS
  QEMU: Checking if device /dev/kvm is accessible                            : PASS
  QEMU: Checking if device /dev/vhost-net exists

[2019-10-17 09:50] stanleynguyen opened #5643 "Failed to cache ISO: open .netrc: permission denied"
I just freshly installed minikube to try it out in my Mac but have not managed to start
[code]

It seems that because minikube is asking for access to my `.netrc` file but I don't think it's supposed to have access to such file with sensitive info like my passwords

I still tried running it in superuser mode anyway, and faced with another problem
[code]

**Note**: I have virtualbox installed in my

[2019-10-17 10:11] thomas-riccardi commented on #5329
@nanikjava caafc66a616caf379e6dda33677daf42bc2950e0 explicitly added configuration in kubeadm to disable kubelet disk eviction (which is the feature we need).
As explained in the previous comments, this configuration is correctly written to disk by kubeadm during `minikube start` (in `/var/lib/kubelet/config.yaml`), but it is *not* used by kubelet.

The error is there: kubelet should be configured

[2019-10-17 12:41] e-dard commented on #5598
@tstromberg thanks. Is there anything else I can do to help the investigation? I'm currently unable to run my $WORK k8s cluster on my development machine because of this issue. I'm having to instead run it with `minikube/hyperkit` on my drastically underpowered MBP, which causes much sadness...

[2019-10-17 13:14] Zerxoi opened #5644 "Cannot ping ClusterIP of the service from the cluster."
I want to access to the pod through its service, and i have tried to `ping` the ClusterIP through `minikube ssh` in master, but not work.

[code]

**The exact command to reproduce the issue**:
[code]
but i can access pod through `curl`.
[code]

**The operating system version**:
[code]

[2019-10-17 16:32] wasimahmadpk opened #5645 "Error loading existing host. Please try running [minikube delete], then run [minikube start] again.: filestore "minikube": open machines\minikube\config.json: The system cannot find the file specified."
**The exact command to reproduce the issue**:
Minikube start

**The full output of the command that failed**:<details>

minikube v1.4.0 on Microsoft Windows 10 Pro 10.0.18362 Build 18362
* Retriable failure: Error loading existing host. Please try running [minikube delete], then run [minikube start] again.: filestore "minikube": open C:\Users\Waseem\.minikube\machines\minikube\config.json: The sys

[2019-10-17 19:34] nanikjava commented on #4913
@medyagh so does this mean this is still an issue ? as from my testing minikube exit after it detect that KVM is not able to startup as 'Device or Resource busy'

[2019-10-17 19:48] jshahid21 opened #5650 "Failed to setup kubeconfig: could not read config: Error decoding config from data: apiVersion: v1"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
😄  minikube v1.4.0 on Darwin 10.13.6
🔥  Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🐳  Preparing Kubernetes v1.16.0 on Docker 18.09.9 ...

💣  Failed to setup kubeconfig: could not read config: Error decoding config from data: apiVersion: v1
clusters:
- cluster

[2019-10-17 21:18] priyawadhwa commented on #5635
Hey @GrimaudNathan, could you please provide some more information so that we can assist in resolving this issue:

 * The full output of `minikube logs`

Thanks!

[2019-10-17 21:29] #5497 closed

[2019-10-17 21:36] #5252 closed

[2019-10-17 21:38] #5510 closed

[2019-10-17 21:44] woodcockjosh commented on #5510
wahoo!

[2019-10-17 21:56] tstromberg commented on #5645
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.

Thank you for sharing your experience!

[2019-10-17 21:58] tstromberg commented on #5644
Interesting. Is the lack of ICMP packet routing from within the VM causing an issue, or is this just a curious thing that was noticed?

[2019-10-17 22:03] wasimahmadpk commented on #5645
Hi,

Thank you for your response

I got it fixed by disabling hypervisor. Then I deleted the .kube and
.minikube folders. I enabled the hypervisor again. After that when I tried
minikube start, it worked for me.

Regards, Wasim

On Thu, Oct 17, 2019, 11:57 PM Thomas Strömberg <notifications@github.com>
wrote:

[2019-10-17 22:04] tstromberg commented on #5643
It seems like the network library minikube uses accesses  .netrc, and raises an error if it cannot: https://github.com/hashicorp/go-getter/blob/master/netrc.go

As a workaround, you can manually download the ISO:

`curl -L https://storage.googleapis.com/minikube/iso/minikube-v1.4.0.iso >  ~/.minikube/cache/iso/minikube-v1.4.0.iso`

Like most network commands, curl also references your .netrc, but

[2019-10-17 22:05] tstromberg commented on #5629
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2019-10-17 22:21] #5493 closed

[2019-10-17 22:22] #5271 closed

[2019-10-17 22:23] #3329 closed

[2019-10-18 00:12] maxruby commented on #5610
For me the issue was related to NFS mounting. FWIW - it was resolved after prefixing the path to the directory to be mounted in the `.nfsshares` file as follows: `/System/Volumes/Data/$HOME`.  This has been reported elsewhere.

[2019-10-18 00:19] josedonizetti commented on #4913
@nanikjava do we get the same message if doing the other way around? first kvm, then virtualbox?

[2019-10-18 00:51] stanleynguyen commented on #5643
Thanks @tstromberg :smile: how do you think we should go about solving this? I will take this issue

[2019-10-18 02:57] cmdedj commented on #5642
~/Desktop/kubernetes-in-action/Chapter05   master ●  kubectl get pods --all-namespaces
NAMESPACE              NAME                                         READY   STATUS    RESTARTS   AGE
default                kubia-cfqg2                                  1/1     Running   0          15h
default                kubia-d8n4w                                  1/1     Running   0          15h
default

[2019-10-18 04:29] Zerxoi commented on #5644
I am not sure if it is a lack of ICMP packet routing issue. But i can access pod's IP directly through `ping` in master.

Is it right that i can access to ClusterIP from master theoretically, right?

[code]

[2019-10-18 07:13] nanikjava commented on #4913
@josedonizetti When KVM runs first and then Virtualbox it gets stuck trying to connect to 127.0.0.1 port 34207

[2019-10-18 09:47] #5629 closed

[2019-10-18 14:24] #5426 closed

[2019-10-18 14:35] jshahid21 commented on #5650
Issue was resolved by changing the ~/.kube/config file "Kind:" field from blank/no entry to Config.

[2019-10-18 14:35] #5650 closed

[2019-10-18 15:20] natebrunette commented on #5610
@tstromberg Are there docs for building minikube from source?

[2019-10-18 15:30] raul1991 commented on #5636
Any update on this @tstromberg  ?

[2019-10-18 15:59] EfraimLA commented on #5610
Yes, is there docs for build minikube? Could be with latest release?

[2019-10-18 16:11] natebrunette commented on #5610
When I try to run the hyperkit command I get this

[code]

[2019-10-18 22:04] nanikjava commented on #5329
Will test this out. Thanks @thomas-riccardi

[2019-10-18 22:04] nanikjava commented on #5329
/assign @nanikjava

[2019-10-18 22:28] banerjeesaby opened #5657 "VBoxManage: error: The virtual machine 'minikube' has terminated unexpectedly during startup with exit code 1 (0x1)"

[2019-10-18 22:54] tstromberg commented on #5007
Closing since this is fixed at head.

[2019-10-18 22:54] #5007 closed

[2019-10-19 02:51] matayto commented on #3022
On Mac OS X Mojave 10.14.5, using VirtualBox as my VM driver. I had same issue as @lozass and @mitchhf. Also using Anyconnect VPN client. I am able to solve this without a reboot using the following command:

 `sudo route -n add -net 192.168.99.1/24 -interface vboxnet0`

[2019-10-19 03:34] nanikjava commented on #5657
Can you provide more log.

[2019-10-19 03:37] nanikjava commented on #5645
@wasimahmadpk If the issue had resolved for you can we close this ticket ?. Thanks

[2019-10-19 03:37] JokerDevops commented on #4350
use command `systemctl stop firewalld`
 I've worked out the problem.

[2019-10-19 04:49] ryand91 opened #5660 "Sorry that minikube crashed."
Command:
$sudo minikube start

Output of the command:

$ sudo minikube start
😄  minikube v1.4.0 on Fedora 30
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🏃  Using the running none "minikube" VM ...
⌛  Waiting for the host to be provisioned ...
🐳  Preparing Kubernetes v1.16.0 on Docker 1.13.1 ...

💣  Failed to setup kubeconfig: unable to a

[2019-10-19 06:57] govargo opened #5661 "Unit Test(make test) FAIL: TestCacheBinary/ok_kubeadm"
**The exact command to reproduce the issue**:

In macOS PC, when the following command exec, and we will get test fail.

[code]

In `pkg/minikube/machine/pkg/minikube/machine/cache_binaries_test.go`,
Unit Test Case "ok kubeadm" of `TestCacheBinary` fails due to download error.

[code]

TestCacheBinary is the unit test which get binary(like kubeadm, kubelet, etc...) and put binary file to temp dire

[2019-10-19 06:57] govargo commented on #5661
/kind bug
/assign

[2019-10-19 07:44] govargo commented on #5509
I'm now fixing this.

And I noticed the `minikube delete` failure is solved by #5654!
So, I'll fix error about `minikube start` failure.

[2019-10-19 07:48] afbjorklund commented on #5660
Lots of permission errors, which is strange when running with `sudo`:

`/var/lib/minikube/binaries/v1.16.0/kubelet: Permission denied`

SELinux not disabled ?

[2019-10-19 07:53] afbjorklund commented on #5643
Why is it a bug that it reads user configuration from the home directory ? I don't see why it is.

[2019-10-19 09:08] stanleynguyen commented on #5643
@afbjorklund Since the ISO is public, I don't think it's necessary to read `.netrc` 🤔

[2019-10-19 09:25] afbjorklund commented on #5643
Oh, it's not _used_ at all (each entry has a machine token anyway). Just wondered why it was "bad" ?
It's a standard configuration file, so read-protecting it is a bit strange... Better to move/rename it, if so.

[2019-10-19 09:27] afbjorklund commented on #5661
Sounds like a bug, `kubeadm` is always link while `kubectl` will be $GOOS.

[2019-10-19 09:33] gkwan commented on #5615
@nanikjava  Interesting suggestion but we do not use virtualbox for our VMs.
There is non-responsiveness to security issues by Oracle as evident with this ticket:
https://www.virtualbox.org/ticket/17987
Would like to stick to the original problem why minikube failed on kvm.

[2019-10-19 10:27] wasimahmadpk commented on #5645
Hi,

Yes I got it fixed yesterday

Thank you

Regards
Wasim

On Sat, Oct 19, 2019, 5:37 AM Nanik <notifications@github.com> wrote:

[2019-10-19 10:39] findpritish commented on #5568
**Switch spctl off**

`sudo spctl --master-disable`

`brew cask install minikube`
`minikube start`

**Switch spctl off**

`sudo spctl --master-enable`

[2019-10-19 10:41] nanikjava commented on #5329
Tried running minikube using VirtualBox and run it with the following command

Can see inside the VM kubelet ran with the following command

...and tried running with the following command

minikube start --extra-config=kubelet.config=/var/lib/kubelet/config.yaml

can see the config.yaml is attached to the command line

is this the problem where the config.yaml is not 'attach' as part of the comma

[2019-10-19 11:23] ryand91 commented on #5660
After disabling SELinux also getting minikube crashed error.

😄  minikube v1.4.0 on Fedora 30
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🔄  Starting existing none VM for "minikube" ...
⌛  Waiting for the host to be provisioned ...
🐳  Preparing Kubernetes v1.16.0 on Docker 1.13.1 ...
🔄  Relaunching Kubernetes using kubeadm ...

💣  Error

[2019-10-19 11:31] afbjorklund commented on #5660
I think you need to increase the minikube verbosity, in order to see why `kubeadm` failed to run.

See also https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

Since it has run unsuccessfully before, you might have to run `minikube delete` to do a "reset".

Running it locally on the host is always going to be a little more trouble than running in the VM.

[2019-10-19 11:41] afbjorklund commented on #5568
I'm not sure how this "new" Apple requirement can be integrated into minikube release process:

https://developer.apple.com/developer-id/

https://developer.apple.com/documentation/security/notarizing_your_app_before_distribution

Maybe @tstromberg can take a look at if and how such a workflow could be added to the CI ?

[2019-10-19 11:51] stanleynguyen commented on #5643
My `.netrc` has always been read protected from the start though. I don't know what the convention out there is but it makes sense to me as this file contains some of my passwords to cloud services (heroku, etc.)

[2019-10-19 11:59] afbjorklund commented on #5577
Note that maintaining SonarQube is like a full-time position, due to the amount of false positives...

Still a good idea, but none of the current complaints seems like it was actually any real issue ?

i.e. it currently lists:
* 12 Bugs
* 234 Vulnerabilities
* 276 Code Smells

All of these would need to be handled.

---

PS. I addressed the 3 Go bugs, the rest were in the website (8 HTML and 1 CSS

[2019-10-19 12:52] afbjorklund commented on #5549
Hopefully else understands how the "registry" is supposed to work, and can fix this ?

An interesting story on RHEL 8 is that installing `podman-docker` makes it segfault instead.
Mostly due to the "unexpected" advertisement on stdout, about docker compatibility issues:

[code]

[2019-10-19 18:52] zd-dalibor opened #5666 "ssh: up button does not pull up bash history on Windows"
When I stop my minkube with `minikube stop` command and then I try to relaunch it with `minikube start` I got totally fresh vm.

Is there commands for standard shutdown/restart/power on/power off without touching vm file system. Can I use vm tools interface for this functionality (hyper-v manager for example)

![image](https://user-images.githubusercontent.com/226822/67149982-317eba00-f2b2-11e9-8f

[2019-10-19 19:21] leson commented on #2412
minikube delete

and then

minikube start --vm-driver kvm2

[2019-10-19 20:13] afbjorklund opened #5667 "Add support for running on arm64 (aarch64)"
For instance on the Raspberry Pi, using the `none` driver (localhost).

Note that you will need more than 1G of memory, or use a swap file.

No virtualization on this platform, but works OK with `generic` driver.

That is, work on the laptop and use ssh to connect to the "bare metal".

[2019-10-19 20:16] afbjorklund opened #5668 "Problem with "exotic arch" for addons"
It seems like the dash went missing:

`Failed to pull image "k8s.gcr.io/kube-addon-managerarm64:v9.0.2": rpc error: code = Unknown desc = Error response from daemon: manifest for k8s.gcr.io/kube-addon-managerarm64:v9.0.2 not found`

It is supposed to be "" (for amd64) or "-arm64"

[code]

Workaround is re-tagging the images locally.

[code]

[2019-10-19 20:56] afbjorklund commented on #5667
[code]

* https://www.raspberrypi.org/products/raspberry-pi-3-model-b/

* https://fedoraproject.org/wiki/Architectures/ARM/Raspberry_Pi

* https://download.docker.com/linux/static/stable/aarch64/

* https://docs.docker.com/config/daemon/systemd/

[2019-10-19 23:44] #3032 closed

[2019-10-19 23:44] #3046 closed

[2019-10-19 23:44] #2950 closed

[2019-10-20 00:45] #3326 closed

[2019-10-20 00:45] #3352 closed

[2019-10-20 00:45] #3474 closed

[2019-10-20 00:45] #3504 closed

[2019-10-20 04:39] nanikjava commented on #5667
This is going to be interesting.

I've got ODROID XU4 (https://www.hardkernel.com/shop/odroid-xu4-special-price/)  and it has 2GB RAM and can run Kernel 4.14 LTS

Interested to help out to make it run on the ODROID board.

Thanks

[2019-10-20 07:49] afbjorklund commented on #5667
The dedicated boards are probably a better match, all the Raspberry Pi (except for the latest model 4) have either 512M or 1G of memory. And this is **not** enough for running `kubeadm` (only for `localkube`)

While you _can_ add swap, that is not a sustainable (nor efficient) way to run. Better to get a dedicated distribution, such as k3s ? There is also some ongoing issue with the CPU usage of k

[2019-10-20 11:34] kubesure opened #5669 "Show progress when downloading images during `minikube start`"
**The exact command to reproduce the issue**:
minikube start --vm-driver=kvm2 --alsologtostderr -v=8

**The full output of the command that failed**:<details>
[minikube-wait-forever.txt](https://github.com/kubernetes/minikube/files/3747791/minikube-wait-forever.txt)

</details>

**The output of the `minikube logs` command**:<details>

[wait-forever-minikube-logs.txt](https://github.com/kubernetes/

[2019-10-20 11:57] afbjorklund commented on #5667
It is possible to use CRI-O instead of Docker, but unfortunately the fedora `cri-o` package is buggy...
The 1-13-1.14 have issues and 1.15 is hidden (https://bugzilla.redhat.com/show_bug.cgi?id=1754170)

[code]

Newer packages:

* https://koji.fedoraproject.org/koji/packageinfo?packageID=24240

  * https://koji.fedoraproject.org/koji/buildinfo?buildID=1401278

Ugly workaround:
[code]

But except f

[2019-10-20 12:25] ryand91 commented on #5660
after 'minikube delete' also it's showing the same that minikube crashed.

[2019-10-20 12:59] pnasrat commented on #4291
I think xhyve is known broken eg it has been removed in minikube kubernetes/minikube#4291 and the minishift docs probably need to be updated to reflect that.

Can you try using `minikube start --vm-driver=virtualbox` rather than xhyve.

[2019-10-20 14:15] afbjorklund commented on #5660
We need the logs (verbose is better), it should not show "using the running" if you deleted it ?

[code]

[2019-10-20 14:30] afbjorklund commented on #5669
Logs look happy enough, maybe it just took a long time to download all the k8s images ?

k8s.gcr.io/coredns_1.6.2 completed in 1m20.200450506s
k8s.gcr.io/kube-scheduler_v1.16.0 completed in 6m11.137268171s
k8s.gcr.io/kube-apiserver_v1.16.0 completed in 7m20.288675351s

Still missing etcd, which is the biggest image. And there was no more output whatsoever ?

[code]

[2019-10-20 14:57] afbjorklund commented on #5667
If you prefer Debian over Fedora, this OS distribution should work:
https://blog.hypriot.com/post/building-a-64bit-docker-os-for-rpi3/

Haven't tried it myself. But the regular (32-bit) HypriotOS works fine...
See also https://wiki.debian.org/Arm64Port with the upstream details.

[2019-10-20 17:57] blueelvis opened #5672 "hyperv: GetVMHostIP fails if default switch is used"
**The exact command to reproduce the issue**:
[code]

The cluster starts fine but when I was trying to refactor the CIFS mounts on Windows + Hyper-V, I started getting -
[code]

After checking, the config file inside `machines/minikube`, I saw that the `VSwitch` field is empty.

Meanwhile, alternatively, I can specify the cluster start like this and it will start fine -
[code]

/assign

[2019-10-20 17:59] kubesure commented on #5669
No more output. These are the complete logs after the process completed.

[2019-10-20 18:13] woodcockjosh commented on #5669
Also having this problem. It actually never starts for me
[code]

[2019-10-20 20:49] commitay commented on #2141
I've opened a PR for a `minikube` formula: https://github.com/Homebrew/homebrew-core/pull/45603

[2019-10-20 21:05] #3438 closed

[2019-10-20 23:07] #3837 closed

[2019-10-21 01:09] #3941 closed

[2019-10-21 08:55] ghd258 opened #5673 "X Unable to start VM: start: exit status 1"
minikube start --vm-driver=hyperv
* minikube v1.4.0 on Microsoft Windows 10 Enterprise 10.0.18362 Build 18362
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Starting existing hyperv VM for "minikube" ...
* Retriable failure: start: exit status 1
* Deleting "minikube" in hyperv ...
* Tip: Use 'minikube start -p <name>' to create a new clust

[2019-10-21 09:07] ghd258 commented on #5673
PS C:\Users\Administrator> minikube start
* minikube v1.4.0 on Microsoft Windows 10 Enterprise 10.0.18362 Build 18362
* Creating hyperv VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
E1021 17:00:57.205704    7208 cache_images.go:79] CacheImage k8s.gcr.io/k8s-dns-dnsmasq-nanny-amd64:1.14.13 -> C:\Users\Administrator\.minikube\cache\images\k8s.gcr.io\k8s-dns-dnsmasq-nanny-amd64_1.14.13 failed: fetchin

[2019-10-21 09:10] ghd258 commented on #5673
X Error starting cluster: cmd failed: sudo env PATH=/var/lib/minikube/binaries/v1.16.0:$PATH kubeadm init --config /var/tmp/minikube/kubeadm.yaml  --ignore-preflight-errors=DirAvailable--etc-kubernetes-manifests,DirAvailable--var-lib-minikube,FileAvailable--etc-kubernetes-manifests-kube-scheduler.yaml,FileAvailable--etc-kubernetes-manifests-kube-apiserver.yaml,FileAvailable--etc-kubernetes-manifes

[2019-10-21 09:14] link78 opened #5674 "Minikube crashed"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-10-21 09:34] ghd258 commented on #3250
PS C:\Users\Administrator> minikube.exe start --registry-mirror=https://h35mk3lp.mirror.aliyuncs.com --vm-driver="hyperv" --memory=4096 --hyperv-virtual-switch="MinikubeSwitch"
* minikube v1.4.0 on Microsoft Windows 10 Enterprise 10.0.18362 Build 18362
* Creating hyperv VM (CPUs=2, Memory=4096MB, Disk=20000MB) ...
E1021 17:31:33.381591   14408 cache_images.go:79] CacheImage k8s.gcr.io/kube-schedul

[2019-10-21 09:51] szymczakk commented on #3866
Hi, maybe it will help someone but in my case my "host" does not had enough memory to start minukube VM (I had 3gb with dynamic allocation).

What I've done to find it out:
1. `minikube start`
2. just after creating my VM I stopped minikube
3. in hyperv manager I tried to run "minikube" VM on my own and get info that I dont have enough memory.

Hope it will help someone.

[2019-10-21 10:21] tanjunchen opened #5675 "update golang 1.12.9 to 1.12.10.There is a CVE for Go and this vulnerability is fixed in 1.12.10"
There is a CVE for Go and this vulnerability is fixed in 1.12.10. We should update it.
See: https://nvd.nist.gov/vuln/detail/CVE-2019-16276

See issue golang/go#34540
Seems this is fixed in 1.12.10. I suggest we should update to 1.12.10  or later
I recommend 1.12.12
/kind bug
/priority important-soon

[2019-10-21 11:26] thomas-riccardi commented on #5329
@nanikjava yes, the `kubelet --config=/var/lib/kubelet/config.yaml ` is probably the exepected behavior.

[2019-10-21 14:15] anthonma commented on #5634
Since I'm still facing this issue, I would appreciate any kind of help.

[2019-10-21 15:21] Kane-eNote commented on #5353
I was running into this issue while trying to let users create their own test clusters at a shared box.

Is there a similar issue for the following files, which need to be separated as well?
[code]

In addition, is it safe using a shared user for now (e.g. via `sudo -u <user> minikube ...`) to manage different "profiles"?
As far as I understood from the code (from `juju/mutex_flock`), these files

[2019-10-21 16:37] #5645 closed

[2019-10-21 16:41] #5668 closed

[2019-10-21 16:43] #5239 closed

[2019-10-21 16:45] #5661 closed

[2019-10-21 17:17] #4883 closed

[2019-10-21 17:26] #5358 closed

[2019-10-21 17:48] afbjorklund opened #5677 "crio.conf is hard-coded to a specific version"
The contents of `/etc/crio/crio.conf` is _very_ context-sensitive to a particular version of cri-o:

https://github.com/kubernetes/minikube/commits/master/deploy/iso/minikube-iso/package/crio-bin/crio.conf.default

Yet we are overwriting the whole thing with a static template, even if only changing `pause_image`.

[code]

This breaks things, when there is a mismatch between `minikube` and `minikub

[2019-10-21 17:58] douglaswth commented on #1574
@tstromberg Oh! Haven't looked at this in a while, but another coworker was running into this issue so it's back on my radar. If you know of any way to poke the maintainers of docker/machine that might be helpful.

[2019-10-21 18:01] afbjorklund commented on #94
@ghostsquad : I was meaning to resume work on at least resurrecting the old functionality in #2539.
But got side-tracked with some other development, such as other runtimes and other architectures.

However, it is still planned to-do. Running multiple VMs, and running minikube in Docker, is next up.
Hopefully we should have an updated prototype ready in a couple of weeks, as in "November" ('19)

[2019-10-21 19:13] nanikjava commented on #5329
thanks @thomas-riccardi will put a fix for this.

[2019-10-21 21:14] tstromberg commented on #5674
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2019-10-21 21:16] tstromberg commented on #5666
Interesting - this shouldn't happen, and diverges from the behavior seen with other hypervisors.

Help wanted.

[2019-10-21 21:26] tstromberg commented on #5666
Also, if it matters, suspend/resume is part of our 2020 roadmap: #5452

[2019-10-21 21:26] tstromberg commented on #5657
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-10-21 21:26] #5657 closed

[2019-10-21 21:35] tstromberg commented on #4540
As mentioned in #3022, some workarounds people have found:

- `sudo route -n add -net 192.168.99.1/24 -interface vboxnet0`
- Disabling VPN and rebooting
- Reinstalling VirtualBox
- Using the hyperkit driver (`--vm-driver=hyperkit`)

Root cause remains unknown.

[2019-10-21 21:37] tstromberg commented on #5597
This issue appears to be a duplicate of #4540, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-10-21 21:37] #5597 closed

[2019-10-21 21:37] tstromberg commented on #5211
This issue appears to be a duplicate of #4540, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-10-21 21:37] #5211 closed

[2019-10-21 21:38] tstromberg commented on #5472
This issue appears to be a duplicate of #4540, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-10-21 21:38] #5472 closed

[2019-10-21 21:46] tstromberg commented on #5499
@GiuseppeMP - I believe this may be fixed by minikube v1.5.0-beta.0 - do you mind testing it?

https://github.com/kubernetes/minikube/releases/tag/v1.5.0-beta.0

[2019-10-21 21:47] tstromberg commented on #5524
@kemarsh - Do you mind trying with minikube v1.5.0-beta.0? We fixed the bug that masked the libmachine logging, which would be very helpful to see here:

https://github.com/kubernetes/minikube/releases/tag/v1.5.0-beta.0

[2019-10-21 21:48] tstromberg commented on #5531
You may need to start the dashboard?

[2019-10-21 21:49] tstromberg commented on #5531
I'm glad this got sorted.

minikube v1.5.0-beta.0 now does a connectivity check with the image repository, which should clarify the issue some.

[2019-10-21 21:49] #5531 closed

[2019-10-21 21:51] tstromberg commented on #5539
I'm not sure there is anything we can do here: if the container image isn't available, it isn't possible to run this pod.

Is there an alternative you recommend?

[2019-10-21 21:52] tstromberg commented on #5546
Thanks for the update!

[2019-10-21 21:59] tstromberg commented on #5571
@vorpleblade - My guess is that the hyperkit driver is crashing, possibly segfaulting.

Do you mind trying with minikube v1.5.0-beta.0? It's unlikely to fix the problem, but we fixed an issue with libmachine logging that was blocking our ability to tell what was going on here.

https://github.com/kubernetes/minikube/releases/tag/v1.5.0-beta.0

[2019-10-21 22:44] tstromberg commented on #3760
@vaibhavk - Anything we can help with on this issue?

[2019-10-21 22:48] tstromberg opened #5681 "Reduce start latency by 3X (~50s)"
Easy win is to set --wait=false, but still wait for apiserver to return a pod.

[2019-10-21 22:49] tstromberg opened #5682 "Reduce VM CPU overhead by 20%"
Related to #3207 and #5398

#3207 can probably be closed - I don't believe we are at 50% usage any longer.

[2019-10-21 22:50] tstromberg opened #5683 "Localized installation documentation"

[2019-10-21 22:50] tstromberg opened #5684 "<3% Integration test flakiness"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-10-21 22:51] tstromberg opened #5685 "Graphical User Interface - Menubar UI Prototype"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-10-21 22:51] tstromberg opened #5686 "Remove inaccurate documentation from kubernetes.io/"

[2019-10-21 22:53] tstromberg opened #5687 "Block merges on failing integration tests"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-10-21 23:27] tstromberg commented on #5634
@anthonma - This appears to be a VirtualBox issue rather than a minikube issue, so I spent some time hunting out some reasons why. Some possibilities I found were:

- If your machine is running low on memory. How much memory does your machine have? minikube requires 2.1GB of RAM to be available
- There are evidently some power management settings so that idle VM's get automatically paused: https:/

[2019-10-21 23:51] tstromberg commented on #5644
I'm not an expert with Kubernetes networking, but overall, that seems right to me.

That said, I don't see any hard requirement that a node should be able to access the ClusterIP, though pods running on that node most definitely need to. I'd be happy to accept any evidence to the contrary.

I don't have access to a non-minikube Kubernetes node at the moment to test this behavior. Do you happen to

[2019-10-22 00:27] GiuseppeMP commented on #5499
Hey @tstromberg, it's working properly!!

![image](https://user-images.githubusercontent.com/4944009/67252454-68d39f00-f449-11e9-87b4-a9542d93bf4b.png)

[2019-10-22 00:29] ryanhanks commented on #5036
I'm also seeing this on v1.4.0. Let me know if you're struggling with steps to reproduce.

[2019-10-22 01:37] #5080 closed

[2019-10-22 01:47] jhtaiwwy opened #5688 "minikube start --vm-driver=none 出错"
**重现问题所需的命令**： minikube start --vm-driver=none

**失败的命令的完整输出**：<details>
minikube v1.4.0 on Centos 7.7.1908
  - KUBECONFIG=/etc/kubernetes/admin.conf
* Using image repository registry.cn-hangzhou.aliyuncs.com/google_containers
* Running on localhost (CPUs=4, Memory=7982MB, Disk=40188MB) ...
* OS release is CentOS Linux 7 (Core)
* Preparing Kubernetes v1.16.0 on Docker 19.03.4 ...
* Downloading kub

[2019-10-22 06:12] Atvo commented on #5539
No I guess not. My wish would be that it would be possible to submit a list of repositories from where the images would be downloaded. But I do realize this is a quite specific issue, and I don't expect that many are affected by this, so fixing this has probably quite low priority.

BTW, I'm still able to use Minikube by using proxies, but it isn't an optimal solution.

[2019-10-22 07:33] njuptlzf opened #5689 "Failed to update cluster: starting kubelet: running command: sudo systemctl daemon-reload && sudo systemctl start kubelet: exit status 1"
**The exact command to reproduce the issue**:
 minikube start --vm-driver=none

**The full output of the command that failed**:<details>
* minikube v1.4.0 on Newstart 5.04
* Running on localhost (CPUs=4, Memory=5455MB, Disk=19966MB) ...
* OS release is NewStart Carrier Grade Server Linux Core 5.04
* Found network options:
  - NO_PROXY=10.46.179.228
  - http_proxy=xxx
  - https_proxy=xxx
  - no_pro

[2019-10-22 07:37] njuptlzf commented on #5689
When I use the host(Ubuntu),it works;
When I use the vm(cgsl),It doesn't works.

[2019-10-22 07:53] njuptlzf commented on #5689
vi  /etc/systemd/system/kubelet.service.d/10-kubeadm.conf
[Unit]
Wants=docker.socket

[Service]
ExecStart=
ExecStart=/var/lib/minikube/binaries/v1.16.0/kubelet --authorization-mode=Webhook --bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --cgroup-driver=cgroupfs --client-ca-file=/var/lib/minikube/certs/ca.crt --cluster-dns=xxx --cluster-domain=cluster.local --container-runtime=docker

[2019-10-22 07:54] njuptlzf commented on #5689
[root@lzf05 home]# systemctl status kubelet
● kubelet.service - Kubernetes Kubelet Server
   Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In: /etc/systemd/system/kubelet.service.d
           └─10-kubeadm.conf
   Active: inactive (dead) (Result: exit-code) since Tue 2019-10-22 23:42:37 CST; 3min 31s ago
     Docs: https://github.com/GoogleCloudPlatfo

[2019-10-22 08:59] nisiyong commented on #4589
@dfang Could you show the final solution here ? I met same problem...

[2019-10-22 09:40] DevvG opened #5690 "kubelet fails while starting minikube in centos8 vm"
**The exact command to reproduce the issue**:
minikube start --vm-driver=none --apiserver-ips 127.0.0.1 --apiserver-name localhost

**The full output of the command that failed**:
<details>
W1022 05:09:44.106937    8856 root.go:239] Error reading config file at /root/.minikube/config/config.json: open /root/.minikube/config/config.json: no such file or directory
I1022 05:09:44.107805    8856 notif

[2019-10-22 12:41] tanjunchen commented on #5675
fixed by #5676

[2019-10-22 12:41] #5675 closed

[2019-10-22 13:31] devendradate commented on #2755
Ubunto 18.04
`minikube delete` followed by `minikube start` worked for me

[2019-10-22 14:52] nikitinalexander commented on #2977
This helped me solve the issue.

minikube version: v1.4.0
commit: 7969c25a98a018b94ea87d949350f3271e9d64b6

Installed via Choco.

[2019-10-22 18:46] asloan7 opened #5691 "install - minikube-v1.4.0 on Windows 10 - no External vswitch nor Default Switch found"
PS C:\Windows\system32> choco upgra
Chocolatey v0.10.11
Upgrading the following packages:
minikube
You have minikube v0.30.0 installed. Version 1.4.0 is available based on your source(s).
Progress: Downloading Minikube 1.4.0... 100%

Minikube v1.4.0 [Approved]
minikube package files upgrade completed. Performing other installation steps.
 ShimGen has successfully created a shim for minikube.exe
 T

[2019-10-22 18:57] tstromberg commented on #1574
@douglaswth - Do you mind proposing the PR to https://github.com/machine-drivers/machine ? It's the fork of docker/machine that minikube uses, since docker/machine hasn't been seeing much activity.

@afbjorklund and @gbraad have approval rights there.

[2019-10-22 19:01] tstromberg commented on #1574
/cc @blueelvis and @sharifelgamal (our Windows leads) for visibility

[2019-10-22 19:08] tstromberg commented on #5691
Interesting. Do you mind sharing the output of:

`Get-VMSwitch`

Thanks!

[2019-10-22 19:43] asloan7 commented on #5691
PS C:\Windows\system32> Get-VMSwitch
Get-VMSwitch : Hyper-V encountered an error trying to access an object on computer 'PATAPL-28WMZF2' because the object
was not found. The object might have been deleted. Verify that the Virtual Machine Management service on the computer
is running.
At line:1 char:1
+ Get-VMSwitch
+ ~~~~~~~~~~~~
    + CategoryInfo          : ObjectNotFound: (:) [Get-VMSwitch], V

[2019-10-22 20:00] tstromberg commented on #5691
@asloan7 - Interesting, and atypical. Do you mind trying to create an external switch to see if minikube works properly with it?

https://docs.microsoft.com/en-us/windows-server/virtualization/hyper-v/get-started/create-a-virtual-switch-for-hyper-v-virtual-machines

[2019-10-22 20:14] dsebastien commented on #5423
I have the same issue with VirtualBox.
I'm really wondering what causes this and have no clue where to start looking..

[2019-10-22 21:08] douglaswth commented on #1574
@tstromberg Okay, I've made machine-drivers/machine#22 for that.

[2019-10-22 21:31] davidthewatson opened #5696 "gluster link is 404"
This link is broken:
https://minikube.sigs.k8s.io/docs/tasks/deploy/addons/storage-provisioner-gluster/README.md
in this page:
https://minikube.sigs.k8s.io/docs/tasks/addons/

[2019-10-22 21:32] davidthewatson opened #5698 "tiller link is broken"
This link is broken:

https://minikube.sigs.k8s.io/docs/tasks/deploy/addons/helm-tiller/README.md

in this page:

https://minikube.sigs.k8s.io/docs/tasks/addons/

[2019-10-22 21:32] nanikjava commented on #5329
@tstromberg @sharifelgamal PR submitted https://github.com/kubernetes/minikube/pull/5697

[2019-10-22 22:15] deatherving commented on #3522
@kamilgregorczyk Did you set the configuration in Virtual Box?

[2019-10-23 03:46] jroper opened #5699 "service: --format flag missing?"
It used to be possible to do this:

[code]

And then you'd have the host name and port, without a prefixed scheme, and this is useful because not everything is http or https. Since the `--format` option was removed, this is no longer possible.

In the meantime, this seems to be the most expedient way for a script to get a `hostname:port` string:

[code]

[2019-10-23 04:55] JaremPDQ commented on #5691
I had the same issue described above and creating a new virtual switch and instructing minikube to use it solved my problem.

[2019-10-23 09:13] laur89 commented on #5595
Having same issue with minikube 1.4.0;

**The exact command to reproduce the issue**:

    CHANGE_MINIKUBE_NONE_USER=true sudo -E minikube start --extra-config=apiserver.service-node-port-range=80-32767 --vm-driver=none --apiserver-ips 127.0.0.1 --apiserver-name localhost --alsologtostderr --v=3 --memory=4096

**The full output of the command that failed**:

[view as a gist](https://gist.github.co

[2019-10-23 10:37] nikhilgithub opened #5701 "unable to create/update the DNS service: etcdserver: request timed out (resource exhaustion?)"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>

* minikube v1.4.0 on Microsoft Windows 10 Enterprise 10.0.17134 Build 17134
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Using the running hyperv "minikube" VM ...
* Waiting for the host to be provisioned ...
* Preparin

[2019-10-23 10:40] nikhilgithub commented on #5701
This happens after installing below crds for knative:

 kubectl apply --selector knative.dev/crd-install=true \
   --filename https://github.com/knative/serving/releases/download/v0.9.0/serving.yaml \
   --filename https://github.com/knative/eventing/releases/download/v0.9.0/release.yaml \
   --filename https://github.com/knative/serving/releases/download/v0.9.0/monitoring.yaml

After running thes

[2019-10-23 10:47] nanikjava commented on #5696
/assign @nanikjava

[2019-10-23 10:47] nanikjava commented on #5698
/assign @nanikjava

[2019-10-23 11:37] no3am commented on #3327
I'll just add our use case for traction I suppose as we need this fix urgently.
I'm running postgres on minikube, I don't want a fresh entity, I've took a ready data from production and wanna mount it to the postgres pod running on minikube - I'm able to do that !

Because the data is stored on my Mac and mounted into the pod, it has root:root on the data folder which is making it impossible for m

[2019-10-23 12:00] anthonma opened #5703 "Change Minikube Home"
I'm trying to run a kubernetes cluster with minikube on a linux vm.
Since the root directory has no space left I want to change the location of the .minikube and .kube folders.
I tried to set the MINIKUBE_HOME variable via
[code]
Afterwards I'm executing:
[code]
The command terminates with an error:
[code]
The cluster is created nevertheless, but at the wrong location.

**The exact command to repr

[2019-10-23 12:53] zhangxiaoyu-zidif opened #5704 "minikube: RunContainerError"
**The exact command to reproduce the issue**:
when use the latest minikube and execute minikube start, it will show container created failed, this is because of https://success.docker.com/article/error-oci-runtime-create-failed-docker-1809

**The full output of the command that failed**:<details>
when to describe pod
[code]

</details>
**The output of the `minikube logs` command**:<details>
</deta

[2019-10-23 14:29] jgoeres opened #5706 "Rebooting the Minikube VM leads to docker daemon service config disappearing"
$ minikube version
    minikube version: v1.4.0
    commit: 7969c25a98a018b94ea87d949350f3271e9d64b6

I am starting Minikube with

minikube start --disk-size 30G --cpus 4 --insecure-registry <ourInternalInsecureRegistry>:<Port> --memory 12g --kubernetes-version=v1.15.4

I chose Kubernetes 1.15.4 because the current released version of Helm doesn't work with 1.16 and Helm 2.15 has a nasty bug.

The

[2019-10-23 14:41] bauson-com opened #5707 "Unable to start minikube in macOS Catalina"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
😄  minikube v1.4.0 on Darwin 10.15
🔥  Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🐳  Preparing Kubernetes v1.16.0 on Docker 18.09.9 ...
🚜  Pulling images ...
🚀  Launching Kubernetes ...

💣  Error starting cluster: timed out waiting to elevate kube-system RBAC

[2019-10-23 14:47] asloan7 commented on #5691
Can you paste the commands to do this? I haven't had success yet

[2019-10-23 14:48] asloan7 commented on #5691
PS C:\Windows\system32> Get-NetAdapter

Name                      InterfaceDescription                    ifIndex Status       MacAddress             LinkSpeed
----                      --------------------                    ------- ------       ----------             ---------
vEthernet (DockerNAT)     Hyper-V Virtual Ethernet Adapter              5 Up           00-15-5D-60-12-02        10 Gbps

[2019-10-23 14:52] ngkmh commented on #5595
kubectl get pod coredns-5644d7b6d9-58hkz -n kube-system -o yaml
apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2019-10-11T10:45:22Z"
  generateName: coredns-5644d7b6d9-
  labels:
    k8s-app: kube-dns
    pod-template-hash: 5644d7b6d9
  name: coredns-5644d7b6d9-58hkz
  namespace: kube-system
...
...
...
status:
  conditions:
  - lastProbeTime: null
    lastTransitionTime: "2019-10-20T03:

[2019-10-23 15:20] afbjorklund commented on #5706
This is a known bug, currently it is not possible to manage them VM outside of minikube start. :-(

You can set the preferred configuration with `minikube config`, to be able to run `minikube start`.

[2019-10-23 15:25] afbjorklund commented on #5703
You need to use `sudo MINIKUBE_HOME=/data/amartin minikube`, in order to preserve env variables.

But there could be other side effects of `/root` not having any space, so you should probably fix that.

[2019-10-23 15:28] afbjorklund commented on #5703
Another problem is that the config will be owned by owned by root, so you will _always_ need sudo.

However, I'm not sure the home has anything to do with the startup failure... SELinux is more likely.

[2019-10-23 15:31] zbelghali opened #5708 "Minikube on Cisco Anyconnect VPN fails"
**The exact command to reproduce the issue**:
minikube start --logtostderr

**The full output of the command that failed**:<details>

I1023 11:09:33.855260    2309 ssh_runner.go:102] SSH: sudo ln -s '/etc/ssl/certs/minikubeCA.pem' '/etc/ssl/certs/b5213941.0'

🔄  Relaunching Kubernetes using kubeadm ...
I1023 11:09:33.859290    2309 kubeadm.go:396] RestartCluster start
I1023 11:09:33.859302    2309

[2019-10-23 16:37] tstromberg commented on #5423
This bug is reflective of the hypervisor bridge interface not being able to route packets to the internet. v1.5.0 does a better job of detecting and warning about the condition.

@dsebastien - I suggest opening a separate bug for virtualbox.

[2019-10-23 16:42] tstromberg commented on #5688
您介意共享`lsof -i4TCP：10251 -P -n`的输出吗？

看来您可能已经在该主机上运行了Kubernetes，没有驱动程序与此冲突。 是否有可能是由其他系统（例如microk8s）设置的？ （＃5484）。

值得注意的是，与8443端口没有冲突，这很有趣。 如果这似乎是由于安装了旧的minikube造成的，则可以通过运行`sudo minikube delete`来解决此问题。

[2019-10-23 16:50] tstromberg commented on #5689
It appears that this command failed:

`/bin/mkdir -p /sys/fs/cgroup/cpuset/system.slice`

Do you mind trying to run this command with sudo to see the result? Also, this workaround may help:

`minikube start --vm-driver=none --extra-config=kubelet.cgroup-driver=systemd`

Please let me know if it helps.

[2019-10-23 17:03] kmplngj opened #5709 "Download rpm version 1.4 does not work"
**The exact command to reproduce the issue**:
Go to https://minikube.sigs.k8s.io/docs/start/linux/
Switch tab to _Fedora/Red Hat (rpm)_
Copy command to Terminal

**The full output of the command that failed**:<details>
curl: (7) Failed to connect to storage.googleapis.com port 443: Connection refused
</details>

**The operating system version**:
Fedora 30

[2019-10-23 17:24] tstromberg commented on #4172
Getting this right appears to be relatively easy for Docker: add a `CGroupDriver` function to `cruntime/docker.go` that returns the command @afbjorklund mentioned, and call it from `NewKubeletConfig` instead of setting this line in `versionSpecificOpts`:

`config.NewUnversionedOption(Kubelet, "cgroup-driver", "cgroupfs"),`

crio is slightly more difficult, but this works:

[code]
$ sudo crictl inf

[2019-10-23 17:26] afbjorklund commented on #5709
As a fallback solution, all binaries are also available at GitHub

https://github.com/kubernetes/minikube/releases/download/v1.4.0/minikube-1.4.0.rpm

[2019-10-23 17:28] afbjorklund commented on #5709
The download works from here though. Wonder if there is a proxy involved here somewhere ?

https://storage.googleapis.com/minikube/releases/latest/minikube-1.4.0.rpm

[2019-10-23 17:32] tstromberg commented on #5699
As far as I know, minikube `--format` wasn't removed, though I will note that it no longer appears  `minikube help`. It's definitely there though:

`serviceCmd.PersistentFlags().StringVar(&serviceURLFormat, "format", defaultServiceFormatTemplate, "Format to output service URL in. This format will be applied to each url individually and they will be printed one at a time.")`

Were you getting an er

[2019-10-23 17:38] tstromberg commented on #5701
My best guess is that your cluster has run out of resources and that services are timing out.

https://github.com/knative/docs/blob/master/docs/install/Knative-with-Minikube.md mentions that you will need at least  `--memory=8192 --cpus=6`

Here's one sign in your logs that things are in bad shape:

`  10:25:28 up 11:39,  0 users,  load average: 46.59, 44.70, 44.75`

The other is this apiserver cr

[2019-10-23 17:41] tstromberg commented on #5706
Correct, you will need to run `minikube start` to start the appropriate services in the VM again.

Much of this is due to the root filesystem of the VM being tmpfs, and thus wiped on reboot.

[2019-10-23 17:48] tstromberg commented on #5707
This issue appears to be a duplicate of #4540, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-10-23 17:48] #5707 closed

[2019-10-23 17:49] pawankaushal commented on #4587
running the VirtualBox installation again in repair mode will fix it again. I had the results with VirtualBox6.

[2019-10-23 17:49] tstromberg commented on #5415
This issue appears to be a duplicate of #4540, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-10-23 17:49] #5415 closed

[2019-10-23 17:50] tstromberg commented on #5238
This issue appears to be a duplicate of #4540, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-10-23 17:50] #5238 closed

[2019-10-23 17:51] tstromberg commented on #5708
This issue appears to be a duplicate of #4302, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-10-23 17:51] #5708 closed

[2019-10-23 17:51] kmplngj commented on #5709
My mistake. PiHole blocked the google domain.

[2019-10-23 17:51] #5709 closed

[2019-10-23 17:51] tstromberg commented on #5499
Excellent news! Will wait for the v1.5.0 release before closing.

[2019-10-23 17:53] tstromberg commented on #5539
@Atvo - is there a different repository that would have this image that you could use?

As far as I know, the underlying image pull code in Kubernetes doesn't allow for multiple repositories, but we could hard-code something for a repository to pull this specific addon from.

[2019-10-23 17:56] tstromberg commented on #5595
These errors in your kubelet log are concerning:

[code]

might it be that one of your filesystems was running low on space? I'd be curious to see the output of:

`kubectl describe node`

[2019-10-23 18:02] afbjorklund commented on #5706
Actually, this is a design decision from that ticket being indirectly reference above.
Rather than hard-coding something into the ISO image, it was generated at startup.

See 56e250e9796bb1600ae867a47eb60bdcc44e32ad

It would be better if this could be stored in _configuration_ (and eventually persisted),
rather being hidden away in some obscure systemd file that is problematic to change ?

[2019-10-23 18:04] medyagh commented on #4870
I am closing this issue, since @priyawadhwa is working on performance metrics https://github.com/kubernetes/minikube/pull/5678

[2019-10-23 18:04] #4870 closed

[2019-10-23 18:04] afbjorklund commented on #5706
The auto-upgrade feature is the discussion topic of #2570

[2019-10-23 18:12] #4856 closed

[2019-10-23 18:12] medyagh commented on #4856
closing since this was refactored

[2019-10-23 18:14] medyagh commented on #5617
I would be happy to review any PR that would add this check !

[2019-10-23 18:14] sharifelgamal commented on #5489
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-10-23 18:14] #5489 closed

[2019-10-23 18:16] sharifelgamal commented on #5480
希望我能关闭此按钮就可以了-信息不足以使其无法执行，并且已经过去了一段时间。 如果您能够提供其他详细信息，则可以随时在注释中添加 /reopen 来重新打开它。

[2019-10-23 18:16] #5480 closed

[2019-10-23 18:17] tstromberg commented on #5235
As best as I can tell, this is a relatively benign bug, as the operation is retried. It may represent a loaded down apiserver.

Related upstream issue: https://github.com/kubernetes/kubernetes/issues/70044

[2019-10-23 18:19] tstromberg commented on #5391
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with minikube v1.5.0.beta-0
*  The exact `minikube start` command line used

[2019-10-23 18:19] #5391 closed

[2019-10-23 18:19] tstromberg commented on #5442
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-10-23 18:19] #5442 closed

[2019-10-23 18:19] tstromberg commented on #5469
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-10-23 18:19] #5469 closed

[2019-10-23 18:20] sharifelgamal commented on #5450
This is a known issue with Windows, marking as a dupe of #4802.

[2019-10-23 18:20] #5450 closed

[2019-10-23 18:20] medyagh commented on #5293
@qasimgit it appears to me your issue was solved and the second issue was virtualbox not being installed .

in the next version of minikube we will notify user nicer that they dont have the virtualbox or other hypervisor installed in more elegant way.

[2019-10-23 18:20] #5293 closed

[2019-10-23 18:20] sharifelgamal commented on #5444
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

[2019-10-23 18:20] #5444 closed

[2019-10-23 18:21] sharifelgamal commented on #5435
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-10-23 18:21] #5435 closed

[2019-10-23 18:21] sharifelgamal commented on #5432
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-10-23 18:21] #5432 closed

[2019-10-23 18:24] nikhilgithub commented on #5701
kubectl describe:
error: You must specify the type of resource to describe. Use "kubectl api-resources" for a complete list of supported resources.

minikube status
host:
kubelet:
apiserver:
kubectl:

[2019-10-23 18:27] sharifelgamal commented on #5456
@sagar30051991 This now has a clearer solution message. Enabling virtualization should fix the issue you're seeing. I'm going to close this for now, if you still see an issue once you enable virtualization, you can reopen this issue with /reopen with more info.

[2019-10-23 18:27] #5456 closed

[2019-10-23 18:27] medyagh commented on #4150
It seems to be there is a workaround for this issue. thank you for creating this issue and getting to the bottom of it ! I will close this, please reopen if needed.

[2019-10-23 18:27] #4150 closed

[2019-10-23 18:27] tstromberg commented on #3606
Closing this as I haven't heard much here, and there is isn't much we can do about the VirtualBox DNS relay. If you run into this, try upgrading to VirtualBox 6.0.14+, and if that fails, try another hypervisor.

[2019-10-23 18:27] #3606 closed

[2019-10-23 18:29] medyagh commented on #5359
@zaidqureshi2 do you still have this issue ? if yes, do you mind please sharing the info tstromberg asked ?

[2019-10-23 18:36] sharifelgamal commented on #3146
A good way to detect whether your kubeconfig file is corrupt is running `kubectl config view`. If that comes back with an error, then it's safe bet that minikube won't be able to use it.

This particular config file resulted in the following error message:
[code]

[2019-10-23 18:36] #3146 closed

[2019-10-23 18:38] tstromberg commented on #4488
Re-opening as the issue of this not being documented has not been resolved yet.

[2019-10-23 18:39] medyagh commented on #4723
we need to document it as mentioned in https://github.com/kubernetes/minikube/issues/4488

I will close this duplicate

[2019-10-23 18:39] #4723 closed

[2019-10-23 18:43] medyagh commented on #4348
@winds6206  I am curious do you still have this issue even with newer versions of minikube?

[2019-10-23 18:44] medyagh commented on #4690
@boskiv  do you have a use case for adding that annotation that would make a case for higher priority to work on it ?

[2019-10-23 18:47] medyagh commented on #4099
there hasn't been any evidence that we still have this issue. closing . please reopen if not solved.

[2019-10-23 18:47] #4099 closed

[2019-10-23 18:50] medyagh commented on #4390
I am working on it. currently the https://github.com/kubernetes/minikube/pull/5530 is the blocker.

[2019-10-23 18:55] medyagh commented on #4699
are we still thinking doin this ? I would support any effort to give users a cheap option to download. for places with slow internet.

[2019-10-23 18:58] #5461 closed

[2019-10-23 20:04] afbjorklund commented on #4699
The main problem was that we were unable to support more than **one** primary format.
And some users had gotten used to downloading "raw" binaries, rather than tarballs...

But again the `minikube` binary is not the biggest part of the download (more like 5%).
And we do provide a standalone `.sha256` file now (but we don't tell anyone to use it)

Latest numbers:
56M	minikube.tar
23M	minikube.tgz
1

[2019-10-23 20:43] #5570 closed

[2019-10-23 20:44] medyagh commented on #5190
@RA489 do you have a PR for this ? or did we merge a PR for this ?

[2019-10-23 21:03] afbjorklund commented on #4699
My original goal was that I wanted to support something like this*:
http://repo.roscidus.com/kubernetes/kubectl

But then I ended up implementing the "minikube kubectl" instead.
And people seem to prefer their "appstores" ?

TL;DR **So I guess we can close this now.**

----

Ultimately it is _much_ better that the computer handles all this for us...
Better to do `sudo apt-get install minikube` tha

[2019-10-23 21:03] #4699 closed

[2019-10-24 00:33] Matt-Gleich opened #5714 "solution message for file permission for `.kube/config`"
**The exact command to reproduce the issue**:
`minikube start`

**The full output of the command that failed**:<details>
[code]

</details>

**The output of the `minikube logs` command**:<details>
[code]

</details>

**The operating system version**:
`macOS Mojave Version 10.14.16`

[2019-10-24 03:25] gpedro34 commented on #4366
/reopen

I'm a newbie in Kubernetes and was just trying my first install on Ubuntu 18.04 when I stumbled into this...
Any more data I can collect for you?

Is there a way of passing some parameters or ENV var that overrides the timeouts?
How should I proceed so I can at least test Kubernetes before deploy to the cloud?

I have only 6Gb of RAM free in this machine. Can this be the issue for the lon

[2019-10-24 04:31] kalyanvajrapu8 opened #5715 "Failed to save config profiles/minikube/config.json"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:
[code]

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-10-24 04:56] kalyanvajrapu8 commented on #5715
how to set the path

[2019-10-24 06:42] jgoeres commented on #5706
This is the first time I am really working with minikube, so I doubt I am the one to comment on design decisions - I can only communicate my expectations.
Having user Docker Toolbox for a while, I simply expected that after restarting my machine and firing up the VirtualBox VM, all services (Docker + the containers with the kubernetes services) come back up and I can continue working.
I also found

[2019-10-24 07:54] zatamine commented on #4696
Same error here
Command line: `minikube start --vm-driver=none`
Error : `F1023 18:32:27.966948   14956 cluster.go:391] Unsupported driver: none`

[2019-10-24 09:16] nixpanic opened #5716 "start '--embed-certs' fails to find certs"
**The exact command to reproduce the issue**:

As root: `./minikube start --vm-driver=none --embed-certs`
Run this on a clean CentOS-7 installation with Docker started/enabled.

**The full output of the command that failed**:<details>
[code]
</details>

[2019-10-24 09:40] kamilgregorczyk commented on #3522
Yes

[2019-10-24 09:52] dylmye commented on #5020
Hi, I can try and help out. I found this resource (though of course it should be up to the user whether they trust some random mirror online, even if it is run by MS):

https://github.com/Azure/container-service-for-azure-china/blob/master/aks/README.md#22-container-registry-proxy

[2019-10-24 10:44] Flyingmana opened #5717 "vm-driver hyperv ignores setting for virtual hard disk location"
**The exact command to reproduce the issue**:
[code]

The general setting inside Hyper-V for "virtual hard disks" points to: `D:\Hyper-V\Virtual_Hard_Disks\`

**The full output of the command that failed**: no actual failure.

But the virtual hard disk location is `C:\Users\dfahl\.minikube\machines\minikube\` instead of the path defined in hyper-v config

**The output of the `minikube logs` comman

[2019-10-24 10:52] messy80 commented on #4587
that worked thanks!

[2019-10-24 11:48] thomas-riccardi opened #5719 "kubelet command-line arguments redundant with newly enabled config file"
With #5697 (fixing #5329) the `kubelet` command-line arguments are/would be redundant (or may be different than) the newly used `/var/lib/kubelet/config.yaml`.

It's probably better to have the values only once: either cmdline or config file.

I'm not even sure if all the values are the same:
- the cmdline is built in `/pkg/minikube/bootstrapper/kubeadm/versions.go`
- the kubelet config file is de

[2019-10-24 12:21] govargo opened #5720 "LINT ERROR(make test): File is not `goimports`-ed, pkg/minikube/registry/drvs/{vmwarefusion, hyperkit}/driver.go"
**The exact command to reproduce the issue**:

when the following command exec, and we will get test fail due to lint error.

[code]

**The full output of the command that failed**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>

nothing

</details>

**The operating system version**:

 * macOS 10.14.5
 * minikube version: v1.5.0-beta.0
commit: 5ba4a7d66ca47a5

[2019-10-24 12:22] govargo commented on #5720
/assign
/kind failing-test

[2019-10-24 16:05] medyagh commented on #5215
@staticdev  do you happen to be using VPN ?

[2019-10-24 16:22] afbjorklund commented on #5706
That was the change in that other story, to make an _optional_ configuration to not auto-create hosts.
However, users are now fairly used to `minikube start` creating everything so that will probably stay.

Since we are using libmachine, that will always make sure to install/start docker ("provisioning").
Then we have that other kubeadm init functionality, to install/start kubernetes ("bootstrappi

[2019-10-24 16:23] afbjorklund commented on #5706
Please open a new issue about that.

[2019-10-24 16:25] afbjorklund commented on #5704
The referenced issue doesn't seem to have anything to do with the reported error ?

[2019-10-24 16:26] afbjorklund commented on #5704
Can you please try again with a newer version of minikube, `v1.1.1` is not the latest.

[2019-10-24 19:23] afbjorklund commented on #4150
We should probably add a solution message for when selinux is enabled, since it is not supported.

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#k8s-install-1

If people are using minikube to run their kubedm, that might mean they never read the documentation

[2019-10-24 19:41] sunilkumarvytla commented on #3493
How should I make it work on deploying the K8s dashboard through a Helm chart..? I am getting the same error. This is my values file
`serviceAccount:
  name: dashboard-full-admin

kubernetes-dashboard:
  rbac:
    create: true
    clusterAdminRole: false
    clusterReadOnlyRole: true

  serviceAccount:
    create: false`

Below is the error

`serviceAccount:
  name: dashboard-full-admin

kubernete

[2019-10-24 19:54] medyagh opened #5723 "kvm2 test failures: unable to stop vm, current state "Running""
On master I have been seeing lots and lots of fails on  "TestStartStop/group/crio"

as seen in this PR : https://storage.googleapis.com/minikube-builds/logs/5721/KVM_Linux.txt

here is one from master:

<details>
<pre>
09:20:01 --- FAIL: TestStartStop (923.84s)
09:20:01     --- FAIL: TestStartStop/group (130.00s)
09:20:01         --- FAIL: TestStartStop/group/crio (778.90s)
09:20:01             he

[2019-10-24 19:57] #5720 closed

[2019-10-24 20:00] medyagh opened #5724 "TestGvisorAddon: "waiting to start: ContainerCreating""
TestGvisorAddon flakes:
[code]

as seen here: https://storage.googleapis.com/minikube-builds/logs/5721/KVM_Linux.txt

<details>
<pre>
--- FAIL: TestGvisorAddon (1057.17s)
    helpers.go:349: MaybeSlowParallel: Sleeping 15s to avoid start race ...
    gvisor_addon_test.go:42: (dbg) Run:  out/minikube-linux-amd64 start -p gvisor-20191024T171027.666717625-13805 --container-runtime=containerd --docker

[2019-10-24 20:13] hypnoglow commented on #5017
@kaihendry You need to install [metrics-server](https://github.com/kubernetes-incubator/metrics-server) to your cluster.

[2019-10-25 00:03] pnisbettmtc opened #5726 "minikube does not work on windows 10"
I downloaded minikube added the minikube.exe location to my system path.
I added a KUBECONFIG environment variable -> C:\users\pnisbett\.kube\config
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>

C:\Users\pnisbett\kubernetes>minikube delete
* Failed to delete cluster: load: filestore "minikube": open C:\Users\pnisbett\.miniku

[2019-10-25 00:37] pnisbettmtc commented on #5726
This has been resolved.
I uninstalled docker . I reran minikube start and it installed.
Knowing that you can't install Minikube if Docker is already installed would have saved a lot of time. Perhaps put that in the instructions.

[2019-10-25 00:37] #5726 closed

[2019-10-25 02:31] RA489 commented on #5190
@medyagh I think it has been done! if not i can file PR for it.

[2019-10-25 03:32] bauson-com commented on #4540
Does it mean I need to be disconnected to VPN every time I start minikube? Or there is a work around to make it work regardless if connected or not connected to Cisco AnyConnect VPN?

Thanks btw

[2019-10-25 07:00] den-is commented on #4540
@bauson-com only disconnect will not help you will have to restart mac (or maybe there is some routes refresh commnd.. idk...)

So here are my observations, actually same one thing just from different points of view:
1. minikube-virtualbox will always work if you have never started AnyConnect VPN before minikube manipulations
2. You can enable Anyconnect VPN after minikube has finished bootstrappi

[2019-10-25 10:56] govargo commented on #5642
I investigated this problem.
when I enabled the metrics-server addon, I could get CPU & Merory Usage.
I think indicating CPU & Merory Usage need the metrics-server pod as tstromberg mentioned.

<img width="1151" alt="スクリーンショット 2019-10-25 19 36 14" src="https://user-images.githubusercontent.com/44902466/67565577-b52c2100-f760-11e9-916c-34c0b2947be6.png">

Had we better enable the metrics-server add

[2019-10-25 11:45] jgoeres opened #5727 "Changing service cidr range breaks DNS resolution"
Our company intranet uses large parts of the 10.0.0.1/8 subnet. Alas, the default service CIDR range used by minikube (resp. kubeadm?) is 10.96.0.*. To avoid problems, I wanted to change pod and service CIDR range with these two options passed to minikube start:

--service-cluster-ip-range='172.20.0.0/14' --extra-config=kubelet.pod-cidr=172.16.0.0/14

The VM seemed to startup fine, but after deplo

[2019-10-25 12:37] reators opened #5728 "hyperv: Unable to start VM: create: creating: exit status 1"
The exact commands in PowerShell to reproduce the issue:

    rm .minikube
    minikube start --cpus=2 --memory='8192' --disk-size='50g' --vm-driver hyperv --hyperv-virtual-switch="ConnectToLan" --logtostderr

Docker is stopped when running above commands.
I also tried to run the commands with Administrator privileges (according to comments from others in similar issues), but didn't get as far as

[2019-10-25 13:13] bzied321 commented on #4540
@bauson-com FYI, I did not run into the same problem again (with or without my VPN connected) when starting minikube

[2019-10-25 14:44] edreams commented on #5599
sudo chown root:wheel /Users/chile/.minikube/bin/docker-machine-driver-hyperkit
sudo chmod u+s /Users/chile/.minikube/bin/docker-machine-driver-hyperkit

[2019-10-25 14:45] edreams commented on #5568
sudo chown root:wheel /Users/chile/.minikube/bin/docker-machine-driver-hyperkit
sudo chmod u+s /Users/chile/.minikube/bin/docker-machine-driver-hyperkit

[2019-10-25 15:12] jonenst commented on #4151
Hi,
the problem is the same with minikube 1.4
[code]

[2019-10-25 15:58] jgoeres opened #5729 "Not all parameters available in "minikube start" have a corresponding setting in "minikube config", and for those that do, some don't seem to work"
The problem in this issue was brought up by me in https://github.com/kubernetes/minikube/issues/5706
but as requested I am opening a new issue for that.
When trying to replace a "minikube start" command with a lot of params with a simple "minikube start" (i.e., without params) plus setting "minikube config" accordingly, I noticed that not all parameters available in "minikube start" have correspon

[2019-10-25 15:59] jgoeres commented on #5706
Meanwhile, I tried other parameters, and also ran into this: https://github.com/kubernetes/minikube/issues/5727

[2019-10-25 19:44] #4614 closed

[2019-10-25 19:45] #4920 closed

[2019-10-25 19:52] tstromberg commented on #5724
This is a real issue with the v1.5.0 ISO. restartContainerd is failing:

[code]

There is some strange sudo black magic going on. My theory is that `pkg/gvisor/enable.go` may be doing the wrong thing by setting LD_LIBRARY_PATH, and that it's causing an issue now because the glibc version has been updated in our ISO.

[2019-10-25 20:14] medyagh opened #5733 "Add Integration test for "cache" command for non-docker runtimes"
we don't have any integration test for "minikube cache add" command .

we need basic test for cache, that would cover docker, crictl, ...

[2019-10-25 21:03] medyagh opened #5734 "beautify mininikube emojis !"
I feel like there could be a brush up on the minikube emojis,

## minikube delete
its kind of weird in one emoji we have breaking heart and the one after is fire...

[code]
this specially looks weird when deleting multiple profiles

## minikube stop
also for minikube stop (tested on none driver) I see two stop icons, which one of them is redundant

[code]

I would be happy to review any PR that ma

[2019-10-25 22:41] #5724 closed

[2019-10-25 23:44] staticdev commented on #5215
@medyagh no. Just pure Ubuntu.

[2019-10-26 01:18] tstromberg opened #5740 "CI isn't adding test results to PR's"
I see the tests running in Jenkins, but it isn't being added to the PR.

It's as if `minikube_set_pending.sh` isn't being run.

/cc @medyagh @sharifelgamal

[2019-10-26 01:18] tstromberg commented on #5740
example: https://github.com/kubernetes/minikube/pull/5737

[2019-10-26 02:21] cmdedj commented on #5642
yes, when i enable the metrics-server addon, it worked.
and i think you should enable the metrics-server addon automatically,
Otherwise it may cause trouble for novices

thank you for your help

[2019-10-26 07:34] dbamaster commented on #5504
Awesome, thanks!

[2019-10-26 07:38] dbamaster commented on #5440
It happened after the last update.
Deleting minikube is not an option for me. I have a few deployments there, unfortunately I didn't save the actual file :(

[2019-10-26 09:56] afbjorklund commented on #5734
I think it only gets 5 seconds in order to `StopHost`.

This is OK for pulling the plug on a VM, but `none` doesn't support stop.
Instead it is doing a graceful stop of all the running containers instead...

And that probably takes longer, so it does a retry ?

[2019-10-26 10:00] afbjorklund commented on #5734
So do you mean "swap for other random emojis", or do you envision a custom font or something ?

https://github.com/kubernetes/minikube/blob/v1.5.0/pkg/minikube/out/style.go#L51_L116

[2019-10-26 10:17] afbjorklund commented on #5733
Note that `crictl` is used for **all** CRI runtimes (i.e. everyone but Docker), not only CRI-O.

Today it is only the "load" part of the caching that is handled by the runtime, the "cache" (or download) part is handled by the `github.com/google/go-containerregistry` library (for all container runtimes).

https://github.com/google/go-containerregistry

But the "add" command does both: cache and loa

[2019-10-26 10:55] afbjorklund commented on #5723
Does it **only** happen with the crio runtime ? Maybe we are missing a systemd service here...

In the repository there are three services: crio.service, crio-wipe.service, crio-shutdown.service

[code]

[2019-10-26 11:01] jxhsjxhs opened #5744 "error: no oIbjectsN passFed toO appl: == y"
Problems detected in kube-addon-manager [d40cbccfdfb8]:
    error: no oIbjectsN passFed toO appl: == y

mac os 10.14.6

[2019-10-26 11:28] afbjorklund commented on #5013
@blueelvis : I am inclined to close this. Basically nobody cares about 15M.

[code]

If they did, it would be easier to "fix" that by adding compression instead...

[code]

[2019-10-26 12:04] afbjorklund commented on #5013
Still has some way to go before 100M:

![minikube-sizes](https://user-images.githubusercontent.com/10364051/67619249-7bf3bf80-f7f9-11e9-9a17-826e447963fb.png)

[2019-10-26 15:50] afbjorklund opened #5746 "Minikube v1.5.0 always prefers (non-existent) VMware"
Instead of picking the usual VirtualBox, it chooses an imaginary VMware:

[code]

It doesn't list KVM/libvirt, because I don't have libvirt running by default.

[code]

At first it didn't even want to list VirtualBox either, because config was broken...
(VirtualBox corrupts its own XML conf file, if the machine runs out of disk space)

----

Most likely it should verify if I even _have_ `vmrun`, b

[2019-10-26 15:57] afbjorklund commented on #5746
Removing `~/go/bin/docker-machine-driver-vmware` seems to fix it

[2019-10-26 17:33] #5746 closed

[2019-10-26 18:42] petefurtado commented on #3648
The solution on the post by ksprashu on May 1 worked for me! I had the exact same setup! Thanks!

[2019-10-26 18:46] #5696 closed

[2019-10-26 21:37] tajpouria commented on #2412
`ubuntu 18.04`
1.

[code]
If the mentioned test does not pass for you try this link: https://askubuntu.com/questions/1050621/kvm-is-required-to-run-this-avd **then restart your machine**

 2. minikube fails to start with kvm2/kvm drivers with "Domain not found" error

To make kvm2 the default driver:

then:

[2019-10-27 08:01] zd-dalibor commented on #5666
After every minikube stop & start, when I try to ssh to minikube vm, I got message that RSA key fingerprint is changed and old ssh private key did not working (new ssh key is  generated). I am using Hyper-V.

[2019-10-27 08:20] afbjorklund commented on #5666
This is "normal", libmachine doesn't save host keys. The workaround is `ignoring` ssh host keys:

[code]

However, the user keys _should_ be the same. They are stored client-side, and uploaded to the VM.

[2019-10-27 14:48] ivangfr opened #5751 "v1.5 ISO: mysqld failed while attempting to check config: command was: mysqld --verbose --help"
Hi,

I am trying to run `MySQL` docker container in `Minikube` and I am getting an error. I've tried already with `MySQL` version `5.7.14`, `5.7.27`, `5.7.28`, `8.0.18`, etc, and always the same error.

[code]

**On the other hand, if I use `Kubernetes` in `Docker Desktop` (For Mac) or simply run `MySQL` with `docker run` or `docker-compose`, I don't have any problem.**

I've tried to deploy `MySQ

[2019-10-27 15:36] khassel commented on #5716
Can confirm this strange bug in v1.4.0.

After cleaning up (`minikube delete`, `rm -rf ~/.minikube` ) you can try to `minikube start --vm-driver=none` without the certs-param.

If the cluster starts, then `minikube delete` and now `minikube start --vm-driver=none --embed-certs` should work.

[2019-10-27 15:45] vietduc01100001 commented on #3582
I'm having this issue. After restart I lose data in my Postgres DB. Here's the `deployment.yml`:

[code]

And the volumes:

[code]

The headache is I specify `hostPath` at `/data/` directory, but the data is still lost.

[2019-10-27 16:00] lubocheng opened #5752 "unable to retrieve container logs for docker"
**重现问题所需的命令**：
minikube运行一段时间后,在资源占用不高的情况下docker无端退出,屡试不爽
**失败的命令的完整输出**：<details>

##### kubectl logs wordpress-65cf7dd448-qn26h
`unable to retrieve container logs for docker://a3c4149b2e0f62dfcfff74dbc6376033d05fdd329d366716d79e692c4`
</details>

**`minikube logs`命令的输出**： <details>
==> Docker <==
-- Logs begin at Sun 2019-10-27 09:01:48 UTC, end at Sun 2019-10-27 15:54:58 UTC. --
Oct 27 11:24:21

[2019-10-27 17:33] rbse commented on #5440
got error
💣  Error restarting cluster: addon phase: command failed: sudo env PATH=/var/lib/minikube/binaries/v1.16.0:$PATH kubeadm init phase addon all --config /var/tmp/minikube/kubeadm.yaml
stdout:
stderr: error execution phase addon/coredns: unable to fetch CoreDNS current installed version and ConfigMap.: multiple DNS addon deployments found: [{{ } {coredns  kube-system /apis/apps/v1/namespace

[2019-10-27 18:55] blueelvis commented on #5013
Yeah, feel free to close this issue. This is in no way a blocker but just a
placeholder to ensure that we are mindful of the sizes as well.

Thanks,
Pranav

On Sat, Oct 26, 2019 at 5:34 PM Anders Björklund <notifications@github.com>
wrote:

[2019-10-27 22:21] nanikjava commented on #5698
This has been fixed and it's live. The correct url now is https://minikube.sigs.k8s.io/helm-tiller/readme/

Can we please close this ticket.

Thanks

[2019-10-27 23:52] tstromberg commented on #5751
Interesting. I'm surprised MySQLd isn't logging more of an error than that. I searched for the string and found other issues where a containerized MySQL mentioned a specific error message:

- https://github.com/laradock/laradock/issues/1492
- https://github.com/docker-library/mysql/issues/268
- https://stackoverflow.com/questions/53906344/unable-to-start-mysql-with-docker-on-ubuntu-16-04

There is

[2019-10-28 02:06] nanikjava commented on #5751
Tried on local machine Ubuntu 19.04. All working fine. Using the same parameter (virtualbox and memory size as specified in the OP post)

`kubectl get pods --all-namespaces
`

`kubectl get pod mysql-deployment-79ccfdc888-qkqj9 -o yaml
`

[2019-10-28 03:28] genius24k commented on #4132
On 1.5.0, RHEL 7.6, same issue and work around sequence also does not work.

[2019-10-28 03:53] peteryhwong opened #5753 "Add documentation for configuring AWS Elastic Container Registry"
**The exact command to reproduce the issue**:

[code]
**The full output of the command that failed**:<details>

😄  minikube v1.5.0 on Darwin 10.15
✨  Automatically selected the 'hyperkit' driver (alternates: [virtualbox])
🔥  Creating hyperkit VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🐳  Preparing Kubernetes v1.16.2 on Docker 18.09.9 ...
🚜  Pulling images ...
🚀  Launching Kubernetes ...
⌛  Waiti

[2019-10-28 03:56] laur89 commented on #5595
Re-installed my system and issue no longer reproduces.

[2019-10-28 04:45] medyagh commented on #5595
glad to see your issue was solved, please feel free to reopen if happens again.

[2019-10-28 04:45] #5595 closed

[2019-10-28 06:06] #5698 closed

[2019-10-28 06:06] medyagh commented on #5698
thanks @nanikjava closed.

[2019-10-28 07:57] anthonma commented on #5703
I will close this issue for now, because the environment I use will probably change. If there should be the same or a similar problem, I will reopen it or create a new issue.

[2019-10-28 07:57] #5703 closed

[2019-10-28 07:59] anthonma commented on #5634
Because of an change of the environment I use, this issue is obsolete, at least for now, so I'll close it.

[2019-10-28 07:59] #5634 closed

[2019-10-28 08:00] ivangfr commented on #5751
Hey @tstromberg @nanikjava

Thanks for your reply and help so far!

Btw, I've just tried **Minikube** version `v1.4.0` and it worked, i.e, I was able to deploy MySQL and I **didn't** face the error `mysqld failed while attempting to check config`. So, it seems a problem with **Minikube** `v1.5.0`.

---
**v1.4.0**
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

---
**v1.5.0**
[code]
[code]

[2019-10-28 08:25] DaneeLee opened #5754 "virtualbox: io.Copy failed: EOF"
**minikube start**：

**失败的命令的完整输出**：<details>
[root@localhost ~]# minikube start
* minikube v1.3.1 on Centos 7.6.1810
! Please don't run minikube as root or with 'sudo' privileges. It isn't necessary with virtualbox driver.
* Using image repository registry.cn-hangzhou.aliyuncs.com/google_containers
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this

[2019-10-28 10:16] WtfJoke commented on #5440
This didnt helped in my case. However `minikube delete` did worked.

@dbamaster what about temporary downgrading and doing:  `kubectl get deployments -o yaml > my-deployment.yml`

[2019-10-28 10:55] wely commented on #1967
Hello, may i know what do you mean by "p. 4 in step 5"?

[2019-10-28 11:45] kristapsstrals commented on #5751
I have the exact same issue (though working with `mysql:5.6`). Everything worked fine on minikube 1.4.0
I'm running on Windows 10 Pro with Docker for Windows and Minikube

[2019-10-28 13:36] asychev commented on #5751
Same for me

[2019-10-28 14:08] gfdusc opened #5755 "regression: Docker v1.5.0 ISO has new docker uid"
Hello,
the image `minikube-v1.5.0.iso` contains the `docker` user with different id/group numbers compared with the previous versions.

This cause issues for people relying on the default (home) shared volume because now it is owned by a different user.

With `minikube`  versions `1.2.0`, `1.3.0`, `1.4.0`:
[code]

But with `minikube`  version `1.5.0`:
[code]
This causes permission issues for peopl

[2019-10-28 15:04] tstromberg commented on #5751
Thanks for the updates. If someone is able to duplicate this, do you mind recording the output of `strace` for mysqld? It will likely reveal the underlying. root cause. For instance, instead of launching `mysqld`, launch:

`strace -f -o /tmp/strace.out mysqld`

And attach the output of `tail -n 500 strace.out` to this issue.

I believe this will workaround the issue in the meantime:

`minikube sta

[2019-10-28 15:06] tstromberg commented on #5751
Also, the output of `mysqld --verbose` might help too.

[2019-10-28 15:29] afbjorklund commented on #5755
Thank you for noticing this! There's a bunch of new system users added by the new OS.
Most likely, these _should_ have gotten lower numbers (1000 is usually for regular users)

Users:
[code]

Groups:
[code]

[2019-10-28 15:31] govargo commented on #5751
I investigated this issue. And I got output from following custom image.
[code]

I hope this helps.

`strace -f mysqld --verbose --help`:<details>
strace -f mysqld --verbose --help
'execve("/usr/sbin/mysqld", ["mysqld", "--verbose", "--help"], [/* 29 vars */]) = 0
brk(NULL)                               = 0x55b939d88000
access("/etc/ld.so.nohwcap", F_OK)      = -1 ENOENT (No such file or directory

[2019-10-28 16:35] tstromberg commented on #5754
您介意使用minikube v1.5.0，如果失败，则共享`minikube ssh dmesg`的输出？

我怀疑VM可能内存不足。

[2019-10-28 16:36] navihr opened #5756 "none: Minikube - v1.5.0 cant start in ubuntu-18.04.3 LTS"
**sudo minikube start --vm-driver=none**:

**The full output of the command that failed**:minikube v1.5.0 on Ubuntu 18.04
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🔄  Starting existing none VM for "minikube" ...
⌛  Waiting for the host to be provisioned ...
💣  minikube is unable to connect to the VM: dial tcp 192.168.0.4:22: connect: c

[2019-10-28 16:37] navihr commented on #5756
already my firewall is disabled.

[2019-10-28 16:51] tstromberg commented on #5751
An mmap followed by a SIGKILL seems very suspicious. I'm betting that the Linux kernel OOM killer is killing this process, or possibly the kubelet.

[code]

This is apparently mmap'ing 17GB of data in, which in itself, isn't too crazy - however, mysqld is specifying `MAP_PRIVATE`, which I believe implies that the underlying space has to actually exist for it to function properly.

[code]

Could so

[2019-10-28 16:51] DimitrijeManic commented on #5751
@tstromberg The suggested workaround is not working for me
minikube : v1.5.0
helm: v2.9.1
mysql: 0.10.2 (tried with 1.4.0 as well)

[2019-10-28 16:52] tstromberg commented on #5751
@DimitrijeManic - Sorry, I should have noted that you will need to first run `minikube delete` to delete an existing cluster in order for the `--iso-url` to have an effect. We should post a warning about that.

[2019-10-28 17:01] DimitrijeManic commented on #5751
@tstromberg Going further up the log stack I see something relating to OOM
[code]

[2019-10-28 17:11] tstromberg commented on #5751
@DimitrijeManic  - Thank you for confirming my suspicions!

[code]

It's not clear to me what changed to OOM accounting between Linux 4.15 and 4.19, but my guess is the root cause lies there. I do understand that 4.15 did not have a cgroups aware OOM killer though, but this seems like something more basic.

Here is the fixed command-line to adjust overcommit as a possible workaround:

`minikube ss

[2019-10-28 17:18] tstromberg commented on #5751
Digging around, I see that the v1.4.0 ISO had a lower rlimit:

[code]

Whereas v1.5.0 has:

[code]

That would indicate to me that this is a good possible workaround for the MySQLd issue:

[code]

Could someone confirm that this works for them?

[2019-10-28 17:23] DimitrijeManic commented on #5751
@tstromberg running `minikube ssh 'sudo sysctl fs.nr_open=1048576'` does not resolve my error

[2019-10-28 17:24] e-dard commented on #5598
Ping. Does anyone have any thoughts on things I can do to help with this?

[2019-10-28 17:33] tstromberg commented on #5756
Looks like an inverted if statement. I'll send a PR out to fix this.

[2019-10-28 17:46] tstromberg commented on #2141
Before we close this, we'll need to insure that our release scripts release to brew rather than cask:

* https://github.com/kubernetes/minikube/blob/master/hack/jenkins/release_update_brew.sh
* https://github.com/kubernetes/minikube/blob/master/installers/darwin/brew-cask/minikube.rb.tmpl

@commitay @issyl0 - are either of you interested in taking a crack at updating our release scripts?

[2019-10-28 17:56] afbjorklund commented on #5751
The workaround from the article seem to work here:

[code]

[2019-10-28 17:56] #5756 closed

[2019-10-28 18:24] tstromberg commented on #5686
Upstream issue: https://github.com/kubernetes/website/issues/15969

[2019-10-28 18:48] priyawadhwa commented on #5398
As part of this, we are adding a PR bot to:
- [ ] Compare time for `minikube start` across three runs
- [ ] Compare binary sizes via [build-size](https://github.com/afbjorklund/build-size)

[2019-10-28 18:51] MiguelAtTweddle commented on #4587
What worked for me:
I uninstalled the hyperV feature first and rebooted. Then I noticed the 'Call to WHvSetupPartition failed'.
On reboot; I disabled everything in BIOS concerning Virtualization, but on startup windows 10 froze.
Hard shutdown and enabled the Virtualization back on again in BIOS.
After startup I could install a linux OS in VMBox.

[2019-10-28 18:52] MiguelAtTweddle commented on #4587
What worked for me:
I uninstalled the hyperV feature first and rebooted. Then I noticed the 'Call to WHvSetupPartition failed'.
On reboot; I disabled everything in BIOS concerning Virtualization, but on startup windows 10 froze.
Hard shutdown and enabled the Virtualization back on again in BIOS.
After startup I could install a linux OS in VMBox.
I wouldn't recommend on using hyperV to anyone, beca

[2019-10-28 18:55] afbjorklund commented on #5755
Will try to compare the buildroot versions, and see where this changed...

[code]

https://buildroot.org/

[2019-10-28 20:09] sharifelgamal commented on #5740
We now require the `ok-to-test` label to be on a PR in order to show test results. Using the `/ok-to-test` command in a comment on a PR should be enough to add the label and kick the tests off.

[2019-10-28 20:11] #5740 closed

[2019-10-28 20:30] afbjorklund commented on #5755
This is due to the introduction of `BR2_PACKAGE_SYSTEMD_SYSUSERS` for the system users.

[code]

Apparently there is some bug in `systemd-sysusers`, that causes it to allocate _real_ users/groups...

[2019-10-28 20:49] nanikjava commented on #5643
Perhaps having another way to download the .iso when the first way of downloading it failed ?

[2019-10-28 20:51] nanikjava commented on #5642
I think if you do know how to fix it then feel free to assign the ticket to yourself and submit PR

[2019-10-28 21:11] afbjorklund commented on #5755
We actually did this earlier for dbus (only), but then it ended up in the **right** order:

[code]

[code]

But now the package users are created **before** the `BR2_ROOTFS_USERS_TABLES` :

[code]

And there doesn't seem to be a buildroot config to change this behaviour back, either.

https://github.com/buildroot/buildroot/commit/c3edec0018c22814233838b4e6c11c577993923d

----

So we will probably

[2019-10-28 22:04] nanikjava commented on #4564
Shouldn't this be possible by just setting the MINIKUBE_HOME as the mounted path of the zfs pool ?

[2019-10-28 22:06] nanikjava commented on #4478
@medyagh just want to check whether this is still needed ? happy to work on this.

[2019-10-29 04:08] tstromberg commented on #5751
For Docker runtime users, this seems to work:

[code]

I'm working on a solution to be released with minikube v1.5.1 later this week, along with integration tests to ensure that this isn't broken in the future.

For some reason, setting `maxOpenFiles` into the kubeadm config isn't working as expected.  I'd rather find a way to set this that doesn't involve passing hints to each container runtime.

[2019-10-29 06:10] govargo commented on #5642
@nanikjava Than you for your advice. I will work on this.

[2019-10-29 06:10] govargo commented on #5642
/assign

[2019-10-29 06:44] afbjorklund commented on #2141
I thought distros was supposed to pull (new releases) rather than push (from vendor) ? Especially if it is no longer our binary, but something they build. But not sure how Brew normally operates.

[2019-10-29 07:09] medyagh opened #5762 "hyperkit integration test broken on master"
this is the log on my laptop:

[hyperkit_master.txt](https://github.com/kubernetes/minikube/files/3782091/hyperkit_master.txt)

[2019-10-29 09:30] ruoru opened #5763 "Error on minikube start no config on macOS"
my environment is:
[code]

when i am run  `minikube start --v=10 --vm-driver=hyperkit` they say i am no config, then my option is as after i am write, and also not solve the problem.

[code]

[2019-10-29 13:37] mpakki opened #5764 "Rabbit MQ does not start correctly in minikube 1.5.0"
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:
There was no log records from rabbitmq container, and no one is listen on ports 5672 and 15672 but this deployment worked fine on version 1.4

**The output of the `minikube logs` command**:<details>
`
[minikube.log](https://github.com/kubernetes/minikube/files/3783720/minikube.log)
`
</details>

*

[2019-10-29 14:02] schwichtgit opened #5765 "run containers that need madvise enabled to inspect transparent huge pages availability status"
**The exact command to reproduce the issue**:
[code]
**The full output of the command that failed**:<details>
(...)
2019-10-29 13:38:06.771723Z: [37:56] cmd: /opt/anzograph/bin/azg -node 0 -time 625671486 -errpipe /tmp/sbxbooterr.np0 -internal /opt/anzograph/internal -pidfile /tmp/azgpids.log
2019-10-29 13:38:06.806463Z: [37:41]
  -----------------------------------------------
  error:     Databa

[2019-10-29 14:52] mrbobbytables opened #5766 "Clean up outside collaborators"
Hey there @kubernetes/minikube-admins ,

One of the github-admins here. -- We have a [longstanding issue] on cleaning up outside collaborators, and are now actively planning on removing them on December 1st.

At this point, people that are actively contributing to the Kubernetes project should be promoted to [org members][mem], and any repo specific permissions should be managed through their asso

[2019-10-29 15:28] groksrc commented on #5764
I'm also having a problem with containers not starting on 1.5 where they worked fine on 1.4. Unfortunately my container is private so I can't share it with you, but here are some details I can provide.
* There are no log messages for the failed container
* The container never reports as Ready

[2019-10-29 16:25] andrebrait commented on #5764
Same here. I got RabbitMQ, Cassandra, ElasticSearch and MySQL deployments that worked just fine in 1.3, but won't in 1.5.

There are also no logs.

[2019-10-29 16:30] afbjorklund commented on #5751
Did you find the OS change that caused this ? Or was it just the new kernel (4.15 -> 4.19)

[2019-10-29 16:56] medyagh commented on #5762
The Linux Vbox test are broken as well since October 21

[2019-10-29 19:33] vishh commented on #5766
Removed Sangeetha A from collaborator list.
/close

[2019-10-29 19:33] #5766 closed

[2019-10-29 19:35] #3217 closed

[2019-10-29 19:39] afbjorklund commented on #5764
Are these errors also related to the number of files allowed, i.e. same as the MySQL craziness ?

[2019-10-29 19:43] vorpleblade commented on #5571
@tstromberg Attached is the output for version 1.5.0
[1.5.0.output.log](https://github.com/kubernetes/minikube/files/3785481/1.5.0.output.log)

[2019-10-29 20:16] afbjorklund commented on #5751
All that I can see is that some of the limits have increased, from 2018.05.x to 2019.02.x

i.e. "max locked memory": 16384k -> 65536k, "open files": 1048576 -> 1073741816

Not sure why, kernel docs still say the lower value:

[code]

The new number is equal to: 1024 * 1024 * 1024 - 8

`LimitNOFILE=1048576`
vs.
`LimitNOFILE=infinity`

i.e. the docker.service is actually requesting to be killed

It

[2019-10-29 20:29] jeremyje opened #5769 "k8s container DNS doesn't seem to DNS resolve localhost"
If I run a container with 2 processes where they talk to each other within the container they don't seem to be able to talk to each other if the client uses `tcp://localhost`.

**The exact command to reproduce the issue**:

I created a small repository for this, https://github.com/jeremyje/ffmpeg-k8s-dns-repro.

[code]
This will create a batch job that runs a bunch of pods with different client/se

[2019-10-29 20:36] medyagh opened #5770 "add assets.go-e to gitignore"
while working on PR and running integration tests I keep seeing this file modified and wants to be commited

``` pkg/minikube/assets/assets.go-e```

and I have to keep deleting it manually, we probably want to gitignore it, unless there is a reason ?

[2019-10-29 20:43] navi62 opened #5772 "Sorry that minikube crashed error when starting minikube on VM (laptop)"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-10-29 21:12] #5770 closed

[2019-10-29 21:12] #5755 closed

[2019-10-29 21:23] afbjorklund commented on #5751
Apparently this was "fixed" in the Docker service, but never brought to minikube:

https://github.com/moby/moby/commit/428d7337e808ec5f4dba1b0aceda002f295cc320

It has a different reason for lowering the value (permissions), but anyway...

`LimitNOFILE=1048576`

----

And here is where the default number was raised, not by kernel but by systemd:

https://github.com/systemd/systemd/commit/a8b627aae

[2019-10-29 21:33] donaldguy commented on #5764
I am still testing, but there seems to be some specific misbehavior on 1.15 launched VMs for ALL erlang processes (of which RabbitMQ is one example)

running e.g. `kubectl run --rm -it --image elixir:1.9.0-alpine iex` hangs after process start* but prior to giving an iex prompt for ~9 minutes on my machine. Similar slow downs can be seen with simple hello world elixir programs and mix tasks in a o

[2019-10-29 21:41] selvakumar1975 opened #5774 "minikube status throws error"
Error getting bootstrapper
* Error: [SSH_TCP_FAILURE] getting kubeadm bootstrapper: command runner: getting ssh client for bootstrapper: Error dialing tcp via ssh client: dial tcp [fe80::215:5dff:fe72:8900]:22: connectex: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to res

[2019-10-29 21:45] donaldguy commented on #5764
Can confirm that downgrading to minikube 1.14 (iso and binary) seems to restore reasonable erlang performance

[2019-10-29 21:56] afbjorklund commented on #5764
We believe that the major difference with the new ISO is the new version of systemd (240).

It raises the value of the maximum number of open files, `/proc/sys/fs/nr_open` by 1K.

From 1048576 to 1073741816, if not accounted for it can cause _major_ issues of slowdown.

There is also a new kernel, but most things seems to be OK with new version of linux...

[2019-10-29 22:02] donaldguy commented on #5764
Yeah, to confirm the relatively obvious (just cause I wasted the time doing it), using the v1.5.0 binary with a --iso-url set back to 1.4.0 image works fine

(I'm on macOS 10.15 (19A602) by the way; but since this is pretty clearly an inside-the-hypervisor issue, ¯\_(ツ)_/¯ )

[2019-10-29 22:06] issyl0 commented on #2141
@tstromberg I don't currently have enough spare time to help with this bigger piece of work, sorry!

[2019-10-29 22:12] afbjorklund commented on #5764
Does the same kind of workaround change anything ?

`docker run -it elixir:1.9.0-alpine sh -c "ulimit -n 4096 && exec iex"`

[2019-10-29 22:16] donaldguy commented on #5764
yes

[2019-10-29 22:17] donaldguy commented on #5764
I was starting down the road of trying to strace things, but there is no strace in the iso buildroot (and no package manager) ; but indeed lowering the limit makes it very speedy to get done

[2019-10-29 22:18] afbjorklund commented on #5764
Should be fixed by the same change then, thanks for verifying.

You have `toolbox`, if you need to run any commands in the VM

[2019-10-29 22:23] donaldguy commented on #5764
oh wait! I will reconfirm, but I think I actually ran that on the 1.14 iso VM (cause I was trying to establish a before state) D:

[2019-10-29 22:41] #5751 closed

[2019-10-29 22:49] donaldguy commented on #5764
okay I'm not sure as yet – this time to avoid taking on bag configuration like last time, I started with all the 1.15 defaults (including 2Gi of RAM instead of earlier when I was running with 8Gi)

and now iex is just getting promptly OOM killed on start, with and without the ulimit set :(

[2019-10-29 22:58] donaldguy commented on #5764
okay, yes. With 8GB of RAM again, I can confirm that the ulimit is in fact fixing things like we thought

[code]

[2019-10-29 23:06] donaldguy commented on #5764
bleh I also forgot the `-n` on the ulimit when I was testing on the 2GB cluster;

I can confirm on a new 2GB cluster, that ulimit _with_ `-n` (so... setting it.) also stops the OOM kill

[code]

the fact that memory usage is tied to the available handles this way may explain why OP is seeing RabbitMQ _never_ go ready (despite no livenessProbe), as opposed to my experience of just seeing a long han

[2019-10-30 00:23] medyagh opened #5776 "Install consistent version of Docker on CI machines"
Currently on the 4 Linux Jenkins Agents we have this docker, which was built on Aug 2018.
We should make our integration test, to check for a specific version of docker and then, if not there install it.

[code]

also

[code]

[2019-10-30 00:27] zhangxiaoyu-zidif commented on #5704
@afbjorklund
minikube version
minikube version: v1.4.0
commit: 7969c25a98a018b94ea87d949350f3271e9d64b6

this version works fine. All problems are done. Thanks!

[2019-10-30 00:27] medyagh commented on #4172
for what it worth, I checked on all our Linux CI machines:
[code]
doesn't that mean we need to add  the workarround https://github.com/kubernetes/minikube/issues/4172#issuecomment-523102426 to our CI as well?

[2019-10-30 00:56] #2141 closed

[2019-10-30 01:03] tstromberg opened #5779 "release_update_brew: access_token: unbound variable"
minikube migrated from cask to brew, but the automation has not been updated to use `bump-formula-pr.rb` to trigger updates: https://github.com/Linuxbrew/brew/blob/master/docs/How-To-Open-a-Homebrew-Pull-Request.md

Here is where the automation should go:

https://github.com/kubernetes/minikube/blob/9be404689b6860f189147bb53050b6f09a15681a/hack/jenkins/release_update_brew.sh#L43

[2019-10-30 01:07] chakpongchung commented on #4295
@afbjorklund

please reopen this one. I am seeing this:

minikube start --vm-driver=docker-machine-driver-kvm2 --memory 8192 --cpus 4
😄  minikube v1.5.1 on Ubuntu 19.04
💣  The driver 'docker-machine-driver-kvm2' is not supported on linux

[2019-10-30 01:31] stherrien opened #5780 "macOS catalina: Error in driver during machine creation: hyperkit crashed"
**The exact command to reproduce the issue**:
minikube start
😄  minikube v1.5.1 on Darwin 10.15
🔥  Creating hyperkit VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🔄  Retriable failure: create: Error creating machine: Error in driver during machine creation: hyperkit crashed! command line:
  hyperkit loglevel=3 console=ttyS0 console=tty0 noembed nomodeset norestore waitusb=10 systemd.legacy_systemd_

[2019-10-30 01:42] medyagh opened #5781 "discuss: change minikube wait.PollImmediate to exponential retry"
while reading minikube code, I noticed we poll for a pod to be on every 300 millseconds, up to 3 minutes, I believe this is gonna put a toll on the api server.

for example:
[code]

I am curious what would be the difference, if we use an expontential retry instead ?

[2019-10-30 02:40] tstromberg commented on #5764
Can someone confirm whether or not this is fixed by the v1.5.1 release?

[2019-10-30 02:42] tstromberg commented on #5772
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2019-10-30 03:01] tstromberg commented on #5781
Before discussion, this should probably get data to make an informed decision on:

- What is the load impact
- What is the timing impact

Only then can we determine the trade-off.

[2019-10-30 03:24] gattytto commented on #946
Running Minikube inside a LXC container
This section describes how to properly configure a LXC container to set up Minikube when the hypervisor uses ZFS/BTRFS/LVM to provision the containers storage

Background
The chectl command-line tool requires the minikube ingress plugin to be enabled in Minikube, at the same time the Minikube ingress plugin requires docker to be running with the overlay file

[2019-10-30 05:27] tanmaymohan opened #5785 "Minikube delete shows garbage characters"
**The exact command to reproduce the issue**:

sudo minikube delete

**The full output of the command that failed**:<details>

🔄  Uninstalling Kubernetes v1.16.0 using kubeadm ...
🔥  Deleting "minikube" in none ...
💔  The "minikube" cluster has been deleted.

💣  update config
❌  Error: [NON_C_DRIVE] Error getting kubeconfig status: could not read config: Error decoding config from data: ELF>?"@@xo

[2019-10-30 05:34] tstromberg commented on #5785
I believe this was fixed in minikube v1.5.x. Do you mind upgrading to the latest release and checking?

[2019-10-30 05:35] tstromberg commented on #5785
Specifically, I suspect this may be a duplicate of #5513

[2019-10-30 05:35] #5499 closed

[2019-10-30 05:42] medyagh commented on #5774
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue what driver or start args ...
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-10-30 05:46] medyagh commented on #5714
I am curious can you acutally read your kubeconfig file ?
cat you see output of

```cat /Users/matthewgleich/.kube/config```
and could you please share the output of

[code]

[2019-10-30 05:48] medyagh commented on #5715
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-10-30 05:50] medyagh commented on #5716
@nixpanic does @khassel 's suggestion help ?

[2019-10-30 05:54] medyagh commented on #5744
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-10-30 05:56] medyagh commented on #5752
@lubocheng  what driver do you use ? do you mind sharing the full miikube start args?

[2019-10-30 06:02] tanmaymohan commented on #5785
Ah , yeah #5499 it is.

Upgrade to v1.5.1 fixes it

[2019-10-30 06:02] #5785 closed

[2019-10-30 07:00] afbjorklund commented on #5770
@medyagh I think this file comes for my elite workaround for the fact that GNU sed and BSD sed are ever so slightly different... Ignore it

[2019-10-30 07:20] harpratap commented on #4350
Upgraded to latest v1.5.1 and seeing same issue but because of a different error now - `/etc/coredns/Corefile:4 - Error during parsing: Unknown directive 'ready'`
Using none driver on Ubuntu 18.04.3

[2019-10-30 07:36] dsebastien commented on #5764
I've been searching for the cause of this issue for two whole days, unable to understand what was wrong :)

My CouchDB (Erlang based) pods did start but CouchDB wouldn't respond. The Erlang parent process uses 100% CPU for 5-10 minutes before CouchDB can actually start.

I'll test with 1.5.1 to see if it works again.

[2019-10-30 09:03] riker09 commented on #5764
I can happily confirm that with minikube `v1.5.1` the following command works as intended:

[code]

(local development environment)

Please note, that on minikube 1.5.0 I had to disable the readiness probe to make the service start successfully:

[code]

[2019-10-30 09:09] andrebrait commented on #5764
1.5.1 fixes it for me too (for all services that were broken with 1.5.0)

[2019-10-30 11:08] zd-dalibor commented on #5666
@afbjorklund
Ok, This is my mistake, vm is not recreated, only host key is not preserved after shutdown.

But there is another problem. `minikube ssh`  command starts embedded ssh agent where arrow keys does not work. I cannot, for example, go through bash history. I think also other special keys do not work like `insert`, `home`, `end` ... With command `minikube ssh --native-ssh=false` I also hav

[2019-10-30 11:42] commitay commented on #5779
@tstromberg I'd suggest using the Homebrew formula update command (via GitHub Actions) instead of updating the current script.

A token for the bot would need to be added in https://github.com/kubernetes/minikube/settings/secrets

If this is okay I'll send a PR.

[code]

[2019-10-30 11:56] dsebastien commented on #5764
1.5.1 does indeed seem to fix issues with Erlang! CouchDB now starts correctly in < 5 seconds

[2019-10-30 12:25] nanikjava commented on #2570
/assign @nanikjava