[2019-09-15 08:51] fujt opened #5357 "Error restarting cluster: waiting for apiserver: timed out waiting for the condition"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2019-09-15 08:52] #5357 closed

[2019-09-15 10:31] blueelvis commented on #4846
@tstromberg - Yep, this looks good I guess. In case any changes are required, we can take care of it in another issue.

[2019-09-15 10:33] blueelvis commented on #4978
@medyagh - Right now, I am using WSL on Windows 10 to do the compilation. I run tests and everything inside the WSL environment only.

Should we add that as well to the documentation?

[2019-09-15 10:34] blueelvis commented on #4865
@medyagh - Yes, I am interested in picking this up once I fix the other major bugs. You have anything in mind for this?

/assign

[2019-09-15 14:14] blueelvis opened #5358 "delete should be able to delete the `.minikube` folder (w/ a flag)"
From https://github.com/kubernetes/minikube/pull/4980#issuecomment-531568673

`minikube delete` should have a switch/flag to delete the `.minikube` folder as well. This should ask for confirmation and display a warning before proceeding ahead.

/assign

[2019-09-15 17:48] afbjorklund commented on #4868
I implemented the podman version now, although it does **not** transport any build context.

So it can only build files that are already on the VM, or build tarballs provided by an URL.

Docker:
[code]

Podman:
[code]

The Docker version is sending the command to the `dockerd` using `docker` (client).

The Podman version is running the `podman` command remotely, using sudo over ssh.

[2019-09-15 18:05] zaidqureshi2 opened #5359 "status on git bash: Error getting host status: state: Failed to find the VM status"
I installed minikube on my windows machine enabled with Hyper V. I already have docker installed on my computer.

I started the minikube with the following command in *PowerShell*: `minikube start --vm-driver=hyperv --hyperv-virtual-switch "Default Switch" --memory=4096`

Please note I used the Default Switch instead of creating a new switch.

After the installation, in powershell:

<details>
PS C

[2019-09-15 18:48] BZM708 commented on #5236
The app that I deployed and exposed onto kubernetes has vs code - asp.net core. The error from above is a result of this app. How can I fix this error?

[2019-09-15 18:49] bradmwalker opened #5360 "Support in VM and pods for VRF (kernel module)"
I'm porting a virtualized network testbed from a system container. A correct migration requires moving the network pod's interface and routes into a non-default VRF. A large number of network namespaces compose the virtual net. bradmwalker/wanmap#48

VRF is enabled in Ubuntu 18.04+ and Fedora 29+.

**The exact command to reproduce the issue**:
minikube ssh
$ zcat /proc/config.gz | grep CONFIG_NET_

[2019-09-15 20:04] afbjorklund commented on #4733
## Docker

As mentioned briefly above, the Docker installation is done using a single script:

[code]

That is: **https://github.com/docker/docker-install/blob/master/install.sh**

This will try to install using deb/rpm packages from https://download.docker.com

It is similar to the manual installation process, as detailed in the docs:

* https://docs.docker.com/install/linux/docker-ce/ubuntu/
  h

[2019-09-15 22:49] John-Dormevil commented on #4043
Try to:
- Deactivate Secure Boot from your bios system;
- Then run `sudo /sbin/vboxconfig` in case you install and use virtualbox 6+
- Then `minikube start`

[2019-09-15 22:49] John-Dormevil commented on #5291
Try to:
- Deactivate Secure Boot from your bios system;
- Then run `sudo /sbin/vboxconfig` in case you install and use virtualbox 6+
- Then `minikube start`

[2019-09-15 22:50] John-Dormevil commented on #4711
Try to:
- Deactivate Secure Boot from your bios system;
- Then run `sudo /sbin/vboxconfig` in case you install and use virtualbox 6+
- Then `minikube start`

[2019-09-15 22:51] John-Dormevil commented on #3974
Try to:
- Deactivate Secure Boot from your bios system;
- Then run `sudo /sbin/vboxconfig` in case you install and use virtualbox 6+
- Then `minikube start`

[2019-09-16 00:54] woodcockjosh commented on #5302
#5363 tested on darwin and linux both with virtualbox. I think the addon approach as @tstromberg suggested is a good solution while helm is still using tiller. @afbjorklund I could be wrong but since this is just installing tiller in the cluster I'm not sure that the host architecture matters.

[2019-09-16 05:52] afbjorklund commented on #5302
Well, the architecture of tiller still matters but the deployment should take care of that (choosing the right image, normally `amd64`)

What I meant is that it is not really useful without also installing `helm`, and then the user is subject to the normal problem of installing binaries.

[2019-09-16 06:26] avinashmeda opened #5364 "Minikube mount command fails on windows with a connection time out error"
**Command to execute :**
 minikube mount --ip=192.168.99.1 --mode 777 --v=10 "C:\Users\testfolder:/mnt/testfolder"  --alsologtostderr

**Command Output :**
[code]

**The output of the `minikube logs` command**:
[code]

**The operating system version**: Windows 10

[2019-09-16 08:54] kvokka commented on #5336
[code]

reproduced the issue (with the same profile got the same). Looks like it dies after the second run.

With VirtualBox provider everything still works.

[2019-09-16 13:21] tstromberg commented on #2456
This no longer happens in modern (v1.0+) minikube releases.

[2019-09-16 13:21] #2456 closed

[2019-09-16 13:22] tstromberg commented on #5336
Thank you for the additional info. I'd be willing to bet that hyperkit's DNS server is conflicting with dnsmasq. This is a known issue:

https://minikube.sigs.k8s.io/docs/reference/drivers/hyperkit/#Issues

Here's some background: https://github.com/kubernetes/minikube/issues/3036

Can you try turning off dnsmasq to confirm? Alternatively, it should be possible to change dnsmasq to bind only to a

[2019-09-16 13:35] tstromberg commented on #4346
Although we now have better logs, this is still an issue:

[code]

[2019-09-16 13:38] blueelvis commented on #5364
Thanks a lot @avinashmeda for reporting this issue! I am pretty sure this is similar to this issue over here - #5029 . I am closing this issue in favor of the older one.

Once again, thanks a lot!

[2019-09-16 13:38] #5364 closed

[2019-09-16 13:52] tstromberg commented on #5358
I personally don't agree with this issue, but it's worth discussing. My main issue with it is:

- `minikube delete` is for deleting single clusters.
- `~/.minikube` is shared configuration and data files

Apps typically don't delete their own state folders except as part of uninstallation.

[2019-09-16 13:57] tstromberg commented on #5359
I wonder if your Git Bash process doesn't have high enough privileges to talk to Hyper-V?

Do you mind sharing this output?

` minikube docker-env --alsologtostderr -v=8`

[2019-09-16 14:45] tstromberg opened #5365 "Increase survey visibility"
- Our surveys used to get ~5 responses per week until our new site launched a month ago
- Our average is now 0-1 responses per week: https://docs.google.com/spreadsheets/d/1o_QpUw_9amxrJCZ_RGC7Eo3yLWe5yFCGQ09JG655flc/edit#gid=594766049
- Traffic indications suggest that minikube usage has increased over this time

[2019-09-16 14:57] kvokka commented on #5336
Thank you @tstromberg  for the link! It helps, will provide the steps to fix below.

Upgraded dnsmasq from 2.7.9 to 2.8.0 with `brew upgrade dnsmasq`

[code]

So I run

[code]

IDK which exactly step helps, but hope that this chunk of code may helps somebody.

[2019-09-16 17:08] WilsonGadekar opened #5366 "hyperv: StartHost: start: exit status 1"
I installed minikube and checked the version it is able to show it. but when i am trying to start minikube with the hyper-virtual-switch created it's giving the below error.

Command -
minikube start - vm-driver hyperv - cpus 2 - memory=4096 - hyperv-virtual-switch "Minikube"

Output -
* minikube v1.3.1 on Microsoft Windows 10 Pro 10.0.17763 Build 17763
*

! Ignoring --vm-driver=virtualbox, as the

[2019-09-16 17:30] tstromberg commented on #5355
No explanation yet: I don't even see an attempt to start the DNS pods. I do see that the eviction manager is going crazy though:

`Sep 14 23:55:57 bauerbob kubelet[2314]: I0914 23:55:57.594430 2314 eviction_manager.go:344] eviction manager: must evict pod(s) to reclaim ephemeral-storage`

Do you minds sharing the output of?

`df -h /var/lib/kubelet /var/log`

Here's some docs about ephemeral stora

[2019-09-16 17:38] tstromberg commented on #5360
Sounds good. Do you mind sending a PR over to enable this?

Example PR: https://github.com/kubernetes/minikube/pull/4340
Documentation: https://minikube.sigs.k8s.io/docs/contributing/iso/

[2019-09-16 17:47] blueelvis commented on #5366
@WilsonGadekar - Thanks for reporting this issue!

Could you please try the following?
1. Delete the folder `%USERPROFILE%/.minikube`
2. Try running the command again - `minikube start --vm-driver hyperv --cpus 2 --memory=4096 --hyperv-virtual-switch "Minikube"`

[2019-09-16 17:48] blueelvis commented on #5365
Just curious. How do you know that minikube usage has increased over this time? We don't have any kind of telemetry, right?

[2019-09-16 17:48] tstromberg commented on #4604
Any luck confirming whether or not this issue still exists with v1.3.1?

[2019-09-16 17:50] tstromberg commented on #4540
Heads up: After refactoring code related to RBAC privilege elevation, I suspect that minikube v1.4.0b2 addresses this bug.

[2019-09-16 17:50] blueelvis commented on #5358
Agreed. Let's discuss. This could be added to the installation/uninstallation steps for sure.

Regarding the delete, I believe that we should have the flag. Nothing that the user will be defaulted to.

[2019-09-16 17:53] tstromberg commented on #4914
Add `crictl` to this list.

[2019-09-16 17:54] #4943 closed

[2019-09-16 17:57] tstromberg commented on #5366
@blueelvis - IMHO, deleting `.minikube` should not be done except in extreme circumstances. Doing so can result in minikube and the VM manager being out of sync with one another.

Based on the output, I believe the failure here is in part because there are spaces after the `-` in the command line. Please try sharing the output of:

`minikube start -vm-driver hyperv -cpus 2 -memory=4096 -hyperv-vir

[2019-09-16 17:57] #5254 closed

[2019-09-16 18:27] hpandeycodeit opened #5367 ""docker-machine-driver-hyperkit": executable file not found in $PATH"
**The exact command to reproduce the issue**:

minikube start --vm-driver=hyperkit

**The full output of the command that failed**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>

 minikube logs

💣  api load: filestore: Docker machine "minikube" does not exist. Use "docker-machine ls" to list machines. Use "docker-machine create" to add a new one.

😿  Sorry t

[2019-09-16 18:58] WilsonGadekar commented on #5366
I ran the command you shared -
minikube start -vm-driver hyperv -cpus 2 -memory=4096 -hyperv-virtual-switch "Minikube" --alsologtostderr -v=8

below is the output

Error: invalid argument "m-driver" for "-v, --v" flag: strconv.Atoi: parsing "m-driver": invalid syntax

Options:
      --apiserver-ips=[]: A set of apiserver IP Addresses which are used in the generated certificate for kubernetes.  Thi

[2019-09-16 18:59] WilsonGadekar commented on #5366
How can i delete `%USERPROFILE%/.minikube'???

[2019-09-16 19:23] tstromberg commented on #5367
hyperkit may be installed, but it sounds like `docker-machine-driver-hyperkit` isn't installed. Please install it first: https://minikube.sigs.k8s.io/docs/reference/drivers/hyperkit/

Related: #5354

[2019-09-16 20:12] tstromberg commented on #4418
Related and/or dupe: https://github.com/kubernetes/minikube/issues/5332

[2019-09-16 20:20] tstromberg opened #5368 "hyperkit integration testing: could not find an IP address / OS type not recognized"
This error has been popping up more frequently:

[code]

Example: https://storage.googleapis.com/minikube-builds/logs/5354/HyperKit_macOS.txt

I suspect that hyperkit has race conditions when run in parallel. It's difficult to tell at the current level of debugging. It's worth noting that we currently wait up to a minute for the IP to appear, which should be more than enough.

[2019-09-16 21:24] tstromberg opened #5370 "Incompatible existing hypervisor message is confusing"
The new error message introduced in #5016 is still confusing:

[code]

Two issues:

- The error message says hyperkit, but it should say virtualbox.
- The error message provides no feedback as to how to recover from the situation

[2019-09-16 21:29] #3975 closed

[2019-09-16 22:45] tstromberg opened #5374 "Remove all functions from `constants.go`"
They aren't constants.

[2019-09-16 22:47] tstromberg opened #5375 "Remove all single-package constants from constants package"
If a constant is only used by a single package, let the constant live there instead of the `constants` package.

For example, flag constants should probably only live in `cmd`.

[2019-09-16 22:57] tstromberg commented on #5336
Excellent. I'm glad you were able to get this worked out!

[2019-09-16 22:57] #5336 closed

[2019-09-16 23:10] thorstenhirsch commented on #5355
Looks like minikube needs a lot of temporary disk space. I could indeed fix the problem by cleaning some things. But let's first have a look at the disk space when minikube crashed:
[code]
I think  "btrfs fi df" is more accurate (~30GiB) on a btrfs volume with compression enabled than "df -h" (~60 GiB). So let's keep in mind: ~30GiB was not enough to successfully start minikube.

I removed some st

[2019-09-17 01:30] michael-golden commented on #4587
This worked for me.  Thanks!

[2019-09-17 02:49] tstromberg opened #5376 "integration tests: Linux hosts have leftover VM's"
https://storage.googleapis.com/minikube-builds/logs/5373/VirtualBox_Linux.txt

It looks like our cleanup was dependent on certain VM names, which I broke after the last refactor:

[code]

This resulted in errors such as:

[code]

[2019-09-17 03:06] sundayle opened #5377 "minikube dashboard failed"
[root@sz_dx_xwx ~]# hostnamectl
   Static hostname: sz_dx_xwx
         Icon name: computer-vm
           Chassis: vm
        Machine ID: 987faebec506464aabfe9c8b44b59e60
           Boot ID: d6ded4b7862f43bdbdc783fd9cd64b6f
    Virtualization: xen
  Operating System: CentOS Linux 7 (Core)
       CPE OS Name: cpe:/o:centos:centos:7
            Kernel: Linux 4.19.4-1.el7.elrepo.x86_64
      Architect

[2019-09-17 04:49] kameshsampath commented on #4604
@tstromberg  - still same issue :(  , if you can deploy the demo https://github.com/kameshsampath/pipeline-helloworld after enabling https://github.com/kameshsampath/minikube-helpers/registry you will see it just times out at the stage of pushing the image to local registry. I tried 1.3.1, 1.2.0 both same result. Works as usual with 1.1.1

[2019-09-17 05:42] arvindpathare opened #5379 "minikube issue"
[root@k8s-master ~]# minikube start
* minikube v1.3.1 on Centos 7.6.1810
! Please don't run minikube as root or with 'sudo' privileges. It isn't necessary with virtualbox driver.
*

! Ignoring --vm-driver=virtualbox, as the existing "minikube" VM was created using the kvm2 driver.
! To switch drivers, you may create a new VM using `minikube start -p <name> --vm-driver=virtualbox`
! Alternatively,

[2019-09-17 05:43] arvindpathare commented on #5379
getting this issue on centos7

[2019-09-17 07:41] castlemilk commented on #4604
Not sure about those repos, but I can successfully make requests to the internal registry now via say: `curl http://registry.kube-system`.

Try setting your Tekton `PipelineResource` as follows:

[code]

[2019-09-17 08:00] kameshsampath commented on #4604
@castlemilk  ah thats a good tip . I was simply aliasing the same via my helper.

[2019-09-17 08:40] avinashmeda commented on #5364
@blueelvis  : The issue you have pointed out is on Hyper-V , Does it hold good for virtual box hypervisor as well on windows ?

[2019-09-17 08:45] avinashmeda commented on #5029
@blueelvis  :Does this also hold good for a Virtual Box Hypervisor ?  A known issue ?

[2019-09-17 09:13] thomas-riccardi commented on #5329
This issue breaks the configuration that disables the default image pruning on disk space pressure. With `vm=none` it is quite severe: it deletes images on the host docker (with a sub-optimal priority: it only cares about images used in minikube pods, which is not the reality in a developer machine).

Would it be possible to increase priority?

Our current workaround is to call minikube with `--ex

[2019-09-17 10:12] yangshenhuai commented on #4132
hello, same in v1.3.1 on centos 7 , any workaround?

[2019-09-17 12:09] u5surf commented on #5375
@tstromberg
Hi, I’ll try this issue.

[2019-09-17 13:20] navin6m opened #5380 "Sorry that minikube crashed. If this was unexpected, we would love to hear from you:"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-09-17 13:27] OlivierPiron commented on #4132
Hello, same issue in 1.3.1, centos 7.6 with a fresh install.
Docker version is 19.03.2

[2019-09-17 14:09] OlivierPiron commented on #4132
Output of minikube start (1.3.1) on centos 7 :

minikube start --vm-driver none --memory 3048 --cpus 3 --alsologtostderr --v=8
I0917 16:07:36.480096    5196 notify.go:124] Checking for updates...
I0917 16:07:36.618457    5196 start.go:224] hostinfo: {"hostname":"gvadevcont01.eri.local","uptime":13389772,"bootTime":1555339484,"procs":358,"os":"linux","platform":"oracle","platformFamily":"rhel","pla

[2019-09-17 14:11] #5083 closed

[2019-09-17 14:12] tstromberg commented on #5061
Haven't seen lately.

[2019-09-17 14:12] #5061 closed

[2019-09-17 14:52] tstromberg commented on #5375
@u5surf: Thank you! That's great news. I look forward to seeing your PR!

/assign u5surf

[2019-09-17 14:54] tstromberg commented on #5029
@avinashmeda - Due to the nature of the issue, my gut instinct says this is a Windows issue rather than a Hyper-V specific issue. Have you seen it in VirtualBox?

[2019-09-17 16:14] LathaSrinivasan commented on #4132
Hi,
I worked around the issues by installing minikube to use the KVM driver on CentOS 7, as described here: https://www.unixarena.com/2019/05/how-to-deploy-kubernetes-minikube-on-rhel-centos.html/

Looks like "none" driver is still broken.

[2019-09-17 17:46] #5376 closed

[2019-09-17 17:47] #3206 closed

[2019-09-17 17:48] #5200 closed

[2019-09-17 20:07] serhatcetinkaya commented on #5374
Hi @tstromberg, I want to work on this but first I need some guidance regarding it. What should be the correct approach towards the issue ?

[2019-09-17 20:19] tstromberg commented on #5374
@serhatcetinkaya -  Here are the functions in scope:

[code]

Here are my recommendations:

* `GetMiniPath() should be moved to a new `pkg/minikube/localpath` package for calculating various paths on the guest.
* `GetKubeadmCachedImages` should move to `pkg/minikube/bootstrapper/kubeadm/images.go`.
* `ArchTag` is only used by `GetKubeadmCachedImages`, so it can move along with it.
* `TunnelRegistr

[2019-09-17 20:27] tstromberg commented on #5368
Still a thing:

https://storage.googleapis.com/minikube-builds/logs/5251/HyperKit_macOS.txt

[2019-09-17 20:56] tstromberg commented on #5380
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2019-09-17 20:57] tstromberg commented on #5379
Using the kvm2 driver as root is unsupported, and will cause an instant exit in the next minikube release. Do you mind seeing if it runs properly when run as a non-root user?

[2019-09-17 20:58] tstromberg commented on #5377
Do you mind attaching the output of `minikube logs`?

[2019-09-17 21:04] #3558 closed

[2019-09-17 21:11] tstromberg commented on #5355
I don't believe Kubernetes is aware of filesystem compression, so I'd be curious to see what the actual `df` output is to see when it decided to panic on ephemeral disk space being unavailable.

[2019-09-17 21:33] #4859 closed

[2019-09-17 21:43] tstromberg commented on #4643
I believe this was fixed in https://github.com/kubernetes/minikube/pull/5224 - and is available to test in the v1.4 betas.

[2019-09-17 21:57] tstromberg commented on #4436
Closed because xhyve support was removed from minikube.

[2019-09-17 21:57] #4436 closed

[2019-09-17 23:02] hpandeycodeit commented on #5367
@tstromberg thanks for the reference. Somehow I missed the driver installation. We can close this one out. :)

[2019-09-18 00:12] tstromberg commented on #5370
Fixed by #5372

[2019-09-18 00:12] #5370 closed

[2019-09-18 01:51] brunomarq commented on #4835
I was able to make it work on my environment by reinstalling it but making sure I removed everything related to *kube* as the following:

kubeadm reset
sudo apt-get purge kubeadm kubectl kubelet kubernetes-cni kube*
sudo apt-get autoremove
sudo rm -rf ~/.kube
sudo rm -rf ~/.minikube
sudo rm -rf /var/lib/minikube
sudo rm -rf /var/lib/kubelet
sudo rm -rf /var/lib/localkube
sudo rm -rf /data/minikube

[2019-09-18 02:32] sundayle commented on #5377
Re-running the minikube dashboard did not produce today's related logs

[root@sz_dx_xwx ~]# minikube logs
* ==> Docker <==
* -- Logs begin at Mon 2019-08-19 01:50:01 CST, end at Wed 2019-09-18
10:23:26 CST. --
* Sep 17 10:49:40 sz_dx_xwx dockerd[5408]:
time="2019-09-17T10:49:40.687416742+08:00" level=info msg="ignoring event"
module=libcontainerd namespace=moby topic=/tasks/delete
type="*events.Ta

[2019-09-18 02:52] sundayle commented on #5377
Installation command：
minikube start --logtostderr --v=3 --registry-mirror=
https://registry.docker-cn.com --registry-mirror=https://dockerhub.azk8s.cn
 --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers
--vm-driver="none"

Siu Pang Cheng <shaopeng1995@gmail.com> 于2019年9月18日周三 上午10:32写道：

[2019-09-18 06:35] avinashmeda commented on #5029
@tstromberg : Yes its Virtualbox and windows issue. Little more light. I also verified the firewall rules that minikube adds, and it seemed fined ( cross verified with the firewall logs and there were no packet drop)

[2019-09-18 07:52] fbdabhishek commented on #3236
minikube is hardly used in production, don't see a security issue there. I thought minikube is for testing and learning purpose only.

[2019-09-18 07:53] fbdabhishek commented on #3208
minikube is not running in production for any one and its only for learning and prototyping, who is going to do DNS attacks if its not on a public domain.

[2019-09-18 08:01] OlivierPiron commented on #4132
Hi,
I'm running in a virtualized environment, so I have to use the "none" driver.
Is there a workaround to be able to run minikube ?
Or do I have to revert to an older version ? which one, with which version of Docker ?

Thanks

[2019-09-18 09:03] blueelvis commented on #5029
Wait. I am not clear. You are confirming what Thomas said right? That even
using Windows & Virtualbox did not fix the mounting issue, right?

On Wed, Sep 18, 2019 at 12:05 PM avinashmeda <notifications@github.com>
wrote:

[2019-09-18 12:22] serhatcetinkaya commented on #5374
Cool, thank you. I will submit a PR once everything is good
/assign serhatcetinkaya

[2019-09-18 13:51] fbdabhishek commented on #2656
for Windows  this was on %User%/go/bin/go-bindata .. had to append this to path env and restart the prompt and it worked.

[2019-09-18 14:29] AnushAhmad opened #5391 "Unable to start Hper-v for minikube ,please help,"
Starting existing hyperv VM for "minikube" ...
E0918 19:21:22.349100   10896 start.go:723] StartHost: start: exit status 1
*
X Unable to start VM: start: exit status 1

[2019-09-18 15:27] feaber opened #5392 "Support for Windows 10 WSL2"
Is there is a plan to support WSL2 on Windows 10?

Docker is already experimenting with it:
https://docs.docker.com/docker-for-windows/wsl-tech-preview/

Do You think supporting WSL2 could save us from using virtual machines?

[2019-09-18 17:06] woodcockjosh opened #5394 "feature: set ingress class for ingress plugin (for traefik)"
If someone is using a different ingress class, like `traefik`, then the ingress configurations won't work. We should be able to set the ingress class for the ingress plugin to resolve this with an option like `--ingress-class={{ default 'nginx' .IngressClass }}` as described here: https://kubernetes.github.io/ingress-nginx/user-guide/multiple-ingress/

[2019-09-18 17:11] lukasmrtvy commented on #3480
Ubuntu Disco, VirtualBox 6.0.12, minikube 1.3.1 same error after VM restart.

[2019-09-18 17:16] tstromberg commented on #5178
Fixed by https://github.com/kubernetes/minikube/pull/5197

[2019-09-18 17:16] #5178 closed

[2019-09-18 17:21] tstromberg commented on #4392
@sjortiz - If you are still interested, let me know how I can help.

[2019-09-18 17:22] tstromberg commented on #4482
Merged in by #4494.

[2019-09-18 17:24] #4754 closed

[2019-09-18 17:25] tstromberg commented on #4775
This should be improved now.

[2019-09-18 17:25] #4775 closed

[2019-09-18 17:27] tstromberg commented on #4978
`make` should work now. Is there something we need to do with the docs?

[2019-09-18 17:48] #5309 closed

[2019-09-18 19:14] spimentel1201 opened #5396 "hyperv: cannot use "fe80::215:5dff:fe01:10d" as the bind address for the API Server"
**Los comandos necesarios para reproducir la incidencia**:

**El resultado completo del comando que ha fallado**: <details>

</details>

**El resultado del comando `minikube logs`**: <details>

X Error starting cluster: cmd failed: sudo /usr/bin/kubeadm init --config /var/lib/kubeadm.yaml  --ignore-preflight-errors=DirAvailable--etc-kubernetes-manifests,DirAvailable--data-minikube,FileAvailable--e

[2019-09-18 19:48] cduke-nokia commented on #4132
To OlivierPiron: this problem affects Minikube 1.0.0 and up; I did not encounter this problem in pre-1.0.0 versions. I can start minikube 1.0.0 to 1.3.1 with "none" driver but not after minikube stop. Workaround is to use minikube delete then minikube start will work.

In other words, this sequence fails:
sudo minikube start --vm-driver=none
sudo minikube stop
sudo minikube start --vm-driver=none

[2019-09-18 20:36] tstromberg opened #5398 "PR bot: Add CPU load impact"
As part of the roadmap item "Reduce guest VM overhead by 50%", I would like to see an integration test that both our CI and developers can run that generates:

- A graph of load average impact for minikube start + 60 seconds of idle afterwards.
- An approximate idle load impact score, for instance: (mean minikube idle average - mean pre-start average).

An additional enhancement would be generatin

[2019-09-18 20:37] tstromberg commented on #5398
Related: #3207

It would be nice to see this mature to eventually give us feedback on whether or not a PR has a negative or positive performance improvement.

[2019-09-18 23:24] tstromberg opened #5402 "dashboard incompatible with Kubernetes v1.16.0: 404 errors abound"
`minikube dashboard` currently deploys the v1.10.1 version of the dashboard, which is incompatible with Kubernetes v1.16.0.

There may be workarounds, but v2.0.0b4 may be an option for Kubernetes v1.16.0 users, if one can figure out how to get authentication configured.

[2019-09-19 00:00] akapei commented on #4088
`brew cask reinstall virtualbox` if you already have virtualbox installed

[2019-09-19 00:20] tstromberg commented on #5402
v1.10.1 shows:

[code]

[2019-09-19 05:53] afbjorklund commented on #2656
Adding $GOPATH/bin to PATH is supposed to be part of the setup.
See e.g. https://golang.org/doc/code.html#GOPATH

[2019-09-19 06:45] timothydlister commented on #2954
/close

On Wed, Sep 18, 2019, at 11:44 PM, fejta-bot wrote:

[2019-09-19 13:46] tstromberg opened #5406 "hyperkit integration testing: error calling MarshalJSON for type *rpcdriver.RPCClientDriver: unexpected EOF"
[code]

From https://storage.googleapis.com/minikube-builds/logs/5405/HyperKit_macOS.txt

One thing I notice here is that when we retry a failed start, we re-use the existing failed VM state.

[2019-09-19 14:26] g-boros commented on #4540
@tstromberg it looks like it's still having issues with v1.4.0b2. will check if related to Cisco VPN.

[code]

[2019-09-19 15:38] serhatcetinkaya commented on #5374
PR #5409 is submitted

[2019-09-19 15:51] SlurmMcKenzie commented on #5358
In Apt Package Management (Debian) you have an extra option for deleting configuration: <code>--purge</code>. Would that fit?

[2019-09-19 17:11] Javatar81 commented on #4604
@castlemilk I checked your example with Minikube 1.3.1  (registry add-on enabled and registry-proxy active) and Tekton 0.6.0. It worked and uses the registry service. It is important setting port 80 in the url (it does not work without setting any port) because this matches the registry service port.

[2019-09-19 17:21] #5406 closed

[2019-09-19 17:32] #5402 closed

[2019-09-19 17:50] kameshsampath commented on #4604
My registry helper was to avoid those port spec via alisases, but dont know why they do not work on 1.3; need to revisit soon to fix if any issues.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Benjamin <notifications@github.com>
Sent: Thursday, September 19, 2019 10:41:44 PM
To: kubernetes/minikube <minikube@noreply.github.com>
Cc: Kamesh Sampath <kamesh.sampa

[2019-09-19 18:04] Okaada commented on #4587
Works for me

[2019-09-19 18:07] #4864 closed

[2019-09-19 18:09] #4783 closed

[2019-09-19 18:09] #5153 closed

[2019-09-19 18:10] tstromberg commented on #4967
This appears to be gone?

[2019-09-19 20:02] #5180 closed

[2019-09-19 20:42] tstromberg commented on #5377
I believe we may have fixed this issue in the minikube v1.4 release. Do you mind trying it out and reporting back if so?

[2019-09-19 20:48] tstromberg commented on #5391
Hi Anush!

Do you mind trying with minikube v1.4? I believe we have addressed this. If not, could you please include the output of:

`minikube start --alsologtostderr -v=8`

Thank you!

[2019-09-19 20:51] tstromberg commented on #5396
Creo que este problema es un duplicado del n. ° 3963, y se puede solucionar actualizando a minikube v1.4 que utiliza el "Interruptor predeterminado" de Hyper-V. ¿Te importaría probarlo por nosotros?

[2019-09-19 20:53] tstromberg commented on #5394
There isn't currently a way to pass options into addons, but that's something we should consider when we revamp them.

In the mean time, perhaps we could have an traefik or ingress-traefik addon?

[2019-09-19 20:55] tstromberg commented on #5392
Yes, there is a plan to support WSL2! I'm not sure if folks have experimented with `--vm-driver=none` and WSL2, but we definitely plan to support it using the Docker deployment model in #4772

Help wanted =)

[2019-09-19 21:19] tstromberg commented on #5358
@SlurmMcKenzie - Yes, that seems like a better behavior. I'd be happy to see a similar --purge flag to `minikube delete`.

[2019-09-19 21:21] tstromberg commented on #5355
minikube v1.4 improved this behavior, in that it should now show you the ephemeral error. It will not attempt to clear the disk space for you though.

I'm going to close this now that it appears to be solved, but feel free to mention `/reopen` to reopen the issue at any point.

[2019-09-19 21:21] #5355 closed

[2019-09-19 21:28] tstromberg commented on #5301
Agreed. I would like to see this as part of our 2020 roadmap -- probably with a UI.

[2019-09-19 21:29] tstromberg commented on #5295
I believe this was resolved by minikube v1.4.

[2019-09-19 21:29] #5295 closed

[2019-09-19 21:29] tstromberg commented on #5286
Regrettably, there isn't enough information in this issue to make it actionable. Since some time has passed, I'm going to close this issue. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

*  The exact `minikube start` command line used
*  The full output of the `minikube sta

[2019-09-19 21:29] #5286 closed

[2019-09-19 21:33] tstromberg commented on #5238
Could you please check to see if minikube v1.4 addresses this issue? We've made some changes with how this is handled, and improved the `minikube logs` output to help us debug tricky cases like this.

[2019-09-19 21:48] tstromberg commented on #3552
Still a valid issue.

[2019-09-19 21:51] tstromberg commented on #3378
Fixed by minikube v1.4, probably with rootfs -> tmpfs migration.

[code]

Starting with /bin/sh works perfectly.

[2019-09-19 21:51] #3378 closed

[2019-09-19 21:53] tstromberg commented on #3579
This is still a popular support issue with no way to workaround it other than modifying the configuration of the local DNS daemon.

[2019-09-19 21:57] tstromberg commented on #3606
Upstream: https://www.virtualbox.org/ticket/14736

[2019-09-19 21:59] tstromberg commented on #3606
Has anyone seen this with more recent releases of Virtualbox?

I don't see anything from their changelog that suggests the issue has been fixed.

[2019-09-19 22:00] tstromberg commented on #3786
If you run into this, please use the newer `vmware` driver:

https://minikube.sigs.k8s.io/docs/reference/drivers/vmware/

Thanks!

[2019-09-19 22:00] #3786 closed

[2019-09-19 22:02] tstromberg commented on #4029
The workaround for this is to use `minikube start` to start your cluster. It will fix `kubectl`.

[2019-09-19 22:05] tstromberg commented on #4056
@radhikapc: I believe this issue is now addressed by minikube v1.4, as it changes the backing location of where images are stored. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-19 22:05] #4056 closed

[2019-09-19 22:06] tstromberg commented on #4146
Could you please check to see if minikube v1.4 addresses this issue? We've made some changes with how this is handled, and improved the log output to help us debug tricky cases like this.

[2019-09-19 22:10] tstromberg commented on #4206
Update: This issue is still possible, but minikube v1.4 now retries the creation process, so you are much less likely to see the problem in the wild. That said, there are still programs like "Little Snitch" that may interfere, so I am leaving this open.

[2019-09-19 22:13] tstromberg commented on #4845
Regrettably, there isn't enough information in this issue to make it actionable. Since some time has passed, I'm going to close this issue. If you are able to provide additional details, you may reopen it at any point by adding `/reopen` to your comment.

Here is additional information that may be helpful to us:

*  Whether this issue exists with the latest minikube release (v1.4)
*  The exact `mi

[2019-09-19 22:13] #4845 closed

[2019-09-19 22:14] tstromberg commented on #4824
Regrettably, there isn't enough information in this issue to make it actionable. Since some time has passed, I'm going to close this issue. If you are able to provide additional details, you may reopen it at any point by adding `/reopen` to your comment.

Here is additional information that may be helpful to us:

*  Whether this issue exists with the latest minikube release (v1.4)
*  The exact `mi

[2019-09-19 22:14] #4824 closed

[2019-09-19 22:14] tstromberg commented on #4803
Regrettably, there isn't enough information in this issue to make it actionable. Since some time has passed, I'm going to close this issue. If you are able to provide additional details, you may reopen it at any point by adding `/reopen` to your comment.

Here is additional information that may be helpful to us:

*  Whether this issue exists with the latest minikube release (v1.4)
*  The exact `mi

[2019-09-19 22:14] #4803 closed

[2019-09-19 22:17] tstromberg commented on #4749
I am magically turning this into an actionable feature request.

[2019-09-19 22:36] tstromberg commented on #5226
@rossbrigoli : I believe this issue is now addressed by minikube v1.4, as it no longer requires an external virtual switch to be configured. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

[2019-09-19 22:36] #5226 closed

[2019-09-19 22:37] tstromberg commented on #5211
Could you please check to see if minikube v1.4 addresses this issue? We've made some changes with how this is handled, and improved the minikube logs output to help us debug tricky cases like this.

[2019-09-19 22:38] tstromberg commented on #5181
This is still required.

[2019-09-19 22:52] tstromberg commented on #1716
Implemented in minikube v1.4.

[2019-09-19 22:52] #1716 closed

[2019-09-19 22:58] #5368 closed

[2019-09-19 22:59] tstromberg commented on #5365
@blueelvis - The best we have for telemetry is download counts. I don't have good stats on the files stored in GCS, but we do for GitHub.

https://www.somsubhra.com/github-release-stats/

[2019-09-19 23:03] tstromberg commented on #2371
It isn't perfect, but profiles are now documented:

https://minikube.sigs.k8s.io/docs/reference/commands/profile/

[2019-09-19 23:03] #2371 closed

[2019-09-19 23:31] woodcockjosh commented on #5394
I will think about how to create a traefik addon

[2019-09-20 01:12] BlackMaria commented on #3654
it would be nice to have a means of forcing ipv4 only.  Noting that minikube creates vm that tries ivp6... unless someone could tell me what was wrong with my installation.

[2019-09-20 01:12] #3654 closed

[2019-09-20 01:46] sundayle commented on #5377
Thank you. Just installed the latest version, solved it.

Thomas Strömberg <notifications@github.com> 于2019年9月20日周五 上午4:42写道：

[2019-09-20 03:29] tstromberg commented on #4694
Sounds like you found an interesting workaround.

In general, `minikube start` and `minikube delete` should do the right thing. Registering VM's shouldn't be necessary. Thanks for the feedback!

[2019-09-20 03:29] #4694 closed

[2019-09-20 03:33] tstromberg commented on #4826
@author: I believe this issue is now addressed by minikube v1.4, as it reliably passes the correct context to `elevateKubeSystemPrivileges`. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 03:33] #4826 closed

[2019-09-20 03:34] tstromberg commented on #4826
@eluricharter I believe this issue is now addressed by minikube v1.4, as it reliably passes the correct context to `elevateKubeSystemPrivileges`. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 03:35] tstromberg commented on #4832
@jerry-x: I believe this issue is now addressed by minikube v1.4, as it now forcibly syncs the time across all starts. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`.

Also worth noting: the `vmwarefusion` driver is deprecated, and was replaced with `vmware`: https://minikube.sigs.k8s.io/docs/reference/drivers/vmware/

Thank you for

[2019-09-20 03:35] #4832 closed

[2019-09-20 03:35] #4858 closed

[2019-09-20 03:36] tstromberg commented on #4858
Related: #4774

[2019-09-20 03:36] tstromberg commented on #4860
Regrettably, there isn't enough information in this issue to make it actionable. Since some time has passed, I'm going to close this issue. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

*  The exact `minikube start` command line used
*  The full output of the `minikube sta

[2019-09-20 03:36] #4860 closed

[2019-09-20 03:36] #4890 closed

[2019-09-20 03:37] #4900 closed

[2019-09-20 03:38] tstromberg commented on #4908
@ankit45621 I believe this issue is now addressed by minikube v1.4, as it should detect the condition and then recommend a reinstallation of VirtualBox+reboot. This issue is typically caused by a mismatch of VirtualBox kernel and userland.

If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 03:38] #4908 closed

[2019-09-20 03:43] tstromberg commented on #4910
@fabricadd I believe the final issue is now addressed by minikube v1.4, as it now forcibly resets broken VM's, and uses the hyperv "Default Switch" for networking. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 03:43] #4910 closed

[2019-09-20 03:46] tstromberg commented on #4302
minikube v1.4 does a slightly better job of debugging this issue, but in the end, it now comes down to making sure the VPN is configured to allow access to the virtual machine launched.

We now have some documentation around this: https://minikube.sigs.k8s.io/docs/reference/networking/vpn/

[2019-09-20 03:47] tstromberg commented on #5036
Still a bug in v1.4.

[2019-09-20 03:48] tstromberg commented on #5040
Regrettably, there isn't enough information in this issue to make it actionable. Since some time has passed, I'm going to close this issue. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

*  The exact `minikube start` command line used
*  The full output of the `minikube sta

[2019-09-20 03:48] #5040 closed

[2019-09-20 03:49] tstromberg commented on #5046
@rameshpuruganti I believe this issue is now addressed by minikube v1.4, as it forcibly resets VM's that are in a failed state. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 03:49] #5046 closed

[2019-09-20 03:52] tstromberg commented on #5072
@orthoxerox - Understood. I personally am not a fan of that model, as it subverts the more typical Hyper-V Administrators ACL: https://blogs.msdn.microsoft.com/virtual_pc_guy/2014/06/11/allowing-non-administrators-to-control-hyper-vupdated/

[2019-09-20 03:53] #5088 closed

[2019-09-20 03:54] #5120 closed

[2019-09-20 03:55] #5146 closed

[2019-09-20 03:56] tstromberg commented on #5146
Sounds like the culprit was found: each user only sees the minikube instances that it created.

[2019-09-20 03:57] tstromberg commented on #5222
@author: I believe this issue is now addressed by minikube v1.4, as it now forcibly resets existing VM's on failure. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 03:57] #5222 closed

[2019-09-20 03:59] tstromberg commented on #4604
I can't tell from the comments - was there a resolution found here?

[2019-09-20 04:01] tstromberg commented on #4588
I think the answer is to set `--wait=false`. Once that's set, everything else is for the most part kubeadm. I'll leave #4990 as it seems like a vaild enhancement.

[2019-09-20 04:01] #4588 closed

[2019-09-20 04:02] tstromberg commented on #4546
AFAIK, this is still an issue with minikube v1.4 as we have not yet swapped out the storage provisioner addon used.

[2019-09-20 04:03] tstromberg commented on #4540
@kmayura1  I believe this issue is now addressed by minikube v1.4, as it reliably passes the correct context to the elevate function. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 04:05] tstromberg commented on #3256
Closing as infeasible.

[2019-09-20 04:05] #3256 closed

[2019-09-20 04:06] tstromberg commented on #3388
VPN configs now have documentation: https://minikube.sigs.k8s.io/docs/reference/networking/vpn/

[2019-09-20 04:06] #3388 closed

[2019-09-20 04:07] tstromberg commented on #3566
minikube v1.4 now gives a little bit more documentation around this, but I'll leave this open for others who run into this support issue.

[2019-09-20 04:08] #3590 closed

[2019-09-20 04:08] tstromberg commented on #3604
Closing as infeasible.

[2019-09-20 04:08] #3604 closed

[2019-09-20 04:14] tstromberg commented on #3772
Still an issue in v1.4.

[2019-09-20 04:16] tstromberg commented on #4000
Closing as apparently there is a workaround here.

[2019-09-20 04:16] #4000 closed

[2019-09-20 04:17] tstromberg commented on #4072
@madhu-1I believe this issue is now addressed by minikube v1.4, as it the necessary fixes have been merged. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 04:17] #4072 closed

[2019-09-20 04:20] tstromberg commented on #4144
For the record, there is no way to disable cgroups in kubelet: it is required for it to function, and a red herring here. I suspect the error is elsewhere.

If you run into this with minikube v1.4, please feel free to re-open the issue, but do include the output of `minikube logs`. Thanks!

[2019-09-20 04:20] #4144 closed

[2019-09-20 04:23] tstromberg commented on #4150
This sounds cgroups related in some way, but I don't know enough about how to debug why the  containers would not have the necessary permissions. eElp wanted!

[2019-09-20 04:27] tstromberg commented on #4348
minikube v1.4 does a slightly better job with this, as it will forcibly remove old state on failure.

That said, there is no explanation of why this failure happened to begin with.

[2019-09-20 04:29] tstromberg commented on #4350
This seems solved, but I will leave it open for anyone else who runs into this.

[2019-09-20 04:30] tstromberg commented on #4352
@author: I believe this issue is now addressed by minikube v1.4, as it upgrades the dashboard to 2.0 and uses a different RBAC configuration. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 04:30] #4352 closed

[2019-09-20 04:32] tstromberg commented on #4366
@author: I believe this issue is now addressed by minikube v1.4 & Kubernetes v1.16, as it adjusts the way that the apiserver is spawned. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 04:32] #4366 closed

[2019-09-20 04:33] tstromberg commented on #4366
@author: I believe this issue is now addressed by minikube v1.4 & Kubernetes v1.16, as it adjusts the way that the apiserver is spawned. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen` - and be sure to include the output of `minikube logs`

Thank you for reporting this issue!

[2019-09-20 04:33] tstromberg commented on #4404
@AvinashTiwari - I believe this issue is now addressed by minikube v1.4 & Kubernetes v1.16, as it adjusts the way that the apiserver is spawned. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen` - and be sure to include the output of `minikube logs`

Thank you for reporting this issue!

[2019-09-20 04:33] #4404 closed

[2019-09-20 04:34] tstromberg commented on #4468
@author: I believe this issue is now addressed by minikube v1.4, as it should detect and present the eviction up front. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen` - and be sure to include the output of `minikube logs`

Thank you for reporting this issue!

[2019-09-20 04:34] #4468 closed

[2019-09-20 04:36] tstromberg commented on #4498
This was fixed in v1.4

[code]

[2019-09-20 04:36] #4498 closed

[2019-09-20 04:37] tstromberg commented on #4502
I'm not sure this is going to be terribly useful in the new parallelized world. Feel free to re-open if you disagree.

[2019-09-20 04:37] #4502 closed

[2019-09-20 04:37] #4506 closed

[2019-09-20 04:39] tstromberg commented on #4518
Closing: we've revised the error message to be more useful now. Thank you for the feedback!

[2019-09-20 04:39] #4518 closed

[2019-09-20 04:39] tstromberg commented on #4532
Dupe of #4302

[2019-09-20 04:39] #4532 closed

[2019-09-20 04:42] tstromberg commented on #5099
The original error here seems to be hidden by this error message in docker:

[code]

It unfortunately gets cut off. I recommend looking there for the reason why this failed.

[2019-09-20 04:43] tstromberg commented on #4942
Marking as dupe of #4302

[2019-09-20 04:43] #4942 closed

[2019-09-20 04:43] tstromberg commented on #4977
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 04:43] #4977 closed

[2019-09-20 04:44] tstromberg commented on #4951
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 04:44] #4951 closed

[2019-09-20 04:44] tstromberg commented on #4519
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 04:44] #4519 closed

[2019-09-20 04:45] tstromberg commented on #5291
We've improved the advice in minikube v1.4 when this occurs:

`Reinstall VirtualBox and reboot. Alternatively, try the kvm2 driver: https://minikube.sigs.k8s.io/docs/reference/drivers/kvm2/`

Hopefully this helps.

[2019-09-20 04:45] #5291 closed

[2019-09-20 04:47] tstromberg commented on #3146
There isn't much we can do about this issue, but we'll leave it open in case others come by with corrupt KUBECONFIG files.

[2019-09-20 04:51] tstromberg commented on #3467
Closing, as there is an implicit assumption that the user is in the correct `libvirt` access group. It's not worth trying to work around it.

[2019-09-20 04:51] #3467 closed

[2019-09-20 04:52] tstromberg commented on #3971
Closing, as this behavior shouldn't exist in v1.4.

[2019-09-20 04:52] #3971 closed

[2019-09-20 04:52] tstromberg commented on #4019
Closing. The basic issue here is that kubectl and minikube only know about the clusters started by the user: if you use sudo, that's root.

To prevent confusion, minikube v1.4 will exit if you try to use something other than the `none` driver as root.

[2019-09-20 04:52] #4019 closed

[2019-09-20 04:55] tstromberg commented on #4031
Closing, as this issue originates entirely from VirtualBox. I'd upgrade to v6.0.12, run `minikube delete`, and move on.

[2019-09-20 04:55] #4031 closed

[2019-09-20 04:56] tstromberg commented on #4099
If someone runs into this, I'd be curious about the output of:

`minikube start --alsologtostderr -v=8`

[2019-09-20 04:57] tstromberg commented on #4145
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 04:57] #4145 closed

[2019-09-20 05:00] #4287 closed

[2019-09-20 05:01] tstromberg commented on #4287
@dineshtailor - Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube sta

[2019-09-20 05:02] tstromberg commented on #4293
As far as the original issue, I think VirtualBox on top of VMware is an unsupported configuration.

As far as the latter, try minikube v1.4: you no longer have to provide an external switch.

[2019-09-20 05:02] #4293 closed

[2019-09-20 05:03] tstromberg commented on #4425
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 05:03] #4425 closed

[2019-09-20 05:05] tstromberg commented on #4427
It sounds like there isn't much we can do about this - it appears to be an incompatibility with portable VirtualBox. Perhaps try the Hyper-V driver?

[2019-09-20 05:05] #4427 closed

[2019-09-20 05:05] tstromberg commented on #4457
Closing, as a reinstall appears to fix the issue.

[2019-09-20 05:05] #4457 closed

[2019-09-20 05:06] tstromberg commented on #4467
Closing as a workaround appears to have been found.

[2019-09-20 05:06] #4467 closed

[2019-09-20 05:07] tstromberg commented on #4477
Closing as a workaround appears to have been found.

[2019-09-20 05:07] #4477 closed

[2019-09-20 05:08] tstromberg commented on #4477
Related: #4806

[2019-09-20 05:08] tstromberg commented on #4511
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 05:08] #4511 closed

[2019-09-20 05:08] #4515 closed

[2019-09-20 05:10] tstromberg commented on #4621
Still an issue in v1.4.

[2019-09-20 05:10] #4643 closed

[2019-09-20 05:11] tstromberg commented on #4643
minikube v1.4 was released, which addresses this.

[2019-09-20 05:11] tstromberg commented on #4673
This shipped with minikube v1.4.

[2019-09-20 05:11] #4673 closed

[2019-09-20 05:11] #4701 closed

[2019-09-20 05:12] #4795 closed

[2019-09-20 05:12] tstromberg commented on #4835
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 05:12] #4835 closed

[2019-09-20 05:18] #5377 closed

[2019-09-20 05:18] tstromberg commented on #5377
Thanks!

[2019-09-20 05:46] afbjorklund commented on #4150
SElinux ?

[2019-09-20 05:49] tkautenburger commented on #2922
/close

[2019-09-20 05:50] #2922 closed

[2019-09-20 05:59] afbjorklund commented on #5392
Interestingly, using WSL will *not* save you from running a VM. Similar to Docker-for-Windows it will just let you run on _someone else_’s VM...

https://devblogs.microsoft.com/commandline/announcing-wsl-2/

[2019-09-20 06:59] vsethi opened #5415 "1.4: waiting for apiserver: timed out (solved by reinstall VirtualBox)"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
😄  minikube v1.4.0 on Darwin 10.14.3
👍  Upgrading from Kubernetes 1.15.2 to 1.16.0
💿  Downloading VM boot image ...

💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🔄  Starting existing virtualbox VM for "minikube" ...
⌛  Wa

[2019-09-20 07:18] carroarmato0 opened #5416 "Update notifier points to unexisting Github page"
The minikube's update notifier displays the following url:

`⚠️  minikube 1.4.0 is available! Download it: https://github.com/kubernetes/minikube/releases/tag/v/1.4.0
`

This takes you to a 404 page on Github.

The correct URL should have been

`⚠️  minikube 1.4.0 is available! Download it:
https://github.com/kubernetes/minikube/releases/tag/v1.4.0
`

Current version
`
minikube version: v1.3.1
com

[2019-09-20 07:18] dedanmsafari opened #5417 "permission denied while accessing kubeconfig"
minikube start --vm-driver=virtualbox
😄  minikube v1.4.0 on Ubuntu 18.04
🔥  Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🌐  Found network options:
    ▪ HTTP_PROXY=http://172.16.63.3:3128
    ▪ HTTPS_PROXY=http://172.16.63.3:3128
    ▪ NO_PROXY=localhost,127.0.0.1,10.96.0.0/12,192.168.99.0/24,192.168.39.0/24
    ▪ http_proxy=172.16.63.3:3128
    ▪ https_proxy=http://172.16.63.3

[2019-09-20 07:19] dedanmsafari commented on #5417
Any idea on how i can access the  /.kube/config file?

[2019-09-20 07:33] orthoxerox commented on #5072
@tstromberg I think the idea was to allow the user to create and run just one VM, the only with MobyLinux on it. Making a user a Hyper-V admin allows them to create and run all possible VMs.

[2019-09-20 08:35] dzmitry-lahoda opened #5418 "Windows installer: /SD (completely silent mode) doesn't work"
1. Download https://storage.googleapis.com/minikube/releases/latest/minikube-installer.exe
2. Run with silent parameters http://www.silentinstall.org/nsis
Expected: No  message box.
Actual: Message box is shown

UPDATE: `/S` mode seems to work, but not `/SD`. So seems to be simple fix.

[2019-09-20 08:38] dzmitry-lahoda commented on #4865
@blueelvis where is documentation about `pwsh` feature about this? what is branch for this? i  hope you will have pwsh module with build and release cycle(like other pro modules) so it is possible to add new apis continously (ease of contribute)

[2019-09-20 10:36] scienebitch opened #5419 "The "virtualbox" driver should not be used with root privileges."
When I try to run a kubernetes cluster using sudo minikube start, I get this error. If I remove sudo, I get error Failed to cache ISO: https://storage.googleapis.com/minikube/iso/minikube-v1.4.0.iso: open /home/username/.minikube/cache/iso/minikube-v1.4.0.iso.download: permission denied

[2019-09-20 10:41] #5419 closed

[2019-09-20 10:41] scienebitch commented on #5419
Changed the permissions for /home/username/.minikube/cache/iso/minikube-v1.4.0.iso.download

[2019-09-20 12:30] g-boros commented on #4488
@bygui86 above steps worked fine with the example config from [audit doc](https://kubernetes.io/docs/tasks/debug-application-cluster/audit/):

[code]

I can see audit logs in apiserver's stdout:

[code]

[2019-09-20 12:50] edernucci opened #5420 "no matches for kind "Deployment" in version "extensions/v1beta1" installing Ambassador"
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>

[code]

</details>

**The output of the `minikube logs` command**:<details>

[code]

</details>

**The operating system version**:

[code]

[2019-09-20 12:59] edernucci commented on #5420
Sorry, it's all about Ambassador using deprecated API.

[2019-09-20 12:59] #5420 closed

[2019-09-20 14:36] holleyism commented on #4540
/reopen
Just downloaded 1.4 and ran into the same error.
[code]

[2019-09-20 14:37] tstromberg commented on #5417
My guess is that the .kube directory, or at least the config file is owned by another user. Possibly due to previous use of `sudo`. This should do the trick:

`sudo chown -R $USER /home/msafari/.kube`

If not, do you mind sharing the output of:

`ls -la /home/msafari/.kube`

Please let me know if this helps.

[2019-09-20 14:39] tstromberg commented on #5418
Sounds reasonable. I personally know nothing about NSIS, so help wanted :)

Source code is here: https://github.com/kubernetes/minikube/tree/master/installers/windows

/cc @blueelvis

[2019-09-20 14:42] tstromberg commented on #5415
The cluster appears fully functional. Is there any chance your system has a VPN installed?

[2019-09-20 14:47] tstromberg commented on #5416
Thanks for the heads up! We fixed this embarrassing issue in v1.4, so you shouldn't see it again: #5101

[2019-09-20 14:47] #5416 closed

[2019-09-20 16:05] den-is commented on #4540
same here.. damn it.........
i had no time to restart reinstall and to do rain-dance
but for now, simple AnyConnect disabling didn't help

macos 10.14.6; minikube 1.4; virtualbox 6.0.12 r133076

[2019-09-20 16:36] dedanmsafari commented on #5417
total 20
drwxr-x---  4 msafari root    4096 Ful 21 11:00 .
drwxrwxrwx 30 msafari msafari 4096 Ful 21 10:57 ..
drwxr-x---  3 msafari root    4096 Ful 14 11:18 cache
-rw-------  1 msafari root     427 Ful 21 19:34 config
drwxr-x---  3 msafari root    4096 Ful 21 10:57 http-cache

[2019-09-20 16:36] dedanmsafari commented on #5417
it does not change. the config file has read and write permissions but i cant access it

[2019-09-20 16:50] sharifelgamal commented on #4540
/reopen

[2019-09-20 17:19] tstromberg commented on #4540
If you see this message with minikube v1.4.0, please attach the output of:

* `minikube start --alsologtostderr -v=3`
* `minikube status`
* `minikube logs`. Thank you!

[2019-09-20 17:23] tstromberg commented on #5366
@WilsonGadekar - it looks like my advice was bad. All of our flags need double dashes, even on Windows. Do you mind upgrading to minikube v1.4 and trying this command:

`minikube start --vm-driver hyperv --cpus 2 --memory=4096 --alsologtostderr -v=1`

NOTE: There is no need to specify an external switch now, which is probably where minikube was failing before.

[2019-09-20 17:25] tstromberg commented on #5252
@balopat - any thoughts?

[2019-09-20 17:30] balopat commented on #5252
Hey @cornelius, thank you for offering to maintain this piece of code, that is great! Feel free to move it to your own Github space, I'd love to have a small credit that it was originally written by me for minikube and Skaffold, if that's not a big problem. Otherwise I am more than happy to actually use it from your fork and contribute there!

[2019-09-20 17:34] #5234 closed

[2019-09-20 17:35] tstromberg commented on #5234
Closing dupe. As far as the "context deadline exceeded" error, I recommend checking the output of `kubectl get po -A` and checking the logs for the service. If you still need help, please open a new issue so that it may be tracked appropriately.

[2019-09-20 17:37] tstromberg commented on #5186
If your system can't resolve `localhost`, the kubelet will fail. I recommend adding it to the end of the 127.0.0.1 line:

`127.0.0.1 QlikSenseLinux localhost`

Please re-open if this advice does not help.

[2019-09-20 17:37] #5186 closed

[2019-09-20 17:37] tstromberg commented on #5118
It seems reasonable to have as an option.

[2019-09-20 17:38] tstromberg commented on #5080
Seems reasonable. We'll definitely want this for implementing a future UI.

[2019-09-20 17:42] tstromberg commented on #4848
I believe this was fixed by 001c4fc7b0cfb50a8a88d79dd11d11e2924fc75f - which is included in minikube v1.4. Please re-open if not.

[2019-09-20 17:42] #4848 closed

[2019-09-20 17:44] tstromberg commented on #4822
@LuckyLeavell2 - I believe this issue is now addressed by minikube v1.4, as it detects malfunctioning drivers. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

We've also improved documentation on how to install the vmware driver: https://minikube.sigs.k8s.io/docs/reference/drivers/vmware/

Hope this helps. Thank you for reporting thi

[2019-09-20 17:44] #4822 closed

[2019-09-20 17:44] tstromberg commented on #4802
I haven't tried - but as far as I know, this is still an issue in v1.4.

[2019-09-20 17:45] tstromberg commented on #4764
I believe the answer is "Yes", but I also still haven't seen a tutorial to make it work. If someone else out there is willing to look into it, I'd like to see it added to https://minikube.sigs.k8s.io/docs/tutorials/

[2019-09-20 17:49] tstromberg commented on #4690
minikube currently does not set any node annotations. If one would be helpful to you, I'd be happy to accept a PR that adds one.

[2019-09-20 17:49] tstromberg commented on #4564
Seems reasonable. PR's welcome!

[2019-09-20 17:51] tstromberg commented on #4488
Does someone mind writing this up a tutorial? Depending on how it's written, I'd love to see it added to either

https://minikube.sigs.k8s.io/docs/tutorials/ or https://minikube.sigs.k8s.io/docs/reference/

[2019-09-20 17:52] tstromberg commented on #4138
Thank you @vinicyusmacedo !

[2019-09-20 17:52] #4138 closed

[2019-09-20 17:56] tstromberg commented on #3930
Just as a heads up - there is some integration with hyperkit and VPN's that may resolve this now. Expect it to still be broken with VirtualBox however.

[2019-09-20 17:57] tstromberg commented on #3916
Closing as it sounds like a workaround was found.

BTW, this is crazy and I love it. I look forward to proper multi-node support.

[2019-09-20 17:57] #3916 closed

[2019-09-20 17:58] tstromberg commented on #3818
Closing as it sounds like workarounds have been found.  If someone is willing to write a tutorial, this would be great to have documented at  https://minikube.sigs.k8s.io/docs/reference/configuration/kubernetes/ or as a tutorial: https://minikube.sigs.k8s.io/docs/tutorials/

[2019-09-20 17:58] #3818 closed

[2019-09-20 17:59] tstromberg commented on #4132
Can someone confirm whether minikube v1.4 also suffers this issue? I wasn't able to replicate it locally. This works on my Debian based machine:

`sudo -E /usr/local/bin/minikube start --vm-driver=none && sudo -E /usr/local/bin/minikube stop && sudo -E /usr/local/bin/minikube start --vm-driver=none && sudo -E /usr/local/bin/minikube delete`

[2019-09-20 18:01] tstromberg commented on #3732
@author: I believe this issue is now addressed by minikube v1.4, as it includes an updated Hyper-V driver. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 18:01] #3732 closed

[2019-09-20 18:03] tstromberg commented on #1370
The fix for this will involve adding support for alternatives to the 9p filesystem, such as #4324

[2019-09-20 18:09] tstromberg commented on #2762
Closing as there is apparently a workaround.

[2019-09-20 18:09] #2762 closed

[2019-09-20 18:10] tstromberg commented on #2602
If someone is willing to write up a tutorial, one of these would make a perfect home for it:

https://minikube.sigs.k8s.io/docs/tutorials/
https://minikube.sigs.k8s.io/docs/reference/networking/

[2019-09-20 18:24] tstromberg commented on #2570
This behavior is now documented: https://minikube.sigs.k8s.io/docs/reference/configuration/kubernetes/

In a nutshell, if you do not specify `--kubernetes-version`, minikube will use the default version for that minikube release. minikube will not magically update itself passed that version at a later date.

I agree that this behavior could be rather surprising. I think a good case could be made f

[2019-09-20 18:25] tstromberg commented on #2414
@author: I believe this issue is now addressed by minikube v1.4, as it now defaults to using the
 Hyper-V "Default Switch". If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 18:25] #2414 closed

[2019-09-20 18:35] tstromberg commented on #3056
I believe this is still likely an issue - so PR's welcome. I don't know much about CNI, but this is where the file is apparently generated:

https://github.com/kubernetes/minikube/blob/01f399bc3ff802f5d334c558b9790fc9fde125bf/pkg/minikube/bootstrapper/kubeadm/default_cni.go#L23

[2019-09-20 18:39] tstromberg commented on #3248
PR's welcome!

[2019-09-20 18:39] jar349 commented on #2570
[code]
 Yes, I am in favor of this.  In my opinion, _using an argument to **do** something_ is less surprising than _doing something **unless** an argument is passed_.

[2019-09-20 18:45] tstromberg commented on #3076
As a test, I removed this line:

https://github.com/kubernetes/minikube/blob/01f399bc3ff802f5d334c558b9790fc9fde125bf/pkg/minikube/bootstrapper/kubeadm/templates.go#L133

When I tried to restart an existing v1.16 cluster, kubeadm emitted the error:

[code]

On a clean cluster it appears to work fine. I'm OK with removing this line, but some work will have to be done to cleanly handle existing clus

[2019-09-20 19:51] tstromberg commented on #5236
I can't speak to the particular error, but I am a bit surprised about the ERR_CONNECTION_REFUSED error.

https://kubernetes.io/docs/tutorials/hello-minikube/ has better documents around viewing and using an application. We should probably point there.

[2019-09-20 19:54] sharifelgamal commented on #2704
/reopen

[2019-09-20 19:54] sharifelgamal commented on #5327
Closing as a dupe of #2704

[2019-09-20 19:54] #5327 closed

[2019-09-20 20:01] dgoldssfo commented on #1568
Has anyone tried this in Minikube 1.4.0 yet?

[2019-09-20 20:02] tstromberg commented on #3648
@scrossan-crown : I believe this issue is now addressed by minikube v1.4, as it no longer requires an external switch to be configured. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 20:02] #3648 closed

[2019-09-20 20:07] tstromberg commented on #3438
I tried to replicate with v1.4, but no such luck.

If it helps for getting files into place without ssh, we now document file sync:

https://minikube.sigs.k8s.io/docs/tasks/sync/

[2019-09-20 20:19] tstromberg commented on #3579
This issue appears to be semi-duplicate of #3036, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-09-20 20:19] #3579 closed

[2019-09-20 20:21] tstromberg commented on #4265
This issue appears to be a duplicate of #3036, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-09-20 20:21] #4265 closed

[2019-09-20 20:22] tstromberg commented on #2162
This is a known issue in Kubernetes, but we can do better here:

https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/#known-issues

*Kubernetes installs do not configure the nodes’ resolv.conf files to use the cluster DNS by default, because that process is inherently distribution-specific. This should probably be implemented eventually.*

[2019-09-20 20:24] tstromberg commented on #5144
From my point-of-view,It's probably good enough to fix this for minikube.

Would switching to https://github.com/rancher/local-path-provisioner help?

[2019-09-20 20:26] dahaili commented on #3579
Please go ahead.

-Dahai

[2019-09-20 20:28] corneliusweig commented on #5252
Hey @balopat, that's awsome! I played a little with `git filter-branch` so that all the original commits are preserved. It currently sits in a private repo which you should have received an invite to. If this looks good to you, I'm happy to go forward and make this public.

[2019-09-20 20:29] tstromberg commented on #4920
Anyone know if this still happens in v1.4? I'm still confused as to why this output only appears in Windows. I would have expected to see it tucked away in the logs.

[2019-09-20 20:31] tstromberg commented on #4847
This issue appears to be a duplicate of #4184, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-09-20 20:31] #4847 closed

[2019-09-20 20:32] tstromberg commented on #5398
Also related: #4622

[2019-09-20 20:33] tstromberg commented on #4166
Any update?

[2019-09-20 20:35] tstromberg commented on #4044
This was fixed in v1.4. REGISTRY_STORAGE_DELETE_ENABLED=true is now the default.

[2019-09-20 20:35] #4044 closed

[2019-09-20 20:36] tstromberg commented on #3848
On second thought - I'm not convinced yet about adding the ability to set a MAC address. I just don't see the use case. Do you mind clarifying?

Making the IP settable is entirely reasonable.

[2019-09-20 20:39] tstromberg commented on #3084
AFAIK, this is still a thing in minikube v1.4.

[2019-09-20 20:39] tstromberg commented on #3574
I noticed today that kubectl shows health data that we can use -- that almost certainly have an API call:

[code]

[2019-09-20 20:41] tstromberg commented on #2938
Still an issue. I believe this is related to a libmachine limitation.

[2019-09-20 20:42] tstromberg commented on #2178
Anyone interested in creating an addon for this? PR's welcome!

Documentation: https://minikube.sigs.k8s.io/docs/contributing/addons/

[2019-09-20 20:43] tstromberg commented on #1676
This sounds like a good idea and I would be happy to review any PR's that add it. Help wanted!

[2019-09-20 20:44] tstromberg commented on #5298
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 20:44] #5298 closed

[2019-09-20 20:45] tstromberg commented on #5288
@bodachaitanya  - I believe this issue is now addressed by minikube v1.4, as it no longer requires a virtual switch to be defined. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 20:45] #5288 closed

[2019-09-20 20:48] sharifelgamal commented on #5167
Looks like you can't download our ISO from GCS, we have a bug open (#4774) that will allow everyone to download ISOs from Github directly.

Closing this as a dupe.

[2019-09-20 20:48] #5167 closed

[2019-09-20 20:51] sharifelgamal commented on #5147
Could you update to minikube 1.4 and try again? This might have been fixed with it.

[2019-09-20 20:51] tstromberg commented on #5280
This issue appears to be a duplicate of #4587, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-09-20 20:51] #5280 closed

[2019-09-20 20:52] #5270 closed

[2019-09-20 20:52] tstromberg commented on #5270
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 20:53] sharifelgamal commented on #5113
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 20:53] #5113 closed

[2019-09-20 20:54] tstromberg commented on #5266
minikube v1.4 helps the situation a bit in that it no longer allows VirtualBox to be run as root.

That said, this is solvable by using `sudo chown -R $USER ~/.minikube ~/.kubeconfig

[2019-09-20 20:54] #5266 closed

[2019-09-20 20:54] tstromberg commented on #5256
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

[2019-09-20 20:54] #5256 closed

[2019-09-20 21:00] tstromberg commented on #5246
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 21:00] #5246 closed

[2019-09-20 21:00] tstromberg commented on #5242
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 21:00] #5242 closed

[2019-09-20 21:00] tstromberg commented on #5214
Closing as a workaround has been provided.

Also related: #4774

[2019-09-20 21:00] #5214 closed

[2019-09-20 21:02] tstromberg commented on #5206
The conflation of drivers (none vs virtualbox) has been fixed in minikube v1.4.

[2019-09-20 21:02] #5206 closed

[2019-09-20 21:02] tstromberg commented on #5192
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

[2019-09-20 21:02] #5192 closed

[2019-09-20 21:07] tstromberg commented on #5184
@karthigaadass -  I believe this issue is now addressed by minikube v1.4, as it no longer requires `--hyperv-virtual-switch` to be passed in. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 21:07] #5184 closed

[2019-09-20 21:08] tstromberg commented on #5182
This issue appears to be a duplicate of #4774, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-09-20 21:08] #5182 closed

[2019-09-20 21:09] tstromberg commented on #5168
Fixed in minikube v1.4, as it will error if VirtualBox is used with sudo.

[2019-09-20 21:09] #5168 closed

[2019-09-20 21:09] tstromberg commented on #5154
@author: I believe this issue is now addressed by minikube v1.4, as it no longer requires an external virtual switch. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 21:09] #5154 closed

[2019-09-20 21:09] tstromberg commented on #5142
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 21:09] #5142 closed

[2019-09-20 21:11] tstromberg commented on #5134
Closing because a resolution was posed: docker needs a systemd service to be installed.

[2019-09-20 21:11] #5134 closed

[2019-09-20 21:13] tstromberg commented on #5098
Closing because at least for now, Makefiles are required for buildroot.

It's still possible to copy files directly into the ISO filesystem.

[2019-09-20 21:13] #5098 closed

[2019-09-20 21:14] tstromberg commented on #5076
Closing, as minikube appears to be pointing to a proxy which can't access storage.googleapis.com.

[2019-09-20 21:14] #5076 closed

[2019-09-20 21:15] tstromberg commented on #5020
Help wanted!

[2019-09-20 21:15] tstromberg commented on #4982
Related: #5020

[2019-09-20 21:15] #4982 closed

[2019-09-20 21:17] tstromberg commented on #4976
@AshwinDora - Do you mind trying with minikube v1.4?

Also, I'm curious if this only happens when you are using minikube from Cygwin, or if it happens from PowerShell.

[2019-09-20 21:17] tstromberg commented on #4892
I believe this was addressed in minikube v1.4, which refuses to hot-swap between drivers.

[2019-09-20 21:17] #4892 closed

[2019-09-20 21:18] metametadata commented on #38
/remove-lifecycle rotten

[2019-09-20 21:18] tstromberg commented on #4880
@naresh-maven I believe this issue is now addressed by minikube v1.4, as it no longer requires `--hyperv-virtual-switch` to be passed in. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 21:18] #4880 closed

[2019-09-20 21:20] tstromberg commented on #4804
The new documentation gives more guidance as to what is required for minikube to run in the cloud:

https://minikube.sigs.k8s.io/docs/start/linux/

minikube v1.4 also gives better error behavior for these cases. Closing as apparently a workaround has been found.

[2019-09-20 21:20] #4804 closed

[2019-09-20 21:21] tstromberg commented on #4636
The documentation isn't pretty, but https://minikube.sigs.k8s.io/docs/reference/commands/start/ now includes these flags.

[2019-09-20 21:21] #4636 closed

[2019-09-20 21:22] tstromberg commented on #4530
As of minikube v1.4, the advice this error output now reads:

`Your host does not support virtualization. If you are running minikube within a VM, try '--vm-driver=none'. Otherwise, enable virtualization in your BIOS"`

[2019-09-20 21:22] #4530 closed

[2019-09-20 21:25] tstromberg commented on #4470
Fusion now has it's own docs page. Do you mind clicking "Edit this page" and adding what you've discovered to the troubleshooting area?

https://minikube.sigs.k8s.io/docs/reference/drivers/vmware/

[2019-09-20 21:28] tstromberg commented on #4266
I'm getting the feeling that "addons disable" may have bugs on Windows.

[2019-09-20 21:32] tstromberg commented on #4068
@DaveKlassen - I believe this should be fixed by minikube v1.4, which does a better job of recovering from VirtualBox issues. If not, please mention "/repon" to reopen this issue, but if you don't mind, please provide the output of `minikube start --alsologtostderr -v=4`

@fgsl - The "error: user ID out of range" says to me that your UID may be too large for VirtualBox to cope with. Check that `id

[2019-09-20 21:32] tstromberg commented on #4042
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 21:32] #4042 closed

[2019-09-20 21:33] tstromberg commented on #4038
Closing. minikube v1.4 does a slightly better job here, but you'll want to follow the installation guide for kvm2 to make sure your nested VM environment is ready for it:

https://minikube.sigs.k8s.io/docs/reference/drivers/kvm2/

[2019-09-20 21:33] #4038 closed

[2019-09-20 21:36] tstromberg commented on #4016
This was fixed in minikube v1.4:

`minikube cache add quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.23.0`

[2019-09-20 21:36] #4016 closed

[2019-09-20 21:37] tstromberg commented on #3912
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-09-20 21:37] #3912 closed

[2019-09-20 21:39] tstromberg commented on #3876
I believe this was fixed in minikube v1.4.

[2019-09-20 21:39] #3876 closed

[2019-09-20 21:40] tstromberg commented on #3870
Closing as there is a workaround.

[2019-09-20 21:40] #3870 closed

[2019-09-20 21:42] tstromberg commented on #3726
Closing as xhyve support was removed.

[2019-09-20 21:42] #3726 closed

[2019-09-20 21:46] tstromberg commented on #3636
Marking closed, because minikube v1.4 will teardown and recreate failed kvm2 domains.

If you do see it in v1.4, please say `/reopen` attach the output of `minikube start --alsologtostderr -v=8`

[2019-09-20 21:47] tstromberg commented on #3614
Closing as a workaround was found. minikube will now suggest that the user reinstalls VirtualBox and reboots.

[2019-09-20 21:47] #3614 closed

[2019-09-20 21:50] tstromberg commented on #2510
@berndtj : I believe this issue is now addressed by minikube v1.4, as it uses a different dashboard config. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 21:50] #2510 closed

[2019-09-20 21:53] tstromberg commented on #5005
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-09-20 21:53] #5005 closed

[2019-09-20 21:54] tstromberg commented on #4861
@author: I believe this issue is now addressed by minikube v1.4, as it uses a newer Hyper-V driver. If you still see this issue with minikube v1.4 or higher, please reopen this issue by commenting with `/reopen`

Thank you for reporting this issue!

[2019-09-20 21:54] #4861 closed

[2019-09-20 21:54] tstromberg commented on #4169
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-09-20 21:54] #4169 closed

[2019-09-20 21:54] tstromberg commented on #4839
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-09-20 21:54] #4839 closed

[2019-09-20 21:55] tstromberg commented on #4815
Closing as this bug is with the YAML input, and minikube isn't involved in the parsing.

[2019-09-20 21:55] #4815 closed

[2019-09-20 21:56] sharifelgamal opened #5423 "kvm2: Get https://k8s.gcr.io/v2/: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)"
**The exact command to reproduce the issue**:
`minikube start --vm-driver=kvm2`

**The full output of the command that failed**:<details>
😄  minikube v1.4.0 on Debian rodete
🔥  Creating kvm2 VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🐳  Preparing Kubernetes v1.16.0 on Docker 18.09.9 ...
🚜  Pulling images ...
❌  Unable to pull images, which may be OK: running cmd: sudo env PATH=/var/lib/minikube/

[2019-09-20 21:57] sharifelgamal commented on #5077
It seems like the `rm` that `addons disable` is doing under the hood is failing, unfortunately that error isn't surfacing. Adding `-v=9 --alsologtostderr` might surface something interesting.

[2019-09-20 21:58] tstromberg commented on #2735
Now documented:

https://minikube.sigs.k8s.io/docs/tasks/accessing-host-resources/

Please feel free to improve it.

[2019-09-20 21:58] #2735 closed

[2019-09-20 21:59] tstromberg commented on #2447
This is still a thing.

[2019-09-20 22:00] sharifelgamal commented on #4981
Could you try upgrading to minikube 1.4 (which itself uses Kubernetes 1.16) and see if this is still and issue?

[2019-09-20 22:01] tstromberg commented on #3771
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-09-20 22:01] #3771 closed

[2019-09-20 22:02] tstromberg commented on #4291
Closing as there is no longer support for xhyve.

[2019-09-20 22:02] #4291 closed

[2019-09-20 22:04] tstromberg commented on #4481
Can anyone confirm whether they have seen this with minikube v1.4?

[2019-09-20 22:05] tstromberg commented on #4937
Closing as there isn't a clear path to resolution here. PR's welcome!

[2019-09-20 22:05] #4937 closed

[2019-09-20 22:06] tstromberg commented on #5379
Fixed in v1.4.

[2019-09-20 22:06] #5379 closed

[2019-09-20 22:22] tstromberg commented on #2117
Help wanted!

[2019-09-20 22:23] tstromberg commented on #5187
minikube v1.4 fixes the `--embed-certs` flag. Give it a go!

[2019-09-20 22:23] #5187 closed

[2019-09-20 22:24] #5313 closed

[2019-09-20 22:25] tstromberg commented on #5313
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-09-20 22:25] dafrenchyman commented on #3417
I'm running into the same issue. I can get it to work fine in GKE, won't work locally.

[2019-09-20 22:25] tstromberg commented on #4243
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-09-20 22:25] #4243 closed

[2019-09-20 22:26] tstromberg commented on #3798
Unable to replicate in recent version of minikube.

[2019-09-20 22:26] #3798 closed

[2019-09-20 22:35] tstromberg commented on #5008
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-09-20 22:35] #5008 closed

[2019-09-20 22:36] divoxx opened #5424 "Documentation for kvm2 missing information about driver"
Running `minikube start --vm-driver=kvm2` without `docker-machine-driver-kvm2` fails, as expected, but the new documentation URL does not provide installation steps for the driver.

Specifically, [this page](https://minikube.sigs.k8s.io/docs/reference/drivers/kvm2/) does not provide any information on how to install `docker-machine-driver-kvm2`, nor a download link.

[2019-09-20 22:37] tstromberg commented on #4955
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

My advice would be to check the output of `kubectl get po -A`

Thank you for opening the issue!

[2019-09-20 22:37] #4955 closed

[2019-09-20 22:39] divoxx commented on #5424
Sorry, I just realized that the new version 1.4.0 automatically downloads the driver. I was on 1.3.x.

Still, it might be good to keep a section in the documentation for people running older versions.

[2019-09-20 22:39] sharifelgamal commented on #5417
What happens if you run `cat /home/msafari/.kube/config`?

[2019-09-20 22:42] sharifelgamal commented on #5329
Yep, this is definitely an issue. We'll move it up the stack and get to it soon.

[2019-09-20 22:42] tstromberg commented on #5424
This is indeed a place where we fail users by not showing the version switcher.

[2019-09-20 22:44] tstromberg commented on #4240
This is still an issue in v1.4 as far as I know.

[2019-09-20 22:45] sharifelgamal commented on #5269
Workaround found, closing this.

[2019-09-20 22:45] #5269 closed

[2019-09-20 22:46] tstromberg commented on #5380
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 22:46] #5380 closed

[2019-09-20 22:51] tstromberg commented on #4447
Closing: if you need timestamps, issue --alsologtostderr.

[2019-09-20 22:51] #4447 closed

[2019-09-20 22:55] tstromberg commented on #3825
Still an issue in v1.4. Help wanted!

It's unclear to me what the best name to use for our naked roles is:

[code]

[2019-09-20 22:56] sharifelgamal commented on #3963
Currently, the best workaround if you see IPv6 addresses trying to get passed through is to disable IPv6 in your switch settings. We're looking into either better documentation or a way to fix it on our end to avoid this happening at all.

The good news is the minikube 1.4 now picked the default switch automatically and no longer requires a user-defined external switch at all.

[2019-09-20 22:58] tstromberg commented on #2141
Still needed.

[2019-09-20 23:02] #3587 closed

[2019-09-20 23:02] tstromberg commented on #3632
Closing, as there is a workaround: don't specify `pods=5`, as it's too small to run Kubernetes.

[2019-09-20 23:02] #3632 closed

[2019-09-20 23:03] tstromberg commented on #3664
Closing as the issue has to be handled upstream in `libmachine`.

[2019-09-20 23:03] #3664 closed

[2019-09-20 23:04] tstromberg commented on #3883
Evidently hyperkit supports this:

https://github.com/linuxkit/linuxkit/blob/master/docs/platform-hyperkit.md#disks

It might be nice to add something to minikube to pass this kind of thing in.

[2019-09-20 23:07] tstromberg commented on #4005
On re-examination, this appears to be a duplicate of #3606

[2019-09-20 23:07] #4005 closed

[2019-09-20 23:09] tstromberg commented on #5223
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

I still suspect that there is a space or newline before "systemd" in your command-line options that is causing this.

Thank you for opening the issue!

[2019-09-20 23:09] #5223 closed

[2019-09-20 23:09] tstromberg commented on #5257
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 23:09] #5257 closed

[2019-09-20 23:09] #5279 closed

[2019-09-20 23:10] tstromberg commented on #5281
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 23:10] #5281 closed

[2019-09-20 23:10] tstromberg commented on #5287
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 23:10] #5287 closed

[2019-09-20 23:10] tstromberg commented on #5299
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 23:10] #5299 closed

[2019-09-20 23:10] tstromberg commented on #5328
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-20 23:10] #5328 closed

[2019-09-20 23:10] tstromberg commented on #5375
@u5surf - any luck? :)

[2019-09-20 23:14] tstromberg commented on #4849
This sounds similar to #3606 - what version of VirtualBox are you on?

I suspect that the kvm2 driver would not exhibit the same issue.

[2019-09-20 23:16] tstromberg commented on #5367
This also won't happen in minikube v1.4. Thanks for the followup!

[2019-09-20 23:16] #5367 closed

[2019-09-20 23:53] tstromberg commented on #3036
This is still a thing, but at least it's documented.

I suppose we could have a driver pre-run check that sniffs out if something is listening on the port already. It'd be nice to compare the lsof output for a working vs non-working configuration.

[2019-09-20 23:54] tstromberg commented on #3481
Related:

#5108 #4324

[2019-09-20 23:55] tstromberg commented on #4073
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube & Virtualbox, please feel free to re-open it.

Thank you for opening the issue!

[2019-09-20 23:55] #4073 closed

[2019-09-21 00:38] u5surf commented on #5375
@tstromberg
I'm working in progress beside my main job

[2019-09-21 05:00] den-is commented on #4540
UPD: minikube **initial** setup worked after computer restart without components reinstall.

minikube on mac installed via brew

Then stop/start cycle worked fine with enabled AnyConnect

[2019-09-21 07:30] afbjorklund commented on #4166
Decided to push official support for BuildKit and Buildah to a later version, but didn't add to 1.5

[2019-09-21 07:37] afbjorklund commented on #5013
We might make another attempt at this, for the next release (`v1.5.0`)

[code]

It's still far from rumored 100M, and still only 5% of the total download.

[2019-09-21 07:40] afbjorklund commented on #2141
Currently we ship the _same_ Linux binary everywhere: elf, tgz, deb, rpm

We might do the same for Darwin, that is leave it as a brew "cask" (binary)

[2019-09-21 10:02] john-tipper commented on #3794
/remove-lifecycle rotten

[2019-09-21 10:02] john-tipper commented on #3794
/remove-lifecycle stale

[2019-09-21 11:19] shvi0888 commented on #4587
Thanks works for me!!

[2019-09-21 12:03] wangzhipeng commented on #4224
@rajeshsoro  kubeadm init --image-repository registry.aliyuncs.com/google_containers

[2019-09-21 16:54] woodcockjosh commented on #3416
/assign

[2019-09-21 17:31] tstromberg opened #5426 "Add VPN interference check: HTTP fetch before installing Kubernetes"
Here's an idea to address #4302

Add a lightweight HTTP service to our VM that unobtrusively reports system stats, such as load average. As soon as we can confirm SSH access to our VM, and the VM appears to be of the correct version, try accessing this service.

Port 8443 would be ideal for catching the issue, but lets say a nearby port to avoid conflicts.

This would kill two birds with one stone

[2019-09-21 20:05] blueelvis commented on #4978
@tstromberg - I just tried on my machine and this is still an issue. I am not able to `make` because of the same issue. Reopening this.

[2019-09-21 20:50] blueelvis commented on #4920
Yep. Still happening on the latest build -
[code]

[2019-09-21 20:58] CVirus commented on #4481
I just tested on v1.4 and was able to reproduce only the first time I tried. Then I rm -rf ~/.minikube and tried again and now I no longer get the Unauthorized error. So looks like it is working.
Let's wait for more confirmations from others facing the same issue if possible.

[2019-09-21 21:43] tstromberg commented on #4978
@blueelvis - Do you mind sharing the result? I believe @sharifelgamal may have been using git-bash. Do you mind sharing the error message you are hitting?

[2019-09-21 22:20] blueelvis commented on #5029
@avinashmeda @Valgard - I was able to replicate the issue on my machine. Thanks for reporting this! Could you please follow the below guide and see if your issues are resolved or not?

----
If you are on Windows, you might see an error where the mounting command errors like below -
[code]

What this technically means is that 9P client inside minikube was not able to connect to the Host. This gener

[2019-09-21 22:38] blueelvis commented on #4848
Yep, just checked and this is working now. Thanks!

[2019-09-21 22:41] blueelvis commented on #4865
@dzmitry-lahoda - I haven't started working on this as of now. Working on some other things but don't worry, I have this in my mind. If you have any further ideas, do post here :)

[2019-09-21 22:46] blueelvis commented on #5418
@dzmitry-lahoda - I just tried the `/S` on my machine and it seems to be doing the installation completely silently (Tried deleting the files & they came back). Is there a reason why you want the `/SD` switch while the same functionality can be achieved by `/S` switch?

[2019-09-21 22:56] BZM708 commented on #5236
I used the link (https://kubernetes.io/docs/tutorials/hello-minikube/) and I was able to get it to work. Though when I tried the same steps with my app (asp.net core) it resulted in ERR_CONNECTION_REFUSED.

[2019-09-22 03:24] u5surf commented on #5375
@tstromberg
Can I erase unused constant?
e.g `DefaultUfsPort`
[code]

[2019-09-22 03:42] u5surf commented on #5375
@tstromberg
For example `MinikubeEnvPrefix`, which use only `cmd` package, I prefer to make a constraint defined file like `/cmd/minikube/cmd/constants.go`.  WDYT?
[code]

[2019-09-22 04:02] aaronhmiller opened #5429 "Kubernetes v1.16.x (default in minikube v1.4) breaks Helm Tiller (v2.14.3)"
**The exact command to reproduce the issue**:
Install Minikube 1.4.0

$HELM_HOME has been configured at /Users/amiller/.helm.
Error: error installing: the server could not find the requested resource

**The full output of the command that failed**:<details>

Note: downgrade to Minikube 1.3.1

$HELM_HOME has been configured at /Users/amiller/.helm.

Tiller (the Helm server-side component) has been

[2019-09-22 04:17] vsethi commented on #5415
@tstromberg Thanks for your response. The system indeed had VPN. However, it did not help even after I got rid of the VPN.

**Error after removing VPN** <details>
😄  minikube v1.4.0 on Darwin 10.14.3
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🏃  Using the running virtualbox "minikube" VM ...
⌛  Waiting for the host to be provisioned ...

[2019-09-22 04:41] u5surf commented on #5375
@tstromberg
Following `gvisor` constants,
[code]
which use `gvisor` package and  `./pkg/minikube/assets/addons.go`
[code]
Such the constants have better been redefined in ` givisor ` package.
When the constants use, we import the `gvisor` package. (In the above example, it should be imported in addons.go which suppose to use the constants.)

[2019-09-22 05:22] c0debreaker opened #5431 "Minikube crashes when starting"
**The exact command to reproduce the issue**:
minikube start --vm-driver=virtualbox

**The full output of the command that failed**:<details>
😄  minikube v1.4.0 on Darwin 10.13.6
👍  Upgrading from Kubernetes 1.10.0 to 1.16.0
💿  Downloading VM boot image ...

💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🔄  Starting existing virtualbox VM f

[2019-09-22 06:09] c0debreaker commented on #5431
It's fixed. Running `minikube delete` fixed it.

[2019-09-22 06:09] #5431 closed

[2019-09-22 06:13] vsethi commented on #5415
I noticed that when I check the kubectl version, I get the following:
[code]
Looks like this may be related..

[2019-09-22 06:19] vsethi commented on #5415
Output of `minikube status`
[code]

[2019-09-22 07:06] afbjorklund commented on #3664
@terrywang : The code is located here:
https://github.com/docker/machine/blob/master/drivers/virtualbox/virtualbox.go#L380_L403

[2019-09-22 07:14] afbjorklund commented on #5429
Helm v2.14.3 (latest) is currently incompatible with Kubernetes version v1.16.0 (latest):

https://github.com/helm/helm/issues/6374

[2019-09-22 07:37] afbjorklund commented on #5429
Workarounds (only need one of them):

1) Patch the YAML from `helm init`:

[code]
[code]

2) Use old Kubernetes version v1.15

[code]

3) Wait for helm release  `v2.15.0`

**Either way, it doesn't look like a minikube issue...**

[code]

Maybe it _should_ be (include helm), though: #5302

[2019-09-22 07:43] afbjorklund commented on #5429
I think this collaboration could probably be improved somewhat:

[https://helm.sh/docs/using_helm/#kubernetes-distribution-guide](https://helm.sh/docs/using_helm/#minikube)

Apparently that statement is only true one-way, new helm releases.

[2019-09-22 07:54] afbjorklund commented on #4938
Nice tools:

* LibreOffice Draw
  https://www.libreoffice.org/discover/draw/

* VRT Network Equipment
  https://extensions.libreoffice.org/extensions/vrt-network-equipment

Diagram time!

[2019-09-22 08:19] dzmitry-lahoda commented on #5418
consistency with other windows installers based on nsis would be preferable. /s - shows error message. /sd - does not show message even if error.  it would be fine for /s to have a bug - no error message in case of error. or /sd to have a bug - show error message in case of error. but not searching github by /sd does no work and nor usage of /s instead of /sd for future compatibility reasons.  as

[2019-09-22 12:27] bacongobbler commented on #5429
This is the first time in a *long* time where Helm has been incompatible with the latest release of Kubernetes. That statement has held true from k8s 1.5 up until 1.16.

[2019-09-22 12:32] SaiKishanTalamarla opened #5432 "Minikube installation"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-09-22 13:12] afbjorklund commented on #5429
@bacongobbler : what I meant was that we should make sure to test new versions of minikube with helm, during our beta phase. We had a similar last-minute experience with the dashboard as well.

[2019-09-22 15:17] woodcockjosh commented on #5429
https://github.com/helm/helm/issues/6374
FYI for anyone trying to helm init on k8s version 1.16 this branch works https://github.com/keleustes/helm/tree/kube16. You can build the branch yourself. I also uploaded the binary here for your convenience https://s3-us-west-2.amazonaws.com/bin.cryptexlabs.com/github.com/keleustes/helm/kube16/helm. One caveat is you have to use the canary image flag `helm

[2019-09-22 15:23] woodcockjosh commented on #5429
This plugin would also fix the problem :-D https://github.com/kubernetes/minikube/pull/5363/

[2019-09-22 15:49] blueelvis commented on #4978
@tstromberg - I think it is the same as above -
[code]

[2019-09-22 16:58] afbjorklund commented on #4978
This doesn't look like a bash shell.

What version of make is this ? Maybe it has some weird setting for the `SHELL` variable ?

Might have to add some basic sanity checking to the Makefile, perhaps even set the shell.

[code]

[2019-09-22 18:45] sharifelgamal commented on #4978
yeah make doesn't currently work in powershell, only in something that can run bash commands, and is documented as such.

[2019-09-22 20:40] flstaats commented on #4643
I have validated that minikube v1.4 bootstraps a new k8s environment with my ~/.docker/config.json having the value "credsStore": "pass" set.  Thanks for fixing this inconvenience!

[2019-09-22 21:28] nickebbitt opened #5433 "Quickstart instructions for kubectl run don't work with Kubernetes 1.16"
**The exact command to reproduce the issue**:

Based on the [Quickstart instructions](https://kubernetes.io/docs/setup/learning-environment/minikube/#quickstart):

[code]

This is using Minikube version 1.4.0 with the default k8s version of 1.16.

The above command works when downgrading the version to 1.15 (i.e. `minikube start --kubernetes-version=v1.15.0`).

**The full output of the command tha

[2019-09-22 21:33] afbjorklund commented on #5433
Same problem that killed helm, I guess ?

https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

[2019-09-23 01:55] cody1996 opened #5434 "--container-runtime选择containerd或cri-o时，--image-mirror-country=cn参数部分失效"
**重现问题所需的命令**：
minikube start --memory=4096mb --network-plugin=cni --enable-default-cni --container-runtime=containerd --bootstrapper=kubeadm --image-mirror-country=cn
**失败的命令的完整输出**：<details>
* minikube v1.4.0 on Microsoft Windows 10 Enterprise LTSC 2019 10.0.17763 Build 17763
* Using image repository registry.cn-hangzhou.aliyuncs.com/google_containers
* Downloading VM boot image ...

* Creating

[2019-09-23 05:24] pakrrx opened #5435 "v1.3.1: hyperv: StartHost: start: exit status 1"
**The exact command to reproduce the issue**:
C:\Users\pabbathianandkumar>minikube start
! minikube 1.4.0 is available! Download it: https://github.com/kubernetes/minikube/releases/tag/v/1.4.0
* To disable this notice, run: 'minikube config set WantUpdateNotification false'
* minikube v1.3.1 on Microsoft Windows 10 Pro 10.0.17763 Build 17763
*

! Ignoring --vm-driver=virtualbox, as the existing "m

[2019-09-23 05:39] vsethi commented on #5415
Solved it. Reinstalled VirtualBox and it worked.

[2019-09-23 08:04] fabiand commented on #2178
Nice to see the documentation. I'll ask around if there is a volunteer

[2019-09-23 08:23] erickalmeidaptc commented on #4849
I use Virtualbox version 6.0.12 r133076 (Qt5.9.5)

[2019-09-23 09:20] sunshinev commented on #4150
i got the same question, so i run command `setenforce 0` ,then it's ok now
[code]

[2019-09-23 09:29] raftAtGit commented on #3417
Same issue on Azure AKS too.

[2019-09-23 10:09] galderz opened #5436 "profile <name>: error acquiring lock for x: Name "-x" not valid"
Trying Minikube 1.4.0 and seeing this error when setting the profile name:

[code]

Seems like a bug? I did prefix any `-` into the profile name.

[2019-09-23 12:29] fxa76 opened #5437 "Fail to create and start on Windows 10 and HyperV"
**The exact command to reproduce the issue**:
 minikube start --vm-driver hyperv --hyperv-virtual-switch "vSwitchMinikube"

**The full output of the command that failed**:
minikube start --vm-driver hyperv --hyperv-virtual-switch "vSwitchMinikube"
* minikube v1.4.0 sur Microsoft Windows 10 Pro 10.0.18362 Build 18362
* Downloading VM boot image ...

* Création d'une VM hyperv (CPUs=2, Mémoire=2000M

[2019-09-23 12:46] woodcockjosh commented on #3056
/assign

[2019-09-23 12:49] woodcockjosh commented on #3056
@tstromberg before I go too deep perhaps someone can explain why the hostPort feature appears to work for the ingress plugin but not for any other pods?

[2019-09-23 15:12] tstromberg commented on #5429
In the mean time, you can also select an older version of Kubernetes on any version of minikube:

`--kubernetes-version=v1.15.3`

https://minikube.sigs.k8s.io/docs/reference/configuration/kubernetes/

[2019-09-23 15:15] tstromberg commented on #5432
Do you mind providing some additional information?

[2019-09-23 15:17] tstromberg commented on #5433
Will try to get this sorted out today. Thanks for the heads up!

[2019-09-23 16:50] tstromberg commented on #5436
Yup, this is definitely a bug.

[code]

[2019-09-23 16:57] tstromberg commented on #5375
Yes, please delete any unused constants.

Yes, that sounds like a good approach, as `MinikubeEnvPrefix` is shared among multiple files within the `cmd` package.

Yes, that is precisely what I was going to suggest. It sounds like we are on the same page =)

[2019-09-23 17:07] afbjorklund commented on #5436
Apparently mutex cannot use the name that itself constructs (by escaping stuff with periods)

[code]

[2019-09-23 17:29] tstromberg commented on #5435
@pakrrx - I believe we may have fixed this issue in minikube v1.4. Do you mind trying to upgrade and reporting back?

[2019-09-23 17:33] tstromberg commented on #5434
Based on a cursory look at the code, my first thought is that CRIO may not be respecting the `--image-mirror` flags:

https://github.com/kubernetes/minikube/blob/35f45d193065ce4e2339a4ea09143c3de9bfe3d5/deploy/iso/minikube-iso/package/crio-bin/crio.conf#L253

It's possible though that we attempt to update this file at a later step. containerd may have the same issue.

[2019-09-23 17:33] tstromberg commented on #5434
@laozc - do you have any experience with using CRIO from China?

[2019-09-23 17:35] afbjorklund commented on #5436
Something is definitely weird with those CurrentContext functions, and the parameter order.

[code]

See how path and name is sent to name and path ? That sounds wrong...

[2019-09-23 17:48] tstromberg commented on #4206
Also adding flake tag because this issue is the source of test flakes:

https://storage.googleapis.com/minikube-builds/logs/4980/HyperKit_macOS.txt

[2019-09-23 18:03] tstromberg commented on #5332
v1.4.0 updates this to mention the following:

[code]

[2019-09-23 18:05] #4459 closed

[2019-09-23 18:16] tstromberg commented on #5418
If anyone knows NSIS, help wanted. =) I did some cursory reading, and suspect that this may just be the matter of defining a default popup for message boxes in:

https://github.com/kubernetes/minikube/blob/master/installers/windows/minikube.nsi

The other possibility is that the jenkins build server uses `makensis` v2.51 (the default in Debian 9). That said, /sd as a flag is like 13 years old, so

[2019-09-23 18:16] tstromberg commented on #5415
OK. Thank you for the update!

[2019-09-23 18:17] tstromberg opened #5440 "ln: failed to create symbolic link '/var/lib/minikube/etcd/minikube': File exists"
Subsequent error on minikube restart:

[code]

_Originally posted by @vsethi in https://github.com/kubernetes/minikube/issues/5415#issuecomment-533848677_

[2019-09-23 18:17] afbjorklund commented on #5436
Bettter now, it actually locks `~/.kube/config` instead of trying to lock `./foo` (and failing miserably)

Also fixed the similar issue where minikube stop failed to match the current context name (with path)

[2019-09-23 18:19] tstromberg commented on #5440
My suspicion is that this regression may be tied only to restart on older ISO's.

[2019-09-23 18:20] tstromberg commented on #5252
@corneliusweig - Let me know when your repo is public so that we can point minikube to it as well. Thank you!

[2019-09-23 18:21] tstromberg commented on #4613
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-09-23 18:21] #4613 closed

[2019-09-23 18:22] tstromberg commented on #4547
I believe the root cause here is that this flag results in a change in the systemd docker unit, but we either aren't making the change, or restarting docker for restarts now.

[2019-09-23 18:23] tstromberg commented on #4125
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-09-23 18:23] #4125 closed

[2019-09-23 18:24] tstromberg commented on #3794
The clearest way to resolve this would be to implement #4324

[2019-09-23 18:24] tstromberg commented on #3749
I'm closing this issue as it hasn't seen activity in awhile, and it's unclear if this issue still exists. If this issue does continue to exist in the most recent release of minikube, please feel free to re-open it.

Thank you for opening the issue!

[2019-09-23 18:24] #3749 closed

[2019-09-23 18:32] tstromberg commented on #3725
I reviewed this issue again today, and based on the `NOTIMP` error, I'm betting this was seen with VirtualBox 5.2. Does that seem likely?

It turns out that I was debugging a similar issue on Slack, and discovered that VirtualBox's DNS proxy does not work with all types of DNS queries:

https://kubernetes.slack.com/archives/C1F5CT6Q1/p1567615648065300

In VirtualBox 6.0, it may return NXDOMAIN ins

[2019-09-23 18:37] tstromberg commented on #3725
One possible workaround for VirtualBox users is to force DNS to point directly to an upstream DNS server instead of it's built-in broken relay. Alternatively, use a hypervisor with a working DNS relay.

[2019-09-23 18:38] tstromberg commented on #3647
I don't know that we need to reinvent our own shell backgrounding process, but perhaps it would be nice to incorporate something so that something like `minikube start --tunnel` might work.

[2019-09-23 18:41] tstromberg commented on #3557
Recent version of minikube improve this slightly: the message is still displayed, but we restart the kubelet more rapidly so this is less likely to be noticed. It doesn't seem feasible to address the root Kubernetes issues responsible to making this error message go away.

[2019-09-23 18:41] #3557 closed

[2019-09-23 18:41] tstromberg commented on #2570
Sounds good. Let's commit to doing this.

[2019-09-23 18:48] tstromberg commented on #4841
@blueelvis - Not sure. Try asking #sig-release on Slack.

[2019-09-24 03:11] laozc commented on #5434
It looks like the kubelet argument only works for docker.
Let me deliver a PR and verify from my side.

[2019-09-24 06:43] rajalokan commented on #1701
/assign rajalokan

[2019-09-24 06:51] rajalokan commented on #2916
/assign rajalokan

[2019-09-24 09:29] jacklee20151 opened #5442 "can not start minikube"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-09-24 10:07] rajalokan commented on #5442
I assume, you have missed to add more details. Please add output and `minikube logs` etc as requested in template.

[2019-09-24 11:34] sriprasad123 opened #5444 "Minikube crashed"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-09-24 13:35] tstromberg commented on #5442
Agreed. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2019-09-24 13:36] tstromberg commented on #5444
Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2019-09-24 13:53] retracile opened #5446 "minikube docker-env includes update notice instructions"
Under certain conditions, minikube commands will output a notice that "minikube X.Y.Z is available! Download it: ..." as well as instructions on how to disable that notice.  Unfortunately, that includes `minikube docker-env`, and the instructions are sent to stdout.  This means that when a new version of minikube is made available, the next execution of minikube docker-env outputs the update notic

[2019-09-24 14:02] ramkrishnan8994 commented on #3417
@fhaifler - With these configurations there is no data being shared between the pods. That is, anything inside the '/' is not visible inside the '/mnt' folder.
Any idea why?

Also, I'm not able to mount the '/nfs-data-example-folder' into '/mnt' folder. It throws permission error.
Any idea why?

[2019-09-24 14:19] wuchuwei commented on #4977
Tstromberg, thank you very much.
The problem is docker not pull docker images

[2019-09-24 15:40] sjortiz commented on #4392
hey, Sorry for the late response, I honestly forgot about this as it has been a couple of months since I first asked.

Yeah, I'd love to work on this!
@tstromberg

[2019-09-24 15:41] sjortiz commented on #4392
Could you provide me any insights on where to start?

[2019-09-24 15:49] laozc commented on #5434
The referenced PR addressed the issue. Verified with Darwin/virtualbox.
Will need more time to verify against other environment and drivers that I have.

@cody1996 Would you like to try on the patched binary? Thanks.
可以的话，可以用修改过的版本在您的机器上做一下测试，谢谢。

[2019-09-24 16:18] tstromberg commented on #5446
Good news - we've fixed this in v1.4 as part of #5344. The notice will only be output as part of "minikube start".

Thanks for checking in on this issue. It should never have worked this way, IMHO.

[2019-09-24 16:18] #5446 closed

[2019-09-24 16:42] tstromberg opened #5448 "Add integration test for --image-repository"
Similar to `test/integration/start_stop_delete_test.go`, this should test that --image-repository works across all runtimes.

An example of breakage this would have caught: #5434

[2019-09-24 17:06] muctarr-rahim commented on #5268
How do you unset kubeconfig

[2019-09-24 17:58] medyagh commented on #5437
Hi @fxa76 Thank you for taking the time to report this issue,

I am curious if this would solve your issue
first delete by
```minikube delete```

and then start without specifying the switch and let it auto detect.

```minikube start --vm-driver hyperv ```

[2019-09-24 18:01] medyagh commented on #5236
@BZM708 I am curious if this is a proxy settings in your browser.

do you mind trying to see if you can curl the url:port of your service?

for example ```curl SERVICE_URL```
and also try with a different browser.

[2019-09-24 18:09] evanfietz opened #5449 "virtualbox: Unable to start VM: Maximum number of retries (5) exceeded"
**The exact command to reproduce the issue**:
fietz@ubuntu:~$ minikube start --logtostderr  -v 8

**The full output of the command that failed**:<details>
[code]

**The output of the `minikube logs` command**:<details>

fietz@ubuntu:~$ minikube logs

💣  api load: filestore "minikube": Docker machine "minikube" does not exist. Use "docker-machine ls" to list machines. Use "docker-machine create" to

[2019-09-24 18:34] medyagh commented on #4865
would be dope to see this :)

[2019-09-24 18:35] medyagh commented on #4151
@jonenst  do you trying to see if this issue still exists with the latest venison of minikube?
I will close this issue please feel free to re-open if it still exists

[2019-09-24 18:41] tstromberg commented on #4151
AFAIK, this is still an issue, though it's possible that the tmpfs migration work may have effected it. We should just follow the repro case and check.

[2019-09-24 18:41] kvokka commented on #5336
IP address of minikube host may vary, so use your `minikube ip` instead for `listen-address` setting

[2019-09-24 18:59] medyagh commented on #4151
update: I replicated the commands above on minikube 1.4.0 and kvm driver.

[code]

on the other terminals I have minikube tunnel and also minikube ssh (running top inside)

[code]

[2019-09-24 19:09] medyagh commented on #4849
@erickalmeidaptc
do you mind sharing more details " DNS configuration file to systemd-resolved service" you mentioned, was that something needed for a specific use case, is that a change you did on your host machine or inside minikube vm (using minikube ssh)

and also do you mind trying it with kvm driver ?
here is the installation docs for it

https://minikube.sigs.k8s.io/docs/start/linux/

and I

[2019-09-24 19:41] blueelvis opened #5450 "v1.4 hyperv: Unable to start VM: start: exit status 1"
**The exact command to reproduce the issue**: minikube start --vm-driver=hyperv --hyperv-virtual-switch "Default Switch" --alsologtostderr --v=9

**The full output of the command that failed**:<details>
W0925 01:03:30.919904   14864 root.go:239] Error reading config file at C:\Users\bluee\.minikube\config\config.json: open C:\Users\bluee\.minikube\config\config.json: The system cannot find the fil

[2019-09-24 20:01] busser commented on #5305
This is still an issue in v1.4.0.

@ianlewis It looks to me like you're right: minikube is using an old version of the gvisor-addon Docker image. Building a new image from cb5ebed001ba66ef84e99296d6e2dea406c3556f (when you updated the gvisor addon) or from 8e138a7eea5546e61aead4e84f53a27fb5f2f298 (master at time of writing) fixes the issue for me.

I was only able to test this on my local machine.

[2019-09-24 20:14] undsoul opened #5451 "none: kubelet failed to start -> apiserver process never appeared"
[code]

then:

[code]

[2019-09-24 21:40] tstromberg commented on #5305
@priyawadhwa - How does one update `gcr.io/k8s-minikube/gvisor-addon:latest`?

This should probably have user documentation on https://minikube.sigs.k8s.io/docs/contributing/ - I'd be happy to help make that happen if I can get the gist of the process.

[2019-09-24 23:32] tstromberg commented on #5449
Thank you for your feedback!

Sadly, we've messed up and neither the error message or the logs here are very useful at all for some reason. We'll need to get to the root of tha.t Do you mind sharing the output of:

* `vboxmanage -version`
* `vboxmanage showvminfo minikube`

Also, see if there are any logs in `~/.VirtualBox/Machines/minikube/Logs`

[2019-09-24 23:33] medyagh commented on #5451
Thanks for taking the time to create this issue,

so there are two errors, the first one I suspect be a networking issue or maybe too low resource VM that causes the health check to time out, I am curious how big is your VM Ram or CPU numbers?

second error: is because downgrading minikube to an older version is not supported

I am curious have you already tried the suggestion in the error message

[2019-09-24 23:34] tstromberg opened #5453 "logs no longer include libmachine commands, making hyperv impossible to debug"
We used to have logs for Hyper-V and Virtualbox machine drivers that showed each command run. Where'd they go?

[2019-09-24 23:36] tstromberg commented on #5451
`minikube logs` might help. It basically seems like the apiserver never launched, was never visible to the process for security reasons, or was crash-looping so fast that it was never detected.

[2019-09-24 23:39] tstromberg commented on #5450
Related: #5453

Does it start if `--hyperv-virtual-switch` is omitted? If so, check the output of `Get-VMSwitch`

[2019-09-24 23:40] tstromberg commented on #5450
It's notable and frustrating that there are no libmachine logs here.

[2019-09-24 23:40] tstromberg commented on #5449
Related: #5453

[2019-09-24 23:46] medyagh commented on #4460
@gouravbansal11 as @palnabarun mentioned, you can access your services inside kuberntes cluster using the dns name that k8s gives your service `service_name.names_name`

does that answer help to solve the issue ?

[2019-09-24 23:47] tstromberg commented on #4920
Made a PR, because this is confusing users and we probably shouldn't be attempting to parse files that don't exist.

[2019-09-25 00:06] cpu100 commented on #4981
Actually, this error has nothing to do with CPU performance. Now let's turn this issue off.

Sometimes Windows platforms do have some performance problems, but the reasons are found and the problems solved. #5185

[2019-09-25 00:06] #4981 closed

[2019-09-25 00:19] sharifelgamal commented on #5433
Upgrading to kubectl 1.13.11 fixes this issue on my end. Alternatively, calling `kubectl create` as the error message suggests also works. It seems to be a version incompatibility between an older version of kubectl and a newer version of k8s.

[2019-09-25 00:20] medyagh commented on #5365
I believe this issue was solved by the PR.
please re-open if not resolved.

[2019-09-25 00:20] #5365 closed

[2019-09-25 00:49] cody1996 commented on #5434
@laozc 请问我该怎样获取修改过的版本？

[2019-09-25 01:52] domix commented on #5190
hello @RA489, are you still working on this? looks like it's almost done.

[2019-09-25 06:08] nickebbitt commented on #5433
That makes sense, I was playing around with Linkerd last night and it warned me kubectl was not a new enough version so I upgraded it.

I think it was v1.11 that I was on previously.

[2019-09-25 06:16] afbjorklund commented on #5433
You can use `minikube kubectl` to automatically get a matching version

[2019-09-25 06:17] ROOBALJINDAL commented on #1557
Same issue. Any resolution?

[2019-09-25 06:28] nickebbitt commented on #5433
Ah nice, thanks.

I wonder if it would be nice to implement a check similar to how linkerd does so you can verify your install?

[2019-09-25 06:30] afbjorklund commented on #5433
Not familiar with what Linkerd does, but you mean something like `brew doctor` - like a install sanity check ?

[2019-09-25 06:58] sagar30051991 opened #5456 "VT-x is disabled in the BIOS for all CPU modes (VERR_VMX_MSR_ALL_VMX_DISABLED)"
[code]

[2019-09-25 07:29] aamirpinger commented on #5456
You have to restart your system and have to go to the bios setting. Then you have to enable Intel Virtualization Technology (also known as Intel VT-x) or AMD-V depending on the brand of the processor.

[2019-09-25 08:04] fhaifler commented on #3417
@ramkrishnan8994 I am not sure I understand the question. Have you managed to make it work even with the domain name for nfs server (nfs-server.default.svc.cluster.local)? It is still not working for me even with updated minikube.

I am not sure what do you mean. `/` corresponds to root exported directory by the nfs server, therefore `/exports` directory inside the nfs-server pod. The same content

[2019-09-25 08:32] Dmitry1987 commented on #1557
oh, my friend you're a real necromancer 🤣, July 2018 hehe.
I can suggest something that is called "K3s", not sure what it is but people use it to spin up quick dev setups, you might want to try.

[2019-09-25 10:04] sauber opened #5457 "timed out waiting to elevate kube-system RBAC privileges"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
$ minikube start
😄  minikube v1.4.0 on Darwin 10.14.6
🔥  Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🐳  Preparing Kubernetes v1.16.0 on Docker 18.09.9 ...
🚜  Pulling images ...
🚀  Launching Kubernetes ...

💣  Error starting cluster: timed out waiting to elevat

[2019-09-25 10:12] spqa opened #5458 "Minikube crash when use vm-driver=none"
**The exact command to reproduce the issue**:
sudo minikube start  --vm-driver=none

**The full output of the command that failed**:<details>
😄  minikube v1.4.0 on Arch 18.1.0

💣  Failed to save config: error acquiring lock for /root/.minikube/profiles/minikube/config.json: unable to open /tmp/juju-minikube-config-json: permission denied

😿  Sorry that minikube crashed. If this was unexpected, we

[2019-09-25 10:28] rikirenz commented on #3900
Hey Guys I am facing the same issue:

[code]

[2019-09-25 10:54] erickalmeidaptc commented on #4849
Hi @medyagh,
The file I mentioned is /etc/systemd/resolved.conf.d/99-minikube.cluster.local.conf with content is in first comment. Basicly I only configure my host to send DNS resolutions to Minikube.

I updated my /etc/nsswitch.conf to
BEFORE:
`# hosts:          files mdns4_minimal [NOTFOUND=return] dns myhostname`
AFTER:
`# hosts:          files mdns4_minimal dns [NOTFOUND=return] myhostname`

A

[2019-09-25 10:59] #5457 closed

[2019-09-25 10:59] sauber commented on #5457
Fixed by reboot

[2019-09-25 11:36] arewa commented on #637
If previous recommendation doesn't work try with kvm2
`minikube config set vm-driver kvm2`

[2019-09-25 11:55] dzmitry-lahoda commented on #4865
there could be idea to generate pwsh module from linux stuff which allows auto completion in sh. but that could lead to non idiomatic api. so better to setup module with whole pipeline (test, validate, publish) and sketch most important API manually. if that works and good, proceed with generator. and i pretty sure there would be some complex cases are not mapped 1-1 to pwsh (like structured outpu

[2019-09-25 12:55] nickebbitt commented on #5433
yeah I think so, Linkerd gave me this output for example from a `linkerd check` command, see the **kubernetes-version** section:

[code]

[2019-09-25 14:57] medyagh commented on #5458
Thanks for taking the time to create this issue, I am curious what is the permisison on the config file

do you mind sharing the output of?
[code]

[2019-09-25 14:59] medyagh commented on #5458
also I forgot to ask, are you running sudo as the root user ?

[2019-09-25 15:04] medyagh commented on #5456
@sagar30051991 I am curious does, @aamirpinger response help your issue?

to me it appears to be either you have not enabled virtualization in your bios or you are running in a vm that doesn´t support nested virtualization.
https://stackoverflow.com/a/36738186

in case you are not running in a vm, would this help ?

[2019-09-25 15:08] evanfietz commented on #5449
vboxmanage -version
6.0.12r133076

vboxmanage showvminfo minikube
Name:                        minikube
Groups:                      /
Guest OS:                    Linux 2.6 / 3.x / 4.x (64-bit)
UUID:                        93b5f58b-2322-49e1-8e6c-77845a3a9e99
Config file:                 /home/fietz/.minikube/machines/minikube/minikube/minikube.vbox
Snapshot folder:             /home/fietz/.minik

[2019-09-25 15:12] medyagh commented on #5456
also do you mind sharing the version of the virtualbox for future reference?

[code]

[2019-09-25 15:58] bios-transspecies commented on #4222
found same issue with 6.0.12

[2019-09-25 16:08] spqa commented on #5458
Sorry for wasting your time, it worked after reboot

[2019-09-25 16:08] #5458 closed

[2019-09-25 16:34] tstromberg commented on #5456
Could you share the output of:

`grep vmx /proc/cpuinfo`

I suspect that it may be necessary for you to enable virtualization in your BIOS. There are however some other possibilities: https://stackoverflow.com/questions/33304393/vt-x-is-disabled-in-the-bios-for-both-all-cpu-modes-verr-vmx-msr-all-vmx-disabl

[2019-09-25 16:48] yeya24 commented on #5434
https://github.com/kubernetes/minikube/pull/5447 Add the remote repository, switch out to this branch and rebuilt

[2019-09-25 17:56] blueelvis commented on #5450
@tstromberg - Nope, still not working :( . This is blocking me from doing development on top of latest release. I think we would need a hotfix release. WDYT?

Meanwhile, trying to debug this.

[2019-09-25 18:02] priyawadhwa commented on #5305
So the gvisor addon basically starts a [pod](https://github.com/kubernetes/minikube/blob/master/deploy/addons/gvisor/gvisor-pod.yaml.tmpl) which enables gvisor on cluster. The pod runs an image built from [minikube/cmd/gvisor](https://github.com/kubernetes/minikube/tree/master/cmd/gvisor), and most of the code lives in [minikube/pkg/gvisor](https://github.com/kubernetes/minikube/tree/master/pkg/gv

[2019-09-25 18:19] serhatcetinkaya commented on #5374
I think we can close this issue

[2019-09-25 18:26] blueelvis commented on #5450
@tstromberg - You won't believe my foolishness in this... I was running `minikube` from my `D:` drive instead of `C:` drive. I think it is related to #4802 but how come that user got the advice and not me? :(

I have no idea why it went into this loop of deleting, failing image downloads and what not. Following is the complete log when I tried starting from C: drive -
<details>
PS C:\> minikube st

[2019-09-25 19:52] seancarroll commented on #5440
Hit this issue today. Let me know if there is information that would be helpful to include.

[2019-09-25 20:23] tstromberg commented on #3329
If someone wants to implement this:

* `showKubectlConnectInfo` in `cmd/minikube/cmd/start.go` might be the right place to start
* `kubectl version --client -o json` will return an easily JSON blob containing the current version of the kubectl client.
* If `clientVersion` is more than one minor release away from `k8sVersion`, issue a warning, like:

`out.WarningT("The version of kubectl [{{.kcVers

[2019-09-25 20:23] tstromberg commented on #5433
Related: #3329

[2019-09-25 21:21] tuckerthomas commented on #3866
If you're on Windows and trying to user Hyper-V make sure `systeminfo` outputs:
[code]
I was getting:
[code]
I did a bios update recently and it defaulted VT-d off and that was causing the config file error since the VMs weren't starting. For example, `Virtualization Enabled In Firmware: Yes` was set to `No`.

Anyway, **make sure VT-d is enabled in your BIOS** if you've done an upgrade recently or

[2019-09-25 21:27] tuckerthomas commented on #1021
If you're on Windows and trying to user Hyper-V make sure `systeminfo` outputs:
[code]
I was getting:
[code]
I did a bios update recently and it defaulted VT-d off and that was causing the config file error since the VMs weren't starting. For example, `Virtualization Enabled In Firmware: Yes` was set to `No`.

Anyway, **make sure VT-d is enabled in your BIOS** if you've done an upgrade recently or

[2019-09-25 22:20] medyagh opened #5461 "Get rid of python scripts in build process"
We have a python script that checks if there is license boilerplate in every file in the repo.
that was initially copied from kuberntes project.

https://github.com/kubernetes/minikube/blob/master/hack/boilerplate/boilerplate.py

we need to get rid of it, because it would be nicer to have everything in go.
also reduce the dependency installation during each build / PR.  currently we have to spin u

[2019-09-25 22:36] RickyRajinder commented on #5461
Hi, I can work on this.

[2019-09-25 23:22] jingweno opened #5463 "gvisor: failed to get sandbox runtime: no runtime for "runsc" is configured"
**The exact command to reproduce the issue**:

[code]

I'm following the guide in https://github.com/kubernetes/minikube/blob/master/deploy/addons/gvisor/README.md:

[code]

I can see `gvisor` pod is up:

[code]

But after I add `runtimeClassName: gvisor` the pod failed to start:

[code]

**The full output of the command that failed**:<details>

Mentioned above

</details>

**The output of the `mi

[2019-09-25 23:25] jingweno commented on #5463
I poked around the vm with `minikube ssh` and I don't see any setting in `/etc/containerd/config.toml` as mentioned in https://github.com/google/gvisor-containerd-shim/blob/master/docs/runtime-handler-shim-v2-quickstart.md.

[2019-09-25 23:32] #5350 closed

[2019-09-25 23:33] tstromberg commented on #3591
Was stable yesterday, but builds today are failing with:

[code]

[2019-09-25 23:49] tstromberg commented on #5305
@priyawadhwa - Thanks for the feedback. I've pushed a new image and created a PR to add a doc based on the information you have provided. It is relatively rare for the gvisor packages to get updated, so in lieu of an automatic workflow being available, I'm OK with manual pushes in the short term. That said, GCB triggers would probably work just fine here.

I'll need to check to see if the new push

[2019-09-26 00:04] tstromberg commented on #5305
Looks like a new image is all that it took. Thank you @priyawadhwa !
[code]

[2019-09-26 00:04] #5305 closed

[2019-09-26 00:07] tstromberg commented on #5463
This appears to be a duplicate of  #5305 - which we just resolved by pushing a new gvisor addon image. Try:

`minikube addons disable gvisor`
`minikube addons enable gvisor`

If this does not fix the issue, add a comment that says `/reopen`. My apologies for the inconvenience!

[2019-09-26 00:11] tstromberg commented on #5461
@RickyRajinder - Excellent! Please feel free to send a PR at any time. If you have any questions, please feel free to ask them here or in the #minikube Slack channel.

[2019-09-26 05:03] LouisStAmour commented on #5392
For folks looking for WSL 2 support via `vm-driver=none`, using a stable docker-ce build, it's not yet ready. I followed the stable instructions at https://docs.docker.com/install/linux/docker-ce/ubuntu/ after installing WSL 2 and Ubuntu, and had a few errors trying to get Docker to run.

In particular, it's worth noting the following:

https://github.com/WhitewaterFoundry/Pengwin/issues/485#issue

[2019-09-26 05:57] liut12bw opened #5467 "minikube crashed."
**The exact command to reproduce the issue**:
$ minikube start --vm-driver=kvm2

**The full output of the command that failed**:<details>

😄  minikube v1.4.0 on Ubuntu 18.04
    ▪ KUBECONFIG=/home/lab/.kube/config
🔥  Creating kvm2 VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🐳  Preparing Kubernetes v1.16.0 on Docker 18.09.9 ...

💣  Failed to setup kubeconfig: unable to acquire lock for {Name:kubec

[2019-09-26 06:07] ghost opened #5469 "sudo minikube start --vm-driver=none while executing this the minikube is crashed. How to reslove this issue"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-09-26 06:16] liut12bw commented on #5467
Corrected with chown from root to user.

[2019-09-26 06:16] #5467 closed

[2019-09-26 06:23] naveenainfrrd commented on #5110
Hi,  "sudo minikube start --vm-driver=none" while executing this command I am getting the error as sorry,minikube is crashed I am facing this issue, can anyone give me the suggestion to overcome this problem.

[2019-09-26 07:56] jerindev opened #5470 "Unable to start VM: create: creating: Maximum number of retries (5) exceeded"
The exact command to reproduce the issue:minikube start
The full output of the command that failed:Unable to start VM: create: creating: Maximum number of retries (5) exceeded
The operating system version: Windows 10 64 bit

[2019-09-26 10:02] nickebbitt commented on #5433
I'll take a look at that when I get chance, see if I can help.

Should we close this issue?

[2019-09-26 12:01] imdad000 commented on #2814
helm ls throws an error

Error: Get https://10.96.0.1:443/api/v1/namespaces/kube-system/configmaps?labelSelector=OWNER%3DTILLER: dial tcp 10.96.0.1:443: getsockopt: no route to host

[2019-09-26 12:14] Abhishekdiwate opened #5472 "Error restarting cluster: waiting for apiserver: timed out waiting for the condition"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
😄  minikube v1.4.0 on Darwin 10.14.6
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🏃  Using the running virtualbox "minikube" VM ...
⌛  Waiting for the host to be provisioned ...
🐳  Preparing Kubernetes v1.16.0 on Docker 1

[2019-09-26 14:26] RA489 commented on #5190
@domix yeah i think its done

[2019-09-26 15:37] jerindev commented on #5470
its' working fine now.

[2019-09-26 15:37] #5470 closed

[2019-09-26 16:01] gurdeepsira opened #5473 "Minikube machine creation errors on hyper-v 2019"
Hi,

I have minikube 1.4.0 and Windows Server 2019.

I run the command:
[code]
To start the minikube machine, but get the error below:

[code]

I try to run minikube logs, but gt this error:
[code]

I am not behind a proxy and ran this command too:

set NO_PROXY=localhost,127.0.0.1,10.96.0.0/12,192.168.99.1/24,192.168.39.0/24

[2019-09-26 16:21] pop commented on #5078
I can take this if you want.

[2019-09-26 16:36] tstromberg commented on #5078
Yes please! That would be wonderful :)

On Thu, Sep 26, 2019, 9:22 AM Elijah Caine M. Voigt <
notifications@github.com> wrote:

[2019-09-26 17:28] pretham opened #5474 "8443"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-09-26 17:51] afbjorklund commented on #5078
Might want to update to 1.4.0 too ?

I made a nice animated B/W version for my demo (mostly as a fallback)

Made it run in 30 secs, by speed up...

[2019-09-26 18:02] plod commented on #2141
it okay if I have a crack at this?

[2019-09-26 18:08] medyagh commented on #2141
yes you could have this issue ! :)

[2019-09-26 19:02] medyagh commented on #5474
Hi @pretham I couldn't figure out what the issue is, If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-09-26 19:03] medyagh commented on #5078
@pop its yours now !

[2019-09-26 19:04] medyagh commented on #5473
do you mind sharing output of
``` minikube ip ```

[2019-09-26 19:05] medyagh commented on #5473
and also do you mind retrying your commands with this flag
```--alsologtostderr -v=8```

[2019-09-26 19:06] medyagh commented on #5469
Thank you for sharing your experience! If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further. Thank you!

[2019-09-26 19:09] medyagh commented on #5450
hm... so running it from C works just fine ? I wonder if we could detect earlier and tell the user to run from C ?

[2019-09-26 20:07] inigopascall commented on #4587
In my case this was because I had Windows Sandbox enabled. Disabling this in _'Turn Windows features on or off'_ and restarting my machine solved the issue.

[2019-09-26 21:17] coffeepac opened #5477 "Failed to create new cluster on fresh install"
**The exact command to reproduce the issue**:
`minikube start`

**The full output of the command that failed**:<details>
😄  minikube v1.4.0 on Darwin 10.14.6
🔥  Creating virtualbox VM (CPUs=2, Memory=8192MB, Disk=20000MB) ...
🐳  Preparing Kubernetes v1.16.0 on Docker 18.09.9 ...
🚜  Pulling images ...
🚀  Launching Kubernetes ...

💣  Error starting cluster: timed out waiting to elevate kube-system R

[2019-09-26 21:35] medyagh opened #5478 "FailFast if hyperkit is not installed."
on a fresh macbook I had the following errors (not installed hyperkit)
minikube is trying to Retry to see if there would be an executable. while we should fail fast and tell user without must noise, to install hyperkit.

[code]

we need to detect after the driver-download that the hyperkit is not installed and exit with the links to documentation how to install it.

https://minikube.sigs.k8s.io/do

[2019-09-26 22:45] gurdeepsira commented on #5473
fe80::215:5dff:fe97:700 for minikube ip.

Shouldn't this be an ipv4 address? Also do I not need to do any config in the hyper-v vm?

Output from the cmd with the logging:

PS C:\ProgramData\chocolatey\lib\octant\tools\octant_0.6.0_Windows-64bit> minikube start -p "host" --vm-driver=hyperv   --docker-env NO_PROXY=$NO_PROXY --alsologtostderr -v=8 > c:\s.txtI0926 15:35:47.423635   17088 start.go:236]

[2019-09-26 23:24] medyagh commented on #5477
Thanks for creating this issue, while I dont have an aswer why this happens, I am curious, would this happen if you use hyperkit driver instead of virtualbox ?

[2019-09-26 23:38] alisondy commented on #4470
Just saw this now, Will see to it

[2019-09-27 07:03] haizibinbin opened #5480 "aa"
**重现问题所需的命令**：

**失败的命令的完整输出**：<details>

</details>

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：

[2019-09-27 07:43] cody1996 commented on #5434
我从[这份文档](https://minikube.sigs.k8s.io/docs/contributing/building/)中找到了由持续集成编译的[可执行程序](https://storage.googleapis.com/minikube-builds/5447/minikube-windows-amd64.exe)，替换后使用一下以下命令可以成功启动minikube：
`minikube start --memory=4096mb --network-plugin=cni --enable-default-cni --container-runtime=cri-o --bootstrapper=kubeadm --image-mirror-country=cn`
但是当我使用`minikube stop`停止后，再使用`minikube start`启动时，无法再成功启动。

[2019-09-27 07:57] DelgadoPanadero commented on #3192
Is there any update? I think as @stsukrov, I would be great to have a minikube container for integration as well as development tests.

[2019-09-27 09:58] afbjorklund commented on #3192
See #4389

[2019-09-27 10:03] bala0409 opened #5481 "Minikube unable to start using the xhyve driver"
😄  minikube v1.4.0 on Darwin 10.14.6
💣  The driver 'xhyve' is not supported on darwin
C02Y83T8JGH5:manifests C5287199$ minikube start
😄  minikube v1.4.0 on Darwin 10.14.6
🔥  Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🔄  Retriable failure: create: precreate: exit status 126
🔥  Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🔄  Retriable failure: create: precre

[2019-09-27 15:22] CVirus commented on #4481
@tstromberg Issue resurfaced again with v1.4

[2019-09-27 15:55] aflat opened #5482 "vmware: stuck on libmachine: Waiting for VM to come online..."
**The exact command to reproduce the issue**:
minikube --vm-driver=vmware start --alsologtostderr -v10

**The full output of the command that failed**:<details>
first hangs here:
I0927 11:56:30.625922   47145 main.go:104] libmachine: Creating SSH key...
I0927 11:56:30.725501   47145 main.go:104] libmachine: Creating VM...
I0927 11:56:30.746983   47145 main.go:104] libmachine: Starting minikube...

[2019-09-27 17:16] justincely opened #5484 "none: Port 10251 is in use (conflict with microk8s)"
**The exact command to reproduce the issue**:
sudo minikube start --cpus=6 --memory=16000 --vm-driver=none

**The full output of the command that failed**:<details>
😄  minikube v1.4.0 on Ubuntu 19.04
🤹  Running on localhost (CPUs=12, Memory=32004MB, Disk=270590MB) ...
ℹ️   OS release is Ubuntu 19.04
🐳  Preparing Kubernetes v1.16.0 on Docker 19.03.1 ...
    ▪ kubelet.resolv-conf=/run/systemd/resolv

[2019-09-27 18:02] afbjorklund commented on #5484
Seens like a previous instance of minikube (or at least etcd) is already running on the host ?

We should add a warning, when trying to set cpus and memory for the `none` driver...

[2019-09-27 18:12] afbjorklund commented on #5477
Looks like there is some VPN or proxy or other networking software installed, that is blocking the access to the virtual machine: `dial tcp 192.168.99.101:8443: i/o timeout`

[2019-09-27 18:17] afbjorklund commented on #5481
The "xhyve" driver has been deprecated and removed in minikube v1.3.0 (exchanged for hyperkit), so you will need to switch to another driver (and recreate the VM). This can be done using `minikube config set vm-driver hyperkit`.

[2019-09-27 18:27] justincely commented on #5484
ahh, thanks @afbjorklund.  it wasn't an old version of minikube, but it was some zombie parts of microk8s running.

removed with `sudo snap remove microk8s`, and then the above commands worked fine (removing the --cpus and --memory) based off your comments.

[2019-09-27 18:52] medyagh commented on #5473
ah I think you are on to something ! the IP you add to NO_PROXY is ip v4...

what if you addf the ip v6 to your NO_PROXY env ?

[2019-09-27 18:57] medyagh commented on #5480
感谢您分享经验！ 如果您不介意，请提供：

-使用的确切命令行，以便我们可以复制问题
-失败的命令的完整输出
-“ minikube logs”命令的完整输出
-使用哪个操作系统版本

这将帮助我们进一步隔离问题。 谢谢！
Gǎnxiè nín fēnxiǎng jīngyàn! Rúguǒ nín bù jièyì, qǐng tíg

[2019-09-27 19:30] SolrSeeker opened #5485 "minikube fails to start on Mac OS X"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
* minikube v1.4.0 on Darwin 10.14.6
* Downloading VM boot image ...

* Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
* Preparing Kubernetes v1.16.0 on Docker 18.09.9 ...
* Downloading kubelet v1.16.0
* Downloading kubeadm v1.16.0
* Pulling images ...
* Launching

[2019-09-27 19:52] paulod57 opened #5486 "virtualbox: creating clusterrolebinding: i/o timeout"
**The exact command to reproduce the issue**:
minikube start

**The full output of the command that failed**:<details>
Pauls-MacBook-Pro:bin paulodonnell$ minikube start
😄  minikube v1.4.0 on Darwin 10.14.6
💿  Downloading VM boot image ...

🔥  Creating virtualbox VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
🐳  Preparing Kubernetes v1.16.0 on Docker 18.09.9 ...
💾  Downloading kubeadm v1.16.0
💾  Dow

[2019-09-27 22:49] BZM708 commented on #5236
When I used curl SERVICE_URL the output is this:

curl: (7) Failed to connect to 192.168.99.108 port 30178: Connection refused

When I tried the address on another browser the output is:

Firefox can’t establish a connection to the server at 192.168.99.108:30178.

[2019-09-27 22:54] tstromberg commented on #4392
@sjortiz - sure!

## Initial iteration

I would start by implementing a standalone program that polls GitHub for the latest Kubernetes release, and if differs the current value used by minikube, run or import `hacks/update_kubernetes_version`, and send a PR out. This program should be located in the `hacks/` subdirectory. Two reference programs that might help:

* https://github.com/kubernetes/min

[2019-09-27 23:28] #5375 closed

[2019-09-27 23:32] #5436 closed

[2019-09-27 23:37] tstromberg commented on #4733
Based on the description & requirements, this should probably have "ssh" or "remote" in the driver name. Both because it requires ssh, and to disambiguate it from "none" (which is terribly named)

[2019-09-28 03:45] laozc commented on #5434
参数非默认值的话（比如 --image-mirror-country=cn）每次在 minikube start 的时候都需要强制指定
Non-default flag values should be explicitly specified at minikube start.

[2019-09-28 07:08] afbjorklund commented on #4733
I don't have any plans to rename the drivers, as long as we are using docker machine (they named them a long time ago). I think calling it "remote" is fine, since native ssh is included in the package ?

[2019-09-28 07:09] afbjorklund commented on #4733
Note that `none` is named that way because it doesn't _have_ a docker machine connected to it (at all), only a docker host (a URL). It is minikube that has chosen to interpret this machine driver as "local".

[2019-09-28 07:22] afbjorklund commented on #4829
@tstromberg : this was the issue were we can clear up things about "generic" and "none".

As long as we are using libmachine we should keep the upstream driver names in the code, but we can of course introduce some aliases and start referring to them with different names in minikube ?

https://docs.docker.com/machine/drivers/ (basically: virtualbox, hyper-v)

I did some initial attempts at describ

[2019-09-28 13:55] cody1996 commented on #5434
这里的设计让我有些困惑。
既然已经有了切换多个profile的功能，并且初次启动时参数也会保存到profile中，为什么再次启动的时候需要重新指定参数？
同时delete命令的存在，以及在指定较旧的--kubernetes-version时收到“Non-destructive downgrades are not supported”的提示，都表明仍然有一部分参数被记录了下来。
所以，能否考虑在启动时直接使用profile中记录的参数，我认为这样可能更加方便也更加容易理解。
或者在参数的说明文档中中增加哪些参数会得到保留，哪些不会的描述。

[2019-09-28 15:34] tstromberg commented on #5486
Based on the logs, the cluster appears healthy, but the host can't speak to the apiserver port.

Any chance there is a VPN or firewall blocking access to 192.168.99.100:8443?

I'd also be curious what `minikube status` outputs.

[2019-09-28 15:37] tstromberg commented on #5486
This issue appears to be a duplicate of #4540, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-09-28 15:37] #5486 closed

[2019-09-28 15:37] tstromberg commented on #5485
This issue appears to be a duplicate of #4540, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-09-28 15:37] #5485 closed

[2019-09-28 15:41] tstromberg commented on #4540
Based on other issue reports, this issue still can happen in minikube v1.4, and appears to be mostly constrained VirtualBox users. The gist of the issue seems to be that there is a connectivity issue between the host and the VirtualBox VM (ip:8443), probably due to firewall or VPN interference.

If you are experiencing this, I would love to see the output of:

`minikube ssh sudo pgrep apiserver`
`

[2019-09-28 15:45] tstromberg commented on #5482
Thanks for the feedback!

Just curious: if you run `minikube delete` and then `minikube start --vm-driver=vmware` with the VPN off, does this still happen?

My guess so far is some kind of driver network interface connectivity issue.

[2019-09-28 15:46] tstromberg commented on #5477
This issue appears to be a duplicate of #4540, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-09-28 15:46] #5477 closed

[2019-09-28 15:47] tstromberg commented on #5474
Hopefully it's OK if I close this - there wasn't enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

Here is additional information that may be helpful to us:

* Whether the issue occurs with the latest minikube release
*  The exact `minikube start` command line

[2019-09-28 15:47] #5474 closed

[2019-09-28 15:49] tstromberg commented on #3963
Apparently this can still happen with the default switch. Anyone have a tutorial on how to disable IPv6 for the default switch in Hyper-V?

[2019-09-28 15:49] aflat commented on #5482
Yup tried that still hit the same issue

On Sat, Sep 28, 2019, 11:45 AM Thomas Strömberg <notifications@github.com>
wrote:

[2019-09-28 15:49] tstromberg commented on #5473
This issue appears to be a duplicate of #3963, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-09-28 15:49] #5473 closed

[2019-09-28 15:49] tstromberg commented on #5396
Marking as duplicate of #3963

[2019-09-28 15:49] #5396 closed

[2019-09-28 15:51] tstromberg commented on #5484
Thanks for the update! Marking as closed.

[2019-09-28 15:51] #5484 closed

[2019-09-28 15:54] tstromberg commented on #5433
Closing in preference to #3329 - thanks for the issue report!

[2019-09-28 15:54] #5433 closed

[2019-09-28 18:52] tstromberg commented on #5472
Any chance there is a VPN involved? This feels like #4302 - but it could also be the more generic #5211 which sometimes a VirtualBox reinstall fixes.

[2019-09-29 04:13] yclive0925 commented on #4587
Thank god,it wooooorks for me, what happened here?

[2019-09-29 04:39] mplee opened #5489 "minikube crashes in ubuntu"
**The exact command to reproduce the issue**:

**The full output of the command that failed**:<details>

</details>

**The output of the `minikube logs` command**:<details>

</details>

**The operating system version**:

[2019-09-29 05:56] rzou99 opened #5490 "1.0: Job for docker.service failed because the control process exited with error code"
minikube start
😄  minikube v1.0.0 on darwin (amd64)
🤹  Downloading Kubernetes v1.14.0 images in the background ...
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🏃  Re-using the currently running virtualbox VM for "minikube" ...
⌛  Waiting for SSH access ...
📶  "minikube" IP address is 192.168.99.101
🐳  Configuring Docker as the container r

[2019-09-29 06:43] tstromberg commented on #5490
v1.0 is . old - Do you mind trying upgrade to minikube v1.4.0, and first running "minikube delete"?

[2019-09-29 06:44] tstromberg commented on #5489
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details? Here is additional information that would be helpful:

*  The exact `minikube start` command line used
*  The full output of the `minikube start` command, preferably with `--alsologtostderr -v=4` for extra logging.
 * The full output of `minikube logs`

Thank you for sharing your experience!

[2019-09-29 15:22] Chugarah commented on #3425
Hi, I had this problem aswell on Win 10 Minikube 1.4.0. Tried with
`minikube tunnel --profile "ECE-Minikube-Wordpress"`
and it didnt worked.

If someone else have this problem I managed to do this manually in Powershell terminal as administrator

To display your routes and found default minikube network "10.96.0.0"
`route PRINT`

Deleting it
`route -p delete 10.96.0.0`

Now I can start minikube tu

[2019-09-29 15:53] woodcockjosh commented on #4883
`minikube profile options` also will update the profile to `options` instead of showing the options.

[2019-09-29 16:03] woodcockjosh commented on #4883
@bhanu011 @tstromberg when I run `minikube profile options` it sets the profile to `options` instead of listing the command options. Will this PR fix this issue?

[2019-09-29 16:14] woodcockjosh opened #5493 "Output tables for commands should be the same as kubectl tables"
**The exact command to reproduce the issue**:
`minikube profile list`

**The full output of the command that failed**:<details>
[code]

</details>

**The operating system version**:
[code]

Why don't we use a regular table like kubectl uses without pipe separators? It makes it harder to wrap scripts around minikube when we are doing this. I would expect something like this instead:
[code]

[2019-09-29 16:43] woodcockjosh commented on #5493
This issue needs to be resolved before I can open a PR https://github.com/olekukonko/tablewriter/issues/129

[2019-09-29 18:21] woodcockjosh opened #5494 "proposal: Enable host OS dns resolution of cluster ingress host names"
## Background
Kubernetes offers the rich ability to run multiple instances of the same service in the the cluster. For example I can have 2 redis database instances with different service names. Currently there are 2 ways of accessing these services from the host machine when running on minikube:
1. If the service has a NodePort can use a server's NodePort capability using `minikube service redis-

[2019-09-29 19:31] chenrui333 commented on #3217
Any update on this, looks like I just run into the same issue.

[2019-09-29 19:31] chenrui333 commented on #3217
Relates to https://github.com/roboll/helmfile/pull/880

[2019-09-29 19:32] chenrui333 commented on #5469
I am running into the the similar issue while doing the minikube upgrade, you can see the PR and CircleCI log in this PR, https://github.com/roboll/helmfile/pull/880

[2019-09-30 02:46] ericjhl commented on #4587
Thans a lot, it works for me.

[2019-09-30 05:27] coffeepac commented on #5477
Howdy!

Took a look at the other thread and I am running Cisco AnyConnect.  Next time I'm working on this I will try connecting without being on the VPN.

And @medyagh when I used Hyperkit I didn't even get this far.  I installed VirtualBox in the hopes I could get things running.

Any further comments I have I will put on the other ticket.

[2019-09-30 09:16] shintoantony opened #5496 "Ingress - Could not resolve host error"
Hi ,

Minikube version : v1.4.0

Issue : The host which is exposed as ingress is having the error ; could not resolve host <hostnam>

The hostname is add wit the minikube ip in /etc/hosts

Can some one tell me what is this issue ?

The ingress is mapped to a 10 series ip address rather than minikube ip.

Thanks

[2019-09-30 09:17] avinashmeda commented on #5029
@blueelvis : We did follow your steps and it still doesnt seem to work.Verified with the rules as well. They seem to be alright as i mentioned earlier

[2019-09-30 10:15] kalhua commented on #4587
The bcedit thing did not work for me. Actually it was due to the core isolation security.
I disabled it and Virtualbox now works like a charm.

Windows Defender Security Center> Device Security> Core isolation > Memory integrity : off

[2019-09-30 10:22] stsukrov commented on #3192
@DelgadoPanadero

We are quite happy using kind in almost all scenarios instead of minikube.
https://github.com/kubernetes-sigs/kind

[2019-09-30 11:22] andrebraitc opened #5497 "[1.4.0] update-context: Kubeconfig does not have a record of the machine cluster"
Works fine with 1.3.1.

I started fresh and removed the whole `.minikube` and `.kube` directories from my user's home, since the last time I had troubles with minikube it was due to a corrupt ISO image.

Running as my regular user. No `sudo` involved.

**The exact command to reproduce the issue**:

`minikube update-context`

**The full output of the command that failed**:<details>

[code]

</detai

[2019-09-30 11:25] andrebraitc commented on #5497
Full output of `minikube start --alsologtostderr -v=8`

<details>
[code]
</details>

[2019-09-30 11:56] woodcockjosh commented on #5496
@shintoantony can you lease provide example code and configurations?

[2019-09-30 12:07] woodcockjosh opened #5498 "proposal: add host OS addon hooks"
In order to provide a richer and more simplified development experience, some addons may be better equipped if they can be integrated with capabilities that run on the Host OS.

The hooks would be ran as part of the addon lifecycle:
- pre enable
- post enable
- pre disable
- post disable

## Example use cases:
- Running a service on the Host OS that updates resolver configuration files or the `/et

[2019-09-30 12:09] shintoantony commented on #5496
@woodcockjosh

I have used helm charts

values.yaml
  replicaCount: 1
  image:
    repository: dockerfile
    tag: v5
    pullPolicy: IfNotPresent
  service:
    type: NodePort
    port: 2206
  ingress:
    enabled: true
    path: /
    hosts:
      - jm.example.com
    annotations:
      kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"

ingress.yml

{{- if .Values.ingress

[2019-09-30 12:22] woodcockjosh commented on #5496
@shintoantony My recommendation would be to first ask this question in the [kubernetes slack workspace in the #m](https://kubernetes.slack.com/app_redirect?channel=minikube) to confirm that this is a problem with minikube. Presently it looks like a configuration issue. When I add an entry in `/etc/hosts/` for `192.168.99.169 jm.example.com` then I run ` http://jm.example.com` I get:
[code]
Which m

[2019-09-30 12:33] shintoantony commented on #5496
@woodcockjosh

you are correct. Let me check in minikube slack channel.I am not a member of this slack . I may need an invitation i believe . Will you be able to do that for me

Thanks

[2019-09-30 12:40] woodcockjosh commented on #5496
@shintoantony anyone can join

[2019-09-30 13:26] GiuseppeMP opened #5499 "delete/stop: update config fails: yaml: control characters not allowed + gibberish output"
**The exact command to reproduce the issue**: both: minikube delete, stop.

Output: [Video](https://www.dropbox.com/s/7j5jwgkd202dy93/Minikube-ubuntu-19.04%202019-09-30%2010-18.mp4?dl=0)

**The full output of the command that failed**: [full-output.txt
 ](https://www.dropbox.com/s/wpesaisg55gwm3m/full-output-detailed.txt?dl=0)

</details>

**The output of the `minikube logs` command**:<details>

[

[2019-09-30 14:12] shintoantony commented on #5496
The issue is fixed . The host entry was made to the Windows machine.
Thanks @woodcockjosh

[2019-09-30 14:12] #5496 closed

[2019-09-30 14:21] 18609170116 opened #5500 "minikube启动失败 - Unable to start VM: start: exit status 1"
**重现问题所需的命令**：
mminikube start --vm-driver=hyperv
**失败的命令的完整输出**：<details>

* minikube v1.4.0 on Microsoft Windows 10 Pro 10.0.18362 Build 18362
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Starting existing hyperv VM for "minikube" ...
* Retriable failure: start: exit status 1
* Deleting "minikube" in hyperv ...
* Tip: Use 'minikube sta

[2019-09-30 14:37] bygui86 commented on #4488
@g-boros  I tested it as well and it works also on my side!

@tstromberg good idea!

[2019-09-30 14:38] woodcockjosh opened #5501 "proposal: Remove repetitive addon configurations"
There are a lot of repetitive configurations in:
[addons.go](https://github.com/kubernetes/minikube/blob/668146d10238d7a35e2fe918239cfadb2c413773/pkg/minikube/assets/addons.go)

Instead of providing a list of configurations via`MustBinAsset` we can create a class that is able to generate a list of `MustBinAsset` classes based on the plugin name. We can also include a class that generates the addon

[2019-09-30 15:25] thanhgb commented on #519
This works for me, thanks @psanders

[2019-09-30 15:52] fxa76 commented on #5437
It does sometimes... it seems to be more robust when specifying the hyperv-virtual-switch-parameter but still seems to fail quite often...

minikube delete
minikube start --vm-driver hyperv --hyperv-virtual-switch "vSwitchMinikube"

[2019-09-30 16:02] woodcockjosh commented on #5494
Example pain point https://github.com/kubernetes/minikube/issues/5496

[2019-09-30 16:06] arvindpathare opened #5502 "jenkins Mailbox Poll Issue"
org.apache.commons.jelly.JellyTagException: jar:file:/var/lib/jenkins/plugins/poll-mailbox-trigger-plugin/WEB-INF/lib/classes.jar!/org/jenkinsci/plugins/pollmailboxtrigger/PollMailboxTriggerAction/index.jelly:4:62: <st:include> No page found 'sidepanel.jelly' for class org.jenkinsci.plugins.pollmailboxtrigger.PollMailboxTrigger$InternalPollMailboxTriggerAction
	at org.kohsuke.stapler.jelly.Include

[2019-09-30 16:10] woodcockjosh commented on #5494
https://github.com/kubernetes/minikube/issues/2922#issuecomment-468995559

[2019-09-30 17:04] tstromberg commented on #5501
This seems a reasonable approach, but my preference is that we skip this intermediate step and head straight for what you insinuate at the end: make it easier for developers to create addons by eliminating the necessity for them to modify `addons.go` at all.

I have some thoughts around addons (hence why it is coyly called out in the 2020 roadmap), and would love to work with you on a more ambitio

[2019-09-30 17:09] woodcockjosh commented on #5501
I guess you have thought about it more than me. I can only defer to my own experience in creating an addon. In consideration of potentially a larger scale effort it might be preferable to ditch the word addon for plugin as I believe this word is more commonly used and could be a migration path for backwards compatibility. For example `plugin` can be used as an alias for the `addon` command but sup

[2019-09-30 17:20] tstromberg opened #5503 "Add `--addons` flag to `minikube start`"
It would be nice if users could specify which addons a cluster will have, especially as this could in the future inform the default resource footprint for a cluster.

For example:

`minikube start --addons helm-tiller`

Related: #4227 #5302

[2019-09-30 17:22] tstromberg commented on #5302
Does #5503 + the helm-tiller addon effectively solve this issue?

[2019-09-30 17:57] tstromberg commented on #5497
I too ran into this last week: for example, if you Ctrl-C `minikube start` during pod health checks, you have a cluster that basically can't be used, even if it's completely healthy.

My suggestion would be to update ~/.kube/config as soon as `kubeadm` completes, so that both minikube and kubectl know about it.

Additionally, `update-context` should be able to create the missing context from the m

[2019-09-30 18:17] woodcockjosh commented on #5394
Going to table this for now

[2019-09-30 18:17] #5394 closed

[2019-09-30 18:18] #5302 closed

[2019-09-30 18:19] woodcockjosh commented on #5302
Closed with `helm-tiller` addon https://github.com/kubernetes/minikube/pull/5363

[2019-09-30 18:39] andrebraitc commented on #5497
@tstromberg but `update-context` also crashes :sweat_smile:

[2019-09-30 18:42] woodcockjosh commented on #5501
Tabling this to focus on more comprehensive refactoring of addons as discussed in office hours

[2019-09-30 18:42] #5501 closed

[2019-09-30 19:27] dbamaster opened #5504 "Minikube v1.4.0 fails to start on macOS"
I recently updated minikube to the latest version for macOS. I have been not able to start minikube again since the update, the problem seem to be related to a symlink.
[code]

[2019-09-30 19:39] afbjorklund commented on #5504
This is the same as #5440, we should come up with a fix (maybe check exists, before symlinking?

[2019-09-30 19:57] tstromberg commented on #5497
@andrebraitc - Yes, that happens to me too. Edited my comment to clarify.

[2019-09-30 20:56] SolrSeeker commented on #4540
minikube 1.4.0
kubectl 1.16.0
Virtualbox 6.0.12 r133076

minikube start --alsologtostderr -v=3
<details>
I0930 13:40:29.255898   49013 notify.go:125] Checking for updates...
I0930 13:40:29.493139   49013 start.go:236] hostinfo: {"hostname":"6c4008accb14.ant.amazon.com","uptime":332360,"bootTime":1569543669,"procs":421,"os":"darwin","platform":"darwin","platformFamily":"","platformVersion":"10.14.6

[2019-09-30 21:16] SolrSeeker commented on #4540
minikube 1.4.0
kubectl 1.16.0
Virtualbox 6.0.12 r133076

minikube ssh sudo pgrep apiserver
<details>3179</details>

minikube status
<details>
host: Running
kubelet: Running
apiserver: Stopped
kubectl: Correctly Configured: pointing to minikube-vm at 192.168.99.105
</details>

[2019-09-30 22:27] tstromberg commented on #4540
@SolrSeeker - Thank you for confirming my suspicion. Any chance you could also run these commands to help me sort out what kind of networking issue we are seeing here?

* `minikube ssh "ss -tlpn"`
* `for i in 22 111 8443 10250; do nc -zv $(minikube ip $i; done`
* `ping -c1 $(minikube ip)`
*  `rpcinfo $(minikube ip)`
* `route get $(minikube ip)`

[2019-09-30 22:34] sharifelgamal commented on #5437
Sounds like this is an issue regardless of which switch is getting used. Could you add `-v=8 --alsologtostderr` to your failing `minikube start` command? It'll give us a lot more information to go on for debugging the issue.

[2019-09-30 22:49] woodcockjosh commented on #5498
https://github.com/kubernetes/minikube/pull/5505

[2019-10-01 00:34] woodcockjosh commented on #3821
I would rather not have to run `minikube tunnel` to access a host $(minikube ip) which is already available. What if I have several minikube instances? I have to run `minikube tunnel` for every host? Instead I would propose that the ingress resources be made available on the host os and mapped to the appropriate minikube ip. https://github.com/kubernetes/minikube/issues/5494

[2019-10-01 00:42] pucheGit opened #5506 "Terminal Style Support Not Properly Detected"
**Short Version**:
* minikube uses `$TERM` to determine if the terminal supports color, this is insufficient. `$COLORTERM` should also be checked.
* `pkg/minikube/out/out.go` should be changed on/around line 163 to correct this issue.

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>
[code]
</details>

**The operating system version**:

[2019-10-01 02:51] woodcockjosh commented on #5498
Use case addon for this webhook: https://github.com/kubernetes/minikube/pull/5507

[2019-10-01 02:52] woodcockjosh commented on #5494
Addon for ingress dns server get's up part of ther way towards solving this issue: https://github.com/kubernetes/minikube/pull/5507

[2019-10-01 02:53] woodcockjosh commented on #3821
Ingress DNS addon provides a DNS server for ingress resources on the host OS: https://github.com/kubernetes/minikube/pull/5507

[2019-10-01 08:05] jadia commented on #5499
I'm having the exact same issue with `minikube stop`

It works but also ends up printing some gibberish on the terminal.

[2019-10-01 08:43] woodcockjosh opened #5509 "vbox: Cannot delete or start minikube if VM is deleted outside of minikube"
**The exact command to reproduce the issue**:
[code]
Cancelled the start with `Ctrl+c`

[code]

Failed:
[code]

Try to delete
[code]

Failed
[code]

To fix the problem
[code]

You can reproduce the issue if you run `minikube start` and then delete the vm in the hypervisor GUI.

**The output of the `minikube logs` command**:<details>

💣  command runner: getting ssh client for bootstrapper: Error di

[2019-10-01 08:49] woodcockjosh opened #5510 "Cannot enable addons if minikube instance is not running"
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:<details>
💣  minikube is not running, so the service cannot be accessed
</details>

**The output of the `minikube logs` command**:<details>

💣  api load: filestore "minikube": Docker machine "minikube" does not exist. Use "docker-machine ls" to list machines. Use "docker-machine create" to add a ne

[2019-10-01 09:09] woodcockjosh commented on #1701
If you are using SSL on your host OS with an ingress for a host which only your host OS knows about then you need to generate a certificate for your host. You can do this with [omgwtfssl](https://github.com/paulczar/omgwtfssl)

Then you need to add the the certificate bundle by appending the domain certificate to the CA certificate. Something like this:
`cert.pem`<details>
-----BEGIN CERTIFICATE--

[2019-10-01 09:12] woodcockjosh commented on #1701
It would be really nice if minikube had a service that ran on the local machine and installed SSL certificates for https ingress resources. But alas no such capability exists. Maybe an addon could do this?

[2019-10-01 12:08] govargo commented on #5503
Hi, I'm New Contributor.
I'd like to contribute this.
Can I work on this?

[2019-10-01 13:56] TristansCloud opened #5513 "stop fails: "yaml: control characters are not allowed" + garbage text"
**The exact command to reproduce the issue**:
minikube stop

**The full output of the command that failed**:<details>
Large amounts of non human readable code, and:
 yaml: control characters are not allowed
💡  Suggestion: Run minikube from the C: drive.
⁉️   Related issues:
    ▪ https://github.com/kubernetes/minikube/issues/1574

😿  If the above advice does not help, please let us know:
👉  https:

[2019-10-01 13:57] TristansCloud commented on #5513
Happened when running minikube on bare metal and with a vitualbox VM

[2019-10-01 13:58] TristansCloud commented on #5513
However, minikube did successfully stop it just also gave these errors

[2019-10-01 14:16] woodcockjosh commented on #5494
Proposal for background service to install resolver configs on host OS https://github.com/kubernetes/minikube/pull/5511

[2019-10-01 15:18] GiuseppeMP commented on #5499
Hey There, btw, beforewards that bug happend, did u updated some bin like kubectl?

[2019-10-01 16:04] clombardo1 opened #5515 "hyperv: Unable to start VM: create: creating: exit status 1"
**The exact command to reproduce the issue**:
<details>
PS C:\WINDOWS\system32> minikube start
</details>

**The full output of the command that failed**:
<details>
* minikube v1.4.0 on Microsoft Windows 10 Pro 10.0.18362 Build 18362
* Creating hyperv VM (CPUs=2, Memory=2000MB, Disk=20000MB) ...
* Retriable failure: create: creating: exit status 1
* Deleting "minikube" in hyperv ...
* Creating hyp

[2019-10-01 16:21] woodcockjosh commented on #2840
/assign

[2019-10-01 16:22] woodcockjosh commented on #2840
Relates to https://github.com/kubernetes/ingress-nginx/issues/4624

[2019-10-01 17:53] woodcockjosh commented on #2840
Relates to https://github.com/kubernetes/ingress-nginx/issues/4585 https://github.com/kubernetes/ingress-nginx/pull/4586

[2019-10-01 17:53] woodcockjosh commented on #2840
Relates to
https://github.com/kubernetes/ingress-nginx/pull/4586
https://github.com/kubernetes/ingress-nginx/issues/4585

[2019-10-01 18:00] cbandy opened #5516 "Typo in configurable fields"
`default-storageclass` is listed twice in `/cmd/minikube/cmd/config/config.go`. Functionality is unaffected because the definitions are identical.

https://github.com/kubernetes/minikube/blob/7d59b0d36cf5d0191095e41b859062dad90e3b11/cmd/minikube/cmd/config/config.go#L156-L161

https://github.com/kubernetes/minikube/blob/7d59b0d36cf5d0191095e41b859062dad90e3b11/cmd/minikube/cmd/config/config.go#L20

[2019-10-01 18:35] medyagh commented on #5510
Thanks for creating this issue,
the lease  we could provide a better solution message ( please start minikube before enabling addons)

[2019-10-01 18:36] medyagh commented on #5510
long term would be nice to allow enabling addons even if it is stopped

[2019-10-01 18:41] medyagh commented on #5502
@arvindpathare is this a minikube's isssue or a jenkins issue ? I don't undrestand what the issue is.

If you don't mind, could you please provide:

- The exact command-lines used, so that we may replicate the issue
- The full output of the command that failed
- The full output of the "minikube logs" command
- Which operating system version was used

This will help us isolate the problem further.

[2019-10-01 18:43] medyagh commented on #5513
Thanks for sharing this experience with us !

that is a flaw on our side that we are suggesting running on C: while you are trying to stop a minikube in ubuntu !
[code]

does this happen everytime ? what driver do you use ? (virtualbox ? or none ? )
what version of minikube do you use?

[2019-10-01 18:45] medyagh commented on #5516
Ah thanks for cathing it !

I would be happy to review a PR if you decide to fix up the duplicate code

[2019-10-01 18:56] woodcockjosh commented on #2840
Relates to https://github.com/kubernetes/ingress-nginx/issues/4626

[2019-10-01 19:04] woodcockjosh commented on #2840
Resolved by https://github.com/kubernetes/minikube/pull/5517

[2019-10-01 19:32] woodcockjosh opened #5518 "Patching ingress deployment causes pods to never be scheduled"
The issue is explained in detail here:
https://github.com/kubernetes/ingress-nginx/issues/4626

The resolution should be to update the deployment rollout settings in the ingress plugin

[2019-10-01 19:38] woodcockjosh commented on #2840
Relates to https://github.com/kubernetes/minikube/issues/5518

[2019-10-01 20:03] tstromberg commented on #5503
@govargo - Yes! We would very much love your help on this issue.

I know you didn't ask, but just in case it helps to move things a long, here's my naive suggestion on where tos tart:

Create an `addons` flag here:

https://github.com/kubernetes/minikube/blob/7d59b0d36cf5d0191095e41b859062dad90e3b11/cmd/minikube/cmd/start.go#L164

Enable the addons here:

https://github.com/kubernetes/minikube/blo

[2019-10-01 20:05] BobOntario commented on #5451
I also got the same problem.  My env is Ubuntu 16.04.  I didn't use VM, when I started it

minikube start --vm-driver=none --apiserver-ips 127.0.0.1 --apiserver-name localhost

The results:
minikube v1.4.0 on Ubuntu 16.04
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Using the running none "minikube" VM ...
* Waiting for the host to be pr

[2019-10-01 20:19] woodcockjosh commented on #2840
The only other thing I think we could do here is add a custom patching container that watches changes on the tcp and udp configmaps and updates the ingress deployment so that the pods listen on the appropriate ports. I will leave it up to the moderators to determine whether or not this issue can be closed without that capability.

[2019-10-01 20:43] tstromberg commented on #5451
@BobOntario - Can you add the output to `minikube logs`?

Also, do you happen to see an apiserver process running? (`sudo pgrep apiserver`)?

[2019-10-01 20:47] SolrSeeker commented on #4540
minikube ssh "ss -tlpn"
<details>
State                          Recv-Q                          Send-Q                                                     Local Address:Port                                                    Peer Address:Port
LISTEN                         0                               0                                                              127.0.0.1:10248

[2019-10-01 20:52] BobOntario commented on #5451
@tstromberg no apiserver running?  how can i get it started?

[2019-10-01 20:54] tstromberg commented on #5451
@BobOntario - That's the failure, basically. kubeadm ran, but the apiserver didn't start. Here's what would help now:

* The output of: `minikube start --vm-driver=none --apiserver-ips 127.0.0.1 --apiserver-name localhost --alsologtostderr -v=8`
* The output of: `minikube logs`

Does minikube also crash on this host if the `--apiserver-ips` and `--apiserver-name` flags are omitted?

[2019-10-01 21:11] BobOntario commented on #5451
Logs as below. minikube also crash without --apiserver-ips and --apiserver-name flags:

root@ecs-de1e-0004:~# minikube start --vm-driver=none --apiserver-ips 127.0.0.1 --apiserver-name localhost --alsologtostderr -v=8
W1002 05:08:26.856768    9944 root.go:239] Error reading config file at /root/.minikube/config/config.json: open /root/.minikube/config/config.json: no such file or directory
I1002 0

[2019-10-02 04:21] govargo commented on #5503
@tstromberg
Thabk you very much for your advice!!!

I’ll try it!

[2019-10-02 04:23] govargo commented on #5503
/assign

[2019-10-02 11:12] kemarsh opened #5524 "Unable to start VM: start: exit status 1 (with --hyperv-virtual-switch)"
Looks like the same problem as https://github.com/kubernetes/minikube/issues/5437 - I've had the same problems running `minikube start`.

**The exact command to reproduce the issue**:
`minikube start --vm-driver hyperv --hyperv-virtual-switch "ExternalSwitch" -p kevcluster1 -v=8 --alsologtostderr`

**The full output of the command that failed**:<details>
[code]

</details>

**The output of the `mi

[2019-10-02 12:32] bygui86 commented on #2840
I don't know if could help or not.
After NGINX I tried Traefik and it does not work as well. But I don't know how to fix it...

[2019-10-02 13:06] woodcockjosh commented on #2840
FYI https://minikube.sigs.k8s.io/docs/tutorials/nginx_tcp_udp_ingress/

[2019-10-02 13:09] bygui86 commented on #2840
@woodcockjosh thanks a lot! NGINX ingress controller works perfectly right now.
I haven't found a fix for Traefik. Do you have an advice?

[2019-10-02 13:13] TristansCloud commented on #5513
Happens every time unfortunately, and it happened both without a virtual machine (--vm-driver=none) and with virtualbox. I'm running minikube v1.4.0 and kubectl v1.16.0.

[2019-10-02 13:15] woodcockjosh commented on #2840
@bygui86 https://github.com/woodcockjosh/traefik/blob/add-minikube-config-to-crd-acme-user-guide/docs/content/user-guides/crd-acme/index.md
Example files are in same directory as index.md. Unfortunately the super awesome team at traefik rejected my PR because they thought I just didn't know what I was doing. Maybe I should write a traefik article on the minikube website? https://github.com/contain

[2019-10-02 13:58] TristansCloud commented on #5513
Tried again and for the first time it didn't do it. minikube logs after this sucessful minikube stop says
"command runner: getting ssh client for bootstrapper: Error dialing tcp via ssh client: dial tcp 127.0.0.1:36745: connect: connection refused"
Not sure if that is related, I haven't done anything on minikube yet, only minikube start and minikube stop so haven't configured anything in the clust

[2019-10-02 14:54] afbjorklund commented on #3416
Thanks for fixing this! Bonus points will be awarded for fixing /etc/hosts

[2019-10-02 14:54] #3416 closed, assigned to woodcockjosh

[2019-10-02 15:19] afbjorklund opened #5528 "Use the minikube IP for the hostname"
Currently libmachine sets the IP of the current host to 127.0.1.1, matching Debian:

/etc/hostname
[code]

/etc/hosts
[code]

https://github.com/docker/machine/blob/v0.16.1/libmachine/provision/generic.go#L39_L65

----

https://www.debian.org/doc/manuals/debian-reference/ch05.en.html#_the_hostname_resolution

So we should really be using the same IP address as `minikube ip` uses, for /etc/hosts.

[2019-10-02 15:32] arvindpathare commented on #5502
this is regarding jenkins issue getting while using Mailbox poll Plugin.
I used gmail for configuration and triggering.

[2019-10-02 15:49] woodcockjosh commented on #5502
@arvindpathare maybe your issue should be opened in the jenkins repo instead? https://github.com/jenkinsci/jenkins

Why do you think this is an issue with minikube?

[2019-10-02 16:26] arvindpathare commented on #5502
no this is not regarding minikube .
It's regarding gmail user is not list in jenkins user I need help for how to add gmail user with jenkins.

[2019-10-02 16:51] naveenainfrrd commented on #4760
Hi,
I tried to start minikube in locally in my ubuntu machine.

command : minikube start --vm-driver=none
error:
😄  minikube v1.4.0 on Ubuntu 18.04
💡  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
🏃  Using the running none "minikube" VM ...
⌛  Waiting for the host to be provisioned ...
🐳  Preparing Kubernetes v1.16.0 on Docker 18.06.1-ce ...

[2019-10-02 17:48] tstromberg commented on #5524
Do you mind sharing the output of `Get-VMSwitch`?

Also, do you mind trying to see whether or not removing the `--hyperv-virtual-switch` flag fixes the issue for you?

[2019-10-02 17:50] #5518 closed

[2019-10-02 17:53] tstromberg commented on #5509
Ugh. `minikube delete` is supposed to deal with missing VM's, but clearly it's not working as intended.

[2019-10-02 17:54] tstromberg commented on #5506
Do you mind providing an example of an environment that the current logic gets incorrect? It would help to understand the PR better.

[2019-10-02 17:55] medyagh commented on #5502
@arvindpathare  I think you created the issue by mistake in the wrong repository.

I recommend you create the issue their github repo, and good luck !

here is a link if that helps.

https://github.com/jenkinsci/poll-mailbox-trigger-plugin/issues/new

[2019-10-02 17:55] #5502 closed

[2019-10-02 18:01] tstromberg commented on #5499
What.. the heck is that?

I saw the note about YAML in the error message, which says to me that this is probably related to updating `~/.kube/config` in some way.

[2019-10-02 18:31] medyagh commented on #5499
do you mind sharing what version of minikube are you using ? and output

`ls -lah ~/.kube/config`

[2019-10-02 18:39] tstromberg commented on #5515
Related: #5453

[2019-10-02 18:40] tstromberg commented on #5453
git bisect to the rescue!

[2019-10-02 18:45] #5434 closed

[2019-10-02 18:48] tstromberg commented on #3417
This would likely be addressed by resolving #2162 (help wanted)

[2019-10-02 18:48] tstromberg commented on #4488
Closing as a workaround was found.

@bygui86 - if you write a tutorial, I would be happy to review it for addition to our docs =)

[2019-10-02 19:22] BobOntario commented on #5451
@tstromberg I couldn't find /root/.minikube/config/config.json in my installation although I followed the instructions to install binary version. Could you please advice how I can get this file?

[2019-10-02 19:54] medyagh commented on #5493
while I agree to match kubernetes style as much possible, changing this would be a breaking change,

but I purpose ! having the option for the users to have the output in different ways

- json (this is actually important for people who build tools on top of minikube)
- no table
- table
- custom format, we already support this but needs more documentation and examples and maybe unify it across all

[2019-10-02 19:56] medyagh commented on #5482
@aflat I have no idea how to help with vmware issues, but I wonder if the issue would be solved by upgrading your vmware driver to 11.5 ?

and another question, has it ever worked before and stopped working ? or it never worked before?

[2019-10-02 19:58] medyagh commented on #5504
I confirm this is a dupe of  https://github.com/kubernetes/minikube/issues/5440
I will close this, @dbamaster please follow this other issue for any update

[2019-10-02 19:58] #5504 closed

[2019-10-02 19:59] medyagh commented on #5440
@seancarroll @dbamaster  I am curious, does this issue happen consistently or only happens sometimes ?

[2019-10-02 20:13] seancarroll commented on #5440
Since I first encountered it its been consistent. I deleted minikube but didnt help so I tried to reinstalled virtualbox as well but that too hasnt resolved the issue for me.

[2019-10-02 20:24] TristansCloud commented on #5513
I have forticlient VPN installed, but minikube seems to functioning fine now, not that I did anything.. minikube status says
host: Running
kubelet: Running
apiserver: Running
kubectl: Correctly Configured: pointing to minikube-vm at 192.168.99.100
and I no longer have strange messages upon minikube stop, just "Stopping "minikube" in virtualbox" and "minikube" stopped." Not sure what happened, but

[2019-10-02 20:43] woodcockjosh commented on #5493
Yea, I wanted to build something on top of minikube and I saw this really crazy table output and thought. Why don't I just help them become normal :-D. Anyway. The breaking change part I'm not really following. You mean if people built a tool that wraps the shell command? Ok fine you're right but we have to live with that table format forever? gah. I personally would be fine if you just had a json

[2019-10-02 21:12] vivekwpatil opened #5529 "start/delete fails: open C:\Users\.minikube\machines\minikube\config.json: The system cannot find the file specified."
I downloaded minikube in my windows 7 laptop. I installed it successfully. but when I try to run below command, it fails with below message. I tried minikube delete command also but it also fails. Not sure how to proceed . Please help,

$ minikube start
* minikube v1.4.0 on Microsoft Windows 7 Enterprise Service Pack 1 6.1.7601 Build 7601
* Retriable failure: Error loading existing host. Please tr

[2019-10-02 21:13] woodcockjosh commented on #5529
Looks like the same problem as here https://github.com/kubernetes/minikube/issues/5509. Try deleting `C:\Users\.minikube\machines\minikube\` then run `minikube start` again.

[2019-10-02 21:18] vivekwpatil commented on #5529
Thanks. It starts after manually deleting that folder. I suppose minikube delete command should be  taking care of this operation.

[2019-10-02 21:20] woodcockjosh commented on #5529
I think this can also occur if you run `start minikube` then cancel the command after the json file is created but before the machine instance is created.

[2019-10-02 21:20] tstromberg commented on #5440
Interesting. As far as I knew, this issue should only happen on existing VM's with older ISO's, so `minikube delete` should have solved the issue.

[2019-10-02 22:09] dsoudakov commented on #5482
I faced the same issue on Windows 10 E using hyperv. I also created a virtual switch called minikube and used this command line to run:

[2019-10-02 22:49] tstromberg commented on #5529
Do you mind sharing what the error was when you ran `minikube delete`?

[2019-10-02 22:50] tstromberg commented on #5529
minikube appears to be doing a very weird thing with the path here (not surprising on Windows). Note that there is no actual home directory mentioned in the path.

[2019-10-02 22:51] cequencer commented on #4206
I am also have this identical issue just to reflect that I am using the latest and greatest.  I did not where to file my issue in the beginning, so I landed my issue here:
https://github.com/machine-drivers/docker-machine-driver-hyperkit/issues/15

[2019-10-02 22:53] tstromberg commented on #5493
I personally am OK with breaking users who parse stdout of commands unless they have defined a `--format` parameter.

Related: #5080 - it sounds like we should have an analogous issue for profile.

[2019-10-02 22:58] tstromberg commented on #5513
This issue appears to be a duplicate of #5499, do you mind if we move the conversation there?

Ths way we can centralize the content relating to the issue. If you feel that this issue is not in fact a duplicate, please re-open it using `/reopen`. If you have additional information to share, please add it to the new issue.

Thank you for reporting this!

[2019-10-02 22:58] #5513 closed

[2019-10-02 22:58] medyagh commented on #5493
I would happily review a PR that addresses this issue, having json output would make a lot of people happy !

[2019-10-02 22:59] tstromberg commented on #5499
I wonder if #5439 may have fixed this.

[2019-10-02 23:19] pucheGit commented on #5506
I use the **termite** terminal on a Debian 10 system. This terminal sets `TERM=xterm-termite`. Since, this does not contain the substring "color" the logic fails to recognize that termite does in fact support colors/styles. As a result, minikube chooses not to display the unicode symbols by default. The terminal does, however support both unicode and truecolor. The terminal sets the environment wi

[2019-10-03 00:15] BobOntario opened #5531 "none: Error restarting cluster: waiting for apiserver: apiserver process never appeared"
My environment:

OS: Ubuntu 16.04 without VM installed

I run command:

minikube start --vm-driver=none --apiserver-ips 127.0.0.1 --apiserver-name localhost

Outputs:
minikube v1.4.0 on Ubuntu 16.04
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Starting existing none VM for "minikube" ...
* Waiting for the host to be provisioned ...
* Pre