[2021-09-18 11:52] afbjorklund commented on #12508
This app is also looking promising, as a GUI instead of VirtualBox: https://mac.getutm.app/

[2021-09-18 12:08] afbjorklund commented on #12508
Using lima is similar to using WSL2 on Windows, it will handle the VM and the host mounts for you.

[2021-09-18 12:17] afbjorklund commented on #12508
If you want to run multi-node or complex networking, or want full control over storage, I would recommend using a VM driver.

But for casual users, these drivers are handy. I call it "the Wizard of Oz" mode, pay no attention to the man behind the curtain!

[2021-09-18 12:25] dilyanpalauzov commented on #12504
I mean, the user might have different versions behind `podman-remote` and `podman`.

[2021-09-18 13:10] victor-sudakov commented on #11947
I'm afraid I'm not qualified enough to offer a PR for the issue. Thanks for the response that this is currently technically not possible and not a misconfiguration on my part. Shall we close the issue?

[2021-09-18 14:37] rubenvp8510 opened #12511 "Run ingress addon on unannotated Ingress"
**Steps to reproduce the issue:**

1. Execute minishift with ingress enable
2. Apply an ingress object without annotation or IngressClass field
3. Ingress controller fails with "removing ingress because of unknown ingressclass " and Ingress doesn't work at expected.

I would like to enable ingress add-on but I don't want to annotate all my ingress objects. Is there a way to enable `--watch-ingress

[2021-09-18 19:27] fsbaraglia commented on #12509
I have the same on a MAC using Parallel:
minikube start --cpus 4 --memory 4096 --driver=parallels --container-runtime=cri-o --disk-size=80G
😄  minikube v1.23.1 auf Darwin 11.5.2
✨  Using the parallels driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🔥  Creating parallels VM (CPUs=4, Memory=4096MB, Disk=81920MB) ...
🎁  Vorbereiten von Kubernetes v1.22.1

[2021-09-18 19:45] fsbaraglia commented on #12509
I tried with container-runtime=containerd or docker, it works fine, so the problem is with cri-o

minikube start --cpus 4 --memory 4096 --driver=parallels --container-runtime=containerd --disk-size=80G
😄  minikube v1.23.1 auf Darwin 11.5.2
✨  Using the parallels driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
💾  Downloading Kubernetes v1.22.1 preload

[2021-09-18 20:14] dlminvestments opened #12512 "Issue with starting the Minikube container for Docker"
**Steps to reproduce the issue:**

1.complete return from Minikube start command from terminal. Im guessing I should reset the kernel that is used for docker or report the issue to apple. If possible can tech support troubleshoot so that the popup window displays to reset kernel factory settings back to default to initiate a restart for docker. Heres the response I receive from the Minikube start

[2021-09-18 20:23] fsbaraglia commented on #12509
fixed adding extra-config

minikube start --cpus 4 --memory 4096 --driver=parallels --container-runtime=cri-o --disk-size=80G --extra-config=kubelet.cgroup-driver=systemd
😄  minikube v1.23.1 auf Darwin 11.5.2
✨  Using the parallels driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🔥  Creating parallels VM (CPUs=4, Memory=4096MB, Disk=81920MB) ...
🎁  Vor

[2021-09-19 05:53] yxxhero commented on #12480
@afbjorklund
I want to work on it. Thanks very much.
/asign

[2021-09-19 05:53] yxxhero commented on #12480
/cc yxxhero

[2021-09-19 08:17] minikube-bot opened #12513 "Frequent test failures of `TestFunctional/parallel/UpdateContextCmd`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestFunctional/parallel/UpdateContextCmd)|100.00|

[2021-09-19 09:38] yxxhero commented on #12480
From the source code, The zero exit code is right. Do you see any warning messages? @dilyanpalauzov

[2021-09-19 09:54] afbjorklund commented on #12480
@yxxhero : go ahead and add some better error output, the current code was just copy/pasted from `load`

[2021-09-19 09:57] yxxhero commented on #12480
@afbjorklund ok, i will do it.

[2021-09-19 10:17] dilyanpalauzov commented on #12480
I see no warning messages. I see
[code]

The ticket description shows that `podman --remote images` shows the real image ID, just like `minikube ssh sudo crictl images`, and `podman --remote rmi …` does delete the `<none>` image.

[2021-09-19 10:24] afbjorklund commented on #12480
Fixing the actual listing is also up for grabs, if anyone wants to work on it

[2021-09-19 10:30] yxxhero commented on #12480
@dilyanpalauzov use --alsologtostderr options

[2021-09-19 13:38] yxxhero commented on #12157
/asign yxxhero

[2021-09-19 13:48] yxxhero commented on #12157
@afbjorklund What's your cri?

[2021-09-19 13:51] yxxhero commented on #12512
@dlminvestments in china?

[2021-09-19 18:08] PabloG6 opened #12515 "Minikube tunnel not exposing port and minikube ingress not exposing service."
Macos Big Sur 11.5.2 M1 macbook air

1. minikube start --driver=docker
2. minikube addons enable ingress
3. kubectl get pods -n ingress-nginx
4. kubectl create deployment web --image=gcr.io/google-samples/hello-app:1.0
5. kubectl expose deployment web --type=NodePort --port=8080
6. minikube service web --url
7. kubectl apply -f https://k8s.io/examples/service/networking/example-ingress.yaml
8. `ku

[2021-09-20 00:24] dlminvestments commented on #12512
eastern time zone

[2021-09-20 00:47] yxxhero commented on #12512
@dlminvestments  try `docker pull gcr.io/k8s-minikube/kicbase:v0.0.26`

[2021-09-20 00:55] dlminvestments commented on #12512
I have the image on docker but still refuses connect ==> Error response from daemon: Get "https://gcr.io/v2/": Bad Request
I've tried pretty much everything I've installed daemon tools it fails to connect the registry I tried running vms through virtual box its refusing connects there. the only thing I have access to are self built processes that run through my self develop software. all other app

[2021-09-20 01:23] yxxhero commented on #12512
@dlminvestments try recreate minikube by the follow cmd:
[code]

[2021-09-20 01:37] dlminvestments commented on #12512
same output ==> 😄  minikube v1.23.1 on Darwin 11.6 (arm64)
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🤷  docker "minikube" container is missing, will recreate.
🔥  Creating docker container (CPUs=4, Memory=1988MB) ...
🤦  StartHost failed, but will try again: recreate: creating host: create: creating: set

[2021-09-20 07:08] VeitSanner commented on #12504
I have installed `podman` and `podman-remote` via `brew`. So both binaries are fairly up-to-date with versions `3.3.1`.

As far as I can see, PR #11727 seems to be pretty close to be complete. Is there an ETA when the fix would be available?

Until then I can work with `minikube image build`.

[2021-09-20 08:16] jandalpetr commented on #3900
Hi, @tstromberg, thanks
`minikube start --no-vtx-check`
This works to me on localy on Windows 10 Pro

λ  minikube status
minikube
type: Control Plane
host: Running
kubelet: Running
apiserver: Running
kubeconfig: Configured

[2021-09-20 16:06] fredgate commented on #9305
Actually multi nodes on minikube does not work because each node has a different `hostpath-provisioner` directory.
A pod could start running on first node for example, create and update files, then be scheluded on another node where there is no more files.

[2021-09-20 17:26] daehyeok commented on #11336
@spowelljr  sorry didn't take care of this issues long time. i updated my PR for this isseus

[2021-09-20 17:34] #12494 closed

[2021-09-20 17:36] #12477 closed

[2021-09-20 17:36] #12478 closed

[2021-09-20 18:00] spowelljr commented on #12509
@fsbaraglia Thank you for your investigative work!

[2021-09-20 18:31] fsbaraglia commented on #12512
Hi, @dlminvestments,
which hardware are you using? because I see from your output Darwin 11.6 (arm64).

[2021-09-20 18:39] fsbaraglia commented on #12515
Hi @PabloG6 ,

can you please post the output of the following command ?
docker network ls

thank you

[2021-09-20 18:48] medyagh commented on #12509
if this is a kubelet config change why does it only affect crio, this seems to be an important bug

[2021-09-20 18:48] dlminvestments commented on #12512
Correct I tried installing Ubuntu and centos 9 but the virtual machine has been disabled. Access is being refused so I’m using a local hardware stored on my hard drive

[2021-09-20 20:02] rjhuijsman commented on #12498
Yup, upgrading to v1.23.1 did the trick! Glad you already had that release ready to go! Thanks!

[2021-09-20 20:02] #12498 closed

[2021-09-20 20:08] medyagh commented on #12400
it seems that it started on Aug 23rd Aug 24th
 https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_docker_arm64&test=TestFunctional/parallel/MountCmd/any-port

[2021-09-20 20:14] medyagh commented on #12400
on Github Action it fails too here is the Docker Linux arm64 logs
[47.txt](https://github.com/kubernetes/minikube/files/7198503/47.txt)

[2021-09-20 20:49] PabloG6 commented on #12515
|Network ID| NAME | DRIVER | SCOPE
----------- | ----- | --------|  -----
e2eba0834194|   bridge|     bridge|    local
184e64ef9c6c |   host   |    host   |   local
1c239d863462  | minikube |  bridge|    local
8d0229140cad | none   |    null  |    local

[2021-09-20 21:38] medyagh commented on #12509
for reference here is Docker runtime on Docker driver

[code]

here is CRIO on docker driver

[code]

[2021-09-20 22:17] minikube-bot opened #12524 "Frequent test failures of `TestFunctional/parallel/ImageCommands/ImageBuild`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/parallel/ImageCommands/ImageBuild)|100.00|

[2021-09-20 22:17] minikube-bot opened #12525 "Frequent test failures of `TestFunctional/parallel/ImageCommands/ImageList`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_crio_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio_arm64&test=TestFunctional/parallel/ImageCommands/ImageList)|100.00|

[2021-09-20 22:17] minikube-bot opened #12526 "Frequent test failures of `TestFunctional/parallel/ImageCommands/ImageLoadDaemon`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/parallel/ImageCommands/ImageLoadDaemon)|20.00|

[2021-09-20 22:17] minikube-bot opened #12527 "Frequent test failures of `TestFunctional/parallel/ImageCommands/ImageLoadFromFile`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/parallel/ImageCommands/ImageLoadFromFile)|20.00|

[2021-09-20 22:17] minikube-bot opened #12528 "Frequent test failures of `TestFunctional/parallel/ImageCommands/ImageRemove`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/parallel/ImageCommands/ImageRemove)|100.00|

[2021-09-20 22:17] minikube-bot opened #12529 "Frequent test failures of `TestFunctional/parallel/ImageCommands/ImageSaveDaemon`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/parallel/ImageCommands/ImageSaveDaemon)|100.00|

[2021-09-20 22:17] minikube-bot opened #12530 "Frequent test failures of `TestFunctional/parallel/ImageCommands/ImageSaveToFile`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/parallel/ImageCommands/ImageSaveToFile)|20.00|

[2021-09-20 22:17] minikube-bot opened #12531 "Frequent test failures of `TestFunctional/parallel/ImageCommands/Setup`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/parallel/ImageCommands/Setup)|100.00|

[2021-09-20 22:30] rushi47 commented on #11068
Facing with same issue, I already have the images locally but it still tries to pull everytime, i do minikube start and it fails

**Machine** -

[code]

[code]

**Minikube OP** -
[code]
**minikube version** -
[code]
**docker version** -
[code]

Logs from minikube logs -
[code]

[2021-09-21 01:49] denverdino opened #12535 "Proposal for using mirror image for Chinese developer with Alibaba Cloud Registry Service"
**Steps to reproduce the issue:**

There are some fixes for making Chinese developer to use Minikube with the mirrored images from Alibaba Cloud Registry Service. And I hope we can fix it more systematically. and I create one prototype for that.

1. Firstly, define the mirror mapping from the original repo to the mirrored repo, e.g. https://github.com/AliyunContainerService/minikube/blob/aliyun-v1

[2021-09-21 01:59] rushi47 commented on #11068
https://github.com/kubernetes/minikube/issues/459#issuecomment-255513357

Along with it, i also deleted minikube profile ~/.minikube & it worked for me as of now.

[2021-09-21 07:45] PaulVanStaden opened #12536 "Minikube unable to recognize "/etc/kubernetes/addons/ingress-deploy.yaml": no matches for kind "IngressClass" in version "networking.k8s.io/v1""
**Steps to reproduce the issue:**

1. minikube start --kubernetes-version v1.18.12
2. minikube addons enable ingress;

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>
[minikube_addons_d1448caf3bc0167dd65202e04ff7b4355f5f9efb_0.log](https://github.com/kubernetes/minikube/files/72

[2021-09-21 10:34] d3vpasha commented on #2481
This issue is still active

[2021-09-21 14:32] oleg-andreyev opened #12537 "mount(2) system call failed: Connection timed out"
**Steps to reproduce the issue:**

1. minikube mount $(pwd):/data/foobar

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

[logs.txt](https://github.com/kubernetes/minikube/files/7203922/logs.txt)
[minikube_mount_318e3da77d322d82b4157af1de850c13707139ac_0.log](https://github.com/kubernetes/minikube/files/7203920/minikube_mount_318e3da77d322d82b4157af1de850c13

[2021-09-21 14:51] oleg-andreyev commented on #3129
Still present

[code]

[2021-09-21 15:44] cpinochet opened #12538 "Error appear enabling minikube ingress addon."
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>
carlos@carlos-Inspiron-5558:~ $ minikube start
😄  minikube v1.23.0 en Linuxmint 20.1
🎉  minikube 1.23.1 is available! Download it: https://github.com/kubernetes/minikube/releases/tag/v1.23.1
💡  To d

[2021-09-21 15:52] oleg-andreyev commented on #11475
For reference

[code]

[code]

will return current IP of MacOS

[2021-09-21 16:37] spowelljr commented on #12509
@dilyanpalauzov @fsbaraglia I've discovered the root of the problem.

So in the point release from v1.23.0 -> v1.23.1 I updated cri-o from v1.20 -> v1.22.

Unknown to us, a [PR titled](https://github.com/cri-o/cri-o/commit/a522712d3b4bef80531ddd02256e78f79c0af7ac) `"crio config" only prints the fields that are differet than the default` was included in the v1.22 release of cri-o. cri-o has the def

[2021-09-21 17:07] #12537 closed

[2021-09-21 17:09] oleg-andreyev commented on #12537
Solved https://github.com/kubernetes/minikube/issues/11475#issuecomment-924121462

[2021-09-21 18:30] medyagh commented on #12538
@cpinochet this is a known regression that was fixed in the 1.23.1 patch would u please try the latest version fo minikube ?
https://github.com/kubernetes/minikube/blob/master/CHANGELOG.md#version-1231---2021-09-17

/triage needs-information
/kind support

[2021-09-21 18:33] medyagh commented on #12536
@PaulVanStaden can u please attach the log file

minikube logs --file=logs.txt

it seems like the log file is missing?

btw we had an ingress bug in 1.23.0 that is fixed in the 1.23.1 patch have u already tried the latest realase?

[2021-09-21 18:34] medyagh commented on #12535
hi @denverdino thank you for reaching out, who funds the  Alibaba Cloud Registry  account you are reffering to?
would it cost a lot to the owner of the project ?

[2021-09-21 18:35] medyagh commented on #12535
we been given an alibaba account for minikube but we have not set it up but I believe the funding for it is limitted and might not handle a lot of traffic

[2021-09-21 18:43] medyagh commented on #11068
I believe we have fixed this issue @aidagha would u please give it a try with latest version of minikube?

[2021-09-21 19:43] cameronbrunner commented on #11902
I was trying the same thing and determined the issue to be 1.10 version of golang in the buildroot-image ISO Dockerfile.  Following the instructions at https://github.com/golang/go/wiki/Ubuntu I installed golang 1.17 to get past the initial error.  This led to a build error due to `PWD` not being set inside of the docker container due to the launching of `make` directly and not from inside a shell

[2021-09-21 20:04] spowelljr commented on #6489
@JacekDuszenko Are you still working on this?

[2021-09-21 20:09] braderhart commented on #7923
@marcominetti Do you have time to assist with this? I can confirm the solution you mentioned fixes the issue for me, where I have `overlay2` setup on top of btrfs.

[code]

[2021-09-21 20:49] #12509 closed

[2021-09-21 21:08] marcominetti commented on #7923
Yes, sure, I'll try to delve into the code of minikube and cAdvisor. Can someone here review and accept an eventual PR against minikube?

[2021-09-21 21:43] stephenhatch commented on #12536
I am seeing this with the latest version (1.23.1) as well.

[2021-09-21 22:05] medyagh commented on #12536
@stephenhatch do u mind sharing the full steps to reproduce and then attach log file produced by  `minikube logs --file=logs.txt`

[2021-09-22 00:19] denverdino commented on #12535
Yep, I found the previous sync rule from "docker.io/coredns/coredns" is incorrect. So I fix that by adding sync rule

[code]

And PR #12411 is not required anymore.

Thanks

[2021-09-22 00:23] denverdino commented on #12535
@medyagh

My team was helping to fund such repo. And I am leading the development for Alibaba Cloud Container Service, and we are happy to making the life of Kubernetes developer in China more easier. I will talk to you in slack

[2021-09-22 04:32] jtabasz commented on #9130
Getting same issue. Using W10 Pro, Hyper-V, choco install minikube. All that works. Hyper-V enabled. Docker has been uninstalled. I run `minikube start --vm-driver=hyperv`, I can see the VM called minikube being created in the Hyper-V manager, but the minikube start fails after some time. looks like the VM created by minikube has no IP address.
[Command_Line_Output.txt](https://github.com/kubernet

[2021-09-22 07:35] duttaANI commented on #12077
❯ git branch
* (HEAD detached at v1.21.0)

❯ ./out/minikube start --driver=virtualbox --cni=cilium
😄  minikube v1.23.2 on Ubuntu 18.04
✨  Using the virtualbox driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🏃  Updating the running virtualbox "minikube" VM ...
🐳  Preparing Kubernetes v1.22.2 on Docker 20.10.8 ...
    ▪ Using image gcr.io/k8s-minikube/sto

[2021-09-22 07:46] sylvain-combe-sonarsource commented on #2481
**Very unreliable 9P mounts on Hyperkit, MacOS 11.6 and minikube  1.23.1**
Some files present and with 444 permissions in my host file system are unseen from the container mounting the dir, while some of those files are seen as directories...
File flags and attributes are a mess I would say.

I was planning to replace docker desktop with minikube but migration of existing volumes has been very dif

[2021-09-22 08:43] sylvain-combe-sonarsource commented on #8439
Looking for a solution on this issue for docker containers as well, on MacOS.
An ideal solution would be for host.docker.internal to be resolved, which would allow a smooth transition from docker desktop.

[2021-09-22 09:06] dilyanpalauzov opened #12546 "Implement --force-systemd into cri-o"
Minikube version 1.23.1 does not START work with crio and podman, because crio does not switch to systemd cgroup manager.

According to https://minikube.sigs.k8s.io/docs/commands/start/

is supposed to enforce systemd’s cgroup manager and be workaround for https://github.com/kubernetes/minikube/issues/12509.

However, `minikube start --force-systemd=true` does not start, which means that cgroup is

[2021-09-22 09:20] PaulVanStaden commented on #12536
I think it might be because of the older k8s version.
[logs.txt](https://github.com/kubernetes/minikube/files/7209422/logs.txt)

[2021-09-22 10:46] mateka opened #12547 "Allow using Podman driver on Mac and Windows"
**Steps to reproduce the issue:**

1. `minikube start --driver=podman` on Windows/Mac
2. minikube should start without errors

[2021-09-22 14:09] markgarrigan opened #12548 "Can not configure RBAC rules"
1. brew install docker
2. brew install hyperkit
3. brew install minikube
4. minikube start  --driver=hyperkit --container-runtime=docker

minikube logs --file=logs.txt
🤷  The control plane node must be running for this command
👉  To start a cluster, run: "minikube start"

**Full output of failed command if not `minikube start`:**
<details>
😄  minikube v1.23.2 on Darwin 10.15.7
✨  Using the hyperki

[2021-09-22 14:12] markgarrigan commented on #12548
More context...

I'm on a corporate Mac. If i'm on the VPN I can't get past the Creating hyperkit VM part. It just timesout. If I disable the VPN I get past that then it hangs on trying to configure RBAC. When I disable my VPN that also disables my users admin rights on my machine and I can't do anything about that.

[2021-09-22 15:01] rubenvp8510 commented on #12511
Any news on this?

The nginx ingress controller is supposed to run with this flags when there is the only ingress controller available, which I think is the case of minikube. This also require to bump ingress controller versions.

https://kubernetes.github.io/ingress-nginx/#i-have-only-one-instance-of-the-ingresss-nginx-controller-in-my-cluster-what-should-i-do

Thanks

[2021-09-22 15:48] afbjorklund commented on #12547
Podman, just like Docker Engine, is a Linux program. So it needs a different offering, similar to Docker Desktop (i.e.with a VM)

Currently that is **not** ready, the offering from Red Hat is an "OpenShift Desktop" that runs OpenShift instead (it is called "CRC")

You can use "lima" perhaps:
* Issue #12508

The original report is here:
* Issue #8003

But using a VM driver (`minikube start --vm`) i

[2021-09-22 16:23] mateka commented on #12547
I have created this issue because a few days ago Podman released a version, which works on macOS (they say, that it works on Windows too): https://podman.io/blogs/2021/09/06/podman-on-macs.html. From the user perspective, under the hood, it works similar to Docker Desktop: it creates a tiny virtual machine with qemu and runs in it. Even though it should not work on M1 Mac, I have run docker contai

[2021-09-22 16:30] spowelljr commented on #12509
@dilyanpalauzov @fsbaraglia This should be fixed with out newest release of minikube v1.23.2

https://github.com/kubernetes/minikube/releases/tag/v1.23.2

[2021-09-22 16:31] afbjorklund commented on #12547
There are multiple ways to run podman-remote from windows and macos, but none that are ready for minikube just yet...

I'm not so sure about "tiny" though, this new machine is about 10x bigger than the old machine and 2x the size of Fedora

[2021-09-22 16:31] spowelljr commented on #12546
Thanks for reporting this @dilyanpalauzov, I'll take a look into this

[2021-09-22 16:35] afbjorklund commented on #12547
Yeah, that is what that other story was about... We might do something similar for Docker, to use an Open Source version of it

[2021-09-22 17:04] mateka commented on #12547
What a pity!

Probably there will be a price to pay if You want to have an automated solution for Mac/Windows. Then users can decide if they want to manage their own VM or to use bundled on.

If Podman is not ready yet, I guess this issue should be closed?

[2021-09-22 17:25] stephenhatch commented on #12536
fwiw, starting with `--kubernetes-version=v1.18.20`

[2021-09-22 17:40] afbjorklund commented on #12547
We can leave it open, there are some new additions that makes it a bit different from the old one (#8003) which was more DIY

Right now there is no storage (shared with the host) in the new Podman Machine, so that feature probably needs to fixed first

But the publishing port is almost fixed, or will be in the next release. And support for arm64 on Mac is coming, as you noted.

Meanwhile, there ar

[2021-09-22 17:45] spowelljr commented on #12077
@duttaANI Feel free to work on this issue, just comment `/assign` to assign the issue to yourself.

[2021-09-22 17:49] afbjorklund commented on #12547
@mateka : it would also be useful to know, why you think that "podman" would be a better driver than "docker" or "hyperkit" ?

It is possible that the best solution would be a QEMU driver for minikube, talking directly to the Virtualization.framework (hvf)

The main reason why people like these "docker-in-docker" drivers, is because it goes faster to delete and start new clusters.

When it comes t

[2021-09-22 17:53] spowelljr commented on #12546
@dilyanpalauzov I see why `--force-systemd=true` fails on the cri-o runtime, we ignore the flag specifically for cri-o (second argument).

`func (r *CRIO) Enable(disOthers, _, inUserNamespace bool) error`

I'll find out why this is.

[2021-09-22 17:55] debimishra89 opened #12549 "not able to connect to internet from minikube pods"
**Steps to reproduce the issue:**

1. curl -LO https://storage.googleapis.com/minikube/releases/v1.21.0/minikube-linux-amd64
2.  sudo install minikube-linux-amd64 /usr/local/bin/minikube
3. minikube start --addons=ingress --vm=true --memory=8192 --driver=none

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube st

[2021-09-22 18:02] spowelljr commented on #12546
It seems it was just something that was never implemented into cri-o, I'll take a look at implementing it.

[2021-09-22 18:13] medyagh commented on #12508
I am not familiar with lima, but if it is just like docker or podman, and can use standard OCI image, I would accept a contribution that adds it as another minikube driver

[2021-09-22 18:26] medyagh commented on #12311
@dtln820 I noticed you are using virtualbox driver, I am curious do you have the same problem with any other driver? like Docker or Hyperkit?

[2021-09-22 18:28] medyagh commented on #12302
@flyme2uh we improved images for china a little bit in minikube 1.23.2 do u mind trying latest version ?

[2021-09-22 18:31] sharifelgamal commented on #10863
Upgrading to the newest version of minikube and running `minikube delete --all --purge` should fix any environmental issues you are seeing.

[2021-09-22 18:31] #10863 closed

[2021-09-22 18:38] afbjorklund commented on #12508
It is similar to WSL. It uses containerd/buildkitd by default, though.

[2021-09-22 18:38] #10055 closed

[2021-09-22 18:40] medyagh commented on #10079
@vishjain  I havent seen this error in long time, did we fix it ?

[2021-09-22 18:40] spowelljr commented on #10006
Hi @Akshay123455667, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-09-22 18:40] #10006 closed

[2021-09-22 18:42] spowelljr commented on #12385
Hi @KozakAG, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-09-22 18:42] #12385 closed

[2021-09-22 18:43] spowelljr commented on #12310
Hi @marv254, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-09-22 18:43] #12310 closed

[2021-09-22 18:48] sharifelgamal commented on #10242
Our CRI-O runtime is still a work in progress, but I believe we have made some big improvements in the past few months. Could you try upgrading to the newest version of minikube and trying again?

[2021-09-22 18:51] medyagh commented on #10751
@vineetbhardwaj80 the docker service file can be found using

```minikube ssh sudo systemctl status docker```

 ``` /lib/systemd/system/docker.service```

[2021-09-22 18:51] #10751 closed

[2021-09-22 18:54] medyagh commented on #11165
@tharun208  are you still working on this ?

[2021-09-22 18:59] sharifelgamal commented on #3417
I'll leave this open with the workaround for discoverability, and in case we do ever fix it permanently in minikube.

[2021-09-22 19:04] sharifelgamal commented on #12456
Adding testing infra for Fedora is on our near term list of things to do. I'll use this issue to track it.

[2021-09-22 19:10] mateka commented on #12547
I was a user of Docker Desktop. It was nice to not have to think about VM and have everything ready to use after booting my machine. After licensing changes, I have decided to look for an alternative to Docker Desktop (I am using my private MacBook when working remotely for my employer. On it I had Docker Desktop installed for private learning, but I do not want to think if it is legal or not if I

[2021-09-22 19:13] sharifelgamal commented on #12354
This seems like a reasonable feature to add. We'll slot it into our near term work.

[2021-09-22 19:16] medyagh commented on #12479
hi @dilyanpalauzov I am not sure what would be the action minikube could take in this case,
do you mean the images that Are loaded using "minikube ssh podman load" should show up in "minikube image ls"

[2021-09-22 19:17] sharifelgamal commented on #12159
The error you're seeing in your logs is that the certificate minikube is trying to use is expired, which can happen if you've been running the same minikube cluster without stopping or deleting it for a long time.

We have a PR (#12534) in progress that should fix that, but in the interim, running `minikube delete` then `minikube start` should fix the issue you're seeing.

[2021-09-22 19:21] afbjorklund commented on #12547
Currently, there is only support for Docker Machine which makes it more similar to the previous generation (Docker Toolbox).

[2021-09-22 19:28] sharifelgamal commented on #11229
Unfortunately, none of maintainers have an easy way to test minikube with the parallels driver, and therefore it's being maintained on a best effort basis. If anyone has a way to replicate this and fix it, we would love the help.

[2021-09-22 19:31] sharifelgamal commented on #11052
This seems to be fixed now, correct? I'll go ahead and close this issue. If something comes up, feel free to reopen.

[2021-09-22 19:31] #11052 closed

[2021-09-22 19:39] sharifelgamal commented on #10986
We're tracking adding test infra for cgroupsv2 in #12456

[2021-09-22 19:39] medyagh commented on #10544
@yangyaofei
I would be happy to accept a PR or review a PR that fixes it

do you think this PR helps ?

https://github.com/kubernetes/minikube/pull/12411

[2021-09-22 21:46] spowelljr opened #12552 "crio.conf empty with Docker driver"
Since updating cri-o from 1.20 to 1.22 (#12425) the `/etc/crio/crio.conf` file is empty when using the Docker driver.

[2021-09-22 22:59] AAATechGuy commented on #6918
/reopen
attaching logs.
[logs.txt](https://github.com/kubernetes/minikube/files/7214287/logs.txt)

[2021-09-22 23:02] AAATechGuy opened #12555 "hyperv: PermissionDenied: (:) [Start-VM], VirtualizationException"
After installed minikube, I tried to start it with minikube start --vm-driver=hyperv. But got the following error:

[code]

Attaching logs: [logs.txt](https://github.com/kubernetes/minikube/files/7214292/logs.txt)

Tried `minikube delete` and start again, doesn't work. Running command as Admin.

Duplicate of https://github.com/kubernetes/minikube/issues/6918, but I can't reopen it.

[2021-09-22 23:53] aaron-prindle opened #12556 "'minikube image build' command exits 0 with no message if incorrect parameter provided."
In attempting to use the `minikube image build` command as per https://minikube.sigs.k8s.io/docs/handbook/pushing/, it seems that `minikube image build` will exit 0 if an incorrect url parameter is used with no error/messaging-to-the-user.

To reproduce:
[code]
os: linux
minikube version: v1.23.2

[2021-09-22 23:54] MrJackQiao opened #12557 "minikube start returned error no such file while the file exists"
I am trying to setup https://github.com/ostenbom/refunction.
[code]
The error I got was
[code]

I am sure the file /tmp/refunction.sock exists and I can run `stat /tmp/refunction.sock` myself in command line
[code]

Below is the full error log from lastStart.txt

[lastStart.txt](https://github.com/kubernetes/minikube/files/7214424/lastStart.txt)

[2021-09-23 00:18] #12357 closed

[2021-09-23 01:44] duttaANI commented on #12077
/assign

[2021-09-23 02:27] PabloG6 commented on #12515
Any support for this issue?

[2021-09-23 02:53] yangyaofei commented on #10544
Hi @medyagh thank you to let me know this.

Actually, I'm a starter with this. so I don't know it will help or not . But I saw #11785 , I think this will be helped.

And I have a suggest that is add more error message when cannot pull the image, and add little more document about it and a general solution for this. There are two types dev in china, one is read official doc and use google, another

[2021-09-23 03:05] abdelouahabb commented on #9473
same here, the issue was with k3s , to remove it just make `/usr/local/bin/k3s-uninstall.sh`, after i removed it, `minikube dashboard` worked !

[2021-09-23 03:24] abdelouahabb commented on #3467
maybe i am late to the party, but just `sudo usermod -aG libvirt $USER` , restart or disconnect your session and you should run it with kvm without problems

[2021-09-23 03:50] liguangsheng opened #12558 "minikube start with hyper-v failed"
**Steps to reproduce the issue:**

1. new a external virtual switch in hyper-v
2. `minikube version: v1.23.0
commit: 5931455374810b1bbeb222a9713ae2c756daee10`
3. run `minikube start --driver=hyperv --registry-mirror=https://registry.docker-cn.com --hyperv-virtual-switch="MinikubeSwitch" --kubernetes-version=v1.22.0` several times, failes and success.
4. I didn't change anything until I finally suc

[2021-09-23 05:52] afbjorklund commented on #12556
None of the `minikube image` do any proper error reporting (just the log), but it is being worked on.

It was a design flaw in the minikube "machine" module that got inherited (c/p), was supposed to be fixed after the node handling...

[2021-09-23 05:57] afbjorklund commented on #12552
Maybe bug in the OBS package ?

[2021-09-23 06:18] aaron-prindle opened #12559 "minikube image build returning 'permission denied error' for linux(debian-rodete) + kvm & docker vm-driver envs"
In attempting to use the `minikube image build` command on a local dockerfile I am seeing the following:
[code]

os: linux (debian-rodete)
minikube_version: v1.23.2
[code]
[code]

full logs running `minikube image build --alsologtostderr .` with `kvm2` driver:
https://gist.github.com/aaron-prindle/3b15b9082ad8b5994e56e722f78a9cd6

full logs running `minikube image build --alsologtostderr .` with `

[2021-09-23 06:18] aaron-prindle commented on #12559
@sharifelgamal this is the issue I referenced in my chat w/ you

[2021-09-23 07:12] rafacouto commented on #11932
I confirm that btrfs storage driver is been used because the filesystem is btrfs. I don't have any problem with rest of the docker ecosystem. However, [it seems minikube requires overlay2 with docker to the image preload optimizations](https://github.com/kubernetes/minikube/issues/7070#issuecomment-601398879).

If so, this should be advised on the starting process with a check and a fatal message.

[2021-09-23 13:52] duttaANI commented on #12077
After running command -

❯ ./out/minikube start --driver=virtualbox --cni=./pkg/minikube/cni/cilium.go
😄  minikube v1.21.0 on Ubuntu 18.04
✨  Using the virtualbox driver based on existing profile

**output -**

error: error validating "/var/tmp/minikube/cni.yaml": error validating data: invalid object to validate; if you choose to ignore these errors, turn validation off with --validate=false

ful

[2021-09-23 14:39] afbjorklund commented on #12552
It was a change in cri-o, not listing default configuration...

It is being reverted for 1.22, but maybe a good idea to move to /etc/crio.conf.d anyway ?

[2021-09-23 14:58] afbjorklund commented on #12559
Does the Dockerfile have some mode restrictions like 640 ? Can you list the files `ls -l` perhaps, the tar format might preserve the owner and group from the host?

[2021-09-23 15:58] Monte-Christo opened #12560 "Cannot start Minikube on Windows 10"
**Steps to reproduce the issue:**

1. minikube start --network-plugin=cni --cni=calico
2. Errors are thrown right and left

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

- Windows version: 20H2, build 19042.1165
- Docker version 4.0.1, WSL2

[logs.txt](https://github.com/kube

[2021-09-23 17:13] spowelljr commented on #11932
@rafacouto You are correct, we should probably exit the program if the user is using `btrfs`. What I'll probably do it add the fatal, but also add a `--force-btrfs` flag incase the user really wants to try `btrfs` and will advertise the flag in the fatal message.

[2021-09-23 17:15] spowelljr commented on #12552
@afbjorklund Will the `crio.conf` file being empty affect us in anyway?

[2021-09-23 17:35] rafacouto commented on #11932
That flag would be interesting if its usage also disables the image preload optimizations in order to allow minikube with docker + btrfs :rocket:

[2021-09-23 17:43] afbjorklund commented on #12552
I think we try to change things (using `sed`), so that fails...

[2021-09-23 17:49] aaron-prindle commented on #12559
Yes, it has `640`/`-rw-r-----` permissions:
[code]

Changing the file perms to `644` resolved this issue, thanks.

[2021-09-23 17:56] spowelljr commented on #12555
Hi @AAATechGuy, thanks for reporting your issue with minikube!

Are you able to start a VM from PowerShell yourself? For example (don't for get to run as admin):
[code]

[2021-09-23 17:59] spowelljr commented on #12560
Hi @Monte-Christo, thanks for reporting your issue with minikube!

It seems your running into a known configuration issue.

Try running the following to reset minikube to a fresh state and then try starting minikube again and let me know if it works:
[code]

[2021-09-23 18:05] spowelljr commented on #12558
Hi @liguangsheng, thanks for reporting your issue with minikube!

I'm assuming you're running your terminal as admin?

Also, next time you have a failure starting minikube could you then run `minikube logs --file=logs.txt` and then upload the file here, that would help us debug, thanks!

[2021-09-23 18:10] Monte-Christo commented on #12560
Thank you, that worked. In the meantime, I had figured out another way by myself: stop minikube, then first run only "minikube start --network-plugin=cni", then, when that succeeded, stop minikube again and start the whole cahuna. Should i close this issue, or does it require actions on your part to resolve?

[2021-09-23 18:11] spowelljr opened #12561 "update-leaderboard GitHub Action failing"
https://github.com/kubernetes/minikube/actions/workflows/leaderboard.yml

[2021-09-23 18:15] spowelljr commented on #12560
I can close the issue for you, here's the issue for reference https://github.com/kubernetes/minikube/issues/8765, we'll fix this issue when we have the bandwidth to do so.

Thanks for using minikube!

[2021-09-23 18:15] #12560 closed

[2021-09-23 18:35] afbjorklund commented on #12559
Does `docker build` change the permissions ?

[2021-09-23 19:01] spowelljr commented on #12561
The cause of the failure is that `git tags` is returning:
[code]

Most likely due to the release tag being modified since the job started due to the release script running other things.

`git fetch --tags -f` should fix the issue

[2021-09-23 19:14] #12561 closed

[2021-09-23 19:15] #12546 closed

[2021-09-23 20:28] sir-gon commented on #11348
In MacOS using homebrew, an autocompletion file is provided to ZSH:

[code]

So, I have applied previous workaround in this way:

[code]

[2021-09-23 21:23] mar-rih opened #12565 "Exiting due to MK_CONFIG_SET: run validations for "driver" with value of "kvm2": [driver "kvm2" is not supported]"
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-09-24 00:45] aaron-prindle commented on #12559
I'm not sure in what context/where you are referring to the files permissions. `docker build` works for this file as it was originally (hence the confusion).  The file remains `640` after using `docker build`

[2021-09-24 03:20] febzhang commented on #7915
This is still an issue.

[code]

[2021-09-24 03:23] febzhang commented on #7447
This is still an issue.
[code]

[2021-09-24 05:23] afbjorklund commented on #12559
No worries, I can look into it myself. The `docker build` transport is somewhat different, even if it is the same "tar" code being used.

[2021-09-24 05:32] afbjorklund commented on #12559
Indeed, they replace the user and assume that it is "root" that is reading the file.

[code]

[2021-09-24 07:02] coachcalvi opened #12566 "minikube won't start in MacOs Big Sur with VirtualBox driver. Stuck on "libmachine: Error dialing TCP: ssh: handshake failed: read tcp""
**Steps to reproduce the issue:**

1.minikube start --driver=virtualbox --alsologtostderr -v=7
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>
I0923 23:59:27.450892   29663 out.go:298] Setting OutFile to fd 1 ...
I0923 23:59:27.451058   29663 out.go:350] isatty.IsTerminal(1) = true
I

[2021-09-24 07:05] coachcalvi commented on #12566
[logs.txt](https://github.com/kubernetes/minikube/files/7223783/logs.txt)

[2021-09-24 07:17] duttaANI commented on #12077
Possible source of this issue -
[here](https://github.com/kubernetes/minikube/blob/ecc3a914cb1bc622a0023fa6f498942897eeaa42/pkg/minikube/cni/cni.go#L43) DefaultConfDir is set to `/etc/cni/net.d` and in the [documentation](https://www.redhat.com/sysadmin/container-networking-podman),  it is mentioned that following default config file is used -

[87-podman-bridge.conflist](https://github.com/contai

[2021-09-24 13:16] duttaANI commented on #12077
@spowelljr  There is one solution mentioned [here](https://stackoverflow.com/a/68505195/11496568) , that is to modify `/etc/cni/net.d` . However there is a custom config dir defined in [cni.go](https://github.com/kubernetes/minikube/blob/76d74191d82c47883dc7e1319ef7cebd3e00ee11/pkg/minikube/cni/cni.go#L46) where it should be possible to mention the required subnet by the user .

Would this be an a

[2021-09-24 17:34] dmlond opened #12567 "Alpine Image cannot use DNS on Mac OSX"
**Steps to reproduce the issue:**

1. minikube start --driver=virtualbox --addons=ingress-dns,ingress
2. Create a web namespace with dnsutils, and alpine pods
[code]

3. wget google.com in both
[code]

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>
output of dnsutils
Connecting to google.c

[2021-09-24 21:53] #10122 closed

[2021-09-24 22:59] spowelljr commented on #12565
Hi @mar-rih, thanks for reporting your issue with minikube!

The `kvm2` driver is only supported with Linux, so I'm assuming you're trying to use the driver with another OS.

If you're using Mac you can use Docker, Hyperkit, VirtualBox or VMWare or  and if you're using Windows you can use Docker, HyperV VirtualBox or VMware.

[2021-09-25 03:34] dabljues opened #12569 "minikube start fails with btrfs"
**Steps to reproduce the issue:**

1. Have a working docker installation
2. Install minikube
3. minikube start

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>
minikube start

😄  minikube v1.23.2 on Arch
✨  Automatically selected the docker driver. Other choices: ssh, none
👍  Starting contr

[2021-09-25 04:31] #12515 closed

[2021-09-25 07:00] firstPole opened #12570 "minikube addons enable ingress not working on windows 10"
**Steps to reproduce the issue:**

1. minikube addons enable ingress

Error:

minikube addons enable ingress
  - Using image docker.io/jettech/kube-webhook-certgen:v1.5.1
  - Using image docker.io/jettech/kube-webhook-certgen:v1.5.1
  - Using image k8s.gcr.io/ingress-nginx/controller:v0.44.0
* Verifying ingress addon...

X Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting

[2021-09-25 07:37] Danielferencz21 opened #12571 "Title"
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-09-25 08:17] minikube-bot opened #12573 "Frequent test failures of `TestFunctional/parallel/PersistentVolumeClaim`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/parallel/PersistentVolumeClaim)|50.00|

[2021-09-25 09:40] abiosoft commented on #10908
You can simply spoof it with a docker binary in path that does nothing.

[code]

[2021-09-25 11:26] nibirrayy opened #12574 "unbale to configure podman as a driver on arch linux with btrfs"
Here is what I am getting when I run

`minikube start --driver=podman --container-runtime=cri-o`

![image](https://user-images.githubusercontent.com/12048453/134769629-a4b51443-08bc-4c40-89ff-69ab6dcaf480.png)

**I have checked issue #8426 but there is nothing useful there other than a bot trying to keep the issue from closing**

Running `minikube logs --file=logs.txt`  is showing this output

![i

[2021-09-25 11:32] nibirrayy commented on #12440
I am having the same issue and I have also opened a thread on #12574
I am not sure what is causing it I can't even see the log as mentioned in the post.

I am not sure but I am using btrfs. @diepes  are you using btrfs as well.

[2021-09-25 12:18] afbjorklund commented on #12574
See also #7923 (for "docker" driver)

[2021-09-25 12:41] diepes commented on #12440
@nibirrayy yes btrfs fs, switched from podman to docker to get minicube running

[2021-09-25 12:49] nibirrayy commented on #12574
@afbjorklund this workaround is for docker do you think that the workaround mentioned there will work for podman as well

[2021-09-25 12:57] afbjorklund commented on #12574
I don't really know, but it could be worth investigating (especially if the needed configuration is on the kubelet side) ?

[2021-09-25 13:12] Mjahannivas opened #12575 "Get this error while installing Minikube on my AWS EC2 instance"
minikube start --force --driver=docker
😄  minikube v1.23.2 on Ubuntu 20.04
❗  minikube skips various validations when --force is supplied; this may lead to unexpected behavior
✨  Using the docker driver based on existing profile
🛑  The "docker" driver should not be used with root privileges.
💡  If you are running minikube within a VM, consider using --driver=none:
📘    https://minikube.sigs.k8s.io

[2021-09-25 13:19] duttaANI commented on #12077
I would like to share my approach -

Change [ConfDir](https://github.com/kubernetes/minikube/blob/ecc3a914cb1bc622a0023fa6f498942897eeaa42/pkg/minikube/cni/cni.go#L51) inside variable to `ConfDir = CustomConfDir` where `CustomConfDir = "/etc/cni/net.mk"`

Create a new folder inside `minikube/deploy/iso/minikube-iso/board/coreos/minikube/rootfs-overlay/etc/cni/net.mk`  and inside it place the custo

[2021-09-25 13:26] afbjorklund commented on #12575
You can try pulling the images manually, see if you get more verbose errors ?

[code]

Don't run as root.

[2021-09-25 13:40] tiandaox commented on #12293
1. upgrade to latest version.
2. check pod events -> must pull image sucess;

[2021-09-25 14:16] Srilahari9 opened #12576 "Facing issue to connect minikube and kubectl"
minikube v1.2.0 on windows (amd64)
* Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
* Restarting existing virtualbox VM for "minikube" ...
E0925 19:37:50.615985    3172 start.go:559] StartHost: start: Unable to start the VM: C:\Program Files\Oracle\VirtualBox\VBoxManage.exe startvm minikube --type headless failed:
VBoxManage.exe: error: Call t

[2021-09-25 14:21] febzhang commented on #8997
not working anymore. Now the image repository is 404 page not found

[2021-09-25 15:28] Mjahannivas commented on #12575
getting this following issue while installing Promethues operator using helm(mini kube)

helm install --name my-release stable/prometheus-operator
Error: unknown flag: --name

[2021-09-25 16:21] afbjorklund opened #12577 "Add parameter for when podman driver is running remote"
Currently the remote flag of `podman` is hardcoded, to always disabled on Linux (and always enabled on Mac and Win)

We should make it a driver boolean, so that it is possible to test `podman machine` also on regular developer machines.

Sadly, podman requires a flag `--remote` or even a special binary `podman-remote`. Otherwise it will still run locally...

On other platforms, this flag is "alway

[2021-09-25 16:31] afbjorklund commented on #12577
Currently this is intermixed with rootless, so might need to be fixed in cooperation with #12460

[code]

So this affects both `PrefixCmd` and `OCIRunner`. Preferrably these should be a class, instead of a string ?

* Binary
* Rootless
* Remote

[2021-09-25 16:43] afbjorklund commented on #12577
When running remote, "rootless" is **not** so important to the command (it will never use `sudo` anyway).

But it should be possible, to query the engine if it is running as root or as user (it is in the `info` output)

"rootless"

"rootless: true"

### docker root

[code]

### docker rootless

[code]

### podman root

[code]

### podmn rootless

[code]

[2021-09-25 21:22] AAATechGuy commented on #12555
After running commands on Hyper-V VM, the VM seems to start-up. However, stuck in Running phase.

Please note, this is nested-virtualization enabled AzureVM, running on windows-server-2019.

[code]

Here's the screenshot...

![image](https://user-images.githubusercontent.com/3484074/134786218-fde3ba45-6d8f-4079-9fc5-31b0b5c23c91.png)

![image](https://user-images.githubusercontent.com/3484074/1347

[2021-09-26 13:16] rachelis19 commented on #10265
I'm also having the same trouble.
using minikube on windows 10

trying to use minikube tunnel command and it hangs..... can`t run external services

[2021-09-26 13:24] iuli72an opened #12580 "Cannot activate Ingress in Minikube"
**Steps to reproduce the issue:**

1. start minikube with 'minikube start'
2. execute command 'minikube addons enable ingress'
3. after 6 minutes the following output is generated:

`X Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting for app.kubernetes.io/name=ingress-nginx pods: timed out waiting for the condition]
*
╭─────────────────────────────────────────────────────

[2021-09-26 14:07] afbjorklund opened #12581 "Error when trying to run minikube with podman machine"
Something is different between `podman` and `podman-remote` (podman machine):

`Error: error preparing container cc26ed492ddbd1f0f4dac495e4c64a3bc29c246d00c246c2df58ca87ea6e66ba for attach: error configuring network namespace for container cc26ed492ddbd1f0f4dac495e4c64a3bc29c246d00c246c2df58ca87ea6e66ba: error adding pod minikube-preload-sidecar_minikube-preload-sidecar to CNI network "podman": un

[2021-09-26 14:16] afbjorklund commented on #12581
Never mind, this was a bug in podman when it tried to read the **docker** config

[2021-09-26 15:18] duttaANI commented on #12429
@spowelljr  I am experiencing same issue with Google Chrome 93.0.4577.82 and Ubuntu 18.04.6 LTS

[2021-09-26 17:47] afbjorklund commented on #12581
The bug is related to the new "podman-machine" CNI plugin, in the network

[2021-09-26 18:04] afbjorklund commented on #12581
Editing /etc/cni/net.d/minikube.conflist to remove "podman-machine" makes it limp along

Downgrading the Fedora CoreOS image (and thus podman version) should also work...

[2021-09-26 18:12] maheshsmc5 opened #12582 "Error starting cluster: kubeadm init timed out in 10 minutes"
**Steps to reproduce the issue:**

1.trying to start minikube start command, Below is the output.
# minikube start
* minikube v1.23.2 on Centos 7.9.2009
* Using the none driver based on existing profile

X The requested memory allocation of 2200MiB does not leave room for system overhead (total system memory: 3020MiB). You may face stability issues.
* Suggestion: Start minikube with less memory al

[2021-09-26 18:32] afbjorklund commented on #12581
Possible workaround:

[code]

[2021-09-26 19:07] afbjorklund commented on #12479
You will have to use `minikube image load`, if you want to load content from tarballs.

I think `minike cache add` only supports the docker daemon and docker registry ?

[2021-09-26 19:11] afbjorklund commented on #12547
I added a PR to "allow" it, and some instructions on how to start the VM....

Apparently is currently broken, but hopefully fixed in again Podman 3.4.0 ?

[2021-09-26 19:22] dilyanpalauzov commented on #12479
This is not clear from reading https://minikube.sigs.k8s.io/docs/handbook/pushing/#2-push-images-using-cache-command .  It shall explicitly state, that it works with Docker images and not with OCI images.

[2021-09-26 19:29] afbjorklund commented on #12479
It also doesn't work with the Podman service, only with the Docker daemon

[2021-09-26 19:38] darman96 opened #12583 "mount: /sys: permission denied.: container exited unexpectedly"
**Steps to reproduce the issue:**

Fresh virtual Ubuntu server hosted by Strato.
I have docker installed and ran following command:

`minikube start --driver=docker --container-runtime=containerd`

**Fails with:**
<details>
2021-09-26T19:31:14.995807552Z  INFO: remounting /sys read-only
2021-09-26T19:31:14.995814418Z  + mount -o remount,ro /sys
2021-09-26T19:31:15.001984066Z  mount: /sys: permissi

[2021-09-26 19:38] afbjorklund commented on #12479
It does say "From your host, you can push a Docker image directly to minikube."

[2021-09-26 19:44] afbjorklund commented on #12583
Is this a real VM, or kind of LXC solution ?

`virtualization: openvz guest`

Nested containerization currently doesn't work, and it would be containerd-in-docker-in-openvz if it did...

See  #7957 and #8167 (use "none" driver)

[2021-09-26 20:03] darman96 commented on #12583
I guess it's a real VM but I don't know what strato uses for virtualization.

[2021-09-26 20:06] afbjorklund commented on #12583
According to the Go "ps" output, it uses OpenVZ: https://openvz.org/

[2021-09-26 20:13] darman96 commented on #12583
I see, thanks.

So as you mentioned in the other issue would using kubeadm be possible inside a OpenVZ container?

[2021-09-26 20:16] afbjorklund commented on #12583
As long as you can make a container runtime work inside it, that should be possible (in theory).

We were eventually able to hack both docker and podman to allow it, but with systemd it's a pain...

[2021-09-26 20:16] darman96 commented on #12583
I know that docker works, was using docker-compose before.

[2021-09-26 20:18] dilyanpalauzov commented on #12479
What is “podman service”?

Nowadays, often under “docker images” are meant also “oci images”, therefore it shall be stated explicitly if the one is not meant.

[2021-09-26 20:19] afbjorklund commented on #12583
See here, for the full list of requirements:

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

[2021-09-26 20:33] imoisharma commented on #12571
This PR will be close as no information is provided.

[2021-09-26 20:34] imoisharma commented on #12571
/assign @imoisharma

[2021-09-26 20:34] imoisharma commented on #12571
/kind close

[2021-09-26 20:44] afbjorklund commented on #12479
As in the podman.service unit

Basically the thing that is answering the podman.sock, which is still needed if using the API instead of the CLI

[2021-09-26 20:47] afbjorklund commented on #12479
And I agree about the OCI and the CRI, just that "nobody" has started using them yet. But it should be documented.

[2021-09-26 20:57] imoisharma commented on #12571
/kind support /close

[2021-09-26 21:23] dilyanpalauzov opened #12585 "`minikube delete` not removing podman network"
I call
[code]

Or more precisely:
[code]

It first deletes the container minikube, then it tries to print its status, and fails.

To be honest, I did something on my computer, I do not know what, and now minikube fails on shutdown.  Also after `minikube delete` , `sudo podman network ls` shows:
[code]
so the network is not deleted.

[2021-09-26 21:37] dilyanpalauzov commented on #12585
Before calling `minikube stop`, the file /var/run/crio/crio.sock does exits within the minikube.  This is the output of
[minikube stop --alsologtostderr --log_file=stop2.txt -v=100](https://github.com/kubernetes/minikube/files/7232294/stop2.txt)

It prints on stderror, when `-alsologtostderr` is not used:

[2021-09-26 23:19] Makaan commented on #12301
Someone has a solution for this issue?

[2021-09-26 23:52] imoisharma commented on #12571
/close

[2021-09-27 00:27] netwrk197 commented on #12301
I reinstalled the minikube in the VM and each deployment. I deleted so it
is fresh deployment and the issue appeared in all new deployment docker
driver.

 The work around solution is change driver to VM mode so minikube will run
docker in the virtual box instead of direct docker in the host. It has
slower performance but it works.

Before change driver to vm mode, you try to delete all as above g

[2021-09-27 10:17] oliversalzburg commented on #12489
@medyagh Any idea what else I should be looking into?

[2021-09-27 10:52] RA489 commented on #12585
/kind support

[2021-09-27 10:52] RA489 commented on #12582
/kind support

[2021-09-27 10:52] RA489 commented on #12580
/kind support

[2021-09-27 10:52] RA489 commented on #12576
/kind support

[2021-09-27 10:52] RA489 commented on #12570
/kind support

[2021-09-27 10:52] RA489 commented on #12569
/kind support

[2021-09-27 10:52] RA489 commented on #12567
/kind support

[2021-09-27 11:18] firstPole commented on #12570
After googling around the issue I found that my network proxy was blocking to enable this ingress addon on my host machine. I tried to disable the network proxy and then tried to enable the ingress using minikube and it worked!

Hence closing this issue.

[2021-09-27 11:18] #12570 closed

[2021-09-27 11:49] duttaANI commented on #12077
I believe there was some issue when I used to assign the path of cilium file during minikube start command .  However if we simply mention `--cni=cilium`  it is assigning correct IP .

[code]

[2021-09-27 14:17] #12356 closed

[2021-09-27 17:32] spowelljr commented on #12429
I'm going to assume this might be a Linux or Ubuntu specific bug, code wise if uses the exact same footer as the other pages. I could be wrong, but I'm going to assume the bug is going to be with [docsy](https://github.com/google/docsy) as that's the framework we use for our website.

[2021-09-27 18:47] sharifelgamal commented on #10773
I don't think we're going to do this.

[2021-09-27 18:47] #10773 closed

[2021-09-27 18:52] sharifelgamal commented on #11207
Hey @dinever, looks like we approved your proposal and initial refactor PR. Any plans on continuing to work on this?

[2021-09-27 18:59] sharifelgamal commented on #11881
This is fixed in 1.23.2

[2021-09-27 18:59] #11881 closed

[2021-09-27 19:04] nickcaballero commented on #11213
Seeing the same issue on my environment using hyperkit without vpnkit. DNS resolution for the NTP server `time4.google.com` fails inside the VM, I'm guessing because the only way to reach internet is via HTTP proxy.

[2021-09-27 19:50] spowelljr commented on #12555
Hi @AAATechGuy, thanks for the update, can you please run `minikube logs --file=logs.txt` and upload the newly generated log file.

[2021-09-27 19:59] sudocraft commented on #11513
This happens to v1.22.2. Downgrading to v1.22.0 seems to solve this issue

[code]

[code]

[2021-09-27 20:03] sharifelgamal commented on #11513
@sudocraft which version of minikube are you using?

[2021-09-27 21:03] nickcaballero commented on #11213
Adding IPs of the Google time servers to `/etc/hosts` helps with the DNS resolution issue.

[2021-09-27 22:54] r4j4h commented on #9757
/remove-lifecycle rotten

[2021-09-27 22:55] r4j4h commented on #9757
oops I misread that spowelljr's marking frozen as the k8s robot didn't read close enough sorry

This is still an issue. Trying to set back to frozen, assuming that is the proper tag for it:

/add-lifecycle frozen

[2021-09-28 00:07] bhester01 opened #12594 "minikube tunnel hard coded docker"
**Steps to reproduce the issue:**

1. minikube start --embed-certs --kubernetes-version 1.20.10 --addons registry-creds --driver podman
2. minikube tunnel

<details>
E0927 19:02:29.077832  374498 out.go:451] unable to execute get port 22 for "minikube": docker container inspect -f "'{{(index (index .NetworkSettings.Ports "22/tcp") 0).HostPort}}'" minikube: exec: "docker": executable file not found

[2021-09-28 00:07] #12547 closed

[2021-09-28 00:17] #12453 closed

[2021-09-28 00:17] minikube-bot opened #12595 "Frequent test failures of `TestFunctional/parallel/DashboardCmd`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/parallel/DashboardCmd)|100.00|

[2021-09-28 00:17] minikube-bot opened #12596 "Frequent test failures of `TestFunctional/parallel/UpdateContextCmd/no_changes`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestFunctional/parallel/UpdateContextCmd/no_changes)|28.33|

[2021-09-28 00:17] minikube-bot opened #12597 "Frequent test failures of `TestFunctional/parallel/UpdateContextCmd/no_clusters`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestFunctional/parallel/UpdateContextCmd/no_clusters)|20.37|

[2021-09-28 00:17] minikube-bot opened #12598 "Frequent test failures of `TestFunctional/parallel/UpdateContextCmd/no_minikube_cluster`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestFunctional/parallel/UpdateContextCmd/no_minikube_cluster)|20.37|

[2021-09-28 00:17] minikube-bot opened #12599 "Frequent test failures of `TestFunctional/parallel/Version/components`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/parallel/Version/components)|20.00|

[2021-09-28 00:17] minikube-bot opened #12600 "Frequent test failures of `TestFunctional/serial/ExtraConfig`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/serial/ExtraConfig)|100.00|

[2021-09-28 00:17] minikube-bot opened #12601 "Frequent test failures of `TestFunctional/serial/SoftStart`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/serial/SoftStart)|100.00|

[2021-09-28 00:17] minikube-bot opened #12602 "Frequent test failures of `TestFunctional/serial/StartWithProxy`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/serial/StartWithProxy)|100.00|

[2021-09-28 00:17] minikube-bot opened #12603 "Frequent test failures of `TestJSONOutput/start/Audit`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_crio](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio&test=TestJSONOutput/start/Audit)|78.31|
|[Docker_Linux_crio_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio_arm64&test=TestJSONOutput/sta

[2021-09-28 00:17] minikube-bot opened #12604 "Frequent test failures of `TestJSONOutput/start/Command`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestJSONOutput/start/Command)|100.00|

[2021-09-28 00:17] minikube-bot opened #12605 "Frequent test failures of `TestMultiNode/serial/AddNode`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestMultiNode/serial/AddNode)|100.00|

[2021-09-28 00:17] minikube-bot opened #12606 "Frequent test failures of `TestMultiNode/serial/FreshStart2Nodes`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestMultiNode/serial/FreshStart2Nodes)|100.00|

[2021-09-28 00:17] minikube-bot opened #12607 "Frequent test failures of `TestMultiNode/serial/ProfileList`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestMultiNode/serial/ProfileList)|100.00|

[2021-09-28 00:17] minikube-bot opened #12608 "Frequent test failures of `TestMultiNode/serial/StartAfterStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestMultiNode/serial/StartAfterStop)|100.00|

[2021-09-28 00:17] minikube-bot opened #12609 "Frequent test failures of `TestMultiNode/serial/StopNode`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestMultiNode/serial/StopNode)|100.00|

[2021-09-28 00:17] minikube-bot opened #12610 "Frequent test failures of `TestPause/serial/SecondStartNoReconfiguration`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestPause/serial/SecondStartNoReconfiguration)|51.25|

[2021-09-28 00:17] minikube-bot opened #12611 "Frequent test failures of `TestPause/serial/Start`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestPause/serial/Start)|50.00|

[2021-09-28 00:21] imoisharma commented on #12571
Hi @Danielferencz21 can you provide some more details on the issue you are facing with logs.txt. Cheers.

[2021-09-28 00:26] mdhume commented on #7332
@sharifelgamal @zhan9san We ran into an issue due to this change. We were running K8s 1.17.4 using minikube version 1.23.0.
When we run `minikube tunnel` we see the following error:
[code]
I believe the reason is because in K8s 1.17 Ingress is only present in v1beta1 - https://v1-17.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#ingresslist-v1beta1-networking-k8s-io

The PR trie

[2021-09-28 00:42] #11996 closed

[2021-09-28 02:04] #12480 closed

[2021-09-28 02:11] #11192 closed

[2021-09-28 03:42] optimizasean opened #12614 "Minikube with minimal docker - macos"
Unable to provision hyperkit VM through minikube start command.

1. brew install hyperkit minikube
2.  minikube start

😄  minikube v1.23.2 on Darwin 10.15.7
✨  Using the hyperkit driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🔥  Creating hyperkit VM (CPUs=2, Memory=6000MB, Disk=20000MB) ...
🔥  Deleting "minikube" in hyperkit ...
🤦  StartHost failed,

[2021-09-28 04:42] zhan9san commented on #7332
Hi @mdhume
Sorry for the inconvenience

Would it be possible to upgrade the k8s cluster? It will introduce more logic to support backward compatibility

[2021-09-28 11:52] huxulm commented on #7447
For my situation is, first minikube pull from gcr.io but failed, then it trys to pull from docker.io.
see below:
[code]

[2021-09-28 12:14] RajAdittan opened #12616 "minikube parallels driver network error big sur"
**Steps to reproduce the issue:**

1. minikube start --cpus=8 --memory=16348 --driver=parallels --host-dns-resolver=false

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>
rajamohanadittan@optimuspro ~ % minikube start --alsologtostderr -v=7 --cpus=8 --memory=16348 --host-dns-resolver=false

[2021-09-28 14:03] tomkivlin commented on #8765
Adding that on minikube v1.23.2 I had this same problem, and the steps provided worked for me:

[code]

[2021-09-28 18:04] spowelljr commented on #12585
Hi @dilyanpalauzov, thanks for reporting you issue with minikube!

The error message you're seeing `Unable to get host status for minikube, assuming it has already been deleted` is just something we log and is not a true error, here's the code for reference: https://github.com/kubernetes/minikube/blob/master/pkg/minikube/machine/delete.go#L81.

However, your network not being deleted is not intend

[2021-09-28 18:41] maheshsmc5 commented on #12582
closing the issue, due to my problem was solved from other sources

[2021-09-28 18:41] #12582 closed

[2021-09-28 19:59] AkihiroSuda commented on #11327
/remove-lifecycle stale

[2021-09-28 21:57] rockhowse commented on #9720
Just confirmed this worked for me! Thx @Nothing4You 💟

[2021-09-29 00:17] minikube-bot opened #12619 "Frequent test failures of `TestFunctional/parallel/DryRun`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/parallel/DryRun)|100.00|

[2021-09-29 00:17] minikube-bot opened #12620 "Frequent test failures of `TestFunctional/parallel/InternationalLanguage`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/parallel/InternationalLanguage)|100.00|

[2021-09-29 00:17] minikube-bot opened #12621 "Frequent test failures of `TestMultiNode/serial/RestartKeepsNodes`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestMultiNode/serial/RestartKeepsNodes)|100.00|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestMultiNode/serial/RestartKeepsNodes)|100.00|
|[KVM_Linux_crio](https://gop

[2021-09-29 01:41] #11348 closed

[2021-09-29 02:35] bcui2020 opened #12622 "unable to enable the registry"
**Steps to reproduce the issue:**

1. minikube start
2. minikube addons enable registry

After waiting for almost 10 mins, it shows:
`Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [waiting for kubernetes.io/minikube-addons=registry pods: timed out waiting for the condition]`

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**
[logs.txt](https

[2021-09-29 06:17] minikube-bot opened #12624 "Frequent test failures of `TestFunctional/parallel/MountCmd/specific-port`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Cloud_Shell](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Cloud_Shell&test=TestFunctional/parallel/MountCmd/specific-port)|100.00|

[2021-09-29 06:17] minikube-bot opened #12625 "Frequent test failures of `TestFunctional/parallel/Version/short`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/parallel/Version/short)|20.00|

[2021-09-29 07:02] febzhang commented on #7447
I tried Windows 10 which behind the same enterprise proxy, with or without --image-mirror-country=cn both works.

[code]

[2021-09-29 10:29] eleaar commented on #1990
Hi, I'm also running into this issue with some helm charts that explicitely forbid running their containers as root (e.g. bitnami/kube-prometheus). Could this be reopened?

[2021-09-29 11:07] dilyanpalauzov commented on #12585
`minikube delete --all` does not help.  I delete everytihng, including all profiles, and the minikube podman network.  When I call

this is the  [start.log](https://github.com/kubernetes/minikube/files/7251289/start.log) file.

When I call

[code]
this is the  [delete.log](https://github.com/kubernetes/minikube/files/7251300/delete.log) file.

As I said previously, minikube has worked on my comput

[2021-09-29 14:53] slabko commented on #12569
I have very similar situation on Fedora, two machines: desktop and notebook. Minibike works perfectly on desktop configured couple of weeks ago, today I tried to configure it on my laptop and it failes to start. When I called `docker exec minikube sh -c "journalctl -xeu kubelet"`, I noticed this message

[code]

while on my working machine I don't see any restarts of kubelet

[2021-09-29 15:00] LibertyBeta commented on #7332
Is `minikube tunnel` still required on mac?

[2021-09-29 16:36] sharifelgamal commented on #7332
For the docker driver, yes.

[2021-09-29 17:19] Srikrishnabh commented on #11290
/remove-lifecycle stale

[2021-09-29 17:31] mdhume commented on #7332
@zhan9san unfortunately we won't be able to since that is the version we are running in production, though we plan to upgrade soon. One option could be to revert to previous behavior i.e. disable ingress support, if the K8s version detected is prior to 1.19

[2021-09-29 17:39] spowelljr commented on #12585
Hi @dilyanpalauzov, I tried starting minikube and then deleting it with the podman driver and I'm experiencing the same thing as you, I'll look into this.

[2021-09-29 17:42] spowelljr commented on #12585
I believe the root of the issue to be with the following command:
[code]

I tried running it and it's not returning anything.

[2021-09-29 18:12] spowelljr commented on #11896
Hi @WinnerSong, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-09-29 18:12] #11896 closed

[2021-09-29 18:27] spowelljr commented on #12344
Hi @RFinland, thanks for reporting your issue with minikube!

I did some research, and from what I found `PodPreset` was last supported with Kubernetes v1.18, the current version of minikube (v1.23.2) uses Kubernetes version v1.22.1.

You can try passing `--kubernetes-version=1.18` into minikube start, but I can't guarantee that it will work.

[2021-09-29 18:30] sharifelgamal commented on #12145
so we have updated our addons to pull ghcr.io/helm/tiller:v2.16.12 so that things don't totally fail, but i agree we should update the image to v2.17.0, which should be as easy as changing https://github.com/kubernetes/minikube/blob/master/pkg/minikube/assets/addons.go#L470 to be the correct image.

[2021-09-29 18:32] spowelljr commented on #12286
This is the same error as issue #12555, I believe this error might be specific to `Windows Server 2019 Datacenter`.

[2021-09-29 18:33] sharifelgamal commented on #12161
Did you try passing in `--extra-config=kubelet.cgroup-driver=systemd` into `minikube start` as suggested?

[2021-09-29 18:38] sharifelgamal commented on #12167
I'm definitely in favor of this

[2021-09-29 18:43] sharifelgamal commented on #12181
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

[2021-09-29 18:57] sharifelgamal commented on #12307
This is an interesting failure because it means you got a permission denied error inside of your minikube guest, that's what "Updating kubeconfig" means. I'm not sure how that's possible. Have you tried just running a `minikube delete` and `minikube start` just to see what happen?

[2021-09-29 19:02] sharifelgamal commented on #12511
I see no reason why we can't support this, if someone wants to open a PR to fix this, I'd be happy to review.

[2021-09-30 00:17] minikube-bot opened #12628 "Frequent test failures of `TestFunctional/parallel/StatusCmd`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/parallel/StatusCmd)|50.00|

[2021-09-30 00:17] minikube-bot opened #12629 "Frequent test failures of `TestFunctional/parallel/TunnelCmd/serial/AccessDirect`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Cloud_Shell](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Cloud_Shell&test=TestFunctional/parallel/TunnelCmd/serial/AccessDirect)|21.53|

[2021-09-30 00:17] minikube-bot opened #12630 "Frequent test failures of `TestNetworkPlugins/group/auto/Start`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestNetworkPlugins/group/auto/Start)|100.00|

[2021-09-30 00:17] minikube-bot opened #12631 "Frequent test failures of `TestStartStop/group/old-k8s-version/serial/DeployApp`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/old-k8s-version/serial/DeployApp)|100.00|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestStartStop/group/old-k8s-version/serial/DeployApp)|100.00|

[2021-09-30 00:26] zhan9san commented on #7332
How about adding an option like

minikube tunnel --service-only

or something else to set up tunnels for 'service' only?

[2021-09-30 02:45] shenshouer commented on #2162
No change yet at minikube v1.23.2 with driver virtualbox - help wanted.

[2021-09-30 04:39] mdhume commented on #7332
@zhan9san that would work too 👍

[2021-09-30 05:26] #12575 closed

[2021-09-30 05:57] zhan9san commented on #7332
@sharifelgamal

To follow the code of conduct in existing flags, I'd like to implement the following command.

`minikube tunnel --ingress` would create tunnels for both `service` and `ingress`.

while

`minikube tunnel` would for `service` only.

But this would have an impact on ingress for non-Mac system.

Do you have any concern?

[2021-09-30 07:21] AviMoto commented on #3647
+1 to this feature

[2021-09-30 08:44] RFinland commented on #12344
Thank you for your help. I greatly appreciate it, I'll check it out (y)

[2021-09-30 09:06] ChenLin12138 commented on #12152
@spowelljr
I have same issue even I used minikubev1.23.2
`C:\Program Files\Kubernetes\Minikube>minikube  addons enable ingress
* After the addon is enabled, please run "minikube tunnel" and your ingress resources would be available at "127.0.0.1"
  - Using image k8s.gcr.io/ingress-nginx/controller:v1.0.0-beta.3
  - Using image k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.0
  - Using image k8s.

[2021-09-30 09:07] ChenLin12138 commented on #12501
@spowelljr
I have same issue even I used minikubev1.23.2

sfsf
`C:\Program Files\Kubernetes\Minikube>minikube addons enable ingress

After the addon is enabled, please run "minikube tunnel" and your ingress resources would be available at "127.0.0.1"
Using image k8s.gcr.io/ingress-nginx/controller:v1.0.0-beta.3
Using image k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.0
Using image k8s.gcr.io/i

[2021-09-30 10:49] imoisharma commented on #12571
@medyagh Hi Medya can you close this issue. Since, there is no response from the owner and details are not enough to provide any support on this issue. Please let me know if you need any assistance or further information on this Issue. Cheers.

[2021-09-30 10:51] imoisharma commented on #12580
Hi @iuli72an which minikube version are using and which version of Kubernetes you are using?

[2021-09-30 14:09] vrubiolo opened #12632 "SSH driver: --ssh-user argument seems to be ignored"
**Steps to reproduce the issue:**
`minikube -p vm-cloud-k8s start --driver=ssh --native-ssh=false --ssh-user=vrubiolo --ssh-ip-address=vm-cloud --ssh-key=~/.ssh/id_rsa-vm_cloud --alsologtostderr -v=4 2>&1 | tee minikube.log`

We can see futher down that minikube tries to connect using the `root` user, bypassing the `--ssh-user` option:
[code]

The machine does not allow SSH using the `root` accoun

[2021-09-30 14:09] s0mb3x opened #12633 "What URLs are used to download minikube base images?"
In our company we have strict firewall rules, basically we cannot download anything that is not whitelisted.
Unfortunately I haven't found any information about the URLs minikube is using to download its dependencies.
So I wanted to ask if you could please provide some information about those addresses, so we can maybe whitelist them in our firewall.
We do not use a proxy, so proxy configuration a

[2021-09-30 14:24] vrubiolo commented on #12632
Following discussions on #10618 and #10578, I have checked my profile has the right parameters (attached):
[code]

[config.txt](https://github.com/kubernetes/minikube/files/7260214/config.txt)
(renamed for filetype compliance w/ Github)

[2021-09-30 14:32] vrubiolo opened #12634 "SSH driver: --ssh-key option not taken into account"
**Steps to reproduce the issue:**
`minikube -p vm-cloud-k8s start --driver=ssh --native-ssh=false --ssh-user=vrubiolo --ssh-ip-address=vm-cloud --ssh-key=~/.ssh/id_rsa-vm_cloud --alsologtostderr -v=4 2>&1 | tee minikube-root-user.log`

Provisioning goes on until it eventually fails. The output is riddled w/ messages like `Error configuring auth during provisioning Temporary Error: NewSession: new

[2021-09-30 15:15] tidunguyen opened #12635 "`minikube delete -p $PROFILE_NAME` not excluding networks of other profiles"
**Steps to reproduce the issue:**

1. `minikube -p p1 start` and wait for cluster p1 to be ready => minikube created network `6775a57b0a2c   p1        bridge    local`
2. `minikube -p p1 stop` => cluster stop, network p1 still exists (as expected)
3. `minikube -p p2 start` and wait for cluster p2 to be ready => minikube created network `4b736d0fd76e   p2        bridge    local`
4. `minikube -p p2

[2021-09-30 16:54] AlexIoannides opened #12636 "Cannot enable ingress add-on with K8s v1.18.20 and Minikube v1.23.2"
With Minikube v1.23.2 running on macOS v11.6 installed via homebrew (commit: 0a0ad764652082477c00d51d2475284b5d39ceed), I get the following error when I try to enable the ingress add-on with an old version of Kubernetes:

1. minikube start --kubernetes-version=v1.18.20
2. minikube addons enable ingress

[code]

I don't think that `networking.k8s.io/v1` is part of the v1.18.2 k8s API, which may be

[2021-09-30 21:27] spowelljr commented on #12501
Hi @ChenLin12138, the issue you're experiencing is a different know issue (https://github.com/kubernetes/minikube/issues/10544).

The current work around for it is to run `minikube delete --all --purge`.

[2021-09-30 21:50] #12238 closed

[2021-09-30 21:51] #12585 closed

[2021-09-30 21:52] spowelljr commented on #12585
@dilyanpalauzov The fix has been merged, it will be included in the next release.

[2021-09-30 22:48] dabljues commented on #12569
Basically, what fixed the issue for me was reinstalling the OS with ext4 as the filesystem instead of btrfs, which I previously had. @slabko it doesn't matter which driver you specify for docker, your filesystem  matters here, from what I understand. If you don't want to reinstall, this fix supposedly fixes the issue: https://github.com/kubernetes/minikube/issues/7923#issuecomment-737058797

[2021-10-01 00:17] minikube-bot opened #12637 "Frequent test failures of `TestStartStop/group/default-k8s-different-port/serial/DeployApp`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=QEMU_macOS&test=TestStartStop/group/default-k8s-different-port/serial/DeployApp)|100.00|
|[Docker_Windows](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Windows&test=TestStartSto

[2021-10-01 00:17] minikube-bot opened #12638 "Frequent test failures of `TestStartStop/group/no-preload/serial/DeployApp`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/no-preload/serial/DeployApp)|100.00|

[2021-10-01 00:17] minikube-bot opened #12639 "Frequent test failures of `TestStartStop/group/no-preload/serial/FirstStart`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/no-preload/serial/FirstStart)|100.00|

[2021-10-01 00:17] minikube-bot opened #12640 "Frequent test failures of `TestStartStop/group/old-k8s-version/serial/FirstStart`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestStartStop/group/old-k8s-version/serial/FirstStart)|100.00|

[2021-10-01 02:36] ChenLin12138 commented on #12501
@spowelljr Thanks you so much, I have try your solutions but it still not work. Any other advise?
delete action:
[code]
start action:
[code]
enable ingress
[code]

[2021-10-01 07:54] duttaANI commented on #12145
/assign

[2021-10-01 10:03] ludwo commented on #10245
I had the same issue like @dsaydon90 reported. (ubuntu 20.04  minikube v1.23.2 driver docker)
The root cause of my issue seems to be exposing port number 8085 instead of 8080.
I resolved my issue by changing exposed port to 8080 and it is working now.

[2021-10-01 10:12] simao commented on #11513
I am using 1.23.1 and this still happens.

[2021-10-01 10:59] DimitrijeManic commented on #11938
@medyagh The problem turned out to be a service we were using ([Cisco Umbrella](https://umbrella.cisco.com/)) which would take over port 53 and cause issues with ingress & ingress-dns.
Related to issue https://github.com/kubernetes/minikube/issues/3036

[2021-10-01 10:59] #11938 closed

[2021-10-01 11:48] sattsb commented on #12501
@spowelljr  and @ChenLin12138 . what helped me was downgrading kubernetes so 1.19.X

[2021-10-01 13:54] tidunguyen commented on #12635
The function below is used to clean up things when the command `minikube delete` is called:
https://github.com/kubernetes/minikube/blob/24686849443f376f15d95213c463bf2b33631251/pkg/minikube/delete/delete.go#L32-L81

I found out that containers and volumes are created with 2 labels:
[code]

However, networks are just created with 1 label:
[code]

As a result, when calling `minikube delete` containe

[2021-10-01 16:58] #12128 closed

[2021-10-01 17:03] spowelljr commented on #12501
@ChenLin12138 I'm curious if docker is caching an image that's outdated and that's causing the issue, I'm not too sure if it will work but at least we can then rule it out.

After running `minikube delete --all --purge` try running `docker system prune -a --volumes` and then try starting and enabling ingress again if you don't mind, thanks!

[2021-10-01 17:39] yayaha commented on #11947
I'd like to contribute, but I need someone with enough knowledge to point me to the right direction. Thanks!

[2021-10-01 18:39] abner05 opened #12642 "Contributingk8s"

[2021-10-02 00:49] #9947 closed

[2021-10-02 00:49] #12264 closed

[2021-10-02 02:14] sharifelgamal commented on #12636
Yep, that's definitely the issue. We switched to networking.k8s.io/v1 to support k8s 1.22 and beyond, and that has inadvertently broken ingress for older versions of k8s.

We do want to support older k8s versions for ingress (I think we might even have some code that attempts it), but for now the best workaround is to either downgrade your version of minikube or upgrade your version of k8s.

[2021-10-02 02:39] sharifelgamal commented on #12632
cc @afbjorklund

[2021-10-02 02:44] sharifelgamal commented on #12635
This looks to be a bug in `minkube delete` that should be pretty easily fixed by adding the appropriate label to the docker network. I'd be happy to accept a PR to fix this, otherwise we'll get to it as soon as we have bandwidth.

[2021-10-02 03:08] sharifelgamal commented on #12642
I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank you for sha

[2021-10-02 03:19] niktek opened #12643 "registry-aliases add-on needs a configure option"
<details>

The registry-aliases add-on doesn't seem to be useful as it currently stands as it only allows you to reference the registry in the minikube cluster through hardcoded host entries of example.org/.com test.org/.com and registry.minikube

It seems like it would benefit greatly from having a:
minikube addons configure registry-aliases

That accepts a hostname from the user and inserts that

[2021-10-02 09:06] AlexIoannides commented on #12636
Thanks Sharif - appreciated.

The problem we have is that the [Kubernetes Python client](https://github.com/kubernetes-client/python) is currently at v1.18. I'll look into downgrading Minikube.

[2021-10-02 11:01] slabko commented on #12569
@dabljues Thank you very much for you help, the following command actually solved my problem

[code]

In the meantime I also tried kind, seems to work nicely as well with btrfs and encryption.

[2021-10-03 05:02] rajdas98 commented on #12635
/assign

[2021-10-03 05:02] rajdas98 commented on #12635
Will raise a PR soon.

[2021-10-03 06:05] rajdas98 commented on #12635
Hi @sharifelgamal @tidunguyen, Here is the PR https://github.com/kubernetes/minikube/pull/12644

[2021-10-03 10:17] yazidIT commented on #11982
I have similar error. Using podman on RockyLinux OS.

`Error creating new ssh host from d
river: Error getting ssh port for driver: get ssh host-port: get port 22 for "minikube": sudo -n podman container inspect -f "'{{(index (ind
ex .NetworkSettings.Ports "22/tcp") 0).HostPort}}'" minikube: exit status 125`

[2021-10-03 17:24] SurajNarayan94 opened #12645 "new issue"
! StartHost failed, but will try again: creating host: create: precreate: no External vswitch nor Default Switch found. A valid vswitch must be available for this command to run. Check https://docs.docker.com/machine/drivers/hyper-v/
* Creating hyperv VM (CPUs=2, Memory=2200MB, Disk=20000MB) ...- E1003 22:52:21.627900    4528 main.go:126] libmachine: [stderr =====>] : Hyper-V\Get-VMSwitch : Hyper-

[2021-10-03 17:48] saritakumari-cse opened #12646 "minikube start error"
**Steps to reproduce the issue:**

1. I followed this doc : https://minikube.sigs.k8s.io/docs/start/ and got this error

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**
[minikube_error_logs_detailed.txt](https://github.com/kubernetes/minikube/files/7274261/minikube_error_logs_detailed.txt)
[minikube_error_logs.txt](https://github.com/kubernetes/minikube/files

[2021-10-03 19:58] afbjorklund commented on #12632
The SSHUser parameter looks good, wonder why it is getting replaced with "root" (in the ssh command) ?

[2021-10-03 20:11] afbjorklund commented on #12632
I think I saw this before, there is a fork of the ssh code that uses the **host** user instead of the **driver** user.

It is the same one that hardcodes NewNativeConfig

[2021-10-04 00:17] minikube-bot opened #12647 "Frequent test failures of `TestDownloadOnly/v1.22.1/preload-exists`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_macOS&test=TestDownloadOnly/v1.22.1/preload-exists)|100.00|

[2021-10-04 03:17] ChenLin12138 commented on #12501
@spowelljr
Thanks for your help, I have try it but still not work.
My os is Windows 10 Enterprise 20H2
Docker version Docker version 20.10.7, build f0df350
minikube v1.23.2 on Microsoft Windows 10 Enterprise 10.0.19042 Build 19042
[code]
[code]
[code]
[code]
@sattsb Let me downgrade minikube to 1.19.X and try it, thank you.

[2021-10-04 06:04] Rits333 commented on #12646
Hey @saritakumari-cse , can you elaborate you issue ? what actual problem is happening.

[2021-10-04 06:07] Rits333 commented on #12645
Hey, @SurajNarayan94  can you elaborate on the issue so I can help you out.

[2021-10-04 07:35] antoniosthanasisgit commented on #7332
For Windows don't use the default docker driver when you start minikube.
Open the PowerShell as an administrator and run the following commands:

1) minikube delete
2) minikube start --driver=hyperv
3) minikube addons enable ingress

Go inside your kubernetes folder and apply the .yaml files.

4) kubectl apply -f  .

wait a few minutes for ingress to get the address.

You can watch if the pods are

[2021-10-04 10:14] rogierhofboer opened #12649 "minikube stop hangs when local file system is mounted"
**Steps to reproduce the issue:**

1.  minikube start --apiserver-names minikube.mshome.net --mount
2.  minikube stop
3.  hangs and files needs to be removed manually with LockHunter at next machine restart

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

Cannot pull logs, Guest nog found

**Full output of failed command if not `minikube start`:**
<details>

[2021-10-04 10:19] rogierhofboer commented on #12649
It Works without problems when the --mount option is not used.

[2021-10-04 17:15] pivotaljohn commented on #12566
Same issue, here.

Virtualbox: 6.1.26
minikube:  v1.23.2

I can confirm that the port forwarding appears to be correctly configured:

`$HOME/.minikube/machines/minikube/minikube/Logs/VBox.log`
[code]

I can add that when I drop into the VM (via Virtualbox, itself) and then attempt to ssh, it fails:

[code]

I burned a timebox attempting to troubleshoot the `sshd` on that box. I couldn't even find

[2021-10-04 19:17] yayaha commented on #12167
Just trying to gain some context: What's the use case for shared host paths? My understanding is that host paths in k8s clusters are local to each host. Does minikube need to different behavior because you use host paths to emulate real volumes in k8s?

The part about being able to access from the host sounds like #11296?

[2021-10-04 22:48] spowelljr commented on #12649
Hi @rogierhofboer, thanks for reporting your issue with minikube!

I was able to reproduce your issue, I'm going to look into this.

[2021-10-04 23:38] sousarmb commented on #8439
Tried all solutions above and nothing works. I'm running minikube v1.23.2 with the following scenario:
- Windows 10 Professional
- minikube with 1 node
-- with HyperV driver
-- Docker container runtime
-- Calico CNI

I'm trying to access SSH tunnel to use a DB server in another host. The tunnel is set up in the Windows host with Bitwise and listening on 0.0.0.0 address.

If i use Docker for Deskto

[2021-10-04 23:58] sousarmb opened #12654 "Cannot access Windows host services from pod"
minikube start --cpus=2 --memory=4g --network-plugin=cni --cni=calico --disk-size=5g --driver=hyperv --container-runtime=docker

Running minikube - v1.23.2, commit: 0a0ad764652082477c00d51d2475284b5d39ceed - on Windows 10 Professional, with the following scenario:

I'm trying to access SSH tunnel to use a DB server in another host. The tunnel is set up in the Windows host with Bitwise and listenin

[2021-10-05 00:17] #12647 closed

[2021-10-05 00:43] r4j4h commented on #5666
I find that with `--native-ssh=false` you can type `export TERM=linux` once inside ssh and then things work as expected

[2021-10-05 01:55] ReggieCarey opened #12655 "Minikube Destroys Itself On Minikube Start - wipes out ALL deployed content"
**Steps to reproduce the issue:**

1.  Shutdown minikube with: minikube stop
2. Let EC2 instance stop
3. Restarted EC2 instance
4. Attempted to minikube start - produced failure - this is the 2nd time this has happened since last Friday:
[code]
**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

The below logs are after the above error - after minikube reset the

[2021-10-05 10:45] Mars-2030 commented on #4206
I am still having teh same issue with BigSur .. it seems noting worked form me.. have any one fine a solution for that

[2021-10-05 11:44] rogierhofboer commented on #12649
FYI running `minikube mount --kill` before `minikube stop` does produce this error while stopping, but it doesn't hang:

[code]

[2021-10-05 14:11] speedyankur commented on #12115
Also facing the same issue

[2021-10-05 14:48] jmkozko commented on #8756
@tstromberg, why was this issue closed if it's still an ongoing issue? Is it being tracked somewhere else? I just ran into it myself and it seems like an unnecessary landmine for tool that's centered around automation.

[2021-10-05 16:43] kgibm opened #12658 "minikube with podman on macOS darwin/amd64 doesn't work"
**Steps to reproduce the issue:**

1. Install minikube with `brew`:
[code]
1. Following the [minikube podman instructions](https://minikube.sigs.k8s.io/docs/drivers/podman/), create and start the VM with `podman machine`:
[code]
1. Start minikube with the podman driver and CRI-O container runtime fails:
[code]
3. Try the second method:
[code]

**Run `minikube logs --file=logs.txt` and drag and dro

[2021-10-05 16:48] afbjorklund commented on #12658
See #12547 (and PR #12579 for "allowing" it to run)

[2021-10-05 16:59] kgibm commented on #12658
Ok, thanks. Tried building from source and received "error storing credentials in temporary auth file":

[code]

[2021-10-05 17:01] kgibm commented on #12658
Full log with `--alsologtostderr -v=7`:

<details>
$ ./out/minikube-darwin-amd64 start --alsologtostderr -v=7 --driver=podman --container-runtime=cri-o
I1005 10:00:55.064735   22635 out.go:298] Setting OutFile to fd 1 ...
I1005 10:00:55.065028   22635 out.go:350] isatty.IsTerminal(1) = true
I1005 10:00:55.065036   22635 out.go:311] Setting ErrFile to fd 2...
I1005 10:00:55.065042   22635 out.go:35

[2021-10-05 18:01] afbjorklund commented on #12658
Podman stumbles on some Docker config, so you need to move that aside...

[2021-10-05 18:39] #12145 closed

[2021-10-05 19:49] kgibm commented on #12658
Thanks. Now it looks like I'm hitting #11837 so I'll wait for that fix to roll out.

[2021-10-05 20:33] pivotaljohn commented on #12566
Troubleshooting further, it appears that `sshd` fails to start at all on the VM.

[code]

Which I attempt myself:

[code]

[2021-10-05 22:05] slmingol commented on #10310
Confirming this all worked fine for me. Downloaded the M1 .dmg from docker's website and `brew install minikube` and could access `minikube dashboard` w/o any issues.

- https://docs.docker.com/desktop/mac/apple-silicon/

[2021-10-05 22:06] slmingol commented on #9224
Confirming that Docker's official .dmg worked fine for me along w/ `brew install minikube`
- https://docs.docker.com/desktop/mac/apple-silicon/

[2021-10-05 22:24] spowelljr opened #12659 "Using `~` in `--ssh-key` causes `SSH key does not exist`"
[code]

The weird quirk is this only occurs if you use an `=` between the key pair, if you use a space your terminal will rewrite to the absolute path.
[code]

We should update the ssh-key value with the absolute path if we detect a `~`.

[2021-10-05 22:33] spowelljr commented on #12634
Hi @vrubiolo, thanks for reporting you issue with minikube!

I was debugging your issue and found what I believe is the root of the problem (https://github.com/kubernetes/minikube/issues/12659).

In your log file `SSHKeyPath` is empty, which I'm assuming is related the config storing the path to your key as a relative path:
[code]
Since it's empty it's defaulting to `id_rsa` which is why you're se

[2021-10-05 23:07] spowelljr commented on #12633
Hi @s0mb3x, I'll list the URLs below.

https://storage.googleapis.com
This is where we download our Kubernetes preloads and VM boot images.

https://github.com
This is where we download our machine drivers such as hyperkit & kvm.

https://gcr.io
https://k8s.gcr.io
https://docker.io
These are the repositories that we download container images from.

These URLS are where at least 99% of the download

[2021-10-05 23:13] spowelljr commented on #12616
Hi @RajAdittan, thanks for reporting you issue with minikube!

Have you already tried the recommendation stated in the output?
[code]

If not, try that first and then we'll go from there, thanks!

[2021-10-06 00:17] #12468 closed

[2021-10-06 02:53] marcvelasco commented on #12659
Can I take a look at this one?
/assign

[2021-10-06 04:17] minikube-bot opened #12660 "Frequent test failures of `TestErrorSpam/setup`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestErrorSpam/setup)|100.00|

[2021-10-06 04:17] minikube-bot opened #12661 "Frequent test failures of `TestNetworkPlugins/group/kubenet/NetCatPod`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestNetworkPlugins/group/kubenet/NetCatPod)|100.00|

[2021-10-06 04:17] minikube-bot opened #12662 "Frequent test failures of `TestStartStop/group/embed-certs/serial/EnableAddonWhileActive`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/embed-certs/serial/EnableAddonWhileActive)|100.00|

[2021-10-06 15:38] s0mb3x commented on #12633
Hey @spowelljr,

thank you very much!
With the provided list I was able to whitelist the URLs.
minikube is able to pull all dependencies and is now starting just fine!

[2021-10-06 15:38] #12633 closed

[2021-10-06 15:54] pivotaljohn commented on #12566
Further debugging.

Attempted with Virtualbox 6.1.16 (earliest mention of BigSur in _their_ release notes) resulting in the same symptoms.

[2021-10-06 16:06] spowelljr commented on #12659
@marcvelasco Yup, go ahead!

[2021-10-06 16:15] spowelljr opened #12664 "`out/docker-machine-driver-hyperkit` using Go 1.15"
`out/docker-machine-driver-hyperkit` is using a base image that contains Go 1.15 (`HYPERKIT_BUILD_IMAGE ?= neilotoole/xcgo:go1.15`), so new functions that were released with Go 1.16 such as `os.WriteFile` fail on that job. We need to update the job to use a Go 1.16 base image, however the repo we're using hasn't updated beyond Go 1.15: https://github.com/neilotoole/xcgo

[2021-10-06 18:15] #12457 closed

[2021-10-06 18:15] #12538 closed, assigned to nobody

[2021-10-06 18:15] spowelljr commented on #12488
Hi @AjithKumar1702, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-10-06 18:36] #11902 closed

[2021-10-06 18:38] sharifelgamal commented on #12383
Interesting, generally if docker is healthy and available, minikube will automatically choose the docker driver if no driver is explicitly passed into `minikube start`.

The hyperkit + VPN issue is a well-known one (see https://github.com/kubernetes/minikube/issues/6296) that we're looking at fixing soon.

[2021-10-06 18:40] sharifelgamal commented on #12343
Based on the minikube output, there's some sort of issue with the kvm networking in your environment. Have you tried runnings `minikube delete` then `minikube start`?

[2021-10-06 18:42] spowelljr commented on #12366
Hi @jainilparikh, thanks for reporting your issue with minikube!

As a starting recommendation I'd suggest updating to the latest version of minikube (v1.23.2).

Can you please run `minikube logs --file=logs.txt` and upload the generated log file to this issue, this will give me more info to debug with, thanks!

[2021-10-06 18:47] spowelljr commented on #12360
Hi @albert-salman, thanks for reporting your issue with minikube!

To help me debug the issue you're experiencing, could you please provide me with a list of instructions to follow to allow me to reproduce this issue?

Thanks!

[2021-10-06 18:51] spowelljr commented on #12274
Hi @rams3sh, thanks for reporting your issue with minikube!

First recommendation, I'd suggest updating to the latest version of minikube (v1.23.2).

Could you please try running `minikube delete --all` and then `minikube start --driver=docker --force-systemd=true` and let me know if that solves your issue, thanks!

[2021-10-06 18:54] spowelljr commented on #12272
Hi @VictorViana, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

-----

Olá @VictorViana, não tivemos notícias suas. Você ai

[2021-10-06 18:54] #12272 closed

[2021-10-06 19:05] sharifelgamal commented on #12315
So when we create the minikube guest using the docker driver, we explicitly create the corresponding docker network starting with a hardcoded subnet of 192.168.49.0 and incrementing until we find a free one. There isn't currently a way to pick that subnet, but I wouldn't be opposed to supporting that.

[2021-10-06 20:59] spowelljr commented on #12277
Hi @laxmikantbpandhare, thanks for reporting your issue with minikube!

First recommendation, I'd suggest updating to the latest minikube version (v1.23.2).

After that, could you try running minikube with `minikube start --force-systemd=true` and let me know if that works, thanks!

[2021-10-06 21:07] #12634 closed, assigned to nobody

[2021-10-06 21:27] spowelljr commented on #12646
Hi @saritakumari-cse, thanks for reporting you issue with minikube!

In your logs I see the error:
[code]

I believe your cert has expired, this should be fixed in the next release of minikube with https://github.com/kubernetes/minikube/pull/12534.

Until then, running `minikube delete --all --purge` should clear out your certs  and be a work around until the next release.

Let me know if that wor

[2021-10-07 00:12] vanimarcos opened #12669 "I cannot enable Ingress addons"
Reproduce this behavior execute -> minikube addons enable ingress

[logs.txt](https://github.com/kubernetes/minikube/files/7297755/logs.txt)

[2021-10-07 01:40] yhjhoo opened #12670 "Ingress DNS configuration linux configuration without resolv.conf.d/base"
Related to this document

https://minikube.sigs.k8s.io/docs/handbook/addons/ingress-dns/

I don't have file in my linux distribution, what should I do?

[2021-10-07 05:52] Chessray commented on #12415
Basic issue resolved.

[2021-10-07 05:52] #12415 closed

[2021-10-07 09:21] amitsalunkhe21 opened #12673 "Unable to install Minikube with vmware Drivers"
Commenad run # minikube start --driver vmware
Post running this command even after sufficent respurces  VM not getting created is the error seen on the og stats.

**Run `minikube logs attached.

Following are the few lines for the logs getting generated while runnig minikube start command- Please help.

logs as followings

* Log file created at: 2021/10/07 13:49:21
Running on machine: MUM-L-000623

[2021-10-07 11:59] albert-salman commented on #12360
Hi @spowelljr
1. Create 2-node cluster
2. Deploy some manifest or helm chart (e.g. bitnami's elasticstack) which use initContainers to setup permission for containers' PVCs
3. Path which had to have correct permissions (set by initContainers section) is denied for any running app in container

i have a suspicion that PVC is not correctly mapped at node which starts the initContainers's temporary c

[2021-10-07 12:37] R-G-11 opened #12674 "Cant see audit logs of HTTPS requests to kubelet"
Hi,
I'm tried to understand what I am missing but I cant find a solution

I am using "--extra-config=kubelet.anonymous-auth=true --extra-config=kubelet.authorization-mode=AlwaysAllow" for test env
**Steps to reproduce the issue:**

1.audit logs for HTTPS requests to kubelet
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

[minikube-logs.txt](https://gi

[2021-10-07 14:19] Gibstick opened #12675 "--mount-string does not work on hyperkit with non-default profile"
**Steps to reproduce the issue:**

1. `mkdir -p /tmp/minikube-mount-test`
2. `minikube -p mount-test start --driver hyperkit --mount --mount-string /tmp/minikube-mount-test:/test`
3. `minikube -p mount-test ssh ls /test`

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

Logs for the profile: [logs.txt](https://github.com/kubernetes/minikube/files/7304143/logs

[2021-10-07 15:44] spowelljr commented on #12538
Fixed, sorry about that

[2021-10-07 19:51] darkpixel opened #12677 ""ghost node" (Failed to create node, unable to delete, does not exist)"
[code]

[code]

[2021-10-07 20:35] #12659 closed

[2021-10-08 05:07] avinashupadhya99 commented on #12034
/assign

[2021-10-08 05:18] hardik-dadhich commented on #10343
Hi @priyawadhwa , @BioGeek
I am also facing same error:

I am running it on mac with hyperkit
[code]
 Exiting due to GUEST_START: wait 6m0s for node: wait for healthy API server: controlPlane never updated to v1.21.2
[code]

[2021-10-08 05:22] Apocryphon06 opened #12678 "IP output should only be one line, got 2 lines"
**Steps to reproduce the issue:**

1. minikube start
2. minikube delete

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

I1008 10:21:09.143629   17853 start.go:129] duration metric: createHost completed in 2m47.351496943s
I1008 10:21:09.143662   17853 start.go:80] releasing machines lock f

[2021-10-08 09:30] simon-geard opened #12679 "Error creating cluster on Fedora 34 / Podman."
**Steps to reproduce the issue:**

On a reasonably stock Fedora Workstation 34 installation, installed Minikube from RPM according to the instructions here:
* https://minikube.sigs.k8s.io/docs/start/

...and started simply with "minikube start", again from the instructions above.

After much time spent downloading images, it's reported a failure to start the `minikube` container, and I suspect has

[2021-10-08 09:54] afbjorklund commented on #12679
No logs here, unfortunately

[2021-10-08 11:31] Nirvandil commented on #11645
Same here with VirtualBox backend

[2021-10-08 12:41] iamshreeram opened #12680 "Issue with starting the minikube after installing v1.23.2"
**Steps to reproduce the issue:**

1. Delete the earlier version of minikube `rm /usr/local/bin/minikube`
2. Install the latest minikube `brew install minikube`
3. Create a symlink `brew link --overwrite minikube`
4. Start the minikube by running `minikube start --driver docker`

Attaching the [logs](https://github.com/kubernetes/minikube/files/7311304/logs.txt) for more details.

[2021-10-08 15:34] spowelljr commented on #10343
Hi @hardik-dadhich, can you try running `minikube delete --all --purge` and then starting minikube again after, I believe that should solve the issue you're facing.

[2021-10-08 15:37] spowelljr commented on #12680
Hi @iamshreeram, thanks for reporting your issue with minikube!

Your error is `the certificate has expired`, this error should be resolved automatically with the next release of minikube, but for now the workaround is to run `minikube delete --all --purge` and then start minikube again and you should have renewed certs.

[2021-10-08 17:28] fredgate commented on #4546
ping @tstromberg

[2021-10-08 20:58] spowelljr commented on #12680
Are you behind a VPN or firewall? The issue looks like you're unable to download anything.
[code]

[2021-10-09 02:06] Apocryphon06 opened #12681 "minikube start: IPs output should only be one line, got 2 lines"
**Steps to reproduce the issue:**

1.minikube start
2. getting error at creation of base container

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**
[logs.txt](https://github.com/kubernetes/minikube/files/7314833/logs.txt)

**Full output of failed command if not `minikube start`:**
<details>
😄  minikube v1.23.2 on Ubuntu 18.04
✨  Using the docker driver based

[2021-10-09 07:45] afbjorklund commented on #12679
Thanks for the logs, seems network inspect fails.

`network_create.go:258] error running [sudo -n podman network inspect minikube]: sudo -n podman network inspect minikube: exit status 125`

It is supposed to create the private network if it doesn't exist already, instead of exiting with an error like that.

[2021-10-09 07:52] afbjorklund commented on #12681
I think this is related to previous docker swarm networks, it was supposed to be fixed in later versions of minikube.

`docker network ls` probably has multiple bridges.

[2021-10-09 07:53] #12678 closed, assigned to nobody

[2021-10-09 08:01] iamshreeram commented on #12680
Oh I see that. But, I'm not behind the firewall. Also, I'm seeing this issue only when I enable Big Sur virtualization framework. minikube starts good when I use hyperkit.

[2021-10-09 08:17] minikube-bot opened #12682 "Frequent test failures of `TestPause/serial/VerifyDeletedResources`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestPause/serial/VerifyDeletedResources)|20.00|

[2021-10-09 17:48] gregbair opened #12683 "Minikube with podman on Ubuntu does not start"
**Steps to reproduce the issue:**

1. Ubuntu 21.04, trying to use podman as engine
2. `minikube start`

[logs.txt](https://github.com/kubernetes/minikube/files/7316087/logs.txt)

<details>
get `Error: error inspecting object: no such container minikube`

</details>

[2021-10-09 17:55] GuilleAmutio opened #12684 "Minikube only working with docker runtime"
I'm running minikube on Ubuntu 20.04 LTS using podman as driver. I have tried with containerd, cri-o and docker runtime, and it only fully works with docker.

**Minikube v1.23.2**
**Podman v3.3.1**
**Kubectl v1.22.2**

**cri-o v1.22**
1. Minikube will correctly pull the desired image
2. coredns, kube-proxy and storage-provisioner pods will fail

**Steps to reproduce the issue:**

1. minikube start

[2021-10-09 20:49] bzvestey commented on #11644
@medyagh I have starting looking into this issue more and have hit a bit of a road block. From my digging into the code the entrypoint file linked below is the one responsible for setting up the resolve.conf file, but I don't know where to see the information that this file echo's out. Please correct me if I am wrong, but it seems that I have to [build the minikube iso](https://minikube.sigs.k8s.i

[2021-10-10 03:11] simon-geard commented on #12679
That may be the case, but the network _has_ been created successfully. If I simply inspect it without the format part, here's the full output:

[code]
So it looks to me that the "podman network inspect" commands have failed with status 125, indicating that the named network doesn't exist - at which point it creates it a few lines later:

[code]

[2021-10-10 03:15] simon-geard commented on #12679
This is the part of the logs that concerns me:

[code]

I see it successfully creating the network, and I see it successfully creating the volume. And then I see it start a container called "minikube-preload-sidecar", before querying for a running container called "minikube".

 Assuming this logging is showing _all_ podman commands, I don't see anywhere in the logs where a "minikube" container is

[2021-10-10 10:31] fkn-iteratec opened #12686 "Proxies and VPNs"
Hi,

based on the [proxy documentation](https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/) I tried to set the environmemnt variables HTTP_PROXY and HTTPS_PROXY but in my case the given examples are not working. I have to set both variables to the **same** protocol and it must be http not https. So I think the documentation may be improved to:

[code]
In this case I was working on a windows

[2021-10-10 10:35] afbjorklund commented on #12684
I don't think podman supports downgrading, unless you build it yourself from source.

[2021-10-10 10:46] srfrnk opened #12687 "InitializeSandbox() called with multiple threads in process gpu-process."
**Steps to reproduce the issue:**

1. Config file:
[code]
2. `minikube start`
3. `minikube dashboard`
4. Output is:
[code]

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**
[logs.txt](https://github.com/kubernetes/minikube/files/7317278/logs.txt)

<details>
After upgrading to latest version thie error started to show everytime I open the dashboard,
It still wo

[2021-10-10 11:27] snag9032 opened #12688 "minikube is not started getting error"
* minikube v1.23.2 on Ubuntu 18.04
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Restarting existing virtualbox VM for "minikube" ...
! StartHost failed, but will try again: driver start: Unable to start the VM: /usr/bin/VBoxManage startvm minikube --type headless failed:
VBoxManage: error: VT-x is not available (VERR_VMX_NO_VM

[2021-10-10 12:13] abhishek-prog7 opened #12689 "minikube not able to start in fedora 34"
**Steps to reproduce the issue:**

1. Installed fedora 34 on vmware workstation 14 (8 gb ram, 40 gb hard disk, virtualization enabled, 2 core)
2.  Installed required package for running minikube
3. Then I ran this command "minikube start --memory 4096 --vm-driver=kvm2"
4. Then I face below error
ailed to start kvm2 VM. Running "minikube delete" may fix it: creating host: create: Error creating mac

[2021-10-10 14:02] afbjorklund commented on #12689
Not sure if running KVM2 on top of VMware actually works, doesn't look like it.

[2021-10-10 15:21] GuilleAmutio commented on #12684
Do you think those errors are related about minikube version, podman driver or container runtime?

[2021-10-10 18:13] GuilleAmutio commented on #12684
Yes, the Docker CRI works like a charm surprisingly.

With CRI-O there are several starting pods that throw errors.

WIth containerd is the 'minikube addons enable ingress' that gives errors, but I'm thinking that this is probably caused due to podman rootless behaviour, I will start minikube again with a wide range of ports to check this out.

[2021-10-11 00:31] fabiolnm opened #12690 "docker from cask: Failed to start docker container: creating host: create: waiting: Maximum number of retries (60) exceeded"
**Steps to reproduce the issue:**
[code]

**Output**
[code]

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**
[code]

**Docker Dashboard Containers/Apps tab**

<img width="642" alt="Screen Shot 2021-10-10 at 21 27 41" src="https://user-images.githubusercontent.com/508671/136718289-917f9237-636c-4973-b043-5739e8bae5ca.png">

<img width="658" alt="Screen Shot 20

[2021-10-11 06:26] Deyoll opened #12691 "error"
**重现问题所需的命令**：
minikube start --vm-driver=none
**失败的命令的完整输出**：<details>
Unable to start VM. Please investigate and run 'minikube delete' if possible:start: no defaultes found in "/proc/net/route" or "/proc/net/ipv6_route"

</details>

**`minikube logs`命令的输出**： <details>
Flag --authorization-mod has been deprecated. Tjis parameter should be set via the config file speified by the Kubelet's --config

[2021-10-11 13:38] sadahiroyoshi opened #12693 "Older version minikube could not start"
Maybe related to https://github.com/kubernetes/minikube/issues/9470 ,
minikube could not start due to `checksum invalid` issue.

Please check it.

**Steps to reproduce the issue:**

1.install minikube
2.start with older verison
command: `minikube start -p aged --kubernetes-version=1.18.20 --download-only --cpus=4 --memory=4g`
ref: https://minikube.sigs.k8s.io/docs/start/

**Run `minikube logs --fi

[2021-10-11 15:20] titanlien commented on #9339
/remove-lifecycle stale

[2021-10-11 21:36] riklopfer opened #12696 "Unable to start minikube on MacOS when running Zscaler"
**Steps to reproduce the issue:**

1. `minikube start --driver=virtualbox`

Things that I have tried and not worked:
* copying company cert bundle pem file to `$HOME/.minikube/certs/`
* `minikube start --driver=hyperkit`

I am able to download the ISO using  `curl -LO https://storage.googleapis.com/minikube/iso/minikube-v1.23.1.iso`

<details>

[code]

</details>

[2021-10-11 22:17] minikube-bot opened #12697 "Frequent test failures of `TestFunctional/parallel/AddonsCmd`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/parallel/AddonsCmd)|20.00|

[2021-10-12 04:23] cduran opened #12698 "Have a ghost VM running with portainer! How can I delete it?"
**Steps to reproduce the issue:**

1. Install minikube: `brew install minikube`
2. Install hyperkit: `brew install hyperkit`
3. Install docker-cli: `brew install docker`
4. Install docker-compose: `brew install docker-compose`
4. Then I put this on my .zshrc:
 `export DOCKER_TLS_VERIFY="1"
export DOCKER_HOST="tcp://192.168.64.2:2376"
export DOCKER_CERT_PATH="/Users/cduran/.minikube/certs"
export M

[2021-10-12 07:18] RA489 commented on #12698
/kind support

[2021-10-12 07:18] RA489 commented on #12691
/kind support

[2021-10-12 07:19] RA489 commented on #12687
/kind support

[2021-10-12 07:45] sadahiroyoshi commented on #12693
Ok, thank you a lot.

[2021-10-12 07:47] afbjorklund commented on #12693
Another QEMU option is using "colima", to manage the VM for you

https://github.com/abiosoft/colima

[2021-10-12 13:16] jpcv19 opened #12699 "minikube addons enable istio"
❗  Executing "docker container inspect minikube --format={{.State.Status}}" took an unusually long time: 2.5903249s
💡  Restarting the docker service may improve performance.
❗  Istio needs 8192MB of memory -- your configuration only allocates 4000MB
❗  Istio needs 4 CPUs -- your configuration only allocates 2 CPUs

❌  Exiting due to MK_ADDON_ENABLE: run callbacks: running callbacks: [sudo KUBECONF

[2021-10-12 14:31] GuilleAmutio commented on #12684
Closing this issue as it works with WSL, but in any case the `apply caps: operation not permitted` error should be kept in mind

[2021-10-12 14:31] #12684 closed

[2021-10-12 17:45] nawabshakib opened #12700 "minikube dashboard browser not opening"
i am running command "minikube dashboard" to open the dashoard in the default browser (chrome) but getting the error message - " Opening http://127.0.0.1:64331/api/v1/namespaces/kubernetes-dashboard/services/http:kubernetes-dashboard:/proxy/ in your default browser...
X Exiting due to HOST_BROWSER: failed to open browser: exec: "cmd": executable file not found in %PATH%"
what may be the problem an

[2021-10-12 17:55] Tman910 opened #12701 "Unable to locate files in cache for offline use."
I am trying to use minikube among a network of computers in an offline setting. When I go the the ```~/.minikube/cache``` directory, from an online computer already running minikube, the contents do not match up with the offline guide posted within the documentation. Not sure how to transfer to offline as the tutorial does not match [here](https://minikube.sigs.k8s.io/docs/handbook/offline/). I am

[2021-10-12 22:09] pminearo opened #12704 "minikube start"
"Get Started!" ( https://minikube.sigs.k8s.io/docs/start/ )

I followed the directions on the "Get Started!" page selecting:
- Operating System - macOS
- Architecture - arm64
- Release Type - Stable
- Installer Type - Binary Download

These commands worked fine:

[code]

However, when I get to section 4 "Deploy applications", I run into problems:

`$ kubectl create deployment hello-minikube --imag

[2021-10-12 23:16] sharifelgamal commented on #12158
so it looks like starting the minikube docker container failed in a pretty spectacular way:
[code]

Is this error reproducible? Have you tried `minikube delete` and `minikube start`?

[2021-10-13 08:16] gilbahat commented on #4206
not working for me as well.
as multipass are considering switching to the qemu driver, maybe minikube can support it too?
https://github.com/canonical/multipass/issues/2245

[2021-10-13 08:43] AkihiroSuda opened #12705 "[`--driver=docker --container-runtime=cri-o`] kube-proxy fails with `apply caps: operation not permitted`"
The `kube-proxy` pod cannot start, due to an error `kubelet  Error: container create failed: time="2021-10-11T08:28:03Z" level=error msg="container_linux.go:380: starting container process caused: apply caps: operation not permitted"`.

This error was already reported in https://github.com/kubernetes/minikube/issues/12684 , but the issue was closed without the actual fix.

**Steps to reproduce the

[2021-10-13 15:16] nicolasduminil opened #12706 "Can't ping external IP address from minikube"
**Steps to reproduce the issue:**

1.     minikube start --insecure-registry 172.19.0.2
2.     minikube ssh
3.     $ ip -4 a
        1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
        inet 127.0.0.1/8 scope host lo
           valid_lft forever preferred_lft forever
        2: docker0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP

[2021-10-13 18:19] spowelljr commented on #12558
Hi @liguangsheng, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-10-13 18:19] spowelljr commented on #12555
Hi @AAATechGuy, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-10-13 18:20] spowelljr commented on #12181
Hi @Ajith1005604, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-10-13 18:24] spowelljr commented on #12416
Hi @zulgey, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-10-13 18:24] #12416 closed

[2021-10-13 18:34] spowelljr commented on #11044
Hi @samwho, if you update to the newest version of minikube (v1.23.2) does that resolve your issue?

[2021-10-13 18:34] spowelljr commented on #11032
This has been resolved

[2021-10-13 18:34] #11032 closed

[2021-10-13 18:48] spowelljr commented on #12512
Hi @dlminvestments, are you behind a VPN or firewall? Is this a corporate machine or a personal machine?

[2021-10-13 18:55] markmandel commented on #12362
Without this feature, I don't think it's possible to use [Agones](https://agones.dev/site/docs/installation/creating-cluster/minikube/#local-connection-workarounds) with Windows + WSL and Minikube (I haven't tested other platforms recently), since as far as I can see, there's no other way to expose UDP traffic that is exposed on the node.

(Although if people have suggestions, I'm definitely all e

[2021-10-14 05:46] AAATechGuy commented on #12555
_We still have issue, we ended up creating a linux VM with kubernetes on it to unblock temporarily. Issue still exists. I'll get back with more details later._

[2021-10-14 06:12] afbjorklund commented on #8003
Possibly ? But then we need more parameters controlling how Podman is invoked...
It could do `lima podman` when on Mac (and Linux), that don't have a WSL VM.

[2021-10-14 10:59] csantanapr opened #12708 "document "minikube options""
I was looking for the documentation in the CLI of `--profile` under `minikube start --help` then I did `minikube --help` thinking it was a global flag and no luck

But I was told about this command `minikube options` that list `--profile`
I was not aware of command `options`.

Where is this documented in the CLI?

I did  `minikube | grep options` and `minikube --help | grep options` but not found.

[2021-10-14 12:24] mikeoertli commented on #11348
This worked for me too, thanks!

A couple hiccups on the way though... `realpath` isn't available by default (or wasn't on a fresh Intel MBP) but is with `brew install coreutils`.

For searchability for anyone else seeing this... the error was:
[code]

where the `sed -I or -i may not be used with stdin` line of the error is a result of `realpath` not being found and thus the `sed` command effectiv

[2021-10-14 14:56] simenflatby commented on #12680
https://github.com/kubernetes/minikube/issues/12383

[2021-10-14 19:24] spowelljr commented on #12675
Found the root of the issue, we're not passing the profile into the mount command.

https://github.com/kubernetes/minikube/blob/master/pkg/minikube/node/config.go#L68

[2021-10-14 20:17] prezha opened #12710 "update ingress controller to v1.0.4"
update from the current ingress controller v1.0.0-beta to the [latest stable v1.0.4](https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v1.0.4)

[2021-10-14 21:53] #12708 closed, assigned to nobody

[2021-10-14 23:25] caio-vinicius commented on #9257
@Kristof-Mattei can you please link the issue that you opened up in Docker repository?

[2021-10-15 04:59] Kristof-Mattei commented on #9257
@caio-vinicius I can't seem to find it either, I think I might have forgotten since I had a workaround.

But I did find this ticket which shows exactly the same behavior: https://github.com/docker/for-win/issues/2639. Sadly not resolved either.

[2021-10-15 09:02] kerthcet opened #12713 "bump pause image to v3.6"
xref: https://github.com/kubernetes/kubernetes/issues/104890
I found the pause image in minikube is remained in v3.1, I wonder whether it's necessary to upgrade pause image to pause:3.6, some improvements in windows server supports.
Further, should minikube keep in sync with the kubernetes latest pause image as the document says?

[2021-10-15 10:33] archer-developer opened #12714 "Minikube for Mac ignores `--https` flag in `minikube service` command"
MInikube service command ignores --https flag and exposes urls only via http.

**Configuration details:**
* minikube v1.23.2 on Darwin 11.6
* Client Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.18-dispatcher", GitCommit:"de944d802c49735ad0f4bfe82ddfa19737ebe962", GitTreeState:"clean", BuildDate:"2021-05-13T17:54:06Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"darwin/amd64"}

[2021-10-15 19:57] #12675 closed, assigned to spowelljr

[2021-10-15 20:00] afbjorklund commented on #12099
There are PRs pending upstream, to fix the current typos and bugs with the systemd code and systemd units.

[2021-10-15 20:47] spowelljr opened #12718 "VM drivers: `--mount` & `--mount-string` doesn't persist between stops"
Docker retains mount settings after a stop, but VM drivers do not.

[code]

[2021-10-16 03:34] kerthcet commented on #12713
yeah, it's what the https://github.com/kubernetes/kubernetes/issues/104890 working for. I'll close the issue then.

[2021-10-16 11:49] kerthcet commented on #12713
/close

[2021-10-16 11:49] #12713 closed, assigned to nobody

[2021-10-16 11:57] afbjorklund commented on #12713
It's not merged yet, but anyway...

[2021-10-16 19:39] #8701 closed

[2021-10-16 19:39] #10549 closed

[2021-10-16 21:39] #10170 closed

[2021-10-17 00:09] salvoravida opened #12721 "SSH driver: --ssh-port ignored (it always use port 22)!"
SSH driver: --ssh-port ignored (it always uses port 22)!

[2021-10-17 08:22] afbjorklund commented on #12721
Can you try if it works better with `--native-ssh=false` ?

[2021-10-17 09:59] salvoravida commented on #12721
I1017 11:58:49.738138   10448 main.go:130] libmachine: Getting to WaitForSSH function...
I1017 11:58:49.738597   10448 main.go:130] libmachine: Using SSH client type: external
I1017 11:58:49.738786   10448 main.go:130] libmachine: &{[-F /dev/null -o ConnectionAttempts=3 -o ConnectTimeout=10 -o ControlMaster=no -o ControlPath=none -o LogLevel=quiet -o PasswordAuthentication=no -o ServerAliveInterva

[2021-10-17 09:59] salvoravida commented on #12721
with the native false, it ignores the user also.

[2021-10-17 15:37] al-hujaylan opened #12722 "/Users/macbook/.minikube/logs/lastStart.txt"
**الأوامر المطلوبة لإعادة إظهار المشكلة**:

**النتيجة الكاملة للأمر الذي تعذّر تنفيذه**:<details>

</details>

**نتيجة الأمر `minikube logs`**: <details>

</details>

**إصدار نظام التشغيل المُستخدَم**:

[2021-10-17 15:37] al-hujaylan opened #12723 "/Users/macbook/.minikube/logs/lastStart.txt"
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-10-18 05:52] RA489 commented on #12723
@al-hujaylan I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Than

[2021-10-18 05:53] RA489 commented on #12723
/triage needs-information

[2021-10-18 05:54] RA489 commented on #12714
/kind support

[2021-10-18 05:54] RA489 commented on #12706
/kind support

[2021-10-18 05:54] RA489 commented on #12705
/kind support

[2021-10-18 05:55] RA489 commented on #12701
/kind support

[2021-10-18 05:55] RA489 commented on #12699
/kind support

[2021-10-18 05:56] RA489 commented on #12686
/kind documentation

[2021-10-18 05:56] RA489 commented on #12677
/kind support

[2021-10-18 12:14] anencore94 opened #12725 "Add "kubeflow" add-on"
Hi forks, I have a question if you guys have any plan to support kubeflow as an add-on.

Microk8s supports kubeflow as an add-on like this : https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/enable.kubeflow.sh

If you guys are interested, I'd like to take this issue.

Thanks in advance.

[2021-10-18 12:27] andrejcremoznik opened #12726 "IPv4 of resolved external DNS not used, need help debugging"
I have a pod running an alpine based container that can't resolve IPv4 `A` records for external domains. To be less vague;

[code]

But if I explicitly request IPv4 it works:

[code]

This was run on the pod on a minikube on linux host with virtualbox driver. In `/etc/resolv.conf` there's the `kube-dns` nameserver:

[code]

If I try changing to `nameserver 1.1.1.1` on that pod (or any other public

[2021-10-18 17:51] medyagh opened #12728 "delete older generation of preloaded_kubernetes images from minikube cache"
if user has been arround for a long time, they might accumulate many older version fo preload tarball, minikube should at least Clean up the Older Geneations and also Warn the user to delete the ones that has not been access in more than 6 months.

[code]

for example in the above case we should clean up all the pre-V13 ones
and also clean up any V13 that has not been "accessed" in 6 months

[2021-10-18 18:43] deadbeef-development commented on #11530
THANK YOU SIR
🙏

[2021-10-18 19:18] evilhamsterman opened #12729 "minikube mount fails on MacOS Big Sur"
**Steps to reproduce the issue:**

1. Install minikube with homebrew `brew install hyperkit && brew install minikube`
2. Start minikube `minikube start`
3. Try to mount a folder in minikube `minikube mount /folder:/folder`

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**

[logs.txt](https://github.co

[2021-10-18 22:57] medyagh commented on #12655
@ReggieCarey looking at your audit log I see something odd

[code]

you are running minikube commands once with 1.23.2 and then with 1.22.0

did you try to downgrade minikube ?

[2021-10-18 23:06] medyagh commented on #12729
Thank you @evilhamsterman for creating this issue, I agree with you this seems to be a bug that we should fix in the minikube code

I accept any PR that would fix this for everyone

[2021-10-18 23:07] medyagh commented on #12729
CC: @spowelljr who recently touched the mount code

[2021-10-19 12:19] monikapatil77 opened #12731 "Unable to connect to the server: net/http: TLS handshake timeout"
**Steps to reproduce the issue:**

1. minikube start
2.
<img width="1401" alt="Screenshot 2021-10-19 at 5 43 31 PM" src="https://user-images.githubusercontent.com/91019007/137907689-03eb84bf-1da3-45fb-a86b-4e4b95331195.png">

3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-10-19 12:46] mukundmr opened #12732 "minikube start"
When using brew to get minikube up and running on MacOS, you need some dependencies installed.  Just installing minikube and the driver installation doesn't work.  On a fresh installation, this is what worked for me.

This is as per [this Github page](https://devopstales.github.io/home/docker-desktop-alternatives/)

[2021-10-19 14:34] mans0954 opened #12733 "Support multiple --mount-string arguments"
When run with the docker driver, minikube takes a `--mount-string` argument. Provided the minikube container does not yet exist, it is created with the specified host folder or docker volume mounted at the specified location e.g.
[code]
Mounts the `host_volume` docker volume at `/mount_point` in the minikube container.

In fact the `--mount-string` flag can be specified multiple times, but only th

[2021-10-19 17:30] medyagh opened #12736 "addon list should list addons even if minikube cluster is not running"
for not running it shoudl list only names witihout status

[2021-10-19 19:29] alias-dev opened #12738 "Minikube with Podman driver fails to start on NixOS systems"
**Steps to reproduce the issue:**

1. Install minikube and podman on a [NixOS](https://nixos.org/) system.
2. Run `minikube start --driver=podman --container-runtime=cri-o`.

**Full output of failed command if not `minikube start`:**
<details>

* minikube v1.23.2 on Nixos 21.11 (Porcupine)
  - MINIKUBE_IN_STYLE=0
* Using the podman driver based on user configuration
* Starting control plane node m

[2021-10-19 20:06] spowelljr commented on #11633
Hi @ChinaStan, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-10-19 20:54] spowelljr commented on #11620
Hi @smtrock, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-10-19 20:54] #11620 closed

[2021-10-19 22:14] uttamanand-whs opened #12741 "Starting Two clusters with clilium and coredns pods erroring out, second one errors out"
I am trying to run 2 minikubes on my MacBook Pro (2.6GHz 6-core Intel core I7, 32 GB RAM)

minikube v1.23.2 on Darwin 11.6
Kubernetes v1.18.3 on Docker 20.10.8

The first minikube is starting well and all the pods of kube-system namespace is running fine.

But when I start the second minikube , the pods cilium and coredns of kube-system namespace errors out. The command to start the 2 minikube's i

[2021-10-19 22:17] minikube-bot opened #12742 "Frequent test failures of `TestMountStart/serial/RestartStopped`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestMountStart/serial/RestartStopped)|50.00|

[2021-10-19 22:17] minikube-bot opened #12743 "Frequent test failures of `TestMountStart/serial/Stop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Windows&test=TestMountStart/serial/Stop)|23.23|

[2021-10-19 22:17] minikube-bot opened #12744 "Frequent test failures of `TestMountStart/serial/VerifyMountPostStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_macOS&test=TestMountStart/serial/VerifyMountPostStop)|33.33|

[2021-10-20 06:17] minikube-bot opened #12745 "Frequent test failures of `TestDownloadOnly/v1.22.2/preload-exists`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_macOS&test=TestDownloadOnly/v1.22.2/preload-exists)|20.00|

[2021-10-20 06:17] minikube-bot opened #12746 "Frequent test failures of `TestDownloadOnly/v1.22.3-rc.0/preload-exists`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_crio_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio_arm64&test=TestDownloadOnly/v1.22.3-rc.0/preload-exists)|23.08|
|[Docker_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_macOS&test=TestDownlo

[2021-10-20 07:01] ramuyesupogu opened #12747 "The VM session was closed before any attempt to power it on."
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<Details: 00:05:42.484195 VBoxHeadless: stopping windows message loop
* Restarting existing virtualbox VM for "minikube" ...
* Failed to start virtualbox VM. Running "minikube delete" may fix it: driver start

[2021-10-20 11:01] adhamankar opened #12748 "Error setting up host only network on machine start (Virtualbox)"
**Steps to reproduce the issue:**

1. minikube start --driver=virtualbox

😄  minikube v1.23.2 on Darwin 11.6
✨  Using the virtualbox driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarting existing virtualbox VM for "minikube" ...
🤦  StartHost failed, but will try again: driver start: Error setting up host only network on machine start: /usr/local

[2021-10-20 12:52] ghost opened #12749 "minikube alpine 13"
It would be nice to present the information about how to install minikube on alpine images, since many VMs work with that system.
As a requirement to install it in an Alpine Linux image there is a requirement.
`apk add libc6-compat`
Just that. Otherwise minikube will return:
`-ash: minikube: not found`

[2021-10-20 13:54] michelsampil commented on #4783
Same as @hh186011, just run as admin:

-minikube delete
-minikube start --vm-driver hyperv

It solved the issue.

[2021-10-20 15:55] lauchokyip opened #12750 "Make minikube's help flags more readable"
**Steps to reproduce the issue:**

1. minikube start driver --help
<details>
  <summary>Output</summary>

[code]
</details>

`kubectl` and `minikube` are facing similiar issue where the help flag can be hard to read for a beginner. I have created a PR (https://github.com/kubernetes/kubernetes/pull/104736) for kubectl to beautify the help flags. Would be great to see similar things being done in mi

[2021-10-20 18:05] medyagh commented on #12512
@dlminvestments is there way we could replicate your VPN setup ?

@sharifelgamal is interested in making VPN experience with minikube better but we dont have a way to replicate the issue, is if you are willing, please hit him up on slack or here to share info, so maybe there is something minikube could do

meanwhile can u plz attach this file to this issue

minikube logs --file=logs.txt

[2021-10-20 18:09] medyagh commented on #12741
/triage needs-information

[2021-10-20 18:18] spowelljr commented on #12404
Hi @inanib, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-10-20 18:18] #12404 closed

[2021-10-20 18:47] spowelljr commented on #11470
Hi @fredcsfaria, I wasn't able to reproduce your error with minikube v1.20, can you produce this error with the latest version of minikube (v1.23.2)?

[2021-10-20 18:53] spowelljr commented on #12614
Hi @optimizasean, thanks for reporting your issue with minikube!

One thing I noticed is the title of the issue says `docker` but you're actually using the `hyperkit` driver, just making sure you're aware that you're not using Docker.

Here's an issue related to the `error: open /var/db/dhcpd_leases: no such file or directory` error: https://github.com/kubernetes/minikube/issues/6143

Someone stat

[2021-10-20 18:53] sharifelgamal commented on #10229
We don't currently have the bandwidth to implement a feature like this, but I would be happy to review a PR that does this.

[2021-10-20 19:04] sharifelgamal commented on #11391
I believe this has been fixed with https://github.com/kubernetes/minikube/pull/12587, could you try again and report back?

[2021-10-20 19:07] uttamanand-whs commented on #12741
yes I have allocated 20 GB memory to docker desktop. I even tried with less 3 CPU and 5 gb memory but still it errors out.

[2021-10-21 05:01] #12748 closed, assigned to nobody

[2021-10-21 13:39] fritz-net opened #12754 "minikube commands fail when windows deletes temp log files"
**Steps to reproduce the issue:**
1. minikube start
2. wait for windows to clean up temp dir (removing `\AppData\Local\Temp\2\`)
3. use any minikube command - will fail cause it cannot open logfile

**Full output of failed command:**
[code]

[code]

[2021-10-21 14:45] cyc1ingsir opened #12755 "kvm2 - link to OpenSUSE instructions is outdated"
At the kvm2 driver documentation the link to the openSuse instructions is outdated:

Inside:
https://github.com/kubernetes/minikube/blob/master/site/content/en/docs/drivers/includes/kvm2_usage.inc

`[OpenSUSE](` ~https://doc.opensuse.org/documentation/leap/virtualization/html/book.virt/cha-vt-installation.html~ `)`
Should be replaced with:
https://doc.opensuse.org/documentation/leap/virtualization

[2021-10-21 16:17] spowelljr commented on #12489
Thanks for the logs @oliversalzburg, I've found the bug and will push up a PR soon.

[2021-10-21 17:39] oliversalzburg commented on #12489
@spowelljr Is #12382 maybe the same as this one?

[2021-10-21 17:57] spowelljr commented on #12382
Hi @htjain, this PR should fix your issue https://github.com/kubernetes/minikube/pull/12756

[2021-10-22 00:15] Mohaloou opened #12760 "Failed to start host: creating host: create host timed out in 360.000000 seconds 💡 Suggestion: Try 'minikube delete', and disable any conflicting VPN or firewall software"
**Hello,
I installed a hypervisor where I installed ubuntu, and I followed all the steps to install minikube, but I can't launch it:**

Kubectl version :
clientVersion:
  buildDate: "2021-09-15T21:38:50Z"
  compiler: gc
  gitCommit: 8b5a19147530eaac9476b0ab82980b4088bbc1b2
  gitTreeState: clean
  gitVersion: v1.22.2
  goVersion: go1.16.8
  major: "1"
  minor: "22"
  platform: linux/amd64

The conn

[2021-10-22 01:30] optimizasean commented on #12614
Well, minimal Docker - tagged it that way hoping people would be able to find it to get closer to native performance instead of doing this through VirtualBox or some other solution.  Specifically I was trying to use minikube without having to install Docker Desktop (open source issues) and therefore am trying to configure it the same using hyperkit/docker without Desktop.

Ideally no docker whatso

[2021-10-22 03:19] antoniordz96 commented on #12511
Correct me if I'm wrong but PR  #12702 should address this issue. They are updating the ingress controller and adding the flag `--watch-ingress-without-class=true`.

[2021-10-22 16:29] HarHarLinks opened #12761 "Don't throw `Docker is nearly out of disk space` errors if more than X GB of disk space available"
I have just cleared out some space so minikube would even start at "100%" used disk - which in this case is several terabytes large and still had several 100GB free.
It is now warning me that "Docker is nearly out of disk space" at 98% which equals 843GB currently available space which is quite frankly ridiculous.

[2021-10-22 21:54] matihost opened #12762 "Unable to start minikube with none driver with Cilium on Ubuntu 21.10"
Pointing here, but maybe it is something related to Cilium..

After upgrading to Ubuntu 21.10 (from 21.04)

[code]
(where /tmp/resolv.conf contains nameserver 8.8.8.8 only)

After cilium start, the coredns pod is unable to reach forwarding dns:
[code]
and indeed no pod from managed by Cilium is unable to reach anything. Pod cilium and any hostNetwork pod is fine.

Routing table and iptables seems

[2021-10-23 00:59] chrisbirster opened #12763 "Enabled feature gate "EphemeralContainers" but feature is not supported?"
**Steps to reproduce the issue:**

1. minikube start --feature-gates=EphemeralContainers=true

[code]

2. kubectl create deployment hello-node --image=k8s.gcr.io/echoserver:1.4

[code]

3. kubectl get pods

[code]

4. kubectl debug -it hello-node-7567d9fdc9-ntnv4 --image=busybox --target=hello-node-7567d9fdc9-ntnv4

[code]

**Run `minikube logs --file=logs.txt` and drag and drop the log file into

[2021-10-24 04:15] kostkamichel opened #12764 "VBoxManage: error: Code E_ACCESSDENIED (0x80070005) - Access denied"
**Étapes pour reproduire le problème:**

1.minikube start
2.
3.

**Sortie complète de la commande `minikube logs`:**
<details>
Name:            vboxnet5
GUID:            786f6276-656e-4574-8000-0a0027000005
DHCP:            Disabled
IPAddress:       192.168.61.1
NetworkMask:     255.255.255.0
IPV6Address:
IPV6NetworkMaskPrefixLength: 0
HardwareAddress: 0a:00:27:00:00:05
MediumType:      Ethernet
W

[2021-10-24 04:30] tpmccallum opened #12765 "VBoxManage: error: Code E_ACCESSDENIED (0x80070005) - Access denied"
**Steps to reproduce the issue:**

[code]

Returned the following error

[code]

**Full output of failed command using --alsologtostderr flag**

[code]

[2021-10-24 09:34] mhoja opened #12766 "minikube"
**Steps to reproduce the issue:**

1.minukube start
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-10-25 06:42] raghav6615 opened #12767 "minikube start"
minikube kubectl -- get pods -A

description of the command -A is not given in official doc

[2021-10-25 15:57] mazzzim opened #12769 "Exiting due to GUEST_PROVISION: Failed to start host: creating host: create: creating: Error setting up host only network on machine start: /usr/bin/VBoxManage hostonlyif ipconfig vboxnet5 --ip 192.168.99.1 --netmask 255.255.255.0 failed: VBoxManage: error: Code E_ACCESSDENIED (0x80070005) - Access denied (extended info not available) VBoxManage: error: Context: "EnableStaticIPConfig(Bstr(pszIp).raw(), Bstr(pszNetmask).raw())" at line 242 of file VBoxManageHostonly.cpp"

[2021-10-25 15:57] #12769 closed, assigned to nobody

[2021-10-25 19:54] besmirzanaj opened #12775 "minikube fails to restart a previously successful session on virtualbox driver"
**Steps to reproduce the issue:**

[code]

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-10-25 21:07] owenthereal opened #12776 "Running multiple nodes with exposed API server ports failed with port is already allocated error"
**Steps to reproduce the issue:**

This happens on Linux with the Docker driver, not with the Hyperkit driver or the Mac Docker driver:

1. `minikube start --driver docker --kubernetes-version 1.20.7 --nodes 2 --profile test-minikube --apiserver-port 8443 --apiserver-ips 192.168.1.68 --ports 38443:8443`

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full

[2021-10-25 21:28] #12704 closed, assigned to nobody

[2021-10-26 04:43] niuzhiweimr opened #12780 "minikube install k8s error"
**重现问题所需的命令**：

 minikube start  -p nzw-k8s --cpus=8 --memory=10240 --disk-size='102400MB'  --kubernetes-version=v1.19.0

**失败的命令的完整输出**：<details>

💣  更新 cluster 失败: downloading binaries: downloading kubelet: Error downloading kubelet v1.19.0: failed to download: failed to download to temp file: failed to create validator: failed to create validator: failed to download checksum file: received stat

[2021-10-26 06:17] minikube-bot opened #12781 "Frequent test failures of `TestNetworkPlugins/group/kindnet/ControllerPod`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestNetworkPlugins/group/kindnet/ControllerPod)|100.00|

[2021-10-26 07:19] massenz opened #12782 "minikube start fails when using `virtualbox` driver on MacOS (and Ubuntu for VBox 6.1.28)"
**Steps to reproduce the issue:**

1. removed Docker Desktop (MacOS)
2. run `minikube start` on a clean install of Minikube
3. fails with an error message related to VBox host-only
4. re-install Docker Desktop
5. run `minikube start` works just fine

(note that I'm running Virtualbox 6.1, so the "well-know" bug is history)
This is the error log:

`$  minikube start`
😄  minikube v1.23.2 on Darwin 1

[2021-10-26 07:22] Sivasedhu opened #12783 "Error getting config: CreateFile C:\Users\921812\.minikube\profiles\minikube\config.json: The system cannot find the path specified."
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-10-26 13:51] babaksit opened #12785 "Limiting minikube network banwidth"
**Steps to reproduce the issue:**

1.  minikube start --network-plugin=cni
2. Change the cni_network_config config of https://docs.projectcalico.org/manifests/calico-vxlan.yaml to the following:

[code]

3. Apply the modified config file.

kubectl apply -f calico-vxlan.yaml

<details>

I am trying to limit the minikube bandwidth, however, applying the above-mentioned config does not take an effect

[2021-10-26 18:15] #12764 closed, assigned to nobody

[2021-10-26 20:27] spowelljr opened #12786 "Installing cri-o from deb packages causing errors"
When running a kic image build we get the following error:
`Failed to fetch https://provo-mirror.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/cri-o:/1.22/xUbuntu_20.04/amd64/cri-o_1.22.0~0_amd64.deb File has unexpected size (20107660 != 20107360). Mirror sync in progress?`

We should install a new way that doesn't use deb packages so we can continue to build our kic images.

Rela

[2021-10-26 20:41] akomakom opened #12788 "DNS in Minikube does not resolve pod hostname in a StatefulSet"
Containers in pods in minikube can resolve external names but not themselves or other containers.
The name is in `/etc/hosts` file, but not in DNS.

**Steps to reproduce the issue:**

* OS: Ubuntu 20.04
* VirtualBox: 6.1.26-dfsg-3~ubuntu1.20.04.2
* minikube: 1.23.2-0 (.deb)
* kubectl: 1.22.2

1. minikube config set driver virtualbox
2. minikube start
2. kubectl apply -f test.yaml # below
3. kubect

[2021-10-26 21:24] huguesBouvier opened #12789 "Cannot bind a socket in pod on mount folder in privileged container"
Hello,

I have a pod that listening on a socket. I am trying to mount the folder where that socket is located on my host so can do debugging from my host environment.

I have a very simple debugging setup:
1. Start with minikube start
2. Mounted the folder: minikube mount --uid root --gid root --mode="0777" /home/azureuser/socket:/home/azureuser/socket
3. The module deployment file::
[code]
I have

[2021-10-26 22:04] #12710 closed, assigned to prezha

[2021-10-27 01:32] prezha opened #12793 "improve ingress & ingress-dns: restore backwards compatibility for k8s < v1.19 + fix --watch-ingress-without-class flag"
minikube tries to support the last 6 minor k8s versions and the newer ingress controller (v1+) introduced breaking changes requiring k8s >=v1.19

also, I've made a mistake in my previous pr #12702 enabling `--watch-ingress-without-class` flag for ingress api vi1beta1 instead of v1

[2021-10-27 06:39] zhang14725804 opened #12795 "Exiting due to GUEST_START: Failed kubeconfig update: could not read config: Error decoding config from data: piVersion: v1"
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

[logs.txt](https://github.com/kubernetes/minikube/files/7423737/logs.txt)

</details>

[2021-10-27 08:48] TekTimmy opened #12796 "No NodePort access with rootless Minikube"
**Steps to reproduce the issue:**

1. Use Ubuntu 20.04 LTS
2. Install docker from offical repo as root: https://docs.docker.com/engine/install/debian/#set-up-the-repository
[code]
3. Setup rootless docker as normal user
[code]
4. Start Minikube:
[code]
5. Deploy application with NodePort
[code]
6. Determine minikube service url and open that in browser:
[code]
7. **Issue**: the NodePort is not acc

[2021-10-27 17:03] dan-dragan opened #12798 "executing "Minikube tunnel" breaks VPN connectivity to host Ubuntu 18.04.5 VM"
Fresh VM with Ubuntu 18.04.5, accessed over VPN.  "minikube start" in one terminal window. "minikube tunnel" in a second terminal window. Connection to the VM gets lost. The VM can no longer be accessed from VPN, via NoMachine or SSH, and no longer respond to pings. But it can be accessed from other VMs on the same network as itself. The tunnel appears to be working throughout, as the output to mi

[2021-10-27 20:13] spowelljr opened #12802 "Add `minikube mount` flags to `minikube start`"
You can tell minikube to mount on start using `minikube start --mount` but the many flags included with the `minikube mount` command are not available with `minikube start`, so users are required to use `minikube mount`.

All the `minikube mount` flags should be available on `minikube start` as well.

[2021-10-27 20:16] kdrz25 opened #12803 "minikube dashboard won't start"
**Steps to reproduce the issue:**
Completely new with Kubernetes. I just followed the steps in the Kubernetes website and dashboard won't start it just ends with "Verifying dashboard health ..." and no errors

1. minikube start
2. minikube dashboard

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**
[logs.txt](https://github.com/kubernetes/minikube/files/742905

[2021-10-27 23:03] rajath26 opened #12805 "Installing minikube with v1.22.1 fails"
**Steps to reproduce the issue:**

1. Delete existing minikube cluster
$ minikube delete
2. Start a new minikube cluster with v1.22.1
$ minikube start --kubernetes-version='1.22.1'
It fails with the following error:
[code]

[2021-10-28 13:00] yosshy opened #12809 "Website page for 'minikube cache' has wrong description"
https://minikube.sigs.k8s.io/docs/commands/cache/ describes `minikube cache` command. It says:

But the command has 3 sub-commands below:

- add
- delete
- reload

So, it should be:

[2021-10-28 13:29] devops775 opened #12810 "minikube start"
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-10-28 17:40] #12793 closed, assigned to nobody

[2021-10-28 22:17] minikube-bot opened #12816 "Frequent test failures of `TestIngressAddonLegacy/serial/ValidateIngressAddonActivation`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestIngressAddonLegacy/serial/ValidateIngressAddonActivation)|100.00|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestIngressAddonLegacy/serial/ValidateIngressAddonActivat

[2021-10-28 22:17] minikube-bot opened #12817 "Frequent test failures of `TestIngressAddonLegacy/serial/ValidateIngressAddons`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestIngressAddonLegacy/serial/ValidateIngressAddons)|100.00|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestIngressAddonLegacy/serial/ValidateIngressAddons)|100.00|
|[KVM

[2021-10-28 22:17] minikube-bot opened #12818 "Frequent test failures of `TestIngressAddonLegacy/StartLegacyK8sCluster`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestIngressAddonLegacy/StartLegacyK8sCluster)|100.00|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestIngressAddonLegacy/StartLegacyK8sCluster)|100.00|
|[KVM_Linux_contain

[2021-10-29 18:46] jpshackelford commented on #5815
I had this same experience in macOS Big Sur 11.5.2 with docker desktop 3.3.3. In the same terminal session I installed minikube using default curl command copied from https://minikube.sigs.k8s.io/docs/start/:

I then ran:

I then run:

Then the process appeared to hang at

Then ctrl-c, open a new terminal:

And browser window opens as expected with dashboard showing.

[2021-10-29 19:28] jorhett commented on #12581
Seems you can just recreate the machine. This worked for me https://stackoverflow.com/a/69626738/3078154

[2021-10-29 21:15] spowelljr commented on #12301
There's two different ways to mount when using the Docker driver, you can pass the `--mount` flag on start or you can run `minikube mount` after start, these both use different methods of mounting when using the Docker driver.

Can you all confirm which method of mounting you're using (`--mount` on start or `minikube mount`), along with the OS you're using (ex. Ubuntu 20.04), and if you're using a

[2021-10-29 21:50] spowelljr commented on #12795
Hi @zhang14725804, thanks for reporting your issue with minikube!

It looks like you're missing an `a` in `apiVersion: v1`, were you manually editing `~/.kube/config` perhaps?

All you have to do is add an `a` in front of `piVersion` in `~/.kube/config` and your issue should be resolved.

[2021-10-29 22:02] sbasu31 opened #12820 "unable to start minikube with virtualbox driver"
**Steps to reproduce the issue:**

 ~ minikube start --driver=virtualbox
😄  minikube v1.23.2 on Darwin 11.6
✨  Using the virtualbox driver based on user configuration
👍  Starting control plane node minikube in cluster minikube
🔥  Creating virtualbox VM (CPUs=2, Memory=4000MB, Disk=20000MB) ...
🔥  Deleting "minikube" in virtualbox ...
🤦  StartHost failed, but will try again: creating host: create:

[2021-10-29 22:09] #12271 closed

[2021-10-30 01:47] albertux opened #12823 "Minikube / Debian / Podman (versions in the ticket)"
[code]

`$ minikube start --driver=podman --alsologtostderr -v=7  2>&1 | tee minikube.log`
I1029 18:38:01.846493  222789 out.go:298] Setting OutFile to fd 1 ...
I1029 18:38:01.846636  222789 out.go:350] isatty.IsTerminal(1) = false
I1029 18:38:01.846643  222789 out.go:311] Setting ErrFile to fd 2...
I1029 18:38:01.846659  222789 out.go:350] isatty.IsTerminal(2) = false
I1029 18:38:01.846892  22278

[2021-10-30 08:17] minikube-bot opened #12824 "Frequent test failures of `TestStartStop/group/old-k8s-version/serial/VerifyKubernetesImages`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/old-k8s-version/serial/VerifyKubernetesImages)|100.00|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestStartStop/group/old-k8s-version/serial/VerifyKub

[2021-10-30 12:50] danilsmirnov opened #12825 "Exiting due to GUEST_PROVISION"
Hi guys! Here's my comands running on MacBook Pro (Retina, 13-inch, Late 2013)
[code]
same result after `minikube delete`
logs are attached
l
[logs.txt](https://github.com/kubernetes/minikube/files/7446551/logs.txt)

[2021-10-30 15:55] binaryoak commented on #11348
sadly it didn't work for me.  according to the logic script of minikube used by ohmyzsh,  it basically would check the cache file exists or not,  if not, create one with `minikube completion zsh >! $cachefilename`,  and I tried this command directly, and noticed that even I had made changes in `$(realpath /usr/local/share/zsh/site-functions/_minikube)`, the generated file won't contain the them.

[2021-10-30 21:10] vishjain commented on #10451
Yup! Thanks!

[2021-10-31 00:02] cscetbon opened #12826 "Minikube with driver "new Virtualization Framework" on Apple M1"
As more and more people are thinking of moving to Minikube to replace "Docker For Mac" some work to enable virtualization on it should be a priority to get them onboard. Hyperkit being deprecated going with the **new Virtualization Framework** which uses higher API and is supposed to be easier to use probably makes more sense

See https://github.com/Code-Hex/vz

[2021-10-31 00:17] minikube-bot opened #12827 "Frequent test failures of `TestMountStart/serial/StartWithMountFirst`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestMountStart/serial/StartWithMountFirst)|50.00|

[2021-10-31 00:17] minikube-bot opened #12828 "Frequent test failures of `TestMountStart/serial/StartWithMountSecond`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Windows&test=TestMountStart/serial/StartWithMountSecond)|23.23|

[2021-10-31 00:17] minikube-bot opened #12829 "Frequent test failures of `TestMountStart/serial/VerifyMountFirst`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=QEMU_macOS&test=TestMountStart/serial/VerifyMountFirst)|85.71|

[2021-10-31 00:17] minikube-bot opened #12830 "Frequent test failures of `TestMountStart/serial/VerifyMountPostDelete`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestMountStart/serial/VerifyMountPostDelete)|100.00|

[2021-10-31 00:17] minikube-bot opened #12831 "Frequent test failures of `TestMountStart/serial/VerifyMountSecond`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Windows&test=TestMountStart/serial/VerifyMountSecond)|23.23|

[2021-10-31 14:24] diegoep opened #12832 "Minikube start fails in MacOS Monterey"
Is anyone else having issues with minikube using virtualbox driver after updating to MacOS Monterey? I'm trying to get up this with a minikube start and getting this error:

❌  Exiting due to PR_VBOX_BLOCKED: Failed to start host: creating host: create: creating: Unable to start the VM: /usr/local/bin/VBoxManage startvm minikube --type headless failed:
VBoxManage: error: Host-only adapters are no

[2021-10-31 15:14] hjoly2003 opened #12833 "minikube service hello-minikube won't work for Mac M1"
Hi, invoking `minikube service hello-minikube` won't work for Mac M1.

The docker image `k8s.gcr.io/echoserver:1.4` is not compatible to the Mac M1 arm64 architecture. A suggestion for your tutorial would be the following:
[code]

Thanks

[2021-10-31 21:00] g00nix commented on #12699
I can confirm this bug. Istio does not work on minikube.

[2021-10-31 21:05] presztak commented on #10708
I've started working on this.
/assign

[2021-11-01 00:53] cscetbon commented on #12826
Did someone start any work on this somewhere that could be used as a base or needs to be completed ?

[2021-11-01 06:33] afbjorklund commented on #12826
Currently containerd (lima) uses QEMU and podman (machine) uses QEMU, but there is room for more hypervisor drivers.

The main issue is actually not the CPU virtualization, at least not anymore. The problem is the network, especially VPN...

[2021-11-01 06:36] afbjorklund commented on #12833
Same as #11107

[2021-11-01 08:01] agy-why commented on #12301
Hi @spowelljr, thank you for showing interest to this issue.

The issue occurs definitely with `minikube mount`, and I am pretty sure (80%)  that I also tried with `minikube start --mount` leading to the same error.

I am running `Ubuntu 20.04` on a `amd64` architecture with `intel i7 CPUs

`> Also, can you try reading/opening a mounted file and see if that works, when I mount and then ssh in and

[2021-11-01 12:46] arcuaki commented on #12616
I had the same issue when using Parallels Desktop 17 and the `Connect Mac to this network` option was not available as mentioned here https://kb.parallels.com/125286. The only solution was the downgrade to Parallels Desktop 16.

[2021-11-01 15:06] cscetbon commented on #12826
@afbjorklund but as Minikube already supports hyperkit I thought it should be easier to start from there and migrate it to the new framework which is supposed to be simple and support everything that is already supported.

[2021-11-01 16:11] afbjorklund commented on #12826
Yes, as far as I know both HyperKit and LinuxKit are still Open Source even if Docker's new libraries might not be.

[2021-11-01 16:51] afbjorklund commented on #12826
What "new framework" are you talking about here ?

[2021-11-01 16:56] spowelljr commented on #12832
Hi @diegoep, I'm assuming you're using VirtualBox 6.1.28? This is a recent issue with this newest version of VirtualBox, there's an issue here where there's a PR open to fix the issue. https://github.com/kubernetes/minikube/issues/12765

[2021-11-01 17:02] cscetbon commented on #12826
https://developer.apple.com/documentation/virtualization

The new one that deprecates hyperkit and there is a go binding for it at https://github.com/Code-Hex/vz

[2021-11-01 17:06] atuk721 opened #12836 "Cannot access a load balancer service from its Pod"
A pod that has a service of load balancer cannot access its service from the pod internal using cluster-ip/external-ip.
From other pods of minikube or external of minikube can access it using cluster-ip/external-ip.

Is this a limitation or a bug?

**Steps to reproduce the issue:**

1. Start minikube.
[code]

2. Start minikube tunnel
3. Apply a service and pod.

[code]

3. Check assigned ip addres

[2021-11-01 17:22] spowelljr commented on #12820
Hi @sbasu31, thanks for reporting your issue with minikube!

I believe this is a duplicate https://github.com/kubernetes/minikube/issues/12765.

[2021-11-01 17:24] spowelljr commented on #12825
Hi @danilsmirnov, thanks  for reporting your issue with minikube!

I believe this is a duplicate of https://github.com/kubernetes/minikube/issues/12765.

[2021-11-01 18:04] afbjorklund commented on #12826
Okay thanks, we will need someone to turn that into a "driver" for the libmachine framework:

https://github.com/docker/machine/blob/master/libmachine/drivers/drivers.go

[2021-11-01 19:01] tsjk commented on #2735
I stumbled here as well. Tried to access a Google Cloud SQL proxy (.exe) started on my Windows 10 host listening on 0.0.0.0 from a JupyterLab docker container (running on my minikube cluster of course - duh!), and I couldn't get it to work.
I've recently migrated from Docker Desktop, where I did get this to play nicely. After some work in vain I finally gave up and ran the docker variant of the pr

[2021-11-01 23:36] #12736 closed

[2021-11-01 23:58] presztak commented on #10012
@denverdino @priyawadhwa

`minikube addons enable` has `registries` option, so:

`minikube addons enable ingress --registries=IngressController=https://6udu7vtl.mirror.aliyuncs.com`

won't be solution for this problem?

[2021-11-02 02:16] denverdino commented on #10012
@presztak after #12578 been merged. I can close this issue.

So, we will use the mapping file to specify the mirror of addon images for  for chinese developer.

Thanks

[2021-11-02 02:16] #10012 closed

[2021-11-02 09:28] Sarathgiggso commented on #5144
we have created our own pv and pvc even though it is mounting on our root directory
kindly share your ideas regardin this issue .

[2021-11-02 10:18] ifplusor commented on #12658
I also encountered the same issue, and stderr output below:

[code]

`ss -nplt` in podman machine indicate port 33131 is listened by conmon.

[2021-11-02 10:30] juandesant opened #12840 "Minikube start fails in macos Big Sur with Internet Sharing on regardless of driver"
**Steps to reproduce the issue:**

1. Activate Internet Sharing in the Sharing System Preferences pane
2. Type `minikube start`.
3. Minikube start fails
4. Deactivate Internet Sharing in the Sharing System Preferences pane
5. Type `minikube start`.
6. Minikube start succeeds

After step 6., you can keep accessing your minikube even if you activate Internet Sharing again, although some spurious iss

[2021-11-02 11:35] juandesant commented on #12840
Only tested on macOS Big Sur, might happen in other versions of macOS…

[2021-11-02 13:58] nbusseneau commented on #12782
Hi, this is actually #12765 in disguise. The reason for the different error mesage (`The host-only adapter we just created is not visible` instead of simply `Access denied` is when the adapter was already existing before the upgrade to 6.1.28 and the new restrictions, hence the issue being not the creation but the usage of the adapter.

You can confirm this very easily while sticking with 6.1.28:

[2021-11-02 14:01] nbusseneau commented on #12765
Note: this issue might manifest with other error messages. Some examples from #12782:

[code]

[code]
The reason for the different error mesages (`The host-only adapter we just created is not visible` and `minikube is unable to connect to the VM: dial tcp 192.168.99.112:22: i/o timeout`) instead of simply `Access denied` is when the adapter was already existing before the upgrade to 6.1.28 and the

[2021-11-02 16:48] cmanzur opened #12842 "minikube 1.23: Your cgroup does not allow setting memory"
**Steps to reproduce the issue:**

1. `minikube start --memory=8192 --cpus 2 --kubernetes-version=v1.22.1`
[code]

- minikube 1.23.2
- docker 20.10.5
- ubuntu 20.04.2

[code]

As you can see, there's NO memory limit.

[code]
Of course, I run `sudo update-grub2` without errors and reboot the PC.

[2021-11-02 17:23] medyagh opened #12843 "add FAQ how to access service on physical host from inside a VM driver's container"

[2021-11-02 17:23] medyagh opened #12844 "add FAQ how to turn off kubernetes part of minikube (to use it just for docker)"
that would be "minikube pause"

[2021-11-02 17:27] medyagh opened #12845 "add new flag --no-kubernetes"
it would start a minikube VM without starting any kubernetes in it (for people interested in only-docker desktop)

[2021-11-02 18:30] medyagh opened #12846 "minikube delete should inform user in case of Docker service taking SUPER long time"
I took so long that I Ctrl-Ced it and I realized Docker Desktop itself is taking SUPER SUPER longtime to respond

[code]

the right thing to do is minikube should inform the user that Docker Desktop is taking a long time (if it takes more than 10 seconds and suggest them to either keep waiting or restart docker

[2021-11-02 18:36] yayaha commented on #12846
/assign

[2021-11-02 18:39] medyagh commented on #12846
the least it should do is, if we get "Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?" error we should out.Warn to the user, this might take a long time,...and tell them we are stuck at Docker part so they dont be bored waiting for nothing

[2021-11-02 20:38] #12765 closed

[2021-11-02 21:12] gdnnasonovandrey commented on #8202
Hello!
I am experiencing the same issue on Linux. Did anyone find a fix for this? Kernel's version 5.10.75-1

[2021-11-02 21:14] nasonovandrey commented on #8202
Hello! I'm also experiencing the same issue on Linux, kernel's version 5.10.75-1. Did anyone find a fix?

[2021-11-02 21:18] afbjorklund commented on #8202
Make sure that your kernel is configured with support for the 9p file system. (`CONFIG_9P_FS` and friends)

[2021-11-02 23:53] veperales opened #12850 "Minikube wont start 6.2 VirtualBox"
**Steps to reproduce the issue:**

1. ➜  ~ minikube start --driver=virtualbox
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

I was not able to get the log, dont know if I did it correctly.. still here's the output.

MacbookPro 2015 running Latest big sur OS. / 6.2 VirtualBox.
I do have VMware Fusion Installed but I set driver to virtualbox since the

[2021-11-03 00:07] medyagh commented on #12850
@veperales we are aware of a virtubalox issue with newest vbox

there is a PR that fixes it

https://github.com/kubernetes/minikube/pull/12811

here is the link to the binary from a PR that I think might fix this issue, do you mind trying it out ?

http://storage.googleapis.com/minikube-builds/12811/minikube-linux-amd64
http://storage.googleapis.com/minikube-builds/12811/minikube-darwin-amd64
http

[2021-11-03 00:10] medyagh commented on #12842
@cmanzur this is a limitation of your ubuntu's cgroups as minikube detected and informed you

[code]

did you already read the link that minikube suggested to read?

[2021-11-03 00:40] ctoomey commented on #6296
I'm using the Global Protect VPN by Palo Alto Networks and was having the issue that while I could connect to external servers accessible *outside* our VPN, I couldn't connect to those *inside* our VPN. @gongpengjun's solution fixed it for me.

[2021-11-03 02:17] minikube-bot opened #12852 "Frequent test failures of `TestDownloadOnly/v1.22.3/preload-exists`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_macOS&test=TestDownloadOnly/v1.22.3/preload-exists)|20.00|

[2021-11-03 03:20] employeeeee opened #12853 "service question"
**重现问题所需的命令**：
minikube service k8s-demo-svc --url
**失败的命令的完整输出**：<details>

</details>
Exiting due to SVC_TUNNEL_START: creating ssh conn: listen tcp *********: bind: can't assign requested address

**`minikube logs`命令的输出**： <details>

</details>

**使用的操作系统版本**：
macos

[2021-11-03 04:50] cscetbon commented on #12826
@afbjorklund You mean writing something like https://github.com/kubernetes/minikube/tree/master/pkg/drivers/hyperkit, right ? Also do you know why the hyperkit doesn't work on M1 atm ?

[2021-11-03 06:36] afbjorklund commented on #12826
Right (you will notice it imports the libmachine framework)

There is also an old driver for QEMU.

Same reason as VirtualBox, I suppose. No arm64 support.

See https://github.com/moby/hyperkit/issues/303#issuecomment-875122919

[2021-11-03 07:12] ifplusor commented on #12658
Port mapping bind 127.0.0.1, but vm of podman refuse connection from host to connect 127.0.0.1. After change `--publish=127.0.0.1::22` to `--publish=22`, ssh/handshake is ok, but another issue about kubeconfig present.

[code]

[2021-11-03 07:36] ifplusor opened #12854 "Check ErrInsufficientDockerStorage before preload completed"
Check `pErr == oci.ErrInsufficientDockerStorage` before `waitForPreload.Wait()`

https://github.com/kubernetes/minikube/blob/1e4da3c366ea4a93a03b6ea448f1047c2ca9e35e/pkg/drivers/kic/kic.go#L191

https://github.com/kubernetes/minikube/blob/1e4da3c366ea4a93a03b6ea448f1047c2ca9e35e/pkg/drivers/kic/kic.go#L203

[2021-11-03 10:14] cmanzur commented on #12842
@medyagh I already read that.

But If I run:
[code]

You can notice the nginx container has the limit, so it's a minikube stuff, not docker / cgroups related.

[2021-11-03 16:42] veperales commented on #12850
@medyagh Thank you for replying!.

Indeed it fixed my issue.#12811

I am now able to start my minikube and seems to be working properly.

[2021-11-03 17:18] muhammadmohie commented on #11490
Thanks alot @dinever ! this solved the problem.

[2021-11-03 18:11] spowelljr commented on #12681
Hi @Apocryphon06, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-11-03 18:11] #12681 closed

[2021-11-03 18:11] spowelljr commented on #12655
Hi @ReggieCarey, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-11-03 18:12] spowelljr commented on #12484
Hi @elisvaldoazevedo, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-11-03 18:12] #12484 closed

[2021-11-03 18:12] spowelljr commented on #11470
Hi @fredcsfaria, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-11-03 18:12] #11470 closed

[2021-11-03 18:13] spowelljr commented on #11246
Hi @onkeyi, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-11-03 18:13] #11246 closed

[2021-11-03 18:13] sharifelgamal commented on #12501
Yeah unfortunately all these logs tell us is that the ingress-nginx image used for the ingress addon didn't start up, but without extra logs, there's no real way for us to know why.

[2021-11-03 18:18] spowelljr commented on #10248
Hi @timhughes, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2021-11-03 18:18] #10248 closed

[2021-11-03 18:26] sharifelgamal commented on #10897
I wonder if it has anything to do with the metallb addon with the none driver. I haven't personally tried that combination.

[2021-11-03 18:27] sharifelgamal commented on #12161
Hey @UmarNeo – hopefully it’s OK if I close this - there wasn’t enough information to make it actionable, and some time has already passed. If you are able to provide additional details, you may reopen it at any point by adding /reopen to your comment.

[2021-11-03 18:27] #12161 closed

[2021-11-03 18:28] sharifelgamal commented on #12421
I'm going to go ahead and close this as a dupe of the known btrfs issue.

[2021-11-03 18:34] sharifelgamal commented on #7923
I'd be happy to review any PR that fixes this issue.

[2021-11-03 18:35] sharifelgamal commented on #12569
Yeah, btrfs is a known issue with minikube: https://github.com/kubernetes/minikube/issues/7923.

I'm glad there's a workaround!

[2021-11-03 18:41] sharifelgamal commented on #9803
This is probably still something we want to do. Clearer documentation can only help.

[2021-11-03 18:45] sharifelgamal commented on #10245
So to be totally clear here, if you're using ingress on the docker driver on either windows or macos (i.e, using docker desktop), you NEED to run `minikube tunnel` to make connectivity work.

[2021-11-03 18:49] sharifelgamal commented on #11037
I'm going to go ahead and close this issue, these are configuration issues with virtualbox rather than minikube issues.

[2021-11-03 18:49] #11037 closed

[2021-11-03 18:52] sharifelgamal commented on #11543
Let's add this back in soon.

[2021-11-03 18:54] sharifelgamal commented on #11705
yeah, this should be fixed. please reopen if you're still experiencing this issue.

[2021-11-03 18:54] #11705 closed

[2021-11-03 18:56] sharifelgamal commented on #11835
More logging seems like a good idea. Help wanted!

[2021-11-03 18:57] spowelljr commented on #12782
This is fixed by https://github.com/kubernetes/minikube/issues/12765 which will be included in the v1.24.0 release coming today or tomorrow, I'm going to close this issue.

[2021-11-03 18:57] #12782 closed

[2021-11-03 18:57] spowelljr commented on #12832
This is fixed by https://github.com/kubernetes/minikube/issues/12765 which will be included in the v1.24.0 release coming today or tomorrow, I'm going to close this issue.

[2021-11-03 18:58] spowelljr commented on #12820
This is fixed by https://github.com/kubernetes/minikube/issues/12765 which will be included in the v1.24.0 release coming today or tomorrow, I'm going to close this issue.

[2021-11-03 18:58] #12820 closed

[2021-11-03 18:58] spowelljr commented on #12825
This is fixed by https://github.com/kubernetes/minikube/issues/12765 which will be included in the v1.24.0 release coming today or tomorrow, I'm going to close this issue.

[2021-11-03 18:58] #12825 closed

[2021-11-03 19:01] sharifelgamal commented on #2015
We don't currently have the bandwidth to implement this feature, but I'm certainly not opposed to supporting Windows containers.

As for people who are looking for alternatives to docker desktop, you can use minikube with a vm driver (like hyperv or virtualbox) and point your local docker CLI to the docker inside of the minikube vm (`minikube docker-env`).

[2021-11-03 19:05] spowelljr commented on #12832
@nbusseneau Do you know if this issue will be solved by your PR?

[2021-11-03 19:08] sharifelgamal commented on #12805
The version of minikube you are using (1.13.1) is far older than the version of kubernetes you're trying to use (1.22.1), so the minikube binary doesn't even know about that version of k8s.

Please update to the latest version of minikube and try again.

[2021-11-03 19:10] ReggieCarey commented on #12655
Minikube failed today. I shut it down to bump memory on the host instance and minikube start reported  problems starting and then wiped out my cluster - even after setting flags to not delete the cluster.

It's pretty consistent.

[2021-11-03 19:14] sharifelgamal commented on #12789
This does indeed seem to be an issue with mounting. I hope to take a closer look at it soon.

[2021-11-03 19:15] sharifelgamal commented on #12785
The `network-plugin=cni` parameter is effectively deprecated, try using the `--cni` parameter instead:

`minikube start --cni=<path to yaml file>`

[2021-11-03 19:41] nbusseneau commented on #12832
I don't know, I haven't seen this error but I don't use Mac and am unsure what this VirtualBox version refers to. To be honest I'm not quite sure what the errors suggests either because it says host-only adapter is no longer supported but then recommends switching to host-only network, and to me these were the same. @diegoep maybe you can shed more light on your specific VirtualBox version/install

[2021-11-03 20:13] Jeverett3000 opened #12856 "Mini line start"
**Steps to reproduce the issue:**

1.
2.
3.

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube start`:**
<details>

</details>

[2021-11-03 20:13] #12856 closed

[2021-11-03 20:16] fernandrone commented on #12675
I just downloaded https://github.com/kubernetes/minikube/releases/tag/v1.24.0-beta.0 which is supposed to have the fix and I'm experiencing a similar issue. The "test" folder is created on the VM but the folder still doesn't seem to be mounted, because its contents are not there.

1. `mkdir -p /tmp/minikube-mount-test`
2. `touch /tmp/minikube-mount-test/hello.txt`
3. `minikube -p mount-test start

[2021-11-03 20:34] spowelljr commented on #12675
Hi @fernandrone, I just tried your exact instructions:
[code]

[2021-11-03 21:17] medyagh opened #12857 "--no-kubernetes message Need to check for the runtime being docker, so needs a parameter with the current setting"
Need to check for the runtime being docker, so needs a parameter with the current setting

_Originally posted by @afbjorklund in https://github.com/kubernetes/minikube/pull/12848#discussion_r741651521_

[2021-11-03 21:21] fernandrone commented on #12675
Alright, that's odd! I'm still on Darwin 11.6.1 though, think this could be related?

(kubectl is also outdated but I'm assuming it's not used at all during cluster setup/mount...)

[code]

[2021-11-03 21:31] klaases commented on #12857
/assign

[2021-11-03 22:17] spowelljr commented on #12675
I don't think using a slightly older version of Darwin is going to be an issue, I was just on 11.6 a couple of weeks ago. And the kubectl being outdated shouldn't make a difference either.

Leaving the cluster running, run `minikube -p mount-test mount /tmp/minikube-mount-test:/test2 --alsologtostderr` and see if there are any errors in the output.

[2021-11-03 22:42] fernandrone commented on #12675
Yeah, it fails!

[code]

[2021-11-03 22:47] hendrikhalkow opened #12858 "VMware driver does not support amd64 (Apple Silicon) architecture on macOS"
**Steps to reproduce the issue:**

[code]

Could you please implement darwin/amd64 support? Thanks :-)

[2021-11-04 06:56] afbjorklund commented on #12858
I think this is an issue for https://github.com/machine-drivers/docker-machine-driver-vmware

[2021-11-04 09:17] #12852 closed

[2021-11-04 11:47] shahin-2020 opened #12859 "minikube not starting on VirtualBox (macOS), no access to logs."
**Steps to reproduce the issue:**

macOS BigSur Version 11.6
VirtualBox Version 6.1.28 r147628 (Qt5.6.3)
Minikube stable 1.23.2 (bottled) - installed using Homebrew

input:
1. minikube start --mount=True --mount-string="/var/tmp:/var/tmp" --vm-driver=virtualbox

**Run `minikube logs --file=logs.txt` and drag and drop the log file into this issue**

**Full output of failed command if not `minikube

[2021-11-04 13:41] WojciechThomas opened #12860 "minikube docker-env incorrectly recognizes shell type in PowerShell 7.1.5"
**Steps to reproduce the issue:**

1. Open PowerShell 7.1.5
2. Run `minikube docker-env`
3. Minikube displays:

[code]
   as if it was run in CMD instead of Powershell.

If the `minikube docker-env` is started in Windows 10 built-in PowerShell it works correctly.

If I execute `& minikube -p minikube docker-env | Invoke-Expression` command in PowerShell 7.1.5 it returns error:
[code]

The same com

[2021-11-04 15:25] fernandrone commented on #12729
Just reporting that I have the same issue on MacOS Monterey with the beta release of minikube `v1.24.0-beta.0`. I though at first this was related to https://github.com/kubernetes/minikube/issues/12675, but since this happens even with the default profile, this is not the case.

<details>
  <summary>Logs of minikube start --alsologtostderr --driver hyperkit --mount --mount-string /tmp/minikube-mou

[2021-11-04 16:57] akomakom commented on #12788
I'm fairly convinced that this is not a minikube issue (it also happens via rancher).

[2021-11-04 16:57] #12788 closed

[2021-11-04 21:10] medyagh opened #12862 "minikube should suggest "disabling internet sharing" for hyperkit in case of problem"
we should detect if internet sharing is on for hyperkit driver and let the user know how to disable it
and improve the suggestion that we see in this error
http://geekinlinux.blogspot.com/2021/11/exiting-due-to-prhyperkitvmnetframework.html

[2021-11-04 21:12] medyagh commented on #12840
thank u for this issue, I think we should detect internet sharing and let the user know how to disable it

[2021-11-04 21:12] medyagh commented on #12862
duplicate of https://github.com/kubernetes/minikube/issues/12840

[2021-11-04 21:46] #12844 closed

[2021-11-04 21:46] #12845 closed

[2021-11-04 22:10] sharifelgamal commented on #5594
I'll reopen this and leave it open for discoverability.

[2021-11-04 22:56] medyagh commented on #12862
closed by https://github.com/kubernetes/minikube/pull/12863

[2021-11-04 22:56] #12862 closed

[2021-11-05 00:29] spowelljr commented on #12301
Did some digging, and if you run `minikube mount <mount-path> --alsologtostderr -v=1` you get a log more debugging from `go9p`.
[code]

And tracked down the output of the error to:
[code]

[2021-11-05 01:17] minikube-bot opened #12867 "Frequent test failures of `TestNoKubernetes/serial/StartNoArgs`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestNoKubernetes/serial/StartNoArgs)|100.00|

[2021-11-05 09:20] dogewzy commented on #8756
for user in china,you can specified http_proxy_port and https_proxy_port in minikube

[2021-11-05 11:36] fredcsfaria commented on #11470
Hi  Steven,
 The issue has been solved in 1.23.2 and can be closed.

    Em quarta-feira, 3 de novembro de 2021 15:12:41 BRT, Steven Powell ***@***.***> escreveu:

Hi @fredcsfaria, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I