[2022-01-26 19:31] #12760 closed

[2022-01-26 19:34] spowelljr commented on #12859
Hi @shahin-2020, this was fixed in minikube v1.24.0, so updating to that or beyond should resolve your issue.

[2022-01-26 19:36] ediazmen commented on #13284
Yes. It solved my problem, thank you!!!

[2022-01-26 19:37] spowelljr commented on #12763
Hi @chrisbirster, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-01-26 19:37] #12763 closed

[2022-01-26 19:37] ediazm commented on #13284
Yes, it solved my problem, thank you!!!

[2022-01-26 19:37] #13284 closed

[2022-01-26 19:37] spowelljr commented on #12655
Hi @ReggieCarey, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-01-26 19:37] #12655 closed

[2022-01-26 19:37] cmanzur commented on #12842
Hi @klaases, yes. On Ubuntu the filename is: `/sys/fs/cgroup/memory/memory.memsw.limit_in_bytes` instead of `/sys/fs/cgroup/memory/memsw.limit_in_bytes`
That's why the HasMemoryCgroup check fails.

[2022-01-26 19:38] klaases commented on #8765
Based on @xbnrxout and @tomkivlin comments, will close out this issue.

@Grubhart, please feel free to re-open the issue by commenting with `/reopen`.

Thank you for sharing your experience!

[2022-01-26 19:38] #8765 closed

[2022-01-26 19:41] #12616 closed

[2022-01-26 19:42] sharifelgamal commented on #10242
I'm going to go ahead and close this issue for now. Please reopen it if you retry this with a newer version of minikube and still have issues.

[2022-01-26 19:42] #10242 closed

[2022-01-26 19:45] klaases commented on #10265
Hi @thirdpartyusage, please try using another terminal to take advantage of the tunnel, especially if using the Docker driver. The terminal that is running the tunnel itself will hang, as it is used to maintain the tunnel connection.

[2022-01-26 19:45] sharifelgamal commented on #10986
We'll use #12456 as the cgroupsv2 issues. Closing this as duplicate.

[2022-01-26 19:45] #10986 closed

[2022-01-26 19:53] sharifelgamal commented on #11760
I'll go ahead and close this for now. If you try again and still have issues, feel free to reopen with more details.

[2022-01-26 19:53] #11760 closed

[2022-01-26 20:00] #13325 closed

[2022-01-26 20:02] spowelljr commented on #13484
It should be created in the directory that you run the command in.

[2022-01-26 21:19] markgarrigan commented on #12548
@spowelljr and @klaases

I haven't looked at this in a while. After this I started looking at more docker alternatives and I'm currently pleased with my Rancher Desktop + nerdctl + kim set up.

[2022-01-26 21:48] prezha commented on #13249
@matrixersp @JavierPalaciosNexplore thank you for your responses so far!

could you please try if the changes in pr #13439 would resolve issues for you and share results?

i got it working with opensuse tumbleweed + minikube v1.25.1 + docker v20.10.12 + k8s v1.19.0:

[code]
note1: error about coredns deployment above can be ignored (being replaced with the other having replica set of 1 instead of

[2022-01-26 22:11] prezha commented on #13127
hi @Lyudmila-Maltsev-8451
thank you for reporting this issue and also for your patience!
i don't have a mac with me to test, so can i kindly ask you to try if pr #13439 would resolve your issue and share results?
thank you in advance!

[2022-01-26 22:17] prezha commented on #13130
hi @bullwrinkle, @antoinetielbeke, @aacecandev
thank you all for reporting the issue(s) - would you please try pr #13439 and share your results?

hi @rosscado,
we try to support up to last 6 minor versions, so v1.14 would be out of scope and probably not going to work - please use more recent/supported (ie, currently - v1.18+) k8s version if possible

[2022-01-26 22:40] spowelljr commented on #12548
No problem @markgarrigan, if you come back to this feel free to reopen this issue, thanks!

[2022-01-26 22:40] #12548 closed

[2022-01-26 22:43] spowelljr commented on #11885
The current tentative timeline puts it the end of Q2 2022.

[2022-01-27 00:20] t-inu opened #13500 "Some messages are not replaced with the translated text"
This issue is regarding a text extraction process from the source code for multilingual support.

### What happened?
Some messages are output as the original text despite there are translated in `translations/*.json` files.
As an easy to reproduce example, the output message by `minikube cache add` command.

Output on Japanese language environment (not replaced with the translated text):
`! "minik

[2022-01-27 04:05] NikhilSharmaWe commented on #13487
@spowelljr I would like to work on it, could you please give me some code pointers or inform about where in the repo the changes are needed.

[2022-01-27 04:14] NikhilSharmaWe commented on #13486
@medyagh I would like to work on it, could you please provide some information on how to proceed in the task and where the changes needed in the repo.

[2022-01-27 04:17] #13466 closed

[2022-01-27 04:17] #13468 closed

[2022-01-27 04:17] #13469 closed

[2022-01-27 05:20] kadursandy commented on #12658
I get the same error

[2022-01-27 06:00] ShivrajRameshPatil commented on #13484
*
* ==> Audit <==
* |---------|-----------------|----------|--------------------|---------|-------------------------------|-------------------------------|
| Command |      Args       | Profile  |        User        | Version |          Start Time           |           End Time            |
|---------|-----------------|----------|--------------------|---------|-------------------------------|-----

[2022-01-27 06:01] ShivrajRameshPatil commented on #13484
I have pasted the log file above

[2022-01-27 08:03] naseercs91 opened #13502 "Exiting due to HOST_JUJU_LOCK_PERMISSION: Failed to start host: boot lock: unable to open /tmp/juju-mke11f63b5835bf422927bf558fccac7a21a838f: permission denied"
### What Happened?

When I start K8S with minikube over my local ubuntu 20.04 LTS with the command $ minikube start --force --driver=docker (I user --driver=docker unless I use minikube start will not work for me)
Exiting due to HOST_JUJU_LOCK_PERMISSION: Failed to start host: boot lock: unable to open /tmp/juju-mke11f63b5835bf422927bf558fccac7a21a838f: permission denied
can you guys please help m

[2022-01-27 08:37] neptoon opened #13503 "Pods not started after minikube restart (minikube v1.25.X, docker driver)"
### What Happened?

With minikube 1.25.0/1.25.1 and using the docker driver, deployments/pods are not existing anymore after `minikube stop` and `minikube start`:

[code]

The problem does not exist in version 1.24.0

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/7948905/log.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-01-27 09:43] JavierPalaciosNexplore commented on #13249
Should I build my own minikube locally, or there is any way to test the changes on that pull-reques?

And thanks for the shortened startup command @prezha

[2022-01-27 09:51] naseercs91 commented on #7053
When I start K8S with minikube over my local ubuntu 20.04 LTS with the command $ minikube start --force --driver=docker (I user --driver=docker unless I use minikube start will not work for me)
Exiting due to HOST_JUJU_LOCK_PERMISSION: Failed to start host: boot lock: unable to open /tmp/juju-mke11f63b5835bf422927bf558fccac7a21a838f: permission denied
can you guys please help me to fix the issue p

[2022-01-27 10:22] wer8956741 opened #13504 "启动minikube失败，容器选用docker"
**重现问题所需的命令**：
minikube start

**失败的命令的完整输出**：<details>
😄  Darwin 12.2 (arm64) 上的 minikube v1.25.1
🆕  Kubernetes 1.23.1 is now available. If you would like to upgrade, specify: --kubernetes-version=v1.23.1
✨  根据现有的配置文件使用 docker 驱动程序
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
🏃  Updating the running docker "minikube" container ...

❌  Exiting due to RUNTIM

[2022-01-27 15:58] cdayjr commented on #13503
Noticing this myself on a macOS host.

[2022-01-27 16:42] JustinT01 opened #13505 ""minikube tunnel" - throwing "Client.Timeout exceeded while awaiting headers""
Hi,

I am using minikube **version 1.2.0**  _(as I eventually want to run Keptn and Keptn as of now only supports v1.2.0)_ and when I try to run `minikube tunnel` after `minikube start `command it throws:

`loadbalancer emulator: Get https://192.168.56.170:8443/api/v1/services?timeout=1s: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)`

jus

[2022-01-27 16:46] rafariossaa commented on #12954
Hi,
Any comment on this issue ?

[2022-01-27 17:39] spowelljr commented on #13484
Hi @ShivrajRameshPatil, thank you for providing the logs.

After reviewing the logs, this is a duplicate of https://github.com/kubernetes/minikube/issues/12274.

Follow the instructions in this comment to resolve your issue: https://github.com/kubernetes/minikube/issues/12274#issuecomment-1006201978

I'm going to close this issue, if you have any follow up questions please ask them in https://gith

[2022-01-27 17:43] spowelljr commented on #13249
@JavierPalaciosNexplore You can checkout his PR and build it yourself locally or you can use the binary that was built during testing for his PR.

https://storage.googleapis.com/minikube-builds/13439/minikube-linux-amd64

[2022-01-27 20:27] spowelljr commented on #12286
Hi @reshmahulagur, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-01-27 20:27] #12286 closed

[2022-01-27 20:56] spowelljr commented on #13487
@NikhilSharmaWe This is where the `minikube addons enable <addon>` logic gets called initially. You can run the command `config.Load(ClusterFlagValue())` to get the existing cluster config and check if `--no-kubernetes` is set, and if it is just exit with the message.

[2022-01-27 21:26] jwandrews commented on #13503
Also experiencing this on macOS host with docker driver

[2022-01-27 21:39] spowelljr commented on #13431
Thanks for reporting this issue, I did some testing and it was introduced with my PR https://github.com/kubernetes/minikube/pull/13121. It seems to be specific to VM drivers, it wasn't caught by the tests as it doesn't break the start, it just outputs the error to the screen.

[2022-01-27 22:06] spowelljr commented on #12389
Once the revert takes place this can be revisited.

[2022-01-27 22:08] spowelljr commented on #13430
Hi @bekamdo, thanks for reporting your issue with minikube!

Try running `minikube delete` and then run `minikube logs --file=logs.txt` again and upload the log file to this issue, thanks!

[2022-01-27 22:15] spowelljr commented on #13268
Hi @iwanczuk, this was fixed with v1.25 (https://github.com/kubernetes/minikube/pull/12952), try updating and your issue will be resolved, thanks!

[2022-01-27 22:15] #13268 closed

[2022-01-28 02:43] ReggieCarey commented on #12655
This still occurs.

Sent from my iPhone

[2022-01-28 05:23] #10708 closed

[2022-01-28 05:57] kokizzu commented on #5951
@nomansadiq11 from host or from `minikube ssh`?

[2022-01-28 07:56] bound2 commented on #12876
If anybody is still struggling with this issue.

[code]

It is actually documented here https://minikube.sigs.k8s.io/docs/drivers/docker/ that the ingress and ingress-dns only work in Linux.

[2022-01-28 10:36] nagnampalli opened #13509 "Loading kicbase from cache to daemon outputs confusing loading progress"
### What Happened?

😄  minikube v1.25.1 on Darwin 11.6
✨  Automatically selected the docker driver. Other choices: virtualbox, ssh
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...

### Attach the log file

😄  minikube v1.25.1 on Darwin 11.6
✨  Automatically selected the docker driver. Other choices: virtualbox, ssh
👍  Starting control plane node minikube in clu

[2022-01-28 10:54] mr-bjerre commented on #12899
Any update on this? I can't get `ingress` to work in minikube on my M1 Mac. Same issue as described above

[2022-01-28 10:55] mr-bjerre commented on #12899
/reopen

[2022-01-28 11:07] mr-bjerre opened #13510 "Ingress not working on Mac M1 host machine"
### What Happened?

I have `ingress` addon enable in my minikube cluster. I add my host names to `/etc/hosts`, e.g. `myapp.local`. The following command just hangs instead of responding as expected

[code]

I think this might be related to [this issue](https://github.com/kubernetes/minikube/issues/12899#issuecomment-1024101899) where `minikube tunnel` hangs (as it does for me as well - usually I d

[2022-01-28 11:34] stevelaclasse commented on #4302
Please take a look a this comments : https://github.com/kubernetes/minikube/issues/1099#issuecomment-307154111

[2022-01-28 12:52] alidurgun commented on #9192
/reopen
I have exactly same issue and minikube delete and reinstall does not solve this problem. I have virtualbox 6.1.32 and latest minikube version. I am trying to execute minikube start --driver=virtualbox --no-vtx-check command but this fail message appears all the time.
X Exiting due to GUEST_NOT_FOUND: Failed to start host: Error loading existing host. Please try running [minikube delete], t

[2022-01-28 13:00] alidurgun commented on #13498
I had same problem and I resolved my problem with
1-) minikube delete
2-) minikube start --no-vtx-check   (Without specifying driver)
Magically it worked maybe it will help you too.

[2022-01-28 13:38] miriSch commented on #13503
Also namespaces are gone after `minikube stop` `minikube start` (noticed on Ubuntu)

[2022-01-28 13:41] gektor0856 commented on #13503
confirm problem on macos 12.1 minikube 1.25.1,  minikube reinstall not solve the problem

[2022-01-28 15:27] pasuder commented on #3036
As a workaround, following change on running `minikube` may be done:

[code]

Instead of `1.1.1.1` could be any DNS server setup.

[2022-01-28 15:48] jwandrews commented on #13503
another observation, all resources in the default namespace are gone. ConfigMaps, Secrets, etc

[2022-01-28 16:24] gektor0856 commented on #13503
@jwandrews it seems minikube recreates components of cluster on stop and start actions instead of restore previous state

[2022-01-28 16:26] z-yan commented on #13503
Namespaces are gone after `minikube stop` and `minikube start`.

`docker --version`:
[code]
`minikube version`:
[code]
OS: macOS 11.6.2

[2022-01-28 16:53] NikhilSharmaWe commented on #13487
/assign

[2022-01-28 16:53] NikhilSharmaWe commented on #13487
/assign

[2022-01-28 17:52] SteveCurran opened #13511 "Image load fails to overwrite existing image with same tag when container is using image"
### What Happened?

We build our images locally and use image load to push the image into minikube when developing and debugging. This avoids the slow process of copying the huge build context over to minikube and building there. We also use a local container in minikube as the registry. When i use image load it does not overwrite the existing image when I have a container currently using it runni

[2022-01-28 19:03] pcallahan-r7 commented on #11397
any resolution to this?   I see this with

[code]
on macos Monterey 12.2

/remove-lifecycle stale

[2022-01-28 19:41] tonejito commented on #10307
If it helps anyone, I couldn't configure the addon in a script with this:

[code]

I ended up applying a revised version of the ConfigMap:

[code]

I put a wait command to be sure that the components are deployed correctly with the new configuration:

[code]

[2022-01-28 22:09] jwandrews commented on #13503
@gektor0856 yeah i think in this case, that is the issue at hand. pre-1.25.x, minikube was able to stop/start no problem and would 'rememeber' the previous cluster state (deployments, configmaps, secrets, namespaces, etc)

[2022-01-28 22:44] ivaniotchenko commented on #12918
Hello @serhiinikitenko. Did you managed to resolve (overcome) this issue?

[2022-01-29 00:29] tonejito commented on #8283
I went on another route and created a new revision of the MetalLB ConfigMap after the addon was enabled:

- https://github.com/kubernetes/minikube/issues/10307#issuecomment-1024575716

Hope it's useful for anyone

[2022-01-29 04:47] boostasbjorn commented on #8283
Modifying `~/.minikube/profiles/minikube/config.json` stopped working for me in a recent minikube version. Using this now:

[code]

This simulates inputting the data interactively.

[2022-01-29 15:27] Guillaume-Mayer commented on #13503
Persistent volumes are gone too after `minikube stop` and `minikube start`

[2022-01-29 19:21] ShivrajRameshPatil commented on #13484
Greetings,
Sir, I am not able to resolve it.
Thank you.

On Thu, Jan 27, 2022 at 11:10 PM Steven Powell ***@***.***>
wrote:

[2022-01-30 00:33] presztak commented on #13025
/assign

[2022-01-30 06:16] chungjin commented on #13459
Hi @eyskim , do you still want to work on it? I can help to pick it up.

[2022-01-30 06:59] chungjin commented on #13459
/assign

[2022-01-30 16:12] afbjorklund commented on #13511
I think this an "optimization" in the scp layer, it doesn't overwrite an image (such as a .tar) when one already exists.

Seems like the problem here is that "build" moves the tag, where as "load" refuses to move the tag if it is running ?

[2022-01-30 17:33] exocode commented on #6528
what have you done?  Have the same error:
[code]

[2022-01-30 20:38] F1ko commented on #12761
going to remove the frozen lifecycle since there are new commits being pushed to the PR

unless there is another reason to freeze this issue? (@spowelljr )

/remove-lifecycle frozen

[2022-01-31 00:17] #13467 closed

[2022-01-31 04:53] parmeshsingaTR opened #13516 "minikube start"

[2022-01-31 09:16] daviduash opened #13519 "minikube v 1.25 dose not save resources after reboot"
### What Happened?

minikube version 1.25 dose not save k8s resources after reboot (or service restart)

### Attach the log file

Non

### Operating System

Ubuntu

### Driver

_No response_

[2022-01-31 10:52] mingsoap commented on #13519
i come across this issue as well after update to v1.25

[2022-01-31 11:26] wajda commented on #13519
It looks like it's the same issue as #13503

[2022-01-31 15:40] SteveCurran commented on #13511
@afbjorklund docker 20.10.12

[2022-01-31 15:55] JavierPalaciosNexplore commented on #13249
I've made a couple of tests for now with that executable, and no issue with ingress for now.

[2022-01-31 17:47] spowelljr commented on #13484
@ShivrajRameshPatil You ran `minikube delete --all --purge`? Could you upload the latest set of logs.

[2022-01-31 17:48] spowelljr commented on #12761
Frozen prevents it from going stale

[2022-01-31 17:50] spowelljr commented on #13249
Glad to hear!

[2022-01-31 18:53] alexec opened #13527 ""minikube logs" exposes secrets in env"
### What Happened?

Hi,

The "minikube logs" command exposes secrets if they exist in your terminal environment. That is common of course. The minikube repository requests the logs to be pasted into issues. As a result I pasted by secrets into a Github Issue. Luckily, Github spotted them and notified me. I then had to revoke and delete tokens in 3 different systems, then the recent usage tokens to

[2022-01-31 19:11] medyagh commented on #12846
@yayaha are u still working on this

[2022-01-31 19:15] medyagh commented on #12552
The recommendation to have a generic config template and if the installed  crio doesn not have config, we should geneate one

[2022-01-31 19:18] medyagh commented on #12274
we could adde arch to file name in cache

[2022-01-31 19:24] medyagh commented on #11543
@dinever are u interested in this PR ?

[2022-01-31 21:07] kanwarysingh commented on #4206
@edrandall I get a syntax error while enabling the firewall.

[code]
<img width="561" alt="Screen Shot 2022-01-31 at 1 05 33 PM" src="https://user-images.githubusercontent.com/15788034/151872991-d451160c-5b87-4177-91be-ba43d2641542.png">

My rule file contains:
[code]

[2022-01-31 22:04] spowelljr commented on #13503
This was introduced with my PR https://github.com/kubernetes/minikube/pull/13121 when trying to fix something else, but it ended up causing more headaches than it solved. I currently have a PR up that reverts this change https://github.com/kubernetes/minikube/pull/13506.

Here are some links to try out the binary to test the change out:
Intel Mac: https://storage.googleapis.com/minikube-builds/135

[2022-02-01 00:22] Guillaume-Mayer commented on #13503
@jwandrews I tried with your linux binary and it worked for me, good work

[2022-02-01 01:23] #13025 closed

[2022-02-01 02:15] yayaha commented on #12846
Hi @medyagh, sorry for the delay. No, I'm not working on this anymore.

[2022-02-01 02:15] yayaha commented on #12846
/unassign

[2022-02-01 02:17] minikube-bot opened #13532 "Frequent test failures of `TestCertExpiration`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestCertExpiration)|100.00|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestCertExpiration)|100.00|

[2022-02-01 02:54] gabrifolli opened #13533 "minikube tunnel fail on windows 11"
### What Happened?

when i try to open a tunnel with `minikube tunnel` it totally fail with a router error:

_router: error adding route: impossible mount route: object already exists_

os version: 10.0.22000 build 22000
minikube version: v1.25.1
commit: 3e64b11ed75e56e4898ea85f96b2e4af0301f43d

[code]

### Attach the log file

*
* ==> Audit <==
* |---------|-------------------|----------|--------

[2022-02-01 04:31] ShivrajRameshPatil commented on #13484
Yes, sir, I ran this and now it's working fine.
Thank you

[2022-02-01 05:51] t-inu commented on #13500
@sharifelgamal Would you check this issue and the suggestion?

[2022-02-01 06:40] freemenakk commented on #8638
disable selinux

[2022-02-01 06:47] RA489 commented on #13533
/os windows

[2022-02-01 06:49] RA489 commented on #13533
/co docker-driver

[2022-02-01 06:51] RA489 commented on #13533
/area tunnel

[2022-02-01 07:11] neptoon commented on #13503
@spowelljr Your fixed binary works for me as well. Thanks a lot.

[2022-02-01 07:36] RA489 commented on #13519
/kind support
/triage duplicate

[2022-02-01 07:38] RA489 commented on #13516
@parmeshsingaTR I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

T

[2022-02-01 07:38] RA489 commented on #13516
/triage needs-information

[2022-02-01 07:41] RA489 commented on #13510
/addon ingress

[2022-02-01 07:42] RA489 commented on #13510
/os macos

[2022-02-01 07:42] binarious opened #13534 "minikube start fails with rootless docker (Linux Mint 20.2)"
### What Happened?

After executing `minikube start --driver=docker --container-runtime=containerd` I get the following error:
[code]

- Docker version 20.10.12, build e91ed57
- Rootless Docker

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/7976642/logs.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-02-01 07:43] RA489 commented on #13510
/kind support

[2022-02-01 07:45] RA489 commented on #13509
/kind support

[2022-02-01 07:46] RA489 commented on #13505
/area tunnel
/kind support

[2022-02-01 07:46] RA489 commented on #13504
/kind support

[2022-02-01 07:48] RA489 commented on #13502
/kind support

[2022-02-01 07:52] RA489 commented on #13494
/kind support

[2022-02-01 07:53] RA489 commented on #13492
/Co hyperkit

[2022-02-01 07:53] RA489 commented on #13491
/kind ux

[2022-02-01 07:54] RA489 commented on #13483
/kind support

[2022-02-01 09:27] kmahelona commented on #13510
I've got the exact same problem. With docker we had to do things like `domain-name.local:8090` and adding the port was annoying. With minikube and hyperkit driver the port shenanigans went away! But now with Apple M1 Pro and only having the docker driver, I suspect the very reason why we had to do the `8090` thing is the same reason why this issue exists.

Also for my specific case, I'm using the

[2022-02-01 12:18] yjanjar opened #13535 "Minikube mount does not work. (Windows 10 / Hyper-v)"
### What Happened?

The mount operation from the VM to my local host get denied, having a running minikube VM I run:

`minikube mount  ${PWD}:/test --alsologtostderr`

I0201 13:09:30.333464    6124 out.go:297] Setting OutFile to fd 92 ...
I0201 13:09:30.339727    6124 out.go:344] TERM=,COLORTERM=, which probably does not support color
I0201 13:09:30.340282    6124 out.go:310] Setting ErrFile to fd

[2022-02-01 12:42] jatinTyagi98 commented on #13535
I am new to kubernetes , can I contribute to this issue ?

[2022-02-01 12:52] yjanjar commented on #13535
Go ahead any help is welcomed.

[2022-02-01 12:54] jatinTyagi98 commented on #13535
/assign

[2022-02-01 13:01] OscarAlmgren opened #13536 "Unable to add istio addon from CLI"
### What Happened?

Following the regular handbook/tutorials at [https://minikube.sigs.k8s.io/docs/handbook/deploying/](https://minikube.sigs.k8s.io/docs/handbook/deploying/) and trying out the command `minikube addons enable istio` results in a process exit.

Does this addon require additional pre-configuration or is it not installed in the correct way using this command?

### Attach the log file

[2022-02-01 13:01] hcguersoy commented on #13006
@greenchapter Regarding _colima_ and QEMU : does it start an intel based VM? Or one based on arm64 ?

[2022-02-01 13:09] jatinTyagi98 commented on #13535
@yjanjar can you please tell me whether the issue is in the connection to hyper v or in the minikube logs command ? This would help me clarify the issues more.

[2022-02-01 13:12] yjanjar commented on #13535
@jatinTyagi98 the issue is in the minikube mount like you can see in the post right:

W0201 13:16:25.444107 18008 out.go:241] X Exiting due to GUEST_MOUNT: mount with cmd /bin/bash -c "sudo mount -t 9p -o dfltgid=$(grep ^docker: /etc/group | cut -d: -f3),dfltuid=$(id -u docker),msize=262144,port=61524,trans=tcp,version=9p2000.L 172.18.123.148 /test" : /bin/bash -c "sudo mount -t 9p -o dfltgid=$(gr

[2022-02-01 13:23] jatinTyagi98 commented on #13535
ok . I'll try my best to solve it.

[2022-02-01 15:54] NikhilSharmaWe commented on #13486
@medyagh I would like to work on it, could you please provide some information on how to proceed in the task and where the changes needed in the repo. Some code pointers would be really helpful.

[2022-02-01 16:53] abdekwant opened #13537 "kubelet.service: Main process exited, code=exited, status=203/EXEC"
### What Happened?

My apologies. Perhaps a newbie mistake ... but I can't figure out why I can't get minikube started. Spend hours on trying to find the root cause / my error. Perhaps someone with more experience can see the issue quickly or point me in the right direction.
After: install kubectl and install minikube I can't get "minikube start --driver=none" to successfully complete. Kubelet ser

[2022-02-01 17:26] #11459 closed

[2022-02-01 19:28] presztak commented on #13536
Hello @OscarAlmgren,

I think that you don't have `IstioOperator` resource defined, so you should run first:

`minikube addons enable istio-provisioner`

and then:

`minikube addons enable istio`

as described here:  https://github.com/kubernetes/minikube/blob/master/deploy/addons/istio/README.md

Please note that istio addon was broken for a long time and it was fixed here: #13521

[2022-02-01 21:40] #13431 closed

[2022-02-01 21:40] #13503 closed

[2022-02-01 23:55] hakjoonglee opened #13540 "macOS monterey version 12.2 & minikube v1.25.1 & virturalbox 6.1.32 not working"
### What Happened?

StartHost failed, but will try again: recreate: creating host: create: creating: Error setting up host only network on machine start: The host-only adapter we just created is not visible. This is a well known VirtualBox bug. You might want to uninstall it and reinstall at least version 5.0.12 that is is supposed to fix this issue

Exiting due to IF_VBOX_NOT_VISIBLE: Failed to s

[2022-02-02 03:33] RA489 commented on #10245
/remove-lifecycle stale

[2022-02-02 04:43] RA489 commented on #13540
/kind support

[2022-02-02 04:48] SEJeff opened #13542 "Regression: SEGV in minikube v1.25.0 and v1.25.1 that is not in v1.24.0 and below"
### What Happened?

When attempting to use the kubectl minikube completions, minikube segfaults. This is on a fresh install with no existing kubernetes configuration:

[code]

### Attach the log file

v1.24.0 Works
---------------
[code]

v1.25.0 SEGV
--------------
[code]

v1.25.1 SEGV
--------------
[code]

This is on Debian 11 (bullseye).

### Operating System

Debian 11 (bullseye) using the re

[2022-02-02 04:49] RA489 commented on #13537
/kind support

[2022-02-02 04:53] RA489 commented on #13534
/kind support

[2022-02-02 05:36] #13540 closed

[2022-02-02 05:38] zasboth opened #13543 "Minikube lost everything"
### What Happened?

When I restart my Linux every deployment, service etc. disappear like when I make "minikube delete"

Env:
Hyper-v
Ubuntu 21.10
64 bit
docker
minikube version: v1.25.1
commit: 3e64b11ed75e56e4898ea85f96b2e4af0301f43d

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/7983805/log.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-02-02 08:40] kaliberr44 commented on #12658
I also have the same error but @kgibm change didn't help to resolve it.

[2022-02-02 09:26] nikolay-te commented on #3036
I was having the same issue on OS X running `minikube` with also having `dnscrypt-proxy` which config I can't change.
Adding this to my `/etc/pf.conf` seems to have fixed it (bridge100 is the hyperkit created bridge):
[code]

[2022-02-02 10:51] mor-cybellum commented on #13543
Also happened to me, I downgraded to version 1.24.0 and it doesn't produce so I'm guessing it is a new version kind of issue.
My environment:
WSL through windows 11, ubuntu 20.04
minikube version: 1.25.1
driver: docker

[2022-02-02 11:35] sahansera commented on #13491
/assign

[2022-02-02 18:30] afbjorklund opened #13545 "Support docker container runtime in Kubernetes 1.24"
This is a tracker for the required changes:

* https://github.com/kubernetes/minikube/pull/12102

* https://github.com/kubernetes/minikube/pull/13191

* https://github.com/kubernetes/minikube/pull/13227
* https://github.com/kubernetes/minikube/pull/13302

* https://github.com/kubernetes/minikube/pull/13563

`minikube start --kubernetes-version=v1.24.0-alpha.2 --container-runtime=docker`

Failing w

[2022-02-02 18:30] afbjorklund commented on #13545
@sharifelgamal : added tracker issue, for the required PRs

[2022-02-02 18:44] ewan-chalmers commented on #6296
I tried long and hard to get hyperkit to work on macos

I couldn't get past
[code]
... and related, in a persistent way.

My corporate VPN means I have a bunch of cisco processes - even when the VPN is not running

[code]

I tried unsuccessfully using File Sync to copy an `/etc/resolv.conf` with `nameserver 8.8.8.8` and other things

I found that /etc/resolv.conf on the minikube VM got regularly o

[2022-02-02 19:02] afbjorklund commented on #13545
v1.24.0-alpha.1

[code]

v1.24.0-alpha.2

[code]

[2022-02-02 19:04] spowelljr commented on #13335
Hi @rohitkesarvani55, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-02-02 19:04] #13335 closed

[2022-02-02 19:06] spowelljr commented on #12549
Hi @debimishra89, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-02-02 19:06] #12549 closed

[2022-02-02 20:21] spowelljr commented on #12447
We have a binary for `ppc64le` as of v1.25.0

[2022-02-02 20:21] #12447 closed

[2022-02-02 22:08] weekmo commented on #13261
Same issue :disappointed:

[2022-02-03 00:05] #12389 closed

[2022-02-03 02:02] #13250 closed

[2022-02-03 04:19] warent commented on #3647
yes please! don't let this go stale

[2022-02-03 06:30] kumaranraj2895 opened #13549 "Unable to start minikube (X Exiting due to K8S_INSTALL_FAILED)"
### What Happened?

* minikube v1.25.1 on Ubuntu 20.04
* Using the docker driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Pulling base image ...
! The image 'gcr.io/k8s-minikube/storage-provisioner:v5' was not found; unable to add it to cache.
! The image 'k8s.gcr.io/pause:3.6' was not found; unable to add it to cache.
! The image 'k8s.gcr.io/kube-sche

[2022-02-03 06:45] frostzt opened #13550 "`minikube start` with docker driver fails on Ubuntu"
### What Happened?

I have tried `minikube start --driver=docker --container-runtime=containerd`, however it throws this error

[code]

I also ran `minikube start --alsologtostderr --v=2` for additional logging and I have attached the output [here](https://gist.github.com/frostzt/a2bd13d8231357a0b362d7caa4ce31c6)

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/7992

[2022-02-03 07:56] draksha22 commented on #13550
/assign

[2022-02-03 09:10] draksha22 commented on #13533
/assign

[2022-02-03 10:17] minikube-bot opened #13551 "Frequent test failures of `TestFunctional/parallel/TunnelCmd/serial`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestFunctional/parallel/TunnelCmd/serial)|100.00|

[2022-02-03 10:30] arpit006 commented on #13550
I get the same error on **macOS BigSur 11.6**
I am not able to start minikube `minikube start --kubernetes-version=1.17.1` on my local

[2022-02-03 12:13] a-mazed opened #13552 "Minikube doesn't save its state after being stopped"
### What Happened?

Hello everyone
I have a problem with Minikube.
After I exit Minikube all my pods are gone. What is the issue?
See screenshot below
![image](https://user-images.githubusercontent.com/25726917/152338492-d58651da-1869-4aab-bbff-d0bc7cd863eb.png)

As far as I understand, command stop should save my data
`This command stops the underlying VM or container, but keeps user data intact.

[2022-02-03 13:02] Guillaume-Mayer commented on #13552
You have to downgrade to 1.24 or use the corrected binary, see https://github.com/kubernetes/minikube/issues/13503#issuecomment-1026257723

[2022-02-03 13:38] a-mazed commented on #13552
Oh, that's the point
I'm new with Minikube - this is my first install

Ok, this issue can be closed then

[2022-02-03 13:39] #13552 closed

[2022-02-03 14:21] MrCreeper2033 commented on #13543
Same Issue here.
My enviroment:
Centos 7
docker
minikube version: v1.25.1

[2022-02-03 19:01] nadeem9975 opened #13553 "powrsheel"
### What Happened?

 minikube not install

### Attach the log file

EExiting due to GUEST_NOT_FOUND: Failed to start host: Error loading existing host. Please try running [minikube delete], then run [minikube start] again.: filestore "minikube": open C:\Users\Sheikh Nadeem\.minikube\machines\minikube\config.json: The system cannot find the file xiting due to GUEST_NOT_FOUND: Failed to start host:

[2022-02-03 19:02] #13553 closed

[2022-02-03 19:34] #13491 closed

[2022-02-03 20:09] luispresuelgit opened #13555 "minikube start failing with virtual box driver"
### What Happened?

Minikube start failed with the following errors (didn't noticed before until tried to use it that driver again since before I was using the docker driver):

[code]

### Attach the log file

Windows 10 Pro
Tested in:
Virtualbox version 6.26 and version 6.32
minikube version: v1.25.1
commit: 3e64b11ed75e56e4898ea85f96b2e4af0301f43d

### Operating System

Windows

### Driver

Virt

[2022-02-03 23:19] #11627 closed

[2022-02-04 03:18] davewongillies commented on #12315
I would dearly love to have the ability to chose a different subnet. With the security policy at my work, when connecting to the corporate VPN, we're given a small subnet for things like k8s and docker and without the ability to specify that particular subnet, I can't use minikube with the docker driver at all in its current state.

[2022-02-04 03:20] ugyen1998 opened #13559 "minikube issues"
### What Happened?

Tried to start the minikube but i am not able to load all the data. It gets stopped in between. what might be the possible solution for that.

### Attach the log file

PS D:\course\Networking\Kubernetes\voting-app> minikube start --driver=virtualbox
😄  minikube v1.24.0 on Microsoft Windows 11 Home Single Language 10.0.22000 Build 22000
✨  Using the virtualbox driver based on ex

[2022-02-04 05:18] Kailash-Ramco opened #13560 "minikube start gets timed out"
### What Happened?

Hi Team,

I have installed minikube, using the below url

https://www.virtualizationhowto.com/2021/03/install-minikube-on-windows-server-2019-hyper-v/

But on minikube start, it failed with a timeout exception.

Additional Info:
![image](https://user-images.githubusercontent.com/97166966/152476274-62412365-a5fc-423c-aa02-33ca69497bad.png)

### Attach the log file

[minikube_log

[2022-02-04 08:24] afbjorklund commented on #13545
My bad, thought the socket path fix was included in `v0.2.0` but it was in v0.2.0-7-g3eee3e4

Can go straight for v0.2.0-11-ga4d1895 and get some fixes for the README and --buildinfo ?

[2022-02-04 11:57] expbk opened #13561 "Unable to pull images from Local Private Repository"
### What Happened?

Hey,

I am trying to pull images in minikube kubernetes cluster but I get timeout error there.

### **Setup**

- Harbor Docker Registry Running on Host Machine Docker
- Latest minikube cluster with insecure registry tag
- **Enabled Addons**
  - ingress
  - dashboard
  - ingress-dns

**minikube run command used**

`minikube start --insecure-registry harbor.example.com:8443`

**E

[2022-02-04 12:07] jeanmarc opened #13562 "hyperkit documentation refers to command that is not available"
https://minikube.sigs.k8s.io/docs/drivers/hyperkit/ mentions the `docker-machine-driver-hyperkit version` command to check for the hyperkit version that is being used.
1. It is not clear if this command must be run from the host machine, or inside the minukube VM (i.e. after  `minikube ssh`).
2. The command is not found on the host, nor in the VM

I have followed the instructions to install: `brew

[2022-02-04 14:17] jatinTyagi98 commented on #13559
check if your hyper v is enable that can create a conflict with virtual box. If that's the case you  need to uncheck your hyper v or you can use hyper v as a driver.

[2022-02-04 15:21] afbjorklund commented on #13562
Probably old docs, minikube now downloads the driver automatically if is missing

[2022-02-04 17:39] NikhilSharmaWe commented on #13562
@afbjorklund should I remove the doc for [Check Driver Version](https://minikube.sigs.k8s.io/docs/drivers/hyperkit/#check-driver-version).

[2022-02-04 21:11] cdbattags commented on #8426
/remove-lifecycle rotten

[2022-02-04 21:13] cdbattags commented on #8426
Any update on this?

[2022-02-04 21:23] cdbattags commented on #13006
I'm having the exact same issue as described by @carl-reverb. Any help would be greatly appreciated. I talked to @baude and he says the driver isn't managed by the Podman folks?

[2022-02-05 02:32] AAATechGuy opened #13564 "unable to start minikube on Windows Server 2022/2019 Azure VM"
### What Happened?

unable to start minikube on Windows Server 2022/2019 Azure VM (with nested virtualization enabled).
*This is blocking our CI/test setup, or making minkube unusable for our purposes.*

# repro
Checked out Windows Server 2022/2019 VM from Azure.
Installed HyperV via following commands,
[code]
Installed minikube via `choco install minikube`
Ran following commands,
[code]

# 1
When

[2022-02-05 20:14] #11002 closed

[2022-02-06 05:01] frostzt commented on #13550
@draksha22 is there any update on this? It has stopped me entirely on my development flow. Can you also give an idea of what's going on and why might this be occurring?

[2022-02-06 05:01] frostzt commented on #13550
@draksha22 is there any update on this? It has stopped me entirely on my development flow. Can you also give an idea of what's going on and why might this be occurring?

[2022-02-06 05:01] frostzt commented on #13550
/reopen

[2022-02-06 06:08] ugyen1998 commented on #13559
Thank you

[2022-02-06 06:08] #13559 closed

[2022-02-06 09:10] NikhilSharmaWe commented on #13562
@afbjorklund
Should I make these changes in the doc.
- Remove the doc for [Upgrade Hyperkit](https://minikube.sigs.k8s.io/docs/drivers/hyperkit/#upgrade-hyperkit) and [Check driver version](https://minikube.sigs.k8s.io/docs/drivers/hyperkit/#check-driver-version).
- Add statement that `minikube downloads hyperkit automatically to a suitable version if missing (on the host)`.

[2022-02-06 10:27] hongliang5316 commented on #3647
+1

[2022-02-06 10:34] djnotes opened #13565 "Minikube Fails to Start with Podman Driver on Fedora 35"
### What Happened?

I installed Minikube using Homebrew on Fedora 35. Then, tried to start minikube with Podman driver (no other driver was installed):

[code]
I thought maybe the issue is because I'm using the Homebrew package, so I installed the [binary from Google](https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64), and ran it again after running "minikube delete", bu

[2022-02-06 10:36] thyhum commented on #13298
Do you have hyper-v or Virtual Machine Platform feature enabled?

Check with this command on an elevated PowerShell: `dism /online /Get-FeatureInfo /FeatureName:VirtualMachinePlatform | findstr State` or go to Windows Features and look for Virtual Machine Platform

[2022-02-06 12:51] mwoodpatrick opened #13566 "Problem installing minikube on Ubuntu 21.04"
### What Happened?

After installing  minikube on Ubuntu 21.04 riunning under WSL2 on windows 11,
'minikube start' faiiled with certificate issue please advise

😄  minikube v1.25.1 on Ubuntu 21.04 (amd64)
✨  Automatically selected the docker driver. Other choices: ssh, none
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
💾  Downloading Kubernetes v1.23.1 prelo

[2022-02-06 14:28] edrandall commented on #4206
probably a mismatched quote somewhere, could be in pf.conf or any of your anchor files.

[2022-02-06 16:18] lmanzke commented on #13543
Same issue here.

Kernel: 5.16.5-1-MANJARO
docker
minikube 1.25.1

Downgrading minikube to 1.24.0 fixes the issue.

Easiest reproduction steps I could find:
Start minikube 1.25.1
Create any namespace
minikube stop
minikube start (btw, consider a restart command)

-> Namespace you created is gone

[2022-02-07 03:02] zarifeyeman opened #13568 "i cannot run minikube due to this problem"
### What Happened?

Exiting due to HOST_KUBECTL_PROXY: proxy start: fork/exec /usr/local/bin/kubectl: exec format error

### Attach the log file

E0206 18:57:48.186567  248351 start.go:274] kubectl info: exec: fork/exec /usr/local/bin/kubectl: exec format error

### Operating System

Linux ubuntu

### Driver

_No response_

[2022-02-07 04:46] zarifeyeman commented on #13568
Linux ubuntu

[2022-02-07 07:49] karegoie opened #13569 "minikube running on ssh session with podman driver"
### What Happened?

[error.txt](https://github.com/kubernetes/minikube/files/8013264/error.txt)

On ssh terminal, my minikube does not works fluently. Is there other ways to use minikube on ssh session?

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/8013265/log.txt)

### Operating System

Ubuntu

### Driver

Podman

[2022-02-07 09:16] mr-bjerre commented on #13510
But did you actually get it working on your M1 @kmahelona ? I can't reach my minikube ingress services ufortunalely - haven't figured out any workaround

[2022-02-07 09:35] AkihiroSuda commented on #8719
/remove-lifecycle stale

PR https://github.com/kubernetes/minikube/pull/12901 has received two LGTMs, but not merged yet

[2022-02-07 11:42] letmaik opened #13571 "Use `Get-CimInstance` to detect Hyper-V availability"
### What Happened?

https://github.com/kubernetes/minikube/blob/9f96701d8f751d5dfce72f2fb762833f4c396747/pkg/minikube/registry/drvs/hyperv/hyperv.go#L94

[`Get-WmiObject`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.management/get-wmiobject?view=powershell-5.1) is deprecated and has been superseded by [`Get-CimInstance`](https://docs.microsoft.com/en-us/powershell/modul

[2022-02-07 13:43] HarikrishnanBalagopal commented on #13497
This works, although I had to run each command separately. Copy pasting the entire thing resulted in
[code]

[2022-02-07 13:45] HarikrishnanBalagopal commented on #13497
also for me the `sit0` interface seems to be missing. I didn't get any error code tho
[code]

[2022-02-07 14:30] r0ushann commented on #13566
you should try  these following commands making sure your wsl2 is up to date and docker is connected to the wsl2 ubuntu terminal!

Run series of commands to get right build of Docker installed
Removes the old crap, gets the dependencies right, adds Docker key, adds Docker repo, installs the new hotness

sudo apt-get remove docker docker-engine docker.io containerd runc

sudo apt-get update

sudo a

[2022-02-07 17:06] danielhelfand opened #13572 "Call out in docs which minikube drivers support Apple Silicon"
### What Happened?

I was attempting to run minikube without using Docker on an m1 mac. I eventually gave up and ended up using Docker as it seems the other options really don't support Apple silicon yet. I am assuming that Docker is the only real option at this point. All the others mentioned (i.e. VirtualBox, [hyperkit/podman](https://github.com/kubernetes/minikube/issues/13006), [vmware](https:

[2022-02-07 17:08] danielhelfand commented on #13572
Happy to pick this up if all the details above look right.

[2022-02-07 17:09] afbjorklund commented on #13572
Both vmware and parallels are supposed to work, but you also need an ISO that supports arm64.

However, hyperkit will not work so we need to resurrect the "qemu" driver and use that instead.

[2022-02-07 17:13] afbjorklund commented on #13572
Docker is still the "preferred" driver and "default" runtime.

[2022-02-07 17:15] danielhelfand commented on #13572
@afbjorklund  Appreciate you filling me in on the state of things. Let me try to distill some of this information into some minor doc edits.

[2022-02-07 17:17] afbjorklund commented on #13572
Not sure about Podman support, maybe revisit once Podman Desktop 4.0.0 is out and once it has been tested ?

* https://github.com/kubernetes/minikube/issues/8003

As far as I will know, it will **not** feature Kubernetes (like Docker Desktop or Rancher Desktop), you need CRC.

* https://developers.redhat.com/products/codeready-containers

[2022-02-07 17:31] mwoodpatrick commented on #13566
I'm running on wsl2 and docker on Ubuntu is being provided by docker desktop  I am able to run various docker and docker-compose command lines without issue

[2022-02-07 17:33] vivekvishal011 opened #13573 "apiserver stopped"
### What Happened?

my apiserver stop working in minikube  so tell me resons behinde and possibe solution

### Attach the log file

type: Control Plane
host: Running
kubelet: Running
apiserver: Stopped
kubeconfig: Configured

### Operating System

macOS (Default)

### Driver

HyperKit

[2022-02-07 17:47] afbjorklund commented on #13568
Minikube does not install `/usr/local/bin/kubectl`

[2022-02-07 18:21] r0ushann commented on #13566
Have u used the command
`minikube start -- driver=docker`

[2022-02-07 18:25] r0ushann commented on #13568
Try these Minikube Preparation ways..

`Install Minikube
curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube_latest_amd64.deb`
`sudo apt install ./minikube_latest_amd64.deb -y
rm minikube_latest_amd64.deb`
# Start it
`minikube start`
or try
`minikube start --driver=docker`

[2022-02-07 19:08] #13545 closed

[2022-02-07 22:04] #12903 closed

[2022-02-07 22:04] #13088 closed

[2022-02-07 22:21] prezha commented on #13249
@JavierPalaciosNexplore thank you for taking the time to test and report results back - great that it worked for you!

as https://github.com/kubernetes/minikube/pull/13439 was merged, i'll close this issue now

/close

[2022-02-07 22:21] #13249 closed

[2022-02-07 22:23] prezha commented on #13127
hi @Lyudmila-Maltsev-8451,

we haven't heard back from you and as https://github.com/kubernetes/minikube/pull/13439 was merged, so i'll close this issue now

please feel free to open a new issue if you're still facing problems

/close

[2022-02-07 22:23] #13127 closed

[2022-02-07 22:23] prezha commented on #13130
hi @bullwrinkle, @antoinetielbeke, @aacecandev, @rosscado,

we haven't heard back from you and as https://github.com/kubernetes/minikube/pull/13439 was merged, so i'll close this issue now

please feel free to open a new issue if you're still facing problems

/close

[2022-02-07 22:23] #13130 closed

[2022-02-07 22:47] prezha commented on #10544
there seem to be potentially multiple different/similar problems reported and also several solutions/workarounds in this issue (specifically around firewalls) and we've implemented a number of improvements in the meantime (last being https://github.com/kubernetes/minikube/pull/13439 that's merger but not yet released), so I'll close this issue now and please open a new one if you still face issues

[2022-02-07 22:47] #10544 closed

[2022-02-08 00:35] #13407 closed

[2022-02-08 00:42] mwoodpatrick commented on #13566
Did not seem to help see attached log. Let me know what I can do to help debug/resolve this
[minikube_start.log](https://github.com/kubernetes/minikube/files/8019712/minikube_start.log)

[2022-02-08 01:17] #13060 closed

[2022-02-08 02:57] RA489 commented on #13573
/CO hyperkit

[2022-02-08 02:57] RA489 commented on #13573
/kind support

[2022-02-08 02:59] RA489 commented on #13573
@vivekvishal011 I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

T

[2022-02-08 02:59] RA489 commented on #13573
/triage needs-information

[2022-02-08 03:01] RA489 commented on #13571
/os windows

[2022-02-08 03:03] RA489 commented on #13569
/kind support
/ev ssh-auth

[2022-02-08 03:06] RA489 commented on #13565
/packaging rpm

[2022-02-08 03:08] RA489 commented on #13535
/area mount

[2022-02-08 03:10] RA489 commented on #13527
/kind security

[2022-02-08 03:18] victor-sudakov commented on #13088
Oh, thanks a lot!

[2022-02-08 03:29] RA489 commented on #13542
/kind regression

[2022-02-08 03:35] RA489 commented on #13549
/kind support

[2022-02-08 03:37] RA489 commented on #13550
/runtime containerd

[2022-02-08 03:39] RA489 commented on #13555
/kind support

[2022-02-08 03:42] RA489 commented on #13561
/area image

[2022-02-08 03:44] RA489 commented on #13564
/kind support

[2022-02-08 03:44] RA489 commented on #13565
/kind support

[2022-02-08 06:14] r0ushann commented on #13566
then u should try using
`minikube delete`
and then,
` minikube start --driver=docker`
after installing kubectl

[2022-02-08 07:14] afbjorklund commented on #13572
Users are _supposed_ to be able to find out their OS ("Darwin") and Arch ("aarch64"), in order to install binaries.

It would be nice if we used similiar wording here, even though it is fine to call it macOS and arm64 of course.

"Apple silicon" this, "Intel silicon" that.

Preferrably, both would be invisible.

[2022-02-08 16:23] NikhilSharmaWe commented on #13562
@afbjorklund
Should I make these changes in the doc.
- Remove the doc for [Upgrade Hyperkit](https://minikube.sigs.k8s.io/docs/drivers/hyperkit/#upgrade-hyperkit) and [Check driver version](https://minikube.sigs.k8s.io/docs/drivers/hyperkit/#check-driver-version).
- Add statement : `minikube downloads hyperkit automatically to a suitable version if missing (on the host)`.

[2022-02-08 21:22] mayur-tolexo commented on #12761
Has this issue been worked on? I will like to take it up.

[2022-02-08 21:34] F1ko commented on #12761
Yes, it actually is done already, I am just waiting for a final review.

[2022-02-08 22:52] #12552 closed

[2022-02-09 00:12] cdbattags commented on #12658
Hi everyone, I'm getting the same ssh error.

I'll try with building minikube myself with that line change suggested hopefully some point this week.

Any more progress on this issue to know about?

[2022-02-09 03:24] dafu-wu opened #13584 "`kubectl debug` hangs on 1.21 with feature gate EphemeralContainers enabled"
### What Happened?

I'm trying to run the commands:

[code]
[code]
But if I try to exec into it, I get a failure:
[code]
Am I missing something?

### Attach the log file

As above

### Operating System

Ubuntu

### Driver

Docker

[2022-02-09 03:43] k2patel commented on #12658
I had the same issue, suggestion from @kgibm works like charm. During multiple rebuild it is clear that important step not to miss is `podman system connection default podman-machine-default-root`.

[2022-02-09 06:49] afbjorklund commented on #12658
This is being addressed:

* https://github.com/kubernetes/minikube/pull/12901

If you want to run as rootless.

[2022-02-09 07:50] prudhvinag06 opened #13586 "Exiting due to GUEST_START: Failed kubeconfig update: writing kubeconfig: Error creating directory: /etc/kubernetes: mkdir /etc/kubernetes: permission denied"
### What Happened?

when I ran minikube start the following error appears every time

Failed kubeconfig update: Error reading file "/home/prudhvi/.kube/config": read /home/prudhvi/.kube/config: is a directory

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/8030543/log.txt)

### Operating System

Ubuntu

###Solution:
change the name of directory config to configtemp

[2022-02-09 08:17] minikube-bot opened #13587 "Frequent test failures of `TestStartStop/group/newest-cni/serial/SecondStart`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/newest-cni/serial/SecondStart)|100.00|

[2022-02-09 10:08] prudhvinag06 opened #13588 ""minikube start --driver=docker" not working as expected"
### What Happened?

![Screenshot from 2022-02-09 15-33-38](https://user-images.githubusercontent.com/88816987/153175769-3fade431-dc7c-4bce-a09e-e19d42bc612f.png)
GUEST_START error
Any idea how to fix this issue

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8031590/logs.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-02-09 10:20] supanadit commented on #5301
now its been 2022, and feature still expected

[2022-02-09 10:41] Andy2003 commented on #10663
For me the problem appeared after I installed minikube.

Previously the client version 1.16. of `kubectl` was installed (from gcloud). By installing minikube, which uses a more recent version of `kubectl`, the minikube cluster was added in `~/.kube/config` as follows:

[code]

The `extensions` section in the yaml could not be parsed correctly by the old `kubctl`. This causes also the `kubenctx` an

[2022-02-09 13:19] Commifreak commented on #13543
[#13552](https://github.com/kubernetes/minikube/issues/13552)

[2022-02-09 14:01] kgibm commented on #12658
I had the issue even running as root. It was only resolved after the patch:

[code]

[2022-02-09 16:56] #13459 closed

[2022-02-09 17:08] RangaSamudrala opened #13589 "Minikube start with Podman and CRI-O on Mac OS X fails"
### What Happened?

[code]

### Attach the log file

[mk-logs-2.txt](https://github.com/kubernetes/minikube/files/8034688/mk-logs-2.txt)

### Operating System

macOS (Default)

### Driver

Podman

[2022-02-09 17:09] RangaSamudrala commented on #13589
Please note that I had cloned latest project and performed 'make darwin' command get hold of latest Minikube executable.

[2022-02-09 18:19] minikube-bot opened #13590 "Frequent test failures of `TestStartStop/group/default-k8s-different-port/serial/FirstStart`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=QEMU_macOS&test=TestStartStop/group/default-k8s-different-port/serial/FirstStart)|100.00|
|[Docker_Linux_crio](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio&test=TestS

[2022-02-09 19:09] spowelljr commented on #13398
Hi @Tchokomeni, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-02-09 19:09] #13398 closed

[2022-02-09 19:09] spowelljr commented on #13371
Hi @Allan-xd, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-02-09 19:09] #13371 closed

[2022-02-09 19:14] #13397 closed

[2022-02-09 19:15] klaases commented on #13319
Hi @JohnGossett, were you able to try @spowelljr's suggestion above?

[2022-02-09 19:15] #13348 closed

[2022-02-09 19:17] klaases commented on #13265
Hi @koushikmgithub – did you have a chance to apply @spowelljr's suggestion above?

Going to go ahead and close this issue as some time has passed. Thank you for sharing your experience!

[2022-02-09 19:18] #13265 closed

[2022-02-09 19:19] sharifelgamal commented on #13312
We theoretically should still support k8s 1.16, but that's going to be deprecated quite soon. The error itself is just saying the the kubelet never came up healthy, which does point to the version just being too old.

[2022-02-09 19:20] klaases commented on #13028
Hi @ravimalvia – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line us

[2022-02-09 19:20] #13028 closed

[2022-02-09 19:22] klaases commented on #12965
Hi @alexsimon1 – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line us

[2022-02-09 19:22] #12965 closed

[2022-02-09 19:25] klaases commented on #12962
Hi @iamnoah – is this issue still occurring with the latest version of minikube?

If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line us

[2022-02-09 19:25] #12962 closed

[2022-02-09 19:28] sharifelgamal commented on #7447
This should be fixed.

[2022-02-09 19:28] #7447 closed

[2022-02-09 19:28] spowelljr commented on #11586
@JacekDuszenko Is this something you're still interested in implementing?

[2022-02-09 19:28] spowelljr commented on #12928
Hi @johnmuth81, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-02-09 19:29] sharifelgamal commented on #10201
Freezing this since it's still an issue, but it's not really a priority, since we can build the multiarch images on amd64.

[2022-02-09 19:36] sharifelgamal commented on #11608
I'm not sure if this remains an issue, but I want to keep it open to investigate.

[2022-02-09 19:37] #11725 closed

[2022-02-09 19:38] MPLew-is commented on #11725
Is there any particular reason this was closed? This would be a huge feature to have, to run x86 images on an M1 cluster.

[2022-02-09 19:38] klaases commented on #12698
Hi @cduran, are you still experiencing this error? Is any additional information available? Also, would you be able to try this with the the latest version of minikube?

[2022-02-09 19:39] medyagh commented on #13588
@prudhvinag06 it seems like ur kube config folder is messed up, do mind sharing

`ls -lah ~/.kube`
 ~/.kube/config is supposed to be a file not a folder ! u might wanna backup and delete that folder and then try again

/triage needs-information
/kind support

[2022-02-09 19:41] spowelljr commented on #13543
As @Commifreak noted, this has been resolved and will be included in the next release.

You can get binaries with the fix from https://github.com/kubernetes/minikube/issues/13503#issuecomment-1026257723

I'm going to close this issue, but if you feel free to respond if you have any further questions, thanks!

[2022-02-09 19:41] #13543 closed

[2022-02-09 19:46] spowelljr commented on #13568
That's usually an error we see when you have the binary of a different architecture. Is your machine amd64 or arm64?

[2022-02-09 19:47] spowelljr commented on #13560
Hi @Kailash-Ramco, are you using a VPN or firewall?

[2022-02-09 19:47] sharifelgamal commented on #12643
You're definitely right, adding a configure option here makes a lot of sense. Help wanted!

[2022-02-09 19:49] sharifelgamal commented on #12670
Do you have the `/etc/NetworkManager/NetworkManager.conf` file instead? That's the other option for linux in the docs.

[2022-02-09 19:49] klaases commented on #12674
Hi @R-G-11, are you still working on this? Do you have any additional updates to share?

[2022-02-09 19:52] sharifelgamal commented on #10483
I suspect this still an issue.

[2022-02-09 19:53] klaases commented on #12566
Hi @coachcalvi, would you mind trying this with the latest version of minikube to see if this is reproducible?

[2022-02-09 19:54] klaases commented on #12557
Hi @ MrJackQiao – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line u

[2022-02-09 19:54] #12557 closed

[2022-02-09 19:57] klaases commented on #12479
Hi @[dilyanpalauzov](https://github.com/dilyanpalauzov) – this issue will be closed as additional information was unavailable and some time has passed. Please feel free to re-open the issue by commenting with `/reopen` if needed.

Thank you for sharing your experience!

[2022-02-09 19:57] #12479 closed

[2022-02-09 19:58] klaases commented on #12275
Closing out as this was resolved previously.

[2022-02-09 19:58] #12275 closed

[2022-02-09 20:00] sharifelgamal commented on #12826
This is still something we're looking into. One prerequisite for this to work is a minikube ISO that will work on the arm64/aarch64 architecture, which is still in progress.

[2022-02-09 20:00] klaases commented on #12074
Hi @fengshenyun – please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

* Attach the full output of minikube logs, run `minikube logs --fil

[2022-02-09 20:00] #12074 closed

[2022-02-09 20:04] klaases commented on #10265
Hi @thirdpartyusage – please see the suggestion above. Also, feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Thank you for sharing your experience!

[2022-02-09 20:04] #10265 closed

[2022-02-09 20:04] sharifelgamal commented on #13303
#9593 should be fixed when minikube 1.26 is released, so we can revisit this when that happens.

[2022-02-09 20:07] klaases commented on #13019
Hi @[prathapdasari](https://github.com/prathapdasari), are you able to try the latest versions of minikube and VirtualBox?

[2022-02-09 20:13] jszwedko commented on #12928
Hi @spowelljr !

This is still an issue for us. We are using Ubuntu 20.04. To reproduce I:

* Spun up a vanilla Ubuntu 20.04 VM in AWS (`ami-0a93ee71d4e382474` in `us-east-2`)
* Installed docker via the instructions on https://docs.docker.com/engine/install/ubuntu/ . I then started the docker service, added the `ubuntu` user to the `docker` group, and logged out and back in
* Installed minikube vi

[2022-02-09 20:20] sharifelgamal commented on #6205
So currently the gluster daemonset yaml file has a bit that looks like:
[code]

It looks like we should (a) change these variable names to be correct, and then (b) add an option to `minikube addons configure` to be able to uncomment/change these. Adding a configure option would involve adding a case to https://github.com/kubernetes/minikube/blob/master/cmd/minikube/cmd/config/configure.go to do th

[2022-02-09 21:05] JohnGossett commented on #13319
Nope! Totally missed the message, sorry. I'll try that tonight or tomorrow asap
________________________________
From: klaases ***@***.***>
Sent: Wednesday, February 9, 2022 1:15 PM
To: kubernetes/minikube ***@***.***>
Cc: Gossett, John ***@***.***>; Mention ***@***.***>
Subject: Re: [kubernetes/minikube] Exiting due to GUEST_START: Failed kubeconfig update: writing kubeconfig: Error writing file

[2022-02-09 21:57] kimba74 commented on #13588
I had a similar problem after upgrading to v1.25.1. After some time I realized that for whatever reason the docker network the container was configured to use got deleted (or wasn't existing). After re-creating and connecting a docker network to the minikube container it started working for me again.

The odd thing was when I created three different minikubes via profiles in a row, after I shut th

[2022-02-09 22:03] cwilkers commented on #11608
I haven't verified it lately, but it is likely still an issue. I would like to attempt a fix, but haven't had time to start from scratch on the minikube build system.

[2022-02-10 03:05] cc-michael-x commented on #12362
I have tried debugging this issue in both Windows and WSL to access agones gameserver from outside of the cluster through UDP. I have still not found a solution to this problem.

[2022-02-10 03:20] acohenOT opened #13593 "timed out waiting for the condition adding ingress addon with WSL"
### What Happened?

Getting errors enabling ingress addon on Windows 11 with WSL2 (Ubuntu).
`minikube addons enable ingress`
    ▪ Using image k8s.gcr.io/ingress-nginx/controller:v1.1.0
    ▪ Using image k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.1.1
    ▪ Using image k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.1.1
🔎  Verifying ingress addon...

❌  Exiting due to MK_ADDON_ENABLE: run ca

[2022-02-10 04:37] prudhvinag06 commented on #13588
Thanks. Got resolved when I changed the config folder name to some other name (Ex - configtemp). It is because config file name is conflicting with the directory name. Thanks a lot

[2022-02-10 04:37] #13588 closed

[2022-02-10 04:40] ugyen1998 opened #13594 "Minikube issue"
### What Happened?

Minikube not able to start

### Attach the log file

  Exiting due to K8S_INSTALL_FAILED: updating control plane: copy: copy: sudo test -d /var/tmp/minikube && sudo scp -t /var/tmp/minikube: Process exited with status 1
output: �☺scp: /var/tmp/minikube/kubeadm.yaml.new: Read-only file system
☺scp: protocol error: expected control record

╭───────────────────────────────────────

[2022-02-10 04:44] #13586 closed

[2022-02-10 04:48] HarikrishnanBalagopal opened #13595 "bug: failed to run the tutorial sample and setup minikube as CI step in Github actions"
## Problem
Following the sample workflow in the documentation https://minikube.sigs.k8s.io/docs/tutorials/setup_minikube_in_github_actions/
does not work as expected. The `curl` on the service url fails to connect.

## Code
https://github.com/HarikrishnanBalagopal/test-github-actions-2/blob/main/.github/workflows/sample.yaml

## Expected Output

Expected the curl to succeed with 200 OK. Building a

[2022-02-10 07:16] rakk commented on #13261
❌  Exiting due to GUEST_STATUS: state: unknown state "minikube": podman container inspect minikube --format=: exit status 125
stdout:

stderr:
Error: error inspecting object: no such container "minikube"

❯ podman version
Client:
Version:      3.4.1
API Version:  3.4.1
Go Version:   go1.17.2
Built:        Tue Oct 19 23:14:42 2021
OS/Arch:      darwin/amd64

Server:
Version:      3.4.4
API Version:

[2022-02-10 07:21] afbjorklund commented on #13261
Podman on Mac is still experimental, but we will continue to look in to it.

[2022-02-10 07:22] afbjorklund commented on #13261
/reopen

[2022-02-10 09:18] comerford commented on #12362
My eventual solution was to use metallb to satisfy the load balancer requirement, and then the hyperv driver with an external vswitch to get a routable/accessible IP. Published a public version of the config here for reference:

https://github.com/comerford/minikube-agones-cluster

[2022-02-10 11:44] DiptoChakrabarty commented on #13571
/assign

[2022-02-10 12:34] rstaylor commented on #12315
I have a similar issue with both my local and corporate vpn networks.

[2022-02-10 16:14] warent commented on #12842
I'm on Ubuntu 20.04 and there is no file `/sys/fs/cgroup/memory/memory.memsw.limit_in_bytes`, but there is `/sys/fs/cgroup/memory/memory.memory.limit_in_bytes`

there is no `memsw` anything.

Not sure if it's the same thing?

[2022-02-10 20:46] ErKriti commented on #4711
Does it help someone? I am also facing the same issue on Windows 10 Home Ubuntu 18.04 and VirtualBox 6.1

[2022-02-11 05:09] #13550 closed

[2022-02-11 05:12] frostzt opened #13597 "`minikube start` with docker driver fails on Ubuntu 20.04"
### What Happened?

## Issue
Minikube states the following command to start a Minikube instance using the Docker driver:
`minikube start --driver=docker --container-runtime=containerd`

However doing so causes minikube to fail and throw errors.
I have got Rootless Docker setted up from Resources 3
And have also enabled cgroup v2 from Resources 4;

## Resources Used
1 [Minikube Start Guide](https:/

[2022-02-11 08:20] joaogl opened #13598 "minikube ip can't be used to ssh"
### What Happened?

Hello,

I have docker running on my machine pointing to a remote host by doing DOCKER_HOST=tcp://10.0.1.108:49156.
minikube is then installed on my machine and the docker running on the remote.

If I do minikube ip, I get an ip that is only reachable on the DOCKER_HOST and not my machine, but somehow if I run minikube ssh I do connect nicely to it, I'm wondering how can I find

[2022-02-11 11:37] mrozdemir4 opened #13601 "/etc/kubernetes/admin.conf: permission denied"
### What Happened?

Exiting due to GUEST_START: Failed kubeconfig update: writing kubeconfig: Error writing file /etc/kubernetes/admin.conf: open /etc/kubernetes/admin.conf: permission denied

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8048264/logs.txt)

### Operating System

Ubuntu

### Driver

Docker

[2022-02-11 11:42] #13601 closed

[2022-02-11 11:52] gorjan-mishevski commented on #8439
This is not fixed, I am having the same issues resolving the host inside a container. Mac Monterey

[2022-02-11 16:25] herlon214 commented on #7231
Exporting `NO_PROXY=localhost,127.0.0.1,10.96.0.0/12,192.168.59.0/24,192.168.39.0/24` fixed this issue for me:

[code]

[2022-02-11 17:26] spowelljr commented on #12928
Hi @jszwedko, your kube-proxy error seems to be `starting container process caused: apply caps: operation not permitted`.

This seems related to LXC itself, here's a related issue: https://serverfault.com/q/946854

[2022-02-11 20:40] medyagh opened #13602 "Install Nightly Build of Kubernetes in minikube"
the idea is to install Latest version of everything (nightly build) from kuberentes

- kubeadm
- kubelet
- kucetl

[2022-02-11 21:00] ckannon commented on #13602
Stuff to do here:
 - determine latest binary builds of all components
 - download latest binaries for whatever driver/platform we are building
 - determine what makes the most sense for entrypoint to trigger this behavior --kubernetes-version=LATEST?
 - leverage --binary-mirror behavior if it makes sense

[2022-02-11 21:00] ckannon commented on #13602
/assign

[2022-02-11 21:03] jszwedko commented on #12928
Ah, I see. Thanks for the response and the link! I'm still not completely following though, how would I apply the recommendations there to minikube? My same system is able to run `docker run` without issue (which is different from the original post on https://serverfault.com/q/946854).

[2022-02-11 21:12] medyagh commented on #13602
one thing that might be helpful is binary-mirror (however that wont point the kube images to the head version)

[code]

[2022-02-11 21:27] medyagh commented on #13602
I suggest using HEAD or nightly instead of latest

[2022-02-11 21:30] ckannon commented on #13602
Agreed, LATEST would map to latest rc I believe. Let's go with nightly?
This ensures it's the last successfully tested nightly version.

On Fri, Feb 11, 2022 at 4:28 PM Medya Ghazizadeh ***@***.***>
wrote:

[2022-02-11 23:26] ckannon commented on #13602
For reference, this small bash script I wrote gets us the nightly tarball with all the binaries.. should be fairly easy to translate into go, leverage the existing detected OS and architecture, then cache the binaries. The existing --binary-mirror functionality won't work here, since the binaries are in a tarball and not directly accessible by --binary-mirror.

export KUBE_VERSION=$(curl -fsSL --r

[2022-02-12 19:13] #11257 closed

[2022-02-13 06:15] AAATechGuy commented on #13564
related repro which was closed without answer: [12965](https://github.com/kubernetes/minikube/issues/12965)

[2022-02-13 21:50] #12103 closed

[2022-02-13 23:57] ysheikh245 commented on #11107
I am trying the following on my M1 macbook and getting the following error:
kubectl create deployment hello-minikube --image=k8s.gcr.io/echoserver:1.4
kubectl expose deployment hello-minikube --type=NodePort --port=8080

|-----------|----------------|-------------|---------------------------|
| NAMESPACE |      NAME      | TARGET PORT |            URL            |
|-----------|----------------|---

[2022-02-14 04:03] frostzt commented on #13597
This is not working with a fresh install of Ubuntu as well. Installed Ubuntu 20.04 again and still the same.

[2022-02-14 06:38] afbjorklund commented on #13597
Something is broken in your rootless docker installation, it doesn't like the filesystem of your home dir.

[2022-02-14 06:40] frostzt commented on #13597
@afbjorklund thanks a lot for reply, can you point out where did you notice this? And should I try reinstalling Docker again?

[2022-02-14 07:02] afbjorklund commented on #13597
I was going on the errors in the log.

[2022-02-14 14:23] r0ushann commented on #13555
u should try using ;
`minikube delete --all `
or
`minikube delete --purge`
then run your command.

[2022-02-14 18:48] spowelljr commented on #11107
Hi @ysheikh245, as commented above there are a couple different images that work for M1.

https://github.com/kubernetes/minikube/issues/11107#issuecomment-919742761
https://github.com/kubernetes/minikube/issues/11107#issuecomment-981830947

[2022-02-14 22:09] br1anbr1an commented on #9030
Getting same issue on mac.

/remove-lifecycle rotten

[2022-02-15 04:39] frostzt commented on #13597
@afbjorklund So I just reinstalled Ubuntu again (erased the entire disk so fresh install), installed Docker and Docker Rootless is setup. But still the same, doing a `docker info` gives this, note the part:
[code]

[code]
Could it be because of `overlay2`? Idk but docker recommends using it?

[2022-02-15 04:59] frostzt commented on #13597
I also found this
[code]
Is this correct or it is simply failing to find minikube?

[2022-02-15 05:01] frostzt commented on #13597
Post reinstalling os and Docker and Docker rootless here are the `minikube logs` output seems like the issue with fs is gone?
[logs.txt](https://github.com/kubernetes/minikube/files/8065960/logs.txt)

[2022-02-15 07:15] afbjorklund commented on #13597
That is the default (and recommended), so that should not have been it.

[2022-02-15 07:17] frostzt commented on #13597
@afbjorklund could you check the newer logs I have posted here [logs](https://github.com/kubernetes/minikube/files/8065960/logs.txt) these are logs after a fresh install

[2022-02-15 12:15] afbjorklund commented on #13597
Maybe try to get it going with regular docker first, or resort to `--vm` ?

[2022-02-15 12:39] bgshacklett commented on #3870
@Pictor13  Per the documentation (https://minikube.sigs.k8s.io/docs/drivers/virtualbox/):

I was able to fix this by setting my VM Driver in my config, rather than passing it on the command line:
[code]

For some reason, this chose the documented default range of `192.168.59.1/24`, rather than `192.168.99.1/24`, which it was choosing when I passed the `vm-driver` argument on the command line. Perh

[2022-02-15 13:04] frostzt commented on #13597
@afbjorklund well to be honest I was working with `kvm2` till now, the reason I had to do this is for some reason in the nodejs applications running in the pods don't respond, they just hang and throw a `kill`. The issue is that I don't know is that even an issue, because for some people just 2 cpus and the default ram allocated is enough idk why it crashes? So all in all can you suggest what shou

[2022-02-15 16:35] rakarakhi opened #13616 "Minikube cannot add worker nodes"
### What Happened?

**minikube has many defects:**

These needs to be fixed as very high priority.

1. It is mentioned minikube can create a single node cluster. Very contradicting as there is options to add/remove node.
2. Adding node to existing cluster does not work. Same behavior in 1.23.1 and 1.25.1

[code]

**Can create a cluster of 2 nodes**

[code]

**Please find below result  if I try to

[2022-02-15 16:37] khk-globus opened #13617 "Exiting due to GUEST_PROVISION -- misleading error message"
### What Happened?

### Setup

I have a non-standard `$TMPDIR` -- so first of all, kudos for _respecting_ that -- but I made a typo in my setup.  $TMPDIR pointed to an invalid directory.

### Result

[code]

But inspecting that shows that path _does_ exist:
[code]

The logs show the culprit:
[code]

So, minor issue, and easily found, but that _first_ error message could have been tighter.

### Att

[2022-02-15 17:14] rakarakhi commented on #13616
[code]
deleted minikube and started with nodes=3

[code]

[2022-02-15 17:18] rakarakhi commented on #13616
1. I have provided adequate information and workaround.
2. Now I have a 3 node cluster which will suffice my purpose.
3. At your end kindly triage, put appropriate labels and fixe the mentioned issue

This is my humble request to the minikube community. If you need any additional information, I will share gladly.

[2022-02-15 18:29] rakarakhi commented on #13616
I will check and let you know.

Thanks a lot for your time and support.

Regards,

*Rahuldeb Chakrabarty*

Email: ***@***.***
Mobile:  +91 98660 70127
https://www.linkedin.com/in/RahuldebChakrabartyIITB

On Tue, Feb 15, 2022 at 10:58 PM Anders Björklund ***@***.***>
wrote:

[2022-02-15 18:54] jeesmon opened #13618 "Minikube failing to start when running with podman machine on Mac"
### What Happened?

minikube is not able to connect to ssh port

[code]

Log:
[code]

If I use `--listen-address=$(podman machine ssh 2>/dev/null -- ifconfig enp0s2 | grep "inet\b" | awk '{ print $2 }')`, connection is working fine.

According to @afbjorklund, `--listen-address` is not needed as gvproxy supposed to tunnel the port from the host to the guest: https://github.com/containers/podman/is

[2022-02-15 19:06] khk-globus opened #13619 "kubectl SIGSEGV if k8s not running"
### What Happened?

I'm just getting going with Kubernetes, so trying out minikube.  I was in the middle of downloading my first instance with:
[code]

Meanwhile, in another shell I attempted to list.  Bad move apparently:
[code]

This worked _after_ the download finished, but a segfault is, well, a segfault.  :-/

### Attach the log file

[code]

### Operating System

Ubuntu

### Driver

Docker

[2022-02-15 19:13] afbjorklund commented on #13618
Running a `podman machine ssh` to the host, copying over the minikube keys and connection has no issues:

[code]

But trying to connect from the host, using the Podman networking, results in connection failure:

[code]

[2022-02-15 19:15] Noksa opened #13620 "CPU usage is not shown in minikube v1.25.1 when --kubernetes-version=v1.21.2 is specified"
### What Happened?

CPU metrics are not working anymore. They always are zero for all containers.
It works the same for `none` and `docker` drivers. About other drivers I'm not sure.

[code]
[code]

CPU usage is always 0 for all containers all time:
[code]
Or it just says that there are no resources found:
[code]

At the same time it works with v1.22.0 minikube (as example):
[code]
[code]

CPU and

[2022-02-15 19:40] afbjorklund commented on #13618
Minikube is listening to localhost (127.0.0.1), but that doesn't work with gvproxy which always dials ethernet (192.168.127.2)

So the listen address needs to be changed for podman machine, to stop publishing to localhost and use another address.

[2022-02-15 20:10] jeesmon commented on #13618
Thanks @afbjorklund for looking into the details

[2022-02-15 20:25] afbjorklund commented on #13618
@jeesmon So the workaround, as you suggested, is to run with `--listen-address=192.168.127.2`.

That's the (hardcoded) adress that gvproxy gives _every_ machine, similar to qemu slirp's `10.0.2.15`.

Apparently you **can't** publish to 127.0.0.1 with podman-remote, even if that works with podman...

_you are in a maze of twisty little passages, all alike_

----

podman run -d -p 127.0.0.1:8080:80

[2022-02-15 20:40] afbjorklund commented on #13261
Seems to be same root cause as #13618, but there were not enough logs from this restart.

🔄  Restarting existing podman container for "minikube" ...

Follow up in the other issue.

* #13618

[2022-02-15 20:40] #13261 closed

[2022-02-15 20:51] afbjorklund commented on #13618
Problem with the workaround seems to be the wrong address in config.

`Unable to connect to the server: dial tcp 192.168.58.2:8443: connect: no route to host`

There is no  obvious way to get to the minikube network, from the host.

[code]

The cluster itself looks happy enough, if you access it from the inside:

[code]

[2022-02-15 21:26] afbjorklund commented on #13619
Should be easy enough to add a guard against unknown version

[2022-02-16 04:54] pbxqdown opened #13621 ""minikube start" fails on clean environment with "cert expired" problem"
### What Happened?

I purge entire minikube environment and then minikube start. Still failed.
The OS is Ubuntu20.10

### Attach the log file

➜  workspace (⎈ |N/A:default)minikube delete --all --purge

💀  Removed all traces of the "minikube" cluster.
🔥  Successfully deleted all profiles
💀  Successfully purged minikube directory located at - [/home/qian/.minikube]
➜  workspace (⎈ |N/A:default)mini

[2022-02-16 06:48] afbjorklund commented on #13618
Hacks to run podman on developer machines:

[code]

[2022-02-16 12:34] marksartdev commented on #13620
Me too. MacOS. I run with different kubernetes versions.

[2022-02-16 17:45] MarcoR83 commented on #12658
can confirm  the patch is necessary to make it work. patched and build the current stable. v1.25.1. with this minikube startup works fine. hope to see this fixed in a new release in the future :)

[2022-02-16 18:56] spowelljr commented on #13621
Hi @pbxqdown, thanks for reporting your issue!

We're going to look into this issue.

[2022-02-16 19:05] spowelljr commented on #13620
Hi @Noksa, thanks for reporting your issue with minikube!

In 1.24 we started increasing the `kubelet.housekeeping-interval` which seemed to alleviate some CPU usage, but this is likely slowing the output of CPU and memory metrics.

Could you try running `minikube start --driver docker --kubernetes-version=v1.21.2 --extra-config=kubelet.housekeeping-interval=10s` and see if that resolves the repor

[2022-02-16 19:13] spowelljr commented on #13594
Thank you for sharing your experience!

Could you please run `minikube logs --file=logs.txt` and drag and drop the file into this issue.

This will help us isolate the problem further, thank you!

[2022-02-16 19:55] spowelljr commented on #13533
Hi @gabrifolli, are you using a VPN perhaps?

[2022-02-16 19:58] spowelljr commented on #13598
Hi @joaogl, if you run `minikube ssh` with the `--alsologtostderr` flag it will have more verbose output and will have the IP listed in the logs.

[2022-02-16 20:43] marksartdev commented on #13620
Hi @spowelljr, thanks.

It resolved the problem for me.

[2022-02-16 20:52] spowelljr commented on #13620
Glad that worked @marksartdev, the next minikube release will include a `--disable-optimizations` flag.

`--disable-optimizations=false: If set, disables optimizations that are set for local Kubernetes. Including decreasing CoreDNS replicas from 2 to 1 and increasing kubeadm housekeeping-interval from 10s to 5m. Defaults to false.`

[2022-02-16 21:08] spowelljr commented on #13319
@JohnGossett any update?

[2022-02-16 21:31] spowelljr commented on #13527
Hi @alexec, thanks for bringing this to our attention. I tried reproducing this but wasn't able to, could you tell me where in the logs the envs were output, also what driver were you using? As maybe the specific driver is outputting them.

I did
[code]
Didn't find `CAT123` in any of the logs.

[2022-02-16 22:31] spowelljr commented on #13516
Hi @parmeshsingaTR, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-02-16 22:31] #13516 closed

[2022-02-16 23:28] JohnGossett commented on #13319
File permissions didn't seem to be the issue after successfully opening with notepad++ and also manually checking them. Ultimately I ended up completely reinstalling and the issue didn't reoccur, just forgot to update (sorry!)

[2022-02-17 03:26] ugyen1998 commented on #13594
Thank you

Ugyen Tshomo

OJT, Trainee || NDI

GCIT, 2021 Cohort

***@***.***

17817754

On Thu, Feb 17, 2022 at 12:43 AM Steven Powell ***@***.***>
wrote:

[2022-02-17 03:39] huguesBouvier opened #13623 "Cannot build inside pod since mode flag disappeared"
### What Happened?

I am developing a rust application. To limit the development loop, I mount my code from the host into a minikube pod.
From there, I build using cargo build.

I used to mount with the following command:
minikube mount --gid root --pid root --mode 0777 /mycode:/mycode

However, now the option has disappeared and it is not possible to build from inside the pod:
 failed to write /h

[2022-02-17 06:43] afbjorklund commented on #13619
There was no error handling for cc.BinaryMirror, in 4a2c97f28afc141dd59e0471d557cd819bdcf1d4

[2022-02-17 06:45] afbjorklund commented on #13623
Related to:
* https://github.com/kubernetes/minikube/pull/13162

[2022-02-17 07:12] hobbytp commented on #8997
I try the following command in my WSL2, and it can work
`
$ minikube start --network-plugin=cni --cni=calico  --driver=docker --base-image "gcr.io/k8s-minikube/kicbase-builds:v0.0.29-1644344181-13531"
😄  minikube v1.25.1 on Ubuntu 20.04
✨  Using the docker driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🚜  Pulling base image ...
💾  Downloading Kubernete

[2022-02-17 07:32] guihehans commented on #4899
Any update? As Win 10, I add all permissions for the file, but after mounted, the file still has no executable permission.
Even when I login in as root user in Hyper-v, I cannot chmod the file permission.

[2022-02-17 07:44] AmitGorain opened #13624 "Minikube on Windows 10 is not working with Pulse Secure VPN"
### What Happened?

Minikube running on Windows 10 host, failing to start when connected to Pulse Secure VPN.

Command:
minikube start

Error Message:
* minikube v1.25.1 on Microsoft Windows 10 Enterprise 10.0.19042 Build 19042
- MINIKUBE_ACTIVE_DOCKERD=minikube
* Using the hyperv driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Updating the running hyp

[2022-02-17 08:30] iompo opened #13625 "data not restored after restart"
### What Happened?

Hi all, I have a MacOS 12.2.1, Apple M1 Pro. Docker 20.10.12 and minikube 1.25.1.
I create a new cluster with the default settings, add a namespace and then stop the cluster. When I restart it the namespace is lost. Same thing happens with any kind of resource I try to create.
I've seen other issues similar to this, but they were all closed. Docker is the only option for arm, s

[2022-02-17 08:37] Adem-KRIOUANE opened #13626 "booting up control plane"
### What Happened?

minikube start
😄  minikube v1.25.1 on Ubuntu 20.04
✨  Using the none driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🏃  Updating the running none "minikube" bare metal machine ...
ℹ️  OS release is Ubuntu 20.04.3 LTS
🐳  Preparing Kubernetes v1.23.1 on Docker 20.10.11 ...
    ▪ kubelet.housekeeping-interval=5m
    ▪ kubelet.resolv-con

[2022-02-17 09:34] Ka0o0 opened #13627 "Minikube doesn't set proxy settings correctly"
### What Happened?

I'm trying to use minikube from behind a proxy and I don't get it to run. I have configured the proxy settings in `~/.docker/config.json`. What this does is that it automatically injects the HTTP_PROXY and HTTPS_PROXY (also the lower case variants) into every container that is started from the Docker CLI, e.g. `docker run alpine`. I am running a CNTLM proxy locally on my machin

[2022-02-17 09:57] Ka0o0 commented on #13627
Indeed, after removing the proxy settings from `config.json` minikube's Kubernetes is no longer using any proxies.

[2022-02-17 15:45] cvetomir-todorov commented on #11947
+1 from me.

[2022-02-17 15:45] kamalkech opened #13628 "Cannot start minikube"
after run ```minikube start ```
i get
[code]

[2022-02-17 16:16] Noksa commented on #13620
@spowelljr
Thanks, the `--extra-config=kubelet.housekeeping-interval=10s` flag works for me as well.

[2022-02-17 16:16] presztak commented on #13619
/assign

[2022-02-17 18:16] spowelljr commented on #13620
Glad. that worked @Noksa, I'm going to close this issue, but feel free to respond if you have any further questions, thanks!

[2022-02-17 18:16] #13620 closed

[2022-02-17 20:19] ErKriti opened #13629 "Trying to start minikube using virtualbox driver but getting error (Windows 10 Home)"
### What Happened?

I have Windows 10 Home edition build 19042.
**I did below steps:**
Installed Ubuntu 18.04 (this was not working until I enabled WSL, so I enabled WSL2)

Installed kubectl and minikube in linux distro

Installed VBox Version 6.1.32 r149290 (Qt5.6.2)on Windows using .exe file available here https://www.virtualbox.org/ (CPU virualization is ON, Secure boot system is disabled in BI

[2022-02-17 21:19] marwatk commented on #13625
We're seeing the same behavior using `--driver=none` on Centos 7 and Docker 20.10.12.

Here's the errant behavior (1.25.1 and 1.25.0 both have this behavior):
[code]

And here's the correct behavior (1.24.0):
[code]

[2022-02-17 21:26] marwatk commented on #13625
It also happens with `--driver=docker`, which has me wondering if I'm doing something fundamentally wrong because I would expect enough people to be hitting it that an issue would have been filed sooner than 28 days after the release.

[code]

[2022-02-17 21:29] marwatk commented on #13625
Nevermind, this is a duplicate of #13503 and was resolved [here](https://github.com/kubernetes/minikube/issues/13503#issuecomment-1026257723)

[2022-02-18 00:06] gabrifolli commented on #13533
I'm only using OpenVPN on my laptop to connect to my remote NAS.

[2022-02-18 08:28] cwong-openfit commented on #9877
were you able to resolve this issue? i ran into this earlier. heres what i ended up doing.
[code]

export `NO_PROXY` according to https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/
[code]

once i turn on my work VPN, it stopped working. i ended up having to add `--listen-address=192.168.64.1`
[code]

hope it helps.

[2022-02-18 08:51] marcelovcpereira commented on #8283
I also have a similar use case. We automate the whole configuration of the local environment in our company.... and configuring some stuff on minikube is important to achieve this. We, currently, use `registry-creds` externally, but as it is supported as official `addon`, we would love to use it this way. Unfortunately, we can't because we can't automate the configuration of the `addon` for our us

[2022-02-18 10:47] Dan0x54 commented on #1568
I'm finding @azhao155's test works when the replicas are set to two but the test fails if I run
`kubectl scale deploy/my-nginx --replicas=1` (or set the replicas manually in the YAML). It works if the service is headless. Is this the expected behaviour? I'm using the docker driver btw.
[code]

[2022-02-18 11:21] tatramaco commented on #10483
This issue occurs because you are trying to assign an address in the same subnet. It is a /12 so the next available network address is 10.112.0.0/12. Assigning this correctly removes the conflicts which allows you to run 2 tunnels. Not sure if it will help with your cleanup issue.....

[2022-02-18 18:11] #13619 closed, assigned to presztak

[2022-02-18 18:27] spowelljr commented on #13623
Hi @huguesBouvier, thanks for reporting your issue with minikube!

The reason we removed the `--mode` flag is because if you had folder `mycode` on your host machine and it was `0755` if you set `--mode 0777` is would also change the folder permission in the pod but also on your host machine.

`chmod 0777 /mycode` should do that same thing the `--mode` flag was doing.

If you do the above does tha

[2022-02-18 18:58] spowelljr commented on #13625
Hi @iompo, thanks for reporting your issue with minikube!

As @marwatk pointed out this is fixed by https://github.com/kubernetes/minikube/pull/13506 but it currently isn't included with a release yet. However, you can download the binary from this comment that has the fix included https://github.com/kubernetes/minikube/issues/13503#issuecomment-1026257723.

I'm going to close this issue, but feel

[2022-02-18 19:06] spowelljr commented on #13628
Hi @kamalkech, thanks for reporting your issue with minikube!

You're using a very old version of minikube `v1.2.0` the latest version is `v1.25.1`.
Please try updating to the newest version of minikube and delete your existing minikube instance `minikube delete --all --purge` before starting with the new version. Then let me know if you're still experiencing issue, thanks!

[2022-02-18 19:14] spowelljr commented on #13629
Hi @ErKriti, thanks for reporting your issue with minikube!

I did some research and there are multiple blogs talking about the incompatibility of using WSL2 and VirtualBox at the same time.

https://nicolaiarocci.com/troubles-with-virtualbox-and-the-windows-subsystem-for-linux/

Have you considered using Docker Desktop?

[2022-02-18 20:30] huguesBouvier commented on #13623
It does. I understand the rational for the change. Thanks a lot!

[2022-02-18 20:30] #13623 closed

[2022-02-18 21:42] #13022 closed

[2022-02-18 21:47] thor15xxx opened #13634 "minikube doesn't start"
### What Happened?

minikube start --driver=virtualbox --host-only-cidr=192.168.99.1/24 --no-vtx-check
😄  minikube v1.12.1 on Darwin 12.2.1
    ▪ KUBECONFIG=/Users/kayamatimbou028715/istio-tutorial/.kube/config
    ▪ MINIKUBE_HOME=/Users/kayamatimbou028715/istio-tutorial
✨  Using the virtualbox driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🔄  Restarti

[2022-02-18 22:23] spowelljr commented on #13634
Hi @thor15xxx, thanks for reporting your issue with minikube!

If you look at our documentation page on [VirtualBox](https://minikube.sigs.k8s.io/docs/drivers/virtualbox/) you will see the following:
`VirtualBox >= 6.1.28, [only IP addresses in the 192.68.56.0/21 range are allowed for host-only networking by default](https://www.virtualbox.org/manual/ch06.html#network_hostonly). Passing a disallow

[2022-02-18 23:11] punkerpunker opened #13635 "Storage provisioner CrashLoopBackOff: error getting server version dial tcp 10.96.0.1:443: i/o timeout"
### What Happened?

Trying to start minikube cluster with `--driver=none`, getting `storage-provisioner` CrashLoopBackOff.
Running minikube behind the proxy.

Command to start:
`minikube start --driver=none --kubernetes-version=1.20.8 --apiserver-ips 127.0.0.1 --apiserver-name localhost`

[code]

Pods status:
`kubectl get pods -A`

[code]

Storage-provisioner status:
`kubectl -n kube-system logs s

[2022-02-19 05:08] ErKriti commented on #13629
Hi @spowelljr thanks for replying. Yes, I tried using Docker desktop and it's working fine.
I also tried disabling WSL but then Ubuntu is not working on Windows. Is there any way I can run Ubuntu linux distro without WSL on windows 10 home?

Thanks

[2022-02-19 08:35] thor15xxx commented on #13634
when i tried, i have same errors

MacBook-Pro-de-THOR:istio-tutorial kayamatimbou028715$ minikube start --memory=8192 --cpus=3 --kubernetes-version=v1.18.6 --vm-driver=virtualbox -p istio-devnation  --host-only-cidr 192.168.59.1/24

😄  [istio-devnation] minikube v1.12.1 on Darwin 12.2.1
    ▪ KUBECONFIG=/Users/kayamatimbou028715/istio-tutorial/.kube/config
    ▪ MINIKUBE_HOME=/Users/kayamatimbou02

[2022-02-19 13:18] Aashish-cyber opened #13638 "kubelet not enabled in ubuntu."
### What Happened?

kubelet service is not enabled, please run 'systemctl enable kubelet.service'
        [WARNING DirAvailable--var-lib-minikube-etcd]: /var/lib/minikube/etcd is not empty
error execution phase certs/apiserver-kubelet-client: [certs] certificate apiserver-kubelet-client not signed by CA certificate ca: x509: certificate signed by unknown authority (possibly because of "crypto/rsa:

[2022-02-19 18:50] #13634 closed

[2022-02-19 18:52] chrissam commented on #12953
This is more likely due to `suid` not being enabled for the mount where your docker root is pointed to. The fix for me was to run,

[code]

Restart your minikube container if it's already running.
[code]

And then try starting minikube
[code]

[2022-02-20 08:42] afbjorklund commented on #10501
Scope this out of the ISO until we have a working updated image for arm64/aarch64.

[2022-02-20 11:04] gdenn commented on #9268
/assign

@tstromberg this would be my first contribution to kubernetes but i'd like to give it a go.

I would take one-two days to familiarize myself with the code and come back with questions (if something is not clear).

[2022-02-20 17:18] souravsk commented on #9130
PS C:\WINDOWS\system32> minikube config set driver hyperv
! These changes will take effect upon a minikube delete and then a minikube start
PS C:\WINDOWS\system32> minikube delete
* Stopping node "minikube"  ...
* Deleting "minikube" in hyperv ...
* Removed all traces of the "minikube" cluster.
PS C:\WINDOWS\system32> minikube start --vm-driver=Hyper-V
* minikube v1.25.1 on Microsoft Windows 10 Pr

[2022-02-20 19:17] achintya-7 commented on #13638
Faced the same problem here as well.

[2022-02-20 19:37] achintya-7 commented on #13638
So apparently I looked over the internet and found a solution that worked for me.
I had the same issue as `certificate apiserver-kubelet-client not signed by CA certificate ca`

The following command solved all these issues and warnings for me
`minikube delete && minikube start`

Hope this helps

[2022-02-20 22:39] yaleman commented on #9762
/remove-lifecycle stale

[2022-02-21 00:17] minikube-bot opened #13640 "Frequent test failures of `TestForceSystemdFlag`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestForceSystemdFlag)|100.00|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestForceSystemdFlag)|100.00|

[2022-02-21 06:24] saltbo commented on #12926
I tried it, but I change the arch to x86_64 on my m1 MBP. minikube can't run...

The file `kubeadm` `kubectl` and `kubelet` is arm arch bin file. I don't understand why the files such as kubeadm are based on arm architecture in the container image of x86,

[2022-02-21 06:32] afbjorklund commented on #12926
At the moment, minikube _always_ runs the native architecture. Try "examples/k8s.yaml", if you want to emulate ?

[2022-02-21 08:04] panktrip commented on #4051
I am running virtualbox 6.1.32 on windows-10. but I still see the above reported issue.

PS C:> minikube start --driver=virtualbox

* minikube v1.25.1 on Microsoft Windows 10 Enterprise 10.0.19044 Build 19044
* Using the virtualbox driver based on user configuration
* Starting control plane node minikube in cluster minikube
* Creating virtualbox VM (CPUs=2, Memory=4000MB, Disk=20000MB) ...
! Start

[2022-02-21 08:06] panktrip commented on #4051
when I disable the check, as suggested in the error message above,  I do get other error as shown below.

PS C:\WINDOWS\system32> minikube start --driver=virtualbox **--no-vtx-check=true**
* minikube v1.25.1 on Microsoft Windows 10 Enterprise 10.0.19044 Build 19044
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Creating virtualb

[2022-02-21 08:19] panktrip opened #13642 "minikube doesn't create cluster on windows 10 using virtualbox"
### What Happened?

First tried to create cluster using minikube and virtualbox. faced below error.
minikube version 1.25
virtualbox version: 6.1.32 on windows 10

Failed to start virtualbox VM. Running "minikube delete" may fix it: creating host: create: precreate: This computer is running Hyper-V. VirtualBox won't boot a 64bits VM when Hyper-V is activated. Either use Hyper-V as a driver, or dis

[2022-02-21 09:32] panktrip opened #13644 "minikube doesn't work with vmware driver also"
### What Happened?

since minikube failed to create  cluster with virtualbox, so I thought to try with other drivers, and I tried with vmware-workstation now.
But I see, it failed here too.   later I tried with hyper-v and it failed there too.
I am not sure, how others are using it , OR is there any issue with 1.25 version.

PS C:\>  minikube start --driver=vmware
* minikube v1.25.1 on Microsoft W

[2022-02-21 14:07] Aashish-cyber commented on #13638
yeah, i had already solved this issue but thank you brother

[2022-02-21 14:07] #13638 closed

[2022-02-21 15:43] technicalpriyanka opened #13646 "cann't access kubectl from windows prompt"
### What Happened?

access issue

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/8110507/log.txt)

### Operating System

_No response_

### Driver

_No response_

[2022-02-21 15:44] technicalpriyanka opened #13647 "cann't access kubectl from windows prompt"
### What Happened?

access issue

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/8110507/log.txt)

### Operating System

Windows

### Driver

VirtualBox

[2022-02-21 17:48] almssp opened #13648 "Minikube won't start macOS Big Sur Intel Chip"
### What Happened?

Minikube won't start

this is a new install on a macOS.

current running Docket Desktop version 4.5.0

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/8111251/log.txt)

### Operating System

macOS (Default)

### Driver

Docker

[2022-02-21 18:33] reinvantveer commented on #12953
The remount didn't work for me, editing /etc/fstab did. I have the var/lib/docker stuff on a different partition to prevent myself (I've been there) flooding my root partition with Docker data. But for some reason or other, for this partition I had the `nosuid` option set. Removing this option fixed it.

[2022-02-21 21:54] #10737 closed

[2022-02-22 05:36] spowelljr commented on #13628
This is our getting started documentation, there are install instructions for Linux there.

https://minikube.sigs.k8s.io/docs/start/

[2022-02-22 05:38] spowelljr commented on #13629
Ubuntu runs on WSL so it makes sense disabling WSL making Ubuntu stop working. The only way to run Ubuntu otherwise would be to use a VM like VirtualBox or VMware.

[2022-02-22 05:44] spowelljr commented on #13646
Duplicate of https://github.com/kubernetes/minikube/issues/13647, closing

[2022-02-22 05:44] #13646 closed

[2022-02-22 05:53] spowelljr commented on #13626
The kubelet is reporting the error:
`kubelet_node_status.go:595] "Failed to set some node status fields" err="failed to validate nodeIP: node IP: \"192.168.100.22\" not found in the host's network interfaces" node="flexbuntu"`

I haven't seen this error before (but maybe that's just me), also seeing it in another newly reported issue, wonder if this was introduced in minikube 1.25 or if a new upda

[2022-02-22 05:55] spowelljr commented on #13647
Hi @technicalpriyanka, thanks for reporting your issue with minikube!

This seems to be a duplicate of https://github.com/kubernetes/minikube/issues/13626.

Would you mind trying my suggestion in this comment and seeing if that resolves your issue, thanks!

[2022-02-22 07:00] tangingw opened #13653 "Unable to perform sudo correctly"
### What Happened?

I am running using this command
`minikube start --driver=ssh --ssh-user=tangingw --ssh-ip-address=192.168.88.169 --ssh-key='~/.ssh/id_rsa' --native-ssh=false --alsologtostderr`

and the log shows that It is unable to perform the sudo even though I have generated a RSA private and public key for the server. Below is the snippet of the log:

[code]
The version that I am using is

[2022-02-22 07:54] softstuck opened #13655 "mk-minikube: un-retryable: no free private network subnets found with given parameters"
### What Happened?

[hyena@centos ~]$ minikube start --memory=4096 --vm-driver kvm2
* minikube v1.25.1 on Centos 8.0.1905
* Using the kvm2 driver based on existing profile
! You cannot change the memory size for an existing minikube cluster. Please first delete the cluster.
* Starting control plane node minikube in cluster minikube
* Restarting existing kvm2 VM for "minikube" ...
! StartHost faile

[2022-02-22 08:00] softstuck commented on #13655
did all these
[hyena@centos ~]$ minikube delete
* Removing /home/hyena/.minikube/machines/minikube ...
* Removed all traces of the "minikube" cluster.
[hyena@centos ~]$

[hyena@centos ~]$ sudo systemctl restart libvirtd

- nothing works as such.

[2022-02-22 08:10] tangingw commented on #13653
Resolved

[2022-02-22 08:10] #13653 closed

[2022-02-22 08:58] gaellm opened #13656 "minikube upper than 1.24 fail to generate metrics container_cpu_system_seconds_total as a counter"
### What Happened?

When starting minikube 1.25.0 or 1.25.1 (with docker driver, or virtualbox), my CPU metrics graphs fail. I've observed that some prometheus counters value stay constant:
<img width="1420" alt="Capture d’écran 2022-02-22 à 00 17 42" src="https://user-images.githubusercontent.com/7977296/155094922-bb3a8a62-14dc-448e-89ec-d415a94620a0.png">

 When I downgrade to minikube 1.24.0,

[2022-02-22 09:06] ja-nko opened #13657 "The CLIs Suggestion when starting minkube on hyperv without proper hyperv-module is missing a space"
minikube version: 1.24.0
windows version: Windows 10 Pro 10.0.19041 (windows is set to german)

I started minikube with `minikube start --driver=hyperv` without the Hyper-V PowerShell Module installed. The cli suggests running `Enable-WindowsOptionalFeature -Online -FeatureName Microsoft-V-Tools-All`; but `Enable-WindowsOptionalFeature -Online -FeatureName Microsoft-V-Tools -All` would be correct.

[2022-02-22 15:12] ErKriti commented on #13629
Ok, Thank you so much :)

[2022-02-22 17:46] spowelljr commented on #13656
Hi @gaellm, thanks for reporting your issue with minikube!

If you do `minikube start --extra-config=kubelet.housekeeping-interval=10s` it should report metrics correctly, the usage reporting interval was increased to alleviate some CPU usage but you can set it back to the default.

[2022-02-22 17:53] spowelljr commented on #13657
Thanks for reporting the bug @ja-nko!

I created a PR to fix this

[2022-02-22 19:03] afbjorklund commented on #9989
This feature will not make it to the ISO and KIC targets, in time for the 1.26 release

[2022-02-22 19:05] afbjorklund commented on #12953
Not sure if we need to troubleshoot the Docker installation, to look for `nosuid` in the file system ? Hopefully not.

[2022-02-22 20:20] Warxcell commented on #12655
Happened few times on me. Mainly after kernel upgrade I believe. Basically etcd database is wiped - but PVCs are still there. So if I re-run kubectl apply/helm upgrade with same values - all back to normal.

[2022-02-22 22:48] horan116 opened #13660 "Cluster data not persistant using docker driver"
### What Happened?

When using the docker driver on both MacOS and Windows WSL2 (Ubuntu) I am getting similar behavior.

When starting a minikube using docker desktop on both MacOS and WSL 2:
`minikube start --cpus=4 --memory=6g --addons=ingress --driver=docker`

Once the cluster is up, I provision any pods, in my case Ansible AWX Operator. Proceed to continue with:
`minikube stop && minikube star

[2022-02-23 00:17] minikube-bot opened #13661 "Frequent test failures of `TestDownloadOnly/v1.16.0/cached-images`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_crio_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio_arm64&test=TestDownloadOnly/v1.16.0/cached-images)|100.00|

[2022-02-23 00:17] minikube-bot opened #13662 "Frequent test failures of `TestDownloadOnly/v1.23.3/cached-images`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_crio_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio_arm64&test=TestDownloadOnly/v1.23.3/cached-images)|100.00|

[2022-02-23 00:17] minikube-bot opened #13663 "Frequent test failures of `TestDownloadOnly/v1.23.4-rc.0/cached-images`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Linux_crio_arm64](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Linux_crio_arm64&test=TestDownloadOnly/v1.23.4-rc.0/cached-images)|100.00|

[2022-02-23 06:16] subbu-clustrex commented on #13620
@spowelljr I am running minikube by using this `minikube start --driver docker --kubernetes-version=v1.21.2 --extra-config=kubelet.housekeeping-interval=10s`. It gives metrics for the pods that are in the default namespace. After some time it gives an error for the same pod
`$ kubectl top pods`
`error: Metrics not available for pod default/nginx-67dff5cc7f-57f2l, age: 13m30.207072682s`

[2022-02-23 07:08] RA489 commented on #11534
/remove-lifecycle stale

[2022-02-23 07:10] RA489 commented on #12755
/remove-lifecycle rotten

[2022-02-23 07:10] RA489 commented on #12038
/remove-lifecycle stale

[2022-02-23 07:11] RA489 commented on #11903
/remove-lifecycle stale

[2022-02-23 07:11] RA489 commented on #11954
/remove-lifecycle stale

[2022-02-23 07:11] RA489 commented on #9452
/remove-lifecycle stale

[2022-02-23 07:12] RA489 commented on #9834
/remove-lifecycle stale

[2022-02-23 07:13] RA489 commented on #11897
/remove-lifecycle stale

[2022-02-23 07:14] RA489 commented on #11580
/remove-lifecycle stale

[2022-02-23 07:44] sabeersulaiman commented on #12655
@spowelljr I have been using minikube on my local machine for development and I have to run `minikube start` every time I restart my machine, but it just creates a brand new cluster and I have to reconfigure and install everything again. Also if I run `minikube stop` to stop the cluster temporarily the same thing happens. I am adding the output for `minikube start` after machine restart below. If

[2022-02-23 08:06] Warxcell commented on #12655
Same here actually - on every start etcd is wiped out.

Using minikube on ArchLinux with driver=docker.

Before minikube start:

[code]

After minikube start:
[code]

I found this related to etcd in the --alsologtostderr

[code]

[2022-02-23 08:47] afbjorklund commented on #12655
Please try again with later minikube, in case it is the cluster getting deleted. This should be visible from the output, though.

* #13503

[2022-02-23 08:49] afbjorklund commented on #13660
Seems to be the same as:

* #13503

[2022-02-23 08:49] Warxcell commented on #12655
@afbjorklund i'm using

[code]

[2022-02-23 09:34] gaellm commented on #13656
Hi, thanks @spowelljr, indeed, this parameter solves the problem.

[2022-02-23 11:57] kamalkech commented on #13628
ok thank  u

[2022-02-23 11:57] #13628 closed

[2022-02-23 13:24] siikanen commented on #13509
Same issue here. Seems like there has been issues with minikube when it tries to connect to gcr.io. However seems the issue fixes itself by just waiting along

[2022-02-23 19:18] #13573 closed, assigned to nobody

[2022-02-23 19:18] klaases commented on #13568
Hi [zarifeyeman](https://github.com/zarifeyeman), did you have a chance to review @spowelljr's comment above?

[2022-02-23 19:19] klaases commented on #13430
Hi @[bekamdo](https://github.com/bekamdo) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact min

[2022-02-23 19:19] #13430 closed

[2022-02-23 19:24] spowelljr commented on #13396
Hi @pchanas, thanks for reporting your issue with minikube!

This is a duplicate of https://github.com/kubernetes/minikube/issues/4206, so I'll close this issue as that issue has many comments and suggestions on it. Please read https://github.com/kubernetes/minikube/issues/4206 and see if any of the advice applies to you, thanks!

-----

Salut @pchanas, merci d'avoir signalé votre problème avec mi

[2022-02-23 19:24] #13396 closed

[2022-02-23 19:24] klaases commented on #13406
Hi @[backtrackshubham](https://github.com/backtrackshubham), did you have a chance to review @afbjorklund's comment on the [linked](https://github.com/kubernetes-sigs/kind/issues/2597) issue?

`I think you want to open a new issue for which "docker" to use in kind, it is off-topic here.`

[2022-02-23 19:25] spowelljr commented on #13375
Hi @ahmedas1980, did this resolve your issue? Can I close this issue? Thanks!

[2022-02-23 19:25] klaases commented on #13298
Hi @[inductor](https://github.com/inductor) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact m

[2022-02-23 19:25] #13298 closed

[2022-02-23 19:28] klaases commented on #13394
Hi @[gAmUssA](https://github.com/gAmUssA), we are working on getting testing setup for M1 machines, and at that point we will be able to further debug this issue. Thanks for your patience!

[2022-02-23 19:30] klaases commented on #13355
Hi @[Alan-Jino](https://github.com/Alan-Jino), although we see a path to the local log file, could you attach the actual log file? We currently cannot see it.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line used

* Attach the full output of minikube logs, run `minikube logs --file=logs.txt` to create

[2022-02-23 19:31] klaases commented on #13346
Hi @[mikwieczorek](https://github.com/mikwieczorek), were you able to resolve this based on @[afbjorklund](https://github.com/afbjorklund)'s comment above?

[2022-02-23 19:31] sharifelgamal commented on #13351
yeah, this is a known issue for gcp-auth, I appreciate you filing this. i took a shot at implementing this in the webhook repo awhile ago, but never finished it. i'll take another look soon.

[2022-02-23 19:38] klaases commented on #12950
From what I can tell, the the network was already being used by docker, which would be related to your network configuration. For minikube, subnet creation should iterate up to a point, approx. 20 tries.

For additional debugging purposes, provide additional details from docker.

Please share the output of `docker network ls`

And also share the output of `docker inspect [name of the network]`

Th

[2022-02-23 19:41] klaases commented on #12749
Closing out as OP left Github, if anyone needs to re-open the issue by commenting with `/reopen`.

[2022-02-23 19:41] #12749 closed

[2022-02-23 19:43] spowelljr commented on #12733
One thing I'm not sure of is whether 9P supports multiple string arguments out of box or if we're going to have to loop over all the mount strings. Doesn't matter either way, but just something to think about.

[2022-02-23 19:44] spowelljr commented on #12673
Hi @amitsalunkhe21, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-02-23 19:44] #12673 closed

[2022-02-23 19:44] spowelljr commented on #11449
Hi @techstacksavvy, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-02-23 19:44] #11449 closed

[2022-02-23 19:50] spowelljr commented on #12846
Hi @chungjin, this is an issue you can work on if you're interested.

[2022-02-23 20:03] #13571 closed

[2022-02-23 20:09] chungjin commented on #12846
/assign

[2022-02-24 00:18] minikube-bot opened #13670 "Frequent test failures of `TestForceSystemdEnv`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestForceSystemdEnv)|100.00|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestForceSystemdEnv)|100.00|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?en

[2022-02-24 00:18] minikube-bot opened #13671 "Frequent test failures of `TestFunctional/parallel/CertSync`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/parallel/CertSync)|20.00|

[2022-02-24 00:18] minikube-bot opened #13672 "Frequent test failures of `TestFunctional/parallel/CpCmd`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/parallel/CpCmd)|20.00|

[2022-02-24 00:18] minikube-bot opened #13673 "Frequent test failures of `TestFunctional/parallel/FileSync`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/parallel/FileSync)|20.00|

[2022-02-24 00:18] minikube-bot opened #13674 "Frequent test failures of `TestFunctional/parallel/ImageCommands/ImageReloadDaemon`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/parallel/ImageCommands/ImageReloadDaemon)|20.00|

[2022-02-24 00:18] minikube-bot opened #13675 "Frequent test failures of `TestFunctional/parallel/ImageCommands/ImageTagAndLoadDaemon`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/parallel/ImageCommands/ImageTagAndLoadDaemon)|20.00|

[2022-02-24 00:18] minikube-bot opened #13676 "Frequent test failures of `TestFunctional/parallel/NodeLabels`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/parallel/NodeLabels)|50.00|

[2022-02-24 00:18] minikube-bot opened #13677 "Frequent test failures of `TestFunctional/parallel/NonActiveRuntimeDisabled`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/parallel/NonActiveRuntimeDisabled)|20.00|

[2022-02-24 00:18] minikube-bot opened #13678 "Frequent test failures of `TestFunctional/parallel/SSHCmd`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/parallel/SSHCmd)|20.00|

[2022-02-24 00:18] minikube-bot opened #13679 "Frequent test failures of `TestFunctional/serial/CacheCmd/cache/cache_reload`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/serial/CacheCmd/cache/cache_reload)|100.00|

[2022-02-24 00:18] minikube-bot opened #13680 "Frequent test failures of `TestFunctional/serial/CacheCmd/cache/verify_cache_inside_node`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/serial/CacheCmd/cache/verify_cache_inside_node)|100.00|

[2022-02-24 00:18] minikube-bot opened #13681 "Frequent test failures of `TestFunctional/serial/ComponentHealth`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/serial/ComponentHealth)|100.00|

[2022-02-24 00:18] minikube-bot opened #13682 "Frequent test failures of `TestFunctional/serial/KubeContext`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/serial/KubeContext)|100.00|

[2022-02-24 00:18] minikube-bot opened #13683 "Frequent test failures of `TestFunctional/serial/KubectlGetPods`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/serial/KubectlGetPods)|100.00|

[2022-02-24 00:18] minikube-bot opened #13684 "Frequent test failures of `TestFunctional/serial/LogsCmd`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyperkit_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyperkit_macOS&test=TestFunctional/serial/LogsCmd)|25.81|

[2022-02-24 00:18] minikube-bot opened #13685 "Frequent test failures of `TestFunctional/serial/LogsFileCmd`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/serial/LogsFileCmd)|100.00|

[2022-02-24 00:18] minikube-bot opened #13686 "Frequent test failures of `TestFunctional/serial/MinikubeKubectlCmd`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestFunctional/serial/MinikubeKubectlCmd)|100.00|

[2022-02-24 00:18] minikube-bot opened #13687 "Frequent test failures of `TestFunctional/serial/MinikubeKubectlCmdDirectly`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestFunctional/serial/MinikubeKubectlCmdDirectly)|50.00|

[2022-02-24 00:18] minikube-bot opened #13688 "Frequent test failures of `TestJSONOutput/stop/Audit`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=KVM_Linux_crio&test=TestJSONOutput/stop/Audit)|94.81|

[2022-02-24 00:18] minikube-bot opened #13689 "Frequent test failures of `TestJSONOutput/stop/Command`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestJSONOutput/stop/Command)|100.00|

[2022-02-24 02:17] minikube-bot opened #13690 "Frequent test failures of `TestJSONOutput/stop/parallel/DistinctCurrentSteps`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=KVM_Linux_crio&test=TestJSONOutput/stop/parallel/DistinctCurrentSteps)|94.81|

[2022-02-24 02:17] minikube-bot opened #13691 "Frequent test failures of `TestJSONOutput/stop/parallel/IncreasingCurrentSteps`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=KVM_Linux_crio&test=TestJSONOutput/stop/parallel/IncreasingCurrentSteps)|94.81|

[2022-02-24 02:17] minikube-bot opened #13692 "Frequent test failures of `TestNetworkPlugins/group/flannel/Start`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestNetworkPlugins/group/flannel/Start)|100.00|

[2022-02-24 02:17] minikube-bot opened #13693 "Frequent test failures of `TestStartStop/group/default-k8s-different-port/serial/EnableAddonAfterStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_macOS&test=TestStartStop/group/default-k8s-different-port/serial/EnableAddonAfterStop)|20.00|

[2022-02-24 02:17] minikube-bot opened #13694 "Frequent test failures of `TestStartStop/group/default-k8s-different-port/serial/EnableAddonWhileActive`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=QEMU_macOS&test=TestStartStop/group/default-k8s-different-port/serial/EnableAddonWhileActive)|100.00|
|[Docker_Windows](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Windows&test

[2022-02-24 02:17] minikube-bot opened #13695 "Frequent test failures of `TestStartStop/group/default-k8s-different-port/serial/Stop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_macOS](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_macOS&test=TestStartStop/group/default-k8s-different-port/serial/Stop)|20.00|

[2022-02-24 02:17] minikube-bot opened #13696 "Frequent test failures of `TestStartStop/group/embed-certs/serial/AddonExistsAfterStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/embed-certs/serial/AddonExistsAfterStop)|100.00|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestStartStop/group/embed-certs/serial/AddonExistsAfterSto

[2022-02-24 02:17] minikube-bot opened #13697 "Frequent test failures of `TestStartStop/group/embed-certs/serial/EnableAddonAfterStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestStartStop/group/embed-certs/serial/EnableAddonAfterStop)|100.00|

[2022-02-24 02:17] minikube-bot opened #13698 "Frequent test failures of `TestStartStop/group/embed-certs/serial/Pause`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/embed-certs/serial/Pause)|100.00|

[2022-02-24 02:17] minikube-bot opened #13699 "Frequent test failures of `TestStartStop/group/embed-certs/serial/SecondStart`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/embed-certs/serial/SecondStart)|100.00|

[2022-02-24 02:17] minikube-bot opened #13700 "Frequent test failures of `TestStartStop/group/embed-certs/serial/Stop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestStartStop/group/embed-certs/serial/Stop)|46.55|

[2022-02-24 02:18] minikube-bot opened #13701 "Frequent test failures of `TestStartStop/group/embed-certs/serial/UserAppExistsAfterStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/embed-certs/serial/UserAppExistsAfterStop)|100.00|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestStartStop/group/embed-certs/serial/UserAppExistsAfte

[2022-02-24 02:18] minikube-bot opened #13702 "Frequent test failures of `TestStartStop/group/embed-certs/serial/VerifyKubernetesImages`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/embed-certs/serial/VerifyKubernetesImages)|100.00|

[2022-02-24 02:18] minikube-bot opened #13703 "Frequent test failures of `TestStartStop/group/newest-cni/serial/EnableAddonAfterStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestStartStop/group/newest-cni/serial/EnableAddonAfterStop)|100.00|

[2022-02-24 02:18] minikube-bot opened #13704 "Frequent test failures of `TestStartStop/group/newest-cni/serial/FirstStart`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/newest-cni/serial/FirstStart)|100.00|

[2022-02-24 02:18] minikube-bot opened #13705 "Frequent test failures of `TestStartStop/group/newest-cni/serial/Stop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestStartStop/group/newest-cni/serial/Stop)|100.00|

[2022-02-24 02:18] minikube-bot opened #13706 "Frequent test failures of `TestStartStop/group/newest-cni/serial/VerifyKubernetesImages`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/newest-cni/serial/VerifyKubernetesImages)|100.00|

[2022-02-24 02:18] minikube-bot opened #13707 "Frequent test failures of `TestStartStop/group/no-preload/serial/AddonExistsAfterStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/no-preload/serial/AddonExistsAfterStop)|100.00|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestStartStop/group/no-preload/serial/AddonExistsAfterStop)

[2022-02-24 02:18] minikube-bot opened #13708 "Frequent test failures of `TestStartStop/group/no-preload/serial/EnableAddonAfterStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestStartStop/group/no-preload/serial/EnableAddonAfterStop)|46.55|

[2022-02-24 02:18] minikube-bot opened #13709 "Frequent test failures of `TestStartStop/group/no-preload/serial/EnableAddonWhileActive`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/no-preload/serial/EnableAddonWhileActive)|100.00|

[2022-02-24 04:17] minikube-bot opened #13710 "Frequent test failures of `TestStartStop/group/no-preload/serial/Pause`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/no-preload/serial/Pause)|100.00|

[2022-02-24 04:17] minikube-bot opened #13711 "Frequent test failures of `TestStartStop/group/no-preload/serial/SecondStart`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/no-preload/serial/SecondStart)|100.00|

[2022-02-24 04:17] minikube-bot opened #13712 "Frequent test failures of `TestStartStop/group/no-preload/serial/Stop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://storage.googleapis.com/minikube-flake-rate/flake_chart.html?env=Docker_Windows&test=TestStartStop/group/no-preload/serial/Stop)|32.56|

[2022-02-24 04:17] minikube-bot opened #13713 "Frequent test failures of `TestStartStop/group/no-preload/serial/UserAppExistsAfterStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/no-preload/serial/UserAppExistsAfterStop)|100.00|
|[KVM_Linux_crio](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=KVM_Linux_crio&test=TestStartStop/group/no-preload/serial/UserAppExistsAfterS

[2022-02-24 04:17] minikube-bot opened #13714 "Frequent test failures of `TestStartStop/group/no-preload/serial/VerifyKubernetesImages`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestStartStop/group/no-preload/serial/VerifyKubernetesImages)|100.00|

[2022-02-24 04:17] minikube-bot opened #13715 "Frequent test failures of `TestStartStop/group/old-k8s-version/serial/EnableAddonAfterStop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestStartStop/group/old-k8s-version/serial/EnableAddonAfterStop)|100.00|

[2022-02-24 04:17] minikube-bot opened #13716 "Frequent test failures of `TestStartStop/group/old-k8s-version/serial/Stop`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestStartStop/group/old-k8s-version/serial/Stop)|100.00|

[2022-02-24 13:22] amartens1 commented on #12655
@Warxcell look here to see if it solves your problem
https://github.com/kubernetes/minikube/issues/13503#issuecomment-1026257723
Seems that minikube is broken since January

[2022-02-24 14:56] amartens1 commented on #13660
Same issue with Linux (Debian)
@horan116 look here if this helps you
https://github.com/kubernetes/minikube/issues/13503#issuecomment-1026257723
@afbjorklund when is the next release scheduled for ?
Thanks

[2022-02-24 15:29] afbjorklund commented on #13660
See "milestones"

I think the 1.25.2 bug fix release was this week, though ?

[2022-02-24 15:38] horan116 commented on #13660
@amartens1 Thank you, it appears using the other binary has corrected my issue. Unfortunately after all of my data is lost but I am glad this is resolved now. Thank you for the quick response!

[2022-02-24 17:51] devNaresh opened #13717 "Ping to host.minikube.internal not working on Mac OS on Hyperkit"
### What Happened?

I am using macos monterey and installed minikube using brew. Inside minikube cluster i am trying to connect to service running on my host machine but it's not working. Steps to reproduce and logs.
[code]

I am not able to figure out why it's not working.

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8134674/logs.txt)

### Operating System

ma

[2022-02-24 19:36] spowelljr commented on #12655
1.25.2 is released

https://github.com/kubernetes/minikube/releases/tag/v1.25.2

[2022-02-24 20:35] amartens1 commented on #12655
Great news - thank you very much indeed

El El jue, 24 feb 2022 a las 20:36, Steven Powell ***@***.***>
escribió:

[2022-02-25 04:38] jcostom commented on #9798
I was just experiencing this exact problem on macOS 11.6.4 using the freshly installed combination of:

- Docker 20.10.12
- Hyperkit 0.20200908
- Minikube 1.25.2

All straight out of Homebrew. The fix? I went into the Security & Privacy System Preferences Panel, Firewall Tab, Firewall Options. I deactivated "Stealth Mode". Everything worked like a charm from that point forward.

[2022-02-25 05:46] Anis1988 opened #13725 "minikube issue"
### What Happened?

I can't seem to run kubernetes (minikube)
when I run minikube start i get the following message:

💢  initialization failed, will try again: wait: /bin/bash -c "sudo env PATH="/var/lib/minikube/binaries/v1.19.2:$PATH" kubeadm init --config /var/tmp/minikube/kubeadm.yaml  --ignore-preflight-errors=DirAvailable--etc-kubernetes-manifests,DirAvailable--var-lib-minikube,DirAvailable-

[2022-02-25 19:13] shubhamphegade commented on #9495
Try the below commands sequentially:
minikube config set driver docker
minikube delete
minikube start --driver=docker

hope it help as it worked for me

[2022-02-25 19:54] mgabeler-lee-6rs opened #13726 "kube-proxy doesn't work on first start with none-driver"
### What Happened?

On the first start of minikube on a fresh install, the `control-plane.minikube.internal` host is not resolvable by the `kube-proxy` pod, resulting in that functionality not working correctly.

Stopping minikube and starting it again results in it working properly.

Simultaneously, also seeing the storage provisioner error described in #13635 which seems like it _might_ have a r

[2022-02-25 20:00] mgabeler-lee-6rs commented on #13635
I saw another error in concert with this one, which I think _may_ actually share a root cause: #13726

FWIW, the workaround for that issue (restart minikube) also cleared this issue for me

[2022-02-25 21:39] drewhagen commented on #11580
I'm running into this issue as well.

[2022-02-25 21:40] drewhagen commented on #9971
I'm running into this issue as well, and my Windows admin password did not work.

I'm running on WSL, and my ubuntu password didn't work either.

[2022-02-26 10:37] dazzzed opened #13729 "Can't start minikube inside docker network"
### What Happened?

I'm trying to start minikube on ubuntu 18.04 inside nginx proxy manager docker network in order to setup some kubernetes services and manage the domain names and the proxy hosts in the nginx proxy manager platform.

so I have `nginxproxymanager_default` docker network and when I run `minikube start --network=nginxproxymanager_default` I get

what might I been doing wrong?

###

[2022-02-26 14:57] presztak commented on #12315
I've started working on this.

/assign

[2022-02-26 21:20] Poweranimal commented on #12165
Is there an alternative storage driver one can use for minikube that supports multi-node setups?

[2022-02-26 21:29] R-omk commented on #12165
[code]

[2022-02-26 21:50] Poweranimal commented on #12165
@R-omk Thanks for your quick reply.

So this installs the rancher `local-path-provisioner` into my minikube cluster.
Then one sets the `local-path-provisioner` to the default storage class.

I will install it in the upcoming days in my cluster and will let you know, if I face any troubles ;)

[2022-02-27 13:14] gdenn commented on #9268
I started minikube and specified the `--logging-format` json through the `--extra-config` for all control plane components:

[code]

The logoutput indicates that kubeadm does not support `--logging-format` yet:

[code]

Starting minikube without specifying `--logging-format` for kubeadm through the extra-config worked:

[code]

So i'll add the `--loging-format` flag to `start_flags.go` and propaga

[2022-02-27 14:27] Poweranimal commented on #12165
@R-omk Yes, the [local-path-provisioner](https://github.com/rancher/local-path-provisioner) solved all my multi node issues.
Thanks a lot!

[2022-02-28 02:17] minikube-bot opened #13731 "Frequent test failures of `TestNoKubernetes/serial/ProfileList`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestNoKubernetes/serial/ProfileList)|100.00|

[2022-02-28 03:10] erlangparasu commented on #13634
@spowelljr sorry but it's not working

[2022-02-28 03:17] erlangparasu commented on #12769
https://github.com/kubernetes/minikube/issues/12765

[2022-02-28 04:29] RA489 commented on #9339
/remove-lifecycle stale

[2022-02-28 07:34] RA489 commented on #13729
/kind support

[2022-02-28 07:35] RA489 commented on #13726
/kind support

[2022-02-28 07:35] RA489 commented on #13725
/kind support

[2022-02-28 07:35] RA489 commented on #13717
/kind support

[2022-02-28 07:48] t-inu commented on #13500
I'll create a PR. Please review if possible.
/assign

[2022-02-28 18:15] spowelljr commented on #13634
Hi @erlangparasu, could you open a new issue with the specifics of the error you're encountering and we can help you there, thanks!

[2022-02-28 18:18] spowelljr commented on #13725
Hi @Anis1988, thanks for reporting your issue with minikube!

We're aware of some certificate issues and are looking into them. In the meantime does `minikube delete --all --purge` and then trying to start minikube again resolve your issue?

[2022-02-28 18:24] Anis1988 commented on #13725
Yes that solved it !!!

Thank you so much

[2022-02-28 18:26] spowelljr commented on #13725
Glad that worked! Since we have other issues open tracking the certificate issue I'm going to close this one, but if you have any further questions feel free to respond and reopen this issue.

[2022-02-28 18:26] #13725 closed

[2022-02-28 18:27] Anis1988 commented on #13725
You are amazing
Again thank you so much !!!

[2022-02-28 20:19] optimizasean commented on #12614
Oh yeah, still a problem but I hard pivoted to several other tech stacks to test things and ended up going with podman.  I got minikube working with that as a base, just not with the hyperkit vms.  I really would like this one to work out of the box with hyperkit though because native performance benefits and less other softwares to layer.

Reinstalling and testing now, haven't messed with it sinc

[2022-02-28 20:22] optimizasean commented on #12614
So if I switch to an admin user: `su - someadmin`

Then sudo touch /var/db/dhcp_leases

Then go back to standard user and do the startup of install and start (like in original ticket)
It seems to work?

Maybe something has been updated somewhere, not sure.  I guess we can leave this as closed since that appears to be the fix to make it work now 😁

Thanks @spowelljr !

[2022-03-01 03:19] carleeto commented on #8765
In case it helps, I can reproduce the issue with the docker driver on Ubuntu 20.04 LTS.
However, using a different driver (like kvm2) works perfectly: `minikube delete --all --purge && minikube start --driver=kvm2`

Logs for `minikube start` after running `minikube delete --all --purge`:
[logs.txt](https://github.com/kubernetes/minikube/files/8158520/logs.txt)

[2022-03-01 09:08] yuandongx opened #13733 "minikube start 启动失败"
**重现问题所需的命令**：
minikube start --base-image="docker.io/kicbase/stable:v0.0.30" --kubernetes-version v1.23.0
**失败的命令的完整输出**：<details>
minikube start --base-image="docker.io/kicbase/stable:v0.0.30" --kubernetes-version v1.23.0
* minikube v1.25.2 on Centos 8.3.2011 (amd64)
* Automatically selected the podman driver
* Starting control plane node minikube in cluster minikube
* Pulling base image ...
* D

[2022-03-01 15:57] fabulias opened #13734 "Can't start minikube cluster"
### What Happened?

I was trying to start my minikube cluster as always, but I had a lot of downloading errors.

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8162902/logs.txt)
[minikube_logs_5828a80ea0ab8512d037b0d602f77c16e986ed79_0.log](https://github.com/kubernetes/minikube/files/8162907/minikube_logs_5828a80ea0ab8512d037b0d602f77c16e986ed79_0.log)

### Opera

[2022-03-01 17:38] fabulias commented on #13734
I tried three different "solutions",

1- Upgrade `minikube` and re-run the command.
2- Delete `minikube` and re-install.
3- Reboot my laptop (this works).

[2022-03-01 17:38] #13734 closed

[2022-03-01 18:18] #13272 closed

[2022-03-01 18:18] #13273 closed

[2022-03-01 18:18] #13688 closed

[2022-03-01 18:19] #13690 closed

[2022-03-01 18:19] #13691 closed

[2022-03-01 18:19] #13276 closed

[2022-03-01 20:20] purejgleason opened #13736 "Getting "panic: runtime error" when using minikube service in 1.25.2"
### What Happened?

I create a new minikube cluster

    minikube start --memory=8192 --cpus=4 -n 2

I create a namespace and deploytment/service...

    kubectl create ns foo
    kubectl apply -f test-app/app.yml

[code]

Next I start up as a service...

    minikube service test-app -n foo --url

in `1.25.1` everything runs fine when I try from `1.25.2` I get...

[code]

### Attach the log file

[2022-03-01 20:21] purejgleason commented on #13736
Also tried compiling from master (and tag) and get the same thing.

[2022-03-01 22:19] vraghavach opened #13737 "Exiting due to MK_ADDON_ENABLE"
### What Happened?

With minikube 1.25.2 and Kubernetes 1.20.2 could not enable ngnix ingress controller. All the details are attached. Some flavors of these have been reported. But do not see any with the latest version.

### Attach the log file

*
* ==> Audit <==
* |---------|----------------|----------|----------|---------|-------------------------------|-------------------------------|
| Comma

[2022-03-01 22:20] vraghavach opened #13738 "Exiting due to MK_ADDON_ENABLE"
### What Happened?

With minikube 1.25.2 and Kubernetes 1.20.2 could not enable ngnix ingress controller. All the details are attached. Some flavors of these have been reported. But do not see any with the latest version.

### Attach the log file

*
* ==> Audit <==
* |---------|----------------|----------|----------|---------|-------------------------------|-------------------------------|
| Comma

[2022-03-02 02:21] RA489 commented on #12042
/remove-lifecycle stale

[2022-03-02 04:41] jkempf42 opened #13740 "Can't get ingress-dns running on Ubuntu 20.04"
### What Happened?

I can't seem to get ingress-dns running on Ubuntu 20.04. I tried the installation and configuration suggestions in the installation instructions [here](https://minikube.sigs.k8s.io/docs/handbook/addons/ingress-dns/) and the instructions in the issue list for this repo  [here](https://github.com/kubernetes/minikube/issues/10517) but I could not get the basic `hello-john.test` an

[2022-03-02 06:57] vraghavach commented on #13737
Opened a new one. Closing this.

[2022-03-02 06:57] #13737 closed

[2022-03-02 08:15] zjgemi opened #13742 "[container-runtime=cri-o] kube-proxy fails with apply caps: operation not permitted [both CentOS8 and MacOS]"
### What Happened?

Kube-proxy always reports `container_linux.go:380: starting container process caused: apply caps: operation not permitted` when I use cri-o as the container runtime, irrespective of CentOS 8 or Mac OS used.

On CentOS 8:
`uname -a`
[code]
`systemctl --version`
[code]
`minikube start --container-runtime=cri-o --alsologtostderr`
[centos8_start.log](https://github.com/kubernetes/m

[2022-03-02 11:01] Rexar37 opened #13743 "minikube crashed"
sudo minikube start --vm-driver=none

whenever I use this command, it shows minikube crashed
What to do?

[2022-03-02 14:06] xinmans commented on #12842
i'm run on unbunt20.04, encount this message, but check the docker status, limit is 6G, what's wrong?
[admin@k8s2 ~]$ minikube start --memory=3069mb
😄  Centos 8.5.2111 (kvm/amd64) 上的 minikube v1.24.0
✨  根据现有的配置文件使用 docker 驱动程序
❗  Your cgroup does not allow setting memory.
    ▪ More information: https://docs.docker.com/engine/install/linux-postinstall/#your-kernel-does-not-support-cgroup-swap-limi

[2022-03-02 16:02] blacksd commented on #11510
This bug is still present; whenever hyperkit is not selecting the default network of `192.168.64.0/24` the `start` and `mount` command behave incorrectly.

[code]

Mount fails with
<details>

<summary>Mount fail log</summary>

[code]

</details>

Please note how it's referencing the `192.168.84.1` here too, but that CIDR it's not configured anywhere - and I'd really like to avoid passing the IP as

[2022-03-02 16:04] blacksd commented on #12729
@spowelljr does it work for you if try also changing the IP as mentioned by @evilhamsterman in [their comment](https://github.com/kubernetes/minikube/issues/12729#issuecomment-949824254)?

[2022-03-02 16:50] mikwieczorek commented on #13346
@klaases No, I did not use `proxy` (nginx). I sticked to using my host-machine IP instead of `localhost`. Works, but is not that elegant and versatile maybe

[2022-03-02 17:29] afbjorklund commented on #11706
I think we should update podman to version 3.4.2 (or 3.4.4)

I don't plan on adding podman4 like ever, since it is not needed.

[2022-03-02 19:07] spowelljr commented on #13566
Hi @mwoodpatrick, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-03-02 19:07] #13566 closed

[2022-03-02 19:08] spowelljr commented on #12108
Hi @awhileback, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-03-02 19:08] #12108 closed

[2022-03-02 19:11] spowelljr commented on #12072
arm should now be available since a couple releases ago, you can view all our release artifacts here https://github.com/kubernetes/minikube/releases/tag/v1.25.2

I'm going to close this issue, but if you have any further questions feel free to reopen and respond, thanks!

[2022-03-02 19:11] #12072 closed

[2022-03-02 19:12] spowelljr commented on #10701
@tharun208 Are you still working on this? If you are please re-comment `/assign`, thank you!

[2022-03-02 19:12] sharifelgamal commented on #13319
Cool, I'll go ahead and close this issue then. Feel free to reopen if you ever run into it again.

[2022-03-02 19:12] #13319 closed

[2022-03-02 19:12] spowelljr commented on #10701
Sorry, just noticed the PR

[2022-03-02 19:22] sharifelgamal commented on #13655
Hey @softstuck, can you run `virsh net-list`? If there are more than 20 active libvirt networks running, minikube won't be able to find a free one. If that's indeed the case, running `virsh net-destroy` on the old minikube networks should fix the issue.

[2022-03-02 19:24] spowelljr commented on #13494
Hi @mondayEast, thanks for reporting your issue with minikube!

You're currently using minikube `v1.4.0` which is an extremely old version, the current version of minikube is `v1.25.2`. Please try updating to the newest version of minikube, and run `minikube delete --all --purge` before trying to start minikube with the updated version.

[2022-03-02 19:26] sharifelgamal commented on #13502
Hey @naseercs91, is there any reason you're running `--force`? There's clearly some sort of permissions issues happening but it's not clear what's happening based on the info provided.

If it is still happening (both with and without `--force`), please run `minikube logs --file=logs.txt` and upload the contents of logs.txt here.

[2022-03-02 19:27] #13657 closed

[2022-03-02 19:37] sharifelgamal commented on #10085
If there is a way to integrate the steps specified above into a PR in minikube's code directly, I would to review it.

[2022-03-02 19:38] klaases commented on #13498
Hi @[chrisc1122](https://github.com/chrisc1122), were you able to apply @[alidurgun](https://github.com/alidurgun)'s suggestion?

[2022-03-02 19:41] klaases commented on #13495
Hi @manyfacegod, are you using the "--force" with delete?

[2022-03-02 19:42] sharifelgamal commented on #11645
I'm not sure what exactly is causing this issue, I would love someone to take a closer look.

[2022-03-02 19:46] klaases commented on #13492
Hi @[dnguyenzd](https://github.com/dnguyenzd), were you able to get this to work?

[2022-03-02 19:48] sharifelgamal commented on #12440
I'll close this for the time being, feel free to reopen this issue if the issue persists.

[2022-03-02 19:48] #12440 closed

[2022-03-02 19:49] klaases commented on #13453
Hi @[ahmedas1980](https://github.com/ahmedas1980), is this an error with minikube?

[2022-03-02 19:50] sharifelgamal commented on #12566
Interesting, I wonder if this is an issue with specific versions of virtualbox. This doesn't really strike as a minikube-specific issue.

[2022-03-02 19:52] klaases commented on #13405
Hi @[omersalaj](https://github.com/omersalaj) are you still experiencing this issue?

[2022-03-02 19:53] klaases commented on #13285
Hi @[shankar524](https://github.com/shankar524), – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The ex

[2022-03-02 19:53] #13285 closed

[2022-03-02 19:54] klaases commented on #13219
Hi @robtayl0r – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube release

* The exact minikube start command line use

[2022-03-02 19:54] #13219 closed

[2022-03-02 19:55] klaases commented on #13084
Hi @[YoussefHmidiSesame](https://github.com/YoussefHmidiSesame) – is this issue still occurring? Are additional details available? If so, please feel free to re-open the issue by commenting with `/reopen`. This issue will be closed as additional information was unavailable and some time has passed.

Additional information that may be helpful:

* Whether the issue occurs with the latest minikube re

[2022-03-02 19:55] #13084 closed

[2022-03-02 21:00] dnguyenzd commented on #13492
@klaases no, I still haven't been able to make it work. I'm using virtualbox provider for now

[2022-03-02 21:45] jornh commented on #13293
Just a quick additional note here. Take it as sort of an experience report from a new user - on what would have helped me in the documentation.

The biggest Fear, Uncertainty and Doubt 😉  inducing part for for me on getting up to speed with Docker & WSL2 (with my preferred working environment being the shell in my WSL distro) was actually this:

* I didn't know that with Docker Desktop & WSL2 alre

[2022-03-03 00:34] jvinceller commented on #4206
I've tried all the solutions with a Mac M1 with Monterey and the x86 (Rosetta) execution mode and I couldn't get _minishift_ or _minikube_ working. It's always something at the network adapter. My Mac seems to have the leases at var/db/dhcpclient/leases and not under _/var/db/dhcp_leases_ anyway.

[2022-03-03 07:41] RA489 commented on #13743
@Rexar37 I don’t yet have a clear way to replicate this issue. Do you mind adding some additional details. Here is additional information that would be helpful:

* The exact minikube start command line used

* The full output of the minikube start command, preferably with --alsologtostderr -v=4 for extra logging.

* The full output of minikube logs

* The full output of kubectl get po -A

Thank yo

[2022-03-03 07:41] RA489 commented on #13743
/triage needs-information

[2022-03-03 07:43] RA489 commented on #13742
/kind support

[2022-03-03 07:44] RA489 commented on #13740
/addon ingress

[2022-03-03 07:44] RA489 commented on #13740
/kind support

[2022-03-03 07:46] RA489 commented on #13738
/kind support

[2022-03-03 07:49] RA489 commented on #13736
/kind support

[2022-03-03 07:49] RA489 commented on #13733
/kind support

[2022-03-03 08:53] omersalaj commented on #13405
@klaases I updated to Minikube v1.25.2 and the problem still exist to me. I can get pods and do the stuff but can not start dashboard. Same issue seems to appear here https://github.com/kubernetes/minikube/issues/13361

[2022-03-03 09:10] RA489 commented on #12686
/remove-lifecycle stale

[2022-03-03 13:36] floka94 commented on #13509
Same issue here :-(

[2022-03-03 17:34] sglickman commented on #5815
Also experiencing this. Running `minikube dashboard` results in the following output

[code]

It hangs for a while, and then produces this final line of output:
[code]

If I run `minikube dashboard` again it launches almost immediately.

[2022-03-03 22:55] #12789 closed

[2022-03-04 02:00] VergeDX commented on #5815
I got `Exiting due to SVC_URL_TIMEOUT: http://127.0.0.1:35673/api/v1/namespaces/kubernetes-dashboard/services/http:kubernetes-dashboard:/proxy/ is not accessible: Temporary Error: unexpected response code: 503` in last line, and `minikube dashboard` again still stuck there.

[2022-03-04 07:22] laundy commented on #12115
Until the fix is shipped, you can also use `kubectl port-forward service/<service-name> <local port>:<node port>` (see https://minikube.sigs.k8s.io/docs/start/ #4). This worked for me on Windows 10 with WSL2 and Docker driver.

[2022-03-04 07:29] SATVIk-7 opened #13745 "minikube is exiting due to an error"
### What Happened?

Well, i am trying to start minikube using "minikube start" command from my command prompt inside windows 10 and virtual box is my driver but not able to connect with my minikube.
Error:
X Failed to start virtualbox VM. "minikube start" may fix it.: provision: Temporary Error: error getting ip during provisioning: Could not find matching IP for MAC address 080027839767
*
* minik

[2022-03-04 07:38] aditya5573 commented on #8209
Hi Guys, I just tried to start  and I'm getting this error:
Command 'minikube' not found, did you mean:

  command 'minitube' from deb minitube (3.1-1build1)

Try: sudo apt install <deb name>

[2022-03-04 08:14] dddmityaMD commented on #9030
here are the workarounds
for service of type nodePort assigned to internal port of 8080 the command will be
**kubectl port-forward service/service_name 30000:8080**
for service of type loadBalancer the command will be
**minikube tunnel**

Please see https://minikube.sigs.k8s.io/docs/start/ -> 4Deploy applications for more information

[2022-03-04 09:07] minaelee opened #13746 "minikube service failing to tunnel in 1.25.2, workaround of kubectl port-forward service still works"
### What Happened?

I had minikube version 1.23.2. I could run **minikube service _servicename_** fine. I would get a table that looks like this:

<img width="657" alt="image" src="https://user-images.githubusercontent.com/4936954/156730939-e290c93a-17aa-4526-97cf-f469a22dba63.png">
My browser would automatically open to the 127.0.0.1 URL for the tunnel and everything worked great. This is using a

[2022-03-04 10:56] Remering opened #13747 "不能访问通过NodePort暴露的Nginx服务"
**重现问题所需的命令**：
[code]

**失败的命令的完整输出**：<details>
[code]

</details>

**`minikube logs`命令的输出**： <details>
[minikube.log](https://github.com/Remering/pastebins/blob/main/minikube.log)

</details>

**使用的操作系统版本**：
Microsoft Windows 10 Pro 10.0.19043 Build 19043

**备注**
我使用同一台电脑WSL版本的minikube没有遇到对应的问题

[2022-03-04 11:23] wxw-matt opened #13748 "minikube image build ."
### What Happened?

Hi,
minikube rise an error when I was executing this command:
`minikube image build .`.

### Attach the log file

$ minikube version
minikube version: v1.25.2
commit: 362d5fdc0a3dbee389b3d3f1034e8023e72bd3a7
$ minikube status
minikube
type: Control Plane
host: Running
kubelet: Running
apiserver: Running
kubeconfig: Configured

$ minikube image build .
error checking context: 'n

[2022-03-04 15:02] shu-ming opened #13749 "minikube tunnel doesn't work on mac"
### What Happened?

When I try to run `minikube tunnel`, I've got this error saying "couldn't find member in bridge100 interface......."
[code]

[code]

Configuration is as below:
[code]

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/8186748/log.txt)

### Operating System

macOS (Default)

### Driver

HyperKit

[2022-03-04 15:38] asaintsever commented on #13656
Hi @spowelljr

I noticed same kind of issue today as I was playing with the metrics server on minikube 1.25.2. I was puzzled first as I was sure I got metrics some month ago on previous minikube releases. So I searched here for known related issues and, luckily, stumbled on this one.
It happens that providing your extra param fixes the issue. I can see that the new default at cluster creation is '

[2022-03-04 19:33] medyagh commented on #13656
thank you @asaintsever for taking the time, this is an interesting discussion, the quesiton, would most users care about having a lower cpu usage or would they care most about having the metrics at more intervals?

the graphs shared in this issue shows that the metrics are not broken but they are exported at less interval.

I am open in this discussion and I have set mind, would u mind sharing exa

[2022-03-04 19:35] medyagh commented on #13656
alternatviely we could provide a new flag for these kind of optimizations so users do it optionally.

[2022-03-04 19:54] medyagh commented on #13736
sorry for this inconvenience, I am surprised our integration tests didn't catch this. does this happen only when --url is specified?

[2022-03-04 20:00] medyagh commented on #13736
maybe could be side effect of this PR
https://github.com/kubernetes/minikube/pull/13367

@ckannon mind taking a look ?

[2022-03-04 20:03] ckannon commented on #13736
/assign

[2022-03-04 20:08] medyagh commented on #13746
might be duplicate of https://github.com/kubernetes/minikube/issues/13736

[2022-03-05 03:04] shu-ming commented on #13749
After I upgrade to minikube latest version 1.25, this issue is gone

[2022-03-05 03:04] #13749 closed

[2022-03-05 04:34] byteshiva opened #13753 "Error: kube-apiserver [core] grpc: addrConn.createTransport failed to connect to 127.0.0.1:2379"
### What Happened?

Failed to connect/pull images from external images.
[code]

[code]

[code]

### Attach the log file

[log.txt](https://github.com/kubernetes/minikube/files/8189956/log.txt)

### Operating System

Other

### Driver

Docker

[2022-03-05 10:52] asaintsever commented on #13656
Thanks @medyagh

My experience is a bit different compared to the original issue and the graphs. As I said, I still get errors and no results from `kubectl get pod` even after waiting past the housekeeping interval. I did other tests with workloads running for more than a day and here again: no metrics but the `"Error from server (NotFound): podmetrics.metrics.k8s.io "<pod name>" not found"` messa

[2022-03-05 16:04] r0ushann commented on #13740
hey! I'm interested in this issue.

[2022-03-05 16:26] mtsgrd commented on #8771
Why is this closed? The documentation is clearly inaccurate and should be replaced with the explanation above.

[2022-03-06 04:07] RA489 commented on #13745
/kind support

[2022-03-06 04:07] RA489 commented on #13753
/kind support

[2022-03-06 09:35] preslavmihaylov commented on #11107
None of the image cited above worked for me so I created a small, similar image myself which aims to test getting deployed on minikube.

Here's how to use it:
[code]

Then, expose it on localhost & go to `http://localhost:3000`:
[code]

[2022-03-06 14:29] AkihiroSuda commented on #12460
/remove-lifecycle stale

PR https://github.com/kubernetes/minikube/pull/12901 is waiting for reviewing/merging

[2022-03-06 20:53] CC007 commented on #5666
I pivoted away from minikube due to this and a couple of other issues, like minikube not being accessible after a windows restart, without a minikube stop + start. This also seems to screw up the deployments for me. Switched to kubespray and never had any of these issues.

[2022-03-06 21:37] chiragch commented on #9130
Deleting minikube folder from the path mentioned in an error and then minikube restart solved my problem

[2022-03-07 03:20] PatrickGeyer commented on #9016
Wonder if there's a better fix than switching driver?

[2022-03-07 09:35] zhan9san commented on #13729
Hi @dazzzed

This issue can be reproduced in v1.25.2 on Ubuntu 21.04.

Here is a workaround.

Assume gateway IP is `172.18.0.1`.

Minikube will try to use `172.18.0.2`(gateway + 1), so if you start Minikube container first and then other containers in `nginxproxymanager_default `. The minikube contaienr will take `172.18.0.2` as its IP address

[2022-03-07 16:40] antoniopantaleo opened #13754 "Pods keeps restarting - CrashLoopBackOff on M1 MacBook Pro"
### What Happened?

I'm trying to run a simple deployment on my M1 MacBook Pro. I've the arm64 compiled binary of minikube.

After I run `minikube start`
[code]

My minikube status:
[code]

The deployment I want to start
[code]

The command I run
[code]

Pods start but immediately crash.
Am I forgetting something? Is the Apple Silicon the problem? Or is this the right behaviour since containers do

[2022-03-07 17:17] logopk opened #13755 "NGINX configmap/ingress-nginx-controller reset on every startup"
### What Happened?

My SSL Hardening settings are reset on every startup of minikube to
`hsts: "false"
`.

I have tried to add my personal addon to ~/.minikube/addons/ingress-deploy.yaml (16490 bytes).
the file is copied via ssh to the server, but upon deployment it is taken from "memory" (whatever that is) and reset to the tmpl-Version from the github repo https://github.com/kubernetes/minikube/b

[2022-03-07 20:47] chungjin commented on #12846
@medyagh Hi Medya, I found set `warnSlow` to true  https://github.com/kubernetes/minikube/blob/master/pkg/drivers/kic/oci/cli_runner.go#L106 will help to resolve it, but I am not sure, blindly enable `warnSlow` to true  to all commands will be a good advice or not...

Have we made up a decision how to resolve it?

[2022-03-07 20:52] chungjin commented on #12846
To minimize the impact, I suggest, if we encounter any timeout, just remind user, they can turn on the `stderr` via the flag `--alsologtostderr` , i think it will be good enough.

[2022-03-07 21:16] Axel15007256 commented on #9130
C:\WINDOWS\system32>minikube start -- vm-driver-virtualbox
* minikube v1.25.2 on Microsoft Windows 10 Home Single Language 10.0.19044 Build 19044
* Automatically selected the virtualbox driver
* Downloading VM boot image ...

* Starting control plane node minikube in cluster minikube
* Downloading Kubernetes v1.23.3 preload ...

* Creating virtualbox VM (CPUs=2, Memory=4000MB, Disk=20000MB) ...
*

[2022-03-08 00:17] pivotaljohn commented on #12566
My best understanding is that this is a "how minikube _uses_ virtualbox" kinda thing.

[2022-03-08 03:08] RA489 commented on #13755
/kind support

[2022-03-08 04:06] Jonaz1982 commented on #4051
$ minikube start --vm-driver kvm2
* minikube v1.25.2 en Microsoft Windows 10 Pro 10.0.19044 Build 19044
* Using the virtualbox driver based on existing profile
* Starting control plane node minikube in cluster minikube
* Creando virtualbox VM (CPUs=2, Memory=6000MB, Disk=20000MB) ...
! StartHost failed, but will try again: creating host: create: precreate: This c
omputer is running Hyper-V. Virtua

[2022-03-08 05:37] michaelschem commented on #11253
I'm experiencing similar results although based off of the PR it seems like I'm supposed to set `EmbedCerts` instead of `embed-certs`.  Neither work for me. `minikube start --embed-certs` does though.

[2022-03-08 05:59] shengzhou1216 commented on #7674
Still the same issue.

**groups**
[code]
**stat /var/run/docker.sock**
[code]

**docker run hello-world**
[code]

error info:
[code]

[2022-03-08 06:18] shengzhou1216 opened #13757 "minikube start failed: libmachine: Error dialing TCP: dial tcp 127.0.0.1:xxxxx: connect: connection refused"
### What Happened?

[minikube_logs_021b1e9871499dd95dc02ebb07d2502c6453595b_0.log](https://github.com/kubernetes/minikube/files/8203234/minikube_logs_021b1e9871499dd95dc02ebb07d2502c6453595b_0.log)

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8203216/logs.txt)

### Operating System

Ubuntu
[code]

### Driver

Docker
[code]

### used command
[code]

### logged u

[2022-03-08 09:19] teja463 commented on #9798
Same issue running minikube on Windows 10 with hyperv driver. Below is the Warning I got on starting of the cluster
`
PS C:\WINDOWS\system32> minikube start
minikube v1.25.2 on Microsoft Windows 10 Enterprise 10.0.19042 Build 19042
Using the hyperv driver based on existing profile
Starting control plane node minikube in cluster minikube
Updating the running hyperv "minikube" VM ...
This VM is havi

[2022-03-08 09:25] hjy93 opened #13758 "pod in minikube doesn't use local image in windows wsl"
### What Happened?

Environment declaration:
minikube installed in wsl ubuntu. version: 1.25.2
docker via docker desktop.

I deploy a pod use self-build docker image.
set imagePullPolicy to never or ifnotpresent.

`docker image ` command on wsl show the exist local image. the pod was expected to use the local image.
but container in minikube cannot start because of imagePullBackOff error.

I have

[2022-03-08 10:25] hjy93 commented on #13758
solved after I start default minikube cluster and do image loading. then image loaded into minikube.
Is this true that `minikube image load` can only  load into default minikube cluster rather than the  current running cluster

[2022-03-08 10:43] TiBeN commented on #13593
Same issue for me on Arch after upgrading to minikube 1.25.2-1 through package manager.

[2022-03-08 13:00] TiBeN commented on #13593
I solved the problem by purging my minikube completelly, which is pretty annoying:

     $ minikube delete --all --purge

[2022-03-08 14:40] ashwinhs commented on #13314
@afbjorklund I can add additional details for windows. I will submit a PR for this.

/assign

[2022-03-08 14:41] ashwinhs commented on #13314
/assign

[2022-03-09 02:13] fabulias opened #13761 "minikube can't start on mac m1"
### What Happened?

I have been using `minikube` for a long time, but in the last two weeks I'm receiving some errors when I've tried to start a cluster, the logs are not clear to me.

I'm using a macOS with an M1 processor.

I ran the following command (I've used this command a lot of times):

[code]

### Attach the log file

[logs.txt](https://github.com/kubernetes/minikube/files/8211049/logs.tx

[2022-03-09 02:35] RA489 commented on #13761
/kind support

[2022-03-09 02:36] RA489 commented on #13757
/kind support
/os/wsl-windows

[2022-03-09 02:37] RA489 commented on #13758
/kind support

[2022-03-09 06:39] sharmavishalvk commented on #12686
I will work on this and submit a PR later

[2022-03-09 06:54] mirarifhasan commented on #7903
Another way I found form [Docker forums](https://forums.docker.com/t/exiting-due-to-drv-as-root-the-docker-driver-should-not-be-used-with-root-privileges/113328/2)

Just run the following CMD:
`minikube start --force --driver=docker`

This worked for me.

[2022-03-09 08:30] vladnicula commented on #13207
I struggled for 2-3 hours today with the same issue. Would it be possible to at least add a warning sign in the docs so others like us don't waste their time until this is sorted out?

[2022-03-09 09:46] zhan9san commented on #13729
Hi team,

I just comment [the static IP code](https://github.com/kubernetes/minikube/blob/e78c26ff370c1717b1384fabd8061b0366e607d6/pkg/drivers/kic/oci/oci.go#L187) and compile a new minikube binary. It works well.

Do you have concerns if static IP is removed?
If no, I'd like to continue working on this feature.

Does static Minikube container IP have any scenarios?

How to test

1. Create a test

[2022-03-09 19:00] ckannon commented on #13746
/assign

[2022-03-09 19:11] #13761 closed

[2022-03-09 23:08] #13075 closed

[2022-03-09 23:08] #13736 closed

[2022-03-09 23:08] #13746 closed

[2022-03-09 23:08] medyagh commented on #13736
here is the link to the binary from a PR that I think might fix this issue, do you mind trying it out ?

https://storage.googleapis.com/minikube-builds/13756/minikube-linux-amd64
https://storage.googleapis.com/minikube-builds/13756/minikube-darwin-amd64
https://storage.googleapis.com/minikube-builds/13756/minikube-windows-amd64.exe

[2022-03-09 23:08] medyagh commented on #13746
here is the link to the binary from a PR that I think might fix this issue, do you mind trying it out ?

https://storage.googleapis.com/minikube-builds/13756/minikube-linux-amd64
https://storage.googleapis.com/minikube-builds/13756/minikube-darwin-amd64
https://storage.googleapis.com/minikube-builds/13756/minikube-windows-amd64.exe

[2022-03-09 23:09] medyagh commented on #13075
here is the link to the binary from a PR that I think might fix this issue, do you mind trying it out ?

https://storage.googleapis.com/minikube-builds/13756/minikube-linux-amd64
https://storage.googleapis.com/minikube-builds/13756/minikube-darwin-amd64
https://storage.googleapis.com/minikube-builds/13756/minikube-windows-amd64.exe

[2022-03-10 01:03] chungjin commented on #13475
/assign

[2022-03-10 03:23] RA489 commented on #12968
/remove-lifecycle stale

[2022-03-10 04:17] minikube-bot opened #13765 "Frequent test failures of `TestFunctional/parallel/ServiceCmdConnect`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[QEMU_macOS](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=QEMU_macOS&test=TestFunctional/parallel/ServiceCmdConnect)|100.00|

[2022-03-10 08:52] zhan9san commented on #12315
Hi @presztak @rstaylor @davewongillies @TekTimmy

As `minikube` runs inside docker, how about creating a network directly from docker side and run minikube under that created network?

1. Create a docker bridge network

[code]

2. Start `minikube` under the network created in step 1

[code]

3. Verify the minikube ip

[code]

BTW, if you have you have issue in #13729, this PR, #13766 may fix it.

[2022-03-10 13:23] Airblader commented on #13511
We are running into the same issue, it seems. In our case we are trying to use this for a local development setup where the image is built and then pushed into minikube. Due to the still running deployment, that seems to silently just not work – same thing here: if I scale the Deployment to 0, rm the image, load it again, and scale it back up, everything appears to work.

I would expect that runni

[2022-03-10 21:14] gautambaghel commented on #3647
+1

[2022-03-10 23:29] Jonnymcc commented on #10085
After trying the code to export the host in the comment by @kty1965 I got the istio book info demo to work. I'm not sure if there is a problem with minikube or it is istio's docs. I was thrown off [here](https://istio.io/latest/docs/tasks/traffic-management/ingress/ingress-control/#tabset-docs-tasks-traffic-management-ingress-ingress-control-1) when it says if the external-ip is pending that you s

[2022-03-11 01:00] fsantoyo01 opened #13767 "Error loading existing host."
### What Happened?

Hello There

my kuberbetes minikube server was working perfectly fine until yesterday.  Today, I tried to started it up by entering

Enable-WindowsOptionalFeature -Online -FeatureName Microsoft-Hyper-V -All
minikube start --driver=hyperv

After this I got the following error:

* minikube v1.25.2 en Microsoft Windows 10 Enterprise 10.0.19043 Build 19043
* Using the hyperv driver

[2022-03-11 13:34] flc666star opened #13768 "Fallback to using tag is SHA256 is not present"
### What Happened?

I want to start minikube offline in one machine which can only be visited within the enterprise network，I took steps as following:
step1: I started minikube in A machine online with command like this：
minikube start --driver=docker --registry-mirror=http://vppbudzy.mirror.aliyun.com --image-repository=registry.cn-hangzhou.aliyuncs.com/google_containers --alsologtostderr -v=1 --

[2022-03-11 14:28] amiros2018 opened #13769 "Error while starting minikube cluster"
$sudo minikube start --vm-driver=none
Error:
\U0001f604  minikube v1.2.0 on linux (amd64)
\U0001f4a1  Tip: Use 'minikube start -p <name>' to create a new cluster, or 'minikube delete' to delete this one.
\U0001f504  Restarting existing none VM for "minikube" ...
\u231b  Waiting for SSH access ...
\U0001f433  Configuring environment for Kubernetes v1.15.0 on Docker 19.03.6
    \u25aa kubelet.resolv

[2022-03-11 19:44] rupokify commented on #4012
Try stopping the dnsmasq service first as suggested here: https://github.com/kubernetes/minikube/issues/4594#issuecomment-511116406

This worked for me.

[2022-03-11 20:28] #12674 closed

[2022-03-12 04:07] zhan9san commented on #13768
Hi @flc666star

Based on the log attached, it seems there was a connection issue to `registry.cn-hangzhou.aliyuncs.com`.

Could you please explain the network topology in details, especially `offline` and `online`?

I am glad to help you on this issue, but I did not fully understand why you copied `.minikube` directory.

[2022-03-12 04:14] zhan9san commented on #13504
Hi @wer8956741

是不是`docker`没有启动呢？
如果`minikube`的driver是`docker`，需要先启动`docker`,再启动`minikube`

[2022-03-12 12:17] #13693 closed

[2022-03-12 12:17] #13695 closed

[2022-03-12 13:41] sahilrajput03 commented on #828
@robinhood018 Your suggestion worked!

[2022-03-12 20:47] aleksandrasd opened #13772 "how to unset --extra-config ?"
### What Happened?

I once run `minikube` (on WSL2) with parameter `--extra-config kubelet.EnableCustomMetrics=true`:
[code]
This parameter is outdated I would not use it. But  from now on whenever I run minikube, this parameter get assigned automatically
[code]

To fix this issue I set up `kubelet.cgroup-driver=systemd` and I no longer see the error. But a different error has appeared:
[code]
I n

[2022-03-13 00:29] prezha opened #13773 "list all currently supported Kubernetes versions"
### What Happened?

users requested the ability to list all supported Kubernetes versions by their minikube, as per https://minikube.sigs.k8s.io/docs/, it should be the _latest Kubernetes release (+6 previous minor versions)_

ref: https://github.com/kubernetes/minikube/issues/1201, https://github.com/kubernetes/minikube/issues/4121

### Attach the log file

n/a

### Operating System

_No response

[2022-03-13 00:32] ilanni2460 commented on #13773
i have same issue @prezha +1

[2022-03-13 00:37] kkume1 opened #13774 "[error] minikube addons enable ingress"
**問題を再現するための手順:**

1./usr/local/bin/minikube config set insecure-registry 172.17.0.1:5000 # 172.17.0.1 is IF docker0 ip address
2. /usr/local/bin/minikube start --vm-driver=none
3./usr/local/bin/minikube addons enable ingress

**`minikube logs --file=logs.txt` を実行して、このissueにログファイルをドラッグ&ドロップしてください**

**`minikube start` ではない場合は、失敗したコマンドの全出力:**
<details>

</details>
[minikube_addons_45077b31bce26a569

[2022-03-13 00:38] kkume1 commented on #13774
[logs.txt](https://github.com/kubernetes/minikube/files/8238763/logs.txt)

[2022-03-13 00:57] flc666star commented on #13768
Thanks a lot for your help. Sorry, I didn't describe the issue clearly the day before yesterday. Here, the word offline means that the machine is not connected to the Internet, so it can't pull images from other outer registries. And ther word online means that the machine is connected to the Internet.
In my experiment，machine A is connected to the Internet, I started minikube in machine A success

[2022-03-13 01:17] prezha opened #13776 "use Kubernetes release versions' tags insted of just release tags"
### What Happened?

up to this minikube v1.25.2 we used Kubernetes release tags directly (that do not necessarily have to become actual _released versions_) to determine the newest Kubernetes stable, latest and edge versions and we should use respective Kubernetes release versions' tags instead

refs:
- https://github.com/kubernetes/minikube/blob/362d5fdc0a3dbee389b3d3f1034e8023e72bd3a7/pkg/miniku

[2022-03-13 06:26] Cinorid opened #13778 "مشکل در ایجاد کلید برای تایم زون های مثبت"
به نظر میرسد که Certificate ایجاد شده و تاریخ و تایم زون ماشین مجازی با هم مطابقت ندارند و خطای معتبور نبودن Certificate  را میدهد.
Timezone: +4:30

**کامندی که مشکل را به وجود می آورد**:
1. minikube start --driver vmware
2. minikube stop
3. minikube start

**خروجی کامل کامند مورد مشکل:**:
<details>
minikube start
😄  minikube v1.25.2 on Microsoft Windows 10 Enterprise 10.0.19043 Build 19043
✨  Usi

[2022-03-13 06:30] Cinorid opened #13779 "problem with certificate generation on positive timezone inside VM"
### What Happened?

1. `minikube start --driver vmware`
2. `minikube stop`
3. `minikube start`

After running above commands one by one, this error happens. (TimeZone: +4:30)
### related error:
`error execution phase certs/front-proxy-client: [certs] certificate front-proxy-client not signed by CA certificate front-proxy-ca: x509: certificate has expired or is not yet valid: current time 2022-03-1

[2022-03-13 10:41] ProbStub commented on #11885
@spowelljr @sharifelgamal I totally love my M1 but my love for Docker is much more limited and I see the issue remains unassigned. Is there a recommended best practice as a workaround while this is being worked on, e.g. using podman?

[2022-03-13 11:17] minikube-bot opened #13780 "Frequent test failures of `TestStartStop/group/disable-driver-mounts`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Hyper-V_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Hyper-V_Windows&test=TestStartStop/group/disable-driver-mounts)|100.00|

[2022-03-13 11:57] afbjorklund commented on #11885
You can use lima, as a workaround.

[2022-03-13 14:27] codemonstur commented on #9130
I had this issue. Reinstalling minikube with administrator rights solved it.

[2022-03-13 18:52] tonyrizzotto commented on #13740
@jak42 I think we're having the same issue. Just curious, are you able to access your app on a NodePort service? I believe this issue is related to the Minikube Ingress not installing on Linux. To confirm, I'd suggest deleting your minikube cluster with `minikube delete --purge --all` and run `minikube start --addons=ingress --alsologtostderr` and see in the ingress installation hangs. You'll noti

[2022-03-13 21:05] onahkenneth commented on #7444
@purohit14
You solution still works. Thank you

[2022-03-14 02:01] AkihiroSuda commented on #12456
/remove-lifecycle stale

[2022-03-14 02:10] RA489 commented on #13779
/ev certificate-errors

[2022-03-14 02:11] RA489 commented on #13779
/ev/certificate-errors

[2022-03-14 02:12] RA489 commented on #13779
/area/provider/vmware

[2022-03-14 02:13] RA489 commented on #13779
/area /provider/vmware

[2022-03-14 02:13] RA489 commented on #13779
/area provider/vmware

[2022-03-14 02:15] RA489 commented on #13774
/addon ingress

[2022-03-14 02:17] RA489 commented on #13774
/co none-driver

[2022-03-14 02:17] RA489 commented on #13774
/kind support

[2022-03-14 02:18] RA489 commented on #13772
/kind support

[2022-03-14 02:22] RA489 commented on #13769
/co /none-driver

[2022-03-14 02:23] RA489 commented on #13769
/kind support

[2022-03-14 02:25] RA489 commented on #13767
/kind support

[2022-03-14 04:01] dellraja commented on #7344
@b4ruch I am facing the same issue, could you please tell me how did you fix the issue? what is the problem with wsl.exe
@abhimjoshi

[2022-03-14 11:01] zhan9san commented on #13768
## Two Minikube bugs

1. Digest is lost when we load image from tar file but Minikube would try to start container from sha256 digest, so the container `kicbase` would not start.

How to work around it
We can pass `--base-image` to `minikube start`
[code]

2. The aliyuncs image layout is different from `gcr.io` image layout.

The image layout issue could be fixed by #13782.

## How to start Miniku

[2022-03-14 23:48] klaases commented on #11315
Note: according to `minikube addons list` the addon is now named "auto-pause".

[2022-03-15 00:31] purejgleason commented on #13736
Sorry just saw this what would you like me to do @medyagh ?

[2022-03-15 00:32] purejgleason commented on #13736
NM I get it I will try this out tomorrow sorry it took me so long to respond

[2022-03-15 00:33] purejgleason commented on #13736
Is it available as a branch?

[2022-03-15 00:42] purejgleason commented on #13736
LGTM but I would like to compile from source. I'll try that tomorrow.

[2022-03-15 01:19] #12761 closed

[2022-03-15 02:08] purejgleason commented on #13736
Built from source and everything looks to be working thank you.

[2022-03-15 02:30] flc666star commented on #13768
Thank you very much.

Your suggestion proved to be right, and I solved the question successfully.

[2022-03-15 07:09] MouMouHsu commented on #13435
I'm experiencing same problem

[2022-03-15 09:45] rajeshkodali opened #13786 "Kubelet not running readiness probe on termating pods"
### What Happened?

Here is the Dockerfile
[code]
Here is readiness.sh
[code]
And minikube start --driver=virtualbox --kubernetes-version=v1.23.3

Here is the deployment file:
[code]

This config works fine all terminating will go 0/1 before getting deleted in Docker desktop but on minikube only 1 or 2 pods go to 0/1 and then terminate after 20-30 seconds. I have checked the binary on the VM and t

[2022-03-15 17:42] alexkim-avant opened #13788 "services running on minikube cluster are inaccessible"
### What Happened?

Hello,

I am running into an issue where after deploying my kubernetes application and service to the minikube cluster, I cannot access them through the command `minikube service <service-name>`.

Versions:
Docker client 20.10.13
Docker Desktop 4.6.0
minikube v1.25.2
skaffold v1.36.1
macOS Catalina v10.15.7

Steps:
Run `minikube start --driver=docker --kubernetes-version=v1.21.

[2022-03-16 01:32] zhan9san opened #13795 "the ingress addon is currently not supported on docker driver on MacOs. this is due the limitation on docker bridge on mac."
the ingress addon is currently not supported on docker driver on MacOs. this is due the limitation on docker bridge on mac.
there is a work arround that we have implemented for the core minikube tasks such as tunnel and service.

we could add same work arround for addon ingress on docker driver on mac and windows.
that said I will mark this as a bug to fix.

sorry that you faced this issue, the LE

[2022-03-16 01:32] #13795 closed

[2022-03-16 01:34] zhan9san commented on #13788
Hi @alexkim-avant

It seems both UI and document need to be improved. I am glad to work on it.

The bridge network in mac is different from in Linux, https://github.com/kubernetes/minikube/issues/7332#issuecomment-608133325

Here is a workaround for your case

The tunnel is created between your Mac and Cluster IP instead of Node IP.

1. Get the service cluster IP

    It's `10.101.93.174`.

[code]

[2022-03-16 04:02] RA489 commented on #12701
/remove-lifecycle stale

[2022-03-16 04:25] RA489 commented on #13786
/kind support

[2022-03-16 04:41] AkihiroSuda commented on #13534
This seems a recent regression, but `--container-runtime=crio` still works for me.

[2022-03-16 04:51] AkihiroSuda commented on #13534
/kind bug
/assign me

[2022-03-16 04:52] AkihiroSuda commented on #13534
@afbjorklund Could you assign me? `/assign me` didn't work ↑

[2022-03-16 05:02] ashok-arora commented on #13176
/remove-lifecycle stale

[2022-03-16 05:31] crimson-gao opened #13796 "[Bug] failure on starting minikube, error msg: "Unable to add host alias: hosts update""
### What Happened?

Run cmd `minikube start`
error occured:
[code]

I tried to figure out what happened, and found some code here which throws this error msg.
It seems that the command `/bin/bash -c "{ grep -v $'\tcontrol-plane.minikube.internal$' "/etc/hosts";  echo "192.168.49.2   control-plane.minikube.internal"; } > /tmp/h.$$; sudo cp /tmp/h.$$ "/etc/hosts"" `  ,  has too many double quotes.
[

[2022-03-16 05:39] RA489 commented on #13534
/assign @AkihiroSuda

[2022-03-16 09:17] minikube-bot opened #13797 "Frequent test failures of `TestStartStop/group/newest-cni/serial/EnableAddonWhileActive`"
This test has high flake rates for the following environments:

|Environment|Flake Rate (%)|
|---|---|
|[Docker_Windows](https://gopogh-server-tts3vkcpgq-uc.a.run.app/?env=Docker_Windows&test=TestStartStop/group/newest-cni/serial/EnableAddonWhileActive)|100.00|

[2022-03-16 10:41] ololobus commented on #10079
@klaases please, reopen once you have time.

[2022-03-16 15:15] MacFlurry opened #13798 "MK_CONFIG_SET"
Hello,

I'm on Apple M1 MacBook Pro.
I know that Hyperkit is not supported for Apple M1.

with Rosetta, I installed the intel version hyperkit for arch x86_64 with Rosetta.
so how to bypass or disable the
[code]

Also, how to disable checking `DRV_UNSUPPORTED_OS` ,
in order to test Minikube with Hyperkit Rosettated ?

Thanks

[2022-03-16 15:47] kamalkech opened #13799 "Helm"
### What Happened?

archlinux : before working good but i re-install chart get this error

Error: INSTALLATION FAILED: Internal error occurred: failed calling webhook "validate.nginx.ingress.kubernetes.io": failed to call webhook: Post "https://ingress-nginx-controller-admission.ingress-nginx.svc:443/networking/v1/ingresses?timeout=10s": dial tcp 10.98.181.48:443: connect: connection refused

###

[2022-03-16 16:06] alexkim-avant commented on #13788
Hi @zhan9san,

Thanks for the response. A few follow up questions:

1. Does the service type need to be NodePort if we're tunneling to the ClusterIP?
2. Do I still need to run `minikube service <service-name>` to connect to the service?

[2022-03-16 16:33] zhan9san commented on #13788
Technically, no need.

I think it is a bug. IMHO, if the service type is NodePort, the tunnel port should be `.spec.nodePort`, but currently, the tunnel port is `.spec.targetPort`. I'll try to fix it later, if it is verified.

Keep in mind, [publishing-services-service-types](https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types)

Yes. As I mentioned be

[2022-03-16 16:50] zhan9san commented on #13788
I just noticed the output issue has been fixed in codebase.

[code]

[2022-03-16 17:04] afbjorklund commented on #13798
Hyperkit is not supported with Rosetta

[2022-03-16 17:10] MacFlurry commented on #13798
so is there no other way to run Minikube on M1 ?

[2022-03-16 17:20] MacFlurry commented on #13798
I can live with those workaround.
I'll keep an eye on porting minikube on M1.

Is there a way to be notified on the porting to M1 announcement ?

Thanks

[2022-03-16 17:20] MacFlurry commented on #13798
I can live with those workaround.
I'll keep an eye on porting minikube on M1.

Is there a way to be notified on the porting to M1 announcement ?

Thanks

[2022-03-16 18:07] spowelljr commented on #13594
Hi @ugyen1998, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-03-16 18:07] #13594 closed

[2022-03-16 18:08] spowelljr commented on #13568
Hi @zarifeyeman, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-03-16 18:08] #13568 closed

[2022-03-16 18:09] spowelljr commented on #13494
Hi @mondayEast, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

-----

嗨@mondayEast，我们还没有收到你的回复，你还有这个问题吗？
此问题中没有足够的信息使其可操作，并

[2022-03-16 18:09] #13494 closed

[2022-03-16 18:10] spowelljr commented on #13743
Hi @Rexar37, we haven't heard back from you, do you still have this issue?
There isn't enough information in this issue to make it actionable, and a long enough duration has passed, so this issue is likely difficult to replicate.

I will close this issue for now but feel free to reopen when you feel ready to provide more information.

[2022-03-16 18:10] #13743 closed, assigned to nobody

[2022-03-16 18:11] spowelljr commented on #13629
Hi @ErKriti, haven't heard back from you for a while so I'm going to close this issue. But if you have further questions feel free to respond and reopen this issue, thanks!

[2022-03-16 18:11] #13629 closed

[2022-03-16 18:11] medyagh commented on #13656
given this is affecting some of the standard uses of Kubernetes, I purpose we revert this optimization and make it optiional

[2022-03-16 18:12] klaases commented on #13432
Hi @MdSahil-oss, please see @spowelljr's comments on PR #13513 before we can  merge.

[2022-03-16 18:19] #13406 closed

[2022-03-16 18:21] klaases commented on #13549
Hi @[draksha22](https://github.com/draksha22), are you still actively working on this issue?

[2022-03-16 18:21] sharifelgamal commented on #12698
This doesn't seem to be strictly related to minikube, as it's a portainer VM created by hyperkit. While I'm no hyperkit expert, I feel like there has to be a way to wipe all VMs from a machine.

For the record, minikube has a portainer addon that should work as well.

[2022-03-16 18:23] afbjorklund commented on #13798
Just the GitHub issues involved, and the Slack channel

It will get featured in the release notes and on KubeCon

[2022-03-16 18:28] sharifelgamal commented on #13505
What OS/driver combo are you using? I'm sure you do realize that minikube v1.2.0 is quite old (3 years old, in fact), so it's going to be difficult to help debug.

[2022-03-16 18:31] spowelljr commented on #13569
Hi @karegoie, thanks for reporting your issue with minikube!

Is the output of `error.txt` from `minikube dashboard`? And is that the command you're having difficulty with? Or there other things as well?

[2022-03-16 18:32] klaases commented on #13537
Hi @abdekwant, is there a specific reason for using `--driver=none`?

Using `--driver=none`:
- Would generally need to be run as root.
- Would be running minikube on bare metal.

It is not advised to use `--driver=none`, would you be able to try with the default driver?